Repository project-chip/connectedhomeip, changes with the owners that .github/CODEOWNERS names for each.
All owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @mspang, @pan-apple, @emargolis, @andy31415, @yufengwangca, @kghost, @bzbarksy-apple, @bzbarsky-apple, @gjc13, @damian-nordic, @erjiaqing, @shana-apple, @yunhanw-google, @vivien-apple, @erjianqing, @mrjerryjohns, @jrhees-cae, @rgoliver, @austinh0, @bukepo, @kpschoedel

Update src/lib/support/StringCircularBuffer.cpp
  src/lib/support/StringCircularBuffer.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Update src/lib/support/StringCircularBuffer.cpp
  src/lib/support/StringCircularBuffer.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Resolve comments
  src/lib/support/BUILD.gn
  src/lib/support/BytesCircularBuffer.cpp
  src/lib/support/BytesCircularBuffer.h
  src/lib/support/StringCircularBuffer.h
  src/lib/support/tests/BUILD.gn
  src/lib/support/tests/TestBytesCircularBuffer.cpp
Owners: @mspang, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Resolve comments
  src/lib/support/BytesCircularBuffer.cpp
  src/lib/support/tests/TestBytesCircularBuffer.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Add a string circular buffer.
  src/lib/support/BUILD.gn
  src/lib/support/StringCircularBuffer.cpp
  src/lib/support/StringCircularBuffer.h
  src/lib/support/tests/BUILD.gn
  src/lib/support/tests/TestStringCircularBuffer.cpp
Owners: @mspang, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Restyled by clang-format
  src/lib/support/BytesCircularBuffer.cpp
  src/lib/support/BytesCircularBuffer.h
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Implement User Directed Commissioning - Phase 1 (#8034)
  examples/minimal-mdns/server.cpp
  src/app/server/Mdns.cpp
  src/app/server/Mdns.h
  src/controller/python/ChipDeviceController-ScriptBinding.cpp
  src/lib/mdns/Advertiser.h
  src/lib/mdns/Advertiser_ImplMinimalMdns.cpp
  src/lib/mdns/Advertiser_ImplNone.cpp
  src/lib/mdns/Discovery_ImplPlatform.cpp
  src/lib/mdns/Discovery_ImplPlatform.h
  src/lib/mdns/Resolver.h
  src/lib/mdns/Resolver_ImplMinimalMdns.cpp
  src/lib/mdns/ServiceNaming.cpp
  src/lib/mdns/ServiceNaming.h
  src/lib/mdns/tests/TestServiceNaming.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @yunhanw-google, @bzbarsky-apple, @mrjerryjohns, @andy31415, @erjianqing, @gjc13, @damian-nordic

Updated CHIP Certs Implementation to Use Spans instaed of Pointer/Len Pairs. (#7599)
  src/controller/CHIPDeviceController.cpp
  src/credentials/CHIPCert.cpp
  src/credentials/CHIPCert.h
  src/credentials/CHIPCertFromX509.cpp
  src/credentials/CHIPCertToX509.cpp
  src/credentials/CHIPOperationalCredentials.cpp
  src/credentials/CHIPOperationalCredentials.h
  src/credentials/tests/CHIPCert_test_vectors.cpp
  src/credentials/tests/CHIPCert_test_vectors.h
  src/credentials/tests/TestChipCert.cpp
  src/credentials/tests/TestChipOperationalCredentials.cpp
  src/crypto/tests/CHIPCryptoPALTest.cpp
  src/lib/support/Span.h
  src/protocols/secure_channel/CASESession.cpp
  src/protocols/secure_channel/CASESession.h
  src/protocols/secure_channel/tests/TestCASESession.cpp
  src/tools/chip-cert/CertUtils.cpp
  src/tools/chip-cert/Cmd_GenCert.cpp
  src/tools/chip-cert/Cmd_PrintCert.cpp
  src/tools/chip-cert/Cmd_ValidateCert.cpp
  src/tools/chip-cert/chip-cert.h
  src/transport/AdminPairingTable.cpp
Owners: @shana-apple, @pan-apple, @emargolis, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

[python] Add static_assert to CommandStatus
  src/controller/python/chip/interaction_model/Delegate.h
Owners: @andy31415, @erjianqing

moved xml file to proper folder
  src/app/zap-templates/zcl/data-model/chip/pressure-measurement-cluster.xml
Owners: @vivien-apple, @erjianqing

adding dropped ranges (again)
  src/app/zap-templates/zcl/data-model/chip/pressure-measurement-cluster.xml
Owners: @vivien-apple, @erjianqing

Add GenerateEventPathList and test
  src/app/EventPathParams.h
  src/app/ReadClient.cpp
  src/app/ReadClient.h
  src/app/tests/TestReadInteraction.cpp
  src/app/tests/integration/MockEvents.cpp
  src/app/tests/integration/MockEvents.h
  src/app/tests/integration/chip_im_initiator.cpp
  src/app/tests/integration/chip_im_responder.cpp
  src/app/tests/integration/common.h
Owners: @yunhanw-google, @bzbarsky-apple, @mrjerryjohns

Change EndpointId to uint16 in Python delegate
  src/controller/python/chip/interaction_model/Delegate.h
  src/controller/python/chip/interaction_model/delegate.py
Owners: @andy31415, @erjianqing

Fix findIndexFromEndpoint
  src/app/util/attribute-storage.cpp
Owners: @yunhanw-google, @bzbarsky-apple, @mrjerryjohns

Update src/lib/support/StringCircularBuffer.cpp
  src/lib/support/StringCircularBuffer.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Update src/lib/support/StringCircularBuffer.cpp
  src/lib/support/StringCircularBuffer.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Resolve comments
  src/lib/support/BytesCircularBuffer.cpp
  src/lib/support/tests/TestBytesCircularBuffer.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Update src/lib/support/StringCircularBuffer.cpp
  src/lib/support/StringCircularBuffer.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Resolve comments
  src/lib/support/BUILD.gn
  src/lib/support/BytesCircularBuffer.cpp
  src/lib/support/BytesCircularBuffer.h
  src/lib/support/StringCircularBuffer.h
  src/lib/support/tests/BUILD.gn
  src/lib/support/tests/TestBytesCircularBuffer.cpp
Owners: @mspang, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Add a string circular buffer.
  src/lib/support/BUILD.gn
  src/lib/support/StringCircularBuffer.cpp
  src/lib/support/StringCircularBuffer.h
  src/lib/support/tests/BUILD.gn
  src/lib/support/tests/TestStringCircularBuffer.cpp
Owners: @mspang, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Resolve comments
  src/lib/support/BytesCircularBuffer.cpp
  src/lib/support/BytesCircularBuffer.h
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Resolve comments
  src/lib/support/BytesCircularBuffer.cpp
  src/lib/support/tests/TestBytesCircularBuffer.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Introduced Separate Constant for Certificate Decode Buffer Length.
  src/credentials/CHIPCert.h
  src/credentials/tests/TestChipCert.cpp
  src/credentials/tests/TestChipOperationalCredentials.cpp
  src/protocols/secure_channel/CASESession.cpp
  src/protocols/secure_channel/tests/TestCASESession.cpp
  src/tools/chip-cert/Cmd_PrintCert.cpp
  src/tools/chip-cert/Cmd_ValidateCert.cpp
Owners: @pan-apple, @emargolis

Add lighting example for Mbed OS
  .github/workflows/examples-mbed.yaml
  .vscode/launch.json
  .vscode/tasks.json
  examples/lighting-app/mbed/.gitignore
  examples/lighting-app/mbed/CMakeLists.txt
  examples/lighting-app/mbed/config.in
  examples/lighting-app/mbed/main/AppTask.cpp
  examples/lighting-app/mbed/main/LightingManager.cpp
  examples/lighting-app/mbed/main/ZclCallbacks.cpp
  examples/lighting-app/mbed/main/include/AppEvent.h
  examples/lighting-app/mbed/main/include/AppTask.h
  examples/lighting-app/mbed/main/include/CHIPProjectConfig.h
  examples/lighting-app/mbed/main/include/LightingManager.h
  examples/lighting-app/mbed/main/main.cpp
  examples/lighting-app/mbed/mbed-os.lib
  examples/lighting-app/mbed/mbed_app.json
  examples/lighting-app/mbed/wifi-ism43362.lib
  scripts/examples/mbed_example.sh
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Add more static_asserts
  src/controller/python/chip/interaction_model/Delegate.h
  src/controller/python/chip/interaction_model/delegate.py
Owners: @andy31415, @erjianqing

Deprecated ASN1Writer::Finalize() Method.
  src/credentials/CHIPCert.cpp
  src/credentials/CHIPCertToX509.cpp
  src/credentials/GenerateChipX509Cert.cpp
  src/lib/asn1/ASN1.h
  src/lib/asn1/ASN1Writer.cpp
  src/lib/asn1/tests/TestASN1.cpp
Owners: @pan-apple, @emargolis, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

added default values
  src/app/zap-templates/zcl/data-model/chip/pressure-measurement-cluster.xml
Owners: @vivien-apple, @erjianqing

scaled tolerance unsigned
  src/app/zap-templates/zcl/data-model/chip/pressure-measurement-cluster.xml
Owners: @vivien-apple, @erjianqing

[nrfconnect] Add support for nRF52840 Dongle to lighting-app
  config/nrfconnect/chip-module/CMakeLists.txt
  examples/lighting-app/nrfconnect/CMakeLists.txt
  examples/lighting-app/nrfconnect/README.md
  examples/lighting-app/nrfconnect/boards/nrf52840dongle_nrf52840.conf
  examples/lighting-app/nrfconnect/main/main.cpp
  examples/lighting-app/nrfconnect/prj.conf
  examples/platform/nrfconnect/util/DFUTrigger.cpp
  src/platform/Zephyr/Logging.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @mspang, @yufengwangca

removed ranges not in spec
  src/app/zap-templates/zcl/data-model/chip/pressure-measurement-cluster.xml
Owners: @vivien-apple, @erjianqing

Fix IM changes
  examples/all-clusters-app/linux/include/media/tv-stubs.cpp
  examples/tv-app/linux/include/account-login/AccountLoginManager.cpp
  examples/tv-app/linux/include/application-basic/ApplicationBasicManager.cpp
  examples/tv-app/linux/include/application-basic/ApplicationBasicManager.h
  examples/tv-app/linux/include/application-launcher/ApplicationLauncherManager.cpp
  examples/tv-app/linux/include/application-launcher/ApplicationLauncherManager.h
  examples/tv-app/linux/include/audio-output/AudioOutputManager.cpp
  examples/tv-app/linux/include/audio-output/AudioOutputManager.h
  examples/tv-app/linux/include/endpoint-configuration/chip_tv_config.ini
  examples/tv-app/linux/include/keypad-input/KeypadInputManager.cpp
  examples/tv-app/linux/include/keypad-input/KeypadInputManager.h
  examples/tv-app/linux/include/low-power/LowPowerManager.cpp
  examples/tv-app/linux/include/low-power/LowPowerManager.h
  examples/tv-app/linux/include/media-input/MediaInputManager.cpp
  examples/tv-app/linux/include/media-input/MediaInputManager.h
  examples/tv-app/linux/include/media-playback/MediaPlaybackManager.cpp
  examples/tv-app/linux/include/media-playback/MediaPlaybackManager.h
  examples/tv-app/linux/include/target-navigator/TargetNavigatorManager.cpp
  examples/tv-app/linux/include/target-navigator/TargetNavigatorManager.h
  examples/tv-app/linux/include/tv-channel/TvChannelManager.cpp
  examples/tv-app/linux/include/tv-channel/TvChannelManager.h
  src/app/clusters/account-login-server/account-login-server.cpp
  src/app/clusters/application-basic-server/application-basic-server.cpp
  src/app/clusters/application-launcher-server/application-launcher-server.cpp
  src/app/clusters/keypad-input-server/keypad-input-server.cpp
  src/app/clusters/low-power-server/low-power-server.cpp
  src/app/clusters/media-input-server/media-input-server.cpp
  src/app/clusters/media-playback-server/media-playback-server.cpp
  src/app/clusters/target-navigator-server/target-navigator-server.cpp
  src/app/clusters/tv-channel-server/tv-channel-server.cpp
  src/app/zap-templates/zcl/data-model/chip/application-basic-cluster.xml
  src/app/zap-templates/zcl/data-model/chip/application-launcher-cluster.xml
  src/app/zap-templates/zcl/data-model/chip/media-playback-cluster.xml
  src/app/zap-templates/zcl/data-model/chip/target-navigator-cluster.xml
  src/app/zap_cluster_list.py
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @vivien-apple, @erjianqing, @yunhanw-google, @bzbarsky-apple, @mrjerryjohns

Running zap generator
  examples/all-clusters-app/all-clusters-common/gen/endpoint_config.h
  examples/all-clusters-app/linux/BUILD.gn
  examples/tv-app/tv-common/gen/IMClusterCommandHandler.cpp
  examples/tv-app/tv-common/gen/callback.h
  examples/tv-app/tv-common/gen/endpoint_config.h
  examples/tv-app/tv-common/tv-app.zap
  src/app/common/gen/af-structs.h
  src/app/common/gen/client-command-macro.h
  src/app/common/gen/enums.h
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @mspang, @yunhanw-google, @bzbarsky-apple, @mrjerryjohns

Adding tests for TV app
  examples/chip-tool/templates/tests-commands.zapt
  scripts/tests/test_tv_suites.sh
  src/app/tests/suites/AccountLoginCluster.yaml
  src/app/tests/suites/ApplicationBasicCluster.yaml
  src/app/tests/suites/ApplicationLauncherCluster.yaml
  src/app/tests/suites/AudioOutputCluster.yaml
  src/app/tests/suites/KeypadInputCluster.yaml
  src/app/tests/suites/LowPowerCluster.yaml
  src/app/tests/suites/MediaInputCluster.yaml
  src/app/tests/suites/MediaPlaybackCluster.yaml
  src/app/tests/suites/TargetNavigatorCluster.yaml
  src/app/tests/suites/TvChannelCluster.yaml
  src/controller/data_model/controller-clusters.zap
Owners: @vivien-apple, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @shana-apple, @pan-apple

Running zap generator
  examples/all-clusters-app/linux/BUILD.gn
  examples/all-clusters-app/linux/include/media/tv-stubs.cpp
  examples/chip-tool/commands/clusters/Commands.h
  examples/chip-tool/commands/tests/Commands.h
  examples/tv-app/linux/include/application-launcher/ApplicationLauncherManager.cpp
  examples/tv-app/linux/include/keypad-input/KeypadInputManager.cpp
  examples/tv-app/linux/include/media-input/MediaInputManager.cpp
  examples/tv-app/linux/include/media-playback/MediaPlaybackManager.cpp
  examples/tv-app/linux/include/target-navigator/TargetNavigatorManager.cpp
  src/app/clusters/account-login-server/account-login-server.cpp
  src/app/clusters/application-launcher-server/application-launcher-server.cpp
  src/app/clusters/media-playback-server/media-playback-server.cpp
  src/app/clusters/target-navigator-server/target-navigator-server.cpp
  src/app/tests/suites/AccountLoginCluster.yaml
  src/app/tests/suites/ApplicationBasicCluster.yaml
  src/app/tests/suites/ApplicationLauncherCluster.yaml
  src/app/tests/suites/AudioOutputCluster.yaml
  src/app/tests/suites/KeypadInputCluster.yaml
  src/app/tests/suites/LowPowerCluster.yaml
  src/app/tests/suites/MediaInputCluster.yaml
  src/app/tests/suites/MediaPlaybackCluster.yaml
  src/app/tests/suites/TargetNavigatorCluster.yaml
  src/app/tests/suites/TvChannelCluster.yaml
  src/controller/data_model/gen/CHIPClusters.cpp
  src/controller/data_model/gen/CHIPClusters.h
  src/controller/data_model/gen/chip-zcl-zpro-codec-api.h
  src/controller/data_model/gen/encoder.cpp
  src/controller/python/chip/clusters/CHIPClusters.cpp
  src/controller/python/chip/clusters/CHIPClusters.py
  src/darwin/Framework/CHIP/gen/CHIPClustersObjc.h
  src/darwin/Framework/CHIP/gen/CHIPClustersObjc.mm
  src/darwin/Framework/CHIPTests/CHIPClustersTests.m
Owners: @mspang, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @vivien-apple, @shana-apple, @pan-apple, @andy31415, @erjianqing

Adding TV callbacks to all cluster example apps
  examples/all-clusters-app/esp32/main/CMakeLists.txt
  examples/all-clusters-app/linux/BUILD.gn
  examples/all-clusters-app/linux/include/tv-callbacks.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @mspang

Updated the PR latests comments
  .github/workflows/tests.yaml
  examples/all-clusters-app/all-clusters-common/gen/endpoint_config.h
  examples/chip-tool/commands/tests/Commands.h
  examples/chip-tool/templates/tests-commands.zapt
  examples/tv-app/linux/include/application-launcher/ApplicationLauncherManager.cpp
  examples/tv-app/linux/include/media-playback/MediaPlaybackManager.cpp
  examples/tv-app/linux/include/media-playback/MediaPlaybackManager.h
  examples/tv-app/linux/include/target-navigator/TargetNavigatorManager.cpp
  examples/tv-app/tv-common/gen/IMClusterCommandHandler.cpp
  examples/tv-app/tv-common/gen/endpoint_config.h
  scripts/tests/test_suites.sh
  scripts/tests/test_tv_suites.sh
  src/app/clusters/application-launcher-server/application-launcher-server.cpp
  src/app/clusters/application-launcher-server/application-launcher-server.h
  src/app/clusters/media-playback-server/media-playback-server.cpp
  src/app/clusters/media-playback-server/media-playback-server.h
  src/app/clusters/target-navigator-server/target-navigator-server.cpp
  src/app/clusters/target-navigator-server/target-navigator-server.h
  src/app/common/gen/af-structs.h
  src/app/common/gen/command-id.h
  src/app/common/gen/enums.h
  src/app/tests/suites/TV_AccountLoginCluster.yaml
  src/app/tests/suites/TV_ApplicationBasicCluster.yaml
  src/app/tests/suites/TV_ApplicationLauncherCluster.yaml
  src/app/tests/suites/TV_AudioOutputCluster.yaml
  src/app/tests/suites/TV_KeypadInputCluster.yaml
  src/app/tests/suites/TV_LowPowerCluster.yaml
  src/app/tests/suites/TV_MediaInputCluster.yaml
  src/app/tests/suites/TV_MediaPlaybackCluster.yaml
  src/app/tests/suites/TV_TargetNavigatorCluster.yaml
  src/app/tests/suites/TV_TvChannelCluster.yaml
  src/app/zap-templates/zcl/data-model/chip/application-basic-cluster.xml
  src/app/zap-templates/zcl/data-model/chip/application-launcher-cluster.xml
  src/app/zap-templates/zcl/data-model/chip/media-playback-cluster.xml
  src/app/zap-templates/zcl/data-model/chip/target-navigator-cluster.xml
  src/controller/data_model/controller-clusters.zap
  src/controller/data_model/gen/encoder.cpp
  src/controller/data_model/gen/endpoint_config.h
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @vivien-apple, @yunhanw-google, @bzbarsky-apple, @mrjerryjohns, @erjianqing, @shana-apple, @pan-apple

Update PR per latest comments
  .github/workflows/tests.yaml
  examples/all-clusters-app/all-clusters-common/all-clusters-app.zap
  examples/all-clusters-app/all-clusters-common/gen/endpoint_config.h
  examples/all-clusters-app/esp32/main/CMakeLists.txt
  examples/all-clusters-app/esp32/main/main.cpp
  examples/chip-tool/commands/clusters/Commands.h
  examples/chip-tool/commands/tests/Commands.h
  examples/chip-tool/gen/IMClusterCommandHandler.cpp
  examples/tv-app/tv-common/gen/IMClusterCommandHandler.cpp
  examples/tv-app/tv-common/gen/callback.h
  examples/tv-app/tv-common/gen/endpoint_config.h
  examples/tv-app/tv-common/tv-app.zap
  src/app/clusters/media-playback-server/media-playback-server.cpp
  src/app/common/gen/client-command-macro.h
  src/app/common/gen/command-id.h
  src/app/tests/suites/TV_MediaPlaybackCluster.yaml
  src/app/zap-templates/zcl/data-model/chip/media-playback-cluster.xml
  src/controller/data_model/controller-clusters.zap
  src/controller/data_model/gen/CHIPClientCallbacks.cpp
  src/controller/data_model/gen/CHIPClientCallbacks.h
  src/controller/data_model/gen/CHIPClusters.cpp
  src/controller/data_model/gen/CHIPClusters.h
  src/controller/data_model/gen/IMClusterCommandHandler.cpp
  src/controller/data_model/gen/call-command-handler.cpp
  src/controller/data_model/gen/callback.h
  src/controller/data_model/gen/chip-zcl-zpro-codec-api.h
  src/controller/data_model/gen/encoder.cpp
  src/controller/data_model/gen/endpoint_config.h
  src/controller/java/gen/CHIPClusters-JNI.cpp
  src/controller/java/gen/ChipClusters.java
  src/controller/python/chip/clusters/CHIPClusters.cpp
  src/controller/python/chip/clusters/CHIPClusters.py
  src/darwin/Framework/CHIP/gen/CHIPClustersObjc.h
  src/darwin/Framework/CHIP/gen/CHIPClustersObjc.mm
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @vivien-apple, @yunhanw-google, @bzbarsky-apple, @mrjerryjohns, @erjianqing, @shana-apple, @pan-apple, @austinh0, @andy31415

Restyled by whitespace
  examples/all-clusters-app/esp32/main/main.cpp
  src/app/clusters/application-launcher-server/application-launcher-server.h
  src/app/clusters/media-playback-server/media-playback-server.h
  src/app/clusters/target-navigator-server/target-navigator-server.h
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @vivien-apple

Restyled by clang-format
  src/controller/data_model/gen/call-command-handler.cpp
Owners: @shana-apple, @pan-apple

Restyled by shellharden
  scripts/tests/test_suites.sh
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

.github/CODEOWNERS:

# Current reviewers-XXX teams, who review everything for approval.
* @reviewers-amazon @reviewers-apple @reviewers-comcast @reviewers-google @reviewers-nordic @reviewers-samsung @reviewers-silabs


# BUILD system

*.gn @mspang
/build/ @mspang
/scripts/build/ @mspang

# Crypto
# Crypto primitives and high level API, generally on top of mbedtls and openssl
/src/crypto/* @pan-apple @emargolis
/src/credentials/ @pan-apple @emargolis

# Transport
# Send and receive data abstracting away the underlying protocol (UDP, TCP, BLE)
/src/transport/ @andy31415 @pan-apple

# Session establishment
# Establish a secure session (encryption keys) from one node to another.
# Includes CASE and PASE + session tracking and resumptioon
/src/protocols/secure_channel/ @pan-apple

# Message Layer
# CRMP and packet headers, generally coupled with SecureSessionManager
/src/messaging @yufengwangca @kghost @bzbarksy-apple
/src/transport/raw/MessageHeader.* @yufengwangca @kghost @bzbarksy-apple

# SecureSessionManager
# Manages per-session encryption keys and new session establishment
/src/transport/SecureSessionMgr.* @pan-apple

# Exchange management
# Joins requests and responses or ties a series of messages belonging to the 
# same protocol interaction
/src/messaging/ @yufengwangca @bzbarsky-apple
/src/channel/ @yufengwangca @bzbarsky-apple

# DNS-SD discovery and advertisement
# Advertise chip devices for commisioning, operational and discover such devices
/src/lib/mdns/ @andy31415 @gjc13 @damian-nordic

# Commisioning controller/flow
# Example of a comisioning sequence
/src/controller/ @pan-apple @erjiaqing

# Operational credentials management
# Signing certificates, maintaining roots of trust, validation, fabric management
/src/controller/ @shana-apple @pan-apple
/src/transport/AdminPairingTable.* @shana-apple @pan-apple

# TLV encoding/decoding to/from byte buffers
/src/lib/core/CHIPTLV* @yunhanw-google @bzbarsky-apple @shana-apple

# Interaction model - ember implementation
# ZCL protocol implementation: ZCL encoding to be sent over the wire as a 
# ZigbeePro protocol implementation
/src/app/util/ @vivien-apple @erjianqing @bzbarsky-apple

# Interaction model - non-ember
# Protocol implementation for IM interactions between nodes, matching spec
/src/app/ @yunhanw-google @bzbarsky-apple @mrjerryjohns

# Interaction model - code generation
# CHIP-specific infrastructure for generating code: helper js methods, scripts
# and code layout
/src/app/zap-templates/ @vivien-apple @erjianqing

# ZAP suppport
# UI for editing XML, generates code from such ZML and configuration files
# NOT part of CHIP however CHIP relies heavily on ZAP.
#    @vivien-apple  @tecimovic

# 'Standard' cluster implementations (server side)
# Clusters shipped with the sdk, can be integrated as-is or used as a template
/src/app/clusters/ @vivien-apple

# Onboarding payload
# Parsing and generation of codes (includes QR and NFC), numeric pairing payload
/src/setup_payload/ @shana-apple @vivien-apple @jrhees-cae

# Device Layer
# Porting interfaces, scaffolding for building an example firmware
/src/platform/ @mspang @yufengwangca
/src/include/platform/ @mspang @yufengwangca

# Persistent storage
# Save state across reboots
/src/platform/*/KeyValueStore* @rgoliver

# Python bindings for CHIP - CLI
# Allows python code to use CHIP, generally targeted towards automation
/src/controller/python/ @andy31415 @erjianqing

# CHIP-tool C++ CLI
# Command line interface to chip as a client (controller and commisioner)
# Includes generated code for every base cluster
/examples/chip-tool/ @vivien-apple

# CHIP-tool iOS UI
/src/darwin/CHIPTool/ @shana-apple

# CHIP-tool Android
/src/android/CHIPTool/ @austinh0
/src/controller/java/ @austinh0

# End2End autogenerated tests
/src/darwin/Framework/Chip-templates/ @vivien-apple
/src/app/tests/suites/ @vivien-apple

# End2End cirque tests
# Simulate topology (cirque) and ptyhon-based test automation
/src/test_driver/linux/cirque/ @erjianqing @yunhanw-google

# Thread integration
# Thread-specific functionality (network provisioning, operational discovery, SRP registration etc.)
/src/platform/OpenThread/ @bukepo
/src/platform/*/ThreadStackmanagerImpl.* @bukepo

# Inet
# Networking abstraction layer (UDP-endpoint, TCP-endpoint, InetLayerBasis)
/src/inet/ @kpschoedel 

# System layer
/src/system/ @kpschoedel 

# BLE support
/src/ble/ @yunhanw-google

# CHIP Shell
# Command-line UART/stdin interface as a side-channel to CHIP accessories
# Aimed as user-friendly/manual control
/src/examples/shell/ @gjc13 @yufengwangca

# RPC
# Side-channlel command path (outside chip), generally for automation and debugging
# Aimed as "scriptable" when compared to shell
/examples/common/pigweed/ @rgoliver
/examples/pigweed-app/ @rgoliver

# Tooling for crypto manual generation
# Generates data for sample PKI
/src/tools/chip-cert/ @emargolis

# Channel API
# Construct a transport/secure session based on peer info and transport type.
# Focused on CASE session establishment
/src/channel/ @kghost

# Darwin framework
# Exposes a darwin API (Objective-C/swift rather than raw C++ API) for darwin
# applications
/src/darwin/Framework/ @shana-apple @vivien-apple @pan-apple
