Repository project-chip/connectedhomeip, changes with the owners that .github/CODEOWNERS names for each.
All owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @mspang, @pan-apple, @emargolis, @andy31415, @yufengwangca, @kghost, @bzbarksy-apple, @bzbarsky-apple, @gjc13, @damian-nordic, @erjiaqing, @shana-apple, @yunhanw-google, @vivien-apple, @erjianqing, @mrjerryjohns, @jrhees-cae, @rgoliver, @austinh0, @bukepo, @kpschoedel

.github/CODEOWNERS:

# Current reviewers-XXX teams, who review everything for approval.
* @reviewers-amazon @reviewers-apple @reviewers-comcast @reviewers-google @reviewers-nordic @reviewers-samsung @reviewers-silabs


# BUILD system

*.gn @mspang
/build/ @mspang
/scripts/build/ @mspang

# Crypto
# Crypto primitives and high level API, generally on top of mbedtls and openssl
/src/crypto/* @pan-apple @emargolis
/src/credentials/ @pan-apple @emargolis

# Transport
# Send and receive data abstracting away the underlying protocol (UDP, TCP, BLE)
/src/transport/ @andy31415 @pan-apple

# Session establishment
# Establish a secure session (encryption keys) from one node to another.
# Includes CASE and PASE + session tracking and resumptioon
/src/protocols/secure_channel/ @pan-apple

# Message Layer
# CRMP and packet headers, generally coupled with SecureSessionManager
/src/messaging @yufengwangca @kghost @bzbarksy-apple
/src/transport/raw/MessageHeader.* @yufengwangca @kghost @bzbarksy-apple

# SecureSessionManager
# Manages per-session encryption keys and new session establishment
/src/transport/SecureSessionMgr.* @pan-apple

# Exchange management
# Joins requests and responses or ties a series of messages belonging to the 
# same protocol interaction
/src/messaging/ @yufengwangca @bzbarsky-apple
/src/channel/ @yufengwangca @bzbarsky-apple

# DNS-SD discovery and advertisement
# Advertise chip devices for commisioning, operational and discover such devices
/src/lib/mdns/ @andy31415 @gjc13 @damian-nordic

# Commisioning controller/flow
# Example of a comisioning sequence
/src/controller/ @pan-apple @erjiaqing

# Operational credentials management
# Signing certificates, maintaining roots of trust, validation, fabric management
/src/controller/ @shana-apple @pan-apple
/src/transport/AdminPairingTable.* @shana-apple @pan-apple

# TLV encoding/decoding to/from byte buffers
/src/lib/core/CHIPTLV* @yunhanw-google @bzbarsky-apple @shana-apple

# Interaction model - ember implementation
# ZCL protocol implementation: ZCL encoding to be sent over the wire as a 
# ZigbeePro protocol implementation
/src/app/util/ @vivien-apple @erjianqing @bzbarsky-apple

# Interaction model - non-ember
# Protocol implementation for IM interactions between nodes, matching spec
/src/app/ @yunhanw-google @bzbarsky-apple @mrjerryjohns

# Interaction model - code generation
# CHIP-specific infrastructure for generating code: helper js methods, scripts
# and code layout
/src/app/zap-templates/ @vivien-apple @erjianqing

# ZAP suppport
# UI for editing XML, generates code from such ZML and configuration files
# NOT part of CHIP however CHIP relies heavily on ZAP.
#    @vivien-apple  @tecimovic

# 'Standard' cluster implementations (server side)
# Clusters shipped with the sdk, can be integrated as-is or used as a template
/src/app/clusters/ @vivien-apple

# Onboarding payload
# Parsing and generation of codes (includes QR and NFC), numeric pairing payload
/src/setup_payload/ @shana-apple @vivien-apple @jrhees-cae

# Device Layer
# Porting interfaces, scaffolding for building an example firmware
/src/platform/ @mspang @yufengwangca
/src/include/platform/ @mspang @yufengwangca

# Persistent storage
# Save state across reboots
/src/platform/*/KeyValueStore* @rgoliver

# Python bindings for CHIP - CLI
# Allows python code to use CHIP, generally targeted towards automation
/src/controller/python/ @andy31415 @erjianqing

# CHIP-tool C++ CLI
# Command line interface to chip as a client (controller and commisioner)
# Includes generated code for every base cluster
/examples/chip-tool/ @vivien-apple

# CHIP-tool iOS UI
/src/darwin/CHIPTool/ @shana-apple

# CHIP-tool Android
/src/android/CHIPTool/ @austinh0
/src/controller/java/ @austinh0

# End2End autogenerated tests
/src/darwin/Framework/Chip-templates/ @vivien-apple
/src/app/tests/suites/ @vivien-apple

# End2End cirque tests
# Simulate topology (cirque) and ptyhon-based test automation
/src/test_driver/linux/cirque/ @erjianqing @yunhanw-google

# Thread integration
# Thread-specific functionality (network provisioning, operational discovery, SRP registration etc.)
/src/platform/OpenThread/ @bukepo
/src/platform/*/ThreadStackmanagerImpl.* @bukepo

# Inet
# Networking abstraction layer (UDP-endpoint, TCP-endpoint, InetLayerBasis)
/src/inet/ @kpschoedel 

# System layer
/src/system/ @kpschoedel 

# BLE support
/src/ble/ @yunhanw-google

# CHIP Shell
# Command-line UART/stdin interface as a side-channel to CHIP accessories
# Aimed as user-friendly/manual control
/src/examples/shell/ @gjc13 @yufengwangca

# RPC
# Side-channlel command path (outside chip), generally for automation and debugging
# Aimed as "scriptable" when compared to shell
/examples/common/pigweed/ @rgoliver
/examples/pigweed-app/ @rgoliver

# Tooling for crypto manual generation
# Generates data for sample PKI
/src/tools/chip-cert/ @emargolis

# Channel API
# Construct a transport/secure session based on peer info and transport type.
# Focused on CASE session establishment
/src/channel/ @kghost

# Darwin framework
# Exposes a darwin API (Objective-C/swift rather than raw C++ API) for darwin
# applications
/src/darwin/Framework/ @shana-apple @vivien-apple @pan-apple

Use short-log for embedded platforms
  src/lib/core/BUILD.gn
Owners: @mspang

Enable missing client callbacks
  examples/tv-app/tv-common/BUILD.gn
  examples/tv-app/tv-common/tv-app.zap
  zzz_generated/lighting-app/zap-generated/CHIPClusters.cpp
  zzz_generated/lighting-app/zap-generated/CHIPClusters.h
  zzz_generated/tv-app/zap-generated/CHIPClientCallbacks.cpp
  zzz_generated/tv-app/zap-generated/CHIPClientCallbacks.h
  zzz_generated/tv-app/zap-generated/CHIPClusters.cpp
  zzz_generated/tv-app/zap-generated/CHIPClusters.h
  zzz_generated/tv-app/zap-generated/IMClusterCommandHandler.cpp
  zzz_generated/tv-app/zap-generated/endpoint_config.h
  zzz_generated/tv-app/zap-generated/gen_config.h
Owners: @mspang, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

doc: nrfconnect: clarify mcumgr usage
  docs/guides/nrfconnect_examples_software_update.md
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Restyled by prettier-markdown
  docs/guides/nrfconnect_examples_software_update.md
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Fix typo in nrf builder for pump controller (#9342)
  scripts/build/builders/nrf.py
Owners: @mspang

follow matter Style
  scripts/examples/gn_to_cmake.py
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

workaround: can not use gms to scan qr code in China, added a EditText to debug
  src/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/setuppayloadscanner/BarcodeFragment.kt
  src/android/CHIPTool/app/src/main/res/layout/barcode_fragment.xml
Owners: @austinh0

move ChipClusters.java to gen/chip/devicecontroller/ to fit java folder rulse
  src/controller/java/BUILD.gn
  src/controller/java/zap-generated/chip/devicecontroller/ChipClusters.java
Owners: @austinh0

added gn to cmake script
  scripts/examples/android_app_as.sh
  scripts/examples/gn_to_cmake.py
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

move src/main/jniLibs to libs/jniLibs to fix jniLibs local conflict issue, and set matterFromSource = false by default
  scripts/examples/android_app.sh
  src/android/CHIPTool/app/build.gradle
  src/android/CHIPTool/app/libs/jniLibs/README.md
  src/android/CHIPTool/build.gradle
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @austinh0

modify build.gradle to build with generated cmake
  src/android/CHIPTool/app/build.gradle
  src/android/CHIPTool/build.gradle
Owners: @austinh0

use ConstraintLayout as austinh0 suggest in PR
  src/android/CHIPTool/app/src/main/res/layout/barcode_fragment.xml
Owners: @austinh0

change name and add some comment on what gn_to_cmakelists.py does as andy31415 suggetion in PR
  scripts/examples/android_app.sh
  scripts/examples/gn_to_cmakelists.py
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

java/templates/templates.json to have ZAP generate ChipClusters.java into this new directory. as PR review
  src/controller/java/templates/templates.json
Owners: @austinh0

combine ide build and script build into one shell script as andy31415 suggest in PR
  scripts/examples/android_app.sh
  scripts/examples/android_app_as.sh
  src/android/CHIPTool/app/build.gradle
  src/android/CHIPTool/build.gradle
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @austinh0

added USE_IDE to compare for ide or script, suggested by austinh0 in PR
  scripts/examples/android_app.sh
  src/android/CHIPTool/app/build.gradle
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @austinh0

fix CI error in Builds / Build on Darwin (clang, python_lib) (pull_request)
  scripts/build/expected_all_platform_commands.txt
Owners: @mspang

clear description of gn_to_cmakelists.py and add some tests for it
  scripts/examples/gn_to_cmakelists.py
  scripts/examples/tests/expected_test_cmakelists.txt
  scripts/examples/tests/test.py
  scripts/examples/tests/test_project.json
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

merge restyled/pull-9199
  scripts/examples/android_app.sh
  scripts/examples/tests/test_project.json
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

fix naming issue as austinh0 suggestion in PR
  src/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/setuppayloadscanner/BarcodeFragment.kt
  src/android/CHIPTool/app/src/main/res/layout/barcode_fragment.xml
Owners: @austinh0

sync change path in build_example
  scripts/build/builders/android.py
Owners: @mspang

set matterBuildSrcDir = null by default
  src/android/CHIPTool/build.gradle
Owners: @austinh0

Fix unused variable warning/error
  examples/platform/linux/AppMain.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Deal with the topological sort of structs.
  src/app/zap-templates/common/ClustersHelper.js
Owners: @vivien-apple, @erjianqing

Patch the require paths.
  examples/chip-tool/templates/helper.js
  src/app/zap-templates/common/ClusterTestGeneration.js
  src/app/zap-templates/common/ClustersHelper.js
  src/app/zap-templates/templates/app/helper.js
  src/app/zap-templates/templates/chip/helper.js
  src/controller/java/templates/helper.js
  src/controller/python/templates/helper.js
  src/darwin/Framework/CHIP/templates/helper.js
Owners: @vivien-apple, @erjianqing, @austinh0, @andy31415, @shana-apple, @pan-apple

Allow the setting of ZAP_LOCATION environment variable, that overrides the zap location to a local development directory.
  scripts/tools/zap/convert.py
  scripts/tools/zap/generate.py
  scripts/tools/zap/run_zaptool.sh
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Do not use the default overridable as a fallback. That was not how this was intended to be used.
  src/app/zap-templates/app-templates.json
  src/app/zap-templates/common/override.js
Owners: @vivien-apple, @erjianqing

Update to latest zap.
  src/app/zap-templates/common/override.js
  zzz_generated/all-clusters-app/zap-generated/endpoint_config.h
  zzz_generated/bridge-app/zap-generated/endpoint_config.h
  zzz_generated/lighting-app/zap-generated/endpoint_config.h
  zzz_generated/lock-app/zap-generated/endpoint_config.h
  zzz_generated/pump-app/zap-generated/endpoint_config.h
  zzz_generated/pump-controller-app/zap-generated/endpoint_config.h
  zzz_generated/temperature-measurement-app/zap-generated/endpoint_config.h
  zzz_generated/thermostat/zap-generated/endpoint_config.h
  zzz_generated/tv-app/zap-generated/endpoint_config.h
  zzz_generated/tv-casting-app/zap-generated/endpoint_config.h
  zzz_generated/window-app/zap-generated/endpoint_config.h
Owners: @vivien-apple, @erjianqing, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Update the formatting for the helpers code, so it matches zap itself.
  .prettierrc.json
  src/app/zap-templates/common/ChipTypesHelper.js
  src/app/zap-templates/common/ClusterTestGeneration.js
  src/app/zap-templates/common/Deferred.js
  src/app/zap-templates/common/ListHelper.js
  src/app/zap-templates/common/StringHelper.js
  src/app/zap-templates/common/StructHelper.js
  src/app/zap-templates/common/attributes/Accessors.js
  src/app/zap-templates/common/override.js
  src/app/zap-templates/templates/app/helper.js
  src/app/zap-templates/templates/chip/helper.js
  src/controller/java/templates/helper.js
  src/controller/python/templates/helper.js
  src/darwin/Framework/CHIP/templates/helper.js
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @vivien-apple, @erjianqing, @austinh0, @andy31415, @shana-apple, @pan-apple

Restyled by clang-format
  src/app/zap-templates/common/ChipTypesHelper.js
  src/app/zap-templates/common/ClusterTestGeneration.js
  src/app/zap-templates/common/ClustersHelper.js
  src/app/zap-templates/common/Deferred.js
  src/app/zap-templates/common/ListHelper.js
  src/app/zap-templates/common/StringHelper.js
  src/app/zap-templates/common/StructHelper.js
  src/app/zap-templates/common/attributes/Accessors.js
  src/app/zap-templates/common/override.js
  src/app/zap-templates/templates/app/helper.js
  src/app/zap-templates/templates/chip/helper.js
  src/controller/java/templates/helper.js
  src/controller/python/templates/helper.js
  src/darwin/Framework/CHIP/templates/helper.js
Owners: @vivien-apple, @erjianqing, @austinh0, @andy31415, @shana-apple, @pan-apple

Restyled by shellharden
  scripts/tools/zap/run_zaptool.sh
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Restyled by autopep8
  scripts/tools/zap/convert.py
  scripts/tools/zap/generate.py
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Increase nrf individual build timeout to 10 minutes (from 5)
  .github/workflows/examples-nrfconnect.yaml
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Increase nrf individual build timeout to 10 minutes (from 5) (#9364)
  .github/workflows/examples-nrfconnect.yaml
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Reduce PBUF_POOL size for k32w (#9357)
  src/lwip/k32w/lwipopts.h
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Restyled by prettier-markdown
  docs/guides/nrfconnect_examples_software_update.md
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Restyled by prettier-markdown
  docs/guides/nrfconnect_examples_software_update.md
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Use short-log for embedded platforms (#9358)
  src/lib/core/BUILD.gn
Owners: @mspang

Update chip-tool documentation. (#9307)
  examples/chip-tool/README.md
Owners: @vivien-apple

Make buffer ownership hand-offs in CASE clearer. (#9300)
  src/protocols/secure_channel/CASESession.cpp
  src/protocols/secure_channel/CASESession.h
Owners: @pan-apple
