Repository project-chip/connectedhomeip, changes with the owners that .github/CODEOWNERS names for each.
All owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @mspang, @pan-apple, @emargolis, @andy31415, @yufengwangca, @kghost, @bzbarksy-apple, @bzbarsky-apple, @gjc13, @damian-nordic, @erjiaqing, @shana-apple, @yunhanw-google, @vivien-apple, @erjianqing, @mrjerryjohns, @jrhees-cae, @rgoliver, @austinh0, @bukepo, @kpschoedel

Restyled by clang-format
  examples/tv-app/linux/include/application-basic/ApplicationBasicManager.cpp
  src/app/clusters/basic/basic.cpp
  src/lib/support/ZclString.h
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @vivien-apple

Add comment per @msandstedt
  src/protocols/secure_channel/CASESession.cpp
Owners: @pan-apple

Change TLV reader/writer init methods to take buffer size as size_t
  src/credentials/CHIPCertFromX509.cpp
  src/lib/core/CHIPTLV.h
  src/lib/core/CHIPTLVReader.cpp
  src/lib/core/CHIPTLVWriter.cpp
Owners: @pan-apple, @emargolis, @yunhanw-google, @bzbarsky-apple, @shana-apple

debug
  src/transport/raw/tests/TestTCP.cpp
Owners: @andy31415, @pan-apple

Restyled by whitespace
  src/transport/raw/tests/TestTCP.cpp
Owners: @andy31415, @pan-apple

Restyled by gn
  BUILD.gn
  build/chip/tools.gni
  src/BUILD.gn
  src/lib/mdns/platform/tests/BUILD.gn
  src/platform/fake/BUILD.gn
Owners: @mspang, @andy31415, @gjc13, @damian-nordic, @yufengwangca

Remove stale todo.
  src/lib/mdns/Advertiser_ImplMinimalMdns.cpp
Owners: @andy31415, @gjc13, @damian-nordic

[Darwin] Properly delete chip::Callback on success/failure
  src/darwin/Framework/CHIP.xcodeproj/project.pbxproj
  src/darwin/Framework/CHIP/CHIP.h
  src/darwin/Framework/CHIP/CHIPCallbackBridgeBase_internal.h
  src/darwin/Framework/CHIP/CHIPCluster.h
  src/darwin/Framework/CHIP/CHIPCluster.mm
  src/darwin/Framework/CHIP/CHIPCluster_internal.h
  src/darwin/Framework/CHIP/templates/CHIPCallbackBridge-src.zapt
  src/darwin/Framework/CHIP/templates/CHIPCallbackBridge_internal.zapt
  src/darwin/Framework/CHIP/templates/CHIPClustersObjc-src.zapt
  src/darwin/Framework/CHIP/templates/CHIPClustersObjc.zapt
  src/darwin/Framework/CHIP/templates/CHIPClustersObjc_internal.zapt
  src/darwin/Framework/CHIP/templates/partials/CHIPCallbackBridge.zapt
  src/darwin/Framework/CHIP/templates/templates.json
Owners: @shana-apple, @vivien-apple, @pan-apple

Update gen/ folders
  src/darwin/Framework/CHIP/gen/CHIPCallbackBridge.mm
  src/darwin/Framework/CHIP/gen/CHIPCallbackBridge_internal.h
  src/darwin/Framework/CHIP/gen/CHIPClustersObjc.h
  src/darwin/Framework/CHIP/gen/CHIPClustersObjc.mm
  src/darwin/Framework/CHIP/gen/CHIPClustersObjc_internal.h
Owners: @shana-apple, @vivien-apple, @pan-apple

Restyled by clang-format
  src/darwin/Framework/CHIP/CHIPCluster.h
  src/darwin/Framework/CHIP/CHIPCluster.mm
  src/darwin/Framework/CHIP/CHIPCluster_internal.h
Owners: @shana-apple, @vivien-apple, @pan-apple

Advertise all of our available operational identities. (#8923)
  src/app/server/Mdns.cpp
Owners: @yunhanw-google, @bzbarsky-apple, @mrjerryjohns

Replace asCamelCased usage by asUpperCamelCase/asLowerCamelCase
  examples/chip-tool/templates/commands.zapt
  examples/chip-tool/templates/partials/test_cluster.zapt
  examples/chip-tool/templates/reporting-commands.zapt
  src/app/zap-templates/partials/cluster_header.zapt
  src/app/zap-templates/partials/clusters_header.zapt
  src/app/zap-templates/partials/im_command_handler_cluster_commands.zapt
  src/app/zap-templates/templates/app/CHIPClientCallbacks-src.zapt
  src/app/zap-templates/templates/app/CHIPClientCallbacks.zapt
  src/app/zap-templates/templates/app/CHIPClusters-src.zapt
  src/app/zap-templates/templates/app/attribute-size-src.zapt
  src/app/zap-templates/templates/app/callback-stub-src.zapt
  src/app/zap-templates/templates/app/ids/Commands.zapt
  src/app/zap-templates/templates/app/im-cluster-command-handler.zapt
  src/controller/java/templates/CHIPClusters-JNI.zapt
  src/controller/java/templates/ChipClusters-java.zapt
  src/controller/python/templates/python-CHIPClusters-cpp.zapt
  src/controller/python/templates/python-CHIPClusters-py.zapt
  src/controller/python/templates/templates.json
Owners: @vivien-apple, @erjianqing, @austinh0, @andy31415

[nrfconnect] Log messages cleanup (#8944)
  examples/lighting-app/nrfconnect/main/AppTask.cpp
  examples/lighting-app/nrfconnect/main/ZclCallbacks.cpp
  examples/lock-app/nrfconnect/main/AppTask.cpp
  examples/lock-app/nrfconnect/main/ZclCallbacks.cpp
  examples/pump-app/nrfconnect/main/AppTask.cpp
  examples/pump-app/nrfconnect/main/ZclCallbacks.cpp
  examples/pump-controller-app/nrfconnect/main/AppTask.cpp
  examples/pump-controller-app/nrfconnect/main/ZclCallbacks.cpp
  src/platform/Zephyr/BLEManagerImpl.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @mspang, @yufengwangca

Redo android python PR (#8940)
  .github/workflows/android.yaml
  scripts/build/build/factory.py
  scripts/build/build/targets.py
  scripts/build/builders/android.py
  scripts/build/expected_all_platform_commands.txt
  scripts/build/test.py
  scripts/flashing/p6_firmware_utils.py
  src/android/CHIPTool/.gitignore
  src/android/CHIPTool/app/build.gradle
  src/android/CHIPTool/gradlew
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @mspang, @austinh0

Remove emberAfReadAttributesResponseCallback/emberAfWriteAttributesResponseCallback leftovers
  examples/pump-app/nrfconnect/main/ZclCallbacks.cpp
  examples/pump-controller-app/nrfconnect/main/ZclCallbacks.cpp
  src/app/zap-templates/templates/app/CHIPClientCallbacks-src.zapt
  src/app/zap-templates/templates/app/callback-stub-src.zapt
  src/app/zap-templates/templates/app/callback.zapt
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @vivien-apple, @erjianqing

Update gen/ folders
  examples/all-clusters-app/all-clusters-common/gen/callback-stub.cpp
  examples/bridge-app/bridge-common/gen/callback-stub.cpp
  examples/lighting-app/lighting-common/gen/callback-stub.cpp
  examples/lock-app/lock-common/gen/callback-stub.cpp
  examples/pump-app/pump-common/gen/CHIPClientCallbacks.cpp
  examples/pump-app/pump-common/gen/callback-stub.cpp
  examples/pump-controller-app/pump-controller-common/gen/CHIPClientCallbacks.cpp
  examples/pump-controller-app/pump-controller-common/gen/callback-stub.cpp
  examples/temperature-measurement-app/esp32/main/gen/callback-stub.cpp
  examples/thermostat/thermostat-common/gen/callback-stub.cpp
  examples/tv-app/tv-common/gen/callback-stub.cpp
  examples/window-app/common/gen/callback-stub.cpp
  src/app/common/gen/callback.h
  src/controller/data_model/gen/CHIPClientCallbacks.cpp
  src/controller/data_model/gen/callback-stub.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @yunhanw-google, @bzbarsky-apple, @mrjerryjohns, @shana-apple, @pan-apple

Enable Test Cluster so that string values are returned
  examples/tv-app/tv-common/gen/IMClusterCommandHandler.cpp
  examples/tv-app/tv-common/gen/attribute-size.cpp
  examples/tv-app/tv-common/gen/callback-stub.cpp
  examples/tv-app/tv-common/gen/endpoint_config.h
  examples/tv-app/tv-common/gen/gen_config.h
  examples/tv-app/tv-common/tv-app.zap
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Run zap_regen to generate boilerplate code
  examples/chip-tool/commands/tests/Commands.h
  examples/tv-app/tv-common/gen/IMClusterCommandHandler.cpp
Owners: @vivien-apple, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Add tests
  src/app/tests/suites/TV_WakeOnLanCluster.yaml
Owners: @vivien-apple

Restyle fix
  examples/tv-app/linux/BUILD.gn
  examples/tv-app/linux/include/cluster-helper.cpp
Owners: @mspang, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Run zap_regen to build test boilerplate code
  examples/chip-tool/commands/tests/Commands.h
  examples/chip-tool/templates/tests-commands.zapt
Owners: @vivien-apple

Store Wake On LAN and Application basic server attributes as ZCL String
  examples/tv-app/linux/BUILD.gn
  examples/tv-app/linux/include/application-basic/ApplicationBasicManager.cpp
  examples/tv-app/linux/include/cluster-helper.cpp
  examples/tv-app/linux/include/wake-on-lan/WakeOnLanManager.cpp
Owners: @mspang, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Update PR per latests requests
  examples/tv-app/linux/BUILD.gn
  examples/tv-app/linux/include/application-basic/ApplicationBasicManager.cpp
  examples/tv-app/linux/include/cluster-init.cpp
  examples/tv-app/linux/include/wake-on-lan/WakeOnLanManager.cpp
  examples/tv-app/linux/include/wake-on-lan/WakeOnLanManager.h
  src/app/clusters/basic/basic.cpp
  src/lib/support/ZclString.h
Owners: @mspang, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @vivien-apple

Update PR per latest comments
  src/lib/support/ZclString.h
  src/lib/support/tests/TestZclString.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Remove Test Cluster
  examples/tv-app/tv-common/gen/IMClusterCommandHandler.cpp
  examples/tv-app/tv-common/gen/attribute-size.cpp
  examples/tv-app/tv-common/gen/callback-stub.cpp
  examples/tv-app/tv-common/gen/endpoint_config.h
  examples/tv-app/tv-common/gen/gen_config.h
  examples/tv-app/tv-common/tv-app.zap
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Renamed cluster-helper.cpp to zcl-strings.h
  examples/tv-app/linux/BUILD.gn
  examples/tv-app/linux/include/application-basic/ApplicationBasicManager.cpp
  examples/tv-app/linux/include/wake-on-lan/WakeOnLanManager.cpp
  examples/tv-app/linux/include/zcl-strings.h
Owners: @mspang, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Update PR per latests comments
  examples/bridge-app/linux/main.cpp
  examples/tv-app/linux/include/application-basic/ApplicationBasicManager.cpp
  examples/tv-app/linux/include/wake-on-lan/WakeOnLanManager.cpp
  src/app/clusters/basic/basic.cpp
  src/lib/support/ZclString.h
  src/lib/support/tests/BUILD.gn
  src/lib/support/tests/TestZclString.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @vivien-apple, @mspang

Update PR per latest comments. Converted MakeZclString to return error and to accept MutableByteSpan
  examples/bridge-app/linux/main.cpp
  examples/chip-tool/commands/tests/Commands.h
  examples/chip-tool/templates/tests-commands.zapt
  examples/tv-app/linux/include/application-basic/ApplicationBasicManager.cpp
  examples/tv-app/linux/include/wake-on-lan/WakeOnLanManager.cpp
  examples/tv-app/tv-common/gen/endpoint_config.h
  src/app/clusters/basic/basic.cpp
  src/lib/support/ZclString.h
  src/lib/support/tests/TestZclString.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @vivien-apple

removed initializing nullPeerID as per suggestion by as per suggestion by Damian-Nordic.
  src/lib/mdns/MdnsCache.h
Owners: @andy31415, @gjc13, @damian-nordic

Restyled by whitespace
  src/lib/core/CHIPConfig.h
  src/lib/mdns/Discovery_ImplPlatform.cpp
  src/lib/mdns/MdnsCache.h
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @andy31415, @gjc13, @damian-nordic

Restyled by clang-format
  src/lib/mdns/MdnsCache.h
  src/lib/mdns/Resolver_ImplMinimalMdns.cpp
Owners: @andy31415, @gjc13, @damian-nordic

Use build_examples.py to drive builds from the vscode enviroment.
  .vscode/tasks.json
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

replaced a lot of specialized build commands in tasks.json with the generic build example item
  .vscode/tasks.json
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

new example application ota-provider-app
  examples/ota-provider-app/linux/.gn
  examples/ota-provider-app/linux/BUILD.gn
  examples/ota-provider-app/linux/README.md
  examples/ota-provider-app/linux/args.gni
  examples/ota-provider-app/linux/build_overrides
  examples/ota-provider-app/linux/main.cpp
  examples/ota-provider-app/linux/third_party/connectedhomeip
  examples/ota-provider-app/ota-provider-common/BUILD.gn
  examples/ota-provider-app/ota-provider-common/BdxOtaSender.cpp
  examples/ota-provider-app/ota-provider-common/BdxOtaSender.h
  examples/ota-provider-app/ota-provider-common/OTAProviderExample.cpp
  examples/ota-provider-app/ota-provider-common/OTAProviderExample.h
  examples/ota-provider-app/ota-provider-common/gen/CHIPClientCallbacks.cpp
  examples/ota-provider-app/ota-provider-common/gen/CHIPClientCallbacks.h
  examples/ota-provider-app/ota-provider-common/gen/CHIPClusters.cpp
  examples/ota-provider-app/ota-provider-common/gen/CHIPClusters.h
  examples/ota-provider-app/ota-provider-common/gen/IMClusterCommandHandler.cpp
  examples/ota-provider-app/ota-provider-common/gen/af-gen-event.h
  examples/ota-provider-app/ota-provider-common/gen/attribute-size.cpp
  examples/ota-provider-app/ota-provider-common/gen/call-command-handler.cpp
  examples/ota-provider-app/ota-provider-common/gen/call-command-handler.h
  examples/ota-provider-app/ota-provider-common/gen/callback-stub.cpp
  examples/ota-provider-app/ota-provider-common/gen/callback.h
  examples/ota-provider-app/ota-provider-common/gen/chip-zcl-zpro-codec-api.h
  examples/ota-provider-app/ota-provider-common/gen/encoder.cpp
  examples/ota-provider-app/ota-provider-common/gen/endpoint_config.h
  examples/ota-provider-app/ota-provider-common/gen/gen_config.h
  examples/ota-provider-app/ota-provider-common/gen/gen_tokens.h
  examples/ota-provider-app/ota-provider-common/ota-provider-app.zap
  src/app/clusters/ota-provider/ota-provider-delegate.h
  src/app/clusters/ota-provider/ota-provider.cpp
Owners: @mspang, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @vivien-apple

Restyled by whitespace
  examples/ota-provider-app/ota-provider-common/OTAProviderExample.h
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Restyled by gn
  examples/ota-provider-app/ota-provider-common/BUILD.gn
Owners: @mspang

restlying
  examples/ota-provider-app/ota-provider-common/BUILD.gn
  examples/ota-provider-app/ota-provider-common/OTAProviderExample.h
Owners: @mspang, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Replace asCamelCased usage by asUpperCamelCase/asLowerCamelCase (#8861)
  examples/chip-tool/templates/commands.zapt
  examples/chip-tool/templates/partials/test_cluster.zapt
  examples/chip-tool/templates/reporting-commands.zapt
  src/app/zap-templates/partials/cluster_header.zapt
  src/app/zap-templates/partials/clusters_header.zapt
  src/app/zap-templates/partials/im_command_handler_cluster_commands.zapt
  src/app/zap-templates/templates/app/CHIPClientCallbacks-src.zapt
  src/app/zap-templates/templates/app/CHIPClientCallbacks.zapt
  src/app/zap-templates/templates/app/CHIPClusters-src.zapt
  src/app/zap-templates/templates/app/attribute-size-src.zapt
  src/app/zap-templates/templates/app/callback-stub-src.zapt
  src/app/zap-templates/templates/app/ids/Commands.zapt
  src/app/zap-templates/templates/app/im-cluster-command-handler.zapt
  src/controller/java/templates/CHIPClusters-JNI.zapt
  src/controller/java/templates/ChipClusters-java.zapt
  src/controller/python/templates/python-CHIPClusters-cpp.zapt
  src/controller/python/templates/python-CHIPClusters-py.zapt
  src/controller/python/templates/templates.json
Owners: @vivien-apple, @erjianqing, @austinh0, @andy31415

Initialize Conmmissioner object with operational credentials
  examples/chip-tool/commands/common/Commands.cpp
  src/controller/CHIPDeviceController.cpp
  src/controller/CHIPDeviceController.h
  src/controller/ExampleOperationalCredentialsIssuer.cpp
  src/controller/ExampleOperationalCredentialsIssuer.h
  src/controller/python/ChipDeviceController-ScriptBinding.cpp
  src/controller/python/chip/internal/CommissionerImpl.cpp
  src/darwin/CHIPTool/CHIPTool/Framework Helpers/DefaultsUtils.m
  src/darwin/Framework/CHIP/CHIPDeviceController.h
  src/darwin/Framework/CHIP/CHIPDeviceController.mm
  src/darwin/Framework/CHIP/CHIPOperationalCredentialsDelegate.h
  src/darwin/Framework/CHIP/CHIPOperationalCredentialsDelegate.mm
  src/darwin/Framework/CHIP/templates/clusters-tests.zapt
  src/darwin/Framework/CHIPTests/CHIPClustersTests.m
  src/darwin/Framework/CHIPTests/CHIPControllerTests.m
Owners: @vivien-apple, @shana-apple, @pan-apple, @andy31415, @erjianqing

Remove stale todo. (#8962)
  src/lib/mdns/Advertiser_ImplMinimalMdns.cpp
Owners: @andy31415, @gjc13, @damian-nordic

.github/CODEOWNERS:

# Current reviewers-XXX teams, who review everything for approval.
* @reviewers-amazon @reviewers-apple @reviewers-comcast @reviewers-google @reviewers-nordic @reviewers-samsung @reviewers-silabs


# BUILD system

*.gn @mspang
/build/ @mspang
/scripts/build/ @mspang

# Crypto
# Crypto primitives and high level API, generally on top of mbedtls and openssl
/src/crypto/* @pan-apple @emargolis
/src/credentials/ @pan-apple @emargolis

# Transport
# Send and receive data abstracting away the underlying protocol (UDP, TCP, BLE)
/src/transport/ @andy31415 @pan-apple

# Session establishment
# Establish a secure session (encryption keys) from one node to another.
# Includes CASE and PASE + session tracking and resumptioon
/src/protocols/secure_channel/ @pan-apple

# Message Layer
# CRMP and packet headers, generally coupled with SecureSessionManager
/src/messaging @yufengwangca @kghost @bzbarksy-apple
/src/transport/raw/MessageHeader.* @yufengwangca @kghost @bzbarksy-apple

# SecureSessionManager
# Manages per-session encryption keys and new session establishment
/src/transport/SecureSessionMgr.* @pan-apple

# Exchange management
# Joins requests and responses or ties a series of messages belonging to the 
# same protocol interaction
/src/messaging/ @yufengwangca @bzbarsky-apple
/src/channel/ @yufengwangca @bzbarsky-apple

# DNS-SD discovery and advertisement
# Advertise chip devices for commisioning, operational and discover such devices
/src/lib/mdns/ @andy31415 @gjc13 @damian-nordic

# Commisioning controller/flow
# Example of a comisioning sequence
/src/controller/ @pan-apple @erjiaqing

# Operational credentials management
# Signing certificates, maintaining roots of trust, validation, fabric management
/src/controller/ @shana-apple @pan-apple
/src/transport/AdminPairingTable.* @shana-apple @pan-apple

# TLV encoding/decoding to/from byte buffers
/src/lib/core/CHIPTLV* @yunhanw-google @bzbarsky-apple @shana-apple

# Interaction model - ember implementation
# ZCL protocol implementation: ZCL encoding to be sent over the wire as a 
# ZigbeePro protocol implementation
/src/app/util/ @vivien-apple @erjianqing @bzbarsky-apple

# Interaction model - non-ember
# Protocol implementation for IM interactions between nodes, matching spec
/src/app/ @yunhanw-google @bzbarsky-apple @mrjerryjohns

# Interaction model - code generation
# CHIP-specific infrastructure for generating code: helper js methods, scripts
# and code layout
/src/app/zap-templates/ @vivien-apple @erjianqing

# ZAP suppport
# UI for editing XML, generates code from such ZML and configuration files
# NOT part of CHIP however CHIP relies heavily on ZAP.
#    @vivien-apple  @tecimovic

# 'Standard' cluster implementations (server side)
# Clusters shipped with the sdk, can be integrated as-is or used as a template
/src/app/clusters/ @vivien-apple

# Onboarding payload
# Parsing and generation of codes (includes QR and NFC), numeric pairing payload
/src/setup_payload/ @shana-apple @vivien-apple @jrhees-cae

# Device Layer
# Porting interfaces, scaffolding for building an example firmware
/src/platform/ @mspang @yufengwangca
/src/include/platform/ @mspang @yufengwangca

# Persistent storage
# Save state across reboots
/src/platform/*/KeyValueStore* @rgoliver

# Python bindings for CHIP - CLI
# Allows python code to use CHIP, generally targeted towards automation
/src/controller/python/ @andy31415 @erjianqing

# CHIP-tool C++ CLI
# Command line interface to chip as a client (controller and commisioner)
# Includes generated code for every base cluster
/examples/chip-tool/ @vivien-apple

# CHIP-tool iOS UI
/src/darwin/CHIPTool/ @shana-apple

# CHIP-tool Android
/src/android/CHIPTool/ @austinh0
/src/controller/java/ @austinh0

# End2End autogenerated tests
/src/darwin/Framework/Chip-templates/ @vivien-apple
/src/app/tests/suites/ @vivien-apple

# End2End cirque tests
# Simulate topology (cirque) and ptyhon-based test automation
/src/test_driver/linux/cirque/ @erjianqing @yunhanw-google

# Thread integration
# Thread-specific functionality (network provisioning, operational discovery, SRP registration etc.)
/src/platform/OpenThread/ @bukepo
/src/platform/*/ThreadStackmanagerImpl.* @bukepo

# Inet
# Networking abstraction layer (UDP-endpoint, TCP-endpoint, InetLayerBasis)
/src/inet/ @kpschoedel 

# System layer
/src/system/ @kpschoedel 

# BLE support
/src/ble/ @yunhanw-google

# CHIP Shell
# Command-line UART/stdin interface as a side-channel to CHIP accessories
# Aimed as user-friendly/manual control
/src/examples/shell/ @gjc13 @yufengwangca

# RPC
# Side-channlel command path (outside chip), generally for automation and debugging
# Aimed as "scriptable" when compared to shell
/examples/common/pigweed/ @rgoliver
/examples/pigweed-app/ @rgoliver

# Tooling for crypto manual generation
# Generates data for sample PKI
/src/tools/chip-cert/ @emargolis

# Channel API
# Construct a transport/secure session based on peer info and transport type.
# Focused on CASE session establishment
/src/channel/ @kghost

# Darwin framework
# Exposes a darwin API (Objective-C/swift rather than raw C++ API) for darwin
# applications
/src/darwin/Framework/ @shana-apple @vivien-apple @pan-apple
