Repository project-chip/connectedhomeip, changes with the owners that .github/CODEOWNERS names for each.
All owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @mspang, @pan-apple, @emargolis, @andy31415, @yufengwangca, @kghost, @bzbarksy-apple, @bzbarsky-apple, @gjc13, @damian-nordic, @erjiaqing, @shana-apple, @yunhanw-google, @vivien-apple, @erjianqing, @mrjerryjohns, @jrhees-cae, @rgoliver, @austinh0, @bukepo, @kpschoedel

.github/CODEOWNERS:

# Current reviewers-XXX teams, who review everything for approval.
* @reviewers-amazon @reviewers-apple @reviewers-comcast @reviewers-google @reviewers-nordic @reviewers-samsung @reviewers-silabs


# BUILD system

*.gn @mspang
/build/ @mspang
/scripts/build/ @mspang

# Crypto
# Crypto primitives and high level API, generally on top of mbedtls and openssl
/src/crypto/* @pan-apple @emargolis
/src/credentials/ @pan-apple @emargolis

# Transport
# Send and receive data abstracting away the underlying protocol (UDP, TCP, BLE)
/src/transport/ @andy31415 @pan-apple

# Session establishment
# Establish a secure session (encryption keys) from one node to another.
# Includes CASE and PASE + session tracking and resumptioon
/src/protocols/secure_channel/ @pan-apple

# Message Layer
# CRMP and packet headers, generally coupled with SecureSessionManager
/src/messaging @yufengwangca @kghost @bzbarksy-apple
/src/transport/raw/MessageHeader.* @yufengwangca @kghost @bzbarksy-apple

# SecureSessionManager
# Manages per-session encryption keys and new session establishment
/src/transport/SecureSessionMgr.* @pan-apple

# Exchange management
# Joins requests and responses or ties a series of messages belonging to the 
# same protocol interaction
/src/messaging/ @yufengwangca @bzbarsky-apple
/src/channel/ @yufengwangca @bzbarsky-apple

# DNS-SD discovery and advertisement
# Advertise chip devices for commisioning, operational and discover such devices
/src/lib/mdns/ @andy31415 @gjc13 @damian-nordic

# Commisioning controller/flow
# Example of a comisioning sequence
/src/controller/ @pan-apple @erjiaqing

# Operational credentials management
# Signing certificates, maintaining roots of trust, validation, fabric management
/src/controller/ @shana-apple @pan-apple
/src/transport/AdminPairingTable.* @shana-apple @pan-apple

# TLV encoding/decoding to/from byte buffers
/src/lib/core/CHIPTLV* @yunhanw-google @bzbarsky-apple @shana-apple

# Interaction model - ember implementation
# ZCL protocol implementation: ZCL encoding to be sent over the wire as a 
# ZigbeePro protocol implementation
/src/app/util/ @vivien-apple @erjianqing @bzbarsky-apple

# Interaction model - non-ember
# Protocol implementation for IM interactions between nodes, matching spec
/src/app/ @yunhanw-google @bzbarsky-apple @mrjerryjohns

# Interaction model - code generation
# CHIP-specific infrastructure for generating code: helper js methods, scripts
# and code layout
/src/app/zap-templates/ @vivien-apple @erjianqing

# ZAP suppport
# UI for editing XML, generates code from such ZML and configuration files
# NOT part of CHIP however CHIP relies heavily on ZAP.
#    @vivien-apple  @tecimovic

# 'Standard' cluster implementations (server side)
# Clusters shipped with the sdk, can be integrated as-is or used as a template
/src/app/clusters/ @vivien-apple

# Onboarding payload
# Parsing and generation of codes (includes QR and NFC), numeric pairing payload
/src/setup_payload/ @shana-apple @vivien-apple @jrhees-cae

# Device Layer
# Porting interfaces, scaffolding for building an example firmware
/src/platform/ @mspang @yufengwangca
/src/include/platform/ @mspang @yufengwangca

# Persistent storage
# Save state across reboots
/src/platform/*/KeyValueStore* @rgoliver

# Python bindings for CHIP - CLI
# Allows python code to use CHIP, generally targeted towards automation
/src/controller/python/ @andy31415 @erjianqing

# CHIP-tool C++ CLI
# Command line interface to chip as a client (controller and commisioner)
# Includes generated code for every base cluster
/examples/chip-tool/ @vivien-apple

# CHIP-tool iOS UI
/src/darwin/CHIPTool/ @shana-apple

# CHIP-tool Android
/src/android/CHIPTool/ @austinh0
/src/controller/java/ @austinh0

# End2End autogenerated tests
/src/darwin/Framework/Chip-templates/ @vivien-apple
/src/app/tests/suites/ @vivien-apple

# End2End cirque tests
# Simulate topology (cirque) and ptyhon-based test automation
/src/test_driver/linux/cirque/ @erjianqing @yunhanw-google

# Thread integration
# Thread-specific functionality (network provisioning, operational discovery, SRP registration etc.)
/src/platform/OpenThread/ @bukepo
/src/platform/*/ThreadStackmanagerImpl.* @bukepo

# Inet
# Networking abstraction layer (UDP-endpoint, TCP-endpoint, InetLayerBasis)
/src/inet/ @kpschoedel 

# System layer
/src/system/ @kpschoedel 

# BLE support
/src/ble/ @yunhanw-google

# CHIP Shell
# Command-line UART/stdin interface as a side-channel to CHIP accessories
# Aimed as user-friendly/manual control
/src/examples/shell/ @gjc13 @yufengwangca

# RPC
# Side-channlel command path (outside chip), generally for automation and debugging
# Aimed as "scriptable" when compared to shell
/examples/common/pigweed/ @rgoliver
/examples/pigweed-app/ @rgoliver

# Tooling for crypto manual generation
# Generates data for sample PKI
/src/tools/chip-cert/ @emargolis

# Channel API
# Construct a transport/secure session based on peer info and transport type.
# Focused on CASE session establishment
/src/channel/ @kghost

# Darwin framework
# Exposes a darwin API (Objective-C/swift rather than raw C++ API) for darwin
# applications
/src/darwin/Framework/ @shana-apple @vivien-apple @pan-apple

Fix temperature value and unit displayed in iOS ChipTool (#9295) (#9324)
  src/darwin/CHIPTool/CHIPTool/View Controllers/Temperature Sensor/TemperatureSensorViewController.m
Owners: @shana-apple

Wait for Wi-Fi management to start up (#8834) (#9322)
  examples/platform/linux/AppMain.cpp
  src/platform/Linux/ConnectivityManagerImpl.cpp
  src/platform/Linux/ConnectivityManagerImpl.h
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @mspang, @yufengwangca

[cirque] Enable TestResolve (#9321)
  src/controller/python/test/test_scripts/base.py
  src/controller/python/test/test_scripts/mobile-device-test.py
Owners: @andy31415, @erjianqing

Close BLE connection after commissioning (#9286)
  src/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/CHIPToolActivity.kt
Owners: @austinh0

[docs] Document IP Pairing and chip-tool tests. (#8548)
  docs/QUICK_START.md
  examples/chip-tool/README.md
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @vivien-apple

move PrepareListFromTLV definition into a cpp file
  src/app/chip_data_model.gni
  src/app/util/prepare-list.cpp
  src/app/util/prepare-list.h
Owners: @yunhanw-google, @bzbarsky-apple, @mrjerryjohns

Attempt to fix CI build caused by weird branch confusion
  examples/chip-tool/commands/discover/DiscoverCommissionablesCommand.cpp
  src/app/server/Mdns.cpp
  src/lib/mdns/Resolver.h
  src/lib/mdns/Resolver_ImplMinimalMdns.cpp
Owners: @vivien-apple, @yunhanw-google, @bzbarsky-apple, @mrjerryjohns, @andy31415, @gjc13, @damian-nordic

Close BLE connections after the Operational Network is provisioned on a Node (#9379)
  src/app/server/RendezvousServer.cpp
Owners: @yunhanw-google, @bzbarsky-apple, @mrjerryjohns

Add some linux cross compilers (#9353)
  build/config/BUILDCONFIG.gn
  build/config/compiler/BUILD.gn
  build/toolchain/linux/BUILD.gn
  src/darwin/Framework/chip_xcode_build_connector.sh
Owners: @mspang, @shana-apple, @vivien-apple, @pan-apple

[TE5] Add Python controller command to open enhanced commissioning window for multi-admin (#9369)
  src/app/BUILD.gn
  src/app/server/RendezvousServer.cpp
  src/controller/CHIPDevice.cpp
  src/controller/CHIPDevice.h
  src/controller/CHIPDeviceController.cpp
  src/controller/CHIPDeviceController.h
  src/controller/python/ChipDeviceController-ScriptBinding.cpp
  src/controller/python/chip-device-ctrl.py
  src/controller/python/chip/ChipDeviceCtrl.py
Owners: @yunhanw-google, @bzbarsky-apple, @mrjerryjohns, @shana-apple, @pan-apple, @andy31415, @erjianqing

Generated Matter Development Product Attestation Authority (PAA) Certificate. (#9351)
  credentials/development/attestation/Chip-Development-PAA-Cert.der
  credentials/development/attestation/Chip-Development-PAA-Cert.pem
  credentials/development/attestation/Chip-Development-PAA-Key.der
  credentials/development/attestation/Chip-Development-PAA-Key.pem
  credentials/development/gen-development-paa-cert.sh
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Enable and use Rendezvous BLE (and its dependencies) only when Bluetooth is enabled in menuconfig (#9319)
  config/esp32/components/chip/CMakeLists.txt
  config/esp32/components/chip/Kconfig
  examples/all-clusters-app/esp32/main/Kconfig.projbuild
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Fix Bluetooth advertising based on build arguments (#9292)
  examples/platform/linux/AppMain.cpp
  examples/platform/linux/Options.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Replace hand-written Thread provisioning code with Java clusters (#9282)
  src/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/GenericChipDeviceListener.kt
  src/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/provisioning/DeviceProvisioningFragment.kt
  src/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/provisioning/EnterNetworkFragment.kt
  src/controller/java/CHIPDeviceController-JNI.cpp
  src/controller/java/src/chip/devicecontroller/ChipDeviceController.java
Owners: @austinh0

[TV app] Enable missing client callbacks (#9359)
  examples/tv-app/tv-common/BUILD.gn
  examples/tv-app/tv-common/tv-app.zap
  src/app/zap-templates/templates/app/CHIPClientCallbacks-src.zapt
  zzz_generated/controller-clusters/zap-generated/CHIPClientCallbacks.cpp
  zzz_generated/lighting-app/zap-generated/CHIPClientCallbacks.cpp
  zzz_generated/pump-app/zap-generated/CHIPClientCallbacks.cpp
  zzz_generated/pump-controller-app/zap-generated/CHIPClientCallbacks.cpp
  zzz_generated/tv-app/zap-generated/CHIPClientCallbacks.cpp
  zzz_generated/tv-app/zap-generated/CHIPClientCallbacks.h
  zzz_generated/tv-app/zap-generated/CHIPClusters.cpp
  zzz_generated/tv-app/zap-generated/CHIPClusters.h
  zzz_generated/tv-app/zap-generated/IMClusterCommandHandler.cpp
  zzz_generated/tv-app/zap-generated/endpoint_config.h
  zzz_generated/tv-app/zap-generated/gen_config.h
Owners: @mspang, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @vivien-apple, @erjianqing

Workaround: Temorarily enable BLE during Enhanced Commissioning Window (#9344)
  src/app/server/Server.cpp
Owners: @yunhanw-google, @bzbarsky-apple, @mrjerryjohns

Remove default constructor of SessionHandle, reduce dangling session handle
  src/app/CommandSender.cpp
  src/app/CommandSender.h
  src/app/ReadPrepareParams.h
  src/app/WriteClient.cpp
  src/app/WriteClient.h
  src/app/tests/TestCommandInteraction.cpp
  src/app/tests/TestReadInteraction.cpp
  src/app/tests/TestWriteInteraction.cpp
  src/app/tests/integration/chip_im_initiator.cpp
  src/channel/ChannelContext.cpp
  src/controller/CHIPDevice.cpp
  src/controller/CHIPDevice.h
  src/controller/CHIPDeviceController.cpp
  src/messaging/ExchangeContext.cpp
  src/messaging/ExchangeContext.h
  src/messaging/ExchangeMgr.cpp
  src/protocols/echo/Echo.h
  src/protocols/echo/EchoClient.cpp
  src/transport/SecureSessionMgr.cpp
  src/transport/SessionHandle.h
  src/transport/tests/TestSecureSessionMgr.cpp
  src/transport/tests/TestSessionHandle.cpp
Owners: @yunhanw-google, @bzbarsky-apple, @mrjerryjohns, @kghost, @shana-apple, @pan-apple, @yufengwangca, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @andy31415

unauthenticated-session
  src/app/server/RendezvousServer.cpp
  src/channel/ChannelContext.cpp
  src/controller/CHIPDevice.cpp
  src/controller/CHIPDeviceController.cpp
  src/lib/core/CHIPConfig.h
  src/lib/core/CHIPError.cpp
  src/lib/core/CHIPError.h
  src/lib/support/Pool.h
  src/lib/support/ReferenceCountedHandle.h
  src/messaging/ApplicationExchangeDispatch.cpp
  src/messaging/ExchangeMessageDispatch.h
  src/messaging/ReliableMessageMgr.cpp
  src/messaging/tests/MessagingContext.cpp
  src/messaging/tests/MessagingContext.h
  src/messaging/tests/TestReliableMessageProtocol.cpp
  src/protocols/secure_channel/CASEServer.cpp
  src/protocols/secure_channel/CASESession.cpp
  src/protocols/secure_channel/PASESession.cpp
  src/protocols/secure_channel/SessionEstablishmentExchangeDispatch.cpp
  src/protocols/secure_channel/SessionEstablishmentExchangeDispatch.h
  src/protocols/secure_channel/tests/TestCASESession.cpp
  src/protocols/secure_channel/tests/TestPASESession.cpp
  src/transport/PeerMessageCounter.h
  src/transport/SecureSessionMgr.cpp
  src/transport/SecureSessionMgr.h
  src/transport/SessionHandle.h
  src/transport/UnauthenticatedSessionTable.h
  src/transport/tests/TestSecureSessionMgr.cpp
Owners: @yunhanw-google, @bzbarsky-apple, @mrjerryjohns, @kghost, @shana-apple, @pan-apple, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @yufengwangca, @andy31415

Restyled by clang-format
  src/transport/PeerMessageCounter.h
Owners: @andy31415, @pan-apple

Add read attribute positive and negative unit tests (#9317)
  src/app/ClusterInfo.h
  src/app/InteractionModelEngine.cpp
  src/app/InteractionModelEngine.h
  src/app/ReadClient.cpp
  src/app/ReadClient.h
  src/app/ReadHandler.cpp
  src/app/ReadHandler.h
  src/app/reporting/Engine.cpp
  src/app/tests/TestClusterInfo.cpp
  src/app/tests/TestCommandInteraction.cpp
  src/app/tests/TestReadInteraction.cpp
  src/app/tests/TestReportingEngine.cpp
  src/app/tests/integration/chip_im_initiator.cpp
  src/lib/core/CHIPConfig.h
Owners: @yunhanw-google, @bzbarsky-apple, @mrjerryjohns, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

fix code merge error: missed inputAddressBtn
  src/android/CHIPTool/app/src/main/res/layout/barcode_fragment.xml
Owners: @austinh0

Restyled by clang-format
  examples/minimal-mdns/advertiser.cpp
  examples/minimal-mdns/client.cpp
  examples/minimal-mdns/server.cpp
  src/app/server/Mdns.cpp
  src/app/server/Server.cpp
  src/controller/AbstractMdnsDiscoveryController.h
  src/controller/CHIPCommissionableNodeController.h
  src/controller/python/ChipDeviceController-ScriptBinding.cpp
  src/controller/python/chip/discovery/NodeResolution.cpp
  src/credentials/CHIPCert.cpp
  src/credentials/CHIPCert.h
  src/credentials/CHIPCertFromX509.cpp
  src/credentials/CHIPCertToX509.cpp
  src/credentials/GenerateChipX509Cert.cpp
  src/lib/asn1/tests/TestASN1.cpp
  src/lib/mdns/Advertiser_ImplMinimalMdns.cpp
  src/lib/mdns/Advertiser_ImplMinimalMdnsAllocator.h
  src/lib/mdns/Discovery_ImplPlatform.cpp
  src/lib/mdns/Resolver_ImplMinimalMdns.cpp
  src/lib/mdns/ServiceNaming.h
  src/lib/mdns/TxtFields.cpp
  src/lib/mdns/TxtFields.h
  src/lib/mdns/minimal/core/tests/TestFlatAllocatedQName.cpp
  src/lib/mdns/minimal/core/tests/TestQName.cpp
  src/lib/mdns/minimal/records/tests/TestResourceRecord.cpp
  src/lib/mdns/minimal/records/tests/TestResourceRecordIP.cpp
  src/lib/mdns/minimal/responders/tests/TestPtrResponder.cpp
  src/lib/mdns/minimal/tests/CheckOnlyServer.h
  src/lib/mdns/minimal/tests/TestAdvertiser.cpp
  src/lib/mdns/minimal/tests/TestQueryReplyFilter.cpp
  src/lib/mdns/platform/tests/TestPlatform.cpp
  src/lib/mdns/tests/TestTxtFields.cpp
  src/lib/shell/tests/TestStreamerStdio.cpp
  src/protocols/user_directed_commissioning/UserDirectedCommissioning.h
  src/tools/chip-cert/chip-cert.h
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @yunhanw-google, @bzbarsky-apple, @mrjerryjohns, @shana-apple, @pan-apple, @andy31415, @erjianqing, @emargolis, @gjc13, @damian-nordic

Create PayloadContents inner class to avoid overhead of optional info
  examples/all-clusters-app/esp32/main/main.cpp
  examples/bridge-app/linux/main.cpp
  examples/chip-tool/commands/pairing/PairingCommand.cpp
  examples/chip-tool/commands/payload/SetupPayloadParseCommand.cpp
  examples/platform/linux/AppMain.cpp
  examples/platform/linux/Options.cpp
  src/app/server/OnboardingCodesUtil.cpp
  src/app/server/OnboardingCodesUtil.h
  src/controller/CHIPDevice.cpp
  src/controller/CHIPDeviceController.cpp
  src/controller/python/chip/setup_payload/Generator.cpp
  src/controller/python/chip/setup_payload/Parser.cpp
  src/darwin/Framework/CHIP/CHIPDevice.mm
  src/darwin/Framework/CHIP/CHIPSetupPayload.mm
  src/setup_payload/ManualSetupPayloadGenerator.cpp
  src/setup_payload/ManualSetupPayloadGenerator.h
  src/setup_payload/ManualSetupPayloadParser.cpp
  src/setup_payload/QRCodeSetupPayloadGenerator.cpp
  src/setup_payload/QRCodeSetupPayloadGenerator.h
  src/setup_payload/QRCodeSetupPayloadParser.cpp
  src/setup_payload/SetupPayload.cpp
  src/setup_payload/SetupPayload.h
  src/setup_payload/SetupPayloadHelper.cpp
  src/setup_payload/java/SetupPayloadParser-JNI.cpp
  src/setup_payload/tests/TestHelpers.h
  src/setup_payload/tests/TestManualCode.cpp
  src/setup_payload/tests/TestQRCode.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @vivien-apple, @yunhanw-google, @bzbarsky-apple, @mrjerryjohns, @shana-apple, @pan-apple, @andy31415, @erjianqing, @jrhees-cae

Remove duplicate path in IM Read
  src/app/InteractionModelEngine.cpp
  src/app/InteractionModelEngine.h
  src/app/ReadHandler.cpp
  src/app/ReadHandler.h
  src/app/tests/TestReadInteraction.cpp
Owners: @yunhanw-google, @bzbarsky-apple, @mrjerryjohns

Restyled by clang-format
  src/app/InteractionModelEngine.cpp
  src/app/ReadHandler.cpp
Owners: @yunhanw-google, @bzbarsky-apple, @mrjerryjohns

Add #pragma GCC diagnostic ignored "-Wstack-usage=" in identified places (#9368)
  src/app/server/StorablePeerConnection.cpp
  src/protocols/secure_channel/CASESession.cpp
  src/transport/FabricTable.cpp
Owners: @yunhanw-google, @bzbarsky-apple, @mrjerryjohns, @pan-apple, @andy31415

Restyled by clang-format
  examples/all-clusters-app/esp32/main/main.cpp
  src/controller/CHIPDevice.cpp
  src/setup_payload/QRCodeSetupPayloadGenerator.cpp
  src/setup_payload/SetupPayload.cpp
  src/setup_payload/java/SetupPayloadParser-JNI.cpp
  src/setup_payload/tests/TestManualCode.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @shana-apple, @pan-apple, @vivien-apple, @jrhees-cae

ESP32: Deinitialize memory for ble after successful commissioning
  examples/all-clusters-app/esp32/main/DeviceCallbacks.cpp
  src/controller/CHIPDeviceController.cpp
  src/controller/CHIPDeviceController.h
  src/controller/python/ChipDeviceController-ScriptBinding.cpp
  src/controller/python/chip-device-ctrl.py
  src/controller/python/chip/ChipDeviceCtrl.py
  src/platform/ESP32/bluedroid/BLEManagerImpl.cpp
  src/platform/ESP32/nimble/BLEManagerImpl.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @shana-apple, @pan-apple, @andy31415, @erjianqing, @mspang, @yufengwangca

Restyled by whitespace
  src/controller/CHIPDeviceController.h
Owners: @shana-apple, @pan-apple

ESP32: Expose BLE connection events and commissioning complete events to the application.
  examples/all-clusters-app/esp32/main/DeviceCallbacks.cpp
  src/controller/CHIPDeviceController.cpp
  src/controller/CHIPDeviceController.h
  src/controller/python/ChipDeviceController-ScriptBinding.cpp
  src/controller/python/chip-device-ctrl.py
  src/controller/python/chip/ChipDeviceCtrl.py
  src/platform/ESP32/bluedroid/BLEManagerImpl.cpp
  src/platform/ESP32/nimble/BLEManagerImpl.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @shana-apple, @pan-apple, @andy31415, @erjianqing, @mspang, @yufengwangca

Revert "Close BLE connections after the Operational Network is provisioned on a Node (#9379)"
  src/app/server/RendezvousServer.cpp
Owners: @yunhanw-google, @bzbarsky-apple, @mrjerryjohns

Changes restyle
  src/platform/mbed/Logging.h
Owners: @mspang, @yufengwangca

[android] Exit to the main screen after commissioning
  docs/guides/nrfconnect_android_commissioning.md
  src/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/CHIPToolActivity.kt
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @austinh0

Restyled by prettier-markdown
  docs/guides/nrfconnect_android_commissioning.md
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Print a message on commissioning completion
  src/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/CHIPToolActivity.kt
  src/android/CHIPTool/app/src/main/res/values/strings.xml
Owners: @austinh0

WC: Update ClusterRevision to Matter initial release
  examples/window-app/common/window-app.zap
  src/app/tests/suites/certification/Test_TC_WNCV_1_1.yaml
  src/app/zap-templates/zcl/data-model/chip/window-covering.xml
  src/controller/data_model/controller-clusters.zap
  src/darwin/Framework/CHIPTests/CHIPClustersTests.m
  zzz_generated/all-clusters-app/zap-generated/endpoint_config.h
  zzz_generated/chip-tool/zap-generated/test/Commands.h
  zzz_generated/controller-clusters/zap-generated/endpoint_config.h
  zzz_generated/window-app/zap-generated/endpoint_config.h
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @vivien-apple, @erjianqing, @shana-apple, @pan-apple

[Telink]: Update chip-build-telink docker file with specific revision of Zephyr
  integrations/docker/images/chip-build-telink/Dockerfile
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

[Telink]: update chip-build-telink Dockerfile to make it works with upstream zephyr
  integrations/docker/images/chip-build-telink/Dockerfile
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

[Telink]: fix restyled issues
  integrations/docker/images/chip-build-telink/Dockerfile
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

[Telink]: Update chip-build-telink to reduce image size
  integrations/docker/images/chip-build-telink/Dockerfile
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs
