Repository project-chip/connectedhomeip, changes with the owners that .github/CODEOWNERS names for each.
All owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @mspang, @pan-apple, @emargolis, @andy31415, @yufengwangca, @kghost, @bzbarksy-apple, @bzbarsky-apple, @gjc13, @damian-nordic, @erjiaqing, @shana-apple, @yunhanw-google, @vivien-apple, @erjianqing, @mrjerryjohns, @jrhees-cae, @rgoliver, @austinh0, @bukepo, @kpschoedel

.github/CODEOWNERS:

# Current reviewers-XXX teams, who review everything for approval.
* @reviewers-amazon @reviewers-apple @reviewers-comcast @reviewers-google @reviewers-nordic @reviewers-samsung @reviewers-silabs


# BUILD system

*.gn @mspang
/build/ @mspang
/scripts/build/ @mspang

# Crypto
# Crypto primitives and high level API, generally on top of mbedtls and openssl
/src/crypto/* @pan-apple @emargolis
/src/credentials/ @pan-apple @emargolis

# Transport
# Send and receive data abstracting away the underlying protocol (UDP, TCP, BLE)
/src/transport/ @andy31415 @pan-apple

# Session establishment
# Establish a secure session (encryption keys) from one node to another.
# Includes CASE and PASE + session tracking and resumptioon
/src/protocols/secure_channel/ @pan-apple

# Message Layer
# CRMP and packet headers, generally coupled with SecureSessionManager
/src/messaging @yufengwangca @kghost @bzbarksy-apple
/src/transport/raw/MessageHeader.* @yufengwangca @kghost @bzbarksy-apple

# SecureSessionManager
# Manages per-session encryption keys and new session establishment
/src/transport/SecureSessionMgr.* @pan-apple

# Exchange management
# Joins requests and responses or ties a series of messages belonging to the 
# same protocol interaction
/src/messaging/ @yufengwangca @bzbarsky-apple
/src/channel/ @yufengwangca @bzbarsky-apple

# DNS-SD discovery and advertisement
# Advertise chip devices for commisioning, operational and discover such devices
/src/lib/mdns/ @andy31415 @gjc13 @damian-nordic

# Commisioning controller/flow
# Example of a comisioning sequence
/src/controller/ @pan-apple @erjiaqing

# Operational credentials management
# Signing certificates, maintaining roots of trust, validation, fabric management
/src/controller/ @shana-apple @pan-apple
/src/transport/AdminPairingTable.* @shana-apple @pan-apple

# TLV encoding/decoding to/from byte buffers
/src/lib/core/CHIPTLV* @yunhanw-google @bzbarsky-apple @shana-apple

# Interaction model - ember implementation
# ZCL protocol implementation: ZCL encoding to be sent over the wire as a 
# ZigbeePro protocol implementation
/src/app/util/ @vivien-apple @erjianqing @bzbarsky-apple

# Interaction model - non-ember
# Protocol implementation for IM interactions between nodes, matching spec
/src/app/ @yunhanw-google @bzbarsky-apple @mrjerryjohns

# Interaction model - code generation
# CHIP-specific infrastructure for generating code: helper js methods, scripts
# and code layout
/src/app/zap-templates/ @vivien-apple @erjianqing

# ZAP suppport
# UI for editing XML, generates code from such ZML and configuration files
# NOT part of CHIP however CHIP relies heavily on ZAP.
#    @vivien-apple  @tecimovic

# 'Standard' cluster implementations (server side)
# Clusters shipped with the sdk, can be integrated as-is or used as a template
/src/app/clusters/ @vivien-apple

# Onboarding payload
# Parsing and generation of codes (includes QR and NFC), numeric pairing payload
/src/setup_payload/ @shana-apple @vivien-apple @jrhees-cae

# Device Layer
# Porting interfaces, scaffolding for building an example firmware
/src/platform/ @mspang @yufengwangca
/src/include/platform/ @mspang @yufengwangca

# Persistent storage
# Save state across reboots
/src/platform/*/KeyValueStore* @rgoliver

# Python bindings for CHIP - CLI
# Allows python code to use CHIP, generally targeted towards automation
/src/controller/python/ @andy31415 @erjianqing

# CHIP-tool C++ CLI
# Command line interface to chip as a client (controller and commisioner)
# Includes generated code for every base cluster
/examples/chip-tool/ @vivien-apple

# CHIP-tool iOS UI
/src/darwin/CHIPTool/ @shana-apple

# CHIP-tool Android
/src/android/CHIPTool/ @austinh0
/src/controller/java/ @austinh0

# End2End autogenerated tests
/src/darwin/Framework/Chip-templates/ @vivien-apple
/src/app/tests/suites/ @vivien-apple

# End2End cirque tests
# Simulate topology (cirque) and ptyhon-based test automation
/src/test_driver/linux/cirque/ @erjianqing @yunhanw-google

# Thread integration
# Thread-specific functionality (network provisioning, operational discovery, SRP registration etc.)
/src/platform/OpenThread/ @bukepo
/src/platform/*/ThreadStackmanagerImpl.* @bukepo

# Inet
# Networking abstraction layer (UDP-endpoint, TCP-endpoint, InetLayerBasis)
/src/inet/ @kpschoedel 

# System layer
/src/system/ @kpschoedel 

# BLE support
/src/ble/ @yunhanw-google

# CHIP Shell
# Command-line UART/stdin interface as a side-channel to CHIP accessories
# Aimed as user-friendly/manual control
/src/examples/shell/ @gjc13 @yufengwangca

# RPC
# Side-channlel command path (outside chip), generally for automation and debugging
# Aimed as "scriptable" when compared to shell
/examples/common/pigweed/ @rgoliver
/examples/pigweed-app/ @rgoliver

# Tooling for crypto manual generation
# Generates data for sample PKI
/src/tools/chip-cert/ @emargolis

# Channel API
# Construct a transport/secure session based on peer info and transport type.
# Focused on CASE session establishment
/src/channel/ @kghost

# Darwin framework
# Exposes a darwin API (Objective-C/swift rather than raw C++ API) for darwin
# applications
/src/darwin/Framework/ @shana-apple @vivien-apple @pan-apple

Add endpoint id to command handler's param list
  examples/tv-app/linux/include/content-launcher/ContentLauncherManager.cpp
  examples/window-app/efr32/src/ZclCallbacks.cpp
  src/app/clusters/account-login-server/account-login-server.cpp
  src/app/clusters/application-basic-server/application-basic-server.cpp
  src/app/clusters/application-launcher-server/application-launcher-server.cpp
  src/app/clusters/audio-output-server/audio-output-server.cpp
  src/app/clusters/barrier-control-server/barrier-control-server.cpp
  src/app/clusters/bindings/bindings.cpp
  src/app/clusters/color-control-server/color-control-server.cpp
  src/app/clusters/diagnostic-logs-server/diagnostic-logs-server.cpp
  src/app/clusters/door-lock-server/door-lock-server-logging.cpp
  src/app/clusters/door-lock-server/door-lock-server-schedule.cpp
  src/app/clusters/door-lock-server/door-lock-server-user.cpp
  src/app/clusters/ethernet_network_diagnostics_server/ethernet_network_diagnostics_server.cpp
  src/app/clusters/general-commissioning-server/general-commissioning-server.cpp
  src/app/clusters/groups-server/groups-server.cpp
  src/app/clusters/ias-zone-server/ias-zone-server.cpp
  src/app/clusters/identify/identify.cpp
  src/app/clusters/keypad-input-server/keypad-input-server.cpp
  src/app/clusters/level-control/level-control.cpp
  src/app/clusters/low-power-server/low-power-server.cpp
  src/app/clusters/media-input-server/media-input-server.cpp
  src/app/clusters/media-playback-server/media-playback-server.cpp
  src/app/clusters/network-commissioning/network-commissioning-ember.cpp
  src/app/clusters/on-off-server/on-off-server.cpp
  src/app/clusters/operational-credentials-server/operational-credentials-server.cpp
  src/app/clusters/ota-provider/ota-provider.cpp
  src/app/clusters/scenes/scenes.cpp
  src/app/clusters/software_diagnostics_server/software_diagnostics_server.cpp
  src/app/clusters/target-navigator-server/target-navigator-server.cpp
  src/app/clusters/test-cluster-server/test-cluster-server.cpp
  src/app/clusters/thread_network_diagnostics_server/thread_network_diagnostics_server.cpp
  src/app/clusters/tv-channel-server/tv-channel-server.cpp
  src/app/clusters/wifi_network_diagnostics_server/wifi_network_diagnostics_server.cpp
  src/app/zap-templates/partials/im_command_handler_cluster_commands.zapt
  src/app/zap-templates/templates/app/CHIPClientCallbacks-src.zapt
  src/app/zap-templates/templates/app/callback.zapt
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @vivien-apple, @erjianqing

Update gen folders
  examples/all-clusters-app/all-clusters-common/gen/IMClusterCommandHandler.cpp
  examples/bridge-app/bridge-common/gen/IMClusterCommandHandler.cpp
  examples/lighting-app/lighting-common/gen/IMClusterCommandHandler.cpp
  examples/lock-app/lock-common/gen/IMClusterCommandHandler.cpp
  examples/pump-app/pump-common/gen/IMClusterCommandHandler.cpp
  examples/pump-controller-app/pump-controller-common/gen/IMClusterCommandHandler.cpp
  examples/temperature-measurement-app/esp32/main/gen/IMClusterCommandHandler.cpp
  examples/thermostat/thermostat-common/gen/IMClusterCommandHandler.cpp
  examples/tv-app/tv-common/gen/IMClusterCommandHandler.cpp
  examples/window-app/common/gen/IMClusterCommandHandler.cpp
  src/app/common/gen/callback.h
  src/controller/data_model/gen/CHIPClientCallbacks.cpp
  src/controller/data_model/gen/IMClusterCommandHandler.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @yunhanw-google, @bzbarsky-apple, @mrjerryjohns, @shana-apple, @pan-apple

Close exchanges automatically after a message send if no response is expected (#8459)
  examples/shell/shell_common/cmd_send.cpp
  src/app/ReadHandler.cpp
  src/app/ReadHandler.h
  src/app/WriteHandler.cpp
  src/app/WriteHandler.h
  src/app/tests/TestWriteInteraction.cpp
  src/app/util/chip-message-send.cpp
  src/channel/tests/TestChannel.cpp
  src/controller/CHIPCluster.cpp
  src/controller/CHIPDevice.cpp
  src/controller/CHIPDevice.h
  src/controller/java/CHIPDeviceController-JNI.cpp
  src/messaging/ExchangeContext.cpp
  src/messaging/ExchangeContext.h
  src/messaging/tests/TestExchangeMgr.cpp
  src/messaging/tests/TestReliableMessageProtocol.cpp
  src/protocols/echo/Echo.h
  src/protocols/echo/EchoClient.cpp
  src/protocols/echo/EchoServer.cpp
  src/protocols/secure_channel/MessageCounterManager.cpp
  src/protocols/secure_channel/tests/TestMessageCounterManager.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @yunhanw-google, @bzbarsky-apple, @mrjerryjohns, @kghost, @shana-apple, @pan-apple, @austinh0, @yufengwangca

Restyle fix
  src/controller/CHIPDeviceController.cpp
Owners: @shana-apple, @pan-apple

Restyled by clang-format
  examples/lighting-app/nrfconnect/main/main.cpp
  examples/lock-app/nrfconnect/main/main.cpp
  src/platform/OpenThread/GenericThreadStackManagerImpl_OpenThread.cpp
  src/platform/Zephyr/BLEManagerImpl.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @bukepo, @mspang, @yufengwangca

Make CHIP_ERROR a class type on nrfconnect
  examples/lighting-app/nrfconnect/main/main.cpp
  examples/lock-app/nrfconnect/main/main.cpp
  examples/shell/shell_common/cmd_otcli.cpp
  src/platform/OpenThread/GenericThreadStackManagerImpl_OpenThread.cpp
  src/platform/Zephyr/BLEManagerImpl.cpp
  src/platform/nrfconnect/CHIPPlatformConfig.h
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @bukepo, @mspang, @yufengwangca

Roll Pigweed and update console (#8643)
  examples/common/pigweed/rpc_console/py/chip_rpc/console.py
Owners: @rgoliver

ember code cleanup
  src/app/util/process-global-message.cpp
Owners: @yunhanw-google, @bzbarsky-apple, @mrjerryjohns

[im] Land IM WriteRequest message
  src/app/InteractionModelEngine.cpp
  src/app/InteractionModelEngine.h
  src/app/ReadClient.cpp
  src/app/ReadClient.h
  src/app/WriteClient.cpp
  src/app/WriteClient.h
  src/app/WriteHandler.cpp
  src/app/tests/TestWriteInteraction.cpp
  src/app/tests/integration/chip_im_initiator.cpp
  src/app/util/ember-compatibility-functions.cpp
  src/app/zap-templates/app-templates.json
  src/app/zap-templates/common/ChipTypesHelper.js
  src/app/zap-templates/templates/app/CHIPClientCallbacks-src.zapt
  src/app/zap-templates/templates/app/CHIPClientCallbacks.zapt
  src/app/zap-templates/templates/app/CHIPClusters-src.zapt
  src/app/zap-templates/templates/app/CHIPClusters.zapt
  src/controller/CHIPDevice.cpp
  src/controller/CHIPDevice.h
  src/controller/CHIPDeviceController.cpp
  src/controller/CHIPDeviceController.h
  src/lib/core/CHIPTLV.h
Owners: @yunhanw-google, @bzbarsky-apple, @mrjerryjohns, @vivien-apple, @erjianqing, @shana-apple, @pan-apple

Run codegen
  examples/all-clusters-app/all-clusters-common/gen/CHIPClusters.cpp
  examples/bridge-app/bridge-common/gen/CHIPClusters.cpp
  examples/lighting-app/lighting-common/gen/CHIPClusters.cpp
  examples/lock-app/lock-common/gen/CHIPClusters.cpp
  examples/pump-app/pump-common/gen/CHIPClientCallbacks.cpp
  examples/pump-app/pump-common/gen/CHIPClientCallbacks.h
  examples/pump-app/pump-common/gen/CHIPClusters.cpp
  examples/pump-controller-app/pump-controller-common/gen/CHIPClientCallbacks.cpp
  examples/pump-controller-app/pump-controller-common/gen/CHIPClientCallbacks.h
  examples/pump-controller-app/pump-controller-common/gen/CHIPClusters.cpp
  examples/temperature-measurement-app/esp32/main/gen/CHIPClusters.cpp
  examples/thermostat/thermostat-common/gen/CHIPClusters.cpp
  examples/tv-app/tv-common/gen/CHIPClusters.cpp
  examples/window-app/common/gen/CHIPClusters.cpp
  src/controller/data_model/gen/CHIPClientCallbacks.cpp
  src/controller/data_model/gen/CHIPClientCallbacks.h
  src/controller/data_model/gen/CHIPClusters.cpp
  src/controller/data_model/gen/CHIPClusters.h
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @shana-apple, @pan-apple

Restyled by clang-format
  src/controller/CHIPDeviceController.cpp
Owners: @shana-apple, @pan-apple

Apply suggestions from code review
  src/app/server/OnboardingCodesUtil.cpp
Owners: @yunhanw-google, @bzbarsky-apple, @mrjerryjohns

clang-format
  examples/lighting-app/qpg/src/LightingManager.cpp
  examples/lighting-app/qpg/src/ZclCallbacks.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Fix Telink Docker image instability
  integrations/docker/images/chip-build-telink/Dockerfile
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

[Telink]: Minor fixes in Readme.md
  examples/lighting-app/telink/Readme.md
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Fix build failed of minimal-mdns(example)
  examples/minimal-mdns/server.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Make CHIP_ERROR a class type on nrfconnect (#8652)
  examples/lighting-app/nrfconnect/main/main.cpp
  examples/lock-app/nrfconnect/main/main.cpp
  examples/shell/shell_common/cmd_otcli.cpp
  src/platform/OpenThread/GenericThreadStackManagerImpl_OpenThread.cpp
  src/platform/Zephyr/BLEManagerImpl.cpp
  src/platform/nrfconnect/CHIPPlatformConfig.h
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @bukepo, @mspang, @yufengwangca

Add validation for nrf version in the compile script
  scripts/build/builders/nrf.py
Owners: @mspang

Fix unit tests
  scripts/build/expected_all_platform_commands.txt
Owners: @mspang

Remove the double-generate output in the dry run of commands
  scripts/build/builders/esp32.py
  scripts/build/builders/gn.py
  scripts/build/builders/nrf.py
  scripts/build/expected_all_platform_commands.txt
Owners: @mspang

Update chip-build/version file to 0.4.33
  integrations/docker/images/chip-build/version
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Fix Telink Docker image instability (#8660)
  integrations/docker/images/chip-build-telink/Dockerfile
  integrations/docker/images/chip-build/version
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Add nrf support for scripts/build/build_examples.py (#8642)
  scripts/build/build/factory.py
  scripts/build/build/targets.py
  scripts/build/build_examples.py
  scripts/build/builders/builder.py
  scripts/build/builders/efr32.py
  scripts/build/builders/esp32.py
  scripts/build/builders/gn.py
  scripts/build/builders/linux.py
  scripts/build/builders/nrf.py
  scripts/build/builders/qpg.py
  scripts/build/expected_all_platform_commands.txt
  scripts/build/runner/printonly.py
  scripts/build/runner/shell.py
  scripts/build/test.py
Owners: @mspang

CASE spec refresh (#8137)
  src/channel/Channel.h
  src/channel/ChannelContext.cpp
  src/controller/CHIPDevice.cpp
  src/controller/CHIPDevice.h
  src/controller/CHIPDeviceController.cpp
  src/controller/CHIPDeviceController.h
  src/credentials/CHIPCert.cpp
  src/credentials/CHIPCert.h
  src/credentials/CHIPOperationalCredentials.cpp
  src/credentials/CHIPOperationalCredentials.h
  src/crypto/hsm/CHIPCryptoPALHsm_config.h
  src/protocols/secure_channel/CASEServer.cpp
  src/protocols/secure_channel/CASEServer.h
  src/protocols/secure_channel/CASESession.cpp
  src/protocols/secure_channel/CASESession.h
  src/protocols/secure_channel/tests/TestCASESession.cpp
  src/transport/FabricTable.cpp
  src/transport/FabricTable.h
  src/transport/PeerConnectionState.h
Owners: @kghost, @shana-apple, @pan-apple, @emargolis, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @andy31415

Prevent reception of unencrypted messages in an encrypted message exchange (#8556)
  src/messaging/ExchangeContext.cpp
  src/messaging/ExchangeMessageDispatch.cpp
  src/messaging/ExchangeMessageDispatch.h
  src/messaging/tests/TestReliableMessageProtocol.cpp
  src/protocols/secure_channel/SessionEstablishmentExchangeDispatch.cpp
  src/protocols/secure_channel/SessionEstablishmentExchangeDispatch.h
Owners: @yufengwangca, @bzbarsky-apple, @pan-apple

[Telink]: Update docker image version to :latest
  .github/workflows/examples-telink.yaml
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Change style.
  src/lib/mdns/Advertiser_ImplMinimalMdns.cpp
  src/lib/mdns/Advertiser_ImplMinimalMdnsAllocator.h
Owners: @andy31415, @gjc13, @damian-nordic

[Telink]: Update docker image version to :latest (#8681)
  .github/workflows/examples-telink.yaml
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Fix WakeEvent::Open() (#8551)
  src/inet/EndPointBasis.cpp
  src/inet/IPEndPointBasis.cpp
  src/inet/RawEndPoint.cpp
  src/inet/TCPEndPoint.cpp
  src/inet/UDPEndPoint.cpp
  src/lib/support/CodeUtils.h
  src/platform/Linux/MdnsImpl.cpp
  src/system/SystemLayer.cpp
  src/system/WakeEvent.cpp
  src/system/WakeEvent.h
  src/system/WatchableEventManager.h
  src/system/WatchableEventManagerLibevent.cpp
  src/system/WatchableEventManagerLibevent.h
  src/system/WatchableEventManagerSelect.cpp
  src/system/WatchableEventManagerSelect.h
  src/system/WatchableSocket.h
  src/system/WatchableSocketLibevent.cpp
  src/system/WatchableSocketLibevent.h
  src/system/WatchableSocketSelect.cpp
  src/system/WatchableSocketSelect.h
  src/system/tests/TestSystemWakeEvent.cpp
Owners: @kpschoedel, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @mspang, @yufengwangca

Define CHIP_CONFIG_ERROR_CLASS = 1
  src/platform/Ameba/CHIPDevicePlatformConfig.h
Owners: @mspang, @yufengwangca

Restyled by whitespace
  src/platform/Ameba/AmebaConfig.h
Owners: @mspang, @yufengwangca

Restyled by clang-format
  config/Ameba/mbedtls/mbedtls_config.h
  examples/all-clusters-app/Ameba/main/CHIPDeviceManager.cpp
  examples/all-clusters-app/Ameba/main/DeviceCallbacks.cpp
  examples/all-clusters-app/Ameba/main/chipinterface.cpp
  src/platform/Ameba/AmebaConfig.cpp
  src/platform/Ameba/ConfigurationManagerImpl.cpp
  src/platform/Ameba/ConfigurationManagerImpl.h
  src/platform/Ameba/ConnectivityManagerImpl.cpp
  src/platform/Ameba/InetPlatformConfig.h
  src/platform/Ameba/Logging.cpp
  src/platform/Ameba/PlatformManagerImpl.cpp
  src/platform/Ameba/SystemTimeSupport.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @mspang, @yufengwangca

Restyled by gn
  config/Ameba/args.gni
  src/BUILD.gn
  src/inet/tests/BUILD.gn
  src/platform/Ameba/BUILD.gn
  src/platform/device.gni
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @mspang, @kpschoedel, @yufengwangca

Restyled by shellharden
  examples/all-clusters-app/Ameba/build.sh
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Restyled by prettier-markdown
  examples/all-clusters-app/Ameba/README.md
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Restyled by shfmt
  examples/all-clusters-app/Ameba/build.sh
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Use build_examples.py for a unified build step.
  .github/workflows/examples-efr32.yaml
  .github/workflows/examples-esp32.yaml
  .github/workflows/examples-nrfconnect.yaml
  .github/workflows/unified_build.yaml
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

TLV reader: Improve floating-point support
  src/lib/core/CHIPTLVReader.cpp
  src/lib/core/tests/TestCHIPTLV.cpp
Owners: @yunhanw-google, @bzbarsky-apple, @shana-apple, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Restyled by clang-format
  src/lib/core/tests/TestCHIPTLV.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Fix the argument to "run_in_build_env.sh
  .github/workflows/unified_build.yaml
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs
