Repository project-chip/connectedhomeip, changes with the owners that .github/CODEOWNERS names for each.
All owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @mspang, @pan-apple, @emargolis, @andy31415, @yufengwangca, @kghost, @bzbarksy-apple, @bzbarsky-apple, @gjc13, @damian-nordic, @erjiaqing, @shana-apple, @yunhanw-google, @vivien-apple, @erjianqing, @mrjerryjohns, @jrhees-cae, @rgoliver, @austinh0, @bukepo, @kpschoedel

[network commissioning] Add response command for commands
  src/app/clusters/network-commissioning/network-commissioning-ember.cpp
  src/app/clusters/network-commissioning/network-commissioning.cpp
  src/app/clusters/network-commissioning/network-commissioning.h
  src/include/platform/ThreadStackManager.h
  src/platform/Linux/ThreadStackManagerImpl.cpp
Owners: @vivien-apple, @mspang, @yufengwangca

[doxygen] Enable deployment to the external repo
  .github/workflows/doxygen.yaml
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Refactor code
  src/app/clusters/network-commissioning/network-commissioning-ember.cpp
  src/app/clusters/network-commissioning/network-commissioning.cpp
  src/app/clusters/network-commissioning/network-commissioning.h
Owners: @vivien-apple

Regenerate files for the controllers
  examples/chip-tool/commands/clusters/Commands.h
  src/controller/data_model/gen/CHIPClientCallbacks.cpp
  src/controller/data_model/gen/CHIPClientCallbacks.h
  src/controller/data_model/gen/CHIPClusters.cpp
  src/controller/data_model/gen/CHIPClusters.h
  src/controller/data_model/gen/call-command-handler.cpp
  src/controller/data_model/gen/callback-stub.cpp
  src/controller/data_model/gen/callback.h
  src/controller/data_model/gen/chip-zcl-zpro-codec-api.h
  src/controller/data_model/gen/encoder.cpp
  src/controller/data_model/gen/endpoint_config.h
  src/controller/data_model/gen/gen_config.h
  src/controller/python/chip/clusters/CHIPClusters.cpp
  src/controller/python/chip/clusters/CHIPClusters.py
  src/darwin/Framework/CHIP/gen/CHIPClustersObjc.h
  src/darwin/Framework/CHIP/gen/CHIPClustersObjc.mm
  src/darwin/Framework/CHIP/templates/helper.js
  src/darwin/Framework/CHIPTests/CHIPClustersTests.m
Owners: @vivien-apple, @shana-apple, @pan-apple, @andy31415, @erjianqing

enable ThreadNetworkDiagnostic Cluster client on Controller. enable ResetCounts command
  src/controller/data_model/controller-clusters.zap
  src/darwin/Framework/CHIP/templates/helper.js
Owners: @shana-apple, @pan-apple, @vivien-apple

Rebased and run the regeneratiton again
  examples/chip-tool/commands/clusters/Commands.h
  src/controller/data_model/gen/callback.h
  src/controller/data_model/gen/endpoint_config.h
  src/controller/python/chip/clusters/CHIPClusters.cpp
  src/controller/python/chip/clusters/CHIPClusters.py
Owners: @vivien-apple, @shana-apple, @pan-apple, @andy31415, @erjianqing

Fix
  src/controller/python/test/test_scripts/base.py
Owners: @andy31415, @erjianqing

Added data_equal() and empty() Methods to Span/FixedSpan Classes
  src/lib/support/Span.h
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Increase timeout for bootstrap running.
  .github/workflows/android.yaml
  .github/workflows/build.yaml
  .github/workflows/darwin.yaml
  .github/workflows/examples-linux-standalone.yaml
  .github/workflows/tests.yaml
  .github/workflows/unit_integration_test.yaml
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Fix System vs Inet and BLE shutdown order (#7429)
  src/controller/CHIPDeviceController.cpp
  src/controller/java/CHIPDeviceController-JNI.cpp
  src/include/platform/internal/GenericPlatformManagerImpl.cpp
Owners: @shana-apple, @pan-apple, @austinh0, @mspang, @yufengwangca

Reduce Lwip memory pool counts and size for MG21 (#7431)
  examples/lighting-app/efr32/BUILD.gn
  examples/lock-app/efr32/src/ZclCallbacks.cpp
  examples/platform/efr32/project_include/OpenThreadConfig.h
  src/lwip/efr32/lwipopts.h
Owners: @mspang, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Add debug traces for Darwin cluster tests
  examples/all-clusters-app/all-clusters-common/gen/attribute-size.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Restyled by clang-format
  examples/all-clusters-app/all-clusters-common/gen/attribute-size.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

* Limit OpenThread CLI buffers for RAM optimization
  examples/platform/qpg6100/project_include/OpenThreadConfig.h
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Support for Tsan
  build/config/compiler/BUILD.gn
Owners: @mspang

Restyled by gn
  build/config/compiler/BUILD.gn
Owners: @mspang

[cirque] Pull cirque version and add simulated latency to cirque (#7353)
  integrations/docker/ci-only-images/chip-cirque-device-base/Dockerfile
  src/test_driver/linux-cirque/helper/CHIPTestBase.py
  src/test_driver/linux-cirque/test-echo.py
  src/test_driver/linux-cirque/test-interaction-model.py
  src/test_driver/linux-cirque/test-mobile-device.py
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

[test] Update log checking patten after log output update (#7447)
  src/controller/python/test/test_scripts/base.py
  src/controller/python/test/test_scripts/mobile-device-test.py
  src/test_driver/linux-cirque/test-mobile-device.py
Owners: @andy31415, @erjianqing, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Updated ECDSA Signature Representation in the CHIP Certificate. (#7384)
  src/credentials/CHIPCert.cpp
  src/credentials/CHIPCert.h
  src/credentials/CHIPCertFromX509.cpp
  src/credentials/CHIPCertToX509.cpp
  src/credentials/tests/CHIPCert_test_vectors.cpp
  src/crypto/CHIPCryptoPAL.h
  src/tools/chip-cert/Cmd_PrintCert.cpp
Owners: @pan-apple, @emargolis

Fix incorrect test termination condition in TestCommand subclasses. (#7428)
  examples/chip-tool/commands/tests/Commands.h
  examples/chip-tool/templates/partials/test_cluster.zapt
Owners: @vivien-apple

Make test_suites.sh run multiple iterations of the tests. (#7433)
  scripts/tests/test_suites.sh
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Fix shutdown ordering in DeviceController.
  src/controller/CHIPDeviceController.cpp
Owners: @shana-apple, @pan-apple

Reduce Lwip memory pool counts and size for MG21 (#7431)
  examples/lighting-app/efr32/BUILD.gn
  examples/lock-app/efr32/src/ZclCallbacks.cpp
  examples/platform/efr32/project_include/OpenThreadConfig.h
  src/lwip/efr32/lwipopts.h
Owners: @mspang, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Increase timeout for bootstrap running. (#7449)
  .github/workflows/android.yaml
  .github/workflows/build.yaml
  .github/workflows/darwin.yaml
  .github/workflows/examples-linux-standalone.yaml
  .github/workflows/tests.yaml
  .github/workflows/unit_integration_test.yaml
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

[python] Enhancement of manual test using Cirque (#7122)
  integrations/docker/ci-only-images/chip-cirque-device-base/Dockerfile
  scripts/tests/cirque_tests.sh
  src/test_driver/linux-cirque/ManualTest.sh
  src/test_driver/linux-cirque/README.md
  src/test_driver/linux-cirque/helper/CHIPTestBase.py
  src/test_driver/linux-cirque/test-manual.py
  src/test_driver/linux-cirque/topologies/three_node_with_thread.json
  src/test_driver/linux-cirque/topologies/two_node_with_thread.json
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Move bootstrap earlier in darwin build
  .github/workflows/darwin.yaml
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Fixed duplicate changes in cryptopal
  src/crypto/CHIPCryptoPAL.h
Owners: @pan-apple, @emargolis

Restyled by clang-format
  src/crypto/CHIPCryptoPAL.h
Owners: @pan-apple, @emargolis

Restyle changes
  src/crypto/CHIPCryptoPAL.h
Owners: @pan-apple, @emargolis

Add support for Clang's Thread Sanitizer (Tsan) (#7453)
  build/config/compiler/BUILD.gn
Owners: @mspang

Fix shutdown ordering in DeviceController. (#7430)
  src/controller/CHIPDeviceController.cpp
Owners: @shana-apple, @pan-apple

Move nulling out of CHIPDeviceController members closer to where they are shut down.
  src/controller/CHIPDeviceController.cpp
Owners: @shana-apple, @pan-apple

[doxygen] Enable deployment to the external repo (#7310)
  .github/workflows/doxygen.yaml
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Restyled by clang-format
  src/controller/CHIPDeviceController.cpp
Owners: @shana-apple, @pan-apple

Move nulling out of CHIPDeviceController members closer to where they are shut down.
  src/controller/CHIPDeviceController.cpp
Owners: @shana-apple, @pan-apple

Remove workarounds for threading problems from chip-tool commands.
  examples/chip-tool/commands/common/Commands.cpp
  examples/chip-tool/commands/tests/TestCommand.cpp
Owners: @vivien-apple

Update src/lib/support/Span.h
  src/lib/support/Span.h
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Restyled by clang-format
  src/lib/support/Span.h
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Remove linux clang_experimental build
  .github/workflows/build.yaml
  scripts/build/gn_gen.sh
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @mspang

Fix shutdown ordering in IM integration test
  src/app/tests/integration/chip_im_initiator.cpp
  src/app/tests/integration/chip_im_responder.cpp
  src/app/tests/integration/common.cpp
  src/app/tests/integration/common.h
Owners: @yunhanw-google, @bzbarsky-apple, @mrjerryjohns

.github/CODEOWNERS:

# Current reviewers-XXX teams, who review everything for approval.
* @reviewers-amazon @reviewers-apple @reviewers-comcast @reviewers-google @reviewers-nordic @reviewers-samsung @reviewers-silabs


# BUILD system

*.gn @mspang
/build/ @mspang
/scripts/build/ @mspang

# Crypto
# Crypto primitives and high level API, generally on top of mbedtls and openssl
/src/crypto/* @pan-apple @emargolis
/src/credentials/ @pan-apple @emargolis

# Transport
# Send and receive data abstracting away the underlying protocol (UDP, TCP, BLE)
/src/transport/ @andy31415 @pan-apple

# Session establishment
# Establish a secure session (encryption keys) from one node to another.
# Includes CASE and PASE + session tracking and resumptioon
/src/protocols/secure_channel/ @pan-apple

# Message Layer
# CRMP and packet headers, generally coupled with SecureSessionManager
/src/messaging @yufengwangca @kghost @bzbarksy-apple
/src/transport/raw/MessageHeader.* @yufengwangca @kghost @bzbarksy-apple

# SecureSessionManager
# Manages per-session encryption keys and new session establishment
/src/transport/SecureSessionMgr.* @pan-apple

# Exchange management
# Joins requests and responses or ties a series of messages belonging to the 
# same protocol interaction
/src/messaging/ @yufengwangca @bzbarsky-apple
/src/channel/ @yufengwangca @bzbarsky-apple

# DNS-SD discovery and advertisement
# Advertise chip devices for commisioning, operational and discover such devices
/src/lib/mdns/ @andy31415 @gjc13 @damian-nordic

# Commisioning controller/flow
# Example of a comisioning sequence
/src/controller/ @pan-apple @erjiaqing

# Operational credentials management
# Signing certificates, maintaining roots of trust, validation, fabric management
/src/controller/ @shana-apple @pan-apple
/src/transport/AdminPairingTable.* @shana-apple @pan-apple

# TLV encoding/decoding to/from byte buffers
/src/lib/core/CHIPTLV* @yunhanw-google @bzbarsky-apple @shana-apple

# Interaction model - ember implementation
# ZCL protocol implementation: ZCL encoding to be sent over the wire as a 
# ZigbeePro protocol implementation
/src/app/util/ @vivien-apple @erjianqing @bzbarsky-apple

# Interaction model - non-ember
# Protocol implementation for IM interactions between nodes, matching spec
/src/app/ @yunhanw-google @bzbarsky-apple @mrjerryjohns

# Interaction model - code generation
# CHIP-specific infrastructure for generating code: helper js methods, scripts
# and code layout
/src/app/zap-templates/ @vivien-apple @erjianqing

# ZAP suppport
# UI for editing XML, generates code from such ZML and configuration files
# NOT part of CHIP however CHIP relies heavily on ZAP.
#    @vivien-apple  @tecimovic

# 'Standard' cluster implementations (server side)
# Clusters shipped with the sdk, can be integrated as-is or used as a template
/src/app/clusters/ @vivien-apple

# Onboarding payload
# Parsing and generation of codes (includes QR and NFC), numeric pairing payload
/src/setup_payload/ @shana-apple @vivien-apple @jrhees-cae

# Device Layer
# Porting interfaces, scaffolding for building an example firmware
/src/platform/ @mspang @yufengwangca
/src/include/platform/ @mspang @yufengwangca

# Persistent storage
# Save state across reboots
/src/platform/*/KeyValueStore* @rgoliver

# Python bindings for CHIP - CLI
# Allows python code to use CHIP, generally targeted towards automation
/src/controller/python/ @andy31415 @erjianqing

# CHIP-tool C++ CLI
# Command line interface to chip as a client (controller and commisioner)
# Includes generated code for every base cluster
/examples/chip-tool/ @vivien-apple

# CHIP-tool iOS UI
/src/darwin/CHIPTool/ @shana-apple

# CHIP-tool Android
/src/android/CHIPTool/ @austinh0
/src/controller/java/ @austinh0

# End2End autogenerated tests
/src/darwin/Framework/Chip-templates/ @vivien-apple
/src/app/tests/suites/ @vivien-apple

# End2End cirque tests
# Simulate topology (cirque) and ptyhon-based test automation
/src/test_driver/linux/cirque/ @erjianqing @yunhanw-google

# Thread integration
# Thread-specific functionality (network provisioning, operational discovery, SRP registration etc.)
/src/platform/OpenThread/ @bukepo
/src/platform/*/ThreadStackmanagerImpl.* @bukepo

# Inet
# Networking abstraction layer (UDP-endpoint, TCP-endpoint, InetLayerBasis)
/src/inet/ @kpschoedel 

# System layer
/src/system/ @kpschoedel 

# BLE support
/src/ble/ @yunhanw-google

# CHIP Shell
# Command-line UART/stdin interface as a side-channel to CHIP accessories
# Aimed as user-friendly/manual control
/src/examples/shell/ @gjc13 @yufengwangca

# RPC
# Side-channlel command path (outside chip), generally for automation and debugging
# Aimed as "scriptable" when compared to shell
/examples/common/pigweed/ @rgoliver
/examples/pigweed-app/ @rgoliver

# Tooling for crypto manual generation
# Generates data for sample PKI
/src/tools/chip-cert/ @emargolis

# Channel API
# Construct a transport/secure session based on peer info and transport type.
# Focused on CASE session establishment
/src/channel/ @kghost

# Darwin framework
# Exposes a darwin API (Objective-C/swift rather than raw C++ API) for darwin
# applications
/src/darwin/Framework/ @shana-apple @vivien-apple @pan-apple
