Repository project-chip/connectedhomeip, changes with the owners that .github/CODEOWNERS names for each.
All owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @mspang, @pan-apple, @emargolis, @andy31415, @yufengwangca, @kghost, @bzbarksy-apple, @bzbarsky-apple, @gjc13, @damian-nordic, @erjiaqing, @shana-apple, @yunhanw-google, @vivien-apple, @erjianqing, @mrjerryjohns, @jrhees-cae, @rgoliver, @austinh0, @bukepo, @kpschoedel

Add ways to init TLV readers and writers from spans and fixed-size arrays (#8979)
  src/controller/ExampleOperationalCredentialsIssuer.cpp
  src/controller/java/AndroidDeviceControllerWrapper.cpp
  src/controller/python/chip/interaction_model/Delegate.cpp
  src/credentials/CHIPCertFromX509.cpp
  src/credentials/CHIPCertToX509.cpp
  src/darwin/Framework/CHIP/CHIPOperationalCredentialsDelegate.mm
  src/lib/core/CHIPTLV.h
  src/lib/core/tests/TestCHIPTLV.cpp
Owners: @shana-apple, @pan-apple, @austinh0, @andy31415, @erjianqing, @emargolis, @vivien-apple, @yunhanw-google, @bzbarsky-apple, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Update the exchange match logic to align with the latest spec proposal
  src/app/CommandSender.cpp
  src/app/WriteClient.cpp
  src/messaging/ExchangeContext.cpp
  src/messaging/tests/echo/echo_requester.cpp
Owners: @yunhanw-google, @bzbarsky-apple, @mrjerryjohns, @yufengwangca

Add abstracted access to Device Attestation Credentials
  src/credentials/BUILD.gn
  src/credentials/DeviceAttestationCredsAccess.cpp
  src/credentials/DeviceAttestationCredsAccess.h
  src/credentials/examples/DeviceAttestationCredsExample.cpp
  src/credentials/examples/DeviceAttestationCredsExample.h
  src/credentials/tests/BUILD.gn
  src/credentials/tests/TestDeviceAttestationCredentials.cpp
Owners: @pan-apple, @emargolis

Restyled by whitespace
  src/credentials/DeviceAttestationCredsAccess.cpp
Owners: @pan-apple, @emargolis

Restyled by clang-format
  src/credentials/DeviceAttestationCredsAccess.cpp
  src/credentials/DeviceAttestationCredsAccess.h
  src/credentials/examples/DeviceAttestationCredsExample.cpp
  src/credentials/examples/DeviceAttestationCredsExample.h
  src/credentials/tests/TestDeviceAttestationCredentials.cpp
Owners: @pan-apple, @emargolis

Restyled by gn
  src/credentials/BUILD.gn
Owners: @pan-apple, @emargolis

Make mLocalKeyId and mPeerKeyId optional
  src/transport/SecureSessionMgr.cpp
  src/transport/SessionHandle.h
  src/transport/tests/BUILD.gn
  src/transport/tests/TestSessionHandle.cpp
Owners: @pan-apple, @andy31415

Restyle
  scripts/build/builders/android.py
Owners: @mspang

Restyled by clang-format
  src/transport/SecureSessionMgr.cpp
Owners: @pan-apple

Run code restyle on ToT
  scripts/build/builders/android.py
Owners: @mspang

Add missing x509 pubkey extract to mbedTLS
  src/crypto/CHIPCryptoPALmbedTLS.cpp
  src/crypto/tests/CHIPCryptoPALTest.cpp
Owners: @pan-apple, @emargolis, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Remove unneeded @file
  src/credentials/DeviceAttestationCredsAccess.cpp
  src/credentials/DeviceAttestationCredsAccess.h
  src/credentials/examples/DeviceAttestationCredsExample.cpp
  src/credentials/examples/DeviceAttestationCredsExample.h
  src/credentials/tests/TestChipOperationalCredentials.cpp
  src/credentials/tests/TestDeviceAttestationCredentials.cpp
Owners: @pan-apple, @emargolis

Restyled by clang-format
  src/crypto/CHIPCryptoPALmbedTLS.cpp
Owners: @pan-apple, @emargolis

Color loop function implementation (#8916)
  examples/all-clusters-app/all-clusters-common/all-clusters-app.zap
  examples/all-clusters-app/all-clusters-common/gen/endpoint_config.h
  examples/chip-tool/commands/clusters/Commands.h
  examples/chip-tool/commands/tests/Commands.h
  examples/chip-tool/templates/tests-commands.zapt
  src/app/clusters/color-control-server/color-control-server.cpp
  src/app/tests/suites/certification/Test_TC_CC_8.yaml
  src/controller/data_model/controller-clusters.zap
  src/controller/data_model/gen/CHIPClusters.cpp
  src/controller/data_model/gen/CHIPClusters.h
  src/controller/java/gen/CHIPClusters-JNI.cpp
  src/controller/java/gen/ChipClusters.java
  src/controller/python/chip/clusters/CHIPClusters.cpp
  src/controller/python/chip/clusters/CHIPClusters.py
  src/darwin/Framework/CHIP/gen/CHIPClustersObjc.h
  src/darwin/Framework/CHIP/gen/CHIPClustersObjc.mm
  src/darwin/Framework/CHIP/templates/clusters-tests.zapt
  src/darwin/Framework/CHIPTests/CHIPClustersTests.m
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @vivien-apple, @shana-apple, @pan-apple, @austinh0, @andy31415, @erjianqing

Remove some no-longer-needed casts
  src/protocols/secure_channel/CASESession.cpp
  src/setup_payload/QRCodeSetupPayloadParser.cpp
Owners: @pan-apple, @shana-apple, @vivien-apple, @jrhees-cae

apply suggestions from Andre
  examples/ota-provider-app/linux/main.cpp
  examples/ota-provider-app/ota-provider-common/BdxOtaSender.cpp
  examples/ota-provider-app/ota-provider-common/BdxOtaSender.h
  examples/ota-provider-app/ota-provider-common/OTAProviderExample.cpp
  examples/ota-provider-app/ota-provider-common/OTAProviderExample.h
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Fix Watchable Event Manager Select crash on shutdown (#8985)
  src/system/WatchableEventManagerSelect.cpp
Owners: @kpschoedel

Store Wake On LAN and Application basic server attributes as ZCL String
  examples/tv-app/linux/BUILD.gn
  examples/tv-app/linux/include/application-basic/ApplicationBasicManager.cpp
  examples/tv-app/linux/include/cluster-helper.cpp
  examples/tv-app/linux/include/wake-on-lan/WakeOnLanManager.cpp
Owners: @mspang, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Add tests
  src/app/tests/suites/TV_WakeOnLanCluster.yaml
Owners: @vivien-apple

Enable Test Cluster so that string values are returned
  examples/tv-app/tv-common/gen/IMClusterCommandHandler.cpp
  examples/tv-app/tv-common/gen/attribute-size.cpp
  examples/tv-app/tv-common/gen/callback-stub.cpp
  examples/tv-app/tv-common/gen/endpoint_config.h
  examples/tv-app/tv-common/gen/gen_config.h
  examples/tv-app/tv-common/tv-app.zap
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Run zap_regen to build test boilerplate code
  examples/chip-tool/commands/tests/Commands.h
  examples/chip-tool/templates/tests-commands.zapt
Owners: @vivien-apple

Update PR per latest comments
  src/lib/support/ZclString.h
  src/lib/support/tests/TestZclString.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Run zap_regen to generate boilerplate code
  examples/chip-tool/commands/tests/Commands.h
  examples/tv-app/tv-common/gen/IMClusterCommandHandler.cpp
Owners: @vivien-apple, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Update PR per latests comments
  examples/bridge-app/linux/main.cpp
  examples/tv-app/linux/include/application-basic/ApplicationBasicManager.cpp
  examples/tv-app/linux/include/wake-on-lan/WakeOnLanManager.cpp
  src/app/clusters/basic/basic.cpp
  src/lib/support/ZclString.h
  src/lib/support/tests/BUILD.gn
  src/lib/support/tests/TestZclString.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @vivien-apple, @mspang

Restyle fix
  examples/tv-app/linux/BUILD.gn
  examples/tv-app/linux/include/cluster-helper.cpp
Owners: @mspang, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Update PR per latests requests
  examples/tv-app/linux/BUILD.gn
  examples/tv-app/linux/include/application-basic/ApplicationBasicManager.cpp
  examples/tv-app/linux/include/cluster-init.cpp
  examples/tv-app/linux/include/wake-on-lan/WakeOnLanManager.cpp
  examples/tv-app/linux/include/wake-on-lan/WakeOnLanManager.h
  src/app/clusters/basic/basic.cpp
  src/lib/support/ZclString.h
Owners: @mspang, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @vivien-apple

Remove Test Cluster
  examples/tv-app/tv-common/gen/IMClusterCommandHandler.cpp
  examples/tv-app/tv-common/gen/attribute-size.cpp
  examples/tv-app/tv-common/gen/callback-stub.cpp
  examples/tv-app/tv-common/gen/endpoint_config.h
  examples/tv-app/tv-common/gen/gen_config.h
  examples/tv-app/tv-common/tv-app.zap
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Renamed cluster-helper.cpp to zcl-strings.h
  examples/tv-app/linux/BUILD.gn
  examples/tv-app/linux/include/application-basic/ApplicationBasicManager.cpp
  examples/tv-app/linux/include/wake-on-lan/WakeOnLanManager.cpp
  examples/tv-app/linux/include/zcl-strings.h
Owners: @mspang, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Update PR per latest comments. Converted MakeZclString to return error and to accept MutableByteSpan
  examples/bridge-app/linux/main.cpp
  examples/chip-tool/commands/tests/Commands.h
  examples/tv-app/linux/include/application-basic/ApplicationBasicManager.cpp
  examples/tv-app/linux/include/wake-on-lan/WakeOnLanManager.cpp
  examples/tv-app/tv-common/gen/endpoint_config.h
  src/app/clusters/basic/basic.cpp
  src/lib/support/ZclString.h
  src/lib/support/tests/TestZclString.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @vivien-apple

Update PR per latest comments.
  examples/bridge-app/linux/main.cpp
  examples/tv-app/linux/include/application-basic/ApplicationBasicManager.cpp
  examples/tv-app/linux/include/wake-on-lan/WakeOnLanManager.cpp
  src/app/clusters/basic/basic.cpp
  src/lib/support/BUILD.gn
  src/lib/support/ZclString.cpp
  src/lib/support/ZclString.h
  src/lib/support/tests/TestZclString.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @vivien-apple, @mspang

Restyled by whitespace
  src/lib/support/ZclString.cpp
  src/lib/support/ZclString.h
  src/lib/support/tests/TestZclString.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Restyled by clang-format
  src/lib/support/ZclString.cpp
  src/lib/support/tests/TestZclString.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Update PR per latest comments.
  examples/bridge-app/linux/main.cpp
  examples/tv-app/linux/include/application-basic/ApplicationBasicManager.cpp
  examples/tv-app/linux/include/wake-on-lan/WakeOnLanManager.cpp
  src/app/clusters/basic/basic.cpp
  src/lib/support/BUILD.gn
  src/lib/support/ZclString.cpp
  src/lib/support/ZclString.h
  src/lib/support/tests/TestZclString.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @vivien-apple, @mspang

Update src/lib/support/ZclString.h
  src/lib/support/ZclString.h
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Restyled by clang-format
  src/lib/support/ZclString.h
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Fix CI issue on mbedTLS
  src/crypto/CHIPCryptoPALmbedTLS.cpp
  src/crypto/tests/CHIPCryptoPALTest.cpp
Owners: @pan-apple, @emargolis, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Add DAC accessor to linux app main body
  examples/platform/linux/AppMain.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Restyled by clang-format
  src/crypto/CHIPCryptoPALmbedTLS.cpp
Owners: @pan-apple, @emargolis

Guard mbedTLS impl x509 cert parsing for small device
  src/crypto/CHIPCryptoPALmbedTLS.cpp
Owners: @pan-apple, @emargolis

Restyled by clang-format
  src/crypto/CHIPCryptoPALmbedTLS.cpp
Owners: @pan-apple, @emargolis

.github/CODEOWNERS:

# Current reviewers-XXX teams, who review everything for approval.
* @reviewers-amazon @reviewers-apple @reviewers-comcast @reviewers-google @reviewers-nordic @reviewers-samsung @reviewers-silabs


# BUILD system

*.gn @mspang
/build/ @mspang
/scripts/build/ @mspang

# Crypto
# Crypto primitives and high level API, generally on top of mbedtls and openssl
/src/crypto/* @pan-apple @emargolis
/src/credentials/ @pan-apple @emargolis

# Transport
# Send and receive data abstracting away the underlying protocol (UDP, TCP, BLE)
/src/transport/ @andy31415 @pan-apple

# Session establishment
# Establish a secure session (encryption keys) from one node to another.
# Includes CASE and PASE + session tracking and resumptioon
/src/protocols/secure_channel/ @pan-apple

# Message Layer
# CRMP and packet headers, generally coupled with SecureSessionManager
/src/messaging @yufengwangca @kghost @bzbarksy-apple
/src/transport/raw/MessageHeader.* @yufengwangca @kghost @bzbarksy-apple

# SecureSessionManager
# Manages per-session encryption keys and new session establishment
/src/transport/SecureSessionMgr.* @pan-apple

# Exchange management
# Joins requests and responses or ties a series of messages belonging to the 
# same protocol interaction
/src/messaging/ @yufengwangca @bzbarsky-apple
/src/channel/ @yufengwangca @bzbarsky-apple

# DNS-SD discovery and advertisement
# Advertise chip devices for commisioning, operational and discover such devices
/src/lib/mdns/ @andy31415 @gjc13 @damian-nordic

# Commisioning controller/flow
# Example of a comisioning sequence
/src/controller/ @pan-apple @erjiaqing

# Operational credentials management
# Signing certificates, maintaining roots of trust, validation, fabric management
/src/controller/ @shana-apple @pan-apple
/src/transport/AdminPairingTable.* @shana-apple @pan-apple

# TLV encoding/decoding to/from byte buffers
/src/lib/core/CHIPTLV* @yunhanw-google @bzbarsky-apple @shana-apple

# Interaction model - ember implementation
# ZCL protocol implementation: ZCL encoding to be sent over the wire as a 
# ZigbeePro protocol implementation
/src/app/util/ @vivien-apple @erjianqing @bzbarsky-apple

# Interaction model - non-ember
# Protocol implementation for IM interactions between nodes, matching spec
/src/app/ @yunhanw-google @bzbarsky-apple @mrjerryjohns

# Interaction model - code generation
# CHIP-specific infrastructure for generating code: helper js methods, scripts
# and code layout
/src/app/zap-templates/ @vivien-apple @erjianqing

# ZAP suppport
# UI for editing XML, generates code from such ZML and configuration files
# NOT part of CHIP however CHIP relies heavily on ZAP.
#    @vivien-apple  @tecimovic

# 'Standard' cluster implementations (server side)
# Clusters shipped with the sdk, can be integrated as-is or used as a template
/src/app/clusters/ @vivien-apple

# Onboarding payload
# Parsing and generation of codes (includes QR and NFC), numeric pairing payload
/src/setup_payload/ @shana-apple @vivien-apple @jrhees-cae

# Device Layer
# Porting interfaces, scaffolding for building an example firmware
/src/platform/ @mspang @yufengwangca
/src/include/platform/ @mspang @yufengwangca

# Persistent storage
# Save state across reboots
/src/platform/*/KeyValueStore* @rgoliver

# Python bindings for CHIP - CLI
# Allows python code to use CHIP, generally targeted towards automation
/src/controller/python/ @andy31415 @erjianqing

# CHIP-tool C++ CLI
# Command line interface to chip as a client (controller and commisioner)
# Includes generated code for every base cluster
/examples/chip-tool/ @vivien-apple

# CHIP-tool iOS UI
/src/darwin/CHIPTool/ @shana-apple

# CHIP-tool Android
/src/android/CHIPTool/ @austinh0
/src/controller/java/ @austinh0

# End2End autogenerated tests
/src/darwin/Framework/Chip-templates/ @vivien-apple
/src/app/tests/suites/ @vivien-apple

# End2End cirque tests
# Simulate topology (cirque) and ptyhon-based test automation
/src/test_driver/linux/cirque/ @erjianqing @yunhanw-google

# Thread integration
# Thread-specific functionality (network provisioning, operational discovery, SRP registration etc.)
/src/platform/OpenThread/ @bukepo
/src/platform/*/ThreadStackmanagerImpl.* @bukepo

# Inet
# Networking abstraction layer (UDP-endpoint, TCP-endpoint, InetLayerBasis)
/src/inet/ @kpschoedel 

# System layer
/src/system/ @kpschoedel 

# BLE support
/src/ble/ @yunhanw-google

# CHIP Shell
# Command-line UART/stdin interface as a side-channel to CHIP accessories
# Aimed as user-friendly/manual control
/src/examples/shell/ @gjc13 @yufengwangca

# RPC
# Side-channlel command path (outside chip), generally for automation and debugging
# Aimed as "scriptable" when compared to shell
/examples/common/pigweed/ @rgoliver
/examples/pigweed-app/ @rgoliver

# Tooling for crypto manual generation
# Generates data for sample PKI
/src/tools/chip-cert/ @emargolis

# Channel API
# Construct a transport/secure session based on peer info and transport type.
# Focused on CASE session establishment
/src/channel/ @kghost

# Darwin framework
# Exposes a darwin API (Objective-C/swift rather than raw C++ API) for darwin
# applications
/src/darwin/Framework/ @shana-apple @vivien-apple @pan-apple
