Repository project-chip/connectedhomeip, changes with the owners that .github/CODEOWNERS names for each.
All owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @mspang, @pan-apple, @emargolis, @andy31415, @yufengwangca, @kghost, @bzbarksy-apple, @bzbarsky-apple, @gjc13, @damian-nordic, @erjiaqing, @shana-apple, @yunhanw-google, @vivien-apple, @erjianqing, @mrjerryjohns, @jrhees-cae, @rgoliver, @austinh0, @bukepo, @kpschoedel

.github/CODEOWNERS:

# Current reviewers-XXX teams, who review everything for approval.
* @reviewers-amazon @reviewers-apple @reviewers-comcast @reviewers-google @reviewers-nordic @reviewers-samsung @reviewers-silabs


# BUILD system

*.gn @mspang
/build/ @mspang
/scripts/build/ @mspang

# Crypto
# Crypto primitives and high level API, generally on top of mbedtls and openssl
/src/crypto/* @pan-apple @emargolis
/src/credentials/ @pan-apple @emargolis

# Transport
# Send and receive data abstracting away the underlying protocol (UDP, TCP, BLE)
/src/transport/ @andy31415 @pan-apple

# Session establishment
# Establish a secure session (encryption keys) from one node to another.
# Includes CASE and PASE + session tracking and resumptioon
/src/protocols/secure_channel/ @pan-apple

# Message Layer
# CRMP and packet headers, generally coupled with SecureSessionManager
/src/messaging @yufengwangca @kghost @bzbarksy-apple
/src/transport/raw/MessageHeader.* @yufengwangca @kghost @bzbarksy-apple

# SecureSessionManager
# Manages per-session encryption keys and new session establishment
/src/transport/SecureSessionMgr.* @pan-apple

# Exchange management
# Joins requests and responses or ties a series of messages belonging to the 
# same protocol interaction
/src/messaging/ @yufengwangca @bzbarsky-apple
/src/channel/ @yufengwangca @bzbarsky-apple

# DNS-SD discovery and advertisement
# Advertise chip devices for commisioning, operational and discover such devices
/src/lib/mdns/ @andy31415 @gjc13 @damian-nordic

# Commisioning controller/flow
# Example of a comisioning sequence
/src/controller/ @pan-apple @erjiaqing

# Operational credentials management
# Signing certificates, maintaining roots of trust, validation, fabric management
/src/controller/ @shana-apple @pan-apple
/src/transport/AdminPairingTable.* @shana-apple @pan-apple

# TLV encoding/decoding to/from byte buffers
/src/lib/core/CHIPTLV* @yunhanw-google @bzbarsky-apple @shana-apple

# Interaction model - ember implementation
# ZCL protocol implementation: ZCL encoding to be sent over the wire as a 
# ZigbeePro protocol implementation
/src/app/util/ @vivien-apple @erjianqing @bzbarsky-apple

# Interaction model - non-ember
# Protocol implementation for IM interactions between nodes, matching spec
/src/app/ @yunhanw-google @bzbarsky-apple @mrjerryjohns

# Interaction model - code generation
# CHIP-specific infrastructure for generating code: helper js methods, scripts
# and code layout
/src/app/zap-templates/ @vivien-apple @erjianqing

# ZAP suppport
# UI for editing XML, generates code from such ZML and configuration files
# NOT part of CHIP however CHIP relies heavily on ZAP.
#    @vivien-apple  @tecimovic

# 'Standard' cluster implementations (server side)
# Clusters shipped with the sdk, can be integrated as-is or used as a template
/src/app/clusters/ @vivien-apple

# Onboarding payload
# Parsing and generation of codes (includes QR and NFC), numeric pairing payload
/src/setup_payload/ @shana-apple @vivien-apple @jrhees-cae

# Device Layer
# Porting interfaces, scaffolding for building an example firmware
/src/platform/ @mspang @yufengwangca
/src/include/platform/ @mspang @yufengwangca

# Persistent storage
# Save state across reboots
/src/platform/*/KeyValueStore* @rgoliver

# Python bindings for CHIP - CLI
# Allows python code to use CHIP, generally targeted towards automation
/src/controller/python/ @andy31415 @erjianqing

# CHIP-tool C++ CLI
# Command line interface to chip as a client (controller and commisioner)
# Includes generated code for every base cluster
/examples/chip-tool/ @vivien-apple

# CHIP-tool iOS UI
/src/darwin/CHIPTool/ @shana-apple

# CHIP-tool Android
/src/android/CHIPTool/ @austinh0
/src/controller/java/ @austinh0

# End2End autogenerated tests
/src/darwin/Framework/Chip-templates/ @vivien-apple
/src/app/tests/suites/ @vivien-apple

# End2End cirque tests
# Simulate topology (cirque) and ptyhon-based test automation
/src/test_driver/linux/cirque/ @erjianqing @yunhanw-google

# Thread integration
# Thread-specific functionality (network provisioning, operational discovery, SRP registration etc.)
/src/platform/OpenThread/ @bukepo
/src/platform/*/ThreadStackmanagerImpl.* @bukepo

# Inet
# Networking abstraction layer (UDP-endpoint, TCP-endpoint, InetLayerBasis)
/src/inet/ @kpschoedel 

# System layer
/src/system/ @kpschoedel 

# BLE support
/src/ble/ @yunhanw-google

# CHIP Shell
# Command-line UART/stdin interface as a side-channel to CHIP accessories
# Aimed as user-friendly/manual control
/src/examples/shell/ @gjc13 @yufengwangca

# RPC
# Side-channlel command path (outside chip), generally for automation and debugging
# Aimed as "scriptable" when compared to shell
/examples/common/pigweed/ @rgoliver
/examples/pigweed-app/ @rgoliver

# Tooling for crypto manual generation
# Generates data for sample PKI
/src/tools/chip-cert/ @emargolis

# Channel API
# Construct a transport/secure session based on peer info and transport type.
# Focused on CASE session establishment
/src/channel/ @kghost

# Darwin framework
# Exposes a darwin API (Objective-C/swift rather than raw C++ API) for darwin
# applications
/src/darwin/Framework/ @shana-apple @vivien-apple @pan-apple

Fix concurrency grouping to allow multiple parallel manual dispatches of a job. (#7689)
  .github/workflows/android.yaml
  .github/workflows/build.yaml
  .github/workflows/cirque.yaml
  .github/workflows/darwin.yaml
  .github/workflows/doxygen.yaml
  .github/workflows/examples-efr32.yaml
  .github/workflows/examples-esp32.yaml
  .github/workflows/examples-k32w.yaml
  .github/workflows/examples-linux-standalone.yaml
  .github/workflows/examples-nrfconnect.yaml
  .github/workflows/examples-qpg6100.yaml
  .github/workflows/examples-telink.yaml
  .github/workflows/lint.yml
  .github/workflows/qemu.yaml
  .github/workflows/tests.yaml
  .github/workflows/unit_integration_test.yaml
  .github/workflows/zap_templates.yaml
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Fixing ZAP generation
  examples/window-app/common/gen/IMClusterCommandHandler.cpp
  examples/window-app/common/gen/callback.h
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Passing a CSRNonce into the commissioning flow.
  src/controller/CHIPDevice.h
  src/controller/CHIPDeviceController.cpp
  src/protocols/secure_channel/RendezvousParameters.h
Owners: @shana-apple, @pan-apple

Revert "Fix Window app commissioning flow (#7526)"
  examples/window-app/common/gen/CHIPClientCallbacks.cpp
  examples/window-app/common/gen/CHIPClientCallbacks.h
  examples/window-app/common/gen/CHIPClusters.cpp
  examples/window-app/common/gen/CHIPClusters.h
  examples/window-app/common/gen/IMClusterCommandHandler.cpp
  examples/window-app/common/gen/attribute-size.cpp
  examples/window-app/common/gen/callback-stub.cpp
  examples/window-app/common/gen/callback.h
  examples/window-app/common/gen/chip-zcl-zpro-codec-api.h
  examples/window-app/common/gen/encoder.cpp
  examples/window-app/common/gen/endpoint_config.h
  examples/window-app/common/gen/gen_config.h
  examples/window-app/common/window-app.zap
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

[Darwin] Fix hangs in CHIPDeviceController when it is already shutdown
  src/darwin/Framework/CHIP.xcodeproj/project.pbxproj
  src/darwin/Framework/CHIP/CHIPDeviceController.mm
  src/darwin/Framework/CHIPTests/CHIPControllerTests.m
Owners: @shana-apple, @vivien-apple, @pan-apple

Restyled by clang-format
  src/darwin/Framework/CHIP/CHIPDeviceController.mm
  src/darwin/Framework/CHIPTests/CHIPControllerTests.m
Owners: @shana-apple, @vivien-apple, @pan-apple

Revert "Fix Window app commissioning flow (#7526)" (#7698)
  examples/window-app/common/gen/CHIPClientCallbacks.cpp
  examples/window-app/common/gen/CHIPClientCallbacks.h
  examples/window-app/common/gen/CHIPClusters.cpp
  examples/window-app/common/gen/CHIPClusters.h
  examples/window-app/common/gen/IMClusterCommandHandler.cpp
  examples/window-app/common/gen/attribute-size.cpp
  examples/window-app/common/gen/callback-stub.cpp
  examples/window-app/common/gen/callback.h
  examples/window-app/common/gen/chip-zcl-zpro-codec-api.h
  examples/window-app/common/gen/encoder.cpp
  examples/window-app/common/gen/endpoint_config.h
  examples/window-app/common/gen/gen_config.h
  examples/window-app/common/window-app.zap
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

[Darwin] Fix hangs in CHIPDeviceController when it is already shutdown
  src/darwin/Framework/CHIP.xcodeproj/project.pbxproj
  src/darwin/Framework/CHIP/CHIPDeviceController.mm
  src/darwin/Framework/CHIPTests/CHIPControllerTests.m
Owners: @shana-apple, @vivien-apple, @pan-apple

Restyled by clang-format
  src/darwin/Framework/CHIP/CHIPDeviceController.mm
  src/darwin/Framework/CHIPTests/CHIPControllerTests.m
Owners: @shana-apple, @vivien-apple, @pan-apple

Update the path of chip-all-clusters-app into scripts/tests/test_suites.sh so it can either be runned from CI or from a build from ./gn_build.sh
  .github/workflows/tests.yaml
  scripts/tests/test_suites.sh
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Do not use an undefined node id for mdns advertising
  src/app/server/Mdns.cpp
Owners: @yunhanw-google, @bzbarsky-apple, @mrjerryjohns

ESP32: Add RPC service to lock-app.
  examples/lock-app/esp32/CMakeLists.txt
  examples/lock-app/esp32/main/CMakeLists.txt
  examples/lock-app/esp32/main/Kconfig.projbuild
  examples/lock-app/esp32/main/Rpc.cpp
  examples/lock-app/esp32/main/include/Rpc.h
  examples/lock-app/esp32/main/locking_service.proto
  examples/lock-app/esp32/main/main.cpp
  examples/platform/esp32/pw_sys_io/CMakeLists.txt
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Apply suggestions from code review
  src/lib/mdns/Advertiser_ImplMinimalMdns.cpp
Owners: @andy31415, @gjc13, @damian-nordic

Mdns: separate query responders for advertisers
  src/lib/mdns/Advertiser_ImplMinimalMdns.cpp
  src/lib/mdns/minimal/ResponseSender.cpp
  src/lib/mdns/minimal/ResponseSender.h
  src/lib/mdns/minimal/tests/TestResponseSender.cpp
Owners: @andy31415, @gjc13, @damian-nordic

Add ping command to python device controller
  src/app/common_flags.gni
  src/controller/CHIPDeviceController.cpp
  src/controller/CHIPDeviceController.h
  src/controller/python/ChipDeviceController-ScriptBinding.cpp
  src/controller/python/chip-device-ctrl.py
  src/controller/python/chip/ChipDeviceCtrl.py
  src/messaging/ExchangeMessageDispatch.cpp
  src/messaging/tests/echo/echo_requester.cpp
  src/transport/SecureSessionMgr.cpp
Owners: @yunhanw-google, @bzbarsky-apple, @mrjerryjohns, @shana-apple, @pan-apple, @andy31415, @erjianqing, @yufengwangca

Refactor Echo callback handler with delegate interface
  examples/shell/shell_common/cmd_ping.cpp
  src/app/server/EchoHandler.cpp
  src/controller/BUILD.gn
  src/controller/CHIPDeviceController.cpp
  src/controller/CHIPDeviceController.h
  src/controller/PingClient.cpp
  src/controller/PingClient.h
  src/messaging/tests/echo/echo_requester.cpp
  src/messaging/tests/echo/echo_responder.cpp
  src/protocols/echo/Echo.h
  src/protocols/echo/EchoClient.cpp
  src/protocols/echo/EchoServer.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @yunhanw-google, @bzbarsky-apple, @mrjerryjohns, @shana-apple, @pan-apple, @yufengwangca

Update Readme for Python Device Controller
  src/controller/python/README.md
  src/messaging/tests/echo/echo_requester.cpp
Owners: @andy31415, @erjianqing, @yufengwangca, @bzbarsky-apple

Update src/controller/CHIPDeviceController.h
  src/controller/CHIPDeviceController.cpp
  src/controller/CHIPDeviceController.h
  src/controller/python/ChipDeviceController-ScriptBinding.cpp
  src/controller/python/chip-device-ctrl.py
  src/controller/python/chip/ChipDeviceCtrl.py
Owners: @shana-apple, @pan-apple, @andy31415, @erjianqing

Make pingDevice to asynchronously
  src/controller/CHIPDeviceController.cpp
  src/controller/PingClient.cpp
  src/controller/PingClient.h
  src/system/SystemError.cpp
  src/system/SystemError.h
  src/system/tests/TestSystemErrorStr.cpp
Owners: @shana-apple, @pan-apple, @kpschoedel

Address review comments
  src/app/common_flags.gni
  src/controller/CHIPDeviceController.cpp
  src/controller/CHIPDeviceController.h
  src/controller/python/ChipDeviceController-ScriptBinding.cpp
  src/controller/python/chip-device-ctrl.py
  src/controller/python/chip/ChipDeviceCtrl.py
Owners: @yunhanw-google, @bzbarsky-apple, @mrjerryjohns, @shana-apple, @pan-apple, @andy31415, @erjianqing

Restyled by clang-format
  src/lib/mdns/Advertiser_ImplMinimalMdns.cpp
Owners: @andy31415, @gjc13, @damian-nordic

[mbedtls] update to 2.25
  third_party/mbedtls/mbedtls.gni
  third_party/qpg_sdk/qpg6100_sdk.gni
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Apply suggestions from code review
  scripts/tools/linux_ip_namespace_setup.sh
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

reformatting.
  scripts/tools/linux_ip_namespace_setup.sh
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Script for setting up linux namespaces
  scripts/tools/linux_ip_namespace_setup.sh
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Restyled by shfmt
  scripts/tools/linux_ip_namespace_setup.sh
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Restyled by shellharden
  scripts/tools/linux_ip_namespace_setup.sh
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Add example and header.
  scripts/tools/linux_ip_namespace_setup.sh
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Add support for thread-safe event queue in platform layer
  src/include/platform/internal/GenericPlatformManagerImpl_POSIX.cpp
  src/include/platform/internal/GenericPlatformManagerImpl_POSIX.h
  src/platform/BUILD.gn
  src/platform/DeviceSafeQueue.cpp
  src/platform/DeviceSafeQueue.h
Owners: @mspang, @yufengwangca

Use RAII style of locking
  src/include/platform/internal/GenericPlatformManagerImpl_POSIX.cpp
  src/include/platform/internal/GenericPlatformManagerImpl_POSIX.h
Owners: @mspang, @yufengwangca

Refactor Front() and Pop() to PopFront()
  src/include/platform/internal/GenericPlatformManagerImpl_POSIX.cpp
  src/include/platform/internal/GenericPlatformManagerImpl_POSIX.h
  src/platform/DeviceSafeQueue.cpp
  src/platform/DeviceSafeQueue.h
Owners: @mspang, @yufengwangca

Make access to CHIP Message Queue thread safe
  src/include/platform/internal/GenericPlatformManagerImpl_POSIX.cpp
  src/include/platform/internal/GenericPlatformManagerImpl_POSIX.h
  src/platform/Linux/PlatformManagerImpl.cpp
Owners: @mspang, @yufengwangca

[esp32] add heap trace extension for esp32
  examples/all-clusters-app/esp32/main/CMakeLists.txt
  examples/all-clusters-app/esp32/main/main.cpp
  examples/lock-app/esp32/main/CMakeLists.txt
  examples/lock-app/esp32/main/main.cpp
  examples/platform/esp32/shell_extension/heap_trace.cpp
  examples/platform/esp32/shell_extension/heap_trace.h
  examples/platform/esp32/shell_extension/launch.cpp
  examples/platform/esp32/shell_extension/launch.h
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Ensure memory is allocated for the mInfoPtr field of Cancellable into CHIPCallbacksMgr
  src/app/util/CHIPDeviceCallbacksMgr.cpp
  src/app/util/CHIPDeviceCallbacksMgr.h
  src/lib/core/CHIPCallback.h
Owners: @yunhanw-google, @bzbarsky-apple, @mrjerryjohns, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

CHIPDeviceController::StopPairing does not stop pairing
  src/controller/CHIPDeviceController.cpp
Owners: @shana-apple, @pan-apple

fix typo
  src/controller/python/test/test_scripts/base.py
  src/controller/python/test/test_scripts/mobile-device-test.py
Owners: @andy31415, @erjianqing

[python] Add zclwrite command for writing attributes
  src/controller/python/chip-device-ctrl.py
  src/controller/python/chip/ChipDeviceCtrl.py
  src/controller/python/templates/python-CHIPClusters-cpp.zapt
  src/controller/python/templates/python-CHIPClusters-py.zapt
  src/controller/python/test/test_scripts/base.py
  src/controller/python/test/test_scripts/mobile-device-test.py
Owners: @andy31415, @erjianqing

Run codegen
  src/controller/python/chip/clusters/CHIPClusters.cpp
  src/controller/python/chip/clusters/CHIPClusters.py
Owners: @andy31415, @erjianqing

Shut down the echo client if SendEchoRequest failed within EchoTimerHandler
  examples/shell/shell_common/cmd_ping.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Enable CRMP on the client
  src/app/CommandSender.cpp
  src/controller/CHIPDevice.cpp
Owners: @yunhanw-google, @bzbarsky-apple, @mrjerryjohns, @shana-apple, @pan-apple
