Repository project-chip/connectedhomeip, changes with the owners that .github/CODEOWNERS names for each.
All owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @mspang, @pan-apple, @emargolis, @andy31415, @yufengwangca, @kghost, @bzbarksy-apple, @bzbarsky-apple, @gjc13, @damian-nordic, @erjiaqing, @shana-apple, @yunhanw-google, @vivien-apple, @erjianqing, @mrjerryjohns, @jrhees-cae, @rgoliver, @austinh0, @bukepo, @kpschoedel

expose SecureSession from Device API (#8691)
  src/controller/CHIPDevice.h
Owners: @shana-apple, @pan-apple

Remove public Shutdown method on WriteHandler. (#8713)
  src/app/InteractionModelEngine.cpp
  src/app/WriteHandler.h
Owners: @yunhanw-google, @bzbarsky-apple, @mrjerryjohns

Ran ./scripts/tools/zap_regen_all.py
  src/controller/java/gen/CHIPClusters-JNI.cpp
  src/controller/python/chip/clusters/CHIPClusters.cpp
Owners: @austinh0, @andy31415, @erjianqing

[python] Introduce GetClusterInfoById (#8749)
  src/controller/python/chip/ChipDeviceCtrl.py
  src/controller/python/chip/clusters/CHIPClusters.py
  src/controller/python/templates/python-CHIPClusters-py.zapt
  src/controller/python/test/test_scripts/base.py
  src/controller/python/test/test_scripts/mobile-device-test.py
Owners: @andy31415, @erjianqing

Tests - Log a useful message if the cluster name is not spelled appropriately (#8750)
  examples/all-clusters-app/all-clusters-common/gen/endpoint_config.h
  examples/all-clusters-app/all-clusters-common/gen/gen_config.h
  examples/bridge-app/bridge-common/gen/endpoint_config.h
  examples/bridge-app/bridge-common/gen/gen_config.h
  examples/lighting-app/lighting-common/gen/endpoint_config.h
  examples/lighting-app/lighting-common/gen/gen_config.h
  examples/lock-app/lock-common/gen/endpoint_config.h
  examples/lock-app/lock-common/gen/gen_config.h
  examples/pump-app/pump-common/gen/endpoint_config.h
  examples/pump-app/pump-common/gen/gen_config.h
  examples/pump-controller-app/pump-controller-common/gen/endpoint_config.h
  examples/pump-controller-app/pump-controller-common/gen/gen_config.h
  examples/thermostat/thermostat-common/gen/endpoint_config.h
  examples/thermostat/thermostat-common/gen/gen_config.h
  examples/tv-app/tv-common/gen/endpoint_config.h
  examples/tv-app/tv-common/gen/gen_config.h
  src/app/common/gen/attribute-id.h
  src/app/common/gen/callback.h
  src/app/common/gen/client-command-macro.h
  src/app/common/gen/cluster-id.h
  src/app/common/gen/command-id.h
  src/app/common/gen/print-cluster.h
  src/app/zap-templates/common/ClusterTestGeneration.js
  src/app/zap-templates/templates/app/helper.js
  src/app/zap-templates/zcl/data-model/chip/onoff-cluster.xml
  src/controller/data_model/gen/endpoint_config.h
  src/controller/data_model/gen/gen_config.h
  src/darwin/Framework/CHIP/gen/CHIPClustersObjc.h
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @yunhanw-google, @bzbarsky-apple, @mrjerryjohns, @vivien-apple, @erjianqing, @shana-apple, @pan-apple

Ran ./scripts/tools/zap_regen_all.py (#8811)
  src/controller/java/gen/CHIPClusters-JNI.cpp
  src/controller/python/chip/clusters/CHIPClusters.cpp
Owners: @austinh0, @andy31415, @erjianqing

Tests: Update CheckOnlyServer (#8798)
  src/lib/mdns/minimal/records/Txt.h
  src/lib/mdns/minimal/records/tests/TestResourceRecordTxt.cpp
  src/lib/mdns/minimal/tests/CheckOnlyServer.h
  src/lib/mdns/minimal/tests/TestAdvertiser.cpp
  src/lib/support/CHIPMemString.h
Owners: @andy31415, @gjc13, @damian-nordic, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Optimize SystemObject unit test to complete within 2 seconds
  src/system/tests/TestSystemObject.cpp
Owners: @kpschoedel

Removed local settings for vs code
  .vscode/settings.json
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Refactor to use local copy of heap_4
  .vscode/settings.json
  examples/lighting-app/efr32/BUILD.gn
  examples/lighting-app/efr32/include/FreeRTOSConfig.h
  examples/lighting-app/efr32/src/main.cpp
  examples/lock-app/efr32/BUILD.gn
  examples/lock-app/efr32/include/FreeRTOSConfig.h
  examples/lock-app/efr32/src/main.cpp
  examples/platform/efr32/BUILD.gn
  examples/platform/efr32/heap_4_silabs.c
  examples/platform/efr32/heap_4_silabs.h
  examples/platform/efr32/init_efrPlatform.cpp
  examples/window-app/efr32/BUILD.gn
  examples/window-app/efr32/include/FreeRTOSConfig.h
  examples/window-app/efr32/src/main.cpp
  src/platform/EFR32/CHIPMem-Platform.cpp
  src/platform/EFR32/efr32-chip-mbedtls-config.h
  third_party/efr32_sdk/efr32_sdk.gni
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @mspang, @yufengwangca

Restyled by clang-format
  examples/window-app/efr32/src/main.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Restyle changes
  examples/persistent-storage/efr32/BUILD.gn
  examples/pigweed-app/efr32/BUILD.gn
  examples/pigweed-app/efr32/README.md
  examples/shell/efr32/BUILD.gn
Owners: @mspang, @rgoliver

Pull request changes - Fixed realloc - Updated license - changed mbedtls default calloc and free functions - Restyle changes
  examples/lighting-app/efr32/src/main.cpp
  examples/lock-app/efr32/src/main.cpp
  examples/platform/efr32/BUILD.gn
  examples/platform/efr32/heap_4_silabs.c
  examples/platform/efr32/heap_4_silabs.h
  examples/window-app/efr32/src/main.cpp
  src/platform/EFR32/CHIPMem-Platform.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @mspang, @yufengwangca

Updated missing example apps to use local copy of heap_4
  examples/persistent-storage/efr32/BUILD.gn
  examples/persistent-storage/efr32/include/FreeRTOSConfig.h
  examples/pigweed-app/efr32/BUILD.gn
  examples/pigweed-app/efr32/README.md
  examples/pigweed-app/efr32/include/FreeRTOSConfig.h
  examples/shell/efr32/BUILD.gn
  examples/shell/efr32/include/FreeRTOSConfig.h
Owners: @mspang, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @rgoliver

Moved free function into null check
  examples/platform/efr32/heap_4_silabs.c
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Add flash script to esp32 lock app
  examples/lock-app/esp32/CMakeLists.txt
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Remove obsolete TODO.
  src/include/platform/internal/GenericPlatformManagerImpl_POSIX.cpp
  src/include/platform/internal/GenericPlatformManagerImpl_Zephyr.cpp
  src/system/WatchableEventManagerLibevent.cpp
Owners: @mspang, @yufengwangca, @kpschoedel

Rename the default output "No Error" message by "Success"
  src/lib/support/ErrorStr.cpp
  src/lib/support/ErrorStr.h
  src/lib/support/tests/TestErrorStr.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Add C3devkit for esp32 boars compilation targets, added shell and flash bundle for esp32 shell
  examples/shell/esp32/CMakeLists.txt
  scripts/build/build/factory.py
  scripts/build/build/targets.py
  scripts/build/builders/esp32.py
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @mspang

Add bridge app compilation, fix filename in shell app for esp32 builds
  examples/bridge-app/esp32/CMakeLists.txt
  scripts/build/build/factory.py
  scripts/build/build/targets.py
  scripts/build/builders/esp32.py
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @mspang

Add gitignore for esp32 bridgeapp - SDK config is modified at build time
  examples/bridge-app/esp32/.gitignore
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Add newline at end of cmake files
  examples/bridge-app/esp32/CMakeLists.txt
  examples/lock-app/esp32/CMakeLists.txt
  examples/shell/esp32/CMakeLists.txt
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Fix a race in CHIPDeviceController while shutting down
  src/darwin/Framework/CHIP/CHIPDeviceController.mm
Owners: @shana-apple, @vivien-apple, @pan-apple

Restyled by clang-format
  src/inet/TCPEndPoint.cpp
Owners: @kpschoedel

restyle
  src/inet/TCPEndPoint.cpp
Owners: @kpschoedel

Address review comments
  src/crypto/CHIPCryptoPAL.cpp
  src/crypto/CHIPCryptoPAL.h
Owners: @pan-apple, @emargolis

Restyled by clang-format
  src/crypto/CHIPCryptoPAL.h
Owners: @pan-apple, @emargolis

Fix integer overflow in ExtractIdFromServiceName. (#8779)
  src/lib/mdns/ServiceNaming.cpp
  src/lib/mdns/ServiceNaming.h
  src/lib/mdns/tests/TestServiceNaming.cpp
Owners: @andy31415, @gjc13, @damian-nordic

Update generated code
  examples/all-clusters-app/all-clusters-common/gen/IMClusterCommandHandler.cpp
  examples/chip-tool/commands/clusters/Commands.h
  examples/chip-tool/commands/tests/Commands.h
  examples/thermostat/thermostat-common/gen/IMClusterCommandHandler.cpp
  examples/tv-app/tv-common/gen/IMClusterCommandHandler.cpp
  src/app/common/gen/af-structs.h
  src/app/common/gen/attributes/Accessors.cpp
  src/app/common/gen/attributes/Accessors.h
  src/app/common/gen/callback.h
  src/controller/data_model/gen/CHIPClientCallbacks.cpp
  src/controller/data_model/gen/CHIPClientCallbacks.h
  src/controller/data_model/gen/CHIPClusters.cpp
  src/controller/data_model/gen/CHIPClusters.h
  src/controller/data_model/gen/IMClusterCommandHandler.cpp
  src/controller/java/gen/CHIPClusters-JNI.cpp
  src/controller/java/gen/ChipClusters.java
  src/controller/python/chip/clusters/CHIPClusters.cpp
  src/controller/python/chip/clusters/CHIPClusters.py
  src/darwin/Framework/CHIP/gen/CHIPClustersObjc.h
  src/darwin/Framework/CHIP/gen/CHIPClustersObjc.mm
  src/darwin/Framework/CHIPTests/CHIPClustersTests.m
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @vivien-apple, @yunhanw-google, @bzbarsky-apple, @mrjerryjohns, @shana-apple, @pan-apple, @austinh0, @andy31415, @erjianqing

[ZAP] Emit bool instead of uint8_t for Boolean types
  examples/chip-tool/commands/common/Command.cpp
  examples/chip-tool/commands/common/Command.h
  examples/chip-tool/templates/helper.js
  examples/tv-app/linux/include/content-launcher/ContentLauncherManager.cpp
  src/app/clusters/ota-provider/ota-provider.cpp
  src/app/zap-templates/common/ClustersHelper.js
  src/app/zap-templates/common/override.js
  src/app/zap-templates/templates/app/helper.js
  src/darwin/Framework/CHIP/templates/helper.js
Owners: @vivien-apple, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @erjianqing, @shana-apple, @pan-apple

Restyled by clang-format
  examples/chip-tool/commands/common/Command.cpp
  src/app/zap-templates/common/ClustersHelper.js
  src/app/zap-templates/templates/app/helper.js
Owners: @vivien-apple, @erjianqing

[ZAP] Add a script to update .zap files automatically
  scripts/tools/zap/convert.py
  scripts/tools/zap_convert_all.py
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Update zap files
  examples/all-clusters-app/all-clusters-common/all-clusters-app.zap
  examples/bridge-app/bridge-common/bridge-app.zap
  examples/lighting-app/lighting-common/lighting-app.zap
  examples/lock-app/lock-common/lock-app.zap
  examples/pump-app/pump-common/pump-app.zap
  examples/pump-controller-app/pump-controller-common/pump-controller-app.zap
  examples/temperature-measurement-app/esp32/main/temperature-measurement.zap
  examples/thermostat/thermostat-common/thermostat.zap
  examples/tv-app/tv-common/tv-app.zap
  examples/window-app/common/window-app.zap
  src/controller/data_model/controller-clusters.zap
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @shana-apple, @pan-apple

Restore timeout in JNI event loop
  src/controller/java/CHIPDeviceController-JNI.cpp
Owners: @austinh0

Remove obsolete TODO.
  src/include/platform/internal/GenericPlatformManagerImpl_POSIX.cpp
  src/include/platform/internal/GenericPlatformManagerImpl_Zephyr.cpp
  src/system/WatchableEventManagerLibevent.cpp
Owners: @mspang, @yufengwangca, @kpschoedel

Restyled by clang-format
  src/controller/java/CHIPDeviceController-JNI.cpp
Owners: @austinh0

resytle
  src/controller/java/CHIPDeviceController-JNI.cpp
Owners: @austinh0

Fix a race in CHIPDeviceController while shutting down (#8803)
  src/darwin/Framework/CHIP/CHIPDeviceController.mm
Owners: @shana-apple, @vivien-apple, @pan-apple

Adding Test_TC_FLW_1_1.yaml,Test_TC_OCC_1_1.yaml,Test_TC_TM_1_1.yaml to the tree and update the appropriate templates
  examples/chip-tool/templates/tests-commands.zapt
  src/app/tests/suites/certification/Test_TC_FLW_1_1.yaml
  src/app/tests/suites/certification/Test_TC_OCC_1_1.yaml
  src/app/tests/suites/certification/Test_TC_TM_1_1.yaml
  src/darwin/Framework/CHIP/templates/clusters-tests.zapt
Owners: @vivien-apple, @shana-apple, @pan-apple

Update generated tests
  examples/chip-tool/commands/tests/Commands.h
  src/darwin/Framework/CHIPTests/CHIPClustersTests.m
Owners: @vivien-apple, @shana-apple, @pan-apple

.github/CODEOWNERS:

# Current reviewers-XXX teams, who review everything for approval.
* @reviewers-amazon @reviewers-apple @reviewers-comcast @reviewers-google @reviewers-nordic @reviewers-samsung @reviewers-silabs


# BUILD system

*.gn @mspang
/build/ @mspang
/scripts/build/ @mspang

# Crypto
# Crypto primitives and high level API, generally on top of mbedtls and openssl
/src/crypto/* @pan-apple @emargolis
/src/credentials/ @pan-apple @emargolis

# Transport
# Send and receive data abstracting away the underlying protocol (UDP, TCP, BLE)
/src/transport/ @andy31415 @pan-apple

# Session establishment
# Establish a secure session (encryption keys) from one node to another.
# Includes CASE and PASE + session tracking and resumptioon
/src/protocols/secure_channel/ @pan-apple

# Message Layer
# CRMP and packet headers, generally coupled with SecureSessionManager
/src/messaging @yufengwangca @kghost @bzbarksy-apple
/src/transport/raw/MessageHeader.* @yufengwangca @kghost @bzbarksy-apple

# SecureSessionManager
# Manages per-session encryption keys and new session establishment
/src/transport/SecureSessionMgr.* @pan-apple

# Exchange management
# Joins requests and responses or ties a series of messages belonging to the 
# same protocol interaction
/src/messaging/ @yufengwangca @bzbarsky-apple
/src/channel/ @yufengwangca @bzbarsky-apple

# DNS-SD discovery and advertisement
# Advertise chip devices for commisioning, operational and discover such devices
/src/lib/mdns/ @andy31415 @gjc13 @damian-nordic

# Commisioning controller/flow
# Example of a comisioning sequence
/src/controller/ @pan-apple @erjiaqing

# Operational credentials management
# Signing certificates, maintaining roots of trust, validation, fabric management
/src/controller/ @shana-apple @pan-apple
/src/transport/AdminPairingTable.* @shana-apple @pan-apple

# TLV encoding/decoding to/from byte buffers
/src/lib/core/CHIPTLV* @yunhanw-google @bzbarsky-apple @shana-apple

# Interaction model - ember implementation
# ZCL protocol implementation: ZCL encoding to be sent over the wire as a 
# ZigbeePro protocol implementation
/src/app/util/ @vivien-apple @erjianqing @bzbarsky-apple

# Interaction model - non-ember
# Protocol implementation for IM interactions between nodes, matching spec
/src/app/ @yunhanw-google @bzbarsky-apple @mrjerryjohns

# Interaction model - code generation
# CHIP-specific infrastructure for generating code: helper js methods, scripts
# and code layout
/src/app/zap-templates/ @vivien-apple @erjianqing

# ZAP suppport
# UI for editing XML, generates code from such ZML and configuration files
# NOT part of CHIP however CHIP relies heavily on ZAP.
#    @vivien-apple  @tecimovic

# 'Standard' cluster implementations (server side)
# Clusters shipped with the sdk, can be integrated as-is or used as a template
/src/app/clusters/ @vivien-apple

# Onboarding payload
# Parsing and generation of codes (includes QR and NFC), numeric pairing payload
/src/setup_payload/ @shana-apple @vivien-apple @jrhees-cae

# Device Layer
# Porting interfaces, scaffolding for building an example firmware
/src/platform/ @mspang @yufengwangca
/src/include/platform/ @mspang @yufengwangca

# Persistent storage
# Save state across reboots
/src/platform/*/KeyValueStore* @rgoliver

# Python bindings for CHIP - CLI
# Allows python code to use CHIP, generally targeted towards automation
/src/controller/python/ @andy31415 @erjianqing

# CHIP-tool C++ CLI
# Command line interface to chip as a client (controller and commisioner)
# Includes generated code for every base cluster
/examples/chip-tool/ @vivien-apple

# CHIP-tool iOS UI
/src/darwin/CHIPTool/ @shana-apple

# CHIP-tool Android
/src/android/CHIPTool/ @austinh0
/src/controller/java/ @austinh0

# End2End autogenerated tests
/src/darwin/Framework/Chip-templates/ @vivien-apple
/src/app/tests/suites/ @vivien-apple

# End2End cirque tests
# Simulate topology (cirque) and ptyhon-based test automation
/src/test_driver/linux/cirque/ @erjianqing @yunhanw-google

# Thread integration
# Thread-specific functionality (network provisioning, operational discovery, SRP registration etc.)
/src/platform/OpenThread/ @bukepo
/src/platform/*/ThreadStackmanagerImpl.* @bukepo

# Inet
# Networking abstraction layer (UDP-endpoint, TCP-endpoint, InetLayerBasis)
/src/inet/ @kpschoedel 

# System layer
/src/system/ @kpschoedel 

# BLE support
/src/ble/ @yunhanw-google

# CHIP Shell
# Command-line UART/stdin interface as a side-channel to CHIP accessories
# Aimed as user-friendly/manual control
/src/examples/shell/ @gjc13 @yufengwangca

# RPC
# Side-channlel command path (outside chip), generally for automation and debugging
# Aimed as "scriptable" when compared to shell
/examples/common/pigweed/ @rgoliver
/examples/pigweed-app/ @rgoliver

# Tooling for crypto manual generation
# Generates data for sample PKI
/src/tools/chip-cert/ @emargolis

# Channel API
# Construct a transport/secure session based on peer info and transport type.
# Focused on CASE session establishment
/src/channel/ @kghost

# Darwin framework
# Exposes a darwin API (Objective-C/swift rather than raw C++ API) for darwin
# applications
/src/darwin/Framework/ @shana-apple @vivien-apple @pan-apple
