Repository project-chip/connectedhomeip, changes with the owners that .github/CODEOWNERS names for each.
All owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @mspang, @pan-apple, @emargolis, @andy31415, @yufengwangca, @kghost, @bzbarksy-apple, @bzbarsky-apple, @gjc13, @damian-nordic, @erjiaqing, @shana-apple, @yunhanw-google, @vivien-apple, @erjianqing, @mrjerryjohns, @jrhees-cae, @rgoliver, @austinh0, @bukepo, @kpschoedel

.github/CODEOWNERS:

# Current reviewers-XXX teams, who review everything for approval.
* @reviewers-amazon @reviewers-apple @reviewers-comcast @reviewers-google @reviewers-nordic @reviewers-samsung @reviewers-silabs


# BUILD system

*.gn @mspang
/build/ @mspang
/scripts/build/ @mspang

# Crypto
# Crypto primitives and high level API, generally on top of mbedtls and openssl
/src/crypto/* @pan-apple @emargolis
/src/credentials/ @pan-apple @emargolis

# Transport
# Send and receive data abstracting away the underlying protocol (UDP, TCP, BLE)
/src/transport/ @andy31415 @pan-apple

# Session establishment
# Establish a secure session (encryption keys) from one node to another.
# Includes CASE and PASE + session tracking and resumptioon
/src/protocols/secure_channel/ @pan-apple

# Message Layer
# CRMP and packet headers, generally coupled with SecureSessionManager
/src/messaging @yufengwangca @kghost @bzbarksy-apple
/src/transport/raw/MessageHeader.* @yufengwangca @kghost @bzbarksy-apple

# SecureSessionManager
# Manages per-session encryption keys and new session establishment
/src/transport/SecureSessionMgr.* @pan-apple

# Exchange management
# Joins requests and responses or ties a series of messages belonging to the 
# same protocol interaction
/src/messaging/ @yufengwangca @bzbarsky-apple
/src/channel/ @yufengwangca @bzbarsky-apple

# DNS-SD discovery and advertisement
# Advertise chip devices for commisioning, operational and discover such devices
/src/lib/mdns/ @andy31415 @gjc13 @damian-nordic

# Commisioning controller/flow
# Example of a comisioning sequence
/src/controller/ @pan-apple @erjiaqing

# Operational credentials management
# Signing certificates, maintaining roots of trust, validation, fabric management
/src/controller/ @shana-apple @pan-apple
/src/transport/AdminPairingTable.* @shana-apple @pan-apple

# TLV encoding/decoding to/from byte buffers
/src/lib/core/CHIPTLV* @yunhanw-google @bzbarsky-apple @shana-apple

# Interaction model - ember implementation
# ZCL protocol implementation: ZCL encoding to be sent over the wire as a 
# ZigbeePro protocol implementation
/src/app/util/ @vivien-apple @erjianqing @bzbarsky-apple

# Interaction model - non-ember
# Protocol implementation for IM interactions between nodes, matching spec
/src/app/ @yunhanw-google @bzbarsky-apple @mrjerryjohns

# Interaction model - code generation
# CHIP-specific infrastructure for generating code: helper js methods, scripts
# and code layout
/src/app/zap-templates/ @vivien-apple @erjianqing

# ZAP suppport
# UI for editing XML, generates code from such ZML and configuration files
# NOT part of CHIP however CHIP relies heavily on ZAP.
#    @vivien-apple  @tecimovic

# 'Standard' cluster implementations (server side)
# Clusters shipped with the sdk, can be integrated as-is or used as a template
/src/app/clusters/ @vivien-apple

# Onboarding payload
# Parsing and generation of codes (includes QR and NFC), numeric pairing payload
/src/setup_payload/ @shana-apple @vivien-apple @jrhees-cae

# Device Layer
# Porting interfaces, scaffolding for building an example firmware
/src/platform/ @mspang @yufengwangca
/src/include/platform/ @mspang @yufengwangca

# Persistent storage
# Save state across reboots
/src/platform/*/KeyValueStore* @rgoliver

# Python bindings for CHIP - CLI
# Allows python code to use CHIP, generally targeted towards automation
/src/controller/python/ @andy31415 @erjianqing

# CHIP-tool C++ CLI
# Command line interface to chip as a client (controller and commisioner)
# Includes generated code for every base cluster
/examples/chip-tool/ @vivien-apple

# CHIP-tool iOS UI
/src/darwin/CHIPTool/ @shana-apple

# CHIP-tool Android
/src/android/CHIPTool/ @austinh0
/src/controller/java/ @austinh0

# End2End autogenerated tests
/src/darwin/Framework/Chip-templates/ @vivien-apple
/src/app/tests/suites/ @vivien-apple

# End2End cirque tests
# Simulate topology (cirque) and ptyhon-based test automation
/src/test_driver/linux/cirque/ @erjianqing @yunhanw-google

# Thread integration
# Thread-specific functionality (network provisioning, operational discovery, SRP registration etc.)
/src/platform/OpenThread/ @bukepo
/src/platform/*/ThreadStackmanagerImpl.* @bukepo

# Inet
# Networking abstraction layer (UDP-endpoint, TCP-endpoint, InetLayerBasis)
/src/inet/ @kpschoedel 

# System layer
/src/system/ @kpschoedel 

# BLE support
/src/ble/ @yunhanw-google

# CHIP Shell
# Command-line UART/stdin interface as a side-channel to CHIP accessories
# Aimed as user-friendly/manual control
/src/examples/shell/ @gjc13 @yufengwangca

# RPC
# Side-channlel command path (outside chip), generally for automation and debugging
# Aimed as "scriptable" when compared to shell
/examples/common/pigweed/ @rgoliver
/examples/pigweed-app/ @rgoliver

# Tooling for crypto manual generation
# Generates data for sample PKI
/src/tools/chip-cert/ @emargolis

# Channel API
# Construct a transport/secure session based on peer info and transport type.
# Focused on CASE session establishment
/src/channel/ @kghost

# Darwin framework
# Exposes a darwin API (Objective-C/swift rather than raw C++ API) for darwin
# applications
/src/darwin/Framework/ @shana-apple @vivien-apple @pan-apple

review
  src/platform/ESP32/BLEManagerImpl.h
  src/platform/ESP32/bluedroid/BLEManagerImpl.cpp
  src/platform/ESP32/nimble/BLEManagerImpl.cpp
Owners: @mspang, @yufengwangca

Fix for scripts/build test failure (#8499)
  BUILD.gn
  scripts/build/expected_all_platform_commands.txt
Owners: @mspang

Apply review comment from @emargolis
  src/protocols/secure_channel/PASESession.cpp
Owners: @pan-apple

Enable Identify server cluster in lighting-app
  examples/lighting-app/lighting-common/gen/af-gen-event.h
  examples/lighting-app/lighting-common/lighting-app.zap
  examples/lighting-app/nrfconnect/CMakeLists.txt
  examples/lighting-app/nrfconnect/main/AppTask.cpp
  examples/lighting-app/nrfconnect/main/ZclCallbacks.cpp
  examples/lighting-app/nrfconnect/main/include/LightingManager.h
  src/app/clusters/zll-identify-server/zll-identify-server.cpp
  src/app/util/util.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @vivien-apple, @yunhanw-google, @bzbarsky-apple, @mrjerryjohns

Add modified generated files
  examples/lighting-app/lighting-common/gen/IMClusterCommandHandler.cpp
  examples/lighting-app/lighting-common/gen/callback-stub.cpp
  examples/lighting-app/lighting-common/gen/endpoint_config.h
  examples/lighting-app/lighting-common/gen/gen_config.h
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Restyled by clang-format
  examples/lighting-app/lighting-common/gen/af-gen-event.h
  examples/lighting-app/nrfconnect/main/ZclCallbacks.cpp
  src/app/clusters/zll-identify-server/zll-identify-server.cpp
  src/app/util/util.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @vivien-apple, @yunhanw-google, @bzbarsky-apple, @mrjerryjohns

Initial creation of thermostat dev testing app
  BUILD.gn
  examples/thermostat/linux/.gn
  examples/thermostat/linux/BUILD.gn
  examples/thermostat/linux/Dockerfile
  examples/thermostat/linux/args.gni
  examples/thermostat/linux/build_overrides
  examples/thermostat/linux/entrypoint.sh
  examples/thermostat/linux/main.cpp
  examples/thermostat/linux/third_party/connectedhomeip
  examples/thermostat/thermostat-common/BUILD.gn
  examples/thermostat/thermostat-common/gen/CHIPClientCallbacks.cpp
  examples/thermostat/thermostat-common/gen/CHIPClientCallbacks.h
  examples/thermostat/thermostat-common/gen/CHIPClusters.cpp
  examples/thermostat/thermostat-common/gen/CHIPClusters.h
  examples/thermostat/thermostat-common/gen/IMClusterCommandHandler.cpp
  examples/thermostat/thermostat-common/gen/af-gen-event.h
  examples/thermostat/thermostat-common/gen/attribute-size.cpp
  examples/thermostat/thermostat-common/gen/callback-stub.cpp
  examples/thermostat/thermostat-common/gen/callback.h
  examples/thermostat/thermostat-common/gen/chip-zcl-zpro-codec-api.h
  examples/thermostat/thermostat-common/gen/encoder.cpp
  examples/thermostat/thermostat-common/gen/endpoint_config.h
  examples/thermostat/thermostat-common/gen/gen_config.h
  examples/thermostat/thermostat-common/gen/gen_tokens.h
  examples/thermostat/thermostat-common/thermostat.zap
Owners: @mspang, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

[K32W] Logging: Fix K32W buffer index (#8471)
  src/platform/K32W/Logging.cpp
Owners: @mspang, @yufengwangca

Restyled by clang-format
  src/protocols/bdx/BdxEndpoint.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Modify ReturnErrorOnFailure et al to accept CHIP_ERROR class or integer
  src/lib/core/CHIPError.h
  src/lib/support/CodeUtils.h
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Fix flaky unit test
  src/lib/core/tests/TestCHIPTLV.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Added stubbed in support for low power needed for rebase
  examples/thermostat/linux/BUILD.gn
  examples/thermostat/linux/include/low-power/LowPowerManager.cpp
  examples/thermostat/linux/include/low-power/LowPowerManager.h
  examples/thermostat/thermostat-common/gen/IMClusterCommandHandler.cpp
  examples/thermostat/thermostat-common/gen/callback-stub.cpp
  examples/thermostat/thermostat-common/gen/endpoint_config.h
Owners: @mspang, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Restyled by clang-format
  src/lib/support/CodeUtils.h
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

converting hsm signature from asn format to raw format
  src/crypto/hsm/nxp/CHIPCryptoPALHsm_SE05X_P256.cpp
  src/crypto/hsm/nxp/CHIPCryptoPALHsm_SE05X_Spake2p.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

restyle
  src/lib/support/CodeUtils.h
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Add *.egg-info to .gitignore.
  .gitignore
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Added support for thermostat scheduling attributes into controller-clusters.zap
  src/controller/data_model/controller-clusters.zap
Owners: @shana-apple, @pan-apple

[python] Add ChipStack.RunOnChipThread to run a python function on CHIP stack (#8472)
  src/controller/python/ChipDeviceController-ScriptBinding.cpp
  src/controller/python/chip/ChipDeviceCtrl.py
  src/controller/python/chip/ChipStack.py
Owners: @andy31415, @erjianqing

generated files for controller
  examples/chip-tool/commands/clusters/Commands.h
  src/controller/data_model/gen/CHIPClusters.cpp
  src/controller/data_model/gen/CHIPClusters.h
  src/controller/data_model/gen/chip-zcl-zpro-codec-api.h
  src/controller/data_model/gen/encoder.cpp
  src/controller/java/gen/CHIPClusters-JNI.cpp
  src/controller/java/gen/ChipClusters.java
  src/controller/python/chip/clusters/CHIPClusters.cpp
  src/controller/python/chip/clusters/CHIPClusters.py
  src/darwin/Framework/CHIP/gen/CHIPClustersObjc.h
  src/darwin/Framework/CHIP/gen/CHIPClustersObjc.mm
  src/darwin/Framework/CHIPTests/CHIPClustersTests.m
Owners: @vivien-apple, @shana-apple, @pan-apple, @austinh0, @andy31415, @erjianqing

Restyled by gn
  BUILD.gn
  examples/thermostat/linux/BUILD.gn
Owners: @mspang

[Scripts] Add script for simple zaptool startup (#8292)
  scripts/tools/zap/configure.sh
  scripts/tools/zap/run_zaptool.sh
  src/app/zap-templates/README.md
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @vivien-apple, @erjianqing

errorcode -> csr
  src/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/GenericChipDeviceListener.kt
  src/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/provisioning/DeviceProvisioningFragment.kt
  src/controller/java/AndroidDeviceControllerWrapper.cpp
  src/controller/java/src/chip/devicecontroller/ChipDeviceController.java
Owners: @austinh0

restyling and small comment change
  src/protocols/bdx/BdxEndpoint.cpp
  src/protocols/bdx/BdxEndpoint.h
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Add a NodeId header and some NodeId utilities
  examples/chip-tool/commands/pairing/PairingCommand.cpp
  examples/pump-app/pump-common/gen/encoder.cpp
  examples/pump-controller-app/pump-controller-common/gen/encoder.cpp
  src/app/util/CHIPDeviceCallbacksMgr.cpp
  src/app/util/CHIPDeviceCallbacksMgr.h
  src/app/util/basic-types.h
  src/app/zap-templates/templates/app/encoder-src.zapt
  src/controller/CHIPDeviceController.cpp
  src/controller/ExampleOperationalCredentialsIssuer.cpp
  src/controller/ExampleOperationalCredentialsIssuer.h
  src/controller/data_model/gen/encoder.cpp
  src/lib/core/BUILD.gn
  src/lib/core/NodeId.h
  src/lib/core/PeerId.h
  src/lib/support/CHIPArgParser.cpp
  src/lib/support/CHIPArgParser.hpp
  src/messaging/ExchangeContext.cpp
  src/messaging/tests/TestReliableMessageProtocol.cpp
  src/protocols/secure_channel/tests/TestCASESession.cpp
  src/protocols/secure_channel/tests/TestPASESession.cpp
  src/transport/SecureSessionHandle.h
Owners: @vivien-apple, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @yunhanw-google, @bzbarsky-apple, @mrjerryjohns, @erjianqing, @shana-apple, @pan-apple, @mspang, @yufengwangca, @andy31415

Re-enable the TestCluster bits of the Tests job.
  scripts/tests/test_suites.sh
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

increase default RMP ack timeout to 200ms
  src/messaging/ReliableMessageProtocolConfig.h
Owners: @yufengwangca, @bzbarsky-apple

Remove warning on ESPPORT not set.
  scripts/examples/build-all-clusters-app.py
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Looks like the changes to other clusters didn't make it to the thermostat cluster. These changes allow it to compile again
  src/app/clusters/thermostat-server/thermostat.cpp
Owners: @vivien-apple

Restyled by clang-format
  src/app/clusters/thermostat-server/thermostat.cpp
Owners: @vivien-apple

Fix leftover from #8236 and make BufferReader/Writer support Span (#8408)
  src/app/decoder.cpp
  src/app/message-reader.h
  src/app/util/attribute-list-byte-span.cpp
  src/ble/BtpEngine.cpp
  src/credentials/CHIPCert.cpp
  src/credentials/CHIPCert.h
  src/crypto/CHIPCryptoPAL.cpp
  src/crypto/CHIPCryptoPAL.h
  src/crypto/CHIPCryptoPALmbedTLS.cpp
  src/crypto/tests/BUILD.gn
  src/crypto/tests/CHIPCryptoPALTest.cpp
  src/crypto/tests/RawIntegerToDer_test_vectors.h
  src/lib/support/BufferReader.h
  src/lib/support/BufferWriter.h
  src/lib/support/Span.h
  src/lib/support/tests/TestBufferReader.cpp
  src/lib/support/tests/TestBufferWriter.cpp
  src/lib/support/tests/TestSpan.cpp
  src/protocols/bdx/BdxMessages.h
  src/protocols/bdx/BdxTransferSession.h
  src/protocols/bdx/tests/TestBdxTransferSession.cpp
  src/transport/raw/MessageHeader.cpp
Owners: @yunhanw-google, @bzbarsky-apple, @mrjerryjohns, @pan-apple, @emargolis, @mspang, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @yufengwangca, @kghost, @bzbarksy-apple

Change QR code payload setup to use C strings
  src/setup_payload/BUILD.gn
  src/setup_payload/Base38Decode.cpp
  src/setup_payload/Base38Decode.h
  src/setup_payload/Base38Encode.cpp
  src/setup_payload/Base38Encode.h
  src/setup_payload/QRCodeSetupPayloadGenerator.cpp
  src/setup_payload/QRCodeSetupPayloadGenerator.h
  src/setup_payload/QRCodeSetupPayloadParser.cpp
  src/setup_payload/SetupPayload.h
  src/setup_payload/tests/TestHelpers.h
  src/setup_payload/tests/TestQRCode.cpp
Owners: @shana-apple, @vivien-apple, @jrhees-cae

Update src/controller/python/chip-device-ctrl.py
  src/controller/python/chip-device-ctrl.py
Owners: @andy31415, @erjianqing

Fix unbounded stack in src/setup_payload (#3663)
  src/setup_payload/QRCodeSetupPayloadGenerator.cpp
Owners: @shana-apple, @vivien-apple, @jrhees-cae

Restyled by clang-format
  src/setup_payload/QRCodeSetupPayloadGenerator.cpp
Owners: @shana-apple, @vivien-apple, @jrhees-cae

[Darwin] Set the Progress Log level to DEFAULT instead of INFO
  src/platform/Darwin/Logging.cpp
Owners: @mspang, @yufengwangca

Optionally tag CHIP_ERROR with source location (#8470)
  src/controller/python/ChipCommissionableNodeController-ScriptBinding.cpp
  src/controller/python/ChipDeviceController-ScriptBinding.cpp
  src/controller/python/ChipDeviceController-ScriptDeviceAddressUpdateDelegate.cpp
  src/controller/python/ChipDeviceController-ScriptDeviceAddressUpdateDelegate.h
  src/controller/python/ChipDeviceController-ScriptDevicePairingDelegate.cpp
  src/controller/python/ChipDeviceController-ScriptDevicePairingDelegate.h
  src/controller/python/chip/ChipStack.py
  src/controller/python/chip/clusters/CHIPClusters.cpp
  src/controller/python/chip/discovery/NodeResolution.cpp
  src/controller/python/chip/discovery/library_handle.py
  src/controller/python/chip/interaction_model/Delegate.cpp
  src/controller/python/chip/internal/CommissionerImpl.cpp
  src/controller/python/chip/native/StackInit.cpp
  src/controller/python/chip/setup_payload/Generator.cpp
  src/controller/python/chip/setup_payload/Parser.cpp
  src/controller/python/templates/python-CHIPClusters-cpp.zapt
  src/lib/core/CHIPConfig.h
  src/lib/core/CHIPError.h
  src/lib/core/tests/TestCHIPTLV.cpp
  src/lib/support/CodeUtils.h
  src/lib/support/ErrorStr.cpp
  src/lib/support/tests/TestErrorStr.cpp
  src/platform/Linux/CHIPPlatformConfig.h
Owners: @andy31415, @erjianqing, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @mspang, @yufengwangca

Add intermediate digest computation to Hash_SHA256_Stream (#8496)
  src/credentials/GenerateChipX509Cert.cpp
  src/crypto/CHIPCryptoPAL.cpp
  src/crypto/CHIPCryptoPAL.h
  src/crypto/CHIPCryptoPALOpenSSL.cpp
  src/crypto/CHIPCryptoPALmbedTLS.cpp
  src/crypto/tests/CHIPCryptoPALTest.cpp
  src/protocols/secure_channel/CASESession.cpp
  src/protocols/secure_channel/PASESession.cpp
  src/setup_payload/AdditionalDataPayloadGenerator.cpp
Owners: @pan-apple, @emargolis, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @shana-apple, @vivien-apple, @jrhees-cae

TLV reader: Fix floating support
  src/lib/core/CHIPTLVReader.cpp
Owners: @yunhanw-google, @bzbarsky-apple, @shana-apple

Restyled by clang-format
  src/lib/core/CHIPTLVReader.cpp
Owners: @yunhanw-google, @bzbarsky-apple, @shana-apple

Replace lighting_console with chip_rpc.console (#8302)
  examples/common/pigweed/rpc_console/.gn
  examples/common/pigweed/rpc_console/BUILD.gn
  examples/common/pigweed/rpc_console/README.md
  examples/common/pigweed/rpc_console/build_overrides
  examples/common/pigweed/rpc_console/py/BUILD.gn
  examples/common/pigweed/rpc_console/py/chip_rpc/__init__.py
  examples/common/pigweed/rpc_console/py/chip_rpc/console.py
  examples/common/pigweed/rpc_console/third_party/connectedhomeip
  examples/ipv6only-app/common/BUILD.gn
  examples/ipv6only-app/common/wifi_service/wifi_service.options
  examples/ipv6only-app/common/wifi_service/wifi_service.proto
  examples/ipv6only-app/esp32/README.md
  examples/ipv6only-app/esp32/include/wifi_service.h
  examples/ipv6only-app/esp32/main/CMakeLists.txt
  examples/ipv6only-app/esp32/main/main.cpp
  examples/ipv6only-app/esp32/main/wifi_service.cpp
  examples/lighting-app/efr32/BUILD.gn
  examples/lighting-app/efr32/README.md
  examples/lighting-app/linux/BUILD.gn
  examples/lighting-app/linux/README.md
  examples/lighting-app/nrfconnect/README.md
  examples/lock-app/esp32/README.md
  examples/lock-app/esp32/main/CMakeLists.txt
  examples/lock-app/lock-common/locking_service/locking_service.proto
  scripts/environment.json
  src/lib/mdns/minimal/core/DnsHeader.h
  src/lib/mdns/minimal/records/Srv.h
  third_party/mbedtls/mbedtls.gni
Owners: @rgoliver, @mspang, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @andy31415, @gjc13, @damian-nordic
