Repository project-chip/connectedhomeip, changes with the owners that .github/CODEOWNERS names for each.
All owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @mspang, @pan-apple, @emargolis, @andy31415, @yufengwangca, @kghost, @bzbarksy-apple, @bzbarsky-apple, @gjc13, @damian-nordic, @erjiaqing, @shana-apple, @yunhanw-google, @vivien-apple, @erjianqing, @mrjerryjohns, @jrhees-cae, @rgoliver, @austinh0, @bukepo, @kpschoedel

Fix warning on heap tracing. (#8385)
  examples/platform/esp32/shell_extension/heap_trace.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Generate Clusters/Commands/Attributes ids using MEI encoding
  src/app/zap-templates/templates/app/helper.js
  src/app/zap-templates/templates/app/ids/Attributes.zapt
  src/app/zap-templates/templates/app/ids/Clusters.zapt
  src/app/zap-templates/templates/app/ids/Commands.zapt
Owners: @vivien-apple, @erjianqing

Update gen/ folders
  src/app/common/gen/ids/Attributes.h
  src/app/common/gen/ids/Clusters.h
  src/app/common/gen/ids/Commands.h
Owners: @yunhanw-google, @bzbarsky-apple, @mrjerryjohns

Revisions to System::Layer (#8267)
  src/include/platform/PlatformManager.h
  src/platform/EFR32/SystemPlatformConfig.h
  src/platform/ESP32/SystemPlatformConfig.h
  src/platform/K32W/SystemPlatformConfig.h
  src/platform/SystemEventSupport.cpp
  src/platform/SystemTimerSupport.cpp
  src/platform/cc13x2_26x2/SystemPlatformConfig.h
  src/platform/mbed/SystemPlatformConfig.h
  src/platform/qpg/SystemPlatformConfig.h
  src/system/SystemConfig.h
  src/system/SystemEvent.h
  src/system/SystemLayer.cpp
  src/system/SystemLayer.h
Owners: @mspang, @yufengwangca, @kpschoedel

Add suffix to secure pairing test case. (#8391)
  src/protocols/secure_channel/tests/TestCASESession.cpp
  src/protocols/secure_channel/tests/TestPASESession.cpp
Owners: @pan-apple

Remove demo UDP advertisement from Thread samples (#8354)
  examples/lighting-app/efr32/BUILD.gn
  examples/lighting-app/efr32/src/AppTask.cpp
  examples/lighting-app/mbed/main/AppTask.cpp
  examples/lighting-app/nrfconnect/CMakeLists.txt
  examples/lighting-app/nrfconnect/main/AppTask.cpp
  examples/lock-app/efr32/BUILD.gn
  examples/lock-app/efr32/src/AppTask.cpp
  examples/lock-app/nrfconnect/CMakeLists.txt
  examples/lock-app/nrfconnect/main/AppTask.cpp
  examples/platform/efr32/Service.cpp
  examples/platform/efr32/Service.h
  examples/platform/nrfconnect/app/Service.cpp
  examples/platform/nrfconnect/app/include/Service.h
  examples/pump-app/nrfconnect/CMakeLists.txt
  examples/pump-app/nrfconnect/main/AppTask.cpp
  examples/pump-controller-app/nrfconnect/CMakeLists.txt
  examples/pump-controller-app/nrfconnect/main/AppTask.cpp
  examples/shell/efr32/BUILD.gn
  examples/window-app/efr32/BUILD.gn
  examples/window-app/efr32/src/AppTask.cpp
Owners: @mspang, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Add utilities for extracting a PeerId from an opcert, and use them in CASE. (#8345)
  src/credentials/CHIPCert.cpp
  src/credentials/CHIPCert.h
  src/credentials/tests/TestChipCert.cpp
  src/protocols/secure_channel/CASESession.cpp
Owners: @pan-apple, @emargolis

Run codegen
  examples/all-clusters-app/all-clusters-common/gen/IMClusterCommandHandler.cpp
  examples/bridge-app/bridge-common/gen/IMClusterCommandHandler.cpp
  examples/lighting-app/lighting-common/gen/IMClusterCommandHandler.cpp
  examples/lock-app/lock-common/gen/IMClusterCommandHandler.cpp
  examples/pump-app/pump-common/gen/IMClusterCommandHandler.cpp
  examples/pump-controller-app/pump-controller-common/gen/IMClusterCommandHandler.cpp
  examples/temperature-measurement-app/esp32/main/gen/IMClusterCommandHandler.cpp
  examples/tv-app/tv-common/gen/IMClusterCommandHandler.cpp
  examples/window-app/common/gen/IMClusterCommandHandler.cpp
  src/app/common/gen/callback.h
  src/controller/data_model/gen/CHIPClientCallbacks.cpp
  src/controller/data_model/gen/IMClusterCommandHandler.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @yunhanw-google, @bzbarsky-apple, @mrjerryjohns, @shana-apple, @pan-apple

[im] Seperate dispatch route for CommandSender and CommandHandler
  src/app/CommandSender.cpp
  src/app/InteractionModelEngine.h
  src/app/tests/TestCommandInteraction.cpp
  src/app/tests/integration/chip_im_initiator.cpp
  src/app/tests/integration/chip_im_responder.cpp
  src/app/zap-templates/templates/app/CHIPClientCallbacks-src.zapt
  src/app/zap-templates/templates/app/callback.zapt
  src/app/zap-templates/templates/app/im-cluster-command-handler.zapt
  src/controller/CHIPDevice.cpp
  src/controller/CHIPDevice.h
Owners: @yunhanw-google, @bzbarsky-apple, @mrjerryjohns, @vivien-apple, @erjianqing, @shana-apple, @pan-apple

Rename TestSrv into TestTxt (#8390)
  src/lib/mdns/minimal/records/tests/TestResourceRecordTxt.cpp
Owners: @andy31415, @gjc13, @damian-nordic

Remove PID printing in TestInetCommonPosix.
  src/inet/tests/TestInetCommonPosix.cpp
Owners: @kpschoedel

Add use-after-move check of clang-tidy
  .clang-tidy
  BUILD.gn
  build/chip/tests.gni
  build/toolchain/clang_tidy/BUILD.gn
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @mspang

Add src/app/common/gen/attributes/Accessors.cpp to the build list of applications (#8331)
  examples/all-clusters-app/esp32/main/CMakeLists.txt
  src/app/chip_data_model.gni
  src/app/clusters/barrier-control-server/barrier-control-server.cpp
  src/app/common/gen/attributes/Accessors.cpp
  src/app/common/gen/attributes/Accessors.h
  src/app/zap-templates/common/attributes/Accessors.js
  src/app/zap-templates/templates/app/attributes/Accessors-src.zapt
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @yunhanw-google, @bzbarsky-apple, @mrjerryjohns, @vivien-apple, @erjianqing

[fix] emberAfCopyString should accept size_t size[TE4] (#8241)
  src/app/util/af.h
  src/app/util/attribute-storage.cpp
  src/app/util/util.cpp
Owners: @yunhanw-google, @bzbarsky-apple, @mrjerryjohns

Restyled by gn
  build/chip/tests.gni
  build/toolchain/clang_tidy/BUILD.gn
Owners: @mspang

Code review comments
  scripts/build/BUILD.gn
  scripts/build/test.py
Owners: @mspang

Add comment for all_platform_commands.txt
  scripts/build/BUILD.gn
Owners: @mspang

zap regen
  src/controller/java/gen/CHIPClusters-JNI.cpp
Owners: @austinh0

Intermediate commit color control work
  examples/lighting-app/qpg/include/LightingManager.h
  examples/lighting-app/qpg/src/LightingManager.cpp
  examples/lighting-app/qpg/src/ZclCallbacks.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

More revisions to System::Layer
  examples/platform/nrfconnect/util/test/TestInetCommon.cpp
  src/app/tests/TestCommandInteraction.cpp
  src/app/tests/TestEventLogging.cpp
  src/app/tests/TestInteractionModelEngine.cpp
  src/app/tests/TestReadInteraction.cpp
  src/app/tests/TestReportingEngine.cpp
  src/controller/java/CHIPDeviceController-JNI.cpp
  src/include/platform/PlatformManager.h
  src/include/platform/internal/GenericPlatformManagerImpl.cpp
  src/inet/tests/TestInetCommonPosix.cpp
  src/messaging/tests/TestReliableMessageProtocol.cpp
  src/platform/SystemEventSupport.cpp
  src/platform/SystemTimerSupport.cpp
  src/system/SystemConfig.h
  src/system/SystemLayer.cpp
  src/system/SystemLayer.h
  src/system/tests/TestSystemObject.cpp
  src/system/tests/TestSystemTimer.cpp
  src/transport/raw/tests/NetworkTestHelpers.cpp
  src/transport/tests/TestSecureSessionMgr.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @yunhanw-google, @bzbarsky-apple, @mrjerryjohns, @austinh0, @mspang, @yufengwangca, @kpschoedel, @andy31415, @pan-apple

Apply review comments from @bzbarsky-apple
  src/crypto/CHIPCryptoPAL.cpp
  src/lib/support/tests/TestBufferWriter.cpp
Owners: @pan-apple, @emargolis, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Add BridgeApp to tasks and launches
  .vscode/launch.json
  .vscode/tasks.json
  examples/bridge-app/linux/README.md
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Generate Clusters/Commands/Attributes ids using MEI encoding (#8329)
  src/app/common/gen/ids/Attributes.h
  src/app/common/gen/ids/Clusters.h
  src/app/common/gen/ids/Commands.h
  src/app/zap-templates/templates/app/helper.js
  src/app/zap-templates/templates/app/ids/Attributes.zapt
  src/app/zap-templates/templates/app/ids/Clusters.zapt
  src/app/zap-templates/templates/app/ids/Commands.zapt
Owners: @yunhanw-google, @bzbarsky-apple, @mrjerryjohns, @vivien-apple, @erjianqing

Fix the length check in reporting message handling. (#8346)
  examples/pump-app/pump-common/gen/CHIPClientCallbacks.cpp
  examples/pump-controller-app/pump-controller-common/gen/CHIPClientCallbacks.cpp
  src/app/zap-templates/templates/app/CHIPClientCallbacks-src.zapt
  src/controller/data_model/gen/CHIPClientCallbacks.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @vivien-apple, @erjianqing, @shana-apple, @pan-apple

Add flashing wrapper generation to nrfconnect examples (#8401)
  config/nrfconnect/app/flashing.cmake
  examples/lighting-app/nrfconnect/CMakeLists.txt
  examples/lock-app/nrfconnect/CMakeLists.txt
  examples/pigweed-app/nrfconnect/CMakeLists.txt
  examples/pump-app/nrfconnect/CMakeLists.txt
  examples/pump-controller-app/nrfconnect/CMakeLists.txt
  examples/shell/nrfconnect/CMakeLists.txt
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @rgoliver

Support attribute read/write in Android (#7895)
  src/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/clusterclient/OnOffClientFragment.kt
  src/android/CHIPTool/app/src/main/res/layout/on_off_client_fragment.xml
  src/android/CHIPTool/app/src/main/res/values/strings.xml
  src/controller/java/JniTypeWrappers.h
  src/controller/java/gen/CHIPClusters-JNI.cpp
  src/controller/java/gen/ChipClusters.java
  src/controller/java/templates/CHIPClusters-JNI.zapt
  src/controller/java/templates/ChipClusters-java.zapt
  src/controller/java/templates/helper.js
  src/controller/java/templates/templates.json
Owners: @austinh0

Address Printf formatting issues (#8378)
  src/app/tests/TestMessageDef.cpp
  src/include/platform/internal/GenericConfigurationManagerImpl.cpp
  src/include/platform/internal/GenericPlatformManagerImpl.cpp
  src/inet/tests/TestInetAddress.cpp
  src/inet/tests/TestInetCommonPosix.cpp
  src/inet/tests/TestInetErrorStr.cpp
  src/inet/tests/TestInetLayer.cpp
  src/inet/tests/TestSetupFaultInjectionPosix.cpp
  src/lib/mdns/tests/TestTxtFields.cpp
  src/lib/support/tests/TestTimeUtils.cpp
Owners: @yunhanw-google, @bzbarsky-apple, @mrjerryjohns, @mspang, @yufengwangca, @kpschoedel, @andy31415, @gjc13, @damian-nordic, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

WC: Enable/Disable TU writing for Mode
  examples/chip-tool/commands/tests/Commands.h
  src/app/tests/suites/Test_TC_WNCV_2_1.yaml
  src/darwin/Framework/CHIPTests/CHIPClustersTests.m
Owners: @vivien-apple, @shana-apple, @pan-apple

WC: Update Cluster Revision
  examples/chip-tool/commands/tests/Commands.h
  src/darwin/Framework/CHIPTests/CHIPClustersTests.m
Owners: @vivien-apple, @shana-apple, @pan-apple

WC: Add missing autogen function for Test_TC_WNCV_1_1
  examples/chip-tool/commands/tests/Commands.h
  src/darwin/Framework/CHIPTests/CHIPClustersTests.m
Owners: @vivien-apple, @shana-apple, @pan-apple

WC: Add some unit test for Mandatory attributes
  examples/chip-tool/commands/tests/Commands.h
  examples/chip-tool/templates/tests-commands.zapt
  src/app/tests/suites/Test_TC_WNCV_2_1.yaml
  src/darwin/Framework/CHIP/templates/clusters-tests.zapt
  src/darwin/Framework/CHIPTests/CHIPClustersTests.m
Owners: @vivien-apple, @shana-apple, @pan-apple

WC: Add Units Test for Window Covering global
  examples/chip-tool/templates/tests-commands.zapt
  src/app/tests/suites/Test_TC_WNCV_1_1.yaml
  src/darwin/Framework/CHIP/templates/clusters-tests.zapt
Owners: @vivien-apple, @shana-apple, @pan-apple

WC: Set to the actual default value
  src/app/tests/suites/Test_TC_WNCV_1_1.yaml
Owners: @vivien-apple

WC: Disable FeatureMap reading
  src/app/tests/suites/Test_TC_WNCV_1_1.yaml
Owners: @vivien-apple

WC: Enable TU writing on Type
  examples/chip-tool/commands/tests/Commands.h
  src/app/tests/suites/Test_TC_WNCV_2_1.yaml
  src/darwin/Framework/CHIPTests/CHIPClustersTests.m
Owners: @vivien-apple, @shana-apple, @pan-apple

Matter TE4 fixes
  src/include/platform/internal/GenericPlatformManagerImpl.cpp
  src/lwip/k32w/lwipopts.h
  src/platform/K32W/CHIPDevicePlatformConfig.h
  src/platform/K32W/Logging.cpp
  third_party/k32w_sdk/k32w_sdk.gni
Owners: @mspang, @yufengwangca, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Restyled by clang-format
  src/platform/K32W/Logging.cpp
Owners: @mspang, @yufengwangca

Fix endianness on IPK computation
  src/protocols/secure_channel/CASESession.cpp
Owners: @pan-apple

Restyled by whitespace
  src/app/tests/suites/Test_TC_WNCV_2_1.yaml
Owners: @vivien-apple

Restyled by prettier-yaml
  src/app/tests/suites/Test_TC_WNCV_1_1.yaml
  src/app/tests/suites/Test_TC_WNCV_2_1.yaml
Owners: @vivien-apple

.github/CODEOWNERS:

# Current reviewers-XXX teams, who review everything for approval.
* @reviewers-amazon @reviewers-apple @reviewers-comcast @reviewers-google @reviewers-nordic @reviewers-samsung @reviewers-silabs


# BUILD system

*.gn @mspang
/build/ @mspang
/scripts/build/ @mspang

# Crypto
# Crypto primitives and high level API, generally on top of mbedtls and openssl
/src/crypto/* @pan-apple @emargolis
/src/credentials/ @pan-apple @emargolis

# Transport
# Send and receive data abstracting away the underlying protocol (UDP, TCP, BLE)
/src/transport/ @andy31415 @pan-apple

# Session establishment
# Establish a secure session (encryption keys) from one node to another.
# Includes CASE and PASE + session tracking and resumptioon
/src/protocols/secure_channel/ @pan-apple

# Message Layer
# CRMP and packet headers, generally coupled with SecureSessionManager
/src/messaging @yufengwangca @kghost @bzbarksy-apple
/src/transport/raw/MessageHeader.* @yufengwangca @kghost @bzbarksy-apple

# SecureSessionManager
# Manages per-session encryption keys and new session establishment
/src/transport/SecureSessionMgr.* @pan-apple

# Exchange management
# Joins requests and responses or ties a series of messages belonging to the 
# same protocol interaction
/src/messaging/ @yufengwangca @bzbarsky-apple
/src/channel/ @yufengwangca @bzbarsky-apple

# DNS-SD discovery and advertisement
# Advertise chip devices for commisioning, operational and discover such devices
/src/lib/mdns/ @andy31415 @gjc13 @damian-nordic

# Commisioning controller/flow
# Example of a comisioning sequence
/src/controller/ @pan-apple @erjiaqing

# Operational credentials management
# Signing certificates, maintaining roots of trust, validation, fabric management
/src/controller/ @shana-apple @pan-apple
/src/transport/AdminPairingTable.* @shana-apple @pan-apple

# TLV encoding/decoding to/from byte buffers
/src/lib/core/CHIPTLV* @yunhanw-google @bzbarsky-apple @shana-apple

# Interaction model - ember implementation
# ZCL protocol implementation: ZCL encoding to be sent over the wire as a 
# ZigbeePro protocol implementation
/src/app/util/ @vivien-apple @erjianqing @bzbarsky-apple

# Interaction model - non-ember
# Protocol implementation for IM interactions between nodes, matching spec
/src/app/ @yunhanw-google @bzbarsky-apple @mrjerryjohns

# Interaction model - code generation
# CHIP-specific infrastructure for generating code: helper js methods, scripts
# and code layout
/src/app/zap-templates/ @vivien-apple @erjianqing

# ZAP suppport
# UI for editing XML, generates code from such ZML and configuration files
# NOT part of CHIP however CHIP relies heavily on ZAP.
#    @vivien-apple  @tecimovic

# 'Standard' cluster implementations (server side)
# Clusters shipped with the sdk, can be integrated as-is or used as a template
/src/app/clusters/ @vivien-apple

# Onboarding payload
# Parsing and generation of codes (includes QR and NFC), numeric pairing payload
/src/setup_payload/ @shana-apple @vivien-apple @jrhees-cae

# Device Layer
# Porting interfaces, scaffolding for building an example firmware
/src/platform/ @mspang @yufengwangca
/src/include/platform/ @mspang @yufengwangca

# Persistent storage
# Save state across reboots
/src/platform/*/KeyValueStore* @rgoliver

# Python bindings for CHIP - CLI
# Allows python code to use CHIP, generally targeted towards automation
/src/controller/python/ @andy31415 @erjianqing

# CHIP-tool C++ CLI
# Command line interface to chip as a client (controller and commisioner)
# Includes generated code for every base cluster
/examples/chip-tool/ @vivien-apple

# CHIP-tool iOS UI
/src/darwin/CHIPTool/ @shana-apple

# CHIP-tool Android
/src/android/CHIPTool/ @austinh0
/src/controller/java/ @austinh0

# End2End autogenerated tests
/src/darwin/Framework/Chip-templates/ @vivien-apple
/src/app/tests/suites/ @vivien-apple

# End2End cirque tests
# Simulate topology (cirque) and ptyhon-based test automation
/src/test_driver/linux/cirque/ @erjianqing @yunhanw-google

# Thread integration
# Thread-specific functionality (network provisioning, operational discovery, SRP registration etc.)
/src/platform/OpenThread/ @bukepo
/src/platform/*/ThreadStackmanagerImpl.* @bukepo

# Inet
# Networking abstraction layer (UDP-endpoint, TCP-endpoint, InetLayerBasis)
/src/inet/ @kpschoedel 

# System layer
/src/system/ @kpschoedel 

# BLE support
/src/ble/ @yunhanw-google

# CHIP Shell
# Command-line UART/stdin interface as a side-channel to CHIP accessories
# Aimed as user-friendly/manual control
/src/examples/shell/ @gjc13 @yufengwangca

# RPC
# Side-channlel command path (outside chip), generally for automation and debugging
# Aimed as "scriptable" when compared to shell
/examples/common/pigweed/ @rgoliver
/examples/pigweed-app/ @rgoliver

# Tooling for crypto manual generation
# Generates data for sample PKI
/src/tools/chip-cert/ @emargolis

# Channel API
# Construct a transport/secure session based on peer info and transport type.
# Focused on CASE session establishment
/src/channel/ @kghost

# Darwin framework
# Exposes a darwin API (Objective-C/swift rather than raw C++ API) for darwin
# applications
/src/darwin/Framework/ @shana-apple @vivien-apple @pan-apple
