Repository project-chip/connectedhomeip, changes with the owners that .github/CODEOWNERS names for each.
All owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @mspang, @pan-apple, @emargolis, @andy31415, @yufengwangca, @kghost, @bzbarksy-apple, @bzbarsky-apple, @gjc13, @damian-nordic, @erjiaqing, @shana-apple, @yunhanw-google, @vivien-apple, @erjianqing, @mrjerryjohns, @jrhees-cae, @rgoliver, @austinh0, @bukepo, @kpschoedel

Add missing member
  src/platform/Darwin/PlatformManagerImpl.h
Owners: @mspang, @yufengwangca

Fix Darwin build
  src/darwin/Framework/CHIP/CHIPDeviceController.mm
Owners: @shana-apple, @vivien-apple, @pan-apple

Darwin - Start/Stop events on StartEventLoop/StopEventLoop
  examples/chip-tool/commands/common/Commands.cpp
  src/darwin/Framework/CHIP/CHIPDeviceController.mm
  src/platform/Darwin/PlatformManagerImpl.cpp
  src/platform/Darwin/PlatformManagerImpl.h
Owners: @vivien-apple, @shana-apple, @pan-apple, @mspang, @yufengwangca

Fix path conflicts in chip_data_model in some projects
  examples/lighting-app/nrfconnect/CMakeLists.txt
  examples/lighting-app/telink/CMakeLists.txt
  examples/lock-app/nrfconnect/CMakeLists.txt
  examples/pump-app/nrfconnect/CMakeLists.txt
  examples/pump-controller-app/nrfconnect/CMakeLists.txt
  src/app/BUILD.gn
  src/app/chip_data_model.gni
  src/app/encoder-common.cpp
  src/app/util/attribute-size-util.cpp
  src/darwin/Framework/CHIP.xcodeproj/project.pbxproj
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @yunhanw-google, @bzbarsky-apple, @mrjerryjohns, @shana-apple, @vivien-apple, @pan-apple

[shell] make shell ping command asynchronous
  examples/shell/shell_common/cmd_ping.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Enable OnOff cluster optional attributes
  examples/all-clusters-app/all-clusters-common/all-clusters-app.zap
  src/controller/data_model/controller-clusters.zap
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @shana-apple, @pan-apple

Update ZAP
  src/app/zap-templates/common/ClustersHelper.js
  src/app/zap-templates/templates/app/helper.js
Owners: @vivien-apple, @erjianqing

Update gen/ folders
  examples/all-clusters-app/all-clusters-common/gen/endpoint_config.h
  examples/chip-tool/commands/clusters/Commands.h
  examples/pump-app/pump-common/gen/endpoint_config.h
  examples/pump-controller-app/pump-controller-common/gen/endpoint_config.h
  src/controller/data_model/gen/CHIPClusters.cpp
  src/controller/data_model/gen/CHIPClusters.h
  src/controller/data_model/gen/chip-zcl-zpro-codec-api.h
  src/controller/data_model/gen/encoder.cpp
  src/controller/python/chip/clusters/CHIPClusters.cpp
  src/controller/python/chip/clusters/CHIPClusters.py
  src/darwin/Framework/CHIP/gen/CHIPClustersObjc.h
  src/darwin/Framework/CHIP/gen/CHIPClustersObjc.mm
  src/darwin/Framework/CHIPTests/CHIPClustersTests.m
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @vivien-apple, @shana-apple, @pan-apple, @andy31415, @erjianqing

Remove the disabled flag for tests related to OnOff optional attributes and generates the appropriate content
  examples/chip-tool/commands/tests/Commands.h
  src/app/tests/suites/Test_3_1_1.yaml
  src/app/tests/suites/Test_3_2_1.yaml
  src/darwin/Framework/CHIPTests/CHIPClustersTests.m
Owners: @vivien-apple, @shana-apple, @pan-apple

Implement parallel key value storage
  src/platform/cc13x2_26x2/CC13X2_26X2Config.cpp
  src/platform/cc13x2_26x2/CC13X2_26X2Config.h
  src/platform/cc13x2_26x2/KeyValueStoreManagerImpl.cpp
Owners: @mspang, @yufengwangca, @rgoliver

Add persistent storage example for cc26x2x7
  examples/persistent-storage/cc13x2x7_26x2x7/.gn
  examples/persistent-storage/cc13x2x7_26x2x7/BUILD.gn
  examples/persistent-storage/cc13x2x7_26x2x7/README.md
  examples/persistent-storage/cc13x2x7_26x2x7/args.gni
  examples/persistent-storage/cc13x2x7_26x2x7/build_overrides
  examples/persistent-storage/cc13x2x7_26x2x7/chip.syscfg
  examples/persistent-storage/cc13x2x7_26x2x7/include/AppConfig.h
  examples/persistent-storage/cc13x2x7_26x2x7/include/CHIPProjectConfig.h
  examples/persistent-storage/cc13x2x7_26x2x7/include/OpenThreadConfig.h
  examples/persistent-storage/cc13x2x7_26x2x7/main.cpp
  examples/persistent-storage/cc13x2x7_26x2x7/third_party/connectedhomeip
  src/platform/cc13x2_26x2/CC13X2_26X2Config.cpp
Owners: @mspang, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @yufengwangca

Widened KVS crc to 16 bits
  src/platform/cc13x2_26x2/CC13X2_26X2Config.cpp
  src/platform/cc13x2_26x2/KeyValueStoreManagerImpl.cpp
Owners: @mspang, @yufengwangca, @rgoliver

Implement Key Value Store
  src/platform/cc13x2_26x2/CC13X2_26X2Config.cpp
  src/platform/cc13x2_26x2/CC13X2_26X2Config.h
  src/platform/cc13x2_26x2/KeyValueStoreManagerImpl.cpp
  src/platform/cc13x2_26x2/KeyValueStoreManagerImpl.h
Owners: @mspang, @yufengwangca, @rgoliver

fix print formatting for persistent-storage app
  examples/persistent-storage/KeyValueStorageTest.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Darwin - Start/Stop events on StartEventLoop/StopEventLoop (#7651)
  examples/chip-tool/commands/common/Commands.cpp
  src/darwin/Framework/CHIP/CHIPDeviceController.mm
  src/platform/Darwin/PlatformManagerImpl.cpp
  src/platform/Darwin/PlatformManagerImpl.h
Owners: @vivien-apple, @shana-apple, @pan-apple, @mspang, @yufengwangca

Restyled by clang-format
  examples/persistent-storage/KeyValueStorageTest.cpp
  examples/persistent-storage/cc13x2x7_26x2x7/main.cpp
  src/platform/cc13x2_26x2/CC13X2_26X2Config.h
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @mspang, @yufengwangca

Restyled by gn
  examples/persistent-storage/cc13x2x7_26x2x7/BUILD.gn
Owners: @mspang

[Tests] Throw an error if an argument name for a command can not be found in the arguments list for this command
  examples/chip-tool/templates/partials/test_cluster.zapt
  src/app/zap-templates/common/ClusterTestGeneration.js
Owners: @vivien-apple, @erjianqing

[shell] make shell ping command asynchronous (#7544)
  examples/shell/shell_common/cmd_ping.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

move operational clusters to endpoint 0, keep the application cluster (window cover) in ep 1
  examples/window-app/common/window-app.zap
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Rebase and regen
  examples/window-app/common/gen/CHIPClusters.cpp
  examples/window-app/common/gen/CHIPClusters.h
  examples/window-app/common/gen/IMClusterCommandHandler.cpp
  examples/window-app/common/gen/attribute-size.cpp
  examples/window-app/common/gen/callback-stub.cpp
  examples/window-app/common/gen/callback.h
  examples/window-app/common/gen/chip-zcl-zpro-codec-api.h
  examples/window-app/common/gen/encoder.cpp
  examples/window-app/common/gen/endpoint_config.h
  examples/window-app/common/gen/gen_config.h
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

regenerate files with zap
  examples/window-app/common/gen/CHIPClientCallbacks.cpp
  examples/window-app/common/gen/CHIPClientCallbacks.h
  examples/window-app/common/gen/CHIPClusters.cpp
  examples/window-app/common/gen/CHIPClusters.h
  examples/window-app/common/gen/chip-zcl-zpro-codec-api.h
  examples/window-app/common/gen/encoder.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Fix missed issue when rebabse didn't remove TRUSTED_ROOT_CERTIFICATES_CLUSTER in the modified window-app.zap file Regen files
  examples/window-app/common/gen/endpoint_config.h
  examples/window-app/common/gen/gen_config.h
  examples/window-app/common/window-app.zap
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Rebase and Regen
  examples/window-app/common/gen/CHIPClusters.cpp
  examples/window-app/common/gen/IMClusterCommandHandler.cpp
  examples/window-app/common/gen/endpoint_config.h
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

rebase&regen
  examples/window-app/common/gen/IMClusterCommandHandler.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Stop limiting Darwin test iterations.
  .github/workflows/tests.yaml
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Fix path conflicts in chip_data_model in some projects (#7590)
  examples/lighting-app/nrfconnect/CMakeLists.txt
  examples/lighting-app/telink/CMakeLists.txt
  examples/lock-app/nrfconnect/CMakeLists.txt
  examples/pump-app/nrfconnect/CMakeLists.txt
  examples/pump-controller-app/nrfconnect/CMakeLists.txt
  src/app/BUILD.gn
  src/app/chip_data_model.gni
  src/app/encoder-common.cpp
  src/app/util/attribute-size-util.cpp
  src/darwin/Framework/CHIP.xcodeproj/project.pbxproj
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @yunhanw-google, @bzbarsky-apple, @mrjerryjohns, @shana-apple, @vivien-apple, @pan-apple

Zap on off optional attributes (#7595)
  examples/all-clusters-app/all-clusters-common/all-clusters-app.zap
  examples/all-clusters-app/all-clusters-common/gen/endpoint_config.h
  examples/chip-tool/commands/clusters/Commands.h
  examples/chip-tool/commands/tests/Commands.h
  examples/pump-app/pump-common/gen/endpoint_config.h
  examples/pump-controller-app/pump-controller-common/gen/endpoint_config.h
  src/app/tests/suites/Test_3_1_1.yaml
  src/app/tests/suites/Test_3_2_1.yaml
  src/app/zap-templates/common/ClustersHelper.js
  src/app/zap-templates/templates/app/helper.js
  src/controller/data_model/controller-clusters.zap
  src/controller/data_model/gen/CHIPClusters.cpp
  src/controller/data_model/gen/CHIPClusters.h
  src/controller/data_model/gen/chip-zcl-zpro-codec-api.h
  src/controller/data_model/gen/encoder.cpp
  src/controller/python/chip/clusters/CHIPClusters.cpp
  src/controller/python/chip/clusters/CHIPClusters.py
  src/darwin/Framework/CHIP/gen/CHIPClustersObjc.h
  src/darwin/Framework/CHIP/gen/CHIPClustersObjc.mm
  src/darwin/Framework/CHIPTests/CHIPClustersTests.m
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @vivien-apple, @erjianqing, @shana-apple, @pan-apple, @andy31415

[TE4] Add get-fabric-id command in Python Device Controller (#7668)
  src/controller/CHIPDeviceController.cpp
  src/controller/CHIPDeviceController.h
  src/controller/python/ChipDeviceController-ScriptBinding.cpp
  src/controller/python/chip-device-ctrl.py
  src/controller/python/chip/ChipDeviceCtrl.py
Owners: @shana-apple, @pan-apple, @andy31415, @erjianqing

Align header include paths between Release and Debug configuration (#7632)
  .github/workflows/darwin.yaml
  src/app/util/binding-table.cpp
  src/darwin/Framework/CHIP.xcodeproj/project.pbxproj
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @yunhanw-google, @bzbarsky-apple, @mrjerryjohns, @shana-apple, @vivien-apple, @pan-apple

Platform impl for commissionable node discovery (#7633)
  src/inet/tests/TestInetLayerDNS.cpp
  src/lib/mdns/Discovery_ImplPlatform.cpp
  src/lib/mdns/Discovery_ImplPlatform.h
  src/lib/mdns/ServiceNaming.cpp
  src/lib/mdns/ServiceNaming.h
  src/lib/mdns/tests/TestServiceNaming.cpp
  src/platform/Darwin/MdnsImpl.cpp
  src/platform/Linux/MdnsImpl.cpp
Owners: @kpschoedel, @andy31415, @gjc13, @damian-nordic, @mspang, @yufengwangca

Fix CRMP resend null out retained buffer (#7312)
  src/messaging/ApplicationExchangeDispatch.cpp
  src/messaging/ApplicationExchangeDispatch.h
  src/messaging/ExchangeMessageDispatch.cpp
  src/messaging/ExchangeMessageDispatch.h
  src/messaging/ReliableMessageMgr.cpp
  src/messaging/tests/TestReliableMessageProtocol.cpp
  src/protocols/secure_channel/SessionEstablishmentExchangeDispatch.cpp
  src/protocols/secure_channel/SessionEstablishmentExchangeDispatch.h
  src/transport/SecureSessionMgr.cpp
  src/transport/SecureSessionMgr.h
  src/transport/tests/TestSecureSessionMgr.cpp
Owners: @yufengwangca, @bzbarsky-apple, @pan-apple, @andy31415

Stop limiting Darwin test iterations. (#7685)
  .github/workflows/tests.yaml
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Adding concurrency to tests
  .github/workflows/tests.yaml
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Fix concurrency grouping to allow multiple parallel manual dispatches of a job.
  .github/workflows/android.yaml
  .github/workflows/build.yaml
  .github/workflows/cirque.yaml
  .github/workflows/darwin.yaml
  .github/workflows/doxygen.yaml
  .github/workflows/examples-efr32.yaml
  .github/workflows/examples-esp32.yaml
  .github/workflows/examples-k32w.yaml
  .github/workflows/examples-linux-standalone.yaml
  .github/workflows/examples-nrfconnect.yaml
  .github/workflows/examples-qpg6100.yaml
  .github/workflows/examples-telink.yaml
  .github/workflows/lint.yml
  .github/workflows/qemu.yaml
  .github/workflows/tests.yaml
  .github/workflows/unit_integration_test.yaml
  .github/workflows/zap_templates.yaml
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

use argparse.
  src/controller/python/chip-device-ctrl.py
Owners: @andy31415, @erjianqing

Add rsync to CHIP docker image.
  integrations/docker/images/chip-build/Dockerfile
  integrations/docker/images/chip-build/version
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Fix Window app commissioning flow (#7526)
  examples/window-app/common/gen/CHIPClientCallbacks.cpp
  examples/window-app/common/gen/CHIPClientCallbacks.h
  examples/window-app/common/gen/CHIPClusters.cpp
  examples/window-app/common/gen/CHIPClusters.h
  examples/window-app/common/gen/IMClusterCommandHandler.cpp
  examples/window-app/common/gen/attribute-size.cpp
  examples/window-app/common/gen/callback-stub.cpp
  examples/window-app/common/gen/callback.h
  examples/window-app/common/gen/chip-zcl-zpro-codec-api.h
  examples/window-app/common/gen/encoder.cpp
  examples/window-app/common/gen/endpoint_config.h
  examples/window-app/common/gen/gen_config.h
  examples/window-app/common/window-app.zap
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Fix no-op 'git checkout' in CONTRIBUTING.md (#7344)
  CONTRIBUTING.md
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

[Tests] Throw an error if an argument name for a command can not be found in the arguments list for this command (#7684)
  examples/chip-tool/templates/partials/test_cluster.zapt
  src/app/zap-templates/common/ClusterTestGeneration.js
Owners: @vivien-apple, @erjianqing

.github/CODEOWNERS:

# Current reviewers-XXX teams, who review everything for approval.
* @reviewers-amazon @reviewers-apple @reviewers-comcast @reviewers-google @reviewers-nordic @reviewers-samsung @reviewers-silabs


# BUILD system

*.gn @mspang
/build/ @mspang
/scripts/build/ @mspang

# Crypto
# Crypto primitives and high level API, generally on top of mbedtls and openssl
/src/crypto/* @pan-apple @emargolis
/src/credentials/ @pan-apple @emargolis

# Transport
# Send and receive data abstracting away the underlying protocol (UDP, TCP, BLE)
/src/transport/ @andy31415 @pan-apple

# Session establishment
# Establish a secure session (encryption keys) from one node to another.
# Includes CASE and PASE + session tracking and resumptioon
/src/protocols/secure_channel/ @pan-apple

# Message Layer
# CRMP and packet headers, generally coupled with SecureSessionManager
/src/messaging @yufengwangca @kghost @bzbarksy-apple
/src/transport/raw/MessageHeader.* @yufengwangca @kghost @bzbarksy-apple

# SecureSessionManager
# Manages per-session encryption keys and new session establishment
/src/transport/SecureSessionMgr.* @pan-apple

# Exchange management
# Joins requests and responses or ties a series of messages belonging to the 
# same protocol interaction
/src/messaging/ @yufengwangca @bzbarsky-apple
/src/channel/ @yufengwangca @bzbarsky-apple

# DNS-SD discovery and advertisement
# Advertise chip devices for commisioning, operational and discover such devices
/src/lib/mdns/ @andy31415 @gjc13 @damian-nordic

# Commisioning controller/flow
# Example of a comisioning sequence
/src/controller/ @pan-apple @erjiaqing

# Operational credentials management
# Signing certificates, maintaining roots of trust, validation, fabric management
/src/controller/ @shana-apple @pan-apple
/src/transport/AdminPairingTable.* @shana-apple @pan-apple

# TLV encoding/decoding to/from byte buffers
/src/lib/core/CHIPTLV* @yunhanw-google @bzbarsky-apple @shana-apple

# Interaction model - ember implementation
# ZCL protocol implementation: ZCL encoding to be sent over the wire as a 
# ZigbeePro protocol implementation
/src/app/util/ @vivien-apple @erjianqing @bzbarsky-apple

# Interaction model - non-ember
# Protocol implementation for IM interactions between nodes, matching spec
/src/app/ @yunhanw-google @bzbarsky-apple @mrjerryjohns

# Interaction model - code generation
# CHIP-specific infrastructure for generating code: helper js methods, scripts
# and code layout
/src/app/zap-templates/ @vivien-apple @erjianqing

# ZAP suppport
# UI for editing XML, generates code from such ZML and configuration files
# NOT part of CHIP however CHIP relies heavily on ZAP.
#    @vivien-apple  @tecimovic

# 'Standard' cluster implementations (server side)
# Clusters shipped with the sdk, can be integrated as-is or used as a template
/src/app/clusters/ @vivien-apple

# Onboarding payload
# Parsing and generation of codes (includes QR and NFC), numeric pairing payload
/src/setup_payload/ @shana-apple @vivien-apple @jrhees-cae

# Device Layer
# Porting interfaces, scaffolding for building an example firmware
/src/platform/ @mspang @yufengwangca
/src/include/platform/ @mspang @yufengwangca

# Persistent storage
# Save state across reboots
/src/platform/*/KeyValueStore* @rgoliver

# Python bindings for CHIP - CLI
# Allows python code to use CHIP, generally targeted towards automation
/src/controller/python/ @andy31415 @erjianqing

# CHIP-tool C++ CLI
# Command line interface to chip as a client (controller and commisioner)
# Includes generated code for every base cluster
/examples/chip-tool/ @vivien-apple

# CHIP-tool iOS UI
/src/darwin/CHIPTool/ @shana-apple

# CHIP-tool Android
/src/android/CHIPTool/ @austinh0
/src/controller/java/ @austinh0

# End2End autogenerated tests
/src/darwin/Framework/Chip-templates/ @vivien-apple
/src/app/tests/suites/ @vivien-apple

# End2End cirque tests
# Simulate topology (cirque) and ptyhon-based test automation
/src/test_driver/linux/cirque/ @erjianqing @yunhanw-google

# Thread integration
# Thread-specific functionality (network provisioning, operational discovery, SRP registration etc.)
/src/platform/OpenThread/ @bukepo
/src/platform/*/ThreadStackmanagerImpl.* @bukepo

# Inet
# Networking abstraction layer (UDP-endpoint, TCP-endpoint, InetLayerBasis)
/src/inet/ @kpschoedel 

# System layer
/src/system/ @kpschoedel 

# BLE support
/src/ble/ @yunhanw-google

# CHIP Shell
# Command-line UART/stdin interface as a side-channel to CHIP accessories
# Aimed as user-friendly/manual control
/src/examples/shell/ @gjc13 @yufengwangca

# RPC
# Side-channlel command path (outside chip), generally for automation and debugging
# Aimed as "scriptable" when compared to shell
/examples/common/pigweed/ @rgoliver
/examples/pigweed-app/ @rgoliver

# Tooling for crypto manual generation
# Generates data for sample PKI
/src/tools/chip-cert/ @emargolis

# Channel API
# Construct a transport/secure session based on peer info and transport type.
# Focused on CASE session establishment
/src/channel/ @kghost

# Darwin framework
# Exposes a darwin API (Objective-C/swift rather than raw C++ API) for darwin
# applications
/src/darwin/Framework/ @shana-apple @vivien-apple @pan-apple
