Repository project-chip/connectedhomeip, changes with the owners that .github/CODEOWNERS names for each.
All owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @mspang, @pan-apple, @emargolis, @andy31415, @yufengwangca, @kghost, @bzbarksy-apple, @bzbarsky-apple, @gjc13, @damian-nordic, @erjiaqing, @shana-apple, @yunhanw-google, @vivien-apple, @erjianqing, @mrjerryjohns, @jrhees-cae, @rgoliver, @austinh0, @bukepo, @kpschoedel

.github/CODEOWNERS:

# Current reviewers-XXX teams, who review everything for approval.
* @reviewers-amazon @reviewers-apple @reviewers-comcast @reviewers-google @reviewers-nordic @reviewers-samsung @reviewers-silabs


# BUILD system

*.gn @mspang
/build/ @mspang
/scripts/build/ @mspang

# Crypto
# Crypto primitives and high level API, generally on top of mbedtls and openssl
/src/crypto/* @pan-apple @emargolis
/src/credentials/ @pan-apple @emargolis

# Transport
# Send and receive data abstracting away the underlying protocol (UDP, TCP, BLE)
/src/transport/ @andy31415 @pan-apple

# Session establishment
# Establish a secure session (encryption keys) from one node to another.
# Includes CASE and PASE + session tracking and resumptioon
/src/protocols/secure_channel/ @pan-apple

# Message Layer
# CRMP and packet headers, generally coupled with SecureSessionManager
/src/messaging @yufengwangca @kghost @bzbarksy-apple
/src/transport/raw/MessageHeader.* @yufengwangca @kghost @bzbarksy-apple

# SecureSessionManager
# Manages per-session encryption keys and new session establishment
/src/transport/SecureSessionMgr.* @pan-apple

# Exchange management
# Joins requests and responses or ties a series of messages belonging to the 
# same protocol interaction
/src/messaging/ @yufengwangca @bzbarsky-apple
/src/channel/ @yufengwangca @bzbarsky-apple

# DNS-SD discovery and advertisement
# Advertise chip devices for commisioning, operational and discover such devices
/src/lib/mdns/ @andy31415 @gjc13 @damian-nordic

# Commisioning controller/flow
# Example of a comisioning sequence
/src/controller/ @pan-apple @erjiaqing

# Operational credentials management
# Signing certificates, maintaining roots of trust, validation, fabric management
/src/controller/ @shana-apple @pan-apple
/src/transport/AdminPairingTable.* @shana-apple @pan-apple

# TLV encoding/decoding to/from byte buffers
/src/lib/core/CHIPTLV* @yunhanw-google @bzbarsky-apple @shana-apple

# Interaction model - ember implementation
# ZCL protocol implementation: ZCL encoding to be sent over the wire as a 
# ZigbeePro protocol implementation
/src/app/util/ @vivien-apple @erjianqing @bzbarsky-apple

# Interaction model - non-ember
# Protocol implementation for IM interactions between nodes, matching spec
/src/app/ @yunhanw-google @bzbarsky-apple @mrjerryjohns

# Interaction model - code generation
# CHIP-specific infrastructure for generating code: helper js methods, scripts
# and code layout
/src/app/zap-templates/ @vivien-apple @erjianqing

# ZAP suppport
# UI for editing XML, generates code from such ZML and configuration files
# NOT part of CHIP however CHIP relies heavily on ZAP.
#    @vivien-apple  @tecimovic

# 'Standard' cluster implementations (server side)
# Clusters shipped with the sdk, can be integrated as-is or used as a template
/src/app/clusters/ @vivien-apple

# Onboarding payload
# Parsing and generation of codes (includes QR and NFC), numeric pairing payload
/src/setup_payload/ @shana-apple @vivien-apple @jrhees-cae

# Device Layer
# Porting interfaces, scaffolding for building an example firmware
/src/platform/ @mspang @yufengwangca
/src/include/platform/ @mspang @yufengwangca

# Persistent storage
# Save state across reboots
/src/platform/*/KeyValueStore* @rgoliver

# Python bindings for CHIP - CLI
# Allows python code to use CHIP, generally targeted towards automation
/src/controller/python/ @andy31415 @erjianqing

# CHIP-tool C++ CLI
# Command line interface to chip as a client (controller and commisioner)
# Includes generated code for every base cluster
/examples/chip-tool/ @vivien-apple

# CHIP-tool iOS UI
/src/darwin/CHIPTool/ @shana-apple

# CHIP-tool Android
/src/android/CHIPTool/ @austinh0
/src/controller/java/ @austinh0

# End2End autogenerated tests
/src/darwin/Framework/Chip-templates/ @vivien-apple
/src/app/tests/suites/ @vivien-apple

# End2End cirque tests
# Simulate topology (cirque) and ptyhon-based test automation
/src/test_driver/linux/cirque/ @erjianqing @yunhanw-google

# Thread integration
# Thread-specific functionality (network provisioning, operational discovery, SRP registration etc.)
/src/platform/OpenThread/ @bukepo
/src/platform/*/ThreadStackmanagerImpl.* @bukepo

# Inet
# Networking abstraction layer (UDP-endpoint, TCP-endpoint, InetLayerBasis)
/src/inet/ @kpschoedel 

# System layer
/src/system/ @kpschoedel 

# BLE support
/src/ble/ @yunhanw-google

# CHIP Shell
# Command-line UART/stdin interface as a side-channel to CHIP accessories
# Aimed as user-friendly/manual control
/src/examples/shell/ @gjc13 @yufengwangca

# RPC
# Side-channlel command path (outside chip), generally for automation and debugging
# Aimed as "scriptable" when compared to shell
/examples/common/pigweed/ @rgoliver
/examples/pigweed-app/ @rgoliver

# Tooling for crypto manual generation
# Generates data for sample PKI
/src/tools/chip-cert/ @emargolis

# Channel API
# Construct a transport/secure session based on peer info and transport type.
# Focused on CASE session establishment
/src/channel/ @kghost

# Darwin framework
# Exposes a darwin API (Objective-C/swift rather than raw C++ API) for darwin
# applications
/src/darwin/Framework/ @shana-apple @vivien-apple @pan-apple

Updated OpCerts Top-Level tag to Anonymouse
  src/credentials/CHIPCert.cpp
  src/credentials/CHIPCert.h
  src/credentials/CHIPCertFromX509.cpp
  src/credentials/CHIPCertToX509.cpp
  src/credentials/tests/CHIPCert_test_vectors.cpp
  src/tools/chip-cert/CertUtils.cpp
Owners: @pan-apple, @emargolis

[dns-sd] Add support for service subtypes on Thread devices
  src/include/platform/ThreadStackManager.h
  src/lib/mdns/Advertiser.h
  src/lib/mdns/Discovery_ImplPlatform.cpp
  src/lib/support/Span.h
  src/platform/OpenThread/GenericThreadStackManagerImpl_OpenThread.cpp
  src/platform/OpenThread/GenericThreadStackManagerImpl_OpenThread.h
  src/platform/OpenThread/MdnsImpl.cpp
Owners: @mspang, @yufengwangca, @andy31415, @gjc13, @damian-nordic, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @bukepo

Fix log and add slight clarification (#8225)
  src/darwin/Framework/CHIP/CHIPThreadOperationalDataset.h
  src/darwin/Framework/CHIP/CHIPThreadOperationalDataset.mm
Owners: @shana-apple, @vivien-apple, @pan-apple

Fix PacketBuffer allocation size when using LwIP (#8226)
  src/system/SystemPacketBuffer.cpp
  src/system/tests/TestSystemPacketBuffer.cpp
Owners: @kpschoedel

Optimize BitMapObjectPool::ForEachActiveObject for code size (#8192)
  src/lib/support/Pool.cpp
  src/lib/support/Pool.h
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Support building the lock app for ESP32
  scripts/build/build/factory.py
  scripts/build/builders/esp32.py
Owners: @mspang

Initial pybind11 Controller Wrapper
  .devcontainer/Dockerfile
  .gitmodules
  BUILD.gn
  build/config/BUILDCONFIG_PYTHON_CONTROLLER.gn
  scripts/build_python.sh
  scripts/tools/zap_regen_all.py
  src/pybindings/Bnder_Code_Gen.md
  src/pybindings/pycontroller/.gn
  src/pybindings/pycontroller/BUILD.gn
  src/pybindings/pycontroller/ChipCaller/Caller.py
  src/pybindings/pycontroller/ChipCaller/__init__.py
  src/pybindings/pycontroller/ChipDeviceCtrl.py
  src/pybindings/pycontroller/ControllerBindings/PyChip_BLEManager.cpp
  src/pybindings/pycontroller/ControllerBindings/PyChip_ControllerDeviceCommissioner.cpp
  src/pybindings/pycontroller/ControllerBindings/PyChip_ControllerInitParams.cpp
  src/pybindings/pycontroller/ControllerBindings/PyChip_DeviceAddressUpdateDelegate.cpp
  src/pybindings/pycontroller/ControllerBindings/PyChip_Inet_IPAddress.cpp
  src/pybindings/pycontroller/ControllerBindings/PyChip_Logging.cpp
  src/pybindings/pycontroller/ControllerBindings/PyChip_MDNS.cpp
  src/pybindings/pycontroller/ControllerBindings/PyChip_Main.cpp
  src/pybindings/pycontroller/ControllerBindings/PyChip_Memory.cpp
  src/pybindings/pycontroller/ControllerBindings/PyChip_PlatFormManager.cpp
  src/pybindings/pycontroller/ControllerBindings/PyChip_Rendezvous.cpp
  src/pybindings/pycontroller/ControllerBindings/PyChip_SetupPayload.cpp
  src/pybindings/pycontroller/ControllerBindings/PyChip_TransportType.cpp
  src/pybindings/pycontroller/TestChipDeviceCtrl.py
  src/pybindings/pycontroller/TestDeviceController.py
  src/pybindings/pycontroller/build-chip-wheel.py
  src/pybindings/pycontroller/chip-device-ctrl.py
  src/pybindings/pycontroller/chip-repl.py
  src/pybindings/pycontroller/clusters/CHIPClusters.cpp
  src/pybindings/pycontroller/clusters/CHIPClusters.py
  src/pybindings/pycontroller/clusters/__init__.py
  src/pybindings/pycontroller/create_error_wrapper.py
  src/pybindings/pycontroller/templates/helper.js
  src/pybindings/pycontroller/templates/python-CHIPClusters-cpp.zapt
  src/pybindings/pycontroller/templates/python-CHIPClusters-py.zapt
  src/pybindings/pycontroller/templates/templates.json
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @mspang

Apply review suggestions
  examples/chip-tool/commands/pairing/PairingCommand.cpp
  examples/chip-tool/commands/pairing/PairingCommand.h
Owners: @vivien-apple

Restyled by clang-format
  src/lib/support/Span.h
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

WindowCovering: Add Target Positions support to scenes (#8032)
  src/app/clusters/scenes/scenes.cpp
  src/app/util/af-types.h
Owners: @vivien-apple, @yunhanw-google, @bzbarsky-apple, @mrjerryjohns

fix compilation errors for lock-app(enable pw rpc) and ipv6only-app with idf v4.3 (#8129)
  examples/ipv6only-app/esp32/CMakeLists.txt
  examples/ipv6only-app/esp32/include/gdm_wifi_service.h
  examples/ipv6only-app/esp32/main/gdm_wifi_service.cpp
  examples/lock-app/esp32/CMakeLists.txt
  examples/lock-app/esp32/main/CMakeLists.txt
  examples/lock-app/esp32/main/Kconfig.projbuild
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Conduct platform shutdown after RunEventLoop returns
  src/messaging/tests/echo/common.cpp
  src/messaging/tests/echo/echo_requester.cpp
Owners: @yufengwangca, @bzbarsky-apple

Increasing CHIP_TASK_STACK_SIZE from 4096 -> 5120 (#8216)
  src/platform/cc13x2_26x2/CHIPDevicePlatformConfig.h
Owners: @mspang, @yufengwangca

Update src/darwin/Framework/CHIP/CHIPDeviceController.mm
  src/darwin/Framework/CHIP/CHIPDeviceController.mm
Owners: @shana-apple, @vivien-apple, @pan-apple

fix merge conflict
  examples/chip-tool/commands/pairing/PairingCommand.h
Owners: @vivien-apple

Address review comments from PR 8073 (#8231)
  examples/chip-tool/commands/tests/Commands.h
  examples/chip-tool/templates/partials/test_cluster.zapt
Owners: @vivien-apple

Add write roundtrip test (#8169)
  scripts/tests/esp32_qemu_tests.sh
  src/app/InteractionModelEngine.cpp
  src/app/WriteHandler.h
  src/app/tests/BUILD.gn
  src/app/tests/TestWriteInteraction.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @yunhanw-google, @bzbarsky-apple, @mrjerryjohns

Add ci for disabled progress logging (#8239)
  .github/workflows/build.yaml
  examples/all-clusters-app/all-clusters-common/gen/IMClusterCommandHandler.cpp
  examples/bridge-app/bridge-common/gen/IMClusterCommandHandler.cpp
  examples/bridge-app/linux/main.cpp
  examples/lighting-app/lighting-common/gen/IMClusterCommandHandler.cpp
  examples/lock-app/lock-common/gen/IMClusterCommandHandler.cpp
  examples/pump-app/pump-common/gen/CHIPClientCallbacks.cpp
  examples/pump-app/pump-common/gen/IMClusterCommandHandler.cpp
  examples/pump-controller-app/pump-controller-common/gen/CHIPClientCallbacks.cpp
  examples/pump-controller-app/pump-controller-common/gen/IMClusterCommandHandler.cpp
  examples/temperature-measurement-app/esp32/main/gen/IMClusterCommandHandler.cpp
  examples/tv-app/tv-common/gen/IMClusterCommandHandler.cpp
  examples/window-app/common/gen/IMClusterCommandHandler.cpp
  src/app/zap-templates/templates/app/CHIPClientCallbacks-src.zapt
  src/app/zap-templates/templates/app/im-cluster-command-handler.zapt
  src/controller/data_model/gen/CHIPClientCallbacks.cpp
  src/controller/data_model/gen/IMClusterCommandHandler.cpp
  src/lib/support/PrivateHeap.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @vivien-apple, @erjianqing, @shana-apple, @pan-apple

Make OpenSSL and mbedTLS use raw signatures directly
  src/crypto/CHIPCryptoPAL.h
  src/crypto/CHIPCryptoPALOpenSSL.cpp
  src/crypto/CHIPCryptoPALmbedTLS.cpp
  src/lib/support/tests/TestScopedBuffer.cpp
Owners: @pan-apple, @emargolis, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Restyled by clang-format
  src/crypto/CHIPCryptoPAL.h
  src/crypto/CHIPCryptoPALOpenSSL.cpp
  src/crypto/CHIPCryptoPALmbedTLS.cpp
Owners: @pan-apple, @emargolis

pressurement cluster again (#7996)
  src/app/zap-templates/zcl/data-model/chip/pressure-measurement-cluster.xml
  src/app/zap-templates/zcl/data-model/silabs/ha.xml
  src/app/zap-templates/zcl/zcl.json
Owners: @vivien-apple, @erjianqing

Updated OpCerts Top-Level tag to Anonymouse (#8251)
  src/credentials/CHIPCert.cpp
  src/credentials/CHIPCert.h
  src/credentials/CHIPCertFromX509.cpp
  src/credentials/CHIPCertToX509.cpp
  src/credentials/tests/CHIPCert_test_vectors.cpp
  src/tools/chip-cert/CertUtils.cpp
Owners: @pan-apple, @emargolis

[nrfconnect] Update nRF Connect version (#8242)
  config/nrfconnect/.nrfconnect-recommended-revision
  config/nrfconnect/chip-module/CMakeLists.txt
  integrations/docker/images/chip-build-nrf-platform/Dockerfile
  integrations/docker/images/chip-build/version
  src/platform/OpenThread/OpenThreadUtils.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @bukepo

Increasing CHIP_TASK_STACK_SIZE from 4096 -> 5120 (#8216)
  src/platform/cc13x2_26x2/CHIPDevicePlatformConfig.h
Owners: @mspang, @yufengwangca

use Protocols::Id instead of uint32_t
  src/protocols/bdx/BdxTransferSession.cpp
  src/protocols/bdx/BdxTransferSession.h
  src/protocols/bdx/tests/TestBdxTransferSession.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Remove obsolete todo
  scripts/build/build/factory.py
Owners: @mspang

fix examples/platform/esp32/shell_extension/heap_trace.cpp
  examples/platform/esp32/shell_extension/heap_trace.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Darwin typedef
  src/darwin/Framework/CHIP/CHIPError.h
Owners: @shana-apple, @vivien-apple, @pan-apple

review
  src/lib/core/CHIPError.h
  src/system/SystemError.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @kpschoedel

Fix issue with cert conversion
  src/credentials/CHIPCert.cpp
  src/credentials/CHIPCert.h
  src/credentials/GenerateChipX509Cert.cpp
  src/lib/asn1/ASN1Writer.cpp
Owners: @pan-apple, @emargolis, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Use CHIPCert module for raw to DER conversion
  src/credentials/GenerateChipX509Cert.cpp
Owners: @pan-apple, @emargolis

Ran clang-format
  src/credentials/GenerateChipX509Cert.cpp
  src/crypto/tests/CHIPCryptoPALTest.cpp
Owners: @pan-apple, @emargolis, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Restyled by clang-format
  src/crypto/tests/CHIPCryptoPALTest.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

add a custom toolchain for customized use (#8077)
  build/toolchain/custom/BUILD.gn
Owners: @mspang

Add IM subscribe request/response builder and parser (#8194)
  src/app/BUILD.gn
  src/app/MessageDef/SubscribeRequest.cpp
  src/app/MessageDef/SubscribeRequest.h
  src/app/MessageDef/SubscribeResponse.cpp
  src/app/MessageDef/SubscribeResponse.h
  src/app/tests/TestMessageDef.cpp
  src/lib/support/CodeUtils.h
Owners: @yunhanw-google, @bzbarsky-apple, @mrjerryjohns, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Support discovery capabilities in setup payload (#8178)
  src/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/CHIPToolActivity.kt
  src/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/setuppayloadscanner/BarcodeFragment.kt
  src/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/setuppayloadscanner/CHIPDeviceDetailsFragment.kt
  src/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/setuppayloadscanner/CHIPDeviceInfo.kt
  src/android/CHIPTool/app/src/main/res/layout/chip_device_info_fragment.xml
  src/android/CHIPTool/app/src/main/res/values/strings.xml
  src/setup_payload/java/BUILD.gn
  src/setup_payload/java/SetupPayloadParser-JNI.cpp
  src/setup_payload/java/src/chip/setuppayload/DiscoveryCapability.java
  src/setup_payload/java/src/chip/setuppayload/SetupPayload.java
Owners: @austinh0, @shana-apple, @vivien-apple, @jrhees-cae

Fix the duplicated accept for efr32 lock app
  scripts/build/build/factory.py
Owners: @mspang

Add a dry run option for the build runner, showing what commands would be executed
  scripts/build/build/__init__.py
  scripts/build/build/factory.py
  scripts/build/build/targets.py
  scripts/build/builders/builder.py
  scripts/build/builders/efr32.py
  scripts/build/builders/esp32.py
  scripts/build/builders/linux.py
  scripts/build/builders/qpg.py
  scripts/build/chipbuild.py
  scripts/build/runner/__init__.py
  scripts/build/runner/printonly.py
  scripts/build/runner/shell.py
Owners: @mspang

ESP32C3 Support: (#8201)
  examples/all-clusters-app/esp32/CMakeLists.txt
  examples/all-clusters-app/esp32/README.md
  examples/all-clusters-app/esp32/main/CMakeLists.txt
  examples/all-clusters-app/esp32/main/DeviceCallbacks.cpp
  examples/all-clusters-app/esp32/main/Kconfig.projbuild
  examples/all-clusters-app/esp32/main/LEDWidget.cpp
  examples/all-clusters-app/esp32/main/include/DeviceCallbacks.h
  examples/all-clusters-app/esp32/main/include/LEDWidget.h
  examples/all-clusters-app/esp32/main/main.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Window Covering cluster: ZAP configuration updated. (#8249)
  examples/window-app/common/gen/endpoint_config.h
  examples/window-app/common/window-app.zap
  src/controller/data_model/controller-clusters.zap
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @shana-apple, @pan-apple
