Repository project-chip/connectedhomeip, changes with the owners that .github/CODEOWNERS names for each.
All owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @mspang, @pan-apple, @emargolis, @andy31415, @yufengwangca, @kghost, @bzbarksy-apple, @bzbarsky-apple, @gjc13, @damian-nordic, @erjiaqing, @shana-apple, @yunhanw-google, @vivien-apple, @erjianqing, @mrjerryjohns, @jrhees-cae, @rgoliver, @austinh0, @bukepo, @kpschoedel

Add docker image to build with Tizen platform
  integrations/docker/images/chip-build-tizen/Dockerfile
  integrations/docker/images/chip-build-tizen/build.sh
  integrations/docker/images/chip-build-tizen/run.sh
  integrations/docker/images/chip-build-tizen/version
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Update chip-build-vscode image to import Tizen platform requirement
  integrations/docker/images/chip-build-vscode/Dockerfile
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

ESP32: Fix with pigweed config options to support multiple esp32 variants
  examples/all-clusters-app/esp32/main/Kconfig.projbuild
  examples/ipv6only-app/esp32/main/Kconfig.projbuild
  examples/lock-app/esp32/main/Kconfig.projbuild
  examples/pigweed-app/esp32/main/Kconfig.projbuild
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @rgoliver

Add --enable-flashbundle flag for generating flashbundle files.
  integrations/cloudbuild/build-all.yaml
  scripts/build/build/__init__.py
  scripts/build/build/factory.py
  scripts/build/build_examples.py
  scripts/build/builders/builder.py
  scripts/build/builders/efr32.py
  scripts/build/builders/esp32.py
  scripts/build/builders/gn.py
  scripts/build/builders/host.py
  scripts/build/builders/nrf.py
  scripts/build/builders/qpg.py
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @mspang

Restyled by prettier-yaml
  integrations/cloudbuild/build-all.yaml
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Add --enable-flashbundle flag for generating flashbundle files.
  integrations/cloudbuild/build-all.yaml
  scripts/build/build/__init__.py
  scripts/build/build/factory.py
  scripts/build/build_examples.py
  scripts/build/builders/builder.py
  scripts/build/builders/efr32.py
  scripts/build/builders/esp32.py
  scripts/build/builders/gn.py
  scripts/build/builders/host.py
  scripts/build/builders/nrf.py
  scripts/build/builders/qpg.py
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @mspang

[dns-sd] Expose operational node TXT entries
  examples/chip-tool/commands/discover/Commands.h
  src/lib/mdns/Discovery_ImplPlatform.cpp
  src/lib/mdns/Resolver.h
  src/lib/mdns/Resolver_ImplMinimalMdns.cpp
  src/lib/mdns/TxtFields.cpp
  src/lib/mdns/TxtFields.h
  src/lib/mdns/tests/TestTxtFields.cpp
  src/lib/shell/commands/Dns.cpp
Owners: @vivien-apple, @andy31415, @gjc13, @damian-nordic, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Address review comments
  examples/chip-tool/commands/discover/Commands.h
  src/lib/mdns/Advertiser.h
  src/lib/mdns/Resolver.h
  src/lib/mdns/TxtFields.cpp
  src/lib/mdns/TxtFields.h
  src/lib/mdns/tests/TestTxtFields.cpp
  src/lib/shell/commands/Dns.cpp
Owners: @vivien-apple, @andy31415, @gjc13, @damian-nordic, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Split StringAttributeCallback into OctetStringAttributeCallback and CharStringAttributeCallback
  examples/chip-tool/templates/commands.zapt
  src/app/zap-templates/common/ClustersHelper.js
  src/app/zap-templates/partials/im_command_handler_cluster_commands.zapt
  src/app/zap-templates/templates/app/CHIPClientCallbacks-src.zapt
  src/app/zap-templates/templates/app/CHIPClientCallbacks.zapt
  src/controller/java/templates/CHIPClusters-JNI.zapt
  src/controller/python/templates/python-CHIPClusters-cpp.zapt
  src/darwin/Framework/CHIP/templates/CHIPClustersObjc-src.zapt
  src/lib/core/CHIPTLV.h
  src/lib/core/CHIPTLVReader.cpp
  src/lib/core/CHIPTLVTypes.h
  src/lib/core/tests/TestCHIPTLV.cpp
Owners: @vivien-apple, @erjianqing, @austinh0, @andy31415, @shana-apple, @pan-apple, @yunhanw-google, @bzbarsky-apple, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Update generated folders
  examples/all-clusters-app/all-clusters-common/gen/IMClusterCommandHandler.cpp
  examples/bridge-app/bridge-common/gen/IMClusterCommandHandler.cpp
  examples/chip-tool/commands/clusters/Commands.h
  examples/lighting-app/lighting-common/gen/IMClusterCommandHandler.cpp
  examples/lock-app/lock-common/gen/IMClusterCommandHandler.cpp
  examples/pump-app/pump-common/gen/CHIPClientCallbacks.cpp
  examples/pump-app/pump-common/gen/CHIPClientCallbacks.h
  examples/pump-app/pump-common/gen/IMClusterCommandHandler.cpp
  examples/pump-controller-app/pump-controller-common/gen/CHIPClientCallbacks.cpp
  examples/pump-controller-app/pump-controller-common/gen/CHIPClientCallbacks.h
  examples/pump-controller-app/pump-controller-common/gen/IMClusterCommandHandler.cpp
  examples/temperature-measurement-app/esp32/main/gen/IMClusterCommandHandler.cpp
  examples/thermostat/thermostat-common/gen/IMClusterCommandHandler.cpp
  examples/tv-app/tv-common/gen/IMClusterCommandHandler.cpp
  examples/window-app/common/gen/IMClusterCommandHandler.cpp
  src/controller/data_model/gen/CHIPClientCallbacks.cpp
  src/controller/data_model/gen/CHIPClientCallbacks.h
  src/controller/data_model/gen/CHIPClusters.cpp
  src/controller/data_model/gen/IMClusterCommandHandler.cpp
  src/controller/java/gen/CHIPClusters-JNI.cpp
  src/controller/python/chip/clusters/CHIPClusters.cpp
  src/darwin/Framework/CHIP/gen/CHIPClustersObjc.mm
  src/darwin/Framework/CHIPTests/CHIPClustersTests.m
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @vivien-apple, @shana-apple, @pan-apple, @austinh0, @andy31415, @erjianqing

Use a partial for the simple CHIP*CallbackBridge use cases
  src/darwin/Framework/CHIP/templates/CHIPClustersObjc-src.zapt
  src/darwin/Framework/CHIP/templates/helper.js
  src/darwin/Framework/CHIP/templates/partials/CHIPCallbackBridge.zapt
  src/darwin/Framework/CHIP/templates/templates.json
Owners: @shana-apple, @vivien-apple, @pan-apple

./scripts/tests/esp32_qemu_tests.sh: line 52: syntax error near unexpected token &
  scripts/tests/esp32_qemu_tests.sh
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

warning: default value 120000 on WIFI_AP_IDLE_TIMEOUT clamped to 65535 due to being outside the active range ([0, 65535])
  config/esp32/components/chip/Kconfig
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

config/esp32/components/chip/component.mk:132: warning: undefined variable is_debug
  config/esp32/components/chip/component.mk
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Expose resolved node hostname.
  examples/chip-tool/commands/discover/Commands.h
  src/lib/mdns/Discovery_ImplPlatform.cpp
  src/lib/mdns/Resolver.h
  src/lib/mdns/Resolver_ImplMinimalMdns.cpp
  src/lib/shell/commands/Dns.cpp
Owners: @vivien-apple, @andy31415, @gjc13, @damian-nordic, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Remove if (isStrEqual name status) from templates
  examples/chip-tool/templates/commands.zapt
  src/app/zap-templates/templates/app/CHIPClientCallbacks-src.zapt
  src/app/zap-templates/templates/app/CHIPClientCallbacks.zapt
  src/controller/java/templates/CHIPClusters-JNI.zapt
  src/controller/java/templates/ChipClusters-java.zapt
  src/controller/java/templates/helper.js
  src/darwin/Framework/CHIP/templates/CHIPClustersObjc-src.zapt
Owners: @vivien-apple, @erjianqing, @austinh0, @shana-apple, @pan-apple

Update gen/ folders
  examples/chip-tool/commands/clusters/Commands.h
  src/controller/data_model/gen/CHIPClientCallbacks.cpp
  src/controller/data_model/gen/CHIPClientCallbacks.h
  src/controller/java/gen/CHIPClusters-JNI.cpp
  src/controller/java/gen/ChipClusters.java
  src/darwin/Framework/CHIP/gen/CHIPClustersObjc.mm
Owners: @vivien-apple, @shana-apple, @pan-apple, @austinh0

[nrfconnect] Fixed CHIPoBLE advertising when not in pairing mode.
  config/nrfconnect/app/sample-defaults.conf
  docs/guides/nrfconnect_examples_software_update.md
  examples/lighting-app/nrfconnect/CMakeLists.txt
  examples/lighting-app/nrfconnect/README.md
  examples/lighting-app/nrfconnect/main/AppTask.cpp
  examples/lighting-app/nrfconnect/main/include/AppEvent.h
  examples/lighting-app/nrfconnect/main/include/AppTask.h
  examples/lighting-app/nrfconnect/prj.conf
  examples/lock-app/nrfconnect/CMakeLists.txt
  examples/lock-app/nrfconnect/README.md
  examples/lock-app/nrfconnect/main/AppTask.cpp
  examples/lock-app/nrfconnect/main/include/AppEvent.h
  examples/lock-app/nrfconnect/main/include/AppTask.h
  examples/platform/nrfconnect/util/DFUOverSMP.cpp
  examples/platform/nrfconnect/util/include/DFUOverSMP.h
  src/platform/Zephyr/BLEManagerImpl.cpp
  src/platform/Zephyr/BLEManagerImpl.h
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @mspang, @yufengwangca

Restyled by prettier-markdown
  docs/guides/nrfconnect_examples_software_update.md
  examples/lighting-app/nrfconnect/README.md
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Starting to build android: native library seems to build
  scripts/build/build/factory.py
  scripts/build/build/targets.py
  scripts/build/builders/android.py
Owners: @mspang

Tests add test tc flw 1 1 occ 1 1 tm 1 1 yaml (#8823)
  examples/chip-tool/commands/tests/Commands.h
  examples/chip-tool/templates/tests-commands.zapt
  src/app/tests/suites/certification/Test_TC_FLW_1_1.yaml
  src/app/tests/suites/certification/Test_TC_OCC_1_1.yaml
  src/app/tests/suites/certification/Test_TC_TM_1_1.yaml
  src/darwin/Framework/CHIP/templates/clusters-tests.zapt
  src/darwin/Framework/CHIPTests/CHIPClustersTests.m
Owners: @vivien-apple, @shana-apple, @pan-apple

warning: default value 120000 on WIFI_AP_IDLE_TIMEOUT clamped to 65535 due to being outside the active range ([0, 65535]) (#8853)
  config/esp32/components/chip/Kconfig
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

[git] mark all files in the gen folders as auto-generated (#8847)
  .gitattributes
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Fix some missing includes. (#8845)
  src/include/platform/CHIPDeviceEvent.h
  src/include/platform/ConfigurationManager.h
  src/include/platform/ConnectivityManager.h
Owners: @mspang, @yufengwangca

Split StringAttributeCallback into OctetStringAttributeCallback and CharStringAttributeCallback (#8820)
  examples/all-clusters-app/all-clusters-common/gen/IMClusterCommandHandler.cpp
  examples/bridge-app/bridge-common/gen/IMClusterCommandHandler.cpp
  examples/chip-tool/commands/clusters/Commands.h
  examples/chip-tool/templates/commands.zapt
  examples/lighting-app/lighting-common/gen/IMClusterCommandHandler.cpp
  examples/lock-app/lock-common/gen/IMClusterCommandHandler.cpp
  examples/pump-app/pump-common/gen/CHIPClientCallbacks.cpp
  examples/pump-app/pump-common/gen/CHIPClientCallbacks.h
  examples/pump-app/pump-common/gen/IMClusterCommandHandler.cpp
  examples/pump-controller-app/pump-controller-common/gen/CHIPClientCallbacks.cpp
  examples/pump-controller-app/pump-controller-common/gen/CHIPClientCallbacks.h
  examples/pump-controller-app/pump-controller-common/gen/IMClusterCommandHandler.cpp
  examples/temperature-measurement-app/esp32/main/gen/IMClusterCommandHandler.cpp
  examples/thermostat/thermostat-common/gen/IMClusterCommandHandler.cpp
  examples/tv-app/tv-common/gen/IMClusterCommandHandler.cpp
  examples/window-app/common/gen/IMClusterCommandHandler.cpp
  src/app/zap-templates/common/ClustersHelper.js
  src/app/zap-templates/partials/im_command_handler_cluster_commands.zapt
  src/app/zap-templates/templates/app/CHIPClientCallbacks-src.zapt
  src/app/zap-templates/templates/app/CHIPClientCallbacks.zapt
  src/controller/data_model/gen/CHIPClientCallbacks.cpp
  src/controller/data_model/gen/CHIPClientCallbacks.h
  src/controller/data_model/gen/CHIPClusters.cpp
  src/controller/data_model/gen/IMClusterCommandHandler.cpp
  src/controller/java/gen/CHIPClusters-JNI.cpp
  src/controller/java/templates/CHIPClusters-JNI.zapt
  src/controller/python/chip/clusters/CHIPClusters.cpp
  src/controller/python/templates/python-CHIPClusters-cpp.zapt
  src/darwin/Framework/CHIP/gen/CHIPClustersObjc.mm
  src/darwin/Framework/CHIP/templates/CHIPClustersObjc-src.zapt
  src/darwin/Framework/CHIP/templates/helper.js
  src/darwin/Framework/CHIP/templates/partials/CHIPCallbackBridge.zapt
  src/darwin/Framework/CHIP/templates/templates.json
  src/darwin/Framework/CHIPTests/CHIPClustersTests.m
  src/lib/core/CHIPTLV.h
  src/lib/core/CHIPTLVReader.cpp
  src/lib/core/CHIPTLVTypes.h
  src/lib/core/tests/TestCHIPTLV.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @vivien-apple, @erjianqing, @shana-apple, @pan-apple, @austinh0, @andy31415, @yunhanw-google, @bzbarsky-apple

Enable FeatureMap attribute for NetworkCommissioningCluster (#8827)
  examples/all-clusters-app/all-clusters-common/all-clusters-app.zap
  examples/all-clusters-app/all-clusters-common/gen/endpoint_config.h
  examples/chip-tool/commands/clusters/Commands.h
  src/controller/data_model/controller-clusters.zap
  src/controller/data_model/gen/CHIPClusters.cpp
  src/controller/data_model/gen/CHIPClusters.h
  src/controller/java/gen/CHIPClusters-JNI.cpp
  src/controller/java/gen/ChipClusters.java
  src/controller/python/chip/clusters/CHIPClusters.cpp
  src/controller/python/chip/clusters/CHIPClusters.py
  src/darwin/Framework/CHIP/gen/CHIPClustersObjc.h
  src/darwin/Framework/CHIP/gen/CHIPClustersObjc.mm
  src/darwin/Framework/CHIPTests/CHIPClustersTests.m
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @vivien-apple, @shana-apple, @pan-apple, @austinh0, @andy31415, @erjianqing

Validate that sdkmanager is executable, then ensure ndk licenses are accepted at build time
  scripts/build/builders/android.py
Owners: @mspang

Rename the default output "No Error" message by "Success" (#8817)
  src/lib/support/ErrorStr.cpp
  src/lib/support/ErrorStr.h
  src/lib/support/tests/TestErrorStr.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

config/esp32/components/chip/component.mk:132: warning: undefined variable is_debug (#8854)
  config/esp32/components/chip/component.mk
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Remove if (isStrEqual label status) from templates (#8855)
  examples/chip-tool/commands/clusters/Commands.h
  examples/chip-tool/templates/commands.zapt
  src/app/zap-templates/templates/app/CHIPClientCallbacks-src.zapt
  src/app/zap-templates/templates/app/CHIPClientCallbacks.zapt
  src/controller/data_model/gen/CHIPClientCallbacks.cpp
  src/controller/data_model/gen/CHIPClientCallbacks.h
  src/controller/java/gen/CHIPClusters-JNI.cpp
  src/controller/java/gen/ChipClusters.java
  src/controller/java/templates/CHIPClusters-JNI.zapt
  src/controller/java/templates/ChipClusters-java.zapt
  src/controller/java/templates/helper.js
  src/darwin/Framework/CHIP/gen/CHIPClustersObjc.mm
  src/darwin/Framework/CHIP/templates/CHIPClustersObjc-src.zapt
Owners: @vivien-apple, @erjianqing, @shana-apple, @pan-apple, @austinh0

./scripts/tests/esp32_qemu_tests.sh: line 52: syntax error near unexpected token & (#8852)
  scripts/tests/esp32_qemu_tests.sh
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

restyled fix
  src/protocols/user_directed_commissioning/tests/BUILD.gn
Owners: @mspang

merge with latest
  src/controller/python/ChipDeviceController-ScriptBinding.cpp
Owners: @andy31415, @erjianqing

review
  src/controller/CHIPDeviceController.cpp
  src/controller/java/CHIPDeviceController-JNI.cpp
  src/include/platform/internal/GenericPlatformManagerImpl.cpp
  src/include/platform/internal/GenericPlatformManagerImpl_FreeRTOS.cpp
  src/include/platform/internal/GenericPlatformManagerImpl_POSIX.cpp
  src/include/platform/internal/GenericPlatformManagerImpl_Zephyr.cpp
  src/inet/EndPointBasis.cpp
  src/inet/IPEndPointBasis.cpp
  src/inet/InetLayer.cpp
  src/inet/RawEndPoint.cpp
  src/inet/TCPEndPoint.cpp
  src/inet/UDPEndPoint.cpp
  src/inet/tests/TestInetCommonPosix.cpp
  src/platform/Darwin/PlatformManagerImpl.cpp
  src/platform/Linux/MdnsImpl.cpp
  src/platform/mbed/PlatformManagerImpl.cpp
  src/system/SystemConfig.h
  src/system/SystemLayer.cpp
  src/system/SystemLayer.h
  src/system/SystemMutex.h
  src/system/SystemObject.cpp
  src/system/SystemTimer.h
  src/system/WatchableEventManagerLibevent.h
  src/system/WatchableSocketLibevent.h
  src/system/tests/TestSystemTimer.cpp
Owners: @shana-apple, @pan-apple, @austinh0, @mspang, @yufengwangca, @kpschoedel

Compiling the apk now works (no jni so copying yet though)
  scripts/build/builders/android.py
  src/android/CHIPTool/app/build.gradle
  src/android/CHIPTool/gradlew
Owners: @mspang, @austinh0

Restyle fixes
  src/android/CHIPTool/gradlew
Owners: @austinh0

Cleanup prefix chip:: from zap templates
  src/app/zap-templates/templates/app/CHIPClientCallbacks-src.zapt
  src/app/zap-templates/templates/app/CHIPClusters-src.zapt
  src/app/zap-templates/templates/app/attribute-size-src.zapt
  src/app/zap-templates/templates/app/im-cluster-command-handler.zapt
Owners: @vivien-apple, @erjianqing

Update gen folders
  examples/all-clusters-app/all-clusters-common/gen/IMClusterCommandHandler.cpp
  examples/all-clusters-app/all-clusters-common/gen/attribute-size.cpp
  examples/bridge-app/bridge-common/gen/IMClusterCommandHandler.cpp
  examples/bridge-app/bridge-common/gen/attribute-size.cpp
  examples/lighting-app/lighting-common/gen/IMClusterCommandHandler.cpp
  examples/lighting-app/lighting-common/gen/attribute-size.cpp
  examples/lock-app/lock-common/gen/IMClusterCommandHandler.cpp
  examples/lock-app/lock-common/gen/attribute-size.cpp
  examples/pump-app/pump-common/gen/CHIPClientCallbacks.cpp
  examples/pump-app/pump-common/gen/CHIPClusters.cpp
  examples/pump-app/pump-common/gen/IMClusterCommandHandler.cpp
  examples/pump-app/pump-common/gen/attribute-size.cpp
  examples/pump-controller-app/pump-controller-common/gen/CHIPClientCallbacks.cpp
  examples/pump-controller-app/pump-controller-common/gen/CHIPClusters.cpp
  examples/pump-controller-app/pump-controller-common/gen/IMClusterCommandHandler.cpp
  examples/pump-controller-app/pump-controller-common/gen/attribute-size.cpp
  examples/temperature-measurement-app/esp32/main/gen/IMClusterCommandHandler.cpp
  examples/temperature-measurement-app/esp32/main/gen/attribute-size.cpp
  examples/thermostat/thermostat-common/gen/IMClusterCommandHandler.cpp
  examples/thermostat/thermostat-common/gen/attribute-size.cpp
  examples/tv-app/tv-common/gen/IMClusterCommandHandler.cpp
  examples/tv-app/tv-common/gen/attribute-size.cpp
  examples/window-app/common/gen/IMClusterCommandHandler.cpp
  examples/window-app/common/gen/attribute-size.cpp
  src/controller/data_model/gen/CHIPClientCallbacks.cpp
  src/controller/data_model/gen/CHIPClusters.cpp
  src/controller/data_model/gen/IMClusterCommandHandler.cpp
  src/controller/data_model/gen/attribute-size.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @shana-apple, @pan-apple

Apk build now includes .so files for jni
  scripts/build/builders/android.py
  src/android/CHIPTool/.gitignore
Owners: @mspang, @austinh0

PyFormat
  scripts/build/builders/android.py
Owners: @mspang

.github/CODEOWNERS:

# Current reviewers-XXX teams, who review everything for approval.
* @reviewers-amazon @reviewers-apple @reviewers-comcast @reviewers-google @reviewers-nordic @reviewers-samsung @reviewers-silabs


# BUILD system

*.gn @mspang
/build/ @mspang
/scripts/build/ @mspang

# Crypto
# Crypto primitives and high level API, generally on top of mbedtls and openssl
/src/crypto/* @pan-apple @emargolis
/src/credentials/ @pan-apple @emargolis

# Transport
# Send and receive data abstracting away the underlying protocol (UDP, TCP, BLE)
/src/transport/ @andy31415 @pan-apple

# Session establishment
# Establish a secure session (encryption keys) from one node to another.
# Includes CASE and PASE + session tracking and resumptioon
/src/protocols/secure_channel/ @pan-apple

# Message Layer
# CRMP and packet headers, generally coupled with SecureSessionManager
/src/messaging @yufengwangca @kghost @bzbarksy-apple
/src/transport/raw/MessageHeader.* @yufengwangca @kghost @bzbarksy-apple

# SecureSessionManager
# Manages per-session encryption keys and new session establishment
/src/transport/SecureSessionMgr.* @pan-apple

# Exchange management
# Joins requests and responses or ties a series of messages belonging to the 
# same protocol interaction
/src/messaging/ @yufengwangca @bzbarsky-apple
/src/channel/ @yufengwangca @bzbarsky-apple

# DNS-SD discovery and advertisement
# Advertise chip devices for commisioning, operational and discover such devices
/src/lib/mdns/ @andy31415 @gjc13 @damian-nordic

# Commisioning controller/flow
# Example of a comisioning sequence
/src/controller/ @pan-apple @erjiaqing

# Operational credentials management
# Signing certificates, maintaining roots of trust, validation, fabric management
/src/controller/ @shana-apple @pan-apple
/src/transport/AdminPairingTable.* @shana-apple @pan-apple

# TLV encoding/decoding to/from byte buffers
/src/lib/core/CHIPTLV* @yunhanw-google @bzbarsky-apple @shana-apple

# Interaction model - ember implementation
# ZCL protocol implementation: ZCL encoding to be sent over the wire as a 
# ZigbeePro protocol implementation
/src/app/util/ @vivien-apple @erjianqing @bzbarsky-apple

# Interaction model - non-ember
# Protocol implementation for IM interactions between nodes, matching spec
/src/app/ @yunhanw-google @bzbarsky-apple @mrjerryjohns

# Interaction model - code generation
# CHIP-specific infrastructure for generating code: helper js methods, scripts
# and code layout
/src/app/zap-templates/ @vivien-apple @erjianqing

# ZAP suppport
# UI for editing XML, generates code from such ZML and configuration files
# NOT part of CHIP however CHIP relies heavily on ZAP.
#    @vivien-apple  @tecimovic

# 'Standard' cluster implementations (server side)
# Clusters shipped with the sdk, can be integrated as-is or used as a template
/src/app/clusters/ @vivien-apple

# Onboarding payload
# Parsing and generation of codes (includes QR and NFC), numeric pairing payload
/src/setup_payload/ @shana-apple @vivien-apple @jrhees-cae

# Device Layer
# Porting interfaces, scaffolding for building an example firmware
/src/platform/ @mspang @yufengwangca
/src/include/platform/ @mspang @yufengwangca

# Persistent storage
# Save state across reboots
/src/platform/*/KeyValueStore* @rgoliver

# Python bindings for CHIP - CLI
# Allows python code to use CHIP, generally targeted towards automation
/src/controller/python/ @andy31415 @erjianqing

# CHIP-tool C++ CLI
# Command line interface to chip as a client (controller and commisioner)
# Includes generated code for every base cluster
/examples/chip-tool/ @vivien-apple

# CHIP-tool iOS UI
/src/darwin/CHIPTool/ @shana-apple

# CHIP-tool Android
/src/android/CHIPTool/ @austinh0
/src/controller/java/ @austinh0

# End2End autogenerated tests
/src/darwin/Framework/Chip-templates/ @vivien-apple
/src/app/tests/suites/ @vivien-apple

# End2End cirque tests
# Simulate topology (cirque) and ptyhon-based test automation
/src/test_driver/linux/cirque/ @erjianqing @yunhanw-google

# Thread integration
# Thread-specific functionality (network provisioning, operational discovery, SRP registration etc.)
/src/platform/OpenThread/ @bukepo
/src/platform/*/ThreadStackmanagerImpl.* @bukepo

# Inet
# Networking abstraction layer (UDP-endpoint, TCP-endpoint, InetLayerBasis)
/src/inet/ @kpschoedel 

# System layer
/src/system/ @kpschoedel 

# BLE support
/src/ble/ @yunhanw-google

# CHIP Shell
# Command-line UART/stdin interface as a side-channel to CHIP accessories
# Aimed as user-friendly/manual control
/src/examples/shell/ @gjc13 @yufengwangca

# RPC
# Side-channlel command path (outside chip), generally for automation and debugging
# Aimed as "scriptable" when compared to shell
/examples/common/pigweed/ @rgoliver
/examples/pigweed-app/ @rgoliver

# Tooling for crypto manual generation
# Generates data for sample PKI
/src/tools/chip-cert/ @emargolis

# Channel API
# Construct a transport/secure session based on peer info and transport type.
# Focused on CASE session establishment
/src/channel/ @kghost

# Darwin framework
# Exposes a darwin API (Objective-C/swift rather than raw C++ API) for darwin
# applications
/src/darwin/Framework/ @shana-apple @vivien-apple @pan-apple
