Repository project-chip/connectedhomeip, changes with the owners that .github/CODEOWNERS names for each.
All owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @mspang, @pan-apple, @emargolis, @andy31415, @yufengwangca, @kghost, @bzbarksy-apple, @bzbarsky-apple, @gjc13, @damian-nordic, @erjiaqing, @shana-apple, @yunhanw-google, @vivien-apple, @erjianqing, @mrjerryjohns, @jrhees-cae, @rgoliver, @austinh0, @bukepo, @kpschoedel

.github/CODEOWNERS:

# Current reviewers-XXX teams, who review everything for approval.
* @reviewers-amazon @reviewers-apple @reviewers-comcast @reviewers-google @reviewers-nordic @reviewers-samsung @reviewers-silabs


# BUILD system

*.gn @mspang
/build/ @mspang
/scripts/build/ @mspang

# Crypto
# Crypto primitives and high level API, generally on top of mbedtls and openssl
/src/crypto/* @pan-apple @emargolis
/src/credentials/ @pan-apple @emargolis

# Transport
# Send and receive data abstracting away the underlying protocol (UDP, TCP, BLE)
/src/transport/ @andy31415 @pan-apple

# Session establishment
# Establish a secure session (encryption keys) from one node to another.
# Includes CASE and PASE + session tracking and resumptioon
/src/protocols/secure_channel/ @pan-apple

# Message Layer
# CRMP and packet headers, generally coupled with SecureSessionManager
/src/messaging @yufengwangca @kghost @bzbarksy-apple
/src/transport/raw/MessageHeader.* @yufengwangca @kghost @bzbarksy-apple

# SecureSessionManager
# Manages per-session encryption keys and new session establishment
/src/transport/SecureSessionMgr.* @pan-apple

# Exchange management
# Joins requests and responses or ties a series of messages belonging to the 
# same protocol interaction
/src/messaging/ @yufengwangca @bzbarsky-apple
/src/channel/ @yufengwangca @bzbarsky-apple

# DNS-SD discovery and advertisement
# Advertise chip devices for commisioning, operational and discover such devices
/src/lib/mdns/ @andy31415 @gjc13 @damian-nordic

# Commisioning controller/flow
# Example of a comisioning sequence
/src/controller/ @pan-apple @erjiaqing

# Operational credentials management
# Signing certificates, maintaining roots of trust, validation, fabric management
/src/controller/ @shana-apple @pan-apple
/src/transport/AdminPairingTable.* @shana-apple @pan-apple

# TLV encoding/decoding to/from byte buffers
/src/lib/core/CHIPTLV* @yunhanw-google @bzbarsky-apple @shana-apple

# Interaction model - ember implementation
# ZCL protocol implementation: ZCL encoding to be sent over the wire as a 
# ZigbeePro protocol implementation
/src/app/util/ @vivien-apple @erjianqing @bzbarsky-apple

# Interaction model - non-ember
# Protocol implementation for IM interactions between nodes, matching spec
/src/app/ @yunhanw-google @bzbarsky-apple @mrjerryjohns

# Interaction model - code generation
# CHIP-specific infrastructure for generating code: helper js methods, scripts
# and code layout
/src/app/zap-templates/ @vivien-apple @erjianqing

# ZAP suppport
# UI for editing XML, generates code from such ZML and configuration files
# NOT part of CHIP however CHIP relies heavily on ZAP.
#    @vivien-apple  @tecimovic

# 'Standard' cluster implementations (server side)
# Clusters shipped with the sdk, can be integrated as-is or used as a template
/src/app/clusters/ @vivien-apple

# Onboarding payload
# Parsing and generation of codes (includes QR and NFC), numeric pairing payload
/src/setup_payload/ @shana-apple @vivien-apple @jrhees-cae

# Device Layer
# Porting interfaces, scaffolding for building an example firmware
/src/platform/ @mspang @yufengwangca
/src/include/platform/ @mspang @yufengwangca

# Persistent storage
# Save state across reboots
/src/platform/*/KeyValueStore* @rgoliver

# Python bindings for CHIP - CLI
# Allows python code to use CHIP, generally targeted towards automation
/src/controller/python/ @andy31415 @erjianqing

# CHIP-tool C++ CLI
# Command line interface to chip as a client (controller and commisioner)
# Includes generated code for every base cluster
/examples/chip-tool/ @vivien-apple

# CHIP-tool iOS UI
/src/darwin/CHIPTool/ @shana-apple

# CHIP-tool Android
/src/android/CHIPTool/ @austinh0
/src/controller/java/ @austinh0

# End2End autogenerated tests
/src/darwin/Framework/Chip-templates/ @vivien-apple
/src/app/tests/suites/ @vivien-apple

# End2End cirque tests
# Simulate topology (cirque) and ptyhon-based test automation
/src/test_driver/linux/cirque/ @erjianqing @yunhanw-google

# Thread integration
# Thread-specific functionality (network provisioning, operational discovery, SRP registration etc.)
/src/platform/OpenThread/ @bukepo
/src/platform/*/ThreadStackmanagerImpl.* @bukepo

# Inet
# Networking abstraction layer (UDP-endpoint, TCP-endpoint, InetLayerBasis)
/src/inet/ @kpschoedel 

# System layer
/src/system/ @kpschoedel 

# BLE support
/src/ble/ @yunhanw-google

# CHIP Shell
# Command-line UART/stdin interface as a side-channel to CHIP accessories
# Aimed as user-friendly/manual control
/src/examples/shell/ @gjc13 @yufengwangca

# RPC
# Side-channlel command path (outside chip), generally for automation and debugging
# Aimed as "scriptable" when compared to shell
/examples/common/pigweed/ @rgoliver
/examples/pigweed-app/ @rgoliver

# Tooling for crypto manual generation
# Generates data for sample PKI
/src/tools/chip-cert/ @emargolis

# Channel API
# Construct a transport/secure session based on peer info and transport type.
# Focused on CASE session establishment
/src/channel/ @kghost

# Darwin framework
# Exposes a darwin API (Objective-C/swift rather than raw C++ API) for darwin
# applications
/src/darwin/Framework/ @shana-apple @vivien-apple @pan-apple

* Reverted errors in generated files under examples/tv-app/tv-common/gen
  examples/tv-app/tv-common/gen/IMClusterCommandHandler.cpp
  examples/tv-app/tv-common/gen/callback.h
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

* Reverted generated files under examples/tv-app/tv-common/gen due to error in updating the ZAP tool
  examples/tv-app/tv-common/gen/IMClusterCommandHandler.cpp
  examples/tv-app/tv-common/gen/callback.h
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Added the to the CMakeLists.txt file under ESP32 all-clusters-app
  examples/all-clusters-app/esp32/main/CMakeLists.txt
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

[esp32] Remove ON_LEVEL attribute access
  examples/all-clusters-app/esp32/main/main.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

[nrfconnect] Fixed storing root certificate during commissioning.
  config/nrfconnect/app/overlay-dfu_support.conf
  examples/lighting-app/nrfconnect/CMakeLists.txt
  examples/lighting-app/nrfconnect/boards/nrf5340dk_nrf5340_cpuapp.conf
  examples/lighting-app/nrfconnect/child_image/mcuboot.conf
  examples/lighting-app/nrfconnect/configuration/nrf52840dk_nrf52840/pm_static.yml
  examples/lock-app/nrfconnect/CMakeLists.txt
  examples/lock-app/nrfconnect/boards/nrf5340dk_nrf5340_cpuapp.conf
  examples/lock-app/nrfconnect/child_image/mcuboot.conf
  examples/lock-app/nrfconnect/configuration/nrf52840dk_nrf52840/pm_static.yml
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Removed # comment in the CMakeLists.txt file which includes the build of pump-config...
  examples/all-clusters-app/esp32/main/CMakeLists.txt
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Generate enumeration storage width
  src/app/common/gen/enums.h
  src/app/zap-templates/templates/app/enums.zapt
Owners: @yunhanw-google, @bzbarsky-apple, @mrjerryjohns, @vivien-apple, @erjianqing

[nrfconnect] Changed BT device names from Chip to Matter.
  docs/guides/nrfconnect_examples_software_update.md
  examples/lighting-app/nrfconnect/prj.conf
  examples/lock-app/nrfconnect/prj.conf
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Update ChipLogDetail format of network-commissioning.cpp to PRIu8 since the storage of some enums has changed
  src/app/clusters/network-commissioning/network-commissioning.cpp
Owners: @vivien-apple

esp32 mdns server start at connectivity change
  src/app/server/Mdns.cpp
  src/app/server/Server.cpp
Owners: @yunhanw-google, @bzbarsky-apple, @mrjerryjohns

remove custom mdns logic
  examples/all-clusters-app/esp32/main/DeviceCallbacks.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Restyled by clang-format
  examples/all-clusters-app/esp32/main/DeviceCallbacks.cpp
  src/app/server/Mdns.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @yunhanw-google, @bzbarsky-apple, @mrjerryjohns

[nrfconnect] Fixed storing root certificate during commissioning. (#7748)
  config/nrfconnect/app/overlay-dfu_support.conf
  examples/lighting-app/nrfconnect/CMakeLists.txt
  examples/lighting-app/nrfconnect/boards/nrf5340dk_nrf5340_cpuapp.conf
  examples/lighting-app/nrfconnect/child_image/mcuboot.conf
  examples/lighting-app/nrfconnect/configuration/nrf52840dk_nrf52840/pm_static.yml
  examples/lock-app/nrfconnect/CMakeLists.txt
  examples/lock-app/nrfconnect/boards/nrf5340dk_nrf5340_cpuapp.conf
  examples/lock-app/nrfconnect/child_image/mcuboot.conf
  examples/lock-app/nrfconnect/configuration/nrf52840dk_nrf52840/pm_static.yml
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

[nrfconnect] Changed BT device names from Chip to Matter. (#7747)
  docs/guides/nrfconnect_examples_software_update.md
  examples/lighting-app/nrfconnect/prj.conf
  examples/lock-app/nrfconnect/prj.conf
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Generalize socket-based event loop
  src/controller/CHIPDeviceController.cpp
  src/controller/java/CHIPDeviceController-JNI.cpp
  src/include/platform/internal/GenericPlatformManagerImpl_POSIX.cpp
  src/include/platform/internal/GenericPlatformManagerImpl_POSIX.h
  src/include/platform/internal/GenericPlatformManagerImpl_Zephyr.cpp
  src/inet/BUILD.gn
  src/inet/EndPointBasis.cpp
  src/inet/EndPointBasis.h
  src/inet/IPEndPointBasis.cpp
  src/inet/InetLayer.cpp
  src/inet/InetLayer.h
  src/inet/InetLayerBasis.cpp
  src/inet/InetLayerBasis.h
  src/inet/RawEndPoint.cpp
  src/inet/RawEndPoint.h
  src/inet/TCPEndPoint.cpp
  src/inet/TCPEndPoint.h
  src/inet/UDPEndPoint.cpp
  src/inet/UDPEndPoint.h
  src/inet/tests/TestInetCommonPosix.cpp
  src/platform/Linux/PlatformManagerImpl.h
  src/system/BUILD.gn
  src/system/SystemConfig.h
  src/system/SystemLayer.cpp
  src/system/SystemLayer.h
  src/system/SystemSockets.cpp
  src/system/SystemSockets.h
  src/system/SystemTimer.cpp
  src/system/SystemWakeEvent.h
  src/system/WatchableSocketLibevent.cpp
  src/system/WatchableSocketLibevent.h
  src/system/WatchableSocketSelect.cpp
  src/system/WatchableSocketSelect.h
  src/system/system.gni
  src/system/tests/TestSystemTimer.cpp
  src/system/tests/TestSystemWakeEvent.cpp
Owners: @shana-apple, @pan-apple, @austinh0, @mspang, @yufengwangca, @kpschoedel

restyle
  src/system/SystemSockets.h
Owners: @kpschoedel

Clarify SocketEventFlags error vs exceptional condition
  src/system/SystemSockets.h
  src/system/WatchableSocketSelect.cpp
Owners: @kpschoedel

fixes for CHIP_SYSTEM_CONFIG_USE_DISPATCH merge
  src/inet/RawEndPoint.cpp
  src/inet/TCPEndPoint.cpp
  src/inet/UDPEndPoint.cpp
Owners: @kpschoedel

Restyled by clang-format
  src/include/platform/internal/GenericPlatformManagerImpl_POSIX.cpp
Owners: @mspang, @yufengwangca

restyle
  src/include/platform/internal/GenericPlatformManagerImpl_POSIX.cpp
Owners: @mspang, @yufengwangca

Fix ble connection in Temperature Measurement app
  examples/temperature-measurement-app/esp32/main/gen/CHIPClientCallbacks.cpp
  examples/temperature-measurement-app/esp32/main/gen/CHIPClientCallbacks.h
  examples/temperature-measurement-app/esp32/main/gen/CHIPClusters.cpp
  examples/temperature-measurement-app/esp32/main/gen/CHIPClusters.h
  examples/temperature-measurement-app/esp32/main/gen/IMClusterCommandHandler.cpp
  examples/temperature-measurement-app/esp32/main/gen/attribute-size.cpp
  examples/temperature-measurement-app/esp32/main/gen/callback-stub.cpp
  examples/temperature-measurement-app/esp32/main/gen/callback.h
  examples/temperature-measurement-app/esp32/main/gen/chip-zcl-zpro-codec-api.h
  examples/temperature-measurement-app/esp32/main/gen/encoder.cpp
  examples/temperature-measurement-app/esp32/main/gen/endpoint_config.h
  examples/temperature-measurement-app/esp32/main/gen/gen_config.h
  examples/temperature-measurement-app/esp32/main/temperature-measurement.zap
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Restyled by whitespace
  examples/temperature-measurement-app/esp32/main/gen/CHIPClientCallbacks.cpp
  examples/temperature-measurement-app/esp32/main/gen/CHIPClusters.h
  examples/temperature-measurement-app/esp32/main/gen/IMClusterCommandHandler.cpp
  examples/temperature-measurement-app/esp32/main/gen/chip-zcl-zpro-codec-api.h
  examples/temperature-measurement-app/esp32/main/gen/encoder.cpp
  examples/temperature-measurement-app/esp32/main/gen/endpoint_config.h
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Restyled by clang-format
  examples/temperature-measurement-app/esp32/main/gen/CHIPClientCallbacks.h
  examples/temperature-measurement-app/esp32/main/gen/CHIPClusters.cpp
  examples/temperature-measurement-app/esp32/main/gen/IMClusterCommandHandler.cpp
  examples/temperature-measurement-app/esp32/main/gen/attribute-size.cpp
  examples/temperature-measurement-app/esp32/main/gen/callback-stub.cpp
  examples/temperature-measurement-app/esp32/main/gen/callback.h
  examples/temperature-measurement-app/esp32/main/gen/endpoint_config.h
  examples/temperature-measurement-app/esp32/main/gen/gen_config.h
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Fix chip-tool crash in case of commissioning ethernet device. Need to figure out what SetupNetwork() should do in case of Ethernet, for now do nothing
  examples/chip-tool/commands/pairing/PairingCommand.cpp
Owners: @vivien-apple

rename System::SystemWakeEvent to System::WakeEvent
  src/system/SystemLayer.h
  src/system/SystemSockets.cpp
  src/system/SystemSockets.h
  src/system/tests/TestSystemWakeEvent.cpp
Owners: @kpschoedel

Passing the generated OpCSR back to the java layer
  src/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/GenericChipDeviceListener.kt
  src/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/provisioning/DeviceProvisioningFragment.kt
  src/controller/java/AndroidDeviceControllerWrapper.cpp
  src/controller/java/AndroidDeviceControllerWrapper.h
  src/controller/java/CHIPDeviceController-JNI.cpp
  src/controller/java/JniReferences.cpp
  src/controller/java/JniReferences.h
  src/controller/java/src/chip/devicecontroller/ChipDeviceController.java
Owners: @austinh0

Add initial IM write client/handler
  src/app/BUILD.gn
  src/app/CommandHandler.cpp
  src/app/InteractionModelDelegate.h
  src/app/InteractionModelEngine.cpp
  src/app/InteractionModelEngine.h
  src/app/MessageDef/AttributeDataList.cpp
  src/app/MessageDef/AttributeDataList.h
  src/app/MessageDef/WriteRequest.cpp
  src/app/MessageDef/WriteRequest.h
  src/app/MessageDef/WriteResponse.cpp
  src/app/MessageDef/WriteResponse.h
  src/app/ReadClient.cpp
  src/app/ReadHandler.cpp
  src/app/WriteClient.cpp
  src/app/WriteClient.h
  src/app/WriteHandler.cpp
  src/app/WriteHandler.h
  src/app/tests/BUILD.gn
  src/app/tests/TestWriteInteraction.cpp
  src/app/tests/integration/chip_im_initiator.cpp
  src/app/tests/integration/chip_im_responder.cpp
Owners: @yunhanw-google, @bzbarsky-apple, @mrjerryjohns

Restyled by clang-format
  src/app/InteractionModelEngine.cpp
  src/app/WriteHandler.cpp
  src/app/WriteHandler.h
  src/app/tests/TestWriteInteraction.cpp
Owners: @yunhanw-google, @bzbarsky-apple, @mrjerryjohns

Examples: Window Covering: Cluster configuration updated. (#7743)
  examples/window-app/common/gen/IMClusterCommandHandler.cpp
  examples/window-app/common/gen/attribute-size.cpp
  examples/window-app/common/gen/callback-stub.cpp
  examples/window-app/common/gen/callback.h
  examples/window-app/common/gen/endpoint_config.h
  examples/window-app/common/gen/gen_config.h
  examples/window-app/common/window-app.zap
  examples/window-app/efr32/BUILD.gn
  examples/window-app/efr32/src/ZclCallbacks.cpp
  examples/window-app/efr32/src/main.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @mspang

Add initial IM write client/handler
  src/app/BUILD.gn
  src/app/CommandHandler.cpp
  src/app/InteractionModelDelegate.h
  src/app/InteractionModelEngine.cpp
  src/app/InteractionModelEngine.h
  src/app/MessageDef/AttributeDataList.cpp
  src/app/MessageDef/AttributeDataList.h
  src/app/MessageDef/WriteRequest.cpp
  src/app/MessageDef/WriteRequest.h
  src/app/MessageDef/WriteResponse.cpp
  src/app/MessageDef/WriteResponse.h
  src/app/ReadClient.cpp
  src/app/ReadHandler.cpp
  src/app/WriteClient.cpp
  src/app/WriteClient.h
  src/app/WriteHandler.cpp
  src/app/WriteHandler.h
  src/app/tests/BUILD.gn
  src/app/tests/TestWriteInteraction.cpp
  src/app/tests/integration/chip_im_initiator.cpp
  src/app/tests/integration/chip_im_responder.cpp
Owners: @yunhanw-google, @bzbarsky-apple, @mrjerryjohns

Generalize socket-based event loop (#6561)
  src/controller/CHIPDeviceController.cpp
  src/controller/java/CHIPDeviceController-JNI.cpp
  src/include/platform/internal/GenericPlatformManagerImpl_POSIX.cpp
  src/include/platform/internal/GenericPlatformManagerImpl_POSIX.h
  src/include/platform/internal/GenericPlatformManagerImpl_Zephyr.cpp
  src/inet/BUILD.gn
  src/inet/EndPointBasis.cpp
  src/inet/EndPointBasis.h
  src/inet/IPEndPointBasis.cpp
  src/inet/InetLayer.cpp
  src/inet/InetLayer.h
  src/inet/InetLayerBasis.cpp
  src/inet/InetLayerBasis.h
  src/inet/RawEndPoint.cpp
  src/inet/RawEndPoint.h
  src/inet/TCPEndPoint.cpp
  src/inet/TCPEndPoint.h
  src/inet/UDPEndPoint.cpp
  src/inet/UDPEndPoint.h
  src/inet/tests/TestInetCommonPosix.cpp
  src/platform/Linux/PlatformManagerImpl.h
  src/system/BUILD.gn
  src/system/SystemConfig.h
  src/system/SystemLayer.cpp
  src/system/SystemLayer.h
  src/system/SystemSockets.cpp
  src/system/SystemSockets.h
  src/system/SystemTimer.cpp
  src/system/SystemWakeEvent.h
  src/system/WatchableSocketLibevent.cpp
  src/system/WatchableSocketLibevent.h
  src/system/WatchableSocketSelect.cpp
  src/system/WatchableSocketSelect.h
  src/system/system.gni
  src/system/tests/TestSystemTimer.cpp
  src/system/tests/TestSystemWakeEvent.cpp
Owners: @shana-apple, @pan-apple, @austinh0, @mspang, @yufengwangca, @kpschoedel

Added PCC cluster to the helper.js in order to get IM callbacks (#7515)
  examples/all-clusters-app/all-clusters-common/gen/endpoint_config.h
  examples/all-clusters-app/esp32/main/CMakeLists.txt
  examples/pump-app/cc13x2x7_26x2x7/BUILD.gn
  examples/pump-app/cc13x2x7_26x2x7/main/ZclCallbacks.cpp
  examples/pump-app/pump-common/gen/endpoint_config.h
  examples/pump-controller-app/cc13x2x7_26x2x7/BUILD.gn
  examples/pump-controller-app/cc13x2x7_26x2x7/main/ZclCallbacks.cpp
  src/app/clusters/pump-configuration-and-control-server/pump-configuration-and-control-server.cpp
  src/app/zap-templates/templates/app/helper.js
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @mspang, @vivien-apple, @erjianqing

Add initial IM write client/handler (#7730)
  src/app/BUILD.gn
  src/app/CommandHandler.cpp
  src/app/InteractionModelDelegate.h
  src/app/InteractionModelEngine.cpp
  src/app/InteractionModelEngine.h
  src/app/MessageDef/AttributeDataList.cpp
  src/app/MessageDef/AttributeDataList.h
  src/app/MessageDef/WriteRequest.cpp
  src/app/MessageDef/WriteRequest.h
  src/app/MessageDef/WriteResponse.cpp
  src/app/MessageDef/WriteResponse.h
  src/app/ReadClient.cpp
  src/app/ReadHandler.cpp
  src/app/WriteClient.cpp
  src/app/WriteClient.h
  src/app/WriteHandler.cpp
  src/app/WriteHandler.h
  src/app/tests/BUILD.gn
  src/app/tests/TestWriteInteraction.cpp
  src/app/tests/integration/chip_im_initiator.cpp
  src/app/tests/integration/chip_im_responder.cpp
Owners: @yunhanw-google, @bzbarsky-apple, @mrjerryjohns

Generate enumeration storage width (#7746)
  src/app/clusters/network-commissioning/network-commissioning.cpp
  src/app/common/gen/enums.h
  src/app/zap-templates/templates/app/enums.zapt
Owners: @vivien-apple, @yunhanw-google, @bzbarsky-apple, @mrjerryjohns, @erjianqing

[esp32] Remove ON_LEVEL attribute access (#7744)
  examples/all-clusters-app/esp32/main/main.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

[esp32] add heap trace extension for esp32 (#7215)
  examples/all-clusters-app/esp32/main/CMakeLists.txt
  examples/all-clusters-app/esp32/main/main.cpp
  examples/lock-app/esp32/main/CMakeLists.txt
  examples/lock-app/esp32/main/main.cpp
  examples/platform/esp32/shell_extension/heap_trace.cpp
  examples/platform/esp32/shell_extension/heap_trace.h
  examples/platform/esp32/shell_extension/launch.cpp
  examples/platform/esp32/shell_extension/launch.h
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Enable CONFIG_CHIPOBLE_SINGLE_CONNECTION in all-cluster-app ESP32
  examples/all-clusters-app/esp32/sdkconfig.defaults
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

all-clusters-app/esp32 remove custom mdns logic
  examples/all-clusters-app/esp32/main/DeviceCallbacks.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Restyled by clang-format
  src/app/server/Mdns.cpp
Owners: @yunhanw-google, @bzbarsky-apple, @mrjerryjohns

esp32 mdns server start at connectivity change
  src/app/server/Mdns.cpp
  src/app/server/Mdns.h
  src/app/server/Server.cpp
Owners: @yunhanw-google, @bzbarsky-apple, @mrjerryjohns
