Repository project-chip/connectedhomeip, changes with the owners that .github/CODEOWNERS names for each.
All owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @mspang, @pan-apple, @emargolis, @andy31415, @yufengwangca, @kghost, @bzbarksy-apple, @bzbarsky-apple, @gjc13, @damian-nordic, @erjiaqing, @shana-apple, @yunhanw-google, @vivien-apple, @erjianqing, @mrjerryjohns, @jrhees-cae, @rgoliver, @austinh0, @bukepo, @kpschoedel

.github/CODEOWNERS:

# Current reviewers-XXX teams, who review everything for approval.
* @reviewers-amazon @reviewers-apple @reviewers-comcast @reviewers-google @reviewers-nordic @reviewers-samsung @reviewers-silabs


# BUILD system

*.gn @mspang
/build/ @mspang
/scripts/build/ @mspang

# Crypto
# Crypto primitives and high level API, generally on top of mbedtls and openssl
/src/crypto/* @pan-apple @emargolis
/src/credentials/ @pan-apple @emargolis

# Transport
# Send and receive data abstracting away the underlying protocol (UDP, TCP, BLE)
/src/transport/ @andy31415 @pan-apple

# Session establishment
# Establish a secure session (encryption keys) from one node to another.
# Includes CASE and PASE + session tracking and resumptioon
/src/protocols/secure_channel/ @pan-apple

# Message Layer
# CRMP and packet headers, generally coupled with SecureSessionManager
/src/messaging @yufengwangca @kghost @bzbarksy-apple
/src/transport/raw/MessageHeader.* @yufengwangca @kghost @bzbarksy-apple

# SecureSessionManager
# Manages per-session encryption keys and new session establishment
/src/transport/SecureSessionMgr.* @pan-apple

# Exchange management
# Joins requests and responses or ties a series of messages belonging to the 
# same protocol interaction
/src/messaging/ @yufengwangca @bzbarsky-apple
/src/channel/ @yufengwangca @bzbarsky-apple

# DNS-SD discovery and advertisement
# Advertise chip devices for commisioning, operational and discover such devices
/src/lib/mdns/ @andy31415 @gjc13 @damian-nordic

# Commisioning controller/flow
# Example of a comisioning sequence
/src/controller/ @pan-apple @erjiaqing

# Operational credentials management
# Signing certificates, maintaining roots of trust, validation, fabric management
/src/controller/ @shana-apple @pan-apple
/src/transport/AdminPairingTable.* @shana-apple @pan-apple

# TLV encoding/decoding to/from byte buffers
/src/lib/core/CHIPTLV* @yunhanw-google @bzbarsky-apple @shana-apple

# Interaction model - ember implementation
# ZCL protocol implementation: ZCL encoding to be sent over the wire as a 
# ZigbeePro protocol implementation
/src/app/util/ @vivien-apple @erjianqing @bzbarsky-apple

# Interaction model - non-ember
# Protocol implementation for IM interactions between nodes, matching spec
/src/app/ @yunhanw-google @bzbarsky-apple @mrjerryjohns

# Interaction model - code generation
# CHIP-specific infrastructure for generating code: helper js methods, scripts
# and code layout
/src/app/zap-templates/ @vivien-apple @erjianqing

# ZAP suppport
# UI for editing XML, generates code from such ZML and configuration files
# NOT part of CHIP however CHIP relies heavily on ZAP.
#    @vivien-apple  @tecimovic

# 'Standard' cluster implementations (server side)
# Clusters shipped with the sdk, can be integrated as-is or used as a template
/src/app/clusters/ @vivien-apple

# Onboarding payload
# Parsing and generation of codes (includes QR and NFC), numeric pairing payload
/src/setup_payload/ @shana-apple @vivien-apple @jrhees-cae

# Device Layer
# Porting interfaces, scaffolding for building an example firmware
/src/platform/ @mspang @yufengwangca
/src/include/platform/ @mspang @yufengwangca

# Persistent storage
# Save state across reboots
/src/platform/*/KeyValueStore* @rgoliver

# Python bindings for CHIP - CLI
# Allows python code to use CHIP, generally targeted towards automation
/src/controller/python/ @andy31415 @erjianqing

# CHIP-tool C++ CLI
# Command line interface to chip as a client (controller and commisioner)
# Includes generated code for every base cluster
/examples/chip-tool/ @vivien-apple

# CHIP-tool iOS UI
/src/darwin/CHIPTool/ @shana-apple

# CHIP-tool Android
/src/android/CHIPTool/ @austinh0
/src/controller/java/ @austinh0

# End2End autogenerated tests
/src/darwin/Framework/Chip-templates/ @vivien-apple
/src/app/tests/suites/ @vivien-apple

# End2End cirque tests
# Simulate topology (cirque) and ptyhon-based test automation
/src/test_driver/linux/cirque/ @erjianqing @yunhanw-google

# Thread integration
# Thread-specific functionality (network provisioning, operational discovery, SRP registration etc.)
/src/platform/OpenThread/ @bukepo
/src/platform/*/ThreadStackmanagerImpl.* @bukepo

# Inet
# Networking abstraction layer (UDP-endpoint, TCP-endpoint, InetLayerBasis)
/src/inet/ @kpschoedel 

# System layer
/src/system/ @kpschoedel 

# BLE support
/src/ble/ @yunhanw-google

# CHIP Shell
# Command-line UART/stdin interface as a side-channel to CHIP accessories
# Aimed as user-friendly/manual control
/src/examples/shell/ @gjc13 @yufengwangca

# RPC
# Side-channlel command path (outside chip), generally for automation and debugging
# Aimed as "scriptable" when compared to shell
/examples/common/pigweed/ @rgoliver
/examples/pigweed-app/ @rgoliver

# Tooling for crypto manual generation
# Generates data for sample PKI
/src/tools/chip-cert/ @emargolis

# Channel API
# Construct a transport/secure session based on peer info and transport type.
# Focused on CASE session establishment
/src/channel/ @kghost

# Darwin framework
# Exposes a darwin API (Objective-C/swift rather than raw C++ API) for darwin
# applications
/src/darwin/Framework/ @shana-apple @vivien-apple @pan-apple

Zap was not generating the files when calling generate.py
  src/app/zap-templates/common/ClustersHelper.js
Owners: @vivien-apple, @erjianqing

Restyled by clang-format
  src/app/zap-templates/common/ClustersHelper.js
Owners: @vivien-apple, @erjianqing

Restyled by whitespace
  src/pybindings/pycontroller/ControllerBindings/PyChip_TransportType.cpp
  src/pybindings/pycontroller/templates/templates.json
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Restyled by clang-format
  src/pybindings/pycontroller/ControllerBindings/PyChip_Inet_IPAddress.cpp
  src/pybindings/pycontroller/ControllerBindings/PyChip_MDNS.cpp
  src/pybindings/pycontroller/ControllerBindings/PyChip_Memory.cpp
  src/pybindings/pycontroller/ControllerBindings/PyChip_Rendezvous.cpp
  src/pybindings/pycontroller/ControllerBindings/PyChip_SetupPayload.cpp
  src/pybindings/pycontroller/ControllerBindings/PyChip_TransportType.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Restyled by gn
  BUILD.gn
  src/pybindings/pycontroller/BUILD.gn
Owners: @mspang

Restyled by shfmt
  scripts/build_python.sh
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Log string attribute value into CHIPClientCallbacks.cpp
  src/app/util/ember-compatibility-functions.cpp
  src/app/zap-templates/templates/app/CHIPClientCallbacks-src.zapt
Owners: @yunhanw-google, @bzbarsky-apple, @mrjerryjohns, @vivien-apple, @erjianqing

Update gen/ folders
  examples/pump-app/pump-common/gen/CHIPClientCallbacks.cpp
  examples/pump-controller-app/pump-controller-common/gen/CHIPClientCallbacks.cpp
  src/controller/data_model/gen/CHIPClientCallbacks.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @shana-apple, @pan-apple

[ChipTool] Add pairing qrcode/manualcode option
  examples/chip-tool/commands/pairing/Commands.h
  examples/chip-tool/commands/pairing/PairingCommand.cpp
  examples/chip-tool/commands/pairing/PairingCommand.h
Owners: @vivien-apple

Zap was not generating the files when calling generate.py
  src/app/zap-templates/common/ClustersHelper.js
Owners: @vivien-apple, @erjianqing

Regenerate generated files
  examples/chip-tool/commands/tests/Commands.h
  src/darwin/Framework/CHIPTests/CHIPClustersTests.m
Owners: @vivien-apple, @shana-apple, @pan-apple

Add test for trying to send a command to an endpoint that does not exist.
  scripts/tests/test_suites.sh
  src/app/tests/suites/TestCluster.yaml
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @vivien-apple

Refactor TestWriteInteraction to use a MessagingContext.
  src/app/tests/BUILD.gn
  src/app/tests/TestWriteInteraction.cpp
Owners: @yunhanw-google, @bzbarsky-apple, @mrjerryjohns

Don't wait for CASE connection if resolve fails in chip-device-ctrl (#8161)
  src/controller/python/chip/ChipDeviceCtrl.py
Owners: @andy31415, @erjianqing

updated HMAC HSM code
  src/crypto/hsm/CHIPCryptoPALHsm_config.h
  src/crypto/hsm/nxp/CHIPCryptoPALHsm_SE05X_HMAC.cpp
  src/crypto/tests/CHIPCryptoPALTest.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

restyled
  src/crypto/hsm/CHIPCryptoPALHsm_config.h
  src/crypto/hsm/nxp/CHIPCryptoPALHsm_SE05X_HMAC.cpp
  src/crypto/tests/CHIPCryptoPALTest.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Revert "[TE4] Enable Lighting Devices types cluster and attributes (#7934)"
  examples/all-clusters-app/all-clusters-common/all-clusters-app.zap
  examples/all-clusters-app/all-clusters-common/gen/IMClusterCommandHandler.cpp
  examples/all-clusters-app/all-clusters-common/gen/callback.h
  examples/all-clusters-app/all-clusters-common/gen/endpoint_config.h
  examples/all-clusters-app/all-clusters-common/gen/gen_config.h
  examples/chip-tool/commands/clusters/Commands.h
  examples/chip-tool/commands/reporting/Commands.h
  examples/lighting-app/efr32/src/ZclCallbacks.cpp
  examples/lighting-app/lighting-common/gen/IMClusterCommandHandler.cpp
  examples/lighting-app/lighting-common/gen/af-gen-event.h
  examples/lighting-app/lighting-common/gen/callback-stub.cpp
  examples/lighting-app/lighting-common/gen/callback.h
  examples/lighting-app/lighting-common/gen/endpoint_config.h
  examples/lighting-app/lighting-common/gen/gen_config.h
  examples/lighting-app/lighting-common/lighting-app.zap
  examples/lighting-app/mbed/CMakeLists.txt
  examples/lighting-app/nrfconnect/CMakeLists.txt
  examples/lighting-app/telink/CMakeLists.txt
  src/app/clusters/color-control-server/color-control-server.cpp
  src/app/common/gen/client-command-macro.h
  src/app/zap-templates/zcl/data-model/silabs/zll.xml
  src/controller/data_model/controller-clusters.zap
  src/controller/data_model/gen/CHIPClusters.cpp
  src/controller/data_model/gen/CHIPClusters.h
  src/controller/data_model/gen/callback-stub.cpp
  src/controller/data_model/gen/callback.h
  src/controller/data_model/gen/chip-zcl-zpro-codec-api.h
  src/controller/data_model/gen/encoder.cpp
  src/controller/data_model/gen/endpoint_config.h
  src/controller/data_model/gen/gen_config.h
  src/controller/java/gen/CHIPClusters-JNI.cpp
  src/controller/java/gen/ChipClusters.java
  src/controller/python/chip/clusters/CHIPClusters.cpp
  src/controller/python/chip/clusters/CHIPClusters.py
  src/darwin/Framework/CHIP/gen/CHIPClustersObjc.h
  src/darwin/Framework/CHIP/gen/CHIPClustersObjc.mm
  src/darwin/Framework/CHIPTests/CHIPClustersTests.m
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @vivien-apple, @yunhanw-google, @bzbarsky-apple, @mrjerryjohns, @erjianqing, @shana-apple, @pan-apple, @austinh0, @andy31415

Darwin BLE: fix length check in advertisement data (#8112)
  src/platform/Darwin/BleConnectionDelegateImpl.mm
Owners: @mspang, @yufengwangca

[TE4] Enable Lighting Devices types cluster and attributes (#7934)
  examples/all-clusters-app/all-clusters-common/all-clusters-app.zap
  examples/all-clusters-app/all-clusters-common/gen/IMClusterCommandHandler.cpp
  examples/all-clusters-app/all-clusters-common/gen/endpoint_config.h
  examples/all-clusters-app/all-clusters-common/gen/gen_config.h
  examples/chip-tool/commands/clusters/Commands.h
  examples/chip-tool/commands/reporting/Commands.h
  examples/lighting-app/efr32/src/ZclCallbacks.cpp
  examples/lighting-app/lighting-common/gen/IMClusterCommandHandler.cpp
  examples/lighting-app/lighting-common/gen/af-gen-event.h
  examples/lighting-app/lighting-common/gen/callback-stub.cpp
  examples/lighting-app/lighting-common/gen/endpoint_config.h
  examples/lighting-app/lighting-common/gen/gen_config.h
  examples/lighting-app/lighting-common/lighting-app.zap
  examples/lighting-app/mbed/CMakeLists.txt
  examples/lighting-app/nrfconnect/CMakeLists.txt
  examples/lighting-app/telink/CMakeLists.txt
  src/app/clusters/color-control-server/color-control-server.cpp
  src/app/common/gen/callback.h
  src/app/common/gen/client-command-macro.h
  src/app/zap-templates/zcl/data-model/silabs/zll.xml
  src/controller/data_model/controller-clusters.zap
  src/controller/data_model/gen/CHIPClusters.cpp
  src/controller/data_model/gen/CHIPClusters.h
  src/controller/data_model/gen/callback-stub.cpp
  src/controller/data_model/gen/chip-zcl-zpro-codec-api.h
  src/controller/data_model/gen/encoder.cpp
  src/controller/data_model/gen/endpoint_config.h
  src/controller/data_model/gen/gen_config.h
  src/controller/java/gen/CHIPClusters-JNI.cpp
  src/controller/java/gen/ChipClusters.java
  src/controller/python/chip/clusters/CHIPClusters.cpp
  src/controller/python/chip/clusters/CHIPClusters.py
  src/darwin/Framework/CHIP/gen/CHIPClustersObjc.h
  src/darwin/Framework/CHIP/gen/CHIPClustersObjc.mm
  src/darwin/Framework/CHIPTests/CHIPClustersTests.m
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @vivien-apple, @yunhanw-google, @bzbarsky-apple, @mrjerryjohns, @erjianqing, @shana-apple, @pan-apple, @austinh0, @andy31415

Make exchanges handle closing on message receipt more automatically.
  examples/shell/shell_common/cmd_send.cpp
  src/app/CommandHandler.cpp
  src/app/CommandSender.cpp
  src/app/InteractionModelEngine.cpp
  src/app/ReadClient.cpp
  src/app/ReadHandler.cpp
  src/app/WriteClient.cpp
  src/app/WriteHandler.cpp
  src/app/server/Server.cpp
  src/controller/CHIPDevice.cpp
  src/controller/CHIPDeviceController.cpp
  src/messaging/ExchangeContext.cpp
  src/messaging/ExchangeContext.h
  src/messaging/ExchangeDelegate.h
  src/messaging/ExchangeMgr.cpp
  src/messaging/ReliableMessageContext.h
  src/messaging/tests/TestExchangeMgr.cpp
  src/messaging/tests/TestReliableMessageProtocol.cpp
  src/protocols/echo/EchoClient.cpp
  src/protocols/secure_channel/CASESession.cpp
  src/protocols/secure_channel/MessageCounterManager.cpp
  src/protocols/secure_channel/PASESession.cpp
  src/protocols/secure_channel/tests/TestMessageCounterManager.cpp
  src/protocols/secure_channel/tests/TestPASESession.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @yunhanw-google, @bzbarsky-apple, @mrjerryjohns, @shana-apple, @pan-apple, @yufengwangca

Add an ObjC wrapper for the CHIP Thread Operational Dataset
  src/darwin/Framework/CHIP.xcodeproj/project.pbxproj
  src/darwin/Framework/CHIP/CHIP.h
  src/darwin/Framework/CHIP/CHIPThreadOperationalDataset.h
  src/darwin/Framework/CHIP/CHIPThreadOperationalDataset.mm
  src/darwin/Framework/CHIPTests/CHIPThreadOperationalDatasetTests.mm
Owners: @shana-apple, @vivien-apple, @pan-apple

Restyled by clang-format
  src/darwin/Framework/CHIP/CHIPThreadOperationalDataset.h
  src/darwin/Framework/CHIP/CHIPThreadOperationalDataset.mm
  src/darwin/Framework/CHIPTests/CHIPThreadOperationalDatasetTests.mm
Owners: @shana-apple, @vivien-apple, @pan-apple

Restyled by clang-format
  src/darwin/Framework/CHIP/CHIPThreadOperationalDataset.h
  src/darwin/Framework/CHIP/CHIPThreadOperationalDataset.mm
  src/darwin/Framework/CHIPTests/CHIPThreadOperationalDatasetTests.mm
Owners: @shana-apple, @vivien-apple, @pan-apple

Remove unused or redundant helpers from src/app/zap-templates/templates/app/helper.js (#8141)
  src/app/zap-templates/common/ChipTypesHelper.js
  src/app/zap-templates/templates/app/helper.js
  src/app/zap-templates/templates/app/im-cluster-command-handler.zapt
  src/darwin/Framework/CHIP/templates/CHIPClustersObjc-src.zapt
  src/darwin/Framework/CHIP/templates/CHIPClustersObjc.zapt
Owners: @vivien-apple, @erjianqing, @shana-apple, @pan-apple

[im] Add helper for mapping ember error code to im protocol code (#8131)
  examples/lighting-app/mbed/CMakeLists.txt
  examples/lighting-app/nrfconnect/CMakeLists.txt
  examples/lighting-app/telink/CMakeLists.txt
  examples/lock-app/mbed/CMakeLists.txt
  examples/lock-app/nrfconnect/CMakeLists.txt
  examples/pump-app/pump-common/gen/CHIPClientCallbacks.cpp
  examples/pump-controller-app/pump-controller-common/gen/CHIPClientCallbacks.cpp
  src/app/chip_data_model.gni
  src/app/util/ember-compatibility-functions.cpp
  src/app/util/error-mapping.cpp
  src/app/util/error-mapping.h
  src/app/zap-templates/templates/app/CHIPClientCallbacks-src.zapt
  src/controller/data_model/gen/CHIPClientCallbacks.cpp
  src/darwin/Framework/CHIP.xcodeproj/project.pbxproj
  src/protocols/interaction_model/Constants.h
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @yunhanw-google, @bzbarsky-apple, @mrjerryjohns, @vivien-apple, @erjianqing, @shana-apple, @pan-apple

Log string attribute value into CHIPClientCallbacks.cpp (#8134)
  examples/pump-app/pump-common/gen/CHIPClientCallbacks.cpp
  examples/pump-controller-app/pump-controller-common/gen/CHIPClientCallbacks.cpp
  src/app/util/ember-compatibility-functions.cpp
  src/app/zap-templates/templates/app/CHIPClientCallbacks-src.zapt
  src/controller/data_model/gen/CHIPClientCallbacks.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @yunhanw-google, @bzbarsky-apple, @mrjerryjohns, @vivien-apple, @erjianqing, @shana-apple, @pan-apple

[TV App] Enable missing attributes (#8120)
  examples/all-clusters-app/all-clusters-common/all-clusters-app.zap
  examples/all-clusters-app/all-clusters-common/gen/endpoint_config.h
  examples/chip-tool/commands/clusters/Commands.h
  examples/chip-tool/commands/tests/Commands.h
  examples/tv-app/tv-common/gen/endpoint_config.h
  examples/tv-app/tv-common/tv-app.zap
  src/app/tests/suites/TV_ApplicationLauncherCluster.yaml
  src/app/tests/suites/TV_MediaInputCluster.yaml
  src/controller/data_model/controller-clusters.zap
  src/controller/data_model/gen/CHIPClusters.cpp
  src/controller/data_model/gen/CHIPClusters.h
  src/controller/data_model/gen/chip-zcl-zpro-codec-api.h
  src/controller/data_model/gen/encoder.cpp
  src/controller/python/chip/clusters/CHIPClusters.cpp
  src/controller/python/chip/clusters/CHIPClusters.py
  src/darwin/Framework/CHIP/gen/CHIPClustersObjc.h
  src/darwin/Framework/CHIP/gen/CHIPClustersObjc.mm
  src/darwin/Framework/CHIPTests/CHIPClustersTests.m
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @vivien-apple, @shana-apple, @pan-apple, @andy31415, @erjianqing

Mbed: Add 'cortex-debug' vscode extension to devcontainer.json (#8122)
  .devcontainer/devcontainer.json
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Clean up temporary error code macros added in PR#7916 (#8119)
  examples/all-clusters-app/esp32/main/DeviceCallbacks.cpp
  examples/chip-tool/commands/common/Command.cpp
  src/ble/BleError.h
  src/inet/IPEndPointBasis.cpp
  src/inet/InetError.h
  src/lib/asn1/ASN1Error.h
  src/messaging/tests/TestReliableMessageProtocol.cpp
  src/platform/mbed/BLEManagerImpl.cpp
  src/platform/mbed/SystemTimeSupport.cpp
  src/system/SystemError.h
  src/system/SystemMutex.h
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @vivien-apple, @yunhanw-google, @kpschoedel, @yufengwangca, @bzbarsky-apple, @mspang

Add CHIP_Crypto_HMAC implementation (#8144)
  src/crypto/BUILD.gn
  src/crypto/CHIPCryptoPAL.h
  src/crypto/CHIPCryptoPALOpenSSL.cpp
  src/crypto/CHIPCryptoPALmbedTLS.cpp
  src/crypto/hsm/CHIPCryptoPALHsm.h
  src/crypto/hsm/CHIPCryptoPALHsm_config.h
  src/crypto/hsm/nxp/CHIPCryptoPALHsm_SE05X_HMAC.cpp
  src/crypto/hsm/nxp/CHIPCryptoPALHsm_SE05X_utils.h
  src/crypto/tests/BUILD.gn
  src/crypto/tests/CHIPCryptoPALTest.cpp
  src/crypto/tests/HMAC_SHA256_test_vectors.h
Owners: @pan-apple, @emargolis, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @mspang

Improve PlatformManager documentation.
  src/include/platform/PlatformManager.h
Owners: @mspang, @yufengwangca

Minor clean-ups in src/crypto
  src/crypto/CHIPCryptoPAL.h
  src/crypto/CHIPCryptoPALOpenSSL.cpp
  src/crypto/CHIPCryptoPALmbedTLS.cpp
  src/crypto/hsm/CHIPCryptoPALHsm.h
  src/crypto/hsm/CHIPCryptoPALHsm_config.h
  src/crypto/hsm/nxp/CHIPCryptoPALHsm_SE05X_utils.h
  src/crypto/tests/AES_CCM_256_test_vectors.h
  src/crypto/tests/ECDH_P256_test_vectors.h
  src/crypto/tests/HKDF_SHA256_test_vectors.h
  src/crypto/tests/HMAC_SHA256_test_vectors.h
  src/crypto/tests/Hash_SHA256_test_vectors.h
  src/crypto/tests/SPAKE2P_FE_MUL_test_vectors.h
  src/crypto/tests/SPAKE2P_FE_RW_test_vectors.h
  src/crypto/tests/SPAKE2P_HMAC_test_vectors.h
  src/crypto/tests/SPAKE2P_POINT_MUL_ADD_test_vectors.h
  src/crypto/tests/SPAKE2P_POINT_MUL_test_vectors.h
  src/crypto/tests/SPAKE2P_POINT_RW_test_vectors.h
  src/crypto/tests/SPAKE2P_POINT_VALID_test_vectors.h
  src/crypto/tests/SPAKE2P_RFC_test_vectors.h
  src/crypto/tests/X509_PKCS7Extraction_test_vectors.h
Owners: @pan-apple, @emargolis, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Address review comments
  src/darwin/Framework/CHIP/CHIPThreadOperationalDataset.h
  src/darwin/Framework/CHIP/CHIPThreadOperationalDataset.mm
  src/darwin/Framework/CHIPTests/CHIPThreadOperationalDatasetTests.mm
Owners: @shana-apple, @vivien-apple, @pan-apple

Restyled by clang-format
  src/darwin/Framework/CHIP/CHIPThreadOperationalDataset.mm
  src/darwin/Framework/CHIPTests/CHIPThreadOperationalDatasetTests.mm
Owners: @shana-apple, @vivien-apple, @pan-apple

Restyled by clang-format
  src/darwin/Framework/CHIP/CHIPThreadOperationalDataset.mm
  src/darwin/Framework/CHIPTests/CHIPThreadOperationalDatasetTests.mm
Owners: @shana-apple, @vivien-apple, @pan-apple

Resolve comments
  src/messaging/ExchangeHandle.cpp
  src/messaging/ExchangeHandle.h
Owners: @yufengwangca, @bzbarsky-apple

Add Defer unit-tests
  src/lib/support/Defer.h
  src/lib/support/tests/BUILD.gn
  src/lib/support/tests/TestDefer.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @mspang

Remove goto exit in messaging layer
  src/lib/support/BUILD.gn
  src/lib/support/Defer.h
  src/messaging/BUILD.gn
  src/messaging/ExchangeContext.cpp
  src/messaging/ExchangeHandle.cpp
  src/messaging/ExchangeHandle.h
  src/messaging/ExchangeMgr.cpp
  src/messaging/ReliableMessageContext.cpp
  src/messaging/ReliableMessageMgr.cpp
Owners: @mspang, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @yufengwangca, @bzbarsky-apple

Restyled by clang-format
  src/lib/support/Defer.h
  src/lib/support/tests/TestDefer.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Initial pybind11 Controller Wrapper
  .devcontainer/Dockerfile
  .gitmodules
  BUILD.gn
  build/config/compiler/BUILD.gn
  scripts/build_python.sh
  scripts/tools/zap_regen_all.py
  src/pybindings/Bnder_Code_Gen.md
  src/pybindings/pycontroller/BUILD.gn
  src/pybindings/pycontroller/ChipCaller/Caller.py
  src/pybindings/pycontroller/ChipCaller/__init__.py
  src/pybindings/pycontroller/ChipDeviceCtrl.py
  src/pybindings/pycontroller/ControllerBindings/PyChip_BLEManager.cpp
  src/pybindings/pycontroller/ControllerBindings/PyChip_ControllerDeviceCommissioner.cpp
  src/pybindings/pycontroller/ControllerBindings/PyChip_ControllerInitParams.cpp
  src/pybindings/pycontroller/ControllerBindings/PyChip_DeviceAddressUpdateDelegate.cpp
  src/pybindings/pycontroller/ControllerBindings/PyChip_Inet_IPAddress.cpp
  src/pybindings/pycontroller/ControllerBindings/PyChip_Logging.cpp
  src/pybindings/pycontroller/ControllerBindings/PyChip_MDNS.cpp
  src/pybindings/pycontroller/ControllerBindings/PyChip_Main.cpp
  src/pybindings/pycontroller/ControllerBindings/PyChip_Memory.cpp
  src/pybindings/pycontroller/ControllerBindings/PyChip_PlatFormManager.cpp
  src/pybindings/pycontroller/ControllerBindings/PyChip_Rendezvous.cpp
  src/pybindings/pycontroller/ControllerBindings/PyChip_SetupPayload.cpp
  src/pybindings/pycontroller/ControllerBindings/PyChip_TransportType.cpp
  src/pybindings/pycontroller/TestDeviceController.py
  src/pybindings/pycontroller/build-chip-wheel.py
  src/pybindings/pycontroller/chip-device-ctrl.py
  src/pybindings/pycontroller/chip-repl.py
  src/pybindings/pycontroller/clusters/CHIPClusters.cpp
  src/pybindings/pycontroller/clusters/CHIPClusters.py
  src/pybindings/pycontroller/clusters/__init__.py
  src/pybindings/pycontroller/create_error_wrapper.py
  src/pybindings/pycontroller/templates/helper.js
  src/pybindings/pycontroller/templates/python-CHIPClusters-cpp.zapt
  src/pybindings/pycontroller/templates/python-CHIPClusters-py.zapt
  src/pybindings/pycontroller/templates/templates.json
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @mspang
