Repository project-chip/connectedhomeip, changes with the owners that .github/CODEOWNERS names for each.
All owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @mspang, @pan-apple, @emargolis, @andy31415, @yufengwangca, @kghost, @bzbarksy-apple, @bzbarsky-apple, @gjc13, @damian-nordic, @erjiaqing, @shana-apple, @yunhanw-google, @vivien-apple, @erjianqing, @mrjerryjohns, @jrhees-cae, @rgoliver, @austinh0, @bukepo, @kpschoedel

.github/CODEOWNERS:

# Current reviewers-XXX teams, who review everything for approval.
* @reviewers-amazon @reviewers-apple @reviewers-comcast @reviewers-google @reviewers-nordic @reviewers-samsung @reviewers-silabs


# BUILD system

*.gn @mspang
/build/ @mspang
/scripts/build/ @mspang

# Crypto
# Crypto primitives and high level API, generally on top of mbedtls and openssl
/src/crypto/* @pan-apple @emargolis
/src/credentials/ @pan-apple @emargolis

# Transport
# Send and receive data abstracting away the underlying protocol (UDP, TCP, BLE)
/src/transport/ @andy31415 @pan-apple

# Session establishment
# Establish a secure session (encryption keys) from one node to another.
# Includes CASE and PASE + session tracking and resumptioon
/src/protocols/secure_channel/ @pan-apple

# Message Layer
# CRMP and packet headers, generally coupled with SecureSessionManager
/src/messaging @yufengwangca @kghost @bzbarksy-apple
/src/transport/raw/MessageHeader.* @yufengwangca @kghost @bzbarksy-apple

# SecureSessionManager
# Manages per-session encryption keys and new session establishment
/src/transport/SecureSessionMgr.* @pan-apple

# Exchange management
# Joins requests and responses or ties a series of messages belonging to the 
# same protocol interaction
/src/messaging/ @yufengwangca @bzbarsky-apple
/src/channel/ @yufengwangca @bzbarsky-apple

# DNS-SD discovery and advertisement
# Advertise chip devices for commisioning, operational and discover such devices
/src/lib/mdns/ @andy31415 @gjc13 @damian-nordic

# Commisioning controller/flow
# Example of a comisioning sequence
/src/controller/ @pan-apple @erjiaqing

# Operational credentials management
# Signing certificates, maintaining roots of trust, validation, fabric management
/src/controller/ @shana-apple @pan-apple
/src/transport/AdminPairingTable.* @shana-apple @pan-apple

# TLV encoding/decoding to/from byte buffers
/src/lib/core/CHIPTLV* @yunhanw-google @bzbarsky-apple @shana-apple

# Interaction model - ember implementation
# ZCL protocol implementation: ZCL encoding to be sent over the wire as a 
# ZigbeePro protocol implementation
/src/app/util/ @vivien-apple @erjianqing @bzbarsky-apple

# Interaction model - non-ember
# Protocol implementation for IM interactions between nodes, matching spec
/src/app/ @yunhanw-google @bzbarsky-apple @mrjerryjohns

# Interaction model - code generation
# CHIP-specific infrastructure for generating code: helper js methods, scripts
# and code layout
/src/app/zap-templates/ @vivien-apple @erjianqing

# ZAP suppport
# UI for editing XML, generates code from such ZML and configuration files
# NOT part of CHIP however CHIP relies heavily on ZAP.
#    @vivien-apple  @tecimovic

# 'Standard' cluster implementations (server side)
# Clusters shipped with the sdk, can be integrated as-is or used as a template
/src/app/clusters/ @vivien-apple

# Onboarding payload
# Parsing and generation of codes (includes QR and NFC), numeric pairing payload
/src/setup_payload/ @shana-apple @vivien-apple @jrhees-cae

# Device Layer
# Porting interfaces, scaffolding for building an example firmware
/src/platform/ @mspang @yufengwangca
/src/include/platform/ @mspang @yufengwangca

# Persistent storage
# Save state across reboots
/src/platform/*/KeyValueStore* @rgoliver

# Python bindings for CHIP - CLI
# Allows python code to use CHIP, generally targeted towards automation
/src/controller/python/ @andy31415 @erjianqing

# CHIP-tool C++ CLI
# Command line interface to chip as a client (controller and commisioner)
# Includes generated code for every base cluster
/examples/chip-tool/ @vivien-apple

# CHIP-tool iOS UI
/src/darwin/CHIPTool/ @shana-apple

# CHIP-tool Android
/src/android/CHIPTool/ @austinh0
/src/controller/java/ @austinh0

# End2End autogenerated tests
/src/darwin/Framework/Chip-templates/ @vivien-apple
/src/app/tests/suites/ @vivien-apple

# End2End cirque tests
# Simulate topology (cirque) and ptyhon-based test automation
/src/test_driver/linux/cirque/ @erjianqing @yunhanw-google

# Thread integration
# Thread-specific functionality (network provisioning, operational discovery, SRP registration etc.)
/src/platform/OpenThread/ @bukepo
/src/platform/*/ThreadStackmanagerImpl.* @bukepo

# Inet
# Networking abstraction layer (UDP-endpoint, TCP-endpoint, InetLayerBasis)
/src/inet/ @kpschoedel 

# System layer
/src/system/ @kpschoedel 

# BLE support
/src/ble/ @yunhanw-google

# CHIP Shell
# Command-line UART/stdin interface as a side-channel to CHIP accessories
# Aimed as user-friendly/manual control
/src/examples/shell/ @gjc13 @yufengwangca

# RPC
# Side-channlel command path (outside chip), generally for automation and debugging
# Aimed as "scriptable" when compared to shell
/examples/common/pigweed/ @rgoliver
/examples/pigweed-app/ @rgoliver

# Tooling for crypto manual generation
# Generates data for sample PKI
/src/tools/chip-cert/ @emargolis

# Channel API
# Construct a transport/secure session based on peer info and transport type.
# Focused on CASE session establishment
/src/channel/ @kghost

# Darwin framework
# Exposes a darwin API (Objective-C/swift rather than raw C++ API) for darwin
# applications
/src/darwin/Framework/ @shana-apple @vivien-apple @pan-apple

[android] Fix issues with sensor time series graph (#8933)
  src/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/clusterclient/SensorClientFragment.kt
  src/android/CHIPTool/app/src/main/res/layout/sensor_client_fragment.xml
  src/android/CHIPTool/app/src/main/res/values/strings.xml
Owners: @austinh0

Fix Linux and Android builds
  examples/platform/linux/AppMain.cpp
  src/controller/java/AndroidDeviceControllerWrapper.cpp
  src/controller/java/AndroidDeviceControllerWrapper.h
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @austinh0

Restyled by clang-format
  examples/platform/linux/AppMain.cpp
  src/controller/java/AndroidDeviceControllerWrapper.cpp
  src/controller/java/AndroidDeviceControllerWrapper.h
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @austinh0

Change TLV reader/writer init methods to take buffer size as size_t (#8951)
  src/credentials/CHIPCertFromX509.cpp
  src/lib/core/CHIPTLV.h
  src/lib/core/CHIPTLVReader.cpp
  src/lib/core/CHIPTLVWriter.cpp
Owners: @pan-apple, @emargolis, @yunhanw-google, @bzbarsky-apple, @shana-apple

Initialize Conmmissioner object with operational credentials
  examples/chip-tool/commands/common/Commands.cpp
  src/controller/CHIPDeviceController.cpp
  src/controller/CHIPDeviceController.h
  src/controller/ExampleOperationalCredentialsIssuer.cpp
  src/controller/ExampleOperationalCredentialsIssuer.h
  src/controller/python/ChipDeviceController-ScriptBinding.cpp
  src/controller/python/chip/internal/CommissionerImpl.cpp
  src/darwin/CHIPTool/CHIPTool/Framework Helpers/DefaultsUtils.m
  src/darwin/Framework/CHIP/CHIPDeviceController.h
  src/darwin/Framework/CHIP/CHIPDeviceController.mm
  src/darwin/Framework/CHIP/CHIPOperationalCredentialsDelegate.h
  src/darwin/Framework/CHIP/CHIPOperationalCredentialsDelegate.mm
  src/darwin/Framework/CHIP/templates/clusters-tests.zapt
  src/darwin/Framework/CHIPTests/CHIPClustersTests.m
  src/darwin/Framework/CHIPTests/CHIPControllerTests.m
Owners: @vivien-apple, @shana-apple, @pan-apple, @andy31415, @erjianqing

Fix Linux and Android builds
  examples/platform/linux/AppMain.cpp
  src/controller/java/AndroidDeviceControllerWrapper.cpp
  src/controller/java/AndroidDeviceControllerWrapper.h
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @austinh0

add ota-provider-app/linux to example linux workflows
  .github/workflows/examples-linux-standalone.yaml
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Add docker image to build with Tizen platform
  integrations/docker/images/chip-build-tizen/Dockerfile
  integrations/docker/images/chip-build-tizen/build.sh
  integrations/docker/images/chip-build-tizen/run.sh
  integrations/docker/images/chip-build-tizen/version
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Update chip-build-vscode image to import Tizen platform requirement
  integrations/docker/images/chip-build-vscode/Dockerfile
  integrations/docker/images/chip-build/version
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Run container with a non-root user
  integrations/docker/images/chip-build-tizen/Dockerfile
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Require KeyValueStoreManager and ServiceResolver in ChipDeviceController.java constructor
  src/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/CHIPToolActivity.kt
  src/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/ChipClient.kt
  src/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/bluetooth/BluetoothManager.kt
  src/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/clusterclient/OnOffClientFragment.kt
  src/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/clusterclient/SensorClientFragment.kt
  src/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/echoclient/EchoClientFragment.kt
  src/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/provisioning/DeviceProvisioningFragment.kt
  src/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/provisioning/EnterNetworkFragment.kt
  src/controller/java/CHIPDeviceController-JNI.cpp
  src/controller/java/src/chip/devicecontroller/ChipDeviceController.java
Owners: @austinh0

regen for missing files
  examples/ota-provider-app/ota-provider-common/gen/IMClusterCommandHandler.cpp
  examples/ota-provider-app/ota-provider-common/gen/endpoint_config.h
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

call out more specific deps
  examples/ota-provider-app/linux/BUILD.gn
  examples/ota-provider-app/ota-provider-common/BUILD.gn
Owners: @mspang

restyle
  examples/ota-provider-app/ota-provider-common/BUILD.gn
Owners: @mspang

[Darwin] - Remove some warnings
  src/app/MessageDef/WriteRequest.h
  src/app/ReadClient.h
  src/app/zap-templates/templates/app/callback.zapt
  src/credentials/CHIPCert.h
  src/crypto/CHIPCryptoPAL.h
  src/darwin/CHIPTool/CHIPTool/Framework Helpers/DefaultsUtils.m
  src/darwin/CHIPTool/CHIPTool/View Controllers/Fabric/FabricUIViewController.m
  src/darwin/CHIPTool/CHIPTool/View Controllers/QRCode/QRCodeViewController.m
Owners: @yunhanw-google, @bzbarsky-apple, @mrjerryjohns, @vivien-apple, @erjianqing, @pan-apple, @emargolis, @shana-apple

Update gen folders
  src/app/common/gen/callback.h
Owners: @yunhanw-google, @bzbarsky-apple, @mrjerryjohns

Add ways to init TLV readers and writers from spans and fixed-size arrays
  src/controller/ExampleOperationalCredentialsIssuer.cpp
  src/controller/java/AndroidDeviceControllerWrapper.cpp
  src/controller/python/chip/interaction_model/Delegate.cpp
  src/credentials/CHIPCertFromX509.cpp
  src/credentials/CHIPCertToX509.cpp
  src/darwin/Framework/CHIP/CHIPOperationalCredentialsDelegate.mm
  src/lib/core/CHIPTLV.h
  src/lib/core/tests/TestCHIPTLV.cpp
Owners: @shana-apple, @pan-apple, @austinh0, @andy31415, @erjianqing, @emargolis, @vivien-apple, @yunhanw-google, @bzbarsky-apple, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

address review comments
  examples/platform/linux/AppMain.cpp
  src/controller/CHIPDeviceController.h
  src/controller/ExampleOperationalCredentialsIssuer.cpp
  src/controller/ExampleOperationalCredentialsIssuer.h
  src/controller/java/AndroidDeviceControllerWrapper.cpp
  src/controller/java/AndroidDeviceControllerWrapper.h
  src/credentials/CHIPCert.h
  src/credentials/GenerateChipX509Cert.cpp
  src/credentials/tests/TestChipCert.cpp
  src/darwin/Framework/CHIP/CHIPOperationalCredentialsDelegate.mm
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @shana-apple, @pan-apple, @austinh0, @emargolis, @vivien-apple

Fix Watchable Event Manager Select crash on shutdown
  src/system/WatchableEventManagerSelect.cpp
Owners: @kpschoedel

fix Android build
  src/controller/java/AndroidDeviceControllerWrapper.cpp
Owners: @austinh0

add todo for chip-tool command
  examples/chip-tool/commands/common/Commands.cpp
Owners: @vivien-apple

more fixes to Android
  src/controller/java/AndroidDeviceControllerWrapper.cpp
Owners: @austinh0

Update Cirque script to use CMake to build ot-simulation
  scripts/tests/cirque_tests.sh
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Add Tizen docker image (#8850)
  integrations/docker/images/chip-build-tizen/Dockerfile
  integrations/docker/images/chip-build-tizen/build.sh
  integrations/docker/images/chip-build-tizen/run.sh
  integrations/docker/images/chip-build-tizen/version
  integrations/docker/images/chip-build-vscode/Dockerfile
  integrations/docker/images/chip-build/version
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Apply suggestions from code review
  src/app/zap-templates/zcl/data-model/chip/time-synchronization-cluster.xml
Owners: @vivien-apple, @erjianqing

[zephyr] Added random module seed initialization.
  src/platform/Zephyr/PlatformManagerImpl.cpp
Owners: @mspang, @yufengwangca

Resolving some of the issues from code review
  src/app/zap-templates/zcl/data-model/chip/time-synchronization-cluster.xml
Owners: @vivien-apple, @erjianqing

[Tests] - Add a new TestUtil interface for tests and expose WaitForMs
  examples/chip-tool/commands/tests/TestCommand.cpp
  examples/chip-tool/commands/tests/TestCommand.h
  examples/chip-tool/templates/partials/test_cluster.zapt
  examples/chip-tool/templates/tests-commands.zapt
  src/app/tests/suites/TestUtil.yaml
  src/app/zap-templates/common/ClusterTestGeneration.js
  src/app/zap-templates/common/ClusterTestUtil.js
  src/darwin/Framework/CHIP/templates/clusters-tests.zapt
  src/darwin/Framework/CHIP/templates/partials/test_cluster.zapt
Owners: @vivien-apple, @erjianqing, @shana-apple, @pan-apple

Update generated tests
  examples/chip-tool/commands/tests/Commands.h
  src/darwin/Framework/CHIPTests/CHIPClustersTests.m
Owners: @vivien-apple, @shana-apple, @pan-apple

Improve build mbed example workflow: - increase job timeout to 60min - add bootstrap and uploading bootstrap logs job's steps
  .github/workflows/examples-mbed.yaml
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Update PR per latest comments.
  examples/bridge-app/linux/main.cpp
  examples/tv-app/linux/include/application-basic/ApplicationBasicManager.cpp
  examples/tv-app/linux/include/wake-on-lan/WakeOnLanManager.cpp
  src/app/clusters/basic/basic.cpp
  src/lib/support/BUILD.gn
  src/lib/support/ZclString.cpp
  src/lib/support/tests/TestZclString.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @vivien-apple, @mspang

Restyled by whitespace
  src/lib/support/ZclString.cpp
  src/lib/support/ZclString.h
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Restyled by clang-format
  src/lib/support/ZclString.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

doc: group major guides in one directory
  README.md
  docs/guides/BUILDING.md
  docs/guides/android_chiptool_building.md
  docs/guides/images/CHIPTool_device_commissioned.jpg
  docs/guides/images/chip_nrfconnect_overview_simplified.svg
  docs/guides/images/nrfconnect_android_connectivity.svg
  docs/guides/nrfconnect_android_commissioning.md
  docs/guides/nrfconnect_examples_cli.md
  docs/guides/nrfconnect_examples_configuration.md
  docs/guides/nrfconnect_examples_software_update.md
  docs/guides/nrfconnect_platform_overview.md
  docs/guides/python_chip_controller_advanced_usage.md
  docs/guides/python_chip_controller_building.md
  src/android/CHIPTool/README.md
  src/controller/python/README.md
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @austinh0, @andy31415, @erjianqing

Updated CHIPCert APIs to Use ByteSpans
  src/controller/CHIPDeviceController.cpp
  src/controller/ExampleOperationalCredentialsIssuer.cpp
  src/controller/java/AndroidDeviceControllerWrapper.cpp
  src/credentials/CHIPCert.cpp
  src/credentials/CHIPCert.h
  src/credentials/CHIPCertFromX509.cpp
  src/credentials/CHIPCertToX509.cpp
  src/credentials/CHIPOperationalCredentials.cpp
  src/credentials/GenerateChipX509Cert.cpp
  src/credentials/tests/CHIPCert_test_vectors.cpp
  src/credentials/tests/TestChipCert.cpp
  src/credentials/tests/TestChipOperationalCredentials.cpp
  src/darwin/Framework/CHIP/CHIPOperationalCredentialsDelegate.mm
  src/protocols/secure_channel/CASESession.cpp
  src/protocols/secure_channel/tests/TestCASESession.cpp
  src/tools/chip-cert/CertUtils.cpp
  src/tools/chip-cert/Cmd_PrintCert.cpp
  src/tools/chip-cert/Cmd_ValidateCert.cpp
  src/tools/chip-cert/chip-cert.h
  src/transport/FabricTable.cpp
Owners: @shana-apple, @pan-apple, @austinh0, @emargolis, @vivien-apple, @andy31415

Restyled by prettier-markdown
  README.md
  docs/guides/BUILDING.md
  docs/guides/android_chiptool_building.md
  docs/guides/nrfconnect_android_commissioning.md
  docs/guides/nrfconnect_examples_cli.md
  docs/guides/nrfconnect_examples_software_update.md
  docs/guides/python_chip_controller_advanced_usage.md
  docs/guides/python_chip_controller_building.md
  src/android/CHIPTool/README.md
  src/controller/python/README.md
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @austinh0, @andy31415, @erjianqing

restyle
  scripts/build/builders/android.py
Owners: @mspang

Restyled by clang-format
  src/controller/java/AndroidDeviceControllerWrapper.cpp
  src/darwin/Framework/CHIP/CHIPOperationalCredentialsDelegate.mm
  src/tools/chip-cert/CertUtils.cpp
Owners: @austinh0, @shana-apple, @vivien-apple, @pan-apple, @emargolis

Updated to gradle 7.1
  .restyled.yaml
  src/android/CHIPTool/app/build.gradle
  src/android/CHIPTool/build.gradle
  src/android/CHIPTool/gradle/wrapper/gradle-wrapper.jar
  src/android/CHIPTool/gradle/wrapper/gradle-wrapper.properties
  src/android/CHIPTool/gradlew
  src/android/CHIPTool/gradlew.bat
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @austinh0

Color loop function implementation
  src/app/clusters/color-control-server/color-control-server.cpp
Owners: @vivien-apple
