Repository project-chip/connectedhomeip, changes with the owners that .github/CODEOWNERS names for each.
All owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @mspang, @pan-apple, @emargolis, @andy31415, @yufengwangca, @kghost, @bzbarksy-apple, @bzbarsky-apple, @gjc13, @damian-nordic, @erjiaqing, @shana-apple, @yunhanw-google, @vivien-apple, @erjianqing, @mrjerryjohns, @jrhees-cae, @rgoliver, @austinh0, @bukepo, @kpschoedel

.github/CODEOWNERS:

# Current reviewers-XXX teams, who review everything for approval.
* @reviewers-amazon @reviewers-apple @reviewers-comcast @reviewers-google @reviewers-nordic @reviewers-samsung @reviewers-silabs


# BUILD system

*.gn @mspang
/build/ @mspang
/scripts/build/ @mspang

# Crypto
# Crypto primitives and high level API, generally on top of mbedtls and openssl
/src/crypto/* @pan-apple @emargolis
/src/credentials/ @pan-apple @emargolis

# Transport
# Send and receive data abstracting away the underlying protocol (UDP, TCP, BLE)
/src/transport/ @andy31415 @pan-apple

# Session establishment
# Establish a secure session (encryption keys) from one node to another.
# Includes CASE and PASE + session tracking and resumptioon
/src/protocols/secure_channel/ @pan-apple

# Message Layer
# CRMP and packet headers, generally coupled with SecureSessionManager
/src/messaging @yufengwangca @kghost @bzbarksy-apple
/src/transport/raw/MessageHeader.* @yufengwangca @kghost @bzbarksy-apple

# SecureSessionManager
# Manages per-session encryption keys and new session establishment
/src/transport/SecureSessionMgr.* @pan-apple

# Exchange management
# Joins requests and responses or ties a series of messages belonging to the 
# same protocol interaction
/src/messaging/ @yufengwangca @bzbarsky-apple
/src/channel/ @yufengwangca @bzbarsky-apple

# DNS-SD discovery and advertisement
# Advertise chip devices for commisioning, operational and discover such devices
/src/lib/mdns/ @andy31415 @gjc13 @damian-nordic

# Commisioning controller/flow
# Example of a comisioning sequence
/src/controller/ @pan-apple @erjiaqing

# Operational credentials management
# Signing certificates, maintaining roots of trust, validation, fabric management
/src/controller/ @shana-apple @pan-apple
/src/transport/AdminPairingTable.* @shana-apple @pan-apple

# TLV encoding/decoding to/from byte buffers
/src/lib/core/CHIPTLV* @yunhanw-google @bzbarsky-apple @shana-apple

# Interaction model - ember implementation
# ZCL protocol implementation: ZCL encoding to be sent over the wire as a 
# ZigbeePro protocol implementation
/src/app/util/ @vivien-apple @erjianqing @bzbarsky-apple

# Interaction model - non-ember
# Protocol implementation for IM interactions between nodes, matching spec
/src/app/ @yunhanw-google @bzbarsky-apple @mrjerryjohns

# Interaction model - code generation
# CHIP-specific infrastructure for generating code: helper js methods, scripts
# and code layout
/src/app/zap-templates/ @vivien-apple @erjianqing

# ZAP suppport
# UI for editing XML, generates code from such ZML and configuration files
# NOT part of CHIP however CHIP relies heavily on ZAP.
#    @vivien-apple  @tecimovic

# 'Standard' cluster implementations (server side)
# Clusters shipped with the sdk, can be integrated as-is or used as a template
/src/app/clusters/ @vivien-apple

# Onboarding payload
# Parsing and generation of codes (includes QR and NFC), numeric pairing payload
/src/setup_payload/ @shana-apple @vivien-apple @jrhees-cae

# Device Layer
# Porting interfaces, scaffolding for building an example firmware
/src/platform/ @mspang @yufengwangca
/src/include/platform/ @mspang @yufengwangca

# Persistent storage
# Save state across reboots
/src/platform/*/KeyValueStore* @rgoliver

# Python bindings for CHIP - CLI
# Allows python code to use CHIP, generally targeted towards automation
/src/controller/python/ @andy31415 @erjianqing

# CHIP-tool C++ CLI
# Command line interface to chip as a client (controller and commisioner)
# Includes generated code for every base cluster
/examples/chip-tool/ @vivien-apple

# CHIP-tool iOS UI
/src/darwin/CHIPTool/ @shana-apple

# CHIP-tool Android
/src/android/CHIPTool/ @austinh0
/src/controller/java/ @austinh0

# End2End autogenerated tests
/src/darwin/Framework/Chip-templates/ @vivien-apple
/src/app/tests/suites/ @vivien-apple

# End2End cirque tests
# Simulate topology (cirque) and ptyhon-based test automation
/src/test_driver/linux/cirque/ @erjianqing @yunhanw-google

# Thread integration
# Thread-specific functionality (network provisioning, operational discovery, SRP registration etc.)
/src/platform/OpenThread/ @bukepo
/src/platform/*/ThreadStackmanagerImpl.* @bukepo

# Inet
# Networking abstraction layer (UDP-endpoint, TCP-endpoint, InetLayerBasis)
/src/inet/ @kpschoedel 

# System layer
/src/system/ @kpschoedel 

# BLE support
/src/ble/ @yunhanw-google

# CHIP Shell
# Command-line UART/stdin interface as a side-channel to CHIP accessories
# Aimed as user-friendly/manual control
/src/examples/shell/ @gjc13 @yufengwangca

# RPC
# Side-channlel command path (outside chip), generally for automation and debugging
# Aimed as "scriptable" when compared to shell
/examples/common/pigweed/ @rgoliver
/examples/pigweed-app/ @rgoliver

# Tooling for crypto manual generation
# Generates data for sample PKI
/src/tools/chip-cert/ @emargolis

# Channel API
# Construct a transport/secure session based on peer info and transport type.
# Focused on CASE session establishment
/src/channel/ @kghost

# Darwin framework
# Exposes a darwin API (Objective-C/swift rather than raw C++ API) for darwin
# applications
/src/darwin/Framework/ @shana-apple @vivien-apple @pan-apple

Fix Darwin test failures
  src/darwin/Framework/CHIP/templates/helper.js
  src/darwin/Framework/CHIPTests/CHIPClustersTests.m
Owners: @shana-apple, @vivien-apple, @pan-apple

address review comments
  src/app/clusters/administrator-commissioning-server/administrator-commissioning-server.cpp
  src/controller/CHIPDevice.cpp
  src/protocols/secure_channel/PASESession.cpp
  src/protocols/secure_channel/PASESession.h
  src/protocols/secure_channel/RendezvousParameters.h
Owners: @vivien-apple, @shana-apple, @pan-apple

fix Darwin build
  src/darwin/Framework/CHIP/CHIPDevice.mm
Owners: @shana-apple, @vivien-apple, @pan-apple

update lock app build file
  examples/lock-app/esp32/main/CMakeLists.txt
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

implement cluster logic
  examples/all-clusters-app/esp32/main/main.cpp
  src/app/clusters/administrator-commissioning-server/administrator-commissioning-server.cpp
  src/app/server/RendezvousServer.cpp
  src/app/server/RendezvousServer.h
  src/app/server/Server.cpp
  src/app/server/Server.h
  src/controller/CHIPDevice.cpp
  src/controller/CHIPDevice.h
  src/protocols/secure_channel/PASESession.cpp
  src/protocols/secure_channel/PASESession.h
  src/protocols/secure_channel/tests/TestPASESession.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @vivien-apple, @yunhanw-google, @bzbarsky-apple, @mrjerryjohns, @shana-apple, @pan-apple

Address review comments
  src/app/server/RendezvousServer.cpp
  src/app/server/Server.cpp
  src/controller/CHIPDevice.cpp
Owners: @yunhanw-google, @bzbarsky-apple, @mrjerryjohns, @shana-apple, @pan-apple

brute force server swap.
  src/lib/mdns/Advertiser_ImplMinimalMdns.cpp
  src/lib/mdns/MinimalMdnsServer.h
  src/lib/mdns/minimal/ResponseSender.h
  src/lib/mdns/minimal/tests/BUILD.gn
  src/lib/mdns/minimal/tests/TestAdvertiser.cpp
Owners: @andy31415, @gjc13, @damian-nordic

fix BasicAttributeFilter and PrepareTLVList generation
  src/app/zap-templates/templates/app/CHIPClientCallbacks-src.zapt
  src/app/zap-templates/templates/app/CHIPClientCallbacks.zapt
  src/app/zap-templates/templates/app/CHIPClusters-src.zapt
  src/app/zap-templates/templates/chip/helper.js
  src/controller/BasicAttributeFilter.h
  src/controller/CHIPDeviceController.h
Owners: @vivien-apple, @erjianqing, @shana-apple, @pan-apple

[cirque] Add echo over TCP test for messaging layer
  scripts/tests/cirque_tests.sh
  src/test_driver/linux-cirque/EchoOverTcpTest.py
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Add Compressed Fabric ID crypto primitive
  src/crypto/CHIPCryptoPAL.cpp
  src/crypto/CHIPCryptoPAL.h
  src/crypto/CHIPCryptoPALOpenSSL.cpp
  src/crypto/CHIPCryptoPALmbedTLS.cpp
  src/crypto/tests/CHIPCryptoPALTest.cpp
Owners: @pan-apple, @emargolis, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Restyled by clang-format
  src/crypto/CHIPCryptoPAL.cpp
  src/crypto/CHIPCryptoPAL.h
  src/crypto/tests/CHIPCryptoPALTest.cpp
Owners: @pan-apple, @emargolis, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

[cloudbuild] Add compress flag to compress built artifacts
  integrations/cloudbuild/build-all.yaml
  scripts/build/build/__init__.py
  scripts/build/build_examples.py
  scripts/build/builders/builder.py
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @mspang

Remove warnings false check for compile
  config/p6/toolchain/BUILD.gn
  examples/lock-app/p6/BUILD.gn
  examples/lock-app/p6/src/AppTask.cpp
  examples/lock-app/p6/src/main.cpp
  src/lwip/p6/lwipopts.h
  src/platform/P6/args.gni
  third_party/p6/p6_sdk/Makefile
Owners: @mspang, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @yufengwangca

Add all Infineon assets as gitsubmodules
  .gitmodules
  third_party/p6/p6_sdk/build/CY8CKIT-062S2-43012/Debug/GCC_ARM.json
  third_party/p6/p6_sdk/deps/TARGET_CY8CKIT-062S2-43012.mtb
  third_party/p6/p6_sdk/deps/TARGET_CY8CPROTO-062-4343W.mtb
  third_party/p6/p6_sdk/deps/abstraction-rtos.mtb
  third_party/p6/p6_sdk/deps/aws-iot-device-sdk-embedded-C.mtb
  third_party/p6/p6_sdk/deps/bluetooth-freertos.mtb
  third_party/p6/p6_sdk/deps/btstack.mtb
  third_party/p6/p6_sdk/deps/capsense.mtb
  third_party/p6/p6_sdk/deps/clib-support.mtb
  third_party/p6/p6_sdk/deps/connectivity-utilities.mtb
  third_party/p6/p6_sdk/deps/core-lib.mtb
  third_party/p6/p6_sdk/deps/core-make.mtb
  third_party/p6/p6_sdk/deps/freertos.mtb
  third_party/p6/p6_sdk/deps/kv-store.mtb
  third_party/p6/p6_sdk/deps/mbedtls.mtb
  third_party/p6/p6_sdk/deps/mqtt.mtb
  third_party/p6/p6_sdk/deps/mtb-hal-cat1.mtb
  third_party/p6/p6_sdk/deps/mtb-pdl-cat1.mtb
  third_party/p6/p6_sdk/deps/psoc6cm0p.mtb
  third_party/p6/p6_sdk/deps/recipe-make-cat1a.mtb
  third_party/p6/p6_sdk/deps/retarget-io.mtb
  third_party/p6/p6_sdk/deps/secure-sockets.mtb
  third_party/p6/p6_sdk/deps/whd-bsp-integration.mtb
  third_party/p6/p6_sdk/deps/wifi-connection-manager.mtb
  third_party/p6/p6_sdk/deps/wifi-host-driver.mtb
  third_party/p6/p6_sdk/deps/wifi-mw-core.mtb
  third_party/p6/p6_sdk/make_gni.py
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Update script to remove sudo and cleanup folder names
  integrations/docker/images/chip-build-infineon/Dockerfile
  scripts/examples/gn_p6_example.sh
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Update README.md with dockerfile link for software download
  examples/lock-app/p6/README.md
  src/platform/P6/CHIPDevicePlatformConfig.h
  src/platform/P6/ConfigurationManagerImpl.cpp
  src/platform/P6/InetPlatformConfig.h
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @mspang, @yufengwangca

Update Code changes to support new Clock modifications
  build_overrides/p6.gni
  config/p6/toolchain/BUILD.gn
  examples/lock-app/p6/.gn
  examples/lock-app/p6/args.gni
  examples/lock-app/p6/src/main.cpp
  examples/platform/p6/BUILD.gn
  examples/platform/p6/LEDWidget.cpp
  scripts/flashing/p6_firmware_utils.py
  src/lwip/p6/arch/cc.h
  src/lwip/p6/arch/perf.h
  src/lwip/p6/lwipopts.h
  src/lwip/p6/lwippools.h
  src/platform/P6/ConnectivityManagerImpl.cpp
  src/platform/P6/args.gni
  third_party/p6/BUILD.gn
  third_party/p6/p6_arm.gni
  third_party/p6/p6_board.gni
  third_party/p6/p6_executable.gni
  third_party/p6/p6_sdk.gni
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @mspang, @yufengwangca

Restyled by prettier-json
  third_party/p6/p6_sdk/build/CY8CKIT-062S2-43012/Debug/GCC_ARM.json
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

add thermostat user interface configuration claster to controller-clusters.zap
  src/controller/data_model/controller-clusters.zap
Owners: @shana-apple, @pan-apple

add thermostat user interface configuration cluster to zap_cluster_list.py
  src/app/zap_cluster_list.py
Owners: @yunhanw-google, @bzbarsky-apple, @mrjerryjohns

add thermostat user interface configuration cluster to all-clusters-app
  examples/all-clusters-app/all-clusters-common/all-clusters-app.zap
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

regen all
  examples/all-clusters-app/all-clusters-common/gen/callback-stub.cpp
  examples/all-clusters-app/all-clusters-common/gen/endpoint_config.h
  examples/all-clusters-app/all-clusters-common/gen/gen_config.h
  examples/chip-tool/commands/clusters/Commands.h
  src/controller/data_model/gen/CHIPClusters.cpp
  src/controller/data_model/gen/CHIPClusters.h
  src/controller/data_model/gen/callback-stub.cpp
  src/controller/data_model/gen/endpoint_config.h
  src/controller/data_model/gen/gen_config.h
  src/controller/java/gen/CHIPClusters-JNI.cpp
  src/controller/java/gen/ChipClusters.java
  src/controller/python/chip/clusters/CHIPClusters.cpp
  src/controller/python/chip/clusters/CHIPClusters.py
  src/darwin/Framework/CHIP/gen/CHIPClustersObjc.h
  src/darwin/Framework/CHIP/gen/CHIPClustersObjc.mm
  src/darwin/Framework/CHIPTests/CHIPClustersTests.m
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @vivien-apple, @shana-apple, @pan-apple, @austinh0, @andy31415, @erjianqing

Restyled by prettier-yaml
  integrations/cloudbuild/build-all.yaml
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Remove server/client prefixes before commands/responses iterators inside chip_server_clusters/chip_client_clusters blocks
  examples/chip-tool/templates/commands.zapt
  examples/chip-tool/templates/reporting-commands.zapt
  src/app/zap-templates/common/ClustersHelper.js
  src/app/zap-templates/partials/cluster_header.zapt
  src/app/zap-templates/templates/app/CHIPClientCallbacks-src.zapt
  src/app/zap-templates/templates/app/CHIPClientCallbacks.zapt
  src/app/zap-templates/templates/app/CHIPClusters-src.zapt
  src/app/zap-templates/templates/app/CHIPClusters.zapt
  src/app/zap-templates/templates/chip/helper.js
  src/controller/data_model/controller-clusters.zap
  src/controller/java/templates/CHIPClusters-JNI.zapt
  src/controller/java/templates/ChipClusters-java.zapt
  src/controller/python/templates/python-CHIPClusters-cpp.zapt
  src/controller/python/templates/python-CHIPClusters-py.zapt
  src/darwin/Framework/CHIP/templates/CHIPClustersObjc-src.zapt
  src/darwin/Framework/CHIP/templates/CHIPClustersObjc.zapt
Owners: @vivien-apple, @erjianqing, @shana-apple, @pan-apple, @austinh0, @andy31415

Update cluster revision and feature map definition to be closer to the spec
  examples/all-clusters-app/all-clusters-common/all-clusters-app.zap
  examples/bridge-app/bridge-common/bridge-app.zap
  examples/lighting-app/lighting-common/lighting-app.zap
  examples/lock-app/lock-common/lock-app.zap
  examples/pump-app/pump-common/pump-app.zap
  examples/pump-controller-app/pump-controller-common/pump-controller-app.zap
  examples/temperature-measurement-app/esp32/main/temperature-measurement.zap
  examples/thermostat/thermostat-common/thermostat.zap
  examples/tv-app/tv-common/tv-app.zap
  examples/window-app/common/window-app.zap
  src/app/tests/suites/certification/Test_TC_BI_1_1.yaml
  src/app/tests/suites/certification/Test_TC_OO_1_1.yaml
  src/app/tests/suites/certification/Test_TC_WNCV_1_1.yaml
  src/app/zap-templates/zcl/data-model/chip/global-attributes.xml
  src/app/zap-templates/zcl/data-model/silabs/general.xml
  src/app/zap-templates/zcl/zcl.json
  src/controller/data_model/controller-clusters.zap
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @vivien-apple, @erjianqing, @shana-apple, @pan-apple

Update gen/ folders
  examples/all-clusters-app/all-clusters-common/gen/endpoint_config.h
  examples/bridge-app/bridge-common/gen/endpoint_config.h
  examples/lighting-app/lighting-common/gen/endpoint_config.h
  examples/lock-app/lock-common/gen/endpoint_config.h
  examples/pump-app/pump-common/gen/endpoint_config.h
  examples/pump-controller-app/pump-controller-common/gen/endpoint_config.h
  examples/temperature-measurement-app/esp32/main/gen/endpoint_config.h
  examples/thermostat/thermostat-common/gen/endpoint_config.h
  examples/tv-app/tv-common/gen/endpoint_config.h
  examples/window-app/common/gen/endpoint_config.h
  src/controller/data_model/gen/endpoint_config.h
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @shana-apple, @pan-apple

Move some macros to CHIPConfig.h
  src/app/InteractionModelEngine.cpp
  src/app/InteractionModelEngine.h
  src/app/reporting/Engine.cpp
  src/lib/core/CHIPConfig.h
Owners: @yunhanw-google, @bzbarsky-apple, @mrjerryjohns, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Tests - Update the yaml parser to be stricter regarding response configuration
  src/app/tests/suites/TV_ApplicationBasicCluster.yaml
  src/app/tests/suites/certification/Test_TC_CC_3_4.yaml
  src/app/tests/suites/certification/Test_TC_CC_5.yaml
  src/app/tests/suites/certification/Test_TC_CC_6.yaml
  src/app/tests/suites/certification/Test_TC_CC_7.yaml
  src/app/zap-templates/common/ClusterTestGeneration.js
Owners: @vivien-apple, @erjianqing

Update generated tests
  examples/chip-tool/commands/tests/Commands.h
  src/darwin/Framework/CHIPTests/CHIPClustersTests.m
Owners: @vivien-apple, @shana-apple, @pan-apple

Fix clamp calls; adjust Yxy to RGB formula
  examples/lighting-app/lighting-common/color_format/color_format.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Add Compressed Fabric ID crypto primitive
  src/crypto/CHIPCryptoPAL.cpp
  src/crypto/CHIPCryptoPAL.h
  src/crypto/CHIPCryptoPALOpenSSL.cpp
  src/crypto/CHIPCryptoPALmbedTLS.cpp
  src/crypto/tests/CHIPCryptoPALTest.cpp
Owners: @pan-apple, @emargolis, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Restyled by clang-format
  src/crypto/CHIPCryptoPAL.cpp
  src/crypto/CHIPCryptoPAL.h
  src/crypto/tests/CHIPCryptoPALTest.cpp
Owners: @pan-apple, @emargolis, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Add better documentation for ScheduleWork/PostEvent. (#8740)
  src/controller/python/ChipDeviceController-ScriptBinding.cpp
  src/include/platform/PlatformManager.h
Owners: @andy31415, @erjianqing, @mspang, @yufengwangca

Add color control to qpg lighting example (#8505)
  examples/lighting-app/lighting-common/color_format/color_format.cpp
  examples/lighting-app/lighting-common/color_format/color_format.h
  examples/lighting-app/qpg/BUILD.gn
  examples/lighting-app/qpg/include/LightingManager.h
  examples/lighting-app/qpg/src/LightingManager.cpp
  examples/lighting-app/qpg/src/ZclCallbacks.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @mspang

readme update to correct the func of press SW2 on K32W061 (#8760)
  examples/lighting-app/k32w/README.md
  examples/lock-app/k32w/README.md
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Move some macros to CHIPConfig.h (#8780)
  src/app/InteractionModelEngine.cpp
  src/app/InteractionModelEngine.h
  src/app/reporting/Engine.cpp
  src/lib/core/CHIPConfig.h
Owners: @yunhanw-google, @bzbarsky-apple, @mrjerryjohns, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Restyled by gn
  src/lib/mdns/minimal/tests/BUILD.gn
Owners: @andy31415, @gjc13, @damian-nordic

Restyled by gn
  src/lib/mdns/minimal/tests/BUILD.gn
Owners: @andy31415, @gjc13, @damian-nordic

Add assertions for bit fields
  src/lib/core/CHIPError.h
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Rebase and regen to fix ZAP/Android after #8680
  examples/all-clusters-app/all-clusters-common/gen/IMClusterCommandHandler.cpp
  examples/bridge-app/bridge-common/gen/IMClusterCommandHandler.cpp
  examples/lighting-app/lighting-common/gen/IMClusterCommandHandler.cpp
  examples/lock-app/lock-common/gen/IMClusterCommandHandler.cpp
  examples/pump-app/pump-common/gen/IMClusterCommandHandler.cpp
  examples/pump-controller-app/pump-controller-common/gen/IMClusterCommandHandler.cpp
  examples/temperature-measurement-app/esp32/main/gen/IMClusterCommandHandler.cpp
  examples/thermostat/thermostat-common/gen/IMClusterCommandHandler.cpp
  examples/tv-app/tv-common/gen/IMClusterCommandHandler.cpp
  examples/window-app/common/gen/IMClusterCommandHandler.cpp
  src/controller/java/gen/CHIPClusters-JNI.cpp
  src/controller/python/chip/clusters/CHIPClusters.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @austinh0, @andy31415, @erjianqing
