Repository project-chip/connectedhomeip, changes with the owners that .github/CODEOWNERS names for each.
All owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @mspang, @pan-apple, @emargolis, @andy31415, @yufengwangca, @kghost, @bzbarksy-apple, @bzbarsky-apple, @gjc13, @damian-nordic, @erjiaqing, @shana-apple, @yunhanw-google, @vivien-apple, @erjianqing, @mrjerryjohns, @jrhees-cae, @rgoliver, @austinh0, @bukepo, @kpschoedel

Temporary fix mbed flashing timeout issue
  scripts/tests/mbed/common.sh
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Fix mbedflsh result service
  scripts/tests/mbed/common.sh
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Change flashing tool to mbedflsh
  scripts/tests/mbed/common.sh
  scripts/tests/mbed/integration_test_env.sh
  scripts/tests/mbed/lava_integration_tests.yml
  scripts/tests/mbed/lava_unit_tests.yml
  scripts/tests/mbed/unit_test_env.sh
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Fix scripts dir and lava template name
  .github/workflows/run-unit-test-mbed.yaml
  scripts/tests/mbed/lava_integration_tests.yml
  scripts/tests/mbed/lava_unit_tests.yml
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Fix unittest pytest script - reset device before testing
  src/test_driver/mbed/unit_tests/pytest/test_unittests.py
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Add step for getting las succesfull run id from 'build_cr.yaml'
  .github/workflows/run-integration-test-mbed.yaml
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Improve integration test logs passing
  .github/workflows/run-integration-test-mbed.yaml
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Add verification step to sync_test.yaml
  .github/workflows/sync_test.yaml
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Trigger workflow action for testing
  .github/workflows/run-integration-test-mbed.yaml
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Improve varaibles names for unit and integration testing Create draft for integration tests with chip-tools artifacts
  .github/workflows/run-integration-test-mbed.yaml
  .github/workflows/run-unit-test-mbed.yaml
  scripts/tests/mbed/integration_test_env.sh
  scripts/tests/mbed/lava_integration_tests.yml
  scripts/tests/mbed/lava_unit_tests.yml
  scripts/tests/mbed/run_integration_tests.sh
  scripts/tests/mbed/run_unit_tests.sh
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Fix typo in download_artifacts_by_name_gh funcion |common.sh|
  scripts/tests/mbed/common.sh
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Add CI for disabling detail logging. (#8171)
  .github/workflows/build.yaml
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Add CI for disabling progress logging.
  .github/workflows/build.yaml
  examples/bridge-app/linux/main.cpp
  src/app/zap-templates/templates/app/CHIPClientCallbacks-src.zapt
  src/app/zap-templates/templates/app/im-cluster-command-handler.zapt
  src/lib/support/PrivateHeap.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @vivien-apple, @erjianqing

Regenerate generated files
  examples/all-clusters-app/all-clusters-common/gen/IMClusterCommandHandler.cpp
  examples/bridge-app/bridge-common/gen/IMClusterCommandHandler.cpp
  examples/lighting-app/lighting-common/gen/IMClusterCommandHandler.cpp
  examples/lock-app/lock-common/gen/IMClusterCommandHandler.cpp
  examples/pump-app/pump-common/gen/CHIPClientCallbacks.cpp
  examples/pump-app/pump-common/gen/IMClusterCommandHandler.cpp
  examples/pump-controller-app/pump-controller-common/gen/CHIPClientCallbacks.cpp
  examples/pump-controller-app/pump-controller-common/gen/IMClusterCommandHandler.cpp
  examples/temperature-measurement-app/esp32/main/gen/IMClusterCommandHandler.cpp
  examples/tv-app/tv-common/gen/IMClusterCommandHandler.cpp
  examples/window-app/common/gen/IMClusterCommandHandler.cpp
  src/controller/data_model/gen/CHIPClientCallbacks.cpp
  src/controller/data_model/gen/IMClusterCommandHandler.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @shana-apple, @pan-apple

Apply suggestions from code review
  src/lib/support/Defer.h
  src/lib/support/tests/TestDefer.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Resolve comments
  src/messaging/ExchangeHandle.cpp
  src/messaging/ExchangeHandle.h
Owners: @yufengwangca, @bzbarsky-apple

Add Defer unit-tests
  src/lib/support/Defer.h
  src/lib/support/tests/BUILD.gn
  src/lib/support/tests/TestDefer.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @mspang

Remove goto exit in messaging layer
  src/lib/support/BUILD.gn
  src/lib/support/Defer.h
  src/messaging/BUILD.gn
  src/messaging/ExchangeContext.cpp
  src/messaging/ExchangeHandle.cpp
  src/messaging/ExchangeHandle.h
  src/messaging/ExchangeMgr.cpp
  src/messaging/ReliableMessageContext.cpp
  src/messaging/ReliableMessageMgr.cpp
Owners: @mspang, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @yufengwangca, @bzbarsky-apple

ESP32C3 Support: use onboard RGB-LED(WS2812) for status-LED in all-clusters-app add colorcontrol cluster for ESP32C3_DevkitM
  examples/all-clusters-app/esp32/CMakeLists.txt
  examples/all-clusters-app/esp32/README.md
  examples/all-clusters-app/esp32/main/CMakeLists.txt
  examples/all-clusters-app/esp32/main/DeviceCallbacks.cpp
  examples/all-clusters-app/esp32/main/Kconfig.projbuild
  examples/all-clusters-app/esp32/main/LEDWidget.cpp
  examples/all-clusters-app/esp32/main/include/DeviceCallbacks.h
  examples/all-clusters-app/esp32/main/include/LEDWidget.h
  examples/all-clusters-app/esp32/main/main.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Restyled by clang-format
  examples/all-clusters-app/esp32/main/DeviceCallbacks.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Restyled by prettier-markdown
  examples/all-clusters-app/esp32/README.md
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Resolve comments
  src/messaging/ExchangeContext.cpp
  src/messaging/ReliableMessageMgr.cpp
Owners: @yufengwangca, @bzbarsky-apple

Restyled by clang-format
  src/messaging/ExchangeContext.cpp
Owners: @yufengwangca, @bzbarsky-apple

ESP32C3 Support: use onboard RGB-LED(WS2812) for status-LED in all-clusters-app add colorcontrol cluster for ESP32C3_DevkitM
  examples/all-clusters-app/esp32/CMakeLists.txt
  examples/all-clusters-app/esp32/README.md
  examples/all-clusters-app/esp32/main/CMakeLists.txt
  examples/all-clusters-app/esp32/main/DeviceCallbacks.cpp
  examples/all-clusters-app/esp32/main/Kconfig.projbuild
  examples/all-clusters-app/esp32/main/LEDWidget.cpp
  examples/all-clusters-app/esp32/main/include/DeviceCallbacks.h
  examples/all-clusters-app/esp32/main/include/LEDWidget.h
  examples/all-clusters-app/esp32/main/main.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Resolve comments
  src/messaging/ExchangeContext.cpp
  src/messaging/ReliableMessageMgr.cpp
Owners: @yufengwangca, @bzbarsky-apple

[Linux] Add an ability to configure KVS path * Defined default KVS path
  src/app/server/Server.cpp
  src/platform/Linux/CHIPPlatformConfig.h
Owners: @yunhanw-google, @bzbarsky-apple, @mrjerryjohns, @mspang, @yufengwangca

[nrfconnect] Update nRF Connect version
  config/nrfconnect/.nrfconnect-recommended-revision
  config/nrfconnect/chip-module/CMakeLists.txt
  integrations/docker/images/chip-build-nrf-platform/Dockerfile
  integrations/docker/images/chip-build/version
  src/platform/OpenThread/OpenThreadUtils.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @bukepo

Increasing the Stack size on platform level instead of globally
  src/include/platform/CHIPDeviceConfig.h
  src/platform/cc13x2_26x2/CHIPDevicePlatformConfig.h
Owners: @mspang, @yufengwangca

Restyled by clang-format
  src/platform/OpenThread/OpenThreadUtils.cpp
Owners: @bukepo

[workflows] Use shallow git clone in workflows (#8166)
  .github/workflows/examples-efr32.yaml
  .github/workflows/examples-esp32.yaml
  .github/workflows/examples-k32w.yaml
  .github/workflows/examples-linux-standalone.yaml
  .github/workflows/examples-mbed.yaml
  .github/workflows/examples-nrfconnect.yaml
  .github/workflows/examples-qpg.yaml
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Increase reusable steps of docker build
  src/controller/python/test/Dockerfile
Owners: @andy31415, @erjianqing

Fix shell integration test - retry scan WiFi
  src/test_driver/mbed/integration_tests/common/fixtures.py
  src/test_driver/mbed/integration_tests/common/utils.py
  src/test_driver/mbed/integration_tests/shell/test_device.py
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

chip-tool: do not hardcode Thread network id
  examples/chip-tool/commands/pairing/PairingCommand.cpp
  examples/chip-tool/commands/pairing/PairingCommand.h
Owners: @vivien-apple

Mark network tests as expected to fail
  src/test_driver/mbed/integration_tests/shell/test_device.py
  src/test_driver/mbed/integration_tests/shell/test_network.py
  src/test_driver/mbed/integration_tests/shell/test_server.py
  src/test_driver/mbed/integration_tests/shell/test_socket.py
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

ESP32: Fix lock-app protos
  examples/lock-app/esp32/main/Rpc.cpp
  examples/lock-app/esp32/main/locking_service.proto
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Window Covering cluster: ZAP configuration updated.
  examples/window-app/common/gen/endpoint_config.h
  examples/window-app/common/window-app.zap
  src/controller/data_model/controller-clusters.zap
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @shana-apple, @pan-apple

CI build fixes
  examples/platform/linux/AppMain.cpp
  examples/platform/linux/BUILD.gn
  examples/platform/linux/CommissioneeShellCommands.cpp
  examples/platform/linux/CommissioneeShellCommands.h
  examples/platform/linux/ControllerShellCommands.cpp
  examples/platform/linux/ControllerShellCommands.h
  src/app/server/Server.cpp
  src/app/server/Server.h
  src/controller/BUILD.gn
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @mspang, @yunhanw-google, @bzbarsky-apple, @mrjerryjohns, @shana-apple, @pan-apple

using p256 key from HSM for CASE (#8217)
  src/credentials/CHIPOperationalCredentials.h
  src/protocols/secure_channel/CASESession.h
Owners: @pan-apple, @emargolis

Code review comments
  scripts/build/README.md
  scripts/build/build/factory.py
Owners: @mspang

Zap use chip::ErrorStr into the BasicFilter template of CHIPClientCallbacks.h (#8213)
  examples/pump-app/pump-common/gen/CHIPClientCallbacks.h
  examples/pump-controller-app/pump-controller-common/gen/CHIPClientCallbacks.h
  src/app/zap-templates/templates/app/CHIPClientCallbacks.zapt
  src/controller/data_model/gen/CHIPClientCallbacks.h
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @vivien-apple, @erjianqing, @shana-apple, @pan-apple

.github/CODEOWNERS:

# Current reviewers-XXX teams, who review everything for approval.
* @reviewers-amazon @reviewers-apple @reviewers-comcast @reviewers-google @reviewers-nordic @reviewers-samsung @reviewers-silabs


# BUILD system

*.gn @mspang
/build/ @mspang
/scripts/build/ @mspang

# Crypto
# Crypto primitives and high level API, generally on top of mbedtls and openssl
/src/crypto/* @pan-apple @emargolis
/src/credentials/ @pan-apple @emargolis

# Transport
# Send and receive data abstracting away the underlying protocol (UDP, TCP, BLE)
/src/transport/ @andy31415 @pan-apple

# Session establishment
# Establish a secure session (encryption keys) from one node to another.
# Includes CASE and PASE + session tracking and resumptioon
/src/protocols/secure_channel/ @pan-apple

# Message Layer
# CRMP and packet headers, generally coupled with SecureSessionManager
/src/messaging @yufengwangca @kghost @bzbarksy-apple
/src/transport/raw/MessageHeader.* @yufengwangca @kghost @bzbarksy-apple

# SecureSessionManager
# Manages per-session encryption keys and new session establishment
/src/transport/SecureSessionMgr.* @pan-apple

# Exchange management
# Joins requests and responses or ties a series of messages belonging to the 
# same protocol interaction
/src/messaging/ @yufengwangca @bzbarsky-apple
/src/channel/ @yufengwangca @bzbarsky-apple

# DNS-SD discovery and advertisement
# Advertise chip devices for commisioning, operational and discover such devices
/src/lib/mdns/ @andy31415 @gjc13 @damian-nordic

# Commisioning controller/flow
# Example of a comisioning sequence
/src/controller/ @pan-apple @erjiaqing

# Operational credentials management
# Signing certificates, maintaining roots of trust, validation, fabric management
/src/controller/ @shana-apple @pan-apple
/src/transport/AdminPairingTable.* @shana-apple @pan-apple

# TLV encoding/decoding to/from byte buffers
/src/lib/core/CHIPTLV* @yunhanw-google @bzbarsky-apple @shana-apple

# Interaction model - ember implementation
# ZCL protocol implementation: ZCL encoding to be sent over the wire as a 
# ZigbeePro protocol implementation
/src/app/util/ @vivien-apple @erjianqing @bzbarsky-apple

# Interaction model - non-ember
# Protocol implementation for IM interactions between nodes, matching spec
/src/app/ @yunhanw-google @bzbarsky-apple @mrjerryjohns

# Interaction model - code generation
# CHIP-specific infrastructure for generating code: helper js methods, scripts
# and code layout
/src/app/zap-templates/ @vivien-apple @erjianqing

# ZAP suppport
# UI for editing XML, generates code from such ZML and configuration files
# NOT part of CHIP however CHIP relies heavily on ZAP.
#    @vivien-apple  @tecimovic

# 'Standard' cluster implementations (server side)
# Clusters shipped with the sdk, can be integrated as-is or used as a template
/src/app/clusters/ @vivien-apple

# Onboarding payload
# Parsing and generation of codes (includes QR and NFC), numeric pairing payload
/src/setup_payload/ @shana-apple @vivien-apple @jrhees-cae

# Device Layer
# Porting interfaces, scaffolding for building an example firmware
/src/platform/ @mspang @yufengwangca
/src/include/platform/ @mspang @yufengwangca

# Persistent storage
# Save state across reboots
/src/platform/*/KeyValueStore* @rgoliver

# Python bindings for CHIP - CLI
# Allows python code to use CHIP, generally targeted towards automation
/src/controller/python/ @andy31415 @erjianqing

# CHIP-tool C++ CLI
# Command line interface to chip as a client (controller and commisioner)
# Includes generated code for every base cluster
/examples/chip-tool/ @vivien-apple

# CHIP-tool iOS UI
/src/darwin/CHIPTool/ @shana-apple

# CHIP-tool Android
/src/android/CHIPTool/ @austinh0
/src/controller/java/ @austinh0

# End2End autogenerated tests
/src/darwin/Framework/Chip-templates/ @vivien-apple
/src/app/tests/suites/ @vivien-apple

# End2End cirque tests
# Simulate topology (cirque) and ptyhon-based test automation
/src/test_driver/linux/cirque/ @erjianqing @yunhanw-google

# Thread integration
# Thread-specific functionality (network provisioning, operational discovery, SRP registration etc.)
/src/platform/OpenThread/ @bukepo
/src/platform/*/ThreadStackmanagerImpl.* @bukepo

# Inet
# Networking abstraction layer (UDP-endpoint, TCP-endpoint, InetLayerBasis)
/src/inet/ @kpschoedel 

# System layer
/src/system/ @kpschoedel 

# BLE support
/src/ble/ @yunhanw-google

# CHIP Shell
# Command-line UART/stdin interface as a side-channel to CHIP accessories
# Aimed as user-friendly/manual control
/src/examples/shell/ @gjc13 @yufengwangca

# RPC
# Side-channlel command path (outside chip), generally for automation and debugging
# Aimed as "scriptable" when compared to shell
/examples/common/pigweed/ @rgoliver
/examples/pigweed-app/ @rgoliver

# Tooling for crypto manual generation
# Generates data for sample PKI
/src/tools/chip-cert/ @emargolis

# Channel API
# Construct a transport/secure session based on peer info and transport type.
# Focused on CASE session establishment
/src/channel/ @kghost

# Darwin framework
# Exposes a darwin API (Objective-C/swift rather than raw C++ API) for darwin
# applications
/src/darwin/Framework/ @shana-apple @vivien-apple @pan-apple
