Repository project-chip/connectedhomeip, changes with the owners that .github/CODEOWNERS names for each.
All owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @mspang, @pan-apple, @emargolis, @andy31415, @yufengwangca, @kghost, @bzbarksy-apple, @bzbarsky-apple, @gjc13, @damian-nordic, @erjiaqing, @shana-apple, @yunhanw-google, @vivien-apple, @erjianqing, @mrjerryjohns, @jrhees-cae, @rgoliver, @austinh0, @bukepo, @kpschoedel

.github/CODEOWNERS:

# Current reviewers-XXX teams, who review everything for approval.
* @reviewers-amazon @reviewers-apple @reviewers-comcast @reviewers-google @reviewers-nordic @reviewers-samsung @reviewers-silabs


# BUILD system

*.gn @mspang
/build/ @mspang
/scripts/build/ @mspang

# Crypto
# Crypto primitives and high level API, generally on top of mbedtls and openssl
/src/crypto/* @pan-apple @emargolis
/src/credentials/ @pan-apple @emargolis

# Transport
# Send and receive data abstracting away the underlying protocol (UDP, TCP, BLE)
/src/transport/ @andy31415 @pan-apple

# Session establishment
# Establish a secure session (encryption keys) from one node to another.
# Includes CASE and PASE + session tracking and resumptioon
/src/protocols/secure_channel/ @pan-apple

# Message Layer
# CRMP and packet headers, generally coupled with SecureSessionManager
/src/messaging @yufengwangca @kghost @bzbarksy-apple
/src/transport/raw/MessageHeader.* @yufengwangca @kghost @bzbarksy-apple

# SecureSessionManager
# Manages per-session encryption keys and new session establishment
/src/transport/SecureSessionMgr.* @pan-apple

# Exchange management
# Joins requests and responses or ties a series of messages belonging to the 
# same protocol interaction
/src/messaging/ @yufengwangca @bzbarsky-apple
/src/channel/ @yufengwangca @bzbarsky-apple

# DNS-SD discovery and advertisement
# Advertise chip devices for commisioning, operational and discover such devices
/src/lib/mdns/ @andy31415 @gjc13 @damian-nordic

# Commisioning controller/flow
# Example of a comisioning sequence
/src/controller/ @pan-apple @erjiaqing

# Operational credentials management
# Signing certificates, maintaining roots of trust, validation, fabric management
/src/controller/ @shana-apple @pan-apple
/src/transport/AdminPairingTable.* @shana-apple @pan-apple

# TLV encoding/decoding to/from byte buffers
/src/lib/core/CHIPTLV* @yunhanw-google @bzbarsky-apple @shana-apple

# Interaction model - ember implementation
# ZCL protocol implementation: ZCL encoding to be sent over the wire as a 
# ZigbeePro protocol implementation
/src/app/util/ @vivien-apple @erjianqing @bzbarsky-apple

# Interaction model - non-ember
# Protocol implementation for IM interactions between nodes, matching spec
/src/app/ @yunhanw-google @bzbarsky-apple @mrjerryjohns

# Interaction model - code generation
# CHIP-specific infrastructure for generating code: helper js methods, scripts
# and code layout
/src/app/zap-templates/ @vivien-apple @erjianqing

# ZAP suppport
# UI for editing XML, generates code from such ZML and configuration files
# NOT part of CHIP however CHIP relies heavily on ZAP.
#    @vivien-apple  @tecimovic

# 'Standard' cluster implementations (server side)
# Clusters shipped with the sdk, can be integrated as-is or used as a template
/src/app/clusters/ @vivien-apple

# Onboarding payload
# Parsing and generation of codes (includes QR and NFC), numeric pairing payload
/src/setup_payload/ @shana-apple @vivien-apple @jrhees-cae

# Device Layer
# Porting interfaces, scaffolding for building an example firmware
/src/platform/ @mspang @yufengwangca
/src/include/platform/ @mspang @yufengwangca

# Persistent storage
# Save state across reboots
/src/platform/*/KeyValueStore* @rgoliver

# Python bindings for CHIP - CLI
# Allows python code to use CHIP, generally targeted towards automation
/src/controller/python/ @andy31415 @erjianqing

# CHIP-tool C++ CLI
# Command line interface to chip as a client (controller and commisioner)
# Includes generated code for every base cluster
/examples/chip-tool/ @vivien-apple

# CHIP-tool iOS UI
/src/darwin/CHIPTool/ @shana-apple

# CHIP-tool Android
/src/android/CHIPTool/ @austinh0
/src/controller/java/ @austinh0

# End2End autogenerated tests
/src/darwin/Framework/Chip-templates/ @vivien-apple
/src/app/tests/suites/ @vivien-apple

# End2End cirque tests
# Simulate topology (cirque) and ptyhon-based test automation
/src/test_driver/linux/cirque/ @erjianqing @yunhanw-google

# Thread integration
# Thread-specific functionality (network provisioning, operational discovery, SRP registration etc.)
/src/platform/OpenThread/ @bukepo
/src/platform/*/ThreadStackmanagerImpl.* @bukepo

# Inet
# Networking abstraction layer (UDP-endpoint, TCP-endpoint, InetLayerBasis)
/src/inet/ @kpschoedel 

# System layer
/src/system/ @kpschoedel 

# BLE support
/src/ble/ @yunhanw-google

# CHIP Shell
# Command-line UART/stdin interface as a side-channel to CHIP accessories
# Aimed as user-friendly/manual control
/src/examples/shell/ @gjc13 @yufengwangca

# RPC
# Side-channlel command path (outside chip), generally for automation and debugging
# Aimed as "scriptable" when compared to shell
/examples/common/pigweed/ @rgoliver
/examples/pigweed-app/ @rgoliver

# Tooling for crypto manual generation
# Generates data for sample PKI
/src/tools/chip-cert/ @emargolis

# Channel API
# Construct a transport/secure session based on peer info and transport type.
# Focused on CASE session establishment
/src/channel/ @kghost

# Darwin framework
# Exposes a darwin API (Objective-C/swift rather than raw C++ API) for darwin
# applications
/src/darwin/Framework/ @shana-apple @vivien-apple @pan-apple

[Telink] Update docker version
  integrations/docker/images/chip-build/version
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

[Telink]: Move todo comment to top of Zephyr setup section
  integrations/docker/images/chip-build-telink/Dockerfile
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

[Telink]: Update chip-build-vscode to make it works with updated chip-build-telink image
  integrations/docker/images/chip-build-vscode/Dockerfile
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

WC: Update rev # for all-cluster-app
  examples/all-clusters-app/all-clusters-common/all-clusters-app.zap
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Mdns Cache (given PeerID, find port, interface and IP) (#8747)
  src/lib/core/CHIPConfig.h
  src/lib/mdns/BUILD.gn
  src/lib/mdns/Discovery_ImplPlatform.cpp
  src/lib/mdns/Discovery_ImplPlatform.h
  src/lib/mdns/MdnsCache.h
  src/lib/mdns/Resolver_ImplMinimalMdns.cpp
  src/lib/mdns/tests/BUILD.gn
  src/lib/mdns/tests/TestMdnsCache.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @andy31415, @gjc13, @damian-nordic

linux: Enable SoftAp if Wi-Fi is not provisioned
  examples/platform/linux/AppMain.cpp
  examples/platform/linux/BUILD.gn
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @mspang

Added 2 new helper methods for the Attestation Flow:
  src/credentials/BUILD.gn
  src/credentials/DeviceAttestationVerifier.cpp
  src/credentials/DeviceAttestationVerifier.h
  src/credentials/examples/DeviceAttestationVerifierExample.cpp
  src/credentials/examples/DeviceAttestationVerifierExample.h
  src/credentials/tests/CHIPCert_test_vectors.cpp
  src/credentials/tests/CHIPCert_test_vectors.h
  src/credentials/tests/TestDeviceAttestationCredentials.cpp
  src/crypto/CHIPCryptoPAL.h
  src/crypto/CHIPCryptoPALOpenSSL.cpp
  src/crypto/CHIPCryptoPALmbedTLS.cpp
  src/crypto/tests/CHIPCryptoPALTest.cpp
Owners: @pan-apple, @emargolis, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Make it build and debugable in Android Studio (#8875)
  scripts/build/builders/android.py
  scripts/build/expected_all_platform_commands.txt
  scripts/examples/android_app.sh
  scripts/examples/gn_to_cmakelists.py
  scripts/examples/tests/expected_test_cmakelists.txt
  scripts/examples/tests/test.py
  scripts/examples/tests/test_project.json
  src/android/CHIPTool/app/build.gradle
  src/android/CHIPTool/app/libs/jniLibs/README.md
  src/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/setuppayloadscanner/BarcodeFragment.kt
  src/android/CHIPTool/app/src/main/res/layout/barcode_fragment.xml
  src/android/CHIPTool/build.gradle
  src/controller/java/BUILD.gn
  src/controller/java/templates/templates.json
  src/controller/java/zap-generated/chip/devicecontroller/ChipClusters.java
Owners: @mspang, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @austinh0

ESP32: Expose BLE connection events and commissioning complete events to the application. (#9041)
  examples/all-clusters-app/esp32/main/DeviceCallbacks.cpp
  src/controller/CHIPDeviceController.cpp
  src/controller/CHIPDeviceController.h
  src/controller/python/ChipDeviceController-ScriptBinding.cpp
  src/controller/python/chip-device-ctrl.py
  src/controller/python/chip/ChipDeviceCtrl.py
  src/platform/ESP32/bluedroid/BLEManagerImpl.cpp
  src/platform/ESP32/nimble/BLEManagerImpl.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @shana-apple, @pan-apple, @andy31415, @erjianqing, @mspang, @yufengwangca

Add missing client commands
  examples/tv-app/tv-common/tv-app.zap
  zzz_generated/tv-app/zap-generated/CHIPClusters.cpp
  zzz_generated/tv-app/zap-generated/CHIPClusters.h
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Restyled by clang-format
  src/app/InteractionModelEngine.cpp
  src/app/InteractionModelEngine.h
  src/app/ReadHandler.cpp
Owners: @yunhanw-google, @bzbarsky-apple, @mrjerryjohns

Manual fixes
  examples/chip-tool/templates/commands.zapt
  examples/platform/nrfconnect/util/DFUTrigger.cpp
  src/app/zap-templates/templates/app/CHIPClusters-src.zapt
  src/app/zap-templates/templates/app/af-structs.zapt
  src/controller/java/templates/CHIPClusters-JNI.zapt
  src/controller/python/chip/clusters/CHIPClusters.cpp
  src/controller/python/templates/python-CHIPClusters-cpp.zapt
  src/credentials/CHIPCert.h
  src/credentials/tests/CHIPCert_test_vectors.h
  src/darwin/Framework/CHIP/CHIPManualSetupPayloadParser.mm
  src/darwin/Framework/CHIP/CHIPQRCodeSetupPayloadParser.mm
  src/lib/BUILD.gn
  src/lib/asn1/ASN1.h
  src/lib/asn1/BUILD.gn
  src/lib/asn1/tests/TestASN1.cpp
  src/lib/core/BUILD.gn
  src/lib/core/CHIPConfig.h
  src/lib/mdns/Discovery_ImplPlatform.cpp
  src/lib/mdns/Resolver_ImplMinimalMdns.cpp
  src/lib/mdns/platform/Mdns.h
  src/lib/mdns/tests/TestMdnsCache.cpp
  src/lib/shell/MainLoopZephyr.cpp
  src/lib/shell/streamer_zephyr.cpp
  src/lib/support/BUILD.gn
  src/platform/logging/impl/android/Logging.cpp
  src/tools/chip-cert/chip-cert.h
  zzz_generated/app-common/app-common/zap-generated/af-structs.h
  zzz_generated/controller-clusters/zap-generated/CHIPClusters.cpp
  zzz_generated/lighting-app/zap-generated/CHIPClusters.cpp
  zzz_generated/pump-app/zap-generated/CHIPClusters.cpp
  zzz_generated/pump-controller-app/zap-generated/CHIPClusters.cpp
  zzz_generated/tv-app/zap-generated/CHIPClusters.cpp
Owners: @vivien-apple, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @erjianqing, @austinh0, @andy31415, @pan-apple, @emargolis, @shana-apple, @mspang, @gjc13, @damian-nordic, @yufengwangca

Decouple ObjectPool from SystemLayer
  src/inet/AsyncDNSResolverSockets.cpp
  src/inet/EndPointBasis.cpp
  src/inet/EndPointBasis.h
  src/inet/IPEndPointBasis.cpp
  src/inet/IPEndPointBasis.h
  src/inet/InetLayer.cpp
  src/inet/RawEndPoint.cpp
  src/inet/TCPEndPoint.cpp
  src/inet/UDPEndPoint.cpp
  src/system/SystemObject.cpp
  src/system/SystemObject.h
  src/system/SystemTimer.cpp
  src/system/SystemTimer.h
  src/system/WatchableEventManagerLwIP.cpp
  src/system/tests/TestSystemObject.cpp
Owners: @kpschoedel

Define namespace chip inside asn1/ASN1OID.h
  src/lib/asn1/ASN1.h
  src/lib/asn1/gen_asn1oid.py
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Merge with TOT
  examples/chip-tool/commands/discover/DiscoverCommissionablesCommand.cpp
  src/lib/mdns/Resolver.h
Owners: @vivien-apple, @andy31415, @gjc13, @damian-nordic

Restyled by clang-format
  src/lib/asn1/ASN1.h
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Address review comments
  src/system/SystemObject.cpp
  src/system/SystemObject.h
  src/system/SystemTimer.cpp
Owners: @kpschoedel

Add missing client commands (#9400)
  examples/tv-app/tv-common/tv-app.zap
  zzz_generated/tv-app/zap-generated/CHIPClusters.cpp
  zzz_generated/tv-app/zap-generated/CHIPClusters.h
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

fix merge
  src/lib/mdns/Discovery_ImplPlatform.cpp
Owners: @andy31415, @gjc13, @damian-nordic

Fixes after rebase
  zzz_generated/lighting-app/zap-generated/CHIPClusters.cpp
  zzz_generated/lighting-app/zap-generated/CHIPClusters.h
  zzz_generated/tv-app/zap-generated/CHIPClientCallbacks.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Set root pubkey size
  src/app/zap-templates/zcl/data-model/chip/operational-credentials-cluster.xml
  src/darwin/CHIPTool/CHIPTool/View Controllers/Fabric/FabricUIViewController.m
  zzz_generated/all-clusters-app/zap-generated/attribute-size.cpp
  zzz_generated/bridge-app/zap-generated/attribute-size.cpp
  zzz_generated/controller-clusters/zap-generated/CHIPClientCallbacks.cpp
  zzz_generated/lighting-app/zap-generated/CHIPClusters.cpp
  zzz_generated/lighting-app/zap-generated/CHIPClusters.h
  zzz_generated/lighting-app/zap-generated/attribute-size.cpp
  zzz_generated/lock-app/zap-generated/attribute-size.cpp
  zzz_generated/ota-provider-app/zap-generated/attribute-size.cpp
  zzz_generated/pump-app/zap-generated/attribute-size.cpp
  zzz_generated/pump-controller-app/zap-generated/attribute-size.cpp
  zzz_generated/temperature-measurement-app/zap-generated/attribute-size.cpp
  zzz_generated/thermostat/zap-generated/attribute-size.cpp
  zzz_generated/tv-app/zap-generated/attribute-size.cpp
  zzz_generated/tv-casting-app/zap-generated/attribute-size.cpp
  zzz_generated/window-app/zap-generated/attribute-size.cpp
Owners: @vivien-apple, @erjianqing, @shana-apple, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Update cluster server code
  src/app/clusters/operational-credentials-server/operational-credentials-server.cpp
  src/transport/FabricTable.h
Owners: @vivien-apple, @andy31415, @pan-apple

zap updates after cluster definition change
  examples/all-clusters-app/all-clusters-common/all-clusters-app.zap
  examples/bridge-app/bridge-common/bridge-app.zap
  examples/lighting-app/lighting-common/lighting-app.zap
  examples/lock-app/lock-common/lock-app.zap
  examples/ota-provider-app/ota-provider-common/ota-provider-app.zap
  examples/pump-app/pump-common/pump-app.zap
  examples/pump-controller-app/pump-controller-common/pump-controller-app.zap
  examples/temperature-measurement-app/esp32/main/temperature-measurement.zap
  examples/thermostat/thermostat-common/thermostat.zap
  examples/tv-app/tv-common/tv-app.zap
  examples/window-app/common/window-app.zap
  src/controller/data_model/controller-clusters.zap
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @shana-apple, @pan-apple

regenerate code for zap updates
  src/controller/java/zap-generated/CHIPClusters-JNI.cpp
  src/controller/java/zap-generated/chip/devicecontroller/ChipClusters.java
  src/darwin/Framework/CHIP/zap-generated/CHIPClustersObjc.mm
  zzz_generated/all-clusters-app/zap-generated/attribute-size.cpp
  zzz_generated/all-clusters-app/zap-generated/endpoint_config.h
  zzz_generated/app-common/app-common/zap-generated/af-structs.h
  zzz_generated/app-common/app-common/zap-generated/attribute-id.h
  zzz_generated/app-common/app-common/zap-generated/attributes/Accessors.cpp
  zzz_generated/app-common/app-common/zap-generated/attributes/Accessors.h
  zzz_generated/app-common/app-common/zap-generated/ids/Attributes.h
  zzz_generated/bridge-app/zap-generated/attribute-size.cpp
  zzz_generated/bridge-app/zap-generated/endpoint_config.h
  zzz_generated/chip-tool/zap-generated/cluster/Commands.h
  zzz_generated/controller-clusters/zap-generated/CHIPClientCallbacks.cpp
  zzz_generated/lighting-app/zap-generated/attribute-size.cpp
  zzz_generated/lighting-app/zap-generated/endpoint_config.h
  zzz_generated/lock-app/zap-generated/attribute-size.cpp
  zzz_generated/lock-app/zap-generated/endpoint_config.h
  zzz_generated/ota-provider-app/zap-generated/attribute-size.cpp
  zzz_generated/ota-provider-app/zap-generated/endpoint_config.h
  zzz_generated/pump-app/zap-generated/attribute-size.cpp
  zzz_generated/pump-app/zap-generated/endpoint_config.h
  zzz_generated/pump-controller-app/zap-generated/attribute-size.cpp
  zzz_generated/pump-controller-app/zap-generated/endpoint_config.h
  zzz_generated/temperature-measurement-app/zap-generated/attribute-size.cpp
  zzz_generated/temperature-measurement-app/zap-generated/endpoint_config.h
  zzz_generated/thermostat/zap-generated/attribute-size.cpp
  zzz_generated/thermostat/zap-generated/endpoint_config.h
  zzz_generated/tv-app/zap-generated/CHIPClientCallbacks.cpp
  zzz_generated/tv-app/zap-generated/CHIPClientCallbacks.h
  zzz_generated/tv-app/zap-generated/CHIPClusters.cpp
  zzz_generated/tv-app/zap-generated/CHIPClusters.h
  zzz_generated/tv-app/zap-generated/attribute-size.cpp
  zzz_generated/tv-app/zap-generated/endpoint_config.h
  zzz_generated/tv-casting-app/zap-generated/attribute-size.cpp
  zzz_generated/tv-casting-app/zap-generated/endpoint_config.h
  zzz_generated/window-app/zap-generated/attribute-size.cpp
  zzz_generated/window-app/zap-generated/endpoint_config.h
Owners: @austinh0, @shana-apple, @vivien-apple, @pan-apple, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Use external storage for FabricIndex attribute
  examples/all-clusters-app/all-clusters-common/all-clusters-app.zap
  examples/bridge-app/bridge-common/bridge-app.zap
  examples/lighting-app/lighting-common/lighting-app.zap
  examples/lock-app/lock-common/lock-app.zap
  examples/ota-provider-app/ota-provider-common/ota-provider-app.zap
  examples/pump-app/pump-common/pump-app.zap
  examples/pump-controller-app/pump-controller-common/pump-controller-app.zap
  examples/temperature-measurement-app/esp32/main/temperature-measurement.zap
  examples/thermostat/thermostat-common/thermostat.zap
  examples/tv-app/tv-common/tv-app.zap
  examples/window-app/common/window-app.zap
  zzz_generated/all-clusters-app/zap-generated/endpoint_config.h
  zzz_generated/bridge-app/zap-generated/endpoint_config.h
  zzz_generated/lighting-app/zap-generated/endpoint_config.h
  zzz_generated/lock-app/zap-generated/endpoint_config.h
  zzz_generated/ota-provider-app/zap-generated/endpoint_config.h
  zzz_generated/pump-app/zap-generated/endpoint_config.h
  zzz_generated/pump-controller-app/zap-generated/endpoint_config.h
  zzz_generated/temperature-measurement-app/zap-generated/endpoint_config.h
  zzz_generated/thermostat/zap-generated/endpoint_config.h
  zzz_generated/tv-app/zap-generated/endpoint_config.h
  zzz_generated/window-app/zap-generated/endpoint_config.h
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Update operational credentials cluster definition
  src/app/zap-templates/zcl/data-model/chip/operational-credentials-cluster.xml
Owners: @vivien-apple, @erjianqing

reduce stack usage
  src/app/clusters/operational-credentials-server/operational-credentials-server.cpp
Owners: @vivien-apple

[Hotfix] Only terminate BLE connections once we start processing a CASE session
  src/app/server/RendezvousServer.cpp
  src/app/server/Server.cpp
  src/protocols/secure_channel/CASEServer.cpp
  src/protocols/secure_channel/CASEServer.h
  src/protocols/secure_channel/tests/TestCASESession.cpp
Owners: @yunhanw-google, @bzbarsky-apple, @mrjerryjohns, @pan-apple

Enable commissioner for tv-app
  examples/platform/linux/ControllerShellCommands.cpp
  src/controller/CHIPDeviceController.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @shana-apple, @pan-apple

modify darwin file to include new prepare-list.cpp
  src/darwin/Framework/CHIP.xcodeproj/project.pbxproj
Owners: @shana-apple, @vivien-apple, @pan-apple

[android] Exit to the main screen after commissioning (#9371)
  docs/guides/nrfconnect_android_commissioning.md
  src/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/CHIPToolActivity.kt
  src/android/CHIPTool/app/src/main/res/values/strings.xml
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @austinh0

Better handling of repeated CASE and PASE protocol messages
  src/protocols/secure_channel/CASESession.cpp
  src/protocols/secure_channel/CASESession.h
  src/protocols/secure_channel/PASESession.cpp
  src/protocols/secure_channel/PASESession.h
  src/protocols/secure_channel/tests/TestCASESession.cpp
  src/protocols/secure_channel/tests/TestPASESession.cpp
  src/transport/raw/tests/NetworkTestHelpers.h
Owners: @pan-apple, @andy31415

Remove duplicate path in IM Read
  src/app/ReadHandler.cpp
  src/app/ReadHandler.h
  src/app/tests/TestReadInteraction.cpp
Owners: @yunhanw-google, @bzbarsky-apple, @mrjerryjohns

Restyled by clang-format
  src/app/ReadHandler.cpp
  src/app/tests/TestReadInteraction.cpp
Owners: @yunhanw-google, @bzbarsky-apple, @mrjerryjohns

merge and regen to fix zap CI fail
  zzz_generated/tv-app/zap-generated/CHIPClientCallbacks.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

fix unit tests, non-linux builds
  src/controller/python/ChipCommissionableNodeController-ScriptBinding.cpp
  src/controller/python/ChipDeviceController-ScriptBinding.cpp
  src/lib/mdns/Discovery_ImplPlatform.cpp
  src/lib/mdns/minimal/tests/TestAdvertiser.cpp
  src/lib/mdns/platform/tests/TestPlatform.cpp
  src/lib/mdns/tests/TestServiceNaming.cpp
  src/lib/mdns/tests/TestTxtFields.cpp
Owners: @andy31415, @erjianqing, @gjc13, @damian-nordic

Add missing include
  src/protocols/secure_channel/CASEServer.h
Owners: @pan-apple

fix CI
  examples/minimal-mdns/advertiser.cpp
  examples/minimal-mdns/client.cpp
  src/lib/mdns/Discovery_ImplPlatform.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @andy31415, @gjc13, @damian-nordic

fix CI
  examples/minimal-mdns/client.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Restyled by clang-format
  src/crypto/tests/CHIPCryptoPALTest.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs
