Repository project-chip/connectedhomeip, changes with the owners that .github/CODEOWNERS names for each.
All owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @mspang, @pan-apple, @emargolis, @andy31415, @yufengwangca, @kghost, @bzbarksy-apple, @bzbarsky-apple, @gjc13, @damian-nordic, @erjiaqing, @shana-apple, @yunhanw-google, @vivien-apple, @erjianqing, @mrjerryjohns, @jrhees-cae, @rgoliver, @austinh0, @bukepo, @kpschoedel

Make exchanges handle closing on message receipt more automatically. (#8050)
  examples/shell/shell_common/cmd_send.cpp
  src/app/CommandHandler.cpp
  src/app/CommandSender.cpp
  src/app/InteractionModelEngine.cpp
  src/app/ReadClient.cpp
  src/app/ReadHandler.cpp
  src/app/WriteClient.cpp
  src/app/WriteHandler.cpp
  src/app/server/Server.cpp
  src/controller/CHIPDevice.cpp
  src/controller/CHIPDeviceController.cpp
  src/messaging/ExchangeContext.cpp
  src/messaging/ExchangeContext.h
  src/messaging/ExchangeDelegate.h
  src/messaging/ExchangeMgr.cpp
  src/messaging/ReliableMessageContext.h
  src/messaging/tests/TestExchangeMgr.cpp
  src/messaging/tests/TestReliableMessageProtocol.cpp
  src/protocols/echo/EchoClient.cpp
  src/protocols/secure_channel/CASESession.cpp
  src/protocols/secure_channel/MessageCounterManager.cpp
  src/protocols/secure_channel/PASESession.cpp
  src/protocols/secure_channel/tests/TestMessageCounterManager.cpp
  src/protocols/secure_channel/tests/TestPASESession.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @yunhanw-google, @bzbarsky-apple, @mrjerryjohns, @shana-apple, @pan-apple, @yufengwangca

Conduct platform shutdown after RunEventLoop returns (#8255)
  src/messaging/tests/echo/common.cpp
  src/messaging/tests/echo/echo_requester.cpp
Owners: @yufengwangca, @bzbarsky-apple

chip-tool: do not hardcode Thread network id (#8245)
  examples/chip-tool/commands/pairing/PairingCommand.cpp
  examples/chip-tool/commands/pairing/PairingCommand.h
Owners: @vivien-apple

chip-tool: do not hardcode Thread network id (#8245)
  examples/chip-tool/commands/pairing/PairingCommand.cpp
  examples/chip-tool/commands/pairing/PairingCommand.h
Owners: @vivien-apple

Add IM timed request builder/parser
  src/app/BUILD.gn
  src/app/MessageDef/TimedRequest.cpp
  src/app/MessageDef/TimedRequest.h
  src/app/tests/TestMessageDef.cpp
Owners: @yunhanw-google, @bzbarsky-apple, @mrjerryjohns

Restyled by clang-format
  src/app/MessageDef/TimedRequest.h
  src/app/tests/TestMessageDef.cpp
Owners: @yunhanw-google, @bzbarsky-apple, @mrjerryjohns

Restyled by gn
  src/app/BUILD.gn
Owners: @yunhanw-google, @bzbarsky-apple, @mrjerryjohns

Revisions to System::Layer
  src/include/platform/PlatformManager.h
  src/platform/EFR32/SystemPlatformConfig.h
  src/platform/ESP32/SystemPlatformConfig.h
  src/platform/K32W/SystemPlatformConfig.h
  src/platform/SystemEventSupport.cpp
  src/platform/SystemTimerSupport.cpp
  src/platform/cc13x2_26x2/SystemPlatformConfig.h
  src/platform/mbed/SystemPlatformConfig.h
  src/platform/qpg/SystemPlatformConfig.h
  src/system/SystemConfig.h
  src/system/SystemEvent.h
  src/system/SystemLayer.cpp
  src/system/SystemLayer.h
Owners: @mspang, @yufengwangca, @kpschoedel

Add IM timed request builder/parser
  src/app/BUILD.gn
  src/app/MessageDef/TimedRequest.cpp
  src/app/MessageDef/TimedRequest.h
  src/app/tests/TestMessageDef.cpp
Owners: @yunhanw-google, @bzbarsky-apple, @mrjerryjohns

Rename seconds to Milliseconds for IM subscribe in previous PR
  src/app/MessageDef/SubscribeRequest.cpp
  src/app/MessageDef/SubscribeRequest.h
  src/app/MessageDef/SubscribeResponse.cpp
  src/app/MessageDef/SubscribeResponse.h
  src/app/tests/TestMessageDef.cpp
Owners: @yunhanw-google, @bzbarsky-apple, @mrjerryjohns

Restyled by clang-format
  src/app/MessageDef/SubscribeRequest.h
  src/app/MessageDef/SubscribeResponse.cpp
  src/app/MessageDef/SubscribeResponse.h
  src/app/tests/TestMessageDef.cpp
Owners: @yunhanw-google, @bzbarsky-apple, @mrjerryjohns

Restyled by whitespace
  examples/lock-app/p6/src/AppTask.cpp
  examples/lock-app/p6/src/main.cpp
  src/platform/P6/BLEManagerImpl.cpp
  src/platform/P6/ConnectivityManagerImpl.cpp
  src/platform/P6/ConnectivityManagerImpl.h
  src/platform/P6/P6Utils.cpp
  src/platform/P6/cy_wcm.h
  src/platform/P6/cycfg_bt_settings.c
  src/platform/P6/cycfg_bt_settings.h
  src/platform/P6/cycfg_gap.c
  src/platform/P6/cycfg_gap.h
  third_party/p6/repo/configs/FreeRTOSConfig.h
  third_party/p6/repo/configs/mbedtls_user_config.h
  third_party/p6/repo/configs/mqtt_client_config.h
  third_party/p6/repo/configs/wifi_config.h
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @mspang, @yufengwangca

Restyled by clang-format
  src/include/platform/PlatformManager.h
Owners: @mspang, @yufengwangca

Restyled by clang-format
  examples/lock-app/p6/include/AppConfig.h
  examples/lock-app/p6/include/ButtonHandler.h
  examples/lock-app/p6/src/AppTask.cpp
  examples/lock-app/p6/src/BoltLockManager.cpp
  examples/lock-app/p6/src/ButtonHandler.cpp
  examples/lock-app/p6/src/ZclCallbacks.cpp
  examples/lock-app/p6/src/main.cpp
  examples/platform/p6/LEDWidget.cpp
  examples/platform/p6/init_p6Platform.cpp
  src/lwip/p6/lwipopts.h
  src/platform/P6/BLEManagerImpl.cpp
  src/platform/P6/BLEManagerImpl.h
  src/platform/P6/CHIPDevicePlatformEvent.h
  src/platform/P6/ConfigurationManagerImpl.cpp
  src/platform/P6/ConnectivityManagerImpl.cpp
  src/platform/P6/ConnectivityManagerImpl.h
  src/platform/P6/DeviceNetworkProvisioningDelegateImpl.cpp
  src/platform/P6/Entropy.cpp
  src/platform/P6/GroupKeyStoreImpl.h
  src/platform/P6/KeyValueStoreManagerImpl.cpp
  src/platform/P6/MTBKeyValueStore.cpp
  src/platform/P6/MTBKeyValueStore.h
  src/platform/P6/P6Config.cpp
  src/platform/P6/P6Config.h
  src/platform/P6/P6Utils.cpp
  src/platform/P6/P6Utils.h
  src/platform/P6/PlatformManagerImpl.cpp
  src/platform/P6/app_platform_cfg.c
  src/platform/P6/app_platform_cfg.h
  src/platform/P6/cycfg_bt_settings.c
  src/platform/P6/cycfg_bt_settings.h
  src/platform/P6/cycfg_gap.c
  src/platform/P6/cycfg_gap.h
  src/platform/P6/cycfg_gatt_db.c
  third_party/p6/repo/configs/FreeRTOSConfig.h
  third_party/p6/repo/configs/iot_config.h
  third_party/p6/repo/configs/mbedtls_user_config.h
  third_party/p6/repo/configs/mqtt_client_config.h
  third_party/p6/repo/configs/wifi_config.h
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @mspang, @yufengwangca, @rgoliver

Restyled by gn
  BUILD.gn
  config/p6/toolchain/BUILD.gn
  examples/lock-app/p6/BUILD.gn
  examples/lock-app/p6/args.gni
  src/lwip/BUILD.gn
  src/platform/BUILD.gn
  src/platform/P6/BUILD.gn
  src/platform/P6/args.gni
  third_party/p6/BUILD.gn
  third_party/p6/p6_executable.gni
  third_party/p6/p6_sdk.gni
Owners: @mspang, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @yufengwangca

Restyled by prettier-markdown
  examples/lock-app/p6/README.md
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Restyled by shfmt
  gn_build.sh
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

restyle
  src/include/platform/PlatformManager.h
Owners: @mspang, @yufengwangca

Restyled by prettier-markdown
  examples/lock-app/p6/README.md
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Update buttonHandler compile error
  examples/lock-app/p6/include/ButtonHandler.h
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Restyled by clang-format
  examples/lock-app/p6/include/ButtonHandler.h
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Restyled by whitespace
  src/platform/P6/cycfg_gatt_db.c
Owners: @mspang, @yufengwangca

Restyled by clang-format
  examples/lock-app/p6/src/AppTask.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Restyled by gn
  examples/lock-app/p6/BUILD.gn
  src/platform/P6/args.gni
Owners: @mspang, @yufengwangca

Fix merge conflict between PR #7996 and PR #7183 that causes ZAP CI to fail
  src/app/common/gen/attributes/Accessors.cpp
  src/app/common/gen/attributes/Accessors.h
Owners: @yunhanw-google, @bzbarsky-apple, @mrjerryjohns

Add IM timed request builder/parser
  src/app/BUILD.gn
  src/app/MessageDef/TimedRequest.cpp
  src/app/MessageDef/TimedRequest.h
  src/app/tests/TestMessageDef.cpp
  src/app/tests/integration/common.h
Owners: @yunhanw-google, @bzbarsky-apple, @mrjerryjohns

Rename seconds to Ms for IM subscribe
  src/app/MessageDef/SubscribeRequest.cpp
  src/app/MessageDef/SubscribeRequest.h
  src/app/MessageDef/SubscribeResponse.cpp
  src/app/MessageDef/SubscribeResponse.h
  src/app/tests/TestMessageDef.cpp
Owners: @yunhanw-google, @bzbarsky-apple, @mrjerryjohns

Restyled by clang-format
  src/app/MessageDef/SubscribeRequest.h
  src/app/MessageDef/SubscribeResponse.cpp
  src/app/MessageDef/SubscribeResponse.h
  src/app/tests/TestMessageDef.cpp
Owners: @yunhanw-google, @bzbarsky-apple, @mrjerryjohns

RFC: Add common 3rd party warnings config target (#7959)
  build/config/compiler/BUILD.gn
  build_overrides/lwip.gni
  examples/build_overrides/lwip.gni
  third_party/lwip/lwip.gni
Owners: @mspang, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Move IM standalone test run on a single event loop (#8174)
  src/app/tests/integration/chip_im_initiator.cpp
  src/app/tests/integration/common.cpp
Owners: @yunhanw-google, @bzbarsky-apple, @mrjerryjohns

Fix merge conflict between PR #7996 and PR #7183 that causes ZAP CI to fail (#8280)
  src/app/common/gen/attributes/Accessors.cpp
  src/app/common/gen/attributes/Accessors.h
Owners: @yunhanw-google, @bzbarsky-apple, @mrjerryjohns

Fix Build on Linux (no_progress_logging) (pull_request)
  src/app/MessageDef/SubscribeRequest.cpp
Owners: @yunhanw-google, @bzbarsky-apple, @mrjerryjohns

Fix fallthrough when logging is disabled
  src/app/MessageDef/SubscribeRequest.cpp
Owners: @yunhanw-google, @bzbarsky-apple, @mrjerryjohns

Fix Build on Linux (no_progress_logging) (pull_request) (#8283)
  src/app/MessageDef/SubscribeRequest.cpp
Owners: @yunhanw-google, @bzbarsky-apple, @mrjerryjohns

Add some better memory safety in discovery controller code.
  src/controller/AbstractMdnsDiscoveryController.cpp
  src/controller/AbstractMdnsDiscoveryController.h
  src/controller/CHIPCommissionableNodeController.h
  src/controller/CHIPDeviceController.h
  src/lib/support/Span.h
  src/lib/support/tests/TestSpan.cpp
Owners: @shana-apple, @pan-apple, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Check that basic roundtrip write correctly sends all necessary acks.
  src/app/tests/TestWriteInteraction.cpp
Owners: @yunhanw-google, @bzbarsky-apple, @mrjerryjohns

Use to_underlying instead of manually writing it out or static asserts.
  examples/chip-tool/commands/payload/SetupPayloadParseCommand.cpp
  src/app/util/message.cpp
  src/controller/CHIPDevice.cpp
  src/controller/CHIPDevice.h
  src/lib/core/CHIPTLV.h
  src/messaging/ExchangeContext.h
  src/messaging/ExchangeMgr.h
  src/protocols/bdx/BdxTransferSession.cpp
  src/protocols/secure_channel/CASESession.cpp
  src/protocols/secure_channel/PASESession.cpp
  src/protocols/secure_channel/StatusReport.cpp
  src/transport/raw/MessageHeader.cpp
  src/transport/raw/MessageHeader.h
Owners: @vivien-apple, @yunhanw-google, @bzbarsky-apple, @mrjerryjohns, @shana-apple, @pan-apple, @yufengwangca, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @kghost, @bzbarksy-apple

fix esp32 lock-app build, and name kMillisecondsPerSecond
  examples/lock-app/esp32/main/LEDWidget.cpp
  src/controller/CHIPDeviceController.cpp
  src/lib/support/TimeUtils.h
  src/platform/FreeRTOS/SystemTimeSupport.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @shana-apple, @pan-apple, @mspang, @yufengwangca

Additional PacketBuffer size fixes.
  src/system/SystemPacketBuffer.cpp
  src/system/SystemPacketBuffer.h
  src/system/tests/TestSystemPacketBuffer.cpp
Owners: @kpschoedel

dynamically allocate test buffer
  src/system/tests/TestSystemPacketBuffer.cpp
Owners: @kpschoedel

.github/CODEOWNERS:

# Current reviewers-XXX teams, who review everything for approval.
* @reviewers-amazon @reviewers-apple @reviewers-comcast @reviewers-google @reviewers-nordic @reviewers-samsung @reviewers-silabs


# BUILD system

*.gn @mspang
/build/ @mspang
/scripts/build/ @mspang

# Crypto
# Crypto primitives and high level API, generally on top of mbedtls and openssl
/src/crypto/* @pan-apple @emargolis
/src/credentials/ @pan-apple @emargolis

# Transport
# Send and receive data abstracting away the underlying protocol (UDP, TCP, BLE)
/src/transport/ @andy31415 @pan-apple

# Session establishment
# Establish a secure session (encryption keys) from one node to another.
# Includes CASE and PASE + session tracking and resumptioon
/src/protocols/secure_channel/ @pan-apple

# Message Layer
# CRMP and packet headers, generally coupled with SecureSessionManager
/src/messaging @yufengwangca @kghost @bzbarksy-apple
/src/transport/raw/MessageHeader.* @yufengwangca @kghost @bzbarksy-apple

# SecureSessionManager
# Manages per-session encryption keys and new session establishment
/src/transport/SecureSessionMgr.* @pan-apple

# Exchange management
# Joins requests and responses or ties a series of messages belonging to the 
# same protocol interaction
/src/messaging/ @yufengwangca @bzbarsky-apple
/src/channel/ @yufengwangca @bzbarsky-apple

# DNS-SD discovery and advertisement
# Advertise chip devices for commisioning, operational and discover such devices
/src/lib/mdns/ @andy31415 @gjc13 @damian-nordic

# Commisioning controller/flow
# Example of a comisioning sequence
/src/controller/ @pan-apple @erjiaqing

# Operational credentials management
# Signing certificates, maintaining roots of trust, validation, fabric management
/src/controller/ @shana-apple @pan-apple
/src/transport/AdminPairingTable.* @shana-apple @pan-apple

# TLV encoding/decoding to/from byte buffers
/src/lib/core/CHIPTLV* @yunhanw-google @bzbarsky-apple @shana-apple

# Interaction model - ember implementation
# ZCL protocol implementation: ZCL encoding to be sent over the wire as a 
# ZigbeePro protocol implementation
/src/app/util/ @vivien-apple @erjianqing @bzbarsky-apple

# Interaction model - non-ember
# Protocol implementation for IM interactions between nodes, matching spec
/src/app/ @yunhanw-google @bzbarsky-apple @mrjerryjohns

# Interaction model - code generation
# CHIP-specific infrastructure for generating code: helper js methods, scripts
# and code layout
/src/app/zap-templates/ @vivien-apple @erjianqing

# ZAP suppport
# UI for editing XML, generates code from such ZML and configuration files
# NOT part of CHIP however CHIP relies heavily on ZAP.
#    @vivien-apple  @tecimovic

# 'Standard' cluster implementations (server side)
# Clusters shipped with the sdk, can be integrated as-is or used as a template
/src/app/clusters/ @vivien-apple

# Onboarding payload
# Parsing and generation of codes (includes QR and NFC), numeric pairing payload
/src/setup_payload/ @shana-apple @vivien-apple @jrhees-cae

# Device Layer
# Porting interfaces, scaffolding for building an example firmware
/src/platform/ @mspang @yufengwangca
/src/include/platform/ @mspang @yufengwangca

# Persistent storage
# Save state across reboots
/src/platform/*/KeyValueStore* @rgoliver

# Python bindings for CHIP - CLI
# Allows python code to use CHIP, generally targeted towards automation
/src/controller/python/ @andy31415 @erjianqing

# CHIP-tool C++ CLI
# Command line interface to chip as a client (controller and commisioner)
# Includes generated code for every base cluster
/examples/chip-tool/ @vivien-apple

# CHIP-tool iOS UI
/src/darwin/CHIPTool/ @shana-apple

# CHIP-tool Android
/src/android/CHIPTool/ @austinh0
/src/controller/java/ @austinh0

# End2End autogenerated tests
/src/darwin/Framework/Chip-templates/ @vivien-apple
/src/app/tests/suites/ @vivien-apple

# End2End cirque tests
# Simulate topology (cirque) and ptyhon-based test automation
/src/test_driver/linux/cirque/ @erjianqing @yunhanw-google

# Thread integration
# Thread-specific functionality (network provisioning, operational discovery, SRP registration etc.)
/src/platform/OpenThread/ @bukepo
/src/platform/*/ThreadStackmanagerImpl.* @bukepo

# Inet
# Networking abstraction layer (UDP-endpoint, TCP-endpoint, InetLayerBasis)
/src/inet/ @kpschoedel 

# System layer
/src/system/ @kpschoedel 

# BLE support
/src/ble/ @yunhanw-google

# CHIP Shell
# Command-line UART/stdin interface as a side-channel to CHIP accessories
# Aimed as user-friendly/manual control
/src/examples/shell/ @gjc13 @yufengwangca

# RPC
# Side-channlel command path (outside chip), generally for automation and debugging
# Aimed as "scriptable" when compared to shell
/examples/common/pigweed/ @rgoliver
/examples/pigweed-app/ @rgoliver

# Tooling for crypto manual generation
# Generates data for sample PKI
/src/tools/chip-cert/ @emargolis

# Channel API
# Construct a transport/secure session based on peer info and transport type.
# Focused on CASE session establishment
/src/channel/ @kghost

# Darwin framework
# Exposes a darwin API (Objective-C/swift rather than raw C++ API) for darwin
# applications
/src/darwin/Framework/ @shana-apple @vivien-apple @pan-apple
