Repository project-chip/connectedhomeip, changes with the owners that .github/CODEOWNERS names for each.
All owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @mspang, @pan-apple, @emargolis, @andy31415, @yufengwangca, @kghost, @bzbarksy-apple, @bzbarsky-apple, @gjc13, @damian-nordic, @erjiaqing, @shana-apple, @yunhanw-google, @vivien-apple, @erjianqing, @mrjerryjohns, @jrhees-cae, @rgoliver, @austinh0, @bukepo, @kpschoedel

Use dispatch_source_t for timers
  src/system/SystemLayer.cpp
  src/system/SystemTimer.cpp
  src/system/SystemTimer.h
Owners: @kpschoedel

Avoid the use of mutex into src/app/EventManagement.* if CHIP_SYSTEM_CONFIG_NO_LOCKING = 1
  src/app/EventManagement.cpp
  src/app/EventManagement.h
Owners: @yunhanw-google, @bzbarsky-apple, @mrjerryjohns

Shell example: OT-CLI compilation error fixed for EFR32 boards. (#7275)
  examples/shell/shell_common/cmd_otcli.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

[nrfconnect] Update nRF Connect SDK version (#7393)
  config/nrfconnect/.nrfconnect-recommended-revision
  config/nrfconnect/app/check-nrfconnect-version.cmake
  config/nrfconnect/app/sample-defaults.conf
  config/nrfconnect/chip-module/CMakeLists.txt
  config/nrfconnect/chip-module/zephyr/module.yml
  examples/lighting-app/nrfconnect/boards/nrf5340dk_nrf5340_cpuapp.conf
  examples/lock-app/nrfconnect/boards/nrf5340dk_nrf5340_cpuapp.conf
  examples/pigweed-app/nrfconnect/boards/nrf5340dk_nrf5340_cpuapp.conf
  examples/platform/nrfconnect/util/PigweedLogger.cpp
  examples/pump-app/nrfconnect/boards/nrf5340dk_nrf5340_cpuapp.conf
  examples/pump-controller-app/nrfconnect/boards/nrf5340dk_nrf5340_cpuapp.conf
  examples/shell/nrfconnect/boards/nrf5340dk_nrf5340_cpuapp.conf
  examples/shell/shell_common/cmd_otcli.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @rgoliver

Remove linux clang_experimental build (#7467)
  .github/workflows/build.yaml
  scripts/build/gn_gen.sh
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @mspang

[python] Raise exceptions when the controller failed to send commands (#7485)
  src/controller/python/chip/clusters/CHIPClusters.py
  src/controller/python/templates/python-CHIPClusters-py.zapt
Owners: @andy31415, @erjianqing

Update src/credentials/CHIPCert.h
  src/credentials/CHIPCert.h
Owners: @pan-apple, @emargolis

Update src/credentials/CHIPCertFromX509.cpp
  src/credentials/CHIPCertFromX509.cpp
Owners: @pan-apple, @emargolis

[Telink] Remove PublishService and Service module as it is no longer required
  examples/lighting-app/telink/CMakeLists.txt
  examples/lighting-app/telink/src/AppTask.cpp
  examples/platform/telink/app/include/Service.h
  examples/platform/telink/app/src/Service.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

[Telink] remove unnecessary steps from workflow
  .github/workflows/examples-telink.yaml
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

[Telink] update last changes in Matter
  examples/lighting-app/telink/src/AppTask.cpp
  examples/lighting-app/telink/src/ZclCallbacks.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

[Telink] update Readme.md flash section with new instruction
  examples/lighting-app/telink/Readme.md
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

[Telink] Fix after restyle check
  examples/lighting-app/telink/src/AppTask.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

[Telink] remove unnecessary container volume
  .github/workflows/examples-telink.yaml
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

[Telink] Add MBEDTLS_ECDSA_DETERMINISTIC to fix compilation error
  src/platform/telink/telink-mbedtls-config.h
Owners: @mspang, @yufengwangca

[Telink] Fix compilation errors
  config/telink/app/zephyr.conf
  config/telink/chip-gn/BUILD.gn
  config/telink/chip-gn/args.gni
  examples/lighting-app/telink/src/AppTask.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @mspang

[Telink] Update endpoint numbers for lighting
  examples/lighting-app/telink/src/AppTask.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

[Telink] Fix remarks from reviewers
  .github/workflows/examples-telink.yaml
  config/telink/app/zephyr.conf
  config/telink/chip-module/CMakeLists.txt
  config/telink/chip-module/Kconfig
  examples/lighting-app/telink/include/AppTask.h
  examples/lighting-app/telink/include/CHIPProjectConfig.h
  examples/lighting-app/telink/src/AppTask.cpp
  examples/lighting-app/telink/src/ZclCallbacks.cpp
  src/platform/telink/CHIPDevicePlatformConfig.h
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @mspang, @yufengwangca

[Telink] update after rebase
  config/telink/app/enable-gnu-std.cmake
  examples/lighting-app/telink/CMakeLists.txt
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

[Telink] Move Zephyr shared files to config/zephyr
  config/nrfconnect/chip-module/CMakeLists.txt
  config/nrfconnect/chip-module/Kconfig
  config/nrfconnect/chip-module/zephyr-util.cmake
  config/telink/chip-module/CMakeLists.txt
  config/telink/chip-module/zephyr/module.yml
  config/zephyr/Kconfig
  config/zephyr/zephyr-util.cmake
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

* Limit OpenThread CLI buffers for RAM optimization (#7451)
  examples/platform/qpg6100/project_include/OpenThreadConfig.h
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Darwin - Pass the port advertised by mdns in network byte order
  src/platform/Darwin/MdnsImpl.cpp
Owners: @mspang, @yufengwangca

Restrict Responder sub types for QueryResponder
  src/lib/mdns/Advertiser_ImplMinimalMdns.cpp
  src/lib/mdns/minimal/responders/BUILD.gn
  src/lib/mdns/minimal/responders/Ptr.h
  src/lib/mdns/minimal/responders/QueryResponder.cpp
  src/lib/mdns/minimal/responders/QueryResponder.h
  src/lib/mdns/minimal/responders/RecordResponder.h
  src/lib/mdns/minimal/responders/Srv.h
  src/lib/mdns/minimal/responders/Txt.h
  src/lib/mdns/minimal/responders/tests/TestQueryResponder.cpp
Owners: @andy31415, @gjc13, @damian-nordic

Add IP commissioning guide.
  docs/guides/ip_commissioning.md
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

[K32W] Increase IM timeout
  src/app/InteractionModelEngine.h
Owners: @yunhanw-google, @bzbarsky-apple, @mrjerryjohns

Restyled by clang-format
  src/app/InteractionModelEngine.h
Owners: @yunhanw-google, @bzbarsky-apple, @mrjerryjohns

Update WiFi SoftAP and BLE Device Name prefix to MATTER-
  config/esp32/components/chip/Kconfig
  src/include/platform/CHIPDeviceConfig.h
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @mspang, @yufengwangca

Upload logs after bootstrap (#7473)
  .github/workflows/android.yaml
  .github/workflows/build.yaml
  .github/workflows/darwin.yaml
  .github/workflows/examples-efr32.yaml
  .github/workflows/examples-esp32.yaml
  .github/workflows/examples-k32w.yaml
  .github/workflows/examples-linux-standalone.yaml
  .github/workflows/examples-nrfconnect.yaml
  .github/workflows/examples-qpg6100.yaml
  .github/workflows/qemu.yaml
  .github/workflows/release_artifacts.yaml
  .github/workflows/tests.yaml
  .github/workflows/unit_integration_test.yaml
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Fix data race on mTestIndex.
  examples/chip-tool/commands/tests/Commands.h
  examples/chip-tool/templates/partials/test_cluster.zapt
Owners: @vivien-apple

Add closeContainer check for CheckSchemaValidity
  src/app/MessageDef/AttributeDataElement.cpp
  src/app/MessageDef/AttributeDataList.cpp
  src/app/MessageDef/AttributeDataVersionList.cpp
  src/app/MessageDef/AttributePath.cpp
  src/app/MessageDef/AttributePathList.cpp
  src/app/MessageDef/AttributeStatusElement.cpp
  src/app/MessageDef/AttributeStatusList.cpp
  src/app/MessageDef/CommandDataElement.cpp
  src/app/MessageDef/CommandList.cpp
  src/app/MessageDef/CommandPath.cpp
  src/app/MessageDef/EventDataElement.cpp
  src/app/MessageDef/EventList.cpp
  src/app/MessageDef/EventPath.cpp
  src/app/MessageDef/EventPathList.cpp
  src/app/MessageDef/InvokeCommand.cpp
  src/app/MessageDef/ListParser.cpp
  src/app/MessageDef/ReadRequest.cpp
  src/app/MessageDef/ReportData.cpp
  src/app/MessageDef/StatusElement.cpp
  src/app/MessageDef/WriteRequest.cpp
  src/app/MessageDef/WriteResponse.cpp
  src/app/tests/TestReadInteraction.cpp
  src/lib/core/CHIPTLVReader.cpp
Owners: @yunhanw-google, @bzbarsky-apple, @mrjerryjohns, @shana-apple

Restrict Responder sub types for QueryResponder (#7474)
  src/lib/mdns/Advertiser_ImplMinimalMdns.cpp
  src/lib/mdns/minimal/responders/BUILD.gn
  src/lib/mdns/minimal/responders/Ptr.h
  src/lib/mdns/minimal/responders/QueryResponder.cpp
  src/lib/mdns/minimal/responders/QueryResponder.h
  src/lib/mdns/minimal/responders/RecordResponder.h
  src/lib/mdns/minimal/responders/Srv.h
  src/lib/mdns/minimal/responders/Txt.h
  src/lib/mdns/minimal/responders/tests/TestQueryResponder.cpp
Owners: @andy31415, @gjc13, @damian-nordic

Move host name into MdnsService
  src/lib/mdns/Discovery_ImplPlatform.cpp
  src/lib/mdns/Discovery_ImplPlatform.h
  src/lib/mdns/platform/Mdns.h
  src/platform/Darwin/MdnsImpl.cpp
  src/platform/Darwin/MdnsImpl.h
  src/platform/ESP32/MdnsImpl.cpp
  src/platform/Linux/MdnsImpl.cpp
  src/platform/OpenThread/GenericThreadStackManagerImpl_OpenThread.h
  src/platform/OpenThread/MdnsImpl.cpp
Owners: @andy31415, @gjc13, @damian-nordic, @mspang, @yufengwangca, @bukepo

match fabric ID as well
  src/credentials/CHIPCertFromX509.cpp
  src/credentials/tests/TestChipCert.cpp
Owners: @pan-apple, @emargolis

Fix thread races in chip-tool
  examples/chip-tool/commands/clusters/ModelCommand.cpp
  examples/chip-tool/commands/clusters/ModelCommand.h
  examples/chip-tool/commands/common/Command.h
  examples/chip-tool/commands/common/Commands.cpp
  examples/chip-tool/commands/common/Commands.h
  examples/chip-tool/commands/discover/Commands.h
  examples/chip-tool/commands/discover/DiscoverCommand.cpp
  examples/chip-tool/commands/discover/DiscoverCommand.h
  examples/chip-tool/commands/pairing/PairingCommand.cpp
  examples/chip-tool/commands/pairing/PairingCommand.h
  examples/chip-tool/commands/payload/AdditionalDataParseCommand.cpp
  examples/chip-tool/commands/payload/AdditionalDataParseCommand.h
  examples/chip-tool/commands/payload/SetupPayloadParseCommand.cpp
  examples/chip-tool/commands/payload/SetupPayloadParseCommand.h
  examples/chip-tool/commands/reporting/ReportingCommand.cpp
  examples/chip-tool/commands/reporting/ReportingCommand.h
  examples/chip-tool/commands/tests/TestCommand.cpp
  examples/chip-tool/commands/tests/TestCommand.h
  src/controller/CHIPDeviceController.cpp
  src/controller/CHIPDeviceController.h
  src/include/platform/PlatformManager.h
  src/include/platform/internal/GenericPlatformManagerImpl.cpp
  src/include/platform/internal/GenericPlatformManagerImpl.h
  src/include/platform/internal/GenericPlatformManagerImpl_FreeRTOS.cpp
  src/include/platform/internal/GenericPlatformManagerImpl_FreeRTOS.h
  src/include/platform/internal/GenericPlatformManagerImpl_POSIX.cpp
  src/include/platform/internal/GenericPlatformManagerImpl_POSIX.h
  src/include/platform/internal/GenericPlatformManagerImpl_Zephyr.cpp
  src/include/platform/internal/GenericPlatformManagerImpl_Zephyr.h
  src/platform/tests/TestMdns.cpp
Owners: @vivien-apple, @shana-apple, @pan-apple, @mspang, @yufengwangca

regenerated files after merge conflict fix
  examples/all-clusters-app/all-clusters-common/gen/callback.h
  examples/chip-tool/commands/clusters/Commands.h
  src/controller/data_model/gen/callback.h
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @vivien-apple, @shana-apple, @pan-apple

Update WiFi SoftAP and BLE Device Name prefix to MATTER- (#7495)
  config/esp32/components/chip/Kconfig
  src/include/platform/CHIPDeviceConfig.h
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @mspang, @yufengwangca

Darwin - Pass the port advertised by mdns in network byte order (#7487)
  src/platform/Darwin/MdnsImpl.cpp
Owners: @mspang, @yufengwangca

Fix data race on mTestIndex. (#7494)
  examples/chip-tool/commands/tests/Commands.h
  examples/chip-tool/templates/partials/test_cluster.zapt
Owners: @vivien-apple

[K32W] Increase IM timeout (#7490)
  src/app/InteractionModelEngine.h
Owners: @yunhanw-google, @bzbarsky-apple, @mrjerryjohns

[K32W] Increase IM timeout (#7490)
  src/app/InteractionModelEngine.h
Owners: @yunhanw-google, @bzbarsky-apple, @mrjerryjohns

.github/CODEOWNERS:

# Current reviewers-XXX teams, who review everything for approval.
* @reviewers-amazon @reviewers-apple @reviewers-comcast @reviewers-google @reviewers-nordic @reviewers-samsung @reviewers-silabs


# BUILD system

*.gn @mspang
/build/ @mspang
/scripts/build/ @mspang

# Crypto
# Crypto primitives and high level API, generally on top of mbedtls and openssl
/src/crypto/* @pan-apple @emargolis
/src/credentials/ @pan-apple @emargolis

# Transport
# Send and receive data abstracting away the underlying protocol (UDP, TCP, BLE)
/src/transport/ @andy31415 @pan-apple

# Session establishment
# Establish a secure session (encryption keys) from one node to another.
# Includes CASE and PASE + session tracking and resumptioon
/src/protocols/secure_channel/ @pan-apple

# Message Layer
# CRMP and packet headers, generally coupled with SecureSessionManager
/src/messaging @yufengwangca @kghost @bzbarksy-apple
/src/transport/raw/MessageHeader.* @yufengwangca @kghost @bzbarksy-apple

# SecureSessionManager
# Manages per-session encryption keys and new session establishment
/src/transport/SecureSessionMgr.* @pan-apple

# Exchange management
# Joins requests and responses or ties a series of messages belonging to the 
# same protocol interaction
/src/messaging/ @yufengwangca @bzbarsky-apple
/src/channel/ @yufengwangca @bzbarsky-apple

# DNS-SD discovery and advertisement
# Advertise chip devices for commisioning, operational and discover such devices
/src/lib/mdns/ @andy31415 @gjc13 @damian-nordic

# Commisioning controller/flow
# Example of a comisioning sequence
/src/controller/ @pan-apple @erjiaqing

# Operational credentials management
# Signing certificates, maintaining roots of trust, validation, fabric management
/src/controller/ @shana-apple @pan-apple
/src/transport/AdminPairingTable.* @shana-apple @pan-apple

# TLV encoding/decoding to/from byte buffers
/src/lib/core/CHIPTLV* @yunhanw-google @bzbarsky-apple @shana-apple

# Interaction model - ember implementation
# ZCL protocol implementation: ZCL encoding to be sent over the wire as a 
# ZigbeePro protocol implementation
/src/app/util/ @vivien-apple @erjianqing @bzbarsky-apple

# Interaction model - non-ember
# Protocol implementation for IM interactions between nodes, matching spec
/src/app/ @yunhanw-google @bzbarsky-apple @mrjerryjohns

# Interaction model - code generation
# CHIP-specific infrastructure for generating code: helper js methods, scripts
# and code layout
/src/app/zap-templates/ @vivien-apple @erjianqing

# ZAP suppport
# UI for editing XML, generates code from such ZML and configuration files
# NOT part of CHIP however CHIP relies heavily on ZAP.
#    @vivien-apple  @tecimovic

# 'Standard' cluster implementations (server side)
# Clusters shipped with the sdk, can be integrated as-is or used as a template
/src/app/clusters/ @vivien-apple

# Onboarding payload
# Parsing and generation of codes (includes QR and NFC), numeric pairing payload
/src/setup_payload/ @shana-apple @vivien-apple @jrhees-cae

# Device Layer
# Porting interfaces, scaffolding for building an example firmware
/src/platform/ @mspang @yufengwangca
/src/include/platform/ @mspang @yufengwangca

# Persistent storage
# Save state across reboots
/src/platform/*/KeyValueStore* @rgoliver

# Python bindings for CHIP - CLI
# Allows python code to use CHIP, generally targeted towards automation
/src/controller/python/ @andy31415 @erjianqing

# CHIP-tool C++ CLI
# Command line interface to chip as a client (controller and commisioner)
# Includes generated code for every base cluster
/examples/chip-tool/ @vivien-apple

# CHIP-tool iOS UI
/src/darwin/CHIPTool/ @shana-apple

# CHIP-tool Android
/src/android/CHIPTool/ @austinh0
/src/controller/java/ @austinh0

# End2End autogenerated tests
/src/darwin/Framework/Chip-templates/ @vivien-apple
/src/app/tests/suites/ @vivien-apple

# End2End cirque tests
# Simulate topology (cirque) and ptyhon-based test automation
/src/test_driver/linux/cirque/ @erjianqing @yunhanw-google

# Thread integration
# Thread-specific functionality (network provisioning, operational discovery, SRP registration etc.)
/src/platform/OpenThread/ @bukepo
/src/platform/*/ThreadStackmanagerImpl.* @bukepo

# Inet
# Networking abstraction layer (UDP-endpoint, TCP-endpoint, InetLayerBasis)
/src/inet/ @kpschoedel 

# System layer
/src/system/ @kpschoedel 

# BLE support
/src/ble/ @yunhanw-google

# CHIP Shell
# Command-line UART/stdin interface as a side-channel to CHIP accessories
# Aimed as user-friendly/manual control
/src/examples/shell/ @gjc13 @yufengwangca

# RPC
# Side-channlel command path (outside chip), generally for automation and debugging
# Aimed as "scriptable" when compared to shell
/examples/common/pigweed/ @rgoliver
/examples/pigweed-app/ @rgoliver

# Tooling for crypto manual generation
# Generates data for sample PKI
/src/tools/chip-cert/ @emargolis

# Channel API
# Construct a transport/secure session based on peer info and transport type.
# Focused on CASE session establishment
/src/channel/ @kghost

# Darwin framework
# Exposes a darwin API (Objective-C/swift rather than raw C++ API) for darwin
# applications
/src/darwin/Framework/ @shana-apple @vivien-apple @pan-apple
