Repository project-chip/connectedhomeip, changes with the owners that .github/CODEOWNERS names for each.
All owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @mspang, @pan-apple, @emargolis, @andy31415, @yufengwangca, @kghost, @bzbarksy-apple, @bzbarsky-apple, @gjc13, @damian-nordic, @erjiaqing, @shana-apple, @yunhanw-google, @vivien-apple, @erjianqing, @mrjerryjohns, @jrhees-cae, @rgoliver, @austinh0, @bukepo, @kpschoedel

doc: nrfconnect: update images (#7845)
  examples/lighting-app/nrfconnect/README.md
  examples/lock-app/nrfconnect/README.md
  examples/pigweed-app/nrfconnect/README.md
  examples/platform/nrfconnect/doc/images/nRF52840-DK_top-view-small.jpg
  examples/platform/nrfconnect/doc/images/nRF52840-Dongle-small.jpg
  examples/platform/nrfconnect/doc/images/nRF52840_DK_info-medium.jpg
  examples/platform/nrfconnect/doc/images/nRF52840_Dongle-medium.jpg
  examples/platform/nrfconnect/doc/images/nRF5340-DK_top-view-small.jpg
  examples/platform/nrfconnect/doc/images/nRF5340_DK_info-medium.jpg
  examples/pump-app/nrfconnect/README.md
  examples/pump-controller-app/nrfconnect/README.md
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @rgoliver

Increased timeout for tsan jobs since it takes some time (real fix)!
  .github/workflows/tests.yaml
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Fix Darwin implementation of RunEventLoop to return when StopEventLoopTask is called. (#7854)
  src/include/platform/PlatformManager.h
  src/platform/Darwin/PlatformManagerImpl.cpp
  src/platform/Darwin/PlatformManagerImpl.h
  src/platform/tests/TestPlatformMgr.cpp
Owners: @mspang, @yufengwangca

Make OnMessageReceived return error (#7855)
  examples/shell/shell_common/cmd_send.cpp
  src/app/CommandHandler.cpp
  src/app/CommandHandler.h
  src/app/CommandSender.cpp
  src/app/CommandSender.h
  src/app/InteractionModelEngine.cpp
  src/app/InteractionModelEngine.h
  src/app/ReadClient.cpp
  src/app/ReadClient.h
  src/app/WriteClient.cpp
  src/app/WriteClient.h
  src/app/server/Server.cpp
  src/app/tests/TestCommandInteraction.cpp
  src/app/tests/TestReportingEngine.cpp
  src/app/tests/TestWriteInteraction.cpp
  src/app/util/chip-message-send.cpp
  src/channel/tests/TestChannel.cpp
  src/controller/CHIPDevice.cpp
  src/controller/CHIPDevice.h
  src/controller/CHIPDeviceController.cpp
  src/controller/CHIPDeviceController.h
  src/messaging/ExchangeContext.cpp
  src/messaging/ExchangeDelegate.h
  src/messaging/tests/TestExchangeMgr.cpp
  src/messaging/tests/TestReliableMessageProtocol.cpp
  src/protocols/echo/Echo.h
  src/protocols/echo/EchoClient.cpp
  src/protocols/echo/EchoServer.cpp
  src/protocols/secure_channel/CASEServer.cpp
  src/protocols/secure_channel/CASEServer.h
  src/protocols/secure_channel/CASESession.cpp
  src/protocols/secure_channel/CASESession.h
  src/protocols/secure_channel/MessageCounterManager.cpp
  src/protocols/secure_channel/MessageCounterManager.h
  src/protocols/secure_channel/PASESession.cpp
  src/protocols/secure_channel/PASESession.h
  src/protocols/secure_channel/tests/TestMessageCounterManager.cpp
  src/protocols/secure_channel/tests/TestPASESession.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @yunhanw-google, @bzbarsky-apple, @mrjerryjohns, @kghost, @shana-apple, @pan-apple, @yufengwangca

Enable TSAN builds on CI (#7797)
  .github/workflows/tests.yaml
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Convert JniReferences to namespace
  src/controller/java/AndroidDeviceControllerWrapper.cpp
  src/controller/java/AndroidKeyValueStoreManagerImpl.cpp
  src/controller/java/CHIPDeviceController-JNI.cpp
  src/controller/java/JniReferences.cpp
  src/controller/java/JniReferences.h
  src/controller/java/gen/CHIPClusters-JNI.cpp
  src/controller/java/templates/CHIPClusters-JNI.zapt
Owners: @austinh0

Make it possible to run chip-tool on a single event loop.
  .github/workflows/tests.yaml
  examples/chip-tool/BUILD.gn
  examples/chip-tool/commands/common/Command.cpp
  examples/chip-tool/commands/common/Command.h
  examples/chip-tool/commands/common/Commands.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @vivien-apple

Cache classloader in SetJavaVm() and use it in GetClassRef()
  src/controller/java/JniReferences.cpp
  src/controller/java/JniReferences.h
  src/controller/java/templates/CHIPClusters-JNI.zapt
Owners: @austinh0

Generate
  src/controller/java/gen/CHIPClusters-JNI.cpp
Owners: @austinh0

updated label (#7853)
  README.md
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Enable Java CHIP classes to be loaded from any thread (#7831)
  src/controller/java/AndroidDeviceControllerWrapper.cpp
  src/controller/java/AndroidKeyValueStoreManagerImpl.cpp
  src/controller/java/CHIPDeviceController-JNI.cpp
  src/controller/java/JniReferences.cpp
  src/controller/java/JniReferences.h
  src/controller/java/gen/CHIPClusters-JNI.cpp
  src/controller/java/templates/CHIPClusters-JNI.zapt
Owners: @austinh0

[controller] Add Pressure Measurement cluster to controller apps (#7709)
  examples/chip-tool/commands/clusters/Commands.h
  examples/chip-tool/commands/reporting/Commands.h
  src/controller/data_model/controller-clusters.zap
  src/controller/data_model/gen/CHIPClusters.cpp
  src/controller/data_model/gen/CHIPClusters.h
  src/controller/data_model/gen/callback-stub.cpp
  src/controller/data_model/gen/callback.h
  src/controller/data_model/gen/chip-zcl-zpro-codec-api.h
  src/controller/data_model/gen/encoder.cpp
  src/controller/data_model/gen/endpoint_config.h
  src/controller/data_model/gen/gen_config.h
  src/controller/java/gen/CHIPClusters-JNI.cpp
  src/controller/java/gen/ChipClusters.java
  src/controller/python/chip/clusters/CHIPClusters.cpp
  src/controller/python/chip/clusters/CHIPClusters.py
  src/darwin/Framework/CHIP/gen/CHIPClustersObjc.h
  src/darwin/Framework/CHIP/gen/CHIPClustersObjc.mm
  src/darwin/Framework/CHIPTests/CHIPClustersTests.m
Owners: @vivien-apple, @shana-apple, @pan-apple, @austinh0, @andy31415, @erjianqing

[msg] Reorder header bits to match spec.
  src/transport/SecureMessageCodec.cpp
  src/transport/SecureSessionMgr.cpp
  src/transport/raw/MessageHeader.cpp
  src/transport/raw/MessageHeader.h
Owners: @andy31415, @pan-apple, @yufengwangca, @kghost, @bzbarksy-apple

Restyled by clang-format
  src/transport/raw/MessageHeader.h
Owners: @yufengwangca, @kghost, @bzbarksy-apple

Adding request-commissioning CHIPTool command (#7729)
  examples/chip-tool/BUILD.gn
  examples/chip-tool/commands/pairing/Commands.h
  examples/chip-tool/commands/pairing/RequestCommissioningCommand.cpp
  examples/chip-tool/commands/pairing/RequestCommissioningCommand.h
  src/app/server/Mdns.cpp
  src/controller/BUILD.gn
  src/controller/CHIPCommissionableNodeController.cpp
  src/controller/CHIPCommissionableNodeController.h
Owners: @vivien-apple, @yunhanw-google, @bzbarsky-apple, @mrjerryjohns, @shana-apple, @pan-apple

Revert "[controller] Add Pressure Measurement cluster to controller apps (#7709)"
  examples/chip-tool/commands/clusters/Commands.h
  examples/chip-tool/commands/reporting/Commands.h
  src/controller/data_model/controller-clusters.zap
  src/controller/data_model/gen/CHIPClusters.cpp
  src/controller/data_model/gen/CHIPClusters.h
  src/controller/data_model/gen/callback-stub.cpp
  src/controller/data_model/gen/callback.h
  src/controller/data_model/gen/chip-zcl-zpro-codec-api.h
  src/controller/data_model/gen/encoder.cpp
  src/controller/data_model/gen/endpoint_config.h
  src/controller/data_model/gen/gen_config.h
  src/controller/java/gen/CHIPClusters-JNI.cpp
  src/controller/java/gen/ChipClusters.java
  src/controller/python/chip/clusters/CHIPClusters.cpp
  src/controller/python/chip/clusters/CHIPClusters.py
  src/darwin/Framework/CHIP/gen/CHIPClustersObjc.h
  src/darwin/Framework/CHIP/gen/CHIPClustersObjc.mm
  src/darwin/Framework/CHIPTests/CHIPClustersTests.m
Owners: @vivien-apple, @shana-apple, @pan-apple, @austinh0, @andy31415, @erjianqing

Regenerate ZAP code to fix broken CI build
  examples/tv-app/tv-common/gen/IMClusterCommandHandler.cpp
  examples/tv-app/tv-common/gen/callback.h
  src/controller/java/gen/CHIPClusters-JNI.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @austinh0

Update tv-app zap file to work around ZAP non-determinism.
  examples/tv-app/tv-common/tv-app.zap
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Regenerate ZAP code to fix broken CI build (#7867)
  examples/tv-app/tv-common/gen/IMClusterCommandHandler.cpp
  examples/tv-app/tv-common/gen/callback.h
  examples/tv-app/tv-common/tv-app.zap
  src/controller/java/gen/CHIPClusters-JNI.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @austinh0

[msg] Reorder header bits to match spec.
  src/transport/SecureMessageCodec.cpp
  src/transport/SecureSessionMgr.cpp
  src/transport/raw/MessageHeader.cpp
  src/transport/raw/MessageHeader.h
Owners: @andy31415, @pan-apple, @yufengwangca, @kghost, @bzbarksy-apple

Restyled by clang-format
  src/transport/raw/MessageHeader.h
Owners: @yufengwangca, @kghost, @bzbarksy-apple

Use GetConnectedDevice in TestCommand to wait for CASE session
  examples/chip-tool/commands/tests/TestCommand.cpp
  examples/chip-tool/commands/tests/TestCommand.h
Owners: @vivien-apple

Support to use heap for pool for large systems
  src/inet/InetLayer.cpp
  src/platform/Linux/SystemPlatformConfig.h
  src/system/SystemConfig.h
  src/system/SystemLayer.cpp
  src/system/SystemObject.cpp
  src/system/SystemObject.h
  src/system/tests/TestSystemObject.cpp
Owners: @kpschoedel, @mspang, @yufengwangca

Integrated Zephyr shell with the CHIP lib shell
  BUILD.gn
  config/nrfconnect/chip-gn/BUILD.gn
  config/nrfconnect/chip-module/CMakeLists.txt
  config/zephyr/Kconfig
  docs/guides/nrfconnect_examples_cli.md
  examples/shell/nrfconnect/prj.conf
  src/lib/shell/BUILD.gn
  src/lib/shell/Commands.h
  src/lib/shell/Engine.cpp
  src/lib/shell/MainLoopZephyr.cpp
  src/lib/shell/commands/BLE.cpp
  src/lib/shell/commands/BUILD.gn
  src/lib/shell/commands/Device.cpp
  src/lib/shell/commands/NFC.cpp
  src/lib/shell/commands/OnboardingCodes.cpp
  src/lib/shell/streamer_zephyr.cpp
  src/platform/nrfconnect/shell/BUILD.gn
  src/platform/nrfconnect/shell/ChipShell.cpp
Owners: @mspang, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @yufengwangca

WC: Update WindowCovering with updated xml
  examples/all-clusters-app/all-clusters-common/gen/endpoint_config.h
  examples/chip-tool/commands/clusters/Commands.h
  examples/chip-tool/commands/reporting/Commands.h
  examples/window-app/common/gen/IMClusterCommandHandler.cpp
  examples/window-app/common/gen/callback.h
  examples/window-app/common/gen/endpoint_config.h
  src/app/common/gen/attribute-id.h
  src/app/common/gen/client-command-macro.h
  src/app/common/gen/command-id.h
  src/app/common/gen/enums.h
  src/app/zap-templates/zcl/data-model/silabs/ha.xml
  src/app/zap-templates/zcl/window-covering.xml
  src/app/zap-templates/zcl/zcl.json
  src/controller/data_model/gen/CHIPClusters.cpp
  src/controller/data_model/gen/CHIPClusters.h
  src/controller/data_model/gen/chip-zcl-zpro-codec-api.h
  src/controller/data_model/gen/encoder.cpp
  src/controller/data_model/gen/endpoint_config.h
  src/controller/java/gen/CHIPClusters-JNI.cpp
  src/controller/java/gen/ChipClusters.java
  src/controller/python/chip/clusters/CHIPClusters.cpp
  src/controller/python/chip/clusters/CHIPClusters.py
  src/darwin/Framework/CHIP/gen/CHIPClustersObjc.h
  src/darwin/Framework/CHIP/gen/CHIPClustersObjc.mm
  src/darwin/Framework/CHIPTests/CHIPClustersTests.m
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @vivien-apple, @yunhanw-google, @bzbarsky-apple, @mrjerryjohns, @erjianqing, @shana-apple, @pan-apple, @austinh0, @andy31415

WC: Update scene for compilation + Add missing callback
  examples/window-app/efr32/src/AppTask.cpp
  examples/window-app/efr32/src/ZclCallbacks.cpp
  src/app/clusters/scenes/scenes.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @vivien-apple

Update gen/ folders
  examples/all-clusters-app/all-clusters-common/gen/IMClusterCommandHandler.cpp
  examples/all-clusters-app/all-clusters-common/gen/attribute-size.cpp
  examples/all-clusters-app/all-clusters-common/gen/endpoint_config.h
  examples/bridge-app/bridge-common/gen/IMClusterCommandHandler.cpp
  examples/bridge-app/bridge-common/gen/attribute-size.cpp
  examples/chip-tool/commands/clusters/Commands.h
  examples/lighting-app/lighting-common/gen/IMClusterCommandHandler.cpp
  examples/lighting-app/lighting-common/gen/attribute-size.cpp
  examples/lock-app/lock-common/gen/IMClusterCommandHandler.cpp
  examples/lock-app/lock-common/gen/attribute-size.cpp
  examples/pump-app/pump-common/gen/IMClusterCommandHandler.cpp
  examples/pump-app/pump-common/gen/attribute-size.cpp
  examples/pump-controller-app/pump-controller-common/gen/IMClusterCommandHandler.cpp
  examples/pump-controller-app/pump-controller-common/gen/attribute-size.cpp
  examples/temperature-measurement-app/esp32/main/gen/IMClusterCommandHandler.cpp
  examples/temperature-measurement-app/esp32/main/gen/attribute-size.cpp
  examples/tv-app/tv-common/gen/IMClusterCommandHandler.cpp
  examples/tv-app/tv-common/gen/attribute-size.cpp
  examples/window-app/common/gen/IMClusterCommandHandler.cpp
  examples/window-app/common/gen/attribute-size.cpp
  src/app/common/gen/af-structs.h
  src/app/common/gen/attribute-id.h
  src/app/common/gen/attribute-size.h
  src/app/common/gen/attribute-type.h
  src/app/common/gen/client-command-macro.h
  src/app/common/gen/cluster-id.h
  src/app/common/gen/command-id.h
  src/app/common/gen/enums.h
  src/app/common/gen/print-cluster.h
  src/controller/data_model/gen/CHIPClientCallbacks.cpp
  src/controller/data_model/gen/CHIPClusters.cpp
  src/controller/data_model/gen/IMClusterCommandHandler.cpp
  src/controller/data_model/gen/attribute-size.cpp
  src/controller/java/gen/CHIPClusters-JNI.cpp
  src/controller/java/gen/ChipClusters.java
  src/controller/python/chip/clusters/CHIPClusters.py
  src/darwin/Framework/CHIP/gen/CHIPClustersObjc.h
  src/darwin/Framework/CHIP/gen/CHIPClustersObjc.mm
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @vivien-apple, @yunhanw-google, @bzbarsky-apple, @mrjerryjohns, @shana-apple, @pan-apple, @austinh0, @andy31415, @erjianqing

Restyled by clang-format
  src/app/EventManagement.cpp
Owners: @yunhanw-google, @bzbarsky-apple, @mrjerryjohns

Update gen/ folders
  examples/all-clusters-app/all-clusters-common/gen/IMClusterCommandHandler.cpp
  examples/all-clusters-app/all-clusters-common/gen/attribute-size.cpp
  examples/all-clusters-app/all-clusters-common/gen/endpoint_config.h
  examples/bridge-app/bridge-common/gen/IMClusterCommandHandler.cpp
  examples/bridge-app/bridge-common/gen/attribute-size.cpp
  examples/chip-tool/commands/clusters/Commands.h
  examples/lighting-app/lighting-common/gen/IMClusterCommandHandler.cpp
  examples/lighting-app/lighting-common/gen/attribute-size.cpp
  examples/lock-app/lock-common/gen/IMClusterCommandHandler.cpp
  examples/lock-app/lock-common/gen/attribute-size.cpp
  examples/pump-app/pump-common/gen/IMClusterCommandHandler.cpp
  examples/pump-app/pump-common/gen/attribute-size.cpp
  examples/pump-controller-app/pump-controller-common/gen/IMClusterCommandHandler.cpp
  examples/pump-controller-app/pump-controller-common/gen/attribute-size.cpp
  examples/temperature-measurement-app/esp32/main/gen/IMClusterCommandHandler.cpp
  examples/temperature-measurement-app/esp32/main/gen/attribute-size.cpp
  examples/tv-app/tv-common/gen/IMClusterCommandHandler.cpp
  examples/tv-app/tv-common/gen/attribute-size.cpp
  examples/window-app/common/gen/IMClusterCommandHandler.cpp
  examples/window-app/common/gen/attribute-size.cpp
  src/app/common/gen/af-structs.h
  src/app/common/gen/attribute-id.h
  src/app/common/gen/attribute-size.h
  src/app/common/gen/attribute-type.h
  src/app/common/gen/client-command-macro.h
  src/app/common/gen/cluster-id.h
  src/app/common/gen/command-id.h
  src/app/common/gen/enums.h
  src/app/common/gen/print-cluster.h
  src/controller/data_model/gen/CHIPClientCallbacks.cpp
  src/controller/data_model/gen/CHIPClusters.cpp
  src/controller/data_model/gen/IMClusterCommandHandler.cpp
  src/controller/data_model/gen/attribute-size.cpp
  src/controller/java/gen/CHIPClusters-JNI.cpp
  src/controller/java/gen/ChipClusters.java
  src/controller/python/chip/clusters/CHIPClusters.py
  src/darwin/Framework/CHIP/gen/CHIPClustersObjc.h
  src/darwin/Framework/CHIP/gen/CHIPClustersObjc.mm
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @vivien-apple, @yunhanw-google, @bzbarsky-apple, @mrjerryjohns, @shana-apple, @pan-apple, @austinh0, @andy31415, @erjianqing

Restyled by clang-format
  src/app/decoder.cpp
Owners: @yunhanw-google, @bzbarsky-apple, @mrjerryjohns

Restyled by clang-format
  examples/window-app/efr32/src/AppTask.cpp
  examples/window-app/efr32/src/ZclCallbacks.cpp
  src/app/clusters/scenes/scenes.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @vivien-apple

* Fix sync of cluster state on manual change of light status * Cleanup logging LightingManager/Attribute updates
  examples/lighting-app/qpg6100/src/AppTask.cpp
  examples/lighting-app/qpg6100/src/LightingManager.cpp
  examples/lighting-app/qpg6100/src/ZclCallbacks.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Level cluster Step/Move commands reverted to random value after finishing transition. Fixed by adding fill-in of unused 'storedLevel' for these commands.
  src/app/clusters/level-control/level-control.cpp
Owners: @vivien-apple

address review comments
  examples/chip-tool/commands/tests/TestCommand.cpp
Owners: @vivien-apple

Updated ASN1 Writer Implementation.
  src/credentials/CHIPCert.cpp
  src/credentials/CHIPCert.h
  src/credentials/tests/CHIPCert_test_vectors.cpp
  src/credentials/tests/TestChipCert.cpp
  src/lib/asn1/ASN1.h
  src/lib/asn1/ASN1Writer.cpp
  src/tools/chip-cert/BUILD.gn
  src/tools/chip-cert/Cmd_ConvertKey.cpp
  src/tools/chip-cert/Cmd_GenCert.cpp
  src/tools/chip-cert/chip-cert.h
Owners: @pan-apple, @emargolis, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

[Temp] Fix Put() is ambiguous compile error
  src/app/clusters/door-lock-server/door-lock-server-logging.cpp
  src/app/clusters/door-lock-server/door-lock-server-schedule.cpp
  src/app/clusters/door-lock-server/door-lock-server-user.cpp
Owners: @vivien-apple

Fix typo in artifact name
  .github/workflows/tests.yaml
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Align the flag check between InetLayer::Init and InetLayer::Shutdown
  src/inet/InetLayer.cpp
Owners: @kpschoedel

Add Diagnostic Logs template
  examples/all-clusters-app/all-clusters-common/all-clusters-app.zap
  examples/all-clusters-app/esp32/main/CMakeLists.txt
  examples/bridge-app/bridge-common/bridge-app.zap
  examples/chip-tool/commands/clusters/Commands.h
  examples/lighting-app/lighting-common/lighting-app.zap
  examples/lighting-app/nrfconnect/CMakeLists.txt
  examples/lighting-app/telink/CMakeLists.txt
  examples/lock-app/lock-common/lock-app.zap
  examples/lock-app/nrfconnect/CMakeLists.txt
  examples/pump-app/pump-common/pump-app.zap
  examples/pump-controller-app/pump-controller-common/pump-controller-app.zap
  examples/temperature-measurement-app/esp32/main/temperature-measurement.zap
  examples/tv-app/tv-common/tv-app.zap
  src/app/clusters/diagnostic-logs-server/diagnostic-logs-server.cpp
  src/app/zap-templates/zcl/diagnostic-logs-cluster.xml
  src/app/zap-templates/zcl/zcl.json
  src/app/zap_cluster_list.py
  src/controller/data_model/controller-clusters.zap
  src/controller/python/chip/clusters/CHIPClusters.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @vivien-apple, @erjianqing, @yunhanw-google, @bzbarsky-apple, @mrjerryjohns, @shana-apple, @pan-apple, @andy31415

Add PID to Darwin/Linux Log Lines
  src/platform/Darwin/Logging.cpp
  src/platform/Linux/Logging.cpp
Owners: @mspang, @yufengwangca

.github/CODEOWNERS:

# Current reviewers-XXX teams, who review everything for approval.
* @reviewers-amazon @reviewers-apple @reviewers-comcast @reviewers-google @reviewers-nordic @reviewers-samsung @reviewers-silabs


# BUILD system

*.gn @mspang
/build/ @mspang
/scripts/build/ @mspang

# Crypto
# Crypto primitives and high level API, generally on top of mbedtls and openssl
/src/crypto/* @pan-apple @emargolis
/src/credentials/ @pan-apple @emargolis

# Transport
# Send and receive data abstracting away the underlying protocol (UDP, TCP, BLE)
/src/transport/ @andy31415 @pan-apple

# Session establishment
# Establish a secure session (encryption keys) from one node to another.
# Includes CASE and PASE + session tracking and resumptioon
/src/protocols/secure_channel/ @pan-apple

# Message Layer
# CRMP and packet headers, generally coupled with SecureSessionManager
/src/messaging @yufengwangca @kghost @bzbarksy-apple
/src/transport/raw/MessageHeader.* @yufengwangca @kghost @bzbarksy-apple

# SecureSessionManager
# Manages per-session encryption keys and new session establishment
/src/transport/SecureSessionMgr.* @pan-apple

# Exchange management
# Joins requests and responses or ties a series of messages belonging to the 
# same protocol interaction
/src/messaging/ @yufengwangca @bzbarsky-apple
/src/channel/ @yufengwangca @bzbarsky-apple

# DNS-SD discovery and advertisement
# Advertise chip devices for commisioning, operational and discover such devices
/src/lib/mdns/ @andy31415 @gjc13 @damian-nordic

# Commisioning controller/flow
# Example of a comisioning sequence
/src/controller/ @pan-apple @erjiaqing

# Operational credentials management
# Signing certificates, maintaining roots of trust, validation, fabric management
/src/controller/ @shana-apple @pan-apple
/src/transport/AdminPairingTable.* @shana-apple @pan-apple

# TLV encoding/decoding to/from byte buffers
/src/lib/core/CHIPTLV* @yunhanw-google @bzbarsky-apple @shana-apple

# Interaction model - ember implementation
# ZCL protocol implementation: ZCL encoding to be sent over the wire as a 
# ZigbeePro protocol implementation
/src/app/util/ @vivien-apple @erjianqing @bzbarsky-apple

# Interaction model - non-ember
# Protocol implementation for IM interactions between nodes, matching spec
/src/app/ @yunhanw-google @bzbarsky-apple @mrjerryjohns

# Interaction model - code generation
# CHIP-specific infrastructure for generating code: helper js methods, scripts
# and code layout
/src/app/zap-templates/ @vivien-apple @erjianqing

# ZAP suppport
# UI for editing XML, generates code from such ZML and configuration files
# NOT part of CHIP however CHIP relies heavily on ZAP.
#    @vivien-apple  @tecimovic

# 'Standard' cluster implementations (server side)
# Clusters shipped with the sdk, can be integrated as-is or used as a template
/src/app/clusters/ @vivien-apple

# Onboarding payload
# Parsing and generation of codes (includes QR and NFC), numeric pairing payload
/src/setup_payload/ @shana-apple @vivien-apple @jrhees-cae

# Device Layer
# Porting interfaces, scaffolding for building an example firmware
/src/platform/ @mspang @yufengwangca
/src/include/platform/ @mspang @yufengwangca

# Persistent storage
# Save state across reboots
/src/platform/*/KeyValueStore* @rgoliver

# Python bindings for CHIP - CLI
# Allows python code to use CHIP, generally targeted towards automation
/src/controller/python/ @andy31415 @erjianqing

# CHIP-tool C++ CLI
# Command line interface to chip as a client (controller and commisioner)
# Includes generated code for every base cluster
/examples/chip-tool/ @vivien-apple

# CHIP-tool iOS UI
/src/darwin/CHIPTool/ @shana-apple

# CHIP-tool Android
/src/android/CHIPTool/ @austinh0
/src/controller/java/ @austinh0

# End2End autogenerated tests
/src/darwin/Framework/Chip-templates/ @vivien-apple
/src/app/tests/suites/ @vivien-apple

# End2End cirque tests
# Simulate topology (cirque) and ptyhon-based test automation
/src/test_driver/linux/cirque/ @erjianqing @yunhanw-google

# Thread integration
# Thread-specific functionality (network provisioning, operational discovery, SRP registration etc.)
/src/platform/OpenThread/ @bukepo
/src/platform/*/ThreadStackmanagerImpl.* @bukepo

# Inet
# Networking abstraction layer (UDP-endpoint, TCP-endpoint, InetLayerBasis)
/src/inet/ @kpschoedel 

# System layer
/src/system/ @kpschoedel 

# BLE support
/src/ble/ @yunhanw-google

# CHIP Shell
# Command-line UART/stdin interface as a side-channel to CHIP accessories
# Aimed as user-friendly/manual control
/src/examples/shell/ @gjc13 @yufengwangca

# RPC
# Side-channlel command path (outside chip), generally for automation and debugging
# Aimed as "scriptable" when compared to shell
/examples/common/pigweed/ @rgoliver
/examples/pigweed-app/ @rgoliver

# Tooling for crypto manual generation
# Generates data for sample PKI
/src/tools/chip-cert/ @emargolis

# Channel API
# Construct a transport/secure session based on peer info and transport type.
# Focused on CASE session establishment
/src/channel/ @kghost

# Darwin framework
# Exposes a darwin API (Objective-C/swift rather than raw C++ API) for darwin
# applications
/src/darwin/Framework/ @shana-apple @vivien-apple @pan-apple
