Repository project-chip/connectedhomeip, changes with the owners that .github/CODEOWNERS names for each.
All owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @mspang, @pan-apple, @emargolis, @andy31415, @yufengwangca, @kghost, @bzbarksy-apple, @bzbarsky-apple, @gjc13, @damian-nordic, @erjiaqing, @shana-apple, @yunhanw-google, @vivien-apple, @erjianqing, @mrjerryjohns, @jrhees-cae, @rgoliver, @austinh0, @bukepo, @kpschoedel

.github/CODEOWNERS:

# Current reviewers-XXX teams, who review everything for approval.
* @reviewers-amazon @reviewers-apple @reviewers-comcast @reviewers-google @reviewers-nordic @reviewers-samsung @reviewers-silabs


# BUILD system

*.gn @mspang
/build/ @mspang
/scripts/build/ @mspang

# Crypto
# Crypto primitives and high level API, generally on top of mbedtls and openssl
/src/crypto/* @pan-apple @emargolis
/src/credentials/ @pan-apple @emargolis

# Transport
# Send and receive data abstracting away the underlying protocol (UDP, TCP, BLE)
/src/transport/ @andy31415 @pan-apple

# Session establishment
# Establish a secure session (encryption keys) from one node to another.
# Includes CASE and PASE + session tracking and resumptioon
/src/protocols/secure_channel/ @pan-apple

# Message Layer
# CRMP and packet headers, generally coupled with SecureSessionManager
/src/messaging @yufengwangca @kghost @bzbarksy-apple
/src/transport/raw/MessageHeader.* @yufengwangca @kghost @bzbarksy-apple

# SecureSessionManager
# Manages per-session encryption keys and new session establishment
/src/transport/SecureSessionMgr.* @pan-apple

# Exchange management
# Joins requests and responses or ties a series of messages belonging to the 
# same protocol interaction
/src/messaging/ @yufengwangca @bzbarsky-apple
/src/channel/ @yufengwangca @bzbarsky-apple

# DNS-SD discovery and advertisement
# Advertise chip devices for commisioning, operational and discover such devices
/src/lib/mdns/ @andy31415 @gjc13 @damian-nordic

# Commisioning controller/flow
# Example of a comisioning sequence
/src/controller/ @pan-apple @erjiaqing

# Operational credentials management
# Signing certificates, maintaining roots of trust, validation, fabric management
/src/controller/ @shana-apple @pan-apple
/src/transport/AdminPairingTable.* @shana-apple @pan-apple

# TLV encoding/decoding to/from byte buffers
/src/lib/core/CHIPTLV* @yunhanw-google @bzbarsky-apple @shana-apple

# Interaction model - ember implementation
# ZCL protocol implementation: ZCL encoding to be sent over the wire as a 
# ZigbeePro protocol implementation
/src/app/util/ @vivien-apple @erjianqing @bzbarsky-apple

# Interaction model - non-ember
# Protocol implementation for IM interactions between nodes, matching spec
/src/app/ @yunhanw-google @bzbarsky-apple @mrjerryjohns

# Interaction model - code generation
# CHIP-specific infrastructure for generating code: helper js methods, scripts
# and code layout
/src/app/zap-templates/ @vivien-apple @erjianqing

# ZAP suppport
# UI for editing XML, generates code from such ZML and configuration files
# NOT part of CHIP however CHIP relies heavily on ZAP.
#    @vivien-apple  @tecimovic

# 'Standard' cluster implementations (server side)
# Clusters shipped with the sdk, can be integrated as-is or used as a template
/src/app/clusters/ @vivien-apple

# Onboarding payload
# Parsing and generation of codes (includes QR and NFC), numeric pairing payload
/src/setup_payload/ @shana-apple @vivien-apple @jrhees-cae

# Device Layer
# Porting interfaces, scaffolding for building an example firmware
/src/platform/ @mspang @yufengwangca
/src/include/platform/ @mspang @yufengwangca

# Persistent storage
# Save state across reboots
/src/platform/*/KeyValueStore* @rgoliver

# Python bindings for CHIP - CLI
# Allows python code to use CHIP, generally targeted towards automation
/src/controller/python/ @andy31415 @erjianqing

# CHIP-tool C++ CLI
# Command line interface to chip as a client (controller and commisioner)
# Includes generated code for every base cluster
/examples/chip-tool/ @vivien-apple

# CHIP-tool iOS UI
/src/darwin/CHIPTool/ @shana-apple

# CHIP-tool Android
/src/android/CHIPTool/ @austinh0
/src/controller/java/ @austinh0

# End2End autogenerated tests
/src/darwin/Framework/Chip-templates/ @vivien-apple
/src/app/tests/suites/ @vivien-apple

# End2End cirque tests
# Simulate topology (cirque) and ptyhon-based test automation
/src/test_driver/linux/cirque/ @erjianqing @yunhanw-google

# Thread integration
# Thread-specific functionality (network provisioning, operational discovery, SRP registration etc.)
/src/platform/OpenThread/ @bukepo
/src/platform/*/ThreadStackmanagerImpl.* @bukepo

# Inet
# Networking abstraction layer (UDP-endpoint, TCP-endpoint, InetLayerBasis)
/src/inet/ @kpschoedel 

# System layer
/src/system/ @kpschoedel 

# BLE support
/src/ble/ @yunhanw-google

# CHIP Shell
# Command-line UART/stdin interface as a side-channel to CHIP accessories
# Aimed as user-friendly/manual control
/src/examples/shell/ @gjc13 @yufengwangca

# RPC
# Side-channlel command path (outside chip), generally for automation and debugging
# Aimed as "scriptable" when compared to shell
/examples/common/pigweed/ @rgoliver
/examples/pigweed-app/ @rgoliver

# Tooling for crypto manual generation
# Generates data for sample PKI
/src/tools/chip-cert/ @emargolis

# Channel API
# Construct a transport/secure session based on peer info and transport type.
# Focused on CASE session establishment
/src/channel/ @kghost

# Darwin framework
# Exposes a darwin API (Objective-C/swift rather than raw C++ API) for darwin
# applications
/src/darwin/Framework/ @shana-apple @vivien-apple @pan-apple

cast narrowing conversion
  src/system/SystemPacketBuffer.cpp
Owners: @kpschoedel

zap regen
  src/app/common/gen/attributes/Accessors.cpp
  src/app/common/gen/attributes/Accessors.h
Owners: @yunhanw-google, @bzbarsky-apple, @mrjerryjohns

Restyled by clang-format
  src/lib/support/Span.h
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

[dns-sd] Add support for service subtypes on Thread devices
  src/include/platform/ThreadStackManager.h
  src/lib/mdns/Advertiser.h
  src/lib/mdns/Discovery_ImplPlatform.cpp
  src/lib/support/Span.h
  src/platform/OpenThread/GenericThreadStackManagerImpl_OpenThread.cpp
  src/platform/OpenThread/GenericThreadStackManagerImpl_OpenThread.h
  src/platform/OpenThread/MdnsImpl.cpp
Owners: @mspang, @yufengwangca, @andy31415, @gjc13, @damian-nordic, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @bukepo

Address code-review comments
  src/lib/mdns/Advertiser.h
  src/lib/mdns/Discovery_ImplPlatform.cpp
  src/platform/OpenThread/GenericThreadStackManagerImpl_OpenThread.cpp
Owners: @andy31415, @gjc13, @damian-nordic, @bukepo

ESP32: Remove unused components from examples
  examples/lock-app/esp32/CMakeLists.txt
  examples/lock-app/esp32/main/CMakeLists.txt
  examples/temperature-measurement-app/esp32/CMakeLists.txt
  examples/temperature-measurement-app/esp32/main/CMakeLists.txt
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

exit with cleanup when needed
  src/crypto/hsm/nxp/CHIPCryptoPALHsm_SE05X_HKDF.cpp
  src/crypto/hsm/nxp/CHIPCryptoPALHsm_SE05X_HMAC.cpp
  src/crypto/hsm/nxp/CHIPCryptoPALHsm_SE05X_P256.cpp
  src/crypto/hsm/nxp/CHIPCryptoPALHsm_SE05X_PBKDF.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

zap regen
  src/app/common/gen/attributes/Accessors.cpp
  src/app/common/gen/attributes/Accessors.h
Owners: @yunhanw-google, @bzbarsky-apple, @mrjerryjohns

[fix] emberAfCopyString should accept size_t size
  src/app/util/af.h
  src/app/util/attribute-storage.cpp
  src/app/util/util.cpp
Owners: @yunhanw-google, @bzbarsky-apple, @mrjerryjohns

Rename seconds to Ms for IM subscribe
  src/app/MessageDef/SubscribeRequest.cpp
  src/app/MessageDef/SubscribeRequest.h
  src/app/MessageDef/SubscribeResponse.cpp
  src/app/MessageDef/SubscribeResponse.h
  src/app/tests/TestMessageDef.cpp
Owners: @yunhanw-google, @bzbarsky-apple, @mrjerryjohns

Add IM timed request builder/parser
  src/app/BUILD.gn
  src/app/MessageDef/TimedRequest.cpp
  src/app/MessageDef/TimedRequest.h
  src/app/tests/TestMessageDef.cpp
Owners: @yunhanw-google, @bzbarsky-apple, @mrjerryjohns

Merge lock-app test to single file Add lock-app smoke test Mark tests as expected to fail
  src/test_driver/mbed/integration_tests/lock-app/test_app.py
  src/test_driver/mbed/integration_tests/lock-app/test_provisioning.py
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Readme added for Lighting App example
  examples/lighting-app/mbed/README.md
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Add script for starting zaptool easily
  scripts/tools/zap/run_zaptool.sh
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Restyled by shellharden
  scripts/tools/zap/run_zaptool.sh
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Restyled by whitespace
  scripts/tools/zap/run_zaptool.sh
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Restyled by shfmt
  scripts/tools/zap/run_zaptool.sh
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

error code required
  src/crypto/hsm/nxp/CHIPCryptoPALHsm_SE05X_HMAC.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Restyled by clang-format
  src/crypto/hsm/nxp/CHIPCryptoPALHsm_SE05X_HKDF.cpp
  src/crypto/hsm/nxp/CHIPCryptoPALHsm_SE05X_HMAC.cpp
  src/crypto/hsm/nxp/CHIPCryptoPALHsm_SE05X_P256.cpp
  src/crypto/hsm/nxp/CHIPCryptoPALHsm_SE05X_PBKDF.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

restyled
  src/crypto/hsm/nxp/CHIPCryptoPALHsm_SE05X_HKDF.cpp
  src/crypto/hsm/nxp/CHIPCryptoPALHsm_SE05X_HMAC.cpp
  src/crypto/hsm/nxp/CHIPCryptoPALHsm_SE05X_P256.cpp
  src/crypto/hsm/nxp/CHIPCryptoPALHsm_SE05X_PBKDF.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

run_zaptool script: exit on setup failure
  scripts/tools/zap/run_zaptool.sh
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Addressed review comments
  src/lib/shell/commands/Dns.cpp
  src/platform/OpenThread/GenericThreadStackManagerImpl_OpenThread.cpp
  src/platform/OpenThread/GenericThreadStackManagerImpl_OpenThread.h
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @bukepo

Fix memory leak and Return message
  examples/all-clusters-app/Ameba/main/CHIPDeviceManager.cpp
  src/platform/Ameba/AmebaConfig.cpp
  src/platform/Ameba/AmebaUtils.cpp
  src/platform/Ameba/BLEManagerImpl.h
  src/platform/Ameba/SystemTimeSupport.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @mspang, @yufengwangca

run_zaptool script: Added copyrights, formatting
  scripts/tools/zap/run_zaptool.sh
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Additional PacketBuffer size fixes. (#8259)
  src/system/SystemPacketBuffer.cpp
  src/system/SystemPacketBuffer.h
  src/system/tests/TestSystemPacketBuffer.cpp
Owners: @kpschoedel

Restyled by whitespace
  scripts/tools/zap/run_zaptool.sh
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Restyled by shfmt
  scripts/tools/zap/run_zaptool.sh
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Restyled by shellharden
  scripts/tools/zap/run_zaptool.sh
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Added buffer overflow check to ASN1Writer method.
  src/credentials/GenerateChipX509Cert.cpp
  src/lib/asn1/ASN1Writer.cpp
Owners: @pan-apple, @emargolis, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Add IM timed request builder/parser (#8264)
  src/app/BUILD.gn
  src/app/MessageDef/TimedRequest.cpp
  src/app/MessageDef/TimedRequest.h
  src/app/tests/TestMessageDef.cpp
Owners: @yunhanw-google, @bzbarsky-apple, @mrjerryjohns

Add gn builder as a generic build class, to make gn configuration uniform
  scripts/build/builders/efr32.py
  scripts/build/builders/gn.py
  scripts/build/builders/linux.py
  scripts/build/builders/qpg.py
  scripts/build/runner/shell.py
Owners: @mspang

CI linux build fix
  examples/platform/linux/CommissioneeShellCommands.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Restyled by whitespace
  examples/platform/linux/CommissioneeShellCommands.h
  examples/platform/linux/ControllerShellCommands.h
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Remove TrustedRootID from Sigma messages. Replce HKDF algorithm with HMAC-SHA256 Algorithm in GenerateDestinationID method.
  src/controller/CHIPDeviceController.cpp
  src/protocols/secure_channel/CASESession.h
Owners: @shana-apple, @pan-apple

cast 1 to uint8_t to avoid compiler errors on other platforms
  src/protocols/secure_channel/tests/TestCASESession.cpp
  src/transport/AdminPairingTable.cpp
Owners: @pan-apple, @shana-apple

CASE spec refresh
  src/channel/Channel.h
  src/channel/ChannelContext.cpp
  src/controller/CHIPDevice.cpp
  src/controller/CHIPDevice.h
  src/credentials/CHIPOperationalCredentials.cpp
  src/credentials/CHIPOperationalCredentials.h
  src/protocols/secure_channel/CASESession.cpp
  src/protocols/secure_channel/CASESession.h
  src/protocols/secure_channel/tests/TestCASESession.cpp
Owners: @kghost, @shana-apple, @pan-apple, @emargolis

Fix uint8_t conversion
  src/protocols/secure_channel/tests/TestCASESession.cpp
  src/transport/AdminPairingTable.cpp
Owners: @pan-apple, @shana-apple

Remove unused files
  src/platform/Ameba/AmebaUtils.cpp
  src/platform/Ameba/AmebaUtils.h
  src/platform/Ameba/BLEManagerImpl.h
  src/platform/Ameba/BUILD.gn
  src/platform/Ameba/KeyValueStoreManagerImpl.cpp
  src/platform/Ameba/NetworkProvisioningServerImpl.h
  src/platform/Ameba/SoftwareUpdateManagerImpl.h
Owners: @mspang, @yufengwangca, @rgoliver

Restyled by whitespace
  src/platform/Ameba/AmebaConfig.h
Owners: @mspang, @yufengwangca

Restyled by clang-format
  config/Ameba/mbedtls/mbedtls_config.h
  examples/all-clusters-app/Ameba/main/CHIPDeviceManager.cpp
  examples/all-clusters-app/Ameba/main/DeviceCallbacks.cpp
  examples/all-clusters-app/Ameba/main/chipinterface.cpp
  src/platform/Ameba/AmebaConfig.cpp
  src/platform/Ameba/ConfigurationManagerImpl.cpp
  src/platform/Ameba/ConfigurationManagerImpl.h
  src/platform/Ameba/ConnectivityManagerImpl.cpp
  src/platform/Ameba/InetPlatformConfig.h
  src/platform/Ameba/Logging.cpp
  src/platform/Ameba/PlatformManagerImpl.cpp
  src/platform/Ameba/SystemTimeSupport.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @mspang, @yufengwangca
