Repository project-chip/connectedhomeip, changes with the owners that .github/CODEOWNERS names for each.
All owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @mspang, @pan-apple, @emargolis, @andy31415, @yufengwangca, @kghost, @bzbarksy-apple, @bzbarsky-apple, @gjc13, @damian-nordic, @erjiaqing, @shana-apple, @yunhanw-google, @vivien-apple, @erjianqing, @mrjerryjohns, @jrhees-cae, @rgoliver, @austinh0, @bukepo, @kpschoedel

Regenerated files
  examples/all-clusters-app/all-clusters-common/gen/IMClusterCommandHandler.cpp
  examples/all-clusters-app/all-clusters-common/gen/callback.h
  examples/all-clusters-app/all-clusters-common/gen/endpoint_config.h
  examples/all-clusters-app/all-clusters-common/gen/gen_config.h
  examples/chip-tool/commands/clusters/Commands.h
  examples/chip-tool/commands/reporting/Commands.h
  examples/lighting-app/lighting-common/gen/IMClusterCommandHandler.cpp
  examples/lighting-app/lighting-common/gen/callback-stub.cpp
  examples/lighting-app/lighting-common/gen/callback.h
  examples/lighting-app/lighting-common/gen/endpoint_config.h
  examples/lighting-app/lighting-common/gen/gen_config.h
  src/controller/data_model/gen/CHIPClusters.cpp
  src/controller/data_model/gen/CHIPClusters.h
  src/controller/data_model/gen/callback-stub.cpp
  src/controller/data_model/gen/callback.h
  src/controller/data_model/gen/chip-zcl-zpro-codec-api.h
  src/controller/data_model/gen/encoder.cpp
  src/controller/data_model/gen/endpoint_config.h
  src/controller/data_model/gen/gen_config.h
  src/controller/java/gen/CHIPClusters-JNI.cpp
  src/controller/java/gen/ChipClusters.java
  src/controller/python/chip/clusters/CHIPClusters.cpp
  src/controller/python/chip/clusters/CHIPClusters.py
  src/darwin/Framework/CHIP/gen/CHIPClustersObjc.h
  src/darwin/Framework/CHIP/gen/CHIPClustersObjc.mm
  src/darwin/Framework/CHIPTests/CHIPClustersTests.m
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @vivien-apple, @shana-apple, @pan-apple, @austinh0, @andy31415, @erjianqing

[nrfconnect] Stop using cooperative threads
  examples/lighting-app/nrfconnect/main/main.cpp
  examples/lighting-app/telink/src/main.cpp
  examples/lock-app/nrfconnect/main/main.cpp
  examples/pump-app/nrfconnect/main/main.cpp
  examples/pump-controller-app/nrfconnect/main/main.cpp
  src/platform/nrfconnect/CHIPDevicePlatformConfig.h
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @mspang, @yufengwangca

WIP Add EnhancedHue logic to the color-control. Add color-control.cpp to nordic and telink light example
  examples/lighting-app/efr32/src/ZclCallbacks.cpp
  examples/lighting-app/nrfconnect/CMakeLists.txt
  examples/lighting-app/telink/CMakeLists.txt
  src/app/clusters/color-control-server/color-control-server.cpp
  src/app/zap-templates/zcl/data-model/silabs/zll.xml
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @vivien-apple, @erjianqing

Regen all
  examples/all-clusters-app/all-clusters-common/gen/IMClusterCommandHandler.cpp
  examples/all-clusters-app/all-clusters-common/gen/callback.h
  examples/all-clusters-app/all-clusters-common/gen/endpoint_config.h
  examples/chip-tool/commands/clusters/Commands.h
  examples/lighting-app/lighting-common/gen/IMClusterCommandHandler.cpp
  examples/lighting-app/lighting-common/gen/callback-stub.cpp
  examples/lighting-app/lighting-common/gen/callback.h
  examples/lighting-app/lighting-common/gen/endpoint_config.h
  examples/lighting-app/lighting-common/gen/gen_config.h
  src/app/common/gen/client-command-macro.h
  src/controller/data_model/gen/CHIPClientCallbacks.cpp
  src/controller/data_model/gen/CHIPClusters.cpp
  src/controller/data_model/gen/CHIPClusters.h
  src/controller/data_model/gen/endpoint_config.h
  src/controller/java/gen/CHIPClusters-JNI.cpp
  src/controller/java/gen/ChipClusters.java
  src/controller/python/chip/clusters/CHIPClusters.cpp
  src/controller/python/chip/clusters/CHIPClusters.py
  src/darwin/Framework/CHIP/gen/CHIPClustersObjc.h
  src/darwin/Framework/CHIP/gen/CHIPClustersObjc.mm
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @vivien-apple, @yunhanw-google, @bzbarsky-apple, @mrjerryjohns, @shana-apple, @pan-apple, @austinh0, @andy31415, @erjianqing

update format specifier
  src/transport/SecureSessionMgr.cpp
Owners: @pan-apple

Rebase and regen
  examples/all-clusters-app/all-clusters-common/gen/endpoint_config.h
  examples/all-clusters-app/all-clusters-common/gen/gen_config.h
  examples/chip-tool/commands/clusters/Commands.h
  examples/lighting-app/efr32/src/ZclCallbacks.cpp
  examples/lighting-app/lighting-common/gen/IMClusterCommandHandler.cpp
  src/controller/data_model/gen/CHIPClientCallbacks.cpp
  src/controller/data_model/gen/CHIPClusters.cpp
  src/controller/data_model/gen/CHIPClusters.h
  src/controller/data_model/gen/chip-zcl-zpro-codec-api.h
  src/controller/data_model/gen/encoder.cpp
  src/controller/data_model/gen/endpoint_config.h
  src/controller/data_model/gen/gen_config.h
  src/controller/python/chip/clusters/CHIPClusters.cpp
  src/controller/python/chip/clusters/CHIPClusters.py
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @vivien-apple, @shana-apple, @pan-apple, @andy31415, @erjianqing

Remove client-command-macro.h-aa80d825 from examples/bridge-app/bridge-common/gen
  examples/bridge-app/bridge-common/gen/client-command-macro.h-aa80d825
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Revert "Mark UDP socket as ready for write in send msg. (#7927)"
  src/inet/UDPEndPoint.cpp
Owners: @kpschoedel

Lighten the stack load for the failing test.
  src/lib/mdns/minimal/tests/TestResponseSender.cpp
Owners: @andy31415, @gjc13, @damian-nordic

address review comments
  src/darwin/CHIPTool/CHIPTool/Framework Helpers/DefaultsUtils.m
  src/darwin/Framework/CHIP/CHIPDeviceController.mm
Owners: @shana-apple, @vivien-apple, @pan-apple

WC: Add Target Positions support to scenes
  src/app/clusters/scenes/scenes.cpp
  src/app/util/af-types.h
Owners: @vivien-apple, @yunhanw-google, @bzbarsky-apple, @mrjerryjohns

Revert "Mark UDP socket as ready for write in send msg. (#7927)" (#8027)
  src/inet/UDPEndPoint.cpp
Owners: @kpschoedel

Typo/Comments Cleanup for IM WriteClient and WriteHandler
  src/app/InteractionModelDelegate.h
  src/app/InteractionModelEngine.h
  src/app/WriteClient.cpp
  src/app/WriteClient.h
  src/app/WriteHandler.cpp
  src/app/WriteHandler.h
Owners: @yunhanw-google, @bzbarsky-apple, @mrjerryjohns

Add Color Control Event handlers in af-gen-event.h for ligthing example has there are not auto generated
  examples/lighting-app/efr32/src/ZclCallbacks.cpp
  examples/lighting-app/lighting-common/gen/af-gen-event.h
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Restyled by clang-format
  src/app/util/af-types.h
Owners: @yunhanw-google, @bzbarsky-apple, @mrjerryjohns

Added Introspection for RPC methods (#39)
  src/controller/python/chip-device-ctrl.py
  src/controller/python/test_client/rpc_client.py
Owners: @andy31415, @erjianqing

Restyle fixing
  src/app/util/af-types.h
Owners: @yunhanw-google, @bzbarsky-apple, @mrjerryjohns

dependencies for UDC
  src/app/server/Mdns.cpp
  src/app/server/Mdns.h
  src/controller/python/ChipDeviceController-ScriptBinding.cpp
  src/lib/mdns/Advertiser.h
  src/lib/mdns/Advertiser_ImplMinimalMdns.cpp
  src/lib/mdns/Discovery_ImplPlatform.cpp
  src/lib/mdns/Discovery_ImplPlatform.h
  src/lib/mdns/Resolver.h
  src/lib/mdns/Resolver_ImplMinimalMdns.cpp
  src/lib/mdns/ServiceNaming.cpp
  src/lib/mdns/ServiceNaming.h
  src/lib/mdns/tests/TestServiceNaming.cpp
Owners: @yunhanw-google, @bzbarsky-apple, @mrjerryjohns, @andy31415, @erjianqing, @gjc13, @damian-nordic

Restyled by whitespace
  examples/lighting-app/lighting-common/gen/af-gen-event.h
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Restyled by clang-format
  examples/lighting-app/efr32/src/ZclCallbacks.cpp
  examples/lighting-app/lighting-common/gen/af-gen-event.h
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

fix build
  src/lib/mdns/Advertiser.h
Owners: @andy31415, @gjc13, @damian-nordic

[ZAP] Add isAnalog instead of isDiscreteType to account for string types (#7821)
  examples/chip-tool/templates/commands.zapt
  src/app/zap-templates/common/ClustersHelper.js
  src/app/zap-templates/templates/app/CHIPClusters-src.zapt
  src/app/zap-templates/templates/app/CHIPClusters.zapt
  src/app/zap-templates/templates/app/chip-zcl-zpro-codec-api.zapt
  src/app/zap-templates/templates/app/encoder-src.zapt
  src/app/zap-templates/templates/chip/helper.js
  src/controller/python/templates/python-CHIPClusters-cpp.zapt
  src/controller/python/templates/python-CHIPClusters-py.zapt
  src/darwin/Framework/CHIP/templates/CHIPClustersObjc-src.zapt
  src/darwin/Framework/CHIP/templates/CHIPClustersObjc.zapt
Owners: @vivien-apple, @erjianqing, @andy31415, @shana-apple, @pan-apple

Mdns: separate query responders for advertisers (#7615)
  src/lib/mdns/Advertiser_ImplMinimalMdns.cpp
  src/lib/mdns/minimal/ResponseSender.cpp
  src/lib/mdns/minimal/ResponseSender.h
  src/lib/mdns/minimal/tests/TestResponseSender.cpp
Owners: @andy31415, @gjc13, @damian-nordic

[nrfconnect] Stop using cooperative threads (#8025)
  examples/lighting-app/nrfconnect/main/main.cpp
  examples/lighting-app/telink/src/main.cpp
  examples/lock-app/nrfconnect/main/main.cpp
  examples/pump-app/nrfconnect/main/main.cpp
  examples/pump-controller-app/nrfconnect/main/main.cpp
  src/platform/nrfconnect/CHIPDevicePlatformConfig.h
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @mspang, @yufengwangca

IPV6-only test app for esp32 (examples/ipv6only-app) (#7289)
  examples/ipv6only-app/common/gdm_wifi_base_rpc.options
  examples/ipv6only-app/common/gdm_wifi_base_rpc.proto
  examples/ipv6only-app/esp32/.gitignore
  examples/ipv6only-app/esp32/CMakeLists.txt
  examples/ipv6only-app/esp32/README.md
  examples/ipv6only-app/esp32/include/gdm_wifi_service.h
  examples/ipv6only-app/esp32/main/CMakeLists.txt
  examples/ipv6only-app/esp32/main/Kconfig.projbuild
  examples/ipv6only-app/esp32/main/gdm_wifi_service.cpp
  examples/ipv6only-app/esp32/main/main.cpp
  examples/ipv6only-app/esp32/partitions.csv
  examples/ipv6only-app/esp32/sdkconfig.defaults
  examples/ipv6only-app/esp32/third_party/connectedhomeip
  examples/lock-app/esp32/main/Rpc.cpp
  examples/pigweed-app/esp32/main/main.cpp
  examples/platform/esp32/PigweedLogger.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @rgoliver

fix mdns examples
  examples/minimal-mdns/server.cpp
  src/lib/mdns/Advertiser.h
  src/lib/mdns/Advertiser_ImplMinimalMdns.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @andy31415, @gjc13, @damian-nordic

Use synchronizable keys for Darwin credentials issuer
  src/darwin/Framework/CHIP/CHIPOperationalCredentialsDelegate.h
  src/darwin/Framework/CHIP/CHIPOperationalCredentialsDelegate.mm
Owners: @shana-apple, @vivien-apple, @pan-apple

[ESP32] fix compile error for persistent-storage app (#7940)
  .github/workflows/examples-esp32.yaml
  examples/persistent-storage/KeyValueStorageTest.cpp
  examples/persistent-storage/esp32/CMakeLists.txt
  examples/temperature-measurement-app/esp32/sdkconfig_m5stack.defaults
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Have a single loopback transport implementation for tests.
  src/channel/tests/TestChannel.cpp
  src/messaging/tests/TestExchangeMgr.cpp
  src/messaging/tests/TestReliableMessageProtocol.cpp
  src/protocols/secure_channel/tests/BUILD.gn
  src/protocols/secure_channel/tests/TestCASESession.cpp
  src/protocols/secure_channel/tests/TestMessageCounterManager.cpp
  src/protocols/secure_channel/tests/TestPASESession.cpp
  src/transport/raw/tests/BUILD.gn
  src/transport/raw/tests/NetworkTestHelpers.h
  src/transport/tests/TestSecureSessionMgr.cpp
Owners: @kghost, @yufengwangca, @bzbarsky-apple, @pan-apple, @andy31415

Split KeyValueStoreManager.java into interface and impl, and add Set() in JNI.
  src/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/CHIPToolActivity.kt
  src/controller/java/AndroidKeyValueStoreManagerImpl.cpp
  src/controller/java/AndroidKeyValueStoreManagerImpl.h
  src/controller/java/BUILD.gn
  src/controller/java/CHIPDeviceController-JNI.cpp
  src/controller/java/src/chip/devicecontroller/ChipDeviceController.java
  src/controller/java/src/chip/devicecontroller/KeyValueStoreManager.java
  src/controller/java/src/chip/devicecontroller/PreferencesKeyValueStoreManager.java
Owners: @austinh0

Restyled by google-java-format
  src/controller/java/src/chip/devicecontroller/PreferencesKeyValueStoreManager.java
Owners: @austinh0

Throw exception instead of return 0 for get-fabricid in case of error (#7884)
  src/controller/python/chip/ChipDeviceCtrl.py
Owners: @andy31415, @erjianqing

Split KeyValueStoreManager.java into interface and impl, and add Set() in JNI.
  src/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/CHIPToolActivity.kt
  src/controller/java/AndroidKeyValueStoreManagerImpl.cpp
  src/controller/java/AndroidKeyValueStoreManagerImpl.h
  src/controller/java/BUILD.gn
  src/controller/java/CHIPDeviceController-JNI.cpp
  src/controller/java/src/chip/devicecontroller/ChipDeviceController.java
  src/controller/java/src/chip/devicecontroller/KeyValueStoreManager.java
  src/controller/java/src/chip/devicecontroller/PreferencesKeyValueStoreManager.java
Owners: @austinh0

fix typo
  src/lib/mdns/Discovery_ImplPlatform.cpp
Owners: @andy31415, @gjc13, @damian-nordic

Updated CHIP Certs Implementation to Use Spans instaed of Pointer/Len Pairs.
  src/controller/CHIPDeviceController.cpp
  src/credentials/CHIPCert.cpp
  src/credentials/CHIPCert.h
  src/credentials/CHIPCertFromX509.cpp
  src/credentials/CHIPCertToX509.cpp
  src/credentials/CHIPOperationalCredentials.cpp
  src/credentials/CHIPOperationalCredentials.h
  src/credentials/tests/CHIPCert_test_vectors.cpp
  src/credentials/tests/CHIPCert_test_vectors.h
  src/credentials/tests/TestChipCert.cpp
  src/credentials/tests/TestChipOperationalCredentials.cpp
  src/crypto/tests/CHIPCryptoPALTest.cpp
  src/lib/support/Span.h
  src/protocols/secure_channel/CASESession.cpp
  src/protocols/secure_channel/CASESession.h
  src/protocols/secure_channel/tests/TestCASESession.cpp
  src/tools/chip-cert/CertUtils.cpp
  src/tools/chip-cert/Cmd_GenCert.cpp
  src/tools/chip-cert/Cmd_PrintCert.cpp
  src/tools/chip-cert/Cmd_ValidateCert.cpp
  src/tools/chip-cert/chip-cert.h
  src/transport/AdminPairingTable.cpp
Owners: @shana-apple, @pan-apple, @emargolis, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Fix admin id used in the peer-to-local session in messaging context.
  src/messaging/tests/MessagingContext.cpp
Owners: @yufengwangca, @bzbarsky-apple

fix broken nRF build
  src/lib/mdns/Advertiser_ImplNone.cpp
Owners: @andy31415, @gjc13, @damian-nordic

Resolve comments
  src/lib/support/BytesCircularBuffer.cpp
  src/lib/support/BytesCircularBuffer.h
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Resolve comments
  src/lib/support/BytesCircularBuffer.cpp
  src/lib/support/tests/TestBytesCircularBuffer.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Update src/lib/support/StringCircularBuffer.cpp
  src/lib/support/StringCircularBuffer.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

.github/CODEOWNERS:

# Current reviewers-XXX teams, who review everything for approval.
* @reviewers-amazon @reviewers-apple @reviewers-comcast @reviewers-google @reviewers-nordic @reviewers-samsung @reviewers-silabs


# BUILD system

*.gn @mspang
/build/ @mspang
/scripts/build/ @mspang

# Crypto
# Crypto primitives and high level API, generally on top of mbedtls and openssl
/src/crypto/* @pan-apple @emargolis
/src/credentials/ @pan-apple @emargolis

# Transport
# Send and receive data abstracting away the underlying protocol (UDP, TCP, BLE)
/src/transport/ @andy31415 @pan-apple

# Session establishment
# Establish a secure session (encryption keys) from one node to another.
# Includes CASE and PASE + session tracking and resumptioon
/src/protocols/secure_channel/ @pan-apple

# Message Layer
# CRMP and packet headers, generally coupled with SecureSessionManager
/src/messaging @yufengwangca @kghost @bzbarksy-apple
/src/transport/raw/MessageHeader.* @yufengwangca @kghost @bzbarksy-apple

# SecureSessionManager
# Manages per-session encryption keys and new session establishment
/src/transport/SecureSessionMgr.* @pan-apple

# Exchange management
# Joins requests and responses or ties a series of messages belonging to the 
# same protocol interaction
/src/messaging/ @yufengwangca @bzbarsky-apple
/src/channel/ @yufengwangca @bzbarsky-apple

# DNS-SD discovery and advertisement
# Advertise chip devices for commisioning, operational and discover such devices
/src/lib/mdns/ @andy31415 @gjc13 @damian-nordic

# Commisioning controller/flow
# Example of a comisioning sequence
/src/controller/ @pan-apple @erjiaqing

# Operational credentials management
# Signing certificates, maintaining roots of trust, validation, fabric management
/src/controller/ @shana-apple @pan-apple
/src/transport/AdminPairingTable.* @shana-apple @pan-apple

# TLV encoding/decoding to/from byte buffers
/src/lib/core/CHIPTLV* @yunhanw-google @bzbarsky-apple @shana-apple

# Interaction model - ember implementation
# ZCL protocol implementation: ZCL encoding to be sent over the wire as a 
# ZigbeePro protocol implementation
/src/app/util/ @vivien-apple @erjianqing @bzbarsky-apple

# Interaction model - non-ember
# Protocol implementation for IM interactions between nodes, matching spec
/src/app/ @yunhanw-google @bzbarsky-apple @mrjerryjohns

# Interaction model - code generation
# CHIP-specific infrastructure for generating code: helper js methods, scripts
# and code layout
/src/app/zap-templates/ @vivien-apple @erjianqing

# ZAP suppport
# UI for editing XML, generates code from such ZML and configuration files
# NOT part of CHIP however CHIP relies heavily on ZAP.
#    @vivien-apple  @tecimovic

# 'Standard' cluster implementations (server side)
# Clusters shipped with the sdk, can be integrated as-is or used as a template
/src/app/clusters/ @vivien-apple

# Onboarding payload
# Parsing and generation of codes (includes QR and NFC), numeric pairing payload
/src/setup_payload/ @shana-apple @vivien-apple @jrhees-cae

# Device Layer
# Porting interfaces, scaffolding for building an example firmware
/src/platform/ @mspang @yufengwangca
/src/include/platform/ @mspang @yufengwangca

# Persistent storage
# Save state across reboots
/src/platform/*/KeyValueStore* @rgoliver

# Python bindings for CHIP - CLI
# Allows python code to use CHIP, generally targeted towards automation
/src/controller/python/ @andy31415 @erjianqing

# CHIP-tool C++ CLI
# Command line interface to chip as a client (controller and commisioner)
# Includes generated code for every base cluster
/examples/chip-tool/ @vivien-apple

# CHIP-tool iOS UI
/src/darwin/CHIPTool/ @shana-apple

# CHIP-tool Android
/src/android/CHIPTool/ @austinh0
/src/controller/java/ @austinh0

# End2End autogenerated tests
/src/darwin/Framework/Chip-templates/ @vivien-apple
/src/app/tests/suites/ @vivien-apple

# End2End cirque tests
# Simulate topology (cirque) and ptyhon-based test automation
/src/test_driver/linux/cirque/ @erjianqing @yunhanw-google

# Thread integration
# Thread-specific functionality (network provisioning, operational discovery, SRP registration etc.)
/src/platform/OpenThread/ @bukepo
/src/platform/*/ThreadStackmanagerImpl.* @bukepo

# Inet
# Networking abstraction layer (UDP-endpoint, TCP-endpoint, InetLayerBasis)
/src/inet/ @kpschoedel 

# System layer
/src/system/ @kpschoedel 

# BLE support
/src/ble/ @yunhanw-google

# CHIP Shell
# Command-line UART/stdin interface as a side-channel to CHIP accessories
# Aimed as user-friendly/manual control
/src/examples/shell/ @gjc13 @yufengwangca

# RPC
# Side-channlel command path (outside chip), generally for automation and debugging
# Aimed as "scriptable" when compared to shell
/examples/common/pigweed/ @rgoliver
/examples/pigweed-app/ @rgoliver

# Tooling for crypto manual generation
# Generates data for sample PKI
/src/tools/chip-cert/ @emargolis

# Channel API
# Construct a transport/secure session based on peer info and transport type.
# Focused on CASE session establishment
/src/channel/ @kghost

# Darwin framework
# Exposes a darwin API (Objective-C/swift rather than raw C++ API) for darwin
# applications
/src/darwin/Framework/ @shana-apple @vivien-apple @pan-apple
