Repository project-chip/connectedhomeip, changes with the owners that .github/CODEOWNERS names for each.
All owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @mspang, @pan-apple, @emargolis, @andy31415, @yufengwangca, @kghost, @bzbarksy-apple, @bzbarsky-apple, @gjc13, @damian-nordic, @erjiaqing, @shana-apple, @yunhanw-google, @vivien-apple, @erjianqing, @mrjerryjohns, @jrhees-cae, @rgoliver, @austinh0, @bukepo, @kpschoedel

.github/CODEOWNERS:

# Current reviewers-XXX teams, who review everything for approval.
* @reviewers-amazon @reviewers-apple @reviewers-comcast @reviewers-google @reviewers-nordic @reviewers-samsung @reviewers-silabs


# BUILD system

*.gn @mspang
/build/ @mspang
/scripts/build/ @mspang

# Crypto
# Crypto primitives and high level API, generally on top of mbedtls and openssl
/src/crypto/* @pan-apple @emargolis
/src/credentials/ @pan-apple @emargolis

# Transport
# Send and receive data abstracting away the underlying protocol (UDP, TCP, BLE)
/src/transport/ @andy31415 @pan-apple

# Session establishment
# Establish a secure session (encryption keys) from one node to another.
# Includes CASE and PASE + session tracking and resumptioon
/src/protocols/secure_channel/ @pan-apple

# Message Layer
# CRMP and packet headers, generally coupled with SecureSessionManager
/src/messaging @yufengwangca @kghost @bzbarksy-apple
/src/transport/raw/MessageHeader.* @yufengwangca @kghost @bzbarksy-apple

# SecureSessionManager
# Manages per-session encryption keys and new session establishment
/src/transport/SecureSessionMgr.* @pan-apple

# Exchange management
# Joins requests and responses or ties a series of messages belonging to the 
# same protocol interaction
/src/messaging/ @yufengwangca @bzbarsky-apple
/src/channel/ @yufengwangca @bzbarsky-apple

# DNS-SD discovery and advertisement
# Advertise chip devices for commisioning, operational and discover such devices
/src/lib/mdns/ @andy31415 @gjc13 @damian-nordic

# Commisioning controller/flow
# Example of a comisioning sequence
/src/controller/ @pan-apple @erjiaqing

# Operational credentials management
# Signing certificates, maintaining roots of trust, validation, fabric management
/src/controller/ @shana-apple @pan-apple
/src/transport/AdminPairingTable.* @shana-apple @pan-apple

# TLV encoding/decoding to/from byte buffers
/src/lib/core/CHIPTLV* @yunhanw-google @bzbarsky-apple @shana-apple

# Interaction model - ember implementation
# ZCL protocol implementation: ZCL encoding to be sent over the wire as a 
# ZigbeePro protocol implementation
/src/app/util/ @vivien-apple @erjianqing @bzbarsky-apple

# Interaction model - non-ember
# Protocol implementation for IM interactions between nodes, matching spec
/src/app/ @yunhanw-google @bzbarsky-apple @mrjerryjohns

# Interaction model - code generation
# CHIP-specific infrastructure for generating code: helper js methods, scripts
# and code layout
/src/app/zap-templates/ @vivien-apple @erjianqing

# ZAP suppport
# UI for editing XML, generates code from such ZML and configuration files
# NOT part of CHIP however CHIP relies heavily on ZAP.
#    @vivien-apple  @tecimovic

# 'Standard' cluster implementations (server side)
# Clusters shipped with the sdk, can be integrated as-is or used as a template
/src/app/clusters/ @vivien-apple

# Onboarding payload
# Parsing and generation of codes (includes QR and NFC), numeric pairing payload
/src/setup_payload/ @shana-apple @vivien-apple @jrhees-cae

# Device Layer
# Porting interfaces, scaffolding for building an example firmware
/src/platform/ @mspang @yufengwangca
/src/include/platform/ @mspang @yufengwangca

# Persistent storage
# Save state across reboots
/src/platform/*/KeyValueStore* @rgoliver

# Python bindings for CHIP - CLI
# Allows python code to use CHIP, generally targeted towards automation
/src/controller/python/ @andy31415 @erjianqing

# CHIP-tool C++ CLI
# Command line interface to chip as a client (controller and commisioner)
# Includes generated code for every base cluster
/examples/chip-tool/ @vivien-apple

# CHIP-tool iOS UI
/src/darwin/CHIPTool/ @shana-apple

# CHIP-tool Android
/src/android/CHIPTool/ @austinh0
/src/controller/java/ @austinh0

# End2End autogenerated tests
/src/darwin/Framework/Chip-templates/ @vivien-apple
/src/app/tests/suites/ @vivien-apple

# End2End cirque tests
# Simulate topology (cirque) and ptyhon-based test automation
/src/test_driver/linux/cirque/ @erjianqing @yunhanw-google

# Thread integration
# Thread-specific functionality (network provisioning, operational discovery, SRP registration etc.)
/src/platform/OpenThread/ @bukepo
/src/platform/*/ThreadStackmanagerImpl.* @bukepo

# Inet
# Networking abstraction layer (UDP-endpoint, TCP-endpoint, InetLayerBasis)
/src/inet/ @kpschoedel 

# System layer
/src/system/ @kpschoedel 

# BLE support
/src/ble/ @yunhanw-google

# CHIP Shell
# Command-line UART/stdin interface as a side-channel to CHIP accessories
# Aimed as user-friendly/manual control
/src/examples/shell/ @gjc13 @yufengwangca

# RPC
# Side-channlel command path (outside chip), generally for automation and debugging
# Aimed as "scriptable" when compared to shell
/examples/common/pigweed/ @rgoliver
/examples/pigweed-app/ @rgoliver

# Tooling for crypto manual generation
# Generates data for sample PKI
/src/tools/chip-cert/ @emargolis

# Channel API
# Construct a transport/secure session based on peer info and transport type.
# Focused on CASE session establishment
/src/channel/ @kghost

# Darwin framework
# Exposes a darwin API (Objective-C/swift rather than raw C++ API) for darwin
# applications
/src/darwin/Framework/ @shana-apple @vivien-apple @pan-apple

[util] Introduce `to_underlying` for casting enum classes to underlying values. (#8125)
  examples/pump-app/pump-common/gen/CHIPClientCallbacks.cpp
  examples/pump-controller-app/pump-controller-common/gen/CHIPClientCallbacks.cpp
  src/app/CommandHandler.cpp
  src/app/WriteHandler.cpp
  src/app/tests/integration/chip_im_initiator.cpp
  src/app/util/ember-compatibility-functions.cpp
  src/app/zap-templates/templates/app/CHIPClientCallbacks-src.zapt
  src/controller/data_model/gen/CHIPClientCallbacks.cpp
  src/lib/support/TypeTraits.h
  src/protocols/interaction_model/Constants.h
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @yunhanw-google, @bzbarsky-apple, @mrjerryjohns, @vivien-apple, @erjianqing, @shana-apple, @pan-apple

[ChipTool] Add pairing qrcode/manualcode option (#8168)
  examples/chip-tool/commands/pairing/Commands.h
  examples/chip-tool/commands/pairing/PairingCommand.cpp
  examples/chip-tool/commands/pairing/PairingCommand.h
Owners: @vivien-apple

Improve PlatformManager documentation. (#8181)
  src/include/platform/PlatformManager.h
Owners: @mspang, @yufengwangca

[nrfconnect] Minor shell improvements (#8156)
  src/lib/shell/BUILD.gn
  src/lib/shell/MainLoopZephyr.cpp
  src/lib/shell/commands/Config.cpp
  src/lib/shell/streamer_zephyr.cpp
  src/lib/shell/streamer_zephyr.h
Owners: @mspang, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Log string attribute value into CHIPClientCallbacks.cpp (#8134)
  examples/pump-app/pump-common/gen/CHIPClientCallbacks.cpp
  examples/pump-controller-app/pump-controller-common/gen/CHIPClientCallbacks.cpp
  src/app/util/ember-compatibility-functions.cpp
  src/app/zap-templates/templates/app/CHIPClientCallbacks-src.zapt
  src/controller/data_model/gen/CHIPClientCallbacks.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @yunhanw-google, @bzbarsky-apple, @mrjerryjohns, @vivien-apple, @erjianqing, @shana-apple, @pan-apple

Review feedback
  src/app/clusters/operational-credentials-server/operational-credentials-server.cpp
Owners: @vivien-apple

Restyled by clang-format
  src/app/clusters/operational-credentials-server/operational-credentials-server.cpp
Owners: @vivien-apple

[ChipTool] Add pairing qrcode/manualcode option (#8168)
  examples/chip-tool/commands/pairing/Commands.h
  examples/chip-tool/commands/pairing/PairingCommand.cpp
  examples/chip-tool/commands/pairing/PairingCommand.h
Owners: @vivien-apple

[TV App] Enable missing attributes (#8120)
  examples/all-clusters-app/all-clusters-common/all-clusters-app.zap
  examples/all-clusters-app/all-clusters-common/gen/endpoint_config.h
  examples/chip-tool/commands/clusters/Commands.h
  examples/chip-tool/commands/tests/Commands.h
  examples/tv-app/tv-common/gen/endpoint_config.h
  examples/tv-app/tv-common/tv-app.zap
  src/app/tests/suites/TV_ApplicationLauncherCluster.yaml
  src/app/tests/suites/TV_MediaInputCluster.yaml
  src/controller/data_model/controller-clusters.zap
  src/controller/data_model/gen/CHIPClusters.cpp
  src/controller/data_model/gen/CHIPClusters.h
  src/controller/data_model/gen/chip-zcl-zpro-codec-api.h
  src/controller/data_model/gen/encoder.cpp
  src/controller/python/chip/clusters/CHIPClusters.cpp
  src/controller/python/chip/clusters/CHIPClusters.py
  src/darwin/Framework/CHIP/gen/CHIPClustersObjc.h
  src/darwin/Framework/CHIP/gen/CHIPClustersObjc.mm
  src/darwin/Framework/CHIPTests/CHIPClustersTests.m
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @vivien-apple, @shana-apple, @pan-apple, @andy31415, @erjianqing

Prepare the code for OpenThread update
  src/platform/OpenThread/OpenThreadUtils.cpp
Owners: @bukepo

Hotfix change - make cluster commands unique again, force a mergeable order
  examples/chip-tool/commands/pairing/Commands.h
Owners: @vivien-apple

Update gen/ folders
  examples/pump-app/pump-common/gen/CHIPClientCallbacks.h
  examples/pump-controller-app/pump-controller-common/gen/CHIPClientCallbacks.h
  src/controller/data_model/gen/CHIPClientCallbacks.h
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @shana-apple, @pan-apple

Use %s for logging the error instead of %d into CHIPClientCallbacks.zapt
  src/app/zap-templates/templates/app/CHIPClientCallbacks.zapt
Owners: @vivien-apple, @erjianqing

[Linux] Add an ability to configure KVS path * Defined default KVS path
  src/app/server/Server.cpp
  src/platform/Linux/CHIPPlatformConfig.h
Owners: @yunhanw-google, @bzbarsky-apple, @mrjerryjohns, @mspang, @yufengwangca

Restyled by whitespace
  src/platform/Linux/CHIPPlatformConfig.h
Owners: @mspang, @yufengwangca

Fix more style and comments in src/crypto
  src/crypto/CHIPCryptoPAL.h
  src/crypto/CHIPCryptoPALOpenSSL.cpp
  src/crypto/CHIPCryptoPALmbedTLS.cpp
  src/crypto/hsm/CHIPCryptoPALHsm.h
Owners: @pan-apple, @emargolis, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

[workflows] Use shallow git clone in workflows
  .github/workflows/examples-efr32.yaml
  .github/workflows/examples-esp32.yaml
  .github/workflows/examples-k32w.yaml
  .github/workflows/examples-linux-standalone.yaml
  .github/workflows/examples-mbed.yaml
  .github/workflows/examples-nrfconnect.yaml
  .github/workflows/examples-qpg.yaml
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Add test for sending a command to an unsupported endpoint (#8073)
  examples/chip-tool/commands/tests/Commands.h
  scripts/tests/test_suites.sh
  src/app/tests/suites/TestCluster.yaml
  src/darwin/Framework/CHIPTests/CHIPClustersTests.m
Owners: @vivien-apple, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @shana-apple, @pan-apple

Enable ECDH derive secret with HW accelerated crypto engine (#8155)
  src/crypto/CHIPCryptoPALmbedTLS.cpp
Owners: @pan-apple, @emargolis

Increasing HANDLER_STACK_SIZE from 4096 -> 5120
  src/platform/cc13x2_26x2/CHIPDevicePlatformConfig.h
Owners: @mspang, @yufengwangca

using p256 key from HSM for CASE
  src/credentials/CHIPOperationalCredentials.h
  src/protocols/secure_channel/CASESession.h
Owners: @pan-apple, @emargolis

increase CHIP_TASK_STACK_SIZE 4096 - > 5120
  src/include/platform/CHIPDeviceConfig.h
  src/platform/cc13x2_26x2/CHIPDevicePlatformConfig.h
Owners: @mspang, @yufengwangca

Add IM subscribe request/response builder and parser
  src/app/BUILD.gn
  src/app/MessageDef/SubscribeRequest.cpp
  src/app/MessageDef/SubscribeRequest.h
  src/app/MessageDef/SubscribeResponse.cpp
  src/app/MessageDef/SubscribeResponse.h
  src/app/tests/TestMessageDef.cpp
  src/lib/support/CodeUtils.h
Owners: @yunhanw-google, @bzbarsky-apple, @mrjerryjohns, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Restyled by clang-format
  src/app/MessageDef/SubscribeRequest.cpp
  src/app/tests/TestMessageDef.cpp
Owners: @yunhanw-google, @bzbarsky-apple, @mrjerryjohns

Imported a general chip builder script, currently covering a few platforms/boards/apps as a start to have a single build entrypoint
  scripts/build/README.md
  scripts/build/build/__init__.py
  scripts/build/build/factory.py
  scripts/build/build/targets.py
  scripts/build/builders/__init__.py
  scripts/build/builders/builder.py
  scripts/build/builders/efr32.py
  scripts/build/builders/esp32.py
  scripts/build/builders/linux.py
  scripts/build/builders/qpg.py
  scripts/build/chipbuild.py
  scripts/build/requirements.txt
  scripts/build/shellrunner.py
Owners: @mspang

Examples: Window Cover: Application logic moved to the common folder. Clusters updated.
  examples/window-app/common/gen/endpoint_config.h
  examples/window-app/common/include/ExampleApp.h
  examples/window-app/common/include/WindowApp.h
  examples/window-app/common/src/WindowApp.cpp
  examples/window-app/common/window-app.zap
  examples/window-app/efr32/BUILD.gn
  examples/window-app/efr32/include/AppConfig.h
  examples/window-app/efr32/include/AppEvent.h
  examples/window-app/efr32/include/AppTask.h
  examples/window-app/efr32/include/AppTimer.h
  examples/window-app/efr32/include/ButtonHandler.h
  examples/window-app/efr32/include/LcdPainter.h
  examples/window-app/efr32/include/WindowAppImpl.h
  examples/window-app/efr32/include/WindowCover.h
  examples/window-app/efr32/src/AppEvent.cpp
  examples/window-app/efr32/src/AppTask.cpp
  examples/window-app/efr32/src/AppTimer.cpp
  examples/window-app/efr32/src/ButtonHandler.cpp
  examples/window-app/efr32/src/LcdPainter.cpp
  examples/window-app/efr32/src/WindowApp.cpp
  examples/window-app/efr32/src/WindowCover.cpp
  examples/window-app/efr32/src/ZclCallbacks.cpp
  examples/window-app/efr32/src/main.cpp
  src/app/clusters/window-covering-server/window-covering-server.cpp
  src/app/clusters/window-covering-server/window-covering-server.h
  src/app/zap_cluster_list.py
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @mspang, @vivien-apple, @yunhanw-google, @bzbarsky-apple, @mrjerryjohns

Move IM standalone test run on a single event loop
  src/app/tests/integration/chip_im_initiator.cpp
Owners: @yunhanw-google, @bzbarsky-apple, @mrjerryjohns

Zap add accessors helpers for attributes (#7183)
  src/app/common/gen/attributes/Accessors.cpp
  src/app/common/gen/attributes/Accessors.h
  src/app/common/gen/callback.h
  src/app/common/gen/client-command-macro.h
  src/app/common/templates/templates.json
  src/app/zap-templates/common/StructHelper.js
  src/app/zap-templates/common/attributes/Accessors.js
  src/app/zap-templates/common/override.js
  src/app/zap-templates/templates/app/attributes/Accessors-src.zapt
  src/app/zap-templates/templates/app/attributes/Accessors.zapt
  src/app/zap-templates/templates/app/ids/Attributes.zapt
  src/app/zap-templates/zcl/data-model/chip/diagnostic-logs-cluster.xml
  src/app/zap-templates/zcl/data-model/silabs/ami.xml
  src/app/zap-templates/zcl/data-model/silabs/general.xml
  src/app/zap-templates/zcl/data-model/silabs/ha.xml
Owners: @yunhanw-google, @bzbarsky-apple, @mrjerryjohns, @vivien-apple, @erjianqing

Enable ECDH derive secret with HW accelerated crypto engine (#8155)
  src/crypto/CHIPCryptoPALmbedTLS.cpp
Owners: @pan-apple, @emargolis

Zap add accessors helpers for attributes (#7183)
  src/app/common/gen/attributes/Accessors.cpp
  src/app/common/gen/attributes/Accessors.h
  src/app/common/gen/callback.h
  src/app/common/gen/client-command-macro.h
  src/app/common/templates/templates.json
  src/app/zap-templates/common/StructHelper.js
  src/app/zap-templates/common/attributes/Accessors.js
  src/app/zap-templates/common/override.js
  src/app/zap-templates/templates/app/attributes/Accessors-src.zapt
  src/app/zap-templates/templates/app/attributes/Accessors.zapt
  src/app/zap-templates/templates/app/ids/Attributes.zapt
  src/app/zap-templates/zcl/data-model/chip/diagnostic-logs-cluster.xml
  src/app/zap-templates/zcl/data-model/silabs/ami.xml
  src/app/zap-templates/zcl/data-model/silabs/general.xml
  src/app/zap-templates/zcl/data-model/silabs/ha.xml
Owners: @yunhanw-google, @bzbarsky-apple, @mrjerryjohns, @vivien-apple, @erjianqing

Support discovery capabilities in setup payload
  src/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/CHIPToolActivity.kt
  src/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/setuppayloadscanner/BarcodeFragment.kt
  src/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/setuppayloadscanner/CHIPDeviceDetailsFragment.kt
  src/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/setuppayloadscanner/CHIPDeviceInfo.kt
  src/android/CHIPTool/app/src/main/res/layout/chip_device_info_fragment.xml
  src/android/CHIPTool/app/src/main/res/values/strings.xml
  src/setup_payload/java/BUILD.gn
  src/setup_payload/java/SetupPayloadParser-JNI.cpp
  src/setup_payload/java/src/chip/setuppayload/DiscoveryCapability.java
  src/setup_payload/java/src/chip/setuppayload/SetupPayload.java
Owners: @austinh0, @shana-apple, @vivien-apple, @jrhees-cae

Initial pybind11 Controller Wrapper
  .devcontainer/Dockerfile
  .gitmodules
  BUILD.gn
  build/config/BUILDCONFIG_PYTHON_CONTROLLER.gn
  scripts/build_python.sh
  scripts/tools/zap_regen_all.py
  src/pybindings/Bnder_Code_Gen.md
  src/pybindings/pycontroller/.gn
  src/pybindings/pycontroller/BUILD.gn
  src/pybindings/pycontroller/ChipCaller/Caller.py
  src/pybindings/pycontroller/ChipCaller/__init__.py
  src/pybindings/pycontroller/ChipDeviceCtrl.py
  src/pybindings/pycontroller/ControllerBindings/PyChip_BLEManager.cpp
  src/pybindings/pycontroller/ControllerBindings/PyChip_ControllerDeviceCommissioner.cpp
  src/pybindings/pycontroller/ControllerBindings/PyChip_ControllerInitParams.cpp
  src/pybindings/pycontroller/ControllerBindings/PyChip_DeviceAddressUpdateDelegate.cpp
  src/pybindings/pycontroller/ControllerBindings/PyChip_Inet_IPAddress.cpp
  src/pybindings/pycontroller/ControllerBindings/PyChip_Logging.cpp
  src/pybindings/pycontroller/ControllerBindings/PyChip_MDNS.cpp
  src/pybindings/pycontroller/ControllerBindings/PyChip_Main.cpp
  src/pybindings/pycontroller/ControllerBindings/PyChip_Memory.cpp
  src/pybindings/pycontroller/ControllerBindings/PyChip_PlatFormManager.cpp
  src/pybindings/pycontroller/ControllerBindings/PyChip_Rendezvous.cpp
  src/pybindings/pycontroller/ControllerBindings/PyChip_SetupPayload.cpp
  src/pybindings/pycontroller/ControllerBindings/PyChip_TransportType.cpp
  src/pybindings/pycontroller/TestChipDeviceCtrl.py
  src/pybindings/pycontroller/TestDeviceController.py
  src/pybindings/pycontroller/build-chip-wheel.py
  src/pybindings/pycontroller/chip-device-ctrl.py
  src/pybindings/pycontroller/chip-repl.py
  src/pybindings/pycontroller/clusters/CHIPClusters.cpp
  src/pybindings/pycontroller/clusters/CHIPClusters.py
  src/pybindings/pycontroller/clusters/__init__.py
  src/pybindings/pycontroller/create_error_wrapper.py
  src/pybindings/pycontroller/templates/helper.js
  src/pybindings/pycontroller/templates/python-CHIPClusters-cpp.zapt
  src/pybindings/pycontroller/templates/python-CHIPClusters-py.zapt
  src/pybindings/pycontroller/templates/templates.json
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @mspang

Restyled by gn
  build/config/BUILDCONFIG_PYTHON_CONTROLLER.gn
  src/pybindings/pycontroller/.gn
Owners: @mspang

Fix more style and comments in src/crypto (#8215)
  src/crypto/CHIPCryptoPAL.h
  src/crypto/CHIPCryptoPALOpenSSL.cpp
  src/crypto/CHIPCryptoPALmbedTLS.cpp
  src/crypto/hsm/CHIPCryptoPALHsm.h
Owners: @pan-apple, @emargolis, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Add ObjC Thread Operational Dataset (#8172)
  src/darwin/Framework/CHIP.xcodeproj/project.pbxproj
  src/darwin/Framework/CHIP/CHIP.h
  src/darwin/Framework/CHIP/CHIPThreadOperationalDataset.h
  src/darwin/Framework/CHIP/CHIPThreadOperationalDataset.mm
  src/darwin/Framework/CHIPTests/CHIPThreadOperationalDatasetTests.mm
Owners: @shana-apple, @vivien-apple, @pan-apple

Move build requirements into global script/requirements.txt so that they get picked up by the bootstrap script
  scripts/build/requirements.txt
  scripts/requirements.txt
Owners: @mspang, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Add CI for disabling detail logging.
  .github/workflows/build.yaml
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Fix PacketBuffer allocation size when using LwIP
  src/system/SystemPacketBuffer.cpp
  src/system/tests/TestSystemPacketBuffer.cpp
Owners: @kpschoedel

Fix log and add slight clarification
  src/darwin/Framework/CHIP/CHIPThreadOperationalDataset.h
  src/darwin/Framework/CHIP/CHIPThreadOperationalDataset.mm
Owners: @shana-apple, @vivien-apple, @pan-apple

Add IM subscribe request/response builder and parser
  src/app/BUILD.gn
  src/app/MessageDef/SubscribeRequest.cpp
  src/app/MessageDef/SubscribeRequest.h
  src/app/MessageDef/SubscribeResponse.cpp
  src/app/MessageDef/SubscribeResponse.h
  src/app/tests/TestMessageDef.cpp
  src/lib/support/CodeUtils.h
Owners: @yunhanw-google, @bzbarsky-apple, @mrjerryjohns, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs
