Repository project-chip/connectedhomeip, changes with the owners that .github/CODEOWNERS names for each.
All owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @mspang, @pan-apple, @emargolis, @andy31415, @yufengwangca, @kghost, @bzbarksy-apple, @bzbarsky-apple, @gjc13, @damian-nordic, @erjiaqing, @shana-apple, @yunhanw-google, @vivien-apple, @erjianqing, @mrjerryjohns, @jrhees-cae, @rgoliver, @austinh0, @bukepo, @kpschoedel

Added 2 new helper methods for the Attestation Flow:
  src/credentials/BUILD.gn
  src/credentials/DeviceAttestationVerifier.cpp
  src/credentials/DeviceAttestationVerifier.h
  src/credentials/examples/DeviceAttestationVerifierExample.cpp
  src/credentials/examples/DeviceAttestationVerifierExample.h
  src/credentials/tests/CHIPCert_test_vectors.cpp
  src/credentials/tests/CHIPCert_test_vectors.h
  src/credentials/tests/TestDeviceAttestationCredentials.cpp
  src/crypto/CHIPCryptoPAL.h
  src/crypto/CHIPCryptoPALOpenSSL.cpp
  src/crypto/CHIPCryptoPALmbedTLS.cpp
  src/crypto/tests/CHIPCryptoPALTest.cpp
Owners: @pan-apple, @emargolis, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Remove duplicate path in IM Read
  src/app/ReadHandler.cpp
  src/app/ReadHandler.h
  src/app/tests/TestReadInteraction.cpp
Owners: @yunhanw-google, @bzbarsky-apple, @mrjerryjohns

Restyled by clang-format
  src/app/ReadHandler.h
Owners: @yunhanw-google, @bzbarsky-apple, @mrjerryjohns

Remove duplicate path in IM Read
  src/app/ReadHandler.cpp
  src/app/ReadHandler.h
  src/app/tests/TestReadInteraction.cpp
Owners: @yunhanw-google, @bzbarsky-apple, @mrjerryjohns

[Hotfix] Only terminate BLE connections once we start processing a CASE session (#9407)
  src/app/server/RendezvousServer.cpp
  src/app/server/Server.cpp
  src/protocols/secure_channel/CASEServer.cpp
  src/protocols/secure_channel/CASEServer.h
  src/protocols/secure_channel/tests/TestCASESession.cpp
Owners: @yunhanw-google, @bzbarsky-apple, @mrjerryjohns, @pan-apple

Remove duplicate path in IM Read (#9389)
  src/app/ReadHandler.cpp
  src/app/ReadHandler.h
  src/app/tests/TestReadInteraction.cpp
Owners: @yunhanw-google, @bzbarsky-apple, @mrjerryjohns

Decouple ObjectPool from SystemLayer (#9329)
  src/inet/AsyncDNSResolverSockets.cpp
  src/inet/EndPointBasis.cpp
  src/inet/EndPointBasis.h
  src/inet/IPEndPointBasis.cpp
  src/inet/IPEndPointBasis.h
  src/inet/InetLayer.cpp
  src/inet/RawEndPoint.cpp
  src/inet/TCPEndPoint.cpp
  src/inet/UDPEndPoint.cpp
  src/system/SystemObject.cpp
  src/system/SystemObject.h
  src/system/SystemTimer.cpp
  src/system/SystemTimer.h
  src/system/WatchableEventManagerLwIP.cpp
  src/system/tests/TestSystemObject.cpp
Owners: @kpschoedel

Remove default constructor of SessionHandle, reduce dangling session handle
  src/app/CommandSender.cpp
  src/app/CommandSender.h
  src/app/ReadHandler.cpp
  src/app/ReadHandler.h
  src/app/ReadPrepareParams.h
  src/app/WriteClient.cpp
  src/app/WriteClient.h
  src/app/tests/TestCommandInteraction.cpp
  src/app/tests/TestReadInteraction.cpp
  src/app/tests/TestWriteInteraction.cpp
  src/app/tests/integration/chip_im_initiator.cpp
  src/channel/ChannelContext.cpp
  src/controller/CHIPDevice.cpp
  src/controller/CHIPDevice.h
  src/controller/CHIPDeviceController.cpp
  src/messaging/ExchangeContext.cpp
  src/messaging/ExchangeContext.h
  src/messaging/ExchangeMgr.cpp
  src/protocols/echo/Echo.h
  src/protocols/echo/EchoClient.cpp
  src/transport/SecureSessionMgr.cpp
  src/transport/SessionHandle.h
  src/transport/tests/TestSecureSessionMgr.cpp
  src/transport/tests/TestSessionHandle.cpp
Owners: @yunhanw-google, @bzbarsky-apple, @mrjerryjohns, @kghost, @shana-apple, @pan-apple, @yufengwangca, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @andy31415

Remove default constructor of SessionHandle, reduce dangling session handle (#9225)
  src/app/CommandSender.cpp
  src/app/CommandSender.h
  src/app/ReadHandler.cpp
  src/app/ReadHandler.h
  src/app/ReadPrepareParams.h
  src/app/WriteClient.cpp
  src/app/WriteClient.h
  src/app/tests/TestCommandInteraction.cpp
  src/app/tests/TestReadInteraction.cpp
  src/app/tests/TestWriteInteraction.cpp
  src/app/tests/integration/chip_im_initiator.cpp
  src/channel/ChannelContext.cpp
  src/controller/CHIPDevice.cpp
  src/controller/CHIPDevice.h
  src/controller/CHIPDeviceController.cpp
  src/messaging/ExchangeContext.cpp
  src/messaging/ExchangeContext.h
  src/messaging/ExchangeMgr.cpp
  src/protocols/echo/Echo.h
  src/protocols/echo/EchoClient.cpp
  src/transport/SecureSessionMgr.cpp
  src/transport/SessionHandle.h
  src/transport/tests/TestSecureSessionMgr.cpp
  src/transport/tests/TestSessionHandle.cpp
Owners: @yunhanw-google, @bzbarsky-apple, @mrjerryjohns, @kghost, @shana-apple, @pan-apple, @yufengwangca, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @andy31415

Improve Mbed platform logging (#9301)
  config/mbed/CMakeLists.txt
  examples/lighting-app/mbed/config.in
  examples/lighting-app/mbed/main/include/CHIPProjectConfig.h
  examples/lighting-app/mbed/main/main.cpp
  examples/lighting-app/mbed/mbed_app.json
  examples/lock-app/mbed/config.in
  examples/lock-app/mbed/main/main.cpp
  examples/lock-app/mbed/mbed_app.json
  src/platform/mbed/CHIPPlatformConfig.h
  src/platform/mbed/Logging.cpp
  src/platform/mbed/Logging.h
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @mspang, @yufengwangca

[chip-tool] Add command to open enhanced commissioning window for multi-admin
  examples/chip-tool/commands/pairing/Commands.h
  examples/chip-tool/commands/pairing/PairingCommand.cpp
  examples/chip-tool/commands/pairing/PairingCommand.h
  src/controller/CHIPDeviceController.cpp
Owners: @vivien-apple, @shana-apple, @pan-apple

Run Codegen
  src/controller/java/zap-generated/CHIPClusters-JNI.cpp
  src/controller/java/zap-generated/chip/devicecontroller/ChipClusters.java
  src/controller/python/chip/clusters/CHIPClusters.cpp
  src/controller/python/chip/clusters/CHIPClusters.py
  src/darwin/Framework/CHIP/zap-generated/CHIPClustersObjc.h
  src/darwin/Framework/CHIP/zap-generated/CHIPClustersObjc.mm
  zzz_generated/all-clusters-app/zap-generated/attribute-size.cpp
  zzz_generated/all-clusters-app/zap-generated/endpoint_config.h
  zzz_generated/app-common/app-common/zap-generated/af-structs.cpp
  zzz_generated/app-common/app-common/zap-generated/af-structs.h
  zzz_generated/app-common/app-common/zap-generated/attribute-id.h
  zzz_generated/app-common/app-common/zap-generated/attribute-type.h
  zzz_generated/app-common/app-common/zap-generated/attributes/Accessors.cpp
  zzz_generated/app-common/app-common/zap-generated/attributes/Accessors.h
  zzz_generated/app-common/app-common/zap-generated/ids/Attributes.h
  zzz_generated/bridge-app/zap-generated/attribute-size.cpp
  zzz_generated/chip-tool/zap-generated/cluster/Commands.h
  zzz_generated/controller-clusters/zap-generated/CHIPClientCallbacks.cpp
  zzz_generated/controller-clusters/zap-generated/CHIPClientCallbacks.h
  zzz_generated/controller-clusters/zap-generated/CHIPClusters.cpp
  zzz_generated/controller-clusters/zap-generated/CHIPClusters.h
  zzz_generated/controller-clusters/zap-generated/attribute-size.cpp
  zzz_generated/lighting-app/zap-generated/CHIPClientCallbacks.cpp
  zzz_generated/lighting-app/zap-generated/attribute-size.cpp
  zzz_generated/lock-app/zap-generated/attribute-size.cpp
  zzz_generated/ota-provider-app/zap-generated/attribute-size.cpp
  zzz_generated/pump-app/zap-generated/CHIPClientCallbacks.cpp
  zzz_generated/pump-app/zap-generated/attribute-size.cpp
  zzz_generated/pump-controller-app/zap-generated/CHIPClientCallbacks.cpp
  zzz_generated/pump-controller-app/zap-generated/attribute-size.cpp
  zzz_generated/temperature-measurement-app/zap-generated/attribute-size.cpp
  zzz_generated/thermostat/zap-generated/attribute-size.cpp
  zzz_generated/tv-app/zap-generated/CHIPClientCallbacks.cpp
  zzz_generated/tv-app/zap-generated/attribute-size.cpp
  zzz_generated/tv-casting-app/zap-generated/attribute-size.cpp
  zzz_generated/window-app/zap-generated/attribute-size.cpp
Owners: @austinh0, @andy31415, @erjianqing, @shana-apple, @vivien-apple, @pan-apple, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Restyled by clang-format
  src/darwin/Framework/CHIP/templates/helper.js
Owners: @shana-apple, @vivien-apple, @pan-apple

Add mbed cypress capsense lib to third_party Add capsesne support to ligthing-app and lock-app
  .gitmodules
  examples/lighting-app/mbed/CMakeLists.txt
  examples/lighting-app/mbed/main/AppTask.cpp
  examples/lighting-app/mbed/main/include/AppEvent.h
  examples/lighting-app/mbed/main/include/AppTask.h
  examples/lighting-app/mbed/main/main.cpp
  examples/lighting-app/mbed/mbed_app.json
  examples/lock-app/mbed/CMakeLists.txt
  examples/lock-app/mbed/main/AppTask.cpp
  examples/lock-app/mbed/main/main.cpp
  examples/lock-app/mbed/mbed_app.json
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Changes restyle
  examples/lighting-app/mbed/mbed_app.json
  examples/lock-app/mbed/mbed_app.json
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Restore gitmodules file formatting
  .gitmodules
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Fix GetRand due to that InitEntropy (srand) is not called.
  src/include/platform/internal/GenericPlatformManagerImpl.cpp
  src/platform/BUILD.gn
  src/platform/EFR32/Entropy.cpp
  src/platform/ESP32/Entropy.cpp
  src/platform/ESP32/PlatformManagerImpl.cpp
  src/platform/Entropy.cpp
  src/platform/K32W/Entropy.cpp
  src/platform/K32W/PlatformManagerImpl.cpp
  src/platform/P6/Entropy.cpp
  src/platform/cc13x2_26x2/PlatformManagerImpl.cpp
  src/platform/qpg/Entropy.cpp
Owners: @mspang, @yufengwangca

unauthenticated-session
  src/app/server/RendezvousServer.cpp
  src/channel/ChannelContext.cpp
  src/controller/CHIPDevice.cpp
  src/controller/CHIPDeviceController.cpp
  src/lib/core/CHIPConfig.h
  src/lib/core/CHIPError.cpp
  src/lib/core/CHIPError.h
  src/lib/core/InPlace.h
  src/lib/support/Pool.h
  src/lib/support/ReferenceCountedHandle.h
  src/messaging/ApplicationExchangeDispatch.cpp
  src/messaging/ExchangeMessageDispatch.h
  src/messaging/ReliableMessageMgr.cpp
  src/messaging/tests/MessagingContext.cpp
  src/messaging/tests/MessagingContext.h
  src/messaging/tests/TestReliableMessageProtocol.cpp
  src/protocols/secure_channel/CASEServer.cpp
  src/protocols/secure_channel/CASESession.cpp
  src/protocols/secure_channel/PASESession.cpp
  src/protocols/secure_channel/SessionEstablishmentExchangeDispatch.cpp
  src/protocols/secure_channel/SessionEstablishmentExchangeDispatch.h
  src/protocols/secure_channel/tests/TestCASESession.cpp
  src/protocols/secure_channel/tests/TestPASESession.cpp
  src/transport/PeerMessageCounter.h
  src/transport/SecureSessionMgr.cpp
  src/transport/SecureSessionMgr.h
  src/transport/SessionHandle.h
  src/transport/UnauthenticatedSessionTable.h
  src/transport/tests/TestSecureSessionMgr.cpp
Owners: @yunhanw-google, @bzbarsky-apple, @mrjerryjohns, @kghost, @shana-apple, @pan-apple, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @yufengwangca, @andy31415

Remove sleep workaround and restyle
  examples/lighting-app/mbed/main/include/AppEvent.h
  examples/lighting-app/mbed/main/main.cpp
  examples/lock-app/mbed/main/main.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Restyled by clang-format
  src/transport/SecureSessionMgr.cpp
  src/transport/UnauthenticatedSessionTable.h
Owners: @pan-apple, @andy31415

Remove dead codes PeerConnectionState::Reset
  src/transport/MessageCounter.h
  src/transport/PeerConnectionState.h
  src/transport/SecureSession.cpp
  src/transport/SecureSession.h
  src/transport/SessionMessageCounter.h
Owners: @andy31415, @pan-apple

Remove unnecessary files from project
  examples/lock-app/nxp/k32w/k32w0/main/ShellTask.cpp
  examples/lock-app/nxp/k32w/k32w0/main/include/ShellTask.h
  examples/platform/nxp/k32w/k32w0/app/support/FreeRtosMbedtlsUtils.c
  examples/platform/nxp/k32w/k32w0/app/support/FreeRtosMbedtlsUtils.h
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Restyled by clang-format
  src/platform/nxp/k32w/k32w0/ConfigurationManagerImpl.cpp
  src/platform/nxp/k32w/k32w0/GroupKeyStoreImpl.h
  src/platform/nxp/k32w/k32w0/KeyValueStoreManagerImpl.cpp
Owners: @mspang, @yufengwangca

Restyled by gn
  examples/build_overrides/k32w0_sdk.gni
  src/platform/nxp/k32w/k32w0/args.gni
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @mspang, @yufengwangca

Change temperature delta label to degrees celsius
  src/darwin/CHIPTool/CHIPTool/View Controllers/Temperature Sensor/TemperatureSensorViewController.m
Owners: @shana-apple

Rename Fahrenheit in identifiers to Celsius
  src/darwin/CHIPTool/CHIPTool/View Controllers/Temperature Sensor/TemperatureSensorViewController.m
Owners: @shana-apple

Restyled by clang-format
  src/darwin/CHIPTool/CHIPTool/View Controllers/Temperature Sensor/TemperatureSensorViewController.m
Owners: @shana-apple

move PrepareListFromTLV into its own file (#9346)
  src/app/chip_data_model.gni
  src/app/util/prepare-list.cpp
  src/app/util/prepare-list.h
  src/app/zap-templates/templates/app/CHIPClientCallbacks-src.zapt
  src/darwin/Framework/CHIP.xcodeproj/project.pbxproj
  zzz_generated/controller-clusters/zap-generated/CHIPClientCallbacks.cpp
  zzz_generated/lighting-app/zap-generated/CHIPClientCallbacks.cpp
  zzz_generated/pump-app/zap-generated/CHIPClientCallbacks.cpp
  zzz_generated/pump-controller-app/zap-generated/CHIPClientCallbacks.cpp
  zzz_generated/tv-app/zap-generated/CHIPClientCallbacks.cpp
Owners: @yunhanw-google, @bzbarsky-apple, @mrjerryjohns, @vivien-apple, @erjianqing, @shana-apple, @pan-apple, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Remove LambdaProxy in SystemObject
  src/system/SystemObject.h
Owners: @kpschoedel

Restyled by clang-format
  src/system/SystemObject.h
Owners: @kpschoedel

Remove LambdaProxy in SystemObject
  src/system/SystemObject.h
Owners: @kpschoedel

Manual fixes
  examples/chip-tool/templates/commands.zapt
  examples/platform/nrfconnect/util/DFUTrigger.cpp
  src/app/util/prepare-list.h
  src/app/zap-templates/templates/app/CHIPClusters-src.zapt
  src/app/zap-templates/templates/app/af-structs.zapt
  src/controller/java/templates/CHIPClusters-JNI.zapt
  src/controller/python/chip/clusters/CHIPClusters.cpp
  src/controller/python/templates/python-CHIPClusters-cpp.zapt
  src/credentials/CHIPCert.h
  src/credentials/tests/CHIPCert_test_vectors.h
  src/darwin/Framework/CHIP/CHIPManualSetupPayloadParser.mm
  src/darwin/Framework/CHIP/CHIPQRCodeSetupPayloadParser.mm
  src/lib/BUILD.gn
  src/lib/asn1/ASN1.h
  src/lib/asn1/BUILD.gn
  src/lib/asn1/tests/TestASN1.cpp
  src/lib/core/BUILD.gn
  src/lib/core/CHIPConfig.h
  src/lib/mdns/Discovery_ImplPlatform.cpp
  src/lib/mdns/Resolver_ImplMinimalMdns.cpp
  src/lib/mdns/platform/Mdns.h
  src/lib/mdns/tests/TestMdnsCache.cpp
  src/lib/shell/MainLoopZephyr.cpp
  src/lib/shell/streamer_zephyr.cpp
  src/lib/support/BUILD.gn
  src/platform/logging/impl/android/Logging.cpp
  src/platform/mbed/Logging.cpp
  src/tools/chip-cert/chip-cert.h
  zzz_generated/app-common/app-common/zap-generated/af-structs.h
  zzz_generated/controller-clusters/zap-generated/CHIPClusters.cpp
  zzz_generated/lighting-app/zap-generated/CHIPClusters.cpp
  zzz_generated/pump-app/zap-generated/CHIPClusters.cpp
  zzz_generated/pump-controller-app/zap-generated/CHIPClusters.cpp
  zzz_generated/tv-app/zap-generated/CHIPClusters.cpp
Owners: @vivien-apple, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @yunhanw-google, @bzbarsky-apple, @mrjerryjohns, @erjianqing, @austinh0, @andy31415, @pan-apple, @emargolis, @shana-apple, @mspang, @gjc13, @damian-nordic, @yufengwangca

remove debug code from SystemPacketBuffer.h
  src/system/SystemPacketBuffer.h
Owners: @kpschoedel

Rename PairingWindowOption to CommissioningWindowOption
  examples/chip-tool/commands/pairing/PairingCommand.cpp
  examples/chip-tool/commands/pairing/PairingCommand.h
  src/controller/CHIPDevice.cpp
  src/controller/CHIPDevice.h
  src/controller/CHIPDeviceController.cpp
  src/controller/CHIPDeviceController.h
  src/controller/java/CHIPDeviceController-JNI.cpp
  src/darwin/Framework/CHIP/CHIPDevice.mm
Owners: @vivien-apple, @shana-apple, @pan-apple, @austinh0

Remove LambdaProxy in SystemObject (#9289)
  src/system/SystemObject.h
Owners: @kpschoedel

Improve ReadDone callback
  src/app/InteractionModelDelegate.h
  src/app/ReadClient.cpp
  src/app/tests/TestReadInteraction.cpp
  src/app/tests/integration/chip_im_initiator.cpp
Owners: @yunhanw-google, @bzbarsky-apple, @mrjerryjohns

Restyled by clang-format
  src/app/ReadClient.cpp
Owners: @yunhanw-google, @bzbarsky-apple, @mrjerryjohns

Use ramdam temporary file name to prevent racing on the shared file
  src/platform/Linux/CHIPLinuxStorageIni.cpp
Owners: @mspang, @yufengwangca

Add .tmp sufix to the temp file
  src/platform/Linux/CHIPLinuxStorageIni.cpp
Owners: @mspang, @yufengwangca

Window Covering cluster: Added support for multiple endpoints. (#9139)
  examples/window-app/common/include/WindowApp.h
  examples/window-app/common/src/WindowApp.cpp
  examples/window-app/common/src/ZclCallbacks.cpp
  examples/window-app/common/window-app.zap
  examples/window-app/efr32/README.md
  examples/window-app/efr32/include/AppConfig.h
  examples/window-app/efr32/include/LcdPainter.h
  examples/window-app/efr32/include/WindowAppImpl.h
  examples/window-app/efr32/src/LcdPainter.cpp
  examples/window-app/efr32/src/WindowAppImpl.cpp
  src/app/clusters/window-covering-server/window-covering-server.cpp
  src/app/clusters/window-covering-server/window-covering-server.h
  zzz_generated/window-app/zap-generated/endpoint_config.h
  zzz_generated/window-app/zap-generated/gen_config.h
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @vivien-apple

.github/CODEOWNERS:

# Current reviewers-XXX teams, who review everything for approval.
* @reviewers-amazon @reviewers-apple @reviewers-comcast @reviewers-google @reviewers-nordic @reviewers-samsung @reviewers-silabs


# BUILD system

*.gn @mspang
/build/ @mspang
/scripts/build/ @mspang

# Crypto
# Crypto primitives and high level API, generally on top of mbedtls and openssl
/src/crypto/* @pan-apple @emargolis
/src/credentials/ @pan-apple @emargolis

# Transport
# Send and receive data abstracting away the underlying protocol (UDP, TCP, BLE)
/src/transport/ @andy31415 @pan-apple

# Session establishment
# Establish a secure session (encryption keys) from one node to another.
# Includes CASE and PASE + session tracking and resumptioon
/src/protocols/secure_channel/ @pan-apple

# Message Layer
# CRMP and packet headers, generally coupled with SecureSessionManager
/src/messaging @yufengwangca @kghost @bzbarksy-apple
/src/transport/raw/MessageHeader.* @yufengwangca @kghost @bzbarksy-apple

# SecureSessionManager
# Manages per-session encryption keys and new session establishment
/src/transport/SecureSessionMgr.* @pan-apple

# Exchange management
# Joins requests and responses or ties a series of messages belonging to the 
# same protocol interaction
/src/messaging/ @yufengwangca @bzbarsky-apple
/src/channel/ @yufengwangca @bzbarsky-apple

# DNS-SD discovery and advertisement
# Advertise chip devices for commisioning, operational and discover such devices
/src/lib/mdns/ @andy31415 @gjc13 @damian-nordic

# Commisioning controller/flow
# Example of a comisioning sequence
/src/controller/ @pan-apple @erjiaqing

# Operational credentials management
# Signing certificates, maintaining roots of trust, validation, fabric management
/src/controller/ @shana-apple @pan-apple
/src/transport/AdminPairingTable.* @shana-apple @pan-apple

# TLV encoding/decoding to/from byte buffers
/src/lib/core/CHIPTLV* @yunhanw-google @bzbarsky-apple @shana-apple

# Interaction model - ember implementation
# ZCL protocol implementation: ZCL encoding to be sent over the wire as a 
# ZigbeePro protocol implementation
/src/app/util/ @vivien-apple @erjianqing @bzbarsky-apple

# Interaction model - non-ember
# Protocol implementation for IM interactions between nodes, matching spec
/src/app/ @yunhanw-google @bzbarsky-apple @mrjerryjohns

# Interaction model - code generation
# CHIP-specific infrastructure for generating code: helper js methods, scripts
# and code layout
/src/app/zap-templates/ @vivien-apple @erjianqing

# ZAP suppport
# UI for editing XML, generates code from such ZML and configuration files
# NOT part of CHIP however CHIP relies heavily on ZAP.
#    @vivien-apple  @tecimovic

# 'Standard' cluster implementations (server side)
# Clusters shipped with the sdk, can be integrated as-is or used as a template
/src/app/clusters/ @vivien-apple

# Onboarding payload
# Parsing and generation of codes (includes QR and NFC), numeric pairing payload
/src/setup_payload/ @shana-apple @vivien-apple @jrhees-cae

# Device Layer
# Porting interfaces, scaffolding for building an example firmware
/src/platform/ @mspang @yufengwangca
/src/include/platform/ @mspang @yufengwangca

# Persistent storage
# Save state across reboots
/src/platform/*/KeyValueStore* @rgoliver

# Python bindings for CHIP - CLI
# Allows python code to use CHIP, generally targeted towards automation
/src/controller/python/ @andy31415 @erjianqing

# CHIP-tool C++ CLI
# Command line interface to chip as a client (controller and commisioner)
# Includes generated code for every base cluster
/examples/chip-tool/ @vivien-apple

# CHIP-tool iOS UI
/src/darwin/CHIPTool/ @shana-apple

# CHIP-tool Android
/src/android/CHIPTool/ @austinh0
/src/controller/java/ @austinh0

# End2End autogenerated tests
/src/darwin/Framework/Chip-templates/ @vivien-apple
/src/app/tests/suites/ @vivien-apple

# End2End cirque tests
# Simulate topology (cirque) and ptyhon-based test automation
/src/test_driver/linux/cirque/ @erjianqing @yunhanw-google

# Thread integration
# Thread-specific functionality (network provisioning, operational discovery, SRP registration etc.)
/src/platform/OpenThread/ @bukepo
/src/platform/*/ThreadStackmanagerImpl.* @bukepo

# Inet
# Networking abstraction layer (UDP-endpoint, TCP-endpoint, InetLayerBasis)
/src/inet/ @kpschoedel 

# System layer
/src/system/ @kpschoedel 

# BLE support
/src/ble/ @yunhanw-google

# CHIP Shell
# Command-line UART/stdin interface as a side-channel to CHIP accessories
# Aimed as user-friendly/manual control
/src/examples/shell/ @gjc13 @yufengwangca

# RPC
# Side-channlel command path (outside chip), generally for automation and debugging
# Aimed as "scriptable" when compared to shell
/examples/common/pigweed/ @rgoliver
/examples/pigweed-app/ @rgoliver

# Tooling for crypto manual generation
# Generates data for sample PKI
/src/tools/chip-cert/ @emargolis

# Channel API
# Construct a transport/secure session based on peer info and transport type.
# Focused on CASE session establishment
/src/channel/ @kghost

# Darwin framework
# Exposes a darwin API (Objective-C/swift rather than raw C++ API) for darwin
# applications
/src/darwin/Framework/ @shana-apple @vivien-apple @pan-apple
