Repository project-chip/connectedhomeip, changes with the owners that .github/CODEOWNERS names for each.
All owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @mspang, @pan-apple, @emargolis, @andy31415, @yufengwangca, @kghost, @bzbarksy-apple, @bzbarsky-apple, @gjc13, @damian-nordic, @erjiaqing, @shana-apple, @yunhanw-google, @vivien-apple, @erjianqing, @mrjerryjohns, @jrhees-cae, @rgoliver, @austinh0, @bukepo, @kpschoedel

.github/CODEOWNERS:

# Current reviewers-XXX teams, who review everything for approval.
* @reviewers-amazon @reviewers-apple @reviewers-comcast @reviewers-google @reviewers-nordic @reviewers-samsung @reviewers-silabs


# BUILD system

*.gn @mspang
/build/ @mspang
/scripts/build/ @mspang

# Crypto
# Crypto primitives and high level API, generally on top of mbedtls and openssl
/src/crypto/* @pan-apple @emargolis
/src/credentials/ @pan-apple @emargolis

# Transport
# Send and receive data abstracting away the underlying protocol (UDP, TCP, BLE)
/src/transport/ @andy31415 @pan-apple

# Session establishment
# Establish a secure session (encryption keys) from one node to another.
# Includes CASE and PASE + session tracking and resumptioon
/src/protocols/secure_channel/ @pan-apple

# Message Layer
# CRMP and packet headers, generally coupled with SecureSessionManager
/src/messaging @yufengwangca @kghost @bzbarksy-apple
/src/transport/raw/MessageHeader.* @yufengwangca @kghost @bzbarksy-apple

# SecureSessionManager
# Manages per-session encryption keys and new session establishment
/src/transport/SecureSessionMgr.* @pan-apple

# Exchange management
# Joins requests and responses or ties a series of messages belonging to the 
# same protocol interaction
/src/messaging/ @yufengwangca @bzbarsky-apple
/src/channel/ @yufengwangca @bzbarsky-apple

# DNS-SD discovery and advertisement
# Advertise chip devices for commisioning, operational and discover such devices
/src/lib/mdns/ @andy31415 @gjc13 @damian-nordic

# Commisioning controller/flow
# Example of a comisioning sequence
/src/controller/ @pan-apple @erjiaqing

# Operational credentials management
# Signing certificates, maintaining roots of trust, validation, fabric management
/src/controller/ @shana-apple @pan-apple
/src/transport/AdminPairingTable.* @shana-apple @pan-apple

# TLV encoding/decoding to/from byte buffers
/src/lib/core/CHIPTLV* @yunhanw-google @bzbarsky-apple @shana-apple

# Interaction model - ember implementation
# ZCL protocol implementation: ZCL encoding to be sent over the wire as a 
# ZigbeePro protocol implementation
/src/app/util/ @vivien-apple @erjianqing @bzbarsky-apple

# Interaction model - non-ember
# Protocol implementation for IM interactions between nodes, matching spec
/src/app/ @yunhanw-google @bzbarsky-apple @mrjerryjohns

# Interaction model - code generation
# CHIP-specific infrastructure for generating code: helper js methods, scripts
# and code layout
/src/app/zap-templates/ @vivien-apple @erjianqing

# ZAP suppport
# UI for editing XML, generates code from such ZML and configuration files
# NOT part of CHIP however CHIP relies heavily on ZAP.
#    @vivien-apple  @tecimovic

# 'Standard' cluster implementations (server side)
# Clusters shipped with the sdk, can be integrated as-is or used as a template
/src/app/clusters/ @vivien-apple

# Onboarding payload
# Parsing and generation of codes (includes QR and NFC), numeric pairing payload
/src/setup_payload/ @shana-apple @vivien-apple @jrhees-cae

# Device Layer
# Porting interfaces, scaffolding for building an example firmware
/src/platform/ @mspang @yufengwangca
/src/include/platform/ @mspang @yufengwangca

# Persistent storage
# Save state across reboots
/src/platform/*/KeyValueStore* @rgoliver

# Python bindings for CHIP - CLI
# Allows python code to use CHIP, generally targeted towards automation
/src/controller/python/ @andy31415 @erjianqing

# CHIP-tool C++ CLI
# Command line interface to chip as a client (controller and commisioner)
# Includes generated code for every base cluster
/examples/chip-tool/ @vivien-apple

# CHIP-tool iOS UI
/src/darwin/CHIPTool/ @shana-apple

# CHIP-tool Android
/src/android/CHIPTool/ @austinh0
/src/controller/java/ @austinh0

# End2End autogenerated tests
/src/darwin/Framework/Chip-templates/ @vivien-apple
/src/app/tests/suites/ @vivien-apple

# End2End cirque tests
# Simulate topology (cirque) and ptyhon-based test automation
/src/test_driver/linux/cirque/ @erjianqing @yunhanw-google

# Thread integration
# Thread-specific functionality (network provisioning, operational discovery, SRP registration etc.)
/src/platform/OpenThread/ @bukepo
/src/platform/*/ThreadStackmanagerImpl.* @bukepo

# Inet
# Networking abstraction layer (UDP-endpoint, TCP-endpoint, InetLayerBasis)
/src/inet/ @kpschoedel 

# System layer
/src/system/ @kpschoedel 

# BLE support
/src/ble/ @yunhanw-google

# CHIP Shell
# Command-line UART/stdin interface as a side-channel to CHIP accessories
# Aimed as user-friendly/manual control
/src/examples/shell/ @gjc13 @yufengwangca

# RPC
# Side-channlel command path (outside chip), generally for automation and debugging
# Aimed as "scriptable" when compared to shell
/examples/common/pigweed/ @rgoliver
/examples/pigweed-app/ @rgoliver

# Tooling for crypto manual generation
# Generates data for sample PKI
/src/tools/chip-cert/ @emargolis

# Channel API
# Construct a transport/secure session based on peer info and transport type.
# Focused on CASE session establishment
/src/channel/ @kghost

# Darwin framework
# Exposes a darwin API (Objective-C/swift rather than raw C++ API) for darwin
# applications
/src/darwin/Framework/ @shana-apple @vivien-apple @pan-apple

Added task and launchers for debug of chip-tool and thermostat-app
  .vscode/launch.json
  .vscode/tasks.json
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

regen after rebase on tot
  examples/thermostat/thermostat-common/gen/IMClusterCommandHandler.cpp
  examples/thermostat/thermostat-common/gen/endpoint_config.h
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Fix missing // before URL
  src/app/clusters/thermostat-server/thermostat-server.cpp
Owners: @vivien-apple

Address comments made by Boris
  examples/thermostat/thermostat-common/gen/endpoint_config.h
  examples/thermostat/thermostat-common/thermostat.zap
  src/app/chip_data_model.gni
  src/app/clusters/thermostat-server/thermostat-server.cpp
  src/app/zap_cluster_list.py
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @yunhanw-google, @bzbarsky-apple, @mrjerryjohns, @vivien-apple

Restyled by prettier-json
  .vscode/launch.json
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Thermostat Cluster - SetpointRaiseLower update
  examples/thermostat/thermostat-common/gen/IMClusterCommandHandler.cpp
  examples/thermostat/thermostat-common/gen/endpoint_config.h
  examples/thermostat/thermostat-common/thermostat.zap
  src/app/chip_data_model.gni
  src/app/clusters/thermostat-server/thermostat.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @yunhanw-google, @bzbarsky-apple, @mrjerryjohns, @vivien-apple

Restyled by gn
  src/app/chip_data_model.gni
Owners: @yunhanw-google, @bzbarsky-apple, @mrjerryjohns

Added emberAfPreAttributeChangeCallback to thermostat example main
  examples/all-clusters-app/all-clusters-common/all-clusters-app.zap
  examples/thermostat/linux/main.cpp
  src/app/clusters/thermostat-server/thermostat-server.cpp
  src/controller/data_model/controller-clusters.zap
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @vivien-apple, @shana-apple, @pan-apple

Regen
  examples/all-clusters-app/all-clusters-common/gen/endpoint_config.h
  examples/chip-tool/commands/clusters/Commands.h
  examples/thermostat/thermostat-common/gen/endpoint_config.h
  src/controller/data_model/gen/CHIPClusters.cpp
  src/controller/data_model/gen/CHIPClusters.h
  src/controller/java/gen/CHIPClusters-JNI.cpp
  src/controller/java/gen/ChipClusters.java
  src/controller/python/chip/clusters/CHIPClusters.cpp
  src/controller/python/chip/clusters/CHIPClusters.py
  src/darwin/Framework/CHIP/gen/CHIPClustersObjc.h
  src/darwin/Framework/CHIP/gen/CHIPClustersObjc.mm
  src/darwin/Framework/CHIPTests/CHIPClustersTests.m
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @vivien-apple, @shana-apple, @pan-apple, @austinh0, @andy31415, @erjianqing

doc: nrfconnect: add advertising timeout info
  examples/lighting-app/nrfconnect/README.md
  examples/lock-app/nrfconnect/README.md
  examples/pump-app/nrfconnect/README.md
  examples/pump-controller-app/nrfconnect/README.md
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Add TIME_SYNC prefix to attribute macros in order to avoid duplicating other clusters' macros
  src/app/zap-templates/zcl/data-model/chip/time-synchronization-cluster.xml
Owners: @vivien-apple, @erjianqing

Deleted BasicAttributeFilter() definition, it conflicts with the controller one
  examples/lighting-app/lighting-common/gen/CHIPClientCallbacks.h
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Exclude zap generated files from doxygen
  docs/Doxyfile
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Fix typo in CHIPCert, move the darwin header/mm files
  src/credentials/CHIPCert.h
  src/darwin/Framework/CHIP/templates/templates.json
  src/darwin/Framework/CHIP/zap-generated/CHIPClustersObjc.h
  src/darwin/Framework/CHIP/zap-generated/CHIPClustersObjc.mm
Owners: @pan-apple, @emargolis, @shana-apple, @vivien-apple

Update a few more gen folder usages
  examples/chip-tool-darwin/main.m
  examples/lighting-app/mbed/CMakeLists.txt
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Update java to zap-generated, move more files around
  src/controller/java/BUILD.gn
  src/controller/java/templates/templates.json
  src/controller/java/zap-generated/CHIPClusters-JNI.cpp
  src/controller/java/zap-generated/ChipClusters.java
  src/darwin/Framework/CHIP/BUILD.gn
Owners: @austinh0, @shana-apple, @vivien-apple, @pan-apple

Updated pump-controller-app NRF example so it builds
  examples/pump-controller-app/nrfconnect/CMakeLists.txt
  examples/pump-controller-app/nrfconnect/README.md
  examples/pump-controller-app/nrfconnect/boards/nrf5340dk_nrf5340_cpuapp.conf
  examples/pump-controller-app/nrfconnect/main/AppTask.cpp
  examples/pump-controller-app/nrfconnect/main/ZclCallbacks.cpp
  examples/pump-controller-app/nrfconnect/main/include/AppTask.h
  examples/pump-controller-app/nrfconnect/main/include/CHIPProjectConfig.h
  examples/pump-controller-app/nrfconnect/main/main.cpp
  examples/pump-controller-app/nrfconnect/prj.conf
  examples/pump-controller-app/pump-controller-common/gen/CHIPClientCallbacks.cpp
  examples/pump-controller-app/pump-controller-common/gen/CHIPClientCallbacks.h
  examples/pump-controller-app/pump-controller-common/gen/CHIPClusters.cpp
  examples/pump-controller-app/pump-controller-common/gen/CHIPClusters.h
  examples/pump-controller-app/pump-controller-common/gen/IMClusterCommandHandler.cpp
  examples/pump-controller-app/pump-controller-common/gen/attribute-size.cpp
  examples/pump-controller-app/pump-controller-common/gen/callback-stub.cpp
  examples/pump-controller-app/pump-controller-common/gen/endpoint_config.h
  examples/pump-controller-app/pump-controller-common/gen/gen_config.h
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

address nits
  src/protocols/secure_channel/CASESession.cpp
  src/transport/FabricTable.cpp
Owners: @pan-apple, @andy31415

Restyled by gn
  examples/all-clusters-app/all-clusters-common/BUILD.gn
  examples/pump-controller-app/pump-controller-common/BUILD.gn
  src/app/chip_data_model.gni
  src/controller/java/BUILD.gn
Owners: @mspang, @yunhanw-google, @bzbarsky-apple, @mrjerryjohns, @austinh0

Restyled by prettier-markdown
  zzz_generated/README.md
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Restyled by autopep8
  scripts/tools/zap_regen_all.py
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Update pump-app NRF config
  examples/pump-app/nrfconnect/CMakeLists.txt
  examples/pump-app/nrfconnect/README.md
  examples/pump-app/nrfconnect/boards/nrf5340dk_nrf5340_cpuapp.conf
  examples/pump-app/nrfconnect/main/AppTask.cpp
  examples/pump-app/nrfconnect/main/ZclCallbacks.cpp
  examples/pump-app/nrfconnect/main/include/AppTask.h
  examples/pump-app/nrfconnect/main/include/CHIPProjectConfig.h
  examples/pump-app/nrfconnect/main/main.cpp
  examples/pump-app/nrfconnect/prj.conf
  examples/pump-app/pump-common/gen/CHIPClientCallbacks.cpp
  examples/pump-app/pump-common/gen/CHIPClientCallbacks.h
  examples/pump-app/pump-common/gen/CHIPClusters.cpp
  examples/pump-app/pump-common/gen/CHIPClusters.h
  examples/pump-app/pump-common/gen/IMClusterCommandHandler.cpp
  examples/pump-app/pump-common/gen/attribute-size.cpp
  examples/pump-app/pump-common/gen/callback-stub.cpp
  examples/pump-app/pump-common/gen/endpoint_config.h
  examples/pump-app/pump-common/gen/gen_config.h
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Fixed a type - pump-app now builds in NRF version
  examples/pump-app/nrfconnect/CMakeLists.txt
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Restyle fixes
  examples/all-clusters-app/all-clusters-common/BUILD.gn
  examples/pump-controller-app/pump-controller-common/BUILD.gn
  scripts/tools/zap_regen_all.py
  src/app/chip_data_model.gni
  src/controller/java/BUILD.gn
  zzz_generated/README.md
Owners: @mspang, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @yunhanw-google, @bzbarsky-apple, @mrjerryjohns, @austinh0

[K32W0] Update to a newer SDK release (MR3 QP1)
  integrations/docker/images/chip-build-k32w/Dockerfile
  integrations/docker/images/chip-build/version
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Update path inside pbxproj
  src/darwin/Framework/CHIP.xcodeproj/project.pbxproj
Owners: @shana-apple, @vivien-apple, @pan-apple

Fix up lighting app cmake for mbed
  examples/lighting-app/mbed/CMakeLists.txt
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

doc: nrfconnect: add advertising timeout info (#9122)
  examples/lighting-app/nrfconnect/README.md
  examples/lock-app/nrfconnect/README.md
  examples/pump-app/nrfconnect/README.md
  examples/pump-controller-app/nrfconnect/README.md
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Use fabric specifc credentials for CASE session setup (#9095)
  src/app/clusters/operational-credentials-server/operational-credentials-server.cpp
  src/channel/ChannelContext.cpp
  src/channel/ChannelContext.h
  src/controller/CHIPDevice.cpp
  src/controller/CHIPDevice.h
  src/controller/CHIPDeviceController.cpp
  src/controller/CHIPDeviceController.h
  src/credentials/CHIPCert.cpp
  src/credentials/CHIPCert.h
  src/crypto/CHIPCryptoPAL.h
  src/darwin/Framework/CHIP/CHIPOperationalCredentialsDelegate.h
  src/darwin/Framework/CHIP/CHIPOperationalCredentialsDelegate.mm
  src/protocols/secure_channel/CASEServer.cpp
  src/protocols/secure_channel/CASEServer.h
  src/protocols/secure_channel/CASESession.cpp
  src/protocols/secure_channel/CASESession.h
  src/protocols/secure_channel/tests/TestCASESession.cpp
  src/transport/FabricTable.cpp
  src/transport/FabricTable.h
Owners: @vivien-apple, @kghost, @shana-apple, @pan-apple, @emargolis, @andy31415

Update lock generated files for esp32 lock app
  examples/lock-app/esp32/main/CMakeLists.txt
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Update paths for generated file for lock app cmakefiles
  examples/lock-app/esp32/main/CMakeLists.txt
  examples/lock-app/mbed/CMakeLists.txt
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Add infineon P6 lock app workflow
  .github/workflows/examples-infineon.yaml
  examples/lock-app/p6/README.md
  scripts/build/BUILD.gn
  scripts/build/build/factory.py
  scripts/build/build/targets.py
  scripts/build/builders/infineon.py
  scripts/build/expected_all_platform_commands.txt
  scripts/examples/gn_p6_example.sh
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @mspang

Add infineon to vscode tasks.json
  .vscode/tasks.json
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

One more cmake fix for esp32
  examples/lock-app/esp32/main/CMakeLists.txt
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Load fabric info at FabricTable init
  src/transport/FabricTable.cpp
Owners: @andy31415, @pan-apple

Add thermostat app for host builds
  scripts/build/build/factory.py
  scripts/build/build/targets.py
  scripts/build/builders/builder.py
  scripts/build/builders/host.py
  scripts/build/expected_all_platform_commands.txt
Owners: @mspang

Add thermostat as a build target in tasks.json for vscode
  .vscode/tasks.json
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Update CMakeLists.txt for the temperature measurement app
  examples/temperature-measurement-app/esp32/main/CMakeLists.txt
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Revert "Added task and launchers for debug of chip-tool and thermostat-app"
  .vscode/launch.json
  .vscode/tasks.json
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Remove unused python imports
  config/esp32/components/chip/create_args_gn.py
  scripts/build/build/factory.py
  scripts/build/build/targets.py
  scripts/build/builders/android.py
  scripts/build/builders/efr32.py
  scripts/build/builders/gn.py
  scripts/build/builders/host.py
  scripts/build/builders/qpg.py
  scripts/flashing/nrfconnect_firmware_utils.py
  scripts/tools/memory/report_summary.py
  scripts/tools/zap/convert.py
  src/controller/python/chip-device-ctrl.py
  src/controller/python/chip/ChipBluezMgr.py
  src/controller/python/chip/ChipCommissionableNodeCtrl.py
  src/controller/python/chip/ChipCoreBluetoothMgr.py
  src/controller/python/chip/ChipDeviceCtrl.py
  src/controller/python/chip/discovery/library_handle.py
  src/controller/python/chip/interaction_model/delegate.py
  src/controller/python/chip/internal/commissioner.py
  src/controller/python/chip/internal/thread.py
  src/controller/python/chip/logging/types.py
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @mspang, @andy31415, @erjianqing
