Repository project-chip/connectedhomeip, changes with the owners that .github/CODEOWNERS names for each.
All owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @mspang, @pan-apple, @emargolis, @andy31415, @yufengwangca, @kghost, @bzbarksy-apple, @bzbarsky-apple, @gjc13, @damian-nordic, @erjiaqing, @shana-apple, @yunhanw-google, @vivien-apple, @erjianqing, @mrjerryjohns, @jrhees-cae, @rgoliver, @austinh0, @bukepo, @kpschoedel

ESP32: CI fixes (#9294)
  examples/all-clusters-app/esp32/README.md
  examples/lock-app/esp32/README.md
  examples/temperature-measurement-app/esp32/README.md
  scripts/examples/esp_example.sh
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

[docs] Document IP Pairing and chip-tool tests.
  docs/QUICK_START.md
  examples/chip-tool/README.md
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @vivien-apple

Update template to exclude unused kByteSpanSizeLengthInBytes variable
  src/app/zap-templates/templates/app/CHIPClientCallbacks-src.zapt
  zzz_generated/controller-clusters/zap-generated/CHIPClientCallbacks.cpp
  zzz_generated/lighting-app/zap-generated/CHIPClientCallbacks.cpp
  zzz_generated/lighting-app/zap-generated/CHIPClusters.cpp
  zzz_generated/lighting-app/zap-generated/CHIPClusters.h
  zzz_generated/lighting-app/zap-generated/IMClusterCommandHandler.cpp
  zzz_generated/pump-app/zap-generated/CHIPClientCallbacks.cpp
  zzz_generated/pump-controller-app/zap-generated/CHIPClientCallbacks.cpp
  zzz_generated/tv-app/zap-generated/CHIPClientCallbacks.cpp
Owners: @vivien-apple, @erjianqing, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Add read attribute positive and negative unit tests
  src/app/ClusterInfo.h
  src/app/InteractionModelEngine.cpp
  src/app/InteractionModelEngine.h
  src/app/ReadClient.cpp
  src/app/ReadClient.h
  src/app/ReadHandler.cpp
  src/app/ReadHandler.h
  src/app/reporting/Engine.cpp
  src/app/tests/TestClusterInfo.cpp
  src/app/tests/TestCommandInteraction.cpp
  src/app/tests/TestReadInteraction.cpp
  src/app/tests/integration/chip_im_initiator.cpp
  src/lib/core/CHIPConfig.h
Owners: @yunhanw-google, @bzbarsky-apple, @mrjerryjohns, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Restyled by clang-format
  src/app/ClusterInfo.h
Owners: @yunhanw-google, @bzbarsky-apple, @mrjerryjohns

Declare derivative data type for "Percentage" (#9327)
  src/app/util/basic-types.h
  src/app/zap-templates/common/ChipTypesHelper.js
  src/app/zap-templates/common/override.js
  src/app/zap-templates/zcl/data-model/chip/chip-types.xml
  zzz_generated/app-common/app-common/zap-generated/attribute-size.h
  zzz_generated/app-common/app-common/zap-generated/attribute-type.h
Owners: @yunhanw-google, @bzbarsky-apple, @mrjerryjohns, @vivien-apple, @erjianqing, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Do not hardcode the UDP listen port in ChipDeviceController (#9339)
  src/controller/CHIPDeviceController.cpp
  src/controller/CHIPDeviceController.h
Owners: @shana-apple, @pan-apple

Variant: Remove requriment of VariantId (#9313)
  src/app/util/af-types.h
  src/channel/ChannelContext.h
  src/lib/support/Variant.h
  src/lib/support/tests/TestVariant.cpp
Owners: @yunhanw-google, @bzbarsky-apple, @mrjerryjohns, @kghost, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Add #pragma GCC diagnostic ignored "-Wstack-usage=" in identified places
  src/app/server/StorablePeerConnection.cpp
  src/protocols/secure_channel/CASESession.cpp
  src/transport/FabricTable.cpp
Owners: @yunhanw-google, @bzbarsky-apple, @mrjerryjohns, @pan-apple, @andy31415

[android] Exit to the main screen after commissioning
  docs/guides/nrfconnect_android_commissioning.md
  src/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/CHIPToolActivity.kt
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @austinh0

Restyled by prettier-markdown
  docs/guides/nrfconnect_android_commissioning.md
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Add read attribute positive and negative unit tests
  src/app/ClusterInfo.h
  src/app/InteractionModelEngine.cpp
  src/app/InteractionModelEngine.h
  src/app/ReadClient.cpp
  src/app/ReadClient.h
  src/app/ReadHandler.cpp
  src/app/ReadHandler.h
  src/app/reporting/Engine.cpp
  src/app/tests/TestClusterInfo.cpp
  src/app/tests/TestCommandInteraction.cpp
  src/app/tests/TestReadInteraction.cpp
  src/app/tests/integration/chip_im_initiator.cpp
  src/lib/core/CHIPConfig.h
Owners: @yunhanw-google, @bzbarsky-apple, @mrjerryjohns, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Restyled by clang-format
  src/app/ClusterInfo.h
Owners: @yunhanw-google, @bzbarsky-apple, @mrjerryjohns

Update documentation for regenerating a single app's files. (#9266)
  scripts/tools/zap_regen_all.py
  src/app/zap-templates/README.md
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @vivien-apple, @erjianqing

EFR32: Disable broken unit test
  src/BUILD.gn
Owners: @mspang

regenerate to undo non-deterministic changes to lighting-app
  zzz_generated/lighting-app/zap-generated/CHIPClusters.cpp
  zzz_generated/lighting-app/zap-generated/CHIPClusters.h
  zzz_generated/lighting-app/zap-generated/IMClusterCommandHandler.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Adding new zap generated files
  zzz_generated/lighting-app/zap-generated/CHIPClusters.cpp
  zzz_generated/lighting-app/zap-generated/CHIPClusters.h
  zzz_generated/lighting-app/zap-generated/IMClusterCommandHandler.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Close BLE connection after commissioning
  src/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/CHIPToolActivity.kt
Owners: @austinh0

Replace hand-written Thread provisioning code with Java clusters
  src/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/GenericChipDeviceListener.kt
  src/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/provisioning/DeviceProvisioningFragment.kt
  src/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/provisioning/EnterNetworkFragment.kt
  src/controller/java/CHIPDeviceController-JNI.cpp
  src/controller/java/src/chip/devicecontroller/ChipDeviceController.java
Owners: @austinh0

Point to the overall build guide in the chip-tool build instructions.
  examples/chip-tool/README.md
Owners: @vivien-apple

Add read attribute positive and negative unit tests
  src/app/ClusterInfo.h
  src/app/InteractionModelEngine.cpp
  src/app/InteractionModelEngine.h
  src/app/ReadClient.cpp
  src/app/ReadClient.h
  src/app/ReadHandler.cpp
  src/app/ReadHandler.h
  src/app/reporting/Engine.cpp
  src/app/tests/TestClusterInfo.cpp
  src/app/tests/TestCommandInteraction.cpp
  src/app/tests/TestReadInteraction.cpp
  src/app/tests/integration/chip_im_initiator.cpp
  src/lib/core/CHIPConfig.h
Owners: @yunhanw-google, @bzbarsky-apple, @mrjerryjohns, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Restyled by clang-format
  src/app/ReadClient.cpp
  src/app/ReadClient.h
  src/app/ReadHandler.cpp
Owners: @yunhanw-google, @bzbarsky-apple, @mrjerryjohns

[python] Add command open-commissioning-window
  src/controller/CHIPDevice.cpp
  src/controller/CHIPDevice.h
  src/controller/CHIPDeviceController.cpp
  src/controller/CHIPDeviceController.h
  src/controller/python/ChipDeviceController-ScriptBinding.cpp
  src/controller/python/chip-device-ctrl.py
  src/controller/python/chip/ChipDeviceCtrl.py
Owners: @shana-apple, @pan-apple, @andy31415, @erjianqing

Fix operational credentials fabric count attributes (#9303)
  examples/chip-tool/templates/partials/test_cluster.zapt
  examples/chip-tool/templates/tests-commands.zapt
  src/app/clusters/operational-credentials-server/operational-credentials-server.cpp
  src/app/tests/suites/OperationalCredentialsCluster.yaml
  src/darwin/Framework/CHIP/templates/clusters-tests.zapt
  src/darwin/Framework/CHIP/templates/partials/test_cluster.zapt
  src/darwin/Framework/CHIPTests/CHIPClustersTests.m
  zzz_generated/chip-tool/zap-generated/test/Commands.h
Owners: @vivien-apple, @shana-apple, @pan-apple, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

[TE5]:Init ConfigurationMgr before use on linux platform (#9297)
  examples/platform/linux/AppMain.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

[TE5]:Init ConfigurationMgr before use on linux platform (#9297)
  examples/platform/linux/AppMain.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Fix operational credentials fabric count attributes (#9303)
  examples/chip-tool/commands/tests/Commands.h
  examples/chip-tool/templates/partials/test_cluster.zapt
  examples/chip-tool/templates/tests-commands.zapt
  src/app/clusters/operational-credentials-server/operational-credentials-server.cpp
  src/app/tests/suites/OperationalCredentialsCluster.yaml
  src/darwin/Framework/CHIP/templates/clusters-tests.zapt
  src/darwin/Framework/CHIP/templates/partials/test_cluster.zapt
  src/darwin/Framework/CHIPTests/CHIPClustersTests.m
Owners: @vivien-apple, @shana-apple, @pan-apple

Add read attribute positive and negative unit tests
  src/app/ClusterInfo.h
  src/app/InteractionModelEngine.cpp
  src/app/InteractionModelEngine.h
  src/app/ReadClient.cpp
  src/app/ReadClient.h
  src/app/ReadHandler.cpp
  src/app/ReadHandler.h
  src/app/reporting/Engine.cpp
  src/app/tests/TestClusterInfo.cpp
  src/app/tests/TestCommandInteraction.cpp
  src/app/tests/TestReadInteraction.cpp
  src/app/tests/TestReportingEngine.cpp
  src/app/tests/integration/chip_im_initiator.cpp
  src/lib/core/CHIPConfig.h
Owners: @yunhanw-google, @bzbarsky-apple, @mrjerryjohns, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Restyled by clang-format
  src/app/InteractionModelEngine.cpp
  src/app/InteractionModelEngine.h
Owners: @yunhanw-google, @bzbarsky-apple, @mrjerryjohns

Update pump examples (#9265)
  .github/workflows/examples-nrfconnect.yaml
  examples/pump-app/nrfconnect/CMakeLists.txt
  examples/pump-app/nrfconnect/README.md
  examples/pump-app/nrfconnect/main/AppTask.cpp
  examples/pump-app/nrfconnect/main/PumpManager.cpp
  examples/pump-app/nrfconnect/main/ZclCallbacks.cpp
  examples/pump-app/nrfconnect/main/include/AppConfig.h
  examples/pump-app/nrfconnect/main/include/AppEvent.h
  examples/pump-app/nrfconnect/main/include/AppTask.h
  examples/pump-app/nrfconnect/main/include/PumpManager.h
  examples/pump-app/nrfconnect/prj.conf
  examples/pump-app/pump-common/pump-app.zap
  examples/pump-controller-app/nrfconnect/CMakeLists.txt
  examples/pump-controller-app/nrfconnect/README.md
  examples/pump-controller-app/nrfconnect/main/AppTask.cpp
  examples/pump-controller-app/nrfconnect/main/PumpManager.cpp
  examples/pump-controller-app/nrfconnect/main/ZclCallbacks.cpp
  examples/pump-controller-app/nrfconnect/main/include/AppConfig.h
  examples/pump-controller-app/nrfconnect/main/include/AppEvent.h
  examples/pump-controller-app/nrfconnect/main/include/AppTask.h
  examples/pump-controller-app/nrfconnect/main/include/PumpManager.h
  examples/pump-controller-app/nrfconnect/prj.conf
  examples/pump-controller-app/pump-controller-common/pump-controller-app.zap
  zzz_generated/pump-app/zap-generated/endpoint_config.h
  zzz_generated/pump-controller-app/zap-generated/endpoint_config.h
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Add read attribute positive and negative unit tests
  src/app/ClusterInfo.h
  src/app/InteractionModelEngine.cpp
  src/app/InteractionModelEngine.h
  src/app/ReadClient.cpp
  src/app/ReadClient.h
  src/app/ReadHandler.cpp
  src/app/ReadHandler.h
  src/app/reporting/Engine.cpp
  src/app/tests/TestClusterInfo.cpp
  src/app/tests/TestCommandInteraction.cpp
  src/app/tests/TestReadInteraction.cpp
  src/app/tests/TestReportingEngine.cpp
  src/app/tests/integration/chip_im_initiator.cpp
  src/lib/core/CHIPConfig.h
Owners: @yunhanw-google, @bzbarsky-apple, @mrjerryjohns, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

EFR32: Disable broken unit test (#9374)
  src/BUILD.gn
Owners: @mspang

Update TestMdnsCache.cpp
  src/lib/mdns/tests/TestMdnsCache.cpp
Owners: @andy31415, @gjc13, @damian-nordic

Restyled by clang-format
  src/lib/mdns/tests/TestMdnsCache.cpp
Owners: @andy31415, @gjc13, @damian-nordic

Update TestMdnsCache.cpp
  src/lib/mdns/tests/TestMdnsCache.cpp
Owners: @andy31415, @gjc13, @damian-nordic

Remove build flag CONFIG_RENDEZVOUS_WAIT_FOR_COMMISSIONING_COMPLETE
  src/app/BUILD.gn
  src/app/server/RendezvousServer.cpp
  src/controller/CHIPDeviceController.cpp
  src/controller/CHIPDeviceController.h
Owners: @yunhanw-google, @bzbarsky-apple, @mrjerryjohns, @shana-apple, @pan-apple

Close BLE connections after the Operational Network is provisioned on a Node
  src/app/server/RendezvousServer.cpp
Owners: @yunhanw-google, @bzbarsky-apple, @mrjerryjohns

Point to the overall build guide in the chip-tool build instructions. (#9375)
  examples/chip-tool/README.md
Owners: @vivien-apple

doc: nrfconnect: clarify mcumgr usage (#9361)
  docs/guides/nrfconnect_examples_software_update.md
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Add commissioning flow for when the device IP addr is known (#9350)
  scripts/build/builders/android.py
  scripts/build/expected_all_platform_commands.txt
  scripts/examples/android_app.sh
  src/android/CHIPTool/app/build.gradle
  src/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/CHIPToolActivity.kt
  src/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/SelectActionFragment.kt
  src/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/provisioning/AddressCommissioningFragment.kt
  src/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/provisioning/DeviceProvisioningFragment.kt
  src/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/setuppayloadscanner/BarcodeFragment.kt
  src/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/setuppayloadscanner/CHIPDeviceInfo.kt
  src/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/util/FragmentUtil.kt
  src/android/CHIPTool/app/src/main/res/layout/address_commissioning_fragment.xml
  src/android/CHIPTool/app/src/main/res/layout/barcode_fragment.xml
  src/android/CHIPTool/app/src/main/res/values/strings.xml
  src/controller/java/CHIPDeviceController-JNI.cpp
  src/controller/java/src/chip/devicecontroller/ChipDeviceController.java
  src/platform/BUILD.gn
Owners: @mspang, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @austinh0, @yufengwangca

.github/CODEOWNERS:

# Current reviewers-XXX teams, who review everything for approval.
* @reviewers-amazon @reviewers-apple @reviewers-comcast @reviewers-google @reviewers-nordic @reviewers-samsung @reviewers-silabs


# BUILD system

*.gn @mspang
/build/ @mspang
/scripts/build/ @mspang

# Crypto
# Crypto primitives and high level API, generally on top of mbedtls and openssl
/src/crypto/* @pan-apple @emargolis
/src/credentials/ @pan-apple @emargolis

# Transport
# Send and receive data abstracting away the underlying protocol (UDP, TCP, BLE)
/src/transport/ @andy31415 @pan-apple

# Session establishment
# Establish a secure session (encryption keys) from one node to another.
# Includes CASE and PASE + session tracking and resumptioon
/src/protocols/secure_channel/ @pan-apple

# Message Layer
# CRMP and packet headers, generally coupled with SecureSessionManager
/src/messaging @yufengwangca @kghost @bzbarksy-apple
/src/transport/raw/MessageHeader.* @yufengwangca @kghost @bzbarksy-apple

# SecureSessionManager
# Manages per-session encryption keys and new session establishment
/src/transport/SecureSessionMgr.* @pan-apple

# Exchange management
# Joins requests and responses or ties a series of messages belonging to the 
# same protocol interaction
/src/messaging/ @yufengwangca @bzbarsky-apple
/src/channel/ @yufengwangca @bzbarsky-apple

# DNS-SD discovery and advertisement
# Advertise chip devices for commisioning, operational and discover such devices
/src/lib/mdns/ @andy31415 @gjc13 @damian-nordic

# Commisioning controller/flow
# Example of a comisioning sequence
/src/controller/ @pan-apple @erjiaqing

# Operational credentials management
# Signing certificates, maintaining roots of trust, validation, fabric management
/src/controller/ @shana-apple @pan-apple
/src/transport/AdminPairingTable.* @shana-apple @pan-apple

# TLV encoding/decoding to/from byte buffers
/src/lib/core/CHIPTLV* @yunhanw-google @bzbarsky-apple @shana-apple

# Interaction model - ember implementation
# ZCL protocol implementation: ZCL encoding to be sent over the wire as a 
# ZigbeePro protocol implementation
/src/app/util/ @vivien-apple @erjianqing @bzbarsky-apple

# Interaction model - non-ember
# Protocol implementation for IM interactions between nodes, matching spec
/src/app/ @yunhanw-google @bzbarsky-apple @mrjerryjohns

# Interaction model - code generation
# CHIP-specific infrastructure for generating code: helper js methods, scripts
# and code layout
/src/app/zap-templates/ @vivien-apple @erjianqing

# ZAP suppport
# UI for editing XML, generates code from such ZML and configuration files
# NOT part of CHIP however CHIP relies heavily on ZAP.
#    @vivien-apple  @tecimovic

# 'Standard' cluster implementations (server side)
# Clusters shipped with the sdk, can be integrated as-is or used as a template
/src/app/clusters/ @vivien-apple

# Onboarding payload
# Parsing and generation of codes (includes QR and NFC), numeric pairing payload
/src/setup_payload/ @shana-apple @vivien-apple @jrhees-cae

# Device Layer
# Porting interfaces, scaffolding for building an example firmware
/src/platform/ @mspang @yufengwangca
/src/include/platform/ @mspang @yufengwangca

# Persistent storage
# Save state across reboots
/src/platform/*/KeyValueStore* @rgoliver

# Python bindings for CHIP - CLI
# Allows python code to use CHIP, generally targeted towards automation
/src/controller/python/ @andy31415 @erjianqing

# CHIP-tool C++ CLI
# Command line interface to chip as a client (controller and commisioner)
# Includes generated code for every base cluster
/examples/chip-tool/ @vivien-apple

# CHIP-tool iOS UI
/src/darwin/CHIPTool/ @shana-apple

# CHIP-tool Android
/src/android/CHIPTool/ @austinh0
/src/controller/java/ @austinh0

# End2End autogenerated tests
/src/darwin/Framework/Chip-templates/ @vivien-apple
/src/app/tests/suites/ @vivien-apple

# End2End cirque tests
# Simulate topology (cirque) and ptyhon-based test automation
/src/test_driver/linux/cirque/ @erjianqing @yunhanw-google

# Thread integration
# Thread-specific functionality (network provisioning, operational discovery, SRP registration etc.)
/src/platform/OpenThread/ @bukepo
/src/platform/*/ThreadStackmanagerImpl.* @bukepo

# Inet
# Networking abstraction layer (UDP-endpoint, TCP-endpoint, InetLayerBasis)
/src/inet/ @kpschoedel 

# System layer
/src/system/ @kpschoedel 

# BLE support
/src/ble/ @yunhanw-google

# CHIP Shell
# Command-line UART/stdin interface as a side-channel to CHIP accessories
# Aimed as user-friendly/manual control
/src/examples/shell/ @gjc13 @yufengwangca

# RPC
# Side-channlel command path (outside chip), generally for automation and debugging
# Aimed as "scriptable" when compared to shell
/examples/common/pigweed/ @rgoliver
/examples/pigweed-app/ @rgoliver

# Tooling for crypto manual generation
# Generates data for sample PKI
/src/tools/chip-cert/ @emargolis

# Channel API
# Construct a transport/secure session based on peer info and transport type.
# Focused on CASE session establishment
/src/channel/ @kghost

# Darwin framework
# Exposes a darwin API (Objective-C/swift rather than raw C++ API) for darwin
# applications
/src/darwin/Framework/ @shana-apple @vivien-apple @pan-apple
