Repository project-chip/connectedhomeip, changes with the owners that .github/CODEOWNERS names for each.
All owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @mspang, @pan-apple, @emargolis, @andy31415, @yufengwangca, @kghost, @bzbarksy-apple, @bzbarsky-apple, @gjc13, @damian-nordic, @erjiaqing, @shana-apple, @yunhanw-google, @vivien-apple, @erjianqing, @mrjerryjohns, @jrhees-cae, @rgoliver, @austinh0, @bukepo, @kpschoedel

some cleanup
  src/controller/CHIPDeviceController.cpp
Owners: @shana-apple, @pan-apple

Make chip-tool run on a single event loop
  examples/chip-tool/commands/clusters/ModelCommand.cpp
  examples/chip-tool/commands/common/Command.cpp
  examples/chip-tool/commands/common/Command.h
  examples/chip-tool/commands/common/Commands.cpp
  examples/chip-tool/commands/discover/DiscoverCommand.cpp
  examples/chip-tool/commands/pairing/PairingCommand.cpp
  examples/chip-tool/commands/reporting/ReportingCommand.cpp
  examples/chip-tool/commands/tests/TestCommand.cpp
  src/platform/Darwin/PlatformManagerImpl.cpp
  src/platform/Darwin/PlatformManagerImpl.h
Owners: @vivien-apple, @mspang, @yufengwangca

Restyled by whitespace
  examples/chip-tool/commands/common/Command.cpp
  examples/chip-tool/commands/common/Command.h
  examples/chip-tool/commands/pairing/PairingCommand.cpp
  src/platform/Darwin/PlatformManagerImpl.cpp
  src/platform/Darwin/PlatformManagerImpl.h
Owners: @vivien-apple, @mspang, @yufengwangca

Restyled by clang-format
  examples/chip-tool/commands/common/Command.cpp
  examples/chip-tool/commands/common/Command.h
  examples/chip-tool/commands/pairing/PairingCommand.cpp
  src/platform/Darwin/PlatformManagerImpl.cpp
  src/platform/Darwin/PlatformManagerImpl.h
Owners: @vivien-apple, @mspang, @yufengwangca

Use libshell under examples/platform/linux/AppMain.cpp only if chip_build_libshell is true (#7813)
  examples/platform/linux/AppMain.cpp
  examples/platform/linux/BUILD.gn
  scripts/tests/test_suites.sh
  src/lib/BUILD.gn
  src/lib/lib.gni
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @mspang

Enable TSAN builds on CI for Functional Tests.
  .github/workflows/tests.yaml
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

[examples] Added the pressure and flow measurement clusters (#7710)
  examples/all-clusters-app/all-clusters-common/all-clusters-app.zap
  examples/all-clusters-app/all-clusters-common/gen/callback-stub.cpp
  examples/all-clusters-app/all-clusters-common/gen/callback.h
  examples/all-clusters-app/all-clusters-common/gen/endpoint_config.h
  examples/all-clusters-app/all-clusters-common/gen/gen_config.h
  examples/pump-app/pump-common/gen/CHIPClusters.cpp
  examples/pump-app/pump-common/gen/CHIPClusters.h
  examples/pump-app/pump-common/gen/callback-stub.cpp
  examples/pump-app/pump-common/gen/callback.h
  examples/pump-app/pump-common/gen/chip-zcl-zpro-codec-api.h
  examples/pump-app/pump-common/gen/encoder.cpp
  examples/pump-app/pump-common/gen/endpoint_config.h
  examples/pump-app/pump-common/gen/gen_config.h
  examples/pump-app/pump-common/pump-app.zap
  examples/pump-controller-app/pump-controller-common/gen/CHIPClusters.cpp
  examples/pump-controller-app/pump-controller-common/gen/CHIPClusters.h
  examples/pump-controller-app/pump-controller-common/gen/callback-stub.cpp
  examples/pump-controller-app/pump-controller-common/gen/callback.h
  examples/pump-controller-app/pump-controller-common/gen/chip-zcl-zpro-codec-api.h
  examples/pump-controller-app/pump-controller-common/gen/encoder.cpp
  examples/pump-controller-app/pump-controller-common/gen/endpoint_config.h
  examples/pump-controller-app/pump-controller-common/gen/gen_config.h
  examples/pump-controller-app/pump-controller-common/pump-controller-app.zap
  src/app/zap_cluster_list.py
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @yunhanw-google, @bzbarsky-apple, @mrjerryjohns

Review feedback
  src/controller/CHIPDevice.h
  src/controller/CHIPDeviceController.cpp
  src/controller/java/AndroidDeviceControllerWrapper.cpp
  src/controller/java/JniReferences.cpp
  src/protocols/secure_channel/RendezvousParameters.h
Owners: @shana-apple, @pan-apple, @austinh0

review
  src/platform/Linux/MdnsImpl.cpp
  src/system/WatchableSocketLibevent.cpp
  src/system/WatchableSocketSelect.cpp
Owners: @mspang, @yufengwangca, @kpschoedel

#### Problem
  src/include/platform/internal/GenericPlatformManagerImpl_POSIX.cpp
  src/inet/RawEndPoint.cpp
  src/inet/TCPEndPoint.cpp
  src/inet/UDPEndPoint.cpp
  src/platform/Darwin/MdnsImpl.cpp
  src/platform/Linux/MdnsImpl.cpp
  src/platform/Linux/MdnsImpl.h
  src/system/SystemSockets.cpp
  src/system/SystemSockets.h
  src/system/WatchableSocketLibevent.cpp
  src/system/WatchableSocketSelect.cpp
Owners: @mspang, @yufengwangca, @kpschoedel

review
  src/platform/Linux/MdnsImpl.cpp
  src/platform/Linux/MdnsImpl.h
Owners: @mspang, @yufengwangca

Fix ble connect error in Temperature Measurement app (#7687)
  examples/temperature-measurement-app/esp32/main/DeviceCallbacks.cpp
  examples/temperature-measurement-app/esp32/main/gen/IMClusterCommandHandler.cpp
  examples/temperature-measurement-app/esp32/main/gen/callback.h
  examples/temperature-measurement-app/esp32/main/gen/endpoint_config.h
  examples/temperature-measurement-app/esp32/main/temperature-measurement.zap
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Make System::Layer::mHandleSelectThread atomic.
  src/system/SystemLayer.h
Owners: @kpschoedel

Updated ASN1 Writer Implementation.
  src/credentials/CHIPCert.cpp
  src/credentials/CHIPCert.h
  src/credentials/tests/TestChipCert.cpp
  src/lib/asn1/ASN1.h
  src/lib/asn1/ASN1Writer.cpp
  src/tools/chip-cert/BUILD.gn
  src/tools/chip-cert/Cmd_ConvertKey.cpp
  src/tools/chip-cert/Cmd_GenCert.cpp
  src/tools/chip-cert/chip-cert.h
Owners: @pan-apple, @emargolis, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

fix get wrong MAC on SoftAP mode
  src/platform/ESP32/ConfigurationManagerImpl.cpp
  src/platform/ESP32/ConfigurationManagerImpl.h
Owners: @mspang, @yufengwangca

Make System::Layer::mHandleSelectThread atomic. (#7828)
  src/system/SystemLayer.h
Owners: @kpschoedel

Enable CASE session establishment (#7666)
  examples/chip-tool/commands/clusters/ModelCommand.cpp
  examples/chip-tool/commands/clusters/ModelCommand.h
  examples/chip-tool/commands/discover/Commands.h
  examples/chip-tool/commands/pairing/PairingCommand.cpp
  examples/chip-tool/commands/pairing/PairingCommand.h
  src/app/server/RendezvousServer.cpp
  src/app/server/RendezvousServer.h
  src/app/server/Server.cpp
  src/controller/CHIPDevice.cpp
  src/controller/CHIPDevice.h
  src/controller/CHIPDeviceController.cpp
  src/controller/CHIPDeviceController.h
  src/controller/ExampleOperationalCredentialsIssuer.cpp
  src/credentials/CHIPCert.h
  src/credentials/CHIPCertFromX509.cpp
  src/credentials/tests/TestChipCert.cpp
  src/darwin/Framework/CHIP/CHIPDeviceController.mm
  src/protocols/secure_channel/BUILD.gn
  src/protocols/secure_channel/CASEServer.cpp
  src/protocols/secure_channel/CASEServer.h
  src/protocols/secure_channel/CASESession.cpp
  src/protocols/secure_channel/CASESession.h
  src/protocols/secure_channel/SessionIDAllocator.cpp
  src/protocols/secure_channel/SessionIDAllocator.h
  src/protocols/secure_channel/tests/BUILD.gn
  src/protocols/secure_channel/tests/TestSessionIDAllocator.cpp
  src/transport/AdminPairingTable.cpp
  src/transport/AdminPairingTable.h
  src/transport/SecureSessionMgr.cpp
  src/transport/SecureSessionMgr.h
Owners: @vivien-apple, @yunhanw-google, @bzbarsky-apple, @mrjerryjohns, @shana-apple, @pan-apple, @emargolis

Controller: Add other mdns filters (#7659)
  src/controller/AbstractMdnsDiscoveryController.cpp
  src/controller/AbstractMdnsDiscoveryController.h
  src/controller/CHIPCommissionableNodeController.cpp
  src/controller/CHIPCommissionableNodeController.h
  src/controller/CHIPDeviceController.cpp
  src/controller/CHIPDeviceController.h
  src/controller/python/ChipDeviceController-ScriptBinding.cpp
  src/controller/python/chip-device-ctrl.py
  src/controller/python/chip/ChipDeviceCtrl.py
Owners: @shana-apple, @pan-apple, @andy31415, @erjianqing

Move the local and remote node ids into the exec context for chip-tool commands.
  examples/chip-tool/commands/clusters/ModelCommand.cpp
  examples/chip-tool/commands/clusters/ModelCommand.h
  examples/chip-tool/commands/common/Command.h
  examples/chip-tool/commands/common/Commands.cpp
  examples/chip-tool/commands/discover/DiscoverCommand.cpp
  examples/chip-tool/commands/discover/DiscoverCommand.h
  examples/chip-tool/commands/discover/DiscoverCommissionersCommand.cpp
  examples/chip-tool/commands/discover/DiscoverCommissionersCommand.h
  examples/chip-tool/commands/pairing/PairingCommand.cpp
  examples/chip-tool/commands/pairing/PairingCommand.h
  examples/chip-tool/commands/payload/AdditionalDataParseCommand.cpp
  examples/chip-tool/commands/payload/AdditionalDataParseCommand.h
  examples/chip-tool/commands/payload/SetupPayloadParseCommand.cpp
  examples/chip-tool/commands/payload/SetupPayloadParseCommand.h
  examples/chip-tool/commands/reporting/ReportingCommand.cpp
  examples/chip-tool/commands/reporting/ReportingCommand.h
  examples/chip-tool/commands/tests/TestCommand.cpp
  examples/chip-tool/commands/tests/TestCommand.h
Owners: @vivien-apple

Switch SetCommandExitStatus to take a CHIP_ERROR argument
  examples/chip-tool/commands/clusters/ModelCommand.cpp
  examples/chip-tool/commands/common/Command.h
  examples/chip-tool/commands/discover/Commands.h
  examples/chip-tool/commands/discover/DiscoverCommand.cpp
  examples/chip-tool/commands/pairing/PairingCommand.cpp
  examples/chip-tool/commands/tests/TestCommand.cpp
  examples/chip-tool/templates/commands.zapt
  examples/chip-tool/templates/partials/test_cluster.zapt
Owners: @vivien-apple

Regenerate generated code for SetCommandExitStatus changes
  examples/chip-tool/commands/clusters/Commands.h
  examples/chip-tool/commands/tests/Commands.h
Owners: @vivien-apple

Change chip-tool to generally touch the stack only from a queued task.
  examples/chip-tool/commands/clusters/ModelCommand.cpp
  examples/chip-tool/commands/clusters/ModelCommand.h
  examples/chip-tool/commands/common/Command.h
  examples/chip-tool/commands/common/Commands.cpp
  examples/chip-tool/commands/common/Commands.h
  examples/chip-tool/commands/discover/DiscoverCommand.cpp
  examples/chip-tool/commands/discover/DiscoverCommand.h
  examples/chip-tool/commands/discover/DiscoverCommissionersCommand.cpp
  examples/chip-tool/commands/discover/DiscoverCommissionersCommand.h
  examples/chip-tool/commands/pairing/PairingCommand.cpp
  examples/chip-tool/commands/pairing/PairingCommand.h
  examples/chip-tool/commands/payload/AdditionalDataParseCommand.cpp
  examples/chip-tool/commands/payload/AdditionalDataParseCommand.h
  examples/chip-tool/commands/payload/SetupPayloadParseCommand.cpp
  examples/chip-tool/commands/payload/SetupPayloadParseCommand.h
  examples/chip-tool/commands/reporting/ReportingCommand.cpp
  examples/chip-tool/commands/reporting/ReportingCommand.h
  examples/chip-tool/commands/tests/Commands.h
  examples/chip-tool/commands/tests/TestCommand.cpp
  examples/chip-tool/commands/tests/TestCommand.h
  examples/chip-tool/templates/partials/test_cluster.zapt
Owners: @vivien-apple

Remove casts now that our enums are the right size.
  examples/tv-app/linux/include/keypad-input/KeypadInputManager.cpp
  examples/tv-app/linux/include/media-playback/MediaPlaybackManager.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Fix CHIPDeviceCallbacksMgr callback info storage
  src/app/tests/BUILD.gn
  src/app/tests/TestCHIPDeviceCallbacksMgr.cpp
  src/app/util/BUILD.gn
  src/app/util/CHIPDeviceCallbacksMgr.cpp
  src/app/util/CHIPDeviceCallbacksMgr.h
  src/controller/BUILD.gn
  src/lib/core/CHIPCallback.h
  src/system/SystemLayer.cpp
Owners: @yunhanw-google, @bzbarsky-apple, @mrjerryjohns, @shana-apple, @pan-apple, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @kpschoedel

Adding request-commissioning CHIPTool command
  examples/chip-tool/BUILD.gn
  examples/chip-tool/commands/pairing/Commands.h
  examples/chip-tool/commands/pairing/RequestCommissioningCommand.cpp
  examples/chip-tool/commands/pairing/RequestCommissioningCommand.h
  src/app/server/Mdns.cpp
  src/controller/BUILD.gn
  src/controller/CHIPCommissionableNodeController.cpp
  src/controller/CHIPCommissionableNodeController.h
Owners: @vivien-apple, @yunhanw-google, @bzbarsky-apple, @mrjerryjohns, @shana-apple, @pan-apple

add proper min / max value ranges for temerature measurement cluster
  src/app/zap-templates/zcl/temperature-measurement-cluster.xml
Owners: @vivien-apple, @erjianqing

fix temperature measurement cluster
  src/app/zap-templates/zcl/temperature-measurement-cluster.xml
Owners: @vivien-apple, @erjianqing

move relative humidity measurement cluster to seperate xml file
  src/app/zap-templates/zcl/data-model/silabs/ha-thread.xml
  src/app/zap-templates/zcl/data-model/silabs/ha.xml
  src/app/zap-templates/zcl/relative-humidity-measurement-cluster.xml
  src/app/zap-templates/zcl/zcl.json
Owners: @vivien-apple, @erjianqing

add space in end of file in relative-humidity-measurement-cluster.xml
  src/app/zap-templates/zcl/relative-humidity-measurement-cluster.xml
Owners: @vivien-apple, @erjianqing

update idf version to tag v4.3 and support esp32c3 for all-clusters-app
  config/esp32/components/chip/CMakeLists.txt
  config/esp32/components/chip/component.mk
  examples/all-clusters-app/esp32/CMakeLists.txt
  examples/all-clusters-app/esp32/README.md
  examples/all-clusters-app/esp32/main/CMakeLists.txt
  examples/all-clusters-app/esp32/main/Kconfig.projbuild
  examples/all-clusters-app/esp32/main/main.cpp
  examples/lock-app/esp32/CMakeLists.txt
  examples/lock-app/esp32/README.md
  examples/persistent-storage/esp32/CMakeLists.txt
  examples/persistent-storage/esp32/README.md
  examples/pigweed-app/esp32/CMakeLists.txt
  examples/pigweed-app/esp32/README.md
  examples/shell/esp32/main/CMakeLists.txt
  examples/temperature-measurement-app/esp32/CMakeLists.txt
  examples/temperature-measurement-app/esp32/README.md
  integrations/docker/images/chip-build-esp32/Dockerfile
  scripts/constraints.txt
  scripts/requirements.esp32.txt
  src/platform/ESP32/PlatformManagerImpl.cpp
  src/platform/ESP32/nimble/BLEManagerImpl.cpp
  src/test_driver/esp32/README.md
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @rgoliver, @mspang, @yufengwangca

fix wrong TLVWriter::Put function calling
  integrations/docker/images/chip-build/version
  src/lib/core/CHIPTLV.h
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @yunhanw-google, @bzbarsky-apple, @shana-apple

labelling it correctly
  .github/workflows/examples-k32w.yaml
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Added CSR support in HSM
  src/crypto/hsm/CHIPCryptoPALHsm.h
  src/crypto/hsm/CHIPCryptoPALHsm_config.h
  src/crypto/hsm/nxp/CHIPCryptoPALHsm_SE05X_P256.cpp
  src/crypto/hsm/nxp/CHIPCryptoPALHsm_SE05X_Spake2p.cpp
  src/crypto/tests/CHIPCryptoPALTest.cpp
  src/protocols/secure_channel/CASESession.cpp
  src/protocols/secure_channel/CASESession.h
  src/transport/AdminPairingTable.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @pan-apple, @shana-apple

updated keyid
  src/protocols/secure_channel/CASESession.cpp
  src/protocols/secure_channel/CASESession.h
Owners: @pan-apple

[cleanup] Remove code for encoding im response commands
  src/app/clusters/door-lock-server/door-lock-server-logging.cpp
  src/app/clusters/door-lock-server/door-lock-server-schedule.cpp
  src/app/clusters/door-lock-server/door-lock-server-user.cpp
  src/app/clusters/groups-server/groups-server.cpp
  src/app/clusters/identify/identify.cpp
  src/app/clusters/operational-credentials-server/operational-credentials-server.cpp
  src/app/clusters/scenes/scenes.cpp
Owners: @vivien-apple

Restyled by clang-format
  src/app/clusters/scenes/scenes.cpp
Owners: @vivien-apple

Fix data races in chip-tool on Darwin (#7829)
  examples/chip-tool/commands/clusters/Commands.h
  examples/chip-tool/commands/clusters/ModelCommand.cpp
  examples/chip-tool/commands/clusters/ModelCommand.h
  examples/chip-tool/commands/common/Command.h
  examples/chip-tool/commands/common/Commands.cpp
  examples/chip-tool/commands/common/Commands.h
  examples/chip-tool/commands/discover/Commands.h
  examples/chip-tool/commands/discover/DiscoverCommand.cpp
  examples/chip-tool/commands/discover/DiscoverCommand.h
  examples/chip-tool/commands/discover/DiscoverCommissionersCommand.cpp
  examples/chip-tool/commands/discover/DiscoverCommissionersCommand.h
  examples/chip-tool/commands/pairing/PairingCommand.cpp
  examples/chip-tool/commands/pairing/PairingCommand.h
  examples/chip-tool/commands/payload/AdditionalDataParseCommand.cpp
  examples/chip-tool/commands/payload/AdditionalDataParseCommand.h
  examples/chip-tool/commands/payload/SetupPayloadParseCommand.cpp
  examples/chip-tool/commands/payload/SetupPayloadParseCommand.h
  examples/chip-tool/commands/reporting/ReportingCommand.cpp
  examples/chip-tool/commands/reporting/ReportingCommand.h
  examples/chip-tool/commands/tests/Commands.h
  examples/chip-tool/commands/tests/TestCommand.cpp
  examples/chip-tool/commands/tests/TestCommand.h
  examples/chip-tool/templates/commands.zapt
  examples/chip-tool/templates/partials/test_cluster.zapt
Owners: @vivien-apple

fix get wrong MAC on SoftAP mode (#7777)
  src/platform/ESP32/ConfigurationManagerImpl.cpp
  src/platform/ESP32/ConfigurationManagerImpl.h
Owners: @mspang, @yufengwangca

Remove casts now that our enums are the right size. (#7841)
  examples/tv-app/linux/include/keypad-input/KeypadInputManager.cpp
  examples/tv-app/linux/include/media-playback/MediaPlaybackManager.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

[controller] Enable Pressure Measurement cluster
  src/controller/data_model/controller-clusters.zap
Owners: @shana-apple, @pan-apple

.github/CODEOWNERS:

# Current reviewers-XXX teams, who review everything for approval.
* @reviewers-amazon @reviewers-apple @reviewers-comcast @reviewers-google @reviewers-nordic @reviewers-samsung @reviewers-silabs


# BUILD system

*.gn @mspang
/build/ @mspang
/scripts/build/ @mspang

# Crypto
# Crypto primitives and high level API, generally on top of mbedtls and openssl
/src/crypto/* @pan-apple @emargolis
/src/credentials/ @pan-apple @emargolis

# Transport
# Send and receive data abstracting away the underlying protocol (UDP, TCP, BLE)
/src/transport/ @andy31415 @pan-apple

# Session establishment
# Establish a secure session (encryption keys) from one node to another.
# Includes CASE and PASE + session tracking and resumptioon
/src/protocols/secure_channel/ @pan-apple

# Message Layer
# CRMP and packet headers, generally coupled with SecureSessionManager
/src/messaging @yufengwangca @kghost @bzbarksy-apple
/src/transport/raw/MessageHeader.* @yufengwangca @kghost @bzbarksy-apple

# SecureSessionManager
# Manages per-session encryption keys and new session establishment
/src/transport/SecureSessionMgr.* @pan-apple

# Exchange management
# Joins requests and responses or ties a series of messages belonging to the 
# same protocol interaction
/src/messaging/ @yufengwangca @bzbarsky-apple
/src/channel/ @yufengwangca @bzbarsky-apple

# DNS-SD discovery and advertisement
# Advertise chip devices for commisioning, operational and discover such devices
/src/lib/mdns/ @andy31415 @gjc13 @damian-nordic

# Commisioning controller/flow
# Example of a comisioning sequence
/src/controller/ @pan-apple @erjiaqing

# Operational credentials management
# Signing certificates, maintaining roots of trust, validation, fabric management
/src/controller/ @shana-apple @pan-apple
/src/transport/AdminPairingTable.* @shana-apple @pan-apple

# TLV encoding/decoding to/from byte buffers
/src/lib/core/CHIPTLV* @yunhanw-google @bzbarsky-apple @shana-apple

# Interaction model - ember implementation
# ZCL protocol implementation: ZCL encoding to be sent over the wire as a 
# ZigbeePro protocol implementation
/src/app/util/ @vivien-apple @erjianqing @bzbarsky-apple

# Interaction model - non-ember
# Protocol implementation for IM interactions between nodes, matching spec
/src/app/ @yunhanw-google @bzbarsky-apple @mrjerryjohns

# Interaction model - code generation
# CHIP-specific infrastructure for generating code: helper js methods, scripts
# and code layout
/src/app/zap-templates/ @vivien-apple @erjianqing

# ZAP suppport
# UI for editing XML, generates code from such ZML and configuration files
# NOT part of CHIP however CHIP relies heavily on ZAP.
#    @vivien-apple  @tecimovic

# 'Standard' cluster implementations (server side)
# Clusters shipped with the sdk, can be integrated as-is or used as a template
/src/app/clusters/ @vivien-apple

# Onboarding payload
# Parsing and generation of codes (includes QR and NFC), numeric pairing payload
/src/setup_payload/ @shana-apple @vivien-apple @jrhees-cae

# Device Layer
# Porting interfaces, scaffolding for building an example firmware
/src/platform/ @mspang @yufengwangca
/src/include/platform/ @mspang @yufengwangca

# Persistent storage
# Save state across reboots
/src/platform/*/KeyValueStore* @rgoliver

# Python bindings for CHIP - CLI
# Allows python code to use CHIP, generally targeted towards automation
/src/controller/python/ @andy31415 @erjianqing

# CHIP-tool C++ CLI
# Command line interface to chip as a client (controller and commisioner)
# Includes generated code for every base cluster
/examples/chip-tool/ @vivien-apple

# CHIP-tool iOS UI
/src/darwin/CHIPTool/ @shana-apple

# CHIP-tool Android
/src/android/CHIPTool/ @austinh0
/src/controller/java/ @austinh0

# End2End autogenerated tests
/src/darwin/Framework/Chip-templates/ @vivien-apple
/src/app/tests/suites/ @vivien-apple

# End2End cirque tests
# Simulate topology (cirque) and ptyhon-based test automation
/src/test_driver/linux/cirque/ @erjianqing @yunhanw-google

# Thread integration
# Thread-specific functionality (network provisioning, operational discovery, SRP registration etc.)
/src/platform/OpenThread/ @bukepo
/src/platform/*/ThreadStackmanagerImpl.* @bukepo

# Inet
# Networking abstraction layer (UDP-endpoint, TCP-endpoint, InetLayerBasis)
/src/inet/ @kpschoedel 

# System layer
/src/system/ @kpschoedel 

# BLE support
/src/ble/ @yunhanw-google

# CHIP Shell
# Command-line UART/stdin interface as a side-channel to CHIP accessories
# Aimed as user-friendly/manual control
/src/examples/shell/ @gjc13 @yufengwangca

# RPC
# Side-channlel command path (outside chip), generally for automation and debugging
# Aimed as "scriptable" when compared to shell
/examples/common/pigweed/ @rgoliver
/examples/pigweed-app/ @rgoliver

# Tooling for crypto manual generation
# Generates data for sample PKI
/src/tools/chip-cert/ @emargolis

# Channel API
# Construct a transport/secure session based on peer info and transport type.
# Focused on CASE session establishment
/src/channel/ @kghost

# Darwin framework
# Exposes a darwin API (Objective-C/swift rather than raw C++ API) for darwin
# applications
/src/darwin/Framework/ @shana-apple @vivien-apple @pan-apple
