Repository project-chip/connectedhomeip, changes with the owners that .github/CODEOWNERS names for each.
All owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @mspang, @pan-apple, @emargolis, @andy31415, @yufengwangca, @kghost, @bzbarksy-apple, @bzbarsky-apple, @gjc13, @damian-nordic, @erjiaqing, @shana-apple, @yunhanw-google, @vivien-apple, @erjianqing, @mrjerryjohns, @jrhees-cae, @rgoliver, @austinh0, @bukepo, @kpschoedel

.github/CODEOWNERS:

# Current reviewers-XXX teams, who review everything for approval.
* @reviewers-amazon @reviewers-apple @reviewers-comcast @reviewers-google @reviewers-nordic @reviewers-samsung @reviewers-silabs


# BUILD system

*.gn @mspang
/build/ @mspang
/scripts/build/ @mspang

# Crypto
# Crypto primitives and high level API, generally on top of mbedtls and openssl
/src/crypto/* @pan-apple @emargolis
/src/credentials/ @pan-apple @emargolis

# Transport
# Send and receive data abstracting away the underlying protocol (UDP, TCP, BLE)
/src/transport/ @andy31415 @pan-apple

# Session establishment
# Establish a secure session (encryption keys) from one node to another.
# Includes CASE and PASE + session tracking and resumptioon
/src/protocols/secure_channel/ @pan-apple

# Message Layer
# CRMP and packet headers, generally coupled with SecureSessionManager
/src/messaging @yufengwangca @kghost @bzbarksy-apple
/src/transport/raw/MessageHeader.* @yufengwangca @kghost @bzbarksy-apple

# SecureSessionManager
# Manages per-session encryption keys and new session establishment
/src/transport/SecureSessionMgr.* @pan-apple

# Exchange management
# Joins requests and responses or ties a series of messages belonging to the 
# same protocol interaction
/src/messaging/ @yufengwangca @bzbarsky-apple
/src/channel/ @yufengwangca @bzbarsky-apple

# DNS-SD discovery and advertisement
# Advertise chip devices for commisioning, operational and discover such devices
/src/lib/mdns/ @andy31415 @gjc13 @damian-nordic

# Commisioning controller/flow
# Example of a comisioning sequence
/src/controller/ @pan-apple @erjiaqing

# Operational credentials management
# Signing certificates, maintaining roots of trust, validation, fabric management
/src/controller/ @shana-apple @pan-apple
/src/transport/AdminPairingTable.* @shana-apple @pan-apple

# TLV encoding/decoding to/from byte buffers
/src/lib/core/CHIPTLV* @yunhanw-google @bzbarsky-apple @shana-apple

# Interaction model - ember implementation
# ZCL protocol implementation: ZCL encoding to be sent over the wire as a 
# ZigbeePro protocol implementation
/src/app/util/ @vivien-apple @erjianqing @bzbarsky-apple

# Interaction model - non-ember
# Protocol implementation for IM interactions between nodes, matching spec
/src/app/ @yunhanw-google @bzbarsky-apple @mrjerryjohns

# Interaction model - code generation
# CHIP-specific infrastructure for generating code: helper js methods, scripts
# and code layout
/src/app/zap-templates/ @vivien-apple @erjianqing

# ZAP suppport
# UI for editing XML, generates code from such ZML and configuration files
# NOT part of CHIP however CHIP relies heavily on ZAP.
#    @vivien-apple  @tecimovic

# 'Standard' cluster implementations (server side)
# Clusters shipped with the sdk, can be integrated as-is or used as a template
/src/app/clusters/ @vivien-apple

# Onboarding payload
# Parsing and generation of codes (includes QR and NFC), numeric pairing payload
/src/setup_payload/ @shana-apple @vivien-apple @jrhees-cae

# Device Layer
# Porting interfaces, scaffolding for building an example firmware
/src/platform/ @mspang @yufengwangca
/src/include/platform/ @mspang @yufengwangca

# Persistent storage
# Save state across reboots
/src/platform/*/KeyValueStore* @rgoliver

# Python bindings for CHIP - CLI
# Allows python code to use CHIP, generally targeted towards automation
/src/controller/python/ @andy31415 @erjianqing

# CHIP-tool C++ CLI
# Command line interface to chip as a client (controller and commisioner)
# Includes generated code for every base cluster
/examples/chip-tool/ @vivien-apple

# CHIP-tool iOS UI
/src/darwin/CHIPTool/ @shana-apple

# CHIP-tool Android
/src/android/CHIPTool/ @austinh0
/src/controller/java/ @austinh0

# End2End autogenerated tests
/src/darwin/Framework/Chip-templates/ @vivien-apple
/src/app/tests/suites/ @vivien-apple

# End2End cirque tests
# Simulate topology (cirque) and ptyhon-based test automation
/src/test_driver/linux/cirque/ @erjianqing @yunhanw-google

# Thread integration
# Thread-specific functionality (network provisioning, operational discovery, SRP registration etc.)
/src/platform/OpenThread/ @bukepo
/src/platform/*/ThreadStackmanagerImpl.* @bukepo

# Inet
# Networking abstraction layer (UDP-endpoint, TCP-endpoint, InetLayerBasis)
/src/inet/ @kpschoedel 

# System layer
/src/system/ @kpschoedel 

# BLE support
/src/ble/ @yunhanw-google

# CHIP Shell
# Command-line UART/stdin interface as a side-channel to CHIP accessories
# Aimed as user-friendly/manual control
/src/examples/shell/ @gjc13 @yufengwangca

# RPC
# Side-channlel command path (outside chip), generally for automation and debugging
# Aimed as "scriptable" when compared to shell
/examples/common/pigweed/ @rgoliver
/examples/pigweed-app/ @rgoliver

# Tooling for crypto manual generation
# Generates data for sample PKI
/src/tools/chip-cert/ @emargolis

# Channel API
# Construct a transport/secure session based on peer info and transport type.
# Focused on CASE session establishment
/src/channel/ @kghost

# Darwin framework
# Exposes a darwin API (Objective-C/swift rather than raw C++ API) for darwin
# applications
/src/darwin/Framework/ @shana-apple @vivien-apple @pan-apple

Restyled by whitespace
  integrations/docker/images/chip-build-telink/Dockerfile
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Changes requested by Andrei
  src/app/clusters/thermostat-server/thermostat-server.cpp
Owners: @vivien-apple

Const Expression change
  src/app/clusters/thermostat-server/thermostat-server.cpp
Owners: @vivien-apple

modernize const to constexpr
  src/app/clusters/thermostat-server/thermostat-server.cpp
Owners: @vivien-apple

Create Java abstraction ChipMdnsCallback, and pass it as an argument in ServiceResolver. (#9097)
  src/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/CHIPToolActivity.kt
  src/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/ChipClient.kt
  src/controller/java/BUILD.gn
  src/controller/java/CHIPDeviceController-JNI.cpp
  src/controller/java/CHIPMdnsCallbackImpl-JNI.cpp
  src/controller/java/MdnsImpl.cpp
  src/controller/java/MdnsImpl.h
  src/controller/java/src/chip/devicecontroller/ChipDeviceController.java
  src/controller/java/src/chip/devicecontroller/mdns/ChipMdnsCallback.java
  src/controller/java/src/chip/devicecontroller/mdns/ChipMdnsCallbackImpl.java
  src/controller/java/src/chip/devicecontroller/mdns/NsdManagerServiceResolver.java
  src/controller/java/src/chip/devicecontroller/mdns/ServiceResolver.java
Owners: @austinh0

Remove unused script
  scripts/examples/build-all-clusters-app.py
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Thermostat Cluster Improvements (#8878)
  examples/all-clusters-app/all-clusters-common/all-clusters-app.zap
  examples/all-clusters-app/all-clusters-common/gen/endpoint_config.h
  examples/chip-tool/commands/clusters/Commands.h
  examples/thermostat/linux/main.cpp
  examples/thermostat/thermostat-common/gen/IMClusterCommandHandler.cpp
  examples/thermostat/thermostat-common/gen/endpoint_config.h
  examples/thermostat/thermostat-common/thermostat.zap
  src/app/clusters/thermostat-server/thermostat-server.cpp
  src/app/clusters/thermostat-server/thermostat.cpp
  src/app/zap_cluster_list.py
  src/controller/data_model/controller-clusters.zap
  src/controller/data_model/gen/CHIPClusters.cpp
  src/controller/data_model/gen/CHIPClusters.h
  src/controller/java/gen/CHIPClusters-JNI.cpp
  src/controller/java/gen/ChipClusters.java
  src/controller/python/chip/clusters/CHIPClusters.cpp
  src/controller/python/chip/clusters/CHIPClusters.py
  src/darwin/Framework/CHIP/gen/CHIPClustersObjc.h
  src/darwin/Framework/CHIP/gen/CHIPClustersObjc.mm
  src/darwin/Framework/CHIPTests/CHIPClustersTests.m
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @vivien-apple, @yunhanw-google, @bzbarsky-apple, @mrjerryjohns, @shana-apple, @pan-apple, @austinh0, @andy31415, @erjianqing

Add back af-gen-event.h even though they are NOT currently generated
  zzz_generated/all-clusters-app/zap-generated/af-gen-event.h
  zzz_generated/bridge-app/zap-generated/af-gen-event.h
  zzz_generated/lighting-app/zap-generated/af-gen-event.h
  zzz_generated/lock-app/zap-generated/af-gen-event.h
  zzz_generated/pump-app/zap-generated/af-gen-event.h
  zzz_generated/pump-controller-app/zap-generated/af-gen-event.h
  zzz_generated/temperature-measurement-app/zap-generated/af-gen-event.h
  zzz_generated/thermostat/zap-generated/af-gen-event.h
  zzz_generated/tv-app/zap-generated/af-gen-event.h
  zzz_generated/window-app/zap-generated/af-gen-event.h
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Undo the data_model include logic
  examples/all-clusters-app/esp32/main/CMakeLists.txt
  examples/bridge-app/esp32/main/CMakeLists.txt
  examples/lighting-app/mbed/CMakeLists.txt
  examples/lighting-app/nrfconnect/CMakeLists.txt
  examples/lighting-app/telink/CMakeLists.txt
  examples/lock-app/esp32/main/CMakeLists.txt
  examples/lock-app/mbed/CMakeLists.txt
  examples/lock-app/nrfconnect/CMakeLists.txt
  examples/temperature-measurement-app/esp32/main/CMakeLists.txt
  src/app/chip_data_model.gni
  src/controller/data_model/BUILD.gn
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @yunhanw-google, @bzbarsky-apple, @mrjerryjohns, @shana-apple, @pan-apple

Disable CodeQL from main build.
  .github/workflows/build.yaml
  .github/workflows/examples-efr32.yaml
  .github/workflows/examples-esp32.yaml
  .github/workflows/examples-k32w.yaml
  .github/workflows/examples-linux-standalone.yaml
  .github/workflows/examples-nrfconnect.yaml
  .github/workflows/examples-qpg.yaml
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Use local key ID to identify stale connections
  src/transport/SecureSessionMgr.cpp
  src/transport/tests/TestSecureSessionMgr.cpp
Owners: @pan-apple, @andy31415

Update .zapt templates to conditionally include contents of CHIPClientCallbacks.h
  examples/all-clusters-app/all-clusters-common/gen/CHIPClientCallbacks.h
  examples/bridge-app/bridge-common/gen/CHIPClientCallbacks.h
  examples/lighting-app/lighting-common/gen/CHIPClientCallbacks.h
  examples/lighting-app/lighting-common/gen/CHIPClusters.cpp
  examples/lighting-app/lighting-common/gen/CHIPClusters.h
  examples/lock-app/lock-common/gen/CHIPClientCallbacks.h
  examples/pump-app/pump-common/gen/CHIPClientCallbacks.h
  examples/pump-app/pump-common/gen/CHIPClusters.cpp
  examples/pump-controller-app/pump-controller-common/gen/CHIPClientCallbacks.h
  examples/pump-controller-app/pump-controller-common/gen/CHIPClusters.cpp
  examples/temperature-measurement-app/esp32/main/gen/CHIPClientCallbacks.h
  examples/thermostat/thermostat-common/gen/CHIPClientCallbacks.h
  examples/tv-app/tv-common/gen/CHIPClientCallbacks.h
  examples/window-app/common/gen/CHIPClientCallbacks.h
  src/app/zap-templates/templates/app/CHIPClientCallbacks.zapt
  src/app/zap-templates/templates/app/CHIPClusters-src.zapt
  src/controller/data_model/gen/CHIPClientCallbacks.h
  src/controller/data_model/gen/CHIPClusters.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @vivien-apple, @erjianqing, @shana-apple, @pan-apple

Move ota-provider-app to zzz_generated
  zzz_generated/ota-provider-app/zap-generated/CHIPClientCallbacks.cpp
  zzz_generated/ota-provider-app/zap-generated/CHIPClientCallbacks.h
  zzz_generated/ota-provider-app/zap-generated/CHIPClusters.cpp
  zzz_generated/ota-provider-app/zap-generated/CHIPClusters.h
  zzz_generated/ota-provider-app/zap-generated/IMClusterCommandHandler.cpp
  zzz_generated/ota-provider-app/zap-generated/af-gen-event.h
  zzz_generated/ota-provider-app/zap-generated/attribute-size.cpp
  zzz_generated/ota-provider-app/zap-generated/call-command-handler.cpp
  zzz_generated/ota-provider-app/zap-generated/call-command-handler.h
  zzz_generated/ota-provider-app/zap-generated/callback-stub.cpp
  zzz_generated/ota-provider-app/zap-generated/callback.h
  zzz_generated/ota-provider-app/zap-generated/chip-zcl-zpro-codec-api.h
  zzz_generated/ota-provider-app/zap-generated/encoder.cpp
  zzz_generated/ota-provider-app/zap-generated/endpoint_config.h
  zzz_generated/ota-provider-app/zap-generated/gen_config.h
  zzz_generated/ota-provider-app/zap-generated/gen_tokens.h
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Disable CodeQL from main build. (#9167)
  .github/workflows/build.yaml
  .github/workflows/examples-efr32.yaml
  .github/workflows/examples-esp32.yaml
  .github/workflows/examples-k32w.yaml
  .github/workflows/examples-linux-standalone.yaml
  .github/workflows/examples-nrfconnect.yaml
  .github/workflows/examples-qpg.yaml
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Commit generated files after merge
  examples/all-clusters-app/all-clusters-common/gen/endpoint_config.h
  examples/lighting-app/lighting-common/gen/CHIPClusters.cpp
  examples/lighting-app/lighting-common/gen/CHIPClusters.h
  examples/ota-provider-app/ota-provider-common/gen/CHIPClientCallbacks.h
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Fix android build
  src/controller/java/BUILD.gn
Owners: @austinh0

Add a call SetAdditionalCommissioning() instead of SetCommisioningMode()
  src/lib/mdns/platform/tests/TestPlatform.cpp
Owners: @andy31415, @gjc13, @damian-nordic

Fix ota provider app build path for zap generated files
  examples/ota-provider-app/ota-provider-common/BUILD.gn
Owners: @mspang

Add a call SetAdditionalCommissioning() instead of SetCommisioningMode() (#9169)
  src/lib/mdns/platform/tests/TestPlatform.cpp
Owners: @andy31415, @gjc13, @damian-nordic

Restyle fixes
  examples/ota-provider-app/ota-provider-common/BUILD.gn
Owners: @mspang

address review comments
  src/transport/tests/TestSecureSessionMgr.cpp
Owners: @andy31415, @pan-apple

reset mOldConnectionDropped before each test
  src/transport/tests/TestSecureSessionMgr.cpp
Owners: @andy31415, @pan-apple

Fix discovery issues with minimal mDNS (#9102)
  examples/chip-tool/commands/pairing/PairingCommand.cpp
  src/lib/mdns/Resolver_ImplMinimalMdns.cpp
Owners: @vivien-apple, @andy31415, @gjc13, @damian-nordic

Update PR comments.
  src/pybindings/pycontroller/ControllerBindings/PyChip_ChipError.cpp
  src/pybindings/pycontroller/ControllerBindings/PyChip_ErrorStr.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Fix typo, call SetAdditionalCommissioning with true instead of false
  src/lib/mdns/platform/tests/TestPlatform.cpp
Owners: @andy31415, @gjc13, @damian-nordic

Fix typo, call SetAdditionalCommissioning with true instead of false (#9171)
  src/lib/mdns/platform/tests/TestPlatform.cpp
Owners: @andy31415, @gjc13, @damian-nordic

Fix up ota build
  examples/ota-provider-app/ota-provider-common/BUILD.gn
Owners: @mspang

Move BasicAttributeFilter out of a generated file.
  examples/all-clusters-app/all-clusters-common/gen/CHIPClientCallbacks.h
  examples/bridge-app/bridge-common/gen/CHIPClientCallbacks.h
  examples/lighting-app/lighting-common/gen/CHIPClientCallbacks.h
  examples/lighting-app/lighting-common/gen/CHIPClusters.cpp
  examples/lighting-app/lighting-common/gen/CHIPClusters.h
  examples/lock-app/lock-common/gen/CHIPClientCallbacks.h
  examples/ota-provider-app/ota-provider-common/gen/CHIPClientCallbacks.h
  examples/pump-app/pump-common/gen/CHIPClientCallbacks.h
  examples/pump-controller-app/pump-controller-common/gen/CHIPClientCallbacks.h
  examples/temperature-measurement-app/esp32/main/gen/CHIPClientCallbacks.h
  examples/thermostat/thermostat-common/gen/CHIPClientCallbacks.h
  examples/tv-app/tv-common/gen/CHIPClientCallbacks.h
  examples/window-app/common/gen/CHIPClientCallbacks.h
  src/app/zap-templates/templates/app/CHIPClientCallbacks.zapt
  src/controller/data_model/gen/CHIPClientCallbacks.h
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @vivien-apple, @erjianqing, @shana-apple, @pan-apple

Updated fix for ota provider app build rules
  examples/ota-provider-app/linux/BUILD.gn
  examples/ota-provider-app/linux/main.cpp
  examples/ota-provider-app/ota-provider-common/BUILD.gn
Owners: @mspang, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Using kImMessageTimeoutMsec as the default value
  src/app/CommandSender.cpp
  src/app/CommandSender.h
  src/app/InteractionModelDelegate.h
  src/app/InteractionModelEngine.h
  src/app/ReadClient.cpp
  src/app/ReadClient.h
  src/app/WriteClient.cpp
  src/app/WriteClient.h
Owners: @yunhanw-google, @bzbarsky-apple, @mrjerryjohns

Add src/app/util/attribute-filter.h used by CHIPClientCallbacks.h
  src/app/util/attribute-filter.h
Owners: @yunhanw-google, @bzbarsky-apple, @mrjerryjohns

Create ota-provider-app config globally, to fix up includes for common paths
  examples/ota-provider-app/BUILD.gn
Owners: @mspang

Restyle fixes
  examples/ota-provider-app/BUILD.gn
Owners: @mspang

Update relative paths into ota-provider-common to use top level include
  examples/ota-provider-app/BUILD.gn
  examples/ota-provider-app/linux/BUILD.gn
  examples/ota-provider-app/ota-provider-common/BUILD.gn
Owners: @mspang

Do not use relative path in includes in ota provider common
  examples/ota-provider-app/ota-provider-common/BdxOtaSender.cpp
  examples/ota-provider-app/ota-provider-common/OTAProviderExample.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Add lwip doc.
  docs/discussion/lwip_ipv6.md
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Commit generated files after ZAP update
  examples/lighting-app/lighting-common/gen/CHIPClusters.cpp
  examples/lighting-app/lighting-common/gen/CHIPClusters.h
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

drop PASE based secure channel after commissioning is complete
  src/protocols/secure_channel/CASEServer.cpp
Owners: @pan-apple

Regen after merge
  zzz_generated/lighting-app/zap-generated/CHIPClientCallbacks.cpp
  zzz_generated/lighting-app/zap-generated/CHIPClusters.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Bind SDK ChipError and ErrorStr (#9117)
  src/pybindings/pycontroller/BUILD.gn
  src/pybindings/pycontroller/ControllerBindings/PyChip_ChipError.cpp
  src/pybindings/pycontroller/ControllerBindings/PyChip_ErrorStr.cpp
  src/pybindings/pycontroller/ControllerBindings/PyChip_Main.cpp
  src/pybindings/pycontroller/create_error_wrapper.py
  src/pybindings/pycontroller/pychip/__init__.py
Owners: @mspang, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs
