Repository project-chip/connectedhomeip, changes with the owners that .github/CODEOWNERS names for each.
All owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @mspang, @pan-apple, @emargolis, @andy31415, @yufengwangca, @kghost, @bzbarksy-apple, @bzbarsky-apple, @gjc13, @damian-nordic, @erjiaqing, @shana-apple, @yunhanw-google, @vivien-apple, @erjianqing, @mrjerryjohns, @jrhees-cae, @rgoliver, @austinh0, @bukepo, @kpschoedel

.github/CODEOWNERS:

# Current reviewers-XXX teams, who review everything for approval.
* @reviewers-amazon @reviewers-apple @reviewers-comcast @reviewers-google @reviewers-nordic @reviewers-samsung @reviewers-silabs


# BUILD system

*.gn @mspang
/build/ @mspang
/scripts/build/ @mspang

# Crypto
# Crypto primitives and high level API, generally on top of mbedtls and openssl
/src/crypto/* @pan-apple @emargolis
/src/credentials/ @pan-apple @emargolis

# Transport
# Send and receive data abstracting away the underlying protocol (UDP, TCP, BLE)
/src/transport/ @andy31415 @pan-apple

# Session establishment
# Establish a secure session (encryption keys) from one node to another.
# Includes CASE and PASE + session tracking and resumptioon
/src/protocols/secure_channel/ @pan-apple

# Message Layer
# CRMP and packet headers, generally coupled with SecureSessionManager
/src/messaging @yufengwangca @kghost @bzbarksy-apple
/src/transport/raw/MessageHeader.* @yufengwangca @kghost @bzbarksy-apple

# SecureSessionManager
# Manages per-session encryption keys and new session establishment
/src/transport/SecureSessionMgr.* @pan-apple

# Exchange management
# Joins requests and responses or ties a series of messages belonging to the 
# same protocol interaction
/src/messaging/ @yufengwangca @bzbarsky-apple
/src/channel/ @yufengwangca @bzbarsky-apple

# DNS-SD discovery and advertisement
# Advertise chip devices for commisioning, operational and discover such devices
/src/lib/mdns/ @andy31415 @gjc13 @damian-nordic

# Commisioning controller/flow
# Example of a comisioning sequence
/src/controller/ @pan-apple @erjiaqing

# Operational credentials management
# Signing certificates, maintaining roots of trust, validation, fabric management
/src/controller/ @shana-apple @pan-apple
/src/transport/AdminPairingTable.* @shana-apple @pan-apple

# TLV encoding/decoding to/from byte buffers
/src/lib/core/CHIPTLV* @yunhanw-google @bzbarsky-apple @shana-apple

# Interaction model - ember implementation
# ZCL protocol implementation: ZCL encoding to be sent over the wire as a 
# ZigbeePro protocol implementation
/src/app/util/ @vivien-apple @erjianqing @bzbarsky-apple

# Interaction model - non-ember
# Protocol implementation for IM interactions between nodes, matching spec
/src/app/ @yunhanw-google @bzbarsky-apple @mrjerryjohns

# Interaction model - code generation
# CHIP-specific infrastructure for generating code: helper js methods, scripts
# and code layout
/src/app/zap-templates/ @vivien-apple @erjianqing

# ZAP suppport
# UI for editing XML, generates code from such ZML and configuration files
# NOT part of CHIP however CHIP relies heavily on ZAP.
#    @vivien-apple  @tecimovic

# 'Standard' cluster implementations (server side)
# Clusters shipped with the sdk, can be integrated as-is or used as a template
/src/app/clusters/ @vivien-apple

# Onboarding payload
# Parsing and generation of codes (includes QR and NFC), numeric pairing payload
/src/setup_payload/ @shana-apple @vivien-apple @jrhees-cae

# Device Layer
# Porting interfaces, scaffolding for building an example firmware
/src/platform/ @mspang @yufengwangca
/src/include/platform/ @mspang @yufengwangca

# Persistent storage
# Save state across reboots
/src/platform/*/KeyValueStore* @rgoliver

# Python bindings for CHIP - CLI
# Allows python code to use CHIP, generally targeted towards automation
/src/controller/python/ @andy31415 @erjianqing

# CHIP-tool C++ CLI
# Command line interface to chip as a client (controller and commisioner)
# Includes generated code for every base cluster
/examples/chip-tool/ @vivien-apple

# CHIP-tool iOS UI
/src/darwin/CHIPTool/ @shana-apple

# CHIP-tool Android
/src/android/CHIPTool/ @austinh0
/src/controller/java/ @austinh0

# End2End autogenerated tests
/src/darwin/Framework/Chip-templates/ @vivien-apple
/src/app/tests/suites/ @vivien-apple

# End2End cirque tests
# Simulate topology (cirque) and ptyhon-based test automation
/src/test_driver/linux/cirque/ @erjianqing @yunhanw-google

# Thread integration
# Thread-specific functionality (network provisioning, operational discovery, SRP registration etc.)
/src/platform/OpenThread/ @bukepo
/src/platform/*/ThreadStackmanagerImpl.* @bukepo

# Inet
# Networking abstraction layer (UDP-endpoint, TCP-endpoint, InetLayerBasis)
/src/inet/ @kpschoedel 

# System layer
/src/system/ @kpschoedel 

# BLE support
/src/ble/ @yunhanw-google

# CHIP Shell
# Command-line UART/stdin interface as a side-channel to CHIP accessories
# Aimed as user-friendly/manual control
/src/examples/shell/ @gjc13 @yufengwangca

# RPC
# Side-channlel command path (outside chip), generally for automation and debugging
# Aimed as "scriptable" when compared to shell
/examples/common/pigweed/ @rgoliver
/examples/pigweed-app/ @rgoliver

# Tooling for crypto manual generation
# Generates data for sample PKI
/src/tools/chip-cert/ @emargolis

# Channel API
# Construct a transport/secure session based on peer info and transport type.
# Focused on CASE session establishment
/src/channel/ @kghost

# Darwin framework
# Exposes a darwin API (Objective-C/swift rather than raw C++ API) for darwin
# applications
/src/darwin/Framework/ @shana-apple @vivien-apple @pan-apple

regen all
  examples/all-clusters-app/all-clusters-common/gen/callback-stub.cpp
  examples/all-clusters-app/all-clusters-common/gen/callback.h
  examples/all-clusters-app/all-clusters-common/gen/endpoint_config.h
  examples/all-clusters-app/all-clusters-common/gen/gen_config.h
  examples/chip-tool/commands/clusters/Commands.h
  src/controller/data_model/gen/CHIPClusters.cpp
  src/controller/data_model/gen/CHIPClusters.h
  src/controller/data_model/gen/callback-stub.cpp
  src/controller/data_model/gen/callback.h
  src/controller/data_model/gen/chip-zcl-zpro-codec-api.h
  src/controller/data_model/gen/encoder.cpp
  src/controller/data_model/gen/endpoint_config.h
  src/controller/data_model/gen/gen_config.h
  src/controller/java/gen/CHIPClusters-JNI.cpp
  src/controller/java/gen/ChipClusters.java
  src/controller/python/chip/clusters/CHIPClusters.cpp
  src/controller/python/chip/clusters/CHIPClusters.py
  src/darwin/Framework/CHIP/gen/CHIPClustersObjc.h
  src/darwin/Framework/CHIP/gen/CHIPClustersObjc.mm
  src/darwin/Framework/CHIPTests/CHIPClustersTests.m
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @vivien-apple, @shana-apple, @pan-apple, @austinh0, @andy31415, @erjianqing

Restyled by whitespace
  src/controller/java/gen/ChipClusters.java
Owners: @austinh0

Restyled by google-java-format
  src/controller/java/gen/ChipClusters.java
Owners: @austinh0

[crypto] Fix CASE on some embedded platforms (#7948)
  src/crypto/CHIPCryptoPALmbedTLS.cpp
Owners: @pan-apple, @emargolis

Mark UDP socket as ready for write in send msg. (#7927)
  src/inet/UDPEndPoint.cpp
Owners: @kpschoedel

Update src/controller/CHIPDeviceController.cpp
  src/controller/CHIPDeviceController.cpp
Owners: @shana-apple, @pan-apple

Update src/controller/CHIPDeviceController.cpp
  src/controller/CHIPDeviceController.cpp
Owners: @shana-apple, @pan-apple

ESP32: Fixes for CI esp32 build (#7910)
  scripts/examples/esp_example.sh
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Duplicate MRP message handling and test (#7893)
  src/lib/core/CHIPError.h
  src/messaging/ExchangeContext.cpp
  src/messaging/ExchangeContext.h
  src/messaging/ExchangeMessageDispatch.cpp
  src/messaging/ExchangeMessageDispatch.h
  src/messaging/ExchangeMgr.cpp
  src/messaging/ExchangeMgr.h
  src/messaging/tests/TestExchangeMgr.cpp
  src/messaging/tests/TestReliableMessageProtocol.cpp
  src/protocols/secure_channel/SessionEstablishmentExchangeDispatch.cpp
  src/protocols/secure_channel/SessionEstablishmentExchangeDispatch.h
  src/transport/PeerMessageCounter.h
  src/transport/SecureSessionMgr.cpp
  src/transport/SecureSessionMgr.h
  src/transport/tests/TestSecureSessionMgr.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @yufengwangca, @bzbarsky-apple, @pan-apple, @andy31415

Don't send piggybacked acks when they are not needed.
  src/messaging/ExchangeContext.cpp
  src/messaging/ExchangeMessageDispatch.cpp
  src/messaging/Flags.h
  src/messaging/ReliableMessageContext.cpp
  src/messaging/ReliableMessageContext.h
  src/messaging/ReliableMessageMgr.cpp
  src/messaging/tests/TestReliableMessageProtocol.cpp
Owners: @yufengwangca, @bzbarsky-apple

Improve mdns logging a bit. (#7924)
  src/lib/mdns/Discovery_ImplPlatform.cpp
  src/lib/mdns/Resolver.h
  src/lib/mdns/Resolver_ImplMinimalMdns.cpp
Owners: @andy31415, @gjc13, @damian-nordic

fix: CHIPError.h uses stdint.h
  src/lib/core/CHIPError.h
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

zap
  examples/all-clusters-app/all-clusters-common/gen/IMClusterCommandHandler.cpp
  examples/bridge-app/bridge-common/gen/IMClusterCommandHandler.cpp
  examples/lighting-app/lighting-common/gen/IMClusterCommandHandler.cpp
  examples/lock-app/lock-common/gen/IMClusterCommandHandler.cpp
  examples/pump-app/pump-common/gen/IMClusterCommandHandler.cpp
  examples/pump-controller-app/pump-controller-common/gen/IMClusterCommandHandler.cpp
  examples/temperature-measurement-app/esp32/main/gen/IMClusterCommandHandler.cpp
  examples/tv-app/tv-common/gen/IMClusterCommandHandler.cpp
  src/app/zap-templates/templates/app/im-cluster-command-handler.zapt
  src/controller/data_model/gen/IMClusterCommandHandler.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @vivien-apple, @erjianqing, @shana-apple, @pan-apple

Fixes
  src/ble/BLEEndPoint.cpp
  src/lib/core/CHIPConfig.h
  src/lib/core/CHIPError.cpp
  src/platform/Darwin/CHIPPlatformConfig.h
  src/platform/EFR32/BLEManagerImpl.cpp
  src/platform/EFR32/EFR32Config.cpp
  src/platform/ESP32/bluedroid/BLEManagerImpl.cpp
  src/platform/ESP32/nimble/BLEManagerImpl.cpp
  src/platform/OpenThread/OpenThreadUtils.cpp
  src/system/SystemError.cpp
  src/system/SystemLayer.h
Owners: @yunhanw-google, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @mspang, @yufengwangca, @bukepo, @kpschoedel

Build fixes
  src/inet/InetError.h
  src/platform/Darwin/PlatformManagerImpl.cpp
  src/system/SystemLayer.cpp
Owners: @kpschoedel, @mspang, @yufengwangca

Support async NOC generation via op cred delegate API (#7863)
  src/controller/CHIPDeviceController.cpp
  src/controller/CHIPDeviceController.h
  src/controller/ExampleOperationalCredentialsIssuer.cpp
  src/controller/ExampleOperationalCredentialsIssuer.h
  src/controller/OperationalCredentialsDelegate.h
  src/controller/java/AndroidDeviceControllerWrapper.cpp
  src/controller/java/AndroidDeviceControllerWrapper.h
  src/darwin/Framework/CHIP/CHIPDeviceController.mm
  src/darwin/Framework/CHIP/CHIPOperationalCredentialsDelegate.h
  src/darwin/Framework/CHIP/CHIPOperationalCredentialsDelegate.mm
Owners: @shana-apple, @pan-apple, @austinh0, @vivien-apple

Use chip::ByteSpan for CHAR_STRING and update the tree accordingly
  examples/chip-tool/commands/pairing/PairingCommand.cpp
  examples/chip-tool/commands/pairing/PairingCommand.h
  examples/chip-tool/templates/commands.zapt
  examples/tv-app/linux/include/application-launcher/ApplicationLauncherManager.cpp
  examples/tv-app/linux/include/audio-output/AudioOutputManager.cpp
  examples/tv-app/linux/include/audio-output/AudioOutputManager.h
  examples/tv-app/linux/include/content-launcher/ContentLauncherManager.cpp
  src/app/clusters/audio-output-server/audio-output-server.cpp
  src/app/clusters/door-lock-server/door-lock-server-user.cpp
  src/app/clusters/general-commissioning-server/general-commissioning-server.cpp
  src/app/clusters/groups-server/groups-server.cpp
  src/app/clusters/groups-server/groups-server.h
  src/app/clusters/operational-credentials-server/operational-credentials-server.cpp
  src/app/clusters/ota-server/ota-server.cpp
  src/app/clusters/scenes/scenes.cpp
  src/app/clusters/scenes/scenes.h
  src/app/zap-templates/common/override.js
  src/app/zap-templates/partials/im_command_handler_cluster_commands.zapt
  src/app/zap-templates/templates/app/CHIPClientCallbacks-src.zapt
  src/app/zap-templates/templates/app/af-structs.zapt
  src/app/zap-templates/templates/app/callback.zapt
  src/app/zap-templates/templates/app/helper.js
  src/app/zap-templates/zcl/data-model/chip/audio-output-cluster.xml
  src/app/zap-templates/zcl/data-model/chip/fixed-label-cluster.xml
  src/app/zap-templates/zcl/data-model/chip/general-diagnostics-cluster.xml
  src/app/zap-templates/zcl/data-model/chip/media-input-cluster.xml
  src/app/zap-templates/zcl/data-model/chip/operational-credentials-cluster.xml
  src/app/zap-templates/zcl/data-model/chip/software-diagnostics-cluster.xml
  src/app/zap-templates/zcl/data-model/chip/target-navigator-cluster.xml
  src/app/zap-templates/zcl/data-model/chip/tv-channel-cluster.xml
  src/controller/CHIPDeviceController.cpp
  src/controller/CHIPDeviceController.h
  src/darwin/Framework/CHIP/templates/CHIPClustersObjc-src.zapt
  src/transport/AdminPairingTable.cpp
  src/transport/AdminPairingTable.h
Owners: @vivien-apple, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @erjianqing, @shana-apple, @pan-apple

Update gen/ folders
  examples/all-clusters-app/all-clusters-common/gen/IMClusterCommandHandler.cpp
  examples/all-clusters-app/all-clusters-common/gen/attribute-size.cpp
  examples/all-clusters-app/all-clusters-common/gen/callback.h
  examples/bridge-app/bridge-common/gen/IMClusterCommandHandler.cpp
  examples/bridge-app/bridge-common/gen/attribute-size.cpp
  examples/bridge-app/bridge-common/gen/callback.h
  examples/chip-tool/commands/clusters/Commands.h
  examples/lighting-app/lighting-common/gen/IMClusterCommandHandler.cpp
  examples/lighting-app/lighting-common/gen/attribute-size.cpp
  examples/lighting-app/lighting-common/gen/callback.h
  examples/lock-app/lock-common/gen/IMClusterCommandHandler.cpp
  examples/lock-app/lock-common/gen/attribute-size.cpp
  examples/lock-app/lock-common/gen/callback.h
  examples/pump-app/pump-common/gen/IMClusterCommandHandler.cpp
  examples/pump-app/pump-common/gen/attribute-size.cpp
  examples/pump-app/pump-common/gen/callback.h
  examples/pump-controller-app/pump-controller-common/gen/IMClusterCommandHandler.cpp
  examples/pump-controller-app/pump-controller-common/gen/attribute-size.cpp
  examples/pump-controller-app/pump-controller-common/gen/callback.h
  examples/temperature-measurement-app/esp32/main/gen/IMClusterCommandHandler.cpp
  examples/temperature-measurement-app/esp32/main/gen/attribute-size.cpp
  examples/temperature-measurement-app/esp32/main/gen/callback.h
  examples/tv-app/tv-common/gen/IMClusterCommandHandler.cpp
  examples/tv-app/tv-common/gen/attribute-size.cpp
  examples/tv-app/tv-common/gen/callback.h
  examples/window-app/common/gen/IMClusterCommandHandler.cpp
  examples/window-app/common/gen/attribute-size.cpp
  examples/window-app/common/gen/callback.h
  src/app/common/gen/af-structs.h
  src/controller/data_model/gen/CHIPClientCallbacks.cpp
  src/controller/data_model/gen/CHIPClientCallbacks.h
  src/controller/data_model/gen/IMClusterCommandHandler.cpp
  src/controller/data_model/gen/callback.h
  src/controller/java/gen/CHIPClusters-JNI.cpp
  src/darwin/Framework/CHIP/gen/CHIPClustersObjc.mm
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @vivien-apple, @yunhanw-google, @bzbarsky-apple, @mrjerryjohns, @shana-apple, @pan-apple, @austinh0

[TE4] Add command to generate setup code, QR code with various parameters
  src/controller/python/BUILD.gn
  src/controller/python/README.md
  src/controller/python/chip-device-ctrl.py
  src/controller/python/chip/setup_payload/Generator.cpp
  src/controller/python/chip/setup_payload/setup_payload.py
Owners: @andy31415, @erjianqing

doc: nrfconnect: minor style and link fixes (#7949)
  docs/guides/nrfconnect_android_commissioning.md
  docs/guides/nrfconnect_examples_cli.md
  docs/guides/nrfconnect_examples_configuration.md
  docs/guides/nrfconnect_examples_software_update.md
  docs/guides/openthread_border_router_pi.md
  docs/guides/openthread_rcp_nrf_dongle.md
  examples/shell/nrfconnect/README.md
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Increase the number of read/write client/handler to 4
  src/app/InteractionModelEngine.h
Owners: @yunhanw-google, @bzbarsky-apple, @mrjerryjohns

[mbedtls] Bump version from 2.18 to 2.25 (#7311)
  third_party/mbedtls/mbedtls.gni
  third_party/qpg_sdk/qpg6100_sdk.gni
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Fix memory leaks and unnecessary use of packet buffers (#7852)
  src/credentials/CHIPCertFromX509.cpp
  src/credentials/tests/TestChipCert.cpp
  src/crypto/CHIPCryptoPAL.h
  src/crypto/CHIPCryptoPALOpenSSL.cpp
  src/crypto/CHIPCryptoPALmbedTLS.cpp
  src/protocols/secure_channel/CASEServer.h
  src/protocols/secure_channel/CASESession.cpp
  src/protocols/secure_channel/CASESession.h
  src/protocols/secure_channel/tests/TestCASESession.cpp
Owners: @pan-apple, @emargolis

[nrfconnect] Reduce build command length (#7945)
  config/nrfconnect/chip-module/CMakeLists.txt
  config/nrfconnect/chip-module/make_gn_args.py
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Typo/Comments Cleanup for IM writeClient and writeHandler
  src/app/InteractionModelDelegate.h
  src/app/InteractionModelEngine.h
  src/app/WriteClient.cpp
  src/app/WriteClient.h
  src/app/WriteHandler.cpp
  src/app/WriteHandler.h
Owners: @yunhanw-google, @bzbarsky-apple, @mrjerryjohns

Fix some logging formats (#7921)
  examples/all-clusters-app/all-clusters-common/gen/IMClusterCommandHandler.cpp
  examples/bridge-app/bridge-common/gen/IMClusterCommandHandler.cpp
  examples/chip-tool/commands/clusters/Commands.h
  examples/chip-tool/templates/commands.zapt
  examples/lighting-app/lighting-common/gen/IMClusterCommandHandler.cpp
  examples/lock-app/lock-common/gen/IMClusterCommandHandler.cpp
  examples/pump-app/pump-common/gen/IMClusterCommandHandler.cpp
  examples/pump-controller-app/pump-controller-common/gen/IMClusterCommandHandler.cpp
  examples/temperature-measurement-app/esp32/main/gen/IMClusterCommandHandler.cpp
  examples/tv-app/tv-common/gen/IMClusterCommandHandler.cpp
  examples/window-app/common/gen/IMClusterCommandHandler.cpp
  src/app/zap-templates/templates/app/im-cluster-command-handler.zapt
  src/controller/data_model/gen/IMClusterCommandHandler.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @vivien-apple, @erjianqing, @shana-apple, @pan-apple

Fix IPK size, it should be 16 bytes not 32 (#7907)
  src/protocols/secure_channel/CASESession.h
Owners: @pan-apple

Fix compilation error in lock-app and temperature-measurement-app (#7904)
  examples/lock-app/esp32/README.md
  examples/lock-app/esp32/main/CMakeLists.txt
  examples/lock-app/esp32/main/Kconfig.projbuild
  examples/temperature-measurement-app/esp32/README.md
  examples/temperature-measurement-app/esp32/main/CMakeLists.txt
  examples/temperature-measurement-app/esp32/main/Kconfig.projbuild
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Address PR comments
  src/app/server/Mdns.cpp
  src/app/server/Mdns.h
  src/app/server/Server.cpp
  src/controller/CHIPDeviceController.cpp
  src/controller/CHIPDeviceController.h
  src/lib/mdns/Advertiser.h
  src/lib/mdns/Advertiser_ImplMinimalMdns.cpp
  src/lib/mdns/Discovery_ImplPlatform.cpp
  src/lib/mdns/Discovery_ImplPlatform.h
  src/lib/mdns/Resolver.h
  src/lib/mdns/tests/TestServiceNaming.cpp
  src/messaging/tests/echo/echo_responder.cpp
  src/protocols/user_directed_commissioning/UDCClientState.h
  src/protocols/user_directed_commissioning/UDCClients.h
  src/protocols/user_directed_commissioning/UserDirectedCommissioning.h
  src/protocols/user_directed_commissioning/UserDirectedCommissioningServer.cpp
Owners: @yunhanw-google, @bzbarsky-apple, @mrjerryjohns, @shana-apple, @pan-apple, @andy31415, @gjc13, @damian-nordic, @yufengwangca, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

[TE4] Add command to generate setup code, QR code with various parameters (#7964)
  src/controller/python/BUILD.gn
  src/controller/python/README.md
  src/controller/python/chip-device-ctrl.py
  src/controller/python/chip/setup_payload/Generator.cpp
  src/controller/python/chip/setup_payload/setup_payload.py
Owners: @andy31415, @erjianqing

Don't send piggybacked acks when they are not needed. (#7958)
  src/messaging/ExchangeContext.cpp
  src/messaging/ExchangeMessageDispatch.cpp
  src/messaging/Flags.h
  src/messaging/ReliableMessageContext.cpp
  src/messaging/ReliableMessageContext.h
  src/messaging/ReliableMessageMgr.cpp
  src/messaging/tests/TestReliableMessageProtocol.cpp
Owners: @yufengwangca, @bzbarsky-apple

Add WiFiNetworkDiagnostics to helper.js to generate test code in darwin
  src/app/zap-templates/zcl/data-model/chip/general-diagnostics-cluster.xml
  src/darwin/Framework/CHIP/templates/helper.js
Owners: @vivien-apple, @erjianqing, @shana-apple, @pan-apple

Update Wifi diagnostics cluster in controller-clusters.zap and all-clusters-app.zap
  examples/all-clusters-app/all-clusters-common/all-clusters-app.zap
  src/controller/data_model/controller-clusters.zap
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @shana-apple, @pan-apple

[msg] Reorder header bits to match spec. (#7861)
  src/transport/SecureMessageCodec.cpp
  src/transport/SecureSessionMgr.cpp
  src/transport/raw/MessageHeader.cpp
  src/transport/raw/MessageHeader.h
Owners: @andy31415, @pan-apple, @yufengwangca, @kghost, @bzbarksy-apple

Update gen folders
  examples/all-clusters-app/all-clusters-common/gen/endpoint_config.h
  examples/chip-tool/commands/clusters/Commands.h
  src/controller/data_model/gen/CHIPClusters.cpp
  src/controller/data_model/gen/CHIPClusters.h
  src/controller/data_model/gen/callback-stub.cpp
  src/controller/data_model/gen/callback.h
  src/controller/data_model/gen/chip-zcl-zpro-codec-api.h
  src/controller/data_model/gen/encoder.cpp
  src/controller/data_model/gen/endpoint_config.h
  src/controller/data_model/gen/gen_config.h
  src/controller/java/gen/CHIPClusters-JNI.cpp
  src/controller/java/gen/ChipClusters.java
  src/controller/python/chip/clusters/CHIPClusters.cpp
  src/controller/python/chip/clusters/CHIPClusters.py
  src/darwin/Framework/CHIP/gen/CHIPClustersObjc.h
  src/darwin/Framework/CHIP/gen/CHIPClustersObjc.mm
  src/darwin/Framework/CHIPTests/CHIPClustersTests.m
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @vivien-apple, @shana-apple, @pan-apple, @austinh0, @andy31415, @erjianqing

Align the flag check between InetLayer::Init and InetLayer::Shutdown (#7883)
  src/inet/InetLayer.cpp
Owners: @kpschoedel

[Cirque] Use session instead of screen to start flask
  scripts/tests/cirque_tests.sh
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

[shell] Fix assert failure during startup
  src/lib/shell/Engine.h
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Expose csrNonce param to pairDevice() in Android
  src/controller/java/CHIPDeviceController-JNI.cpp
  src/controller/java/JniTypeWrappers.h
  src/controller/java/src/chip/devicecontroller/ChipDeviceController.java
Owners: @austinh0

Expose csrNonce param to pairDevice() in Darwin
  src/darwin/CHIPTool/CHIPTool/View Controllers/QRCode/QRCodeViewController.m
  src/darwin/Framework/CHIP/CHIPDeviceController.h
  src/darwin/Framework/CHIP/CHIPDeviceController.mm
Owners: @shana-apple, @vivien-apple, @pan-apple
