Repository project-chip/connectedhomeip, changes with the owners that .github/CODEOWNERS names for each.
All owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @mspang, @pan-apple, @emargolis, @andy31415, @yufengwangca, @kghost, @bzbarksy-apple, @bzbarsky-apple, @gjc13, @damian-nordic, @erjiaqing, @shana-apple, @yunhanw-google, @vivien-apple, @erjianqing, @mrjerryjohns, @jrhees-cae, @rgoliver, @austinh0, @bukepo, @kpschoedel

Change info message to refer to correct characteristic (TX instead of RX)
  src/platform/qpg6100/BLEManagerImpl.cpp
Owners: @mspang, @yufengwangca

Add IM Event Lock support
  src/app/BUILD.gn
  src/app/CriticalSection.h
  src/app/CriticalSectionImplPosix.cpp
  src/app/CriticalSectionImplRtos.cpp
  src/app/CriticalSectionImplZephyr.cpp
  src/app/EventManagement.cpp
  src/app/EventManagement.h
  src/inet/InetLayer.h
  src/platform/EFR32/SystemPlatformConfig.h
  src/platform/ESP32/SystemPlatformConfig.h
  src/platform/K32W/SystemPlatformConfig.h
  src/platform/cc13x2_26x2/SystemPlatformConfig.h
  src/platform/qpg6100/SystemPlatformConfig.h
  src/system/SystemMutex.cpp
  src/system/SystemMutex.h
  src/system/system.gni
Owners: @yunhanw-google, @bzbarsky-apple, @mrjerryjohns, @kpschoedel, @mspang, @yufengwangca

Restyled by clang-format
  src/app/EventManagement.cpp
Owners: @yunhanw-google, @bzbarsky-apple, @mrjerryjohns

Change MessageSendDestination into a type-safe Variant (#7037)
  examples/all-clusters-app/all-clusters-common/gen/callback-stub.cpp
  examples/all-clusters-app/all-clusters-common/gen/callback.h
  examples/bridge-app/bridge-common/gen/callback-stub.cpp
  examples/bridge-app/bridge-common/gen/callback.h
  examples/lighting-app/lighting-common/gen/callback-stub.cpp
  examples/lighting-app/lighting-common/gen/callback.h
  examples/lock-app/lock-common/gen/callback-stub.cpp
  examples/lock-app/lock-common/gen/callback.h
  examples/pump-app/pump-common/gen/callback-stub.cpp
  examples/pump-app/pump-common/gen/callback.h
  examples/pump-controller-app/pump-controller-common/gen/callback-stub.cpp
  examples/pump-controller-app/pump-controller-common/gen/callback.h
  examples/temperature-measurement-app/esp32/main/gen/callback-stub.cpp
  examples/temperature-measurement-app/esp32/main/gen/callback.h
  examples/tv-app/linux/include/media-playback/MediaPlaybackManager.cpp
  examples/tv-app/tv-common/gen/callback-stub.cpp
  examples/tv-app/tv-common/gen/callback.h
  examples/window-app/common/gen/callback-stub.cpp
  examples/window-app/common/gen/callback.h
  src/app/clusters/ias-zone-client/ias-zone-client.cpp
  src/app/clusters/ias-zone-server/ias-zone-server.cpp
  src/app/clusters/messaging-client/messaging-client.cpp
  src/app/clusters/messaging-server/messaging-server.cpp
  src/app/reporting/reporting.cpp
  src/app/util/af-main-common.cpp
  src/app/util/af-main.h
  src/app/util/af-types.h
  src/app/util/af.h
  src/app/util/attribute-storage.cpp
  src/app/util/attribute-storage.h
  src/app/util/client-api.cpp
  src/app/util/types_stub.h
  src/app/util/util.cpp
  src/app/zap-templates/templates/app/callback-stub-src.zapt
  src/app/zap-templates/templates/app/callback.zapt
  src/controller/data_model/gen/callback-stub.cpp
  src/controller/data_model/gen/callback.h
  src/lib/support/Variant.h
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @vivien-apple, @yunhanw-google, @bzbarsky-apple, @mrjerryjohns, @erjianqing, @shana-apple, @pan-apple

Add support of chip_mdns without default value (#7420)
  scripts/build_python.sh
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

FieldId and Listindex should not be exclusive (#7295)
  src/app/AttributePathParams.h
  src/app/ClusterInfo.h
  src/app/InteractionModelEngine.cpp
  src/app/MessageDef/AttributePath.cpp
  src/app/ReadClient.cpp
  src/app/ReadClient.h
  src/app/ReadHandler.cpp
  src/app/tests/BUILD.gn
  src/app/tests/TestAttributePathParams.cpp
  src/app/tests/TestReadInteraction.cpp
  src/app/tests/integration/chip_im_initiator.cpp
Owners: @yunhanw-google, @bzbarsky-apple, @mrjerryjohns

[K32W] Save PDM to external flash on the DK6 board (#7307)
  examples/platform/k32w/app/ldscripts/chip-k32w061-linker.ld
  third_party/k32w_sdk/k32w_sdk.gni
  third_party/k32w_sdk/sdk_fixes/Eeprom_MX25R8035F.c
  third_party/k32w_sdk/sdk_fixes/GenericList.h
  third_party/k32w_sdk/sdk_fixes/PWR.c
  third_party/k32w_sdk/sdk_fixes/RNG_Interface.h
  third_party/k32w_sdk/sdk_fixes/ble_conn_manager.h
  third_party/k32w_sdk/sdk_fixes/patch_k32w_sdk.sh
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Add IM Event Lock support
  src/app/BUILD.gn
  src/app/CriticalSection.h
  src/app/CriticalSectionImplPosix.cpp
  src/app/CriticalSectionImplRtos.cpp
  src/app/CriticalSectionImplZephyr.cpp
  src/app/EventManagement.cpp
  src/app/EventManagement.h
  src/inet/InetLayer.h
  src/platform/EFR32/SystemPlatformConfig.h
  src/platform/ESP32/SystemPlatformConfig.h
  src/platform/K32W/SystemPlatformConfig.h
  src/platform/cc13x2_26x2/SystemPlatformConfig.h
  src/platform/qpg6100/SystemPlatformConfig.h
  src/system/SystemMutex.cpp
  src/system/SystemMutex.h
  src/system/system.gni
Owners: @yunhanw-google, @bzbarsky-apple, @mrjerryjohns, @kpschoedel, @mspang, @yufengwangca

[crypto] Unblock parsing CSRs on embedded devices
  src/crypto/CHIPCryptoPALmbedTLS.cpp
  src/test_driver/nrfconnect/main/include/app_mbedtls_config.h
Owners: @pan-apple, @emargolis, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Enable support for list attributes in Python controller. (#7403)
  src/controller/python/chip/clusters/CHIPClusters.cpp
  src/controller/python/chip/clusters/CHIPClusters.py
  src/controller/python/templates/python-CHIPClusters-cpp.zapt
  src/controller/python/templates/python-CHIPClusters-py.zapt
Owners: @andy31415, @erjianqing

Fix handling of node ID resolution failure when mDeviceBeingPaired is not set. (#7383)
  src/controller/CHIPDeviceController.cpp
Owners: @shana-apple, @pan-apple

[qr-code] Align QR Code format with the spec (#7272)
  docs/guides/nrfconnect_examples_cli.md
  examples/all-clusters-app/esp32/main/main.cpp
  examples/chip-tool/README.md
  examples/chip-tool/commands/payload/SetupPayloadParseCommand.cpp
  examples/chip-tool/commands/payload/SetupPayloadParseCommand.h
  examples/pump-app/cc13x2x7_26x2x7/README.md
  examples/pump-controller-app/cc13x2x7_26x2x7/README.md
  src/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/CHIPToolActivity.kt
  src/controller/python/README.md
  src/controller/python/chip/setup_payload/Parser.cpp
  src/controller/python/chip/setup_payload/setup_payload.py
  src/darwin/Framework/CHIP/CHIPSetupPayload.h
  src/darwin/Framework/CHIP/CHIPSetupPayload.mm
  src/darwin/Framework/CHIP/CHIPSetupPayload_Internal.h
  src/darwin/Framework/CHIPTests/CHIPSetupPayloadParserTests.m
  src/setup_payload/Base38.cpp
  src/setup_payload/ManualSetupPayloadGenerator.cpp
  src/setup_payload/ManualSetupPayloadParser.cpp
  src/setup_payload/QRCodeSetupPayloadGenerator.cpp
  src/setup_payload/QRCodeSetupPayloadParser.cpp
  src/setup_payload/SetupPayload.cpp
  src/setup_payload/SetupPayload.h
  src/setup_payload/SetupPayloadHelper.cpp
  src/setup_payload/java/SetupPayloadParser-JNI.cpp
  src/setup_payload/java/src/chip/setuppayload/SetupPayload.java
  src/setup_payload/tests/TestHelpers.h
  src/setup_payload/tests/TestManualCode.cpp
  src/setup_payload/tests/TestQRCode.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @vivien-apple, @austinh0, @andy31415, @erjianqing, @shana-apple, @pan-apple, @jrhees-cae

Fix for ESP32 compilation on VSCode. (#7419)
  scripts/examples/build-all-clusters-app.py
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

[esp32] reduce default event queue size (#7217)
  config/esp32/components/chip/Kconfig
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Fix incorrect test termination condition in TestCommand subclasses.
  examples/chip-tool/commands/tests/Commands.h
  examples/chip-tool/templates/partials/test_cluster.zapt
Owners: @vivien-apple

Fix System vs Inet and BLE shutdown order
  src/controller/CHIPDeviceController.cpp
  src/controller/java/CHIPDeviceController-JNI.cpp
  src/include/platform/internal/GenericPlatformManagerImpl.cpp
Owners: @shana-apple, @pan-apple, @austinh0, @mspang, @yufengwangca

Overriding onOpCSRGenerationComplete method in ChipTool app
  src/android/CHIPTool/a.txt
  src/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/provisioning/DeviceProvisioningFragment.kt
  src/android/CHIPTool/app/src/main/jniLibs/arm64-v8a/libCHIPController.map
  src/android/CHIPTool/app/src/main/res/values/strings.xml
  src/android/CHIPTool/logcat.txt
  src/android/CHIPTool/std.txt
  src/controller/java/AndroidDeviceControllerWrapper.cpp
  src/controller/java/AndroidDeviceControllerWrapper.h
  src/credentials/CHIPCertFromX509.cpp
  third_party/ot-commissioner/.build_arm64/libs/libotcommissioner.jar
  third_party/ot-commissioner/.build_arm64/third_party/libevent/repo/LibeventTargets.cmake
Owners: @austinh0, @pan-apple, @emargolis, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Reduce Lwip memory pool counts and size for MG21 Reduce OT CLI buffers size Increase lighting app to 13k like it was already done for Lock app
  examples/lighting-app/efr32/BUILD.gn
  examples/lock-app/efr32/src/ZclCallbacks.cpp
  examples/platform/efr32/project_include/OpenThreadConfig.h
  src/lwip/efr32/lwipopts.h
Owners: @mspang, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Make test_suites.sh run multiple iterations of the tests.
  scripts/tests/test_suites.sh
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

[crypto] Unblock parsing CSRs on embedded devices (#7424)
  src/crypto/CHIPCryptoPALmbedTLS.cpp
  src/test_driver/nrfconnect/main/include/app_mbedtls_config.h
Owners: @pan-apple, @emargolis, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Change from BLE indications to notifications; set UUIDs dynamically from BleManager (#7421)
  src/platform/qpg6100/BLEManagerImpl.cpp
  third_party/openthread/platforms/qpg6100/BUILD.gn
Owners: @mspang, @yufengwangca

Updating bootstrap timeouts and darwin tests
  .github/workflows/android.yaml
  .github/workflows/build.yaml
  .github/workflows/darwin.yaml
  .github/workflows/examples-linux-standalone.yaml
  .github/workflows/tests.yaml
  .github/workflows/unit_integration_test.yaml
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Restyled by whitespace
  src/controller/java/JniReferences.h
Owners: @austinh0

Restyled by google-java-format
  src/controller/java/src/chip/devicecontroller/ChipDeviceController.java
Owners: @austinh0

Restyled by clang-format
  src/controller/java/AndroidDeviceControllerWrapper.cpp
  src/controller/java/AndroidDeviceControllerWrapper.h
  src/controller/java/CHIPDeviceController-JNI.cpp
  src/controller/java/JniReferences.cpp
  src/credentials/CHIPCertFromX509.cpp
Owners: @austinh0, @pan-apple, @emargolis

Add IM Event Lock support (#7332)
  src/app/BUILD.gn
  src/app/CriticalSection.h
  src/app/CriticalSectionImplPosix.cpp
  src/app/CriticalSectionImplRtos.cpp
  src/app/CriticalSectionImplZephyr.cpp
  src/app/EventManagement.cpp
  src/app/EventManagement.h
  src/inet/InetLayer.h
  src/platform/EFR32/SystemPlatformConfig.h
  src/platform/ESP32/SystemPlatformConfig.h
  src/platform/K32W/SystemPlatformConfig.h
  src/platform/cc13x2_26x2/SystemPlatformConfig.h
  src/platform/qpg6100/SystemPlatformConfig.h
  src/system/SystemMutex.cpp
  src/system/SystemMutex.h
  src/system/system.gni
Owners: @yunhanw-google, @bzbarsky-apple, @mrjerryjohns, @kpschoedel, @mspang, @yufengwangca

Pulling the OpCSR using a callback
  src/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/GenericChipDeviceListener.kt
  src/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/provisioning/DeviceProvisioningFragment.kt
  src/controller/java/AndroidDeviceControllerWrapper.cpp
  src/controller/java/AndroidDeviceControllerWrapper.h
  src/controller/java/CHIPDeviceController-JNI.cpp
  src/controller/java/JniReferences.cpp
  src/controller/java/JniReferences.h
  src/controller/java/src/chip/devicecontroller/ChipDeviceController.java
Owners: @austinh0

Create StackLock.h, containing StackLockGuard (formerly ScopedPthreadLock) and StackUnlockGuard.
  src/controller/java/AndroidDeviceControllerWrapper.cpp
  src/controller/java/AndroidDeviceControllerWrapper.h
  src/controller/java/BUILD.gn
  src/controller/java/CHIPDeviceController-JNI.cpp
  src/controller/java/JniReferences.cpp
  src/controller/java/JniReferences.h
  src/controller/java/StackLock.h
Owners: @austinh0

Add ZAP templates for accessing clusters through JNI
  scripts/tools/zap_regen_all.py
  src/controller/java/BUILD.gn
  src/controller/java/CHIPDeviceController-JNI.cpp
  src/controller/java/JniReferences.cpp
  src/controller/java/JniReferences.h
  src/controller/java/src/chip/devicecontroller/ChipClusterException.java
  src/controller/java/templates/CHIPClusters-JNI.zapt
  src/controller/java/templates/ChipClusters-java.zapt
  src/controller/java/templates/helper.js
  src/controller/java/templates/templates.json
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @austinh0

Generated files and java/BUILD changes to include them.
  src/controller/java/BUILD.gn
  src/controller/java/gen/CHIPClusters-JNI.cpp
  src/controller/java/gen/ChipClusters.java
Owners: @austinh0

Use clusters in Android CHIPTool.
  src/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/clusterclient/OnOffClientFragment.kt
  src/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/provisioning/DeviceProvisioningFragment.kt
  src/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/provisioning/EnterNetworkFragment.kt
  src/android/CHIPTool/app/src/main/res/layout/on_off_client_fragment.xml
  src/controller/java/CHIPDeviceController-JNI.cpp
  src/controller/java/src/chip/devicecontroller/ChipDeviceController.java
Owners: @austinh0

Restyled by whitespace
  src/controller/java/gen/ChipClusters.java
  src/controller/java/src/chip/devicecontroller/ChipClusterException.java
  src/controller/java/templates/helper.js
Owners: @austinh0

Restyled by google-java-format
  src/controller/java/gen/ChipClusters.java
  src/controller/java/src/chip/devicecontroller/ChipClusterException.java
Owners: @austinh0

Restyled by clang-format
  src/controller/java/templates/helper.js
Owners: @austinh0

Restyled by gn
  src/controller/java/BUILD.gn
Owners: @austinh0

Updated ECDSA Signature Representation in the CHIP Certificate.
  src/credentials/CHIPCert.cpp
  src/credentials/CHIPCert.h
  src/credentials/CHIPCertFromX509.cpp
  src/credentials/CHIPCertToX509.cpp
  src/credentials/tests/CHIPCert_test_vectors.cpp
  src/crypto/CHIPCryptoPAL.h
  src/tools/chip-cert/Cmd_PrintCert.cpp
Owners: @pan-apple, @emargolis

Inject 1 second delay before start next test to improve the stability in cirque.
  src/app/tests/integration/chip_im_initiator.cpp
Owners: @yunhanw-google, @bzbarsky-apple, @mrjerryjohns

[test] Update log checking patten after log output update
  src/test_driver/linux-cirque/test-mobile-device.py
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

[test] Update mobile device test
  src/controller/python/test/test_scripts/base.py
  src/controller/python/test/test_scripts/mobile-device-test.py
Owners: @andy31415, @erjianqing

[python] Raise exceptions when the controller failed to send commands
  src/controller/python/chip/clusters/CHIPClusters.py
  src/controller/python/templates/python-CHIPClusters-py.zapt
Owners: @andy31415, @erjianqing

.github/CODEOWNERS:

# Current reviewers-XXX teams, who review everything for approval.
* @reviewers-amazon @reviewers-apple @reviewers-comcast @reviewers-google @reviewers-nordic @reviewers-samsung @reviewers-silabs


# BUILD system

*.gn @mspang
/build/ @mspang
/scripts/build/ @mspang

# Crypto
# Crypto primitives and high level API, generally on top of mbedtls and openssl
/src/crypto/* @pan-apple @emargolis
/src/credentials/ @pan-apple @emargolis

# Transport
# Send and receive data abstracting away the underlying protocol (UDP, TCP, BLE)
/src/transport/ @andy31415 @pan-apple

# Session establishment
# Establish a secure session (encryption keys) from one node to another.
# Includes CASE and PASE + session tracking and resumptioon
/src/protocols/secure_channel/ @pan-apple

# Message Layer
# CRMP and packet headers, generally coupled with SecureSessionManager
/src/messaging @yufengwangca @kghost @bzbarksy-apple
/src/transport/raw/MessageHeader.* @yufengwangca @kghost @bzbarksy-apple

# SecureSessionManager
# Manages per-session encryption keys and new session establishment
/src/transport/SecureSessionMgr.* @pan-apple

# Exchange management
# Joins requests and responses or ties a series of messages belonging to the 
# same protocol interaction
/src/messaging/ @yufengwangca @bzbarsky-apple
/src/channel/ @yufengwangca @bzbarsky-apple

# DNS-SD discovery and advertisement
# Advertise chip devices for commisioning, operational and discover such devices
/src/lib/mdns/ @andy31415 @gjc13 @damian-nordic

# Commisioning controller/flow
# Example of a comisioning sequence
/src/controller/ @pan-apple @erjiaqing

# Operational credentials management
# Signing certificates, maintaining roots of trust, validation, fabric management
/src/controller/ @shana-apple @pan-apple
/src/transport/AdminPairingTable.* @shana-apple @pan-apple

# TLV encoding/decoding to/from byte buffers
/src/lib/core/CHIPTLV* @yunhanw-google @bzbarsky-apple @shana-apple

# Interaction model - ember implementation
# ZCL protocol implementation: ZCL encoding to be sent over the wire as a 
# ZigbeePro protocol implementation
/src/app/util/ @vivien-apple @erjianqing @bzbarsky-apple

# Interaction model - non-ember
# Protocol implementation for IM interactions between nodes, matching spec
/src/app/ @yunhanw-google @bzbarsky-apple @mrjerryjohns

# Interaction model - code generation
# CHIP-specific infrastructure for generating code: helper js methods, scripts
# and code layout
/src/app/zap-templates/ @vivien-apple @erjianqing

# ZAP suppport
# UI for editing XML, generates code from such ZML and configuration files
# NOT part of CHIP however CHIP relies heavily on ZAP.
#    @vivien-apple  @tecimovic

# 'Standard' cluster implementations (server side)
# Clusters shipped with the sdk, can be integrated as-is or used as a template
/src/app/clusters/ @vivien-apple

# Onboarding payload
# Parsing and generation of codes (includes QR and NFC), numeric pairing payload
/src/setup_payload/ @shana-apple @vivien-apple @jrhees-cae

# Device Layer
# Porting interfaces, scaffolding for building an example firmware
/src/platform/ @mspang @yufengwangca
/src/include/platform/ @mspang @yufengwangca

# Persistent storage
# Save state across reboots
/src/platform/*/KeyValueStore* @rgoliver

# Python bindings for CHIP - CLI
# Allows python code to use CHIP, generally targeted towards automation
/src/controller/python/ @andy31415 @erjianqing

# CHIP-tool C++ CLI
# Command line interface to chip as a client (controller and commisioner)
# Includes generated code for every base cluster
/examples/chip-tool/ @vivien-apple

# CHIP-tool iOS UI
/src/darwin/CHIPTool/ @shana-apple

# CHIP-tool Android
/src/android/CHIPTool/ @austinh0
/src/controller/java/ @austinh0

# End2End autogenerated tests
/src/darwin/Framework/Chip-templates/ @vivien-apple
/src/app/tests/suites/ @vivien-apple

# End2End cirque tests
# Simulate topology (cirque) and ptyhon-based test automation
/src/test_driver/linux/cirque/ @erjianqing @yunhanw-google

# Thread integration
# Thread-specific functionality (network provisioning, operational discovery, SRP registration etc.)
/src/platform/OpenThread/ @bukepo
/src/platform/*/ThreadStackmanagerImpl.* @bukepo

# Inet
# Networking abstraction layer (UDP-endpoint, TCP-endpoint, InetLayerBasis)
/src/inet/ @kpschoedel 

# System layer
/src/system/ @kpschoedel 

# BLE support
/src/ble/ @yunhanw-google

# CHIP Shell
# Command-line UART/stdin interface as a side-channel to CHIP accessories
# Aimed as user-friendly/manual control
/src/examples/shell/ @gjc13 @yufengwangca

# RPC
# Side-channlel command path (outside chip), generally for automation and debugging
# Aimed as "scriptable" when compared to shell
/examples/common/pigweed/ @rgoliver
/examples/pigweed-app/ @rgoliver

# Tooling for crypto manual generation
# Generates data for sample PKI
/src/tools/chip-cert/ @emargolis

# Channel API
# Construct a transport/secure session based on peer info and transport type.
# Focused on CASE session establishment
/src/channel/ @kghost

# Darwin framework
# Exposes a darwin API (Objective-C/swift rather than raw C++ API) for darwin
# applications
/src/darwin/Framework/ @shana-apple @vivien-apple @pan-apple
