Repository project-chip/connectedhomeip, changes with the owners that .github/CODEOWNERS names for each.
All owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @mspang, @pan-apple, @emargolis, @andy31415, @yufengwangca, @kghost, @bzbarksy-apple, @bzbarsky-apple, @gjc13, @damian-nordic, @erjiaqing, @shana-apple, @yunhanw-google, @vivien-apple, @erjianqing, @mrjerryjohns, @jrhees-cae, @rgoliver, @austinh0, @bukepo, @kpschoedel

.github/CODEOWNERS:

# Current reviewers-XXX teams, who review everything for approval.
* @reviewers-amazon @reviewers-apple @reviewers-comcast @reviewers-google @reviewers-nordic @reviewers-samsung @reviewers-silabs


# BUILD system

*.gn @mspang
/build/ @mspang
/scripts/build/ @mspang

# Crypto
# Crypto primitives and high level API, generally on top of mbedtls and openssl
/src/crypto/* @pan-apple @emargolis
/src/credentials/ @pan-apple @emargolis

# Transport
# Send and receive data abstracting away the underlying protocol (UDP, TCP, BLE)
/src/transport/ @andy31415 @pan-apple

# Session establishment
# Establish a secure session (encryption keys) from one node to another.
# Includes CASE and PASE + session tracking and resumptioon
/src/protocols/secure_channel/ @pan-apple

# Message Layer
# CRMP and packet headers, generally coupled with SecureSessionManager
/src/messaging @yufengwangca @kghost @bzbarksy-apple
/src/transport/raw/MessageHeader.* @yufengwangca @kghost @bzbarksy-apple

# SecureSessionManager
# Manages per-session encryption keys and new session establishment
/src/transport/SecureSessionMgr.* @pan-apple

# Exchange management
# Joins requests and responses or ties a series of messages belonging to the 
# same protocol interaction
/src/messaging/ @yufengwangca @bzbarsky-apple
/src/channel/ @yufengwangca @bzbarsky-apple

# DNS-SD discovery and advertisement
# Advertise chip devices for commisioning, operational and discover such devices
/src/lib/mdns/ @andy31415 @gjc13 @damian-nordic

# Commisioning controller/flow
# Example of a comisioning sequence
/src/controller/ @pan-apple @erjiaqing

# Operational credentials management
# Signing certificates, maintaining roots of trust, validation, fabric management
/src/controller/ @shana-apple @pan-apple
/src/transport/AdminPairingTable.* @shana-apple @pan-apple

# TLV encoding/decoding to/from byte buffers
/src/lib/core/CHIPTLV* @yunhanw-google @bzbarsky-apple @shana-apple

# Interaction model - ember implementation
# ZCL protocol implementation: ZCL encoding to be sent over the wire as a 
# ZigbeePro protocol implementation
/src/app/util/ @vivien-apple @erjianqing @bzbarsky-apple

# Interaction model - non-ember
# Protocol implementation for IM interactions between nodes, matching spec
/src/app/ @yunhanw-google @bzbarsky-apple @mrjerryjohns

# Interaction model - code generation
# CHIP-specific infrastructure for generating code: helper js methods, scripts
# and code layout
/src/app/zap-templates/ @vivien-apple @erjianqing

# ZAP suppport
# UI for editing XML, generates code from such ZML and configuration files
# NOT part of CHIP however CHIP relies heavily on ZAP.
#    @vivien-apple  @tecimovic

# 'Standard' cluster implementations (server side)
# Clusters shipped with the sdk, can be integrated as-is or used as a template
/src/app/clusters/ @vivien-apple

# Onboarding payload
# Parsing and generation of codes (includes QR and NFC), numeric pairing payload
/src/setup_payload/ @shana-apple @vivien-apple @jrhees-cae

# Device Layer
# Porting interfaces, scaffolding for building an example firmware
/src/platform/ @mspang @yufengwangca
/src/include/platform/ @mspang @yufengwangca

# Persistent storage
# Save state across reboots
/src/platform/*/KeyValueStore* @rgoliver

# Python bindings for CHIP - CLI
# Allows python code to use CHIP, generally targeted towards automation
/src/controller/python/ @andy31415 @erjianqing

# CHIP-tool C++ CLI
# Command line interface to chip as a client (controller and commisioner)
# Includes generated code for every base cluster
/examples/chip-tool/ @vivien-apple

# CHIP-tool iOS UI
/src/darwin/CHIPTool/ @shana-apple

# CHIP-tool Android
/src/android/CHIPTool/ @austinh0
/src/controller/java/ @austinh0

# End2End autogenerated tests
/src/darwin/Framework/Chip-templates/ @vivien-apple
/src/app/tests/suites/ @vivien-apple

# End2End cirque tests
# Simulate topology (cirque) and ptyhon-based test automation
/src/test_driver/linux/cirque/ @erjianqing @yunhanw-google

# Thread integration
# Thread-specific functionality (network provisioning, operational discovery, SRP registration etc.)
/src/platform/OpenThread/ @bukepo
/src/platform/*/ThreadStackmanagerImpl.* @bukepo

# Inet
# Networking abstraction layer (UDP-endpoint, TCP-endpoint, InetLayerBasis)
/src/inet/ @kpschoedel 

# System layer
/src/system/ @kpschoedel 

# BLE support
/src/ble/ @yunhanw-google

# CHIP Shell
# Command-line UART/stdin interface as a side-channel to CHIP accessories
# Aimed as user-friendly/manual control
/src/examples/shell/ @gjc13 @yufengwangca

# RPC
# Side-channlel command path (outside chip), generally for automation and debugging
# Aimed as "scriptable" when compared to shell
/examples/common/pigweed/ @rgoliver
/examples/pigweed-app/ @rgoliver

# Tooling for crypto manual generation
# Generates data for sample PKI
/src/tools/chip-cert/ @emargolis

# Channel API
# Construct a transport/secure session based on peer info and transport type.
# Focused on CASE session establishment
/src/channel/ @kghost

# Darwin framework
# Exposes a darwin API (Objective-C/swift rather than raw C++ API) for darwin
# applications
/src/darwin/Framework/ @shana-apple @vivien-apple @pan-apple

platform changes for thread support
  config/esp32/components/chip/CMakeLists.txt
  src/platform/ESP32/BUILD.gn
  src/platform/ESP32/CHIPDevicePlatformConfig.h
  src/platform/ESP32/ConfigurationManagerImpl.cpp
  src/platform/ESP32/ConnectivityManagerImpl.cpp
  src/platform/ESP32/ConnectivityManagerImpl.h
  src/platform/ESP32/DeviceNetworkProvisioningDelegateImpl.cpp
  src/platform/ESP32/DeviceNetworkProvisioningDelegateImpl.h
  src/platform/ESP32/ESP32Config.cpp
  src/platform/ESP32/ESP32Config.h
  src/platform/ESP32/ESP32Utils.cpp
  src/platform/ESP32/ESP32Utils.h
  src/platform/ESP32/ESPThreadConfig.h
  src/platform/ESP32/PlatformManagerImpl.cpp
  src/platform/ESP32/PlatformManagerImpl.h
  src/platform/ESP32/ServiceProvisioning.cpp
  src/platform/ESP32/ServiceProvisioning.h
  src/platform/ESP32/ThreadStackManagerImpl.cpp
  src/platform/ESP32/ThreadStackManagerImpl.h
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @mspang, @yufengwangca

try to avoid #if large amount of code
  src/platform/ESP32/BUILD.gn
  src/platform/ESP32/ConfigurationManagerImpl.cpp
  src/platform/ESP32/ConnectivityManagerImpl.h
  src/platform/ESP32/ConnectivityManagerImpl_Thread.cpp
  src/platform/ESP32/ConnectivityManagerImpl_Thread.h
  src/platform/ESP32/ConnectivityManagerImpl_WiFi.cpp
  src/platform/ESP32/ConnectivityManagerImpl_WiFi.h
  src/platform/ESP32/ESP32Config.cpp
  src/platform/ESP32/ESP32Config.h
  src/platform/ESP32/ESP32Utils.cpp
  src/platform/ESP32/PlatformManagerImpl.cpp
  src/platform/ESP32/PlatformManagerImpl.h
  src/platform/ESP32/ServiceProvisioning.cpp
  src/platform/ESP32/ServiceProvisioning.h
Owners: @mspang, @yufengwangca

Restyled by whitespace
  src/platform/ESP32/ConnectivityManagerImpl.h
  src/platform/ESP32/ConnectivityManagerImpl_Thread.h
Owners: @mspang, @yufengwangca

Restyled by clang-format
  src/platform/ESP32/PlatformManagerImpl.cpp
Owners: @mspang, @yufengwangca

Restyled by gn
  src/platform/ESP32/BUILD.gn
Owners: @mspang, @yufengwangca

WC: Add new test cases
  examples/chip-tool/templates/tests-commands.zapt
  src/app/tests/suites/certification/Test_TC_WNCV_3_1.yaml
  src/app/tests/suites/certification/Test_TC_WNCV_3_2.yaml
  src/app/tests/suites/certification/Test_TC_WNCV_3_3.yaml
  src/darwin/Framework/CHIP/templates/clusters-tests.zapt
Owners: @vivien-apple, @shana-apple, @pan-apple

WC: Add Mandatory Command support in all cluster app
  examples/all-clusters-app/all-clusters-common/all-clusters-app.zap
  examples/all-clusters-app/esp32/main/CMakeLists.txt
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

WC: Add autogen test case generated + add WindowCovering handler in all cluster app
  src/darwin/Framework/CHIPTests/CHIPClustersTests.m
  zzz_generated/all-clusters-app/zap-generated/IMClusterCommandHandler.cpp
  zzz_generated/chip-tool/zap-generated/test/Commands.h
Owners: @shana-apple, @vivien-apple, @pan-apple, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

WC: Add missing StopMotion as weak callback definition
  src/app/clusters/window-covering-server/window-covering-server.cpp
Owners: @vivien-apple

support different dhcp client in Linux
  src/platform/Linux/ConnectivityManagerImpl.cpp
Owners: @mspang, @yufengwangca

Restyled by whitespace
  src/app/tests/suites/certification/Test_TC_WNCV_3_1.yaml
  src/app/tests/suites/certification/Test_TC_WNCV_3_2.yaml
  src/app/tests/suites/certification/Test_TC_WNCV_3_3.yaml
Owners: @vivien-apple

Restyled by clang-format
  src/app/clusters/window-covering-server/window-covering-server.cpp
Owners: @vivien-apple

Restyled by prettier-yaml
  src/app/tests/suites/certification/Test_TC_WNCV_3_1.yaml
  src/app/tests/suites/certification/Test_TC_WNCV_3_2.yaml
  src/app/tests/suites/certification/Test_TC_WNCV_3_3.yaml
Owners: @vivien-apple

[Darwin] Properly delete chip::Callback on success/failure
  src/darwin/Framework/CHIP.xcodeproj/project.pbxproj
  src/darwin/Framework/CHIP/CHIP.h
  src/darwin/Framework/CHIP/CHIPCallbackBridgeBase_internal.h
  src/darwin/Framework/CHIP/CHIPCluster.h
  src/darwin/Framework/CHIP/CHIPCluster.mm
  src/darwin/Framework/CHIP/CHIPCluster_internal.h
  src/darwin/Framework/CHIP/templates/CHIPCallbackBridge-src.zapt
  src/darwin/Framework/CHIP/templates/CHIPCallbackBridge_internal.zapt
  src/darwin/Framework/CHIP/templates/CHIPClustersObjc-src.zapt
  src/darwin/Framework/CHIP/templates/CHIPClustersObjc.zapt
  src/darwin/Framework/CHIP/templates/CHIPClustersObjc_internal.zapt
  src/darwin/Framework/CHIP/templates/partials/CHIPCallbackBridge.zapt
  src/darwin/Framework/CHIP/templates/templates.json
Owners: @shana-apple, @vivien-apple, @pan-apple

Update zap-generated/ folders
  src/darwin/Framework/CHIP/zap-generated/CHIPCallbackBridge.mm
  src/darwin/Framework/CHIP/zap-generated/CHIPCallbackBridge_internal.h
  src/darwin/Framework/CHIP/zap-generated/CHIPClustersObjc.h
  src/darwin/Framework/CHIP/zap-generated/CHIPClustersObjc.mm
  src/darwin/Framework/CHIP/zap-generated/CHIPClustersObjc_internal.h
Owners: @shana-apple, @vivien-apple, @pan-apple

Add optimize_debug flag for mbed platform
  build/config/compiler/compiler.gni
Owners: @mspang

Restyled by gn
  build/config/compiler/compiler.gni
Owners: @mspang

Changes restyle
  build/config/compiler/compiler.gni
Owners: @mspang

[TV App]:Disable client role for general commissioning cluster
  examples/tv-app/tv-common/tv-app.zap
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Update gen folders
  zzz_generated/tv-app/zap-generated/CHIPClientCallbacks.cpp
  zzz_generated/tv-app/zap-generated/CHIPClientCallbacks.h
  zzz_generated/tv-app/zap-generated/CHIPClusters.cpp
  zzz_generated/tv-app/zap-generated/CHIPClusters.h
  zzz_generated/tv-app/zap-generated/IMClusterCommandHandler.cpp
  zzz_generated/tv-app/zap-generated/endpoint_config.h
  zzz_generated/tv-app/zap-generated/gen_config.h
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

[im/subscribe] Add IM subscription support upon IM read
  src/app/ClusterInfo.h
  src/app/InteractionModelDelegate.h
  src/app/InteractionModelEngine.cpp
  src/app/InteractionModelEngine.h
  src/app/ReadClient.cpp
  src/app/ReadClient.h
  src/app/ReadHandler.cpp
  src/app/ReadHandler.h
  src/app/reporting/Engine.cpp
  src/app/reporting/Engine.h
  src/app/util/ember-compatibility-functions.cpp
  src/lib/core/CHIPConfig.h
Owners: @yunhanw-google, @bzbarsky-apple, @mrjerryjohns, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

add multiple tests
  src/app/tests/TestClusterInfo.cpp
  src/app/tests/TestReadInteraction.cpp
  src/app/tests/TestReportingEngine.cpp
  src/app/tests/integration/chip_im_initiator.cpp
  src/app/tests/integration/chip_im_responder.cpp
Owners: @yunhanw-google, @bzbarsky-apple, @mrjerryjohns

Update OpenThread API usage to fix compilation with CHIP_CONFIG_SECURITY_TEST_MODE
  src/platform/OpenThread/OpenThreadUtils.cpp
Owners: @bukepo

Restyled by clang-format
  src/platform/OpenThread/OpenThreadUtils.cpp
Owners: @bukepo

Update OpenThread API usage to fix compilation with CHIP_CONFIG_SECURITY_TEST_MODE
  src/platform/OpenThread/OpenThreadUtils.cpp
Owners: @bukepo

[im/subscribe] Enable subscription over interaction model protocol
  examples/chip-tool/commands/tests/TestCommand.h
  examples/chip-tool/templates/partials/test_cluster.zapt
  examples/chip-tool/templates/reporting-commands.zapt
  examples/chip-tool/templates/tests-commands.zapt
  src/app/reporting/reporting.cpp
  src/app/reporting/reporting.h
  src/app/tests/TestCHIPDeviceCallbacksMgr.cpp
  src/app/tests/suites/TestSubscribe_OnOff.yaml
  src/app/util/CHIPDeviceCallbacksMgr.cpp
  src/app/util/CHIPDeviceCallbacksMgr.h
  src/app/util/attribute-table.cpp
  src/app/util/ember-compatibility-functions.cpp
  src/app/util/im-client-callbacks.cpp
  src/app/util/im-client-callbacks.h
  src/app/zap-templates/common/ClusterTestGeneration.js
  src/app/zap-templates/templates/app/CHIPClientCallbacks-src.zapt
  src/app/zap-templates/templates/app/CHIPClusters-src.zapt
  src/controller/CHIPCluster.cpp
  src/controller/CHIPCluster.h
  src/controller/CHIPDevice.cpp
  src/controller/CHIPDevice.h
  src/controller/CHIPDeviceController.cpp
  src/controller/CHIPDeviceController.h
  src/controller/DeviceControllerInteractionModelDelegate.h
  src/controller/python/chip/interaction_model/Delegate.cpp
  src/controller/python/chip/interaction_model/Delegate.h
  src/controller/python/chip/interaction_model/__init__.py
  src/controller/python/chip/interaction_model/delegate.py
  src/controller/python/test/test_scripts/base.py
  src/controller/python/test/test_scripts/mobile-device-test.py
  src/darwin/Framework/CHIP/templates/clusters-tests.zapt
  src/darwin/Framework/CHIPTests/CHIPClustersTests.m
Owners: @vivien-apple, @yunhanw-google, @bzbarsky-apple, @mrjerryjohns, @erjianqing, @shana-apple, @pan-apple, @andy31415

Change bridge-app call
  examples/bridge-app/esp32/main/main.cpp
  examples/bridge-app/linux/main.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Run Codegen
  zzz_generated/chip-tool/zap-generated/reporting/Commands.h
  zzz_generated/chip-tool/zap-generated/test/Commands.h
  zzz_generated/controller-clusters/zap-generated/CHIPClientCallbacks.cpp
  zzz_generated/controller-clusters/zap-generated/CHIPClusters.cpp
  zzz_generated/lighting-app/zap-generated/CHIPClientCallbacks.cpp
  zzz_generated/pump-app/zap-generated/CHIPClientCallbacks.cpp
  zzz_generated/pump-app/zap-generated/CHIPClusters.cpp
  zzz_generated/pump-controller-app/zap-generated/CHIPClientCallbacks.cpp
  zzz_generated/pump-controller-app/zap-generated/CHIPClusters.cpp
  zzz_generated/tv-app/zap-generated/CHIPClientCallbacks.cpp
  zzz_generated/tv-app/zap-generated/CHIPClusters.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

[docker] Fix chip-build-nrf-platform Dockerfile (#9493)
  integrations/docker/images/chip-build-nrf-platform/Dockerfile
  integrations/docker/images/chip-build/version
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

[Telink]: Add final newline at the end of config/telink/app/zephyr.config
  config/telink/app/zephyr.conf
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

[Telink]: Move GPIO port define to example AppConfig.h
  examples/lighting-app/telink/include/AppConfig.h
  examples/lighting-app/telink/src/AppTask.cpp
  examples/platform/telink/util/include/LEDWidget.h
  examples/platform/telink/util/src/LEDWidget.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

[Telink]: Use DEVICE_DT_GET macro for button port
  examples/lighting-app/telink/include/AppConfig.h
  examples/lighting-app/telink/src/AppTask.cpp
  examples/platform/telink/util/src/ButtonManager.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

[Telink]: Remove redundant variables from telink_example.sh
  scripts/examples/telink_example.sh
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

[Telink]: Fix deprecated macro usage warning
  examples/lighting-app/telink/include/AppConfig.h
  examples/lighting-app/telink/include/LightingManager.h
  examples/lighting-app/telink/src/LightingManager.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

[Telink]: Fix compilation issue after migration to upstream Zephyr
  config/telink/app/zephyr.conf
  config/telink/chip-module/CMakeLists.txt
  examples/platform/telink/project_include/OpenThreadConfig.h
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

[Telink]: Change version of chip-build-telink to latest
  .github/workflows/examples-telink.yaml
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

[Tests] - Add a new TestDelayCommands interface for tests and expose a WaitForMs method
  examples/chip-tool/commands/tests/TestCommand.cpp
  examples/chip-tool/commands/tests/TestCommand.h
  examples/chip-tool/templates/partials/test_cluster.zapt
  examples/chip-tool/templates/tests-commands.zapt
  src/app/tests/suites/TestDelayCommands.yaml
  src/app/zap-templates/common/ClusterTestGeneration.js
  src/app/zap-templates/common/simulated-clusters/TestDelayCommands.js
  src/darwin/Framework/CHIP/templates/clusters-tests.zapt
  src/darwin/Framework/CHIP/templates/partials/test_cluster.zapt
Owners: @vivien-apple, @erjianqing, @shana-apple, @pan-apple

Update generated tests
  src/darwin/Framework/CHIPTests/CHIPClustersTests.m
  zzz_generated/chip-tool/zap-generated/test/Commands.h
Owners: @shana-apple, @vivien-apple, @pan-apple, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Don't clobber chip-tool error
  examples/chip-tool/commands/common/Commands.cpp
Owners: @vivien-apple

Fix incorrect boundary condition for MakeZclCharString. (#9486)
  src/lib/support/ZclString.cpp
  src/lib/support/tests/TestZclString.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs
