Repository project-chip/connectedhomeip, changes with the owners that .github/CODEOWNERS names for each.
All owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @mspang, @pan-apple, @emargolis, @andy31415, @yufengwangca, @kghost, @bzbarksy-apple, @bzbarsky-apple, @gjc13, @damian-nordic, @erjiaqing, @shana-apple, @yunhanw-google, @vivien-apple, @erjianqing, @mrjerryjohns, @jrhees-cae, @rgoliver, @austinh0, @bukepo, @kpschoedel

Add test command with arguments to controller configuration
  src/controller/data_model/controller-clusters.zap
Owners: @shana-apple, @pan-apple

Add test command with arguments to all-clusters-app configuration
  examples/all-clusters-app/all-clusters-common/all-clusters-app.zap
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Add a test command that takes two arguments to the test cluster.
  src/app/clusters/test-cluster-server/test-cluster-server.cpp
  src/app/zap-templates/zcl/data-model/chip/test-cluster.xml
Owners: @vivien-apple, @erjianqing

Restyled by clang-format
  src/app/clusters/test-cluster-server/test-cluster-server.cpp
Owners: @vivien-apple

review
  src/inet/TCPEndPoint.cpp
Owners: @kpschoedel

Use not_first and not_last in templates.
  src/controller/java/templates/CHIPClusters-JNI.zapt
  src/controller/java/templates/ChipClusters-java.zapt
  src/darwin/Framework/CHIP/templates/CHIPClustersObjc-src.zapt
  src/darwin/Framework/CHIP/templates/CHIPClustersObjc.zapt
Owners: @austinh0, @shana-apple, @vivien-apple, @pan-apple

Update the log format of ExchangeMgr when a message a received to use hex notation instead of decimal, as it matches up the source code and makes it easier to understand (#8504)
  src/messaging/ExchangeMgr.cpp
Owners: @yufengwangca, @bzbarsky-apple

Update gen folders
  examples/all-clusters-app/all-clusters-common/gen/IMClusterCommandHandler.cpp
  examples/all-clusters-app/all-clusters-common/gen/endpoint_config.h
  examples/chip-tool/commands/clusters/Commands.h
  examples/lighting-app/lighting-common/gen/IMClusterCommandHandler.cpp
  examples/lighting-app/lighting-common/gen/endpoint_config.h
  src/controller/data_model/gen/CHIPClusters.cpp
  src/controller/data_model/gen/CHIPClusters.h
  src/controller/data_model/gen/chip-zcl-zpro-codec-api.h
  src/controller/data_model/gen/encoder.cpp
  src/controller/data_model/gen/endpoint_config.h
  src/controller/java/gen/CHIPClusters-JNI.cpp
  src/controller/java/gen/ChipClusters.java
  src/controller/python/chip/clusters/CHIPClusters.cpp
  src/controller/python/chip/clusters/CHIPClusters.py
  src/darwin/Framework/CHIP/gen/CHIPClustersObjc.h
  src/darwin/Framework/CHIP/gen/CHIPClustersObjc.mm
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @vivien-apple, @shana-apple, @pan-apple, @austinh0, @andy31415, @erjianqing

Enable command ResetCounts in all-clusters-app and lighting-app
  examples/all-clusters-app/all-clusters-common/all-clusters-app.zap
  examples/all-clusters-app/esp32/main/CMakeLists.txt
  examples/lighting-app/lighting-common/lighting-app.zap
  examples/lighting-app/mbed/CMakeLists.txt
  examples/lighting-app/nrfconnect/CMakeLists.txt
  examples/lighting-app/telink/CMakeLists.txt
  src/app/clusters/software_diagnostics_server/software_diagnostics_server.cpp
  src/app/clusters/thread_network_diagnostics_server/thread_network_diagnostics_server.cpp
  src/app/clusters/wifi_network_diagnostics_server/wifi_network_diagnostics_server.cpp
  src/app/zap_cluster_list.py
  src/controller/data_model/controller-clusters.zap
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @vivien-apple, @yunhanw-google, @bzbarsky-apple, @mrjerryjohns, @shana-apple, @pan-apple

Fix restyled issue
  src/darwin/Framework/CHIP/CHIPThreadOperationalDataset.mm
  src/darwin/Framework/CHIPTests/CHIPThreadOperationalDatasetTests.mm
Owners: @shana-apple, @vivien-apple, @pan-apple

[Darwin] Fix incorrect Thread panID generation
  src/darwin/Framework/CHIP/CHIPThreadOperationalDataset.h
  src/darwin/Framework/CHIP/CHIPThreadOperationalDataset.mm
  src/darwin/Framework/CHIPTests/CHIPThreadOperationalDatasetTests.mm
Owners: @shana-apple, @vivien-apple, @pan-apple

Fix ESP32 storage
  src/platform/ESP32/ESP32Config.cpp
  src/platform/ESP32/ESP32Utils.cpp
  src/platform/ESP32/ESP32Utils.h
  src/platform/ESP32/KeyValueStoreManagerImpl.cpp
  src/platform/ESP32/PlatformManagerImpl.cpp
Owners: @mspang, @yufengwangca, @rgoliver

[android] Use common DNS-SD code
  src/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/CHIPToolActivity.kt
  src/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/clusterclient/OnOffClientFragment.kt
  src/controller/java/BUILD.gn
  src/controller/java/CHIPDeviceController-JNI.cpp
  src/controller/java/MdnsImpl.cpp
  src/controller/java/MdnsImpl.h
  src/controller/java/src/chip/devicecontroller/ChipDeviceController.java
  src/controller/java/src/chip/devicecontroller/NsdManagerServiceResolver.java
  src/controller/java/src/chip/devicecontroller/ServiceResolver.java
  src/platform/BUILD.gn
  src/platform/device.gni
Owners: @austinh0, @mspang, @yufengwangca

Support node IDs > 2^63
  src/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/clusterclient/OnOffClientFragment.kt
  src/controller/java/CHIPDeviceController-JNI.cpp
Owners: @austinh0

Fix weird doxygen error
  src/controller/java/CHIPDeviceController-JNI.cpp
Owners: @austinh0

Address code-review comments
  src/controller/java/CHIPDeviceController-JNI.cpp
  src/controller/java/MdnsImpl.cpp
  src/controller/java/MdnsImpl.h
  src/controller/java/src/chip/devicecontroller/ChipDeviceController.java
  src/controller/java/src/chip/devicecontroller/ServiceResolver.java
Owners: @austinh0

Add TODO about interface ID
  src/controller/java/src/chip/devicecontroller/NsdManagerServiceResolver.java
Owners: @austinh0

Restyled by clang-format
  src/crypto/hsm/nxp/CHIPCryptoPALHsm_SE05X_P256.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Stop redefining CHIP_ERROR in Darwin headers.
  examples/chip-tool-darwin/main.m
  src/darwin/Framework/CHIP.xcodeproj/project.pbxproj
  src/darwin/Framework/CHIP/BUILD.gn
  src/darwin/Framework/CHIP/CHIPDevice.mm
  src/darwin/Framework/CHIP/CHIPDeviceConnectionBridge.mm
  src/darwin/Framework/CHIP/CHIPDeviceController.mm
  src/darwin/Framework/CHIP/CHIPDevicePairingDelegateBridge.mm
  src/darwin/Framework/CHIP/CHIPError.mm
  src/darwin/Framework/CHIP/CHIPError_Internal.h
  src/darwin/Framework/CHIP/CHIPManualSetupPayloadParser.mm
  src/darwin/Framework/CHIP/CHIPOperationalCredentialsDelegate.h
  src/darwin/Framework/CHIP/CHIPPersistentStorageDelegateBridge.h
  src/darwin/Framework/CHIP/CHIPQRCodeSetupPayloadParser.mm
  src/darwin/Framework/CHIP/CHIPSetupPayload.mm
  src/darwin/Framework/CHIP/gen/CHIPClustersObjc.mm
  src/darwin/Framework/CHIP/templates/CHIPClustersObjc-src.zapt
  src/darwin/Framework/CHIP/templates/clusters-tests.zapt
  src/darwin/Framework/CHIPTests/CHIPClustersTests.m
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @shana-apple, @vivien-apple, @pan-apple

Restyled by clang-format
  src/darwin/Framework/CHIP/CHIPError.h
Owners: @shana-apple, @vivien-apple, @pan-apple

Stop redefining CHIP_ERROR in Darwin headers.
  examples/chip-tool-darwin/main.m
  src/darwin/Framework/CHIP.xcodeproj/project.pbxproj
  src/darwin/Framework/CHIP/BUILD.gn
  src/darwin/Framework/CHIP/CHIPDevice.mm
  src/darwin/Framework/CHIP/CHIPDeviceConnectionBridge.mm
  src/darwin/Framework/CHIP/CHIPDeviceController.mm
  src/darwin/Framework/CHIP/CHIPDevicePairingDelegateBridge.mm
  src/darwin/Framework/CHIP/CHIPError.mm
  src/darwin/Framework/CHIP/CHIPError_Internal.h
  src/darwin/Framework/CHIP/CHIPManualSetupPayloadParser.mm
  src/darwin/Framework/CHIP/CHIPOperationalCredentialsDelegate.h
  src/darwin/Framework/CHIP/CHIPPersistentStorageDelegateBridge.h
  src/darwin/Framework/CHIP/CHIPQRCodeSetupPayloadParser.mm
  src/darwin/Framework/CHIP/CHIPSetupPayload.mm
  src/darwin/Framework/CHIP/gen/CHIPClustersObjc.mm
  src/darwin/Framework/CHIP/templates/CHIPClustersObjc-src.zapt
  src/darwin/Framework/CHIP/templates/clusters-tests.zapt
  src/darwin/Framework/CHIPTests/CHIPClustersTests.m
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @shana-apple, @vivien-apple, @pan-apple

[hotfix] Fix regression / crash caused by #7873 (#8054)
  src/app/util/attribute-storage.cpp
  src/controller/python/chip/interaction_model/Delegate.h
  src/controller/python/chip/interaction_model/delegate.py
Owners: @yunhanw-google, @bzbarsky-apple, @mrjerryjohns, @andy31415, @erjianqing

[hotfix] Fix regression / crash caused by #7873 (#8054) (#8580)
  src/app/util/attribute-storage.cpp
  src/controller/python/chip/interaction_model/Delegate.h
  src/controller/python/chip/interaction_model/delegate.py
Owners: @yunhanw-google, @bzbarsky-apple, @mrjerryjohns, @andy31415, @erjianqing

Apply suggestions from code review
  src/lib/support/Span.h
  src/setup_payload/Base38.h
  src/setup_payload/Base38Decode.h
  src/setup_payload/Base38Encode.cpp
  src/setup_payload/Base38Encode.h
  src/setup_payload/QRCodeSetupPayloadGenerator.cpp
  src/setup_payload/QRCodeSetupPayloadGenerator.h
  src/setup_payload/SetupPayload.h
  src/setup_payload/tests/TestQRCode.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @shana-apple, @vivien-apple, @jrhees-cae

Change QR code payload setup to use C strings
  src/setup_payload/BUILD.gn
  src/setup_payload/Base38Decode.cpp
  src/setup_payload/Base38Decode.h
  src/setup_payload/Base38Encode.cpp
  src/setup_payload/Base38Encode.h
  src/setup_payload/QRCodeSetupPayloadGenerator.cpp
  src/setup_payload/QRCodeSetupPayloadGenerator.h
  src/setup_payload/QRCodeSetupPayloadParser.cpp
  src/setup_payload/SetupPayload.h
  src/setup_payload/tests/TestHelpers.h
  src/setup_payload/tests/TestQRCode.cpp
Owners: @shana-apple, @vivien-apple, @jrhees-cae

Fix unbounded stack in src/setup_payload (#3663)
  src/setup_payload/QRCodeSetupPayloadGenerator.cpp
Owners: @shana-apple, @vivien-apple, @jrhees-cae

Add GetConnectedDeviceCallback struct and corresponding Java interface/wrapper class.
  src/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/ChipClient.kt
  src/controller/java/AndroidCallbacks-JNI.cpp
  src/controller/java/AndroidCallbacks.cpp
  src/controller/java/AndroidCallbacks.h
  src/controller/java/BUILD.gn
  src/controller/java/CHIPDeviceController-JNI.cpp
  src/controller/java/src/chip/devicecontroller/ChipDeviceController.java
  src/controller/java/src/chip/devicecontroller/GetConnectedDeviceCallback.java
  src/controller/java/src/chip/devicecontroller/GetConnectedDeviceCallbackJni.java
Owners: @austinh0

Restyled by clang-format
  src/setup_payload/QRCodeSetupPayloadGenerator.cpp
Owners: @shana-apple, @vivien-apple, @jrhees-cae

Restyled by whitespace
  src/controller/java/AndroidCallbacks-JNI.cpp
  src/controller/java/AndroidCallbacks.cpp
  src/controller/java/AndroidCallbacks.h
  src/controller/java/src/chip/devicecontroller/GetConnectedDeviceCallbackJni.java
Owners: @austinh0

[android] Use common DNS-SD code (#8543)
  src/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/CHIPToolActivity.kt
  src/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/clusterclient/OnOffClientFragment.kt
  src/controller/java/BUILD.gn
  src/controller/java/CHIPDeviceController-JNI.cpp
  src/controller/java/MdnsImpl.cpp
  src/controller/java/MdnsImpl.h
  src/controller/java/src/chip/devicecontroller/ChipDeviceController.java
  src/controller/java/src/chip/devicecontroller/NsdManagerServiceResolver.java
  src/controller/java/src/chip/devicecontroller/ServiceResolver.java
  src/platform/BUILD.gn
  src/platform/device.gni
Owners: @austinh0, @mspang, @yufengwangca

Add CONFIG_DEVICE_LAYER compile guards around SystemLayer::StartTimer
  src/protocols/bdx/BdxEndpoint.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

[Darwin] Fix incorrect Thread panID generation (#8562)
  src/darwin/Framework/CHIP/CHIPThreadOperationalDataset.h
  src/darwin/Framework/CHIP/CHIPThreadOperationalDataset.mm
  src/darwin/Framework/CHIPTests/CHIPThreadOperationalDatasetTests.mm
Owners: @shana-apple, @vivien-apple, @pan-apple

Use CASE in Android controller
  src/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/ChipClient.kt
  src/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/GenericChipDeviceListener.kt
  src/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/clusterclient/OnOffClientFragment.kt
  src/controller/java/AndroidDeviceControllerWrapper.cpp
  src/controller/java/AndroidDeviceControllerWrapper.h
  src/controller/java/BUILD.gn
  src/controller/java/CHIPDeviceController-JNI.cpp
  src/controller/java/src/chip/devicecontroller/ChipDeviceController.java
  src/controller/java/src/chip/devicecontroller/GetConnectedDeviceCallback.java
Owners: @austinh0

review
  src/platform/ESP32/ESP32Utils.cpp
  src/platform/OpenThread/OpenThreadUtils.cpp
Owners: @mspang, @yufengwangca, @bukepo

review
  src/platform/ESP32/ESP32Utils.cpp
Owners: @mspang, @yufengwangca

Stop redefining CHIP_ERROR in Darwin headers. (#8576)
  examples/chip-tool-darwin/main.m
  src/darwin/Framework/CHIP.xcodeproj/project.pbxproj
  src/darwin/Framework/CHIP/BUILD.gn
  src/darwin/Framework/CHIP/CHIPDevice.mm
  src/darwin/Framework/CHIP/CHIPDeviceConnectionBridge.mm
  src/darwin/Framework/CHIP/CHIPDeviceController.mm
  src/darwin/Framework/CHIP/CHIPDevicePairingDelegateBridge.mm
  src/darwin/Framework/CHIP/CHIPError.mm
  src/darwin/Framework/CHIP/CHIPError_Internal.h
  src/darwin/Framework/CHIP/CHIPManualSetupPayloadParser.mm
  src/darwin/Framework/CHIP/CHIPOperationalCredentialsDelegate.h
  src/darwin/Framework/CHIP/CHIPPersistentStorageDelegateBridge.h
  src/darwin/Framework/CHIP/CHIPQRCodeSetupPayloadParser.mm
  src/darwin/Framework/CHIP/CHIPSetupPayload.mm
  src/darwin/Framework/CHIP/gen/CHIPClustersObjc.mm
  src/darwin/Framework/CHIP/templates/CHIPClustersObjc-src.zapt
  src/darwin/Framework/CHIP/templates/clusters-tests.zapt
  src/darwin/Framework/CHIPTests/CHIPClustersTests.m
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @shana-apple, @vivien-apple, @pan-apple

Add GetConnectedDeviceCallback struct and corresponding Java interface/wrapper class.
  src/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/ChipClient.kt
  src/controller/java/AndroidCallbacks-JNI.cpp
  src/controller/java/AndroidCallbacks.cpp
  src/controller/java/AndroidCallbacks.h
  src/controller/java/BUILD.gn
  src/controller/java/CHIPDeviceController-JNI.cpp
  src/controller/java/src/chip/devicecontroller/ChipDeviceController.java
  src/controller/java/src/chip/devicecontroller/GetConnectedDeviceCallback.java
  src/controller/java/src/chip/devicecontroller/GetConnectedDeviceCallbackJni.java
Owners: @austinh0

initialize with System::Layer pointer instead of using DeviceLayer
  src/protocols/bdx/BdxEndpoint.cpp
  src/protocols/bdx/BdxEndpoint.h
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

remove unnecessary chip::bdx:: prefix
  src/protocols/bdx/BdxEndpoint.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Stop assuming CHIP_ERROR is an integer in Darwin code.
  src/darwin/Framework/CHIP/CHIPDevice.mm
  src/darwin/Framework/CHIP/CHIPDeviceController.mm
  src/darwin/Framework/CHIP/CHIPDevicePairingDelegateBridge.mm
  src/darwin/Framework/CHIP/CHIPError.mm
  src/darwin/Framework/CHIP/CHIPError_Internal.h
  src/darwin/Framework/CHIP/CHIPManualSetupPayloadParser.mm
  src/darwin/Framework/CHIP/CHIPOperationalCredentialsDelegate.mm
  src/darwin/Framework/CHIP/CHIPQRCodeSetupPayloadParser.mm
  src/darwin/Framework/CHIP/CHIPThreadOperationalDataset.mm
  src/darwin/Framework/CHIP/gen/CHIPClustersObjc.mm
  src/darwin/Framework/CHIP/templates/CHIPClustersObjc-src.zapt
Owners: @shana-apple, @vivien-apple, @pan-apple

.github/CODEOWNERS:

# Current reviewers-XXX teams, who review everything for approval.
* @reviewers-amazon @reviewers-apple @reviewers-comcast @reviewers-google @reviewers-nordic @reviewers-samsung @reviewers-silabs


# BUILD system

*.gn @mspang
/build/ @mspang
/scripts/build/ @mspang

# Crypto
# Crypto primitives and high level API, generally on top of mbedtls and openssl
/src/crypto/* @pan-apple @emargolis
/src/credentials/ @pan-apple @emargolis

# Transport
# Send and receive data abstracting away the underlying protocol (UDP, TCP, BLE)
/src/transport/ @andy31415 @pan-apple

# Session establishment
# Establish a secure session (encryption keys) from one node to another.
# Includes CASE and PASE + session tracking and resumptioon
/src/protocols/secure_channel/ @pan-apple

# Message Layer
# CRMP and packet headers, generally coupled with SecureSessionManager
/src/messaging @yufengwangca @kghost @bzbarksy-apple
/src/transport/raw/MessageHeader.* @yufengwangca @kghost @bzbarksy-apple

# SecureSessionManager
# Manages per-session encryption keys and new session establishment
/src/transport/SecureSessionMgr.* @pan-apple

# Exchange management
# Joins requests and responses or ties a series of messages belonging to the 
# same protocol interaction
/src/messaging/ @yufengwangca @bzbarsky-apple
/src/channel/ @yufengwangca @bzbarsky-apple

# DNS-SD discovery and advertisement
# Advertise chip devices for commisioning, operational and discover such devices
/src/lib/mdns/ @andy31415 @gjc13 @damian-nordic

# Commisioning controller/flow
# Example of a comisioning sequence
/src/controller/ @pan-apple @erjiaqing

# Operational credentials management
# Signing certificates, maintaining roots of trust, validation, fabric management
/src/controller/ @shana-apple @pan-apple
/src/transport/AdminPairingTable.* @shana-apple @pan-apple

# TLV encoding/decoding to/from byte buffers
/src/lib/core/CHIPTLV* @yunhanw-google @bzbarsky-apple @shana-apple

# Interaction model - ember implementation
# ZCL protocol implementation: ZCL encoding to be sent over the wire as a 
# ZigbeePro protocol implementation
/src/app/util/ @vivien-apple @erjianqing @bzbarsky-apple

# Interaction model - non-ember
# Protocol implementation for IM interactions between nodes, matching spec
/src/app/ @yunhanw-google @bzbarsky-apple @mrjerryjohns

# Interaction model - code generation
# CHIP-specific infrastructure for generating code: helper js methods, scripts
# and code layout
/src/app/zap-templates/ @vivien-apple @erjianqing

# ZAP suppport
# UI for editing XML, generates code from such ZML and configuration files
# NOT part of CHIP however CHIP relies heavily on ZAP.
#    @vivien-apple  @tecimovic

# 'Standard' cluster implementations (server side)
# Clusters shipped with the sdk, can be integrated as-is or used as a template
/src/app/clusters/ @vivien-apple

# Onboarding payload
# Parsing and generation of codes (includes QR and NFC), numeric pairing payload
/src/setup_payload/ @shana-apple @vivien-apple @jrhees-cae

# Device Layer
# Porting interfaces, scaffolding for building an example firmware
/src/platform/ @mspang @yufengwangca
/src/include/platform/ @mspang @yufengwangca

# Persistent storage
# Save state across reboots
/src/platform/*/KeyValueStore* @rgoliver

# Python bindings for CHIP - CLI
# Allows python code to use CHIP, generally targeted towards automation
/src/controller/python/ @andy31415 @erjianqing

# CHIP-tool C++ CLI
# Command line interface to chip as a client (controller and commisioner)
# Includes generated code for every base cluster
/examples/chip-tool/ @vivien-apple

# CHIP-tool iOS UI
/src/darwin/CHIPTool/ @shana-apple

# CHIP-tool Android
/src/android/CHIPTool/ @austinh0
/src/controller/java/ @austinh0

# End2End autogenerated tests
/src/darwin/Framework/Chip-templates/ @vivien-apple
/src/app/tests/suites/ @vivien-apple

# End2End cirque tests
# Simulate topology (cirque) and ptyhon-based test automation
/src/test_driver/linux/cirque/ @erjianqing @yunhanw-google

# Thread integration
# Thread-specific functionality (network provisioning, operational discovery, SRP registration etc.)
/src/platform/OpenThread/ @bukepo
/src/platform/*/ThreadStackmanagerImpl.* @bukepo

# Inet
# Networking abstraction layer (UDP-endpoint, TCP-endpoint, InetLayerBasis)
/src/inet/ @kpschoedel 

# System layer
/src/system/ @kpschoedel 

# BLE support
/src/ble/ @yunhanw-google

# CHIP Shell
# Command-line UART/stdin interface as a side-channel to CHIP accessories
# Aimed as user-friendly/manual control
/src/examples/shell/ @gjc13 @yufengwangca

# RPC
# Side-channlel command path (outside chip), generally for automation and debugging
# Aimed as "scriptable" when compared to shell
/examples/common/pigweed/ @rgoliver
/examples/pigweed-app/ @rgoliver

# Tooling for crypto manual generation
# Generates data for sample PKI
/src/tools/chip-cert/ @emargolis

# Channel API
# Construct a transport/secure session based on peer info and transport type.
# Focused on CASE session establishment
/src/channel/ @kghost

# Darwin framework
# Exposes a darwin API (Objective-C/swift rather than raw C++ API) for darwin
# applications
/src/darwin/Framework/ @shana-apple @vivien-apple @pan-apple
