Repository project-chip/connectedhomeip, changes with the owners that .github/CODEOWNERS names for each.
All owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @mspang, @pan-apple, @emargolis, @andy31415, @yufengwangca, @kghost, @bzbarksy-apple, @bzbarsky-apple, @gjc13, @damian-nordic, @erjiaqing, @shana-apple, @yunhanw-google, @vivien-apple, @erjianqing, @mrjerryjohns, @jrhees-cae, @rgoliver, @austinh0, @bukepo, @kpschoedel

Moved some more includes on new app (window-app)
  examples/window-app/common/src/WindowApp.cpp
  examples/window-app/efr32/src/WindowAppImpl.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Restyle fixes
  examples/window-app/common/src/WindowApp.cpp
  examples/window-app/efr32/src/WindowAppImpl.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

add IM status report support for IM read
  src/app/BUILD.gn
  src/app/InteractionModelDelegate.h
  src/app/InteractionModelEngine.cpp
  src/app/ReadClient.cpp
  src/app/ReadClient.h
  src/app/ReadHandler.cpp
  src/app/ReadHandler.h
  src/app/reporting/Engine.cpp
  src/app/reporting/Engine.h
  src/app/tests/TestReadInteraction.cpp
  src/app/tests/TestReportingEngine.cpp
  src/app/tests/integration/chip_im_initiator.cpp
Owners: @yunhanw-google, @bzbarsky-apple, @mrjerryjohns

Restyled by clang-format
  src/app/ReadClient.cpp
Owners: @yunhanw-google, @bzbarsky-apple, @mrjerryjohns

address review comments
  examples/chip-tool/commands/common/Command.h
  src/app/clusters/operational-credentials-server/operational-credentials-server.cpp
  src/controller/CHIPDeviceController.cpp
  src/controller/CHIPDeviceController.h
  src/controller/python/ChipDeviceController-ScriptBinding.cpp
  src/controller/python/chip-device-ctrl.py
  src/controller/python/chip/ChipDeviceCtrl.py
  src/credentials/CHIPCert.cpp
  src/credentials/CHIPCert.h
  src/credentials/tests/TestChipCert.cpp
  src/lib/core/PeerId.h
  src/transport/FabricTable.cpp
  src/transport/FabricTable.h
Owners: @vivien-apple, @shana-apple, @pan-apple, @andy31415, @erjianqing, @emargolis, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

ESP32: Deinitialize memory for ble after successful commissioning
  examples/all-clusters-app/esp32/main/DeviceCallbacks.cpp
  examples/bridge-app/esp32/main/DeviceCallbacks.cpp
  examples/lock-app/esp32/main/DeviceCallbacks.cpp
  examples/platform/esp32/BLEdeinit.h
  examples/temperature-measurement-app/esp32/main/CMakeLists.txt
  examples/temperature-measurement-app/esp32/main/DeviceCallbacks.cpp
  src/controller/CHIPDeviceController.cpp
  src/controller/CHIPDeviceController.h
  src/controller/python/ChipDeviceController-ScriptBinding.cpp
  src/controller/python/chip-device-ctrl.py
  src/controller/python/chip/ChipDeviceCtrl.py
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @shana-apple, @pan-apple, @andy31415, @erjianqing

Include bootstrap in Android CHIPTool docs (#9226)
  docs/guides/android_chiptool_building.md
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

* Correction link to qpg folder (#9237)
  docs/QUICK_START.md
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Use compressed fabric ID to advertise and resolve nodes on a fabric (#9178)
  examples/chip-tool/commands/common/Command.h
  examples/chip-tool/commands/discover/Commands.h
  examples/chip-tool/commands/pairing/PairingCommand.cpp
  examples/minimal-mdns/advertiser.cpp
  src/app/clusters/operational-credentials-server/operational-credentials-server.cpp
  src/app/server/Mdns.cpp
  src/controller/CHIPDeviceController.cpp
  src/controller/CHIPDeviceController.h
  src/controller/java/CHIPDeviceController-JNI.cpp
  src/controller/python/ChipDeviceController-ScriptBinding.cpp
  src/controller/python/chip-device-ctrl.py
  src/controller/python/chip/ChipDeviceCtrl.py
  src/controller/python/chip/discovery/NodeResolution.cpp
  src/credentials/CHIPCert.cpp
  src/credentials/CHIPCert.h
  src/credentials/tests/TestChipCert.cpp
  src/darwin/Framework/CHIP/CHIPDeviceController.mm
  src/lib/core/CHIPError.h
  src/lib/core/PeerId.h
  src/lib/mdns/ServiceNaming.cpp
  src/lib/mdns/minimal/tests/TestAdvertiser.cpp
  src/lib/mdns/platform/tests/TestPlatform.cpp
  src/lib/mdns/tests/TestServiceNaming.cpp
  src/lib/shell/commands/Dns.cpp
  src/protocols/secure_channel/CASEServer.cpp
  src/protocols/secure_channel/CASEServer.h
  src/protocols/secure_channel/CASESession.cpp
  src/protocols/secure_channel/CASESession.h
  src/transport/FabricTable.cpp
  src/transport/FabricTable.h
  src/transport/SecureSessionMgr.cpp
Owners: @vivien-apple, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @yunhanw-google, @bzbarsky-apple, @mrjerryjohns, @shana-apple, @pan-apple, @austinh0, @andy31415, @erjianqing, @emargolis, @gjc13, @damian-nordic

Move clusters/reporting/tests Commands.h into a zzz_generated folder
  .gitattributes
  examples/chip-tool/templates/templates.json
  scripts/tools/zap_regen_all.py
  zzz_generated/chip-tool/zap-generated/cluster/Commands.h
  zzz_generated/chip-tool/zap-generated/reporting/Commands.h
  zzz_generated/chip-tool/zap-generated/tests/Commands.h
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @vivien-apple

Rename test tot tests, update chiptool main
  examples/chip-tool/main.cpp
  examples/chip-tool/templates/templates.json
  zzz_generated/chip-tool/zap-generated/test/Commands.h
Owners: @vivien-apple, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Address review comments
  src/crypto/CHIPCryptoPAL.h
  src/darwin/Framework/CHIP/CHIPDeviceController.h
  src/darwin/Framework/CHIP/CHIPDeviceController.mm
  src/darwin/Framework/CHIP/CHIPKeypair.h
  src/darwin/Framework/CHIP/CHIPOperationalCredentialsDelegate.mm
  src/darwin/Framework/CHIP/CHIPP256KeypairBridge.mm
Owners: @pan-apple, @emargolis, @shana-apple, @vivien-apple

make chip-tool compile using the newly moved Command.h variants
  examples/chip-tool/BUILD.gn
  examples/chip-tool/templates/commands.zapt
  examples/chip-tool/templates/reporting-commands.zapt
  examples/chip-tool/templates/tests-commands.zapt
  zzz_generated/chip-tool/zap-generated/cluster/Commands.h
  zzz_generated/chip-tool/zap-generated/reporting/Commands.h
  zzz_generated/chip-tool/zap-generated/test/Commands.h
Owners: @vivien-apple, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Restyle fixes
  examples/chip-tool/BUILD.gn
  examples/chip-tool/templates/templates.json
Owners: @vivien-apple

Fix typo in README.md (#9236)
  examples/lighting-app/efr32/README.md
  examples/lighting-app/linux/README.md
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

add IM status report support for IM read
  src/app/BUILD.gn
  src/app/InteractionModelDelegate.h
  src/app/InteractionModelEngine.cpp
  src/app/ReadClient.cpp
  src/app/ReadClient.h
  src/app/ReadHandler.cpp
  src/app/ReadHandler.h
  src/app/reporting/Engine.cpp
  src/app/reporting/Engine.h
  src/app/tests/TestReadInteraction.cpp
  src/app/tests/TestReportingEngine.cpp
  src/app/tests/integration/chip_im_initiator.cpp
Owners: @yunhanw-google, @bzbarsky-apple, @mrjerryjohns

[Darwin] Allow clients to pass in the NOC Signer Keypair (#9215)
  src/crypto/CHIPCryptoPAL.h
  src/darwin/CHIPTool/CHIPTool/Framework Helpers/DefaultsUtils.m
  src/darwin/Framework/CHIP.xcodeproj/project.pbxproj
  src/darwin/Framework/CHIP/CHIP.h
  src/darwin/Framework/CHIP/CHIPDeviceController.h
  src/darwin/Framework/CHIP/CHIPDeviceController.mm
  src/darwin/Framework/CHIP/CHIPKeypair.h
  src/darwin/Framework/CHIP/CHIPOperationalCredentialsDelegate.h
  src/darwin/Framework/CHIP/CHIPOperationalCredentialsDelegate.mm
  src/darwin/Framework/CHIP/CHIPP256KeypairBridge.h
  src/darwin/Framework/CHIP/CHIPP256KeypairBridge.mm
  src/darwin/Framework/CHIP/templates/clusters-tests.zapt
  src/darwin/Framework/CHIPTests/CHIPClustersTests.m
  src/darwin/Framework/CHIPTests/CHIPControllerTests.m
  src/platform/Darwin/BUILD.gn
  src/platform/Darwin/CHIPP256KeypairNativeBridge.cpp
  src/platform/Darwin/CHIPP256KeypairNativeBridge.h
Owners: @pan-apple, @emargolis, @shana-apple, @vivien-apple, @mspang, @yufengwangca

Check and fix System::Layer shutdown sequencing
  examples/platform/nrfconnect/util/test/TestInetCommon.cpp
  src/app/tests/integration/common.cpp
  src/controller/CHIPDeviceController.cpp
  src/include/platform/internal/GenericPlatformManagerImpl_Zephyr.cpp
  src/inet/TCPEndPoint.cpp
  src/inet/tests/TestInetCommonPosix.cpp
  src/inet/tests/TestInetEndPoint.cpp
  src/lib/support/BUILD.gn
  src/lib/support/ObjectLifeCycle.h
  src/messaging/tests/echo/common.cpp
  src/platform/tests/TestConfigurationMgr.cpp
  src/system/SystemLayer.cpp
  src/system/SystemLayer.h
  src/system/WatchableEventManagerLwIP.cpp
  src/system/tests/TestSystemTimer.cpp
  src/transport/SecureSessionMgr.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @yunhanw-google, @bzbarsky-apple, @mrjerryjohns, @shana-apple, @pan-apple, @mspang, @yufengwangca, @kpschoedel

add IM status report support for IM read (#9195)
  src/app/BUILD.gn
  src/app/InteractionModelDelegate.h
  src/app/InteractionModelEngine.cpp
  src/app/ReadClient.cpp
  src/app/ReadClient.h
  src/app/ReadHandler.cpp
  src/app/ReadHandler.h
  src/app/reporting/Engine.cpp
  src/app/reporting/Engine.h
  src/app/tests/TestReadInteraction.cpp
  src/app/tests/TestReportingEngine.cpp
  src/app/tests/integration/chip_im_initiator.cpp
Owners: @yunhanw-google, @bzbarsky-apple, @mrjerryjohns

follow-up for pr9195
  src/app/ReadHandler.cpp
Owners: @yunhanw-google, @bzbarsky-apple, @mrjerryjohns

Restyled by clang-format
  src/app/ReadHandler.cpp
Owners: @yunhanw-google, @bzbarsky-apple, @mrjerryjohns

Don't output an unused PrepareListFromTLV function.
  src/app/zap-templates/templates/app/CHIPClientCallbacks-src.zapt
  src/app/zap-templates/templates/chip/helper.js
  zzz_generated/lighting-app/zap-generated/CHIPClientCallbacks.cpp
  zzz_generated/pump-app/zap-generated/CHIPClientCallbacks.cpp
  zzz_generated/pump-controller-app/zap-generated/CHIPClientCallbacks.cpp
Owners: @vivien-apple, @erjianqing, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

fix merge conflicts and variable names
  examples/ota-provider-app/ota-provider-common/OTAProviderExample.cpp
  examples/ota-provider-app/ota-provider-common/OTAProviderExample.h
  src/app/clusters/ota-provider/ota-provider.cpp
  zzz_generated/ota-provider-app/zap-generated/IMClusterCommandHandler.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @vivien-apple

Restyled by clang-format
  examples/all-clusters-app/esp32/main/DeviceCallbacks.cpp
  examples/bridge-app/esp32/main/DeviceCallbacks.cpp
  examples/lock-app/esp32/main/DeviceCallbacks.cpp
  examples/temperature-measurement-app/esp32/main/DeviceCallbacks.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

[app] API change to support cluster control from devices
  src/controller/BUILD.gn
  src/controller/CHIPCluster.cpp
  src/controller/CHIPCluster.h
  src/controller/CHIPDevice.cpp
  src/controller/CHIPDevice.h
  src/controller/InteractionPeer.cpp
  src/controller/InteractionPeer.h
  src/controller/java/CHIPDeviceController-JNI.cpp
Owners: @shana-apple, @pan-apple, @austinh0

Refactor the server to organize as a class
  examples/all-clusters-app/esp32/main/main.cpp
  examples/bridge-app/esp32/main/main.cpp
  examples/bridge-app/linux/main.cpp
  examples/lighting-app/efr32/src/AppTask.cpp
  examples/lighting-app/k32w/main/AppTask.cpp
  examples/lighting-app/mbed/main/AppTask.cpp
  examples/lighting-app/nrfconnect/main/AppTask.cpp
  examples/lighting-app/qpg/src/AppTask.cpp
  examples/lighting-app/telink/src/AppTask.cpp
  examples/lock-app/cc13x2x7_26x2x7/main/AppTask.cpp
  examples/lock-app/efr32/src/AppTask.cpp
  examples/lock-app/esp32/main/main.cpp
  examples/lock-app/k32w/main/AppTask.cpp
  examples/lock-app/mbed/main/AppTask.cpp
  examples/lock-app/nrfconnect/main/AppTask.cpp
  examples/lock-app/p6/src/AppTask.cpp
  examples/lock-app/qpg/src/AppTask.cpp
  examples/ota-provider-app/linux/main.cpp
  examples/platform/linux/AppMain.cpp
  examples/platform/linux/CommissioneeShellCommands.cpp
  examples/pump-app/cc13x2x7_26x2x7/main/AppTask.cpp
  examples/pump-app/nrfconnect/main/AppTask.cpp
  examples/pump-controller-app/cc13x2x7_26x2x7/main/AppTask.cpp
  examples/pump-controller-app/nrfconnect/main/AppTask.cpp
  examples/temperature-measurement-app/esp32/main/main.cpp
  examples/tv-casting-app/linux/main.cpp
  examples/window-app/common/src/WindowApp.cpp
  src/app/clusters/administrator-commissioning-server/administrator-commissioning-server.cpp
  src/app/clusters/operational-credentials-server/operational-credentials-server.cpp
  src/app/server/Mdns.cpp
  src/app/server/RendezvousServer.h
  src/app/server/Server.cpp
  src/app/server/Server.h
  src/app/server/SessionManager.h
  src/controller/CHIPDeviceController.h
  src/protocols/secure_channel/RendezvousParameters.h
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @vivien-apple, @yunhanw-google, @bzbarsky-apple, @mrjerryjohns, @shana-apple, @pan-apple

move identify cluster defintion into seperate xml file
  src/app/zap-templates/zcl/data-model/chip/identify-cluster.xml
  src/app/zap-templates/zcl/data-model/silabs/general.xml
  src/app/zap-templates/zcl/data-model/silabs/zll.xml
Owners: @vivien-apple, @erjianqing

add requried identify type to all clusters app
  examples/all-clusters-app/all-clusters-common/all-clusters-app.zap
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

add identify-cluster.xml to zcl.json
  src/app/zap-templates/zcl/zcl.json
Owners: @vivien-apple, @erjianqing

move clusters/identify to clusters/identify-server
  src/app/clusters/identify-server/identify.cpp
  src/app/clusters/identify-server/identify.h
Owners: @vivien-apple

fix build after move of identify cluster
  src/app/zap_cluster_list.py
Owners: @yunhanw-google, @bzbarsky-apple, @mrjerryjohns

[DO NOT SUBMIT] device to device demo
  examples/all-clusters-app/all-clusters-common/shell_extension/BUILD.gn
  examples/all-clusters-app/all-clusters-common/shell_extension/control.cpp
  examples/all-clusters-app/all-clusters-common/shell_extension/control.hpp
  examples/all-clusters-app/linux/BUILD.gn
  examples/all-clusters-app/linux/main.cpp
  zzz_generated/all-clusters-app/zap-generated/CHIPClusters.cpp
Owners: @mspang, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

rename identify.cpp/h to identify-server.cpp/h
  src/app/clusters/identify-server/identify-server.cpp
  src/app/clusters/identify-server/identify-server.h
Owners: @vivien-apple

WC: Update enum following spec update
  src/app/zap-templates/zcl/data-model/chip/window-covering.xml
  zzz_generated/app-common/app-common/zap-generated/enums.h
Owners: @vivien-apple, @erjianqing, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Restyled by gn
  examples/all-clusters-app/all-clusters-common/shell_extension/BUILD.gn
Owners: @mspang

Corrected Zap file to include client On/Off instead of server
  examples/pump-controller-app/nrfconnect/README.md
  examples/pump-controller-app/pump-controller-common/pump-controller-app.zap
  zzz_generated/pump-controller-app/zap-generated/CHIPClusters.cpp
  zzz_generated/pump-controller-app/zap-generated/CHIPClusters.h
  zzz_generated/pump-controller-app/zap-generated/endpoint_config.h
  zzz_generated/pump-controller-app/zap-generated/gen_config.h
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

modernize identify cluster impl.
  src/app/clusters/identify-server/identify-server.cpp
  src/app/clusters/identify-server/identify-server.h
Owners: @vivien-apple

Updated generated files reference path
  src/app/clusters/power-source-server/power-source-server.cpp
Owners: @vivien-apple

Restyled by clang-format
  src/app/clusters/power-source-server/power-source-server.cpp
Owners: @vivien-apple

manual remove of identify related code
  zzz_generated/all-clusters-app/zap-generated/af-gen-event.h
  zzz_generated/thermostat/zap-generated/af-gen-event.h
  zzz_generated/tv-casting-app/zap-generated/af-gen-event.h
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

.github/CODEOWNERS:

# Current reviewers-XXX teams, who review everything for approval.
* @reviewers-amazon @reviewers-apple @reviewers-comcast @reviewers-google @reviewers-nordic @reviewers-samsung @reviewers-silabs


# BUILD system

*.gn @mspang
/build/ @mspang
/scripts/build/ @mspang

# Crypto
# Crypto primitives and high level API, generally on top of mbedtls and openssl
/src/crypto/* @pan-apple @emargolis
/src/credentials/ @pan-apple @emargolis

# Transport
# Send and receive data abstracting away the underlying protocol (UDP, TCP, BLE)
/src/transport/ @andy31415 @pan-apple

# Session establishment
# Establish a secure session (encryption keys) from one node to another.
# Includes CASE and PASE + session tracking and resumptioon
/src/protocols/secure_channel/ @pan-apple

# Message Layer
# CRMP and packet headers, generally coupled with SecureSessionManager
/src/messaging @yufengwangca @kghost @bzbarksy-apple
/src/transport/raw/MessageHeader.* @yufengwangca @kghost @bzbarksy-apple

# SecureSessionManager
# Manages per-session encryption keys and new session establishment
/src/transport/SecureSessionMgr.* @pan-apple

# Exchange management
# Joins requests and responses or ties a series of messages belonging to the 
# same protocol interaction
/src/messaging/ @yufengwangca @bzbarsky-apple
/src/channel/ @yufengwangca @bzbarsky-apple

# DNS-SD discovery and advertisement
# Advertise chip devices for commisioning, operational and discover such devices
/src/lib/mdns/ @andy31415 @gjc13 @damian-nordic

# Commisioning controller/flow
# Example of a comisioning sequence
/src/controller/ @pan-apple @erjiaqing

# Operational credentials management
# Signing certificates, maintaining roots of trust, validation, fabric management
/src/controller/ @shana-apple @pan-apple
/src/transport/AdminPairingTable.* @shana-apple @pan-apple

# TLV encoding/decoding to/from byte buffers
/src/lib/core/CHIPTLV* @yunhanw-google @bzbarsky-apple @shana-apple

# Interaction model - ember implementation
# ZCL protocol implementation: ZCL encoding to be sent over the wire as a 
# ZigbeePro protocol implementation
/src/app/util/ @vivien-apple @erjianqing @bzbarsky-apple

# Interaction model - non-ember
# Protocol implementation for IM interactions between nodes, matching spec
/src/app/ @yunhanw-google @bzbarsky-apple @mrjerryjohns

# Interaction model - code generation
# CHIP-specific infrastructure for generating code: helper js methods, scripts
# and code layout
/src/app/zap-templates/ @vivien-apple @erjianqing

# ZAP suppport
# UI for editing XML, generates code from such ZML and configuration files
# NOT part of CHIP however CHIP relies heavily on ZAP.
#    @vivien-apple  @tecimovic

# 'Standard' cluster implementations (server side)
# Clusters shipped with the sdk, can be integrated as-is or used as a template
/src/app/clusters/ @vivien-apple

# Onboarding payload
# Parsing and generation of codes (includes QR and NFC), numeric pairing payload
/src/setup_payload/ @shana-apple @vivien-apple @jrhees-cae

# Device Layer
# Porting interfaces, scaffolding for building an example firmware
/src/platform/ @mspang @yufengwangca
/src/include/platform/ @mspang @yufengwangca

# Persistent storage
# Save state across reboots
/src/platform/*/KeyValueStore* @rgoliver

# Python bindings for CHIP - CLI
# Allows python code to use CHIP, generally targeted towards automation
/src/controller/python/ @andy31415 @erjianqing

# CHIP-tool C++ CLI
# Command line interface to chip as a client (controller and commisioner)
# Includes generated code for every base cluster
/examples/chip-tool/ @vivien-apple

# CHIP-tool iOS UI
/src/darwin/CHIPTool/ @shana-apple

# CHIP-tool Android
/src/android/CHIPTool/ @austinh0
/src/controller/java/ @austinh0

# End2End autogenerated tests
/src/darwin/Framework/Chip-templates/ @vivien-apple
/src/app/tests/suites/ @vivien-apple

# End2End cirque tests
# Simulate topology (cirque) and ptyhon-based test automation
/src/test_driver/linux/cirque/ @erjianqing @yunhanw-google

# Thread integration
# Thread-specific functionality (network provisioning, operational discovery, SRP registration etc.)
/src/platform/OpenThread/ @bukepo
/src/platform/*/ThreadStackmanagerImpl.* @bukepo

# Inet
# Networking abstraction layer (UDP-endpoint, TCP-endpoint, InetLayerBasis)
/src/inet/ @kpschoedel 

# System layer
/src/system/ @kpschoedel 

# BLE support
/src/ble/ @yunhanw-google

# CHIP Shell
# Command-line UART/stdin interface as a side-channel to CHIP accessories
# Aimed as user-friendly/manual control
/src/examples/shell/ @gjc13 @yufengwangca

# RPC
# Side-channlel command path (outside chip), generally for automation and debugging
# Aimed as "scriptable" when compared to shell
/examples/common/pigweed/ @rgoliver
/examples/pigweed-app/ @rgoliver

# Tooling for crypto manual generation
# Generates data for sample PKI
/src/tools/chip-cert/ @emargolis

# Channel API
# Construct a transport/secure session based on peer info and transport type.
# Focused on CASE session establishment
/src/channel/ @kghost

# Darwin framework
# Exposes a darwin API (Objective-C/swift rather than raw C++ API) for darwin
# applications
/src/darwin/Framework/ @shana-apple @vivien-apple @pan-apple
