Repository project-chip/connectedhomeip, changes with the owners that .github/CODEOWNERS names for each.
All owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @mspang, @pan-apple, @emargolis, @andy31415, @yufengwangca, @kghost, @bzbarksy-apple, @bzbarsky-apple, @gjc13, @damian-nordic, @erjiaqing, @shana-apple, @yunhanw-google, @vivien-apple, @erjianqing, @mrjerryjohns, @jrhees-cae, @rgoliver, @austinh0, @bukepo, @kpschoedel

Restyled by prettier-markdown
  examples/shell/k32w/README.md
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Restyled by prettier-markdown
  .github/workflows/examples-k32w.yaml
  examples/shell/k32w/README.md
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Update TV example clusters xml per latest spec
  examples/tv-app/tv-common/tv-app.zap
  src/app/zap-templates/zcl/account-login-cluster.xml
  src/app/zap-templates/zcl/application-basic-cluster.xml
  src/app/zap-templates/zcl/application-launcher-cluster.xml
  src/app/zap-templates/zcl/audio-output-cluster.xml
  src/app/zap-templates/zcl/content-launch-cluster.xml
  src/app/zap-templates/zcl/keypad-input-cluster.xml
  src/app/zap-templates/zcl/media-input-cluster.xml
  src/app/zap-templates/zcl/media-playback-cluster.xml
  src/app/zap-templates/zcl/target-navigator-cluster.xml
  src/app/zap-templates/zcl/tv-channel-cluster.xml
  src/controller/data_model/controller-clusters.zap
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @vivien-apple, @erjianqing, @shana-apple, @pan-apple

Run zap_regen to generate the code
  examples/all-clusters-app/all-clusters-common/gen/attribute-size.cpp
  examples/all-clusters-app/all-clusters-common/gen/callback-stub.cpp
  examples/all-clusters-app/all-clusters-common/gen/callback.h
  examples/all-clusters-app/all-clusters-common/gen/endpoint_config.h
  examples/all-clusters-app/all-clusters-common/gen/gen_config.h
  examples/chip-tool/commands/clusters/Commands.h
  examples/tv-app/tv-common/gen/IMClusterCommandHandler.cpp
  examples/tv-app/tv-common/gen/attribute-size.cpp
  examples/tv-app/tv-common/gen/callback-stub.cpp
  examples/tv-app/tv-common/gen/callback.h
  examples/tv-app/tv-common/gen/endpoint_config.h
  examples/tv-app/tv-common/gen/gen_config.h
  src/app/common/gen/attribute-id.h
  src/app/common/gen/client-command-macro.h
  src/app/common/gen/cluster-id.h
  src/app/common/gen/command-id.h
  src/app/common/gen/print-cluster.h
  src/controller/data_model/gen/CHIPClientCallbacks.cpp
  src/controller/data_model/gen/CHIPClientCallbacks.h
  src/controller/data_model/gen/CHIPClusters.cpp
  src/controller/data_model/gen/CHIPClusters.h
  src/controller/data_model/gen/IMClusterCommandHandler.cpp
  src/controller/data_model/gen/callback-stub.cpp
  src/controller/data_model/gen/callback.h
  src/controller/data_model/gen/chip-zcl-zpro-codec-api.h
  src/controller/data_model/gen/encoder.cpp
  src/controller/data_model/gen/endpoint_config.h
  src/controller/data_model/gen/gen_config.h
  src/controller/python/chip/clusters/CHIPClusters.cpp
  src/controller/python/chip/clusters/CHIPClusters.py
  src/darwin/Framework/CHIP/gen/CHIPClustersObjc.h
  src/darwin/Framework/CHIP/gen/CHIPClustersObjc.mm
  src/darwin/Framework/CHIPTests/CHIPClustersTests.m
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @vivien-apple, @yunhanw-google, @bzbarsky-apple, @mrjerryjohns, @shana-apple, @pan-apple, @andy31415, @erjianqing

Updated TV app logic to support new Change Status command of application basic cluster
  examples/tv-app/linux/include/application-basic/ApplicationBasicManager.cpp
  examples/tv-app/linux/include/application-basic/ApplicationBasicManager.h
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Restyled by whitespace
  examples/tv-app/linux/include/application-basic/ApplicationBasicManager.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Fix: Inserting VP into txtFields in Advertiser_ImplMinimalMdns
  src/lib/mdns/Advertiser_ImplMinimalMdns.cpp
Owners: @andy31415, @gjc13, @damian-nordic

Mdns: move Hostname into MdnsService struct (#7520)
  src/lib/mdns/Discovery_ImplPlatform.cpp
  src/lib/mdns/Discovery_ImplPlatform.h
  src/lib/mdns/platform/Mdns.h
  src/platform/Darwin/MdnsImpl.cpp
  src/platform/Darwin/MdnsImpl.h
  src/platform/ESP32/MdnsImpl.cpp
  src/platform/Linux/MdnsImpl.cpp
  src/platform/OpenThread/GenericThreadStackManagerImpl_OpenThread.h
  src/platform/OpenThread/MdnsImpl.cpp
  src/platform/tests/TestMdns.cpp
Owners: @andy31415, @gjc13, @damian-nordic, @mspang, @yufengwangca, @bukepo

Add a fixit rotation script and a workflow (for official runs) (#7552)
  .github/workflows/fixit_rotation.yaml
  scripts/fixit_rotation.py
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

all-clusters-app/esp32: add missing onoff vled side effect
  examples/all-clusters-app/esp32/main/DeviceCallbacks.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Fix uninitialized memory during chip-tool pairing
  src/controller/CHIPDevice.cpp
  src/credentials/CHIPCert.h
  src/credentials/CHIPOperationalCredentials.h
  src/inet/IPAddress.h
Owners: @shana-apple, @pan-apple, @emargolis, @kpschoedel

Restyled by clang-format
  src/credentials/CHIPOperationalCredentials.h
Owners: @pan-apple, @emargolis

Clean up defines in src/platform/BUILD.gn
  src/include/platform/LockTracker.h
  src/include/platform/PlatformManager.h
  src/include/platform/internal/GenericPlatformManagerImpl_POSIX.cpp
  src/include/platform/internal/GenericPlatformManagerImpl_POSIX.h
  src/platform/BUILD.gn
  src/platform/Darwin/PlatformManagerImpl.h
  src/platform/LockTracker.cpp
Owners: @mspang, @yufengwangca

Restyled by clang-format
  src/include/platform/internal/GenericPlatformManagerImpl_POSIX.cpp
Owners: @mspang, @yufengwangca

address comment
  src/controller/CHIPDevice.h
Owners: @shana-apple, @pan-apple

Fix uninitialized memory during chip-tool pairing
  src/controller/CHIPDevice.cpp
  src/credentials/CHIPCert.h
  src/credentials/CHIPOperationalCredentials.h
  src/transport/raw/PeerAddress.h
Owners: @shana-apple, @pan-apple, @emargolis, @andy31415

Restyled by clang-format
  src/controller/CHIPDevice.cpp
Owners: @shana-apple, @pan-apple

Check CSR Nonce before processing CSR (#7556)
  src/controller/CHIPDevice.h
  src/controller/CHIPDeviceController.cpp
Owners: @shana-apple, @pan-apple

Fix uninitialized memory during chip-tool pairing
  src/controller/CHIPDevice.cpp
  src/credentials/CHIPCert.h
  src/credentials/CHIPOperationalCredentials.h
  src/transport/raw/PeerAddress.h
Owners: @shana-apple, @pan-apple, @emargolis, @andy31415

Clean up defines in src/platform/BUILD.gn
  src/include/platform/LockTracker.h
  src/include/platform/PlatformManager.h
  src/include/platform/internal/GenericPlatformManagerImpl_POSIX.cpp
  src/include/platform/internal/GenericPlatformManagerImpl_POSIX.h
  src/platform/BUILD.gn
  src/platform/Darwin/PlatformManagerImpl.h
  src/platform/LockTracker.cpp
Owners: @mspang, @yufengwangca

ESP32: Add RPC service to lock-app.
  examples/lock-app/esp32/CMakeLists.txt
  examples/lock-app/esp32/main/CMakeLists.txt
  examples/lock-app/esp32/main/Kconfig.projbuild
  examples/lock-app/esp32/main/Rpc.cpp
  examples/lock-app/esp32/main/include/Rpc.h
  examples/lock-app/esp32/main/locking_service.proto
  examples/lock-app/esp32/main/main.cpp
  examples/platform/esp32/pw_sys_io/CMakeLists.txt
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Restyled by clang-format
  examples/lock-app/esp32/main/Rpc.cpp
  examples/lock-app/esp32/main/main.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Fix various compile failures with is_debug=false
  BUILD.gn
  gn_build.sh
  src/app/clusters/groups-server/groups-server.cpp
  src/lwip/cc13x2_26x2/arch/cc.h
Owners: @mspang, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @vivien-apple

Restyled by clang-format
  src/lwip/cc13x2_26x2/arch/cc.h
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Fix various compile failures with is_debug=false
  BUILD.gn
  gn_build.sh
  src/app/clusters/groups-server/groups-server.cpp
  src/lwip/cc13x2_26x2/arch/cc.h
Owners: @mspang, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @vivien-apple

Enable initial Thread Network Diagnostics cluster on the controllers (#7278)
  examples/all-clusters-app/all-clusters-common/gen/endpoint_config.h
  examples/bridge-app/bridge-common/gen/endpoint_config.h
  examples/chip-tool/commands/clusters/Commands.h
  examples/lighting-app/lighting-common/gen/endpoint_config.h
  examples/lock-app/lock-common/gen/endpoint_config.h
  examples/pump-app/pump-common/gen/endpoint_config.h
  examples/pump-controller-app/pump-controller-common/gen/endpoint_config.h
  examples/tv-app/tv-common/gen/endpoint_config.h
  examples/window-app/common/gen/endpoint_config.h
  src/app/zap-templates/zcl/thread-network-diagnostics-cluster.xml
  src/controller/data_model/controller-clusters.zap
  src/controller/data_model/gen/CHIPClientCallbacks.cpp
  src/controller/data_model/gen/CHIPClientCallbacks.h
  src/controller/data_model/gen/CHIPClusters.cpp
  src/controller/data_model/gen/CHIPClusters.h
  src/controller/data_model/gen/callback-stub.cpp
  src/controller/data_model/gen/callback.h
  src/controller/data_model/gen/chip-zcl-zpro-codec-api.h
  src/controller/data_model/gen/encoder.cpp
  src/controller/data_model/gen/endpoint_config.h
  src/controller/data_model/gen/gen_config.h
  src/controller/python/chip/clusters/CHIPClusters.cpp
  src/controller/python/chip/clusters/CHIPClusters.py
  src/darwin/Framework/CHIP/gen/CHIPClustersObjc.h
  src/darwin/Framework/CHIP/gen/CHIPClustersObjc.mm
  src/darwin/Framework/CHIP/templates/helper.js
  src/darwin/Framework/CHIPTests/CHIPClustersTests.m
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @vivien-apple, @erjianqing, @shana-apple, @pan-apple, @andy31415

ESP32: Add RPC service to lock-app.
  examples/lock-app/esp32/CMakeLists.txt
  examples/lock-app/esp32/main/CMakeLists.txt
  examples/lock-app/esp32/main/Kconfig.projbuild
  examples/lock-app/esp32/main/Rpc.cpp
  examples/lock-app/esp32/main/include/Rpc.h
  examples/lock-app/esp32/main/locking_service.proto
  examples/lock-app/esp32/main/main.cpp
  examples/platform/esp32/pw_sys_io/CMakeLists.txt
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Restyled by whitespace
  examples/lock-app/esp32/main/main.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Always use python3 for zap_cluster_list.py
  src/app/chip_data_model.gni
Owners: @yunhanw-google, @bzbarsky-apple, @mrjerryjohns

[scripts] add helper script to build otbr docker for test events
  scripts/helpers/otbr_docker_build.sh
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

[nrfconnect] Reduce Docker image size
  .github/workflows/examples-nrfconnect.yaml
  integrations/docker/images/chip-build-esp32/Dockerfile
  integrations/docker/images/chip-build-nrf-platform/Dockerfile
  integrations/docker/images/chip-build-vscode/Dockerfile
  integrations/docker/images/chip-build/version
  scripts/examples/nrfconnect_example.sh
  scripts/setup/nrfconnect/update_ncs.py
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Update requirements.txt
  scripts/requirements.in
  scripts/requirements.txt
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Added data_equal() and empty() Methods to Span/FixedSpan Classes (#7444)
  src/lib/support/Span.h
  src/lib/support/tests/TestSpan.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Fix various compile failures with is_debug=false (#7586)
  BUILD.gn
  gn_build.sh
  src/app/clusters/groups-server/groups-server.cpp
  src/lwip/cc13x2_26x2/arch/cc.h
Owners: @mspang, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @vivien-apple

[scripts] add helper script to build otbr docker for test events (#7592)
  scripts/helpers/otbr_docker_build.sh
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Add progress log for mdns broadcast success
  src/lib/mdns/minimal/Server.cpp
Owners: @andy31415, @gjc13, @damian-nordic

Fix error for minimal mDNS and commissioner discovery on TV's
  src/lib/mdns/Advertiser_ImplMinimalMdns.cpp
Owners: @andy31415, @gjc13, @damian-nordic

Instrument log to correlate messages be sent and received within the same exchange (#7525)
  src/transport/SecureSessionMgr.cpp
Owners: @pan-apple

Restyled by whitespace
  src/lib/mdns/Advertiser_ImplMinimalMdns.cpp
Owners: @andy31415, @gjc13, @damian-nordic

[K32W] Add chip-shell application (#7551)
  .github/workflows/examples-k32w.yaml
  examples/lighting-app/k32w/BUILD.gn
  examples/lighting-app/k32w/include/CHIPProjectConfig.h
  examples/lighting-app/k32w/include/FreeRTOSConfig.h
  examples/lock-app/k32w/include/CHIPProjectConfig.h
  examples/lock-app/k32w/include/FreeRTOSConfig.h
  examples/platform/k32w/args.gni
  examples/shell/k32w/.gn
  examples/shell/k32w/BUILD.gn
  examples/shell/k32w/README.md
  examples/shell/k32w/args.gni
  examples/shell/k32w/build_overrides
  examples/shell/k32w/data.bin
  examples/shell/k32w/include/CHIPProjectConfig.h
  examples/shell/k32w/include/FreeRTOSConfig.h
  examples/shell/k32w/main/include/app_config.h
  examples/shell/k32w/main/main.cpp
  examples/shell/k32w/third_party/connectedhomeip
  src/lib/shell/BUILD.gn
  src/lib/shell/streamer_k32w.cpp
  src/platform/K32W/CHIPDevicePlatformConfig.h
  src/platform/K32W/NFCManagerImpl.cpp
  src/platform/K32W/args.gni
  third_party/k32w_sdk/k32w_sdk.gni
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @mspang, @yufengwangca

.github/CODEOWNERS:

# Current reviewers-XXX teams, who review everything for approval.
* @reviewers-amazon @reviewers-apple @reviewers-comcast @reviewers-google @reviewers-nordic @reviewers-samsung @reviewers-silabs


# BUILD system

*.gn @mspang
/build/ @mspang
/scripts/build/ @mspang

# Crypto
# Crypto primitives and high level API, generally on top of mbedtls and openssl
/src/crypto/* @pan-apple @emargolis
/src/credentials/ @pan-apple @emargolis

# Transport
# Send and receive data abstracting away the underlying protocol (UDP, TCP, BLE)
/src/transport/ @andy31415 @pan-apple

# Session establishment
# Establish a secure session (encryption keys) from one node to another.
# Includes CASE and PASE + session tracking and resumptioon
/src/protocols/secure_channel/ @pan-apple

# Message Layer
# CRMP and packet headers, generally coupled with SecureSessionManager
/src/messaging @yufengwangca @kghost @bzbarksy-apple
/src/transport/raw/MessageHeader.* @yufengwangca @kghost @bzbarksy-apple

# SecureSessionManager
# Manages per-session encryption keys and new session establishment
/src/transport/SecureSessionMgr.* @pan-apple

# Exchange management
# Joins requests and responses or ties a series of messages belonging to the 
# same protocol interaction
/src/messaging/ @yufengwangca @bzbarsky-apple
/src/channel/ @yufengwangca @bzbarsky-apple

# DNS-SD discovery and advertisement
# Advertise chip devices for commisioning, operational and discover such devices
/src/lib/mdns/ @andy31415 @gjc13 @damian-nordic

# Commisioning controller/flow
# Example of a comisioning sequence
/src/controller/ @pan-apple @erjiaqing

# Operational credentials management
# Signing certificates, maintaining roots of trust, validation, fabric management
/src/controller/ @shana-apple @pan-apple
/src/transport/AdminPairingTable.* @shana-apple @pan-apple

# TLV encoding/decoding to/from byte buffers
/src/lib/core/CHIPTLV* @yunhanw-google @bzbarsky-apple @shana-apple

# Interaction model - ember implementation
# ZCL protocol implementation: ZCL encoding to be sent over the wire as a 
# ZigbeePro protocol implementation
/src/app/util/ @vivien-apple @erjianqing @bzbarsky-apple

# Interaction model - non-ember
# Protocol implementation for IM interactions between nodes, matching spec
/src/app/ @yunhanw-google @bzbarsky-apple @mrjerryjohns

# Interaction model - code generation
# CHIP-specific infrastructure for generating code: helper js methods, scripts
# and code layout
/src/app/zap-templates/ @vivien-apple @erjianqing

# ZAP suppport
# UI for editing XML, generates code from such ZML and configuration files
# NOT part of CHIP however CHIP relies heavily on ZAP.
#    @vivien-apple  @tecimovic

# 'Standard' cluster implementations (server side)
# Clusters shipped with the sdk, can be integrated as-is or used as a template
/src/app/clusters/ @vivien-apple

# Onboarding payload
# Parsing and generation of codes (includes QR and NFC), numeric pairing payload
/src/setup_payload/ @shana-apple @vivien-apple @jrhees-cae

# Device Layer
# Porting interfaces, scaffolding for building an example firmware
/src/platform/ @mspang @yufengwangca
/src/include/platform/ @mspang @yufengwangca

# Persistent storage
# Save state across reboots
/src/platform/*/KeyValueStore* @rgoliver

# Python bindings for CHIP - CLI
# Allows python code to use CHIP, generally targeted towards automation
/src/controller/python/ @andy31415 @erjianqing

# CHIP-tool C++ CLI
# Command line interface to chip as a client (controller and commisioner)
# Includes generated code for every base cluster
/examples/chip-tool/ @vivien-apple

# CHIP-tool iOS UI
/src/darwin/CHIPTool/ @shana-apple

# CHIP-tool Android
/src/android/CHIPTool/ @austinh0
/src/controller/java/ @austinh0

# End2End autogenerated tests
/src/darwin/Framework/Chip-templates/ @vivien-apple
/src/app/tests/suites/ @vivien-apple

# End2End cirque tests
# Simulate topology (cirque) and ptyhon-based test automation
/src/test_driver/linux/cirque/ @erjianqing @yunhanw-google

# Thread integration
# Thread-specific functionality (network provisioning, operational discovery, SRP registration etc.)
/src/platform/OpenThread/ @bukepo
/src/platform/*/ThreadStackmanagerImpl.* @bukepo

# Inet
# Networking abstraction layer (UDP-endpoint, TCP-endpoint, InetLayerBasis)
/src/inet/ @kpschoedel 

# System layer
/src/system/ @kpschoedel 

# BLE support
/src/ble/ @yunhanw-google

# CHIP Shell
# Command-line UART/stdin interface as a side-channel to CHIP accessories
# Aimed as user-friendly/manual control
/src/examples/shell/ @gjc13 @yufengwangca

# RPC
# Side-channlel command path (outside chip), generally for automation and debugging
# Aimed as "scriptable" when compared to shell
/examples/common/pigweed/ @rgoliver
/examples/pigweed-app/ @rgoliver

# Tooling for crypto manual generation
# Generates data for sample PKI
/src/tools/chip-cert/ @emargolis

# Channel API
# Construct a transport/secure session based on peer info and transport type.
# Focused on CASE session establishment
/src/channel/ @kghost

# Darwin framework
# Exposes a darwin API (Objective-C/swift rather than raw C++ API) for darwin
# applications
/src/darwin/Framework/ @shana-apple @vivien-apple @pan-apple
