Repository project-chip/connectedhomeip, changes with the owners that .github/CODEOWNERS names for each.
All owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @mspang, @pan-apple, @emargolis, @andy31415, @yufengwangca, @kghost, @bzbarksy-apple, @bzbarsky-apple, @gjc13, @damian-nordic, @erjiaqing, @shana-apple, @yunhanw-google, @vivien-apple, @erjianqing, @mrjerryjohns, @jrhees-cae, @rgoliver, @austinh0, @bukepo, @kpschoedel

.github/CODEOWNERS:

# Current reviewers-XXX teams, who review everything for approval.
* @reviewers-amazon @reviewers-apple @reviewers-comcast @reviewers-google @reviewers-nordic @reviewers-samsung @reviewers-silabs


# BUILD system

*.gn @mspang
/build/ @mspang
/scripts/build/ @mspang

# Crypto
# Crypto primitives and high level API, generally on top of mbedtls and openssl
/src/crypto/* @pan-apple @emargolis
/src/credentials/ @pan-apple @emargolis

# Transport
# Send and receive data abstracting away the underlying protocol (UDP, TCP, BLE)
/src/transport/ @andy31415 @pan-apple

# Session establishment
# Establish a secure session (encryption keys) from one node to another.
# Includes CASE and PASE + session tracking and resumptioon
/src/protocols/secure_channel/ @pan-apple

# Message Layer
# CRMP and packet headers, generally coupled with SecureSessionManager
/src/messaging @yufengwangca @kghost @bzbarksy-apple
/src/transport/raw/MessageHeader.* @yufengwangca @kghost @bzbarksy-apple

# SecureSessionManager
# Manages per-session encryption keys and new session establishment
/src/transport/SecureSessionMgr.* @pan-apple

# Exchange management
# Joins requests and responses or ties a series of messages belonging to the 
# same protocol interaction
/src/messaging/ @yufengwangca @bzbarsky-apple
/src/channel/ @yufengwangca @bzbarsky-apple

# DNS-SD discovery and advertisement
# Advertise chip devices for commisioning, operational and discover such devices
/src/lib/mdns/ @andy31415 @gjc13 @damian-nordic

# Commisioning controller/flow
# Example of a comisioning sequence
/src/controller/ @pan-apple @erjiaqing

# Operational credentials management
# Signing certificates, maintaining roots of trust, validation, fabric management
/src/controller/ @shana-apple @pan-apple
/src/transport/AdminPairingTable.* @shana-apple @pan-apple

# TLV encoding/decoding to/from byte buffers
/src/lib/core/CHIPTLV* @yunhanw-google @bzbarsky-apple @shana-apple

# Interaction model - ember implementation
# ZCL protocol implementation: ZCL encoding to be sent over the wire as a 
# ZigbeePro protocol implementation
/src/app/util/ @vivien-apple @erjianqing @bzbarsky-apple

# Interaction model - non-ember
# Protocol implementation for IM interactions between nodes, matching spec
/src/app/ @yunhanw-google @bzbarsky-apple @mrjerryjohns

# Interaction model - code generation
# CHIP-specific infrastructure for generating code: helper js methods, scripts
# and code layout
/src/app/zap-templates/ @vivien-apple @erjianqing

# ZAP suppport
# UI for editing XML, generates code from such ZML and configuration files
# NOT part of CHIP however CHIP relies heavily on ZAP.
#    @vivien-apple  @tecimovic

# 'Standard' cluster implementations (server side)
# Clusters shipped with the sdk, can be integrated as-is or used as a template
/src/app/clusters/ @vivien-apple

# Onboarding payload
# Parsing and generation of codes (includes QR and NFC), numeric pairing payload
/src/setup_payload/ @shana-apple @vivien-apple @jrhees-cae

# Device Layer
# Porting interfaces, scaffolding for building an example firmware
/src/platform/ @mspang @yufengwangca
/src/include/platform/ @mspang @yufengwangca

# Persistent storage
# Save state across reboots
/src/platform/*/KeyValueStore* @rgoliver

# Python bindings for CHIP - CLI
# Allows python code to use CHIP, generally targeted towards automation
/src/controller/python/ @andy31415 @erjianqing

# CHIP-tool C++ CLI
# Command line interface to chip as a client (controller and commisioner)
# Includes generated code for every base cluster
/examples/chip-tool/ @vivien-apple

# CHIP-tool iOS UI
/src/darwin/CHIPTool/ @shana-apple

# CHIP-tool Android
/src/android/CHIPTool/ @austinh0
/src/controller/java/ @austinh0

# End2End autogenerated tests
/src/darwin/Framework/Chip-templates/ @vivien-apple
/src/app/tests/suites/ @vivien-apple

# End2End cirque tests
# Simulate topology (cirque) and ptyhon-based test automation
/src/test_driver/linux/cirque/ @erjianqing @yunhanw-google

# Thread integration
# Thread-specific functionality (network provisioning, operational discovery, SRP registration etc.)
/src/platform/OpenThread/ @bukepo
/src/platform/*/ThreadStackmanagerImpl.* @bukepo

# Inet
# Networking abstraction layer (UDP-endpoint, TCP-endpoint, InetLayerBasis)
/src/inet/ @kpschoedel 

# System layer
/src/system/ @kpschoedel 

# BLE support
/src/ble/ @yunhanw-google

# CHIP Shell
# Command-line UART/stdin interface as a side-channel to CHIP accessories
# Aimed as user-friendly/manual control
/src/examples/shell/ @gjc13 @yufengwangca

# RPC
# Side-channlel command path (outside chip), generally for automation and debugging
# Aimed as "scriptable" when compared to shell
/examples/common/pigweed/ @rgoliver
/examples/pigweed-app/ @rgoliver

# Tooling for crypto manual generation
# Generates data for sample PKI
/src/tools/chip-cert/ @emargolis

# Channel API
# Construct a transport/secure session based on peer info and transport type.
# Focused on CASE session establishment
/src/channel/ @kghost

# Darwin framework
# Exposes a darwin API (Objective-C/swift rather than raw C++ API) for darwin
# applications
/src/darwin/Framework/ @shana-apple @vivien-apple @pan-apple

Introducing CLI tv-casting-app
  BUILD.gn
  examples/chip-tool/commands/discover/DiscoverCommissionersCommand.cpp
  examples/tv-casting-app/linux/.gn
  examples/tv-casting-app/linux/BUILD.gn
  examples/tv-casting-app/linux/Dockerfile
  examples/tv-casting-app/linux/README.md
  examples/tv-casting-app/linux/args.gni
  examples/tv-casting-app/linux/build_overrides
  examples/tv-casting-app/linux/entrypoint.sh
  examples/tv-casting-app/linux/main.cpp
  examples/tv-casting-app/linux/third_party/connectedhomeip
  examples/tv-casting-app/tv-casting-common/BUILD.gn
  examples/tv-casting-app/tv-casting-common/gen/CHIPClientCallbacks.cpp
  examples/tv-casting-app/tv-casting-common/gen/CHIPClientCallbacks.h
  examples/tv-casting-app/tv-casting-common/gen/CHIPClusters.cpp
  examples/tv-casting-app/tv-casting-common/gen/CHIPClusters.h
  examples/tv-casting-app/tv-casting-common/gen/IMClusterCommandHandler.cpp
  examples/tv-casting-app/tv-casting-common/gen/af-gen-event.h
  examples/tv-casting-app/tv-casting-common/gen/attribute-size.cpp
  examples/tv-casting-app/tv-casting-common/gen/callback-stub.cpp
  examples/tv-casting-app/tv-casting-common/gen/chip-zcl-zpro-codec-api.h
  examples/tv-casting-app/tv-casting-common/gen/encoder.cpp
  examples/tv-casting-app/tv-casting-common/gen/endpoint_config.h
  examples/tv-casting-app/tv-casting-common/gen/gen_config.h
  examples/tv-casting-app/tv-casting-common/gen/gen_tokens.h
  examples/tv-casting-app/tv-casting-common/include/CHIPProjectAppConfig.h
  examples/tv-casting-app/tv-casting-common/tv-casting-app.zap
  src/app/server/BUILD.gn
  src/app/server/Mdns.cpp
  src/app/server/OnboardingCodesUtil.cpp
  src/app/server/RendezvousServer.cpp
  src/app/server/Server.cpp
  src/controller/BUILD.gn
  src/controller/CHIPCommissionableNodeController.cpp
  src/controller/CHIPCommissionableNodeController.h
  src/lib/mdns/Discovery_ImplPlatform.cpp
  src/lib/mdns/Resolver.h
  src/lib/mdns/Resolver_ImplMinimalMdns.cpp
Owners: @mspang, @vivien-apple, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @yunhanw-google, @bzbarsky-apple, @mrjerryjohns, @shana-apple, @pan-apple, @andy31415, @gjc13, @damian-nordic

Restyled by gn
  BUILD.gn
  src/app/server/BUILD.gn
Owners: @mspang, @yunhanw-google, @bzbarsky-apple, @mrjerryjohns

Restyled by prettier-markdown
  examples/tv-casting-app/linux/README.md
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

[ZAP] Add a script to update .zap files automatically (#8806)
  examples/all-clusters-app/all-clusters-common/all-clusters-app.zap
  examples/bridge-app/bridge-common/bridge-app.zap
  examples/lighting-app/lighting-common/lighting-app.zap
  examples/lock-app/lock-common/lock-app.zap
  examples/pump-app/pump-common/pump-app.zap
  examples/pump-controller-app/pump-controller-common/pump-controller-app.zap
  examples/temperature-measurement-app/esp32/main/temperature-measurement.zap
  examples/thermostat/thermostat-common/thermostat.zap
  examples/tv-app/tv-common/tv-app.zap
  examples/window-app/common/window-app.zap
  scripts/tools/zap/convert.py
  scripts/tools/zap_convert_all.py
  src/controller/data_model/controller-clusters.zap
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @shana-apple, @pan-apple

Enable NetworkCommissioning FeatureMap attribute for controller and all-clusters-app
  examples/all-clusters-app/all-clusters-common/all-clusters-app.zap
  src/controller/data_model/controller-clusters.zap
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @shana-apple, @pan-apple

Regenerate all
  examples/all-clusters-app/all-clusters-common/gen/endpoint_config.h
  examples/chip-tool/commands/clusters/Commands.h
  src/controller/data_model/gen/CHIPClusters.cpp
  src/controller/data_model/gen/CHIPClusters.h
  src/controller/java/gen/CHIPClusters-JNI.cpp
  src/controller/java/gen/ChipClusters.java
  src/controller/python/chip/clusters/CHIPClusters.cpp
  src/controller/python/chip/clusters/CHIPClusters.py
  src/darwin/Framework/CHIP/gen/CHIPClustersObjc.h
  src/darwin/Framework/CHIP/gen/CHIPClustersObjc.mm
  src/darwin/Framework/CHIPTests/CHIPClustersTests.m
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @vivien-apple, @shana-apple, @pan-apple, @austinh0, @andy31415, @erjianqing

Add vscode input choices for building EFR32 examples (#8619)
  .vscode/tasks.json
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Refactor to use local copy of heap_4 for efr32 boards (#8756)
  examples/lighting-app/efr32/BUILD.gn
  examples/lighting-app/efr32/include/FreeRTOSConfig.h
  examples/lock-app/efr32/BUILD.gn
  examples/lock-app/efr32/include/FreeRTOSConfig.h
  examples/persistent-storage/efr32/BUILD.gn
  examples/persistent-storage/efr32/include/FreeRTOSConfig.h
  examples/pigweed-app/efr32/BUILD.gn
  examples/pigweed-app/efr32/README.md
  examples/pigweed-app/efr32/include/FreeRTOSConfig.h
  examples/platform/efr32/BUILD.gn
  examples/platform/efr32/heap_4_silabs.c
  examples/platform/efr32/heap_4_silabs.h
  examples/platform/efr32/init_efrPlatform.cpp
  examples/shell/efr32/BUILD.gn
  examples/shell/efr32/include/FreeRTOSConfig.h
  examples/window-app/efr32/BUILD.gn
  examples/window-app/efr32/include/FreeRTOSConfig.h
  src/platform/EFR32/CHIPMem-Platform.cpp
  src/platform/EFR32/efr32-chip-mbedtls-config.h
  third_party/efr32_sdk/efr32_sdk.gni
Owners: @mspang, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @rgoliver, @yufengwangca

remove leftover debug logging
  src/system/WatchableEventManagerLibevent.cpp
  src/system/WatchableEventManagerSelect.cpp
Owners: @kpschoedel

Restyled by clang-format
  src/system/WatchableEventManagerLibevent.cpp
Owners: @kpschoedel

[shell] Add "dns browse commissioner" command
  src/lib/mdns/platform/Mdns.h
  src/lib/shell/commands/Dns.cpp
  src/platform/OpenThread/GenericThreadStackManagerImpl_OpenThread.cpp
  src/platform/OpenThread/MdnsImpl.cpp
Owners: @andy31415, @gjc13, @damian-nordic, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @bukepo

restyle
  src/system/WatchableEventManagerLibevent.cpp
Owners: @kpschoedel

Restyled by clang-format
  src/platform/OpenThread/GenericThreadStackManagerImpl_OpenThread.cpp
Owners: @bukepo

Add Compressed Fabric ID crypto primitive (#8776)
  src/crypto/CHIPCryptoPAL.cpp
  src/crypto/CHIPCryptoPAL.h
  src/crypto/CHIPCryptoPALOpenSSL.cpp
  src/crypto/CHIPCryptoPALmbedTLS.cpp
  src/crypto/tests/CHIPCryptoPALTest.cpp
Owners: @pan-apple, @emargolis, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Add tests for commissionable node and dual
  src/lib/mdns/Advertiser_ImplMinimalMdns.cpp
  src/lib/mdns/ServiceNaming.h
  src/lib/mdns/minimal/tests/TestAdvertiser.cpp
Owners: @andy31415, @gjc13, @damian-nordic

Remove debug line.
  src/lib/mdns/minimal/tests/TestAdvertiser.cpp
Owners: @andy31415, @gjc13, @damian-nordic

convert outdated ChipError::FormatError()
  examples/chip-tool/commands/common/Command.cpp
  examples/minimal-mdns/client.cpp
Owners: @vivien-apple, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Add static_assert check
  src/system/tests/TestSystemObject.cpp
Owners: @kpschoedel

[ZAP] Emit bool instead of uint8_t for Boolean types
  examples/chip-tool/commands/common/Command.cpp
  examples/chip-tool/commands/common/Command.h
  examples/chip-tool/templates/helper.js
  examples/tv-app/linux/include/content-launcher/ContentLauncherManager.cpp
  src/app/clusters/ota-provider/ota-provider.cpp
  src/app/zap-templates/common/ClustersHelper.js
  src/app/zap-templates/common/override.js
  src/app/zap-templates/templates/app/helper.js
  src/controller/python/templates/helper.js
  src/darwin/Framework/CHIP/templates/helper.js
Owners: @vivien-apple, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @erjianqing, @andy31415, @shana-apple, @pan-apple

Update generated code
  examples/all-clusters-app/all-clusters-common/gen/IMClusterCommandHandler.cpp
  examples/chip-tool/commands/clusters/Commands.h
  examples/chip-tool/commands/tests/Commands.h
  examples/thermostat/thermostat-common/gen/IMClusterCommandHandler.cpp
  examples/tv-app/tv-common/gen/IMClusterCommandHandler.cpp
  src/app/common/gen/af-structs.h
  src/app/common/gen/attributes/Accessors.cpp
  src/app/common/gen/attributes/Accessors.h
  src/app/common/gen/callback.h
  src/controller/data_model/gen/CHIPClientCallbacks.cpp
  src/controller/data_model/gen/CHIPClientCallbacks.h
  src/controller/data_model/gen/CHIPClusters.cpp
  src/controller/data_model/gen/CHIPClusters.h
  src/controller/data_model/gen/IMClusterCommandHandler.cpp
  src/controller/java/gen/CHIPClusters-JNI.cpp
  src/controller/java/gen/ChipClusters.java
  src/controller/python/chip/clusters/CHIPClusters.cpp
  src/controller/python/chip/clusters/CHIPClusters.py
  src/darwin/Framework/CHIP/gen/CHIPClustersObjc.h
  src/darwin/Framework/CHIP/gen/CHIPClustersObjc.mm
  src/darwin/Framework/CHIPTests/CHIPClustersTests.m
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @vivien-apple, @yunhanw-google, @bzbarsky-apple, @mrjerryjohns, @shana-apple, @pan-apple, @austinh0, @andy31415, @erjianqing

Add build to gitignore
  examples/bridge-app/esp32/.gitignore
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Add tests for commissionable node and dual (#8801)
  src/lib/mdns/Advertiser_ImplMinimalMdns.cpp
  src/lib/mdns/ServiceNaming.h
  src/lib/mdns/minimal/tests/TestAdvertiser.cpp
Owners: @andy31415, @gjc13, @damian-nordic

Add esp32 flash script generation on more apps, update example_build (#8813)
  examples/bridge-app/esp32/.gitignore
  examples/bridge-app/esp32/CMakeLists.txt
  examples/lock-app/esp32/CMakeLists.txt
  examples/shell/esp32/CMakeLists.txt
  scripts/build/build/factory.py
  scripts/build/build/targets.py
  scripts/build/builders/esp32.py
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @mspang

Optimize SystemObject unit test (#8812)
  src/system/tests/TestSystemObject.cpp
Owners: @kpschoedel

Fix build script unit test
  scripts/build/expected_all_platform_commands.txt
Owners: @mspang

remove more checks for NodeID
  src/app/server/Server.cpp
  src/messaging/ExchangeContext.cpp
  src/protocols/secure_channel/CASESession.cpp
Owners: @yunhanw-google, @bzbarsky-apple, @mrjerryjohns, @yufengwangca, @pan-apple

update CHIPTool for modified opcreds cluster
  src/darwin/CHIPTool/CHIPTool/View Controllers/Fabric/FabricUIViewController.m
  src/darwin/CHIPTool/CHIPTool/View Controllers/QRCode/QRCodeViewController.m
Owners: @shana-apple

Fix build script unit test (#8841)
  scripts/build/expected_all_platform_commands.txt
Owners: @mspang

Emit bool instead of uint8_t for Boolean types (#8818)
  examples/all-clusters-app/all-clusters-common/gen/IMClusterCommandHandler.cpp
  examples/chip-tool/commands/clusters/Commands.h
  examples/chip-tool/commands/common/Command.cpp
  examples/chip-tool/commands/common/Command.h
  examples/chip-tool/commands/tests/Commands.h
  examples/chip-tool/templates/helper.js
  examples/thermostat/thermostat-common/gen/IMClusterCommandHandler.cpp
  examples/tv-app/linux/include/content-launcher/ContentLauncherManager.cpp
  examples/tv-app/tv-common/gen/IMClusterCommandHandler.cpp
  src/app/clusters/ota-provider/ota-provider.cpp
  src/app/common/gen/af-structs.h
  src/app/common/gen/attributes/Accessors.cpp
  src/app/common/gen/attributes/Accessors.h
  src/app/common/gen/callback.h
  src/app/zap-templates/common/ClustersHelper.js
  src/app/zap-templates/common/override.js
  src/app/zap-templates/templates/app/helper.js
  src/controller/data_model/gen/CHIPClientCallbacks.cpp
  src/controller/data_model/gen/CHIPClientCallbacks.h
  src/controller/data_model/gen/CHIPClusters.cpp
  src/controller/data_model/gen/CHIPClusters.h
  src/controller/data_model/gen/IMClusterCommandHandler.cpp
  src/controller/java/gen/CHIPClusters-JNI.cpp
  src/controller/java/gen/ChipClusters.java
  src/controller/python/chip/clusters/CHIPClusters.cpp
  src/controller/python/chip/clusters/CHIPClusters.py
  src/controller/python/templates/helper.js
  src/darwin/Framework/CHIP/gen/CHIPClustersObjc.h
  src/darwin/Framework/CHIP/gen/CHIPClustersObjc.mm
  src/darwin/Framework/CHIP/templates/helper.js
  src/darwin/Framework/CHIPTests/CHIPClustersTests.m
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @vivien-apple, @yunhanw-google, @bzbarsky-apple, @mrjerryjohns, @erjianqing, @shana-apple, @pan-apple, @austinh0, @andy31415

rename functions and variables
  examples/all-clusters-app/esp32/main/main.cpp
  examples/lighting-app/k32w/main/AppTask.cpp
  examples/lighting-app/nrfconnect/main/AppTask.cpp
  examples/lighting-app/qpg/src/AppTask.cpp
  examples/lighting-app/telink/src/AppTask.cpp
  examples/lock-app/cc13x2x7_26x2x7/main/AppTask.cpp
  examples/lock-app/k32w/main/AppTask.cpp
  examples/lock-app/nrfconnect/main/AppTask.cpp
  examples/lock-app/qpg/src/AppTask.cpp
  examples/pump-app/cc13x2x7_26x2x7/main/AppTask.cpp
  examples/pump-app/nrfconnect/main/AppTask.cpp
  examples/pump-controller-app/cc13x2x7_26x2x7/main/AppTask.cpp
  examples/pump-controller-app/nrfconnect/main/AppTask.cpp
  src/app/clusters/administrator-commissioning-server/administrator-commissioning-server.cpp
  src/app/clusters/operational-credentials-server/operational-credentials-server.cpp
  src/app/server/Server.cpp
  src/app/server/Server.h
  src/controller/CHIPDeviceController.cpp
  src/crypto/CHIPCryptoPAL.cpp
  src/protocols/secure_channel/tests/TestCASESession.cpp
  src/transport/FabricTable.cpp
  src/transport/FabricTable.h
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @vivien-apple, @yunhanw-google, @bzbarsky-apple, @mrjerryjohns, @shana-apple, @pan-apple, @emargolis, @andy31415

Fix some missing includes.
  src/include/platform/CHIPDeviceEvent.h
  src/include/platform/ConfigurationManager.h
  src/include/platform/ConnectivityManager.h
Owners: @mspang, @yufengwangca

Do a better job of not suppressing rejected promises in ZAP helpers.
  examples/chip-tool/templates/helper.js
  src/app/zap-templates/common/ClustersHelper.js
  src/app/zap-templates/templates/app/helper.js
  src/controller/java/templates/helper.js
Owners: @vivien-apple, @erjianqing, @austinh0

Restyled by clang-format
  examples/chip-tool/templates/helper.js
  src/app/zap-templates/templates/app/helper.js
  src/controller/java/templates/helper.js
Owners: @vivien-apple, @erjianqing, @austinh0

Do a better job of not suppressing rejected promises in ZAP helpers.
  examples/chip-tool/templates/helper.js
  src/app/zap-templates/common/ClustersHelper.js
  src/app/zap-templates/templates/app/helper.js
  src/controller/java/templates/helper.js
Owners: @vivien-apple, @erjianqing, @austinh0

add tests, fix platform eventloop conflict
  examples/platform/linux/AppMain.cpp
  examples/platform/linux/CommissioneeShellCommands.cpp
  src/BUILD.gn
  src/app/server/Server.cpp
  src/controller/CHIPDeviceController.cpp
  src/protocols/user_directed_commissioning/UserDirectedCommissioning.h
  src/protocols/user_directed_commissioning/UserDirectedCommissioningClient.cpp
  src/protocols/user_directed_commissioning/tests/BUILD.gn
  src/protocols/user_directed_commissioning/tests/TestUdcMessages.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @mspang, @yunhanw-google, @bzbarsky-apple, @mrjerryjohns, @shana-apple, @pan-apple

build fix
  src/protocols/user_directed_commissioning/UserDirectedCommissioningClient.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Restyled by gn
  src/protocols/user_directed_commissioning/tests/BUILD.gn
Owners: @mspang

[git] mark all files in the gen folders as auto-generated
  .gitattributes
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Added methods to:
  src/credentials/tests/CHIPCert_test_vectors.cpp
  src/credentials/tests/CHIPCert_test_vectors.h
  src/crypto/CHIPCryptoPAL.cpp
  src/crypto/CHIPCryptoPAL.h
  src/crypto/CHIPCryptoPALOpenSSL.cpp
  src/crypto/CHIPCryptoPALmbedTLS.cpp
  src/crypto/tests/CHIPCryptoPALTest.cpp
  src/include/platform/ConfigurationManager.h
  src/include/platform/internal/GenericConfigurationManagerImpl.cpp
  src/include/platform/internal/GenericConfigurationManagerImpl.h
  src/lib/core/tests/TestCHIPTLV.cpp
Owners: @pan-apple, @emargolis, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @mspang, @yufengwangca

Restyled by clang-format
  src/crypto/tests/CHIPCryptoPALTest.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs
