Repository project-chip/connectedhomeip, changes with the owners that .github/CODEOWNERS names for each.
All owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @mspang, @pan-apple, @emargolis, @andy31415, @yufengwangca, @kghost, @bzbarksy-apple, @bzbarsky-apple, @gjc13, @damian-nordic, @erjiaqing, @shana-apple, @yunhanw-google, @vivien-apple, @erjianqing, @mrjerryjohns, @jrhees-cae, @rgoliver, @austinh0, @bukepo, @kpschoedel

Fixed start/stop logic and moved On/Off cluster to EP1
  examples/pump-app/nrfconnect/main/AppTask.cpp
  examples/pump-app/nrfconnect/main/PumpManager.cpp
  examples/pump-app/pump-common/pump-app.zap
  zzz_generated/pump-app/zap-generated/endpoint_config.h
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

doc: nrfconnect: fix link and image
  docs/guides/images/nrfconnect_android_connectivity.png
  docs/guides/images/nrfconnect_android_connectivity.svg
  docs/guides/nrfconnect_android_commissioning.md
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Restyled by prettier-markdown
  docs/guides/nrfconnect_android_commissioning.md
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Add a doc to describe build and run lighting app for i.mx 8mmevk
  examples/lighting-app/linux/README.md
  examples/lighting-app/nxp/linux-imx/imx8m/README.md
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Restyled by prettier-markdown
  examples/lighting-app/nxp/linux-imx/imx8m/README.md
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Updated pump-controller-app to build again
  examples/pump-controller-app/nrfconnect/CMakeLists.txt
  examples/pump-controller-app/nrfconnect/README.md
  examples/pump-controller-app/nrfconnect/main/AppTask.cpp
  examples/pump-controller-app/nrfconnect/main/PumpManager.cpp
  examples/pump-controller-app/nrfconnect/main/ZclCallbacks.cpp
  examples/pump-controller-app/nrfconnect/main/include/AppConfig.h
  examples/pump-controller-app/nrfconnect/main/include/AppEvent.h
  examples/pump-controller-app/nrfconnect/main/include/AppTask.h
  examples/pump-controller-app/nrfconnect/main/include/PumpManager.h
  examples/pump-controller-app/pump-controller-common/pump-controller-app.zap
  zzz_generated/pump-controller-app/zap-generated/CHIPClusters.cpp
  zzz_generated/pump-controller-app/zap-generated/CHIPClusters.h
  zzz_generated/pump-controller-app/zap-generated/endpoint_config.h
  zzz_generated/pump-controller-app/zap-generated/gen_config.h
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Add app include dependency without relying on global src include
  examples/all-clusters-app/esp32/main/CMakeLists.txt
  examples/bridge-app/esp32/main/CMakeLists.txt
  examples/lock-app/esp32/main/CMakeLists.txt
  examples/temperature-measurement-app/esp32/main/CMakeLists.txt
  src/BUILD.gn
  src/app/chip_data_model.gni
  src/controller/data_model/BUILD.gn
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @mspang, @yunhanw-google, @bzbarsky-apple, @mrjerryjohns, @shana-apple, @pan-apple

Fix cmakelists for mbed/nrf/telink
  examples/lighting-app/mbed/CMakeLists.txt
  examples/lighting-app/nrfconnect/CMakeLists.txt
  examples/lighting-app/telink/CMakeLists.txt
  examples/lock-app/mbed/CMakeLists.txt
  examples/lock-app/nrfconnect/CMakeLists.txt
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Fix typo in gen dir
  examples/lock-app/nrfconnect/CMakeLists.txt
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Window Covering cluster: Added support for multiple endpoints.
  examples/window-app/common/include/WindowApp.h
  examples/window-app/common/src/WindowApp.cpp
  examples/window-app/common/src/ZclCallbacks.cpp
  examples/window-app/common/window-app.zap
  examples/window-app/efr32/README.md
  examples/window-app/efr32/include/AppConfig.h
  examples/window-app/efr32/include/LcdPainter.h
  examples/window-app/efr32/include/WindowAppImpl.h
  examples/window-app/efr32/src/LcdPainter.cpp
  examples/window-app/efr32/src/WindowAppImpl.cpp
  src/app/clusters/window-covering-server/window-covering-server.cpp
  src/app/clusters/window-covering-server/window-covering-server.h
  zzz_generated/window-app/zap-generated/endpoint_config.h
  zzz_generated/window-app/zap-generated/gen_config.h
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @vivien-apple

Restyled by clang-format
  examples/window-app/common/src/WindowApp.cpp
  examples/window-app/efr32/include/AppConfig.h
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

doc: nrfconnect: fix link and image (#9201)
  docs/guides/images/nrfconnect_android_connectivity.png
  docs/guides/images/nrfconnect_android_connectivity.svg
  docs/guides/nrfconnect_android_commissioning.md
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Add header for xcode builds for app-common
  src/darwin/Framework/CHIP.xcodeproj/project.pbxproj
Owners: @shana-apple, @vivien-apple, @pan-apple

Restyled by whitespace
  src/app/common/templates/templates.json
Owners: @yunhanw-google, @bzbarsky-apple, @mrjerryjohns

Restyled by gn
  src/BUILD.gn
  src/app/chip_data_model.gni
Owners: @mspang, @yunhanw-google, @bzbarsky-apple, @mrjerryjohns

Restyled by autopep8
  scripts/tools/zap_regen_all.py
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Upping timing out tests
  .github/workflows/tests.yaml
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Change includes using "" to <> for app-common includes
  src/app/zap-templates/templates/app/im-cluster-command-handler.zapt
  src/controller/data_model/zap-generated/IMClusterCommandHandler.cpp
  zzz_generated/all-clusters-app/zap-generated/IMClusterCommandHandler.cpp
  zzz_generated/bridge-app/zap-generated/IMClusterCommandHandler.cpp
  zzz_generated/lighting-app/zap-generated/IMClusterCommandHandler.cpp
  zzz_generated/lock-app/zap-generated/IMClusterCommandHandler.cpp
  zzz_generated/ota-provider-app/zap-generated/IMClusterCommandHandler.cpp
  zzz_generated/pump-app/zap-generated/IMClusterCommandHandler.cpp
  zzz_generated/pump-controller-app/zap-generated/IMClusterCommandHandler.cpp
  zzz_generated/temperature-measurement-app/zap-generated/IMClusterCommandHandler.cpp
  zzz_generated/thermostat/zap-generated/IMClusterCommandHandler.cpp
  zzz_generated/tv-app/zap-generated/IMClusterCommandHandler.cpp
  zzz_generated/window-app/zap-generated/IMClusterCommandHandler.cpp
Owners: @vivien-apple, @erjianqing, @shana-apple, @pan-apple, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Restyle fixes
  src/controller/data_model/zap-generated/IMClusterCommandHandler.cpp
  zzz_generated/all-clusters-app/zap-generated/IMClusterCommandHandler.cpp
  zzz_generated/bridge-app/zap-generated/IMClusterCommandHandler.cpp
  zzz_generated/lighting-app/zap-generated/IMClusterCommandHandler.cpp
  zzz_generated/lock-app/zap-generated/IMClusterCommandHandler.cpp
  zzz_generated/ota-provider-app/zap-generated/IMClusterCommandHandler.cpp
  zzz_generated/pump-app/zap-generated/IMClusterCommandHandler.cpp
  zzz_generated/pump-controller-app/zap-generated/IMClusterCommandHandler.cpp
  zzz_generated/temperature-measurement-app/zap-generated/IMClusterCommandHandler.cpp
  zzz_generated/thermostat/zap-generated/IMClusterCommandHandler.cpp
  zzz_generated/tv-app/zap-generated/IMClusterCommandHandler.cpp
  zzz_generated/window-app/zap-generated/IMClusterCommandHandler.cpp
Owners: @shana-apple, @pan-apple, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Group Key Management cluster: Server commands added.
  examples/all-clusters-app/all-clusters-common/all-clusters-app.zap
  examples/all-clusters-app/esp32/main/CMakeLists.txt
  examples/chip-tool/templates/tests-commands.zapt
  src/app/clusters/group-key-mgmt-server/group-key-mgmt-server.cpp
  src/app/tests/suites/GroupKeyManagementCluster.yaml
  src/app/util/debug-printing-test.h
  src/app/util/debug-printing.h
  src/app/zap-templates/zcl/data-model/chip/group-key-mgmt-cluster.xml
  src/app/zap_cluster_list.py
  src/controller/data_model/controller-clusters.zap
  src/darwin/Framework/CHIP/templates/clusters-tests.zapt
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @vivien-apple, @yunhanw-google, @bzbarsky-apple, @mrjerryjohns, @erjianqing, @shana-apple, @pan-apple

Group Key Management: Code auto-generated.
  examples/chip-tool/commands/clusters/Commands.h
  examples/chip-tool/commands/tests/Commands.h
  src/app/common/gen/af-structs.h
  src/app/common/gen/attribute-id.h
  src/app/common/gen/attributes/Accessors.cpp
  src/app/common/gen/attributes/Accessors.h
  src/app/common/gen/callback.h
  src/app/common/gen/client-command-macro.h
  src/app/common/gen/cluster-id.h
  src/app/common/gen/command-id.h
  src/app/common/gen/ids/Attributes.h
  src/app/common/gen/ids/Clusters.h
  src/app/common/gen/ids/Commands.h
  src/app/common/gen/print-cluster.h
  src/controller/data_model/zap-generated/CHIPClientCallbacks.cpp
  src/controller/data_model/zap-generated/CHIPClusters.cpp
  src/controller/data_model/zap-generated/CHIPClusters.h
  src/controller/data_model/zap-generated/endpoint_config.h
  src/controller/java/zap-generated/CHIPClusters-JNI.cpp
  src/controller/java/zap-generated/ChipClusters.java
  src/controller/python/chip/clusters/CHIPClusters.cpp
  src/controller/python/chip/clusters/CHIPClusters.py
  src/darwin/Framework/CHIP/zap-generated/CHIPClustersObjc.h
  src/darwin/Framework/CHIP/zap-generated/CHIPClustersObjc.mm
  src/darwin/Framework/CHIPTests/CHIPClustersTests.m
  zzz_generated/all-clusters-app/zap-generated/IMClusterCommandHandler.cpp
  zzz_generated/all-clusters-app/zap-generated/attribute-size.cpp
  zzz_generated/all-clusters-app/zap-generated/endpoint_config.h
  zzz_generated/thermostat/zap-generated/attribute-size.cpp
  zzz_generated/thermostat/zap-generated/callback-stub.cpp
  zzz_generated/thermostat/zap-generated/endpoint_config.h
  zzz_generated/thermostat/zap-generated/gen_config.h
  zzz_generated/tv-app/zap-generated/attribute-size.cpp
  zzz_generated/tv-app/zap-generated/callback-stub.cpp
  zzz_generated/tv-app/zap-generated/endpoint_config.h
  zzz_generated/tv-app/zap-generated/gen_config.h
Owners: @vivien-apple, @yunhanw-google, @bzbarsky-apple, @mrjerryjohns, @shana-apple, @pan-apple, @austinh0, @andy31415, @erjianqing, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Addressing typos, adding comments for tv-casting-app
  examples/tv-casting-app/linux/main.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Add more debug for failing tests, fix small bug.
  src/platform/fake/MdnsImpl.cpp
  src/platform/fake/MdnsImpl.h
Owners: @mspang, @yufengwangca

Add missing TXT field from sizes.
  src/lib/mdns/Advertiser.h
Owners: @andy31415, @gjc13, @damian-nordic

Fix release of endpoint in Inet::Shutdown.
  src/inet/InetLayer.cpp
Owners: @kpschoedel

Revert InetLayer changes
  src/inet/InetLayer.cpp
Owners: @kpschoedel

Release RAW endpoint in TestInetEndPointInternal test
  src/inet/tests/TestInetEndPoint.cpp
Owners: @kpschoedel

Fix deinit system layer nad network before inet pre testing Fix release TCP endpoint in TestInetEndPointInternal test Fix release all endpoints in TestInetEndPointLimit test
  src/inet/tests/TestInetEndPoint.cpp
Owners: @kpschoedel

Window Covering cluster: Added support for multiple endpoints.
  examples/window-app/common/include/WindowApp.h
  examples/window-app/common/src/WindowApp.cpp
  examples/window-app/common/src/ZclCallbacks.cpp
  examples/window-app/common/window-app.zap
  examples/window-app/efr32/README.md
  examples/window-app/efr32/include/AppConfig.h
  examples/window-app/efr32/include/LcdPainter.h
  examples/window-app/efr32/include/WindowAppImpl.h
  examples/window-app/efr32/src/LcdPainter.cpp
  examples/window-app/efr32/src/WindowAppImpl.cpp
  src/app/clusters/window-covering-server/window-covering-server.cpp
  src/app/clusters/window-covering-server/window-covering-server.h
  zzz_generated/window-app/zap-generated/endpoint_config.h
  zzz_generated/window-app/zap-generated/gen_config.h
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @vivien-apple

Fix efr32 unit tests
  src/BUILD.gn
Owners: @mspang

[nfc] fix Matter URI scheme (#9180)
  src/android/CHIPTool/app/src/main/AndroidManifest.xml
Owners: @austinh0

Remove changes to chip_data_model.gni since figuring out proper includes will need to be done globally anyway
  src/app/chip_data_model.gni
  src/controller/data_model/BUILD.gn
Owners: @yunhanw-google, @bzbarsky-apple, @mrjerryjohns, @shana-apple, @pan-apple

Update our .gitattributes to properly list our generated files.
  .gitattributes
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

[Darwin] Allow clients to pass in the NOC Signer Keypair
  src/crypto/CHIPCryptoPAL.h
  src/darwin/CHIPTool/CHIPTool/Framework Helpers/DefaultsUtils.m
  src/darwin/Framework/CHIP.xcodeproj/project.pbxproj
  src/darwin/Framework/CHIP/CHIP.h
  src/darwin/Framework/CHIP/CHIPDeviceController.h
  src/darwin/Framework/CHIP/CHIPDeviceController.mm
  src/darwin/Framework/CHIP/CHIPKeypair.h
  src/darwin/Framework/CHIP/CHIPOperationalCredentialsDelegate.h
  src/darwin/Framework/CHIP/CHIPOperationalCredentialsDelegate.mm
  src/darwin/Framework/CHIP/CHIPP256KeypairBridge.h
  src/darwin/Framework/CHIP/CHIPP256KeypairBridge.mm
  src/darwin/Framework/CHIP/templates/clusters-tests.zapt
  src/darwin/Framework/CHIPTests/CHIPClustersTests.m
  src/darwin/Framework/CHIPTests/CHIPControllerTests.m
  src/platform/Darwin/BUILD.gn
  src/platform/Darwin/CHIPP256KeypairNativeBridge.cpp
  src/platform/Darwin/CHIPP256KeypairNativeBridge.h
Owners: @pan-apple, @emargolis, @shana-apple, @vivien-apple, @mspang, @yufengwangca

Restyled by clang-format
  src/darwin/Framework/CHIP/CHIPDeviceController.h
  src/darwin/Framework/CHIP/CHIPDeviceController.mm
  src/darwin/Framework/CHIP/CHIPOperationalCredentialsDelegate.mm
  src/darwin/Framework/CHIP/CHIPP256KeypairBridge.h
  src/darwin/Framework/CHIP/CHIPP256KeypairBridge.mm
Owners: @shana-apple, @vivien-apple, @pan-apple

Restyled by gn
  src/platform/Darwin/BUILD.gn
Owners: @mspang, @yufengwangca

Restyled by gn
  src/platform/Darwin/BUILD.gn
Owners: @mspang, @yufengwangca

Address review comments.
  docs/discussion/lwip_ipv6.md
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Using constexpr and other minor edits
  examples/tv-casting-app/linux/main.cpp
  src/lib/mdns/Resolver.h
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @andy31415, @gjc13, @damian-nordic

Address Review Comments
  src/darwin/Framework/CHIP/CHIPOperationalCredentialsDelegate.mm
  src/platform/Darwin/CHIPP256KeypairNativeBridge.h
Owners: @shana-apple, @vivien-apple, @pan-apple, @mspang, @yufengwangca

.github/CODEOWNERS:

# Current reviewers-XXX teams, who review everything for approval.
* @reviewers-amazon @reviewers-apple @reviewers-comcast @reviewers-google @reviewers-nordic @reviewers-samsung @reviewers-silabs


# BUILD system

*.gn @mspang
/build/ @mspang
/scripts/build/ @mspang

# Crypto
# Crypto primitives and high level API, generally on top of mbedtls and openssl
/src/crypto/* @pan-apple @emargolis
/src/credentials/ @pan-apple @emargolis

# Transport
# Send and receive data abstracting away the underlying protocol (UDP, TCP, BLE)
/src/transport/ @andy31415 @pan-apple

# Session establishment
# Establish a secure session (encryption keys) from one node to another.
# Includes CASE and PASE + session tracking and resumptioon
/src/protocols/secure_channel/ @pan-apple

# Message Layer
# CRMP and packet headers, generally coupled with SecureSessionManager
/src/messaging @yufengwangca @kghost @bzbarksy-apple
/src/transport/raw/MessageHeader.* @yufengwangca @kghost @bzbarksy-apple

# SecureSessionManager
# Manages per-session encryption keys and new session establishment
/src/transport/SecureSessionMgr.* @pan-apple

# Exchange management
# Joins requests and responses or ties a series of messages belonging to the 
# same protocol interaction
/src/messaging/ @yufengwangca @bzbarsky-apple
/src/channel/ @yufengwangca @bzbarsky-apple

# DNS-SD discovery and advertisement
# Advertise chip devices for commisioning, operational and discover such devices
/src/lib/mdns/ @andy31415 @gjc13 @damian-nordic

# Commisioning controller/flow
# Example of a comisioning sequence
/src/controller/ @pan-apple @erjiaqing

# Operational credentials management
# Signing certificates, maintaining roots of trust, validation, fabric management
/src/controller/ @shana-apple @pan-apple
/src/transport/AdminPairingTable.* @shana-apple @pan-apple

# TLV encoding/decoding to/from byte buffers
/src/lib/core/CHIPTLV* @yunhanw-google @bzbarsky-apple @shana-apple

# Interaction model - ember implementation
# ZCL protocol implementation: ZCL encoding to be sent over the wire as a 
# ZigbeePro protocol implementation
/src/app/util/ @vivien-apple @erjianqing @bzbarsky-apple

# Interaction model - non-ember
# Protocol implementation for IM interactions between nodes, matching spec
/src/app/ @yunhanw-google @bzbarsky-apple @mrjerryjohns

# Interaction model - code generation
# CHIP-specific infrastructure for generating code: helper js methods, scripts
# and code layout
/src/app/zap-templates/ @vivien-apple @erjianqing

# ZAP suppport
# UI for editing XML, generates code from such ZML and configuration files
# NOT part of CHIP however CHIP relies heavily on ZAP.
#    @vivien-apple  @tecimovic

# 'Standard' cluster implementations (server side)
# Clusters shipped with the sdk, can be integrated as-is or used as a template
/src/app/clusters/ @vivien-apple

# Onboarding payload
# Parsing and generation of codes (includes QR and NFC), numeric pairing payload
/src/setup_payload/ @shana-apple @vivien-apple @jrhees-cae

# Device Layer
# Porting interfaces, scaffolding for building an example firmware
/src/platform/ @mspang @yufengwangca
/src/include/platform/ @mspang @yufengwangca

# Persistent storage
# Save state across reboots
/src/platform/*/KeyValueStore* @rgoliver

# Python bindings for CHIP - CLI
# Allows python code to use CHIP, generally targeted towards automation
/src/controller/python/ @andy31415 @erjianqing

# CHIP-tool C++ CLI
# Command line interface to chip as a client (controller and commisioner)
# Includes generated code for every base cluster
/examples/chip-tool/ @vivien-apple

# CHIP-tool iOS UI
/src/darwin/CHIPTool/ @shana-apple

# CHIP-tool Android
/src/android/CHIPTool/ @austinh0
/src/controller/java/ @austinh0

# End2End autogenerated tests
/src/darwin/Framework/Chip-templates/ @vivien-apple
/src/app/tests/suites/ @vivien-apple

# End2End cirque tests
# Simulate topology (cirque) and ptyhon-based test automation
/src/test_driver/linux/cirque/ @erjianqing @yunhanw-google

# Thread integration
# Thread-specific functionality (network provisioning, operational discovery, SRP registration etc.)
/src/platform/OpenThread/ @bukepo
/src/platform/*/ThreadStackmanagerImpl.* @bukepo

# Inet
# Networking abstraction layer (UDP-endpoint, TCP-endpoint, InetLayerBasis)
/src/inet/ @kpschoedel 

# System layer
/src/system/ @kpschoedel 

# BLE support
/src/ble/ @yunhanw-google

# CHIP Shell
# Command-line UART/stdin interface as a side-channel to CHIP accessories
# Aimed as user-friendly/manual control
/src/examples/shell/ @gjc13 @yufengwangca

# RPC
# Side-channlel command path (outside chip), generally for automation and debugging
# Aimed as "scriptable" when compared to shell
/examples/common/pigweed/ @rgoliver
/examples/pigweed-app/ @rgoliver

# Tooling for crypto manual generation
# Generates data for sample PKI
/src/tools/chip-cert/ @emargolis

# Channel API
# Construct a transport/secure session based on peer info and transport type.
# Focused on CASE session establishment
/src/channel/ @kghost

# Darwin framework
# Exposes a darwin API (Objective-C/swift rather than raw C++ API) for darwin
# applications
/src/darwin/Framework/ @shana-apple @vivien-apple @pan-apple
