Repository project-chip/connectedhomeip, changes with the owners that .github/CODEOWNERS names for each.
All owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @mspang, @pan-apple, @emargolis, @andy31415, @yufengwangca, @kghost, @bzbarksy-apple, @bzbarsky-apple, @gjc13, @damian-nordic, @erjiaqing, @shana-apple, @yunhanw-google, @vivien-apple, @erjianqing, @mrjerryjohns, @jrhees-cae, @rgoliver, @austinh0, @bukepo, @kpschoedel

Restyled by clang-format
  src/app/Command.cpp
  src/app/Command.h
  src/app/CommandHandler.cpp
Owners: @yunhanw-google, @bzbarsky-apple, @mrjerryjohns

[doc] Update nRF Connect - Android commissioning guide
  docs/guides/nrfconnect_android_commissioning.md
  docs/images/CHIPTool_device_commissioned.jpg
  docs/images/nrfconnect_android_connectivity.svg
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Restyled by prettier-markdown
  docs/guides/nrfconnect_android_commissioning.md
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

CHIP Epoch Year is Changed from 2020 to 2000. (#7536)
  src/credentials/tests/CHIPCert_test_vectors.cpp
  src/credentials/tests/TestChipCert.cpp
  src/lib/support/TimeUtils.h
Owners: @pan-apple, @emargolis, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Update platform manager state on shutdown (#7532)
  src/darwin/Framework/CHIP.xcodeproj/project.pbxproj
  src/darwin/Framework/CHIP/CHIPDeviceController.mm
  src/darwin/Framework/CHIPTests/CHIPControllerTests.m
  src/include/platform/PlatformManager.h
Owners: @shana-apple, @vivien-apple, @pan-apple, @mspang, @yufengwangca

Revert "Revert "[controller] Move callbacks to CommandResponseStatus since timing related issue is resolved. (#7060)" (#7276)" (#7542)
  src/controller/CHIPDeviceController.cpp
Owners: @shana-apple, @pan-apple

Filter received mdns records to chip only. (#7527)
  src/lib/mdns/Resolver_ImplMinimalMdns.cpp
Owners: @andy31415, @gjc13, @damian-nordic

[doc] Update nRF Connect - Android commissioning guide (#7548)
  docs/guides/nrfconnect_android_commissioning.md
  docs/images/CHIPTool_device_commissioned.jpg
  docs/images/nrfconnect_android_connectivity.svg
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Revert "Add github action to report memory diff user diffsyms tool (#6962)"
  .github/workflows/examples-esp32.yaml
  scripts/helpers/post_comment.py
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Revert "Add github action to report memory diff user diffsyms tool (#6962)" (#7550)
  .github/workflows/examples-esp32.yaml
  scripts/helpers/post_comment.py
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Add a fixit rotation script and a workflow (for official runs)
  .github/workflows/fixit_rotation.yaml
  scripts/fixit_rotation.py
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Remove CHIP buffer size check within shell and leave this check to transport layer
  examples/shell/shell_common/cmd_ping.cpp
  examples/shell/shell_common/cmd_send.cpp
  examples/shell/shell_common/include/Globals.h
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Remove empty command status code test
  src/app/Command.cpp
  src/app/Command.h
  src/app/CommandHandler.cpp
  src/app/CommandHandler.h
  src/app/clusters/door-lock-server/door-lock-server-logging.cpp
  src/app/clusters/door-lock-server/door-lock-server-schedule.cpp
  src/app/clusters/door-lock-server/door-lock-server-user.cpp
  src/app/clusters/groups-server/groups-server.cpp
  src/app/clusters/identify/identify.cpp
  src/app/clusters/operational-credentials-server/operational-credentials-server.cpp
  src/app/clusters/scenes/scenes.cpp
  src/app/clusters/test-cluster-server/test-cluster-server.cpp
  src/app/tests/TestCommandInteraction.cpp
  src/app/tests/integration/chip_im_initiator.cpp
  src/app/tests/integration/chip_im_responder.cpp
  src/app/util/ember-compatibility-functions.cpp
  src/app/zap-templates/templates/app/CHIPClusters-src.zapt
  src/app/zap-templates/templates/app/im-cluster-command-handler.zapt
Owners: @yunhanw-google, @bzbarsky-apple, @mrjerryjohns, @vivien-apple, @erjianqing

Restyled by clang-format
  src/app/Command.cpp
  src/app/Command.h
  src/app/CommandHandler.cpp
Owners: @yunhanw-google, @bzbarsky-apple, @mrjerryjohns

Remove empty command status code test
  src/app/Command.cpp
  src/app/Command.h
  src/app/CommandHandler.cpp
  src/app/CommandHandler.h
  src/app/clusters/door-lock-server/door-lock-server-logging.cpp
  src/app/clusters/door-lock-server/door-lock-server-schedule.cpp
  src/app/clusters/door-lock-server/door-lock-server-user.cpp
  src/app/clusters/groups-server/groups-server.cpp
  src/app/clusters/identify/identify.cpp
  src/app/clusters/operational-credentials-server/operational-credentials-server.cpp
  src/app/clusters/scenes/scenes.cpp
  src/app/clusters/test-cluster-server/test-cluster-server.cpp
  src/app/tests/TestCommandInteraction.cpp
  src/app/tests/integration/chip_im_initiator.cpp
  src/app/tests/integration/chip_im_responder.cpp
  src/app/util/ember-compatibility-functions.cpp
  src/app/zap-templates/templates/app/CHIPClusters-src.zapt
  src/app/zap-templates/templates/app/im-cluster-command-handler.zapt
Owners: @yunhanw-google, @bzbarsky-apple, @mrjerryjohns, @vivien-apple, @erjianqing

enable ThreadNetworkDiagnostic Cluster client on Controller. enable ResetCounts command
  src/controller/data_model/controller-clusters.zap
  src/darwin/Framework/CHIP/templates/helper.js
Owners: @shana-apple, @pan-apple, @vivien-apple

Regenerate files for the controllers
  src/controller/data_model/gen/CHIPClientCallbacks.cpp
  src/controller/data_model/gen/CHIPClientCallbacks.h
  src/controller/data_model/gen/endpoint_config.h
  src/darwin/Framework/CHIP/templates/helper.js
Owners: @shana-apple, @pan-apple, @vivien-apple

Add debug traces for Darwin cluster tests
  examples/all-clusters-app/all-clusters-common/gen/attribute-size.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Restyled by clang-format
  examples/all-clusters-app/all-clusters-common/gen/attribute-size.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

fix length for attributes SECURITY_POLICY and OPERATIONAL_DATASET_COMPONENTS, regenerate files
  src/app/zap-templates/zcl/thread-network-diagnostics-cluster.xml
Owners: @vivien-apple, @erjianqing

Change mdns broadcast to allow treatement as success if anything succeeds
  src/lib/mdns/minimal/Server.cpp
Owners: @andy31415, @gjc13, @damian-nordic

Revert "Add debug traces for Darwin cluster tests"
  examples/all-clusters-app/all-clusters-common/gen/attribute-size.cpp
  examples/all-clusters-app/all-clusters-common/gen/endpoint_config.h
  examples/bridge-app/bridge-common/gen/endpoint_config.h
  examples/chip-tool/commands/clusters/Commands.h
  examples/lighting-app/lighting-common/gen/endpoint_config.h
  examples/lock-app/lock-common/gen/endpoint_config.h
  examples/pump-app/pump-common/gen/endpoint_config.h
  examples/pump-controller-app/pump-controller-common/gen/endpoint_config.h
  examples/tv-app/tv-common/gen/endpoint_config.h
  examples/window-app/common/gen/endpoint_config.h
  src/app/zap-templates/zcl/thread-network-diagnostics-cluster.xml
  src/controller/data_model/gen/CHIPClusters.cpp
  src/controller/data_model/gen/CHIPClusters.h
  src/controller/data_model/gen/callback-stub.cpp
  src/controller/data_model/gen/callback.h
  src/controller/data_model/gen/chip-zcl-zpro-codec-api.h
  src/controller/data_model/gen/encoder.cpp
  src/controller/data_model/gen/endpoint_config.h
  src/controller/data_model/gen/gen_config.h
  src/controller/python/chip/clusters/CHIPClusters.cpp
  src/controller/python/chip/clusters/CHIPClusters.py
  src/darwin/Framework/CHIP/gen/CHIPClustersObjc.h
  src/darwin/Framework/CHIP/gen/CHIPClustersObjc.mm
  src/darwin/Framework/CHIPTests/CHIPClustersTests.m
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @vivien-apple, @erjianqing, @shana-apple, @pan-apple, @andy31415

Use the build image (to get some python in it) instead of esp32 ... esp32 is odd
  .github/workflows/fixit_rotation.yaml
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Check CSR Nonce before processing CSR
  src/controller/CHIPDevice.h
  src/controller/CHIPDeviceController.cpp
Owners: @shana-apple, @pan-apple

Fix typo
  src/lib/mdns/minimal/Server.cpp
Owners: @andy31415, @gjc13, @damian-nordic

address review comments
  src/controller/CHIPDevice.h
  src/controller/CHIPDeviceController.cpp
Owners: @shana-apple, @pan-apple

Add back error checking.
  src/platform/Linux/MdnsImpl.cpp
  src/platform/OpenThread/MdnsImpl.cpp
Owners: @mspang, @yufengwangca, @bukepo

Fix thread races in chip-tool
  examples/chip-tool/commands/clusters/ModelCommand.cpp
  examples/chip-tool/commands/clusters/ModelCommand.h
  examples/chip-tool/commands/common/Command.h
  examples/chip-tool/commands/common/Commands.cpp
  examples/chip-tool/commands/common/Commands.h
  examples/chip-tool/commands/discover/Commands.h
  examples/chip-tool/commands/discover/DiscoverCommand.cpp
  examples/chip-tool/commands/discover/DiscoverCommand.h
  examples/chip-tool/commands/pairing/PairingCommand.cpp
  examples/chip-tool/commands/pairing/PairingCommand.h
  examples/chip-tool/commands/payload/AdditionalDataParseCommand.cpp
  examples/chip-tool/commands/payload/AdditionalDataParseCommand.h
  examples/chip-tool/commands/payload/SetupPayloadParseCommand.cpp
  examples/chip-tool/commands/payload/SetupPayloadParseCommand.h
  examples/chip-tool/commands/reporting/ReportingCommand.cpp
  examples/chip-tool/commands/reporting/ReportingCommand.h
  examples/chip-tool/commands/tests/TestCommand.cpp
  examples/chip-tool/commands/tests/TestCommand.h
  examples/chip-tool/templates/partials/test_cluster.zapt
  examples/minimal-mdns/client.cpp
  src/app/tests/integration/common.cpp
  src/controller/CHIPDeviceController.cpp
  src/controller/CHIPDeviceController.h
  src/include/platform/PlatformManager.h
  src/include/platform/internal/GenericPlatformManagerImpl_FreeRTOS.cpp
  src/include/platform/internal/GenericPlatformManagerImpl_FreeRTOS.h
  src/include/platform/internal/GenericPlatformManagerImpl_POSIX.cpp
  src/include/platform/internal/GenericPlatformManagerImpl_POSIX.h
  src/include/platform/internal/GenericPlatformManagerImpl_Zephyr.cpp
  src/include/platform/internal/GenericPlatformManagerImpl_Zephyr.h
  src/messaging/tests/echo/common.cpp
  src/platform/Darwin/PlatformManagerImpl.h
  src/platform/tests/TestMdns.cpp
Owners: @vivien-apple, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @yunhanw-google, @bzbarsky-apple, @mrjerryjohns, @shana-apple, @pan-apple, @mspang, @yufengwangca

Restyled by whitespace
  examples/chip-tool/commands/clusters/ModelCommand.cpp
  examples/chip-tool/commands/discover/DiscoverCommand.cpp
  examples/chip-tool/commands/reporting/ReportingCommand.cpp
  examples/chip-tool/commands/tests/TestCommand.cpp
  src/controller/CHIPDeviceController.cpp
Owners: @vivien-apple, @shana-apple, @pan-apple

Restyler fixes
  examples/chip-tool/commands/clusters/ModelCommand.cpp
  examples/chip-tool/commands/discover/DiscoverCommand.cpp
  examples/chip-tool/commands/reporting/ReportingCommand.cpp
  examples/chip-tool/commands/tests/TestCommand.cpp
  src/controller/CHIPDeviceController.cpp
Owners: @vivien-apple, @shana-apple, @pan-apple

regenerate after merge conflict
  examples/all-clusters-app/all-clusters-common/gen/endpoint_config.h
  src/controller/data_model/gen/endpoint_config.h
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @shana-apple, @pan-apple

Forgot a file..
  examples/chip-tool/templates/partials/test_cluster.zapt
Owners: @vivien-apple

Address review comments
  examples/shell/shell_common/cmd_ping.cpp
  examples/shell/shell_common/cmd_send.cpp
  examples/shell/shell_common/include/Globals.h
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Run codegen
  examples/all-clusters-app/all-clusters-common/gen/IMClusterCommandHandler.cpp
  examples/bridge-app/bridge-common/gen/IMClusterCommandHandler.cpp
  examples/lighting-app/lighting-common/gen/IMClusterCommandHandler.cpp
  examples/lock-app/lock-common/gen/IMClusterCommandHandler.cpp
  examples/pump-app/pump-common/gen/IMClusterCommandHandler.cpp
  examples/pump-controller-app/pump-controller-common/gen/CHIPClusters.cpp
  examples/pump-controller-app/pump-controller-common/gen/IMClusterCommandHandler.cpp
  examples/temperature-measurement-app/esp32/main/gen/IMClusterCommandHandler.cpp
  examples/tv-app/tv-common/gen/IMClusterCommandHandler.cpp
  examples/window-app/common/gen/IMClusterCommandHandler.cpp
  src/controller/data_model/gen/CHIPClusters.cpp
  src/controller/data_model/gen/IMClusterCommandHandler.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @shana-apple, @pan-apple

IM command needs mandatory path (#7538)
  examples/all-clusters-app/all-clusters-common/gen/IMClusterCommandHandler.cpp
  examples/bridge-app/bridge-common/gen/IMClusterCommandHandler.cpp
  examples/lighting-app/lighting-common/gen/IMClusterCommandHandler.cpp
  examples/lock-app/lock-common/gen/IMClusterCommandHandler.cpp
  examples/pump-app/pump-common/gen/IMClusterCommandHandler.cpp
  examples/pump-controller-app/pump-controller-common/gen/CHIPClusters.cpp
  examples/pump-controller-app/pump-controller-common/gen/IMClusterCommandHandler.cpp
  examples/temperature-measurement-app/esp32/main/gen/IMClusterCommandHandler.cpp
  examples/tv-app/tv-common/gen/IMClusterCommandHandler.cpp
  examples/window-app/common/gen/IMClusterCommandHandler.cpp
  src/app/Command.cpp
  src/app/Command.h
  src/app/CommandHandler.cpp
  src/app/CommandHandler.h
  src/app/clusters/door-lock-server/door-lock-server-logging.cpp
  src/app/clusters/door-lock-server/door-lock-server-schedule.cpp
  src/app/clusters/door-lock-server/door-lock-server-user.cpp
  src/app/clusters/groups-server/groups-server.cpp
  src/app/clusters/identify/identify.cpp
  src/app/clusters/operational-credentials-server/operational-credentials-server.cpp
  src/app/clusters/scenes/scenes.cpp
  src/app/clusters/test-cluster-server/test-cluster-server.cpp
  src/app/tests/TestCommandInteraction.cpp
  src/app/tests/integration/chip_im_initiator.cpp
  src/app/tests/integration/chip_im_responder.cpp
  src/app/util/ember-compatibility-functions.cpp
  src/app/zap-templates/templates/app/CHIPClusters-src.zapt
  src/app/zap-templates/templates/app/im-cluster-command-handler.zapt
  src/controller/data_model/gen/CHIPClusters.cpp
  src/controller/data_model/gen/IMClusterCommandHandler.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @yunhanw-google, @bzbarsky-apple, @mrjerryjohns, @vivien-apple, @erjianqing, @shana-apple, @pan-apple

Add ResponseSender tests. (#7507)
  src/lib/mdns/minimal/Server.h
  src/lib/mdns/minimal/tests/BUILD.gn
  src/lib/mdns/minimal/tests/TestResponseSender.cpp
Owners: @andy31415, @gjc13, @damian-nordic

Update pigweed to 78d0730d
  config/efr32/lib/pw_rpc/pw_rpc.gni
  config/esp32/components/chip/CMakeLists.txt
  config/esp32/lib/pw_rpc/BUILD.gn
  config/nrfconnect/chip-gn/lib/pw_rpc/pw_rpc.gni
  examples/lighting-app/efr32/BUILD.gn
  examples/lighting-app/linux/BUILD.gn
  examples/lighting-app/linux/with_pw_rpc.gni
  examples/pigweed-app/esp32/main/CMakeLists.txt
  scripts/environment.json
  scripts/pigweed.json
  scripts/python.json
  src/lib/support/pw_log_chip/BUILD.gn
  src/platform/EFR32/args.gni
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @mspang, @rgoliver, @yufengwangca

[K32W] Add chip-shell application
  examples/lighting-app/k32w/BUILD.gn
  examples/lighting-app/k32w/include/CHIPProjectConfig.h
  examples/lighting-app/k32w/include/FreeRTOSConfig.h
  examples/lock-app/k32w/include/CHIPProjectConfig.h
  examples/lock-app/k32w/include/FreeRTOSConfig.h
  examples/platform/k32w/args.gni
  examples/shell/k32w/.gn
  examples/shell/k32w/BUILD.gn
  examples/shell/k32w/README.md
  examples/shell/k32w/args.gni
  examples/shell/k32w/build_overrides
  examples/shell/k32w/data.bin
  examples/shell/k32w/include/CHIPProjectConfig.h
  examples/shell/k32w/include/FreeRTOSConfig.h
  examples/shell/k32w/main/include/app_config.h
  examples/shell/k32w/main/main.cpp
  examples/shell/k32w/third_party/connectedhomeip
  src/lib/shell/BUILD.gn
  src/lib/shell/streamer_k32w.cpp
  src/platform/K32W/CHIPDevicePlatformConfig.h
  src/platform/K32W/NFCManagerImpl.cpp
  src/platform/K32W/args.gni
  third_party/k32w_sdk/k32w_sdk.gni
Owners: @mspang, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @yufengwangca

Restyled by gn
  examples/lighting-app/k32w/BUILD.gn
  examples/lock-app/k32w/BUILD.gn
  examples/shell/k32w/BUILD.gn
Owners: @mspang

Restyled by clang-format
  examples/shell/k32w/main/main.cpp
  src/lib/shell/streamer_k32w.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

.github/CODEOWNERS:

# Current reviewers-XXX teams, who review everything for approval.
* @reviewers-amazon @reviewers-apple @reviewers-comcast @reviewers-google @reviewers-nordic @reviewers-samsung @reviewers-silabs


# BUILD system

*.gn @mspang
/build/ @mspang
/scripts/build/ @mspang

# Crypto
# Crypto primitives and high level API, generally on top of mbedtls and openssl
/src/crypto/* @pan-apple @emargolis
/src/credentials/ @pan-apple @emargolis

# Transport
# Send and receive data abstracting away the underlying protocol (UDP, TCP, BLE)
/src/transport/ @andy31415 @pan-apple

# Session establishment
# Establish a secure session (encryption keys) from one node to another.
# Includes CASE and PASE + session tracking and resumptioon
/src/protocols/secure_channel/ @pan-apple

# Message Layer
# CRMP and packet headers, generally coupled with SecureSessionManager
/src/messaging @yufengwangca @kghost @bzbarksy-apple
/src/transport/raw/MessageHeader.* @yufengwangca @kghost @bzbarksy-apple

# SecureSessionManager
# Manages per-session encryption keys and new session establishment
/src/transport/SecureSessionMgr.* @pan-apple

# Exchange management
# Joins requests and responses or ties a series of messages belonging to the 
# same protocol interaction
/src/messaging/ @yufengwangca @bzbarsky-apple
/src/channel/ @yufengwangca @bzbarsky-apple

# DNS-SD discovery and advertisement
# Advertise chip devices for commisioning, operational and discover such devices
/src/lib/mdns/ @andy31415 @gjc13 @damian-nordic

# Commisioning controller/flow
# Example of a comisioning sequence
/src/controller/ @pan-apple @erjiaqing

# Operational credentials management
# Signing certificates, maintaining roots of trust, validation, fabric management
/src/controller/ @shana-apple @pan-apple
/src/transport/AdminPairingTable.* @shana-apple @pan-apple

# TLV encoding/decoding to/from byte buffers
/src/lib/core/CHIPTLV* @yunhanw-google @bzbarsky-apple @shana-apple

# Interaction model - ember implementation
# ZCL protocol implementation: ZCL encoding to be sent over the wire as a 
# ZigbeePro protocol implementation
/src/app/util/ @vivien-apple @erjianqing @bzbarsky-apple

# Interaction model - non-ember
# Protocol implementation for IM interactions between nodes, matching spec
/src/app/ @yunhanw-google @bzbarsky-apple @mrjerryjohns

# Interaction model - code generation
# CHIP-specific infrastructure for generating code: helper js methods, scripts
# and code layout
/src/app/zap-templates/ @vivien-apple @erjianqing

# ZAP suppport
# UI for editing XML, generates code from such ZML and configuration files
# NOT part of CHIP however CHIP relies heavily on ZAP.
#    @vivien-apple  @tecimovic

# 'Standard' cluster implementations (server side)
# Clusters shipped with the sdk, can be integrated as-is or used as a template
/src/app/clusters/ @vivien-apple

# Onboarding payload
# Parsing and generation of codes (includes QR and NFC), numeric pairing payload
/src/setup_payload/ @shana-apple @vivien-apple @jrhees-cae

# Device Layer
# Porting interfaces, scaffolding for building an example firmware
/src/platform/ @mspang @yufengwangca
/src/include/platform/ @mspang @yufengwangca

# Persistent storage
# Save state across reboots
/src/platform/*/KeyValueStore* @rgoliver

# Python bindings for CHIP - CLI
# Allows python code to use CHIP, generally targeted towards automation
/src/controller/python/ @andy31415 @erjianqing

# CHIP-tool C++ CLI
# Command line interface to chip as a client (controller and commisioner)
# Includes generated code for every base cluster
/examples/chip-tool/ @vivien-apple

# CHIP-tool iOS UI
/src/darwin/CHIPTool/ @shana-apple

# CHIP-tool Android
/src/android/CHIPTool/ @austinh0
/src/controller/java/ @austinh0

# End2End autogenerated tests
/src/darwin/Framework/Chip-templates/ @vivien-apple
/src/app/tests/suites/ @vivien-apple

# End2End cirque tests
# Simulate topology (cirque) and ptyhon-based test automation
/src/test_driver/linux/cirque/ @erjianqing @yunhanw-google

# Thread integration
# Thread-specific functionality (network provisioning, operational discovery, SRP registration etc.)
/src/platform/OpenThread/ @bukepo
/src/platform/*/ThreadStackmanagerImpl.* @bukepo

# Inet
# Networking abstraction layer (UDP-endpoint, TCP-endpoint, InetLayerBasis)
/src/inet/ @kpschoedel 

# System layer
/src/system/ @kpschoedel 

# BLE support
/src/ble/ @yunhanw-google

# CHIP Shell
# Command-line UART/stdin interface as a side-channel to CHIP accessories
# Aimed as user-friendly/manual control
/src/examples/shell/ @gjc13 @yufengwangca

# RPC
# Side-channlel command path (outside chip), generally for automation and debugging
# Aimed as "scriptable" when compared to shell
/examples/common/pigweed/ @rgoliver
/examples/pigweed-app/ @rgoliver

# Tooling for crypto manual generation
# Generates data for sample PKI
/src/tools/chip-cert/ @emargolis

# Channel API
# Construct a transport/secure session based on peer info and transport type.
# Focused on CASE session establishment
/src/channel/ @kghost

# Darwin framework
# Exposes a darwin API (Objective-C/swift rather than raw C++ API) for darwin
# applications
/src/darwin/Framework/ @shana-apple @vivien-apple @pan-apple
