Repository project-chip/connectedhomeip, changes with the owners that .github/CODEOWNERS names for each.
All owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @mspang, @pan-apple, @emargolis, @andy31415, @yufengwangca, @kghost, @bzbarksy-apple, @bzbarsky-apple, @gjc13, @damian-nordic, @erjiaqing, @shana-apple, @yunhanw-google, @vivien-apple, @erjianqing, @mrjerryjohns, @jrhees-cae, @rgoliver, @austinh0, @bukepo, @kpschoedel

Mbed: Sync unit tests build tasks with new |development| branch approach
  .vscode/tasks.json
  scripts/tests/mbed_tests.sh
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

WIP: Mbed: Enable src/system/tests
  config/mbed/chip-gn/BUILD.gn
  src/system/tests/TestSystemObject.cpp
  src/system/tests/TestSystemPacketBuffer.cpp
  src/test_driver/mbed/CMakeLists.txt
Owners: @mspang, @kpschoedel, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Mbed: Add implementation for 'usleep()' function
  src/system/tests/TestSystemObject.cpp
  src/test_driver/mbed/CMakeLists.txt
  src/test_driver/mbed/arch.c
Owners: @kpschoedel, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Enable and fix messaging tests
  src/messaging/tests/TestChannel.cpp
  src/messaging/tests/TestExchangeMgr.cpp
  src/messaging/tests/TestMessageCounterSyncMgr.cpp
  src/messaging/tests/TestReliableMessageProtocol.cpp
Owners: @yufengwangca, @bzbarsky-apple

Mbed: Add a test_runner build task
  .vscode/tasks.json
  scripts/tests/mbed_tests.sh
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Mbed: HACK: Add conditional compilation to fix missing nanosleep() fun.
  src/messaging/tests/TestReliableMessageProtocol.cpp
  src/platform/tests/TestPlatformTime.cpp
Owners: @yufengwangca, @bzbarsky-apple, @mspang

Mbed: Add fix to prevent undefined behaviour when using isgraph().
  src/lib/support/CHIPArgParser.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Mbed: Enable 'App' unit tests.
  src/test_driver/mbed/CMakeLists.txt
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Fix select callbacks and enable system layer test
  config/mbed/chip-gn/BUILD.gn
  src/platform/mbed/net/src/net_socket.cpp
  src/test_driver/mbed/CMakeLists.txt
Owners: @mspang, @yufengwangca, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Split mbed's usleep between thread_sleep_for() and wait_us()
  src/platform/mbed/arch.c
Owners: @mspang, @yufengwangca

Fixes for Inet and transport unittests
  config/mbed/chip-gn/BUILD.gn
  config/mbed/chip-gn/args.gni
  src/BUILD.gn
  src/credentials/tests/BUILD.gn
  src/inet/tests/TestInetCommonPosix.cpp
  src/platform/mbed/netinet/icmp6.h
  src/test_driver/mbed/CMakeLists.txt
  src/test_driver/mbed/mbed_app.json
Owners: @mspang, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @pan-apple, @emargolis, @kpschoedel, @yufengwangca

Enable protocol BDX testx
  config/mbed/chip-gn/BUILD.gn
  src/test_driver/mbed/CMakeLists.txt
Owners: @mspang, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Mbed: Enable PlatformTests.
  config/mbed/chip-gn/BUILD.gn
  src/test_driver/mbed/CMakeLists.txt
Owners: @mspang, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Mbed: Temporaly disable minimalMdnsCore and MinimalMdns tests.
  src/test_driver/mbed/CMakeLists.txt
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Mbed: Add test_runner build files
  src/test_driver/mbed/.gitignore
  src/test_driver/mbed/CMakeLists.txt
  src/test_driver/mbed/config.in
  src/test_driver/mbed/main/include/CHIPProjectConfig.h
  src/test_driver/mbed/main/main.cpp
  src/test_driver/mbed/mbed-os.lib
  src/test_driver/mbed/mbed_app.json
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Mbed: Enable BleLayer tests.
  config/mbed/chip-gn/BUILD.gn
  src/test_driver/mbed/CMakeLists.txt
Owners: @mspang, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Mbed: Enable MinimalMdns and MinimalMdnsCore tests.
  config/mbed/chip-gn/BUILD.gn
  src/test_driver/mbed/CMakeLists.txt
Owners: @mspang, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Mbed: Add conditional compilation for STM32L4 target in SystemConfig.h
  src/system/SystemConfig.h
Owners: @kpschoedel

Mbed: Add conditional compilation for STM32L4 target in mbed/PlatformManagerImpl.h
  src/platform/mbed/PlatformManagerImpl.h
Owners: @mspang, @yufengwangca

Mbed: Increase main stack size for test_driver target
  src/test_driver/mbed/mbed_app.json
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Mbed: Enable ASN1Tests.
  config/mbed/chip-gn/BUILD.gn
  src/test_driver/mbed/CMakeLists.txt
Owners: @mspang, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Setup payload unit-test fixed
  src/setup_payload/Base41.cpp
  src/setup_payload/Base41.h
  src/setup_payload/QRCodeSetupPayloadParser.cpp
  src/setup_payload/QRCodeSetupPayloadParser.h
  src/setup_payload/tests/BUILD.gn
  src/setup_payload/tests/TestHelpers.h
  src/setup_payload/tests/TestManualCode.cpp
  src/setup_payload/tests/TestQRCodeTLV.cpp
  src/test_driver/mbed/CMakeLists.txt
Owners: @shana-apple, @vivien-apple, @jrhees-cae, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Mbed: Enable RetransmitTests.
  config/mbed/chip-gn/BUILD.gn
  src/test_driver/mbed/CMakeLists.txt
Owners: @mspang, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Mbed: Add unit tests debug tasks to .vscode/launch.json
  .vscode/launch.json
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Add conditional compilation for trace printing in InetCommonPosix test
  src/inet/tests/TestInetCommonPosix.cpp
Owners: @kpschoedel

Remove costly python requirements on Raspberry Pi
  .gn
  scripts/constraints.txt
  scripts/requirements.esp32.txt
  scripts/requirements.in
  scripts/requirements.txt
Owners: @mspang, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Fix more usage of C++ comments in XML comments (#7609)
  src/app/zap-templates/zcl/audio-output-cluster.xml
  src/app/zap-templates/zcl/custom-types.xml
  src/app/zap-templates/zcl/media-input-cluster.xml
  src/app/zap-templates/zcl/software-diagnostics-cluster.xml
  src/app/zap-templates/zcl/target-navigator-cluster.xml
  src/app/zap-templates/zcl/tv-channel-cluster.xml
Owners: @vivien-apple, @erjianqing

Update src/lib/support/StringCircularBuffer.cpp
  src/lib/support/StringCircularBuffer.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Update src/lib/support/StringCircularBuffer.cpp
  src/lib/support/StringCircularBuffer.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Update src/lib/support/StringCircularBuffer.cpp
  src/lib/support/StringCircularBuffer.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Add a string circular buffer.
  src/lib/support/BUILD.gn
  src/lib/support/StringCircularBuffer.cpp
  src/lib/support/StringCircularBuffer.h
  src/lib/support/tests/BUILD.gn
  src/lib/support/tests/TestStringCircularBuffer.cpp
Owners: @mspang, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Resolve comments
  src/lib/support/BUILD.gn
  src/lib/support/BytesCircularBuffer.cpp
  src/lib/support/BytesCircularBuffer.h
  src/lib/support/StringCircularBuffer.h
  src/lib/support/tests/BUILD.gn
  src/lib/support/tests/TestBytesCircularBuffer.cpp
Owners: @mspang, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Restyled by clang-format
  src/lib/support/BytesCircularBuffer.cpp
  src/lib/support/BytesCircularBuffer.h
  src/lib/support/tests/TestBytesCircularBuffer.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Restyled by gn
  src/lib/support/tests/BUILD.gn
Owners: @mspang

Refactoring mDNS Commissionable Node / Commissioner discovery code for greater reuse (#1)
  examples/chip-tool/commands/casting/DiscoverCommissionersCommand.cpp
  examples/chip-tool/commands/discover/Commands.h
  src/controller/AbstractMdnsDiscoveryController.cpp
  src/controller/AbstractMdnsDiscoveryController.h
  src/controller/BUILD.gn
  src/controller/CHIPCommissionableNodeController.cpp
  src/controller/CHIPCommissionableNodeController.h
  src/controller/CHIPDeviceController.cpp
  src/controller/CHIPDeviceController.h
  src/controller/python/ChipDeviceController-ScriptBinding.cpp
  src/controller/python/chip/discovery/NodeResolution.cpp
  src/include/platform/CHIPDeviceConfig.h
  src/lib/mdns/Resolver.h
  src/lib/mdns/Resolver_ImplMinimalMdns.cpp
  src/lib/mdns/TxtFields.cpp
  src/lib/mdns/TxtFields.h
  src/lib/mdns/tests/TestTxtFields.cpp
Owners: @vivien-apple, @shana-apple, @pan-apple, @andy31415, @erjianqing, @mspang, @yufengwangca, @gjc13, @damian-nordic

Restyled by gn
  src/controller/BUILD.gn
Owners: @shana-apple, @pan-apple

Address review comments from Damian
  src/inet/tests/TestInetLayerDNS.cpp
  src/lib/mdns/Discovery_ImplPlatform.cpp
  src/lib/mdns/ServiceNaming.cpp
  src/lib/mdns/tests/TestServiceNaming.cpp
Owners: @kpschoedel, @andy31415, @gjc13, @damian-nordic

Reduce iteration count for Darwin test for now. (#7649)
  .github/workflows/tests.yaml
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Bump Raspberry Pi Ubuntu Server version to 21.04 (#7650)
  docs/BUILDING.md
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Remove chip_stack_lock_tracking for Darwin since it has been added back by #7575 (#7637)
  src/platform/BUILD.gn
Owners: @mspang, @yufengwangca

.github/CODEOWNERS:

# Current reviewers-XXX teams, who review everything for approval.
* @reviewers-amazon @reviewers-apple @reviewers-comcast @reviewers-google @reviewers-nordic @reviewers-samsung @reviewers-silabs


# BUILD system

*.gn @mspang
/build/ @mspang
/scripts/build/ @mspang

# Crypto
# Crypto primitives and high level API, generally on top of mbedtls and openssl
/src/crypto/* @pan-apple @emargolis
/src/credentials/ @pan-apple @emargolis

# Transport
# Send and receive data abstracting away the underlying protocol (UDP, TCP, BLE)
/src/transport/ @andy31415 @pan-apple

# Session establishment
# Establish a secure session (encryption keys) from one node to another.
# Includes CASE and PASE + session tracking and resumptioon
/src/protocols/secure_channel/ @pan-apple

# Message Layer
# CRMP and packet headers, generally coupled with SecureSessionManager
/src/messaging @yufengwangca @kghost @bzbarksy-apple
/src/transport/raw/MessageHeader.* @yufengwangca @kghost @bzbarksy-apple

# SecureSessionManager
# Manages per-session encryption keys and new session establishment
/src/transport/SecureSessionMgr.* @pan-apple

# Exchange management
# Joins requests and responses or ties a series of messages belonging to the 
# same protocol interaction
/src/messaging/ @yufengwangca @bzbarsky-apple
/src/channel/ @yufengwangca @bzbarsky-apple

# DNS-SD discovery and advertisement
# Advertise chip devices for commisioning, operational and discover such devices
/src/lib/mdns/ @andy31415 @gjc13 @damian-nordic

# Commisioning controller/flow
# Example of a comisioning sequence
/src/controller/ @pan-apple @erjiaqing

# Operational credentials management
# Signing certificates, maintaining roots of trust, validation, fabric management
/src/controller/ @shana-apple @pan-apple
/src/transport/AdminPairingTable.* @shana-apple @pan-apple

# TLV encoding/decoding to/from byte buffers
/src/lib/core/CHIPTLV* @yunhanw-google @bzbarsky-apple @shana-apple

# Interaction model - ember implementation
# ZCL protocol implementation: ZCL encoding to be sent over the wire as a 
# ZigbeePro protocol implementation
/src/app/util/ @vivien-apple @erjianqing @bzbarsky-apple

# Interaction model - non-ember
# Protocol implementation for IM interactions between nodes, matching spec
/src/app/ @yunhanw-google @bzbarsky-apple @mrjerryjohns

# Interaction model - code generation
# CHIP-specific infrastructure for generating code: helper js methods, scripts
# and code layout
/src/app/zap-templates/ @vivien-apple @erjianqing

# ZAP suppport
# UI for editing XML, generates code from such ZML and configuration files
# NOT part of CHIP however CHIP relies heavily on ZAP.
#    @vivien-apple  @tecimovic

# 'Standard' cluster implementations (server side)
# Clusters shipped with the sdk, can be integrated as-is or used as a template
/src/app/clusters/ @vivien-apple

# Onboarding payload
# Parsing and generation of codes (includes QR and NFC), numeric pairing payload
/src/setup_payload/ @shana-apple @vivien-apple @jrhees-cae

# Device Layer
# Porting interfaces, scaffolding for building an example firmware
/src/platform/ @mspang @yufengwangca
/src/include/platform/ @mspang @yufengwangca

# Persistent storage
# Save state across reboots
/src/platform/*/KeyValueStore* @rgoliver

# Python bindings for CHIP - CLI
# Allows python code to use CHIP, generally targeted towards automation
/src/controller/python/ @andy31415 @erjianqing

# CHIP-tool C++ CLI
# Command line interface to chip as a client (controller and commisioner)
# Includes generated code for every base cluster
/examples/chip-tool/ @vivien-apple

# CHIP-tool iOS UI
/src/darwin/CHIPTool/ @shana-apple

# CHIP-tool Android
/src/android/CHIPTool/ @austinh0
/src/controller/java/ @austinh0

# End2End autogenerated tests
/src/darwin/Framework/Chip-templates/ @vivien-apple
/src/app/tests/suites/ @vivien-apple

# End2End cirque tests
# Simulate topology (cirque) and ptyhon-based test automation
/src/test_driver/linux/cirque/ @erjianqing @yunhanw-google

# Thread integration
# Thread-specific functionality (network provisioning, operational discovery, SRP registration etc.)
/src/platform/OpenThread/ @bukepo
/src/platform/*/ThreadStackmanagerImpl.* @bukepo

# Inet
# Networking abstraction layer (UDP-endpoint, TCP-endpoint, InetLayerBasis)
/src/inet/ @kpschoedel 

# System layer
/src/system/ @kpschoedel 

# BLE support
/src/ble/ @yunhanw-google

# CHIP Shell
# Command-line UART/stdin interface as a side-channel to CHIP accessories
# Aimed as user-friendly/manual control
/src/examples/shell/ @gjc13 @yufengwangca

# RPC
# Side-channlel command path (outside chip), generally for automation and debugging
# Aimed as "scriptable" when compared to shell
/examples/common/pigweed/ @rgoliver
/examples/pigweed-app/ @rgoliver

# Tooling for crypto manual generation
# Generates data for sample PKI
/src/tools/chip-cert/ @emargolis

# Channel API
# Construct a transport/secure session based on peer info and transport type.
# Focused on CASE session establishment
/src/channel/ @kghost

# Darwin framework
# Exposes a darwin API (Objective-C/swift rather than raw C++ API) for darwin
# applications
/src/darwin/Framework/ @shana-apple @vivien-apple @pan-apple
