Repository project-chip/connectedhomeip, changes with the owners that .github/CODEOWNERS names for each.
All owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @mspang, @pan-apple, @emargolis, @andy31415, @yufengwangca, @kghost, @bzbarksy-apple, @bzbarsky-apple, @gjc13, @damian-nordic, @erjiaqing, @shana-apple, @yunhanw-google, @vivien-apple, @erjianqing, @mrjerryjohns, @jrhees-cae, @rgoliver, @austinh0, @bukepo, @kpschoedel

.github/CODEOWNERS:

# Current reviewers-XXX teams, who review everything for approval.
* @reviewers-amazon @reviewers-apple @reviewers-comcast @reviewers-google @reviewers-nordic @reviewers-samsung @reviewers-silabs


# BUILD system

*.gn @mspang
/build/ @mspang
/scripts/build/ @mspang

# Crypto
# Crypto primitives and high level API, generally on top of mbedtls and openssl
/src/crypto/* @pan-apple @emargolis
/src/credentials/ @pan-apple @emargolis

# Transport
# Send and receive data abstracting away the underlying protocol (UDP, TCP, BLE)
/src/transport/ @andy31415 @pan-apple

# Session establishment
# Establish a secure session (encryption keys) from one node to another.
# Includes CASE and PASE + session tracking and resumptioon
/src/protocols/secure_channel/ @pan-apple

# Message Layer
# CRMP and packet headers, generally coupled with SecureSessionManager
/src/messaging @yufengwangca @kghost @bzbarksy-apple
/src/transport/raw/MessageHeader.* @yufengwangca @kghost @bzbarksy-apple

# SecureSessionManager
# Manages per-session encryption keys and new session establishment
/src/transport/SecureSessionMgr.* @pan-apple

# Exchange management
# Joins requests and responses or ties a series of messages belonging to the 
# same protocol interaction
/src/messaging/ @yufengwangca @bzbarsky-apple
/src/channel/ @yufengwangca @bzbarsky-apple

# DNS-SD discovery and advertisement
# Advertise chip devices for commisioning, operational and discover such devices
/src/lib/mdns/ @andy31415 @gjc13 @damian-nordic

# Commisioning controller/flow
# Example of a comisioning sequence
/src/controller/ @pan-apple @erjiaqing

# Operational credentials management
# Signing certificates, maintaining roots of trust, validation, fabric management
/src/controller/ @shana-apple @pan-apple
/src/transport/AdminPairingTable.* @shana-apple @pan-apple

# TLV encoding/decoding to/from byte buffers
/src/lib/core/CHIPTLV* @yunhanw-google @bzbarsky-apple @shana-apple

# Interaction model - ember implementation
# ZCL protocol implementation: ZCL encoding to be sent over the wire as a 
# ZigbeePro protocol implementation
/src/app/util/ @vivien-apple @erjianqing @bzbarsky-apple

# Interaction model - non-ember
# Protocol implementation for IM interactions between nodes, matching spec
/src/app/ @yunhanw-google @bzbarsky-apple @mrjerryjohns

# Interaction model - code generation
# CHIP-specific infrastructure for generating code: helper js methods, scripts
# and code layout
/src/app/zap-templates/ @vivien-apple @erjianqing

# ZAP suppport
# UI for editing XML, generates code from such ZML and configuration files
# NOT part of CHIP however CHIP relies heavily on ZAP.
#    @vivien-apple  @tecimovic

# 'Standard' cluster implementations (server side)
# Clusters shipped with the sdk, can be integrated as-is or used as a template
/src/app/clusters/ @vivien-apple

# Onboarding payload
# Parsing and generation of codes (includes QR and NFC), numeric pairing payload
/src/setup_payload/ @shana-apple @vivien-apple @jrhees-cae

# Device Layer
# Porting interfaces, scaffolding for building an example firmware
/src/platform/ @mspang @yufengwangca
/src/include/platform/ @mspang @yufengwangca

# Persistent storage
# Save state across reboots
/src/platform/*/KeyValueStore* @rgoliver

# Python bindings for CHIP - CLI
# Allows python code to use CHIP, generally targeted towards automation
/src/controller/python/ @andy31415 @erjianqing

# CHIP-tool C++ CLI
# Command line interface to chip as a client (controller and commisioner)
# Includes generated code for every base cluster
/examples/chip-tool/ @vivien-apple

# CHIP-tool iOS UI
/src/darwin/CHIPTool/ @shana-apple

# CHIP-tool Android
/src/android/CHIPTool/ @austinh0
/src/controller/java/ @austinh0

# End2End autogenerated tests
/src/darwin/Framework/Chip-templates/ @vivien-apple
/src/app/tests/suites/ @vivien-apple

# End2End cirque tests
# Simulate topology (cirque) and ptyhon-based test automation
/src/test_driver/linux/cirque/ @erjianqing @yunhanw-google

# Thread integration
# Thread-specific functionality (network provisioning, operational discovery, SRP registration etc.)
/src/platform/OpenThread/ @bukepo
/src/platform/*/ThreadStackmanagerImpl.* @bukepo

# Inet
# Networking abstraction layer (UDP-endpoint, TCP-endpoint, InetLayerBasis)
/src/inet/ @kpschoedel 

# System layer
/src/system/ @kpschoedel 

# BLE support
/src/ble/ @yunhanw-google

# CHIP Shell
# Command-line UART/stdin interface as a side-channel to CHIP accessories
# Aimed as user-friendly/manual control
/src/examples/shell/ @gjc13 @yufengwangca

# RPC
# Side-channlel command path (outside chip), generally for automation and debugging
# Aimed as "scriptable" when compared to shell
/examples/common/pigweed/ @rgoliver
/examples/pigweed-app/ @rgoliver

# Tooling for crypto manual generation
# Generates data for sample PKI
/src/tools/chip-cert/ @emargolis

# Channel API
# Construct a transport/secure session based on peer info and transport type.
# Focused on CASE session establishment
/src/channel/ @kghost

# Darwin framework
# Exposes a darwin API (Objective-C/swift rather than raw C++ API) for darwin
# applications
/src/darwin/Framework/ @shana-apple @vivien-apple @pan-apple

Address code-review comments
  src/controller/java/CHIPDeviceController-JNI.cpp
  src/controller/java/MdnsImpl.cpp
  src/controller/java/MdnsImpl.h
  src/controller/java/src/chip/devicecontroller/ChipDeviceController.java
  src/controller/java/src/chip/devicecontroller/ServiceResolver.java
Owners: @austinh0

Restyled by google-java-format
  src/controller/java/src/chip/devicecontroller/ServiceResolver.java
Owners: @austinh0

Make CHIP_ERROR a class type on ESP32 (#8469)
  examples/all-clusters-app/esp32/main/Button.cpp
  examples/all-clusters-app/esp32/main/main.cpp
  examples/lock-app/esp32/main/AppTask.cpp
  examples/lock-app/esp32/main/Button.cpp
  examples/lock-app/esp32/main/main.cpp
  examples/persistent-storage/esp32/main/main.cpp
  examples/temperature-measurement-app/esp32/main/main.cpp
  src/lib/shell/MainLoopESP32.cpp
  src/lib/shell/streamer_esp32.cpp
  src/platform/ESP32/CHIPPlatformConfig.h
  src/platform/ESP32/ConfigurationManagerImpl.cpp
  src/platform/ESP32/ConnectivityManagerImpl.cpp
  src/platform/ESP32/ESP32Config.cpp
  src/platform/ESP32/ESP32Utils.cpp
  src/platform/ESP32/ESP32Utils.h
  src/platform/ESP32/GroupKeyStoreImpl.cpp
  src/platform/ESP32/KeyValueStoreManagerImpl.cpp
  src/platform/ESP32/PlatformManagerImpl.cpp
  src/platform/ESP32/ScopedNvsHandle.h
  src/platform/ESP32/ServiceProvisioning.cpp
  src/platform/ESP32/bluedroid/BLEManagerImpl.cpp
  src/platform/ESP32/nimble/BLEManagerImpl.cpp
  src/test_driver/esp32/main/main_app.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @mspang, @yufengwangca, @rgoliver

Re-enable the TestCluster bits of the Tests job. (#8517)
  scripts/tests/test_suites.sh
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

[Darwin] Fix build warnings and make fields ReadOnly (#8520)
  src/darwin/Framework/CHIP/CHIPThreadOperationalDataset.h
Owners: @shana-apple, @vivien-apple, @pan-apple

Looks like the changes to other clusters didn't make it to the (#8523)
  src/app/clusters/thermostat-server/thermostat.cpp
Owners: @vivien-apple

Add a NodeId header and some NodeId utilities (#8465)
  examples/chip-tool/commands/pairing/PairingCommand.cpp
  examples/pump-app/pump-common/gen/encoder.cpp
  examples/pump-controller-app/pump-controller-common/gen/encoder.cpp
  src/app/util/CHIPDeviceCallbacksMgr.cpp
  src/app/util/CHIPDeviceCallbacksMgr.h
  src/app/util/basic-types.h
  src/app/zap-templates/templates/app/encoder-src.zapt
  src/controller/CHIPDeviceController.cpp
  src/controller/ExampleOperationalCredentialsIssuer.cpp
  src/controller/ExampleOperationalCredentialsIssuer.h
  src/controller/data_model/gen/encoder.cpp
  src/lib/core/BUILD.gn
  src/lib/core/NodeId.h
  src/lib/core/PeerId.h
  src/lib/support/CHIPArgParser.cpp
  src/lib/support/CHIPArgParser.hpp
  src/messaging/ExchangeContext.cpp
  src/messaging/tests/TestReliableMessageProtocol.cpp
  src/protocols/secure_channel/tests/TestCASESession.cpp
  src/protocols/secure_channel/tests/TestPASESession.cpp
  src/transport/SecureSessionHandle.h
Owners: @vivien-apple, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @yunhanw-google, @bzbarsky-apple, @mrjerryjohns, @erjianqing, @shana-apple, @pan-apple, @mspang, @yufengwangca, @andy31415

[Darwin] Set the Progress Log level to DEFAULT instead of INFO (#8530)
  src/platform/Darwin/Logging.cpp
Owners: @mspang, @yufengwangca

Change QR code payload setup to use C strings
  src/setup_payload/BUILD.gn
  src/setup_payload/Base38Decode.cpp
  src/setup_payload/Base38Decode.h
  src/setup_payload/Base38Encode.cpp
  src/setup_payload/Base38Encode.h
  src/setup_payload/QRCodeSetupPayloadGenerator.cpp
  src/setup_payload/QRCodeSetupPayloadGenerator.h
  src/setup_payload/QRCodeSetupPayloadParser.cpp
  src/setup_payload/SetupPayload.h
  src/setup_payload/tests/TestHelpers.h
  src/setup_payload/tests/TestQRCode.cpp
Owners: @shana-apple, @vivien-apple, @jrhees-cae

Fix unbounded stack in src/setup_payload (#3663)
  src/setup_payload/QRCodeSetupPayloadGenerator.cpp
Owners: @shana-apple, @vivien-apple, @jrhees-cae

Apply suggestions from code review
  src/lib/support/Span.h
  src/setup_payload/Base38.h
  src/setup_payload/Base38Decode.h
  src/setup_payload/Base38Encode.cpp
  src/setup_payload/Base38Encode.h
  src/setup_payload/QRCodeSetupPayloadGenerator.cpp
  src/setup_payload/QRCodeSetupPayloadGenerator.h
  src/setup_payload/SetupPayload.h
  src/setup_payload/tests/TestQRCode.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @shana-apple, @vivien-apple, @jrhees-cae

Restyled by clang-format
  src/setup_payload/QRCodeSetupPayloadGenerator.cpp
  src/setup_payload/QRCodeSetupPayloadGenerator.h
  src/setup_payload/tests/TestQRCode.cpp
Owners: @shana-apple, @vivien-apple, @jrhees-cae

Apply suggestions from code review
  src/credentials/CHIPCert.h
  src/credentials/CHIPOperationalCredentials.h
Owners: @pan-apple, @emargolis

address review comments
  src/transport/FabricTable.h
  src/transport/SecureSessionMgr.cpp
Owners: @andy31415, @pan-apple

Apply suggestions from code review
  src/lib/support/Span.h
  src/setup_payload/Base38.h
  src/setup_payload/Base38Decode.h
  src/setup_payload/Base38Encode.cpp
  src/setup_payload/Base38Encode.h
  src/setup_payload/QRCodeSetupPayloadGenerator.cpp
  src/setup_payload/QRCodeSetupPayloadGenerator.h
  src/setup_payload/SetupPayload.h
  src/setup_payload/tests/TestQRCode.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @shana-apple, @vivien-apple, @jrhees-cae

Restyled by clang-format
  src/setup_payload/Base38Encode.cpp
Owners: @shana-apple, @vivien-apple, @jrhees-cae

Add *.egg-info to .gitignore. (#8521)
  .gitignore
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Fixes for esp32 flashing_script (#8358)
  examples/all-clusters-app/esp32/CMakeLists.txt
  examples/all-clusters-app/esp32/README.md
  examples/common/cmake/idf_flashing.cmake
  examples/persistent-storage/esp32/CMakeLists.txt
  examples/persistent-storage/esp32/README.md
  examples/pigweed-app/esp32/CMakeLists.txt
  examples/pigweed-app/esp32/README.md
  examples/temperature-measurement-app/esp32/CMakeLists.txt
  examples/temperature-measurement-app/esp32/README.md
  scripts/examples/build-all-clusters-app.py
  scripts/flashing/esp32_firmware_utils.py
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @rgoliver

Force TCP server/listen socket to be asynchronous. (#8400)
  src/inet/TCPEndPoint.cpp
Owners: @kpschoedel

Update src/crypto/hsm/nxp/CHIPCryptoPALHsm_SE05X_P256.cpp
  src/crypto/hsm/nxp/CHIPCryptoPALHsm_SE05X_P256.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Update src/crypto/hsm/nxp/CHIPCryptoPALHsm_SE05X_P256.cpp
  src/crypto/hsm/nxp/CHIPCryptoPALHsm_SE05X_P256.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Update src/crypto/hsm/nxp/CHIPCryptoPALHsm_SE05X_P256.cpp
  src/crypto/hsm/nxp/CHIPCryptoPALHsm_SE05X_P256.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Update src/crypto/hsm/nxp/CHIPCryptoPALHsm_SE05X_P256.cpp
  src/crypto/hsm/nxp/CHIPCryptoPALHsm_SE05X_P256.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Implement User Directed Commissioning - Phase 2 (#8084)
  examples/lighting-app/linux/include/CHIPProjectAppConfig.h
  examples/platform/linux/AppMain.cpp
  examples/platform/linux/BUILD.gn
  examples/platform/linux/CommissioneeShellCommands.cpp
  examples/platform/linux/CommissioneeShellCommands.h
  examples/platform/linux/ControllerShellCommands.cpp
  examples/platform/linux/ControllerShellCommands.h
  examples/tv-app/tv-common/include/CHIPProjectAppConfig.h
  src/app/server/Mdns.cpp
  src/app/server/Server.cpp
  src/app/server/Server.h
  src/controller/CHIPDeviceController.cpp
  src/controller/CHIPDeviceController.h
  src/include/platform/CHIPDeviceConfig.h
  src/lib/shell/Commands.h
  src/protocols/BUILD.gn
  src/protocols/user_directed_commissioning/UDCClientState.h
  src/protocols/user_directed_commissioning/UDCClients.h
  src/protocols/user_directed_commissioning/UserDirectedCommissioning.h
  src/protocols/user_directed_commissioning/UserDirectedCommissioningClient.cpp
  src/protocols/user_directed_commissioning/UserDirectedCommissioningServer.cpp
  src/transport/raw/UDP.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @mspang, @yunhanw-google, @bzbarsky-apple, @mrjerryjohns, @shana-apple, @pan-apple, @yufengwangca, @andy31415

Use CASE in Android controller
  src/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/ChipClient.kt
  src/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/GenericChipDeviceListener.kt
  src/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/clusterclient/OnOffClientFragment.kt
  src/controller/java/AndroidDeviceControllerWrapper.cpp
  src/controller/java/AndroidDeviceControllerWrapper.h
  src/controller/java/BUILD.gn
  src/controller/java/CHIPDeviceController-JNI.cpp
  src/controller/java/src/chip/devicecontroller/ChipDeviceController.java
  src/controller/java/src/chip/devicecontroller/GetConnectedDeviceCallback.java
Owners: @austinh0

Remove one kind of Timer (#8488)
  src/platform/ESP32/BLEManagerImpl.h
  src/platform/ESP32/bluedroid/BLEManagerImpl.cpp
  src/platform/ESP32/nimble/BLEManagerImpl.cpp
  src/system/SystemLayer.cpp
  src/system/SystemLayer.h
  src/system/tests/TestSystemTimer.cpp
Owners: @mspang, @yufengwangca, @kpschoedel

[im] Add CommandHandlerAsyncHandle for commands that requires background processing
  examples/all-clusters-app/all-clusters-common/all-clusters-app.zap
  src/app/Command.h
  src/app/CommandHandler.cpp
  src/app/CommandHandler.h
  src/app/clusters/test-cluster-server/test-cluster-server.cpp
  src/app/tests/suites/TestCluster.yaml
  src/app/zap-templates/zcl/data-model/chip/test-cluster.xml
  src/controller/data_model/controller-clusters.zap
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @yunhanw-google, @bzbarsky-apple, @mrjerryjohns, @vivien-apple, @erjianqing, @shana-apple, @pan-apple

Run Codegen
  examples/all-clusters-app/all-clusters-common/gen/IMClusterCommandHandler.cpp
  examples/all-clusters-app/all-clusters-common/gen/endpoint_config.h
  examples/chip-tool/commands/clusters/Commands.h
  examples/chip-tool/commands/tests/Commands.h
  src/app/common/gen/callback.h
  src/app/common/gen/client-command-macro.h
  src/app/common/gen/command-id.h
  src/app/common/gen/ids/Commands.h
  src/controller/data_model/gen/CHIPClusters.cpp
  src/controller/data_model/gen/CHIPClusters.h
  src/controller/data_model/gen/chip-zcl-zpro-codec-api.h
  src/controller/data_model/gen/encoder.cpp
  src/controller/data_model/gen/endpoint_config.h
  src/controller/java/gen/CHIPClusters-JNI.cpp
  src/controller/java/gen/ChipClusters.java
  src/controller/python/chip/clusters/CHIPClusters.cpp
  src/controller/python/chip/clusters/CHIPClusters.py
  src/darwin/Framework/CHIP/gen/CHIPClustersObjc.h
  src/darwin/Framework/CHIP/gen/CHIPClustersObjc.mm
  src/darwin/Framework/CHIPTests/CHIPClustersTests.m
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @vivien-apple, @yunhanw-google, @bzbarsky-apple, @mrjerryjohns, @shana-apple, @pan-apple, @austinh0, @andy31415, @erjianqing

doc: nrfconnect: commissioning guide edits (#8475)
  docs/guides/nrfconnect_android_commissioning.md
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Fix build error due to undefined kAnyNodeId
  examples/platform/linux/AppMain.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Fix weird doxygen error
  src/controller/java/CHIPDeviceController-JNI.cpp
Owners: @austinh0

Address code-review comments
  src/controller/java/CHIPDeviceController-JNI.cpp
  src/controller/java/MdnsImpl.cpp
  src/controller/java/MdnsImpl.h
  src/controller/java/src/chip/devicecontroller/ChipDeviceController.java
  src/controller/java/src/chip/devicecontroller/ServiceResolver.java
Owners: @austinh0

Support node IDs > 2^63
  src/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/clusterclient/OnOffClientFragment.kt
  src/controller/java/CHIPDeviceController-JNI.cpp
Owners: @austinh0

[android] Use common DNS-SD code
  src/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/CHIPToolActivity.kt
  src/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/clusterclient/OnOffClientFragment.kt
  src/controller/java/BUILD.gn
  src/controller/java/CHIPDeviceController-JNI.cpp
  src/controller/java/MdnsImpl.cpp
  src/controller/java/MdnsImpl.h
  src/controller/java/src/chip/devicecontroller/ChipDeviceController.java
  src/controller/java/src/chip/devicecontroller/NsdManagerServiceResolver.java
  src/controller/java/src/chip/devicecontroller/ServiceResolver.java
  src/platform/BUILD.gn
  src/platform/device.gni
Owners: @austinh0, @mspang, @yufengwangca

Add TODO about interface ID
  src/controller/java/src/chip/devicecontroller/NsdManagerServiceResolver.java
Owners: @austinh0

Restyled by google-java-format
  src/controller/java/src/chip/devicecontroller/NsdManagerServiceResolver.java
Owners: @austinh0

Fix build error due to undefined kAnyNodeId (#8567)
  examples/platform/linux/AppMain.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Add support for commands with arguments to Darwin test framework.
  src/darwin/Framework/CHIP/templates/partials/test_cluster.zapt
Owners: @shana-apple, @vivien-apple, @pan-apple

Enable test for command with arguments
  src/app/tests/suites/TestCluster.yaml
Owners: @vivien-apple

Regenerate generated files
  examples/all-clusters-app/all-clusters-common/gen/IMClusterCommandHandler.cpp
  examples/all-clusters-app/all-clusters-common/gen/endpoint_config.h
  examples/chip-tool/commands/clusters/Commands.h
  examples/chip-tool/commands/tests/Commands.h
  src/app/common/gen/callback.h
  src/app/common/gen/client-command-macro.h
  src/app/common/gen/command-id.h
  src/app/common/gen/ids/Commands.h
  src/controller/data_model/gen/CHIPClientCallbacks.cpp
  src/controller/data_model/gen/CHIPClientCallbacks.h
  src/controller/data_model/gen/CHIPClusters.cpp
  src/controller/data_model/gen/CHIPClusters.h
  src/controller/data_model/gen/IMClusterCommandHandler.cpp
  src/controller/data_model/gen/chip-zcl-zpro-codec-api.h
  src/controller/data_model/gen/encoder.cpp
  src/controller/data_model/gen/endpoint_config.h
  src/controller/java/gen/CHIPClusters-JNI.cpp
  src/controller/java/gen/ChipClusters.java
  src/controller/python/chip/clusters/CHIPClusters.cpp
  src/controller/python/chip/clusters/CHIPClusters.py
  src/darwin/Framework/CHIP/gen/CHIPClustersObjc.h
  src/darwin/Framework/CHIP/gen/CHIPClustersObjc.mm
  src/darwin/Framework/CHIPTests/CHIPClustersTests.m
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @vivien-apple, @yunhanw-google, @bzbarsky-apple, @mrjerryjohns, @shana-apple, @pan-apple, @austinh0, @andy31415, @erjianqing
