Repository project-chip/connectedhomeip, changes with the owners that .github/CODEOWNERS names for each.
All owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @mspang, @pan-apple, @emargolis, @andy31415, @yufengwangca, @kghost, @bzbarksy-apple, @bzbarsky-apple, @gjc13, @damian-nordic, @erjiaqing, @shana-apple, @yunhanw-google, @vivien-apple, @erjianqing, @mrjerryjohns, @jrhees-cae, @rgoliver, @austinh0, @bukepo, @kpschoedel

move port config to Mdns and Server
  examples/platform/linux/AppMain.cpp
  src/app/server/Mdns.cpp
  src/app/server/Mdns.h
  src/app/server/Server.cpp
  src/app/server/Server.h
  src/include/platform/ConfigurationManager.h
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @yunhanw-google, @bzbarsky-apple, @mrjerryjohns, @mspang, @yufengwangca

Use fabric specifc credentials for CASE session setup
  src/channel/ChannelContext.cpp
  src/channel/ChannelContext.h
  src/controller/CHIPDevice.cpp
  src/controller/CHIPDevice.h
  src/controller/CHIPDeviceController.cpp
  src/controller/CHIPDeviceController.h
  src/credentials/CHIPCert.cpp
  src/credentials/CHIPCert.h
  src/protocols/secure_channel/CASEServer.cpp
  src/protocols/secure_channel/CASEServer.h
  src/protocols/secure_channel/CASESession.cpp
  src/protocols/secure_channel/CASESession.h
  src/protocols/secure_channel/tests/TestCASESession.cpp
  src/transport/FabricTable.cpp
  src/transport/FabricTable.h
Owners: @kghost, @shana-apple, @pan-apple, @emargolis, @andy31415

Fix test
  src/protocols/secure_channel/tests/TestCASESession.cpp
  src/transport/FabricTable.cpp
Owners: @pan-apple, @andy31415

add command line options for setting ports
  examples/platform/linux/AppMain.cpp
  examples/platform/linux/Options.cpp
  examples/platform/linux/Options.h
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Add DAC Provider setup to most examples (#9074)
  examples/all-clusters-app/esp32/main/main.cpp
  examples/bridge-app/esp32/main/main.cpp
  examples/bridge-app/linux/main.cpp
  examples/lighting-app/efr32/src/AppTask.cpp
  examples/lighting-app/k32w/main/AppTask.cpp
  examples/lighting-app/mbed/main/AppTask.cpp
  examples/lighting-app/nrfconnect/main/AppTask.cpp
  examples/lighting-app/qpg/src/AppTask.cpp
  examples/lighting-app/telink/src/AppTask.cpp
  examples/lock-app/cc13x2x7_26x2x7/main/AppTask.cpp
  examples/lock-app/efr32/src/AppTask.cpp
  examples/lock-app/esp32/main/main.cpp
  examples/lock-app/k32w/main/AppTask.cpp
  examples/lock-app/mbed/main/AppTask.cpp
  examples/lock-app/nrfconnect/main/AppTask.cpp
  examples/lock-app/p6/src/AppTask.cpp
  examples/lock-app/qpg/src/AppTask.cpp
  examples/platform/linux/AppMain.cpp
  examples/pump-app/cc13x2x7_26x2x7/main/AppTask.cpp
  examples/pump-app/nrfconnect/main/AppTask.cpp
  examples/pump-controller-app/cc13x2x7_26x2x7/main/AppTask.cpp
  examples/pump-controller-app/nrfconnect/main/AppTask.cpp
  examples/temperature-measurement-app/esp32/main/main.cpp
  examples/window-app/common/src/WindowApp.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Set response timeout value during echo SendMessage
  src/protocols/echo/EchoClient.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

update OTA clusters
  examples/all-clusters-app/all-clusters-common/gen/IMClusterCommandHandler.cpp
  examples/chip-tool/commands/clusters/Commands.h
  examples/thermostat/thermostat-common/gen/IMClusterCommandHandler.cpp
  examples/tv-app/tv-common/gen/IMClusterCommandHandler.cpp
  src/app/clusters/ota-provider/ota-provider-delegate.h
  src/app/clusters/ota-provider/ota-provider.cpp
  src/app/common/gen/callback.h
  src/app/common/gen/client-command-macro.h
  src/app/common/gen/enums.h
  src/app/zap-templates/zcl/data-model/chip/chip-ota.xml
  src/controller/data_model/gen/CHIPClientCallbacks.cpp
  src/controller/data_model/gen/CHIPClientCallbacks.h
  src/controller/data_model/gen/CHIPClusters.cpp
  src/controller/data_model/gen/CHIPClusters.h
  src/controller/data_model/gen/IMClusterCommandHandler.cpp
  src/controller/java/gen/CHIPClusters-JNI.cpp
  src/controller/java/gen/ChipClusters.java
  src/controller/python/chip/clusters/CHIPClusters.cpp
  src/controller/python/chip/clusters/CHIPClusters.py
  src/darwin/Framework/CHIP/gen/CHIPClustersObjc.h
  src/darwin/Framework/CHIP/gen/CHIPClustersObjc.mm
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @vivien-apple, @yunhanw-google, @bzbarsky-apple, @mrjerryjohns, @erjianqing, @shana-apple, @pan-apple, @austinh0, @andy31415

[CI]: Fix random segmentation fault during event handling (#9010)
  src/system/WatchableEventManagerSelect.cpp
Owners: @kpschoedel

Update src/system/SystemObject.h
  src/system/SystemObject.h
Owners: @kpschoedel

Support to use heap for pool for large systems
  src/inet/IPEndPointBasis.h
  src/inet/RawEndPoint.h
  src/inet/TCPEndPoint.h
  src/inet/UDPEndPoint.h
  src/inet/tests/TestInetEndPoint.cpp
  src/platform/Linux/SystemPlatformConfig.h
  src/system/SystemConfig.h
  src/system/SystemObject.cpp
  src/system/SystemObject.h
  src/system/tests/TestSystemObject.cpp
Owners: @kpschoedel, @mspang, @yufengwangca

fix Darwin test failures
  src/darwin/Framework/CHIP/CHIPOperationalCredentialsDelegate.h
  src/darwin/Framework/CHIP/CHIPOperationalCredentialsDelegate.mm
  src/transport/FabricTable.cpp
Owners: @shana-apple, @vivien-apple, @pan-apple, @andy31415

ZCLWrite should return "INVALID_VALUE" instead of success & truncation in case of invalid payloads. (#9039)
  examples/chip-tool/commands/tests/Commands.h
  src/app/tests/suites/TestCluster.yaml
  src/app/util/ember-compatibility-functions.cpp
  src/controller/python/BUILD.gn
  src/controller/python/chip/interaction_model/__init__.py
  src/controller/python/test/test_scripts/base.py
  src/darwin/Framework/CHIPTests/CHIPClustersTests.m
Owners: @vivien-apple, @yunhanw-google, @bzbarsky-apple, @mrjerryjohns, @andy31415, @erjianqing, @shana-apple, @pan-apple

Fix discovery issues with minimal mDNS
  examples/chip-tool/commands/pairing/PairingCommand.cpp
  src/lib/mdns/Resolver_ImplMinimalMdns.cpp
Owners: @vivien-apple, @andy31415, @gjc13, @damian-nordic

Create Java abstraction ChipMdnsCallback, and pass it as an argument in ServiceResolver.
  src/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/CHIPToolActivity.kt
  src/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/ChipClient.kt
  src/controller/java/BUILD.gn
  src/controller/java/CHIPDeviceController-JNI.cpp
  src/controller/java/CHIPMdnsCallbackImpl-JNI.cpp
  src/controller/java/MdnsImpl.cpp
  src/controller/java/MdnsImpl.h
  src/controller/java/src/chip/devicecontroller/ChipDeviceController.java
  src/controller/java/src/chip/devicecontroller/mdns/ChipMdnsCallback.java
  src/controller/java/src/chip/devicecontroller/mdns/ChipMdnsCallbackImpl.java
  src/controller/java/src/chip/devicecontroller/mdns/NsdManagerServiceResolver.java
  src/controller/java/src/chip/devicecontroller/mdns/ServiceResolver.java
Owners: @austinh0

Restyled by prettier-json
  src/test_driver/linux-cirque/topologies/three_node_with_ipvlan.json
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Fake platform for tests. (#8946)
  BUILD.gn
  src/BUILD.gn
  src/lib/mdns/platform/tests/BUILD.gn
  src/lib/mdns/platform/tests/TestPlatform.cpp
  src/platform/BUILD.gn
  src/platform/device.gni
  src/platform/fake/BUILD.gn
  src/platform/fake/CHIPDevicePlatformEvent.h
  src/platform/fake/ConfigurationManagerImpl.cpp
  src/platform/fake/ConfigurationManagerImpl.h
  src/platform/fake/ConnectivityManagerImpl.cpp
  src/platform/fake/ConnectivityManagerImpl.h
  src/platform/fake/KeyValueStoreManagerImpl.cpp
  src/platform/fake/KeyValueStoreManagerImpl.h
  src/platform/fake/MdnsImpl.cpp
  src/platform/fake/PlatformManagerImpl.cpp
  src/platform/fake/PlatformManagerImpl.h
  src/platform/tests/BUILD.gn
Owners: @mspang, @andy31415, @gjc13, @damian-nordic, @yufengwangca, @rgoliver

Restyled by clang-format
  src/app/clusters/group-key-mgmt-server/group-key-mgmt-server.cpp
Owners: @vivien-apple

[TV app] Store string attributes as ZCL strings (#8325)
  examples/bridge-app/linux/main.cpp
  examples/chip-tool/commands/tests/Commands.h
  examples/chip-tool/templates/tests-commands.zapt
  examples/tv-app/linux/BUILD.gn
  examples/tv-app/linux/include/application-basic/ApplicationBasicManager.cpp
  examples/tv-app/linux/include/cluster-init.cpp
  examples/tv-app/linux/include/wake-on-lan/WakeOnLanManager.cpp
  examples/tv-app/tv-common/tv-app.zap
  src/app/clusters/basic/basic.cpp
  src/app/tests/suites/TV_WakeOnLanCluster.yaml
  src/lib/support/BUILD.gn
  src/lib/support/ZclString.cpp
  src/lib/support/ZclString.h
  src/lib/support/tests/BUILD.gn
  src/lib/support/tests/TestZclString.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @vivien-apple, @mspang

Group Key Management cluster: Server commands added.
  examples/all-clusters-app/all-clusters-common/all-clusters-app.zap
  examples/all-clusters-app/esp32/main/CMakeLists.txt
  examples/chip-tool/templates/tests-commands.zapt
  src/app/clusters/group-key-mgmt-server/group-key-mgmt-server.cpp
  src/app/tests/suites/GroupKeyManagementCluster.yaml
  src/app/util/debug-printing-test.h
  src/app/util/debug-printing.h
  src/app/zap-templates/zcl/data-model/chip/group-key-mgmt-cluster.xml
  src/app/zap_cluster_list.py
  src/controller/data_model/controller-clusters.zap
  src/darwin/Framework/CHIP/templates/clusters-tests.zapt
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @vivien-apple, @yunhanw-google, @bzbarsky-apple, @mrjerryjohns, @erjianqing, @shana-apple, @pan-apple

Group Key Management cluster: Code auto-generated.
  examples/all-clusters-app/all-clusters-common/gen/IMClusterCommandHandler.cpp
  examples/all-clusters-app/all-clusters-common/gen/attribute-size.cpp
  examples/all-clusters-app/all-clusters-common/gen/endpoint_config.h
  examples/chip-tool/commands/clusters/Commands.h
  examples/chip-tool/commands/tests/Commands.h
  examples/thermostat/thermostat-common/gen/attribute-size.cpp
  examples/thermostat/thermostat-common/gen/callback-stub.cpp
  examples/thermostat/thermostat-common/gen/endpoint_config.h
  examples/thermostat/thermostat-common/gen/gen_config.h
  examples/tv-app/tv-common/gen/attribute-size.cpp
  examples/tv-app/tv-common/gen/callback-stub.cpp
  examples/tv-app/tv-common/gen/endpoint_config.h
  examples/tv-app/tv-common/gen/gen_config.h
  src/app/common/gen/af-structs.h
  src/app/common/gen/attribute-id.h
  src/app/common/gen/attributes/Accessors.cpp
  src/app/common/gen/attributes/Accessors.h
  src/app/common/gen/callback.h
  src/app/common/gen/client-command-macro.h
  src/app/common/gen/cluster-id.h
  src/app/common/gen/command-id.h
  src/app/common/gen/ids/Attributes.h
  src/app/common/gen/ids/Clusters.h
  src/app/common/gen/ids/Commands.h
  src/app/common/gen/print-cluster.h
  src/controller/data_model/gen/CHIPClientCallbacks.cpp
  src/controller/data_model/gen/CHIPClusters.cpp
  src/controller/data_model/gen/CHIPClusters.h
  src/controller/data_model/gen/endpoint_config.h
  src/controller/java/gen/CHIPClusters-JNI.cpp
  src/controller/java/gen/ChipClusters.java
  src/controller/python/chip/clusters/CHIPClusters.cpp
  src/controller/python/chip/clusters/CHIPClusters.py
  src/darwin/Framework/CHIP/gen/CHIPClustersObjc.h
  src/darwin/Framework/CHIP/gen/CHIPClustersObjc.mm
  src/darwin/Framework/CHIPTests/CHIPClustersTests.m
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @vivien-apple, @yunhanw-google, @bzbarsky-apple, @mrjerryjohns, @shana-apple, @pan-apple, @austinh0, @andy31415, @erjianqing

Start creating a zzz_generated folder
  zzz_generated/README.md
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Allow output folder argument in zap generation python script. Verified that regenall was a noop
  scripts/tools/zap/generate.py
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

dns-sd: Add platform impl tests.
  src/lib/mdns/platform/tests/TestPlatform.cpp
  src/platform/fake/MdnsImpl.cpp
  src/platform/fake/MdnsImpl.h
Owners: @andy31415, @gjc13, @damian-nordic, @mspang, @yufengwangca

Vscode tasks use build examples py (#9052)
  .vscode/tasks.json
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Rename gen to zap-generated in includes
  examples/bridge-app/linux/include/Device.h
  examples/chip-tool/commands/clusters/Commands.h
  examples/chip-tool/commands/pairing/PairingCommand.h
  examples/chip-tool/commands/reporting/ReportingCommand.cpp
  src/app/clusters/scenes-client/scenes-client.cpp
  src/app/util/DataModelHandler.cpp
  src/app/util/af-event.cpp
  src/app/util/attribute-storage.h
  src/app/util/types_stub.h
  src/controller/data_model/gen/CHIPClientCallbacks.cpp
  src/controller/java/gen/CHIPClusters-JNI.cpp
  src/controller/python/chip/clusters/CHIPClusters.cpp
  src/darwin/Framework/CHIP/CHIPDeviceController.mm
  src/darwin/Framework/CHIP/gen/CHIPClustersObjc.mm
  zzz_generated/pump-app/zap-generated/CHIPClientCallbacks.cpp
  zzz_generated/pump-controller-app/zap-generated/CHIPClientCallbacks.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @vivien-apple, @yunhanw-google, @bzbarsky-apple, @mrjerryjohns, @shana-apple, @pan-apple, @austinh0, @andy31415, @erjianqing

More generated path renaming
  src/app/util/binding-table.cpp
  src/app/util/ember-compatibility-functions.cpp
  src/controller/data_model/gen/CHIPClusters.cpp
  src/controller/java/CHIPDeviceController-JNI.cpp
  zzz_generated/pump-app/zap-generated/CHIPClusters.cpp
  zzz_generated/pump-controller-app/zap-generated/CHIPClusters.cpp
Owners: @yunhanw-google, @bzbarsky-apple, @mrjerryjohns, @shana-apple, @pan-apple, @austinh0, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

update the cluster template generation to use the new zap-generated name
  src/app/zap-templates/templates/app/CHIPClusters-src.zapt
Owners: @vivien-apple, @erjianqing

Use templated foreach function to safely execute operation on each object
  src/inet/InetLayer.cpp
  src/system/SystemObject.cpp
  src/system/SystemObject.h
  src/system/SystemTimer.h
  src/system/tests/TestSystemObject.cpp
Owners: @kpschoedel

Rename more zap generated files
  examples/chip-tool/commands/clusters/Commands.h
  scripts/tools/zap/generate.py
  src/controller/data_model/zap-generated/CHIPClientCallbacks.cpp
  src/controller/data_model/zap-generated/CHIPClientCallbacks.h
  src/controller/data_model/zap-generated/CHIPClusters.cpp
  src/controller/data_model/zap-generated/CHIPClusters.h
  src/controller/data_model/zap-generated/IMClusterCommandHandler.cpp
  src/controller/data_model/zap-generated/af-gen-event.h
  src/controller/data_model/zap-generated/attribute-size.cpp
  src/controller/data_model/zap-generated/callback-stub.cpp
  src/controller/data_model/zap-generated/endpoint_config.h
  src/controller/data_model/zap-generated/gen_config.h
  src/controller/data_model/zap-generated/gen_tokens.h
  src/controller/java/gen/CHIPClusters-JNI.cpp
  src/controller/python/chip/clusters/CHIPClusters.cpp
  src/darwin/Framework/CHIP/gen/CHIPClustersObjc.mm
  zzz_generated/pump-app/zap-generated/CHIPClientCallbacks.cpp
  zzz_generated/pump-app/zap-generated/CHIPClusters.cpp
  zzz_generated/pump-controller-app/zap-generated/CHIPClientCallbacks.cpp
  zzz_generated/pump-controller-app/zap-generated/CHIPClusters.cpp
Owners: @vivien-apple, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @shana-apple, @pan-apple, @austinh0, @andy31415, @erjianqing

add new cirque topology json file (#9048)
  src/test_driver/linux-cirque/topologies/one_node_one_android.json
  src/test_driver/linux-cirque/topologies/three_node_with_ipvlan.json
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Address review comments
  src/channel/ChannelContext.cpp
  src/controller/CHIPDevice.cpp
  src/controller/CHIPDevice.h
  src/crypto/CHIPCryptoPAL.h
  src/protocols/secure_channel/CASESession.cpp
  src/protocols/secure_channel/CASESession.h
  src/protocols/secure_channel/tests/TestCASESession.cpp
  src/transport/FabricTable.cpp
Owners: @kghost, @shana-apple, @pan-apple, @emargolis, @andy31415

more renames and zapt updates. Fix build rule dependency
  examples/all-clusters-app/all-clusters-common/BUILD.gn
  examples/bridge-app/bridge-common/BUILD.gn
  examples/chip-tool/commands/clusters/Commands.h
  examples/chip-tool/templates/commands.zapt
  examples/lock-app/lock-common/BUILD.gn
  examples/pump-app/pump-common/BUILD.gn
  examples/pump-controller-app/pump-controller-common/BUILD.gn
  examples/thermostat/thermostat-common/BUILD.gn
  examples/tv-app/tv-common/BUILD.gn
  examples/window-app/common/BUILD.gn
  src/app/chip_data_model.gni
  src/app/zap-templates/templates/app/CHIPClientCallbacks-src.zapt
  src/controller/CHIPDevice.cpp
  src/controller/CHIPDevice.h
  src/controller/CHIPDeviceController.cpp
  src/controller/CHIPDeviceController.h
  src/controller/data_model/BUILD.gn
  src/controller/data_model/zap-generated/CHIPClientCallbacks.cpp
  src/controller/java/gen/CHIPClusters-JNI.cpp
  src/controller/java/templates/CHIPClusters-JNI.zapt
  src/controller/python/chip/clusters/CHIPClusters.cpp
  src/controller/python/templates/python-CHIPClusters-cpp.zapt
  src/darwin/Framework/CHIP.xcodeproj/project.pbxproj
  src/darwin/Framework/CHIP/gen/CHIPClustersObjc.mm
  src/darwin/Framework/CHIP/templates/CHIPClustersObjc-src.zapt
  zzz_generated/pump-app/zap-generated/CHIPClientCallbacks.cpp
  zzz_generated/pump-controller-app/zap-generated/CHIPClientCallbacks.cpp
Owners: @mspang, @vivien-apple, @yunhanw-google, @bzbarsky-apple, @mrjerryjohns, @erjianqing, @shana-apple, @pan-apple, @austinh0, @andy31415, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Add config dependency on data model: only need include paths
  src/app/chip_data_model.gni
Owners: @yunhanw-google, @bzbarsky-apple, @mrjerryjohns

cleanup naming of CM/AC options
  examples/platform/linux/CommissioneeShellCommands.cpp
  src/app/server/Mdns.cpp
  src/app/server/Mdns.h
  src/app/server/RendezvousServer.cpp
  src/app/server/Server.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @yunhanw-google, @bzbarsky-apple, @mrjerryjohns

Fix include order. Lighting app on linux compiles
  src/app/chip_data_model.gni
Owners: @yunhanw-google, @bzbarsky-apple, @mrjerryjohns

Add TODO regarding config path ordering
  src/app/chip_data_model.gni
Owners: @yunhanw-google, @bzbarsky-apple, @mrjerryjohns

Add ChipMdnsShutdown()
  src/controller/java/MdnsImpl.cpp
  src/lib/mdns/platform/Mdns.h
  src/platform/Darwin/MdnsImpl.cpp
  src/platform/ESP32/MdnsImpl.cpp
  src/platform/Linux/MdnsImpl.cpp
  src/platform/Linux/MdnsImpl.h
  src/platform/OpenThread/MdnsImpl.cpp
  src/platform/tests/TestMdns.cpp
Owners: @austinh0, @andy31415, @gjc13, @damian-nordic, @mspang, @yufengwangca, @bukepo

fix builds without MDNS
  src/app/server/Server.cpp
Owners: @yunhanw-google, @bzbarsky-apple, @mrjerryjohns

Prepare example generated files: nrf builds compile
  examples/all-clusters-app/all-clusters-common/BUILD.gn
  examples/bridge-app/bridge-common/BUILD.gn
  examples/lighting-app/mbed/CMakeLists.txt
  examples/lighting-app/nrfconnect/CMakeLists.txt
  examples/lock-app/lock-common/BUILD.gn
  examples/pump-app/pump-common/BUILD.gn
  examples/pump-controller-app/pump-controller-common/BUILD.gn
  examples/thermostat/thermostat-common/BUILD.gn
  examples/tv-app/tv-common/BUILD.gn
  examples/window-app/common/BUILD.gn
Owners: @mspang, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Make lock app compile on nrf with the new directory structure
  examples/lock-app/nrfconnect/CMakeLists.txt
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

.github/CODEOWNERS:

# Current reviewers-XXX teams, who review everything for approval.
* @reviewers-amazon @reviewers-apple @reviewers-comcast @reviewers-google @reviewers-nordic @reviewers-samsung @reviewers-silabs


# BUILD system

*.gn @mspang
/build/ @mspang
/scripts/build/ @mspang

# Crypto
# Crypto primitives and high level API, generally on top of mbedtls and openssl
/src/crypto/* @pan-apple @emargolis
/src/credentials/ @pan-apple @emargolis

# Transport
# Send and receive data abstracting away the underlying protocol (UDP, TCP, BLE)
/src/transport/ @andy31415 @pan-apple

# Session establishment
# Establish a secure session (encryption keys) from one node to another.
# Includes CASE and PASE + session tracking and resumptioon
/src/protocols/secure_channel/ @pan-apple

# Message Layer
# CRMP and packet headers, generally coupled with SecureSessionManager
/src/messaging @yufengwangca @kghost @bzbarksy-apple
/src/transport/raw/MessageHeader.* @yufengwangca @kghost @bzbarksy-apple

# SecureSessionManager
# Manages per-session encryption keys and new session establishment
/src/transport/SecureSessionMgr.* @pan-apple

# Exchange management
# Joins requests and responses or ties a series of messages belonging to the 
# same protocol interaction
/src/messaging/ @yufengwangca @bzbarsky-apple
/src/channel/ @yufengwangca @bzbarsky-apple

# DNS-SD discovery and advertisement
# Advertise chip devices for commisioning, operational and discover such devices
/src/lib/mdns/ @andy31415 @gjc13 @damian-nordic

# Commisioning controller/flow
# Example of a comisioning sequence
/src/controller/ @pan-apple @erjiaqing

# Operational credentials management
# Signing certificates, maintaining roots of trust, validation, fabric management
/src/controller/ @shana-apple @pan-apple
/src/transport/AdminPairingTable.* @shana-apple @pan-apple

# TLV encoding/decoding to/from byte buffers
/src/lib/core/CHIPTLV* @yunhanw-google @bzbarsky-apple @shana-apple

# Interaction model - ember implementation
# ZCL protocol implementation: ZCL encoding to be sent over the wire as a 
# ZigbeePro protocol implementation
/src/app/util/ @vivien-apple @erjianqing @bzbarsky-apple

# Interaction model - non-ember
# Protocol implementation for IM interactions between nodes, matching spec
/src/app/ @yunhanw-google @bzbarsky-apple @mrjerryjohns

# Interaction model - code generation
# CHIP-specific infrastructure for generating code: helper js methods, scripts
# and code layout
/src/app/zap-templates/ @vivien-apple @erjianqing

# ZAP suppport
# UI for editing XML, generates code from such ZML and configuration files
# NOT part of CHIP however CHIP relies heavily on ZAP.
#    @vivien-apple  @tecimovic

# 'Standard' cluster implementations (server side)
# Clusters shipped with the sdk, can be integrated as-is or used as a template
/src/app/clusters/ @vivien-apple

# Onboarding payload
# Parsing and generation of codes (includes QR and NFC), numeric pairing payload
/src/setup_payload/ @shana-apple @vivien-apple @jrhees-cae

# Device Layer
# Porting interfaces, scaffolding for building an example firmware
/src/platform/ @mspang @yufengwangca
/src/include/platform/ @mspang @yufengwangca

# Persistent storage
# Save state across reboots
/src/platform/*/KeyValueStore* @rgoliver

# Python bindings for CHIP - CLI
# Allows python code to use CHIP, generally targeted towards automation
/src/controller/python/ @andy31415 @erjianqing

# CHIP-tool C++ CLI
# Command line interface to chip as a client (controller and commisioner)
# Includes generated code for every base cluster
/examples/chip-tool/ @vivien-apple

# CHIP-tool iOS UI
/src/darwin/CHIPTool/ @shana-apple

# CHIP-tool Android
/src/android/CHIPTool/ @austinh0
/src/controller/java/ @austinh0

# End2End autogenerated tests
/src/darwin/Framework/Chip-templates/ @vivien-apple
/src/app/tests/suites/ @vivien-apple

# End2End cirque tests
# Simulate topology (cirque) and ptyhon-based test automation
/src/test_driver/linux/cirque/ @erjianqing @yunhanw-google

# Thread integration
# Thread-specific functionality (network provisioning, operational discovery, SRP registration etc.)
/src/platform/OpenThread/ @bukepo
/src/platform/*/ThreadStackmanagerImpl.* @bukepo

# Inet
# Networking abstraction layer (UDP-endpoint, TCP-endpoint, InetLayerBasis)
/src/inet/ @kpschoedel 

# System layer
/src/system/ @kpschoedel 

# BLE support
/src/ble/ @yunhanw-google

# CHIP Shell
# Command-line UART/stdin interface as a side-channel to CHIP accessories
# Aimed as user-friendly/manual control
/src/examples/shell/ @gjc13 @yufengwangca

# RPC
# Side-channlel command path (outside chip), generally for automation and debugging
# Aimed as "scriptable" when compared to shell
/examples/common/pigweed/ @rgoliver
/examples/pigweed-app/ @rgoliver

# Tooling for crypto manual generation
# Generates data for sample PKI
/src/tools/chip-cert/ @emargolis

# Channel API
# Construct a transport/secure session based on peer info and transport type.
# Focused on CASE session establishment
/src/channel/ @kghost

# Darwin framework
# Exposes a darwin API (Objective-C/swift rather than raw C++ API) for darwin
# applications
/src/darwin/Framework/ @shana-apple @vivien-apple @pan-apple
