Repository project-chip/connectedhomeip, changes with the owners that .github/CODEOWNERS names for each.
All owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @mspang, @pan-apple, @emargolis, @andy31415, @yufengwangca, @kghost, @bzbarksy-apple, @bzbarsky-apple, @gjc13, @damian-nordic, @erjiaqing, @shana-apple, @yunhanw-google, @vivien-apple, @erjianqing, @mrjerryjohns, @jrhees-cae, @rgoliver, @austinh0, @bukepo, @kpschoedel

Test file for color loop
  examples/chip-tool/templates/tests-commands.zapt
  src/app/tests/suites/certification/Test_TC_CC.yaml
  src/darwin/Framework/CHIP/templates/clusters-tests.zapt
Owners: @vivien-apple, @shana-apple, @pan-apple

Zap generated files to enable zclread for color loop StartEnhancedHue and StoredEnhancedHue attributes
  examples/chip-tool/commands/clusters/Commands.h
  src/controller/data_model/controller-clusters.zap
  src/controller/data_model/gen/CHIPClusters.cpp
  src/controller/data_model/gen/CHIPClusters.h
  src/controller/java/gen/CHIPClusters-JNI.cpp
  src/controller/java/gen/ChipClusters.java
  src/controller/python/chip/clusters/CHIPClusters.cpp
  src/controller/python/chip/clusters/CHIPClusters.py
  src/darwin/Framework/CHIP/gen/CHIPClustersObjc.h
  src/darwin/Framework/CHIP/gen/CHIPClustersObjc.mm
  src/darwin/Framework/CHIPTests/CHIPClustersTests.m
Owners: @vivien-apple, @shana-apple, @pan-apple, @austinh0, @andy31415, @erjianqing

PR requested changes - Use of Accessors functions - Removed enums
  src/app/clusters/color-control-server/color-control-server.cpp
Owners: @vivien-apple

Restyled by clang-format
  src/app/clusters/color-control-server/color-control-server.cpp
Owners: @vivien-apple

Restyled by whitespace
  src/app/clusters/color-control-server/color-control-server.cpp
Owners: @vivien-apple

Generated test files
  examples/chip-tool/commands/tests/Commands.h
  src/darwin/Framework/CHIPTests/CHIPClustersTests.m
Owners: @vivien-apple, @shana-apple, @pan-apple

Add c++shared to the android jni libs (required to run chiptool)
  scripts/build/builders/android.py
Owners: @mspang

Update unit test for build example build script
  scripts/build/expected_all_platform_commands.txt
Owners: @mspang

Restyled by autopep8
  scripts/build/builders/android.py
Owners: @mspang

Apply restyler on android.py
  scripts/build/builders/android.py
Owners: @mspang

Add telink support for script/build/build_examples.py
  scripts/build/build/factory.py
  scripts/build/build/targets.py
  scripts/build/builders/telink.py
Owners: @mspang

Fix remarks after PR review
  scripts/build/builders/telink.py
  scripts/build/expected_all_platform_commands.txt
Owners: @mspang

Fixes after rebase
  scripts/build/build/targets.py
  scripts/build/builders/telink.py
Owners: @mspang

Fix restyle issues in scripts/build/build/factory.py
  scripts/build/build/factory.py
Owners: @mspang

Fix restyle issues in scripts/build/builders/android.py
  scripts/build/builders/android.py
Owners: @mspang

make dockerfile for infineon build
  integrations/docker/images/chip-build-infineon/Dockerfile
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

remove empty newline
  integrations/docker/images/chip-build-infineon/Dockerfile
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

make dockerfile for infineon build (#8999)
  integrations/docker/images/chip-build-infineon/Dockerfile
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Fix symlink in test_driver/efr32
  src/test_driver/efr32/third_party/connectedhomeip
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Properly set CASE salt span sizes and CASE cleanups (#8929)
  src/lib/core/CHIPTLV.h
  src/lib/core/CHIPTLVReader.cpp
  src/protocols/secure_channel/CASESession.cpp
  src/protocols/secure_channel/CASESession.h
Owners: @yunhanw-google, @bzbarsky-apple, @shana-apple, @pan-apple

Restyled by whitespace
  src/app/tests/suites/TestUtil.yaml
Owners: @vivien-apple

Restyled by prettier-yaml
  src/app/tests/suites/TestUtil.yaml
Owners: @vivien-apple

Modify expected_all_platform_commands.txt to make unit tests pass
  scripts/build/expected_all_platform_commands.txt
Owners: @mspang

Restyled by autopep8
  scripts/build/builders/telink.py
Owners: @mspang

Increase the timeout for EFR32 examples
  .github/workflows/examples-efr32.yaml
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

PR requested changes - Updated test file name - Add explanation for disabled tests - Added test case for start Enhanced hue - Fix for time update when the color loop is running
  examples/all-clusters-app/all-clusters-common/all-clusters-app.zap
  examples/chip-tool/templates/tests-commands.zapt
  src/app/clusters/color-control-server/color-control-server.cpp
  src/app/tests/suites/certification/Test_TC_CC.yaml
  src/app/tests/suites/certification/Test_TC_CC_8.yaml
  src/darwin/Framework/CHIP/templates/clusters-tests.zapt
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @vivien-apple, @shana-apple, @pan-apple

ZAP generated files
  examples/all-clusters-app/all-clusters-common/gen/endpoint_config.h
  examples/chip-tool/commands/tests/Commands.h
  src/darwin/Framework/CHIPTests/CHIPClustersTests.m
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @vivien-apple, @shana-apple, @pan-apple

Restyled by prettier-yaml
  src/app/tests/suites/certification/Test_TC_CC_8.yaml
Owners: @vivien-apple

Color loop function implementation
  src/app/clusters/color-control-server/color-control-server.cpp
Owners: @vivien-apple

PR requested changes - Use of Accessors functions - Removed enums
  src/app/clusters/color-control-server/color-control-server.cpp
Owners: @vivien-apple

Min/Max check added for color temp variations
  src/app/clusters/color-control-server/color-control-server.cpp
Owners: @vivien-apple

Restyled by whitespace
  src/app/clusters/color-control-server/color-control-server.cpp
Owners: @vivien-apple

Restyled by clang-format
  src/app/clusters/color-control-server/color-control-server.cpp
Owners: @vivien-apple

Increase the timeout for EFR32 examples (#9002)
  .github/workflows/examples-efr32.yaml
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

[Darwin] - Remove some warnings (#8981)
  src/app/MessageDef/WriteRequest.h
  src/app/ReadClient.h
  src/app/common/gen/callback.h
  src/app/zap-templates/templates/app/callback.zapt
  src/credentials/CHIPCert.h
  src/crypto/CHIPCryptoPAL.h
  src/darwin/CHIPTool/CHIPTool/Framework Helpers/DefaultsUtils.m
  src/darwin/CHIPTool/CHIPTool/View Controllers/Fabric/FabricUIViewController.m
  src/darwin/CHIPTool/CHIPTool/View Controllers/QRCode/QRCodeViewController.m
Owners: @yunhanw-google, @bzbarsky-apple, @mrjerryjohns, @vivien-apple, @erjianqing, @pan-apple, @emargolis, @shana-apple

Use chip::ByteSpan for CHAR_STRING and update the tree accordingly
  examples/chip-tool/commands/pairing/PairingCommand.cpp
  examples/chip-tool/commands/pairing/PairingCommand.h
  examples/chip-tool/templates/commands.zapt
  examples/tv-app/linux/include/audio-output/AudioOutputManager.cpp
  examples/tv-app/linux/include/content-launcher/ContentLauncherManager.cpp
  src/app/clusters/account-login-server/account-login-server.cpp
  src/app/clusters/application-launcher-server/application-launcher-server.cpp
  src/app/clusters/audio-output-server/audio-output-server.cpp
  src/app/clusters/door-lock-server/door-lock-server-user.cpp
  src/app/clusters/general-commissioning-server/general-commissioning-server.cpp
  src/app/clusters/groups-server/groups-server.cpp
  src/app/clusters/groups-server/groups-server.h
  src/app/clusters/media-input-server/media-input-server.cpp
  src/app/clusters/operational-credentials-server/operational-credentials-server.cpp
  src/app/clusters/ota-provider/ota-provider.cpp
  src/app/clusters/scenes/scenes.cpp
  src/app/clusters/scenes/scenes.h
  src/app/clusters/target-navigator-server/target-navigator-server.cpp
  src/app/clusters/tv-channel-server/tv-channel-server.cpp
  src/app/zap-templates/common/override.js
  src/app/zap-templates/partials/im_command_handler_cluster_commands.zapt
  src/app/zap-templates/templates/app/CHIPClientCallbacks-src.zapt
  src/app/zap-templates/templates/app/helper.js
  src/app/zap-templates/zcl/data-model/chip/audio-output-cluster.xml
  src/app/zap-templates/zcl/data-model/chip/fixed-label-cluster.xml
  src/app/zap-templates/zcl/data-model/chip/general-diagnostics-cluster.xml
  src/app/zap-templates/zcl/data-model/chip/media-input-cluster.xml
  src/app/zap-templates/zcl/data-model/chip/operational-credentials-cluster.xml
  src/app/zap-templates/zcl/data-model/chip/software-diagnostics-cluster.xml
  src/app/zap-templates/zcl/data-model/chip/target-navigator-cluster.xml
  src/app/zap-templates/zcl/data-model/chip/tv-channel-cluster.xml
  src/controller/java/CHIPDeviceController-JNI.cpp
  src/controller/java/templates/CHIPClusters-JNI.zapt
  src/controller/java/templates/ChipClusters-java.zapt
  src/darwin/Framework/CHIP/templates/CHIPClustersObjc-src.zapt
  src/transport/FabricTable.cpp
  src/transport/FabricTable.h
Owners: @vivien-apple, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @erjianqing, @austinh0, @shana-apple, @pan-apple, @andy31415

Updage gen/ folders
  examples/all-clusters-app/all-clusters-common/gen/IMClusterCommandHandler.cpp
  examples/all-clusters-app/all-clusters-common/gen/attribute-size.cpp
  examples/all-clusters-app/all-clusters-common/gen/endpoint_config.h
  examples/bridge-app/bridge-common/gen/IMClusterCommandHandler.cpp
  examples/bridge-app/bridge-common/gen/attribute-size.cpp
  examples/chip-tool/commands/clusters/Commands.h
  examples/lighting-app/lighting-common/gen/IMClusterCommandHandler.cpp
  examples/lighting-app/lighting-common/gen/attribute-size.cpp
  examples/lock-app/lock-common/gen/IMClusterCommandHandler.cpp
  examples/lock-app/lock-common/gen/attribute-size.cpp
  examples/pump-app/pump-common/gen/IMClusterCommandHandler.cpp
  examples/pump-app/pump-common/gen/attribute-size.cpp
  examples/pump-controller-app/pump-controller-common/gen/IMClusterCommandHandler.cpp
  examples/pump-controller-app/pump-controller-common/gen/attribute-size.cpp
  examples/temperature-measurement-app/esp32/main/gen/IMClusterCommandHandler.cpp
  examples/temperature-measurement-app/esp32/main/gen/attribute-size.cpp
  examples/thermostat/thermostat-common/gen/IMClusterCommandHandler.cpp
  examples/thermostat/thermostat-common/gen/attribute-size.cpp
  examples/thermostat/thermostat-common/gen/endpoint_config.h
  examples/tv-app/tv-common/gen/IMClusterCommandHandler.cpp
  examples/tv-app/tv-common/gen/attribute-size.cpp
  examples/tv-app/tv-common/gen/endpoint_config.h
  examples/window-app/common/gen/IMClusterCommandHandler.cpp
  examples/window-app/common/gen/attribute-size.cpp
  src/app/common/gen/af-structs.h
  src/app/common/gen/callback.h
  src/app/common/gen/client-command-macro.h
  src/controller/data_model/gen/CHIPClientCallbacks.cpp
  src/controller/data_model/gen/CHIPClientCallbacks.h
  src/controller/data_model/gen/CHIPClusters.cpp
  src/controller/data_model/gen/IMClusterCommandHandler.cpp
  src/controller/java/gen/CHIPClusters-JNI.cpp
  src/controller/java/gen/ChipClusters.java
  src/controller/python/chip/clusters/CHIPClusters.cpp
  src/controller/python/chip/clusters/CHIPClusters.py
  src/darwin/Framework/CHIP/gen/CHIPClustersObjc.mm
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @vivien-apple, @yunhanw-google, @bzbarsky-apple, @mrjerryjohns, @shana-apple, @pan-apple, @austinh0, @andy31415, @erjianqing

[Tests] - Add a new TestUtil interface for tests and expose WaitForMs
  examples/chip-tool/commands/tests/TestCommand.cpp
  examples/chip-tool/commands/tests/TestCommand.h
  examples/chip-tool/templates/partials/test_cluster.zapt
  examples/chip-tool/templates/tests-commands.zapt
  src/app/tests/suites/TestGlobalCommands.yaml
  src/app/zap-templates/common/ClusterTestGeneration.js
  src/app/zap-templates/common/ClusterTestGlobalCommands.js
  src/darwin/Framework/CHIP/templates/clusters-tests.zapt
  src/darwin/Framework/CHIP/templates/partials/test_cluster.zapt
Owners: @vivien-apple, @erjianqing, @shana-apple, @pan-apple

Update generated tests
  examples/chip-tool/commands/tests/Commands.h
  src/darwin/Framework/CHIPTests/CHIPClustersTests.m
Owners: @vivien-apple, @shana-apple, @pan-apple

Restyled by clang-format
  src/app/zap-templates/common/ClusterTestGeneration.js
Owners: @vivien-apple, @erjianqing

.github/CODEOWNERS:

# Current reviewers-XXX teams, who review everything for approval.
* @reviewers-amazon @reviewers-apple @reviewers-comcast @reviewers-google @reviewers-nordic @reviewers-samsung @reviewers-silabs


# BUILD system

*.gn @mspang
/build/ @mspang
/scripts/build/ @mspang

# Crypto
# Crypto primitives and high level API, generally on top of mbedtls and openssl
/src/crypto/* @pan-apple @emargolis
/src/credentials/ @pan-apple @emargolis

# Transport
# Send and receive data abstracting away the underlying protocol (UDP, TCP, BLE)
/src/transport/ @andy31415 @pan-apple

# Session establishment
# Establish a secure session (encryption keys) from one node to another.
# Includes CASE and PASE + session tracking and resumptioon
/src/protocols/secure_channel/ @pan-apple

# Message Layer
# CRMP and packet headers, generally coupled with SecureSessionManager
/src/messaging @yufengwangca @kghost @bzbarksy-apple
/src/transport/raw/MessageHeader.* @yufengwangca @kghost @bzbarksy-apple

# SecureSessionManager
# Manages per-session encryption keys and new session establishment
/src/transport/SecureSessionMgr.* @pan-apple

# Exchange management
# Joins requests and responses or ties a series of messages belonging to the 
# same protocol interaction
/src/messaging/ @yufengwangca @bzbarsky-apple
/src/channel/ @yufengwangca @bzbarsky-apple

# DNS-SD discovery and advertisement
# Advertise chip devices for commisioning, operational and discover such devices
/src/lib/mdns/ @andy31415 @gjc13 @damian-nordic

# Commisioning controller/flow
# Example of a comisioning sequence
/src/controller/ @pan-apple @erjiaqing

# Operational credentials management
# Signing certificates, maintaining roots of trust, validation, fabric management
/src/controller/ @shana-apple @pan-apple
/src/transport/AdminPairingTable.* @shana-apple @pan-apple

# TLV encoding/decoding to/from byte buffers
/src/lib/core/CHIPTLV* @yunhanw-google @bzbarsky-apple @shana-apple

# Interaction model - ember implementation
# ZCL protocol implementation: ZCL encoding to be sent over the wire as a 
# ZigbeePro protocol implementation
/src/app/util/ @vivien-apple @erjianqing @bzbarsky-apple

# Interaction model - non-ember
# Protocol implementation for IM interactions between nodes, matching spec
/src/app/ @yunhanw-google @bzbarsky-apple @mrjerryjohns

# Interaction model - code generation
# CHIP-specific infrastructure for generating code: helper js methods, scripts
# and code layout
/src/app/zap-templates/ @vivien-apple @erjianqing

# ZAP suppport
# UI for editing XML, generates code from such ZML and configuration files
# NOT part of CHIP however CHIP relies heavily on ZAP.
#    @vivien-apple  @tecimovic

# 'Standard' cluster implementations (server side)
# Clusters shipped with the sdk, can be integrated as-is or used as a template
/src/app/clusters/ @vivien-apple

# Onboarding payload
# Parsing and generation of codes (includes QR and NFC), numeric pairing payload
/src/setup_payload/ @shana-apple @vivien-apple @jrhees-cae

# Device Layer
# Porting interfaces, scaffolding for building an example firmware
/src/platform/ @mspang @yufengwangca
/src/include/platform/ @mspang @yufengwangca

# Persistent storage
# Save state across reboots
/src/platform/*/KeyValueStore* @rgoliver

# Python bindings for CHIP - CLI
# Allows python code to use CHIP, generally targeted towards automation
/src/controller/python/ @andy31415 @erjianqing

# CHIP-tool C++ CLI
# Command line interface to chip as a client (controller and commisioner)
# Includes generated code for every base cluster
/examples/chip-tool/ @vivien-apple

# CHIP-tool iOS UI
/src/darwin/CHIPTool/ @shana-apple

# CHIP-tool Android
/src/android/CHIPTool/ @austinh0
/src/controller/java/ @austinh0

# End2End autogenerated tests
/src/darwin/Framework/Chip-templates/ @vivien-apple
/src/app/tests/suites/ @vivien-apple

# End2End cirque tests
# Simulate topology (cirque) and ptyhon-based test automation
/src/test_driver/linux/cirque/ @erjianqing @yunhanw-google

# Thread integration
# Thread-specific functionality (network provisioning, operational discovery, SRP registration etc.)
/src/platform/OpenThread/ @bukepo
/src/platform/*/ThreadStackmanagerImpl.* @bukepo

# Inet
# Networking abstraction layer (UDP-endpoint, TCP-endpoint, InetLayerBasis)
/src/inet/ @kpschoedel 

# System layer
/src/system/ @kpschoedel 

# BLE support
/src/ble/ @yunhanw-google

# CHIP Shell
# Command-line UART/stdin interface as a side-channel to CHIP accessories
# Aimed as user-friendly/manual control
/src/examples/shell/ @gjc13 @yufengwangca

# RPC
# Side-channlel command path (outside chip), generally for automation and debugging
# Aimed as "scriptable" when compared to shell
/examples/common/pigweed/ @rgoliver
/examples/pigweed-app/ @rgoliver

# Tooling for crypto manual generation
# Generates data for sample PKI
/src/tools/chip-cert/ @emargolis

# Channel API
# Construct a transport/secure session based on peer info and transport type.
# Focused on CASE session establishment
/src/channel/ @kghost

# Darwin framework
# Exposes a darwin API (Objective-C/swift rather than raw C++ API) for darwin
# applications
/src/darwin/Framework/ @shana-apple @vivien-apple @pan-apple
