Repository project-chip/connectedhomeip, changes with the owners that .github/CODEOWNERS names for each.
All owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @mspang, @pan-apple, @emargolis, @andy31415, @yufengwangca, @kghost, @bzbarksy-apple, @bzbarsky-apple, @gjc13, @damian-nordic, @erjiaqing, @shana-apple, @yunhanw-google, @vivien-apple, @erjianqing, @mrjerryjohns, @jrhees-cae, @rgoliver, @austinh0, @bukepo, @kpschoedel

[TE5] Add Python controller command to open enhanced commissioning window for multi-admin (#9369)
  src/app/BUILD.gn
  src/app/server/RendezvousServer.cpp
  src/controller/CHIPDevice.cpp
  src/controller/CHIPDevice.h
  src/controller/CHIPDeviceController.cpp
  src/controller/CHIPDeviceController.h
  src/controller/python/ChipDeviceController-ScriptBinding.cpp
  src/controller/python/chip-device-ctrl.py
  src/controller/python/chip/ChipDeviceCtrl.py
Owners: @yunhanw-google, @bzbarsky-apple, @mrjerryjohns, @shana-apple, @pan-apple, @andy31415, @erjianqing

[chip-tool] Add command to open enhanced commissioning window (#9418)
  examples/chip-tool/commands/pairing/Commands.h
  examples/chip-tool/commands/pairing/PairingCommand.cpp
  examples/chip-tool/commands/pairing/PairingCommand.h
  src/controller/CHIPDevice.cpp
  src/controller/CHIPDevice.h
  src/controller/CHIPDeviceController.cpp
  src/controller/CHIPDeviceController.h
  src/controller/java/CHIPDeviceController-JNI.cpp
  src/darwin/Framework/CHIP/CHIPDevice.mm
Owners: @vivien-apple, @shana-apple, @pan-apple, @austinh0

Define trace.h for traching methods instead of ChipLogFunctError, add an example usage in Command.cpp
  src/app/Command.cpp
Owners: @yunhanw-google, @bzbarsky-apple, @mrjerryjohns

Add trace.h header
  src/lib/support/logging/Trace.h
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Include the ReturnTracedErrorOnFailure macro in the example doc
  src/lib/support/logging/Trace.h
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Storing RI in Octet String + Adding Binary format for BLE
  src/app/server/Mdns.cpp
  src/setup_payload/AdditionalDataPayloadGenerator.cpp
  src/setup_payload/AdditionalDataPayloadGenerator.h
  src/setup_payload/AdditionalDataPayloadParser.cpp
Owners: @yunhanw-google, @bzbarsky-apple, @mrjerryjohns, @shana-apple, @vivien-apple, @jrhees-cae

Create temp file with mkstemp
  src/platform/Linux/CHIPLinuxStorageIni.cpp
Owners: @mspang, @yufengwangca

fix ota-requestor attribute definitions and add write to chip-tool
  src/app/zap-templates/zcl/data-model/chip/chip-ota.xml
  src/app/zap_cluster_list.py
  src/controller/data_model/controller-clusters.zap
  src/controller/java/zap-generated/CHIPClusters-JNI.cpp
  src/controller/java/zap-generated/chip/devicecontroller/ChipClusters.java
  src/controller/python/chip/clusters/CHIPClusters.cpp
  src/controller/python/chip/clusters/CHIPClusters.py
  src/darwin/Framework/CHIP/zap-generated/CHIPClustersObjc.h
  src/darwin/Framework/CHIP/zap-generated/CHIPClustersObjc.mm
  src/darwin/Framework/CHIPTests/CHIPClustersTests.m
  zzz_generated/app-common/app-common/zap-generated/attribute-id.h
  zzz_generated/app-common/app-common/zap-generated/attributes/Accessors.cpp
  zzz_generated/app-common/app-common/zap-generated/attributes/Accessors.h
  zzz_generated/app-common/app-common/zap-generated/ids/Attributes.h
  zzz_generated/chip-tool/zap-generated/cluster/Commands.h
  zzz_generated/controller-clusters/zap-generated/CHIPClusters.cpp
  zzz_generated/controller-clusters/zap-generated/CHIPClusters.h
  zzz_generated/controller-clusters/zap-generated/callback-stub.cpp
  zzz_generated/controller-clusters/zap-generated/endpoint_config.h
  zzz_generated/controller-clusters/zap-generated/gen_config.h
Owners: @vivien-apple, @erjianqing, @yunhanw-google, @bzbarsky-apple, @mrjerryjohns, @shana-apple, @pan-apple, @austinh0, @andy31415, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Fix GetRand due to that InitEntropy (srand) is not called.
  src/include/platform/internal/GenericPlatformManagerImpl.cpp
  src/platform/BUILD.gn
  src/platform/EFR32/Entropy.cpp
  src/platform/ESP32/Entropy.cpp
  src/platform/ESP32/PlatformManagerImpl.cpp
  src/platform/Entropy.cpp
  src/platform/K32W/Entropy.cpp
  src/platform/K32W/PlatformManagerImpl.cpp
  src/platform/P6/Entropy.cpp
  src/platform/cc13x2_26x2/PlatformManagerImpl.cpp
  src/platform/qpg/Entropy.cpp
Owners: @mspang, @yufengwangca

Define namespace chip inside asn1/ASN1OID.h
  src/lib/asn1/ASN1.h
  src/lib/asn1/gen_asn1oid.py
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

add ota requestor attributes to all-clusters-app
  examples/all-clusters-app/all-clusters-common/all-clusters-app.zap
  zzz_generated/all-clusters-app/zap-generated/attribute-size.cpp
  zzz_generated/all-clusters-app/zap-generated/callback-stub.cpp
  zzz_generated/all-clusters-app/zap-generated/endpoint_config.h
  zzz_generated/all-clusters-app/zap-generated/gen_config.h
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

generate for missing files
  zzz_generated/all-clusters-app/zap-generated/attribute-size.cpp
  zzz_generated/all-clusters-app/zap-generated/endpoint_config.h
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Run Codegen
  src/controller/java/zap-generated/CHIPClusters-JNI.cpp
  src/controller/java/zap-generated/chip/devicecontroller/ChipClusters.java
  src/controller/python/chip/clusters/CHIPClusters.cpp
  src/controller/python/chip/clusters/CHIPClusters.py
  zzz_generated/all-clusters-app/zap-generated/attribute-size.cpp
  zzz_generated/all-clusters-app/zap-generated/endpoint_config.h
  zzz_generated/app-common/app-common/zap-generated/af-structs.cpp
  zzz_generated/app-common/app-common/zap-generated/af-structs.h
  zzz_generated/app-common/app-common/zap-generated/attribute-id.h
  zzz_generated/app-common/app-common/zap-generated/attribute-type.h
  zzz_generated/app-common/app-common/zap-generated/attributes/Accessors.cpp
  zzz_generated/app-common/app-common/zap-generated/attributes/Accessors.h
  zzz_generated/app-common/app-common/zap-generated/ids/Attributes.h
  zzz_generated/bridge-app/zap-generated/attribute-size.cpp
  zzz_generated/chip-tool/zap-generated/cluster/Commands.h
  zzz_generated/controller-clusters/zap-generated/CHIPClientCallbacks.cpp
  zzz_generated/controller-clusters/zap-generated/CHIPClientCallbacks.h
  zzz_generated/controller-clusters/zap-generated/CHIPClusters.cpp
  zzz_generated/controller-clusters/zap-generated/CHIPClusters.h
  zzz_generated/controller-clusters/zap-generated/attribute-size.cpp
  zzz_generated/lighting-app/zap-generated/CHIPClientCallbacks.cpp
  zzz_generated/lighting-app/zap-generated/CHIPClusters.cpp
  zzz_generated/lighting-app/zap-generated/CHIPClusters.h
  zzz_generated/lighting-app/zap-generated/attribute-size.cpp
  zzz_generated/lock-app/zap-generated/attribute-size.cpp
  zzz_generated/ota-provider-app/zap-generated/attribute-size.cpp
  zzz_generated/pump-app/zap-generated/CHIPClientCallbacks.cpp
  zzz_generated/pump-app/zap-generated/attribute-size.cpp
  zzz_generated/pump-controller-app/zap-generated/CHIPClientCallbacks.cpp
  zzz_generated/pump-controller-app/zap-generated/attribute-size.cpp
  zzz_generated/temperature-measurement-app/zap-generated/attribute-size.cpp
  zzz_generated/thermostat/zap-generated/attribute-size.cpp
  zzz_generated/tv-app/zap-generated/CHIPClientCallbacks.cpp
  zzz_generated/tv-app/zap-generated/attribute-size.cpp
  zzz_generated/tv-casting-app/zap-generated/attribute-size.cpp
  zzz_generated/window-app/zap-generated/attribute-size.cpp
Owners: @austinh0, @andy31415, @erjianqing, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Restyled by whitespace
  src/controller/java/zap-generated/chip/devicecontroller/ChipClusters.java
Owners: @austinh0

Restyled by google-java-format
  src/controller/java/zap-generated/chip/devicecontroller/ChipClusters.java
Owners: @austinh0

Restyled by clang-format
  src/controller/java/templates/helper.js
Owners: @austinh0

Cleanup Read
  src/app/InteractionModelDelegate.h
  src/app/InteractionModelEngine.cpp
  src/app/InteractionModelEngine.h
  src/app/ReadClient.cpp
  src/app/ReadClient.h
  src/app/ReadHandler.cpp
  src/app/ReadHandler.h
  src/app/reporting/Engine.cpp
  src/app/reporting/Engine.h
  src/app/tests/TestReadInteraction.cpp
  src/app/tests/integration/chip_im_initiator.cpp
Owners: @yunhanw-google, @bzbarsky-apple, @mrjerryjohns

Restyled by clang-format
  src/app/InteractionModelDelegate.h
  src/app/ReadClient.cpp
  src/app/reporting/Engine.cpp
  src/app/tests/TestReadInteraction.cpp
Owners: @yunhanw-google, @bzbarsky-apple, @mrjerryjohns

Cleanup Read
  src/app/InteractionModelDelegate.h
  src/app/InteractionModelEngine.cpp
  src/app/InteractionModelEngine.h
  src/app/ReadClient.cpp
  src/app/ReadClient.h
  src/app/ReadHandler.cpp
  src/app/ReadHandler.h
  src/app/reporting/Engine.cpp
  src/app/reporting/Engine.h
  src/app/tests/TestReadInteraction.cpp
  src/app/tests/integration/chip_im_initiator.cpp
Owners: @yunhanw-google, @bzbarsky-apple, @mrjerryjohns

Fixing rotating id parser + adding unittests
  src/app/server/Mdns.cpp
  src/setup_payload/AdditionalDataPayloadGenerator.cpp
  src/setup_payload/AdditionalDataPayloadParser.cpp
  src/setup_payload/tests/BUILD.gn
  src/setup_payload/tests/TestAdditionalDataPayload.cpp
Owners: @yunhanw-google, @bzbarsky-apple, @mrjerryjohns, @shana-apple, @vivien-apple, @jrhees-cae

platform changes for thread support
  config/esp32/components/chip/CMakeLists.txt
  config/esp32/components/chip/Kconfig
  src/platform/ESP32/BUILD.gn
  src/platform/ESP32/CHIPDevicePlatformConfig.h
  src/platform/ESP32/ConfigurationManagerImpl.cpp
  src/platform/ESP32/ConnectivityManagerImpl.cpp
  src/platform/ESP32/ConnectivityManagerImpl.h
  src/platform/ESP32/DeviceNetworkProvisioningDelegateImpl.cpp
  src/platform/ESP32/DeviceNetworkProvisioningDelegateImpl.h
  src/platform/ESP32/ESP32Config.cpp
  src/platform/ESP32/ESP32Config.h
  src/platform/ESP32/ESP32Utils.cpp
  src/platform/ESP32/ESP32Utils.h
  src/platform/ESP32/ESPThreadConfig.h
  src/platform/ESP32/PlatformManagerImpl.cpp
  src/platform/ESP32/PlatformManagerImpl.h
  src/platform/ESP32/ServiceProvisioning.cpp
  src/platform/ESP32/ServiceProvisioning.h
  src/platform/ESP32/ThreadStackManagerImpl.cpp
  src/platform/ESP32/ThreadStackManagerImpl.h
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @mspang, @yufengwangca

Restyled by gn
  src/platform/ESP32/BUILD.gn
Owners: @mspang, @yufengwangca

Restyled by clang-format
  src/app/server/Mdns.cpp
  src/setup_payload/AdditionalDataPayloadGenerator.cpp
  src/setup_payload/AdditionalDataPayloadGenerator.h
  src/setup_payload/AdditionalDataPayloadParser.cpp
  src/setup_payload/tests/TestAdditionalDataPayload.cpp
Owners: @yunhanw-google, @bzbarsky-apple, @mrjerryjohns, @shana-apple, @vivien-apple, @jrhees-cae

Restyled by gn
  src/setup_payload/tests/BUILD.gn
Owners: @shana-apple, @vivien-apple, @jrhees-cae

Added the Linux platform as a target for the pump-app
  examples/pump-app/linux/BUILD.gn
  examples/pump-app/linux/Dockerfile
  examples/pump-app/linux/PumpManager.cpp
  examples/pump-app/linux/README.md
  examples/pump-app/linux/Rpc.cpp
  examples/pump-app/linux/args.gni
  examples/pump-app/linux/build_overrides
  examples/pump-app/linux/entrypoint.sh
  examples/pump-app/linux/include/AppEvent.h
  examples/pump-app/linux/include/CHIPProjectAppConfig.h
  examples/pump-app/linux/include/PumpManager.h
  examples/pump-app/linux/include/Rpc.h
  examples/pump-app/linux/main.cpp
  examples/pump-app/linux/third_party/connectedhomeip
  examples/pump-app/linux/with_pw_rpc.gni
Owners: @mspang, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Add provision to set values for Basic attributes at runtime
  src/include/platform/ConfigurationManager.h
  src/include/platform/internal/GenericConfigurationManagerImpl.cpp
  src/include/platform/internal/GenericConfigurationManagerImpl.h
  src/platform/Darwin/PosixConfig.cpp
  src/platform/Darwin/PosixConfig.h
  src/platform/EFR32/EFR32Config.h
  src/platform/ESP32/ESP32Config.cpp
  src/platform/ESP32/ESP32Config.h
  src/platform/K32W/K32WConfig.h
  src/platform/Linux/PosixConfig.cpp
  src/platform/Linux/PosixConfig.h
  src/platform/P6/P6Config.cpp
  src/platform/P6/P6Config.h
  src/platform/Zephyr/ZephyrConfig.cpp
  src/platform/Zephyr/ZephyrConfig.h
  src/platform/fake/ConfigurationManagerImpl.h
  src/platform/mbed/MbedConfig.cpp
  src/platform/mbed/MbedConfig.h
  src/platform/qpg/qpgConfig.h
Owners: @mspang, @yufengwangca

Restyled by clang-format
  src/include/platform/internal/GenericConfigurationManagerImpl.cpp
Owners: @mspang, @yufengwangca

Add provision to set values for Basic attributes at runtime
  src/include/platform/ConfigurationManager.h
  src/include/platform/internal/GenericConfigurationManagerImpl.cpp
  src/include/platform/internal/GenericConfigurationManagerImpl.h
  src/platform/Darwin/PosixConfig.cpp
  src/platform/Darwin/PosixConfig.h
  src/platform/EFR32/EFR32Config.h
  src/platform/ESP32/ESP32Config.cpp
  src/platform/ESP32/ESP32Config.h
  src/platform/K32W/K32WConfig.h
  src/platform/Linux/PosixConfig.cpp
  src/platform/Linux/PosixConfig.h
  src/platform/P6/P6Config.cpp
  src/platform/P6/P6Config.h
  src/platform/Zephyr/ZephyrConfig.cpp
  src/platform/Zephyr/ZephyrConfig.h
  src/platform/fake/ConfigurationManagerImpl.h
  src/platform/mbed/MbedConfig.cpp
  src/platform/mbed/MbedConfig.h
  src/platform/qpg/qpgConfig.h
Owners: @mspang, @yufengwangca

restyling
  src/app/server/Mdns.cpp
  src/setup_payload/AdditionalDataPayloadGenerator.cpp
  src/setup_payload/AdditionalDataPayloadGenerator.h
  src/setup_payload/AdditionalDataPayloadParser.cpp
  src/setup_payload/tests/BUILD.gn
  src/setup_payload/tests/TestAdditionalDataPayload.cpp
Owners: @yunhanw-google, @bzbarsky-apple, @mrjerryjohns, @shana-apple, @vivien-apple, @jrhees-cae

Added missing .gn file
  examples/pump-app/linux/.gn
Owners: @mspang

TE5 fixes
  examples/lighting-app/k32w/BUILD.gn
  examples/lighting-app/k32w/include/CHIPProjectConfig.h
  examples/lighting-app/k32w/main/AppTask.cpp
  examples/lock-app/k32w/BUILD.gn
  examples/lock-app/k32w/include/CHIPProjectConfig.h
  examples/platform/k32w/app/project_include/OpenThreadConfig.h
  src/lwip/k32w/lwipopts.h
  src/platform/K32W/BUILD.gn
  src/platform/K32W/K32WConfig.cpp
  src/platform/K32W/ThreadStackManagerImpl.cpp
  src/platform/K32W/args.gni
Owners: @mspang, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @yufengwangca

[nrfconnect] Enable logger synchronization
  config/nrfconnect/app/sample-defaults.conf
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

platform changes for thread support
  config/esp32/components/chip/CMakeLists.txt
  src/platform/ESP32/BUILD.gn
  src/platform/ESP32/CHIPDevicePlatformConfig.h
  src/platform/ESP32/ConfigurationManagerImpl.cpp
  src/platform/ESP32/ConnectivityManagerImpl.cpp
  src/platform/ESP32/ConnectivityManagerImpl.h
  src/platform/ESP32/DeviceNetworkProvisioningDelegateImpl.cpp
  src/platform/ESP32/DeviceNetworkProvisioningDelegateImpl.h
  src/platform/ESP32/ESP32Config.cpp
  src/platform/ESP32/ESP32Config.h
  src/platform/ESP32/ESP32Utils.cpp
  src/platform/ESP32/ESP32Utils.h
  src/platform/ESP32/ESPThreadConfig.h
  src/platform/ESP32/PlatformManagerImpl.cpp
  src/platform/ESP32/PlatformManagerImpl.h
  src/platform/ESP32/ServiceProvisioning.cpp
  src/platform/ESP32/ServiceProvisioning.h
  src/platform/ESP32/ThreadStackManagerImpl.cpp
  src/platform/ESP32/ThreadStackManagerImpl.h
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @mspang, @yufengwangca

Restyled by clang-format
  src/platform/ESP32/ConnectivityManagerImpl.cpp
Owners: @mspang, @yufengwangca

[nrfconnect] Enable logger synchronization (#9457)
  config/nrfconnect/app/sample-defaults.conf
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

TE5 fixes (#9449)
  examples/lighting-app/k32w/BUILD.gn
  examples/lighting-app/k32w/include/CHIPProjectConfig.h
  examples/lighting-app/k32w/main/AppTask.cpp
  examples/lock-app/k32w/BUILD.gn
  examples/lock-app/k32w/include/CHIPProjectConfig.h
  examples/platform/k32w/app/project_include/OpenThreadConfig.h
  src/lwip/k32w/lwipopts.h
  src/platform/K32W/BUILD.gn
  src/platform/K32W/K32WConfig.cpp
  src/platform/K32W/ThreadStackManagerImpl.cpp
  src/platform/K32W/args.gni
Owners: @mspang, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @yufengwangca

Remove inline and correct case for LogError
  src/app/Command.cpp
  src/lib/support/logging/Trace.h
Owners: @yunhanw-google, @bzbarsky-apple, @mrjerryjohns, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Provide destination and endpoint while requesting for reports
  examples/chip-tool/templates/commands.zapt
  src/app/reporting/reporting.cpp
  src/app/util/af-types.h
  src/app/zap-templates/templates/app/CHIPClusters-src.zapt
  src/app/zap-templates/templates/app/CHIPClusters.zapt
  src/controller/python/chip/clusters/CHIPClusters.cpp
  src/controller/python/chip/clusters/CHIPClusters.py
  src/controller/python/templates/python-CHIPClusters-cpp.zapt
  src/controller/python/templates/python-CHIPClusters-py.zapt
  src/darwin/Framework/CHIP/templates/CHIPClustersObjc-src.zapt
  src/darwin/Framework/CHIP/templates/CHIPClustersObjc.zapt
  src/darwin/Framework/CHIP/templates/clusters-tests.zapt
  src/darwin/Framework/CHIP/zap-generated/CHIPClustersObjc.h
  src/darwin/Framework/CHIP/zap-generated/CHIPClustersObjc.mm
  src/darwin/Framework/CHIPTests/CHIPClustersTests.m
  zzz_generated/chip-tool/zap-generated/cluster/Commands.h
  zzz_generated/controller-clusters/zap-generated/CHIPClusters.cpp
  zzz_generated/controller-clusters/zap-generated/CHIPClusters.h
  zzz_generated/pump-app/zap-generated/CHIPClusters.cpp
  zzz_generated/pump-app/zap-generated/CHIPClusters.h
  zzz_generated/pump-controller-app/zap-generated/CHIPClusters.cpp
  zzz_generated/pump-controller-app/zap-generated/CHIPClusters.h
Owners: @vivien-apple, @yunhanw-google, @bzbarsky-apple, @mrjerryjohns, @erjianqing, @andy31415, @shana-apple, @pan-apple, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Fix GetRand due to that InitEntropy (srand) is not called. (#9420)
  src/include/platform/internal/GenericPlatformManagerImpl.cpp
  src/platform/BUILD.gn
  src/platform/EFR32/Entropy.cpp
  src/platform/ESP32/Entropy.cpp
  src/platform/ESP32/PlatformManagerImpl.cpp
  src/platform/Entropy.cpp
  src/platform/K32W/Entropy.cpp
  src/platform/K32W/PlatformManagerImpl.cpp
  src/platform/P6/Entropy.cpp
  src/platform/cc13x2_26x2/PlatformManagerImpl.cpp
  src/platform/qpg/Entropy.cpp
Owners: @mspang, @yufengwangca

Restyle fixes
  docs/discussion/lwip_ipv6.md
  examples/pump-app/nrfconnect/README.md
  examples/pump-controller-app/nrfconnect/README.md
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

.github/CODEOWNERS:

# Current reviewers-XXX teams, who review everything for approval.
* @reviewers-amazon @reviewers-apple @reviewers-comcast @reviewers-google @reviewers-nordic @reviewers-samsung @reviewers-silabs


# BUILD system

*.gn @mspang
/build/ @mspang
/scripts/build/ @mspang

# Crypto
# Crypto primitives and high level API, generally on top of mbedtls and openssl
/src/crypto/* @pan-apple @emargolis
/src/credentials/ @pan-apple @emargolis

# Transport
# Send and receive data abstracting away the underlying protocol (UDP, TCP, BLE)
/src/transport/ @andy31415 @pan-apple

# Session establishment
# Establish a secure session (encryption keys) from one node to another.
# Includes CASE and PASE + session tracking and resumptioon
/src/protocols/secure_channel/ @pan-apple

# Message Layer
# CRMP and packet headers, generally coupled with SecureSessionManager
/src/messaging @yufengwangca @kghost @bzbarksy-apple
/src/transport/raw/MessageHeader.* @yufengwangca @kghost @bzbarksy-apple

# SecureSessionManager
# Manages per-session encryption keys and new session establishment
/src/transport/SecureSessionMgr.* @pan-apple

# Exchange management
# Joins requests and responses or ties a series of messages belonging to the 
# same protocol interaction
/src/messaging/ @yufengwangca @bzbarsky-apple
/src/channel/ @yufengwangca @bzbarsky-apple

# DNS-SD discovery and advertisement
# Advertise chip devices for commisioning, operational and discover such devices
/src/lib/mdns/ @andy31415 @gjc13 @damian-nordic

# Commisioning controller/flow
# Example of a comisioning sequence
/src/controller/ @pan-apple @erjiaqing

# Operational credentials management
# Signing certificates, maintaining roots of trust, validation, fabric management
/src/controller/ @shana-apple @pan-apple
/src/transport/AdminPairingTable.* @shana-apple @pan-apple

# TLV encoding/decoding to/from byte buffers
/src/lib/core/CHIPTLV* @yunhanw-google @bzbarsky-apple @shana-apple

# Interaction model - ember implementation
# ZCL protocol implementation: ZCL encoding to be sent over the wire as a 
# ZigbeePro protocol implementation
/src/app/util/ @vivien-apple @erjianqing @bzbarsky-apple

# Interaction model - non-ember
# Protocol implementation for IM interactions between nodes, matching spec
/src/app/ @yunhanw-google @bzbarsky-apple @mrjerryjohns

# Interaction model - code generation
# CHIP-specific infrastructure for generating code: helper js methods, scripts
# and code layout
/src/app/zap-templates/ @vivien-apple @erjianqing

# ZAP suppport
# UI for editing XML, generates code from such ZML and configuration files
# NOT part of CHIP however CHIP relies heavily on ZAP.
#    @vivien-apple  @tecimovic

# 'Standard' cluster implementations (server side)
# Clusters shipped with the sdk, can be integrated as-is or used as a template
/src/app/clusters/ @vivien-apple

# Onboarding payload
# Parsing and generation of codes (includes QR and NFC), numeric pairing payload
/src/setup_payload/ @shana-apple @vivien-apple @jrhees-cae

# Device Layer
# Porting interfaces, scaffolding for building an example firmware
/src/platform/ @mspang @yufengwangca
/src/include/platform/ @mspang @yufengwangca

# Persistent storage
# Save state across reboots
/src/platform/*/KeyValueStore* @rgoliver

# Python bindings for CHIP - CLI
# Allows python code to use CHIP, generally targeted towards automation
/src/controller/python/ @andy31415 @erjianqing

# CHIP-tool C++ CLI
# Command line interface to chip as a client (controller and commisioner)
# Includes generated code for every base cluster
/examples/chip-tool/ @vivien-apple

# CHIP-tool iOS UI
/src/darwin/CHIPTool/ @shana-apple

# CHIP-tool Android
/src/android/CHIPTool/ @austinh0
/src/controller/java/ @austinh0

# End2End autogenerated tests
/src/darwin/Framework/Chip-templates/ @vivien-apple
/src/app/tests/suites/ @vivien-apple

# End2End cirque tests
# Simulate topology (cirque) and ptyhon-based test automation
/src/test_driver/linux/cirque/ @erjianqing @yunhanw-google

# Thread integration
# Thread-specific functionality (network provisioning, operational discovery, SRP registration etc.)
/src/platform/OpenThread/ @bukepo
/src/platform/*/ThreadStackmanagerImpl.* @bukepo

# Inet
# Networking abstraction layer (UDP-endpoint, TCP-endpoint, InetLayerBasis)
/src/inet/ @kpschoedel 

# System layer
/src/system/ @kpschoedel 

# BLE support
/src/ble/ @yunhanw-google

# CHIP Shell
# Command-line UART/stdin interface as a side-channel to CHIP accessories
# Aimed as user-friendly/manual control
/src/examples/shell/ @gjc13 @yufengwangca

# RPC
# Side-channlel command path (outside chip), generally for automation and debugging
# Aimed as "scriptable" when compared to shell
/examples/common/pigweed/ @rgoliver
/examples/pigweed-app/ @rgoliver

# Tooling for crypto manual generation
# Generates data for sample PKI
/src/tools/chip-cert/ @emargolis

# Channel API
# Construct a transport/secure session based on peer info and transport type.
# Focused on CASE session establishment
/src/channel/ @kghost

# Darwin framework
# Exposes a darwin API (Objective-C/swift rather than raw C++ API) for darwin
# applications
/src/darwin/Framework/ @shana-apple @vivien-apple @pan-apple
