Repository project-chip/connectedhomeip, changes with the owners that .github/CODEOWNERS names for each.
All owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @mspang, @pan-apple, @emargolis, @andy31415, @yufengwangca, @kghost, @bzbarksy-apple, @bzbarsky-apple, @gjc13, @damian-nordic, @erjiaqing, @shana-apple, @yunhanw-google, @vivien-apple, @erjianqing, @mrjerryjohns, @jrhees-cae, @rgoliver, @austinh0, @bukepo, @kpschoedel

Remove EmberAf prefix from some structs
  examples/tv-app/linux/include/application-launcher/ApplicationLauncherManager.cpp
  examples/tv-app/linux/include/audio-output/AudioOutputManager.cpp
  examples/tv-app/linux/include/audio-output/AudioOutputManager.h
  examples/tv-app/linux/include/content-launcher/ContentLauncherManager.cpp
  examples/tv-app/linux/include/content-launcher/ContentLauncherManager.h
  examples/tv-app/linux/include/media-input/MediaInputManager.cpp
  examples/tv-app/linux/include/media-input/MediaInputManager.h
  examples/tv-app/linux/include/target-navigator/TargetNavigatorManager.cpp
  examples/tv-app/linux/include/target-navigator/TargetNavigatorManager.h
  examples/tv-app/linux/include/tv-channel/TvChannelManager.cpp
  examples/tv-app/linux/include/tv-channel/TvChannelManager.h
  src/app/clusters/application-launcher-server/application-launcher-server.cpp
  src/app/clusters/descriptor/descriptor.cpp
  src/app/clusters/operational-credentials-server/operational-credentials-server.cpp
  src/app/clusters/tv-channel-server/tv-channel-server.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @vivien-apple

Restyled by clang-format
  examples/tv-app/linux/include/content-launcher/ContentLauncherManager.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Make telink build in vscode image, update vscode image to export more useful build variables
  .github/workflows/examples-telink.yaml
  .vscode/tasks.json
  integrations/docker/images/chip-build-vscode/Dockerfile
  integrations/docker/images/chip-build/version
  scripts/build/builders/telink.py
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @mspang

Update unit test for build commands
  scripts/build/expected_all_platform_commands.txt
Owners: @mspang

Remove telink example script, use unified build script
  examples/lighting-app/telink/Readme.md
  scripts/examples/telink_example.sh
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Restyle fixes
  src/app/InteractionModelEngine.cpp
Owners: @yunhanw-google, @bzbarsky-apple, @mrjerryjohns

Remove EmberAf prefix from some structs
  examples/tv-app/linux/include/application-launcher/ApplicationLauncherManager.cpp
  examples/tv-app/linux/include/audio-output/AudioOutputManager.cpp
  examples/tv-app/linux/include/audio-output/AudioOutputManager.h
  examples/tv-app/linux/include/content-launcher/ContentLauncherManager.cpp
  examples/tv-app/linux/include/content-launcher/ContentLauncherManager.h
  examples/tv-app/linux/include/media-input/MediaInputManager.cpp
  examples/tv-app/linux/include/media-input/MediaInputManager.h
  examples/tv-app/linux/include/target-navigator/TargetNavigatorManager.cpp
  examples/tv-app/linux/include/target-navigator/TargetNavigatorManager.h
  examples/tv-app/linux/include/tv-channel/TvChannelManager.cpp
  examples/tv-app/linux/include/tv-channel/TvChannelManager.h
  src/app/clusters/application-launcher-server/application-launcher-server.cpp
  src/app/clusters/descriptor/descriptor.cpp
  src/app/clusters/operational-credentials-server/operational-credentials-server.cpp
  src/app/clusters/tv-channel-server/tv-channel-server.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @vivien-apple

Add TELINK_ZEPHYR_BASE in the telink docker image
  integrations/docker/images/chip-build-telink/Dockerfile
  scripts/build/builders/telink.py
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @mspang

Restyle fixes
  scripts/build/builders/telink.py
Owners: @mspang

Ensure cmd is initialized in telink
  scripts/build/builders/telink.py
Owners: @mspang

Ensure cmd is initialized in telink
  scripts/build/builders/telink.py
Owners: @mspang

Ensure cmd is initialized in telink
  scripts/build/builders/telink.py
Owners: @mspang

Fix order of environment validation
  scripts/build/builders/telink.py
Owners: @mspang

Fix build documentation for telink: output path and requirement for bootstrap
  examples/lighting-app/telink/Readme.md
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Have Linux/MdnsImpl use System::Layer timer.
  src/controller/java/MdnsImpl.cpp
  src/platform/Darwin/MdnsImpl.cpp
  src/platform/Linux/MdnsImpl.cpp
  src/platform/Linux/MdnsImpl.h
  src/system/WatchableEventManagerLibevent.cpp
  src/system/WatchableEventManagerSelect.cpp
Owners: @austinh0, @mspang, @yufengwangca, @kpschoedel

Address some not-quite-resolved review comments from PR 8107 (#9483)
  src/controller/CHIPDevice.cpp
  src/protocols/secure_channel/PASESession.h
  src/transport/PairingSession.h
Owners: @shana-apple, @pan-apple, @andy31415

Address review comments
  src/controller/CHIPDeviceController.h
Owners: @shana-apple, @pan-apple

Disallow VLAs in Matter code by adding -Wvla to our strict warnings config.
  build/config/compiler/BUILD.gn
  src/app/zap-templates/templates/app/CHIPClientCallbacks-src.zapt
  src/crypto/tests/CHIPCryptoPALTest.cpp
  src/darwin/Framework/CHIP/CHIPOperationalCredentialsDelegate.mm
  src/darwin/Framework/CHIP/templates/partials/CHIPCallbackBridge.zapt
  src/platform/Linux/KeyValueStoreManagerImpl.cpp
  src/setup_payload/ManualSetupPayloadGenerator.cpp
Owners: @mspang, @vivien-apple, @erjianqing, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @shana-apple, @pan-apple, @rgoliver, @jrhees-cae

Fix retransmition table size is 0 if Lwip custom pool is used (#9465)
  src/messaging/ReliableMessageProtocolConfig.h
Owners: @yufengwangca, @bzbarsky-apple

allow for telink gen, fix up all platform commands constants
  scripts/build/builders/telink.py
  scripts/build/expected_all_platform_commands.txt
Owners: @mspang

Regenerate generated files
  src/darwin/Framework/CHIP/zap-generated/CHIPCallbackBridge.mm
  zzz_generated/controller-clusters/zap-generated/CHIPClientCallbacks.cpp
  zzz_generated/tv-app/zap-generated/CHIPClientCallbacks.cpp
Owners: @shana-apple, @vivien-apple, @pan-apple, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Fix more placeholders in the scripts unit test
  scripts/build/expected_all_platform_commands.txt
Owners: @mspang

[YAML] Add notValue constraints support
  examples/chip-tool/templates/partials/test_cluster.zapt
  examples/chip-tool/templates/tests-commands.zapt
  src/app/tests/suites/TestConstraints.yaml
  src/darwin/Framework/CHIP/templates/clusters-tests.zapt
  src/darwin/Framework/CHIP/templates/partials/test_cluster.zapt
Owners: @vivien-apple, @shana-apple, @pan-apple

Update generated tests
  src/darwin/Framework/CHIPTests/CHIPClustersTests.m
  zzz_generated/chip-tool/zap-generated/test/Commands.h
Owners: @shana-apple, @vivien-apple, @pan-apple, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Restyled by whitespace
  src/app/tests/suites/TestConstraints.yaml
Owners: @vivien-apple

[YAML] Add notValue constraints support
  examples/chip-tool/templates/partials/test_cluster.zapt
  examples/chip-tool/templates/tests-commands.zapt
  src/app/tests/suites/TestConstraints.yaml
  src/darwin/Framework/CHIP/templates/clusters-tests.zapt
  src/darwin/Framework/CHIP/templates/partials/test_cluster.zapt
Owners: @vivien-apple, @shana-apple, @pan-apple

Disallow VLAs in Matter code (#9476)
  build/config/compiler/BUILD.gn
  src/app/zap-templates/templates/app/CHIPClientCallbacks-src.zapt
  src/crypto/tests/CHIPCryptoPALTest.cpp
  src/darwin/Framework/CHIP/CHIPOperationalCredentialsDelegate.mm
  src/darwin/Framework/CHIP/templates/partials/CHIPCallbackBridge.zapt
  src/darwin/Framework/CHIP/zap-generated/CHIPCallbackBridge.mm
  src/platform/Linux/KeyValueStoreManagerImpl.cpp
  src/setup_payload/ManualSetupPayloadGenerator.cpp
  zzz_generated/controller-clusters/zap-generated/CHIPClientCallbacks.cpp
  zzz_generated/tv-app/zap-generated/CHIPClientCallbacks.cpp
Owners: @mspang, @vivien-apple, @erjianqing, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @shana-apple, @pan-apple, @rgoliver, @jrhees-cae

Fix mis-spellings of "commissioning" and confusing CommissioningComplete documentation. (#9482)
  src/controller/CHIPDeviceController.h
  src/controller/python/ChipDeviceController-ScriptBinding.cpp
  src/controller/python/chip/ChipDeviceCtrl.py
Owners: @shana-apple, @pan-apple, @andy31415, @erjianqing

Make System::Clock mockable
  src/platform/ESP32/SystemTimeSupport.cpp
  src/platform/FreeRTOS/SystemTimeSupport.cpp
  src/platform/Linux/SystemTimeSupport.cpp
  src/platform/Zephyr/SystemTimeSupport.cpp
  src/platform/mbed/SystemTimeSupport.cpp
  src/platform/nrfconnect/SystemPlatformConfig.h
  src/platform/tests/TestPlatformTime.cpp
  src/protocols/bdx/TransferFacilitator.cpp
  src/system/SystemClock.cpp
  src/system/SystemClock.h
  src/system/SystemLayerImplLibevent.cpp
  src/system/SystemLayerImplSelect.cpp
  src/system/tests/BUILD.gn
  src/system/tests/TestSystemClock.cpp
Owners: @mspang, @yufengwangca, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @kpschoedel

Restyled by clang-format
  src/system/tests/TestSystemClock.cpp
Owners: @kpschoedel

restyle
  src/system/tests/TestSystemClock.cpp
Owners: @kpschoedel

add missing comma in BUILD.gn
  examples/ota-requestor-app/linux/BUILD.gn
Owners: @mspang

add build instructions to ota-provider-app
  examples/ota-provider-app/linux/README.md
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Update generated tests
  src/darwin/Framework/CHIPTests/CHIPClustersTests.m
  zzz_generated/chip-tool/zap-generated/test/Commands.h
Owners: @shana-apple, @vivien-apple, @pan-apple, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Fixes from CI
  src/platform/telink/SystemPlatformConfig.h
  src/system/tests/TestSystemClock.cpp
Owners: @mspang, @yufengwangca, @kpschoedel

Added DeconstructAttestationElements/ConstructAttestationElements helpers
  src/credentials/BUILD.gn
  src/credentials/DeviceAttestationConstructor.cpp
  src/credentials/DeviceAttestationConstructor.h
  src/credentials/DeviceAttestationVerifier.h
  src/credentials/examples/DeviceAttestationVerifierExample.cpp
  src/credentials/tests/BUILD.gn
  src/credentials/tests/TestDeviceAttestationConstruction.cpp
  src/credentials/tests/TestDeviceAttestationCredentials.cpp
Owners: @pan-apple, @emargolis

Restyled by gn
  src/credentials/BUILD.gn
Owners: @pan-apple, @emargolis

wrap part of TestRealClock in !CHIP_SYSTEM_CONFIG_PLATFORM_PROVIDES_TIME
  src/system/tests/TestSystemClock.cpp
Owners: @kpschoedel

add build instructions to ota-provider-app (#9549)
  examples/ota-provider-app/linux/README.md
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

refactor RI tests
  examples/chip-tool/commands/payload/AdditionalDataParseCommand.cpp
  src/setup_payload/AdditionalDataPayloadParser.h
  src/setup_payload/tests/TestAdditionalDataPayload.cpp
Owners: @vivien-apple, @shana-apple, @jrhees-cae

.github/CODEOWNERS:

# Current reviewers-XXX teams, who review everything for approval.
* @reviewers-amazon @reviewers-apple @reviewers-comcast @reviewers-google @reviewers-nordic @reviewers-samsung @reviewers-silabs


# BUILD system

*.gn @mspang
/build/ @mspang
/scripts/build/ @mspang

# Crypto
# Crypto primitives and high level API, generally on top of mbedtls and openssl
/src/crypto/* @pan-apple @emargolis
/src/credentials/ @pan-apple @emargolis

# Transport
# Send and receive data abstracting away the underlying protocol (UDP, TCP, BLE)
/src/transport/ @andy31415 @pan-apple

# Session establishment
# Establish a secure session (encryption keys) from one node to another.
# Includes CASE and PASE + session tracking and resumptioon
/src/protocols/secure_channel/ @pan-apple

# Message Layer
# CRMP and packet headers, generally coupled with SecureSessionManager
/src/messaging @yufengwangca @kghost @bzbarksy-apple
/src/transport/raw/MessageHeader.* @yufengwangca @kghost @bzbarksy-apple

# SecureSessionManager
# Manages per-session encryption keys and new session establishment
/src/transport/SecureSessionMgr.* @pan-apple

# Exchange management
# Joins requests and responses or ties a series of messages belonging to the 
# same protocol interaction
/src/messaging/ @yufengwangca @bzbarsky-apple
/src/channel/ @yufengwangca @bzbarsky-apple

# DNS-SD discovery and advertisement
# Advertise chip devices for commisioning, operational and discover such devices
/src/lib/mdns/ @andy31415 @gjc13 @damian-nordic

# Commisioning controller/flow
# Example of a comisioning sequence
/src/controller/ @pan-apple @erjiaqing

# Operational credentials management
# Signing certificates, maintaining roots of trust, validation, fabric management
/src/controller/ @shana-apple @pan-apple
/src/transport/AdminPairingTable.* @shana-apple @pan-apple

# TLV encoding/decoding to/from byte buffers
/src/lib/core/CHIPTLV* @yunhanw-google @bzbarsky-apple @shana-apple

# Interaction model - ember implementation
# ZCL protocol implementation: ZCL encoding to be sent over the wire as a 
# ZigbeePro protocol implementation
/src/app/util/ @vivien-apple @erjianqing @bzbarsky-apple

# Interaction model - non-ember
# Protocol implementation for IM interactions between nodes, matching spec
/src/app/ @yunhanw-google @bzbarsky-apple @mrjerryjohns

# Interaction model - code generation
# CHIP-specific infrastructure for generating code: helper js methods, scripts
# and code layout
/src/app/zap-templates/ @vivien-apple @erjianqing

# ZAP suppport
# UI for editing XML, generates code from such ZML and configuration files
# NOT part of CHIP however CHIP relies heavily on ZAP.
#    @vivien-apple  @tecimovic

# 'Standard' cluster implementations (server side)
# Clusters shipped with the sdk, can be integrated as-is or used as a template
/src/app/clusters/ @vivien-apple

# Onboarding payload
# Parsing and generation of codes (includes QR and NFC), numeric pairing payload
/src/setup_payload/ @shana-apple @vivien-apple @jrhees-cae

# Device Layer
# Porting interfaces, scaffolding for building an example firmware
/src/platform/ @mspang @yufengwangca
/src/include/platform/ @mspang @yufengwangca

# Persistent storage
# Save state across reboots
/src/platform/*/KeyValueStore* @rgoliver

# Python bindings for CHIP - CLI
# Allows python code to use CHIP, generally targeted towards automation
/src/controller/python/ @andy31415 @erjianqing

# CHIP-tool C++ CLI
# Command line interface to chip as a client (controller and commisioner)
# Includes generated code for every base cluster
/examples/chip-tool/ @vivien-apple

# CHIP-tool iOS UI
/src/darwin/CHIPTool/ @shana-apple

# CHIP-tool Android
/src/android/CHIPTool/ @austinh0
/src/controller/java/ @austinh0

# End2End autogenerated tests
/src/darwin/Framework/Chip-templates/ @vivien-apple
/src/app/tests/suites/ @vivien-apple

# End2End cirque tests
# Simulate topology (cirque) and ptyhon-based test automation
/src/test_driver/linux/cirque/ @erjianqing @yunhanw-google

# Thread integration
# Thread-specific functionality (network provisioning, operational discovery, SRP registration etc.)
/src/platform/OpenThread/ @bukepo
/src/platform/*/ThreadStackmanagerImpl.* @bukepo

# Inet
# Networking abstraction layer (UDP-endpoint, TCP-endpoint, InetLayerBasis)
/src/inet/ @kpschoedel 

# System layer
/src/system/ @kpschoedel 

# BLE support
/src/ble/ @yunhanw-google

# CHIP Shell
# Command-line UART/stdin interface as a side-channel to CHIP accessories
# Aimed as user-friendly/manual control
/src/examples/shell/ @gjc13 @yufengwangca

# RPC
# Side-channlel command path (outside chip), generally for automation and debugging
# Aimed as "scriptable" when compared to shell
/examples/common/pigweed/ @rgoliver
/examples/pigweed-app/ @rgoliver

# Tooling for crypto manual generation
# Generates data for sample PKI
/src/tools/chip-cert/ @emargolis

# Channel API
# Construct a transport/secure session based on peer info and transport type.
# Focused on CASE session establishment
/src/channel/ @kghost

# Darwin framework
# Exposes a darwin API (Objective-C/swift rather than raw C++ API) for darwin
# applications
/src/darwin/Framework/ @shana-apple @vivien-apple @pan-apple
