Repository project-chip/connectedhomeip, changes with the owners that .github/CODEOWNERS names for each.
All owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @mspang, @pan-apple, @emargolis, @andy31415, @yufengwangca, @kghost, @bzbarksy-apple, @bzbarsky-apple, @gjc13, @damian-nordic, @erjiaqing, @shana-apple, @yunhanw-google, @vivien-apple, @erjianqing, @mrjerryjohns, @jrhees-cae, @rgoliver, @austinh0, @bukepo, @kpschoedel

.github/CODEOWNERS:

# Current reviewers-XXX teams, who review everything for approval.
* @reviewers-amazon @reviewers-apple @reviewers-comcast @reviewers-google @reviewers-nordic @reviewers-samsung @reviewers-silabs


# BUILD system

*.gn @mspang
/build/ @mspang
/scripts/build/ @mspang

# Crypto
# Crypto primitives and high level API, generally on top of mbedtls and openssl
/src/crypto/* @pan-apple @emargolis
/src/credentials/ @pan-apple @emargolis

# Transport
# Send and receive data abstracting away the underlying protocol (UDP, TCP, BLE)
/src/transport/ @andy31415 @pan-apple

# Session establishment
# Establish a secure session (encryption keys) from one node to another.
# Includes CASE and PASE + session tracking and resumptioon
/src/protocols/secure_channel/ @pan-apple

# Message Layer
# CRMP and packet headers, generally coupled with SecureSessionManager
/src/messaging @yufengwangca @kghost @bzbarksy-apple
/src/transport/raw/MessageHeader.* @yufengwangca @kghost @bzbarksy-apple

# SecureSessionManager
# Manages per-session encryption keys and new session establishment
/src/transport/SecureSessionMgr.* @pan-apple

# Exchange management
# Joins requests and responses or ties a series of messages belonging to the 
# same protocol interaction
/src/messaging/ @yufengwangca @bzbarsky-apple
/src/channel/ @yufengwangca @bzbarsky-apple

# DNS-SD discovery and advertisement
# Advertise chip devices for commisioning, operational and discover such devices
/src/lib/mdns/ @andy31415 @gjc13 @damian-nordic

# Commisioning controller/flow
# Example of a comisioning sequence
/src/controller/ @pan-apple @erjiaqing

# Operational credentials management
# Signing certificates, maintaining roots of trust, validation, fabric management
/src/controller/ @shana-apple @pan-apple
/src/transport/AdminPairingTable.* @shana-apple @pan-apple

# TLV encoding/decoding to/from byte buffers
/src/lib/core/CHIPTLV* @yunhanw-google @bzbarsky-apple @shana-apple

# Interaction model - ember implementation
# ZCL protocol implementation: ZCL encoding to be sent over the wire as a 
# ZigbeePro protocol implementation
/src/app/util/ @vivien-apple @erjianqing @bzbarsky-apple

# Interaction model - non-ember
# Protocol implementation for IM interactions between nodes, matching spec
/src/app/ @yunhanw-google @bzbarsky-apple @mrjerryjohns

# Interaction model - code generation
# CHIP-specific infrastructure for generating code: helper js methods, scripts
# and code layout
/src/app/zap-templates/ @vivien-apple @erjianqing

# ZAP suppport
# UI for editing XML, generates code from such ZML and configuration files
# NOT part of CHIP however CHIP relies heavily on ZAP.
#    @vivien-apple  @tecimovic

# 'Standard' cluster implementations (server side)
# Clusters shipped with the sdk, can be integrated as-is or used as a template
/src/app/clusters/ @vivien-apple

# Onboarding payload
# Parsing and generation of codes (includes QR and NFC), numeric pairing payload
/src/setup_payload/ @shana-apple @vivien-apple @jrhees-cae

# Device Layer
# Porting interfaces, scaffolding for building an example firmware
/src/platform/ @mspang @yufengwangca
/src/include/platform/ @mspang @yufengwangca

# Persistent storage
# Save state across reboots
/src/platform/*/KeyValueStore* @rgoliver

# Python bindings for CHIP - CLI
# Allows python code to use CHIP, generally targeted towards automation
/src/controller/python/ @andy31415 @erjianqing

# CHIP-tool C++ CLI
# Command line interface to chip as a client (controller and commisioner)
# Includes generated code for every base cluster
/examples/chip-tool/ @vivien-apple

# CHIP-tool iOS UI
/src/darwin/CHIPTool/ @shana-apple

# CHIP-tool Android
/src/android/CHIPTool/ @austinh0
/src/controller/java/ @austinh0

# End2End autogenerated tests
/src/darwin/Framework/Chip-templates/ @vivien-apple
/src/app/tests/suites/ @vivien-apple

# End2End cirque tests
# Simulate topology (cirque) and ptyhon-based test automation
/src/test_driver/linux/cirque/ @erjianqing @yunhanw-google

# Thread integration
# Thread-specific functionality (network provisioning, operational discovery, SRP registration etc.)
/src/platform/OpenThread/ @bukepo
/src/platform/*/ThreadStackmanagerImpl.* @bukepo

# Inet
# Networking abstraction layer (UDP-endpoint, TCP-endpoint, InetLayerBasis)
/src/inet/ @kpschoedel 

# System layer
/src/system/ @kpschoedel 

# BLE support
/src/ble/ @yunhanw-google

# CHIP Shell
# Command-line UART/stdin interface as a side-channel to CHIP accessories
# Aimed as user-friendly/manual control
/src/examples/shell/ @gjc13 @yufengwangca

# RPC
# Side-channlel command path (outside chip), generally for automation and debugging
# Aimed as "scriptable" when compared to shell
/examples/common/pigweed/ @rgoliver
/examples/pigweed-app/ @rgoliver

# Tooling for crypto manual generation
# Generates data for sample PKI
/src/tools/chip-cert/ @emargolis

# Channel API
# Construct a transport/secure session based on peer info and transport type.
# Focused on CASE session establishment
/src/channel/ @kghost

# Darwin framework
# Exposes a darwin API (Objective-C/swift rather than raw C++ API) for darwin
# applications
/src/darwin/Framework/ @shana-apple @vivien-apple @pan-apple

Restyled by clang-format
  src/platform/Darwin/Logging.cpp
Owners: @mspang, @yufengwangca

Throw exception instead of return 0 for get-fabricid in case of error
  src/controller/python/chip/ChipDeviceCtrl.py
Owners: @andy31415, @erjianqing

Restyled by clang-format
  src/controller/java/AndroidDeviceControllerWrapper.cpp
  src/controller/java/JniReferences.cpp
  src/protocols/secure_channel/RendezvousParameters.h
Owners: @austinh0, @pan-apple

Using HSM for ops key
  src/transport/AdminPairingTable.h
Owners: @shana-apple, @pan-apple

Updated ASN1 Writer Implementation. (#7832)
  src/credentials/CHIPCert.cpp
  src/credentials/CHIPCert.h
  src/credentials/tests/CHIPCert_test_vectors.cpp
  src/credentials/tests/TestChipCert.cpp
  src/lib/asn1/ASN1.h
  src/lib/asn1/ASN1Writer.cpp
  src/tools/chip-cert/BUILD.gn
  src/tools/chip-cert/Cmd_ConvertKey.cpp
  src/tools/chip-cert/Cmd_GenCert.cpp
  src/tools/chip-cert/chip-cert.h
Owners: @pan-apple, @emargolis, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Remove int cast from ParseValueWithType value argument (#7850)
  src/controller/python/chip-device-ctrl.py
Owners: @andy31415, @erjianqing

Using HSM for OPS key
  src/transport/AdminPairingTable.cpp
Owners: @shana-apple, @pan-apple

Using HSM for ops key
  src/transport/AdminPairingTable.cpp
Owners: @shana-apple, @pan-apple

added logs
  src/crypto/hsm/nxp/CHIPCryptoPALHsm_SE05X_P256.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Restart operational advertisements when we get a new opcert.
  src/app/clusters/operational-credentials-server/operational-credentials-server.cpp
Owners: @vivien-apple

[ESP] Add ESP32C3 DevKitM support to all-clusters-app (#6345)
  config/esp32/components/chip/CMakeLists.txt
  config/esp32/components/chip/component.mk
  examples/all-clusters-app/esp32/CMakeLists.txt
  examples/all-clusters-app/esp32/README.md
  examples/all-clusters-app/esp32/main/CMakeLists.txt
  examples/all-clusters-app/esp32/main/Kconfig.projbuild
  examples/all-clusters-app/esp32/main/main.cpp
  examples/lock-app/esp32/CMakeLists.txt
  examples/lock-app/esp32/README.md
  examples/persistent-storage/esp32/CMakeLists.txt
  examples/persistent-storage/esp32/README.md
  examples/pigweed-app/esp32/CMakeLists.txt
  examples/pigweed-app/esp32/README.md
  examples/shell/esp32/main/CMakeLists.txt
  examples/temperature-measurement-app/esp32/CMakeLists.txt
  examples/temperature-measurement-app/esp32/README.md
  integrations/docker/images/chip-build-esp32/Dockerfile
  integrations/docker/images/chip-build/version
  scripts/constraints.txt
  scripts/requirements.esp32.txt
  src/lib/core/CHIPTLV.h
  src/platform/ESP32/PlatformManagerImpl.cpp
  src/platform/ESP32/nimble/BLEManagerImpl.cpp
  src/test_driver/esp32/README.md
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @rgoliver, @yunhanw-google, @bzbarsky-apple, @shana-apple, @mspang, @yufengwangca

logs
  src/crypto/hsm/nxp/CHIPCryptoPALHsm_SE05X_Spake2p.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Removed KeyEncipherment flag from the NOC Certificate Extension.
  src/credentials/CHIPCert.h
  src/credentials/GenerateChipX509Cert.cpp
  src/credentials/tests/CHIPCert_test_vectors.cpp
  src/credentials/tests/TestChipCert.cpp
  src/tools/chip-cert/CertUtils.cpp
Owners: @pan-apple, @emargolis

Address comments, cleanup logging
  src/app/server/Server.cpp
  src/controller/CHIPDeviceController.cpp
  src/lib/mdns/Advertiser.h
  src/lib/mdns/Advertiser_ImplMinimalMdns.cpp
  src/lib/mdns/Discovery_ImplPlatform.cpp
  src/lib/mdns/Resolver_ImplMinimalMdns.cpp
  src/lib/mdns/ServiceNaming.cpp
  src/lib/shell/commands/Commissioning.cpp
  src/messaging/ExchangeMgr.cpp
  src/messaging/tests/echo/echo_requester.cpp
  src/messaging/tests/echo/echo_responder.cpp
  src/protocols/user_directed_commissioning/UserDirectedCommissioningServer.cpp
  src/transport/SecureMessageCodec.cpp
Owners: @yunhanw-google, @bzbarsky-apple, @mrjerryjohns, @shana-apple, @pan-apple, @andy31415, @gjc13, @damian-nordic, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @yufengwangca

Address review comments
  examples/chip-tool/commands/common/Command.cpp
  examples/chip-tool/commands/common/Command.h
  examples/chip-tool/commands/common/Commands.cpp
Owners: @vivien-apple

Make chip-tool run on a single event loop (#7824)
  .github/workflows/tests.yaml
  examples/chip-tool/BUILD.gn
  examples/chip-tool/commands/common/Command.cpp
  examples/chip-tool/commands/common/Command.h
  examples/chip-tool/commands/common/Commands.cpp
  src/include/platform/internal/GenericPlatformManagerImpl_POSIX.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @vivien-apple, @mspang, @yufengwangca

cleanup #defines, logging
  examples/tv-app/tv-common/include/CHIPProjectAppConfig.h
  src/app/server/Server.cpp
  src/app/server/Server.h
  src/controller/CHIPDeviceController.cpp
  src/controller/CHIPDeviceController.h
  src/include/platform/CHIPDeviceConfig.h
  src/lib/mdns/Advertiser_ImplMinimalMdns.cpp
  src/lib/mdns/Discovery_ImplPlatform.cpp
  src/protocols/user_directed_commissioning/UserDirectedCommissioning.h
  src/protocols/user_directed_commissioning/UserDirectedCommissioningClient.cpp
  src/protocols/user_directed_commissioning/UserDirectedCommissioningServer.cpp
  src/system/SystemPacketBuffer.h
  src/transport/raw/MessageHeader.cpp
  src/transport/raw/UDP.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @yunhanw-google, @bzbarsky-apple, @mrjerryjohns, @shana-apple, @pan-apple, @mspang, @yufengwangca, @andy31415, @gjc13, @damian-nordic, @kpschoedel, @kghost, @bzbarksy-apple

Use GetConnectedDevice in TestCommand to wait for CASE session (#7865)
  examples/chip-tool/commands/tests/TestCommand.cpp
  examples/chip-tool/commands/tests/TestCommand.h
Owners: @vivien-apple

cleanup #defines, logging
  examples/lighting-app/linux/include/CHIPProjectAppConfig.h
  examples/tv-app/tv-common/include/CHIPProjectAppConfig.h
  src/transport/raw/UDP.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @andy31415, @pan-apple

[cleanup] Remove code for encoding ember response commands (#7843)
  src/app/clusters/door-lock-server/door-lock-server-logging.cpp
  src/app/clusters/door-lock-server/door-lock-server-schedule.cpp
  src/app/clusters/door-lock-server/door-lock-server-user.cpp
  src/app/clusters/groups-server/groups-server.cpp
  src/app/clusters/identify/identify.cpp
  src/app/clusters/operational-credentials-server/operational-credentials-server.cpp
  src/app/clusters/scenes/scenes.cpp
Owners: @vivien-apple

Restart operational advertisements when we get a new opcert. (#7885)
  src/app/clusters/operational-credentials-server/operational-credentials-server.cpp
Owners: @vivien-apple

Add default values back to the temperature measurement cluster (#7810)
  src/app/zap-templates/zcl/temperature-measurement-cluster.xml
Owners: @vivien-apple, @erjianqing

Reset all device objects on controller shutdown
  src/controller/CHIPDevice.cpp
  src/controller/CHIPDeviceController.cpp
Owners: @shana-apple, @pan-apple

Integrated Zephyr shell with the CHIP lib shell (#7848)
  BUILD.gn
  config/nrfconnect/chip-gn/BUILD.gn
  config/nrfconnect/chip-module/CMakeLists.txt
  config/zephyr/Kconfig
  docs/guides/nrfconnect_examples_cli.md
  examples/shell/nrfconnect/prj.conf
  src/lib/shell/BUILD.gn
  src/lib/shell/Commands.h
  src/lib/shell/Engine.cpp
  src/lib/shell/MainLoopZephyr.cpp
  src/lib/shell/commands/BLE.cpp
  src/lib/shell/commands/BUILD.gn
  src/lib/shell/commands/Device.cpp
  src/lib/shell/commands/NFC.cpp
  src/lib/shell/commands/OnboardingCodes.cpp
  src/lib/shell/streamer_zephyr.cpp
  src/platform/nrfconnect/shell/BUILD.gn
  src/platform/nrfconnect/shell/ChipShell.cpp
Owners: @mspang, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @yufengwangca

[QPG6100] Fix sync of cluster attributes on manual change of light status (#7878)
  examples/lighting-app/qpg6100/src/AppTask.cpp
  examples/lighting-app/qpg6100/src/LightingManager.cpp
  examples/lighting-app/qpg6100/src/ZclCallbacks.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Removed KeyEncipherment flag from the NOC Certificate Extension. (#7888)
  src/credentials/CHIPCert.h
  src/credentials/GenerateChipX509Cert.cpp
  src/credentials/tests/CHIPCert_test_vectors.cpp
  src/credentials/tests/TestChipCert.cpp
  src/tools/chip-cert/CertUtils.cpp
Owners: @pan-apple, @emargolis

Retrieving OpCSR from the Chip Device after passing the CSRNonce.
  src/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/GenericChipDeviceListener.kt
  src/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/provisioning/DeviceProvisioningFragment.kt
  src/controller/CHIPDevice.h
  src/controller/CHIPDeviceController.cpp
  src/controller/java/AndroidDeviceControllerWrapper.cpp
  src/controller/java/AndroidDeviceControllerWrapper.h
  src/controller/java/CHIPDeviceController-JNI.cpp
  src/controller/java/JniReferences.cpp
  src/controller/java/JniReferences.h
  src/controller/java/src/chip/devicecontroller/ChipDeviceController.java
  src/protocols/secure_channel/RendezvousParameters.h
Owners: @austinh0, @shana-apple, @pan-apple

cleanup
  src/app/server/Server.cpp
  src/controller/CHIPDeviceController.cpp
  src/controller/CHIPDeviceController.h
  src/lib/mdns/Resolver_ImplMinimalMdns.cpp
  src/lib/mdns/minimal/RecordData.cpp
  src/lib/mdns/minimal/RecordData.h
  src/protocols/user_directed_commissioning/UserDirectedCommissioningServer.cpp
  src/transport/SecureMessageCodec.cpp
  src/transport/raw/UDP.cpp
Owners: @yunhanw-google, @bzbarsky-apple, @mrjerryjohns, @shana-apple, @pan-apple, @andy31415, @gjc13, @damian-nordic, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Restyled by whitespace
  src/controller/CHIPDeviceController.cpp
Owners: @shana-apple, @pan-apple

Restyled by gn
  src/lib/shell/commands/BUILD.gn
  src/protocols/BUILD.gn
Owners: @mspang

Adding python bindings and platform implementation for Commissioner discovery
  src/controller/python/BUILD.gn
  src/controller/python/ChipCommissionableNodeController-ScriptBinding.cpp
  src/controller/python/ChipDeviceController-ScriptBinding.cpp
  src/controller/python/chip-device-ctrl.py
  src/controller/python/chip/ChipCommissionableNodeCtrl.py
  src/lib/mdns/Discovery_ImplPlatform.cpp
  src/lib/mdns/Discovery_ImplPlatform.h
  src/lib/mdns/Resolver.h
  src/lib/mdns/Resolver_ImplMinimalMdns.cpp
  src/lib/mdns/ServiceNaming.cpp
  src/lib/mdns/ServiceNaming.h
  src/lib/mdns/tests/TestServiceNaming.cpp
Owners: @andy31415, @erjianqing, @gjc13, @damian-nordic

WindowCovering: Update cluster definition xml (#7876)
  examples/all-clusters-app/all-clusters-common/gen/endpoint_config.h
  examples/chip-tool/commands/clusters/Commands.h
  examples/chip-tool/commands/reporting/Commands.h
  examples/window-app/common/gen/IMClusterCommandHandler.cpp
  examples/window-app/common/gen/callback.h
  examples/window-app/common/gen/endpoint_config.h
  examples/window-app/efr32/src/AppTask.cpp
  examples/window-app/efr32/src/ZclCallbacks.cpp
  src/app/clusters/scenes/scenes.cpp
  src/app/common/gen/attribute-id.h
  src/app/common/gen/client-command-macro.h
  src/app/common/gen/command-id.h
  src/app/common/gen/enums.h
  src/app/zap-templates/zcl/data-model/silabs/ha.xml
  src/app/zap-templates/zcl/window-covering.xml
  src/app/zap-templates/zcl/zcl.json
  src/controller/data_model/gen/CHIPClusters.cpp
  src/controller/data_model/gen/CHIPClusters.h
  src/controller/data_model/gen/chip-zcl-zpro-codec-api.h
  src/controller/data_model/gen/encoder.cpp
  src/controller/data_model/gen/endpoint_config.h
  src/controller/java/gen/CHIPClusters-JNI.cpp
  src/controller/java/gen/ChipClusters.java
  src/controller/python/chip/clusters/CHIPClusters.cpp
  src/controller/python/chip/clusters/CHIPClusters.py
  src/darwin/Framework/CHIP/gen/CHIPClustersObjc.h
  src/darwin/Framework/CHIP/gen/CHIPClustersObjc.mm
  src/darwin/Framework/CHIPTests/CHIPClustersTests.m
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @vivien-apple, @yunhanw-google, @bzbarsky-apple, @mrjerryjohns, @erjianqing, @shana-apple, @pan-apple, @austinh0, @andy31415

Restyled by clang-format
  src/crypto/hsm/nxp/CHIPCryptoPALHsm_SE05X_P256.cpp
  src/crypto/hsm/nxp/CHIPCryptoPALHsm_SE05X_Spake2p.cpp
  src/protocols/secure_channel/CASESession.cpp
  src/protocols/secure_channel/CASESession.h
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @pan-apple

Restyled by gn
  third_party/simw-top-mini/BUILD.gn
Owners: @mspang

Reset all device objects on controller shutdown (#7894)
  src/controller/CHIPDevice.cpp
  src/controller/CHIPDeviceController.cpp
Owners: @shana-apple, @pan-apple

Restyled by whitespace
  src/controller/python/ChipCommissionableNodeController-ScriptBinding.cpp
Owners: @andy31415, @erjianqing

restyled
  src/crypto/hsm/nxp/CHIPCryptoPALHsm_SE05X_P256.cpp
  src/crypto/hsm/nxp/CHIPCryptoPALHsm_SE05X_Spake2p.cpp
  src/protocols/secure_channel/CASESession.cpp
  src/protocols/secure_channel/CASESession.h
  third_party/simw-top-mini/BUILD.gn
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @pan-apple, @mspang

Update src/app/clusters/level-control/level-control.cpp
  src/app/clusters/level-control/level-control.cpp
Owners: @vivien-apple

updated readme
  src/crypto/hsm/nxp/README.md
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

updated readme
  src/crypto/hsm/nxp/README.md
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs
