Repository project-chip/connectedhomeip, changes with the owners that .github/CODEOWNERS names for each.
All owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @mspang, @pan-apple, @emargolis, @andy31415, @yufengwangca, @kghost, @bzbarksy-apple, @bzbarsky-apple, @gjc13, @damian-nordic, @erjiaqing, @shana-apple, @yunhanw-google, @vivien-apple, @erjianqing, @mrjerryjohns, @jrhees-cae, @rgoliver, @austinh0, @bukepo, @kpschoedel

.github/CODEOWNERS:

# Current reviewers-XXX teams, who review everything for approval.
* @reviewers-amazon @reviewers-apple @reviewers-comcast @reviewers-google @reviewers-nordic @reviewers-samsung @reviewers-silabs


# BUILD system

*.gn @mspang
/build/ @mspang
/scripts/build/ @mspang

# Crypto
# Crypto primitives and high level API, generally on top of mbedtls and openssl
/src/crypto/* @pan-apple @emargolis
/src/credentials/ @pan-apple @emargolis

# Transport
# Send and receive data abstracting away the underlying protocol (UDP, TCP, BLE)
/src/transport/ @andy31415 @pan-apple

# Session establishment
# Establish a secure session (encryption keys) from one node to another.
# Includes CASE and PASE + session tracking and resumptioon
/src/protocols/secure_channel/ @pan-apple

# Message Layer
# CRMP and packet headers, generally coupled with SecureSessionManager
/src/messaging @yufengwangca @kghost @bzbarksy-apple
/src/transport/raw/MessageHeader.* @yufengwangca @kghost @bzbarksy-apple

# SecureSessionManager
# Manages per-session encryption keys and new session establishment
/src/transport/SecureSessionMgr.* @pan-apple

# Exchange management
# Joins requests and responses or ties a series of messages belonging to the 
# same protocol interaction
/src/messaging/ @yufengwangca @bzbarsky-apple
/src/channel/ @yufengwangca @bzbarsky-apple

# DNS-SD discovery and advertisement
# Advertise chip devices for commisioning, operational and discover such devices
/src/lib/mdns/ @andy31415 @gjc13 @damian-nordic

# Commisioning controller/flow
# Example of a comisioning sequence
/src/controller/ @pan-apple @erjiaqing

# Operational credentials management
# Signing certificates, maintaining roots of trust, validation, fabric management
/src/controller/ @shana-apple @pan-apple
/src/transport/AdminPairingTable.* @shana-apple @pan-apple

# TLV encoding/decoding to/from byte buffers
/src/lib/core/CHIPTLV* @yunhanw-google @bzbarsky-apple @shana-apple

# Interaction model - ember implementation
# ZCL protocol implementation: ZCL encoding to be sent over the wire as a 
# ZigbeePro protocol implementation
/src/app/util/ @vivien-apple @erjianqing @bzbarsky-apple

# Interaction model - non-ember
# Protocol implementation for IM interactions between nodes, matching spec
/src/app/ @yunhanw-google @bzbarsky-apple @mrjerryjohns

# Interaction model - code generation
# CHIP-specific infrastructure for generating code: helper js methods, scripts
# and code layout
/src/app/zap-templates/ @vivien-apple @erjianqing

# ZAP suppport
# UI for editing XML, generates code from such ZML and configuration files
# NOT part of CHIP however CHIP relies heavily on ZAP.
#    @vivien-apple  @tecimovic

# 'Standard' cluster implementations (server side)
# Clusters shipped with the sdk, can be integrated as-is or used as a template
/src/app/clusters/ @vivien-apple

# Onboarding payload
# Parsing and generation of codes (includes QR and NFC), numeric pairing payload
/src/setup_payload/ @shana-apple @vivien-apple @jrhees-cae

# Device Layer
# Porting interfaces, scaffolding for building an example firmware
/src/platform/ @mspang @yufengwangca
/src/include/platform/ @mspang @yufengwangca

# Persistent storage
# Save state across reboots
/src/platform/*/KeyValueStore* @rgoliver

# Python bindings for CHIP - CLI
# Allows python code to use CHIP, generally targeted towards automation
/src/controller/python/ @andy31415 @erjianqing

# CHIP-tool C++ CLI
# Command line interface to chip as a client (controller and commisioner)
# Includes generated code for every base cluster
/examples/chip-tool/ @vivien-apple

# CHIP-tool iOS UI
/src/darwin/CHIPTool/ @shana-apple

# CHIP-tool Android
/src/android/CHIPTool/ @austinh0
/src/controller/java/ @austinh0

# End2End autogenerated tests
/src/darwin/Framework/Chip-templates/ @vivien-apple
/src/app/tests/suites/ @vivien-apple

# End2End cirque tests
# Simulate topology (cirque) and ptyhon-based test automation
/src/test_driver/linux/cirque/ @erjianqing @yunhanw-google

# Thread integration
# Thread-specific functionality (network provisioning, operational discovery, SRP registration etc.)
/src/platform/OpenThread/ @bukepo
/src/platform/*/ThreadStackmanagerImpl.* @bukepo

# Inet
# Networking abstraction layer (UDP-endpoint, TCP-endpoint, InetLayerBasis)
/src/inet/ @kpschoedel 

# System layer
/src/system/ @kpschoedel 

# BLE support
/src/ble/ @yunhanw-google

# CHIP Shell
# Command-line UART/stdin interface as a side-channel to CHIP accessories
# Aimed as user-friendly/manual control
/src/examples/shell/ @gjc13 @yufengwangca

# RPC
# Side-channlel command path (outside chip), generally for automation and debugging
# Aimed as "scriptable" when compared to shell
/examples/common/pigweed/ @rgoliver
/examples/pigweed-app/ @rgoliver

# Tooling for crypto manual generation
# Generates data for sample PKI
/src/tools/chip-cert/ @emargolis

# Channel API
# Construct a transport/secure session based on peer info and transport type.
# Focused on CASE session establishment
/src/channel/ @kghost

# Darwin framework
# Exposes a darwin API (Objective-C/swift rather than raw C++ API) for darwin
# applications
/src/darwin/Framework/ @shana-apple @vivien-apple @pan-apple

Introducing CLI tv-casting-app for Linux (#8824)
  BUILD.gn
  examples/chip-tool/commands/discover/DiscoverCommissionersCommand.cpp
  examples/tv-casting-app/linux/.gn
  examples/tv-casting-app/linux/BUILD.gn
  examples/tv-casting-app/linux/Dockerfile
  examples/tv-casting-app/linux/README.md
  examples/tv-casting-app/linux/args.gni
  examples/tv-casting-app/linux/build_overrides
  examples/tv-casting-app/linux/entrypoint.sh
  examples/tv-casting-app/linux/main.cpp
  examples/tv-casting-app/linux/third_party/connectedhomeip
  examples/tv-casting-app/tv-casting-common/BUILD.gn
  examples/tv-casting-app/tv-casting-common/include/CHIPProjectAppConfig.h
  examples/tv-casting-app/tv-casting-common/tv-casting-app.zap
  src/BUILD.gn
  src/controller/AbstractMdnsDiscoveryController.cpp
  src/controller/AbstractMdnsDiscoveryController.h
  src/controller/BUILD.gn
  src/controller/CHIPCommissionableNodeController.cpp
  src/controller/CHIPCommissionableNodeController.h
  src/controller/tests/BUILD.gn
  src/controller/tests/TestCommissionableNodeController.cpp
  src/lib/mdns/Discovery_ImplPlatform.cpp
  src/lib/mdns/Resolver.h
  src/lib/mdns/Resolver_ImplMinimalMdns.cpp
  zzz_generated/tv-casting-app/zap-generated/CHIPClientCallbacks.cpp
  zzz_generated/tv-casting-app/zap-generated/CHIPClientCallbacks.h
  zzz_generated/tv-casting-app/zap-generated/CHIPClusters.cpp
  zzz_generated/tv-casting-app/zap-generated/CHIPClusters.h
  zzz_generated/tv-casting-app/zap-generated/IMClusterCommandHandler.cpp
  zzz_generated/tv-casting-app/zap-generated/af-gen-event.h
  zzz_generated/tv-casting-app/zap-generated/attribute-size.cpp
  zzz_generated/tv-casting-app/zap-generated/callback-stub.cpp
  zzz_generated/tv-casting-app/zap-generated/endpoint_config.h
  zzz_generated/tv-casting-app/zap-generated/gen_config.h
  zzz_generated/tv-casting-app/zap-generated/gen_tokens.h
Owners: @mspang, @vivien-apple, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @shana-apple, @pan-apple, @andy31415, @gjc13, @damian-nordic

Fix efr32 unit tests (#9213)
  src/BUILD.gn
Owners: @mspang

Add missing TXT field from sizes. (#9211)
  src/lib/mdns/Advertiser.h
Owners: @andy31415, @gjc13, @damian-nordic

Add a doc to describe build and run lighting app for i.mx 8mmevk (#9204)
  examples/lighting-app/linux/README.md
  examples/lighting-app/nxp/linux-imx/imx8m/README.md
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

[device controller] Add connect -code for connect using manual pairing code (#9182)
  src/controller/python/chip-device-ctrl.py
Owners: @andy31415, @erjianqing

Window Covering cluster: Added support for multiple endpoints. (#9139)
  examples/window-app/common/include/WindowApp.h
  examples/window-app/common/src/WindowApp.cpp
  examples/window-app/common/src/ZclCallbacks.cpp
  examples/window-app/common/window-app.zap
  examples/window-app/efr32/README.md
  examples/window-app/efr32/include/AppConfig.h
  examples/window-app/efr32/include/LcdPainter.h
  examples/window-app/efr32/include/WindowAppImpl.h
  examples/window-app/efr32/src/LcdPainter.cpp
  examples/window-app/efr32/src/WindowAppImpl.cpp
  src/app/clusters/window-covering-server/window-covering-server.cpp
  src/app/clusters/window-covering-server/window-covering-server.h
  zzz_generated/window-app/zap-generated/endpoint_config.h
  zzz_generated/window-app/zap-generated/gen_config.h
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @vivien-apple

Fix release of endpoints and shutdown SystemLayer in TestInetEndPoint. (#8379)
  src/inet/tests/TestInetEndPoint.cpp
Owners: @kpschoedel

Optional: allow holding non-default-constructable-type
  src/lib/core/Optional.h
  src/lib/support/Variant.h
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Restyled by clang-format
  src/lib/core/Optional.h
  src/lib/support/Variant.h
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Include bootstrap in Android CHIPTool docs
  docs/guides/android_chiptool_building.md
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Restyle fixes
  src/app/clusters/window-covering-server/window-covering-server.cpp
Owners: @vivien-apple

regenerate zap files
  zzz_generated/tv-casting-app/zap-generated/IMClusterCommandHandler.cpp
  zzz_generated/tv-casting-app/zap-generated/attribute-size.cpp
  zzz_generated/tv-casting-app/zap-generated/callback-stub.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Add more debug for failing tests, fix small bug. (#9210)
  src/platform/fake/MdnsImpl.cpp
  src/platform/fake/MdnsImpl.h
Owners: @mspang, @yufengwangca

Use ForEachActiveObject to iterate system pool (#9198)
  src/inet/InetLayer.cpp
Owners: @kpschoedel

Restyled by prettier-markdown
  src/test_driver/linux-cirque/README.md
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Fix cirque related bugs(file path, broken link) and update the documentation.
  docs/README.md
  src/test_driver/linux-cirque/ManualTest.py
  src/test_driver/linux-cirque/README.md
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Fix the errors due to rebase
  examples/all-clusters-app/Ameba/main/DeviceCallbacks.cpp
  src/platform/Ameba/AmebaConfig.cpp
  src/platform/Ameba/SystemPlatformConfig.h
  src/platform/Ameba/SystemTimeSupport.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @mspang, @yufengwangca

Restyled by clang-format
  src/platform/Ameba/AmebaConfig.cpp
  src/platform/Ameba/AmebaConfig.h
Owners: @mspang, @yufengwangca

Restyled by whitespace
  src/platform/Ameba/SystemPlatformConfig.h
Owners: @mspang, @yufengwangca

Restyled by gn
  src/BUILD.gn
  src/platform/device.gni
Owners: @mspang, @yufengwangca

Optional: allow holding non-default-constructable-type
  src/lib/core/Optional.h
  src/lib/support/Variant.h
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Restyled by clang-format
  src/lib/support/Variant.h
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Update our .gitattributes to properly list our generated files. (#9218)
  .gitattributes
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Optional: allow holding non-default-constructable-type
  build/config/compiler/BUILD.gn
  src/lib/core/Optional.h
  src/lib/support/Variant.h
Owners: @mspang, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Added pump examples build to CI
  .github/workflows/examples-nrfconnect.yaml
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Restyled by whitespace
  src/platform/Ameba/SystemPlatformConfig.h
Owners: @mspang, @yufengwangca

Restyled by clang-format
  src/platform/Ameba/AmebaConfig.cpp
  src/platform/Ameba/AmebaConfig.h
Owners: @mspang, @yufengwangca

Restyled by gn
  src/BUILD.gn
  src/platform/device.gni
Owners: @mspang, @yufengwangca

Remove default constructor of SessionHandle, reduce dangling session handle
  src/app/CommandSender.cpp
  src/app/CommandSender.h
  src/app/InteractionModelEngine.cpp
  src/app/InteractionModelEngine.h
  src/app/ReadClient.cpp
  src/app/ReadClient.h
  src/app/WriteClient.cpp
  src/app/WriteClient.h
  src/app/tests/TestCommandInteraction.cpp
  src/app/tests/TestReadInteraction.cpp
  src/app/tests/TestWriteInteraction.cpp
  src/app/tests/integration/chip_im_initiator.cpp
  src/channel/ChannelContext.cpp
  src/controller/CHIPDevice.cpp
  src/controller/CHIPDevice.h
  src/controller/CHIPDeviceController.cpp
  src/messaging/ExchangeContext.cpp
  src/messaging/ExchangeContext.h
  src/messaging/ExchangeMgr.cpp
  src/protocols/echo/Echo.h
  src/protocols/echo/EchoClient.cpp
  src/transport/SecureSessionMgr.cpp
  src/transport/SessionHandle.h
  src/transport/tests/TestSecureSessionMgr.cpp
  src/transport/tests/TestSessionHandle.cpp
Owners: @yunhanw-google, @bzbarsky-apple, @mrjerryjohns, @kghost, @shana-apple, @pan-apple, @yufengwangca, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @andy31415

Restyled by clang-format
  src/controller/CHIPDevice.cpp
Owners: @shana-apple, @pan-apple

Remove default constructor of SessionHandle, reduce dangling session handle
  src/app/CommandSender.cpp
  src/app/CommandSender.h
  src/app/InteractionModelEngine.cpp
  src/app/InteractionModelEngine.h
  src/app/ReadClient.cpp
  src/app/ReadClient.h
  src/app/WriteClient.cpp
  src/app/WriteClient.h
  src/app/tests/TestCommandInteraction.cpp
  src/app/tests/TestReadInteraction.cpp
  src/app/tests/TestWriteInteraction.cpp
  src/app/tests/integration/chip_im_initiator.cpp
  src/channel/ChannelContext.cpp
  src/controller/CHIPDevice.cpp
  src/controller/CHIPDevice.h
  src/controller/CHIPDeviceController.cpp
  src/messaging/ExchangeContext.cpp
  src/messaging/ExchangeContext.h
  src/messaging/ExchangeMgr.cpp
  src/protocols/echo/Echo.h
  src/protocols/echo/EchoClient.cpp
  src/transport/SecureSessionMgr.cpp
  src/transport/SessionHandle.h
  src/transport/tests/TestSecureSessionMgr.cpp
  src/transport/tests/TestSessionHandle.cpp
Owners: @yunhanw-google, @bzbarsky-apple, @mrjerryjohns, @kghost, @shana-apple, @pan-apple, @yufengwangca, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @andy31415

Fix typo in README.md
  examples/lighting-app/efr32/README.md
  examples/lighting-app/linux/README.md
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Fix typo in README.md
  examples/lighting-app/efr32/README.md
  examples/lighting-app/linux/README.md
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Created Power Source cluster XML description
  src/app/zap-templates/zcl/data-model/chip/power-source-cluster.xml
  src/app/zap-templates/zcl/zcl.json
Owners: @vivien-apple, @erjianqing

Added Power Source cluster to zap_cluster_list
  src/app/zap_cluster_list.py
Owners: @yunhanw-google, @bzbarsky-apple, @mrjerryjohns

Added Power Source cluster to all-clusters-app
  examples/all-clusters-app/all-clusters-common/all-clusters-app.zap
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Added Power Source cluster to controller-clusters
  src/controller/data_model/controller-clusters.zap
Owners: @shana-apple, @pan-apple

Added source files for Power Source cluster
  src/app/clusters/power-source-server/power-source-server.cpp
  src/app/clusters/power-source-server/power-source-server.h
Owners: @vivien-apple

Regenerate all with Power Source cluster changes
  examples/chip-tool/commands/clusters/Commands.h
  src/app/common/gen/af-structs.h
  src/app/common/gen/attribute-id.h
  src/app/common/gen/attributes/Accessors.cpp
  src/app/common/gen/attributes/Accessors.h
  src/app/common/gen/callback.h
  src/app/common/gen/cluster-id.h
  src/app/common/gen/enums.h
  src/app/common/gen/ids/Attributes.h
  src/app/common/gen/ids/Clusters.h
  src/app/common/gen/print-cluster.h
  src/controller/data_model/zap-generated/CHIPClientCallbacks.cpp
  src/controller/data_model/zap-generated/CHIPClientCallbacks.h
  src/controller/data_model/zap-generated/CHIPClusters.cpp
  src/controller/data_model/zap-generated/CHIPClusters.h
  src/controller/data_model/zap-generated/callback-stub.cpp
  src/controller/data_model/zap-generated/endpoint_config.h
  src/controller/data_model/zap-generated/gen_config.h
  src/controller/java/zap-generated/CHIPClusters-JNI.cpp
  src/controller/java/zap-generated/ChipClusters.java
  src/controller/python/chip/clusters/CHIPClusters.cpp
  src/controller/python/chip/clusters/CHIPClusters.py
  src/darwin/Framework/CHIP/zap-generated/CHIPClustersObjc.h
  src/darwin/Framework/CHIP/zap-generated/CHIPClustersObjc.mm
  src/darwin/Framework/CHIPTests/CHIPClustersTests.m
  zzz_generated/all-clusters-app/zap-generated/attribute-size.cpp
  zzz_generated/all-clusters-app/zap-generated/callback-stub.cpp
  zzz_generated/all-clusters-app/zap-generated/endpoint_config.h
  zzz_generated/all-clusters-app/zap-generated/gen_config.h
Owners: @vivien-apple, @yunhanw-google, @bzbarsky-apple, @mrjerryjohns, @shana-apple, @pan-apple, @austinh0, @andy31415, @erjianqing, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

* Correction link to qpg folder
  docs/QUICK_START.md
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs
