Repository project-chip/connectedhomeip, changes with the owners that .github/CODEOWNERS names for each.
All owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @mspang, @pan-apple, @emargolis, @andy31415, @yufengwangca, @kghost, @bzbarksy-apple, @bzbarsky-apple, @gjc13, @damian-nordic, @erjiaqing, @shana-apple, @yunhanw-google, @vivien-apple, @erjianqing, @mrjerryjohns, @jrhees-cae, @rgoliver, @austinh0, @bukepo, @kpschoedel

.github/CODEOWNERS:

# Current reviewers-XXX teams, who review everything for approval.
* @reviewers-amazon @reviewers-apple @reviewers-comcast @reviewers-google @reviewers-nordic @reviewers-samsung @reviewers-silabs


# BUILD system

*.gn @mspang
/build/ @mspang
/scripts/build/ @mspang

# Crypto
# Crypto primitives and high level API, generally on top of mbedtls and openssl
/src/crypto/* @pan-apple @emargolis
/src/credentials/ @pan-apple @emargolis

# Transport
# Send and receive data abstracting away the underlying protocol (UDP, TCP, BLE)
/src/transport/ @andy31415 @pan-apple

# Session establishment
# Establish a secure session (encryption keys) from one node to another.
# Includes CASE and PASE + session tracking and resumptioon
/src/protocols/secure_channel/ @pan-apple

# Message Layer
# CRMP and packet headers, generally coupled with SecureSessionManager
/src/messaging @yufengwangca @kghost @bzbarksy-apple
/src/transport/raw/MessageHeader.* @yufengwangca @kghost @bzbarksy-apple

# SecureSessionManager
# Manages per-session encryption keys and new session establishment
/src/transport/SecureSessionMgr.* @pan-apple

# Exchange management
# Joins requests and responses or ties a series of messages belonging to the 
# same protocol interaction
/src/messaging/ @yufengwangca @bzbarsky-apple
/src/channel/ @yufengwangca @bzbarsky-apple

# DNS-SD discovery and advertisement
# Advertise chip devices for commisioning, operational and discover such devices
/src/lib/mdns/ @andy31415 @gjc13 @damian-nordic

# Commisioning controller/flow
# Example of a comisioning sequence
/src/controller/ @pan-apple @erjiaqing

# Operational credentials management
# Signing certificates, maintaining roots of trust, validation, fabric management
/src/controller/ @shana-apple @pan-apple
/src/transport/AdminPairingTable.* @shana-apple @pan-apple

# TLV encoding/decoding to/from byte buffers
/src/lib/core/CHIPTLV* @yunhanw-google @bzbarsky-apple @shana-apple

# Interaction model - ember implementation
# ZCL protocol implementation: ZCL encoding to be sent over the wire as a 
# ZigbeePro protocol implementation
/src/app/util/ @vivien-apple @erjianqing @bzbarsky-apple

# Interaction model - non-ember
# Protocol implementation for IM interactions between nodes, matching spec
/src/app/ @yunhanw-google @bzbarsky-apple @mrjerryjohns

# Interaction model - code generation
# CHIP-specific infrastructure for generating code: helper js methods, scripts
# and code layout
/src/app/zap-templates/ @vivien-apple @erjianqing

# ZAP suppport
# UI for editing XML, generates code from such ZML and configuration files
# NOT part of CHIP however CHIP relies heavily on ZAP.
#    @vivien-apple  @tecimovic

# 'Standard' cluster implementations (server side)
# Clusters shipped with the sdk, can be integrated as-is or used as a template
/src/app/clusters/ @vivien-apple

# Onboarding payload
# Parsing and generation of codes (includes QR and NFC), numeric pairing payload
/src/setup_payload/ @shana-apple @vivien-apple @jrhees-cae

# Device Layer
# Porting interfaces, scaffolding for building an example firmware
/src/platform/ @mspang @yufengwangca
/src/include/platform/ @mspang @yufengwangca

# Persistent storage
# Save state across reboots
/src/platform/*/KeyValueStore* @rgoliver

# Python bindings for CHIP - CLI
# Allows python code to use CHIP, generally targeted towards automation
/src/controller/python/ @andy31415 @erjianqing

# CHIP-tool C++ CLI
# Command line interface to chip as a client (controller and commisioner)
# Includes generated code for every base cluster
/examples/chip-tool/ @vivien-apple

# CHIP-tool iOS UI
/src/darwin/CHIPTool/ @shana-apple

# CHIP-tool Android
/src/android/CHIPTool/ @austinh0
/src/controller/java/ @austinh0

# End2End autogenerated tests
/src/darwin/Framework/Chip-templates/ @vivien-apple
/src/app/tests/suites/ @vivien-apple

# End2End cirque tests
# Simulate topology (cirque) and ptyhon-based test automation
/src/test_driver/linux/cirque/ @erjianqing @yunhanw-google

# Thread integration
# Thread-specific functionality (network provisioning, operational discovery, SRP registration etc.)
/src/platform/OpenThread/ @bukepo
/src/platform/*/ThreadStackmanagerImpl.* @bukepo

# Inet
# Networking abstraction layer (UDP-endpoint, TCP-endpoint, InetLayerBasis)
/src/inet/ @kpschoedel 

# System layer
/src/system/ @kpschoedel 

# BLE support
/src/ble/ @yunhanw-google

# CHIP Shell
# Command-line UART/stdin interface as a side-channel to CHIP accessories
# Aimed as user-friendly/manual control
/src/examples/shell/ @gjc13 @yufengwangca

# RPC
# Side-channlel command path (outside chip), generally for automation and debugging
# Aimed as "scriptable" when compared to shell
/examples/common/pigweed/ @rgoliver
/examples/pigweed-app/ @rgoliver

# Tooling for crypto manual generation
# Generates data for sample PKI
/src/tools/chip-cert/ @emargolis

# Channel API
# Construct a transport/secure session based on peer info and transport type.
# Focused on CASE session establishment
/src/channel/ @kghost

# Darwin framework
# Exposes a darwin API (Objective-C/swift rather than raw C++ API) for darwin
# applications
/src/darwin/Framework/ @shana-apple @vivien-apple @pan-apple

fix breakage, change from bitmap to enum
  examples/platform/linux/CommissioneeShellCommands.cpp
  src/app/server/Mdns.cpp
  src/app/server/Mdns.h
  src/app/server/RendezvousServer.cpp
  src/app/server/Server.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @yunhanw-google, @bzbarsky-apple, @mrjerryjohns

Compile android in build_examples.py and move android compilation outside of Github CI (#8862)
  .github/workflows/android.yaml
  scripts/build/build/factory.py
  scripts/build/build/targets.py
  scripts/build/builders/android.py
  scripts/build/expected_all_platform_commands.txt
  scripts/build/test.py
  src/android/CHIPTool/.gitignore
  src/android/CHIPTool/app/build.gradle
  src/android/CHIPTool/gradlew
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @mspang, @austinh0

Added comment on CHIP_CONFIG_MDNS_CACHE_SIZE that if 0, builtin cache is not used
  src/lib/core/CHIPConfig.h
  src/lib/mdns/Discovery_ImplPlatform.cpp
  src/lib/mdns/MdnsCache.h
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @andy31415, @gjc13, @damian-nordic

Properly set CASE salt span sizes and CASE cleanups
  src/lib/core/CHIPTLV.h
  src/lib/core/CHIPTLVReader.cpp
  src/protocols/secure_channel/CASESession.cpp
  src/protocols/secure_channel/CASESession.h
Owners: @yunhanw-google, @bzbarsky-apple, @shana-apple, @pan-apple

Revert "Compile android in build_examples.py and move android compilation outside of Github CI (#8862)"
  .github/workflows/android.yaml
  scripts/build/build/factory.py
  scripts/build/build/targets.py
  scripts/build/builders/android.py
  scripts/build/expected_all_platform_commands.txt
  scripts/build/test.py
  src/android/CHIPTool/.gitignore
  src/android/CHIPTool/app/build.gradle
  src/android/CHIPTool/gradlew
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @mspang, @austinh0

Restyled by clang-format
  src/protocols/secure_channel/CASESession.cpp
  src/protocols/secure_channel/CASESession.h
Owners: @pan-apple

Revert "Compile android in build_examples.py and move android compilation outside of Github CI (#8862)" (#8928)
  .github/workflows/android.yaml
  scripts/build/build/factory.py
  scripts/build/build/targets.py
  scripts/build/builders/android.py
  scripts/build/expected_all_platform_commands.txt
  scripts/build/test.py
  src/android/CHIPTool/.gitignore
  src/android/CHIPTool/app/build.gradle
  src/android/CHIPTool/gradlew
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @mspang, @austinh0

Support to use heap for pool for large systems
  src/inet/IPEndPointBasis.h
  src/inet/RawEndPoint.h
  src/inet/TCPEndPoint.h
  src/inet/UDPEndPoint.h
  src/inet/tests/TestInetEndPoint.cpp
  src/platform/Linux/SystemPlatformConfig.h
  src/system/SystemConfig.h
  src/system/SystemObject.cpp
  src/system/SystemObject.h
  src/system/tests/TestSystemObject.cpp
Owners: @kpschoedel, @mspang, @yufengwangca

Use templated foreach function to safely execute operation on each object
  src/inet/InetLayer.cpp
  src/system/SystemObject.h
  src/system/SystemTimer.h
  src/system/tests/TestSystemObject.cpp
Owners: @kpschoedel

Update src/system/SystemObject.h
  src/system/SystemObject.h
Owners: @kpschoedel

[android] Fix issues with sensor time series graph
  src/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/clusterclient/SensorClientFragment.kt
  src/android/CHIPTool/app/src/main/res/layout/sensor_client_fragment.xml
  src/android/CHIPTool/app/src/main/res/values/strings.xml
Owners: @austinh0

Add an XML description of Time Synchronization cluster
  src/app/zap-templates/zcl/data-model/chip/time-synchronization-cluster.xml
Owners: @vivien-apple, @erjianqing

Restyled by clang-format
  src/lib/core/CHIPTLV.h
  src/lib/core/CHIPTLVReader.cpp
  src/protocols/secure_channel/CASESession.cpp
  src/protocols/secure_channel/CASESession.h
Owners: @yunhanw-google, @bzbarsky-apple, @shana-apple, @pan-apple

Re-make Compile android in build_examples.py and move android compilation outside of Github CI
  .github/workflows/android.yaml
  scripts/build/build/factory.py
  scripts/build/build/targets.py
  scripts/build/builders/android.py
  scripts/build/expected_all_platform_commands.txt
  scripts/build/test.py
  src/android/CHIPTool/.gitignore
  src/android/CHIPTool/app/build.gradle
  src/android/CHIPTool/gradlew
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @mspang, @austinh0

Noop change to trigger build actions for testing
  scripts/build/test.py
  src/android/CHIPTool/app/build.gradle
Owners: @mspang, @austinh0

Set correct "writable" values for attributes
  src/app/zap-templates/zcl/data-model/chip/time-synchronization-cluster.xml
Owners: @vivien-apple, @erjianqing

PR requested changes - Use of Accessors functions - Removed enums
  src/app/clusters/color-control-server/color-control-server.cpp
Owners: @vivien-apple

Restyled by whitespace
  src/app/clusters/color-control-server/color-control-server.cpp
Owners: @vivien-apple

Restyled by clang-format
  src/app/clusters/color-control-server/color-control-server.cpp
Owners: @vivien-apple

remove RejectTransfer()
  src/protocols/bdx/BdxTransferSession.h
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

[nrfconnect] Log messages cleanup
  examples/lighting-app/nrfconnect/main/AppTask.cpp
  examples/lighting-app/nrfconnect/main/ZclCallbacks.cpp
  examples/lock-app/nrfconnect/main/AppTask.cpp
  examples/lock-app/nrfconnect/main/ZclCallbacks.cpp
  examples/pump-app/nrfconnect/main/AppTask.cpp
  examples/pump-app/nrfconnect/main/ZclCallbacks.cpp
  examples/pump-controller-app/nrfconnect/main/AppTask.cpp
  examples/pump-controller-app/nrfconnect/main/ZclCallbacks.cpp
  src/platform/Zephyr/BLEManagerImpl.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @mspang, @yufengwangca

Change define from TIME to TIMESYNC
  src/app/zap-templates/zcl/data-model/chip/time-synchronization-cluster.xml
Owners: @vivien-apple, @erjianqing

[style] Add check for python format
  .restyled.yaml
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Ensure ENTIRE environment (including e.g. PATH) is forwarded to the test script
  scripts/build/test.py
Owners: @mspang

Advertise all of our available operational identities.
  src/app/server/Mdns.cpp
Owners: @yunhanw-google, @bzbarsky-apple, @mrjerryjohns

Fake platform for tests.
  BUILD.gn
  build/toolchain/host/BUILD.gn
  src/BUILD.gn
  src/lib/mdns/platform/tests/BUILD.gn
  src/lib/mdns/platform/tests/TestPlatform.cpp
  src/platform/BUILD.gn
  src/platform/device.gni
  src/platform/fake/BUILD.gn
  src/platform/fake/CHIPDevicePlatformEvent.h
  src/platform/fake/ConfigurationManagerImpl.cpp
  src/platform/fake/ConfigurationManagerImpl.h
  src/platform/fake/ConnectivityManagerImpl.cpp
  src/platform/fake/ConnectivityManagerImpl.h
  src/platform/fake/KeyValueStoreManagerImpl.cpp
  src/platform/fake/KeyValueStoreManagerImpl.h
  src/platform/fake/MdnsImpl.cpp
  src/platform/fake/PlatformManagerImpl.cpp
  src/platform/fake/PlatformManagerImpl.h
  src/platform/tests/BUILD.gn
Owners: @mspang, @andy31415, @gjc13, @damian-nordic, @yufengwangca, @rgoliver

Restyled by gn
  BUILD.gn
  build/chip/tools.gni
  src/BUILD.gn
  src/lib/mdns/platform/tests/BUILD.gn
  src/platform/fake/BUILD.gn
Owners: @mspang, @andy31415, @gjc13, @damian-nordic, @yufengwangca

Remove Test Cluster
  examples/tv-app/tv-common/gen/IMClusterCommandHandler.cpp
  examples/tv-app/tv-common/gen/attribute-size.cpp
  examples/tv-app/tv-common/gen/callback-stub.cpp
  examples/tv-app/tv-common/gen/endpoint_config.h
  examples/tv-app/tv-common/gen/gen_config.h
  examples/tv-app/tv-common/tv-app.zap
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Update PR per latests requests
  examples/tv-app/linux/BUILD.gn
  examples/tv-app/linux/include/application-basic/ApplicationBasicManager.cpp
  examples/tv-app/linux/include/cluster-init.cpp
  examples/tv-app/linux/include/wake-on-lan/WakeOnLanManager.cpp
  examples/tv-app/linux/include/wake-on-lan/WakeOnLanManager.h
  src/app/clusters/basic/basic.cpp
  src/lib/support/ZclString.h
Owners: @mspang, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @vivien-apple

Run zap_regen to build test boilerplate code
  examples/chip-tool/commands/tests/Commands.h
  examples/chip-tool/templates/tests-commands.zapt
Owners: @vivien-apple

Enable Test Cluster so that string values are returned
  examples/tv-app/tv-common/gen/IMClusterCommandHandler.cpp
  examples/tv-app/tv-common/gen/attribute-size.cpp
  examples/tv-app/tv-common/gen/callback-stub.cpp
  examples/tv-app/tv-common/gen/endpoint_config.h
  examples/tv-app/tv-common/gen/gen_config.h
  examples/tv-app/tv-common/tv-app.zap
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Renamed cluster-helper.cpp to zcl-strings.h
  examples/tv-app/linux/BUILD.gn
  examples/tv-app/linux/include/application-basic/ApplicationBasicManager.cpp
  examples/tv-app/linux/include/wake-on-lan/WakeOnLanManager.cpp
  examples/tv-app/linux/include/zcl-strings.h
Owners: @mspang, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Restyle fix
  examples/tv-app/linux/BUILD.gn
  examples/tv-app/linux/include/cluster-helper.cpp
Owners: @mspang, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Run zap_regen to generate boilerplate code
  examples/chip-tool/commands/tests/Commands.h
  examples/tv-app/tv-common/gen/IMClusterCommandHandler.cpp
Owners: @vivien-apple, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Update PR per latests comments
  examples/bridge-app/linux/main.cpp
  examples/tv-app/linux/include/application-basic/ApplicationBasicManager.cpp
  examples/tv-app/linux/include/wake-on-lan/WakeOnLanManager.cpp
  src/app/clusters/basic/basic.cpp
  src/lib/support/ZclString.h
  src/lib/support/tests/BUILD.gn
  src/lib/support/tests/TestZclString.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @vivien-apple, @mspang

Add tests
  src/app/tests/suites/TV_WakeOnLanCluster.yaml
Owners: @vivien-apple

Store Wake On LAN and Application basic server attributes as ZCL String
  examples/tv-app/linux/BUILD.gn
  examples/tv-app/linux/include/application-basic/ApplicationBasicManager.cpp
  examples/tv-app/linux/include/cluster-helper.cpp
  examples/tv-app/linux/include/wake-on-lan/WakeOnLanManager.cpp
Owners: @mspang, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Update PR per latest comments. Converted MakeZclString to return error and to accept MutableByteSpan
  examples/bridge-app/linux/main.cpp
  examples/chip-tool/commands/tests/Commands.h
  examples/chip-tool/templates/tests-commands.zapt
  examples/tv-app/linux/include/application-basic/ApplicationBasicManager.cpp
  examples/tv-app/linux/include/wake-on-lan/WakeOnLanManager.cpp
  examples/tv-app/tv-common/gen/endpoint_config.h
  src/app/clusters/basic/basic.cpp
  src/lib/support/ZclString.h
  src/lib/support/tests/TestZclString.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @vivien-apple

Update PR per latest comments
  src/lib/support/ZclString.h
  src/lib/support/tests/TestZclString.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Restyled by whitespace
  src/lib/support/ZclString.h
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs
