Repository project-chip/connectedhomeip, changes with the owners that .github/CODEOWNERS names for each.
All owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @mspang, @pan-apple, @emargolis, @andy31415, @yufengwangca, @kghost, @bzbarksy-apple, @bzbarsky-apple, @gjc13, @damian-nordic, @erjiaqing, @shana-apple, @yunhanw-google, @vivien-apple, @erjianqing, @mrjerryjohns, @jrhees-cae, @rgoliver, @austinh0, @bukepo, @kpschoedel

Restyled by shfmt
  scripts/tests/test_suites.sh
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Followup #7873 - Replace emberAfPutInt8uInResp(ZCL_DEFAULT_RESPONSE_COMMAND_ID) by emberAfPutInt32uInResp(ZCL_DEFAULT_RESPONSE_COMMAND_ID) in src/app/util/util.cpp
  src/app/util/util.cpp
Owners: @yunhanw-google, @bzbarsky-apple, @mrjerryjohns

Add back structs, bitmaps and enums of the Messaging cluster into ami.xml
  src/app/zap-templates/zcl/data-model/silabs/ami.xml
Owners: @vivien-apple, @erjianqing

Update gen/ folders
  src/app/common/gen/enums.h
Owners: @yunhanw-google, @bzbarsky-apple, @mrjerryjohns

Remove duplicated command ids and attribute ids definitions from the encoder-src.zapt template
  src/app/common/templates/templates.json
  src/app/zap-templates/templates/app/encoder-src.zapt
  src/app/zap-templates/templates/app/ids/Attributes.zapt
  src/app/zap-templates/templates/app/ids/Clusters.zapt
  src/app/zap-templates/templates/app/ids/Commands.zapt
  src/app/zap-templates/templates/chip/helper.js
Owners: @yunhanw-google, @bzbarsky-apple, @mrjerryjohns, @vivien-apple, @erjianqing

Fix XML definitions typos for attributes name
  src/app/zap-templates/zcl/data-model/silabs/ha.xml
  src/app/zap-templates/zcl/data-model/silabs/sample-extensions.xml
Owners: @vivien-apple, @erjianqing

Add ids/Commands.h to the gen folder of src/app/common
  examples/pump-app/pump-common/gen/encoder.cpp
  examples/pump-controller-app/pump-controller-common/gen/encoder.cpp
  src/app/common/gen/ids/Attributes.h
  src/app/common/gen/ids/Clusters.h
  src/app/common/gen/ids/Commands.h
  src/controller/data_model/gen/encoder.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @yunhanw-google, @bzbarsky-apple, @mrjerryjohns, @shana-apple, @pan-apple

Remove asChipUnderlyingType helper
  examples/chip-tool/templates/commands.zapt
  src/app/zap-templates/common/override.js
  src/app/zap-templates/partials/im_command_handler_cluster_commands.zapt
  src/app/zap-templates/templates/app/CHIPClientCallbacks-src.zapt
  src/app/zap-templates/templates/app/CHIPClientCallbacks.zapt
  src/app/zap-templates/templates/app/af-structs.zapt
  src/app/zap-templates/templates/app/callback.zapt
  src/app/zap-templates/templates/app/helper.js
  src/app/zap-templates/zcl/data-model/silabs/general.xml
  src/app/zap-templates/zcl/data-model/silabs/types.xml
  src/controller/java/templates/CHIPClusters-JNI.zapt
  src/darwin/Framework/CHIP/templates/CHIPClustersObjc-src.zapt
Owners: @vivien-apple, @erjianqing, @austinh0, @shana-apple, @pan-apple

Update gen/ folders
  src/app/common/gen/client-command-macro.h
Owners: @yunhanw-google, @bzbarsky-apple, @mrjerryjohns

Regenerated files
  examples/all-clusters-app/all-clusters-common/gen/IMClusterCommandHandler.cpp
  examples/all-clusters-app/all-clusters-common/gen/callback.h
  examples/all-clusters-app/all-clusters-common/gen/endpoint_config.h
  examples/all-clusters-app/all-clusters-common/gen/gen_config.h
  examples/chip-tool/commands/clusters/Commands.h
  examples/chip-tool/commands/reporting/Commands.h
  examples/lighting-app/lighting-common/gen/IMClusterCommandHandler.cpp
  examples/lighting-app/lighting-common/gen/callback-stub.cpp
  examples/lighting-app/lighting-common/gen/callback.h
  examples/lighting-app/lighting-common/gen/endpoint_config.h
  examples/lighting-app/lighting-common/gen/gen_config.h
  src/controller/data_model/gen/CHIPClusters.cpp
  src/controller/data_model/gen/CHIPClusters.h
  src/controller/data_model/gen/callback-stub.cpp
  src/controller/data_model/gen/callback.h
  src/controller/data_model/gen/chip-zcl-zpro-codec-api.h
  src/controller/data_model/gen/encoder.cpp
  src/controller/data_model/gen/endpoint_config.h
  src/controller/data_model/gen/gen_config.h
  src/controller/java/gen/CHIPClusters-JNI.cpp
  src/controller/java/gen/ChipClusters.java
  src/controller/python/chip/clusters/CHIPClusters.cpp
  src/controller/python/chip/clusters/CHIPClusters.py
  src/darwin/Framework/CHIP/gen/CHIPClustersObjc.h
  src/darwin/Framework/CHIP/gen/CHIPClustersObjc.mm
  src/darwin/Framework/CHIPTests/CHIPClustersTests.m
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @vivien-apple, @shana-apple, @pan-apple, @austinh0, @andy31415, @erjianqing

WIP Add EnhancedHue logic to the color-control. Add color-control.cpp to nordic and telink light example
  examples/lighting-app/efr32/src/ZclCallbacks.cpp
  examples/lighting-app/nrfconnect/CMakeLists.txt
  examples/lighting-app/telink/CMakeLists.txt
  src/app/clusters/color-control-server/color-control-server.cpp
  src/app/zap-templates/zcl/data-model/silabs/zll.xml
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @vivien-apple, @erjianqing

Rebase and regen
  examples/all-clusters-app/all-clusters-common/gen/endpoint_config.h
  examples/all-clusters-app/all-clusters-common/gen/gen_config.h
  examples/chip-tool/commands/clusters/Commands.h
  examples/lighting-app/efr32/src/ZclCallbacks.cpp
  examples/lighting-app/lighting-common/gen/IMClusterCommandHandler.cpp
  src/controller/data_model/gen/CHIPClientCallbacks.cpp
  src/controller/data_model/gen/CHIPClusters.cpp
  src/controller/data_model/gen/CHIPClusters.h
  src/controller/data_model/gen/chip-zcl-zpro-codec-api.h
  src/controller/data_model/gen/encoder.cpp
  src/controller/data_model/gen/endpoint_config.h
  src/controller/data_model/gen/gen_config.h
  src/controller/python/chip/clusters/CHIPClusters.cpp
  src/controller/python/chip/clusters/CHIPClusters.py
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @vivien-apple, @shana-apple, @pan-apple, @andy31415, @erjianqing

Restyled by whitespace
  examples/lighting-app/lighting-common/gen/af-gen-event.h
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Add Color Control Event handlers in af-gen-event.h for ligthing example has there are not auto generated
  examples/lighting-app/efr32/src/ZclCallbacks.cpp
  examples/lighting-app/lighting-common/gen/af-gen-event.h
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Regen all
  examples/all-clusters-app/all-clusters-common/gen/IMClusterCommandHandler.cpp
  examples/all-clusters-app/all-clusters-common/gen/callback.h
  examples/all-clusters-app/all-clusters-common/gen/endpoint_config.h
  examples/chip-tool/commands/clusters/Commands.h
  examples/lighting-app/lighting-common/gen/IMClusterCommandHandler.cpp
  examples/lighting-app/lighting-common/gen/callback-stub.cpp
  examples/lighting-app/lighting-common/gen/callback.h
  examples/lighting-app/lighting-common/gen/endpoint_config.h
  examples/lighting-app/lighting-common/gen/gen_config.h
  src/app/common/gen/client-command-macro.h
  src/controller/data_model/gen/CHIPClientCallbacks.cpp
  src/controller/data_model/gen/CHIPClusters.cpp
  src/controller/data_model/gen/CHIPClusters.h
  src/controller/data_model/gen/endpoint_config.h
  src/controller/java/gen/CHIPClusters-JNI.cpp
  src/controller/java/gen/ChipClusters.java
  src/controller/python/chip/clusters/CHIPClusters.cpp
  src/controller/python/chip/clusters/CHIPClusters.py
  src/darwin/Framework/CHIP/gen/CHIPClustersObjc.h
  src/darwin/Framework/CHIP/gen/CHIPClustersObjc.mm
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @vivien-apple, @yunhanw-google, @bzbarsky-apple, @mrjerryjohns, @shana-apple, @pan-apple, @austinh0, @andy31415, @erjianqing

Restyled by clang-format
  examples/lighting-app/efr32/src/ZclCallbacks.cpp
  examples/lighting-app/lighting-common/gen/af-gen-event.h
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Restyled by whitespace
  src/app/clusters/color-control-server/color-control-server.cpp
Owners: @vivien-apple

Restyled by clang-format
  src/app/clusters/color-control-server/color-control-server.cpp
Owners: @vivien-apple

Zap use const expr for clusters commands attributes (#7946)
  examples/pump-app/pump-common/gen/encoder.cpp
  examples/pump-controller-app/pump-controller-common/gen/encoder.cpp
  src/app/common/gen/ids/Attributes.h
  src/app/common/gen/ids/Clusters.h
  src/app/common/gen/ids/Commands.h
  src/app/common/templates/templates.json
  src/app/zap-templates/templates/app/encoder-src.zapt
  src/app/zap-templates/templates/app/ids/Attributes.zapt
  src/app/zap-templates/templates/app/ids/Clusters.zapt
  src/app/zap-templates/templates/app/ids/Commands.zapt
  src/app/zap-templates/templates/chip/helper.js
  src/app/zap-templates/zcl/data-model/silabs/ha.xml
  src/app/zap-templates/zcl/data-model/silabs/sample-extensions.xml
  src/controller/data_model/gen/encoder.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @yunhanw-google, @bzbarsky-apple, @mrjerryjohns, @vivien-apple, @erjianqing, @shana-apple, @pan-apple

Running zap generator
  examples/all-clusters-app/all-clusters-common/gen/endpoint_config.h
  examples/all-clusters-app/linux/BUILD.gn
  examples/tv-app/tv-common/gen/IMClusterCommandHandler.cpp
  examples/tv-app/tv-common/gen/callback.h
  examples/tv-app/tv-common/gen/endpoint_config.h
  examples/tv-app/tv-common/tv-app.zap
  src/app/common/gen/af-structs.h
  src/app/common/gen/client-command-macro.h
  src/app/common/gen/enums.h
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @mspang, @yunhanw-google, @bzbarsky-apple, @mrjerryjohns

Fix IM changes
  examples/all-clusters-app/linux/include/media/tv-stubs.cpp
  examples/tv-app/linux/include/account-login/AccountLoginManager.cpp
  examples/tv-app/linux/include/application-basic/ApplicationBasicManager.cpp
  examples/tv-app/linux/include/application-basic/ApplicationBasicManager.h
  examples/tv-app/linux/include/application-launcher/ApplicationLauncherManager.cpp
  examples/tv-app/linux/include/application-launcher/ApplicationLauncherManager.h
  examples/tv-app/linux/include/audio-output/AudioOutputManager.cpp
  examples/tv-app/linux/include/audio-output/AudioOutputManager.h
  examples/tv-app/linux/include/endpoint-configuration/chip_tv_config.ini
  examples/tv-app/linux/include/keypad-input/KeypadInputManager.cpp
  examples/tv-app/linux/include/keypad-input/KeypadInputManager.h
  examples/tv-app/linux/include/low-power/LowPowerManager.cpp
  examples/tv-app/linux/include/low-power/LowPowerManager.h
  examples/tv-app/linux/include/media-input/MediaInputManager.cpp
  examples/tv-app/linux/include/media-input/MediaInputManager.h
  examples/tv-app/linux/include/media-playback/MediaPlaybackManager.cpp
  examples/tv-app/linux/include/media-playback/MediaPlaybackManager.h
  examples/tv-app/linux/include/target-navigator/TargetNavigatorManager.cpp
  examples/tv-app/linux/include/target-navigator/TargetNavigatorManager.h
  examples/tv-app/linux/include/tv-channel/TvChannelManager.cpp
  examples/tv-app/linux/include/tv-channel/TvChannelManager.h
  src/app/clusters/account-login-server/account-login-server.cpp
  src/app/clusters/application-basic-server/application-basic-server.cpp
  src/app/clusters/application-launcher-server/application-launcher-server.cpp
  src/app/clusters/keypad-input-server/keypad-input-server.cpp
  src/app/clusters/low-power-server/low-power-server.cpp
  src/app/clusters/media-input-server/media-input-server.cpp
  src/app/clusters/media-playback-server/media-playback-server.cpp
  src/app/clusters/target-navigator-server/target-navigator-server.cpp
  src/app/clusters/tv-channel-server/tv-channel-server.cpp
  src/app/zap-templates/zcl/data-model/chip/application-basic-cluster.xml
  src/app/zap-templates/zcl/data-model/chip/application-launcher-cluster.xml
  src/app/zap-templates/zcl/data-model/chip/media-playback-cluster.xml
  src/app/zap-templates/zcl/data-model/chip/target-navigator-cluster.xml
  src/app/zap_cluster_list.py
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @vivien-apple, @erjianqing, @yunhanw-google, @bzbarsky-apple, @mrjerryjohns

Adding tests for TV app
  examples/chip-tool/templates/tests-commands.zapt
  scripts/tests/test_tv_suites.sh
  src/app/tests/suites/AccountLoginCluster.yaml
  src/app/tests/suites/ApplicationBasicCluster.yaml
  src/app/tests/suites/ApplicationLauncherCluster.yaml
  src/app/tests/suites/AudioOutputCluster.yaml
  src/app/tests/suites/KeypadInputCluster.yaml
  src/app/tests/suites/LowPowerCluster.yaml
  src/app/tests/suites/MediaInputCluster.yaml
  src/app/tests/suites/MediaPlaybackCluster.yaml
  src/app/tests/suites/TargetNavigatorCluster.yaml
  src/app/tests/suites/TvChannelCluster.yaml
  src/controller/data_model/controller-clusters.zap
Owners: @vivien-apple, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @shana-apple, @pan-apple

Running zap generator
  examples/all-clusters-app/linux/BUILD.gn
  examples/all-clusters-app/linux/include/media/tv-stubs.cpp
  examples/chip-tool/commands/clusters/Commands.h
  examples/chip-tool/commands/tests/Commands.h
  examples/tv-app/linux/include/application-launcher/ApplicationLauncherManager.cpp
  examples/tv-app/linux/include/keypad-input/KeypadInputManager.cpp
  examples/tv-app/linux/include/media-input/MediaInputManager.cpp
  examples/tv-app/linux/include/media-playback/MediaPlaybackManager.cpp
  examples/tv-app/linux/include/target-navigator/TargetNavigatorManager.cpp
  src/app/clusters/account-login-server/account-login-server.cpp
  src/app/clusters/application-launcher-server/application-launcher-server.cpp
  src/app/clusters/media-playback-server/media-playback-server.cpp
  src/app/clusters/target-navigator-server/target-navigator-server.cpp
  src/app/tests/suites/AccountLoginCluster.yaml
  src/app/tests/suites/ApplicationBasicCluster.yaml
  src/app/tests/suites/ApplicationLauncherCluster.yaml
  src/app/tests/suites/AudioOutputCluster.yaml
  src/app/tests/suites/KeypadInputCluster.yaml
  src/app/tests/suites/LowPowerCluster.yaml
  src/app/tests/suites/MediaInputCluster.yaml
  src/app/tests/suites/MediaPlaybackCluster.yaml
  src/app/tests/suites/TargetNavigatorCluster.yaml
  src/app/tests/suites/TvChannelCluster.yaml
  src/controller/data_model/gen/CHIPClusters.cpp
  src/controller/data_model/gen/CHIPClusters.h
  src/controller/data_model/gen/chip-zcl-zpro-codec-api.h
  src/controller/data_model/gen/encoder.cpp
  src/controller/python/chip/clusters/CHIPClusters.cpp
  src/controller/python/chip/clusters/CHIPClusters.py
  src/darwin/Framework/CHIP/gen/CHIPClustersObjc.h
  src/darwin/Framework/CHIP/gen/CHIPClustersObjc.mm
  src/darwin/Framework/CHIPTests/CHIPClustersTests.m
Owners: @mspang, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @vivien-apple, @shana-apple, @pan-apple, @andy31415, @erjianqing

Updated the PR latests comments
  .github/workflows/tests.yaml
  examples/all-clusters-app/all-clusters-common/gen/endpoint_config.h
  examples/chip-tool/commands/tests/Commands.h
  examples/chip-tool/templates/tests-commands.zapt
  examples/tv-app/linux/include/application-launcher/ApplicationLauncherManager.cpp
  examples/tv-app/linux/include/media-playback/MediaPlaybackManager.cpp
  examples/tv-app/linux/include/media-playback/MediaPlaybackManager.h
  examples/tv-app/linux/include/target-navigator/TargetNavigatorManager.cpp
  examples/tv-app/tv-common/gen/IMClusterCommandHandler.cpp
  examples/tv-app/tv-common/gen/endpoint_config.h
  scripts/tests/test_suites.sh
  scripts/tests/test_tv_suites.sh
  src/app/clusters/application-launcher-server/application-launcher-server.cpp
  src/app/clusters/application-launcher-server/application-launcher-server.h
  src/app/clusters/media-playback-server/media-playback-server.cpp
  src/app/clusters/media-playback-server/media-playback-server.h
  src/app/clusters/target-navigator-server/target-navigator-server.cpp
  src/app/clusters/target-navigator-server/target-navigator-server.h
  src/app/common/gen/af-structs.h
  src/app/common/gen/command-id.h
  src/app/common/gen/enums.h
  src/app/tests/suites/TV_AccountLoginCluster.yaml
  src/app/tests/suites/TV_ApplicationBasicCluster.yaml
  src/app/tests/suites/TV_ApplicationLauncherCluster.yaml
  src/app/tests/suites/TV_AudioOutputCluster.yaml
  src/app/tests/suites/TV_KeypadInputCluster.yaml
  src/app/tests/suites/TV_LowPowerCluster.yaml
  src/app/tests/suites/TV_MediaInputCluster.yaml
  src/app/tests/suites/TV_MediaPlaybackCluster.yaml
  src/app/tests/suites/TV_TargetNavigatorCluster.yaml
  src/app/tests/suites/TV_TvChannelCluster.yaml
  src/app/zap-templates/zcl/data-model/chip/application-basic-cluster.xml
  src/app/zap-templates/zcl/data-model/chip/application-launcher-cluster.xml
  src/app/zap-templates/zcl/data-model/chip/media-playback-cluster.xml
  src/app/zap-templates/zcl/data-model/chip/target-navigator-cluster.xml
  src/controller/data_model/controller-clusters.zap
  src/controller/data_model/gen/encoder.cpp
  src/controller/data_model/gen/endpoint_config.h
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @vivien-apple, @yunhanw-google, @bzbarsky-apple, @mrjerryjohns, @erjianqing, @shana-apple, @pan-apple

Adding TV callbacks to all cluster example apps
  examples/all-clusters-app/esp32/main/CMakeLists.txt
  examples/all-clusters-app/linux/BUILD.gn
  examples/all-clusters-app/linux/include/tv-callbacks.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @mspang

Implement TLV in CASE Sigma Protocol
  src/protocols/secure_channel/CASESession.cpp
  src/protocols/secure_channel/CASESession.h
Owners: @pan-apple

Add Test_TC_DM_3_1 to src/app/tests/suites with all tests disabled since the attributes are not present into commissioning.xml
  examples/chip-tool/templates/tests-commands.zapt
  src/app/tests/suites/Test_TC_DM_3_1.yaml
  src/darwin/Framework/CHIP/templates/clusters-tests.zapt
Owners: @vivien-apple, @shana-apple, @pan-apple

Update generated tests
  examples/chip-tool/commands/tests/Commands.h
Owners: @vivien-apple

Fix crash when receiving a message that wants an ack on a closed exchange that's still alive.
  src/messaging/ExchangeContext.cpp
  src/messaging/tests/TestReliableMessageProtocol.cpp
Owners: @yufengwangca, @bzbarsky-apple

Use src/app/common/gen/ids/Clusters.h and src/app/common/gen/ids/Commands.h in src/app/zap-templates/templates/app/im-cluster-command-handler.zapt
  src/app/zap-templates/templates/app/im-cluster-command-handler.zapt
Owners: @vivien-apple, @erjianqing

Update generated gen/IMClusterCommandHandler.cpp
  examples/all-clusters-app/all-clusters-common/gen/IMClusterCommandHandler.cpp
  examples/bridge-app/bridge-common/gen/IMClusterCommandHandler.cpp
  examples/lighting-app/lighting-common/gen/IMClusterCommandHandler.cpp
  examples/lock-app/lock-common/gen/IMClusterCommandHandler.cpp
  examples/pump-app/pump-common/gen/IMClusterCommandHandler.cpp
  examples/pump-controller-app/pump-controller-common/gen/IMClusterCommandHandler.cpp
  examples/temperature-measurement-app/esp32/main/gen/IMClusterCommandHandler.cpp
  examples/tv-app/tv-common/gen/IMClusterCommandHandler.cpp
  examples/window-app/common/gen/IMClusterCommandHandler.cpp
  src/controller/data_model/gen/IMClusterCommandHandler.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @shana-apple, @pan-apple

Fixed CI errors due to missing line
  src/protocols/secure_channel/CASESession.cpp
Owners: @pan-apple

Revering file data_model-gen-call-command-handler.cpp
  src/controller/data_model/gen/call-command-handler.cpp
Owners: @shana-apple, @pan-apple

Restyled by whitespace
  src/controller/data_model/gen/call-command-handler.cpp
Owners: @shana-apple, @pan-apple

Update log messages for session expiry (#8017)
  src/transport/SecureSessionMgr.cpp
Owners: @pan-apple

Remove client-command-macro.h-aa80d825 from examples/bridge-app/bridge-common/gen (#8026)
  examples/bridge-app/bridge-common/gen/client-command-macro.h-aa80d825
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

fix build error in TCP.cpp
  src/transport/raw/TCP.cpp
Owners: @andy31415, @pan-apple

Fix Ble endpoint pool FULL on macOS controller (#7806)
  src/platform/Darwin/BleConnectionDelegateImpl.mm
Owners: @mspang, @yufengwangca

Support reading and writing attributes in Java
  src/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/clusterclient/OnOffClientFragment.kt
  src/android/CHIPTool/app/src/main/res/layout/on_off_client_fragment.xml
  src/android/CHIPTool/app/src/main/res/values/strings.xml
  src/app/zap-templates/common/ChipTypesHelper.js
  src/app/zap-templates/templates/chip/helper.js
  src/controller/java/JniTypeWrappers.h
  src/controller/java/templates/CHIPClusters-JNI.zapt
  src/controller/java/templates/ChipClusters-java.zapt
  src/controller/java/templates/helper.js
  src/controller/java/templates/templates.json
Owners: @austinh0, @vivien-apple, @erjianqing

Regenerate
  src/controller/java/gen/CHIPClusters-JNI.cpp
  src/controller/java/gen/ChipClusters.java
Owners: @austinh0

.github/CODEOWNERS:

# Current reviewers-XXX teams, who review everything for approval.
* @reviewers-amazon @reviewers-apple @reviewers-comcast @reviewers-google @reviewers-nordic @reviewers-samsung @reviewers-silabs


# BUILD system

*.gn @mspang
/build/ @mspang
/scripts/build/ @mspang

# Crypto
# Crypto primitives and high level API, generally on top of mbedtls and openssl
/src/crypto/* @pan-apple @emargolis
/src/credentials/ @pan-apple @emargolis

# Transport
# Send and receive data abstracting away the underlying protocol (UDP, TCP, BLE)
/src/transport/ @andy31415 @pan-apple

# Session establishment
# Establish a secure session (encryption keys) from one node to another.
# Includes CASE and PASE + session tracking and resumptioon
/src/protocols/secure_channel/ @pan-apple

# Message Layer
# CRMP and packet headers, generally coupled with SecureSessionManager
/src/messaging @yufengwangca @kghost @bzbarksy-apple
/src/transport/raw/MessageHeader.* @yufengwangca @kghost @bzbarksy-apple

# SecureSessionManager
# Manages per-session encryption keys and new session establishment
/src/transport/SecureSessionMgr.* @pan-apple

# Exchange management
# Joins requests and responses or ties a series of messages belonging to the 
# same protocol interaction
/src/messaging/ @yufengwangca @bzbarsky-apple
/src/channel/ @yufengwangca @bzbarsky-apple

# DNS-SD discovery and advertisement
# Advertise chip devices for commisioning, operational and discover such devices
/src/lib/mdns/ @andy31415 @gjc13 @damian-nordic

# Commisioning controller/flow
# Example of a comisioning sequence
/src/controller/ @pan-apple @erjiaqing

# Operational credentials management
# Signing certificates, maintaining roots of trust, validation, fabric management
/src/controller/ @shana-apple @pan-apple
/src/transport/AdminPairingTable.* @shana-apple @pan-apple

# TLV encoding/decoding to/from byte buffers
/src/lib/core/CHIPTLV* @yunhanw-google @bzbarsky-apple @shana-apple

# Interaction model - ember implementation
# ZCL protocol implementation: ZCL encoding to be sent over the wire as a 
# ZigbeePro protocol implementation
/src/app/util/ @vivien-apple @erjianqing @bzbarsky-apple

# Interaction model - non-ember
# Protocol implementation for IM interactions between nodes, matching spec
/src/app/ @yunhanw-google @bzbarsky-apple @mrjerryjohns

# Interaction model - code generation
# CHIP-specific infrastructure for generating code: helper js methods, scripts
# and code layout
/src/app/zap-templates/ @vivien-apple @erjianqing

# ZAP suppport
# UI for editing XML, generates code from such ZML and configuration files
# NOT part of CHIP however CHIP relies heavily on ZAP.
#    @vivien-apple  @tecimovic

# 'Standard' cluster implementations (server side)
# Clusters shipped with the sdk, can be integrated as-is or used as a template
/src/app/clusters/ @vivien-apple

# Onboarding payload
# Parsing and generation of codes (includes QR and NFC), numeric pairing payload
/src/setup_payload/ @shana-apple @vivien-apple @jrhees-cae

# Device Layer
# Porting interfaces, scaffolding for building an example firmware
/src/platform/ @mspang @yufengwangca
/src/include/platform/ @mspang @yufengwangca

# Persistent storage
# Save state across reboots
/src/platform/*/KeyValueStore* @rgoliver

# Python bindings for CHIP - CLI
# Allows python code to use CHIP, generally targeted towards automation
/src/controller/python/ @andy31415 @erjianqing

# CHIP-tool C++ CLI
# Command line interface to chip as a client (controller and commisioner)
# Includes generated code for every base cluster
/examples/chip-tool/ @vivien-apple

# CHIP-tool iOS UI
/src/darwin/CHIPTool/ @shana-apple

# CHIP-tool Android
/src/android/CHIPTool/ @austinh0
/src/controller/java/ @austinh0

# End2End autogenerated tests
/src/darwin/Framework/Chip-templates/ @vivien-apple
/src/app/tests/suites/ @vivien-apple

# End2End cirque tests
# Simulate topology (cirque) and ptyhon-based test automation
/src/test_driver/linux/cirque/ @erjianqing @yunhanw-google

# Thread integration
# Thread-specific functionality (network provisioning, operational discovery, SRP registration etc.)
/src/platform/OpenThread/ @bukepo
/src/platform/*/ThreadStackmanagerImpl.* @bukepo

# Inet
# Networking abstraction layer (UDP-endpoint, TCP-endpoint, InetLayerBasis)
/src/inet/ @kpschoedel 

# System layer
/src/system/ @kpschoedel 

# BLE support
/src/ble/ @yunhanw-google

# CHIP Shell
# Command-line UART/stdin interface as a side-channel to CHIP accessories
# Aimed as user-friendly/manual control
/src/examples/shell/ @gjc13 @yufengwangca

# RPC
# Side-channlel command path (outside chip), generally for automation and debugging
# Aimed as "scriptable" when compared to shell
/examples/common/pigweed/ @rgoliver
/examples/pigweed-app/ @rgoliver

# Tooling for crypto manual generation
# Generates data for sample PKI
/src/tools/chip-cert/ @emargolis

# Channel API
# Construct a transport/secure session based on peer info and transport type.
# Focused on CASE session establishment
/src/channel/ @kghost

# Darwin framework
# Exposes a darwin API (Objective-C/swift rather than raw C++ API) for darwin
# applications
/src/darwin/Framework/ @shana-apple @vivien-apple @pan-apple
