Repository project-chip/connectedhomeip, changes with the owners that .github/CODEOWNERS names for each.
All owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @mspang, @pan-apple, @emargolis, @andy31415, @yufengwangca, @kghost, @bzbarksy-apple, @bzbarsky-apple, @gjc13, @damian-nordic, @erjiaqing, @shana-apple, @yunhanw-google, @vivien-apple, @erjianqing, @mrjerryjohns, @jrhees-cae, @rgoliver, @austinh0, @bukepo, @kpschoedel

Addressed review comments
  src/crypto/CHIPCryptoPAL.cpp
  src/crypto/CHIPCryptoPAL.h
  src/crypto/tests/CHIPCryptoPALTest.cpp
Owners: @pan-apple, @emargolis, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Restyled by clang-format
  src/crypto/CHIPCryptoPAL.cpp
Owners: @pan-apple, @emargolis

Remove server/client prefixes before commands/responses iterators inside chip_server_clusters/chip_client_clusters blocks (#8752)
  examples/chip-tool/templates/commands.zapt
  examples/chip-tool/templates/reporting-commands.zapt
  src/app/zap-templates/common/ClustersHelper.js
  src/app/zap-templates/partials/cluster_header.zapt
  src/app/zap-templates/templates/app/CHIPClientCallbacks-src.zapt
  src/app/zap-templates/templates/app/CHIPClientCallbacks.zapt
  src/app/zap-templates/templates/app/CHIPClusters-src.zapt
  src/app/zap-templates/templates/app/CHIPClusters.zapt
  src/app/zap-templates/templates/chip/helper.js
  src/controller/data_model/controller-clusters.zap
  src/controller/java/templates/CHIPClusters-JNI.zapt
  src/controller/java/templates/ChipClusters-java.zapt
  src/controller/python/templates/python-CHIPClusters-cpp.zapt
  src/controller/python/templates/python-CHIPClusters-py.zapt
  src/darwin/Framework/CHIP/templates/CHIPClustersObjc-src.zapt
  src/darwin/Framework/CHIP/templates/CHIPClustersObjc.zapt
Owners: @vivien-apple, @erjianqing, @shana-apple, @pan-apple, @austinh0, @andy31415

Fix chip-tool to never use the stored node id when doing a new pairing. (#8714)
  examples/chip-tool/commands/pairing/PairingCommand.cpp
Owners: @vivien-apple

BUILD file rule isn't used anymore.
  src/lib/mdns/BUILD.gn
Owners: @andy31415, @gjc13, @damian-nordic

Add RAII-style server swapper class.
  src/lib/mdns/MinimalMdnsServer.h
  src/lib/mdns/minimal/tests/CheckOnlyServer.h
  src/lib/mdns/minimal/tests/TestAdvertiser.cpp
Owners: @andy31415, @gjc13, @damian-nordic

Remove include.
  src/lib/mdns/MinimalMdnsServer.h
Owners: @andy31415, @gjc13, @damian-nordic

Change explicit variable type to auto.
  src/lib/mdns/Advertiser_ImplMinimalMdns.cpp
Owners: @andy31415, @gjc13, @damian-nordic

(Temporary) OTA: change protocolsSupported to single value instead of list (#8632)
  examples/all-clusters-app/all-clusters-common/gen/IMClusterCommandHandler.cpp
  examples/thermostat/thermostat-common/gen/IMClusterCommandHandler.cpp
  examples/tv-app/tv-common/gen/IMClusterCommandHandler.cpp
  src/app/clusters/ota-provider/ota-provider-delegate.h
  src/app/clusters/ota-provider/ota-provider.cpp
  src/app/common/gen/callback.h
  src/app/common/gen/client-command-macro.h
  src/app/zap-templates/zcl/data-model/chip/chip-ota.xml
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @vivien-apple, @yunhanw-google, @bzbarsky-apple, @mrjerryjohns, @erjianqing

Integrate BDX and ExchangeDelegate (#8514)
  src/protocols/bdx/BUILD.gn
  src/protocols/bdx/TransferFacilitator.cpp
  src/protocols/bdx/TransferFacilitator.h
Owners: @mspang, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

ESP32: Add bridge app example to ESP32 (#8368)
  .github/workflows/examples-esp32.yaml
  examples/bridge-app/esp32/CMakeLists.txt
  examples/bridge-app/esp32/main/CHIPDeviceManager.cpp
  examples/bridge-app/esp32/main/CMakeLists.txt
  examples/bridge-app/esp32/main/Device.cpp
  examples/bridge-app/esp32/main/DeviceCallbacks.cpp
  examples/bridge-app/esp32/main/Kconfig.projbuild
  examples/bridge-app/esp32/main/include/CHIPDeviceManager.h
  examples/bridge-app/esp32/main/include/Device.h
  examples/bridge-app/esp32/main/include/DeviceCallbacks.h
  examples/bridge-app/esp32/main/main.cpp
  examples/bridge-app/esp32/partitions.csv
  examples/bridge-app/esp32/sdkconfig.defaults
  examples/bridge-app/esp32/third_party/connectedhomeip
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Thermostat User Interface Configuration Cluster (#8511)
  examples/all-clusters-app/all-clusters-common/all-clusters-app.zap
  examples/all-clusters-app/all-clusters-common/gen/callback-stub.cpp
  examples/all-clusters-app/all-clusters-common/gen/endpoint_config.h
  examples/all-clusters-app/all-clusters-common/gen/gen_config.h
  examples/chip-tool/commands/clusters/Commands.h
  src/app/zap_cluster_list.py
  src/controller/data_model/controller-clusters.zap
  src/controller/data_model/gen/CHIPClusters.cpp
  src/controller/data_model/gen/CHIPClusters.h
  src/controller/data_model/gen/callback-stub.cpp
  src/controller/data_model/gen/endpoint_config.h
  src/controller/data_model/gen/gen_config.h
  src/controller/java/gen/CHIPClusters-JNI.cpp
  src/controller/java/gen/ChipClusters.java
  src/controller/python/chip/clusters/CHIPClusters.cpp
  src/controller/python/chip/clusters/CHIPClusters.py
  src/darwin/Framework/CHIP/gen/CHIPClustersObjc.h
  src/darwin/Framework/CHIP/gen/CHIPClustersObjc.mm
  src/darwin/Framework/CHIPTests/CHIPClustersTests.m
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @vivien-apple, @yunhanw-google, @bzbarsky-apple, @mrjerryjohns, @shana-apple, @pan-apple, @austinh0, @andy31415, @erjianqing

Update cluster revision and feature map definition to be closer to the spec (#8599)
  examples/all-clusters-app/all-clusters-common/all-clusters-app.zap
  examples/all-clusters-app/all-clusters-common/gen/endpoint_config.h
  examples/bridge-app/bridge-common/bridge-app.zap
  examples/bridge-app/bridge-common/gen/endpoint_config.h
  examples/lighting-app/lighting-common/gen/endpoint_config.h
  examples/lighting-app/lighting-common/lighting-app.zap
  examples/lock-app/lock-common/gen/endpoint_config.h
  examples/lock-app/lock-common/lock-app.zap
  examples/pump-app/pump-common/gen/endpoint_config.h
  examples/pump-app/pump-common/pump-app.zap
  examples/pump-controller-app/pump-controller-common/gen/endpoint_config.h
  examples/pump-controller-app/pump-controller-common/pump-controller-app.zap
  examples/temperature-measurement-app/esp32/main/gen/endpoint_config.h
  examples/temperature-measurement-app/esp32/main/temperature-measurement.zap
  examples/thermostat/thermostat-common/gen/endpoint_config.h
  examples/thermostat/thermostat-common/thermostat.zap
  examples/tv-app/tv-common/gen/endpoint_config.h
  examples/tv-app/tv-common/tv-app.zap
  examples/window-app/common/gen/endpoint_config.h
  examples/window-app/common/window-app.zap
  src/app/tests/suites/certification/Test_TC_BI_1_1.yaml
  src/app/tests/suites/certification/Test_TC_OO_1_1.yaml
  src/app/tests/suites/certification/Test_TC_WNCV_1_1.yaml
  src/app/zap-templates/zcl/data-model/chip/global-attributes.xml
  src/app/zap-templates/zcl/data-model/silabs/general.xml
  src/app/zap-templates/zcl/zcl.json
  src/controller/data_model/controller-clusters.zap
  src/controller/data_model/gen/endpoint_config.h
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @vivien-apple, @erjianqing, @shana-apple, @pan-apple

Mdns: Allow multiple operational advertisements (#8610)
  src/lib/mdns/Advertiser_ImplMinimalMdns.cpp
  src/lib/mdns/Advertiser_ImplMinimalMdnsAllocator.h
  src/lib/mdns/BUILD.gn
  src/lib/mdns/MinimalMdnsServer.h
  src/lib/mdns/ServiceNaming.cpp
  src/lib/mdns/ServiceNaming.h
  src/lib/mdns/minimal/ResponseSender.h
  src/lib/mdns/minimal/core/DnsHeader.h
  src/lib/mdns/minimal/tests/BUILD.gn
  src/lib/mdns/minimal/tests/CheckOnlyServer.h
  src/lib/mdns/minimal/tests/TestAdvertiser.cpp
  src/lib/mdns/minimal/tests/TestMinimalMdnsAllocator.cpp
  src/lib/mdns/minimal/tests/TestResponseSender.cpp
Owners: @andy31415, @gjc13, @damian-nordic

Tests: Update CheckOnlyServer
  src/lib/mdns/minimal/records/Txt.h
  src/lib/mdns/minimal/tests/CheckOnlyServer.h
  src/lib/mdns/minimal/tests/TestAdvertiser.cpp
  src/lib/support/CHIPMemString.h
Owners: @andy31415, @gjc13, @damian-nordic, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Chip add wifi rpcs all-clusters-app (#8573)
  examples/all-clusters-app/esp32/CMakeLists.txt
  examples/all-clusters-app/esp32/README.md
  examples/all-clusters-app/esp32/main/CMakeLists.txt
  examples/all-clusters-app/esp32/main/Kconfig.projbuild
  examples/all-clusters-app/esp32/main/Rpc.cpp
  examples/all-clusters-app/esp32/main/include/Rpc.h
  examples/all-clusters-app/esp32/main/main.cpp
  examples/lock-app/esp32/README.md
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Increase timeout to 20 minutes for regular builds
  .github/workflows/build.yaml
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Update the yaml parser to be stricter regarding response configuration (#8751)
  examples/chip-tool/commands/tests/Commands.h
  src/app/tests/suites/TV_ApplicationBasicCluster.yaml
  src/app/tests/suites/certification/Test_TC_CC_3_4.yaml
  src/app/tests/suites/certification/Test_TC_CC_5.yaml
  src/app/tests/suites/certification/Test_TC_CC_6.yaml
  src/app/tests/suites/certification/Test_TC_CC_7.yaml
  src/app/zap-templates/common/ClusterTestGeneration.js
  src/darwin/Framework/CHIPTests/CHIPClustersTests.m
Owners: @vivien-apple, @erjianqing, @shana-apple, @pan-apple

Add constants for readability
  src/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/clusterclient/OnOffClientFragment.kt
Owners: @austinh0

Support configure/report attributes in Android
  src/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/clusterclient/OnOffClientFragment.kt
  src/android/CHIPTool/app/src/main/res/layout/on_off_client_fragment.xml
  src/android/CHIPTool/app/src/main/res/layout/report_dialog.xml
  src/android/CHIPTool/app/src/main/res/values/strings.xml
  src/controller/java/templates/CHIPClusters-JNI.zapt
  src/controller/java/templates/ChipClusters-java.zapt
Owners: @austinh0

Use unique_ptr and Platform::New/Delete
  src/controller/java/templates/CHIPClusters-JNI.zapt
Owners: @austinh0

Regenerate
  src/controller/java/gen/CHIPClusters-JNI.cpp
  src/controller/java/gen/ChipClusters.java
Owners: @austinh0

Increase timeout to 20 minutes for regular builds (#8799)
  .github/workflows/build.yaml
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Fix esp32 bridge-app compile
  examples/bridge-app/esp32/main/CMakeLists.txt
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Fix esp32 bridge-app compile (#8804)
  examples/bridge-app/esp32/main/CMakeLists.txt
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Separate System::Layer and Timer into per-implementation files.
  examples/chip-tool/commands/common/Command.cpp
  examples/minimal-mdns/client.cpp
  src/ble/BleLayer.h
  src/darwin/Framework/CHIP.xcodeproj/project.pbxproj
  src/include/platform/PlatformManager.h
  src/include/platform/internal/GenericPlatformManagerImpl.cpp
  src/include/platform/internal/GenericPlatformManagerImpl_FreeRTOS.cpp
  src/inet/IPEndPointBasis.cpp
  src/inet/InetLayer.cpp
  src/inet/RawEndPoint.cpp
  src/inet/TCPEndPoint.cpp
  src/inet/UDPEndPoint.cpp
  src/inet/tests/TestInetCommonPosix.cpp
  src/platform/BUILD.gn
  src/platform/Darwin/PlatformManagerImpl.cpp
  src/platform/Linux/SystemPlatformConfig.h
  src/platform/SystemEventSupport.cpp
  src/platform/SystemTimerSupport.cpp
  src/system/BUILD.gn
  src/system/SystemClock.cpp
  src/system/SystemClock.h
  src/system/SystemLayer.cpp
  src/system/SystemLayer.h
  src/system/SystemMutex.h
  src/system/SystemObject.cpp
  src/system/SystemTimer.cpp
  src/system/SystemTimer.h
  src/system/WatchableEventManager.h
  src/system/WatchableEventManagerLibevent.cpp
  src/system/WatchableEventManagerLibevent.h
  src/system/WatchableEventManagerLwIP.cpp
  src/system/WatchableEventManagerLwIP.h
  src/system/WatchableEventManagerSelect.cpp
  src/system/WatchableEventManagerSelect.h
  src/system/WatchableSocketSelect.cpp
  src/system/system.gni
  src/system/tests/TestSystemTimer.cpp
Owners: @vivien-apple, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @yunhanw-google, @shana-apple, @pan-apple, @mspang, @yufengwangca, @kpschoedel

rebase and regen zap
  examples/all-clusters-app/all-clusters-common/gen/endpoint_config.h
  src/controller/data_model/gen/endpoint_config.h
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @shana-apple, @pan-apple

[cirque] Add echo over TCP test for messaging layer (#8775)
  scripts/tests/cirque_tests.sh
  src/test_driver/linux-cirque/EchoOverTcpTest.py
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Regen all
  examples/all-clusters-app/all-clusters-common/gen/endpoint_config.h
  src/controller/data_model/gen/endpoint_config.h
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @shana-apple, @pan-apple

Review comments.
  src/lib/mdns/minimal/records/Txt.h
  src/lib/mdns/minimal/records/tests/TestResourceRecordTxt.cpp
  src/lib/mdns/minimal/tests/CheckOnlyServer.h
  src/lib/mdns/minimal/tests/TestAdvertiser.cpp
Owners: @andy31415, @gjc13, @damian-nordic

Tests - Log a useful message if the cluster name is not spelled appropriately in Yaml tests
  src/app/zap-templates/common/ClusterTestGeneration.js
  src/app/zap-templates/templates/app/helper.js
  src/app/zap-templates/zcl/data-model/chip/onoff-cluster.xml
Owners: @vivien-apple, @erjianqing

Update gen/ folders
  examples/all-clusters-app/all-clusters-common/gen/endpoint_config.h
  examples/all-clusters-app/all-clusters-common/gen/gen_config.h
  examples/bridge-app/bridge-common/gen/endpoint_config.h
  examples/bridge-app/bridge-common/gen/gen_config.h
  examples/lighting-app/lighting-common/gen/endpoint_config.h
  examples/lighting-app/lighting-common/gen/gen_config.h
  examples/lock-app/lock-common/gen/endpoint_config.h
  examples/lock-app/lock-common/gen/gen_config.h
  examples/pump-app/pump-common/gen/endpoint_config.h
  examples/pump-app/pump-common/gen/gen_config.h
  examples/pump-controller-app/pump-controller-common/gen/endpoint_config.h
  examples/pump-controller-app/pump-controller-common/gen/gen_config.h
  examples/thermostat/thermostat-common/gen/endpoint_config.h
  examples/thermostat/thermostat-common/gen/gen_config.h
  examples/tv-app/tv-common/gen/endpoint_config.h
  examples/tv-app/tv-common/gen/gen_config.h
  src/app/common/gen/attribute-id.h
  src/app/common/gen/callback.h
  src/app/common/gen/client-command-macro.h
  src/app/common/gen/cluster-id.h
  src/app/common/gen/command-id.h
  src/app/common/gen/print-cluster.h
  src/controller/data_model/gen/endpoint_config.h
  src/controller/data_model/gen/gen_config.h
  src/darwin/Framework/CHIP/gen/CHIPClustersObjc.h
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @yunhanw-google, @bzbarsky-apple, @mrjerryjohns, @shana-apple, @pan-apple, @vivien-apple

Regenerate generated files to fix ZAP test failures.
  examples/all-clusters-app/all-clusters-common/gen/endpoint_config.h
  src/controller/data_model/gen/endpoint_config.h
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @shana-apple, @pan-apple

Regen all (#8805)
  examples/all-clusters-app/all-clusters-common/gen/endpoint_config.h
  src/controller/data_model/gen/endpoint_config.h
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @shana-apple, @pan-apple

Fix integer overflow in ExtractIdFromServiceName.
  src/lib/mdns/ServiceNaming.cpp
  src/lib/mdns/ServiceNaming.h
  src/lib/mdns/tests/TestServiceNaming.cpp
Owners: @andy31415, @gjc13, @damian-nordic

[cloudbuild] Add compress flag to compress built artifacts
  integrations/cloudbuild/build-all.yaml
  scripts/build/build/__init__.py
  scripts/build/build_examples.py
  scripts/build/builders/builder.py
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @mspang

[python] Introduce GetClusterInfoById
  src/controller/python/chip/ChipDeviceCtrl.py
  src/controller/python/templates/python-CHIPClusters-py.zapt
  src/controller/python/test/test_scripts/base.py
  src/controller/python/test/test_scripts/mobile-device-test.py
Owners: @andy31415, @erjianqing

Run Codegen
  src/controller/python/chip/clusters/CHIPClusters.py
Owners: @andy31415, @erjianqing

[cloudbuild] Add compress flag to compress built artifacts (#8781)
  integrations/cloudbuild/build-all.yaml
  scripts/build/build/__init__.py
  scripts/build/build_examples.py
  scripts/build/builders/builder.py
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @mspang

Fix remarks from reviewers
  config/Ameba/.gn
  examples/all-clusters-app/Ameba/main/chipinterface.cpp
  src/platform/Ameba/AmebaConfig.cpp
  src/platform/Ameba/AmebaConfig.h
Owners: @mspang, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @yufengwangca

.github/CODEOWNERS:

# Current reviewers-XXX teams, who review everything for approval.
* @reviewers-amazon @reviewers-apple @reviewers-comcast @reviewers-google @reviewers-nordic @reviewers-samsung @reviewers-silabs


# BUILD system

*.gn @mspang
/build/ @mspang
/scripts/build/ @mspang

# Crypto
# Crypto primitives and high level API, generally on top of mbedtls and openssl
/src/crypto/* @pan-apple @emargolis
/src/credentials/ @pan-apple @emargolis

# Transport
# Send and receive data abstracting away the underlying protocol (UDP, TCP, BLE)
/src/transport/ @andy31415 @pan-apple

# Session establishment
# Establish a secure session (encryption keys) from one node to another.
# Includes CASE and PASE + session tracking and resumptioon
/src/protocols/secure_channel/ @pan-apple

# Message Layer
# CRMP and packet headers, generally coupled with SecureSessionManager
/src/messaging @yufengwangca @kghost @bzbarksy-apple
/src/transport/raw/MessageHeader.* @yufengwangca @kghost @bzbarksy-apple

# SecureSessionManager
# Manages per-session encryption keys and new session establishment
/src/transport/SecureSessionMgr.* @pan-apple

# Exchange management
# Joins requests and responses or ties a series of messages belonging to the 
# same protocol interaction
/src/messaging/ @yufengwangca @bzbarsky-apple
/src/channel/ @yufengwangca @bzbarsky-apple

# DNS-SD discovery and advertisement
# Advertise chip devices for commisioning, operational and discover such devices
/src/lib/mdns/ @andy31415 @gjc13 @damian-nordic

# Commisioning controller/flow
# Example of a comisioning sequence
/src/controller/ @pan-apple @erjiaqing

# Operational credentials management
# Signing certificates, maintaining roots of trust, validation, fabric management
/src/controller/ @shana-apple @pan-apple
/src/transport/AdminPairingTable.* @shana-apple @pan-apple

# TLV encoding/decoding to/from byte buffers
/src/lib/core/CHIPTLV* @yunhanw-google @bzbarsky-apple @shana-apple

# Interaction model - ember implementation
# ZCL protocol implementation: ZCL encoding to be sent over the wire as a 
# ZigbeePro protocol implementation
/src/app/util/ @vivien-apple @erjianqing @bzbarsky-apple

# Interaction model - non-ember
# Protocol implementation for IM interactions between nodes, matching spec
/src/app/ @yunhanw-google @bzbarsky-apple @mrjerryjohns

# Interaction model - code generation
# CHIP-specific infrastructure for generating code: helper js methods, scripts
# and code layout
/src/app/zap-templates/ @vivien-apple @erjianqing

# ZAP suppport
# UI for editing XML, generates code from such ZML and configuration files
# NOT part of CHIP however CHIP relies heavily on ZAP.
#    @vivien-apple  @tecimovic

# 'Standard' cluster implementations (server side)
# Clusters shipped with the sdk, can be integrated as-is or used as a template
/src/app/clusters/ @vivien-apple

# Onboarding payload
# Parsing and generation of codes (includes QR and NFC), numeric pairing payload
/src/setup_payload/ @shana-apple @vivien-apple @jrhees-cae

# Device Layer
# Porting interfaces, scaffolding for building an example firmware
/src/platform/ @mspang @yufengwangca
/src/include/platform/ @mspang @yufengwangca

# Persistent storage
# Save state across reboots
/src/platform/*/KeyValueStore* @rgoliver

# Python bindings for CHIP - CLI
# Allows python code to use CHIP, generally targeted towards automation
/src/controller/python/ @andy31415 @erjianqing

# CHIP-tool C++ CLI
# Command line interface to chip as a client (controller and commisioner)
# Includes generated code for every base cluster
/examples/chip-tool/ @vivien-apple

# CHIP-tool iOS UI
/src/darwin/CHIPTool/ @shana-apple

# CHIP-tool Android
/src/android/CHIPTool/ @austinh0
/src/controller/java/ @austinh0

# End2End autogenerated tests
/src/darwin/Framework/Chip-templates/ @vivien-apple
/src/app/tests/suites/ @vivien-apple

# End2End cirque tests
# Simulate topology (cirque) and ptyhon-based test automation
/src/test_driver/linux/cirque/ @erjianqing @yunhanw-google

# Thread integration
# Thread-specific functionality (network provisioning, operational discovery, SRP registration etc.)
/src/platform/OpenThread/ @bukepo
/src/platform/*/ThreadStackmanagerImpl.* @bukepo

# Inet
# Networking abstraction layer (UDP-endpoint, TCP-endpoint, InetLayerBasis)
/src/inet/ @kpschoedel 

# System layer
/src/system/ @kpschoedel 

# BLE support
/src/ble/ @yunhanw-google

# CHIP Shell
# Command-line UART/stdin interface as a side-channel to CHIP accessories
# Aimed as user-friendly/manual control
/src/examples/shell/ @gjc13 @yufengwangca

# RPC
# Side-channlel command path (outside chip), generally for automation and debugging
# Aimed as "scriptable" when compared to shell
/examples/common/pigweed/ @rgoliver
/examples/pigweed-app/ @rgoliver

# Tooling for crypto manual generation
# Generates data for sample PKI
/src/tools/chip-cert/ @emargolis

# Channel API
# Construct a transport/secure session based on peer info and transport type.
# Focused on CASE session establishment
/src/channel/ @kghost

# Darwin framework
# Exposes a darwin API (Objective-C/swift rather than raw C++ API) for darwin
# applications
/src/darwin/Framework/ @shana-apple @vivien-apple @pan-apple
