Repository project-chip/connectedhomeip, changes with the owners that .github/CODEOWNERS names for each.
All owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @mspang, @pan-apple, @emargolis, @andy31415, @yufengwangca, @kghost, @bzbarksy-apple, @bzbarsky-apple, @gjc13, @damian-nordic, @erjiaqing, @shana-apple, @yunhanw-google, @vivien-apple, @erjianqing, @mrjerryjohns, @jrhees-cae, @rgoliver, @austinh0, @bukepo, @kpschoedel

Get peer's node ID from session instead of packet header for response handling (#9287)
  src/controller/CHIPDeviceController.cpp
  src/darwin/Framework/CHIP/templates/clusters-tests.zapt
  src/darwin/Framework/CHIPTests/CHIPClustersTests.m
Owners: @shana-apple, @pan-apple, @vivien-apple

Make build example able to skip timestamps in logs (#9298)
  .github/workflows/android.yaml
  .github/workflows/examples-infineon.yaml
  scripts/build/build_examples.py
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @mspang

changed SetFabric to SetCompressedFabric in test file
  src/lib/mdns/tests/TestMdnsCache.cpp
Owners: @andy31415, @gjc13, @damian-nordic

changed: SetFabric to SetCompressedFabric
  src/lib/mdns/tests/TestMdnsCache.cpp
Owners: @andy31415, @gjc13, @damian-nordic

Update chip-tool documentation.
  examples/chip-tool/README.md
Owners: @vivien-apple

Variant: Remove requriment of VariantId
  src/app/util/af-types.h
  src/channel/ChannelContext.h
  src/lib/support/Variant.h
  src/lib/support/tests/TestVariant.cpp
Owners: @yunhanw-google, @bzbarsky-apple, @mrjerryjohns, @kghost, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Restyled by clang-format
  src/lib/support/Variant.h
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

ESP32: CI fixes
  examples/all-clusters-app/esp32/README.md
  scripts/examples/esp_example.sh
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Restyled by prettier-markdown
  examples/all-clusters-app/esp32/README.md
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

ESP32: CI fixes
  examples/all-clusters-app/esp32/README.md
  examples/lock-app/esp32/README.md
  examples/temperature-measurement-app/esp32/README.md
  scripts/examples/esp_example.sh
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Restyled by prettier-markdown
  examples/lock-app/esp32/README.md
  examples/temperature-measurement-app/esp32/README.md
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

[app] API change to support cluster control from devices
  src/controller/BUILD.gn
  src/controller/CHIPCluster.cpp
  src/controller/CHIPCluster.h
  src/controller/CHIPDevice.cpp
  src/controller/CHIPDevice.h
  src/controller/InteractionPeer.cpp
  src/controller/InteractionPeer.h
  src/controller/java/CHIPDeviceController-JNI.cpp
Owners: @shana-apple, @pan-apple, @austinh0

Add read attribute positive and negative unit tests
  src/app/ReadHandler.cpp
  src/app/ReadHandler.h
  src/app/reporting/Engine.cpp
  src/app/tests/TestCommandInteraction.cpp
  src/app/tests/TestReadInteraction.cpp
Owners: @yunhanw-google, @bzbarsky-apple, @mrjerryjohns

Restyled by clang-format
  src/app/ReadHandler.h
  src/app/reporting/Engine.cpp
  src/app/tests/TestReadInteraction.cpp
Owners: @yunhanw-google, @bzbarsky-apple, @mrjerryjohns

Restyled by prettier-markdown
  examples/all-clusters-app/Ameba/README.md
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

[cirque] Enable TestResolve
  src/controller/python/test/test_scripts/base.py
  src/controller/python/test/test_scripts/mobile-device-test.py
Owners: @andy31415, @erjianqing

Enable and use Rendezvous BLE (and its dependencies) only when Bluetooth is enabled in menuconfig
  config/esp32/components/chip/CMakeLists.txt
  config/esp32/components/chip/Kconfig
  examples/all-clusters-app/esp32/main/Kconfig.projbuild
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Add new Percentages typedef
  src/app/util/basic-types.h
  src/app/zap-templates/common/ChipTypesHelper.js
  src/app/zap-templates/common/override.js
  src/app/zap-templates/zcl/data-model/chip/chip-types.xml
Owners: @yunhanw-google, @bzbarsky-apple, @mrjerryjohns, @vivien-apple, @erjianqing

Wait for Wi-Fi management to start up (#8834)
  examples/platform/linux/AppMain.cpp
  src/platform/Linux/ConnectivityManagerImpl.cpp
  src/platform/Linux/ConnectivityManagerImpl.h
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @mspang, @yufengwangca

Restyled by clang-format
  examples/platform/linux/AppMain.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Fix temperature value and units (#9295)
  src/darwin/CHIPTool/CHIPTool/View Controllers/Temperature Sensor/TemperatureSensorViewController.m
Owners: @shana-apple

Restyled by clang-format
  src/darwin/CHIPTool/CHIPTool/View Controllers/Temperature Sensor/TemperatureSensorViewController.m
Owners: @shana-apple

Add Zap Generated enums
  zzz_generated/app-common/app-common/zap-generated/attribute-size.h
  zzz_generated/app-common/app-common/zap-generated/attribute-type.h
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Bump up timeout for darwin tests: had timeouts in master commits
  .github/workflows/build.yaml
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Also bump up the global run time
  .github/workflows/build.yaml
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Bump up timeout for darwin tests from 50 minutes to 75 (#9328)
  .github/workflows/build.yaml
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

do not hardcode UDP listen port (#9309)
  src/controller/python/ChipDeviceController-ScriptBinding.cpp
Owners: @andy31415, @erjianqing

need cast for ESP32
  src/lib/mdns/tests/TestMdnsCache.cpp
Owners: @andy31415, @gjc13, @damian-nordic

Add pump/pump-controller applications to build_examples.py and fix their build (#9267)
  .vscode/tasks.json
  examples/pump-app/nrfconnect/CMakeLists.txt
  examples/pump-controller-app/nrfconnect/CMakeLists.txt
  scripts/build/build/factory.py
  scripts/build/build/targets.py
  scripts/build/builders/nrf.py
  scripts/build/expected_all_platform_commands.txt
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @mspang

Add read attribute positive and negative unit tests
  src/app/InteractionModelEngine.cpp
  src/app/ReadClient.cpp
  src/app/ReadClient.h
  src/app/ReadHandler.cpp
  src/app/ReadHandler.h
  src/app/reporting/Engine.cpp
  src/app/tests/TestCommandInteraction.cpp
  src/app/tests/TestReadInteraction.cpp
Owners: @yunhanw-google, @bzbarsky-apple, @mrjerryjohns

Move controller data to zzz_generated (#9280)
  scripts/tools/zap_regen_all.py
  src/controller/BUILD.gn
  src/controller/CHIPDevice.cpp
  src/controller/CHIPDevice.h
  src/controller/CHIPDeviceController.cpp
  src/controller/CHIPDeviceController.h
  src/controller/data_model/BUILD.gn
  src/darwin/Framework/CHIP.xcodeproj/project.pbxproj
  zzz_generated/controller-clusters/zap-generated/CHIPClientCallbacks.cpp
  zzz_generated/controller-clusters/zap-generated/CHIPClientCallbacks.h
  zzz_generated/controller-clusters/zap-generated/CHIPClusters.cpp
  zzz_generated/controller-clusters/zap-generated/CHIPClusters.h
  zzz_generated/controller-clusters/zap-generated/IMClusterCommandHandler.cpp
  zzz_generated/controller-clusters/zap-generated/af-gen-event.h
  zzz_generated/controller-clusters/zap-generated/attribute-size.cpp
  zzz_generated/controller-clusters/zap-generated/callback-stub.cpp
  zzz_generated/controller-clusters/zap-generated/endpoint_config.h
  zzz_generated/controller-clusters/zap-generated/gen_config.h
  zzz_generated/controller-clusters/zap-generated/gen_tokens.h
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @shana-apple, @pan-apple, @vivien-apple

Optional: allow holding non-default-constructable-type (#9223)
  build/config/compiler/BUILD.gn
  src/lib/core/InPlace.h
  src/lib/core/Optional.h
  src/lib/core/tests/BUILD.gn
  src/lib/core/tests/TestOptional.cpp
  src/lib/support/Variant.h
  src/platform/OpenThread/GenericThreadStackManagerImpl_OpenThread.cpp
  src/transport/PeerConnections.h
  src/transport/PeerMessageCounter.h
  src/transport/SecureSession.cpp
  src/transport/raw/tests/TestMessageHeader.cpp
Owners: @mspang, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @bukepo, @andy31415, @pan-apple

Cleanup IM read
  src/app/ClusterInfo.h
  src/app/InteractionModelEngine.cpp
  src/app/InteractionModelEngine.h
  src/app/ReadClient.cpp
  src/app/ReadClient.h
  src/app/ReadPrepareParams.h
  src/app/tests/TestReadInteraction.cpp
  src/app/tests/integration/chip_im_initiator.cpp
  src/controller/CHIPDevice.cpp
Owners: @yunhanw-google, @bzbarsky-apple, @mrjerryjohns, @shana-apple, @pan-apple

Restyled by clang-format
  src/app/ReadPrepareParams.h
Owners: @yunhanw-google, @bzbarsky-apple, @mrjerryjohns

using #if CHIP_SYSTEM_CONFIG_USE_LWIP in tests to defined Inet::InterfaceId
  src/lib/mdns/tests/TestMdnsCache.cpp
Owners: @andy31415, @gjc13, @damian-nordic

Restyled by clang-format
  src/lib/mdns/tests/TestMdnsCache.cpp
Owners: @andy31415, @gjc13, @damian-nordic

Added coditional compile with CHIP_SYSTEM_CONFIG_USE_LWIP with InterfaceId in test
  src/lib/mdns/tests/TestMdnsCache.cpp
Owners: @andy31415, @gjc13, @damian-nordic

trying to use nullptr
  src/lib/mdns/tests/TestMdnsCache.cpp
Owners: @andy31415, @gjc13, @damian-nordic

Restyled by clang-format
  src/lib/mdns/tests/TestMdnsCache.cpp
Owners: @andy31415, @gjc13, @damian-nordic

Add IsAttributePathSupersetOf in ClusterInfo
  src/app/ClusterInfo.h
  src/app/tests/TestClusterInfo.cpp
Owners: @yunhanw-google, @bzbarsky-apple, @mrjerryjohns

.github/CODEOWNERS:

# Current reviewers-XXX teams, who review everything for approval.
* @reviewers-amazon @reviewers-apple @reviewers-comcast @reviewers-google @reviewers-nordic @reviewers-samsung @reviewers-silabs


# BUILD system

*.gn @mspang
/build/ @mspang
/scripts/build/ @mspang

# Crypto
# Crypto primitives and high level API, generally on top of mbedtls and openssl
/src/crypto/* @pan-apple @emargolis
/src/credentials/ @pan-apple @emargolis

# Transport
# Send and receive data abstracting away the underlying protocol (UDP, TCP, BLE)
/src/transport/ @andy31415 @pan-apple

# Session establishment
# Establish a secure session (encryption keys) from one node to another.
# Includes CASE and PASE + session tracking and resumptioon
/src/protocols/secure_channel/ @pan-apple

# Message Layer
# CRMP and packet headers, generally coupled with SecureSessionManager
/src/messaging @yufengwangca @kghost @bzbarksy-apple
/src/transport/raw/MessageHeader.* @yufengwangca @kghost @bzbarksy-apple

# SecureSessionManager
# Manages per-session encryption keys and new session establishment
/src/transport/SecureSessionMgr.* @pan-apple

# Exchange management
# Joins requests and responses or ties a series of messages belonging to the 
# same protocol interaction
/src/messaging/ @yufengwangca @bzbarsky-apple
/src/channel/ @yufengwangca @bzbarsky-apple

# DNS-SD discovery and advertisement
# Advertise chip devices for commisioning, operational and discover such devices
/src/lib/mdns/ @andy31415 @gjc13 @damian-nordic

# Commisioning controller/flow
# Example of a comisioning sequence
/src/controller/ @pan-apple @erjiaqing

# Operational credentials management
# Signing certificates, maintaining roots of trust, validation, fabric management
/src/controller/ @shana-apple @pan-apple
/src/transport/AdminPairingTable.* @shana-apple @pan-apple

# TLV encoding/decoding to/from byte buffers
/src/lib/core/CHIPTLV* @yunhanw-google @bzbarsky-apple @shana-apple

# Interaction model - ember implementation
# ZCL protocol implementation: ZCL encoding to be sent over the wire as a 
# ZigbeePro protocol implementation
/src/app/util/ @vivien-apple @erjianqing @bzbarsky-apple

# Interaction model - non-ember
# Protocol implementation for IM interactions between nodes, matching spec
/src/app/ @yunhanw-google @bzbarsky-apple @mrjerryjohns

# Interaction model - code generation
# CHIP-specific infrastructure for generating code: helper js methods, scripts
# and code layout
/src/app/zap-templates/ @vivien-apple @erjianqing

# ZAP suppport
# UI for editing XML, generates code from such ZML and configuration files
# NOT part of CHIP however CHIP relies heavily on ZAP.
#    @vivien-apple  @tecimovic

# 'Standard' cluster implementations (server side)
# Clusters shipped with the sdk, can be integrated as-is or used as a template
/src/app/clusters/ @vivien-apple

# Onboarding payload
# Parsing and generation of codes (includes QR and NFC), numeric pairing payload
/src/setup_payload/ @shana-apple @vivien-apple @jrhees-cae

# Device Layer
# Porting interfaces, scaffolding for building an example firmware
/src/platform/ @mspang @yufengwangca
/src/include/platform/ @mspang @yufengwangca

# Persistent storage
# Save state across reboots
/src/platform/*/KeyValueStore* @rgoliver

# Python bindings for CHIP - CLI
# Allows python code to use CHIP, generally targeted towards automation
/src/controller/python/ @andy31415 @erjianqing

# CHIP-tool C++ CLI
# Command line interface to chip as a client (controller and commisioner)
# Includes generated code for every base cluster
/examples/chip-tool/ @vivien-apple

# CHIP-tool iOS UI
/src/darwin/CHIPTool/ @shana-apple

# CHIP-tool Android
/src/android/CHIPTool/ @austinh0
/src/controller/java/ @austinh0

# End2End autogenerated tests
/src/darwin/Framework/Chip-templates/ @vivien-apple
/src/app/tests/suites/ @vivien-apple

# End2End cirque tests
# Simulate topology (cirque) and ptyhon-based test automation
/src/test_driver/linux/cirque/ @erjianqing @yunhanw-google

# Thread integration
# Thread-specific functionality (network provisioning, operational discovery, SRP registration etc.)
/src/platform/OpenThread/ @bukepo
/src/platform/*/ThreadStackmanagerImpl.* @bukepo

# Inet
# Networking abstraction layer (UDP-endpoint, TCP-endpoint, InetLayerBasis)
/src/inet/ @kpschoedel 

# System layer
/src/system/ @kpschoedel 

# BLE support
/src/ble/ @yunhanw-google

# CHIP Shell
# Command-line UART/stdin interface as a side-channel to CHIP accessories
# Aimed as user-friendly/manual control
/src/examples/shell/ @gjc13 @yufengwangca

# RPC
# Side-channlel command path (outside chip), generally for automation and debugging
# Aimed as "scriptable" when compared to shell
/examples/common/pigweed/ @rgoliver
/examples/pigweed-app/ @rgoliver

# Tooling for crypto manual generation
# Generates data for sample PKI
/src/tools/chip-cert/ @emargolis

# Channel API
# Construct a transport/secure session based on peer info and transport type.
# Focused on CASE session establishment
/src/channel/ @kghost

# Darwin framework
# Exposes a darwin API (Objective-C/swift rather than raw C++ API) for darwin
# applications
/src/darwin/Framework/ @shana-apple @vivien-apple @pan-apple
