Repository project-chip/connectedhomeip, changes with the owners that .github/CODEOWNERS names for each.
All owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @mspang, @pan-apple, @emargolis, @andy31415, @yufengwangca, @kghost, @bzbarksy-apple, @bzbarsky-apple, @gjc13, @damian-nordic, @erjiaqing, @shana-apple, @yunhanw-google, @vivien-apple, @erjianqing, @mrjerryjohns, @jrhees-cae, @rgoliver, @austinh0, @bukepo, @kpschoedel

fix missed #else case
  src/system/WakeEvent.cpp
Owners: @kpschoedel

Make CHIP_ERROR a class type on nrfconnect
  examples/lighting-app/nrfconnect/main/main.cpp
  examples/lock-app/nrfconnect/main/main.cpp
  examples/shell/shell_common/cmd_otcli.cpp
  src/platform/OpenThread/GenericThreadStackManagerImpl_OpenThread.cpp
  src/platform/Zephyr/BLEManagerImpl.cpp
  src/platform/nrfconnect/CHIPPlatformConfig.h
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @bukepo, @mspang, @yufengwangca

add method for getting a new ExchangeContext
  src/controller/CHIPDevice.cpp
  src/controller/CHIPDevice.h
Owners: @shana-apple, @pan-apple

generate missing zap file
  examples/thermostat/thermostat-common/gen/IMClusterCommandHandler.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Examples: Window Cluster: Application logic moved to commons.
  examples/platform/efr32/lcd.h
  examples/window-app/common/include/WindowApp.h
  examples/window-app/common/src/WindowApp.cpp
  examples/window-app/common/src/ZclCallbacks.cpp
  examples/window-app/efr32/BUILD.gn
  examples/window-app/efr32/include/AppConfig.h
  examples/window-app/efr32/include/AppEvent.h
  examples/window-app/efr32/include/AppTask.h
  examples/window-app/efr32/include/AppTimer.h
  examples/window-app/efr32/include/ButtonHandler.h
  examples/window-app/efr32/include/LcdPainter.h
  examples/window-app/efr32/include/WindowAppImpl.h
  examples/window-app/efr32/include/WindowCover.h
  examples/window-app/efr32/src/AppEvent.cpp
  examples/window-app/efr32/src/AppTask.cpp
  examples/window-app/efr32/src/AppTimer.cpp
  examples/window-app/efr32/src/ButtonHandler.cpp
  examples/window-app/efr32/src/LcdPainter.cpp
  examples/window-app/efr32/src/WindowAppImpl.cpp
  examples/window-app/efr32/src/WindowCover.cpp
  examples/window-app/efr32/src/ZclCallbacks.cpp
  examples/window-app/efr32/src/main.cpp
  src/app/clusters/window-covering-server/window-covering-server.cpp
  src/app/clusters/window-covering-server/window-covering-server.h
  src/app/zap_cluster_list.py
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @mspang, @vivien-apple, @yunhanw-google, @bzbarsky-apple, @mrjerryjohns

[hotfix] Temporary fix for Telink builds
  .github/workflows/examples-telink.yaml
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Update src/app/clusters/window-covering-server/window-covering-server.cpp
  src/app/clusters/window-covering-server/window-covering-server.cpp
Owners: @vivien-apple

[hotfix] Temporary fix for Telink builds (#8638)
  .github/workflows/examples-telink.yaml
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

[nrfconnect] Clean up NFC code
  examples/lighting-app/nrfconnect/README.md
  examples/lighting-app/nrfconnect/main/AppTask.cpp
  examples/lighting-app/nrfconnect/main/include/AppTask.h
  examples/lock-app/nrfconnect/README.md
  examples/lock-app/nrfconnect/main/AppTask.cpp
  examples/lock-app/nrfconnect/main/include/AppTask.h
  examples/pump-app/nrfconnect/CMakeLists.txt
  examples/pump-app/nrfconnect/README.md
  examples/pump-app/nrfconnect/main/AppTask.cpp
  examples/pump-app/nrfconnect/main/include/AppTask.h
  examples/pump-controller-app/nrfconnect/CMakeLists.txt
  examples/pump-controller-app/nrfconnect/README.md
  examples/pump-controller-app/nrfconnect/main/AppTask.cpp
  examples/pump-controller-app/nrfconnect/main/include/AppTask.h
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Address code review comments
  src/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/clusterclient/SensorClientFragment.kt
Owners: @austinh0

[android] Add sensor clusters screen
  src/android/CHIPTool/app/build.gradle
  src/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/CHIPToolActivity.kt
  src/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/SelectActionFragment.kt
  src/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/clusterclient/SensorClientFragment.kt
  src/android/CHIPTool/app/src/main/res/layout/select_action_fragment.xml
  src/android/CHIPTool/app/src/main/res/layout/sensor_client_fragment.xml
  src/android/CHIPTool/app/src/main/res/values/strings.xml
Owners: @austinh0

Acquire Android multicast lock before attempting service resolution (#8613)
  src/controller/java/src/chip/devicecontroller/NsdManagerServiceResolver.java
Owners: @austinh0

Update src/app/clusters/window-covering-server/window-covering-server.cpp
  src/app/clusters/window-covering-server/window-covering-server.cpp
Owners: @vivien-apple

Update C style cast to c++ style
  src/app/clusters/window-covering-server/window-covering-server.cpp
Owners: @vivien-apple

feature/HSM-P256-Signature-asn1-to-raw (#8534)
  src/crypto/hsm/nxp/CHIPCryptoPALHsm_SE05X_P256.cpp
  src/crypto/hsm/nxp/CHIPCryptoPALHsm_SE05X_Spake2p.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Restyled by whitespace
  src/lib/mdns/minimal/tests/CheckOnlyServer.h
Owners: @andy31415, @gjc13, @damian-nordic

Mdns: Allow multiple operational advertisements
  examples/minimal-mdns/BUILD.gn
  src/app/server/BUILD.gn
  src/controller/BUILD.gn
  src/controller/python/BUILD.gn
  src/lib/BUILD.gn
  src/lib/mdns/Advertiser_ImplMinimalMdns.cpp
  src/lib/mdns/Advertiser_ImplMinimalMdnsAllocator.h
  src/lib/mdns/BUILD.gn
  src/lib/mdns/MinimalMdnsServer.h
  src/lib/mdns/ServiceNaming.cpp
  src/lib/mdns/ServiceNaming.h
  src/lib/mdns/minimal/core/DnsHeader.h
  src/lib/mdns/minimal/tests/BUILD.gn
  src/lib/mdns/minimal/tests/CheckOnlyServer.h
  src/lib/mdns/minimal/tests/TestAdvertiser.cpp
  src/lib/mdns/minimal/tests/TestMinimalMdnsAllocator.cpp
  src/lib/mdns/minimal/tests/TestResponseSender.cpp
  src/lib/mdns/tests/BUILD.gn
  src/platform/tests/BUILD.gn
  src/transport/BUILD.gn
Owners: @mspang, @yunhanw-google, @bzbarsky-apple, @mrjerryjohns, @shana-apple, @pan-apple, @andy31415, @erjianqing, @gjc13, @damian-nordic, @yufengwangca

Restyled by gn
  src/lib/mdns/BUILD.gn
  src/lib/mdns/minimal/tests/BUILD.gn
Owners: @andy31415, @gjc13, @damian-nordic

Apply C++ style cast remove C style
  src/app/clusters/window-covering-server/window-covering-server.cpp
  src/app/clusters/window-covering-server/window-covering-server.h
Owners: @vivien-apple

Restyled by clang-format
  src/app/clusters/window-covering-server/window-covering-server.cpp
  src/app/clusters/window-covering-server/window-covering-server.h
Owners: @vivien-apple

[nrfconnect] Clean up NFC code (#8639)
  examples/lighting-app/nrfconnect/README.md
  examples/lighting-app/nrfconnect/main/AppTask.cpp
  examples/lighting-app/nrfconnect/main/include/AppTask.h
  examples/lock-app/nrfconnect/README.md
  examples/lock-app/nrfconnect/main/AppTask.cpp
  examples/lock-app/nrfconnect/main/include/AppTask.h
  examples/pump-app/nrfconnect/CMakeLists.txt
  examples/pump-app/nrfconnect/README.md
  examples/pump-app/nrfconnect/main/AppTask.cpp
  examples/pump-app/nrfconnect/main/include/AppTask.h
  examples/pump-controller-app/nrfconnect/CMakeLists.txt
  examples/pump-controller-app/nrfconnect/README.md
  examples/pump-controller-app/nrfconnect/main/AppTask.cpp
  examples/pump-controller-app/nrfconnect/main/include/AppTask.h
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Roll Pigweed and update console
  examples/common/pigweed/rpc_console/py/chip_rpc/console.py
Owners: @rgoliver

Apply suggestions from code review
  src/lib/support/Span.h
  src/setup_payload/Base38.h
  src/setup_payload/Base38Decode.h
  src/setup_payload/Base38Encode.cpp
  src/setup_payload/Base38Encode.h
  src/setup_payload/QRCodeSetupPayloadGenerator.cpp
  src/setup_payload/QRCodeSetupPayloadGenerator.h
  src/setup_payload/SetupPayload.h
  src/setup_payload/tests/TestQRCode.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @shana-apple, @vivien-apple, @jrhees-cae

Change QR code payload setup to use C strings
  src/setup_payload/BUILD.gn
  src/setup_payload/Base38Decode.cpp
  src/setup_payload/Base38Decode.h
  src/setup_payload/Base38Encode.cpp
  src/setup_payload/Base38Encode.h
  src/setup_payload/QRCodeSetupPayloadGenerator.cpp
  src/setup_payload/QRCodeSetupPayloadGenerator.h
  src/setup_payload/QRCodeSetupPayloadParser.cpp
  src/setup_payload/SetupPayload.h
  src/setup_payload/tests/TestHelpers.h
  src/setup_payload/tests/TestQRCode.cpp
Owners: @shana-apple, @vivien-apple, @jrhees-cae

Fix unbounded stack in src/setup_payload (#3663)
  src/setup_payload/QRCodeSetupPayloadGenerator.cpp
Owners: @shana-apple, @vivien-apple, @jrhees-cae

Add nrf builds to the example_build.py
  scripts/build/build/factory.py
  scripts/build/build/targets.py
  scripts/build/builders/nrf.py
  scripts/build/expected_all_platform_commands.txt
Owners: @mspang

Added a bunch of licenses
  scripts/build/build/factory.py
  scripts/build/build/targets.py
  scripts/build/build_examples.py
  scripts/build/builders/builder.py
  scripts/build/builders/efr32.py
  scripts/build/builders/esp32.py
  scripts/build/builders/gn.py
  scripts/build/builders/linux.py
  scripts/build/builders/nrf.py
  scripts/build/builders/qpg.py
  scripts/build/runner/printonly.py
  scripts/build/runner/shell.py
  scripts/build/test.py
Owners: @mspang

Prevent concurrent CASE session setup (#8594)
  src/protocols/secure_channel/CASEServer.cpp
Owners: @pan-apple

Update chip-build dockerfile: (#8629)
  integrations/docker/images/chip-build/Dockerfile
  integrations/docker/images/chip-build/version
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Close exchanges automatically after a message send if no response is expected
  examples/shell/shell_common/cmd_send.cpp
  src/app/ReadHandler.cpp
  src/app/ReadHandler.h
  src/app/WriteHandler.cpp
  src/app/WriteHandler.h
  src/app/tests/TestWriteInteraction.cpp
  src/app/util/chip-message-send.cpp
  src/channel/tests/TestChannel.cpp
  src/controller/CHIPCluster.cpp
  src/controller/CHIPDevice.cpp
  src/controller/CHIPDevice.h
  src/controller/java/CHIPDeviceController-JNI.cpp
  src/messaging/ExchangeContext.cpp
  src/messaging/ExchangeContext.h
  src/messaging/tests/TestExchangeMgr.cpp
  src/messaging/tests/TestReliableMessageProtocol.cpp
  src/protocols/echo/Echo.h
  src/protocols/echo/EchoClient.cpp
  src/protocols/echo/EchoServer.cpp
  src/protocols/secure_channel/MessageCounterManager.cpp
  src/protocols/secure_channel/tests/TestMessageCounterManager.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @yunhanw-google, @bzbarsky-apple, @mrjerryjohns, @kghost, @shana-apple, @pan-apple, @austinh0, @yufengwangca

Change QR code payload setup to use C strings (#8526)
  src/lib/support/Span.h
  src/setup_payload/BUILD.gn
  src/setup_payload/Base38Decode.cpp
  src/setup_payload/Base38Decode.h
  src/setup_payload/Base38Encode.cpp
  src/setup_payload/Base38Encode.h
  src/setup_payload/QRCodeSetupPayloadGenerator.cpp
  src/setup_payload/QRCodeSetupPayloadGenerator.h
  src/setup_payload/QRCodeSetupPayloadParser.cpp
  src/setup_payload/tests/TestHelpers.h
  src/setup_payload/tests/TestQRCode.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @shana-apple, @vivien-apple, @jrhees-cae

Detect dry run and skip validation of environment variables
  scripts/build/builders/nrf.py
  scripts/build/runner/printonly.py
  scripts/build/runner/shell.py
Owners: @mspang

Fix typo in runner naming for dry run detect
  scripts/build/builders/nrf.py
Owners: @mspang

Don't build Advertiser test for zephyr.
  src/lib/mdns/minimal/tests/BUILD.gn
Owners: @andy31415, @gjc13, @damian-nordic

Update EFR32 to use GSDK3.2.1. (#8612)
  examples/lighting-app/efr32/src/main.cpp
  examples/lock-app/efr32/src/main.cpp
  examples/shell/efr32/src/main.cpp
  examples/window-app/efr32/src/main.cpp
  src/platform/EFR32/BLEManagerImpl.cpp
  src/platform/EFR32/efr32-chip-mbedtls-config.h
  src/platform/EFR32/efr32-mbedtls-psa-crypto-config.h
  src/platform/EFR32/freertos_bluetooth.c
  src/platform/EFR32/gatt_db.c
  src/platform/EFR32/gatt_db.h
  third_party/efr32_sdk/efr32_sdk.gni
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @mspang, @yufengwangca

Restyled by gn
  src/lib/mdns/minimal/tests/BUILD.gn
Owners: @andy31415, @gjc13, @damian-nordic

Restyled by gn
  src/lib/mdns/minimal/tests/BUILD.gn
Owners: @andy31415, @gjc13, @damian-nordic

Examples: Window Cluster: Application logic moved to commons.
  examples/platform/efr32/lcd.h
  examples/window-app/common/include/WindowApp.h
  examples/window-app/common/src/WindowApp.cpp
  examples/window-app/common/src/ZclCallbacks.cpp
  examples/window-app/efr32/BUILD.gn
  examples/window-app/efr32/include/AppConfig.h
  examples/window-app/efr32/include/AppEvent.h
  examples/window-app/efr32/include/AppTask.h
  examples/window-app/efr32/include/AppTimer.h
  examples/window-app/efr32/include/ButtonHandler.h
  examples/window-app/efr32/include/LcdPainter.h
  examples/window-app/efr32/include/WindowAppImpl.h
  examples/window-app/efr32/include/WindowCover.h
  examples/window-app/efr32/src/AppEvent.cpp
  examples/window-app/efr32/src/AppTask.cpp
  examples/window-app/efr32/src/AppTimer.cpp
  examples/window-app/efr32/src/ButtonHandler.cpp
  examples/window-app/efr32/src/LcdPainter.cpp
  examples/window-app/efr32/src/WindowAppImpl.cpp
  examples/window-app/efr32/src/WindowCover.cpp
  examples/window-app/efr32/src/ZclCallbacks.cpp
  examples/window-app/efr32/src/main.cpp
  src/app/clusters/window-covering-server/window-covering-server.cpp
  src/app/clusters/window-covering-server/window-covering-server.h
  src/app/zap_cluster_list.py
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @mspang, @vivien-apple, @yunhanw-google, @bzbarsky-apple, @mrjerryjohns

Restyled by clang-format
  examples/window-app/efr32/include/WindowAppImpl.h
  src/app/clusters/window-covering-server/window-covering-server.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @vivien-apple

Restyled by clang-format
  src/controller/CHIPDeviceController.cpp
Owners: @shana-apple, @pan-apple

.github/CODEOWNERS:

# Current reviewers-XXX teams, who review everything for approval.
* @reviewers-amazon @reviewers-apple @reviewers-comcast @reviewers-google @reviewers-nordic @reviewers-samsung @reviewers-silabs


# BUILD system

*.gn @mspang
/build/ @mspang
/scripts/build/ @mspang

# Crypto
# Crypto primitives and high level API, generally on top of mbedtls and openssl
/src/crypto/* @pan-apple @emargolis
/src/credentials/ @pan-apple @emargolis

# Transport
# Send and receive data abstracting away the underlying protocol (UDP, TCP, BLE)
/src/transport/ @andy31415 @pan-apple

# Session establishment
# Establish a secure session (encryption keys) from one node to another.
# Includes CASE and PASE + session tracking and resumptioon
/src/protocols/secure_channel/ @pan-apple

# Message Layer
# CRMP and packet headers, generally coupled with SecureSessionManager
/src/messaging @yufengwangca @kghost @bzbarksy-apple
/src/transport/raw/MessageHeader.* @yufengwangca @kghost @bzbarksy-apple

# SecureSessionManager
# Manages per-session encryption keys and new session establishment
/src/transport/SecureSessionMgr.* @pan-apple

# Exchange management
# Joins requests and responses or ties a series of messages belonging to the 
# same protocol interaction
/src/messaging/ @yufengwangca @bzbarsky-apple
/src/channel/ @yufengwangca @bzbarsky-apple

# DNS-SD discovery and advertisement
# Advertise chip devices for commisioning, operational and discover such devices
/src/lib/mdns/ @andy31415 @gjc13 @damian-nordic

# Commisioning controller/flow
# Example of a comisioning sequence
/src/controller/ @pan-apple @erjiaqing

# Operational credentials management
# Signing certificates, maintaining roots of trust, validation, fabric management
/src/controller/ @shana-apple @pan-apple
/src/transport/AdminPairingTable.* @shana-apple @pan-apple

# TLV encoding/decoding to/from byte buffers
/src/lib/core/CHIPTLV* @yunhanw-google @bzbarsky-apple @shana-apple

# Interaction model - ember implementation
# ZCL protocol implementation: ZCL encoding to be sent over the wire as a 
# ZigbeePro protocol implementation
/src/app/util/ @vivien-apple @erjianqing @bzbarsky-apple

# Interaction model - non-ember
# Protocol implementation for IM interactions between nodes, matching spec
/src/app/ @yunhanw-google @bzbarsky-apple @mrjerryjohns

# Interaction model - code generation
# CHIP-specific infrastructure for generating code: helper js methods, scripts
# and code layout
/src/app/zap-templates/ @vivien-apple @erjianqing

# ZAP suppport
# UI for editing XML, generates code from such ZML and configuration files
# NOT part of CHIP however CHIP relies heavily on ZAP.
#    @vivien-apple  @tecimovic

# 'Standard' cluster implementations (server side)
# Clusters shipped with the sdk, can be integrated as-is or used as a template
/src/app/clusters/ @vivien-apple

# Onboarding payload
# Parsing and generation of codes (includes QR and NFC), numeric pairing payload
/src/setup_payload/ @shana-apple @vivien-apple @jrhees-cae

# Device Layer
# Porting interfaces, scaffolding for building an example firmware
/src/platform/ @mspang @yufengwangca
/src/include/platform/ @mspang @yufengwangca

# Persistent storage
# Save state across reboots
/src/platform/*/KeyValueStore* @rgoliver

# Python bindings for CHIP - CLI
# Allows python code to use CHIP, generally targeted towards automation
/src/controller/python/ @andy31415 @erjianqing

# CHIP-tool C++ CLI
# Command line interface to chip as a client (controller and commisioner)
# Includes generated code for every base cluster
/examples/chip-tool/ @vivien-apple

# CHIP-tool iOS UI
/src/darwin/CHIPTool/ @shana-apple

# CHIP-tool Android
/src/android/CHIPTool/ @austinh0
/src/controller/java/ @austinh0

# End2End autogenerated tests
/src/darwin/Framework/Chip-templates/ @vivien-apple
/src/app/tests/suites/ @vivien-apple

# End2End cirque tests
# Simulate topology (cirque) and ptyhon-based test automation
/src/test_driver/linux/cirque/ @erjianqing @yunhanw-google

# Thread integration
# Thread-specific functionality (network provisioning, operational discovery, SRP registration etc.)
/src/platform/OpenThread/ @bukepo
/src/platform/*/ThreadStackmanagerImpl.* @bukepo

# Inet
# Networking abstraction layer (UDP-endpoint, TCP-endpoint, InetLayerBasis)
/src/inet/ @kpschoedel 

# System layer
/src/system/ @kpschoedel 

# BLE support
/src/ble/ @yunhanw-google

# CHIP Shell
# Command-line UART/stdin interface as a side-channel to CHIP accessories
# Aimed as user-friendly/manual control
/src/examples/shell/ @gjc13 @yufengwangca

# RPC
# Side-channlel command path (outside chip), generally for automation and debugging
# Aimed as "scriptable" when compared to shell
/examples/common/pigweed/ @rgoliver
/examples/pigweed-app/ @rgoliver

# Tooling for crypto manual generation
# Generates data for sample PKI
/src/tools/chip-cert/ @emargolis

# Channel API
# Construct a transport/secure session based on peer info and transport type.
# Focused on CASE session establishment
/src/channel/ @kghost

# Darwin framework
# Exposes a darwin API (Objective-C/swift rather than raw C++ API) for darwin
# applications
/src/darwin/Framework/ @shana-apple @vivien-apple @pan-apple
