Repository project-chip/connectedhomeip, changes with the owners that .github/CODEOWNERS names for each.
All owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @mspang, @pan-apple, @emargolis, @andy31415, @yufengwangca, @kghost, @bzbarksy-apple, @bzbarsky-apple, @gjc13, @damian-nordic, @erjiaqing, @shana-apple, @yunhanw-google, @vivien-apple, @erjianqing, @mrjerryjohns, @jrhees-cae, @rgoliver, @austinh0, @bukepo, @kpschoedel

.github/CODEOWNERS:

# Current reviewers-XXX teams, who review everything for approval.
* @reviewers-amazon @reviewers-apple @reviewers-comcast @reviewers-google @reviewers-nordic @reviewers-samsung @reviewers-silabs


# BUILD system

*.gn @mspang
/build/ @mspang
/scripts/build/ @mspang

# Crypto
# Crypto primitives and high level API, generally on top of mbedtls and openssl
/src/crypto/* @pan-apple @emargolis
/src/credentials/ @pan-apple @emargolis

# Transport
# Send and receive data abstracting away the underlying protocol (UDP, TCP, BLE)
/src/transport/ @andy31415 @pan-apple

# Session establishment
# Establish a secure session (encryption keys) from one node to another.
# Includes CASE and PASE + session tracking and resumptioon
/src/protocols/secure_channel/ @pan-apple

# Message Layer
# CRMP and packet headers, generally coupled with SecureSessionManager
/src/messaging @yufengwangca @kghost @bzbarksy-apple
/src/transport/raw/MessageHeader.* @yufengwangca @kghost @bzbarksy-apple

# SecureSessionManager
# Manages per-session encryption keys and new session establishment
/src/transport/SecureSessionMgr.* @pan-apple

# Exchange management
# Joins requests and responses or ties a series of messages belonging to the 
# same protocol interaction
/src/messaging/ @yufengwangca @bzbarsky-apple
/src/channel/ @yufengwangca @bzbarsky-apple

# DNS-SD discovery and advertisement
# Advertise chip devices for commisioning, operational and discover such devices
/src/lib/mdns/ @andy31415 @gjc13 @damian-nordic

# Commisioning controller/flow
# Example of a comisioning sequence
/src/controller/ @pan-apple @erjiaqing

# Operational credentials management
# Signing certificates, maintaining roots of trust, validation, fabric management
/src/controller/ @shana-apple @pan-apple
/src/transport/AdminPairingTable.* @shana-apple @pan-apple

# TLV encoding/decoding to/from byte buffers
/src/lib/core/CHIPTLV* @yunhanw-google @bzbarsky-apple @shana-apple

# Interaction model - ember implementation
# ZCL protocol implementation: ZCL encoding to be sent over the wire as a 
# ZigbeePro protocol implementation
/src/app/util/ @vivien-apple @erjianqing @bzbarsky-apple

# Interaction model - non-ember
# Protocol implementation for IM interactions between nodes, matching spec
/src/app/ @yunhanw-google @bzbarsky-apple @mrjerryjohns

# Interaction model - code generation
# CHIP-specific infrastructure for generating code: helper js methods, scripts
# and code layout
/src/app/zap-templates/ @vivien-apple @erjianqing

# ZAP suppport
# UI for editing XML, generates code from such ZML and configuration files
# NOT part of CHIP however CHIP relies heavily on ZAP.
#    @vivien-apple  @tecimovic

# 'Standard' cluster implementations (server side)
# Clusters shipped with the sdk, can be integrated as-is or used as a template
/src/app/clusters/ @vivien-apple

# Onboarding payload
# Parsing and generation of codes (includes QR and NFC), numeric pairing payload
/src/setup_payload/ @shana-apple @vivien-apple @jrhees-cae

# Device Layer
# Porting interfaces, scaffolding for building an example firmware
/src/platform/ @mspang @yufengwangca
/src/include/platform/ @mspang @yufengwangca

# Persistent storage
# Save state across reboots
/src/platform/*/KeyValueStore* @rgoliver

# Python bindings for CHIP - CLI
# Allows python code to use CHIP, generally targeted towards automation
/src/controller/python/ @andy31415 @erjianqing

# CHIP-tool C++ CLI
# Command line interface to chip as a client (controller and commisioner)
# Includes generated code for every base cluster
/examples/chip-tool/ @vivien-apple

# CHIP-tool iOS UI
/src/darwin/CHIPTool/ @shana-apple

# CHIP-tool Android
/src/android/CHIPTool/ @austinh0
/src/controller/java/ @austinh0

# End2End autogenerated tests
/src/darwin/Framework/Chip-templates/ @vivien-apple
/src/app/tests/suites/ @vivien-apple

# End2End cirque tests
# Simulate topology (cirque) and ptyhon-based test automation
/src/test_driver/linux/cirque/ @erjianqing @yunhanw-google

# Thread integration
# Thread-specific functionality (network provisioning, operational discovery, SRP registration etc.)
/src/platform/OpenThread/ @bukepo
/src/platform/*/ThreadStackmanagerImpl.* @bukepo

# Inet
# Networking abstraction layer (UDP-endpoint, TCP-endpoint, InetLayerBasis)
/src/inet/ @kpschoedel 

# System layer
/src/system/ @kpschoedel 

# BLE support
/src/ble/ @yunhanw-google

# CHIP Shell
# Command-line UART/stdin interface as a side-channel to CHIP accessories
# Aimed as user-friendly/manual control
/src/examples/shell/ @gjc13 @yufengwangca

# RPC
# Side-channlel command path (outside chip), generally for automation and debugging
# Aimed as "scriptable" when compared to shell
/examples/common/pigweed/ @rgoliver
/examples/pigweed-app/ @rgoliver

# Tooling for crypto manual generation
# Generates data for sample PKI
/src/tools/chip-cert/ @emargolis

# Channel API
# Construct a transport/secure session based on peer info and transport type.
# Focused on CASE session establishment
/src/channel/ @kghost

# Darwin framework
# Exposes a darwin API (Objective-C/swift rather than raw C++ API) for darwin
# applications
/src/darwin/Framework/ @shana-apple @vivien-apple @pan-apple

Restyled by clang-format
  src/app/tests/TestClusterInfo.cpp
Owners: @yunhanw-google, @bzbarsky-apple, @mrjerryjohns

Restyled by clang-format
  src/app/ReadClient.cpp
  src/app/ReadClient.h
  src/app/ReadHandler.cpp
  src/app/ReadHandler.h
Owners: @yunhanw-google, @bzbarsky-apple, @mrjerryjohns

Do not hardcode the UDP listen port in ChipDeviceController
  src/controller/CHIPDeviceController.cpp
Owners: @shana-apple, @pan-apple

Add the listen port to the init params
  src/controller/CHIPDeviceController.cpp
  src/controller/CHIPDeviceController.h
Owners: @shana-apple, @pan-apple

using nullptr, clang-format
  src/lib/mdns/tests/TestMdnsCache.cpp
Owners: @andy31415, @gjc13, @damian-nordic

Extract code in function EnsureWifiIsStarted
  examples/platform/linux/AppMain.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Restyled by whitespace
  examples/platform/linux/AppMain.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Add IsAttributePathSupersetOf in ClusterInfo
  src/app/ClusterInfo.h
  src/app/tests/TestClusterInfo.cpp
Owners: @yunhanw-google, @bzbarsky-apple, @mrjerryjohns

Cleanup IM read
  src/app/InteractionModelEngine.cpp
  src/app/InteractionModelEngine.h
  src/app/ReadClient.cpp
  src/app/ReadClient.h
  src/app/ReadPrepareParams.h
  src/app/tests/TestReadInteraction.cpp
  src/app/tests/integration/chip_im_initiator.cpp
  src/controller/CHIPDevice.cpp
Owners: @yunhanw-google, @bzbarsky-apple, @mrjerryjohns, @shana-apple, @pan-apple

Restyled by whitespace
  examples/platform/linux/AppMain.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

ESP32: Increase main stack size (#9263)
  examples/all-clusters-app/esp32/sdkconfig.defaults
  examples/bridge-app/esp32/sdkconfig.defaults
  examples/lock-app/esp32/sdkconfig.defaults
  examples/temperature-measurement-app/esp32/sdkconfig.defaults
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

[device controller] Add connect -code for connect using manual pairing code (#9182)
  src/controller/python/chip-device-ctrl.py
Owners: @andy31415, @erjianqing

Fix typo in nrf builder for pump controller
  scripts/build/builders/nrf.py
Owners: @mspang

Fix operational credentials fabric count attributes
  examples/chip-tool/templates/tests-commands.zapt
  src/app/clusters/operational-credentials-server/operational-credentials-server.cpp
  src/app/tests/suites/OperationalCredentialsCluster.yaml
  zzz_generated/chip-tool/zap-generated/test/Commands.h
Owners: @vivien-apple, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Update unit tests to check for limits
  examples/chip-tool/templates/partials/test_cluster.zapt
  src/app/tests/suites/OperationalCredentialsCluster.yaml
  src/darwin/Framework/CHIP/templates/partials/test_cluster.zapt
  src/darwin/Framework/CHIPTests/CHIPClustersTests.m
  zzz_generated/chip-tool/zap-generated/test/Commands.h
Owners: @vivien-apple, @shana-apple, @pan-apple, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

make the PR independet of compressed fabric ID feature
  src/app/clusters/operational-credentials-server/operational-credentials-server.cpp
Owners: @vivien-apple

add test to Darwin tests as well
  src/darwin/Framework/CHIP/templates/clusters-tests.zapt
  src/darwin/Framework/CHIPTests/CHIPClustersTests.m
Owners: @shana-apple, @vivien-apple, @pan-apple

remove invalid check for vendor id
  src/app/clusters/operational-credentials-server/operational-credentials-server.cpp
Owners: @vivien-apple

update number of min fabrics in the test
  src/app/tests/suites/OperationalCredentialsCluster.yaml
  src/darwin/Framework/CHIPTests/CHIPClustersTests.m
  zzz_generated/chip-tool/zap-generated/test/Commands.h
Owners: @vivien-apple, @shana-apple, @pan-apple, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Update src/controller/CHIPDeviceController.h
  src/controller/CHIPDeviceController.h
Owners: @shana-apple, @pan-apple

remove upper limit check in SupportedFabrics
  src/app/tests/suites/OperationalCredentialsCluster.yaml
  src/darwin/Framework/CHIPTests/CHIPClustersTests.m
  zzz_generated/chip-tool/zap-generated/test/Commands.h
Owners: @vivien-apple, @shana-apple, @pan-apple, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Cleanup IM read (#9305)
  src/app/InteractionModelEngine.cpp
  src/app/InteractionModelEngine.h
  src/app/ReadClient.cpp
  src/app/ReadClient.h
  src/app/ReadPrepareParams.h
  src/app/tests/TestReadInteraction.cpp
  src/app/tests/integration/chip_im_initiator.cpp
  src/controller/CHIPDevice.cpp
Owners: @yunhanw-google, @bzbarsky-apple, @mrjerryjohns, @shana-apple, @pan-apple

Add IsAttributePathSupersetOf in ClusterInfo (#9336)
  src/app/ClusterInfo.h
  src/app/tests/TestClusterInfo.cpp
Owners: @yunhanw-google, @bzbarsky-apple, @mrjerryjohns

Add read attribute positive and negative unit tests
  src/app/InteractionModelEngine.cpp
  src/app/ReadClient.cpp
  src/app/ReadClient.h
  src/app/ReadHandler.cpp
  src/app/ReadHandler.h
  src/app/reporting/Engine.cpp
  src/app/tests/TestCommandInteraction.cpp
  src/app/tests/TestReadInteraction.cpp
Owners: @yunhanw-google, @bzbarsky-apple, @mrjerryjohns

Restyled by clang-format
  src/app/tests/TestReadInteraction.cpp
Owners: @yunhanw-google, @bzbarsky-apple, @mrjerryjohns

Workaround: Temorarily enable BLE during Enhanced Commissioning Window
  src/app/server/Server.cpp
Owners: @yunhanw-google, @bzbarsky-apple, @mrjerryjohns

move PrepareListFromTLV into its own file
  src/app/util/prepare-list.h
  src/app/zap-templates/templates/app/CHIPClientCallbacks-src.zapt
  zzz_generated/controller-clusters/zap-generated/CHIPClientCallbacks.cpp
  zzz_generated/lighting-app/zap-generated/CHIPClientCallbacks.cpp
  zzz_generated/lighting-app/zap-generated/CHIPClusters.cpp
  zzz_generated/lighting-app/zap-generated/CHIPClusters.h
  zzz_generated/lighting-app/zap-generated/IMClusterCommandHandler.cpp
  zzz_generated/pump-app/zap-generated/CHIPClientCallbacks.cpp
  zzz_generated/pump-controller-app/zap-generated/CHIPClientCallbacks.cpp
Owners: @yunhanw-google, @bzbarsky-apple, @mrjerryjohns, @vivien-apple, @erjianqing, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Variant: Remove requriment of VariantId
  src/app/util/af-types.h
  src/channel/ChannelContext.h
  src/lib/support/Variant.h
  src/lib/support/tests/TestVariant.cpp
Owners: @yunhanw-google, @bzbarsky-apple, @mrjerryjohns, @kghost, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Address 9154 and CM/AC DNS-SD convergence
  examples/chip-tool/commands/discover/DiscoverCommissionablesCommand.cpp
  examples/platform/linux/CommissioneeShellCommands.cpp
  src/app/server/Mdns.cpp
  src/app/server/Mdns.h
  src/app/server/RendezvousServer.cpp
  src/include/platform/CHIPDeviceConfig.h
  src/lib/mdns/Advertiser.h
  src/lib/mdns/Advertiser_ImplMinimalMdns.cpp
  src/lib/mdns/Discovery_ImplPlatform.cpp
  src/lib/mdns/Resolver.h
  src/lib/mdns/Resolver_ImplMinimalMdns.cpp
  src/lib/mdns/ServiceNaming.cpp
  src/lib/mdns/TxtFields.cpp
  src/lib/shell/commands/Dns.cpp
Owners: @vivien-apple, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @yunhanw-google, @bzbarsky-apple, @mrjerryjohns, @mspang, @yufengwangca, @andy31415, @gjc13, @damian-nordic

Add read attribute positive and negative unit tests
  src/app/ClusterInfo.h
  src/app/InteractionModelEngine.cpp
  src/app/ReadClient.cpp
  src/app/ReadClient.h
  src/app/ReadHandler.cpp
  src/app/ReadHandler.h
  src/app/reporting/Engine.cpp
  src/app/tests/TestClusterInfo.cpp
  src/app/tests/TestCommandInteraction.cpp
  src/app/tests/TestReadInteraction.cpp
  src/app/tests/integration/chip_im_initiator.cpp
Owners: @yunhanw-google, @bzbarsky-apple, @mrjerryjohns

Restyled by clang-format
  src/app/ClusterInfo.h
  src/app/tests/integration/chip_im_initiator.cpp
Owners: @yunhanw-google, @bzbarsky-apple, @mrjerryjohns

Add commissioning flow for when the device IP addr is known
  scripts/build/builders/android.py
  scripts/build/expected_all_platform_commands.txt
  scripts/examples/android_app.sh
  src/android/CHIPTool/app/build.gradle
  src/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/CHIPToolActivity.kt
  src/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/SelectActionFragment.kt
  src/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/provisioning/AddressCommissioningFragment.kt
  src/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/provisioning/DeviceProvisioningFragment.kt
  src/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/setuppayloadscanner/BarcodeFragment.kt
  src/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/setuppayloadscanner/CHIPDeviceInfo.kt
  src/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/util/FragmentUtil.kt
  src/android/CHIPTool/app/src/main/res/layout/address_commissioning_fragment.xml
  src/android/CHIPTool/app/src/main/res/layout/barcode_fragment.xml
  src/android/CHIPTool/app/src/main/res/values/strings.xml
  src/controller/java/CHIPDeviceController-JNI.cpp
  src/controller/java/src/chip/devicecontroller/ChipDeviceController.java
  src/platform/BUILD.gn
Owners: @mspang, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @austinh0, @yufengwangca

Generated Matter Development Product Attestation Authority (PAA) Certificate.
  credentials/development/attestation/Chip-Development-PAA-Cert.der
  credentials/development/attestation/Chip-Development-PAA-Cert.pem
  credentials/development/attestation/Chip-Development-PAA-Key.der
  credentials/development/attestation/Chip-Development-PAA-Key.pem
  credentials/development/gen-development-paa-cert.sh
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Add read attribute positive and negative unit tests
  src/app/ClusterInfo.h
  src/app/InteractionModelEngine.cpp
  src/app/ReadClient.cpp
  src/app/ReadClient.h
  src/app/ReadHandler.cpp
  src/app/ReadHandler.h
  src/app/reporting/Engine.cpp
  src/app/tests/TestClusterInfo.cpp
  src/app/tests/TestCommandInteraction.cpp
  src/app/tests/TestReadInteraction.cpp
  src/app/tests/integration/chip_im_initiator.cpp
Owners: @yunhanw-google, @bzbarsky-apple, @mrjerryjohns

fix
  src/app/ReadClient.cpp
  src/app/ReadClient.h
  src/app/ReadHandler.cpp
  src/app/ReadHandler.h
Owners: @yunhanw-google, @bzbarsky-apple, @mrjerryjohns

Restyled by clang-format
  src/app/ReadHandler.h
Owners: @yunhanw-google, @bzbarsky-apple, @mrjerryjohns

Add some linux cross compilers
  build/config/BUILDCONFIG.gn
  build/config/compiler/BUILD.gn
  build/toolchain/linux/BUILD.gn
  src/darwin/Framework/chip_xcode_build_connector.sh
Owners: @mspang, @shana-apple, @vivien-apple, @pan-apple

ESP32: CI fixes
  examples/all-clusters-app/esp32/README.md
  examples/lock-app/esp32/README.md
  examples/temperature-measurement-app/esp32/README.md
  scripts/examples/esp_example.sh
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Check and fix System::Layer shutdown sequencing (#9247)
  examples/platform/nrfconnect/util/test/TestInetCommon.cpp
  src/app/tests/integration/common.cpp
  src/controller/CHIPDeviceController.cpp
  src/include/platform/internal/GenericPlatformManagerImpl_Zephyr.cpp
  src/inet/TCPEndPoint.cpp
  src/inet/tests/TestInetCommonPosix.cpp
  src/inet/tests/TestInetEndPoint.cpp
  src/lib/support/BUILD.gn
  src/lib/support/ObjectLifeCycle.h
  src/messaging/tests/echo/common.cpp
  src/platform/tests/TestConfigurationMgr.cpp
  src/system/SystemLayer.cpp
  src/system/SystemLayer.h
  src/system/WatchableEventManagerLwIP.cpp
  src/system/tests/TestSystemTimer.cpp
  src/transport/SecureSessionMgr.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @yunhanw-google, @bzbarsky-apple, @mrjerryjohns, @shana-apple, @pan-apple, @mspang, @yufengwangca, @kpschoedel

Reduce PBUF_POOL size for k32w
  src/lwip/k32w/lwipopts.h
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs
