Repository project-chip/connectedhomeip, changes with the owners that .github/CODEOWNERS names for each.
All owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @mspang, @pan-apple, @emargolis, @andy31415, @yufengwangca, @kghost, @bzbarksy-apple, @bzbarsky-apple, @gjc13, @damian-nordic, @erjiaqing, @shana-apple, @yunhanw-google, @vivien-apple, @erjianqing, @mrjerryjohns, @jrhees-cae, @rgoliver, @austinh0, @bukepo, @kpschoedel

Remove `exit: return` idiom from src/ble (#7518)
  src/ble/BLEEndPoint.cpp
  src/ble/BleLayer.cpp
  src/ble/BtpEngine.cpp
Owners: @yunhanw-google

Update platform manager state on shutdown
  src/darwin/Framework/CHIP.xcodeproj/project.pbxproj
  src/darwin/Framework/CHIP/CHIPDeviceController.mm
  src/darwin/Framework/CHIPTests/CHIPControllerTests.m
  src/include/platform/PlatformManager.h
Owners: @shana-apple, @vivien-apple, @pan-apple, @mspang, @yufengwangca

Restyled by clang-format
  src/darwin/Framework/CHIPTests/CHIPControllerTests.m
Owners: @shana-apple, @vivien-apple, @pan-apple

Revert "OTAServerDelegate class for vendor logic (#6476)"
  examples/all-clusters-app/all-clusters-common/all-clusters-app.zap
  examples/all-clusters-app/all-clusters-common/gen/callback-stub.cpp
  examples/all-clusters-app/all-clusters-common/gen/callback.h
  examples/all-clusters-app/all-clusters-common/gen/endpoint_config.h
  examples/all-clusters-app/all-clusters-common/gen/gen_config.h
  examples/chip-tool/commands/clusters/Commands.h
  src/app/clusters/ota-server/ota-server-delegate.h
  src/app/clusters/ota-server/ota-server.cpp
  src/app/clusters/ota-server/ota-server.h
  src/app/util/af-enums.h
  src/app/zap-templates/zcl/chip-ota.xml
  src/app/zap_cluster_list.py
  src/controller/data_model/controller-clusters.zap
  src/controller/data_model/gen/CHIPClientCallbacks.cpp
  src/controller/data_model/gen/CHIPClientCallbacks.h
  src/controller/data_model/gen/CHIPClusters.cpp
  src/controller/data_model/gen/CHIPClusters.h
  src/controller/data_model/gen/IMClusterCommandHandler.cpp
  src/controller/data_model/gen/call-command-handler.cpp
  src/controller/data_model/gen/callback-stub.cpp
  src/controller/data_model/gen/callback.h
  src/controller/data_model/gen/chip-zcl-zpro-codec-api.h
  src/controller/data_model/gen/encoder.cpp
  src/controller/data_model/gen/endpoint_config.h
  src/controller/data_model/gen/gen_config.h
  src/controller/python/chip/clusters/CHIPClusters.cpp
  src/controller/python/chip/clusters/CHIPClusters.py
  src/darwin/Framework/CHIP/gen/CHIPClustersObjc.h
  src/darwin/Framework/CHIP/gen/CHIPClustersObjc.mm
  src/darwin/Framework/CHIP/templates/helper.js
  src/darwin/Framework/CHIPTests/CHIPClustersTests.m
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @vivien-apple, @yunhanw-google, @bzbarsky-apple, @mrjerryjohns, @erjianqing, @shana-apple, @pan-apple, @andy31415

Revert "OTAServerDelegate class for vendor logic (#6476)" (#7534)
  examples/all-clusters-app/all-clusters-common/all-clusters-app.zap
  examples/all-clusters-app/all-clusters-common/gen/callback-stub.cpp
  examples/all-clusters-app/all-clusters-common/gen/callback.h
  examples/all-clusters-app/all-clusters-common/gen/endpoint_config.h
  examples/all-clusters-app/all-clusters-common/gen/gen_config.h
  examples/chip-tool/commands/clusters/Commands.h
  src/app/clusters/ota-server/ota-server-delegate.h
  src/app/clusters/ota-server/ota-server.cpp
  src/app/clusters/ota-server/ota-server.h
  src/app/util/af-enums.h
  src/app/zap-templates/zcl/chip-ota.xml
  src/app/zap_cluster_list.py
  src/controller/data_model/controller-clusters.zap
  src/controller/data_model/gen/CHIPClientCallbacks.cpp
  src/controller/data_model/gen/CHIPClientCallbacks.h
  src/controller/data_model/gen/CHIPClusters.cpp
  src/controller/data_model/gen/CHIPClusters.h
  src/controller/data_model/gen/IMClusterCommandHandler.cpp
  src/controller/data_model/gen/call-command-handler.cpp
  src/controller/data_model/gen/callback-stub.cpp
  src/controller/data_model/gen/callback.h
  src/controller/data_model/gen/chip-zcl-zpro-codec-api.h
  src/controller/data_model/gen/encoder.cpp
  src/controller/data_model/gen/endpoint_config.h
  src/controller/data_model/gen/gen_config.h
  src/controller/python/chip/clusters/CHIPClusters.cpp
  src/controller/python/chip/clusters/CHIPClusters.py
  src/darwin/Framework/CHIP/gen/CHIPClustersObjc.h
  src/darwin/Framework/CHIP/gen/CHIPClustersObjc.mm
  src/darwin/Framework/CHIP/templates/helper.js
  src/darwin/Framework/CHIPTests/CHIPClustersTests.m
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @vivien-apple, @yunhanw-google, @bzbarsky-apple, @mrjerryjohns, @erjianqing, @shana-apple, @pan-apple, @andy31415

Move trusted root certs to operational credentials cluster
  src/app/zap-templates/zcl/operational-credentials-cluster.xml
  src/app/zap-templates/zcl/trusted-root-certificates-cluster.xml
  src/app/zap-templates/zcl/zcl.json
Owners: @vivien-apple, @erjianqing

update zap files
  examples/all-clusters-app/all-clusters-common/all-clusters-app.zap
  examples/bridge-app/bridge-common/bridge-app.zap
  examples/lighting-app/lighting-common/lighting-app.zap
  examples/lock-app/lock-common/lock-app.zap
  examples/pump-app/pump-common/pump-app.zap
  examples/pump-controller-app/pump-controller-common/pump-controller-app.zap
  examples/temperature-measurement-app/esp32/main/temperature-measurement.zap
  examples/tv-app/tv-common/tv-app.zap
  examples/window-app/common/window-app.zap
  src/controller/data_model/controller-clusters.zap
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @shana-apple, @pan-apple

add comment to describe why 2 certs are being stored
  src/transport/AdminPairingTable.h
Owners: @shana-apple, @pan-apple

fix build after rebase
  src/controller/CHIPDeviceController.cpp
Owners: @shana-apple, @pan-apple

fix telink build
  examples/lighting-app/telink/CMakeLists.txt
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Add support for ICA certificates
  examples/all-clusters-app/all-clusters-common/gen/IMClusterCommandHandler.cpp
  examples/all-clusters-app/all-clusters-common/gen/callback.h
  examples/bridge-app/bridge-common/gen/IMClusterCommandHandler.cpp
  examples/bridge-app/bridge-common/gen/callback.h
  examples/chip-tool/commands/clusters/Commands.h
  examples/lighting-app/lighting-common/gen/IMClusterCommandHandler.cpp
  examples/lighting-app/lighting-common/gen/callback.h
  examples/lock-app/lock-common/gen/IMClusterCommandHandler.cpp
  examples/lock-app/lock-common/gen/callback.h
  examples/pump-app/pump-common/gen/IMClusterCommandHandler.cpp
  examples/pump-app/pump-common/gen/callback.h
  examples/pump-controller-app/pump-controller-common/gen/IMClusterCommandHandler.cpp
  examples/pump-controller-app/pump-controller-common/gen/callback.h
  examples/temperature-measurement-app/esp32/main/gen/IMClusterCommandHandler.cpp
  examples/temperature-measurement-app/esp32/main/gen/callback.h
  examples/tv-app/tv-common/gen/IMClusterCommandHandler.cpp
  examples/tv-app/tv-common/gen/callback.h
  examples/window-app/common/gen/IMClusterCommandHandler.cpp
  examples/window-app/common/gen/callback.h
  src/app/clusters/operational-credentials-server/operational-credentials-server.cpp
  src/app/common/gen/client-command-macro.h
  src/app/zap-templates/zcl/operational-credentials-cluster.xml
  src/controller/CHIPDeviceController.cpp
  src/controller/CHIPDeviceController.h
  src/controller/data_model/gen/CHIPClusters.cpp
  src/controller/data_model/gen/CHIPClusters.h
  src/controller/python/chip/clusters/CHIPClusters.cpp
  src/controller/python/chip/clusters/CHIPClusters.py
  src/darwin/Framework/CHIP/gen/CHIPClustersObjc.h
  src/darwin/Framework/CHIP/gen/CHIPClustersObjc.mm
  src/transport/AdminPairingTable.cpp
  src/transport/AdminPairingTable.h
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @vivien-apple, @yunhanw-google, @bzbarsky-apple, @mrjerryjohns, @erjianqing, @shana-apple, @pan-apple, @andy31415

Send root cert before sending operational certificates
  src/controller/CHIPDeviceController.cpp
Owners: @shana-apple, @pan-apple

address review comments
  src/app/common/gen/client-command-macro.h
  src/app/zap-templates/zcl/operational-credentials-cluster.xml
Owners: @yunhanw-google, @bzbarsky-apple, @mrjerryjohns, @vivien-apple, @erjianqing

Add IM protocol code
  src/app/Command.h
  src/app/CommandHandler.cpp
  src/app/CommandHandler.h
  src/app/InteractionModelDelegate.h
  src/app/tests/TestCommandInteraction.cpp
  src/app/tests/integration/chip_im_responder.cpp
  src/app/util/ember-compatibility-functions.cpp
  src/app/zap-templates/templates/app/im-cluster-command-handler.zapt
  src/protocols/interaction_model/Constants.h
Owners: @yunhanw-google, @bzbarsky-apple, @mrjerryjohns, @vivien-apple, @erjianqing, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Pre-commit hook to test if the code needs restyling
  .githooks/pre-commit
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

use diff patch to save unstaged changes
  .githooks/pre-commit
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Fix spelling
  .githooks/pre-commit
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

add generated code
  examples/all-clusters-app/all-clusters-common/gen/IMClusterCommandHandler.cpp
  examples/bridge-app/bridge-common/gen/IMClusterCommandHandler.cpp
  examples/lighting-app/lighting-common/gen/IMClusterCommandHandler.cpp
  examples/lock-app/lock-common/gen/IMClusterCommandHandler.cpp
  examples/pump-app/pump-common/gen/IMClusterCommandHandler.cpp
  examples/pump-controller-app/pump-controller-common/gen/IMClusterCommandHandler.cpp
  examples/temperature-measurement-app/esp32/main/gen/IMClusterCommandHandler.cpp
  examples/tv-app/tv-common/gen/IMClusterCommandHandler.cpp
  examples/tv-app/tv-common/gen/callback.h
  examples/window-app/common/gen/IMClusterCommandHandler.cpp
  src/controller/data_model/gen/IMClusterCommandHandler.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @shana-apple, @pan-apple

Restyled by clang-format
  src/app/CommandHandler.cpp
  src/app/InteractionModelDelegate.h
  src/app/tests/TestCommandInteraction.cpp
  src/app/util/ember-compatibility-functions.cpp
  src/protocols/interaction_model/Constants.h
Owners: @yunhanw-google, @bzbarsky-apple, @mrjerryjohns, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Fix shutdown ordering in Echo requester/responder (#7509)
  src/messaging/tests/echo/common.cpp
  src/messaging/tests/echo/common.h
  src/messaging/tests/echo/echo_requester.cpp
  src/messaging/tests/echo/echo_responder.cpp
Owners: @yufengwangca, @bzbarsky-apple

CHIP Epoch Year is Changed from 2020 to 2000.
  src/credentials/tests/CHIPCert_test_vectors.cpp
  src/credentials/tests/TestChipCert.cpp
  src/lib/support/TimeUtils.h
Owners: @pan-apple, @emargolis, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

When the "Test Suites" job fails on Darwin, upload core and object files as artifacts.
  .github/workflows/tests.yaml
  scripts/tests/test_suites.sh
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Restyled by clang-format
  src/darwin/Framework/CHIPTests/CHIPControllerTests.m
Owners: @shana-apple, @vivien-apple, @pan-apple

Update platform manager state on shutdown
  src/darwin/Framework/CHIP.xcodeproj/project.pbxproj
  src/darwin/Framework/CHIP/CHIPDeviceController.mm
  src/darwin/Framework/CHIPTests/CHIPControllerTests.m
  src/include/platform/PlatformManager.h
Owners: @shana-apple, @vivien-apple, @pan-apple, @mspang, @yufengwangca

Restyled by gn
  src/lib/mdns/tests/BUILD.gn
Owners: @andy31415, @gjc13, @damian-nordic

Minimal mdns: move responders into allocator class.
  src/lib/mdns/Advertiser_ImplMinimalMdns.cpp
  src/lib/mdns/Advertiser_ImplMinimalMdnsAllocator.h
  src/lib/mdns/tests/BUILD.gn
  src/lib/mdns/tests/TestMinimalMdnsAllocator.cpp
Owners: @andy31415, @gjc13, @damian-nordic

OTAServerDelegate class for vendor logic (#6476)
  examples/all-clusters-app/all-clusters-common/all-clusters-app.zap
  examples/all-clusters-app/all-clusters-common/gen/callback-stub.cpp
  examples/all-clusters-app/all-clusters-common/gen/callback.h
  examples/all-clusters-app/all-clusters-common/gen/endpoint_config.h
  examples/all-clusters-app/all-clusters-common/gen/gen_config.h
  examples/chip-tool/commands/clusters/Commands.h
  src/app/clusters/ota-server/ota-server-delegate.h
  src/app/clusters/ota-server/ota-server.cpp
  src/app/clusters/ota-server/ota-server.h
  src/app/util/af-enums.h
  src/app/zap-templates/zcl/chip-ota.xml
  src/app/zap_cluster_list.py
  src/controller/data_model/controller-clusters.zap
  src/controller/data_model/gen/CHIPClientCallbacks.cpp
  src/controller/data_model/gen/CHIPClientCallbacks.h
  src/controller/data_model/gen/CHIPClusters.cpp
  src/controller/data_model/gen/CHIPClusters.h
  src/controller/data_model/gen/IMClusterCommandHandler.cpp
  src/controller/data_model/gen/call-command-handler.cpp
  src/controller/data_model/gen/callback-stub.cpp
  src/controller/data_model/gen/callback.h
  src/controller/data_model/gen/chip-zcl-zpro-codec-api.h
  src/controller/data_model/gen/encoder.cpp
  src/controller/data_model/gen/endpoint_config.h
  src/controller/data_model/gen/gen_config.h
  src/controller/python/chip/clusters/CHIPClusters.cpp
  src/controller/python/chip/clusters/CHIPClusters.py
  src/darwin/Framework/CHIP/gen/CHIPClustersObjc.h
  src/darwin/Framework/CHIP/gen/CHIPClustersObjc.mm
  src/darwin/Framework/CHIP/templates/helper.js
  src/darwin/Framework/CHIPTests/CHIPClustersTests.m
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @vivien-apple, @yunhanw-google, @bzbarsky-apple, @mrjerryjohns, @erjianqing, @shana-apple, @pan-apple, @andy31415

change logging types and regenerate files
  src/app/clusters/ota-server/ota-server.cpp
  src/controller/data_model/gen/IMClusterCommandHandler.cpp
Owners: @vivien-apple, @shana-apple, @pan-apple

Add UDC message handling and shell helper functions
  examples/chip-tool/commands/discover/DiscoverCommand.cpp
  examples/lighting-app/linux/include/CHIPProjectAppConfig.h
  examples/tv-app/tv-common/include/CHIPProjectAppConfig.h
  src/app/server/Mdns.cpp
  src/app/server/Server.cpp
  src/app/server/Server.h
  src/controller/CHIPDeviceController.cpp
  src/controller/CHIPDeviceController.h
  src/lib/mdns/Advertiser.h
  src/lib/mdns/Advertiser_ImplMinimalMdns.cpp
  src/lib/mdns/Discovery_ImplPlatform.cpp
  src/lib/mdns/Discovery_ImplPlatform.h
  src/lib/mdns/Resolver.h
  src/lib/mdns/Resolver_ImplMinimalMdns.cpp
  src/lib/mdns/ServiceNaming.cpp
  src/lib/shell/Commands.h
  src/lib/shell/Engine.cpp
  src/lib/shell/commands/BUILD.gn
  src/messaging/ExchangeMgr.cpp
  src/protocols/BUILD.gn
  src/protocols/user_directed_commissioning/UDCClientState.h
  src/protocols/user_directed_commissioning/UDCClients.h
  src/protocols/user_directed_commissioning/UserDirectedCommissioning.h
  src/protocols/user_directed_commissioning/UserDirectedCommissioningClient.cpp
  src/protocols/user_directed_commissioning/UserDirectedCommissioningServer.cpp
  src/transport/raw/MessageHeader.cpp
  src/transport/raw/UDP.cpp
Owners: @vivien-apple, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @yunhanw-google, @bzbarsky-apple, @mrjerryjohns, @shana-apple, @pan-apple, @andy31415, @gjc13, @damian-nordic, @mspang, @yufengwangca, @kghost, @bzbarksy-apple

Remove empty command status code test
  src/app/Command.cpp
  src/app/Command.h
  src/app/CommandHandler.cpp
  src/app/CommandHandler.h
  src/app/clusters/door-lock-server/door-lock-server-logging.cpp
  src/app/clusters/door-lock-server/door-lock-server-schedule.cpp
  src/app/clusters/door-lock-server/door-lock-server-user.cpp
  src/app/clusters/groups-server/groups-server.cpp
  src/app/clusters/identify/identify.cpp
  src/app/clusters/operational-credentials-server/operational-credentials-server.cpp
  src/app/clusters/scenes/scenes.cpp
  src/app/clusters/test-cluster-server/test-cluster-server.cpp
  src/app/tests/TestCommandInteraction.cpp
  src/app/tests/integration/chip_im_initiator.cpp
  src/app/tests/integration/chip_im_responder.cpp
  src/app/util/ember-compatibility-functions.cpp
  src/app/zap-templates/templates/app/CHIPClusters-src.zapt
  src/app/zap-templates/templates/app/im-cluster-command-handler.zapt
Owners: @yunhanw-google, @bzbarsky-apple, @mrjerryjohns, @vivien-apple, @erjianqing

update the codegen
  examples/all-clusters-app/all-clusters-common/gen/IMClusterCommandHandler.cpp
  examples/bridge-app/bridge-common/gen/IMClusterCommandHandler.cpp
  examples/lighting-app/lighting-common/gen/IMClusterCommandHandler.cpp
  examples/lock-app/lock-common/gen/IMClusterCommandHandler.cpp
  examples/pump-app/pump-common/gen/IMClusterCommandHandler.cpp
  examples/pump-controller-app/pump-controller-common/gen/CHIPClusters.cpp
  examples/pump-controller-app/pump-controller-common/gen/IMClusterCommandHandler.cpp
  examples/temperature-measurement-app/esp32/main/gen/IMClusterCommandHandler.cpp
  examples/tv-app/tv-common/gen/IMClusterCommandHandler.cpp
  examples/tv-app/tv-common/gen/callback.h
  examples/window-app/common/gen/IMClusterCommandHandler.cpp
  src/controller/data_model/gen/CHIPClusters.cpp
  src/controller/data_model/gen/IMClusterCommandHandler.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @shana-apple, @pan-apple

Pick up stragglers
  src/app/server/Server.cpp
  src/app/server/Server.h
  src/lib/shell/commands/Commissioning.cpp
  src/transport/raw/UDP.cpp
Owners: @yunhanw-google, @bzbarsky-apple, @mrjerryjohns, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @andy31415, @pan-apple

Restyled by clang-format
  src/app/Command.cpp
  src/app/Command.h
  src/app/CommandHandler.cpp
Owners: @yunhanw-google, @bzbarsky-apple, @mrjerryjohns

remove weird namespce comment.
  src/lib/mdns/minimal/tests/TestResponseSender.cpp
Owners: @andy31415, @gjc13, @damian-nordic

Restyled by whitespace
  src/app/server/Server.cpp
  src/controller/CHIPDeviceController.cpp
Owners: @yunhanw-google, @bzbarsky-apple, @mrjerryjohns, @shana-apple, @pan-apple

Restyled by gn
  src/lib/shell/commands/BUILD.gn
  src/protocols/BUILD.gn
Owners: @mspang

Revert "Revert "[controller] Move callbacks to CommandResponseStatus since timing related issue is resolved. (#7060)" (#7276)"
  src/controller/CHIPDeviceController.cpp
Owners: @shana-apple, @pan-apple

Pre-commit hook to test if the code needs restyling (#7506)
  .githooks/pre-commit
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Remove empty command status code test
  src/app/Command.cpp
  src/app/Command.h
  src/app/CommandHandler.cpp
  src/app/CommandHandler.h
  src/app/clusters/door-lock-server/door-lock-server-logging.cpp
  src/app/clusters/door-lock-server/door-lock-server-schedule.cpp
  src/app/clusters/door-lock-server/door-lock-server-user.cpp
  src/app/clusters/groups-server/groups-server.cpp
  src/app/clusters/identify/identify.cpp
  src/app/clusters/operational-credentials-server/operational-credentials-server.cpp
  src/app/clusters/scenes/scenes.cpp
  src/app/clusters/test-cluster-server/test-cluster-server.cpp
  src/app/tests/TestCommandInteraction.cpp
  src/app/tests/integration/chip_im_initiator.cpp
  src/app/tests/integration/chip_im_responder.cpp
  src/app/util/ember-compatibility-functions.cpp
  src/app/zap-templates/templates/app/CHIPClusters-src.zapt
  src/app/zap-templates/templates/app/im-cluster-command-handler.zapt
Owners: @yunhanw-google, @bzbarsky-apple, @mrjerryjohns, @vivien-apple, @erjianqing

run codegen
  examples/all-clusters-app/all-clusters-common/gen/IMClusterCommandHandler.cpp
  examples/bridge-app/bridge-common/gen/IMClusterCommandHandler.cpp
  examples/lighting-app/lighting-common/gen/IMClusterCommandHandler.cpp
  examples/lock-app/lock-common/gen/IMClusterCommandHandler.cpp
  examples/pump-app/pump-common/gen/IMClusterCommandHandler.cpp
  examples/pump-controller-app/pump-controller-common/gen/CHIPClusters.cpp
  examples/pump-controller-app/pump-controller-common/gen/IMClusterCommandHandler.cpp
  examples/temperature-measurement-app/esp32/main/gen/IMClusterCommandHandler.cpp
  examples/tv-app/tv-common/gen/IMClusterCommandHandler.cpp
  examples/tv-app/tv-common/gen/callback.h
  examples/window-app/common/gen/IMClusterCommandHandler.cpp
  src/controller/data_model/gen/CHIPClusters.cpp
  src/controller/data_model/gen/IMClusterCommandHandler.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @shana-apple, @pan-apple

.github/CODEOWNERS:

# Current reviewers-XXX teams, who review everything for approval.
* @reviewers-amazon @reviewers-apple @reviewers-comcast @reviewers-google @reviewers-nordic @reviewers-samsung @reviewers-silabs


# BUILD system

*.gn @mspang
/build/ @mspang
/scripts/build/ @mspang

# Crypto
# Crypto primitives and high level API, generally on top of mbedtls and openssl
/src/crypto/* @pan-apple @emargolis
/src/credentials/ @pan-apple @emargolis

# Transport
# Send and receive data abstracting away the underlying protocol (UDP, TCP, BLE)
/src/transport/ @andy31415 @pan-apple

# Session establishment
# Establish a secure session (encryption keys) from one node to another.
# Includes CASE and PASE + session tracking and resumptioon
/src/protocols/secure_channel/ @pan-apple

# Message Layer
# CRMP and packet headers, generally coupled with SecureSessionManager
/src/messaging @yufengwangca @kghost @bzbarksy-apple
/src/transport/raw/MessageHeader.* @yufengwangca @kghost @bzbarksy-apple

# SecureSessionManager
# Manages per-session encryption keys and new session establishment
/src/transport/SecureSessionMgr.* @pan-apple

# Exchange management
# Joins requests and responses or ties a series of messages belonging to the 
# same protocol interaction
/src/messaging/ @yufengwangca @bzbarsky-apple
/src/channel/ @yufengwangca @bzbarsky-apple

# DNS-SD discovery and advertisement
# Advertise chip devices for commisioning, operational and discover such devices
/src/lib/mdns/ @andy31415 @gjc13 @damian-nordic

# Commisioning controller/flow
# Example of a comisioning sequence
/src/controller/ @pan-apple @erjiaqing

# Operational credentials management
# Signing certificates, maintaining roots of trust, validation, fabric management
/src/controller/ @shana-apple @pan-apple
/src/transport/AdminPairingTable.* @shana-apple @pan-apple

# TLV encoding/decoding to/from byte buffers
/src/lib/core/CHIPTLV* @yunhanw-google @bzbarsky-apple @shana-apple

# Interaction model - ember implementation
# ZCL protocol implementation: ZCL encoding to be sent over the wire as a 
# ZigbeePro protocol implementation
/src/app/util/ @vivien-apple @erjianqing @bzbarsky-apple

# Interaction model - non-ember
# Protocol implementation for IM interactions between nodes, matching spec
/src/app/ @yunhanw-google @bzbarsky-apple @mrjerryjohns

# Interaction model - code generation
# CHIP-specific infrastructure for generating code: helper js methods, scripts
# and code layout
/src/app/zap-templates/ @vivien-apple @erjianqing

# ZAP suppport
# UI for editing XML, generates code from such ZML and configuration files
# NOT part of CHIP however CHIP relies heavily on ZAP.
#    @vivien-apple  @tecimovic

# 'Standard' cluster implementations (server side)
# Clusters shipped with the sdk, can be integrated as-is or used as a template
/src/app/clusters/ @vivien-apple

# Onboarding payload
# Parsing and generation of codes (includes QR and NFC), numeric pairing payload
/src/setup_payload/ @shana-apple @vivien-apple @jrhees-cae

# Device Layer
# Porting interfaces, scaffolding for building an example firmware
/src/platform/ @mspang @yufengwangca
/src/include/platform/ @mspang @yufengwangca

# Persistent storage
# Save state across reboots
/src/platform/*/KeyValueStore* @rgoliver

# Python bindings for CHIP - CLI
# Allows python code to use CHIP, generally targeted towards automation
/src/controller/python/ @andy31415 @erjianqing

# CHIP-tool C++ CLI
# Command line interface to chip as a client (controller and commisioner)
# Includes generated code for every base cluster
/examples/chip-tool/ @vivien-apple

# CHIP-tool iOS UI
/src/darwin/CHIPTool/ @shana-apple

# CHIP-tool Android
/src/android/CHIPTool/ @austinh0
/src/controller/java/ @austinh0

# End2End autogenerated tests
/src/darwin/Framework/Chip-templates/ @vivien-apple
/src/app/tests/suites/ @vivien-apple

# End2End cirque tests
# Simulate topology (cirque) and ptyhon-based test automation
/src/test_driver/linux/cirque/ @erjianqing @yunhanw-google

# Thread integration
# Thread-specific functionality (network provisioning, operational discovery, SRP registration etc.)
/src/platform/OpenThread/ @bukepo
/src/platform/*/ThreadStackmanagerImpl.* @bukepo

# Inet
# Networking abstraction layer (UDP-endpoint, TCP-endpoint, InetLayerBasis)
/src/inet/ @kpschoedel 

# System layer
/src/system/ @kpschoedel 

# BLE support
/src/ble/ @yunhanw-google

# CHIP Shell
# Command-line UART/stdin interface as a side-channel to CHIP accessories
# Aimed as user-friendly/manual control
/src/examples/shell/ @gjc13 @yufengwangca

# RPC
# Side-channlel command path (outside chip), generally for automation and debugging
# Aimed as "scriptable" when compared to shell
/examples/common/pigweed/ @rgoliver
/examples/pigweed-app/ @rgoliver

# Tooling for crypto manual generation
# Generates data for sample PKI
/src/tools/chip-cert/ @emargolis

# Channel API
# Construct a transport/secure session based on peer info and transport type.
# Focused on CASE session establishment
/src/channel/ @kghost

# Darwin framework
# Exposes a darwin API (Objective-C/swift rather than raw C++ API) for darwin
# applications
/src/darwin/Framework/ @shana-apple @vivien-apple @pan-apple
