Repository project-chip/connectedhomeip, changes with the owners that .github/CODEOWNERS names for each.
All owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @mspang, @pan-apple, @emargolis, @andy31415, @yufengwangca, @kghost, @bzbarksy-apple, @bzbarsky-apple, @gjc13, @damian-nordic, @erjiaqing, @shana-apple, @yunhanw-google, @vivien-apple, @erjianqing, @mrjerryjohns, @jrhees-cae, @rgoliver, @austinh0, @bukepo, @kpschoedel

updating buffer index using kTlvHeader
  src/crypto/hsm/nxp/CHIPCryptoPALHsm_SE05X_P256.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Restyled by clang-format
  src/crypto/hsm/nxp/CHIPCryptoPALHsm_SE05X_P256.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Remove PeerConnectionState::mTransport
  src/app/server/RendezvousServer.cpp
  src/app/server/Server.cpp
  src/controller/CHIPDevice.cpp
  src/controller/CHIPDeviceController.cpp
  src/protocols/secure_channel/CASEServer.cpp
  src/transport/PeerConnectionState.h
  src/transport/SecureSessionMgr.cpp
  src/transport/SecureSessionMgr.h
Owners: @yunhanw-google, @bzbarsky-apple, @mrjerryjohns, @shana-apple, @pan-apple, @andy31415

restyled
  src/crypto/hsm/nxp/CHIPCryptoPALHsm_SE05X_P256.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

fix condition for setting ble name
  src/platform/Zephyr/BLEManagerImpl.cpp
Owners: @mspang, @yufengwangca

Fix for failure in compilation of python device controller
  src/transport/SecureSessionMgr.cpp
Owners: @pan-apple

Restyled by clang-format
  src/transport/SecureSessionMgr.cpp
Owners: @pan-apple

Add 'cortex-debug' to .devcontainer.json
  .devcontainer/devcontainer.json
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

fix condition for setting ble name (#8114)
  src/platform/Zephyr/BLEManagerImpl.cpp
Owners: @mspang, @yufengwangca

Remove PeerConnectionState::mTransport (#8109)
  src/app/server/RendezvousServer.cpp
  src/app/server/Server.cpp
  src/controller/CHIPDevice.cpp
  src/controller/CHIPDeviceController.cpp
  src/protocols/secure_channel/CASEServer.cpp
  src/transport/PeerConnectionState.h
  src/transport/SecureSessionMgr.cpp
  src/transport/SecureSessionMgr.h
Owners: @yunhanw-google, @bzbarsky-apple, @mrjerryjohns, @shana-apple, @pan-apple, @andy31415

Use {{chip_server_responses}} instead of multiple #ifs for iterating over the command responses (#8059)
  examples/chip-tool/templates/commands.zapt
  src/app/zap-templates/common/ClustersHelper.js
  src/app/zap-templates/templates/app/CHIPClientCallbacks-src.zapt
  src/app/zap-templates/templates/app/CHIPClientCallbacks.zapt
  src/app/zap-templates/templates/chip/helper.js
  src/controller/java/templates/CHIPClusters-JNI.zapt
  src/controller/java/templates/ChipClusters-java.zapt
  src/darwin/Framework/CHIP/templates/CHIPClustersObjc-src.zapt
Owners: @vivien-apple, @erjianqing, @austinh0, @shana-apple, @pan-apple

Add {{chip_server_global_response}} helper for the zap templates
  examples/chip-tool/templates/commands.zapt
  examples/chip-tool/templates/reporting-commands.zapt
  src/app/zap-templates/common/ClustersHelper.js
  src/app/zap-templates/templates/app/CHIPClusters-src.zapt
  src/app/zap-templates/templates/app/CHIPClusters.zapt
  src/app/zap-templates/templates/app/attribute-size-src.zapt
  src/app/zap-templates/templates/app/chip-zcl-zpro-codec-api.zapt
  src/app/zap-templates/templates/app/encoder-src.zapt
  src/app/zap-templates/templates/app/helper.js
  src/app/zap-templates/templates/chip/helper.js
  src/controller/python/templates/python-CHIPClusters-cpp.zapt
  src/controller/python/templates/python-CHIPClusters-py.zapt
  src/darwin/Framework/CHIP/templates/CHIPClustersObjc-src.zapt
  src/darwin/Framework/CHIP/templates/CHIPClustersObjc.zapt
  src/darwin/Framework/CHIP/templates/clusters-tests.zapt
Owners: @vivien-apple, @erjianqing, @andy31415, @shana-apple, @pan-apple

Added Command Line Tool to Generate Attestation Certificates
  src/tools/chip-cert/BUILD.gn
  src/tools/chip-cert/CertUtils.cpp
  src/tools/chip-cert/Cmd_GenAttCert.cpp
  src/tools/chip-cert/GeneralUtils.cpp
  src/tools/chip-cert/README.md
  src/tools/chip-cert/chip-cert.cpp
  src/tools/chip-cert/chip-cert.h
Owners: @emargolis

Move examples gen/callback.h to src/app/common/gen/callback.h
  src/app/clusters/door-lock-server/door-lock-server-logging.cpp
  src/app/clusters/ias-zone-server/ias-zone-server.cpp
  src/app/clusters/network-commissioning/network-commissioning-ember.cpp
  src/app/clusters/ota-provider/ota-provider.cpp
  src/app/common/templates/templates.json
  src/app/util/af-event.cpp
  src/app/util/af-main-common.cpp
  src/app/util/attribute-storage.cpp
  src/app/util/attribute-table.cpp
  src/app/util/process-global-message.cpp
  src/app/util/util.cpp
  src/app/zap-templates/app-templates.json
  src/app/zap-templates/templates/app/callback-stub-src.zapt
  src/app/zap-templates/templates/app/callback.zapt
  src/app/zap-templates/templates/app/im-cluster-command-handler.zapt
Owners: @vivien-apple, @yunhanw-google, @bzbarsky-apple, @mrjerryjohns, @erjianqing

Update gen/ folders
  examples/all-clusters-app/all-clusters-common/gen/IMClusterCommandHandler.cpp
  examples/all-clusters-app/all-clusters-common/gen/callback-stub.cpp
  examples/all-clusters-app/all-clusters-common/gen/callback.h
  examples/bridge-app/bridge-common/gen/IMClusterCommandHandler.cpp
  examples/bridge-app/bridge-common/gen/callback-stub.cpp
  examples/bridge-app/bridge-common/gen/callback.h
  examples/lighting-app/lighting-common/gen/IMClusterCommandHandler.cpp
  examples/lighting-app/lighting-common/gen/callback-stub.cpp
  examples/lighting-app/lighting-common/gen/callback.h
  examples/lock-app/lock-common/gen/IMClusterCommandHandler.cpp
  examples/lock-app/lock-common/gen/callback-stub.cpp
  examples/lock-app/lock-common/gen/callback.h
  examples/pump-app/pump-common/gen/IMClusterCommandHandler.cpp
  examples/pump-app/pump-common/gen/callback-stub.cpp
  examples/pump-app/pump-common/gen/callback.h
  examples/pump-controller-app/pump-controller-common/gen/IMClusterCommandHandler.cpp
  examples/pump-controller-app/pump-controller-common/gen/callback-stub.cpp
  examples/pump-controller-app/pump-controller-common/gen/callback.h
  examples/temperature-measurement-app/esp32/main/gen/IMClusterCommandHandler.cpp
  examples/temperature-measurement-app/esp32/main/gen/callback-stub.cpp
  examples/temperature-measurement-app/esp32/main/gen/callback.h
  examples/tv-app/tv-common/gen/IMClusterCommandHandler.cpp
  examples/tv-app/tv-common/gen/callback-stub.cpp
  examples/tv-app/tv-common/gen/callback.h
  examples/window-app/common/gen/IMClusterCommandHandler.cpp
  examples/window-app/common/gen/callback-stub.cpp
  examples/window-app/common/gen/callback.h
  src/app/common/gen/callback.h
  src/controller/data_model/gen/IMClusterCommandHandler.cpp
  src/controller/data_model/gen/callback-stub.cpp
  src/controller/data_model/gen/callback.h
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @yunhanw-google, @bzbarsky-apple, @mrjerryjohns, @shana-apple, @pan-apple

Use typed unique_ptr
  src/lib/support/BUILD.gn
  src/lib/support/SmartPointerUtility.h
  src/platform/BUILD.gn
  src/platform/Linux/GlibTypeDeleter.h
  src/platform/Linux/ThreadStackManagerImpl.cpp
  src/platform/Linux/ThreadStackManagerImpl.h
Owners: @mspang, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @yufengwangca

Add license header
  src/platform/Linux/dbus/openthread/introspect.xml
Owners: @mspang, @yufengwangca

Use gdbus for openthread
  src/lib/support/BUILD.gn
  src/lib/support/SmartPointerUtility.h
  src/platform/BUILD.gn
  src/platform/Linux/ThreadStackManagerImpl.cpp
  src/platform/Linux/ThreadStackManagerImpl.h
  src/platform/Linux/dbus/openthread/BUILD.gn
  src/platform/Linux/dbus/openthread/introspect.xml
Owners: @mspang, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @yufengwangca

Restyled by clang-format
  src/platform/Linux/GlibTypeDeleter.h
  src/platform/Linux/ThreadStackManagerImpl.cpp
Owners: @mspang, @yufengwangca

Add license header
  src/platform/Linux/GlibTypeDeleter.h
  src/platform/Linux/ThreadStackManagerImpl.cpp
  src/platform/Linux/dbus/openthread/introspect.xml
Owners: @mspang, @yufengwangca

#### Problem
  src/ble/BleError.h
  src/inet/IPEndPointBasis.cpp
  src/inet/InetError.h
  src/lib/asn1/ASN1Error.h
  src/messaging/tests/TestReliableMessageProtocol.cpp
  src/platform/mbed/BLEManagerImpl.cpp
  src/platform/mbed/SystemTimeSupport.cpp
  src/system/SystemError.h
  src/system/SystemMutex.h
Owners: @yunhanw-google, @kpschoedel, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @yufengwangca, @bzbarsky-apple, @mspang

Enabling missing attributes as current media input on TV app
  examples/tv-app/tv-common/tv-app.zap
  src/controller/data_model/controller-clusters.zap
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @shana-apple, @pan-apple

Adding tests for code changes
  src/app/tests/suites/TV_ApplicationLauncherCluster.yaml
  src/app/tests/suites/TV_MediaInputCluster.yaml
Owners: @vivien-apple

Generating the code using ZAP script
  examples/chip-tool/commands/clusters/Commands.h
  examples/chip-tool/commands/tests/Commands.h
  examples/tv-app/tv-common/gen/endpoint_config.h
  src/controller/data_model/gen/CHIPClusters.cpp
  src/controller/data_model/gen/CHIPClusters.h
  src/controller/data_model/gen/chip-zcl-zpro-codec-api.h
  src/controller/data_model/gen/encoder.cpp
  src/controller/python/chip/clusters/CHIPClusters.cpp
  src/controller/python/chip/clusters/CHIPClusters.py
  src/darwin/Framework/CHIP/gen/CHIPClustersObjc.h
  src/darwin/Framework/CHIP/gen/CHIPClustersObjc.mm
  src/darwin/Framework/CHIPTests/CHIPClustersTests.m
Owners: @vivien-apple, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @shana-apple, @pan-apple, @andy31415, @erjianqing

Restyled by prettier-yaml
  src/app/tests/suites/TV_ApplicationLauncherCluster.yaml
Owners: @vivien-apple

Revert "Adding request-commissioning CHIPTool command (#7729)" (#8095)
  examples/chip-tool/BUILD.gn
  examples/chip-tool/commands/pairing/Commands.h
  examples/chip-tool/commands/pairing/RequestCommissioningCommand.cpp
  examples/chip-tool/commands/pairing/RequestCommissioningCommand.h
  src/app/server/Mdns.cpp
  src/controller/BUILD.gn
  src/controller/CHIPCommissionableNodeController.cpp
  src/controller/CHIPCommissionableNodeController.h
Owners: @vivien-apple, @yunhanw-google, @bzbarsky-apple, @mrjerryjohns, @shana-apple, @pan-apple

missed esp32 example
  examples/all-clusters-app/esp32/main/DeviceCallbacks.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Added Command Line Tool to Generate Attestation Certificates (#7981)
  src/tools/chip-cert/BUILD.gn
  src/tools/chip-cert/CertUtils.cpp
  src/tools/chip-cert/Cmd_GenAttCert.cpp
  src/tools/chip-cert/GeneralUtils.cpp
  src/tools/chip-cert/README.md
  src/tools/chip-cert/chip-cert.cpp
  src/tools/chip-cert/chip-cert.h
Owners: @emargolis

Use gdbus for openthread (#7913)
  src/platform/BUILD.gn
  src/platform/Linux/GlibTypeDeleter.h
  src/platform/Linux/ThreadStackManagerImpl.cpp
  src/platform/Linux/ThreadStackManagerImpl.h
  src/platform/Linux/dbus/openthread/BUILD.gn
  src/platform/Linux/dbus/openthread/introspect.xml
Owners: @mspang, @yufengwangca

missed Mbed mutex
  src/system/SystemMutex.h
Owners: @kpschoedel

[hotfix] Fix regression / crash caused by #7873 (#8054)
  src/app/util/attribute-storage.cpp
  src/controller/python/chip/interaction_model/Delegate.h
  src/controller/python/chip/interaction_model/delegate.py
Owners: @yunhanw-google, @bzbarsky-apple, @mrjerryjohns, @andy31415, @erjianqing

RFC: Add common 3rd party warnings config target
  build/config/compiler/BUILD.gn
  build_overrides/lwip.gni
  examples/build_overrides/lwip.gni
  third_party/lwip/lwip.gni
Owners: @mspang, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Mbed: Add 'cortex-debug' vscode extension to devcontainer.json
  .devcontainer/devcontainer.json
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

missed chip-tool and more Mbed
  examples/chip-tool/commands/common/Command.cpp
  src/platform/mbed/SystemTimeSupport.cpp
Owners: @vivien-apple, @mspang, @yufengwangca

Split up src/platform/BUILD.gn
  src/lib/support/ThreadOperationalDataset.h
  src/platform/BUILD.gn
  src/platform/Darwin/BUILD.gn
  src/platform/EFR32/BUILD.gn
  src/platform/ESP32/BUILD.gn
  src/platform/K32W/BUILD.gn
  src/platform/Linux/BUILD.gn
  src/platform/cc13x2_26x2/BUILD.gn
  src/platform/nrfconnect/BUILD.gn
  src/platform/qpg/BUILD.gn
  src/platform/telink/BUILD.gn
  src/platform/tests/BUILD.gn
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @mspang, @yufengwangca

Split up src/platform/BUILD.gn (#8099)
  src/lib/support/ThreadOperationalDataset.h
  src/platform/BUILD.gn
  src/platform/Darwin/BUILD.gn
  src/platform/EFR32/BUILD.gn
  src/platform/ESP32/BUILD.gn
  src/platform/K32W/BUILD.gn
  src/platform/Linux/BUILD.gn
  src/platform/cc13x2_26x2/BUILD.gn
  src/platform/nrfconnect/BUILD.gn
  src/platform/qpg/BUILD.gn
  src/platform/telink/BUILD.gn
  src/platform/tests/BUILD.gn
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @mspang, @yufengwangca

add ESP32C3 CI (#7942)
  examples/all-clusters-app/esp32/sdkconfig_c3devkit.defaults
  examples/all-clusters-app/esp32/sdkconfig_m5stack.defaults
  scripts/examples/esp_example.sh
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Implement TLV in CASE Sigma Protocol (#7952)
  src/controller/java/AndroidDeviceControllerWrapper.cpp
  src/protocols/secure_channel/CASESession.cpp
  src/protocols/secure_channel/CASESession.h
Owners: @austinh0, @pan-apple

Fix crash when receiving a message that wants an ack on a closed exchange that's still alive. (#8068)
  src/messaging/ExchangeContext.cpp
  src/messaging/tests/TestReliableMessageProtocol.cpp
Owners: @yufengwangca, @bzbarsky-apple

rename the linux_arm toolchain as custom toolchain
  build/config/BUILDCONFIG.gn
  build/toolchain/custom/BUILD.gn
  build/toolchain/linux_arm/BUILD.gn
  build/toolchain/linux_arm/linux_arm_toolchain.gni
Owners: @mspang

.github/CODEOWNERS:

# Current reviewers-XXX teams, who review everything for approval.
* @reviewers-amazon @reviewers-apple @reviewers-comcast @reviewers-google @reviewers-nordic @reviewers-samsung @reviewers-silabs


# BUILD system

*.gn @mspang
/build/ @mspang
/scripts/build/ @mspang

# Crypto
# Crypto primitives and high level API, generally on top of mbedtls and openssl
/src/crypto/* @pan-apple @emargolis
/src/credentials/ @pan-apple @emargolis

# Transport
# Send and receive data abstracting away the underlying protocol (UDP, TCP, BLE)
/src/transport/ @andy31415 @pan-apple

# Session establishment
# Establish a secure session (encryption keys) from one node to another.
# Includes CASE and PASE + session tracking and resumptioon
/src/protocols/secure_channel/ @pan-apple

# Message Layer
# CRMP and packet headers, generally coupled with SecureSessionManager
/src/messaging @yufengwangca @kghost @bzbarksy-apple
/src/transport/raw/MessageHeader.* @yufengwangca @kghost @bzbarksy-apple

# SecureSessionManager
# Manages per-session encryption keys and new session establishment
/src/transport/SecureSessionMgr.* @pan-apple

# Exchange management
# Joins requests and responses or ties a series of messages belonging to the 
# same protocol interaction
/src/messaging/ @yufengwangca @bzbarsky-apple
/src/channel/ @yufengwangca @bzbarsky-apple

# DNS-SD discovery and advertisement
# Advertise chip devices for commisioning, operational and discover such devices
/src/lib/mdns/ @andy31415 @gjc13 @damian-nordic

# Commisioning controller/flow
# Example of a comisioning sequence
/src/controller/ @pan-apple @erjiaqing

# Operational credentials management
# Signing certificates, maintaining roots of trust, validation, fabric management
/src/controller/ @shana-apple @pan-apple
/src/transport/AdminPairingTable.* @shana-apple @pan-apple

# TLV encoding/decoding to/from byte buffers
/src/lib/core/CHIPTLV* @yunhanw-google @bzbarsky-apple @shana-apple

# Interaction model - ember implementation
# ZCL protocol implementation: ZCL encoding to be sent over the wire as a 
# ZigbeePro protocol implementation
/src/app/util/ @vivien-apple @erjianqing @bzbarsky-apple

# Interaction model - non-ember
# Protocol implementation for IM interactions between nodes, matching spec
/src/app/ @yunhanw-google @bzbarsky-apple @mrjerryjohns

# Interaction model - code generation
# CHIP-specific infrastructure for generating code: helper js methods, scripts
# and code layout
/src/app/zap-templates/ @vivien-apple @erjianqing

# ZAP suppport
# UI for editing XML, generates code from such ZML and configuration files
# NOT part of CHIP however CHIP relies heavily on ZAP.
#    @vivien-apple  @tecimovic

# 'Standard' cluster implementations (server side)
# Clusters shipped with the sdk, can be integrated as-is or used as a template
/src/app/clusters/ @vivien-apple

# Onboarding payload
# Parsing and generation of codes (includes QR and NFC), numeric pairing payload
/src/setup_payload/ @shana-apple @vivien-apple @jrhees-cae

# Device Layer
# Porting interfaces, scaffolding for building an example firmware
/src/platform/ @mspang @yufengwangca
/src/include/platform/ @mspang @yufengwangca

# Persistent storage
# Save state across reboots
/src/platform/*/KeyValueStore* @rgoliver

# Python bindings for CHIP - CLI
# Allows python code to use CHIP, generally targeted towards automation
/src/controller/python/ @andy31415 @erjianqing

# CHIP-tool C++ CLI
# Command line interface to chip as a client (controller and commisioner)
# Includes generated code for every base cluster
/examples/chip-tool/ @vivien-apple

# CHIP-tool iOS UI
/src/darwin/CHIPTool/ @shana-apple

# CHIP-tool Android
/src/android/CHIPTool/ @austinh0
/src/controller/java/ @austinh0

# End2End autogenerated tests
/src/darwin/Framework/Chip-templates/ @vivien-apple
/src/app/tests/suites/ @vivien-apple

# End2End cirque tests
# Simulate topology (cirque) and ptyhon-based test automation
/src/test_driver/linux/cirque/ @erjianqing @yunhanw-google

# Thread integration
# Thread-specific functionality (network provisioning, operational discovery, SRP registration etc.)
/src/platform/OpenThread/ @bukepo
/src/platform/*/ThreadStackmanagerImpl.* @bukepo

# Inet
# Networking abstraction layer (UDP-endpoint, TCP-endpoint, InetLayerBasis)
/src/inet/ @kpschoedel 

# System layer
/src/system/ @kpschoedel 

# BLE support
/src/ble/ @yunhanw-google

# CHIP Shell
# Command-line UART/stdin interface as a side-channel to CHIP accessories
# Aimed as user-friendly/manual control
/src/examples/shell/ @gjc13 @yufengwangca

# RPC
# Side-channlel command path (outside chip), generally for automation and debugging
# Aimed as "scriptable" when compared to shell
/examples/common/pigweed/ @rgoliver
/examples/pigweed-app/ @rgoliver

# Tooling for crypto manual generation
# Generates data for sample PKI
/src/tools/chip-cert/ @emargolis

# Channel API
# Construct a transport/secure session based on peer info and transport type.
# Focused on CASE session establishment
/src/channel/ @kghost

# Darwin framework
# Exposes a darwin API (Objective-C/swift rather than raw C++ API) for darwin
# applications
/src/darwin/Framework/ @shana-apple @vivien-apple @pan-apple
