Repository project-chip/connectedhomeip, changes with the owners that .github/CODEOWNERS names for each.
All owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @mspang, @pan-apple, @emargolis, @andy31415, @yufengwangca, @kghost, @bzbarksy-apple, @bzbarsky-apple, @gjc13, @damian-nordic, @erjiaqing, @shana-apple, @yunhanw-google, @vivien-apple, @erjianqing, @mrjerryjohns, @jrhees-cae, @rgoliver, @austinh0, @bukepo, @kpschoedel

Enable color control tests in the Darwin test CI (#8710)
  examples/chip-tool/commands/tests/Commands.h
  src/app/tests/suites/Test_TC_CC_3_4.yaml
  src/app/tests/suites/Test_TC_CC_5.yaml
  src/app/tests/suites/Test_TC_CC_6.yaml
  src/app/tests/suites/Test_TC_CC_7.yaml
  src/darwin/Framework/CHIP/templates/clusters-tests.zapt
  src/darwin/Framework/CHIPTests/CHIPClustersTests.m
Owners: @vivien-apple, @shana-apple, @pan-apple

Restyled by clang-format
  config/Ameba/mbedtls/mbedtls_config.h
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

call WillSendMessage() for every received BDX message
  src/protocols/bdx/TransferFacilitator.cpp
  src/protocols/bdx/TransferFacilitator.h
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

restyle BUILD.gn
  src/protocols/bdx/BUILD.gn
Owners: @mspang

cleanup fixes relating to udc
  examples/minimal-mdns/server.cpp
  examples/platform/linux/AppMain.cpp
  src/controller/CHIPDeviceController.cpp
  src/controller/python/ChipDeviceController-ScriptBinding.cpp
  src/lib/mdns/Advertiser.h
  src/lib/mdns/Resolver.h
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @shana-apple, @pan-apple, @andy31415, @erjianqing, @gjc13, @damian-nordic

fix comment spelling
  src/protocols/bdx/TransferFacilitator.h
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Add better documentation for ScheduleWork/PostEvent.
  src/controller/python/ChipDeviceController-ScriptBinding.cpp
  src/include/platform/PlatformManager.h
Owners: @andy31415, @erjianqing, @mspang, @yufengwangca

simple MDNS cache implementation.
  src/lib/core/CHIPConfig.h
  src/lib/mdns/BUILD.gn
  src/lib/mdns/Discovery_ImplPlatform.cpp
  src/lib/mdns/MdnsCache.h
  src/lib/mdns/Resolver_ImplMinimalMdns.cpp
  src/lib/mdns/tests/BUILD.gn
  src/lib/mdns/tests/TestMdnsCache.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @andy31415, @gjc13, @damian-nordic

Fix session leaks in CHIPDevice
  src/controller/CHIPDevice.cpp
  src/transport/SecureSessionHandle.h
Owners: @shana-apple, @pan-apple, @andy31415

Restyled by whitespace
  src/lib/core/CHIPConfig.h
  src/lib/mdns/Discovery_ImplPlatform.cpp
  src/lib/mdns/MdnsCache.h
  src/lib/mdns/tests/TestMdnsCache.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @andy31415, @gjc13, @damian-nordic

Restyled by clang-format
  src/lib/mdns/Discovery_ImplPlatform.cpp
  src/lib/mdns/MdnsCache.h
  src/lib/mdns/Resolver_ImplMinimalMdns.cpp
  src/lib/mdns/tests/TestMdnsCache.cpp
Owners: @andy31415, @gjc13, @damian-nordic

Restyled by gn
  src/lib/mdns/BUILD.gn
  src/lib/mdns/tests/BUILD.gn
Owners: @andy31415, @gjc13, @damian-nordic

Set default value to 0 for Hardware and Software Version attributes
  config/esp32/components/chip/Kconfig
  src/controller/python/test/test_scripts/base.py
  src/include/platform/CHIPDeviceConfig.h
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @andy31415, @erjianqing, @mspang, @yufengwangca

Introduce CHIPCirqueDaemon.py
  .github/workflows/cirque.yaml
  integrations/docker/ci-only-images/chip-cirque-device-base/CHIPCirqueDaemon.py
  integrations/docker/ci-only-images/chip-cirque-device-base/Dockerfile
  scripts/tests/cirque_tests.sh
  src/app/tests/integration/Dockerfile.initiator
  src/app/tests/integration/Dockerfile.responder
  src/app/tests/integration/entrypoint.sh
  src/controller/python/test/Dockerfile
  src/controller/python/test/entrypoint.sh
  src/messaging/tests/echo/Dockerfile.requester
  src/messaging/tests/echo/Dockerfile.responder
  src/messaging/tests/echo/entrypoint.sh
  src/test_driver/linux-cirque/EchoTest.sh
  src/test_driver/linux-cirque/InteractionModelTest.sh
  src/test_driver/linux-cirque/MobileDeviceTest.sh
  src/test_driver/linux-cirque/OnOffClusterTest.sh
  src/test_driver/linux-cirque/test-echo.py
  src/test_driver/linux-cirque/test-interaction-model.py
  src/test_driver/linux-cirque/test-mobile-device.py
  src/test_driver/linux-cirque/test-on-off-cluster.py
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @yunhanw-google, @bzbarsky-apple, @mrjerryjohns, @andy31415, @erjianqing, @yufengwangca

Cleanup cirque test scripts
  scripts/tests/cirque_tests.sh
  src/test_driver/linux-cirque/EchoTest.py
  src/test_driver/linux-cirque/EchoTest.sh
  src/test_driver/linux-cirque/InteractionModelTest.py
  src/test_driver/linux-cirque/InteractionModelTest.sh
  src/test_driver/linux-cirque/ManualTest.py
  src/test_driver/linux-cirque/ManualTest.sh
  src/test_driver/linux-cirque/MobileDeviceTest.py
  src/test_driver/linux-cirque/MobileDeviceTest.sh
  src/test_driver/linux-cirque/OnOffClusterTest.py
  src/test_driver/linux-cirque/OnOffClusterTest.sh
  src/test_driver/linux-cirque/shell-helpers.sh
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Update script
  integrations/docker/ci-only-images/chip-cirque-device-base/CHIPCirqueDaemon.py
  integrations/docker/ci-only-images/chip-cirque-device-base/Dockerfile
  src/test_driver/linux-cirque/EchoTest.py
  src/test_driver/linux-cirque/InteractionModelTest.py
  src/test_driver/linux-cirque/MobileDeviceTest.py
  src/test_driver/linux-cirque/OnOffClusterTest.py
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Use C++-style cast - static_cast replacement
  src/messaging/tests/TestReliableMessageProtocol.cpp
  src/platform/tests/TestPlatformMgr.cpp
  src/platform/tests/TestPlatformTime.cpp
  src/protocols/secure_channel/tests/TestPASESession.cpp
Owners: @yufengwangca, @bzbarsky-apple, @mspang, @pan-apple

Use usleep instead of nanoseep in tests to increase portability.
  src/messaging/tests/TestReliableMessageProtocol.cpp
  src/platform/tests/TestPlatformMgr.cpp
  src/platform/tests/TestPlatformTime.cpp
  src/protocols/secure_channel/tests/TestPASESession.cpp
Owners: @yufengwangca, @bzbarsky-apple, @mspang, @pan-apple

Review fixes
  examples/lighting-app/lighting-common/color_format/color_format.cpp
  examples/lighting-app/lighting-common/color_format/color_format.h
  examples/lighting-app/qpg/BUILD.gn
  examples/lighting-app/qpg/include/LightingManager.h
  examples/lighting-app/qpg/src/LightingManager.cpp
  examples/lighting-app/qpg/src/ZclCallbacks.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @mspang

Restyled by clang-format
  examples/lighting-app/qpg/include/LightingManager.h
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Solve NXP compilation errors
  examples/lighting-app/k32w/include/CHIPProjectConfig.h
  examples/lock-app/k32w/include/CHIPProjectConfig.h
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Fix shell app for K32W
  examples/shell/k32w/include/CHIPProjectConfig.h
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Set default value to 0 for Hardware and Software Version attributes (#8477)
  config/esp32/components/chip/Kconfig
  src/controller/python/test/test_scripts/base.py
  src/include/platform/CHIPDeviceConfig.h
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @andy31415, @erjianqing, @mspang, @yufengwangca

Update build_examples.py for better host support and chip tool build support (#8736)
  scripts/build/BUILD.gn
  scripts/build/build/__init__.py
  scripts/build/build/factory.py
  scripts/build/build/targets.py
  scripts/build/builders/builder.py
  scripts/build/builders/efr32.py
  scripts/build/builders/esp32.py
  scripts/build/builders/gn.py
  scripts/build/builders/host.py
  scripts/build/builders/linux.py
  scripts/build/builders/nrf.py
  scripts/build/builders/qpg.py
  scripts/build/expected_all_platform_commands.txt
  scripts/build/test.py
Owners: @mspang

Enable Identify server cluster in lighting-app
  examples/lighting-app/lighting-common/gen/af-gen-event.h
  examples/lighting-app/lighting-common/lighting-app.zap
  examples/lighting-app/nrfconnect/CMakeLists.txt
  examples/lighting-app/nrfconnect/main/AppTask.cpp
  examples/lighting-app/nrfconnect/main/ZclCallbacks.cpp
  examples/lighting-app/nrfconnect/main/include/LightingManager.h
  src/app/clusters/zll-identify-server/zll-identify-server.cpp
  src/app/util/util.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @vivien-apple, @yunhanw-google, @bzbarsky-apple, @mrjerryjohns

Generated files
  examples/lighting-app/lighting-common/gen/IMClusterCommandHandler.cpp
  examples/lighting-app/lighting-common/gen/callback-stub.cpp
  examples/lighting-app/lighting-common/gen/endpoint_config.h
  examples/lighting-app/lighting-common/gen/gen_config.h
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Add vscode input choices for building EFR32 examples
  .vscode/tasks.json
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

[docs] Document IP Pairing and chip-tool tests.
  docs/QUICK_START.md
  examples/chip-tool/README.md
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @vivien-apple

Apply suggestions from code review
  docs/QUICK_START.md
  examples/chip-tool/README.md
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @vivien-apple

Restyled by prettier-markdown
  docs/QUICK_START.md
  examples/chip-tool/README.md
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @vivien-apple

Remove unnecessary changes in ZclCallbacks
  examples/lighting-app/nrfconnect/main/ZclCallbacks.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Adapt to API changes in master
  src/app/clusters/zll-identify-server/zll-identify-server.cpp
Owners: @vivien-apple

Restyled by clang-format
  src/app/clusters/zll-identify-server/zll-identify-server.cpp
Owners: @vivien-apple

Restyled by whitespace
  .vscode/tasks.json
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Restyled by prettier-json
  .vscode/tasks.json
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Add Identify/Zll-Identify for mbed, telink and platforms with gn build system
  examples/lighting-app/mbed/CMakeLists.txt
  examples/lighting-app/telink/CMakeLists.txt
  src/app/chip_data_model.gni
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @yunhanw-google, @bzbarsky-apple, @mrjerryjohns

Restyled by gn
  src/app/chip_data_model.gni
Owners: @yunhanw-google, @bzbarsky-apple, @mrjerryjohns

Use usleep instead of sleep/nanosleep on Mbed OS. (#8393)
  src/messaging/tests/TestReliableMessageProtocol.cpp
  src/platform/tests/TestPlatformMgr.cpp
  src/platform/tests/TestPlatformTime.cpp
  src/protocols/secure_channel/tests/TestPASESession.cpp
Owners: @yufengwangca, @bzbarsky-apple, @mspang, @pan-apple

Move certification tests to a subfolder and introduce a python helper to get some informations about those tests
  src/app/tests/suites/certification/Test_TC_BI_1_1.yaml
  src/app/tests/suites/certification/Test_TC_CC_3_4.yaml
  src/app/tests/suites/certification/Test_TC_CC_5.yaml
  src/app/tests/suites/certification/Test_TC_CC_6.yaml
  src/app/tests/suites/certification/Test_TC_CC_7.yaml
  src/app/tests/suites/certification/Test_TC_DM_1_1.yaml
  src/app/tests/suites/certification/Test_TC_DM_3_1.yaml
  src/app/tests/suites/certification/Test_TC_OO_1_1.yaml
  src/app/tests/suites/certification/Test_TC_OO_2_1.yaml
  src/app/tests/suites/certification/Test_TC_OO_2_2.yaml
  src/app/tests/suites/certification/Test_TC_WNCV_1_1.yaml
  src/app/tests/suites/certification/Test_TC_WNCV_2_1.yaml
  src/app/tests/suites/certification/information.py
  src/app/tests/suites/certification/tests.yaml
  src/app/zap-templates/common/ClusterTestGeneration.js
Owners: @vivien-apple, @erjianqing

Update src/app/clusters/window-covering-server/window-covering-server.cpp
  src/app/clusters/window-covering-server/window-covering-server.cpp
Owners: @vivien-apple

.github/CODEOWNERS:

# Current reviewers-XXX teams, who review everything for approval.
* @reviewers-amazon @reviewers-apple @reviewers-comcast @reviewers-google @reviewers-nordic @reviewers-samsung @reviewers-silabs


# BUILD system

*.gn @mspang
/build/ @mspang
/scripts/build/ @mspang

# Crypto
# Crypto primitives and high level API, generally on top of mbedtls and openssl
/src/crypto/* @pan-apple @emargolis
/src/credentials/ @pan-apple @emargolis

# Transport
# Send and receive data abstracting away the underlying protocol (UDP, TCP, BLE)
/src/transport/ @andy31415 @pan-apple

# Session establishment
# Establish a secure session (encryption keys) from one node to another.
# Includes CASE and PASE + session tracking and resumptioon
/src/protocols/secure_channel/ @pan-apple

# Message Layer
# CRMP and packet headers, generally coupled with SecureSessionManager
/src/messaging @yufengwangca @kghost @bzbarksy-apple
/src/transport/raw/MessageHeader.* @yufengwangca @kghost @bzbarksy-apple

# SecureSessionManager
# Manages per-session encryption keys and new session establishment
/src/transport/SecureSessionMgr.* @pan-apple

# Exchange management
# Joins requests and responses or ties a series of messages belonging to the 
# same protocol interaction
/src/messaging/ @yufengwangca @bzbarsky-apple
/src/channel/ @yufengwangca @bzbarsky-apple

# DNS-SD discovery and advertisement
# Advertise chip devices for commisioning, operational and discover such devices
/src/lib/mdns/ @andy31415 @gjc13 @damian-nordic

# Commisioning controller/flow
# Example of a comisioning sequence
/src/controller/ @pan-apple @erjiaqing

# Operational credentials management
# Signing certificates, maintaining roots of trust, validation, fabric management
/src/controller/ @shana-apple @pan-apple
/src/transport/AdminPairingTable.* @shana-apple @pan-apple

# TLV encoding/decoding to/from byte buffers
/src/lib/core/CHIPTLV* @yunhanw-google @bzbarsky-apple @shana-apple

# Interaction model - ember implementation
# ZCL protocol implementation: ZCL encoding to be sent over the wire as a 
# ZigbeePro protocol implementation
/src/app/util/ @vivien-apple @erjianqing @bzbarsky-apple

# Interaction model - non-ember
# Protocol implementation for IM interactions between nodes, matching spec
/src/app/ @yunhanw-google @bzbarsky-apple @mrjerryjohns

# Interaction model - code generation
# CHIP-specific infrastructure for generating code: helper js methods, scripts
# and code layout
/src/app/zap-templates/ @vivien-apple @erjianqing

# ZAP suppport
# UI for editing XML, generates code from such ZML and configuration files
# NOT part of CHIP however CHIP relies heavily on ZAP.
#    @vivien-apple  @tecimovic

# 'Standard' cluster implementations (server side)
# Clusters shipped with the sdk, can be integrated as-is or used as a template
/src/app/clusters/ @vivien-apple

# Onboarding payload
# Parsing and generation of codes (includes QR and NFC), numeric pairing payload
/src/setup_payload/ @shana-apple @vivien-apple @jrhees-cae

# Device Layer
# Porting interfaces, scaffolding for building an example firmware
/src/platform/ @mspang @yufengwangca
/src/include/platform/ @mspang @yufengwangca

# Persistent storage
# Save state across reboots
/src/platform/*/KeyValueStore* @rgoliver

# Python bindings for CHIP - CLI
# Allows python code to use CHIP, generally targeted towards automation
/src/controller/python/ @andy31415 @erjianqing

# CHIP-tool C++ CLI
# Command line interface to chip as a client (controller and commisioner)
# Includes generated code for every base cluster
/examples/chip-tool/ @vivien-apple

# CHIP-tool iOS UI
/src/darwin/CHIPTool/ @shana-apple

# CHIP-tool Android
/src/android/CHIPTool/ @austinh0
/src/controller/java/ @austinh0

# End2End autogenerated tests
/src/darwin/Framework/Chip-templates/ @vivien-apple
/src/app/tests/suites/ @vivien-apple

# End2End cirque tests
# Simulate topology (cirque) and ptyhon-based test automation
/src/test_driver/linux/cirque/ @erjianqing @yunhanw-google

# Thread integration
# Thread-specific functionality (network provisioning, operational discovery, SRP registration etc.)
/src/platform/OpenThread/ @bukepo
/src/platform/*/ThreadStackmanagerImpl.* @bukepo

# Inet
# Networking abstraction layer (UDP-endpoint, TCP-endpoint, InetLayerBasis)
/src/inet/ @kpschoedel 

# System layer
/src/system/ @kpschoedel 

# BLE support
/src/ble/ @yunhanw-google

# CHIP Shell
# Command-line UART/stdin interface as a side-channel to CHIP accessories
# Aimed as user-friendly/manual control
/src/examples/shell/ @gjc13 @yufengwangca

# RPC
# Side-channlel command path (outside chip), generally for automation and debugging
# Aimed as "scriptable" when compared to shell
/examples/common/pigweed/ @rgoliver
/examples/pigweed-app/ @rgoliver

# Tooling for crypto manual generation
# Generates data for sample PKI
/src/tools/chip-cert/ @emargolis

# Channel API
# Construct a transport/secure session based on peer info and transport type.
# Focused on CASE session establishment
/src/channel/ @kghost

# Darwin framework
# Exposes a darwin API (Objective-C/swift rather than raw C++ API) for darwin
# applications
/src/darwin/Framework/ @shana-apple @vivien-apple @pan-apple
