Repository project-chip/connectedhomeip, changes with the owners that .github/CODEOWNERS names for each.
All owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @mspang, @pan-apple, @emargolis, @andy31415, @yufengwangca, @kghost, @bzbarksy-apple, @bzbarsky-apple, @gjc13, @damian-nordic, @erjiaqing, @shana-apple, @yunhanw-google, @vivien-apple, @erjianqing, @mrjerryjohns, @jrhees-cae, @rgoliver, @austinh0, @bukepo, @kpschoedel

Remove unused python imports (#9136)
  config/esp32/components/chip/create_args_gn.py
  scripts/build/build/factory.py
  scripts/build/build/targets.py
  scripts/build/builders/android.py
  scripts/build/builders/efr32.py
  scripts/build/builders/gn.py
  scripts/build/builders/host.py
  scripts/build/builders/qpg.py
  scripts/flashing/nrfconnect_firmware_utils.py
  scripts/tools/memory/report_summary.py
  scripts/tools/zap/convert.py
  src/controller/python/chip-device-ctrl.py
  src/controller/python/chip/ChipBluezMgr.py
  src/controller/python/chip/ChipCommissionableNodeCtrl.py
  src/controller/python/chip/ChipCoreBluetoothMgr.py
  src/controller/python/chip/ChipDeviceCtrl.py
  src/controller/python/chip/discovery/library_handle.py
  src/controller/python/chip/interaction_model/delegate.py
  src/controller/python/chip/internal/commissioner.py
  src/controller/python/chip/internal/thread.py
  src/controller/python/chip/logging/types.py
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @mspang, @andy31415, @erjianqing

[IM]: Fix OnResponseTimeout is never fired when SendMessage fails (#9133)
  src/app/CommandSender.cpp
  src/app/CommandSender.h
  src/app/InteractionModelDelegate.h
  src/app/InteractionModelEngine.cpp
  src/app/InteractionModelEngine.h
  src/app/ReadClient.cpp
  src/app/ReadClient.h
  src/app/WriteClient.cpp
  src/app/WriteClient.h
  src/app/tests/TestCommandInteraction.cpp
  src/app/tests/integration/chip_im_initiator.cpp
  src/lib/support/logging/CHIPLogging.cpp
  src/lib/support/logging/Constants.h
Owners: @yunhanw-google, @bzbarsky-apple, @mrjerryjohns, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Add On/Off Switch Configuration cluster to the Controller and Lighting app (#9115)
  examples/all-clusters-app/all-clusters-common/all-clusters-app.zap
  examples/chip-tool/commands/clusters/Commands.h
  examples/lighting-app/efr32/src/ZclCallbacks.cpp
  examples/lighting-app/lighting-common/lighting-app.zap
  src/app/util/attribute-filter.h
  src/app/zap-templates/templates/app/CHIPClientCallbacks.zapt
  src/app/zap-templates/templates/app/CHIPClusters-src.zapt
  src/app/zap_cluster_list.py
  src/controller/data_model/controller-clusters.zap
  src/controller/data_model/zap-generated/CHIPClientCallbacks.h
  src/controller/data_model/zap-generated/CHIPClusters.cpp
  src/controller/data_model/zap-generated/CHIPClusters.h
  src/controller/data_model/zap-generated/callback-stub.cpp
  src/controller/data_model/zap-generated/endpoint_config.h
  src/controller/data_model/zap-generated/gen_config.h
  src/controller/java/zap-generated/CHIPClusters-JNI.cpp
  src/controller/java/zap-generated/ChipClusters.java
  src/controller/python/chip/clusters/CHIPClusters.cpp
  src/controller/python/chip/clusters/CHIPClusters.py
  src/darwin/Framework/CHIP/zap-generated/CHIPClustersObjc.h
  src/darwin/Framework/CHIP/zap-generated/CHIPClustersObjc.mm
  src/darwin/Framework/CHIPTests/CHIPClustersTests.m
  zzz_generated/all-clusters-app/zap-generated/callback-stub.cpp
  zzz_generated/all-clusters-app/zap-generated/endpoint_config.h
  zzz_generated/all-clusters-app/zap-generated/gen_config.h
  zzz_generated/lighting-app/zap-generated/CHIPClientCallbacks.cpp
  zzz_generated/lighting-app/zap-generated/CHIPClientCallbacks.h
  zzz_generated/lighting-app/zap-generated/CHIPClusters.cpp
  zzz_generated/lighting-app/zap-generated/CHIPClusters.h
  zzz_generated/lighting-app/zap-generated/callback-stub.cpp
  zzz_generated/lighting-app/zap-generated/endpoint_config.h
  zzz_generated/lighting-app/zap-generated/gen_config.h
  zzz_generated/pump-app/zap-generated/CHIPClientCallbacks.h
  zzz_generated/pump-app/zap-generated/CHIPClusters.cpp
  zzz_generated/pump-controller-app/zap-generated/CHIPClientCallbacks.h
  zzz_generated/pump-controller-app/zap-generated/CHIPClusters.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @vivien-apple, @yunhanw-google, @bzbarsky-apple, @mrjerryjohns, @erjianqing, @shana-apple, @pan-apple, @austinh0, @andy31415

Use local key ID to identify stale connections (#9168)
  src/protocols/secure_channel/CASEServer.cpp
  src/transport/SecureSessionMgr.cpp
  src/transport/tests/TestSecureSessionMgr.cpp
Owners: @pan-apple, @andy31415

Remove unused script (#9166)
  scripts/examples/build-all-clusters-app.py
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Fix unknown type name 'u_int16_t' (#9158)
  src/app/clusters/color-control-server/color-control-server.cpp
Owners: @vivien-apple

Set commissioner credentials instead of adding new entry (#9155)
  src/controller/CHIPDeviceController.cpp
  src/controller/CHIPDeviceController.h
  src/transport/FabricTable.h
Owners: @shana-apple, @pan-apple, @andy31415

Add thermostat app for host builds in build_example.py (#9135)
  .vscode/tasks.json
  scripts/build/build/factory.py
  scripts/build/build/targets.py
  scripts/build/builders/builder.py
  scripts/build/builders/host.py
  scripts/build/expected_all_platform_commands.txt
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @mspang

Fix pump app + pump controller app for nrf platform (#9126)
  examples/pump-app/nrfconnect/CMakeLists.txt
  examples/pump-app/nrfconnect/README.md
  examples/pump-app/nrfconnect/boards/nrf5340dk_nrf5340_cpuapp.conf
  examples/pump-app/nrfconnect/child_image/mcuboot.conf
  examples/pump-app/nrfconnect/configuration/nrf52840dk_nrf52840/pm_static.yml
  examples/pump-app/nrfconnect/main/AppTask.cpp
  examples/pump-app/nrfconnect/main/ZclCallbacks.cpp
  examples/pump-app/nrfconnect/main/include/AppEvent.h
  examples/pump-app/nrfconnect/main/include/AppTask.h
  examples/pump-app/nrfconnect/main/include/CHIPProjectConfig.h
  examples/pump-app/nrfconnect/main/main.cpp
  examples/pump-app/nrfconnect/prj.conf
  examples/pump-controller-app/nrfconnect/CMakeLists.txt
  examples/pump-controller-app/nrfconnect/README.md
  examples/pump-controller-app/nrfconnect/boards/nrf5340dk_nrf5340_cpuapp.conf
  examples/pump-controller-app/nrfconnect/child_image/mcuboot.conf
  examples/pump-controller-app/nrfconnect/configuration/nrf52840dk_nrf52840/pm_static.yml
  examples/pump-controller-app/nrfconnect/main/AppTask.cpp
  examples/pump-controller-app/nrfconnect/main/ZclCallbacks.cpp
  examples/pump-controller-app/nrfconnect/main/include/AppEvent.h
  examples/pump-controller-app/nrfconnect/main/include/AppTask.h
  examples/pump-controller-app/nrfconnect/main/include/CHIPProjectConfig.h
  examples/pump-controller-app/nrfconnect/main/main.cpp
  examples/pump-controller-app/nrfconnect/prj.conf
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Implement DisarmFailSafe callback for general commissioning cluster (#9107)
  src/include/platform/internal/DeviceControlServer.h
  src/platform/DeviceControlServer.cpp
Owners: @mspang, @yufengwangca

Add telink support for script/build/build_examples.py (#8882)
  scripts/build/build/factory.py
  scripts/build/build/targets.py
  scripts/build/builders/telink.py
  scripts/build/expected_all_platform_commands.txt
Owners: @mspang

Fix darwin
  src/darwin/Framework/CHIP.xcodeproj/project.pbxproj
Owners: @shana-apple, @vivien-apple, @pan-apple

[codegen] Move non-generated code out of template
  src/app/chip_data_model.gni
  src/app/util/im-client-callbacks.cpp
  src/app/util/im-client-callbacks.h
  src/app/zap-templates/templates/app/CHIPClientCallbacks-src.zapt
  src/app/zap-templates/templates/app/CHIPClientCallbacks.zapt
Owners: @yunhanw-google, @bzbarsky-apple, @mrjerryjohns, @vivien-apple, @erjianqing

Run Codegen
  src/controller/data_model/zap-generated/CHIPClientCallbacks.cpp
  src/controller/data_model/zap-generated/CHIPClientCallbacks.h
  zzz_generated/lighting-app/zap-generated/CHIPClientCallbacks.cpp
  zzz_generated/lighting-app/zap-generated/CHIPClientCallbacks.h
  zzz_generated/pump-app/zap-generated/CHIPClientCallbacks.cpp
  zzz_generated/pump-app/zap-generated/CHIPClientCallbacks.h
  zzz_generated/pump-controller-app/zap-generated/CHIPClientCallbacks.cpp
  zzz_generated/pump-controller-app/zap-generated/CHIPClientCallbacks.h
Owners: @shana-apple, @pan-apple, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

[cleanup] Move non generated code to seperate file (#9121)
  src/app/chip_data_model.gni
  src/app/util/im-client-callbacks.cpp
  src/app/util/im-client-callbacks.h
  src/app/zap-templates/templates/app/CHIPClientCallbacks-src.zapt
  src/app/zap-templates/templates/app/CHIPClientCallbacks.zapt
  src/controller/data_model/zap-generated/CHIPClientCallbacks.cpp
  src/controller/data_model/zap-generated/CHIPClientCallbacks.h
  src/darwin/Framework/CHIP.xcodeproj/project.pbxproj
  zzz_generated/lighting-app/zap-generated/CHIPClientCallbacks.cpp
  zzz_generated/lighting-app/zap-generated/CHIPClientCallbacks.h
  zzz_generated/pump-app/zap-generated/CHIPClientCallbacks.cpp
  zzz_generated/pump-app/zap-generated/CHIPClientCallbacks.h
  zzz_generated/pump-controller-app/zap-generated/CHIPClientCallbacks.cpp
  zzz_generated/pump-controller-app/zap-generated/CHIPClientCallbacks.h
Owners: @yunhanw-google, @bzbarsky-apple, @mrjerryjohns, @vivien-apple, @erjianqing, @shana-apple, @pan-apple, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Add temperature measurement app to the build_examples.py script (#9118)
  .vscode/tasks.json
  scripts/build/build/factory.py
  scripts/build/build/targets.py
  scripts/build/builders/esp32.py
  scripts/build/expected_all_platform_commands.txt
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @mspang

Cleanup legacy dead code inherited from Weave
  src/include/platform/CHIPDeviceLayer.h
  src/include/platform/TimeSyncManager.h
  src/lib/core/CHIPConfig.h
  src/lib/core/CHIPEventLoggingConfig.h
  src/platform/BUILD.gn
  src/platform/EFR32/GroupKeyStoreImpl.cpp
  src/platform/EFR32/GroupKeyStoreImpl.h
  src/platform/ESP32/GroupKeyStoreImpl.cpp
  src/platform/ESP32/GroupKeyStoreImpl.h
  src/platform/K32W/GroupKeyStoreImpl.cpp
  src/platform/K32W/GroupKeyStoreImpl.h
  src/platform/qpg/GroupKeyStoreImpl.cpp
  src/platform/qpg/GroupKeyStoreImpl.h
Owners: @mspang, @yufengwangca, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

[nfc] fix Matter URI scheme
  src/android/CHIPTool/app/src/main/AndroidManifest.xml
Owners: @austinh0

nrfconnect: Fixed bug with not handling CHIPoBLE disconnect
  examples/lighting-app/nrfconnect/main/AppTask.cpp
  examples/lock-app/nrfconnect/main/AppTask.cpp
  examples/platform/nrfconnect/util/DFUOverSMP.cpp
  examples/platform/nrfconnect/util/include/DFUOverSMP.h
  src/include/platform/CHIPDeviceEvent.h
  src/platform/Zephyr/BLEManagerImpl.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @mspang, @yufengwangca

Restyled by clang-format
  src/inet/tests/TestInetEndPoint.cpp
Owners: @kpschoedel

added gn to cmake script
  scripts/examples/android_app_as.sh
  scripts/examples/gn_to_cmake.py
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

modify build.gradle to build with generated cmake
  src/android/CHIPTool/app/build.gradle
  src/android/CHIPTool/build.gradle
Owners: @austinh0

workaround: can not use gms to scan qr code in China, added a EditText to debug
  src/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/setuppayloadscanner/BarcodeFragment.kt
  src/android/CHIPTool/app/src/main/res/layout/barcode_fragment.xml
Owners: @austinh0

move ChipClusters.java to gen/chip/devicecontroller/ to fit java folder rulse
  src/controller/java/BUILD.gn
  src/controller/java/zap-generated/chip/devicecontroller/ChipClusters.java
Owners: @austinh0

follow matter Style
  scripts/examples/gn_to_cmake.py
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

move src/main/jniLibs to libs/jniLibs to fix jniLibs local conflict issue, and set matterFromSource = false by default
  scripts/examples/android_app.sh
  src/android/CHIPTool/app/build.gradle
  src/android/CHIPTool/app/libs/jniLibs/README.md
  src/android/CHIPTool/build.gradle
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @austinh0

java/templates/templates.json to have ZAP generate ChipClusters.java into this new directory. as PR review
  src/controller/java/templates/templates.json
Owners: @austinh0

use ConstraintLayout as austinh0 suggest in PR
  src/android/CHIPTool/app/src/main/res/layout/barcode_fragment.xml
Owners: @austinh0

combine ide build and script build into one shell script as andy31415 suggest in PR
  scripts/examples/android_app.sh
  scripts/examples/android_app_as.sh
  src/android/CHIPTool/app/build.gradle
  src/android/CHIPTool/build.gradle
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @austinh0

set matterBuildSrcDir = null by default
  src/android/CHIPTool/build.gradle
Owners: @austinh0

Updated pump-app example and removed "lock" references
  examples/pump-app/nrfconnect/README.md
  examples/pump-app/nrfconnect/main/AppTask.cpp
  examples/pump-app/nrfconnect/main/PumpManager.cpp
  examples/pump-app/nrfconnect/main/ZclCallbacks.cpp
  examples/pump-app/nrfconnect/main/include/AppConfig.h
  examples/pump-app/nrfconnect/main/include/AppEvent.h
  examples/pump-app/nrfconnect/main/include/AppTask.h
  examples/pump-app/nrfconnect/main/include/PumpManager.h
  examples/pump-controller-app/nrfconnect/main/include/AppConfig.h
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

nrfconnect: Fixed bug with not handling CHIPoBLE disconnect (#9160)
  examples/lighting-app/nrfconnect/main/AppTask.cpp
  examples/lock-app/nrfconnect/main/AppTask.cpp
  examples/platform/nrfconnect/util/DFUOverSMP.cpp
  examples/platform/nrfconnect/util/include/DFUOverSMP.h
  src/include/platform/CHIPDeviceEvent.h
  src/platform/Zephyr/BLEManagerImpl.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @mspang, @yufengwangca

added USE_IDE to compare for ide or script, suggested by austinh0 in PR
  scripts/examples/android_app.sh
  src/android/CHIPTool/app/build.gradle
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @austinh0

Restyled by whitespace
  scripts/examples/android_app.sh
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Change [[maybe_unused]] into constexpr
  src/app/zap-templates/templates/app/CHIPClusters-src.zapt
  src/controller/data_model/zap-generated/CHIPClusters.cpp
  zzz_generated/lighting-app/zap-generated/CHIPClusters.cpp
  zzz_generated/lighting-app/zap-generated/CHIPClusters.h
  zzz_generated/lighting-app/zap-generated/IMClusterCommandHandler.cpp
  zzz_generated/pump-app/zap-generated/CHIPClusters.cpp
  zzz_generated/pump-controller-app/zap-generated/CHIPClusters.cpp
Owners: @vivien-apple, @erjianqing, @shana-apple, @pan-apple, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Commit generated files after updating ZAP
  zzz_generated/lighting-app/zap-generated/CHIPClusters.cpp
  zzz_generated/lighting-app/zap-generated/CHIPClusters.h
  zzz_generated/lighting-app/zap-generated/IMClusterCommandHandler.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Fixed QEMU build based on #9080 suggestions
  scripts/tests/esp32_qemu_tests.sh
  src/credentials/tests/BUILD.gn
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @pan-apple, @emargolis

Update docs/discussion/lwip_ipv6.md
  docs/discussion/lwip_ipv6.md
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Move app generated files to zzz_generated. Regenerated lighting app zap files (unsure why they changed)
  scripts/tools/zap_regen_all.py
  src/app/common/templates/templates.json
  zzz_generated/app-common/app-common/zap-generated/af-structs.h
  zzz_generated/app-common/app-common/zap-generated/att-storage.h
  zzz_generated/app-common/app-common/zap-generated/attribute-id.h
  zzz_generated/app-common/app-common/zap-generated/attribute-size.h
  zzz_generated/app-common/app-common/zap-generated/attribute-type.h
  zzz_generated/app-common/app-common/zap-generated/attributes/Accessors.cpp
  zzz_generated/app-common/app-common/zap-generated/attributes/Accessors.h
  zzz_generated/app-common/app-common/zap-generated/callback.h
  zzz_generated/app-common/app-common/zap-generated/client-command-macro.h
  zzz_generated/app-common/app-common/zap-generated/cluster-id.h
  zzz_generated/app-common/app-common/zap-generated/command-id.h
  zzz_generated/app-common/app-common/zap-generated/enums.h
  zzz_generated/app-common/app-common/zap-generated/ids/Attributes.h
  zzz_generated/app-common/app-common/zap-generated/ids/Clusters.h
  zzz_generated/app-common/app-common/zap-generated/ids/Commands.h
  zzz_generated/app-common/app-common/zap-generated/print-cluster.h
  zzz_generated/lighting-app/zap-generated/CHIPClusters.cpp
  zzz_generated/lighting-app/zap-generated/CHIPClusters.h
  zzz_generated/lighting-app/zap-generated/IMClusterCommandHandler.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @yunhanw-google, @bzbarsky-apple, @mrjerryjohns

Update paths after restyler
  src/controller/data_model/zap-generated/CHIPClientCallbacks.cpp
  src/controller/data_model/zap-generated/CHIPClientCallbacks.h
  src/controller/data_model/zap-generated/CHIPClusters.cpp
  zzz_generated/lighting-app/zap-generated/CHIPClientCallbacks.cpp
  zzz_generated/lighting-app/zap-generated/CHIPClientCallbacks.h
  zzz_generated/lighting-app/zap-generated/CHIPClusters.cpp
  zzz_generated/lighting-app/zap-generated/CHIPClusters.h
  zzz_generated/lighting-app/zap-generated/IMClusterCommandHandler.cpp
  zzz_generated/pump-app/zap-generated/CHIPClientCallbacks.cpp
  zzz_generated/pump-app/zap-generated/CHIPClientCallbacks.h
  zzz_generated/pump-app/zap-generated/CHIPClusters.cpp
  zzz_generated/pump-controller-app/zap-generated/CHIPClientCallbacks.cpp
  zzz_generated/pump-controller-app/zap-generated/CHIPClientCallbacks.h
  zzz_generated/pump-controller-app/zap-generated/CHIPClusters.cpp
Owners: @shana-apple, @pan-apple, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

.github/CODEOWNERS:

# Current reviewers-XXX teams, who review everything for approval.
* @reviewers-amazon @reviewers-apple @reviewers-comcast @reviewers-google @reviewers-nordic @reviewers-samsung @reviewers-silabs


# BUILD system

*.gn @mspang
/build/ @mspang
/scripts/build/ @mspang

# Crypto
# Crypto primitives and high level API, generally on top of mbedtls and openssl
/src/crypto/* @pan-apple @emargolis
/src/credentials/ @pan-apple @emargolis

# Transport
# Send and receive data abstracting away the underlying protocol (UDP, TCP, BLE)
/src/transport/ @andy31415 @pan-apple

# Session establishment
# Establish a secure session (encryption keys) from one node to another.
# Includes CASE and PASE + session tracking and resumptioon
/src/protocols/secure_channel/ @pan-apple

# Message Layer
# CRMP and packet headers, generally coupled with SecureSessionManager
/src/messaging @yufengwangca @kghost @bzbarksy-apple
/src/transport/raw/MessageHeader.* @yufengwangca @kghost @bzbarksy-apple

# SecureSessionManager
# Manages per-session encryption keys and new session establishment
/src/transport/SecureSessionMgr.* @pan-apple

# Exchange management
# Joins requests and responses or ties a series of messages belonging to the 
# same protocol interaction
/src/messaging/ @yufengwangca @bzbarsky-apple
/src/channel/ @yufengwangca @bzbarsky-apple

# DNS-SD discovery and advertisement
# Advertise chip devices for commisioning, operational and discover such devices
/src/lib/mdns/ @andy31415 @gjc13 @damian-nordic

# Commisioning controller/flow
# Example of a comisioning sequence
/src/controller/ @pan-apple @erjiaqing

# Operational credentials management
# Signing certificates, maintaining roots of trust, validation, fabric management
/src/controller/ @shana-apple @pan-apple
/src/transport/AdminPairingTable.* @shana-apple @pan-apple

# TLV encoding/decoding to/from byte buffers
/src/lib/core/CHIPTLV* @yunhanw-google @bzbarsky-apple @shana-apple

# Interaction model - ember implementation
# ZCL protocol implementation: ZCL encoding to be sent over the wire as a 
# ZigbeePro protocol implementation
/src/app/util/ @vivien-apple @erjianqing @bzbarsky-apple

# Interaction model - non-ember
# Protocol implementation for IM interactions between nodes, matching spec
/src/app/ @yunhanw-google @bzbarsky-apple @mrjerryjohns

# Interaction model - code generation
# CHIP-specific infrastructure for generating code: helper js methods, scripts
# and code layout
/src/app/zap-templates/ @vivien-apple @erjianqing

# ZAP suppport
# UI for editing XML, generates code from such ZML and configuration files
# NOT part of CHIP however CHIP relies heavily on ZAP.
#    @vivien-apple  @tecimovic

# 'Standard' cluster implementations (server side)
# Clusters shipped with the sdk, can be integrated as-is or used as a template
/src/app/clusters/ @vivien-apple

# Onboarding payload
# Parsing and generation of codes (includes QR and NFC), numeric pairing payload
/src/setup_payload/ @shana-apple @vivien-apple @jrhees-cae

# Device Layer
# Porting interfaces, scaffolding for building an example firmware
/src/platform/ @mspang @yufengwangca
/src/include/platform/ @mspang @yufengwangca

# Persistent storage
# Save state across reboots
/src/platform/*/KeyValueStore* @rgoliver

# Python bindings for CHIP - CLI
# Allows python code to use CHIP, generally targeted towards automation
/src/controller/python/ @andy31415 @erjianqing

# CHIP-tool C++ CLI
# Command line interface to chip as a client (controller and commisioner)
# Includes generated code for every base cluster
/examples/chip-tool/ @vivien-apple

# CHIP-tool iOS UI
/src/darwin/CHIPTool/ @shana-apple

# CHIP-tool Android
/src/android/CHIPTool/ @austinh0
/src/controller/java/ @austinh0

# End2End autogenerated tests
/src/darwin/Framework/Chip-templates/ @vivien-apple
/src/app/tests/suites/ @vivien-apple

# End2End cirque tests
# Simulate topology (cirque) and ptyhon-based test automation
/src/test_driver/linux/cirque/ @erjianqing @yunhanw-google

# Thread integration
# Thread-specific functionality (network provisioning, operational discovery, SRP registration etc.)
/src/platform/OpenThread/ @bukepo
/src/platform/*/ThreadStackmanagerImpl.* @bukepo

# Inet
# Networking abstraction layer (UDP-endpoint, TCP-endpoint, InetLayerBasis)
/src/inet/ @kpschoedel 

# System layer
/src/system/ @kpschoedel 

# BLE support
/src/ble/ @yunhanw-google

# CHIP Shell
# Command-line UART/stdin interface as a side-channel to CHIP accessories
# Aimed as user-friendly/manual control
/src/examples/shell/ @gjc13 @yufengwangca

# RPC
# Side-channlel command path (outside chip), generally for automation and debugging
# Aimed as "scriptable" when compared to shell
/examples/common/pigweed/ @rgoliver
/examples/pigweed-app/ @rgoliver

# Tooling for crypto manual generation
# Generates data for sample PKI
/src/tools/chip-cert/ @emargolis

# Channel API
# Construct a transport/secure session based on peer info and transport type.
# Focused on CASE session establishment
/src/channel/ @kghost

# Darwin framework
# Exposes a darwin API (Objective-C/swift rather than raw C++ API) for darwin
# applications
/src/darwin/Framework/ @shana-apple @vivien-apple @pan-apple
