Repository project-chip/connectedhomeip, changes with the owners that .github/CODEOWNERS names for each.
All owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @mspang, @pan-apple, @emargolis, @andy31415, @yufengwangca, @kghost, @bzbarksy-apple, @bzbarsky-apple, @gjc13, @damian-nordic, @erjiaqing, @shana-apple, @yunhanw-google, @vivien-apple, @erjianqing, @mrjerryjohns, @jrhees-cae, @rgoliver, @austinh0, @bukepo, @kpschoedel

.github/CODEOWNERS:

# Current reviewers-XXX teams, who review everything for approval.
* @reviewers-amazon @reviewers-apple @reviewers-comcast @reviewers-google @reviewers-nordic @reviewers-samsung @reviewers-silabs


# BUILD system

*.gn @mspang
/build/ @mspang
/scripts/build/ @mspang

# Crypto
# Crypto primitives and high level API, generally on top of mbedtls and openssl
/src/crypto/* @pan-apple @emargolis
/src/credentials/ @pan-apple @emargolis

# Transport
# Send and receive data abstracting away the underlying protocol (UDP, TCP, BLE)
/src/transport/ @andy31415 @pan-apple

# Session establishment
# Establish a secure session (encryption keys) from one node to another.
# Includes CASE and PASE + session tracking and resumptioon
/src/protocols/secure_channel/ @pan-apple

# Message Layer
# CRMP and packet headers, generally coupled with SecureSessionManager
/src/messaging @yufengwangca @kghost @bzbarksy-apple
/src/transport/raw/MessageHeader.* @yufengwangca @kghost @bzbarksy-apple

# SecureSessionManager
# Manages per-session encryption keys and new session establishment
/src/transport/SecureSessionMgr.* @pan-apple

# Exchange management
# Joins requests and responses or ties a series of messages belonging to the 
# same protocol interaction
/src/messaging/ @yufengwangca @bzbarsky-apple
/src/channel/ @yufengwangca @bzbarsky-apple

# DNS-SD discovery and advertisement
# Advertise chip devices for commisioning, operational and discover such devices
/src/lib/mdns/ @andy31415 @gjc13 @damian-nordic

# Commisioning controller/flow
# Example of a comisioning sequence
/src/controller/ @pan-apple @erjiaqing

# Operational credentials management
# Signing certificates, maintaining roots of trust, validation, fabric management
/src/controller/ @shana-apple @pan-apple
/src/transport/AdminPairingTable.* @shana-apple @pan-apple

# TLV encoding/decoding to/from byte buffers
/src/lib/core/CHIPTLV* @yunhanw-google @bzbarsky-apple @shana-apple

# Interaction model - ember implementation
# ZCL protocol implementation: ZCL encoding to be sent over the wire as a 
# ZigbeePro protocol implementation
/src/app/util/ @vivien-apple @erjianqing @bzbarsky-apple

# Interaction model - non-ember
# Protocol implementation for IM interactions between nodes, matching spec
/src/app/ @yunhanw-google @bzbarsky-apple @mrjerryjohns

# Interaction model - code generation
# CHIP-specific infrastructure for generating code: helper js methods, scripts
# and code layout
/src/app/zap-templates/ @vivien-apple @erjianqing

# ZAP suppport
# UI for editing XML, generates code from such ZML and configuration files
# NOT part of CHIP however CHIP relies heavily on ZAP.
#    @vivien-apple  @tecimovic

# 'Standard' cluster implementations (server side)
# Clusters shipped with the sdk, can be integrated as-is or used as a template
/src/app/clusters/ @vivien-apple

# Onboarding payload
# Parsing and generation of codes (includes QR and NFC), numeric pairing payload
/src/setup_payload/ @shana-apple @vivien-apple @jrhees-cae

# Device Layer
# Porting interfaces, scaffolding for building an example firmware
/src/platform/ @mspang @yufengwangca
/src/include/platform/ @mspang @yufengwangca

# Persistent storage
# Save state across reboots
/src/platform/*/KeyValueStore* @rgoliver

# Python bindings for CHIP - CLI
# Allows python code to use CHIP, generally targeted towards automation
/src/controller/python/ @andy31415 @erjianqing

# CHIP-tool C++ CLI
# Command line interface to chip as a client (controller and commisioner)
# Includes generated code for every base cluster
/examples/chip-tool/ @vivien-apple

# CHIP-tool iOS UI
/src/darwin/CHIPTool/ @shana-apple

# CHIP-tool Android
/src/android/CHIPTool/ @austinh0
/src/controller/java/ @austinh0

# End2End autogenerated tests
/src/darwin/Framework/Chip-templates/ @vivien-apple
/src/app/tests/suites/ @vivien-apple

# End2End cirque tests
# Simulate topology (cirque) and ptyhon-based test automation
/src/test_driver/linux/cirque/ @erjianqing @yunhanw-google

# Thread integration
# Thread-specific functionality (network provisioning, operational discovery, SRP registration etc.)
/src/platform/OpenThread/ @bukepo
/src/platform/*/ThreadStackmanagerImpl.* @bukepo

# Inet
# Networking abstraction layer (UDP-endpoint, TCP-endpoint, InetLayerBasis)
/src/inet/ @kpschoedel 

# System layer
/src/system/ @kpschoedel 

# BLE support
/src/ble/ @yunhanw-google

# CHIP Shell
# Command-line UART/stdin interface as a side-channel to CHIP accessories
# Aimed as user-friendly/manual control
/src/examples/shell/ @gjc13 @yufengwangca

# RPC
# Side-channlel command path (outside chip), generally for automation and debugging
# Aimed as "scriptable" when compared to shell
/examples/common/pigweed/ @rgoliver
/examples/pigweed-app/ @rgoliver

# Tooling for crypto manual generation
# Generates data for sample PKI
/src/tools/chip-cert/ @emargolis

# Channel API
# Construct a transport/secure session based on peer info and transport type.
# Focused on CASE session establishment
/src/channel/ @kghost

# Darwin framework
# Exposes a darwin API (Objective-C/swift rather than raw C++ API) for darwin
# applications
/src/darwin/Framework/ @shana-apple @vivien-apple @pan-apple

Restyled by clang-format
  src/controller/python/ChipDeviceController-ScriptBinding.cpp
  src/controller/python/ChipDeviceController-ScriptDevicePairingDelegate.h
Owners: @andy31415, @erjianqing

Don't treat a resolve as done in chip-device-ctrl until we have a CASE connection.
  src/controller/python/ChipDeviceController-ScriptBinding.cpp
  src/controller/python/ChipDeviceController-ScriptDevicePairingDelegate.cpp
  src/controller/python/ChipDeviceController-ScriptDevicePairingDelegate.h
  src/controller/python/chip/ChipDeviceCtrl.py
Owners: @andy31415, @erjianqing

regenerate to fix merge conflicts
  examples/all-clusters-app/all-clusters-common/gen/IMClusterCommandHandler.cpp
  examples/chip-tool/commands/clusters/Commands.h
  examples/tv-app/tv-common/gen/IMClusterCommandHandler.cpp
  src/app/common/gen/client-command-macro.h
  src/controller/data_model/gen/CHIPClusters.cpp
  src/controller/data_model/gen/IMClusterCommandHandler.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @vivien-apple, @yunhanw-google, @bzbarsky-apple, @mrjerryjohns, @shana-apple, @pan-apple

Fix small error on merge
  src/lib/mdns/tests/TestServiceNaming.cpp
Owners: @andy31415, @gjc13, @damian-nordic

Add GenerateEventPathList and test
  src/app/EventPathParams.h
  src/app/ReadClient.cpp
  src/app/ReadClient.h
  src/app/tests/TestReadInteraction.cpp
  src/app/tests/integration/MockEvents.cpp
  src/app/tests/integration/MockEvents.h
  src/app/tests/integration/chip_im_initiator.cpp
  src/app/tests/integration/common.h
Owners: @yunhanw-google, @bzbarsky-apple, @mrjerryjohns

Restyled by clang-format
  src/app/ReadClient.cpp
  src/app/ReadClient.h
  src/app/tests/TestReadInteraction.cpp
  src/app/tests/integration/MockEvents.cpp
  src/app/tests/integration/MockEvents.h
  src/app/tests/integration/chip_im_initiator.cpp
  src/app/tests/integration/common.h
Owners: @yunhanw-google, @bzbarsky-apple, @mrjerryjohns

Revert "Address comments, cleanup logging"
  src/lib/mdns/Advertiser.h
  src/lib/mdns/Discovery_ImplPlatform.cpp
  src/lib/mdns/ServiceNaming.cpp
  src/lib/shell/commands/Commissioning.cpp
  src/messaging/tests/echo/echo_requester.cpp
  src/messaging/tests/echo/echo_responder.cpp
  src/transport/SecureMessageCodec.cpp
Owners: @andy31415, @gjc13, @damian-nordic, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @yufengwangca, @bzbarsky-apple, @pan-apple

Add GenerateEventPathList and test
  src/app/EventPathParams.h
  src/app/ReadClient.cpp
  src/app/ReadClient.h
  src/app/tests/TestReadInteraction.cpp
  src/app/tests/integration/MockEvents.cpp
  src/app/tests/integration/MockEvents.h
  src/app/tests/integration/chip_im_initiator.cpp
  src/app/tests/integration/common.h
Owners: @yunhanw-google, @bzbarsky-apple, @mrjerryjohns

Restyled by clang-format
  src/app/tests/integration/chip_im_initiator.cpp
Owners: @yunhanw-google, @bzbarsky-apple, @mrjerryjohns

Update number of responders
  src/lib/mdns/minimal/ResponseSender.h
Owners: @andy31415, @gjc13, @damian-nordic

add back reverted files
  src/lib/mdns/Advertiser.h
  src/lib/mdns/Discovery_ImplPlatform.cpp
  src/lib/mdns/ServiceNaming.cpp
  src/lib/shell/commands/Commissioning.cpp
  src/messaging/tests/echo/echo_requester.cpp
  src/messaging/tests/echo/echo_responder.cpp
  src/transport/SecureMessageCodec.cpp
Owners: @andy31415, @gjc13, @damian-nordic, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @yufengwangca, @bzbarsky-apple, @pan-apple

Update log messages for session expiry
  src/transport/SecureSessionMgr.cpp
Owners: @pan-apple

[shell] Fix assert failure during startup (#7986)
  src/lib/shell/Engine.h
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Fix callback typr
  src/controller/python/templates/python-CHIPClusters-cpp.zapt
Owners: @andy31415, @erjianqing

Run codegen
  src/controller/python/chip/clusters/CHIPClusters.cpp
Owners: @andy31415, @erjianqing

Add GenerateEventPathList and test
  src/app/EventPathParams.h
  src/app/ReadClient.cpp
  src/app/ReadClient.h
  src/app/tests/TestReadInteraction.cpp
  src/app/tests/integration/MockEvents.cpp
  src/app/tests/integration/MockEvents.h
  src/app/tests/integration/chip_im_initiator.cpp
  src/app/tests/integration/chip_im_responder.cpp
  src/app/tests/integration/common.h
Owners: @yunhanw-google, @bzbarsky-apple, @mrjerryjohns

Restyled by clang-format
  src/app/tests/integration/chip_im_initiator.cpp
  src/app/tests/integration/chip_im_responder.cpp
Owners: @yunhanw-google, @bzbarsky-apple, @mrjerryjohns

[ZAP] Add hasConfigurableChange instead of isDiscreteType to account for string types
  examples/chip-tool/templates/commands.zapt
  src/app/zap-templates/common/ClustersHelper.js
  src/app/zap-templates/templates/app/CHIPClusters-src.zapt
  src/app/zap-templates/templates/app/CHIPClusters.zapt
  src/app/zap-templates/templates/app/chip-zcl-zpro-codec-api.zapt
  src/app/zap-templates/templates/app/encoder-src.zapt
  src/app/zap-templates/templates/chip/helper.js
  src/controller/python/templates/python-CHIPClusters-cpp.zapt
  src/controller/python/templates/python-CHIPClusters-py.zapt
  src/darwin/Framework/CHIP/templates/CHIPClustersObjc-src.zapt
  src/darwin/Framework/CHIP/templates/CHIPClustersObjc.zapt
Owners: @vivien-apple, @erjianqing, @andy31415, @shana-apple, @pan-apple

Update src/app/zap-templates/templates/chip/helper.js
  src/app/zap-templates/templates/chip/helper.js
Owners: @vivien-apple, @erjianqing

Restyled by clang-format
  src/app/zap-templates/templates/chip/helper.js
Owners: @vivien-apple, @erjianqing

Update gen/ folders
  examples/all-clusters-app/all-clusters-common/gen/IMClusterCommandHandler.cpp
  examples/all-clusters-app/all-clusters-common/gen/attribute-size.cpp
  examples/bridge-app/bridge-common/gen/IMClusterCommandHandler.cpp
  examples/bridge-app/bridge-common/gen/attribute-size.cpp
  examples/chip-tool/commands/clusters/Commands.h
  examples/lighting-app/lighting-common/gen/IMClusterCommandHandler.cpp
  examples/lighting-app/lighting-common/gen/attribute-size.cpp
  examples/lock-app/lock-common/gen/IMClusterCommandHandler.cpp
  examples/lock-app/lock-common/gen/attribute-size.cpp
  examples/pump-app/pump-common/gen/CHIPClientCallbacks.cpp
  examples/pump-app/pump-common/gen/IMClusterCommandHandler.cpp
  examples/pump-app/pump-common/gen/attribute-size.cpp
  examples/pump-app/pump-common/gen/encoder.cpp
  examples/pump-controller-app/pump-controller-common/gen/CHIPClientCallbacks.cpp
  examples/pump-controller-app/pump-controller-common/gen/IMClusterCommandHandler.cpp
  examples/pump-controller-app/pump-controller-common/gen/attribute-size.cpp
  examples/pump-controller-app/pump-controller-common/gen/encoder.cpp
  examples/temperature-measurement-app/esp32/main/gen/IMClusterCommandHandler.cpp
  examples/temperature-measurement-app/esp32/main/gen/attribute-size.cpp
  examples/tv-app/tv-common/gen/IMClusterCommandHandler.cpp
  examples/tv-app/tv-common/gen/attribute-size.cpp
  examples/window-app/common/gen/IMClusterCommandHandler.cpp
  examples/window-app/common/gen/attribute-size.cpp
  src/app/common/gen/attribute-size.h
  src/app/common/gen/attribute-type.h
  src/app/common/gen/client-command-macro.h
  src/controller/data_model/gen/CHIPClientCallbacks.cpp
  src/controller/data_model/gen/CHIPClusters.cpp
  src/controller/data_model/gen/IMClusterCommandHandler.cpp
  src/controller/data_model/gen/attribute-size.cpp
  src/controller/data_model/gen/encoder.cpp
  src/controller/java/gen/CHIPClusters-JNI.cpp
  src/controller/java/gen/ChipClusters.java
  src/controller/python/chip/clusters/CHIPClusters.py
  src/darwin/Framework/CHIP/gen/CHIPClustersObjc.h
  src/darwin/Framework/CHIP/gen/CHIPClustersObjc.mm
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @vivien-apple, @yunhanw-google, @bzbarsky-apple, @mrjerryjohns, @shana-apple, @pan-apple, @austinh0, @andy31415, @erjianqing

[ZAP] Add isAnalog instead of isDiscreteType to account for string types
  examples/chip-tool/templates/commands.zapt
  src/app/zap-templates/common/ClustersHelper.js
  src/app/zap-templates/templates/app/CHIPClusters-src.zapt
  src/app/zap-templates/templates/app/CHIPClusters.zapt
  src/app/zap-templates/templates/app/chip-zcl-zpro-codec-api.zapt
  src/app/zap-templates/templates/app/encoder-src.zapt
  src/app/zap-templates/templates/chip/helper.js
  src/controller/python/templates/python-CHIPClusters-cpp.zapt
  src/controller/python/templates/python-CHIPClusters-py.zapt
  src/darwin/Framework/CHIP/templates/CHIPClustersObjc-src.zapt
  src/darwin/Framework/CHIP/templates/CHIPClustersObjc.zapt
Owners: @vivien-apple, @erjianqing, @andy31415, @shana-apple, @pan-apple

Remove call-command-handler.cpp from src/controller/data_model/gen/ and from src/darwin/Framework/CHIP.xcodeproj/project.pbxproj
  src/controller/data_model/gen/call-command-handler.cpp
  src/darwin/Framework/CHIP.xcodeproj/project.pbxproj
Owners: @shana-apple, @pan-apple, @vivien-apple

add electrical measurement cluster to all-cluster-app/esp32
  examples/all-clusters-app/esp32/main/CMakeLists.txt
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

add electrical measurement cluster to all-clusters-app
  examples/all-clusters-app/all-clusters-common/all-clusters-app.zap
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

add electrical measurement cluster to controller-clusters.zap
  src/controller/data_model/controller-clusters.zap
Owners: @shana-apple, @pan-apple

add app helpers for electrical measurement cluster
  src/app/clusters/electrical-measurement-server/electrical-measurement-server.cpp
  src/app/clusters/electrical-measurement-server/electrical-measurement-server.h
Owners: @vivien-apple

add electrical measurement cluster to zap_cluster_list.py
  src/app/zap_cluster_list.py
Owners: @yunhanw-google, @bzbarsky-apple, @mrjerryjohns

fix all cluster app build
  src/app/zap_cluster_list.py
Owners: @yunhanw-google, @bzbarsky-apple, @mrjerryjohns

regen all
  examples/all-clusters-app/all-clusters-common/gen/callback-stub.cpp
  examples/all-clusters-app/all-clusters-common/gen/callback.h
  examples/all-clusters-app/all-clusters-common/gen/endpoint_config.h
  examples/all-clusters-app/all-clusters-common/gen/gen_config.h
  examples/chip-tool/commands/clusters/Commands.h
  src/controller/data_model/gen/CHIPClusters.cpp
  src/controller/data_model/gen/CHIPClusters.h
  src/controller/data_model/gen/callback-stub.cpp
  src/controller/data_model/gen/callback.h
  src/controller/data_model/gen/chip-zcl-zpro-codec-api.h
  src/controller/data_model/gen/encoder.cpp
  src/controller/data_model/gen/endpoint_config.h
  src/controller/data_model/gen/gen_config.h
  src/controller/java/gen/CHIPClusters-JNI.cpp
  src/controller/java/gen/ChipClusters.java
  src/controller/python/chip/clusters/CHIPClusters.cpp
  src/controller/python/chip/clusters/CHIPClusters.py
  src/darwin/Framework/CHIP/gen/CHIPClustersObjc.h
  src/darwin/Framework/CHIP/gen/CHIPClustersObjc.mm
  src/darwin/Framework/CHIPTests/CHIPClustersTests.m
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @vivien-apple, @shana-apple, @pan-apple, @austinh0, @andy31415, @erjianqing

Fix IM changes
  examples/all-clusters-app/linux/include/media/tv-stubs.cpp
  examples/tv-app/linux/include/account-login/AccountLoginManager.cpp
  examples/tv-app/linux/include/application-basic/ApplicationBasicManager.cpp
  examples/tv-app/linux/include/application-basic/ApplicationBasicManager.h
  examples/tv-app/linux/include/application-launcher/ApplicationLauncherManager.cpp
  examples/tv-app/linux/include/application-launcher/ApplicationLauncherManager.h
  examples/tv-app/linux/include/audio-output/AudioOutputManager.cpp
  examples/tv-app/linux/include/audio-output/AudioOutputManager.h
  examples/tv-app/linux/include/endpoint-configuration/chip_tv_config.ini
  examples/tv-app/linux/include/keypad-input/KeypadInputManager.cpp
  examples/tv-app/linux/include/keypad-input/KeypadInputManager.h
  examples/tv-app/linux/include/low-power/LowPowerManager.cpp
  examples/tv-app/linux/include/low-power/LowPowerManager.h
  examples/tv-app/linux/include/media-input/MediaInputManager.cpp
  examples/tv-app/linux/include/media-input/MediaInputManager.h
  examples/tv-app/linux/include/media-playback/MediaPlaybackManager.cpp
  examples/tv-app/linux/include/media-playback/MediaPlaybackManager.h
  examples/tv-app/linux/include/target-navigator/TargetNavigatorManager.cpp
  examples/tv-app/linux/include/target-navigator/TargetNavigatorManager.h
  examples/tv-app/linux/include/tv-channel/TvChannelManager.cpp
  examples/tv-app/linux/include/tv-channel/TvChannelManager.h
  src/app/clusters/account-login-server/account-login-server.cpp
  src/app/clusters/application-basic-server/application-basic-server.cpp
  src/app/clusters/application-launcher-server/application-launcher-server.cpp
  src/app/clusters/keypad-input-server/keypad-input-server.cpp
  src/app/clusters/low-power-server/low-power-server.cpp
  src/app/clusters/media-input-server/media-input-server.cpp
  src/app/clusters/media-playback-server/media-playback-server.cpp
  src/app/clusters/target-navigator-server/target-navigator-server.cpp
  src/app/clusters/tv-channel-server/tv-channel-server.cpp
  src/app/zap-templates/zcl/data-model/chip/application-basic-cluster.xml
  src/app/zap-templates/zcl/data-model/chip/application-launcher-cluster.xml
  src/app/zap-templates/zcl/data-model/chip/media-playback-cluster.xml
  src/app/zap-templates/zcl/data-model/chip/target-navigator-cluster.xml
  src/app/zap_cluster_list.py
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @vivien-apple, @erjianqing, @yunhanw-google, @bzbarsky-apple, @mrjerryjohns

Running zap generator
  examples/all-clusters-app/all-clusters-common/gen/endpoint_config.h
  examples/all-clusters-app/linux/BUILD.gn
  examples/tv-app/tv-common/gen/IMClusterCommandHandler.cpp
  examples/tv-app/tv-common/gen/callback.h
  examples/tv-app/tv-common/gen/endpoint_config.h
  examples/tv-app/tv-common/tv-app.zap
  src/app/common/gen/af-structs.h
  src/app/common/gen/client-command-macro.h
  src/app/common/gen/enums.h
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @mspang, @yunhanw-google, @bzbarsky-apple, @mrjerryjohns

Adding tests for TV app
  examples/chip-tool/templates/tests-commands.zapt
  scripts/tests/test_tv_suites.sh
  src/app/tests/suites/AccountLoginCluster.yaml
  src/app/tests/suites/ApplicationBasicCluster.yaml
  src/app/tests/suites/ApplicationLauncherCluster.yaml
  src/app/tests/suites/AudioOutputCluster.yaml
  src/app/tests/suites/KeypadInputCluster.yaml
  src/app/tests/suites/LowPowerCluster.yaml
  src/app/tests/suites/MediaInputCluster.yaml
  src/app/tests/suites/MediaPlaybackCluster.yaml
  src/app/tests/suites/TargetNavigatorCluster.yaml
  src/app/tests/suites/TvChannelCluster.yaml
  src/controller/data_model/controller-clusters.zap
Owners: @vivien-apple, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @shana-apple, @pan-apple

Whoops - broke a test with my last "minor" change.
  src/lib/mdns/minimal/tests/TestResponseSender.cpp
Owners: @andy31415, @gjc13, @damian-nordic

Running zap generator
  examples/chip-tool/commands/clusters/Commands.h
  examples/chip-tool/commands/tests/Commands.h
  src/app/clusters/media-playback-server/media-playback-server.cpp
  src/controller/data_model/gen/CHIPClusters.cpp
  src/controller/data_model/gen/CHIPClusters.h
  src/controller/data_model/gen/chip-zcl-zpro-codec-api.h
  src/controller/data_model/gen/encoder.cpp
  src/controller/python/chip/clusters/CHIPClusters.cpp
  src/controller/python/chip/clusters/CHIPClusters.py
  src/darwin/Framework/CHIP/gen/CHIPClustersObjc.h
  src/darwin/Framework/CHIP/gen/CHIPClustersObjc.mm
  src/darwin/Framework/CHIPTests/CHIPClustersTests.m
Owners: @vivien-apple, @shana-apple, @pan-apple, @andy31415, @erjianqing

Restyled by whitespace
  examples/all-clusters-app/linux/include/media/tv-stubs.cpp
  examples/tv-app/linux/include/application-launcher/ApplicationLauncherManager.cpp
  examples/tv-app/linux/include/keypad-input/KeypadInputManager.cpp
  examples/tv-app/linux/include/media-input/MediaInputManager.cpp
  examples/tv-app/linux/include/media-playback/MediaPlaybackManager.cpp
  examples/tv-app/linux/include/target-navigator/TargetNavigatorManager.cpp
  src/app/clusters/account-login-server/account-login-server.cpp
  src/app/clusters/target-navigator-server/target-navigator-server.cpp
  src/app/tests/suites/AccountLoginCluster.yaml
  src/app/tests/suites/ApplicationBasicCluster.yaml
  src/app/tests/suites/ApplicationLauncherCluster.yaml
  src/app/tests/suites/AudioOutputCluster.yaml
  src/app/tests/suites/KeypadInputCluster.yaml
  src/app/tests/suites/LowPowerCluster.yaml
  src/app/tests/suites/MediaInputCluster.yaml
  src/app/tests/suites/MediaPlaybackCluster.yaml
  src/app/tests/suites/TargetNavigatorCluster.yaml
  src/app/tests/suites/TvChannelCluster.yaml
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @vivien-apple

Restyled by gn
  examples/all-clusters-app/linux/BUILD.gn
Owners: @mspang

Restyled by prettier-yaml
  src/app/tests/suites/ApplicationBasicCluster.yaml
  src/app/tests/suites/LowPowerCluster.yaml
  src/app/tests/suites/MediaPlaybackCluster.yaml
  src/app/tests/suites/TargetNavigatorCluster.yaml
  src/app/tests/suites/TvChannelCluster.yaml
Owners: @vivien-apple

[fix] Wrong callback passed to WriteAttribute in Python[TE4] (#8019)
  src/controller/python/chip/clusters/CHIPClusters.cpp
  src/controller/python/templates/python-CHIPClusters-cpp.zapt
Owners: @andy31415, @erjianqing

Mdns: _chip* -> _matter*, remove 0's on subtypes (#7805)
  examples/lighting-app/efr32/src/AppTask.cpp
  examples/lock-app/efr32/src/AppTask.cpp
  examples/minimal-mdns/README.md
  examples/minimal-mdns/server.cpp
  examples/window-app/efr32/src/AppTask.cpp
  src/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/clusterclient/OnOffClientFragment.kt
  src/darwin/CHIPTool/CHIPTool/Info.plist
  src/lib/mdns/Advertiser_ImplMinimalMdns.cpp
  src/lib/mdns/ServiceNaming.cpp
  src/lib/mdns/ServiceNaming.h
  src/lib/mdns/platform/Mdns.h
  src/lib/mdns/tests/TestServiceNaming.cpp
  src/platform/Darwin/MdnsImpl.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @austinh0, @shana-apple, @andy31415, @gjc13, @damian-nordic, @mspang, @yufengwangca
