Repository project-chip/connectedhomeip, changes with the owners that .github/CODEOWNERS names for each.
All owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @mspang, @pan-apple, @emargolis, @andy31415, @yufengwangca, @kghost, @bzbarksy-apple, @bzbarsky-apple, @gjc13, @damian-nordic, @erjiaqing, @shana-apple, @yunhanw-google, @vivien-apple, @erjianqing, @mrjerryjohns, @jrhees-cae, @rgoliver, @austinh0, @bukepo, @kpschoedel

.github/CODEOWNERS:

# Current reviewers-XXX teams, who review everything for approval.
* @reviewers-amazon @reviewers-apple @reviewers-comcast @reviewers-google @reviewers-nordic @reviewers-samsung @reviewers-silabs


# BUILD system

*.gn @mspang
/build/ @mspang
/scripts/build/ @mspang

# Crypto
# Crypto primitives and high level API, generally on top of mbedtls and openssl
/src/crypto/* @pan-apple @emargolis
/src/credentials/ @pan-apple @emargolis

# Transport
# Send and receive data abstracting away the underlying protocol (UDP, TCP, BLE)
/src/transport/ @andy31415 @pan-apple

# Session establishment
# Establish a secure session (encryption keys) from one node to another.
# Includes CASE and PASE + session tracking and resumptioon
/src/protocols/secure_channel/ @pan-apple

# Message Layer
# CRMP and packet headers, generally coupled with SecureSessionManager
/src/messaging @yufengwangca @kghost @bzbarksy-apple
/src/transport/raw/MessageHeader.* @yufengwangca @kghost @bzbarksy-apple

# SecureSessionManager
# Manages per-session encryption keys and new session establishment
/src/transport/SecureSessionMgr.* @pan-apple

# Exchange management
# Joins requests and responses or ties a series of messages belonging to the 
# same protocol interaction
/src/messaging/ @yufengwangca @bzbarsky-apple
/src/channel/ @yufengwangca @bzbarsky-apple

# DNS-SD discovery and advertisement
# Advertise chip devices for commisioning, operational and discover such devices
/src/lib/mdns/ @andy31415 @gjc13 @damian-nordic

# Commisioning controller/flow
# Example of a comisioning sequence
/src/controller/ @pan-apple @erjiaqing

# Operational credentials management
# Signing certificates, maintaining roots of trust, validation, fabric management
/src/controller/ @shana-apple @pan-apple
/src/transport/AdminPairingTable.* @shana-apple @pan-apple

# TLV encoding/decoding to/from byte buffers
/src/lib/core/CHIPTLV* @yunhanw-google @bzbarsky-apple @shana-apple

# Interaction model - ember implementation
# ZCL protocol implementation: ZCL encoding to be sent over the wire as a 
# ZigbeePro protocol implementation
/src/app/util/ @vivien-apple @erjianqing @bzbarsky-apple

# Interaction model - non-ember
# Protocol implementation for IM interactions between nodes, matching spec
/src/app/ @yunhanw-google @bzbarsky-apple @mrjerryjohns

# Interaction model - code generation
# CHIP-specific infrastructure for generating code: helper js methods, scripts
# and code layout
/src/app/zap-templates/ @vivien-apple @erjianqing

# ZAP suppport
# UI for editing XML, generates code from such ZML and configuration files
# NOT part of CHIP however CHIP relies heavily on ZAP.
#    @vivien-apple  @tecimovic

# 'Standard' cluster implementations (server side)
# Clusters shipped with the sdk, can be integrated as-is or used as a template
/src/app/clusters/ @vivien-apple

# Onboarding payload
# Parsing and generation of codes (includes QR and NFC), numeric pairing payload
/src/setup_payload/ @shana-apple @vivien-apple @jrhees-cae

# Device Layer
# Porting interfaces, scaffolding for building an example firmware
/src/platform/ @mspang @yufengwangca
/src/include/platform/ @mspang @yufengwangca

# Persistent storage
# Save state across reboots
/src/platform/*/KeyValueStore* @rgoliver

# Python bindings for CHIP - CLI
# Allows python code to use CHIP, generally targeted towards automation
/src/controller/python/ @andy31415 @erjianqing

# CHIP-tool C++ CLI
# Command line interface to chip as a client (controller and commisioner)
# Includes generated code for every base cluster
/examples/chip-tool/ @vivien-apple

# CHIP-tool iOS UI
/src/darwin/CHIPTool/ @shana-apple

# CHIP-tool Android
/src/android/CHIPTool/ @austinh0
/src/controller/java/ @austinh0

# End2End autogenerated tests
/src/darwin/Framework/Chip-templates/ @vivien-apple
/src/app/tests/suites/ @vivien-apple

# End2End cirque tests
# Simulate topology (cirque) and ptyhon-based test automation
/src/test_driver/linux/cirque/ @erjianqing @yunhanw-google

# Thread integration
# Thread-specific functionality (network provisioning, operational discovery, SRP registration etc.)
/src/platform/OpenThread/ @bukepo
/src/platform/*/ThreadStackmanagerImpl.* @bukepo

# Inet
# Networking abstraction layer (UDP-endpoint, TCP-endpoint, InetLayerBasis)
/src/inet/ @kpschoedel 

# System layer
/src/system/ @kpschoedel 

# BLE support
/src/ble/ @yunhanw-google

# CHIP Shell
# Command-line UART/stdin interface as a side-channel to CHIP accessories
# Aimed as user-friendly/manual control
/src/examples/shell/ @gjc13 @yufengwangca

# RPC
# Side-channlel command path (outside chip), generally for automation and debugging
# Aimed as "scriptable" when compared to shell
/examples/common/pigweed/ @rgoliver
/examples/pigweed-app/ @rgoliver

# Tooling for crypto manual generation
# Generates data for sample PKI
/src/tools/chip-cert/ @emargolis

# Channel API
# Construct a transport/secure session based on peer info and transport type.
# Focused on CASE session establishment
/src/channel/ @kghost

# Darwin framework
# Exposes a darwin API (Objective-C/swift rather than raw C++ API) for darwin
# applications
/src/darwin/Framework/ @shana-apple @vivien-apple @pan-apple

[K32W] Improve logging
  src/include/platform/internal/GenericPlatformManagerImpl.cpp
  src/platform/K32W/Logging.cpp
Owners: @mspang, @yufengwangca

[python] Add command for closing an open connection
  src/controller/CHIPDevice.cpp
  src/controller/CHIPDevice.h
  src/controller/python/ChipDeviceController-ScriptBinding.cpp
  src/controller/python/chip-device-ctrl.py
  src/controller/python/chip/ChipDeviceCtrl.py
  src/controller/python/test/test_scripts/base.py
  src/controller/python/test/test_scripts/mobile-device-test.py
Owners: @shana-apple, @pan-apple, @andy31415, @erjianqing

Fix board type
  examples/common/cmake/idf_flashing.cmake
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Fix pigweed.
  examples/common/cmake/idf_flashing.cmake
  examples/pigweed-app/esp32/CMakeLists.txt
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @rgoliver

Final version of color control implementation
  examples/lighting-app/qpg/include/LightingManager.h
  examples/lighting-app/qpg/src/LightingManager.cpp
  examples/lighting-app/qpg/src/ZclCallbacks.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

ESP32: Optimize the time taken by esp32 workflows
  .github/workflows/examples-esp32.yaml
  examples/all-clusters-app/esp32/sdkconfig_devkit.defaults
  examples/temperature-measurement-app/esp32/sdkconfig_devkit.defaults
  scripts/build/builders/esp32.py
  scripts/examples/esp_example.sh
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @mspang

Check if data was serialized
  src/protocols/secure_channel/CASESession.cpp
Owners: @pan-apple

[python] Get value of ZCLRead in Python (#8320)
  src/controller/python/chip-device-ctrl.py
  src/controller/python/chip/ChipDeviceCtrl.py
  src/controller/python/chip/clusters/CHIPClusters.py
  src/controller/python/chip/interaction_model/Delegate.cpp
  src/controller/python/chip/interaction_model/Delegate.h
  src/controller/python/chip/interaction_model/delegate.py
  src/controller/python/templates/python-CHIPClusters-py.zapt
  src/controller/python/test/test_scripts/base.py
  src/test_driver/linux-cirque/test-mobile-device.py
Owners: @andy31415, @erjianqing, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

[python] Get value of ZCLRead in Python (#8320)
  src/controller/python/chip-device-ctrl.py
  src/controller/python/chip/ChipDeviceCtrl.py
  src/controller/python/chip/clusters/CHIPClusters.py
  src/controller/python/chip/interaction_model/Delegate.cpp
  src/controller/python/chip/interaction_model/Delegate.h
  src/controller/python/chip/interaction_model/delegate.py
  src/controller/python/templates/python-CHIPClusters-py.zapt
  src/controller/python/test/test_scripts/base.py
  src/test_driver/linux-cirque/test-mobile-device.py
Owners: @andy31415, @erjianqing, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Improve IntegerToDer test coverage
  src/credentials/CHIPCert.cpp
  src/crypto/CHIPCryptoPAL.cpp
  src/crypto/CHIPCryptoPAL.h
  src/crypto/tests/BUILD.gn
  src/crypto/tests/CHIPCryptoPALTest.cpp
  src/crypto/tests/RawIntegerToDer_test_vectors.h
  src/lib/support/Span.h
Owners: @pan-apple, @emargolis, @mspang, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Add is_span_usable() tests
  src/lib/support/tests/TestSpan.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Restyled by clang-format
  src/credentials/CHIPCert.cpp
  src/crypto/CHIPCryptoPAL.cpp
  src/crypto/CHIPCryptoPAL.h
  src/crypto/tests/CHIPCryptoPALTest.cpp
  src/crypto/tests/RawIntegerToDer_test_vectors.h
Owners: @pan-apple, @emargolis, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Don't prepend header in BDX messages (#8234)
  src/protocols/bdx/BdxTransferSession.cpp
  src/protocols/bdx/BdxTransferSession.h
  src/protocols/bdx/tests/TestBdxTransferSession.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

[nrfconnect] Enable commissionable node advertising
  examples/platform/nrfconnect/util/ThreadUtil.cpp
  src/app/server/Mdns.cpp
  src/app/server/RendezvousServer.cpp
  src/include/platform/CHIPDeviceConfig.h
  src/include/platform/ConnectivityManager.h
  src/include/platform/internal/GenericConfigurationManagerImpl.cpp
  src/include/platform/internal/GenericConnectivityManagerImpl.h
  src/platform/OpenThread/GenericThreadStackManagerImpl_OpenThread.cpp
  src/platform/nrfconnect/CHIPDevicePlatformConfig.h
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @yunhanw-google, @bzbarsky-apple, @mrjerryjohns, @mspang, @yufengwangca, @bukepo

Restyled by clang-format
  src/app/server/Mdns.cpp
Owners: @yunhanw-google, @bzbarsky-apple, @mrjerryjohns

Move WakeIOThread() functionality to WatchableEventManager
  src/controller/CHIPDeviceController.cpp
  src/controller/java/CHIPDeviceController-JNI.cpp
  src/include/platform/internal/GenericPlatformManagerImpl_POSIX.cpp
  src/include/platform/internal/GenericPlatformManagerImpl_Zephyr.cpp
  src/inet/EndPointBasis.h
  src/inet/RawEndPoint.cpp
  src/inet/TCPEndPoint.cpp
  src/platform/Linux/MdnsImpl.h
  src/platform/mbed/PlatformManagerImpl.cpp
  src/system/BUILD.gn
  src/system/SystemConfig.h
  src/system/SystemLayer.cpp
  src/system/SystemLayer.h
  src/system/SystemTimer.cpp
  src/system/WakeEvent.cpp
  src/system/WakeEvent.h
  src/system/WatchableEventManager.h
  src/system/WatchableEventManagerLibevent.cpp
  src/system/WatchableEventManagerLibevent.h
  src/system/WatchableEventManagerSelect.cpp
  src/system/WatchableEventManagerSelect.h
  src/system/WatchableSocket.h
  src/system/WatchableSocketLibevent.cpp
  src/system/WatchableSocketLibevent.h
  src/system/WatchableSocketSelect.cpp
  src/system/WatchableSocketSelect.h
  src/system/tests/TestSystemWakeEvent.cpp
Owners: @shana-apple, @pan-apple, @austinh0, @mspang, @yufengwangca, @kpschoedel

Update README
  src/controller/python/README.md
Owners: @andy31415, @erjianqing

Run clang-format
  examples/lighting-app/qpg/src/LightingManager.cpp
  examples/lighting-app/qpg/src/ZclCallbacks.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

ESP32: Add bridge app example to ESP32
  examples/bridge-app/esp32/CMakeLists.txt
  examples/bridge-app/esp32/main/CHIPDeviceManager.cpp
  examples/bridge-app/esp32/main/CMakeLists.txt
  examples/bridge-app/esp32/main/Device.cpp
  examples/bridge-app/esp32/main/DeviceCallbacks.cpp
  examples/bridge-app/esp32/main/Kconfig.projbuild
  examples/bridge-app/esp32/main/include/CHIPDeviceManager.h
  examples/bridge-app/esp32/main/include/Device.h
  examples/bridge-app/esp32/main/include/DeviceCallbacks.h
  examples/bridge-app/esp32/main/main.cpp
  examples/bridge-app/esp32/partitions.csv
  examples/bridge-app/esp32/sdkconfig.defaults
  examples/bridge-app/esp32/third_party/connectedhomeip
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Restyled by clang-format
  examples/bridge-app/esp32/main/CHIPDeviceManager.cpp
  examples/bridge-app/esp32/main/main.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Have chip-tool generate a random remote node id every time it pairs.
  .github/workflows/tests.yaml
  examples/chip-tool/BUILD.gn
  examples/chip-tool/commands/common/Commands.cpp
  examples/chip-tool/commands/common/Commands.h
  examples/chip-tool/commands/pairing/PairingCommand.cpp
  examples/chip-tool/commands/reporting/Commands.h
  examples/chip-tool/config/PersistentStorage.cpp
  examples/chip-tool/config/PersistentStorage.h
  examples/chip-tool/main.cpp
  examples/chip-tool/templates/reporting-commands.zapt
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @vivien-apple

Update to Matters officially assigned IANA port of 5540
  config/esp32/components/chip/Kconfig
  docs/guides/nrfconnect_examples_cli.md
  examples/chip-tool/README.md
  examples/lighting-app/efr32/README.md
  examples/lighting-app/telink/Readme.md
  examples/lock-app/efr32/README.md
  scripts/tests/test_suites.sh
  src/darwin/Framework/CHIP/templates/clusters-tests.zapt
  src/darwin/Framework/CHIPTests/CHIPClustersTests.m
  src/lib/core/CHIPConfig.h
  src/test_driver/linux-cirque/test-echo.py
  src/test_driver/linux-cirque/test-interaction-model.py
  src/test_driver/linux-cirque/test-manual.py
  src/test_driver/linux-cirque/test-mobile-device.py
  src/test_driver/linux-cirque/test-on-off-cluster.py
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @vivien-apple, @shana-apple, @pan-apple

[K32W] Matter TE4 fixes (#8419)
  src/lwip/k32w/lwipopts.h
  src/platform/K32W/CHIPDevicePlatformConfig.h
  third_party/k32w_sdk/k32w_sdk.gni
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @mspang, @yufengwangca

Close exchanges automatically after a message send if no response is expected
  examples/shell/shell_common/cmd_send.cpp
  src/app/ReadHandler.cpp
  src/app/ReadHandler.h
  src/app/WriteHandler.cpp
  src/app/WriteHandler.h
  src/app/tests/TestWriteInteraction.cpp
  src/app/util/chip-message-send.cpp
  src/channel/tests/TestChannel.cpp
  src/controller/CHIPCluster.cpp
  src/controller/CHIPDevice.cpp
  src/controller/CHIPDevice.h
  src/controller/java/CHIPDeviceController-JNI.cpp
  src/messaging/ExchangeContext.cpp
  src/messaging/ExchangeContext.h
  src/messaging/tests/TestExchangeMgr.cpp
  src/messaging/tests/TestReliableMessageProtocol.cpp
  src/protocols/echo/Echo.h
  src/protocols/echo/EchoClient.cpp
  src/protocols/echo/EchoServer.cpp
  src/protocols/secure_channel/tests/TestMessageCounterManager.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @yunhanw-google, @bzbarsky-apple, @mrjerryjohns, @kghost, @shana-apple, @pan-apple, @austinh0, @yufengwangca

[K32W] Matter TE4 fixes (#8419)
  src/lwip/k32w/lwipopts.h
  src/platform/K32W/CHIPDevicePlatformConfig.h
  third_party/k32w_sdk/k32w_sdk.gni
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @mspang, @yufengwangca

CSR support in crypto HSM (#7897)
  src/crypto/hsm/CHIPCryptoPALHsm.h
  src/crypto/hsm/CHIPCryptoPALHsm_config.h
  src/crypto/hsm/nxp/CHIPCryptoPALHsm_SE05X_P256.cpp
  src/crypto/hsm/nxp/CHIPCryptoPALHsm_SE05X_Spake2p.cpp
  src/crypto/hsm/nxp/CHIPCryptoPALHsm_SE05X_utils.cpp
  src/crypto/hsm/nxp/README.md
  src/crypto/tests/CHIPCryptoPALTest.cpp
  src/protocols/secure_channel/CASESession.cpp
  src/protocols/secure_channel/CASESession.h
  src/transport/AdminPairingTable.cpp
  src/transport/AdminPairingTable.h
  third_party/simw-top-mini/BUILD.gn
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @pan-apple, @shana-apple, @mspang

Grammar fix to kick CI
  src/crypto/CHIPCryptoPAL.h
Owners: @pan-apple, @emargolis

Fix endianness on IPK computation (#8421)
  src/protocols/secure_channel/CASESession.cpp
Owners: @pan-apple

Fix endianness on IPK computation (#8421)
  src/protocols/secure_channel/CASESession.cpp
Owners: @pan-apple

using p256 key from HSM for CASE (#8217)
  src/credentials/CHIPOperationalCredentials.h
  src/protocols/secure_channel/CASESession.h
Owners: @pan-apple, @emargolis

Fix BUILD: add src/lib/support/TypeTraits.h from main branch since cherrypicks depend on it
  src/lib/support/TypeTraits.h
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Turn off CodeQL for pushes to non-ToT branches (#8448)
  .github/workflows/build.yaml
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Fix IM interval typo and tests (#8311)
  src/app/MessageDef/SubscribeRequest.cpp
  src/app/MessageDef/SubscribeRequest.h
  src/app/MessageDef/SubscribeResponse.cpp
  src/app/MessageDef/SubscribeResponse.h
  src/app/tests/TestMessageDef.cpp
Owners: @yunhanw-google, @bzbarsky-apple, @mrjerryjohns

Restyled by clang-format
  src/controller/java/CHIPDeviceController-JNI.cpp
  src/messaging/tests/TestReliableMessageProtocol.cpp
Owners: @austinh0, @yufengwangca, @bzbarsky-apple

Commit forgotten removal of obsolete ConvertIntegerRawToDER from CHIPCert.h
  src/credentials/CHIPCert.h
Owners: @pan-apple, @emargolis

Unified build script: dry run and unit test (#8295)
  BUILD.gn
  scripts/build/BUILD.gn
  scripts/build/build/__init__.py
  scripts/build/build/factory.py
  scripts/build/build/targets.py
  scripts/build/build_examples.py
  scripts/build/builders/builder.py
  scripts/build/builders/efr32.py
  scripts/build/builders/esp32.py
  scripts/build/builders/linux.py
  scripts/build/builders/qpg.py
  scripts/build/expected_all_platform_commands.txt
  scripts/build/runner/__init__.py
  scripts/build/runner/printonly.py
  scripts/build/runner/shell.py
  scripts/build/setup.py
  scripts/build/test.py
Owners: @mspang

Merge Android jobs into a single multistep job to better amortize setup time
  .github/workflows/android.yaml
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Update to Matters officially assigned IANA port of 5540 (#8457)
  config/esp32/components/chip/Kconfig
  docs/guides/nrfconnect_examples_cli.md
  examples/chip-tool/README.md
  examples/lighting-app/efr32/README.md
  examples/lighting-app/telink/Readme.md
  examples/lock-app/efr32/README.md
  scripts/tests/test_suites.sh
  src/darwin/Framework/CHIP/templates/clusters-tests.zapt
  src/darwin/Framework/CHIPTests/CHIPClustersTests.m
  src/lib/core/CHIPConfig.h
  src/test_driver/linux-cirque/test-echo.py
  src/test_driver/linux-cirque/test-interaction-model.py
  src/test_driver/linux-cirque/test-manual.py
  src/test_driver/linux-cirque/test-mobile-device.py
  src/test_driver/linux-cirque/test-on-off-cluster.py
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @vivien-apple, @shana-apple, @pan-apple

Have chip-tool generate a random remote node id every time it pairs. (#8450)
  .github/workflows/tests.yaml
  examples/chip-tool/BUILD.gn
  examples/chip-tool/commands/common/Commands.cpp
  examples/chip-tool/commands/common/Commands.h
  examples/chip-tool/commands/pairing/PairingCommand.cpp
  examples/chip-tool/commands/reporting/Commands.h
  examples/chip-tool/config/PersistentStorage.cpp
  examples/chip-tool/config/PersistentStorage.h
  examples/chip-tool/main.cpp
  examples/chip-tool/templates/reporting-commands.zapt
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @vivien-apple

[K32W] Improve logging (#8451)
  src/include/platform/internal/GenericPlatformManagerImpl.cpp
  src/platform/K32W/Logging.cpp
Owners: @mspang, @yufengwangca
