Repository project-chip/connectedhomeip, changes with the owners that .github/CODEOWNERS names for each.
All owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @mspang, @pan-apple, @emargolis, @andy31415, @yufengwangca, @kghost, @bzbarksy-apple, @bzbarsky-apple, @gjc13, @damian-nordic, @erjiaqing, @shana-apple, @yunhanw-google, @vivien-apple, @erjianqing, @mrjerryjohns, @jrhees-cae, @rgoliver, @austinh0, @bukepo, @kpschoedel

.github/CODEOWNERS:

# Current reviewers-XXX teams, who review everything for approval.
* @reviewers-amazon @reviewers-apple @reviewers-comcast @reviewers-google @reviewers-nordic @reviewers-samsung @reviewers-silabs


# BUILD system

*.gn @mspang
/build/ @mspang
/scripts/build/ @mspang

# Crypto
# Crypto primitives and high level API, generally on top of mbedtls and openssl
/src/crypto/* @pan-apple @emargolis
/src/credentials/ @pan-apple @emargolis

# Transport
# Send and receive data abstracting away the underlying protocol (UDP, TCP, BLE)
/src/transport/ @andy31415 @pan-apple

# Session establishment
# Establish a secure session (encryption keys) from one node to another.
# Includes CASE and PASE + session tracking and resumptioon
/src/protocols/secure_channel/ @pan-apple

# Message Layer
# CRMP and packet headers, generally coupled with SecureSessionManager
/src/messaging @yufengwangca @kghost @bzbarksy-apple
/src/transport/raw/MessageHeader.* @yufengwangca @kghost @bzbarksy-apple

# SecureSessionManager
# Manages per-session encryption keys and new session establishment
/src/transport/SecureSessionMgr.* @pan-apple

# Exchange management
# Joins requests and responses or ties a series of messages belonging to the 
# same protocol interaction
/src/messaging/ @yufengwangca @bzbarsky-apple
/src/channel/ @yufengwangca @bzbarsky-apple

# DNS-SD discovery and advertisement
# Advertise chip devices for commisioning, operational and discover such devices
/src/lib/mdns/ @andy31415 @gjc13 @damian-nordic

# Commisioning controller/flow
# Example of a comisioning sequence
/src/controller/ @pan-apple @erjiaqing

# Operational credentials management
# Signing certificates, maintaining roots of trust, validation, fabric management
/src/controller/ @shana-apple @pan-apple
/src/transport/AdminPairingTable.* @shana-apple @pan-apple

# TLV encoding/decoding to/from byte buffers
/src/lib/core/CHIPTLV* @yunhanw-google @bzbarsky-apple @shana-apple

# Interaction model - ember implementation
# ZCL protocol implementation: ZCL encoding to be sent over the wire as a 
# ZigbeePro protocol implementation
/src/app/util/ @vivien-apple @erjianqing @bzbarsky-apple

# Interaction model - non-ember
# Protocol implementation for IM interactions between nodes, matching spec
/src/app/ @yunhanw-google @bzbarsky-apple @mrjerryjohns

# Interaction model - code generation
# CHIP-specific infrastructure for generating code: helper js methods, scripts
# and code layout
/src/app/zap-templates/ @vivien-apple @erjianqing

# ZAP suppport
# UI for editing XML, generates code from such ZML and configuration files
# NOT part of CHIP however CHIP relies heavily on ZAP.
#    @vivien-apple  @tecimovic

# 'Standard' cluster implementations (server side)
# Clusters shipped with the sdk, can be integrated as-is or used as a template
/src/app/clusters/ @vivien-apple

# Onboarding payload
# Parsing and generation of codes (includes QR and NFC), numeric pairing payload
/src/setup_payload/ @shana-apple @vivien-apple @jrhees-cae

# Device Layer
# Porting interfaces, scaffolding for building an example firmware
/src/platform/ @mspang @yufengwangca
/src/include/platform/ @mspang @yufengwangca

# Persistent storage
# Save state across reboots
/src/platform/*/KeyValueStore* @rgoliver

# Python bindings for CHIP - CLI
# Allows python code to use CHIP, generally targeted towards automation
/src/controller/python/ @andy31415 @erjianqing

# CHIP-tool C++ CLI
# Command line interface to chip as a client (controller and commisioner)
# Includes generated code for every base cluster
/examples/chip-tool/ @vivien-apple

# CHIP-tool iOS UI
/src/darwin/CHIPTool/ @shana-apple

# CHIP-tool Android
/src/android/CHIPTool/ @austinh0
/src/controller/java/ @austinh0

# End2End autogenerated tests
/src/darwin/Framework/Chip-templates/ @vivien-apple
/src/app/tests/suites/ @vivien-apple

# End2End cirque tests
# Simulate topology (cirque) and ptyhon-based test automation
/src/test_driver/linux/cirque/ @erjianqing @yunhanw-google

# Thread integration
# Thread-specific functionality (network provisioning, operational discovery, SRP registration etc.)
/src/platform/OpenThread/ @bukepo
/src/platform/*/ThreadStackmanagerImpl.* @bukepo

# Inet
# Networking abstraction layer (UDP-endpoint, TCP-endpoint, InetLayerBasis)
/src/inet/ @kpschoedel 

# System layer
/src/system/ @kpschoedel 

# BLE support
/src/ble/ @yunhanw-google

# CHIP Shell
# Command-line UART/stdin interface as a side-channel to CHIP accessories
# Aimed as user-friendly/manual control
/src/examples/shell/ @gjc13 @yufengwangca

# RPC
# Side-channlel command path (outside chip), generally for automation and debugging
# Aimed as "scriptable" when compared to shell
/examples/common/pigweed/ @rgoliver
/examples/pigweed-app/ @rgoliver

# Tooling for crypto manual generation
# Generates data for sample PKI
/src/tools/chip-cert/ @emargolis

# Channel API
# Construct a transport/secure session based on peer info and transport type.
# Focused on CASE session establishment
/src/channel/ @kghost

# Darwin framework
# Exposes a darwin API (Objective-C/swift rather than raw C++ API) for darwin
# applications
/src/darwin/Framework/ @shana-apple @vivien-apple @pan-apple

Fix compile error, due to merge conflict
  src/messaging/tests/TestReliableMessageProtocol.cpp
Owners: @yufengwangca, @bzbarsky-apple

[im] Land IM WriteRequest message
  src/app/InteractionModelEngine.cpp
  src/app/InteractionModelEngine.h
  src/app/WriteClient.cpp
  src/app/WriteClient.h
  src/app/WriteHandler.cpp
  src/app/tests/TestCommandInteraction.cpp
  src/app/tests/TestWriteInteraction.cpp
  src/app/tests/integration/chip_im_initiator.cpp
  src/app/util/ember-compatibility-functions.cpp
  src/app/zap-templates/app-templates.json
  src/app/zap-templates/common/ChipTypesHelper.js
  src/app/zap-templates/templates/app/CHIPClientCallbacks-src.zapt
  src/app/zap-templates/templates/app/CHIPClientCallbacks.zapt
  src/app/zap-templates/templates/app/CHIPClusters-src.zapt
  src/controller/CHIPDevice.cpp
  src/controller/CHIPDevice.h
  src/controller/CHIPDeviceController.cpp
  src/controller/CHIPDeviceController.h
Owners: @yunhanw-google, @bzbarsky-apple, @mrjerryjohns, @vivien-apple, @erjianqing, @shana-apple, @pan-apple

ember code cleanup
  src/app/util/process-global-message.cpp
Owners: @yunhanw-google, @bzbarsky-apple, @mrjerryjohns

Run codegen
  examples/all-clusters-app/all-clusters-common/gen/CHIPClusters.cpp
  examples/bridge-app/bridge-common/gen/CHIPClusters.cpp
  examples/lighting-app/lighting-common/gen/CHIPClusters.cpp
  examples/lock-app/lock-common/gen/CHIPClusters.cpp
  examples/pump-app/pump-common/gen/CHIPClientCallbacks.cpp
  examples/pump-app/pump-common/gen/CHIPClientCallbacks.h
  examples/pump-app/pump-common/gen/CHIPClusters.cpp
  examples/pump-controller-app/pump-controller-common/gen/CHIPClientCallbacks.cpp
  examples/pump-controller-app/pump-controller-common/gen/CHIPClientCallbacks.h
  examples/pump-controller-app/pump-controller-common/gen/CHIPClusters.cpp
  examples/temperature-measurement-app/esp32/main/gen/CHIPClusters.cpp
  examples/tv-app/tv-common/gen/CHIPClusters.cpp
  examples/window-app/common/gen/CHIPClusters.cpp
  src/controller/data_model/gen/CHIPClientCallbacks.cpp
  src/controller/data_model/gen/CHIPClientCallbacks.h
  src/controller/data_model/gen/CHIPClusters.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @shana-apple, @pan-apple

Restyled by clang-format
  src/app/util/process-global-message.cpp
Owners: @yunhanw-google, @bzbarsky-apple, @mrjerryjohns

trying to remove this, to see if we can pass the ci
  src/app/zap-templates/zcl/data-model/silabs/ha.xml
Owners: @vivien-apple, @erjianqing

Fix for failure in compilation of python device controller
  src/transport/SecureSessionMgr.cpp
Owners: @pan-apple

Fix compile error, due to merge conflict (#8127)
  src/messaging/tests/TestReliableMessageProtocol.cpp
Owners: @yufengwangca, @bzbarsky-apple

Regenerated files
  examples/all-clusters-app/all-clusters-common/gen/IMClusterCommandHandler.cpp
  examples/all-clusters-app/all-clusters-common/gen/endpoint_config.h
  examples/all-clusters-app/all-clusters-common/gen/gen_config.h
  examples/chip-tool/commands/clusters/Commands.h
  examples/chip-tool/commands/reporting/Commands.h
  examples/lighting-app/lighting-common/gen/IMClusterCommandHandler.cpp
  examples/lighting-app/lighting-common/gen/callback-stub.cpp
  examples/lighting-app/lighting-common/gen/endpoint_config.h
  examples/lighting-app/lighting-common/gen/gen_config.h
  src/controller/data_model/gen/CHIPClusters.cpp
  src/controller/data_model/gen/CHIPClusters.h
  src/controller/data_model/gen/callback-stub.cpp
  src/controller/data_model/gen/chip-zcl-zpro-codec-api.h
  src/controller/data_model/gen/endpoint_config.h
  src/controller/data_model/gen/gen_config.h
  src/controller/java/gen/CHIPClusters-JNI.cpp
  src/controller/java/gen/ChipClusters.java
  src/controller/python/chip/clusters/CHIPClusters.cpp
  src/controller/python/chip/clusters/CHIPClusters.py
  src/darwin/Framework/CHIP/gen/CHIPClustersObjc.h
  src/darwin/Framework/CHIP/gen/CHIPClustersObjc.mm
  src/darwin/Framework/CHIPTests/CHIPClustersTests.m
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @vivien-apple, @shana-apple, @pan-apple, @austinh0, @andy31415, @erjianqing

WIP Add EnhancedHue logic to the color-control. Add color-control.cpp to nordic and telink light example
  examples/lighting-app/efr32/src/ZclCallbacks.cpp
  examples/lighting-app/nrfconnect/CMakeLists.txt
  examples/lighting-app/telink/CMakeLists.txt
  src/app/clusters/color-control-server/color-control-server.cpp
  src/app/zap-templates/zcl/data-model/silabs/zll.xml
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @vivien-apple, @erjianqing

Regen all
  examples/all-clusters-app/all-clusters-common/gen/IMClusterCommandHandler.cpp
  examples/all-clusters-app/all-clusters-common/gen/endpoint_config.h
  examples/chip-tool/commands/clusters/Commands.h
  examples/lighting-app/lighting-common/gen/IMClusterCommandHandler.cpp
  examples/lighting-app/lighting-common/gen/callback-stub.cpp
  examples/lighting-app/lighting-common/gen/endpoint_config.h
  examples/lighting-app/lighting-common/gen/gen_config.h
  src/app/common/gen/client-command-macro.h
  src/controller/data_model/gen/CHIPClientCallbacks.cpp
  src/controller/data_model/gen/CHIPClusters.cpp
  src/controller/data_model/gen/CHIPClusters.h
  src/controller/data_model/gen/endpoint_config.h
  src/controller/java/gen/CHIPClusters-JNI.cpp
  src/controller/java/gen/ChipClusters.java
  src/controller/python/chip/clusters/CHIPClusters.cpp
  src/controller/python/chip/clusters/CHIPClusters.py
  src/darwin/Framework/CHIP/gen/CHIPClustersObjc.h
  src/darwin/Framework/CHIP/gen/CHIPClustersObjc.mm
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @vivien-apple, @yunhanw-google, @bzbarsky-apple, @mrjerryjohns, @shana-apple, @pan-apple, @austinh0, @andy31415, @erjianqing

Rebase and regen
  examples/all-clusters-app/all-clusters-common/gen/endpoint_config.h
  examples/all-clusters-app/all-clusters-common/gen/gen_config.h
  examples/chip-tool/commands/clusters/Commands.h
  examples/lighting-app/efr32/src/ZclCallbacks.cpp
  examples/lighting-app/lighting-common/gen/IMClusterCommandHandler.cpp
  src/controller/data_model/gen/CHIPClientCallbacks.cpp
  src/controller/data_model/gen/CHIPClusters.cpp
  src/controller/data_model/gen/CHIPClusters.h
  src/controller/data_model/gen/chip-zcl-zpro-codec-api.h
  src/controller/data_model/gen/endpoint_config.h
  src/controller/data_model/gen/gen_config.h
  src/controller/python/chip/clusters/CHIPClusters.cpp
  src/controller/python/chip/clusters/CHIPClusters.py
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @vivien-apple, @shana-apple, @pan-apple, @andy31415, @erjianqing

Restyled by clang-format
  src/app/clusters/color-control-server/color-control-server.cpp
Owners: @vivien-apple

Restyled by clang-format
  examples/lighting-app/efr32/src/ZclCallbacks.cpp
  examples/lighting-app/lighting-common/gen/af-gen-event.h
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Restyled by whitespace
  src/app/clusters/color-control-server/color-control-server.cpp
Owners: @vivien-apple

Restyled by whitespace
  examples/lighting-app/lighting-common/gen/af-gen-event.h
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Rebase & regen
  examples/lighting-app/lighting-common/gen/endpoint_config.h
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Regenerate after rebase
  src/controller/data_model/gen/encoder.cpp
Owners: @shana-apple, @pan-apple

Add Color Control Event handlers in af-gen-event.h for ligthing example has there are not auto generated
  examples/lighting-app/efr32/src/ZclCallbacks.cpp
  examples/lighting-app/lighting-common/gen/af-gen-event.h
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Rebase + Regen again
  examples/all-clusters-app/all-clusters-common/gen/IMClusterCommandHandler.cpp
  examples/all-clusters-app/all-clusters-common/gen/endpoint_config.h
  examples/lighting-app/lighting-common/gen/IMClusterCommandHandler.cpp
  src/app/common/gen/callback.h
  src/controller/data_model/gen/endpoint_config.h
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @yunhanw-google, @bzbarsky-apple, @mrjerryjohns, @shana-apple, @pan-apple

Add support for accessory DNS browse and resolve on Thread devices.
  config/nrfconnect/app/sample-defaults.conf
  config/zephyr/Kconfig
  docs/guides/nrfconnect_examples_cli.md
  src/include/platform/CHIPDeviceConfig.h
  src/include/platform/ThreadStackManager.h
  src/lib/mdns/Discovery_ImplPlatform.cpp
  src/lib/shell/Commands.h
  src/lib/shell/Engine.cpp
  src/lib/shell/commands/BUILD.gn
  src/lib/shell/commands/Dns.cpp
  src/platform/OpenThread/GenericThreadStackManagerImpl_OpenThread.cpp
  src/platform/OpenThread/GenericThreadStackManagerImpl_OpenThread.h
  src/platform/OpenThread/MdnsImpl.cpp
  src/platform/nrfconnect/CHIPDevicePlatformConfig.h
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @mspang, @yufengwangca, @andy31415, @gjc13, @damian-nordic, @bukepo

Restyled by prettier-markdown
  docs/guides/nrfconnect_examples_cli.md
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Add Missing files for the added clusters in new platform mbedOS CMakeLists
  examples/lighting-app/mbed/CMakeLists.txt
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Remove dead code (#8108)
  src/transport/SecureSessionMgr.cpp
  src/transport/SecureSessionMgr.h
Owners: @pan-apple

Fix python compile.
  src/transport/SecureSessionMgr.cpp
Owners: @pan-apple

* Rework after comments
  src/platform/OpenThread/GenericThreadStackManagerImpl_OpenThread.cpp
Owners: @bukepo

* srpService not assigned on renewal - no publish triggered
  src/platform/OpenThread/GenericThreadStackManagerImpl_OpenThread.cpp
Owners: @bukepo

Add attributes + zap files
  examples/all-clusters-app/all-clusters-common/all-clusters-app.zap
  src/app/zap-templates/zcl/data-model/chip/operational-credentials-cluster.xml
  src/controller/data_model/controller-clusters.zap
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @vivien-apple, @erjianqing, @shana-apple, @pan-apple

regen files
  examples/all-clusters-app/all-clusters-common/gen/endpoint_config.h
  examples/chip-tool/commands/clusters/Commands.h
  src/app/common/gen/attribute-id.h
  src/app/common/gen/ids/Attributes.h
  src/controller/data_model/gen/CHIPClusters.cpp
  src/controller/data_model/gen/CHIPClusters.h
  src/controller/data_model/gen/chip-zcl-zpro-codec-api.h
  src/controller/data_model/gen/encoder.cpp
  src/controller/python/chip/clusters/CHIPClusters.cpp
  src/controller/python/chip/clusters/CHIPClusters.py
  src/darwin/Framework/CHIP/gen/CHIPClustersObjc.h
  src/darwin/Framework/CHIP/gen/CHIPClustersObjc.mm
  src/darwin/Framework/CHIPTests/CHIPClustersTests.m
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @vivien-apple, @yunhanw-google, @bzbarsky-apple, @mrjerryjohns, @shana-apple, @pan-apple, @andy31415, @erjianqing

Add label in iOS chiptool app
  src/app/clusters/operational-credentials-server/operational-credentials-server.cpp
  src/darwin/CHIPTool/CHIPTool/View Controllers/Fabric/FabricUIViewController.m
Owners: @vivien-apple, @shana-apple

Restyled by whitespace
  src/app/clusters/operational-credentials-server/operational-credentials-server.cpp
  src/darwin/CHIPTool/CHIPTool/View Controllers/Fabric/FabricUIViewController.m
Owners: @vivien-apple, @shana-apple

Restyled by clang-format
  src/app/clusters/operational-credentials-server/operational-credentials-server.cpp
  src/darwin/CHIPTool/CHIPTool/View Controllers/Fabric/FabricUIViewController.m
Owners: @vivien-apple, @shana-apple

Fix python compile. (#8135)
  src/transport/SecureSessionMgr.cpp
Owners: @pan-apple

SRP publish not triggered on renewal of entry (#8118)
  src/platform/OpenThread/GenericThreadStackManagerImpl_OpenThread.cpp
Owners: @bukepo

Update build timeouts from 15/20 minutes to 25/30 minutes.
  .github/workflows/build.yaml
  .github/workflows/cirque.yaml
  .github/workflows/darwin.yaml
  .github/workflows/examples-efr32.yaml
  .github/workflows/examples-esp32.yaml
  .github/workflows/examples-k32w.yaml
  .github/workflows/examples-nrfconnect.yaml
  .github/workflows/examples-qpg.yaml
  .github/workflows/qemu.yaml
  .github/workflows/release_artifacts.yaml
  .github/workflows/tests.yaml
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Remove unused or redundant helpers from src/app/zap-templates/templates/app/helper.js
  src/app/zap-templates/common/ChipTypesHelper.js
  src/app/zap-templates/templates/app/helper.js
  src/app/zap-templates/templates/app/im-cluster-command-handler.zapt
  src/darwin/Framework/CHIP/templates/CHIPClustersObjc-src.zapt
  src/darwin/Framework/CHIP/templates/CHIPClustersObjc.zapt
Owners: @vivien-apple, @erjianqing, @shana-apple, @pan-apple

SRP publish not triggered on renewal of entry (#8118)
  src/platform/OpenThread/GenericThreadStackManagerImpl_OpenThread.cpp
Owners: @bukepo

Fix python compile. (#8135)
  src/transport/SecureSessionMgr.cpp
Owners: @pan-apple

[TE4] Enable Lighting Devices types cluster and attributes (#7934)
  examples/all-clusters-app/all-clusters-common/all-clusters-app.zap
  examples/all-clusters-app/all-clusters-common/gen/IMClusterCommandHandler.cpp
  examples/all-clusters-app/all-clusters-common/gen/endpoint_config.h
  examples/all-clusters-app/all-clusters-common/gen/gen_config.h
  examples/chip-tool/commands/clusters/Commands.h
  examples/chip-tool/commands/reporting/Commands.h
  examples/lighting-app/efr32/src/ZclCallbacks.cpp
  examples/lighting-app/lighting-common/gen/IMClusterCommandHandler.cpp
  examples/lighting-app/lighting-common/gen/af-gen-event.h
  examples/lighting-app/lighting-common/gen/callback-stub.cpp
  examples/lighting-app/lighting-common/gen/endpoint_config.h
  examples/lighting-app/lighting-common/gen/gen_config.h
  examples/lighting-app/lighting-common/lighting-app.zap
  examples/lighting-app/mbed/CMakeLists.txt
  examples/lighting-app/nrfconnect/CMakeLists.txt
  examples/lighting-app/telink/CMakeLists.txt
  src/app/clusters/color-control-server/color-control-server.cpp
  src/app/common/gen/callback.h
  src/app/common/gen/client-command-macro.h
  src/app/zap-templates/zcl/data-model/silabs/zll.xml
  src/controller/data_model/controller-clusters.zap
  src/controller/data_model/gen/CHIPClusters.cpp
  src/controller/data_model/gen/CHIPClusters.h
  src/controller/data_model/gen/callback-stub.cpp
  src/controller/data_model/gen/chip-zcl-zpro-codec-api.h
  src/controller/data_model/gen/encoder.cpp
  src/controller/data_model/gen/endpoint_config.h
  src/controller/data_model/gen/gen_config.h
  src/controller/java/gen/CHIPClusters-JNI.cpp
  src/controller/java/gen/ChipClusters.java
  src/controller/python/chip/clusters/CHIPClusters.cpp
  src/controller/python/chip/clusters/CHIPClusters.py
  src/darwin/Framework/CHIP/gen/CHIPClustersObjc.h
  src/darwin/Framework/CHIP/gen/CHIPClustersObjc.mm
  src/darwin/Framework/CHIPTests/CHIPClustersTests.m
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @vivien-apple, @yunhanw-google, @bzbarsky-apple, @mrjerryjohns, @erjianqing, @shana-apple, @pan-apple, @austinh0, @andy31415

Update build timeouts from 15/20 minutes to 25/30 minutes. (#8140)
  .github/workflows/build.yaml
  .github/workflows/cirque.yaml
  .github/workflows/darwin.yaml
  .github/workflows/examples-efr32.yaml
  .github/workflows/examples-esp32.yaml
  .github/workflows/examples-k32w.yaml
  .github/workflows/examples-nrfconnect.yaml
  .github/workflows/examples-qpg.yaml
  .github/workflows/qemu.yaml
  .github/workflows/release_artifacts.yaml
  .github/workflows/tests.yaml
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs
