Repository project-chip/connectedhomeip, changes with the owners that .github/CODEOWNERS names for each.
All owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @mspang, @pan-apple, @emargolis, @andy31415, @yufengwangca, @kghost, @bzbarksy-apple, @bzbarsky-apple, @gjc13, @damian-nordic, @erjiaqing, @shana-apple, @yunhanw-google, @vivien-apple, @erjianqing, @mrjerryjohns, @jrhees-cae, @rgoliver, @austinh0, @bukepo, @kpschoedel

.github/CODEOWNERS:

# Current reviewers-XXX teams, who review everything for approval.
* @reviewers-amazon @reviewers-apple @reviewers-comcast @reviewers-google @reviewers-nordic @reviewers-samsung @reviewers-silabs


# BUILD system

*.gn @mspang
/build/ @mspang
/scripts/build/ @mspang

# Crypto
# Crypto primitives and high level API, generally on top of mbedtls and openssl
/src/crypto/* @pan-apple @emargolis
/src/credentials/ @pan-apple @emargolis

# Transport
# Send and receive data abstracting away the underlying protocol (UDP, TCP, BLE)
/src/transport/ @andy31415 @pan-apple

# Session establishment
# Establish a secure session (encryption keys) from one node to another.
# Includes CASE and PASE + session tracking and resumptioon
/src/protocols/secure_channel/ @pan-apple

# Message Layer
# CRMP and packet headers, generally coupled with SecureSessionManager
/src/messaging @yufengwangca @kghost @bzbarksy-apple
/src/transport/raw/MessageHeader.* @yufengwangca @kghost @bzbarksy-apple

# SecureSessionManager
# Manages per-session encryption keys and new session establishment
/src/transport/SecureSessionMgr.* @pan-apple

# Exchange management
# Joins requests and responses or ties a series of messages belonging to the 
# same protocol interaction
/src/messaging/ @yufengwangca @bzbarsky-apple
/src/channel/ @yufengwangca @bzbarsky-apple

# DNS-SD discovery and advertisement
# Advertise chip devices for commisioning, operational and discover such devices
/src/lib/mdns/ @andy31415 @gjc13 @damian-nordic

# Commisioning controller/flow
# Example of a comisioning sequence
/src/controller/ @pan-apple @erjiaqing

# Operational credentials management
# Signing certificates, maintaining roots of trust, validation, fabric management
/src/controller/ @shana-apple @pan-apple
/src/transport/AdminPairingTable.* @shana-apple @pan-apple

# TLV encoding/decoding to/from byte buffers
/src/lib/core/CHIPTLV* @yunhanw-google @bzbarsky-apple @shana-apple

# Interaction model - ember implementation
# ZCL protocol implementation: ZCL encoding to be sent over the wire as a 
# ZigbeePro protocol implementation
/src/app/util/ @vivien-apple @erjianqing @bzbarsky-apple

# Interaction model - non-ember
# Protocol implementation for IM interactions between nodes, matching spec
/src/app/ @yunhanw-google @bzbarsky-apple @mrjerryjohns

# Interaction model - code generation
# CHIP-specific infrastructure for generating code: helper js methods, scripts
# and code layout
/src/app/zap-templates/ @vivien-apple @erjianqing

# ZAP suppport
# UI for editing XML, generates code from such ZML and configuration files
# NOT part of CHIP however CHIP relies heavily on ZAP.
#    @vivien-apple  @tecimovic

# 'Standard' cluster implementations (server side)
# Clusters shipped with the sdk, can be integrated as-is or used as a template
/src/app/clusters/ @vivien-apple

# Onboarding payload
# Parsing and generation of codes (includes QR and NFC), numeric pairing payload
/src/setup_payload/ @shana-apple @vivien-apple @jrhees-cae

# Device Layer
# Porting interfaces, scaffolding for building an example firmware
/src/platform/ @mspang @yufengwangca
/src/include/platform/ @mspang @yufengwangca

# Persistent storage
# Save state across reboots
/src/platform/*/KeyValueStore* @rgoliver

# Python bindings for CHIP - CLI
# Allows python code to use CHIP, generally targeted towards automation
/src/controller/python/ @andy31415 @erjianqing

# CHIP-tool C++ CLI
# Command line interface to chip as a client (controller and commisioner)
# Includes generated code for every base cluster
/examples/chip-tool/ @vivien-apple

# CHIP-tool iOS UI
/src/darwin/CHIPTool/ @shana-apple

# CHIP-tool Android
/src/android/CHIPTool/ @austinh0
/src/controller/java/ @austinh0

# End2End autogenerated tests
/src/darwin/Framework/Chip-templates/ @vivien-apple
/src/app/tests/suites/ @vivien-apple

# End2End cirque tests
# Simulate topology (cirque) and ptyhon-based test automation
/src/test_driver/linux/cirque/ @erjianqing @yunhanw-google

# Thread integration
# Thread-specific functionality (network provisioning, operational discovery, SRP registration etc.)
/src/platform/OpenThread/ @bukepo
/src/platform/*/ThreadStackmanagerImpl.* @bukepo

# Inet
# Networking abstraction layer (UDP-endpoint, TCP-endpoint, InetLayerBasis)
/src/inet/ @kpschoedel 

# System layer
/src/system/ @kpschoedel 

# BLE support
/src/ble/ @yunhanw-google

# CHIP Shell
# Command-line UART/stdin interface as a side-channel to CHIP accessories
# Aimed as user-friendly/manual control
/src/examples/shell/ @gjc13 @yufengwangca

# RPC
# Side-channlel command path (outside chip), generally for automation and debugging
# Aimed as "scriptable" when compared to shell
/examples/common/pigweed/ @rgoliver
/examples/pigweed-app/ @rgoliver

# Tooling for crypto manual generation
# Generates data for sample PKI
/src/tools/chip-cert/ @emargolis

# Channel API
# Construct a transport/secure session based on peer info and transport type.
# Focused on CASE session establishment
/src/channel/ @kghost

# Darwin framework
# Exposes a darwin API (Objective-C/swift rather than raw C++ API) for darwin
# applications
/src/darwin/Framework/ @shana-apple @vivien-apple @pan-apple

Restyled by prettier-markdown
  src/crypto/hsm/nxp/README.md
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

restyled
  src/crypto/hsm/nxp/README.md
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Fix compilation error in lock-app and temperature-measurement-app
  examples/lock-app/esp32/README.md
  examples/lock-app/esp32/main/CMakeLists.txt
  examples/lock-app/esp32/main/Kconfig.projbuild
  examples/temperature-measurement-app/esp32/README.md
  examples/temperature-measurement-app/esp32/main/CMakeLists.txt
  examples/temperature-measurement-app/esp32/main/Kconfig.projbuild
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Restyled by prettier-markdown
  examples/lock-app/esp32/README.md
  examples/temperature-measurement-app/esp32/README.md
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Fix IPK size, it should be 16 bytes not 32
  src/protocols/secure_channel/CASESession.h
Owners: @pan-apple

Fix compilation error in lock-app and temperature-measurement-app
  examples/lock-app/esp32/README.md
  examples/lock-app/esp32/main/CMakeLists.txt
  examples/lock-app/esp32/main/Kconfig.projbuild
  examples/temperature-measurement-app/esp32/README.md
  examples/temperature-measurement-app/esp32/main/CMakeLists.txt
  examples/temperature-measurement-app/esp32/main/Kconfig.projbuild
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

[K32W] Improve debugging + CPU speed
  src/include/platform/internal/GenericPlatformManagerImpl.cpp
  src/platform/K32W/Logging.cpp
  third_party/k32w_sdk/k32w_sdk.gni
Owners: @mspang, @yufengwangca, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Restyled by clang-format
  src/platform/K32W/Logging.cpp
Owners: @mspang, @yufengwangca

Remove redundant comments
  examples/all-clusters-app/all-clusters-common/gen/attribute-size_copy.cpp
  examples/all-clusters-app/ambd/main/CHIPDeviceManager.cpp
  examples/all-clusters-app/ambd/main/DeviceCallbacks.cpp
  examples/all-clusters-app/ambd/main/Makefile
  examples/all-clusters-app/ambd/main/include/CHIPDeviceManager.h
  examples/all-clusters-app/ambd/main/include/DeviceCallbacks.h
  src/platform/AMBD/AMBDConfig.cpp
  src/platform/AMBD/AMBDConfig.h
  src/platform/AMBD/AMBDUtils.cpp
  src/platform/AMBD/AMBDUtils.h
  src/platform/AMBD/BLEManagerImpl.h
  src/platform/AMBD/BlePlatformConfig.h
  src/platform/AMBD/CHIPDevicePlatformConfig.h
  src/platform/AMBD/CHIPDevicePlatformEvent.h
  src/platform/AMBD/CHIPPlatformConfig.h
  src/platform/AMBD/ConfigurationManagerImpl.cpp
  src/platform/AMBD/ConfigurationManagerImpl.h
  src/platform/AMBD/ConnectivityManagerImpl.cpp
  src/platform/AMBD/ConnectivityManagerImpl.h
  src/platform/AMBD/DeviceNetworkProvisioningDelegateImpl.cpp
  src/platform/AMBD/DeviceNetworkProvisioningDelegateImpl.h
  src/platform/AMBD/InetPlatformConfig.h
  src/platform/AMBD/Logging.cpp
  src/platform/AMBD/LwIPCoreLock.cpp
  src/platform/AMBD/NetworkProvisioningServerImpl.h
  src/platform/AMBD/PlatformManagerImpl.cpp
  src/platform/AMBD/PlatformManagerImpl.h
  src/platform/AMBD/ServiceProvisioning.cpp
  src/platform/AMBD/ServiceProvisioning.h
  src/platform/AMBD/SoftwareUpdateManagerImpl.h
  src/platform/AMBD/SystemPlatformConfig.h
  src/platform/AMBD/SystemTimeSupport.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @mspang, @yufengwangca

Restyled by whitespace
  examples/all-clusters-app/ambd/build.sh
  src/platform/AMBD/AMBDConfig.h
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @mspang, @yufengwangca

Restyled by gn
  config/ambd/args.gni
  src/BUILD.gn
  src/inet/tests/BUILD.gn
  src/platform/BUILD.gn
  src/platform/device.gni
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @mspang, @kpschoedel, @yufengwangca

Restyled by clang-format
  config/ambd/mbedtls/mbedtls_config.h
  examples/all-clusters-app/ambd/main/CHIPDeviceManager.cpp
  examples/all-clusters-app/ambd/main/DeviceCallbacks.cpp
  examples/all-clusters-app/ambd/main/chipinterface.cpp
  src/app/clusters/door-lock-server/door-lock-server-logging.cpp
  src/app/clusters/door-lock-server/door-lock-server-schedule.cpp
  src/app/clusters/door-lock-server/door-lock-server-user.cpp
  src/platform/AMBD/AMBDConfig.cpp
  src/platform/AMBD/AMBDUtils.cpp
  src/platform/AMBD/BLEManagerImpl.h
  src/platform/AMBD/ConfigurationManagerImpl.cpp
  src/platform/AMBD/ConfigurationManagerImpl.h
  src/platform/AMBD/ConnectivityManagerImpl.cpp
  src/platform/AMBD/InetPlatformConfig.h
  src/platform/AMBD/Logging.cpp
  src/platform/AMBD/PlatformManagerImpl.cpp
  src/platform/AMBD/SystemTimeSupport.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @vivien-apple, @mspang, @yufengwangca

Restyled by shellharden
  examples/all-clusters-app/ambd/build.sh
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Restyled by prettier-markdown
  examples/all-clusters-app/ambd/README.md
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Restyled by shfmt
  examples/all-clusters-app/ambd/build.sh
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

ESP32: Fixes for CI esp32 build
  scripts/examples/esp_example.sh
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Fix shell build, echo tool
  src/controller/python/ChipDeviceController-ScriptBinding.cpp
  src/messaging/tests/echo/echo_requester.cpp
  src/messaging/tests/echo/echo_responder.cpp
Owners: @andy31415, @erjianqing, @yufengwangca, @bzbarsky-apple

Update the zap template used for chip-tool to not forced the first letter of arguments to be lower cased
  examples/chip-tool/templates/commands.zapt
Owners: @vivien-apple

Update gen/ folders
  examples/chip-tool/commands/clusters/Commands.h
Owners: @vivien-apple

Regenerate generated files
  examples/all-clusters-app/all-clusters-common/gen/attribute-size.cpp
  examples/tv-app/tv-common/gen/attribute-size.cpp
  src/controller/data_model/gen/CHIPClientCallbacks.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @shana-apple, @pan-apple

Add -Wconversion to various things in src/app.
  examples/lighting-app/k32w/main/AppTask.cpp
  examples/lighting-app/qpg6100/src/AppTask.cpp
  examples/lock-app/k32w/main/AppTask.cpp
  examples/lock-app/qpg6100/src/AppTask.cpp
  src/app/chip_data_model.gni
  src/app/clusters/color-control-server/color-control-server.cpp
  src/app/clusters/door-lock-server/door-lock-server-user.cpp
  src/app/clusters/operational-credentials-server/operational-credentials-server.cpp
  src/app/clusters/scenes/scenes.cpp
  src/app/server/BUILD.gn
  src/app/server/OnboardingCodesUtil.cpp
  src/app/tests/integration/BUILD.gn
  src/app/tests/integration/MockEvents.cpp
  src/app/tests/integration/MockEvents.h
  src/app/util/af-enums.h
  src/app/util/af.h
  src/app/util/attribute-storage.cpp
  src/app/util/attribute-table.cpp
  src/app/util/ember-compatibility-functions.cpp
  src/app/util/message.cpp
  src/app/util/process-global-message.cpp
  src/app/util/util.cpp
  src/app/util/util.h
  src/app/zap-templates/templates/app/CHIPClientCallbacks-src.zapt
  src/app/zap-templates/templates/app/attribute-size-src.zapt
  src/app/zap-templates/templates/app/helper.js
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @yunhanw-google, @bzbarsky-apple, @mrjerryjohns, @vivien-apple, @erjianqing

Update gen/ folders
  examples/all-clusters-app/all-clusters-common/gen/attribute-size.cpp
  examples/all-clusters-app/all-clusters-common/gen/endpoint_config.h
  examples/bridge-app/bridge-common/gen/attribute-size.cpp
  examples/chip-tool/commands/clusters/Commands.h
  examples/lighting-app/lighting-common/gen/attribute-size.cpp
  examples/lock-app/lock-common/gen/attribute-size.cpp
  examples/pump-app/pump-common/gen/attribute-size.cpp
  examples/pump-controller-app/pump-controller-common/gen/attribute-size.cpp
  examples/temperature-measurement-app/esp32/main/gen/attribute-size.cpp
  examples/tv-app/tv-common/gen/attribute-size.cpp
  examples/window-app/common/gen/attribute-size.cpp
  src/app/common/gen/af-structs.h
  src/app/common/gen/attribute-id.h
  src/app/common/gen/attribute-size.h
  src/app/common/gen/attribute-type.h
  src/app/common/gen/client-command-macro.h
  src/app/common/gen/cluster-id.h
  src/app/common/gen/command-id.h
  src/app/common/gen/enums.h
  src/app/common/gen/print-cluster.h
  src/controller/data_model/gen/CHIPClientCallbacks.cpp
  src/darwin/Framework/CHIP/gen/CHIPClustersObjc.mm
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @vivien-apple, @yunhanw-google, @bzbarsky-apple, @mrjerryjohns, @shana-apple, @pan-apple

Move the temporary fabricSecret bit to be a CASESession member.
  src/protocols/secure_channel/CASESession.cpp
  src/protocols/secure_channel/CASESession.h
Owners: @pan-apple

Use CASE for our "Tests" test suite.
  examples/chip-tool/commands/pairing/PairingCommand.cpp
  scripts/tests/test_suites.sh
  src/app/clusters/operational-credentials-server/operational-credentials-server.cpp
  src/controller/CHIPDevice.cpp
Owners: @vivien-apple, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @shana-apple, @pan-apple

Restyled by clang-format
  src/controller/CHIPDevice.cpp
Owners: @shana-apple, @pan-apple

Fix log formats for command and endpoint.
  examples/chip-tool/templates/commands.zapt
  src/app/zap-templates/templates/app/im-cluster-command-handler.zapt
Owners: @vivien-apple, @erjianqing

Regenerated generated files
  examples/all-clusters-app/all-clusters-common/gen/IMClusterCommandHandler.cpp
  examples/bridge-app/bridge-common/gen/IMClusterCommandHandler.cpp
  examples/chip-tool/commands/clusters/Commands.h
  examples/lighting-app/lighting-common/gen/IMClusterCommandHandler.cpp
  examples/lock-app/lock-common/gen/IMClusterCommandHandler.cpp
  examples/pump-app/pump-common/gen/IMClusterCommandHandler.cpp
  examples/pump-controller-app/pump-controller-common/gen/IMClusterCommandHandler.cpp
  examples/temperature-measurement-app/esp32/main/gen/IMClusterCommandHandler.cpp
  examples/tv-app/tv-common/gen/IMClusterCommandHandler.cpp
  examples/window-app/common/gen/IMClusterCommandHandler.cpp
  src/controller/data_model/gen/IMClusterCommandHandler.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @vivien-apple, @shana-apple, @pan-apple

Update the zap template used for chip-tool to not forced the first le… (#6930)
  examples/chip-tool/commands/clusters/Commands.h
  examples/chip-tool/templates/commands.zapt
Owners: @vivien-apple

Retrieving OpCSR from the Chip Device after passing the CSRNonce.
  src/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/GenericChipDeviceListener.kt
  src/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/provisioning/DeviceProvisioningFragment.kt
  src/controller/CHIPDevice.h
  src/controller/CHIPDeviceController.cpp
  src/controller/java/AndroidDeviceControllerWrapper.cpp
  src/controller/java/AndroidDeviceControllerWrapper.h
  src/controller/java/CHIPDeviceController-JNI.cpp
  src/controller/java/JniReferences.cpp
  src/controller/java/JniReferences.h
  src/controller/java/src/chip/devicecontroller/ChipDeviceController.java
  src/protocols/secure_channel/RendezvousParameters.h
Owners: @austinh0, @shana-apple, @pan-apple

Add -Wconversion to various things in src/app (#7902)
  examples/all-clusters-app/all-clusters-common/gen/attribute-size.cpp
  examples/lighting-app/k32w/main/AppTask.cpp
  examples/lighting-app/qpg6100/src/AppTask.cpp
  examples/lock-app/k32w/main/AppTask.cpp
  examples/lock-app/qpg6100/src/AppTask.cpp
  examples/tv-app/tv-common/gen/attribute-size.cpp
  src/app/chip_data_model.gni
  src/app/clusters/color-control-server/color-control-server.cpp
  src/app/clusters/door-lock-server/door-lock-server-user.cpp
  src/app/clusters/operational-credentials-server/operational-credentials-server.cpp
  src/app/clusters/scenes/scenes.cpp
  src/app/server/BUILD.gn
  src/app/server/OnboardingCodesUtil.cpp
  src/app/tests/integration/BUILD.gn
  src/app/tests/integration/MockEvents.cpp
  src/app/tests/integration/MockEvents.h
  src/app/util/af-enums.h
  src/app/util/af.h
  src/app/util/attribute-storage.cpp
  src/app/util/attribute-table.cpp
  src/app/util/ember-compatibility-functions.cpp
  src/app/util/message.cpp
  src/app/util/process-global-message.cpp
  src/app/util/util.cpp
  src/app/util/util.h
  src/app/zap-templates/templates/app/CHIPClientCallbacks-src.zapt
  src/app/zap-templates/templates/app/attribute-size-src.zapt
  src/app/zap-templates/templates/app/helper.js
  src/controller/data_model/gen/CHIPClientCallbacks.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @yunhanw-google, @bzbarsky-apple, @mrjerryjohns, @vivien-apple, @erjianqing, @shana-apple, @pan-apple

Restyled by clang-format
  src/protocols/secure_channel/RendezvousParameters.h
Owners: @pan-apple

Improve mdns logging a bit.
  src/lib/mdns/Discovery_ImplPlatform.cpp
  src/lib/mdns/Resolver.h
  src/lib/mdns/Resolver_ImplMinimalMdns.cpp
Owners: @andy31415, @gjc13, @damian-nordic

Add Mbed OS into chip platforms. The platform supports the following features: - Bluetooth - WiFi - Mdns - Key/Value store The integration with network is made with the POSIX socket API
  src/platform/mbed/BLEManagerImpl.cpp
  src/platform/mbed/BLEManagerImpl.h
  src/platform/mbed/BUILD.gn
  src/platform/mbed/BlePlatformConfig.h
  src/platform/mbed/CHIPDevicePlatformConfig.h
  src/platform/mbed/CHIPDevicePlatformEvent.h
  src/platform/mbed/CHIPPlatformConfig.h
  src/platform/mbed/ConfigurationManagerImpl.cpp
  src/platform/mbed/ConfigurationManagerImpl.h
  src/platform/mbed/ConnectivityManagerImpl.cpp
  src/platform/mbed/ConnectivityManagerImpl.h
  src/platform/mbed/DeviceNetworkProvisioningDelegateImpl.cpp
  src/platform/mbed/DeviceNetworkProvisioningDelegateImpl.h
  src/platform/mbed/InetPlatformConfig.h
  src/platform/mbed/KeyValueStoreManagerImpl.cpp
  src/platform/mbed/KeyValueStoreManagerImpl.h
  src/platform/mbed/Logging.cpp
  src/platform/mbed/MbedConfig.cpp
  src/platform/mbed/MbedConfig.h
  src/platform/mbed/MbedEventTimeout.cpp
  src/platform/mbed/MbedEventTimeout.h
  src/platform/mbed/PlatformManagerImpl.cpp
  src/platform/mbed/PlatformManagerImpl.h
  src/platform/mbed/SystemPlatformConfig.h
  src/platform/mbed/SystemTimeSupport.cpp
  src/platform/mbed/arch.c
Owners: @mspang, @yufengwangca, @rgoliver

Add Mbed os third party repo
  .gitmodules
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Add mbed os target config/build files
  config/mbed/CHIPProjectConfig.h
  config/mbed/CMakeLists.txt
  config/mbed/chip-gn/.gn
  config/mbed/chip-gn/BUILD.gn
  config/mbed/chip-gn/args.gni
  config/mbed/chip-gn/build
  config/mbed/chip-gn/build_overrides
  config/mbed/chip-gn/mbedtls/BUILD.gn
  config/mbed/chip-gn/third_party/connectedhomeip
  config/mbed/chip-gn/toolchain/BUILD.gn
  config/mbed/mbed-util.cmake
  config/mbed/mbedtls/chip_mbedtls_config.h
  config/mbed/scripts/CY8CPROTO_062_4343W.tcl
  config/mbed/scripts/DISCO_L475VG_IOT01A.tcl
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @mspang

Update pigweed environment for Mbed OS
  scripts/constraints.txt
  scripts/python.json
  scripts/requirements.mbed.txt
  scripts/requirements.txt
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Level cluster Step/Move commands reverted to random value after transition (#7879)
  src/app/clusters/level-control/level-control.cpp
Owners: @vivien-apple

Mark UDP socket as ready for write in send msg.
  src/inet/UDPEndPoint.cpp
Owners: @kpschoedel

Move the temporary fabricSecret bit to be a CASESession member. (#7919)
  src/protocols/secure_channel/CASESession.cpp
  src/protocols/secure_channel/CASESession.h
Owners: @pan-apple

Use CASE for our "Tests" test suite.
  examples/chip-tool/commands/pairing/PairingCommand.cpp
  scripts/tests/test_suites.sh
  src/app/clusters/operational-credentials-server/operational-credentials-server.cpp
  src/controller/CHIPDevice.cpp
Owners: @vivien-apple, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @shana-apple, @pan-apple
