Repository project-chip/connectedhomeip, changes with the owners that .github/CODEOWNERS names for each.
All owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @mspang, @pan-apple, @emargolis, @andy31415, @yufengwangca, @kghost, @bzbarksy-apple, @bzbarsky-apple, @gjc13, @damian-nordic, @erjiaqing, @shana-apple, @yunhanw-google, @vivien-apple, @erjianqing, @mrjerryjohns, @jrhees-cae, @rgoliver, @austinh0, @bukepo, @kpschoedel

Examples: Window Cluster: Application logic moved to commons.
  examples/platform/efr32/lcd.h
  examples/window-app/common/include/WindowApp.h
  examples/window-app/common/src/WindowApp.cpp
  examples/window-app/common/src/ZclCallbacks.cpp
  examples/window-app/efr32/BUILD.gn
  examples/window-app/efr32/include/AppConfig.h
  examples/window-app/efr32/include/AppEvent.h
  examples/window-app/efr32/include/AppTask.h
  examples/window-app/efr32/include/AppTimer.h
  examples/window-app/efr32/include/ButtonHandler.h
  examples/window-app/efr32/include/LcdPainter.h
  examples/window-app/efr32/include/WindowAppImpl.h
  examples/window-app/efr32/include/WindowCover.h
  examples/window-app/efr32/src/AppEvent.cpp
  examples/window-app/efr32/src/AppTask.cpp
  examples/window-app/efr32/src/AppTimer.cpp
  examples/window-app/efr32/src/ButtonHandler.cpp
  examples/window-app/efr32/src/LcdPainter.cpp
  examples/window-app/efr32/src/WindowAppImpl.cpp
  examples/window-app/efr32/src/WindowCover.cpp
  examples/window-app/efr32/src/ZclCallbacks.cpp
  examples/window-app/efr32/src/main.cpp
  src/app/clusters/window-covering-server/window-covering-server.cpp
  src/app/clusters/window-covering-server/window-covering-server.h
  src/app/zap_cluster_list.py
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @mspang, @vivien-apple, @yunhanw-google, @bzbarsky-apple, @mrjerryjohns

Examples: Window Covering: Incorrect bit shift fixed. Struct arguments are now passed as const references.
  examples/window-app/common/src/WindowApp.cpp
  examples/window-app/efr32/src/WindowAppImpl.cpp
  src/app/clusters/window-covering-server/window-covering-server.cpp
  src/app/clusters/window-covering-server/window-covering-server.h
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @vivien-apple

Bump OpenThread repo to 009dba9 and ot-qorvo, ot-nxp and ot-efr32 to e8b085e (#8697)
  examples/lighting-app/k32w/include/CHIPProjectConfig.h
  examples/lock-app/k32w/include/CHIPProjectConfig.h
  examples/shell/k32w/include/CHIPProjectConfig.h
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

[cirque] Use `chip-cirque-device-base` image to run all cirque tests (#8586)
  .github/workflows/cirque.yaml
  integrations/docker/ci-only-images/chip-cirque-device-base/CHIPCirqueDaemon.py
  integrations/docker/ci-only-images/chip-cirque-device-base/Dockerfile
  scripts/tests/cirque_tests.sh
  src/app/tests/integration/Dockerfile.initiator
  src/app/tests/integration/Dockerfile.responder
  src/app/tests/integration/entrypoint.sh
  src/controller/python/test/Dockerfile
  src/controller/python/test/entrypoint.sh
  src/messaging/tests/echo/Dockerfile.requester
  src/messaging/tests/echo/Dockerfile.responder
  src/messaging/tests/echo/entrypoint.sh
  src/test_driver/linux-cirque/EchoTest.py
  src/test_driver/linux-cirque/EchoTest.sh
  src/test_driver/linux-cirque/InteractionModelTest.py
  src/test_driver/linux-cirque/InteractionModelTest.sh
  src/test_driver/linux-cirque/ManualTest.py
  src/test_driver/linux-cirque/ManualTest.sh
  src/test_driver/linux-cirque/MobileDeviceTest.py
  src/test_driver/linux-cirque/MobileDeviceTest.sh
  src/test_driver/linux-cirque/OnOffClusterTest.py
  src/test_driver/linux-cirque/OnOffClusterTest.sh
  src/test_driver/linux-cirque/shell-helpers.sh
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @yunhanw-google, @bzbarsky-apple, @mrjerryjohns, @andy31415, @erjianqing, @yufengwangca

Support for notifications for efr32 (#8666)
  src/include/platform/CHIPDeviceEvent.h
  src/platform/EFR32/BLEManagerImpl.cpp
  src/platform/EFR32/BLEManagerImpl.h
  src/platform/EFR32/gatt.xml
  src/platform/EFR32/gatt_db.c
Owners: @mspang, @yufengwangca

Fix spelling error in function name. (#8737)
  examples/minimal-mdns/advertiser.cpp
  src/app/server/Mdns.cpp
  src/lib/mdns/Advertiser.h
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @yunhanw-google, @bzbarsky-apple, @mrjerryjohns, @andy31415, @gjc13, @damian-nordic

updated csr/attestation nonce length var type to size_t.
  src/controller/CHIPDevice.h
  src/controller/CHIPDeviceController.cpp
Owners: @shana-apple, @pan-apple

Restyled by clang-format
  src/controller/CHIPDeviceController.cpp
Owners: @shana-apple, @pan-apple

Run codegen
  examples/all-clusters-app/all-clusters-common/gen/attribute-size.cpp
  examples/all-clusters-app/all-clusters-common/gen/endpoint_config.h
  examples/bridge-app/bridge-common/gen/attribute-size.cpp
  examples/chip-tool/commands/clusters/Commands.h
  examples/lighting-app/lighting-common/gen/attribute-size.cpp
  examples/lock-app/lock-common/gen/attribute-size.cpp
  examples/pump-app/pump-common/gen/CHIPClientCallbacks.cpp
  examples/pump-app/pump-common/gen/attribute-size.cpp
  examples/pump-controller-app/pump-controller-common/gen/CHIPClientCallbacks.cpp
  examples/pump-controller-app/pump-controller-common/gen/attribute-size.cpp
  examples/temperature-measurement-app/esp32/main/gen/attribute-size.cpp
  examples/thermostat/thermostat-common/gen/attribute-size.cpp
  examples/tv-app/tv-common/gen/attribute-size.cpp
  examples/window-app/common/gen/attribute-size.cpp
  src/app/common/gen/af-structs.cpp
  src/app/common/gen/af-structs.h
  src/app/common/gen/attribute-id.h
  src/app/common/gen/attribute-type.h
  src/app/common/gen/attributes/Accessors.cpp
  src/app/common/gen/attributes/Accessors.h
  src/app/common/gen/ids/Attributes.h
  src/controller/data_model/gen/CHIPClientCallbacks.cpp
  src/controller/data_model/gen/CHIPClientCallbacks.h
  src/controller/data_model/gen/CHIPClusters.cpp
  src/controller/data_model/gen/CHIPClusters.h
  src/controller/data_model/gen/attribute-size.cpp
  src/controller/data_model/gen/chip-zcl-zpro-codec-api.h
  src/controller/data_model/gen/encoder.cpp
  src/controller/java/gen/CHIPClusters-JNI.cpp
  src/controller/java/gen/ChipClusters.java
  src/controller/python/chip/clusters/CHIPClusters.cpp
  src/controller/python/chip/clusters/CHIPClusters.py
  src/darwin/Framework/CHIP/gen/CHIPClustersObjc.h
  src/darwin/Framework/CHIP/gen/CHIPClustersObjc.mm
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @vivien-apple, @yunhanw-google, @bzbarsky-apple, @mrjerryjohns, @shana-apple, @pan-apple, @austinh0, @andy31415, @erjianqing

Restyled by clang-format
  src/darwin/Framework/CHIP/templates/helper.js
Owners: @shana-apple, @vivien-apple, @pan-apple

readme update to correct the func of press SW2 on K32W061
  examples/lighting-app/k32w/README.md
  examples/lock-app/k32w/README.md
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

[ZAP Templates] Merge chip-zcl-zpro-codec-api.zapt and encoder-src.zapt into CHIPClusters* templates
  src/app/chip_data_model.gni
  src/app/zap-templates/app-templates.json
  src/app/zap-templates/templates/app/CHIPClusters-src.zapt
  src/app/zap-templates/templates/app/CHIPClusters.zapt
  src/app/zap-templates/templates/app/chip-zcl-zpro-codec-api.zapt
  src/app/zap-templates/templates/app/encoder-src.zapt
  src/controller/BUILD.gn
  src/darwin/Framework/CHIP.xcodeproj/project.pbxproj
Owners: @yunhanw-google, @bzbarsky-apple, @mrjerryjohns, @vivien-apple, @erjianqing, @shana-apple, @pan-apple

Update gen/ folders
  examples/all-clusters-app/all-clusters-common/gen/CHIPClusters.cpp
  examples/all-clusters-app/all-clusters-common/gen/chip-zcl-zpro-codec-api.h
  examples/all-clusters-app/all-clusters-common/gen/encoder.cpp
  examples/bridge-app/bridge-common/gen/CHIPClusters.cpp
  examples/bridge-app/bridge-common/gen/chip-zcl-zpro-codec-api.h
  examples/bridge-app/bridge-common/gen/encoder.cpp
  examples/lighting-app/lighting-common/gen/CHIPClusters.cpp
  examples/lighting-app/lighting-common/gen/chip-zcl-zpro-codec-api.h
  examples/lighting-app/lighting-common/gen/encoder.cpp
  examples/lock-app/lock-common/gen/CHIPClusters.cpp
  examples/lock-app/lock-common/gen/chip-zcl-zpro-codec-api.h
  examples/lock-app/lock-common/gen/encoder.cpp
  examples/pump-app/pump-common/gen/CHIPClusters.cpp
  examples/pump-app/pump-common/gen/CHIPClusters.h
  examples/pump-app/pump-common/gen/chip-zcl-zpro-codec-api.h
  examples/pump-app/pump-common/gen/encoder.cpp
  examples/pump-controller-app/pump-controller-common/gen/CHIPClusters.cpp
  examples/pump-controller-app/pump-controller-common/gen/CHIPClusters.h
  examples/pump-controller-app/pump-controller-common/gen/chip-zcl-zpro-codec-api.h
  examples/pump-controller-app/pump-controller-common/gen/encoder.cpp
  examples/temperature-measurement-app/esp32/main/gen/CHIPClusters.cpp
  examples/temperature-measurement-app/esp32/main/gen/chip-zcl-zpro-codec-api.h
  examples/temperature-measurement-app/esp32/main/gen/encoder.cpp
  examples/thermostat/thermostat-common/gen/CHIPClusters.cpp
  examples/thermostat/thermostat-common/gen/chip-zcl-zpro-codec-api.h
  examples/thermostat/thermostat-common/gen/encoder.cpp
  examples/tv-app/tv-common/gen/CHIPClusters.cpp
  examples/tv-app/tv-common/gen/chip-zcl-zpro-codec-api.h
  examples/tv-app/tv-common/gen/encoder.cpp
  examples/window-app/common/gen/CHIPClusters.cpp
  examples/window-app/common/gen/chip-zcl-zpro-codec-api.h
  examples/window-app/common/gen/encoder.cpp
  src/controller/data_model/gen/CHIPClusters.cpp
  src/controller/data_model/gen/CHIPClusters.h
  src/controller/data_model/gen/chip-zcl-zpro-codec-api.h
  src/controller/data_model/gen/encoder.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @shana-apple, @pan-apple

Examples: Window Cluster: Application logic moved to commons. (#8303)
  examples/platform/efr32/lcd.h
  examples/window-app/common/include/WindowApp.h
  examples/window-app/common/src/WindowApp.cpp
  examples/window-app/common/src/ZclCallbacks.cpp
  examples/window-app/efr32/BUILD.gn
  examples/window-app/efr32/include/AppConfig.h
  examples/window-app/efr32/include/AppEvent.h
  examples/window-app/efr32/include/AppTask.h
  examples/window-app/efr32/include/AppTimer.h
  examples/window-app/efr32/include/ButtonHandler.h
  examples/window-app/efr32/include/LcdPainter.h
  examples/window-app/efr32/include/WindowAppImpl.h
  examples/window-app/efr32/include/WindowCover.h
  examples/window-app/efr32/src/AppEvent.cpp
  examples/window-app/efr32/src/AppTask.cpp
  examples/window-app/efr32/src/AppTimer.cpp
  examples/window-app/efr32/src/ButtonHandler.cpp
  examples/window-app/efr32/src/LcdPainter.cpp
  examples/window-app/efr32/src/WindowAppImpl.cpp
  examples/window-app/efr32/src/WindowCover.cpp
  examples/window-app/efr32/src/ZclCallbacks.cpp
  examples/window-app/efr32/src/main.cpp
  src/app/clusters/window-covering-server/window-covering-server.cpp
  src/app/clusters/window-covering-server/window-covering-server.h
  src/app/zap_cluster_list.py
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @mspang, @vivien-apple, @yunhanw-google, @bzbarsky-apple, @mrjerryjohns

Make CHIP_ERROR a class type on k32w, mbed, telink (#8745)
  examples/lighting-app/k32w/main/AppTask.cpp
  examples/lighting-app/k32w/main/LightingManager.cpp
  examples/lighting-app/k32w/main/include/AppTask.h
  examples/lighting-app/mbed/main/main.cpp
  examples/lighting-app/telink/include/AppTask.h
  examples/lighting-app/telink/include/LightingManager.h
  examples/lighting-app/telink/src/AppTask.cpp
  examples/lighting-app/telink/src/LightingManager.cpp
  examples/lighting-app/telink/src/main.cpp
  examples/lock-app/k32w/main/AppTask.cpp
  examples/lock-app/k32w/main/BoltLockManager.cpp
  examples/lock-app/k32w/main/include/AppTask.h
  examples/lock-app/mbed/main/main.cpp
  examples/shell/k32w/main/main.cpp
  src/platform/K32W/CHIPPlatformConfig.h
  src/platform/mbed/CHIPPlatformConfig.h
  src/platform/mbed/MbedConfig.cpp
  src/platform/telink/CHIPPlatformConfig.h
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @mspang, @yufengwangca

Update integrations/cloudbuild/README.md
  integrations/cloudbuild/README.md
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Update integrations/cloudbuild/build-all.yaml
  integrations/cloudbuild/build-all.yaml
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

IP Commissioning Mode Support
  examples/all-clusters-app/esp32/main/DeviceCallbacks.cpp
  src/include/platform/internal/GenericConfigurationManagerImpl.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @mspang, @yufengwangca

Restyled by clang-format
  src/include/platform/internal/GenericConfigurationManagerImpl.cpp
Owners: @mspang, @yufengwangca

Add peer cache table
  src/channel/ChannelContext.cpp
  src/controller/CHIPDevice.cpp
  src/controller/CHIPDeviceController.cpp
  src/lib/core/PeerId.h
  src/lib/support/Pool.h
  src/lib/support/ReferenceCountedHandle.h
  src/messaging/ExchangeContext.cpp
  src/messaging/tests/TestExchangeMgr.cpp
  src/protocols/secure_channel/CASEServer.cpp
  src/transport/PeerCache.h
  src/transport/PeerConnectionState.h
  src/transport/PeerConnections.h
  src/transport/SecureMessageCodec.cpp
  src/transport/SecureSessionMgr.cpp
  src/transport/SecureSessionMgr.h
  src/transport/tests/TestPeerConnections.cpp
Owners: @kghost, @shana-apple, @pan-apple, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @yufengwangca, @bzbarsky-apple, @andy31415

Restyled by clang-format
  src/lib/support/Pool.h
  src/lib/support/ReferenceCountedHandle.h
  src/protocols/secure_channel/CASEServer.cpp
  src/transport/PeerConnectionState.h
  src/transport/SecureSessionMgr.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @pan-apple, @andy31415

Add peer cache table
  src/channel/ChannelContext.cpp
  src/controller/CHIPDevice.cpp
  src/controller/CHIPDeviceController.cpp
  src/lib/core/PeerId.h
  src/lib/support/Pool.h
  src/lib/support/ReferenceCountedHandle.h
  src/messaging/ExchangeContext.cpp
  src/messaging/tests/TestExchangeMgr.cpp
  src/protocols/secure_channel/CASEServer.cpp
  src/transport/PeerCache.h
  src/transport/PeerConnectionState.h
  src/transport/PeerConnections.h
  src/transport/SecureMessageCodec.cpp
  src/transport/SecureSessionMgr.cpp
  src/transport/SecureSessionMgr.h
  src/transport/tests/TestPeerConnections.cpp
Owners: @kghost, @shana-apple, @pan-apple, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @yufengwangca, @bzbarsky-apple, @andy31415

Refactor to use local copy of heap_4
  .vscode/settings.json
  examples/lighting-app/efr32/BUILD.gn
  examples/lighting-app/efr32/include/FreeRTOSConfig.h
  examples/lighting-app/efr32/src/main.cpp
  examples/lock-app/efr32/BUILD.gn
  examples/lock-app/efr32/include/FreeRTOSConfig.h
  examples/lock-app/efr32/src/main.cpp
  examples/platform/efr32/BUILD.gn
  examples/platform/efr32/heap_4_silabs.c
  examples/platform/efr32/heap_4_silabs.h
  examples/platform/efr32/init_efrPlatform.cpp
  examples/window-app/efr32/BUILD.gn
  examples/window-app/efr32/include/FreeRTOSConfig.h
  examples/window-app/efr32/src/main.cpp
  src/platform/EFR32/CHIPMem-Platform.cpp
  src/platform/EFR32/efr32-chip-mbedtls-config.h
  third_party/efr32_sdk/efr32_sdk.gni
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @mspang, @yufengwangca

Updated missing example apps to use local copy of heap_4
  examples/persistent-storage/efr32/BUILD.gn
  examples/persistent-storage/efr32/include/FreeRTOSConfig.h
  examples/pigweed-app/efr32/BUILD.gn
  examples/pigweed-app/efr32/README.md
  examples/pigweed-app/efr32/include/FreeRTOSConfig.h
  examples/shell/efr32/BUILD.gn
  examples/shell/efr32/include/FreeRTOSConfig.h
Owners: @mspang, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @rgoliver

Restyle changes
  examples/persistent-storage/efr32/BUILD.gn
  examples/pigweed-app/efr32/BUILD.gn
  examples/pigweed-app/efr32/README.md
  examples/shell/efr32/BUILD.gn
Owners: @mspang, @rgoliver

Removed local settings for vs code
  .vscode/settings.json
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

IP Commissioning Mode Support
  examples/all-clusters-app/esp32/main/DeviceCallbacks.cpp
  src/include/platform/internal/GenericConfigurationManagerImpl.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @mspang, @yufengwangca

Fix name prefix for host builds
  scripts/build/builders/host.py
Owners: @mspang

Fix name prefix for host builds (#8767)
  scripts/build/builders/host.py
Owners: @mspang

Add yaml and doc for cloudbuild integration (#8689)
  integrations/cloudbuild/README.md
  integrations/cloudbuild/build-all.yaml
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Make CHIP_ERROR a class type on Darwin (#8738)
  src/platform/Darwin/CHIPPlatformConfig.h
Owners: @mspang, @yufengwangca

[nrfconnect] Enable commissionable node advertising (#8454)
  examples/platform/nrfconnect/util/ThreadUtil.cpp
  src/app/server/Mdns.cpp
  src/include/platform/CHIPDeviceConfig.h
  src/lib/mdns/Discovery_ImplPlatform.h
  src/lib/shell/commands/Dns.cpp
  src/platform/OpenThread/GenericThreadStackManagerImpl_OpenThread.cpp
  src/platform/nrfconnect/CHIPDevicePlatformConfig.h
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @yunhanw-google, @bzbarsky-apple, @mrjerryjohns, @mspang, @yufengwangca, @andy31415, @gjc13, @damian-nordic, @bukepo

Restyled by clang-format
  examples/window-app/efr32/src/main.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Implement ResetCounts command for Thread/WiFi/Ethernet Network Diagnostics Cluster (#8679)
  src/app/clusters/ethernet_network_diagnostics_server/ethernet_network_diagnostics_server.cpp
  src/app/clusters/thread_network_diagnostics_server/thread_network_diagnostics_server.cpp
  src/app/clusters/wifi_network_diagnostics_server/wifi_network_diagnostics_server.cpp
Owners: @vivien-apple

Improve README for RPC in lock-app on ESP32
  examples/lock-app/esp32/README.md
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Add wifi RPCs to ESP32 all-clusters app
  examples/all-clusters-app/esp32/CMakeLists.txt
  examples/all-clusters-app/esp32/README.md
  examples/all-clusters-app/esp32/main/CMakeLists.txt
  examples/all-clusters-app/esp32/main/Kconfig.projbuild
  examples/all-clusters-app/esp32/main/Rpc.cpp
  examples/all-clusters-app/esp32/main/include/Rpc.h
  examples/all-clusters-app/esp32/main/main.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Move certification tests to a subfolder and introduce a python helper to get some informations about those tests (#8601)
  src/app/tests/suites/certification/Test_TC_BI_1_1.yaml
  src/app/tests/suites/certification/Test_TC_CC_3_4.yaml
  src/app/tests/suites/certification/Test_TC_CC_5.yaml
  src/app/tests/suites/certification/Test_TC_CC_6.yaml
  src/app/tests/suites/certification/Test_TC_CC_7.yaml
  src/app/tests/suites/certification/Test_TC_DM_1_1.yaml
  src/app/tests/suites/certification/Test_TC_DM_3_1.yaml
  src/app/tests/suites/certification/Test_TC_OO_1_1.yaml
  src/app/tests/suites/certification/Test_TC_OO_2_1.yaml
  src/app/tests/suites/certification/Test_TC_OO_2_2.yaml
  src/app/tests/suites/certification/Test_TC_WNCV_1_1.yaml
  src/app/tests/suites/certification/Test_TC_WNCV_2_1.yaml
  src/app/tests/suites/certification/information.py
  src/app/tests/suites/certification/tests.yaml
  src/app/zap-templates/common/ClusterTestGeneration.js
Owners: @vivien-apple, @erjianqing

Definition for AdministratorCommissioning cluster
  src/app/zap-templates/zcl/data-model/chip/administrator-commissioning-cluster.xml
Owners: @vivien-apple, @erjianqing

address review comments
  src/app/clusters/administrator-commissioning-server/administrator-commissioning-server.cpp
  src/app/server/Server.cpp
  src/controller/CHIPDevice.cpp
Owners: @vivien-apple, @yunhanw-google, @bzbarsky-apple, @mrjerryjohns, @shana-apple, @pan-apple

address review comments
  src/app/clusters/administrator-commissioning-server/administrator-commissioning-server.cpp
  src/controller/CHIPDevice.cpp
  src/protocols/secure_channel/PASESession.h
Owners: @vivien-apple, @shana-apple, @pan-apple

.github/CODEOWNERS:

# Current reviewers-XXX teams, who review everything for approval.
* @reviewers-amazon @reviewers-apple @reviewers-comcast @reviewers-google @reviewers-nordic @reviewers-samsung @reviewers-silabs


# BUILD system

*.gn @mspang
/build/ @mspang
/scripts/build/ @mspang

# Crypto
# Crypto primitives and high level API, generally on top of mbedtls and openssl
/src/crypto/* @pan-apple @emargolis
/src/credentials/ @pan-apple @emargolis

# Transport
# Send and receive data abstracting away the underlying protocol (UDP, TCP, BLE)
/src/transport/ @andy31415 @pan-apple

# Session establishment
# Establish a secure session (encryption keys) from one node to another.
# Includes CASE and PASE + session tracking and resumptioon
/src/protocols/secure_channel/ @pan-apple

# Message Layer
# CRMP and packet headers, generally coupled with SecureSessionManager
/src/messaging @yufengwangca @kghost @bzbarksy-apple
/src/transport/raw/MessageHeader.* @yufengwangca @kghost @bzbarksy-apple

# SecureSessionManager
# Manages per-session encryption keys and new session establishment
/src/transport/SecureSessionMgr.* @pan-apple

# Exchange management
# Joins requests and responses or ties a series of messages belonging to the 
# same protocol interaction
/src/messaging/ @yufengwangca @bzbarsky-apple
/src/channel/ @yufengwangca @bzbarsky-apple

# DNS-SD discovery and advertisement
# Advertise chip devices for commisioning, operational and discover such devices
/src/lib/mdns/ @andy31415 @gjc13 @damian-nordic

# Commisioning controller/flow
# Example of a comisioning sequence
/src/controller/ @pan-apple @erjiaqing

# Operational credentials management
# Signing certificates, maintaining roots of trust, validation, fabric management
/src/controller/ @shana-apple @pan-apple
/src/transport/AdminPairingTable.* @shana-apple @pan-apple

# TLV encoding/decoding to/from byte buffers
/src/lib/core/CHIPTLV* @yunhanw-google @bzbarsky-apple @shana-apple

# Interaction model - ember implementation
# ZCL protocol implementation: ZCL encoding to be sent over the wire as a 
# ZigbeePro protocol implementation
/src/app/util/ @vivien-apple @erjianqing @bzbarsky-apple

# Interaction model - non-ember
# Protocol implementation for IM interactions between nodes, matching spec
/src/app/ @yunhanw-google @bzbarsky-apple @mrjerryjohns

# Interaction model - code generation
# CHIP-specific infrastructure for generating code: helper js methods, scripts
# and code layout
/src/app/zap-templates/ @vivien-apple @erjianqing

# ZAP suppport
# UI for editing XML, generates code from such ZML and configuration files
# NOT part of CHIP however CHIP relies heavily on ZAP.
#    @vivien-apple  @tecimovic

# 'Standard' cluster implementations (server side)
# Clusters shipped with the sdk, can be integrated as-is or used as a template
/src/app/clusters/ @vivien-apple

# Onboarding payload
# Parsing and generation of codes (includes QR and NFC), numeric pairing payload
/src/setup_payload/ @shana-apple @vivien-apple @jrhees-cae

# Device Layer
# Porting interfaces, scaffolding for building an example firmware
/src/platform/ @mspang @yufengwangca
/src/include/platform/ @mspang @yufengwangca

# Persistent storage
# Save state across reboots
/src/platform/*/KeyValueStore* @rgoliver

# Python bindings for CHIP - CLI
# Allows python code to use CHIP, generally targeted towards automation
/src/controller/python/ @andy31415 @erjianqing

# CHIP-tool C++ CLI
# Command line interface to chip as a client (controller and commisioner)
# Includes generated code for every base cluster
/examples/chip-tool/ @vivien-apple

# CHIP-tool iOS UI
/src/darwin/CHIPTool/ @shana-apple

# CHIP-tool Android
/src/android/CHIPTool/ @austinh0
/src/controller/java/ @austinh0

# End2End autogenerated tests
/src/darwin/Framework/Chip-templates/ @vivien-apple
/src/app/tests/suites/ @vivien-apple

# End2End cirque tests
# Simulate topology (cirque) and ptyhon-based test automation
/src/test_driver/linux/cirque/ @erjianqing @yunhanw-google

# Thread integration
# Thread-specific functionality (network provisioning, operational discovery, SRP registration etc.)
/src/platform/OpenThread/ @bukepo
/src/platform/*/ThreadStackmanagerImpl.* @bukepo

# Inet
# Networking abstraction layer (UDP-endpoint, TCP-endpoint, InetLayerBasis)
/src/inet/ @kpschoedel 

# System layer
/src/system/ @kpschoedel 

# BLE support
/src/ble/ @yunhanw-google

# CHIP Shell
# Command-line UART/stdin interface as a side-channel to CHIP accessories
# Aimed as user-friendly/manual control
/src/examples/shell/ @gjc13 @yufengwangca

# RPC
# Side-channlel command path (outside chip), generally for automation and debugging
# Aimed as "scriptable" when compared to shell
/examples/common/pigweed/ @rgoliver
/examples/pigweed-app/ @rgoliver

# Tooling for crypto manual generation
# Generates data for sample PKI
/src/tools/chip-cert/ @emargolis

# Channel API
# Construct a transport/secure session based on peer info and transport type.
# Focused on CASE session establishment
/src/channel/ @kghost

# Darwin framework
# Exposes a darwin API (Objective-C/swift rather than raw C++ API) for darwin
# applications
/src/darwin/Framework/ @shana-apple @vivien-apple @pan-apple
