Repository project-chip/connectedhomeip, changes with the owners that .github/CODEOWNERS names for each.
All owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @mspang, @pan-apple, @emargolis, @andy31415, @yufengwangca, @kghost, @bzbarksy-apple, @bzbarsky-apple, @gjc13, @damian-nordic, @erjiaqing, @shana-apple, @yunhanw-google, @vivien-apple, @erjianqing, @mrjerryjohns, @jrhees-cae, @rgoliver, @austinh0, @bukepo, @kpschoedel

Add {{clusterName}}ClusterTest interfaces with write methods for non-writeable attributes
  examples/chip-tool/commands/tests/TestCommand.h
  examples/chip-tool/templates/partials/test_cluster.zapt
  scripts/tools/zap_regen_all.py
  src/app/chip_data_model.gni
  src/app/tests/suites/templates/templates.json
  src/app/zap-templates/templates/app/tests/CHIPClusters-src.zapt
  src/app/zap-templates/templates/app/tests/CHIPClusters.zapt
  src/controller/data_model/BUILD.gn
Owners: @vivien-apple, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @yunhanw-google, @bzbarsky-apple, @mrjerryjohns, @erjianqing, @shana-apple, @pan-apple

Add Objc Test{{clusterName}} interfaces with write methods for non-writeable attributes
  src/darwin/Framework/CHIP.xcodeproj/project.pbxproj
  src/darwin/Framework/CHIP/templates/CHIPTestClustersObjc-src.zapt
  src/darwin/Framework/CHIP/templates/CHIPTestClustersObjc.zapt
  src/darwin/Framework/CHIP/templates/clusters-tests.zapt
  src/darwin/Framework/CHIP/templates/partials/test_cluster.zapt
  src/darwin/Framework/CHIP/templates/templates.json
Owners: @shana-apple, @vivien-apple, @pan-apple

Update generated content
  src/darwin/Framework/CHIP/zap-generated/CHIPTestClustersObjc.h
  src/darwin/Framework/CHIP/zap-generated/CHIPTestClustersObjc.mm
  src/darwin/Framework/CHIPTests/CHIPClustersTests.m
  zzz_generated/chip-tool/zap-generated/test/Commands.h
  zzz_generated/controller-clusters/zap-generated/tests/CHIPClusters.cpp
  zzz_generated/controller-clusters/zap-generated/tests/CHIPClusters.h
Owners: @shana-apple, @vivien-apple, @pan-apple, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Remove some disabled flags from some tests trying to write to ClusterRevision/FeatureMap
  src/app/tests/suites/certification/Test_TC_BI_1_1.yaml
  src/app/tests/suites/certification/Test_TC_OO_1_1.yaml
  src/app/tests/suites/certification/Test_TC_WNCV_1_1.yaml
Owners: @vivien-apple

Updated ASN1Writer Methods to Use Safe Methods on TLVReader.
  src/credentials/CHIPCertFromX509.cpp
  src/credentials/CHIPCertToX509.cpp
  src/credentials/GenerateChipX509Cert.cpp
  src/lib/asn1/ASN1.h
  src/lib/asn1/ASN1Reader.cpp
  src/lib/asn1/ASN1Writer.cpp
  src/lib/asn1/tests/TestASN1.cpp
Owners: @pan-apple, @emargolis, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Restyled by gn
  src/app/chip_data_model.gni
Owners: @yunhanw-google, @bzbarsky-apple, @mrjerryjohns

Added DeconstructAttestationElements/ConstructAttestationElements helpers
  src/credentials/BUILD.gn
  src/credentials/DeviceAttestationConstructor.cpp
  src/credentials/DeviceAttestationConstructor.h
  src/credentials/DeviceAttestationVerifier.h
  src/credentials/examples/DeviceAttestationVerifierExample.cpp
  src/credentials/tests/BUILD.gn
  src/credentials/tests/TestDeviceAttestationConstruction.cpp
  src/credentials/tests/TestDeviceAttestationCredentials.cpp
Owners: @pan-apple, @emargolis

Added CertChainRequest and AttestationRequest commands to lighting-app ZAP script
  examples/lighting-app/lighting-common/lighting-app.zap
  src/app/clusters/operational-credentials-server/operational-credentials-server.cpp
  src/app/zap-templates/zcl/data-model/chip/operational-credentials-cluster.xml
  src/controller/CHIPDevice.cpp
  src/controller/CHIPDevice.h
  src/controller/CHIPDeviceController.cpp
  src/controller/CHIPDeviceController.h
  src/controller/data_model/controller-clusters.zap
  src/controller/java/zap-generated/CHIPClusters-JNI.cpp
  src/controller/java/zap-generated/chip/devicecontroller/ChipClusters.java
  src/controller/python/chip/clusters/CHIPClusters.cpp
  src/controller/python/chip/clusters/CHIPClusters.py
  src/credentials/BUILD.gn
  src/credentials/DeviceAttestationConstructor.cpp
  src/credentials/DeviceAttestationConstructor.h
  src/credentials/DeviceAttestationVerifier.h
  src/credentials/examples/DeviceAttestationVerifierExample.cpp
  src/credentials/tests/TestDeviceAttestationCredentials.cpp
  src/darwin/Framework/CHIP/zap-generated/CHIPCallbackBridge.mm
  src/darwin/Framework/CHIP/zap-generated/CHIPCallbackBridge_internal.h
  src/darwin/Framework/CHIP/zap-generated/CHIPClustersObjc.h
  src/darwin/Framework/CHIP/zap-generated/CHIPClustersObjc.mm
  src/protocols/secure_channel/RendezvousParameters.h
  src/transport/SecureSession.h
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @vivien-apple, @erjianqing, @shana-apple, @pan-apple, @austinh0, @andy31415, @emargolis

[controller] reset Device state for usage in accessories (#9386)
  src/controller/CHIPDevice.cpp
  src/controller/tests/BUILD.gn
  src/controller/tests/TestDevice.cpp
Owners: @shana-apple, @pan-apple

Refactor the server to organize as a class
  examples/all-clusters-app/esp32/main/main.cpp
  examples/bridge-app/esp32/main/main.cpp
  examples/bridge-app/linux/main.cpp
  examples/lighting-app/efr32/src/AppTask.cpp
  examples/lighting-app/k32w/main/AppTask.cpp
  examples/lighting-app/mbed/main/AppTask.cpp
  examples/lighting-app/nrfconnect/main/AppTask.cpp
  examples/lighting-app/qpg/src/AppTask.cpp
  examples/lighting-app/telink/src/AppTask.cpp
  examples/lock-app/cc13x2x7_26x2x7/main/AppTask.cpp
  examples/lock-app/efr32/src/AppTask.cpp
  examples/lock-app/esp32/main/main.cpp
  examples/lock-app/k32w/main/AppTask.cpp
  examples/lock-app/mbed/main/AppTask.cpp
  examples/lock-app/nrfconnect/main/AppTask.cpp
  examples/lock-app/p6/src/AppTask.cpp
  examples/lock-app/qpg/src/AppTask.cpp
  examples/ota-provider-app/linux/main.cpp
  examples/platform/linux/AppMain.cpp
  examples/platform/linux/CommissioneeShellCommands.cpp
  examples/pump-app/cc13x2x7_26x2x7/main/AppTask.cpp
  examples/pump-app/nrfconnect/main/AppTask.cpp
  examples/pump-controller-app/cc13x2x7_26x2x7/main/AppTask.cpp
  examples/pump-controller-app/nrfconnect/main/AppTask.cpp
  examples/temperature-measurement-app/esp32/main/main.cpp
  examples/tv-casting-app/linux/main.cpp
  examples/window-app/common/src/WindowApp.cpp
  src/app/clusters/administrator-commissioning-server/administrator-commissioning-server.cpp
  src/app/clusters/operational-credentials-server/operational-credentials-server.cpp
  src/app/server/Mdns.cpp
  src/app/server/RendezvousServer.h
  src/app/server/Server.cpp
  src/app/server/Server.h
  src/app/server/SessionManager.h
  src/controller/CHIPDeviceController.h
  src/protocols/secure_channel/RendezvousParameters.h
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @vivien-apple, @yunhanw-google, @bzbarsky-apple, @mrjerryjohns, @shana-apple, @pan-apple

Make Server combination of small objects
  examples/all-clusters-app/esp32/main/main.cpp
  examples/bridge-app/esp32/main/main.cpp
  examples/bridge-app/linux/main.cpp
  examples/lighting-app/efr32/src/AppTask.cpp
  examples/lighting-app/k32w/main/AppTask.cpp
  examples/lighting-app/mbed/main/AppTask.cpp
  examples/lighting-app/nrfconnect/main/AppTask.cpp
  examples/lighting-app/qpg/src/AppTask.cpp
  examples/lighting-app/telink/src/AppTask.cpp
  examples/lock-app/cc13x2x7_26x2x7/main/AppTask.cpp
  examples/lock-app/efr32/src/AppTask.cpp
  examples/lock-app/esp32/main/main.cpp
  examples/lock-app/k32w/main/AppTask.cpp
  examples/lock-app/mbed/main/AppTask.cpp
  examples/lock-app/nrfconnect/main/AppTask.cpp
  examples/lock-app/p6/src/AppTask.cpp
  examples/lock-app/qpg/src/AppTask.cpp
  examples/ota-provider-app/linux/main.cpp
  examples/platform/linux/AppMain.cpp
  examples/platform/linux/CommissioneeShellCommands.cpp
  examples/pump-app/cc13x2x7_26x2x7/main/AppTask.cpp
  examples/pump-app/nrfconnect/main/AppTask.cpp
  examples/pump-controller-app/cc13x2x7_26x2x7/main/AppTask.cpp
  examples/pump-controller-app/nrfconnect/main/AppTask.cpp
  examples/temperature-measurement-app/esp32/main/main.cpp
  examples/tv-casting-app/linux/main.cpp
  examples/window-app/common/src/WindowApp.cpp
  src/app/clusters/administrator-commissioning-server/administrator-commissioning-server.cpp
  src/app/clusters/operational-credentials-server/operational-credentials-server.cpp
  src/app/server/BUILD.gn
  src/app/server/CommissionManager.cpp
  src/app/server/CommissionManager.h
  src/app/server/Mdns.cpp
  src/app/server/Server.cpp
  src/app/server/Server.h
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @vivien-apple, @yunhanw-google, @bzbarsky-apple, @mrjerryjohns

fix build on zephyr
  examples/lighting-app/mbed/CMakeLists.txt
  examples/lighting-app/nrfconnect/CMakeLists.txt
  examples/lighting-app/telink/CMakeLists.txt
  examples/lock-app/mbed/CMakeLists.txt
  examples/lock-app/nrfconnect/CMakeLists.txt
  examples/pump-app/nrfconnect/CMakeLists.txt
  examples/pump-controller-app/nrfconnect/CMakeLists.txt
  src/app/server/Server.cpp
  src/app/server/Server.h
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @yunhanw-google, @bzbarsky-apple, @mrjerryjohns

add unit test
  src/app/server/CommissionManager.cpp
  src/app/server/Server.cpp
  src/app/server/Server.h
  src/app/tests/BUILD.gn
  src/app/tests/TestCommissionManager.cpp
  src/controller/tests/TestDevice.cpp
Owners: @yunhanw-google, @bzbarsky-apple, @mrjerryjohns, @shana-apple, @pan-apple

fix TestDevice build error
  src/controller/tests/TestDevice.cpp
Owners: @shana-apple, @pan-apple

Restyled by gn
  src/app/tests/BUILD.gn
Owners: @yunhanw-google, @bzbarsky-apple, @mrjerryjohns

Use RTC memory as heap in unicore mode and readme fixes
  examples/temperature-measurement-app/esp32/README.md
  examples/temperature-measurement-app/esp32/sdkconfig.defaults
  examples/temperature-measurement-app/esp32/sdkconfig.optimize.defaults
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Wait till NimBLE host-controller is synced
  src/platform/ESP32/nimble/BLEManagerImpl.cpp
Owners: @mspang, @yufengwangca

fix TestDevice build error (#9560)
  src/controller/tests/TestDevice.cpp
Owners: @shana-apple, @pan-apple

Restyled by clang-format
  src/platform/ESP32/nimble/BLEManagerImpl.cpp
Owners: @mspang, @yufengwangca

Use RTC memory as heap in unicore mode and readme fixes
  examples/temperature-measurement-app/esp32/README.md
  examples/temperature-measurement-app/esp32/sdkconfig.defaults
  examples/temperature-measurement-app/esp32/sdkconfig.optimize.defaults
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Wait till NimBLE host-controller is synced
  src/platform/ESP32/nimble/BLEManagerImpl.cpp
Owners: @mspang, @yufengwangca

Remove ChipDeviceController-ClusterCommands.cpp. This should have been removed since #5614
  src/controller/python/ChipDeviceController-ClusterCommands.cpp
Owners: @andy31415, @erjianqing

Make System::Clock mockable (#9547)
  src/platform/ESP32/SystemTimeSupport.cpp
  src/platform/FreeRTOS/SystemTimeSupport.cpp
  src/platform/Linux/SystemTimeSupport.cpp
  src/platform/Zephyr/SystemTimeSupport.cpp
  src/platform/mbed/SystemTimeSupport.cpp
  src/platform/nrfconnect/SystemPlatformConfig.h
  src/platform/telink/SystemPlatformConfig.h
  src/platform/tests/TestPlatformTime.cpp
  src/protocols/bdx/TransferFacilitator.cpp
  src/system/SystemClock.cpp
  src/system/SystemClock.h
  src/system/SystemLayerImplLibevent.cpp
  src/system/SystemLayerImplSelect.cpp
  src/system/tests/BUILD.gn
  src/system/tests/TestSystemClock.cpp
Owners: @mspang, @yufengwangca, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @kpschoedel

Updated ASN1Writer Methods to Use Safe Methods on TLVReader. (#9532)
  src/credentials/CHIPCertFromX509.cpp
  src/credentials/CHIPCertToX509.cpp
  src/credentials/GenerateChipX509Cert.cpp
  src/lib/asn1/ASN1.h
  src/lib/asn1/ASN1Reader.cpp
  src/lib/asn1/ASN1Writer.cpp
  src/lib/asn1/tests/TestASN1.cpp
Owners: @pan-apple, @emargolis, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Fix EventHandlerDelegate crash
  src/system/SystemLayerImplLwIP.cpp
Owners: @kpschoedel

Fix EventHandlerDelegate crash (#9569)
  src/system/SystemLayerImplLwIP.cpp
Owners: @kpschoedel

Adding cmd line args to tv-casting-app for device type of commissioners to be discovered
  examples/tv-casting-app/linux/main.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Remove ChipDeviceController-ClusterCommands.cpp. This should have been removed since #5614 (#9568)
  src/controller/python/ChipDeviceController-ClusterCommands.cpp
Owners: @andy31415, @erjianqing

rename globals in line with comments on #9547
  src/include/platform/CHIPDeviceLayer.h
  src/include/platform/internal/GenericPlatformManagerImpl.cpp
  src/platform/Globals.cpp
Owners: @mspang, @yufengwangca

Make platform PlatformManager::PostEvent() return status
  src/include/platform/PlatformManager.h
  src/include/platform/internal/GenericConfigurationManagerImpl.cpp
  src/include/platform/internal/GenericConnectivityManagerImpl_Thread.cpp
  src/include/platform/internal/GenericPlatformManagerImpl.cpp
  src/include/platform/internal/GenericPlatformManagerImpl_FreeRTOS.cpp
  src/include/platform/internal/GenericPlatformManagerImpl_FreeRTOS.h
  src/include/platform/internal/GenericPlatformManagerImpl_POSIX.cpp
  src/include/platform/internal/GenericPlatformManagerImpl_POSIX.h
  src/include/platform/internal/GenericPlatformManagerImpl_Zephyr.cpp
  src/include/platform/internal/GenericPlatformManagerImpl_Zephyr.h
  src/platform/Darwin/PlatformManagerImpl.cpp
  src/platform/Darwin/PlatformManagerImpl.h
  src/platform/DeviceControlServer.cpp
  src/platform/EFR32/BLEManagerImpl.cpp
  src/platform/ESP32/ConnectivityManagerImpl.cpp
  src/platform/ESP32/PlatformManagerImpl.cpp
  src/platform/ESP32/bluedroid/BLEManagerImpl.cpp
  src/platform/ESP32/nimble/BLEManagerImpl.cpp
  src/platform/K32W/BLEManagerImpl.cpp
  src/platform/Linux/BLEManagerImpl.cpp
  src/platform/Linux/ConnectivityManagerImpl.cpp
  src/platform/Linux/PlatformManagerImpl.cpp
  src/platform/Linux/ThreadStackManagerImpl.cpp
  src/platform/LwIPEventSupport.cpp
  src/platform/OpenThread/GenericThreadStackManagerImpl_OpenThread.cpp
  src/platform/OpenThread/GenericThreadStackManagerImpl_OpenThread_LwIP.cpp
  src/platform/P6/BLEManagerImpl.cpp
  src/platform/P6/ConnectivityManagerImpl.cpp
  src/platform/Zephyr/BLEManagerImpl.cpp
  src/platform/cc13x2_26x2/BLEManagerImpl.cpp
  src/platform/fake/PlatformManagerImpl.h
  src/platform/mbed/BLEManagerImpl.cpp
  src/platform/mbed/ConnectivityManagerImpl.cpp
  src/platform/mbed/PlatformManagerImpl.cpp
  src/platform/mbed/PlatformManagerImpl.h
  src/platform/qpg/BLEManagerImpl.cpp
Owners: @mspang, @yufengwangca, @bukepo

Rename System::Clock globals (followup from #9547 review)
  src/platform/ESP32/SystemTimeSupport.cpp
  src/platform/FreeRTOS/SystemTimeSupport.cpp
  src/platform/Linux/SystemTimeSupport.cpp
  src/platform/Zephyr/SystemTimeSupport.cpp
  src/platform/mbed/SystemTimeSupport.cpp
  src/system/SystemClock.cpp
  src/system/SystemClock.h
  src/system/tests/TestSystemClock.cpp
Owners: @mspang, @yufengwangca, @kpschoedel

Remove incorrect "open enhanced commissioning window" UI on M5Stack.
  examples/all-clusters-app/esp32/main/main.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Add initial IM subscriber server change
  src/app/ClusterInfo.h
  src/app/InteractionModelDelegate.h
  src/app/InteractionModelEngine.cpp
  src/app/ReadHandler.cpp
  src/app/ReadHandler.h
  src/app/reporting/Engine.cpp
  src/app/reporting/Engine.h
  src/app/reporting/reporting.cpp
  src/app/reporting/reporting.h
  src/lib/core/CHIPConfig.h
Owners: @yunhanw-google, @bzbarsky-apple, @mrjerryjohns, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Create object with non-default constructor
  src/system/SystemObject.cpp
  src/system/SystemObject.h
  src/system/tests/TestSystemObject.cpp
Owners: @kpschoedel

Use std::is_base_of to check class inheritance
  src/system/SystemObject.h
Owners: @kpschoedel

Remove incorrect "open enhanced commissioning window" UI on M5Stack. (#9576)
  examples/all-clusters-app/esp32/main/main.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

address review comments
  src/include/platform/internal/GenericConfigurationManagerImpl.cpp
  src/platform/DeviceControlServer.cpp
  src/platform/Linux/ConnectivityManagerImpl.cpp
  src/platform/Linux/ThreadStackManagerImpl.cpp
  src/platform/OpenThread/GenericThreadStackManagerImpl_OpenThread.cpp
Owners: @mspang, @yufengwangca, @bukepo

Restyled by clang-format
  src/include/platform/internal/GenericConfigurationManagerImpl.cpp
Owners: @mspang, @yufengwangca

Update examples/chip-tool/templates/partials/test_cluster.zapt
  examples/chip-tool/templates/partials/test_cluster.zapt
Owners: @vivien-apple

Regenerate generated file
  zzz_generated/chip-tool/zap-generated/test/Commands.h
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

.github/CODEOWNERS:

# Current reviewers-XXX teams, who review everything for approval.
* @reviewers-amazon @reviewers-apple @reviewers-comcast @reviewers-google @reviewers-nordic @reviewers-samsung @reviewers-silabs


# BUILD system

*.gn @mspang
/build/ @mspang
/scripts/build/ @mspang

# Crypto
# Crypto primitives and high level API, generally on top of mbedtls and openssl
/src/crypto/* @pan-apple @emargolis
/src/credentials/ @pan-apple @emargolis

# Transport
# Send and receive data abstracting away the underlying protocol (UDP, TCP, BLE)
/src/transport/ @andy31415 @pan-apple

# Session establishment
# Establish a secure session (encryption keys) from one node to another.
# Includes CASE and PASE + session tracking and resumptioon
/src/protocols/secure_channel/ @pan-apple

# Message Layer
# CRMP and packet headers, generally coupled with SecureSessionManager
/src/messaging @yufengwangca @kghost @bzbarksy-apple
/src/transport/raw/MessageHeader.* @yufengwangca @kghost @bzbarksy-apple

# SecureSessionManager
# Manages per-session encryption keys and new session establishment
/src/transport/SecureSessionMgr.* @pan-apple

# Exchange management
# Joins requests and responses or ties a series of messages belonging to the 
# same protocol interaction
/src/messaging/ @yufengwangca @bzbarsky-apple
/src/channel/ @yufengwangca @bzbarsky-apple

# DNS-SD discovery and advertisement
# Advertise chip devices for commisioning, operational and discover such devices
/src/lib/mdns/ @andy31415 @gjc13 @damian-nordic

# Commisioning controller/flow
# Example of a comisioning sequence
/src/controller/ @pan-apple @erjiaqing

# Operational credentials management
# Signing certificates, maintaining roots of trust, validation, fabric management
/src/controller/ @shana-apple @pan-apple
/src/transport/AdminPairingTable.* @shana-apple @pan-apple

# TLV encoding/decoding to/from byte buffers
/src/lib/core/CHIPTLV* @yunhanw-google @bzbarsky-apple @shana-apple

# Interaction model - ember implementation
# ZCL protocol implementation: ZCL encoding to be sent over the wire as a 
# ZigbeePro protocol implementation
/src/app/util/ @vivien-apple @erjianqing @bzbarsky-apple

# Interaction model - non-ember
# Protocol implementation for IM interactions between nodes, matching spec
/src/app/ @yunhanw-google @bzbarsky-apple @mrjerryjohns

# Interaction model - code generation
# CHIP-specific infrastructure for generating code: helper js methods, scripts
# and code layout
/src/app/zap-templates/ @vivien-apple @erjianqing

# ZAP suppport
# UI for editing XML, generates code from such ZML and configuration files
# NOT part of CHIP however CHIP relies heavily on ZAP.
#    @vivien-apple  @tecimovic

# 'Standard' cluster implementations (server side)
# Clusters shipped with the sdk, can be integrated as-is or used as a template
/src/app/clusters/ @vivien-apple

# Onboarding payload
# Parsing and generation of codes (includes QR and NFC), numeric pairing payload
/src/setup_payload/ @shana-apple @vivien-apple @jrhees-cae

# Device Layer
# Porting interfaces, scaffolding for building an example firmware
/src/platform/ @mspang @yufengwangca
/src/include/platform/ @mspang @yufengwangca

# Persistent storage
# Save state across reboots
/src/platform/*/KeyValueStore* @rgoliver

# Python bindings for CHIP - CLI
# Allows python code to use CHIP, generally targeted towards automation
/src/controller/python/ @andy31415 @erjianqing

# CHIP-tool C++ CLI
# Command line interface to chip as a client (controller and commisioner)
# Includes generated code for every base cluster
/examples/chip-tool/ @vivien-apple

# CHIP-tool iOS UI
/src/darwin/CHIPTool/ @shana-apple

# CHIP-tool Android
/src/android/CHIPTool/ @austinh0
/src/controller/java/ @austinh0

# End2End autogenerated tests
/src/darwin/Framework/Chip-templates/ @vivien-apple
/src/app/tests/suites/ @vivien-apple

# End2End cirque tests
# Simulate topology (cirque) and ptyhon-based test automation
/src/test_driver/linux/cirque/ @erjianqing @yunhanw-google

# Thread integration
# Thread-specific functionality (network provisioning, operational discovery, SRP registration etc.)
/src/platform/OpenThread/ @bukepo
/src/platform/*/ThreadStackmanagerImpl.* @bukepo

# Inet
# Networking abstraction layer (UDP-endpoint, TCP-endpoint, InetLayerBasis)
/src/inet/ @kpschoedel 

# System layer
/src/system/ @kpschoedel 

# BLE support
/src/ble/ @yunhanw-google

# CHIP Shell
# Command-line UART/stdin interface as a side-channel to CHIP accessories
# Aimed as user-friendly/manual control
/src/examples/shell/ @gjc13 @yufengwangca

# RPC
# Side-channlel command path (outside chip), generally for automation and debugging
# Aimed as "scriptable" when compared to shell
/examples/common/pigweed/ @rgoliver
/examples/pigweed-app/ @rgoliver

# Tooling for crypto manual generation
# Generates data for sample PKI
/src/tools/chip-cert/ @emargolis

# Channel API
# Construct a transport/secure session based on peer info and transport type.
# Focused on CASE session establishment
/src/channel/ @kghost

# Darwin framework
# Exposes a darwin API (Objective-C/swift rather than raw C++ API) for darwin
# applications
/src/darwin/Framework/ @shana-apple @vivien-apple @pan-apple
