Repository project-chip/connectedhomeip, changes with the owners that .github/CODEOWNERS names for each.
All owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @mspang, @pan-apple, @emargolis, @andy31415, @yufengwangca, @kghost, @bzbarksy-apple, @bzbarsky-apple, @gjc13, @damian-nordic, @erjiaqing, @shana-apple, @yunhanw-google, @vivien-apple, @erjianqing, @mrjerryjohns, @jrhees-cae, @rgoliver, @austinh0, @bukepo, @kpschoedel

.github/CODEOWNERS:

# Current reviewers-XXX teams, who review everything for approval.
* @reviewers-amazon @reviewers-apple @reviewers-comcast @reviewers-google @reviewers-nordic @reviewers-samsung @reviewers-silabs


# BUILD system

*.gn @mspang
/build/ @mspang
/scripts/build/ @mspang

# Crypto
# Crypto primitives and high level API, generally on top of mbedtls and openssl
/src/crypto/* @pan-apple @emargolis
/src/credentials/ @pan-apple @emargolis

# Transport
# Send and receive data abstracting away the underlying protocol (UDP, TCP, BLE)
/src/transport/ @andy31415 @pan-apple

# Session establishment
# Establish a secure session (encryption keys) from one node to another.
# Includes CASE and PASE + session tracking and resumptioon
/src/protocols/secure_channel/ @pan-apple

# Message Layer
# CRMP and packet headers, generally coupled with SecureSessionManager
/src/messaging @yufengwangca @kghost @bzbarksy-apple
/src/transport/raw/MessageHeader.* @yufengwangca @kghost @bzbarksy-apple

# SecureSessionManager
# Manages per-session encryption keys and new session establishment
/src/transport/SecureSessionMgr.* @pan-apple

# Exchange management
# Joins requests and responses or ties a series of messages belonging to the 
# same protocol interaction
/src/messaging/ @yufengwangca @bzbarsky-apple
/src/channel/ @yufengwangca @bzbarsky-apple

# DNS-SD discovery and advertisement
# Advertise chip devices for commisioning, operational and discover such devices
/src/lib/mdns/ @andy31415 @gjc13 @damian-nordic

# Commisioning controller/flow
# Example of a comisioning sequence
/src/controller/ @pan-apple @erjiaqing

# Operational credentials management
# Signing certificates, maintaining roots of trust, validation, fabric management
/src/controller/ @shana-apple @pan-apple
/src/transport/AdminPairingTable.* @shana-apple @pan-apple

# TLV encoding/decoding to/from byte buffers
/src/lib/core/CHIPTLV* @yunhanw-google @bzbarsky-apple @shana-apple

# Interaction model - ember implementation
# ZCL protocol implementation: ZCL encoding to be sent over the wire as a 
# ZigbeePro protocol implementation
/src/app/util/ @vivien-apple @erjianqing @bzbarsky-apple

# Interaction model - non-ember
# Protocol implementation for IM interactions between nodes, matching spec
/src/app/ @yunhanw-google @bzbarsky-apple @mrjerryjohns

# Interaction model - code generation
# CHIP-specific infrastructure for generating code: helper js methods, scripts
# and code layout
/src/app/zap-templates/ @vivien-apple @erjianqing

# ZAP suppport
# UI for editing XML, generates code from such ZML and configuration files
# NOT part of CHIP however CHIP relies heavily on ZAP.
#    @vivien-apple  @tecimovic

# 'Standard' cluster implementations (server side)
# Clusters shipped with the sdk, can be integrated as-is or used as a template
/src/app/clusters/ @vivien-apple

# Onboarding payload
# Parsing and generation of codes (includes QR and NFC), numeric pairing payload
/src/setup_payload/ @shana-apple @vivien-apple @jrhees-cae

# Device Layer
# Porting interfaces, scaffolding for building an example firmware
/src/platform/ @mspang @yufengwangca
/src/include/platform/ @mspang @yufengwangca

# Persistent storage
# Save state across reboots
/src/platform/*/KeyValueStore* @rgoliver

# Python bindings for CHIP - CLI
# Allows python code to use CHIP, generally targeted towards automation
/src/controller/python/ @andy31415 @erjianqing

# CHIP-tool C++ CLI
# Command line interface to chip as a client (controller and commisioner)
# Includes generated code for every base cluster
/examples/chip-tool/ @vivien-apple

# CHIP-tool iOS UI
/src/darwin/CHIPTool/ @shana-apple

# CHIP-tool Android
/src/android/CHIPTool/ @austinh0
/src/controller/java/ @austinh0

# End2End autogenerated tests
/src/darwin/Framework/Chip-templates/ @vivien-apple
/src/app/tests/suites/ @vivien-apple

# End2End cirque tests
# Simulate topology (cirque) and ptyhon-based test automation
/src/test_driver/linux/cirque/ @erjianqing @yunhanw-google

# Thread integration
# Thread-specific functionality (network provisioning, operational discovery, SRP registration etc.)
/src/platform/OpenThread/ @bukepo
/src/platform/*/ThreadStackmanagerImpl.* @bukepo

# Inet
# Networking abstraction layer (UDP-endpoint, TCP-endpoint, InetLayerBasis)
/src/inet/ @kpschoedel 

# System layer
/src/system/ @kpschoedel 

# BLE support
/src/ble/ @yunhanw-google

# CHIP Shell
# Command-line UART/stdin interface as a side-channel to CHIP accessories
# Aimed as user-friendly/manual control
/src/examples/shell/ @gjc13 @yufengwangca

# RPC
# Side-channlel command path (outside chip), generally for automation and debugging
# Aimed as "scriptable" when compared to shell
/examples/common/pigweed/ @rgoliver
/examples/pigweed-app/ @rgoliver

# Tooling for crypto manual generation
# Generates data for sample PKI
/src/tools/chip-cert/ @emargolis

# Channel API
# Construct a transport/secure session based on peer info and transport type.
# Focused on CASE session establishment
/src/channel/ @kghost

# Darwin framework
# Exposes a darwin API (Objective-C/swift rather than raw C++ API) for darwin
# applications
/src/darwin/Framework/ @shana-apple @vivien-apple @pan-apple

Fix clear-config in build-all-clusters-app.py (#8260)
  scripts/examples/build-all-clusters-app.py
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Fix test script and improve signing unit test
  scripts/tests/test_suites.sh
  src/crypto/tests/CHIPCryptoPALTest.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Restyled by shellharden
  scripts/tests/test_suites.sh
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

run_zaptool script: fix CWD cornercase
  scripts/tools/zap/run_zaptool.sh
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Allow passing FixedSpan to TLVWriter::Put.
  src/lib/core/CHIPTLV.h
  src/lib/support/Span.h
  src/lib/support/tests/TestSpan.cpp
Owners: @yunhanw-google, @bzbarsky-apple, @shana-apple, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Restyled by shfmt
  scripts/tools/zap/run_zaptool.sh
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

build fixes
  src/crypto/hsm/nxp/CHIPCryptoPALHsm_SE05X_Spake2p.cpp
  src/platform/mbed/BLEManagerImpl.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @mspang, @yufengwangca

Remove error erasures
  src/app/server/Server.cpp
  src/ble/BLEEndPoint.cpp
  src/ble/BtpEngine.cpp
  src/controller/CHIPDevice.cpp
  src/controller/CHIPDeviceController.cpp
  src/credentials/CHIPCertFromX509.cpp
  src/crypto/CHIPCryptoPAL.cpp
  src/crypto/CHIPCryptoPALOpenSSL.cpp
  src/crypto/hsm/nxp/CHIPCryptoPALHsm_SE05X_Spake2p.cpp
  src/platform/mbed/BLEManagerImpl.cpp
Owners: @yunhanw-google, @bzbarsky-apple, @mrjerryjohns, @shana-apple, @pan-apple, @emargolis, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @mspang, @yufengwangca

Enable char_string and long_char_string Test Cluster attributes for controllers and the all-clusters-app
  examples/all-clusters-app/all-clusters-common/all-clusters-app.zap
  src/controller/data_model/controller-clusters.zap
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @shana-apple, @pan-apple

Add CHAR_STRING and LONG_CHAR_STRING to TestCluster.yaml and add some tests
  src/app/tests/suites/TestCluster.yaml
  src/app/zap-templates/zcl/data-model/chip/test-cluster.xml
Owners: @vivien-apple, @erjianqing

Update gen/ folders
  examples/all-clusters-app/all-clusters-common/gen/endpoint_config.h
  examples/chip-tool/commands/clusters/Commands.h
  examples/chip-tool/commands/tests/Commands.h
  src/app/common/gen/attribute-id.h
  src/app/common/gen/ids/Attributes.h
  src/controller/data_model/gen/CHIPClusters.cpp
  src/controller/data_model/gen/CHIPClusters.h
  src/controller/data_model/gen/chip-zcl-zpro-codec-api.h
  src/controller/data_model/gen/encoder.cpp
  src/controller/python/chip/clusters/CHIPClusters.cpp
  src/controller/python/chip/clusters/CHIPClusters.py
  src/darwin/Framework/CHIP/gen/CHIPClustersObjc.h
  src/darwin/Framework/CHIP/gen/CHIPClustersObjc.mm
  src/darwin/Framework/CHIPTests/CHIPClustersTests.m
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @vivien-apple, @yunhanw-google, @bzbarsky-apple, @mrjerryjohns, @shana-apple, @pan-apple, @andy31415, @erjianqing

Use to_underlying instead of manually writing it out or static asserts. (#8278)
  examples/chip-tool/commands/payload/SetupPayloadParseCommand.cpp
  src/app/util/message.cpp
  src/controller/CHIPDevice.cpp
  src/controller/CHIPDevice.h
  src/lib/core/CHIPTLV.h
  src/messaging/ExchangeContext.h
  src/messaging/ExchangeMgr.h
  src/protocols/bdx/BdxTransferSession.cpp
  src/protocols/secure_channel/CASESession.cpp
  src/protocols/secure_channel/PASESession.cpp
  src/protocols/secure_channel/StatusReport.cpp
  src/transport/raw/MessageHeader.cpp
  src/transport/raw/MessageHeader.h
Owners: @vivien-apple, @yunhanw-google, @bzbarsky-apple, @mrjerryjohns, @shana-apple, @pan-apple, @yufengwangca, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @kghost, @bzbarksy-apple

Remove goto exit in messaging layer
  src/lib/support/BUILD.gn
  src/lib/support/Defer.h
  src/lib/support/ReferenceCountedHandle.h
  src/lib/support/tests/BUILD.gn
  src/lib/support/tests/TestDefer.cpp
  src/messaging/ExchangeContext.cpp
  src/messaging/ExchangeContext.h
  src/messaging/ExchangeMgr.cpp
  src/messaging/ReliableMessageContext.cpp
  src/messaging/ReliableMessageMgr.cpp
Owners: @mspang, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @yufengwangca, @bzbarsky-apple

Restyled by clang-format
  src/messaging/ExchangeContext.h
Owners: @yufengwangca, @bzbarsky-apple

Reduce signing unit test case numbers for now
  src/crypto/tests/CHIPCryptoPALTest.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Apply review from @pan-apple
  src/crypto/CHIPCryptoPAL.h
  src/crypto/CHIPCryptoPALOpenSSL.cpp
Owners: @pan-apple, @emargolis

Refactor the exchange auto-close code into a separate method.
  src/messaging/ExchangeContext.cpp
  src/messaging/ExchangeContext.h
Owners: @yufengwangca, @bzbarsky-apple

Enable TV app testing
  .github/workflows/tests.yaml
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Add pin code parsing
  src/controller/python/chip-device-ctrl.py
Owners: @andy31415, @erjianqing

ESP32: Minor fix in lock-app RPC lock status (#8323)
  examples/lock-app/esp32/main/Rpc.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

[cirque] Fix cirque test output for reading attributes (#8318)
  src/test_driver/linux-cirque/test-mobile-device.py
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Revert "Rename seconds to Ms for IM subscribe (#8285)" (#8310)
  src/app/MessageDef/SubscribeRequest.cpp
  src/app/MessageDef/SubscribeRequest.h
  src/app/MessageDef/SubscribeResponse.cpp
  src/app/MessageDef/SubscribeResponse.h
  src/app/tests/TestMessageDef.cpp
Owners: @yunhanw-google, @bzbarsky-apple, @mrjerryjohns

Make TestWriteHandler test something closer to the actual write flow. (#8296)
  src/app/WriteHandler.h
  src/app/tests/TestWriteInteraction.cpp
Owners: @yunhanw-google, @bzbarsky-apple, @mrjerryjohns

[ChipTool] Update ReportingCommand.cpp to use the async GetConnectedDevice method
  examples/chip-tool/commands/reporting/ReportingCommand.cpp
  examples/chip-tool/commands/reporting/ReportingCommand.h
Owners: @vivien-apple

WIP
  src/platform/Darwin/SystemPlatformConfig.h
  src/platform/EFR32/SystemPlatformConfig.h
  src/platform/ESP32/SystemPlatformConfig.h
  src/platform/K32W/SystemPlatformConfig.h
  src/platform/Linux/SystemPlatformConfig.h
  src/platform/cc13x2_26x2/SystemPlatformConfig.h
  src/platform/mbed/SystemPlatformConfig.h
  src/platform/nrfconnect/SystemPlatformConfig.h
  src/platform/qpg/SystemPlatformConfig.h
  src/platform/telink/SystemPlatformConfig.h
  src/system/SystemConfig.h
  src/system/SystemLayer.cpp
Owners: @mspang, @yufengwangca, @kpschoedel

Update setup payload return
  src/controller/python/chip/setup_payload/setup_payload.py
  src/controller/python/test_client/rpc_client.py
Owners: @andy31415, @erjianqing

Add IM read event e2e test and fix the found bug
  src/app/ReadClient.h
  src/app/ReadHandler.cpp
  src/app/reporting/Engine.cpp
  src/app/tests/TestReadInteraction.cpp
  src/lib/support/CodeUtils.h
Owners: @yunhanw-google, @bzbarsky-apple, @mrjerryjohns, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Restyled by clang-format
  src/app/ReadClient.h
  src/app/reporting/Engine.cpp
  src/app/tests/TestReadInteraction.cpp
  src/lib/support/CodeUtils.h
Owners: @yunhanw-google, @bzbarsky-apple, @mrjerryjohns, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Renable cirque workflow
  .github/workflows/cirque.yaml
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

build fixes
  src/crypto/hsm/nxp/CHIPCryptoPALHsm_SE05X_Spake2p.cpp
  src/platform/mbed/BLEManagerImpl.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @mspang, @yufengwangca

Initial pybind11 Controller Wrapper
  .devcontainer/Dockerfile
  .gitmodules
  BUILD.gn
  build/config/BUILDCONFIG_PYTHON_CONTROLLER.gn
  integrations/docker/images/chip-build/Dockerfile
  scripts/build_python.sh
  scripts/tools/zap_regen_all.py
  src/pybindings/Bnder_Code_Gen.md
  src/pybindings/pycontroller/.gn
  src/pybindings/pycontroller/BUILD.gn
  src/pybindings/pycontroller/ChipCaller/Caller.py
  src/pybindings/pycontroller/ChipCaller/__init__.py
  src/pybindings/pycontroller/ChipDeviceCtrl.py
  src/pybindings/pycontroller/ControllerBindings/PyChip_BLEManager.cpp
  src/pybindings/pycontroller/ControllerBindings/PyChip_ControllerDeviceCommissioner.cpp
  src/pybindings/pycontroller/ControllerBindings/PyChip_ControllerInitParams.cpp
  src/pybindings/pycontroller/ControllerBindings/PyChip_DeviceAddressUpdateDelegate.cpp
  src/pybindings/pycontroller/ControllerBindings/PyChip_Inet_IPAddress.cpp
  src/pybindings/pycontroller/ControllerBindings/PyChip_Logging.cpp
  src/pybindings/pycontroller/ControllerBindings/PyChip_MDNS.cpp
  src/pybindings/pycontroller/ControllerBindings/PyChip_Main.cpp
  src/pybindings/pycontroller/ControllerBindings/PyChip_Memory.cpp
  src/pybindings/pycontroller/ControllerBindings/PyChip_PlatFormManager.cpp
  src/pybindings/pycontroller/ControllerBindings/PyChip_Rendezvous.cpp
  src/pybindings/pycontroller/ControllerBindings/PyChip_SetupPayload.cpp
  src/pybindings/pycontroller/ControllerBindings/PyChip_TransportType.cpp
  src/pybindings/pycontroller/TestChipDeviceCtrl.py
  src/pybindings/pycontroller/TestDeviceController.py
  src/pybindings/pycontroller/build-chip-wheel.py
  src/pybindings/pycontroller/chip-device-ctrl.py
  src/pybindings/pycontroller/chip-repl.py
  src/pybindings/pycontroller/clusters/CHIPClusters.cpp
  src/pybindings/pycontroller/clusters/CHIPClusters.py
  src/pybindings/pycontroller/clusters/__init__.py
  src/pybindings/pycontroller/create_error_wrapper.py
  src/pybindings/pycontroller/templates/helper.js
  src/pybindings/pycontroller/templates/python-CHIPClusters-cpp.zapt
  src/pybindings/pycontroller/templates/python-CHIPClusters-py.zapt
  src/pybindings/pycontroller/templates/templates.json
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @mspang

Restyled by clang-format
  src/pybindings/pycontroller/ControllerBindings/PyChip_ControllerDeviceCommissioner.cpp
  src/pybindings/pycontroller/ControllerBindings/PyChip_ControllerInitParams.cpp
  src/pybindings/pycontroller/ControllerBindings/PyChip_DeviceAddressUpdateDelegate.cpp
  src/pybindings/pycontroller/ControllerBindings/PyChip_Inet_IPAddress.cpp
  src/pybindings/pycontroller/ControllerBindings/PyChip_MDNS.cpp
  src/pybindings/pycontroller/ControllerBindings/PyChip_Main.cpp
  src/pybindings/pycontroller/ControllerBindings/PyChip_SetupPayload.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Add IM read event e2e test and fix the found bug
  src/app/ReadClient.h
  src/app/ReadHandler.cpp
  src/app/reporting/Engine.cpp
  src/app/tests/TestReadInteraction.cpp
  src/lib/support/CodeUtils.h
Owners: @yunhanw-google, @bzbarsky-apple, @mrjerryjohns, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Restyled by clang-format
  src/app/tests/TestReadInteraction.cpp
  src/lib/support/CodeUtils.h
Owners: @yunhanw-google, @bzbarsky-apple, @mrjerryjohns, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Fix test_suites.sh
  scripts/tests/test_suites.sh
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Fix the length check in reporting message handling.
  examples/pump-app/pump-common/gen/CHIPClientCallbacks.cpp
  examples/pump-controller-app/pump-controller-common/gen/CHIPClientCallbacks.cpp
  src/app/zap-templates/templates/app/CHIPClientCallbacks-src.zapt
  src/controller/data_model/gen/CHIPClientCallbacks.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @vivien-apple, @erjianqing, @shana-apple, @pan-apple

Please the gods of shell-harden
  scripts/tests/test_suites.sh
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Restyled by shellharden
  scripts/tests/test_suites.sh
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Please the gods of shell-harden some more
  scripts/tests/test_suites.sh
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

ESP32: Remove unused components from examples (#8250)
  examples/lock-app/esp32/CMakeLists.txt
  examples/lock-app/esp32/main/CMakeLists.txt
  examples/temperature-measurement-app/esp32/CMakeLists.txt
  examples/temperature-measurement-app/esp32/main/CMakeLists.txt
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs
