Repository project-chip/connectedhomeip, changes with the owners that .github/CODEOWNERS names for each.
All owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @mspang, @pan-apple, @emargolis, @andy31415, @yufengwangca, @kghost, @bzbarksy-apple, @bzbarsky-apple, @gjc13, @damian-nordic, @erjiaqing, @shana-apple, @yunhanw-google, @vivien-apple, @erjianqing, @mrjerryjohns, @jrhees-cae, @rgoliver, @austinh0, @bukepo, @kpschoedel

Add {{chip_server_global_response}} helper for the zap templates (#8117)
  examples/chip-tool/templates/commands.zapt
  examples/chip-tool/templates/reporting-commands.zapt
  src/app/zap-templates/common/ClustersHelper.js
  src/app/zap-templates/templates/app/CHIPClusters-src.zapt
  src/app/zap-templates/templates/app/CHIPClusters.zapt
  src/app/zap-templates/templates/app/attribute-size-src.zapt
  src/app/zap-templates/templates/app/chip-zcl-zpro-codec-api.zapt
  src/app/zap-templates/templates/app/encoder-src.zapt
  src/app/zap-templates/templates/app/helper.js
  src/app/zap-templates/templates/chip/helper.js
  src/controller/python/templates/python-CHIPClusters-cpp.zapt
  src/controller/python/templates/python-CHIPClusters-py.zapt
  src/darwin/Framework/CHIP/templates/CHIPClustersObjc-src.zapt
  src/darwin/Framework/CHIP/templates/CHIPClustersObjc.zapt
  src/darwin/Framework/CHIP/templates/clusters-tests.zapt
Owners: @vivien-apple, @erjianqing, @andy31415, @shana-apple, @pan-apple

Test add char string long char string (#8167)
  examples/all-clusters-app/all-clusters-common/all-clusters-app.zap
  examples/all-clusters-app/all-clusters-common/gen/endpoint_config.h
  examples/chip-tool/commands/clusters/Commands.h
  examples/chip-tool/commands/tests/Commands.h
  src/app/common/gen/attribute-id.h
  src/app/common/gen/ids/Attributes.h
  src/app/tests/suites/TestCluster.yaml
  src/app/zap-templates/zcl/data-model/chip/test-cluster.xml
  src/controller/data_model/controller-clusters.zap
  src/controller/data_model/gen/CHIPClusters.cpp
  src/controller/data_model/gen/CHIPClusters.h
  src/controller/data_model/gen/chip-zcl-zpro-codec-api.h
  src/controller/data_model/gen/encoder.cpp
  src/controller/python/chip/clusters/CHIPClusters.cpp
  src/controller/python/chip/clusters/CHIPClusters.py
  src/darwin/Framework/CHIP/gen/CHIPClustersObjc.h
  src/darwin/Framework/CHIP/gen/CHIPClustersObjc.mm
  src/darwin/Framework/CHIPTests/CHIPClustersTests.m
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @vivien-apple, @yunhanw-google, @bzbarsky-apple, @mrjerryjohns, @erjianqing, @shana-apple, @pan-apple, @andy31415

Refactor the exchange auto-close code into a separate method. (#8305)
  src/messaging/ExchangeContext.cpp
  src/messaging/ExchangeContext.h
Owners: @yufengwangca, @bzbarsky-apple

Fix names
  scripts/build/README.md
Owners: @mspang

Restyled by prettier-markdown
  scripts/build/README.md
Owners: @mspang

Restyle
  scripts/build/README.md
Owners: @mspang

Unified build script for chip - out of source build for all applications/targets/boards (#8221)
  scripts/build/README.md
  scripts/build/build/__init__.py
  scripts/build/build/factory.py
  scripts/build/build/targets.py
  scripts/build/build_examples.py
  scripts/build/builders/__init__.py
  scripts/build/builders/builder.py
  scripts/build/builders/efr32.py
  scripts/build/builders/esp32.py
  scripts/build/builders/linux.py
  scripts/build/builders/qpg.py
  scripts/build/shellrunner.py
  scripts/requirements.txt
Owners: @mspang, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Remove demo UDP advertisement from Thread samples
  examples/lighting-app/efr32/BUILD.gn
  examples/lighting-app/efr32/src/AppTask.cpp
  examples/lighting-app/mbed/main/AppTask.cpp
  examples/lighting-app/nrfconnect/CMakeLists.txt
  examples/lighting-app/nrfconnect/main/AppTask.cpp
  examples/lock-app/efr32/BUILD.gn
  examples/lock-app/efr32/src/AppTask.cpp
  examples/lock-app/nrfconnect/CMakeLists.txt
  examples/lock-app/nrfconnect/main/AppTask.cpp
  examples/platform/efr32/Service.cpp
  examples/platform/efr32/Service.h
  examples/platform/nrfconnect/app/Service.cpp
  examples/platform/nrfconnect/app/include/Service.h
  examples/pump-app/nrfconnect/CMakeLists.txt
  examples/pump-app/nrfconnect/main/AppTask.cpp
  examples/pump-controller-app/nrfconnect/CMakeLists.txt
  examples/pump-controller-app/nrfconnect/main/AppTask.cpp
  examples/shell/efr32/BUILD.gn
  examples/window-app/efr32/BUILD.gn
  examples/window-app/efr32/src/AppTask.cpp
Owners: @mspang, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Restyled by clang-format
  examples/lighting-app/mbed/main/AppTask.cpp
  examples/lighting-app/nrfconnect/main/AppTask.cpp
  examples/lock-app/nrfconnect/main/AppTask.cpp
  examples/pump-app/nrfconnect/main/AppTask.cpp
  examples/pump-controller-app/nrfconnect/main/AppTask.cpp
  examples/window-app/efr32/src/AppTask.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Renable cirque workflow (#8336)
  .github/workflows/cirque.yaml
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Remove demo UDP advertisement from Thread samples
  examples/lighting-app/efr32/BUILD.gn
  examples/lighting-app/efr32/src/AppTask.cpp
  examples/lighting-app/mbed/main/AppTask.cpp
  examples/lighting-app/nrfconnect/CMakeLists.txt
  examples/lighting-app/nrfconnect/main/AppTask.cpp
  examples/lock-app/efr32/BUILD.gn
  examples/lock-app/efr32/src/AppTask.cpp
  examples/lock-app/nrfconnect/CMakeLists.txt
  examples/lock-app/nrfconnect/main/AppTask.cpp
  examples/platform/efr32/Service.cpp
  examples/platform/efr32/Service.h
  examples/platform/nrfconnect/app/Service.cpp
  examples/platform/nrfconnect/app/include/Service.h
  examples/pump-app/nrfconnect/CMakeLists.txt
  examples/pump-app/nrfconnect/main/AppTask.cpp
  examples/pump-controller-app/nrfconnect/CMakeLists.txt
  examples/pump-controller-app/nrfconnect/main/AppTask.cpp
  examples/shell/efr32/BUILD.gn
  examples/window-app/efr32/BUILD.gn
  examples/window-app/efr32/src/AppTask.cpp
Owners: @mspang, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Remove error erasures (#8272)
  src/app/server/Server.cpp
  src/ble/BLEEndPoint.cpp
  src/ble/BtpEngine.cpp
  src/controller/CHIPDevice.cpp
  src/controller/CHIPDeviceController.cpp
  src/credentials/CHIPCertFromX509.cpp
  src/crypto/CHIPCryptoPAL.cpp
  src/crypto/CHIPCryptoPALOpenSSL.cpp
  src/crypto/hsm/nxp/CHIPCryptoPALHsm_SE05X_Spake2p.cpp
  src/platform/mbed/BLEManagerImpl.cpp
Owners: @yunhanw-google, @bzbarsky-apple, @mrjerryjohns, @shana-apple, @pan-apple, @emargolis, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @mspang, @yufengwangca

Support reading and writing attributes in Java
  src/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/clusterclient/OnOffClientFragment.kt
  src/android/CHIPTool/app/src/main/res/layout/on_off_client_fragment.xml
  src/android/CHIPTool/app/src/main/res/values/strings.xml
  src/controller/java/JniTypeWrappers.h
  src/controller/java/templates/CHIPClusters-JNI.zapt
  src/controller/java/templates/ChipClusters-java.zapt
  src/controller/java/templates/helper.js
  src/controller/java/templates/templates.json
Owners: @austinh0

Regenerate
  src/controller/java/gen/CHIPClusters-JNI.cpp
  src/controller/java/gen/ChipClusters.java
Owners: @austinh0

Restyled by clang-format
  src/controller/java/templates/helper.js
Owners: @austinh0

Allow passing FixedSpan to TLVWriter::Put. (#8294)
  src/lib/core/CHIPTLV.h
  src/lib/support/Span.h
  src/lib/support/tests/TestSpan.cpp
Owners: @yunhanw-google, @bzbarsky-apple, @shana-apple, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Fixed CHIP shell NFC commands compilation failure
  src/lib/shell/commands/NFC.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

[dns-sd] Add support for service subtypes on Thread devices (#8252)
  src/include/platform/ThreadStackManager.h
  src/lib/mdns/Advertiser.h
  src/lib/mdns/Discovery_ImplPlatform.cpp
  src/lib/support/Span.h
  src/platform/OpenThread/GenericThreadStackManagerImpl_OpenThread.cpp
  src/platform/OpenThread/GenericThreadStackManagerImpl_OpenThread.h
  src/platform/OpenThread/MdnsImpl.cpp
Owners: @mspang, @yufengwangca, @andy31415, @gjc13, @damian-nordic, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @bukepo

Update scripts/tools/zap/run_zaptool.sh
  scripts/tools/zap/run_zaptool.sh
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Add IM read event e2e test and fix the found bug
  src/app/ReadClient.h
  src/app/ReadHandler.cpp
  src/app/reporting/Engine.cpp
  src/app/tests/TestReadInteraction.cpp
Owners: @yunhanw-google, @bzbarsky-apple, @mrjerryjohns

Restyled by clang-format
  src/app/ReadHandler.cpp
  src/app/tests/TestReadInteraction.cpp
Owners: @yunhanw-google, @bzbarsky-apple, @mrjerryjohns

Update tests per latest comments
  .github/workflows/tests.yaml
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

ESP32: Add bridge app example to ESP32
  examples/bridge-app/esp32/CMakeLists.txt
  examples/bridge-app/esp32/main/CHIPDeviceManager.cpp
  examples/bridge-app/esp32/main/CMakeLists.txt
  examples/bridge-app/esp32/main/Device.cpp
  examples/bridge-app/esp32/main/DeviceCallbacks.cpp
  examples/bridge-app/esp32/main/Kconfig.projbuild
  examples/bridge-app/esp32/main/include/CHIPDeviceManager.h
  examples/bridge-app/esp32/main/include/Device.h
  examples/bridge-app/esp32/main/include/DeviceCallbacks.h
  examples/bridge-app/esp32/main/main.cpp
  examples/bridge-app/esp32/partitions.csv
  examples/bridge-app/esp32/third_party/connectedhomeip
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Restyled by whitespace
  examples/bridge-app/esp32/main/main.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Restyled by clang-format
  examples/bridge-app/esp32/main/main.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Revert "Update scripts/tools/zap/run_zaptool.sh"
  scripts/tools/zap/run_zaptool.sh
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Update examples/chip-tool/commands/reporting/ReportingCommand.cpp
  examples/chip-tool/commands/reporting/ReportingCommand.cpp
Owners: @vivien-apple

Extract OnOff cluster definition from general.xml and zll.xml to have it into its own file and reformat it to make it easier to read when comparing to the spec
  src/app/zap-templates/zcl/data-model/chip/onoff-cluster.xml
  src/app/zap-templates/zcl/data-model/silabs/general.xml
  src/app/zap-templates/zcl/data-model/silabs/zll.xml
  src/app/zap-templates/zcl/zcl.json
Owners: @vivien-apple, @erjianqing

Update some attributes name into the tests file to match the name update in onoff.xml
  src/app/tests/suites/Test_TC_OO_1_1.yaml
  src/app/tests/suites/Test_TC_OO_2_1.yaml
  src/app/tests/suites/Test_TC_OO_2_2.yaml
Owners: @vivien-apple

Update zap files to takes into account the names changes, as well as the Cluster Revision change
  examples/all-clusters-app/all-clusters-common/all-clusters-app.zap
  src/controller/data_model/controller-clusters.zap
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @shana-apple, @pan-apple

Use as[Upper/Lower]CamelCase instead of asCamelCased for src/darwin/Framework/CHIP/templates
  src/darwin/Framework/CHIP/templates/CHIPClustersObjc-src.zapt
  src/darwin/Framework/CHIP/templates/CHIPClustersObjc.zapt
  src/darwin/Framework/CHIP/templates/clusters-tests.zapt
  src/darwin/Framework/CHIP/templates/partials/test_cluster.zapt
Owners: @shana-apple, @vivien-apple, @pan-apple

Update gen/ folders
  examples/all-clusters-app/all-clusters-common/gen/endpoint_config.h
  examples/bridge-app/bridge-common/gen/endpoint_config.h
  examples/chip-tool/commands/clusters/Commands.h
  examples/chip-tool/commands/tests/Commands.h
  examples/lighting-app/lighting-common/gen/endpoint_config.h
  examples/lock-app/lock-common/gen/endpoint_config.h
  examples/pump-app/pump-common/gen/endpoint_config.h
  examples/pump-controller-app/pump-controller-common/gen/chip-zcl-zpro-codec-api.h
  examples/tv-app/tv-common/gen/endpoint_config.h
  src/app/common/gen/callback.h
  src/app/common/gen/client-command-macro.h
  src/controller/data_model/gen/CHIPClusters.cpp
  src/controller/data_model/gen/CHIPClusters.h
  src/controller/data_model/gen/chip-zcl-zpro-codec-api.h
  src/controller/data_model/gen/encoder.cpp
  src/controller/data_model/gen/endpoint_config.h
  src/controller/java/gen/CHIPClusters-JNI.cpp
  src/controller/java/gen/ChipClusters.java
  src/controller/python/chip/clusters/CHIPClusters.cpp
  src/controller/python/chip/clusters/CHIPClusters.py
  src/darwin/Framework/CHIP/gen/CHIPClustersObjc.h
  src/darwin/Framework/CHIP/gen/CHIPClustersObjc.mm
  src/darwin/Framework/CHIPTests/CHIPClustersTests.m
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @vivien-apple, @yunhanw-google, @bzbarsky-apple, @mrjerryjohns, @shana-apple, @pan-apple, @austinh0, @andy31415, @erjianqing

Introducing Device Attestation Flow to CHIP.
  examples/chip-tool/commands/clusters/Commands.h
  examples/lighting-app/lighting-common/gen/IMClusterCommandHandler.cpp
  examples/lighting-app/lighting-common/gen/endpoint_config.h
  examples/lighting-app/lighting-common/lighting-app.zap
  src/app/clusters/operational-credentials-server/dac_chain.h
  src/app/clusters/operational-credentials-server/operational-credentials-server.cpp
  src/app/common/gen/callback.h
  src/app/common/gen/client-command-macro.h
  src/app/common/gen/command-id.h
  src/app/common/gen/ids/Commands.h
  src/app/server/Server.cpp
  src/app/server/Server.h
  src/app/zap-templates/zcl/data-model/chip/operational-credentials-cluster.xml
  src/controller/CHIPDeviceController.cpp
  src/controller/CHIPDeviceController.h
  src/controller/dac_chain.h
  src/controller/data_model/controller-clusters.zap
  src/controller/data_model/gen/CHIPClientCallbacks.cpp
  src/controller/data_model/gen/CHIPClientCallbacks.h
  src/controller/data_model/gen/CHIPClusters.cpp
  src/controller/data_model/gen/CHIPClusters.h
  src/controller/data_model/gen/IMClusterCommandHandler.cpp
  src/controller/data_model/gen/chip-zcl-zpro-codec-api.h
  src/controller/data_model/gen/encoder.cpp
  src/controller/data_model/gen/endpoint_config.h
  src/controller/java/gen/CHIPClusters-JNI.cpp
  src/controller/java/gen/ChipClusters.java
  src/controller/python/chip/clusters/CHIPClusters.cpp
  src/controller/python/chip/clusters/CHIPClusters.py
  src/darwin/Framework/CHIP/gen/CHIPClustersObjc.h
  src/darwin/Framework/CHIP/gen/CHIPClustersObjc.mm
  src/transport/AdminPairingTable.cpp
  src/transport/AdminPairingTable.h
  src/transport/SecureSession.h
Owners: @vivien-apple, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @yunhanw-google, @bzbarsky-apple, @mrjerryjohns, @erjianqing, @shana-apple, @pan-apple, @austinh0, @andy31415

Use difflib instead of diff binary for checking changes
  scripts/build/test.py
Owners: @mspang

Fix diffs (generator vs lines) and logging
  scripts/build/test.py
Owners: @mspang

Fixed CHIP shell NFC commands compilation failure (#8365)
  src/lib/shell/commands/NFC.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Fix IM interval typo and tests
  src/app/MessageDef/SubscribeRequest.cpp
  src/app/MessageDef/SubscribeRequest.h
  src/app/MessageDef/SubscribeResponse.cpp
  src/app/MessageDef/SubscribeResponse.h
  src/app/tests/TestMessageDef.cpp
Owners: @yunhanw-google, @bzbarsky-apple, @mrjerryjohns

Restyled by clang-format
  src/app/MessageDef/SubscribeRequest.h
  src/app/MessageDef/SubscribeResponse.h
Owners: @yunhanw-google, @bzbarsky-apple, @mrjerryjohns

[ChipTool] Update ReportingCommand.cpp to use the async GetConnectedD… (#8373)
  examples/chip-tool/commands/reporting/ReportingCommand.cpp
  examples/chip-tool/commands/reporting/ReportingCommand.h
Owners: @vivien-apple

[TV app] Enable Tests (#8327)
  .github/workflows/tests.yaml
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

.github/CODEOWNERS:

# Current reviewers-XXX teams, who review everything for approval.
* @reviewers-amazon @reviewers-apple @reviewers-comcast @reviewers-google @reviewers-nordic @reviewers-samsung @reviewers-silabs


# BUILD system

*.gn @mspang
/build/ @mspang
/scripts/build/ @mspang

# Crypto
# Crypto primitives and high level API, generally on top of mbedtls and openssl
/src/crypto/* @pan-apple @emargolis
/src/credentials/ @pan-apple @emargolis

# Transport
# Send and receive data abstracting away the underlying protocol (UDP, TCP, BLE)
/src/transport/ @andy31415 @pan-apple

# Session establishment
# Establish a secure session (encryption keys) from one node to another.
# Includes CASE and PASE + session tracking and resumptioon
/src/protocols/secure_channel/ @pan-apple

# Message Layer
# CRMP and packet headers, generally coupled with SecureSessionManager
/src/messaging @yufengwangca @kghost @bzbarksy-apple
/src/transport/raw/MessageHeader.* @yufengwangca @kghost @bzbarksy-apple

# SecureSessionManager
# Manages per-session encryption keys and new session establishment
/src/transport/SecureSessionMgr.* @pan-apple

# Exchange management
# Joins requests and responses or ties a series of messages belonging to the 
# same protocol interaction
/src/messaging/ @yufengwangca @bzbarsky-apple
/src/channel/ @yufengwangca @bzbarsky-apple

# DNS-SD discovery and advertisement
# Advertise chip devices for commisioning, operational and discover such devices
/src/lib/mdns/ @andy31415 @gjc13 @damian-nordic

# Commisioning controller/flow
# Example of a comisioning sequence
/src/controller/ @pan-apple @erjiaqing

# Operational credentials management
# Signing certificates, maintaining roots of trust, validation, fabric management
/src/controller/ @shana-apple @pan-apple
/src/transport/AdminPairingTable.* @shana-apple @pan-apple

# TLV encoding/decoding to/from byte buffers
/src/lib/core/CHIPTLV* @yunhanw-google @bzbarsky-apple @shana-apple

# Interaction model - ember implementation
# ZCL protocol implementation: ZCL encoding to be sent over the wire as a 
# ZigbeePro protocol implementation
/src/app/util/ @vivien-apple @erjianqing @bzbarsky-apple

# Interaction model - non-ember
# Protocol implementation for IM interactions between nodes, matching spec
/src/app/ @yunhanw-google @bzbarsky-apple @mrjerryjohns

# Interaction model - code generation
# CHIP-specific infrastructure for generating code: helper js methods, scripts
# and code layout
/src/app/zap-templates/ @vivien-apple @erjianqing

# ZAP suppport
# UI for editing XML, generates code from such ZML and configuration files
# NOT part of CHIP however CHIP relies heavily on ZAP.
#    @vivien-apple  @tecimovic

# 'Standard' cluster implementations (server side)
# Clusters shipped with the sdk, can be integrated as-is or used as a template
/src/app/clusters/ @vivien-apple

# Onboarding payload
# Parsing and generation of codes (includes QR and NFC), numeric pairing payload
/src/setup_payload/ @shana-apple @vivien-apple @jrhees-cae

# Device Layer
# Porting interfaces, scaffolding for building an example firmware
/src/platform/ @mspang @yufengwangca
/src/include/platform/ @mspang @yufengwangca

# Persistent storage
# Save state across reboots
/src/platform/*/KeyValueStore* @rgoliver

# Python bindings for CHIP - CLI
# Allows python code to use CHIP, generally targeted towards automation
/src/controller/python/ @andy31415 @erjianqing

# CHIP-tool C++ CLI
# Command line interface to chip as a client (controller and commisioner)
# Includes generated code for every base cluster
/examples/chip-tool/ @vivien-apple

# CHIP-tool iOS UI
/src/darwin/CHIPTool/ @shana-apple

# CHIP-tool Android
/src/android/CHIPTool/ @austinh0
/src/controller/java/ @austinh0

# End2End autogenerated tests
/src/darwin/Framework/Chip-templates/ @vivien-apple
/src/app/tests/suites/ @vivien-apple

# End2End cirque tests
# Simulate topology (cirque) and ptyhon-based test automation
/src/test_driver/linux/cirque/ @erjianqing @yunhanw-google

# Thread integration
# Thread-specific functionality (network provisioning, operational discovery, SRP registration etc.)
/src/platform/OpenThread/ @bukepo
/src/platform/*/ThreadStackmanagerImpl.* @bukepo

# Inet
# Networking abstraction layer (UDP-endpoint, TCP-endpoint, InetLayerBasis)
/src/inet/ @kpschoedel 

# System layer
/src/system/ @kpschoedel 

# BLE support
/src/ble/ @yunhanw-google

# CHIP Shell
# Command-line UART/stdin interface as a side-channel to CHIP accessories
# Aimed as user-friendly/manual control
/src/examples/shell/ @gjc13 @yufengwangca

# RPC
# Side-channlel command path (outside chip), generally for automation and debugging
# Aimed as "scriptable" when compared to shell
/examples/common/pigweed/ @rgoliver
/examples/pigweed-app/ @rgoliver

# Tooling for crypto manual generation
# Generates data for sample PKI
/src/tools/chip-cert/ @emargolis

# Channel API
# Construct a transport/secure session based on peer info and transport type.
# Focused on CASE session establishment
/src/channel/ @kghost

# Darwin framework
# Exposes a darwin API (Objective-C/swift rather than raw C++ API) for darwin
# applications
/src/darwin/Framework/ @shana-apple @vivien-apple @pan-apple
