Repository project-chip/connectedhomeip, changes with the owners that .github/CODEOWNERS names for each.
All owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @mspang, @pan-apple, @emargolis, @andy31415, @yufengwangca, @kghost, @bzbarksy-apple, @bzbarsky-apple, @gjc13, @damian-nordic, @erjiaqing, @shana-apple, @yunhanw-google, @vivien-apple, @erjianqing, @mrjerryjohns, @jrhees-cae, @rgoliver, @austinh0, @bukepo, @kpschoedel

Implement DisarmFailSafe callback for general commissioning cluster
  src/include/platform/internal/DeviceControlServer.h
  src/platform/DeviceControlServer.cpp
Owners: @mspang, @yufengwangca

remove "using namespace" statements
  examples/ota-provider-app/linux/main.cpp
  examples/ota-provider-app/ota-provider-common/BdxOtaSender.cpp
  examples/ota-provider-app/ota-provider-common/OTAProviderExample.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

add constexpr for endpoint id and fixup TODO message
  examples/ota-provider-app/linux/main.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Fix DNS-SD behavior relating to commissioning (#8888)
  examples/minimal-mdns/advertiser.cpp
  examples/platform/linux/AppMain.cpp
  examples/platform/linux/CommissioneeShellCommands.cpp
  examples/platform/linux/Options.cpp
  examples/platform/linux/Options.h
  src/app/server/Mdns.cpp
  src/app/server/Mdns.h
  src/app/server/RendezvousServer.cpp
  src/app/server/Server.cpp
  src/app/server/Server.h
  src/controller/CHIPDeviceController.h
  src/lib/core/CHIPConfig.h
  src/lib/mdns/Advertiser.h
  src/lib/mdns/Advertiser_ImplMinimalMdns.cpp
  src/lib/mdns/Discovery_ImplPlatform.cpp
  src/lib/mdns/minimal/tests/TestAdvertiser.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @yunhanw-google, @bzbarsky-apple, @mrjerryjohns, @shana-apple, @pan-apple, @andy31415, @gjc13, @damian-nordic

Restyled by clang-format
  src/platform/Linux/MdnsImpl.cpp
  src/platform/tests/TestMdns.cpp
Owners: @mspang, @yufengwangca

Initial pybind11 Controller Wrapper
  .github/workflows/build.yaml
  .github/workflows/darwin.yaml
  .gitmodules
  BUILD.gn
  build/config/compiler/BUILD.gn
  integrations/docker/images/chip-build/Dockerfile
  integrations/docker/images/chip-build/version
  scripts/build_python.sh
  src/pybindings/pycontroller/BUILD.gn
  src/pybindings/pycontroller/ControllerBindings/PyChip_Main.cpp
  src/pybindings/pycontroller/build-chip-wheel.py
  src/pybindings/pycontroller/create_error_wrapper.py
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @mspang

update telink makefile to match the new zap generated outputs
  examples/lighting-app/telink/CMakeLists.txt
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

More compile logic updates
  examples/all-clusters-app/esp32/main/CMakeLists.txt
  examples/lock-app/mbed/CMakeLists.txt
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Initial pybind11 Controller Wrapper (#8428)
  .github/workflows/build.yaml
  .github/workflows/darwin.yaml
  .gitmodules
  BUILD.gn
  build/config/compiler/BUILD.gn
  integrations/docker/images/chip-build/Dockerfile
  integrations/docker/images/chip-build/version
  scripts/build_python.sh
  src/pybindings/pycontroller/BUILD.gn
  src/pybindings/pycontroller/ControllerBindings/PyChip_Main.cpp
  src/pybindings/pycontroller/build-chip-wheel.py
  src/pybindings/pycontroller/create_error_wrapper.py
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @mspang

Set response timeout value during echo SendMessage (#9096)
  src/protocols/echo/EchoClient.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Add argument to AdvertiseCommissionableNode for M5Stack
  examples/all-clusters-app/esp32/main/main.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Fix namespace, add basic and enhanced options for commisioning
  examples/all-clusters-app/esp32/main/main.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Fix typo
  examples/all-clusters-app/esp32/main/main.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Add ChipMdnsShutdown()
  src/controller/java/MdnsImpl.cpp
  src/lib/mdns/platform/Mdns.h
  src/platform/Darwin/MdnsImpl.cpp
  src/platform/ESP32/MdnsImpl.cpp
  src/platform/Linux/MdnsImpl.cpp
  src/platform/Linux/MdnsImpl.h
  src/platform/OpenThread/MdnsImpl.cpp
  src/platform/tests/TestMdns.cpp
Owners: @austinh0, @andy31415, @gjc13, @damian-nordic, @mspang, @yufengwangca, @bukepo

restyle
  src/platform/Linux/MdnsImpl.cpp
  src/platform/tests/TestMdns.cpp
Owners: @mspang, @yufengwangca

Add argument to AdvertiseCommissionableNode for M5Stack (#9114)
  examples/all-clusters-app/esp32/main/main.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Add On/Off Switch Configuration cluster to the Controller and Lighting app.
  examples/all-clusters-app/all-clusters-common/all-clusters-app.zap
  examples/lighting-app/efr32/src/ZclCallbacks.cpp
  examples/lighting-app/lighting-common/lighting-app.zap
  src/app/zap_cluster_list.py
  src/controller/data_model/controller-clusters.zap
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @yunhanw-google, @bzbarsky-apple, @mrjerryjohns, @shana-apple, @pan-apple

Commit generated files for On/Off Switch Configuration cluster addition
  examples/all-clusters-app/all-clusters-common/gen/callback-stub.cpp
  examples/all-clusters-app/all-clusters-common/gen/endpoint_config.h
  examples/all-clusters-app/all-clusters-common/gen/gen_config.h
  examples/chip-tool/commands/clusters/Commands.h
  examples/lighting-app/lighting-common/gen/CHIPClientCallbacks.cpp
  examples/lighting-app/lighting-common/gen/CHIPClientCallbacks.h
  examples/lighting-app/lighting-common/gen/CHIPClusters.cpp
  examples/lighting-app/lighting-common/gen/CHIPClusters.h
  examples/lighting-app/lighting-common/gen/IMClusterCommandHandler.cpp
  examples/lighting-app/lighting-common/gen/callback-stub.cpp
  examples/lighting-app/lighting-common/gen/endpoint_config.h
  examples/lighting-app/lighting-common/gen/gen_config.h
  src/controller/data_model/gen/CHIPClusters.cpp
  src/controller/data_model/gen/CHIPClusters.h
  src/controller/data_model/gen/callback-stub.cpp
  src/controller/data_model/gen/endpoint_config.h
  src/controller/data_model/gen/gen_config.h
  src/controller/java/gen/CHIPClusters-JNI.cpp
  src/controller/java/gen/ChipClusters.java
  src/controller/python/chip/clusters/CHIPClusters.cpp
  src/controller/python/chip/clusters/CHIPClusters.py
  src/darwin/Framework/CHIP/gen/CHIPClustersObjc.h
  src/darwin/Framework/CHIP/gen/CHIPClustersObjc.mm
  src/darwin/Framework/CHIPTests/CHIPClustersTests.m
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @vivien-apple, @shana-apple, @pan-apple, @austinh0, @andy31415, @erjianqing

esp32 compiles now
  examples/all-clusters-app/esp32/main/CMakeLists.txt
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Bind SDK ChipError and ErrorStr
  src/pybindings/pycontroller/BUILD.gn
  src/pybindings/pycontroller/ControllerBindings/PyChip_ChipError.cpp
  src/pybindings/pycontroller/ControllerBindings/PyChip_ErrorStr.cpp
  src/pybindings/pycontroller/ControllerBindings/PyChip_Main.cpp
  src/pybindings/pycontroller/create_error_wrapper.py
  src/pybindings/pycontroller/pychip/__init__.py
Owners: @mspang, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

merge master and regen
  examples/ota-provider-app/ota-provider-common/gen/callback-stub.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Add On/Off Switch Configuration cluster to the Controller and Lighting app.
  examples/all-clusters-app/all-clusters-common/all-clusters-app.zap
  examples/lighting-app/efr32/src/ZclCallbacks.cpp
  examples/lighting-app/lighting-common/lighting-app.zap
  src/app/zap_cluster_list.py
  src/controller/data_model/controller-clusters.zap
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @yunhanw-google, @bzbarsky-apple, @mrjerryjohns, @shana-apple, @pan-apple

Commit generated files for On/Off Switch Configuration cluster addition
  examples/all-clusters-app/all-clusters-common/gen/callback-stub.cpp
  examples/all-clusters-app/all-clusters-common/gen/endpoint_config.h
  examples/all-clusters-app/all-clusters-common/gen/gen_config.h
  examples/chip-tool/commands/clusters/Commands.h
  examples/lighting-app/lighting-common/gen/CHIPClientCallbacks.cpp
  examples/lighting-app/lighting-common/gen/CHIPClientCallbacks.h
  examples/lighting-app/lighting-common/gen/CHIPClusters.cpp
  examples/lighting-app/lighting-common/gen/CHIPClusters.h
  examples/lighting-app/lighting-common/gen/IMClusterCommandHandler.cpp
  examples/lighting-app/lighting-common/gen/callback-stub.cpp
  examples/lighting-app/lighting-common/gen/endpoint_config.h
  examples/lighting-app/lighting-common/gen/gen_config.h
  src/controller/data_model/gen/CHIPClusters.cpp
  src/controller/data_model/gen/CHIPClusters.h
  src/controller/data_model/gen/callback-stub.cpp
  src/controller/data_model/gen/endpoint_config.h
  src/controller/data_model/gen/gen_config.h
  src/controller/java/gen/CHIPClusters-JNI.cpp
  src/controller/java/gen/ChipClusters.java
  src/controller/python/chip/clusters/CHIPClusters.cpp
  src/controller/python/chip/clusters/CHIPClusters.py
  src/darwin/Framework/CHIP/gen/CHIPClustersObjc.h
  src/darwin/Framework/CHIP/gen/CHIPClustersObjc.mm
  src/darwin/Framework/CHIPTests/CHIPClustersTests.m
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @vivien-apple, @shana-apple, @pan-apple, @austinh0, @andy31415, @erjianqing

Enforce use of API via System::Layer
  src/inet/TCPEndPoint.cpp
  src/system/WatchableEventManagerLibevent.h
  src/system/WatchableEventManagerSelect.h
Owners: @kpschoedel

also include dispatch case
  src/inet/RawEndPoint.cpp
  src/inet/TCPEndPoint.cpp
  src/inet/UDPEndPoint.cpp
  src/platform/Darwin/PlatformManagerImpl.cpp
  src/system/SystemLayer.cpp
  src/system/SystemLayer.h
  src/system/WatchableEventManagerSelect.h
Owners: @kpschoedel, @mspang, @yufengwangca

Restyled by clang-format
  examples/lighting-app/efr32/src/ZclCallbacks.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Restyled by autopep8
  src/app/zap_cluster_list.py
Owners: @yunhanw-google, @bzbarsky-apple, @mrjerryjohns

Make the bridge app compile on esp32
  examples/bridge-app/esp32/main/CMakeLists.txt
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Add the apps, however they do not currently compile
  scripts/build/build/factory.py
  scripts/build/build/targets.py
  scripts/build/builders/nrf.py
Owners: @mspang

Add temperature measurement app to the build_examples.py script
  scripts/build/build/factory.py
  scripts/build/build/targets.py
  scripts/build/builders/esp32.py
Owners: @mspang

Update the exchange match logic to align with the latest spec proposal
  src/app/CommandSender.cpp
  src/app/WriteClient.cpp
  src/messaging/ExchangeContext.cpp
  src/messaging/tests/echo/echo_requester.cpp
Owners: @yunhanw-google, @bzbarsky-apple, @mrjerryjohns, @yufengwangca

Make mLocalKeyId and mPeerKeyId optional
  src/transport/SecureSessionMgr.cpp
  src/transport/SessionHandle.h
  src/transport/tests/BUILD.gn
  src/transport/tests/TestSessionHandle.cpp
Owners: @pan-apple, @andy31415

Rename match to matchIncomingSession
  src/messaging/ExchangeContext.cpp
  src/transport/SessionHandle.h
  src/transport/tests/TestSessionHandle.cpp
Owners: @yufengwangca, @bzbarsky-apple, @andy31415, @pan-apple

Added temperature measurement app to vscode tasks
  .vscode/tasks.json
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Add missing comma in tasks.json list
  .vscode/tasks.json
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Fix unit tests
  scripts/build/expected_all_platform_commands.txt
Owners: @mspang

Update path to output dir for test purposes
  scripts/build/expected_all_platform_commands.txt
Owners: @mspang

Add terminating newlines to txt file for unit test
  scripts/build/expected_all_platform_commands.txt
Owners: @mspang

Commit generated files
  examples/all-clusters-app/all-clusters-common/gen/endpoint_config.h
  examples/lighting-app/lighting-common/gen/CHIPClientCallbacks.cpp
  examples/lighting-app/lighting-common/gen/CHIPClientCallbacks.h
  examples/lighting-app/lighting-common/gen/CHIPClusters.cpp
  examples/lighting-app/lighting-common/gen/CHIPClusters.h
  examples/lighting-app/lighting-common/gen/IMClusterCommandHandler.cpp
  examples/lighting-app/lighting-common/gen/endpoint_config.h
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

address review comments
  src/app/clusters/operational-credentials-server/operational-credentials-server.cpp
  src/credentials/CHIPCert.h
  src/protocols/secure_channel/CASESession.cpp
  src/transport/FabricTable.cpp
  src/transport/FabricTable.h
Owners: @vivien-apple, @pan-apple, @emargolis, @andy31415

.github/CODEOWNERS:

# Current reviewers-XXX teams, who review everything for approval.
* @reviewers-amazon @reviewers-apple @reviewers-comcast @reviewers-google @reviewers-nordic @reviewers-samsung @reviewers-silabs


# BUILD system

*.gn @mspang
/build/ @mspang
/scripts/build/ @mspang

# Crypto
# Crypto primitives and high level API, generally on top of mbedtls and openssl
/src/crypto/* @pan-apple @emargolis
/src/credentials/ @pan-apple @emargolis

# Transport
# Send and receive data abstracting away the underlying protocol (UDP, TCP, BLE)
/src/transport/ @andy31415 @pan-apple

# Session establishment
# Establish a secure session (encryption keys) from one node to another.
# Includes CASE and PASE + session tracking and resumptioon
/src/protocols/secure_channel/ @pan-apple

# Message Layer
# CRMP and packet headers, generally coupled with SecureSessionManager
/src/messaging @yufengwangca @kghost @bzbarksy-apple
/src/transport/raw/MessageHeader.* @yufengwangca @kghost @bzbarksy-apple

# SecureSessionManager
# Manages per-session encryption keys and new session establishment
/src/transport/SecureSessionMgr.* @pan-apple

# Exchange management
# Joins requests and responses or ties a series of messages belonging to the 
# same protocol interaction
/src/messaging/ @yufengwangca @bzbarsky-apple
/src/channel/ @yufengwangca @bzbarsky-apple

# DNS-SD discovery and advertisement
# Advertise chip devices for commisioning, operational and discover such devices
/src/lib/mdns/ @andy31415 @gjc13 @damian-nordic

# Commisioning controller/flow
# Example of a comisioning sequence
/src/controller/ @pan-apple @erjiaqing

# Operational credentials management
# Signing certificates, maintaining roots of trust, validation, fabric management
/src/controller/ @shana-apple @pan-apple
/src/transport/AdminPairingTable.* @shana-apple @pan-apple

# TLV encoding/decoding to/from byte buffers
/src/lib/core/CHIPTLV* @yunhanw-google @bzbarsky-apple @shana-apple

# Interaction model - ember implementation
# ZCL protocol implementation: ZCL encoding to be sent over the wire as a 
# ZigbeePro protocol implementation
/src/app/util/ @vivien-apple @erjianqing @bzbarsky-apple

# Interaction model - non-ember
# Protocol implementation for IM interactions between nodes, matching spec
/src/app/ @yunhanw-google @bzbarsky-apple @mrjerryjohns

# Interaction model - code generation
# CHIP-specific infrastructure for generating code: helper js methods, scripts
# and code layout
/src/app/zap-templates/ @vivien-apple @erjianqing

# ZAP suppport
# UI for editing XML, generates code from such ZML and configuration files
# NOT part of CHIP however CHIP relies heavily on ZAP.
#    @vivien-apple  @tecimovic

# 'Standard' cluster implementations (server side)
# Clusters shipped with the sdk, can be integrated as-is or used as a template
/src/app/clusters/ @vivien-apple

# Onboarding payload
# Parsing and generation of codes (includes QR and NFC), numeric pairing payload
/src/setup_payload/ @shana-apple @vivien-apple @jrhees-cae

# Device Layer
# Porting interfaces, scaffolding for building an example firmware
/src/platform/ @mspang @yufengwangca
/src/include/platform/ @mspang @yufengwangca

# Persistent storage
# Save state across reboots
/src/platform/*/KeyValueStore* @rgoliver

# Python bindings for CHIP - CLI
# Allows python code to use CHIP, generally targeted towards automation
/src/controller/python/ @andy31415 @erjianqing

# CHIP-tool C++ CLI
# Command line interface to chip as a client (controller and commisioner)
# Includes generated code for every base cluster
/examples/chip-tool/ @vivien-apple

# CHIP-tool iOS UI
/src/darwin/CHIPTool/ @shana-apple

# CHIP-tool Android
/src/android/CHIPTool/ @austinh0
/src/controller/java/ @austinh0

# End2End autogenerated tests
/src/darwin/Framework/Chip-templates/ @vivien-apple
/src/app/tests/suites/ @vivien-apple

# End2End cirque tests
# Simulate topology (cirque) and ptyhon-based test automation
/src/test_driver/linux/cirque/ @erjianqing @yunhanw-google

# Thread integration
# Thread-specific functionality (network provisioning, operational discovery, SRP registration etc.)
/src/platform/OpenThread/ @bukepo
/src/platform/*/ThreadStackmanagerImpl.* @bukepo

# Inet
# Networking abstraction layer (UDP-endpoint, TCP-endpoint, InetLayerBasis)
/src/inet/ @kpschoedel 

# System layer
/src/system/ @kpschoedel 

# BLE support
/src/ble/ @yunhanw-google

# CHIP Shell
# Command-line UART/stdin interface as a side-channel to CHIP accessories
# Aimed as user-friendly/manual control
/src/examples/shell/ @gjc13 @yufengwangca

# RPC
# Side-channlel command path (outside chip), generally for automation and debugging
# Aimed as "scriptable" when compared to shell
/examples/common/pigweed/ @rgoliver
/examples/pigweed-app/ @rgoliver

# Tooling for crypto manual generation
# Generates data for sample PKI
/src/tools/chip-cert/ @emargolis

# Channel API
# Construct a transport/secure session based on peer info and transport type.
# Focused on CASE session establishment
/src/channel/ @kghost

# Darwin framework
# Exposes a darwin API (Objective-C/swift rather than raw C++ API) for darwin
# applications
/src/darwin/Framework/ @shana-apple @vivien-apple @pan-apple
