Repository project-chip/connectedhomeip, changes with the owners that .github/CODEOWNERS names for each.
All owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @mspang, @pan-apple, @emargolis, @andy31415, @yufengwangca, @kghost, @bzbarksy-apple, @bzbarsky-apple, @gjc13, @damian-nordic, @erjiaqing, @shana-apple, @yunhanw-google, @vivien-apple, @erjianqing, @mrjerryjohns, @jrhees-cae, @rgoliver, @austinh0, @bukepo, @kpschoedel

Cleanup Read (#9450)
  src/app/InteractionModelDelegate.h
  src/app/InteractionModelEngine.cpp
  src/app/InteractionModelEngine.h
  src/app/ReadClient.cpp
  src/app/ReadClient.h
  src/app/ReadHandler.cpp
  src/app/ReadHandler.h
  src/app/reporting/Engine.cpp
  src/app/reporting/Engine.h
  src/app/tests/TestReadInteraction.cpp
  src/app/tests/integration/chip_im_initiator.cpp
Owners: @yunhanw-google, @bzbarsky-apple, @mrjerryjohns

fix CI
  examples/tv-casting-app/linux/main.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Add lwip doc. (#9186)
  docs/discussion/lwip_ipv6.md
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

fix CI
  examples/all-clusters-app/esp32/main/main.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Fix Issue #9462: Misplaced validation in YAML test suites.
  src/app/zap-templates/common/ClusterTestGeneration.js
Owners: @vivien-apple, @erjianqing

[CI] Fix unit test TestConfigurationMgr random failure (#9409)
  src/platform/Linux/CHIPLinuxStorageIni.cpp
Owners: @mspang, @yufengwangca

unauthenticated-session
  src/app/server/RendezvousServer.cpp
  src/channel/ChannelContext.cpp
  src/controller/CHIPDevice.cpp
  src/controller/CHIPDeviceController.cpp
  src/lib/core/CHIPConfig.h
  src/lib/core/CHIPError.cpp
  src/lib/core/CHIPError.h
  src/lib/core/InPlace.h
  src/lib/support/Pool.h
  src/lib/support/ReferenceCountedHandle.h
  src/messaging/ApplicationExchangeDispatch.cpp
  src/messaging/ExchangeMessageDispatch.h
  src/messaging/ReliableMessageMgr.cpp
  src/messaging/tests/MessagingContext.cpp
  src/messaging/tests/MessagingContext.h
  src/messaging/tests/TestReliableMessageProtocol.cpp
  src/protocols/secure_channel/CASEServer.cpp
  src/protocols/secure_channel/CASESession.cpp
  src/protocols/secure_channel/PASESession.cpp
  src/protocols/secure_channel/SessionEstablishmentExchangeDispatch.cpp
  src/protocols/secure_channel/SessionEstablishmentExchangeDispatch.h
  src/protocols/secure_channel/tests/TestCASESession.cpp
  src/protocols/secure_channel/tests/TestPASESession.cpp
  src/transport/PeerMessageCounter.h
  src/transport/SecureSessionMgr.cpp
  src/transport/SecureSessionMgr.h
  src/transport/SessionHandle.h
  src/transport/UnauthenticatedSessionTable.h
  src/transport/tests/TestSecureSessionMgr.cpp
Owners: @yunhanw-google, @bzbarsky-apple, @mrjerryjohns, @kghost, @shana-apple, @pan-apple, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @yufengwangca, @andy31415

Restyled by clang-format
  src/transport/UnauthenticatedSessionTable.h
Owners: @andy31415, @pan-apple

TE5 fixes (#9449)
  examples/lighting-app/k32w/BUILD.gn
  examples/lighting-app/k32w/include/CHIPProjectConfig.h
  examples/lighting-app/k32w/main/AppTask.cpp
  examples/lock-app/k32w/BUILD.gn
  examples/lock-app/k32w/include/CHIPProjectConfig.h
  examples/platform/k32w/app/project_include/OpenThreadConfig.h
  src/lwip/k32w/lwipopts.h
  src/platform/K32W/BUILD.gn
  src/platform/K32W/K32WConfig.cpp
  src/platform/K32W/args.gni
Owners: @mspang, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @yufengwangca

[Telink]: Migrate to upstream zephyr (docker part) (#9163)
  integrations/docker/images/chip-build-telink/Dockerfile
  integrations/docker/images/chip-build-vscode/Dockerfile
  integrations/docker/images/chip-build/version
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

add OTA Requestor Cluster to Endpoint 0 for Darwin tests
  src/darwin/Framework/CHIP/templates/helper.js
Owners: @shana-apple, @vivien-apple, @pan-apple

fix unit tests
  src/lib/mdns/TxtFields.h
  src/lib/mdns/minimal/tests/TestAdvertiser.cpp
  src/lib/mdns/tests/TestTxtFields.cpp
Owners: @andy31415, @gjc13, @damian-nordic

fix CI
  src/app/server/Mdns.cpp
Owners: @yunhanw-google, @bzbarsky-apple, @mrjerryjohns

Color Control server refactor to use accessors functions for attributes
  src/app/clusters/color-control-server/color-control-server.cpp
Owners: @vivien-apple

Added support for static multi-end point for color-control
  src/app/clusters/color-control-server/color-control-server.cpp
  src/app/util/util.cpp
  zzz_generated/all-clusters-app/zap-generated/af-gen-event.h
  zzz_generated/lighting-app/zap-generated/af-gen-event.h
Owners: @vivien-apple, @yunhanw-google, @bzbarsky-apple, @mrjerryjohns, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

regenerate files after darwin endpoint change
  src/darwin/Framework/CHIPTests/CHIPClustersTests.m
Owners: @shana-apple, @vivien-apple, @pan-apple

Refactor color-control-server to c++ standards
  src/app/clusters/color-control-server/color-control-server.cpp
  src/app/clusters/color-control-server/color-control-server.h
  src/app/util/util.cpp
Owners: @vivien-apple, @yunhanw-google, @bzbarsky-apple, @mrjerryjohns

Ember event refactor
  src/app/clusters/color-control-server/color-control-server.cpp
  src/app/clusters/color-control-server/color-control-server.h
  src/app/util/af-event.cpp
  src/app/util/types_stub.h
  zzz_generated/all-clusters-app/zap-generated/af-gen-event.h
  zzz_generated/lighting-app/zap-generated/af-gen-event.h
Owners: @vivien-apple, @yunhanw-google, @bzbarsky-apple, @mrjerryjohns, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Removed includes that were moved to another directory
  src/app/clusters/color-control-server/color-control-server.cpp
Owners: @vivien-apple

Roll back Telink CI to previous docker file version for now to get it green.
  .github/workflows/examples-telink.yaml
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

refactoring rotating id unit tests
  src/setup_payload/tests/TestAdditionalDataPayload.cpp
Owners: @shana-apple, @vivien-apple, @jrhees-cae

Roll back Telink CI to previous docker file version for now to get it green. (#9471)
  .github/workflows/examples-telink.yaml
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Stop disabling the stack-usage diagnostic in various places.
  src/app/server/StorablePeerConnection.cpp
  src/app/server/StorablePeerConnection.h
  src/protocols/secure_channel/CASESession.cpp
  src/protocols/secure_channel/CASESession.h
  src/transport/FabricTable.cpp
  src/transport/FabricTable.h
Owners: @yunhanw-google, @bzbarsky-apple, @mrjerryjohns, @pan-apple, @andy31415

Addressing review comments
  src/transport/FabricTable.cpp
  src/transport/FabricTable.h
Owners: @andy31415, @pan-apple

submit WIP ota-requestor-app
  examples/ota-requestor-app/linux/.gn
  examples/ota-requestor-app/linux/BUILD.gn
  examples/ota-requestor-app/linux/PersistentStorage.cpp
  examples/ota-requestor-app/linux/PersistentStorage.h
  examples/ota-requestor-app/linux/README.md
  examples/ota-requestor-app/linux/args.gni
  examples/ota-requestor-app/linux/build_overrides
  examples/ota-requestor-app/linux/main.cpp
  examples/ota-requestor-app/linux/third_party/connectedhomeip
  examples/ota-requestor-app/ota-requestor-common/BDXDownloader.cpp
  examples/ota-requestor-app/ota-requestor-common/BDXDownloader.h
  examples/ota-requestor-app/ota-requestor-common/BUILD.gn
  examples/ota-requestor-app/ota-requestor-common/ota-requestor-app.zap
  zzz_generated/ota-requestor-app/zap-generated/CHIPClientCallbacks.cpp
  zzz_generated/ota-requestor-app/zap-generated/CHIPClientCallbacks.h
  zzz_generated/ota-requestor-app/zap-generated/CHIPClusters.cpp
  zzz_generated/ota-requestor-app/zap-generated/CHIPClusters.h
  zzz_generated/ota-requestor-app/zap-generated/IMClusterCommandHandler.cpp
  zzz_generated/ota-requestor-app/zap-generated/af-gen-event.h
  zzz_generated/ota-requestor-app/zap-generated/attribute-size.cpp
  zzz_generated/ota-requestor-app/zap-generated/callback-stub.cpp
  zzz_generated/ota-requestor-app/zap-generated/endpoint_config.h
  zzz_generated/ota-requestor-app/zap-generated/gen_config.h
  zzz_generated/ota-requestor-app/zap-generated/gen_tokens.h
Owners: @mspang, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Restyled by gn
  examples/ota-requestor-app/linux/BUILD.gn
Owners: @mspang

Stop disabling the stack-usage diagnostic in various places. (#9452)
  src/app/server/StorablePeerConnection.cpp
  src/app/server/StorablePeerConnection.h
  src/protocols/secure_channel/CASESession.cpp
  src/protocols/secure_channel/CASESession.h
  src/transport/FabricTable.cpp
  src/transport/FabricTable.h
Owners: @yunhanw-google, @bzbarsky-apple, @mrjerryjohns, @pan-apple, @andy31415

Remove no longer needed StorablePeerConnection class
  examples/lighting-app/mbed/CMakeLists.txt
  examples/lighting-app/nrfconnect/CMakeLists.txt
  examples/lighting-app/telink/CMakeLists.txt
  examples/lock-app/mbed/CMakeLists.txt
  examples/lock-app/nrfconnect/CMakeLists.txt
  examples/pump-app/nrfconnect/CMakeLists.txt
  examples/pump-controller-app/nrfconnect/CMakeLists.txt
  src/app/server/BUILD.gn
  src/app/server/StorablePeerConnection.cpp
  src/app/server/StorablePeerConnection.h
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @yunhanw-google, @bzbarsky-apple, @mrjerryjohns

Restyled by clang-format
  src/crypto/tests/CHIPCryptoPALTest.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Enable commissioner for tv-app (#9408)
  examples/platform/linux/ControllerShellCommands.cpp
  src/controller/CHIPDeviceController.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @shana-apple, @pan-apple

Fix mis-spellings of "commissioning" and confusing CommissioningComplete documentation.
  src/controller/CHIPDeviceController.h
  src/controller/python/ChipDeviceController-ScriptBinding.cpp
  src/controller/python/chip/ChipDeviceCtrl.py
Owners: @shana-apple, @pan-apple, @andy31415, @erjianqing

Address some not-quite-resolved review comments from PR 8107
  src/controller/CHIPDevice.cpp
  src/protocols/secure_channel/PASESession.h
  src/transport/PairingSession.h
Owners: @shana-apple, @pan-apple, @andy31415

Propagate the interface id from avahi in the Linux MDNS impl.
  src/platform/Linux/MdnsImpl.cpp
Owners: @mspang, @yufengwangca

Restyled by clang-format
  src/platform/Linux/MdnsImpl.cpp
Owners: @mspang, @yufengwangca

Propagate the interface id from avahi in the Linux MDNS impl.
  src/platform/Linux/MdnsImpl.cpp
Owners: @mspang, @yufengwangca

Fix incorrect boundary condition for MakeZclCharString.
  src/lib/support/ZclString.cpp
  src/lib/support/tests/TestZclString.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Endian-ness enforcement of generated compressed fabric ID
  src/transport/FabricTable.cpp
  src/transport/FabricTable.h
  src/transport/tests/BUILD.gn
  src/transport/tests/TestFabricTable.cpp
Owners: @andy31415, @pan-apple

[controller] reset Device state for usage in accessories
  src/controller/CHIPDevice.cpp
Owners: @shana-apple, @pan-apple

add unit test
  src/controller/tests/BUILD.gn
  src/controller/tests/TestDevice.cpp
Owners: @shana-apple, @pan-apple

[docker] Fix chip-build-nrf-platform Dockerfile
  integrations/docker/images/chip-build-nrf-platform/Dockerfile
  integrations/docker/images/chip-build/version
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

.github/CODEOWNERS:

# Current reviewers-XXX teams, who review everything for approval.
* @reviewers-amazon @reviewers-apple @reviewers-comcast @reviewers-google @reviewers-nordic @reviewers-samsung @reviewers-silabs


# BUILD system

*.gn @mspang
/build/ @mspang
/scripts/build/ @mspang

# Crypto
# Crypto primitives and high level API, generally on top of mbedtls and openssl
/src/crypto/* @pan-apple @emargolis
/src/credentials/ @pan-apple @emargolis

# Transport
# Send and receive data abstracting away the underlying protocol (UDP, TCP, BLE)
/src/transport/ @andy31415 @pan-apple

# Session establishment
# Establish a secure session (encryption keys) from one node to another.
# Includes CASE and PASE + session tracking and resumptioon
/src/protocols/secure_channel/ @pan-apple

# Message Layer
# CRMP and packet headers, generally coupled with SecureSessionManager
/src/messaging @yufengwangca @kghost @bzbarksy-apple
/src/transport/raw/MessageHeader.* @yufengwangca @kghost @bzbarksy-apple

# SecureSessionManager
# Manages per-session encryption keys and new session establishment
/src/transport/SecureSessionMgr.* @pan-apple

# Exchange management
# Joins requests and responses or ties a series of messages belonging to the 
# same protocol interaction
/src/messaging/ @yufengwangca @bzbarsky-apple
/src/channel/ @yufengwangca @bzbarsky-apple

# DNS-SD discovery and advertisement
# Advertise chip devices for commisioning, operational and discover such devices
/src/lib/mdns/ @andy31415 @gjc13 @damian-nordic

# Commisioning controller/flow
# Example of a comisioning sequence
/src/controller/ @pan-apple @erjiaqing

# Operational credentials management
# Signing certificates, maintaining roots of trust, validation, fabric management
/src/controller/ @shana-apple @pan-apple
/src/transport/AdminPairingTable.* @shana-apple @pan-apple

# TLV encoding/decoding to/from byte buffers
/src/lib/core/CHIPTLV* @yunhanw-google @bzbarsky-apple @shana-apple

# Interaction model - ember implementation
# ZCL protocol implementation: ZCL encoding to be sent over the wire as a 
# ZigbeePro protocol implementation
/src/app/util/ @vivien-apple @erjianqing @bzbarsky-apple

# Interaction model - non-ember
# Protocol implementation for IM interactions between nodes, matching spec
/src/app/ @yunhanw-google @bzbarsky-apple @mrjerryjohns

# Interaction model - code generation
# CHIP-specific infrastructure for generating code: helper js methods, scripts
# and code layout
/src/app/zap-templates/ @vivien-apple @erjianqing

# ZAP suppport
# UI for editing XML, generates code from such ZML and configuration files
# NOT part of CHIP however CHIP relies heavily on ZAP.
#    @vivien-apple  @tecimovic

# 'Standard' cluster implementations (server side)
# Clusters shipped with the sdk, can be integrated as-is or used as a template
/src/app/clusters/ @vivien-apple

# Onboarding payload
# Parsing and generation of codes (includes QR and NFC), numeric pairing payload
/src/setup_payload/ @shana-apple @vivien-apple @jrhees-cae

# Device Layer
# Porting interfaces, scaffolding for building an example firmware
/src/platform/ @mspang @yufengwangca
/src/include/platform/ @mspang @yufengwangca

# Persistent storage
# Save state across reboots
/src/platform/*/KeyValueStore* @rgoliver

# Python bindings for CHIP - CLI
# Allows python code to use CHIP, generally targeted towards automation
/src/controller/python/ @andy31415 @erjianqing

# CHIP-tool C++ CLI
# Command line interface to chip as a client (controller and commisioner)
# Includes generated code for every base cluster
/examples/chip-tool/ @vivien-apple

# CHIP-tool iOS UI
/src/darwin/CHIPTool/ @shana-apple

# CHIP-tool Android
/src/android/CHIPTool/ @austinh0
/src/controller/java/ @austinh0

# End2End autogenerated tests
/src/darwin/Framework/Chip-templates/ @vivien-apple
/src/app/tests/suites/ @vivien-apple

# End2End cirque tests
# Simulate topology (cirque) and ptyhon-based test automation
/src/test_driver/linux/cirque/ @erjianqing @yunhanw-google

# Thread integration
# Thread-specific functionality (network provisioning, operational discovery, SRP registration etc.)
/src/platform/OpenThread/ @bukepo
/src/platform/*/ThreadStackmanagerImpl.* @bukepo

# Inet
# Networking abstraction layer (UDP-endpoint, TCP-endpoint, InetLayerBasis)
/src/inet/ @kpschoedel 

# System layer
/src/system/ @kpschoedel 

# BLE support
/src/ble/ @yunhanw-google

# CHIP Shell
# Command-line UART/stdin interface as a side-channel to CHIP accessories
# Aimed as user-friendly/manual control
/src/examples/shell/ @gjc13 @yufengwangca

# RPC
# Side-channlel command path (outside chip), generally for automation and debugging
# Aimed as "scriptable" when compared to shell
/examples/common/pigweed/ @rgoliver
/examples/pigweed-app/ @rgoliver

# Tooling for crypto manual generation
# Generates data for sample PKI
/src/tools/chip-cert/ @emargolis

# Channel API
# Construct a transport/secure session based on peer info and transport type.
# Focused on CASE session establishment
/src/channel/ @kghost

# Darwin framework
# Exposes a darwin API (Objective-C/swift rather than raw C++ API) for darwin
# applications
/src/darwin/Framework/ @shana-apple @vivien-apple @pan-apple
