Repository project-chip/connectedhomeip, changes with the owners that .github/CODEOWNERS names for each.
All owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @mspang, @pan-apple, @emargolis, @andy31415, @yufengwangca, @kghost, @bzbarksy-apple, @bzbarsky-apple, @gjc13, @damian-nordic, @erjiaqing, @shana-apple, @yunhanw-google, @vivien-apple, @erjianqing, @mrjerryjohns, @jrhees-cae, @rgoliver, @austinh0, @bukepo, @kpschoedel

.github/CODEOWNERS:

# Current reviewers-XXX teams, who review everything for approval.
* @reviewers-amazon @reviewers-apple @reviewers-comcast @reviewers-google @reviewers-nordic @reviewers-samsung @reviewers-silabs


# BUILD system

*.gn @mspang
/build/ @mspang
/scripts/build/ @mspang

# Crypto
# Crypto primitives and high level API, generally on top of mbedtls and openssl
/src/crypto/* @pan-apple @emargolis
/src/credentials/ @pan-apple @emargolis

# Transport
# Send and receive data abstracting away the underlying protocol (UDP, TCP, BLE)
/src/transport/ @andy31415 @pan-apple

# Session establishment
# Establish a secure session (encryption keys) from one node to another.
# Includes CASE and PASE + session tracking and resumptioon
/src/protocols/secure_channel/ @pan-apple

# Message Layer
# CRMP and packet headers, generally coupled with SecureSessionManager
/src/messaging @yufengwangca @kghost @bzbarksy-apple
/src/transport/raw/MessageHeader.* @yufengwangca @kghost @bzbarksy-apple

# SecureSessionManager
# Manages per-session encryption keys and new session establishment
/src/transport/SecureSessionMgr.* @pan-apple

# Exchange management
# Joins requests and responses or ties a series of messages belonging to the 
# same protocol interaction
/src/messaging/ @yufengwangca @bzbarsky-apple
/src/channel/ @yufengwangca @bzbarsky-apple

# DNS-SD discovery and advertisement
# Advertise chip devices for commisioning, operational and discover such devices
/src/lib/mdns/ @andy31415 @gjc13 @damian-nordic

# Commisioning controller/flow
# Example of a comisioning sequence
/src/controller/ @pan-apple @erjiaqing

# Operational credentials management
# Signing certificates, maintaining roots of trust, validation, fabric management
/src/controller/ @shana-apple @pan-apple
/src/transport/AdminPairingTable.* @shana-apple @pan-apple

# TLV encoding/decoding to/from byte buffers
/src/lib/core/CHIPTLV* @yunhanw-google @bzbarsky-apple @shana-apple

# Interaction model - ember implementation
# ZCL protocol implementation: ZCL encoding to be sent over the wire as a 
# ZigbeePro protocol implementation
/src/app/util/ @vivien-apple @erjianqing @bzbarsky-apple

# Interaction model - non-ember
# Protocol implementation for IM interactions between nodes, matching spec
/src/app/ @yunhanw-google @bzbarsky-apple @mrjerryjohns

# Interaction model - code generation
# CHIP-specific infrastructure for generating code: helper js methods, scripts
# and code layout
/src/app/zap-templates/ @vivien-apple @erjianqing

# ZAP suppport
# UI for editing XML, generates code from such ZML and configuration files
# NOT part of CHIP however CHIP relies heavily on ZAP.
#    @vivien-apple  @tecimovic

# 'Standard' cluster implementations (server side)
# Clusters shipped with the sdk, can be integrated as-is or used as a template
/src/app/clusters/ @vivien-apple

# Onboarding payload
# Parsing and generation of codes (includes QR and NFC), numeric pairing payload
/src/setup_payload/ @shana-apple @vivien-apple @jrhees-cae

# Device Layer
# Porting interfaces, scaffolding for building an example firmware
/src/platform/ @mspang @yufengwangca
/src/include/platform/ @mspang @yufengwangca

# Persistent storage
# Save state across reboots
/src/platform/*/KeyValueStore* @rgoliver

# Python bindings for CHIP - CLI
# Allows python code to use CHIP, generally targeted towards automation
/src/controller/python/ @andy31415 @erjianqing

# CHIP-tool C++ CLI
# Command line interface to chip as a client (controller and commisioner)
# Includes generated code for every base cluster
/examples/chip-tool/ @vivien-apple

# CHIP-tool iOS UI
/src/darwin/CHIPTool/ @shana-apple

# CHIP-tool Android
/src/android/CHIPTool/ @austinh0
/src/controller/java/ @austinh0

# End2End autogenerated tests
/src/darwin/Framework/Chip-templates/ @vivien-apple
/src/app/tests/suites/ @vivien-apple

# End2End cirque tests
# Simulate topology (cirque) and ptyhon-based test automation
/src/test_driver/linux/cirque/ @erjianqing @yunhanw-google

# Thread integration
# Thread-specific functionality (network provisioning, operational discovery, SRP registration etc.)
/src/platform/OpenThread/ @bukepo
/src/platform/*/ThreadStackmanagerImpl.* @bukepo

# Inet
# Networking abstraction layer (UDP-endpoint, TCP-endpoint, InetLayerBasis)
/src/inet/ @kpschoedel 

# System layer
/src/system/ @kpschoedel 

# BLE support
/src/ble/ @yunhanw-google

# CHIP Shell
# Command-line UART/stdin interface as a side-channel to CHIP accessories
# Aimed as user-friendly/manual control
/src/examples/shell/ @gjc13 @yufengwangca

# RPC
# Side-channlel command path (outside chip), generally for automation and debugging
# Aimed as "scriptable" when compared to shell
/examples/common/pigweed/ @rgoliver
/examples/pigweed-app/ @rgoliver

# Tooling for crypto manual generation
# Generates data for sample PKI
/src/tools/chip-cert/ @emargolis

# Channel API
# Construct a transport/secure session based on peer info and transport type.
# Focused on CASE session establishment
/src/channel/ @kghost

# Darwin framework
# Exposes a darwin API (Objective-C/swift rather than raw C++ API) for darwin
# applications
/src/darwin/Framework/ @shana-apple @vivien-apple @pan-apple

Platform impl for commissionable node discovery
  src/lib/mdns/Discovery_ImplPlatform.cpp
  src/lib/mdns/Discovery_ImplPlatform.h
  src/lib/mdns/ServiceNaming.cpp
  src/lib/mdns/ServiceNaming.h
  src/lib/mdns/tests/TestServiceNaming.cpp
  src/platform/Darwin/MdnsImpl.cpp
  src/platform/Linux/MdnsImpl.cpp
Owners: @andy31415, @gjc13, @damian-nordic, @mspang, @yufengwangca

Remove empty lwip test
  src/BUILD.gn
  src/lwip/tests/BUILD.gn
  src/lwip/tests/tests.c
Owners: @mspang, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Controller: Add other mdns filters
  src/controller/CHIPDeviceController.cpp
  src/controller/CHIPDeviceController.h
  src/controller/python/ChipDeviceController-ScriptBinding.cpp
  src/controller/python/chip-device-ctrl.py
  src/controller/python/chip/ChipDeviceCtrl.py
Owners: @shana-apple, @pan-apple, @andy31415, @erjianqing

Bump Raspberry Pi Ubuntu Server version to 21.04
  docs/BUILDING.md
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

[Controller] Return an error during shutdown if no device layer is used and something unexpected happens during inet/system shutdown
  src/controller/CHIPDeviceController.cpp
Owners: @shana-apple, @pan-apple

Remove chip_stack_lock_tracking for Darwin since it has been added back by #7575
  src/platform/BUILD.gn
Owners: @mspang, @yufengwangca

Add more explicit failures when generating tests
  src/app/zap-templates/common/ClusterTestGeneration.js
Owners: @vivien-apple, @erjianqing

Fix CRMP resend null out retained buffer
  src/messaging/ApplicationExchangeDispatch.cpp
  src/messaging/ApplicationExchangeDispatch.h
  src/messaging/ExchangeMessageDispatch.cpp
  src/messaging/ExchangeMessageDispatch.h
  src/messaging/ReliableMessageMgr.cpp
  src/messaging/tests/TestReliableMessageProtocol.cpp
  src/protocols/secure_channel/SessionEstablishmentExchangeDispatch.cpp
  src/protocols/secure_channel/SessionEstablishmentExchangeDispatch.h
  src/transport/SecureSessionMgr.cpp
  src/transport/SecureSessionMgr.h
  src/transport/tests/TestSecureSessionMgr.cpp
Owners: @yufengwangca, @bzbarsky-apple, @pan-apple, @andy31415

Resolve comments
  src/messaging/ApplicationExchangeDispatch.cpp
  src/messaging/ExchangeMessageDispatch.cpp
  src/messaging/ExchangeMessageDispatch.h
  src/messaging/tests/TestReliableMessageProtocol.cpp
  src/protocols/secure_channel/SessionEstablishmentExchangeDispatch.cpp
  src/protocols/secure_channel/SessionEstablishmentExchangeDispatch.h
  src/transport/SecureSessionMgr.cpp
  src/transport/SecureSessionMgr.h
  src/transport/tests/TestSecureSessionMgr.cpp
Owners: @yufengwangca, @bzbarsky-apple, @pan-apple, @andy31415

Apply suggestions from code review
  src/transport/SecureSessionMgr.h
Owners: @pan-apple

Add the ability to disable some tests in the yaml file
  src/app/zap-templates/common/ClusterTestGeneration.js
Owners: @vivien-apple, @erjianqing

[nrfconnect] Fix build with Zephyr shell integration
  src/platform/nrfconnect/shell/BUILD.gn
Owners: @mspang, @yufengwangca

Replace OnOffCluster yaml test by Test_3_1_1, Test_3_2_1, Test_3_2_2
  examples/chip-tool/templates/partials/test_cluster.zapt
  examples/chip-tool/templates/tests-commands.zapt
  src/app/tests/suites/Test_3_1_1.yaml
  src/app/tests/suites/Test_3_2_1.yaml
  src/app/tests/suites/Test_3_2_2.yaml
  src/darwin/Framework/CHIP/templates/clusters-tests.zapt
  src/darwin/Framework/CHIP/templates/partials/test_cluster.zapt
Owners: @vivien-apple, @shana-apple, @pan-apple

Update gen/ folders
  examples/chip-tool/commands/tests/Commands.h
  src/darwin/Framework/CHIPTests/CHIPClustersTests.m
Owners: @vivien-apple, @shana-apple, @pan-apple

Make span more C++20 std::span like
  src/lib/support/Span.h
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Restyled by clang-format
  src/lib/support/Span.h
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Make span more C++20 std::span like
  src/lib/support/Span.h
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Remove PacketHandle in IM command
  src/app/Command.cpp
  src/app/Command.h
  src/app/CommandHandler.cpp
  src/app/CommandSender.cpp
  src/app/tests/TestCommandInteraction.cpp
Owners: @yunhanw-google, @bzbarsky-apple, @mrjerryjohns

When the "Test Suites" job fails on Darwin, upload core and object files as artifacts. (#7531)
  .github/workflows/tests.yaml
  scripts/tests/test_suites.sh
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Improve build coverage.
  .github/workflows/build.yaml
  .github/workflows/examples-linux-standalone.yaml
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Don't shut down already-shutdown IM objects.
  src/app/InteractionModelEngine.cpp
Owners: @yunhanw-google, @bzbarsky-apple, @mrjerryjohns

[nrfconnect] Reduce size of the Docker image (#7593)
  .github/workflows/examples-nrfconnect.yaml
  integrations/docker/images/chip-build-esp32/Dockerfile
  integrations/docker/images/chip-build-nrf-platform/Dockerfile
  integrations/docker/images/chip-build-vscode/Dockerfile
  integrations/docker/images/chip-build/version
  scripts/examples/nrfconnect_example.sh
  scripts/requirements.in
  scripts/requirements.txt
  scripts/setup/nrfconnect/update_ncs.py
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Apply suggestions from code review
  src/lib/support/Span.h
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Upload core files as artifacts on Linux when crashes happen in the "Test Suites - Linux" test.
  .github/workflows/tests.yaml
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Reduce iteration count for Darwin test for now.
  .github/workflows/tests.yaml
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Make span more C++20 std::span like (#7642)
  src/lib/support/Span.h
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

[nrfconnect] Fix build with Zephyr shell integration (#7639)
  src/platform/nrfconnect/shell/BUILD.gn
Owners: @mspang, @yufengwangca

Minimal DNS enabled
  config/mbed/chip-gn/BUILD.gn
  src/lib/mdns/minimal/BUILD.gn
  src/lib/mdns/minimal/core/BUILD.gn
  src/lib/mdns/minimal/records/BUILD.gn
  src/lib/mdns/minimal/records/tests/BUILD.gn
  src/lib/mdns/minimal/records/tests/TestResourceRecordTxt.cpp
  src/lib/mdns/minimal/responders/BUILD.gn
  src/lib/mdns/minimal/responders/tests/BUILD.gn
  src/test_driver/mbed/CMakeLists.txt
Owners: @mspang, @andy31415, @gjc13, @damian-nordic, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Revert "Mbed: Add fix to prevent undefined behaviour when using isgraph()."
  src/lib/support/CHIPArgParser.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Mbed: Enable unit tests
  config/mbed/chip-gn/BUILD.gn
  src/test_driver/mbed/CMakeLists.txt
  src/test_driver/mbed/config.in
Owners: @mspang, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Disable temporary SystemLayer tests.
  config/mbed/chip-gn/BUILD.gn
  src/test_driver/mbed/CMakeLists.txt
Owners: @mspang, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Inet IPv6 tests skip if IPv4 only exists.
  src/inet/tests/TestInetEndPoint.cpp
  src/test_driver/mbed/main/main.cpp
Owners: @kpschoedel, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Mbed: Add CY8CPROTO_062_4343W to supported targets list in mbed_test.h
  scripts/tests/mbed_tests.sh
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Fix messaging nullptr handling and BSD close return.
  src/messaging/MessageCounterSync.cpp
  src/platform/mbed/net/src/BSDSocket.cpp
  src/test_driver/mbed/CMakeLists.txt
Owners: @yufengwangca, @bzbarsky-apple, @mspang, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Mbed: Fix typo in .vscode/launch.json
  .vscode/launch.json
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Mbed: Enable 'Core' unit tests.
  config/mbed/chip-gn/BUILD.gn
  src/test_driver/mbed/CMakeLists.txt
Owners: @mspang, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Mbed: unit-tests: Disable 'Support' Tests.
  config/mbed/chip-gn/BUILD.gn
Owners: @mspang

Mbed: HACK: Fix build error with ErrorStatus enum values.
  src/system/SystemConfig.h
Owners: @kpschoedel

Mbed: Increase LwIP PBUF Pool size to 16.
  src/test_driver/mbed/mbed_app.json
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Mbed: unit-tests: Move test-driver/arch.c content to platform/arch.c
  src/platform/mbed/arch.c
  src/test_driver/mbed/CMakeLists.txt
  src/test_driver/mbed/arch.c
Owners: @mspang, @yufengwangca, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs
