Repository project-chip/connectedhomeip, changes with the owners that .github/CODEOWNERS names for each.
All owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @mspang, @pan-apple, @emargolis, @andy31415, @yufengwangca, @kghost, @bzbarksy-apple, @bzbarsky-apple, @gjc13, @damian-nordic, @erjiaqing, @shana-apple, @yunhanw-google, @vivien-apple, @erjianqing, @mrjerryjohns, @jrhees-cae, @rgoliver, @austinh0, @bukepo, @kpschoedel

.github/CODEOWNERS:

# Current reviewers-XXX teams, who review everything for approval.
* @reviewers-amazon @reviewers-apple @reviewers-comcast @reviewers-google @reviewers-nordic @reviewers-samsung @reviewers-silabs


# BUILD system

*.gn @mspang
/build/ @mspang
/scripts/build/ @mspang

# Crypto
# Crypto primitives and high level API, generally on top of mbedtls and openssl
/src/crypto/* @pan-apple @emargolis
/src/credentials/ @pan-apple @emargolis

# Transport
# Send and receive data abstracting away the underlying protocol (UDP, TCP, BLE)
/src/transport/ @andy31415 @pan-apple

# Session establishment
# Establish a secure session (encryption keys) from one node to another.
# Includes CASE and PASE + session tracking and resumptioon
/src/protocols/secure_channel/ @pan-apple

# Message Layer
# CRMP and packet headers, generally coupled with SecureSessionManager
/src/messaging @yufengwangca @kghost @bzbarksy-apple
/src/transport/raw/MessageHeader.* @yufengwangca @kghost @bzbarksy-apple

# SecureSessionManager
# Manages per-session encryption keys and new session establishment
/src/transport/SecureSessionMgr.* @pan-apple

# Exchange management
# Joins requests and responses or ties a series of messages belonging to the 
# same protocol interaction
/src/messaging/ @yufengwangca @bzbarsky-apple
/src/channel/ @yufengwangca @bzbarsky-apple

# DNS-SD discovery and advertisement
# Advertise chip devices for commisioning, operational and discover such devices
/src/lib/mdns/ @andy31415 @gjc13 @damian-nordic

# Commisioning controller/flow
# Example of a comisioning sequence
/src/controller/ @pan-apple @erjiaqing

# Operational credentials management
# Signing certificates, maintaining roots of trust, validation, fabric management
/src/controller/ @shana-apple @pan-apple
/src/transport/AdminPairingTable.* @shana-apple @pan-apple

# TLV encoding/decoding to/from byte buffers
/src/lib/core/CHIPTLV* @yunhanw-google @bzbarsky-apple @shana-apple

# Interaction model - ember implementation
# ZCL protocol implementation: ZCL encoding to be sent over the wire as a 
# ZigbeePro protocol implementation
/src/app/util/ @vivien-apple @erjianqing @bzbarsky-apple

# Interaction model - non-ember
# Protocol implementation for IM interactions between nodes, matching spec
/src/app/ @yunhanw-google @bzbarsky-apple @mrjerryjohns

# Interaction model - code generation
# CHIP-specific infrastructure for generating code: helper js methods, scripts
# and code layout
/src/app/zap-templates/ @vivien-apple @erjianqing

# ZAP suppport
# UI for editing XML, generates code from such ZML and configuration files
# NOT part of CHIP however CHIP relies heavily on ZAP.
#    @vivien-apple  @tecimovic

# 'Standard' cluster implementations (server side)
# Clusters shipped with the sdk, can be integrated as-is or used as a template
/src/app/clusters/ @vivien-apple

# Onboarding payload
# Parsing and generation of codes (includes QR and NFC), numeric pairing payload
/src/setup_payload/ @shana-apple @vivien-apple @jrhees-cae

# Device Layer
# Porting interfaces, scaffolding for building an example firmware
/src/platform/ @mspang @yufengwangca
/src/include/platform/ @mspang @yufengwangca

# Persistent storage
# Save state across reboots
/src/platform/*/KeyValueStore* @rgoliver

# Python bindings for CHIP - CLI
# Allows python code to use CHIP, generally targeted towards automation
/src/controller/python/ @andy31415 @erjianqing

# CHIP-tool C++ CLI
# Command line interface to chip as a client (controller and commisioner)
# Includes generated code for every base cluster
/examples/chip-tool/ @vivien-apple

# CHIP-tool iOS UI
/src/darwin/CHIPTool/ @shana-apple

# CHIP-tool Android
/src/android/CHIPTool/ @austinh0
/src/controller/java/ @austinh0

# End2End autogenerated tests
/src/darwin/Framework/Chip-templates/ @vivien-apple
/src/app/tests/suites/ @vivien-apple

# End2End cirque tests
# Simulate topology (cirque) and ptyhon-based test automation
/src/test_driver/linux/cirque/ @erjianqing @yunhanw-google

# Thread integration
# Thread-specific functionality (network provisioning, operational discovery, SRP registration etc.)
/src/platform/OpenThread/ @bukepo
/src/platform/*/ThreadStackmanagerImpl.* @bukepo

# Inet
# Networking abstraction layer (UDP-endpoint, TCP-endpoint, InetLayerBasis)
/src/inet/ @kpschoedel 

# System layer
/src/system/ @kpschoedel 

# BLE support
/src/ble/ @yunhanw-google

# CHIP Shell
# Command-line UART/stdin interface as a side-channel to CHIP accessories
# Aimed as user-friendly/manual control
/src/examples/shell/ @gjc13 @yufengwangca

# RPC
# Side-channlel command path (outside chip), generally for automation and debugging
# Aimed as "scriptable" when compared to shell
/examples/common/pigweed/ @rgoliver
/examples/pigweed-app/ @rgoliver

# Tooling for crypto manual generation
# Generates data for sample PKI
/src/tools/chip-cert/ @emargolis

# Channel API
# Construct a transport/secure session based on peer info and transport type.
# Focused on CASE session establishment
/src/channel/ @kghost

# Darwin framework
# Exposes a darwin API (Objective-C/swift rather than raw C++ API) for darwin
# applications
/src/darwin/Framework/ @shana-apple @vivien-apple @pan-apple

Remove empty lwip test (#7630)
  src/BUILD.gn
  src/lwip/tests/BUILD.gn
  src/lwip/tests/tests.c
Owners: @mspang, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

wrap SetDelegate() in namespace scope
  src/app/clusters/ota-server/ota-server.cpp
Owners: @vivien-apple

Make sure chip-all-clusters-app is ready before we try to do PASE setup with it.
  .github/workflows/tests.yaml
  scripts/tests/test_suites.sh
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Fix uninitialized memory during chip-tool pairing (#7577)
  src/controller/CHIPDevice.cpp
  src/credentials/CHIPCert.h
  src/credentials/CHIPOperationalCredentials.h
  src/transport/raw/PeerAddress.h
Owners: @shana-apple, @pan-apple, @emargolis, @andy31415

Change mdns broadcast to allow treatement as success if sends (#7555)
  src/lib/mdns/minimal/Server.cpp
Owners: @andy31415, @gjc13, @damian-nordic

Remove PacketHandle in IM command (#7510)
  src/app/Command.cpp
  src/app/Command.h
  src/app/CommandHandler.cpp
  src/app/CommandSender.cpp
  src/app/tests/TestCommandInteraction.cpp
Owners: @yunhanw-google, @bzbarsky-apple, @mrjerryjohns

Upload core files as artifacts on Linux when crashes happen in the "Test Suites - Linux" test. (#7652)
  .github/workflows/tests.yaml
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Don't shut down already-shutdown IM objects. (#7627)
  src/app/InteractionModelEngine.cpp
Owners: @yunhanw-google, @bzbarsky-apple, @mrjerryjohns

Add IM protocol code (#7482)
  examples/all-clusters-app/all-clusters-common/gen/IMClusterCommandHandler.cpp
  examples/bridge-app/bridge-common/gen/IMClusterCommandHandler.cpp
  examples/lighting-app/lighting-common/gen/IMClusterCommandHandler.cpp
  examples/lock-app/lock-common/gen/IMClusterCommandHandler.cpp
  examples/pump-app/pump-common/gen/IMClusterCommandHandler.cpp
  examples/pump-controller-app/pump-controller-common/gen/IMClusterCommandHandler.cpp
  examples/temperature-measurement-app/esp32/main/gen/IMClusterCommandHandler.cpp
  examples/tv-app/tv-common/gen/IMClusterCommandHandler.cpp
  examples/window-app/common/gen/IMClusterCommandHandler.cpp
  src/app/Command.h
  src/app/CommandHandler.cpp
  src/app/CommandHandler.h
  src/app/InteractionModelDelegate.h
  src/app/tests/TestCommandInteraction.cpp
  src/app/tests/integration/chip_im_responder.cpp
  src/app/util/ember-compatibility-functions.cpp
  src/app/zap-templates/templates/app/im-cluster-command-handler.zapt
  src/controller/data_model/gen/IMClusterCommandHandler.cpp
  src/protocols/interaction_model/Constants.h
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @yunhanw-google, @bzbarsky-apple, @mrjerryjohns, @vivien-apple, @erjianqing, @shana-apple, @pan-apple

Attempting to only run this on 3 builds
  .github/workflows/build.yaml
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Trying this syntax
  .github/workflows/build.yaml
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Improve build coverage. (#7625)
  .github/workflows/build.yaml
  .github/workflows/examples-linux-standalone.yaml
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Remove costly python requirements on Raspberry Pi (#7635)
  .gn
  scripts/constraints.txt
  scripts/requirements.esp32.txt
  scripts/requirements.in
  scripts/requirements.txt
Owners: @mspang, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Shut down InteractionModelEngine during DeviceController shutdown. (#7629)
  src/controller/CHIPDeviceController.cpp
Owners: @shana-apple, @pan-apple

Fix XML comments in opcreds cluster
  src/app/zap-templates/zcl/operational-credentials-cluster.xml
Owners: @vivien-apple, @erjianqing

First shot at concurrency
  .github/workflows/android.yaml
  .github/workflows/bloat_check.yaml
  .github/workflows/build.yaml
  .github/workflows/darwin.yaml
  .github/workflows/examples-efr32.yaml
  .github/workflows/examples-esp32.yaml
  .github/workflows/examples-k32w.yaml
  .github/workflows/examples-linux-standalone.yaml
  .github/workflows/examples-nrfconnect.yaml
  .github/workflows/examples-qpg6100.yaml
  .github/workflows/qemu.yaml
  .github/workflows/unit_integration_test.yaml
  .github/workflows/zap_templates.yaml
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

K32W: Fix header paths breaking --check builds
  BUILD.gn
  config/k32w/toolchain/BUILD.gn
  examples/lighting-app/k32w/BUILD.gn
  examples/lock-app/k32w/BUILD.gn
  examples/shell/efr32/args.gni
  examples/shell/k32w/BUILD.gn
  examples/shell/k32w/args.gni
  scripts/examples/k32w_example.sh
Owners: @mspang, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Try and make restyled happy
  .github/workflows/darwin.yaml
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Fix format
  src/app/util/binding-table.cpp
Owners: @yunhanw-google, @bzbarsky-apple, @mrjerryjohns

Add a CI step for release configurations
  .github/workflows/darwin.yaml
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Align header include paths between Release and Debug configuration
  src/app/util/binding-table.cpp
  src/darwin/Framework/CHIP.xcodeproj/project.pbxproj
Owners: @yunhanw-google, @bzbarsky-apple, @mrjerryjohns, @shana-apple, @vivien-apple, @pan-apple

Only doing one bloat check at once
  .github/workflows/bloat_check.yaml
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Make sure chip-all-clusters-app is ready before we try to do PASE setup with it. (#7561)
  .github/workflows/tests.yaml
  scripts/tests/test_suites.sh
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

[Controller] Return an error during shutdown if no device layer is used and something unexpected happens during inet/system shutdown (#7605)
  src/controller/CHIPDeviceController.cpp
Owners: @shana-apple, @pan-apple

Tests disabled tests (#7640)
  examples/chip-tool/commands/tests/Commands.h
  examples/chip-tool/templates/partials/test_cluster.zapt
  examples/chip-tool/templates/tests-commands.zapt
  src/app/tests/suites/Test_3_1_1.yaml
  src/app/tests/suites/Test_3_2_1.yaml
  src/app/tests/suites/Test_3_2_2.yaml
  src/app/zap-templates/common/ClusterTestGeneration.js
  src/darwin/Framework/CHIP/templates/clusters-tests.zapt
  src/darwin/Framework/CHIP/templates/partials/test_cluster.zapt
  src/darwin/Framework/CHIPTests/CHIPClustersTests.m
Owners: @vivien-apple, @erjianqing, @shana-apple, @pan-apple

Adding more
  .github/workflows/artifacts.yaml
  .github/workflows/doxygen.yaml
  .github/workflows/examples-telink.yaml
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Limiting these runs too
  .github/workflows/labeler.yaml
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Fix function name in connect qr
  src/controller/python/chip-device-ctrl.py
Owners: @andy31415, @erjianqing

update idf version to v4.3 and support esp32c3 for all-clusters-app
  config/esp32/components/chip/CMakeLists.txt
  config/esp32/components/chip/component.mk
  examples/all-clusters-app/esp32/CMakeLists.txt
  examples/all-clusters-app/esp32/README.md
  examples/all-clusters-app/esp32/main/CMakeLists.txt
  examples/all-clusters-app/esp32/main/Kconfig.projbuild
  examples/all-clusters-app/esp32/main/main.cpp
  examples/all-clusters-app/esp32/sdkconfig.defaults
  examples/lock-app/esp32/CMakeLists.txt
  examples/lock-app/esp32/README.md
  examples/persistent-storage/esp32/CMakeLists.txt
  examples/persistent-storage/esp32/README.md
  examples/pigweed-app/esp32/CMakeLists.txt
  examples/pigweed-app/esp32/README.md
  examples/temperature-measurement-app/esp32/CMakeLists.txt
  examples/temperature-measurement-app/esp32/README.md
  integrations/docker/images/chip-build-esp32/Dockerfile
  integrations/docker/images/chip-build/version
  src/platform/ESP32/PlatformManagerImpl.cpp
  src/platform/ESP32/nimble/BLEManagerImpl.cpp
  src/test_driver/esp32/README.md
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @rgoliver, @mspang, @yufengwangca

Restyled by prettier-markdown
  examples/all-clusters-app/esp32/README.md
  examples/lock-app/esp32/README.md
  examples/persistent-storage/esp32/README.md
  examples/pigweed-app/esp32/README.md
  examples/temperature-measurement-app/esp32/README.md
  src/test_driver/esp32/README.md
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @rgoliver

K32W: Fix header paths breaking --check builds (#7620)
  BUILD.gn
  config/k32w/toolchain/BUILD.gn
  examples/lighting-app/k32w/BUILD.gn
  examples/lock-app/k32w/BUILD.gn
  examples/shell/efr32/args.gni
  examples/shell/k32w/BUILD.gn
  examples/shell/k32w/args.gni
  scripts/examples/k32w_example.sh
Owners: @mspang, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

[Fixed] OTAServerDelegate class for vendor logic (#7537)
  examples/all-clusters-app/all-clusters-common/all-clusters-app.zap
  examples/all-clusters-app/all-clusters-common/gen/callback-stub.cpp
  examples/all-clusters-app/all-clusters-common/gen/callback.h
  examples/all-clusters-app/all-clusters-common/gen/endpoint_config.h
  examples/all-clusters-app/all-clusters-common/gen/gen_config.h
  examples/chip-tool/commands/clusters/Commands.h
  src/app/clusters/ota-server/ota-server-delegate.h
  src/app/clusters/ota-server/ota-server.cpp
  src/app/clusters/ota-server/ota-server.h
  src/app/util/af-enums.h
  src/app/zap-templates/zcl/chip-ota.xml
  src/app/zap_cluster_list.py
  src/controller/data_model/controller-clusters.zap
  src/controller/data_model/gen/CHIPClientCallbacks.cpp
  src/controller/data_model/gen/CHIPClientCallbacks.h
  src/controller/data_model/gen/CHIPClusters.cpp
  src/controller/data_model/gen/CHIPClusters.h
  src/controller/data_model/gen/IMClusterCommandHandler.cpp
  src/controller/data_model/gen/call-command-handler.cpp
  src/controller/data_model/gen/callback-stub.cpp
  src/controller/data_model/gen/callback.h
  src/controller/data_model/gen/chip-zcl-zpro-codec-api.h
  src/controller/data_model/gen/encoder.cpp
  src/controller/data_model/gen/endpoint_config.h
  src/controller/data_model/gen/gen_config.h
  src/controller/python/chip/clusters/CHIPClusters.cpp
  src/controller/python/chip/clusters/CHIPClusters.py
  src/darwin/Framework/CHIP/gen/CHIPClustersObjc.h
  src/darwin/Framework/CHIP/gen/CHIPClustersObjc.mm
  src/darwin/Framework/CHIP/templates/helper.js
  src/darwin/Framework/CHIPTests/CHIPClustersTests.m
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @vivien-apple, @yunhanw-google, @bzbarsky-apple, @mrjerryjohns, @erjianqing, @shana-apple, @pan-apple, @andy31415

Adopt GitHub concurrency & cancellation (#7669)
  .github/workflows/android.yaml
  .github/workflows/artifacts.yaml
  .github/workflows/bloat_check.yaml
  .github/workflows/build.yaml
  .github/workflows/darwin.yaml
  .github/workflows/doxygen.yaml
  .github/workflows/examples-efr32.yaml
  .github/workflows/examples-esp32.yaml
  .github/workflows/examples-k32w.yaml
  .github/workflows/examples-linux-standalone.yaml
  .github/workflows/examples-nrfconnect.yaml
  .github/workflows/examples-qpg6100.yaml
  .github/workflows/examples-telink.yaml
  .github/workflows/labeler.yaml
  .github/workflows/qemu.yaml
  .github/workflows/unit_integration_test.yaml
  .github/workflows/zap_templates.yaml
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Fix XML comments in opcreds cluster (#7598)
  src/app/zap-templates/zcl/operational-credentials-cluster.xml
Owners: @vivien-apple, @erjianqing

Fixing pre-mature merge
  .github/workflows/doxygen.yaml
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Remove CodeQL runs from debug and experimental runs (#7663)
  .github/workflows/build.yaml
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

[hotfix] Run codegen after #7598
  src/controller/data_model/gen/IMClusterCommandHandler.cpp
Owners: @shana-apple, @pan-apple

Revert "Fix XML comments in opcreds cluster (#7598)"
  src/app/zap-templates/zcl/operational-credentials-cluster.xml
Owners: @vivien-apple, @erjianqing

[hotfix] Run codegen after #7598 (#7677)
  src/controller/data_model/gen/IMClusterCommandHandler.cpp
Owners: @shana-apple, @pan-apple

[TE4] Add get-fabric-id command in Python Device Controller
  src/controller/CHIPDeviceController.cpp
  src/controller/CHIPDeviceController.h
  src/controller/python/ChipDeviceController-ScriptBinding.cpp
  src/controller/python/chip-device-ctrl.py
  src/controller/python/chip/ChipDeviceCtrl.py
Owners: @shana-apple, @pan-apple, @andy31415, @erjianqing
