Repository project-chip/connectedhomeip, changes with the owners that .github/CODEOWNERS names for each.
All owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @mspang, @pan-apple, @emargolis, @andy31415, @yufengwangca, @kghost, @bzbarksy-apple, @bzbarsky-apple, @gjc13, @damian-nordic, @erjiaqing, @shana-apple, @yunhanw-google, @vivien-apple, @erjianqing, @mrjerryjohns, @jrhees-cae, @rgoliver, @austinh0, @bukepo, @kpschoedel

.github/CODEOWNERS:

# Current reviewers-XXX teams, who review everything for approval.
* @reviewers-amazon @reviewers-apple @reviewers-comcast @reviewers-google @reviewers-nordic @reviewers-samsung @reviewers-silabs


# BUILD system

*.gn @mspang
/build/ @mspang
/scripts/build/ @mspang

# Crypto
# Crypto primitives and high level API, generally on top of mbedtls and openssl
/src/crypto/* @pan-apple @emargolis
/src/credentials/ @pan-apple @emargolis

# Transport
# Send and receive data abstracting away the underlying protocol (UDP, TCP, BLE)
/src/transport/ @andy31415 @pan-apple

# Session establishment
# Establish a secure session (encryption keys) from one node to another.
# Includes CASE and PASE + session tracking and resumptioon
/src/protocols/secure_channel/ @pan-apple

# Message Layer
# CRMP and packet headers, generally coupled with SecureSessionManager
/src/messaging @yufengwangca @kghost @bzbarksy-apple
/src/transport/raw/MessageHeader.* @yufengwangca @kghost @bzbarksy-apple

# SecureSessionManager
# Manages per-session encryption keys and new session establishment
/src/transport/SecureSessionMgr.* @pan-apple

# Exchange management
# Joins requests and responses or ties a series of messages belonging to the 
# same protocol interaction
/src/messaging/ @yufengwangca @bzbarsky-apple
/src/channel/ @yufengwangca @bzbarsky-apple

# DNS-SD discovery and advertisement
# Advertise chip devices for commisioning, operational and discover such devices
/src/lib/mdns/ @andy31415 @gjc13 @damian-nordic

# Commisioning controller/flow
# Example of a comisioning sequence
/src/controller/ @pan-apple @erjiaqing

# Operational credentials management
# Signing certificates, maintaining roots of trust, validation, fabric management
/src/controller/ @shana-apple @pan-apple
/src/transport/AdminPairingTable.* @shana-apple @pan-apple

# TLV encoding/decoding to/from byte buffers
/src/lib/core/CHIPTLV* @yunhanw-google @bzbarsky-apple @shana-apple

# Interaction model - ember implementation
# ZCL protocol implementation: ZCL encoding to be sent over the wire as a 
# ZigbeePro protocol implementation
/src/app/util/ @vivien-apple @erjianqing @bzbarsky-apple

# Interaction model - non-ember
# Protocol implementation for IM interactions between nodes, matching spec
/src/app/ @yunhanw-google @bzbarsky-apple @mrjerryjohns

# Interaction model - code generation
# CHIP-specific infrastructure for generating code: helper js methods, scripts
# and code layout
/src/app/zap-templates/ @vivien-apple @erjianqing

# ZAP suppport
# UI for editing XML, generates code from such ZML and configuration files
# NOT part of CHIP however CHIP relies heavily on ZAP.
#    @vivien-apple  @tecimovic

# 'Standard' cluster implementations (server side)
# Clusters shipped with the sdk, can be integrated as-is or used as a template
/src/app/clusters/ @vivien-apple

# Onboarding payload
# Parsing and generation of codes (includes QR and NFC), numeric pairing payload
/src/setup_payload/ @shana-apple @vivien-apple @jrhees-cae

# Device Layer
# Porting interfaces, scaffolding for building an example firmware
/src/platform/ @mspang @yufengwangca
/src/include/platform/ @mspang @yufengwangca

# Persistent storage
# Save state across reboots
/src/platform/*/KeyValueStore* @rgoliver

# Python bindings for CHIP - CLI
# Allows python code to use CHIP, generally targeted towards automation
/src/controller/python/ @andy31415 @erjianqing

# CHIP-tool C++ CLI
# Command line interface to chip as a client (controller and commisioner)
# Includes generated code for every base cluster
/examples/chip-tool/ @vivien-apple

# CHIP-tool iOS UI
/src/darwin/CHIPTool/ @shana-apple

# CHIP-tool Android
/src/android/CHIPTool/ @austinh0
/src/controller/java/ @austinh0

# End2End autogenerated tests
/src/darwin/Framework/Chip-templates/ @vivien-apple
/src/app/tests/suites/ @vivien-apple

# End2End cirque tests
# Simulate topology (cirque) and ptyhon-based test automation
/src/test_driver/linux/cirque/ @erjianqing @yunhanw-google

# Thread integration
# Thread-specific functionality (network provisioning, operational discovery, SRP registration etc.)
/src/platform/OpenThread/ @bukepo
/src/platform/*/ThreadStackmanagerImpl.* @bukepo

# Inet
# Networking abstraction layer (UDP-endpoint, TCP-endpoint, InetLayerBasis)
/src/inet/ @kpschoedel 

# System layer
/src/system/ @kpschoedel 

# BLE support
/src/ble/ @yunhanw-google

# CHIP Shell
# Command-line UART/stdin interface as a side-channel to CHIP accessories
# Aimed as user-friendly/manual control
/src/examples/shell/ @gjc13 @yufengwangca

# RPC
# Side-channlel command path (outside chip), generally for automation and debugging
# Aimed as "scriptable" when compared to shell
/examples/common/pigweed/ @rgoliver
/examples/pigweed-app/ @rgoliver

# Tooling for crypto manual generation
# Generates data for sample PKI
/src/tools/chip-cert/ @emargolis

# Channel API
# Construct a transport/secure session based on peer info and transport type.
# Focused on CASE session establishment
/src/channel/ @kghost

# Darwin framework
# Exposes a darwin API (Objective-C/swift rather than raw C++ API) for darwin
# applications
/src/darwin/Framework/ @shana-apple @vivien-apple @pan-apple

TLV reader: Improve floating-point support
  src/lib/core/CHIPTLVReader.cpp
  src/lib/core/tests/TestCHIPTLV.cpp
Owners: @yunhanw-google, @bzbarsky-apple, @shana-apple, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

TLV writer: Remove union UB
  src/lib/core/CHIPTLVWriter.cpp
Owners: @yunhanw-google, @bzbarsky-apple, @shana-apple

print error message on HandleMessage failure
  src/messaging/ExchangeMgr.cpp
Owners: @yufengwangca, @bzbarsky-apple

ESP32: Fixes for pigweed CMake (#8536)
  examples/ipv6only-app/esp32/main/CMakeLists.txt
  examples/lock-app/esp32/main/CMakeLists.txt
  examples/pigweed-app/esp32/CMakeLists.txt
  examples/pigweed-app/esp32/main/CMakeLists.txt
  scripts/examples/esp_example.sh
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @rgoliver

Reduce default iteration counts for the test_suites script to 2.
  .github/workflows/tests.yaml
  scripts/tests/test_suites.sh
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Enable commands with fields in the Darwin test harness (#8563)
  examples/all-clusters-app/all-clusters-common/all-clusters-app.zap
  examples/all-clusters-app/all-clusters-common/gen/IMClusterCommandHandler.cpp
  examples/all-clusters-app/all-clusters-common/gen/endpoint_config.h
  examples/chip-tool/commands/clusters/Commands.h
  examples/chip-tool/commands/tests/Commands.h
  src/app/clusters/test-cluster-server/test-cluster-server.cpp
  src/app/common/gen/callback.h
  src/app/common/gen/client-command-macro.h
  src/app/common/gen/command-id.h
  src/app/common/gen/ids/Commands.h
  src/app/tests/suites/TestCluster.yaml
  src/app/zap-templates/zcl/data-model/chip/test-cluster.xml
  src/controller/data_model/controller-clusters.zap
  src/controller/data_model/gen/CHIPClientCallbacks.cpp
  src/controller/data_model/gen/CHIPClientCallbacks.h
  src/controller/data_model/gen/CHIPClusters.cpp
  src/controller/data_model/gen/CHIPClusters.h
  src/controller/data_model/gen/IMClusterCommandHandler.cpp
  src/controller/data_model/gen/chip-zcl-zpro-codec-api.h
  src/controller/data_model/gen/encoder.cpp
  src/controller/data_model/gen/endpoint_config.h
  src/controller/java/gen/CHIPClusters-JNI.cpp
  src/controller/java/gen/ChipClusters.java
  src/controller/python/chip/clusters/CHIPClusters.cpp
  src/controller/python/chip/clusters/CHIPClusters.py
  src/darwin/Framework/CHIP/gen/CHIPClustersObjc.h
  src/darwin/Framework/CHIP/gen/CHIPClustersObjc.mm
  src/darwin/Framework/CHIP/templates/partials/test_cluster.zapt
  src/darwin/Framework/CHIPTests/CHIPClustersTests.m
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @vivien-apple, @yunhanw-google, @bzbarsky-apple, @mrjerryjohns, @erjianqing, @shana-apple, @pan-apple, @austinh0, @andy31415

Enable the color control tests in Darwin test CI.
  src/app/tests/suites/Test_TC_CC_3_4.yaml
  src/app/tests/suites/Test_TC_CC_5.yaml
  src/app/tests/suites/Test_TC_CC_6.yaml
  src/app/tests/suites/Test_TC_CC_7.yaml
  src/darwin/Framework/CHIP/templates/clusters-tests.zapt
Owners: @vivien-apple, @shana-apple, @pan-apple

Regenerate generated files
  examples/chip-tool/commands/tests/Commands.h
  src/darwin/Framework/CHIPTests/CHIPClustersTests.m
Owners: @vivien-apple, @shana-apple, @pan-apple

Update zap templates
  examples/chip-tool/templates/commands.zapt
  src/app/zap-templates/common/ClustersHelper.js
  src/controller/java/templates/helper.js
Owners: @vivien-apple, @erjianqing, @austinh0

Update gen/ folders
  examples/chip-tool/commands/clusters/Commands.h
Owners: @vivien-apple

Restyled by prettier-yaml
  src/app/tests/suites/Test_TC_CC_3_4.yaml
  src/app/tests/suites/Test_TC_CC_7.yaml
Owners: @vivien-apple

[ChipTool] Remove a check for the RendezvousInformation inside manual code since it does not contains such information (#8626)
  examples/chip-tool/commands/pairing/PairingCommand.cpp
Owners: @vivien-apple

Remove public Shutdown method on WriteHandler.
  src/app/InteractionModelEngine.cpp
  src/app/WriteHandler.h
Owners: @yunhanw-google, @bzbarsky-apple, @mrjerryjohns

Fix chip-tool to never use the stored node id when doing a new pairing.
  examples/chip-tool/commands/pairing/PairingCommand.cpp
Owners: @vivien-apple

Enhance CRMP unit-test. (#8699)
  src/messaging/tests/TestReliableMessageProtocol.cpp
Owners: @yufengwangca, @bzbarsky-apple

[Telink]: Minor fixes in Readme.md (#8661)
  examples/lighting-app/telink/Readme.md
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Fix build with logging disabled
  src/app/util/ember-print.cpp
  src/lib/support/logging/CHIPLogging.h
Owners: @yunhanw-google, @bzbarsky-apple, @mrjerryjohns, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Fix sequence of root cert and op cert provisioning
  src/controller/CHIPDevice.cpp
  src/controller/CHIPDevice.h
  src/controller/CHIPDeviceController.cpp
  src/controller/CHIPDeviceController.h
Owners: @shana-apple, @pan-apple

address review comments
  src/controller/CHIPDevice.cpp
  src/controller/CHIPDevice.h
  src/controller/CHIPDeviceController.cpp
  src/controller/CHIPDeviceController.h
Owners: @shana-apple, @pan-apple

Remove SecureSessionMgr::mLocalNodeId (#8700)
  examples/shell/shell_common/cmd_ping.cpp
  examples/shell/shell_common/cmd_send.cpp
  src/app/server/Server.cpp
  src/app/tests/TestCommandInteraction.cpp
  src/app/tests/TestEventLogging.cpp
  src/app/tests/TestInteractionModelEngine.cpp
  src/app/tests/TestReportingEngine.cpp
  src/app/tests/integration/chip_im_initiator.cpp
  src/app/tests/integration/chip_im_responder.cpp
  src/controller/CHIPDeviceController.cpp
  src/messaging/tests/MessagingContext.cpp
  src/messaging/tests/echo/echo_requester.cpp
  src/messaging/tests/echo/echo_responder.cpp
  src/transport/SecureSessionMgr.cpp
  src/transport/SecureSessionMgr.h
  src/transport/tests/TestSecureSessionMgr.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @yunhanw-google, @bzbarsky-apple, @mrjerryjohns, @shana-apple, @pan-apple, @yufengwangca, @andy31415

Update operational credentials delegate to use single API
  examples/chip-tool/commands/clusters/Commands.h
  src/app/clusters/operational-credentials-server/operational-credentials-server.cpp
  src/app/common/gen/callback.h
  src/app/common/gen/client-command-macro.h
  src/app/zap-templates/zcl/data-model/chip/operational-credentials-cluster.xml
  src/controller/CHIPDevice.cpp
  src/controller/CHIPDevice.h
  src/controller/CHIPDeviceController.cpp
  src/controller/CHIPDeviceController.h
  src/controller/ExampleOperationalCredentialsIssuer.cpp
  src/controller/ExampleOperationalCredentialsIssuer.h
  src/controller/OperationalCredentialsDelegate.h
  src/controller/data_model/gen/CHIPClientCallbacks.cpp
  src/controller/data_model/gen/CHIPClientCallbacks.h
  src/controller/data_model/gen/IMClusterCommandHandler.cpp
  src/controller/java/AndroidDeviceControllerWrapper.cpp
  src/controller/java/AndroidDeviceControllerWrapper.h
  src/controller/java/gen/CHIPClusters-JNI.cpp
  src/controller/java/gen/ChipClusters.java
  src/darwin/Framework/CHIP/CHIPOperationalCredentialsDelegate.h
  src/darwin/Framework/CHIP/CHIPOperationalCredentialsDelegate.mm
  src/darwin/Framework/CHIP/gen/CHIPClustersObjc.mm
Owners: @vivien-apple, @yunhanw-google, @bzbarsky-apple, @mrjerryjohns, @erjianqing, @shana-apple, @pan-apple, @austinh0

Implement command ResetWatermarks for Software Diagnostics Cluster (#8685)
  examples/lighting-app/mbed/CMakeLists.txt
  examples/lighting-app/nrfconnect/CMakeLists.txt
  examples/lighting-app/telink/CMakeLists.txt
  src/app/clusters/software_diagnostics_server/software_diagnostics_server.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @vivien-apple

Implement ResetCounts command for Thread/WiFi/Ethernet Network Diagnostics Cluster
  src/app/clusters/ethernet_network_diagnostics_server/ethernet_network_diagnostics_server.cpp
  src/app/clusters/thread_network_diagnostics_server/thread_network_diagnostics_server.cpp
  src/app/clusters/wifi_network_diagnostics_server/wifi_network_diagnostics_server.cpp
Owners: @vivien-apple

Reduce default iteration counts for the test_suites script to 2. (#8709)
  .github/workflows/tests.yaml
  scripts/tests/test_suites.sh
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

cleanup delegate API
  src/controller/CHIPDeviceController.cpp
  src/controller/ExampleOperationalCredentialsIssuer.cpp
  src/controller/ExampleOperationalCredentialsIssuer.h
  src/controller/OperationalCredentialsDelegate.h
  src/controller/java/AndroidDeviceControllerWrapper.cpp
  src/controller/java/AndroidDeviceControllerWrapper.h
  src/darwin/Framework/CHIP/CHIPOperationalCredentialsDelegate.h
  src/darwin/Framework/CHIP/CHIPOperationalCredentialsDelegate.mm
Owners: @shana-apple, @pan-apple, @austinh0, @vivien-apple

Update generated tests
  examples/chip-tool/commands/tests/Commands.h
  src/darwin/Framework/CHIPTests/CHIPClustersTests.m
Owners: @vivien-apple, @shana-apple, @pan-apple

Add Test_TC_BI_1_1.yaml to the tree and update the appropriate templates
  examples/chip-tool/templates/tests-commands.zapt
  src/app/tests/suites/Test_TC_BI_1_1.yaml
  src/darwin/Framework/CHIP/templates/clusters-tests.zapt
Owners: @vivien-apple, @shana-apple, @pan-apple

Make CHIP_ERROR a class type on k32w, mbed, telink
  examples/lighting-app/k32w/main/AppTask.cpp
  examples/lighting-app/k32w/main/LightingManager.cpp
  examples/lighting-app/k32w/main/include/AppTask.h
  examples/lighting-app/mbed/main/main.cpp
  examples/lighting-app/telink/include/AppTask.h
  examples/lighting-app/telink/include/LightingManager.h
  examples/lighting-app/telink/src/AppTask.cpp
  examples/lighting-app/telink/src/LightingManager.cpp
  examples/lighting-app/telink/src/main.cpp
  examples/lock-app/k32w/main/AppTask.cpp
  examples/lock-app/k32w/main/BoltLockManager.cpp
  examples/lock-app/k32w/main/include/AppTask.h
  examples/lock-app/mbed/main/main.cpp
  examples/shell/k32w/main/main.cpp
  src/platform/K32W/CHIPPlatformConfig.h
  src/platform/mbed/CHIPPlatformConfig.h
  src/platform/mbed/MbedConfig.cpp
  src/platform/telink/CHIPPlatformConfig.h
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @mspang, @yufengwangca

Update gen/ folders
  examples/all-clusters-app/all-clusters-common/gen/IMClusterCommandHandler.cpp
  examples/all-clusters-app/all-clusters-common/gen/attribute-size.cpp
  examples/bridge-app/bridge-common/gen/IMClusterCommandHandler.cpp
  examples/bridge-app/bridge-common/gen/attribute-size.cpp
  examples/lighting-app/lighting-common/gen/IMClusterCommandHandler.cpp
  examples/lighting-app/lighting-common/gen/attribute-size.cpp
  examples/lock-app/lock-common/gen/IMClusterCommandHandler.cpp
  examples/lock-app/lock-common/gen/attribute-size.cpp
  examples/pump-app/pump-common/gen/CHIPClientCallbacks.cpp
  examples/pump-app/pump-common/gen/IMClusterCommandHandler.cpp
  examples/pump-app/pump-common/gen/attribute-size.cpp
  examples/pump-controller-app/pump-controller-common/gen/CHIPClientCallbacks.cpp
  examples/pump-controller-app/pump-controller-common/gen/IMClusterCommandHandler.cpp
  examples/pump-controller-app/pump-controller-common/gen/attribute-size.cpp
  examples/temperature-measurement-app/esp32/main/gen/IMClusterCommandHandler.cpp
  examples/temperature-measurement-app/esp32/main/gen/attribute-size.cpp
  examples/thermostat/thermostat-common/gen/IMClusterCommandHandler.cpp
  examples/thermostat/thermostat-common/gen/attribute-size.cpp
  examples/tv-app/tv-common/gen/IMClusterCommandHandler.cpp
  examples/tv-app/tv-common/gen/attribute-size.cpp
  examples/window-app/common/gen/IMClusterCommandHandler.cpp
  examples/window-app/common/gen/attribute-size.cpp
  src/app/common/gen/ids/Attributes.h
  src/controller/data_model/gen/CHIPClientCallbacks.cpp
  src/controller/data_model/gen/IMClusterCommandHandler.cpp
  src/controller/data_model/gen/attribute-size.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @yunhanw-google, @bzbarsky-apple, @mrjerryjohns, @shana-apple, @pan-apple

Add ChipLogFormatMEI/ChipLogValueMEI and use it
  examples/chip-tool/commands/clusters/ModelCommand.cpp
  examples/lighting-app/efr32/src/ZclCallbacks.cpp
  examples/lighting-app/k32w/main/ZclCallbacks.cpp
  examples/lighting-app/linux/main.cpp
  examples/lighting-app/nrfconnect/main/ZclCallbacks.cpp
  examples/lighting-app/telink/src/ZclCallbacks.cpp
  examples/lock-app/cc13x2x7_26x2x7/main/ZclCallbacks.cpp
  examples/lock-app/efr32/src/ZclCallbacks.cpp
  examples/lock-app/k32w/main/ZclCallbacks.cpp
  examples/lock-app/nrfconnect/main/ZclCallbacks.cpp
  examples/pump-app/cc13x2x7_26x2x7/main/ZclCallbacks.cpp
  examples/pump-app/nrfconnect/main/ZclCallbacks.cpp
  examples/pump-controller-app/cc13x2x7_26x2x7/main/ZclCallbacks.cpp
  examples/pump-controller-app/nrfconnect/main/ZclCallbacks.cpp
  src/app/CommandHandler.cpp
  src/app/EventManagement.cpp
  src/app/InteractionModelEngine.cpp
  src/app/clusters/descriptor/descriptor.cpp
  src/app/decoder.cpp
  src/app/reporting/Engine.cpp
  src/app/tests/TestCommandInteraction.cpp
  src/app/util/ember-compatibility-functions.cpp
  src/app/zap-templates/templates/app/CHIPClientCallbacks-src.zapt
  src/app/zap-templates/templates/app/attribute-size-src.zapt
  src/app/zap-templates/templates/app/ids/Attributes.zapt
  src/app/zap-templates/templates/app/im-cluster-command-handler.zapt
  src/lib/support/logging/CHIPLogging.h
  src/test_driver/linux-cirque/test-mobile-device.py
Owners: @vivien-apple, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @yunhanw-google, @bzbarsky-apple, @mrjerryjohns, @erjianqing

Update ZAP repo (#8627)
  examples/chip-tool/commands/clusters/Commands.h
  examples/chip-tool/templates/commands.zapt
  src/app/zap-templates/common/ClustersHelper.js
  src/controller/java/templates/helper.js
Owners: @vivien-apple, @erjianqing, @austinh0

ESP32: Workaround to abort in CASE
  examples/all-clusters-app/esp32/sdkconfig.defaults
  examples/lock-app/esp32/sdkconfig.defaults
  examples/temperature-measurement-app/esp32/sdkconfig.defaults
  examples/temperature-measurement-app/esp32/sdkconfig.optimize.defaults
  src/test_driver/esp32/sdkconfig.defaults
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Add attributes + zap files
  examples/all-clusters-app/all-clusters-common/all-clusters-app.zap
  src/app/zap-templates/zcl/data-model/chip/operational-credentials-cluster.xml
  src/controller/data_model/controller-clusters.zap
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @vivien-apple, @erjianqing, @shana-apple, @pan-apple

Add label in iOS chiptool app
  src/app/clusters/operational-credentials-server/operational-credentials-server.cpp
  src/darwin/CHIPTool/CHIPTool/View Controllers/Fabric/FabricUIViewController.m
Owners: @vivien-apple, @shana-apple

Restyled by clang-format
  src/app/clusters/operational-credentials-server/operational-credentials-server.cpp
  src/darwin/CHIPTool/CHIPTool/View Controllers/Fabric/FabricUIViewController.m
Owners: @vivien-apple, @shana-apple

Restyled by whitespace
  src/app/clusters/operational-credentials-server/operational-credentials-server.cpp
  src/darwin/CHIPTool/CHIPTool/View Controllers/Fabric/FabricUIViewController.m
Owners: @vivien-apple, @shana-apple

Review feedback
  src/app/clusters/operational-credentials-server/operational-credentials-server.cpp
Owners: @vivien-apple

address review comments
  examples/all-clusters-app/all-clusters-common/gen/endpoint_config.h
  src/app/clusters/operational-credentials-server/operational-credentials-server.cpp
  src/app/zap-templates/zcl/data-model/chip/operational-credentials-cluster.xml
  src/controller/data_model/gen/chip-zcl-zpro-codec-api.h
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @vivien-apple, @erjianqing, @shana-apple, @pan-apple

use accessor to write fabric count
  src/app/clusters/operational-credentials-server/operational-credentials-server.cpp
Owners: @vivien-apple

regen files
  examples/all-clusters-app/all-clusters-common/gen/endpoint_config.h
  examples/chip-tool/commands/clusters/Commands.h
  src/app/common/gen/attribute-id.h
  src/app/common/gen/attributes/Accessors.cpp
  src/app/common/gen/attributes/Accessors.h
  src/app/common/gen/ids/Attributes.h
  src/controller/data_model/gen/CHIPClusters.cpp
  src/controller/data_model/gen/CHIPClusters.h
  src/controller/data_model/gen/chip-zcl-zpro-codec-api.h
  src/controller/data_model/gen/encoder.cpp
  src/controller/java/gen/CHIPClusters-JNI.cpp
  src/controller/java/gen/ChipClusters.java
  src/controller/python/chip/clusters/CHIPClusters.cpp
  src/controller/python/chip/clusters/CHIPClusters.py
  src/darwin/Framework/CHIP/gen/CHIPClustersObjc.h
  src/darwin/Framework/CHIP/gen/CHIPClustersObjc.mm
  src/darwin/Framework/CHIPTests/CHIPClustersTests.m
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @vivien-apple, @yunhanw-google, @bzbarsky-apple, @mrjerryjohns, @shana-apple, @pan-apple, @austinh0, @andy31415, @erjianqing
