Repository project-chip/connectedhomeip, changes with the owners that .github/CODEOWNERS names for each.
All owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @mspang, @pan-apple, @emargolis, @andy31415, @yufengwangca, @kghost, @bzbarksy-apple, @bzbarsky-apple, @gjc13, @damian-nordic, @erjiaqing, @shana-apple, @yunhanw-google, @vivien-apple, @erjianqing, @mrjerryjohns, @jrhees-cae, @rgoliver, @austinh0, @bukepo, @kpschoedel

Remove transitional ChipError functions
  examples/lighting-app/telink/src/main.cpp
  examples/window-app/efr32/src/main.cpp
  src/lib/core/CHIPConfig.h
  src/lib/core/CHIPError.h
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

dns-sd: S sub 4-bit number.
  src/lib/mdns/ServiceNaming.cpp
  src/lib/mdns/minimal/tests/TestAdvertiser.cpp
  src/lib/mdns/tests/TestServiceNaming.cpp
Owners: @andy31415, @gjc13, @damian-nordic

cleanup fixes relating to udc (#8739)
  examples/minimal-mdns/server.cpp
  examples/platform/linux/AppMain.cpp
  examples/platform/linux/CommissioneeShellCommands.cpp
  src/BUILD.gn
  src/app/server/Server.cpp
  src/controller/CHIPDeviceController.cpp
  src/controller/python/ChipDeviceController-ScriptBinding.cpp
  src/lib/mdns/Advertiser.h
  src/lib/mdns/Resolver.h
  src/protocols/user_directed_commissioning/UserDirectedCommissioning.h
  src/protocols/user_directed_commissioning/UserDirectedCommissioningClient.cpp
  src/protocols/user_directed_commissioning/tests/BUILD.gn
  src/protocols/user_directed_commissioning/tests/TestUdcMessages.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @mspang, @yunhanw-google, @bzbarsky-apple, @mrjerryjohns, @shana-apple, @pan-apple, @andy31415, @erjianqing, @gjc13, @damian-nordic

fix CM and AC in DNS-SD
  examples/platform/linux/CommissioneeShellCommands.cpp
  src/app/server/Mdns.cpp
  src/app/server/Mdns.h
  src/app/server/RendezvousServer.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @yunhanw-google, @bzbarsky-apple, @mrjerryjohns

dns-sd: S sub 4-bit number. (#8887)
  src/lib/mdns/ServiceNaming.cpp
  src/lib/mdns/minimal/tests/TestAdvertiser.cpp
  src/lib/mdns/tests/TestServiceNaming.cpp
Owners: @andy31415, @gjc13, @damian-nordic

Moving code to open commissioning window, send UDC request to tv-casting-app/main.cpp
  examples/tv-casting-app/linux/README.md
  examples/tv-casting-app/linux/main.cpp
  src/app/server/Mdns.cpp
  src/app/server/OnboardingCodesUtil.cpp
  src/app/server/RendezvousServer.cpp
  src/app/server/Server.cpp
  src/controller/BUILD.gn
  src/controller/CHIPCommissionableNodeController.cpp
  src/controller/CHIPCommissionableNodeController.h
  src/lib/mdns/Discovery_ImplPlatform.cpp
  src/lib/mdns/Resolver.h
  src/lib/mdns/Resolver_ImplMinimalMdns.cpp
  src/lib/support/logging/CHIPLogging.cpp
  src/lib/support/logging/Constants.h
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @yunhanw-google, @bzbarsky-apple, @mrjerryjohns, @shana-apple, @pan-apple, @andy31415, @gjc13, @damian-nordic

Restyled by whitespace
  examples/tv-casting-app/tv-casting-common/gen/CHIPClientCallbacks.cpp
  examples/tv-casting-app/tv-casting-common/gen/CHIPClusters.cpp
  examples/tv-casting-app/tv-casting-common/gen/CHIPClusters.h
  examples/tv-casting-app/tv-casting-common/gen/IMClusterCommandHandler.cpp
  examples/tv-casting-app/tv-casting-common/gen/endpoint_config.h
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Restyled by clang-format
  examples/tv-casting-app/tv-casting-common/gen/CHIPClientCallbacks.h
  examples/tv-casting-app/tv-casting-common/gen/IMClusterCommandHandler.cpp
  examples/tv-casting-app/tv-casting-common/gen/attribute-size.cpp
  examples/tv-casting-app/tv-casting-common/gen/callback-stub.cpp
  examples/tv-casting-app/tv-casting-common/gen/endpoint_config.h
  examples/tv-casting-app/tv-casting-common/gen/gen_config.h
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Restyled by prettier-markdown
  examples/tv-casting-app/linux/README.md
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Do not store generated CA key in Darwin's default keychain
  src/darwin/Framework/CHIP/CHIPOperationalCredentialsDelegate.h
  src/darwin/Framework/CHIP/CHIPOperationalCredentialsDelegate.mm
Owners: @shana-apple, @vivien-apple, @pan-apple

Use CHIP APIs to generate CA keys
  src/darwin/Framework/CHIP/CHIPOperationalCredentialsDelegate.h
  src/darwin/Framework/CHIP/CHIPOperationalCredentialsDelegate.mm
Owners: @shana-apple, @vivien-apple, @pan-apple

[dns-sd] Expose operational node TXT entries (#8783)
  examples/chip-tool/commands/discover/Commands.h
  src/lib/mdns/Advertiser.h
  src/lib/mdns/Discovery_ImplPlatform.cpp
  src/lib/mdns/Resolver.h
  src/lib/mdns/Resolver_ImplMinimalMdns.cpp
  src/lib/mdns/TxtFields.cpp
  src/lib/mdns/TxtFields.h
  src/lib/mdns/tests/TestTxtFields.cpp
  src/lib/shell/commands/Dns.cpp
Owners: @vivien-apple, @andy31415, @gjc13, @damian-nordic, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

dns-sd: Fix leading 0 on D txt in platform. (#8885)
  src/lib/mdns/Discovery_ImplPlatform.cpp
Owners: @andy31415, @gjc13, @damian-nordic

Cleanup prefix chip:: from zap templates in which has 'using namespace chip' (#8814)
  examples/all-clusters-app/all-clusters-common/gen/IMClusterCommandHandler.cpp
  examples/all-clusters-app/all-clusters-common/gen/attribute-size.cpp
  examples/bridge-app/bridge-common/gen/IMClusterCommandHandler.cpp
  examples/bridge-app/bridge-common/gen/attribute-size.cpp
  examples/lighting-app/lighting-common/gen/IMClusterCommandHandler.cpp
  examples/lighting-app/lighting-common/gen/attribute-size.cpp
  examples/lock-app/lock-common/gen/IMClusterCommandHandler.cpp
  examples/lock-app/lock-common/gen/attribute-size.cpp
  examples/pump-app/pump-common/gen/CHIPClientCallbacks.cpp
  examples/pump-app/pump-common/gen/CHIPClusters.cpp
  examples/pump-app/pump-common/gen/IMClusterCommandHandler.cpp
  examples/pump-app/pump-common/gen/attribute-size.cpp
  examples/pump-controller-app/pump-controller-common/gen/CHIPClientCallbacks.cpp
  examples/pump-controller-app/pump-controller-common/gen/CHIPClusters.cpp
  examples/pump-controller-app/pump-controller-common/gen/IMClusterCommandHandler.cpp
  examples/pump-controller-app/pump-controller-common/gen/attribute-size.cpp
  examples/temperature-measurement-app/esp32/main/gen/IMClusterCommandHandler.cpp
  examples/temperature-measurement-app/esp32/main/gen/attribute-size.cpp
  examples/thermostat/thermostat-common/gen/IMClusterCommandHandler.cpp
  examples/thermostat/thermostat-common/gen/attribute-size.cpp
  examples/tv-app/tv-common/gen/IMClusterCommandHandler.cpp
  examples/tv-app/tv-common/gen/attribute-size.cpp
  examples/window-app/common/gen/IMClusterCommandHandler.cpp
  examples/window-app/common/gen/attribute-size.cpp
  src/app/zap-templates/templates/app/CHIPClientCallbacks-src.zapt
  src/app/zap-templates/templates/app/CHIPClusters-src.zapt
  src/app/zap-templates/templates/app/attribute-size-src.zapt
  src/app/zap-templates/templates/app/im-cluster-command-handler.zapt
  src/controller/data_model/gen/CHIPClientCallbacks.cpp
  src/controller/data_model/gen/CHIPClusters.cpp
  src/controller/data_model/gen/IMClusterCommandHandler.cpp
  src/controller/data_model/gen/attribute-size.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @vivien-apple, @erjianqing, @shana-apple, @pan-apple

ESP32: CASE causes abort with ESP SHA Hardware
  src/crypto/CHIPCryptoPALmbedTLS.cpp
Owners: @pan-apple, @emargolis

Revert "ESP32: Workaround to abort in CASE (#8718)"
  examples/all-clusters-app/esp32/sdkconfig.defaults
  examples/lock-app/esp32/sdkconfig.defaults
  examples/temperature-measurement-app/esp32/sdkconfig.defaults
  examples/temperature-measurement-app/esp32/sdkconfig.optimize.defaults
  src/test_driver/esp32/sdkconfig.defaults
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

ESP32: CASE causes abort with ESP SHA Hardware (#8838)
  examples/all-clusters-app/esp32/sdkconfig.defaults
  examples/lock-app/esp32/sdkconfig.defaults
  examples/temperature-measurement-app/esp32/sdkconfig.defaults
  examples/temperature-measurement-app/esp32/sdkconfig.optimize.defaults
  src/crypto/CHIPCryptoPALmbedTLS.cpp
  src/test_driver/esp32/sdkconfig.defaults
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @pan-apple, @emargolis

Do a better job of not suppressing rejected promises in ZAP helpers. (#8839)
  examples/chip-tool/templates/helper.js
  src/app/zap-templates/common/ClustersHelper.js
  src/app/zap-templates/templates/app/helper.js
  src/controller/java/templates/helper.js
Owners: @vivien-apple, @erjianqing, @austinh0

Add --enable-flashbundle flag for generating flashbundle files. (#8832)
  integrations/cloudbuild/build-all.yaml
  scripts/build/build/__init__.py
  scripts/build/build/factory.py
  scripts/build/build_examples.py
  scripts/build/builders/builder.py
  scripts/build/builders/efr32.py
  scripts/build/builders/esp32.py
  scripts/build/builders/gn.py
  scripts/build/builders/host.py
  scripts/build/builders/nrf.py
  scripts/build/builders/qpg.py
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @mspang

Remove transitional ChipError functions (#8886)
  examples/lighting-app/telink/src/main.cpp
  examples/window-app/efr32/src/main.cpp
  src/lib/core/CHIPConfig.h
  src/lib/core/CHIPError.h
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Fix shutting down System::Layer in unit tests (#8865)
  src/app/tests/TestCommandInteraction.cpp
  src/app/tests/TestEventLogging.cpp
  src/app/tests/TestInteractionModelEngine.cpp
  src/app/tests/TestReadInteraction.cpp
  src/app/tests/TestReportingEngine.cpp
  src/app/tests/TestWriteInteraction.cpp
  src/channel/tests/TestChannel.cpp
  src/messaging/ReliableMessageMgr.cpp
  src/messaging/tests/MessagingContext.cpp
  src/messaging/tests/MessagingContext.h
  src/messaging/tests/TestExchangeMgr.cpp
  src/messaging/tests/TestReliableMessageProtocol.cpp
  src/protocols/secure_channel/tests/TestCASESession.cpp
  src/protocols/secure_channel/tests/TestMessageCounterManager.cpp
  src/protocols/secure_channel/tests/TestPASESession.cpp
  src/transport/raw/tests/NetworkTestHelpers.cpp
  src/transport/tests/TestSecureSessionMgr.cpp
Owners: @yunhanw-google, @bzbarsky-apple, @mrjerryjohns, @kghost, @yufengwangca, @pan-apple, @andy31415

Support to use heap for pool for large systems
  src/inet/IPEndPointBasis.h
  src/inet/RawEndPoint.h
  src/inet/TCPEndPoint.h
  src/inet/UDPEndPoint.h
  src/inet/tests/TestInetEndPoint.cpp
  src/platform/Linux/SystemPlatformConfig.h
  src/system/SystemConfig.h
  src/system/SystemObject.cpp
  src/system/SystemObject.h
  src/system/tests/TestSystemObject.cpp
Owners: @kpschoedel, @mspang, @yufengwangca

Update src/system/SystemObject.h
  src/system/SystemObject.h
Owners: @kpschoedel

Use templated foreach function to safely execute operation on each object
  src/inet/InetLayer.cpp
  src/system/SystemObject.h
  src/system/SystemTimer.h
  src/system/tests/TestSystemObject.cpp
Owners: @kpschoedel

[shell] Add "dns browse commissioner" command
  src/lib/mdns/platform/Mdns.h
  src/lib/shell/commands/Dns.cpp
  src/platform/OpenThread/GenericThreadStackManagerImpl_OpenThread.cpp
  src/platform/OpenThread/MdnsImpl.cpp
Owners: @andy31415, @gjc13, @damian-nordic, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @bukepo

Restyled by clang-format
  src/platform/OpenThread/GenericThreadStackManagerImpl_OpenThread.cpp
Owners: @bukepo

[K32W] Sync button push with cluster state
  examples/lighting-app/k32w/main/AppTask.cpp
  examples/lighting-app/k32w/main/include/AppTask.h
  examples/lock-app/k32w/main/AppTask.cpp
  examples/lock-app/k32w/main/include/AppTask.h
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Restyled by clang-format
  examples/lighting-app/k32w/main/include/AppTask.h
  examples/lock-app/k32w/main/include/AppTask.h
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

[K32W] Sync button push with cluster state
  examples/lighting-app/k32w/main/include/AppTask.h
  examples/lock-app/k32w/main/include/AppTask.h
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

[shell] Add "dns browse commissioner" command (#8836)
  src/lib/mdns/platform/Mdns.h
  src/lib/shell/commands/Dns.cpp
  src/platform/OpenThread/GenericThreadStackManagerImpl_OpenThread.cpp
  src/platform/OpenThread/MdnsImpl.cpp
Owners: @andy31415, @gjc13, @damian-nordic, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @bukepo

Removed INT8_MAX constant to use MAX_HUE_VALUE
  src/app/clusters/color-control-server/color-control-server.cpp
Owners: @vivien-apple

Color loop function implementation
  src/app/clusters/color-control-server/color-control-server.cpp
Owners: @vivien-apple

Fix release of endpoint in Inet::Shutdown.
  src/inet/InetLayer.cpp
Owners: @kpschoedel

Fix deinit system layer nad network before inet pre testing Fix release TCP endpoint in TestInetEndPointInternal test Fix release all endpoints in TestInetEndPointLimit test
  src/inet/tests/TestInetEndPoint.cpp
Owners: @kpschoedel

Release RAW endpoint in TestInetEndPointInternal test
  src/inet/tests/TestInetEndPoint.cpp
Owners: @kpschoedel

Revert InetLayer changes
  src/inet/InetLayer.cpp
Owners: @kpschoedel

Test file for color loop function
  src/app/tests/suites/Test_TC_CC.yaml
Owners: @vivien-apple

[K32W] Sync button push with cluster state (#8761)
  examples/lighting-app/k32w/main/AppTask.cpp
  examples/lighting-app/k32w/main/include/AppTask.h
  examples/lock-app/k32w/main/AppTask.cpp
  examples/lock-app/k32w/main/include/AppTask.h
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Generated test files
  examples/chip-tool/commands/tests/Commands.h
  examples/chip-tool/templates/tests-commands.zapt
  src/darwin/Framework/CHIP/templates/clusters-tests.zapt
  src/darwin/Framework/CHIPTests/CHIPClustersTests.m
Owners: @vivien-apple, @shana-apple, @pan-apple

Restyled by whitespace
  src/app/tests/suites/Test_TC_CC.yaml
Owners: @vivien-apple

.github/CODEOWNERS:

# Current reviewers-XXX teams, who review everything for approval.
* @reviewers-amazon @reviewers-apple @reviewers-comcast @reviewers-google @reviewers-nordic @reviewers-samsung @reviewers-silabs


# BUILD system

*.gn @mspang
/build/ @mspang
/scripts/build/ @mspang

# Crypto
# Crypto primitives and high level API, generally on top of mbedtls and openssl
/src/crypto/* @pan-apple @emargolis
/src/credentials/ @pan-apple @emargolis

# Transport
# Send and receive data abstracting away the underlying protocol (UDP, TCP, BLE)
/src/transport/ @andy31415 @pan-apple

# Session establishment
# Establish a secure session (encryption keys) from one node to another.
# Includes CASE and PASE + session tracking and resumptioon
/src/protocols/secure_channel/ @pan-apple

# Message Layer
# CRMP and packet headers, generally coupled with SecureSessionManager
/src/messaging @yufengwangca @kghost @bzbarksy-apple
/src/transport/raw/MessageHeader.* @yufengwangca @kghost @bzbarksy-apple

# SecureSessionManager
# Manages per-session encryption keys and new session establishment
/src/transport/SecureSessionMgr.* @pan-apple

# Exchange management
# Joins requests and responses or ties a series of messages belonging to the 
# same protocol interaction
/src/messaging/ @yufengwangca @bzbarsky-apple
/src/channel/ @yufengwangca @bzbarsky-apple

# DNS-SD discovery and advertisement
# Advertise chip devices for commisioning, operational and discover such devices
/src/lib/mdns/ @andy31415 @gjc13 @damian-nordic

# Commisioning controller/flow
# Example of a comisioning sequence
/src/controller/ @pan-apple @erjiaqing

# Operational credentials management
# Signing certificates, maintaining roots of trust, validation, fabric management
/src/controller/ @shana-apple @pan-apple
/src/transport/AdminPairingTable.* @shana-apple @pan-apple

# TLV encoding/decoding to/from byte buffers
/src/lib/core/CHIPTLV* @yunhanw-google @bzbarsky-apple @shana-apple

# Interaction model - ember implementation
# ZCL protocol implementation: ZCL encoding to be sent over the wire as a 
# ZigbeePro protocol implementation
/src/app/util/ @vivien-apple @erjianqing @bzbarsky-apple

# Interaction model - non-ember
# Protocol implementation for IM interactions between nodes, matching spec
/src/app/ @yunhanw-google @bzbarsky-apple @mrjerryjohns

# Interaction model - code generation
# CHIP-specific infrastructure for generating code: helper js methods, scripts
# and code layout
/src/app/zap-templates/ @vivien-apple @erjianqing

# ZAP suppport
# UI for editing XML, generates code from such ZML and configuration files
# NOT part of CHIP however CHIP relies heavily on ZAP.
#    @vivien-apple  @tecimovic

# 'Standard' cluster implementations (server side)
# Clusters shipped with the sdk, can be integrated as-is or used as a template
/src/app/clusters/ @vivien-apple

# Onboarding payload
# Parsing and generation of codes (includes QR and NFC), numeric pairing payload
/src/setup_payload/ @shana-apple @vivien-apple @jrhees-cae

# Device Layer
# Porting interfaces, scaffolding for building an example firmware
/src/platform/ @mspang @yufengwangca
/src/include/platform/ @mspang @yufengwangca

# Persistent storage
# Save state across reboots
/src/platform/*/KeyValueStore* @rgoliver

# Python bindings for CHIP - CLI
# Allows python code to use CHIP, generally targeted towards automation
/src/controller/python/ @andy31415 @erjianqing

# CHIP-tool C++ CLI
# Command line interface to chip as a client (controller and commisioner)
# Includes generated code for every base cluster
/examples/chip-tool/ @vivien-apple

# CHIP-tool iOS UI
/src/darwin/CHIPTool/ @shana-apple

# CHIP-tool Android
/src/android/CHIPTool/ @austinh0
/src/controller/java/ @austinh0

# End2End autogenerated tests
/src/darwin/Framework/Chip-templates/ @vivien-apple
/src/app/tests/suites/ @vivien-apple

# End2End cirque tests
# Simulate topology (cirque) and ptyhon-based test automation
/src/test_driver/linux/cirque/ @erjianqing @yunhanw-google

# Thread integration
# Thread-specific functionality (network provisioning, operational discovery, SRP registration etc.)
/src/platform/OpenThread/ @bukepo
/src/platform/*/ThreadStackmanagerImpl.* @bukepo

# Inet
# Networking abstraction layer (UDP-endpoint, TCP-endpoint, InetLayerBasis)
/src/inet/ @kpschoedel 

# System layer
/src/system/ @kpschoedel 

# BLE support
/src/ble/ @yunhanw-google

# CHIP Shell
# Command-line UART/stdin interface as a side-channel to CHIP accessories
# Aimed as user-friendly/manual control
/src/examples/shell/ @gjc13 @yufengwangca

# RPC
# Side-channlel command path (outside chip), generally for automation and debugging
# Aimed as "scriptable" when compared to shell
/examples/common/pigweed/ @rgoliver
/examples/pigweed-app/ @rgoliver

# Tooling for crypto manual generation
# Generates data for sample PKI
/src/tools/chip-cert/ @emargolis

# Channel API
# Construct a transport/secure session based on peer info and transport type.
# Focused on CASE session establishment
/src/channel/ @kghost

# Darwin framework
# Exposes a darwin API (Objective-C/swift rather than raw C++ API) for darwin
# applications
/src/darwin/Framework/ @shana-apple @vivien-apple @pan-apple
