Repository project-chip/connectedhomeip, changes with the owners that .github/CODEOWNERS names for each.
All owners: @chrisdecenzo, @rwalker-apple, @bzbarsky-apple, @hawk248, @jelderton, @andy31415, @mspang, @saurabhst, @BroderickCarlin, @woody-apple, @vidhis88, @wehale, @timotej, @selissia, @kedars, @turon, @vivien-apple, @sagar-apple, @pan-apple, @bhaskar-apple, @shana-apple, @gerickson, @yufengwangca

Make src/app compile with -Werror=conversion (#2799)
  src/app/BUILD.gn
  src/app/chip-zcl-zpro-codec.h
  src/app/decoder.cpp
  src/app/encoder.cpp
  src/lib/support/BufBound.h
Owners: @chrisdecenzo, @woody-apple, @bzbarsky-apple, @hawk248, @jelderton, @andy31415, @mspang, @saurabhst, @BroderickCarlin, @rwalker-apple, @wehale, @timotej, @selissia, @kedars, @gerickson, @pan-apple

Use C++11 when compiling Objective C++ files as well.
  gn/build/config/compiler/BUILD.gn
Owners: @chrisdecenzo, @woody-apple, @bzbarsky-apple, @hawk248, @jelderton, @andy31415, @mspang, @saurabhst, @BroderickCarlin

Build OT Commissioner as static libraries rather than shared libraries" as the commit message.
  third_party/ot-commissioner/build-android-libs.sh
Owners: @chrisdecenzo, @rwalker-apple, @bzbarsky-apple, @hawk248, @jelderton, @andy31415, @mspang, @saurabhst, @BroderickCarlin

[linux] Delete the dbus generated files
  src/platform/Linux/dbus/bluez/DbusBluez.c
Owners: @chrisdecenzo, @woody-apple, @bzbarsky-apple, @hawk248, @jelderton, @andy31415, @mspang, @saurabhst, @BroderickCarlin, @pan-apple, @vivien-apple, @yufengwangca

Remove dbus auto-generated header files
  src/platform/Linux/dbus/bluez/BUILD.gn
  src/platform/Linux/dbus/bluez/DbusBluez.h
  src/platform/Linux/dbus/bluez/DbusBluez.xml
  src/platform/Linux/dbus/wpa/DBusWpa.h
  src/platform/Linux/dbus/wpa/DBusWpaInterface.h
  src/platform/Linux/dbus/wpa/DBusWpaNetwork.h
Owners: @chrisdecenzo, @woody-apple, @bzbarsky-apple, @hawk248, @jelderton, @andy31415, @mspang, @saurabhst, @BroderickCarlin, @pan-apple, @vivien-apple, @yufengwangca

Fix build
  .github/workflows/unit-test.yaml
  BUILD.gn
  gn/chip/tests.gni
  scripts/tests/gn_tests.sh
  scripts/tests/happy_tests.sh
  src/inet/tests/BUILD.gn
  src/inet/tests/TestInetLayerMulticast.cpp
  src/inet/tests/TestInetLayerMulticastDriver.cpp
Owners: @chrisdecenzo, @woody-apple, @bzbarsky-apple, @hawk248, @jelderton, @andy31415, @mspang, @saurabhst, @BroderickCarlin, @rwalker-apple, @gerickson, @pan-apple, @vivien-apple

Restyled by shfmt
  scripts/tests/gn_tests.sh
Owners: @chrisdecenzo, @woody-apple, @bzbarsky-apple, @hawk248, @jelderton, @andy31415, @mspang, @saurabhst, @BroderickCarlin, @rwalker-apple

Build OT Commissioner as static libraries rather than shared libraries (#2788)
  third_party/ot-commissioner/build-android-libs.sh
Owners: @chrisdecenzo, @rwalker-apple, @bzbarsky-apple, @hawk248, @jelderton, @andy31415, @mspang, @saurabhst, @BroderickCarlin

Make LGTM happy
  src/inet/tests/Makefile.am
Owners: @chrisdecenzo, @woody-apple, @bzbarsky-apple, @hawk248, @jelderton, @andy31415, @mspang, @saurabhst, @BroderickCarlin, @gerickson, @pan-apple, @vivien-apple

recover main build
  .github/workflows/build.yaml
Owners: @chrisdecenzo, @woody-apple, @bzbarsky-apple, @hawk248, @jelderton, @andy31415, @mspang, @saurabhst, @BroderickCarlin

Rename action
  .github/workflows/unit_integration_test.yaml
Owners: @chrisdecenzo, @woody-apple, @bzbarsky-apple, @hawk248, @jelderton, @andy31415, @mspang, @saurabhst, @BroderickCarlin

Auto-Register commands in chip-tool and check endpointId and clusterId globally instead of an on per command basis
  examples/chip-tool/BUILD.gn
  examples/chip-tool/commands/Commands.h
  examples/chip-tool/commands/EchoBle.h
  examples/chip-tool/commands/Off.h
  examples/chip-tool/commands/ReadOnOff.h
  examples/chip-tool/commands/Toggle.h
  examples/chip-tool/commands/clusters/Identify/Commands.h
  examples/chip-tool/commands/clusters/OnOff/Commands.h
  examples/chip-tool/commands/common/Command.h
  examples/chip-tool/commands/common/Commands.cpp
  examples/chip-tool/commands/common/Commands.h
  examples/chip-tool/commands/common/ModelCommand.cpp
  examples/chip-tool/commands/common/ModelCommand.h
  examples/chip-tool/commands/echo/Commands.h
  examples/chip-tool/main.cpp
Owners: @chrisdecenzo, @woody-apple, @bzbarsky-apple, @hawk248, @jelderton, @andy31415, @mspang, @saurabhst, @BroderickCarlin, @rwalker-apple

make lighting app work again
  src/platform/nRF5/BLEManagerImpl.cpp
  src/platform/nRF5/ThreadStackManagerImpl.cpp
Owners: @chrisdecenzo, @woody-apple, @bzbarsky-apple, @hawk248, @jelderton, @andy31415, @mspang, @saurabhst, @BroderickCarlin, @pan-apple, @vivien-apple, @yufengwangca

Added a compilable start of a message cache
  src/BUILD.gn
  src/retransmit/BUILD.gn
  src/retransmit/MessageCache.h
  src/retransmit/tests/BUILD.gn
  src/retransmit/tests/TestMessageCache.cpp
  src/retransmit/tests/TestMessageCacheDriver.cpp
  src/retransmit/tests/TestRetransmit.h
  src/transport/PeerAddress.h
Owners: @chrisdecenzo, @woody-apple, @bzbarsky-apple, @hawk248, @jelderton, @andy31415, @mspang, @saurabhst, @BroderickCarlin, @rwalker-apple, @pan-apple, @vivien-apple

Rename to generic cache since we will need addresses as well as identifiers (exchange id). More unit tests added
  src/retransmit/BUILD.gn
  src/retransmit/Cache.h
  src/retransmit/tests/BUILD.gn
  src/retransmit/tests/TestCache.cpp
  src/retransmit/tests/TestCacheDriver.cpp
  src/retransmit/tests/TestRetransmit.h
Owners: @chrisdecenzo, @woody-apple, @bzbarsky-apple, @hawk248, @jelderton, @andy31415, @mspang, @saurabhst, @BroderickCarlin, @rwalker-apple

Added Add and Remove methods plus unit tests for them
  src/retransmit/Cache.h
  src/retransmit/tests/TestCache.cpp
Owners: @chrisdecenzo, @rwalker-apple, @bzbarsky-apple, @hawk248, @jelderton, @andy31415, @mspang, @saurabhst, @BroderickCarlin

Add remove matching method and unit tests
  src/retransmit/Cache.h
  src/retransmit/tests/TestCache.cpp
Owners: @chrisdecenzo, @rwalker-apple, @bzbarsky-apple, @hawk248, @jelderton, @andy31415, @mspang, @saurabhst, @BroderickCarlin

Consistently use uint16_t for key ids.
  src/transport/PeerConnectionState.h
Owners: @chrisdecenzo, @woody-apple, @bzbarsky-apple, @hawk248, @jelderton, @andy31415, @mspang, @saurabhst, @BroderickCarlin, @pan-apple, @vivien-apple

Use macros into src/app/encoder.cpp for cluster related methods
  src/app/encoder.cpp
Owners: @chrisdecenzo, @woody-apple, @bzbarsky-apple, @hawk248, @jelderton, @andy31415, @mspang, @saurabhst, @BroderickCarlin, @rwalker-apple, @wehale, @timotej, @selissia, @kedars

Remove peer address as a dependency - things are generic now
  src/retransmit/Cache.h
Owners: @chrisdecenzo, @rwalker-apple, @bzbarsky-apple, @hawk248, @jelderton, @andy31415, @mspang, @saurabhst, @BroderickCarlin

Remove transport build dependency for now
  src/retransmit/BUILD.gn
Owners: @chrisdecenzo, @woody-apple, @bzbarsky-apple, @hawk248, @jelderton, @andy31415, @mspang, @saurabhst, @BroderickCarlin

Add core dependency for CHIP_ERROR
  src/retransmit/BUILD.gn
Owners: @chrisdecenzo, @woody-apple, @bzbarsky-apple, @hawk248, @jelderton, @andy31415, @mspang, @saurabhst, @BroderickCarlin

Add find method and unit tests
  src/retransmit/Cache.h
  src/retransmit/tests/TestCache.cpp
Owners: @chrisdecenzo, @rwalker-apple, @bzbarsky-apple, @hawk248, @jelderton, @andy31415, @mspang, @saurabhst, @BroderickCarlin

GN: Use android logging style for android
  src/lib/core/core.gni
Owners: @chrisdecenzo, @woody-apple, @bzbarsky-apple, @hawk248, @jelderton, @andy31415, @mspang, @saurabhst, @BroderickCarlin

gn format files
  examples/lighting-app/efr32/BUILD.gn
  examples/lock-app/efr32/BUILD.gn
  src/retransmit/BUILD.gn
  src/retransmit/tests/BUILD.gn
Owners: @chrisdecenzo, @woody-apple, @bzbarsky-apple, @hawk248, @jelderton, @andy31415, @mspang, @saurabhst, @BroderickCarlin

Add ending newline to Cache.h
  src/retransmit/Cache.h
Owners: @chrisdecenzo, @rwalker-apple, @bzbarsky-apple, @hawk248, @jelderton, @andy31415, @mspang, @saurabhst, @BroderickCarlin

Restyled by whitespace
  src/retransmit/tests/TestCache.cpp
Owners: @chrisdecenzo, @rwalker-apple, @bzbarsky-apple, @hawk248, @jelderton, @andy31415, @mspang, @saurabhst, @BroderickCarlin

Add another ending newline
  src/retransmit/tests/TestCache.cpp
Owners: @chrisdecenzo, @rwalker-apple, @bzbarsky-apple, @hawk248, @jelderton, @andy31415, @mspang, @saurabhst, @BroderickCarlin

Update the name of the include guard
  src/retransmit/Cache.h
Owners: @chrisdecenzo, @rwalker-apple, @bzbarsky-apple, @hawk248, @jelderton, @andy31415, @mspang, @saurabhst, @BroderickCarlin

Use C++11 when compiling Objective C++ files as well. (#2813)
  gn/build/config/compiler/BUILD.gn
Owners: @chrisdecenzo, @woody-apple, @bzbarsky-apple, @hawk248, @jelderton, @andy31415, @mspang, @saurabhst, @BroderickCarlin

make lighting app work again (#2820)
  src/platform/nRF5/BLEManagerImpl.cpp
  src/platform/nRF5/ThreadStackManagerImpl.cpp
Owners: @chrisdecenzo, @woody-apple, @bzbarsky-apple, @hawk248, @jelderton, @andy31415, @mspang, @saurabhst, @BroderickCarlin, @pan-apple, @vivien-apple, @yufengwangca

[linux] Delete the dbus generated files (#2815)
  src/platform/Linux/dbus/bluez/BUILD.gn
  src/platform/Linux/dbus/bluez/DbusBluez.c
  src/platform/Linux/dbus/bluez/DbusBluez.h
  src/platform/Linux/dbus/bluez/DbusBluez.xml
  src/platform/Linux/dbus/wpa/DBusWpa.h
  src/platform/Linux/dbus/wpa/DBusWpaInterface.h
  src/platform/Linux/dbus/wpa/DBusWpaNetwork.h
Owners: @chrisdecenzo, @woody-apple, @bzbarsky-apple, @hawk248, @jelderton, @andy31415, @mspang, @saurabhst, @BroderickCarlin, @pan-apple, @vivien-apple, @yufengwangca

Use uint16_t for our various header sizes in bytes
  src/transport/BLE.cpp
  src/transport/MessageHeader.cpp
  src/transport/MessageHeader.h
  src/transport/RendezvousSession.cpp
  src/transport/SecurePairingSession.cpp
  src/transport/SecureSession.cpp
  src/transport/SecureSessionMgr.cpp
  src/transport/TCP.cpp
  src/transport/UDP.cpp
  src/transport/tests/TestMessageHeader.cpp
  src/transport/tests/TestSecurePairingSession.cpp
Owners: @chrisdecenzo, @woody-apple, @bzbarsky-apple, @hawk248, @jelderton, @andy31415, @mspang, @saurabhst, @BroderickCarlin, @pan-apple, @vivien-apple

Consistently use uint16_t for key ids.
  src/transport/PeerConnectionState.h
Owners: @chrisdecenzo, @woody-apple, @bzbarsky-apple, @hawk248, @jelderton, @andy31415, @mspang, @saurabhst, @BroderickCarlin, @pan-apple, @vivien-apple

Make src/crypto and src/controller compile with -Werror=conversion
  src/controller/BUILD.gn
  src/crypto/BUILD.gn
  src/crypto/CHIPCryptoPAL.cpp
  src/crypto/CHIPCryptoPALOpenSSL.cpp
  src/crypto/CHIPCryptoPALmbedTLS.cpp
  src/crypto/tests/BUILD.gn
  src/crypto/tests/CHIPCryptoPALTest.cpp
  src/crypto/tests/PBKDF2_SHA256_test_vectors.h
  src/lib/support/SafeInt.h
  src/transport/MessageHeader.h
Owners: @chrisdecenzo, @woody-apple, @bzbarsky-apple, @hawk248, @jelderton, @andy31415, @mspang, @saurabhst, @BroderickCarlin, @bhaskar-apple, @pan-apple, @rwalker-apple, @gerickson, @vivien-apple

.github/CODEOWNERS:

# Each line is a file pattern followed by one or more owners.

# Current reviewers-XXX teams, who review everything for approval.
#* @reviewers-amazon @reviewers-apple @reviewers-comcast @reviewers-google @reviewers-samsung
* @chrisdecenzo @rwalker-apple @bzbarsky-apple @hawk248 @jelderton @andy31415 @mspang @saurabhst @BroderickCarlin

# Owners of any files in these directories at the root of the repository and
# any of its subdirectories.
/src/android/  @chrisdecenzo @woody-apple @bzbarsky-apple @hawk248 @jelderton @andy31415 @mspang @saurabhst @BroderickCarlin @vidhis88
/src/app/  @chrisdecenzo @woody-apple @bzbarsky-apple @hawk248 @jelderton @andy31415 @mspang @saurabhst @BroderickCarlin @rwalker-apple @bzbarsky-apple @wehale @timotej @selissia @kedars
/src/ble/  @chrisdecenzo @woody-apple @bzbarsky-apple @hawk248 @jelderton @andy31415 @mspang @saurabhst @BroderickCarlin @turon @mspang @vivien-apple
/src/controller/ @chrisdecenzo @woody-apple @bzbarsky-apple @hawk248 @jelderton @andy31415 @mspang @saurabhst @BroderickCarlin @sagar-apple @vivien-apple @andy31415 @pan-apple
/src/crypto/  @chrisdecenzo @woody-apple @bzbarsky-apple @hawk248 @jelderton @andy31415 @mspang @saurabhst @BroderickCarlin @bhaskar-apple @pan-apple
/src/darwin/ @chrisdecenzo @woody-apple @bzbarsky-apple @hawk248 @jelderton @andy31415 @mspang @saurabhst @BroderickCarlin @sagar-apple @vivien-apple @pan-apple @shana-apple @rwalker-apple
/src/inet/ @chrisdecenzo @woody-apple @bzbarsky-apple @hawk248 @jelderton @andy31415 @mspang @saurabhst @BroderickCarlin @gerickson @pan-apple @vivien-apple @mspang
/src/lib/core/ @chrisdecenzo @woody-apple @bzbarsky-apple @hawk248 @jelderton @andy31415 @mspang @saurabhst @BroderickCarlin @pan-apple @sagar-apple @rwalker-apple @gerickson @yufengwangca
/src/lib/message/ @chrisdecenzo @woody-apple @bzbarsky-apple @hawk248 @jelderton @andy31415 @mspang @saurabhst @BroderickCarlin @mspang @andy31415 @yufengwangca @pan-apple
/src/lib/protocols/ @chrisdecenzo @woody-apple @bzbarsky-apple @hawk248 @jelderton @andy31415 @mspang @saurabhst @BroderickCarlin @yufengwangca @pan-apple
/src/lib/shell/  @chrisdecenzo @woody-apple @bzbarsky-apple @hawk248 @jelderton @andy31415 @mspang @saurabhst @BroderickCarlin @mspang @turon
/src/lib/support/  @chrisdecenzo @woody-apple @bzbarsky-apple @hawk248 @jelderton @andy31415 @mspang @saurabhst @BroderickCarlin @rwalker-apple @gerickson @pan-apple
/src/platform/  @chrisdecenzo @woody-apple @bzbarsky-apple @hawk248 @jelderton @andy31415 @mspang @saurabhst @BroderickCarlin @pan-apple  @mspang @vivien-apple @yufengwangca
/src/qrcodetool/  @chrisdecenzo @woody-apple @bzbarsky-apple @hawk248 @jelderton @andy31415 @mspang @saurabhst @BroderickCarlin @shana-apple
/src/setup_payload/  @chrisdecenzo @woody-apple @bzbarsky-apple @hawk248 @jelderton @andy31415 @mspang @saurabhst @BroderickCarlin @bhaskar-apple @vivien-apple
/src/system/  @chrisdecenzo @woody-apple @bzbarsky-apple @hawk248 @jelderton @andy31415 @mspang @saurabhst @BroderickCarlin @sagar-apple @pan-apple @gerickson @turon @rwalker-apple
/src/test_driver/  @chrisdecenzo @woody-apple @bzbarsky-apple @hawk248 @jelderton @andy31415 @mspang @saurabhst @BroderickCarlin @pan-apple @vivien-apple
/src/transport/  @chrisdecenzo @woody-apple @bzbarsky-apple @hawk248 @jelderton @andy31415 @mspang @saurabhst @BroderickCarlin @andy31415 @pan-apple @vivien-apple @mspang

# infra directories
/.github/ @chrisdecenzo @woody-apple @bzbarsky-apple @hawk248 @jelderton @andy31415 @mspang @saurabhst @BroderickCarlin @woody-apple @andy31415
/.devcontainer/ @chrisdecenzo @woody-apple @bzbarsky-apple @hawk248 @jelderton @andy31415 @mspang @saurabhst @BroderickCarlin @woody-apple @rwalker-apple
/integrations/docker/ @chrisdecenzo @woody-apple @bzbarsky-apple @hawk248 @jelderton @andy31415 @mspang @saurabhst @BroderickCarlin @rwalker-apple @woody-apple @andy31415
/scripts/ @chrisdecenzo @woody-apple @bzbarsky-apple @hawk248 @jelderton @andy31415 @mspang @saurabhst @BroderickCarlin @rwalker-apple @woody-apple @andy31415 @mspang

# this catches any directory named docs and its subdirs
docs/ @chrisdecenzo @woody-apple @bzbarsky-apple @hawk248 @jelderton @andy31415 @mspang @saurabhst @BroderickCarlin @gerickson @woody-apple @andy31415 @rwalker-apple
*.md @chrisdecenzo @woody-apple @bzbarsky-apple @hawk248 @jelderton @andy31415 @mspang @saurabhst @BroderickCarlin @gerickson @woody-apple @andy31415 @rwalker-apple

# GN make system
/.gn/ @chrisdecenzo @woody-apple @bzbarsky-apple @hawk248 @jelderton @andy31415 @mspang @saurabhst @BroderickCarlin @mspang
*.gn @chrisdecenzo @woody-apple @bzbarsky-apple @hawk248 @jelderton @andy31415 @mspang @saurabhst @BroderickCarlin @mspang
*.gni @chrisdecenzo @woody-apple @bzbarsky-apple @hawk248 @jelderton @andy31415 @mspang @saurabhst @BroderickCarlin @mspang
