Repository project-chip/connectedhomeip, changes with the owners that .github/CODEOWNERS names for each.
All owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @mspang, @pan-apple, @emargolis, @andy31415, @yufengwangca, @kghost, @bzbarksy-apple, @bzbarsky-apple, @gjc13, @damian-nordic, @erjiaqing, @shana-apple, @yunhanw-google, @vivien-apple, @erjianqing, @mrjerryjohns, @jrhees-cae, @rgoliver, @austinh0, @bukepo, @kpschoedel

Make CHIP_ERROR a class type on cc13x2_26x2, EFR32, QPG. (#8446)
  examples/lighting-app/efr32/include/AppConfig.h
  examples/lighting-app/efr32/include/LightingManager.h
  examples/lighting-app/efr32/src/AppTask.cpp
  examples/lighting-app/efr32/src/LightingManager.cpp
  examples/lighting-app/efr32/src/main.cpp
  examples/lighting-app/qpg/include/AppTask.h
  examples/lighting-app/qpg/include/LightingManager.h
  examples/lighting-app/qpg/src/AppTask.cpp
  examples/lighting-app/qpg/src/LightingManager.cpp
  examples/lock-app/cc13x2x7_26x2x7/main/main.cpp
  examples/lock-app/efr32/include/AppConfig.h
  examples/lock-app/efr32/include/BoltLockManager.h
  examples/lock-app/efr32/src/AppTask.cpp
  examples/lock-app/efr32/src/BoltLockManager.cpp
  examples/lock-app/efr32/src/main.cpp
  examples/lock-app/qpg/include/AppTask.h
  examples/lock-app/qpg/include/BoltLockManager.h
  examples/lock-app/qpg/src/AppTask.cpp
  examples/lock-app/qpg/src/BoltLockManager.cpp
  examples/persistent-storage/KeyValueStorageTest.cpp
  examples/platform/qpg/app/main.cpp
  examples/window-app/efr32/include/AppConfig.h
  examples/window-app/efr32/include/AppTask.h
  examples/window-app/efr32/src/AppTask.cpp
  examples/window-app/efr32/src/main.cpp
  src/controller/CHIPDevice.cpp
  src/controller/CHIPDeviceController.cpp
  src/lib/core/CHIPError.h
  src/lib/core/tests/TestCHIPTLV.cpp
  src/lib/shell/Engine.cpp
  src/lib/shell/MainLoopDefault.cpp
  src/platform/EFR32/CHIPPlatformConfig.h
  src/platform/cc13x2_26x2/BLEManagerImpl.cpp
  src/platform/cc13x2_26x2/CHIPPlatformConfig.h
  src/platform/cc13x2_26x2/PlatformManagerImpl.cpp
  src/platform/qpg/CHIPPlatformConfig.h
  src/platform/qpg/KeyValueStoreManagerImpl.cpp
  src/setup_payload/Base38.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @shana-apple, @pan-apple, @mspang, @yufengwangca, @rgoliver, @vivien-apple, @jrhees-cae

[python] Add command for closing an open connection (#8430)
  src/controller/CHIPDevice.cpp
  src/controller/CHIPDevice.h
  src/controller/python/ChipDeviceController-ScriptBinding.cpp
  src/controller/python/README.md
  src/controller/python/chip-device-ctrl.py
  src/controller/python/chip/ChipDeviceCtrl.py
  src/controller/python/test/test_scripts/base.py
  src/controller/python/test/test_scripts/mobile-device-test.py
Owners: @shana-apple, @pan-apple, @andy31415, @erjianqing

Add Color Control test cases in the test suites (#8444)
  examples/chip-tool/commands/tests/Commands.h
  examples/chip-tool/templates/tests-commands.zapt
  src/app/tests/suites/Test_TC_CC_3_4.yaml
  src/app/tests/suites/Test_TC_CC_5.yaml
  src/app/tests/suites/Test_TC_CC_6.yaml
  src/app/tests/suites/Test_TC_CC_7.yaml
Owners: @vivien-apple

Add TODO
  src/platform/OpenThread/GenericThreadStackManagerImpl_OpenThread.h
Owners: @bukepo

[dns-sd] Optimize memory usage of SRP client
  src/lib/mdns/Advertiser.h
  src/lib/mdns/Discovery_ImplPlatform.cpp
  src/lib/support/BUILD.gn
  src/lib/support/FixedBufferAllocator.cpp
  src/lib/support/FixedBufferAllocator.h
  src/lib/support/tests/BUILD.gn
  src/lib/support/tests/TestFixedBufferAllocator.cpp
  src/platform/OpenThread/GenericThreadStackManagerImpl_OpenThread.cpp
  src/platform/OpenThread/GenericThreadStackManagerImpl_OpenThread.h
Owners: @andy31415, @gjc13, @damian-nordic, @mspang, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @bukepo

Address code review comments
  src/lib/mdns/Advertiser.h
  src/lib/support/FixedBufferAllocator.cpp
  src/lib/support/FixedBufferAllocator.h
  src/lib/support/tests/TestFixedBufferAllocator.cpp
  src/platform/OpenThread/GenericThreadStackManagerImpl_OpenThread.cpp
  src/platform/OpenThread/GenericThreadStackManagerImpl_OpenThread.h
Owners: @andy31415, @gjc13, @damian-nordic, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @bukepo

Restyled by clang-format
  src/platform/OpenThread/GenericThreadStackManagerImpl_OpenThread.h
Owners: @bukepo

[dns-sd] Optimize memory usage of SRP client (#8370)
  src/lib/mdns/Advertiser.h
  src/lib/mdns/Discovery_ImplPlatform.cpp
  src/lib/support/BUILD.gn
  src/lib/support/FixedBufferAllocator.cpp
  src/lib/support/FixedBufferAllocator.h
  src/lib/support/tests/BUILD.gn
  src/lib/support/tests/TestFixedBufferAllocator.cpp
  src/platform/OpenThread/GenericThreadStackManagerImpl_OpenThread.cpp
  src/platform/OpenThread/GenericThreadStackManagerImpl_OpenThread.h
Owners: @andy31415, @gjc13, @damian-nordic, @mspang, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @bukepo

Add option 'version' to setup-payload generate command
  src/controller/python/chip-device-ctrl.py
  src/controller/python/chip/setup_payload/Generator.cpp
  src/controller/python/chip/setup_payload/setup_payload.py
Owners: @andy31415, @erjianqing

address comments
  examples/platform/linux/AppMain.cpp
  examples/platform/linux/CommissioneeShellCommands.cpp
  examples/platform/linux/CommissioneeShellCommands.h
  examples/platform/linux/ControllerShellCommands.cpp
  examples/platform/linux/ControllerShellCommands.h
  src/app/server/Mdns.cpp
  src/app/server/Server.cpp
  src/app/server/Server.h
  src/controller/CHIPDeviceController.cpp
  src/controller/CHIPDeviceController.h
  src/protocols/user_directed_commissioning/UDCClientState.h
  src/protocols/user_directed_commissioning/UDCClients.h
  src/protocols/user_directed_commissioning/UserDirectedCommissioning.h
  src/protocols/user_directed_commissioning/UserDirectedCommissioningClient.cpp
  src/protocols/user_directed_commissioning/UserDirectedCommissioningServer.cpp
  src/transport/raw/MessageHeader.cpp
  src/transport/raw/UDP.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @yunhanw-google, @bzbarsky-apple, @mrjerryjohns, @shana-apple, @pan-apple, @yufengwangca, @kghost, @bzbarksy-apple, @andy31415

address comments
  src/controller/AbstractMdnsDiscoveryController.cpp
  src/controller/AbstractMdnsDiscoveryController.h
  src/controller/CHIPDeviceController.cpp
  src/controller/CHIPDeviceController.h
  src/protocols/user_directed_commissioning/UDCClientState.h
  src/protocols/user_directed_commissioning/UDCClients.h
Owners: @shana-apple, @pan-apple, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

address comments
  src/system/SystemPacketBuffer.h
  src/transport/raw/MessageHeader.cpp
  src/transport/raw/UDP.cpp
Owners: @kpschoedel, @yufengwangca, @kghost, @bzbarksy-apple, @andy31415, @pan-apple

address comments
  src/transport/raw/MessageHeader.cpp
Owners: @yufengwangca, @kghost, @bzbarksy-apple

address comments
  examples/platform/linux/ControllerShellCommands.cpp
  src/controller/CHIPDeviceController.cpp
  src/controller/CHIPDeviceController.h
  src/messaging/tests/echo/echo_responder.cpp
  src/protocols/user_directed_commissioning/UserDirectedCommissioning.h
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @shana-apple, @pan-apple, @yufengwangca, @bzbarsky-apple

revert changes to echo requester/responder
  src/messaging/tests/echo/echo_requester.cpp
  src/messaging/tests/echo/echo_responder.cpp
Owners: @yufengwangca, @bzbarsky-apple

[K32W] Logging: Fix K32W buffer index
  src/platform/K32W/Logging.cpp
Owners: @mspang, @yufengwangca

[python] Add ChipStack.RunOnChipThread to run a python function on CHIP stack
  src/controller/python/ChipDeviceController-ScriptBinding.cpp
  src/controller/python/chip/ChipDeviceCtrl.py
  src/controller/python/chip/ChipStack.py
Owners: @andy31415, @erjianqing

Restyled by clang-format
  src/controller/python/ChipDeviceController-ScriptBinding.cpp
Owners: @andy31415, @erjianqing

Add IM read event e2e test and fix the found bug
  src/app/EventLoggingTypes.h
  src/app/EventManagement.cpp
  src/app/EventManagement.h
  src/app/ReadHandler.cpp
  src/app/ReadHandler.h
  src/app/reporting/Engine.cpp
  src/app/tests/TestEventLogging.cpp
  src/app/tests/TestReadInteraction.cpp
Owners: @yunhanw-google, @bzbarsky-apple, @mrjerryjohns

Restyled by clang-format
  src/app/EventLoggingTypes.h
  src/app/EventManagement.cpp
  src/app/reporting/Engine.cpp
Owners: @yunhanw-google, @bzbarsky-apple, @mrjerryjohns

Add IM read event e2e test and fix the found bug
  src/app/EventLoggingTypes.h
  src/app/EventManagement.cpp
  src/app/EventManagement.h
  src/app/ReadHandler.cpp
  src/app/ReadHandler.h
  src/app/reporting/Engine.cpp
  src/app/tests/TestEventLogging.cpp
  src/app/tests/TestReadInteraction.cpp
Owners: @yunhanw-google, @bzbarsky-apple, @mrjerryjohns

doc: nrfconnect: commissioning guide edits
  docs/guides/nrfconnect_android_commissioning.md
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Restyled by prettier-markdown
  docs/guides/nrfconnect_android_commissioning.md
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Address review comments
  examples/common/cmake/idf_flashing.cmake
  scripts/examples/build-all-clusters-app.py
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Allow ChipCertificateSet Initialization without Decode Buffer.
  src/credentials/CHIPCert.cpp
  src/credentials/CHIPCert.h
  src/credentials/CHIPOperationalCredentials.cpp
  src/credentials/tests/TestChipCert.cpp
  src/credentials/tests/TestChipOperationalCredentials.cpp
  src/protocols/secure_channel/CASESession.cpp
  src/protocols/secure_channel/tests/TestCASESession.cpp
  src/tools/chip-cert/Cmd_PrintCert.cpp
  src/tools/chip-cert/Cmd_ValidateCert.cpp
  src/transport/AdminPairingTable.cpp
Owners: @pan-apple, @emargolis, @shana-apple

[Darwin] Fix build warnings and make fields ReadOnly
  src/darwin/Framework/CHIP/CHIPThreadOperationalDataset.h
Owners: @shana-apple, @vivien-apple, @pan-apple

fix CI builds
  examples/platform/linux/CommissioneeShellCommands.cpp
  examples/platform/linux/ControllerShellCommands.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Apply review comments from @mspang
  src/crypto/CHIPCryptoPAL.cpp
  src/crypto/tests/RawIntegerToDer_test_vectors.h
  src/lib/support/BufferReader.h
  src/lib/support/Span.h
  src/lib/support/tests/TestSpan.cpp
Owners: @pan-apple, @emargolis, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Move WakeIOThread() functionality to WatchableEventManager (#8456)
  src/controller/CHIPDeviceController.cpp
  src/controller/java/CHIPDeviceController-JNI.cpp
  src/include/platform/internal/GenericPlatformManagerImpl_POSIX.cpp
  src/include/platform/internal/GenericPlatformManagerImpl_Zephyr.cpp
  src/inet/EndPointBasis.h
  src/inet/RawEndPoint.cpp
  src/inet/TCPEndPoint.cpp
  src/platform/Linux/MdnsImpl.h
  src/platform/mbed/PlatformManagerImpl.cpp
  src/system/BUILD.gn
  src/system/SystemConfig.h
  src/system/SystemLayer.cpp
  src/system/SystemLayer.h
  src/system/SystemTimer.cpp
  src/system/WakeEvent.cpp
  src/system/WakeEvent.h
  src/system/WatchableEventManager.h
  src/system/WatchableEventManagerLibevent.cpp
  src/system/WatchableEventManagerLibevent.h
  src/system/WatchableEventManagerSelect.cpp
  src/system/WatchableEventManagerSelect.h
  src/system/WatchableSocket.h
  src/system/WatchableSocketLibevent.cpp
  src/system/WatchableSocketLibevent.h
  src/system/WatchableSocketSelect.cpp
  src/system/WatchableSocketSelect.h
  src/system/tests/TestSystemWakeEvent.cpp
Owners: @shana-apple, @pan-apple, @austinh0, @mspang, @yufengwangca, @kpschoedel

Separate out "GN builder" for the unified build script (#8381)
  scripts/build/builders/efr32.py
  scripts/build/builders/gn.py
  scripts/build/builders/linux.py
  scripts/build/builders/qpg.py
  scripts/build/expected_all_platform_commands.txt
  scripts/build/runner/shell.py
Owners: @mspang

ESP32: Optimize the time taken by esp32 workflows (#8409)
  .github/workflows/examples-esp32.yaml
  examples/all-clusters-app/esp32/sdkconfig_devkit.defaults
  examples/temperature-measurement-app/esp32/sdkconfig_devkit.defaults
  scripts/build/builders/esp32.py
  scripts/examples/esp_example.sh
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @mspang

Remove clang_experimental build for real this time (#8462)
  .github/workflows/build.yaml
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Convert python interface
  src/controller/python/ChipCommissionableNodeController-ScriptBinding.cpp
  src/controller/python/ChipDeviceController-ScriptBinding.cpp
  src/controller/python/ChipDeviceController-ScriptDeviceAddressUpdateDelegate.cpp
  src/controller/python/ChipDeviceController-ScriptDeviceAddressUpdateDelegate.h
  src/controller/python/ChipDeviceController-ScriptDevicePairingDelegate.cpp
  src/controller/python/ChipDeviceController-ScriptDevicePairingDelegate.h
  src/controller/python/chip/ChipStack.py
  src/controller/python/chip/clusters/CHIPClusters.cpp
  src/controller/python/chip/discovery/NodeResolution.cpp
  src/controller/python/chip/discovery/library_handle.py
  src/controller/python/chip/interaction_model/Delegate.cpp
  src/controller/python/chip/internal/CommissionerImpl.cpp
  src/controller/python/chip/native/StackInit.cpp
  src/controller/python/chip/setup_payload/Generator.cpp
  src/controller/python/chip/setup_payload/Parser.cpp
  src/controller/python/templates/python-CHIPClusters-cpp.zapt
Owners: @andy31415, @erjianqing

Optionally tag CHIP_ERROR with source location
  src/lib/core/CHIPConfig.h
  src/lib/core/CHIPError.h
  src/lib/support/ErrorStr.cpp
  src/lib/support/tests/TestErrorStr.cpp
  src/platform/Linux/CHIPPlatformConfig.h
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @mspang, @yufengwangca

Make CHIP_ERROR a class type on ESP32.
  examples/all-clusters-app/esp32/main/Button.cpp
  examples/all-clusters-app/esp32/main/main.cpp
  examples/lock-app/esp32/main/AppTask.cpp
  examples/lock-app/esp32/main/Button.cpp
  examples/lock-app/esp32/main/main.cpp
  examples/persistent-storage/esp32/main/main.cpp
  examples/temperature-measurement-app/esp32/main/main.cpp
  src/lib/shell/MainLoopESP32.cpp
  src/lib/shell/streamer_esp32.cpp
  src/platform/ESP32/CHIPPlatformConfig.h
  src/platform/ESP32/ConfigurationManagerImpl.cpp
  src/platform/ESP32/ConnectivityManagerImpl.cpp
  src/platform/ESP32/ESP32Config.cpp
  src/platform/ESP32/ESP32Utils.cpp
  src/platform/ESP32/ESP32Utils.h
  src/platform/ESP32/GroupKeyStoreImpl.cpp
  src/platform/ESP32/KeyValueStoreManagerImpl.cpp
  src/platform/ESP32/PlatformManagerImpl.cpp
  src/platform/ESP32/ScopedNvsHandle.h
  src/platform/ESP32/ServiceProvisioning.cpp
  src/platform/ESP32/bluedroid/BLEManagerImpl.cpp
  src/platform/ESP32/nimble/BLEManagerImpl.cpp
  src/test_driver/esp32/main/main_app.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @mspang, @yufengwangca, @rgoliver

review
  src/platform/ESP32/ScopedNvsHandle.h
  src/test_driver/esp32/main/main_app.cpp
Owners: @mspang, @yufengwangca, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Increase discover timeout for connect on controller
  src/controller/python/chip-device-ctrl.py
Owners: @andy31415, @erjianqing

Add IM read event e2e test and fix the found bug (#8338)
  src/app/EventLoggingTypes.h
  src/app/EventManagement.cpp
  src/app/EventManagement.h
  src/app/ReadHandler.cpp
  src/app/ReadHandler.h
  src/app/reporting/Engine.cpp
  src/app/tests/TestEventLogging.cpp
  src/app/tests/TestReadInteraction.cpp
Owners: @yunhanw-google, @bzbarsky-apple, @mrjerryjohns

Prevent use of invalid pointer in MessageCounterManager::OnResponseTimeout (#8392)
  src/protocols/secure_channel/MessageCounterManager.cpp
Owners: @pan-apple

review
  src/lib/support/ErrorStr.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

.github/CODEOWNERS:

# Current reviewers-XXX teams, who review everything for approval.
* @reviewers-amazon @reviewers-apple @reviewers-comcast @reviewers-google @reviewers-nordic @reviewers-samsung @reviewers-silabs


# BUILD system

*.gn @mspang
/build/ @mspang
/scripts/build/ @mspang

# Crypto
# Crypto primitives and high level API, generally on top of mbedtls and openssl
/src/crypto/* @pan-apple @emargolis
/src/credentials/ @pan-apple @emargolis

# Transport
# Send and receive data abstracting away the underlying protocol (UDP, TCP, BLE)
/src/transport/ @andy31415 @pan-apple

# Session establishment
# Establish a secure session (encryption keys) from one node to another.
# Includes CASE and PASE + session tracking and resumptioon
/src/protocols/secure_channel/ @pan-apple

# Message Layer
# CRMP and packet headers, generally coupled with SecureSessionManager
/src/messaging @yufengwangca @kghost @bzbarksy-apple
/src/transport/raw/MessageHeader.* @yufengwangca @kghost @bzbarksy-apple

# SecureSessionManager
# Manages per-session encryption keys and new session establishment
/src/transport/SecureSessionMgr.* @pan-apple

# Exchange management
# Joins requests and responses or ties a series of messages belonging to the 
# same protocol interaction
/src/messaging/ @yufengwangca @bzbarsky-apple
/src/channel/ @yufengwangca @bzbarsky-apple

# DNS-SD discovery and advertisement
# Advertise chip devices for commisioning, operational and discover such devices
/src/lib/mdns/ @andy31415 @gjc13 @damian-nordic

# Commisioning controller/flow
# Example of a comisioning sequence
/src/controller/ @pan-apple @erjiaqing

# Operational credentials management
# Signing certificates, maintaining roots of trust, validation, fabric management
/src/controller/ @shana-apple @pan-apple
/src/transport/AdminPairingTable.* @shana-apple @pan-apple

# TLV encoding/decoding to/from byte buffers
/src/lib/core/CHIPTLV* @yunhanw-google @bzbarsky-apple @shana-apple

# Interaction model - ember implementation
# ZCL protocol implementation: ZCL encoding to be sent over the wire as a 
# ZigbeePro protocol implementation
/src/app/util/ @vivien-apple @erjianqing @bzbarsky-apple

# Interaction model - non-ember
# Protocol implementation for IM interactions between nodes, matching spec
/src/app/ @yunhanw-google @bzbarsky-apple @mrjerryjohns

# Interaction model - code generation
# CHIP-specific infrastructure for generating code: helper js methods, scripts
# and code layout
/src/app/zap-templates/ @vivien-apple @erjianqing

# ZAP suppport
# UI for editing XML, generates code from such ZML and configuration files
# NOT part of CHIP however CHIP relies heavily on ZAP.
#    @vivien-apple  @tecimovic

# 'Standard' cluster implementations (server side)
# Clusters shipped with the sdk, can be integrated as-is or used as a template
/src/app/clusters/ @vivien-apple

# Onboarding payload
# Parsing and generation of codes (includes QR and NFC), numeric pairing payload
/src/setup_payload/ @shana-apple @vivien-apple @jrhees-cae

# Device Layer
# Porting interfaces, scaffolding for building an example firmware
/src/platform/ @mspang @yufengwangca
/src/include/platform/ @mspang @yufengwangca

# Persistent storage
# Save state across reboots
/src/platform/*/KeyValueStore* @rgoliver

# Python bindings for CHIP - CLI
# Allows python code to use CHIP, generally targeted towards automation
/src/controller/python/ @andy31415 @erjianqing

# CHIP-tool C++ CLI
# Command line interface to chip as a client (controller and commisioner)
# Includes generated code for every base cluster
/examples/chip-tool/ @vivien-apple

# CHIP-tool iOS UI
/src/darwin/CHIPTool/ @shana-apple

# CHIP-tool Android
/src/android/CHIPTool/ @austinh0
/src/controller/java/ @austinh0

# End2End autogenerated tests
/src/darwin/Framework/Chip-templates/ @vivien-apple
/src/app/tests/suites/ @vivien-apple

# End2End cirque tests
# Simulate topology (cirque) and ptyhon-based test automation
/src/test_driver/linux/cirque/ @erjianqing @yunhanw-google

# Thread integration
# Thread-specific functionality (network provisioning, operational discovery, SRP registration etc.)
/src/platform/OpenThread/ @bukepo
/src/platform/*/ThreadStackmanagerImpl.* @bukepo

# Inet
# Networking abstraction layer (UDP-endpoint, TCP-endpoint, InetLayerBasis)
/src/inet/ @kpschoedel 

# System layer
/src/system/ @kpschoedel 

# BLE support
/src/ble/ @yunhanw-google

# CHIP Shell
# Command-line UART/stdin interface as a side-channel to CHIP accessories
# Aimed as user-friendly/manual control
/src/examples/shell/ @gjc13 @yufengwangca

# RPC
# Side-channlel command path (outside chip), generally for automation and debugging
# Aimed as "scriptable" when compared to shell
/examples/common/pigweed/ @rgoliver
/examples/pigweed-app/ @rgoliver

# Tooling for crypto manual generation
# Generates data for sample PKI
/src/tools/chip-cert/ @emargolis

# Channel API
# Construct a transport/secure session based on peer info and transport type.
# Focused on CASE session establishment
/src/channel/ @kghost

# Darwin framework
# Exposes a darwin API (Objective-C/swift rather than raw C++ API) for darwin
# applications
/src/darwin/Framework/ @shana-apple @vivien-apple @pan-apple
