Repository project-chip/connectedhomeip, changes with the owners that .github/CODEOWNERS names for each.
All owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @mspang, @pan-apple, @emargolis, @andy31415, @yufengwangca, @kghost, @bzbarksy-apple, @bzbarsky-apple, @gjc13, @damian-nordic, @erjiaqing, @shana-apple, @yunhanw-google, @vivien-apple, @erjianqing, @mrjerryjohns, @jrhees-cae, @rgoliver, @austinh0, @bukepo, @kpschoedel

[Telink]: Migrate to upstream zephyr (code part) (#9165)
  .github/workflows/examples-telink.yaml
  config/telink/app/zephyr.conf
  config/telink/chip-module/CMakeLists.txt
  examples/lighting-app/telink/include/AppConfig.h
  examples/lighting-app/telink/include/LightingManager.h
  examples/lighting-app/telink/src/AppTask.cpp
  examples/lighting-app/telink/src/LightingManager.cpp
  examples/platform/telink/project_include/OpenThreadConfig.h
  examples/platform/telink/util/include/LEDWidget.h
  examples/platform/telink/util/src/ButtonManager.cpp
  examples/platform/telink/util/src/LEDWidget.cpp
  scripts/examples/telink_example.sh
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Define namespace chip inside asn1/ASN1OID.h (#9402)
  src/lib/asn1/ASN1.h
  src/lib/asn1/gen_asn1oid.py
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

stop task before getting status
  examples/chip-tool/commands/common/Commands.cpp
Owners: @vivien-apple

[Darwin] Properly delete chip::Callback on success/failure (#8889)
  src/darwin/Framework/CHIP.xcodeproj/project.pbxproj
  src/darwin/Framework/CHIP/CHIP.h
  src/darwin/Framework/CHIP/CHIPCallbackBridgeBase_internal.h
  src/darwin/Framework/CHIP/CHIPCluster.h
  src/darwin/Framework/CHIP/CHIPCluster.mm
  src/darwin/Framework/CHIP/CHIPCluster_internal.h
  src/darwin/Framework/CHIP/templates/CHIPCallbackBridge-src.zapt
  src/darwin/Framework/CHIP/templates/CHIPCallbackBridge_internal.zapt
  src/darwin/Framework/CHIP/templates/CHIPClustersObjc-src.zapt
  src/darwin/Framework/CHIP/templates/CHIPClustersObjc.zapt
  src/darwin/Framework/CHIP/templates/CHIPClustersObjc_internal.zapt
  src/darwin/Framework/CHIP/templates/partials/CHIPCallbackBridge.zapt
  src/darwin/Framework/CHIP/templates/templates.json
  src/darwin/Framework/CHIP/zap-generated/CHIPCallbackBridge.mm
  src/darwin/Framework/CHIP/zap-generated/CHIPCallbackBridge_internal.h
  src/darwin/Framework/CHIP/zap-generated/CHIPClustersObjc.h
  src/darwin/Framework/CHIP/zap-generated/CHIPClustersObjc.mm
  src/darwin/Framework/CHIP/zap-generated/CHIPClustersObjc_internal.h
Owners: @shana-apple, @vivien-apple, @pan-apple

Restyled by clang-format
  src/app/util/ember-compatibility-functions.cpp
Owners: @yunhanw-google, @bzbarsky-apple, @mrjerryjohns

add multiple tests
  src/app/tests/TestClusterInfo.cpp
  src/app/tests/TestReadInteraction.cpp
  src/app/tests/TestReportingEngine.cpp
  src/app/tests/integration/chip_im_initiator.cpp
  src/app/tests/integration/chip_im_responder.cpp
  src/app/util/ember-compatibility-functions.cpp
Owners: @yunhanw-google, @bzbarsky-apple, @mrjerryjohns

changed memcmp to strncmp as per suggestion from msandstedt
  src/crypto/CHIPCryptoPALOpenSSL.cpp
Owners: @pan-apple, @emargolis

Restyled by clang-format
  src/app/reporting/reporting.cpp
  src/app/util/attribute-table.cpp
  src/controller/CHIPDeviceController.cpp
Owners: @yunhanw-google, @bzbarsky-apple, @mrjerryjohns, @shana-apple, @pan-apple

address review comments
  src/transport/FabricTable.cpp
  src/transport/FabricTable.h
Owners: @andy31415, @pan-apple

Fix retransmition table size is 0 if Lwip custom pool is used
  src/messaging/ReliableMessageProtocolConfig.h
Owners: @yufengwangca, @bzbarsky-apple

[Tests] - Add a new GlobalCommands interface for tests and expose WaitForMs (#9000)
  examples/chip-tool/commands/tests/TestCommand.cpp
  examples/chip-tool/commands/tests/TestCommand.h
  examples/chip-tool/templates/partials/test_cluster.zapt
  examples/chip-tool/templates/tests-commands.zapt
  src/app/tests/suites/TestDelayCommands.yaml
  src/app/zap-templates/common/ClusterTestGeneration.js
  src/app/zap-templates/common/simulated-clusters/TestDelayCommands.js
  src/darwin/Framework/CHIP/templates/clusters-tests.zapt
  src/darwin/Framework/CHIP/templates/partials/test_cluster.zapt
  src/darwin/Framework/CHIPTests/CHIPClustersTests.m
  zzz_generated/chip-tool/zap-generated/test/Commands.h
Owners: @vivien-apple, @erjianqing, @shana-apple, @pan-apple, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Remove ChipLogFunctError definition and conditional
  config/android/CHIPProjectConfig.h
  config/ios/CHIPProjectConfig.h
  config/standalone/CHIPProjectConfig.h
  src/controller/java/CHIPProjectConfig.h
  src/lib/core/CHIPConfig.h
  src/lib/support/logging/CHIPLogging.h
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @austinh0

Remove the ChipLogFunctError invocations via `rg ChipLogFunctError | cut -f1 -d: | uniq | xargs -n1 perl -n -i -e 'print unless /ChipLogFunctError/'`
  src/app/Command.cpp
  src/app/CommandHandler.cpp
  src/app/CommandSender.cpp
  src/app/EventManagement.cpp
  src/app/InteractionModelEngine.cpp
  src/app/MessageDef/AttributeDataElement.cpp
  src/app/MessageDef/AttributeDataList.cpp
  src/app/MessageDef/AttributeDataVersionList.cpp
  src/app/MessageDef/AttributePath.cpp
  src/app/MessageDef/AttributePathList.cpp
  src/app/MessageDef/AttributeStatusElement.cpp
  src/app/MessageDef/AttributeStatusList.cpp
  src/app/MessageDef/Builder.cpp
  src/app/MessageDef/CommandDataElement.cpp
  src/app/MessageDef/CommandList.cpp
  src/app/MessageDef/CommandPath.cpp
  src/app/MessageDef/EventDataElement.cpp
  src/app/MessageDef/EventList.cpp
  src/app/MessageDef/EventPath.cpp
  src/app/MessageDef/EventPathList.cpp
  src/app/MessageDef/InvokeCommand.cpp
  src/app/MessageDef/ListBuilder.cpp
  src/app/MessageDef/ListParser.cpp
  src/app/MessageDef/ReadRequest.cpp
  src/app/MessageDef/ReportData.cpp
  src/app/MessageDef/StatusElement.cpp
  src/app/MessageDef/SubscribeRequest.cpp
  src/app/MessageDef/SubscribeResponse.cpp
  src/app/MessageDef/TimedRequest.cpp
  src/app/MessageDef/WriteRequest.cpp
  src/app/MessageDef/WriteResponse.cpp
  src/app/ReadClient.cpp
  src/app/ReadHandler.cpp
  src/app/WriteClient.cpp
  src/app/WriteHandler.cpp
  src/app/reporting/Engine.cpp
  src/app/tests/TestReadInteraction.cpp
  src/app/tests/TestReportingEngine.cpp
  src/app/tests/integration/chip_im_responder.cpp
Owners: @yunhanw-google, @bzbarsky-apple, @mrjerryjohns

Restyled by clang-format
  src/app/InteractionModelEngine.cpp
Owners: @yunhanw-google, @bzbarsky-apple, @mrjerryjohns

Endian-ness enforcement of generated compressed fabric ID (#9488)
  src/transport/FabricTable.cpp
  src/transport/FabricTable.h
  src/transport/tests/BUILD.gn
  src/transport/tests/TestFabricTable.cpp
Owners: @andy31415, @pan-apple

Added more unit tests for Rotating Device Id
  src/app/server/Mdns.cpp
  src/setup_payload/AdditionalDataPayloadGenerator.cpp
  src/setup_payload/AdditionalDataPayloadGenerator.h
  src/setup_payload/AdditionalDataPayloadParser.cpp
  src/setup_payload/tests/TestAdditionalDataPayload.cpp
Owners: @yunhanw-google, @bzbarsky-apple, @mrjerryjohns, @shana-apple, @vivien-apple, @jrhees-cae

Restyled by clang-format
  src/setup_payload/AdditionalDataPayloadGenerator.h
  src/setup_payload/tests/TestAdditionalDataPayload.cpp
Owners: @shana-apple, @vivien-apple, @jrhees-cae

updated styling
  src/setup_payload/AdditionalDataPayloadGenerator.h
  src/setup_payload/tests/TestAdditionalDataPayload.cpp
Owners: @shana-apple, @vivien-apple, @jrhees-cae

RPC: Refactor to share common code between examples
  examples/all-clusters-app/esp32/README.md
  examples/all-clusters-app/esp32/main/CMakeLists.txt
  examples/all-clusters-app/esp32/main/Rpc.cpp
  examples/common/pigweed/BUILD.gn
  examples/common/pigweed/protos/lighting_service.proto
  examples/common/pigweed/protos/locking_service.proto
  examples/common/pigweed/rpc_console/py/BUILD.gn
  examples/common/pigweed/rpc_services/Button.h
  examples/common/pigweed/rpc_services/Device.h
  examples/common/pigweed/rpc_services/Lighting.h
  examples/common/pigweed/rpc_services/Locking.h
  examples/common/pigweed/rpc_services/internal/StatusUtils.h
  examples/lighting-app/efr32/BUILD.gn
  examples/lighting-app/efr32/README.md
  examples/lighting-app/efr32/src/Rpc.cpp
  examples/lighting-app/lighting-common/BUILD.gn
  examples/lighting-app/linux/BUILD.gn
  examples/lighting-app/linux/README.md
  examples/lighting-app/linux/Rpc.cpp
  examples/lighting-app/nrfconnect/CMakeLists.txt
  examples/lighting-app/nrfconnect/README.md
  examples/lighting-app/nrfconnect/main/Rpc.cpp
  examples/lighting-app/nrfconnect/main/include/AppTask.h
  examples/lock-app/esp32/main/CMakeLists.txt
  examples/lock-app/esp32/main/Rpc.cpp
  examples/lock-app/lock-common/BUILD.gn
  src/platform/ESP32/BLEManagerImpl.h
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @rgoliver, @mspang, @yufengwangca

Restyled by gn
  examples/lighting-app/linux/BUILD.gn
Owners: @mspang

Invoke python3.8 directly for for add-repository since python3.9 does not work
  integrations/docker/images/chip-build-cirque/Dockerfile
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Invoke python3.8 directly for for add-repository since python3.9 does not work (#9519)
  integrations/docker/images/chip-build-cirque/Dockerfile
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Don't clobber chip-tool error (#9504)
  examples/chip-tool/commands/common/Commands.cpp
Owners: @vivien-apple

Mbed optimize debug (#9498)
  build/config/compiler/compiler.gni
Owners: @mspang

Propagate the interface id from avahi in the Linux MDNS impl. (#9484)
  src/platform/Linux/MdnsImpl.cpp
Owners: @mspang, @yufengwangca

Remove no longer needed StorablePeerConnection class (#9477)
  examples/lighting-app/mbed/CMakeLists.txt
  examples/lighting-app/nrfconnect/CMakeLists.txt
  examples/lighting-app/telink/CMakeLists.txt
  examples/lock-app/mbed/CMakeLists.txt
  examples/lock-app/nrfconnect/CMakeLists.txt
  examples/pump-app/nrfconnect/CMakeLists.txt
  examples/pump-controller-app/nrfconnect/CMakeLists.txt
  src/app/server/BUILD.gn
  src/app/server/StorablePeerConnection.cpp
  src/app/server/StorablePeerConnection.h
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @yunhanw-google, @bzbarsky-apple, @mrjerryjohns

support different dhcp client in Linux (#9490)
  src/platform/Linux/ConnectivityManagerImpl.cpp
Owners: @mspang, @yufengwangca

restyle
  examples/ota-requestor-app/linux/BUILD.gn
Owners: @mspang

update copyright dates
  examples/ota-requestor-app/linux/.gn
  examples/ota-requestor-app/linux/BUILD.gn
  examples/ota-requestor-app/linux/PersistentStorage.cpp
  examples/ota-requestor-app/linux/PersistentStorage.h
  examples/ota-requestor-app/linux/args.gni
  examples/ota-requestor-app/linux/main.cpp
Owners: @mspang, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

regen files after master merge
  src/darwin/Framework/CHIP/zap-generated/CHIPClustersObjc.h
  src/darwin/Framework/CHIP/zap-generated/CHIPClustersObjc.mm
  src/darwin/Framework/CHIP/zap-generated/CHIPClustersObjc_internal.h
Owners: @shana-apple, @vivien-apple, @pan-apple

Add Spell checker CI action
  .github/.wordlist.txt
  .github/workflows/spell.yml
  .spellcheck.yml
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Fix documentation's typos
  docs/VSCODE_DEVELOPMENT.md
  docs/discussion/lwip_ipv6.md
  docs/guides/nrfconnect_examples_configuration.md
  docs/guides/nxp_k32w_android_commissioning.md
  docs/guides/python_chip_controller_advanced_usage.md
  docs/guides/python_chip_controller_building.md
  examples/all-clusters-app/esp32/README.md
  examples/chip-tool/README.md
  examples/lighting-app/efr32/README.md
  examples/lighting-app/nxp/linux-imx/imx8m/README.md
  examples/lighting-app/telink/Readme.md
  examples/lock-app/cc13x2x7_26x2x7/README.md
  examples/lock-app/efr32/README.md
  examples/lock-app/k32w/README.md
  examples/minimal-mdns/README.md
  examples/persistent-storage/efr32/README.md
  examples/pump-app/cc13x2x7_26x2x7/doc/programming-ccs.md
  examples/pump-controller-app/cc13x2x7_26x2x7/doc/programming-ccs.md
  examples/tv-casting-app/linux/README.md
  examples/window-app/efr32/README.md
  scripts/tools/memory/README.md
  src/README.md
  src/platform/Linux/README.md
  src/platform/README.md
  src/platform/Zephyr/README.md
  src/platform/qpg/README.md
  src/test_driver/esp32/README.md
  src/test_driver/linux-cirque/README.md
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @vivien-apple, @mspang, @yufengwangca

[build] Add sysroot config
  build/chip/linux/gen_gdbus_wrapper.py
  build/chip/tests.gni
  build/config/compiler/BUILD.gn
  build/config/linux/pkg-config.py
  build/config/linux/pkg_config.gni
  build/config/sysroot.gni
Owners: @mspang

Fix Clang build
  src/app/clusters/thermostat-server/thermostat-server.cpp
  src/tools/chip-cert/GeneralUtils.cpp
Owners: @vivien-apple, @emargolis

ESP32: Disable random MAC address by default
  config/esp32/components/chip/Kconfig
  src/platform/ESP32/CHIPDevicePlatformConfig.h
  src/platform/ESP32/PlatformManagerImpl.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @mspang, @yufengwangca

Device Attestation Verifier (#9405)
  src/credentials/BUILD.gn
  src/credentials/DeviceAttestationVerifier.cpp
  src/credentials/DeviceAttestationVerifier.h
  src/credentials/examples/DeviceAttestationCredsExample.cpp
  src/credentials/examples/DeviceAttestationVerifierExample.cpp
  src/credentials/examples/DeviceAttestationVerifierExample.h
  src/credentials/tests/CHIPCert_test_vectors.cpp
  src/credentials/tests/CHIPCert_test_vectors.h
  src/credentials/tests/TestDeviceAttestationCredentials.cpp
  src/crypto/CHIPCryptoPAL.h
  src/crypto/CHIPCryptoPALOpenSSL.cpp
  src/crypto/CHIPCryptoPALmbedTLS.cpp
  src/crypto/tests/CHIPCryptoPALTest.cpp
  src/lib/support/Span.h
Owners: @pan-apple, @emargolis, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Remove need for TELINK_TOOLCHAIN in the exampels build script.
  scripts/build/builders/telink.py
Owners: @mspang

Update generated content
  zzz_generated/all-clusters-app/zap-generated/endpoint_config.h
  zzz_generated/app-common/app-common/zap-generated/af-structs.h
  zzz_generated/bridge-app/zap-generated/endpoint_config.h
  zzz_generated/lighting-app/zap-generated/endpoint_config.h
  zzz_generated/lock-app/zap-generated/endpoint_config.h
  zzz_generated/pump-app/zap-generated/endpoint_config.h
  zzz_generated/pump-controller-app/zap-generated/endpoint_config.h
  zzz_generated/temperature-measurement-app/zap-generated/endpoint_config.h
  zzz_generated/thermostat/zap-generated/endpoint_config.h
  zzz_generated/tv-app/zap-generated/endpoint_config.h
  zzz_generated/tv-casting-app/zap-generated/endpoint_config.h
  zzz_generated/window-app/zap-generated/endpoint_config.h
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Run ./scripts/tools/zap_convert_all.py
  examples/all-clusters-app/all-clusters-common/all-clusters-app.zap
  examples/bridge-app/bridge-common/bridge-app.zap
  examples/lighting-app/lighting-common/lighting-app.zap
  examples/lock-app/lock-common/lock-app.zap
  examples/ota-provider-app/ota-provider-common/ota-provider-app.zap
  examples/pump-app/pump-common/pump-app.zap
  examples/pump-controller-app/pump-controller-common/pump-controller-app.zap
  examples/temperature-measurement-app/esp32/main/temperature-measurement.zap
  examples/thermostat/thermostat-common/thermostat.zap
  examples/tv-app/tv-common/tv-app.zap
  examples/tv-casting-app/tv-casting-common/tv-casting-app.zap
  examples/window-app/common/window-app.zap
  src/controller/data_model/controller-clusters.zap
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @shana-apple, @pan-apple

Update templates and templates helpers to works with the updated ZAP repo
  examples/chip-tool/templates/helper.js
  src/app/zap-templates/common/ClusterTestGeneration.js
  src/app/zap-templates/common/ClustersHelper.js
  src/app/zap-templates/common/override.js
  src/app/zap-templates/templates/app/helper.js
  src/app/zap-templates/templates/chip/helper.js
  src/controller/java/templates/helper.js
  src/controller/python/templates/helper.js
  src/darwin/Framework/CHIP/templates/helper.js
  src/darwin/Framework/CHIP/templates/partials/CHIPCallbackBridge.zapt
Owners: @vivien-apple, @erjianqing, @austinh0, @andy31415, @shana-apple, @pan-apple

.github/CODEOWNERS:

# Current reviewers-XXX teams, who review everything for approval.
* @reviewers-amazon @reviewers-apple @reviewers-comcast @reviewers-google @reviewers-nordic @reviewers-samsung @reviewers-silabs


# BUILD system

*.gn @mspang
/build/ @mspang
/scripts/build/ @mspang

# Crypto
# Crypto primitives and high level API, generally on top of mbedtls and openssl
/src/crypto/* @pan-apple @emargolis
/src/credentials/ @pan-apple @emargolis

# Transport
# Send and receive data abstracting away the underlying protocol (UDP, TCP, BLE)
/src/transport/ @andy31415 @pan-apple

# Session establishment
# Establish a secure session (encryption keys) from one node to another.
# Includes CASE and PASE + session tracking and resumptioon
/src/protocols/secure_channel/ @pan-apple

# Message Layer
# CRMP and packet headers, generally coupled with SecureSessionManager
/src/messaging @yufengwangca @kghost @bzbarksy-apple
/src/transport/raw/MessageHeader.* @yufengwangca @kghost @bzbarksy-apple

# SecureSessionManager
# Manages per-session encryption keys and new session establishment
/src/transport/SecureSessionMgr.* @pan-apple

# Exchange management
# Joins requests and responses or ties a series of messages belonging to the 
# same protocol interaction
/src/messaging/ @yufengwangca @bzbarsky-apple
/src/channel/ @yufengwangca @bzbarsky-apple

# DNS-SD discovery and advertisement
# Advertise chip devices for commisioning, operational and discover such devices
/src/lib/mdns/ @andy31415 @gjc13 @damian-nordic

# Commisioning controller/flow
# Example of a comisioning sequence
/src/controller/ @pan-apple @erjiaqing

# Operational credentials management
# Signing certificates, maintaining roots of trust, validation, fabric management
/src/controller/ @shana-apple @pan-apple
/src/transport/AdminPairingTable.* @shana-apple @pan-apple

# TLV encoding/decoding to/from byte buffers
/src/lib/core/CHIPTLV* @yunhanw-google @bzbarsky-apple @shana-apple

# Interaction model - ember implementation
# ZCL protocol implementation: ZCL encoding to be sent over the wire as a 
# ZigbeePro protocol implementation
/src/app/util/ @vivien-apple @erjianqing @bzbarsky-apple

# Interaction model - non-ember
# Protocol implementation for IM interactions between nodes, matching spec
/src/app/ @yunhanw-google @bzbarsky-apple @mrjerryjohns

# Interaction model - code generation
# CHIP-specific infrastructure for generating code: helper js methods, scripts
# and code layout
/src/app/zap-templates/ @vivien-apple @erjianqing

# ZAP suppport
# UI for editing XML, generates code from such ZML and configuration files
# NOT part of CHIP however CHIP relies heavily on ZAP.
#    @vivien-apple  @tecimovic

# 'Standard' cluster implementations (server side)
# Clusters shipped with the sdk, can be integrated as-is or used as a template
/src/app/clusters/ @vivien-apple

# Onboarding payload
# Parsing and generation of codes (includes QR and NFC), numeric pairing payload
/src/setup_payload/ @shana-apple @vivien-apple @jrhees-cae

# Device Layer
# Porting interfaces, scaffolding for building an example firmware
/src/platform/ @mspang @yufengwangca
/src/include/platform/ @mspang @yufengwangca

# Persistent storage
# Save state across reboots
/src/platform/*/KeyValueStore* @rgoliver

# Python bindings for CHIP - CLI
# Allows python code to use CHIP, generally targeted towards automation
/src/controller/python/ @andy31415 @erjianqing

# CHIP-tool C++ CLI
# Command line interface to chip as a client (controller and commisioner)
# Includes generated code for every base cluster
/examples/chip-tool/ @vivien-apple

# CHIP-tool iOS UI
/src/darwin/CHIPTool/ @shana-apple

# CHIP-tool Android
/src/android/CHIPTool/ @austinh0
/src/controller/java/ @austinh0

# End2End autogenerated tests
/src/darwin/Framework/Chip-templates/ @vivien-apple
/src/app/tests/suites/ @vivien-apple

# End2End cirque tests
# Simulate topology (cirque) and ptyhon-based test automation
/src/test_driver/linux/cirque/ @erjianqing @yunhanw-google

# Thread integration
# Thread-specific functionality (network provisioning, operational discovery, SRP registration etc.)
/src/platform/OpenThread/ @bukepo
/src/platform/*/ThreadStackmanagerImpl.* @bukepo

# Inet
# Networking abstraction layer (UDP-endpoint, TCP-endpoint, InetLayerBasis)
/src/inet/ @kpschoedel 

# System layer
/src/system/ @kpschoedel 

# BLE support
/src/ble/ @yunhanw-google

# CHIP Shell
# Command-line UART/stdin interface as a side-channel to CHIP accessories
# Aimed as user-friendly/manual control
/src/examples/shell/ @gjc13 @yufengwangca

# RPC
# Side-channlel command path (outside chip), generally for automation and debugging
# Aimed as "scriptable" when compared to shell
/examples/common/pigweed/ @rgoliver
/examples/pigweed-app/ @rgoliver

# Tooling for crypto manual generation
# Generates data for sample PKI
/src/tools/chip-cert/ @emargolis

# Channel API
# Construct a transport/secure session based on peer info and transport type.
# Focused on CASE session establishment
/src/channel/ @kghost

# Darwin framework
# Exposes a darwin API (Objective-C/swift rather than raw C++ API) for darwin
# applications
/src/darwin/Framework/ @shana-apple @vivien-apple @pan-apple
