Repository project-chip/connectedhomeip, changes with the owners that .github/CODEOWNERS names for each.
All owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @mspang, @pan-apple, @emargolis, @andy31415, @yufengwangca, @kghost, @bzbarksy-apple, @bzbarsky-apple, @gjc13, @damian-nordic, @erjiaqing, @shana-apple, @yunhanw-google, @vivien-apple, @erjianqing, @mrjerryjohns, @jrhees-cae, @rgoliver, @austinh0, @bukepo, @kpschoedel

.github/CODEOWNERS:

# Current reviewers-XXX teams, who review everything for approval.
* @reviewers-amazon @reviewers-apple @reviewers-comcast @reviewers-google @reviewers-nordic @reviewers-samsung @reviewers-silabs


# BUILD system

*.gn @mspang
/build/ @mspang
/scripts/build/ @mspang

# Crypto
# Crypto primitives and high level API, generally on top of mbedtls and openssl
/src/crypto/* @pan-apple @emargolis
/src/credentials/ @pan-apple @emargolis

# Transport
# Send and receive data abstracting away the underlying protocol (UDP, TCP, BLE)
/src/transport/ @andy31415 @pan-apple

# Session establishment
# Establish a secure session (encryption keys) from one node to another.
# Includes CASE and PASE + session tracking and resumptioon
/src/protocols/secure_channel/ @pan-apple

# Message Layer
# CRMP and packet headers, generally coupled with SecureSessionManager
/src/messaging @yufengwangca @kghost @bzbarksy-apple
/src/transport/raw/MessageHeader.* @yufengwangca @kghost @bzbarksy-apple

# SecureSessionManager
# Manages per-session encryption keys and new session establishment
/src/transport/SecureSessionMgr.* @pan-apple

# Exchange management
# Joins requests and responses or ties a series of messages belonging to the 
# same protocol interaction
/src/messaging/ @yufengwangca @bzbarsky-apple
/src/channel/ @yufengwangca @bzbarsky-apple

# DNS-SD discovery and advertisement
# Advertise chip devices for commisioning, operational and discover such devices
/src/lib/mdns/ @andy31415 @gjc13 @damian-nordic

# Commisioning controller/flow
# Example of a comisioning sequence
/src/controller/ @pan-apple @erjiaqing

# Operational credentials management
# Signing certificates, maintaining roots of trust, validation, fabric management
/src/controller/ @shana-apple @pan-apple
/src/transport/AdminPairingTable.* @shana-apple @pan-apple

# TLV encoding/decoding to/from byte buffers
/src/lib/core/CHIPTLV* @yunhanw-google @bzbarsky-apple @shana-apple

# Interaction model - ember implementation
# ZCL protocol implementation: ZCL encoding to be sent over the wire as a 
# ZigbeePro protocol implementation
/src/app/util/ @vivien-apple @erjianqing @bzbarsky-apple

# Interaction model - non-ember
# Protocol implementation for IM interactions between nodes, matching spec
/src/app/ @yunhanw-google @bzbarsky-apple @mrjerryjohns

# Interaction model - code generation
# CHIP-specific infrastructure for generating code: helper js methods, scripts
# and code layout
/src/app/zap-templates/ @vivien-apple @erjianqing

# ZAP suppport
# UI for editing XML, generates code from such ZML and configuration files
# NOT part of CHIP however CHIP relies heavily on ZAP.
#    @vivien-apple  @tecimovic

# 'Standard' cluster implementations (server side)
# Clusters shipped with the sdk, can be integrated as-is or used as a template
/src/app/clusters/ @vivien-apple

# Onboarding payload
# Parsing and generation of codes (includes QR and NFC), numeric pairing payload
/src/setup_payload/ @shana-apple @vivien-apple @jrhees-cae

# Device Layer
# Porting interfaces, scaffolding for building an example firmware
/src/platform/ @mspang @yufengwangca
/src/include/platform/ @mspang @yufengwangca

# Persistent storage
# Save state across reboots
/src/platform/*/KeyValueStore* @rgoliver

# Python bindings for CHIP - CLI
# Allows python code to use CHIP, generally targeted towards automation
/src/controller/python/ @andy31415 @erjianqing

# CHIP-tool C++ CLI
# Command line interface to chip as a client (controller and commisioner)
# Includes generated code for every base cluster
/examples/chip-tool/ @vivien-apple

# CHIP-tool iOS UI
/src/darwin/CHIPTool/ @shana-apple

# CHIP-tool Android
/src/android/CHIPTool/ @austinh0
/src/controller/java/ @austinh0

# End2End autogenerated tests
/src/darwin/Framework/Chip-templates/ @vivien-apple
/src/app/tests/suites/ @vivien-apple

# End2End cirque tests
# Simulate topology (cirque) and ptyhon-based test automation
/src/test_driver/linux/cirque/ @erjianqing @yunhanw-google

# Thread integration
# Thread-specific functionality (network provisioning, operational discovery, SRP registration etc.)
/src/platform/OpenThread/ @bukepo
/src/platform/*/ThreadStackmanagerImpl.* @bukepo

# Inet
# Networking abstraction layer (UDP-endpoint, TCP-endpoint, InetLayerBasis)
/src/inet/ @kpschoedel 

# System layer
/src/system/ @kpschoedel 

# BLE support
/src/ble/ @yunhanw-google

# CHIP Shell
# Command-line UART/stdin interface as a side-channel to CHIP accessories
# Aimed as user-friendly/manual control
/src/examples/shell/ @gjc13 @yufengwangca

# RPC
# Side-channlel command path (outside chip), generally for automation and debugging
# Aimed as "scriptable" when compared to shell
/examples/common/pigweed/ @rgoliver
/examples/pigweed-app/ @rgoliver

# Tooling for crypto manual generation
# Generates data for sample PKI
/src/tools/chip-cert/ @emargolis

# Channel API
# Construct a transport/secure session based on peer info and transport type.
# Focused on CASE session establishment
/src/channel/ @kghost

# Darwin framework
# Exposes a darwin API (Objective-C/swift rather than raw C++ API) for darwin
# applications
/src/darwin/Framework/ @shana-apple @vivien-apple @pan-apple

Address Printf formating issues
  src/app/tests/TestMessageDef.cpp
  src/include/platform/internal/GenericConfigurationManagerImpl.cpp
  src/include/platform/internal/GenericPlatformManagerImpl.cpp
  src/inet/tests/TestInetAddress.cpp
  src/inet/tests/TestInetCommonPosix.cpp
  src/inet/tests/TestInetErrorStr.cpp
  src/inet/tests/TestInetLayer.cpp
  src/inet/tests/TestSetupFaultInjectionPosix.cpp
  src/lib/mdns/tests/TestTxtFields.cpp
  src/lib/support/tests/TestTimeUtils.cpp
Owners: @yunhanw-google, @bzbarsky-apple, @mrjerryjohns, @mspang, @yufengwangca, @kpschoedel, @andy31415, @gjc13, @damian-nordic, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Extract OnOff cluster definition from general.xml and zll.xml (#8330)
  examples/all-clusters-app/all-clusters-common/all-clusters-app.zap
  examples/all-clusters-app/all-clusters-common/gen/endpoint_config.h
  examples/bridge-app/bridge-common/gen/endpoint_config.h
  examples/chip-tool/commands/clusters/Commands.h
  examples/chip-tool/commands/tests/Commands.h
  examples/lighting-app/lighting-common/gen/endpoint_config.h
  examples/lock-app/lock-common/gen/endpoint_config.h
  examples/pump-app/pump-common/gen/endpoint_config.h
  examples/pump-controller-app/pump-controller-common/gen/chip-zcl-zpro-codec-api.h
  examples/tv-app/tv-common/gen/endpoint_config.h
  src/app/common/gen/callback.h
  src/app/common/gen/client-command-macro.h
  src/app/tests/suites/Test_TC_OO_1_1.yaml
  src/app/tests/suites/Test_TC_OO_2_1.yaml
  src/app/tests/suites/Test_TC_OO_2_2.yaml
  src/app/zap-templates/zcl/data-model/chip/onoff-cluster.xml
  src/app/zap-templates/zcl/data-model/silabs/general.xml
  src/app/zap-templates/zcl/data-model/silabs/zll.xml
  src/app/zap-templates/zcl/zcl.json
  src/controller/data_model/controller-clusters.zap
  src/controller/data_model/gen/CHIPClusters.cpp
  src/controller/data_model/gen/CHIPClusters.h
  src/controller/data_model/gen/chip-zcl-zpro-codec-api.h
  src/controller/data_model/gen/encoder.cpp
  src/controller/data_model/gen/endpoint_config.h
  src/controller/java/gen/CHIPClusters-JNI.cpp
  src/controller/java/gen/ChipClusters.java
  src/controller/python/chip/clusters/CHIPClusters.cpp
  src/controller/python/chip/clusters/CHIPClusters.py
  src/darwin/Framework/CHIP/gen/CHIPClustersObjc.h
  src/darwin/Framework/CHIP/gen/CHIPClustersObjc.mm
  src/darwin/Framework/CHIP/templates/CHIPClustersObjc-src.zapt
  src/darwin/Framework/CHIP/templates/CHIPClustersObjc.zapt
  src/darwin/Framework/CHIP/templates/clusters-tests.zapt
  src/darwin/Framework/CHIP/templates/partials/test_cluster.zapt
  src/darwin/Framework/CHIPTests/CHIPClustersTests.m
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @vivien-apple, @yunhanw-google, @bzbarsky-apple, @mrjerryjohns, @erjianqing, @shana-apple, @pan-apple, @austinh0, @andy31415

Enable ResetCounts command in all-clusters-app and lighting-app
  examples/all-clusters-app/all-clusters-common/all-clusters-app.zap
  examples/all-clusters-app/esp32/main/CMakeLists.txt
  examples/lighting-app/lighting-common/lighting-app.zap
  examples/lighting-app/mbed/CMakeLists.txt
  examples/lighting-app/nrfconnect/CMakeLists.txt
  examples/lighting-app/telink/CMakeLists.txt
  src/app/clusters/ethernet_network_diagnostics_server/ethernet_network_diagnostics_server.cpp
  src/app/zap_cluster_list.py
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @vivien-apple, @yunhanw-google, @bzbarsky-apple, @mrjerryjohns

Update gen folders
  examples/all-clusters-app/all-clusters-common/gen/IMClusterCommandHandler.cpp
  examples/lighting-app/lighting-common/gen/IMClusterCommandHandler.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

WIP (#8374)
  src/platform/Darwin/SystemPlatformConfig.h
  src/platform/EFR32/SystemPlatformConfig.h
  src/platform/ESP32/SystemPlatformConfig.h
  src/platform/K32W/SystemPlatformConfig.h
  src/platform/Linux/SystemPlatformConfig.h
  src/platform/cc13x2_26x2/SystemPlatformConfig.h
  src/platform/mbed/SystemPlatformConfig.h
  src/platform/nrfconnect/SystemPlatformConfig.h
  src/platform/qpg/SystemPlatformConfig.h
  src/platform/telink/SystemPlatformConfig.h
  src/system/SystemConfig.h
  src/system/SystemLayer.cpp
Owners: @mspang, @yufengwangca, @kpschoedel

Enable Inet tests for platform not supporting raw sockets.
  config/mbed/chip-gn/args.gni
  src/inet/tests/TestInetEndPoint.cpp
  src/inet/tests/TestInetLayer.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @kpschoedel

Fix unit tests
  scripts/build/expected_all_platform_commands.txt
Owners: @mspang

[server] Store all connection states in KVS
  src/app/server/BUILD.gn
  src/app/server/ConnectionMonitor.h
  src/app/server/RendezvousServer.cpp
  src/app/server/Server.cpp
  src/app/server/StorablePeerConnection.cpp
  src/app/server/StorablePeerConnection.h
  src/protocols/secure_channel/CASESession.h
  src/protocols/secure_channel/PASESession.h
  src/transport/PairingSession.h
  src/transport/PeerConnectionState.h
  src/transport/SecureSession.cpp
  src/transport/SecureSession.h
Owners: @yunhanw-google, @bzbarsky-apple, @mrjerryjohns, @pan-apple, @andy31415

Add utilities for extracting a PeerId from an opcert, and use them in CASE.
  src/credentials/CHIPCert.cpp
  src/credentials/CHIPCert.h
  src/credentials/tests/TestChipCert.cpp
  src/protocols/secure_channel/CASESession.cpp
Owners: @pan-apple, @emargolis

Fix warning on heap tracing.
  examples/platform/esp32/shell_extension/heap_trace.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Increase the size of the CHIP Event Task to 6K. Fixes task overflow jsut after the CASE session establisment
  src/platform/EFR32/CHIPDevicePlatformConfig.h
Owners: @mspang, @yufengwangca

[7183 - Followup] - Add missing includes to Accessors-src.zapt
  examples/all-clusters-app/esp32/main/CMakeLists.txt
  src/app/chip_data_model.gni
  src/app/zap-templates/common/attributes/Accessors.js
  src/app/zap-templates/templates/app/attributes/Accessors-src.zapt
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @yunhanw-google, @bzbarsky-apple, @mrjerryjohns, @vivien-apple, @erjianqing

Update gen/ folder
  src/app/common/gen/attributes/Accessors.cpp
  src/app/common/gen/attributes/Accessors.h
Owners: @yunhanw-google, @bzbarsky-apple, @mrjerryjohns

Use accessors into barrier control cluster
  src/app/clusters/barrier-control-server/barrier-control-server.cpp
Owners: @vivien-apple

Start converting python logic from build into pw_python_module
  BUILD.gn
  scripts/build/BUILD.gn
  scripts/build/setup.py
  scripts/build/test.py
Owners: @mspang

Tests pass
  scripts/build/build_examples.py
  scripts/build/expected_all_platform_commands.txt
  scripts/build/test.py
Owners: @mspang

Restyled by gn
  scripts/build/BUILD.gn
Owners: @mspang

Restyle
  scripts/build/BUILD.gn
Owners: @mspang

Fixed Typo in PeerId.h
  src/lib/core/PeerId.h
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Auto-close exchanges on response timeout, unless consumer says otherwise.
  examples/shell/shell_common/cmd_send.cpp
  src/app/Command.cpp
  src/app/Command.h
  src/app/CommandHandler.cpp
  src/app/CommandSender.cpp
  src/app/ReadClient.cpp
  src/app/ReadClient.h
  src/app/WriteClient.cpp
  src/app/WriteClient.h
  src/controller/CHIPDevice.cpp
  src/messaging/ExchangeContext.cpp
  src/messaging/ExchangeDelegate.h
  src/messaging/tests/TestExchangeMgr.cpp
  src/protocols/secure_channel/CASESession.cpp
  src/protocols/secure_channel/MessageCounterManager.cpp
  src/protocols/secure_channel/PASESession.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @yunhanw-google, @bzbarsky-apple, @mrjerryjohns, @shana-apple, @pan-apple, @yufengwangca

Fix IM interval typo and tests
  src/app/MessageDef/SubscribeRequest.cpp
  src/app/MessageDef/SubscribeRequest.h
  src/app/MessageDef/SubscribeResponse.cpp
  src/app/MessageDef/SubscribeResponse.h
  src/app/tests/TestMessageDef.cpp
Owners: @yunhanw-google, @bzbarsky-apple, @mrjerryjohns

review
  src/inet/tests/TestInetErrorStr.cpp
  src/platform/tests/TestMdns.cpp
Owners: @kpschoedel, @mspang, @yufengwangca

Initial pybind11 Controller Wrapper
  .devcontainer/Dockerfile
  .gitmodules
  BUILD.gn
  build/config/compiler/BUILD.gn
  integrations/docker/images/chip-build/Dockerfile
  scripts/build_python.sh
  scripts/tools/zap_regen_all.py
  src/pybindings/Bnder_Code_Gen.md
  src/pybindings/pycontroller/BUILD.gn
  src/pybindings/pycontroller/ChipCaller/Caller.py
  src/pybindings/pycontroller/ChipCaller/__init__.py
  src/pybindings/pycontroller/ChipDeviceCtrl.py
  src/pybindings/pycontroller/ControllerBindings/PyChip_BLEManager.cpp
  src/pybindings/pycontroller/ControllerBindings/PyChip_ControllerDeviceCommissioner.cpp
  src/pybindings/pycontroller/ControllerBindings/PyChip_ControllerInitParams.cpp
  src/pybindings/pycontroller/ControllerBindings/PyChip_DeviceAddressUpdateDelegate.cpp
  src/pybindings/pycontroller/ControllerBindings/PyChip_Inet_IPAddress.cpp
  src/pybindings/pycontroller/ControllerBindings/PyChip_Logging.cpp
  src/pybindings/pycontroller/ControllerBindings/PyChip_MDNS.cpp
  src/pybindings/pycontroller/ControllerBindings/PyChip_Main.cpp
  src/pybindings/pycontroller/ControllerBindings/PyChip_Memory.cpp
  src/pybindings/pycontroller/ControllerBindings/PyChip_PlatFormManager.cpp
  src/pybindings/pycontroller/ControllerBindings/PyChip_Rendezvous.cpp
  src/pybindings/pycontroller/ControllerBindings/PyChip_SetupPayload.cpp
  src/pybindings/pycontroller/ControllerBindings/PyChip_TransportType.cpp
  src/pybindings/pycontroller/TestChipDeviceCtrl.py
  src/pybindings/pycontroller/TestDeviceController.py
  src/pybindings/pycontroller/build-chip-wheel.py
  src/pybindings/pycontroller/chip-device-ctrl.py
  src/pybindings/pycontroller/chip-repl.py
  src/pybindings/pycontroller/clusters/CHIPClusters.cpp
  src/pybindings/pycontroller/clusters/CHIPClusters.py
  src/pybindings/pycontroller/clusters/__init__.py
  src/pybindings/pycontroller/create_error_wrapper.py
  src/pybindings/pycontroller/templates/helper.js
  src/pybindings/pycontroller/templates/python-CHIPClusters-cpp.zapt
  src/pybindings/pycontroller/templates/python-CHIPClusters-py.zapt
  src/pybindings/pycontroller/templates/templates.json
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @mspang

Rename TestSrv into TestTxt This avaoid colisions with the actual test srv.
  src/lib/mdns/minimal/records/tests/TestResourceRecordTxt.cpp
Owners: @andy31415, @gjc13, @damian-nordic

Add suffix to secure pairing test case.
  src/protocols/secure_channel/tests/TestCASESession.cpp
  src/protocols/secure_channel/tests/TestPASESession.cpp
Owners: @pan-apple

Support reading and writing attributes in Java
  src/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/clusterclient/OnOffClientFragment.kt
  src/android/CHIPTool/app/src/main/res/layout/on_off_client_fragment.xml
  src/android/CHIPTool/app/src/main/res/values/strings.xml
  src/controller/java/JniTypeWrappers.h
  src/controller/java/templates/CHIPClusters-JNI.zapt
  src/controller/java/templates/ChipClusters-java.zapt
  src/controller/java/templates/helper.js
  src/controller/java/templates/templates.json
Owners: @austinh0

Regenerate
  src/controller/java/gen/CHIPClusters-JNI.cpp
  src/controller/java/gen/ChipClusters.java
Owners: @austinh0

review
  src/ble/tests/TestBleErrorStr.cpp
  src/controller/CHIPDevice.cpp
  src/inet/tests/TestInetErrorStr.cpp
  src/lib/core/tests/TestCHIPErrorStr.cpp
  src/lib/mdns/minimal/Server.cpp
  src/protocols/secure_channel/PASESession.cpp
  src/system/tests/TestSystemErrorStr.cpp
Owners: @yunhanw-google, @shana-apple, @pan-apple, @kpschoedel, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @andy31415, @gjc13, @damian-nordic

Force TCP server/listen socket to be asynchronous.
  src/inet/TCPEndPoint.cpp
Owners: @kpschoedel

Make ECDSA sign/verify format spec-compliant (#8236)
  scripts/tests/test_suites.sh
  src/credentials/CHIPCert.cpp
  src/credentials/CHIPCert.h
  src/credentials/GenerateChipX509Cert.cpp
  src/crypto/CHIPCryptoPAL.cpp
  src/crypto/CHIPCryptoPAL.h
  src/crypto/CHIPCryptoPALOpenSSL.cpp
  src/crypto/CHIPCryptoPALmbedTLS.cpp
  src/crypto/tests/BUILD.gn
  src/crypto/tests/CHIPCryptoPALTest.cpp
  src/crypto/tests/DerSigConversion_test_vectors.h
  src/lib/asn1/ASN1Writer.cpp
  src/lib/support/BufferReader.cpp
  src/lib/support/BufferReader.h
  src/lib/support/tests/TestBufferReader.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @pan-apple, @emargolis, @mspang

Don't reset ExchangeContext's "waiting to send" state when sending standalone ack. (#8298)
  src/messaging/ExchangeContext.cpp
  src/protocols/Protocols.h
Owners: @yufengwangca, @bzbarsky-apple, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

add PayloadHeader argument to message handler methods
  src/protocols/bdx/BdxTransferSession.cpp
  src/protocols/bdx/BdxTransferSession.h
  src/protocols/bdx/tests/TestBdxTransferSession.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

[Ethernet network diagnostics cluster] Enable ResetCounts command in all-clusters-app and lighting-app (#8359)
  examples/all-clusters-app/all-clusters-common/all-clusters-app.zap
  examples/all-clusters-app/all-clusters-common/gen/IMClusterCommandHandler.cpp
  examples/all-clusters-app/esp32/main/CMakeLists.txt
  examples/lighting-app/lighting-common/gen/IMClusterCommandHandler.cpp
  examples/lighting-app/lighting-common/lighting-app.zap
  examples/lighting-app/mbed/CMakeLists.txt
  examples/lighting-app/nrfconnect/CMakeLists.txt
  examples/lighting-app/telink/CMakeLists.txt
  src/app/clusters/ethernet_network_diagnostics_server/ethernet_network_diagnostics_server.cpp
  src/app/zap_cluster_list.py
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @vivien-apple, @yunhanw-google, @bzbarsky-apple, @mrjerryjohns

Add flashing wrapper generation to nrfconnect examples
  config/nrfconnect/app/flashing.cmake
  examples/lighting-app/nrfconnect/CMakeLists.txt
  examples/lock-app/nrfconnect/CMakeLists.txt
  examples/pigweed-app/nrfconnect/CMakeLists.txt
  examples/pump-app/nrfconnect/CMakeLists.txt
  examples/pump-controller-app/nrfconnect/CMakeLists.txt
  examples/shell/nrfconnect/CMakeLists.txt
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @rgoliver

Add src/app/common/gen/attributes/Accessors.cpp to the build list of applications (#8331)
  examples/all-clusters-app/esp32/main/CMakeLists.txt
  src/app/chip_data_model.gni
  src/app/clusters/barrier-control-server/barrier-control-server.cpp
  src/app/common/gen/attributes/Accessors.cpp
  src/app/common/gen/attributes/Accessors.h
  src/app/zap-templates/common/attributes/Accessors.js
  src/app/zap-templates/templates/app/attributes/Accessors-src.zapt
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @yunhanw-google, @bzbarsky-apple, @mrjerryjohns, @vivien-apple, @erjianqing

Fix leftover from #8236 and make BufferReader/Writer support Span
  src/app/decoder.cpp
  src/app/message-reader.h
  src/app/util/attribute-list-byte-span.cpp
  src/ble/BtpEngine.cpp
  src/crypto/CHIPCryptoPAL.cpp
  src/crypto/CHIPCryptoPAL.h
  src/crypto/tests/CHIPCryptoPALTest.cpp
  src/lib/support/BufferReader.h
  src/lib/support/BufferWriter.h
  src/lib/support/tests/TestBufferReader.cpp
  src/lib/support/tests/TestBufferWriter.cpp
  src/protocols/bdx/BdxMessages.h
  src/protocols/bdx/BdxTransferSession.h
  src/protocols/bdx/tests/TestBdxTransferSession.cpp
  src/transport/raw/MessageHeader.cpp
Owners: @yunhanw-google, @bzbarsky-apple, @mrjerryjohns, @pan-apple, @emargolis, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @yufengwangca, @kghost, @bzbarksy-apple

Fix mbedTLS usage of EcdsaAsn1SignatureToRaw
  src/crypto/CHIPCryptoPALmbedTLS.cpp
Owners: @pan-apple, @emargolis

Enable Inet tests for platform not supporting raw sockets. (#8380)
  config/mbed/chip-gn/args.gni
  src/inet/tests/TestInetEndPoint.cpp
  src/inet/tests/TestInetLayer.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @kpschoedel

Fixed Typo in PeerId.h (#8389)
  src/lib/core/PeerId.h
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Increase the size of the CHIP Event Task to 6K. Fixes task overflow jsut after the CASE session establisment (#8386)
  src/platform/EFR32/CHIPDevicePlatformConfig.h
Owners: @mspang, @yufengwangca
