Repository project-chip/connectedhomeip, changes with the owners that .github/CODEOWNERS names for each.
All owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @mspang, @pan-apple, @emargolis, @andy31415, @yufengwangca, @kghost, @bzbarksy-apple, @bzbarsky-apple, @gjc13, @damian-nordic, @erjiaqing, @shana-apple, @yunhanw-google, @vivien-apple, @erjianqing, @mrjerryjohns, @jrhees-cae, @rgoliver, @austinh0, @bukepo, @kpschoedel

.github/CODEOWNERS:

# Current reviewers-XXX teams, who review everything for approval.
* @reviewers-amazon @reviewers-apple @reviewers-comcast @reviewers-google @reviewers-nordic @reviewers-samsung @reviewers-silabs


# BUILD system

*.gn @mspang
/build/ @mspang
/scripts/build/ @mspang

# Crypto
# Crypto primitives and high level API, generally on top of mbedtls and openssl
/src/crypto/* @pan-apple @emargolis
/src/credentials/ @pan-apple @emargolis

# Transport
# Send and receive data abstracting away the underlying protocol (UDP, TCP, BLE)
/src/transport/ @andy31415 @pan-apple

# Session establishment
# Establish a secure session (encryption keys) from one node to another.
# Includes CASE and PASE + session tracking and resumptioon
/src/protocols/secure_channel/ @pan-apple

# Message Layer
# CRMP and packet headers, generally coupled with SecureSessionManager
/src/messaging @yufengwangca @kghost @bzbarksy-apple
/src/transport/raw/MessageHeader.* @yufengwangca @kghost @bzbarksy-apple

# SecureSessionManager
# Manages per-session encryption keys and new session establishment
/src/transport/SecureSessionMgr.* @pan-apple

# Exchange management
# Joins requests and responses or ties a series of messages belonging to the 
# same protocol interaction
/src/messaging/ @yufengwangca @bzbarsky-apple
/src/channel/ @yufengwangca @bzbarsky-apple

# DNS-SD discovery and advertisement
# Advertise chip devices for commisioning, operational and discover such devices
/src/lib/mdns/ @andy31415 @gjc13 @damian-nordic

# Commisioning controller/flow
# Example of a comisioning sequence
/src/controller/ @pan-apple @erjiaqing

# Operational credentials management
# Signing certificates, maintaining roots of trust, validation, fabric management
/src/controller/ @shana-apple @pan-apple
/src/transport/AdminPairingTable.* @shana-apple @pan-apple

# TLV encoding/decoding to/from byte buffers
/src/lib/core/CHIPTLV* @yunhanw-google @bzbarsky-apple @shana-apple

# Interaction model - ember implementation
# ZCL protocol implementation: ZCL encoding to be sent over the wire as a 
# ZigbeePro protocol implementation
/src/app/util/ @vivien-apple @erjianqing @bzbarsky-apple

# Interaction model - non-ember
# Protocol implementation for IM interactions between nodes, matching spec
/src/app/ @yunhanw-google @bzbarsky-apple @mrjerryjohns

# Interaction model - code generation
# CHIP-specific infrastructure for generating code: helper js methods, scripts
# and code layout
/src/app/zap-templates/ @vivien-apple @erjianqing

# ZAP suppport
# UI for editing XML, generates code from such ZML and configuration files
# NOT part of CHIP however CHIP relies heavily on ZAP.
#    @vivien-apple  @tecimovic

# 'Standard' cluster implementations (server side)
# Clusters shipped with the sdk, can be integrated as-is or used as a template
/src/app/clusters/ @vivien-apple

# Onboarding payload
# Parsing and generation of codes (includes QR and NFC), numeric pairing payload
/src/setup_payload/ @shana-apple @vivien-apple @jrhees-cae

# Device Layer
# Porting interfaces, scaffolding for building an example firmware
/src/platform/ @mspang @yufengwangca
/src/include/platform/ @mspang @yufengwangca

# Persistent storage
# Save state across reboots
/src/platform/*/KeyValueStore* @rgoliver

# Python bindings for CHIP - CLI
# Allows python code to use CHIP, generally targeted towards automation
/src/controller/python/ @andy31415 @erjianqing

# CHIP-tool C++ CLI
# Command line interface to chip as a client (controller and commisioner)
# Includes generated code for every base cluster
/examples/chip-tool/ @vivien-apple

# CHIP-tool iOS UI
/src/darwin/CHIPTool/ @shana-apple

# CHIP-tool Android
/src/android/CHIPTool/ @austinh0
/src/controller/java/ @austinh0

# End2End autogenerated tests
/src/darwin/Framework/Chip-templates/ @vivien-apple
/src/app/tests/suites/ @vivien-apple

# End2End cirque tests
# Simulate topology (cirque) and ptyhon-based test automation
/src/test_driver/linux/cirque/ @erjianqing @yunhanw-google

# Thread integration
# Thread-specific functionality (network provisioning, operational discovery, SRP registration etc.)
/src/platform/OpenThread/ @bukepo
/src/platform/*/ThreadStackmanagerImpl.* @bukepo

# Inet
# Networking abstraction layer (UDP-endpoint, TCP-endpoint, InetLayerBasis)
/src/inet/ @kpschoedel 

# System layer
/src/system/ @kpschoedel 

# BLE support
/src/ble/ @yunhanw-google

# CHIP Shell
# Command-line UART/stdin interface as a side-channel to CHIP accessories
# Aimed as user-friendly/manual control
/src/examples/shell/ @gjc13 @yufengwangca

# RPC
# Side-channlel command path (outside chip), generally for automation and debugging
# Aimed as "scriptable" when compared to shell
/examples/common/pigweed/ @rgoliver
/examples/pigweed-app/ @rgoliver

# Tooling for crypto manual generation
# Generates data for sample PKI
/src/tools/chip-cert/ @emargolis

# Channel API
# Construct a transport/secure session based on peer info and transport type.
# Focused on CASE session establishment
/src/channel/ @kghost

# Darwin framework
# Exposes a darwin API (Objective-C/swift rather than raw C++ API) for darwin
# applications
/src/darwin/Framework/ @shana-apple @vivien-apple @pan-apple

resolving conflict
  src/app/common/gen/cluster-id.h
Owners: @yunhanw-google, @bzbarsky-apple, @mrjerryjohns

Updated TV app logic to support new Change Status command of application basic cluster
  examples/tv-app/linux/include/application-basic/ApplicationBasicManager.cpp
  examples/tv-app/linux/include/application-basic/ApplicationBasicManager.h
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Run zap_regen to generate the code
  examples/tv-app/tv-common/gen/IMClusterCommandHandler.cpp
  examples/tv-app/tv-common/gen/callback-stub.cpp
  examples/tv-app/tv-common/gen/callback.h
  examples/tv-app/tv-common/gen/endpoint_config.h
  examples/tv-app/tv-common/gen/gen_config.h
  examples/tv-app/tv-common/tv-app.zap
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Fixing darwin build
  src/credentials/CHIPCert.h
Owners: @pan-apple, @emargolis

Update TV example clusters xml per latest spec
  examples/tv-app/tv-common/tv-app.zap
  src/app/zap-templates/zcl/account-login-cluster.xml
  src/app/zap-templates/zcl/application-basic-cluster.xml
  src/app/zap-templates/zcl/application-launcher-cluster.xml
  src/app/zap-templates/zcl/audio-output-cluster.xml
  src/app/zap-templates/zcl/content-launch-cluster.xml
  src/app/zap-templates/zcl/keypad-input-cluster.xml
  src/app/zap-templates/zcl/media-input-cluster.xml
  src/app/zap-templates/zcl/media-playback-cluster.xml
  src/app/zap-templates/zcl/target-navigator-cluster.xml
  src/app/zap-templates/zcl/tv-channel-cluster.xml
  src/controller/data_model/controller-clusters.zap
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @vivien-apple, @erjianqing, @shana-apple, @pan-apple

Run zap_regen to generate the code
  examples/all-clusters-app/all-clusters-common/gen/attribute-size.cpp
  examples/all-clusters-app/all-clusters-common/gen/callback-stub.cpp
  examples/all-clusters-app/all-clusters-common/gen/callback.h
  examples/all-clusters-app/all-clusters-common/gen/endpoint_config.h
  examples/all-clusters-app/all-clusters-common/gen/gen_config.h
  examples/chip-tool/commands/clusters/Commands.h
  examples/tv-app/tv-common/gen/IMClusterCommandHandler.cpp
  examples/tv-app/tv-common/gen/attribute-size.cpp
  examples/tv-app/tv-common/gen/callback-stub.cpp
  examples/tv-app/tv-common/gen/callback.h
  examples/tv-app/tv-common/gen/endpoint_config.h
  examples/tv-app/tv-common/gen/gen_config.h
  src/app/common/gen/attribute-id.h
  src/app/common/gen/client-command-macro.h
  src/app/common/gen/cluster-id.h
  src/app/common/gen/command-id.h
  src/app/common/gen/print-cluster.h
  src/controller/data_model/gen/CHIPClientCallbacks.cpp
  src/controller/data_model/gen/CHIPClientCallbacks.h
  src/controller/data_model/gen/CHIPClusters.cpp
  src/controller/data_model/gen/CHIPClusters.h
  src/controller/data_model/gen/IMClusterCommandHandler.cpp
  src/controller/data_model/gen/callback-stub.cpp
  src/controller/data_model/gen/callback.h
  src/controller/data_model/gen/chip-zcl-zpro-codec-api.h
  src/controller/data_model/gen/encoder.cpp
  src/controller/data_model/gen/endpoint_config.h
  src/controller/data_model/gen/gen_config.h
  src/controller/python/chip/clusters/CHIPClusters.cpp
  src/controller/python/chip/clusters/CHIPClusters.py
  src/darwin/Framework/CHIP/gen/CHIPClustersObjc.h
  src/darwin/Framework/CHIP/gen/CHIPClustersObjc.mm
  src/darwin/Framework/CHIPTests/CHIPClustersTests.m
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @vivien-apple, @yunhanw-google, @bzbarsky-apple, @mrjerryjohns, @shana-apple, @pan-apple, @andy31415, @erjianqing

Run zap_regen to generate the code
  examples/tv-app/linux/include/content-launcher/ContentLauncherManager.cpp
  examples/tv-app/tv-common/gen/IMClusterCommandHandler.cpp
  examples/tv-app/tv-common/gen/callback.h
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Restyled by clang-format
  examples/tv-app/linux/include/content-launcher/ContentLauncherManager.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Updated TV app fail logs as they were not showing up
  examples/tv-app/linux/include/account-login/AccountLoginManager.cpp
  examples/tv-app/linux/include/application-basic/ApplicationBasicManager.cpp
  examples/tv-app/linux/include/application-launcher/ApplicationLauncherManager.cpp
  examples/tv-app/linux/include/cluster-init.cpp
  examples/tv-app/linux/include/content-launcher/ContentLauncherManager.cpp
  examples/tv-app/linux/include/endpoint-configuration/EndpointConfigurationStorage.cpp
  examples/tv-app/linux/include/endpoint-configuration/chip_tv_config.ini
  examples/tv-app/linux/include/keypad-input/KeypadInputManager.cpp
  examples/tv-app/linux/include/media-input/MediaInputManager.cpp
  examples/tv-app/linux/include/media-playback/MediaPlaybackManager.cpp
  examples/tv-app/linux/include/target-navigator/TargetNavigatorManager.cpp
  examples/tv-app/linux/include/wake-on-lan/WakeOnLanManager.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Add clusters for root device type at endpoint 0 of TV example app
  examples/tv-app/tv-common/gen/IMClusterCommandHandler.cpp
  examples/tv-app/tv-common/gen/attribute-size.cpp
  examples/tv-app/tv-common/gen/callback-stub.cpp
  examples/tv-app/tv-common/gen/callback.h
  examples/tv-app/tv-common/gen/endpoint_config.h
  examples/tv-app/tv-common/gen/gen_config.h
  examples/tv-app/tv-common/tv-app.zap
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Commissioner discovery based on DNS-SD using ChipTool
  examples/chip-tool/BUILD.gn
  examples/chip-tool/commands/discover/Commands.h
  examples/chip-tool/commands/discover/DiscoverCommissionersCommand.cpp
  examples/chip-tool/commands/discover/DiscoverCommissionersCommand.h
  src/controller/AbstractMdnsDiscoveryController.cpp
  src/controller/AbstractMdnsDiscoveryController.h
  src/controller/BUILD.gn
  src/controller/CHIPCommissionableNodeController.cpp
  src/controller/CHIPCommissionableNodeController.h
  src/controller/CHIPDeviceController.cpp
  src/controller/CHIPDeviceController.h
  src/controller/python/ChipDeviceController-ScriptBinding.cpp
  src/controller/python/chip/discovery/NodeResolution.cpp
  src/include/platform/CHIPDeviceConfig.h
  src/lib/mdns/Discovery_ImplPlatform.cpp
  src/lib/mdns/Discovery_ImplPlatform.h
  src/lib/mdns/Resolver.h
  src/lib/mdns/Resolver_ImplMinimalMdns.cpp
  src/lib/mdns/Resolver_ImplNone.cpp
  src/lib/mdns/ServiceNaming.cpp
  src/lib/mdns/TxtFields.cpp
  src/lib/mdns/TxtFields.h
  src/lib/mdns/tests/TestTxtFields.cpp
Owners: @vivien-apple, @shana-apple, @pan-apple, @andy31415, @erjianqing, @mspang, @yufengwangca, @gjc13, @damian-nordic

Improve usability of spans for outparams.
  src/lib/support/Span.h
  src/lib/support/tests/TestSpan.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Restyled by whitespace
  examples/chip-tool/commands/discover/DiscoverCommissionersCommand.cpp
  examples/chip-tool/commands/discover/DiscoverCommissionersCommand.h
  src/controller/CHIPDeviceController.h
  src/lib/mdns/Resolver.h
  src/lib/mdns/Resolver_ImplMinimalMdns.cpp
Owners: @vivien-apple, @shana-apple, @pan-apple, @andy31415, @gjc13, @damian-nordic

Commissioner discovery based on DNS-SD using ChipTool
  examples/chip-tool/BUILD.gn
  examples/chip-tool/commands/discover/Commands.h
  examples/chip-tool/commands/discover/DiscoverCommissionersCommand.cpp
  examples/chip-tool/commands/discover/DiscoverCommissionersCommand.h
  src/controller/AbstractMdnsDiscoveryController.cpp
  src/controller/AbstractMdnsDiscoveryController.h
  src/controller/BUILD.gn
  src/controller/CHIPCommissionableNodeController.cpp
  src/controller/CHIPCommissionableNodeController.h
  src/controller/CHIPDeviceController.cpp
  src/controller/CHIPDeviceController.h
  src/controller/python/ChipDeviceController-ScriptBinding.cpp
  src/controller/python/chip/discovery/NodeResolution.cpp
  src/include/platform/CHIPDeviceConfig.h
  src/lib/mdns/Discovery_ImplPlatform.cpp
  src/lib/mdns/Discovery_ImplPlatform.h
  src/lib/mdns/Resolver.h
  src/lib/mdns/Resolver_ImplMinimalMdns.cpp
  src/lib/mdns/Resolver_ImplNone.cpp
  src/lib/mdns/ServiceNaming.cpp
  src/lib/mdns/TxtFields.cpp
  src/lib/mdns/TxtFields.h
  src/lib/mdns/tests/TestTxtFields.cpp
Owners: @vivien-apple, @shana-apple, @pan-apple, @andy31415, @erjianqing, @mspang, @yufengwangca, @gjc13, @damian-nordic

Add additional attributes tests to TestCluster.yaml
  src/app/tests/suites/TestCluster.yaml
Owners: @vivien-apple

Added the pressure and flow measurement clusters to the DM included them into the all-clusters-app, pump-app and pump-controller-app
  examples/all-clusters-app/all-clusters-common/all-clusters-app.zap
  examples/all-clusters-app/all-clusters-common/gen/callback-stub.cpp
  examples/all-clusters-app/all-clusters-common/gen/callback.h
  examples/all-clusters-app/all-clusters-common/gen/endpoint_config.h
  examples/all-clusters-app/all-clusters-common/gen/gen_config.h
  examples/pump-app/pump-common/gen/CHIPClusters.cpp
  examples/pump-app/pump-common/gen/CHIPClusters.h
  examples/pump-app/pump-common/gen/callback-stub.cpp
  examples/pump-app/pump-common/gen/callback.h
  examples/pump-app/pump-common/gen/chip-zcl-zpro-codec-api.h
  examples/pump-app/pump-common/gen/encoder.cpp
  examples/pump-app/pump-common/gen/endpoint_config.h
  examples/pump-app/pump-common/gen/gen_config.h
  examples/pump-app/pump-common/pump-app.zap
  examples/pump-controller-app/pump-controller-common/gen/CHIPClusters.cpp
  examples/pump-controller-app/pump-controller-common/gen/CHIPClusters.h
  examples/pump-controller-app/pump-controller-common/gen/callback-stub.cpp
  examples/pump-controller-app/pump-controller-common/gen/callback.h
  examples/pump-controller-app/pump-controller-common/gen/chip-zcl-zpro-codec-api.h
  examples/pump-controller-app/pump-controller-common/gen/encoder.cpp
  examples/pump-controller-app/pump-controller-common/gen/endpoint_config.h
  examples/pump-controller-app/pump-controller-common/gen/gen_config.h
  examples/pump-controller-app/pump-controller-common/pump-controller-app.zap
  src/app/zap_cluster_list.py
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @yunhanw-google, @bzbarsky-apple, @mrjerryjohns

Update templates to support testing TestCluster attributes that has been activated
  examples/chip-tool/templates/partials/test_cluster.zapt
  src/app/zap-templates/common/ClustersHelper.js
  src/darwin/Framework/CHIP/templates/CHIPClustersObjc-src.zapt
  src/darwin/Framework/CHIP/templates/helper.js
  src/darwin/Framework/CHIP/templates/partials/test_cluster.zapt
Owners: @vivien-apple, @erjianqing, @shana-apple, @pan-apple

Update gen/ folders
  examples/chip-tool/commands/tests/Commands.h
  src/darwin/Framework/CHIPTests/CHIPClustersTests.m
Owners: @vivien-apple, @shana-apple, @pan-apple

Restyled by whitespace
  src/app/tests/suites/TestCluster.yaml
Owners: @vivien-apple

Add additional attributes tests to TestCluster.yaml
  src/app/tests/suites/TestCluster.yaml
Owners: @vivien-apple

Update gen/ folders
  examples/chip-tool/commands/tests/Commands.h
  src/darwin/Framework/CHIPTests/CHIPClustersTests.m
Owners: @vivien-apple, @shana-apple, @pan-apple

Update templates to support testing TestCluster attributes that has been activated
  examples/chip-tool/templates/partials/test_cluster.zapt
  src/app/zap-templates/common/ClustersHelper.js
  src/darwin/Framework/CHIP/templates/CHIPClustersObjc-src.zapt
  src/darwin/Framework/CHIP/templates/helper.js
  src/darwin/Framework/CHIP/templates/partials/test_cluster.zapt
Owners: @vivien-apple, @erjianqing, @shana-apple, @pan-apple

Add persistent storage example for cc26x2x7
  examples/persistent-storage/cc13x2x7_26x2x7/.gn
  examples/persistent-storage/cc13x2x7_26x2x7/BUILD.gn
  examples/persistent-storage/cc13x2x7_26x2x7/README.md
  examples/persistent-storage/cc13x2x7_26x2x7/args.gni
  examples/persistent-storage/cc13x2x7_26x2x7/build_overrides
  examples/persistent-storage/cc13x2x7_26x2x7/chip.syscfg
  examples/persistent-storage/cc13x2x7_26x2x7/include/AppConfig.h
  examples/persistent-storage/cc13x2x7_26x2x7/include/CHIPProjectConfig.h
  examples/persistent-storage/cc13x2x7_26x2x7/include/OpenThreadConfig.h
  examples/persistent-storage/cc13x2x7_26x2x7/main.cpp
  examples/persistent-storage/cc13x2x7_26x2x7/third_party/connectedhomeip
  src/platform/cc13x2_26x2/CC13X2_26X2Config.cpp
Owners: @mspang, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @yufengwangca

Implement parallel key value storage
  src/platform/cc13x2_26x2/CC13X2_26X2Config.cpp
  src/platform/cc13x2_26x2/CC13X2_26X2Config.h
  src/platform/cc13x2_26x2/KeyValueStoreManagerImpl.cpp
Owners: @mspang, @yufengwangca, @rgoliver

Implement Key Value Store
  src/platform/cc13x2_26x2/CC13X2_26X2Config.cpp
  src/platform/cc13x2_26x2/CC13X2_26X2Config.h
  src/platform/cc13x2_26x2/KeyValueStoreManagerImpl.cpp
  src/platform/cc13x2_26x2/KeyValueStoreManagerImpl.h
Owners: @mspang, @yufengwangca, @rgoliver

Widened KVS crc to 16 bits
  src/platform/cc13x2_26x2/CC13X2_26X2Config.cpp
  src/platform/cc13x2_26x2/KeyValueStoreManagerImpl.cpp
Owners: @mspang, @yufengwangca, @rgoliver

fix print formatting for persistent-storage app
  examples/persistent-storage/KeyValueStorageTest.cpp
  examples/persistent-storage/cc13x2x7_26x2x7/BUILD.gn
  examples/persistent-storage/cc13x2x7_26x2x7/main.cpp
  src/platform/cc13x2_26x2/CC13X2_26X2Config.h
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @mspang, @yufengwangca

Commissioner discovery based on DNS-SD using ChipTool (#7193)
  examples/chip-tool/BUILD.gn
  examples/chip-tool/commands/discover/Commands.h
  examples/chip-tool/commands/discover/DiscoverCommissionersCommand.cpp
  examples/chip-tool/commands/discover/DiscoverCommissionersCommand.h
  src/controller/AbstractMdnsDiscoveryController.cpp
  src/controller/AbstractMdnsDiscoveryController.h
  src/controller/BUILD.gn
  src/controller/CHIPCommissionableNodeController.cpp
  src/controller/CHIPCommissionableNodeController.h
  src/controller/CHIPDeviceController.cpp
  src/controller/CHIPDeviceController.h
  src/controller/python/ChipDeviceController-ScriptBinding.cpp
  src/controller/python/chip/discovery/NodeResolution.cpp
  src/include/platform/CHIPDeviceConfig.h
  src/lib/mdns/Discovery_ImplPlatform.cpp
  src/lib/mdns/Discovery_ImplPlatform.h
  src/lib/mdns/Resolver.h
  src/lib/mdns/Resolver_ImplMinimalMdns.cpp
  src/lib/mdns/Resolver_ImplNone.cpp
  src/lib/mdns/ServiceNaming.cpp
  src/lib/mdns/TxtFields.cpp
  src/lib/mdns/TxtFields.h
  src/lib/mdns/tests/TestTxtFields.cpp
Owners: @vivien-apple, @shana-apple, @pan-apple, @andy31415, @erjianqing, @mspang, @yufengwangca, @gjc13, @damian-nordic

Shut down the echo client if SendEchoRequest failed within EchoTimerHandler (#7702)
  examples/shell/shell_common/cmd_ping.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Fixed updating SRP services
  src/platform/OpenThread/GenericThreadStackManagerImpl_OpenThread.cpp
  src/platform/OpenThread/MdnsImpl.cpp
Owners: @bukepo

[python] Add zclwrite command for writing attributes (#7672)
  src/controller/python/chip-device-ctrl.py
  src/controller/python/chip/ChipDeviceCtrl.py
  src/controller/python/chip/clusters/CHIPClusters.cpp
  src/controller/python/chip/clusters/CHIPClusters.py
  src/controller/python/templates/python-CHIPClusters-cpp.zapt
  src/controller/python/templates/python-CHIPClusters-py.zapt
  src/controller/python/test/test_scripts/base.py
  src/controller/python/test/test_scripts/mobile-device-test.py
Owners: @andy31415, @erjianqing

Added two missing files to from running the zap_regen_all.py
  examples/tv-app/tv-common/gen/IMClusterCommandHandler.cpp
  examples/tv-app/tv-common/gen/callback.h
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Free endpoints we can't listen on in minimal mdns server.
  src/lib/mdns/minimal/Server.cpp
Owners: @andy31415, @gjc13, @damian-nordic

Disallow copy-construction of Device objects.
  src/controller/CHIPDevice.h
Owners: @shana-apple, @pan-apple

CASE spec refresh
  src/channel/Channel.h
  src/channel/ChannelContext.cpp
  src/controller/CHIPDevice.cpp
  src/controller/CHIPDevice.h
  src/credentials/CHIPCert.cpp
  src/credentials/CHIPCert.h
  src/credentials/CHIPOperationalCredentials.cpp
  src/credentials/CHIPOperationalCredentials.h
  src/protocols/secure_channel/CASESession.cpp
  src/protocols/secure_channel/CASESession.h
  src/protocols/secure_channel/tests/TestCASESession.cpp
Owners: @kghost, @shana-apple, @pan-apple, @emargolis

Fixed updating SRP services (#7714)
  src/platform/OpenThread/GenericThreadStackManagerImpl_OpenThread.cpp
  src/platform/OpenThread/MdnsImpl.cpp
Owners: @bukepo

Improve usability of spans for outparams. (#7708)
  src/lib/support/Span.h
  src/lib/support/tests/TestSpan.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

esp32 lock-app mdns server start at connectivity change
  examples/lock-app/esp32/main/DeviceCallbacks.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

TV app, prepare Endpoint 0 as root node device type (#7564)
  examples/tv-app/linux/include/account-login/AccountLoginManager.cpp
  examples/tv-app/linux/include/application-basic/ApplicationBasicManager.cpp
  examples/tv-app/linux/include/application-launcher/ApplicationLauncherManager.cpp
  examples/tv-app/linux/include/cluster-init.cpp
  examples/tv-app/linux/include/content-launcher/ContentLauncherManager.cpp
  examples/tv-app/linux/include/endpoint-configuration/EndpointConfigurationStorage.cpp
  examples/tv-app/linux/include/endpoint-configuration/chip_tv_config.ini
  examples/tv-app/linux/include/keypad-input/KeypadInputManager.cpp
  examples/tv-app/linux/include/media-input/MediaInputManager.cpp
  examples/tv-app/linux/include/media-playback/MediaPlaybackManager.cpp
  examples/tv-app/linux/include/target-navigator/TargetNavigatorManager.cpp
  examples/tv-app/linux/include/wake-on-lan/WakeOnLanManager.cpp
  examples/tv-app/tv-common/gen/IMClusterCommandHandler.cpp
  examples/tv-app/tv-common/gen/attribute-size.cpp
  examples/tv-app/tv-common/gen/callback-stub.cpp
  examples/tv-app/tv-common/gen/callback.h
  examples/tv-app/tv-common/gen/endpoint_config.h
  examples/tv-app/tv-common/gen/gen_config.h
  examples/tv-app/tv-common/tv-app.zap
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Free endpoints we can't listen on in minimal mdns server. (#7701)
  src/lib/mdns/minimal/Server.cpp
Owners: @andy31415, @gjc13, @damian-nordic
