Repository project-chip/connectedhomeip, changes with the owners that .github/CODEOWNERS names for each.
All owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @mspang, @pan-apple, @emargolis, @andy31415, @yufengwangca, @kghost, @bzbarksy-apple, @bzbarsky-apple, @gjc13, @damian-nordic, @erjiaqing, @shana-apple, @yunhanw-google, @vivien-apple, @erjianqing, @mrjerryjohns, @jrhees-cae, @rgoliver, @austinh0, @bukepo, @kpschoedel

Add PID to Darwin/Linux Log Lines (#7657)
  src/platform/Darwin/Logging.cpp
  src/platform/Linux/Logging.cpp
Owners: @mspang, @yufengwangca

Update Darwin framework to use GetConnectedDevice (#8011)
  src/darwin/CHIPTool/CHIPTool/Framework Helpers/DefaultsUtils.h
  src/darwin/CHIPTool/CHIPTool/Framework Helpers/DefaultsUtils.m
  src/darwin/CHIPTool/CHIPTool/View Controllers/Bindings/BindingsViewController.m
  src/darwin/CHIPTool/CHIPTool/View Controllers/DeviceSelector.m
  src/darwin/CHIPTool/CHIPTool/View Controllers/Echo client/EchoViewController.m
  src/darwin/CHIPTool/CHIPTool/View Controllers/Fabric/FabricUIViewController.m
  src/darwin/CHIPTool/CHIPTool/View Controllers/MultiAdmin/MultiAdminViewController.m
  src/darwin/CHIPTool/CHIPTool/View Controllers/OnOffCluster/OnOffViewController.m
  src/darwin/CHIPTool/CHIPTool/View Controllers/QRCode/QRCodeViewController.m
  src/darwin/CHIPTool/CHIPTool/View Controllers/Temperature Sensor/TemperatureSensorViewController.m
  src/darwin/Framework/CHIP.xcodeproj/project.pbxproj
  src/darwin/Framework/CHIP/CHIPDeviceConnectionBridge.h
  src/darwin/Framework/CHIP/CHIPDeviceConnectionBridge.mm
  src/darwin/Framework/CHIP/CHIPDeviceController.h
  src/darwin/Framework/CHIP/CHIPDeviceController.mm
  src/darwin/Framework/CHIPTests/CHIPControllerTests.m
Owners: @shana-apple, @vivien-apple, @pan-apple

Add back structs, bitmaps and enums of the Messaging cluster into ami… (#8061)
  src/app/common/gen/enums.h
  src/app/zap-templates/zcl/data-model/silabs/ami.xml
Owners: @yunhanw-google, @bzbarsky-apple, @mrjerryjohns, @vivien-apple, @erjianqing

Restyled by whitespace
  src/controller/java/gen/ChipClusters.java
Owners: @austinh0

Restyled by google-java-format
  src/controller/java/gen/ChipClusters.java
Owners: @austinh0

Regenerating
  src/controller/data_model/gen/encoder.cpp
Owners: @shana-apple, @pan-apple

Revert "Adding request-commissioning CHIPTool command (#7729)"
  examples/chip-tool/BUILD.gn
  examples/chip-tool/commands/pairing/Commands.h
  examples/chip-tool/commands/pairing/RequestCommissioningCommand.cpp
  examples/chip-tool/commands/pairing/RequestCommissioningCommand.h
  src/app/server/Mdns.cpp
  src/controller/BUILD.gn
  src/controller/CHIPCommissionableNodeController.cpp
  src/controller/CHIPCommissionableNodeController.h
Owners: @vivien-apple, @yunhanw-google, @bzbarsky-apple, @mrjerryjohns, @shana-apple, @pan-apple

Remove examples/chip-tool/gen/IMClusterCommandHandler.cpp that has been commited erroneously (#8063)
  examples/chip-tool/gen/IMClusterCommandHandler.cpp
Owners: @vivien-apple

Update src/app/tests/suites/README.md
  src/app/tests/suites/README.md
Owners: @vivien-apple

Add a README.md file to src/app/tests/suites/ (#8085)
  src/app/tests/suites/README.md
Owners: @vivien-apple

Make chip-echo-requester run on a single event loop
  src/messaging/tests/echo/echo_requester.cpp
Owners: @yufengwangca, @bzbarsky-apple

Fixup gn_build.sh enable_qpg_builds=true after #7936 (#8091)
  BUILD.gn
  config/qpg/toolchain/BUILD.gn
Owners: @mspang

Use synchronizable keys for Darwin credentials issuer (#8044)
  src/darwin/Framework/CHIP/CHIPOperationalCredentialsDelegate.h
  src/darwin/Framework/CHIP/CHIPOperationalCredentialsDelegate.mm
Owners: @shana-apple, @vivien-apple, @pan-apple

[nrfconnect] Add support for nRF52840 Dongle to lighting-app (#8080)
  config/nrfconnect/chip-module/CMakeLists.txt
  examples/lighting-app/nrfconnect/CMakeLists.txt
  examples/lighting-app/nrfconnect/README.md
  examples/lighting-app/nrfconnect/boards/nrf52840dongle_nrf52840.conf
  examples/lighting-app/nrfconnect/main/main.cpp
  examples/lighting-app/nrfconnect/prj.conf
  examples/lock-app/nrfconnect/README.md
  examples/pigweed-app/nrfconnect/README.md
  examples/platform/nrfconnect/util/DFUTrigger.cpp
  examples/pump-app/nrfconnect/README.md
  examples/pump-controller-app/nrfconnect/README.md
  src/platform/Zephyr/Logging.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @rgoliver, @mspang, @yufengwangca

Fix admin id used in the peer-to-local session in messaging context. (#8049)
  src/messaging/tests/MessagingContext.cpp
Owners: @yufengwangca, @bzbarsky-apple

Use gen/ids into im_cluster_command_handler.cpp (#8069)
  examples/all-clusters-app/all-clusters-common/gen/IMClusterCommandHandler.cpp
  examples/bridge-app/bridge-common/gen/IMClusterCommandHandler.cpp
  examples/lighting-app/lighting-common/gen/IMClusterCommandHandler.cpp
  examples/lock-app/lock-common/gen/IMClusterCommandHandler.cpp
  examples/pump-app/pump-common/gen/IMClusterCommandHandler.cpp
  examples/pump-controller-app/pump-controller-common/gen/IMClusterCommandHandler.cpp
  examples/temperature-measurement-app/esp32/main/gen/IMClusterCommandHandler.cpp
  examples/tv-app/tv-common/gen/IMClusterCommandHandler.cpp
  examples/window-app/common/gen/IMClusterCommandHandler.cpp
  src/app/zap-templates/templates/app/im-cluster-command-handler.zapt
  src/controller/data_model/gen/IMClusterCommandHandler.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @vivien-apple, @erjianqing, @shana-apple, @pan-apple

[Test] Rename tests from src/app/tests/suites to a less volatile name (#8066)
  examples/chip-tool/commands/tests/Commands.h
  examples/chip-tool/templates/tests-commands.zapt
  src/app/tests/suites/Test_TC_DM_1_1.yaml
  src/app/tests/suites/Test_TC_OO_1_1.yaml
  src/app/tests/suites/Test_TC_OO_2_1.yaml
  src/app/tests/suites/Test_TC_OO_2_2.yaml
  src/darwin/Framework/CHIP/templates/clusters-tests.zapt
  src/darwin/Framework/CHIPTests/CHIPClustersTests.m
Owners: @vivien-apple, @shana-apple, @pan-apple

Remove asChipUnderlyingType helper (#8062)
  examples/chip-tool/templates/commands.zapt
  src/app/common/gen/client-command-macro.h
  src/app/zap-templates/common/override.js
  src/app/zap-templates/partials/im_command_handler_cluster_commands.zapt
  src/app/zap-templates/templates/app/CHIPClientCallbacks-src.zapt
  src/app/zap-templates/templates/app/CHIPClientCallbacks.zapt
  src/app/zap-templates/templates/app/af-structs.zapt
  src/app/zap-templates/templates/app/callback.zapt
  src/app/zap-templates/templates/app/helper.js
  src/app/zap-templates/zcl/data-model/silabs/general.xml
  src/app/zap-templates/zcl/data-model/silabs/types.xml
  src/controller/java/templates/CHIPClusters-JNI.zapt
  src/darwin/Framework/CHIP/templates/CHIPClustersObjc-src.zapt
Owners: @vivien-apple, @yunhanw-google, @bzbarsky-apple, @mrjerryjohns, @erjianqing, @austinh0, @shana-apple, @pan-apple

Typo/Comments Cleanup for IM WriteClient and WriteHandler (#7975)
  src/app/InteractionModelDelegate.h
  src/app/InteractionModelEngine.h
  src/app/WriteClient.cpp
  src/app/WriteClient.h
  src/app/WriteHandler.cpp
  src/app/WriteHandler.h
Owners: @yunhanw-google, @bzbarsky-apple, @mrjerryjohns

support for electrical measurement cluster (#7953)
  examples/all-clusters-app/all-clusters-common/all-clusters-app.zap
  examples/all-clusters-app/all-clusters-common/gen/callback-stub.cpp
  examples/all-clusters-app/all-clusters-common/gen/callback.h
  examples/all-clusters-app/all-clusters-common/gen/endpoint_config.h
  examples/all-clusters-app/all-clusters-common/gen/gen_config.h
  examples/all-clusters-app/esp32/main/CMakeLists.txt
  examples/chip-tool/commands/clusters/Commands.h
  src/app/clusters/electrical-measurement-server/electrical-measurement-server.cpp
  src/app/clusters/electrical-measurement-server/electrical-measurement-server.h
  src/app/zap_cluster_list.py
  src/controller/data_model/controller-clusters.zap
  src/controller/data_model/gen/CHIPClusters.cpp
  src/controller/data_model/gen/CHIPClusters.h
  src/controller/data_model/gen/callback-stub.cpp
  src/controller/data_model/gen/callback.h
  src/controller/data_model/gen/chip-zcl-zpro-codec-api.h
  src/controller/data_model/gen/encoder.cpp
  src/controller/data_model/gen/endpoint_config.h
  src/controller/data_model/gen/gen_config.h
  src/controller/java/gen/CHIPClusters-JNI.cpp
  src/controller/java/gen/ChipClusters.java
  src/controller/python/chip/clusters/CHIPClusters.cpp
  src/controller/python/chip/clusters/CHIPClusters.py
  src/darwin/Framework/CHIP/gen/CHIPClustersObjc.h
  src/darwin/Framework/CHIP/gen/CHIPClustersObjc.mm
  src/darwin/Framework/CHIPTests/CHIPClustersTests.m
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @vivien-apple, @yunhanw-google, @bzbarsky-apple, @mrjerryjohns, @shana-apple, @pan-apple, @austinh0, @andy31415, @erjianqing

Adding regeneration
  .github/workflows/zap_regenerate_all.yaml
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Fixing name
  .github/workflows/zap_regenerate_all.yaml
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Introduced Separate Constant for Certificate Decode Buffer Length. (#8055)
  src/credentials/CHIPCert.h
  src/credentials/tests/TestChipCert.cpp
  src/credentials/tests/TestChipOperationalCredentials.cpp
  src/protocols/secure_channel/CASESession.cpp
  src/protocols/secure_channel/tests/TestCASESession.cpp
  src/tools/chip-cert/Cmd_PrintCert.cpp
  src/tools/chip-cert/Cmd_ValidateCert.cpp
Owners: @pan-apple, @emargolis

Fixing branch builds
  .github/workflows/android.yaml
  .github/workflows/cirque.yaml
  .github/workflows/darwin.yaml
  .github/workflows/doxygen.yaml
  .github/workflows/examples-efr32.yaml
  .github/workflows/examples-esp32.yaml
  .github/workflows/examples-k32w.yaml
  .github/workflows/examples-linux-standalone.yaml
  .github/workflows/examples-mbed.yaml
  .github/workflows/examples-nrfconnect.yaml
  .github/workflows/examples-qpg.yaml
  .github/workflows/examples-telink.yaml
  .github/workflows/lint.yml
  .github/workflows/qemu.yaml
  .github/workflows/tests.yaml
  .github/workflows/unit_integration_test.yaml
  .github/workflows/zap_templates.yaml
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Debugging this
  .github/workflows/build.yaml
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Fix IM changes
  examples/all-clusters-app/linux/include/media/tv-stubs.cpp
  examples/tv-app/linux/include/account-login/AccountLoginManager.cpp
  examples/tv-app/linux/include/application-basic/ApplicationBasicManager.cpp
  examples/tv-app/linux/include/application-basic/ApplicationBasicManager.h
  examples/tv-app/linux/include/application-launcher/ApplicationLauncherManager.cpp
  examples/tv-app/linux/include/application-launcher/ApplicationLauncherManager.h
  examples/tv-app/linux/include/audio-output/AudioOutputManager.cpp
  examples/tv-app/linux/include/audio-output/AudioOutputManager.h
  examples/tv-app/linux/include/endpoint-configuration/chip_tv_config.ini
  examples/tv-app/linux/include/keypad-input/KeypadInputManager.cpp
  examples/tv-app/linux/include/keypad-input/KeypadInputManager.h
  examples/tv-app/linux/include/low-power/LowPowerManager.cpp
  examples/tv-app/linux/include/low-power/LowPowerManager.h
  examples/tv-app/linux/include/media-input/MediaInputManager.cpp
  examples/tv-app/linux/include/media-input/MediaInputManager.h
  examples/tv-app/linux/include/media-playback/MediaPlaybackManager.cpp
  examples/tv-app/linux/include/media-playback/MediaPlaybackManager.h
  examples/tv-app/linux/include/target-navigator/TargetNavigatorManager.cpp
  examples/tv-app/linux/include/target-navigator/TargetNavigatorManager.h
  examples/tv-app/linux/include/tv-channel/TvChannelManager.cpp
  examples/tv-app/linux/include/tv-channel/TvChannelManager.h
  src/app/clusters/account-login-server/account-login-server.cpp
  src/app/clusters/application-basic-server/application-basic-server.cpp
  src/app/clusters/application-launcher-server/application-launcher-server.cpp
  src/app/clusters/keypad-input-server/keypad-input-server.cpp
  src/app/clusters/low-power-server/low-power-server.cpp
  src/app/clusters/media-input-server/media-input-server.cpp
  src/app/clusters/media-playback-server/media-playback-server.cpp
  src/app/clusters/target-navigator-server/target-navigator-server.cpp
  src/app/clusters/tv-channel-server/tv-channel-server.cpp
  src/app/zap-templates/zcl/data-model/chip/application-basic-cluster.xml
  src/app/zap-templates/zcl/data-model/chip/application-launcher-cluster.xml
  src/app/zap-templates/zcl/data-model/chip/media-playback-cluster.xml
  src/app/zap-templates/zcl/data-model/chip/target-navigator-cluster.xml
  src/app/zap_cluster_list.py
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @vivien-apple, @erjianqing, @yunhanw-google, @bzbarsky-apple, @mrjerryjohns

Running zap generator
  examples/all-clusters-app/all-clusters-common/gen/endpoint_config.h
  examples/all-clusters-app/linux/BUILD.gn
  examples/tv-app/tv-common/gen/IMClusterCommandHandler.cpp
  examples/tv-app/tv-common/gen/callback.h
  examples/tv-app/tv-common/gen/endpoint_config.h
  examples/tv-app/tv-common/tv-app.zap
  src/app/common/gen/af-structs.h
  src/app/common/gen/client-command-macro.h
  src/app/common/gen/enums.h
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @mspang, @yunhanw-google, @bzbarsky-apple, @mrjerryjohns

Adding tests for TV app
  examples/chip-tool/templates/tests-commands.zapt
  scripts/tests/test_tv_suites.sh
  src/app/tests/suites/AccountLoginCluster.yaml
  src/app/tests/suites/ApplicationBasicCluster.yaml
  src/app/tests/suites/ApplicationLauncherCluster.yaml
  src/app/tests/suites/AudioOutputCluster.yaml
  src/app/tests/suites/KeypadInputCluster.yaml
  src/app/tests/suites/LowPowerCluster.yaml
  src/app/tests/suites/MediaInputCluster.yaml
  src/app/tests/suites/MediaPlaybackCluster.yaml
  src/app/tests/suites/TargetNavigatorCluster.yaml
  src/app/tests/suites/TvChannelCluster.yaml
  src/controller/data_model/controller-clusters.zap
Owners: @vivien-apple, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @shana-apple, @pan-apple

Running zap generator
  examples/all-clusters-app/linux/BUILD.gn
  examples/all-clusters-app/linux/include/media/tv-stubs.cpp
  examples/chip-tool/commands/clusters/Commands.h
  examples/chip-tool/commands/tests/Commands.h
  examples/tv-app/linux/include/application-launcher/ApplicationLauncherManager.cpp
  examples/tv-app/linux/include/keypad-input/KeypadInputManager.cpp
  examples/tv-app/linux/include/media-input/MediaInputManager.cpp
  examples/tv-app/linux/include/media-playback/MediaPlaybackManager.cpp
  examples/tv-app/linux/include/target-navigator/TargetNavigatorManager.cpp
  src/app/clusters/account-login-server/account-login-server.cpp
  src/app/clusters/application-launcher-server/application-launcher-server.cpp
  src/app/clusters/media-playback-server/media-playback-server.cpp
  src/app/clusters/target-navigator-server/target-navigator-server.cpp
  src/app/tests/suites/AccountLoginCluster.yaml
  src/app/tests/suites/ApplicationBasicCluster.yaml
  src/app/tests/suites/ApplicationLauncherCluster.yaml
  src/app/tests/suites/AudioOutputCluster.yaml
  src/app/tests/suites/KeypadInputCluster.yaml
  src/app/tests/suites/LowPowerCluster.yaml
  src/app/tests/suites/MediaInputCluster.yaml
  src/app/tests/suites/MediaPlaybackCluster.yaml
  src/app/tests/suites/TargetNavigatorCluster.yaml
  src/app/tests/suites/TvChannelCluster.yaml
  src/controller/data_model/gen/CHIPClusters.cpp
  src/controller/data_model/gen/CHIPClusters.h
  src/controller/data_model/gen/chip-zcl-zpro-codec-api.h
  src/controller/data_model/gen/encoder.cpp
  src/controller/python/chip/clusters/CHIPClusters.cpp
  src/controller/python/chip/clusters/CHIPClusters.py
  src/darwin/Framework/CHIP/gen/CHIPClustersObjc.h
  src/darwin/Framework/CHIP/gen/CHIPClustersObjc.mm
  src/darwin/Framework/CHIPTests/CHIPClustersTests.m
Owners: @mspang, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @vivien-apple, @shana-apple, @pan-apple, @andy31415, @erjianqing

Adding TV callbacks to all cluster example apps
  examples/all-clusters-app/esp32/main/CMakeLists.txt
  examples/all-clusters-app/linux/BUILD.gn
  examples/all-clusters-app/linux/include/tv-callbacks.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @mspang

Updated the PR latests comments
  .github/workflows/tests.yaml
  examples/all-clusters-app/all-clusters-common/gen/endpoint_config.h
  examples/chip-tool/templates/tests-commands.zapt
  examples/tv-app/linux/include/application-launcher/ApplicationLauncherManager.cpp
  examples/tv-app/linux/include/media-playback/MediaPlaybackManager.cpp
  examples/tv-app/linux/include/media-playback/MediaPlaybackManager.h
  examples/tv-app/linux/include/target-navigator/TargetNavigatorManager.cpp
  examples/tv-app/tv-common/gen/endpoint_config.h
  scripts/tests/test_suites.sh
  scripts/tests/test_tv_suites.sh
  src/app/clusters/application-launcher-server/application-launcher-server.cpp
  src/app/clusters/application-launcher-server/application-launcher-server.h
  src/app/clusters/media-playback-server/media-playback-server.cpp
  src/app/clusters/media-playback-server/media-playback-server.h
  src/app/clusters/target-navigator-server/target-navigator-server.cpp
  src/app/clusters/target-navigator-server/target-navigator-server.h
  src/app/common/gen/af-structs.h
  src/app/common/gen/command-id.h
  src/app/common/gen/enums.h
  src/app/tests/suites/TV_AccountLoginCluster.yaml
  src/app/tests/suites/TV_ApplicationBasicCluster.yaml
  src/app/tests/suites/TV_ApplicationLauncherCluster.yaml
  src/app/tests/suites/TV_AudioOutputCluster.yaml
  src/app/tests/suites/TV_KeypadInputCluster.yaml
  src/app/tests/suites/TV_LowPowerCluster.yaml
  src/app/tests/suites/TV_MediaInputCluster.yaml
  src/app/tests/suites/TV_MediaPlaybackCluster.yaml
  src/app/tests/suites/TV_TargetNavigatorCluster.yaml
  src/app/tests/suites/TV_TvChannelCluster.yaml
  src/app/zap-templates/zcl/data-model/chip/application-basic-cluster.xml
  src/app/zap-templates/zcl/data-model/chip/application-launcher-cluster.xml
  src/app/zap-templates/zcl/data-model/chip/media-playback-cluster.xml
  src/app/zap-templates/zcl/data-model/chip/target-navigator-cluster.xml
  src/controller/data_model/controller-clusters.zap
  src/controller/data_model/gen/encoder.cpp
  src/controller/data_model/gen/endpoint_config.h
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @vivien-apple, @yunhanw-google, @bzbarsky-apple, @mrjerryjohns, @erjianqing, @shana-apple, @pan-apple

Update PR per latest comments
  .github/workflows/tests.yaml
  examples/all-clusters-app/all-clusters-common/all-clusters-app.zap
  examples/all-clusters-app/all-clusters-common/gen/endpoint_config.h
  examples/all-clusters-app/esp32/main/CMakeLists.txt
  examples/all-clusters-app/esp32/main/main.cpp
  examples/chip-tool/commands/clusters/Commands.h
  examples/tv-app/linux/include/tv-channel/TvChannelManager.cpp
  examples/tv-app/tv-common/gen/callback.h
  examples/tv-app/tv-common/gen/endpoint_config.h
  examples/tv-app/tv-common/tv-app.zap
  scripts/tests/test_suites.sh
  src/app/clusters/application-launcher-server/application-launcher-server.h
  src/app/clusters/media-playback-server/media-playback-server.cpp
  src/app/clusters/media-playback-server/media-playback-server.h
  src/app/clusters/target-navigator-server/target-navigator-server.h
  src/app/clusters/tv-channel-server/tv-channel-server.cpp
  src/app/common/gen/client-command-macro.h
  src/app/common/gen/command-id.h
  src/app/common/gen/ids/Attributes.h
  src/app/common/gen/ids/Commands.h
  src/app/tests/suites/TV_MediaPlaybackCluster.yaml
  src/app/zap-templates/zcl/data-model/chip/media-playback-cluster.xml
  src/controller/data_model/controller-clusters.zap
  src/controller/data_model/gen/CHIPClientCallbacks.cpp
  src/controller/data_model/gen/CHIPClientCallbacks.h
  src/controller/data_model/gen/CHIPClusters.cpp
  src/controller/data_model/gen/CHIPClusters.h
  src/controller/data_model/gen/IMClusterCommandHandler.cpp
  src/controller/data_model/gen/callback.h
  src/controller/data_model/gen/chip-zcl-zpro-codec-api.h
  src/controller/data_model/gen/encoder.cpp
  src/controller/data_model/gen/endpoint_config.h
  src/controller/java/gen/CHIPClusters-JNI.cpp
  src/controller/java/gen/ChipClusters.java
  src/controller/python/chip/clusters/CHIPClusters.cpp
  src/controller/python/chip/clusters/CHIPClusters.py
  src/darwin/Framework/CHIP/gen/CHIPClustersObjc.h
  src/darwin/Framework/CHIP/gen/CHIPClustersObjc.mm
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @vivien-apple, @yunhanw-google, @bzbarsky-apple, @mrjerryjohns, @erjianqing, @shana-apple, @pan-apple, @austinh0, @andy31415

Updated the PR per latest comments
  examples/all-clusters-app/linux/include/tv-callbacks.cpp
  examples/chip-tool/commands/tests/Commands.h
  examples/tv-app/linux/include/application-launcher/ApplicationLauncherManager.cpp
  examples/tv-app/linux/include/audio-output/AudioOutputManager.cpp
  examples/tv-app/linux/include/keypad-input/KeypadInputManager.cpp
  examples/tv-app/linux/include/low-power/LowPowerManager.cpp
  examples/tv-app/linux/include/media-input/MediaInputManager.cpp
  examples/tv-app/linux/include/target-navigator/TargetNavigatorManager.cpp
  examples/tv-app/linux/include/tv-channel/TvChannelManager.cpp
  examples/tv-app/tv-common/gen/IMClusterCommandHandler.cpp
  src/app/clusters/account-login-server/account-login-server.cpp
  src/app/clusters/application-basic-server/application-basic-server.cpp
  src/app/clusters/application-launcher-server/application-launcher-server.cpp
  src/app/clusters/application-launcher-server/application-launcher-server.h
  src/app/clusters/audio-output-server/audio-output-server.cpp
  src/app/clusters/keypad-input-server/keypad-input-server.cpp
  src/app/clusters/low-power-server/low-power-server.cpp
  src/app/clusters/media-input-server/media-input-server.cpp
  src/app/clusters/media-playback-server/media-playback-server.cpp
  src/app/clusters/media-playback-server/media-playback-server.h
  src/app/clusters/target-navigator-server/target-navigator-server.cpp
  src/app/clusters/target-navigator-server/target-navigator-server.h
  src/app/clusters/tv-channel-server/tv-channel-server.cpp
  src/app/tests/suites/TV_AccountLoginCluster.yaml
  src/app/tests/suites/TV_MediaPlaybackCluster.yaml
  src/app/zap-templates/zcl/data-model/chip/application-launcher-cluster.xml
  src/controller/data_model/gen/IMClusterCommandHandler.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @vivien-apple, @erjianqing, @shana-apple, @pan-apple

add ESP32C3 CI
  examples/all-clusters-app/esp32/sdkconfig_c3devkit.defaults
  examples/all-clusters-app/esp32/sdkconfig_m5stack.defaults
  scripts/examples/esp_example.sh
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Remove dead code
  src/transport/SecureSessionMgr.cpp
  src/transport/SecureSessionMgr.h
Owners: @pan-apple

Remove PeerConnectionState::mTransport
  src/app/server/RendezvousServer.cpp
  src/app/server/Server.cpp
  src/controller/CHIPDevice.cpp
  src/controller/CHIPDeviceController.cpp
  src/protocols/secure_channel/CASEServer.cpp
  src/transport/PeerConnectionState.h
  src/transport/SecureSessionMgr.cpp
  src/transport/SecureSessionMgr.h
Owners: @yunhanw-google, @bzbarsky-apple, @mrjerryjohns, @shana-apple, @pan-apple, @andy31415

Restyled by clang-format
  src/controller/CHIPDeviceController.cpp
  src/protocols/secure_channel/CASEServer.cpp
Owners: @shana-apple, @pan-apple

Use {{chip_server_responses}} instead of multiple #ifs for iterating over the command responses
  examples/chip-tool/templates/commands.zapt
  src/app/zap-templates/common/ClustersHelper.js
  src/app/zap-templates/templates/app/CHIPClientCallbacks-src.zapt
  src/app/zap-templates/templates/app/CHIPClientCallbacks.zapt
  src/app/zap-templates/templates/chip/helper.js
  src/controller/java/templates/CHIPClusters-JNI.zapt
  src/controller/java/templates/ChipClusters-java.zapt
  src/darwin/Framework/CHIP/templates/CHIPClustersObjc-src.zapt
Owners: @vivien-apple, @erjianqing, @austinh0, @shana-apple, @pan-apple

Darwin BLE: fix length check in advertisement data
  src/platform/Darwin/BleConnectionDelegateImpl.mm
Owners: @mspang, @yufengwangca

using kTlvHeader for buffer index update
  src/crypto/hsm/nxp/CHIPCryptoPALHsm_SE05X_P256.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

.github/CODEOWNERS:

# Current reviewers-XXX teams, who review everything for approval.
* @reviewers-amazon @reviewers-apple @reviewers-comcast @reviewers-google @reviewers-nordic @reviewers-samsung @reviewers-silabs


# BUILD system

*.gn @mspang
/build/ @mspang
/scripts/build/ @mspang

# Crypto
# Crypto primitives and high level API, generally on top of mbedtls and openssl
/src/crypto/* @pan-apple @emargolis
/src/credentials/ @pan-apple @emargolis

# Transport
# Send and receive data abstracting away the underlying protocol (UDP, TCP, BLE)
/src/transport/ @andy31415 @pan-apple

# Session establishment
# Establish a secure session (encryption keys) from one node to another.
# Includes CASE and PASE + session tracking and resumptioon
/src/protocols/secure_channel/ @pan-apple

# Message Layer
# CRMP and packet headers, generally coupled with SecureSessionManager
/src/messaging @yufengwangca @kghost @bzbarksy-apple
/src/transport/raw/MessageHeader.* @yufengwangca @kghost @bzbarksy-apple

# SecureSessionManager
# Manages per-session encryption keys and new session establishment
/src/transport/SecureSessionMgr.* @pan-apple

# Exchange management
# Joins requests and responses or ties a series of messages belonging to the 
# same protocol interaction
/src/messaging/ @yufengwangca @bzbarsky-apple
/src/channel/ @yufengwangca @bzbarsky-apple

# DNS-SD discovery and advertisement
# Advertise chip devices for commisioning, operational and discover such devices
/src/lib/mdns/ @andy31415 @gjc13 @damian-nordic

# Commisioning controller/flow
# Example of a comisioning sequence
/src/controller/ @pan-apple @erjiaqing

# Operational credentials management
# Signing certificates, maintaining roots of trust, validation, fabric management
/src/controller/ @shana-apple @pan-apple
/src/transport/AdminPairingTable.* @shana-apple @pan-apple

# TLV encoding/decoding to/from byte buffers
/src/lib/core/CHIPTLV* @yunhanw-google @bzbarsky-apple @shana-apple

# Interaction model - ember implementation
# ZCL protocol implementation: ZCL encoding to be sent over the wire as a 
# ZigbeePro protocol implementation
/src/app/util/ @vivien-apple @erjianqing @bzbarsky-apple

# Interaction model - non-ember
# Protocol implementation for IM interactions between nodes, matching spec
/src/app/ @yunhanw-google @bzbarsky-apple @mrjerryjohns

# Interaction model - code generation
# CHIP-specific infrastructure for generating code: helper js methods, scripts
# and code layout
/src/app/zap-templates/ @vivien-apple @erjianqing

# ZAP suppport
# UI for editing XML, generates code from such ZML and configuration files
# NOT part of CHIP however CHIP relies heavily on ZAP.
#    @vivien-apple  @tecimovic

# 'Standard' cluster implementations (server side)
# Clusters shipped with the sdk, can be integrated as-is or used as a template
/src/app/clusters/ @vivien-apple

# Onboarding payload
# Parsing and generation of codes (includes QR and NFC), numeric pairing payload
/src/setup_payload/ @shana-apple @vivien-apple @jrhees-cae

# Device Layer
# Porting interfaces, scaffolding for building an example firmware
/src/platform/ @mspang @yufengwangca
/src/include/platform/ @mspang @yufengwangca

# Persistent storage
# Save state across reboots
/src/platform/*/KeyValueStore* @rgoliver

# Python bindings for CHIP - CLI
# Allows python code to use CHIP, generally targeted towards automation
/src/controller/python/ @andy31415 @erjianqing

# CHIP-tool C++ CLI
# Command line interface to chip as a client (controller and commisioner)
# Includes generated code for every base cluster
/examples/chip-tool/ @vivien-apple

# CHIP-tool iOS UI
/src/darwin/CHIPTool/ @shana-apple

# CHIP-tool Android
/src/android/CHIPTool/ @austinh0
/src/controller/java/ @austinh0

# End2End autogenerated tests
/src/darwin/Framework/Chip-templates/ @vivien-apple
/src/app/tests/suites/ @vivien-apple

# End2End cirque tests
# Simulate topology (cirque) and ptyhon-based test automation
/src/test_driver/linux/cirque/ @erjianqing @yunhanw-google

# Thread integration
# Thread-specific functionality (network provisioning, operational discovery, SRP registration etc.)
/src/platform/OpenThread/ @bukepo
/src/platform/*/ThreadStackmanagerImpl.* @bukepo

# Inet
# Networking abstraction layer (UDP-endpoint, TCP-endpoint, InetLayerBasis)
/src/inet/ @kpschoedel 

# System layer
/src/system/ @kpschoedel 

# BLE support
/src/ble/ @yunhanw-google

# CHIP Shell
# Command-line UART/stdin interface as a side-channel to CHIP accessories
# Aimed as user-friendly/manual control
/src/examples/shell/ @gjc13 @yufengwangca

# RPC
# Side-channlel command path (outside chip), generally for automation and debugging
# Aimed as "scriptable" when compared to shell
/examples/common/pigweed/ @rgoliver
/examples/pigweed-app/ @rgoliver

# Tooling for crypto manual generation
# Generates data for sample PKI
/src/tools/chip-cert/ @emargolis

# Channel API
# Construct a transport/secure session based on peer info and transport type.
# Focused on CASE session establishment
/src/channel/ @kghost

# Darwin framework
# Exposes a darwin API (Objective-C/swift rather than raw C++ API) for darwin
# applications
/src/darwin/Framework/ @shana-apple @vivien-apple @pan-apple
