Repository project-chip/connectedhomeip, changes with the owners that .github/CODEOWNERS names for each.
All owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @mspang, @pan-apple, @emargolis, @andy31415, @yufengwangca, @kghost, @bzbarksy-apple, @bzbarsky-apple, @gjc13, @damian-nordic, @erjiaqing, @shana-apple, @yunhanw-google, @vivien-apple, @erjianqing, @mrjerryjohns, @jrhees-cae, @rgoliver, @austinh0, @bukepo, @kpschoedel

Add tests
  src/app/tests/suites/TV_WakeOnLanCluster.yaml
Owners: @vivien-apple

Enable Test Cluster so that string values are returned
  examples/tv-app/tv-common/gen/IMClusterCommandHandler.cpp
  examples/tv-app/tv-common/gen/attribute-size.cpp
  examples/tv-app/tv-common/gen/callback-stub.cpp
  examples/tv-app/tv-common/gen/endpoint_config.h
  examples/tv-app/tv-common/gen/gen_config.h
  examples/tv-app/tv-common/tv-app.zap
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Update PR per latests requests
  examples/tv-app/linux/BUILD.gn
  examples/tv-app/linux/include/application-basic/ApplicationBasicManager.cpp
  examples/tv-app/linux/include/cluster-init.cpp
  examples/tv-app/linux/include/wake-on-lan/WakeOnLanManager.cpp
  examples/tv-app/linux/include/wake-on-lan/WakeOnLanManager.h
  src/app/clusters/basic/basic.cpp
  src/lib/support/ZclString.h
Owners: @mspang, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @vivien-apple

Run zap_regen to generate boilerplate code
  examples/chip-tool/commands/tests/Commands.h
  examples/tv-app/tv-common/gen/IMClusterCommandHandler.cpp
Owners: @vivien-apple, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Restyle fix
  examples/tv-app/linux/BUILD.gn
  examples/tv-app/linux/include/cluster-helper.cpp
Owners: @mspang, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Renamed cluster-helper.cpp to zcl-strings.h
  examples/tv-app/linux/BUILD.gn
  examples/tv-app/linux/include/application-basic/ApplicationBasicManager.cpp
  examples/tv-app/linux/include/wake-on-lan/WakeOnLanManager.cpp
  examples/tv-app/linux/include/zcl-strings.h
Owners: @mspang, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Remove Test Cluster
  examples/tv-app/tv-common/gen/IMClusterCommandHandler.cpp
  examples/tv-app/tv-common/gen/attribute-size.cpp
  examples/tv-app/tv-common/gen/callback-stub.cpp
  examples/tv-app/tv-common/gen/endpoint_config.h
  examples/tv-app/tv-common/gen/gen_config.h
  examples/tv-app/tv-common/tv-app.zap
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Store Wake On LAN and Application basic server attributes as ZCL String
  examples/tv-app/linux/BUILD.gn
  examples/tv-app/linux/include/application-basic/ApplicationBasicManager.cpp
  examples/tv-app/linux/include/cluster-helper.cpp
  examples/tv-app/linux/include/wake-on-lan/WakeOnLanManager.cpp
Owners: @mspang, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Update src/lib/support/ZclString.h
  src/lib/support/ZclString.h
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Adding zap_regen code
  examples/chip-tool/commands/tests/Commands.h
Owners: @vivien-apple

Updated the PR latest comments
  src/lib/support/ZclString.cpp
  src/lib/support/tests/TestZclString.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Update PR per latest comments
  src/lib/support/ZclString.h
  src/lib/support/tests/TestZclString.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Update PR per latest comments.
  examples/bridge-app/linux/main.cpp
  examples/tv-app/linux/include/application-basic/ApplicationBasicManager.cpp
  examples/tv-app/linux/include/wake-on-lan/WakeOnLanManager.cpp
  src/app/clusters/basic/basic.cpp
  src/lib/support/BUILD.gn
  src/lib/support/ZclString.cpp
  src/lib/support/ZclString.h
  src/lib/support/tests/TestZclString.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @vivien-apple, @mspang

Update PR per latest comments. Converted MakeZclString to return error and to accept MutableByteSpan
  examples/bridge-app/linux/main.cpp
  examples/chip-tool/commands/tests/Commands.h
  examples/tv-app/linux/include/application-basic/ApplicationBasicManager.cpp
  examples/tv-app/linux/include/wake-on-lan/WakeOnLanManager.cpp
  examples/tv-app/tv-common/gen/endpoint_config.h
  src/app/clusters/basic/basic.cpp
  src/lib/support/ZclString.h
  src/lib/support/tests/TestZclString.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @vivien-apple

Update PR per latest comments
  src/lib/support/ZclString.cpp
  src/lib/support/tests/TestZclString.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Update PR per latests comments
  examples/bridge-app/linux/main.cpp
  examples/tv-app/linux/include/application-basic/ApplicationBasicManager.cpp
  examples/tv-app/linux/include/wake-on-lan/WakeOnLanManager.cpp
  src/app/clusters/basic/basic.cpp
  src/lib/support/ZclString.h
  src/lib/support/tests/BUILD.gn
  src/lib/support/tests/TestZclString.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @vivien-apple, @mspang

TODOs from PR #6561 (#8900)
  src/controller/java/CHIPDeviceController-JNI.cpp
  src/inet/tests/TestInetCommon.h
  src/inet/tests/TestInetCommonPosix.cpp
  src/inet/tests/TestInetEndPoint.cpp
  src/inet/tests/TestInetLayer.cpp
  src/inet/tests/TestInetLayerDNS.cpp
  src/inet/tests/TestInetLayerMulticast.cpp
  src/inet/tests/TestLwIPDNS.cpp
  src/system/WatchableEventManagerLibevent.cpp
  src/system/WatchableEventManagerLibevent.h
  src/system/WatchableEventManagerSelect.cpp
  src/system/WatchableEventManagerSelect.h
  src/system/tests/TestSystemTimer.cpp
  src/transport/raw/tests/NetworkTestHelpers.cpp
Owners: @austinh0, @kpschoedel, @andy31415, @pan-apple

Update test case
  src/app/tests/suites/TestCluster.yaml
Owners: @vivien-apple

Run Codegen
  examples/chip-tool/commands/tests/Commands.h
  src/darwin/Framework/CHIPTests/CHIPClustersTests.m
Owners: @vivien-apple, @shana-apple, @pan-apple

[python] Add check for value size for attribute write
  src/app/util/ember-compatibility-functions.cpp
  src/controller/python/BUILD.gn
  src/controller/python/chip/interaction_model/__init__.py
  src/controller/python/test/test_scripts/base.py
Owners: @yunhanw-google, @bzbarsky-apple, @mrjerryjohns, @andy31415, @erjianqing

Restyled by whitespace
  src/lib/support/tests/TestZclString.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Restyled by clang-format
  src/lib/support/tests/TestZclString.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Restyled by clang-format
  src/inet/EndPointBasis.h
  src/inet/RawEndPoint.cpp
  src/inet/TCPEndPoint.cpp
  src/platform/Linux/MdnsImpl.cpp
  src/system/SocketEvents.h
  src/system/SystemLayer.h
  src/system/SystemTimer.cpp
  src/system/SystemTimer.h
  src/system/WakeEvent.cpp
  src/system/WakeEvent.h
  src/system/WatchableEventManagerLibevent.cpp
  src/system/WatchableEventManagerSelect.cpp
  src/system/tests/TestSystemWakeEvent.cpp
Owners: @kpschoedel, @mspang, @yufengwangca

Restyled by gn
  src/system/BUILD.gn
Owners: @kpschoedel

Update PR per latest comments
  src/lib/support/ZclString.cpp
  src/lib/support/tests/TestZclString.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

restyle
  src/inet/EndPointBasis.h
  src/inet/RawEndPoint.cpp
  src/inet/TCPEndPoint.cpp
  src/platform/Linux/MdnsImpl.cpp
  src/system/BUILD.gn
  src/system/SocketEvents.h
  src/system/SystemLayer.h
  src/system/SystemTimer.cpp
  src/system/SystemTimer.h
  src/system/WakeEvent.cpp
  src/system/WakeEvent.h
  src/system/WatchableEventManagerLibevent.cpp
  src/system/WatchableEventManagerSelect.cpp
  src/system/tests/TestSystemWakeEvent.cpp
Owners: @kpschoedel, @mspang, @yufengwangca

more signature change fixes
  examples/minimal-mdns/advertiser.cpp
  src/lib/mdns/minimal/tests/TestAdvertiser.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @andy31415, @gjc13, @damian-nordic

Externally
  scripts/tests/esp32_qemu_tests.sh
  src/credentials/tests/BUILD.gn
  src/crypto/tests/BUILD.gn
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @pan-apple, @emargolis, @mspang

More attempt to fix example namespacing
  examples/all-clusters-app/esp32/main/main.cpp
  examples/bridge-app/esp32/main/main.cpp
  examples/bridge-app/linux/main.cpp
  examples/lighting-app/efr32/src/AppTask.cpp
  examples/lighting-app/k32w/main/AppTask.cpp
  examples/lighting-app/mbed/main/AppTask.cpp
  examples/lighting-app/nrfconnect/main/AppTask.cpp
  examples/lighting-app/qpg/src/AppTask.cpp
  examples/lighting-app/telink/src/AppTask.cpp
  examples/lock-app/cc13x2x7_26x2x7/main/AppTask.cpp
  examples/lock-app/efr32/src/AppTask.cpp
  examples/lock-app/esp32/main/main.cpp
  examples/lock-app/k32w/main/AppTask.cpp
  examples/lock-app/mbed/main/AppTask.cpp
  examples/lock-app/nrfconnect/main/AppTask.cpp
  examples/lock-app/p6/src/AppTask.cpp
  examples/lock-app/qpg/src/AppTask.cpp
  examples/platform/linux/AppMain.cpp
  examples/pump-app/cc13x2x7_26x2x7/main/AppTask.cpp
  examples/pump-app/nrfconnect/main/AppTask.cpp
  examples/pump-controller-app/cc13x2x7_26x2x7/main/AppTask.cpp
  examples/pump-controller-app/nrfconnect/main/AppTask.cpp
  examples/temperature-measurement-app/esp32/main/main.cpp
  examples/window-app/common/src/WindowApp.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Removing special DiscoveryVerbose module
  src/lib/mdns/Resolver.h
  src/lib/support/logging/CHIPLogging.cpp
  src/lib/support/logging/Constants.h
Owners: @andy31415, @gjc13, @damian-nordic, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Restyled by clang-format
  examples/tv-casting-app/tv-casting-common/gen/IMClusterCommandHandler.cpp
  examples/tv-casting-app/tv-casting-common/gen/attribute-size.cpp
  examples/tv-casting-app/tv-casting-common/gen/callback-stub.cpp
  examples/tv-casting-app/tv-casting-common/gen/endpoint_config.h
  examples/tv-casting-app/tv-casting-common/gen/gen_tokens.h
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Fix Linux example
  examples/platform/linux/AppMain.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Restyled by clang-format
  examples/tv-casting-app/tv-casting-common/gen/endpoint_config.h
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

fix GetCommandExitStatus race
  examples/chip-tool/commands/common/Commands.cpp
Owners: @vivien-apple

Update method description
  src/lib/support/ZclString.h
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Restyled by whitespace
  src/lib/support/ZclString.h
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Update method description
  src/lib/support/ZclString.h
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Fix: POSIX PlatformManagerImpl bug with RunEventLoop twice
  src/include/platform/internal/GenericPlatformManagerImpl_POSIX.cpp
  src/platform/tests/TestPlatformMgr.cpp
Owners: @mspang, @yufengwangca

Restyled by prettier-json
  src/test_driver/linux-cirque/topologies/one_node_one_android.json
  src/test_driver/linux-cirque/topologies/three_node_with_ipvlan.json
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Restyled by prettier-json
  src/test_driver/linux-cirque/topologies/three_node_with_ipvlan.json
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

.github/CODEOWNERS:

# Current reviewers-XXX teams, who review everything for approval.
* @reviewers-amazon @reviewers-apple @reviewers-comcast @reviewers-google @reviewers-nordic @reviewers-samsung @reviewers-silabs


# BUILD system

*.gn @mspang
/build/ @mspang
/scripts/build/ @mspang

# Crypto
# Crypto primitives and high level API, generally on top of mbedtls and openssl
/src/crypto/* @pan-apple @emargolis
/src/credentials/ @pan-apple @emargolis

# Transport
# Send and receive data abstracting away the underlying protocol (UDP, TCP, BLE)
/src/transport/ @andy31415 @pan-apple

# Session establishment
# Establish a secure session (encryption keys) from one node to another.
# Includes CASE and PASE + session tracking and resumptioon
/src/protocols/secure_channel/ @pan-apple

# Message Layer
# CRMP and packet headers, generally coupled with SecureSessionManager
/src/messaging @yufengwangca @kghost @bzbarksy-apple
/src/transport/raw/MessageHeader.* @yufengwangca @kghost @bzbarksy-apple

# SecureSessionManager
# Manages per-session encryption keys and new session establishment
/src/transport/SecureSessionMgr.* @pan-apple

# Exchange management
# Joins requests and responses or ties a series of messages belonging to the 
# same protocol interaction
/src/messaging/ @yufengwangca @bzbarsky-apple
/src/channel/ @yufengwangca @bzbarsky-apple

# DNS-SD discovery and advertisement
# Advertise chip devices for commisioning, operational and discover such devices
/src/lib/mdns/ @andy31415 @gjc13 @damian-nordic

# Commisioning controller/flow
# Example of a comisioning sequence
/src/controller/ @pan-apple @erjiaqing

# Operational credentials management
# Signing certificates, maintaining roots of trust, validation, fabric management
/src/controller/ @shana-apple @pan-apple
/src/transport/AdminPairingTable.* @shana-apple @pan-apple

# TLV encoding/decoding to/from byte buffers
/src/lib/core/CHIPTLV* @yunhanw-google @bzbarsky-apple @shana-apple

# Interaction model - ember implementation
# ZCL protocol implementation: ZCL encoding to be sent over the wire as a 
# ZigbeePro protocol implementation
/src/app/util/ @vivien-apple @erjianqing @bzbarsky-apple

# Interaction model - non-ember
# Protocol implementation for IM interactions between nodes, matching spec
/src/app/ @yunhanw-google @bzbarsky-apple @mrjerryjohns

# Interaction model - code generation
# CHIP-specific infrastructure for generating code: helper js methods, scripts
# and code layout
/src/app/zap-templates/ @vivien-apple @erjianqing

# ZAP suppport
# UI for editing XML, generates code from such ZML and configuration files
# NOT part of CHIP however CHIP relies heavily on ZAP.
#    @vivien-apple  @tecimovic

# 'Standard' cluster implementations (server side)
# Clusters shipped with the sdk, can be integrated as-is or used as a template
/src/app/clusters/ @vivien-apple

# Onboarding payload
# Parsing and generation of codes (includes QR and NFC), numeric pairing payload
/src/setup_payload/ @shana-apple @vivien-apple @jrhees-cae

# Device Layer
# Porting interfaces, scaffolding for building an example firmware
/src/platform/ @mspang @yufengwangca
/src/include/platform/ @mspang @yufengwangca

# Persistent storage
# Save state across reboots
/src/platform/*/KeyValueStore* @rgoliver

# Python bindings for CHIP - CLI
# Allows python code to use CHIP, generally targeted towards automation
/src/controller/python/ @andy31415 @erjianqing

# CHIP-tool C++ CLI
# Command line interface to chip as a client (controller and commisioner)
# Includes generated code for every base cluster
/examples/chip-tool/ @vivien-apple

# CHIP-tool iOS UI
/src/darwin/CHIPTool/ @shana-apple

# CHIP-tool Android
/src/android/CHIPTool/ @austinh0
/src/controller/java/ @austinh0

# End2End autogenerated tests
/src/darwin/Framework/Chip-templates/ @vivien-apple
/src/app/tests/suites/ @vivien-apple

# End2End cirque tests
# Simulate topology (cirque) and ptyhon-based test automation
/src/test_driver/linux/cirque/ @erjianqing @yunhanw-google

# Thread integration
# Thread-specific functionality (network provisioning, operational discovery, SRP registration etc.)
/src/platform/OpenThread/ @bukepo
/src/platform/*/ThreadStackmanagerImpl.* @bukepo

# Inet
# Networking abstraction layer (UDP-endpoint, TCP-endpoint, InetLayerBasis)
/src/inet/ @kpschoedel 

# System layer
/src/system/ @kpschoedel 

# BLE support
/src/ble/ @yunhanw-google

# CHIP Shell
# Command-line UART/stdin interface as a side-channel to CHIP accessories
# Aimed as user-friendly/manual control
/src/examples/shell/ @gjc13 @yufengwangca

# RPC
# Side-channlel command path (outside chip), generally for automation and debugging
# Aimed as "scriptable" when compared to shell
/examples/common/pigweed/ @rgoliver
/examples/pigweed-app/ @rgoliver

# Tooling for crypto manual generation
# Generates data for sample PKI
/src/tools/chip-cert/ @emargolis

# Channel API
# Construct a transport/secure session based on peer info and transport type.
# Focused on CASE session establishment
/src/channel/ @kghost

# Darwin framework
# Exposes a darwin API (Objective-C/swift rather than raw C++ API) for darwin
# applications
/src/darwin/Framework/ @shana-apple @vivien-apple @pan-apple
