Repository project-chip/connectedhomeip, changes with the owners that .github/CODEOWNERS names for each.
All owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @mspang, @pan-apple, @emargolis, @andy31415, @yufengwangca, @kghost, @bzbarksy-apple, @bzbarsky-apple, @gjc13, @damian-nordic, @erjiaqing, @shana-apple, @yunhanw-google, @vivien-apple, @erjianqing, @mrjerryjohns, @jrhees-cae, @rgoliver, @austinh0, @bukepo, @kpschoedel

.github/CODEOWNERS:

# Current reviewers-XXX teams, who review everything for approval.
* @reviewers-amazon @reviewers-apple @reviewers-comcast @reviewers-google @reviewers-nordic @reviewers-samsung @reviewers-silabs


# BUILD system

*.gn @mspang
/build/ @mspang
/scripts/build/ @mspang

# Crypto
# Crypto primitives and high level API, generally on top of mbedtls and openssl
/src/crypto/* @pan-apple @emargolis
/src/credentials/ @pan-apple @emargolis

# Transport
# Send and receive data abstracting away the underlying protocol (UDP, TCP, BLE)
/src/transport/ @andy31415 @pan-apple

# Session establishment
# Establish a secure session (encryption keys) from one node to another.
# Includes CASE and PASE + session tracking and resumptioon
/src/protocols/secure_channel/ @pan-apple

# Message Layer
# CRMP and packet headers, generally coupled with SecureSessionManager
/src/messaging @yufengwangca @kghost @bzbarksy-apple
/src/transport/raw/MessageHeader.* @yufengwangca @kghost @bzbarksy-apple

# SecureSessionManager
# Manages per-session encryption keys and new session establishment
/src/transport/SecureSessionMgr.* @pan-apple

# Exchange management
# Joins requests and responses or ties a series of messages belonging to the 
# same protocol interaction
/src/messaging/ @yufengwangca @bzbarsky-apple
/src/channel/ @yufengwangca @bzbarsky-apple

# DNS-SD discovery and advertisement
# Advertise chip devices for commisioning, operational and discover such devices
/src/lib/mdns/ @andy31415 @gjc13 @damian-nordic

# Commisioning controller/flow
# Example of a comisioning sequence
/src/controller/ @pan-apple @erjiaqing

# Operational credentials management
# Signing certificates, maintaining roots of trust, validation, fabric management
/src/controller/ @shana-apple @pan-apple
/src/transport/AdminPairingTable.* @shana-apple @pan-apple

# TLV encoding/decoding to/from byte buffers
/src/lib/core/CHIPTLV* @yunhanw-google @bzbarsky-apple @shana-apple

# Interaction model - ember implementation
# ZCL protocol implementation: ZCL encoding to be sent over the wire as a 
# ZigbeePro protocol implementation
/src/app/util/ @vivien-apple @erjianqing @bzbarsky-apple

# Interaction model - non-ember
# Protocol implementation for IM interactions between nodes, matching spec
/src/app/ @yunhanw-google @bzbarsky-apple @mrjerryjohns

# Interaction model - code generation
# CHIP-specific infrastructure for generating code: helper js methods, scripts
# and code layout
/src/app/zap-templates/ @vivien-apple @erjianqing

# ZAP suppport
# UI for editing XML, generates code from such ZML and configuration files
# NOT part of CHIP however CHIP relies heavily on ZAP.
#    @vivien-apple  @tecimovic

# 'Standard' cluster implementations (server side)
# Clusters shipped with the sdk, can be integrated as-is or used as a template
/src/app/clusters/ @vivien-apple

# Onboarding payload
# Parsing and generation of codes (includes QR and NFC), numeric pairing payload
/src/setup_payload/ @shana-apple @vivien-apple @jrhees-cae

# Device Layer
# Porting interfaces, scaffolding for building an example firmware
/src/platform/ @mspang @yufengwangca
/src/include/platform/ @mspang @yufengwangca

# Persistent storage
# Save state across reboots
/src/platform/*/KeyValueStore* @rgoliver

# Python bindings for CHIP - CLI
# Allows python code to use CHIP, generally targeted towards automation
/src/controller/python/ @andy31415 @erjianqing

# CHIP-tool C++ CLI
# Command line interface to chip as a client (controller and commisioner)
# Includes generated code for every base cluster
/examples/chip-tool/ @vivien-apple

# CHIP-tool iOS UI
/src/darwin/CHIPTool/ @shana-apple

# CHIP-tool Android
/src/android/CHIPTool/ @austinh0
/src/controller/java/ @austinh0

# End2End autogenerated tests
/src/darwin/Framework/Chip-templates/ @vivien-apple
/src/app/tests/suites/ @vivien-apple

# End2End cirque tests
# Simulate topology (cirque) and ptyhon-based test automation
/src/test_driver/linux/cirque/ @erjianqing @yunhanw-google

# Thread integration
# Thread-specific functionality (network provisioning, operational discovery, SRP registration etc.)
/src/platform/OpenThread/ @bukepo
/src/platform/*/ThreadStackmanagerImpl.* @bukepo

# Inet
# Networking abstraction layer (UDP-endpoint, TCP-endpoint, InetLayerBasis)
/src/inet/ @kpschoedel 

# System layer
/src/system/ @kpschoedel 

# BLE support
/src/ble/ @yunhanw-google

# CHIP Shell
# Command-line UART/stdin interface as a side-channel to CHIP accessories
# Aimed as user-friendly/manual control
/src/examples/shell/ @gjc13 @yufengwangca

# RPC
# Side-channlel command path (outside chip), generally for automation and debugging
# Aimed as "scriptable" when compared to shell
/examples/common/pigweed/ @rgoliver
/examples/pigweed-app/ @rgoliver

# Tooling for crypto manual generation
# Generates data for sample PKI
/src/tools/chip-cert/ @emargolis

# Channel API
# Construct a transport/secure session based on peer info and transport type.
# Focused on CASE session establishment
/src/channel/ @kghost

# Darwin framework
# Exposes a darwin API (Objective-C/swift rather than raw C++ API) for darwin
# applications
/src/darwin/Framework/ @shana-apple @vivien-apple @pan-apple

all-clusters-app/esp32 remove custom mdns logic
  examples/all-clusters-app/esp32/main/DeviceCallbacks.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

[Tests] Add tests to TestCluster.yaml for unsupported attributes, long octet string and lists. (#7741)
  examples/all-clusters-app/all-clusters-common/all-clusters-app.zap
  examples/all-clusters-app/all-clusters-common/gen/endpoint_config.h
  examples/chip-tool/commands/clusters/Commands.h
  examples/chip-tool/commands/tests/Commands.h
  examples/chip-tool/templates/partials/test_cluster.zapt
  src/app/clusters/test-cluster-server/test-cluster-server.cpp
  src/app/common/gen/attribute-id.h
  src/app/tests/suites/TestCluster.yaml
  src/app/util/af-main-common.cpp
  src/app/util/af-main.h
  src/app/zap-templates/common/ClustersHelper.js
  src/app/zap-templates/templates/app/encoder-src.zapt
  src/app/zap-templates/templates/app/helper.js
  src/app/zap-templates/zcl/test-cluster.xml
  src/controller/data_model/controller-clusters.zap
  src/controller/data_model/gen/CHIPClusters.cpp
  src/controller/data_model/gen/CHIPClusters.h
  src/controller/data_model/gen/chip-zcl-zpro-codec-api.h
  src/controller/data_model/gen/encoder.cpp
  src/controller/python/chip/clusters/CHIPClusters.cpp
  src/controller/python/chip/clusters/CHIPClusters.py
  src/darwin/Framework/CHIP/gen/CHIPClustersObjc.h
  src/darwin/Framework/CHIP/gen/CHIPClustersObjc.mm
  src/darwin/Framework/CHIP/templates/clusters-tests.zapt
  src/darwin/Framework/CHIP/templates/partials/test_cluster.zapt
  src/darwin/Framework/CHIPTests/CHIPClustersTests.m
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @vivien-apple, @yunhanw-google, @bzbarsky-apple, @mrjerryjohns, @erjianqing, @shana-apple, @pan-apple, @andy31415

fix get wrong MAC on SoftAP mode
  src/platform/ESP32/ConfigurationManagerImpl.cpp
Owners: @mspang, @yufengwangca

Restyled by clang-format
  src/platform/ESP32/ConfigurationManagerImpl.cpp
Owners: @mspang, @yufengwangca

[nrfconnect] Fix Pigweed RPC server
  examples/lighting-app/nrfconnect/CMakeLists.txt
  examples/pigweed-app/nrfconnect/CMakeLists.txt
  examples/pigweed-app/nrfconnect/README.md
  examples/pigweed-app/nrfconnect/main/main.cpp
  examples/platform/nrfconnect/pw_sys_io/CMakeLists.txt
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @rgoliver

[python] Fix type cast of zclwrite
  src/controller/python/chip-device-ctrl.py
Owners: @andy31415, @erjianqing

[ci] Lift "Run Build" time limit to 20 minutes
  .github/workflows/build.yaml
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

update idf version to tag v4.3 and support esp32c3 for all-clusters-app
  config/esp32/components/chip/CMakeLists.txt
  config/esp32/components/chip/component.mk
  examples/all-clusters-app/esp32/CMakeLists.txt
  examples/all-clusters-app/esp32/README.md
  examples/all-clusters-app/esp32/main/CMakeLists.txt
  examples/all-clusters-app/esp32/main/Kconfig.projbuild
  examples/all-clusters-app/esp32/main/main.cpp
  examples/lock-app/esp32/CMakeLists.txt
  examples/lock-app/esp32/README.md
  examples/persistent-storage/esp32/CMakeLists.txt
  examples/persistent-storage/esp32/README.md
  examples/pigweed-app/esp32/CMakeLists.txt
  examples/pigweed-app/esp32/README.md
  examples/shell/esp32/main/CMakeLists.txt
  examples/temperature-measurement-app/esp32/CMakeLists.txt
  examples/temperature-measurement-app/esp32/README.md
  integrations/docker/images/chip-build-esp32/Dockerfile
  scripts/constraints.txt
  scripts/requirements.esp32.txt
  src/lib/core/CHIPTLV.h
  src/lib/core/CHIPTLVWriter.cpp
  src/platform/ESP32/PlatformManagerImpl.cpp
  src/platform/ESP32/nimble/BLEManagerImpl.cpp
  src/test_driver/esp32/README.md
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @rgoliver, @yunhanw-google, @bzbarsky-apple, @shana-apple, @mspang, @yufengwangca

Restyled by clang-format
  src/lib/core/CHIPTLVWriter.cpp
Owners: @yunhanw-google, @bzbarsky-apple, @shana-apple

* Enabled the FLOW_MEASUREMENT_CLUSTER in the controller-clusters.zap file
  src/controller/data_model/controller-clusters.zap
Owners: @shana-apple, @pan-apple

* Added the FLOW_MEASUREMENT_CLUSTER to both server and client cluster lists in zap_cluster_list.zap
  src/app/zap_cluster_list.py
Owners: @yunhanw-google, @bzbarsky-apple, @mrjerryjohns

* Re-generated using zap_regen_all.py
  examples/chip-tool/commands/clusters/Commands.h
  src/controller/data_model/gen/CHIPClusters.cpp
  src/controller/data_model/gen/CHIPClusters.h
  src/controller/data_model/gen/callback-stub.cpp
  src/controller/data_model/gen/callback.h
  src/controller/data_model/gen/chip-zcl-zpro-codec-api.h
  src/controller/data_model/gen/encoder.cpp
  src/controller/data_model/gen/endpoint_config.h
  src/controller/data_model/gen/gen_config.h
  src/controller/python/chip/clusters/CHIPClusters.cpp
  src/controller/python/chip/clusters/CHIPClusters.py
  src/darwin/Framework/CHIP/gen/CHIPClustersObjc.h
  src/darwin/Framework/CHIP/gen/CHIPClustersObjc.mm
  src/darwin/Framework/CHIPTests/CHIPClustersTests.m
Owners: @vivien-apple, @shana-apple, @pan-apple, @andy31415, @erjianqing

Fix
  .github/workflows/build.yaml
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Remove lwIP from src/inet deps in socket builds
  src/inet/BUILD.gn
  src/inet/RawEndPoint.cpp
  src/inet/UDPEndPoint.cpp
Owners: @kpschoedel

Restyled by clang-format
  src/inet/RawEndPoint.cpp
  src/inet/UDPEndPoint.cpp
Owners: @kpschoedel

Fix
  .github/workflows/build.yaml
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

[Darwin] Fix hangs in CHIPDeviceController when it is already shutdown (#7699)
  src/darwin/Framework/CHIP.xcodeproj/project.pbxproj
  src/darwin/Framework/CHIP/CHIPDeviceController.mm
  src/darwin/Framework/CHIPTests/CHIPControllerTests.m
Owners: @shana-apple, @vivien-apple, @pan-apple

PoC: Python binding using C-api
  BUILD.gn
  bindings/python/BUILD.gn
  bindings/python/CommissionerInitParams.cpp
  bindings/python/CommissionerInitParams.h
  bindings/python/Converter.cpp
  bindings/python/Converter.h
  bindings/python/DeviceCommissioner.cpp
  bindings/python/DeviceCommissioner.h
  bindings/python/Module.cpp
  bindings/python/PersistentStorage.cpp
  bindings/python/PersistentStorage.h
  bindings/python/PythonGil.h
  bindings/python/RendezvousParameters.cpp
  bindings/python/RendezvousParameters.h
  bindings/python/TransportType.cpp
  bindings/python/TransportType.h
Owners: @mspang, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Restyled by clang-format
  bindings/python/CommissionerInitParams.cpp
  bindings/python/CommissionerInitParams.h
  bindings/python/Converter.cpp
  bindings/python/DeviceCommissioner.cpp
  bindings/python/DeviceCommissioner.h
  bindings/python/Module.cpp
  bindings/python/PersistentStorage.cpp
  bindings/python/PersistentStorage.h
  bindings/python/PythonGil.h
  bindings/python/RendezvousParameters.cpp
  bindings/python/RendezvousParameters.h
  bindings/python/TransportType.cpp
  bindings/python/TransportType.h
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Restyled by gn
  bindings/python/BUILD.gn
Owners: @mspang

Clean up lwIP build file
  BUILD.gn
  src/lwip/BUILD.gn
  src/platform/EFR32/args.gni
  src/platform/K32W/args.gni
  src/platform/cc13x2_26x2/args.gni
  src/platform/qpg6100/args.gni
  third_party/lwip/lwip.gni
Owners: @mspang, @yufengwangca, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Enable CHIPOBLE_SINGLE_CONNECTION in ESP32
  config/esp32/components/chip/Kconfig
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Remove lwIP from src/inet deps in socket builds
  src/inet/BUILD.gn
  src/inet/RawEndPoint.cpp
  src/inet/UDPEndPoint.cpp
Owners: @kpschoedel

Restyled by clang-format
  src/lib/mdns/Advertiser_ImplMinimalMdns.cpp
Owners: @andy31415, @gjc13, @damian-nordic

[python] Fix type cast of zclwrite (#7780)
  src/controller/python/chip-device-ctrl.py
Owners: @andy31415, @erjianqing

Generate ZCL code for Android (#7439)
  scripts/tools/zap_regen_all.py
  src/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/clusterclient/OnOffClientFragment.kt
  src/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/provisioning/DeviceProvisioningFragment.kt
  src/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/provisioning/EnterNetworkFragment.kt
  src/controller/java/AndroidDeviceControllerWrapper.cpp
  src/controller/java/AndroidDeviceControllerWrapper.h
  src/controller/java/AndroidKeyValueStoreManagerImpl.cpp
  src/controller/java/BUILD.gn
  src/controller/java/CHIPDeviceController-JNI.cpp
  src/controller/java/JniReferences.cpp
  src/controller/java/JniReferences.h
  src/controller/java/StackLock.h
  src/controller/java/gen/CHIPClusters-JNI.cpp
  src/controller/java/gen/ChipClusters.java
  src/controller/java/src/chip/devicecontroller/ChipClusterException.java
  src/controller/java/src/chip/devicecontroller/ChipDeviceController.java
  src/controller/java/templates/CHIPClusters-JNI.zapt
  src/controller/java/templates/ChipClusters-java.zapt
  src/controller/java/templates/helper.js
  src/controller/java/templates/templates.json
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @austinh0

[ci] Lift "Run Build" time limit to 20 minutes (#7781)
  .github/workflows/build.yaml
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Fix chip-tool crash in case of commissioning ethernet device. Need to figure out what SetupNetwork() should do in case of Ethernet, for now do nothing (#7753)
  examples/chip-tool/commands/pairing/PairingCommand.cpp
Owners: @vivien-apple

[nrfconnect] Fix Pigweed RPC server (#7779)
  examples/lighting-app/nrfconnect/CMakeLists.txt
  examples/pigweed-app/nrfconnect/CMakeLists.txt
  examples/pigweed-app/nrfconnect/README.md
  examples/pigweed-app/nrfconnect/main/main.cpp
  examples/platform/nrfconnect/pw_sys_io/CMakeLists.txt
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @rgoliver

Clean up lwIP build file (#7790)
  BUILD.gn
  src/lwip/BUILD.gn
  src/platform/EFR32/args.gni
  src/platform/K32W/args.gni
  src/platform/cc13x2_26x2/args.gni
  src/platform/qpg6100/args.gni
  third_party/lwip/lwip.gni
Owners: @mspang, @yufengwangca, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Remove lwIP from src/inet deps in socket builds (#7785)
  src/inet/BUILD.gn
  src/inet/RawEndPoint.cpp
  src/inet/UDPEndPoint.cpp
Owners: @kpschoedel

Script for setting up linux namespaces (#7256)
  scripts/tools/linux_ip_namespace_setup.sh
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Regenerate all
  src/controller/java/gen/CHIPClusters-JNI.cpp
  src/controller/java/gen/ChipClusters.java
Owners: @austinh0

Regenerate all (#7796)
  src/controller/java/gen/CHIPClusters-JNI.cpp
  src/controller/java/gen/ChipClusters.java
Owners: @austinh0

Enable CHIPOBLE_SINGLE_CONNECTION in ESP32 (#7793)
  config/esp32/components/chip/Kconfig
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Adding 3k to heap to counter some fragmentation issues (#7727)
  examples/lighting-app/efr32/BUILD.gn
  examples/lock-app/efr32/BUILD.gn
  examples/pigweed-app/efr32/BUILD.gn
  examples/shell/efr32/BUILD.gn
Owners: @mspang, @rgoliver

esp32 lock-app mdns server start at connectivity change (#7723)
  examples/lock-app/esp32/main/DeviceCallbacks.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

[cc26x2x7] Implement Key Value Store (#7472)
  examples/persistent-storage/KeyValueStorageTest.cpp
  examples/persistent-storage/cc13x2x7_26x2x7/.gn
  examples/persistent-storage/cc13x2x7_26x2x7/BUILD.gn
  examples/persistent-storage/cc13x2x7_26x2x7/README.md
  examples/persistent-storage/cc13x2x7_26x2x7/args.gni
  examples/persistent-storage/cc13x2x7_26x2x7/build_overrides
  examples/persistent-storage/cc13x2x7_26x2x7/chip.syscfg
  examples/persistent-storage/cc13x2x7_26x2x7/include/AppConfig.h
  examples/persistent-storage/cc13x2x7_26x2x7/include/CHIPProjectConfig.h
  examples/persistent-storage/cc13x2x7_26x2x7/include/OpenThreadConfig.h
  examples/persistent-storage/cc13x2x7_26x2x7/main.cpp
  examples/persistent-storage/cc13x2x7_26x2x7/third_party/connectedhomeip
  src/platform/cc13x2_26x2/CC13X2_26X2Config.cpp
  src/platform/cc13x2_26x2/CC13X2_26X2Config.h
  src/platform/cc13x2_26x2/KeyValueStoreManagerImpl.cpp
  src/platform/cc13x2_26x2/KeyValueStoreManagerImpl.h
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @mspang, @yufengwangca, @rgoliver

Make the Python controller listen on CHIP_PORT + 1 like all our other controllers.
  src/controller/python/ChipDeviceController-ScriptBinding.cpp
Owners: @andy31415, @erjianqing

Review feedback
  src/controller/CHIPDevice.h
  src/controller/java/AndroidDeviceControllerWrapper.cpp
  src/controller/java/JniReferences.cpp
Owners: @shana-apple, @pan-apple, @austinh0
