Repository project-chip/connectedhomeip, changes with the owners that .github/CODEOWNERS names for each.
All owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @mspang, @pan-apple, @emargolis, @andy31415, @yufengwangca, @kghost, @bzbarksy-apple, @bzbarsky-apple, @gjc13, @damian-nordic, @erjiaqing, @shana-apple, @yunhanw-google, @vivien-apple, @erjianqing, @mrjerryjohns, @jrhees-cae, @rgoliver, @austinh0, @bukepo, @kpschoedel

.github/CODEOWNERS:

# Current reviewers-XXX teams, who review everything for approval.
* @reviewers-amazon @reviewers-apple @reviewers-comcast @reviewers-google @reviewers-nordic @reviewers-samsung @reviewers-silabs


# BUILD system

*.gn @mspang
/build/ @mspang
/scripts/build/ @mspang

# Crypto
# Crypto primitives and high level API, generally on top of mbedtls and openssl
/src/crypto/* @pan-apple @emargolis
/src/credentials/ @pan-apple @emargolis

# Transport
# Send and receive data abstracting away the underlying protocol (UDP, TCP, BLE)
/src/transport/ @andy31415 @pan-apple

# Session establishment
# Establish a secure session (encryption keys) from one node to another.
# Includes CASE and PASE + session tracking and resumptioon
/src/protocols/secure_channel/ @pan-apple

# Message Layer
# CRMP and packet headers, generally coupled with SecureSessionManager
/src/messaging @yufengwangca @kghost @bzbarksy-apple
/src/transport/raw/MessageHeader.* @yufengwangca @kghost @bzbarksy-apple

# SecureSessionManager
# Manages per-session encryption keys and new session establishment
/src/transport/SecureSessionMgr.* @pan-apple

# Exchange management
# Joins requests and responses or ties a series of messages belonging to the 
# same protocol interaction
/src/messaging/ @yufengwangca @bzbarsky-apple
/src/channel/ @yufengwangca @bzbarsky-apple

# DNS-SD discovery and advertisement
# Advertise chip devices for commisioning, operational and discover such devices
/src/lib/mdns/ @andy31415 @gjc13 @damian-nordic

# Commisioning controller/flow
# Example of a comisioning sequence
/src/controller/ @pan-apple @erjiaqing

# Operational credentials management
# Signing certificates, maintaining roots of trust, validation, fabric management
/src/controller/ @shana-apple @pan-apple
/src/transport/AdminPairingTable.* @shana-apple @pan-apple

# TLV encoding/decoding to/from byte buffers
/src/lib/core/CHIPTLV* @yunhanw-google @bzbarsky-apple @shana-apple

# Interaction model - ember implementation
# ZCL protocol implementation: ZCL encoding to be sent over the wire as a 
# ZigbeePro protocol implementation
/src/app/util/ @vivien-apple @erjianqing @bzbarsky-apple

# Interaction model - non-ember
# Protocol implementation for IM interactions between nodes, matching spec
/src/app/ @yunhanw-google @bzbarsky-apple @mrjerryjohns

# Interaction model - code generation
# CHIP-specific infrastructure for generating code: helper js methods, scripts
# and code layout
/src/app/zap-templates/ @vivien-apple @erjianqing

# ZAP suppport
# UI for editing XML, generates code from such ZML and configuration files
# NOT part of CHIP however CHIP relies heavily on ZAP.
#    @vivien-apple  @tecimovic

# 'Standard' cluster implementations (server side)
# Clusters shipped with the sdk, can be integrated as-is or used as a template
/src/app/clusters/ @vivien-apple

# Onboarding payload
# Parsing and generation of codes (includes QR and NFC), numeric pairing payload
/src/setup_payload/ @shana-apple @vivien-apple @jrhees-cae

# Device Layer
# Porting interfaces, scaffolding for building an example firmware
/src/platform/ @mspang @yufengwangca
/src/include/platform/ @mspang @yufengwangca

# Persistent storage
# Save state across reboots
/src/platform/*/KeyValueStore* @rgoliver

# Python bindings for CHIP - CLI
# Allows python code to use CHIP, generally targeted towards automation
/src/controller/python/ @andy31415 @erjianqing

# CHIP-tool C++ CLI
# Command line interface to chip as a client (controller and commisioner)
# Includes generated code for every base cluster
/examples/chip-tool/ @vivien-apple

# CHIP-tool iOS UI
/src/darwin/CHIPTool/ @shana-apple

# CHIP-tool Android
/src/android/CHIPTool/ @austinh0
/src/controller/java/ @austinh0

# End2End autogenerated tests
/src/darwin/Framework/Chip-templates/ @vivien-apple
/src/app/tests/suites/ @vivien-apple

# End2End cirque tests
# Simulate topology (cirque) and ptyhon-based test automation
/src/test_driver/linux/cirque/ @erjianqing @yunhanw-google

# Thread integration
# Thread-specific functionality (network provisioning, operational discovery, SRP registration etc.)
/src/platform/OpenThread/ @bukepo
/src/platform/*/ThreadStackmanagerImpl.* @bukepo

# Inet
# Networking abstraction layer (UDP-endpoint, TCP-endpoint, InetLayerBasis)
/src/inet/ @kpschoedel 

# System layer
/src/system/ @kpschoedel 

# BLE support
/src/ble/ @yunhanw-google

# CHIP Shell
# Command-line UART/stdin interface as a side-channel to CHIP accessories
# Aimed as user-friendly/manual control
/src/examples/shell/ @gjc13 @yufengwangca

# RPC
# Side-channlel command path (outside chip), generally for automation and debugging
# Aimed as "scriptable" when compared to shell
/examples/common/pigweed/ @rgoliver
/examples/pigweed-app/ @rgoliver

# Tooling for crypto manual generation
# Generates data for sample PKI
/src/tools/chip-cert/ @emargolis

# Channel API
# Construct a transport/secure session based on peer info and transport type.
# Focused on CASE session establishment
/src/channel/ @kghost

# Darwin framework
# Exposes a darwin API (Objective-C/swift rather than raw C++ API) for darwin
# applications
/src/darwin/Framework/ @shana-apple @vivien-apple @pan-apple

Add VSCode task to build Mbed OS examples
  .vscode/tasks.json
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Force InterfaceAddressIterator::GetPrefixLength() to 64 on Mbed OS.
  src/inet/InetInterface.cpp
Owners: @kpschoedel

Integrate Mbed OS into chip build system
  src/crypto/crypto.gni
  src/lib/core/core.gni
  src/lwip/BUILD.gn
  src/lwip/lwip.gni
  src/platform/BUILD.gn
  src/platform/device.gni
  src/system/BUILD.gn
  src/system/SystemConfig.h
  src/system/system.gni
Owners: @pan-apple, @emargolis, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @mspang, @yufengwangca, @kpschoedel

Add workflow to build Mbed OS examples
  .github/workflows/examples-mbed.yaml
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Disable Mdns operations in WatchableEventManagerfor mbed os
  src/system/WatchableSocketSelect.cpp
Owners: @kpschoedel

Update test cases to use SetOperationalCertsFromCertArray name change
  src/protocols/secure_channel/tests/TestCASESession.cpp
Owners: @pan-apple

new attributes
  src/app/zap-templates/zcl/data-model/chip/operational-credentials-cluster.xml
Owners: @vivien-apple, @erjianqing

regen code
  src/app/common/gen/attribute-id.h
  src/controller/data_model/gen/CHIPClusters.cpp
Owners: @yunhanw-google, @bzbarsky-apple, @mrjerryjohns, @shana-apple, @pan-apple

Address PR comments
  src/app/server/Server.cpp
  src/lib/mdns/Resolver_ImplMinimalMdns.cpp
Owners: @yunhanw-google, @bzbarsky-apple, @mrjerryjohns, @andy31415, @gjc13, @damian-nordic

Add commissionedFabrics and supportedFabrics attribute to opCreds .xml and add number of commissionedFabirics whenever we write to fabrics list
  src/app/clusters/operational-credentials-server/operational-credentials-server.cpp
Owners: @vivien-apple

Restyled by whitespace
  src/app/clusters/operational-credentials-server/operational-credentials-server.cpp
Owners: @vivien-apple

Restyled by clang-format
  src/app/clusters/operational-credentials-server/operational-credentials-server.cpp
  src/controller/data_model/gen/CHIPClusters.cpp
Owners: @vivien-apple, @shana-apple, @pan-apple

Expose CSR Nonce to Android/iOS layer (#7987)
  src/controller/java/CHIPDeviceController-JNI.cpp
  src/controller/java/JniTypeWrappers.h
  src/controller/java/src/chip/devicecontroller/ChipDeviceController.java
  src/darwin/CHIPTool/CHIPTool/View Controllers/QRCode/QRCodeViewController.m
  src/darwin/Framework/CHIP/CHIPDeviceController.h
  src/darwin/Framework/CHIP/CHIPDeviceController.mm
Owners: @austinh0, @shana-apple, @vivien-apple, @pan-apple

WindowCovering: Update cluster definition for Controllers (#7955)
  examples/all-clusters-app/all-clusters-common/all-clusters-app.zap
  examples/all-clusters-app/all-clusters-common/gen/endpoint_config.h
  examples/chip-tool/commands/clusters/Commands.h
  examples/chip-tool/commands/reporting/Commands.h
  src/controller/data_model/controller-clusters.zap
  src/controller/data_model/gen/CHIPClusters.cpp
  src/controller/data_model/gen/CHIPClusters.h
  src/controller/data_model/gen/chip-zcl-zpro-codec-api.h
  src/controller/data_model/gen/encoder.cpp
  src/controller/python/chip/clusters/CHIPClusters.cpp
  src/controller/python/chip/clusters/CHIPClusters.py
  src/darwin/Framework/CHIP/gen/CHIPClustersObjc.h
  src/darwin/Framework/CHIP/gen/CHIPClustersObjc.mm
  src/darwin/Framework/CHIPTests/CHIPClustersTests.m
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @vivien-apple, @shana-apple, @pan-apple, @andy31415, @erjianqing

[Cirque] Use session instead of screen to start flask (#7932)
  scripts/tests/cirque_tests.sh
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Re-enable MRP for reads. (#7991)
  src/app/ReadClient.cpp
  src/app/WriteClient.cpp
Owners: @yunhanw-google, @bzbarsky-apple, @mrjerryjohns

Adding python bindings and platform implementation for Commissioner discovery (#7900)
  src/controller/python/BUILD.gn
  src/controller/python/ChipCommissionableNodeController-ScriptBinding.cpp
  src/controller/python/ChipDeviceController-ScriptBinding.cpp
  src/controller/python/chip-device-ctrl.py
  src/controller/python/chip/ChipCommissionableNodeCtrl.py
  src/lib/mdns/Discovery_ImplPlatform.cpp
  src/lib/mdns/Discovery_ImplPlatform.h
  src/lib/mdns/Resolver.h
  src/lib/mdns/Resolver_ImplMinimalMdns.cpp
  src/lib/mdns/ServiceNaming.cpp
  src/lib/mdns/ServiceNaming.h
  src/lib/mdns/tests/TestServiceNaming.cpp
Owners: @andy31415, @erjianqing, @gjc13, @damian-nordic

Typo/Comments Cleanup for IM writeClient and writeHandler
  src/app/InteractionModelDelegate.h
  src/app/InteractionModelEngine.h
  src/app/WriteClient.cpp
  src/app/WriteClient.h
  src/app/WriteHandler.cpp
  src/app/WriteHandler.h
Owners: @yunhanw-google, @bzbarsky-apple, @mrjerryjohns

Restyled by clang-format
  src/app/WriteClient.h
Owners: @yunhanw-google, @bzbarsky-apple, @mrjerryjohns

Fix crash when doing onnetwork pairing with chip-device-ctrl.
  src/controller/CHIPDeviceController.cpp
Owners: @shana-apple, @pan-apple

Changed GetCredentials method to initialize a single-entry OperationalCredentialSet
  src/controller/ExampleOperationalCredentialsIssuer.cpp
  src/controller/ExampleOperationalCredentialsIssuer.h
  src/transport/AdminPairingTable.cpp
Owners: @shana-apple, @pan-apple

Update Darwin framework to use GetConnectedDevice
  src/darwin/CHIPTool/CHIPTool/Framework Helpers/DefaultsUtils.h
  src/darwin/CHIPTool/CHIPTool/Framework Helpers/DefaultsUtils.m
  src/darwin/CHIPTool/CHIPTool/View Controllers/Bindings/BindingsViewController.m
  src/darwin/CHIPTool/CHIPTool/View Controllers/DeviceSelector.m
  src/darwin/CHIPTool/CHIPTool/View Controllers/Echo client/EchoViewController.m
  src/darwin/CHIPTool/CHIPTool/View Controllers/Fabric/FabricUIViewController.m
  src/darwin/CHIPTool/CHIPTool/View Controllers/MultiAdmin/MultiAdminViewController.m
  src/darwin/CHIPTool/CHIPTool/View Controllers/OnOffCluster/OnOffViewController.m
  src/darwin/CHIPTool/CHIPTool/View Controllers/QRCode/QRCodeViewController.m
  src/darwin/CHIPTool/CHIPTool/View Controllers/Temperature Sensor/TemperatureSensorViewController.m
  src/darwin/Framework/CHIP.xcodeproj/project.pbxproj
  src/darwin/Framework/CHIP/CHIPDeviceConnectionBridge.h
  src/darwin/Framework/CHIP/CHIPDeviceConnectionBridge.mm
  src/darwin/Framework/CHIP/CHIPDeviceController.h
  src/darwin/Framework/CHIP/CHIPDeviceController.mm
  src/darwin/Framework/CHIPTests/CHIPControllerTests.m
Owners: @shana-apple, @vivien-apple, @pan-apple

[controller] Enable flow cluster in controller apps (#7783)
  examples/chip-tool/commands/clusters/Commands.h
  src/controller/data_model/controller-clusters.zap
  src/controller/data_model/gen/CHIPClusters.cpp
  src/controller/data_model/gen/CHIPClusters.h
  src/controller/data_model/gen/callback-stub.cpp
  src/controller/data_model/gen/callback.h
  src/controller/data_model/gen/chip-zcl-zpro-codec-api.h
  src/controller/data_model/gen/encoder.cpp
  src/controller/data_model/gen/endpoint_config.h
  src/controller/data_model/gen/gen_config.h
  src/controller/java/gen/CHIPClusters-JNI.cpp
  src/controller/java/gen/ChipClusters.java
  src/controller/python/chip/clusters/CHIPClusters.cpp
  src/controller/python/chip/clusters/CHIPClusters.py
  src/darwin/Framework/CHIP/gen/CHIPClustersObjc.h
  src/darwin/Framework/CHIP/gen/CHIPClustersObjc.mm
  src/darwin/Framework/CHIPTests/CHIPClustersTests.m
Owners: @vivien-apple, @shana-apple, @pan-apple, @austinh0, @andy31415, @erjianqing

Updating tsan timeouts
  .github/workflows/tests.yaml
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

Fix tests - they were not testing right.
  src/lib/mdns/minimal/tests/TestResponseSender.cpp
Owners: @andy31415, @gjc13, @damian-nordic

IPV6-only test app for esp32 (examples/ipv6only-app)
  examples/ipv6only-app/common/gdm_wifi_base_rpc.options
  examples/ipv6only-app/common/gdm_wifi_base_rpc.proto
  examples/ipv6only-app/esp32/.gitignore
  examples/ipv6only-app/esp32/CMakeLists.txt
  examples/ipv6only-app/esp32/README.md
  examples/ipv6only-app/esp32/include/gdm_wifi_service.h
  examples/ipv6only-app/esp32/main/CMakeLists.txt
  examples/ipv6only-app/esp32/main/Kconfig.projbuild
  examples/ipv6only-app/esp32/main/gdm_wifi_service.cpp
  examples/ipv6only-app/esp32/main/main.cpp
  examples/ipv6only-app/esp32/partitions.csv
  examples/ipv6only-app/esp32/sdkconfig.defaults
  examples/ipv6only-app/esp32/third_party/connectedhomeip
  examples/lock-app/esp32/main/Rpc.cpp
  examples/pigweed-app/esp32/main/main.cpp
  examples/platform/esp32/PigweedLogger.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @rgoliver

Restyled by clang-format
  src/lib/mdns/minimal/tests/TestResponseSender.cpp
Owners: @andy31415, @gjc13, @damian-nordic

Add -Wformat-type-confusion to catch a wider range of format string errors. (#7993)
  build/config/compiler/BUILD.gn
  third_party/lwip/lwip.gni
Owners: @mspang, @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

ESP32: Add support for flashing using .flash.py (#7947)
  examples/all-clusters-app/esp32/CMakeLists.txt
  examples/all-clusters-app/esp32/README.md
  examples/persistent-storage/esp32/CMakeLists.txt
  examples/persistent-storage/esp32/README.md
  examples/pigweed-app/esp32/CMakeLists.txt
  examples/pigweed-app/esp32/README.md
  examples/temperature-measurement-app/esp32/CMakeLists.txt
  examples/temperature-measurement-app/esp32/README.md
  scripts/flashing/esp32_firmware_utils.py
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @rgoliver

fix for Mbed merge
  src/platform/mbed/CHIPPlatformConfig.h
Owners: @mspang, @yufengwangca

Restyled by clang-format
  src/lib/mdns/minimal/tests/TestResponseSender.cpp
Owners: @andy31415, @gjc13, @damian-nordic

Fix crash when doing onnetwork pairing with chip-device-ctrl. (#8009)
  src/controller/CHIPDeviceController.cpp
Owners: @shana-apple, @pan-apple

Increase the number of read/write client/handler to 4 (#7967)
  src/app/InteractionModelEngine.h
Owners: @yunhanw-google, @bzbarsky-apple, @mrjerryjohns

update cirque docker image (#7938)
  integrations/docker/ci-only-images/chip-cirque-device-base/Dockerfile
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs

ICA certificates in Credential Issuer (#7769)
  examples/all-clusters-app/all-clusters-common/gen/IMClusterCommandHandler.cpp
  examples/all-clusters-app/all-clusters-common/gen/callback.h
  examples/bridge-app/bridge-common/gen/IMClusterCommandHandler.cpp
  examples/bridge-app/bridge-common/gen/callback.h
  examples/chip-tool/commands/clusters/Commands.h
  examples/lighting-app/lighting-common/gen/IMClusterCommandHandler.cpp
  examples/lighting-app/lighting-common/gen/callback.h
  examples/lock-app/lock-common/gen/IMClusterCommandHandler.cpp
  examples/lock-app/lock-common/gen/callback.h
  examples/pump-app/pump-common/gen/IMClusterCommandHandler.cpp
  examples/pump-app/pump-common/gen/callback.h
  examples/pump-controller-app/pump-controller-common/gen/IMClusterCommandHandler.cpp
  examples/pump-controller-app/pump-controller-common/gen/callback.h
  examples/temperature-measurement-app/esp32/main/gen/IMClusterCommandHandler.cpp
  examples/temperature-measurement-app/esp32/main/gen/callback.h
  examples/tv-app/tv-common/gen/IMClusterCommandHandler.cpp
  examples/tv-app/tv-common/gen/callback.h
  examples/window-app/common/gen/IMClusterCommandHandler.cpp
  examples/window-app/common/gen/callback.h
  src/app/clusters/operational-credentials-server/operational-credentials-server.cpp
  src/app/common/gen/client-command-macro.h
  src/app/zap-templates/zcl/data-model/chip/operational-credentials-cluster.xml
  src/controller/CHIPDeviceController.cpp
  src/controller/ExampleOperationalCredentialsIssuer.cpp
  src/controller/ExampleOperationalCredentialsIssuer.h
  src/controller/data_model/gen/CHIPClusters.cpp
  src/controller/data_model/gen/CHIPClusters.h
  src/controller/java/gen/CHIPClusters-JNI.cpp
  src/controller/java/gen/ChipClusters.java
  src/controller/python/chip/clusters/CHIPClusters.cpp
  src/controller/python/chip/clusters/CHIPClusters.py
  src/credentials/CHIPCert.cpp
  src/credentials/CHIPCert.h
  src/credentials/CHIPCertFromX509.cpp
  src/credentials/tests/TestChipCert.cpp
  src/darwin/Framework/CHIP/gen/CHIPClustersObjc.h
  src/darwin/Framework/CHIP/gen/CHIPClustersObjc.mm
  src/protocols/secure_channel/tests/TestCASESession.cpp
  src/transport/AdminPairingTable.cpp
  src/transport/AdminPairingTable.h
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @vivien-apple, @yunhanw-google, @bzbarsky-apple, @mrjerryjohns, @erjianqing, @shana-apple, @pan-apple, @austinh0, @andy31415, @emargolis

Mdns: _chip* i-> _matter*, remove 0's on subtypes
  examples/lighting-app/efr32/src/AppTask.cpp
  examples/lock-app/efr32/src/AppTask.cpp
  examples/minimal-mdns/README.md
  examples/minimal-mdns/server.cpp
  examples/window-app/efr32/src/AppTask.cpp
  src/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/clusterclient/OnOffClientFragment.kt
  src/darwin/CHIPTool/CHIPTool/Info.plist
  src/lib/mdns/Advertiser_ImplMinimalMdns.cpp
  src/lib/mdns/ServiceNaming.cpp
  src/lib/mdns/ServiceNaming.h
  src/lib/mdns/platform/Mdns.h
  src/lib/mdns/tests/TestServiceNaming.cpp
Owners: @reviewers-amazon, @reviewers-apple, @reviewers-comcast, @reviewers-google, @reviewers-nordic, @reviewers-samsung, @reviewers-silabs, @austinh0, @shana-apple, @andy31415, @gjc13, @damian-nordic

Darwin - use local kLocalDomain var.
  src/platform/Darwin/MdnsImpl.cpp
Owners: @mspang, @yufengwangca

Trying again for Darwin.
  src/platform/Darwin/MdnsImpl.cpp
Owners: @mspang, @yufengwangca

Fix host name.
  src/lib/mdns/ServiceNaming.cpp
  src/lib/mdns/platform/Mdns.h
  src/lib/mdns/tests/TestServiceNaming.cpp
Owners: @andy31415, @gjc13, @damian-nordic

Don't treat a resolve as done in chip-device-ctrl until we have a CASE connection.
  src/controller/python/ChipDeviceController-ScriptBinding.cpp
  src/controller/python/ChipDeviceController-ScriptDevicePairingDelegate.cpp
  src/controller/python/ChipDeviceController-ScriptDevicePairingDelegate.h
  src/controller/python/chip/ChipDeviceCtrl.py
Owners: @andy31415, @erjianqing
