Repository project-chip/connectedhomeip, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, examples, documentation, scripts, integrations, vscode, gn, github, workflows, tools, tests, test driver, qr code, lwip, inet, config, lib, core, protocols, shell, support, crypto, controller, ble, app, transport, system, setup payload, platform, darwin, efr32, esp32, freeRTOS, k32w, linux, nrf connect, openthread, zephyr, telink, tizen

.github/labeler.yml:

# Copyright (c) 2020 Project CHIP Authors
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
# http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

############################################################
#  Top Level Labels
############################################################
repo:
    - ./*

############################################################
#  Examples
############################################################
examples:
    - examples/*
    - examples/**/*

############################################################
#  Documentation
############################################################
documentation:
    - docs/*
    - docs/**/*
    - "*.md"

############################################################
#  Tools + Development Items
############################################################
scripts:
    - scripts/*
    - scripts/**/*

integrations:
    - integrations/*
    - integrations/**/*

vscode:
    - .vscode/*
    - .vscode/**/*
    - .devcontainer/*
    - .devcontainer/**/*

gn:
    - build/*
    - build/**/*
    - build_overrides/*
    - build_overrides/**/*
    - .gn
    - "*.gn"
    - "*.gni"

github:
    - .github
    - .github/*
    - .github/**/*

workflows:
    - .github/workflows/*
    - .github/workflows/**/*

tools:
    - src/tools/*
    - src/tools/**/*
    - tools/*
    - tools/**/*
    - examples/chip-tool/*
    - examples/chip-tool/**/*

############################################################
#  Tests
############################################################
tests:
    - src/app/tests/*
    - src/app/tests/**/*

test driver:
    - src/test_driver/*
    - src/test_driver/**/*

############################################################
#  Source Code
############################################################
qr code:
    - src/qrcode/*
    - src/qrcode/**/*
    - src/qrcodetool/*
    - src/qrcodetool/**/*

lwip:
    - src/lwip/*
    - src/lwip/**/*

inet:
    - src/inet/*
    - src/inet/**/*

config:
    - config/*
    - config/**/*

lib:
    - src/lib/*
    - src/lib/**/*

core:
    - src/lib/core/*
    - src/lib/core/**/*

protocols:
    - src/lib/protocols/*
    - src/lib/protocols/**/*

shell:
    - src/lib/shell/*
    - src/lib/shell/**/*

support:
    - src/lib/support/*
    - src/lib/support/**/*

crypto:
    - src/crypto/*
    - src/crypto/**/*

controller:
    - src/controller/*
    - src/controller/**/*

ble:
    - src/ble/*
    - src/ble/**/*

app:
    - src/app/*
    - src/app/**/*

transport:
    - src/transport/*
    - src/transport/**/*

system:
    - src/system/*
    - src/system/**/*

setup payload:
    - src/setup_payload/*
    - src/setup_payload/**/*

############################################################
#  Platforms
############################################################
platform:
    - src/platform/*
    - src/platform/**/*
    - config/tizen/chip-gn/platform/*
    - config/tizen/chip-gn/platform/**/*
    - examples/platform/*
    - examples/platform/**/*
    - scripts/tools/memory/platform/*
    - scripts/tools/memory/platform/**/*
    - src/include/platform/*
    - src/include/platform/**/*
    - src/lib/dnssd/platform/*
    - src/lib/dnssd/platform/**/*

darwin:
    - src/platform/Darwin/*
    - src/platform/Darwin/**/*
    - src/darwin/*
    - src/darwin/**/*
    - examples/darwin-framework-tool/*
    - examples/darwin-framework-tool/**/*

efr32:
    - src/platform/EFR32/*
    - src/platform/EFR32/**/*

esp32:
    - src/platform/ESP32/*
    - src/platform/ESP32/**/*

freeRTOS:
    - src/platform/FreeRTOS/*
    - src/platform/FreeRTOS/**/*

k32w:
    - src/platform/K32W/*
    - src/platform/K32W/**/*

linux:
    - src/platform/Linux/*
    - src/platform/Linux/**/*

nrf connect:
    - src/platform/nrfconnect/*
    - src/platform/nrfconnect/**/*

openthread:
    - src/platform/openthread/*
    - src/platform/openthread/**/*

zephyr:
    - src/platform/Zephyr/*
    - src/platform/Zephyr/**/*

telink:
    - src/platform/telink/*
    - src/platform/telink/**/*

tizen:
    - src/platform/Tizen/*
    - src/platform/Tizen/**/*

Update DoorLock sample to require a PIN (#23754)
  examples/chef/devices/rootnode_doorlock_aNKYAreMXE.matter
  examples/chef/devices/rootnode_doorlock_aNKYAreMXE.zap
  zzz_generated/chef-rootnode_doorlock_aNKYAreMXE/zap-generated/endpoint_config.h
Labels: examples

[Telink] RPC implementation added (#23740)
  config/telink/app/enable-gnu-std.cmake
  config/telink/chip-module/CMakeLists.txt
  examples/common/pigweed/telink/PigweedLoggerMutex.cpp
  examples/common/pigweed/telink/PigweedLoggerMutex.h
  examples/lighting-app/telink/CMakeLists.txt
  examples/lighting-app/telink/Readme.md
  examples/lighting-app/telink/include/AppTask.h
  examples/lighting-app/telink/rpc.overlay
  examples/lighting-app/telink/src/AppTask.cpp
  examples/lighting-app/telink/src/main.cpp
  examples/platform/telink/Rpc.cpp
  examples/platform/telink/Rpc.h
  examples/platform/telink/pw_sys_io/BUILD.gn
  examples/platform/telink/pw_sys_io/CMakeLists.txt
  examples/platform/telink/pw_sys_io/public/pw_sys_io_telink/init.h
  examples/platform/telink/pw_sys_io/sys_io_telink.cc
  examples/platform/telink/util/include/PigweedLogger.h
  examples/platform/telink/util/src/PigweedLogger.cpp
Labels: examples, config, platform

feature/efr32_python_build_integration (#23530)
  scripts/build/build/targets.py
  scripts/build/builders/efr32.py
  scripts/build/testdata/all_targets_linux_x64.txt
Labels: scripts

Add chip_external_mbedtls flag to src/crypto (#23538)
  config/nrfconnect/chip-gn/args.gni
  config/telink/chip-gn/args.gni
  config/zephyr/chip-gn/args.gni
  src/crypto/BUILD.gn
  src/crypto/crypto.gni
Labels: config, crypto

Fix tests
  scripts/build/testdata/all_targets_linux_x64.txt
Labels: scripts

Fix path for matter_shell.cpp. Was wrong since last week Silabs folder restructure (#23785)
  examples/platform/silabs/efr32/BUILD.gn
Labels: examples, platform

[Telink] Update Telink Docker with latest Telink Zephyr (SDK 0.15.2).
  integrations/docker/images/chip-build-telink/Dockerfile
  integrations/docker/images/chip-build-vscode/Dockerfile
  integrations/docker/images/chip-build/version
Labels: integrations

Added shell CLI command "matter factoryreset" to Telink lighting-app
  config/telink/app/zephyr.conf
  examples/lighting-app/telink/src/AppTask.cpp
Labels: examples, config

Do not try on default SDK path
  examples/lighting-app/bouffalolab/README.md
  scripts/build/builders/bouffalolab.py
  scripts/examples/gn_bouffalolab_example.sh
Labels: examples, scripts

[Telink] Restyled
  examples/lighting-app/telink/src/AppTask.cpp
Labels: examples

Add nrfconnect switch app in build targets script (#23793)
  scripts/build/build/targets.py
  scripts/build/builders/nrf.py
  scripts/build/testdata/all_targets_linux_x64.txt
Labels: scripts

[Telink] use correct zephyr include path
  src/lib/shell/MainLoopZephyr.cpp
  src/lib/shell/streamer_zephyr.cpp
Labels: lib, shell

Update ZAP version in chip-build Docker image.
  integrations/docker/images/chip-build/Dockerfile
  integrations/docker/images/chip-build/version
Labels: integrations

Allow for substituting YAML value to global config variables (#23743)
  src/controller/python/chip/yaml/constraints.py
  src/controller/python/chip/yaml/format_converter.py
  src/controller/python/chip/yaml/parser.py
  src/controller/python/test/unit_tests/test_yaml_format_converter.py
Labels: controller

Update ZAP version in chip-build Docker image. (#23798)
  integrations/docker/images/chip-build/Dockerfile
  integrations/docker/images/chip-build/version
Labels: integrations

Fix tv-casting-app implementation of commissioner discovery/resolution (#23787)
  examples/tv-casting-app/android/App/app/src/main/jni/com/chip/casting/NsdDiscoveryListener.java
  examples/tv-casting-app/darwin/MatterTvCastingBridge/MatterTvCastingBridge/CommissionableDataProviderImpl.hpp
  examples/tv-casting-app/darwin/TvCasting/TvCasting.xcodeproj/project.pbxproj
  examples/tv-casting-app/darwin/TvCasting/TvCasting/TvCastingApp.swift
Labels: examples

[Telink] Update Telink Docker with latest Telink Zephyr (SDK 0.15.2). (#23778)
  integrations/docker/images/chip-build-telink/Dockerfile
  integrations/docker/images/chip-build-vscode/Dockerfile
  integrations/docker/images/chip-build/version
Labels: integrations

[java-matter-controller] Support to print help info for command
  examples/java-matter-controller/java/src/com/matter/controller/commands/common/Command.java
  examples/java-matter-controller/java/src/com/matter/controller/commands/common/CommandManager.java
  examples/java-matter-controller/java/src/com/matter/controller/commands/common/MatterCommand.java
Labels: examples

Update build script for docker to not need to guess in advance a correct docker path
  integrations/docker/build.sh
Labels: integrations

[Bouffalolab] Update SDK repo (#23745)
  .github/workflows/examples-bouffalolab.yaml
  .gitmodules
  build_overrides/bouffalolab_iot_sdk.gni
  examples/build_overrides/bouffalolab_iot_sdk.gni
  examples/lighting-app/bouffalolab/README.md
  examples/lighting-app/bouffalolab/bl602/BUILD.gn
  examples/lighting-app/bouffalolab/bl702/BUILD.gn
  examples/platform/bouffalolab/common/toolchain/riscv_toolchain.gni
  scripts/build/builders/bouffalolab.py
  scripts/examples/gn_bouffalolab_example.sh
  third_party/bouffalolab/bl602/bl602_executable.gni
  third_party/bouffalolab/bl702/bl702_executable.gni
Labels: repo, examples, scripts, gn, github, workflows, platform

Prioritize interface matching for WiFi MAC address
  src/platform/Linux/ConfigurationManagerImpl.cpp
Labels: platform, linux

Update build script for docker to not need to guess in advance a correct docker path (#23802)
  integrations/docker/build.sh
Labels: integrations

[nrfconnect] Update external url to nRF Command Line Tools
  integrations/docker/images/chip-build-nrf-platform/Dockerfile
  integrations/docker/images/chip-build/version
Labels: integrations

[Linux] Prioritize interface matching for WiFi MAC address
  src/platform/Linux/ConfigurationManagerImpl.cpp
Labels: platform, linux

[nrfconnect] Update external url to nRF Command Line Tools (#23812)
  integrations/docker/images/chip-build-nrf-platform/Dockerfile
  integrations/docker/images/chip-build/version
Labels: integrations

Replace == false if conditions with `!`
  src/platform/Darwin/BUILD.gn
  src/system/system.gni
Labels: system, platform, darwin

Interleave parsing testcase step and executing step
  src/controller/python/chip/yaml/constraints.py
  src/controller/python/chip/yaml/parser.py
Labels: controller

Update sdk repo for local link address duplicate
  src/platform/bouffalolab/BL602/lwip_default_hooks.h
  third_party/bouffalolab/bl602/bl602_sdk.gni
Labels: platform

Move Level Control OnOff feature check into OnOff cluster.
  src/app/clusters/level-control/level-control.cpp
  src/app/clusters/level-control/level-control.h
  src/app/clusters/on-off-server/on-off-server.cpp
Labels: app

Update sdk repo
  .gitmodules
Labels: repo

[Bouffalolab] Update SDK repo (#23745)
  .github/workflows/examples-bouffalolab.yaml
  .gitmodules
  build_overrides/bouffalolab_iot_sdk.gni
  examples/build_overrides/bouffalolab_iot_sdk.gni
  examples/lighting-app/bouffalolab/README.md
  examples/lighting-app/bouffalolab/bl602/BUILD.gn
  examples/lighting-app/bouffalolab/bl702/BUILD.gn
  examples/platform/bouffalolab/common/toolchain/riscv_toolchain.gni
  scripts/build/builders/bouffalolab.py
  scripts/examples/gn_bouffalolab_example.sh
  third_party/bouffalolab/bl602/bl602_executable.gni
  third_party/bouffalolab/bl702/bl702_executable.gni
Labels: repo, examples, scripts, gn, github, workflows, platform

fix a issue about GetPartitionLabelByNamespace (#23738)
  src/platform/ESP32/ESP32Config.cpp
Labels: platform, esp32

update build flow
  .github/workflows/examples-bl602.yaml
  .gitmodules
  examples/lighting-app/bouffalolab/bl602/BUILD.gn
  examples/lighting-app/bouffalolab/bl702/BUILD.gn
  scripts/build/builders/bl602.py
  scripts/examples/gn_bl602_example.sh
Labels: repo, examples, scripts, github, workflows

Update sdk repo for local link address duplicate
  src/platform/bouffalolab/BL602/lwip_default_hooks.h
  third_party/bouffalolab/bl602/bl602_sdk.gni
Labels: platform

add 2m uart log print
  .github/workflows/examples-bl602.yaml
  examples/lighting-app/bouffalolab/bl602/BUILD.gn
  examples/lighting-app/bouffalolab/bl602/src/AppTask.cpp
  scripts/build/build/targets.py
  scripts/build/builders/bl602.py
  scripts/build/testdata/all_targets_except_host.txt
  scripts/build/testdata/build_all_except_host.txt
  scripts/build/testdata/glob_star_targets_except_host.txt
  third_party/bouffalolab/bl602/portable/bfl_main.c
Labels: examples, scripts, github, workflows

Fix restyle
  src/platform/bouffalolab/BL602/lwip_default_hooks.h
Labels: platform

[Linux] Prioritize interface matching for WiFi MAC address (#23813)
  src/platform/Linux/ConfigurationManagerImpl.cpp
Labels: platform, linux

Remove on connection error from on scan complete
  src/platform/Linux/BLEManagerImpl.cpp
  src/platform/Linux/BLEManagerImpl.h
  src/platform/Linux/bluez/ChipDeviceScanner.cpp
  src/platform/Linux/bluez/ChipDeviceScanner.h
Labels: platform, linux

Remove redundant variable set
  src/platform/Linux/BLEManagerImpl.cpp
Labels: platform, linux

Fix typo
  src/platform/Linux/BLEManagerImpl.cpp
Labels: platform, linux
