Repository project-chip/connectedhomeip, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, examples, documentation, scripts, integrations, vscode, gn, github, workflows, tools, test driver, qr code, lwip, inet, config, lib, core, protocols, shell, support, crypto, controller, ble, android, app, transport, system, setup payload, platform, darwin, efr32, esp32, freeRTOS, k32w, linux, nrf5, nrf connect, openthread, zephyr

Remove esp32 automake support
  config/esp32/components/chip/component.mk
Labels: none

Remove remaining Linux C-style casts & fix const correctness
  examples/shell/shell_common/cmd_device.cpp
  src/ble/BLEEndPoint.cpp
  src/ble/BtpEngine.h
  src/controller/python/ChipDeviceController-BlePlatformDelegate.cpp
  src/controller/python/ChipDeviceController-BlePlatformDelegate.h
  src/crypto/CHIPCryptoPAL.h
  src/crypto/CHIPCryptoPALOpenSSL.cpp
  src/include/platform/internal/BLEManager.h
  src/inet/IPAddress-StringFuncts.cpp
  src/inet/IPAddress.cpp
  src/inet/IPEndPointBasis.cpp
  src/inet/TCPEndPoint.cpp
  src/inet/tests/TestInetAddress.cpp
  src/inet/tests/TestInetEndPoint.cpp
  src/inet/tests/TestInetLayerDNS.cpp
  src/lib/core/CHIPCircularTLVBuffer.cpp
  src/lib/core/CHIPEncoding.h
  src/lib/core/CHIPTLVReader.cpp
  src/lib/core/CHIPTLVUpdater.cpp
  src/lib/core/CHIPTLVWriter.cpp
  src/lib/core/tests/TestCHIPTLV.cpp
  src/lib/message/CHIPExchangeMgr.cpp
  src/lib/message/CHIPMessageLayer.cpp
  src/lib/support/tests/TestCHIPArgParser.cpp
  src/platform/Darwin/BLEManagerImpl.cpp
  src/platform/Darwin/BLEManagerImpl.h
  src/platform/EFR32/BLEManagerImpl.h
  src/platform/ESP32/BLEManagerImpl.h
  src/platform/K32W/BLEManagerImpl.h
  src/platform/Linux/BLEManagerImpl.h
  src/platform/Zephyr/GenericBLEManagerImpl_Zephyr.h
  src/platform/nRF5/BLEManagerImpl.h
  src/platform/qpg6100/BLEManagerImpl.h
  src/system/SystemLayer.cpp
Labels: inet, core, crypto, ble, system, darwin, efr32, esp32, k32w, linux, nrf5, zephyr

clang-tidy: Apply fixes "readability-static-definition-in-anonymous-namespace"
  src/transport/retransmit/tests/TestCache.cpp
  src/transport/tests/TestSecureSessionMgr.cpp
Labels: none

clang-tidy: Apply fixes "readability-redundant-access-specifiers"
  src/ble/BLEEndPoint.h
  src/ble/BleLayer.h
  src/ble/BtpEngine.h
  src/include/platform/internal/GenericSoftwareUpdateManagerImpl.h
  src/inet/IPEndPointBasis.h
  src/lib/core/CHIPTLV.h
Labels: inet, core, ble

Restyled by clang-format
  src/transport/tests/TestSecureSessionMgr.cpp
Labels: none

clang-tidy: Apply fixes "readability-redundant-member-init"
  src/lib/support/PersistedCounter.cpp
  src/transport/SecurePairingSession.h
Labels: support, transport

clang-tidy: Apply fixes "readability-static-definition-in-anonymous-namespace"
  src/transport/retransmit/tests/TestCache.cpp
  src/transport/tests/TestSecureSessionMgr.cpp
Labels: none

clang-tidy: Apply fixes "readability-avoid-const-params-in-decls"
  src/ble/BleConnectionDelegate.h
  src/ble/BleLayer.h
  src/crypto/CHIPCryptoPAL.h
  src/include/platform/SoftwareUpdateManager.h
  src/include/platform/internal/GenericSoftwareUpdateManagerImpl.h
  src/inet/TCPEndPoint.h
  src/lib/core/CHIPTLVDebug.hpp
  src/lib/core/CHIPTLVUtilities.hpp
  src/lib/message/CHIPBinding.h
  src/lib/message/CHIPExchangeMgr.h
  src/lib/message/CHIPMessageLayer.h
  src/lib/support/PersistedCounter.h
  src/platform/Linux/BLEManagerImpl.h
  src/system/SystemLayer.h
  src/transport/BLE.h
  src/transport/SecureSession.h
  src/transport/raw/MessageHeader.h
Labels: inet, core, support, crypto, ble, transport, system, linux

ABORT: chip::Platform::MemoryAlloc() called before chip::Platform::MemoryInit()
  examples/wifi-echo/server/esp32/main/CHIPDeviceManager.cpp
Labels: none

[nrf5-examples] Add information about platform being deprecated
  examples/lighting-app/nrf5/README.md
  examples/lock-app/nrf5/README.md
  src/platform/nRF5/args.gni
Labels: nrf5

Restyled by gn
  src/platform/nRF5/args.gni
Labels: nrf5

Restyled by prettier-markdown
  examples/lighting-app/nrf5/README.md
  examples/lock-app/nrf5/README.md
Labels: none

ABORT: chip::Platform::MemoryAlloc() called before chip::Platform::MemoryInit() (#3085)
  examples/wifi-echo/server/esp32/main/CHIPDeviceManager.cpp
Labels: none

Create a typesafe bitflags class and use it in MessageHeader. Mark other non-typesafe flags as deprecated
  src/ble/BLEEndPoint.cpp
  src/ble/BtpEngine.h
  src/lib/message/CHIPFabricState.h
  src/lib/message/ExchangeContext.cpp
  src/lib/support/BUILD.gn
  src/lib/support/BitFlags.h
  src/platform/Darwin/ConnectivityManagerImpl.h
  src/platform/EFR32/ConnectivityManagerImpl.h
  src/platform/ESP32/ConnectivityManagerImpl.h
  src/platform/K32W/ConnectivityManagerImpl.h
  src/platform/Linux/ConnectivityManagerImpl.h
  src/platform/nRF5/ConnectivityManagerImpl.h
  src/platform/nrfconnect/ConnectivityManagerImpl.h
  src/platform/qpg6100/ConnectivityManagerImpl.h
  src/transport/RendezvousSession.cpp
  src/transport/raw/MessageHeader.cpp
  src/transport/raw/MessageHeader.h
  src/transport/raw/tests/TestMessageHeader.cpp
  src/transport/raw/tests/TestTCP.cpp
  src/transport/raw/tests/TestUDP.cpp
  src/transport/tests/TestSecureSession.cpp
Labels: support, ble, transport, darwin, efr32, esp32, k32w, linux, nrf5, nrf connect

Bring back "git status" integration for submodules (#3073)
  .gitmodules
Labels: repo

clang-tidy: Apply fixes "readability-avoid-const-params-in-decls" (#3084)
  src/ble/BleConnectionDelegate.h
  src/ble/BleLayer.h
  src/crypto/CHIPCryptoPAL.h
  src/include/platform/SoftwareUpdateManager.h
  src/include/platform/internal/GenericSoftwareUpdateManagerImpl.h
  src/inet/TCPEndPoint.h
  src/lib/core/CHIPTLVDebug.hpp
  src/lib/core/CHIPTLVUtilities.hpp
  src/lib/message/CHIPBinding.h
  src/lib/message/CHIPExchangeMgr.h
  src/lib/message/CHIPMessageLayer.h
  src/lib/support/PersistedCounter.h
  src/platform/Linux/BLEManagerImpl.h
  src/system/SystemLayer.h
  src/transport/BLE.h
  src/transport/SecureSession.h
  src/transport/raw/MessageHeader.h
Labels: inet, core, support, crypto, ble, transport, system, linux

clang-tidy: Apply fixes "readability-redundant-member-init" (#3083)
  src/lib/support/PersistedCounter.cpp
  src/transport/SecurePairingSession.h
Labels: support, transport

clang-tidy: Apply fixes "readability-static-definition-in-anonymous-namespace" (#3080)
  src/transport/retransmit/tests/TestCache.cpp
  src/transport/tests/TestSecureSessionMgr.cpp
Labels: none

ChipTool: Remove default values for commands and pass them as parameters of chip-tool instead
  examples/chip-tool/commands/clusters/ColorControl/Commands.h
  examples/chip-tool/commands/clusters/Identify/Commands.h
  examples/chip-tool/commands/common/Command.cpp
  examples/chip-tool/commands/common/Command.h
  examples/chip-tool/commands/common/Commands.cpp
Labels: none

Remove automake bits from gitignore (#3068)
  .gitignore
  examples/lock-app/nrfconnect/.gitignore
  examples/wifi-echo/server/esp32/.gitignore
  src/test_driver/esp32/.gitignore
Labels: repo

Add sizeof check and rename Get to Has
  src/lib/support/BitFlags.h
  src/transport/raw/MessageHeader.cpp
Labels: support

[nrf5-examples] Add information about platform being deprecated
  examples/lighting-app/nrf5/README.md
  examples/lock-app/nrf5/README.md
Labels: none

Restyled by prettier-markdown
  examples/lighting-app/nrf5/README.md
  examples/lock-app/nrf5/README.md
Labels: none

[nrf5-examples] Add information about platform being deprecated
  examples/lighting-app/nrf5/README.md
  examples/lock-app/nrf5/README.md
Labels: none

Moving over to native GitHub CodeQL (#3032)
  .devcontainer/devcontainer.json
  .github/workflows/build.yaml
  .github/workflows/examples-gn.yml
  .github/workflows/examples.yaml
Labels: workflows

Add a "HasOnly" method to bitflags
  src/lib/support/BitFlags.h
  src/transport/raw/MessageHeader.cpp
  src/transport/raw/MessageHeader.h
Labels: support

Fix usage of static assert - message is needed
  src/lib/support/BitFlags.h
Labels: support

Update build.yaml
  .github/workflows/build.yaml
Labels: workflows

Update build.yaml
  .github/workflows/build.yaml
Labels: workflows

Update build.yaml
  .github/workflows/build.yaml
Labels: workflows

Update build.yaml
  .github/workflows/build.yaml
Labels: workflows

Trying to carve out more things we don't need
  .github/workflows/build.yaml
  .github/workflows/examples-gn.yml
  .github/workflows/examples.yaml
Labels: workflows

Update examples-gn.yml
  .github/workflows/examples-gn.yml
Labels: workflows

Update examples.yaml
  .github/workflows/examples.yaml
Labels: workflows

Update build.yaml
  .github/workflows/build.yaml
Labels: workflows

Reverting back
  .github/workflows/build.yaml
  .github/workflows/examples-gn.yml
  .github/workflows/examples.yaml
Labels: workflows

Updating
  .github/workflows/build.yaml
  .github/workflows/examples-gn.yml
  .github/workflows/examples.yaml
Labels: workflows

Define ExchangeManager Header file for Transport layer
  src/transport/ExchangeMgr.h
Labels: transport

Restyled by clang-format
  src/transport/ExchangeMgr.h
Labels: transport

Logging tree
  .github/workflows/build.yaml
  .github/workflows/examples-gn.yml
  .github/workflows/examples.yaml
Labels: workflows

.github/labeler.yml:

# Copyright (c) 2020 Project CHIP Authors
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
# http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

############################################################
#  Top Level Labels
############################################################
repo:
    - ./*

############################################################
#  Examples
############################################################
examples:
    - examples/*

############################################################
#  Documentation
############################################################
documentation:
    - docs/*
    - "*.md"

############################################################
#  Tools + Development Items
############################################################
scripts:
    - scripts/*

integrations:
    - integrations/*

vscode:
    - .vscode
    - .devcontainer

gn:
    - build/*
    - build_overrides/*
    - .gn
    - "*.gn"
    - "*.gni"

github:
    - .github

workflows:
    - .github/workflows/*

tools:
    - tools/*

############################################################
#  Tests
############################################################
test driver:
    - src/test_driver/*

############################################################
#  Source Code
############################################################
qr code:
    - src/qrcode/*
    - src/qrcodetool/*

lwip:
    - src/lwip/*

inet:
    - src/inet/*

config:
    - config/*

lib:
    - src/lib/*

core:
    - src/lib/core/*

protocols:
    - src/lib/protocols/*

shell:
    - src/lib/shell/*

support:
    - src/lib/support/*

crypto:
    - src/crypto/*

controller:
    - src/controller/*

ble:
    - src/ble/*

android:
    - src/android/*

app:
    - src/app/*

transport:
    - src/transport/*

system:
    - src/system/*

setup payload:
    - src/setup_payload/*

############################################################
#  Platforms
############################################################
platform:
    - src/platform/*

darwin:
    - src/platform/Darwin/*
    - src/darwin/*

efr32:
    - src/platform/EFR32/*

esp32:
    - src/platform/ESP32/*

freeRTOS:
    - src/platform/FreeRTOS/*

k32w:
    - src/platform/K32W/*

linux:
    - src/platform/Linux/*

nrf5:
    - src/platform/nRF5/*

nrf connect:
    - src/platform/nrfconnect/*

openthread:
    - src/platform/openthread/*

zephyr:
    - src/platform/Zephyr/*
