Repository project-chip/connectedhomeip, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, examples, documentation, scripts, integrations, vscode, gn, github, workflows, tools, qr code, lwip, inet, config, lib, crypto, controller, ble, android, app, transport, system, setup payload, platform, darwin, efr32, esp32, freeRTOS, k32w, linux, nrf5, nrf connect, openthread, zephyr

Allow various clusters the build up custom (non-default) responses to work correctly.
  examples/wifi-echo/server/esp32/main/util.c
Labels: none

Make client-api.c compile.
  examples/wifi-echo/server/esp32/main/client-api.c
Labels: none

Pull in client-api.c file from Silicon Labs code.
  examples/wifi-echo/server/esp32/main/client-api.c
Labels: none

Restyle client-api.c to CHIP style.
  examples/wifi-echo/server/esp32/main/client-api.c
  examples/wifi-echo/server/esp32/main/client-api.h
Labels: none

Improve error checking in the command encoder.
  src/app/chip-zcl-zpro/command-encoder/chip-zcl-zpro-codec.h
  src/app/chip-zcl-zpro/command-encoder/encoder.c
Labels: none

use size_t for index var
  src/lib/support/tests/TestBufBound.cpp
Labels: none

Update message header structure
  src/transport/Base.h
  src/transport/MessageHeader.cpp
  src/transport/MessageHeader.h
  src/transport/SecureSession.cpp
  src/transport/SecureSessionMgr.cpp
  src/transport/SecureSessionMgr.h
  src/transport/Tuple.h
  src/transport/tests/TestMessageHeader.cpp
  src/transport/tests/TestUDP.cpp
Labels: transport

Restyled by clang-format
  src/transport/MessageHeader.cpp
  src/transport/SecureSessionMgr.cpp
Labels: transport

Restyled by clang-format
  src/transport/MessageHeader.cpp
  src/transport/SecureSessionMgr.cpp
Labels: transport

[build] fix -Wdeprecated build errors in CHIPDeviceController
  src/controller/BUILD.gn
Labels: controller

[shell] Add commands to control device layer thread management APIs.
  examples/shell/cmd_device.cpp
Labels: none

[shell] Remove unneeded extern.
  src/platform/Linux/ThreadStackManagerImpl.cpp
Labels: linux

Fix out of bounds write
  examples/wifi-echo/server/esp32/main/ember-print.cpp
Labels: none

Restyled by whitespace
  examples/lock-app/efr32/include/hal-config-app-common.h
  examples/lock-app/efr32/src/platform/efr32mg12/BRD4161A/init_board.c
  examples/lock-app/efr32/src/platform/efr32mg12/BRD4161A/init_mcu.c
  examples/lock-app/efr32/src/platform/efr32mg12/BRD4166A/hal-config.h
  examples/lock-app/efr32/src/platform/efr32mg12/BRD4170A/init_board.c
  examples/lock-app/efr32/src/platform/efr32mg12/BRD4170A/init_mcu.c
  examples/lock-app/efr32/src/platform/efr32mg12/BRD4304A/init_board.c
  examples/lock-app/efr32/src/platform/efr32mg12/BRD4304A/init_mcu.c
  examples/lock-app/efr32/src/platform/efr32mg21/BRD4180A/init_board.c
  examples/lock-app/efr32/src/platform/efr32mg21/BRD4180A/init_mcu.c
Labels: none

Restyled by clang-format
  examples/lock-app/efr32/include/hal-config-app-common.h
  examples/lock-app/efr32/src/platform/efr32mg12/BRD4161A/init_board.c
  examples/lock-app/efr32/src/platform/efr32mg12/BRD4161A/init_mcu.c
  examples/lock-app/efr32/src/platform/efr32mg12/BRD4170A/init_board.c
  examples/lock-app/efr32/src/platform/efr32mg12/BRD4170A/init_mcu.c
  examples/lock-app/efr32/src/platform/efr32mg12/BRD4304A/init_mcu.c
Labels: none

[shell] conditionally compile thread support when enabled.
  examples/shell/cmd_device.cpp
Labels: none

Change ExchangeMsgType to MessageType
  src/transport/MessageHeader.cpp
  src/transport/MessageHeader.h
Labels: transport

Fix tests
  src/transport/tests/TestMessageHeader.cpp
Labels: none

Fix tests
  src/transport/tests/TestMessageHeader.cpp
Labels: none

Move non-customized functions from class ConnectivityManagerImpl to generic implementation
  src/include/platform/internal/GenericConnectivityManagerImpl_WiFi.h
  src/include/platform/internal/GenericConnectivityManagerImpl_WiFi.ipp
  src/platform/Linux/ConnectivityManagerImpl.h
Labels: linux

Make debug printing work again in Silicon Labs ZigbeePro code (#1709)
  examples/wifi-echo/server/esp32/.gitignore
  examples/wifi-echo/server/esp32/main/af.h
  examples/wifi-echo/server/esp32/main/ember-print.cpp
  examples/wifi-echo/server/esp32/main/ember-print.h
  examples/wifi-echo/server/esp32/main/process-global-message.c
  examples/wifi-echo/server/esp32/main/types_stub.h
  examples/wifi-echo/server/esp32/main/util.c
Labels: none

On/Off commands in Android demo app
  src/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/CHIPToolActivity.kt
  src/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/clusterclient/OnOffClientFragment.kt
  src/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/echoclient/EchoClientFragment.kt
  src/android/CHIPTool/app/src/main/res/layout/echo_client_fragment.xml
  src/android/CHIPTool/app/src/main/res/layout/on_off_client_fragment.xml
  src/android/CHIPTool/app/src/main/res/values/strings.xml
  src/controller/java/CHIPDeviceController-JNI.cpp
  src/controller/java/Makefile.am
  src/controller/java/src/chip/devicecontroller/ChipCommandType.java
  src/controller/java/src/chip/devicecontroller/ChipDeviceController.java
Labels: none

Restyled by clang-format
  src/controller/java/CHIPDeviceController-JNI.cpp
Labels: none

Improve error checking in the command encoder. (#1913)
  src/app/chip-zcl-zpro/command-encoder/chip-zcl-zpro-codec.h
  src/app/chip-zcl-zpro/command-encoder/encoder.c
Labels: none

Allow more responses (not just default response) in the zcl cluster code (#1933)
  examples/wifi-echo/server/esp32/main/client-api.c
  examples/wifi-echo/server/esp32/main/client-api.h
  examples/wifi-echo/server/esp32/main/util.c
Labels: none

[linux] Add ConnectivityManager generic implemenation for WiFi. (#1946)
  src/include/platform/CHIPDeviceConfig.h
  src/include/platform/internal/DeviceNetworkInfo.h
  src/include/platform/internal/GenericConnectivityManagerImpl_WiFi.h
  src/include/platform/internal/GenericConnectivityManagerImpl_WiFi.ipp
  src/platform/Linux/ConnectivityManagerImpl.h
  src/platform/Makefile.am
Labels: platform, linux

[shell] Add commands to control device layer thread management APIs. (#1952)
  examples/shell/cmd_device.cpp
  src/platform/Linux/ThreadStackManagerImpl.cpp
Labels: linux

[build] fix -Wdeprecated build errors in CHIPDeviceController (#1953)
  src/controller/BUILD.gn
Labels: controller

Efr32 lock app (#1956)
  examples/Makefile.am
  examples/lock-app/efr32/Makefile
  examples/lock-app/efr32/include/ble-configuration.h
  examples/lock-app/efr32/include/hal-config-app-common.h
  examples/lock-app/efr32/include/hal-config.h
  examples/lock-app/efr32/src/platform/efr32mg12/BRD4161A/hal-config.h
  examples/lock-app/efr32/src/platform/efr32mg12/BRD4161A/init_board.c
  examples/lock-app/efr32/src/platform/efr32mg12/BRD4161A/init_mcu.c
  examples/lock-app/efr32/src/platform/efr32mg12/BRD4166A/hal-config.h
  examples/lock-app/efr32/src/platform/efr32mg12/BRD4166A/init_board.c
  examples/lock-app/efr32/src/platform/efr32mg12/BRD4166A/init_mcu.c
  examples/lock-app/efr32/src/platform/efr32mg12/BRD4170A/hal-config.h
  examples/lock-app/efr32/src/platform/efr32mg12/BRD4170A/init_board.c
  examples/lock-app/efr32/src/platform/efr32mg12/BRD4170A/init_mcu.c
  examples/lock-app/efr32/src/platform/efr32mg12/BRD4304A/hal-config.h
  examples/lock-app/efr32/src/platform/efr32mg12/BRD4304A/init_board.c
  examples/lock-app/efr32/src/platform/efr32mg12/BRD4304A/init_mcu.c
  examples/lock-app/efr32/src/platform/efr32mg21/BRD4180A/hal-config.h
  examples/lock-app/efr32/src/platform/efr32mg21/BRD4180A/init_board.c
  examples/lock-app/efr32/src/platform/efr32mg21/BRD4180A/init_mcu.c
Labels: examples

Added support for Ninja in EFR32 platform
  BUILD.gn
  config/efr32/toolchain/BUILD.gn
  examples/lock-app/efr32/.gn
  examples/lock-app/efr32/BUILD.gn
  examples/lock-app/efr32/args.gni
  examples/lock-app/efr32/build_overrides/chip.gni
  examples/lock-app/efr32/build_overrides/efr32_sdk.gni
  examples/lock-app/efr32/build_overrides/lwip.gni
  examples/lock-app/efr32/build_overrides/mbedtls.gni
  examples/lock-app/efr32/build_overrides/nlassert copy.gni
  examples/lock-app/efr32/build_overrides/nlassert.gni
  examples/lock-app/efr32/build_overrides/nlfaultinjection.gni
  examples/lock-app/efr32/build_overrides/nlio.gni
  examples/lock-app/efr32/build_overrides/pigweed.gni
  examples/lock-app/efr32/src/AppTask.cpp
  gn/build/toolchain/gcc_toolchain.gni
  gn/build_overrides/efr32_sdk.gni
  gn_build.sh
  scripts/examples/gn_efr32_example.sh
  src/lwip/BUILD.gn
  src/platform/BUILD.gn
  src/platform/EFR32/args.gni
  src/platform/device.gni
  third_party/efr32_sdk/BUILD.gn
  third_party/efr32_sdk/efr32_sdk.gni
Labels: repo, lwip, platform, efr32

Format the build files with GN format
  examples/lock-app/efr32/BUILD.gn
  examples/lock-app/efr32/args.gni
  src/platform/BUILD.gn
  third_party/efr32_sdk/BUILD.gn
  third_party/efr32_sdk/efr32_sdk.gni
Labels: platform

Disable -fPIC by default on embedded platforms
  gn/build/config/compiler/BUILD.gn
  gn/build/config/compiler/compiler.gni
Labels: none

Adjustments to EFR32 GN
  examples/lock-app/efr32/BUILD.gn
  examples/lock-app/efr32/args.gni
  src/platform/BUILD.gn
  third_party/efr32_sdk/BUILD.gn
  third_party/efr32_sdk/efr32_sdk.gni
  third_party/mbedtls/BUILD.gn
Labels: platform

Cleanup build - Remove unused target - Update with master
  examples/lock-app/efr32/BUILD.gn
  examples/lock-app/efr32/src/AppTask.cpp
  gn/build/toolchain/arm_gcc/arm_toolchain.gni
  gn/build/toolchain/gcc_toolchain.gni
  src/platform/device.gni
  third_party/efr32_sdk/BUILD.gn
  third_party/efr32_sdk/efr32_sdk.gni
Labels: platform

Implement sending of DefaultResponse messages from the data model part of the echo server.
  examples/wifi-echo/server/esp32/main/DataModelHandler.cpp
  examples/wifi-echo/server/esp32/main/EchoServer.cpp
  examples/wifi-echo/server/esp32/main/af-types.h
  examples/wifi-echo/server/esp32/main/af.h
  examples/wifi-echo/server/esp32/main/attribute-storage.h
  examples/wifi-echo/server/esp32/main/chip-response.cpp
  examples/wifi-echo/server/esp32/main/chip-response.h
  examples/wifi-echo/server/esp32/main/common.h
  examples/wifi-echo/server/esp32/main/gen/znet-bookkeeping.h
  examples/wifi-echo/server/esp32/main/include/CHIPDeviceManager.h
  examples/wifi-echo/server/esp32/main/include/DataModelHandler.h
  examples/wifi-echo/server/esp32/main/message.c
  examples/wifi-echo/server/esp32/main/util.c
  examples/wifi-echo/server/esp32/main/util.h
Labels: none

SPAKE2P implementation over mbedTLS library
  src/crypto/CHIPCryptoPAL.h
  src/crypto/CHIPCryptoPALOpenSSL.cpp
  src/crypto/CHIPCryptoPALmbedTLS.cpp
  src/crypto/tests/CHIPCryptoPALTest.cpp
Labels: crypto

[nrf5-lock] start joiner role on boot
  src/platform/FreeRTOS/GenericThreadStackManagerImpl_FreeRTOS.h
  src/platform/FreeRTOS/GenericThreadStackManagerImpl_FreeRTOS.ipp
Labels: freeRTOS

[misc] make IsCategoryEnabled an inline function
  src/lib/support/logging/CHIPLogging.h
Labels: none

Restyled by clang-format
  src/lib/support/logging/CHIPLogging.h
Labels: none

[build] fix -Wunused-result build error
  src/system/SystemWakeEvent.cpp
Labels: system

.github/labeler.yml:

# Copyright (c) 2020 Project CHIP Authors
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
# http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

############################################################
#  Top Level Labels
############################################################
repo:
    - ./*

############################################################
#  Examples
############################################################
examples:
    - examples/*

############################################################
#  Documentation
############################################################
documentation:
    - docs/*

############################################################
#  Tools + Development Items
############################################################
scripts:
    - scripts/*

integrations:
    - integrations/*

vscode:
    - .vscode
    - .devcontainer

gn:
    - gn/*

github:
    - .github

workflows:
    - .github/workflows/*

tools:
    - tools/*

############################################################
#  Source Code
############################################################
qr code:
    - src/qrcode/*

lwip:
    - src/lwip/*

inet:
    - src/inet/*

config:
    - config/*

lib:
    - src/lib/*

crypto:
    - src/crypto/*

controller:
    - src/controller/*

ble:
    - src/ble/*

android:
    - src/android/*

app:
    - src/app/*

transport:
    - src/transport/*

system:
    - src/system/*

setup payload:
    - src/setup_payload/*

############################################################
#  Platforms
############################################################
platform:
    - src/platform/*

darwin:
    - src/platform/Darwin/*
    - src/darwin/*

efr32:
    - src/platform/EFR32/*

esp32:
    - src/platform/ESP32/*

freeRTOS:
    - src/platform/FreeRTOS/*

k32w:
    - src/platform/K32W/*

linux:
    - src/platform/Linux/*

nrf5:
    - src/platform/nRF5/*

nrf connect:
    - src/platform/nrfconnect/*

openthread:
    - src/platform/openthread/*

zephyr:
    - src/platform/Zephyr/*
