Repository project-chip/connectedhomeip, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, examples, documentation, scripts, integrations, vscode, gn, github, workflows, tools, qr code, lwip, inet, config, lib, crypto, controller, ble, android, app, transport, system, setup payload, platform, darwin, efr32, esp32, freeRTOS, k32w, linux, nrf5, nrf connect, openthread, zephyr

Log free heap at (a) Connection establishment (b) post-attribute change (#1708)
  examples/wifi-echo/server/esp32/main/EchoDeviceCallbacks.cpp
Labels: none

configure --with-device-layer=none is broken (#1707)
  src/controller/CHIPDeviceController.cpp
  src/controller/CHIPDeviceController.h
Labels: controller

Update remainder of workflows to native submodule sync (#1705)
  .github/workflows/gn_build.yaml
  .github/workflows/gn_examples.yaml
Labels: workflows

Fix crypto test build failures
  src/crypto/CHIPCryptoPALmbedTLS.cpp
  src/crypto/tests/CHIPCryptoPALTest.cpp
Labels: crypto

Fix formatting
  src/crypto/CHIPCryptoPALmbedTLS.cpp
Labels: crypto

darwin: Add frameworks via "frameworks", not "libs"
  .gitmodules
  src/platform/BUILD.gn
Labels: repo, platform

PR feedback - fix error checking and use uint8_t for msg
  examples/wifi-echo/server/esp32/main/DataModelHandler.cpp
  src/app/chip-zcl-zpro/command-encoder/chip-zcl-zpro-codec.h
  src/app/chip-zcl-zpro/command-encoder/decoder.c
Labels: none

Fix GN build for crypto
  src/crypto/BUILD.gn
Labels: crypto

Fix deployment build failure
  src/crypto/CHIPCryptoPAL.cpp
  src/crypto/tests/BUILD.gn
Labels: crypto

fix distribution build failures
  src/crypto/tests/BUILD.gn
  src/crypto/tests/Makefile.am
Labels: none

Fix LGTM errors
  src/crypto/CHIPCryptoPAL.cpp
  src/crypto/CHIPCryptoPAL.h
Labels: crypto

fix formatting
  src/crypto/CHIPCryptoPAL.h
Labels: crypto

PR Feedback
  examples/wifi-echo/server/esp32/main/ember-print.cpp
  examples/wifi-echo/server/esp32/main/ember-print.h
  examples/wifi-echo/server/esp32/main/types_stub.h
  examples/wifi-echo/server/esp32/main/util.c
Labels: none

Restyled by whitespace
  examples/wifi-echo/server/esp32/main/ember-print.cpp
Labels: none

Darwin - Make Ble backend less verbose
  src/platform/Darwin/BleConnectionDelegateImpl.mm
  src/platform/Darwin/BlePlatformDelegateImpl.mm
Labels: darwin

Restyled by clang-format
  src/platform/Darwin/BlePlatformDelegateImpl.mm
Labels: darwin

Darwin - Make the Ble backend less verbose
  src/platform/Darwin/BleConnectionDelegateImpl.mm
  src/platform/Darwin/BlePlatformDelegateImpl.mm
Labels: darwin

Augment the width of virtual leds on the M5Stack screen for demos
  examples/common/screen-framework/ScreenManager.cpp
Labels: none

Add a helper to setup wifi on the esp32
  examples/wifi-echo/server/esp32/main/ServiceProvisioning.cpp
Labels: none

Do not include the gateway ip for rendezvous over Ble
  examples/wifi-echo/server/esp32/main/wifi-echo.cpp
Labels: none

Add a yellow virtual light widget on the esp32 when the wifi is up and running
  examples/wifi-echo/server/esp32/main/Ble.cpp
  examples/wifi-echo/server/esp32/main/EchoDeviceCallbacks.cpp
  examples/wifi-echo/server/esp32/main/WiFiWidget.cpp
  examples/wifi-echo/server/esp32/main/include/WiFiWidget.h
  examples/wifi-echo/server/esp32/main/wifi-echo.cpp
Labels: none

Update boring-cyborg.yml
  .github/boring-cyborg.yml
Labels: none

Restyled by whitespace. Add newline at EOF
  examples/wifi-echo/server/esp32/main/ember-print.cpp
Labels: none

[Thread] remove factory reset
  src/include/platform/ThreadStackManager.h
  src/platform/Linux/ThreadStackManagerImpl.cpp
  src/platform/Linux/ThreadStackManagerImpl.h
Labels: linux

Fix ConnectivityManagerImpl.cpp in order to let the ESP32 connect to WiFi while STA mode is enabled but AP mode is disabled
  examples/wifi-echo/server/esp32/main/CHIPDeviceManager.cpp
  src/platform/ESP32/ConnectivityManagerImpl.cpp
  src/platform/ESP32/ESP32Utils.cpp
Labels: esp32

Get secure session expiry timer less verbose
  src/transport/SecureSessionMgr.cpp
Labels: transport

Get the connect event to reach the application layer of the commissioner app
  src/darwin/CHIPTool/CHIPTool/CHIPViewControllerBase.h
  src/darwin/CHIPTool/CHIPTool/CHIPViewControllerBase.m
  src/darwin/CHIPTool/CHIPTool/QRCode/QRCodeViewController.m
  src/darwin/Framework/CHIP/CHIPDeviceController.h
  src/darwin/Framework/CHIP/CHIPDeviceController.mm
Labels: none

Address review comments
  src/crypto/CHIPCryptoPALOpenSSL.cpp
Labels: crypto

Fix bounds check
  examples/wifi-echo/server/esp32/main/ember-print.cpp
  examples/wifi-echo/server/esp32/main/util.c
Labels: none

Taking out debug log
  examples/wifi-echo/server/esp32/main/util.c
Labels: none

Fix VSCode problem matcher for GN
  .vscode/tasks.json
Labels: none

Copy Nordic SDK into vscode container
  integrations/docker/images/chip-build-vscode/Dockerfile
Labels: none

Configure VS Code C/C++ extension to use GN compilation database
  .vscode/c_cpp_properties.json
  .vscode/tasks.json
  scripts/helpers/update_compile_commands.sh
Labels: none

[nrf5] enable Thread joining
  config/nrf5/nrf5-chip.mk
  examples/Makefile.am
  examples/lock-app/nrf5/Makefile
  examples/lock-app/nrf5/main/AppTask.cpp
  examples/lock-app/nrf5/main/include/AppTask.h
  examples/lock-app/nrf5/main/include/app_config.h
  src/include/platform/ThreadStackManager.h
  src/include/platform/internal/GenericConfigurationManagerImpl.ipp
  src/platform/Linux/ThreadStackManagerImpl.cpp
  src/platform/Linux/ThreadStackManagerImpl.h
  src/platform/OpenThread/GenericThreadStackManagerImpl_OpenThread.h
  src/platform/OpenThread/GenericThreadStackManagerImpl_OpenThread.ipp
  src/platform/OpenThread/GenericThreadStackManagerImpl_OpenThread_LwIP.ipp
  src/platform/nRF5/CHIPDevicePlatformConfig.h
Labels: examples, linux, nrf5

[android] update readme doc to remind setting of JAVA_HOME
  src/android/CHIPTool/README.md
Labels: none

Update src/android/CHIPTool/README.md
  src/android/CHIPTool/README.md
Labels: none

add method stub on linux
  src/platform/Linux/ThreadStackManagerImpl.cpp
  src/platform/Linux/ThreadStackManagerImpl.h
Labels: linux

only add joiner handler when thread is enabled
  examples/lock-app/nrf5/main/AppTask.cpp
Labels: none

fix lgtm comments
  examples/lock-app/nrf5/main/AppTask.cpp
  src/include/platform/ThreadStackManager.h
Labels: none

Add an entry in the Setup view of the ESP32 to reset WiFi provisioning
  examples/wifi-echo/server/esp32/main/wifi-echo.cpp
Labels: none

.github/labeler.yml:

# Copyright (c) 2020 Project CHIP Authors
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
# http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

############################################################
#  Top Level Labels
############################################################
repo:
    - ./*

############################################################
#  Examples
############################################################
examples:
    - examples/*

############################################################
#  Documentation
############################################################
documentation:
    - docs/*

############################################################
#  Tools + Development Items
############################################################
scripts:
    - scripts/*

integrations:
    - integrations/*

vscode:
    - .vscode
    - .devcontainer

gn:
    - gn/*

github:
    - .github

workflows:
    - .github/workflows/*

tools:
    - tools/*

############################################################
#  Source Code
############################################################
qr code:
    - src/qrcode/*

lwip:
    - src/lwip/*

inet:
    - src/inet/*

config:
    - config/*

lib:
    - src/lib/*

crypto:
    - src/crypto/*

controller:
    - src/controller/*

ble:
    - src/ble/*

android:
    - src/android/*

app:
    - src/app/*

transport:
    - src/transport/*

system:
    - src/system/*

setup payload:
    - src/setup_payload/*

############################################################
#  Platforms
############################################################
platform:
    - src/platform/*

darwin:
    - src/platform/Darwin/*
    - src/darwin/*

efr32:
    - src/platform/EFR32/*

esp32:
    - src/platform/ESP32/*

freeRTOS:
    - src/platform/FreeRTOS/*

k32w:
    - src/platform/K32W/*

linux:
    - src/platform/Linux/*

nrf5:
    - src/platform/nRF5/*

nrf connect:
    - src/platform/nrfconnect/*

openthread:
    - src/platform/openthread/*

zephyr:
    - src/platform/Zephyr/*
