Repository project-chip/connectedhomeip, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, examples, documentation, scripts, integrations, vscode, gn, github, workflows, tools, qr code, lwip, inet, config, lib, crypto, controller, ble, android, app, transport, system, setup payload, platform, darwin, efr32, esp32, freeRTOS, k32w, linux, nrf5, nrf connect, openthread, zephyr

Fix conflicts
  examples/lock-app/efr32/BUILD.gn
Labels: none

Allow chip-tool echo-ble to work along with credential passing
  examples/wifi-echo/server/esp32/main/RendezvousSession.cpp
  src/darwin/CHIPTool/CHIPTool/QRCode/QRCodeViewController.m
Labels: none

Efr32 gn build (#1958)
  BUILD.gn
  config/efr32/toolchain/BUILD.gn
  examples/lock-app/efr32/.gn
  examples/lock-app/efr32/BUILD.gn
  examples/lock-app/efr32/args.gni
  examples/lock-app/efr32/build_overrides/chip.gni
  examples/lock-app/efr32/build_overrides/efr32_sdk.gni
  examples/lock-app/efr32/build_overrides/lwip.gni
  examples/lock-app/efr32/build_overrides/mbedtls.gni
  examples/lock-app/efr32/build_overrides/nlassert copy.gni
  examples/lock-app/efr32/build_overrides/nlassert.gni
  examples/lock-app/efr32/build_overrides/nlfaultinjection.gni
  examples/lock-app/efr32/build_overrides/nlio.gni
  examples/lock-app/efr32/build_overrides/pigweed.gni
  examples/lock-app/efr32/src/AppTask.cpp
  gn/build/config/compiler/BUILD.gn
  gn/build_overrides/efr32_sdk.gni
  gn_build.sh
  scripts/examples/gn_efr32_example.sh
  src/lwip/BUILD.gn
  src/platform/BUILD.gn
  src/platform/EFR32/args.gni
  src/platform/device.gni
  third_party/efr32_sdk/BUILD.gn
  third_party/efr32_sdk/efr32_sdk.gni
  third_party/mbedtls/BUILD.gn
Labels: repo, lwip, platform, efr32

[build] fix -Wunused-result build error (#1964)
  src/system/SystemWakeEvent.cpp
Labels: system

Update EFR32 example Readme
  examples/lock-app/efr32/README.md
  scripts/examples/gn_efr32_example.sh
Labels: none

Add protocol ID and vendor ID to message header
  src/transport/MessageHeader.cpp
  src/transport/MessageHeader.h
  src/transport/tests/TestMessageHeader.cpp
Labels: transport

Update message header structure (#1950)
  src/transport/Base.h
  src/transport/MessageHeader.cpp
  src/transport/MessageHeader.h
  src/transport/SecureSession.cpp
  src/transport/SecureSessionMgr.cpp
  src/transport/SecureSessionMgr.h
  src/transport/Tuple.h
  src/transport/tests/TestMessageHeader.cpp
  src/transport/tests/TestUDP.cpp
Labels: transport

Restyled by prettier-markdown
  examples/lock-app/efr32/README.md
Labels: none

PutLE(type)=>PutLEType()
  src/lib/support/BufBound.h
  src/lib/support/tests/TestBufBound.cpp
Labels: none

Remove hash contexts. Align openssl & mbedtls md_info name
  src/crypto/CHIPCryptoPAL.h
  src/crypto/CHIPCryptoPALOpenSSL.cpp
  src/crypto/CHIPCryptoPALmbedTLS.cpp
Labels: crypto

Utilize more robust FE generation
  src/crypto/CHIPCryptoPALmbedTLS.cpp
Labels: crypto

Restyled by clang-format
  src/crypto/CHIPCryptoPALOpenSSL.cpp
  src/crypto/CHIPCryptoPALmbedTLS.cpp
Labels: crypto

Restyled by clang-format
  src/crypto/CHIPCryptoPALOpenSSL.cpp
  src/crypto/CHIPCryptoPALmbedTLS.cpp
Labels: crypto

add BufBound (#1947)
  src/inet/tests/Makefile.am
  src/lib/support/BUILD.gn
  src/lib/support/BufBound.h
  src/lib/support/SupportLayer.am
  src/lib/support/tests/BUILD.gn
  src/lib/support/tests/Makefile.am
  src/lib/support/tests/TestBufBound.cpp
  src/lib/support/tests/TestBufBoundDriver.cpp
Labels: none

[misc] make IsCategoryEnabled an inline function
  src/lib/support/logging/CHIPLogging.h
Labels: none

[linux] Add WiFi support in ConnectivityManager. * Add WiFi support to ConnectivityManager to manage wpa_supplicant using GDBus.
  src/platform/Linux/ConnectivityManagerImpl.cpp
  src/platform/Linux/ConnectivityManagerImpl.h
Labels: linux

Restyled by whitespace
  src/platform/Linux/ConnectivityManagerImpl.cpp
  src/platform/Linux/ConnectivityManagerImpl.h
Labels: linux

Restyled by clang-format
  src/platform/Linux/ConnectivityManagerImpl.cpp
  src/platform/Linux/ConnectivityManagerImpl.h
Labels: linux

[linux] fix pthread issues in platform manager
  src/include/platform/internal/GenericPlatformManagerImpl_POSIX.ipp
Labels: none

[linux] Add WiFi support in ConnectivityManager. * Add WiFi support to ConnectivityManager to manage wpa_supplicant using GDBus. * Restyled by whitespace * Restyled by clang-format
  src/platform/Linux/ConnectivityManagerImpl.cpp
  src/platform/Linux/ConnectivityManagerImpl.h
Labels: linux

die on errors
  src/platform/FreeRTOS/GenericThreadStackManagerImpl_FreeRTOS.ipp
Labels: freeRTOS

fix build light-app
  examples/lighting-app/nrf5/Makefile
Labels: none

Make MbedTLS build 5x faster
  src/crypto/tests/PBKDF2_SHA256_test_vectors.h
Labels: none

EFR32: Fix ARM arch setup when setting efr32_board in GN args
  examples/lock-app/efr32/args.gni
  gn/build/config/arm.gni
  gn_build.sh
  third_party/efr32_sdk/efr32_arm.gni
  third_party/efr32_sdk/efr32_board.gni
  third_party/efr32_sdk/efr32_sdk.gni
Labels: repo

Shell app for nrf52 is running now
  .vscode/launch.json
  .vscode/settings.json
  examples/platform/nrf528xx/util/streamer/streamer_nrf5.cpp
  examples/shell/nrf52/Makefile
  examples/shell/nrf52/include/app_config.h
  src/lib/shell/shell.h
  src/platform/nRF5/BLEManagerImpl.cpp
  src/platform/nRF5/BLEManagerImpl.h
Labels: nrf5

.github/labeler.yml:

# Copyright (c) 2020 Project CHIP Authors
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
# http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

############################################################
#  Top Level Labels
############################################################
repo:
    - ./*

############################################################
#  Examples
############################################################
examples:
    - examples/*

############################################################
#  Documentation
############################################################
documentation:
    - docs/*

############################################################
#  Tools + Development Items
############################################################
scripts:
    - scripts/*

integrations:
    - integrations/*

vscode:
    - .vscode
    - .devcontainer

gn:
    - gn/*

github:
    - .github

workflows:
    - .github/workflows/*

tools:
    - tools/*

############################################################
#  Source Code
############################################################
qr code:
    - src/qrcode/*

lwip:
    - src/lwip/*

inet:
    - src/inet/*

config:
    - config/*

lib:
    - src/lib/*

crypto:
    - src/crypto/*

controller:
    - src/controller/*

ble:
    - src/ble/*

android:
    - src/android/*

app:
    - src/app/*

transport:
    - src/transport/*

system:
    - src/system/*

setup payload:
    - src/setup_payload/*

############################################################
#  Platforms
############################################################
platform:
    - src/platform/*

darwin:
    - src/platform/Darwin/*
    - src/darwin/*

efr32:
    - src/platform/EFR32/*

esp32:
    - src/platform/ESP32/*

freeRTOS:
    - src/platform/FreeRTOS/*

k32w:
    - src/platform/K32W/*

linux:
    - src/platform/Linux/*

nrf5:
    - src/platform/nRF5/*

nrf connect:
    - src/platform/nrfconnect/*

openthread:
    - src/platform/openthread/*

zephyr:
    - src/platform/Zephyr/*
