Repository project-chip/connectedhomeip, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, examples, documentation, scripts, integrations, vscode, gn, github, workflows, tools, test driver, qr code, lwip, inet, config, lib, core, protocols, shell, support, crypto, controller, ble, android, app, transport, system, setup payload, platform, darwin, efr32, esp32, freeRTOS, k32w, linux, nrf5, nrf connect, openthread, zephyr

Remove install-chip-with-gn
  config/esp32/components/chip/component.mk
Labels: none

install -> install-chip
  config/esp32/components/chip/component.mk
Labels: none

Attempting to trim
  .github/workflows/build.yaml
  .github/workflows/examples.yaml
Labels: workflows

[nrf5-examples] Add information about platform being deprecated (#3086)
  examples/lighting-app/nrf5/README.md
  examples/lock-app/nrf5/README.md
Labels: none

Force scripts to run with python3 (#3077)
  .gn
  gn/chip/python_gen_tags.py
Labels: repo, gn

Remove more autotools files (#3055)
  README.md
  bootstrap-configure
  scripts/build/bootstrap.sh
  scripts/make/java.mk
  scripts/test-driver.sh
Labels: repo, documentation, scripts

clang-tidy: Apply fixes "readability-redundant-access-specifiers" (#3082)
  src/ble/BLEEndPoint.h
  src/ble/BleLayer.h
  src/ble/BtpEngine.h
  src/include/platform/internal/GenericSoftwareUpdateManagerImpl.h
  src/inet/IPEndPointBasis.h
  src/lib/core/CHIPTLV.h
Labels: inet, core, ble

ChipTool: Remove default values for commands and pass them as parameters of chip-tool instead (#3091)
  examples/chip-tool/commands/clusters/ColorControl/Commands.h
  examples/chip-tool/commands/clusters/Identify/Commands.h
  examples/chip-tool/commands/common/Command.cpp
  examples/chip-tool/commands/common/Command.h
  examples/chip-tool/commands/common/Commands.cpp
Labels: none

Add ResetToFactoryDefaults callback to the examples/wifi-echo application (#3056)
  examples/wifi-echo/server/esp32/main/CHIPDeviceManager.cpp
  examples/wifi-echo/server/esp32/main/DeviceCallbacks.cpp
  examples/wifi-echo/server/esp32/main/gen/callback-stub.c
  examples/wifi-echo/server/esp32/main/include/CHIPDeviceManager.h
  examples/wifi-echo/server/esp32/main/include/DeviceCallbacks.h
Labels: none

Remove esp32 automake support (#3078)
  config/esp32/components/chip/component.mk
Labels: none

killing nRFConnnecft
  .github/workflows/examples.yaml
Labels: workflows

Write ReadN(T*&) in terms of ReadN(const T*&)
  src/lib/core/CHIPEncoding.h
Labels: core

Fix timer epochs
  src/lib/core/CHIPCallback.h
  src/system/SystemLayer.cpp
Labels: core, system

Remove casts around inet_ntop
  src/inet/IPAddress-StringFuncts.cpp
Labels: inet

Simplify casts around free
  src/lib/core/tests/TestCHIPTLV.cpp
Labels: none

Simplify IPAddress
  src/inet/IPAddress.cpp
Labels: inet

Remove casts around setsockopt
  src/inet/IPAddress.cpp
  src/inet/IPEndPointBasis.cpp
Labels: inet

Remove cast from Spake2p "G"
  src/crypto/CHIPCryptoPAL.h
  src/crypto/CHIPCryptoPALOpenSSL.cpp
Labels: crypto

Document cast around AES_CCM_decrypt
  src/crypto/CHIPCryptoPALOpenSSL.cpp
Labels: crypto

Add back const_cast around inet_ntop
  src/inet/IPAddress-StringFuncts.cpp
Labels: inet

Duplicate argv in TestCHIPArgParser
  src/lib/support/ScopedBuffer.h
  src/lib/support/tests/TestCHIPArgParser.cpp
  src/lib/support/tests/TestCHIPArgParserDriver.cpp
Labels: support

Revert "Duplicate argv in TestCHIPArgParser"
  src/lib/support/ScopedBuffer.h
  src/lib/support/tests/TestCHIPArgParser.cpp
  src/lib/support/tests/TestCHIPArgParserDriver.cpp
Labels: support

Restyled by clang-format
  src/inet/IPAddress-StringFuncts.cpp
Labels: inet

Restyle
  src/inet/IPAddress-StringFuncts.cpp
Labels: inet

.github/labeler.yml:

# Copyright (c) 2020 Project CHIP Authors
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
# http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

############################################################
#  Top Level Labels
############################################################
repo:
    - ./*

############################################################
#  Examples
############################################################
examples:
    - examples/*

############################################################
#  Documentation
############################################################
documentation:
    - docs/*
    - "*.md"

############################################################
#  Tools + Development Items
############################################################
scripts:
    - scripts/*

integrations:
    - integrations/*

vscode:
    - .vscode
    - .devcontainer

gn:
    - build/*
    - build_overrides/*
    - .gn
    - "*.gn"
    - "*.gni"

github:
    - .github

workflows:
    - .github/workflows/*

tools:
    - tools/*

############################################################
#  Tests
############################################################
test driver:
    - src/test_driver/*

############################################################
#  Source Code
############################################################
qr code:
    - src/qrcode/*
    - src/qrcodetool/*

lwip:
    - src/lwip/*

inet:
    - src/inet/*

config:
    - config/*

lib:
    - src/lib/*

core:
    - src/lib/core/*

protocols:
    - src/lib/protocols/*

shell:
    - src/lib/shell/*

support:
    - src/lib/support/*

crypto:
    - src/crypto/*

controller:
    - src/controller/*

ble:
    - src/ble/*

android:
    - src/android/*

app:
    - src/app/*

transport:
    - src/transport/*

system:
    - src/system/*

setup payload:
    - src/setup_payload/*

############################################################
#  Platforms
############################################################
platform:
    - src/platform/*

darwin:
    - src/platform/Darwin/*
    - src/darwin/*

efr32:
    - src/platform/EFR32/*

esp32:
    - src/platform/ESP32/*

freeRTOS:
    - src/platform/FreeRTOS/*

k32w:
    - src/platform/K32W/*

linux:
    - src/platform/Linux/*

nrf5:
    - src/platform/nRF5/*

nrf connect:
    - src/platform/nrfconnect/*

openthread:
    - src/platform/openthread/*

zephyr:
    - src/platform/Zephyr/*
