Repository project-chip/connectedhomeip, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, examples, documentation, scripts, integrations, vscode, gn, github, workflows, tools, qr code, lwip, inet, config, lib, crypto, controller, ble, android, app, transport, system, setup payload, platform, darwin, efr32, esp32, freeRTOS, k32w, linux, nrf5, nrf connect, openthread, zephyr

.github/labeler.yml:

# Copyright (c) 2020 Project CHIP Authors
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
# http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

############################################################
#  Top Level Labels
############################################################
repo:
    - ./*

############################################################
#  Examples
############################################################
examples:
    - examples/*

############################################################
#  Documentation
############################################################
documentation:
    - docs/*

############################################################
#  Tools + Development Items
############################################################
scripts:
    - scripts/*

integrations:
    - integrations/*

vscode:
    - .vscode
    - .devcontainer

gn:
    - gn/*

github:
    - .github

workflows:
    - .github/workflows/*

tools:
    - tools/*

############################################################
#  Source Code
############################################################
qr code:
    - src/qrcode/*

lwip:
    - src/lwip/*

inet:
    - src/inet/*

config:
    - config/*

lib:
    - src/lib/*

crypto:
    - src/crypto/*

controller:
    - src/controller/*

ble:
    - src/ble/*

android:
    - src/android/*

app:
    - src/app/*

transport:
    - src/transport/*

system:
    - src/system/*

setup payload:
    - src/setup_payload/*

############################################################
#  Platforms
############################################################
platform:
    - src/platform/*

darwin:
    - src/platform/Darwin/*
    - src/darwin/*

efr32:
    - src/platform/EFR32/*

esp32:
    - src/platform/ESP32/*

freeRTOS:
    - src/platform/FreeRTOS/*

k32w:
    - src/platform/K32W/*

linux:
    - src/platform/Linux/*

nrf5:
    - src/platform/nRF5/*

nrf connect:
    - src/platform/nrfconnect/*

openthread:
    - src/platform/openthread/*

zephyr:
    - src/platform/Zephyr/*

Scan only for peripheral with the correct CHIP short service UUID in BleConnectionDelegate.mm
  src/platform/Darwin/BleConnectionDelegateImpl.mm
Labels: darwin

ESP32 - Retrieve discriminator and setupPINCode from the ConfigurationManager
  examples/wifi-echo/server/esp32/main/wifi-echo.cpp
  src/include/platform/internal/GenericPlatformManagerImpl.ipp
  src/platform/ESP32/BLEManagerImpl.cpp
  src/platform/ESP32/ConnectivityManagerImpl.cpp
  src/platform/ESP32/ESP32Config.cpp
Labels: esp32

Pass the setupPINCode from the application layer down to Transport::BLE
  examples/chip-tool/main.cpp
  src/controller/CHIPDeviceController.cpp
  src/controller/CHIPDeviceController.h
  src/darwin/CHIPTool/CHIPTool/QRCode/QRCodeViewController.m
  src/darwin/Framework/CHIP/CHIPDeviceController.h
  src/darwin/Framework/CHIP/CHIPDeviceController.mm
  src/transport/BLE.cpp
  src/transport/BLE.h
Labels: controller, transport

Restyled by clang-format
  src/darwin/Framework/CHIP/CHIPDeviceController.mm
Labels: none

Pass the setupPINCode from the application layer down to Transport::BLE
  examples/chip-tool/main.cpp
  src/controller/CHIPDeviceController.cpp
  src/controller/CHIPDeviceController.h
  src/darwin/CHIPTool/CHIPTool/QRCode/QRCodeViewController.m
  src/darwin/Framework/CHIP/CHIPDeviceController.h
  src/darwin/Framework/CHIP/CHIPDeviceController.mm
  src/transport/BLE.cpp
  src/transport/BLE.h
Labels: controller, transport

New command stubs for BTP were added
  examples/shell/BUILD.gn
  examples/shell/cmd_btp.cpp
  examples/shell/main.cpp
  examples/shell/standalone/Makefile
Labels: none

Porting of the shell application to Nordic hardware was started
  .vscode/settings.json
  .vscode/tasks.json
  examples/platform/nrf528xx/app/project_include/CHIPProjectConfig.h
  examples/shell/nrf52/Makefile
  examples/shell/nrf52/include/app_config.h
  scripts/examples/nrf_light_app.sh
  scripts/examples/nrf_shell.sh
Labels: none

The shell application for nRF52 architecture was compiled
  .vscode/settings.json
  examples/platform/nrf528xx/util/streamer/streamer_nrf5.cpp
  examples/shell/data_model_handler.cpp
  examples/shell/nrf52/Makefile
  examples/shell/test_identity.cpp
  src/lib/shell/streamer_stdio.cpp
Labels: none

Fix a typo in rename_submodules.sh helper
  scripts/helpers/rename_submodules.sh
Labels: none

Use the discriminator from ConfigurationManager inside GenericConfigurationManagerImpl.ipp
  src/include/platform/internal/GenericConfigurationManagerImpl.ipp
Labels: none

Get Linux/ThreadStackManagerImpl.h functions prototypes to match platform/ThreadStackManager.h functions prototypes
  src/platform/Linux/ThreadStackManagerImpl.cpp
  src/platform/Linux/ThreadStackManagerImpl.h
Labels: linux

ESP32 - Retrieve discriminator and setupPINCode from the ConfigurationManager (#1918)
  examples/wifi-echo/server/esp32/main/wifi-echo.cpp
  src/include/platform/internal/GenericPlatformManagerImpl.ipp
  src/platform/ESP32/BLEManagerImpl.cpp
  src/platform/ESP32/ConnectivityManagerImpl.cpp
  src/platform/ESP32/ESP32Config.cpp
Labels: esp32

Pass the setupPINCode from the application layer down to Transport::BLE (#1919)
  examples/chip-tool/main.cpp
  src/controller/CHIPDeviceController.cpp
  src/controller/CHIPDeviceController.h
  src/darwin/CHIPTool/CHIPTool/QRCode/QRCodeViewController.m
  src/darwin/Framework/CHIP/CHIPDeviceController.h
  src/darwin/Framework/CHIP/CHIPDeviceController.mm
  src/transport/BLE.cpp
  src/transport/BLE.h
Labels: controller, transport

Use the discriminator from ConfigurationManager inside GenericConfigurationManagerImpl.ipp (#1923)
  src/include/platform/internal/GenericConfigurationManagerImpl.ipp
Labels: none

Get Linux/ThreadStackManagerImpl.h functions prototypes to match platform/ThreadStackManager.h functions prototypes (#1924)
  src/platform/Linux/ThreadStackManagerImpl.cpp
  src/platform/Linux/ThreadStackManagerImpl.h
Labels: linux

Scan only for peripheral with the correct CHIP short service UUID in BleConnectionDelegate.mm (#1917)
  src/platform/Darwin/BleConnectionDelegateImpl.mm
Labels: darwin

Fix a typo in rename_submodules.sh helper (#1921)
  scripts/helpers/rename_submodules.sh
Labels: none

Adjust Linux Device layer bluez codegen location and parameter (#1912)
  src/platform/Makefile.am
Labels: platform

Keep more warnings as fatal when building with GN
  examples/chip-tool/main.cpp
  examples/platform/nrf528xx/app/chipinit.cpp
  examples/shell/cmd_device.cpp
  gn/build/config/compiler/BUILD.gn
  src/app/chip-zcl-zpro/command-encoder/encoder.c
  src/crypto/tests/CHIPCryptoPALTest.cpp
  third_party/lwip/lwip.gni
  third_party/nrf5_sdk/nrf5_sdk.gni
Labels: none

Restyled by clang-format
  examples/shell/cmd_device.cpp
  src/app/chip-zcl-zpro/command-encoder/encoder.c
Labels: none

Keep more warnings as fatal when building with GN
  examples/chip-tool/main.cpp
  examples/platform/nrf528xx/app/chipinit.cpp
  examples/shell/cmd_device.cpp
  gn/build/config/compiler/BUILD.gn
  src/app/chip-zcl-zpro/command-encoder/encoder.c
  src/crypto/tests/CHIPCryptoPALTest.cpp
  third_party/lwip/lwip.gni
  third_party/nrf5_sdk/nrf5_sdk.gni
Labels: none

[linux] Add dbus gen for CHIP Linux device layer to talk to wpa_supplicant * Generate wpa_supplicant GDBus interface for ConnectivityMgr.
  configure.ac
  src/platform/Linux/dbus/wpa.xml
  src/platform/Linux/dbus/wpa_interface.xml
  src/platform/Linux/dbus/wpa_network.xml
  src/platform/Makefile.am
  src/platform/tests/Makefile.am
Labels: repo, platform

Test PR to debug CI build issue
  configure.ac
  src/platform/Linux/dbus/wpa.xml
  src/platform/Linux/dbus/wpa_interface.xml
  src/platform/Linux/dbus/wpa_network.xml
  src/platform/Makefile.am
  src/platform/tests/Makefile.am
Labels: repo, platform

test 1
  configure.ac
Labels: repo

Keep more warnings as fatal when building with GN (#1925)
  examples/chip-tool/main.cpp
  examples/platform/nrf528xx/app/chipinit.cpp
  examples/shell/cmd_device.cpp
  gn/build/config/compiler/BUILD.gn
  src/app/chip-zcl-zpro/command-encoder/encoder.c
  src/crypto/tests/CHIPCryptoPALTest.cpp
  third_party/lwip/lwip.gni
  third_party/nrf5_sdk/nrf5_sdk.gni
Labels: none

test 2
  configure.ac
Labels: repo

test 3
  configure.ac
Labels: repo

test 4
  configure.ac
Labels: repo

[nrf5-example] Fix LEDWidget animate
  examples/platform/nrf528xx/util/LEDWidget.cpp
Labels: none

Move thread configuration after platform configuration
  src/platform/device.gni
Labels: platform

Add configuration option to enable WiFi support for wpa_supplicant
  configure.ac
  src/platform/Makefile.am
  src/platform/tests/Makefile.am
Labels: repo, platform

[nrf5-example] Fix LEDWidget animate (#1930)
  examples/platform/nrf528xx/util/LEDWidget.cpp
Labels: none

Move thread configuration after platform configuration (#1931)
  src/platform/device.gni
Labels: platform

[linux] Add dbus gen for CHIP Linux device layer to talk to wpa_suppl… (#1909)
  configure.ac
  src/platform/Linux/dbus/wpa.xml
  src/platform/Linux/dbus/wpa_interface.xml
  src/platform/Linux/dbus/wpa_network.xml
  src/platform/Makefile.am
  src/platform/tests/Makefile.am
Labels: repo, platform

[linux] Add ConnectivityManager generic implemenation for WiFi. * Provides an generic implementation of ConnectivityManager for WiFi interface.
  src/include/platform/CHIPDeviceConfig.h
  src/include/platform/internal/DeviceNetworkInfo.h
  src/include/platform/internal/GenericConnectivityManagerImpl_WiFi.h
  src/include/platform/internal/GenericConnectivityManagerImpl_WiFi.ipp
  src/platform/Makefile.am
Labels: platform

add BufBound
  src/inet/tests/Makefile.am
  src/lib/support/BUILD.gn
  src/lib/support/BufBound.h
  src/lib/support/SupportLayer.am
  src/lib/support/tests/BUILD.gn
  src/lib/support/tests/Makefile.am
  src/lib/support/tests/TestBufBound.cpp
  src/lib/support/tests/TestBufBoundDriver.cpp
Labels: none

Restyled by clang-format
  src/include/platform/internal/DeviceNetworkInfo.h
  src/include/platform/internal/GenericConnectivityManagerImpl_WiFi.h
Labels: none

Restyled by clang-format
  src/include/platform/internal/DeviceNetworkInfo.h
  src/include/platform/internal/GenericConnectivityManagerImpl_WiFi.h
Labels: none

explicit uint64_t
  src/lib/support/tests/TestBufBound.cpp
Labels: none

nulll -> null
  src/lib/support/BufBound.h
Labels: none
