Repository project-chip/connectedhomeip, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, examples, documentation, scripts, integrations, vscode, gn, github, workflows, tools, qr code, lwip, inet, config, lib, crypto, controller, ble, android, app, transport, system, setup payload, platform, darwin, efr32, esp32, freeRTOS, k32w, linux, nrf5, nrf connect, openthread, zephyr

Building error fixed
  .vscode/launch.json
  .vscode/tasks.json
  src/platform/nRF5/BLEManagerImpl.cpp
Labels: nrf5

Add dbus gen for CHIP Linux device layer BlueZ
  configure.ac
  src/platform/Linux/dbus/org.bluez.xml
  src/platform/Makefile.am
Labels: repo, platform

Add help for building with GN
  docs/BUILDING-GN.md
  examples/lighting-app/nrf5/README.md
  examples/lock-app/nrf5/README.md
Labels: documentation

Fix typo & explain is_debug var
  docs/BUILDING-GN.md
Labels: documentation

Fix another typo & update some headings
  docs/BUILDING-GN.md
Labels: documentation

fix gn build
  src/platform/BUILD.gn
  src/platform/Linux/CHIPDevicePlatformConfig.h
  src/platform/Linux/ThreadStackManagerImpl.cpp
  src/platform/Linux/ThreadStackManagerImpl.h
  src/platform/Makefile.am
  src/platform/device.gni
  third_party/ot-br-posix/BUILD.gn
Labels: platform, linux

Restyled by clang-format
  src/platform/Linux/ThreadStackManagerImpl.h
Labels: linux

Expand on toolchain naming
  docs/BUILDING-GN.md
Labels: documentation

Add toolchain to recommended topics
  docs/BUILDING-GN.md
Labels: documentation

Add commands for release
  docs/BUILDING-GN.md
Labels: documentation

Rename suggested out directories
  BUILD.gn
  docs/BUILDING-GN.md
Labels: repo, documentation

Restyled by prettier-markdown
  docs/BUILDING-GN.md
  examples/lighting-app/nrf5/README.md
  examples/lock-app/nrf5/README.md
Labels: documentation

enable CHIP_DEVICE_CONFIG_ENABLE_THREAD in Linux
  config/standalone/standalone-chip.mk
  src/include/platform/ThreadStackManager.h
  src/include/platform/internal/GenericConnectivityManagerImpl_Thread.h
  src/include/platform/internal/GenericConnectivityManagerImpl_Thread.ipp
  src/lib/Makefile.am
  src/platform/BUILD.gn
  src/platform/Linux/CHIPDevicePlatformConfig.h
  src/platform/Linux/Logging.cpp
  src/platform/Linux/ThreadStackManagerImpl.cpp
  src/platform/Linux/ThreadStackManagerImpl.h
  src/platform/Makefile.am
  src/platform/device.gni
  src/platform/tests/BUILD.gn
  third_party/ot-br-posix/BUILD.gn
Labels: lib, platform, linux

Changed QRCode controller screen so it send the entered Wi-Fi credentials over BLE to the CHIP device.
  src/darwin/CHIPTool/CHIPTool/QRCode/QRCodeViewController.m
Labels: none

Add dbus gen for CHIP Linux device layer BlueZ (#1881)
  configure.ac
  src/platform/Linux/dbus/org.bluez.xml
  src/platform/Makefile.am
Labels: repo, platform

[android] update readme doc to remind setting of JAVA_HOME (#1880)
  src/android/CHIPTool/README.md
Labels: none

enable CHIP_DEVICE_CONFIG_ENABLE_THREAD in Linux (#1892)
  config/standalone/standalone-chip.mk
  src/include/platform/ThreadStackManager.h
  src/include/platform/internal/GenericConnectivityManagerImpl_Thread.h
  src/include/platform/internal/GenericConnectivityManagerImpl_Thread.ipp
  src/lib/Makefile.am
  src/platform/BUILD.gn
  src/platform/Linux/CHIPDevicePlatformConfig.h
  src/platform/Linux/Logging.cpp
  src/platform/Linux/ThreadStackManagerImpl.cpp
  src/platform/Linux/ThreadStackManagerImpl.h
  src/platform/Makefile.am
  src/platform/device.gni
  src/platform/tests/BUILD.gn
  third_party/ot-br-posix/BUILD.gn
Labels: lib, platform, linux

Update nRF docker image to use more recent openthread
  integrations/docker/images/chip-build-nrf-platform/Dockerfile
  integrations/docker/images/chip-build/version
Labels: none

Use WiFi credentials from Rendezvous BLE message (#1898)
  examples/wifi-echo/server/esp32/main/RendezvousSession.cpp
Labels: none

Update nRF docker image to use more recent openthread (#1907)
  integrations/docker/images/chip-build-nrf-platform/Dockerfile
  integrations/docker/images/chip-build/version
Labels: none

Add nRF Connect SDK github workflow
  .github/workflows/examples.yaml
  scripts/examples/nrfconnect_lock_app.sh
Labels: workflows

Fix command-line chip-tool toggle command.
  examples/chip-tool/main.cpp
Labels: none

ESP32 - Update advertising data to be closer to the spec
  config/esp32/components/chip/Kconfig
  examples/chip-tool/main.cpp
  src/ble/BleConnectionDelegate.h
  src/ble/BleLayer.cpp
  src/ble/BleLayer.h
  src/controller/CHIPDeviceController.cpp
  src/controller/CHIPDeviceController.h
  src/darwin/CHIPTool/CHIPTool/QRCode/QRCodeViewController.m
  src/darwin/Framework/CHIP/CHIPDeviceController.h
  src/darwin/Framework/CHIP/CHIPDeviceController.mm
  src/platform/Darwin/BleConnectionDelegate.h
  src/platform/Darwin/BleConnectionDelegateImpl.mm
  src/platform/ESP32/BLEManagerImpl.cpp
  src/platform/ESP32/ConnectivityManagerImpl.cpp
  src/transport/BLE.cpp
  src/transport/BLE.h
Labels: controller, ble, transport, darwin, esp32

Docker image version 0.4.0 -> 0.4.1
  .github/workflows/bloat_check.yaml
  .github/workflows/build.yaml
  .github/workflows/examples.yaml
  .github/workflows/gn_build.yaml
  .github/workflows/gn_examples.yaml
  .github/workflows/qemu.yaml
Labels: workflows

[nRF Connect] Add github workflow to verify build of the lock example (#1894)
  .github/workflows/bloat_check.yaml
  .github/workflows/build.yaml
  .github/workflows/examples.yaml
  .github/workflows/gn_build.yaml
  .github/workflows/gn_examples.yaml
  .github/workflows/qemu.yaml
  scripts/examples/nrfconnect_lock_app.sh
Labels: workflows

Adding documentation.
  config/android/CHIPProjectConfig.h
  src/controller/CHIPDeviceController.h
Labels: controller

Fix command-line chip-tool toggle command. (#1910)
  examples/chip-tool/main.cpp
Labels: none

ESP32 - Update advertising data to be closer to the spec (#1911)
  config/esp32/components/chip/Kconfig
  examples/chip-tool/main.cpp
  src/ble/BleConnectionDelegate.h
  src/ble/BleLayer.cpp
  src/ble/BleLayer.h
  src/controller/CHIPDeviceController.cpp
  src/controller/CHIPDeviceController.h
  src/darwin/CHIPTool/CHIPTool/QRCode/QRCodeViewController.m
  src/darwin/Framework/CHIP/CHIPDeviceController.h
  src/darwin/Framework/CHIP/CHIPDeviceController.mm
  src/platform/Darwin/BleConnectionDelegate.h
  src/platform/Darwin/BleConnectionDelegateImpl.mm
  src/platform/ESP32/BLEManagerImpl.cpp
  src/platform/ESP32/ConnectivityManagerImpl.cpp
  src/transport/BLE.cpp
  src/transport/BLE.h
Labels: controller, ble, transport, darwin, esp32

Add help for building with GN (#1903)
  BUILD.gn
  docs/BUILDING-GN.md
  examples/lighting-app/nrf5/README.md
  examples/lock-app/nrf5/README.md
Labels: repo, documentation

Echo client (over IP) in Android demo app. (#1896)
  config/android/CHIPProjectConfig.h
  configure.ac
  src/Makefile.am
  src/android/CHIPTool/app/src/main/AndroidManifest.xml
  src/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/CHIPNativeBridge.java
  src/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/CHIPToolActivity.java
  src/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/CHIPToolActivity.kt
  src/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/ChipClient.kt
  src/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/ConnectionStatusFragment.java
  src/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/EchoClientActivity.java
  src/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/OnOffActivity.java
  src/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/SelectActionFragment.kt
  src/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/echoclient/EchoClientFragment.kt
  src/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/setuppayloadscanner/BarcodeReaderActivity.java
  src/android/CHIPTool/app/src/main/res/layout/connection_status_fragment.xml
  src/android/CHIPTool/app/src/main/res/layout/echo_client_activity.xml
  src/android/CHIPTool/app/src/main/res/layout/echo_client_fragment.xml
  src/android/CHIPTool/app/src/main/res/layout/select_action_fragment.xml
  src/android/CHIPTool/app/src/main/res/layout/send_command_fragment.xml
  src/android/CHIPTool/app/src/main/res/layout/top_activity.xml
  src/android/CHIPTool/app/src/main/res/values/strings.xml
  src/controller/CHIPDeviceController.cpp
  src/controller/CHIPDeviceController.h
  src/controller/java/CHIPDeviceController-JNI.cpp
  src/controller/java/Makefile.am
  src/controller/java/src/chip/devicecontroller/ChipDeviceController.java
  src/controller/java/src/chip/devicecontroller/ChipDeviceControllerException.java
Labels: repo, controller

Adjust Linux Device layer bluez codegen location and parameter
  src/platform/Makefile.am
Labels: platform

Improve error checking in the command encoder.
  src/app/chip-zcl-zpro/command-encoder/chip-zcl-zpro-codec.h
  src/app/chip-zcl-zpro/command-encoder/encoder.c
Labels: none

Restyled by clang-format
  src/app/chip-zcl-zpro/command-encoder/chip-zcl-zpro-codec.h
  src/app/chip-zcl-zpro/command-encoder/encoder.c
Labels: none

Improve error checking in the command encoder.
  src/app/chip-zcl-zpro/command-encoder/chip-zcl-zpro-codec.h
  src/app/chip-zcl-zpro/command-encoder/encoder.c
Labels: none

Implement sending of DefaultResponse messages from the data model part of the echo server.
  examples/wifi-echo/server/esp32/main/DataModelHandler.cpp
  examples/wifi-echo/server/esp32/main/EchoServer.cpp
  examples/wifi-echo/server/esp32/main/af-types.h
  examples/wifi-echo/server/esp32/main/af.h
  examples/wifi-echo/server/esp32/main/attribute-storage.h
  examples/wifi-echo/server/esp32/main/chip-response.cpp
  examples/wifi-echo/server/esp32/main/chip-response.h
  examples/wifi-echo/server/esp32/main/common.h
  examples/wifi-echo/server/esp32/main/gen/znet-bookkeeping.h
  examples/wifi-echo/server/esp32/main/include/CHIPDeviceManager.h
  examples/wifi-echo/server/esp32/main/include/DataModelHandler.h
  examples/wifi-echo/server/esp32/main/message.c
  examples/wifi-echo/server/esp32/main/util.c
  examples/wifi-echo/server/esp32/main/util.h
Labels: none

Implement handling of DefaultResponse in chip-tool command-line client.
  examples/chip-tool/main.cpp
  src/app/chip-zcl-zpro/command-encoder/decoder.c
Labels: none

Implement handling of DefaultResponse in CHIPTool iOS client
  src/darwin/CHIPTool/CHIPTool/CHIPViewControllerBase.m
  src/darwin/CHIPTool/CHIPTool/OnOffCluster/OnOffViewController.m
  src/darwin/Framework/CHIP/CHIPDeviceController.h
  src/darwin/Framework/CHIP/CHIPDeviceController.mm
Labels: none

Restyled by clang-format
  examples/chip-tool/main.cpp
Labels: none

Changed QRCode controller screen so it send the entered Wi-Fi credentials over BLE to the CHIP device. (#1899)
  src/darwin/CHIPTool/CHIPTool/QRCode/QRCodeViewController.m
Labels: none

Updated .gitignore (#1901)
  .gitignore
Labels: repo

.github/labeler.yml:

# Copyright (c) 2020 Project CHIP Authors
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
# http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

############################################################
#  Top Level Labels
############################################################
repo:
    - ./*

############################################################
#  Examples
############################################################
examples:
    - examples/*

############################################################
#  Documentation
############################################################
documentation:
    - docs/*

############################################################
#  Tools + Development Items
############################################################
scripts:
    - scripts/*

integrations:
    - integrations/*

vscode:
    - .vscode
    - .devcontainer

gn:
    - gn/*

github:
    - .github

workflows:
    - .github/workflows/*

tools:
    - tools/*

############################################################
#  Source Code
############################################################
qr code:
    - src/qrcode/*

lwip:
    - src/lwip/*

inet:
    - src/inet/*

config:
    - config/*

lib:
    - src/lib/*

crypto:
    - src/crypto/*

controller:
    - src/controller/*

ble:
    - src/ble/*

android:
    - src/android/*

app:
    - src/app/*

transport:
    - src/transport/*

system:
    - src/system/*

setup payload:
    - src/setup_payload/*

############################################################
#  Platforms
############################################################
platform:
    - src/platform/*

darwin:
    - src/platform/Darwin/*
    - src/darwin/*

efr32:
    - src/platform/EFR32/*

esp32:
    - src/platform/ESP32/*

freeRTOS:
    - src/platform/FreeRTOS/*

k32w:
    - src/platform/K32W/*

linux:
    - src/platform/Linux/*

nrf5:
    - src/platform/nRF5/*

nrf connect:
    - src/platform/nrfconnect/*

openthread:
    - src/platform/openthread/*

zephyr:
    - src/platform/Zephyr/*
