Repository project-chip/connectedhomeip, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, examples, documentation, integrations, docker, vscode, gn, github, workflows, tools, tests, test driver, qr code, lwip, inet, config, lib, core, protocols, messaging, shell, support, crypto, controller, ble, app, icd, transport, system, setup payload, platform, darwin, silabs, esp32, freeRTOS, k32w, linux, nrf connect, openthread, zephyr, telink, tizen

also remove references of bitmap24. Those were removed from the spec
  scripts/py_matter_idl/matter_idl/generators/type_definitions.py
  scripts/py_matter_idl/matter_idl/test_supported_types.py
  src/app/tests/suites/README.md
  src/app/zap-templates/zcl/data-model/chip/chip-types.xml
Labels: app

Zap regen
  zzz_generated/app-common/app-common/zap-generated/attribute-type.h
Labels: none

Updated PICS.yaml and ci-pics-values
  src/app/tests/suites/certification/PICS.yaml
  src/app/tests/suites/certification/ci-pics-values
Labels: app

Improve ICDClientStorage
  src/app/icd/client/DefaultICDClientStorage.cpp
  src/app/icd/client/DefaultICDClientStorage.h
  src/app/icd/client/ICDClientStorage.h
  src/app/tests/TestDefaultICDClientStorage.cpp
Labels: app, icd

Update src/controller/CHIPDeviceController.cpp
  src/controller/CHIPDeviceController.cpp
Labels: controller

Update src/controller/CHIPDeviceController.cpp
  src/controller/CHIPDeviceController.cpp
Labels: controller

[controller] merge ReadCommissioningInfo2 into ReadCommissioningInfo
  src/controller/AutoCommissioner.cpp
  src/controller/CHIPDeviceController.cpp
  src/controller/CHIPDeviceController.h
  src/controller/CommissioningDelegate.h
Labels: controller

address comment
  src/controller/AutoCommissioner.cpp
  src/controller/CHIPDeviceController.cpp
  src/controller/CommissioningDelegate.h
Labels: controller

Update src/controller/CHIPDeviceController.cpp
  src/controller/CHIPDeviceController.cpp
Labels: controller

Update src/controller/CHIPDeviceController.cpp
  src/controller/CHIPDeviceController.cpp
Labels: controller

Restyled by prettier-yaml
  src/app/tests/suites/certification/PICS.yaml
Labels: app

Restyled by whitespace
  src/app/tests/suites/certification/PICS.yaml
Labels: app

Fixed potential buffer overrun in HwSetVehicleID.
  examples/all-clusters-app/all-clusters-common/src/EnergyEvseDelegateImpl.cpp
  examples/energy-management-app/energy-management-common/src/EnergyEvseDelegateImpl.cpp
Labels: none

Fixed potential buffer overrun in HwSetVehicleID.
  examples/all-clusters-app/all-clusters-common/src/EnergyEvseDelegateImpl.cpp
Labels: none

Enable chip-repl to send batch commands (#30851)
  src/controller/python/chip/ChipDeviceCtrl.py
  src/controller/python/chip/clusters/Command.py
  src/controller/python/chip/clusters/command.cpp
  src/controller/python/chip/interaction_model/__init__.py
  src/controller/python/chip/interaction_model/delegate.py
  src/lib/core/BUILD.gn
  src/lib/core/DataModelTypes.h
  src/lib/core/core.gni
Labels: lib, core, controller

refactor Check-In message impl
  src/app/icd/ICDCheckInSender.cpp
  src/app/icd/ICDCheckInSender.h
  src/protocols/secure_channel/CheckinMessage.cpp
  src/protocols/secure_channel/CheckinMessage.h
  src/protocols/secure_channel/tests/TestCheckinMsg.cpp
Labels: protocols, app, icd

.github/labeler.yml:

# Copyright (c) 2020 Project CHIP Authors
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
# http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

############################################################
#  Top Level Labels
############################################################
repo:
    - any:
        - './*'

############################################################
#  Examples
############################################################
examples:
    - any:
        - examples/*
        - examples/**/*

############################################################
#  Documentation
############################################################
documentation:
    - any:
        - docs/*
        - docs/**/*
        - "*.md"

############################################################
#  Tools + Development Items
############################################################
scripts:
    -any:
        - scripts/*
        - scripts/**/*

integrations:
    - any:
        - integrations/*
        - integrations/**/*

docker:
    - any:
        - integrations/docker/*
        - integrations/docker/**/*

vscode:
    - any:
        - .vscode/*
        - .vscode/**/*
        - .devcontainer/*
        - .devcontainer/**/*

gn:
    - any:
        - build/*
        - build/**/*
        - build_overrides/*
        - build_overrides/**/*
        - .gn
        - "*.gn"
        - "*.gni"

github:
    - any:
        - .github
        - .github/*
        - .github/**/*

workflows:
    - any:
        - .github/workflows/*
        - .github/workflows/**/*

tools:
    - any:
        - src/tools/*
        - src/tools/**/*
        - tools/*
        - tools/**/*
        - examples/chip-tool/*
        - examples/chip-tool/**/*

############################################################
#  Tests
############################################################
tests:
    - any:
        - src/python_testing/*
        - src/python_testing/**/*
        - src/app/tests/*
        - src/app/tests/**/*

test driver:
    - any:
        - src/test_driver/*
        - src/test_driver/**/*

############################################################
#  Source Code
############################################################
qr code:
    - src/qrcode/*
    - src/qrcode/**/*
    - src/qrcodetool/*
    - src/qrcodetool/**/*

lwip:
    - src/lwip/*
    - src/lwip/**/*

inet:
    - src/inet/*
    - src/inet/**/*

config:
    - config/*
    - config/**/*

lib:
    - src/lib/*
    - src/lib/**/*

core:
    - src/lib/core/*
    - src/lib/core/**/*

protocols:
    - src/lib/protocols/*
    - src/lib/protocols/**/*
    - src/protocols/*
    - src/protocols/**/*

messaging:
    - src/messaging/*
    - src/messaging/**/*

shell:
    - src/lib/shell/*
    - src/lib/shell/**/*

support:
    - src/lib/support/*
    - src/lib/support/**/*

crypto:
    - src/crypto/*
    - src/crypto/**/*

controller:
    - src/controller/*
    - src/controller/**/*

ble:
    - src/ble/*
    - src/ble/**/*

app:
    - src/app/*
    - src/app/**/*

icd:
    - src/app/icd/*
    - src/app/icd/**/*

transport:
    - src/transport/*
    - src/transport/**/*

system:
    - src/system/*
    - src/system/**/*

setup payload:
    - src/setup_payload/*
    - src/setup_payload/**/*

############################################################
#  Platforms
############################################################
platform:
    - src/platform/*
    - src/platform/**/*
    - config/tizen/chip-gn/platform/*
    - config/tizen/chip-gn/platform/**/*
    - examples/platform/*
    - examples/platform/**/*
    - scripts/tools/memory/platform/*
    - scripts/tools/memory/platform/**/*
    - src/include/platform/*
    - src/include/platform/**/*
    - src/lib/dnssd/platform/*
    - src/lib/dnssd/platform/**/*

darwin:
    - src/platform/Darwin/*
    - src/platform/Darwin/**/*
    - src/darwin/*
    - src/darwin/**/*
    - examples/darwin-framework-tool/*
    - examples/darwin-framework-tool/**/*

silabs:
    - src/platform/silabs/*
    - src/platform/silabs/**/*

esp32:
    - any:
        - src/platform/ESP32/*
        - src/platform/ESP32/**/*

freeRTOS:
    - any:
        - src/platform/FreeRTOS/*
        - src/platform/FreeRTOS/**/*

k32w:
    - any:
        - src/platform/K32W/*
        - src/platform/K32W/**/*

linux:
    - any:
        - src/platform/Linux/*
        - src/platform/Linux/**/*

nrf connect:
    - any:
        - src/platform/nrfconnect/*
        - src/platform/nrfconnect/**/*

openthread:
    - any:
        - src/platform/openthread/*
        - src/platform/openthread/**/*

zephyr:
    - any:
        - src/platform/Zephyr/*
        - src/platform/Zephyr/**/*

telink:
    - any:
        - src/platform/telink/*
        - src/platform/telink/**/*

tizen:
    - any:
        - src/platform/Tizen/*
        - src/platform/Tizen/**/*
