Repository project-chip/connectedhomeip, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, examples, documentation, scripts, integrations, vscode, gn, github, workflows, tools, tests, test driver, qr code, lwip, inet, config, lib, core, protocols, shell, support, crypto, controller, ble, app, transport, system, setup payload, platform, darwin, efr32, esp32, freeRTOS, k32w, linux, nrf connect, openthread, zephyr, telink, tizen

.github/labeler.yml:

# Copyright (c) 2020 Project CHIP Authors
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
# http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

############################################################
#  Top Level Labels
############################################################
repo:
    - ./*

############################################################
#  Examples
############################################################
examples:
    - examples/*
    - examples/**/*

############################################################
#  Documentation
############################################################
documentation:
    - docs/*
    - docs/**/*
    - "*.md"

############################################################
#  Tools + Development Items
############################################################
scripts:
    - scripts/*
    - scripts/**/*

integrations:
    - integrations/*
    - integrations/**/*

vscode:
    - .vscode/*
    - .vscode/**/*
    - .devcontainer/*
    - .devcontainer/**/*

gn:
    - build/*
    - build/**/*
    - build_overrides/*
    - build_overrides/**/*
    - .gn
    - "*.gn"
    - "*.gni"

github:
    - .github
    - .github/*
    - .github/**/*

workflows:
    - .github/workflows/*
    - .github/workflows/**/*

tools:
    - src/tools/*
    - src/tools/**/*
    - tools/*
    - tools/**/*
    - examples/chip-tool/*
    - examples/chip-tool/**/*

############################################################
#  Tests
############################################################
tests:
    - src/app/tests/*
    - src/app/tests/**/*

test driver:
    - src/test_driver/*
    - src/test_driver/**/*

############################################################
#  Source Code
############################################################
qr code:
    - src/qrcode/*
    - src/qrcode/**/*
    - src/qrcodetool/*
    - src/qrcodetool/**/*

lwip:
    - src/lwip/*
    - src/lwip/**/*

inet:
    - src/inet/*
    - src/inet/**/*

config:
    - config/*
    - config/**/*

lib:
    - src/lib/*
    - src/lib/**/*

core:
    - src/lib/core/*
    - src/lib/core/**/*

protocols:
    - src/lib/protocols/*
    - src/lib/protocols/**/*

shell:
    - src/lib/shell/*
    - src/lib/shell/**/*

support:
    - src/lib/support/*
    - src/lib/support/**/*

crypto:
    - src/crypto/*
    - src/crypto/**/*

controller:
    - src/controller/*
    - src/controller/**/*

ble:
    - src/ble/*
    - src/ble/**/*

app:
    - src/app/*
    - src/app/**/*

transport:
    - src/transport/*
    - src/transport/**/*

system:
    - src/system/*
    - src/system/**/*

setup payload:
    - src/setup_payload/*
    - src/setup_payload/**/*

############################################################
#  Platforms
############################################################
platform:
    - src/platform/*
    - src/platform/**/*
    - config/tizen/chip-gn/platform/*
    - config/tizen/chip-gn/platform/**/*
    - examples/platform/*
    - examples/platform/**/*
    - scripts/tools/memory/platform/*
    - scripts/tools/memory/platform/**/*
    - src/include/platform/*
    - src/include/platform/**/*
    - src/lib/dnssd/platform/*
    - src/lib/dnssd/platform/**/*

darwin:
    - src/platform/Darwin/*
    - src/platform/Darwin/**/*
    - src/darwin/*
    - src/darwin/**/*
    - examples/darwin-framework-tool/*
    - examples/darwin-framework-tool/**/*

efr32:
    - src/platform/EFR32/*
    - src/platform/EFR32/**/*

esp32:
    - src/platform/ESP32/*
    - src/platform/ESP32/**/*

freeRTOS:
    - src/platform/FreeRTOS/*
    - src/platform/FreeRTOS/**/*

k32w:
    - src/platform/K32W/*
    - src/platform/K32W/**/*

linux:
    - src/platform/Linux/*
    - src/platform/Linux/**/*

nrf connect:
    - src/platform/nrfconnect/*
    - src/platform/nrfconnect/**/*

openthread:
    - src/platform/openthread/*
    - src/platform/openthread/**/*

zephyr:
    - src/platform/Zephyr/*
    - src/platform/Zephyr/**/*

telink:
    - src/platform/telink/*
    - src/platform/telink/**/*

tizen:
    - src/platform/Tizen/*
    - src/platform/Tizen/**/*

Rewrite OnScanComplete to make it more readable.
  src/controller/python/chip/ble/LinuxImpl.cpp
  src/controller/python/chip/ble/darwin/Scanning.mm
  src/platform/Linux/BLEManagerImpl.cpp
  src/platform/Tizen/BLEManagerImpl.cpp
  src/platform/Tizen/BLEManagerImpl.h
  src/platform/Tizen/ChipDeviceScanner.cpp
  src/platform/Tizen/ChipDeviceScanner.h
  src/platform/webos/BLEManagerImpl.cpp
  src/platform/webos/BLEManagerImpl.h
  src/platform/webos/ChipDeviceScanner.cpp
  src/platform/webos/ChipDeviceScanner.h
Labels: controller, platform, linux, tizen

Add missing override
  src/platform/Linux/BLEManagerImpl.h
Labels: platform, linux

Style fix
  src/platform/webos/BLEManagerImpl.cpp
Labels: platform

Update readme.md for toolchain installation
  examples/lighting-app/bouffalolab/README.md
  examples/lighting-app/bouffalolab/bl602/README.md
  examples/lighting-app/bouffalolab/bl702/README.md
Labels: examples

Fix restyle
  scripts/examples/gn_bl602_example.sh
  src/platform/bouffalolab/BL602/lwip_default_hooks.h
Labels: scripts, platform

Added ti requirements for building OTA files
  scripts/requirements.ti.txt
  scripts/requirements.txt
Labels: scripts

Correct comment name
  scripts/requirements.txt
Labels: scripts

Added feature map to pump xml, updated server and zap regen all
  examples/all-clusters-app/all-clusters-common/all-clusters-app.matter
  examples/all-clusters-minimal-app/all-clusters-common/all-clusters-minimal-app.matter
  examples/placeholder/linux/apps/app1/config.matter
  examples/placeholder/linux/apps/app2/config.matter
  examples/pump-app/pump-common/pump-app.matter
  examples/pump-app/pump-common/pump-app.zap
  examples/pump-controller-app/pump-controller-common/pump-controller-app.matter
  src/app/clusters/pump-configuration-and-control-server/pump-configuration-and-control-server.cpp
  src/app/zap-templates/zcl/data-model/chip/pump-configuration-and-control-cluster.xml
  src/controller/data_model/controller-clusters.matter
  src/darwin/Framework/CHIP/zap-generated/MTRBaseClusters.h
  zzz_generated/app-common/app-common/zap-generated/cluster-enums.h
  zzz_generated/app-common/app-common/zap-generated/enums.h
  zzz_generated/pump-app/zap-generated/endpoint_config.h
Labels: examples, controller, app, darwin

[Telink] Migrate to Telink Zephyr BLE implementation
  .gitmodules
  build_overrides/telink.gni
  config/telink/app/zephyr.conf
  config/telink/chip-gn/BUILD.gn
  config/telink/chip-module/CMakeLists.txt
  config/telink/chip-module/Kconfig
  src/platform/Zephyr/CHIPDevicePlatformEvent.h
  src/platform/telink/BLEManagerImpl.cpp
  src/platform/telink/BLEManagerImpl.h
  src/platform/telink/BUILD.gn
  src/platform/telink/BlePlatformConfig.h
  src/platform/telink/CHIPDevicePlatformEvent.h
  third_party/telink_sdk/BUILD.gn
Labels: repo, gn, config, platform, zephyr, telink

[Telink] Rework to generic build configuration
  config/telink/app/zephyr.conf
  config/telink/chip-gn/BUILD.gn
  config/telink/chip-module/CMakeLists.txt
  examples/all-clusters-app/telink/CMakeLists.txt
  examples/all-clusters-minimal-app/telink/CMakeLists.txt
  examples/light-switch-app/telink/CMakeLists.txt
  examples/lighting-app/telink/CMakeLists.txt
  examples/lighting-app/telink/include/CHIPProjectConfig.h
  examples/thermostat/telink/CMakeLists.txt
  src/platform/telink/BUILD.gn
  src/platform/telink/CHIPDevicePlatformConfig.h
  src/platform/telink/CHIPPlatformConfig.h
Labels: examples, config, platform, telink

Update Dockerfile
  integrations/docker/images/chip-build-ameba/Dockerfile
Labels: integrations

Update version
  integrations/docker/images/chip-build/version
Labels: integrations

update unit intergration test
  scripts/build/test.py
  scripts/build/testdata/build_all_except_host.txt
Labels: scripts

fix unit intergration test
  scripts/build/testdata/build_all_except_host.txt
Labels: scripts

[Telink] Fix problems for all apps after rebase Zephyr
  config/telink/app/zephyr.conf
  config/telink/chip-module/CMakeLists.txt
  examples/all-clusters-app/telink/include/CHIPProjectConfig.h
  examples/all-clusters-app/telink/prj.conf
  examples/all-clusters-minimal-app/telink/include/CHIPProjectConfig.h
  examples/all-clusters-minimal-app/telink/prj.conf
  examples/light-switch-app/telink/include/CHIPProjectConfig.h
  examples/light-switch-app/telink/prj.conf
  examples/lighting-app/telink/prj.conf
  examples/lighting-app/telink/src/LightingManager.cpp
  examples/thermostat/telink/include/CHIPProjectConfig.h
  examples/thermostat/telink/prj.conf
  src/controller/AutoCommissioner.cpp
  src/platform/telink/BLEManagerImpl.cpp
  src/platform/telink/FactoryDataProvider.h
  src/platform/telink/OTAImageProcessorImpl.cpp
Labels: examples, config, controller, platform, telink

[Telink] Telink update to latest Zephyr with BLE impl & Update every image to 0.6.17
  .devcontainer/devcontainer.json
  .github/workflows/bloat_check.yaml
  .github/workflows/build.yaml
  .github/workflows/chef.yaml
  .github/workflows/cirque.yaml
  .github/workflows/doxygen.yaml
  .github/workflows/examples-ameba.yaml
  .github/workflows/examples-bouffalolab.yaml
  .github/workflows/examples-cc13x2x7_26x2x7.yaml
  .github/workflows/examples-efr32.yaml
  .github/workflows/examples-esp32.yaml
  .github/workflows/examples-infineon.yaml
  .github/workflows/examples-k32w.yaml
  .github/workflows/examples-linux-arm.yaml
  .github/workflows/examples-linux-imx.yaml
  .github/workflows/examples-linux-standalone.yaml
  .github/workflows/examples-mbed.yaml
  .github/workflows/examples-mw320.yaml
  .github/workflows/examples-nrfconnect.yaml
  .github/workflows/examples-qpg.yaml
  .github/workflows/examples-telink.yaml
  .github/workflows/examples-tizen.yaml
  .github/workflows/full-android.yaml
  .github/workflows/fuzzing-build.yaml
  .github/workflows/lint.yml
  .github/workflows/qemu.yaml
  .github/workflows/release_artifacts.yaml
  .github/workflows/smoketest-android.yaml
  .github/workflows/tests.yaml
  .github/workflows/unit_integration_test.yaml
  .github/workflows/zap_regeneration.yaml
  .github/workflows/zap_templates.yaml
  integrations/cloudbuild/build-all.yaml
  integrations/cloudbuild/build-coverage.yaml
  integrations/cloudbuild/chef.yaml
  integrations/cloudbuild/smoke-test.yaml
Labels: integrations, vscode, github, workflows

[Telink] Restyle
  src/platform/telink/BLEManagerImpl.cpp
  src/platform/telink/FactoryDataProvider.h
  src/platform/telink/OTAImageProcessorImpl.cpp
Labels: platform, telink

Update docstring
  src/controller/python/chip/yaml/parser.py
Labels: controller

Fix illegal doc comment split
  docs/code_generation.md
Labels: documentation

Code pre-generation support (#23763)
  .github/workflows/build.yaml
  .github/workflows/examples-esp32.yaml
  build/chip/chip_codegen.cmake
  build/chip/chip_codegen.gni
  config/esp32/components/chip/CMakeLists.txt
  docs/code_generation.md
  scripts/build/build_examples.py
  scripts/build/builders/builder.py
  scripts/build/builders/esp32.py
  scripts/build/builders/gn.py
  scripts/build/builders/mbed.py
  scripts/build/builders/nrf.py
  scripts/build/builders/telink.py
  scripts/codepregen.py
  scripts/pregenerate/__init__.py
  scripts/pregenerate/pregenerators.py
  scripts/pregenerate/types.py
  src/app/chip_data_model.gni
  src/controller/data_model/BUILD.gn
Labels: documentation, scripts, gn, github, workflows, config, controller, app

[Bouffalolab] Fix BL602 IPv6 address generation failure (#23821)
  src/platform/bouffalolab/BL602/lwip_default_hooks.h
  third_party/bouffalolab/bl602/bl602_sdk.gni
Labels: platform

[Telink] reverted to using default shell commands set
  examples/lighting-app/telink/src/AppTask.cpp
Labels: examples

[Bouffalolab] Cherry-pick: Fix BL602 IPv6 address generation failure (#23790)
  .github/workflows/examples-bl602.yaml
  .github/workflows/examples-bouffalolab.yaml
  .gitmodules
  build_overrides/bouffalolab_iot_sdk.gni
  examples/build_overrides/bouffalolab_iot_sdk.gni
  examples/lighting-app/bouffalolab/bl602/BUILD.gn
  examples/lighting-app/bouffalolab/bl602/README.md
  examples/lighting-app/bouffalolab/bl602/src/AppTask.cpp
  examples/lighting-app/bouffalolab/bl702/README.md
  examples/platform/bouffalolab/common/toolchain/riscv_toolchain.gni
  scripts/build/build/targets.py
  scripts/build/builders/bl602.py
  scripts/build/builders/bouffalolab.py
  scripts/build/test.py
  scripts/build/testdata/all_targets_except_host.txt
  scripts/build/testdata/build_all_except_host.txt
  scripts/build/testdata/glob_star_targets_except_host.txt
  scripts/examples/gn_bl602_example.sh
  scripts/examples/gn_bouffalolab_example.sh
  src/platform/bouffalolab/BL602/lwip_default_hooks.h
  third_party/bouffalolab/bl602/bl602_executable.gni
  third_party/bouffalolab/bl602/bl602_sdk.gni
  third_party/bouffalolab/bl602/portable/bfl_main.c
  third_party/bouffalolab/bl702/bl702_executable.gni
Labels: repo, examples, scripts, gn, github, workflows, platform

Move Level Control OnOff feature check into OnOff cluster. (#23820)
  src/app/clusters/level-control/level-control.cpp
  src/app/clusters/level-control/level-control.h
  src/app/clusters/on-off-server/on-off-server.cpp
Labels: app

Replace == false if conditions with `!` (#23814)
  src/platform/Darwin/BUILD.gn
  src/system/system.gni
Labels: system, platform, darwin

[Telink] code review fixes
  src/controller/AutoCommissioner.cpp
  src/platform/telink/BLEManagerImpl.cpp
  src/platform/telink/BLEManagerImpl.h
  src/platform/telink/BlePlatformConfig.h
Labels: controller, platform, telink

Fix illegal doc comment split (#23828)
  docs/code_generation.md
Labels: documentation

[cc13x2x7_26x2x7] Fix broken OTA building on TI platform (#23822)
  scripts/requirements.ti.txt
  scripts/requirements.txt
Labels: scripts

Spell checks corrected
  examples/platform/silabs/SiWx917/SiWx917/hal/rsi_hal_mcu_rtc.c
  examples/platform/silabs/SiWx917/SiWx917/rsi_if.c
  examples/platform/silabs/SiWx917/SiWx917/wfx_rsidev.c
Labels: examples, platform

Add asUpperCamelCase and asLowerCamelCase as jinja filters that should be equivalent to zap
  scripts/idl/BUILD.gn
  scripts/idl/generators/filters.py
  scripts/idl/generators/test_filters.py
Labels: scripts

Restyle
  scripts/idl/generators/filters.py
Labels: scripts

Also add asLowerCamelCase to a filter
  scripts/idl/generators/filters.py
Labels: scripts

add a skip-build argument to build.sh, to allow pushing without building, assuming an image is already built
  integrations/docker/build.sh
Labels: integrations

Update download link properly for Infineon PSoC6 Script
  scripts/examples/gn_psoc6_example.sh
Labels: scripts

Restyle
  integrations/docker/build.sh
Labels: integrations

Fix conditional
  integrations/docker/build.sh
Labels: integrations

Fix -Wsign-conversion report in OpenSSL usage
  src/crypto/CHIPCryptoPALOpenSSL.cpp
Labels: crypto

Update download link properly for Infineon PSoC6 Script (#23837)
  scripts/examples/gn_psoc6_example.sh
Labels: scripts

Address PR comments
  scripts/tests/chiptest/python_yaml_tester.py
Labels: scripts

Remove test exit with error and addressing another PR comment
  scripts/tests/chiptest/python_yaml_tester.py
Labels: scripts
