Repository project-chip/connectedhomeip, pull requests merged in 2020-10, with the labels that each got.

#2955 Stop using size_t in PacketBuffer API.
  src/system/SystemPacketBuffer.cpp
  src/system/SystemPacketBuffer.h
Labels: system

#2962 Typo x 3: '=' should be '=='
  src/transport/tests/TestMessageHeader.cpp
Labels: transport

#2930 Update PR template to catch common mistakes
  .github/PULL_REQUEST_TEMPLATE.md
Labels: github

#2921 Add Identify support to the darwin Framework
  src/darwin/Framework/CHIP/CHIPDeviceController.h
  src/darwin/Framework/CHIP/CHIPDeviceController.mm
  src/transport/SecurePairingSession.h
Labels: darwin, transport

#2986 Make src/system compile with -Werror=conversion
  src/platform/EFR32/SystemPlatformConfig.h
  src/platform/ESP32/SystemPlatformConfig.h
  src/platform/K32W/SystemPlatformConfig.h
  src/platform/nRF5/SystemPlatformConfig.h
  src/system/BUILD.gn
  src/system/SystemClock.cpp
  src/system/SystemError.cpp
  src/system/SystemLayer.cpp
  src/system/SystemPacketBuffer.cpp
  src/system/SystemStats.cpp
  src/system/SystemWakeEvent.cpp
  src/system/tests/BUILD.gn
  src/system/tests/TestSystemObject.cpp
  src/system/tests/TestSystemPacketBuffer.cpp
Labels: efr32, esp32, k32w, nrf5, platform, system

#2960 [EFR apps] Fix issues building and running apps for a EFRMG21 based board
  examples/platform/efr32/init_otSystem.c
  third_party/efr32_sdk/efr32_sdk.gni
Labels: examples

#2917 Add -Wl,-z,-defs to ldflags on Linux & Android
  gn/build/config/compiler/BUILD.gn
Labels: gn

#2997 Re-introduce codeowners config for 'android' label
  .pullapprove.yml
Labels: hotfix

#3000 Update .pullapprove.yml
  .pullapprove.yml
Labels: hotfix

#2993 Update submodules in Xcode builds
  src/darwin/Framework/chip_xcode_build_connector.sh
Labels: darwin, github

#2996 Remove extra chip topo in python BUILD.gn
  src/controller/python/BUILD.gn
Labels: controller

#2925 Implement missing parts for WiFi station methods in ConnectivityManager
  src/platform/Linux/ConnectivityManagerImpl.cpp
  src/platform/Linux/ConnectivityManagerImpl.h
Labels: linux, platform

#2991 Add initial python corebluetooth manager for device controller for test
  src/controller/python/BUILD.gn
  src/controller/python/ChipDeviceController-BlePlatformDelegate.h
  src/controller/python/chip-device-ctrl.py
  src/controller/python/chip/ChipBleUtility.py
  src/controller/python/chip/ChipCoreBluetoothMgr.py
Labels: controller, gn, linux, platform, scripts

#3006 Suppress build-chip-wheel log
  src/controller/python/BUILD.gn
Labels: controller

#3004 Fix Android release build after enabling -Wl,-z,defs
  src/lwip/BUILD.gn
  src/lwip/standalone/sys_arch.c
Labels: lwip

#1969 ESP32: Add optional NimBLE support for BLE transport
  examples/wifi-echo/server/esp32/sdkconfig.defaults
  examples/wifi-echo/server/esp32/sdkconfig_devkit.defaults
  examples/wifi-echo/server/esp32/sdkconfig_m5stack.defaults
  src/platform/BUILD.gn
  src/platform/ESP32/BLEManagerImpl.h
  src/platform/ESP32/bluedroid/BLEManagerImpl.cpp
  src/platform/ESP32/nimble/BLEManagerImpl.cpp
Labels: esp32, examples, platform

#2915 Use Chip event inside emberAfEventControlSetDelayMS
  examples/wifi-echo/server/esp32/main/gen/af-gen-event.h
  src/app/clusters/color-control-server/color-control-server.c
  src/app/clusters/door-lock-server/door-lock-server-user.c
  src/app/clusters/ias-zone-server/ias-zone-server.c
  src/app/reporting/reporting.c
  src/app/util/af-event.cpp
  src/app/util/af-event.h
  src/app/util/util.c
Labels: app, examples

#2892 Simplified configuration of samples for NCS.
  config/nrfconnect/Kconfig
  config/nrfconnect/overlay-sample-defaults.conf
  examples/lighting-app/nrfconnect/CMakeLists.txt
  examples/lighting-app/nrfconnect/prj.conf
  examples/lock-app/nrfconnect/CMakeLists.txt
  examples/lock-app/nrfconnect/prj.conf
  examples/shell/nrfconnect/CMakeLists.txt
  examples/shell/nrfconnect/prj.conf
Labels: config, examples

#3002 python: Fix missing inputs in packaging step
  src/controller/python/BUILD.gn
Labels: controller

#2911 Get the virtual led to blink for a number of seconds when an Identify…
  examples/wifi-echo/server/esp32/main/DeviceCallbacks.cpp
  examples/wifi-echo/server/esp32/main/EchoDeviceCallbacks.cpp
  examples/wifi-echo/server/esp32/main/include/DeviceCallbacks.h
  examples/wifi-echo/server/esp32/main/wifi-echo.cpp
Labels: examples

#3008 Cluster add temperature measurement
  examples/wifi-echo/server/esp32/main/component.mk
  examples/wifi-echo/server/esp32/main/gen/af-gen-event.h
  examples/wifi-echo/server/esp32/main/gen/call-command-handler.c
  examples/wifi-echo/server/esp32/main/gen/endpoint_config.h
  examples/wifi-echo/server/esp32/main/gen/gen_config.h
  src/app/clusters/temperature-measurement-server/temperature-measurement-server.c
Labels: app, examples

#3011 Doxygen ci
  .github/workflows/doxygen.yaml
  docs/Doxyfile
  docs/STYLE_GUIDE.md
  scripts/helpers/doxygen.sh
  src/platform/Darwin/ConfigurationManagerImpl.h
  src/platform/Darwin/PlatformManagerImpl.h
  src/platform/EFR32/ConfigurationManagerImpl.h
  src/platform/EFR32/PlatformManagerImpl.h
  src/platform/EFR32/ThreadStackManagerImpl.h
  src/platform/ESP32/ConfigurationManagerImpl.h
  src/platform/ESP32/PlatformManagerImpl.h
  src/platform/K32W/ConfigurationManagerImpl.h
  src/platform/K32W/PlatformManagerImpl.h
  src/platform/K32W/ThreadStackManagerImpl.h
  src/platform/Linux/ConfigurationManagerImpl.h
  src/platform/Linux/PlatformManagerImpl.h
  src/platform/nRF5/ConfigurationManagerImpl.h
  src/platform/nRF5/PlatformManagerImpl.h
  src/platform/nRF5/ThreadStackManagerImpl.h
  src/platform/nrfconnect/ConfigurationManagerImpl.h
  src/platform/nrfconnect/PlatformManagerImpl.h
  src/platform/nrfconnect/ThreadStackManagerImpl.h
  src/system/SystemConfig.h
  src/transport/SecureSession.h
  src/transport/SecureSessionMgr.h
  src/transport/raw/MessageHeader.cpp
  src/transport/raw/MessageHeader.h
Labels: darwin, documentation, efr32, esp32, github, k32w, linux, nrf connect, nrf5, platform, scripts, system, transport, workflows

#3009 Cluster: Add Temperature Measurement commands to chip-tool and src/app
  examples/chip-tool/commands/clusters/TemperatureMeasurement/Commands.h
  examples/chip-tool/commands/common/Commands.cpp
  examples/chip-tool/commands/common/ModelCommand.cpp
  examples/chip-tool/main.cpp
  src/app/chip-zcl-zpro-codec.h
  src/app/encoder.cpp
Labels: app, examples

#3024 Add missing symbols to Temperature Measurement Server
  src/app/clusters/temperature-measurement-server/temperature-measurement-server.c
Labels: app

#3015 Remove some 'using namespace' from headers.
  examples/chip-tool/commands/clusters/Identify/Commands.h
  examples/chip-tool/commands/common/EchoCommand.h
  examples/chip-tool/commands/common/ModelCommand.h
  examples/chip-tool/commands/common/NetworkCommand.cpp
  examples/chip-tool/commands/common/NetworkCommand.h
  examples/common/chip-app-server/include/RendezvousServer.h
  examples/wifi-echo/server/esp32/main/RendezvousDeviceDelegate.cpp
  examples/wifi-echo/server/esp32/main/include/RendezvousDeviceDelegate.h
  examples/wifi-echo/server/esp32/main/include/RendezvousMessageHandler.h
  scripts/examples/esp_echo_app.sh
  src/controller/CHIPDeviceController.cpp
  src/controller/CHIPDeviceController.h
  src/controller/java/CHIPDeviceController-JNI.cpp
  src/controller/python/ChipDeviceController-ScriptBinding.cpp
  src/include/platform/ThreadStackManager.h
  src/include/platform/internal/GenericConnectivityManagerImpl_BLE.h
  src/inet/tests/TestInetCommon.cpp
  src/lib/core/CHIPCore.h
  src/lib/message/CHIPBinding.cpp
  src/lib/message/CHIPBinding.h
  src/lib/message/CHIPConnection.cpp
  src/lib/message/CHIPExchangeMgr.cpp
  src/lib/message/CHIPExchangeMgr.h
  src/lib/message/CHIPFabricState.cpp
  src/lib/message/CHIPFabricState.h
  src/lib/message/CHIPMessageLayer.cpp
  src/lib/message/CHIPMessageLayer.h
  src/lib/message/CHIPSecurityMgr.cpp
  src/lib/message/CHIPSecurityMgr.h
  src/lib/message/ExchangeContext.cpp
  src/lib/protocols/fabric-provisioning/FabricProvisioning.h
  src/platform/Darwin/BleApplicationDelegate.h
  src/platform/Darwin/BlePlatformDelegate.h
  src/platform/EFR32/BLEManagerImpl.h
  src/platform/EFR32/ConnectivityManagerImpl.cpp
  src/platform/ESP32/BLEManagerImpl.h
  src/platform/ESP32/ConnectivityManagerImpl.cpp
  src/platform/GeneralUtils.cpp
  src/platform/K32W/BLEManagerImpl.h
  src/platform/K32W/ConnectivityManagerImpl.cpp
  src/platform/Linux/BLEManagerImpl.h
  src/platform/OpenThread/GenericThreadStackManagerImpl_OpenThread.h
  src/platform/nRF5/BLEManagerImpl.h
  src/platform/nRF5/ConnectivityManagerImpl.cpp
  src/transport/BLE.cpp
  src/transport/BLE.h
  src/transport/RendezvousSession.cpp
  src/transport/RendezvousSession.h
  src/transport/SecureSessionMgr.cpp
  src/transport/SecureSessionMgr.h
  src/transport/raw/TCP.cpp
  src/transport/raw/TCP.h
  src/transport/raw/UDP.cpp
  src/transport/raw/UDP.h
  src/transport/raw/tests/TestTCP.cpp
  src/transport/raw/tests/TestUDP.cpp
  src/transport/tests/TestSecureSessionMgr.cpp
Labels: app, controller, darwin, examples, inet, lib, openthread, platform, scripts, transport

#3012 ChipTool: Make the ShowUsage output grouped by clusters
  examples/chip-tool/commands/clusters/Identify/Commands.h
  examples/chip-tool/commands/clusters/OnOff/Commands.h
  examples/chip-tool/commands/clusters/TemperatureMeasurement/Commands.h
  examples/chip-tool/commands/common/Command.h
  examples/chip-tool/commands/common/Commands.cpp
  examples/chip-tool/commands/common/Commands.h
  examples/chip-tool/commands/echo/Commands.h
  examples/chip-tool/main.cpp
Labels: examples

#3018 Configure python module builds to be optional.
  BUILD.gn
  lgtm.yml
Labels: esp32, linux, platform

#3029 Followup for #3015 - Add Ble namespace for BleApplicationDelegate
  src/platform/Darwin/BleApplicationDelegate.h
Labels: darwin, platform

#3026 Refactor scopedbuffer for more typesafety
  src/lib/support/ScopedBuffer.h
  src/lib/support/tests/TestScopedBuffer.cpp
  src/platform/Linux/CHIPLinuxStorage.cpp
  src/platform/Linux/CHIPLinuxStorageIni.cpp
  src/platform/Linux/CHIPLinuxStorageIni.h
Labels: lib, linux, platform

#2963 Add BLE scan and connection after QR Code
  src/android/CHIPTool/README.md
  src/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/bluetooth/BluetoothManager.kt
  src/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/setuppayloadscanner/CHIPDeviceDetailsFragment.kt
Labels: android

#2792 Cluster add color control commands
  examples/chip-tool/commands/clusters/ColorControl/Commands.h
  examples/chip-tool/main.cpp
  src/app/chip-zcl-zpro-codec.h
  src/app/encoder.cpp
Labels: app, examples

#2918 Catch and avoid using CHIPMem.h uninitialized
  src/lib/support/CHIPMem-Malloc.cpp
  src/lib/support/tests/TestCHIPMem.cpp
  src/platform/tests/TestConfigurationMgr.cpp
  src/platform/tests/TestPlatformMgr.cpp
Labels: lib, platform

#3050 Make sure scoped buffer test test calls Platform::MemoryInit
  src/lib/support/tests/TestScopedBuffer.cpp
Labels: hotfix, lib

#2858 [nrf5-examples] Initial commit for CHIP CLI on nRF5 lighting example app
  examples/lighting-app/nrf5/BUILD.gn
  examples/lighting-app/nrf5/main/AppTask.cpp
  examples/lighting-app/nrf5/main/LightingCLI.cpp
  examples/lighting-app/nrf5/main/include/AppEvent.h
  examples/lighting-app/nrf5/main/include/AppTask.h
  examples/lighting-app/nrf5/main/include/LightingCLI.h
  examples/lighting-app/nrf5/main/include/app_config.h
  examples/platform/nrf528xx/app/chipinit.cpp
  examples/platform/nrf528xx/app/project_include/OpenThreadConfig.h
  examples/platform/nrf528xx/util/streamer/streamer_nrf5.cpp
  examples/shell/BUILD.gn
  examples/shell/main.cpp
  examples/shell/nrfconnect/CMakeLists.txt
  examples/shell/shell_common/BUILD.gn
  examples/shell/shell_common/cmd_base64.cpp
  examples/shell/shell_common/cmd_btp.cpp
  examples/shell/shell_common/cmd_device.cpp
  examples/shell/shell_common/cmd_misc.cpp
  examples/shell/shell_common/cmd_otcli.cpp
  examples/shell/shell_common/include/ChipShellCollection.h
  src/platform/OpenThread/GenericThreadStackManagerImpl_OpenThread.ipp
Labels: examples, openthread, platform

#3033 Fix incremental builds on Mac
  gn/chip/python_gen_tags.py
Labels: darwin, gn, platform

#3031 Fix nondeterminism in python build
  src/controller/python/BUILD.gn
  src/controller/python/ChipDeviceController-ScriptBinding.cpp
  src/controller/python/build-chip-wheel.py
Labels: controller

#3049 Add Basic cluster commands to chip-tool and src/app/
  examples/chip-tool/commands/clusters/Basic/Commands.h
  examples/chip-tool/main.cpp
  src/app/chip-zcl-zpro-codec.h
  src/app/encoder.cpp
Labels: app, examples

#3048 Fix length check for bloat compare results.
  scripts/helpers/bloat_check.py
Labels: scripts

#3044 Make ScopedMemoryBuffer a bit easier/safer to use.
  src/lib/support/ScopedBuffer.h
  src/lib/support/tests/TestScopedBuffer.cpp
  src/platform/Linux/CHIPLinuxStorage.cpp
  src/platform/Linux/CHIPLinuxStorageIni.cpp
  src/platform/nRF5/GroupKeyStoreImpl.cpp
Labels: lib, linux, nrf5, platform

#3037 clang-tidy: Apply fixes "performance-unnecessary-value-param"
  src/setup_payload/ManualSetupPayloadParser.cpp
  src/setup_payload/ManualSetupPayloadParser.h
  src/setup_payload/QRCodeSetupPayloadParser.h
  src/setup_payload/SetupPayload.cpp
  src/setup_payload/SetupPayloadHelper.cpp
  src/setup_payload/tests/TestManualCode.cpp
Labels: setup payload

#3043 clang-tidy: Apply fixes "readability-non-const-parameter"
  src/app/chip-zcl-zpro-codec.h
  src/app/encoder.cpp
  src/setup_payload/QRCodeSetupPayloadGenerator.cpp
Labels: app, setup payload

#3042 clang-tidy: Apply fixes "readability-simplify-boolean-expr"
  src/crypto/CHIPCryptoPALOpenSSL.cpp
  src/inet/tests/TestInetAddress.cpp
  src/lib/message/CHIPMessageLayer.cpp
  src/platform/Linux/CHIPBluezHelper.cpp
  src/platform/Linux/CHIPLinuxStorage.cpp
  src/platform/Linux/CHIPLinuxStorageIni.cpp
  src/platform/Linux/PosixConfig.cpp
  src/transport/RendezvousSession.cpp
Labels: crypto, inet, lib, linux, platform, transport

#3040 clang-tidy: Apply fixes "performance-for-range-copy"
  src/setup_payload/SetupPayload.cpp
Labels: setup payload

#3036 clang-tidy: Apply fixes "readability-container-size-empty"
  src/setup_payload/QRCodeSetupPayloadGenerator.cpp
  src/setup_payload/tests/TestManualCode.cpp
  src/setup_payload/tests/TestQRCode.cpp
  src/setup_payload/tests/TestQRCodeTLV.cpp
Labels: setup payload

#3060 Fix check for an empty bloat report to actually catch empty bloat reports
  scripts/helpers/bloat_check.py
Labels: scripts

#3059 Remove the echo client code on the M5Stack demo
  examples/wifi-echo/server/esp32/main/EchoClient.cpp
  examples/wifi-echo/server/esp32/main/Kconfig.projbuild
  examples/wifi-echo/server/esp32/main/wifi-echo.cpp
Labels: examples

#3065 Undefined symbols: _cmd_otcli_init, referenced from: _main in chip-sh…
  examples/shell/shell_common/cmd_otcli.cpp
Labels: examples, hotfix

#3085 ABORT: chip::Platform::MemoryAlloc() called before chip::Platform::Me…
  examples/wifi-echo/server/esp32/main/CHIPDeviceManager.cpp
Labels: examples, hotfix

#3084 clang-tidy: Apply fixes "readability-avoid-const-params-in-decls"
  src/ble/BleConnectionDelegate.h
  src/ble/BleLayer.h
  src/crypto/CHIPCryptoPAL.h
  src/include/platform/SoftwareUpdateManager.h
  src/include/platform/internal/GenericSoftwareUpdateManagerImpl.h
  src/inet/TCPEndPoint.h
  src/lib/core/CHIPTLVDebug.hpp
  src/lib/core/CHIPTLVUtilities.hpp
  src/lib/message/CHIPBinding.h
  src/lib/message/CHIPExchangeMgr.h
  src/lib/message/CHIPMessageLayer.h
  src/lib/support/PersistedCounter.h
  src/platform/Linux/BLEManagerImpl.h
  src/system/SystemLayer.h
  src/transport/BLE.h
  src/transport/SecureSession.h
  src/transport/raw/MessageHeader.h
Labels: ble, crypto, inet, lib, linux, platform, system, transport

#3083 clang-tidy: Apply fixes "readability-redundant-member-init"
  src/lib/support/PersistedCounter.cpp
  src/transport/SecurePairingSession.h
Labels: lib, transport

#3080 clang-tidy: Apply fixes "readability-static-definition-in-anon[...]"
  src/transport/retransmit/tests/TestCache.cpp
  src/transport/tests/TestSecureSessionMgr.cpp
Labels: transport

#3068 Remove automake bits from gitignore
  .gitignore
  examples/lock-app/nrfconnect/.gitignore
  examples/wifi-echo/server/esp32/.gitignore
  src/test_driver/esp32/.gitignore
Labels: examples

#3032 Moving over to native GitHub CodeQL
  .devcontainer/devcontainer.json
  .github/workflows/build.yaml
  .github/workflows/examples-gn.yml
  .github/workflows/examples.yaml
Labels: github, vscode, workflows

#3086 [nrf5] Add information about platform being deprecated
  examples/lighting-app/nrf5/README.md
  examples/lock-app/nrf5/README.md
Labels: examples, nrf5, platform

#3077 Force scripts to run with python3
  .gn
  gn/chip/python_gen_tags.py
Labels: gn

#3055 Remove more autotools files
  README.md
  bootstrap-configure
  scripts/build/bootstrap.sh
  scripts/make/java.mk
  scripts/test-driver.sh
Labels: scripts

#3082 clang-tidy: Apply fixes "readability-redundant-access-specifiers"
  src/ble/BLEEndPoint.h
  src/ble/BleLayer.h
  src/ble/BtpEngine.h
  src/include/platform/internal/GenericSoftwareUpdateManagerImpl.h
  src/inet/IPEndPointBasis.h
  src/lib/core/CHIPTLV.h
Labels: ble, inet, lib

#3091 ChipTool: Remove default values for commands and pass them as paramet…
  examples/chip-tool/commands/clusters/ColorControl/Commands.h
  examples/chip-tool/commands/clusters/Identify/Commands.h
  examples/chip-tool/commands/common/Command.cpp
  examples/chip-tool/commands/common/Command.h
  examples/chip-tool/commands/common/Commands.cpp
Labels: examples

#3056 Add ResetToFactoryDefaults callback to the examples/wifi-echo applica…
  examples/wifi-echo/server/esp32/main/CHIPDeviceManager.cpp
  examples/wifi-echo/server/esp32/main/DeviceCallbacks.cpp
  examples/wifi-echo/server/esp32/main/gen/callback-stub.c
  examples/wifi-echo/server/esp32/main/include/CHIPDeviceManager.h
  examples/wifi-echo/server/esp32/main/include/DeviceCallbacks.h
Labels: examples

#3078 Remove esp32 automake support
  config/esp32/components/chip/component.mk
Labels: config

#2854 Add happy packages to docker
  integrations/docker/images/chip-build/Dockerfile
  integrations/docker/images/chip-build/version
Labels: integrations

#3047 Updates to controller API and iOS app
  src/controller/CHIPDeviceController.cpp
  src/controller/CHIPDeviceController.h
  src/darwin/CHIPTool/CHIPTool.xcodeproj/project.pbxproj
  src/darwin/CHIPTool/CHIPTool/Framework Helpers/CHIPConnectivityManager.h
  src/darwin/CHIPTool/CHIPTool/Framework Helpers/CHIPConnectivityManager.m
  src/darwin/CHIPTool/CHIPTool/Framework Helpers/DefaultsUtils.h
  src/darwin/CHIPTool/CHIPTool/Framework Helpers/DefaultsUtils.m
  src/darwin/CHIPTool/CHIPTool/View Controllers/Echo client/EchoViewController.h
  src/darwin/CHIPTool/CHIPTool/View Controllers/Echo client/EchoViewController.m
  src/darwin/CHIPTool/CHIPTool/View Controllers/OnOffCluster/OnOffViewController.h
  src/darwin/CHIPTool/CHIPTool/View Controllers/OnOffCluster/OnOffViewController.m
  src/darwin/CHIPTool/CHIPTool/View Controllers/QRCode/QRCodeViewController.m
  src/darwin/Framework/CHIP/CHIPDeviceController.mm
  src/transport/RendezvousSessionDelegate.h
Labels: controller, darwin, transport

#3079 Remove remaining Linux C-style casts & fix const correctness
  examples/shell/shell_common/cmd_device.cpp
  src/ble/BLEEndPoint.cpp
  src/ble/BtpEngine.h
  src/controller/python/ChipDeviceController-BlePlatformDelegate.cpp
  src/controller/python/ChipDeviceController-BlePlatformDelegate.h
  src/crypto/CHIPCryptoPAL.h
  src/crypto/CHIPCryptoPALOpenSSL.cpp
  src/include/platform/internal/BLEManager.h
  src/inet/IPAddress-StringFuncts.cpp
  src/inet/IPAddress.cpp
  src/inet/IPEndPointBasis.cpp
  src/inet/TCPEndPoint.cpp
  src/inet/tests/TestInetAddress.cpp
  src/inet/tests/TestInetEndPoint.cpp
  src/inet/tests/TestInetLayerDNS.cpp
  src/lib/core/CHIPCallback.h
  src/lib/core/CHIPCircularTLVBuffer.cpp
  src/lib/core/CHIPEncoding.h
  src/lib/core/CHIPTLVReader.cpp
  src/lib/core/CHIPTLVUpdater.cpp
  src/lib/core/CHIPTLVWriter.cpp
  src/lib/core/tests/TestCHIPTLV.cpp
  src/lib/message/CHIPExchangeMgr.cpp
  src/lib/message/CHIPMessageLayer.cpp
  src/lib/support/ScopedBuffer.h
  src/lib/support/tests/TestCHIPArgParser.cpp
  src/lib/support/tests/TestCHIPArgParserDriver.cpp
  src/platform/Darwin/BLEManagerImpl.cpp
  src/platform/Darwin/BLEManagerImpl.h
  src/platform/EFR32/BLEManagerImpl.h
  src/platform/ESP32/BLEManagerImpl.h
  src/platform/K32W/BLEManagerImpl.h
  src/platform/Linux/BLEManagerImpl.h
  src/platform/Zephyr/GenericBLEManagerImpl_Zephyr.h
  src/platform/nRF5/BLEManagerImpl.h
  src/platform/qpg6100/BLEManagerImpl.h
  src/system/SystemLayer.cpp
Labels: ble, controller, crypto, darwin, efr32, esp32, examples, inet, k32w, lib, linux, platform

#3116 * Fix error range assertion lwip
  src/platform/qpg6100/SystemPlatformConfig.h
Labels: platform

#3113 Add Door Lock cluster commands to chip-tool and src/app/
  examples/chip-tool/commands/clusters/DoorLock/Commands.h
  examples/chip-tool/commands/common/Command.cpp
  examples/chip-tool/commands/common/Command.h
  examples/chip-tool/main.cpp
  src/app/chip-zcl-zpro-codec.h
  src/app/encoder.cpp
Labels: app, examples

#3142 Use CastToSigned in ModelCommand.cpp to convert uint16_t to int16_t
  examples/chip-tool/commands/common/ModelCommand.cpp
Labels: examples

#3128 [android] Fix deadlock in connectWithoutSecurePairing scenario
  src/controller/java/CHIPDeviceController-JNI.cpp
Labels: controller

#3119 [nRF connect] Fix assert on button push
  examples/lighting-app/nrfconnect/main/AppTask.cpp
  examples/lock-app/nrfconnect/main/AppTask.cpp
Labels: examples

#3130 * Addition QPG6100 build to GitHub actions - examples.yaml
  .github/workflows/examples.yaml
Labels: github, workflows

#3123 Added a few null checks for NewWithAvailableSize
  examples/chip-tool/commands/common/ModelCommand.cpp
  src/controller/java/CHIPDeviceController-JNI.cpp
  src/darwin/Framework/CHIP/CHIPDeviceController.mm
  src/transport/RendezvousSession.cpp
  src/transport/SecureSessionMgr.cpp
  src/transport/raw/tests/TestTCP.cpp
  src/transport/raw/tests/TestUDP.cpp
  src/transport/tests/TestSecureSessionMgr.cpp
Labels: controller, darwin, examples, transport

#3122 Fix ifdef include guard comments to match the include guards
  config/esp32/components/esp32_mbedtls/mbedtls/esp_config.h
  examples/wifi-echo/server/esp32/main/include/LEDWidget.h
  src/app/clusters/ias-zone-server/ias-zone-server-test.h
  src/app/clusters/ias-zone-server/ias-zone-server.h
  src/app/util/ember-print.h
  src/darwin/Framework/CHIP/CHIPOnOff.h
  src/include/platform/internal/GenericNetworkProvisioningServerImpl.h
  src/inet/IPEndPointBasis.h
  src/lib/support/BufBound.h
  src/platform/tests/TestPlatformTime.h
Labels: app, config, darwin, examples, inet, lib, platform

#3110 [example/nrfconnect] Added support for sending UDP broadcast messages.
  examples/lighting-app/nrfconnect/CMakeLists.txt
  examples/lighting-app/nrfconnect/main/AppTask.cpp
  examples/lock-app/nrfconnect/CMakeLists.txt
  examples/lock-app/nrfconnect/main/AppTask.cpp
  examples/platform/nrfconnect/app/Service.cpp
  examples/platform/nrfconnect/app/include/Service.h
Labels: examples

#3054 Add add/remove/set flag helpers for MessageHeader
  .gitignore
  src/ble/BLEEndPoint.cpp
  src/ble/BtpEngine.h
  src/lib/message/CHIPFabricState.h
  src/lib/message/ExchangeContext.cpp
  src/lib/support/BUILD.gn
  src/lib/support/BitFlags.h
  src/lib/support/FlagUtils.hpp
  src/platform/Darwin/ConnectivityManagerImpl.h
  src/platform/EFR32/ConnectivityManagerImpl.h
  src/platform/ESP32/ConnectivityManagerImpl.h
  src/platform/K32W/ConnectivityManagerImpl.h
  src/platform/Linux/ConnectivityManagerImpl.h
  src/platform/nRF5/ConnectivityManagerImpl.h
  src/platform/nrfconnect/ConnectivityManagerImpl.h
  src/platform/qpg6100/ConnectivityManagerImpl.h
  src/transport/RendezvousSession.cpp
  src/transport/raw/MessageHeader.cpp
  src/transport/raw/MessageHeader.h
  src/transport/raw/tests/TestMessageHeader.cpp
  src/transport/raw/tests/TestTCP.cpp
  src/transport/raw/tests/TestUDP.cpp
  src/transport/tests/TestSecureSession.cpp
Labels: ble, darwin, efr32, esp32, k32w, lib, linux, nrf connect, nrf5, platform, transport

#3134 Remove unnecessary complexity in the const char* overload of BufBound::Put
  src/lib/support/BufBound.h
  src/transport/SecurePairingSession.cpp
Labels: lib, transport

#3107 Duplicate argv in TestCHIPArgParser
  src/lib/support/ScopedBuffer.h
  src/lib/support/tests/TestCHIPArgParserDriver.cpp
Labels: lib

#3066 Add Barrier Control cluster commands to chip-tool and src/app/
  examples/chip-tool/commands/clusters/BarrierControl/Commands.h
  examples/chip-tool/main.cpp
  src/app/chip-zcl-zpro-codec.h
  src/app/encoder.cpp
Labels: app, examples

#3135 [android/CHIPTool] Add missing parts for rendezvous over BLE
  src/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/bluetooth/BluetoothManager.kt
  src/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/setuppayloadscanner/CHIPDeviceDetailsFragment.kt
  src/controller/CHIPDeviceController.cpp
  src/controller/java/CHIPDeviceController-JNI.cpp
  src/controller/java/src/chip/devicecontroller/AndroidChipStack.java
  src/controller/java/src/chip/devicecontroller/ChipDeviceController.java
  src/transport/RendezvousParameters.h
  src/transport/RendezvousSession.cpp
Labels: android, controller, transport

#3063 Change Unnecessary IPAddress Pass-by-value to Read-only Pass-by-reference Arguments
  src/controller/CHIPDeviceController.cpp
  src/controller/CHIPDeviceController.h
  src/inet/IPEndPointBasis.cpp
  src/inet/IPEndPointBasis.h
  src/inet/RawEndPoint.cpp
  src/inet/RawEndPoint.h
  src/inet/TCPEndPoint.cpp
  src/inet/TCPEndPoint.h
  src/inet/UDPEndPoint.cpp
  src/inet/UDPEndPoint.h
  src/lib/message/CHIPBinding.cpp
  src/lib/message/CHIPBinding.h
  src/lib/message/CHIPMessageLayer.cpp
  src/lib/message/CHIPMessageLayer.h
  src/lib/message/CHIPSecurityMgr.cpp
  src/lib/message/CHIPSecurityMgr.h
Labels: controller, inet, lib

#3166 Fix build on Linux arm host
  BUILD.gn
  build/config/arm.gni
  src/lwip/standalone/arch/cc.h
Labels: V0.7, lwip

#3163 Replace raw arrays in method declarations of Command.h and Commands.h…
  examples/chip-tool/commands/common/Command.cpp
  examples/chip-tool/commands/common/Command.h
  examples/chip-tool/commands/common/Commands.cpp
  examples/chip-tool/commands/common/Commands.h
Labels: examples

#3162 Missing argument for emberAfCorePrint in src/app/clusters/scenes/scen…
  src/app/clusters/scenes/scenes.c
Labels: app

#3158 Extraneous break in src/platform/ESP32/nimble/BLEManagerImpl.cpp
  src/platform/ESP32/nimble/BLEManagerImpl.cpp
Labels: esp32, platform

#3155 Comparison between i of type uint8_t and emAfAppEventContextLength of…
  src/app/util/af-event.cpp
Labels: app

#3154 Add a NULL check for bleConnState in src/platform/EFR32/BLEManagerImp…
  src/platform/EFR32/BLEManagerImpl.cpp
Labels: efr32, platform

#3153 CodeQL: Too few arguments to formatting function in door-lock-server-…
  src/app/clusters/door-lock-server/door-lock-server-schedule.c
Labels: app

#3152 Add a null check for the EchoCommand in chip-tool
  examples/chip-tool/commands/common/EchoCommand.cpp
Labels: examples

#3146 Add all cluster commands to chip-tool and src/app/
  examples/chip-tool/commands/clusters/Basic/Commands.h
  examples/chip-tool/commands/clusters/ColorControl/Commands.h
  examples/chip-tool/commands/clusters/Commands.h
  examples/chip-tool/commands/clusters/Identify/Commands.h
  examples/chip-tool/commands/clusters/OnOff/Commands.h
  examples/chip-tool/commands/clusters/TemperatureMeasurement/Commands.h
  examples/chip-tool/commands/common/Command.h
  examples/chip-tool/main.cpp
  src/app/chip-zcl-zpro-codec-api.h
  src/app/chip-zcl-zpro-codec.h
  src/app/encoder.cpp
  src/controller/java/CHIPDeviceController-JNI.cpp
  src/darwin/Framework/CHIP/CHIPDeviceController.mm
Labels: app, controller, darwin, examples

#3139 Make all src/transport headers use pragma once
  src/transport/BLE.h
  src/transport/NetworkProvisioning.h
  src/transport/PeerConnectionState.h
  src/transport/RendezvousParameters.h
  src/transport/RendezvousSession.h
  src/transport/RendezvousSessionDelegate.h
  src/transport/SecurePairingSession.h
  src/transport/SecureSession.h
  src/transport/SecureSessionMgr.h
  src/transport/raw/Base.h
  src/transport/raw/PeerAddress.h
  src/transport/raw/TCP.h
  src/transport/raw/Tuple.h
  src/transport/raw/UDP.h
  src/transport/retransmit/Cache.h
  src/transport/tests/TestTransportLayer.h
Labels: transport

#3141 Make src/system use pragma once in headers
  src/system/SystemAlignSize.h
  src/system/SystemClock.h
  src/system/SystemConfig.h
  src/system/SystemError.h
  src/system/SystemEvent.h
  src/system/SystemFaultInjection.h
  src/system/SystemLayer.h
  src/system/SystemLayerPrivate.h
  src/system/SystemMutex.h
  src/system/SystemObject.h
  src/system/SystemPacketBuffer.h
  src/system/SystemStats.h
  src/system/SystemTimer.h
  src/system/SystemWakeEvent.h
  src/system/TimeSource.h
  src/system/tests/TestSystemLayer.h
Labels: system

#3145 Make src/lib/core to use pragma once in headers
  src/lib/core/CHIPCallback.h
  src/lib/core/CHIPCircularTLVBuffer.h
  src/lib/core/CHIPConfig.h
  src/lib/core/CHIPCore.h
  src/lib/core/CHIPEncoding.h
  src/lib/core/CHIPError.h
  src/lib/core/CHIPEventLoggingConfig.h
  src/lib/core/CHIPKeyIds.h
  src/lib/core/CHIPSafeCasts.h
  src/lib/core/CHIPTLV.h
  src/lib/core/CHIPTLVData.hpp
  src/lib/core/CHIPTLVTags.h
  src/lib/core/CHIPTLVTypes.h
  src/lib/core/CHIPTimeConfig.h
  src/lib/core/CHIPVendorIdentifiers.hpp
  src/lib/core/Optional.h
  src/lib/core/ReferenceCounted.h
  src/lib/core/tests/TestCore.h
Labels: lib

#3147 Make src/lib/support to use pragma once in headers
  src/lib/support/Base64.h
  src/lib/support/BitFlags.h
  src/lib/support/BufBound.h
  src/lib/support/CHIPArgParser.hpp
  src/lib/support/CHIPCounter.h
  src/lib/support/CHIPFaultInjection.h
  src/lib/support/CHIPMem.h
  src/lib/support/CodeUtils.h
  src/lib/support/ErrorStr.h
  src/lib/support/FibonacciUtils.h
  src/lib/support/PersistedCounter.h
  src/lib/support/RandUtils.h
  src/lib/support/ScopedBuffer.h
  src/lib/support/TestUtils.h
  src/lib/support/TimeUtils.h
  src/lib/support/logging/CHIPLogging.h
  src/lib/support/tests/TestSupport.h
  src/lib/support/verhoeff/Verhoeff.h
Labels: lib

#3150 Fix Cancelable DequeueAll
  src/lib/core/CHIPCallback.h
  src/lib/core/tests/TestCHIPCallback.cpp
Labels: lib

#3159 Add missing header guards in src/app
  src/app/clusters/door-lock-server/door-lock-server.h
  src/app/clusters/scenes/scenes.h
  src/app/util/esi-management.h
Labels: app

#3172 Fix disappearing device layer code when external headers used
  src/include/platform/CHIPDeviceEvent.h
  src/include/platform/ConfigurationManager.h
  src/include/platform/ConnectivityManager.h
  src/include/platform/PlatformManager.h
  src/include/platform/ThreadStackManager.h
  src/include/platform/internal/BLEManager.h
  src/include/platform/internal/NetworkProvisioningServer.h
  src/platform/Linux/CHIPBluezHelper.cpp
Labels: linux, platform

#3143 Remove explicit malloc()-family calls from first-party code.
  examples/lighting-app/efr32/src/main.cpp
  examples/lighting-app/nrf5/main/main.cpp
  examples/lock-app/efr32/src/main.cpp
  examples/lock-app/nrf5/main/main.cpp
  examples/platform/efr32/init_otSystem.c
  src/inet/InetInterface.cpp
  src/inet/tests/TapAddrAutoconf.cpp
  src/inet/tests/TestInetCommon.cpp
  src/inet/tests/TestInetCommonOptions.cpp
  src/lib/core/BUILD.gn
  src/lib/core/CHIPConfig.h
  src/lib/core/CHIPTLVReader.cpp
  src/lib/core/CHIPTLVWriter.cpp
  src/lib/core/tests/TestCHIPTLV.cpp
  src/lib/support/BUILD.gn
  src/lib/support/CHIPArgParser.cpp
  src/lib/support/CHIPMem.h
  src/lib/support/CHIPMemString.cpp
  src/lib/support/CHIPMemString.h
  src/lib/support/CHIPPlatformMemory.cpp
  src/lib/support/CHIPPlatformMemory.h
  src/lib/support/tests/TestCHIPArgParser.cpp
  src/lib/support/tests/TestPersistedCounter.cpp
  src/lwip/BUILD.gn
  src/lwip/efr32/arch/cc.h
  src/lwip/k32w/arch/cc.h
  src/lwip/nrf5/arch/cc.h
  src/lwip/qpg6100/arch/cc.h
  src/lwip/standalone/sys_arch.c
  src/platform/EFR32/efr32-chip-mbedtls-config.h
  src/platform/ESP32/ESP32Config.cpp
  src/platform/ESP32/NetworkProvisioningServerImpl.cpp
  src/platform/Linux/PosixConfig.cpp
  src/system/SystemPacketBuffer.cpp
Labels: config, efr32, esp32, examples, github, inet, lib, lwip, platform, workflows

#3151 Check if the result of EncodeCommand is successful before trying to s…
  examples/chip-tool/commands/common/EchoCommand.cpp
  examples/chip-tool/commands/common/ModelCommand.cpp
  examples/chip-tool/commands/common/ModelCommand.h
  examples/chip-tool/commands/common/NetworkCommand.h
Labels: examples

#3187 Remove verbose code comments
  examples/lighting-app/efr32/src/main.cpp
  examples/lock-app/efr32/src/main.cpp
  examples/lock-app/k32w/main/main.cpp
  examples/platform/nrf528xx/app/chipinit.cpp
Labels: examples

#3191 Remove Makefiles introduced by #3099
  src/lib/Makefile.in
  src/lib/core/tests/Makefile.in
  src/lib/shell/Makefile.in
  src/lib/shell/tests/Makefile.in
  src/lib/support/Makefile.in
  src/lib/support/tests/Makefile.in
Labels: lib

#3175 [nRF Connect] README updates on Docker for MacOS and NCS version
  examples/lighting-app/nrfconnect/README.md
  examples/lock-app/nrfconnect/README.md
Labels: examples

#3180 Modify the generated files for example lighting and lock apps to include server init callbacks.
  examples/lighting-app/lighting-common/gen/callback-stub.c
  examples/lighting-app/lighting-common/gen/endpoint_config.h
  examples/lighting-app/lighting-common/gen/gen_config.h
  examples/lock-app/lock-common/gen/callback-stub.c
  examples/lock-app/lock-common/gen/endpoint_config.h
  examples/lock-app/lock-common/gen/gen_config.h
Labels: examples

#3161 [android/CHIPTool] Use ATT Write Request instead of ATT Write Command
  src/controller/java/src/chip/devicecontroller/AndroidChipStack.java
Labels: controller

#3201 [nrfconnect] Disable CodeQL CI check
  .github/workflows/examples.yaml
Labels: github, hotfix, workflows

#2905 Dockerize cirque build
  .github/workflows/cirque.yaml
  .gitmodules
  integrations/docker/images/chip-build-cirque/Dockerfile
  integrations/docker/images/chip-build-cirque/README.md
  integrations/docker/images/chip-build-cirque/build.sh
  integrations/docker/images/chip-build-cirque/requirements_nogrpc.txt
  integrations/docker/images/chip-build-cirque/run.sh
  integrations/docker/images/chip-build-cirque/version
  integrations/docker/images/chip-build/version
  integrations/docker/run.sh
  scripts/tests/cirque_tests.sh
Labels: github, integrations, scripts, workflows

#3185 Disable Cancelable copy constructor
  src/lib/core/CHIPCallback.h
  src/system/SystemLayer.cpp
Labels: lib, system

#3186 [build] fix linux build without OpenThread
  src/platform/Linux/CHIPDevicePlatformConfig.h
  src/platform/tests/TestCHIPoBLEStackMgr.cpp
Labels: linux, platform

#3204 Rename SecureSessionMgrCallback to SecureSessionMgrDelegate to align …
  examples/common/chip-app-server/Server.cpp
  examples/wifi-echo/server/esp32/main/EchoServer.cpp
  src/controller/CHIPDeviceController.h
  src/transport/SecureSessionMgr.h
  src/transport/tests/TestSecureSessionMgr.cpp
Labels: controller, examples, transport

#3198 ChipTool: Add cluster name to the command line parameters
  examples/chip-tool/README.md
  examples/chip-tool/commands/common/Command.cpp
  examples/chip-tool/commands/common/Commands.cpp
  examples/chip-tool/commands/common/Commands.h
  examples/chip-tool/commands/common/NetworkCommand.h
  examples/chip-tool/commands/echo/Commands.h
  examples/lighting-app/efr32/README.md
  examples/lock-app/efr32/README.md
  src/test_driver/linux-cirque/test-on-off-cluster.py
Labels: examples

#3217 Disable happy testing locally by default
  .github/workflows/unit_integration_test.yaml
  BUILD.gn
  build/chip/happy_test.gni
  build/chip/tests.gni
  src/BUILD.gn
  src/inet/tests/BUILD.gn
Labels: github, inet, workflows

#3213 [Darwin] Replace ChipLogProgress -> ChipLogDetail in BLEManagerImpl.cpp
  src/platform/Darwin/BLEManagerImpl.cpp
Labels: darwin, platform

#3039 clang-tidy: Apply fixes "readability-redundant-control-flow"
  src/ble/BLEEndPoint.cpp
  src/inet/AsyncDNSResolverSockets.cpp
  src/inet/IPEndPointBasis.cpp
  src/inet/InetLayer.cpp
  src/inet/tests/TestInetLayer.cpp
  src/inet/tests/TestInetLayerMulticast.cpp
  src/lib/message/CHIPExchangeMgr.cpp
  src/lib/message/CHIPFabricState.cpp
  src/lib/message/CHIPMessageLayer.cpp
  src/lib/message/CHIPSecurityMgr.cpp
  src/lib/message/ExchangeContext.cpp
  src/lib/support/CHIPArgParser.cpp
  src/lib/support/PersistedCounter.cpp
  src/platform/Linux/CHIPBluezHelper.cpp
Labels: ble, inet, lib, linux, platform

#3208 Add -Wconversion to chip-tool
  examples/chip-tool/BUILD.gn
  examples/chip-tool/commands/clusters/Commands.h
  examples/chip-tool/commands/common/Command.h
  examples/chip-tool/commands/common/EchoCommand.cpp
  examples/chip-tool/commands/common/ModelCommand.cpp
  examples/chip-tool/commands/common/ModelCommand.h
  examples/chip-tool/commands/common/NetworkCommand.h
  src/lib/support/SafeInt.h
Labels: examples, lib

#3215 Add src/platform/Darwin/Logging.cpp and use it for chip-tool and ios
  src/darwin/Framework/CHIP.xcodeproj/project.pbxproj
  src/darwin/Framework/CHIP/CHIPLogging.mm
  src/darwin/Framework/chip_xcode_build_connector.sh
  src/lib/core/BUILD.gn
  src/lib/core/core.gni
  src/lib/support/logging/CHIPLoggingLogV.cpp
Labels: darwin, lib, platform

#3205 Reduce kSpake2p_Iteration_Count to fix timeouts
  src/transport/RendezvousSession.cpp
Labels: transport

#3226 ChipTool: Use an env variable to filters ChipLog* messages if needed
  examples/chip-tool/BUILD.gn
  examples/chip-tool/commands/common/Commands.cpp
  examples/chip-tool/commands/common/Logging.cpp
  examples/chip-tool/commands/common/Logging.h
Labels: examples

#3224 [EFR32] Stack overflow on MG21 boards
  examples/lighting-app/efr32/BUILD.gn
  examples/lighting-app/efr32/include/AppTask.h
  examples/lighting-app/efr32/src/AppTask.cpp
  examples/lock-app/efr32/BUILD.gn
  examples/lock-app/efr32/include/AppTask.h
  examples/lock-app/efr32/src/AppTask.cpp
  examples/platform/efr32/Service.cpp
  examples/platform/efr32/Service.h
  src/platform/EFR32/CHIPDevicePlatformConfig.h
  third_party/efr32_sdk/efr32_arm.gni
Labels: efr32, examples, platform

#3228 Update ChipLog* from examples/chip-tool, src/app/encoder.cpp and src/…
  examples/chip-tool/commands/common/Command.cpp
  examples/chip-tool/commands/common/EchoCommand.cpp
  examples/chip-tool/commands/common/ModelCommand.cpp
  examples/chip-tool/commands/common/NetworkCommand.cpp
  src/app/encoder.cpp
  src/controller/CHIPDeviceController.cpp
Labels: app, controller, examples

#3238 [build] fix Linux and Darwin builds when chip_enable_ble=false (#3179)
  src/BUILD.gn
  src/platform/Darwin/CHIPDevicePlatformConfig.h
Labels: darwin, platform

#3230 Safety changes after malloc to CHIPMem conversions
  src/inet/tests/TestInetCommon.cpp
  src/lib/core/CHIPTLVReader.cpp
Labels: inet, lib

#3220 Remove unused variable rendezvousSession
  examples/chip-tool/commands/clusters/Commands.h
  src/controller/CHIPDeviceController.cpp
Labels: controller, examples

#3235 Use 4 bits from discriminator in manual setup code
  src/setup_payload/ManualSetupPayloadGenerator.cpp
  src/setup_payload/SetupPayload.cpp
  src/setup_payload/SetupPayload.h
  src/setup_payload/tests/TestManualCode.cpp
Labels: setup payload

#3243 Remove unused folders from chip-tool
  examples/chip-tool/commands/clusters/BarrierControl/Commands.h
  examples/chip-tool/commands/clusters/DoorLock/Commands.h
Labels: examples

#3247 Fix build with chip_config_network_layer_ble=false
  examples/shell/shell_common/cmd_btp.cpp
  src/BUILD.gn
  src/controller/CHIPDeviceController.cpp
  src/lib/message/CHIPConnection.cpp
  src/lib/message/CHIPMessageLayer.cpp
Labels: controller, examples, lib

#3206 Cleanup cirque_tests.sh
  scripts/tests/cirque_tests.sh
Labels: scripts

#3259 MacOS -> macOS
  docs/BUILDING.md
  docs/README.md
  docs/VSCODE_DEVELOPMENT.md
  src/README.md
  src/inet/RawEndPoint.cpp
  src/inet/TCPEndPoint.cpp
  src/inet/UDPEndPoint.cpp
Labels: documentation, inet

#3274 Fix missing glib package for cirque presubmit
  examples/chip-tool/Dockerfile
  examples/lighting-app/linux/Dockerfile
Labels: examples

#3244 [nrfconnect] Fixed building issues that appeared after last NCS update.
  config/nrfconnect/chip-lib.cmake
  config/nrfconnect/nrfconnect-app.cmake
  examples/lighting-app/nrfconnect/main/LightingManager.cpp
  src/lib/support/CHIPArgParser.cpp
Labels: config, examples, lib

#3222 Clean up ex-malloc() use of CHIPMem.h
  src/controller/CHIPDeviceController.cpp
  src/inet/tests/TestInetCommonOptions.cpp
  src/lib/core/tests/TestCHIPTLV.cpp
  src/lib/support/BUILD.gn
  src/lib/support/CHIPArgParser.cpp
  src/lib/support/CHIPMemString.cpp
  src/lib/support/CHIPMemString.h
  src/lib/support/tests/TestCHIPArgParser.cpp
  src/platform/ESP32/ESP32Config.cpp
Labels: controller, esp32, inet, lib, platform

#3239 [Happy] Follow ups of #2688
  build/chip/happy_test.gni
  scripts/tests/gn_tests.sh
  scripts/tests/happy_test_wrapper.py
  scripts/tests/happy_tests.sh
  src/test_driver/happy/README.md
Labels: scripts

#3279 Enable BLE for Darwin platform
  src/platform/device.gni
Labels: platform

#3264 Optionally suppress submodules and activate in Xcode builds
  src/darwin/Framework/chip_xcode_build_connector.sh
Labels: darwin

#3282 Fix Darwin build failure in TestCHIPoBLEStackMgr.cpp
  src/platform/Darwin/BLEManagerImpl.h
Labels: darwin, platform

#3260 Convert operator new and delete to use CHIPMem.h
  examples/chip-tool/commands/common/Commands.cpp
  examples/common/screen-framework/ScreenManager.cpp
  examples/common/screen-framework/include/ListScreen.h
  examples/wifi-echo/server/esp32/main/RendezvousDeviceDelegate.cpp
  examples/wifi-echo/server/esp32/main/wifi-echo.cpp
  src/controller/CHIPDeviceController.cpp
  src/inet/tests/TapAddrAutoconf.h
  src/inet/tests/TestInetCommon.cpp
  src/lib/core/ReferenceCounted.h
  src/lib/core/tests/TestCHIPCallback.cpp
  src/lib/message/CHIPFabricState.cpp
  src/lib/support/CHIPMem.h
  src/lib/support/tests/TestPersistedCounter.cpp
  src/platform/ESP32/bluedroid/BLEManagerImpl.cpp
  src/platform/ESP32/nimble/BLEManagerImpl.cpp
  src/platform/nrfconnect/ConnectivityManagerImpl.cpp
  src/setup_payload/QRCodeSetupPayloadParser.cpp
  src/setup_payload/tests/TestQRCodeTLV.cpp
  src/system/SystemLayer.cpp
  src/transport/RendezvousSession.cpp
Labels: controller, esp32, examples, inet, lib, nrf connect, platform, setup payload, system, transport

#3267 make class ReferenceCounted use a deletor instead of virtual destruction
  src/lib/core/ReferenceCounted.h
  src/lib/core/tests/TestReferenceCounted.cpp
  src/transport/NetworkProvisioning.h
  src/transport/SecurePairingSession.h
  src/transport/SecureSessionMgr.h
  src/transport/raw/Base.h
Labels: lib, transport

#3097 Define ExchangeManager Header file for Transport layer
  src/messaging/ExchangeContext.h
  src/messaging/ExchangeMgr.h
Labels: transport

#3287 Add sdkconfig direct include in PlatformConfig, to depend outside -isystem
  src/platform/ESP32/CHIPPlatformConfig.h
Labels: esp32, platform

#3270 Generate Global Commands Response code and use it inside chip-tool
  examples/chip-tool/commands/clusters/Commands.h
  examples/chip-tool/commands/common/ModelCommand.cpp
  examples/chip-tool/commands/common/ModelCommand.h
  examples/chip-tool/commands/common/ModelCommandResponse.h
Labels: examples

#3288 Add checks to make sure we don't read off the end of our packet.
  src/transport/RendezvousSession.cpp
  src/transport/SecureSessionMgr.cpp
Labels: transport

#3280 Log decimal setup payload in the esp example
  examples/wifi-echo/server/esp32/main/wifi-echo.cpp
Labels: examples

#3304 ESP32/boards: Add support of ESP32 Wrover Kit in wifi-echo demo
  examples/common/screen-framework/Display.cpp
  examples/common/screen-framework/include/Display.h
  examples/wifi-echo/server/esp32/main/Kconfig.projbuild
  examples/wifi-echo/server/esp32/main/wifi-echo.cpp
Labels: examples

#3299 Fixing iOS build parameters
  src/darwin/Framework/CHIP.xcodeproj/project.pbxproj
  src/darwin/Framework/CHIP.xcodeproj/xcshareddata/xcschemes/Framework iOS.xcscheme
Labels: darwin

#3295 Switch bindings to using a ChipNodeId instead of EUI64
  src/app/clusters/groups-server/groups-server.c
  src/app/util/types_stub.h
Labels: app

#3293 Increase BLE connection timeout to 15s
  src/ble/BLEEndPoint.cpp
Labels: ble

#3258 Drive the vscode esp32 wifi example through a separate script
  .vscode/tasks.json
  scripts/examples/build-wifi-echo.py
  scripts/run_in_build_env.sh
Labels: scripts, vscode

#3309 Make cirque artifacts be named -logs so that bloat checker does not delete them
  .github/workflows/cirque.yaml
Labels: github, hotfix, workflows

#3315 Use a better error code if our payload length is wrong.
  src/transport/RendezvousSession.cpp
  src/transport/SecureSessionMgr.cpp
Labels: transport

#3313 Disable DNS tests on Raspberry Pi
  src/inet/tests/BUILD.gn
Labels: inet

#3321 Document building for Raspberry Pi 4
  docs/BUILDING.md
Labels: documentation

#3342 [zephyr] Implement proper locking in ThreadStackManager
  src/platform/Zephyr/GenericThreadStackManagerImpl_Zephyr.h
Labels: platform, zephyr

#3322 Add python3-venv to build prerequisites
  integrations/docker/images/chip-build/Dockerfile
  integrations/docker/images/chip-build/version
Labels: integrations

#3284 Add support for persisting paired device information on CHIP controller
  src/controller/CHIPDeviceController.cpp
  src/controller/CHIPDeviceController.h
  src/controller/CHIPPersistentStorageDelegate.h
  src/transport/SecurePairingSession.cpp
  src/transport/SecurePairingSession.h
  src/transport/tests/TestSecurePairingSession.cpp
Labels: controller, transport
