Repository project-chip/connectedhomeip, pull requests merged in 2020-08, with the labels that each got.

#1709 Make debug printing work again in Silicon Labs ZigbeePro code
  examples/wifi-echo/server/esp32/.gitignore
  examples/wifi-echo/server/esp32/main/af.h
  examples/wifi-echo/server/esp32/main/ember-print.cpp
  examples/wifi-echo/server/esp32/main/ember-print.h
  examples/wifi-echo/server/esp32/main/process-global-message.c
  examples/wifi-echo/server/esp32/main/types_stub.h
  examples/wifi-echo/server/esp32/main/util.c
Labels: enhancement, examples

#1913 Improve error checking in the command encoder.
  src/app/chip-zcl-zpro/command-encoder/chip-zcl-zpro-codec.h
  src/app/chip-zcl-zpro/command-encoder/encoder.c
Labels: app

#1933 Allow more responses (not just default response) in the zcl cluster code
  examples/wifi-echo/server/esp32/main/client-api.c
  examples/wifi-echo/server/esp32/main/client-api.h
  examples/wifi-echo/server/esp32/main/util.c
Labels: examples

#1952 [shell] Add commands to control device layer thread management APIs.
  examples/shell/cmd_device.cpp
  src/platform/Linux/ThreadStackManagerImpl.cpp
Labels: examples, linux, platform

#1953 [build] fix -Wdeprecated build errors in CHIPDeviceController
  src/controller/BUILD.gn
Labels: controller

#1956 Efr32 lock app
  examples/Makefile.am
  examples/lock-app/efr32/Makefile
  examples/lock-app/efr32/include/ble-configuration.h
  examples/lock-app/efr32/include/hal-config-app-common.h
  examples/lock-app/efr32/include/hal-config.h
  examples/lock-app/efr32/src/platform/efr32mg12/BRD4161A/hal-config.h
  examples/lock-app/efr32/src/platform/efr32mg12/BRD4161A/init_board.c
  examples/lock-app/efr32/src/platform/efr32mg12/BRD4161A/init_mcu.c
  examples/lock-app/efr32/src/platform/efr32mg12/BRD4166A/hal-config.h
  examples/lock-app/efr32/src/platform/efr32mg12/BRD4166A/init_board.c
  examples/lock-app/efr32/src/platform/efr32mg12/BRD4166A/init_mcu.c
  examples/lock-app/efr32/src/platform/efr32mg12/BRD4170A/hal-config.h
  examples/lock-app/efr32/src/platform/efr32mg12/BRD4170A/init_board.c
  examples/lock-app/efr32/src/platform/efr32mg12/BRD4170A/init_mcu.c
  examples/lock-app/efr32/src/platform/efr32mg12/BRD4304A/hal-config.h
  examples/lock-app/efr32/src/platform/efr32mg12/BRD4304A/init_board.c
  examples/lock-app/efr32/src/platform/efr32mg12/BRD4304A/init_mcu.c
  examples/lock-app/efr32/src/platform/efr32mg21/BRD4180A/hal-config.h
  examples/lock-app/efr32/src/platform/efr32mg21/BRD4180A/init_board.c
  examples/lock-app/efr32/src/platform/efr32mg21/BRD4180A/init_mcu.c
Labels: examples

#1964 [build] fix -Wunused-result build error
  src/system/SystemWakeEvent.cpp
Labels: system

#1950 Update message header structure
  src/transport/Base.h
  src/transport/MessageHeader.cpp
  src/transport/MessageHeader.h
  src/transport/SecureSession.cpp
  src/transport/SecureSessionMgr.cpp
  src/transport/SecureSessionMgr.h
  src/transport/Tuple.h
  src/transport/tests/TestMessageHeader.cpp
  src/transport/tests/TestUDP.cpp
Labels: transport

#1978 EFR32: Fix ARM arch setup when setting efr32_board in GN args
  examples/build_overrides/efr32_sdk.gni
  examples/lock-app/efr32/args.gni
  examples/lock-app/efr32/build_overrides
  examples/lock-app/efr32/build_overrides/chip.gni
  examples/lock-app/efr32/build_overrides/lwip.gni
  examples/lock-app/efr32/build_overrides/mbedtls.gni
  examples/lock-app/efr32/build_overrides/nlassert copy.gni
  examples/lock-app/efr32/build_overrides/nlassert.gni
  examples/lock-app/efr32/build_overrides/nlfaultinjection.gni
  examples/lock-app/efr32/build_overrides/nlio.gni
  gn/build/config/arm.gni
  gn_build.sh
  src/platform/EFR32/args.gni
  third_party/efr32_sdk/efr32_arm.gni
  third_party/efr32_sdk/efr32_board.gni
  third_party/efr32_sdk/efr32_sdk.gni
Labels: efr32, examples, gn, platform

#1959 On/Off commands in Android demo app
  src/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/CHIPToolActivity.kt
  src/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/clusterclient/OnOffClientFragment.kt
  src/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/echoclient/EchoClientFragment.kt
  src/android/CHIPTool/app/src/main/res/layout/echo_client_fragment.xml
  src/android/CHIPTool/app/src/main/res/layout/on_off_client_fragment.xml
  src/android/CHIPTool/app/src/main/res/values/strings.xml
  src/controller/java/CHIPDeviceController-JNI.cpp
  src/controller/java/Makefile.am
  src/controller/java/src/chip/devicecontroller/ChipCommandType.java
  src/controller/java/src/chip/devicecontroller/ChipDeviceController.java
Labels: android, controller

#1966 Update EFR32 example Readme
  examples/lock-app/efr32/README.md
  scripts/examples/gn_efr32_example.sh
Labels: examples, scripts

#1972 Spake2p implementation for mbedTLS
  src/crypto/CHIPCryptoPAL.h
  src/crypto/CHIPCryptoPALOpenSSL.cpp
  src/crypto/CHIPCryptoPALmbedTLS.cpp
  src/crypto/tests/CHIPCryptoPALTest.cpp
Labels: crypto

#1983 Update Android README
  src/android/CHIPTool/README.md
Labels: android

#1915 Implement DefaultResponse commands
  examples/chip-tool/main.cpp
  examples/wifi-echo/server/esp32/main/DataModelHandler.cpp
  examples/wifi-echo/server/esp32/main/EchoServer.cpp
  examples/wifi-echo/server/esp32/main/af-types.h
  examples/wifi-echo/server/esp32/main/af.h
  examples/wifi-echo/server/esp32/main/attribute-storage.h
  examples/wifi-echo/server/esp32/main/chip-response.cpp
  examples/wifi-echo/server/esp32/main/chip-response.h
  examples/wifi-echo/server/esp32/main/common.h
  examples/wifi-echo/server/esp32/main/gen/znet-bookkeeping.h
  examples/wifi-echo/server/esp32/main/include/CHIPDeviceManager.h
  examples/wifi-echo/server/esp32/main/include/DataModelHandler.h
  examples/wifi-echo/server/esp32/main/message.c
  examples/wifi-echo/server/esp32/main/util.c
  examples/wifi-echo/server/esp32/main/util.h
  src/app/chip-zcl-zpro/command-encoder/decoder.c
  src/darwin/CHIPTool/CHIPTool/CHIPViewControllerBase.m
  src/darwin/CHIPTool/CHIPTool/OnOffCluster/OnOffViewController.m
  src/darwin/Framework/CHIP/CHIPDeviceController.h
  src/darwin/Framework/CHIP/CHIPDeviceController.mm
Labels: app, darwin, examples

#1977 Reduce PBKDF2 iterations to speed up build (5x faster)
  src/crypto/tests/PBKDF2_SHA256_test_vectors.h
Labels: crypto

#1954 [misc] Change IsCategoryEnabled to inline function
  src/lib/support/logging/CHIPLogging.h
Labels: darwin, efr32, esp32, k32w, lib, linux, nrf connect, nrf5, platform

#1992 Fix implicit fallthrough in Linux/ThreadStackManagerImpl.cpp
  gn/build/config/compiler/BUILD.gn
  src/platform/Linux/ThreadStackManagerImpl.cpp
Labels: gn, linux, platform

#1991 Add config options for overriding firmware build date & time
  src/include/platform/CHIPDeviceConfig.h
  src/include/platform/internal/GenericConfigurationManagerImpl.ipp
  src/platform/BUILD.gn
Labels: platform

#1965 Allow chip-tool echo-ble to work along with credential passing
  examples/wifi-echo/server/esp32/main/RendezvousSession.cpp
  src/darwin/CHIPTool/CHIPTool/QRCode/QRCodeViewController.m
Labels: darwin, examples

#1987 Prefix all CHIP build arguments with chip_
  config/standalone/args.gni
  examples/lighting-app/nrf5/args.gni
  examples/lock-app/efr32/args.gni
  examples/lock-app/nrf5/args.gni
  src/ble/BUILD.gn
  src/ble/ble.gni
  src/inet/BUILD.gn
  src/inet/inet.gni
  src/platform/BUILD.gn
  src/platform/EFR32/args.gni
  src/platform/Linux/args.gni
  src/platform/device.gni
  src/platform/nRF5/args.gni
  src/platform/tests/BUILD.gn
  src/system/BUILD.gn
Labels: ble, config, efr32, examples, inet, linux, nrf5, platform, system

#1984 EFR32 Lock app irq default init for all boards and header restyle
  examples/lock-app/efr32/include/hal-config-app-common.h
  examples/lock-app/efr32/src/platform/efr32mg12/BRD4161A/hal-config.h
  examples/lock-app/efr32/src/platform/efr32mg12/BRD4161A/init_board.c
  examples/lock-app/efr32/src/platform/efr32mg12/BRD4161A/init_mcu.c
  examples/lock-app/efr32/src/platform/efr32mg12/BRD4166A/hal-config.h
  examples/lock-app/efr32/src/platform/efr32mg12/BRD4166A/init_board.c
  examples/lock-app/efr32/src/platform/efr32mg12/BRD4170A/hal-config.h
  examples/lock-app/efr32/src/platform/efr32mg12/BRD4170A/init_board.c
  examples/lock-app/efr32/src/platform/efr32mg12/BRD4170A/init_mcu.c
  examples/lock-app/efr32/src/platform/efr32mg12/BRD4304A/hal-config.h
  examples/lock-app/efr32/src/platform/efr32mg12/BRD4304A/init_board.c
  examples/lock-app/efr32/src/platform/efr32mg12/BRD4304A/init_mcu.c
  examples/lock-app/efr32/src/platform/efr32mg21/BRD4180A/hal-config.h
  examples/lock-app/efr32/src/platform/efr32mg21/BRD4180A/init_board.c
  examples/lock-app/efr32/src/platform/efr32mg21/BRD4180A/init_mcu.c
Labels: examples

#1975 [linux] Add WiFi support in ConnectivityManager.
  src/platform/Linux/ConnectivityManagerImpl.cpp
  src/platform/Linux/ConnectivityManagerImpl.h
  src/platform/Linux/dbus/DBusWpa.h
  src/platform/Linux/dbus/DBusWpaInterface.h
  src/platform/Linux/dbus/DBusWpaNetwork.h
Labels: linux, platform

#2015 fix dist for Darwin
  src/platform/Makefile.am
Labels: platform

#1962 [nrf5-lock] start joiner role on boot
  examples/lighting-app/nrf5/Makefile
  src/platform/FreeRTOS/GenericThreadStackManagerImpl_FreeRTOS.h
  src/platform/FreeRTOS/GenericThreadStackManagerImpl_FreeRTOS.ipp
Labels: examples, freeRTOS, platform

#2019 Fix warnings -Wformat-truncation
  examples/chip-tool/main.cpp
  gn/build/config/compiler/BUILD.gn
Labels: examples, gn

#1997 [nRF Connect] Run some unit tests on Zephyr's native_posix platform
  config/nrfconnect/chip-lib.cmake
  config/nrfconnect/nrfconnect-app.cmake
  scripts/tests/nrfconnect_native_posix_tests.sh
  src/crypto/tests/CHIPCryptoPALTest.cpp
  src/inet/tests/TestInetAddress.cpp
  src/lib/core/tests/TestCHIPTLV.cpp
  src/lib/support/TestUtils.cpp
  src/lib/support/tests/TestCHIPArgParser.cpp
  src/lib/support/tests/TestTimeUtils.cpp
  src/platform/Makefile.am
  src/platform/nrfconnect/ConfigurationManagerImpl.cpp
  src/platform/nrfconnect/InetPlatformConfig.h
  src/platform/tests/TestConfigurationMgr.cpp
  src/setup_payload/tests/TestManualCode.cpp
  src/setup_payload/tests/TestQRCode.cpp
  src/setup_payload/tests/TestQRCodeTLV.cpp
  src/system/tests/TestSystemObject.cpp
  src/system/tests/TestSystemPacketBuffer.cpp
  src/system/tests/TestSystemTimer.cpp
  src/system/tests/TestSystemWakeEvent.cpp
  src/test_driver/nrfconnect/CMakeLists.txt
  src/test_driver/nrfconnect/main/include/CHIPProjectConfig.h
  src/test_driver/nrfconnect/main/include/app_mbedtls_config.h
  src/test_driver/nrfconnect/main/include/undef_main.h
  src/test_driver/nrfconnect/main/runner.cpp
  src/test_driver/nrfconnect/prj.conf
  src/test_driver/nrfconnect/third_party/connectedhomeip
  src/transport/tests/TestSecureSession.cpp
Labels: config, crypto, inet, lib, nrf connect, platform, scripts, setup payload, system, transport

#2009 Move non-app-specific Silicon Labs files into src/app
  configure.ac
  examples/wifi-echo/server/esp32/main/component.mk
  examples/wifi-echo/server/esp32/main/gen/call-command-handler.c
  examples/wifi-echo/server/esp32/main/gen/call-command-handler.h
  examples/wifi-echo/server/esp32/main/gen/callback-stub.c
  examples/wifi-echo/server/esp32/main/gen/callback.h
  examples/wifi-echo/server/esp32/main/gen/znet-bookkeeping.c
  examples/wifi-echo/server/esp32/main/gen/znet-bookkeeping.h
  examples/wifi-echo/server/esp32/main/include/CHIPDeviceManager.h
  src/app/Makefile.am
  src/app/clusters/Makefile.am
  src/app/clusters/on-off-server/on-off.c
  src/app/util/Makefile.am
  src/app/util/af-main.h
  src/app/util/af-types.h
  src/app/util/af.h
  src/app/util/attribute-size.c
  src/app/util/attribute-storage.c
  src/app/util/attribute-storage.h
  src/app/util/attribute-table.c
  src/app/util/attribute-table.h
  src/app/util/chip-response.cpp
  src/app/util/chip-response.h
  src/app/util/client-api.c
  src/app/util/client-api.h
  src/app/util/common.h
  src/app/util/config.h
  src/app/util/ember-print.cpp
  src/app/util/ember-print.h
  src/app/util/message.c
  src/app/util/process-cluster-message.c
  src/app/util/process-global-message.c
  src/app/util/time-util.h
  src/app/util/types_stub.h
  src/app/util/util.c
  src/app/util/util.h
Labels: app, examples

#2023 Fix error logging for unknown commands in chip-tool
  examples/chip-tool/main.cpp
Labels: examples

#2018 Fix typo in src/platform/BUILD.gn
  src/platform/BUILD.gn
Labels: platform

#2032 Fix buttons handling crash in nRF5 samples
  examples/lighting-app/nrf5/main/AppTask.cpp
  examples/lock-app/nrf5/main/AppTask.cpp
Labels: examples

#2034 Fixup nrf5 examples OpenThreadConfig.h
  examples/platform/nrf528xx/app/project_include/OpenThreadConfig.h
Labels: examples

#2036 inet: Conditionally compile endpoints in GN
  src/inet/BUILD.gn
Labels: inet

#2040 whack some macros
  examples/wifi-echo/server/esp32/main/gen/callback-stub.c
  src/app/util/attribute-storage.c
  src/app/util/attribute-table.c
  src/app/util/client-api.c
  src/app/util/message.c
  src/app/util/process-global-message.c
  src/app/util/types_stub.h
  src/app/util/util.c
Labels: app, examples

#1927 Add basic support for Read Attributes Response in chip-tool
  examples/chip-tool/main.cpp
  src/app/chip-zcl-zpro/command-encoder/chip-zcl-zpro-codec.h
  src/app/chip-zcl-zpro/command-encoder/encoder.c
Labels: app, darwin, examples

#2079 whack boolean update BIT
  examples/lighting-app/nrf5/main/gen/callback-stub.c
  examples/lighting-app/nrf5/main/gen/callback.h
  examples/lock-app/nrf5/main/gen/callback-stub.c
  examples/lock-app/nrf5/main/gen/callback.h
  examples/lock-app/nrfconnect/main/gen/callback-stub.c
  examples/lock-app/nrfconnect/main/gen/callback.h
  examples/wifi-echo/server/esp32/main/EchoDeviceCallbacks.cpp
  examples/wifi-echo/server/esp32/main/gen/callback-stub.c
  examples/wifi-echo/server/esp32/main/gen/callback.h
  src/app/util/types_stub.h
Labels: app, examples

#2020 Decouple BLE from CHIPDeviceController by using a callback delegate.
  src/controller/CHIPDeviceController.cpp
  src/controller/CHIPDeviceController.h
  src/transport/BLE.cpp
  src/transport/BLE.h
Labels: controller, transport

#2069 [gn] Add gn support for ConnectivityManager for Linux platform.
  gn/chip/linux/BUILD.gn
  gn/chip/linux/gdbus_library.gni
  gn/chip/linux/gen_gdbus_wrapper.py
  src/platform/BUILD.gn
  src/platform/Linux/dbus/BUILD.gn
  src/platform/Linux/dbus/DBusWpa.xml
  src/platform/Linux/dbus/DBusWpaInterface.xml
  src/platform/Linux/dbus/DBusWpaNetwork.xml
  src/platform/Makefile.am
  src/platform/device.gni
Labels: gn, linux, platform, scripts

#2074 Stop using void* in our command decoder.
  src/app/chip-zcl-zpro/command-encoder/chip-zcl-zpro-codec.h
  src/app/chip-zcl-zpro/command-encoder/decoder.c
Labels: app

#2071 [nrf] Add CHIPoBLE Thread network provision in lock-app
  examples/lock-app/nrf5/main/AppTask.cpp
  examples/lock-app/nrf5/main/include/AppEvent.h
  examples/lock-app/nrf5/main/include/AppTask.h
  src/include/platform/ThreadStackManager.h
Labels: examples

#2083 Fix OpenSSL build of CHIPMessageLayer.h
  src/crypto/BUILD.gn
  src/lib/message/support/crypto/AESBlockCipher.h
Labels: crypto, lib

#2081 Disable security test mode to silence the build
  config/standalone/CHIPProjectConfig.h
  examples/lock-app/efr32/include/CHIPProjectConfig.h
  examples/platform/nrf528xx/app/project_include/CHIPProjectConfig.h
Labels: config, examples

#2048 Add support for a more general attribute-reading command to chip-tool
  examples/chip-tool/main.cpp
Labels: examples

#2085 add Framework to CHIP Tool App iOS.xscheme
  src/darwin/CHIPTool/CHIPTool.xcodeproj/xcshareddata/xcschemes/CHIP Tool App iOS.xcscheme
Labels: darwin

#2090 Remove service-directory profile.
  src/lib/message/CHIPSecurityMgr.cpp
  src/lib/message/Profiles/service-directory/ServiceDirectory.h
Labels: lib

#2082 Follow up on some PR comments in PR 2076
  src/app/chip-zcl-zpro/command-encoder/chip-zcl-zpro-codec.h
  src/app/chip-zcl-zpro/command-encoder/decoder.c
Labels: app

#2087 Enable more debug printing in Silicon Labs code
  examples/lighting-app/nrf5/main/gen/debug-printing-test.h
  examples/lighting-app/nrf5/main/gen/debug-printing.h
  examples/lighting-app/nrf5/main/gen/gen_config.h
  examples/lock-app/nrf5/main/gen/debug-printing-test.h
  examples/lock-app/nrf5/main/gen/debug-printing.h
  examples/lock-app/nrf5/main/gen/gen_config.h
  examples/lock-app/nrfconnect/main/gen/debug-printing-test.h
  examples/lock-app/nrfconnect/main/gen/debug-printing.h
  examples/lock-app/nrfconnect/main/gen/gen_config.h
  examples/wifi-echo/server/esp32/main/gen/debug-printing-test.h
  examples/wifi-echo/server/esp32/main/gen/debug-printing.h
  examples/wifi-echo/server/esp32/main/gen/gen_config.h
Labels: examples

#2100 [nrf5] Repair the newlib locking
  examples/lighting-app/nrf5/BUILD.gn
  examples/lighting-app/nrf5/Makefile
  examples/lighting-app/nrf5/main/main.cpp
  examples/lock-app/nrf5/BUILD.gn
  examples/lock-app/nrf5/Makefile
  examples/lock-app/nrf5/main/main.cpp
  examples/platform/nrf528xx/app/project_include/FreeRTOSConfig.h
  examples/platform/nrf528xx/app/support/BUILD.gn
  examples/platform/nrf528xx/app/support/FreeRTOSNewlibLockSupport.c
  examples/platform/nrf528xx/app/support/FreeRTOSNewlibLockSupport_test.c
  examples/platform/nrf528xx/app/support/FreeRTOSNewlibLockSupport_test.h
Labels: examples

#2104 Add missing cleanup to freertos_newlib_lock_test()
  examples/platform/nrf528xx/app/support/FreeRTOSNewlibLockSupport_test.c
Labels: examples

#2156 Add pointer to try GN build to BUILDING.md
  docs/BUILDING.md
Labels: documentation

#2112 Remove service-directory profile follow-up.
  src/include/platform/CHIPDeviceConfig.h
  src/include/platform/TimeSyncManager.h
  src/lib/core/CHIPConfig.h
  src/lib/support/CHIPFaultInjection.cpp
  src/lib/support/CHIPFaultInjection.h
  src/platform/Darwin/CHIPDevicePlatformConfig.h
  src/platform/Darwin/CHIPPlatformConfig.h
  src/platform/EFR32/CHIPDevicePlatformConfig.h
  src/platform/EFR32/CHIPPlatformConfig.h
  src/platform/ESP32/CHIPDevicePlatformConfig.h
  src/platform/K32W/CHIPDevicePlatformConfig.h
  src/platform/K32W/CHIPPlatformConfig.h
  src/platform/Linux/CHIPDevicePlatformConfig.h
  src/platform/Linux/CHIPPlatformConfig.h
  src/platform/nRF5/CHIPDevicePlatformConfig.h
  src/platform/nRF5/CHIPPlatformConfig.h
  src/platform/nrfconnect/CHIPDevicePlatformConfig.h
  src/platform/nrfconnect/CHIPPlatformConfig.h
  src/system/SystemStats.cpp
  src/system/SystemStats.h
Labels: darwin, efr32, esp32, k32w, lib, linux, nrf connect, nrf5, platform, system

#2108 Remove Echo Profile from WML baseline and allow WML to link.
  src/lib/message/CHIPSecurityMgr.cpp
  src/lib/message/Profiles/echo/CHIPEcho.h
Labels: lib

#2118 Fix namespace conflict if using NRF5_SDK_ROOT environment variable
  examples/build_overrides/nrf5_sdk.gni
  gn/build_overrides/nrf5_sdk.gni
  third_party/nrf5_sdk/nrf5_sdk.gni
  third_party/openthread/platforms/nrf528xx/BUILD.gn
Labels: examples, gn

#2151 Remove spam from CHIP_CONFIG_REQUIRE_AUTH == 0
  config/standalone/CHIPProjectConfig.h
  examples/lock-app/efr32/include/CHIPProjectConfig.h
  examples/platform/nrf528xx/app/project_include/CHIPProjectConfig.h
Labels: config, examples

#2155 [thread] enable Thread SLAAC by default
  configure.ac
  examples/platform/nrf528xx/app/project_include/OpenThreadConfig.h
  src/platform/OpenThread/GenericThreadStackManagerImpl_OpenThread.ipp
Labels: examples, openthread, platform

#2162 Add setter/getter for Encryption Key ID
  src/transport/MessageHeader.h
  src/transport/tests/TestMessageHeader.cpp
Labels: transport

#2105 Remove tunneling support from CHIP code base
  src/include/platform/CHIPDeviceConfig.h
  src/include/platform/CHIPDeviceEvent.h
  src/include/platform/ConnectivityManager.h
  src/include/platform/internal/GenericConnectivityManagerImpl_NoTunnel.h
  src/include/platform/internal/GenericConnectivityManagerImpl_Thread.ipp
  src/inet/BUILD.gn
  src/inet/EndPointBasis.h
  src/inet/Inet.h
  src/inet/InetConfig.h
  src/inet/InetLayer.am
  src/inet/InetLayer.cpp
  src/inet/InetLayer.h
  src/inet/InetLayerEvents.h
  src/inet/TunEndPoint.cpp
  src/inet/TunEndPoint.h
  src/inet/inet.gni
  src/inet/tests/TestInetEndPoint.cpp
  src/lib/core/BUILD.gn
  src/lib/core/CHIPConfig.h
  src/lib/core/CHIPError.cpp
  src/lib/core/CHIPError.h
  src/lib/core/CHIPTunnelConfig.h
  src/lib/core/CoreLayer.am
  src/lib/core/tests/TestCHIPErrorStr.cpp
  src/lib/message/CHIPConnection.cpp
  src/lib/message/CHIPMessageLayer.cpp
  src/lib/message/CHIPMessageLayer.h
  src/lib/support/CHIPFaultInjection.cpp
  src/lib/support/CHIPFaultInjection.h
  src/lib/support/logging/CHIPLogging.cpp
  src/lib/support/logging/CHIPLogging.h
  src/platform/BUILD.gn
  src/platform/Darwin/CHIPDevicePlatformConfig.h
  src/platform/Darwin/CHIPPlatformConfig.h
  src/platform/Darwin/ConnectivityManagerImpl.h
  src/platform/EFR32/CHIPDevicePlatformConfig.h
  src/platform/EFR32/CHIPPlatformConfig.h
  src/platform/EFR32/ConnectivityManagerImpl.h
  src/platform/ESP32/CHIPDevicePlatformConfig.h
  src/platform/ESP32/CHIPPlatformConfig.h
  src/platform/ESP32/ConnectivityManagerImpl.cpp
  src/platform/ESP32/ConnectivityManagerImpl.h
  src/platform/ESP32/InetPlatformConfig.h
  src/platform/K32W/CHIPDevicePlatformConfig.h
  src/platform/K32W/CHIPPlatformConfig.h
  src/platform/K32W/ConnectivityManagerImpl.h
  src/platform/Linux/CHIPDevicePlatformConfig.h
  src/platform/Linux/CHIPPlatformConfig.h
  src/platform/Linux/ConnectivityManagerImpl.h
  src/platform/Makefile.am
  src/platform/nRF5/CHIPDevicePlatformConfig.h
  src/platform/nRF5/CHIPPlatformConfig.h
  src/platform/nRF5/ConnectivityManagerImpl.h
  src/platform/nrfconnect/CHIPDevicePlatformConfig.h
  src/platform/nrfconnect/CHIPPlatformConfig.h
  src/platform/nrfconnect/ConnectivityManagerImpl.h
  src/system/SystemStats.cpp
  src/system/SystemStats.h
Labels: inet, lib

#2172 Rename WRMP/WRM to RMP(Reliable Messaging Protocol) in CHIP
  src/inet/InetFaultInjection.h
  src/inet/tests/TestInetCommonOptions.cpp
  src/lib/core/CHIPConfig.h
  src/lib/message/BUILD.gn
  src/lib/message/CHIPBinding.cpp
  src/lib/message/CHIPBinding.h
  src/lib/message/CHIPExchangeMgr.cpp
  src/lib/message/CHIPExchangeMgr.h
  src/lib/message/CHIPMessageLayer.cpp
  src/lib/message/CHIPRMPConfig.h
  src/lib/message/CHIPSecurityMgr.cpp
  src/lib/message/CHIPSecurityMgr.h
  src/lib/message/Profiles/common/CommonProfile.h
  src/lib/support/CHIPFaultInjection.h
  src/platform/Darwin/CHIPPlatformConfig.h
  src/platform/EFR32/CHIPPlatformConfig.h
  src/platform/ESP32/CHIPPlatformConfig.h
  src/platform/K32W/CHIPPlatformConfig.h
  src/platform/Linux/CHIPPlatformConfig.h
  src/platform/nRF5/CHIPPlatformConfig.h
  src/platform/nrfconnect/CHIPPlatformConfig.h
Labels: darwin, efr32, esp32, inet, k32w, lib, linux, nrf connect, nrf5, platform

#2166 Remove ManagedNamespace header and cleanup some math utils.
  src/lib/message/CHIPFabricState.cpp
  src/lib/message/CHIPFabricState.h
  src/lib/message/CHIPSecurityMgr.h
  src/lib/message/support/ManagedNamespace.h
  src/lib/message/support/MathUtils.h
Labels: lib

#2174 Use 12 bytes nonce for crypto
  src/transport/SecureSession.cpp
  src/transport/SecureSession.h
Labels: transport

#2176 Remove unused chip_inet_config_enable_tcp_endpoint overrides
  config/standalone/args.gni
Labels: config

#2195 Remove allow_circular_includes_from from src/controller/BUILD.gn
  src/controller/BUILD.gn
  src/transport/BLE.cpp
Labels: controller, transport

#2194 GN: make ot-br-posix path configurable
  examples/build_overrides/ot_br_posix.gni
  gn/build_overrides/ot_br_posix.gni
  src/platform/BUILD.gn
Labels: examples, gn, platform

#2192 Reformat GN build files
  BUILD.gn
  examples/lighting-app/nrf5/BUILD.gn
  examples/lock-app/efr32/BUILD.gn
  examples/lock-app/nrf5/BUILD.gn
  examples/platform/nrf528xx/args.gni
  src/app/BUILD.gn
  src/controller/BUILD.gn
  src/crypto/tests/BUILD.gn
  src/lib/message/BUILD.gn
  src/platform/BUILD.gn
  src/platform/device.gni
  third_party/efr32_sdk/efr32_board.gni
  third_party/ot-br-posix/BUILD.gn
Labels: app, controller, crypto, examples, lib, platform

#2185 Fix logic error in FreeRTOSNewlibLockSupport_test.c
  examples/platform/nrf528xx/app/support/FreeRTOSNewlibLockSupport_test.c
Labels: examples

#2180 Use a delegate for client callbacks in the CHIP Darwin Framework
  src/darwin/CHIPTool/CHIPTool/CHIPViewControllerBase.m
  src/darwin/Framework/CHIP/CHIPDeviceController.h
  src/darwin/Framework/CHIP/CHIPDeviceController.mm
Labels: darwin

#2198 [nrf5] fix name typo of lighting-app
  examples/lighting-app/nrf5/main/main.cpp
Labels: examples

#2199 [Thread] move off joiner start from timer task
  src/platform/FreeRTOS/GenericThreadStackManagerImpl_FreeRTOS.h
  src/platform/FreeRTOS/GenericThreadStackManagerImpl_FreeRTOS.ipp
Labels: freeRTOS, platform

#2200 BleConnectionDelegate on Darwin crashes while initiating a scan
  src/platform/Darwin/BleConnectionDelegateImpl.mm
Labels: darwin, platform

#2164 Fix crash in spake2p destructor
  src/crypto/CHIPCryptoPAL.cpp
  src/crypto/CHIPCryptoPAL.h
  src/crypto/CHIPCryptoPALOpenSSL.cpp
Labels: crypto

#2167 Create and lookup connection state using key ID and optional node ID
  src/transport/PeerConnectionState.h
  src/transport/PeerConnections.h
  src/transport/tests/TestPeerConnections.cpp
Labels: transport

#2190 Add common segger_rtt library to third_party
  examples/build_overrides/jlink.gni
  examples/platform/nrf528xx/args.gni
  gn/build_overrides/jlink.gni
  third_party/efr32_sdk/efr32_sdk.gni
  third_party/jlink/segger_rtt/BUILD.gn
  third_party/jlink/segger_rtt/License.txt
  third_party/jlink/segger_rtt/README.txt
  third_party/jlink/segger_rtt/RTT/BUILD.gn
  third_party/jlink/segger_rtt/RTT/SEGGER_RTT.c
  third_party/jlink/segger_rtt/RTT/SEGGER_RTT.h
  third_party/jlink/segger_rtt/RTT/SEGGER_RTT_ASM_ARMv7M.S
  third_party/jlink/segger_rtt/RTT/SEGGER_RTT_Conf.h
  third_party/jlink/segger_rtt/RTT/SEGGER_RTT_printf.c
  third_party/jlink/segger_rtt/Syscalls/BUILD.gn
  third_party/jlink/segger_rtt/Syscalls/SEGGER_RTT_Syscalls_GCC.c
  third_party/jlink/segger_rtt/Syscalls/SEGGER_RTT_Syscalls_IAR.c
  third_party/jlink/segger_rtt/Syscalls/SEGGER_RTT_Syscalls_KEIL.c
  third_party/jlink/segger_rtt/Syscalls/SEGGER_RTT_Syscalls_SES.c
  third_party/nrf5_sdk/nrf5_sdk.gni
  third_party/openthread/platforms/BUILD.gn
Labels: examples, gn

#2209 Replace CHIP Security Monitor Memory Manager within CHIPSecuityManage…
  src/lib/message/CHIPSecurityMgr.cpp
  src/lib/message/CHIPSecurityMgr.h
Labels: lib

#2212 [GN] add support for external device layer
  src/include/platform/CHIPDeviceEvent.h
  src/include/platform/ConfigurationManager.h
  src/include/platform/ConnectivityManager.h
  src/include/platform/PlatformManager.h
  src/include/platform/ThreadStackManager.h
  src/include/platform/internal/BLEManager.h
  src/platform/BUILD.gn
  src/platform/device.gni
Labels: examples, gn, lib, platform

#2211 [nrf5-demo] Add simple service discovery code for nrf5 example app
  examples/lighting-app/nrf5/main/AppTask.cpp
  examples/lock-app/nrf5/BUILD.gn
  examples/lock-app/nrf5/main/AppTask.cpp
  examples/lock-app/nrf5/main/include/app_config.h
  examples/platform/nrf528xx/app/Server.cpp
  examples/platform/nrf528xx/app/include/Server.h
Labels: examples

#2160 [thread] update thread pskd conversion
  examples/shell/cmd_device.cpp
  src/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/commissioner/CommissionerWorker.java
  src/include/platform/internal/GenericConfigurationManagerImpl.ipp
  src/platform/OpenThread/GenericThreadStackManagerImpl_OpenThread.ipp
Labels: android, examples, openthread, platform

#2170 Fixes and cleanup in Secure Pairing class
  src/transport/SecurePairingSession.cpp
  src/transport/SecurePairingSession.h
  src/transport/tests/TestSecurePairingSession.cpp
Labels: transport

#2232 [nrf5-demo] Change perference when selecting IP for publishing service
  examples/platform/nrf528xx/app/Server.cpp
Labels: examples

#2236 [GN] make config header path gn arguments for external device layer
  src/platform/device.gni
Labels: platform

#2237 Integrity protect unencrypted portion of message header
  src/transport/SecureSession.cpp
  src/transport/SecureSession.h
Labels: transport

#2233 [nrf5-demo] Print QR code on boot
  examples/lighting-app/nrf5/BUILD.gn
  examples/lighting-app/nrf5/main/AppTask.cpp
  examples/lock-app/nrf5/BUILD.gn
  examples/lock-app/nrf5/main/AppTask.cpp
  examples/platform/nrf528xx/app/support/CXXExceptionStubs.cpp
  src/setup_payload/ManualSetupPayloadGenerator.cpp
Labels: examples, setup payload

#2226 Swapping GN <-> Autotools as primary build
  .github/workflows/build.yaml
  .github/workflows/examples-autotools.yaml
  .github/workflows/examples.yaml
  .github/workflows/gn_build.yaml
Labels: github, workflows

#2206 Add exchange context implementation
  src/lib/message/BUILD.gn
  src/lib/message/ExchangeContext.cpp
Labels: lib

#2189 nrf5: Enlarge stack to fix thread join overruns
  examples/lighting-app/nrf5/BUILD.gn
  examples/lighting-app/nrf5/Makefile
  examples/lock-app/efr32/include/FreeRTOSConfig.h
  examples/lock-app/nrf5/BUILD.gn
  examples/lock-app/nrf5/Makefile
  examples/platform/nrf528xx/app/project_include/FreeRTOSConfig.h
  examples/platform/nrf528xx/app/support/BUILD.gn
  examples/platform/nrf528xx/app/support/FreeRTOSDebuggingHooks.c
  examples/platform/nrf528xx/app/support/FreeRTOSDebuggingHooks.h
  src/platform/EFR32/Logging.cpp
  src/platform/nRF5/Logging.cpp
Labels: efr32, examples, nrf5, platform

#2203 Add BoltLockManager and Silabs Cluster implementation
  examples/lock-app/efr32/BUILD.gn
  examples/lock-app/efr32/Makefile
  examples/lock-app/efr32/include/DataModelHandler.h
  examples/lock-app/efr32/include/Server.h
  examples/lock-app/efr32/include/mbedtls-config.h
  examples/lock-app/efr32/src/AppTask.cpp
  examples/lock-app/efr32/src/BoltLockManager.cpp
  examples/lock-app/efr32/src/DataModelHandler.cpp
  examples/lock-app/efr32/src/Server.cpp
  examples/lock-app/efr32/src/gen/af-structs.h
  examples/lock-app/efr32/src/gen/att-storage.h
  examples/lock-app/efr32/src/gen/attribute-id.h
  examples/lock-app/efr32/src/gen/attribute-size.h
  examples/lock-app/efr32/src/gen/attribute-type.h
  examples/lock-app/efr32/src/gen/call-command-handler.c
  examples/lock-app/efr32/src/gen/call-command-handler.h
  examples/lock-app/efr32/src/gen/callback-stub.c
  examples/lock-app/efr32/src/gen/callback.h
  examples/lock-app/efr32/src/gen/client-command-macro.h
  examples/lock-app/efr32/src/gen/cluster-id.h
  examples/lock-app/efr32/src/gen/command-id.h
  examples/lock-app/efr32/src/gen/debug-printing-test.h
  examples/lock-app/efr32/src/gen/debug-printing.h
  examples/lock-app/efr32/src/gen/endpoint_config.h
  examples/lock-app/efr32/src/gen/enums.h
  examples/lock-app/efr32/src/gen/gen_config.h
  examples/lock-app/efr32/src/gen/gen_tokens.h
  examples/lock-app/efr32/src/gen/print-cluster.h
  examples/lock-app/efr32/src/gen/znet-bookkeeping.c
  examples/lock-app/efr32/src/gen/znet-bookkeeping.h
  examples/lock-app/efr32/src/main.cpp
  examples/lock-app/efr32/src/platform/efr32mg12/BRD4163A/hal-config.h
  examples/lock-app/efr32/src/platform/efr32mg12/BRD4163A/init_board.c
  examples/lock-app/efr32/src/platform/efr32mg12/BRD4163A/init_mcu.c
  examples/lock-app/efr32/src/platform/efr32mg12/BRD4164A/hal-config.h
  examples/lock-app/efr32/src/platform/efr32mg12/BRD4164A/init_board.c
  examples/lock-app/efr32/src/platform/efr32mg12/BRD4164A/init_mcu.c
  scripts/examples/gn_efr32_example.sh
  src/platform/EFR32/BLEManagerImpl.cpp
  src/platform/EFR32/efr32-chip-mbedtls-config.h
  third_party/efr32_sdk/efr32_board.gni
  third_party/efr32_sdk/efr32_sdk.gni
Labels: examples

#2230 Integrate secure pairing with example app and device controller
  examples/chip-tool/main.cpp
  examples/lock-app/nrfconnect/main/Server.cpp
  examples/platform/nrf528xx/app/Server.cpp
  examples/wifi-echo/server/esp32/main/EchoServer.cpp
  examples/wifi-echo/server/esp32/main/RendezvousSession.cpp
  examples/wifi-echo/server/esp32/main/include/RendezvousSession.h
  examples/wifi-echo/server/esp32/main/wifi-echo.cpp
  src/controller/CHIPDeviceController.cpp
  src/controller/CHIPDeviceController.h
  src/controller/java/CHIPDeviceController-JNI.cpp
  src/darwin/Framework/CHIP/CHIPDeviceController.mm
  src/transport/SecurePairingSession.cpp
  src/transport/SecurePairingSession.h
  src/transport/SecureSession.cpp
  src/transport/SecureSession.h
  src/transport/SecureSessionMgr.cpp
  src/transport/SecureSessionMgr.h
  src/transport/tests/TestSecurePairingSession.cpp
  src/transport/tests/TestSecureSessionMgr.cpp
Labels: controller, darwin, examples, transport

#2287 Remove unused support header files from lib/message/support
  src/lib/message/Profiles/security/CHIPSecurity.h
  src/lib/message/support/ASN1.h
  src/lib/message/support/ASN1Config.h
  src/lib/message/support/ASN1Error.h
  src/lib/message/support/ASN1OID.h
  src/lib/message/support/MathUtils.h
  src/lib/message/support/crypto/EllipticCurve.h
  src/lib/message/support/crypto/HKDF.h
  src/lib/message/support/crypto/HMAC.h
Labels: lib

#2293 Don't build libopenthread-{mtd,radio} by default in examples
  examples/lighting-app/nrf5/BUILD.gn
  examples/lock-app/efr32/BUILD.gn
  examples/lock-app/nrf5/BUILD.gn
Labels: examples

#2295 [android] fix android build
  src/app/README.md
  src/controller/java/Makefile.am
  src/setup_payload/java/SetupPayloadParser-JNI.cpp
Labels: app, controller, setup payload

#2290 Add the API to bypass Rendezvous in the CHIP.framework
  src/darwin/Framework/CHIP/CHIPDeviceController.h
  src/darwin/Framework/CHIP/CHIPDeviceController.mm
Labels: darwin

#2306 Bring up the SoftAP on M5Stack when using the Bypass rendezvous mode.
  examples/wifi-echo/server/esp32/main/CHIPDeviceManager.cpp
Labels: examples

#2304 Fix the non-gn build of chip-tool on Mac.
  config/standalone/standalone-chip.mk
Labels: config

#2303 Fix chip-tool build on Mac not finding openssl headers
  examples/chip-tool/Makefile
Labels: examples

#2307 Rename the folder lib/profiles to lib/protocols and all relevant file…
  src/lib/Makefile.am
  src/lib/message/CHIPBinding.cpp
  src/lib/message/CHIPBinding.h
  src/lib/message/CHIPExchangeMgr.cpp
  src/lib/message/CHIPFabricState.cpp
  src/lib/message/CHIPFabricState.h
  src/lib/message/CHIPSecurityMgr.cpp
  src/lib/message/CHIPSecurityMgr.h
  src/lib/message/CHIPServerBase.cpp
  src/lib/message/ExchangeContext.cpp
  src/lib/profiles/CHIPProfiles.h
  src/lib/protocols/CHIPProtocols.h
  src/lib/protocols/ProtocolLayer.am
  src/lib/protocols/common/CHIPMessage.h
  src/lib/protocols/common/CommonProtocol.h
  src/lib/protocols/fabric-provisioning/FabricProvisioning.h
  src/lib/protocols/security/CHIPApplicationKeys.h
  src/lib/protocols/security/CHIPDummyGroupKeyStore.h
  src/lib/protocols/security/CHIPSecurity.h
  src/lib/protocols/status-report/StatusReportProtocol.h
  src/platform/EFR32/NetworkProvisioningServerImpl.cpp
  src/platform/ESP32/SoftwareUpdateManagerImpl.cpp
  src/platform/K32W/SoftwareUpdateManagerImpl.cpp
  src/setup_payload/QRCodeSetupPayloadGenerator.cpp
  src/setup_payload/QRCodeSetupPayloadParser.cpp
Labels: efr32, esp32, k32w, lib, platform, setup payload

#2299 Add explicit BLE parameters to Device controller connectivity.
  src/controller/CHIPDeviceController.cpp
  src/controller/CHIPDeviceController.h
Labels: controller

#2300 Add CI for Silabs EFR32
  .github/workflows/examples.yaml
  config/efr32/efr32-app.mk
  integrations/docker/images/chip-build-efr32/Dockerfile
  integrations/docker/images/chip-build-efr32/build.sh
  integrations/docker/images/chip-build-efr32/run.sh
  integrations/docker/images/chip-build-efr32/version
  integrations/docker/images/chip-build/Dockerfile
  scripts/examples/gn_efr32_example.sh
Labels: config, github, integrations, scripts, workflows

#2103 #2073 Switch the zpro encoder/decoder to using BufBound
  examples/chip-tool/main.cpp
  examples/wifi-echo/server/esp32/main/EchoDeviceCallbacks.cpp
  src/app/BUILD.gn
  src/app/DataModel.am
  src/app/chip-zcl-zpro-codec.h
  src/app/decoder.cpp
  src/app/encoder.c
  src/app/encoder.cpp
  src/app/util/chip-response.cpp
  src/lib/support/BufBound.h
Labels: app, examples, lib

#2327 Remove build flag CHIP_CONFIG_ENABLE_RELIABLE_MESSAGING since RMP is …
  src/lib/core/BUILD.gn
  src/lib/message/CHIPBinding.cpp
  src/lib/message/CHIPBinding.h
  src/lib/message/CHIPExchangeMgr.cpp
  src/lib/message/CHIPExchangeMgr.h
  src/lib/message/CHIPFabricState.cpp
  src/lib/message/CHIPRMPConfig.h
  src/lib/message/CHIPSecurityMgr.cpp
  src/lib/message/CHIPSecurityMgr.h
  src/lib/message/ExchangeContext.cpp
  src/lib/support/CHIPFaultInjection.cpp
  src/lib/support/CHIPFaultInjection.h
Labels: lib

#2309 Fix the darwin fwk compile
  src/darwin/Framework/CHIP/CHIPSetupPayload.mm
Labels: darwin

#2310 Remove include dependency on underlying crypto libraries
  src/crypto/CHIPCryptoPAL.h
  src/crypto/CHIPCryptoPALOpenSSL.cpp
  src/crypto/CHIPCryptoPALmbedTLS.cpp
  src/crypto/tests/CHIPCryptoPALTest.cpp
  src/darwin/Framework/CHIP.xcodeproj/project.pbxproj
Labels: crypto, darwin

#2357 [shell] add missing inttypes.h header
  examples/shell/cmd_device.cpp
Labels: examples

#2339 [nRF Connect] Update docker image
  integrations/docker/images/chip-build-nrf-platform/Dockerfile
  integrations/docker/images/chip-build/version
Labels: integrations

#2362 Fix buffer overruns and endianness issues in decoder code.
  src/app/BUILD.gn
  src/app/Makefile.am
  src/app/decoder.cpp
  src/lib/core/BUILD.gn
Labels: app, examples, lib

#2361 Improve the output of some debug prints in dispatchZclMessage.
  src/app/util/util.c
Labels: app

#2366 [example/nRF5] Fix lighting app typo
  examples/lighting-app/nrf5/README.md
Labels: examples

#2370 [nRF Connect] Use hardware-accelerated crypto functions
  .github/workflows/examples-autotools.yaml
  config/nrfconnect/chip-lib.cmake
  config/nrfconnect/nrfconnect-app.cmake
  examples/lock-app/nrfconnect/main/include/app_mbedtls_config.h
  examples/lock-app/nrfconnect/prj.conf
  src/test_driver/nrfconnect/prj.conf
Labels: config, examples, github, workflows

#2356 [GN] export platform config to external device layer
  src/platform/BUILD.gn
Labels: platform

#2325 ESP32 gn support
  .github/workflows/examples-gn.yml
  config/esp32/.gn
  config/esp32/BUILD.gn
  config/esp32/args.gni
  config/esp32/build_overrides
  config/esp32/components/chip/Kconfig
  config/esp32/components/chip/component.mk
  config/esp32/mbedtls/BUILD.gn
  config/esp32/third_party/connectedhomeip
  config/esp32/toolchain/BUILD.gn
  examples/wifi-echo/server/esp32/Makefile
  gn/build_overrides/esp32.gni
  scripts/examples/esp_echo_app.sh
  src/ble/BUILD.gn
  src/inet/BUILD.gn
  src/inet/RawEndPoint.cpp
  src/inet/UDPEndPoint.cpp
  src/lwip/BUILD.gn
  src/platform/BUILD.gn
  src/platform/ESP32/CHIPPlatformConfig.h
  src/platform/ESP32/args.gni
  src/platform/device.gni
  src/system/BUILD.gn
Labels: ble, config, crypto, esp32, examples, github, gn, inet, lwip, platform, scripts, system, transport, workflows

#2335 [nRF Connect] Print PIN and QR Code on door-lock startup
  config/nrfconnect/nrfconnect-app.cmake
  examples/lock-app/nrfconnect/main/AppTask.cpp
  examples/lock-app/nrfconnect/main/include/AppTask.h
  examples/lock-app/nrfconnect/prj.conf
Labels: config, examples

#2315 Changing Docker Host Network Mode
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
Labels: vscode

#2371 [shell] Add otcli pass-through commands for direct control over the OpenThread interface.
  examples/shell/BUILD.gn
  examples/shell/README.md
  examples/shell/README_OTCLI.md
  examples/shell/cmd_otcli.cpp
  examples/shell/main.cpp
  src/lib/shell/shell.h
  src/platform/Linux/CHIPDevicePlatformConfig.h
Labels: examples, lib, linux, platform

#2292 [chip-tool] Rename executable to chip-tool and improve quick start instructions.
  .github/workflows/examples.yaml
  examples/chip-tool/BUILD.gn
  examples/chip-tool/Dockerfile.server
  examples/chip-tool/Dockerfile.tool
  examples/chip-tool/Makefile
  examples/chip-tool/README.md
  examples/chip-tool/entrypoint.sh
  examples/chip-tool/server.mk
  src/test_driver/linux-cirque/test-on-off-cluster.py
Labels: examples, github, workflows

#2359 01 update bloat script to preserve at most 80 binary builds
  scripts/helpers/bloat_check.py
Labels: scripts

#2322 GN Compilation for android JNI library
  BUILD.gn
  gn/build/config/compiler/compiler.gni
  gn/chip/java/jar_runner.py
  gn/chip/java/javac_runner.py
  gn/chip/java/rules.gni
  src/controller/java/BUILD.gn
  src/controller/java/CHIPDeviceController-JNI.cpp
  src/setup_payload/java/BUILD.gn
  third_party/lwip/repo/lwip/src/include/lwip/arch.h
Labels: controller, gn, setup payload

#2378 suppress empty bloat_check
  scripts/helpers/bloat_check.py
Labels: scripts

#2382 Update ReadMe
  examples/lock-app/efr32/README.md
  scripts/examples/gn_efr32_example.sh
Labels: examples, scripts

#2344 [GN] Flashing for nrf5 examples
  examples/lighting-app/nrf5/BUILD.gn
  examples/lock-app/nrf5/BUILD.gn
  gn/build/gn_run_binary.py
  gn/build/toolchain/flashable_executable.gni
  third_party/nrf5_sdk/gen_flashing_script.py
  third_party/nrf5_sdk/nrf5_executable.gni
  third_party/nrf5_sdk/nrf5_firmware_utils.py
  third_party/nrf5_sdk/nrf5_sdk.gni
Labels: crypto, darwin, examples, gn

#2038 add stubbed-out CHIP v1 clusters from SiLabs
  examples/wifi-echo/server/esp32/main/component.mk
  examples/wifi-echo/server/esp32/main/gen/call-command-handler.c
  examples/wifi-echo/server/esp32/main/gen/call-command-handler.h
  examples/wifi-echo/server/esp32/main/gen/callback-stub.c
  examples/wifi-echo/server/esp32/main/gen/clusters-callback-stubs.c
  examples/wifi-echo/server/esp32/main/gen/endpoint_config.h
  examples/wifi-echo/server/esp32/main/gen/gen_config.h
  examples/wifi-echo/server/esp32/main/gen/znet-bookkeeping.c
  src/app/clusters/barrier-control-server/barrier-control-server-cli.c
  src/app/clusters/barrier-control-server/barrier-control-server-test.c
  src/app/clusters/barrier-control-server/barrier-control-server.c
  src/app/clusters/barrier-control-server/barrier-control-server.h
  src/app/clusters/basic/basic.c
  src/app/clusters/color-control-server/color-control-server.c
  src/app/clusters/door-lock-server/door-lock-server-cli.c
  src/app/clusters/door-lock-server/door-lock-server-core.c
  src/app/clusters/door-lock-server/door-lock-server-logging.c
  src/app/clusters/door-lock-server/door-lock-server-schedule.c
  src/app/clusters/door-lock-server/door-lock-server-user.c
  src/app/clusters/door-lock-server/door-lock-server.h
  src/app/clusters/groups-client/groups-client.c
  src/app/clusters/groups-server/groups-server-cli.c
  src/app/clusters/groups-server/groups-server.c
  src/app/clusters/ias-zone-client/ias-zone-client-cli.c
  src/app/clusters/ias-zone-client/ias-zone-client.c
  src/app/clusters/ias-zone-client/ias-zone-client.h
  src/app/clusters/ias-zone-server/ias-zone-server-cli.c
  src/app/clusters/ias-zone-server/ias-zone-server-test.c
  src/app/clusters/ias-zone-server/ias-zone-server-test.h
  src/app/clusters/ias-zone-server/ias-zone-server-tokens.h
  src/app/clusters/ias-zone-server/ias-zone-server.c
  src/app/clusters/ias-zone-server/ias-zone-server.h
  src/app/clusters/identify/identify-cli.c
  src/app/clusters/identify/identify.c
  src/app/clusters/level-control/level-control.c
  src/app/clusters/level-control/level-control.h
  src/app/clusters/on-off-server/on-off.c
  src/app/clusters/scenes-client/scenes-client.c
  src/app/clusters/scenes-client/scenes-client.h
  src/app/clusters/scenes/scenes-cli.c
  src/app/clusters/scenes/scenes-tokens.h
  src/app/clusters/scenes/scenes.c
  src/app/clusters/scenes/scenes.h
  src/app/reporting/reporting-cli.c
  src/app/reporting/reporting-default-configuration.c
  src/app/reporting/reporting-tokens.h
  src/app/reporting/reporting.c
  src/app/reporting/reporting.h
  src/app/util/ember-print.cpp
  src/app/util/ember-print.h
  src/app/util/process-global-message.c
Labels: app, config, examples

#2331 Initialize LEDs after BoltLockMgr
  examples/lock-app/efr32/src/AppTask.cpp
Labels: examples

#2388 Revert "add stubbed-out CHIP v1 clusters from SiLabs"
  examples/wifi-echo/server/esp32/main/component.mk
  examples/wifi-echo/server/esp32/main/gen/call-command-handler.c
  examples/wifi-echo/server/esp32/main/gen/call-command-handler.h
  examples/wifi-echo/server/esp32/main/gen/callback-stub.c
  examples/wifi-echo/server/esp32/main/gen/clusters-callback-stubs.c
  examples/wifi-echo/server/esp32/main/gen/endpoint_config.h
  examples/wifi-echo/server/esp32/main/gen/gen_config.h
  examples/wifi-echo/server/esp32/main/gen/znet-bookkeeping.c
  src/app/clusters/barrier-control-server/barrier-control-server-cli.c
  src/app/clusters/barrier-control-server/barrier-control-server-test.c
  src/app/clusters/barrier-control-server/barrier-control-server.c
  src/app/clusters/barrier-control-server/barrier-control-server.h
  src/app/clusters/basic/basic.c
  src/app/clusters/color-control-server/color-control-server.c
  src/app/clusters/door-lock-server/door-lock-server-cli.c
  src/app/clusters/door-lock-server/door-lock-server-core.c
  src/app/clusters/door-lock-server/door-lock-server-logging.c
  src/app/clusters/door-lock-server/door-lock-server-schedule.c
  src/app/clusters/door-lock-server/door-lock-server-user.c
  src/app/clusters/door-lock-server/door-lock-server.h
  src/app/clusters/groups-client/groups-client.c
  src/app/clusters/groups-server/groups-server-cli.c
  src/app/clusters/groups-server/groups-server.c
  src/app/clusters/ias-zone-client/ias-zone-client-cli.c
  src/app/clusters/ias-zone-client/ias-zone-client.c
  src/app/clusters/ias-zone-client/ias-zone-client.h
  src/app/clusters/ias-zone-server/ias-zone-server-cli.c
  src/app/clusters/ias-zone-server/ias-zone-server-test.c
  src/app/clusters/ias-zone-server/ias-zone-server-test.h
  src/app/clusters/ias-zone-server/ias-zone-server-tokens.h
  src/app/clusters/ias-zone-server/ias-zone-server.c
  src/app/clusters/ias-zone-server/ias-zone-server.h
  src/app/clusters/identify/identify-cli.c
  src/app/clusters/identify/identify.c
  src/app/clusters/level-control/level-control.c
  src/app/clusters/level-control/level-control.h
  src/app/clusters/on-off-server/on-off.c
  src/app/clusters/scenes-client/scenes-client.c
  src/app/clusters/scenes-client/scenes-client.h
  src/app/clusters/scenes/scenes-cli.c
  src/app/clusters/scenes/scenes-tokens.h
  src/app/clusters/scenes/scenes.c
  src/app/clusters/scenes/scenes.h
  src/app/reporting/reporting-cli.c
  src/app/reporting/reporting-default-configuration.c
  src/app/reporting/reporting-tokens.h
  src/app/reporting/reporting.c
  src/app/reporting/reporting.h
  src/app/util/ember-print.cpp
  src/app/util/ember-print.h
  src/app/util/process-global-message.c
Labels: app, examples

#2330 Fix BLE advertising state machine
  src/platform/EFR32/BLEManagerImpl.cpp
Labels: efr32, platform
