Repository project-chip/connectedhomeip, pull requests merged in 2020-09, with the labels that each got.

#2391 fix build esp32 with gn
  config/esp32/components/chip/component.mk
Labels: config

#2329 Add jdk to android docker, add android build to CI
  .github/workflows/android.yaml
  examples/shell/cmd_otcli.cpp
  gn/build/config/BUILDCONFIG.gn
  gn/build/config/android_abi.gni
  gn/build/config/arm.gni
  gn/build/toolchain/android/BUILD.gn
  gn/build/toolchain/android/android_toolchain.gni
  integrations/docker/images/chip-build-android/Dockerfile
  src/android/CHIPTool/.idea/codeStyles/Project.xml
  src/android/CHIPTool/.idea/vcs.xml
  src/controller/java/BUILD.gn
  src/setup_payload/java/BUILD.gn
Labels: android, controller, examples, github, gn, integrations, setup payload, workflows

#2392 Add a second endpoint with a single on/off cluster on it to the wifi-echo server
  examples/wifi-echo/server/esp32/main/gen/endpoint_config.h
  examples/wifi-echo/server/esp32/main/gen/gen_config.h
Labels: examples

#2397 pass V=1 through to ninja
  config/esp32/components/chip/component.mk
Labels: config

#2403 Flashing for efr32 lock-app example
  examples/lock-app/efr32/BUILD.gn
  examples/lock-app/efr32/README.md
  third_party/efr32_sdk/efr32_executable.gni
  third_party/efr32_sdk/efr32_firmware_utils.py
  third_party/efr32_sdk/gen_flashing_script.py
Labels: examples

#2346 port SiLabs level-control over to CHIP
  examples/wifi-echo/server/esp32/main/component.mk
  examples/wifi-echo/server/esp32/main/gen/callback-stub.c
  examples/wifi-echo/server/esp32/main/gen/callback.h
  examples/wifi-echo/server/esp32/main/gen/clusters-callback-stubs.c
  src/app/clusters/level-control/level-control.cpp
  src/app/clusters/level-control/level-control.h
  src/app/util/config.h
  src/app/util/util.c
Labels: app, examples

#2400 Derive MAC tag length from encryption type
  src/transport/MessageHeader.h
  src/transport/SecureSession.cpp
Labels: transport

#2401 Add a second virtual LED to the M5Stack demo.
  examples/wifi-echo/server/esp32/main/EchoDeviceCallbacks.cpp
  examples/wifi-echo/server/esp32/main/EchoServer.cpp
  examples/wifi-echo/server/esp32/main/wifi-echo.cpp
Labels: examples

#2395 Import identify, barrier and scene-client clusters
  examples/wifi-echo/server/esp32/main/component.mk
  examples/wifi-echo/server/esp32/main/gen/callback.h
  examples/wifi-echo/server/esp32/main/gen/clusters-callback-stubs.c
  src/app/clusters/barrier-control-server/barrier-control-server-cli.c
  src/app/clusters/barrier-control-server/barrier-control-server-test.c
  src/app/clusters/barrier-control-server/barrier-control-server.c
  src/app/clusters/barrier-control-server/barrier-control-server.h
  src/app/clusters/identify/identify-cli.c
  src/app/clusters/identify/identify.c
  src/app/clusters/scenes-client/scenes-client.c
  src/app/clusters/scenes-client/scenes-client.h
  src/app/util/ember-print.cpp
  src/app/util/ember-print.h
  src/app/util/types_stub.h
Labels: app, examples

#2413 Make the Groups cluster server compile
  examples/chip-tool/BUILD.gn
  examples/lighting-app/nrf5/BUILD.gn
  examples/lock-app/efr32/BUILD.gn
  examples/lock-app/nrf5/BUILD.gn
  examples/lock-app/nrfconnect/CMakeLists.txt
  examples/wifi-echo/server/esp32/main/component.mk
  examples/wifi-echo/server/esp32/main/gen/callback-stub.c
  examples/wifi-echo/server/esp32/main/gen/callback.h
  examples/wifi-echo/server/esp32/main/gen/clusters-callback-stubs.c
  src/app/clusters/groups-server/groups-server-cli.c
  src/app/clusters/groups-server/groups-server.c
  src/app/util/binding-table.cpp
  src/app/util/binding-table.h
  src/app/util/types_stub.h
Labels: app, examples

#2432 add mspang to CODEOWNERS
  .github/CODEOWNERS
Labels: github

#2424 [docker] update commit-id of nRF Connect SDK
  integrations/docker/images/chip-build-nrf-platform/Dockerfile
  integrations/docker/images/chip-build/version
Labels: integrations

#2421 Add mising parts to message layer to allow linking.
  src/lib/message/BUILD.gn
  src/lib/message/CHIPExchangeMgr.cpp
  src/lib/message/CHIPExchangeMgr.h
  src/lib/message/CHIPGlobals.cpp
  src/lib/message/CHIPGlobals.h
  src/lib/message/CHIPMessageLayer.cpp
  src/lib/message/CHIPSecurityMgr.cpp
  src/lib/message/ExchangeContext.cpp
Labels: lib

#2416 [EFR32 examples] Move EFR platform files higher up the tree for other examples uses
  examples/lock-app/efr32/BUILD.gn
  examples/lock-app/efr32/Makefile
  examples/lock-app/efr32/include/AppConfig.h
  examples/lock-app/efr32/include/AppTask.h
  examples/lock-app/efr32/src/AppTask.cpp
  examples/platform/efr32/board_config.h
  examples/platform/efr32/efr32mg12/BRD4161A/hal-config.h
  examples/platform/efr32/efr32mg12/BRD4161A/init_board.c
  examples/platform/efr32/efr32mg12/BRD4161A/init_mcu.c
  examples/platform/efr32/efr32mg12/BRD4163A/hal-config.h
  examples/platform/efr32/efr32mg12/BRD4163A/init_board.c
  examples/platform/efr32/efr32mg12/BRD4163A/init_mcu.c
  examples/platform/efr32/efr32mg12/BRD4164A/hal-config.h
  examples/platform/efr32/efr32mg12/BRD4164A/init_board.c
  examples/platform/efr32/efr32mg12/BRD4164A/init_mcu.c
  examples/platform/efr32/efr32mg12/BRD4166A/hal-config.h
  examples/platform/efr32/efr32mg12/BRD4166A/init_board.c
  examples/platform/efr32/efr32mg12/BRD4166A/init_mcu.c
  examples/platform/efr32/efr32mg12/BRD4170A/hal-config.h
  examples/platform/efr32/efr32mg12/BRD4170A/init_board.c
  examples/platform/efr32/efr32mg12/BRD4170A/init_mcu.c
  examples/platform/efr32/efr32mg12/BRD4304A/hal-config.h
  examples/platform/efr32/efr32mg12/BRD4304A/init_board.c
  examples/platform/efr32/efr32mg12/BRD4304A/init_mcu.c
  examples/platform/efr32/efr32mg21/BRD4180A/hal-config.h
  examples/platform/efr32/efr32mg21/BRD4180A/init_board.c
  examples/platform/efr32/efr32mg21/BRD4180A/init_mcu.c
  examples/platform/efr32/init_board.h
  examples/platform/efr32/init_mcu.h
  third_party/openthread/platforms/efr32/BUILD.gn
Labels: examples

#2411 Added 'Common > Language-independent > Use C stdint.h or C++ cstdint for Plain Old Data Types'
  docs/style/coding/CODING_STYLE_GUIDE.adoc
Labels: documentation

#2429 Import color control cluster
  examples/wifi-echo/server/esp32/main/component.mk
  examples/wifi-echo/server/esp32/main/gen/callback-stub.c
  examples/wifi-echo/server/esp32/main/gen/clusters-callback-stubs.c
  src/app/clusters/color-control-server/color-control-server.c
  src/app/util/af-types.h
  src/app/util/types_stub.h
Labels: app, examples

#2386 Revise nrf5 example READMEs for GN.
  examples/lighting-app/nrf5/README.md
  examples/lock-app/nrf5/README.md
  third_party/nrf5_sdk/nrf5_firmware_utils.py
Labels: examples

#2408 Use uint8_t instead of unsigned char in crypto APIs
  src/controller/CHIPDeviceController.cpp
  src/crypto/CHIPCryptoPAL.cpp
  src/crypto/CHIPCryptoPAL.h
  src/crypto/CHIPCryptoPALOpenSSL.cpp
  src/crypto/CHIPCryptoPALmbedTLS.cpp
  src/crypto/tests/AES_CCM_128_test_vectors.h
  src/crypto/tests/AES_CCM_256_test_vectors.h
  src/crypto/tests/CHIPCryptoPALTest.cpp
  src/crypto/tests/ECDH_P256_test_vectors.h
  src/crypto/tests/HKDF_SHA256_test_vectors.h
  src/crypto/tests/Hash_SHA256_test_vectors.h
  src/crypto/tests/PBKDF2_SHA256_test_vectors.h
  src/crypto/tests/SPAKE2P_FE_MUL_test_vectors.h
  src/crypto/tests/SPAKE2P_FE_RW_test_vectors.h
  src/crypto/tests/SPAKE2P_HMAC_test_vectors.h
  src/crypto/tests/SPAKE2P_POINT_MUL_ADD_test_vectors.h
  src/crypto/tests/SPAKE2P_POINT_MUL_test_vectors.h
  src/crypto/tests/SPAKE2P_POINT_RW_test_vectors.h
  src/crypto/tests/SPAKE2P_POINT_VALID_test_vectors.h
  src/crypto/tests/SPAKE2P_RFC_test_vectors.h
  src/lib/core/CHIPSafeCasts.h
  src/transport/SecurePairingSession.cpp
  src/transport/SecurePairingSession.h
  src/transport/SecureSession.cpp
  src/transport/SecureSession.h
  src/transport/SecureSessionMgr.cpp
  src/transport/tests/TestSecurePairingSession.cpp
  src/transport/tests/TestSecureSession.cpp
Labels: controller, crypto, lib, transport

#2444 Updated Docker Version in VSCODE
  .devcontainer/devcontainer.json
Labels: vscode

#2452 Address leftover comments from crypto API cleanup
  src/crypto/CHIPCryptoPAL.cpp
  src/crypto/CHIPCryptoPAL.h
Labels: crypto

#2398 Fix circular dependency issue when linking message layer
  examples/shell/BUILD.gn
  src/controller/BUILD.gn
  src/lib/core/BUILD.gn
  src/lib/support/tests/BUILD.gn
  src/platform/BUILD.gn
  third_party/nrf5_sdk/nrf5_sdk.gni
Labels: controller, crypto, examples, lib, platform

#2385 Remove the linux-embedded build
  .github/workflows/build.yaml
  BUILD.gn
  config/linux/toolchain/BUILD.gn
Labels: config, github, workflows

#2459 include save_logs.sh in restyled
  .restyled.yaml
  scripts/tests/save_logs.sh
Labels: scripts

#2464 Import scene cluster
  examples/wifi-echo/server/esp32/main/component.mk
  examples/wifi-echo/server/esp32/main/gen/callback-stub.c
  examples/wifi-echo/server/esp32/main/gen/clusters-callback-stubs.c
  examples/wifi-echo/server/esp32/main/gen/gen_config.h
  src/app/clusters/scenes/scenes-cli.c
  src/app/clusters/scenes/scenes.c
  src/app/clusters/scenes/scenes.h
Labels: app, examples

#2466 Remove emberAfGetBufferCrc from src/app/util/util.c
  src/app/util/util.c
  src/app/util/util.h
Labels: app

#2494 Readme edits per MPSG
  README.md
  docs/images/CHIP_Arch_Pyramid.png
  docs/images/CHIP_IP_pyramid.png
Labels: documentation

#2418 Separate Rendezvous message handling from BLE session
  examples/wifi-echo/server/esp32/main/RendezvousMessageHandler.cpp
  examples/wifi-echo/server/esp32/main/RendezvousSession.cpp
  examples/wifi-echo/server/esp32/main/include/RendezvousMessageHandler.h
Labels: examples

#2488 [nRF Connect] Update lock-app README
  examples/lighting-app/nrf5/README.md
  examples/lighting-app/nrf5/images/nrf52840-dk.jpg
  examples/lock-app/nrf5/README.md
  examples/lock-app/nrfconnect/README.md
  examples/platform/nrf528xx/doc/images/nrf52840-dk.jpg
Labels: examples

#2497 [nrfconnect] disable unneeded crypto operations
  examples/lock-app/nrfconnect/prj.conf
  examples/shell/nrfconnect/prj.conf
Labels: examples

#2505 Uncomment basic cluster
  examples/lighting-app/nrf5/main/gen/callback.h
  examples/lock-app/nrf5/main/gen/callback.h
  examples/lock-app/nrfconnect/main/gen/callback.h
  examples/wifi-echo/server/esp32/main/component.mk
  examples/wifi-echo/server/esp32/main/gen/callback-stub.c
  examples/wifi-echo/server/esp32/main/gen/callback.h
  examples/wifi-echo/server/esp32/main/gen/clusters-callback-stubs.c
  src/app/clusters/basic/basic.c
Labels: app, examples

#2484 [nrfconnect] enable multiprotocol
  .github/workflows/examples.yaml
  config/nrfconnect/Kconfig
  examples/lock-app/nrfconnect/prj.conf
  examples/shell/nrfconnect/prj.conf
  src/include/platform/ThreadStackManager.h
  src/inet/ZephyrSocket.h
Labels: config, examples, github, inet, lib, scripts, workflows

#2442 Add ChipOverBluez build gn compilation support in Linux device layer
  configure.ac
  gn/chip/linux/gdbus_library.gni
  gn/chip/linux/gen_gdbus_wrapper.py
  src/BUILD.gn
  src/include/platform/ConnectivityManager.h
  src/include/platform/internal/BLEManager.h
  src/platform/BUILD.gn
  src/platform/Linux/BLEManagerImpl.cpp
  src/platform/Linux/BLEManagerImpl.h
  src/platform/Linux/CHIPBluezHelper.cpp
  src/platform/Linux/CHIPBluezHelper.h
  src/platform/Linux/CHIPDevicePlatformConfig.h
  src/platform/Linux/ConnectivityManagerImpl.h
  src/platform/Linux/dbus/bluez/BUILD.gn
  src/platform/Linux/dbus/bluez/DbusBluez.c
  src/platform/Linux/dbus/bluez/DbusBluez.h
  src/platform/Linux/dbus/bluez/org.bluez.xml
  src/platform/Linux/dbus/wpa/BUILD.gn
  src/platform/Linux/dbus/wpa/DBusWpa.h
  src/platform/Linux/dbus/wpa/DBusWpa.xml
  src/platform/Linux/dbus/wpa/DBusWpaInterface.h
  src/platform/Linux/dbus/wpa/DBusWpaInterface.xml
  src/platform/Linux/dbus/wpa/DBusWpaNetwork.h
  src/platform/Linux/dbus/wpa/DBusWpaNetwork.xml
  src/platform/Makefile.am
  src/platform/device.gni
  src/platform/tests/BUILD.gn
  src/platform/tests/TestCHIPoBLEStackMgr.cpp
  src/platform/tests/TestCHIPoBLEStackMgrDriver.cpp
Labels: efr32, esp32, gn, linux, platform

#2477 fix .restyled.yaml
  .devcontainer/devcontainer.json
  .restyled.yaml
  .vscode/settings.json
Labels: vscode

#2461 Don't rebuild flashing scripts on re-link
  gn/build/toolchain/flashable_executable.gni
Labels: gn

#2518 Fix build issues
  examples/lock-app/efr32/BUILD.gn
  examples/lock-app/efr32/include/mbedtls-config.h
  examples/platform/efr32/efr32mg21/BRD4180A/init_board.c
  src/platform/EFR32/efr32-chip-mbedtls-config.h
  third_party/efr32_sdk/efr32_board.gni
  third_party/efr32_sdk/efr32_sdk.gni
  third_party/openthread/platforms/efr32/BUILD.gn
Labels: efr32, examples, platform

#2467 Implement ECP256 keygen crypto API
  src/crypto/CHIPCryptoPAL.h
  src/crypto/CHIPCryptoPALOpenSSL.cpp
  src/crypto/CHIPCryptoPALmbedTLS.cpp
  src/crypto/tests/CHIPCryptoPALTest.cpp
Labels: crypto

#2463 Add a utility method for checking whether an integer value can be safely cast to a given integer type
  src/lib/support/BUILD.gn
  src/lib/support/SafeInt.h
Labels: lib

#2476 Update CODEOWNERS
  .github/CODEOWNERS
Labels: github

#2539 break reviewer teams back out again
  .github/CODEOWNERS
Labels: github

#2536 Documentation warnings fixes
  src/crypto/CHIPCryptoPAL.h
  src/darwin/Framework/CHIP/CHIPDeviceController.mm
  src/transport/SecurePairingSession.h
  src/transport/SecureSession.h
Labels: crypto, darwin, transport

#2524 Add restyle-diff
  scripts/helpers/restyle-diff.sh
Labels: scripts

#2537 Add crypto API to generate a Certificate Signing Request
  config/nrfconnect/nrfconnect-app.cmake
  examples/lighting-app/nrf5/BUILD.gn
  examples/lock-app/nrf5/BUILD.gn
  src/crypto/CHIPCryptoPAL.h
  src/crypto/CHIPCryptoPALOpenSSL.cpp
  src/crypto/CHIPCryptoPALmbedTLS.cpp
  src/crypto/tests/CHIPCryptoPALTest.cpp
  src/platform/EFR32/efr32-chip-mbedtls-config.h
Labels: config, crypto, efr32, examples, platform

#2433 Make the Groups cluster client compile
  examples/wifi-echo/server/esp32/main/component.mk
  examples/wifi-echo/server/esp32/main/gen/clusters-callback-stubs.c
  src/app/clusters/groups-client/groups-client.c
Labels: app, examples

#2455 Make src/inet compile with -Werror=conversion
  config/nrfconnect/chip-lib.cmake
  src/inet/BUILD.gn
  src/inet/DNSResolver.cpp
  src/inet/IPAddress-StringFuncts.cpp
  src/inet/IPAddress.cpp
  src/inet/IPEndPointBasis.cpp
  src/inet/IPPrefix.cpp
  src/inet/InetInterface.cpp
  src/inet/InetLayer.cpp
  src/inet/InetUtils.cpp
  src/inet/TCPEndPoint.cpp
  src/inet/tests/TestInetEndPoint.cpp
  src/inet/tests/TestInetLayer.cpp
  src/system/SystemPacketBuffer.h
  third_party/android/platform-libcore/android-platform-libcore/luni/src/main/native/ifaddrs-android.h
  third_party/nrf5_sdk/nrf5_sdk.gni
Labels: config, inet, lib, nrf connect, platform, system

#2557 prevent restyled loops
  .github/CODEOWNERS
  .restyled.yaml
Labels: github

#2555 Switch response-sending in cluster code to just use a node id.
  examples/chip-tool/server.cpp
  examples/lock-app/efr32/src/Server.cpp
  examples/lock-app/efr32/src/main.cpp
  examples/lock-app/nrfconnect/main/AppTask.cpp
  examples/lock-app/nrfconnect/main/Server.cpp
  examples/platform/nrf528xx/app/Server.cpp
  examples/platform/nrf528xx/app/chipinit.cpp
  examples/wifi-echo/server/esp32/main/DataModelHandler.cpp
  examples/wifi-echo/server/esp32/main/EchoServer.cpp
  src/app/util/af-types.h
  src/app/util/chip-response.cpp
  src/app/util/chip-response.h
  src/app/util/common.h
  src/app/util/message.c
  src/app/util/types_stub.h
  src/app/util/util.c
  src/app/util/util.h
Labels: app, examples

#2546 Fix warnings -Warray-bounds
  examples/platform/nrf528xx/args.gni
Labels: examples

#2526 Remove automake builds from VSCode
  .vscode/tasks.json
  docs/VSCODE_DEVELOPMENT.md
  scripts/build/default.sh
  scripts/build/distribution_check.sh
  scripts/build/gn_build.sh
  scripts/build/gn_gen.sh
  scripts/examples/gn_build_example.sh
  scripts/helpers/clean.sh
  scripts/helpers/clean_tree.sh
  scripts/tests/all_tests.sh
  scripts/tests/crypto_tests.sh
  scripts/tests/gn_tests.sh
  scripts/tests/inet_tests.sh
  scripts/tests/mbedtls_tests.sh
  scripts/tests/openssl_tests.sh
  scripts/tests/qrcode_payload_tests.sh
  scripts/tests/setup_payload_tests.sh
Labels: documentation, scripts, vscode

#2527 Add Android & EFR32 builds to devcontainer
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .vscode/c_cpp_properties.json
  examples/lock-app/nrfconnect/README.md
  gn/build/toolchain/android/android_toolchain.gni
  integrations/docker/images/chip-build-android/Dockerfile
  integrations/docker/images/chip-build-efr32/Dockerfile
  integrations/docker/images/chip-build-esp32-qemu/Dockerfile
  integrations/docker/images/chip-build-esp32/Dockerfile
  integrations/docker/images/chip-build-nrf-platform/Dockerfile
  integrations/docker/images/chip-build-vscode/Dockerfile
  integrations/docker/images/chip-build/Dockerfile
  integrations/docker/images/chip-build/version
  scripts/helpers/update_compile_commands.sh
Labels: documentation, examples, gn, integrations, scripts, vscode

#2550 fix lwIP Thread interface address synchronization
  src/platform/OpenThread/GenericThreadStackManagerImpl_OpenThread.h
  src/platform/OpenThread/GenericThreadStackManagerImpl_OpenThread.ipp
  src/platform/OpenThread/GenericThreadStackManagerImpl_OpenThread_LwIP.ipp
Labels: openthread, platform

#2510 Break examples/chip-tool/main.cpp into multiple files
  examples/chip-tool/BUILD.gn
  examples/chip-tool/commands/Commands.h
  examples/chip-tool/commands/Echo.h
  examples/chip-tool/commands/EchoBle.h
  examples/chip-tool/commands/Off.h
  examples/chip-tool/commands/On.h
  examples/chip-tool/commands/ReadOnOff.h
  examples/chip-tool/commands/Toggle.h
  examples/chip-tool/commands/common/Command.cpp
  examples/chip-tool/commands/common/Command.h
  examples/chip-tool/commands/common/EchoCommand.cpp
  examples/chip-tool/commands/common/EchoCommand.h
  examples/chip-tool/commands/common/ModelCommand.cpp
  examples/chip-tool/commands/common/ModelCommand.h
  examples/chip-tool/commands/common/NetworkCommand.cpp
  examples/chip-tool/commands/common/NetworkCommand.h
  examples/chip-tool/main.cpp
Labels: examples

#2542 [GN] Factor out common code from platform *_firmware_utils.py
  gn/build/toolchain/flashable_executable.gni
  scripts/flashing/efr32_firmware_utils.py
  scripts/flashing/firmware_utils.py
  scripts/flashing/gen_flashing_script.py
  scripts/flashing/nrf5_firmware_utils.py
  third_party/efr32_sdk/efr32_executable.gni
  third_party/efr32_sdk/gen_flashing_script.py
  third_party/nrf5_sdk/nrf5_executable.gni
  third_party/nrf5_sdk/nrf5_firmware_utils.py
Labels: gn, scripts

#2588 Change ModelCommand from examples/chip-tool/ to use ChipEncoding
  examples/chip-tool/commands/common/ModelCommand.cpp
  examples/chip-tool/commands/common/ModelCommand.h
Labels: examples

#2590 Convert ConfigurationManager::[Get/Store]SetupDiscriminator to uint16_t
  examples/lighting-app/nrf5/main/AppTask.cpp
  examples/lock-app/efr32/src/AppTask.cpp
  examples/lock-app/nrf5/main/AppTask.cpp
  examples/lock-app/nrfconnect/main/AppTask.cpp
  examples/shell/cmd_device.cpp
  examples/wifi-echo/server/esp32/main/wifi-echo.cpp
  src/include/platform/ConfigurationManager.h
  src/include/platform/internal/GenericConfigurationManagerImpl.h
  src/include/platform/internal/GenericConfigurationManagerImpl.ipp
  src/platform/ESP32/BLEManagerImpl.cpp
  src/platform/ESP32/ConnectivityManagerImpl.cpp
  src/platform/OpenThread/GenericThreadStackManagerImpl_OpenThread.ipp
  src/platform/tests/TestConfigurationMgr.cpp
Labels: esp32, examples, openthread, platform

#2589 Replace 16-bit by 8-bit in description of methods ChipEncoding::Read8
  src/lib/core/CHIPEncoding.h
Labels: lib

#2577 Fix warnings -Warray-bounds & disable -Wunused
  gn/build/config/compiler/BUILD.gn
  src/app/util/af-event.cpp
Labels: app, gn

#2559 Use ECPKey instead of raw uint8_t* for asymmetric keys
  src/crypto/CHIPCryptoPAL.h
  src/crypto/CHIPCryptoPALOpenSSL.cpp
  src/crypto/CHIPCryptoPALmbedTLS.cpp
  src/crypto/tests/CHIPCryptoPALTest.cpp
  src/crypto/tests/ECDH_P256_test_vectors.h
  src/transport/SecureSession.cpp
  src/transport/SecureSession.h
  src/transport/tests/TestSecureSession.cpp
Labels: crypto, transport

#2593 Remove 'import sys' from gn/chip/write_buildconfig_header.py
  gn/chip/write_buildconfig_header.py
Labels: gn

#2575 Sync up CI with latest docker images
  .github/workflows/android.yaml
  .github/workflows/bloat_check.yaml
  .github/workflows/build.yaml
  .github/workflows/examples-autotools.yaml
  .github/workflows/examples-gn.yml
  .github/workflows/examples.yaml
  .github/workflows/qemu.yaml
Labels: github, workflows

#2578 Add libdbus-1-dev & libglib2.0-dev to build dependencies
  docs/BUILDING-GN.md
Labels: documentation

#2598 [BUILD FIX] Use uint16_t for discriminator in examples/lighting-app/nrfconnect/ma…
  examples/lighting-app/nrfconnect/main/AppTask.cpp
Labels: examples

#2584 Add Android SDK to docker
  integrations/docker/images/chip-build-android/Dockerfile
  integrations/docker/images/chip-build-vscode/Dockerfile
  integrations/docker/images/chip-build/version
Labels: integrations

#2597 3rd try to fix CODEOWNERS
  .github/CODEOWNERS
Labels: github

#2582 Add Android SDK to Android build
  .devcontainer/devcontainer.json
  .github/workflows/android.yaml
  .github/workflows/bloat_check.yaml
  .github/workflows/build.yaml
  .github/workflows/examples-autotools.yaml
  .github/workflows/examples-gn.yml
  .github/workflows/examples.yaml
  .github/workflows/qemu.yaml
  gn/build/config/android/config.gni
  gn/chip/java/rules.gni
  gn_build.sh
  src/controller/java/BUILD.gn
  src/setup_payload/java/BUILD.gn
Labels: controller, github, gn, integrations, setup payload, vscode, workflows

#2601 Restore useful error message when an unknown command name is passed to chip-tool
  examples/chip-tool/commands/Commands.h
Labels: examples

#2594 Remove '-Wno-deprecated-declarations' from src/controller/BUILD.gn
  src/controller/BUILD.gn
Labels: controller

#2607 ChipTool echo-ble command exits instantly
  examples/chip-tool/commands/common/EchoCommand.cpp
  examples/chip-tool/commands/common/EchoCommand.h
Labels: examples

#2469 import zcl reporting
  examples/wifi-echo/server/esp32/main/component.mk
  examples/wifi-echo/server/esp32/main/gen/callback-stub.c
  examples/wifi-echo/server/esp32/main/gen/clusters-callback-stubs.c
  examples/wifi-echo/server/esp32/main/gen/endpoint_config.h
  src/app/reporting/reporting-cli.c
  src/app/reporting/reporting-default-configuration.c
  src/app/reporting/reporting.c
  src/app/reporting/reporting.h
  src/app/util/af-types.h
  src/app/util/types_stub.h
  src/app/util/util.c
Labels: app, examples

#2646 Merge identical DataModelHandler files for lock-common and lighting-common
  examples/common/chip-app-server/BUILD.gn
  examples/common/chip-app-server/DataModelHandler.cpp
  examples/lighting-app/lighting-common/BUILD.gn
  examples/lighting-app/lighting-common/DataModelHandler.cpp
  examples/lock-app/lock-common/BUILD.gn
Labels: examples

#2604 Remove file that only exists because of a mis-merge.
  examples/chip-tool/gen/af-gen-event.h
Labels: examples

#2508 Adds RendezvousSession inside src/transport
  examples/chip-tool/commands/common/NetworkCommand.cpp
  examples/common/chip-app-server/Server.cpp
  examples/lighting-app/nrfconnect/main/Server.cpp
  examples/lock-app/efr32/src/Server.cpp
  examples/lock-app/nrfconnect/main/Server.cpp
  examples/wifi-echo/server/esp32/main/EchoDeviceCallbacks.cpp
  examples/wifi-echo/server/esp32/main/EchoServer.cpp
  examples/wifi-echo/server/esp32/main/RendezvousDeviceDelegate.cpp
  examples/wifi-echo/server/esp32/main/RendezvousSession.cpp
  examples/wifi-echo/server/esp32/main/include/RendezvousDeviceDelegate.h
  examples/wifi-echo/server/esp32/main/include/RendezvousSession.h
  examples/wifi-echo/server/esp32/main/wifi-echo.cpp
  src/controller/CHIPDeviceController.cpp
  src/controller/CHIPDeviceController.h
  src/darwin/Framework/CHIP/CHIPDeviceController.mm
  src/transport/BLE.cpp
  src/transport/BLE.h
  src/transport/BUILD.gn
  src/transport/RendezvousParameters.h
  src/transport/RendezvousSession.cpp
  src/transport/RendezvousSession.h
  src/transport/RendezvousSessionDelegate.h
  src/transport/SecurePairingSession.cpp
  src/transport/SecurePairingSession.h
  src/transport/SecureSessionMgr.cpp
  src/transport/SecureSessionMgr.h
  src/transport/TransportLayer.am
  src/transport/tests/TestSecurePairingSession.cpp
  src/transport/tests/TestSecureSessionMgr.cpp
Labels: controller, darwin, examples, transport

#2648 Use VerifyOrDie instead of assert() in inet and platform code
  src/inet/TCPEndPoint.cpp
  src/platform/K32W/Logging.cpp
Labels: inet, k32w, platform

#2635 Fix last LGTM issues
  src/inet/IPAddress.h
  src/inet/IPPrefix.h
  src/inet/InetLayer.cpp
  src/inet/InetLayerBasis.h
Labels: inet, transport

#2653 [docker] Fix spelling error (expressif -> espressif)
  .devcontainer/Dockerfile
  integrations/docker/images/chip-build-esp32-qemu/Dockerfile
  integrations/docker/images/chip-build-esp32/Dockerfile
  integrations/docker/images/chip-build-vscode/Dockerfile
  integrations/docker/images/chip-build/version
Labels: integrations, vscode

#2652 Add --check args to gn gen in our example scripts.
  scripts/examples/gn_build_example.sh
  scripts/examples/gn_efr32_example.sh
  scripts/examples/gn_nrf_example.sh
Labels: scripts

#2655 Work around activate.sh failure after cleaning
  scripts/helpers/clean_tree.sh
Labels: scripts

#2677 Switch to using gn to build the esp32 example app by default.
  .github/workflows/examples-autotools.yaml
  config/esp32/components/chip/component.mk
  examples/wifi-echo/server/esp32/Makefile
  src/test_driver/esp32/Makefile
  src/test_driver/esp32/qemu_setup.sh
Labels: config, examples, github, workflows

#2549 Add interface argument to chip-tool
  examples/chip-tool/commands/common/Command.cpp
  examples/chip-tool/commands/common/Command.h
  examples/chip-tool/commands/common/NetworkCommand.cpp
  examples/chip-tool/commands/common/NetworkCommand.h
  src/controller/CHIPDeviceController.cpp
  src/controller/CHIPDeviceController.h
  src/transport/PeerAddress.h
  src/transport/UDP.cpp
Labels: controller, examples, transport

#2661 [nRF Connect] Use common server & ZCL code in the examples
  examples/lighting-app/nrfconnect/CMakeLists.txt
  examples/lighting-app/nrfconnect/main/AppTask.cpp
  examples/lighting-app/nrfconnect/main/Server.cpp
  examples/lighting-app/nrfconnect/main/ZclCallbacks.cpp
  examples/lighting-app/nrfconnect/main/gen/af-gen-event.h
  examples/lighting-app/nrfconnect/main/gen/af-structs.h
  examples/lighting-app/nrfconnect/main/gen/att-storage.h
  examples/lighting-app/nrfconnect/main/gen/attribute-id.h
  examples/lighting-app/nrfconnect/main/gen/attribute-size.h
  examples/lighting-app/nrfconnect/main/gen/attribute-type.h
  examples/lighting-app/nrfconnect/main/gen/call-command-handler.c
  examples/lighting-app/nrfconnect/main/gen/call-command-handler.h
  examples/lighting-app/nrfconnect/main/gen/callback-stub.c
  examples/lighting-app/nrfconnect/main/gen/callback.h
  examples/lighting-app/nrfconnect/main/gen/client-command-macro.h
  examples/lighting-app/nrfconnect/main/gen/cluster-id.h
  examples/lighting-app/nrfconnect/main/gen/command-id.h
  examples/lighting-app/nrfconnect/main/gen/debug-printing-test.h
  examples/lighting-app/nrfconnect/main/gen/debug-printing.h
  examples/lighting-app/nrfconnect/main/gen/endpoint_config.h
  examples/lighting-app/nrfconnect/main/gen/enums.h
  examples/lighting-app/nrfconnect/main/gen/gen_config.h
  examples/lighting-app/nrfconnect/main/gen/gen_tokens.h
  examples/lighting-app/nrfconnect/main/gen/print-cluster.h
  examples/lighting-app/nrfconnect/main/gen/znet-bookkeeping.c
  examples/lighting-app/nrfconnect/main/gen/znet-bookkeeping.h
  examples/lighting-app/nrfconnect/main/include/Server.h
  examples/lock-app/nrfconnect/CMakeLists.txt
  examples/lock-app/nrfconnect/main/AppTask.cpp
  examples/lock-app/nrfconnect/main/Server.cpp
  examples/lock-app/nrfconnect/main/ZclCallbacks.cpp
  examples/lock-app/nrfconnect/main/gen/af-gen-event.h
  examples/lock-app/nrfconnect/main/gen/af-structs.h
  examples/lock-app/nrfconnect/main/gen/att-storage.h
  examples/lock-app/nrfconnect/main/gen/attribute-id.h
  examples/lock-app/nrfconnect/main/gen/attribute-size.h
  examples/lock-app/nrfconnect/main/gen/attribute-type.h
  examples/lock-app/nrfconnect/main/gen/call-command-handler.c
  examples/lock-app/nrfconnect/main/gen/call-command-handler.h
  examples/lock-app/nrfconnect/main/gen/callback-stub.c
  examples/lock-app/nrfconnect/main/gen/callback.h
  examples/lock-app/nrfconnect/main/gen/client-command-macro.h
  examples/lock-app/nrfconnect/main/gen/cluster-id.h
  examples/lock-app/nrfconnect/main/gen/command-id.h
  examples/lock-app/nrfconnect/main/gen/debug-printing-test.h
  examples/lock-app/nrfconnect/main/gen/debug-printing.h
  examples/lock-app/nrfconnect/main/gen/endpoint_config.h
  examples/lock-app/nrfconnect/main/gen/enums.h
  examples/lock-app/nrfconnect/main/gen/gen_config.h
  examples/lock-app/nrfconnect/main/gen/gen_tokens.h
  examples/lock-app/nrfconnect/main/gen/print-cluster.h
  examples/lock-app/nrfconnect/main/gen/znet-bookkeeping.c
  examples/lock-app/nrfconnect/main/gen/znet-bookkeeping.h
  examples/lock-app/nrfconnect/main/include/Server.h
Labels: examples

#2691 Fix issue #2516
  examples/wifi-echo/server/esp32/main/gen/callback-stub.c
  examples/wifi-echo/server/esp32/main/gen/clusters-callback-stubs.c
Labels: examples

#2685 [app] Implement factory reset in light app
  examples/lighting-app/nrf5/main/AppTask.cpp
Labels: examples

#2686 Remove no-op esp32 config
  config/esp32/BUILD.gn
Labels: config

#2693 Sync CODEOWNERS with @project-chip/reviewers-{apple,google}
  .github/CODEOWNERS
Labels: github

#2649 Rework Crypto APIs to define a Keypair class
  src/crypto/CHIPCryptoPAL.h
  src/crypto/CHIPCryptoPALOpenSSL.cpp
  src/crypto/CHIPCryptoPALmbedTLS.cpp
  src/crypto/tests/CHIPCryptoPALTest.cpp
  src/transport/SecureSession.cpp
  src/transport/SecureSession.h
  src/transport/tests/TestSecureSession.cpp
Labels: crypto, transport

#2700 Use ConfigurationMgr instead of #define values for EXAMPLE_VENDOR_ID …
  examples/lock-app/efr32/include/CHIPProjectConfig.h
  examples/lock-app/efr32/src/AppTask.cpp
  examples/lock-app/k32w/main/include/CHIPProjectConfig.h
  examples/lock-app/nrf5/main/AppTask.cpp
  examples/lock-app/nrfconnect/main/AppTask.cpp
  examples/platform/nrf528xx/app/project_include/CHIPProjectConfig.h
  examples/shell/nrf52/include/CHIPProjectConfig.h
  examples/wifi-echo/server/esp32/main/wifi-echo.cpp
  src/darwin/CHIPTool/CHIPTool/QRCode/QRCodeViewController.m
Labels: darwin, examples

#2694 Remove the Android automake build
  Makefile-Android
  configure.ac
  src/Makefile.am
  src/android/CHIPTool/README.md
  src/controller/java/Makefile.am
  src/setup_payload/java/Makefile.am
  third_party/ot-commissioner/build-android-libs.sh
Labels: android, controller, setup payload

#2681 Fix Android build with OpenJDK 11
  gn/chip/java/rules.gni
Labels: gn

#2658 Securing Rendezvous messages
  src/controller/CHIPDeviceController.cpp
  src/transport/BLE.cpp
  src/transport/RendezvousSession.cpp
  src/transport/RendezvousSession.h
Labels: controller, transport

#2706 Allow to reconnect to RendezvousSession after an initial successful c…
  src/transport/RendezvousSession.cpp
  src/transport/SecurePairingSession.cpp
Labels: transport

#2710 Flashing wrappers need python3
  scripts/flashing/firmware_utils.py
  scripts/flashing/gen_flashing_script.py
Labels: scripts

#2682 [apps] move ble handlers to common server
  examples/common/chip-app-server/Server.cpp
  examples/lock-app/nrf5/main/AppTask.cpp
  examples/lock-app/nrf5/main/include/AppTask.h
Labels: examples

#2713 Disable privileged mode for builds
  .github/workflows/build.yaml
Labels: github, workflows

#2714 [K32W] Add ZCL support and use it to control the E-Lock
  config/k32w/k32w061-chip.mk
  configure.ac
  examples/lock-app/k32w/Makefile
  examples/lock-app/k32w/main/AppTask.cpp
  examples/lock-app/k32w/main/ZclCallbacks.cpp
  examples/lock-app/k32w/main/main.cpp
Labels: config, examples

#2703 Get Doxygen documentation to be independent of the build system
  .gitignore
  Makefile.am
  README.md
  configure.ac
  docs/ChipDoxygenLayout.xml
  docs/Doxyfile
  docs/Makefile.am
  scripts/helpers/doxygen-format-check.sh
  scripts/helpers/doxygen.sh
Labels: documentation, scripts

#2725 Disable failing tests on Mac
  src/inet/tests/BUILD.gn
  src/transport/tests/BUILD.gn
Labels: inet, transport

#2720 Rendezvous rendezvous parameters ble connection object
  src/transport/BLE.cpp
  src/transport/BLE.h
  src/transport/RendezvousParameters.h
Labels: documentation, scripts, transport

#2745 [EFR APP] Use common Server and DataModelHandler files
  .github/workflows/examples.yaml
  examples/lighting-app/efr32/BUILD.gn
  examples/lighting-app/efr32/README.md
  examples/lighting-app/efr32/include/AppTask.h
  examples/lighting-app/efr32/include/Server.h
  examples/lighting-app/efr32/src/AppTask.cpp
  examples/lighting-app/efr32/src/Server.cpp
  examples/lighting-app/efr32/src/ZclCallbacks.cpp
  examples/lighting-app/efr32/src/main.cpp
  examples/lock-app/efr32/BUILD.gn
  examples/lock-app/efr32/include/AppTask.h
  examples/lock-app/efr32/include/DataModelHandler.h
  examples/lock-app/efr32/include/LEDWidget.h
  examples/lock-app/efr32/include/Server.h
  examples/lock-app/efr32/src/AppTask.cpp
  examples/lock-app/efr32/src/LEDWidget.cpp
  examples/lock-app/efr32/src/Server.cpp
  examples/lock-app/efr32/src/ZclCallbacks.cpp
  examples/lock-app/efr32/src/main.cpp
  examples/platform/efr32/LEDWidget.cpp
  examples/platform/efr32/LEDWidget.h
  examples/platform/efr32/Service.cpp
  examples/platform/efr32/Service.h
Labels: examples, github, workflows

#2718 Doxygen fixes
  docs/BUILDING.md
  docs/Doxyfile
  src/controller/CHIPDeviceController.h
  src/controller/java/CHIPDeviceController-JNI.cpp
  src/crypto/CHIPCryptoPAL.h
  src/include/platform/CHIPDeviceError.h
  src/include/platform/PlatformManager.h
  src/include/platform/internal/GenericConnectivityManagerImpl_NoBLE.h
  src/include/platform/internal/GenericConnectivityManagerImpl_NoWiFi.h
  src/include/platform/internal/GenericConnectivityManagerImpl_WiFi.h
  src/inet/IPEndPointBasis.cpp
  src/inet/IPEndPointBasis.h
  src/inet/InetInterface.cpp
  src/inet/InetLayer.cpp
  src/inet/InetUtils.cpp
  src/inet/RawEndPoint.cpp
  src/inet/RawEndPoint.h
  src/inet/TCPEndPoint.cpp
  src/inet/TCPEndPoint.h
  src/inet/UDPEndPoint.cpp
  src/inet/UDPEndPoint.h
  src/lib/core/CHIPTLVWriter.cpp
  src/lib/message/support/crypto/AESBlockCipher.h
  src/lib/message/support/crypto/HashAlgos.h
  src/lib/shell/shell.h
  src/platform/EFR32/efr32-chip-mbedtls-config.h
  src/platform/ESP32/ConnectivityManagerImpl.cpp
  src/system/SystemConfig.h
  src/system/SystemError.cpp
  src/system/SystemError.h
  src/system/SystemEvent.h
  src/system/SystemLayer.cpp
  src/system/SystemLayer.h
  src/system/SystemPacketBuffer.cpp
  src/transport/BLE.h
  src/transport/BUILD.gn
  src/transport/Base.h
  src/transport/MessageHeader.cpp
  src/transport/MessageHeader.h
  src/transport/RendezvousSession.cpp
  src/transport/SecureSession.h
  src/transport/SecureSessionMgr.h
  src/transport/Tuple.h
Labels: controller, crypto, documentation, efr32, esp32, inet, lib, platform, scripts, system

#2548 [cirque] Update cirque log output
  .github/workflows/cirque.yaml
  scripts/tests/cirque_tests.sh
  src/test_driver/linux-cirque/OnOffClusterTest.sh
  src/test_driver/linux-cirque/do_on-off-cluster-test.sh
  src/test_driver/linux-cirque/helper/CHIPTestBase.py
  src/test_driver/linux-cirque/test-on-off-cluster.py
Labels: github, scripts, workflows

#2729 [K32W] Fix logging and README
  examples/lock-app/k32w/README.md
  src/platform/K32W/Logging.cpp
Labels: examples, k32w, platform

#2739 Sync up CI & VSCode with latest docker images
  .devcontainer/devcontainer.json
  .github/workflows/android.yaml
  .github/workflows/bloat_check.yaml
  .github/workflows/build.yaml
  .github/workflows/examples-autotools.yaml
  .github/workflows/examples-gn.yml
  .github/workflows/examples.yaml
  .github/workflows/qemu.yaml
Labels: github, vscode, workflows

#2709 Documentation cleanup for TCP transport
  src/transport/TCP.cpp
  src/transport/TCP.h
Labels: transport

#2743 Add BLE connection object to RendezvousParameters.
  src/controller/java/CHIPDeviceController-JNI.cpp
  src/controller/java/src/chip/devicecontroller/ChipDeviceController.java
Labels: controller

#2723 Add instructions to install ninja-build
  examples/wifi-echo/server/esp32/README.md
Labels: examples

#2759 Remove <iostream>
  src/setup_payload/Base41.cpp
  src/setup_payload/ManualSetupPayloadParser.cpp
  src/setup_payload/QRCodeSetupPayloadGenerator.cpp
  src/setup_payload/QRCodeSetupPayloadParser.cpp
  src/setup_payload/tests/TestQRCode.cpp
  src/setup_payload/tests/TestQRCodeTLV.cpp
Labels: setup payload

#2763 Fix warnings -Wextra-semi
  examples/chip-tool/commands/common/Command.h
  examples/chip-tool/commands/common/NetworkCommand.h
  src/app/encoder.cpp
  src/ble/BLEEndPoint.h
  src/ble/BtpEngine.h
  src/controller/CHIPDeviceController.cpp
  src/controller/CHIPDeviceController.h
  src/crypto/CHIPCryptoPAL.h
  src/inet/tests/TestInetLayerCommon.cpp
  src/inet/tests/TestInetLayerCommon.hpp
  src/lib/core/CHIPCallback.h
  src/lib/core/CHIPCircularTLVBuffer.h
  src/lib/core/CHIPVendorIdentifiers.hpp
  src/lib/core/tests/TestCHIPCallback.cpp
  src/lib/message/CHIPMessageLayer.h
  src/lib/protocols/common/CHIPMessage.h
  src/lib/support/CHIPCounter.h
  src/lib/support/FlagUtils.hpp
  src/setup_payload/ManualSetupPayloadGenerator.h
  src/setup_payload/ManualSetupPayloadParser.h
  src/setup_payload/QRCodeSetupPayloadGenerator.h
  src/setup_payload/QRCodeSetupPayloadParser.h
  src/setup_payload/SetupPayload.h
  src/system/tests/TestSystemTimer.cpp
  src/transport/RendezvousParameters.h
  src/transport/RendezvousSession.h
  src/transport/SecurePairingSession.h
Labels: app, ble, controller, crypto, examples, inet, lib, setup payload, system, transport

#2749 Add some documentation about Rendezvous
  docs/Doxyfile
  docs/dots/Rendezvous/RendezvousSessionGeneral.dot
  docs/dots/Rendezvous/RendezvousSessionInit.dot
  src/transport/RendezvousSession.h
Labels: documentation, transport

#2756 Optimizations to asymmetric keypair
  src/crypto/CHIPCryptoPAL.h
  src/crypto/CHIPCryptoPALOpenSSL.cpp
  src/crypto/CHIPCryptoPALmbedTLS.cpp
  src/crypto/tests/CHIPCryptoPALTest.cpp
Labels: crypto

#2697 [zephyr] Run native_posix tests in CI
  .github/workflows/examples.yaml
  config/nrfconnect/chip-lib.cmake
  scripts/tests/nrfconnect_native_posix_tests.sh
  src/ble/tests/Makefile.am
  src/ble/tests/TestBleErrorStr.cpp
  src/crypto/tests/CHIPCryptoPALTest.cpp
  src/inet/tests/TestInetAddress.cpp
  src/inet/tests/TestInetEndPoint.cpp
  src/inet/tests/TestInetErrorStr.cpp
  src/inet/tests/TestInetLayerDNS.cpp
  src/lib/core/tests/TestCHIPCallback.cpp
  src/lib/core/tests/TestCHIPErrorStr.cpp
  src/lib/core/tests/TestCHIPTLV.cpp
  src/lib/core/tests/TestReferenceCounted.cpp
  src/lib/shell/tests/TestShell.cpp
  src/lib/shell/tests/TestStreamerStdio.cpp
  src/lib/support/TestUtils.h
  src/lib/support/tests/TestBufBound.cpp
  src/lib/support/tests/TestCHIPCounter.cpp
  src/lib/support/tests/TestCHIPMem.cpp
  src/platform/Zephyr/SystemTimeSupport.cpp
  src/platform/nrfconnect/SystemPlatformConfig.h
  src/platform/tests/TestConfigurationMgr.cpp
  src/platform/tests/TestPlatformTime.cpp
  src/system/tests/TestSystemErrorStr.cpp
  src/system/tests/TestSystemObject.cpp
  src/system/tests/TestSystemPacketBuffer.cpp
  src/system/tests/TestSystemTimer.cpp
  src/system/tests/TestSystemWakeEvent.cpp
  src/system/tests/TestTimeSource.cpp
  src/test_driver/nrfconnect/CMakeLists.txt
  src/test_driver/nrfconnect/main/include/app_mbedtls_config.h
  src/test_driver/nrfconnect/prj.conf
  src/transport/tests/TestMessageHeader.cpp
  src/transport/tests/TestPeerConnections.cpp
  src/transport/tests/TestSecurePairingSession.cpp
  src/transport/tests/TestSecureSession.cpp
Labels: ble, config, crypto, github, inet, lib, nrf connect, platform, scripts, system, workflows, zephyr

#2753 Added 'Added Tightly-constrained Systems and Shared Infrastructure > Avoid Heap-based Resource Allocation'
  docs/style/coding/CODING_STYLE_GUIDE.adoc
Labels: documentation, enhancement

#2742 Remove recursive mutex in CHIPDeviceController-JNI.cpp
  src/controller/java/CHIPDeviceController-JNI.cpp
Labels: controller

#2580 Remove automake builds for standalone, nRF5, and EFR32
  .vscode/tasks.json
  Makefile-Standalone
  config/efr32/efr32-app.mk
  config/efr32/efr32-chip.mk
  config/efr32/efr32-freertos.mk
  config/nrf5/nrf5-app.mk
  config/nrf5/nrf5-chip.mk
  config/standalone/standalone-app.mk
  config/standalone/standalone-chip.mk
  docs/BUILDING.md
  examples/chip-tool/Makefile
  examples/chip-tool/README.md
  examples/lighting-app/efr32/README.md
  examples/lighting-app/linux/server.mk
  examples/lighting-app/nrf5/Makefile
  examples/lighting-app/nrf5/README.md
  examples/lock-app/efr32/Makefile
  examples/lock-app/efr32/README.md
  examples/lock-app/nrf5/Makefile
  examples/lock-app/nrf5/README.md
  examples/shell/README_OTCLI.md
  examples/shell/standalone/Makefile
  scripts/examples/gn_efr32_example.sh
Labels: config, documentation, examples, scripts, vscode

#2768 Followup from #2720
  src/transport/RendezvousSession.cpp
Labels: transport

#2766 Make src/app/encoder a bit more generic for making it easier to add n…
  src/app/encoder.cpp
Labels: app

#2771 clang-tidy: Apply fixes "modernize-use-override"
  examples/common/chip-app-server/Server.cpp
  src/crypto/CHIPCryptoPAL.h
  src/crypto/tests/CHIPCryptoPALTest.cpp
  src/inet/tests/TestInetCommonOptions.h
  src/lib/protocols/fabric-provisioning/FabricProvisioning.h
  src/lib/protocols/security/CHIPDummyGroupKeyStore.h
  src/lib/support/CHIPArgParser.hpp
  src/lib/support/CHIPCounter.h
  src/lib/support/PersistedCounter.h
  src/transport/BLE.h
  src/transport/Base.h
  src/transport/RendezvousSession.h
  src/transport/SecurePairingSession.h
  src/transport/SecureSessionMgr.h
  src/transport/TCP.h
  src/transport/UDP.h
  src/transport/tests/TestSecurePairingSession.cpp
  src/transport/tests/TestSecureSessionMgr.cpp
Labels: crypto, examples, inet, lib, transport

#2769 Replace NULL with nullptr in Crypto code and tests
  src/crypto/CHIPCryptoPALOpenSSL.cpp
  src/crypto/CHIPCryptoPALmbedTLS.cpp
  src/crypto/tests/CHIPCryptoPALTest.cpp
Labels: crypto

#2666 Fix incorrect handling of return from xEventGroupSetBitsFromISR
  src/platform/EFR32/BLEManagerImpl.cpp
  src/platform/EFR32/freertos_bluetooth.c
  src/platform/EFR32/freertos_bluetooth.h
Labels: efr32, platform

#2776 Use uint16_t instead of uint32_t for src/app/[encoder|decoder] methods
  src/app/chip-zcl-zpro-codec.h
  src/app/decoder.cpp
  src/app/encoder.cpp
Labels: app

#2777 src/setup_payload/ManualSetupPayloadParser.cpp:81:10: error: unknown …
  src/setup_payload/ManualSetupPayloadParser.cpp
Labels: setup payload

#2772 clang-tidy: Apply fixes "readability-else-after-return"
  src/ble/BLEEndPoint.cpp
  src/ble/BleLayer.cpp
  src/ble/BtpEngine.cpp
  src/include/platform/CHIPDeviceEvent.h
  src/include/platform/internal/GenericConfigurationManagerImpl.ipp
  src/inet/IPAddress.cpp
  src/inet/InetInterface.cpp
  src/inet/RawEndPoint.cpp
  src/inet/TCPEndPoint.cpp
  src/lib/core/CHIPTLVReader.cpp
  src/lib/core/CHIPTLVTypes.h
  src/lib/core/CHIPTLVWriter.cpp
  src/lib/message/CHIPFabricState.cpp
  src/lib/message/CHIPSecurityMgr.cpp
  src/lib/message/CHIPServerBase.cpp
  src/lib/message/ExchangeContext.cpp
  src/lib/support/TimeUtils.cpp
  src/lib/support/verhoeff/Verhoeff.cpp
  src/lib/support/verhoeff/Verhoeff10.cpp
  src/lib/support/verhoeff/Verhoeff16.cpp
  src/lib/support/verhoeff/Verhoeff32.cpp
  src/lib/support/verhoeff/Verhoeff36.cpp
  src/lwip/standalone/sys_arch.c
  src/platform/GeneralUtils.cpp
  src/platform/Linux/CHIPLinuxStorageIni.cpp
  src/qrcodetool/qrcodetool.cpp
  src/qrcodetool/setup_payload_commands.cpp
  src/setup_payload/ManualSetupPayloadParser.cpp
  src/setup_payload/QRCodeSetupPayloadParser.cpp
  src/system/SystemError.cpp
Labels: ble, inet, lib, linux, lwip, platform, setup payload, system

#2564 Make src/platform compile with -Werror=conversion
  config/esp32/components/chip/component.mk
  src/include/platform/internal/GenericConfigurationManagerImpl.ipp
  src/include/platform/internal/GenericPlatformManagerImpl_POSIX.h
  src/include/platform/internal/GenericPlatformManagerImpl_POSIX.ipp
  src/lib/core/CHIPTLVTypes.h
  src/lib/support/FlagUtils.hpp
  src/platform/BUILD.gn
  src/platform/Darwin/BleConnectionDelegateImpl.mm
  src/platform/EFR32/BLEManagerImpl.cpp
  src/platform/EFR32/freertos_bluetooth.c
  src/platform/EFR32/freertos_bluetooth.h
  src/platform/ESP32/BLEManagerImpl.cpp
  src/platform/ESP32/ConnectivityManagerImpl.cpp
  src/platform/ESP32/ESP32Utils.cpp
  src/platform/GeneralUtils.cpp
  src/platform/Linux/BLEManagerImpl.cpp
  src/platform/Linux/CHIPBluezHelper.cpp
  src/platform/Linux/CHIPBluezHelper.h
  src/platform/Linux/CHIPLinuxStorage.cpp
  src/platform/Linux/CHIPLinuxStorageIni.cpp
  src/platform/Linux/SystemTimeSupport.cpp
  src/platform/OpenThread/GenericThreadStackManagerImpl_OpenThread_LwIP.ipp
  src/platform/Zephyr/GenericBLEManagerImpl_Zephyr.ipp
  src/platform/nRF5/BLEManagerImpl.cpp
  src/platform/nRF5/ConfigurationManagerImpl.cpp
  src/platform/nRF5/nRF5Config.h
  src/platform/nrfconnect/Logging.cpp
  third_party/efr32_sdk/efr32_sdk.gni
  third_party/ot-br-posix/BUILD.gn
Labels: config, darwin, efr32, esp32, lib, linux, nrf connect, nrf5, openthread, platform, setup payload, zephyr

#2752 Extend chip-tool to send identify and identify-query commands
  examples/chip-tool/commands/Commands.h
  examples/chip-tool/commands/Identify-Cluster-Commands.h
  examples/chip-tool/commands/Off.h
  examples/chip-tool/commands/On.h
  examples/chip-tool/commands/ReadOnOff.h
  examples/chip-tool/commands/Toggle.h
  examples/chip-tool/commands/common/ModelCommand.cpp
  examples/chip-tool/commands/common/ModelCommand.h
  examples/wifi-echo/server/esp32/main/EchoDeviceCallbacks.cpp
  examples/wifi-echo/server/esp32/main/gen/callback-stub.c
  src/app/chip-zcl-zpro-codec.h
  src/app/clusters/identify/identify.c
  src/app/encoder.cpp
Labels: app, examples

#2773 clang-tidy: Apply fixes "readability-string-compare"
  src/setup_payload/SetupPayload.cpp
  src/setup_payload/SetupPayloadHelper.cpp
  src/setup_payload/tests/TestManualCode.cpp
  src/setup_payload/tests/TestQRCode.cpp
  src/setup_payload/tests/TestQRCodeTLV.cpp
Labels: setup payload

#2783 Add EFR32 lighting app to unified build
  BUILD.gn
  config/efr32/toolchain/BUILD.gn
Labels: config

#2787 Add missing attributes for the Color Control cluster
  examples/wifi-echo/server/esp32/main/gen/af-gen-event.h
  examples/wifi-echo/server/esp32/main/gen/endpoint_config.h
  examples/wifi-echo/server/esp32/main/gen/gen_config.h
Labels: examples

#2754 Split message header into packet/payload/mac
  .vscode/launch.json
  .vscode/tasks.json
  examples/common/chip-app-server/DataModelHandler.cpp
  examples/common/chip-app-server/Server.cpp
  examples/common/chip-app-server/include/DataModelHandler.h
  examples/wifi-echo/server/esp32/main/DataModelHandler.cpp
  examples/wifi-echo/server/esp32/main/EchoServer.cpp
  examples/wifi-echo/server/esp32/main/include/DataModelHandler.h
  scripts/examples/esp_echo_app.sh
  scripts/examples/nrf_light_app.sh
  scripts/examples/nrf_lock_app.sh
  src/controller/CHIPDeviceController.cpp
  src/controller/CHIPDeviceController.h
  src/transport/BLE.cpp
  src/transport/BLE.h
  src/transport/Base.h
  src/transport/MessageHeader.cpp
  src/transport/MessageHeader.h
  src/transport/RendezvousSession.cpp
  src/transport/SecurePairingSession.cpp
  src/transport/SecureSession.cpp
  src/transport/SecureSessionMgr.cpp
  src/transport/SecureSessionMgr.h
  src/transport/TCP.cpp
  src/transport/TCP.h
  src/transport/Tuple.h
  src/transport/UDP.cpp
  src/transport/UDP.h
  src/transport/tests/TestMessageHeader.cpp
  src/transport/tests/TestSecurePairingSession.cpp
  src/transport/tests/TestSecureSessionMgr.cpp
  src/transport/tests/TestTCP.cpp
  src/transport/tests/TestUDP.cpp
Labels: controller, examples, scripts, transport, vscode

#2606 Import messaging cluster
  src/app/clusters/messaging-client/callbacks.info
  src/app/clusters/messaging-client/cli.xml
  src/app/clusters/messaging-client/messaging-client-cli.c
  src/app/clusters/messaging-client/messaging-client.c
  src/app/clusters/messaging-client/messaging-client.h
  src/app/clusters/messaging-client/plugin.properties
  src/app/clusters/messaging-server/cli.xml
  src/app/clusters/messaging-server/messaging-server-cli.c
  src/app/clusters/messaging-server/messaging-server.c
  src/app/clusters/messaging-server/messaging-server.h
  src/app/clusters/messaging-server/plugin.properties
  src/app/util/esi-management-test.c
  src/app/util/esi-management.c
  src/app/util/esi-management.h
  src/app/util/types_stub.h
Labels: app

#2774 clang-tidy: Apply fixes "modernize-use-equals-delete"
  src/ble/BLEEndPoint.h
  src/inet/IPEndPointBasis.h
  src/inet/RawEndPoint.h
  src/inet/UDPEndPoint.h
  src/lib/support/verhoeff/Verhoeff.h
  src/system/SystemLayer.h
  src/system/SystemMutex.h
  src/system/SystemObject.h
  src/system/SystemTimer.h
  src/system/tests/TestSystemObject.cpp
Labels: ble, inet, lib, system

#2506 Import door lock cluster
  examples/lock-app/efr32/src/gen/callback-stub.c
  examples/lock-app/efr32/src/gen/callback.h
  examples/lock-app/lock-common/gen/callback-stub.c
  examples/lock-app/lock-common/gen/callback.h
  examples/wifi-echo/server/esp32/main/component.mk
  examples/wifi-echo/server/esp32/main/gen/callback-stub.c
  examples/wifi-echo/server/esp32/main/gen/callback.h
  examples/wifi-echo/server/esp32/main/gen/clusters-callback-stubs.c
  src/app/clusters/door-lock-server/door-lock-server-cli.c
  src/app/clusters/door-lock-server/door-lock-server-logging.c
  src/app/clusters/door-lock-server/door-lock-server-schedule.c
  src/app/clusters/door-lock-server/door-lock-server-user.c
  src/app/clusters/door-lock-server/door-lock-server.h
Labels: app, examples

#2784 fix memory leak when rendezvous session initialization fails
  src/controller/CHIPDeviceController.cpp
Labels: controller

#2799 Make src/app compile with -Werror=conversion
  src/app/BUILD.gn
  src/app/chip-zcl-zpro-codec.h
  src/app/decoder.cpp
  src/app/encoder.cpp
  src/lib/support/BufBound.h
Labels: app, lib

#2788 [android] fixes the library copying issue
  third_party/ot-commissioner/build-android-libs.sh
Labels: examples

#2813 Use C++11 when compiling Objective C++ files
  gn/build/config/compiler/BUILD.gn
Labels: gn

#2820 [nRF5 examples] Make lighting/lock app work again
  src/platform/nRF5/BLEManagerImpl.cpp
  src/platform/nRF5/ThreadStackManagerImpl.cpp
Labels: nrf5, platform

#2815 [linux] Delete the dbus generated files
  src/platform/Linux/dbus/bluez/BUILD.gn
  src/platform/Linux/dbus/bluez/DbusBluez.c
  src/platform/Linux/dbus/bluez/DbusBluez.h
  src/platform/Linux/dbus/bluez/DbusBluez.xml
  src/platform/Linux/dbus/wpa/DBusWpa.h
  src/platform/Linux/dbus/wpa/DBusWpaInterface.h
  src/platform/Linux/dbus/wpa/DBusWpaNetwork.h
Labels: linux, platform

#2810 Make src/crypto and src/controller compile with -Wconversion
  src/controller/BUILD.gn
  src/crypto/BUILD.gn
  src/crypto/CHIPCryptoPAL.cpp
  src/crypto/CHIPCryptoPALOpenSSL.cpp
  src/crypto/CHIPCryptoPALmbedTLS.cpp
  src/crypto/tests/BUILD.gn
  src/crypto/tests/CHIPCryptoPALTest.cpp
  src/crypto/tests/PBKDF2_SHA256_test_vectors.h
  src/lib/support/SafeInt.h
  src/transport/BLE.cpp
  src/transport/MessageHeader.cpp
  src/transport/MessageHeader.h
  src/transport/PeerConnectionState.h
  src/transport/RendezvousSession.cpp
  src/transport/SecurePairingSession.cpp
  src/transport/SecureSession.cpp
  src/transport/SecureSessionMgr.cpp
  src/transport/TCP.cpp
  src/transport/UDP.cpp
  src/transport/tests/TestMessageHeader.cpp
  src/transport/tests/TestSecurePairingSession.cpp
Labels: app, controller, crypto, gn, lib, transport

#2837 Move from .CODEOWNERS back to pull approve, and support optional reviewers
  .github/CODEOWNERS
  .github/labeler.yml
  .pullapprove.yml
Labels: github

#2842 Revert "Make src/crypto and src/controller compile with -Wconversion (#2810)"
  src/controller/BUILD.gn
  src/crypto/BUILD.gn
  src/crypto/CHIPCryptoPAL.cpp
  src/crypto/CHIPCryptoPALOpenSSL.cpp
  src/crypto/CHIPCryptoPALmbedTLS.cpp
  src/crypto/tests/BUILD.gn
  src/crypto/tests/CHIPCryptoPALTest.cpp
  src/crypto/tests/PBKDF2_SHA256_test_vectors.h
  src/lib/support/SafeInt.h
  src/transport/BLE.cpp
  src/transport/MessageHeader.cpp
  src/transport/MessageHeader.h
  src/transport/PeerConnectionState.h
  src/transport/RendezvousSession.cpp
  src/transport/SecurePairingSession.cpp
  src/transport/SecureSession.cpp
  src/transport/SecureSessionMgr.cpp
  src/transport/TCP.cpp
  src/transport/UDP.cpp
  src/transport/tests/TestMessageHeader.cpp
  src/transport/tests/TestSecurePairingSession.cpp
Labels: hotfix

#2844 Back-out-codeowners-pullapprove-stuff
  .pullapprove.yml
Labels: hotfix

#2846 Have pullapprove request all reviewers
  .pullapprove.yml
Labels: hotfix

#2845 Make src/crypto and src/controller compile with -Werror=conversion
  src/controller/BUILD.gn
  src/crypto/BUILD.gn
  src/crypto/CHIPCryptoPAL.cpp
  src/crypto/CHIPCryptoPALOpenSSL.cpp
  src/crypto/CHIPCryptoPALmbedTLS.cpp
  src/crypto/tests/BUILD.gn
  src/crypto/tests/CHIPCryptoPALTest.cpp
  src/crypto/tests/PBKDF2_SHA256_test_vectors.h
  src/lib/support/SafeInt.h
  src/transport/MessageHeader.h
Labels: controller, crypto, lib, transport

#2834 GN: Use android logging style for android
  src/lib/core/core.gni
Labels: android, lib

#2843 Consistently use uint16_t for key ids.
  src/transport/PeerConnectionState.h
Labels: transport

#2838 [shell] Add shell commands to manage WiFiConnectivityMgr on Linux pla…
  examples/shell/cmd_device.cpp
  src/include/platform/internal/GenericConnectivityManagerImpl_WiFi.h
  src/include/platform/internal/GenericConnectivityManagerImpl_WiFi.ipp
  src/platform/BUILD.gn
  src/platform/Linux/ConnectivityManagerImpl.cpp
  src/platform/Linux/ConnectivityManagerImpl.h
Labels: examples, linux, platform

#2786 Use macros into src/app/encoder.cpp for cluster related methods
  src/app/encoder.cpp
Labels: app

#2806 clang-tidy: Apply fixes "modernize-loop-convert"
  src/ble/BleLayer.cpp
  src/inet/AsyncDNSResolverSockets.cpp
  src/inet/tests/TestInetEndPoint.cpp
  src/inet/tests/TestInetErrorStr.cpp
  src/lib/core/tests/TestCHIPErrorStr.cpp
  src/setup_payload/ManualSetupPayloadParser.cpp
  src/setup_payload/SetupPayload.cpp
  src/setup_payload/tests/TestQRCode.cpp
  src/system/tests/TestSystemErrorStr.cpp
  src/system/tests/TestSystemObject.cpp
  src/system/tests/TestSystemPacketBuffer.cpp
Labels: ble, inet, lib, setup payload, system

#2803 clang-tidy: Apply fixes "misc-unused-using-decls"
  src/platform/Linux/ThreadStackManagerImpl.cpp
  src/system/tests/TestSystemObject.cpp
  src/system/tests/TestSystemWakeEvent.cpp
Labels: linux, platform, system

#2808 clang-tidy: Apply fixes "modernize-use-bool-literals"
  src/inet/InetInterface.cpp
  src/lib/shell/shell.cpp
Labels: inet, lib

#2805 clang-tidy: Apply fixes "misc-definitions-in-headers"
  src/setup_payload/tests/TestHelpers.h
Labels: setup payload

#2800 Separate MessageHeader into Packet/Payload/Mac
  src/transport/MessageHeader.h
  src/transport/RendezvousSession.cpp
  src/transport/SecurePairingSession.cpp
  src/transport/SecurePairingSession.h
  src/transport/SecureSession.cpp
  src/transport/SecureSession.h
  src/transport/SecureSessionMgr.cpp
  src/transport/SecureSessionMgr.h
  src/transport/tests/TestSecurePairingSession.cpp
  src/transport/tests/TestSecureSession.cpp
Labels: transport
