Repository project-chip/connectedhomeip, pull requests merged in 2020-12, with the labels that each got.

#3997 Move src/inet/tests to auto-test-driver generation
  src/inet/tests/BUILD.gn
  src/inet/tests/TestInetAddress.cpp
  src/inet/tests/TestInetAddressDriver.cpp
  src/inet/tests/TestInetEndPoint.cpp
  src/inet/tests/TestInetEndPointDriver.cpp
  src/inet/tests/TestInetErrorStr.cpp
  src/inet/tests/TestInetErrorStrDriver.cpp
  src/inet/tests/TestInetLayerDNS.cpp
  src/inet/tests/TestInetLayerDNSDriver.cpp
Labels: inet

#4021 Rename TestUtils to UnitTestRegistration.
  src/app/tests/TestMessageDef.cpp
  src/ble/tests/TestBleErrorStr.cpp
  src/ble/tests/TestBleUUID.cpp
  src/crypto/tests/CHIPCryptoPALTest.cpp
  src/inet/tests/TestInetAddress.cpp
  src/inet/tests/TestInetEndPoint.cpp
  src/inet/tests/TestInetErrorStr.cpp
  src/inet/tests/TestInetLayerDNS.cpp
  src/lib/core/tests/TestCHIPCallback.cpp
  src/lib/core/tests/TestCHIPErrorStr.cpp
  src/lib/core/tests/TestCHIPTLV.cpp
  src/lib/core/tests/TestReferenceCounted.cpp
  src/lib/mdns/minimal/tests/TestIPResourceRecord.cpp
  src/lib/mdns/minimal/tests/TestQName.cpp
  src/lib/mdns/minimal/tests/TestRecordData.cpp
  src/lib/mdns/minimal/tests/TestResourceRecord.cpp
  src/lib/shell/tests/TestShell.cpp
  src/lib/shell/tests/TestStreamerStdio.cpp
  src/lib/support/BUILD.gn
  src/lib/support/UnitTestRegistration.cpp
  src/lib/support/UnitTestRegistration.h
  src/lib/support/tests/TestBufBound.cpp
  src/lib/support/tests/TestBufferReader.cpp
  src/lib/support/tests/TestCHIPCounter.cpp
  src/lib/support/tests/TestCHIPMem.cpp
  src/lib/support/tests/TestSafeInt.cpp
  src/lib/support/tests/TestScopedBuffer.cpp
  src/lib/support/tests/TestSerializableIntegerSet.cpp
  src/platform/tests/TestConfigurationMgr.cpp
  src/platform/tests/TestPlatformTime.cpp
  src/protocols/bdx/tests/TestBdxMessages.cpp
  src/system/tests/TestSystemErrorStr.cpp
  src/system/tests/TestSystemObject.cpp
  src/system/tests/TestSystemPacketBuffer.cpp
  src/system/tests/TestSystemTimer.cpp
  src/system/tests/TestSystemWakeEvent.cpp
  src/system/tests/TestTimeSource.cpp
  src/test_driver/esp32/main/main_app.cpp
  src/test_driver/nrfconnect/main/runner.cpp
  src/transport/raw/tests/TestMessageHeader.cpp
  src/transport/raw/tests/TestTCP.cpp
  src/transport/raw/tests/TestUDP.cpp
  src/transport/retransmit/tests/TestCache.cpp
  src/transport/tests/TestPeerConnections.cpp
  src/transport/tests/TestSecurePairingSession.cpp
  src/transport/tests/TestSecureSession.cpp
Labels: app, ble, crypto, inet, lib, platform

#3991 Move src/lib/core/tests to auto-test-driver generation
  src/lib/core/tests/BUILD.gn
  src/lib/core/tests/TestCHIPCallback.cpp
  src/lib/core/tests/TestCHIPCallbackDriver.cpp
  src/lib/core/tests/TestCHIPErrorStr.cpp
  src/lib/core/tests/TestCHIPErrorStrDriver.cpp
  src/lib/core/tests/TestCHIPTLV.cpp
  src/lib/core/tests/TestCHIPTLVDriver.cpp
  src/lib/core/tests/TestCore.h
  src/lib/core/tests/TestReferenceCounted.cpp
  src/lib/core/tests/TestReferenceCountedDriver.cpp
Labels: lib

#3973 Cleanup zap chip-helper.js
  src/app/zap-templates/helper-chip.js
Labels: app

#3999 Move src/transport/tests to auto-test-driver generation
  .gitignore
  scripts/tests/esp32_qemu_tests.sh
  scripts/tools/qemu_run_test.sh
  src/BUILD.gn
  src/inet/tests/BUILD.gn
  src/inet/tests/TestInetCommon.cpp
  src/inet/tests/TestInetLayerCommon.cpp
  src/messaging/tests/BUILD.gn
  src/test_driver/esp32/Makefile
  src/test_driver/nrfconnect/CMakeLists.txt
  src/transport/raw/tests/BUILD.gn
  src/transport/raw/tests/NetworkTestHelpers.cpp
  src/transport/tests/BUILD.gn
  src/transport/tests/TestPeerConnections.cpp
  src/transport/tests/TestPeerConnectionsDriver.cpp
  src/transport/tests/TestSecurePairingSession.cpp
  src/transport/tests/TestSecurePairingSessionDriver.cpp
  src/transport/tests/TestSecureSession.cpp
  src/transport/tests/TestSecureSessionDriver.cpp
  src/transport/tests/TestSecureSessionMgr.cpp
  src/transport/tests/TestSecureSessionMgrDriver.cpp
  src/transport/tests/TestTransportLayer.h
Labels: inet, scripts, transport

#4017 Implement the missing part of Exchange Header in Transport layer
  src/messaging/tests/TestExchangeMgr.cpp
  src/transport/BLE.cpp
  src/transport/BLE.h
  src/transport/RendezvousSession.cpp
  src/transport/RendezvousSession.h
  src/transport/SecurePairingSession.cpp
  src/transport/SecurePairingSession.h
  src/transport/SecureSession.cpp
  src/transport/SecureSession.h
  src/transport/SecureSessionMgr.cpp
  src/transport/TransportMgr.h
  src/transport/raw/Base.h
  src/transport/raw/MessageHeader.cpp
  src/transport/raw/MessageHeader.h
  src/transport/raw/TCP.cpp
  src/transport/raw/TCP.h
  src/transport/raw/Tuple.h
  src/transport/raw/UDP.cpp
  src/transport/raw/UDP.h
  src/transport/raw/tests/TestMessageHeader.cpp
  src/transport/raw/tests/TestTCP.cpp
  src/transport/raw/tests/TestUDP.cpp
  src/transport/tests/TestSecurePairingSession.cpp
  src/transport/tests/TestSecureSession.cpp
  src/transport/tests/TestSecureSessionMgr.cpp
Labels: transport

#3998 Move src/lib/asn1/tests and src/ble/tests to auto-test-driver generation
  src/ble/tests/BUILD.gn
  src/ble/tests/TestBleErrorStr.cpp
  src/ble/tests/TestBleErrorStrDriver.cpp
  src/ble/tests/TestBleLayer.h
  src/ble/tests/TestBleUUID.cpp
  src/ble/tests/TestBleUUIDDriver.cpp
  src/lib/BUILD.gn
  src/lib/asn1/tests/BUILD.gn
  src/lib/asn1/tests/TestASN1.cpp
  src/lib/asn1/tests/TestASN1.h
  src/lib/asn1/tests/TestASN1Driver.cpp
Labels: ble, lib

#4000 Move src/system/tests to auto-test-driver generation
  src/system/tests/BUILD.gn
  src/system/tests/TestSystemErrorStr.cpp
  src/system/tests/TestSystemErrorStrDriver.cpp
  src/system/tests/TestSystemLayer.h
  src/system/tests/TestSystemObject.cpp
  src/system/tests/TestSystemObjectDriver.cpp
  src/system/tests/TestSystemPacketBuffer.cpp
  src/system/tests/TestSystemPacketBufferDriver.cpp
  src/system/tests/TestSystemTimer.cpp
  src/system/tests/TestSystemTimerDriver.cpp
  src/system/tests/TestSystemWakeEvent.cpp
  src/system/tests/TestSystemWakeEventDriver.cpp
  src/system/tests/TestTimeSource.cpp
  src/system/tests/TestTimeSourceDriver.cpp
Labels: system

#3967 Remove explicit "all" target from root build file
  BUILD.gn
  build/chip/chip_build.gni
  docs/BUILDING.md
  scripts/helpers/update_compile_commands.sh
Labels: documentation, scripts

#4032 Make src/setup_payload compile with -Werror=conversion
  src/setup_payload/BUILD.gn
  src/setup_payload/Base41.cpp
  src/setup_payload/ManualSetupPayloadGenerator.cpp
  src/setup_payload/ManualSetupPayloadParser.cpp
  src/setup_payload/QRCodeSetupPayloadGenerator.cpp
  src/setup_payload/QRCodeSetupPayloadGenerator.h
  src/setup_payload/QRCodeSetupPayloadParser.cpp
  src/setup_payload/QRCodeSetupPayloadParser.h
  src/setup_payload/tests/BUILD.gn
  src/setup_payload/tests/TestHelpers.h
  src/setup_payload/tests/TestManualCode.cpp
Labels: setup payload

#4054 Add SSID and password to chip-tool pairing
  examples/chip-tool/commands/pairing/PairingCommand.cpp
  examples/chip-tool/commands/pairing/PairingCommand.h
Labels: examples

#4053 Add all Thread ULA addresses to the lwip interface
  src/platform/OpenThread/GenericThreadStackManagerImpl_OpenThread_LwIP.cpp
Labels: openthread, platform

#4055 Remove src/lib/message.
  docs/Doxyfile
  src/lib/message/BUILD.gn
  src/lib/message/CHIPBinding.cpp
  src/lib/message/CHIPBinding.h
  src/lib/message/CHIPConnection.cpp
  src/lib/message/CHIPExchangeMgr.cpp
  src/lib/message/CHIPExchangeMgr.h
  src/lib/message/CHIPFabricState.cpp
  src/lib/message/CHIPFabricState.h
  src/lib/message/CHIPGlobals.cpp
  src/lib/message/CHIPGlobals.h
  src/lib/message/CHIPMessageLayer.cpp
  src/lib/message/CHIPMessageLayer.h
  src/lib/message/CHIPRMPConfig.h
  src/lib/message/CHIPSecurityMgr.cpp
  src/lib/message/CHIPSecurityMgr.h
  src/lib/message/CHIPServerBase.cpp
  src/lib/message/CHIPServerBase.h
  src/lib/message/ExchangeContext.cpp
  src/lib/message/support/crypto/AESBlockCipher.h
  src/lib/message/support/crypto/CHIPCrypto.h
  src/lib/message/support/crypto/CHIPRNG.h
  src/lib/message/support/crypto/CTRMode.h
  src/lib/message/support/crypto/HMAC.h
  src/lib/message/support/crypto/HashAlgos.h
  src/platform/ESP32/AESBlockCipher.cpp
Labels: lib

#3696 [ChipTool] Add Payload Parse Command
  examples/chip-tool/BUILD.gn
  examples/chip-tool/README.md
  examples/chip-tool/commands/payload/Commands.h
  examples/chip-tool/commands/payload/ParseCommand.cpp
  examples/chip-tool/commands/payload/ParseCommand.h
  examples/chip-tool/main.cpp
Labels: examples

#4066 Remove unused legacy wml based protocol headers
  src/lib/protocols/CHIPProtocols.h
  src/lib/protocols/fabric-provisioning/FabricProvisioning.h
  src/lib/protocols/security/CHIPApplicationKeys.h
  src/lib/protocols/security/CHIPDummyGroupKeyStore.h
  src/lib/protocols/security/CHIPSecurity.h
  src/lib/protocols/status-report/StatusReportProtocol.h
Labels: lib

#4057 Add bounds checks to HandleCharacteristicReceived to avoid reading off the end of the buffer.
  src/ble/BtpEngine.cpp
Labels: ble

#4076 temporary disable cirque test
  .github/workflows/cirque.yaml.disabled
Labels: github, hotfix, scripts, workflows

#4045 Add separate transport for IPv4 and IPv6 in controller
  src/controller/CHIPDevice.cpp
  src/controller/CHIPDevice.h
  src/controller/CHIPDeviceController.cpp
Labels: controller

#4085 [hotfix] Fix cirque test due to openthread change
  .github/workflows/cirque.yaml
  scripts/tests/cirque_tests.sh
Labels: github, scripts, workflows

#3985 Update lock-app gen/ folder with ZAP generated content
  examples/lock-app/efr32/src/ZclCallbacks.cpp
  examples/lock-app/k32w/main/ZclCallbacks.cpp
  examples/lock-app/lock-common/gen/af-structs.h
  examples/lock-app/lock-common/gen/att-storage.h
  examples/lock-app/lock-common/gen/attribute-id.h
  examples/lock-app/lock-common/gen/attribute-size.h
  examples/lock-app/lock-common/gen/attribute-type.h
  examples/lock-app/lock-common/gen/call-command-handler.cpp
  examples/lock-app/lock-common/gen/call-command-handler.h
  examples/lock-app/lock-common/gen/callback-stub.cpp
  examples/lock-app/lock-common/gen/callback.h
  examples/lock-app/lock-common/gen/cluster-id.h
  examples/lock-app/lock-common/gen/command-id.h
  examples/lock-app/lock-common/gen/enums.h
  examples/lock-app/lock-common/gen/gen_config.h
  examples/lock-app/lock-common/gen/print-cluster.h
  examples/lock-app/nrfconnect/main/ZclCallbacks.cpp
  examples/lock-app/qpg6100/src/ZclCallbacks.cpp
Labels: examples

#4075 Make src/ble compile with -Werror=conversion
  src/ble/BLEEndPoint.cpp
  src/ble/BUILD.gn
  src/ble/BleLayer.cpp
  src/ble/BleUUID.cpp
  src/ble/BtpEngine.cpp
  src/ble/BtpEngine.h
  src/ble/tests/BUILD.gn
Labels: ble

#4073 [android/CHIPTool] Re-add Thread provisioning
  src/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/CHIPToolActivity.kt
  src/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/provisioning/DeviceProvisioningFragment.kt
  src/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/provisioning/EnterNetworkFragment.kt
  src/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/provisioning/EnterThreadNetworkFragment.kt
  src/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/provisioning/EnterWifiNetworkFragment.kt
  src/android/CHIPTool/app/src/main/res/layout/enter_network_fragment.xml
  src/android/CHIPTool/app/src/main/res/layout/enter_thread_network_fragment.xml
  src/android/CHIPTool/app/src/main/res/values/strings.xml
  src/controller/CHIPDeviceController_deprecated.cpp
  src/controller/java/AndroidDeviceControllerWrapper.cpp
  src/controller/java/AndroidDeviceControllerWrapper.h
  src/controller/java/CHIPDeviceController-JNI.cpp
  src/controller/java/src/chip/devicecontroller/ChipDeviceController.java
  src/lib/support/ReturnMacros.h
Labels: android, controller, lib

#4001 Move src/setup_payload/tests to auto-test-driver generation
  src/setup_payload/tests/BUILD.gn
  src/setup_payload/tests/TestManualCode.cpp
  src/setup_payload/tests/TestManualCode.h
  src/setup_payload/tests/TestManualCodeDriver.cpp
  src/setup_payload/tests/TestQRCode.cpp
  src/setup_payload/tests/TestQRCode.h
  src/setup_payload/tests/TestQRCodeDriver.cpp
  src/setup_payload/tests/TestQRCodeTLV.cpp
  src/setup_payload/tests/TestQRCodeTLV.h
  src/setup_payload/tests/TestQRCodeTLVDriver.cpp
Labels: setup payload

#3995 [cirque] Create dedicate docker container for cirque tests.
  examples/chip-tool/Dockerfile
  examples/lighting-app/linux/Dockerfile
  integrations/docker/images/chip-cirque-device-base/Dockerfile
  integrations/docker/images/chip-cirque-device-base/build.sh
  integrations/docker/images/chip-cirque-device-base/version
  scripts/tests/cirque_tests.sh
Labels: examples, github, integrations, scripts, workflows

#4078 Add zap client-macro-template
  src/app/zap-templates/chip-templates.json
  src/app/zap-templates/client-command-macro.zapt
Labels: app

#3955 Fix passing enum instead of bool to SetBLEAdvertisingEnabled
  examples/all-clusters-app/esp32/main/CHIPDeviceManager.cpp
  examples/lighting-app/linux/main.cpp
  examples/lighting-app/nrfconnect/main/AppTask.cpp
  examples/lock-app/nrfconnect/main/AppTask.cpp
  examples/temperature-measurement-app/esp32/main/CHIPDeviceManager.cpp
  src/platform/tests/TestCHIPoBLEStackMgr.cpp
Labels: examples, platform

#4042 Rework nRF Connect documentation
  docs/guides/nrfconnect_examples_cli.md
  docs/guides/nrfconnect_examples_configuration.md
  docs/guides/nrfconnect_platform_overview.md
  docs/images/chip_nrfconnect_overview_simplified.svg
  examples/lighting-app/nrfconnect/README.md
  examples/lock-app/nrfconnect/README.md
  examples/pigweed-app/nrfconnect/README.md
  examples/platform/nrfconnect/doc/images/nrf52840-dk.jpg
Labels: documentation, examples

#3982 Convert support tests to auto test driver building
  src/lib/support/tests/BUILD.gn
  src/lib/support/tests/TestBufBound.cpp
  src/lib/support/tests/TestBufBoundDriver.cpp
  src/lib/support/tests/TestBufferReader.cpp
  src/lib/support/tests/TestBufferReaderDriver.cpp
  src/lib/support/tests/TestCHIPArgParser.cpp
  src/lib/support/tests/TestCHIPArgParserDriver.cpp
  src/lib/support/tests/TestCHIPCounter.cpp
  src/lib/support/tests/TestCHIPCounterDriver.cpp
  src/lib/support/tests/TestCHIPMem.cpp
  src/lib/support/tests/TestCHIPMemDriver.cpp
  src/lib/support/tests/TestErrorStr.cpp
  src/lib/support/tests/TestErrorStrDriver.cpp
  src/lib/support/tests/TestPersistedCounter.cpp
  src/lib/support/tests/TestPersistedCounterDriver.cpp
  src/lib/support/tests/TestPool.cpp
  src/lib/support/tests/TestPoolDriver.cpp
  src/lib/support/tests/TestSafeInt.cpp
  src/lib/support/tests/TestSafeIntDriver.cpp
  src/lib/support/tests/TestScopedBuffer.cpp
  src/lib/support/tests/TestScopedBufferDriver.cpp
  src/lib/support/tests/TestSerializableIntegerSet.cpp
  src/lib/support/tests/TestSerializableIntegerSetDriver.cpp
  src/lib/support/tests/TestSupport.h
  src/lib/support/tests/TestTimeUtils.cpp
  src/lib/support/tests/TestTimeUtilsDriver.cpp
  src/platform/tests/TestPlatformTime.cpp
Labels: lib, platform

#4095 Set/Reset on CHIPoBLEConState
  src/platform/ESP32/BLEManagerImpl.h
  src/platform/ESP32/bluedroid/BLEManagerImpl.cpp
Labels: esp32, platform

#4097 Sync examples gen/ folder with zap-templates/
  examples/all-clusters-app/all-clusters-common/gen/af-structs.h
  examples/all-clusters-app/all-clusters-common/gen/call-command-handler.cpp
  examples/all-clusters-app/all-clusters-common/gen/callback.h
  examples/all-clusters-app/all-clusters-common/gen/client-command-macro.h
  examples/lighting-app/lighting-common/gen/af-structs.h
  examples/lighting-app/lighting-common/gen/call-command-handler.cpp
  examples/lighting-app/lighting-common/gen/client-command-macro.h
  examples/lock-app/lock-common/gen/af-structs.h
  examples/lock-app/lock-common/gen/callback-stub.cpp
  examples/lock-app/lock-common/gen/client-command-macro.h
  examples/temperature-measurement-app/esp32/main/gen/af-structs.h
  examples/temperature-measurement-app/esp32/main/gen/attribute-size.h
  examples/temperature-measurement-app/esp32/main/gen/client-command-macro.h
  src/app/zap-templates/call-command-handler-src.zapt
  src/app/zap-templates/helper-chip.js
Labels: app, examples

#4006 Fix empty struct generation
  src/app/zap-templates/af-structs.zapt
  src/app/zap-templates/helper-chip.js
Labels: app

#3970 Add a check to verify if the cluster has any commands enabled prior to creating a parsing function.
  src/app/zap-templates/call-command-handler-src.zapt
Labels: app

#4014 Create a 'BufferWriter' class to be the complement of 'BufferReader'
  src/lib/mdns/minimal/Query.h
  src/lib/mdns/minimal/QueryBuilder.h
  src/lib/mdns/minimal/ResponseBuilder.h
  src/lib/mdns/minimal/core/QName.h
  src/lib/mdns/minimal/records/IP.cpp
  src/lib/mdns/minimal/records/IP.h
  src/lib/mdns/minimal/records/Ptr.h
  src/lib/mdns/minimal/records/ResourceRecord.cpp
  src/lib/mdns/minimal/records/ResourceRecord.h
  src/lib/mdns/minimal/records/Srv.h
  src/lib/mdns/minimal/records/Txt.h
  src/lib/mdns/minimal/records/tests/TestResourceRecord.cpp
  src/lib/mdns/minimal/records/tests/TestResourceRecordIP.cpp
  src/lib/mdns/minimal/records/tests/TestResourceRecordPtr.cpp
  src/lib/mdns/minimal/records/tests/TestResourceRecordSrv.cpp
  src/lib/mdns/minimal/records/tests/TestResourceRecordTxt.cpp
  src/lib/mdns/minimal/responders/tests/TestPtrResponder.cpp
  src/lib/support/BUILD.gn
  src/lib/support/BufferWriter.h
  src/lib/support/tests/BUILD.gn
  src/lib/support/tests/TestBufferWriter.cpp
Labels: lib

#4074 [doc] Add a guide about commissioning nRF Connect examples using Android CHIPTool
  docs/guides/nrfconnect_android_commissioning.md
  src/android/CHIPTool/README.md
Labels: android, documentation

#4100 Properly update chip_tool_config.ini when a device is unpaired or paired
  examples/chip-tool/commands/pairing/PairingCommand.cpp
  examples/chip-tool/config/PersistentStorage.cpp
Labels: examples

#4107 Rename SecurityChannel protocol to SecureChannel protocol to align wi…
  src/protocols/Protocols.h
  src/transport/SecurePairingSession.cpp
Labels: transport

#4109 Fix rendezvous flow that uses BLE in CHIPTool
  examples/common/chip-app-server/Server.cpp
  src/controller/CHIPDeviceController.cpp
Labels: controller, examples

#4090 Update src/app/chip-zcl-zpro-codec-api.h to SiLabs XML definition
  examples/chip-tool/commands/clusters/Commands.h
  src/app/chip-zcl-zpro-codec-api.h
  src/app/encoder.cpp
  src/app/zap-templates/chip-templates.json
  src/app/zap-templates/chip-zcl-zpro-codec-api.zapt
  src/app/zap-templates/encoder-src.zapt
  src/app/zap-templates/helper-chip.js
  src/app/zap-templates/override.js
  src/app/zap-templates/partials/cluster_header.zapt
  src/app/zap-templates/partials/clusters_header.zapt
  src/controller/java/CHIPDeviceController-JNI.cpp
Labels: app, controller, examples

#4082 [Android CHIPTool] Wi-Fi vs Thread provisioning.
  src/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/CHIPToolActivity.kt
  src/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/SelectActionFragment.kt
  src/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/provisioning/DeviceProvisioningFragment.kt
  src/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/provisioning/EnterNetworkFragment.kt
  src/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/provisioning/EnterThreadNetworkFragment.kt
  src/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/provisioning/EnterWifiNetworkFragment.kt
  src/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/provisioning/ProvisionNetworkType.kt
  src/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/setuppayloadscanner/CHIPDeviceDetailsFragment.kt
  src/android/CHIPTool/app/src/main/res/layout/chip_device_info_fragment.xml
  src/android/CHIPTool/app/src/main/res/layout/enter_network_fragment.xml
  src/android/CHIPTool/app/src/main/res/layout/enter_thread_network_fragment.xml
  src/android/CHIPTool/app/src/main/res/layout/select_action_fragment.xml
  src/android/CHIPTool/app/src/main/res/values/strings.xml
  src/controller/java/AndroidDeviceControllerWrapper.cpp
  src/controller/java/AndroidDeviceControllerWrapper.h
  src/controller/java/src/chip/devicecontroller/ChipDeviceController.java
Labels: android, controller

#4102 MinMDNS refactor: support legacy replies and time throttling
  src/lib/mdns/minimal/BUILD.gn
  src/lib/mdns/minimal/Parser.cpp
  src/lib/mdns/minimal/Parser.h
  src/lib/mdns/minimal/QueryReplyFilter.h
  src/lib/mdns/minimal/ResponseBuilder.h
  src/lib/mdns/minimal/ResponseSender.cpp
  src/lib/mdns/minimal/ResponseSender.h
  src/lib/mdns/minimal/Server.cpp
  src/lib/mdns/minimal/Server.h
  src/lib/mdns/minimal/core/QName.h
  src/lib/mdns/minimal/responders/BUILD.gn
  src/lib/mdns/minimal/responders/QueryResponder.cpp
  src/lib/mdns/minimal/responders/QueryResponder.h
  src/lib/mdns/minimal/responders/ReplyFilter.h
  src/lib/mdns/minimal/responders/tests/TestQueryResponder.cpp
Labels: lib

#4120 Fix build: references to bufbound replaced with bufferwriter
  src/lib/mdns/minimal/Parser.cpp
  src/lib/mdns/minimal/Parser.h
  src/lib/mdns/minimal/ResponseBuilder.h
  src/lib/mdns/minimal/core/QName.h
Labels: hotfix, lib

#4112 Refactor TestInetCommon
  examples/platform/nrfconnect/util/test/TestInetCommon.cpp
  src/inet/tests/BUILD.gn
  src/inet/tests/TestInetCommon.h
  src/inet/tests/TestInetCommonPosix.cpp
  src/inet/tests/TestInetEndPoint.cpp
  src/inet/tests/TestInetLayer.cpp
  src/inet/tests/TestInetLayerCommon.cpp
  src/inet/tests/TestInetLayerDNS.cpp
  src/inet/tests/TestInetLayerMulticast.cpp
  src/inet/tests/TestLwIPDNS.cpp
  src/inet/tests/TestSetupFaultInjection.h
  src/inet/tests/TestSetupFaultInjectionPosix.cpp
  src/inet/tests/TestSetupSignalling.h
  src/inet/tests/TestSetupSignallingPosix.cpp
Labels: examples, inet

#4121 Purge some unused PacketBuffer declarations.
  src/ble/BleLayer.h
  src/ble/BlePlatformDelegate.h
  src/controller/java/AndroidBlePlatformDelegate.cpp
  src/platform/Darwin/BlePlatformDelegateImpl.mm
  src/platform/EFR32/CHIPDevicePlatformEvent.h
  src/platform/K32W/CHIPDevicePlatformEvent.h
  src/platform/Linux/CHIPDevicePlatformEvent.h
  src/platform/qpg6100/CHIPDevicePlatformEvent.h
Labels: ble, controller, darwin, efr32, k32w, linux, platform

#4122 Drop "StartingFrom" from BufferWriter
  src/lib/support/BufferWriter.h
  src/lib/support/tests/TestBufferWriter.cpp
Labels: lib

#3836 Add echo example apps to conduct end-to-end connectivity sanity check…
  BUILD.gn
  src/messaging/tests/echo/BUILD.gn
  src/messaging/tests/echo/README.md
  src/messaging/tests/echo/common.cpp
  src/messaging/tests/echo/common.h
  src/messaging/tests/echo/echo_requester.cpp
  src/messaging/tests/echo/echo_responder.cpp
Labels: examples

#4115 Clusters sync gen folders
  examples/all-clusters-app/all-clusters-common/gen/af-structs.h
  examples/all-clusters-app/all-clusters-common/gen/call-command-handler.cpp
  examples/lighting-app/lighting-common/gen/af-structs.h
  examples/lock-app/lock-common/gen/af-structs.h
  examples/temperature-measurement-app/esp32/main/gen/af-structs.h
  examples/temperature-measurement-app/esp32/main/gen/call-command-handler.cpp
  src/app/zap-templates/helper-chip.js
Labels: app, examples

#4098 Use 16 bits service UUID on esp32 platform
  src/platform/BUILD.gn
  src/platform/Darwin/BleConnectionDelegateImpl.mm
  src/platform/Darwin/BlePlatformDelegateImpl.mm
  src/platform/Darwin/UUIDHelper.h
  src/platform/Darwin/UUIDHelperImpl.mm
  src/platform/ESP32/bluedroid/BLEManagerImpl.cpp
  src/platform/ESP32/nimble/BLEManagerImpl.cpp
Labels: darwin, esp32, platform

#4123 Revert "Refactor TestInetCommon"
  examples/platform/nrfconnect/util/test/TestInetCommon.cpp
  src/inet/tests/BUILD.gn
  src/inet/tests/TestInetCommon.cpp
  src/inet/tests/TestInetCommon.h
  src/inet/tests/TestInetEndPoint.cpp
  src/inet/tests/TestInetLayer.cpp
  src/inet/tests/TestInetLayerCommon.cpp
  src/inet/tests/TestInetLayerDNS.cpp
  src/inet/tests/TestInetLayerMulticast.cpp
  src/inet/tests/TestLwIPDNS.cpp
  src/inet/tests/TestSetupFaultInjection.h
  src/inet/tests/TestSetupFaultInjectionPosix.cpp
  src/inet/tests/TestSetupSignalling.h
  src/inet/tests/TestSetupSignallingPosix.cpp
Labels: examples, hotfix, inet

#4092 Serialize and initlaize network interface ID used to communicate with device
  src/controller/CHIPDevice.cpp
  src/controller/CHIPDevice.h
Labels: controller

#4103 Remove "Show tree" step from CI
  .github/workflows/build.yaml
  .github/workflows/examples-efr32.yaml
  .github/workflows/examples-esp32.yaml
  .github/workflows/examples-linux-standalone.yaml
  .github/workflows/examples-nrfconnect.yaml
  .github/workflows/examples-qpg6100.yaml
Labels: github, workflows

#4096 Begin SystemPacketBuffer.h cleanup
  src/ble/BLEEndPoint.cpp
  src/ble/BtpEngine.cpp
  src/ble/BtpEngine.h
  src/inet/IPEndPointBasis.cpp
  src/system/SystemPacketBuffer.cpp
  src/system/SystemPacketBuffer.h
  src/system/tests/TestSystemPacketBuffer.cpp
  src/transport/RendezvousSession.cpp
  src/transport/SecureSessionMgr.cpp
  src/transport/raw/TCP.cpp
Labels: ble, inet, system, transport

#4139 Fix Mac build breakage from incorrect formats for node ids
  src/messaging/tests/echo/echo_requester.cpp
  src/messaging/tests/echo/echo_responder.cpp
Labels: hotfix

#4131 [shell]:Implement set commands for WiFi STA on Linux platform
  examples/shell/shell_common/cmd_device.cpp
Labels: examples

#4129 Convert PacketBuffer::Next() to return a PacketBufferHandle
  src/inet/TCPEndPoint.cpp
  src/inet/tests/TestInetLayerCommon.cpp
  src/lib/core/CHIPTLVReader.cpp
  src/lib/core/CHIPTLVWriter.cpp
  src/lib/core/tests/TestCHIPTLV.cpp
  src/system/SystemPacketBuffer.h
  src/system/tests/TestSystemPacketBuffer.cpp
Labels: inet, lib, system

#4130 [linux]:Save config if provisioning is succeeded to live through powe…
  src/platform/Linux/ConnectivityManagerImpl.cpp
Labels: linux, platform

#4050 [controller] Add IP rendezvous feature to CHIP Device controller
  examples/common/chip-app-server/RendezvousServer.cpp
  src/controller/CHIPDeviceController.cpp
  src/controller/CHIPDeviceController.h
  src/controller/CHIPDeviceController_deprecated.cpp
  src/controller/python/BUILD.gn
  src/controller/python/ChipDeviceController-ScriptBinding.cpp
  src/controller/python/ChipDeviceController-StorageDelegate.h
  src/controller/python/chip-device-ctrl.py
  src/controller/python/chip/ChipDeviceCtrl.py
  src/test_driver/linux-cirque/OnOffClusterTest.sh
  src/test_driver/linux-cirque/test-on-off-cluster.py
  src/transport/RendezvousSession.cpp
  src/transport/RendezvousSession.h
  src/transport/SecurePairingSession.cpp
Labels: controller, examples, transport

#3930 Add light button control RPC to lighting-app
  examples/lighting-app/lighting-common/pigweed_lighting.options
  examples/lighting-app/lighting-common/pigweed_lighting.proto
  examples/lighting-app/nrfconnect/CMakeLists.txt
  examples/lighting-app/nrfconnect/README.md
  examples/lighting-app/nrfconnect/main/AppTask.cpp
  examples/lighting-app/nrfconnect/main/LightingManager.cpp
  examples/lighting-app/nrfconnect/main/Rpc.cpp
  examples/lighting-app/nrfconnect/main/include/AppTask.h
  examples/lighting-app/nrfconnect/main/include/Rpc.h
  examples/lighting-app/nrfconnect/main/main.cpp
  examples/lighting-app/nrfconnect/main/pigweed_lighting.options
  examples/lighting-app/nrfconnect/main/pigweed_lighting.proto
  examples/lighting-app/nrfconnect/rpc.overlay
  examples/platform/nrfconnect/pw_sys_io/CMakeLists.txt
  examples/platform/nrfconnect/util/include/LogUtils.h
Labels: controller, examples, integrations, scripts

#4128 Receive path cleanup for PacketBufferHandle conversion
  src/inet/InetLayer.cpp
  src/platform/EFR32/BLEManagerImpl.cpp
  src/platform/ESP32/bluedroid/BLEManagerImpl.cpp
  src/platform/ESP32/nimble/BLEManagerImpl.cpp
  src/platform/Linux/BLEManagerImpl.cpp
  src/platform/Zephyr/GenericBLEManagerImpl_Zephyr.cpp
Labels: efr32, esp32, inet, linux, platform, zephyr

#4136 Refactor TestInetCommon (2nd attempt)
  examples/platform/nrfconnect/util/test/TestInetCommon.cpp
  src/inet/tests/BUILD.gn
  src/inet/tests/TestInetCommon.h
  src/inet/tests/TestInetCommonPosix.cpp
  src/inet/tests/TestInetEndPoint.cpp
  src/inet/tests/TestInetLayer.cpp
  src/inet/tests/TestInetLayerCommon.cpp
  src/inet/tests/TestInetLayerDNS.cpp
  src/inet/tests/TestInetLayerMulticast.cpp
  src/inet/tests/TestLwIPDNS.cpp
  src/inet/tests/TestSetupFaultInjection.h
  src/inet/tests/TestSetupFaultInjectionPosix.cpp
  src/inet/tests/TestSetupSignalling.h
  src/inet/tests/TestSetupSignallingPosix.cpp
Labels: examples, inet

#4071 Resurrect 'SetUdpListenPort' on 'ChipDeviceController'
  src/controller/CHIPDevice.cpp
  src/controller/CHIPDevice.h
  src/controller/CHIPDeviceController.cpp
  src/controller/CHIPDeviceController.h
Labels: controller

#3989 Move src/platform/tests to auto-generation of unit test drivers
  src/platform/tests/BUILD.gn
  src/platform/tests/TestCHIPoBLEStackMgr.cpp
  src/platform/tests/TestConfigurationMgr.cpp
  src/platform/tests/TestConfigurationMgr.h
  src/platform/tests/TestConfigurationMgrDriver.cpp
  src/platform/tests/TestMdns.cpp
  src/platform/tests/TestMdns.h
  src/platform/tests/TestMdnsDriver.cpp
  src/platform/tests/TestPlatformMgr.cpp
  src/platform/tests/TestPlatformMgr.h
  src/platform/tests/TestPlatformMgrDriver.cpp
  src/platform/tests/TestPlatformTime.cpp
  src/platform/tests/TestPlatformTime.h
  src/platform/tests/TestPlatformTimeDriver.cpp
  src/platform/tests/TestThreadStackMgr.cpp
  src/platform/tests/TestThreadStackMgr.h
  src/platform/tests/TestThreadStackMgrDriver.cpp
Labels: platform

#4148 Fix build break from outdated header name
  src/platform/tests/TestCHIPoBLEStackMgr.cpp
  src/platform/tests/TestMdns.cpp
  src/platform/tests/TestPlatformMgr.cpp
  src/platform/tests/TestThreadStackMgr.cpp
Labels: hotfix, platform

#3675 Use environment variables to configure the ports used by chip-tool
  examples/chip-tool/BUILD.gn
  examples/chip-tool/commands/common/Commands.cpp
  examples/chip-tool/commands/common/Logging.cpp
  examples/chip-tool/commands/common/Logging.h
  examples/chip-tool/commands/common/NetworkCommand.cpp
  examples/chip-tool/config/PersistentStorage.cpp
  examples/chip-tool/config/PersistentStorage.h
Labels: examples

#4140 [doc] Add instruction for running cirque tests
  docs/Doxyfile
  docs/README.md
  scripts/tests/cirque_tests.sh
  src/test_driver/linux-cirque/README.md
Labels: documentation, scripts

#4137 [exchange] Add echo test to validate exchange manager in Cirque
  examples/chip-tool/Dockerfile
  examples/lighting-app/linux/Dockerfile
  integrations/docker/images/chip-cirque-device-base/Dockerfile
  scripts/tests/cirque_tests.sh
  src/messaging/tests/echo/Dockerfile.requester
  src/messaging/tests/echo/Dockerfile.responder
  src/messaging/tests/echo/entrypoint.sh
  src/test_driver/linux-cirque/EchoTest.sh
  src/test_driver/linux-cirque/test-echo.py
Labels: examples, integrations, scripts

#3929 Add Workflow for ZAP templates generation
  .github/workflows/zap_templates.yaml
Labels: github, workflows

#4132 Make CHIP devices advertise as operational devices via mDNS
  examples/all-clusters-app/esp32/main/DeviceCallbacks.cpp
  examples/common/chip-app-server/RendezvousServer.cpp
  examples/common/chip-app-server/Server.cpp
  examples/minimal-mdns/AllInterfaceListener.h
  examples/minimal-mdns/client.cpp
  src/lib/mdns/Advertiser.h
  src/lib/mdns/Advertiser_ImplMinimalMdns.cpp
  src/lib/mdns/Advertiser_ImplNone.cpp
  src/lib/mdns/BUILD.gn
  src/lib/mdns/minimal/ResponseBuilder.h
  src/lib/mdns/minimal/Server.cpp
  src/lib/mdns/minimal/Server.h
  src/lib/mdns/minimal/records/ResourceRecord.h
  src/lib/mdns/minimal/records/Srv.h
  src/lib/mdns/minimal/responders/Srv.h
  src/lib/support/StringBuilder.h
  src/lib/support/tests/BUILD.gn
  src/lib/support/tests/TestStringBuilder.cpp
  src/platform/ESP32/Logging.cpp
  src/system/SystemPacketBuffer.cpp
  src/system/SystemPacketBuffer.h
Labels: esp32, examples, lib, platform, system

#4161 [nrfconnect] Fix lighting-app build with Pigweed RPC server
  examples/pigweed-app/nrfconnect/CMakeLists.txt
  examples/platform/nrfconnect/pw_sys_io/BUILD.gn
  examples/platform/nrfconnect/pw_sys_io/CMakeLists.txt
  examples/platform/nrfconnect/pw_sys_io/public/pw_sys_io_nrfconnect/init.h
Labels: examples

#4089 Fix CHIPDeviceController when storage delegate is nullptr
  src/controller/CHIPDevice.cpp
  src/controller/CHIPDeviceController.cpp
  src/controller/CHIPDeviceController_deprecated.cpp
  src/controller/CHIPDeviceController_deprecated.h
Labels: controller

#4157 Add support to read 'uint64_t' parameters in the ZCL payload
  src/app/util/af.h
  src/app/util/message.cpp
  src/app/util/util.h
  src/app/zap-templates/helper-chip.js
Labels: app

#4127 Convert 'echo' command to a manufacturer specific 'ping' command
  examples/all-clusters-app/all-clusters-common/all-clusters-app.zap
  examples/all-clusters-app/all-clusters-common/gen/call-command-handler.cpp
  examples/all-clusters-app/all-clusters-common/gen/callback.h
  examples/all-clusters-app/all-clusters-common/gen/command-id.h
  examples/all-clusters-app/all-clusters-common/gen/endpoint_config.h
  examples/all-clusters-app/esp32/main/DeviceCallbacks.cpp
  examples/all-clusters-app/linux/main.cpp
  examples/chip-tool/BUILD.gn
  examples/chip-tool/README.md
  examples/chip-tool/commands/clusters/Commands.h
  examples/chip-tool/commands/clusters/ModelCommand.cpp
  examples/chip-tool/commands/clusters/ModelCommand.h
  examples/chip-tool/commands/common/NetworkCommand.cpp
  examples/chip-tool/commands/common/NetworkCommand.h
  examples/chip-tool/commands/echo/Commands.h
  examples/chip-tool/commands/echo/EchoCommand.cpp
  examples/chip-tool/commands/echo/EchoCommand.h
  examples/chip-tool/main.cpp
  examples/common/chip-app-server/DataModelHandler.cpp
  src/app/chip-zcl-zpro-codec-api.h
  src/app/encoder.cpp
  src/app/zap-templates/call-command-handler-src.zapt
  src/app/zap-templates/chip-templates.json
  src/app/zap-templates/encoder-src.zapt
  src/app/zap-templates/helper-chip.js
  src/app/zap-templates/partials/command_handler_cluster_commands.zapt
Labels: app, examples

#4184 Mdns broke running the server examples locally on macOS
  examples/common/chip-app-server/Server.cpp
Labels: examples, hotfix

#4180 Add regen all script
  scripts/tools/zap_regen_all.py
Labels: scripts

#4185 [shell]:Start CHIP event-loop by default during initialization.
  examples/shell/shell_common/cmd_device.cpp
Labels: examples

#4166 Update SPAKE2p pairing code to match spec
  src/crypto/CHIPCryptoPAL.cpp
  src/crypto/CHIPCryptoPAL.h
  src/crypto/CHIPCryptoPALOpenSSL.cpp
  src/crypto/CHIPCryptoPALmbedTLS.cpp
  src/crypto/tests/CHIPCryptoPALTest.cpp
  src/crypto/tests/SPAKE2P_RFC_test_vectors.h
  src/transport/RendezvousSession.cpp
  src/transport/SecurePairingSession.cpp
  src/transport/SecurePairingSession.h
  src/transport/tests/TestSecurePairingSession.cpp
Labels: crypto, transport

#4160 Convert packet send path to use PacketBufferHandle
  src/inet/IPEndPointBasis.cpp
  src/inet/IPEndPointBasis.h
  src/inet/RawEndPoint.cpp
  src/inet/RawEndPoint.h
  src/inet/TCPEndPoint.cpp
  src/inet/TCPEndPoint.h
  src/inet/UDPEndPoint.cpp
  src/inet/UDPEndPoint.h
  src/inet/tests/TestInetEndPoint.cpp
  src/inet/tests/TestInetLayer.cpp
  src/inet/tests/TestInetLayerMulticast.cpp
  src/lib/mdns/minimal/Server.cpp
  src/messaging/ExchangeContext.cpp
  src/messaging/Flags.h
  src/messaging/ReliableMessageContext.cpp
  src/messaging/ReliableMessageManager.cpp
  src/messaging/ReliableMessageManager.h
  src/messaging/tests/TestExchangeMgr.cpp
  src/messaging/tests/TestReliableMessageProtocol.cpp
  src/platform/ESP32/NetworkProvisioningServerImpl.cpp
  src/transport/BLE.cpp
  src/transport/BLE.h
  src/transport/NetworkProvisioning.cpp
  src/transport/NetworkProvisioning.h
  src/transport/RendezvousSession.cpp
  src/transport/RendezvousSession.h
  src/transport/SecurePairingSession.cpp
  src/transport/SecurePairingSession.h
  src/transport/SecureSessionMgr.cpp
  src/transport/TransportMgr.h
  src/transport/raw/Base.h
  src/transport/raw/TCP.cpp
  src/transport/raw/TCP.h
  src/transport/raw/Tuple.h
  src/transport/raw/UDP.cpp
  src/transport/raw/UDP.h
  src/transport/raw/tests/TestTCP.cpp
  src/transport/raw/tests/TestUDP.cpp
  src/transport/tests/TestSecurePairingSession.cpp
  src/transport/tests/TestSecureSessionMgr.cpp
Labels: esp32, inet, lib, platform, system, transport

#4186 Disable WPA initialization by default on Linux platform
  examples/shell/shell_common/cmd_device.cpp
  src/platform/Linux/ConnectivityManagerImpl.cpp
  src/platform/Linux/ConnectivityManagerImpl.h
Labels: examples, linux, platform

#4155 Add a second endpoint to the 'all-clusters-app' configuration '.zap' …
  examples/all-clusters-app/all-clusters-common/all-clusters-app.zap
  examples/all-clusters-app/all-clusters-common/gen/gen_config.h
Labels: examples

#4153 Use the latest Docker images in the workflows
  .github/workflows/android.yaml
  .github/workflows/bloat_check.yaml
  .github/workflows/build.yaml
  .github/workflows/examples-efr32.yaml
  .github/workflows/examples-esp32.yaml
  .github/workflows/examples-linux-standalone.yaml
  .github/workflows/examples-qpg6100.yaml
  .github/workflows/qemu.yaml
  .github/workflows/unit_integration_test.yaml
  src/test_driver/happy/README.md
Labels: github, workflows

#4175 [controller] Support ble connect using discriminator in python cli
  src/controller/python/chip-device-ctrl.py
  src/controller/python/chip/ChipBleUtility.py
  src/controller/python/chip/ChipBluezMgr.py
  src/controller/python/chip/ChipCoreBluetoothMgr.py
Labels: controller

#4181 Change the 'chip-zcl-zpro-codec-api' encode methods to returns a 'Pac…
  examples/chip-tool/commands/clusters/Commands.h
  examples/chip-tool/commands/clusters/ModelCommand.cpp
  examples/chip-tool/commands/clusters/ModelCommand.h
  src/app/chip-zcl-zpro-codec-api.h
  src/app/encoder.cpp
  src/app/zap-templates/chip-zcl-zpro-codec-api.zapt
  src/app/zap-templates/encoder-src.zapt
  src/app/zap-templates/helper-chip.js
  src/controller/CHIPCluster.cpp
  src/controller/CHIPCluster.h
  src/controller/OnOffCluster.cpp
  src/controller/OnOffCluster.h
  src/controller/java/CHIPDeviceController-JNI.cpp
Labels: app, controller, examples

#4194 AddressSanitizer: global-buffer-overflow in emAfReadOrWriteAttribute
  examples/lighting-app/lighting-common/gen/endpoint_config.h
  src/lib/core/tests/TestCHIPCallback.cpp
Labels: examples, lib

#4169 [doc] Add document for chip device controller python cli
  docs/BUILDING.md
  src/controller/python/README.md
Labels: controller, documentation

#4222 Fix the build with chip_wifi_enable=false and chip_detail_logging=false
  src/app/MessageDef.cpp
  src/platform/Linux/ConnectivityManagerImpl.h
Labels: app, linux, platform

#4168 Roll python deps & add pigweed's
  scripts/requirements.in
  scripts/requirements.txt
Labels: scripts

#4167 Align Spake2 protocol message type definition with spec
  src/protocols/secure_channel/SecureChannelProtocol.h
  src/transport/SecurePairingSession.cpp
  src/transport/SecurePairingSession.h
Labels: transport
