Repository project-chip/connectedhomeip, pull requests merged in 2020-07, with the labels that each got.

#1426 Use GitHub Workflows
  .circleci/.gitattributes
  .circleci/.gitignore
  .circleci/Makefile
  .circleci/README.md
  .circleci/config.yml
  .circleci/config/@config.yml
  .circleci/config/commands/@commands.yml
  .circleci/config/executors/@executors.yml
  .circleci/config/jobs/build.yml
  .circleci/config/jobs/code-coverage.yml
  .circleci/config/jobs/deploy.yml
  .circleci/config/jobs/examples_esp32.yml
  .circleci/config/jobs/examples_nrf.yml
  .circleci/config/jobs/examples_standalone.yml
  .circleci/config/jobs/test.yml
  .circleci/config/jobs/test_esp32_qemu.yml
  .circleci/config/jobs/test_ipv6.yml
  .circleci/config/workflows/Main.yml
  .github/workflows/build.yaml
  .github/workflows/examples.yaml
  .github/workflows/qemu.yaml
  README.md
  scripts/tests/inet_tests.sh
  scripts/tests/ipv6_container_tests.sh
  scripts/tools/ipv6_container_setup.sh
Labels: build issue, tools, workflow

#1384 Requirements document for on-device test dispatch
  docs/api/device_runner_dispatch.md
Labels: documentation

#1726 Darwin - Make the Ble backend less verbose
  src/platform/Darwin/BleConnectionDelegateImpl.mm
  src/platform/Darwin/BlePlatformDelegateImpl.mm
Labels: darwin, platform

#1728 Do not include the gateway ip for rendezvous over Ble
  examples/wifi-echo/server/esp32/main/wifi-echo.cpp
Labels: examples, feature work

#1729 Augment the width of virtual leds on the M5Stack screen for demos
  examples/common/screen-framework/ScreenManager.cpp
Labels: examples, feature work

#1732 Add a helper to setup wifi on the esp32
  examples/wifi-echo/server/esp32/main/ServiceProvisioning.cpp
Labels: examples, feature work

#1839 [Thread] remove factory reset
  src/include/platform/ThreadStackManager.h
  src/platform/Linux/ThreadStackManagerImpl.cpp
  src/platform/Linux/ThreadStackManagerImpl.h
Labels: linux, platform

#1840 Fix ConnectivityManagerImpl.cpp in order to let the ESP32 connect to …
  examples/wifi-echo/server/esp32/main/CHIPDeviceManager.cpp
  src/platform/ESP32/ConnectivityManagerImpl.cpp
  src/platform/ESP32/ESP32Utils.cpp
Labels: esp32, examples, platform

#1841 Get secure session expiry timer less verbose
  src/transport/SecureSessionMgr.cpp
Labels: transport

#1842 Get the connect event to reach the application layer of the commissio…
  src/darwin/CHIPTool/CHIPTool/CHIPViewControllerBase.h
  src/darwin/CHIPTool/CHIPTool/CHIPViewControllerBase.m
  src/darwin/CHIPTool/CHIPTool/QRCode/QRCodeViewController.m
  src/darwin/Framework/CHIP/CHIPDeviceController.h
  src/darwin/Framework/CHIP/CHIPDeviceController.mm
Labels: darwin

#1845 -Include the correct FreeRTOS Cortex files in the EFR32 makefiles cor…
  config/efr32/efr32-app.mk
  config/efr32/efr32-freertos.mk
  examples/lock-app/efr32/src/init_mcu.c
Labels: config, examples

#1885 Add an entry in the Setup view of the ESP32 to reset WiFi provisioning
  examples/wifi-echo/server/esp32/main/wifi-echo.cpp
Labels: examples

#1712 Add Spake2+ Implementation
  src/crypto/BUILD.gn
  src/crypto/CHIPCryptoPAL.cpp
  src/crypto/CHIPCryptoPAL.h
  src/crypto/CHIPCryptoPALOpenSSL.cpp
  src/crypto/CHIPCryptoPALmbedTLS.cpp
  src/crypto/Crypto.am
  src/crypto/tests/BUILD.gn
  src/crypto/tests/CHIPCryptoPALTest.cpp
  src/crypto/tests/Makefile.am
  src/crypto/tests/SPAKE2P_FE_MUL_test_vectors.h
  src/crypto/tests/SPAKE2P_FE_RW_test_vectors.h
  src/crypto/tests/SPAKE2P_HMAC_test_vectors.h
  src/crypto/tests/SPAKE2P_POINT_MUL_ADD_test_vectors.h
  src/crypto/tests/SPAKE2P_POINT_MUL_test_vectors.h
  src/crypto/tests/SPAKE2P_POINT_RW_test_vectors.h
  src/crypto/tests/SPAKE2P_POINT_VALID_test_vectors.h
  src/crypto/tests/SPAKE2P_RFC_test_vectors.h
Labels: crypto

#1878 Improve VS Code with GN build
  .vscode/c_cpp_properties.json
  .vscode/tasks.json
  integrations/docker/images/chip-build-vscode/Dockerfile
  scripts/helpers/update_compile_commands.sh
Labels: integrations, scripts, vscode

#1711 extractMessage should take a buffer length #1631
  examples/wifi-echo/server/esp32/main/DataModelHandler.cpp
  src/app/chip-zcl-zpro/command-encoder/chip-zcl-zpro-codec.h
  src/app/chip-zcl-zpro/command-encoder/decoder.c
Labels: app, examples

#1889 Address leftover review comments from PR#1712
  src/crypto/CHIPCryptoPAL.h
Labels: crypto

#1887 ESP32 - Forward IP address of the device once connected to the networ…
  examples/wifi-echo/server/esp32/main/Ble.cpp
  examples/wifi-echo/server/esp32/main/EchoDeviceCallbacks.cpp
  examples/wifi-echo/server/esp32/main/RendezvousSession.cpp
  examples/wifi-echo/server/esp32/main/include/RendezvousSession.h
  examples/wifi-echo/server/esp32/main/wifi-echo.cpp
Labels: examples

#1888 Disconnect bluetooth once the commissioner app receive an IP
  src/darwin/CHIPTool/CHIPTool/QRCode/QRCodeViewController.m
Labels: darwin

#1881 Add dbus gen for CHIP Linux device layer BlueZ
  configure.ac
  src/platform/Linux/dbus/org.bluez.xml
  src/platform/Makefile.am
Labels: linux, platform

#1880 [android] update readme doc to remind setting of JAVA_HOME
  src/android/CHIPTool/README.md
Labels: android

#1892 enable CHIP_DEVICE_CONFIG_ENABLE_THREAD in Linux
  config/standalone/standalone-chip.mk
  src/include/platform/ThreadStackManager.h
  src/include/platform/internal/GenericConnectivityManagerImpl_Thread.h
  src/include/platform/internal/GenericConnectivityManagerImpl_Thread.ipp
  src/lib/Makefile.am
  src/platform/BUILD.gn
  src/platform/Linux/CHIPDevicePlatformConfig.h
  src/platform/Linux/Logging.cpp
  src/platform/Linux/ThreadStackManagerImpl.cpp
  src/platform/Linux/ThreadStackManagerImpl.h
  src/platform/Makefile.am
  src/platform/device.gni
  src/platform/tests/BUILD.gn
  third_party/ot-br-posix/BUILD.gn
Labels: config, lib, linux, platform

#1907 Update nRF docker image to use more recent openthread
  integrations/docker/images/chip-build-nrf-platform/Dockerfile
  integrations/docker/images/chip-build/version
Labels: integrations

#1894 [nRF Connect] Add github workflow to verify build of the lock example
  .github/workflows/bloat_check.yaml
  .github/workflows/build.yaml
  .github/workflows/examples.yaml
  .github/workflows/gn_build.yaml
  .github/workflows/gn_examples.yaml
  .github/workflows/qemu.yaml
  scripts/examples/nrfconnect_lock_app.sh
Labels: github, nrf connect, platform, scripts, workflows

#1910 Fix command-line chip-tool toggle command.
  examples/chip-tool/main.cpp
Labels: examples

#1911 ESP32 - Update advertising data to be closer to the spec
  config/esp32/components/chip/Kconfig
  examples/chip-tool/main.cpp
  src/ble/BleConnectionDelegate.h
  src/ble/BleLayer.cpp
  src/ble/BleLayer.h
  src/controller/CHIPDeviceController.cpp
  src/controller/CHIPDeviceController.h
  src/darwin/CHIPTool/CHIPTool/QRCode/QRCodeViewController.m
  src/darwin/Framework/CHIP/CHIPDeviceController.h
  src/darwin/Framework/CHIP/CHIPDeviceController.mm
  src/platform/Darwin/BleConnectionDelegate.h
  src/platform/Darwin/BleConnectionDelegateImpl.mm
  src/platform/ESP32/BLEManagerImpl.cpp
  src/platform/ESP32/ConnectivityManagerImpl.cpp
  src/transport/BLE.cpp
  src/transport/BLE.h
Labels: ble, config, controller, darwin, esp32, examples, platform, transport

#1903 Add help for building with GN
  BUILD.gn
  docs/BUILDING-GN.md
  examples/lighting-app/nrf5/README.md
  examples/lock-app/nrf5/README.md
Labels: documentation, examples

#1896 Echo client (over IP) in Android demo app.
  config/android/CHIPProjectConfig.h
  configure.ac
  src/Makefile.am
  src/android/CHIPTool/app/src/main/AndroidManifest.xml
  src/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/CHIPNativeBridge.java
  src/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/CHIPToolActivity.java
  src/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/CHIPToolActivity.kt
  src/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/ChipClient.kt
  src/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/ConnectionStatusFragment.java
  src/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/EchoClientActivity.java
  src/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/OnOffActivity.java
  src/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/SelectActionFragment.kt
  src/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/echoclient/EchoClientFragment.kt
  src/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/setuppayloadscanner/BarcodeReaderActivity.java
  src/android/CHIPTool/app/src/main/res/layout/connection_status_fragment.xml
  src/android/CHIPTool/app/src/main/res/layout/echo_client_activity.xml
  src/android/CHIPTool/app/src/main/res/layout/echo_client_fragment.xml
  src/android/CHIPTool/app/src/main/res/layout/select_action_fragment.xml
  src/android/CHIPTool/app/src/main/res/layout/send_command_fragment.xml
  src/android/CHIPTool/app/src/main/res/layout/top_activity.xml
  src/android/CHIPTool/app/src/main/res/values/strings.xml
  src/controller/CHIPDeviceController.cpp
  src/controller/CHIPDeviceController.h
  src/controller/java/CHIPDeviceController-JNI.cpp
  src/controller/java/Makefile.am
  src/controller/java/src/chip/devicecontroller/ChipDeviceController.java
  src/controller/java/src/chip/devicecontroller/ChipDeviceControllerException.java
Labels: android, config, controller

#1899 Changed QRCode controller screen so it sends the entered Wi-Fi credentials over BLE to the CHIP device
  src/darwin/CHIPTool/CHIPTool/QRCode/QRCodeViewController.m
Labels: darwin

#1901 Updated .gitignore
  .gitignore
Labels: repo

#1918 ESP32 - Retrieve discriminator and setupPINCode from the Configuratio…
  examples/wifi-echo/server/esp32/main/wifi-echo.cpp
  src/include/platform/internal/GenericPlatformManagerImpl.ipp
  src/platform/ESP32/BLEManagerImpl.cpp
  src/platform/ESP32/ConnectivityManagerImpl.cpp
  src/platform/ESP32/ESP32Config.cpp
Labels: esp32, examples, platform

#1919 Pass the setupPINCode from the application layer down to Transport::BLE
  examples/chip-tool/main.cpp
  src/controller/CHIPDeviceController.cpp
  src/controller/CHIPDeviceController.h
  src/darwin/CHIPTool/CHIPTool/QRCode/QRCodeViewController.m
  src/darwin/Framework/CHIP/CHIPDeviceController.h
  src/darwin/Framework/CHIP/CHIPDeviceController.mm
  src/transport/BLE.cpp
  src/transport/BLE.h
Labels: controller, darwin, examples, transport

#1924 Get Linux/ThreadStackManagerImpl.h functions prototypes to match plat…
  src/platform/Linux/ThreadStackManagerImpl.cpp
  src/platform/Linux/ThreadStackManagerImpl.h
Labels: linux, platform

#1917 Scan only for peripheral with the correct CHIP short service UUID in …
  src/platform/Darwin/BleConnectionDelegateImpl.mm
Labels: darwin, platform

#1921 Fix a typo in rename_submodules.sh helper
  scripts/helpers/rename_submodules.sh
Labels: scripts

#1912 Adjust Linux Device layer bluez codegen location and parameter
  src/platform/Makefile.am
Labels: platform

#1925 Keep more warnings as fatal when building with GN
  examples/chip-tool/main.cpp
  examples/platform/nrf528xx/app/chipinit.cpp
  examples/shell/cmd_device.cpp
  gn/build/config/compiler/BUILD.gn
  src/app/chip-zcl-zpro/command-encoder/encoder.c
  src/crypto/tests/CHIPCryptoPALTest.cpp
  third_party/lwip/lwip.gni
  third_party/nrf5_sdk/nrf5_sdk.gni
Labels: app, crypto, examples, gn

#1930 [nrf5-example] Fix LEDWidget animate
  examples/platform/nrf528xx/util/LEDWidget.cpp
Labels: examples

#1931 Move thread configuration after platform configuration
  src/platform/device.gni
Labels: platform

#1909 [linux] Add dbus gen for CHIP Linux device layer to talk to wpa_suppl…
  configure.ac
  src/platform/Linux/dbus/wpa.xml
  src/platform/Linux/dbus/wpa_interface.xml
  src/platform/Linux/dbus/wpa_network.xml
  src/platform/Makefile.am
  src/platform/tests/Makefile.am
Labels: linux, platform
