Repository project-chip/connectedhomeip, pull requests merged in 2020-11, with the labels that each got.

#3553 ESP32: wifi-echo - Update README.md
  examples/wifi-echo/server/esp32/README.md
Labels: examples

#3547 Use the 'presentIf' attribute from dotdot XML to prevent reading resp…
  examples/chip-tool/commands/clusters/Commands.h
Labels: examples

#3497 Change to using a builder pattern for buffer reader.
  src/lib/support/BUILD.gn
  src/lib/support/BufferReader.cpp
  src/lib/support/BufferReader.h
  src/transport/raw/MessageHeader.cpp
Labels: lib, transport

#3562 Fix case of unprovisioned mDNS instance name
  src/lib/mdns/Publisher.cpp
Labels: lib

#3561 Add Linux lighting app to unified build
  BUILD.gn
  examples/lighting-app/linux/BUILD.gn
Labels: examples

#3559 Return error code in NetworkProvisionDelegate
  src/include/platform/internal/DeviceNetworkProvisioning.h
  src/include/platform/internal/GenericDeviceNetworkProvisioningDelegateImpl.h
  src/platform/Darwin/DeviceNetworkProvisioningDelegateImpl.h
  src/platform/EFR32/DeviceNetworkProvisioningDelegateImpl.h
  src/platform/ESP32/DeviceNetworkProvisioningDelegateImpl.cpp
  src/platform/ESP32/DeviceNetworkProvisioningDelegateImpl.h
  src/platform/K32W/DeviceNetworkProvisioningDelegateImpl.h
  src/platform/Linux/DeviceNetworkProvisioningDelegateImpl.h
  src/platform/nRF5/DeviceNetworkProvisioningDelegateImpl.cpp
  src/platform/nRF5/DeviceNetworkProvisioningDelegateImpl.h
  src/platform/nrfconnect/DeviceNetworkProvisioningDelegateImpl.cpp
  src/platform/nrfconnect/DeviceNetworkProvisioningDelegateImpl.h
  src/platform/qpg6100/DeviceNetworkProvisioningDelegateImpl.h
  src/transport/NetworkProvisioning.cpp
Labels: darwin, efr32, esp32, k32w, linux, nrf connect, nrf5, platform, transport

#3554 Add a type for group IDs.
  examples/chip-tool/commands/clusters/Commands.h
  src/app/chip-zcl-zpro-codec-api.h
  src/app/chip-zcl-zpro-codec.h
  src/app/clusters/groups-client/groups-client.cpp
  src/app/clusters/groups-server/groups-server.cpp
  src/app/clusters/scenes-client/scenes-client.cpp
  src/app/clusters/scenes-client/scenes-client.h
  src/app/clusters/scenes/scenes.cpp
  src/app/clusters/scenes/scenes.h
  src/app/encoder.cpp
  src/app/util/af-types.h
  src/app/util/basic-types.h
  src/app/util/types_stub.h
Labels: app, examples

#3557 Fix BLE advertisement service data format
  examples/lighting-app/linux/main.cpp
  examples/lighting-app/nrf5/main/AppTask.cpp
  src/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/bluetooth/BluetoothManager.kt
  src/include/platform/internal/GenericConfigurationManagerImpl.cpp
  src/platform/Darwin/BleConnectionDelegateImpl.mm
  src/platform/ESP32/bluedroid/BLEManagerImpl.cpp
  src/platform/ESP32/nimble/BLEManagerImpl.cpp
  src/platform/Linux/CHIPBluezHelper.cpp
  src/platform/Linux/CHIPBluezHelper.h
Labels: android, darwin, esp32, examples, linux, platform

#3573 Replace MEMCOMPARE by memcmp in ias-zone-client
  src/app/clusters/ias-zone-client/ias-zone-client.c
Labels: app

#3569 Fix buffer overrun in ESP32 WiFi provisioning
  src/platform/ESP32/ServiceProvisioning.cpp
Labels: esp32, platform

#3567 Remove special check on DeviceLayer in logging
  src/platform/EFR32/Logging.cpp
  src/platform/ESP32/Logging.cpp
  src/platform/K32W/Logging.cpp
  src/platform/nRF5/Logging.cpp
  src/platform/nrfconnect/Logging.cpp
  src/platform/qpg6100/Logging.cpp
Labels: efr32, esp32, k32w, nrf connect, nrf5, platform

#3566 Change the port to 11097
  config/esp32/components/chip/Kconfig
  examples/chip-tool/README.md
  examples/lighting-app/efr32/README.md
  examples/lock-app/efr32/README.md
  src/lib/core/CHIPConfig.h
  src/test_driver/linux-cirque/test-on-off-cluster.py
Labels: config, examples, lib

#3565 Add write attributes commands to chip-tool and src/app
  examples/chip-tool/commands/clusters/Commands.h
  src/app/chip-zcl-zpro-codec-api.h
  src/app/encoder.cpp
Labels: app, examples

#3563 DeviceController: Add API to manually set udp listen port
  src/controller/CHIPDeviceController.cpp
  src/controller/CHIPDeviceController.h
Labels: controller

#3560 [Linux] Fix device connection handler in CHIPBluezHelper
  src/platform/Linux/CHIPBluezHelper.cpp
Labels: linux, platform

#3541 Decouple CHIP stack from legacy WML based protocols
  src/messaging/ExchangeContext.cpp
  src/messaging/tests/TestExchangeMgr.cpp
  src/messaging/tests/TestReliableMessageProtocol.cpp
  src/platform/EFR32/NetworkProvisioningServerImpl.cpp
  src/platform/ESP32/SoftwareUpdateManagerImpl.cpp
  src/protocols/Protocols.h
  src/setup_payload/QRCodeSetupPayloadGenerator.cpp
  src/setup_payload/QRCodeSetupPayloadParser.cpp
  src/transport/NetworkProvisioning.cpp
  src/transport/NetworkProvisioning.h
  src/transport/RendezvousSession.cpp
  src/transport/RendezvousSession.h
  src/transport/SecurePairingSession.cpp
Labels: efr32, esp32, platform, setup payload, transport

#3535 Use a class wrapper on android to keep track of controller and associated delegates
  .vscode/tasks.json
  src/controller/CHIPDeviceController.h
  src/controller/java/AndroidDeviceControllerWrapper.cpp
  src/controller/java/AndroidDeviceControllerWrapper.h
  src/controller/java/BUILD.gn
  src/controller/java/CHIPDeviceController-JNI.cpp
Labels: controller, vscode

#3511 Use ReferenceCounted for ExchangeContext
  src/lib/core/ReferenceCounted.h
  src/messaging/ExchangeContext.cpp
  src/messaging/ExchangeContext.h
  src/messaging/ExchangeMgr.cpp
  src/messaging/ExchangeMgr.h
Labels: lib

#3570 Add support for emberEventControlGetActive
  src/app/util/af-event.cpp
  src/app/util/af-event.h
  src/app/util/util.cpp
Labels: app

#3576 Create wlan0 interface if it does not exist to allow CHIP to configure the wifi.
  src/platform/Linux/ConnectivityManagerImpl.cpp
Labels: linux, platform

#3575 Add a basic message reader for the data model.
  src/app/decoder.cpp
  src/app/message-reader.h
  src/lib/support/BufferReader.cpp
  src/lib/support/BufferReader.h
Labels: app, lib

#3620 Add some missing #ifdefs into src/app
  src/app/clusters/on-off-server/on-off.c
  src/app/util/util.cpp
Labels: app

#3583 Add discover attributes supports to chip-tool and src/app
  examples/chip-tool/commands/clusters/Commands.h
  src/app/chip-zcl-zpro-codec-api.h
  src/app/encoder.cpp
Labels: app, examples

#3577 Replace DEBUG checks with NDEBUG
  src/include/platform/ConfigurationManager.h
  src/include/platform/internal/GenericConfigurationManagerImpl.cpp
  src/include/platform/internal/GenericConfigurationManagerImpl.h
  src/lib/message/CHIPExchangeMgr.cpp
  src/lib/message/CHIPFabricState.cpp
  src/lib/message/ExchangeContext.cpp
  src/messaging/ReliableMessageContext.cpp
  src/messaging/ReliableMessageManager.cpp
  src/platform/tests/TestConfigurationMgr.cpp
Labels: lib, platform

#3624 CodeQL: Too many arguments to formatting function in src/platform/ESP…
  src/platform/ESP32/nimble/BLEManagerImpl.cpp
Labels: esp32, platform

#3571 Move PWM color control callbacks from type stubs to the esp32 demo app
  examples/wifi-echo/server/esp32/main/gen/callback-stub.c
  examples/wifi-echo/server/esp32/main/gen/callback.h
  src/app/util/types_stub.h
Labels: app, examples

#3633 Add IAS Zone Server attributes to chip-tool and src/app
  examples/chip-tool/commands/clusters/Commands.h
  examples/chip-tool/commands/common/Command.cpp
  examples/chip-tool/commands/common/Command.h
  src/app/chip-zcl-zpro-codec-api.h
  src/app/encoder.cpp
Labels: app, examples

#3628 [nrfconnect] Remove functional code from assert
  examples/platform/nrfconnect/pw_sys_io/sys_io_nrfconnect.cc
Labels: bug, examples

#3622 Remove PSK info from logging on ESP32 platform
  src/platform/ESP32/DeviceNetworkProvisioningDelegateImpl.cpp
Labels: esp32, platform

#3615 [EFR32] efr32mg12 devices was failing to join/connect to another the thread device
  src/platform/EFR32/efr32-chip-mbedtls-config.h
  third_party/efr32_sdk/efr32_board.gni
  third_party/efr32_sdk/efr32_sdk.gni
  third_party/openthread/platforms/efr32/BUILD.gn
Labels: efr32, platform

#3612 Remove gen/client-command-macro.h files
  examples/lighting-app/efr32/src/gen/client-command-macro.h
  examples/lighting-app/lighting-common/gen/client-command-macro.h
  examples/lock-app/efr32/src/gen/client-command-macro.h
  examples/lock-app/lock-common/gen/client-command-macro.h
  examples/temperature-measurement-app/esp32/main/gen/client-command-macro.h
  examples/wifi-echo/server/esp32/main/gen/client-command-macro.h
  src/app/clusters/door-lock-server/door-lock-server-logging.c
  src/app/clusters/door-lock-server/door-lock-server-schedule.c
  src/app/clusters/door-lock-server/door-lock-server-user.c
  src/app/clusters/groups-server/groups-server.cpp
  src/app/clusters/ias-zone-client/ias-zone-client.c
  src/app/clusters/ias-zone-server/ias-zone-server.cpp
  src/app/clusters/identify/identify.c
  src/app/clusters/messaging-client/messaging-client.c
  src/app/clusters/messaging-server/messaging-server.c
  src/app/clusters/scenes/scenes.cpp
  src/app/util/af.h
  src/app/util/client-api.h
Labels: app, examples

#3611 Remove references to EmAfZigbeeProNetwork
  examples/lighting-app/efr32/src/gen/callback-stub.c
  examples/lighting-app/lighting-common/gen/callback-stub.c
  examples/lock-app/efr32/src/gen/callback-stub.c
  examples/lock-app/lock-common/gen/callback-stub.c
  examples/wifi-echo/server/esp32/main/gen/callback-stub.c
  src/app/util/af-types.h
  src/app/util/af.h
  src/app/util/attribute-storage.c
Labels: app, examples

#3601 [android] Read NFC tag containing CHIP setup payload
  src/android/CHIPTool/app/src/main/AndroidManifest.xml
  src/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/CHIPToolActivity.kt
  src/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/setuppayloadscanner/BarcodeFragment.kt
Labels: android

#3609 Move gen/debug-printing.h and gen/debug-printing-test.h to src/app/util
  examples/lighting-app/efr32/src/gen/debug-printing-test.h
  examples/lighting-app/efr32/src/gen/debug-printing.h
  examples/lock-app/efr32/src/gen/debug-printing-test.h
  examples/lock-app/efr32/src/gen/debug-printing.h
  examples/lock-app/lock-common/gen/debug-printing-test.h
  examples/lock-app/lock-common/gen/debug-printing.h
  examples/temperature-measurement-app/esp32/main/gen/debug-printing-test.h
  examples/temperature-measurement-app/esp32/main/gen/debug-printing.h
  examples/wifi-echo/server/esp32/main/gen/debug-printing-test.h
  examples/wifi-echo/server/esp32/main/gen/debug-printing.h
  src/app/util/af.h
  src/app/util/debug-printing-test.h
  src/app/util/debug-printing.h
  src/app/util/ember-print.cpp
  src/app/util/ember-print.h
Labels: app, examples

#3549 Moving the BLE JNI methods to AndroidChipStack
  src/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/bluetooth/BluetoothManager.kt
  src/controller/java/CHIPDeviceController-JNI.cpp
  src/controller/java/src/chip/devicecontroller/AndroidChipStack.java
  src/controller/java/src/chip/devicecontroller/ChipDeviceController.java
Labels: android, controller

#3607 Remove znet-bookkeeping.[h|c] files
  examples/common/chip-app-server/BUILD.gn
  examples/common/chip-app-server/DataModelHandler.cpp
  examples/lighting-app/efr32/BUILD.gn
  examples/lighting-app/efr32/src/gen/znet-bookkeeping.c
  examples/lighting-app/efr32/src/gen/znet-bookkeeping.h
  examples/lighting-app/lighting-common/BUILD.gn
  examples/lighting-app/lighting-common/gen/znet-bookkeeping.c
  examples/lighting-app/lighting-common/gen/znet-bookkeeping.h
  examples/lighting-app/linux/main.cpp
  examples/lighting-app/nrfconnect/CMakeLists.txt
  examples/lighting-app/nrfconnect/main/ZclCallbacks.cpp
  examples/lock-app/efr32/BUILD.gn
  examples/lock-app/efr32/src/gen/znet-bookkeeping.c
  examples/lock-app/efr32/src/gen/znet-bookkeeping.h
  examples/lock-app/k32w/Makefile
  examples/lock-app/k32w/main/ZclCallbacks.cpp
  examples/lock-app/lock-common/BUILD.gn
  examples/lock-app/lock-common/gen/znet-bookkeeping.c
  examples/lock-app/lock-common/gen/znet-bookkeeping.h
  examples/lock-app/nrfconnect/CMakeLists.txt
  examples/lock-app/nrfconnect/main/ZclCallbacks.cpp
  examples/temperature-measurement-app/esp32/main/gen/znet-bookkeeping.c
  examples/temperature-measurement-app/esp32/main/gen/znet-bookkeeping.h
  examples/wifi-echo/server/esp32/main/gen/znet-bookkeeping.c
  examples/wifi-echo/server/esp32/main/gen/znet-bookkeeping.h
  src/app/util/af-main-common.cpp
  src/app/util/attribute-storage.c
  src/app/util/process-global-message.cpp
  src/app/util/util.cpp
Labels: app, examples

#3445 Implement echo protocol for connectivity sanity test on messaging layer
  BUILD.gn
  src/protocols/BUILD.gn
  src/protocols/echo/Echo.h
  src/protocols/echo/EchoClient.cpp
  src/protocols/echo/EchoServer.cpp
Labels: transport

#3572 Replace the usage of the COUNTOF macro in src/app/ by CodeUtils ArraySize
  src/app/clusters/door-lock-server/door-lock-server-core.cpp
  src/app/clusters/door-lock-server/door-lock-server-logging.cpp
  src/app/clusters/door-lock-server/door-lock-server-schedule.cpp
  src/app/clusters/door-lock-server/door-lock-server-user.cpp
Labels: app

#3581 Switch all non-generated Silicon Labs that we use right now to C++
  examples/lighting-app/efr32/BUILD.gn
  examples/lighting-app/lighting-common/BUILD.gn
  examples/lighting-app/nrfconnect/CMakeLists.txt
  examples/lock-app/efr32/BUILD.gn
  examples/lock-app/lock-common/BUILD.gn
  examples/lock-app/nrfconnect/CMakeLists.txt
  src/app/clusters/barrier-control-server/barrier-control-server.cpp
  src/app/clusters/basic/basic.cpp
  src/app/clusters/color-control-server/color-control-server.cpp
  src/app/clusters/door-lock-server/door-lock-server-schedule.cpp
  src/app/clusters/door-lock-server/door-lock-server-user.cpp
  src/app/clusters/ias-zone-client/ias-zone-client.cpp
  src/app/clusters/identify/identify.cpp
  src/app/clusters/messaging-client/messaging-client.cpp
  src/app/clusters/messaging-server/messaging-server.cpp
  src/app/clusters/on-off-server/on-off.cpp
  src/app/clusters/temperature-measurement-server/temperature-measurement-server.cpp
  src/app/util/af.h
  src/app/util/attribute-size.cpp
  src/app/util/attribute-storage.cpp
  src/app/util/attribute-table.cpp
  src/app/util/client-api.cpp
  src/app/util/ember-print.h
  src/app/util/esi-management.cpp
  src/app/util/process-cluster-message.cpp
Labels: app, examples

#3550 [Darwin] Handle short discriminator while pairing
  src/ble/BleLayer.cpp
  src/darwin/CHIPTool/CHIPTool/View Controllers/QRCode/QRCodeViewController.m
  src/platform/BUILD.gn
  src/platform/Darwin/BleConnectionDelegateImpl.mm
  src/setup_payload/SetupPayload.h
  src/transport/RendezvousParameters.h
Labels: ble, darwin, platform, setup payload, transport

#3655 Bring back image referenced by nRF examples
  examples/lighting-app/nrfconnect/README.md
  examples/lock-app/nrfconnect/README.md
  examples/platform/nrfconnect/doc/images/nrf52840-dk.jpg
Labels: examples

#3681 Make various src/app code compile with -Wconversion
  examples/wifi-echo/server/esp32/main/gen/callback.h
  src/app/clusters/barrier-control-server/barrier-control-server.cpp
  src/app/clusters/color-control-server/color-control-server.cpp
  src/app/clusters/door-lock-server/door-lock-server-logging.cpp
  src/app/clusters/door-lock-server/door-lock-server-user.cpp
  src/app/clusters/door-lock-server/door-lock-server.h
  src/app/clusters/groups-server/groups-server.cpp
  src/app/clusters/ias-zone-server/ias-zone-server.cpp
  src/app/clusters/identify/identify.cpp
  src/app/clusters/level-control/level-control.cpp
  src/app/clusters/scenes-client/scenes-client.cpp
  src/app/clusters/scenes/scenes.cpp
  src/app/clusters/temperature-measurement-server/temperature-measurement-server.cpp
  src/app/reporting/reporting.cpp
  src/app/reporting/reporting.h
  src/app/util/af-main-common.cpp
  src/app/util/af-types.h
  src/app/util/attribute-size.cpp
  src/app/util/attribute-storage.cpp
  src/app/util/attribute-storage.h
  src/app/util/attribute-table.cpp
  src/app/util/chip-message-send.cpp
  src/app/util/client-api.cpp
  src/app/util/esi-management.h
  src/app/util/message.cpp
  src/app/util/process-global-message.cpp
  src/app/util/util.cpp
Labels: app, examples

#3608 Add ZCL reporting plugin to be compiled in various examples
  examples/lighting-app/efr32/BUILD.gn
  examples/lighting-app/efr32/src/gen/callback-stub.c
  examples/lighting-app/lighting-common/BUILD.gn
  examples/lighting-app/lighting-common/gen/callback-stub.c
  examples/lighting-app/nrfconnect/CMakeLists.txt
  examples/lock-app/efr32/BUILD.gn
  examples/lock-app/efr32/src/gen/callback-stub.c
  examples/lock-app/lock-common/BUILD.gn
  examples/lock-app/lock-common/gen/callback-stub.c
  examples/lock-app/nrfconnect/CMakeLists.txt
  examples/temperature-measurement-app/esp32/main/gen/callback-stub.c
  examples/wifi-echo/server/esp32/main/gen/callback-stub.c
  src/app/reporting/reporting.cpp
  src/app/reporting/reporting.h
Labels: app, examples

#3653 Rename wifi-echo to all-clusters-app
  .github/workflows/examples-esp32.yaml
  .vscode/tasks.json
  examples/all-clusters-app/esp32/.gitignore
  examples/all-clusters-app/esp32/Makefile
  examples/all-clusters-app/esp32/README.md
  examples/all-clusters-app/esp32/idf.sh
  examples/all-clusters-app/esp32/main/BluetoothWidget.cpp
  examples/all-clusters-app/esp32/main/Button.cpp
  examples/all-clusters-app/esp32/main/CHIPDeviceManager.cpp
  examples/all-clusters-app/esp32/main/DeviceCallbacks.cpp
  examples/all-clusters-app/esp32/main/EchoServer.cpp
  examples/all-clusters-app/esp32/main/Globals.cpp
  examples/all-clusters-app/esp32/main/Kconfig.projbuild
  examples/all-clusters-app/esp32/main/LEDWidget.cpp
  examples/all-clusters-app/esp32/main/QRCodeScreen.cpp
  examples/all-clusters-app/esp32/main/RendezvousDeviceDelegate.cpp
  examples/all-clusters-app/esp32/main/WiFiWidget.cpp
  examples/all-clusters-app/esp32/main/component.mk
  examples/all-clusters-app/esp32/main/gen/af-gen-event.h
  examples/all-clusters-app/esp32/main/gen/af-structs.h
  examples/all-clusters-app/esp32/main/gen/att-storage.h
  examples/all-clusters-app/esp32/main/gen/attribute-id.h
  examples/all-clusters-app/esp32/main/gen/attribute-size.h
  examples/all-clusters-app/esp32/main/gen/attribute-type.h
  examples/all-clusters-app/esp32/main/gen/call-command-handler.c
  examples/all-clusters-app/esp32/main/gen/call-command-handler.h
  examples/all-clusters-app/esp32/main/gen/callback-stub.c
  examples/all-clusters-app/esp32/main/gen/callback.h
  examples/all-clusters-app/esp32/main/gen/cluster-id.h
  examples/all-clusters-app/esp32/main/gen/clusters-callback-stubs.c
  examples/all-clusters-app/esp32/main/gen/command-id.h
  examples/all-clusters-app/esp32/main/gen/endpoint_config.h
  examples/all-clusters-app/esp32/main/gen/enums.h
  examples/all-clusters-app/esp32/main/gen/gen_config.h
  examples/all-clusters-app/esp32/main/gen/gen_tokens.h
  examples/all-clusters-app/esp32/main/gen/print-cluster.h
  examples/all-clusters-app/esp32/main/include/BluetoothWidget.h
  examples/all-clusters-app/esp32/main/include/Button.h
  examples/all-clusters-app/esp32/main/include/CHIPDeviceManager.h
  examples/all-clusters-app/esp32/main/include/DeviceCallbacks.h
  examples/all-clusters-app/esp32/main/include/Globals.h
  examples/all-clusters-app/esp32/main/include/LEDWidget.h
  examples/all-clusters-app/esp32/main/include/QRCodeScreen.h
  examples/all-clusters-app/esp32/main/include/RendezvousDeviceDelegate.h
  examples/all-clusters-app/esp32/main/include/WiFiWidget.h
  examples/all-clusters-app/esp32/main/main.cpp
  examples/all-clusters-app/esp32/partitions.csv
  examples/all-clusters-app/esp32/sdkconfig.defaults
  examples/all-clusters-app/esp32/sdkconfig_devkit.defaults
  examples/all-clusters-app/esp32/sdkconfig_m5stack.defaults
  examples/all-clusters-app/esp32/third_party/connectedhomeip
  examples/chip-tool/README.md
  examples/temperature-measurement-app/esp32/Makefile
  examples/temperature-measurement-app/esp32/main/Kconfig.projbuild
  examples/temperature-measurement-app/esp32/main/main.cpp
  examples/wifi-echo/server/esp32/third_party/connectedhomeip
  scripts/examples/build-all-clusters-app.py
  scripts/examples/esp_echo_app.sh
Labels: examples, github, vscode, workflows

#3682 Use our EndpointId type in more places.
  src/app/chip-zcl-zpro-codec.h
  src/app/clusters/barrier-control-server/barrier-control-server.cpp
  src/app/clusters/barrier-control-server/barrier-control-server.h
  src/app/clusters/color-control-server/color-control-server.cpp
  src/app/clusters/door-lock-server/door-lock-server-logging.cpp
  src/app/clusters/door-lock-server/door-lock-server-user.cpp
  src/app/clusters/groups-server/groups-server.cpp
  src/app/clusters/ias-zone-server/ias-zone-server.cpp
  src/app/clusters/ias-zone-server/ias-zone-server.h
  src/app/clusters/identify/identify.cpp
  src/app/clusters/level-control/level-control.cpp
  src/app/clusters/level-control/level-control.h
  src/app/clusters/messaging-server/messaging-server.cpp
  src/app/clusters/messaging-server/messaging-server.h
  src/app/clusters/on-off-server/on-off.cpp
  src/app/clusters/scenes/scenes.cpp
  src/app/clusters/scenes/scenes.h
  src/app/encoder.cpp
  src/app/reporting/reporting.cpp
  src/app/util/af-event.cpp
  src/app/util/af-main.h
  src/app/util/af-types.h
  src/app/util/af.h
  src/app/util/attribute-storage.cpp
  src/app/util/attribute-storage.h
  src/app/util/attribute-table.cpp
  src/app/util/attribute-table.h
  src/app/util/client-api.cpp
  src/app/util/esi-management.cpp
  src/app/util/esi-management.h
  src/app/util/types_stub.h
  src/app/util/util.cpp
Labels: app

#3656 Update secure pairing messaging to not encode and re-decode headers
  src/transport/RendezvousSession.cpp
  src/transport/RendezvousSession.h
  src/transport/SecurePairingSession.cpp
  src/transport/SecurePairingSession.h
  src/transport/tests/TestSecurePairingSession.cpp
Labels: transport

#3650 ESP32: Fix PluginBasicResetToFactoryDefaultsCallback to call the correct API
  examples/all-clusters-app/esp32/main/DeviceCallbacks.cpp
Labels: examples

#3629 [nRF Connect] Update README - Building with Docker
  examples/lighting-app/nrfconnect/README.md
  examples/lock-app/nrfconnect/README.md
Labels: examples

#3710 Update docker images to 0.4.16
  .devcontainer/devcontainer.json
  .github/workflows/android.yaml
  .github/workflows/bloat_check.yaml
  .github/workflows/build.yaml
  .github/workflows/examples-efr32.yaml
  .github/workflows/examples-esp32.yaml
  .github/workflows/examples-linux-standalone.yaml
  .github/workflows/examples-nrfconnect.yaml
  .github/workflows/examples-qpg6100.yaml
  .github/workflows/qemu.yaml
  .github/workflows/unit_integration_test.yaml
  integrations/docker/images/chip-build-android/version
  integrations/docker/images/chip-build-cirque/version
  integrations/docker/images/chip-build/Dockerfile
  integrations/docker/images/chip-build/version
  src/test_driver/happy/README.md
Labels: github, hotfix, integrations, vscode, workflows

#3688 Remove *-cli.c files in src/app/clusters
  src/app/clusters/ias-zone-client/ias-zone-client-cli.c
  src/app/clusters/ias-zone-server/ias-zone-server-test.h
  src/app/clusters/messaging-client/callbacks.info
  src/app/clusters/messaging-client/cli.xml
  src/app/clusters/messaging-client/messaging-client-cli.c
  src/app/clusters/messaging-client/plugin.properties
  src/app/clusters/messaging-server/cli.xml
  src/app/clusters/messaging-server/messaging-server-cli.c
  src/app/clusters/messaging-server/plugin.properties
  src/app/clusters/scenes/scenes-cli.c
Labels: app

#3701 Use ClusterId in some cases where uint16_t snuck in.
  src/app/reporting/reporting.h
  src/app/util/attribute-storage.cpp
  src/app/util/attribute-storage.h
  src/app/util/process-global-message.cpp
  src/app/util/util.cpp
  src/app/util/util.h
Labels: app

#3678 Add a linux version of the all-clusters-app demo
  .github/workflows/examples-linux-standalone.yaml
  BUILD.gn
  examples/all-clusters-app/all-clusters-common/BUILD.gn
  examples/all-clusters-app/all-clusters-common/gen/af-gen-event.h
  examples/all-clusters-app/all-clusters-common/gen/af-structs.h
  examples/all-clusters-app/all-clusters-common/gen/att-storage.h
  examples/all-clusters-app/all-clusters-common/gen/attribute-id.h
  examples/all-clusters-app/all-clusters-common/gen/attribute-size.h
  examples/all-clusters-app/all-clusters-common/gen/attribute-type.h
  examples/all-clusters-app/all-clusters-common/gen/call-command-handler.c
  examples/all-clusters-app/all-clusters-common/gen/call-command-handler.h
  examples/all-clusters-app/all-clusters-common/gen/callback-stub.c
  examples/all-clusters-app/all-clusters-common/gen/callback.h
  examples/all-clusters-app/all-clusters-common/gen/cluster-id.h
  examples/all-clusters-app/all-clusters-common/gen/clusters-callback-stubs.c
  examples/all-clusters-app/all-clusters-common/gen/command-id.h
  examples/all-clusters-app/all-clusters-common/gen/endpoint_config.h
  examples/all-clusters-app/all-clusters-common/gen/enums.h
  examples/all-clusters-app/all-clusters-common/gen/gen_config.h
  examples/all-clusters-app/all-clusters-common/gen/gen_tokens.h
  examples/all-clusters-app/all-clusters-common/gen/print-cluster.h
  examples/all-clusters-app/esp32/main/DeviceCallbacks.cpp
  examples/all-clusters-app/esp32/main/component.mk
  examples/all-clusters-app/linux/.gn
  examples/all-clusters-app/linux/BUILD.gn
  examples/all-clusters-app/linux/Dockerfile
  examples/all-clusters-app/linux/args.gni
  examples/all-clusters-app/linux/build
  examples/all-clusters-app/linux/build_overrides
  examples/all-clusters-app/linux/entrypoint.sh
  examples/all-clusters-app/linux/main.cpp
  examples/all-clusters-app/linux/third_party/connectedhomeip
  examples/lighting-app/efr32/src/gen/callback-stub.c
  examples/lighting-app/efr32/src/gen/callback.h
  examples/lighting-app/lighting-common/gen/callback-stub.c
  examples/lighting-app/lighting-common/gen/callback.h
  examples/lock-app/efr32/src/gen/callback-stub.c
  examples/lock-app/efr32/src/gen/callback.h
  examples/lock-app/lock-common/gen/callback-stub.c
  examples/lock-app/lock-common/gen/callback.h
  examples/temperature-measurement-app/esp32/main/gen/callback-stub.c
  examples/temperature-measurement-app/esp32/main/gen/callback.h
  src/app/clusters/door-lock-server/door-lock-server-logging.cpp
  src/app/clusters/scenes/scenes.cpp
  src/app/util/af-types.h
  src/app/util/af.h
  src/app/util/attribute-storage.cpp
Labels: examples, github, workflows

#3714 Enabling BLE advertising start/stop command in shell application
  examples/shell/shell_common/cmd_btp.cpp
Labels: examples

#3713 Update IntelliSense modes to correct architecture
  .vscode/c_cpp_properties.json
Labels: vscode

#3712 CodeQL: Comparison result is always the same in src/inet/tests/TestIn…
  src/inet/tests/TestInetLayer.cpp
  src/inet/tests/TestInetLayerMulticast.cpp
Labels: inet

#3683 Enable -Wstack-usage on device builds
  build/config/compiler/BUILD.gn
  examples/chip-tool/commands/common/EchoCommand.cpp
  src/app/util/ember-print.cpp
  src/controller/CHIPDeviceController.cpp
  src/crypto/tests/CHIPCryptoPALTest.cpp
  src/inet/tests/TestInetCommon.cpp
  src/lib/support/tests/TestSerializableIntegerSet.cpp
  src/setup_payload/ManualSetupPayloadGenerator.cpp
  src/setup_payload/QRCodeSetupPayloadGenerator.cpp
  src/transport/SecureSession.cpp
Labels: app, controller, crypto, examples, inet, lib, setup payload, transport

#3670 [Android] Save Wifi credentials to CHIP device
  src/android/CHIPTool/app/src/main/AndroidManifest.xml
  src/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/CHIPToolActivity.kt
  src/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/GenericChipDeviceListener.kt
  src/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/clusterclient/OnOffClientFragment.kt
  src/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/echoclient/EchoClientFragment.kt
  src/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/provisioning/DeviceProvisioningFragment.kt
  src/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/provisioning/EnterWifiNetworkFragment.kt
  src/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/setuppayloadscanner/CHIPDeviceDetailsFragment.kt
  src/android/CHIPTool/app/src/main/res/layout/enter_wifi_network_fragment.xml
  src/android/CHIPTool/app/src/main/res/layout/single_fragment_container.xml
  src/android/CHIPTool/app/src/main/res/values/strings.xml
  src/controller/java/AndroidDeviceControllerWrapper.cpp
  src/controller/java/AndroidDeviceControllerWrapper.h
  src/controller/java/AndroidDevicePairingDelegate.cpp
  src/controller/java/AndroidDevicePairingDelegate.h
  src/controller/java/BUILD.gn
  src/controller/java/CHIPDeviceController-JNI.cpp
  src/controller/java/src/chip/devicecontroller/ChipDeviceController.java
Labels: android, controller

#3669 inet: remove kSendFlag_RetainBuffer
  src/inet/IPEndPointBasis.h
  src/inet/RawEndPoint.cpp
  src/inet/UDPEndPoint.cpp
Labels: inet

#3711 Remove examples/*-app/efr32/src/gen/ folders in order to use examples…
  examples/lighting-app/efr32/BUILD.gn
  examples/lighting-app/efr32/src/gen/af-gen-event.h
  examples/lighting-app/efr32/src/gen/af-structs.h
  examples/lighting-app/efr32/src/gen/att-storage.h
  examples/lighting-app/efr32/src/gen/attribute-id.h
  examples/lighting-app/efr32/src/gen/attribute-size.h
  examples/lighting-app/efr32/src/gen/attribute-type.h
  examples/lighting-app/efr32/src/gen/call-command-handler.c
  examples/lighting-app/efr32/src/gen/call-command-handler.h
  examples/lighting-app/efr32/src/gen/callback-stub.c
  examples/lighting-app/efr32/src/gen/callback.h
  examples/lighting-app/efr32/src/gen/cluster-id.h
  examples/lighting-app/efr32/src/gen/command-id.h
  examples/lighting-app/efr32/src/gen/endpoint_config.h
  examples/lighting-app/efr32/src/gen/enums.h
  examples/lighting-app/efr32/src/gen/gen_config.h
  examples/lighting-app/efr32/src/gen/gen_tokens.h
  examples/lighting-app/efr32/src/gen/print-cluster.h
  examples/lock-app/efr32/BUILD.gn
  examples/lock-app/efr32/src/gen/af-gen-event.h
  examples/lock-app/efr32/src/gen/af-structs.h
  examples/lock-app/efr32/src/gen/att-storage.h
  examples/lock-app/efr32/src/gen/attribute-id.h
  examples/lock-app/efr32/src/gen/attribute-size.h
  examples/lock-app/efr32/src/gen/attribute-type.h
  examples/lock-app/efr32/src/gen/call-command-handler.c
  examples/lock-app/efr32/src/gen/call-command-handler.h
  examples/lock-app/efr32/src/gen/callback-stub.c
  examples/lock-app/efr32/src/gen/callback.h
  examples/lock-app/efr32/src/gen/cluster-id.h
  examples/lock-app/efr32/src/gen/command-id.h
  examples/lock-app/efr32/src/gen/endpoint_config.h
  examples/lock-app/efr32/src/gen/enums.h
  examples/lock-app/efr32/src/gen/gen_config.h
  examples/lock-app/efr32/src/gen/gen_tokens.h
  examples/lock-app/efr32/src/gen/print-cluster.h
Labels: examples

#3717 [nRF Connect] Add tasks to VS Code Container
  .devcontainer/Dockerfile
  .vscode/c_cpp_properties.json
  .vscode/tasks.json
  integrations/docker/images/chip-build-vscode/Dockerfile
  integrations/docker/images/chip-build/version
  scripts/helpers/clean.sh
Labels: integrations, scripts, vscode

#3680 Compile with C++14
  .vscode/c_cpp_properties.json
  .vscode/settings.json
  build/config/compiler/BUILD.gn
  docs/style/coding/CODING_STYLE_GUIDE.adoc
  src/lib/support/CHIPArgParser.cpp
  src/transport/SecurePairingSession.cpp
Labels: documentation, lib, transport, vscode

#3677 [nrfconnect] Update NCS version to v1.4.0
  examples/lighting-app/nrfconnect/README.md
  examples/lock-app/nrfconnect/README.md
  examples/pigweed-app/nrfconnect/README.md
  integrations/docker/images/chip-build-nrf-platform/Dockerfile
  integrations/docker/images/chip-build/version
Labels: examples, integrations, nrf connect

#3659 Add ReportAttributes commands to chip-tool and src/app
  examples/chip-tool/commands/clusters/Commands.h
  src/app/chip-zcl-zpro-codec-api.h
  src/app/encoder.cpp
Labels: app, examples

#3690 Fix some assert() misuse in src/app.
  src/app/clusters/color-control-server/color-control-server.cpp
  src/app/clusters/ias-zone-client/ias-zone-client.cpp
  src/app/util/esi-management-test.c
Labels: app

#3720 Remove '-Wno-unused-variable' from the default compiler flags
  build/config/compiler/BUILD.gn
  src/inet/tests/TestInetEndPoint.cpp
  src/inet/tests/TestInetErrorStr.cpp
  src/lib/core/tests/TestCHIPErrorStr.cpp
  src/platform/Linux/ConnectivityManagerImpl.cpp
  src/system/tests/TestSystemErrorStr.cpp
Labels: inet, lib, linux, platform, system

#3723 ESP32 NimBLE: While starting new connectable advertisement procedure stop any active advertisement
  src/platform/ESP32/nimble/BLEManagerImpl.cpp
Labels: esp32, platform

#3673 [transport] Add node ID to address mapping
  config/standalone/CHIPProjectConfig.h
  examples/all-clusters-app/esp32/main/DeviceCallbacks.cpp
  examples/all-clusters-app/esp32/main/Globals.cpp
  examples/all-clusters-app/esp32/main/include/Globals.h
  examples/all-clusters-app/esp32/main/main.cpp
  examples/chip-tool/Dockerfile
  examples/chip-tool/commands/common/NetworkCommand.h
  examples/chip-tool/entrypoint.sh
  examples/common/chip-app-server/BUILD.gn
  examples/common/chip-app-server/RendezvousServer.cpp
  examples/common/chip-app-server/Server.cpp
  examples/lighting-app/linux/Dockerfile
  examples/lighting-app/linux/entrypoint.sh
  examples/temperature-measurement-app/esp32/main/main.cpp
  src/controller/CHIPDeviceController.cpp
  src/controller/CHIPDeviceController.h
  src/include/platform/CHIPDeviceLayer.h
  src/include/platform/internal/GenericConfigurationManagerImpl.cpp
  src/include/platform/internal/GenericPlatformManagerImpl_POSIX.cpp
  src/lib/mdns/BUILD.gn
  src/lib/mdns/DiscoveryManager.cpp
  src/lib/mdns/DiscoveryManager.h
  src/lib/mdns/Publisher.cpp
  src/lib/mdns/platform/Mdns.h
  src/platform/BUILD.gn
  src/platform/ESP32/MdnsImpl.cpp
  src/platform/Linux/ConfigurationManagerImpl.cpp
  src/platform/Linux/MdnsImpl.cpp
  src/platform/Linux/MdnsImpl.h
  src/platform/TestIdentity.cpp
  src/platform/tests/TestMdns.cpp
  src/test_driver/linux-cirque/OnOffClusterTest.sh
  src/test_driver/linux-cirque/test-on-off-cluster.py
  src/transport/BUILD.gn
  src/transport/PeerConnections.h
  src/transport/SecureSessionMgr.cpp
  src/transport/SecureSessionMgr.h
  src/transport/tests/TestPeerConnections.cpp
Labels: config, controller, esp32, examples, lib, linux, platform

#3638 Add ZAP templates to src/app
  src/app/docs/README.md
  src/app/zap-templates/README.md
  src/app/zap-templates/af-structs.zapt
  src/app/zap-templates/att-storage.zapt
  src/app/zap-templates/attribute-id.zapt
  src/app/zap-templates/attribute-type.zapt
  src/app/zap-templates/call-command-handler-src.zapt
  src/app/zap-templates/call-command-handler.zapt
  src/app/zap-templates/callback-stub-src.zapt
  src/app/zap-templates/callback.zapt
  src/app/zap-templates/chip-templates.json
  src/app/zap-templates/client-command-macro.zapt
  src/app/zap-templates/cluster-id.zapt
  src/app/zap-templates/command-id.zapt
  src/app/zap-templates/endpoint_config.zapt
  src/app/zap-templates/enums.zapt
  src/app/zap-templates/gen_config.zapt
  src/app/zap-templates/helper-chip.js
  src/app/zap-templates/print-cluster.zapt
Labels: app

#3756 [Build bustage] src/lib/mdns/DiscoveryManager.cpp:165:13: warning: un…
  examples/shell/qpg6100/BUILD.gn
  src/lib/mdns/DiscoveryManager.cpp
  src/platform/Linux/MdnsImpl.cpp
  src/test_driver/linux-cirque/test-on-off-cluster.py
Labels: examples, hotfix, lib, linux, platform

#3745 Use src/app/reporting/reporting.h in src/app/util instead of the decl…
  examples/all-clusters-app/all-clusters-common/gen/callback.h
  examples/lighting-app/lighting-common/gen/callback.h
  examples/lock-app/lock-common/gen/callback.h
  examples/temperature-measurement-app/esp32/main/gen/callback.h
  src/app/util/attribute-table.cpp
  src/app/util/process-global-message.cpp
Labels: app, examples

#3748 [nrfconnect/pigweed-app] Added support for the USB transport.
  config/nrfconnect/overlay-usb_support.conf
  examples/pigweed-app/nrfconnect/CMakeLists.txt
  examples/pigweed-app/nrfconnect/README.md
  examples/pigweed-app/nrfconnect/prj.conf
  examples/platform/nrfconnect/pw_sys_io/sys_io_nrfconnect.cc
Labels: config, examples

#3749 Move 'emberAfPluginDoorLockServerActivateDoorLockCallback' into src/a…
  examples/all-clusters-app/all-clusters-common/gen/callback.h
  examples/all-clusters-app/esp32/main/CHIPDeviceManager.cpp
  examples/all-clusters-app/esp32/main/DeviceCallbacks.cpp
  examples/all-clusters-app/esp32/main/include/CHIPDeviceManager.h
  examples/all-clusters-app/esp32/main/include/DeviceCallbacks.h
  examples/all-clusters-app/linux/main.cpp
  examples/lock-app/lock-common/gen/callback-stub.c
  examples/lock-app/lock-common/gen/callback.h
  src/app/clusters/door-lock-server/door-lock-server-user.cpp
  src/app/clusters/door-lock-server/door-lock-server.h
Labels: app, examples

#3750 Move Groups Plugin callbacks into src/app/groups-server
  examples/all-clusters-app/all-clusters-common/gen/callback-stub.c
  examples/all-clusters-app/all-clusters-common/gen/callback.h
  src/app/clusters/groups-server/groups-server.cpp
  src/app/clusters/groups-server/groups-server.h
Labels: app, examples

#3751 Move 'emberAfPluginIdentify[Start/Stop]FeedbackCallback' callbacks into src/app/clusters/identify
  examples/all-clusters-app/all-clusters-common/gen/callback-stub.c
  examples/all-clusters-app/all-clusters-common/gen/callback.h
  src/app/clusters/identify/identify.cpp
  src/app/clusters/identify/identify.h
Labels: app, examples

#3739 Remove '-Wno-unused-but-set-variable' from compiler flags
  build/config/compiler/BUILD.gn
  src/inet/tests/TestInetEndPoint.cpp
Labels: inet

#3758 Add `--device` option to EFR32 flashing script.
  scripts/flashing/efr32_firmware_utils.py
Labels: scripts

#3695 Add FindElementWithTag
  src/lib/core/CHIPTLV.h
  src/lib/core/CHIPTLVReader.cpp
Labels: lib

#3630 Enable pairing for multiple devices
  examples/all-clusters-app/esp32/main/RendezvousDeviceDelegate.cpp
  examples/chip-tool/commands/common/Command.h
  examples/chip-tool/commands/common/Commands.h
  src/controller/BUILD.gn
  src/controller/CHIPDevice.cpp
  src/controller/CHIPDevice.h
  src/controller/CHIPDeviceController.cpp
  src/controller/CHIPDeviceController.h
  src/controller/CHIPDeviceController_deprecated.cpp
  src/controller/CHIPDeviceController_deprecated.h
  src/controller/CHIPPersistentStorageDelegate.h
  src/controller/java/AndroidDeviceControllerWrapper.h
  src/controller/java/CHIPDeviceController-JNI.cpp
  src/controller/python/BUILD.gn
  src/controller/python/ChipDeviceController-ScriptBinding.cpp
  src/controller/python/ChipDeviceController-ScriptDevicePairingDelegate.h
  src/darwin/CHIPTool/CHIPTool/Framework Helpers/DefaultsUtils.m
  src/darwin/Framework/CHIP/CHIPDeviceController.mm
  src/darwin/Framework/CHIP/CHIPDevicePairingDelegateBridge.h
  src/darwin/Framework/CHIP/CHIPPersistentStorageDelegate.h
  src/darwin/Framework/CHIP/CHIPPersistentStorageDelegateBridge.h
  src/darwin/Framework/CHIP/CHIPPersistentStorageDelegateBridge.mm
  src/lib/support/SerializableIntegerSet.h
  src/transport/RendezvousSession.cpp
  src/transport/RendezvousSession.h
  src/transport/SecurePairingSession.cpp
  src/transport/SecurePairingSession.h
  src/transport/SecureSessionMgr.cpp
  src/transport/SecureSessionMgr.h
  src/transport/raw/Base.h
  src/transport/raw/UDP.cpp
  src/transport/raw/UDP.h
Labels: controller, darwin, examples, lib, transport

#3743 Use '#pragma once' in src/app/util, src/app/reporting and src/app/clu…
  src/app/clusters/barrier-control-server/barrier-control-server.h
  src/app/clusters/door-lock-server/door-lock-server.h
  src/app/clusters/ias-zone-client/ias-zone-client.h
  src/app/clusters/ias-zone-server/ias-zone-server-tokens.h
  src/app/clusters/ias-zone-server/ias-zone-server.h
  src/app/clusters/level-control/level-control.h
  src/app/clusters/messaging-client/messaging-client.h
  src/app/clusters/messaging-server/messaging-server.h
  src/app/clusters/scenes-client/scenes-client.h
  src/app/clusters/scenes/scenes-tokens.h
  src/app/clusters/scenes/scenes.h
  src/app/reporting/reporting-tokens.h
  src/app/reporting/reporting.h
  src/app/util/af-event.h
  src/app/util/af-main.h
  src/app/util/af-types.h
  src/app/util/attribute-storage.h
  src/app/util/attribute-table.h
  src/app/util/binding-table.h
  src/app/util/client-api.h
  src/app/util/common.h
  src/app/util/config.h
  src/app/util/debug-printing-test.h
  src/app/util/debug-printing.h
  src/app/util/ember-print.h
  src/app/util/esi-management.h
  src/app/util/time-util.h
  src/app/util/types_stub.h
  src/app/util/util.h
Labels: app

#3744 Move 'emberAfPluginBasicResetToFactoryDefaultsCallback' into src/app/…
  examples/all-clusters-app/all-clusters-common/gen/callback.h
  examples/all-clusters-app/esp32/main/CHIPDeviceManager.cpp
  examples/all-clusters-app/esp32/main/DeviceCallbacks.cpp
  examples/all-clusters-app/esp32/main/include/CHIPDeviceManager.h
  examples/all-clusters-app/esp32/main/include/DeviceCallbacks.h
  examples/all-clusters-app/linux/main.cpp
  examples/lighting-app/lighting-common/gen/callback.h
  examples/lock-app/lock-common/gen/callback.h
  examples/temperature-measurement-app/esp32/main/gen/callback-stub.c
  examples/temperature-measurement-app/esp32/main/gen/callback.h
  src/app/clusters/basic/basic.cpp
  src/app/clusters/basic/basic.h
Labels: app, examples

#3752 Move emberAfPluginLevelControlClusterServerPostInitCallback definitio…
  examples/all-clusters-app/all-clusters-common/gen/callback-stub.c
  src/app/clusters/level-control/level-control.cpp
Labels: app, examples

#3754 Rename gen/*.c files to cpp
  examples/all-clusters-app/all-clusters-common/BUILD.gn
  examples/all-clusters-app/all-clusters-common/gen/call-command-handler.cpp
  examples/all-clusters-app/all-clusters-common/gen/callback-stub.cpp
  examples/all-clusters-app/all-clusters-common/gen/callback.h
  examples/all-clusters-app/all-clusters-common/gen/clusters-callback-stubs.cpp
  examples/all-clusters-app/esp32/main/CHIPDeviceManager.cpp
  examples/all-clusters-app/esp32/main/DeviceCallbacks.cpp
  examples/all-clusters-app/linux/main.cpp
  examples/common/chip-app-server/DataModelHandler.cpp
  examples/common/chip-app-server/include/DataModelHandler.h
  examples/lighting-app/efr32/src/ZclCallbacks.cpp
  examples/lighting-app/lighting-common/BUILD.gn
  examples/lighting-app/lighting-common/gen/call-command-handler.cpp
  examples/lighting-app/lighting-common/gen/callback-stub.cpp
  examples/lighting-app/linux/main.cpp
  examples/lighting-app/nrfconnect/CMakeLists.txt
  examples/lighting-app/nrfconnect/main/ZclCallbacks.cpp
  examples/lock-app/efr32/src/ZclCallbacks.cpp
  examples/lock-app/k32w/main/ZclCallbacks.cpp
  examples/lock-app/lock-common/BUILD.gn
  examples/lock-app/lock-common/gen/call-command-handler.cpp
  examples/lock-app/lock-common/gen/callback-stub.cpp
  examples/lock-app/nrfconnect/CMakeLists.txt
  examples/lock-app/nrfconnect/main/ZclCallbacks.cpp
  examples/temperature-measurement-app/esp32/main/CHIPDeviceManager.cpp
  examples/temperature-measurement-app/esp32/main/DeviceCallbacks.cpp
  examples/temperature-measurement-app/esp32/main/gen/call-command-handler.cpp
  examples/temperature-measurement-app/esp32/main/gen/callback-stub.cpp
  examples/temperature-measurement-app/esp32/main/gen/clusters-callback-stubs.cpp
  src/app/clusters/barrier-control-server/barrier-control-server.cpp
  src/app/clusters/color-control-server/color-control-server.cpp
  src/app/clusters/door-lock-server/door-lock-server-core.cpp
  src/app/clusters/door-lock-server/door-lock-server-user.cpp
  src/app/clusters/ias-zone-client/ias-zone-client.h
  src/app/clusters/ias-zone-server/ias-zone-server.cpp
  src/app/clusters/level-control/level-control.cpp
  src/app/clusters/level-control/level-control.h
  src/app/clusters/temperature-measurement-server/temperature-measurement-server.cpp
  src/app/reporting/reporting.cpp
  src/app/reporting/reporting.h
  src/app/util/af-event.cpp
  src/app/util/af-event.h
  src/app/util/af-types.h
  src/app/util/af.h
  src/app/util/attribute-storage.h
  src/app/util/attribute-table.h
  src/app/util/binding-table.cpp
  src/app/util/binding-table.h
  src/app/util/chip-message-send.cpp
  src/app/util/chip-message-send.h
  src/app/util/ember-print.cpp
  src/app/util/ember-print.h
  src/app/util/types_stub.h
  src/app/util/util.cpp
  src/app/util/util.h
Labels: app, examples

#3772 Move IAS Zone Client Plugin callbacks into src/app/ias-zone-client
  examples/all-clusters-app/all-clusters-common/gen/clusters-callback-stubs.cpp
  examples/all-clusters-app/all-clusters-common/gen/gen_config.h
  examples/temperature-measurement-app/esp32/main/gen/clusters-callback-stubs.cpp
  src/app/clusters/ias-zone-client/ias-zone-client.cpp
Labels: app, examples

#3775 CodeQL: Too many arguments to formatting function in examples/shell/q…
  examples/shell/qpg6100/main.cpp
Labels: examples

#3771 Warning: CHIPPersistentStorageDelegateBridge.h 'SetDelegate' override…
  src/darwin/Framework/CHIP/CHIPPersistentStorageDelegateBridge.h
Labels: darwin

#3768 Update CHIP to use release/v4.1 branch instead of the v4.1 release.
  examples/all-clusters-app/esp32/README.md
  integrations/docker/images/chip-build-esp32/Dockerfile
  src/test_driver/esp32/README.md
Labels: examples, integrations

#3801 [nrfconnect] Reduce OpenThread RAM and FLASH usage
  config/nrfconnect/nrfconnect-app.cmake
  config/nrfconnect/sample-defaults.conf
  examples/lighting-app/nrfconnect/CMakeLists.txt
  examples/lighting-app/nrfconnect/prj.conf
  examples/lock-app/nrfconnect/CMakeLists.txt
  examples/lock-app/nrfconnect/prj.conf
  examples/platform/nrfconnect/project_include/OpenThreadConfig.h
  examples/shell/nrfconnect/CMakeLists.txt
  examples/shell/nrfconnect/prj.conf
Labels: config, examples

#3781 Add a CommandId type and use it in some obvious places
  src/app/encoder.cpp
  src/app/util/af-types.h
  src/app/util/basic-types.h
  src/app/util/process-global-message.cpp
  src/app/util/util.cpp
  src/app/util/util.h
Labels: app

#3802 Move Scene Cluster Specific callbaks from gen/callback* to src/app/sc…
  examples/all-clusters-app/all-clusters-common/gen/callback.h
  examples/lighting-app/lighting-common/gen/callback-stub.cpp
  examples/lighting-app/lighting-common/gen/callback.h
  examples/lock-app/lock-common/gen/callback-stub.cpp
  examples/lock-app/lock-common/gen/callback.h
  examples/temperature-measurement-app/esp32/main/gen/callback-stub.cpp
  examples/temperature-measurement-app/esp32/main/gen/callback.h
  src/app/clusters/groups-server/groups-server.cpp
  src/app/clusters/level-control/level-control.cpp
  src/app/clusters/on-off-server/on-off.cpp
  src/app/clusters/scenes/scenes.h
Labels: app, examples

#3796 ESP32: Make NimBLE as the default Bluetooth host in the temperature-measurement-app
  examples/temperature-measurement-app/esp32/sdkconfig.defaults
Labels: examples

#3797 Remove '-Wno-maybe-uninitialized' from compiler flags
  build/config/compiler/BUILD.gn
  src/platform/qpg6100/BLEManagerImpl.cpp
  third_party/efr32_sdk/efr32_sdk.gni
  third_party/lwip/lwip.gni
  third_party/mbedtls/mbedtls.gni
Labels: platform

#3779 Fix a few more cases of hardcoded integers used for data model types
  examples/all-clusters-app/esp32/main/CHIPDeviceManager.cpp
  examples/all-clusters-app/esp32/main/DeviceCallbacks.cpp
  examples/all-clusters-app/esp32/main/include/DeviceCallbacks.h
  src/app/util/af-main-common.cpp
Labels: app, examples, hotfix

#3767 Add a ValueOr method to Optional
  src/lib/core/Optional.h
  src/protocols/echo/EchoClient.cpp
  src/transport/SecurePairingSession.cpp
Labels: lib, transport

#3800 [nrfconnect] Added workaround fixing improper select method operation.
  config/nrfconnect/nrfconnect-app.cmake
Labels: config

#3810 Add attribute-size.h to src/app/zap-templates/chip-templates.json
  src/app/zap-templates/attribute-size.zapt
  src/app/zap-templates/attribute-type.zapt
  src/app/zap-templates/chip-templates.json
Labels: app

#3809 Add missing non-clusters related callbacks to src/app/zap-templates
  src/app/zap-templates/callback-stub-src.zapt
  src/app/zap-templates/callback.zapt
Labels: app

#3808 Catch network exception
  src/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/clusterclient/OnOffClientFragment.kt
Labels: android

#3804 Move Groups Cluster Specific callbacks from gen/callback* to src/app/…
  examples/all-clusters-app/all-clusters-common/gen/callback.h
  examples/lighting-app/lighting-common/gen/callback-stub.cpp
  examples/lighting-app/lighting-common/gen/callback.h
  examples/lock-app/lock-common/gen/callback-stub.cpp
  examples/lock-app/lock-common/gen/callback.h
  examples/temperature-measurement-app/esp32/main/gen/callback-stub.cpp
  examples/temperature-measurement-app/esp32/main/gen/callback.h
  src/app/clusters/groups-server/groups-server.h
  src/app/clusters/scenes/scenes.cpp
  src/app/util/util.cpp
Labels: app, examples

#3803 Move OnOff Cluster Specific callbacks from gen/callback* to src/app/o…
  examples/all-clusters-app/all-clusters-common/gen/callback.h
  examples/lighting-app/lighting-common/gen/callback-stub.cpp
  examples/lighting-app/lighting-common/gen/callback.h
  examples/lock-app/lock-common/gen/callback-stub.cpp
  examples/lock-app/lock-common/gen/callback.h
  examples/temperature-measurement-app/esp32/main/gen/callback-stub.cpp
  examples/temperature-measurement-app/esp32/main/gen/callback.h
  src/app/clusters/level-control/level-control.cpp
  src/app/clusters/on-off-server/on-off.cpp
  src/app/clusters/on-off-server/on-off.h
Labels: app, examples

#3773 Remove '-Wno-non-virtual-dtor' from compiler flags
  build/config/compiler/BUILD.gn
  src/ble/BleApplicationDelegate.h
  src/ble/BleConnectionDelegate.h
  src/ble/BlePlatformDelegate.h
  src/crypto/CHIPCryptoPAL.h
  src/lib/support/CHIPArgParser.hpp
  src/transport/RendezvousSessionDelegate.h
Labels: ble, crypto, lib, transport

#3780 Change the output target in chip-templates.json to be .cpp instead of .c
  src/app/zap-templates/chip-templates.json
Labels: app

#3770 Add src/lib/mdns to Doxygen
  docs/Doxyfile
  src/lib/mdns/DiscoveryManager.h
  src/lib/mdns/platform/Mdns.h
Labels: documentation, lib

#3778 Add '-Wshadow' to the compiler flags
  build/config/compiler/BUILD.gn
  src/app/clusters/barrier-control-server/barrier-control-server.cpp
  src/messaging/ReliableMessageContext.cpp
Labels: app

#3825 Add missing '#ifdef EMBER_AF_PLUGIN_REPORTING' to src/app/util/util.cpp
  src/app/util/util.cpp
Labels: app

#3823 [nrfconnect] Don't pass Zephyr optimization flags to CHIP build scripts
  build/config/compiler/compiler.gni
  config/nrfconnect/chip-lib.cmake
Labels: config

#3827 Move 'emberAfPluginColorControlServerComputePwmFrom*Callback' to src/…
  examples/all-clusters-app/all-clusters-common/gen/callback-stub.cpp
  examples/all-clusters-app/all-clusters-common/gen/callback.h
  src/app/clusters/color-control-server/color-control-server.cpp
  src/app/clusters/color-control-server/color-control-server.h
Labels: app, examples

#3843 Remove esi-management-test.c from src/app/util
  src/app/util/esi-management-test.c
Labels: app

#3658 [nRF Connect] Provide a way to build examples with no debugging features
  config/nrfconnect/chip-lib.cmake
  config/nrfconnect/release.conf
  config/nrfconnect/sample-defaults.conf
  examples/lighting-app/nrfconnect/README.md
  examples/lock-app/nrfconnect/README.md
  examples/shell/nrfconnect/CMakeLists.txt
Labels: config, examples

#3833 Add script for ZAP
  scripts/tools/zap_configure.sh
  scripts/tools/zap_generate.sh
Labels: scripts

#3783 Create an autorelease class for System::PacketBuffers
  src/system/AutoFreePacketBuffer.h
  src/transport/BLE.cpp
  src/transport/RendezvousSession.cpp
  src/transport/SecurePairingSession.cpp
  src/transport/SecureSessionMgr.cpp
  src/transport/raw/UDP.cpp
Labels: system, transport

#3824 Add missing 'emberAf{clusterName}ServerInitCallback' and 'emberAf{clu…
  src/app/zap-templates/callback-stub-src.zapt
  src/app/zap-templates/callback.zapt
Labels: app

#3828 Remove 'emberAfClusterSecurityCustomCallback' from src/app
  examples/all-clusters-app/all-clusters-common/gen/callback-stub.cpp
  examples/all-clusters-app/all-clusters-common/gen/callback.h
  examples/lighting-app/lighting-common/gen/callback-stub.cpp
  examples/lighting-app/lighting-common/gen/callback.h
  examples/lock-app/lock-common/gen/callback-stub.cpp
  examples/lock-app/lock-common/gen/callback.h
  examples/temperature-measurement-app/esp32/main/gen/callback-stub.cpp
  examples/temperature-measurement-app/esp32/main/gen/callback.h
  src/app/util/af-main-common.cpp
  src/app/util/af-main.h
  src/app/util/af-types.h
  src/app/util/af.h
  src/app/util/config.h
  src/app/util/debug-printing.h
  src/app/util/types_stub.h
  src/app/util/util.cpp
  src/app/util/util.h
  src/app/zap-templates/callback-stub-src.zapt
  src/app/zap-templates/callback.zapt
Labels: app, examples

#3818 Add a work queue for thread safety in CHIP's Storage Delegate Bridge
  src/darwin/Framework/CHIP/CHIPPersistentStorageDelegateBridge.h
  src/darwin/Framework/CHIP/CHIPPersistentStorageDelegateBridge.mm
Labels: darwin

#3790 [nrf] add timestamp in nrfconnect logs
  src/platform/nrfconnect/Logging.cpp
Labels: nrf connect, platform

#3759 A start of a bare-minimum mDNS query generator and reply parser
  .vscode/settings.json
  .vscode/tasks.json
  examples/minimal-mdns/.gn
  examples/minimal-mdns/BUILD.gn
  examples/minimal-mdns/args.gni
  examples/minimal-mdns/build
  examples/minimal-mdns/build_overrides
  examples/minimal-mdns/client.cpp
  examples/minimal-mdns/third_party/connectedhomeip
  src/BUILD.gn
  src/lib/mdns/minimal/BUILD.gn
  src/lib/mdns/minimal/BytesRange.h
  src/lib/mdns/minimal/DnsHeader.h
  src/lib/mdns/minimal/Parser.cpp
  src/lib/mdns/minimal/Parser.h
  src/lib/mdns/minimal/QName.cpp
  src/lib/mdns/minimal/QName.h
  src/lib/mdns/minimal/Query.h
  src/lib/mdns/minimal/QueryBuilder.h
  src/lib/mdns/minimal/RecordData.cpp
  src/lib/mdns/minimal/RecordData.h
  src/lib/mdns/minimal/format_test.py
  src/lib/mdns/minimal/tests/BUILD.gn
  src/lib/mdns/minimal/tests/TestMinimalMdns.h
  src/lib/mdns/minimal/tests/TestQName.cpp
  src/lib/mdns/minimal/tests/TestQNameDriver.cpp
Labels: examples, lib, scripts, vscode

#3845 [Thread] Fix linker errors when linking with OpenThread MTD
  src/include/platform/CHIPDeviceConfig.h
  src/platform/OpenThread/GenericThreadStackManagerImpl_OpenThread.cpp
  src/platform/nrfconnect/CHIPDevicePlatformConfig.h
Labels: nrf connect, openthread, platform

#3838 [shell] Add command to join a network with the given SSID and PSK
  examples/shell/shell_common/cmd_device.cpp
Labels: examples

#3842 Remove callbacks generated stubs from templates
  src/app/zap-templates/callback-stub-src.zapt
Labels: app

#3814 Add nrfconnect lighting-app build dir to .gitignore
  examples/lighting-app/nrfconnect/.gitignore
Labels: examples

#3462 Remove EmberAfProfileId and its dependencies
  examples/all-clusters-app/all-clusters-common/gen/af-structs.h
  examples/all-clusters-app/all-clusters-common/gen/callback.h
  examples/lighting-app/lighting-common/gen/af-structs.h
  examples/lighting-app/lighting-common/gen/callback.h
  examples/lock-app/lock-common/gen/af-structs.h
  examples/lock-app/lock-common/gen/callback.h
  examples/temperature-measurement-app/esp32/main/gen/af-structs.h
  examples/temperature-measurement-app/esp32/main/gen/callback.h
  src/app/chip-zcl-zpro-codec.h
  src/app/clusters/ias-zone-client/ias-zone-client.cpp
  src/app/decoder.cpp
  src/app/encoder.cpp
  src/app/util/af-main-common.cpp
  src/app/util/af-types.h
  src/app/util/af.h
  src/app/util/attribute-storage.cpp
  src/app/util/attribute-storage.h
  src/app/util/basic-types.h
  src/app/util/client-api.cpp
  src/app/util/config.h
  src/app/util/types_stub.h
  src/app/util/util.cpp
Labels: app, examples

#3782 Move 'emberAfPluginOnOffClusterServerPostInitCallback' to src/app/clu…
  examples/all-clusters-app/all-clusters-common/gen/callback-stub.cpp
  examples/all-clusters-app/all-clusters-common/gen/callback.h
  examples/lighting-app/efr32/src/ZclCallbacks.cpp
  examples/lighting-app/lighting-common/gen/callback-stub.cpp
  examples/lighting-app/lighting-common/gen/callback.h
  examples/lighting-app/linux/main.cpp
  examples/lighting-app/nrfconnect/main/ZclCallbacks.cpp
  examples/lock-app/efr32/src/ZclCallbacks.cpp
  examples/lock-app/k32w/main/ZclCallbacks.cpp
  examples/lock-app/lock-common/gen/callback-stub.cpp
  examples/lock-app/lock-common/gen/callback.h
  examples/lock-app/nrfconnect/main/ZclCallbacks.cpp
  src/app/clusters/on-off-server/on-off.cpp
  src/app/clusters/on-off-server/on-off.h
Labels: app, examples

#3876 [Build Bustage] 'EmberAfClusterId' has not been declared
  examples/lock-app/qpg6100/src/ZclCallbacks.cpp
Labels: examples, hotfix

#3859 Fix persistent storage delegate in iOS framework
  src/darwin/Framework/CHIP/CHIPPersistentStorageDelegateBridge.mm
Labels: darwin

#3878 Fix mdns build depencency on core.
  src/lib/mdns/BUILD.gn
Labels: lib

#3875 Remove IAS Zone Cluster Client from the all-clusters-app configuration
  examples/all-clusters-app/all-clusters-common/gen/af-gen-event.h
  examples/all-clusters-app/all-clusters-common/gen/call-command-handler.cpp
  examples/all-clusters-app/all-clusters-common/gen/call-command-handler.h
  examples/all-clusters-app/all-clusters-common/gen/endpoint_config.h
  examples/all-clusters-app/all-clusters-common/gen/gen_config.h
Labels: examples

#3877 Fix some build issues when building examples/lighting-app from ./gn_b…
  examples/lighting-app/lighting-common/gen/endpoint_config.h
  examples/lighting-app/linux/include/LightingManager.h
  examples/lighting-app/linux/main.cpp
Labels: examples

#3872 Add '#define EMBER_AF_PLUGIN_{{clusterName}}' and related to src/app/…
  src/app/zap-templates/gen_config.zapt
Labels: app

#3863 Use chip::NodeId from transport/raw/MessageHeader.h instead of ChipNo…
  src/app/clusters/ias-zone-server/ias-zone-server.cpp
  src/app/util/af-types.h
  src/app/util/chip-message-send.h
  src/app/util/common.h
  src/app/util/esi-management.h
  src/app/util/message.cpp
  src/app/util/types_stub.h
  src/app/util/util.cpp
  src/app/util/util.h
Labels: app

#3883 Fix merge error in master
  examples/minimal-mdns/client.cpp
Labels: examples, hotfix

#3869 fix wrong max prefix length in nrfconnect logs
  src/platform/nrfconnect/Logging.cpp
Labels: nrf connect, platform

#3865 Temperature measurement remove clusters callback stubs
  examples/temperature-measurement-app/esp32/main/gen/clusters-callback-stubs.cpp
Labels: examples

#3815 Update README.md to include SDK and NDK version
  src/android/CHIPTool/README.md
Labels: android

#3857 Followup for #3846. Extra block leftover in src/app/zap-templates/cal…
  src/app/zap-templates/af-structs.zapt
  src/app/zap-templates/callback-stub-src.zapt
  src/app/zap-templates/callback.zapt
Labels: app

#3888 Simplify unit test generation - remove 'driver' boilerplate and extern C header
  build/chip/chip_test_suite.gni
  scripts/gen_test_driver.py
  src/lib/mdns/minimal/tests/BUILD.gn
  src/lib/mdns/minimal/tests/TestMinimalMdns.h
  src/lib/mdns/minimal/tests/TestQName.cpp
  src/lib/mdns/minimal/tests/TestQNameDriver.cpp
  src/transport/raw/tests/BUILD.gn
  src/transport/raw/tests/TestMessageHeader.cpp
  src/transport/raw/tests/TestMessageHeaderDriver.cpp
  src/transport/raw/tests/TestRawTransportLayer.h
  src/transport/raw/tests/TestTCP.cpp
  src/transport/raw/tests/TestTCPDriver.cpp
  src/transport/raw/tests/TestUDP.cpp
  src/transport/raw/tests/TestUDPDriver.cpp
Labels: gn, lib, scripts, testing, transport

#3891 Use CHIP prefix for iOS framework handler functions
  src/darwin/CHIPTool/CHIPTool/Framework Helpers/DefaultsUtils.m
  src/darwin/Framework/CHIP/CHIPPersistentStorageDelegate.h
  src/darwin/Framework/CHIP/CHIPPersistentStorageDelegateBridge.mm
Labels: darwin

#3850 Return PacketBufferHandle from PacketBuffer::New...()
  examples/chip-tool/commands/common/Command.h
  examples/chip-tool/commands/common/EchoCommand.cpp
  examples/chip-tool/commands/common/ModelCommand.cpp
  src/app/util/chip-message-send.cpp
  src/ble/BLEEndPoint.cpp
  src/ble/BLEEndPoint.h
  src/ble/BtpEngine.cpp
  src/controller/java/CHIPDeviceController-JNI.cpp
  src/controller/python/ChipDeviceController-ScriptBinding.cpp
  src/inet/IPEndPointBasis.cpp
  src/inet/TCPEndPoint.cpp
  src/inet/tests/TestInetEndPoint.cpp
  src/inet/tests/TestInetLayerCommon.cpp
  src/lib/core/CHIPTLVWriter.cpp
  src/lib/core/tests/TestCHIPTLV.cpp
  src/lib/message/CHIPBinding.cpp
  src/lib/message/CHIPBinding.h
  src/lib/message/CHIPConnection.cpp
  src/lib/message/CHIPMessageLayer.cpp
  src/lib/message/CHIPMessageLayer.h
  src/lib/message/CHIPServerBase.cpp
  src/lib/message/ExchangeContext.cpp
  src/lib/support/CHIPMem-SimpleAlloc.cpp
  src/messaging/ReliableMessageContext.cpp
  src/messaging/tests/TestReliableMessageProtocol.cpp
  src/platform/EFR32/BLEManagerImpl.cpp
  src/platform/ESP32/bluedroid/BLEManagerImpl.cpp
  src/platform/ESP32/nimble/BLEManagerImpl.cpp
  src/platform/Linux/BLEManagerImpl.cpp
  src/platform/Zephyr/GenericBLEManagerImpl_Zephyr.cpp
  src/platform/qpg6100/BLEManagerImpl.cpp
  src/system/AutoFreePacketBuffer.h
  src/system/SystemPacketBuffer.cpp
  src/system/SystemPacketBuffer.h
  src/system/tests/TestSystemPacketBuffer.cpp
  src/transport/BLE.cpp
  src/transport/NetworkProvisioning.cpp
  src/transport/RendezvousSession.cpp
  src/transport/SecurePairingSession.cpp
  src/transport/SecureSessionMgr.cpp
  src/transport/raw/UDP.cpp
  src/transport/raw/tests/TestTCP.cpp
  src/transport/raw/tests/TestUDP.cpp
  src/transport/tests/TestSecureSessionMgr.cpp
Labels: app, ble, controller, darwin, efr32, esp32, examples, inet, lib, linux, platform, system, zephyr

#3906 Fix build breakage - test usage of System::PacketBuffer
  src/messaging/tests/TestExchangeMgr.cpp
Labels: hotfix

#3908 Add persistent storage delegate to chip tool
  examples/chip-tool/commands/common/Commands.cpp
  examples/chip-tool/commands/common/Commands.h
Labels: examples

#3919 fix MacOS build
  src/platform/Darwin/BleConnectionDelegateImpl.mm
Labels: darwin, hotfix, platform

#3901 Add all-clusters-app.zap file to all-clusters-app
  examples/all-clusters-app/all-clusters-common/all-clusters-app.zap
Labels: examples

#3897 Exchange handles SecureSession closing
  src/messaging/ExchangeMgr.cpp
  src/messaging/ExchangeMgr.h
  src/transport/SecureSessionMgr.cpp
  src/transport/SecureSessionMgr.h
Labels: controller, examples, transport

#3887 Add Stale to CHIP
  .github/stale.yml
Labels: github

#3916 [nrfconnect] disable support for 2Mbps BLE PHY by default
  config/nrfconnect/sample-defaults.conf
Labels: config

#3610 Add .zap files used to generate the gen/ folders to examples/lighting…
  examples/lighting-app/lighting-common/lighting-app.zap
  examples/lock-app/lock-common/lock-app.zap
Labels: examples

#3923 Refactor Exchange APIs
  examples/all-clusters-app/esp32/main/EchoServer.cpp
  examples/chip-tool/commands/common/NetworkCommand.cpp
  examples/common/chip-app-server/Server.cpp
  examples/temperature-measurement-app/esp32/main/ResponseServer.cpp
  src/controller/CHIPDevice.cpp
  src/controller/CHIPDevice.h
  src/controller/CHIPDeviceController.cpp
  src/controller/CHIPDeviceController.h
  src/controller/CHIPDeviceController_deprecated.h
  src/controller/java/CHIPDeviceController-JNI.cpp
  src/controller/python/ChipDeviceController-ScriptBinding.cpp
  src/controller/python/chip/ChipDeviceCtrl.py
  src/messaging/ExchangeContext.h
  src/messaging/ExchangeMgr.cpp
  src/messaging/ExchangeMgr.h
  src/transport/PeerConnections.h
  src/transport/SecureSessionMgr.cpp
  src/transport/SecureSessionMgr.h
  src/transport/tests/TestPeerConnections.cpp
  src/transport/tests/TestSecureSessionMgr.cpp
Labels: controller, examples, transport

#3905 More cleanup in persistent storage delegate in iOS framework
  src/darwin/CHIPTool/CHIPTool/Framework Helpers/DefaultsUtils.m
  src/darwin/Framework/CHIP/CHIPPersistentStorageDelegate.h
  src/darwin/Framework/CHIP/CHIPPersistentStorageDelegateBridge.h
  src/darwin/Framework/CHIP/CHIPPersistentStorageDelegateBridge.mm
Labels: darwin

#3880 Add available macros for 'return error code' as an alterative to 'verifyorexit'
  src/lib/support/BUILD.gn
  src/lib/support/ReturnMacros.h
  src/transport/RendezvousSession.cpp
  src/transport/SecureSession.cpp
  src/transport/raw/TCP.cpp
  src/transport/raw/UDP.cpp
Labels: lib, transport

#3917 Fix the identify timer logic on the esp32 all-clusters-app
  examples/all-clusters-app/esp32/main/DeviceCallbacks.cpp
Labels: examples

#3940 Fix bounds checks in PeerConnections
  src/transport/PeerConnections.h
Labels: hotfix, transport

#3927 Fix some more uint8_t that should actually be EndpointId.
  src/app/chip-zcl-zpro-codec-api.h
  src/app/clusters/ias-zone-client/ias-zone-client.h
  src/app/encoder.cpp
Labels: app
