Repository project-chip/connectedhomeip, pull requests merged in 2021-10, with the labels that each got.

#10107 Fix Thread task wakeup for the NXP lighting app
  examples/lighting-app/k32w/main/main.cpp
Labels: examples, review - approved

#10102 [Android] Support Opcreds button to check fabric features
  src/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/CHIPToolActivity.kt
  src/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/SelectActionFragment.kt
  src/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/clusterclient/OpCredClientFragment.kt
  src/android/CHIPTool/app/src/main/res/layout/op_cred_client_fragment.xml
  src/android/CHIPTool/app/src/main/res/layout/select_action_fragment.xml
  src/android/CHIPTool/app/src/main/res/values/strings.xml
Labels: android, review - approved, technical review - DONE

#10136 Cleanup Just-In-Time Provisioning feature
  src/app/BUILD.gn
  src/include/platform/CHIPDeviceConfig.h
  src/include/platform/ConfigurationManager.h
  src/include/platform/internal/GenericConfigurationManagerImpl.cpp
  src/include/platform/internal/GenericConfigurationManagerImpl.h
  src/platform/Darwin/PosixConfig.cpp
  src/platform/Darwin/PosixConfig.h
  src/platform/EFR32/EFR32Config.h
  src/platform/ESP32/ESP32Config.cpp
  src/platform/ESP32/ESP32Config.h
  src/platform/K32W/K32WConfig.h
  src/platform/Linux/PosixConfig.cpp
  src/platform/Linux/PosixConfig.h
  src/platform/P6/P6Config.cpp
  src/platform/P6/P6Config.h
  src/platform/Tizen/PosixConfig.cpp
  src/platform/Tizen/PosixConfig.h
  src/platform/Zephyr/ZephyrConfig.cpp
  src/platform/Zephyr/ZephyrConfig.h
  src/platform/android/AndroidConfig.cpp
  src/platform/android/AndroidConfig.h
  src/platform/android/java/chip/platform/ConfigurationManager.java
  src/platform/cc13x2_26x2/CC13X2_26X2Config.cpp
  src/platform/cc13x2_26x2/CC13X2_26X2Config.h
  src/platform/fake/ConfigurationManagerImpl.h
  src/platform/mbed/MbedConfig.cpp
  src/platform/mbed/MbedConfig.h
  src/platform/qpg/qpgConfig.h
Labels: platform, darwin, efr32, esp32, k32w, linux, zephyr, app, review - approved

#10056 Indirect access for System::Clock functions
  examples/lock-app/esp32/main/AppTask.cpp
  examples/lock-app/esp32/main/LEDWidget.cpp
  examples/lock-app/esp32/main/include/LEDWidget.h
  examples/platform/efr32/LEDWidget.cpp
  examples/platform/efr32/LEDWidget.h
  examples/platform/k32w/util/LEDWidget.cpp
  examples/platform/k32w/util/include/LEDWidget.h
  examples/platform/mbed/util/LEDWidget.cpp
  examples/platform/p6/LEDWidget.cpp
  examples/platform/p6/LEDWidget.h
  examples/shell/shell_common/cmd_ping.cpp
  examples/shell/shell_common/cmd_send.cpp
  src/app/EventManagement.cpp
  src/app/clusters/ias-zone-server/ias-zone-server.cpp
  src/app/reporting/reporting.cpp
  src/app/tests/integration/chip_im_initiator.cpp
  src/include/platform/internal/GenericPlatformManagerImpl.cpp
  src/inet/tests/TestInetLayerDNS.cpp
  src/lib/mdns/Resolver_ImplMinimalMdns.cpp
  src/lib/mdns/minimal/ResponseSender.cpp
  src/messaging/ReliableMessageContext.cpp
  src/messaging/ReliableMessageMgr.cpp
  src/messaging/tests/echo/echo_requester.cpp
  src/platform/ESP32/ConnectivityManagerImpl_WiFi.cpp
  src/platform/ESP32/bluedroid/BLEManagerImpl.cpp
  src/platform/ESP32/nimble/BLEManagerImpl.cpp
  src/platform/Linux/ConnectivityManagerImpl.cpp
  src/platform/Linux/PlatformManagerImpl.cpp
  src/platform/P6/ConnectivityManagerImpl.cpp
  src/platform/android/ConnectivityManagerImpl.cpp
  src/platform/tests/TestPlatformTime.cpp
  src/protocols/bdx/TransferFacilitator.cpp
  src/system/SystemClock.cpp
  src/system/SystemClock.h
  src/system/SystemLayerImplLwIP.cpp
  src/system/SystemLayerImplSelect.cpp
  src/system/SystemTimer.cpp
  src/system/TimeSource.h
  src/system/tests/TestSystemClock.cpp
  src/transport/SessionManager.cpp
  src/transport/raw/tests/NetworkTestHelpers.cpp
Labels: examples, platform, esp32, linux, lib, inet, app, review - approved, has conflicts

#10131 Convert to per-attribute namespaces for our Get/Set accessors
  examples/lighting-app/qpg/src/ZclCallbacks.cpp
  examples/window-app/common/src/WindowApp.cpp
  examples/window-app/common/src/ZclCallbacks.cpp
  examples/window-app/efr32/src/WindowAppImpl.cpp
  src/app/clusters/barrier-control-server/barrier-control-server.cpp
  src/app/clusters/color-control-server/color-control-server.cpp
  src/app/clusters/ethernet_network_diagnostics_server/ethernet_network_diagnostics_server.cpp
  src/app/clusters/identify-server/identify-server.cpp
  src/app/clusters/operational-credentials-server/operational-credentials-server.cpp
  src/app/clusters/software_diagnostics_server/software_diagnostics_server.cpp
  src/app/clusters/thermostat-server/thermostat-server.cpp
  src/app/clusters/thread_network_diagnostics_server/thread_network_diagnostics_server.cpp
  src/app/clusters/wifi_network_diagnostics_server/wifi_network_diagnostics_server.cpp
  src/app/clusters/window-covering-server/window-covering-server.cpp
  src/app/zap-templates/templates/app/attributes/Accessors-src.zapt
  src/app/zap-templates/templates/app/attributes/Accessors.zapt
  zzz_generated/app-common/app-common/zap-generated/attributes/Accessors.cpp
  zzz_generated/app-common/app-common/zap-generated/attributes/Accessors.h
Labels: examples, app, review - approved

#10135 Add a lint to catch unused CHIP_ERROR instances.
  .github/workflows/lint.yml
Labels: github, workflows, review - approved

#9989 Allow compilation and unit testing with IPv4 turned off
  .github/workflows/unit_integration_test.yaml
  examples/minimal-mdns/AllInterfaceListener.h
  examples/platform/linux/CommissioneeShellCommands.cpp
  src/app/tests/integration/chip_im_initiator.cpp
  src/app/tests/integration/chip_im_responder.cpp
  src/controller/tests/TestDevice.cpp
  src/inet/DNSResolver.cpp
  src/inet/tests/TestInetEndPoint.cpp
  src/inet/tests/TestInetLayerDNS.cpp
  src/lib/mdns/MinimalMdnsServer.cpp
  src/lib/mdns/minimal/responders/tests/TestPtrResponder.cpp
  src/messaging/tests/MessagingContext.h
  src/messaging/tests/echo/echo_requester.cpp
  src/messaging/tests/echo/echo_responder.cpp
  src/platform/Darwin/InetPlatformConfig.h
  src/platform/Darwin/MdnsImpl.cpp
  src/platform/EFR32/InetPlatformConfig.h
  src/platform/K32W/InetPlatformConfig.h
  src/platform/Linux/InetPlatformConfig.h
  src/platform/Linux/MdnsImpl.cpp
  src/platform/P6/args.gni
  src/platform/Tizen/InetPlatformConfig.h
  src/platform/cc13x2_26x2/InetPlatformConfig.h
  src/platform/mbed/InetPlatformConfig.h
  src/platform/nrfconnect/InetPlatformConfig.h
  src/platform/qpg/InetPlatformConfig.h
  src/platform/telink/InetPlatformConfig.h
  src/test_driver/happy/tests/standalone/inet/test_inet_multicast_five_nodes_on_wifi.py
  src/transport/tests/TestPeerConnections.cpp
  src/transport/tests/TestSessionManager.cpp
Labels: examples, transport, platform, darwin, efr32, k32w, linux, nrf connect, lib, inet, controller, app, github, workflows, review - approved, telink

#10142 identify cluster enable trigger effect & idenitfy type
  src/controller/data_model/controller-clusters.zap
  src/controller/java/zap-generated/CHIPClusters-JNI.cpp
  src/controller/java/zap-generated/chip/devicecontroller/ChipClusters.java
  src/controller/python/chip/clusters/CHIPClusters.cpp
  src/controller/python/chip/clusters/CHIPClusters.py
  src/darwin/Framework/CHIP/zap-generated/CHIPClustersObjc.h
  src/darwin/Framework/CHIP/zap-generated/CHIPClustersObjc.mm
  src/darwin/Framework/CHIP/zap-generated/CHIPTestClustersObjc.h
  src/darwin/Framework/CHIP/zap-generated/CHIPTestClustersObjc.mm
  src/darwin/Framework/CHIPTests/CHIPClustersTests.m
  zzz_generated/chip-tool/zap-generated/cluster/Commands.h
  zzz_generated/controller-clusters/zap-generated/CHIPClusters.cpp
  zzz_generated/controller-clusters/zap-generated/CHIPClusters.h
  zzz_generated/controller-clusters/zap-generated/endpoint_config.h
  zzz_generated/controller-clusters/zap-generated/tests/CHIPClusters.cpp
  zzz_generated/controller-clusters/zap-generated/tests/CHIPClusters.h
Labels: darwin, controller, review - approved

#10122 Implement the ResetEthNetworkDiagnosticsCounts method in ConnectivityManager
  src/app/clusters/ethernet_network_diagnostics_server/ethernet_network_diagnostics_server.cpp
  src/include/platform/ConnectivityManager.h
  src/include/platform/internal/GenericConnectivityManagerImpl.h
  src/platform/Linux/ConnectivityManagerImpl.cpp
  src/platform/Linux/ConnectivityManagerImpl.h
  src/platform/Linux/ConnectivityUtils.cpp
Labels: platform, linux, app, review - approved

#10156 Generate cluster objects for all clusters.
  src/app/zap-templates/templates/app/cluster-objects-src.zapt
  src/app/zap-templates/templates/app/cluster-objects.zapt
  zzz_generated/app-common/app-common/zap-generated/cluster-objects.cpp
  zzz_generated/app-common/app-common/zap-generated/cluster-objects.h
Labels: app, review - approved

#10155 Consistently use the "Clusters" namespace, not "clusters".
  examples/ota-provider-app/linux/main.cpp
  examples/ota-provider-app/ota-provider-common/OTAProviderExample.cpp
  examples/ota-provider-app/ota-provider-common/OTAProviderExample.h
  src/app/clusters/network-commissioning/network-commissioning-ember.cpp
  src/app/clusters/network-commissioning/network-commissioning.cpp
  src/app/clusters/network-commissioning/network-commissioning.h
  src/app/clusters/ota-provider/ota-provider-delegate.h
  src/app/clusters/ota-provider/ota-provider.cpp
  src/app/clusters/ota-provider/ota-provider.h
  src/app/tests/TestDataModelSerialization.cpp
  src/app/zap-templates/templates/app/cluster-objects-src.zapt
  src/app/zap-templates/templates/app/cluster-objects.zapt
  src/app/zap-templates/templates/app/im-cluster-command-handler.zapt
  zzz_generated/all-clusters-app/zap-generated/IMClusterCommandHandler.cpp
  zzz_generated/app-common/app-common/zap-generated/cluster-objects.cpp
  zzz_generated/app-common/app-common/zap-generated/cluster-objects.h
  zzz_generated/bridge-app/zap-generated/IMClusterCommandHandler.cpp
  zzz_generated/controller-clusters/zap-generated/IMClusterCommandHandler.cpp
  zzz_generated/lighting-app/zap-generated/IMClusterCommandHandler.cpp
  zzz_generated/lock-app/zap-generated/IMClusterCommandHandler.cpp
  zzz_generated/ota-provider-app/zap-generated/IMClusterCommandHandler.cpp
  zzz_generated/ota-requestor-app/zap-generated/IMClusterCommandHandler.cpp
  zzz_generated/pump-app/zap-generated/IMClusterCommandHandler.cpp
  zzz_generated/pump-controller-app/zap-generated/IMClusterCommandHandler.cpp
  zzz_generated/temperature-measurement-app/zap-generated/IMClusterCommandHandler.cpp
  zzz_generated/thermostat/zap-generated/IMClusterCommandHandler.cpp
  zzz_generated/tv-app/zap-generated/IMClusterCommandHandler.cpp
  zzz_generated/tv-casting-app/zap-generated/IMClusterCommandHandler.cpp
  zzz_generated/window-app/zap-generated/IMClusterCommandHandler.cpp
Labels: examples, app, review - approved

#10167 Remove vestigial RemoveAllFabrics and UpdateOpCert callbacks.
  src/app/clusters/operational-credentials-server/operational-credentials-server.cpp
Labels: app, review - approved

#9847 Add DeviceController::PairDevice(NodeId remoteId, const char * setupCode) API that looks for the device over supported networks resolves #9343
  examples/chip-tool/commands/discover/DiscoverCommissionablesCommand.cpp
  examples/chip-tool/commands/discover/DiscoverCommissionablesCommand.h
  examples/chip-tool/commands/pairing/Commands.h
  examples/chip-tool/commands/pairing/PairingCommand.cpp
  examples/chip-tool/commands/pairing/PairingCommand.h
  scripts/tests/test_suites.sh
  src/ble/BleLayer.cpp
  src/ble/BleLayer.h
  src/controller/AbstractMdnsDiscoveryController.cpp
  src/controller/AbstractMdnsDiscoveryController.h
  src/controller/BUILD.gn
  src/controller/CHIPDeviceController.cpp
  src/controller/CHIPDeviceController.h
  src/controller/DeviceDiscoveryDelegate.h
  src/controller/SetUpCodePairer.cpp
  src/controller/SetUpCodePairer.h
Labels: examples, scripts, setup payload, platform, darwin, controller, ble, review - approved, TE7

#10157 Fix Android build in gn_build.sh
  gn_build.sh
Labels: platform, lib, controller, android, review - approved

#10184 [ChipTool] Get chip-tool to support number passed as 0x
  examples/chip-tool/commands/common/Command.cpp
Labels: examples, review - approved

#10153 Minor System::Clock cleanup
  src/include/platform/internal/GenericPlatformManagerImpl.cpp
  src/system/SystemClock.h
Labels: system, review - approved

#10149 Update chip-build Dockerfile
  integrations/docker/images/chip-build/Dockerfile
  integrations/docker/images/chip-build/version
Labels: integrations, review - approved

#10162 Introduce a TLV::Tag for TLV tags.
  src/lib/core/CHIPTLVTags.h
Labels: lib, review - approved

#10206 Remove vestigial pre-spec ACL code placeholders
  src/app/util/ember-compatibility-functions.cpp
  src/messaging/BUILD.gn
  src/messaging/ExchangeACL.h
  src/messaging/ExchangeContext.cpp
  src/messaging/ExchangeContext.h
  src/protocols/user_directed_commissioning/UserDirectedCommissioningServer.cpp
  src/protocols/user_directed_commissioning/tests/TestUdcMessages.cpp
  src/transport/FabricTable.h
Labels: transport, app, review - approved, acl

#10191 Increase overall test timeout for nrfconnect.
  .github/workflows/examples-nrfconnect.yaml
Labels: github, workflows, review - approved

#10198 Enable use of nullptr for 0 length plaintext/ciphertext in crypto
  src/crypto/CHIPCryptoPAL.h
  src/crypto/CHIPCryptoPALOpenSSL.cpp
  src/crypto/CHIPCryptoPALmbedTLS.cpp
  src/crypto/tests/AES_CCM_256_test_vectors.h
  src/crypto/tests/CHIPCryptoPALTest.cpp
Labels: crypto, review - approved

#10168 Update cluster command APIs to make it easier to fix list/struct support in commands
  examples/tv-app/linux/include/content-launcher/ContentLauncherManager.cpp
  examples/window-app/common/src/ZclCallbacks.cpp
  src/app/ConcreteCommandPath.h
  src/app/clusters/account-login-server/account-login-server.cpp
  src/app/clusters/administrator-commissioning-server/administrator-commissioning-server.cpp
  src/app/clusters/application-basic-server/application-basic-server.cpp
  src/app/clusters/application-launcher-server/application-launcher-server.cpp
  src/app/clusters/audio-output-server/audio-output-server.cpp
  src/app/clusters/barrier-control-server/barrier-control-server.cpp
  src/app/clusters/bindings/bindings.cpp
  src/app/clusters/color-control-server/color-control-server.cpp
  src/app/clusters/diagnostic-logs-server/diagnostic-logs-server.cpp
  src/app/clusters/door-lock-server/door-lock-server-logging.cpp
  src/app/clusters/door-lock-server/door-lock-server-schedule.cpp
  src/app/clusters/door-lock-server/door-lock-server-user.cpp
  src/app/clusters/ethernet_network_diagnostics_server/ethernet_network_diagnostics_server.cpp
  src/app/clusters/general-commissioning-server/general-commissioning-server.cpp
  src/app/clusters/groups-server/groups-server.cpp
  src/app/clusters/ias-zone-server/ias-zone-server.cpp
  src/app/clusters/identify-server/identify-server.cpp
  src/app/clusters/keypad-input-server/keypad-input-server.cpp
  src/app/clusters/level-control/level-control.cpp
  src/app/clusters/low-power-server/low-power-server.cpp
  src/app/clusters/media-input-server/media-input-server.cpp
  src/app/clusters/media-playback-server/media-playback-server.cpp
  src/app/clusters/network-commissioning/network-commissioning-ember.cpp
  src/app/clusters/on-off-server/on-off-server.cpp
  src/app/clusters/operational-credentials-server/operational-credentials-server.cpp
  src/app/clusters/ota-provider/ota-provider.cpp
  src/app/clusters/scenes/scenes.cpp
  src/app/clusters/software_diagnostics_server/software_diagnostics_server.cpp
  src/app/clusters/target-navigator-server/target-navigator-server.cpp
  src/app/clusters/test-cluster-server/test-cluster-server.cpp
  src/app/clusters/thermostat-server/thermostat-server.cpp
  src/app/clusters/thread_network_diagnostics_server/thread_network_diagnostics_server.cpp
  src/app/clusters/tv-channel-server/tv-channel-server.cpp
  src/app/clusters/wifi_network_diagnostics_server/wifi_network_diagnostics_server.cpp
  src/app/clusters/window-covering-server/window-covering-server.cpp
  src/app/zap-templates/partials/im_command_handler_cluster_commands.zapt
  src/app/zap-templates/templates/app/callback.zapt
  src/app/zap-templates/templates/app/cluster-objects.zapt
  src/app/zap-templates/templates/app/im-cluster-command-handler.zapt
  zzz_generated/all-clusters-app/zap-generated/IMClusterCommandHandler.cpp
  zzz_generated/app-common/app-common/zap-generated/callback.h
  zzz_generated/app-common/app-common/zap-generated/cluster-objects.h
  zzz_generated/bridge-app/zap-generated/IMClusterCommandHandler.cpp
  zzz_generated/controller-clusters/zap-generated/IMClusterCommandHandler.cpp
  zzz_generated/lighting-app/zap-generated/IMClusterCommandHandler.cpp
  zzz_generated/lock-app/zap-generated/IMClusterCommandHandler.cpp
  zzz_generated/ota-provider-app/zap-generated/IMClusterCommandHandler.cpp
  zzz_generated/ota-requestor-app/zap-generated/IMClusterCommandHandler.cpp
  zzz_generated/pump-app/zap-generated/IMClusterCommandHandler.cpp
  zzz_generated/pump-controller-app/zap-generated/IMClusterCommandHandler.cpp
  zzz_generated/temperature-measurement-app/zap-generated/IMClusterCommandHandler.cpp
  zzz_generated/thermostat/zap-generated/IMClusterCommandHandler.cpp
  zzz_generated/tv-app/zap-generated/IMClusterCommandHandler.cpp
  zzz_generated/tv-casting-app/zap-generated/IMClusterCommandHandler.cpp
  zzz_generated/window-app/zap-generated/IMClusterCommandHandler.cpp
Labels: examples, app, review - approved

#10175 Normalized generation of `DecodableType` cluster objects.
  src/app/tests/TestDataModelSerialization.cpp
  src/app/zap-templates/templates/app/cluster-objects-src.zapt
  src/app/zap-templates/templates/app/cluster-objects.zapt
  src/app/zap-templates/templates/app/helper.js
  zzz_generated/app-common/app-common/zap-generated/cluster-objects.cpp
  zzz_generated/app-common/app-common/zap-generated/cluster-objects.h
Labels: app, review - approved

#10133 Better management of targets in build_examples.py, support -rpc when building all
  .github/workflows/android.yaml
  .github/workflows/build.yaml
  .github/workflows/examples-infineon.yaml
  .github/workflows/examples-telink.yaml
  .github/workflows/examples-tizen.yaml
  .vscode/tasks.json
  examples/lighting-app/telink/Readme.md
  integrations/cloudbuild/build-all.yaml
  scripts/build/BUILD.gn
  scripts/build/README.md
  scripts/build/build/__init__.py
  scripts/build/build/factory.py
  scripts/build/build/targets.py
  scripts/build/build_examples.py
  scripts/build/builders/android.py
  scripts/build/builders/builder.py
  scripts/build/builders/efr32.py
  scripts/build/builders/esp32.py
  scripts/build/builders/gn.py
  scripts/build/builders/host.py
  scripts/build/builders/infineon.py
  scripts/build/builders/nrf.py
  scripts/build/builders/qpg.py
  scripts/build/builders/telink.py
  scripts/build/builders/tizen.py
  scripts/build/expected_all_platform_commands.txt
  scripts/build/glob_matcher.py
  scripts/build/test.py
  scripts/build/test_glob_matcher.py
  scripts/build/testdata/all_targets_except_host.txt
  scripts/build/testdata/build_all_except_host.txt
  scripts/build/testdata/build_linux_on_x64.txt
Labels: examples, scripts, integrations, vscode, github, workflows, review - approved

#10154 Remove the need to manually set *aDataRead for AttributeAccessInterface.
  src/app/AttributeAccessInterface.h
  src/app/clusters/ethernet_network_diagnostics_server/ethernet_network_diagnostics_server.cpp
  src/app/clusters/general_diagnostics_server/general_diagnostics_server.cpp
  src/app/clusters/software_diagnostics_server/software_diagnostics_server.cpp
  src/app/clusters/thread_network_diagnostics_server/thread_network_diagnostics_server.cpp
  src/app/clusters/wifi_network_diagnostics_server/wifi_network_diagnostics_server.cpp
  src/app/util/ember-compatibility-functions.cpp
  src/include/platform/ConnectivityManager.h
  src/include/platform/ThreadStackManager.h
  src/include/platform/internal/GenericConnectivityManagerImpl_NoThread.h
  src/include/platform/internal/GenericConnectivityManagerImpl_Thread.h
  src/platform/Linux/ThreadStackManagerImpl.cpp
  src/platform/Linux/ThreadStackManagerImpl.h
  src/platform/OpenThread/GenericThreadStackManagerImpl_OpenThread.cpp
  src/platform/OpenThread/GenericThreadStackManagerImpl_OpenThread.h
Labels: platform, linux, openthread, app, review - approved

#10216 Add a safer API for encoding a command data response to CommandHandler.
  src/app/Command.cpp
  src/app/Command.h
  src/app/CommandHandler.cpp
  src/app/CommandHandler.h
  src/app/tests/TestCommandInteraction.cpp
Labels: app, review - approved

#10220 Eliminate template duplication in cluster-objects-src.zapt.
  src/app/zap-templates/templates/app/cluster-objects-src.zapt
  zzz_generated/app-common/app-common/zap-generated/cluster-objects.cpp
Labels: app, review - approved

#10227 Fix EFR32 builds - window covering is not rpc-aware
  .vscode/tasks.json
  scripts/build/build/targets.py
  scripts/build/testdata/all_targets_except_host.txt
  scripts/build/testdata/build_all_except_host.txt
Labels: hotfix, scripts, vscode

#10197 Update the ResetWifiNetworkDiagnosticsCounts method in ConnectivityMan…
  src/platform/Linux/ConnectivityManagerImpl.cpp
  src/platform/Linux/ConnectivityManagerImpl.h
Labels: platform, linux, review - approved

#10232 Remove RPC support for the efr32 lock app
  .vscode/tasks.json
  scripts/build/build/targets.py
  scripts/build/testdata/all_targets_except_host.txt
  scripts/build/testdata/build_all_except_host.txt
Labels: hotfix, scripts, vscode

#10095 [msg] Authenticate message before counter and duplicate processing.
  src/transport/SecureMessageCodec.cpp
  src/transport/SecureMessageCodec.h
  src/transport/SessionManager.cpp
Labels: transport, review - approved

#10219 Add TLVReader::Get for enums.
  src/lib/core/CHIPTLV.h
Labels: lib, review - approved

#10215 Change AddStatusCode to take a ConcreteCommandPath
  src/app/Command.h
  src/app/CommandHandler.cpp
  src/app/CommandHandler.h
  src/app/tests/TestCommandInteraction.cpp
  src/app/tests/integration/chip_im_responder.cpp
  src/app/util/ember-compatibility-functions.cpp
  src/app/zap-templates/templates/app/im-cluster-command-handler.zapt
  zzz_generated/all-clusters-app/zap-generated/IMClusterCommandHandler.cpp
  zzz_generated/bridge-app/zap-generated/IMClusterCommandHandler.cpp
  zzz_generated/controller-clusters/zap-generated/IMClusterCommandHandler.cpp
  zzz_generated/lighting-app/zap-generated/IMClusterCommandHandler.cpp
  zzz_generated/lock-app/zap-generated/IMClusterCommandHandler.cpp
  zzz_generated/ota-provider-app/zap-generated/IMClusterCommandHandler.cpp
  zzz_generated/ota-requestor-app/zap-generated/IMClusterCommandHandler.cpp
  zzz_generated/pump-app/zap-generated/IMClusterCommandHandler.cpp
  zzz_generated/pump-controller-app/zap-generated/IMClusterCommandHandler.cpp
  zzz_generated/temperature-measurement-app/zap-generated/IMClusterCommandHandler.cpp
  zzz_generated/thermostat/zap-generated/IMClusterCommandHandler.cpp
  zzz_generated/tv-app/zap-generated/IMClusterCommandHandler.cpp
  zzz_generated/tv-casting-app/zap-generated/IMClusterCommandHandler.cpp
  zzz_generated/window-app/zap-generated/IMClusterCommandHandler.cpp
Labels: app, review - approved

#10166 [Android] Support Basic button to check user label features
  src/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/CHIPToolActivity.kt
  src/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/SelectActionFragment.kt
  src/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/clusterclient/BasicClientFragment.kt
  src/android/CHIPTool/app/src/main/res/layout/basic_client_fragment.xml
  src/android/CHIPTool/app/src/main/res/layout/select_action_fragment.xml
  src/android/CHIPTool/app/src/main/res/values/strings.xml
Labels: android, review - approved, technical review - DONE

#10223 Remove some unused System::Layer code
  src/inet/tests/TestInetCommonPosix.cpp
  src/platform/LwIPEventSupport.cpp
  src/system/LwIPEventSupport.h
  src/system/SystemLayerImplLwIP.cpp
  src/system/SystemLayerImplLwIP.h
Labels: system, platform, inet, review - approved

#9982 [QPG610x] Move static data to stack
  src/platform/qpg/BLEManagerImpl.cpp
Labels: platform, qpg, review - approved

#10257 Update enum decode for cluster object
  src/app/zap-templates/templates/app/cluster-objects-src.zapt
  zzz_generated/app-common/app-common/zap-generated/cluster-objects.cpp
Labels: app, review - approved

#10226 Use chip::app::ConcreteCommandPath for DispatchSingleClusterCommand, DispatchSingleClusterCommandResponse and ServerClusterCommandExists
  examples/chip-tool/commands/clusters/ModelCommand.cpp
  src/app/CommandHandler.cpp
  src/app/CommandSender.cpp
  src/app/InteractionModelEngine.h
  src/app/tests/TestCommandInteraction.cpp
  src/app/tests/integration/chip_im_initiator.cpp
  src/app/tests/integration/chip_im_responder.cpp
  src/app/util/ember-compatibility-functions.cpp
  src/app/util/ember-compatibility-functions.h
  src/app/zap-templates/templates/app/im-cluster-command-handler.zapt
  zzz_generated/all-clusters-app/zap-generated/IMClusterCommandHandler.cpp
  zzz_generated/bridge-app/zap-generated/IMClusterCommandHandler.cpp
  zzz_generated/controller-clusters/zap-generated/IMClusterCommandHandler.cpp
  zzz_generated/lighting-app/zap-generated/IMClusterCommandHandler.cpp
  zzz_generated/lock-app/zap-generated/IMClusterCommandHandler.cpp
  zzz_generated/ota-provider-app/zap-generated/IMClusterCommandHandler.cpp
  zzz_generated/ota-requestor-app/zap-generated/IMClusterCommandHandler.cpp
  zzz_generated/pump-app/zap-generated/IMClusterCommandHandler.cpp
  zzz_generated/pump-controller-app/zap-generated/IMClusterCommandHandler.cpp
  zzz_generated/temperature-measurement-app/zap-generated/IMClusterCommandHandler.cpp
  zzz_generated/thermostat/zap-generated/IMClusterCommandHandler.cpp
  zzz_generated/tv-app/zap-generated/IMClusterCommandHandler.cpp
  zzz_generated/tv-casting-app/zap-generated/IMClusterCommandHandler.cpp
  zzz_generated/window-app/zap-generated/IMClusterCommandHandler.cpp
Labels: examples, app, review - approved

#10183 Missing chip namespace in PersistentStorageMacro.h
  src/lib/support/PersistentStorageMacros.h
Labels: lib, review - approved

#10213 Move tests/CHIPClusters.cpp to tests/CHIPClustersTests.cpp
  examples/chip-tool/commands/tests/TestCommand.h
  src/app/chip_data_model.gni
  src/app/tests/suites/templates/templates.json
  src/app/zap-templates/templates/app/tests/CHIPClusters-src.zapt
  src/app/zap-templates/templates/app/tests/CHIPClustersTest.zapt
  src/darwin/Framework/CHIP.xcodeproj/project.pbxproj
  src/darwin/Framework/CHIP/templates/CHIPTestClustersObjc-src.zapt
  src/darwin/Framework/CHIP/zap-generated/CHIPTestClustersObjc.mm
  zzz_generated/controller-clusters/zap-generated/tests/CHIPClustersTest.cpp
  zzz_generated/controller-clusters/zap-generated/tests/CHIPClustersTest.h
Labels: examples, darwin, app, review - approved

#10211 Remove some dead Inet code
  src/inet/BUILD.gn
  src/inet/EndPointBasis.cpp
  src/inet/EndPointBasis.h
  src/inet/IPEndPointBasis.cpp
  src/inet/IPEndPointBasis.h
  src/inet/InetConfig.h
  src/inet/InetLayer.cpp
  src/inet/InetLayer.h
  src/inet/InetLayerBasis.h
  src/inet/InetUtils.cpp
  src/inet/TCPEndPoint.cpp
  src/inet/TCPEndPoint.h
  src/inet/UDPEndPoint.cpp
  src/inet/tests/TestInetEndPoint.cpp
  src/system/BUILD.gn
  src/system/SystemClock.cpp
  src/system/SystemError.cpp
  src/system/SystemEvent.h
  src/system/SystemFaultInjection.cpp
  src/system/SystemLayerPrivate.h
  src/system/SystemMutex.cpp
  src/system/SystemObject.cpp
  src/system/SystemObject.h
  src/system/SystemPacketBuffer.cpp
  src/system/SystemStats.cpp
  src/system/SystemStats.h
  src/system/SystemTimer.cpp
Labels: system, inet, review - approved

#10181 [DNS-SD] Redesign ServiceAdvertiser and Resolver interfaces
  examples/chip-tool/commands/discover/Commands.h
  examples/minimal-mdns/advertiser.cpp
  src/app/server/Mdns.cpp
  src/app/server/Server.cpp
  src/controller/AbstractMdnsDiscoveryController.cpp
  src/controller/AbstractMdnsDiscoveryController.h
  src/controller/CHIPDeviceController.cpp
  src/controller/python/chip/discovery/NodeResolution.cpp
  src/controller/tests/TestCommissionableNodeController.cpp
  src/include/platform/ThreadStackManager.h
  src/lib/mdns/Advertiser.h
  src/lib/mdns/Advertiser_ImplMinimalMdns.cpp
  src/lib/mdns/Advertiser_ImplNone.cpp
  src/lib/mdns/Discovery_ImplPlatform.cpp
  src/lib/mdns/Discovery_ImplPlatform.h
  src/lib/mdns/Resolver.h
  src/lib/mdns/Resolver_ImplMinimalMdns.cpp
  src/lib/mdns/Resolver_ImplNone.cpp
  src/lib/mdns/minimal/tests/TestAdvertiser.cpp
  src/lib/mdns/platform/Mdns.h
  src/lib/mdns/platform/tests/TestPlatform.cpp
  src/lib/shell/commands/Dns.cpp
  src/platform/Darwin/MdnsImpl.cpp
  src/platform/ESP32/MdnsImpl.cpp
  src/platform/Linux/MdnsImpl.cpp
  src/platform/OpenThread/GenericThreadStackManagerImpl_OpenThread.cpp
  src/platform/OpenThread/GenericThreadStackManagerImpl_OpenThread.h
  src/platform/OpenThread/MdnsImpl.cpp
  src/platform/Tizen/MdnsImpl.cpp
  src/platform/android/MdnsImpl.cpp
  src/platform/fake/MdnsImpl.cpp
Labels: examples, platform, darwin, esp32, linux, openthread, lib, controller, app, review - approved

#10160 fix for malformed IPv6 Network Solicitation packet
  third_party/lwip/repo/lwip/src/core/ipv6/nd6.c
Labels: review - approved

#10281 Use chip::Protocols::InteractionModel::Status for ZCL status
  src/app/util/basic-types.h
  src/app/util/ember-compatibility-functions.cpp
  src/app/zap-templates/common/ChipTypesHelper.js
  src/app/zap-templates/common/override.js
  src/app/zap-templates/templates/app/af-structs.zapt
  src/app/zap-templates/zcl/data-model/chip/chip-types.xml
  src/app/zap-templates/zcl/data-model/silabs/general.xml
  src/app/zap-templates/zcl/data-model/silabs/types.xml
  src/app/zap-templates/zcl/data-model/silabs/zll.xml
  zzz_generated/app-common/app-common/zap-generated/af-structs.h
  zzz_generated/app-common/app-common/zap-generated/attribute-size.h
  zzz_generated/app-common/app-common/zap-generated/client-command-macro.h
Labels: app, review - approved

#10248 Do not include BLE as a transport in User Directed Commisioning
  examples/tv-app/linux/args.gni
  src/controller/CHIPDevice.h
  src/controller/CHIPDeviceController.cpp
  src/controller/CHIPDeviceController.h
Labels: examples, controller, review - approved

#11192 [K32W0][THREADIP-3658] Fix lighting app
  examples/lighting-app/nxp/k32w/k32w0/main/AppTask.cpp
  examples/lighting-app/nxp/k32w/k32w0/main/LightingManager.cpp
  examples/lighting-app/nxp/k32w/k32w0/main/ZclCallbacks.cpp
  examples/lighting-app/nxp/k32w/k32w0/main/include/LightingManager.h
Labels: examples, review - pending, fast track

#11206 Unblacklist nrf52840 for RPC builds
  scripts/build/build/targets.py
  scripts/build/testdata/all_targets_except_host.txt
  scripts/build/testdata/glob_star_targets_except_host.txt
Labels: scripts, review - approved

#11190 [K32W0][THREADIP-3663] Add Software Diagnosis Cluster
  examples/lighting-app/nxp/k32w/k32w0/main/main.cpp
  src/platform/nxp/k32w/k32w0/PlatformManagerImpl.cpp
  src/platform/nxp/k32w/k32w0/PlatformManagerImpl.h
Labels: examples, platform, review - pending, fast track

#11105 Make attributes whose values are lists of structs that have nullables/optionals at least compile.
  examples/all-clusters-app/all-clusters-common/all-clusters-app.zap
  examples/chip-tool/templates/commands.zapt
  src/app/clusters/test-cluster-server/test-cluster-server.cpp
  src/app/zap-templates/zcl/data-model/chip/test-cluster.xml
  src/controller/data_model/controller-clusters.zap
  src/controller/java/templates/CHIPClusters-JNI.zapt
  src/controller/java/templates/ChipClusters-java.zapt
  src/controller/java/zap-generated/CHIPClusters-JNI.cpp
  src/controller/java/zap-generated/chip/devicecontroller/ChipClusters.java
  src/controller/python/chip/clusters/CHIPClusters.cpp
  src/controller/python/chip/clusters/CHIPClusters.py
  src/controller/python/chip/clusters/Objects.py
  src/controller/python/templates/python-CHIPClusters-cpp.zapt
  src/darwin/Framework/CHIP/templates/partials/CHIPCallbackBridge.zapt
  src/darwin/Framework/CHIP/zap-generated/CHIPCallbackBridge.mm
  src/darwin/Framework/CHIP/zap-generated/CHIPCallbackBridge_internal.h
  src/darwin/Framework/CHIP/zap-generated/CHIPClustersObjc.h
  src/darwin/Framework/CHIP/zap-generated/CHIPClustersObjc.mm
  zzz_generated/all-clusters-app/zap-generated/attribute-size.cpp
  zzz_generated/all-clusters-app/zap-generated/endpoint_config.h
  zzz_generated/app-common/app-common/zap-generated/attribute-id.h
  zzz_generated/app-common/app-common/zap-generated/cluster-objects.h
  zzz_generated/app-common/app-common/zap-generated/ids/Attributes.h
  zzz_generated/chip-tool/zap-generated/cluster/Commands.h
  zzz_generated/controller-clusters/zap-generated/CHIPClientCallbacks.cpp
  zzz_generated/controller-clusters/zap-generated/CHIPClientCallbacks.h
  zzz_generated/controller-clusters/zap-generated/CHIPClusters.cpp
  zzz_generated/controller-clusters/zap-generated/CHIPClusters.h
Labels: examples, darwin, controller, app, review - approved

#11070 Mark attributes that we always intercept as external
  examples/all-clusters-app/all-clusters-common/all-clusters-app.zap
  examples/bridge-app/bridge-common/bridge-app.zap
  examples/lighting-app/lighting-common/lighting-app.zap
  examples/lock-app/lock-common/lock-app.zap
  examples/ota-provider-app/ota-provider-common/ota-provider-app.zap
  examples/ota-requestor-app/ota-requestor-common/ota-requestor-app.zap
  examples/pump-app/pump-common/pump-app.zap
  examples/pump-controller-app/pump-controller-common/pump-controller-app.zap
  examples/temperature-measurement-app/esp32/main/temperature-measurement.zap
  examples/thermostat/thermostat-common/thermostat.zap
  examples/tv-app/tv-common/tv-app.zap
  examples/tv-casting-app/tv-casting-common/tv-casting-app.zap
  examples/window-app/common/window-app.zap
  src/app/clusters/operational-credentials-server/operational-credentials-server.cpp
  zzz_generated/all-clusters-app/zap-generated/endpoint_config.h
  zzz_generated/bridge-app/zap-generated/endpoint_config.h
  zzz_generated/lighting-app/zap-generated/endpoint_config.h
  zzz_generated/lock-app/zap-generated/endpoint_config.h
  zzz_generated/ota-provider-app/zap-generated/endpoint_config.h
  zzz_generated/ota-requestor-app/zap-generated/endpoint_config.h
  zzz_generated/pump-app/zap-generated/endpoint_config.h
  zzz_generated/pump-controller-app/zap-generated/endpoint_config.h
  zzz_generated/temperature-measurement-app/zap-generated/endpoint_config.h
  zzz_generated/thermostat/zap-generated/endpoint_config.h
  zzz_generated/tv-app/zap-generated/endpoint_config.h
  zzz_generated/tv-casting-app/zap-generated/endpoint_config.h
  zzz_generated/window-app/zap-generated/endpoint_config.h
Labels: examples, app, review - approved

#10534 New YAML cert test cases
  examples/chip-tool/templates/tests.js
  src/app/tests/suites/certification/Test_TC_MC_2_1.yaml
  src/app/tests/suites/certification/Test_TC_MC_3_1.yaml
  src/app/tests/suites/certification/Test_TC_MC_3_2.yaml
  src/app/tests/suites/certification/Test_TC_MC_3_3.yaml
  src/app/tests/suites/certification/Test_TC_MC_3_4.yaml
  src/app/tests/suites/certification/Test_TC_MC_3_5.yaml
  src/darwin/Framework/CHIP/templates/tests.js
  src/darwin/Framework/CHIPTests/CHIPClustersTests.m
  zzz_generated/chip-tool/zap-generated/test/Commands.h
Labels: examples, darwin, app, github, workflows, review - pending, fast track

#11179 Fix log message showing wrong exchange direction
  src/transport/SessionManager.cpp
Labels: transport, review - approved

#11180 [qpg] Clear KVS on factory reset
  src/platform/qpg/ConfigurationManagerImpl.cpp
Labels: platform, review - pending, fast track

#11110 Use BitMapPool for SecureSessionTable
  src/transport/SecureSession.h
  src/transport/SecureSessionTable.h
  src/transport/SessionManager.cpp
  src/transport/SessionManager.h
  src/transport/tests/TestPeerConnections.cpp
Labels: transport, review - approved

#11096 Add OTA Provider and Requestor to the Darwin CI builds
  .github/workflows/darwin.yaml
Labels: github, workflows, review - pending, fast track

#10942 Display endpoint list
  src/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/CHIPToolActivity.kt
  src/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/clusterclient/clusterinteraction/ClusterDetailFragment.kt
  src/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/clusterclient/clusterinteraction/ClusterInteractionFragment.kt
  src/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/clusterclient/clusterinteraction/EndpointAdapter.kt
  src/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/clusterclient/clusterinteraction/endpointItem.kt
  src/android/CHIPTool/app/src/main/res/layout/cluster_detail_fragment.xml
  src/android/CHIPTool/app/src/main/res/layout/cluster_interaction_fragment.xml
  src/android/CHIPTool/app/src/main/res/layout/endpoint_item.xml
  src/android/CHIPTool/app/src/main/res/values/strings.xml
  src/controller/java/templates/ClusterInfo-java.zapt
  src/controller/java/zap-generated/chip/devicecontroller/ClusterInfoMapping.java
Labels: controller, android, review - approved

#11183 [Android] Update additional menu for all basic cluster's attributes.
  src/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/clusterclient/BasicClientFragment.kt
  src/android/CHIPTool/app/src/main/res/layout/basic_client_fragment.xml
  src/android/CHIPTool/app/src/main/res/values/strings.xml
Labels: android, review - approved

#11178 Add EventFilter encoding
  src/app/BUILD.gn
  src/app/MessageDef/EventFilterIB.cpp
  src/app/MessageDef/EventFilterIB.h
  src/app/MessageDef/EventFilters.cpp
  src/app/MessageDef/EventFilters.h
  src/app/tests/TestMessageDef.cpp
Labels: app, review - approved

#11244 Fix ZAP bustage from merge conflict.
  src/controller/java/zap-generated/chip/devicecontroller/ClusterInfoMapping.java
Labels: hotfix, controller, review - pending
