Repository project-chip/connectedhomeip, pull requests merged in 2021-07, with the labels that each got.

#8034 Implement User Directed Commissioning - Phase 1
  examples/minimal-mdns/server.cpp
  src/app/server/Mdns.cpp
  src/app/server/Mdns.h
  src/controller/python/ChipDeviceController-ScriptBinding.cpp
  src/lib/mdns/Advertiser.h
  src/lib/mdns/Advertiser_ImplMinimalMdns.cpp
  src/lib/mdns/Advertiser_ImplNone.cpp
  src/lib/mdns/Discovery_ImplPlatform.cpp
  src/lib/mdns/Discovery_ImplPlatform.h
  src/lib/mdns/Resolver.h
  src/lib/mdns/Resolver_ImplMinimalMdns.cpp
  src/lib/mdns/ServiceNaming.cpp
  src/lib/mdns/ServiceNaming.h
  src/lib/mdns/tests/TestServiceNaming.cpp
Labels: app, controller, examples, has conflicts, lib, review - approved

#7599 Updated CHIP Certs to Use Spans Instead of Pointer/Len Pairs
  src/controller/CHIPDeviceController.cpp
  src/credentials/CHIPCert.cpp
  src/credentials/CHIPCert.h
  src/credentials/CHIPCertFromX509.cpp
  src/credentials/CHIPCertToX509.cpp
  src/credentials/CHIPOperationalCredentials.cpp
  src/credentials/CHIPOperationalCredentials.h
  src/credentials/tests/CHIPCert_test_vectors.cpp
  src/credentials/tests/CHIPCert_test_vectors.h
  src/credentials/tests/TestChipCert.cpp
  src/credentials/tests/TestChipOperationalCredentials.cpp
  src/crypto/tests/CHIPCryptoPALTest.cpp
  src/lib/support/Span.h
  src/protocols/secure_channel/CASESession.cpp
  src/protocols/secure_channel/CASESession.h
  src/protocols/secure_channel/tests/TestCASESession.cpp
  src/tools/chip-cert/CertUtils.cpp
  src/tools/chip-cert/Cmd_GenCert.cpp
  src/tools/chip-cert/Cmd_PrintCert.cpp
  src/tools/chip-cert/Cmd_ValidateCert.cpp
  src/tools/chip-cert/chip-cert.h
  src/transport/AdminPairingTable.cpp
Labels: controller, crypto, has conflicts, lib, review - approved, technical review - DONE, transport

#7946 Zap use const expr for clusters commands attributes
  examples/pump-app/pump-common/gen/encoder.cpp
  examples/pump-controller-app/pump-controller-common/gen/encoder.cpp
  src/app/common/gen/ids/Attributes.h
  src/app/common/gen/ids/Clusters.h
  src/app/common/gen/ids/Commands.h
  src/app/common/templates/templates.json
  src/app/zap-templates/templates/app/encoder-src.zapt
  src/app/zap-templates/templates/app/ids/Attributes.zapt
  src/app/zap-templates/templates/app/ids/Clusters.zapt
  src/app/zap-templates/templates/app/ids/Commands.zapt
  src/app/zap-templates/templates/chip/helper.js
  src/app/zap-templates/zcl/data-model/silabs/ha.xml
  src/app/zap-templates/zcl/data-model/silabs/sample-extensions.xml
  src/controller/data_model/gen/encoder.cpp
Labels: app, controller, examples, review - approved

#8017 Update log messages for session expiry
  src/transport/SecureSessionMgr.cpp
Labels: review - approved, transport

#8026 Remove client-command-macro.h-aa80d825 from examples/bridge-app/bridg…
  examples/bridge-app/bridge-common/gen/client-command-macro.h-aa80d825
Labels: examples, review - approved

#7806 Fix Ble endpoint pool FULL on macOS controller
  src/platform/Darwin/BleConnectionDelegateImpl.mm
Labels: TE4, Tested manually, darwin, platform, review - approved

#8072 fix build error in TCP.cpp
  src/transport/raw/TCP.cpp
Labels: review - approved, transport

#8048 Add lighting example for Mbed OS
  .github/workflows/examples-mbed.yaml
  .vscode/launch.json
  .vscode/tasks.json
  examples/lighting-app/mbed/.gitignore
  examples/lighting-app/mbed/CMakeLists.txt
  examples/lighting-app/mbed/config.in
  examples/lighting-app/mbed/main/AppTask.cpp
  examples/lighting-app/mbed/main/LightingManager.cpp
  examples/lighting-app/mbed/main/ZclCallbacks.cpp
  examples/lighting-app/mbed/main/include/AppEvent.h
  examples/lighting-app/mbed/main/include/AppTask.h
  examples/lighting-app/mbed/main/include/CHIPProjectConfig.h
  examples/lighting-app/mbed/main/include/LightingManager.h
  examples/lighting-app/mbed/main/main.cpp
  examples/lighting-app/mbed/mbed-os.lib
  examples/lighting-app/mbed/mbed_app.json
  examples/lighting-app/mbed/wifi-ism43362.lib
  scripts/examples/mbed_example.sh
Labels: examples, github, review - approved, scripts, vscode, workflows

#8061 Add back structs, bitmaps and enums of the Messaging cluster into ami…
  src/app/common/gen/enums.h
  src/app/zap-templates/zcl/data-model/silabs/ami.xml
Labels: app, review - approved

#8056 Deprecated ASN1Writer::Finalize() Method
  src/credentials/CHIPCert.cpp
  src/credentials/CHIPCertToX509.cpp
  src/credentials/GenerateChipX509Cert.cpp
  src/lib/asn1/ASN1.h
  src/lib/asn1/ASN1Writer.cpp
  src/lib/asn1/tests/TestASN1.cpp
Labels: lib, review - approved

#8046 [Android] Separate KeyValueStoreManager.java into interface and impl
  src/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/CHIPToolActivity.kt
  src/controller/java/AndroidKeyValueStoreManagerImpl.cpp
  src/controller/java/AndroidKeyValueStoreManagerImpl.h
  src/controller/java/BUILD.gn
  src/controller/java/CHIPDeviceController-JNI.cpp
  src/controller/java/src/chip/devicecontroller/ChipDeviceController.java
  src/controller/java/src/chip/devicecontroller/KeyValueStoreManager.java
  src/controller/java/src/chip/devicecontroller/PreferencesKeyValueStoreManager.java
Labels: android, controller, review - approved

#8067 [Test] Add Test_TC_DM_3_1
  examples/chip-tool/commands/tests/Commands.h
  examples/chip-tool/templates/tests-commands.zapt
  src/app/tests/suites/Test_TC_DM_3_1.yaml
  src/darwin/Framework/CHIP/templates/clusters-tests.zapt
Labels: app, darwin, examples, review - approved

#8060 Followup #7873 - Replace emberAfPutInt8uInResp(ZCL_DEFAULT_RESPONSE_C…
  src/app/util/util.cpp
Labels: app, review - approved

#8021 Remove call-command-handler.cpp from src/controller/data_model/gen/ a…
  src/controller/data_model/gen/call-command-handler.cpp
  src/darwin/Framework/CHIP.xcodeproj/project.pbxproj
Labels: controller, darwin, review - approved

#7657 Add PID to Darwin/Linux Log Lines
  src/platform/Darwin/Logging.cpp
  src/platform/Linux/Logging.cpp
Labels: Tested manually, Tests not applicable, darwin, linux, platform, review - approved

#8011 Update Darwin framework to use GetConnectedDevice
  src/darwin/CHIPTool/CHIPTool/Framework Helpers/DefaultsUtils.h
  src/darwin/CHIPTool/CHIPTool/Framework Helpers/DefaultsUtils.m
  src/darwin/CHIPTool/CHIPTool/View Controllers/Bindings/BindingsViewController.m
  src/darwin/CHIPTool/CHIPTool/View Controllers/DeviceSelector.m
  src/darwin/CHIPTool/CHIPTool/View Controllers/Echo client/EchoViewController.m
  src/darwin/CHIPTool/CHIPTool/View Controllers/Fabric/FabricUIViewController.m
  src/darwin/CHIPTool/CHIPTool/View Controllers/MultiAdmin/MultiAdminViewController.m
  src/darwin/CHIPTool/CHIPTool/View Controllers/OnOffCluster/OnOffViewController.m
  src/darwin/CHIPTool/CHIPTool/View Controllers/QRCode/QRCodeViewController.m
  src/darwin/CHIPTool/CHIPTool/View Controllers/Temperature Sensor/TemperatureSensorViewController.m
  src/darwin/Framework/CHIP.xcodeproj/project.pbxproj
  src/darwin/Framework/CHIP/CHIPDeviceConnectionBridge.h
  src/darwin/Framework/CHIP/CHIPDeviceConnectionBridge.mm
  src/darwin/Framework/CHIP/CHIPDeviceController.h
  src/darwin/Framework/CHIP/CHIPDeviceController.mm
  src/darwin/Framework/CHIPTests/CHIPControllerTests.m
Labels: TE4, darwin, review - approved

#7475 Add a string circular buffer.
  src/lib/support/BUILD.gn
  src/lib/support/BytesCircularBuffer.cpp
  src/lib/support/BytesCircularBuffer.h
  src/lib/support/tests/BUILD.gn
  src/lib/support/tests/TestBytesCircularBuffer.cpp
Labels: Has Automated Tests, lib, review - approved, technical review - DONE

#8083 [lighting-app] Enable optional Basic Cluster attributes
  examples/lighting-app/lighting-common/gen/endpoint_config.h
  examples/lighting-app/lighting-common/lighting-app.zap
Labels: examples, review - approved

#8014 Add more tests for multiple IM event path
  src/app/EventPathParams.h
  src/app/ReadClient.cpp
  src/app/ReadClient.h
  src/app/tests/TestReadInteraction.cpp
  src/app/tests/integration/MockEvents.cpp
  src/app/tests/integration/MockEvents.h
  src/app/tests/integration/chip_im_initiator.cpp
  src/app/tests/integration/chip_im_responder.cpp
  src/app/tests/integration/common.h
Labels: Interaction Model Work, app, review - approved

#8045 Have a single loopback transport implementation for tests.
  src/channel/tests/TestChannel.cpp
  src/messaging/tests/TestExchangeMgr.cpp
  src/messaging/tests/TestReliableMessageProtocol.cpp
  src/protocols/secure_channel/tests/BUILD.gn
  src/protocols/secure_channel/tests/TestCASESession.cpp
  src/protocols/secure_channel/tests/TestMessageCounterManager.cpp
  src/protocols/secure_channel/tests/TestPASESession.cpp
  src/transport/raw/tests/BUILD.gn
  src/transport/raw/tests/NetworkTestHelpers.h
  src/transport/tests/TestSecureSessionMgr.cpp
Labels: review - approved, transport

#8012 Don't treat a resolve as done in chip-device-ctrl until we have a CASE connection
  src/controller/python/ChipDeviceController-ScriptBinding.cpp
  src/controller/python/ChipDeviceController-ScriptDevicePairingDelegate.cpp
  src/controller/python/ChipDeviceController-ScriptDevicePairingDelegate.h
  src/controller/python/chip/ChipDeviceCtrl.py
Labels: TE4, controller, review - approved

#8063 Remove examples/chip-tool/gen/IMClusterCommandHandler.cpp that has be…
  examples/chip-tool/gen/IMClusterCommandHandler.cpp
Labels: examples, review - approved

#8085 Add a README.md file to src/app/tests/suites/
  src/app/tests/suites/README.md
Labels: app, review - approved

#8091 Fixup gn_build.sh enable_qpg_builds=true after #7936
  BUILD.gn
  config/qpg/toolchain/BUILD.gn
Labels: config, review - approved

#8044 Use synchronizable keys for Darwin credentials issuer
  src/darwin/Framework/CHIP/CHIPOperationalCredentialsDelegate.h
  src/darwin/Framework/CHIP/CHIPOperationalCredentialsDelegate.mm
Labels: darwin, review - pending

#8080 [nrfconnect] Add support for nRF52840 Dongle to lighting-app
  config/nrfconnect/chip-module/CMakeLists.txt
  examples/lighting-app/nrfconnect/CMakeLists.txt
  examples/lighting-app/nrfconnect/README.md
  examples/lighting-app/nrfconnect/boards/nrf52840dongle_nrf52840.conf
  examples/lighting-app/nrfconnect/main/main.cpp
  examples/lighting-app/nrfconnect/prj.conf
  examples/lock-app/nrfconnect/README.md
  examples/pigweed-app/nrfconnect/README.md
  examples/platform/nrfconnect/util/DFUTrigger.cpp
  examples/pump-app/nrfconnect/README.md
  examples/pump-controller-app/nrfconnect/README.md
  src/platform/Zephyr/Logging.cpp
Labels: config, examples, platform, review - pending, zephyr

#8049 Fix admin id used in the peer-to-local session in messaging context.
  src/messaging/tests/MessagingContext.cpp
Labels: review - pending

#8069 Use gen/ids into im_cluster_command_handler.cpp
  examples/all-clusters-app/all-clusters-common/gen/IMClusterCommandHandler.cpp
  examples/bridge-app/bridge-common/gen/IMClusterCommandHandler.cpp
  examples/lighting-app/lighting-common/gen/IMClusterCommandHandler.cpp
  examples/lock-app/lock-common/gen/IMClusterCommandHandler.cpp
  examples/pump-app/pump-common/gen/IMClusterCommandHandler.cpp
  examples/pump-controller-app/pump-controller-common/gen/IMClusterCommandHandler.cpp
  examples/temperature-measurement-app/esp32/main/gen/IMClusterCommandHandler.cpp
  examples/tv-app/tv-common/gen/IMClusterCommandHandler.cpp
  examples/window-app/common/gen/IMClusterCommandHandler.cpp
  src/app/zap-templates/templates/app/im-cluster-command-handler.zapt
  src/controller/data_model/gen/IMClusterCommandHandler.cpp
Labels: app, controller, examples, review - pending

#8066 [Test] Rename tests from src/app/tests/suites to a less volatile name
  examples/chip-tool/commands/tests/Commands.h
  examples/chip-tool/templates/tests-commands.zapt
  src/app/tests/suites/Test_TC_DM_1_1.yaml
  src/app/tests/suites/Test_TC_OO_1_1.yaml
  src/app/tests/suites/Test_TC_OO_2_1.yaml
  src/app/tests/suites/Test_TC_OO_2_2.yaml
  src/darwin/Framework/CHIP/templates/clusters-tests.zapt
  src/darwin/Framework/CHIPTests/CHIPClustersTests.m
Labels: app, darwin, examples, review - pending

#8062 Remove asChipUnderlyingType helper
  examples/chip-tool/templates/commands.zapt
  src/app/common/gen/client-command-macro.h
  src/app/zap-templates/common/override.js
  src/app/zap-templates/partials/im_command_handler_cluster_commands.zapt
  src/app/zap-templates/templates/app/CHIPClientCallbacks-src.zapt
  src/app/zap-templates/templates/app/CHIPClientCallbacks.zapt
  src/app/zap-templates/templates/app/af-structs.zapt
  src/app/zap-templates/templates/app/callback.zapt
  src/app/zap-templates/templates/app/helper.js
  src/app/zap-templates/zcl/data-model/silabs/general.xml
  src/app/zap-templates/zcl/data-model/silabs/types.xml
  src/controller/java/templates/CHIPClusters-JNI.zapt
  src/darwin/Framework/CHIP/templates/CHIPClustersObjc-src.zapt
Labels: app, controller, darwin, examples, review - pending

#7975 Typo/Comments Cleanup for IM writeClient and writeHandler
  src/app/InteractionModelDelegate.h
  src/app/InteractionModelEngine.h
  src/app/WriteClient.cpp
  src/app/WriteClient.h
  src/app/WriteHandler.cpp
  src/app/WriteHandler.h
Labels: app, review - approved

#7953 support for electrical measurement cluster
  examples/all-clusters-app/all-clusters-common/all-clusters-app.zap
  examples/all-clusters-app/all-clusters-common/gen/callback-stub.cpp
  examples/all-clusters-app/all-clusters-common/gen/callback.h
  examples/all-clusters-app/all-clusters-common/gen/endpoint_config.h
  examples/all-clusters-app/all-clusters-common/gen/gen_config.h
  examples/all-clusters-app/esp32/main/CMakeLists.txt
  examples/chip-tool/commands/clusters/Commands.h
  src/app/clusters/electrical-measurement-server/electrical-measurement-server.cpp
  src/app/clusters/electrical-measurement-server/electrical-measurement-server.h
  src/app/zap_cluster_list.py
  src/controller/data_model/controller-clusters.zap
  src/controller/data_model/gen/CHIPClusters.cpp
  src/controller/data_model/gen/CHIPClusters.h
  src/controller/data_model/gen/callback-stub.cpp
  src/controller/data_model/gen/callback.h
  src/controller/data_model/gen/chip-zcl-zpro-codec-api.h
  src/controller/data_model/gen/encoder.cpp
  src/controller/data_model/gen/endpoint_config.h
  src/controller/data_model/gen/gen_config.h
  src/controller/java/gen/CHIPClusters-JNI.cpp
  src/controller/java/gen/ChipClusters.java
  src/controller/python/chip/clusters/CHIPClusters.cpp
  src/controller/python/chip/clusters/CHIPClusters.py
  src/darwin/Framework/CHIP/gen/CHIPClustersObjc.h
  src/darwin/Framework/CHIP/gen/CHIPClustersObjc.mm
  src/darwin/Framework/CHIPTests/CHIPClustersTests.m
Labels: app, config, controller, darwin, examples, github, review - pending, vscode, workflows

#8055 Introduced Separate Constant for Certificate Decode Buffer Length.
  src/credentials/CHIPCert.h
  src/credentials/tests/TestChipCert.cpp
  src/credentials/tests/TestChipOperationalCredentials.cpp
  src/protocols/secure_channel/CASESession.cpp
  src/protocols/secure_channel/tests/TestCASESession.cpp
  src/tools/chip-cert/Cmd_PrintCert.cpp
  src/tools/chip-cert/Cmd_ValidateCert.cpp
Labels: review - approved

#8114 nrfconnect: fix condition for setting ble name
  src/platform/Zephyr/BLEManagerImpl.cpp
Labels: platform, review - approved, zephyr

#8109 Remove PeerConnectionState::mTransport
  src/app/server/RendezvousServer.cpp
  src/app/server/Server.cpp
  src/controller/CHIPDevice.cpp
  src/controller/CHIPDeviceController.cpp
  src/protocols/secure_channel/CASEServer.cpp
  src/transport/PeerConnectionState.h
  src/transport/SecureSessionMgr.cpp
  src/transport/SecureSessionMgr.h
Labels: app, controller, review - approved, transport

#8059 Use {{chip_server_responses}} instead of multiple #ifs for iterating …
  examples/chip-tool/templates/commands.zapt
  src/app/zap-templates/common/ClustersHelper.js
  src/app/zap-templates/templates/app/CHIPClientCallbacks-src.zapt
  src/app/zap-templates/templates/app/CHIPClientCallbacks.zapt
  src/app/zap-templates/templates/chip/helper.js
  src/controller/java/templates/CHIPClusters-JNI.zapt
  src/controller/java/templates/ChipClusters-java.zapt
  src/darwin/Framework/CHIP/templates/CHIPClustersObjc-src.zapt
Labels: app, controller, darwin, examples, review - approved

#8095 Revert "Adding request-commissioning CHIPTool command"
  examples/chip-tool/BUILD.gn
  examples/chip-tool/commands/pairing/Commands.h
  examples/chip-tool/commands/pairing/RequestCommissioningCommand.cpp
  examples/chip-tool/commands/pairing/RequestCommissioningCommand.h
  src/app/server/Mdns.cpp
  src/controller/BUILD.gn
  src/controller/CHIPCommissionableNodeController.cpp
  src/controller/CHIPCommissionableNodeController.h
Labels: app, controller, examples, hotfix, review - pending

#8065 Move APP/gen/callback.h to src/app/common/gen/
  examples/all-clusters-app/all-clusters-common/gen/IMClusterCommandHandler.cpp
  examples/all-clusters-app/all-clusters-common/gen/callback-stub.cpp
  examples/all-clusters-app/all-clusters-common/gen/callback.h
  examples/bridge-app/bridge-common/gen/IMClusterCommandHandler.cpp
  examples/bridge-app/bridge-common/gen/callback-stub.cpp
  examples/bridge-app/bridge-common/gen/callback.h
  examples/lighting-app/lighting-common/gen/IMClusterCommandHandler.cpp
  examples/lighting-app/lighting-common/gen/callback-stub.cpp
  examples/lighting-app/lighting-common/gen/callback.h
  examples/lock-app/lock-common/gen/IMClusterCommandHandler.cpp
  examples/lock-app/lock-common/gen/callback-stub.cpp
  examples/lock-app/lock-common/gen/callback.h
  examples/pump-app/pump-common/gen/IMClusterCommandHandler.cpp
  examples/pump-app/pump-common/gen/callback-stub.cpp
  examples/pump-app/pump-common/gen/callback.h
  examples/pump-controller-app/pump-controller-common/gen/IMClusterCommandHandler.cpp
  examples/pump-controller-app/pump-controller-common/gen/callback-stub.cpp
  examples/pump-controller-app/pump-controller-common/gen/callback.h
  examples/temperature-measurement-app/esp32/main/gen/IMClusterCommandHandler.cpp
  examples/temperature-measurement-app/esp32/main/gen/callback-stub.cpp
  examples/temperature-measurement-app/esp32/main/gen/callback.h
  examples/tv-app/tv-common/gen/IMClusterCommandHandler.cpp
  examples/tv-app/tv-common/gen/callback-stub.cpp
  examples/tv-app/tv-common/gen/callback.h
  examples/window-app/common/gen/IMClusterCommandHandler.cpp
  examples/window-app/common/gen/callback-stub.cpp
  examples/window-app/common/gen/callback.h
  src/app/clusters/door-lock-server/door-lock-server-logging.cpp
  src/app/clusters/ias-zone-server/ias-zone-server.cpp
  src/app/clusters/network-commissioning/network-commissioning-ember.cpp
  src/app/clusters/ota-provider/ota-provider.cpp
  src/app/common/gen/callback.h
  src/app/common/templates/templates.json
  src/app/util/af-event.cpp
  src/app/util/af-main-common.cpp
  src/app/util/attribute-storage.cpp
  src/app/util/attribute-table.cpp
  src/app/util/process-global-message.cpp
  src/app/util/util.cpp
  src/app/zap-templates/app-templates.json
  src/app/zap-templates/templates/app/callback-stub-src.zapt
  src/app/zap-templates/templates/app/callback.zapt
  src/app/zap-templates/templates/app/im-cluster-command-handler.zapt
  src/controller/data_model/gen/IMClusterCommandHandler.cpp
  src/controller/data_model/gen/callback-stub.cpp
  src/controller/data_model/gen/callback.h
Labels: app, examples, review - approved

#7981 Added Command Line Tool to Generate Attestation Certificates
  src/tools/chip-cert/BUILD.gn
  src/tools/chip-cert/CertUtils.cpp
  src/tools/chip-cert/Cmd_GenAttCert.cpp
  src/tools/chip-cert/GeneralUtils.cpp
  src/tools/chip-cert/README.md
  src/tools/chip-cert/chip-cert.cpp
  src/tools/chip-cert/chip-cert.h
Labels: has conflicts, review - approved

#7913 Use gdbus for openthread
  src/platform/BUILD.gn
  src/platform/Linux/GlibTypeDeleter.h
  src/platform/Linux/ThreadStackManagerImpl.cpp
  src/platform/Linux/ThreadStackManagerImpl.h
  src/platform/Linux/dbus/openthread/BUILD.gn
  src/platform/Linux/dbus/openthread/introspect.xml
Labels: lib, linux, platform, review - approved

#8054 [hotfix] Fix regression / crash caused by #7873
  src/app/util/attribute-storage.cpp
  src/controller/python/chip/interaction_model/Delegate.h
  src/controller/python/chip/interaction_model/delegate.py
Labels: app, controller, review - approved

#7952 Implement TLV in CASE Sigma Protocol
  src/controller/java/AndroidDeviceControllerWrapper.cpp
  src/protocols/secure_channel/CASESession.cpp
  src/protocols/secure_channel/CASESession.h
Labels: controller, has conflicts, review - approved

#8068 Fix crash when receiving a message that wants an ack on a closed exchange that's still alive.
  src/messaging/ExchangeContext.cpp
  src/messaging/tests/TestReliableMessageProtocol.cpp
Labels: review - approved

#8127 Fix compile error, due to merge conflict
  src/messaging/tests/TestReliableMessageProtocol.cpp
Labels: hotfix, review - pending

#8108 Remove dead code: SecureSessionMgr::GetTransportType(NodeId peerNodeId)
  src/transport/SecureSessionMgr.cpp
  src/transport/SecureSessionMgr.h
Labels: review - approved, transport

#8135 Fix python compile.
  src/transport/SecureSessionMgr.cpp
Labels: Tested manually, hotfix, review - pending, transport

#8118 SRP publish not triggered on renewal of entry
  src/platform/OpenThread/GenericThreadStackManagerImpl_OpenThread.cpp
Labels: openthread, platform, review - approved

#7934 [TE4] Enable Lighting Devices types cluster and attributes
  examples/all-clusters-app/all-clusters-common/all-clusters-app.zap
  examples/all-clusters-app/all-clusters-common/gen/IMClusterCommandHandler.cpp
  examples/all-clusters-app/all-clusters-common/gen/endpoint_config.h
  examples/all-clusters-app/all-clusters-common/gen/gen_config.h
  examples/chip-tool/commands/clusters/Commands.h
  examples/chip-tool/commands/reporting/Commands.h
  examples/lighting-app/efr32/src/ZclCallbacks.cpp
  examples/lighting-app/lighting-common/gen/IMClusterCommandHandler.cpp
  examples/lighting-app/lighting-common/gen/af-gen-event.h
  examples/lighting-app/lighting-common/gen/callback-stub.cpp
  examples/lighting-app/lighting-common/gen/endpoint_config.h
  examples/lighting-app/lighting-common/gen/gen_config.h
  examples/lighting-app/lighting-common/lighting-app.zap
  examples/lighting-app/mbed/CMakeLists.txt
  examples/lighting-app/nrfconnect/CMakeLists.txt
  examples/lighting-app/telink/CMakeLists.txt
  src/app/clusters/color-control-server/color-control-server.cpp
  src/app/common/gen/callback.h
  src/app/common/gen/client-command-macro.h
  src/app/zap-templates/zcl/data-model/silabs/zll.xml
  src/controller/data_model/controller-clusters.zap
  src/controller/data_model/gen/CHIPClusters.cpp
  src/controller/data_model/gen/CHIPClusters.h
  src/controller/data_model/gen/callback-stub.cpp
  src/controller/data_model/gen/chip-zcl-zpro-codec-api.h
  src/controller/data_model/gen/encoder.cpp
  src/controller/data_model/gen/endpoint_config.h
  src/controller/data_model/gen/gen_config.h
  src/controller/java/gen/CHIPClusters-JNI.cpp
  src/controller/java/gen/ChipClusters.java
  src/controller/python/chip/clusters/CHIPClusters.cpp
  src/controller/python/chip/clusters/CHIPClusters.py
  src/darwin/Framework/CHIP/gen/CHIPClustersObjc.h
  src/darwin/Framework/CHIP/gen/CHIPClustersObjc.mm
  src/darwin/Framework/CHIPTests/CHIPClustersTests.m
Labels: TE4, TE4 cherrypick, Tested manually, app, controller, examples, has conflicts, review - approved, technical review - DONE

#8140 Update build timeouts from 15/20 minutes to 25/30 minutes.
  .github/workflows/build.yaml
  .github/workflows/cirque.yaml
  .github/workflows/darwin.yaml
  .github/workflows/examples-efr32.yaml
  .github/workflows/examples-esp32.yaml
  .github/workflows/examples-k32w.yaml
  .github/workflows/examples-nrfconnect.yaml
  .github/workflows/examples-qpg.yaml
  .github/workflows/qemu.yaml
  .github/workflows/release_artifacts.yaml
  .github/workflows/tests.yaml
Labels: github, review - approved, workflows

#8142 Fix mbedtls version in .gitmodules
  .gitmodules
Labels: review - approved

#8100 Make chip-echo-requester run on a single event loop
  src/messaging/tests/echo/echo_requester.cpp
Labels: review - approved

#7897 CSR support in crypto HSM
  src/crypto/hsm/CHIPCryptoPALHsm.h
  src/crypto/hsm/CHIPCryptoPALHsm_config.h
  src/crypto/hsm/nxp/CHIPCryptoPALHsm_SE05X_P256.cpp
  src/crypto/hsm/nxp/CHIPCryptoPALHsm_SE05X_Spake2p.cpp
  src/crypto/hsm/nxp/CHIPCryptoPALHsm_SE05X_utils.cpp
  src/crypto/hsm/nxp/README.md
  src/crypto/tests/CHIPCryptoPALTest.cpp
  src/protocols/secure_channel/CASESession.cpp
  src/protocols/secure_channel/CASESession.h
  src/transport/AdminPairingTable.cpp
  src/transport/AdminPairingTable.h
  third_party/simw-top-mini/BUILD.gn
Labels: config, crypto, examples, github, has conflicts, review - approved, transport, vscode, workflows

#8161 Don't wait for CASE connection if resolve fails in chip-device-ctrl
  src/controller/python/chip/ChipDeviceCtrl.py
Labels: Tested manually, controller, review - approved

#8112 Darwin BLE: fix length check in advertisement data
  src/platform/Darwin/BleConnectionDelegateImpl.mm
Labels: Tested manually, darwin, platform, review - approved

#8141 Remove unused or redundant helpers from src/app/zap-templates/templat…
  src/app/zap-templates/common/ChipTypesHelper.js
  src/app/zap-templates/templates/app/helper.js
  src/app/zap-templates/templates/app/im-cluster-command-handler.zapt
  src/darwin/Framework/CHIP/templates/CHIPClustersObjc-src.zapt
  src/darwin/Framework/CHIP/templates/CHIPClustersObjc.zapt
Labels: app, darwin, review - approved

#8131 [im] Add helper for mapping ember error code to im protocol code
  examples/lighting-app/mbed/CMakeLists.txt
  examples/lighting-app/nrfconnect/CMakeLists.txt
  examples/lighting-app/telink/CMakeLists.txt
  examples/lock-app/mbed/CMakeLists.txt
  examples/lock-app/nrfconnect/CMakeLists.txt
  examples/pump-app/pump-common/gen/CHIPClientCallbacks.cpp
  examples/pump-controller-app/pump-controller-common/gen/CHIPClientCallbacks.cpp
  src/app/chip_data_model.gni
  src/app/util/ember-compatibility-functions.cpp
  src/app/util/error-mapping.cpp
  src/app/util/error-mapping.h
  src/app/zap-templates/templates/app/CHIPClientCallbacks-src.zapt
  src/controller/data_model/gen/CHIPClientCallbacks.cpp
  src/darwin/Framework/CHIP.xcodeproj/project.pbxproj
  src/protocols/interaction_model/Constants.h
Labels: app, controller, darwin, examples, review - approved

#8134 Log string attribute value into CHIPClientCallbacks.cpp
  examples/pump-app/pump-common/gen/CHIPClientCallbacks.cpp
  examples/pump-controller-app/pump-controller-common/gen/CHIPClientCallbacks.cpp
  src/app/util/ember-compatibility-functions.cpp
  src/app/zap-templates/templates/app/CHIPClientCallbacks-src.zapt
  src/controller/data_model/gen/CHIPClientCallbacks.cpp
Labels: TE4, TE4 cherrypick, Tested manually, app, controller, examples, review - approved

#8120 [TV App] Enable missing attributes
  examples/all-clusters-app/all-clusters-common/all-clusters-app.zap
  examples/all-clusters-app/all-clusters-common/gen/endpoint_config.h
  examples/chip-tool/commands/clusters/Commands.h
  examples/chip-tool/commands/tests/Commands.h
  examples/tv-app/tv-common/gen/endpoint_config.h
  examples/tv-app/tv-common/tv-app.zap
  src/app/tests/suites/TV_ApplicationLauncherCluster.yaml
  src/app/tests/suites/TV_MediaInputCluster.yaml
  src/controller/data_model/controller-clusters.zap
  src/controller/data_model/gen/CHIPClusters.cpp
  src/controller/data_model/gen/CHIPClusters.h
  src/controller/data_model/gen/chip-zcl-zpro-codec-api.h
  src/controller/data_model/gen/encoder.cpp
  src/controller/python/chip/clusters/CHIPClusters.cpp
  src/controller/python/chip/clusters/CHIPClusters.py
  src/darwin/Framework/CHIP/gen/CHIPClustersObjc.h
  src/darwin/Framework/CHIP/gen/CHIPClustersObjc.mm
  src/darwin/Framework/CHIPTests/CHIPClustersTests.m
Labels: app, controller, darwin, examples, review - approved

#8122 Mbed: Add 'cortex-debug' vscode extension to devcontainer.json
  .devcontainer/devcontainer.json
Labels: Tested manually, review - approved, vscode

#8119 Clean up temporary error code macros added in PR#7916
  examples/all-clusters-app/esp32/main/DeviceCallbacks.cpp
  examples/chip-tool/commands/common/Command.cpp
  src/ble/BleError.h
  src/inet/IPEndPointBasis.cpp
  src/inet/InetError.h
  src/lib/asn1/ASN1Error.h
  src/messaging/tests/TestReliableMessageProtocol.cpp
  src/platform/mbed/BLEManagerImpl.cpp
  src/platform/mbed/SystemTimeSupport.cpp
  src/system/SystemError.h
  src/system/SystemMutex.h
Labels: ble, examples, inet, lib, platform, review - approved, system

#8144 Add CHIP_Crypto_HMAC implementation
  src/crypto/BUILD.gn
  src/crypto/CHIPCryptoPAL.h
  src/crypto/CHIPCryptoPALOpenSSL.cpp
  src/crypto/CHIPCryptoPALmbedTLS.cpp
  src/crypto/hsm/CHIPCryptoPALHsm.h
  src/crypto/hsm/CHIPCryptoPALHsm_config.h
  src/crypto/hsm/nxp/CHIPCryptoPALHsm_SE05X_HMAC.cpp
  src/crypto/hsm/nxp/CHIPCryptoPALHsm_SE05X_utils.h
  src/crypto/tests/BUILD.gn
  src/crypto/tests/CHIPCryptoPALTest.cpp
  src/crypto/tests/HMAC_SHA256_test_vectors.h
Labels: Has Automated Tests, crypto, review - approved, spec

#8182 Minor clean-ups in src/crypto
  src/crypto/CHIPCryptoPAL.h
  src/crypto/CHIPCryptoPALOpenSSL.cpp
  src/crypto/CHIPCryptoPALmbedTLS.cpp
  src/crypto/hsm/CHIPCryptoPALHsm.h
  src/crypto/hsm/CHIPCryptoPALHsm_config.h
  src/crypto/hsm/nxp/CHIPCryptoPALHsm_SE05X_utils.h
  src/crypto/tests/AES_CCM_256_test_vectors.h
  src/crypto/tests/ECDH_P256_test_vectors.h
  src/crypto/tests/HKDF_SHA256_test_vectors.h
  src/crypto/tests/HMAC_SHA256_test_vectors.h
  src/crypto/tests/Hash_SHA256_test_vectors.h
  src/crypto/tests/SPAKE2P_FE_MUL_test_vectors.h
  src/crypto/tests/SPAKE2P_FE_RW_test_vectors.h
  src/crypto/tests/SPAKE2P_HMAC_test_vectors.h
  src/crypto/tests/SPAKE2P_POINT_MUL_ADD_test_vectors.h
  src/crypto/tests/SPAKE2P_POINT_MUL_test_vectors.h
  src/crypto/tests/SPAKE2P_POINT_RW_test_vectors.h
  src/crypto/tests/SPAKE2P_POINT_VALID_test_vectors.h
  src/crypto/tests/SPAKE2P_RFC_test_vectors.h
  src/crypto/tests/X509_PKCS7Extraction_test_vectors.h
Labels: crypto, review - approved

#8189 Fix bloat check workflow concurrency
  .github/workflows/bloat_check.yaml
Labels: github, review - approved, workflows

#8125 [util] Introduce `to_underlying` for casting enum classes to underlying values.
  examples/pump-app/pump-common/gen/CHIPClientCallbacks.cpp
  examples/pump-controller-app/pump-controller-common/gen/CHIPClientCallbacks.cpp
  src/app/CommandHandler.cpp
  src/app/WriteHandler.cpp
  src/app/tests/integration/chip_im_initiator.cpp
  src/app/util/ember-compatibility-functions.cpp
  src/app/zap-templates/templates/app/CHIPClientCallbacks-src.zapt
  src/controller/data_model/gen/CHIPClientCallbacks.cpp
  src/lib/support/TypeTraits.h
  src/protocols/interaction_model/Constants.h
Labels: app, controller, examples, lib, review - approved

#8168 [ChipTool] Add pairing qrcode/manualcode option
  examples/chip-tool/commands/pairing/Commands.h
  examples/chip-tool/commands/pairing/PairingCommand.cpp
  examples/chip-tool/commands/pairing/PairingCommand.h
Labels: TE4 cherrypick, examples, review - approved

#8181 Improve PlatformManager documentation.
  src/include/platform/PlatformManager.h
Labels: review - approved

#8156 [nrfconnect] Minor shell improvements
  src/lib/shell/BUILD.gn
  src/lib/shell/MainLoopZephyr.cpp
  src/lib/shell/commands/Config.cpp
  src/lib/shell/streamer_zephyr.cpp
  src/lib/shell/streamer_zephyr.h
Labels: config, github, lib, review - approved, workflows

#8073 Add test for sending a command to an unsupported endpoint
  examples/chip-tool/commands/tests/Commands.h
  scripts/tests/test_suites.sh
  src/app/tests/suites/TestCluster.yaml
  src/darwin/Framework/CHIPTests/CHIPClustersTests.m
Labels: app, darwin, examples, review - approved, scripts

#7183 Zap add accessors helpers for attributes
  src/app/common/gen/attributes/Accessors.cpp
  src/app/common/gen/attributes/Accessors.h
  src/app/common/gen/callback.h
  src/app/common/gen/client-command-macro.h
  src/app/common/templates/templates.json
  src/app/zap-templates/common/StructHelper.js
  src/app/zap-templates/common/attributes/Accessors.js
  src/app/zap-templates/common/override.js
  src/app/zap-templates/templates/app/attributes/Accessors-src.zapt
  src/app/zap-templates/templates/app/attributes/Accessors.zapt
  src/app/zap-templates/templates/app/ids/Attributes.zapt
  src/app/zap-templates/zcl/data-model/chip/diagnostic-logs-cluster.xml
  src/app/zap-templates/zcl/data-model/silabs/ami.xml
  src/app/zap-templates/zcl/data-model/silabs/general.xml
  src/app/zap-templates/zcl/data-model/silabs/ha.xml
Labels: TE4 cherrypick, app, examples, has conflicts, review - approved

#8215 Fix more style and comments in src/crypto
  src/crypto/CHIPCryptoPAL.h
  src/crypto/CHIPCryptoPALOpenSSL.cpp
  src/crypto/CHIPCryptoPALmbedTLS.cpp
  src/crypto/hsm/CHIPCryptoPALHsm.h
Labels: crypto, review - approved

#8172 Add ObjC Thread Operational Dataset
  src/darwin/Framework/CHIP.xcodeproj/project.pbxproj
  src/darwin/Framework/CHIP/CHIP.h
  src/darwin/Framework/CHIP/CHIPThreadOperationalDataset.h
  src/darwin/Framework/CHIP/CHIPThreadOperationalDataset.mm
  src/darwin/Framework/CHIPTests/CHIPThreadOperationalDatasetTests.mm
Labels: Has Automated Tests, darwin, review - approved

#8213 Zap use chip::ErrorStr into the BasicFilter template of CHIPClientCallbacks.h
  examples/pump-app/pump-common/gen/CHIPClientCallbacks.h
  examples/pump-controller-app/pump-controller-common/gen/CHIPClientCallbacks.h
  src/app/zap-templates/templates/app/CHIPClientCallbacks.zapt
  src/controller/data_model/gen/CHIPClientCallbacks.h
Labels: TE4 cherrypick, app, controller, examples, review - approved

#8171 Add CI for disabling detail logging.
  .github/workflows/build.yaml
Labels: github, review - approved, workflows

#8166 [workflows] Use shallow git clone in workflows
  .github/workflows/examples-efr32.yaml
  .github/workflows/examples-esp32.yaml
  .github/workflows/examples-k32w.yaml
  .github/workflows/examples-linux-standalone.yaml
  .github/workflows/examples-mbed.yaml
  .github/workflows/examples-nrfconnect.yaml
  .github/workflows/examples-qpg.yaml
Labels: config, github, review - approved, workflows

#8217 Using P256 key from HSM for CASE
  src/credentials/CHIPOperationalCredentials.h
  src/protocols/secure_channel/CASESession.h
Labels: review - approved

#8225 Fix log and add slight clarification
  src/darwin/Framework/CHIP/CHIPThreadOperationalDataset.h
  src/darwin/Framework/CHIP/CHIPThreadOperationalDataset.mm
Labels: darwin, review - approved

#8226 Fix PacketBuffer allocation size when using LwIP
  src/system/SystemPacketBuffer.cpp
  src/system/tests/TestSystemPacketBuffer.cpp
Labels: review - approved, system

#8192 Optimize BitMapObjectPool::ForEachActiveObject for code size
  src/lib/support/Pool.cpp
  src/lib/support/Pool.h
Labels: lib, review - approved

#8032 WindowCovering: Add Target Positions support to scenes
  src/app/clusters/scenes/scenes.cpp
  src/app/util/af-types.h
Labels: app, review - approved

#8129 [ESP]fix compilation errors for lock-app(Enable PW RPC) and ipv6only-app with IDF v4.3
  examples/ipv6only-app/esp32/CMakeLists.txt
  examples/ipv6only-app/esp32/include/gdm_wifi_service.h
  examples/ipv6only-app/esp32/main/gdm_wifi_service.cpp
  examples/lock-app/esp32/CMakeLists.txt
  examples/lock-app/esp32/main/CMakeLists.txt
  examples/lock-app/esp32/main/Kconfig.projbuild
Labels: Tested manually, examples, github, review - approved, workflows

#8216 Increasing CHIP_TASK_STACK_SIZE from 4096 -> 5120
  src/platform/cc13x2_26x2/CHIPDevicePlatformConfig.h
Labels: Tested manually, platform, review - approved

#8231 Address review comments from PR 8073
  examples/chip-tool/commands/tests/Commands.h
  examples/chip-tool/templates/partials/test_cluster.zapt
Labels: examples, review - approved

#8169 Add write roundtrip test
  scripts/tests/esp32_qemu_tests.sh
  src/app/InteractionModelEngine.cpp
  src/app/WriteHandler.h
  src/app/tests/BUILD.gn
  src/app/tests/TestWriteInteraction.cpp
Labels: Has Automated Tests, app, review - approved, scripts

#8239 Add ci for disabled progress logging
  .github/workflows/build.yaml
  examples/all-clusters-app/all-clusters-common/gen/IMClusterCommandHandler.cpp
  examples/bridge-app/bridge-common/gen/IMClusterCommandHandler.cpp
  examples/bridge-app/linux/main.cpp
  examples/lighting-app/lighting-common/gen/IMClusterCommandHandler.cpp
  examples/lock-app/lock-common/gen/IMClusterCommandHandler.cpp
  examples/pump-app/pump-common/gen/CHIPClientCallbacks.cpp
  examples/pump-app/pump-common/gen/IMClusterCommandHandler.cpp
  examples/pump-controller-app/pump-controller-common/gen/CHIPClientCallbacks.cpp
  examples/pump-controller-app/pump-controller-common/gen/IMClusterCommandHandler.cpp
  examples/temperature-measurement-app/esp32/main/gen/IMClusterCommandHandler.cpp
  examples/tv-app/tv-common/gen/IMClusterCommandHandler.cpp
  examples/window-app/common/gen/IMClusterCommandHandler.cpp
  src/app/zap-templates/templates/app/CHIPClientCallbacks-src.zapt
  src/app/zap-templates/templates/app/im-cluster-command-handler.zapt
  src/controller/data_model/gen/CHIPClientCallbacks.cpp
  src/controller/data_model/gen/IMClusterCommandHandler.cpp
  src/lib/support/PrivateHeap.cpp
Labels: app, controller, examples, github, lib, review - approved, workflows

#7996 pressurement cluster again
  src/app/zap-templates/zcl/data-model/chip/pressure-measurement-cluster.xml
  src/app/zap-templates/zcl/data-model/silabs/ha.xml
  src/app/zap-templates/zcl/zcl.json
Labels: app, controller, examples, has conflicts, review - approved

#8251 Updated OpCerts Top-Level tag to Anonymous
  src/credentials/CHIPCert.cpp
  src/credentials/CHIPCert.h
  src/credentials/CHIPCertFromX509.cpp
  src/credentials/CHIPCertToX509.cpp
  src/credentials/tests/CHIPCert_test_vectors.cpp
  src/tools/chip-cert/CertUtils.cpp
Labels: review - approved

#8242 [nrfconnect] Update nRF Connect version
  config/nrfconnect/.nrfconnect-recommended-revision
  config/nrfconnect/chip-module/CMakeLists.txt
  integrations/docker/images/chip-build-nrf-platform/Dockerfile
  integrations/docker/images/chip-build/version
  src/platform/OpenThread/OpenThreadUtils.cpp
Labels: config, integrations, openthread, platform, review - approved

#8077 add a custom toolchain for customized use
  build/toolchain/custom/BUILD.gn
Labels: review - approved

#8194 Add IM subscribe request/response builder and parser
  src/app/BUILD.gn
  src/app/MessageDef/SubscribeRequest.cpp
  src/app/MessageDef/SubscribeRequest.h
  src/app/MessageDef/SubscribeResponse.cpp
  src/app/MessageDef/SubscribeResponse.h
  src/app/tests/TestMessageDef.cpp
  src/lib/support/CodeUtils.h
Labels: Has Automated Tests, app, lib, review - approved

#8178 [Android] Expose discovery capabilities in SetupPayload
  src/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/CHIPToolActivity.kt
  src/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/setuppayloadscanner/BarcodeFragment.kt
  src/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/setuppayloadscanner/CHIPDeviceDetailsFragment.kt
  src/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/setuppayloadscanner/CHIPDeviceInfo.kt
  src/android/CHIPTool/app/src/main/res/layout/chip_device_info_fragment.xml
  src/android/CHIPTool/app/src/main/res/values/strings.xml
  src/setup_payload/java/BUILD.gn
  src/setup_payload/java/SetupPayloadParser-JNI.cpp
  src/setup_payload/java/src/chip/setuppayload/DiscoveryCapability.java
  src/setup_payload/java/src/chip/setuppayload/SetupPayload.java
Labels: android, review - approved, setup payload

#8201 [ESP32]Add ColorControl for ESP32C3-DevKitM
  examples/all-clusters-app/esp32/CMakeLists.txt
  examples/all-clusters-app/esp32/README.md
  examples/all-clusters-app/esp32/main/CMakeLists.txt
  examples/all-clusters-app/esp32/main/DeviceCallbacks.cpp
  examples/all-clusters-app/esp32/main/Kconfig.projbuild
  examples/all-clusters-app/esp32/main/LEDWidget.cpp
  examples/all-clusters-app/esp32/main/include/DeviceCallbacks.h
  examples/all-clusters-app/esp32/main/include/LEDWidget.h
  examples/all-clusters-app/esp32/main/main.cpp
Labels: examples, review - approved

#8249 Window Covering cluster: ZAP configuration updated.
  examples/window-app/common/gen/endpoint_config.h
  examples/window-app/common/window-app.zap
  src/controller/data_model/controller-clusters.zap
Labels: controller, examples, review - approved

#8050 Make exchanges handle closing on message receipt more automatically.
  examples/shell/shell_common/cmd_send.cpp
  src/app/CommandHandler.cpp
  src/app/CommandSender.cpp
  src/app/InteractionModelEngine.cpp
  src/app/ReadClient.cpp
  src/app/ReadHandler.cpp
  src/app/WriteClient.cpp
  src/app/WriteHandler.cpp
  src/app/server/Server.cpp
  src/controller/CHIPDevice.cpp
  src/controller/CHIPDeviceController.cpp
  src/messaging/ExchangeContext.cpp
  src/messaging/ExchangeContext.h
  src/messaging/ExchangeDelegate.h
  src/messaging/ExchangeMgr.cpp
  src/messaging/ReliableMessageContext.h
  src/messaging/tests/TestExchangeMgr.cpp
  src/messaging/tests/TestReliableMessageProtocol.cpp
  src/protocols/echo/EchoClient.cpp
  src/protocols/secure_channel/CASESession.cpp
  src/protocols/secure_channel/MessageCounterManager.cpp
  src/protocols/secure_channel/PASESession.cpp
  src/protocols/secure_channel/tests/TestMessageCounterManager.cpp
  src/protocols/secure_channel/tests/TestPASESession.cpp
Labels: app, controller, examples, review - approved

#8255 Conduct platform shutdown after RunEventLoop returns
  src/messaging/tests/echo/common.cpp
  src/messaging/tests/echo/echo_requester.cpp
Labels: review - approved

#8245 chip-tool: do not hardcode Thread network id
  examples/chip-tool/commands/pairing/PairingCommand.cpp
  examples/chip-tool/commands/pairing/PairingCommand.h
Labels: TE4 cherrypick, Tested manually, examples, review - approved

#7959 Add common 3rd party warnings config target
  build/config/compiler/BUILD.gn
  build_overrides/lwip.gni
  examples/build_overrides/lwip.gni
  third_party/lwip/lwip.gni
Labels: examples, review - approved

#8174 Move IM standalone test run on a single event loop
  src/app/tests/integration/chip_im_initiator.cpp
  src/app/tests/integration/common.cpp
Labels: app, review - approved

#8280 Fix merge conflict between PR #7996 and PR #7183 that causes ZAP CI to fail
  src/app/common/gen/attributes/Accessors.cpp
  src/app/common/gen/attributes/Accessors.h
Labels: app, hotfix, review - pending

#8283 Fix Build on Linux (no_progress_logging) (pull_request)
  src/app/MessageDef/SubscribeRequest.cpp
Labels: app, hotfix, review - pending

#8259 Additional PacketBuffer size fixes.
  src/system/SystemPacketBuffer.cpp
  src/system/SystemPacketBuffer.h
  src/system/tests/TestSystemPacketBuffer.cpp
Labels: review - approved, system

#8281 Add some better memory safety in discovery controller code.
  src/controller/AbstractMdnsDiscoveryController.cpp
  src/controller/AbstractMdnsDiscoveryController.h
  src/controller/CHIPCommissionableNodeController.h
  src/controller/CHIPDeviceController.h
  src/lib/support/Span.h
  src/lib/support/tests/TestSpan.cpp
Labels: controller, lib, review - approved

#8279 Check that basic roundtrip write correctly sends all necessary acks.
  src/app/tests/TestWriteInteraction.cpp
Labels: app, review - approved

#8285 Rename seconds to Ms for IM subscribe
  src/app/MessageDef/SubscribeRequest.cpp
  src/app/MessageDef/SubscribeRequest.h
  src/app/MessageDef/SubscribeResponse.cpp
  src/app/MessageDef/SubscribeResponse.h
  src/app/tests/TestMessageDef.cpp
Labels: app, review - approved

#8266 Revise System Layer clock code
  examples/lighting-app/efr32/src/AppTask.cpp
  examples/lighting-app/mbed/main/AppTask.cpp
  examples/lighting-app/nrfconnect/main/AppTask.cpp
  examples/lock-app/efr32/src/AppTask.cpp
  examples/lock-app/esp32/main/AppTask.cpp
  examples/lock-app/esp32/main/LEDWidget.cpp
  examples/lock-app/nrfconnect/main/AppTask.cpp
  examples/platform/efr32/LEDWidget.cpp
  examples/platform/k32w/util/LEDWidget.cpp
  examples/platform/mbed/util/LEDWidget.cpp
  examples/pump-app/nrfconnect/main/AppTask.cpp
  examples/pump-controller-app/nrfconnect/main/AppTask.cpp
  examples/shell/shell_common/cmd_ping.cpp
  examples/shell/shell_common/cmd_send.cpp
  examples/window-app/efr32/src/AppTask.cpp
  src/app/EventManagement.cpp
  src/app/clusters/ias-zone-server/ias-zone-server.cpp
  src/app/reporting/reporting.cpp
  src/app/tests/integration/chip_im_initiator.cpp
  src/controller/CHIPDeviceController.cpp
  src/include/platform/internal/GenericPlatformManagerImpl.cpp
  src/inet/tests/TestInetLayerDNS.cpp
  src/lib/mdns/minimal/ResponseSender.cpp
  src/lib/support/TimeUtils.cpp
  src/lib/support/TimeUtils.h
  src/lib/support/tests/TestTimeUtils.cpp
  src/messaging/ReliableMessageContext.cpp
  src/messaging/ReliableMessageMgr.cpp
  src/messaging/ReliableMessageMgr.h
  src/messaging/tests/echo/echo_requester.cpp
  src/platform/ESP32/ConnectivityManagerImpl.cpp
  src/platform/ESP32/SystemTimeSupport.cpp
  src/platform/ESP32/bluedroid/BLEManagerImpl.cpp
  src/platform/ESP32/nimble/BLEManagerImpl.cpp
  src/platform/FreeRTOS/SystemTimeSupport.cpp
  src/platform/Linux/ConnectivityManagerImpl.cpp
  src/platform/Linux/SystemTimeSupport.cpp
  src/platform/SystemEventSupport.cpp
  src/platform/Zephyr/SystemTimeSupport.cpp
  src/platform/mbed/SystemTimeSupport.cpp
  src/platform/tests/TestPlatformTime.cpp
  src/system/SystemClock.cpp
  src/system/SystemClock.h
  src/system/SystemConfig.h
  src/system/SystemLayer.cpp
  src/system/SystemLayer.h
  src/system/SystemTimer.cpp
  src/system/SystemTimer.h
  src/system/TimeSource.h
  src/transport/SecureSessionMgr.cpp
  src/transport/raw/tests/NetworkTestHelpers.cpp
Labels: app, controller, esp32, examples, inet, lib, platform, review - approved

#8287 Added buffer overflow check to ASN1Writer method.
  src/credentials/GenerateChipX509Cert.cpp
  src/lib/asn1/ASN1Writer.cpp
Labels: lib, review - approved

#8143 Update Darwin framework API to get connected device
  src/darwin/CHIPTool/CHIPTool/Framework Helpers/DefaultsUtils.m
  src/darwin/Framework/CHIP/CHIPDeviceController.h
  src/darwin/Framework/CHIP/CHIPDeviceController.mm
  src/darwin/Framework/CHIPTests/CHIPControllerTests.m
Labels: darwin, review - approved

#8241 [fix] emberAfCopyString should accept size_t size[TE4]
  src/app/util/af.h
  src/app/util/attribute-storage.cpp
  src/app/util/util.cpp
Labels: TE4 cherrypick, app, review - approved

#8307 Building chip-cert tool in the same location with other tools
  BUILD.gn
  src/tools/chip-cert/BUILD.gn
Labels: review - approved

#8132 Add support for accessory DNS browse and resolve on Thread devices.
  config/nrfconnect/app/sample-defaults.conf
  config/zephyr/Kconfig
  docs/guides/nrfconnect_examples_cli.md
  src/include/platform/CHIPDeviceConfig.h
  src/include/platform/ThreadStackManager.h
  src/lib/mdns/Discovery_ImplPlatform.cpp
  src/lib/shell/Commands.h
  src/lib/shell/Engine.cpp
  src/lib/shell/commands/BUILD.gn
  src/lib/shell/commands/Dns.cpp
  src/platform/OpenThread/GenericThreadStackManagerImpl_OpenThread.cpp
  src/platform/OpenThread/GenericThreadStackManagerImpl_OpenThread.h
  src/platform/OpenThread/MdnsImpl.cpp
  src/platform/nrfconnect/CHIPDevicePlatformConfig.h
Labels: TE5, config, documentation, lib, nrf connect, openthread, platform, review - approved

#8315 Turn off the non-tsan "tests" jobs.
  .github/workflows/tests.yaml
Labels: github, review - approved, workflows

#8290 Feature/hsm safe exit
  src/crypto/hsm/nxp/CHIPCryptoPALHsm_SE05X_HKDF.cpp
  src/crypto/hsm/nxp/CHIPCryptoPALHsm_SE05X_HMAC.cpp
  src/crypto/hsm/nxp/CHIPCryptoPALHsm_SE05X_P256.cpp
  src/crypto/hsm/nxp/CHIPCryptoPALHsm_SE05X_PBKDF.cpp
Labels: crypto, review - approved

#8282 Avoid unnecessary rebuild steps of docker build
  src/controller/python/test/Dockerfile
Labels: controller, review - approved

#8260 Fix clear-config in build-all-clusters-app.py
  scripts/examples/build-all-clusters-app.py
Labels: review - approved, scripts

#8278 Use to_underlying instead of manually writing it out or static asserts.
  examples/chip-tool/commands/payload/SetupPayloadParseCommand.cpp
  src/app/util/message.cpp
  src/controller/CHIPDevice.cpp
  src/controller/CHIPDevice.h
  src/lib/core/CHIPTLV.h
  src/messaging/ExchangeContext.h
  src/messaging/ExchangeMgr.h
  src/protocols/bdx/BdxTransferSession.cpp
  src/protocols/secure_channel/CASESession.cpp
  src/protocols/secure_channel/PASESession.cpp
  src/protocols/secure_channel/StatusReport.cpp
  src/transport/raw/MessageHeader.cpp
  src/transport/raw/MessageHeader.h
Labels: app, controller, examples, lib, review - approved, transport

#8323 ESP32: Minor fix in lock-app RPC lock status
  examples/lock-app/esp32/main/Rpc.cpp
Labels: examples, review - approved

#8318 [cirque] Fix cirque test output for reading attributes
  src/test_driver/linux-cirque/test-mobile-device.py
Labels: review - approved

#8310 Revert "Rename seconds to Ms for IM subscribe"
  src/app/MessageDef/SubscribeRequest.cpp
  src/app/MessageDef/SubscribeRequest.h
  src/app/MessageDef/SubscribeResponse.cpp
  src/app/MessageDef/SubscribeResponse.h
  src/app/tests/TestMessageDef.cpp
Labels: app, review - approved

#8296 Make TestWriteHandler test something closer to the actual write flow.
  src/app/WriteHandler.h
  src/app/tests/TestWriteInteraction.cpp
Labels: app, review - approved

#8250 ESP32: Remove unused components from examples
  examples/lock-app/esp32/CMakeLists.txt
  examples/lock-app/esp32/main/CMakeLists.txt
  examples/temperature-measurement-app/esp32/CMakeLists.txt
  examples/temperature-measurement-app/esp32/main/CMakeLists.txt
Labels: examples, review - approved

#8117 Add {{chip_server_global_response}} helper
  examples/chip-tool/templates/commands.zapt
  examples/chip-tool/templates/reporting-commands.zapt
  src/app/zap-templates/common/ClustersHelper.js
  src/app/zap-templates/templates/app/CHIPClusters-src.zapt
  src/app/zap-templates/templates/app/CHIPClusters.zapt
  src/app/zap-templates/templates/app/attribute-size-src.zapt
  src/app/zap-templates/templates/app/chip-zcl-zpro-codec-api.zapt
  src/app/zap-templates/templates/app/encoder-src.zapt
  src/app/zap-templates/templates/app/helper.js
  src/app/zap-templates/templates/chip/helper.js
  src/controller/python/templates/python-CHIPClusters-cpp.zapt
  src/controller/python/templates/python-CHIPClusters-py.zapt
  src/darwin/Framework/CHIP/templates/CHIPClustersObjc-src.zapt
  src/darwin/Framework/CHIP/templates/CHIPClustersObjc.zapt
  src/darwin/Framework/CHIP/templates/clusters-tests.zapt
Labels: app, controller, darwin, examples, review - approved

#8167 Test add char string long char string
  examples/all-clusters-app/all-clusters-common/all-clusters-app.zap
  examples/all-clusters-app/all-clusters-common/gen/endpoint_config.h
  examples/chip-tool/commands/clusters/Commands.h
  examples/chip-tool/commands/tests/Commands.h
  src/app/common/gen/attribute-id.h
  src/app/common/gen/ids/Attributes.h
  src/app/tests/suites/TestCluster.yaml
  src/app/zap-templates/zcl/data-model/chip/test-cluster.xml
  src/controller/data_model/controller-clusters.zap
  src/controller/data_model/gen/CHIPClusters.cpp
  src/controller/data_model/gen/CHIPClusters.h
  src/controller/data_model/gen/chip-zcl-zpro-codec-api.h
  src/controller/data_model/gen/encoder.cpp
  src/controller/python/chip/clusters/CHIPClusters.cpp
  src/controller/python/chip/clusters/CHIPClusters.py
  src/darwin/Framework/CHIP/gen/CHIPClustersObjc.h
  src/darwin/Framework/CHIP/gen/CHIPClustersObjc.mm
  src/darwin/Framework/CHIPTests/CHIPClustersTests.m
Labels: app, controller, darwin, examples, review - approved

#8305 Refactor the exchange auto-close code into a separate method.
  src/messaging/ExchangeContext.cpp
  src/messaging/ExchangeContext.h
Labels: review - approved

#8221 Unified build script for chip - out of source build for all applications/targets/boards
  scripts/build/README.md
  scripts/build/build/__init__.py
  scripts/build/build/factory.py
  scripts/build/build/targets.py
  scripts/build/build_examples.py
  scripts/build/builders/__init__.py
  scripts/build/builders/builder.py
  scripts/build/builders/efr32.py
  scripts/build/builders/esp32.py
  scripts/build/builders/linux.py
  scripts/build/builders/qpg.py
  scripts/build/shellrunner.py
  scripts/requirements.txt
Labels: review - approved, scripts

#8336 Re-enable cirque workflow
  .github/workflows/cirque.yaml
Labels: github, review - approved, workflows

#8272 Remove error erasures
  src/app/server/Server.cpp
  src/ble/BLEEndPoint.cpp
  src/ble/BtpEngine.cpp
  src/controller/CHIPDevice.cpp
  src/controller/CHIPDeviceController.cpp
  src/credentials/CHIPCertFromX509.cpp
  src/crypto/CHIPCryptoPAL.cpp
  src/crypto/CHIPCryptoPALOpenSSL.cpp
  src/crypto/hsm/nxp/CHIPCryptoPALHsm_SE05X_Spake2p.cpp
  src/platform/mbed/BLEManagerImpl.cpp
Labels: app, ble, controller, crypto, platform, review - approved

#8294 Allow passing FixedSpan to TLVWriter::Put.
  src/lib/core/CHIPTLV.h
  src/lib/support/Span.h
  src/lib/support/tests/TestSpan.cpp
Labels: Has Automated Tests, lib, review - approved

#8252 [dns-sd] Add support for service subtypes on Thread devices
  src/include/platform/ThreadStackManager.h
  src/lib/mdns/Advertiser.h
  src/lib/mdns/Discovery_ImplPlatform.cpp
  src/lib/support/Span.h
  src/platform/OpenThread/GenericThreadStackManagerImpl_OpenThread.cpp
  src/platform/OpenThread/GenericThreadStackManagerImpl_OpenThread.h
  src/platform/OpenThread/MdnsImpl.cpp
Labels: config, integrations, lib, openthread, platform, review - approved

#8365 Fixed CHIP shell NFC commands compilation failure
  src/lib/shell/commands/NFC.cpp
Labels: lib, review - approved

#8373 [ChipTool] Update ReportingCommand.cpp to use the async GetConnectedD…
  examples/chip-tool/commands/reporting/ReportingCommand.cpp
  examples/chip-tool/commands/reporting/ReportingCommand.h
Labels: examples, review - approved

#8327 [TV app] Enable Tests
  .github/workflows/tests.yaml
Labels: github, review - approved, workflows

#8330 Extract OnOff cluster definition from general.xml and zll.xml
  examples/all-clusters-app/all-clusters-common/all-clusters-app.zap
  examples/all-clusters-app/all-clusters-common/gen/endpoint_config.h
  examples/bridge-app/bridge-common/gen/endpoint_config.h
  examples/chip-tool/commands/clusters/Commands.h
  examples/chip-tool/commands/tests/Commands.h
  examples/lighting-app/lighting-common/gen/endpoint_config.h
  examples/lock-app/lock-common/gen/endpoint_config.h
  examples/pump-app/pump-common/gen/endpoint_config.h
  examples/pump-controller-app/pump-controller-common/gen/chip-zcl-zpro-codec-api.h
  examples/tv-app/tv-common/gen/endpoint_config.h
  src/app/common/gen/callback.h
  src/app/common/gen/client-command-macro.h
  src/app/tests/suites/Test_TC_OO_1_1.yaml
  src/app/tests/suites/Test_TC_OO_2_1.yaml
  src/app/tests/suites/Test_TC_OO_2_2.yaml
  src/app/zap-templates/zcl/data-model/chip/onoff-cluster.xml
  src/app/zap-templates/zcl/data-model/silabs/general.xml
  src/app/zap-templates/zcl/data-model/silabs/zll.xml
  src/app/zap-templates/zcl/zcl.json
  src/controller/data_model/controller-clusters.zap
  src/controller/data_model/gen/CHIPClusters.cpp
  src/controller/data_model/gen/CHIPClusters.h
  src/controller/data_model/gen/chip-zcl-zpro-codec-api.h
  src/controller/data_model/gen/encoder.cpp
  src/controller/data_model/gen/endpoint_config.h
  src/controller/java/gen/CHIPClusters-JNI.cpp
  src/controller/java/gen/ChipClusters.java
  src/controller/python/chip/clusters/CHIPClusters.cpp
  src/controller/python/chip/clusters/CHIPClusters.py
  src/darwin/Framework/CHIP/gen/CHIPClustersObjc.h
  src/darwin/Framework/CHIP/gen/CHIPClustersObjc.mm
  src/darwin/Framework/CHIP/templates/CHIPClustersObjc-src.zapt
  src/darwin/Framework/CHIP/templates/CHIPClustersObjc.zapt
  src/darwin/Framework/CHIP/templates/clusters-tests.zapt
  src/darwin/Framework/CHIP/templates/partials/test_cluster.zapt
  src/darwin/Framework/CHIPTests/CHIPClustersTests.m
Labels: app, controller, darwin, examples, review - approved

#8374 Remove some unused code from System Layer
  src/platform/Darwin/SystemPlatformConfig.h
  src/platform/EFR32/SystemPlatformConfig.h
  src/platform/ESP32/SystemPlatformConfig.h
  src/platform/K32W/SystemPlatformConfig.h
  src/platform/Linux/SystemPlatformConfig.h
  src/platform/cc13x2_26x2/SystemPlatformConfig.h
  src/platform/mbed/SystemPlatformConfig.h
  src/platform/nrfconnect/SystemPlatformConfig.h
  src/platform/qpg/SystemPlatformConfig.h
  src/platform/telink/SystemPlatformConfig.h
  src/system/SystemConfig.h
  src/system/SystemLayer.cpp
Labels: darwin, efr32, esp32, k32w, linux, nrf connect, platform, review - approved, system, telink

#8236 Make ECDSA sign/verify format spec-compliant
  scripts/tests/test_suites.sh
  src/credentials/CHIPCert.cpp
  src/credentials/CHIPCert.h
  src/credentials/GenerateChipX509Cert.cpp
  src/crypto/CHIPCryptoPAL.cpp
  src/crypto/CHIPCryptoPAL.h
  src/crypto/CHIPCryptoPALOpenSSL.cpp
  src/crypto/CHIPCryptoPALmbedTLS.cpp
  src/crypto/tests/BUILD.gn
  src/crypto/tests/CHIPCryptoPALTest.cpp
  src/crypto/tests/DerSigConversion_test_vectors.h
  src/lib/asn1/ASN1Writer.cpp
  src/lib/support/BufferReader.cpp
  src/lib/support/BufferReader.h
  src/lib/support/tests/TestBufferReader.cpp
Labels: Has Automated Tests, crypto, lib, review - approved, scripts

#8298 Don't reset ExchangeContext's "waiting to send" state when sending standalone ack.
  src/messaging/ExchangeContext.cpp
  src/protocols/Protocols.h
Labels: review - approved

#8359 [Ethernet network diagnostics cluster] Enable ResetCounts command in all-clusters-app and lighting-app
  examples/all-clusters-app/all-clusters-common/all-clusters-app.zap
  examples/all-clusters-app/all-clusters-common/gen/IMClusterCommandHandler.cpp
  examples/all-clusters-app/esp32/main/CMakeLists.txt
  examples/lighting-app/lighting-common/gen/IMClusterCommandHandler.cpp
  examples/lighting-app/lighting-common/lighting-app.zap
  examples/lighting-app/mbed/CMakeLists.txt
  examples/lighting-app/nrfconnect/CMakeLists.txt
  examples/lighting-app/telink/CMakeLists.txt
  src/app/clusters/ethernet_network_diagnostics_server/ethernet_network_diagnostics_server.cpp
  src/app/zap_cluster_list.py
Labels: app, examples, review - approved

#8331 Add src/app/common/gen/attributes/Accessors.cpp to the build list of applications
  examples/all-clusters-app/esp32/main/CMakeLists.txt
  src/app/chip_data_model.gni
  src/app/clusters/barrier-control-server/barrier-control-server.cpp
  src/app/common/gen/attributes/Accessors.cpp
  src/app/common/gen/attributes/Accessors.h
  src/app/zap-templates/common/attributes/Accessors.js
  src/app/zap-templates/templates/app/attributes/Accessors-src.zapt
Labels: TE4 cherrypick, app, examples, review - approved

#8380 Enable Inet tests for platform not supporting raw sockets.
  config/mbed/chip-gn/args.gni
  src/inet/tests/TestInetEndPoint.cpp
  src/inet/tests/TestInetLayer.cpp
Labels: config, inet, review - approved

#8389 Fixed Typo in PeerId.h
  src/lib/core/PeerId.h
Labels: lib, review - approved

#8386 [EFR32] Increase the size of the CHIP Event Task
  src/platform/EFR32/CHIPDevicePlatformConfig.h
Labels: Tested manually, efr32, platform, review - approved

#8385 Fix warning on heap tracing.
  examples/platform/esp32/shell_extension/heap_trace.cpp
Labels: examples, review - approved

#8267 Revisions to System::Layer
  src/include/platform/PlatformManager.h
  src/platform/EFR32/SystemPlatformConfig.h
  src/platform/ESP32/SystemPlatformConfig.h
  src/platform/K32W/SystemPlatformConfig.h
  src/platform/SystemEventSupport.cpp
  src/platform/SystemTimerSupport.cpp
  src/platform/cc13x2_26x2/SystemPlatformConfig.h
  src/platform/mbed/SystemPlatformConfig.h
  src/platform/qpg/SystemPlatformConfig.h
  src/system/SystemConfig.h
  src/system/SystemEvent.h
  src/system/SystemLayer.cpp
  src/system/SystemLayer.h
Labels: app, efr32, esp32, k32w, platform, review - approved, system

#8391 Identify secure session test suite
  src/protocols/secure_channel/tests/TestCASESession.cpp
  src/protocols/secure_channel/tests/TestPASESession.cpp
Labels: review - approved

#8354 Remove demo UDP advertisement from Thread samples
  examples/lighting-app/efr32/BUILD.gn
  examples/lighting-app/efr32/src/AppTask.cpp
  examples/lighting-app/mbed/main/AppTask.cpp
  examples/lighting-app/nrfconnect/CMakeLists.txt
  examples/lighting-app/nrfconnect/main/AppTask.cpp
  examples/lock-app/efr32/BUILD.gn
  examples/lock-app/efr32/src/AppTask.cpp
  examples/lock-app/nrfconnect/CMakeLists.txt
  examples/lock-app/nrfconnect/main/AppTask.cpp
  examples/platform/efr32/Service.cpp
  examples/platform/efr32/Service.h
  examples/platform/nrfconnect/app/Service.cpp
  examples/platform/nrfconnect/app/include/Service.h
  examples/pump-app/nrfconnect/CMakeLists.txt
  examples/pump-app/nrfconnect/main/AppTask.cpp
  examples/pump-controller-app/nrfconnect/CMakeLists.txt
  examples/pump-controller-app/nrfconnect/main/AppTask.cpp
  examples/shell/efr32/BUILD.gn
  examples/window-app/efr32/BUILD.gn
  examples/window-app/efr32/src/AppTask.cpp
Labels: examples, review - approved

#8345 Add utilities for extracting a PeerId from an opcert, and use them in CASE
  src/credentials/CHIPCert.cpp
  src/credentials/CHIPCert.h
  src/credentials/tests/TestChipCert.cpp
  src/protocols/secure_channel/CASESession.cpp
Labels: review - approved

#8390 Rename TestSrv into TestTxt
  src/lib/mdns/minimal/records/tests/TestResourceRecordTxt.cpp
Labels: lib, review - approved

#8329 Generate Clusters/Commands/Attributes ids using MEI encoding
  src/app/common/gen/ids/Attributes.h
  src/app/common/gen/ids/Clusters.h
  src/app/common/gen/ids/Commands.h
  src/app/zap-templates/templates/app/helper.js
  src/app/zap-templates/templates/app/ids/Attributes.zapt
  src/app/zap-templates/templates/app/ids/Clusters.zapt
  src/app/zap-templates/templates/app/ids/Commands.zapt
Labels: app, review - approved

#8346 Fix the length check in reporting message handling.
  examples/pump-app/pump-common/gen/CHIPClientCallbacks.cpp
  examples/pump-controller-app/pump-controller-common/gen/CHIPClientCallbacks.cpp
  src/app/zap-templates/templates/app/CHIPClientCallbacks-src.zapt
  src/controller/data_model/gen/CHIPClientCallbacks.cpp
Labels: app, controller, examples, review - approved

#8401 Add flashing wrapper generation to nrfconnect examples
  config/nrfconnect/app/flashing.cmake
  examples/lighting-app/nrfconnect/CMakeLists.txt
  examples/lock-app/nrfconnect/CMakeLists.txt
  examples/pigweed-app/nrfconnect/CMakeLists.txt
  examples/pump-app/nrfconnect/CMakeLists.txt
  examples/pump-controller-app/nrfconnect/CMakeLists.txt
  examples/shell/nrfconnect/CMakeLists.txt
Labels: config, examples, review - approved

#7895 Support attribute read/write in Android
  src/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/clusterclient/OnOffClientFragment.kt
  src/android/CHIPTool/app/src/main/res/layout/on_off_client_fragment.xml
  src/android/CHIPTool/app/src/main/res/values/strings.xml
  src/controller/java/JniTypeWrappers.h
  src/controller/java/gen/CHIPClusters-JNI.cpp
  src/controller/java/gen/ChipClusters.java
  src/controller/java/templates/CHIPClusters-JNI.zapt
  src/controller/java/templates/ChipClusters-java.zapt
  src/controller/java/templates/helper.js
  src/controller/java/templates/templates.json
Labels: android, app, controller, has conflicts, review - approved

#8378 Address Printf formatting issues
  src/app/tests/TestMessageDef.cpp
  src/include/platform/internal/GenericConfigurationManagerImpl.cpp
  src/include/platform/internal/GenericPlatformManagerImpl.cpp
  src/inet/tests/TestInetAddress.cpp
  src/inet/tests/TestInetCommonPosix.cpp
  src/inet/tests/TestInetErrorStr.cpp
  src/inet/tests/TestInetLayer.cpp
  src/inet/tests/TestSetupFaultInjectionPosix.cpp
  src/lib/mdns/tests/TestTxtFields.cpp
  src/lib/support/tests/TestTimeUtils.cpp
Labels: app, inet, lib, review - approved
