Repository project-chip/connectedhomeip, pull requests merged in 2021-01, with the labels that each got.

#4158 Integrated examples/common/chip-app-server to the CHIP src/app/server.
  BUILD.gn
  config/nrfconnect/chip-module/CMakeLists.txt
  examples/all-clusters-app/all-clusters-common/BUILD.gn
  examples/all-clusters-app/esp32/main/component.mk
  examples/all-clusters-app/linux/BUILD.gn
  examples/common/README.md
  examples/common/chip-app-server/.gn
  examples/common/chip-app-server/args.gni
  examples/common/chip-app-server/build
  examples/lighting-app/efr32/BUILD.gn
  examples/lighting-app/lighting-common/BUILD.gn
  examples/lighting-app/linux/BUILD.gn
  examples/lighting-app/nrfconnect/CMakeLists.txt
  examples/lock-app/efr32/BUILD.gn
  examples/lock-app/k32w/BUILD.gn
  examples/lock-app/k32w/Makefile
  examples/lock-app/lock-common/BUILD.gn
  examples/lock-app/nrfconnect/CMakeLists.txt
  examples/lock-app/qpg6100/BUILD.gn
  examples/temperature-measurement-app/esp32/main/component.mk
  src/app/README.md
  src/app/server/AppDelegate.h
  src/app/server/BUILD.gn
  src/app/server/DataModelHandler.cpp
  src/app/server/DataModelHandler.h
  src/app/server/QRCodeUtil.cpp
  src/app/server/QRCodeUtil.h
  src/app/server/RendezvousServer.cpp
  src/app/server/RendezvousServer.h
  src/app/server/Server.cpp
  src/app/server/Server.h
  src/app/server/SessionManager.h
  src/lib/BUILD.gn
Labels: app, config, examples

#4255 ESP32: NimBLE - Fix issues during secure pairing over BLE
  src/platform/ESP32/nimble/BLEManagerImpl.cpp
Labels: esp32, platform

#4250 Fix generating qpg6100 without another thread config
  examples/shell/shell_common/BUILD.gn
  src/platform/qpg6100/args.gni
Labels: examples, platform

#4237 [nrfconnect] Add PWM support to the lighting-app
  examples/lighting-app/nrfconnect/README.md
  examples/lighting-app/nrfconnect/dts.overlay
  examples/lighting-app/nrfconnect/main/AppTask.cpp
  examples/lighting-app/nrfconnect/main/LightingManager.cpp
  examples/lighting-app/nrfconnect/main/include/AppConfig.h
  examples/lighting-app/nrfconnect/main/include/LightingManager.h
  examples/lighting-app/nrfconnect/prj.conf
Labels: examples

#4258 Remove old/stale TLV spec from the code repository.
  docs/specs/chip-tlv-format.adoc
Labels: documentation

#4264 Remove DiscoveryManager usage in SecureManager
  src/transport/SecureSessionMgr.cpp
  src/transport/SecureSessionMgr.h
Labels: transport

#4232 [controller] Check service data uuid during scan
  src/controller/python/chip/ChipBluezMgr.py
Labels: controller

#4239 [EFR32]Enable LCD display for BRD4180 and print URL to generated QRCode for boards without LCD
  examples/lighting-app/efr32/BUILD.gn
  examples/lighting-app/efr32/README.md
  examples/lighting-app/efr32/src/AppTask.cpp
  examples/lock-app/efr32/BUILD.gn
  examples/lock-app/efr32/README.md
  examples/lock-app/efr32/src/AppTask.cpp
  src/app/server/QRCodeUtil.cpp
Labels: app, examples

#4241 Add initial IM invoke command integration
  BUILD.gn
  src/app/BUILD.gn
  src/app/Command.cpp
  src/app/Command.h
  src/app/CommandHandler.cpp
  src/app/CommandHandler.h
  src/app/CommandSender.cpp
  src/app/CommandSender.h
  src/app/InteractionModelEngine.cpp
  src/app/InteractionModelEngine.h
  src/app/MessageDef.cpp
  src/app/MessageDef.h
  src/app/tests/integration/BUILD.gn
  src/app/tests/integration/README.md
  src/app/tests/integration/chip_im_initiator.cpp
  src/app/tests/integration/chip_im_responder.cpp
  src/app/tests/integration/common.cpp
  src/app/tests/integration/common.h
  src/lib/core/BUILD.gn
  src/messaging/ExchangeContext.cpp
  src/messaging/ExchangeContext.h
Labels: app, lib

#4261 Add Silicon Labs implementation of ZLL clusters
  src/app/clusters/zll-identify-server/zll-identify-server.c
  src/app/clusters/zll-level-control-server/zll-level-control-server.c
  src/app/clusters/zll-level-control-server/zll-level-control-server.h
  src/app/clusters/zll-on-off-server/zll-on-off-server.c
  src/app/clusters/zll-on-off-server/zll-on-off-server.h
  src/app/clusters/zll-scenes-client/zll-scenes-client.c
  src/app/clusters/zll-scenes-server/zll-scenes-server.c
  src/app/clusters/zll-scenes-server/zll-scenes-server.h
Labels: app

#4280 [Build] iOS app broken since #4181 with 'No matching function for cal…
  src/darwin/Framework/CHIP/CHIPDevice.mm
Labels: darwin

#4285 Fix wrong uint64_t print
  src/app/tests/integration/chip_im_initiator.cpp
Labels: app, hotfix

#4229 [controller] First cleanup of CoreBluetoothMgr.py
  src/controller/python/chip/ChipCoreBluetoothMgr.py
Labels: controller

#4291 Update the README.md to reflect the latest change in repository
  src/controller/python/README.md
Labels: controller

#4192 Add custom ZCL extensions inside src/app/zap-templates
  examples/all-clusters-app/all-clusters-common/gen/attribute-id.h
  examples/all-clusters-app/all-clusters-common/gen/client-command-macro.h
  examples/all-clusters-app/all-clusters-common/gen/cluster-id.h
  examples/all-clusters-app/all-clusters-common/gen/command-id.h
  examples/all-clusters-app/all-clusters-common/gen/print-cluster.h
  examples/lighting-app/lighting-common/gen/attribute-id.h
  examples/lighting-app/lighting-common/gen/client-command-macro.h
  examples/lighting-app/lighting-common/gen/cluster-id.h
  examples/lighting-app/lighting-common/gen/command-id.h
  examples/lighting-app/lighting-common/gen/print-cluster.h
  examples/lock-app/lock-common/gen/attribute-id.h
  examples/lock-app/lock-common/gen/client-command-macro.h
  examples/lock-app/lock-common/gen/cluster-id.h
  examples/lock-app/lock-common/gen/command-id.h
  examples/lock-app/lock-common/gen/print-cluster.h
  examples/temperature-measurement-app/esp32/main/gen/attribute-id.h
  examples/temperature-measurement-app/esp32/main/gen/client-command-macro.h
  examples/temperature-measurement-app/esp32/main/gen/cluster-id.h
  examples/temperature-measurement-app/esp32/main/gen/command-id.h
  examples/temperature-measurement-app/esp32/main/gen/print-cluster.h
  scripts/tools/zap_configure.sh
  scripts/tools/zap_generate.sh
  scripts/tools/zap_generate_chip.sh
  src/app/zap-templates/zcl/binding-cluster.xml
  src/app/zap-templates/zcl/chip-devices.xml
  src/app/zap-templates/zcl/clusters-extensions.xml
  src/app/zap-templates/zcl/zcl.json
Labels: app, examples, scripts

#4126 Add C++ wrappers for ZCL Clusters
  src/app/zap-templates/chip-templates.json
  src/app/zap-templates/templates/chip/CHIPClusters-src.zapt
  src/app/zap-templates/templates/chip/CHIPClusters.zapt
  src/controller/BUILD.gn
  src/controller/CHIPCluster.cpp
  src/controller/CHIPCluster.h
  src/controller/CHIPClusters.cpp
  src/controller/CHIPClusters.h
  src/controller/OnOffCluster.cpp
  src/controller/OnOffCluster.h
  src/darwin/Framework/CHIP/CHIPOnOff.mm
Labels: app, controller, darwin

#4156 Add Binding Server Cluster to src/app
  examples/all-clusters-app/all-clusters-common/BUILD.gn
  examples/all-clusters-app/esp32/main/component.mk
  examples/lighting-app/lighting-common/BUILD.gn
  examples/lighting-app/nrfconnect/CMakeLists.txt
  examples/lock-app/lock-common/BUILD.gn
  examples/lock-app/nrfconnect/CMakeLists.txt
  examples/temperature-measurement-app/esp32/main/component.mk
  src/app/clusters/bindings/bindings.cpp
  src/app/util/types_stub.h
Labels: app, examples

#4094 Convert mdns Builder classes to use PacketBufferHandle
  examples/minimal-mdns/client.cpp
  src/lib/mdns/minimal/QueryBuilder.h
Labels: examples, lib

#4177 Use Platform::Memory* to allocate things for minMDNS advertisement
  examples/minimal-mdns/server.cpp
  src/lib/mdns/Advertiser_ImplMinimalMdns.cpp
  src/lib/mdns/minimal/core/FlatAllocatedQName.h
  src/lib/mdns/minimal/core/tests/BUILD.gn
  src/lib/mdns/minimal/core/tests/TestFlatAllocatedQName.cpp
  src/lib/mdns/minimal/responders/Srv.h
Labels: examples, lib

#4197 SystemPacketBuffer.h cleanup
  src/app/Command.cpp
  src/app/InteractionModelEngine.cpp
  src/app/tests/TestMessageDef.cpp
  src/ble/BtpEngine.cpp
  src/inet/IPEndPointBasis.cpp
  src/inet/InetLayer.cpp
  src/inet/RawEndPoint.cpp
  src/inet/UDPEndPoint.cpp
  src/messaging/ExchangeContext.h
  src/messaging/ExchangeDelegate.h
  src/platform/EFR32/BLEManagerImpl.cpp
  src/platform/ESP32/bluedroid/BLEManagerImpl.cpp
  src/platform/ESP32/nimble/BLEManagerImpl.cpp
  src/platform/Linux/BLEManagerImpl.cpp
  src/platform/Zephyr/GenericBLEManagerImpl_Zephyr.cpp
  src/system/SystemPacketBuffer.cpp
  src/system/SystemPacketBuffer.h
  src/system/tests/TestSystemPacketBuffer.cpp
  src/transport/raw/Base.h
Labels: app, ble, config, efr32, esp32, github, inet, linux, platform, system, transport, workflows, zephyr

#4306 Disable CRMP if sending over non-UDP transport
  src/messaging/ExchangeContext.cpp
  src/transport/SecureSessionMgr.cpp
  src/transport/SecureSessionMgr.h
Labels: transport

#4198 [src/platform] Separation of nrfconnect and Zephyr platforms
  src/include/platform/PlatformManager.h
  src/include/platform/ThreadStackManager.h
  src/platform/BUILD.gn
  src/platform/Zephyr/BLEManagerImpl.cpp
  src/platform/Zephyr/BLEManagerImpl.h
  src/platform/Zephyr/CHIPDevicePlatformEvent.h
  src/platform/Zephyr/ConfigurationManagerImpl.cpp
  src/platform/Zephyr/ConfigurationManagerImpl.h
  src/platform/Zephyr/GenericThreadStackManagerImpl_Zephyr.cpp
  src/platform/Zephyr/GenericThreadStackManagerImpl_Zephyr.h
  src/platform/Zephyr/Logging.cpp
  src/platform/Zephyr/PlatformManagerImpl.cpp
  src/platform/Zephyr/PlatformManagerImpl.h
  src/platform/Zephyr/README.md
  src/platform/Zephyr/ThreadStackManagerImpl.cpp
  src/platform/Zephyr/ThreadStackManagerImpl.h
  src/platform/Zephyr/ZephyrConfig.cpp
  src/platform/Zephyr/ZephyrConfig.h
  src/platform/nrfconnect/BLEManagerImpl.cpp
  src/platform/nrfconnect/BLEManagerImpl.h
  src/platform/nrfconnect/BlePlatformConfig.h
  src/platform/nrfconnect/CHIPDevicePlatformConfig.h
  src/platform/nrfconnect/CHIPDevicePlatformEvent.h
  src/platform/nrfconnect/CHIPPlatformConfig.h
  src/platform/nrfconnect/ConfigurationManagerImpl.h
  src/platform/nrfconnect/InetPlatformConfig.h
  src/platform/nrfconnect/PlatformManagerImpl.h
  src/platform/nrfconnect/README.md
  src/platform/nrfconnect/SystemPlatformConfig.h
  src/platform/nrfconnect/ThreadStackManagerImpl.cpp
  src/platform/nrfconnect/ThreadStackManagerImpl.h
Labels: nrf connect, platform, zephyr

#4279 Call Platform::MemoryInit in the setup code parser library.
  src/setup_payload/QRCodeSetupPayloadParser.cpp
  src/setup_payload/java/SetupPayloadParser-JNI.cpp
Labels: android, setup payload

#4296 Some cleanup in secure session manager code
  src/messaging/ReliableMessageManager.cpp
  src/transport/SecureSessionMgr.cpp
  src/transport/SecureSessionMgr.h
  src/transport/tests/TestSecureSessionMgr.cpp
Labels: transport

#4219 Define global attributes ids only once instead of repeating them for …
  examples/all-clusters-app/all-clusters-common/gen/attribute-id.h
  examples/lighting-app/lighting-common/gen/attribute-id.h
  examples/lock-app/lock-common/gen/attribute-id.h
  examples/temperature-measurement-app/esp32/main/gen/attribute-id.h
  src/app/zap-templates/templates/app/attribute-id.zapt
Labels: app, examples

#4301 Use standard [[nodiscard]] where available
  src/lib/support/CodeUtils.h
Labels: lib

#4292 Decouple and cleanup the legacy wml based protocols
  src/lib/protocols/common/CHIPMessage.h
  src/lib/protocols/common/CommonProtocol.h
  src/messaging/ExchangeContext.cpp
  src/messaging/ExchangeMgr.cpp
  src/messaging/ReliableMessageContext.cpp
  src/messaging/ReliableMessageContext.h
  src/messaging/ReliableMessageManager.cpp
Labels: lib

#4289 [nrfconnect] Replaced default NFC starting with manual trigger
  examples/lighting-app/nrfconnect/README.md
  examples/lighting-app/nrfconnect/main/AppTask.cpp
  examples/lock-app/nrfconnect/README.md
  examples/lock-app/nrfconnect/main/AppTask.cpp
  examples/platform/nrfconnect/util/NFCWidget.cpp
  examples/platform/nrfconnect/util/include/NFCWidget.h
Labels: examples

#4314 Add Common protocol definitions based on the latest Spec
  src/messaging/ExchangeContext.cpp
  src/messaging/ReliableMessageContext.cpp
  src/protocols/common/Constants.h
  src/protocols/secure_channel/Constants.h
  src/transport/SecurePairingSession.h
Labels: transport

#4317 Add more unit tests for sending pre-encrypted messages
  src/transport/SecureSessionMgr.cpp
  src/transport/SecureSessionMgr.h
  src/transport/tests/TestSecureSessionMgr.cpp
Labels: transport

#4304 Revise CHIPTLV to increase PacketBuffer safety
  src/app/Command.cpp
  src/app/Command.h
  src/app/tests/TestMessageDef.cpp
  src/include/platform/internal/GenericSoftwareUpdateManagerImpl.h
  src/lib/core/CHIPCircularTLVBuffer.cpp
  src/lib/core/CHIPCircularTLVBuffer.h
  src/lib/core/CHIPTLV.h
  src/lib/core/CHIPTLVReader.cpp
  src/lib/core/CHIPTLVUpdater.cpp
  src/lib/core/CHIPTLVWriter.cpp
  src/lib/core/tests/TestCHIPTLV.cpp
  src/platform/ESP32/NetworkProvisioningServerImpl.cpp
  src/platform/Linux/CHIPBluezHelper.cpp
  src/system/BUILD.gn
  src/system/SystemPacketBuffer.h
  src/system/TLVPacketBufferBackingStore.cpp
  src/system/TLVPacketBufferBackingStore.h
Labels: app, esp32, lib, linux, platform, system

#4200 Support 'commisioning' advertising in CHIP
  examples/minimal-mdns/BUILD.gn
  examples/minimal-mdns/README.md
  examples/minimal-mdns/advertiser.cpp
  examples/minimal-mdns/client.cpp
  examples/minimal-mdns/server.cpp
  src/app/server/Server.cpp
  src/lib/core/Optional.h
  src/lib/mdns/Advertiser.h
  src/lib/mdns/Advertiser_ImplMinimalMdns.cpp
  src/lib/mdns/Advertiser_ImplNone.cpp
  src/lib/mdns/minimal/QueryBuilder.h
  src/lib/mdns/minimal/records/Txt.h
Labels: app, examples, lib

#4287 [nrfconnect] Fix compatibility issues with newer Zephyr
  config/nrfconnect/app/sample-defaults.conf
  examples/lighting-app/nrfconnect/rpc.overlay
  src/platform/Zephyr/BLEManagerImpl.cpp
  src/platform/Zephyr/BLEManagerImpl.h
  src/platform/nrfconnect/BlePlatformConfig.h
Labels: config, examples, nrf connect, platform, zephyr

#3728 API SecureManager::SendMessage, use SecureSessoinHandle instead NodeId
  src/app/CommandHandler.cpp
  src/app/CommandHandler.h
  src/app/CommandSender.cpp
  src/app/InteractionModelEngine.cpp
  src/app/server/Server.cpp
  src/app/util/chip-message-send.cpp
  src/controller/CHIPDevice.cpp
  src/controller/CHIPDevice.h
  src/controller/CHIPDeviceController.cpp
  src/controller/CHIPDeviceController.h
  src/messaging/ExchangeContext.cpp
  src/messaging/ExchangeContext.h
  src/messaging/ExchangeMgr.cpp
  src/messaging/ExchangeMgr.h
  src/messaging/ReliableMessageContext.cpp
  src/messaging/ReliableMessageContext.h
  src/messaging/ReliableMessageManager.cpp
  src/messaging/tests/TestExchangeMgr.cpp
  src/messaging/tests/TestReliableMessageProtocol.cpp
  src/messaging/tests/echo/echo_requester.cpp
  src/messaging/tests/echo/echo_responder.cpp
  src/protocols/echo/Echo.h
  src/protocols/echo/EchoClient.cpp
  src/protocols/echo/EchoServer.cpp
  src/transport/PeerConnections.h
  src/transport/SecureSessionMgr.cpp
  src/transport/SecureSessionMgr.h
  src/transport/tests/TestSecureSessionMgr.cpp
Labels: app, controller, examples, transport

#4323 Remove prefix from enum class SendMessageFlag and ExFlagValues definations.
  src/app/CommandHandler.cpp
  src/app/CommandSender.cpp
  src/messaging/ExchangeContext.cpp
  src/messaging/Flags.h
  src/messaging/ReliableMessageContext.cpp
  src/messaging/tests/TestExchangeMgr.cpp
  src/messaging/tests/TestReliableMessageProtocol.cpp
  src/protocols/echo/EchoClient.cpp
  src/protocols/echo/EchoServer.cpp
Labels: app

#4336 Fix issue in call to PairDevice() API while pairing in progress
  src/controller/CHIPDeviceController.cpp
Labels: controller

#4196 Use CHIPProjectConfig.h in examples/lighting-app/linux/main.cpp inste…
  config/standalone/CHIPProjectConfig.h
  examples/lighting-app/linux/main.cpp
Labels: config, examples

#4305 Update TestSystemPacketBuffer
  src/system/SystemPacketBuffer.cpp
  src/system/SystemPacketBuffer.h
  src/system/tests/TestSystemPacketBuffer.cpp
Labels: system

#4311 Add ZCL API Objc Wrappers
  src/app/zap-templates/chip-templates.json
  src/app/zap-templates/templates/chip/CHIPClustersObjc-src.zapt
  src/app/zap-templates/templates/chip/CHIPClustersObjc.zapt
  src/darwin/CHIPTool/CHIPTool/View Controllers/OnOffCluster/OnOffViewController.m
  src/darwin/Framework/CHIP.xcodeproj/project.pbxproj
  src/darwin/Framework/CHIP/CHIP.h
  src/darwin/Framework/CHIP/CHIPClustersObjc.h
  src/darwin/Framework/CHIP/CHIPClustersObjc.mm
  src/darwin/Framework/CHIP/CHIPOnOff.h
  src/darwin/Framework/CHIP/CHIPOnOff.mm
Labels: app, darwin

#4347 [linux] BLE central implementation
  src/controller/CHIPDeviceController.cpp
  src/platform/Linux/BLEManagerImpl.cpp
  src/platform/Linux/BLEManagerImpl.h
  src/platform/Linux/CHIPBluezHelper.cpp
  src/platform/Linux/CHIPBluezHelper.h
  src/platform/Linux/CHIPDevicePlatformEvent.h
Labels: controller, linux, platform

#4337 Add support for commisionable advertisement
  examples/minimal-mdns/advertiser.cpp
  src/lib/mdns/Advertiser.h
  src/lib/mdns/Advertiser_ImplMinimalMdns.cpp
  src/lib/mdns/Advertiser_ImplNone.cpp
Labels: examples, lib, platform

#4349 Use rvalue references for some PacketBufferHandle parameters
  src/app/Command.cpp
  src/app/Command.h
  src/ble/BLEEndPoint.cpp
  src/ble/BLEEndPoint.h
  src/inet/RawEndPoint.cpp
  src/inet/RawEndPoint.h
  src/inet/UDPEndPoint.cpp
  src/inet/UDPEndPoint.h
  src/inet/tests/TestInetLayerCommon.cpp
  src/inet/tests/TestInetLayerCommon.hpp
  src/protocols/echo/Echo.h
  src/protocols/echo/EchoClient.cpp
  src/system/SystemPacketBuffer.cpp
  src/system/SystemPacketBuffer.h
  src/system/TLVPacketBufferBackingStore.h
  src/transport/SecureSessionMgr.cpp
  src/transport/SecureSessionMgr.h
  src/transport/TransportMgr.h
  src/transport/raw/Tuple.h
Labels: app, ble, inet, system, transport

#4387 [mdns] refactor commsssionable discovery
  examples/minimal-mdns/PacketReporter.cpp
  examples/minimal-mdns/advertiser.cpp
  src/app/server/Server.cpp
  src/lib/mdns/Advertiser.h
  src/lib/mdns/Advertiser_ImplMinimalMdns.cpp
  src/lib/mdns/Advertiser_ImplNone.cpp
  src/lib/mdns/BUILD.gn
  src/lib/mdns/Discovery_ImplPlatform.cpp
  src/lib/mdns/Discovery_ImplPlatform.h
Labels: app, examples, lib

#4382 Fix attribute reads into a large buffer to not read random memory.
  src/app/util/attribute-storage.cpp
Labels: app

#4365 Fix crash caused by SecureSessionMgr::SendMessage() changes
  src/transport/SecureSessionMgr.cpp
Labels: hotfix, transport

#4398 Minor util af changes.
  src/app/util/af.h
  src/app/util/util.cpp
Labels: app

#4404 Remove 'postCreateCommand' for vsenv docker.
  .devcontainer/devcontainer.json
Labels: vscode

#4402 [QPG6100] Fix BLE TX complete handling
  src/platform/qpg6100/BLEManagerImpl.cpp
  src/platform/qpg6100/BLEManagerImpl.h
Labels: platform, qpg6100

#4410 [thread] Allow to specify dataset timestamp
  examples/lighting-app/efr32/src/AppTask.cpp
  examples/lock-app/efr32/src/AppTask.cpp
  examples/lock-app/qpg6100/src/AppTask.cpp
  src/include/platform/internal/DeviceNetworkInfo.h
  src/platform/OpenThread/GenericThreadStackManagerImpl_OpenThread.cpp
Labels: examples, openthread, platform

#4377 ignore submodules in restyle_diff.sh
  scripts/helpers/restyle-diff.sh
Labels: scripts

#4409 Move gen/*.h dependencies from af.h into .cpp files
  .vscode/tasks.json
  examples/all-clusters-app/all-clusters-common/gen/call-command-handler.cpp
  examples/all-clusters-app/all-clusters-common/gen/enums.h
  examples/lighting-app/efr32/src/AppTask.cpp
  examples/lighting-app/lighting-common/gen/call-command-handler.cpp
  examples/lighting-app/lighting-common/gen/enums.h
  examples/lighting-app/nrfconnect/main/AppTask.cpp
  examples/lighting-app/nrfconnect/main/ZclCallbacks.cpp
  examples/lock-app/efr32/src/AppTask.cpp
  examples/lock-app/efr32/src/ZclCallbacks.cpp
  examples/lock-app/lock-common/gen/call-command-handler.cpp
  examples/lock-app/lock-common/gen/enums.h
  examples/lock-app/nrfconnect/main/AppTask.cpp
  examples/lock-app/nrfconnect/main/ZclCallbacks.cpp
  examples/lock-app/qpg6100/src/AppTask.cpp
  examples/lock-app/qpg6100/src/ZclCallbacks.cpp
  examples/temperature-measurement-app/esp32/main/gen/call-command-handler.cpp
  examples/temperature-measurement-app/esp32/main/gen/enums.h
  src/app/clusters/barrier-control-server/barrier-control-server.cpp
  src/app/clusters/color-control-server/color-control-server.cpp
  src/app/clusters/door-lock-server/door-lock-server-core.cpp
  src/app/clusters/door-lock-server/door-lock-server-logging.cpp
  src/app/clusters/door-lock-server/door-lock-server-schedule.cpp
  src/app/clusters/door-lock-server/door-lock-server-user.cpp
  src/app/clusters/door-lock-server/door-lock-server.h
  src/app/clusters/groups-server/groups-server.cpp
  src/app/clusters/ias-zone-server/ias-zone-server.cpp
  src/app/clusters/identify/identify.cpp
  src/app/clusters/level-control/level-control.cpp
  src/app/clusters/on-off-server/on-off.cpp
  src/app/clusters/scenes-client/scenes-client.cpp
  src/app/clusters/scenes/scenes.cpp
  src/app/clusters/temperature-measurement-server/temperature-measurement-server.cpp
  src/app/reporting/reporting.cpp
  src/app/util/af-enums.h
  src/app/util/af-event.cpp
  src/app/util/af-types.h
  src/app/util/af.h
  src/app/util/attribute-size.cpp
  src/app/util/attribute-storage.cpp
  src/app/util/attribute-table.cpp
  src/app/util/ember-print.cpp
  src/app/util/process-cluster-message.cpp
  src/app/util/process-global-message.cpp
  src/app/util/util.cpp
Labels: app, examples, vscode

#4417 Fix warnings -Wstack-usage with clang
  src/setup_payload/ManualSetupPayloadGenerator.cpp
  src/setup_payload/QRCodeSetupPayloadGenerator.cpp
Labels: setup payload

#4413 Fix crashes when BLE rendezvous disconnects unexpectedly
  src/transport/BLE.cpp
Labels: transport

#4418 Fix warnings -Wunused-variable in release
  src/lib/support/Pool.cpp
Labels: lib

#4422 [nrfconnect] Fix Zephyr compilation flag retrieval
  config/nrfconnect/chip-module/zephyr-util.cmake
Labels: config

#4420 [openthread] set secure data request based on OpenThread version
  src/platform/OpenThread/GenericThreadStackManagerImpl_OpenThread.cpp
Labels: openthread, platform

#4401 Refactor message encryption and pairing code
  src/app/server/RendezvousServer.cpp
  src/app/server/RendezvousServer.h
  src/app/server/Server.cpp
  src/controller/CHIPDeviceController.cpp
  src/transport/BUILD.gn
  src/transport/PeerConnectionState.h
  src/transport/RendezvousSession.cpp
  src/transport/RendezvousSession.h
  src/transport/SecureMessageCodec.cpp
  src/transport/SecureMessageCodec.h
  src/transport/SecurePairingSession.cpp
  src/transport/SecurePairingSession.h
  src/transport/SecureSessionMgr.cpp
  src/transport/SecureSessionMgr.h
  src/transport/tests/TestSecurePairingSession.cpp
Labels: app, controller, transport

#4433 Release pairing session handle on rendezvous error
  src/transport/RendezvousSession.cpp
Labels: transport

#4428 Use C++14 when compiling CHIP for esp32.
  config/esp32/components/chip/component.mk
  examples/all-clusters-app/esp32/Makefile
  examples/temperature-measurement-app/esp32/Makefile
Labels: config, examples

#4331 NFC Tag Reading support added
  src/README.md
  src/darwin/CHIPTool/CHIPTool.xcodeproj/project.pbxproj
  src/darwin/CHIPTool/CHIPTool/CHIPTool.entitlements
  src/darwin/CHIPTool/CHIPTool/Info.plist
  src/darwin/CHIPTool/CHIPTool/View Controllers/QRCode/QRCodeViewController.h
  src/darwin/CHIPTool/CHIPTool/View Controllers/QRCode/QRCodeViewController.m
Labels: darwin

#4423 [example] Add thread and wifi mgn switch to linux app
  examples/lighting-app/linux/Options.cpp
  examples/lighting-app/linux/include/Options.h
  examples/lighting-app/linux/main.cpp
Labels: examples

#4441 ESP32: Fix compilation of applications requiring C++17
  config/esp32/components/chip/component.mk
  src/lib/support/tests/TestBufferReader.cpp
Labels: config, examples, lib

#4329 Enable Binding Cluster for the all-clusters-app.zap configuration
  examples/all-clusters-app/all-clusters-common/all-clusters-app.zap
  examples/all-clusters-app/all-clusters-common/gen/call-command-handler.cpp
  examples/all-clusters-app/all-clusters-common/gen/callback-stub.cpp
  examples/all-clusters-app/all-clusters-common/gen/callback.h
  examples/all-clusters-app/all-clusters-common/gen/endpoint_config.h
  examples/all-clusters-app/all-clusters-common/gen/gen_config.h
  src/app/chip-zcl-zpro-codec-api.h
  src/app/encoder.cpp
  src/app/zap-templates/templates/chip/CHIPClustersObjc.zapt
  src/app/zap-templates/templates/chip/helper.js
  src/controller/CHIPClusters.cpp
  src/controller/CHIPClusters.h
  src/darwin/Framework/CHIP/CHIPClustersObjc.h
  src/darwin/Framework/CHIP/CHIPClustersObjc.mm
Labels: app, controller, darwin, examples

#4437 Initialize key ID to 0 in case of rendezvous bypass mode
  src/transport/SecurePairingSession.h
Labels: transport

#4431 Add Read request in interaction model
  src/app/BUILD.gn
  src/app/Command.h
  src/app/CommandHandler.h
  src/app/CommandSender.h
  src/app/InteractionModelEngine.h
  src/app/MessageDef.cpp
  src/app/MessageDef.h
  src/app/MessageDef/AttributeDataElement.cpp
  src/app/MessageDef/AttributeDataElement.h
  src/app/MessageDef/AttributeDataList.cpp
  src/app/MessageDef/AttributeDataList.h
  src/app/MessageDef/AttributeDataVersionList.cpp
  src/app/MessageDef/AttributeDataVersionList.h
  src/app/MessageDef/AttributePath.cpp
  src/app/MessageDef/AttributePath.h
  src/app/MessageDef/AttributePathList.cpp
  src/app/MessageDef/AttributePathList.h
  src/app/MessageDef/AttributeStatusElement.cpp
  src/app/MessageDef/AttributeStatusElement.h
  src/app/MessageDef/AttributeStatusList.cpp
  src/app/MessageDef/AttributeStatusList.h
  src/app/MessageDef/Builder.cpp
  src/app/MessageDef/Builder.h
  src/app/MessageDef/CommandDataElement.cpp
  src/app/MessageDef/CommandDataElement.h
  src/app/MessageDef/CommandList.cpp
  src/app/MessageDef/CommandList.h
  src/app/MessageDef/CommandPath.cpp
  src/app/MessageDef/CommandPath.h
  src/app/MessageDef/EventDataElement.cpp
  src/app/MessageDef/EventDataElement.h
  src/app/MessageDef/EventList.cpp
  src/app/MessageDef/EventList.h
  src/app/MessageDef/EventPath.cpp
  src/app/MessageDef/EventPath.h
  src/app/MessageDef/EventPathList.cpp
  src/app/MessageDef/EventPathList.h
  src/app/MessageDef/InvokeCommand.cpp
  src/app/MessageDef/InvokeCommand.h
  src/app/MessageDef/ListBuilder.cpp
  src/app/MessageDef/ListBuilder.h
  src/app/MessageDef/ListParser.cpp
  src/app/MessageDef/ListParser.h
  src/app/MessageDef/MessageDef.h
  src/app/MessageDef/MessageDefHelper.h
  src/app/MessageDef/Parser.cpp
  src/app/MessageDef/Parser.h
  src/app/MessageDef/ReadRequest.cpp
  src/app/MessageDef/ReadRequest.h
  src/app/MessageDef/ReportData.cpp
  src/app/MessageDef/ReportData.h
  src/app/MessageDef/StatusElement.cpp
  src/app/MessageDef/StatusElement.h
  src/app/tests/TestMessageDef.cpp
Labels: app

#4435 Initial skeleton code for CASE state machine
  docs/dots/Rendezvous/RendezvousSessionGeneral.dot
  docs/dots/Rendezvous/RendezvousSessionInit.dot
  src/transport/AuthenticatedSessionEstablishmentDelegate.h
  src/transport/BUILD.gn
  src/transport/CertificateAuthenticatedSessionEstablishment.cpp
  src/transport/CertificateAuthenticatedSessionEstablishment.h
  src/transport/RendezvousSession.h
  src/transport/SecurePairingSession.cpp
  src/transport/SecurePairingSession.h
  src/transport/tests/TestSecurePairingSession.cpp
Labels: documentation, transport

#4415 Fix leak of DeviceTransportMgr in CHIPDeviceController
  src/controller/CHIPDeviceController.cpp
Labels: controller

#4419 Add missing <inttypes.h> include
  src/app/server/QRCodeUtil.cpp
Labels: app

#4425 [android] Ask for action after reading CHIP NFC Tag
  src/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/CHIPToolActivity.kt
  src/android/CHIPTool/app/src/main/res/values/strings.xml
Labels: android

#4491 Rename code to PASESession and CASESession
  docs/dots/Rendezvous/RendezvousSessionGeneral.dot
  docs/dots/Rendezvous/RendezvousSessionInit.dot
  examples/chip-tool/main.cpp
  src/app/tests/integration/chip_im_initiator.cpp
  src/app/tests/integration/chip_im_responder.cpp
  src/controller/CHIPDevice.cpp
  src/controller/CHIPDevice.h
  src/messaging/tests/echo/echo_requester.cpp
  src/messaging/tests/echo/echo_responder.cpp
  src/transport/BUILD.gn
  src/transport/CASESession.cpp
  src/transport/CASESession.h
  src/transport/PASESession.cpp
  src/transport/PASESession.h
  src/transport/RendezvousSession.cpp
  src/transport/RendezvousSession.h
  src/transport/SecureSessionMgr.cpp
  src/transport/SecureSessionMgr.h
  src/transport/SessionEstablishmentDelegate.h
  src/transport/tests/BUILD.gn
  src/transport/tests/TestPASESession.cpp
Labels: app, controller, documentation, examples, transport

#4452 [nrfconnect] set Thread device type in examples
  examples/lighting-app/nrfconnect/main/main.cpp
  examples/lock-app/nrfconnect/main/main.cpp
Labels: examples, nrf connect

#4456 Fix typo in recent changes to Linux example app help text
  examples/lighting-app/linux/Options.cpp
Labels: examples

#4457 [doc] Update document for chip-dev-ctrl
  src/controller/python/README.md
Labels: controller

#4499 #4409 followup. Missing templates updates
  examples/all-clusters-app/all-clusters-common/gen/enums.h
  examples/bridge-app/bridge-common/gen/attribute-id.h
  examples/bridge-app/bridge-common/gen/call-command-handler.cpp
  examples/bridge-app/bridge-common/gen/callback.h
  examples/bridge-app/bridge-common/gen/client-command-macro.h
  examples/bridge-app/bridge-common/gen/command-id.h
  examples/bridge-app/bridge-common/gen/endpoint_config.h
  examples/bridge-app/bridge-common/gen/enums.h
  examples/lighting-app/lighting-common/gen/enums.h
  examples/lock-app/lock-common/gen/enums.h
  examples/temperature-measurement-app/esp32/main/gen/enums.h
  src/app/encoder.cpp
  src/app/zap-templates/templates/app/call-command-handler-src.zapt
  src/app/zap-templates/templates/app/enums.zapt
Labels: app, examples

#4464 Enable Bluetooth, if it is not already on
  src/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/bluetooth/BluetoothManager.kt
Labels: android

#4476 Fix and enable warnings -Wheader-hygiene
  build/config/compiler/BUILD.gn
  src/app/MessageDef/MessageDefHelper.h
  src/inet/tests/TestInetLayerCommon.hpp
  src/setup_payload/AdditionalDataPayloadParser.cpp
  src/setup_payload/Base41.cpp
  src/setup_payload/ManualSetupPayloadGenerator.cpp
  src/setup_payload/ManualSetupPayloadParser.cpp
  src/setup_payload/QRCodeSetupPayloadGenerator.cpp
  src/setup_payload/QRCodeSetupPayloadParser.cpp
  src/setup_payload/SetupPayload.cpp
  src/setup_payload/tests/TestHelpers.h
  src/setup_payload/tests/TestManualCode.cpp
Labels: app, inet, setup payload

#4484 Add support for address and memory sanitizers when compiling with clang
  build/config/compiler/BUILD.gn
  src/app/util/process-global-message.cpp
  src/lib/support/CodeUtils.h
Labels: app, lib

#4482 Make stub functions weak so that they can be overriden.
  src/app/zap-templates/templates/app/callback-stub-src.zapt
Labels: app

#4439 Controller python binding, Fix import error
  src/controller/python/chip/ChipBluezMgr.py
Labels: controller

#4364 Final PacketBufferHandle cleanup.
  examples/chip-tool/commands/common/Command.h
  src/app/Command.cpp
  src/app/encoder.cpp
  src/app/util/chip-message-send.cpp
  src/app/zap-templates/templates/chip/encoder-src.zapt
  src/ble/BLEEndPoint.cpp
  src/ble/BleLayer.h
  src/ble/BlePlatformDelegate.h
  src/ble/BtpEngine.cpp
  src/ble/BtpEngine.h
  src/controller/python/ChipDeviceController-BlePlatformDelegate.cpp
  src/inet/IPEndPointBasis.cpp
  src/inet/RawEndPoint.cpp
  src/inet/TCPEndPoint.cpp
  src/inet/TCPEndPoint.h
  src/inet/UDPEndPoint.cpp
  src/inet/tests/TestInetEndPoint.cpp
  src/messaging/ExchangeContext.h
  src/messaging/ReliableMessageManager.h
  src/messaging/tests/echo/echo_requester.cpp
  src/platform/Darwin/CHIPDevicePlatformEvent.h
  src/platform/EFR32/BLEManagerImpl.cpp
  src/platform/ESP32/NetworkProvisioningServerImpl.cpp
  src/platform/ESP32/bluedroid/BLEManagerImpl.cpp
  src/platform/ESP32/nimble/BLEManagerImpl.cpp
  src/platform/Linux/BLEManagerImpl.cpp
  src/platform/Zephyr/BLEManagerImpl.cpp
  src/platform/Zephyr/CHIPDevicePlatformEvent.h
  src/platform/qpg6100/BLEManagerImpl.cpp
  src/protocols/bdx/BdxMessages.cpp
  src/protocols/bdx/BdxMessages.h
  src/protocols/echo/Echo.h
  src/system/SystemPacketBuffer.cpp
  src/system/SystemPacketBuffer.h
  src/system/TLVPacketBufferBackingStore.h
  src/system/tests/TestSystemPacketBuffer.cpp
  src/transport/SecureSessionMgr.cpp
  src/transport/SecureSessionMgr.h
  src/transport/raw/Base.h
Labels: app, ble, controller, darwin, efr32, esp32, examples, inet, linux, platform, zephyr

#4506 Make Mac builds compile with -Wheader-hygiene
  src/platform/Darwin/BleConnectionDelegate.h
  src/platform/Darwin/BleConnectionDelegateImpl.mm
Labels: darwin, hotfix, platform

#4507 Don't try to use WPA or OpenThread if they are not compiled in
  examples/lighting-app/linux/Options.cpp
  examples/lighting-app/linux/main.cpp
Labels: examples, hotfix

#4455 Put echo protocol implementation under namespace 'Echo'
  src/messaging/tests/TestReliableMessageProtocol.cpp
  src/messaging/tests/echo/echo_requester.cpp
  src/messaging/tests/echo/echo_responder.cpp
  src/protocols/echo/Echo.h
  src/protocols/echo/EchoClient.cpp
  src/protocols/echo/EchoServer.cpp
  src/transport/tests/TestSecureSessionMgr.cpp
Labels: transport

#4429 Add stronger typing for payload header APIs
  src/messaging/ExchangeContext.cpp
  src/messaging/ExchangeContext.h
  src/messaging/ReliableMessageContext.cpp
  src/protocols/Protocols.h
  src/protocols/secure_channel/Constants.h
  src/transport/CASESession.cpp
  src/transport/PASESession.cpp
  src/transport/RendezvousSession.cpp
  src/transport/raw/MessageHeader.h
  src/transport/raw/tests/TestMessageHeader.cpp
  src/transport/tests/TestSecureSessionMgr.cpp
Labels: config, examples, transport

#4479 Align which template JSON files are used for the examples
  examples/lighting-app/lighting-common/lighting-app.zap
  examples/lock-app/lock-common/lock-app.zap
  examples/temperature-measurement-app/esp32/main/temperature-measurement.zap
Labels: examples

#4466 [doc] Extend documentation of chip-tool to detail commands.
  examples/chip-tool/README.md
Labels: examples

#4495 Removed logs from the configuration manager getter methods.
  examples/lighting-app/efr32/src/AppTask.cpp
  examples/lighting-app/nrfconnect/main/AppTask.cpp
  examples/lock-app/efr32/src/AppTask.cpp
  examples/lock-app/nrfconnect/main/AppTask.cpp
  examples/lock-app/qpg6100/src/AppTask.cpp
  src/app/server/QRCodeUtil.cpp
  src/app/server/QRCodeUtil.h
  src/include/platform/ConfigurationManager.h
  src/include/platform/internal/GenericConfigurationManagerImpl.cpp
  src/include/platform/internal/GenericConfigurationManagerImpl.h
Labels: app, examples

#4528 [nrfconnect] Fix compilation warnings and turn on -Werror for examples
  examples/lighting-app/nrfconnect/CMakeLists.txt
  examples/lock-app/nrfconnect/CMakeLists.txt
  examples/pigweed-app/nrfconnect/CMakeLists.txt
  examples/shell/nrfconnect/CMakeLists.txt
  src/app/clusters/door-lock-server/door-lock-server-schedule.cpp
  src/app/clusters/door-lock-server/door-lock-server-user.cpp
  src/app/clusters/groups-server/groups-server.cpp
  src/app/clusters/ias-zone-client/ias-zone-client.cpp
  src/app/clusters/messaging-client/messaging-client.cpp
  src/app/clusters/messaging-client/messaging-client.h
  src/app/clusters/messaging-server/messaging-server.cpp
  src/app/clusters/messaging-server/messaging-server.h
  src/app/clusters/scenes/scenes.cpp
  src/app/clusters/zll-on-off-server/zll-on-off-server.c
  src/app/clusters/zll-scenes-server/zll-scenes-server.c
  src/app/reporting/reporting.cpp
  src/app/util/af.h
  src/app/util/attribute-table.cpp
  src/app/util/client-api.cpp
  src/app/util/message.cpp
  src/app/util/types_stub.h
  src/app/util/util.cpp
Labels: app, examples

#4524 [nrfconnect] Simplify CMake files
  config/nrfconnect/README.md
  config/nrfconnect/app/app.cmake
  config/nrfconnect/chip-module/Kconfig
  examples/lighting-app/nrfconnect/CMakeLists.txt
  examples/lighting-app/nrfconnect/boards/nrf52840dk_nrf52840.overlay
  examples/lock-app/nrfconnect/CMakeLists.txt
  examples/lock-app/nrfconnect/boards/nrf52840dk_nrf52840.overlay
  examples/pigweed-app/nrfconnect/CMakeLists.txt
  examples/pigweed-app/nrfconnect/boards/nrf52840dk_nrf52840.overlay
  examples/shell/nrfconnect/CMakeLists.txt
  src/test_driver/nrfconnect/CMakeLists.txt
Labels: config, examples

#4533 Replace Quoted Headers in the CHIP Framework's public headers
  src/darwin/Framework/CHIP/CHIPDevice.h
  src/darwin/Framework/CHIP/CHIPDeviceCallback.h
Labels: darwin

#4520 Fix issue with building chip-build docker image.
  integrations/docker/images/chip-build/Dockerfile
Labels: integrations

#4530 Add key value store for linux
  examples/persistent-storage/linux/.gn
  examples/persistent-storage/linux/BUILD.gn
  examples/persistent-storage/linux/README.md
  examples/persistent-storage/linux/args.gni
  examples/persistent-storage/linux/build
  examples/persistent-storage/linux/build_overrides
  examples/persistent-storage/linux/main.cpp
  examples/persistent-storage/linux/third_party/connectedhomeip
  src/platform/BUILD.gn
  src/platform/Linux/KeyValueStoreManagerImpl.cpp
  src/platform/Linux/KeyValueStoreManagerImpl.h
Labels: examples, linux, platform

#4509 Synchronize pw_log, pw_rpc response and SDK logs
  examples/common/pigweed/RpcService.cpp
  examples/common/pigweed/RpcService.h
  examples/common/pigweed/system_rpc_server.cc
  examples/lighting-app/nrfconnect/CMakeLists.txt
  examples/lighting-app/nrfconnect/main/Rpc.cpp
  examples/platform/nrfconnect/util/PigweedLogger.cpp
  examples/platform/nrfconnect/util/include/PigweedLogger.h
Labels: examples

#4515 ESP32: Enable the functionality supported by CHIPoBLE Service for ESP32 platform
  src/platform/ESP32/bluedroid/BLEManagerImpl.cpp
  src/platform/ESP32/nimble/BLEManagerImpl.cpp
Labels: esp32, platform

#3848 Add support in iOS UI for multiple lights
  src/darwin/CHIPTool/CHIPTool/UI Helpers/CHIPUIViewUtils.h
  src/darwin/CHIPTool/CHIPTool/UI Helpers/CHIPUIViewUtils.m
  src/darwin/CHIPTool/CHIPTool/View Controllers/OnOffCluster/OnOffViewController.m
Labels: darwin

#4534 Add an 'upload release asset' script and release artifact workflow.
  .github/workflows/release_artifacts.yaml
  scripts/examples/esp_echo_app.sh
  scripts/helpers/upload_release_asset.py
Labels: github, scripts, workflows

#4552 Log the longer setup code in the esp32 all-clusters-app
  examples/all-clusters-app/esp32/main/main.cpp
Labels: examples

#4522 [example] Fix flags in linux example app
  examples/lighting-app/linux/Options.cpp
  examples/lighting-app/linux/entrypoint.sh
  examples/lighting-app/linux/main.cpp
  src/test_driver/linux-cirque/test-on-off-cluster.py
Labels: examples

#4556 Fix K32W platform build
  src/platform/BUILD.gn
  src/platform/K32W/BLEManagerImpl.cpp
Labels: hotfix, k32w, platform

#4298 Initial support for adding codegen for interaction model
  examples/lighting-app/lighting-common/BUILD.gn
  examples/lighting-app/linux/BUILD.gn
  examples/lighting-app/linux/main.cpp
  src/app/BUILD.gn
  src/app/Command.cpp
  src/app/chip-zcl-zpro-codec-api.h
  src/app/clusters/on-off-server/on-off-im.cpp
  src/app/common_flags.gni
  src/app/encoder.cpp
  src/app/im-handler.cpp
  src/app/im-handler.h
  src/app/server/BUILD.gn
  src/app/server/Server.cpp
  src/app/zap-templates/chip-templates.json
  src/app/zap-templates/common/StringHelper.js
  src/app/zap-templates/partials/header.zapt
  src/app/zap-templates/templates/chip/CHIPClusters-src.zapt
  src/app/zap-templates/templates/chip/CHIPClusters.zapt
  src/app/zap-templates/templates/chip/helper.js
  src/app/zap-templates/templates/chip/im-handler-h.zapt
  src/app/zap-templates/templates/chip/im-handler-src.zapt
  src/app/zap-templates/templates/chip/python-ChipDeviceController-ClusterCommands.zapt
  src/app/zap-templates/templates/chip/python-chip-ChipCluster.zapt
  src/controller/BUILD.gn
  src/controller/CHIPClusters.cpp
  src/controller/CHIPClusters.h
  src/controller/CHIPDevice.cpp
  src/controller/CHIPDevice.h
  src/controller/CHIPDeviceController.cpp
  src/controller/CHIPDeviceController.h
  src/controller/CHIPDeviceController_deprecated.h
  src/controller/python/BUILD.gn
  src/controller/python/ChipDeviceController-ClusterCommands.cpp
  src/controller/python/ChipDeviceController-ScriptBinding.cpp
  src/controller/python/ChipDeviceController-StorageDelegate.cpp
  src/controller/python/ChipDeviceController-StorageDelegate.h
  src/controller/python/chip-device-ctrl.py
  src/controller/python/chip/ChipCluster.py
  src/controller/python/chip/ChipDeviceCtrl.py
  src/controller/python/chip/ChipExceptions.py
  src/controller/python/chip/ChipStack.py
  src/darwin/Framework/CHIP/CHIPClustersObjc.h
  src/darwin/Framework/CHIP/CHIPClustersObjc.mm
Labels: app, controller, examples, transport

#4542 Use BLE implementation in DeviceLayer in CHIP Device Controller Python Binding
  src/ble/BLEEndPoint.h
  src/controller/python/BUILD.gn
  src/controller/python/ChipDeviceController-BleApplicationDelegate.cpp
  src/controller/python/ChipDeviceController-BleApplicationDelegate.h
  src/controller/python/ChipDeviceController-BlePlatformDelegate.cpp
  src/controller/python/ChipDeviceController-BlePlatformDelegate.h
  src/controller/python/ChipDeviceController-ScriptBinding.cpp
  src/controller/python/README.md
  src/controller/python/chip-device-ctrl.py
  src/controller/python/chip/ChipBleBase.py
  src/controller/python/chip/ChipBluezMgr.py
  src/controller/python/chip/ChipCoreBluetoothMgr.py
  src/controller/python/chip/ChipDeviceCtrl.py
  src/transport/BLE.cpp
Labels: ble, controller, transport

#3250 Add UI for temperature sensor in CHIPTool iOS app
  src/darwin/CHIPTool/CHIPTool.xcodeproj/project.pbxproj
  src/darwin/CHIPTool/CHIPTool/UI Helpers/CHIPUIViewUtils.m
  src/darwin/CHIPTool/CHIPTool/View Controllers/RootViewController.m
  src/darwin/CHIPTool/CHIPTool/View Controllers/Temperature Sensor/TemperatureSensorViewController.h
  src/darwin/CHIPTool/CHIPTool/View Controllers/Temperature Sensor/TemperatureSensorViewController.m
Labels: darwin, examples

#4567 Clear PASESession state while initializing it
  src/transport/PASESession.cpp
Labels: transport

#4582 Fix sporadic CI failure in crypto test for nrf platform
  src/crypto/CHIPCryptoPAL.h
  src/transport/PASESession.cpp
Labels: crypto, hotfix, transport
