Repository project-chip/connectedhomeip, pull requests merged in 2021-11, with the labels that each got.

#11251 [python] Fix incorrect wheel suffix on ARM64 MacOS
  src/controller/python/BUILD.gn
Labels: controller, review - pending, fast track

#11166 Initialize chip-tool vendor ID with Test Vendor1
  examples/chip-tool/commands/common/CHIPCommand.cpp
  src/lib/core/CHIPVendorIdentifiers.hpp
Labels: examples, lib, review - pending, fast track

#10949 [Python] Add write and read API with cluster object support
  src/app/WriteClient.h
  src/controller/python/BUILD.gn
  src/controller/python/chip/ChipDeviceCtrl.py
  src/controller/python/chip/clusters/Attribute.py
  src/controller/python/chip/clusters/ClusterObjects.py
  src/controller/python/chip/clusters/__init__.py
  src/controller/python/chip/clusters/write.cpp
  src/controller/python/chip/interaction_model/__init__.py
  src/controller/python/test/test_scripts/base.py
  src/controller/python/test/test_scripts/cluster_objects.py
Labels: controller, app, review - pending, fast track

#10963 [IM] Move ReadClient callbacks to separate callback class
  src/app/InteractionModelDelegate.h
  src/app/InteractionModelEngine.cpp
  src/app/InteractionModelEngine.h
  src/app/ReadClient.cpp
  src/app/ReadClient.h
  src/app/tests/TestReadInteraction.cpp
  src/app/tests/integration/chip_im_initiator.cpp
  src/app/util/im-client-callbacks.cpp
  src/app/util/im-client-callbacks.h
  src/controller/CHIPDevice.cpp
  src/controller/CHIPDevice.h
  src/controller/CHIPDeviceController.cpp
  src/controller/DeviceControllerInteractionModelDelegate.h
  src/controller/ReadInteraction.h
  src/controller/TypedReadCallback.h
  src/controller/python/chip/interaction_model/Delegate.cpp
  src/controller/python/chip/interaction_model/Delegate.h
  src/controller/tests/data_model/TestRead.cpp
Labels: controller, app, review - pending, fast track

#11236 Stop writing to the Ember global attribute store for the fabrics list
  src/app/clusters/operational-credentials-server/operational-credentials-server.cpp
Labels: app, review - pending, fast track

#11145 Merge former IPEndPointBasis code with UDPEndPoint
  src/inet/UDPEndPoint.cpp
  src/inet/UDPEndPoint.h
Labels: inet, review - approved

#11241 Add logging for OTA QueryImage, AnnounceOTAProvider, and BDX Output Event Type
  examples/ota-provider-app/ota-provider-common/BdxOtaSender.cpp
  examples/ota-requestor-app/ota-requestor-common/BDXDownloader.cpp
  examples/ota-requestor-app/ota-requestor-common/ExampleOTARequestor.cpp
  src/app/clusters/ota-provider/ota-provider.cpp
  src/protocols/bdx/BdxTransferSession.cpp
  src/protocols/bdx/BdxTransferSession.h
Labels: examples, app, review - approved

#11189 Apply comments for PR 10985
  src/transport/SessionManager.cpp
  src/transport/raw/MessageHeader.cpp
  src/transport/raw/MessageHeader.h
  src/transport/raw/tests/TestMessageHeader.cpp
Labels: transport, review - pending, fast track

#11278 Rename EventPath and EventPathList
  src/app/BUILD.gn
  src/app/EventManagement.cpp
  src/app/MessageDef/EventDataElement.cpp
  src/app/MessageDef/EventDataElement.h
  src/app/MessageDef/EventPathIB.cpp
  src/app/MessageDef/EventPathIB.h
  src/app/MessageDef/EventPaths.cpp
  src/app/MessageDef/EventPaths.h
  src/app/MessageDef/ReadRequest.cpp
  src/app/MessageDef/ReadRequest.h
  src/app/MessageDef/SubscribeRequest.cpp
  src/app/MessageDef/SubscribeRequest.h
  src/app/MessageDef/SubscribeResponse.h
  src/app/MessageDef/WriteRequest.h
  src/app/ReadClient.cpp
  src/app/ReadClient.h
  src/app/ReadHandler.cpp
  src/app/ReadHandler.h
  src/app/WriteHandler.cpp
  src/app/tests/TestMessageDef.cpp
  src/app/tests/TestReadInteraction.cpp
Labels: app, review - pending, fast track

#11211 [app] Forget exchange context when SubscribeResponse is received
  src/app/ReadClient.cpp
  src/app/tests/TestReadInteraction.cpp
Labels: app, review - approved

#11284 Save Darwin framework test logs in artifacts
  .github/workflows/darwin.yaml
Labels: github, workflows, review - pending, fast track

#11243 Bring OTA XML into closer alignment with the spec.
  examples/ota-provider-app/ota-provider-common/OTAProviderExample.cpp
  examples/ota-provider-app/ota-provider-common/OTAProviderExample.h
  examples/ota-requestor-app/linux/main.cpp
  src/app/clusters/ota-provider/ota-provider-delegate.h
  src/app/clusters/ota-provider/ota-provider.cpp
  src/app/zap-templates/zcl/data-model/chip/chip-ota.xml
  src/controller/java/zap-generated/CHIPClusters-JNI.cpp
  src/controller/java/zap-generated/chip/devicecontroller/ChipClusters.java
  src/controller/java/zap-generated/chip/devicecontroller/ClusterInfoMapping.java
  src/controller/python/chip/clusters/CHIPClusters.cpp
  src/controller/python/chip/clusters/CHIPClusters.py
  src/controller/python/chip/clusters/Objects.py
  src/darwin/Framework/CHIP/zap-generated/CHIPCallbackBridge.mm
  src/darwin/Framework/CHIP/zap-generated/CHIPCallbackBridge_internal.h
  src/darwin/Framework/CHIP/zap-generated/CHIPClustersObjc.h
  src/darwin/Framework/CHIP/zap-generated/CHIPClustersObjc.mm
  zzz_generated/app-common/app-common/zap-generated/callback.h
  zzz_generated/app-common/app-common/zap-generated/cluster-objects.cpp
  zzz_generated/app-common/app-common/zap-generated/cluster-objects.h
  zzz_generated/app-common/app-common/zap-generated/command-id.h
  zzz_generated/app-common/app-common/zap-generated/ids/Commands.h
  zzz_generated/chip-tool/zap-generated/cluster/Commands.h
  zzz_generated/controller-clusters/zap-generated/CHIPClientCallbacks.cpp
  zzz_generated/controller-clusters/zap-generated/CHIPClientCallbacks.h
  zzz_generated/controller-clusters/zap-generated/CHIPClusters.cpp
  zzz_generated/controller-clusters/zap-generated/CHIPClusters.h
  zzz_generated/controller-clusters/zap-generated/CHIPClustersInvoke.cpp
  zzz_generated/controller-clusters/zap-generated/IMClusterCommandHandler.cpp
  zzz_generated/ota-requestor-app/zap-generated/CHIPClientCallbacks.cpp
  zzz_generated/ota-requestor-app/zap-generated/CHIPClientCallbacks.h
  zzz_generated/ota-requestor-app/zap-generated/CHIPClusters.cpp
  zzz_generated/ota-requestor-app/zap-generated/CHIPClusters.h
  zzz_generated/ota-requestor-app/zap-generated/CHIPClustersInvoke.cpp
  zzz_generated/ota-requestor-app/zap-generated/IMClusterCommandHandler.cpp
Labels: examples, darwin, controller, app, review - approved

#11264 Remove GetLastNetworkCommissioningResult from Network cluster
  examples/all-clusters-app/all-clusters-common/all-clusters-app.zap
  examples/bridge-app/bridge-common/bridge-app.zap
  examples/lighting-app/lighting-common/lighting-app.zap
  examples/lock-app/lock-common/lock-app.zap
  examples/ota-provider-app/ota-provider-common/ota-provider-app.zap
  examples/ota-requestor-app/ota-requestor-common/ota-requestor-app.zap
  examples/pump-app/pump-common/pump-app.zap
  examples/pump-controller-app/pump-controller-common/pump-controller-app.zap
  examples/temperature-measurement-app/esp32/main/temperature-measurement.zap
  examples/thermostat/thermostat-common/thermostat.zap
  examples/tv-app/tv-common/tv-app.zap
  examples/tv-casting-app/tv-casting-common/tv-casting-app.zap
  examples/window-app/common/window-app.zap
  src/app/clusters/network-commissioning/network-commissioning-ember.cpp
  src/app/zap-templates/zcl/data-model/chip/commissioning.xml
  src/controller/data_model/controller-clusters.zap
  src/controller/java/zap-generated/CHIPClusters-JNI.cpp
  src/controller/java/zap-generated/chip/devicecontroller/ChipClusters.java
  src/controller/java/zap-generated/chip/devicecontroller/ClusterInfoMapping.java
  src/controller/python/chip/clusters/CHIPClusters.cpp
  src/controller/python/chip/clusters/CHIPClusters.py
  src/controller/python/chip/clusters/Objects.py
  src/darwin/Framework/CHIP/zap-generated/CHIPClustersObjc.h
  src/darwin/Framework/CHIP/zap-generated/CHIPClustersObjc.mm
  zzz_generated/all-clusters-app/zap-generated/IMClusterCommandHandler.cpp
  zzz_generated/app-common/app-common/zap-generated/callback.h
  zzz_generated/app-common/app-common/zap-generated/cluster-objects.cpp
  zzz_generated/app-common/app-common/zap-generated/cluster-objects.h
  zzz_generated/app-common/app-common/zap-generated/command-id.h
  zzz_generated/app-common/app-common/zap-generated/ids/Commands.h
  zzz_generated/bridge-app/zap-generated/IMClusterCommandHandler.cpp
  zzz_generated/chip-tool/zap-generated/cluster/Commands.h
  zzz_generated/controller-clusters/zap-generated/CHIPClusters.cpp
  zzz_generated/controller-clusters/zap-generated/CHIPClusters.h
  zzz_generated/controller-clusters/zap-generated/CHIPClustersInvoke.cpp
  zzz_generated/lighting-app/zap-generated/IMClusterCommandHandler.cpp
  zzz_generated/lock-app/zap-generated/IMClusterCommandHandler.cpp
  zzz_generated/ota-provider-app/zap-generated/IMClusterCommandHandler.cpp
  zzz_generated/ota-requestor-app/zap-generated/IMClusterCommandHandler.cpp
  zzz_generated/pump-controller-app/zap-generated/IMClusterCommandHandler.cpp
  zzz_generated/temperature-measurement-app/zap-generated/IMClusterCommandHandler.cpp
  zzz_generated/thermostat/zap-generated/IMClusterCommandHandler.cpp
  zzz_generated/tv-app/zap-generated/CHIPClusters.cpp
  zzz_generated/tv-app/zap-generated/CHIPClusters.h
  zzz_generated/tv-app/zap-generated/CHIPClustersInvoke.cpp
  zzz_generated/tv-app/zap-generated/IMClusterCommandHandler.cpp
  zzz_generated/tv-casting-app/zap-generated/IMClusterCommandHandler.cpp
  zzz_generated/window-app/zap-generated/IMClusterCommandHandler.cpp
Labels: examples, darwin, controller, app, review - approved

#11238 Replace and remove weakly-typed System::Clock code
  examples/lock-app/esp32/main/AppTask.cpp
  examples/lock-app/esp32/main/LEDWidget.cpp
  examples/lock-app/esp32/main/include/LEDWidget.h
  examples/platform/efr32/LEDWidget.cpp
  examples/platform/efr32/LEDWidget.h
  examples/platform/mbed/util/LEDWidget.cpp
  examples/platform/nxp/k32w/k32w0/util/LEDWidget.cpp
  examples/platform/nxp/k32w/k32w0/util/include/LEDWidget.h
  examples/platform/p6/LEDWidget.cpp
  examples/platform/p6/LEDWidget.h
  examples/shell/shell_common/cmd_ping.cpp
  examples/shell/shell_common/cmd_send.cpp
  src/app/EventLoggingTypes.h
  src/app/EventManagement.cpp
  src/app/clusters/ias-zone-server/ias-zone-server.cpp
  src/app/tests/integration/chip_im_initiator.cpp
  src/include/platform/ConnectivityManager.h
  src/include/platform/internal/GenericConnectivityManagerImpl_NoWiFi.h
  src/include/platform/internal/GenericConnectivityManagerImpl_WiFi.h
  src/include/platform/internal/GenericPlatformManagerImpl.cpp
  src/lib/dnssd/minimal_mdns/responders/QueryResponder.h
  src/messaging/tests/echo/echo_requester.cpp
  src/platform/Ameba/ConnectivityManagerImpl.cpp
  src/platform/Ameba/ConnectivityManagerImpl.h
  src/platform/ESP32/PlatformManagerImpl.cpp
  src/platform/ESP32/PlatformManagerImpl.h
  src/platform/Linux/PlatformManagerImpl.cpp
  src/platform/Linux/PlatformManagerImpl.h
  src/platform/tests/TestPlatformTime.cpp
  src/protocols/bdx/BdxTransferSession.h
  src/protocols/bdx/tests/TestBdxTransferSession.cpp
  src/system/SystemClock.h
  src/system/SystemLayerImplLwIP.cpp
  src/system/SystemLayerImplSelect.cpp
  src/system/TimeSource.h
  src/system/tests/TestSystemClock.cpp
  src/system/tests/TestSystemTimer.cpp
Labels: examples, system, platform, esp32, linux, lib, app, review - pending, fast track

#11187 Pull up LayerLwIP::ScheduleLambda to SystemLayer
  src/include/platform/CHIPDeviceEvent.h
  src/include/platform/PlatformManager.h
  src/include/platform/internal/GenericPlatformManagerImpl.cpp
  src/lib/support/LambdaBridge.h
  src/platform/BUILD.gn
  src/platform/PlatformEventSupport.cpp
  src/system/BUILD.gn
  src/system/PlatformEventSupport.h
  src/system/SystemLayer.cpp
  src/system/SystemLayer.h
  src/system/SystemLayerImplLwIP.cpp
  src/system/SystemLayerImplLwIP.h
Labels: system, platform, lib, review - pending, fast track

#11197 [Mbed] Mbed platform examples Python builder
  .vscode/tasks.json
  examples/all-clusters-app/mbed/.gitignore
  examples/all-clusters-app/mbed/CMakeLists.txt
  examples/lighting-app/mbed/.gitignore
  examples/lighting-app/mbed/CMakeLists.txt
  examples/lock-app/mbed/.gitignore
  examples/lock-app/mbed/CMakeLists.txt
  examples/pigweed-app/mbed/.gitignore
  examples/pigweed-app/mbed/CMakeLists.txt
  examples/shell/mbed/.gitignore
  examples/shell/mbed/CMakeLists.txt
  scripts/build/build/targets.py
  scripts/build/builders/mbed.py
  scripts/build/testdata/all_targets_except_host.txt
  scripts/build/testdata/build_all_except_host.txt
  scripts/build/testdata/glob_star_targets_except_host.txt
  scripts/examples/mbed_example.sh
  scripts/tests/mbed/mbed_unit_tests.sh
  src/test_driver/mbed/.gitignore
  src/test_driver/mbed/CMakeLists.txt
Labels: examples, scripts, vscode, review - pending, fast track

#11212 Collapse InetLayerBasis into EndPointBasis
  src/inet/BUILD.gn
  src/inet/EndPointBasis.cpp
  src/inet/EndPointBasis.h
  src/inet/InetLayer.cpp
  src/inet/InetLayer.h
  src/inet/InetLayerBasis.h
  src/inet/UDPEndPoint.h
Labels: inet, review - approved

#11260 Descriptor cluster must be handled by the AttributeAccessInterface in the bridge-app (#11182)
  examples/all-clusters-app/all-clusters-common/all-clusters-app.zap
  examples/bridge-app/bridge-common/bridge-app.zap
  examples/bridge-app/esp32/main/main.cpp
  examples/bridge-app/linux/main.cpp
  examples/lighting-app/lighting-common/lighting-app.zap
  examples/lock-app/lock-common/lock-app.zap
  examples/placeholder/linux/apps/app1/config.zap
  examples/placeholder/linux/apps/app2/config.zap
  examples/pump-app/pump-common/pump-app.zap
  examples/pump-controller-app/pump-controller-common/pump-controller-app.zap
  examples/temperature-measurement-app/esp32/main/temperature-measurement.zap
  examples/thermostat/thermostat-common/thermostat.zap
  examples/tv-app/tv-common/tv-app.zap
  examples/tv-casting-app/tv-casting-common/tv-casting-app.zap
  examples/window-app/common/window-app.zap
  src/app/clusters/descriptor/descriptor.cpp
  src/controller/data_model/controller-clusters.zap
  zzz_generated/all-clusters-app/zap-generated/endpoint_config.h
  zzz_generated/bridge-app/zap-generated/endpoint_config.h
  zzz_generated/lighting-app/zap-generated/endpoint_config.h
  zzz_generated/lock-app/zap-generated/endpoint_config.h
  zzz_generated/pump-app/zap-generated/endpoint_config.h
  zzz_generated/pump-controller-app/zap-generated/endpoint_config.h
  zzz_generated/temperature-measurement-app/zap-generated/endpoint_config.h
  zzz_generated/thermostat/zap-generated/endpoint_config.h
  zzz_generated/tv-app/zap-generated/endpoint_config.h
  zzz_generated/tv-casting-app/zap-generated/endpoint_config.h
  zzz_generated/window-app/zap-generated/endpoint_config.h
Labels: examples, controller, app, review - approved

#11301 ESP:Simplify the include paths for ESP examples
  config/esp32/components/chip/CMakeLists.txt
  examples/all-clusters-app/esp32/main/CMakeLists.txt
  examples/bridge-app/esp32/main/CMakeLists.txt
  examples/lock-app/esp32/main/CMakeLists.txt
  examples/shell/esp32/main/CMakeLists.txt
  examples/temperature-measurement-app/esp32/main/CMakeLists.txt
Labels: examples, config, review - pending, fast track

#11176 Include interface in PeerAddress::ToString
  src/transport/raw/PeerAddress.h
Labels: transport, review - approved

#11329 Revert "Android add discover"
  src/android/CHIPTest/app/src/main/java/com/tcl/chip/chiptest/MainActivity.kt
  src/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/ChipClient.kt
  src/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/provisioning/AddressCommissioningFragment.kt
  src/android/CHIPTool/app/src/main/res/layout/address_commissioning_fragment.xml
  src/android/CHIPTool/app/src/main/res/values/strings.xml
  src/controller/java/BUILD.gn
  src/controller/java/CHIPDeviceController-JNI.cpp
  src/controller/java/src/chip/devicecontroller/ChipDeviceController.java
  src/controller/java/src/chip/devicecontroller/DiscoveredDevice.java
  src/platform/android/AndroidChipPlatform-JNI.cpp
  src/platform/android/BUILD.gn
  src/platform/android/DnssdImpl.cpp
  src/platform/android/DnssdImpl.h
  src/platform/android/java/chip/platform/AndroidChipPlatform.java
  src/platform/android/java/chip/platform/ChipMdnsCallback.java
  src/platform/android/java/chip/platform/ChipMdnsCallbackImpl.java
  src/platform/android/java/chip/platform/NsdManagerServiceBrowser.java
  src/platform/android/java/chip/platform/NsdManagerServiceResolver.java
  src/platform/android/java/chip/platform/ServiceBrowser.java
Labels: hotfix, platform, controller, android, review - pending

#11239 Add test TC EMR 1_1
  examples/chip-tool/templates/tests.js
  src/app/tests/suites/certification/Test_TC_EMR_1_1.yaml
  src/darwin/Framework/CHIP/templates/tests.js
  src/darwin/Framework/CHIPTests/CHIPClustersTests.m
  zzz_generated/chip-tool/zap-generated/test/Commands.h
Labels: examples, darwin, app, review - pending, fast track

#11327 Rename System::Clock::Zero to System::Clock::kZero
  examples/lock-app/esp32/main/AppTask.cpp
  examples/shell/shell_common/cmd_ping.cpp
  examples/shell/shell_common/cmd_send.cpp
  src/app/EventManagement.cpp
  src/app/tests/integration/MockEvents.cpp
  src/app/tests/integration/chip_im_initiator.cpp
  src/include/platform/internal/GenericConnectivityManagerImpl_NoWiFi.h
  src/include/platform/internal/GenericConnectivityManagerImpl_WiFi.h
  src/lib/dnssd/minimal_mdns/responders/QueryResponder.cpp
  src/lib/dnssd/minimal_mdns/responders/QueryResponder.h
  src/messaging/ExchangeContext.cpp
  src/messaging/ReliableMessageMgr.cpp
  src/messaging/tests/echo/echo_requester.cpp
  src/platform/Ameba/ConnectivityManagerImpl.cpp
  src/platform/ESP32/ConnectivityManagerImpl_WiFi.cpp
  src/platform/ESP32/PlatformManagerImpl.h
  src/platform/Linux/ConnectivityManagerImpl.cpp
  src/platform/Linux/PlatformManagerImpl.h
  src/platform/P6/ConnectivityManagerImpl.cpp
  src/platform/Tizen/ConnectivityManagerImpl.cpp
  src/platform/Tizen/ConnectivityManagerImpl.h
  src/platform/android/ConnectivityManagerImpl.cpp
  src/platform/tests/TestPlatformMgr.cpp
  src/protocols/bdx/BdxTransferSession.cpp
  src/protocols/bdx/BdxTransferSession.h
  src/protocols/bdx/tests/TestBdxTransferSession.cpp
  src/system/SystemClock.h
  src/system/SystemLayerImplLibevent.cpp
  src/system/SystemLayerImplLwIP.cpp
  src/system/SystemLayerImplSelect.cpp
  src/system/tests/TestSystemClock.cpp
  src/system/tests/TestSystemTimer.cpp
Labels: examples, system, platform, esp32, linux, lib, app, review - pending, fast track

#11184 InetLayer/SystemLayer use C++11 singleton patter instead of global variable
  examples/all-clusters-app/esp32/main/main.cpp
  examples/chip-tool/commands/discover/Commands.h
  examples/minimal-mdns/advertiser.cpp
  examples/minimal-mdns/client.cpp
  examples/minimal-mdns/server.cpp
  examples/shell/shell_common/cmd_ping.cpp
  examples/shell/shell_common/cmd_send.cpp
  src/app/server/Dnssd.cpp
  src/app/server/Server.cpp
  src/app/tests/integration/chip_im_initiator.cpp
  src/app/tests/integration/chip_im_responder.cpp
  src/controller/AbstractDnssdDiscoveryController.cpp
  src/controller/CHIPDeviceControllerFactory.cpp
  src/controller/java/CHIPDeviceController-JNI.cpp
  src/controller/python/chip/discovery/NodeResolution.cpp
  src/include/platform/CHIPDeviceLayer.h
  src/include/platform/internal/GenericPlatformManagerImpl.cpp
  src/lib/dnssd/platform/tests/TestPlatform.cpp
  src/lib/shell/commands/Dns.cpp
  src/messaging/tests/echo/echo_requester.cpp
  src/messaging/tests/echo/echo_responder.cpp
  src/platform/Globals.cpp
Labels: examples, platform, lib, controller, app, review - approved

#10545 Device Attestation Verifier: Certification Declaration
  src/controller/CHIPDeviceController.cpp
  src/credentials/DeviceAttestationVerifier.cpp
  src/credentials/DeviceAttestationVerifier.h
  src/credentials/examples/DeviceAttestationCredsExample.cpp
  src/credentials/examples/DeviceAttestationVerifierExample.cpp
  src/credentials/tests/TestDeviceAttestationCredentials.cpp
Labels: controller, review - approved

#10500 [CI] Add Matter[Pre/Post]CommandReceivedCallback
  src/app/CommandHandler.cpp
  src/app/WriteHandler.cpp
  src/app/reporting/Engine.cpp
  src/app/util/MatterCallbacks.h
Labels: app, review - pending, has conflicts, fast track

#11341 Revert "Pull up LayerLwIP::ScheduleLambda to SystemLayer"
  src/include/platform/CHIPDeviceEvent.h
  src/include/platform/PlatformManager.h
  src/include/platform/internal/GenericPlatformManagerImpl.cpp
  src/lib/support/LambdaBridge.h
  src/platform/BUILD.gn
  src/platform/LwIPEventSupport.cpp
  src/system/BUILD.gn
  src/system/LwIPEventSupport.h
  src/system/PlatformEventSupport.h
  src/system/SystemLayer.h
  src/system/SystemLayerImplLwIP.cpp
  src/system/SystemLayerImplLwIP.h
Labels: hotfix, system, platform, lib, review - pending

#10703 Add a bridged switched device to the bridge app (#10302)
  examples/all-clusters-app/all-clusters-common/all-clusters-app.zap
  examples/bridge-app/bridge-common/bridge-app.zap
  examples/bridge-app/linux/Device.cpp
  examples/bridge-app/linux/include/Device.h
  examples/bridge-app/linux/main.cpp
  src/app/zap-templates/zcl/data-model/chip/switch-cluster.xml
  src/controller/data_model/controller-clusters.zap
  src/controller/java/zap-generated/CHIPClusters-JNI.cpp
  src/controller/java/zap-generated/chip/devicecontroller/ChipClusters.java
  src/controller/python/chip/clusters/CHIPClusters.cpp
  src/controller/python/chip/clusters/CHIPClusters.py
  src/darwin/Framework/CHIP/zap-generated/CHIPClustersObjc.h
  src/darwin/Framework/CHIP/zap-generated/CHIPClustersObjc.mm
  src/darwin/Framework/CHIP/zap-generated/CHIPTestClustersObjc.h
  src/darwin/Framework/CHIP/zap-generated/CHIPTestClustersObjc.mm
  src/darwin/Framework/CHIPTests/CHIPClustersTests.m
  zzz_generated/all-clusters-app/zap-generated/endpoint_config.h
  zzz_generated/app-common/app-common/zap-generated/enums.h
  zzz_generated/bridge-app/zap-generated/PluginApplicationCallbacks.h
  zzz_generated/bridge-app/zap-generated/callback-stub.cpp
  zzz_generated/bridge-app/zap-generated/endpoint_config.h
  zzz_generated/bridge-app/zap-generated/gen_config.h
  zzz_generated/chip-tool/zap-generated/cluster/Commands.h
  zzz_generated/controller-clusters/zap-generated/CHIPClusters.cpp
  zzz_generated/controller-clusters/zap-generated/CHIPClusters.h
  zzz_generated/controller-clusters/zap-generated/tests/CHIPClustersTest.cpp
  zzz_generated/controller-clusters/zap-generated/tests/CHIPClustersTest.h
Labels: examples, darwin, controller, app, review - pending, fast track, TE7 cherrypick

#11285 RPC improvements for example apps
  examples/all-clusters-app/esp32/main/CMakeLists.txt
  examples/all-clusters-app/esp32/main/Rpc.cpp
  examples/common/pigweed/BUILD.gn
  examples/common/pigweed/protos/attributes_service.options
  examples/common/pigweed/protos/attributes_service.proto
  examples/common/pigweed/protos/device_service.options
  examples/common/pigweed/protos/device_service.proto
  examples/common/pigweed/rpc_console/py/BUILD.gn
  examples/common/pigweed/rpc_console/py/chip_rpc/console.py
  examples/common/pigweed/rpc_services/Attributes.h
  examples/common/pigweed/rpc_services/Device.h
  examples/common/pigweed/rpc_services/Lighting.h
  examples/lighting-app/efr32/BUILD.gn
  examples/lighting-app/efr32/src/Rpc.cpp
  examples/lighting-app/linux/BUILD.gn
  examples/lighting-app/linux/Rpc.cpp
  examples/lighting-app/nrfconnect/CMakeLists.txt
  examples/lighting-app/nrfconnect/main/Rpc.cpp
  examples/lighting-app/nrfconnect/rpc.overlay
Labels: examples, review - approved

#11353 [Android] Split cluster reads and read/default callbacks into separate files
  src/controller/java/AndroidClusterExceptions.cpp
  src/controller/java/AndroidClusterExceptions.h
  src/controller/java/BUILD.gn
  src/controller/java/CHIPDefaultCallbacks.cpp
  src/controller/java/CHIPDefaultCallbacks.h
  src/controller/java/templates/CHIPClusters-JNI.zapt
  src/controller/java/templates/CHIPClustersRead-JNI.zapt
  src/controller/java/templates/CHIPReadCallbacks-src.zapt
  src/controller/java/templates/CHIPReadCallbacks.zapt
  src/controller/java/templates/templates.json
  src/controller/java/zap-generated/CHIPClusters-JNI.cpp
  src/controller/java/zap-generated/CHIPClustersRead-JNI.cpp
  src/controller/java/zap-generated/CHIPReadCallbacks.cpp
  src/controller/java/zap-generated/CHIPReadCallbacks.h
Labels: controller, review - approved

#11287 Improve Telink Docker image used by Build example - Telink workflow
  integrations/docker/images/chip-build-telink/Dockerfile
  integrations/docker/images/chip-build/version
Labels: integrations, review - pending, fast track

#11325 Fix UnauthenticatedSession leak (#10754)
  src/lib/core/Optional.h
  src/transport/SecureSessionMgr.cpp
  src/transport/SecureSessionMgr.h
  src/transport/UnauthenticatedSessionTable.h
Labels: transport, lib, fast track

#11332 Make it possible for apps into the placeholder directory to have cust…
  examples/chip-tool/templates/partials/test_cluster.zapt
  examples/placeholder/linux/BUILD.gn
  examples/placeholder/linux/apps/app1/tests.js
  examples/placeholder/linux/include/MatterCallbacks.h
  examples/placeholder/linux/include/TestCommand.h
  examples/placeholder/linux/main.cpp
  examples/placeholder/templates/helper.js
  examples/placeholder/templates/templates.json
  examples/placeholder/templates/tests-commands.zapt
  examples/platform/linux/Options.cpp
  examples/platform/linux/Options.h
  scripts/examples/gn_build_test_example.sh
  src/app/zap-templates/common/ClusterTestGeneration.js
Labels: examples, scripts, app, review - pending, fast track

#11276 Enforce interface match for unauthenticated session, temporary fix #11120
  src/transport/UnauthenticatedSessionTable.h
Labels: transport, review - approved, TE7, TE6 cherrypick, TE7 cherrypick

#11369 Fix for mg24 hardfault
  src/platform/EFR32/efr32-chip-mbedtls-config.h
  third_party/efr32_sdk/efr32_sdk.gni
Labels: platform, efr32, review - pending, fast track

#11348 Fix isArgument handling for zapTypeToClusterObjectType for structs.
  src/app/zap-templates/templates/app/helper.js
Labels: app, review - pending, fast track

#11330 [msg] Update message field order to match spec.
  src/transport/raw/MessageHeader.cpp
  src/transport/raw/tests/TestMessageHeader.cpp
Labels: transport, review - pending, fast track

#11364 Adding YAML Test Cases - Nov 2nd
  examples/chip-tool/templates/tests.js
  src/app/tests/suites/certification/Test_TC_BI_2_1.yaml
  src/app/tests/suites/certification/Test_TC_CC_9_2.yaml
  src/app/tests/suites/certification/Test_TC_CC_9_3.yaml
  src/app/tests/suites/certification/Test_TC_DIAGSW_1_1.yaml
  src/app/tests/suites/certification/Test_TC_LVL_4_1.yaml
  src/app/tests/suites/certification/Test_TC_LVL_5_1.yaml
  src/app/tests/suites/certification/Test_TC_OCC_2_2.yaml
  src/app/tests/suites/certification/Test_TC_PRS_1_1.yaml
  src/app/tests/suites/certification/Test_TC_PRS_2_1.yaml
  src/app/tests/suites/certification/Test_TC_RH_2_2.yaml
  src/app/tests/suites/certification/Test_TC_TM_2_2.yaml
  src/app/tests/suites/certification/Test_TC_TSUIC_2_2.yaml
  src/app/tests/suites/certification/Test_TC_WNCV_2_5.yaml
  src/darwin/Framework/CHIP/templates/tests.js
  src/darwin/Framework/CHIPTests/CHIPClustersTests.m
  zzz_generated/chip-tool/zap-generated/test/Commands.h
Labels: examples, darwin, app, review - pending, fast track

#11119 [QPG610x] Multi-Fabric Pool config changes
  src/platform/qpg/CHIPDevicePlatformConfig.h
Labels: platform, lib, review - approved

#11297 Address request from #10771 - add timeouts to thread join in test
  src/controller/python/test/test_scripts/base.py
Labels: controller, review - pending, fast track

#11375 Remove UnauthenticatedSession::mLocalMessageCounter
  src/transport/SessionManager.cpp
  src/transport/UnauthenticatedSessionTable.h
Labels: transport, review - approved

#11374 Fix _InitChipStack() initialization order.
  src/include/platform/internal/GenericPlatformManagerImpl.cpp
Labels: review - approved

#11336 Align QueryImage and QueryImageResponse XML with the spec
  examples/ota-provider-app/ota-provider-common/OTAProviderExample.cpp
  examples/ota-provider-app/ota-provider-common/OTAProviderExample.h
  examples/ota-requestor-app/linux/main.cpp
  src/app/clusters/ota-provider/ota-provider-delegate.h
  src/app/clusters/ota-provider/ota-provider.cpp
  src/app/zap-templates/zcl/data-model/chip/chip-ota.xml
  src/controller/python/chip/clusters/Objects.py
  zzz_generated/app-common/app-common/zap-generated/cluster-objects.h
  zzz_generated/chip-tool/zap-generated/cluster/Commands.h
Labels: examples, controller, app, review - approved

#11372 Update chip docker usage to 0.5.25
  .devcontainer/devcontainer.json
  .github/workflows/android.yaml
  .github/workflows/bloat_check.yaml
  .github/workflows/build.yaml
  .github/workflows/cirque.yaml
  .github/workflows/docker_img.yaml
  .github/workflows/examples-ameba.yaml
  .github/workflows/examples-efr32.yaml
  .github/workflows/examples-esp32.yaml
  .github/workflows/examples-infineon.yaml
  .github/workflows/examples-k32w.yaml
  .github/workflows/examples-linux-standalone.yaml
  .github/workflows/examples-mbed.yaml
  .github/workflows/examples-nrfconnect.yaml
  .github/workflows/examples-qpg.yaml
  .github/workflows/examples-telink.yaml
  .github/workflows/examples-tizen.yaml
  .github/workflows/qemu.yaml
  .github/workflows/release_artifacts.yaml
  .github/workflows/tests.yaml
  .github/workflows/unit_integration_test.yaml
  integrations/cloudbuild/build-all.yaml
  integrations/cloudbuild/smoke-test.yaml
Labels: integrations, vscode, github, workflows, review - approved

#11417 Fix output file name in infineon builds.
  scripts/build/builders/infineon.py
Labels: hotfix, scripts

#11419 Pep8 restyle of infineon.py
  scripts/build/builders/infineon.py
Labels: hotfix, scripts

#11346 Fix issues with Shell app example
  examples/platform/efr32/project_include/OpenThreadConfig.h
  examples/shell/efr32/BUILD.gn
  examples/shell/efr32/src/main.cpp
  examples/shell/shell_common/cmd_send.cpp
  src/lib/shell/commands/Dns.cpp
  src/platform/EFR32/CHIPDevicePlatformConfig.h
  src/platform/OpenThread/GenericThreadStackManagerImpl_OpenThread.cpp
Labels: examples, platform, efr32, openthread, lib, review - approved

#11395 Disable WiFi/BT for qemu_esp32
  config/esp32/components/chip/Kconfig
  src/include/platform/PlatformManager.h
  src/include/platform/internal/GenericPlatformManagerImpl_FreeRTOS.cpp
  src/platform/ESP32/CHIPPlatformConfig.h
  src/platform/ESP32/ConnectivityManagerImpl.h
  src/platform/ESP32/PlatformManagerImpl.cpp
  src/platform/Zephyr/PlatformManagerImpl.h
  src/system/tests/TestSystemPacketBuffer.cpp
  src/test_driver/esp32/main/main_app.cpp
  src/test_driver/esp32/sdkconfig_qemu.defaults
Labels: system, platform, esp32, zephyr, config, review - approved, fast track

#11381 Use of external storage in Bridged Actions cluster
  examples/all-clusters-app/all-clusters-common/all-clusters-app.zap
  examples/all-clusters-app/linux/BUILD.gn
  examples/all-clusters-app/linux/include/bridged-actions-stub.cpp
  src/controller/data_model/controller-clusters.zap
  zzz_generated/all-clusters-app/zap-generated/endpoint_config.h
Labels: examples, controller, review - approved

#11407 Remove unpaired pragma diagnostic pop.
  src/app/zap-templates/templates/app/CHIPClientCallbacks-src.zapt
  zzz_generated/controller-clusters/zap-generated/CHIPClientCallbacks.cpp
  zzz_generated/tv-app/zap-generated/CHIPClientCallbacks.cpp
Labels: app, review - pending, fast track

#11356 Add script for android-emulator Docker image build/push
  scripts/helpers/cirque_android_docker_build.sh
Labels: scripts, review - approved, fast track

#11115 [im] Fix wildcard path support per spec
  src/app/ClusterInfo.h
  src/app/EventManagement.cpp
  src/app/InteractionModelEngine.cpp
  src/app/MessageDef/AttributePath.h
  src/app/MessageDef/Parser.h
  src/app/ReadClient.cpp
  src/app/ReadHandler.cpp
  src/app/WriteHandler.cpp
  src/app/reporting/Engine.cpp
  src/app/tests/TestClusterInfo.cpp
  src/app/tests/TestInteractionModelEngine.cpp
  src/app/tests/TestReadInteraction.cpp
  src/app/tests/integration/chip_im_responder.cpp
  src/app/util/ember-compatibility-functions.cpp
Labels: controller, app, review - pending, fast track

#11350 Updated CD Device Type Id field to 32-bits to match the spec change.
  src/credentials/CertificationDeclaration.h
  src/credentials/tests/TestCertificationDeclaration.cpp
Labels: review - approved

#11349 Update the Darwin APIs to use the rendezvous transport agnostic pairing API
  src/darwin/CHIPTool/CHIPTool/Info.plist
  src/darwin/CHIPTool/CHIPTool/View Controllers/QRCode/QRCodeViewController.m
  src/darwin/CHIPTool/CHIPTool/View Controllers/Temperature Sensor/TemperatureSensorViewController.m
  src/darwin/Framework/CHIP/CHIPDeviceController.h
  src/darwin/Framework/CHIP/CHIPDeviceController.mm
Labels: darwin, review - pending, fast track

#11318 [android] Use attribute subscriptions in sensors screen
  src/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/clusterclient/SensorClientFragment.kt
  src/android/CHIPTool/app/src/main/res/values/strings.xml
  src/app/InteractionModelEngine.cpp
  src/app/InteractionModelEngine.h
  src/app/ReadClient.cpp
  src/app/ReadClient.h
  src/controller/CHIPDevice.cpp
  src/controller/CHIPDevice.h
  src/controller/java/CHIPDeviceController-JNI.cpp
  src/controller/java/src/chip/devicecontroller/ChipDeviceController.java
Labels: controller, android, app, review - approved

#11314 Add switching between fast and slow polling interval for SED
  config/zephyr/Kconfig
  examples/lighting-app/efr32/include/AppConfig.h
  examples/lighting-app/nxp/k32w/k32w0/main/include/app_config.h
  examples/lighting-app/qpg/include/AppConfig.h
  examples/lock-app/cc13x2x7_26x2x7/main/AppTask.cpp
  examples/lock-app/cc13x2x7_26x2x7/main/include/CHIPProjectConfig.h
  examples/lock-app/efr32/include/AppConfig.h
  examples/lock-app/nrfconnect/main/include/CHIPProjectConfig.h
  examples/lock-app/nrfconnect/main/main.cpp
  examples/lock-app/nrfconnect/overlay-low_power.conf
  examples/lock-app/nxp/k32w/k32w0/include/CHIPProjectConfig.h
  examples/lock-app/nxp/k32w/k32w0/main/main.cpp
  examples/lock-app/qpg/include/AppConfig.h
  examples/pump-app/cc13x2x7_26x2x7/main/AppTask.cpp
  examples/pump-app/cc13x2x7_26x2x7/main/include/CHIPProjectConfig.h
  examples/pump-controller-app/cc13x2x7_26x2x7/main/AppTask.cpp
  examples/pump-controller-app/cc13x2x7_26x2x7/main/include/CHIPProjectConfig.h
  examples/shell/efr32/include/AppConfig.h
  examples/shell/nxp/k32w/k32w0/main/include/app_config.h
  src/app/server/CommissioningWindowManager.cpp
  src/app/server/Dnssd.cpp
  src/include/platform/CHIPDeviceConfig.h
  src/include/platform/CHIPDeviceEvent.h
  src/include/platform/ConnectivityManager.h
  src/include/platform/ThreadStackManager.h
  src/include/platform/internal/GenericConnectivityManagerImpl_NoThread.h
  src/include/platform/internal/GenericConnectivityManagerImpl_Thread.h
  src/include/platform/internal/GenericPlatformManagerImpl.cpp
  src/lib/dnssd/Advertiser_ImplMinimalMdns.cpp
  src/lib/dnssd/Discovery_ImplPlatform.cpp
  src/messaging/ExchangeContext.cpp
  src/messaging/ExchangeContext.h
  src/platform/BUILD.gn
  src/platform/Linux/ThreadStackManagerImpl.cpp
  src/platform/Linux/ThreadStackManagerImpl.h
  src/platform/OpenThread/GenericThreadStackManagerImpl_OpenThread.cpp
  src/platform/OpenThread/GenericThreadStackManagerImpl_OpenThread.h
  src/platform/nrfconnect/CHIPDevicePlatformConfig.h
Labels: examples, lib, app, config, review - approved

#11073 Fix EFR32 unit test
  examples/common/pigweed/BUILD.gn
  integrations/cloudbuild/smoke-test.yaml
  scripts/build/build/targets.py
  scripts/build/builders/efr32.py
  scripts/build/testdata/all_targets_except_host.txt
  scripts/build/testdata/build_all_except_host.txt
  scripts/build/testdata/glob_star_targets_except_host.txt
  src/BUILD.gn
  src/app/tests/BUILD.gn
  src/messaging/tests/BUILD.gn
  src/test_driver/efr32/BUILD.gn
  src/test_driver/efr32/py/BUILD.gn
  src/test_driver/efr32/py/nl_test_runner/nl_test_runner.py
Labels: examples, scripts, integrations, app, review - approved

#11322 [Tests Suites] Add build time configurable PICS
  src/app/tests/suites/certification/PICS.yaml
  src/app/zap-templates/common/ClusterTestGeneration.js
Labels: app, review - pending, fast track

#11143 Fix some alerts from the LGTM system
  scripts/tools/memory/memdf/df.py
  scripts/tools/memory/report_summary.py
  src/controller/python/chip/ChipBleUtility.py
  src/controller/python/chip/ChipBluezMgr.py
  src/controller/python/chip/ChipCommissionableNodeCtrl.py
  src/controller/python/chip/ChipCoreBluetoothMgr.py
  src/controller/python/chip/ChipDeviceCtrl.py
  src/controller/python/chip/ChipStack.py
  src/controller/python/chip/ChipUtility.py
  src/controller/python/chip/ble/library_handle.py
  src/controller/python/chip/clusters/Command.py
  src/controller/python/chip/clusters/__init__.py
  src/controller/python/chip/interaction_model/__init__.py
  src/controller/python/chip/interaction_model/delegate.py
Labels: scripts, controller, review - approved, fast track

#11397 Add a TestCluster response command that just returns a boolean.
  src/app/clusters/test-cluster-server/test-cluster-server.cpp
  src/app/tests/suites/TestClusterComplexTypes.yaml
  src/app/zap-templates/zcl/data-model/chip/test-cluster.xml
  src/controller/data_model/controller-clusters.zap
  src/controller/java/zap-generated/CHIPClusters-JNI.cpp
  src/controller/java/zap-generated/chip/devicecontroller/ChipClusters.java
  src/controller/java/zap-generated/chip/devicecontroller/ClusterInfoMapping.java
  src/controller/python/chip/clusters/Objects.py
  src/darwin/Framework/CHIP/zap-generated/CHIPCallbackBridge.mm
  src/darwin/Framework/CHIP/zap-generated/CHIPCallbackBridge_internal.h
  src/darwin/Framework/CHIP/zap-generated/CHIPClustersObjc.mm
  zzz_generated/app-common/app-common/zap-generated/callback.h
  zzz_generated/app-common/app-common/zap-generated/cluster-objects.cpp
  zzz_generated/app-common/app-common/zap-generated/cluster-objects.h
  zzz_generated/app-common/app-common/zap-generated/command-id.h
  zzz_generated/app-common/app-common/zap-generated/ids/Commands.h
  zzz_generated/chip-tool/zap-generated/cluster/Commands.h
  zzz_generated/chip-tool/zap-generated/test/Commands.h
  zzz_generated/controller-clusters/zap-generated/CHIPClientCallbacks.cpp
  zzz_generated/controller-clusters/zap-generated/CHIPClientCallbacks.h
  zzz_generated/controller-clusters/zap-generated/CHIPClustersInvoke.cpp
  zzz_generated/controller-clusters/zap-generated/IMClusterCommandHandler.cpp
Labels: darwin, controller, app, review - pending, fast track

#11426 [K32W0] Fix deprecated links
  examples/lighting-app/nxp/k32w/k32w0/README.md
  examples/lock-app/nxp/k32w/k32w0/README.md
  examples/shell/nxp/k32w/k32w0/README.md
Labels: examples, review - approved

#11436 Revert "Fix some alerts from the LGTM system (#11143)"
  scripts/tools/memory/memdf/df.py
  scripts/tools/memory/report_summary.py
  src/controller/python/chip/ChipBleUtility.py
  src/controller/python/chip/ChipBluezMgr.py
  src/controller/python/chip/ChipCommissionableNodeCtrl.py
  src/controller/python/chip/ChipCoreBluetoothMgr.py
  src/controller/python/chip/ChipDeviceCtrl.py
  src/controller/python/chip/ChipStack.py
  src/controller/python/chip/ChipUtility.py
  src/controller/python/chip/ble/library_handle.py
  src/controller/python/chip/clusters/Command.py
  src/controller/python/chip/clusters/__init__.py
  src/controller/python/chip/interaction_model/__init__.py
  src/controller/python/chip/interaction_model/delegate.py
Labels: hotfix, scripts, controller

#11392 Fix Descriptor cluster when linking statically.
  examples/all-clusters-app/esp32/main/CMakeLists.txt
  examples/all-clusters-app/mbed/CMakeLists.txt
  src/app/clusters/account-login-server/account-login-server.cpp
  src/app/clusters/administrator-commissioning-server/administrator-commissioning-server.cpp
  src/app/clusters/application-basic-server/application-basic-server.cpp
  src/app/clusters/application-launcher-server/application-launcher-server.cpp
  src/app/clusters/audio-output-server/audio-output-server.cpp
  src/app/clusters/barrier-control-server/barrier-control-server.cpp
  src/app/clusters/basic/basic.cpp
  src/app/clusters/bindings/bindings.cpp
  src/app/clusters/color-control-server/color-control-server.cpp
  src/app/clusters/content-launch-server/content-launch-server.cpp
  src/app/clusters/diagnostic-logs-server/diagnostic-logs-server.cpp
  src/app/clusters/door-lock-server/door-lock-server-core.cpp
  src/app/clusters/ethernet_network_diagnostics_server/ethernet_network_diagnostics_server.cpp
  src/app/clusters/general-commissioning-server/general-commissioning-server.cpp
  src/app/clusters/groups-server/groups-server.cpp
  src/app/clusters/ias-zone-server/ias-zone-server.cpp
  src/app/clusters/identify-server/identify-server.cpp
  src/app/clusters/keypad-input-server/keypad-input-server.cpp
  src/app/clusters/level-control/level-control.cpp
  src/app/clusters/low-power-server/low-power-server.cpp
  src/app/clusters/media-input-server/media-input-server.cpp
  src/app/clusters/media-playback-server/media-playback-server.cpp
  src/app/clusters/network-commissioning/network-commissioning-ember.cpp
  src/app/clusters/occupancy-sensor-server/occupancy-sensor-server.cpp
  src/app/clusters/on-off-server/on-off-server.cpp
  src/app/clusters/ota-provider/ota-provider.cpp
  src/app/clusters/pump-configuration-and-control-server/pump-configuration-and-control-server.cpp
  src/app/clusters/scenes/scenes.cpp
  src/app/clusters/target-navigator-server/target-navigator-server.cpp
  src/app/clusters/thermostat-server/thermostat-server.cpp
  src/app/clusters/tv-channel-server/tv-channel-server.cpp
  src/app/clusters/window-covering-server/window-covering-server.cpp
  src/app/util/util.cpp
  src/app/zap-templates/templates/app/callbacks/PluginCallbacks.zapt
  zzz_generated/app-common/app-common/zap-generated/callbacks/PluginCallbacks.h
Labels: examples, app, review - approved

#11445 Revert "Fix Descriptor cluster when linking statically. (#11392)"
  examples/all-clusters-app/esp32/main/CMakeLists.txt
  examples/all-clusters-app/mbed/CMakeLists.txt
  src/app/clusters/account-login-server/account-login-server.cpp
  src/app/clusters/administrator-commissioning-server/administrator-commissioning-server.cpp
  src/app/clusters/application-basic-server/application-basic-server.cpp
  src/app/clusters/application-launcher-server/application-launcher-server.cpp
  src/app/clusters/audio-output-server/audio-output-server.cpp
  src/app/clusters/barrier-control-server/barrier-control-server.cpp
  src/app/clusters/basic/basic.cpp
  src/app/clusters/bindings/bindings.cpp
  src/app/clusters/color-control-server/color-control-server.cpp
  src/app/clusters/content-launch-server/content-launch-server.cpp
  src/app/clusters/diagnostic-logs-server/diagnostic-logs-server.cpp
  src/app/clusters/door-lock-server/door-lock-server-core.cpp
  src/app/clusters/ethernet_network_diagnostics_server/ethernet_network_diagnostics_server.cpp
  src/app/clusters/general-commissioning-server/general-commissioning-server.cpp
  src/app/clusters/groups-server/groups-server.cpp
  src/app/clusters/ias-zone-server/ias-zone-server.cpp
  src/app/clusters/identify-server/identify-server.cpp
  src/app/clusters/keypad-input-server/keypad-input-server.cpp
  src/app/clusters/level-control/level-control.cpp
  src/app/clusters/low-power-server/low-power-server.cpp
  src/app/clusters/media-input-server/media-input-server.cpp
  src/app/clusters/media-playback-server/media-playback-server.cpp
  src/app/clusters/network-commissioning/network-commissioning-ember.cpp
  src/app/clusters/occupancy-sensor-server/occupancy-sensor-server.cpp
  src/app/clusters/on-off-server/on-off-server.cpp
  src/app/clusters/ota-provider/ota-provider.cpp
  src/app/clusters/pump-configuration-and-control-server/pump-configuration-and-control-server.cpp
  src/app/clusters/scenes/scenes.cpp
  src/app/clusters/target-navigator-server/target-navigator-server.cpp
  src/app/clusters/thermostat-server/thermostat-server.cpp
  src/app/clusters/tv-channel-server/tv-channel-server.cpp
  src/app/clusters/window-covering-server/window-covering-server.cpp
  src/app/util/util.cpp
  src/app/zap-templates/templates/app/callbacks/PluginCallbacks.zapt
  zzz_generated/app-common/app-common/zap-generated/callbacks/PluginCallbacks.h
Labels: examples, hotfix, app

#11405 [Android] Switch fragment coroutine scopes to use lifecycleScope
  src/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/clusterclient/BasicClientFragment.kt
  src/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/clusterclient/MultiAdminClientFragment.kt
  src/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/clusterclient/OnOffClientFragment.kt
  src/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/clusterclient/OpCredClientFragment.kt
  src/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/clusterclient/SensorClientFragment.kt
  src/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/clusterclient/clusterinteraction/ClusterDetailFragment.kt
  src/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/clusterclient/clusterinteraction/ClusterInteractionFragment.kt
  src/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/provisioning/DeviceProvisioningFragment.kt
  src/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/provisioning/EnterNetworkFragment.kt
Labels: android, review - pending, fast track

#11435 Increase CASE timeout to fix CI failures
  src/protocols/secure_channel/CASESession.cpp
Labels: review - pending, fast track

#11404 Fix chip-tool logging to work for various interesting data types.
  examples/chip-tool/templates/commands.zapt
  zzz_generated/chip-tool/zap-generated/cluster/Commands.h
Labels: examples, review - pending, fast track

#11452 Include the bridged actions stub in all-clusters-app on all platforms.
  examples/all-clusters-app/all-clusters-common/src/bridged-actions-stub.cpp
  examples/all-clusters-app/ameba/chip_main.cmake
  examples/all-clusters-app/esp32/main/CMakeLists.txt
  examples/all-clusters-app/linux/BUILD.gn
  examples/all-clusters-app/mbed/CMakeLists.txt
  examples/all-clusters-app/p6/BUILD.gn
Labels: examples, review - approved

#11455 Bump timeout on the "Build example lighting app with RPCs" test.
  .github/workflows/examples-linux-standalone.yaml
Labels: hotfix, github, workflows, review - pending

#11443 Increase delta between two retries for the Case session for efr32
  examples/lighting-app/efr32/include/CHIPProjectConfig.h
  examples/lock-app/efr32/include/CHIPProjectConfig.h
  examples/window-app/efr32/include/CHIPProjectConfig.h
Labels: examples, review - pending, fast track

#11409 Update/Rename AttributePath/AttributePaths/AttributeStatus/AttributeStatuses/WriteResponseMessage, new tag(TagCompression)
  src/app/BUILD.gn
  src/app/MessageDef/AttributeDataElement.cpp
  src/app/MessageDef/AttributeDataElement.h
  src/app/MessageDef/AttributePath.cpp
  src/app/MessageDef/AttributePath.h
  src/app/MessageDef/AttributePathIB.cpp
  src/app/MessageDef/AttributePathIB.h
  src/app/MessageDef/AttributePathList.cpp
  src/app/MessageDef/AttributePaths.cpp
  src/app/MessageDef/AttributePaths.h
  src/app/MessageDef/AttributeStatusIB.cpp
  src/app/MessageDef/AttributeStatusIB.h
  src/app/MessageDef/AttributeStatuses.cpp
  src/app/MessageDef/AttributeStatuses.h
  src/app/MessageDef/ReadRequestMessage.cpp
  src/app/MessageDef/ReadRequestMessage.h
  src/app/MessageDef/SubscribeRequestMessage.cpp
  src/app/MessageDef/SubscribeRequestMessage.h
  src/app/MessageDef/WriteRequestMessage.h
  src/app/MessageDef/WriteResponseMessage.cpp
  src/app/MessageDef/WriteResponseMessage.h
  src/app/ReadClient.cpp
  src/app/ReadClient.h
  src/app/ReadHandler.cpp
  src/app/ReadHandler.h
  src/app/WriteClient.cpp
  src/app/WriteHandler.cpp
  src/app/reporting/Engine.cpp
  src/app/tests/TestMessageDef.cpp
  src/app/tests/TestReadInteraction.cpp
  src/app/tests/TestReportingEngine.cpp
  src/app/tests/TestWriteInteraction.cpp
Labels: app, review - approved

#11453 Fix Descriptor cluster when linking statically.
  examples/all-clusters-app/esp32/main/CMakeLists.txt
  examples/all-clusters-app/mbed/CMakeLists.txt
  src/app/clusters/account-login-server/account-login-server.cpp
  src/app/clusters/administrator-commissioning-server/administrator-commissioning-server.cpp
  src/app/clusters/application-basic-server/application-basic-server.cpp
  src/app/clusters/application-launcher-server/application-launcher-server.cpp
  src/app/clusters/audio-output-server/audio-output-server.cpp
  src/app/clusters/barrier-control-server/barrier-control-server.cpp
  src/app/clusters/basic/basic.cpp
  src/app/clusters/bindings/bindings.cpp
  src/app/clusters/color-control-server/color-control-server.cpp
  src/app/clusters/content-launch-server/content-launch-server.cpp
  src/app/clusters/diagnostic-logs-server/diagnostic-logs-server.cpp
  src/app/clusters/door-lock-server/door-lock-server-core.cpp
  src/app/clusters/ethernet_network_diagnostics_server/ethernet_network_diagnostics_server.cpp
  src/app/clusters/general-commissioning-server/general-commissioning-server.cpp
  src/app/clusters/groups-server/groups-server.cpp
  src/app/clusters/ias-zone-server/ias-zone-server.cpp
  src/app/clusters/identify-server/identify-server.cpp
  src/app/clusters/keypad-input-server/keypad-input-server.cpp
  src/app/clusters/level-control/level-control.cpp
  src/app/clusters/low-power-server/low-power-server.cpp
  src/app/clusters/media-input-server/media-input-server.cpp
  src/app/clusters/media-playback-server/media-playback-server.cpp
  src/app/clusters/network-commissioning/network-commissioning-ember.cpp
  src/app/clusters/occupancy-sensor-server/occupancy-sensor-server.cpp
  src/app/clusters/on-off-server/on-off-server.cpp
  src/app/clusters/ota-provider/ota-provider.cpp
  src/app/clusters/pump-configuration-and-control-server/pump-configuration-and-control-server.cpp
  src/app/clusters/scenes/scenes.cpp
  src/app/clusters/target-navigator-server/target-navigator-server.cpp
  src/app/clusters/thermostat-server/thermostat-server.cpp
  src/app/clusters/tv-channel-server/tv-channel-server.cpp
  src/app/clusters/window-covering-server/window-covering-server.cpp
  src/app/util/util.cpp
  src/app/zap-templates/templates/app/callbacks/PluginCallbacks.zapt
  zzz_generated/app-common/app-common/zap-generated/callbacks/PluginCallbacks.h
Labels: examples, app, review - pending, fast track

#11446 Disable Thermostat Clusters attribute tests from Darwin
  src/darwin/Framework/CHIP/templates/clusters-tests.zapt
  src/darwin/Framework/CHIPTests/CHIPClustersTests.m
Labels: darwin, review - approved, TE7, TE7 cherrypick

#11361 Pull up LayerLwIP::ScheduleLambda to SystemLayer
  src/include/platform/CHIPDeviceEvent.h
  src/include/platform/PlatformManager.h
  src/include/platform/internal/GenericPlatformManagerImpl.cpp
  src/include/platform/internal/GenericPlatformManagerImpl_FreeRTOS.cpp
  src/include/platform/internal/GenericPlatformManagerImpl_FreeRTOS.h
  src/include/platform/internal/GenericPlatformManagerImpl_Zephyr.cpp
  src/include/platform/internal/GenericPlatformManagerImpl_Zephyr.h
  src/lib/support/LambdaBridge.h
  src/platform/BUILD.gn
  src/platform/PlatformEventSupport.cpp
  src/platform/fake/PlatformManagerImpl.h
  src/system/BUILD.gn
  src/system/PlatformEventSupport.h
  src/system/SystemLayer.cpp
  src/system/SystemLayer.h
  src/system/SystemLayerImplLwIP.cpp
  src/system/SystemLayerImplLwIP.h
  src/system/tests/BUILD.gn
  src/system/tests/TestSystemScheduleLambda.cpp
Labels: system, platform, darwin, esp32, zephyr, lib, config, review - approved

#11432 Update vscode with latest build_examples.py targets
  .vscode/tasks.json
Labels: vscode, fast track

#11437 Add BLE shutdown, make linux free up scanning upon shutdown
  src/include/platform/internal/BLEManager.h
  src/include/platform/internal/GenericPlatformManagerImpl.cpp
  src/platform/Ameba/BLEManagerImpl.h
  src/platform/Darwin/BLEManagerImpl.h
  src/platform/EFR32/BLEManagerImpl.h
  src/platform/ESP32/BLEManagerImpl.h
  src/platform/Linux/BLEManagerImpl.cpp
  src/platform/Linux/BLEManagerImpl.h
  src/platform/P6/BLEManagerImpl.h
  src/platform/Tizen/BLEManagerImpl.h
  src/platform/Zephyr/BLEManagerImpl.h
  src/platform/android/BLEManagerImpl.h
  src/platform/cc13x2_26x2/BLEManagerImpl.h
  src/platform/mbed/BLEManagerImpl.h
  src/platform/nxp/k32w/k32w0/BLEManagerImpl.h
  src/platform/qpg/BLEManagerImpl.h
Labels: scripts, platform, darwin, efr32, esp32, linux, zephyr, review - approved

#11441 Add header validity check for group and MCSP msg
  src/transport/SessionManager.cpp
  src/transport/raw/MessageHeader.h
  src/transport/raw/tests/TestMessageHeader.cpp
Labels: transport, review - approved

#11449 Convert TimeSource to safer Clock types
  src/app/server/Dnssd.cpp
  src/app/server/Dnssd.h
  src/lib/dnssd/Discovery_ImplPlatform.cpp
  src/lib/dnssd/DnssdCache.h
  src/lib/dnssd/tests/TestDnssdCache.cpp
  src/protocols/user_directed_commissioning/UDCClientState.h
  src/protocols/user_directed_commissioning/UDCClients.h
  src/protocols/user_directed_commissioning/tests/TestUdcMessages.cpp
  src/system/TimeSource.h
  src/system/tests/TestTimeSource.cpp
  src/transport/SecureSession.h
  src/transport/SecureSessionTable.h
  src/transport/UnauthenticatedSessionTable.h
  src/transport/tests/TestPeerConnections.cpp
Labels: transport, system, lib, app, review - approved

#11447 Fix potential leak in TCPEndPoint::LwIPHandleDataReceived
  src/inet/TCPEndPoint.cpp
Labels: inet, review - approved

#11450 Remove unused Microseconds from System::Clock
  src/lib/dnssd/minimal_mdns/tests/TestActiveResolveAttempts.cpp
  src/platform/ESP32/SystemTimeSupport.cpp
  src/platform/FreeRTOS/SystemTimeSupport.cpp
  src/platform/Linux/SystemTimeSupport.cpp
  src/platform/Zephyr/SystemTimeSupport.cpp
  src/platform/mbed/SystemTimeSupport.cpp
  src/platform/tests/TestPlatformTime.cpp
  src/system/SystemClock.cpp
  src/system/SystemClock.h
  src/system/tests/TestSystemClock.cpp
Labels: system, platform, esp32, freeRTOS, linux, zephyr, lib, review - approved

#11481 Revert "Remove Microseconds from System::Clock (#11450)"
  src/lib/dnssd/minimal_mdns/tests/TestActiveResolveAttempts.cpp
  src/platform/ESP32/SystemTimeSupport.cpp
  src/platform/FreeRTOS/SystemTimeSupport.cpp
  src/platform/Linux/SystemTimeSupport.cpp
  src/platform/Zephyr/SystemTimeSupport.cpp
  src/platform/mbed/SystemTimeSupport.cpp
  src/platform/tests/TestPlatformTime.cpp
  src/system/SystemClock.cpp
  src/system/SystemClock.h
  src/system/tests/TestSystemClock.cpp
Labels: hotfix, system, platform, esp32, freeRTOS, linux, zephyr, lib

#11390 Update session handle for Group message
  src/messaging/ExchangeContext.cpp
  src/messaging/ExchangeMgr.cpp
  src/transport/SessionHandle.h
  src/transport/SessionManager.cpp
Labels: transport, review - approved

#11483 Size reports: Fix stale-commit determination
  scripts/tools/memory/gh_report.py
Labels: scripts, review - pending, fast track

#11484 [test_event_6.lts]Inject nodeId from subscribed path to path set by SetDirty
  src/app/reporting/Engine.cpp
Labels: app

#11482 Remove TestIdentity
  config/esp32/components/chip/Kconfig
  config/python/CHIPProjectConfig.h
  config/standalone/CHIPProjectConfig.h
  examples/all-clusters-app/p6/include/CHIPProjectConfig.h
  examples/lighting-app/efr32/include/CHIPProjectConfig.h
  examples/lighting-app/nxp/k32w/k32w0/include/CHIPProjectConfig.h
  examples/lock-app/cc13x2x7_26x2x7/main/include/CHIPProjectConfig.h
  examples/lock-app/efr32/include/CHIPProjectConfig.h
  examples/lock-app/nxp/k32w/k32w0/include/CHIPProjectConfig.h
  examples/lock-app/p6/include/CHIPProjectConfig.h
  examples/persistent-storage/cc13x2x7_26x2x7/include/CHIPProjectConfig.h
  examples/persistent-storage/efr32/include/CHIPProjectConfig.h
  examples/pigweed-app/efr32/include/CHIPProjectConfig.h
  examples/platform/qpg/project_include/CHIPProjectConfig.h
  examples/pump-app/cc13x2x7_26x2x7/main/include/CHIPProjectConfig.h
  examples/pump-controller-app/cc13x2x7_26x2x7/main/include/CHIPProjectConfig.h
  examples/shell/efr32/include/CHIPProjectConfig.h
  examples/shell/mbed/main/include/CHIPProjectConfig.h
  examples/shell/nxp/k32w/k32w0/include/CHIPProjectConfig.h
  examples/window-app/efr32/include/CHIPProjectConfig.h
  src/include/platform/CHIPDeviceConfig.h
  src/include/platform/internal/CHIPDeviceLayerInternal.h
  src/platform/Ameba/CHIPDevicePlatformConfig.h
  src/platform/BUILD.gn
  src/platform/ESP32/CHIPDevicePlatformConfig.h
  src/platform/TestIdentity.cpp
  src/test_driver/efr32/include/CHIPProjectConfig.h
Labels: examples, platform, esp32, config, review - approved

#11461 Add async message dispatch to loopback
  src/app/tests/AppTestContext.h
  src/controller/tests/data_model/TestCommands.cpp
  src/controller/tests/data_model/TestRead.cpp
  src/controller/tests/data_model/TestWrite.cpp
  src/transport/TransportMgr.h
  src/transport/raw/Tuple.h
  src/transport/raw/tests/NetworkTestHelpers.h
Labels: transport, controller, app, review - pending, fast track

#11472 [Group] Add Ack check in group msg
  src/transport/SessionManager.cpp
Labels: transport, review - approved

#11457 Make attribute-write yaml tests play nicer with complex types.
  examples/chip-tool/templates/partials/test_cluster.zapt
  src/app/zap-templates/common/ClusterTestGeneration.js
  src/app/zap-templates/common/ClustersHelper.js
  src/darwin/Framework/CHIPTests/CHIPClustersTests.m
  zzz_generated/chip-tool/zap-generated/test/Commands.h
Labels: examples, darwin, app, review - approved

#11460 Switch yaml tests to use ClusterBase::WriteAttribute for attribute write.
  examples/chip-tool/templates/partials/test_cluster.zapt
  src/app/WriteClient.h
  src/app/chip_data_model.gni
  src/app/tests/suites/templates/templates.json
  src/app/zap-templates/common/ClusterTestGeneration.js
  src/app/zap-templates/templates/app/tests/CHIPClustersWrite-src.zapt
  src/controller/data_model/BUILD.gn
  src/darwin/Framework/CHIP.xcodeproj/project.pbxproj
  zzz_generated/chip-tool/zap-generated/test/Commands.h
  zzz_generated/controller-clusters/zap-generated/tests/CHIPClustersTestWrite.cpp
Labels: examples, darwin, controller, app, review - approved

#11487 Migrate System::Timer to BitMapObjectPool
  src/system/SystemTimer.cpp
  src/system/SystemTimer.h
Labels: system, review - approved

#11493 Increase MRP timeouts for Darwin to accomodate CI slowness
  src/platform/Darwin/CHIPPlatformConfig.h
Labels: platform, darwin, review - pending, fast track

#11486 Added a build argument to be able to change time delta between two retries during case session
  scripts/build_python.sh
  src/messaging/BUILD.gn
Labels: scripts, review - pending, fast track

#11496 Support empty lists in yaml tests.
  examples/chip-tool/templates/partials/test_cluster.zapt
  examples/chip-tool/templates/partials/test_cluster_command_value.zapt
  src/app/tests/suites/TestClusterComplexTypes.yaml
  zzz_generated/chip-tool/zap-generated/test/Commands.h
Labels: examples, app, review - pending, fast track

#11473 RPC: Improve setup instructions for ESP
  examples/all-clusters-app/esp32/README.md
Labels: examples, fast track

#11467 [Mbed] ConnectivityManager improvements
  src/platform/mbed/ConnectivityManagerImpl.cpp
Labels: platform, review - pending, fast track

#11398 [darwin] Fix build failure for ios simulator (#9559).
  build/toolchain/ios/BUILD.gn
Labels: darwin, review - pending, fast track

#11371 Separate ObjectPool into static and dynamic parts
  src/system/SystemObject.h
Labels: system, review - approved

#11354 Cluster command detail page
  src/android/CHIPTool/.idea/misc.xml
  src/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/clusterclient/clusterinteraction/ClusterDetailFragment.kt
  src/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/clusterclient/clusterinteraction/ClusterInteractionFragment.kt
  src/android/CHIPTool/app/src/main/res/layout/cluster_callback_item.xml
  src/android/CHIPTool/app/src/main/res/layout/cluster_detail_fragment.xml
  src/android/CHIPTool/app/src/main/res/layout/cluster_parameter_item.xml
  src/android/CHIPTool/app/src/main/res/values/strings.xml
  src/controller/java/BUILD.gn
  src/controller/java/src/chip/clusterinfo/ClusterCommandCallback.java
  src/controller/java/src/chip/clusterinfo/CommandResponseInfo.java
  src/controller/java/templates/ClusterInfo-java.zapt
  src/controller/java/zap-generated/chip/devicecontroller/ClusterInfoMapping.java
Labels: controller, android, review - pending, fast track

#10937 Improve nRF Connect Docker image used by Build example - nRF Connect SDK workflow
  integrations/docker/images/chip-build-nrf-platform/Dockerfile
  integrations/docker/images/chip-build/version
Labels: integrations, review - pending, fast track

#11512 Upload application logs to artifacts from test_suites
  .github/workflows/tests.yaml
  scripts/tests/test_suites.sh
  src/platform/Darwin/CHIPPlatformConfig.h
Labels: scripts, platform, darwin, github, workflows, review - pending, fast track

#11500 Inject nodeId from subscribed path to path set by SetDirty
  src/app/reporting/Engine.cpp
Labels: app, review - approved

#11517 Adding BooleanState Yaml test cases and update
  examples/chip-tool/templates/tests.js
  src/app/tests/suites/certification/Test_TC_BOOL_1_1.yaml
  src/app/tests/suites/certification/Test_TC_BOOL_2_1.yaml
  src/darwin/Framework/CHIP/templates/tests.js
  src/darwin/Framework/CHIPTests/CHIPClustersTests.m
  zzz_generated/chip-tool/zap-generated/test/Commands.h
Labels: examples, darwin, app, review - pending, fast track

#11458 ci: Update ESP-IDF version to v4.4 in docker
  integrations/docker/images/chip-build-esp32/Dockerfile
  integrations/docker/images/chip-build/version
Labels: integrations, review - pending, fast track

#11529 Adding a dockerfile for a doxygen builder image
  integrations/docker/images/chip-build-doxygen/Dockerfile
  integrations/docker/images/chip-build-doxygen/build.sh
  integrations/docker/images/chip-build-doxygen/run.sh
  integrations/docker/images/chip-build-doxygen/version
Labels: hotfix, integrations

#11402 Pigweed Console default timeout
  examples/common/pigweed/rpc_console/py/chip_rpc/console.py
Labels: examples, review - approved

#11522 [CI] Placeholder app segfault after commissioning complete event is r…
  examples/placeholder/linux/main.cpp
Labels: examples, review - pending, fast track

#11428 Inet/(TCP/UDP)Endpoints: Migrate from SystemPool to BitMapObjectPool
  src/app/tests/integration/chip_im_initiator.cpp
  src/app/tests/integration/chip_im_responder.cpp
  src/include/platform/CHIPDeviceEvent.h
  src/include/platform/internal/GenericPlatformManagerImpl.cpp
  src/include/platform/internal/GenericPlatformManagerImpl.h
  src/inet/BUILD.gn
  src/inet/EndPointBasis.cpp
  src/inet/EndPointBasis.h
  src/inet/Inet.h
  src/inet/InetInterface.cpp
  src/inet/InetLayer.cpp
  src/inet/InetLayer.h
  src/inet/InetLayerEvents.h
  src/inet/TCPEndPoint.cpp
  src/inet/TCPEndPoint.h
  src/inet/UDPEndPoint.cpp
  src/inet/UDPEndPoint.h
  src/inet/tests/TestInetLayerCommon.hpp
  src/lib/core/ReferenceCounted.h
  src/messaging/tests/echo/echo_requester.cpp
  src/messaging/tests/echo/echo_responder.cpp
  src/platform/PlatformEventSupport.cpp
  src/system/PlatformEventSupport.h
  src/system/SystemLayer.h
  src/system/SystemLayerImplLwIP.cpp
  src/system/SystemLayerImplLwIP.h
Labels: system, platform, darwin, lib, inet, app, review - approved

#11459 [IM] Update AttributePathParams for encoding a path with wildcard paths
  src/app/AttributePathParams.cpp
  src/app/AttributePathParams.h
  src/app/BUILD.gn
  src/app/ClusterInfo.h
  src/app/ReadClient.cpp
  src/app/WriteClient.cpp
  src/app/WriteHandler.cpp
  src/app/tests/TestReadInteraction.cpp
  src/app/tests/TestWriteInteraction.cpp
  src/app/tests/integration/chip_im_initiator.cpp
  src/app/tests/integration/chip_im_responder.cpp
  src/app/util/ember-compatibility-functions.cpp
  src/app/zap-templates/templates/app/CHIPClusters-src.zapt
  src/controller/CHIPDevice.cpp
  zzz_generated/controller-clusters/zap-generated/CHIPClusters.cpp
  zzz_generated/lighting-app/zap-generated/CHIPClusters.cpp
  zzz_generated/ota-requestor-app/zap-generated/CHIPClusters.cpp
  zzz_generated/pump-app/zap-generated/CHIPClusters.cpp
  zzz_generated/pump-controller-app/zap-generated/CHIPClusters.cpp
  zzz_generated/thermostat/zap-generated/CHIPClusters.cpp
  zzz_generated/tv-app/zap-generated/CHIPClusters.cpp
Labels: controller, app, review - approved

#11537 Make doxygen run on a the doxygen image instead
  .github/workflows/doxygen.yaml
Labels: hotfix, github, workflows, review - pending

#11540 Fix spellchecker test in ToT
  .github/.wordlist.txt
  examples/all-clusters-app/esp32/README.md
Labels: examples, github, review - pending, fast track

#11462 Use null-terminated SerialNumber
  examples/common/pigweed/rpc_services/Device.h
  src/app/server/Dnssd.cpp
  src/include/platform/ConfigurationManager.h
  src/include/platform/internal/GenericConfigurationManagerImpl.cpp
  src/include/platform/internal/GenericConfigurationManagerImpl.h
  src/platform/Linux/bluez/Helper.cpp
  src/platform/fake/ConfigurationManagerImpl.h
  src/platform/tests/TestConfigurationMgr.cpp
Labels: examples, platform, linux, app, review - approved

#11471 Added using CRA/CRI values in the controller for MRP intervals
  src/app/server/Dnssd.cpp
  src/channel/ChannelContext.cpp
  src/controller/CHIPDevice.cpp
  src/controller/CHIPDevice.h
  src/controller/CHIPDeviceController.cpp
  src/messaging/ExchangeMgr.cpp
  src/messaging/ReliableMessageContext.cpp
  src/messaging/ReliableMessageContext.h
  src/messaging/ReliableMessageMgr.cpp
  src/messaging/ReliableMessageProtocolConfig.h
  src/messaging/tests/TestReliableMessageProtocol.cpp
  src/protocols/secure_channel/tests/TestPASESession.cpp
  src/transport/SecureSession.h
  src/transport/SessionHandle.cpp
  src/transport/SessionHandle.h
  src/transport/SessionManager.cpp
  src/transport/UnauthenticatedSessionTable.h
Labels: transport, controller, app, review - approved

#11543 Revert "Make doxygen run on a the doxygen image instead"
  .github/workflows/doxygen.yaml
Labels: hotfix, github, workflows, review - pending

#11510 Log BDX messages
  src/lib/core/BUILD.gn
  src/lib/core/CHIPConfig.h
  src/lib/core/core.gni
  src/lib/support/logging/CHIPLogging.cpp
  src/lib/support/logging/CHIPLogging.h
  src/lib/support/logging/Constants.h
  src/platform/qpg/args.gni
  src/protocols/bdx/BdxMessages.cpp
  src/protocols/bdx/BdxMessages.h
  src/protocols/bdx/BdxTransferSession.cpp
Labels: platform, lib, review - approved

#11058 Bugfix termostat user interface value validation
  examples/all-clusters-app/esp32/main/CMakeLists.txt
  examples/all-clusters-app/linux/main.cpp
  examples/all-clusters-app/mbed/CMakeLists.txt
  src/app/clusters/thermostat-user-interface-configuration-server/thermostat-user-interface-configuration-server.cpp
  src/app/zap-templates/templates/app/helper.js
  src/app/zap_cluster_list.py
  zzz_generated/all-clusters-app/zap-generated/endpoint_config.h
Labels: examples, app, review - pending, TE7 cherrypick

#11560 Change expected-value matching to a valueEquals recursive template.
  examples/chip-tool/templates/partials/test_cluster.zapt
  examples/chip-tool/templates/partials/test_cluster_value_equals.zapt
  examples/chip-tool/templates/templates.json
  examples/placeholder/templates/templates.json
Labels: examples, review - pending, fast track

#11561 Add simulated device YAML and pics to YAML
  examples/chip-tool/templates/tests.js
  examples/placeholder/linux/apps/app1/tests.js
  src/app/tests/suites/certification/PICS.yaml
  src/app/tests/suites/certification/Test_TC_DM_1_1.yaml
  src/app/tests/suites/certification/Test_TC_DM_1_3.yaml
  src/app/tests/suites/certification/Test_TC_DM_2_2.yaml
  zzz_generated/chip-tool/zap-generated/test/Commands.h
Labels: examples, app, review - pending, fast track

#11527 Chip tool add wait parameter to reportable attribute
  examples/chip-tool/templates/commands.zapt
  zzz_generated/chip-tool/zap-generated/cluster/Commands.h
Labels: examples, review - pending, fast track

#11538 Use generated headers consistently on darwin
  config/ios/SystemProjectConfig.h
  src/darwin/CHIPTool/CHIPTool.xcodeproj/project.pbxproj
  src/darwin/Framework/CHIP.xcodeproj/project.pbxproj
  src/darwin/Framework/chip_xcode_build_connector.sh
Labels: darwin, config, review - pending, fast track

#11557 Make rpc-ipv6only variant actually be ipv6 only
  scripts/build/builders/esp32.py
  scripts/build/testdata/build_all_except_host.txt
Labels: scripts, fast track

#11576 [Warnings] Fix some warnings found while compiling with xcode
  src/app/CommandSender.h
  src/app/MessageDef/AttributeDataIB.h
  src/app/MessageDef/AttributePathIB.h
  src/app/MessageDef/EventDataIB.h
  src/app/MessageDef/EventPathIB.h
  src/app/MessageDef/InvokeResponseIB.h
  src/app/ReadClient.h
  src/app/WriteClient.h
  src/inet/UDPEndPoint.h
  src/system/SystemObject.h
Labels: system, inet, app, review - pending, fast track

#11539 Split Inet::EndPoint into per-implementation files
  src/inet/BUILD.gn
  src/inet/EndPointBasis.cpp
  src/inet/EndPointBasis.h
  src/inet/EndPointBasisImplLwIP.h
  src/inet/EndPointBasisImplNetworkFramework.h
  src/inet/EndPointBasisImplSockets.h
  src/inet/inet.gni
Labels: inet, review - pending, fast track

#11525 Adding YAML Test Cases - Nov 8th
  examples/chip-tool/templates/tests.js
  src/app/tests/suites/certification/Test_TC_CC_9_1.yaml
  src/app/tests/suites/certification/Test_TC_OO_2_3.yaml
  src/app/tests/suites/certification/Test_TC_WNCV_2_2.yaml
  src/darwin/Framework/CHIP/templates/tests.js
  src/darwin/Framework/CHIPTests/CHIPClustersTests.m
  zzz_generated/chip-tool/zap-generated/test/Commands.h
Labels: examples, darwin, app, review - pending, fast track

#11566 [GeneralDiagnostics]: Reporting change of platform attributes improvement
  src/app/clusters/general_diagnostics_server/general_diagnostics_server.cpp
Labels: app, review - pending, fast track

#11463 Fix link to `the cirque test guide`
  docs/README.md
Labels: documentation, review - pending, fast track

#11587 Remove unnecessary headers from all-clusters-app main.
  examples/all-clusters-app/linux/main.cpp
Labels: examples, review - pending, fast track

#11580 fix numpy build error on apple silicon
  .github/.wordlist.txt
  docs/guides/BUILDING.md
  scripts/constraints.txt
  scripts/requirements.txt
Labels: documentation, scripts, github, review - approved

#11586 Bump timeout on Mbed pigweed-app example.
  .github/workflows/examples-mbed.yaml
Labels: github, workflows, review - pending, fast track

#11570 Fix YAML checking of return values handle lists and structs correctly
  examples/chip-tool/commands/tests/TestCommand.cpp
  examples/chip-tool/commands/tests/TestCommand.h
  examples/chip-tool/templates/partials/test_cluster_value_equals.zapt
  src/app/clusters/test-cluster-server/test-cluster-server.cpp
  src/app/tests/suites/TV_AudioOutputCluster.yaml
  src/app/tests/suites/TV_MediaInputCluster.yaml
  src/app/tests/suites/TV_TargetNavigatorCluster.yaml
  src/app/tests/suites/TV_TvChannelCluster.yaml
  src/app/tests/suites/TestDescriptorCluster.yaml
  src/app/tests/suites/certification/Test_TC_DM_2_2.yaml
  src/app/zap-templates/common/ClusterTestGeneration.js
  zzz_generated/chip-tool/zap-generated/test/Commands.h
Labels: examples, app, review - approved

#11559 [chip-tool] Add configure-fabric into the pairing module so chip-tool…
  examples/chip-tool/BUILD.gn
  examples/chip-tool/commands/common/CHIPCommand.cpp
  examples/chip-tool/commands/pairing/Commands.h
  examples/chip-tool/commands/pairing/ConfigureFabricCommand.cpp
  examples/chip-tool/commands/pairing/ConfigureFabricCommand.h
  examples/chip-tool/config/PersistentStorage.cpp
  examples/chip-tool/config/PersistentStorage.h
  src/controller/CHIPDeviceController.cpp
Labels: examples, controller, review - pending, fast track

#11476 [Ameba] Read General Diagnostic attributes from platform at runtime
  src/platform/Ameba/AmebaConfig.cpp
  src/platform/Ameba/AmebaConfig.h
  src/platform/Ameba/ConfigurationManagerImpl.cpp
  src/platform/Ameba/ConfigurationManagerImpl.h
  src/platform/Ameba/ConnectivityManagerImpl.cpp
  src/platform/Ameba/ConnectivityManagerImpl.h
  src/platform/Ameba/PlatformManagerImpl.cpp
  src/platform/Ameba/PlatformManagerImpl.h
  src/platform/BUILD.gn
Labels: platform, review - pending, fast track

#11598 Do not run Tests in CI that have the word Simulated in them.
  examples/placeholder/linux/apps/app1/tests.js
  scripts/tests/test_suites.sh
  src/app/tests/suites/certification/Test_TC_DM_1_3_Simulated.yaml
Labels: examples, scripts, app, review - approved

#11593 Fix test_suites.sh to fail if the chip-tool command fails.
  scripts/tests/test_suites.sh
Labels: scripts, review - pending, fast track

#11359 Simplfy the implementation of Mode Select Cluster
  examples/all-clusters-app/all-clusters-common/include/static-supported-modes-manager.h
  examples/all-clusters-app/all-clusters-common/src/static-supported-modes-manager.cpp
  examples/all-clusters-app/ameba/chip_main.cmake
  examples/all-clusters-app/esp32/main/CMakeLists.txt
  examples/all-clusters-app/linux/BUILD.gn
  examples/all-clusters-app/mbed/CMakeLists.txt
  examples/all-clusters-app/p6/BUILD.gn
  src/app/chip_data_model.gni
  src/app/clusters/mode-select-server/mode-select-server.cpp
  src/app/clusters/mode-select-server/static-supported-modes-manager.cpp
  src/app/clusters/mode-select-server/static-supported-modes-manager.h
  src/app/clusters/mode-select-server/supported-modes-manager.h
Labels: examples, controller, app, review - pending, fast track

#11600 Remove temporary RNG entropy audit logs
  src/platform/Entropy.cpp
Labels: platform, review - pending, fast track

#11592 Release commissionee device once the device is visible on operational network
  src/controller/CHIPDeviceController.cpp
Labels: hotfix, controller, review - pending

#11603 Speed up compilation of all our WriteAttribute machinery.
  src/app/chip_data_model.gni
  src/app/tests/suites/templates/templates.json
  src/app/zap-templates/app-templates.json
  src/app/zap-templates/templates/app/CHIPClustersWrite-src.zapt
  src/app/zap-templates/templates/app/tests/CHIPClustersWrite-src.zapt
  src/controller/CHIPCluster.h
  src/controller/WriteInteraction.h
  src/controller/data_model/BUILD.gn
  src/controller/tests/data_model/TestWrite.cpp
  src/darwin/Framework/CHIP.xcodeproj/project.pbxproj
  zzz_generated/all-clusters-app/zap-generated/CHIPClustersWrite.cpp
  zzz_generated/bridge-app/zap-generated/CHIPClustersWrite.cpp
  zzz_generated/controller-clusters/zap-generated/CHIPClustersWrite.cpp
  zzz_generated/controller-clusters/zap-generated/tests/CHIPClustersTestWrite.cpp
  zzz_generated/lighting-app/zap-generated/CHIPClustersWrite.cpp
  zzz_generated/lock-app/zap-generated/CHIPClustersWrite.cpp
  zzz_generated/ota-provider-app/zap-generated/CHIPClustersWrite.cpp
  zzz_generated/ota-requestor-app/zap-generated/CHIPClustersWrite.cpp
  zzz_generated/pump-app/zap-generated/CHIPClustersWrite.cpp
  zzz_generated/pump-controller-app/zap-generated/CHIPClustersWrite.cpp
  zzz_generated/temperature-measurement-app/zap-generated/CHIPClustersWrite.cpp
  zzz_generated/thermostat/zap-generated/CHIPClustersWrite.cpp
  zzz_generated/tv-app/zap-generated/CHIPClustersWrite.cpp
  zzz_generated/tv-casting-app/zap-generated/CHIPClustersWrite.cpp
  zzz_generated/window-app/zap-generated/CHIPClustersWrite.cpp
Labels: darwin, controller, app, review - approved

#11521 Added documentation regarding requesting SED poll interval update.
  src/include/platform/ConnectivityManager.h
  src/include/platform/ThreadStackManager.h
  src/messaging/ExchangeContext.cpp
  src/messaging/ExchangeContext.h
  src/platform/OpenThread/GenericThreadStackManagerImpl_OpenThread.cpp
Labels: platform, openthread, review - pending, fast track

#11339 Dynamic Command Dispatch (Server-side)
  config/standalone/CHIPProjectConfig.h
  examples/bridge-app/esp32/main/main.cpp
  examples/bridge-app/linux/main.cpp
  src/app/AttributeAccessInterface.h
  src/app/CommandHandler.cpp
  src/app/CommandHandler.h
  src/app/CommandHandlerInterface.h
  src/app/InteractionModelEngine.cpp
  src/app/InteractionModelEngine.h
  src/app/tests/TestCommandInteraction.cpp
  src/app/util/attribute-storage.cpp
  src/app/util/attribute-storage.h
  src/controller/tests/BUILD.gn
  src/controller/tests/TestServerCommandDispatch.cpp
Labels: examples, controller, app, config, review - approved

#11585 [Controller] Enhance discovery output for testing purposes
  examples/chip-tool/commands/discover/DiscoverCommissionablesCommand.cpp
  src/controller/python/ChipCommissionableNodeController-ScriptBinding.cpp
  src/controller/python/ChipDeviceController-ScriptBinding.cpp
  src/lib/dnssd/Discovery_ImplPlatform.cpp
  src/lib/dnssd/Resolver.h
Labels: examples, lib, controller, review - pending, fast track

#11613 [CI Debug] List all commissionable nodes before starting CI runs
  scripts/tests/test_suites.sh
Labels: scripts, review - approved, fast track

#11617 Remove the CHIP_CLUSTER_CONFIG_ENABLE_COMPLEX_ATTRIBUTE_READ define.
  src/app/clusters/descriptor/descriptor.cpp
  src/app/clusters/operational-credentials-server/operational-credentials-server.cpp
  src/app/clusters/test-cluster-server/test-cluster-server.cpp
  src/lib/core/CHIPConfig.h
Labels: lib, app, review - pending, fast track

#11601 [Group] Update write client for groups
  src/app/WriteClient.cpp
  src/app/tests/TestWriteInteraction.cpp
  src/messaging/tests/MessagingContext.cpp
  src/messaging/tests/MessagingContext.h
Labels: app, review - approved

#11584 Inet: Use constructors for Inet EndPoints
  src/inet/EndPointBasis.h
  src/inet/EndPointBasisImplLwIP.h
  src/inet/EndPointBasisImplNetworkFramework.h
  src/inet/EndPointBasisImplSockets.h
  src/inet/InetLayer.cpp
  src/inet/TCPEndPoint.cpp
  src/inet/TCPEndPoint.h
  src/inet/UDPEndPoint.cpp
  src/inet/UDPEndPoint.h
  src/lib/dnssd/minimal_mdns/Server.cpp
  src/transport/raw/TCP.cpp
  src/transport/raw/UDP.cpp
Labels: transport, lib, inet, review - approved

#11638 Fix the fake platform's implementation of ConfigurationManagerImpl.
  src/platform/fake/BUILD.gn
  src/platform/fake/ConfigurationManagerImpl.cpp
  src/platform/fake/ConfigurationManagerImpl.h
Labels: hotfix, platform, review - pending

#11611 Remove OperationalDeviceProxy wrapper
  src/app/device/BUILD.gn
  src/app/device/OperationalDeviceProxy.cpp
  src/app/device/OperationalDeviceProxy.h
Labels: review - approved

#11627 Adding YAML Test Cases - Nov 10th
  examples/chip-tool/templates/tests.js
  src/app/tests/suites/certification/Test_TC_BI_2_2.yaml
  src/app/tests/suites/certification/Test_TC_DIAGSW_3_2.yaml
  src/app/tests/suites/certification/Test_TC_TSTAT_2_1.yaml
  src/darwin/Framework/CHIP/templates/tests.js
  src/darwin/Framework/CHIPTests/CHIPClustersTests.m
  zzz_generated/chip-tool/zap-generated/test/Commands.h
Labels: examples, darwin, app, review - pending, fast track

#11628 [Darwin] Use InvokeCommand instead of CHIPClusters.cpp for commands
  src/darwin/Framework/CHIP.xcodeproj/project.pbxproj
  src/darwin/Framework/CHIP/CHIPCallbackBridgeBase_internal.h
  src/darwin/Framework/CHIP/templates/CHIPCallbackBridge_internal.zapt
  src/darwin/Framework/CHIP/templates/CHIPClustersObjc-src.zapt
  src/darwin/Framework/CHIP/templates/partials/CHIPCallbackBridge.zapt
  src/darwin/Framework/CHIP/templates/partials/decode_response.zapt
  src/darwin/Framework/CHIP/templates/partials/encode_command.zapt
  src/darwin/Framework/CHIP/templates/templates.json
  src/darwin/Framework/CHIP/zap-generated/CHIPCallbackBridge.mm
  src/darwin/Framework/CHIP/zap-generated/CHIPCallbackBridge_internal.h
  src/darwin/Framework/CHIP/zap-generated/CHIPClustersObjc.mm
Labels: darwin, review - approved

#11608 Use correct node ID for requesting OTA updates
  examples/ota-requestor-app/linux/main.cpp
  src/transport/FabricTable.h
Labels: examples, transport, review - approved

#11607 Switch YAML tests to using templated ReadAttribute.
  examples/chip-tool/templates/partials/test_cluster.zapt
  src/app/tests/suites/TestDescriptorCluster.yaml
  src/app/zap-templates/templates/app/cluster-objects.zapt
  src/controller/CHIPCluster.h
  src/controller/ReadInteraction.h
  src/controller/TypedReadCallback.h
  zzz_generated/app-common/app-common/zap-generated/cluster-objects.h
  zzz_generated/chip-tool/zap-generated/test/Commands.h
Labels: examples, controller, app, review - approved
