Repository project-chip/connectedhomeip, pull requests merged in 2021-06, with the labels that each got.

#7254 [server] Remove redundant call to "advertiseOperational"
  src/app/server/Server.cpp
Labels: app, review - approved

#7276 Revert "[controller] Move callbacks to CommandResponseStatus since timing related issue is resolved."
  src/controller/CHIPDeviceController.cpp
Labels: controller, hotfix

#7259 [doxygen] Deploy doxygen output to connectedhomeip-doc repo
  .github/workflows/doxygen.yaml
Labels: github, review - approved, workflows

#7218 Move serialization of chip::Device earlier.
  src/controller/CHIPDevice.cpp
  src/controller/CHIPDevice.h
Labels: controller, review - approved

#7224 moved temperature measurement cluster into seperate xml
  src/app/zap-templates/zcl/data-model/silabs/ha-thread.xml
  src/app/zap-templates/zcl/data-model/silabs/ha.xml
  src/app/zap-templates/zcl/temperature-measurement-cluster.xml
  src/app/zap-templates/zcl/zcl.json
Labels: app, review - approved

#7243 [android] use Operational Dataset for Thread provisioning
  src/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/provisioning/EnterNetworkFragment.kt
  src/controller/java/CHIPDeviceController-JNI.cpp
  src/controller/java/src/chip/devicecontroller/ChipDeviceController.java
Labels: android, controller, review - approved, technical review - DONE

#7234 Add CRMP test for retransmission of session establishment messages
  src/app/server/RendezvousServer.cpp
  src/controller/CHIPDevice.cpp
  src/controller/CHIPDeviceController.cpp
  src/messaging/ReliableMessageMgr.cpp
  src/messaging/tests/TestReliableMessageProtocol.cpp
  src/protocols/secure_channel/CASEServer.cpp
  src/protocols/secure_channel/SessionEstablishmentExchangeDispatch.cpp
  src/protocols/secure_channel/SessionEstablishmentExchangeDispatch.h
  src/protocols/secure_channel/tests/TestCASESession.cpp
  src/protocols/secure_channel/tests/TestPASESession.cpp
Labels: app, controller, review - approved

#7032 Part 4: feature/binary input basic cluster
  examples/all-clusters-app/all-clusters-common/all-clusters-app.zap
  examples/all-clusters-app/all-clusters-common/gen/call-command-handler.cpp
  examples/all-clusters-app/all-clusters-common/gen/callback-stub.cpp
  examples/all-clusters-app/all-clusters-common/gen/callback.h
  examples/all-clusters-app/all-clusters-common/gen/endpoint_config.h
  examples/all-clusters-app/all-clusters-common/gen/gen_config.h
  examples/all-clusters-app/esp32/main/CMakeLists.txt
  examples/all-clusters-app/esp32/main/component.mk
  examples/chip-tool/commands/clusters/Commands.h
  examples/chip-tool/commands/reporting/Commands.h
  src/app/clusters/binary-input-server/binary-input-server.cpp
  src/app/clusters/binary-input-server/binary-input-server.h
  src/app/zap-templates/templates/app/helper.js
  src/app/zap_cluster_list.py
  src/controller/data_model/controller-clusters.zap
  src/controller/data_model/gen/CHIPClusters.cpp
  src/controller/data_model/gen/CHIPClusters.h
  src/controller/data_model/gen/call-command-handler.cpp
  src/controller/data_model/gen/callback-stub.cpp
  src/controller/data_model/gen/callback.h
  src/controller/data_model/gen/chip-zcl-zpro-codec-api.h
  src/controller/data_model/gen/encoder.cpp
  src/controller/data_model/gen/endpoint_config.h
  src/controller/data_model/gen/gen_config.h
  src/controller/python/chip/clusters/CHIPClusters.cpp
  src/controller/python/chip/clusters/CHIPClusters.py
  src/darwin/Framework/CHIP/gen/CHIPClustersObjc.h
  src/darwin/Framework/CHIP/gen/CHIPClustersObjc.mm
  src/darwin/Framework/CHIPTests/CHIPClustersTests.m
Labels: app, controller, darwin, examples, review - approved

#7198 Put protections against accidental mutation of EncryptedPacketBufferHandle back in.
  src/messaging/ExchangeMessageDispatch.h
  src/messaging/tests/TestReliableMessageProtocol.cpp
  src/protocols/secure_channel/SessionEstablishmentExchangeDispatch.cpp
  src/transport/SecureSessionMgr.cpp
  src/transport/SecureSessionMgr.h
Labels: review - approved, transport

#7251 [nrfconnect] Extended DFU documentation about using mcumgr tool.
  config/nrfconnect/app/overlay-dfu_support.conf
  config/nrfconnect/app/sample-defaults.conf
  docs/guides/nrfconnect_examples_software_update.md
  examples/lighting-app/nrfconnect/README.md
  examples/lock-app/nrfconnect/README.md
  src/platform/Zephyr/BLEManagerImpl.cpp
Labels: config, documentation, examples, platform, review - approved, zephyr

#7220 [examples] Changed the endpoint ID from 1 to 0 for the pump example apps.
  examples/pump-app/pump-common/gen/endpoint_config.h
  examples/pump-app/pump-common/pump-app.zap
  examples/pump-controller-app/pump-controller-common/gen/endpoint_config.h
  examples/pump-controller-app/pump-controller-common/pump-controller-app.zap
Labels: examples, review - approved

#7103 Cleanup CASE state machine for error handling and logging
  src/protocols/secure_channel/CASESession.cpp
  src/protocols/secure_channel/CASESession.h
Labels: controller, review - approved

#7181 Add cache flush bit to resource records.
  src/lib/mdns/minimal/core/Constants.h
  src/lib/mdns/minimal/records/ResourceRecord.h
  src/lib/mdns/minimal/records/tests/TestResourceRecord.cpp
Labels: lib, review - approved

#7214 Extend build flags for ip commissioning on linux[TE3]
  examples/platform/linux/AppMain.cpp
  examples/platform/linux/BUILD.gn
  src/app/BUILD.gn
  src/app/common_flags.gni
Labels: TE3, app, examples, review - approved

#7263 Controller: use generated opcred cluster
  src/controller/BUILD.gn
  src/controller/CHIPDeviceController.cpp
  src/controller/CHIPDeviceController.h
  src/controller/CHIPOperationalCredentialsProvisioner.cpp
  src/controller/CHIPOperationalCredentialsProvisioner.h
Labels: controller, review - approved

#7230 Fix crash caused by uninitialized variable
  src/controller/CHIPDeviceController.h
Labels: controller, review - approved

#7226 moved flow measurement cluster into seperate xml
  src/app/zap-templates/zcl/data-model/silabs/ha-thread.xml
  src/app/zap-templates/zcl/data-model/silabs/ha.xml
  src/app/zap-templates/zcl/flow-measurement-cluster.xml
  src/app/zap-templates/zcl/zcl.json
Labels: app, review - approved

#7179 [python] Add flag to disable BLE for controller
  src/controller/python/chip-device-ctrl.py
Labels: controller, review - approved

#7034 ESP32: Deprecate make support
  examples/all-clusters-app/esp32/Makefile
  examples/all-clusters-app/esp32/idf.sh
  examples/all-clusters-app/esp32/main/component.mk
  examples/persistent-storage/esp32/Makefile
  examples/persistent-storage/esp32/idf.sh
  examples/persistent-storage/esp32/main/component.mk
  examples/pigweed-app/esp32/Makefile
  examples/pigweed-app/esp32/idf.sh
  examples/pigweed-app/esp32/main/component.mk
  examples/temperature-measurement-app/esp32/Makefile
  examples/temperature-measurement-app/esp32/idf.sh
  examples/temperature-measurement-app/esp32/main/component.mk
  scripts/examples/esp_example.sh
Labels: config, examples, integrations, review - approved, scripts

#7299 [linux] Print log with timestamp and thread id
  src/platform/Linux/Logging.cpp
Labels: linux, platform, review - approved

#6670 Add Label to FabricDescriptorStruct and hook up logic with UpdateFabricLabel
  config/nrfconnect/app/enable-gnu-std.cmake
  examples/all-clusters-app/all-clusters-common/gen/attribute-size.cpp
  examples/chip-tool/commands/clusters/Commands.h
  examples/lighting-app/lighting-common/gen/attribute-size.cpp
  examples/lighting-app/nrfconnect/CMakeLists.txt
  examples/lock-app/lock-common/gen/attribute-size.cpp
  examples/lock-app/nrfconnect/CMakeLists.txt
  examples/pigweed-app/nrfconnect/CMakeLists.txt
  examples/pump-app/nrfconnect/CMakeLists.txt
  examples/pump-app/pump-common/gen/attribute-size.cpp
  examples/pump-controller-app/nrfconnect/CMakeLists.txt
  examples/pump-controller-app/pump-controller-common/gen/attribute-size.cpp
  examples/shell/nrfconnect/CMakeLists.txt
  examples/temperature-measurement-app/esp32/main/gen/attribute-size.cpp
  examples/tv-app/tv-common/gen/attribute-size.cpp
  src/app/clusters/operational-credentials-server/operational-credentials-server.cpp
  src/app/common/gen/af-structs.h
  src/app/zap-templates/zcl/custom-types.xml
  src/controller/data_model/gen/CHIPClientCallbacks.cpp
  src/darwin/CHIPTool/CHIPTool/View Controllers/Fabric/FabricUIViewController.m
  src/darwin/Framework/CHIP/gen/CHIPClustersObjc.mm
  src/transport/AdminPairingTable.cpp
  src/transport/AdminPairingTable.h
Labels: app, config, controller, darwin, examples, has conflicts, review - approved, transport

#7304 [K32W] Fix CLI documentation
  examples/lighting-app/k32w/README.md
  examples/lock-app/k32w/README.md
Labels: examples, review - approved

#7269 [cluster] Add TestUnknownCommand command to test cluster[TE3]
  examples/chip-tool/commands/clusters/Commands.h
  src/app/common/gen/client-command-macro.h
  src/app/common/gen/command-id.h
  src/app/zap-templates/zcl/test-cluster.xml
  src/controller/data_model/controller-clusters.zap
  src/controller/data_model/gen/CHIPClusters.cpp
  src/controller/data_model/gen/CHIPClusters.h
  src/controller/data_model/gen/chip-zcl-zpro-codec-api.h
  src/controller/data_model/gen/encoder.cpp
  src/controller/data_model/gen/endpoint_config.h
  src/controller/python/chip/clusters/CHIPClusters.cpp
  src/controller/python/chip/clusters/CHIPClusters.py
  src/darwin/Framework/CHIP/gen/CHIPClustersObjc.h
  src/darwin/Framework/CHIP/gen/CHIPClustersObjc.mm
Labels: app, controller, darwin, examples, review - approved

#7265 [im] Print message for cluster not found[TE3]
  src/app/CommandHandler.cpp
  src/controller/python/test/test_scripts/mobile-device-test.py
  src/test_driver/linux-cirque/test-mobile-device.py
Labels: app, controller, review - approved

#7248 [android] Add code for service discovery
  src/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/clusterclient/OnOffClientFragment.kt
  src/android/CHIPTool/app/src/main/res/layout/on_off_client_fragment.xml
  src/android/CHIPTool/app/src/main/res/values/strings.xml
  src/controller/java/CHIPDeviceController-JNI.cpp
  src/controller/java/src/chip/devicecontroller/ChipDeviceController.java
Labels: android, controller, review - approved

#7138 Switch from "dummy" to "default" toolchain
  BUILD.gn
  build/config/BUILDCONFIG.gn
Labels: restyled-ignore, review - approved

#7006 Add second ballot TXT field parsing.
  src/controller/python/ChipDeviceController-ScriptBinding.cpp
  src/lib/mdns/BUILD.gn
  src/lib/mdns/Resolver.h
  src/lib/mdns/Resolver_ImplMinimalMdns.cpp
  src/lib/mdns/TxtFields.cpp
  src/lib/mdns/TxtFields.h
  src/lib/mdns/tests/BUILD.gn
  src/lib/mdns/tests/TestTxtFields.cpp
  src/lib/support/BytesToHex.cpp
  src/lib/support/BytesToHex.h
  src/lib/support/CHIPMemString.h
Labels: controller, inet, lib, review - approved, scripts, vscode

#7290 Unlock BLE stack mutex for all callbacks from JNI to Java
  src/controller/java/AndroidDeviceControllerWrapper.cpp
  src/controller/java/AndroidDeviceControllerWrapper.h
  src/controller/java/CHIPDeviceController-JNI.cpp
Labels: android, controller, review - approved

#7309 Fix data corruption/mangling in DeviceCommissioner::SendOperationalCertificate
  src/controller/CHIPDeviceController.cpp
Labels: controller, review - approved

#7341 Revert "Add Label to FabricDescriptorStruct and hook up logic with UpdateFabricLabel (#6670)
  config/nrfconnect/app/enable-gnu-std.cmake
  examples/all-clusters-app/all-clusters-common/gen/attribute-size.cpp
  examples/chip-tool/commands/clusters/Commands.h
  examples/lighting-app/lighting-common/gen/attribute-size.cpp
  examples/lighting-app/nrfconnect/CMakeLists.txt
  examples/lock-app/lock-common/gen/attribute-size.cpp
  examples/lock-app/nrfconnect/CMakeLists.txt
  examples/pigweed-app/nrfconnect/CMakeLists.txt
  examples/pump-app/nrfconnect/CMakeLists.txt
  examples/pump-app/pump-common/gen/attribute-size.cpp
  examples/pump-controller-app/nrfconnect/CMakeLists.txt
  examples/pump-controller-app/pump-controller-common/gen/attribute-size.cpp
  examples/shell/nrfconnect/CMakeLists.txt
  examples/temperature-measurement-app/esp32/main/gen/attribute-size.cpp
  examples/tv-app/tv-common/gen/attribute-size.cpp
  src/app/clusters/operational-credentials-server/operational-credentials-server.cpp
  src/app/common/gen/af-structs.h
  src/app/zap-templates/zcl/custom-types.xml
  src/controller/data_model/gen/CHIPClientCallbacks.cpp
  src/darwin/CHIPTool/CHIPTool/View Controllers/Fabric/FabricUIViewController.m
  src/darwin/Framework/CHIP/gen/CHIPClustersObjc.mm
  src/transport/AdminPairingTable.cpp
  src/transport/AdminPairingTable.h
Labels: app, config, controller, darwin, examples, hotfix, transport

#7313 [doc] enhance documentation of Python CHIP controller
  scripts/build_python.sh
  src/controller/python/ADVANCED_USAGE.md
  src/controller/python/README.md
Labels: controller, review - approved, scripts

#7305 ESP32: Fix temperature-measurement app
  examples/temperature-measurement-app/esp32/main/gen/af-gen-event.h
Labels: examples, review - approved

#7225 ESP32: Update README of esp32 supported examples
  examples/all-clusters-app/esp32/README.md
  examples/lock-app/esp32/README.md
  examples/persistent-storage/esp32/README.md
  examples/pigweed-app/esp32/README.md
  examples/temperature-measurement-app/esp32/README.md
  integrations/docker/images/chip-build-esp32/Dockerfile
Labels: examples, integrations, review - approved

#6400 CHIP credential serialization
  src/credentials/CHIPCert.cpp
  src/credentials/CHIPCert.h
  src/credentials/CHIPOperationalCredentials.cpp
  src/credentials/CHIPOperationalCredentials.h
  src/credentials/tests/TestChipCert.cpp
  src/credentials/tests/TestChipOperationalCredentials.cpp
Labels: restyled-ignore, review - changed requested

#6992 Enable arc for chip-device-ctrl
  src/controller/python/BUILD.gn
  src/controller/python/chip/ble/darwin/AdapterListing.mm
  src/controller/python/chip/ble/darwin/Scanning.mm
  src/platform/BUILD.gn
  src/platform/Darwin/BleApplicationDelegateImpl.mm
  src/platform/Darwin/BleConnectionDelegateImpl.mm
  src/platform/Darwin/BlePlatformDelegateImpl.mm
  src/platform/Darwin/KeyValueStoreManagerImpl.mm
  src/platform/Darwin/UUIDHelperImpl.mm
Labels: controller, darwin, examples, platform, review - approved

#7018 Moving OpenSSL Package Config into Common BUILD
  src/tools/chip-cert/BUILD.gn
Labels: crypto, review - approved

#7288 Message counter storage issue temporary fix
  src/controller/CHIPDevice.cpp
Labels: controller, review - pending

#7136 Add rudimentary implementation of dynamic endpoints with example bridge code
  examples/all-clusters-app/all-clusters-common/gen/callback-stub.cpp
  examples/all-clusters-app/all-clusters-common/gen/callback.h
  examples/bridge-app/bridge-common/BUILD.gn
  examples/bridge-app/bridge-common/bridge-app.zap
  examples/bridge-app/bridge-common/gen/IMClusterCommandHandler.cpp
  examples/bridge-app/bridge-common/gen/attribute-size.cpp
  examples/bridge-app/bridge-common/gen/call-command-handler.cpp
  examples/bridge-app/bridge-common/gen/callback-stub.cpp
  examples/bridge-app/bridge-common/gen/callback.h
  examples/bridge-app/bridge-common/gen/endpoint_config.h
  examples/bridge-app/bridge-common/gen/gen_config.h
  examples/bridge-app/linux/BUILD.gn
  examples/bridge-app/linux/Device.cpp
  examples/bridge-app/linux/LightingManager.cpp
  examples/bridge-app/linux/README.md
  examples/bridge-app/linux/include/Device.h
  examples/bridge-app/linux/include/LightingManager.h
  examples/bridge-app/linux/main.cpp
  examples/lighting-app/lighting-common/gen/callback-stub.cpp
  examples/lighting-app/lighting-common/gen/callback.h
  examples/lock-app/lock-common/gen/callback-stub.cpp
  examples/lock-app/lock-common/gen/callback.h
  examples/pump-app/pump-common/gen/callback-stub.cpp
  examples/pump-app/pump-common/gen/callback.h
  examples/pump-controller-app/pump-controller-common/gen/callback-stub.cpp
  examples/pump-controller-app/pump-controller-common/gen/callback.h
  examples/temperature-measurement-app/esp32/main/gen/callback-stub.cpp
  examples/temperature-measurement-app/esp32/main/gen/callback.h
  examples/tv-app/tv-common/gen/callback-stub.cpp
  examples/tv-app/tv-common/gen/callback.h
  examples/window-app/common/gen/callback-stub.cpp
  examples/window-app/common/gen/callback.h
  src/app/clusters/descriptor/descriptor.cpp
  src/app/util/attribute-storage.cpp
  src/app/util/attribute-storage.h
  src/app/zap-templates/templates/app/callback-stub-src.zapt
  src/app/zap-templates/templates/app/callback.zapt
  src/controller/data_model/gen/callback-stub.cpp
  src/controller/data_model/gen/callback.h
Labels: examples, review - approved

#7317 Shell example: EFR32 platform added.
  examples/shell/efr32/.gn
  examples/shell/efr32/BUILD.gn
  examples/shell/efr32/args.gni
  examples/shell/efr32/build_overrides
  examples/shell/efr32/include/AppConfig.h
  examples/shell/efr32/include/CHIPProjectConfig.h
  examples/shell/efr32/include/FreeRTOSConfig.h
  examples/shell/efr32/src/main.cpp
  examples/shell/efr32/third_party/connectedhomeip
  src/lib/shell/BUILD.gn
  src/lib/shell/streamer_efr32.cpp
  src/platform/EFR32/ThreadStackManagerImpl.cpp
Labels: efr32, examples, lib, platform, review - approved

#7291 Unit test for lost CRMP ack messages
  src/messaging/tests/TestReliableMessageProtocol.cpp
Labels: review - approved

#7360 Clear all defaults before running darwin tests
  .github/workflows/darwin.yaml
Labels: github, review - approved, workflows

#6944 Tests yaml
  examples/chip-tool/BUILD.gn
  examples/chip-tool/commands/tests/Commands.h
  examples/chip-tool/commands/tests/TestCommand.cpp
  examples/chip-tool/commands/tests/TestCommand.h
  examples/chip-tool/main.cpp
  examples/chip-tool/templates/partials/test_cluster.zapt
  examples/chip-tool/templates/templates.json
  examples/chip-tool/templates/tests-commands.zapt
  src/app/tests/suites/OnOffCluster.yaml
  src/app/tests/suites/TestCluster.yaml
  src/app/zap-templates/common/ClusterTestGeneration.js
  src/app/zap-templates/common/ClustersHelper.js
  src/app/zap-templates/templates/chip/helper.js
  src/darwin/Framework/CHIP/templates/clusters-tests.zapt
  src/darwin/Framework/CHIP/templates/partials/test_cluster.zapt
  src/darwin/Framework/CHIP/templates/templates.json
  src/darwin/Framework/CHIPTests/CHIPClustersTests.m
Labels: app, darwin, examples, review - approved

#7356 Fix for minimal mDNS 'No Memory' error.
  src/lib/mdns/Advertiser_ImplMinimalMdns.cpp
Labels: lib, review - approved, technical review - DONE

#7361 Add Label to FabricDescriptorStruct and hook up logic with UpdateFabr…
  config/nrfconnect/app/enable-gnu-std.cmake
  examples/all-clusters-app/all-clusters-common/gen/attribute-size.cpp
  examples/bridge-app/bridge-common/gen/attribute-size.cpp
  examples/chip-tool/commands/clusters/Commands.h
  examples/lighting-app/lighting-common/gen/attribute-size.cpp
  examples/lighting-app/nrfconnect/CMakeLists.txt
  examples/lock-app/lock-common/gen/attribute-size.cpp
  examples/lock-app/nrfconnect/CMakeLists.txt
  examples/pigweed-app/nrfconnect/CMakeLists.txt
  examples/pump-app/nrfconnect/CMakeLists.txt
  examples/pump-app/pump-common/gen/attribute-size.cpp
  examples/pump-controller-app/nrfconnect/CMakeLists.txt
  examples/pump-controller-app/pump-controller-common/gen/attribute-size.cpp
  examples/shell/nrfconnect/CMakeLists.txt
  examples/temperature-measurement-app/esp32/main/gen/attribute-size.cpp
  examples/tv-app/tv-common/gen/attribute-size.cpp
  src/app/clusters/operational-credentials-server/operational-credentials-server.cpp
  src/app/common/gen/af-structs.h
  src/app/zap-templates/zcl/custom-types.xml
  src/controller/data_model/gen/CHIPClientCallbacks.cpp
  src/darwin/CHIPTool/CHIPTool/View Controllers/Fabric/FabricUIViewController.m
  src/darwin/Framework/CHIP/gen/CHIPClustersObjc.mm
  src/transport/AdminPairingTable.cpp
  src/transport/AdminPairingTable.h
Labels: app, config, controller, darwin, examples, review - approved, transport

#7351 Rename CRMP to MRP (Message Reliability Protocol)
  examples/shell/shell_common/cmd_ping.cpp
  examples/shell/shell_common/cmd_send.cpp
  src/app/server/Mdns.cpp
  src/app/tests/integration/README.md
  src/lib/mdns/Advertiser.h
  src/lib/mdns/Discovery_ImplPlatform.cpp
  src/messaging/ExchangeContext.cpp
  src/messaging/ExchangeMessageDispatch.cpp
  src/messaging/ExchangeMgr.cpp
  src/messaging/ReliableMessageProtocolConfig.h
  src/messaging/tests/TestReliableMessageProtocol.cpp
  src/messaging/tests/echo/README.md
  src/protocols/secure_channel/tests/TestPASESession.cpp
Labels: app, examples, lib, review - approved

#7338 Stop passing around reliable message managers when we don't need to
  src/app/server/RendezvousServer.cpp
  src/controller/CHIPDevice.cpp
  src/controller/CHIPDeviceController.cpp
  src/messaging/ApplicationExchangeDispatch.h
  src/messaging/ExchangeMessageDispatch.cpp
  src/messaging/ExchangeMessageDispatch.h
  src/messaging/ExchangeMgr.cpp
  src/messaging/ReliableMessageContext.h
  src/messaging/tests/TestReliableMessageProtocol.cpp
  src/protocols/secure_channel/CASEServer.cpp
  src/protocols/secure_channel/SessionEstablishmentExchangeDispatch.h
  src/protocols/secure_channel/tests/TestCASESession.cpp
  src/protocols/secure_channel/tests/TestPASESession.cpp
Labels: app, controller, review - approved

#7364 Build FlatAllocatedQName from array, use for TXT.
  src/lib/mdns/Advertiser_ImplMinimalMdns.cpp
  src/lib/mdns/minimal/core/FlatAllocatedQName.h
  src/lib/mdns/minimal/core/tests/TestFlatAllocatedQName.cpp
Labels: Has Automated Tests, lib, review - approved

#7337 Make commissionable node error more verbose
  src/controller/CHIPDeviceController.cpp
Labels: controller, review - approved

#7366 Fix nodeid for connect -qr[TE3]
  src/controller/python/chip-device-ctrl.py
Labels: Tested manually, controller, review - approved

#7398 [doc] Fix link in QUICK_START.md for python device controller
  docs/QUICK_START.md
Labels: Tests not applicable, documentation, review - approved

#7275 Shell example: OT-CLI compilation error fixed for EFR32 boards.
  examples/shell/shell_common/cmd_otcli.cpp
Labels: examples, review - approved

#7391 ESP32: Fixes for README.md
  examples/all-clusters-app/esp32/CMakeLists.txt
  examples/all-clusters-app/esp32/README.md
  examples/all-clusters-app/esp32/main/CMakeLists.txt
  examples/lock-app/esp32/README.md
  examples/persistent-storage/esp32/CMakeLists.txt
  examples/persistent-storage/esp32/README.md
  examples/persistent-storage/esp32/main/CMakeLists.txt
  examples/pigweed-app/esp32/CMakeLists.txt
  examples/pigweed-app/esp32/README.md
  examples/pigweed-app/esp32/main/CMakeLists.txt
  examples/temperature-measurement-app/esp32/CMakeLists.txt
  examples/temperature-measurement-app/esp32/README.md
  examples/temperature-measurement-app/esp32/main/CMakeLists.txt
Labels: examples, review - approved

#7389 Include interface ID in the PeerAddress that gets handed up from UDP/TCP code
  src/inet/TCPEndPoint.cpp
  src/inet/TCPEndPoint.h
  src/transport/raw/PeerAddress.h
  src/transport/raw/TCP.cpp
  src/transport/raw/UDP.cpp
Labels: inet, review - approved, transport

#7388 Fix mdns resolution on darwin
  src/lib/mdns/Discovery_ImplPlatform.cpp
  src/platform/Darwin/MdnsImpl.cpp
  src/platform/Darwin/MdnsImpl.h
Labels: Tested manually, darwin, lib, platform, review - approved

#7393 [nrfconnect] Update nRF Connect SDK version
  config/nrfconnect/.nrfconnect-recommended-revision
  config/nrfconnect/app/check-nrfconnect-version.cmake
  config/nrfconnect/app/sample-defaults.conf
  config/nrfconnect/chip-module/CMakeLists.txt
  config/nrfconnect/chip-module/zephyr/module.yml
  examples/lighting-app/nrfconnect/boards/nrf5340dk_nrf5340_cpuapp.conf
  examples/lock-app/nrfconnect/boards/nrf5340dk_nrf5340_cpuapp.conf
  examples/pigweed-app/nrfconnect/boards/nrf5340dk_nrf5340_cpuapp.conf
  examples/platform/nrfconnect/util/PigweedLogger.cpp
  examples/pump-app/nrfconnect/boards/nrf5340dk_nrf5340_cpuapp.conf
  examples/pump-controller-app/nrfconnect/boards/nrf5340dk_nrf5340_cpuapp.conf
  examples/shell/nrfconnect/boards/nrf5340dk_nrf5340_cpuapp.conf
  examples/shell/shell_common/cmd_otcli.cpp
Labels: TE3, Tested manually, config, examples, review - approved

#7363 Add chip-tool support for octet string arguments with non-ASCII bytes in them.
  examples/chip-tool/commands/clusters/Commands.h
  examples/chip-tool/commands/common/Command.cpp
  examples/chip-tool/commands/common/Command.h
  examples/chip-tool/commands/pairing/PairingCommand.cpp
  examples/chip-tool/commands/pairing/PairingCommand.h
  examples/chip-tool/templates/commands.zapt
  src/app/zap-templates/README.md
  src/lib/support/BytesToHex.h
Labels: Tested manually, app, examples, lib, review - approved

#7379 [cc26x2x7] Update build to match new OpenThread version
  examples/lock-app/cc13x2x7_26x2x7/BUILD.gn
  examples/lock-app/cc13x2x7_26x2x7/README.md
  examples/lock-app/cc13x2x7_26x2x7/doc/images/cc1352r1_launchxl.jpg
  examples/lock-app/cc13x2x7_26x2x7/doc/images/ccs-1.jpg
  examples/lock-app/cc13x2x7_26x2x7/doc/images/ccs-10.jpg
  examples/lock-app/cc13x2x7_26x2x7/doc/images/ccs-11.jpg
  examples/lock-app/cc13x2x7_26x2x7/doc/images/ccs-12.jpg
  examples/lock-app/cc13x2x7_26x2x7/doc/images/ccs-13.jpg
  examples/lock-app/cc13x2x7_26x2x7/doc/images/ccs-2.jpg
  examples/lock-app/cc13x2x7_26x2x7/doc/images/ccs-3.jpg
  examples/lock-app/cc13x2x7_26x2x7/doc/images/ccs-4.jpg
  examples/lock-app/cc13x2x7_26x2x7/doc/images/ccs-5.jpg
  examples/lock-app/cc13x2x7_26x2x7/doc/images/ccs-6.jpg
  examples/lock-app/cc13x2x7_26x2x7/doc/images/ccs-7.jpg
  examples/lock-app/cc13x2x7_26x2x7/doc/images/ccs-8.jpg
  examples/lock-app/cc13x2x7_26x2x7/doc/images/ccs-9.jpg
  examples/lock-app/cc13x2x7_26x2x7/doc/images/uniflash-1.jpg
  examples/lock-app/cc13x2x7_26x2x7/doc/images/uniflash-2.jpg
  examples/lock-app/cc13x2x7_26x2x7/doc/images/uniflash-3.jpg
  examples/lock-app/cc13x2x7_26x2x7/doc/programming-ccs.md
  examples/lock-app/cc13x2x7_26x2x7/doc/programming-uniflash.md
  src/platform/cc13x2_26x2/ThreadStackManagerImpl.cpp
  src/platform/cc13x2_26x2/openthread-core-cc13x2_26x2-config.h
  third_party/ti_simplelink_sdk/ti_simplelink_sdk.gni
Labels: Tested manually, examples, platform, review - approved

#7396 correct stuff that differs from the spec in pump device and pump controller device
  src/app/zap-templates/zcl/pump-controller-device.xml
  src/app/zap-templates/zcl/pump-device.xml
Labels: app, review - approved

#7372 [linux] Fix gettid breaking compatibility with glibc <2.30
  src/platform/Linux/Logging.cpp
Labels: Tested manually, linux, platform, review - approved

#7381 Create Tests workflow, will house certification tests
  .github/workflows/darwin.yaml
  .github/workflows/tests.yaml
  examples/chip-tool/commands/common/Commands.cpp
  examples/chip-tool/commands/tests/TestCommand.cpp
  scripts/tests/test_suites.sh
  src/transport/AdminPairingTable.h
  src/transport/SecureSessionMgr.cpp
Labels: examples, github, review - approved, scripts, transport, workflows

#7418 [nrfconnect] Fixed compilation with dfu overlay error.
  config/nrfconnect/app/overlay-dfu_support.conf
Labels: Tested manually, config, review - approved

#7037 Change MessageSendDestination into a type-safe Variant
  examples/all-clusters-app/all-clusters-common/gen/callback-stub.cpp
  examples/all-clusters-app/all-clusters-common/gen/callback.h
  examples/bridge-app/bridge-common/gen/callback-stub.cpp
  examples/bridge-app/bridge-common/gen/callback.h
  examples/lighting-app/lighting-common/gen/callback-stub.cpp
  examples/lighting-app/lighting-common/gen/callback.h
  examples/lock-app/lock-common/gen/callback-stub.cpp
  examples/lock-app/lock-common/gen/callback.h
  examples/pump-app/pump-common/gen/callback-stub.cpp
  examples/pump-app/pump-common/gen/callback.h
  examples/pump-controller-app/pump-controller-common/gen/callback-stub.cpp
  examples/pump-controller-app/pump-controller-common/gen/callback.h
  examples/temperature-measurement-app/esp32/main/gen/callback-stub.cpp
  examples/temperature-measurement-app/esp32/main/gen/callback.h
  examples/tv-app/linux/include/media-playback/MediaPlaybackManager.cpp
  examples/tv-app/tv-common/gen/callback-stub.cpp
  examples/tv-app/tv-common/gen/callback.h
  examples/window-app/common/gen/callback-stub.cpp
  examples/window-app/common/gen/callback.h
  src/app/clusters/ias-zone-client/ias-zone-client.cpp
  src/app/clusters/ias-zone-server/ias-zone-server.cpp
  src/app/clusters/messaging-client/messaging-client.cpp
  src/app/clusters/messaging-server/messaging-server.cpp
  src/app/reporting/reporting.cpp
  src/app/util/af-main-common.cpp
  src/app/util/af-main.h
  src/app/util/af-types.h
  src/app/util/af.h
  src/app/util/attribute-storage.cpp
  src/app/util/attribute-storage.h
  src/app/util/client-api.cpp
  src/app/util/types_stub.h
  src/app/util/util.cpp
  src/app/zap-templates/templates/app/callback-stub-src.zapt
  src/app/zap-templates/templates/app/callback.zapt
  src/controller/data_model/gen/callback-stub.cpp
  src/controller/data_model/gen/callback.h
  src/lib/support/Variant.h
Labels: app, examples, review - approved

#7420 Add support of chip_mdns without default value
  scripts/build_python.sh
Labels: review - approved, scripts

#7295 FieldId and Listindex should not be exclusive
  src/app/AttributePathParams.h
  src/app/ClusterInfo.h
  src/app/InteractionModelEngine.cpp
  src/app/MessageDef/AttributePath.cpp
  src/app/ReadClient.cpp
  src/app/ReadClient.h
  src/app/ReadHandler.cpp
  src/app/tests/BUILD.gn
  src/app/tests/TestAttributePathParams.cpp
  src/app/tests/TestReadInteraction.cpp
  src/app/tests/integration/chip_im_initiator.cpp
Labels: Has Automated Tests, app, review - approved, technical review - DONE

#7307 [K32W] Save PDM to external flash on the DK6 board
  examples/platform/k32w/app/ldscripts/chip-k32w061-linker.ld
  third_party/k32w_sdk/k32w_sdk.gni
  third_party/k32w_sdk/sdk_fixes/Eeprom_MX25R8035F.c
  third_party/k32w_sdk/sdk_fixes/GenericList.h
  third_party/k32w_sdk/sdk_fixes/PWR.c
  third_party/k32w_sdk/sdk_fixes/RNG_Interface.h
  third_party/k32w_sdk/sdk_fixes/ble_conn_manager.h
  third_party/k32w_sdk/sdk_fixes/patch_k32w_sdk.sh
Labels: Tested manually, examples, review - approved

#7403 Enable support for list attributes in Python controller.
  src/controller/python/chip/clusters/CHIPClusters.cpp
  src/controller/python/chip/clusters/CHIPClusters.py
  src/controller/python/templates/python-CHIPClusters-cpp.zapt
  src/controller/python/templates/python-CHIPClusters-py.zapt
Labels: controller, review - approved

#7383 Fix handling of node ID resolution failure when mDeviceBeingPaired is not set.
  src/controller/CHIPDeviceController.cpp
Labels: controller, darwin, lib, platform, review - approved

#7272 [qr-code] Align QR Code format with the spec
  docs/guides/nrfconnect_examples_cli.md
  examples/all-clusters-app/esp32/main/main.cpp
  examples/chip-tool/README.md
  examples/chip-tool/commands/payload/SetupPayloadParseCommand.cpp
  examples/chip-tool/commands/payload/SetupPayloadParseCommand.h
  examples/pump-app/cc13x2x7_26x2x7/README.md
  examples/pump-controller-app/cc13x2x7_26x2x7/README.md
  src/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/CHIPToolActivity.kt
  src/controller/python/README.md
  src/controller/python/chip/setup_payload/Parser.cpp
  src/controller/python/chip/setup_payload/setup_payload.py
  src/darwin/Framework/CHIP/CHIPSetupPayload.h
  src/darwin/Framework/CHIP/CHIPSetupPayload.mm
  src/darwin/Framework/CHIP/CHIPSetupPayload_Internal.h
  src/darwin/Framework/CHIPTests/CHIPSetupPayloadParserTests.m
  src/setup_payload/Base38.cpp
  src/setup_payload/ManualSetupPayloadGenerator.cpp
  src/setup_payload/ManualSetupPayloadParser.cpp
  src/setup_payload/QRCodeSetupPayloadGenerator.cpp
  src/setup_payload/QRCodeSetupPayloadParser.cpp
  src/setup_payload/SetupPayload.cpp
  src/setup_payload/SetupPayload.h
  src/setup_payload/SetupPayloadHelper.cpp
  src/setup_payload/java/SetupPayloadParser-JNI.cpp
  src/setup_payload/java/src/chip/setuppayload/SetupPayload.java
  src/setup_payload/tests/TestHelpers.h
  src/setup_payload/tests/TestManualCode.cpp
  src/setup_payload/tests/TestQRCode.cpp
Labels: android, controller, darwin, documentation, examples, review - approved, setup payload, technical review - DONE

#7419 Fix for ESP32 compilation on VSCode.
  scripts/examples/build-all-clusters-app.py
Labels: review - approved, scripts

#7217 [esp32] reduce default event queue size
  config/esp32/components/chip/Kconfig
Labels: config, review - approved

#7424 [crypto] Unblock parsing CSRs on embedded devices
  src/crypto/CHIPCryptoPALmbedTLS.cpp
  src/test_driver/nrfconnect/main/include/app_mbedtls_config.h
Labels: crypto, review - approved

#7332 Add IM Event Lock support
  src/app/BUILD.gn
  src/app/CriticalSection.h
  src/app/CriticalSectionImplPosix.cpp
  src/app/CriticalSectionImplRtos.cpp
  src/app/CriticalSectionImplZephyr.cpp
  src/app/EventManagement.cpp
  src/app/EventManagement.h
  src/inet/InetLayer.h
  src/platform/EFR32/SystemPlatformConfig.h
  src/platform/ESP32/SystemPlatformConfig.h
  src/platform/K32W/SystemPlatformConfig.h
  src/platform/cc13x2_26x2/SystemPlatformConfig.h
  src/platform/qpg6100/SystemPlatformConfig.h
  src/system/SystemMutex.cpp
  src/system/SystemMutex.h
  src/system/system.gni
Labels: app, efr32, esp32, inet, k32w, nrf connect, platform, review - approved, system

#7429 Fix System vs Inet and BLE shutdown order
  src/controller/CHIPDeviceController.cpp
  src/controller/java/CHIPDeviceController-JNI.cpp
  src/include/platform/internal/GenericPlatformManagerImpl.cpp
Labels: controller, review - approved

#7431 Reduce RAM Usage for EFR32MG21 examples
  examples/lighting-app/efr32/BUILD.gn
  examples/lock-app/efr32/src/ZclCallbacks.cpp
  examples/platform/efr32/project_include/OpenThreadConfig.h
  src/lwip/efr32/lwipopts.h
Labels: TE3, TE3 cherry pick, examples, lwip, review - approved

#7447 [test] Update log checking patten after log output update
  src/controller/python/test/test_scripts/base.py
  src/controller/python/test/test_scripts/mobile-device-test.py
  src/test_driver/linux-cirque/test-mobile-device.py
Labels: controller, review - approved

#7384 Updated ECDSA Signature Representation in the CHIP Certificate.
  src/credentials/CHIPCert.cpp
  src/credentials/CHIPCert.h
  src/credentials/CHIPCertFromX509.cpp
  src/credentials/CHIPCertToX509.cpp
  src/credentials/tests/CHIPCert_test_vectors.cpp
  src/crypto/CHIPCryptoPAL.h
  src/tools/chip-cert/Cmd_PrintCert.cpp
Labels: crypto, review - approved

#7428 Fix incorrect test termination condition in TestCommand subclasses.
  examples/chip-tool/commands/tests/Commands.h
  examples/chip-tool/templates/partials/test_cluster.zapt
Labels: examples, review - approved

#7433 Make test_suites.sh run multiple iterations of the tests.
  scripts/tests/test_suites.sh
Labels: review - approved, scripts

#7449 Increase timeout for bootstrap running.
  .github/workflows/android.yaml
  .github/workflows/build.yaml
  .github/workflows/darwin.yaml
  .github/workflows/examples-linux-standalone.yaml
  .github/workflows/tests.yaml
  .github/workflows/unit_integration_test.yaml
Labels: Tests not applicable, github, hotfix, workflows

#7122 [python] Enhancement of manual test using Cirque
  integrations/docker/ci-only-images/chip-cirque-device-base/Dockerfile
  scripts/tests/cirque_tests.sh
  src/test_driver/linux-cirque/ManualTest.sh
  src/test_driver/linux-cirque/README.md
  src/test_driver/linux-cirque/helper/CHIPTestBase.py
  src/test_driver/linux-cirque/test-manual.py
  src/test_driver/linux-cirque/topologies/three_node_with_thread.json
  src/test_driver/linux-cirque/topologies/two_node_with_thread.json
Labels: Tested manually, integrations, review - approved, scripts

#7430 Fix shutdown ordering in DeviceController.
  src/controller/CHIPDeviceController.cpp
Labels: controller, review - approved

#7461 Move bootstrap earlier in darwin build
  .github/workflows/darwin.yaml
Labels: github, review - approved, workflows

#7464 Move nulling out of CHIPDeviceController members closer to where they are shut down.
  src/controller/CHIPDeviceController.cpp
Labels: controller, review - approved

#7434 Remove workarounds for threading problems from chip-tool commands.
  examples/chip-tool/commands/common/Commands.cpp
  examples/chip-tool/commands/tests/TestCommand.cpp
Labels: examples, review - approved

#7469 Fix shutdown ordering in IM integration test
  src/app/tests/integration/chip_im_initiator.cpp
  src/app/tests/integration/chip_im_responder.cpp
  src/app/tests/integration/common.cpp
  src/app/tests/integration/common.h
Labels: app, review - approved

#7282 PKCS7 data support
  src/credentials/tests/CHIPCert_test_vectors.cpp
  src/credentials/tests/CHIPCert_test_vectors.h
  src/crypto/CHIPCryptoPAL.h
  src/crypto/CHIPCryptoPALOpenSSL.cpp
  src/crypto/CHIPCryptoPALmbedTLS.cpp
  src/crypto/tests/BUILD.gn
  src/crypto/tests/CHIPCryptoPALTest.cpp
  src/crypto/tests/X509_PKCS7Extraction_test_vectors.h
Labels: crypto, review - approved

#7467 Remove linux clang_experimental build
  .github/workflows/build.yaml
  scripts/build/gn_gen.sh
Labels: github, review - approved, scripts, workflows

#7485 [python] Raise exceptions when the controller failed to send commands
  src/controller/python/chip/clusters/CHIPClusters.py
  src/controller/python/templates/python-CHIPClusters-py.zapt
Labels: controller, review - approved

#7451 * Limit OpenThread CLI buffers as RAM optimization
  examples/platform/qpg6100/project_include/OpenThreadConfig.h
Labels: examples, review - approved

#7473 Upload logs after bootstrap
  .github/workflows/android.yaml
  .github/workflows/build.yaml
  .github/workflows/darwin.yaml
  .github/workflows/examples-efr32.yaml
  .github/workflows/examples-esp32.yaml
  .github/workflows/examples-k32w.yaml
  .github/workflows/examples-linux-standalone.yaml
  .github/workflows/examples-nrfconnect.yaml
  .github/workflows/examples-qpg6100.yaml
  .github/workflows/qemu.yaml
  .github/workflows/release_artifacts.yaml
  .github/workflows/tests.yaml
  .github/workflows/unit_integration_test.yaml
Labels: github, review - approved, workflows

#7495 Update WiFi SoftAP and BLE Device Name prefix to MATTER-
  config/esp32/components/chip/Kconfig
  src/include/platform/CHIPDeviceConfig.h
Labels: Tested manually, config, review - pending

#7487 Darwin - Pass the port advertised by mdns in network bytes order
  src/platform/Darwin/MdnsImpl.cpp
Labels: darwin, platform, review - approved

#7494 Fix data race on mTestIndex.
  examples/chip-tool/commands/tests/Commands.h
  examples/chip-tool/templates/partials/test_cluster.zapt
Labels: examples, review - approved

#7490 [K32W] Increase IM timeout
  src/app/InteractionModelEngine.h
Labels: TE3 cherry pick, Tested manually, app, review - approved

#7455 API to generate array of CHIP Certs for op creds
  src/credentials/CHIPCert.cpp
  src/credentials/CHIPCert.h
  src/credentials/CHIPCertFromX509.cpp
  src/credentials/tests/TestChipCert.cpp
Labels: Has Automated Tests, lib, review - approved

#7496 Add closeContainer check for CheckSchemaValidity
  src/app/MessageDef/AttributeDataElement.cpp
  src/app/MessageDef/AttributeDataList.cpp
  src/app/MessageDef/AttributeDataVersionList.cpp
  src/app/MessageDef/AttributePath.cpp
  src/app/MessageDef/AttributePathList.cpp
  src/app/MessageDef/AttributeStatusElement.cpp
  src/app/MessageDef/AttributeStatusList.cpp
  src/app/MessageDef/CommandDataElement.cpp
  src/app/MessageDef/CommandList.cpp
  src/app/MessageDef/CommandPath.cpp
  src/app/MessageDef/EventDataElement.cpp
  src/app/MessageDef/EventList.cpp
  src/app/MessageDef/EventPath.cpp
  src/app/MessageDef/EventPathList.cpp
  src/app/MessageDef/InvokeCommand.cpp
  src/app/MessageDef/ListParser.cpp
  src/app/MessageDef/ReadRequest.cpp
  src/app/MessageDef/ReportData.cpp
  src/app/MessageDef/StatusElement.cpp
  src/app/MessageDef/WriteRequest.cpp
  src/app/MessageDef/WriteResponse.cpp
  src/app/tests/TestReadInteraction.cpp
  src/lib/core/CHIPTLVReader.cpp
Labels: Has Automated Tests, app, lib, review - approved

#6962 Add github action to report memory diff user diffsyms tool
  .github/workflows/examples-esp32.yaml
  scripts/helpers/post_comment.py
Labels: github, review - approved, scripts, workflows

#7502 Do not send msg3 if key confirm fails in PASE
  src/protocols/secure_channel/PASESession.cpp
  src/protocols/secure_channel/tests/TestPASESession.cpp
Labels: review - approved

#7504 Propagate pairing errors out as chip-tool exit values.
  examples/chip-tool/commands/pairing/PairingCommand.cpp
Labels: examples, review - approved

#7508 Add IP commissioning guide.
  docs/guides/ip_commissioning.md
Labels: documentation, review - approved

#7405 Darwin use the global dispatch queue instead of relying on the IO thread and locking
  src/app/EventManagement.cpp
  src/app/EventManagement.h
  src/inet/IPEndPointBasis.cpp
  src/inet/RawEndPoint.cpp
  src/inet/RawEndPoint.h
  src/inet/TCPEndPoint.cpp
  src/inet/TCPEndPoint.h
  src/inet/UDPEndPoint.cpp
  src/inet/UDPEndPoint.h
  src/platform/BUILD.gn
  src/platform/Darwin/MdnsImpl.cpp
  src/platform/Darwin/PlatformManagerImpl.cpp
  src/platform/Darwin/PlatformManagerImpl.h
  src/platform/Darwin/SystemPlatformConfig.h
  src/system/SystemLayer.cpp
  src/system/SystemPacketBuffer.cpp
  src/system/SystemTimer.cpp
  src/system/SystemTimer.h
  src/system/system.gni
Labels: app, darwin, inet, platform, review - approved, system

#6476 OTAServerDelegate class for vendor logic
  examples/all-clusters-app/all-clusters-common/all-clusters-app.zap
  examples/all-clusters-app/all-clusters-common/gen/callback-stub.cpp
  examples/all-clusters-app/all-clusters-common/gen/callback.h
  examples/all-clusters-app/all-clusters-common/gen/endpoint_config.h
  examples/all-clusters-app/all-clusters-common/gen/gen_config.h
  examples/chip-tool/commands/clusters/Commands.h
  src/app/clusters/ota-server/ota-server-delegate.h
  src/app/clusters/ota-server/ota-server.cpp
  src/app/clusters/ota-server/ota-server.h
  src/app/util/af-enums.h
  src/app/zap-templates/zcl/chip-ota.xml
  src/app/zap_cluster_list.py
  src/controller/data_model/controller-clusters.zap
  src/controller/data_model/gen/CHIPClientCallbacks.cpp
  src/controller/data_model/gen/CHIPClientCallbacks.h
  src/controller/data_model/gen/CHIPClusters.cpp
  src/controller/data_model/gen/CHIPClusters.h
  src/controller/data_model/gen/IMClusterCommandHandler.cpp
  src/controller/data_model/gen/call-command-handler.cpp
  src/controller/data_model/gen/callback-stub.cpp
  src/controller/data_model/gen/callback.h
  src/controller/data_model/gen/chip-zcl-zpro-codec-api.h
  src/controller/data_model/gen/encoder.cpp
  src/controller/data_model/gen/endpoint_config.h
  src/controller/data_model/gen/gen_config.h
  src/controller/python/chip/clusters/CHIPClusters.cpp
  src/controller/python/chip/clusters/CHIPClusters.py
  src/darwin/Framework/CHIP/gen/CHIPClustersObjc.h
  src/darwin/Framework/CHIP/gen/CHIPClustersObjc.mm
  src/darwin/Framework/CHIP/templates/helper.js
  src/darwin/Framework/CHIPTests/CHIPClustersTests.m
Labels: Tested manually, app, controller, darwin, examples, review - approved, technical review - DONE

#7514 Print pin code and long discriminator on QR screen
  examples/all-clusters-app/esp32/main/main.cpp
Labels: examples, review - approved

#7513 [esp32] Support level control cluster in ESP32 all cluster app
  examples/all-clusters-app/esp32/main/DeviceCallbacks.cpp
  examples/all-clusters-app/esp32/main/LEDWidget.cpp
  examples/all-clusters-app/esp32/main/include/DeviceCallbacks.h
  examples/all-clusters-app/esp32/main/include/LEDWidget.h
  examples/all-clusters-app/esp32/main/main.cpp
Labels: examples, review - approved

#7518 Remove `exit: return` idiom from src/ble
  src/ble/BLEEndPoint.cpp
  src/ble/BleLayer.cpp
  src/ble/BtpEngine.cpp
Labels: ble, review - approved

#7534 Revert "OTAServerDelegate class for vendor logic"
  examples/all-clusters-app/all-clusters-common/all-clusters-app.zap
  examples/all-clusters-app/all-clusters-common/gen/callback-stub.cpp
  examples/all-clusters-app/all-clusters-common/gen/callback.h
  examples/all-clusters-app/all-clusters-common/gen/endpoint_config.h
  examples/all-clusters-app/all-clusters-common/gen/gen_config.h
  examples/chip-tool/commands/clusters/Commands.h
  src/app/clusters/ota-server/ota-server-delegate.h
  src/app/clusters/ota-server/ota-server.cpp
  src/app/clusters/ota-server/ota-server.h
  src/app/util/af-enums.h
  src/app/zap-templates/zcl/chip-ota.xml
  src/app/zap_cluster_list.py
  src/controller/data_model/controller-clusters.zap
  src/controller/data_model/gen/CHIPClientCallbacks.cpp
  src/controller/data_model/gen/CHIPClientCallbacks.h
  src/controller/data_model/gen/CHIPClusters.cpp
  src/controller/data_model/gen/CHIPClusters.h
  src/controller/data_model/gen/IMClusterCommandHandler.cpp
  src/controller/data_model/gen/call-command-handler.cpp
  src/controller/data_model/gen/callback-stub.cpp
  src/controller/data_model/gen/callback.h
  src/controller/data_model/gen/chip-zcl-zpro-codec-api.h
  src/controller/data_model/gen/encoder.cpp
  src/controller/data_model/gen/endpoint_config.h
  src/controller/data_model/gen/gen_config.h
  src/controller/python/chip/clusters/CHIPClusters.cpp
  src/controller/python/chip/clusters/CHIPClusters.py
  src/darwin/Framework/CHIP/gen/CHIPClustersObjc.h
  src/darwin/Framework/CHIP/gen/CHIPClustersObjc.mm
  src/darwin/Framework/CHIP/templates/helper.js
  src/darwin/Framework/CHIPTests/CHIPClustersTests.m
Labels: app, controller, darwin, examples, review - pending

#7509 Fix shutdown ordering in Echo requester/responder
  src/messaging/tests/echo/common.cpp
  src/messaging/tests/echo/common.h
  src/messaging/tests/echo/echo_requester.cpp
  src/messaging/tests/echo/echo_responder.cpp
Labels: review - approved

#7506 Pre-commit hook to test if the code needs restyling
  .githooks/pre-commit
Labels: review - approved

#7536 CHIP Epoch Year is Changed from 2020 to 2000.
  src/credentials/tests/CHIPCert_test_vectors.cpp
  src/credentials/tests/TestChipCert.cpp
  src/lib/support/TimeUtils.h
Labels: Has Automated Tests, lib, review - approved

#7532 Update platform manager state on shutdown
  src/darwin/Framework/CHIP.xcodeproj/project.pbxproj
  src/darwin/Framework/CHIP/CHIPDeviceController.mm
  src/darwin/Framework/CHIPTests/CHIPControllerTests.m
  src/include/platform/PlatformManager.h
Labels: Has Automated Tests, darwin, review - approved

#7542 Revert "Revert "[controller] Move callbacks to CommandResponseStatus since timing related issue is resolved.""
  src/controller/CHIPDeviceController.cpp
Labels: Tested manually, controller, review - approved

#7527 Filter received mdns records to chip only.
  src/lib/mdns/Resolver_ImplMinimalMdns.cpp
Labels: Tested manually, lib, review - approved

#7548 [doc] Update nRF Connect - Android commissioning guide
  docs/guides/nrfconnect_android_commissioning.md
  docs/images/CHIPTool_device_commissioned.jpg
  docs/images/nrfconnect_android_connectivity.svg
Labels: documentation, review - approved

#7550 Revert forced CI compare to baseline
  .github/workflows/examples-esp32.yaml
  scripts/helpers/post_comment.py
Labels: github, hotfix, scripts, workflows

#7538 IM command needs mandatory path
  examples/all-clusters-app/all-clusters-common/gen/IMClusterCommandHandler.cpp
  examples/bridge-app/bridge-common/gen/IMClusterCommandHandler.cpp
  examples/lighting-app/lighting-common/gen/IMClusterCommandHandler.cpp
  examples/lock-app/lock-common/gen/IMClusterCommandHandler.cpp
  examples/pump-app/pump-common/gen/IMClusterCommandHandler.cpp
  examples/pump-controller-app/pump-controller-common/gen/CHIPClusters.cpp
  examples/pump-controller-app/pump-controller-common/gen/IMClusterCommandHandler.cpp
  examples/temperature-measurement-app/esp32/main/gen/IMClusterCommandHandler.cpp
  examples/tv-app/tv-common/gen/IMClusterCommandHandler.cpp
  examples/window-app/common/gen/IMClusterCommandHandler.cpp
  src/app/Command.cpp
  src/app/Command.h
  src/app/CommandHandler.cpp
  src/app/CommandHandler.h
  src/app/clusters/door-lock-server/door-lock-server-logging.cpp
  src/app/clusters/door-lock-server/door-lock-server-schedule.cpp
  src/app/clusters/door-lock-server/door-lock-server-user.cpp
  src/app/clusters/groups-server/groups-server.cpp
  src/app/clusters/identify/identify.cpp
  src/app/clusters/operational-credentials-server/operational-credentials-server.cpp
  src/app/clusters/scenes/scenes.cpp
  src/app/clusters/test-cluster-server/test-cluster-server.cpp
  src/app/tests/TestCommandInteraction.cpp
  src/app/tests/integration/chip_im_initiator.cpp
  src/app/tests/integration/chip_im_responder.cpp
  src/app/util/ember-compatibility-functions.cpp
  src/app/zap-templates/templates/app/CHIPClusters-src.zapt
  src/app/zap-templates/templates/app/im-cluster-command-handler.zapt
  src/controller/data_model/gen/CHIPClusters.cpp
  src/controller/data_model/gen/IMClusterCommandHandler.cpp
Labels: app, controller, examples, review - approved

#7507 Add ResponseSender tests.
  src/lib/mdns/minimal/Server.h
  src/lib/mdns/minimal/tests/BUILD.gn
  src/lib/mdns/minimal/tests/TestResponseSender.cpp
Labels: Has Automated Tests, lib, review - approved

#7520 Mdns: move Hostname into MdnsService struct
  src/lib/mdns/Discovery_ImplPlatform.cpp
  src/lib/mdns/Discovery_ImplPlatform.h
  src/lib/mdns/platform/Mdns.h
  src/platform/Darwin/MdnsImpl.cpp
  src/platform/Darwin/MdnsImpl.h
  src/platform/ESP32/MdnsImpl.cpp
  src/platform/Linux/MdnsImpl.cpp
  src/platform/OpenThread/GenericThreadStackManagerImpl_OpenThread.h
  src/platform/OpenThread/MdnsImpl.cpp
  src/platform/tests/TestMdns.cpp
Labels: darwin, esp32, lib, linux, openthread, platform, review - approved

#7552 Add a fixit rotation script and a workflow (for official runs)
  .github/workflows/fixit_rotation.yaml
  scripts/fixit_rotation.py
Labels: github, review - approved, scripts, workflows

#7556 Check CSR Nonce before processing CSR
  src/controller/CHIPDevice.h
  src/controller/CHIPDeviceController.cpp
Labels: controller, review - approved

#7278 Enable initial Thread Network Diagnostics cluster on the controllers
  examples/all-clusters-app/all-clusters-common/gen/endpoint_config.h
  examples/bridge-app/bridge-common/gen/endpoint_config.h
  examples/chip-tool/commands/clusters/Commands.h
  examples/lighting-app/lighting-common/gen/endpoint_config.h
  examples/lock-app/lock-common/gen/endpoint_config.h
  examples/pump-app/pump-common/gen/endpoint_config.h
  examples/pump-controller-app/pump-controller-common/gen/endpoint_config.h
  examples/tv-app/tv-common/gen/endpoint_config.h
  examples/window-app/common/gen/endpoint_config.h
  src/app/zap-templates/zcl/thread-network-diagnostics-cluster.xml
  src/controller/data_model/controller-clusters.zap
  src/controller/data_model/gen/CHIPClientCallbacks.cpp
  src/controller/data_model/gen/CHIPClientCallbacks.h
  src/controller/data_model/gen/CHIPClusters.cpp
  src/controller/data_model/gen/CHIPClusters.h
  src/controller/data_model/gen/callback-stub.cpp
  src/controller/data_model/gen/callback.h
  src/controller/data_model/gen/chip-zcl-zpro-codec-api.h
  src/controller/data_model/gen/encoder.cpp
  src/controller/data_model/gen/endpoint_config.h
  src/controller/data_model/gen/gen_config.h
  src/controller/python/chip/clusters/CHIPClusters.cpp
  src/controller/python/chip/clusters/CHIPClusters.py
  src/darwin/Framework/CHIP/gen/CHIPClustersObjc.h
  src/darwin/Framework/CHIP/gen/CHIPClustersObjc.mm
  src/darwin/Framework/CHIP/templates/helper.js
  src/darwin/Framework/CHIPTests/CHIPClustersTests.m
Labels: app, controller, darwin, examples, review - approved

#7444 Added Compare Operators and empty() Method to Span/FixedSpan Classes
  src/lib/support/Span.h
  src/lib/support/tests/TestSpan.cpp
Labels: lib, review - approved

#7586 Fix various compile failures with is_debug=false
  BUILD.gn
  gn_build.sh
  src/app/clusters/groups-server/groups-server.cpp
  src/lwip/cc13x2_26x2/arch/cc.h
Labels: app, build issue, lwip, review - approved

#7592 [scripts] add helper script to build otbr docker for test events
  scripts/helpers/otbr_docker_build.sh
Labels: review - approved, scripts

#7525 Instrument log to correlate messages be sent and received within the …
  src/transport/SecureSessionMgr.cpp
Labels: review - approved, transport

#7594 Fixit rotation script fix:
  .github/workflows/fixit_rotation.yaml
  scripts/fixit_rotation.py
Labels: github, hotfix, scripts, workflows

#7266 use the enumeration with an fixed underlying type
  src/app/clusters/door-lock-server/door-lock-server-user.cpp
  src/app/clusters/groups-server/groups-server.cpp
  src/app/clusters/scenes/scenes.cpp
  src/app/common/gen/enums.h
  src/app/util/af-enums.h
  src/app/zap-templates/templates/app/enums.zapt
Labels: Tested manually, app, esp32, platform, review - approved

#7575 Clean up defines in src/platform/BUILD.gn
  src/include/platform/LockTracker.h
  src/include/platform/PlatformManager.h
  src/include/platform/internal/GenericPlatformManagerImpl_POSIX.cpp
  src/include/platform/internal/GenericPlatformManagerImpl_POSIX.h
  src/platform/BUILD.gn
  src/platform/Darwin/PlatformManagerImpl.h
  src/platform/LockTracker.cpp
Labels: darwin, platform, review - approved

#7528 Minimal mdns: move responders into allocator class.
  src/lib/mdns/Advertiser_ImplMinimalMdns.cpp
  src/lib/mdns/Advertiser_ImplMinimalMdnsAllocator.h
  src/lib/mdns/tests/BUILD.gn
  src/lib/mdns/tests/TestMinimalMdnsAllocator.cpp
Labels: Has Automated Tests, lib, review - approved

#7523 Remove CHIP buffer size check within shell and leave this it to lower layer
  examples/shell/shell_common/cmd_ping.cpp
  examples/shell/shell_common/cmd_send.cpp
  examples/shell/shell_common/include/Globals.h
Labels: Tested manually, examples, review - approved, system

#7573 all-clusters-app/esp32: add missing onoff vled side effect
  examples/all-clusters-app/esp32/main/DeviceCallbacks.cpp
Labels: Tested manually, examples, review - approved

#7478 Fix all detectable thread races in chip-tool
  examples/chip-tool/commands/clusters/ModelCommand.cpp
  examples/chip-tool/commands/clusters/ModelCommand.h
  examples/chip-tool/commands/common/Command.h
  examples/chip-tool/commands/common/Commands.cpp
  examples/chip-tool/commands/common/Commands.h
  examples/chip-tool/commands/discover/Commands.h
  examples/chip-tool/commands/discover/DiscoverCommand.cpp
  examples/chip-tool/commands/discover/DiscoverCommand.h
  examples/chip-tool/commands/pairing/PairingCommand.cpp
  examples/chip-tool/commands/pairing/PairingCommand.h
  examples/chip-tool/commands/payload/AdditionalDataParseCommand.cpp
  examples/chip-tool/commands/payload/AdditionalDataParseCommand.h
  examples/chip-tool/commands/payload/SetupPayloadParseCommand.cpp
  examples/chip-tool/commands/payload/SetupPayloadParseCommand.h
  examples/chip-tool/commands/reporting/ReportingCommand.cpp
  examples/chip-tool/commands/reporting/ReportingCommand.h
  examples/chip-tool/commands/tests/TestCommand.cpp
  examples/chip-tool/commands/tests/TestCommand.h
  examples/minimal-mdns/client.cpp
  src/app/tests/integration/common.cpp
  src/controller/CHIPDeviceController.cpp
  src/controller/CHIPDeviceController.h
  src/include/platform/PlatformManager.h
  src/include/platform/internal/GenericPlatformManagerImpl_FreeRTOS.cpp
  src/include/platform/internal/GenericPlatformManagerImpl_FreeRTOS.h
  src/include/platform/internal/GenericPlatformManagerImpl_POSIX.cpp
  src/include/platform/internal/GenericPlatformManagerImpl_POSIX.h
  src/include/platform/internal/GenericPlatformManagerImpl_Zephyr.cpp
  src/include/platform/internal/GenericPlatformManagerImpl_Zephyr.h
  src/messaging/tests/echo/common.cpp
  src/platform/Darwin/PlatformManagerImpl.h
  src/platform/tests/TestMdns.cpp
Labels: app, controller, examples, platform, review - approved

#7589 Always use python3 for zap_cluster_list.py
  src/app/chip_data_model.gni
Labels: app, review - approved

#7619 Fix Werror=format build error on EFR32, K32W, QPG6100
  examples/lighting-app/k32w/main/AppTask.cpp
  examples/lighting-app/qpg6100/src/AppTask.cpp
  examples/lock-app/k32w/main/AppTask.cpp
  examples/lock-app/qpg6100/src/AppTask.cpp
  src/app/clusters/network-commissioning/network-commissioning.cpp
Labels: app, examples, hotfix, review - pending

#7607 Fix tv-app build on darwin
  examples/tv-app/linux/include/keypad-input/KeypadInputManager.cpp
  examples/tv-app/linux/include/media-playback/MediaPlaybackManager.cpp
Labels: examples, hotfix, review - pending

#7608 Fix minimal mdns test
  src/lib/mdns/minimal/tests/BUILD.gn
  src/lib/mdns/minimal/tests/TestMinimalMdnsAllocator.cpp
  src/lib/mdns/tests/BUILD.gn
Labels: examples, hotfix, lib, review - pending

#7618 Add checkout step for the fixit rotation action
  .github/workflows/fixit_rotation.yaml
Labels: github, hotfix, workflows

#7531 When the "Test Suites" job fails on Darwin, upload core and object files as artifacts.
  .github/workflows/tests.yaml
  scripts/tests/test_suites.sh
Labels: github, review - approved, scripts, workflows

#7593 [nrfconnect] Reduce size of the Docker image
  .github/workflows/examples-nrfconnect.yaml
  integrations/docker/images/chip-build-esp32/Dockerfile
  integrations/docker/images/chip-build-nrf-platform/Dockerfile
  integrations/docker/images/chip-build-vscode/Dockerfile
  integrations/docker/images/chip-build/version
  scripts/examples/nrfconnect_example.sh
  scripts/requirements.in
  scripts/requirements.txt
  scripts/setup/nrfconnect/update_ncs.py
Labels: github, integrations, review - approved, scripts, workflows

#7642 Make span more C++20 std::span like
  src/lib/support/Span.h
Labels: lib, review - approved

#7639 [nrfconnect] Fix build with Zephyr shell integration
  src/platform/nrfconnect/shell/BUILD.gn
Labels: nrf connect, platform, review - approved

#7609 Fix more usage of C++ comments in XML comments
  src/app/zap-templates/zcl/audio-output-cluster.xml
  src/app/zap-templates/zcl/custom-types.xml
  src/app/zap-templates/zcl/media-input-cluster.xml
  src/app/zap-templates/zcl/software-diagnostics-cluster.xml
  src/app/zap-templates/zcl/target-navigator-cluster.xml
  src/app/zap-templates/zcl/tv-channel-cluster.xml
Labels: app, review - approved

#7649 Reduce iteration count for Darwin test for now.
  .github/workflows/tests.yaml
Labels: github, review - approved, workflows

#7650 Bump Raspberry Pi Ubuntu Server version to 21.04
  docs/BUILDING.md
Labels: documentation, review - approved

#7637 Remove chip_stack_lock_tracking for Darwin since it has been added ba…
  src/platform/BUILD.gn
Labels: platform, review - approved

#7630 Remove empty lwip test
  src/BUILD.gn
  src/lwip/tests/BUILD.gn
  src/lwip/tests/tests.c
Labels: lwip, review - approved

#7577 Fix uninitialized memory during chip-tool pairing
  src/controller/CHIPDevice.cpp
  src/credentials/CHIPCert.h
  src/credentials/CHIPOperationalCredentials.h
  src/transport/raw/PeerAddress.h
Labels: controller, inet, review - approved, transport

#7555 Change mdns broadcast to allow treatement as success if sends
  src/lib/mdns/minimal/Server.cpp
Labels: Tested manually, lib, review - approved

#7510 Remove PacketHandle in IM command
  src/app/Command.cpp
  src/app/Command.h
  src/app/CommandHandler.cpp
  src/app/CommandSender.cpp
  src/app/tests/TestCommandInteraction.cpp
Labels: app, review - approved

#7652 Upload core files as artifacts on Linux when crashes happen in the "Test Suites - Linux" test.
  .github/workflows/tests.yaml
Labels: examples, github, review - approved, workflows

#7627 Don't shut down already-shutdown IM objects.
  src/app/InteractionModelEngine.cpp
Labels: app, review - approved
