Repository project-chip/connectedhomeip, pull requests merged in 2021-05, with the labels that each got.

#6377 Enable SRP for the cc26x2x7
  examples/lock-app/cc13x2x7_26x2x7/main/include/CHIPProjectConfig.h
  examples/lock-app/cc13x2x7_26x2x7/main/include/OpenThreadConfig.h
  src/platform/cc13x2_26x2/Logging.cpp
  src/platform/cc13x2_26x2/cc13x2_26x2-mbedtls-config.h
  src/platform/device.gni
Labels: examples, lib, platform

#6405 Add Crypto API to verify the CSR and get pubkey
  src/crypto/CHIPCryptoPAL.h
  src/crypto/CHIPCryptoPALOpenSSL.cpp
  src/crypto/CHIPCryptoPALmbedTLS.cpp
  src/crypto/tests/CHIPCryptoPALTest.cpp
Labels: crypto

#6415 [Darwin] Reduce the tests timeout from 10 seconds to 3
  src/darwin/Framework/CHIP/templates/clusters-tests.zapt
  src/darwin/Framework/CHIPTests/CHIPClustersTests.m
Labels: darwin

#6414 [Darwin] Schedule Mdns callbacks on the main framework dispatch queue
  src/platform/Darwin/MdnsImpl.cpp
Labels: darwin, platform

#6428 Zap remove ember af maximum aps payload length
  examples/all-clusters-app/all-clusters-common/gen/callback-stub.cpp
  examples/all-clusters-app/all-clusters-common/gen/callback.h
  examples/bridge-app/bridge-common/gen/callback-stub.cpp
  examples/bridge-app/bridge-common/gen/callback.h
  examples/chip-tool/gen/callback-stub.cpp
  examples/chip-tool/gen/callback.h
  examples/lighting-app/lighting-common/gen/callback-stub.cpp
  examples/lighting-app/lighting-common/gen/callback.h
  examples/lock-app/lock-common/gen/callback-stub.cpp
  examples/lock-app/lock-common/gen/callback.h
  examples/temperature-measurement-app/esp32/main/gen/callback-stub.cpp
  examples/temperature-measurement-app/esp32/main/gen/callback.h
  examples/tv-app/tv-common/gen/callback-stub.cpp
  examples/tv-app/tv-common/gen/callback.h
  examples/window-app/common/gen/callback-stub.cpp
  examples/window-app/common/gen/callback.h
  src/app/reporting/reporting.cpp
  src/app/util/af-main-common.cpp
  src/app/util/af.h
  src/app/util/config.h
  src/app/util/process-global-message.cpp
  src/app/util/util.cpp
  src/app/zap-templates/templates/app/callback-stub-src.zapt
  src/app/zap-templates/templates/app/callback.zapt
  src/controller/python/gen/callback-stub.cpp
  src/controller/python/gen/callback.h
  src/darwin/Framework/CHIP/gen/callback-stub.cpp
  src/darwin/Framework/CHIP/gen/callback.h
Labels: app, controller, darwin, examples

#6397 ESP32: Optimize the temperature-measurement-app for CMake
  config/esp32/components/chip/CMakeLists.txt
  examples/temperature-measurement-app/esp32/CMakeLists.txt
  examples/temperature-measurement-app/esp32/README.md
Labels: config, examples

#6420 * Fix 64-bit prints mDNS code for nano libprintf
  src/app/server/Mdns.cpp
  src/lib/mdns/Discovery_ImplPlatform.cpp
Labels: app, lib

#6427 Fix restyle URL for downloading script
  scripts/helpers/restyle-diff.sh
Labels: scripts

#6411 Make sure string data is available when passed to the registered completion handler
  examples/chip-tool/gen/CHIPClustersObjc.mm
  src/app/zap-templates/templates/app/CHIPClustersObjc-src.zapt
  src/controller/python/gen/CHIPClustersObjc.mm
  src/darwin/Framework/CHIP/gen/CHIPClustersObjc.mm
Labels: app, controller, darwin, examples

#6370 Add APIs to generate minimal CHIP x509 encoded certificates
  src/credentials/BUILD.gn
  src/credentials/CHIPCert.h
  src/credentials/GenerateChipX509Cert.cpp
  src/credentials/tests/TestChipCert.cpp
  src/crypto/CHIPCryptoPAL.h
  src/crypto/CHIPCryptoPALOpenSSL.cpp
  src/crypto/CHIPCryptoPALmbedTLS.cpp
Labels: crypto, lib

#6432 Zap use byte span in struct
  examples/all-clusters-app/all-clusters-common/gen/af-structs.h
  examples/bridge-app/bridge-common/gen/af-structs.h
  examples/chip-tool/gen/CHIPClientCallbacks.cpp
  examples/chip-tool/gen/CHIPClustersObjc.mm
  examples/chip-tool/gen/af-structs.h
  examples/lighting-app/lighting-common/gen/af-structs.h
  examples/lock-app/lock-common/gen/af-structs.h
  examples/temperature-measurement-app/esp32/main/gen/af-structs.h
  examples/tv-app/tv-common/gen/af-structs.h
  examples/window-app/common/gen/af-structs.h
  src/app/zap-templates/templates/app/CHIPClientCallbacks-src.zapt
  src/app/zap-templates/templates/app/CHIPClustersObjc-src.zapt
  src/app/zap-templates/templates/app/af-structs.zapt
  src/app/zap-templates/templates/app/helper.js
  src/controller/python/gen/CHIPClientCallbacks.cpp
  src/controller/python/gen/CHIPClustersObjc.mm
  src/controller/python/gen/af-structs.h
  src/darwin/Framework/CHIP/gen/CHIPClientCallbacks.cpp
  src/darwin/Framework/CHIP/gen/CHIPClustersObjc.mm
  src/darwin/Framework/CHIP/gen/af-structs.h
Labels: app, controller, darwin, examples

#6361 Implement general commissioning cluster callbacks
  src/app/clusters/general-commissioning-server/general-commissioning-server.cpp
  src/include/platform/ConfigurationManager.h
  src/include/platform/internal/DeviceControlServer.h
  src/include/platform/internal/DeviceDescriptionServer.h
  src/include/platform/internal/GenericConfigurationManagerImpl.cpp
  src/include/platform/internal/GenericConfigurationManagerImpl.h
  src/platform/BUILD.gn
  src/platform/Darwin/PosixConfig.cpp
  src/platform/Darwin/PosixConfig.h
  src/platform/DeviceControlServer.cpp
  src/platform/EFR32/EFR32Config.h
  src/platform/ESP32/ESP32Config.cpp
  src/platform/ESP32/ESP32Config.h
  src/platform/K32W/K32WConfig.h
  src/platform/Linux/PosixConfig.cpp
  src/platform/Linux/PosixConfig.h
  src/platform/Zephyr/ZephyrConfig.cpp
  src/platform/Zephyr/ZephyrConfig.h
  src/platform/cc13x2_26x2/CC13X2_26X2Config.cpp
  src/platform/cc13x2_26x2/CC13X2_26X2Config.h
  src/platform/qpg6100/qpg6100Config.h
  src/platform/tests/TestConfigurationMgr.cpp
Labels: app, darwin, efr32, esp32, k32w, linux, platform, zephyr

#6358 Add Pairing API in CHIPFramework that takes in an onboarding payload …
  src/darwin/Framework/CHIP.xcodeproj/project.pbxproj
  src/darwin/Framework/CHIP/CHIPDeviceController.h
  src/darwin/Framework/CHIP/CHIPDeviceController.mm
  src/darwin/Framework/CHIP/CHIPOnboardingPayloadParser.h
  src/darwin/Framework/CHIP/CHIPOnboardingPayloadParser.m
  src/darwin/Framework/CHIP/CHIPSetupPayload.mm
  src/darwin/Framework/CHIPTests/CHIPSetupPayloadParserTests.m
Labels: darwin

#6372 Fix android KVS implementation to work across threads
  src/controller/java/AndroidKeyValueStoreManagerImpl.cpp
  src/controller/java/AndroidKeyValueStoreManagerImpl.h
  src/controller/java/CHIPDeviceController-JNI.cpp
Labels: controller

#6447 Remove endpoint 5 on the tv-app as it creates some random ZAP behavior
  examples/tv-app/tv-common/gen/IMClusterCommandHandler.cpp
  examples/tv-app/tv-common/gen/attribute-size.cpp
  examples/tv-app/tv-common/gen/call-command-handler.cpp
  examples/tv-app/tv-common/gen/callback-stub.cpp
  examples/tv-app/tv-common/gen/callback.h
  examples/tv-app/tv-common/gen/endpoint_config.h
  examples/tv-app/tv-common/gen/gen_config.h
  examples/tv-app/tv-common/tv-app.zap
Labels: examples, hotfix

#6444 [Darwin] Do not push the DNSServiceRegister onto the main dispatch queue
  src/platform/Darwin/MdnsImpl.cpp
Labels: darwin, platform

#6417 Updating TV example app to add support for on-off level control commands
  examples/tv-app/linux/BUILD.gn
  examples/tv-app/linux/include/cluster-change-attribute.cpp
  examples/tv-app/linux/include/level-control/LevelControl.cpp
  examples/tv-app/linux/main.cpp
Labels: android, examples

#6442 Use Objective-C naming convention for Cluster method names
  examples/chip-tool/gen/CHIPClustersObjc.h
  examples/chip-tool/gen/CHIPClustersObjc.mm
  src/app/zap-templates/templates/app/CHIPClustersObjc-src.zapt
  src/app/zap-templates/templates/app/CHIPClustersObjc.zapt
  src/controller/python/gen/CHIPClustersObjc.h
  src/controller/python/gen/CHIPClustersObjc.mm
  src/darwin/CHIPTool/CHIPTool/View Controllers/Bindings/BindingsViewController.m
  src/darwin/CHIPTool/CHIPTool/View Controllers/Fabric/FabricUIViewController.m
  src/darwin/CHIPTool/CHIPTool/View Controllers/QRCode/QRCodeViewController.m
  src/darwin/CHIPTool/CHIPTool/View Controllers/Temperature Sensor/TemperatureSensorViewController.m
  src/darwin/Framework/CHIP/gen/CHIPClustersObjc.h
  src/darwin/Framework/CHIP/gen/CHIPClustersObjc.mm
  src/darwin/Framework/CHIP/templates/clusters-tests.zapt
  src/darwin/Framework/CHIPTests/CHIPClustersTests.m
Labels: app, controller, darwin, examples

#6437 Delete RendezvousSession, and move code to controller and server
  examples/chip-tool/commands/pairing/PairingCommand.cpp
  examples/chip-tool/commands/pairing/PairingCommand.h
  scripts/tools/memory/README.md
  src/app/server/RendezvousServer.cpp
  src/app/server/RendezvousServer.h
  src/app/server/Server.cpp
  src/channel/ChannelContext.cpp
  src/channel/ChannelContext.h
  src/controller/CHIPDeviceController.cpp
  src/controller/CHIPDeviceController.h
  src/controller/java/AndroidDeviceControllerWrapper.cpp
  src/controller/java/AndroidDeviceControllerWrapper.h
  src/controller/python/ChipDeviceController-ScriptDevicePairingDelegate.cpp
  src/controller/python/ChipDeviceController-ScriptDevicePairingDelegate.h
  src/darwin/Framework/CHIP/CHIPDevicePairingDelegateBridge.h
  src/darwin/Framework/CHIP/CHIPDevicePairingDelegateBridge.mm
  src/protocols/secure_channel/BUILD.gn
  src/protocols/secure_channel/RendezvousSession.cpp
  src/protocols/secure_channel/RendezvousSession.h
  src/transport/BUILD.gn
  src/transport/RendezvousSessionDelegate.h
  src/transport/SessionEstablishmentDelegate.h
Labels: app, controller, darwin, examples, scripts, transport

#6463 ESP32 all clusters - print QR code.
  examples/all-clusters-app/esp32/main/main.cpp
Labels: examples

#6446 Zap uint16 t for attribute store
  examples/all-clusters-app/all-clusters-common/gen/callback-stub.cpp
  examples/all-clusters-app/all-clusters-common/gen/callback.h
  examples/bridge-app/bridge-common/gen/callback-stub.cpp
  examples/bridge-app/bridge-common/gen/callback.h
  examples/chip-tool/gen/callback-stub.cpp
  examples/chip-tool/gen/callback.h
  examples/lighting-app/lighting-common/gen/callback-stub.cpp
  examples/lighting-app/lighting-common/gen/callback.h
  examples/lock-app/lock-common/gen/callback-stub.cpp
  examples/lock-app/lock-common/gen/callback.h
  examples/temperature-measurement-app/esp32/main/gen/callback-stub.cpp
  examples/temperature-measurement-app/esp32/main/gen/callback.h
  examples/tv-app/tv-common/gen/callback-stub.cpp
  examples/tv-app/tv-common/gen/callback.h
  examples/window-app/common/gen/callback-stub.cpp
  examples/window-app/common/gen/callback.h
  src/app/clusters/ias-zone-server/ias-zone-server.cpp
  src/app/util/af-types.h
  src/app/util/af.h
  src/app/util/attribute-storage.cpp
  src/app/util/attribute-storage.h
  src/app/util/attribute-table.cpp
  src/app/util/util.cpp
  src/app/zap-templates/templates/app/callback-stub-src.zapt
  src/app/zap-templates/templates/app/callback.zapt
  src/controller/python/gen/callback-stub.cpp
  src/controller/python/gen/callback.h
  src/darwin/Framework/CHIP/gen/callback-stub.cpp
  src/darwin/Framework/CHIP/gen/callback.h
Labels: app, controller, darwin, examples

#6388 Implement Docker best practices - Round 2
  integrations/docker/images/chip-build-android/Dockerfile
  integrations/docker/images/chip-build-cirque/Dockerfile
  integrations/docker/images/chip-build-efr32/Dockerfile
  integrations/docker/images/chip-build-esp32-qemu/Dockerfile
  integrations/docker/images/chip-build-esp32/Dockerfile
  integrations/docker/images/chip-build-k32w/Dockerfile
  integrations/docker/images/chip-build-nrf-platform/Dockerfile
  integrations/docker/images/chip-build/Dockerfile
Labels: integrations

#6333 Move PacketHeader encoding/decoding from various Transport wrappers to upper layer
  src/messaging/ExchangeMgr.cpp
  src/messaging/ExchangeMgr.h
  src/messaging/MessageCounterSync.cpp
  src/messaging/tests/TestExchangeMgr.cpp
  src/messaging/tests/TestReliableMessageProtocol.cpp
  src/protocols/secure_channel/SessionEstablishmentExchangeDispatch.cpp
  src/protocols/secure_channel/tests/TestCASESession.cpp
  src/protocols/secure_channel/tests/TestPASESession.cpp
  src/transport/SecureSessionMgr.cpp
  src/transport/SecureSessionMgr.h
  src/transport/TransportMgr.h
  src/transport/TransportMgrBase.cpp
  src/transport/TransportMgrBase.h
  src/transport/raw/BLE.cpp
  src/transport/raw/BLE.h
  src/transport/raw/Base.h
  src/transport/raw/TCP.cpp
  src/transport/raw/TCP.h
  src/transport/raw/Tuple.h
  src/transport/raw/UDP.cpp
  src/transport/raw/UDP.h
  src/transport/raw/tests/TestTCP.cpp
  src/transport/raw/tests/TestUDP.cpp
  src/transport/tests/TestSecureSessionMgr.cpp
Labels: transport

#6472 Move Internal APIs to an Internal Header
  src/darwin/Framework/CHIP.xcodeproj/project.pbxproj
  src/darwin/Framework/CHIP/CHIPManualSetupPayloadParser.mm
  src/darwin/Framework/CHIP/CHIPQRCodeSetupPayloadParser.mm
  src/darwin/Framework/CHIP/CHIPSetupPayload.h
  src/darwin/Framework/CHIP/CHIPSetupPayload.mm
  src/darwin/Framework/CHIP/CHIPSetupPayload_Internal.h
Labels: darwin

#6479 Revert "Implement Docker best practices - Round 2"
  integrations/docker/images/chip-build-android/Dockerfile
  integrations/docker/images/chip-build-cirque/Dockerfile
  integrations/docker/images/chip-build-efr32/Dockerfile
  integrations/docker/images/chip-build-esp32-qemu/Dockerfile
  integrations/docker/images/chip-build-esp32/Dockerfile
  integrations/docker/images/chip-build-k32w/Dockerfile
  integrations/docker/images/chip-build-nrf-platform/Dockerfile
  integrations/docker/images/chip-build/Dockerfile
Labels: hotfix, integrations

#6483 Update tv-app gen folder for tests bustage
  examples/tv-app/tv-common/gen/IMClusterCommandHandler.cpp
  examples/tv-app/tv-common/gen/call-command-handler.cpp
  examples/tv-app/tv-common/gen/callback.h
Labels: examples, hotfix

#6471 Tweaks in efr32 thread examples
  examples/lighting-app/efr32/BUILD.gn
  examples/lock-app/efr32/BUILD.gn
  examples/platform/efr32/uart.c
  examples/platform/efr32/uart.h
  examples/window-app/efr32/BUILD.gn
  src/platform/FreeRTOS/GenericThreadStackManagerImpl_FreeRTOS.cpp
  src/platform/FreeRTOS/GenericThreadStackManagerImpl_FreeRTOS.h
Labels: examples, freeRTOS, platform

#6366 add IM event generation
  src/app/BUILD.gn
  src/app/CriticalSection.h
  src/app/CriticalSectionImplPosix.cpp
  src/app/CriticalSectionImplRtos.cpp
  src/app/CriticalSectionImplZephyr.cpp
  src/app/EventLoggingDelegate.h
  src/app/EventLoggingTypes.h
  src/app/EventManagement.cpp
  src/app/EventManagement.h
  src/app/tests/BUILD.gn
  src/app/tests/TestEventLogging.cpp
  src/app/tests/integration/BUILD.gn
  src/app/tests/integration/MockEvents.cpp
  src/app/tests/integration/MockEvents.h
  src/app/tests/integration/chip_im_responder.cpp
  src/lib/core/CHIPCircularTLVBuffer.cpp
  src/lib/core/CHIPCircularTLVBuffer.h
Labels: app, lib

#6482 Call Mdns::StartResolver since it is needed for minimal mdns
  examples/chip-tool/commands/discover/Commands.h
  src/controller/CHIPDeviceController.cpp
Labels: controller, examples

#6416 Feature/pbkdf hsm
  src/crypto/BUILD.gn
  src/crypto/CHIPCryptoPAL.h
  src/crypto/CHIPCryptoPALOpenSSL.cpp
  src/crypto/CHIPCryptoPALmbedTLS.cpp
  src/crypto/hsm/CHIPCryptoPALHsm.h
  src/crypto/hsm/CHIPCryptoPALHsm_config.h
  src/crypto/hsm/nxp/CHIPCryptoPALHsm_SE05X_PBKDF.cpp
  src/crypto/hsm/nxp/CHIPCryptoPALHsm_SE05X_Spake2p.cpp
  src/crypto/hsm/nxp/CHIPCryptoPALHsm_SE05X_utils.cpp
  src/crypto/hsm/nxp/CHIPCryptoPALHsm_SE05X_utils.h
  src/crypto/tests/CHIPCryptoPALTest.cpp
  src/protocols/secure_channel/PASESession.cpp
Labels: crypto

#6499 [QPG6100] Move Thread FTD role to MTD
  examples/lighting-app/qpg6100/BUILD.gn
  examples/lock-app/qpg6100/BUILD.gn
  examples/platform/qpg6100/app/main.cpp
  examples/platform/qpg6100/project_include/CHIPProjectConfig.h
  examples/platform/qpg6100/project_include/OpenThreadConfig.h
  src/platform/BUILD.gn
Labels: examples, platform, qpg6100

#6487 Move lighting-app clusters from endpoint 1 to 0
  examples/lighting-app/lighting-common/gen/endpoint_config.h
  examples/lighting-app/lighting-common/lighting-app.zap
Labels: examples

#6478 ESP32: Fix compilation of temperature-measurement-app and lock-app
  examples/lock-app/esp32/main/main.cpp
  examples/temperature-measurement-app/esp32/main/main.cpp
Labels: examples, hotfix

#6500 Add CHIPOnboardingPayloadParser.m to the list of files built by chip-…
  src/darwin/Framework/CHIP/BUILD.gn
Labels: darwin

#6286 Convert persistent storage to sync calls and binary data to align with KVS style storage
  examples/chip-tool/config/PersistentStorage.cpp
  examples/chip-tool/config/PersistentStorage.h
  src/android/CHIPTool/.idea/compiler.xml
  src/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/CHIPToolActivity.kt
  src/app/server/Server.cpp
  src/app/server/StorablePeerConnection.cpp
  src/controller/CHIPDeviceController.cpp
  src/controller/CHIPDeviceController.h
  src/controller/java/AndroidDeviceControllerWrapper.cpp
  src/controller/java/AndroidDeviceControllerWrapper.h
  src/controller/java/BUILD.gn
  src/controller/java/src/chip/devicecontroller/AndroidPersistentStorageDelegate.java
  src/controller/java/src/chip/devicecontroller/PersistentStorage.java
  src/controller/python/ChipDeviceController-StorageDelegate.cpp
  src/controller/python/ChipDeviceController-StorageDelegate.h
  src/controller/python/chip/internal/CommissionerImpl.cpp
  src/darwin/CHIPTool/CHIPTool/Framework Helpers/DefaultsUtils.m
  src/darwin/Framework/CHIP/CHIPDeviceController.mm
  src/darwin/Framework/CHIP/CHIPPersistentStorageDelegate.h
  src/darwin/Framework/CHIP/CHIPPersistentStorageDelegateBridge.h
  src/darwin/Framework/CHIP/CHIPPersistentStorageDelegateBridge.mm
  src/lib/core/CHIPPersistentStorageDelegate.h
Labels: android, app, controller, darwin, examples, lib, transport

#6438 Use the incoming exchange context to send responses in the data model
  examples/all-clusters-app/all-clusters-common/gen/callback-stub.cpp
  examples/all-clusters-app/all-clusters-common/gen/callback.h
  examples/bridge-app/bridge-common/gen/callback-stub.cpp
  examples/bridge-app/bridge-common/gen/callback.h
  examples/chip-tool/gen/CHIPClientCallbacks.cpp
  examples/chip-tool/gen/callback-stub.cpp
  examples/chip-tool/gen/callback.h
  examples/lighting-app/lighting-common/gen/callback-stub.cpp
  examples/lighting-app/lighting-common/gen/callback.h
  examples/lock-app/lock-common/gen/callback-stub.cpp
  examples/lock-app/lock-common/gen/callback.h
  examples/temperature-measurement-app/esp32/main/gen/callback-stub.cpp
  examples/temperature-measurement-app/esp32/main/gen/callback.h
  examples/tv-app/tv-common/gen/callback-stub.cpp
  examples/tv-app/tv-common/gen/callback.h
  examples/window-app/common/gen/callback-stub.cpp
  examples/window-app/common/gen/callback.h
  src/app/Command.h
  src/app/clusters/ias-zone-server/ias-zone-server.cpp
  src/app/clusters/operational-credentials-server/operational-credentials-server.cpp
  src/app/reporting/reporting.cpp
  src/app/server/Server.cpp
  src/app/util/DataModelHandler.cpp
  src/app/util/DataModelHandler.h
  src/app/util/af-main-common.cpp
  src/app/util/af-main.h
  src/app/util/af-types.h
  src/app/util/af.h
  src/app/util/attribute-storage.cpp
  src/app/util/attribute-storage.h
  src/app/util/chip-message-send.cpp
  src/app/util/chip-message-send.h
  src/app/util/common.h
  src/app/util/ember-compatibility-functions.cpp
  src/app/util/esi-management.cpp
  src/app/util/message.cpp
  src/app/util/types_stub.h
  src/app/util/util.cpp
  src/app/util/util.h
  src/app/zap-templates/templates/app/CHIPClientCallbacks-src.zapt
  src/app/zap-templates/templates/app/callback-stub-src.zapt
  src/app/zap-templates/templates/app/callback.zapt
  src/controller/CHIPDevice.cpp
  src/controller/CHIPDevice.h
  src/controller/CHIPDeviceController.cpp
  src/controller/EmptyDataModelHandler.cpp
  src/controller/python/gen/CHIPClientCallbacks.cpp
  src/controller/python/gen/callback-stub.cpp
  src/controller/python/gen/callback.h
  src/darwin/Framework/CHIP/gen/CHIPClientCallbacks.cpp
  src/darwin/Framework/CHIP/gen/callback-stub.cpp
  src/darwin/Framework/CHIP/gen/callback.h
  src/messaging/ExchangeMgr.cpp
  src/messaging/ExchangeMgr.h
Labels: app, examples

#6538 Fixing compile issue on Mac
  src/darwin/Framework/CHIP/CHIPPersistentStorageDelegateBridge.mm
Labels: darwin, hotfix

#6520 Fix reading controller node ID from storage
  src/darwin/Framework/CHIP/CHIPDeviceController.mm
Labels: darwin

#6441 Fix race condition during CRMP sendMessage
  scripts/tests/cirque_tests.sh
  src/transport/SecureSessionMgr.cpp
Labels: scripts, transport

#6535 Write null termination at the end of the device list string
  src/controller/CHIPDeviceController.cpp
Labels: controller

#6524 Fix incorrect initialization of mNextKeyID from storage
  src/controller/CHIPDeviceController.cpp
Labels: controller

#6514 Fix iOS CHIPTool build.
  src/darwin/CHIPTool/CHIPTool/View Controllers/QRCode/QRCodeViewController.m
Labels: darwin, hotfix

#6508 Enable CRMP for mesages from the server side of the data model.
  src/app/util/chip-message-send.cpp
Labels: app

#6458 * Add # of SRP service configuration + tailor SRP RAM useage
  src/include/platform/CHIPDeviceConfig.h
  src/lib/mdns/Advertiser.h
  src/lib/mdns/Discovery_ImplPlatform.cpp
  src/lib/mdns/platform/Mdns.h
  src/platform/OpenThread/GenericThreadStackManagerImpl_OpenThread.h
Labels: lib, openthread, platform

#6531 Update mobile-device-test.py endpoint to 0 instead of 1 and use const…
  examples/all-clusters-app/esp32/main/CHIPDeviceManager.cpp
  examples/all-clusters-app/esp32/main/DeviceCallbacks.cpp
  examples/all-clusters-app/esp32/main/include/CHIPDeviceManager.h
  examples/all-clusters-app/esp32/main/include/DeviceCallbacks.h
  examples/all-clusters-app/linux/main.cpp
  examples/bridge-app/linux/main.cpp
  examples/lighting-app/efr32/src/ZclCallbacks.cpp
  examples/lighting-app/k32w/main/ZclCallbacks.cpp
  examples/lighting-app/linux/main.cpp
  examples/lighting-app/nrfconnect/main/LightingManager.cpp
  examples/lighting-app/nrfconnect/main/ZclCallbacks.cpp
  examples/lighting-app/nrfconnect/main/include/LightingManager.h
  examples/lighting-app/qpg6100/include/LightingManager.h
  examples/lighting-app/qpg6100/src/LightingManager.cpp
  examples/lighting-app/qpg6100/src/ZclCallbacks.cpp
  examples/lock-app/cc13x2x7_26x2x7/main/ZclCallbacks.cpp
  examples/lock-app/esp32/main/CHIPDeviceManager.cpp
  examples/lock-app/esp32/main/DeviceCallbacks.cpp
  examples/lock-app/esp32/main/include/CHIPDeviceManager.h
  examples/lock-app/esp32/main/include/DeviceCallbacks.h
  examples/lock-app/k32w/main/ZclCallbacks.cpp
  examples/lock-app/nrfconnect/main/ZclCallbacks.cpp
  examples/lock-app/qpg6100/src/ZclCallbacks.cpp
  examples/temperature-measurement-app/esp32/main/CHIPDeviceManager.cpp
  examples/temperature-measurement-app/esp32/main/DeviceCallbacks.cpp
  examples/temperature-measurement-app/esp32/main/include/CHIPDeviceManager.h
  examples/temperature-measurement-app/esp32/main/include/DeviceCallbacks.h
  examples/tv-app/linux/include/cluster-change-attribute.cpp
  examples/window-app/efr32/src/ZclCallbacks.cpp
  src/controller/python/test/mobile-device-test.py
Labels: controller, examples

#6526 Zap update tv app again
  examples/tv-app/tv-common/gen/IMClusterCommandHandler.cpp
  examples/tv-app/tv-common/gen/call-command-handler.cpp
  examples/tv-app/tv-common/gen/callback-stub.cpp
  examples/tv-app/tv-common/gen/callback.h
  examples/tv-app/tv-common/gen/endpoint_config.h
  examples/tv-app/tv-common/gen/gen_config.h
  examples/tv-app/tv-common/tv-app.zap
Labels: examples

#6519 Remove the storage delegate's queue from the storage bridge
  src/darwin/CHIPTool/CHIPTool/Framework Helpers/DefaultsUtils.m
  src/darwin/Framework/CHIP/CHIPDeviceController.h
  src/darwin/Framework/CHIP/CHIPDeviceController.mm
  src/darwin/Framework/CHIP/CHIPPersistentStorageDelegateBridge.h
  src/darwin/Framework/CHIP/CHIPPersistentStorageDelegateBridge.mm
  src/darwin/Framework/CHIPTests/CHIPClustersTests.m
Labels: darwin

#6513 Add RemoveAllFabrics command to OpCreds cluster
  examples/all-clusters-app/all-clusters-common/all-clusters-app.zap
  examples/all-clusters-app/all-clusters-common/gen/IMClusterCommandHandler.cpp
  examples/all-clusters-app/all-clusters-common/gen/call-command-handler.cpp
  examples/all-clusters-app/all-clusters-common/gen/callback.h
  examples/all-clusters-app/all-clusters-common/gen/client-command-macro.h
  examples/all-clusters-app/all-clusters-common/gen/command-id.h
  examples/all-clusters-app/all-clusters-common/gen/endpoint_config.h
  examples/bridge-app/bridge-common/gen/client-command-macro.h
  examples/bridge-app/bridge-common/gen/command-id.h
  examples/chip-tool/chip-tool.zap
  examples/chip-tool/commands/clusters/Commands.h
  examples/chip-tool/gen/CHIPClusters.cpp
  examples/chip-tool/gen/CHIPClusters.h
  examples/chip-tool/gen/CHIPClustersObjc.h
  examples/chip-tool/gen/CHIPClustersObjc.mm
  examples/chip-tool/gen/client-command-macro.h
  examples/chip-tool/gen/command-id.h
  examples/chip-tool/gen/endpoint_config.h
  examples/lighting-app/lighting-common/gen/client-command-macro.h
  examples/lighting-app/lighting-common/gen/command-id.h
  examples/lock-app/lock-common/gen/client-command-macro.h
  examples/lock-app/lock-common/gen/command-id.h
  examples/temperature-measurement-app/esp32/main/gen/client-command-macro.h
  examples/temperature-measurement-app/esp32/main/gen/command-id.h
  examples/tv-app/tv-common/gen/client-command-macro.h
  examples/tv-app/tv-common/gen/command-id.h
  examples/window-app/common/gen/client-command-macro.h
  examples/window-app/common/gen/command-id.h
  src/app/chip-zcl-zpro-codec-api.h
  src/app/clusters/operational-credentials-server/operational-credentials-server.cpp
  src/app/encoder.cpp
  src/app/zap-templates/zcl/operational-credentials-cluster.xml
  src/controller/controller-clusters.zap
  src/controller/python/chip/clusters/CHIPClusters.cpp
  src/controller/python/chip/clusters/CHIPClusters.py
  src/controller/python/gen/CHIPClusters.cpp
  src/controller/python/gen/CHIPClusters.h
  src/controller/python/gen/CHIPClustersObjc.h
  src/controller/python/gen/CHIPClustersObjc.mm
  src/controller/python/gen/client-command-macro.h
  src/controller/python/gen/command-id.h
  src/controller/python/gen/endpoint_config.h
  src/controller/python/local-clusters.zap
  src/darwin/CHIPTool/CHIPTool/View Controllers/Fabric/FabricUIViewController.m
  src/darwin/Framework/CHIP/chip-tool.zap
  src/darwin/Framework/CHIP/gen/CHIPClusters.cpp
  src/darwin/Framework/CHIP/gen/CHIPClusters.h
  src/darwin/Framework/CHIP/gen/CHIPClustersObjc.h
  src/darwin/Framework/CHIP/gen/CHIPClustersObjc.mm
  src/darwin/Framework/CHIP/gen/client-command-macro.h
  src/darwin/Framework/CHIP/gen/command-id.h
  src/darwin/Framework/CHIP/gen/endpoint_config.h
Labels: app, examples

#6548 Fix bug where removed admin can continue messaging accessory and is a…
  src/app/server/Server.cpp
Labels: app

#6507 Store the PairedDeviceList as soon as a New Device is added
  src/controller/CHIPDeviceController.cpp
Labels: controller

#6550 Revert "[Python dev ctrl] ChipStack is initialized twice on Darwin (#…
  src/controller/python/chip/native/StackInit.cpp
  src/include/platform/PlatformManager.h
Labels: controller

#6579 Fixing compile issue on Mac
  src/darwin/Framework/CHIP/CHIPPersistentStorageDelegateBridge.h
Labels: darwin, hotfix

#6562 Update secure session key derivation to follow CHIP spec
  examples/shell/shell_common/cmd_ping.cpp
  examples/shell/shell_common/cmd_send.cpp
  src/app/server/RendezvousServer.cpp
  src/app/server/Server.cpp
  src/app/tests/integration/chip_im_initiator.cpp
  src/app/tests/integration/chip_im_responder.cpp
  src/controller/CHIPDevice.cpp
  src/controller/CHIPDeviceController.cpp
  src/messaging/tests/MessagingContext.cpp
  src/messaging/tests/TestMessageCounterSyncMgr.cpp
  src/messaging/tests/echo/echo_requester.cpp
  src/messaging/tests/echo/echo_responder.cpp
  src/protocols/secure_channel/CASESession.cpp
  src/protocols/secure_channel/CASESession.h
  src/protocols/secure_channel/PASESession.cpp
  src/protocols/secure_channel/PASESession.h
  src/protocols/secure_channel/tests/TestCASESession.cpp
  src/protocols/secure_channel/tests/TestPASESession.cpp
  src/transport/PairingSession.h
  src/transport/PeerConnectionState.h
  src/transport/SecureSession.cpp
  src/transport/SecureSession.h
  src/transport/SecureSessionMgr.cpp
  src/transport/SecureSessionMgr.h
  src/transport/tests/TestSecureSession.cpp
  src/transport/tests/TestSecureSessionMgr.cpp
Labels: app, controller, examples, transport

#6467 Added missing Network Commissioning cluster to the EFR32 Window Covering example
  examples/window-app/common/gen/IMClusterCommandHandler.cpp
  examples/window-app/common/gen/call-command-handler.cpp
  examples/window-app/common/gen/callback-stub.cpp
  examples/window-app/common/gen/callback.h
  examples/window-app/common/gen/endpoint_config.h
  examples/window-app/common/gen/gen_config.h
  examples/window-app/common/window-app.zap
  examples/window-app/efr32/src/main.cpp
Labels: examples

#6571 [hotfix] Fix Darwin template after #6519
  src/darwin/Framework/CHIP/templates/clusters-tests.zapt
Labels: darwin, hotfix

#6570 [dns-sd] use extended MAC address for Thread device hostname
  src/app/server/Mdns.cpp
  src/include/platform/ThreadStackManager.h
  src/include/platform/internal/GenericConfigurationManagerImpl.h
  src/platform/Linux/ThreadStackManagerImpl.cpp
  src/platform/Linux/ThreadStackManagerImpl.h
  src/platform/OpenThread/GenericThreadStackManagerImpl_OpenThread.cpp
  src/platform/OpenThread/GenericThreadStackManagerImpl_OpenThread.h
Labels: app, lib, linux, openthread, platform

#6566 Fix exchange leak issue in IM Read Interaction test in Cirque
  src/app/tests/integration/chip_im_initiator.cpp
Labels: app

#6412 Dispatch IO thread work to the main dispatch_queue for darwin
  src/inet/IPEndPointBasis.cpp
  src/platform/Darwin/PlatformManagerImpl.cpp
  src/system/BUILD.gn
  src/system/SystemLayer.cpp
  src/system/SystemLayer.h
  src/system/system.gni
Labels: darwin, examples, inet, platform, system

#6539 Added removing specific SRP service before adding new one.
  src/platform/OpenThread/MdnsImpl.cpp
Labels: openthread, platform

#6542 Adding configuration for NetworkCommissiong cluster
  src/app/clusters/network-commissioning/network-commissioning.cpp
  src/platform/qpg6100/CHIPDevicePlatformConfig.h
Labels: app, platform

#6572 added Grundfos to manufactures.xml
  src/app/zap-templates/zcl/manufacturers.xml
Labels: app

#6565 Persist mNextKeyID immediately instead of relying on teardown mechanisms
  src/controller/CHIPDeviceController.cpp
Labels: controller

#6298 Changes for mDNS latest in balloted spec
  examples/all-clusters-app/esp32/main/main.cpp
  examples/lighting-app/linux/BUILD.gn
  examples/lighting-app/linux/args.gni
  examples/lighting-app/linux/include/CHIPProjectAppConfig.h
  examples/minimal-mdns/README.md
  examples/minimal-mdns/advertiser.cpp
  examples/tv-app/linux/BUILD.gn
  examples/tv-app/linux/args.gni
  examples/tv-app/tv-common/include/CHIPProjectAppConfig.h
  src/app/server/Mdns.cpp
  src/app/server/Mdns.h
  src/include/platform/CHIPDeviceConfig.h
  src/include/platform/ConfigurationManager.h
  src/include/platform/internal/GenericConfigurationManagerImpl.cpp
  src/include/platform/internal/GenericConfigurationManagerImpl.h
  src/lib/core/CHIPConfig.h
  src/lib/mdns/Advertiser.h
  src/lib/mdns/Advertiser_ImplMinimalMdns.cpp
  src/lib/mdns/Advertiser_ImplNone.cpp
  src/lib/mdns/Discovery_ImplPlatform.cpp
  src/lib/mdns/Discovery_ImplPlatform.h
  src/platform/Darwin/CHIPDevicePlatformConfig.h
  src/platform/Darwin/MdnsImpl.cpp
  src/platform/Darwin/MdnsImpl.h
  src/platform/Linux/CHIPDevicePlatformConfig.h
Labels: app, darwin, examples, lib, linux, platform

#6594 Add support to send IM events
  src/app/ClusterInfo.h
  src/app/EventManagement.cpp
  src/app/EventManagement.h
  src/app/InteractionModelEngine.cpp
  src/app/InteractionModelEngine.h
  src/app/ReadClient.cpp
  src/app/ReadClient.h
  src/app/ReadHandler.cpp
  src/app/ReadHandler.h
  src/app/reporting/Engine.cpp
  src/app/reporting/Engine.h
  src/app/tests/TestClusterInfo.cpp
  src/app/tests/TestEventLogging.cpp
  src/app/tests/TestInteractionModelEngine.cpp
  src/app/tests/TestReadInteraction.cpp
  src/app/tests/integration/MockEvents.cpp
  src/app/tests/integration/chip_im_initiator.cpp
  src/app/tests/integration/chip_im_responder.cpp
  src/app/tests/integration/common.h
  src/controller/CHIPDeviceController.cpp
Labels: app, controller

#6606 Fix README typo
  examples/lighting-app/linux/README.md
Labels: examples

#6575 [nrfconnect] Added support for DFU in light and lock examples.
  config/nrfconnect/app/overlay-dfu_support.conf
  examples/lighting-app/nrfconnect/README.md
  examples/lighting-app/nrfconnect/child_image/mcuboot.conf
  examples/lighting-app/nrfconnect/configuration/nrf52840dk_nrf52840/pm_static.yml
  examples/lighting-app/nrfconnect/main/AppTask.cpp
  examples/lighting-app/nrfconnect/main/include/AppTask.h
  examples/lock-app/nrfconnect/README.md
  examples/lock-app/nrfconnect/child_image/mcuboot.conf
  examples/lock-app/nrfconnect/configuration/nrf52840dk_nrf52840/pm_static.yml
  examples/lock-app/nrfconnect/main/AppTask.cpp
  examples/lock-app/nrfconnect/main/include/AppTask.h
Labels: config, examples

#6598 Example operational credentials issuer for tests and tools
  examples/chip-tool/commands/pairing/PairingCommand.cpp
  examples/chip-tool/commands/pairing/PairingCommand.h
  src/controller/BUILD.gn
  src/controller/CHIPDeviceController.cpp
  src/controller/CHIPDeviceController.h
  src/controller/ExampleOperationalCredentialsIssuer.cpp
  src/controller/ExampleOperationalCredentialsIssuer.h
  src/controller/java/AndroidDeviceControllerWrapper.cpp
  src/controller/java/AndroidDeviceControllerWrapper.h
  src/controller/python/ChipDeviceController-ScriptBinding.cpp
  src/controller/python/chip/internal/CommissionerImpl.cpp
  src/darwin/Framework/CHIP/CHIPDeviceController.mm
Labels: controller, darwin, examples

#6203 [K32W] Add NFC implementation
  .github/workflows/examples-k32w.yaml
  examples/lighting-app/k32w/README.md
  examples/lighting-app/k32w/data.bin
  examples/lighting-app/k32w/main/AppTask.cpp
  examples/lighting-app/k32w/main/include/AppTask.h
  examples/lock-app/k32w/README.md
  examples/lock-app/k32w/main/AppTask.cpp
  examples/lock-app/k32w/main/include/AppTask.h
  examples/platform/k32w/app/ldscripts/chip-k32w061-linker.ld
  examples/platform/k32w/doc/images/mcux-sdk-download.JPG
  scripts/examples/k32w_example.sh
  src/platform/BUILD.gn
  src/platform/K32W/BLEManagerImpl.cpp
  src/platform/K32W/CHIPDevicePlatformConfig.h
  src/platform/K32W/NFCManagerImpl.cpp
  src/platform/K32W/NFCManagerImpl.h
  third_party/k32w_sdk/k32w_sdk.gni
  third_party/k32w_sdk/mr2_fixes/fsl_debug_console.c
  third_party/k32w_sdk/mr2_fixes/patch_k32w_mr2_sdk.sh
  third_party/k32w_sdk/sdk_fixes/GenericList.h
  third_party/k32w_sdk/sdk_fixes/HAL_I2C_jn_fsl.h
  third_party/k32w_sdk/sdk_fixes/Messaging.h
  third_party/k32w_sdk/sdk_fixes/PWR.c
  third_party/k32w_sdk/sdk_fixes/RNG_Interface.h
  third_party/k32w_sdk/sdk_fixes/ble_conn_manager.h
  third_party/k32w_sdk/sdk_fixes/controller_interface.h
  third_party/k32w_sdk/sdk_fixes/gpio_pins.h
  third_party/k32w_sdk/sdk_fixes/ntag_driver.h
  third_party/k32w_sdk/sdk_fixes/patch_k32w_sdk.sh
  third_party/k32w_sdk/sdk_fixes/pin_mux.c
Labels: app, examples, github, integrations, k32w, platform, scripts, workflows

#6599 Update operational credentials cluster definition to include CSR and cert
  examples/all-clusters-app/all-clusters-common/all-clusters-app.zap
  examples/all-clusters-app/all-clusters-common/gen/IMClusterCommandHandler.cpp
  examples/all-clusters-app/all-clusters-common/gen/call-command-handler.cpp
  examples/all-clusters-app/all-clusters-common/gen/callback.h
  examples/all-clusters-app/all-clusters-common/gen/client-command-macro.h
  examples/all-clusters-app/all-clusters-common/gen/command-id.h
  examples/all-clusters-app/all-clusters-common/gen/endpoint_config.h
  examples/bridge-app/bridge-common/gen/client-command-macro.h
  examples/bridge-app/bridge-common/gen/command-id.h
  examples/chip-tool/gen/client-command-macro.h
  examples/chip-tool/gen/command-id.h
  examples/lighting-app/lighting-common/gen/client-command-macro.h
  examples/lighting-app/lighting-common/gen/command-id.h
  examples/lock-app/lock-common/gen/client-command-macro.h
  examples/lock-app/lock-common/gen/command-id.h
  examples/temperature-measurement-app/esp32/main/gen/client-command-macro.h
  examples/temperature-measurement-app/esp32/main/gen/command-id.h
  examples/tv-app/tv-common/gen/client-command-macro.h
  examples/tv-app/tv-common/gen/command-id.h
  examples/window-app/common/gen/callback.h
  examples/window-app/common/gen/client-command-macro.h
  examples/window-app/common/gen/command-id.h
  src/app/chip-zcl-zpro-codec-api.h
  src/app/clusters/operational-credentials-server/operational-credentials-server.cpp
  src/app/encoder.cpp
  src/app/zap-templates/zcl/operational-credentials-cluster.xml
  src/controller/controller-clusters.zap
  src/controller/python/chip/clusters/CHIPClusters.cpp
  src/controller/python/chip/clusters/CHIPClusters.py
  src/controller/python/gen/CHIPClientCallbacks.cpp
  src/controller/python/gen/CHIPClientCallbacks.h
  src/controller/python/gen/CHIPClusters.cpp
  src/controller/python/gen/CHIPClusters.h
  src/controller/python/gen/CHIPClustersObjc.h
  src/controller/python/gen/CHIPClustersObjc.mm
  src/controller/python/gen/IMClusterCommandHandler.cpp
  src/controller/python/gen/call-command-handler.cpp
  src/controller/python/gen/callback.h
  src/controller/python/gen/client-command-macro.h
  src/controller/python/gen/command-id.h
  src/controller/python/gen/endpoint_config.h
  src/controller/python/local-clusters.zap
  src/darwin/Framework/CHIP/gen/client-command-macro.h
  src/darwin/Framework/CHIP/gen/command-id.h
Labels: app, controller, examples

#6533 [clusters] Adapt operational credentials server for IM commands
  src/app/clusters/operational-credentials-server/operational-credentials-server.cpp
Labels: app

#6644 Followup for #6599. discover/clusters/reporting commands of chip-tool…
  examples/chip-tool/commands/clusters/ModelCommand.cpp
  examples/chip-tool/commands/clusters/ModelCommand.h
  examples/chip-tool/commands/discover/DiscoverCommand.cpp
  examples/chip-tool/commands/discover/DiscoverCommand.h
  examples/chip-tool/commands/pairing/PairingCommand.cpp
  examples/chip-tool/commands/reporting/ReportingCommand.cpp
  examples/chip-tool/commands/reporting/ReportingCommand.h
  src/darwin/Framework/CHIP/BUILD.gn
  src/darwin/Framework/CHIP/CHIPOperationalCredentialsDelegate.mm
Labels: darwin, examples, hotfix

#6641 add missing container close for attribute path and attribute path list
  src/app/ReadClient.cpp
Labels: app

#6605 Set default sendFlags for SendMessage in ExchangeContext
  src/app/CommandHandler.cpp
  src/app/ReadHandler.cpp
  src/channel/tests/TestChannel.cpp
  src/messaging/ExchangeContext.h
  src/messaging/tests/TestReliableMessageProtocol.cpp
  src/messaging/tests/echo/echo_requester.cpp
  src/protocols/echo/Echo.h
  src/protocols/echo/EchoServer.cpp
  src/protocols/secure_channel/CASESession.cpp
  src/protocols/secure_channel/PASESession.cpp
Labels: app

#6459 Commissionable node discovery
  examples/chip-tool/commands/discover/Commands.h
  src/controller/CHIPDeviceController.cpp
  src/controller/CHIPDeviceController.h
  src/controller/python/BUILD.gn
  src/controller/python/ChipDeviceController-ScriptBinding.cpp
  src/controller/python/chip-device-ctrl.py
  src/controller/python/chip/ChipDeviceCtrl.py
  src/controller/python/chip/discovery/NodeResolution.cpp
  src/controller/python/chip/setup_payload/setup_payload.py
  src/lib/mdns/AllInterfacesListenIterator.h
  src/lib/mdns/Discovery_ImplPlatform.h
  src/lib/mdns/Resolver.h
  src/lib/mdns/Resolver_ImplMinimalMdns.cpp
  src/lib/mdns/Resolver_ImplNone.cpp
Labels: controller, examples, github, lib, workflows

#6716 MdnsImpl.cpp: ERROR: AddressSanitizer: SEGV on unknown address
  src/lib/mdns/Discovery_ImplPlatform.cpp
Labels: lib

#5389 Message counter implementation
  examples/shell/shell_common/cmd_ping.cpp
  examples/shell/shell_common/cmd_send.cpp
  examples/shell/shell_common/globals.cpp
  examples/shell/shell_common/include/Globals.h
  src/app/clusters/operational-credentials-server/operational-credentials-server.cpp
  src/app/server/Server.cpp
  src/app/tests/TestCommandInteraction.cpp
  src/app/tests/TestEventLogging.cpp
  src/app/tests/TestInteractionModelEngine.cpp
  src/app/tests/TestReadInteraction.cpp
  src/app/tests/TestReportingEngine.cpp
  src/app/tests/integration/chip_im_initiator.cpp
  src/app/tests/integration/chip_im_responder.cpp
  src/controller/CHIPDeviceController.cpp
  src/controller/CHIPDeviceController.h
  src/lib/core/CHIPConfig.h
  src/lib/support/Span.h
  src/lib/support/logging/CHIPLogging.cpp
  src/lib/support/logging/Constants.h
  src/messaging/BUILD.gn
  src/messaging/ExchangeContext.cpp
  src/messaging/ExchangeContext.h
  src/messaging/ExchangeMgr.cpp
  src/messaging/ExchangeMgr.h
  src/messaging/MessageCounterSync.cpp
  src/messaging/MessageCounterSync.h
  src/messaging/tests/MessagingContext.cpp
  src/messaging/tests/MessagingContext.h
  src/messaging/tests/TestExchangeMgr.cpp
  src/messaging/tests/TestMessageCounterSyncMgr.cpp
  src/messaging/tests/TestMessagingLayer.h
  src/messaging/tests/TestReliableMessageProtocol.cpp
  src/messaging/tests/echo/common.cpp
  src/messaging/tests/echo/common.h
  src/messaging/tests/echo/echo_requester.cpp
  src/messaging/tests/echo/echo_responder.cpp
  src/platform/EFR32/CHIPPlatformConfig.h
  src/platform/K32W/CHIPPlatformConfig.h
  src/platform/cc13x2_26x2/CHIPPlatformConfig.h
  src/platform/nrfconnect/CHIPPlatformConfig.h
  src/platform/qpg6100/CHIPPlatformConfig.h
  src/protocols/BUILD.gn
  src/protocols/secure_channel/MessageCounterManager.cpp
  src/protocols/secure_channel/MessageCounterManager.h
  src/protocols/secure_channel/tests/BUILD.gn
  src/protocols/secure_channel/tests/TestMessageCounterManager.cpp
  src/transport/BUILD.gn
  src/transport/MessageCounter.cpp
  src/transport/MessageCounter.h
  src/transport/MessageCounterManagerInterface.h
  src/transport/PairingSession.h
  src/transport/PeerConnectionState.h
  src/transport/PeerMessageCounter.h
  src/transport/SecureMessageCodec.cpp
  src/transport/SecureMessageCodec.h
  src/transport/SecureSessionHandle.h
  src/transport/SecureSessionMgr.cpp
  src/transport/SecureSessionMgr.h
  src/transport/SessionMessageCounter.h
  src/transport/tests/TestSecureSessionMgr.cpp
Labels: android, app, controller, efr32, examples, k32w, lib, linux, lwip, nrf connect, platform, transport

#6666 [linux] fix ThreadStackManager crash when not initialized
  src/platform/Linux/ThreadStackManagerImpl.cpp
Labels: linux, platform

#6624 Add a simple variant implementation similiar to std::variant
  src/channel/ChannelContext.cpp
  src/channel/ChannelContext.h
  src/lib/support/BUILD.gn
  src/lib/support/Variant.h
  src/lib/support/tests/BUILD.gn
  src/lib/support/tests/TestVariant.cpp
Labels: lib

#6714 ChipDeviceController: ERROR: AddressSanitizer: heap-buffer-overflow
  src/controller/CHIPDeviceController.cpp
Labels: controller

#6722 [pump-app] Disabled the Identify, Groups and Scenes clusters
  examples/pump-app/pump-common/gen/CHIPClientCallbacks.cpp
  examples/pump-app/pump-common/gen/CHIPClientCallbacks.h
  examples/pump-app/pump-common/gen/CHIPClusters.cpp
  examples/pump-app/pump-common/gen/CHIPClusters.h
  examples/pump-app/pump-common/gen/CHIPClustersObjc.h
  examples/pump-app/pump-common/gen/CHIPClustersObjc.mm
  examples/pump-app/pump-common/gen/IMClusterCommandHandler.cpp
  examples/pump-app/pump-common/gen/call-command-handler.cpp
  examples/pump-app/pump-common/gen/callback-stub.cpp
  examples/pump-app/pump-common/gen/callback.h
  examples/pump-app/pump-common/gen/endpoint_config.h
  examples/pump-app/pump-common/gen/gen_config.h
  examples/pump-app/pump-common/pump-app.zap
Labels: examples

#6723 [K32W] TE2 fixes
  examples/lighting-app/k32w/BUILD.gn
  examples/lighting-app/k32w/main/main.cpp
  examples/platform/k32w/app/ldscripts/chip-k32w061-linker.ld
  examples/platform/k32w/app/project_include/CHIPProjectConfig.h
  examples/platform/k32w/args.gni
  scripts/examples/k32w_example.sh
  src/platform/K32W/CHIPDevicePlatformConfig.h
  src/platform/K32W/K32WConfig.cpp
  src/platform/K32W/K32WConfig.h
  src/platform/K32W/KeyValueStoreManagerImpl.cpp
  src/platform/K32W/KeyValueStoreManagerImpl.h
  src/platform/K32W/args.gni
  src/platform/K32W/gatt_db.h
  src/platform/K32W/gatt_uuid128.h
  third_party/k32w_sdk/BUILD.gn
  third_party/k32w_sdk/k32w_sdk.gni
Labels: examples, k32w, platform, scripts

#6712 [nrfconnect] Updated building RCP nRF dongle instruction.
  docs/guides/openthread_rcp_nrf_dongle.md
Labels: documentation

#6648 Always send message using strongly typed message type
  src/app/util/chip-message-send.cpp
  src/controller/CHIPCluster.cpp
  src/controller/CHIPDevice.cpp
  src/controller/CHIPDevice.h
  src/controller/java/CHIPDeviceController-JNI.cpp
  src/protocols/service_provisioning/ServiceProvisioning.h
  src/protocols/temp_zcl/TempZCL.h
Labels: app, controller

#6721 Fix potential deadlock in TestMdns
  src/platform/tests/TestMdns.cpp
Labels: platform

#6732 My contribution
  docs/BUILDING.md
Labels: documentation

#6680 [Darwin] Add kSecAttrApplicationTag
  src/darwin/Framework/CHIP/CHIPOperationalCredentialsDelegate.h
  src/darwin/Framework/CHIP/CHIPOperationalCredentialsDelegate.mm
Labels: darwin

#6681 Fix rendezvous bypass mode
  src/controller/CHIPDeviceController.cpp
Labels: controller

#6744 Fix python controller BLE connection
  src/controller/python/chip-device-ctrl.py
Labels: controller

#6626 [dns-sd] fix SRP service name length
  src/app/server/Mdns.cpp
  src/lib/mdns/platform/Mdns.h
  src/platform/Linux/MdnsImpl.cpp
  src/platform/OpenThread/GenericThreadStackManagerImpl_OpenThread.cpp
  src/platform/OpenThread/GenericThreadStackManagerImpl_OpenThread.h
  src/platform/OpenThread/MdnsImpl.cpp
Labels: app, lib, linux, openthread, platform

#6747 Fix darwin warnings due to invalid doxygen syntax
  examples/all-clusters-app/all-clusters-common/gen/callback-stub.cpp
  examples/all-clusters-app/all-clusters-common/gen/callback.h
  examples/bridge-app/bridge-common/gen/callback-stub.cpp
  examples/bridge-app/bridge-common/gen/callback.h
  examples/chip-tool/gen/callback-stub.cpp
  examples/chip-tool/gen/callback.h
  examples/lighting-app/lighting-common/gen/callback-stub.cpp
  examples/lighting-app/lighting-common/gen/callback.h
  examples/lock-app/lock-common/gen/callback-stub.cpp
  examples/lock-app/lock-common/gen/callback.h
  examples/pump-app/pump-common/gen/callback-stub.cpp
  examples/pump-app/pump-common/gen/callback.h
  examples/pump-controller-app/pump-controller-common/gen/callback-stub.cpp
  examples/pump-controller-app/pump-controller-common/gen/callback.h
  examples/temperature-measurement-app/esp32/main/gen/callback-stub.cpp
  examples/temperature-measurement-app/esp32/main/gen/callback.h
  examples/tv-app/tv-common/gen/callback-stub.cpp
  examples/tv-app/tv-common/gen/callback.h
  examples/window-app/common/gen/callback-stub.cpp
  examples/window-app/common/gen/callback.h
  src/app/Command.h
  src/app/EventLoggingDelegate.h
  src/app/EventManagement.h
  src/app/MessageDef/CommandPath.h
  src/app/MessageDef/EventDataElement.h
  src/app/MessageDef/InvokeCommand.h
  src/app/MessageDef/Parser.h
  src/app/MessageDef/ReadRequest.h
  src/app/MessageDef/StatusElement.h
  src/app/ReadClient.h
  src/app/ReadHandler.h
  src/app/util/af-types.h
  src/app/util/af.h
  src/app/util/time-util.h
  src/app/util/types_stub.h
  src/app/zap-templates/templates/app/callback-stub-src.zapt
  src/app/zap-templates/templates/app/callback.zapt
  src/controller/python/gen/callback-stub.cpp
  src/controller/python/gen/callback.h
  src/darwin/Framework/CHIP/gen/callback-stub.cpp
  src/darwin/Framework/CHIP/gen/callback.h
  src/messaging/ExchangeMgr.h
  src/messaging/ReliableMessageContext.h
  src/messaging/ReliableMessageMgr.h
Labels: app, examples

#6719 CHIPDevice: ERROR: AddressSanitizer: heap-use-after-free
  src/controller/CHIPDevice.h
  src/controller/CHIPDeviceController.cpp
Labels: controller

#6771 [mdns] fix mDNS type length
  src/platform/Linux/MdnsImpl.cpp
Labels: hotfix, lib, linux, openthread, platform

#6728 ESP32 - Fix compilation of temperature-measurement-app with automake
  examples/temperature-measurement-app/esp32/main/component.mk
Labels: examples, hotfix

#6735 Enable -Werror in Darwin CI
  .github/workflows/darwin.yaml
Labels: github, workflows

#6727 [QPG6100] App level cleanup for mDNS and latest PASE flow
  examples/lighting-app/qpg6100/BUILD.gn
  examples/lighting-app/qpg6100/src/AppTask.cpp
  examples/lock-app/qpg6100/BUILD.gn
  examples/lock-app/qpg6100/src/AppTask.cpp
  examples/platform/qpg6100/app/Service.cpp
  examples/platform/qpg6100/project_include/CHIPProjectConfig.h
  src/platform/qpg6100/CHIPDevicePlatformConfig.h
Labels: examples, platform

#6705 Integrate commissioner and device clusters with operational credentials
  src/app/InteractionModelEngine.h
  src/app/clusters/operational-credentials-server/operational-credentials-server.cpp
  src/app/clusters/trusted-root-certificates-server/trusted-root-certificates-server.cpp
  src/controller/BUILD.gn
  src/controller/CHIPDeviceController.cpp
  src/controller/CHIPDeviceController.h
  src/controller/CHIPOperationalCredentialsProvisioner.cpp
  src/controller/CHIPOperationalCredentialsProvisioner.h
  src/credentials/GenerateChipX509Cert.cpp
  src/crypto/CHIPCryptoPAL.h
  src/crypto/CHIPCryptoPALOpenSSL.cpp
  src/crypto/CHIPCryptoPALmbedTLS.cpp
  src/transport/AdminPairingTable.cpp
  src/transport/AdminPairingTable.h
  src/transport/SecureSessionMgr.cpp
Labels: app, controller, crypto, transport

#6685 Reading 8- or 16-bit attributes from big-endian device returns 0 (#6166)
  examples/all-clusters-app/all-clusters-common/gen/endpoint_config.h
  examples/bridge-app/bridge-common/gen/endpoint_config.h
  examples/chip-tool/gen/endpoint_config.h
  examples/lighting-app/lighting-common/gen/endpoint_config.h
  examples/lock-app/lock-common/gen/endpoint_config.h
  examples/pump-app/pump-common/gen/endpoint_config.h
  examples/pump-controller-app/pump-controller-common/gen/endpoint_config.h
  examples/temperature-measurement-app/esp32/main/gen/endpoint_config.h
  examples/tv-app/tv-common/gen/endpoint_config.h
  examples/window-app/common/gen/endpoint_config.h
  src/app/util/af-types.h
  src/app/zap-templates/templates/app/endpoint_config.zapt
  src/controller/python/gen/endpoint_config.h
  src/darwin/Framework/CHIP/gen/endpoint_config.h
Labels: app, controller, darwin, examples

#6748 Add dependency on platform_buildconfig header to the system library
  src/system/BUILD.gn
Labels: hotfix, system

#6730 Refactor exchange usage in IM to improve cirque stability
  scripts/tests/cirque_tests.sh
  src/app/Command.cpp
  src/app/Command.h
  src/app/CommandSender.cpp
  src/app/ReadClient.cpp
  src/app/ReadClient.h
  src/app/ReadHandler.cpp
  src/app/ReadHandler.h
Labels: app, scripts

#6777 Use less stack in mdns, have more const correctness
  src/lib/support/CHIPMemString.h
  src/platform/Linux/MdnsImpl.cpp
Labels: lib, linux, platform

#6806 Fix Variant move assign
  src/lib/support/Variant.h
  src/lib/support/tests/TestVariant.cpp
Labels: lib

#6791 Implemented CASEServer to fetch credentials, and wait for SigmaR1
  src/app/server/Server.cpp
  src/protocols/secure_channel/BUILD.gn
  src/protocols/secure_channel/CASEServer.cpp
  src/protocols/secure_channel/CASEServer.h
  src/protocols/secure_channel/CASESession.cpp
  src/protocols/secure_channel/CASESession.h
  src/protocols/secure_channel/tests/TestCASESession.cpp
  src/transport/AdminPairingTable.cpp
  src/transport/AdminPairingTable.h
Labels: app, transport

#6815 Ensure the Clusters template helper is initialized when calling an he…
  src/app/zap-templates/templates/chip/helper.js
Labels: app

#6768 Allow sending IM commands to different peer key id
  src/app/CommandSender.cpp
  src/app/CommandSender.h
  src/controller/CHIPDevice.cpp
Labels: TE3, app, controller

#6800 Simplify our setup for serializing integer sets.
  src/controller/CHIPDeviceController.cpp
  src/controller/CHIPDeviceController.h
  src/lib/support/SerializableIntegerSet.cpp
  src/lib/support/SerializableIntegerSet.h
  src/lib/support/tests/TestSerializableIntegerSet.cpp
Labels: controller, lib

#6810 Integrate CASE state machine with the controller
  src/app/clusters/operational-credentials-server/operational-credentials-server.cpp
  src/app/clusters/trusted-root-certificates-server/trusted-root-certificates-server.cpp
  src/controller/CHIPDevice.cpp
  src/controller/CHIPDevice.h
  src/controller/CHIPDeviceController.cpp
  src/controller/CHIPDeviceController.h
  src/credentials/CHIPCert.cpp
  src/credentials/tests/TestChipCert.cpp
  src/darwin/Framework/CHIP/CHIPOperationalCredentialsDelegate.h
  src/darwin/Framework/CHIP/CHIPOperationalCredentialsDelegate.mm
  src/protocols/secure_channel/CASEServer.cpp
  src/protocols/secure_channel/CASEServer.h
  src/protocols/secure_channel/CASESession.cpp
  src/transport/AdminPairingTable.cpp
  src/transport/AdminPairingTable.h
Labels: app, controller, darwin, transport

#6822 Move ZAP templates specific to a language into language specific folders
  examples/all-clusters-app/all-clusters-common/gen/CHIPClustersObjc.h
  examples/all-clusters-app/all-clusters-common/gen/CHIPClustersObjc.mm
  examples/bridge-app/bridge-common/gen/CHIPClustersObjc.h
  examples/bridge-app/bridge-common/gen/CHIPClustersObjc.mm
  examples/chip-tool/gen/CHIPClustersObjc.h
  examples/chip-tool/gen/CHIPClustersObjc.mm
  examples/lighting-app/lighting-common/gen/CHIPClustersObjc.h
  examples/lighting-app/lighting-common/gen/CHIPClustersObjc.mm
  examples/lock-app/lock-common/gen/CHIPClustersObjc.h
  examples/lock-app/lock-common/gen/CHIPClustersObjc.mm
  examples/pump-app/pump-common/gen/CHIPClustersObjc.h
  examples/pump-app/pump-common/gen/CHIPClustersObjc.mm
  examples/pump-controller-app/pump-controller-common/gen/CHIPClustersObjc.h
  examples/pump-controller-app/pump-controller-common/gen/CHIPClustersObjc.mm
  examples/temperature-measurement-app/esp32/main/gen/CHIPClustersObjc.h
  examples/temperature-measurement-app/esp32/main/gen/CHIPClustersObjc.mm
  examples/tv-app/tv-common/gen/CHIPClustersObjc.h
  examples/tv-app/tv-common/gen/CHIPClustersObjc.mm
  examples/window-app/common/gen/CHIPClustersObjc.h
  examples/window-app/common/gen/CHIPClustersObjc.mm
  scripts/tools/zap_regen_all.py
  src/app/zap-templates/app-templates.json
  src/app/zap-templates/chip-templates.json
  src/app/zap-templates/templates/chip/helper.js
  src/controller/python/gen/CHIPClustersObjc.h
  src/controller/python/gen/CHIPClustersObjc.mm
  src/controller/python/templates/helper.js
  src/controller/python/templates/python-CHIPClusters-cpp.zapt
  src/controller/python/templates/python-CHIPClusters-py.zapt
  src/controller/python/templates/templates.json
  src/darwin/Framework/CHIP/templates/CHIPClustersObjc-src.zapt
  src/darwin/Framework/CHIP/templates/CHIPClustersObjc.zapt
  src/darwin/Framework/CHIP/templates/helper.js
  src/darwin/Framework/CHIP/templates/templates.json
Labels: app, controller, examples, scripts

#6824 Increase main task stack on all-clusters-app for ESP32
  examples/all-clusters-app/esp32/sdkconfig.defaults
  examples/all-clusters-app/esp32/sdkconfig_devkit.defaults
  examples/all-clusters-app/esp32/sdkconfig_m5stack.defaults
Labels: examples

#6813 [K32W] Add functionality to run lock-app and lighting-app without OM15082 Expansion board
  examples/lighting-app/k32w/README.md
  examples/lighting-app/k32w/data.bin
  examples/lighting-app/k32w/main/AppTask.cpp
  examples/lock-app/k32w/README.md
  examples/lock-app/k32w/main/AppTask.cpp
  third_party/k32w_sdk/k32w_sdk.gni
Labels: examples

#6827 Allow create new timer from none CHIP main thread
  src/system/SystemLayer.cpp
Labels: system

#6821 Persist keypair used by example opcert signer
  examples/chip-tool/commands/clusters/ModelCommand.cpp
  examples/chip-tool/commands/pairing/PairingCommand.cpp
  examples/chip-tool/commands/pairing/PairingCommand.h
  examples/chip-tool/commands/reporting/ReportingCommand.cpp
  src/controller/ExampleOperationalCredentialsIssuer.cpp
  src/controller/ExampleOperationalCredentialsIssuer.h
  src/controller/java/AndroidDeviceControllerWrapper.cpp
  src/controller/python/ChipDeviceController-ScriptBinding.cpp
  src/controller/python/chip/internal/CommissionerImpl.cpp
Labels: controller, examples

#6843 [nit] NodeCredential should be initialized with nullptr
  src/credentials/CHIPOperationalCredentials.h
Labels: hotfix

#6840 [linux] Fix server KVS init
  src/app/server/Server.cpp
Labels: app

#6849 ESP32: Fix compilation of examples with CMake
  config/esp32/components/chip/CMakeLists.txt
Labels: config, hotfix

#6847 Enable CRMP for command responses.
  src/app/CommandHandler.cpp
Labels: app

#6842 Enable operational credentials and trusted root clusters on all examples
  examples/lighting-app/lighting-common/gen/IMClusterCommandHandler.cpp
  examples/lighting-app/lighting-common/gen/attribute-size.cpp
  examples/lighting-app/lighting-common/gen/call-command-handler.cpp
  examples/lighting-app/lighting-common/gen/callback-stub.cpp
  examples/lighting-app/lighting-common/gen/callback.h
  examples/lighting-app/lighting-common/gen/endpoint_config.h
  examples/lighting-app/lighting-common/gen/gen_config.h
  examples/lighting-app/lighting-common/lighting-app.zap
  examples/lighting-app/nrfconnect/CMakeLists.txt
  examples/lock-app/esp32/main/CMakeLists.txt
  examples/lock-app/lock-common/gen/IMClusterCommandHandler.cpp
  examples/lock-app/lock-common/gen/attribute-size.cpp
  examples/lock-app/lock-common/gen/call-command-handler.cpp
  examples/lock-app/lock-common/gen/callback-stub.cpp
  examples/lock-app/lock-common/gen/callback.h
  examples/lock-app/lock-common/gen/endpoint_config.h
  examples/lock-app/lock-common/gen/gen_config.h
  examples/lock-app/lock-common/lock-app.zap
  examples/lock-app/nrfconnect/CMakeLists.txt
  examples/pump-app/nrfconnect/CMakeLists.txt
  examples/pump-app/pump-common/gen/IMClusterCommandHandler.cpp
  examples/pump-app/pump-common/gen/attribute-size.cpp
  examples/pump-app/pump-common/gen/call-command-handler.cpp
  examples/pump-app/pump-common/gen/callback-stub.cpp
  examples/pump-app/pump-common/gen/callback.h
  examples/pump-app/pump-common/gen/endpoint_config.h
  examples/pump-app/pump-common/gen/gen_config.h
  examples/pump-app/pump-common/pump-app.zap
  examples/pump-controller-app/nrfconnect/CMakeLists.txt
  examples/pump-controller-app/pump-controller-common/gen/IMClusterCommandHandler.cpp
  examples/pump-controller-app/pump-controller-common/gen/attribute-size.cpp
  examples/pump-controller-app/pump-controller-common/gen/call-command-handler.cpp
  examples/pump-controller-app/pump-controller-common/gen/callback-stub.cpp
  examples/pump-controller-app/pump-controller-common/gen/callback.h
  examples/pump-controller-app/pump-controller-common/gen/endpoint_config.h
  examples/pump-controller-app/pump-controller-common/gen/gen_config.h
  examples/pump-controller-app/pump-controller-common/pump-controller-app.zap
  examples/temperature-measurement-app/esp32/main/CMakeLists.txt
  examples/temperature-measurement-app/esp32/main/component.mk
  examples/temperature-measurement-app/esp32/main/gen/IMClusterCommandHandler.cpp
  examples/temperature-measurement-app/esp32/main/gen/attribute-size.cpp
  examples/temperature-measurement-app/esp32/main/gen/call-command-handler.cpp
  examples/temperature-measurement-app/esp32/main/gen/callback-stub.cpp
  examples/temperature-measurement-app/esp32/main/gen/callback.h
  examples/temperature-measurement-app/esp32/main/gen/endpoint_config.h
  examples/temperature-measurement-app/esp32/main/gen/gen_config.h
  examples/temperature-measurement-app/esp32/main/temperature-measurement.zap
Labels: examples

#6530 Add pump cluster xml
  examples/all-clusters-app/all-clusters-common/gen/enums.h
  examples/bridge-app/bridge-common/gen/enums.h
  examples/chip-tool/gen/enums.h
  examples/lighting-app/lighting-common/gen/enums.h
  examples/lock-app/lock-common/gen/enums.h
  examples/pump-app/pump-common/gen/enums.h
  examples/pump-controller-app/pump-controller-common/gen/enums.h
  examples/temperature-measurement-app/esp32/main/gen/enums.h
  examples/tv-app/tv-common/gen/enums.h
  examples/window-app/common/gen/enums.h
  src/app/zap-templates/zcl/data-model/silabs/ha-thread.xml
  src/app/zap-templates/zcl/data-model/silabs/ha.xml
  src/app/zap-templates/zcl/data-model/silabs/types.xml
  src/app/zap-templates/zcl/pump-configuration-and-control-cluster.xml
  src/app/zap-templates/zcl/zcl.json
  src/controller/python/gen/enums.h
  src/darwin/Framework/CHIP/gen/enums.h
Labels: app, controller, darwin, examples

#6853 Include length of key when it's stored in persistent storage
  src/controller/ExampleOperationalCredentialsIssuer.cpp
Labels: controller

#6869 [esp32] increase default stack size
  config/esp32/components/chip/Kconfig
Labels: config

#6802 [IM] Decouple CommandSender with CHIPDevice
  examples/chip-tool/gen/CHIPClusters.cpp
  examples/pump-controller-app/pump-controller-common/gen/CHIPClusters.cpp
  src/app/CommandSender.cpp
  src/app/InteractionModelEngine.h
  src/app/tests/integration/chip_im_initiator.cpp
  src/app/zap-templates/templates/app/CHIPClusters-src.zapt
  src/controller/CHIPCluster.cpp
  src/controller/CHIPCluster.h
  src/controller/CHIPDevice.cpp
  src/controller/CHIPDevice.h
  src/controller/CHIPDeviceController.cpp
  src/controller/CHIPOperationalCredentialsProvisioner.cpp
  src/controller/python/BUILD.gn
  src/controller/python/ChipDeviceController-ScriptBinding.cpp
  src/controller/python/chip/ChipDeviceCtrl.py
  src/controller/python/chip/clusters/CHIPClusters.cpp
  src/controller/python/chip/clusters/CHIPClusters.py
  src/controller/python/chip/interaction_model/Delegate.cpp
  src/controller/python/chip/interaction_model/Delegate.h
  src/controller/python/chip/interaction_model/delegate.py
  src/controller/python/gen/CHIPClusters.cpp
  src/controller/python/templates/python-CHIPClusters-cpp.zapt
  src/controller/python/templates/python-CHIPClusters-py.zapt
  src/darwin/Framework/CHIP/gen/CHIPClusters.cpp
Labels: TE3, app, controller, darwin, examples, hotfix

#6852 Cleanup PASE code, error handling and error logging
  src/lib/support/logging/CHIPLogging.cpp
  src/lib/support/logging/Constants.h
  src/protocols/secure_channel/PASESession.cpp
  src/protocols/secure_channel/PASESession.h
Labels: lib

#6582 Enabling list attriubtes on the app clusters and updating the TV example app
  examples/all-clusters-app/all-clusters-common/gen/af-structs.h
  examples/bridge-app/bridge-common/gen/af-structs.h
  examples/chip-tool/commands/clusters/Commands.h
  examples/chip-tool/gen/CHIPClientCallbacks.cpp
  examples/chip-tool/gen/CHIPClientCallbacks.h
  examples/chip-tool/gen/CHIPClustersObjc.mm
  examples/chip-tool/gen/af-structs.h
  examples/lighting-app/lighting-common/gen/af-structs.h
  examples/lock-app/lock-common/gen/af-structs.h
  examples/pump-app/pump-common/gen/af-structs.h
  examples/pump-controller-app/pump-controller-common/gen/af-structs.h
  examples/temperature-measurement-app/esp32/main/gen/af-structs.h
  examples/tv-app/linux/BUILD.gn
  examples/tv-app/linux/include/application-launcher/ApplicationLauncherManager.cpp
  examples/tv-app/linux/include/application-launcher/ApplicationLauncherManager.h
  examples/tv-app/linux/include/audio-output/AudioOutputManager.cpp
  examples/tv-app/linux/include/audio-output/AudioOutputManager.h
  examples/tv-app/linux/include/cluster-init.cpp
  examples/tv-app/linux/include/cluster-util/ClusterManager.h
  examples/tv-app/linux/include/content-launcher/ContentLauncherManager.cpp
  examples/tv-app/linux/include/content-launcher/ContentLauncherManager.h
  examples/tv-app/linux/include/media-input/MediaInputManager.cpp
  examples/tv-app/linux/include/media-input/MediaInputManager.h
  examples/tv-app/linux/include/target-navigator/TargetNavigatorManager.cpp
  examples/tv-app/linux/include/target-navigator/TargetNavigatorManager.h
  examples/tv-app/linux/include/tv-channel/TvChannelManager.cpp
  examples/tv-app/linux/include/tv-channel/TvChannelManager.h
  examples/tv-app/linux/main.cpp
  examples/tv-app/tv-common/gen/IMClusterCommandHandler.cpp
  examples/tv-app/tv-common/gen/af-gen-event.h
  examples/tv-app/tv-common/gen/af-structs.h
  examples/tv-app/tv-common/gen/attribute-size.cpp
  examples/tv-app/tv-common/gen/call-command-handler.cpp
  examples/tv-app/tv-common/gen/callback-stub.cpp
  examples/tv-app/tv-common/gen/callback.h
  examples/tv-app/tv-common/gen/endpoint_config.h
  examples/tv-app/tv-common/gen/gen_config.h
  examples/tv-app/tv-common/tv-app.zap
  examples/window-app/common/gen/af-structs.h
  src/app/chip-zcl-zpro-codec-api.h
  src/app/zap-templates/zcl/application-launcher-cluster.xml
  src/app/zap-templates/zcl/audio-output-cluster.xml
  src/app/zap-templates/zcl/content-launch-cluster.xml
  src/app/zap-templates/zcl/media-input-cluster.xml
  src/app/zap-templates/zcl/target-navigator-cluster.xml
  src/app/zap-templates/zcl/tv-channel-cluster.xml
  src/controller/python/chip/clusters/CHIPClusters.cpp
  src/controller/python/chip/clusters/CHIPClusters.py
  src/controller/python/gen/CHIPClientCallbacks.cpp
  src/controller/python/gen/CHIPClientCallbacks.h
  src/controller/python/gen/CHIPClustersObjc.mm
  src/controller/python/gen/af-structs.h
  src/darwin/Framework/CHIP/gen/af-structs.h
Labels: examples

#6905 Remove some objc files that should not exist
  examples/chip-tool/gen/CHIPClustersObjc.h
  examples/chip-tool/gen/CHIPClustersObjc.mm
  src/controller/python/gen/CHIPClustersObjc.h
  src/controller/python/gen/CHIPClustersObjc.mm
Labels: controller, examples

#6881 Zap fix attribute size name for list
  examples/all-clusters-app/all-clusters-common/gen/attribute-size.cpp
  src/app/zap-templates/templates/app/attribute-size-src.zapt
Labels: app, examples

#6897 Minor fixes to CHIP API definitions
  src/darwin/Framework/CHIP/CHIPDevice.h
  src/darwin/Framework/CHIP/CHIPDeviceController.h
  src/darwin/Framework/CHIP/CHIPDevicePairingDelegate.h
  src/darwin/Framework/CHIP/CHIPManualSetupPayloadParser.h
  src/darwin/Framework/CHIP/CHIPPersistentStorageDelegate.h
  src/darwin/Framework/CHIP/CHIPQRCodeSetupPayloadParser.h
  src/darwin/Framework/CHIP/CHIPSetupPayload.h
Labels: darwin

#6873 Chip tool operational credentials cluster fix
  examples/chip-tool/chip-tool.zap
  examples/chip-tool/commands/clusters/Commands.h
  examples/chip-tool/gen/CHIPClientCallbacks.cpp
  examples/chip-tool/gen/CHIPClientCallbacks.h
  examples/chip-tool/gen/CHIPClusters.cpp
  examples/chip-tool/gen/CHIPClusters.h
  examples/chip-tool/gen/IMClusterCommandHandler.cpp
  examples/chip-tool/gen/call-command-handler.cpp
  examples/chip-tool/gen/callback.h
  examples/chip-tool/gen/endpoint_config.h
  examples/chip-tool/templates/commands.zapt
  src/app/zap-templates/common/ClustersHelper.js
  src/app/zap-templates/templates/app/CHIPClientCallbacks-src.zapt
  src/app/zap-templates/templates/chip/helper.js
  src/controller/python/gen/CHIPClientCallbacks.cpp
  src/darwin/Framework/CHIP/gen/CHIPClientCallbacks.cpp
  src/darwin/Framework/CHIP/gen/CHIPClustersObjc.mm
  src/darwin/Framework/CHIP/templates/CHIPClustersObjc-src.zapt
Labels: app, controller, darwin, examples, review - approved

#6903 Add building of TV example to gn_build.sh
  BUILD.gn
Labels: review - approved

#6921 Fix build
  examples/tv-app/linux/include/tv-channel/TvChannelManager.h
Labels: examples, hotfix, review - pending

#6888 [android] Peristent storage fixes
  src/controller/ExampleOperationalCredentialsIssuer.cpp
  src/controller/java/AndroidKeyValueStoreManagerImpl.cpp
  src/transport/AdminPairingTable.cpp
Labels: controller, review - approved, transport

#6891 Update TV example app with credential clusters
  examples/tv-app/linux/include/wake-on-lan/WakeOnLanManager.cpp
  examples/tv-app/tv-common/gen/IMClusterCommandHandler.cpp
  examples/tv-app/tv-common/gen/attribute-size.cpp
  examples/tv-app/tv-common/gen/call-command-handler.cpp
  examples/tv-app/tv-common/gen/callback-stub.cpp
  examples/tv-app/tv-common/gen/callback.h
  examples/tv-app/tv-common/gen/endpoint_config.h
  examples/tv-app/tv-common/gen/gen_config.h
  examples/tv-app/tv-common/tv-app.zap
  src/app/chip-zcl-zpro-codec-api.h
  src/app/zap-templates/zcl/content-launch-cluster.xml
Labels: app, examples, review - approved

#6750 [docs] Add initial quick start guide pointing to nested example docs.
  docs/QUICK_START.md
Labels: documentation, review - approved

#6865 Remove peerNodeId in MCSP receive table (Fix: #6340)
  src/protocols/secure_channel/MessageCounterManager.cpp
  src/protocols/secure_channel/MessageCounterManager.h
  src/transport/MessageCounterManagerInterface.h
  src/transport/SecureSessionMgr.cpp
Labels: has conflicts, review - approved, transport

#6249 Tighten up locking in JNI controller
  src/controller/java/CHIPDeviceController-JNI.cpp
Labels: controller, has conflicts, review - approved

#6860 Fix https-invalid landing page URL link in README
  README.md
Labels: review - approved

#6938 Fixes inability to resolve IPv6 addresses on Mac platform
  src/platform/Darwin/MdnsImpl.cpp
Labels: darwin, platform, review - approved

#6949 Remove double lock in EFR32 "GetEntropy"
  src/platform/EFR32/Entropy.cpp
Labels: review - approved

#5731 Include occupancy sensor from SiLabs
  examples/all-clusters-app/all-clusters-common/all-clusters-app.zap
  examples/all-clusters-app/all-clusters-common/gen/call-command-handler.cpp
  examples/all-clusters-app/all-clusters-common/gen/callback-stub.cpp
  examples/all-clusters-app/all-clusters-common/gen/callback.h
  examples/all-clusters-app/all-clusters-common/gen/endpoint_config.h
  examples/all-clusters-app/all-clusters-common/gen/gen_config.h
  examples/all-clusters-app/esp32/main/component.mk
  src/app/clusters/occupancy-sensor-server/occupancy-hal.h
  src/app/clusters/occupancy-sensor-server/occupancy-sensor-server.cpp
  src/app/clusters/occupancy-sensor-server/occupancy-sensor-server.h
  src/app/zap-templates/templates/app/helper.js
  src/app/zap_cluster_list.py
Labels: app, controller, examples, has conflicts, review - approved

#6976 Remove some of generated binaries as artifacts.
  .github/workflows/examples-efr32.yaml
  .github/workflows/examples-k32w.yaml
  .github/workflows/examples-linux-standalone.yaml
  .github/workflows/examples-nrfconnect.yaml
  .github/workflows/examples-qpg6100.yaml
Labels: github, review - approved, workflows

#6973 [lighting-app] Fix lighting-app after changing endpoint ID
  examples/lighting-app/efr32/src/AppTask.cpp
  examples/lighting-app/k32w/main/AppTask.cpp
  examples/lighting-app/lighting-common/gen/af-gen-event.h
  examples/lighting-app/nrfconnect/main/AppTask.cpp
  examples/lighting-app/nrfconnect/main/ZclCallbacks.cpp
  examples/lighting-app/qpg6100/src/AppTask.cpp
  examples/lighting-app/qpg6100/src/ZclCallbacks.cpp
Labels: examples, review - approved

#6974 Have `scripts/tools/memory` use pyelftools by default.
  scripts/tools/memory/memdf/collect.py
Labels: review - approved, scripts

#6991 ESP32: Fix all-clusters-app with the addition of occupancy-sensor-server
  examples/all-clusters-app/esp32/main/CMakeLists.txt
Labels: examples, hotfix

#6955 [nrfconnect] Switch from BLE indications to notifications
  src/platform/Zephyr/BLEManagerImpl.cpp
  src/platform/Zephyr/BLEManagerImpl.h
  src/platform/Zephyr/CHIPDevicePlatformEvent.h
Labels: platform, review - approved, zephyr

#6961 Implement BlePlatformDelegateImpl::CloseConnection on Mac and iOS platforms
  src/platform/Darwin/BlePlatformDelegateImpl.mm
Labels: darwin, platform, review - approved

#6986 Use MemoryCalloc instead of MemoryAlloc to reduce non-determinism.
  src/controller/CHIPDeviceController.cpp
Labels: controller, review - approved

#6982 Use ranged for loops in ExchangeManager.
  src/messaging/ExchangeMgr.cpp
Labels: review - approved

#6980 SecureSessionMgr::SecureMessageDispatch should not assume GetDestinationNodeId has value
  src/transport/SecureSessionMgr.cpp
  src/transport/tests/TestSecureSessionMgr.cpp
Labels: review - approved, transport

#6924 [cirque] Basic Cluster Attributes test
  src/controller/python/test/Dockerfile
  src/controller/python/test/test_scripts/base.py
  src/controller/python/test/test_scripts/mobile-device-test.py
  src/test_driver/linux-cirque/helper/CHIPTestBase.py
  src/test_driver/linux-cirque/test-mobile-device.py
Labels: controller, review - approved, scripts

#6858 HSM support for ECC Public key operations
  src/crypto/hsm/CHIPCryptoPALHsm.h
  src/crypto/hsm/nxp/CHIPCryptoPALHsm_SE05X_P256.cpp
  src/crypto/hsm/nxp/CHIPCryptoPALHsm_SE05X_utils.h
Labels: crypto, review - approved

#6892 Add timer to reboot RPC for NRF lighting example
  examples/lighting-app/nrfconnect/README.md
  examples/lighting-app/nrfconnect/main/Rpc.cpp
Labels: examples, review - approved, technical review - DONE

#6953 [python] Add document for debugging chip-device-ctrl
  src/controller/python/README.md
Labels: controller, review - approved
