Repository project-chip/connectedhomeip, pull requests merged in 2021-09, with the labels that each got.

#9379 Close BLE connections after the Operational Network is provisioned on a Node
  src/app/server/RendezvousServer.cpp
Labels: app, review - approved, technical review - DONE, SDK Approved

#9353 Add some linux cross compilers
  build/config/BUILDCONFIG.gn
  build/config/compiler/BUILD.gn
  build/toolchain/linux/BUILD.gn
  src/darwin/Framework/chip_xcode_build_connector.sh
Labels: darwin, review - approved, SDK Approved

#9369 [TE5] Add Python controller command to open enhanced commissioning window for multi-admin
  src/app/BUILD.gn
  src/app/server/RendezvousServer.cpp
  src/controller/CHIPDevice.cpp
  src/controller/CHIPDevice.h
  src/controller/CHIPDeviceController.cpp
  src/controller/CHIPDeviceController.h
  src/controller/python/ChipDeviceController-ScriptBinding.cpp
  src/controller/python/chip-device-ctrl.py
  src/controller/python/chip/ChipDeviceCtrl.py
Labels: controller, app, review - approved, SDK Approved, TE5 cherrypick

#9351 Generated Matter Development Product Attestation Authority (PAA) Cert
  credentials/development/attestation/Chip-Development-PAA-Cert.der
  credentials/development/attestation/Chip-Development-PAA-Cert.pem
  credentials/development/attestation/Chip-Development-PAA-Key.der
  credentials/development/attestation/Chip-Development-PAA-Key.pem
  credentials/development/gen-development-paa-cert.sh
Labels: review - approved, SDK Approved

#9319 ESP32: Enable and use Rendezvous BLE (and its dependencies) only when Bluetooth is enabled in menuconfig
  config/esp32/components/chip/CMakeLists.txt
  config/esp32/components/chip/Kconfig
  examples/all-clusters-app/esp32/main/Kconfig.projbuild
Labels: examples, config, review - approved, SDK Approved

#9292 Fix Bluetooth advertising based on build arguments
  examples/platform/linux/AppMain.cpp
  examples/platform/linux/Options.cpp
Labels: examples, review - approved, SDK Approved

#9282 [Android] Replace hand-written Thread provisioning code with Java clusters
  src/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/GenericChipDeviceListener.kt
  src/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/provisioning/DeviceProvisioningFragment.kt
  src/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/provisioning/EnterNetworkFragment.kt
  src/controller/java/CHIPDeviceController-JNI.cpp
  src/controller/java/src/chip/devicecontroller/ChipDeviceController.java
Labels: controller, android, review - approved, SDK Approved

#9359 [TV app] Enable missing client callbacks
  examples/tv-app/tv-common/BUILD.gn
  examples/tv-app/tv-common/tv-app.zap
  src/app/zap-templates/templates/app/CHIPClientCallbacks-src.zapt
  zzz_generated/controller-clusters/zap-generated/CHIPClientCallbacks.cpp
  zzz_generated/lighting-app/zap-generated/CHIPClientCallbacks.cpp
  zzz_generated/pump-app/zap-generated/CHIPClientCallbacks.cpp
  zzz_generated/pump-controller-app/zap-generated/CHIPClientCallbacks.cpp
  zzz_generated/tv-app/zap-generated/CHIPClientCallbacks.cpp
  zzz_generated/tv-app/zap-generated/CHIPClientCallbacks.h
  zzz_generated/tv-app/zap-generated/CHIPClusters.cpp
  zzz_generated/tv-app/zap-generated/CHIPClusters.h
  zzz_generated/tv-app/zap-generated/IMClusterCommandHandler.cpp
  zzz_generated/tv-app/zap-generated/endpoint_config.h
  zzz_generated/tv-app/zap-generated/gen_config.h
Labels: examples, app, review - approved, SDK Approved

#9344 Workaround: Temorarily enable BLE during Enhanced Commissioning Window
  src/app/server/Server.cpp
Labels: app, review - approved, SDK Approved

#9317 Add read attribute positive and negative unit tests
  src/app/ClusterInfo.h
  src/app/InteractionModelEngine.cpp
  src/app/InteractionModelEngine.h
  src/app/ReadClient.cpp
  src/app/ReadClient.h
  src/app/ReadHandler.cpp
  src/app/ReadHandler.h
  src/app/reporting/Engine.cpp
  src/app/tests/TestClusterInfo.cpp
  src/app/tests/TestCommandInteraction.cpp
  src/app/tests/TestReadInteraction.cpp
  src/app/tests/TestReportingEngine.cpp
  src/app/tests/integration/chip_im_initiator.cpp
  src/lib/core/CHIPConfig.h
Labels: lib, app, review - approved, technical review - DONE, SDK Approved

#9368 Fix Mbed OS debug profile building
  src/app/server/StorablePeerConnection.cpp
  src/protocols/secure_channel/CASESession.cpp
  src/transport/FabricTable.cpp
Labels: transport, app, review - approved, SDK Approved

#8875 Make it build and debugable in Android Studio
  scripts/build/builders/android.py
  scripts/build/expected_all_platform_commands.txt
  scripts/examples/android_app.sh
  scripts/examples/gn_to_cmakelists.py
  scripts/examples/tests/expected_test_cmakelists.txt
  scripts/examples/tests/test.py
  scripts/examples/tests/test_project.json
  src/android/CHIPTool/app/build.gradle
  src/android/CHIPTool/app/libs/jniLibs/README.md
  src/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/setuppayloadscanner/BarcodeFragment.kt
  src/android/CHIPTool/app/src/main/res/layout/barcode_fragment.xml
  src/android/CHIPTool/build.gradle
  src/controller/java/BUILD.gn
  src/controller/java/templates/templates.json
  src/controller/java/zap-generated/chip/devicecontroller/ChipClusters.java
Labels: scripts, controller, android, review - approved, technical review - DONE, SDK Approved

#9041 ESP32: Expose BLE connection related and commissioning complete events to the application
  examples/all-clusters-app/esp32/main/DeviceCallbacks.cpp
  src/controller/CHIPDeviceController.cpp
  src/controller/CHIPDeviceController.h
  src/controller/python/ChipDeviceController-ScriptBinding.cpp
  src/controller/python/chip-device-ctrl.py
  src/controller/python/chip/ChipDeviceCtrl.py
  src/platform/ESP32/bluedroid/BLEManagerImpl.cpp
  src/platform/ESP32/nimble/BLEManagerImpl.cpp
Labels: examples, platform, esp32, controller, review - approved, SDK Approved

#9400 [TV app] Add missing client commands
  examples/tv-app/tv-common/tv-app.zap
  zzz_generated/tv-app/zap-generated/CHIPClusters.cpp
  zzz_generated/tv-app/zap-generated/CHIPClusters.h
Labels: examples, review - approved, SDK Approved

#9371 [android] Exit to the main screen after commissioning
  docs/guides/nrfconnect_android_commissioning.md
  src/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/CHIPToolActivity.kt
  src/android/CHIPTool/app/src/main/res/values/strings.xml
Labels: documentation, android, review - approved, technical review - DONE, SDK Approved

#9407 [Hotfix] Only terminate BLE connections once we start processing a CASE session
  src/app/server/RendezvousServer.cpp
  src/app/server/Server.cpp
  src/protocols/secure_channel/CASEServer.cpp
  src/protocols/secure_channel/CASEServer.h
  src/protocols/secure_channel/tests/TestCASESession.cpp
Labels: hotfix, app, review - pending, SDK Approved

#9389 Remove duplicate attribute path in IM Read
  src/app/ReadHandler.cpp
  src/app/ReadHandler.h
  src/app/tests/TestReadInteraction.cpp
Labels: app, review - approved, technical review - DONE, SDK Approved

#9329 Decouple ObjectPool from SystemLayer
  src/inet/AsyncDNSResolverSockets.cpp
  src/inet/EndPointBasis.cpp
  src/inet/EndPointBasis.h
  src/inet/IPEndPointBasis.cpp
  src/inet/IPEndPointBasis.h
  src/inet/InetLayer.cpp
  src/inet/RawEndPoint.cpp
  src/inet/TCPEndPoint.cpp
  src/inet/UDPEndPoint.cpp
  src/system/SystemObject.cpp
  src/system/SystemObject.h
  src/system/SystemTimer.cpp
  src/system/SystemTimer.h
  src/system/WatchableEventManagerLwIP.cpp
  src/system/tests/TestSystemObject.cpp
Labels: system, inet, review - approved, technical review - DONE, SDK Approved

#9225 Reduce dangling session handle
  src/app/CommandSender.cpp
  src/app/CommandSender.h
  src/app/ReadHandler.cpp
  src/app/ReadHandler.h
  src/app/ReadPrepareParams.h
  src/app/WriteClient.cpp
  src/app/WriteClient.h
  src/app/tests/TestCommandInteraction.cpp
  src/app/tests/TestReadInteraction.cpp
  src/app/tests/TestWriteInteraction.cpp
  src/app/tests/integration/chip_im_initiator.cpp
  src/channel/ChannelContext.cpp
  src/controller/CHIPDevice.cpp
  src/controller/CHIPDevice.h
  src/controller/CHIPDeviceController.cpp
  src/messaging/ExchangeContext.cpp
  src/messaging/ExchangeContext.h
  src/messaging/ExchangeMgr.cpp
  src/protocols/echo/Echo.h
  src/protocols/echo/EchoClient.cpp
  src/transport/SecureSessionMgr.cpp
  src/transport/SessionHandle.h
  src/transport/tests/TestSecureSessionMgr.cpp
  src/transport/tests/TestSessionHandle.cpp
Labels: transport, lib, controller, app, review - approved, SDK Approved

#9346 move PrepareListFromTLV into its own file
  src/app/chip_data_model.gni
  src/app/util/prepare-list.cpp
  src/app/util/prepare-list.h
  src/app/zap-templates/templates/app/CHIPClientCallbacks-src.zapt
  src/darwin/Framework/CHIP.xcodeproj/project.pbxproj
  zzz_generated/controller-clusters/zap-generated/CHIPClientCallbacks.cpp
  zzz_generated/lighting-app/zap-generated/CHIPClientCallbacks.cpp
  zzz_generated/pump-app/zap-generated/CHIPClientCallbacks.cpp
  zzz_generated/pump-controller-app/zap-generated/CHIPClientCallbacks.cpp
  zzz_generated/tv-app/zap-generated/CHIPClientCallbacks.cpp
Labels: darwin, app, review - approved, technical review - DONE, SDK Approved

#9289 Remove LambdaProxy in SystemObject
  src/system/SystemObject.h
Labels: system, review - approved, technical review - DONE, SDK Approved

#9385 Update operational credentials cluster definition for fabric descriptor
  examples/all-clusters-app/all-clusters-common/all-clusters-app.zap
  examples/bridge-app/bridge-common/bridge-app.zap
  examples/lighting-app/lighting-common/lighting-app.zap
  examples/lock-app/lock-common/lock-app.zap
  examples/ota-provider-app/ota-provider-common/ota-provider-app.zap
  examples/pump-app/pump-common/pump-app.zap
  examples/pump-controller-app/pump-controller-common/pump-controller-app.zap
  examples/temperature-measurement-app/esp32/main/temperature-measurement.zap
  examples/thermostat/thermostat-common/thermostat.zap
  examples/tv-app/tv-common/tv-app.zap
  examples/window-app/common/window-app.zap
  src/app/clusters/operational-credentials-server/operational-credentials-server.cpp
  src/app/zap-templates/zcl/data-model/chip/operational-credentials-cluster.xml
  src/controller/data_model/controller-clusters.zap
  src/controller/java/zap-generated/CHIPClusters-JNI.cpp
  src/controller/java/zap-generated/chip/devicecontroller/ChipClusters.java
  src/darwin/CHIPTool/CHIPTool/View Controllers/Fabric/FabricUIViewController.m
  src/darwin/Framework/CHIP/zap-generated/CHIPClustersObjc.mm
  src/transport/FabricTable.h
  zzz_generated/all-clusters-app/zap-generated/attribute-size.cpp
  zzz_generated/all-clusters-app/zap-generated/endpoint_config.h
  zzz_generated/app-common/app-common/zap-generated/af-structs.h
  zzz_generated/app-common/app-common/zap-generated/attribute-id.h
  zzz_generated/app-common/app-common/zap-generated/ids/Attributes.h
  zzz_generated/bridge-app/zap-generated/attribute-size.cpp
  zzz_generated/bridge-app/zap-generated/endpoint_config.h
  zzz_generated/chip-tool/zap-generated/cluster/Commands.h
  zzz_generated/controller-clusters/zap-generated/CHIPClientCallbacks.cpp
  zzz_generated/lighting-app/zap-generated/attribute-size.cpp
  zzz_generated/lighting-app/zap-generated/endpoint_config.h
  zzz_generated/lock-app/zap-generated/attribute-size.cpp
  zzz_generated/lock-app/zap-generated/endpoint_config.h
  zzz_generated/ota-provider-app/zap-generated/attribute-size.cpp
  zzz_generated/ota-provider-app/zap-generated/endpoint_config.h
  zzz_generated/pump-app/zap-generated/attribute-size.cpp
  zzz_generated/pump-app/zap-generated/endpoint_config.h
  zzz_generated/pump-controller-app/zap-generated/attribute-size.cpp
  zzz_generated/pump-controller-app/zap-generated/endpoint_config.h
  zzz_generated/temperature-measurement-app/zap-generated/attribute-size.cpp
  zzz_generated/temperature-measurement-app/zap-generated/endpoint_config.h
  zzz_generated/thermostat/zap-generated/attribute-size.cpp
  zzz_generated/thermostat/zap-generated/endpoint_config.h
  zzz_generated/tv-app/zap-generated/CHIPClientCallbacks.cpp
  zzz_generated/tv-app/zap-generated/CHIPClientCallbacks.h
  zzz_generated/tv-app/zap-generated/CHIPClusters.cpp
  zzz_generated/tv-app/zap-generated/CHIPClusters.h
  zzz_generated/tv-app/zap-generated/attribute-size.cpp
  zzz_generated/tv-app/zap-generated/endpoint_config.h
  zzz_generated/tv-casting-app/zap-generated/attribute-size.cpp
  zzz_generated/tv-casting-app/zap-generated/endpoint_config.h
  zzz_generated/window-app/zap-generated/attribute-size.cpp
  zzz_generated/window-app/zap-generated/endpoint_config.h
Labels: examples, transport, darwin, controller, app, review - approved, SDK Approved

#9418 [chip-tool] Add command to open enhanced commissioning window
  examples/chip-tool/commands/pairing/Commands.h
  examples/chip-tool/commands/pairing/PairingCommand.cpp
  examples/chip-tool/commands/pairing/PairingCommand.h
  src/controller/CHIPDevice.cpp
  src/controller/CHIPDevice.h
  src/controller/CHIPDeviceController.cpp
  src/controller/CHIPDeviceController.h
  src/controller/java/CHIPDeviceController-JNI.cpp
  src/darwin/Framework/CHIP/CHIPDevice.mm
Labels: examples, darwin, controller, review - approved, technical review - DONE, SDK Approved

#9457 [nrfconnect] Enable logger synchronization
  config/nrfconnect/app/sample-defaults.conf
Labels: config, review - approved, technical review - DONE, SDK Approved

#9449 K32W0 fixes: SRAM usage reduction, fix KVS factory reset
  examples/lighting-app/k32w/BUILD.gn
  examples/lighting-app/k32w/include/CHIPProjectConfig.h
  examples/lighting-app/k32w/main/AppTask.cpp
  examples/lock-app/k32w/BUILD.gn
  examples/lock-app/k32w/include/CHIPProjectConfig.h
  examples/platform/k32w/app/project_include/OpenThreadConfig.h
  src/lwip/k32w/lwipopts.h
  src/platform/K32W/BUILD.gn
  src/platform/K32W/K32WConfig.cpp
  src/platform/K32W/ThreadStackManagerImpl.cpp
  src/platform/K32W/args.gni
Labels: examples, platform, k32w, lwip, review - approved, technical review - DONE, Tested manually, SDK Approved

#9420 Fix GetRand due to that InitEntropy (srand) is not called.
  src/include/platform/internal/GenericPlatformManagerImpl.cpp
  src/platform/BUILD.gn
  src/platform/EFR32/Entropy.cpp
  src/platform/ESP32/Entropy.cpp
  src/platform/ESP32/PlatformManagerImpl.cpp
  src/platform/Entropy.cpp
  src/platform/K32W/Entropy.cpp
  src/platform/K32W/PlatformManagerImpl.cpp
  src/platform/P6/Entropy.cpp
  src/platform/cc13x2_26x2/PlatformManagerImpl.cpp
  src/platform/qpg/Entropy.cpp
Labels: platform, efr32, esp32, k32w, linux, review - approved, technical review - DONE, SDK Approved

#9450 Cleanup IM Read
  src/app/InteractionModelDelegate.h
  src/app/InteractionModelEngine.cpp
  src/app/InteractionModelEngine.h
  src/app/ReadClient.cpp
  src/app/ReadClient.h
  src/app/ReadHandler.cpp
  src/app/ReadHandler.h
  src/app/reporting/Engine.cpp
  src/app/reporting/Engine.h
  src/app/tests/TestReadInteraction.cpp
  src/app/tests/integration/chip_im_initiator.cpp
Labels: app, review - approved, SDK Approved

#9409 [CI] Fix unit test TestConfigurationMgr random failure
  src/platform/Linux/CHIPLinuxStorageIni.cpp
Labels: platform, linux, review - approved, technical review - DONE, SDK Approved

#9163 [Telink]: Migrate to upstream zephyr (docker part)
  integrations/docker/images/chip-build-telink/Dockerfile
  integrations/docker/images/chip-build-vscode/Dockerfile
  integrations/docker/images/chip-build/version
Labels: integrations, review - approved, SDK Approved

#9471 Roll back Telink CI to previous docker file version for now to get it green.
  .github/workflows/examples-telink.yaml
Labels: hotfix, github, workflows

#9452 Stop disabling the stack-usage diagnostic in various places.
  src/app/server/StorablePeerConnection.cpp
  src/app/server/StorablePeerConnection.h
  src/protocols/secure_channel/CASESession.cpp
  src/protocols/secure_channel/CASESession.h
  src/transport/FabricTable.cpp
  src/transport/FabricTable.h
Labels: transport, app, review - approved, technical review - DONE, SDK Approved

#9408 Enable commissioner for tv-app
  examples/platform/linux/ControllerShellCommands.cpp
  src/controller/CHIPDeviceController.cpp
Labels: examples, controller, review - approved, SDK Approved

#9493 [docker] Fix chip-build-nrf-platform Dockerfile
  integrations/docker/images/chip-build-nrf-platform/Dockerfile
  integrations/docker/images/chip-build/version
Labels: hotfix, integrations, review - pending, technical review - DONE, SDK Approved

#9486 Fix incorrect boundary condition for MakeZclCharString.
  src/lib/support/ZclString.cpp
  src/lib/support/tests/TestZclString.cpp
Labels: lib, review - approved

#9165 [Telink]: Migrate to upstream zephyr (code part)
  .github/workflows/examples-telink.yaml
  config/telink/app/zephyr.conf
  config/telink/chip-module/CMakeLists.txt
  examples/lighting-app/telink/include/AppConfig.h
  examples/lighting-app/telink/include/LightingManager.h
  examples/lighting-app/telink/src/AppTask.cpp
  examples/lighting-app/telink/src/LightingManager.cpp
  examples/platform/telink/project_include/OpenThreadConfig.h
  examples/platform/telink/util/include/LEDWidget.h
  examples/platform/telink/util/src/ButtonManager.cpp
  examples/platform/telink/util/src/LEDWidget.cpp
  scripts/examples/telink_example.sh
Labels: examples, scripts, config, github, workflows, review - approved, SDK Approved

#9402 Define namespace chip inside asn1/ASN1OID.h
  src/lib/asn1/ASN1.h
  src/lib/asn1/gen_asn1oid.py
Labels: examples, lib, review - approved, technical review - DONE, SDK Approved

#8889 [Darwin] Properly delete chip::Callback on success/failure
  src/darwin/Framework/CHIP.xcodeproj/project.pbxproj
  src/darwin/Framework/CHIP/CHIP.h
  src/darwin/Framework/CHIP/CHIPCallbackBridgeBase_internal.h
  src/darwin/Framework/CHIP/CHIPCluster.h
  src/darwin/Framework/CHIP/CHIPCluster.mm
  src/darwin/Framework/CHIP/CHIPCluster_internal.h
  src/darwin/Framework/CHIP/templates/CHIPCallbackBridge-src.zapt
  src/darwin/Framework/CHIP/templates/CHIPCallbackBridge_internal.zapt
  src/darwin/Framework/CHIP/templates/CHIPClustersObjc-src.zapt
  src/darwin/Framework/CHIP/templates/CHIPClustersObjc.zapt
  src/darwin/Framework/CHIP/templates/CHIPClustersObjc_internal.zapt
  src/darwin/Framework/CHIP/templates/partials/CHIPCallbackBridge.zapt
  src/darwin/Framework/CHIP/templates/templates.json
  src/darwin/Framework/CHIP/zap-generated/CHIPCallbackBridge.mm
  src/darwin/Framework/CHIP/zap-generated/CHIPCallbackBridge_internal.h
  src/darwin/Framework/CHIP/zap-generated/CHIPClustersObjc.h
  src/darwin/Framework/CHIP/zap-generated/CHIPClustersObjc.mm
  src/darwin/Framework/CHIP/zap-generated/CHIPClustersObjc_internal.h
Labels: darwin, review - approved, technical review - DONE, SDK Approved

#9000 [Tests] - Add a new GlobalCommands interface for tests and expose WaitForMs
  examples/chip-tool/commands/tests/TestCommand.cpp
  examples/chip-tool/commands/tests/TestCommand.h
  examples/chip-tool/templates/partials/test_cluster.zapt
  examples/chip-tool/templates/tests-commands.zapt
  src/app/tests/suites/TestDelayCommands.yaml
  src/app/zap-templates/common/ClusterTestGeneration.js
  src/app/zap-templates/common/simulated-clusters/TestDelayCommands.js
  src/darwin/Framework/CHIP/templates/clusters-tests.zapt
  src/darwin/Framework/CHIP/templates/partials/test_cluster.zapt
  src/darwin/Framework/CHIPTests/CHIPClustersTests.m
  zzz_generated/chip-tool/zap-generated/test/Commands.h
Labels: examples, darwin, app, review - approved, SDK Approved

#9488 Endian-ness enforcement of generated compressed fabric ID
  src/transport/FabricTable.cpp
  src/transport/FabricTable.h
  src/transport/tests/BUILD.gn
  src/transport/tests/TestFabricTable.cpp
Labels: transport, review - approved, technical review - DONE, SDK Approved

#9519 Invoke python3.8 directly for for add-repository since python3.9 does not work
  integrations/docker/images/chip-build-cirque/Dockerfile
Labels: hotfix

#9504 Don't clobber chip-tool error
  examples/chip-tool/commands/common/Commands.cpp
Labels: examples, review - approved, SDK Approved

#9498 Mbed optimize debug
  build/config/compiler/compiler.gni
Labels: review - pending, technical review - DONE, SDK Approved

#9484 Propagate the interface id from avahi in the Linux MDNS impl.
  src/platform/Linux/MdnsImpl.cpp
Labels: platform, linux, review - approved, SDK Approved

#9477 Remove no longer needed StorablePeerConnection class
  examples/lighting-app/mbed/CMakeLists.txt
  examples/lighting-app/nrfconnect/CMakeLists.txt
  examples/lighting-app/telink/CMakeLists.txt
  examples/lock-app/mbed/CMakeLists.txt
  examples/lock-app/nrfconnect/CMakeLists.txt
  examples/pump-app/nrfconnect/CMakeLists.txt
  examples/pump-controller-app/nrfconnect/CMakeLists.txt
  src/app/server/BUILD.gn
  src/app/server/StorablePeerConnection.cpp
  src/app/server/StorablePeerConnection.h
Labels: examples, app, review - approved, technical review - DONE, SDK Approved

#9490 support different dhcp client in Linux
  src/platform/Linux/ConnectivityManagerImpl.cpp
Labels: platform, linux, review - approved, technical review - DONE, SDK Approved

#9529 Fix mbedos docker build (fixes "ERROR: Cannot uninstall PyYAML. It is…
  integrations/docker/images/chip-build-mbed-os/Dockerfile
Labels: hotfix, integrations

#9405 Device Attestation Verifier
  src/credentials/BUILD.gn
  src/credentials/DeviceAttestationVerifier.cpp
  src/credentials/DeviceAttestationVerifier.h
  src/credentials/examples/DeviceAttestationCredsExample.cpp
  src/credentials/examples/DeviceAttestationVerifierExample.cpp
  src/credentials/examples/DeviceAttestationVerifierExample.h
  src/credentials/tests/CHIPCert_test_vectors.cpp
  src/credentials/tests/CHIPCert_test_vectors.h
  src/credentials/tests/TestDeviceAttestationCredentials.cpp
  src/crypto/CHIPCryptoPAL.h
  src/crypto/CHIPCryptoPALOpenSSL.cpp
  src/crypto/CHIPCryptoPALmbedTLS.cpp
  src/crypto/tests/CHIPCryptoPALTest.cpp
  src/lib/support/Span.h
Labels: lib, crypto, review - approved, technical review - DONE, SDK Approved

#9483 Address some not-quite-resolved review comments from PR 8107
  src/controller/CHIPDevice.cpp
  src/protocols/secure_channel/PASESession.h
  src/transport/PairingSession.h
Labels: transport, controller, review - approved, SDK Approved

#9465 Fix re-transmission table size is 0 if Lwip custom pool is used
  src/messaging/ReliableMessageProtocolConfig.h
Labels: review - approved, technical review - DONE, SDK Approved

#9476 Disallow VLAs in Matter code
  build/config/compiler/BUILD.gn
  src/app/zap-templates/templates/app/CHIPClientCallbacks-src.zapt
  src/crypto/tests/CHIPCryptoPALTest.cpp
  src/darwin/Framework/CHIP/CHIPOperationalCredentialsDelegate.mm
  src/darwin/Framework/CHIP/templates/partials/CHIPCallbackBridge.zapt
  src/darwin/Framework/CHIP/zap-generated/CHIPCallbackBridge.mm
  src/platform/Linux/KeyValueStoreManagerImpl.cpp
  src/setup_payload/ManualSetupPayloadGenerator.cpp
  zzz_generated/controller-clusters/zap-generated/CHIPClientCallbacks.cpp
  zzz_generated/tv-app/zap-generated/CHIPClientCallbacks.cpp
Labels: setup payload, platform, darwin, linux, crypto, app, review - approved, technical review - DONE, SDK Approved

#9482 Fix mis-spellings of "commissioning" and confusing CommissioningComplete documentation.
  src/controller/CHIPDeviceController.h
  src/controller/python/ChipDeviceController-ScriptBinding.cpp
  src/controller/python/chip/ChipDeviceCtrl.py
Labels: controller, review - approved, SDK Approved

#9366 Virtualize System::Layer interfaces
  examples/platform/nrfconnect/util/test/TestInetCommon.cpp
  src/app/tests/TestCommandInteraction.cpp
  src/app/tests/TestEventLogging.cpp
  src/app/tests/TestInteractionModelEngine.cpp
  src/app/tests/TestReportingEngine.cpp
  src/controller/java/CHIPDeviceController-JNI.cpp
  src/include/platform/CHIPDeviceLayer.h
  src/include/platform/internal/GenericPlatformManagerImpl.cpp
  src/include/platform/internal/GenericPlatformManagerImpl_FreeRTOS.cpp
  src/include/platform/internal/GenericPlatformManagerImpl_POSIX.cpp
  src/include/platform/internal/GenericPlatformManagerImpl_Zephyr.cpp
  src/inet/EndPointBasis.cpp
  src/inet/IPEndPointBasis.cpp
  src/inet/IPEndPointBasis.h
  src/inet/InetLayer.cpp
  src/inet/InetLayer.h
  src/inet/RawEndPoint.cpp
  src/inet/TCPEndPoint.cpp
  src/inet/UDPEndPoint.cpp
  src/inet/tests/TestInetCommon.h
  src/inet/tests/TestInetCommonPosix.cpp
  src/platform/Linux/MdnsImpl.cpp
  src/platform/Linux/MdnsImpl.h
  src/platform/mbed/PlatformManagerImpl.cpp
  src/system/BUILD.gn
  src/system/SystemLayer.cpp
  src/system/SystemLayer.h
  src/system/SystemLayerImpl.h
  src/system/SystemLayerImplLibevent.cpp
  src/system/SystemLayerImplLibevent.h
  src/system/SystemLayerImplLwIP.cpp
  src/system/SystemLayerImplLwIP.h
  src/system/SystemLayerImplSelect.cpp
  src/system/SystemLayerImplSelect.h
  src/system/SystemObject.cpp
  src/system/SystemObject.h
  src/system/SystemTimer.h
  src/system/WakeEvent.cpp
  src/system/WakeEvent.h
  src/system/WatchableEventManager.h
  src/system/WatchableEventManagerLwIP.h
  src/system/tests/TestSystemTimer.cpp
  src/system/tests/TestSystemWakeEvent.cpp
  src/transport/raw/tests/NetworkTestHelpers.cpp
Labels: examples, system, platform, linux, inet, controller, app, review - approved, technical review - DONE, SDK Approved

#9549 add build instructions to ota-provider-app
  examples/ota-provider-app/linux/README.md
Labels: examples, review - pending, Tests not applicable, SDK Approved

#9386 [controller] reset Device state for usage in accessories
  src/controller/CHIPDevice.cpp
  src/controller/tests/BUILD.gn
  src/controller/tests/TestDevice.cpp
Labels: controller, review - approved, SDK Approved

#9560 fix TestDevice CI error
  src/controller/tests/TestDevice.cpp
Labels: hotfix, controller

#9512 Remove ChipLogFunctError function
  config/android/CHIPProjectConfig.h
  config/ios/CHIPProjectConfig.h
  config/standalone/CHIPProjectConfig.h
  src/app/Command.cpp
  src/app/CommandHandler.cpp
  src/app/CommandSender.cpp
  src/app/EventManagement.cpp
  src/app/InteractionModelEngine.cpp
  src/app/MessageDef/AttributeDataElement.cpp
  src/app/MessageDef/AttributeDataList.cpp
  src/app/MessageDef/AttributeDataVersionList.cpp
  src/app/MessageDef/AttributePath.cpp
  src/app/MessageDef/AttributePathList.cpp
  src/app/MessageDef/AttributeStatusElement.cpp
  src/app/MessageDef/AttributeStatusList.cpp
  src/app/MessageDef/Builder.cpp
  src/app/MessageDef/CommandDataElement.cpp
  src/app/MessageDef/CommandList.cpp
  src/app/MessageDef/CommandPath.cpp
  src/app/MessageDef/EventDataElement.cpp
  src/app/MessageDef/EventList.cpp
  src/app/MessageDef/EventPath.cpp
  src/app/MessageDef/EventPathList.cpp
  src/app/MessageDef/InvokeCommand.cpp
  src/app/MessageDef/ListBuilder.cpp
  src/app/MessageDef/ListParser.cpp
  src/app/MessageDef/ReadRequest.cpp
  src/app/MessageDef/ReportData.cpp
  src/app/MessageDef/StatusElement.cpp
  src/app/MessageDef/SubscribeRequest.cpp
  src/app/MessageDef/SubscribeResponse.cpp
  src/app/MessageDef/TimedRequest.cpp
  src/app/MessageDef/WriteRequest.cpp
  src/app/MessageDef/WriteResponse.cpp
  src/app/ReadClient.cpp
  src/app/ReadHandler.cpp
  src/app/WriteClient.cpp
  src/app/WriteHandler.cpp
  src/app/reporting/Engine.cpp
  src/app/tests/TestReportingEngine.cpp
  src/app/tests/integration/chip_im_responder.cpp
  src/controller/java/CHIPProjectConfig.h
  src/lib/core/CHIPConfig.h
  src/lib/support/logging/CHIPLogging.h
Labels: app, config, review - approved, SDK Approved

#9547 Make System::Clock mockable
  src/platform/ESP32/SystemTimeSupport.cpp
  src/platform/FreeRTOS/SystemTimeSupport.cpp
  src/platform/Linux/SystemTimeSupport.cpp
  src/platform/Zephyr/SystemTimeSupport.cpp
  src/platform/mbed/SystemTimeSupport.cpp
  src/platform/nrfconnect/SystemPlatformConfig.h
  src/platform/telink/SystemPlatformConfig.h
  src/platform/tests/TestPlatformTime.cpp
  src/protocols/bdx/TransferFacilitator.cpp
  src/system/SystemClock.cpp
  src/system/SystemClock.h
  src/system/SystemLayerImplLibevent.cpp
  src/system/SystemLayerImplSelect.cpp
  src/system/tests/BUILD.gn
  src/system/tests/TestSystemClock.cpp
Labels: system, platform, esp32, freeRTOS, linux, nrf connect, zephyr, review - approved, technical review - DONE, Has Automated Tests, telink, SDK Approved

#9532 Updated ASN1Writer Methods to Use Safe Methods on TLVReader.
  src/credentials/CHIPCertFromX509.cpp
  src/credentials/CHIPCertToX509.cpp
  src/credentials/GenerateChipX509Cert.cpp
  src/lib/asn1/ASN1.h
  src/lib/asn1/ASN1Reader.cpp
  src/lib/asn1/ASN1Writer.cpp
  src/lib/asn1/tests/TestASN1.cpp
Labels: lib, review - approved, technical review - DONE, SDK Approved

#9569 Fix EventHandlerDelegate crash on LwIP platforms
  src/system/SystemLayerImplLwIP.cpp
Labels: hotfix, system, review - pending, technical review - DONE

#9568 Remove ChipDeviceController-ClusterCommands.cpp.
  src/controller/python/ChipDeviceController-ClusterCommands.cpp
Labels: controller, review - approved, SDK Approved

#9576 Remove incorrect "open enhanced commissioning window" UI on M5Stack.
  examples/all-clusters-app/esp32/main/main.cpp
Labels: review - approved, technical review - DONE

#9538 [YAML] Add a constraint to say not equal to some value
  examples/chip-tool/templates/partials/test_cluster.zapt
  examples/chip-tool/templates/tests-commands.zapt
  src/app/tests/suites/TestConstraints.yaml
  src/darwin/Framework/CHIP/templates/clusters-tests.zapt
  src/darwin/Framework/CHIP/templates/partials/test_cluster.zapt
  src/darwin/Framework/CHIPTests/CHIPClustersTests.m
  zzz_generated/chip-tool/zap-generated/test/Commands.h
Labels: examples, darwin, app, review - approved, SDK Approved

#9574 Rename System::Clock globals (followup from #9547 review)
  src/platform/ESP32/SystemTimeSupport.cpp
  src/platform/FreeRTOS/SystemTimeSupport.cpp
  src/platform/Linux/SystemTimeSupport.cpp
  src/platform/Zephyr/SystemTimeSupport.cpp
  src/platform/mbed/SystemTimeSupport.cpp
  src/system/SystemClock.cpp
  src/system/SystemClock.h
  src/system/tests/TestSystemClock.cpp
Labels: system, platform, esp32, freeRTOS, linux, zephyr, review - approved, technical review - DONE, SDK Approved

#9546 Make System::Layer mockable
  examples/all-clusters-app/esp32/main/DeviceCallbacks.cpp
  examples/chip-tool/commands/common/Command.cpp
  examples/chip-tool/commands/tests/TestCommand.cpp
  examples/lighting-app/qpg/src/AppTask.cpp
  examples/lock-app/qpg/src/AppTask.cpp
  examples/minimal-mdns/client.cpp
  examples/ota-provider-app/linux/main.cpp
  examples/shell/shell_common/cmd_ping.cpp
  examples/shell/shell_common/cmd_send.cpp
  examples/tv-casting-app/linux/main.cpp
  src/app/server/Server.cpp
  src/app/tests/integration/chip_im_initiator.cpp
  src/app/tests/integration/chip_im_responder.cpp
  src/app/util/af-event.cpp
  src/controller/CHIPDeviceController.cpp
  src/controller/python/chip/internal/CommissionerImpl.cpp
  src/include/platform/CHIPDeviceLayer.h
  src/include/platform/internal/GenericPlatformManagerImpl.cpp
  src/include/platform/internal/GenericPlatformManagerImpl_FreeRTOS.cpp
  src/include/platform/internal/GenericPlatformManagerImpl_POSIX.cpp
  src/include/platform/internal/GenericPlatformManagerImpl_Zephyr.cpp
  src/include/platform/internal/GenericSoftwareUpdateManagerImpl.cpp
  src/inet/InetConfig.h
  src/inet/InetLayer.h
  src/messaging/tests/echo/echo_requester.cpp
  src/messaging/tests/echo/echo_responder.cpp
  src/platform/Darwin/BLEManagerImpl.cpp
  src/platform/Darwin/PlatformManagerImpl.cpp
  src/platform/DeviceControlServer.cpp
  src/platform/EFR32/BLEManagerImpl.cpp
  src/platform/ESP32/ConnectivityManagerImpl.cpp
  src/platform/ESP32/bluedroid/BLEManagerImpl.cpp
  src/platform/ESP32/nimble/BLEManagerImpl.cpp
  src/platform/Globals.cpp
  src/platform/K32W/BLEManagerImpl.cpp
  src/platform/Linux/BLEManagerImpl.cpp
  src/platform/Linux/ConnectivityManagerImpl.cpp
  src/platform/Linux/MdnsImpl.cpp
  src/platform/Linux/bluez/ChipDeviceScanner.cpp
  src/platform/P6/BLEManagerImpl.cpp
  src/platform/P6/ConnectivityManagerImpl.cpp
  src/platform/Zephyr/BLEManagerImpl.cpp
  src/platform/cc13x2_26x2/BLEManagerImpl.cpp
  src/platform/mbed/BLEManagerImpl.cpp
  src/platform/mbed/PlatformManagerImpl.cpp
  src/platform/qpg/BLEManagerImpl.cpp
  src/platform/tests/TestPlatformMgr.cpp
  src/system/SystemConfig.h
  src/system/SystemEvent.h
  src/system/SystemLayer.h
Labels: examples, platform, darwin, efr32, inet, controller, app, review - approved, SDK Approved

#9501 Fix compilation with CHIP_CONFIG_SECURITY_TEST_MODE by updating OpenThread API usage
  src/platform/OpenThread/OpenThreadUtils.cpp
Labels: platform, openthread, review - approved, technical review - DONE, SDK Approved

#8726 Remove packet header argument of ExchangeDelegate interface
  examples/shell/shell_common/cmd_send.cpp
  src/app/CommandHandler.cpp
  src/app/CommandHandler.h
  src/app/CommandSender.cpp
  src/app/CommandSender.h
  src/app/InteractionModelEngine.cpp
  src/app/InteractionModelEngine.h
  src/app/ReadClient.cpp
  src/app/ReadClient.h
  src/app/ReadHandler.cpp
  src/app/ReadHandler.h
  src/app/WriteClient.cpp
  src/app/WriteClient.h
  src/app/server/Server.cpp
  src/app/tests/TestCommandInteraction.cpp
  src/app/tests/TestReportingEngine.cpp
  src/app/tests/TestWriteInteraction.cpp
  src/app/util/chip-message-send.cpp
  src/controller/CHIPDevice.cpp
  src/controller/CHIPDevice.h
  src/controller/CHIPDeviceController.cpp
  src/controller/CHIPDeviceController.h
  src/messaging/ExchangeContext.cpp
  src/messaging/ExchangeContext.h
  src/messaging/ExchangeDelegate.h
  src/messaging/ExchangeMessageDispatch.cpp
  src/messaging/ExchangeMessageDispatch.h
  src/messaging/ExchangeMgr.cpp
  src/messaging/tests/TestExchangeMgr.cpp
  src/messaging/tests/TestReliableMessageProtocol.cpp
  src/protocols/bdx/TransferFacilitator.cpp
  src/protocols/bdx/TransferFacilitator.h
  src/protocols/echo/Echo.h
  src/protocols/echo/EchoClient.cpp
  src/protocols/echo/EchoServer.cpp
  src/protocols/secure_channel/CASEServer.cpp
  src/protocols/secure_channel/CASEServer.h
  src/protocols/secure_channel/CASESession.cpp
  src/protocols/secure_channel/CASESession.h
  src/protocols/secure_channel/MessageCounterManager.cpp
  src/protocols/secure_channel/MessageCounterManager.h
  src/protocols/secure_channel/PASESession.cpp
  src/protocols/secure_channel/PASESession.h
  src/protocols/secure_channel/SessionEstablishmentExchangeDispatch.cpp
  src/protocols/secure_channel/SessionEstablishmentExchangeDispatch.h
  src/protocols/secure_channel/tests/TestMessageCounterManager.cpp
  src/protocols/secure_channel/tests/TestPASESession.cpp
Labels: examples, lib, controller, app, review - pending, SDK Approved

#9463 Fix Issue #9462: Misplaced validation in YAML test suites.
  src/app/zap-templates/common/ClusterTestGeneration.js
Labels: app, review - approved, SDK Approved

#9535 Make telink compile in the vscode image using build_example.py
  .github/workflows/examples-telink.yaml
  .vscode/tasks.json
  examples/lighting-app/telink/Readme.md
  integrations/docker/images/chip-build-telink/Dockerfile
  integrations/docker/images/chip-build-vscode/Dockerfile
  integrations/docker/images/chip-build/version
  scripts/build/builders/telink.py
  scripts/build/expected_all_platform_commands.txt
  scripts/examples/telink_example.sh
Labels: examples, scripts, integrations, vscode, github, workflows, review - pending, Has Automated Tests, SDK Approved

#9200 Refactor the server to organize as a class
  examples/all-clusters-app/esp32/main/main.cpp
  examples/bridge-app/esp32/main/main.cpp
  examples/bridge-app/linux/main.cpp
  examples/lighting-app/efr32/src/AppTask.cpp
  examples/lighting-app/k32w/main/AppTask.cpp
  examples/lighting-app/mbed/CMakeLists.txt
  examples/lighting-app/mbed/main/AppTask.cpp
  examples/lighting-app/nrfconnect/CMakeLists.txt
  examples/lighting-app/nrfconnect/main/AppTask.cpp
  examples/lighting-app/qpg/src/AppTask.cpp
  examples/lighting-app/telink/CMakeLists.txt
  examples/lighting-app/telink/src/AppTask.cpp
  examples/lock-app/cc13x2x7_26x2x7/main/AppTask.cpp
  examples/lock-app/efr32/src/AppTask.cpp
  examples/lock-app/esp32/main/main.cpp
  examples/lock-app/k32w/main/AppTask.cpp
  examples/lock-app/mbed/CMakeLists.txt
  examples/lock-app/mbed/main/AppTask.cpp
  examples/lock-app/nrfconnect/CMakeLists.txt
  examples/lock-app/nrfconnect/main/AppTask.cpp
  examples/lock-app/p6/src/AppTask.cpp
  examples/lock-app/qpg/src/AppTask.cpp
  examples/ota-provider-app/linux/main.cpp
  examples/platform/linux/AppMain.cpp
  examples/platform/linux/CommissioneeShellCommands.cpp
  examples/pump-app/cc13x2x7_26x2x7/main/AppTask.cpp
  examples/pump-app/nrfconnect/CMakeLists.txt
  examples/pump-app/nrfconnect/main/AppTask.cpp
  examples/pump-controller-app/cc13x2x7_26x2x7/main/AppTask.cpp
  examples/pump-controller-app/nrfconnect/CMakeLists.txt
  examples/pump-controller-app/nrfconnect/main/AppTask.cpp
  examples/temperature-measurement-app/esp32/main/main.cpp
  examples/tv-casting-app/linux/main.cpp
  examples/window-app/common/src/WindowApp.cpp
  src/app/clusters/administrator-commissioning-server/administrator-commissioning-server.cpp
  src/app/clusters/operational-credentials-server/operational-credentials-server.cpp
  src/app/server/BUILD.gn
  src/app/server/CommissionManager.cpp
  src/app/server/CommissionManager.h
  src/app/server/Mdns.cpp
  src/app/server/RendezvousServer.h
  src/app/server/Server.cpp
  src/app/server/Server.h
  src/app/server/SessionManager.h
  src/app/tests/BUILD.gn
  src/app/tests/TestCommissionManager.cpp
  src/controller/CHIPDeviceController.h
  src/protocols/secure_channel/RendezvousParameters.h
Labels: examples, app, review - approved, SDK Approved

#9587 [TE6] Read Ethernet Network Diagnostic attributes from platform at run-time
  examples/lighting-app/lighting-common/lighting-app.zap
  examples/lighting-app/linux/main.cpp
  src/include/platform/CHIPDeviceConfig.h
  src/include/platform/ConnectivityManager.h
  src/include/platform/internal/GenericConnectivityManagerImpl_NoWiFi.h
  src/include/platform/internal/GenericConnectivityManagerImpl_WiFi.h
  src/platform/Linux/ConnectivityManagerImpl.cpp
  src/platform/Linux/ConnectivityManagerImpl.h
  zzz_generated/lighting-app/zap-generated/endpoint_config.h
Labels: examples, platform, linux, review - approved, SDK Approved

#9352 [build] Add sysroot / system_libdir support
  build/chip/linux/gen_gdbus_wrapper.py
  build/chip/tests.gni
  build/config/compiler/BUILD.gn
  build/config/linux/pkg-config.py
  build/config/linux/pkg_config.gni
  build/config/sysroot.gni
  src/app/clusters/thermostat-server/thermostat-server.cpp
  src/tools/chip-cert/GeneralUtils.cpp
Labels: darwin, app, review - approved, SDK Approved

#9561 Rename Local and Peer in message tests into Alice and Bob
  src/app/tests/TestReadInteraction.cpp
  src/app/tests/TestWriteInteraction.cpp
  src/messaging/tests/MessagingContext.cpp
  src/messaging/tests/MessagingContext.h
  src/messaging/tests/TestExchangeMgr.cpp
  src/messaging/tests/TestReliableMessageProtocol.cpp
  src/protocols/secure_channel/tests/TestCASESession.cpp
  src/protocols/secure_channel/tests/TestMessageCounterManager.cpp
  src/protocols/secure_channel/tests/TestPASESession.cpp
Labels: controller, app, review - approved, SDK Approved

#8988 Add Tizen OS port
  .github/workflows/examples-tizen.yaml
  .vscode/tasks.json
  build/config/BUILDCONFIG.gn
  build/config/compiler/BUILD.gn
  build/toolchain/tizen/BUILD.gn
  build/toolchain/tizen/tizen_toolchain.gni
  config/tizen/chip-gn/BUILD.gn
  config/tizen/chip-gn/args.gni
  config/tizen/chip-gn/platform/BUILD.gn
  config/tizen/scripts/install_sdk.sh
  examples/build_overrides/tizen.gni
  examples/lighting-app/linux/with_tizen.gni
  scripts/build/build/factory.py
  scripts/build/build/targets.py
  scripts/build/builders/tizen.py
  scripts/build/expected_all_platform_commands.txt
  scripts/build/test.py
  src/platform/BUILD.gn
  src/platform/Tizen/BLEManagerImpl.cpp
  src/platform/Tizen/BLEManagerImpl.h
  src/platform/Tizen/BUILD.gn
  src/platform/Tizen/BlePlatformConfig.h
  src/platform/Tizen/CHIPDevicePlatformConfig.h
  src/platform/Tizen/CHIPDevicePlatformEvent.h
  src/platform/Tizen/CHIPPlatformConfig.h
  src/platform/Tizen/ConfigurationManagerImpl.cpp
  src/platform/Tizen/ConfigurationManagerImpl.h
  src/platform/Tizen/ConnectivityManagerImpl.cpp
  src/platform/Tizen/ConnectivityManagerImpl.h
  src/platform/Tizen/DeviceNetworkProvisioningDelegateImpl.cpp
  src/platform/Tizen/DeviceNetworkProvisioningDelegateImpl.h
  src/platform/Tizen/InetPlatformConfig.h
  src/platform/Tizen/KeyValueStoreManagerImpl.cpp
  src/platform/Tizen/KeyValueStoreManagerImpl.h
  src/platform/Tizen/Logging.cpp
  src/platform/Tizen/MdnsImpl.cpp
  src/platform/Tizen/PlatformManagerImpl.cpp
  src/platform/Tizen/PlatformManagerImpl.h
  src/platform/Tizen/PosixConfig.cpp
  src/platform/Tizen/PosixConfig.h
  src/platform/Tizen/SystemPlatformConfig.h
  src/platform/Tizen/SystemTimeSupport.cpp
  src/platform/device.gni
Labels: examples, scripts, platform, config, vscode, github, workflows, review - approved, technical review - DONE, SDK Approved

#9629 Fix naming of public key param of ExampleOperationalCredentialsIssuer
  src/controller/ExampleOperationalCredentialsIssuer.h
Labels: controller, review - approved

#9627 Fix ChipError scope resolution
  src/lib/core/CHIPError.h
Labels: lib, review - approved

#9427 Change temperature delta label to degrees Celsius
  src/darwin/CHIPTool/CHIPTool/View Controllers/Temperature Sensor/TemperatureSensorViewController.m
Labels: darwin, review - approved, technical review - DONE, SDK Approved

#9422 Remove dead codes PeerConnectionState::Reset
  src/transport/MessageCounter.h
  src/transport/PeerConnectionState.h
  src/transport/SecureSession.cpp
  src/transport/SecureSession.h
  src/transport/SessionMessageCounter.h
Labels: transport, review - approved, technical review - DONE, SDK Approved

#9621 Add mDNS shutdown
  src/controller/CHIPDeviceController.cpp
  src/controller/tests/TestCommissionableNodeController.cpp
  src/lib/mdns/Discovery_ImplPlatform.h
  src/lib/mdns/MinimalMdnsServer.cpp
  src/lib/mdns/MinimalMdnsServer.h
  src/lib/mdns/Resolver.h
  src/lib/mdns/Resolver_ImplMinimalMdns.cpp
  src/lib/mdns/Resolver_ImplNone.cpp
  src/platform/fake/MdnsImpl.cpp
Labels: platform, lib, controller, review - approved, technical review - DONE

#9613 Use pythonic way in Chip Bluez Manager and Utility
  src/controller/python/chip/ChipBluezMgr.py
  src/controller/python/chip/ChipUtility.py
Labels: controller, review - approved

#9614 Remove RawEndPoint.
  config/mbed/chip-gn/args.gni
  config/nrfconnect/chip-module/CMakeLists.txt
  config/standalone/args.gni
  config/telink/chip-module/CMakeLists.txt
  examples/platform/k32w/app/args.gni
  examples/platform/k32w/args.gni
  src/inet/BUILD.gn
  src/inet/EndPointBasis.h
  src/inet/IPEndPointBasis.cpp
  src/inet/Inet.h
  src/inet/InetConfig.h
  src/inet/InetLayer.cpp
  src/inet/InetLayer.h
  src/inet/RawEndPoint.cpp
  src/inet/RawEndPoint.h
  src/inet/inet.gni
  src/inet/tests/TestInetEndPoint.cpp
  src/inet/tests/TestInetLayer.cpp
  src/inet/tests/TestInetLayerCommon.hpp
  src/inet/tests/TestInetLayerMulticast.cpp
  src/lwip/k32w/lwipopts.h
  src/lwip/qpg/lwipopts.h
  src/platform/K32W/args.gni
  src/platform/qpg/args.gni
  src/system/SystemLayerImplSelect.h
  src/system/SystemPacketBuffer.h
  src/system/SystemStats.cpp
  src/system/SystemStats.h
  src/test_driver/happy/test-templates/ChipInetMulticast.py
  src/test_driver/happy/tests/standalone/inet/test_inet_multicast_five_nodes_on_wifi.py
Labels: examples, system, platform, k32w, lwip, inet, config, review - approved, technical review - DONE

#9592 Remove support for PacketBufferTLVReader using chained buffers.
  src/lib/core/tests/TestCHIPTLV.cpp
  src/system/TLVPacketBufferBackingStore.h
Labels: system, lib, review - approved, SDK Approved

#9640 Revert "Add mDNS shutdown (#9621)"
  src/controller/CHIPDeviceController.cpp
  src/controller/tests/TestCommissionableNodeController.cpp
  src/lib/mdns/Discovery_ImplPlatform.h
  src/lib/mdns/MinimalMdnsServer.cpp
  src/lib/mdns/MinimalMdnsServer.h
  src/lib/mdns/Resolver.h
  src/lib/mdns/Resolver_ImplMinimalMdns.cpp
  src/lib/mdns/Resolver_ImplNone.cpp
  src/platform/fake/MdnsImpl.cpp
Labels: hotfix, platform, lib, controller

#9599 Ensure that stack layers above transport manager never get chained packet buffers.
  src/ble/BtpEngine.cpp
  src/inet/UDPEndPoint.cpp
  src/transport/TransportMgrBase.cpp
Labels: transport, inet, ble, review - approved, technical review - DONE, SDK Approved

#9565 ESP32: Wait till NimBLE host-cotroller is synced
  examples/temperature-measurement-app/esp32/README.md
  examples/temperature-measurement-app/esp32/sdkconfig.defaults
  examples/temperature-measurement-app/esp32/sdkconfig.optimize.defaults
  src/platform/ESP32/nimble/BLEManagerImpl.cpp
Labels: examples, platform, esp32, review - pending, SDK Approved

#9331 Small artifacts for bloat reports
  .github/workflows/examples-efr32.yaml
  .github/workflows/examples-esp32.yaml
  .github/workflows/examples-infineon.yaml
  .github/workflows/examples-k32w.yaml
  .github/workflows/examples-linux-standalone.yaml
  .github/workflows/examples-mbed.yaml
  .github/workflows/examples-nrfconnect.yaml
  .github/workflows/examples-qpg.yaml
  .github/workflows/examples-telink.yaml
  scripts/helpers/bloat_check.py
  scripts/requirements.txt
  scripts/tools/memory/collect.py
  scripts/tools/memory/gh_report.py
  scripts/tools/memory/gh_sizes.py
  scripts/tools/memory/memdf/collect.py
  scripts/tools/memory/memdf/collector/elftools.py
  scripts/tools/memory/memdf/report.py
  scripts/tools/memory/memdf/select.py
  scripts/tools/memory/memdf/util/nd.py
  scripts/tools/memory/memdf/util/sqlite.py
  scripts/tools/memory/platform/esp32.cfg
  scripts/tools/memory/platform/linux.cfg
  scripts/tools/memory/platform/mbed.cfg
  scripts/tools/memory/platform/p6.cfg
  scripts/tools/memory/platform/telink.cfg
  scripts/tools/memory/report_summary.py
Labels: examples, scripts, config, github, workflows, review - approved, technical review - DONE, SDK Approved

#9396 Update WindowCovering cluster revision
  examples/all-clusters-app/all-clusters-common/all-clusters-app.zap
  examples/window-app/common/window-app.zap
  src/app/tests/suites/certification/Test_TC_WNCV_1_1.yaml
  src/app/zap-templates/zcl/data-model/chip/window-covering.xml
  src/controller/data_model/controller-clusters.zap
  src/darwin/Framework/CHIPTests/CHIPClustersTests.m
  zzz_generated/all-clusters-app/zap-generated/endpoint_config.h
  zzz_generated/chip-tool/zap-generated/test/Commands.h
  zzz_generated/controller-clusters/zap-generated/endpoint_config.h
  zzz_generated/window-app/zap-generated/endpoint_config.h
Labels: examples, darwin, controller, app, stale, review - approved, SDK Approved

#9537 Have Linux/MdnsImpl use System::Layer timer
  src/controller/java/MdnsImpl.cpp
  src/platform/Darwin/MdnsImpl.cpp
  src/platform/Linux/MdnsImpl.cpp
  src/platform/Linux/MdnsImpl.h
  src/system/SystemLayerImplLibevent.cpp
  src/system/SystemLayerImplSelect.cpp
Labels: system, platform, darwin, linux, controller, review - approved, SDK Approved

#9639 Simplify telink build
  scripts/build/builders/telink.py
  scripts/build/expected_all_platform_commands.txt
  scripts/build/test.py
Labels: scripts, review - approved, SDK Approved

#9646 Fix system layer call: add missing brackets
  src/platform/Linux/MdnsImpl.cpp
Labels: hotfix, platform, linux

#9638 Enable the src/controller tests on all platforms except nrfconnect.
  src/BUILD.gn
  src/app/zap-templates/templates/app/CHIPClientCallbacks-src.zapt
  src/controller/tests/BUILD.gn
  src/controller/tests/TestDevice.cpp
  src/system/SystemLayerImplSelect.h
  zzz_generated/controller-clusters/zap-generated/CHIPClientCallbacks.cpp
  zzz_generated/tv-app/zap-generated/CHIPClientCallbacks.cpp
Labels: system, controller, app, review - approved, SDK Approved

#9582 Update PASE state machine to match the latest specifications
  src/messaging/ApplicationExchangeDispatch.cpp
  src/protocols/secure_channel/Constants.h
  src/protocols/secure_channel/PASESession.cpp
  src/protocols/secure_channel/PASESession.h
  src/protocols/secure_channel/SessionEstablishmentExchangeDispatch.cpp
Labels: review - approved, technical review - DONE, SDK Approved

#9571 Expire associated secure sessions when a fabric is deleted
  src/app/clusters/operational-credentials-server/operational-credentials-server.cpp
  src/app/tests/suites/OperationalCredentialsCluster.yaml
  src/messaging/ExchangeContext.h
  src/messaging/ReliableMessageMgr.cpp
  src/protocols/secure_channel/CASESession.cpp
  src/transport/PeerConnections.h
  src/transport/SecureSessionMgr.cpp
  src/transport/SecureSessionMgr.h
Labels: transport, darwin, app, review - approved, technical review - DONE, SDK Approved

#9619 Add tests for CHIPMemString.
  src/lib/support/tests/BUILD.gn
  src/lib/support/tests/TestCHIPMemString.cpp
Labels: lib, review - approved, technical review - DONE, SDK Approved

#9583 linux: Filter ble/matter only
  src/platform/Linux/bluez/ChipDeviceScanner.cpp
Labels: platform, linux, review - approved, technical review - DONE, SDK Approved

#9269 Unauthenticated session
  src/app/server/RendezvousServer.cpp
  src/channel/ChannelContext.cpp
  src/controller/CHIPDevice.cpp
  src/controller/CHIPDeviceController.cpp
  src/lib/core/CHIPConfig.h
  src/lib/core/CHIPError.cpp
  src/lib/core/CHIPError.h
  src/lib/core/InPlace.h
  src/lib/support/Pool.h
  src/lib/support/ReferenceCountedHandle.h
  src/messaging/ApplicationExchangeDispatch.cpp
  src/messaging/ExchangeMessageDispatch.h
  src/messaging/ReliableMessageMgr.cpp
  src/messaging/tests/MessagingContext.cpp
  src/messaging/tests/MessagingContext.h
  src/messaging/tests/TestReliableMessageProtocol.cpp
  src/protocols/secure_channel/CASEServer.cpp
  src/protocols/secure_channel/CASESession.cpp
  src/protocols/secure_channel/PASESession.cpp
  src/protocols/secure_channel/SessionEstablishmentExchangeDispatch.cpp
  src/protocols/secure_channel/SessionEstablishmentExchangeDispatch.h
  src/protocols/secure_channel/tests/TestCASESession.cpp
  src/protocols/secure_channel/tests/TestPASESession.cpp
  src/transport/PeerMessageCounter.h
  src/transport/SecureSessionMgr.cpp
  src/transport/SecureSessionMgr.h
  src/transport/SessionHandle.h
  src/transport/UnauthenticatedSessionTable.h
  src/transport/tests/TestSecureSessionMgr.cpp
Labels: transport, platform, efr32, esp32, k32w, linux, lib, controller, app, review - approved, SDK Approved

#9689 Fix error copying artifacts for tizen platform (invalid app name)
  scripts/build/builders/tizen.py
Labels: hotfix, scripts

#9674 Add mDNS shutdown
  src/controller/CHIPDeviceController.cpp
  src/controller/tests/TestCommissionableNodeController.cpp
  src/lib/mdns/Discovery_ImplPlatform.h
  src/lib/mdns/MinimalMdnsServer.cpp
  src/lib/mdns/MinimalMdnsServer.h
  src/lib/mdns/Resolver.h
  src/lib/mdns/Resolver_ImplMinimalMdns.cpp
  src/lib/mdns/Resolver_ImplNone.cpp
  src/platform/Tizen/MdnsImpl.cpp
  src/platform/fake/MdnsImpl.cpp
Labels: hotfix, platform, lib, controller, review - pending

#9653 TLV Reader error handling test should not read uninitialized data.
  src/lib/core/tests/TestCHIPTLV.cpp
Labels: lib, review - approved

#9690 fix unknown argument: '-ffile-prefix-map' error by only build default target
  src/android/CHIPTool/app/build.gradle
Labels: android, review - approved

#9688 Rename messageId into messageCounter
  src/lib/core/CHIPError.cpp
  src/lib/core/CHIPError.h
  src/lib/core/tests/TestCHIPErrorStr.cpp
  src/lib/support/CHIPFaultInjection.cpp
  src/messaging/ExchangeMessageDispatch.cpp
  src/messaging/ExchangeMgr.cpp
  src/messaging/Flags.h
  src/messaging/ReliableMessageContext.cpp
  src/messaging/ReliableMessageContext.h
  src/messaging/ReliableMessageMgr.cpp
  src/messaging/ReliableMessageMgr.h
  src/messaging/tests/TestReliableMessageProtocol.cpp
  src/transport/SecureMessageCodec.cpp
  src/transport/SecureSession.cpp
  src/transport/SecureSessionMgr.cpp
  src/transport/SecureSessionMgr.h
  src/transport/raw/MessageHeader.cpp
  src/transport/raw/MessageHeader.h
  src/transport/raw/tests/TestMessageHeader.cpp
  src/transport/raw/tests/TestTCP.cpp
  src/transport/raw/tests/TestUDP.cpp
  src/transport/tests/TestSecureSessionMgr.cpp
Labels: examples, transport, lib, app, review - approved, technical review - DONE

#9347 Detect typos in Markdown documents (2nd attempt)
  .github/.wordlist.txt
  .github/workflows/spell.yml
  .spellcheck.yml
  docs/VSCODE_DEVELOPMENT.md
  docs/discussion/lwip_ipv6.md
  docs/guides/nrfconnect_examples_configuration.md
  docs/guides/nxp_k32w_android_commissioning.md
  docs/guides/python_chip_controller_advanced_usage.md
  docs/guides/python_chip_controller_building.md
  examples/all-clusters-app/esp32/README.md
  examples/chip-tool/README.md
  examples/lighting-app/efr32/README.md
  examples/lighting-app/nxp/linux-imx/imx8m/README.md
  examples/lighting-app/telink/Readme.md
  examples/lock-app/cc13x2x7_26x2x7/README.md
  examples/lock-app/efr32/README.md
  examples/lock-app/k32w/README.md
  examples/minimal-mdns/README.md
  examples/persistent-storage/efr32/README.md
  examples/pump-app/cc13x2x7_26x2x7/doc/programming-ccs.md
  examples/pump-controller-app/cc13x2x7_26x2x7/doc/programming-ccs.md
  examples/tv-casting-app/linux/README.md
  examples/window-app/efr32/README.md
  scripts/tools/memory/README.md
  src/README.md
  src/platform/Linux/README.md
  src/platform/README.md
  src/platform/Zephyr/README.md
  src/platform/qpg/README.md
  src/test_driver/esp32/README.md
  src/test_driver/linux-cirque/README.md
Labels: documentation, examples, scripts, platform, linux, zephyr, github, workflows, review - approved, SDK Approved

#9446 Add OTA Requestor Attributes to example apps
  examples/all-clusters-app/all-clusters-common/all-clusters-app.zap
  src/app/zap-templates/zcl/data-model/chip/chip-ota.xml
  src/app/zap_cluster_list.py
  src/controller/data_model/controller-clusters.zap
  src/controller/java/zap-generated/CHIPClusters-JNI.cpp
  src/controller/java/zap-generated/chip/devicecontroller/ChipClusters.java
  src/controller/python/chip/clusters/CHIPClusters.cpp
  src/controller/python/chip/clusters/CHIPClusters.py
  src/darwin/Framework/CHIP/templates/helper.js
  src/darwin/Framework/CHIP/zap-generated/CHIPClustersObjc.h
  src/darwin/Framework/CHIP/zap-generated/CHIPClustersObjc.mm
  src/darwin/Framework/CHIP/zap-generated/CHIPClustersObjc_internal.h
  src/darwin/Framework/CHIPTests/CHIPClustersTests.m
  zzz_generated/all-clusters-app/zap-generated/callback-stub.cpp
  zzz_generated/all-clusters-app/zap-generated/endpoint_config.h
  zzz_generated/all-clusters-app/zap-generated/gen_config.h
  zzz_generated/app-common/app-common/zap-generated/attribute-id.h
  zzz_generated/app-common/app-common/zap-generated/attributes/Accessors.cpp
  zzz_generated/app-common/app-common/zap-generated/attributes/Accessors.h
  zzz_generated/app-common/app-common/zap-generated/ids/Attributes.h
  zzz_generated/chip-tool/zap-generated/cluster/Commands.h
  zzz_generated/controller-clusters/zap-generated/CHIPClusters.cpp
  zzz_generated/controller-clusters/zap-generated/CHIPClusters.h
  zzz_generated/controller-clusters/zap-generated/callback-stub.cpp
  zzz_generated/controller-clusters/zap-generated/endpoint_config.h
  zzz_generated/controller-clusters/zap-generated/gen_config.h
Labels: examples, darwin, controller, app, review - approved, SDK Approved

#9573 Make platform PlatformManager::PostEvent() return status
  src/include/platform/PlatformManager.h
  src/include/platform/internal/GenericConfigurationManagerImpl.cpp
  src/include/platform/internal/GenericConnectivityManagerImpl_Thread.cpp
  src/include/platform/internal/GenericPlatformManagerImpl.cpp
  src/include/platform/internal/GenericPlatformManagerImpl_FreeRTOS.cpp
  src/include/platform/internal/GenericPlatformManagerImpl_FreeRTOS.h
  src/include/platform/internal/GenericPlatformManagerImpl_POSIX.cpp
  src/include/platform/internal/GenericPlatformManagerImpl_POSIX.h
  src/include/platform/internal/GenericPlatformManagerImpl_Zephyr.cpp
  src/include/platform/internal/GenericPlatformManagerImpl_Zephyr.h
  src/platform/Darwin/PlatformManagerImpl.cpp
  src/platform/Darwin/PlatformManagerImpl.h
  src/platform/DeviceControlServer.cpp
  src/platform/EFR32/BLEManagerImpl.cpp
  src/platform/ESP32/ConnectivityManagerImpl.cpp
  src/platform/ESP32/PlatformManagerImpl.cpp
  src/platform/ESP32/bluedroid/BLEManagerImpl.cpp
  src/platform/ESP32/nimble/BLEManagerImpl.cpp
  src/platform/K32W/BLEManagerImpl.cpp
  src/platform/Linux/BLEManagerImpl.cpp
  src/platform/Linux/ConnectivityManagerImpl.cpp
  src/platform/Linux/PlatformManagerImpl.cpp
  src/platform/Linux/ThreadStackManagerImpl.cpp
  src/platform/LwIPEventSupport.cpp
  src/platform/OpenThread/GenericThreadStackManagerImpl_OpenThread.cpp
  src/platform/OpenThread/GenericThreadStackManagerImpl_OpenThread_LwIP.cpp
  src/platform/P6/BLEManagerImpl.cpp
  src/platform/P6/ConnectivityManagerImpl.cpp
  src/platform/Zephyr/BLEManagerImpl.cpp
  src/platform/cc13x2_26x2/BLEManagerImpl.cpp
  src/platform/fake/PlatformManagerImpl.h
  src/platform/mbed/BLEManagerImpl.cpp
  src/platform/mbed/ConnectivityManagerImpl.cpp
  src/platform/mbed/PlatformManagerImpl.cpp
  src/platform/mbed/PlatformManagerImpl.h
  src/platform/qpg/BLEManagerImpl.cpp
Labels: platform, darwin, efr32, esp32, k32w, linux, zephyr, openthread, review - approved, SDK Approved

#9672 Remove redundant src/platform/ESP32/args.gni
  config/esp32/toolchain/BUILD.gn
  src/platform/ESP32/args.gni
Labels: platform, esp32, config, review - approved

#9697 Increase ESP32 build time to 10min instead of 5m
  .github/workflows/examples-esp32.yaml
Labels: hotfix, github, workflows

#9572 Adding cmd line args to tv-casting-app for device type of commissioners to be discovered
  examples/tv-casting-app/linux/main.cpp
Labels: examples, review - approved, SDK Approved

#9707 Fix compile error on TestPlatform.
  src/lib/mdns/platform/tests/TestPlatform.cpp
Labels: hotfix, lib, review - pending

#9635 [Telink]: Fix entropy source failed crash on boot
  src/platform/Zephyr/PlatformManagerImpl.cpp
  src/platform/telink/BUILD.gn
Labels: platform, nrf connect, zephyr, review - approved, telink, SDK Approved

#9692 TestUDP: use ephemeral port
  src/transport/raw/UDP.cpp
  src/transport/raw/UDP.h
  src/transport/raw/tests/TestUDP.cpp
Labels: transport, review - approved, technical review - DONE, SDK Approved

#9666 Add manifest to esp32 flashing script build
  examples/common/cmake/idf_flashing.cmake
  scripts/build/builders/esp32.py
Labels: examples, scripts, review - approved, technical review - DONE, SDK Approved

#9650 Rename OperationalCredentialsCluster.yaml so CI finds the test.
  examples/chip-tool/templates/tests-commands.zapt
  src/app/tests/suites/TestOperationalCredentialsCluster.yaml
  src/darwin/Framework/CHIP/templates/clusters-tests.zapt
  src/darwin/Framework/CHIPTests/CHIPClustersTests.m
  zzz_generated/chip-tool/zap-generated/test/Commands.h
Labels: examples, darwin, app, review - approved, SDK Approved

#9616 Eliminate Use of Certificate Arrays
  src/app/clusters/operational-credentials-server/operational-credentials-server.cpp
  src/app/zap-templates/zcl/data-model/chip/operational-credentials-cluster.xml
  src/controller/CHIPDevice.cpp
  src/controller/CHIPDevice.h
  src/controller/CHIPDeviceController.cpp
  src/controller/CHIPDeviceController.h
  src/controller/java/zap-generated/CHIPClusters-JNI.cpp
  src/controller/java/zap-generated/chip/devicecontroller/ChipClusters.java
  src/controller/python/chip/clusters/CHIPClusters.cpp
  src/controller/python/chip/clusters/CHIPClusters.py
  src/credentials/CHIPCert.cpp
  src/credentials/CHIPCert.h
  src/credentials/CHIPCertFromX509.cpp
  src/credentials/CHIPCertToX509.cpp
  src/credentials/tests/TestChipCert.cpp
  src/darwin/Framework/CHIP/zap-generated/CHIPClustersObjc.h
  src/darwin/Framework/CHIP/zap-generated/CHIPClustersObjc.mm
  src/protocols/secure_channel/CASESession.cpp
  src/protocols/secure_channel/CASESession.h
  src/protocols/secure_channel/tests/TestCASESession.cpp
  src/transport/FabricTable.cpp
  src/transport/FabricTable.h
  src/transport/tests/TestFabricTable.cpp
  zzz_generated/all-clusters-app/zap-generated/IMClusterCommandHandler.cpp
  zzz_generated/app-common/app-common/zap-generated/callback.h
  zzz_generated/app-common/app-common/zap-generated/client-command-macro.h
  zzz_generated/bridge-app/zap-generated/IMClusterCommandHandler.cpp
  zzz_generated/chip-tool/zap-generated/cluster/Commands.h
  zzz_generated/controller-clusters/zap-generated/CHIPClusters.cpp
  zzz_generated/controller-clusters/zap-generated/CHIPClusters.h
  zzz_generated/lighting-app/zap-generated/IMClusterCommandHandler.cpp
  zzz_generated/lock-app/zap-generated/IMClusterCommandHandler.cpp
  zzz_generated/ota-provider-app/zap-generated/IMClusterCommandHandler.cpp
  zzz_generated/pump-app/zap-generated/IMClusterCommandHandler.cpp
  zzz_generated/pump-controller-app/zap-generated/IMClusterCommandHandler.cpp
  zzz_generated/temperature-measurement-app/zap-generated/IMClusterCommandHandler.cpp
  zzz_generated/thermostat/zap-generated/IMClusterCommandHandler.cpp
  zzz_generated/tv-app/zap-generated/CHIPClusters.cpp
  zzz_generated/tv-app/zap-generated/CHIPClusters.h
  zzz_generated/tv-app/zap-generated/IMClusterCommandHandler.cpp
  zzz_generated/tv-casting-app/zap-generated/IMClusterCommandHandler.cpp
  zzz_generated/window-app/zap-generated/IMClusterCommandHandler.cpp
Labels: transport, darwin, controller, app, review - approved, SDK Approved

#9474 ota-requestor-app - initial set of changes of development branch
  examples/ota-requestor-app/linux/.gn
  examples/ota-requestor-app/linux/BUILD.gn
  examples/ota-requestor-app/linux/PersistentStorage.cpp
  examples/ota-requestor-app/linux/PersistentStorage.h
  examples/ota-requestor-app/linux/README.md
  examples/ota-requestor-app/linux/args.gni
  examples/ota-requestor-app/linux/build_overrides
  examples/ota-requestor-app/linux/main.cpp
  examples/ota-requestor-app/linux/third_party/connectedhomeip
  examples/ota-requestor-app/ota-requestor-common/BDXDownloader.cpp
  examples/ota-requestor-app/ota-requestor-common/BDXDownloader.h
  examples/ota-requestor-app/ota-requestor-common/BUILD.gn
  examples/ota-requestor-app/ota-requestor-common/ota-requestor-app.zap
  zzz_generated/ota-requestor-app/zap-generated/CHIPClientCallbacks.cpp
  zzz_generated/ota-requestor-app/zap-generated/CHIPClientCallbacks.h
  zzz_generated/ota-requestor-app/zap-generated/CHIPClusters.cpp
  zzz_generated/ota-requestor-app/zap-generated/CHIPClusters.h
  zzz_generated/ota-requestor-app/zap-generated/IMClusterCommandHandler.cpp
  zzz_generated/ota-requestor-app/zap-generated/af-gen-event.h
  zzz_generated/ota-requestor-app/zap-generated/attribute-size.cpp
  zzz_generated/ota-requestor-app/zap-generated/callback-stub.cpp
  zzz_generated/ota-requestor-app/zap-generated/endpoint_config.h
  zzz_generated/ota-requestor-app/zap-generated/gen_config.h
  zzz_generated/ota-requestor-app/zap-generated/gen_tokens.h
Labels: examples, review - approved

#9683 [Zephyr] Erase key-value store on factory reset
  src/include/platform/CHIPDeviceLayer.h
  src/platform/Zephyr/ConfigurationManagerImpl.cpp
  src/platform/Zephyr/KeyValueStoreManagerImpl.cpp
  src/platform/Zephyr/KeyValueStoreManagerImpl.h
  src/platform/Zephyr/ZephyrConfig.cpp
  src/platform/nrfconnect/CHIPDevicePlatformConfig.h
  src/platform/telink/CHIPDevicePlatformConfig.h
  src/platform/tests/TestKeyValueStoreMgr.cpp
Labels: platform, nrf connect, zephyr, review - approved, technical review - DONE, telink, SDK Approved

#9718 [hotfix] Rerun codegen after #9474
  zzz_generated/ota-requestor-app/zap-generated/CHIPClientCallbacks.cpp
  zzz_generated/ota-requestor-app/zap-generated/CHIPClusters.cpp
  zzz_generated/ota-requestor-app/zap-generated/endpoint_config.h
Labels: hotfix, review - pending

#9671 Sync sdkconfig_m5stack.defaults from sdkconfig.defaults
  examples/all-clusters-app/esp32/sdkconfig_m5stack.defaults
Labels: examples, review - approved, technical review - DONE, SDK Approved

#9696 Ignore on-network flag for QR commissioning.
  src/controller/python/chip-device-ctrl.py
Labels: controller, review - approved, technical review - DONE, SDK Approved

#9720 Fix sleep signature (Add extern "C")
  examples/shell/efr32/src/main.cpp
  examples/shell/k32w/main/main.cpp
Labels: examples, review - approved, technical review - DONE

#9719 [nrfconnect] Configure data model sources based on ZAP file
  examples/lighting-app/nrfconnect/CMakeLists.txt
  examples/lock-app/nrfconnect/CMakeLists.txt
  examples/pump-app/nrfconnect/CMakeLists.txt
  examples/pump-controller-app/nrfconnect/CMakeLists.txt
  src/app/chip_data_model.cmake
Labels: examples, app, review - approved, SDK Approved

#9708 Use the primary Ethernet interface diagnostically for Ethernet diagnostic cluster
  src/include/platform/CHIPDeviceConfig.h
  src/platform/Linux/ConnectivityManagerImpl.cpp
Labels: platform, linux, review - approved, technical review - DONE, SDK Approved

#9727 Move Ethernet Diagnostic APIs to GenericConnectivityManagerImpl
  src/include/platform/internal/GenericConnectivityManagerImpl.h
  src/include/platform/internal/GenericConnectivityManagerImpl_NoWiFi.h
  src/include/platform/internal/GenericConnectivityManagerImpl_WiFi.h
Labels: review - approved, SDK Approved

#9709 Move RendezvousServer and CommissionManager to a single class
  examples/all-clusters-app/esp32/main/main.cpp
  examples/lighting-app/k32w/main/AppTask.cpp
  examples/lighting-app/mbed/CMakeLists.txt
  examples/lighting-app/nrfconnect/main/AppTask.cpp
  examples/lighting-app/qpg/src/AppTask.cpp
  examples/lighting-app/telink/CMakeLists.txt
  examples/lock-app/cc13x2x7_26x2x7/main/AppTask.cpp
  examples/lock-app/k32w/main/AppTask.cpp
  examples/lock-app/mbed/CMakeLists.txt
  examples/lock-app/nrfconnect/main/AppTask.cpp
  examples/lock-app/qpg/src/AppTask.cpp
  examples/pump-app/cc13x2x7_26x2x7/main/AppTask.cpp
  examples/pump-app/nrfconnect/main/AppTask.cpp
  examples/pump-controller-app/cc13x2x7_26x2x7/main/AppTask.cpp
  examples/pump-controller-app/nrfconnect/main/AppTask.cpp
  examples/tv-casting-app/linux/main.cpp
  src/app/chip_data_model.cmake
  src/app/clusters/administrator-commissioning-server/administrator-commissioning-server.cpp
  src/app/server/BUILD.gn
  src/app/server/CommissionManager.cpp
  src/app/server/CommissioningWindowManager.cpp
  src/app/server/CommissioningWindowManager.h
  src/app/server/RendezvousServer.cpp
  src/app/server/RendezvousServer.h
  src/app/server/Server.cpp
  src/app/server/Server.h
  src/app/tests/TestCommissionManager.cpp
  src/controller/CHIPDeviceController.cpp
  src/controller/CHIPDeviceController.h
  src/protocols/secure_channel/RendezvousParameters.h
Labels: examples, controller, app, review - approved, SDK Approved

#9603 Making py chip-device-ctrl discoverable over DNS-SD as a commissioner
  src/controller/python/ChipDeviceController-ScriptBinding.cpp
Labels: examples, controller, app, review - approved, SDK Approved

#9554 [YAML] Generates write attribute methods for non writeable attributes
  examples/chip-tool/commands/tests/TestCommand.h
  examples/chip-tool/templates/partials/test_cluster.zapt
  scripts/tools/zap_regen_all.py
  src/app/chip_data_model.gni
  src/app/tests/suites/certification/Test_TC_BI_1_1.yaml
  src/app/tests/suites/certification/Test_TC_OO_1_1.yaml
  src/app/tests/suites/certification/Test_TC_WNCV_1_1.yaml
  src/app/tests/suites/templates/templates.json
  src/app/zap-templates/templates/app/tests/CHIPClusters-src.zapt
  src/app/zap-templates/templates/app/tests/CHIPClusters.zapt
  src/controller/data_model/BUILD.gn
  src/darwin/Framework/CHIP.xcodeproj/project.pbxproj
  src/darwin/Framework/CHIP/templates/CHIPTestClustersObjc-src.zapt
  src/darwin/Framework/CHIP/templates/CHIPTestClustersObjc.zapt
  src/darwin/Framework/CHIP/templates/clusters-tests.zapt
  src/darwin/Framework/CHIP/templates/partials/test_cluster.zapt
  src/darwin/Framework/CHIP/templates/templates.json
  src/darwin/Framework/CHIP/zap-generated/CHIPTestClustersObjc.h
  src/darwin/Framework/CHIP/zap-generated/CHIPTestClustersObjc.mm
  src/darwin/Framework/CHIPTests/CHIPClustersTests.m
  zzz_generated/chip-tool/zap-generated/test/Commands.h
  zzz_generated/controller-clusters/zap-generated/tests/CHIPClusters.cpp
  zzz_generated/controller-clusters/zap-generated/tests/CHIPClusters.h
Labels: examples, scripts, darwin, controller, app, review - approved, has conflicts, technical review - DONE

#9677 [im/test] Fix interaction model subscription test
  examples/chip-tool/templates/partials/process_response_value.zapt
  examples/chip-tool/templates/partials/test_cluster.zapt
  examples/chip-tool/templates/partials/testsuite/WaitForAttributeReport.zapt
  examples/chip-tool/templates/partials/testsuite/WaitForMs.zapt
  examples/chip-tool/templates/templates.json
  src/app/tests/suites/TestDelayCommands.yaml
  src/app/tests/suites/TestSubscribe_OnOff.yaml
  src/app/zap-templates/common/ClusterTestGeneration.js
  src/app/zap-templates/common/simulated-clusters/TestDelayCommands.js
  src/app/zap-templates/templates/app/helper.js
  src/darwin/Framework/CHIP/templates/partials/process_response_value.zapt
  src/darwin/Framework/CHIP/templates/partials/test_cluster.zapt
  src/darwin/Framework/CHIP/templates/partials/testsuite/WaitForMs.zapt
  src/darwin/Framework/CHIP/templates/templates.json
  src/darwin/Framework/CHIPTests/CHIPClustersTests.m
  zzz_generated/chip-tool/zap-generated/test/Commands.h
Labels: examples, darwin, app, review - approved, SDK Approved

#9648 Enable act tool for running CI jobs locally
  .github/workflows/android.yaml
  .github/workflows/build.yaml
  .github/workflows/cirque.yaml
  .github/workflows/darwin.yaml
  .github/workflows/examples-efr32.yaml
  .github/workflows/examples-esp32.yaml
  .github/workflows/examples-infineon.yaml
  .github/workflows/examples-k32w.yaml
  .github/workflows/examples-linux-standalone.yaml
  .github/workflows/examples-mbed.yaml
  .github/workflows/examples-nrfconnect.yaml
  .github/workflows/examples-qpg.yaml
  .github/workflows/qemu.yaml
  .github/workflows/release_artifacts.yaml
  .github/workflows/tests.yaml
  .github/workflows/unit_integration_test.yaml
Labels: github, workflows, review - approved, SDK Approved

#9746 [hotfix] Rerun Codegen for #9677
  src/darwin/Framework/CHIPTests/CHIPClustersTests.m
  zzz_generated/chip-tool/zap-generated/test/Commands.h
Labels: hotfix, darwin, review - pending

#9714 Rename messageId into messageCounter
  src/lib/core/CHIPError.cpp
  src/lib/core/CHIPError.h
  src/messaging/ReliableMessageContext.cpp
  src/messaging/ReliableMessageMgr.h
  src/transport/PeerMessageCounter.h
Labels: transport, lib, review - approved, SDK Approved

#9739 [Darwin]:Enable heap based pool configuration
  src/platform/Darwin/SystemPlatformConfig.h
Labels: platform, darwin, review - approved, SDK Approved

#9711 Turned On Wconversion for ASN1 Library and Coding Style Updates.
  src/credentials/CHIPCert.cpp
  src/credentials/CHIPCert.h
  src/credentials/CHIPCertToX509.cpp
  src/credentials/GenerateChipX509Cert.cpp
  src/lib/asn1/ASN1.h
  src/lib/asn1/ASN1OID.cpp
  src/lib/asn1/ASN1Reader.cpp
  src/lib/asn1/ASN1Writer.cpp
  src/lib/asn1/BUILD.gn
Labels: lib, review - approved, SDK Approved

#9724 Python controller do not exit when resolve command fails
  src/controller/python/chip/ChipDeviceCtrl.py
Labels: controller, review - approved, SDK Approved

#9751 [crypto] Fix Spake2p memory leak
  src/app/server/CommissioningWindowManager.cpp
  src/crypto/CHIPCryptoPAL.cpp
  src/crypto/CHIPCryptoPAL.h
  src/crypto/CHIPCryptoPALOpenSSL.cpp
  src/crypto/CHIPCryptoPALmbedTLS.cpp
  src/crypto/tests/CHIPCryptoPALTest.cpp
  src/protocols/secure_channel/PASESession.cpp
  src/test_driver/nrfconnect/CMakeLists.txt
  src/test_driver/nrfconnect/main/include/app_mbedtls_config.h
Labels: crypto, app, review - approved, SDK Approved

#9750 Fix file not found error in ManuelTest
  src/test_driver/linux-cirque/ManualTest.py
Labels: review - approved, SDK Approved

#9744 Fix ToT failure on avahi
  src/platform/Linux/MdnsImpl.cpp
Labels: restyled-ignore, platform, linux, SDK Approved

#9706 Add IM status response support and replace status report with status response for IM read/subscribe
  src/app/BUILD.gn
  src/app/MessageDef/StatusResponse.cpp
  src/app/MessageDef/StatusResponse.h
  src/app/ReadClient.cpp
  src/app/ReadClient.h
  src/app/ReadHandler.cpp
  src/app/ReadHandler.h
  src/app/tests/BUILD.gn
  src/app/tests/TestStatusResponse.cpp
  src/protocols/interaction_model/Constants.h
Labels: controller, app, review - approved, SDK Approved

#9761 Fix misspelling CI job
  .github/.wordlist.txt
Labels: hotfix, github, review - pending

#9469 Support for multi-endpoint for the color control server
  src/app/clusters/color-control-server/color-control-server.cpp
  src/app/clusters/color-control-server/color-control-server.h
  src/app/util/af-event.cpp
  src/app/util/types_stub.h
  zzz_generated/all-clusters-app/zap-generated/af-gen-event.h
  zzz_generated/lighting-app/zap-generated/af-gen-event.h
Labels: examples, app, review - approved, SDK Approved

#9704 Lock concurrent access to mWpaSupplicant
  src/platform/Linux/ConnectivityManagerImpl.cpp
  src/platform/Linux/ConnectivityManagerImpl.h
Labels: platform, linux, review - approved, SDK Approved

#9455 Rotating device id representation in TLV Additional Data needs to be aligned with the spec
  examples/chip-tool/commands/payload/AdditionalDataParseCommand.cpp
  src/app/server/Mdns.cpp
  src/setup_payload/AdditionalDataPayloadGenerator.cpp
  src/setup_payload/AdditionalDataPayloadGenerator.h
  src/setup_payload/AdditionalDataPayloadParser.cpp
  src/setup_payload/AdditionalDataPayloadParser.h
  src/setup_payload/tests/BUILD.gn
  src/setup_payload/tests/TestAdditionalDataPayload.cpp
Labels: examples, setup payload, app, review - changed requested, SDK Approved

#9713 Make CRI/CRA txt fields optional and move to base.
  src/app/server/Mdns.cpp
  src/lib/mdns/Advertiser.h
  src/lib/mdns/Advertiser_ImplMinimalMdns.cpp
  src/lib/mdns/Discovery_ImplPlatform.cpp
  src/lib/mdns/minimal/tests/TestAdvertiser.cpp
  src/lib/mdns/platform/tests/TestPlatform.cpp
Labels: lib, app, review - approved, SDK Approved

#9667 Add a way to run custom cluster logic for attribute reads
  examples/bridge-app/esp32/main/CMakeLists.txt
  examples/lighting-app/linux/main.cpp
  examples/lock-app/esp32/main/CMakeLists.txt
  examples/lock-app/mbed/CMakeLists.txt
  examples/temperature-measurement-app/esp32/main/CMakeLists.txt
  src/app/AttributeAccessInterface.h
  src/app/clusters/ethernet_network_diagnostics_server/ethernet_network_diagnostics_server.cpp
  src/app/util/attribute-storage.cpp
  src/app/util/attribute-storage.h
  src/app/util/ember-compatibility-functions.cpp
  src/app/zap-templates/templates/app/helper.js
  src/platform/mbed/ConnectivityManagerImpl.h
  zzz_generated/all-clusters-app/zap-generated/endpoint_config.h
  zzz_generated/bridge-app/zap-generated/endpoint_config.h
  zzz_generated/lighting-app/zap-generated/endpoint_config.h
  zzz_generated/lock-app/zap-generated/endpoint_config.h
  zzz_generated/pump-app/zap-generated/endpoint_config.h
  zzz_generated/pump-controller-app/zap-generated/endpoint_config.h
  zzz_generated/temperature-measurement-app/zap-generated/endpoint_config.h
  zzz_generated/thermostat/zap-generated/endpoint_config.h
  zzz_generated/tv-app/zap-generated/endpoint_config.h
  zzz_generated/tv-casting-app/zap-generated/endpoint_config.h
  zzz_generated/window-app/zap-generated/endpoint_config.h
Labels: examples, platform, app, review - approved, SDK Approved

#9782 [bluez] Remove filtering by service UUID
  src/platform/Linux/bluez/ChipDeviceScanner.cpp
Labels: platform, linux, Blocker, review - approved

#9778 [cirque] Add test for testing discovery
  src/controller/python/test/test_scripts/base.py
  src/controller/python/test/test_scripts/mobile-device-test.py
Labels: controller, review - approved, technical review - DONE

#9729 [Android] Stop using destroyed fragment in pairing complete callback
  src/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/provisioning/DeviceProvisioningFragment.kt
Labels: android, review - approved, SDK Approved

#9755 Print mrp and tcp values in python discover.
  src/controller/python/ChipCommissionableNodeController-ScriptBinding.cpp
  src/controller/python/ChipDeviceController-ScriptBinding.cpp
Labels: controller, review - approved, SDK Approved

#9776 fix to avoid looping indefinitely when moving to finalValue when equal to current value
  src/app/clusters/color-control-server/color-control-server.cpp
Labels: app, review - approved

#9678 SystemLayer::PostEvent add API to post a lambda event
  src/include/platform/CHIPDeviceEvent.h
  src/include/platform/internal/GenericPlatformManagerImpl.cpp
  src/lib/core/CHIPConfig.h
  src/platform/LwIPEventSupport.cpp
  src/system/LwIPEventSupport.h
  src/system/SystemEvent.h
  src/system/SystemLayer.h
  src/system/SystemLayerImplLwIP.cpp
  src/system/SystemLayerImplLwIP.h
  src/system/SystemObject.cpp
Labels: system, platform, lib, review - approved, SDK Approved

#9754 Add _I subtype to operational discovery.
  examples/chip-tool/commands/discover/DiscoverCommissionablesCommand.cpp
  examples/platform/linux/ControllerShellCommands.cpp
  src/controller/python/ChipDeviceController-ScriptBinding.cpp
  src/lib/mdns/Advertiser.h
  src/lib/mdns/Advertiser_ImplMinimalMdns.cpp
  src/lib/mdns/Discovery_ImplPlatform.cpp
  src/lib/mdns/Resolver.h
  src/lib/mdns/ServiceNaming.cpp
  src/lib/mdns/ServiceNaming.h
  src/lib/mdns/minimal/tests/CheckOnlyServer.h
  src/lib/mdns/minimal/tests/TestAdvertiser.cpp
  src/lib/mdns/platform/tests/TestPlatform.cpp
  src/lib/mdns/tests/TestServiceNaming.cpp
  src/lib/support/BytesToHex.cpp
  src/lib/support/BytesToHex.h
  src/lib/support/tests/TestBytesToHex.cpp
Labels: examples, lib, controller, review - approved, SDK Approved

#9764 Close commissioning window after 20 failed commissioning attempts
  src/app/server/CommissioningWindowManager.cpp
  src/app/server/CommissioningWindowManager.h
Labels: app, review - approved

#9759 Add some certification tests to CI
  examples/chip-tool/templates/tests-commands.zapt
  src/app/tests/suites/certification/Test_TC_CC_1_1.yaml
  src/app/tests/suites/certification/Test_TC_LVL_1_1.yaml
  src/app/tests/suites/certification/Test_TC_MC_1_1.yaml
  src/app/tests/suites/certification/Test_TC_PCC_1_1.yaml
  src/app/tests/suites/certification/Test_TC_RH_1_1.yaml
  src/app/tests/suites/certification/Test_TC_TSTAT_1_1.yaml
  src/app/tests/suites/certification/Test_TC_TSUIC_1_1.yaml
  src/darwin/Framework/CHIP/templates/clusters-tests.zapt
  zzz_generated/chip-tool/zap-generated/test/Commands.h
Labels: examples, darwin, app, review - approved
