Repository project-chip/connectedhomeip, pull requests merged in 2021-02, with the labels that each got.

#4559 [nrfconnect] Updated samples docs and user guides.
  docs/guides/nrfconnect_android_commissioning.md
  docs/images/CHIPTool_device_commissioned.JPG
  examples/lighting-app/nrfconnect/README.md
  examples/lock-app/nrfconnect/README.md
Labels: documentation, examples

#4568 Open BLE advertisement only for the duration of pairing
  src/app/server/Server.cpp
  src/controller/CHIPDeviceController.cpp
  src/controller/CHIPDeviceController.h
  src/transport/RendezvousParameters.h
  src/transport/RendezvousSession.cpp
Labels: app, controller, transport

#4555 Convenience class for BufBound backed by a PacketBuffer.
  src/app/encoder.cpp
  src/app/zap-templates/templates/chip/encoder-src.zapt
  src/lib/support/BufBound.h
  src/protocols/bdx/tests/TestBdxMessages.cpp
  src/system/SystemPacketBuffer.cpp
  src/system/SystemPacketBuffer.h
  src/system/tests/TestSystemPacketBuffer.cpp
  src/transport/NetworkProvisioning.cpp
  src/transport/PASESession.cpp
Labels: V0.7, app, lib, system, transport

#4444 Bugfix/spake2p calc tt value fix
  src/crypto/CHIPCryptoPAL.cpp
  src/crypto/CHIPCryptoPAL.h
  src/crypto/tests/CHIPCryptoPALTest.cpp
  src/crypto/tests/SPAKE2P_RFC_test_vectors.h
  src/transport/PASESession.cpp
Labels: crypto, examples, transport

#4498 Align NFC URI format in Android CHIP Tool and nrfconnect firmware to the iOS.
  examples/lighting-app/nrfconnect/main/AppTask.cpp
  examples/lock-app/nrfconnect/main/AppTask.cpp
  src/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/CHIPToolActivity.kt
Labels: android, examples

#4605 Fix some conversion warnings when compiling some src/app files into e…
  examples/all-clusters-app/all-clusters-common/BUILD.gn
  examples/all-clusters-app/all-clusters-common/gen/call-command-handler.cpp
  examples/all-clusters-app/all-clusters-common/gen/callback-stub.cpp
  examples/all-clusters-app/all-clusters-common/gen/callback.h
  examples/bridge-app/bridge-common/gen/call-command-handler.cpp
  examples/bridge-app/bridge-common/gen/callback-stub.cpp
  examples/bridge-app/bridge-common/gen/callback.h
  examples/lighting-app/lighting-common/gen/call-command-handler.cpp
  examples/lighting-app/lighting-common/gen/callback-stub.cpp
  examples/lighting-app/lighting-common/gen/callback.h
  examples/lock-app/lock-common/gen/callback-stub.cpp
  examples/lock-app/lock-common/gen/callback.h
  examples/temperature-measurement-app/esp32/main/gen/callback-stub.cpp
  examples/temperature-measurement-app/esp32/main/gen/callback.h
  src/app/reporting/reporting.cpp
  src/app/util/af-event.cpp
  src/app/util/client-api.cpp
  src/app/util/message.cpp
  src/app/zap-templates/common/ChipTypesHelper.js
  src/app/zap-templates/partials/command_handler_cluster_commands.zapt
  src/app/zap-templates/templates/app/callback-stub-src.zapt
  src/app/zap-templates/templates/app/callback.zapt
  src/app/zap-templates/templates/app/helper.js
Labels: app, examples

#4590 Update chip-tool listening port to be 'CHIP_PORT + 1' instead of CHIP…
  examples/chip-tool/config/PersistentStorage.cpp
Labels: examples

#4593 Use enum class to define protocols message type for strong typing
  src/app/BUILD.gn
  src/app/Command.h
  src/app/CommandHandler.cpp
  src/app/CommandHandler.h
  src/app/CommandSender.cpp
  src/app/CommandSender.h
  src/app/InteractionModelEngine.cpp
  src/app/InteractionModelEngine.h
  src/app/MessageDef/MessageDef.h
  src/app/clusters/on-off-server/on-off-im.cpp
  src/app/im-handler.h
  src/app/tests/TestMessageDef.cpp
  src/app/zap-templates/templates/chip/im-handler-h.zapt
  src/messaging/ExchangeContext.cpp
  src/messaging/ExchangeDelegate.h
  src/messaging/ExchangeMgr.cpp
  src/messaging/ExchangeMgr.h
  src/messaging/tests/TestExchangeMgr.cpp
  src/messaging/tests/TestReliableMessageProtocol.cpp
  src/protocols/echo/Echo.h
  src/protocols/echo/EchoClient.cpp
  src/protocols/echo/EchoServer.cpp
  src/protocols/interaction_model/Constants.h
  src/transport/tests/TestSecureSessionMgr.cpp
Labels: app, transport

#4596 Fix Interaction Model end-to-end testing failure
  src/app/CommandSender.cpp
  src/app/tests/integration/chip_im_initiator.cpp
  src/app/tests/integration/chip_im_responder.cpp
Labels: app

#4595 Release transport once rendezvous process is complete
  src/transport/RendezvousSession.cpp
Labels: transport

#4587 Add a script to install required packages on raspberry pi.
  scripts/setup/install_packages.sh
  scripts/setup/raspberry_pi/setup_ubuntu_20_04_lts.sh
Labels: scripts

#4569 Add flashing bundles (tar.xz files) to releases
  .github/workflows/release_artifacts.yaml
  build/toolchain/flashable_executable.gni
  examples/all-clusters-app/esp32/Makefile
  scripts/helpers/upload_release_asset.py
Labels: examples, github, scripts, workflows

#4591 Send current IP address during network provisioning
  src/transport/NetworkProvisioning.cpp
  src/transport/NetworkProvisioning.h
Labels: transport

#4617 Add missing $ for github checkout for release actions
  .github/workflows/release_artifacts.yaml
Labels: github, hotfix, workflows

#4576 [build] fix chip_detail_logging=false (#4575)
  src/app/InteractionModelEngine.cpp
  src/platform/Linux/CHIPBluezHelper.cpp
Labels: app, linux, platform

#4597 Enable pairing window only when needed
  examples/all-clusters-app/esp32/main/main.cpp
  src/app/server/Server.cpp
  src/app/server/Server.h
Labels: app, examples

#4585 [interaction model] Remove map in InteractionModelEngine
  examples/lighting-app/lighting-common/BUILD.gn
  examples/lighting-app/linux/main.cpp
  src/app/BUILD.gn
  src/app/CommandHandler.cpp
  src/app/CommandSender.cpp
  src/app/InteractionModelEngine.cpp
  src/app/InteractionModelEngine.h
  src/app/clusters/on-off-server/on-off-im.cpp
  src/app/im-handler.cpp
  src/app/im-handler.h
  src/app/tests/integration/chip_im_initiator.cpp
  src/app/tests/integration/chip_im_responder.cpp
  src/app/tests/integration/common.h
  src/app/zap-templates/chip-templates.json
  src/app/zap-templates/templates/chip/im-handler-h.zapt
  src/app/zap-templates/templates/chip/im-handler-src.zapt
Labels: app, examples, memory, p1

#4388 Optimize TransportMgrBase::HandleMessageReceived, reduce void* usage
  src/transport/BUILD.gn
  src/transport/TransportMgr.h
  src/transport/TransportMgrBase.cpp
  src/transport/TransportMgrBase.h
  src/transport/raw/Base.h
  src/transport/raw/Tuple.h
  src/transport/raw/tests/BUILD.gn
  src/transport/raw/tests/TestTCP.cpp
  src/transport/raw/tests/TestUDP.cpp
Labels: memory, transport

#4618 Need To Replace kTLVType_Path With kTLVType_List Everywhere in the Code Fixes #4309
  src/app/MessageDef/AttributeDataElement.cpp
  src/app/MessageDef/AttributePath.cpp
  src/app/MessageDef/AttributePathList.cpp
  src/app/MessageDef/AttributeStatusElement.cpp
  src/app/MessageDef/CommandDataElement.cpp
  src/app/MessageDef/CommandPath.cpp
  src/app/MessageDef/EventDataElement.cpp
  src/app/MessageDef/EventPath.cpp
  src/app/MessageDef/EventPathList.cpp
  src/credentials/CHIPCertFromX509.cpp
  src/credentials/CHIPCertToX509.cpp
  src/lib/core/CHIPTLV.h
  src/lib/core/CHIPTLVDebug.cpp
  src/lib/core/CHIPTLVReader.cpp
  src/lib/core/CHIPTLVTypes.h
  src/lib/core/CHIPTLVWriter.cpp
  src/lib/core/tests/TestCHIPTLV.cpp
Labels: app, lib

#4564 Add UI to dynamically change number of onOff endpoints/cluster and adopt CHIPFramework API to control different lights/endpoints
  src/darwin/CHIPTool/CHIPTool/View Controllers/OnOffCluster/OnOffViewController.h
  src/darwin/CHIPTool/CHIPTool/View Controllers/OnOffCluster/OnOffViewController.m
Labels: darwin

#4572 Add cc13x2_26x2 build to unified build
  build_overrides/freertos.gni
  build_overrides/ti_simplelink_sdk.gni
  config/cc13x2_26x2/toolchain/BUILD.gn
  src/platform/cc13x2_26x2/args.gni
  third_party/ti_simplelink_sdk/ti_simplelink_sdk.gni
Labels: config, platform

#4604 Update ZCL reporting code to be compatible with a client ZAP application
  examples/all-clusters-app/all-clusters-common/gen/callback-stub.cpp
  examples/all-clusters-app/all-clusters-common/gen/callback.h
  examples/bridge-app/bridge-common/gen/callback-stub.cpp
  examples/bridge-app/bridge-common/gen/callback.h
  examples/lighting-app/lighting-common/gen/callback-stub.cpp
  examples/lighting-app/lighting-common/gen/callback.h
  examples/lock-app/lock-common/gen/callback-stub.cpp
  examples/lock-app/lock-common/gen/callback.h
  examples/temperature-measurement-app/esp32/main/gen/callback-stub.cpp
  examples/temperature-measurement-app/esp32/main/gen/callback.h
  src/app/reporting/reporting.cpp
  src/app/reporting/reporting.h
  src/app/server/DataModelHandler.cpp
  src/app/server/DataModelHandler.h
  src/app/server/Server.cpp
  src/app/zap-templates/templates/app/callback-stub-src.zapt
  src/app/zap-templates/templates/app/callback.zapt
Labels: app, examples, p1, zap

#4633 Fix unbounded stack in emberAfPrintBuffer()
  src/app/util/ember-print.cpp
Labels: app, p1, security

#4615 Typo fixes for #4111
  src/lib/mdns/Discovery_ImplPlatform.cpp
  src/lib/mdns/platform/Mdns.h
  src/platform/ESP32/MdnsImpl.cpp
  src/platform/Linux/MdnsImpl.cpp
  src/platform/tests/TestMdns.cpp
Labels: esp32, lib, linux, platform

#4646 [tools] update west to 0.9.0
  scripts/requirements.in
  scripts/requirements.txt
Labels: nrf connect, scripts

#4584 minor documentation fix
  examples/lock-app/k32w/README.md
  third_party/k32w_sdk/mr2_fixes/patch_k32w_mr2_sdk.sh
Labels: examples

#4648 [nrfconnect] revert adding -Werror flag
  examples/lighting-app/nrfconnect/CMakeLists.txt
  examples/lock-app/nrfconnect/CMakeLists.txt
  examples/pigweed-app/nrfconnect/CMakeLists.txt
  examples/shell/nrfconnect/CMakeLists.txt
Labels: build issue, examples, nrf connect

#4642 Update chip-build docker image
  integrations/docker/images/chip-build/Dockerfile
  integrations/docker/images/chip-build/version
Labels: github, integrations, vscode, workflows

#4643 Load secure session parameters before sending message to the device
  src/controller/CHIPDevice.cpp
  src/controller/CHIPDevice.h
Labels: controller

#4639 Fix overflow issues in PacketBufferHandle allocation
  src/system/SystemPacketBuffer.cpp
Labels: app, config, examples, system

#4657 Update our workflows to the new latest docker builds as well fix nRF builds
  .devcontainer/devcontainer.json
  .github/workflows/android.yaml
  .github/workflows/bloat_check.yaml
  .github/workflows/build.yaml
  .github/workflows/examples-efr32.yaml
  .github/workflows/examples-esp32.yaml
  .github/workflows/examples-linux-standalone.yaml
  .github/workflows/examples-nrfconnect.yaml
  .github/workflows/examples-qpg6100.yaml
  .github/workflows/qemu.yaml
  .github/workflows/release_artifacts.yaml
  .github/workflows/unit_integration_test.yaml
  examples/bridge-app/linux/Dockerfile
  examples/chip-tool/Dockerfile
  examples/lighting-app/linux/Dockerfile
  integrations/docker/images/chip-build-nrf-platform/Dockerfile
  integrations/docker/images/chip-cirque-device-base/build.sh
  integrations/docker/images/chip-cirque-device-base/version
  src/app/tests/integration/Dockerfile.initiator
  src/app/tests/integration/Dockerfile.responder
  src/inet/tests/TestInetLayerDNS.cpp
  src/messaging/tests/echo/Dockerfile.requester
  src/messaging/tests/echo/Dockerfile.responder
  src/test_driver/happy/README.md
  src/test_driver/linux-cirque/README.md
Labels: app, build issue, examples, github, hotfix, inet, integrations, vscode, workflows

#4640 Script python library builds, update documentation and dependencies
  docs/BUILDING.md
  scripts/build_python.sh
  src/controller/python/README.md
  src/controller/python/build-chip-wheel.py
Labels: controller, documentation, scripts

#4671 Initialize CHIPDevice members
  src/controller/CHIPDevice.h
Labels: controller

#4668 Replace nl_Chip with pychip
  src/controller/python/ChipDeviceController-ScriptBinding.cpp
  src/controller/python/chip/ChipDeviceCtrl.py
  src/controller/python/chip/ChipStack.py
Labels: controller

#4676 nrfconnect: Added Kconfig option to set CHIP_BYPASS_RENDEZVOUS
  config/nrfconnect/chip-module/Kconfig
  src/platform/nrfconnect/CHIPDevicePlatformConfig.h
Labels: config, nrf connect, platform

#4473 BDX TransferSession spec implementation
  src/protocols/bdx/BUILD.gn
  src/protocols/bdx/BdxMessages.cpp
  src/protocols/bdx/BdxMessages.h
  src/protocols/bdx/BdxTransferSession.cpp
  src/protocols/bdx/BdxTransferSession.h
  src/protocols/bdx/tests/BUILD.gn
  src/protocols/bdx/tests/TestBdxMessages.cpp
  src/protocols/bdx/tests/TestBdxTransferSession.cpp
Labels: V1.0, firmware update, p1, secure channel

#4627 GetModuleName() really should take a length parameter
  src/controller/python/ChipDeviceController-ScriptBinding.cpp
  src/lib/support/logging/CHIPLogging.cpp
  src/lib/support/logging/CHIPLogging.h
  src/lib/support/logging/CHIPLoggingLogV.cpp
  src/platform/EFR32/Logging.cpp
  src/platform/ESP32/Logging.cpp
  src/platform/K32W/Logging.cpp
  src/platform/Zephyr/Logging.cpp
  src/platform/qpg6100/Logging.cpp
Labels: controller, efr32, esp32, k32w, lib, platform, zephyr

#4687 Fix macOS Framework build failures
  src/darwin/Framework/CHIP/CHIPDeviceController.mm
Labels: darwin

#4683 Build failure when activating the Thermostat cluster inside ZAP
  examples/chip-tool/templates/commands.zapt
  src/app/clusters/scenes/scenes.cpp
  src/app/util/message.cpp
  src/app/util/util.h
  src/app/zap-templates/templates/app/CHIPClientCallbacks-src.zapt
  src/app/zap-templates/templates/app/helper.js
  src/app/zap-templates/templates/chip/CHIPClusters-src.zapt
  src/controller/CHIPClusters.cpp
Labels: app, controller, examples

#4673 Encapsulate message footer size requirement
  src/app/util/chip-message-send.cpp
  src/messaging/tests/TestReliableMessageProtocol.cpp
  src/messaging/tests/echo/echo_requester.cpp
  src/protocols/echo/EchoServer.cpp
  src/system/SystemPacketBuffer.h
  src/transport/SecureSessionMgr.h
  src/transport/tests/TestSecureSessionMgr.cpp
Labels: app, system, transport

#4675 Add Key Value Storage to ESP32
  examples/persistent-storage/KeyValueStorageTest.cpp
  examples/persistent-storage/KeyValueStorageTest.h
  examples/persistent-storage/esp32/.gitignore
  examples/persistent-storage/esp32/Makefile
  examples/persistent-storage/esp32/README.md
  examples/persistent-storage/esp32/idf.sh
  examples/persistent-storage/esp32/main/component.mk
  examples/persistent-storage/esp32/main/main.cpp
  examples/persistent-storage/esp32/partitions.csv
  examples/persistent-storage/esp32/sdkconfig.defaults
  examples/persistent-storage/esp32/third_party/connectedhomeip
  src/platform/BUILD.gn
  src/platform/ESP32/KeyValueStoreManagerImpl.cpp
  src/platform/ESP32/KeyValueStoreManagerImpl.h
Labels: esp32, examples, platform

#4636 Introduce concept of device administrator table
  src/app/server/RendezvousServer.cpp
  src/app/server/RendezvousServer.h
  src/app/server/Server.cpp
  src/app/tests/integration/chip_im_initiator.cpp
  src/app/tests/integration/chip_im_responder.cpp
  src/controller/CHIPDevice.cpp
  src/controller/CHIPDevice.h
  src/controller/CHIPDeviceController.cpp
  src/controller/CHIPDeviceController.h
  src/lib/core/CHIPConfig.h
  src/messaging/tests/MessagingContext.cpp
  src/messaging/tests/MessagingContext.h
  src/messaging/tests/TestExchangeMgr.cpp
  src/messaging/tests/echo/echo_requester.cpp
  src/messaging/tests/echo/echo_responder.cpp
  src/transport/AdminPairingTable.h
  src/transport/BUILD.gn
  src/transport/PeerConnectionState.h
  src/transport/PeerConnections.h
  src/transport/RendezvousSession.cpp
  src/transport/RendezvousSession.h
  src/transport/SecureSessionMgr.cpp
  src/transport/SecureSessionMgr.h
  src/transport/tests/TestSecureSessionMgr.cpp
Labels: app, controller, lib, p1, transport

#4706 Remove unused parameters ssid and passphrase from chiptool "pairing softap" command
  examples/chip-tool/commands/pairing/PairingCommand.h
  src/test_driver/linux-cirque/test-on-off-cluster.py
Labels: examples

#4705 [cirque] Update cirque outputs
  .github/workflows/cirque.yaml
  scripts/tests/cirque_tests.sh
  src/test_driver/linux-cirque/helper/CHIPTestBase.py
Labels: github, scripts, workflows

#4677 Remove BufBound
  src/app/encoder.cpp
  src/app/zap-templates/templates/chip/encoder-src.zapt
  src/app/zap-templates/templates/chip/helper.js
  src/crypto/CHIPCryptoPALOpenSSL.cpp
  src/crypto/CHIPCryptoPALmbedTLS.cpp
  src/lib/support/BUILD.gn
  src/lib/support/BufBound.h
  src/lib/support/BufferWriter.h
  src/lib/support/tests/BUILD.gn
  src/lib/support/tests/TestBufBound.cpp
  src/protocols/bdx/BdxMessages.cpp
  src/protocols/bdx/BdxMessages.h
  src/protocols/bdx/BdxTransferSession.cpp
  src/protocols/bdx/tests/TestBdxMessages.cpp
  src/system/SystemPacketBuffer.cpp
  src/system/SystemPacketBuffer.h
  src/system/tests/TestSystemPacketBuffer.cpp
  src/transport/CASESession.cpp
  src/transport/NetworkProvisioning.cpp
  src/transport/NetworkProvisioning.h
  src/transport/PASESession.cpp
  src/transport/RendezvousSession.h
  src/transport/SecureSession.cpp
Labels: app, crypto, lib, system, transport

#4690 Remove dead (uncompilable) code from python script bindings
  src/controller/python/ChipDeviceController-ScriptBinding.cpp
  src/controller/python/chip/ChipStack.py
Labels: controller

#4563 [.github/workflows] Added pigweed-app related builds to workflows.
  .github/workflows/examples-esp32.yaml
  .github/workflows/examples-nrfconnect.yaml
  .github/workflows/qemu.yaml
  .github/workflows/release_artifacts.yaml
  .vscode/tasks.json
  examples/pigweed-app/esp32/Makefile
  examples/pigweed-app/esp32/main/main.cpp
  scripts/examples/esp_example.sh
  scripts/examples/nrfconnect_example.sh
Labels: android, examples, github, scripts, vscode, workflows

#4681 Fix code generation failure on zap_generate.sh
  src/app/zap-templates/zcl/manufacturers.xml
  src/app/zap-templates/zcl/zcl.json
Labels: app

#4727 Remove CHIP retain logging
  examples/chip-tool/config/PersistentStorage.cpp
  src/lib/core/CHIPConfig.h
  src/lib/support/logging/CHIPLogging.h
  src/platform/EFR32/Logging.cpp
  src/platform/ESP32/Logging.cpp
  src/platform/K32W/Logging.cpp
  src/platform/Linux/BLEManagerImpl.cpp
  src/platform/Zephyr/Logging.cpp
  src/platform/qpg6100/Logging.cpp
Labels: efr32, esp32, examples, k32w, lib, linux, platform, zephyr

#4762 Temperate measurement app does not build anymore because of missing <nlbyteorder.hpp>
  examples/temperature-measurement-app/esp32/main/component.mk
Labels: examples, hotfix

#4763 Log more information on artifact fetch failure during bloat check
  scripts/helpers/bloat_check.py
  scripts/helpers/github_fetch_artifacts.py
Labels: hotfix, scripts

#4769 Fix artifact download to deal with changes on the Github side.
  scripts/helpers/github_fetch_artifacts.py
Labels: hotfix, scripts

#4739 Rename member function IsNeedsAck to NeedsAck in PayloadHeader
  src/messaging/ExchangeContext.cpp
  src/messaging/ExchangeMgr.cpp
  src/transport/raw/MessageHeader.h
Labels: transport

#4721 BufferWriter revisions
  src/crypto/CHIPCryptoPALOpenSSL.cpp
  src/crypto/CHIPCryptoPALmbedTLS.cpp
  src/lib/support/BUILD.gn
  src/lib/support/BufferWriter.cpp
  src/lib/support/BufferWriter.h
  src/lib/support/StringBuilder.h
  src/lib/support/tests/TestBufferWriter.cpp
  src/protocols/bdx/BdxTransferSession.cpp
  src/protocols/bdx/tests/TestBdxMessages.cpp
  src/system/SystemPacketBuffer.cpp
  src/system/SystemPacketBuffer.h
  src/system/tests/TestSystemPacketBuffer.cpp
  src/transport/NetworkProvisioning.cpp
  src/transport/PASESession.cpp
Labels: crypto, lib, system, transport

#4782 Add CHIP copyright
  src/app/zap-templates/zcl/manufacturers.xml
Labels: app

#4753 Use the type system for the size of the buffer arg to IPAddress::ToString, when possible.
  src/inet/IPAddress.h
  src/inet/tests/TestInetAddress.cpp
  src/inet/tests/TestInetEndPoint.cpp
  src/inet/tests/TestInetLayer.cpp
  src/inet/tests/TestInetLayerCommon.cpp
  src/platform/ESP32/ConnectivityManagerImpl.cpp
  src/platform/OpenThread/GenericThreadStackManagerImpl_OpenThread.cpp
  src/platform/OpenThread/OpenThreadUtils.cpp
  src/transport/raw/PeerAddress.h
Labels: esp32, inet, openthread, platform, transport

#4749 Use the type system for the size of the buffer arg to PeerAddress::ToString, when possible.
  src/app/server/Server.cpp
  src/transport/SecureSessionMgr.cpp
  src/transport/TransportMgrBase.cpp
  src/transport/raw/PeerAddress.h
  src/transport/tests/TestPeerConnections.cpp
Labels: app, transport

#4770 [linux] Fix seg fault error if we do network provisioning twice.
  src/platform/Linux/ConnectivityManagerImpl.cpp
Labels: linux, platform

#4764 [examples] Clean Status LED handling
  examples/lighting-app/efr32/src/AppTask.cpp
  examples/lighting-app/nrfconnect/main/AppTask.cpp
  examples/lock-app/efr32/src/AppTask.cpp
  examples/lock-app/k32w/main/AppTask.cpp
  examples/lock-app/nrfconnect/main/AppTask.cpp
  examples/lock-app/qpg6100/src/AppTask.cpp
  examples/platform/efr32/LEDWidget.cpp
  examples/platform/k32w/util/LEDWidget.cpp
  examples/platform/nrfconnect/util/LEDWidget.cpp
Labels: examples

#4761 Add missing path to templates helper inside examples/chip-tool/templa…
  examples/chip-tool/templates/templates.json
Labels: examples

#4775 Pigweed-app example: nrfconnect SDK logs redirect to pw_hdlc
  examples/common/pigweed/nrfconnect/PigweedLoggerMutex.cpp
  examples/common/pigweed/nrfconnect/PigweedLoggerMutex.h
  examples/lighting-app/nrfconnect/CMakeLists.txt
  examples/lighting-app/nrfconnect/main/Rpc.cpp
  examples/pigweed-app/nrfconnect/.gitignore
  examples/pigweed-app/nrfconnect/CMakeLists.txt
  examples/pigweed-app/nrfconnect/main/main.cpp
  examples/pigweed-app/nrfconnect/prj.conf
Labels: examples

#4757 ESP32: Set optimal CHIP task stack size for ESP32
  config/esp32/components/chip/Kconfig
Labels: config

#4723 [server] Use test pairing without rendezvous bypass
  examples/lighting-app/nrfconnect/main/include/CHIPProjectConfig.h
  examples/lock-app/nrfconnect/main/include/CHIPProjectConfig.h
  examples/shell/nrfconnect/CHIPProjectConfig.h
  src/app/server/Server.cpp
Labels: app, examples

#4745 Mobly integration for esp32
  examples/pigweed-app/esp32/Makefile
  examples/pigweed-app/esp32/echo_test_config.yml
  examples/pigweed-app/mobly_tests/echo_test.py
  integrations/mobly/chip_mobly/pigweed_device.py
  scripts/flashing/esp32_firmware_utils.py
Labels: examples, integrations, scripts

#4790 Move ChipExceptions into chip.exeptions for python
  src/app/zap-templates/templates/chip/python-chip-ChipCluster.zapt
  src/controller/python/BUILD.gn
  src/controller/python/build-chip-wheel.py
  src/controller/python/chip-device-ctrl.py
  src/controller/python/chip/ChipCluster.py
  src/controller/python/chip/ChipStack.py
  src/controller/python/chip/exceptions/__init__.py
Labels: app, controller

#4724 [nrfconnect] Explicitly configure python to be used by GN
  config/nrfconnect/chip-module/CMakeLists.txt
Labels: config

#4632 Fix and test heap allocation of PacketBuffers
  .github/workflows/build.yaml
  config/android/CHIPProjectConfig.h
  config/ios/CHIPProjectConfig.h
  config/standalone/CHIPProjectConfig.h
  scripts/tests/gn_tests.sh
  src/app/Command.cpp
  src/app/tests/TestMessageDef.cpp
  src/app/util/chip-message-send.cpp
  src/ble/BLEEndPoint.cpp
  src/ble/BtpEngine.cpp
  src/controller/CHIPDevice.cpp
  src/controller/java/CHIPProjectConfig.h
  src/include/platform/internal/GenericNetworkProvisioningServerImpl.cpp
  src/include/platform/internal/GenericSoftwareUpdateManagerImpl.cpp
  src/inet/IPEndPointBasis.cpp
  src/inet/TCPEndPoint.h
  src/inet/tests/TestInetEndPoint.cpp
  src/lib/core/BUILD.gn
  src/lib/core/CHIPConfig.h
  src/lib/core/core.gni
  src/lib/core/tests/TestCHIPTLV.cpp
  src/lib/support/BUILD.gn
  src/lib/support/CHIPMem-Malloc.cpp
  src/lib/support/CHIPMem-SimpleAlloc.cpp
  src/lib/support/CHIPMem.h
  src/messaging/ExchangeMgr.cpp
  src/messaging/ReliableMessageMgr.cpp
  src/messaging/ReliableMessageProtocolConfig.h
  src/messaging/tests/MessagingContext.cpp
  src/messaging/tests/TestExchangeMgr.cpp
  src/messaging/tests/TestReliableMessageProtocol.cpp
  src/platform/ESP32/NetworkProvisioningServerImpl.cpp
  src/platform/Linux/CHIPBluezHelper.cpp
  src/protocols/bdx/tests/TestBdxMessages.cpp
  src/protocols/bdx/tests/TestBdxTransferSession.cpp
  src/system/SystemConfig.h
  src/system/SystemPacketBuffer.cpp
  src/system/SystemPacketBuffer.h
  src/system/TLVPacketBufferBackingStore.cpp
  src/system/tests/TestSystemPacketBuffer.cpp
  src/transport/SecureSessionMgr.h
  src/transport/raw/tests/NetworkTestHelpers.cpp
  src/transport/tests/TestSecureSessionMgr.cpp
Labels: app, ble, config, controller, esp32, github, inet, lib, linux, platform, scripts, workflows

#4678 [controller] Deprecate old DeviceController in python binding
  src/controller/python/ChipDeviceController-ScriptBinding.cpp
  src/controller/python/ChipDeviceController-ScriptDevicePairingDelegate.cpp
  src/controller/python/ChipDeviceController-ScriptDevicePairingDelegate.h
  src/controller/python/chip-device-ctrl.py
  src/controller/python/chip/ChipDeviceCtrl.py
Labels: controller

#4722 nrfconnect: Fixed printing BLE error on regular session disconnection.
  src/platform/Zephyr/BLEManagerImpl.cpp
Labels: platform, zephyr

#4789 Move tlv implementation into a separate module for python
  src/controller/python/BUILD.gn
  src/controller/python/build-chip-wheel.py
  src/controller/python/chip/tlv/__init__.py
Labels: controller

#4715 [nrfconnect] use Oberon backend for SHA-256 calculation
  config/nrfconnect/app/sample-defaults.conf
Labels: bug, config, examples, nrf connect

#4793 Add dbus & pgi to python requirements
  scripts/requirements.in
  scripts/requirements.txt
Labels: scripts

#4798 Remove unused argument chip_build_pw_rpc_lib for EFR32
  examples/lock-app/efr32/with_pw_rpc.gni
  examples/pigweed-app/efr32/args.gni
Labels: examples

#4778 Remove system_rpc_server dependency for pigweed-app/esp32
  config/esp32/components/chip/component.mk
  config/esp32/lib/pw_rpc/BUILD.gn
  examples/pigweed-app/esp32/.gitignore
  examples/pigweed-app/esp32/main/component.mk
  examples/pigweed-app/esp32/main/main.cpp
Labels: config, examples

#4794 Lock down EncryptedPacketBufferHandle some more.
  src/transport/SecureSessionMgr.h
  src/transport/tests/TestSecureSessionMgr.cpp
Labels: transport

#4777 Hooks to lookup ACL for the received messages
  src/messaging/BUILD.gn
  src/messaging/ExchangeACL.h
  src/messaging/ExchangeContext.cpp
  src/messaging/ExchangeContext.h
  src/transport/AdminPairingTable.h
  src/transport/SecureSessionMgr.cpp
  src/transport/SecureSessionMgr.h
Labels: app, controller, examples, transport

#4776 Add Skip() and Reset() methods to LittleEndian::Reader
  src/lib/support/BufferReader.h
  src/lib/support/tests/TestBufferReader.cpp
  src/protocols/bdx/tests/TestBdxTransferSession.cpp
Labels: lib

#4754 [K32W] Add commissioning instructions
  docs/guides/nxp_k32w_android_commissioning.md
  examples/lock-app/k32w/README.md
  examples/platform/k32w/doc/images/chiptool_main_screen.png
  examples/platform/k32w/doc/images/debg-conf.JPG
  examples/platform/k32w/doc/images/form_web.JPG
  examples/platform/k32w/doc/images/k32w-dk6-connectors.jpg
  examples/platform/k32w/doc/images/nxp_hw_connectivity.JPG
  examples/platform/k32w/doc/images/on_off_cluster.png
  examples/platform/k32w/doc/images/thread_credentials.png
Labels: documentation, examples

#4718 Added definition to not open pairing window after boot.
  config/nrfconnect/chip-module/Kconfig
  examples/lighting-app/nrfconnect/main/AppTask.cpp
  examples/lock-app/nrfconnect/main/AppTask.cpp
  src/app/server/Server.cpp
  src/include/platform/CHIPDeviceConfig.h
  src/platform/nrfconnect/CHIPDevicePlatformConfig.h
Labels: app, config, examples, nrf connect, platform

#4817 Remove "six" dependency in controller/python
  src/controller/python/build-chip-wheel.py
  src/controller/python/chip/ChipBleBase.py
  src/controller/python/chip/ChipBleUtility.py
  src/controller/python/chip/ChipBluezMgr.py
  src/controller/python/chip/ChipCoreBluetoothMgr.py
Labels: controller

#4735 Implemented CHIP Epoch Time APIs.
  src/lib/support/TimeUtils.cpp
  src/lib/support/TimeUtils.h
  src/lib/support/tests/TestTimeUtils.cpp
Labels: lib

#4820 Make the ESP32 Virtual Device Classes slightly easier to read
  examples/all-clusters-app/esp32/main/main.cpp
Labels: examples

#4829 Prepare for Thread Credentials in Darwin Pairing Delegate
  src/darwin/CHIPTool/CHIPTool/View Controllers/QRCode/QRCodeViewController.m
  src/darwin/Framework/CHIP/CHIPDeviceController.h
  src/darwin/Framework/CHIP/CHIPDeviceController.mm
  src/darwin/Framework/CHIP/CHIPDevicePairingDelegate.h
  src/darwin/Framework/CHIP/CHIPDevicePairingDelegateBridge.h
  src/darwin/Framework/CHIP/CHIPDevicePairingDelegateBridge.mm
Labels: darwin

#4810 [crypto] Fix unaligned access on ARM
  src/crypto/CHIPCryptoPAL.h
  src/crypto/CHIPCryptoPALOpenSSL.cpp
  src/crypto/CHIPCryptoPALmbedTLS.cpp
  src/lib/support/SafePointerCast.h
Labels: crypto, lib

#4835 nrfconnect: Restored compiling nrfconnect samples with -Werror flag
  examples/lighting-app/nrfconnect/CMakeLists.txt
  examples/lock-app/nrfconnect/CMakeLists.txt
  examples/pigweed-app/nrfconnect/CMakeLists.txt
  examples/shell/nrfconnect/CMakeLists.txt
Labels: examples

#4812 ESP32: Update CHIP code to use latest ESP-IDF v4.2 release
  examples/all-clusters-app/esp32/README.md
  examples/persistent-storage/esp32/README.md
  examples/pigweed-app/esp32/README.md
  integrations/docker/images/chip-build-esp32/Dockerfile
  integrations/docker/images/chip-build/version
  src/test_driver/esp32/README.md
Labels: esp32, examples, integrations

#4813 * Add assertion check for header character lengths fitting log buffer
  src/platform/qpg6100/Logging.cpp
Labels: platform

#4834 nrfconnect: lighting-app: Lowered PWM frequency to 50 Hz.
  examples/lighting-app/nrfconnect/main/LightingManager.cpp
Labels: examples

#4819 Add a Bridge Device type
  examples/bridge-app/bridge-common/BUILD.gn
  examples/bridge-app/bridge-common/bridge-app.zap
  examples/bridge-app/bridge-common/gen/CHIPClustersObjc.h
  examples/bridge-app/bridge-common/gen/CHIPClustersObjc.mm
  examples/bridge-app/bridge-common/gen/call-command-handler.cpp
  examples/bridge-app/bridge-common/gen/callback-stub.cpp
  examples/bridge-app/bridge-common/gen/callback.h
  examples/bridge-app/bridge-common/gen/client-command-macro.h
  examples/bridge-app/bridge-common/gen/endpoint_config.h
  examples/bridge-app/bridge-common/gen/gen_config.h
  examples/chip-tool/commands/clusters/ModelCommand.h
  examples/chip-tool/commands/reporting/ReportingCommand.h
  src/app/zap-templates/zcl/chip-devices.xml
Labels: app, controller, examples, integrations

#4807 Set the all-clusters-app's Default Door Lock State to "Unlocked"
  examples/all-clusters-app/all-clusters-common/all-clusters-app.zap
  examples/all-clusters-app/all-clusters-common/gen/endpoint_config.h
Labels: examples

#4799 Fix warnings -Warray-bounds and add optimized build to CI
  .github/workflows/build.yaml
  examples/bridge-app/bridge-common/gen/af-gen-event.h
  examples/chip-tool/gen/af-gen-event.h
  examples/lighting-app/lighting-common/gen/af-gen-event.h
  src/darwin/Framework/CHIP/gen/af-gen-event.h
Labels: app, darwin, examples, github, workflows

#4827 Fix uninitialized adminId
  src/app/CommandSender.cpp
  src/app/CommandSender.h
  src/app/tests/integration/chip_im_initiator.cpp
  src/app/util/chip-message-send.cpp
  src/controller/CHIPDevice.cpp
  src/messaging/tests/MessagingContext.cpp
  src/messaging/tests/MessagingContext.h
  src/messaging/tests/echo/echo_requester.cpp
  src/transport/RendezvousSession.cpp
  src/transport/SecureSessionMgr.cpp
  src/transport/SecureSessionMgr.h
Labels: app, controller, transport

#4741 Move chip::Logging::LogV to platform-specific implementation
  build/chip/chip_test_suite.gni
  src/app/util/ember-print.cpp
  src/crypto/tests/CHIPCryptoPALTest.cpp
  src/darwin/Framework/CHIP.xcodeproj/project.pbxproj
  src/darwin/Framework/chip_xcode_build_connector.sh
  src/include/platform/CHIPDeviceConfig.h
  src/lib/core/BUILD.gn
  src/lib/core/CHIPConfig.h
  src/lib/core/core.gni
  src/lib/support/BUILD.gn
  src/lib/support/logging/CHIPLogging.cpp
  src/lib/support/logging/CHIPLogging.h
  src/lib/support/logging/CHIPLoggingLogV.cpp
  src/lib/support/logging/Constants.h
  src/platform/BUILD.gn
  src/platform/Darwin/Logging.cpp
  src/platform/EFR32/CHIPDevicePlatformConfig.h
  src/platform/EFR32/Logging.cpp
  src/platform/ESP32/Logging.cpp
  src/platform/K32W/Logging.cpp
  src/platform/Linux/Logging.cpp
  src/platform/Zephyr/Logging.cpp
  src/platform/cc13x2_26x2/Logging.cpp
  src/platform/logging/BUILD.gn
  src/platform/logging/LogV.h
  src/platform/logging/impl/android/Logging.cpp
  src/platform/logging/impl/stdio/Logging.cpp
  src/platform/qpg6100/Logging.cpp
  src/qrcodetool/BUILD.gn
  src/transport/tests/TestPASESession.cpp
  src/transport/tests/TestSecureSession.cpp
Labels: app, config, crypto, darwin, efr32, esp32, examples, k32w, lib, linux, platform, transport, zephyr

#4838 Add an adapter iterator class to bluez
  src/lib/support/CHIPMemString.h
  src/platform/Linux/CHIPBluezHelper.cpp
  src/platform/Linux/CHIPBluezHelper.h
Labels: lib, linux, platform

#4844 Expose controller nodeid to iOS CHIP Tool app
  src/darwin/CHIPTool/CHIPTool/View Controllers/Bindings/BindingsViewController.m
  src/darwin/Framework/CHIP/CHIPDeviceController.h
  src/darwin/Framework/CHIP/CHIPDeviceController.mm
Labels: darwin

#4854 Fix broken Darwin Builds
  src/platform/Darwin/Logging.cpp
Labels: darwin, hotfix, platform

#4852 Add missing #include so Darwin logging compiles
  src/platform/Darwin/Logging.cpp
Labels: darwin, hotfix, platform

#4814 Add Key Value Storage implementation for nrfconnect
  src/platform/BUILD.gn
  src/platform/Zephyr/KeyValueStoreManagerImpl.cpp
  src/platform/Zephyr/KeyValueStoreManagerImpl.h
  src/platform/nrfconnect/KeyValueStoreManagerImpl.h
  src/platform/tests/BUILD.gn
  src/platform/tests/TestKeyValueStoreMgr.cpp
  src/test_driver/nrfconnect/CMakeLists.txt
Labels: nrf connect, platform, zephyr

#4868 Fix missing footer space during WiFi provisioning
  src/transport/NetworkProvisioning.cpp
Labels: hotfix, transport

#4856 Fix build warning when building the Darwin Framework on some platforms
  src/darwin/Framework/CHIP/CHIPDevice.h
  src/darwin/Framework/CHIP/CHIPDevice.mm
Labels: darwin

#4857 Add a device selector view in CHIPTool iOS app
  src/darwin/CHIPTool/CHIPTool.xcodeproj/project.pbxproj
  src/darwin/CHIPTool/CHIPTool/Framework Helpers/DefaultsUtils.h
  src/darwin/CHIPTool/CHIPTool/Framework Helpers/DefaultsUtils.m
  src/darwin/CHIPTool/CHIPTool/View Controllers/Bindings/BindingsViewController.m
  src/darwin/CHIPTool/CHIPTool/View Controllers/DeviceSelector.h
  src/darwin/CHIPTool/CHIPTool/View Controllers/DeviceSelector.m
  src/darwin/CHIPTool/CHIPTool/View Controllers/Echo client/EchoViewController.m
  src/darwin/CHIPTool/CHIPTool/View Controllers/MultiAdmin/MultiAdminViewController.m
  src/darwin/CHIPTool/CHIPTool/View Controllers/OnOffCluster/OnOffViewController.m
  src/darwin/CHIPTool/CHIPTool/View Controllers/Temperature Sensor/TemperatureSensorViewController.m
Labels: darwin

#4873 [android] Fixes for Android CHIPTool
  src/controller/CHIPDeviceController.cpp
  src/transport/NetworkProvisioning.cpp
Labels: controller, transport

#4839 Switch ble adapter listing to use the native bluez interface.
  src/controller/python/BUILD.gn
  src/controller/python/build-chip-wheel.py
  src/controller/python/chip-repl.py
  src/controller/python/chip/__init__.py
  src/controller/python/chip/ble/LinuxImpl.cpp
  src/controller/python/chip/ble/__init__.py
  src/controller/python/chip/native/__init__.py
  src/platform/Linux/CHIPBluezHelper.cpp
  src/platform/Linux/CHIPBluezHelper.h
Labels: controller, lib, linux, platform

#4879 Disable ZLL OnOff specific commands in bridge-app.zap
  BUILD.gn
  examples/bridge-app/bridge-common/bridge-app.zap
  examples/bridge-app/bridge-common/gen/call-command-handler.cpp
  examples/bridge-app/bridge-common/gen/callback.h
  examples/bridge-app/bridge-common/gen/endpoint_config.h
  examples/bridge-app/linux/BUILD.gn
Labels: examples

#4874 Revise PacketBufferWriter interface
  src/app/encoder.cpp
  src/app/zap-templates/templates/chip/encoder-src.zapt
  src/protocols/bdx/BUILD.gn
  src/protocols/bdx/BdxTransferSession.cpp
  src/protocols/bdx/tests/TestBdxMessages.cpp
  src/system/SystemPacketBuffer.cpp
  src/system/SystemPacketBuffer.h
  src/system/tests/TestSystemPacketBuffer.cpp
  src/transport/NetworkProvisioning.cpp
  src/transport/PASESession.cpp
Labels: app, system, transport

#4878 Remove non-spec "payload length" from our packet headers.
  src/transport/SecureMessageCodec.cpp
  src/transport/raw/MessageHeader.cpp
  src/transport/raw/MessageHeader.h
  src/transport/raw/tests/TestMessageHeader.cpp
Labels: spec, transport

#4891 Add support/BytesToHex.h -> lightweight hex conversion
  src/lib/support/BUILD.gn
  src/lib/support/BytesToHex.cpp
  src/lib/support/BytesToHex.h
  src/lib/support/tests/BUILD.gn
  src/lib/support/tests/TestBytesToHex.cpp
Labels: lib

#4885 Use unidirectional encryption keys in secure session
  src/app/server/Server.cpp
  src/app/tests/integration/chip_im_initiator.cpp
  src/app/tests/integration/chip_im_responder.cpp
  src/controller/CHIPDevice.cpp
  src/messaging/tests/MessagingContext.cpp
  src/messaging/tests/echo/echo_requester.cpp
  src/messaging/tests/echo/echo_responder.cpp
  src/transport/PASESession.cpp
  src/transport/PeerConnectionState.h
  src/transport/RendezvousSession.cpp
  src/transport/SecureMessageCodec.cpp
  src/transport/SecureSession.cpp
  src/transport/SecureSession.h
  src/transport/SecureSessionMgr.cpp
  src/transport/SecureSessionMgr.h
  src/transport/tests/TestSecureSessionMgr.cpp
Labels: app, controller, transport

#4896 [android] always use the recently created device object
  src/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/provisioning/DeviceProvisioningFragment.kt
  src/controller/CHIPDeviceController_deprecated.cpp
Labels: android, controller

#4913 Update TestMessageCounterSyncMgr with the latest API change for NewPa…
  src/messaging/tests/TestMessageCounterSyncMgr.cpp
Labels: hotfix

#4887 Use underscore for sub type for vendor and discriminator mDNS names.
  src/lib/mdns/Advertiser_ImplMinimalMdns.cpp
Labels: lib

#4889 Increase default minMdns TTL to a large value
  src/lib/mdns/minimal/records/ResourceRecord.h
  src/lib/mdns/minimal/records/tests/TestResourceRecord.cpp
Labels: lib

#4915 [controller] change the way of releasing device
  src/controller/CHIPDeviceController_deprecated.cpp
Labels: controller

#4362 Update Rotating Device Id generation
  config/esp32/components/chip/Kconfig
  examples/lighting-app/efr32/include/CHIPProjectConfig.h
  examples/lock-app/cc13x2x7_26x2x7/main/include/CHIPProjectConfig.h
  examples/lock-app/efr32/include/CHIPProjectConfig.h
  examples/platform/k32w/app/project_include/CHIPProjectConfig.h
  examples/platform/qpg6100/project_include/CHIPProjectConfig.h
  src/include/platform/CHIPDeviceConfig.h
  src/include/platform/ConfigurationManager.h
  src/include/platform/internal/GenericConfigurationManagerImpl.cpp
  src/include/platform/internal/GenericConfigurationManagerImpl.h
  src/lib/core/CHIPConfig.h
  src/lib/mdns/Discovery_ImplPlatform.cpp
  src/lib/mdns/Discovery_ImplPlatform.h
  src/lib/support/BUILD.gn
  src/lib/support/LifetimePersistedCounter.cpp
  src/lib/support/LifetimePersistedCounter.h
  src/platform/BUILD.gn
  src/platform/EFR32/CHIPPlatformConfig.h
  src/platform/ESP32/CHIPDevicePlatformConfig.h
  src/platform/K32W/CHIPPlatformConfig.h
  src/platform/Linux/CHIPBluezHelper.cpp
  src/platform/Linux/CHIPPlatformConfig.h
  src/platform/cc13x2_26x2/CHIPPlatformConfig.h
  src/platform/nrfconnect/CHIPPlatformConfig.h
  src/platform/qpg6100/CHIPPlatformConfig.h
  src/setup_payload/AdditionalDataPayloadGenerator.cpp
  src/setup_payload/AdditionalDataPayloadGenerator.h
  src/setup_payload/BUILD.gn
Labels: V0.7, config, efr32, esp32, examples, k32w, lib, linux, nrf connect, p1, platform, setup payload

#4914 Update peer address whenever it changes
  src/transport/SecureSessionMgr.cpp
Labels: transport

#4909 [Android CHIPTool] Ask for location permission
  src/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/SelectActionFragment.kt
  src/android/CHIPTool/app/src/main/res/values/strings.xml
Labels: android

#4846 Separate dedicated bluez directory for linux BLE interfacing
  src/controller/python/chip/ble/LinuxImpl.cpp
  src/platform/BUILD.gn
  src/platform/Linux/BLEManagerImpl.cpp
  src/platform/Linux/bluez/AdapterIterator.cpp
  src/platform/Linux/bluez/AdapterIterator.h
  src/platform/Linux/bluez/Helper.cpp
  src/platform/Linux/bluez/Helper.h
  src/platform/Linux/bluez/Types.h
Labels: controller, linux, platform

#4934 [controller] Add temporary node id support
  src/controller/python/ChipDeviceController-ScriptBinding.cpp
  src/controller/python/README.md
  src/controller/python/chip-device-ctrl.py
  src/controller/python/chip/ChipDeviceCtrl.py
Labels: controller

#4940 [cirque] Download `chip-cirque-device-base` from docker hub when available
  .github/workflows/cirque.yaml
  integrations/docker/images/chip-cirque-device-base/build.sh
  scripts/tests/cirque_tests.sh
Labels: github, integrations, scripts, workflows

#4832 Added documentation of features of CHIP device controller implementations
  src/controller/README.md
Labels: controller

#4952 Integrate KVS with device session tables
  examples/chip-tool/config/PersistentStorage.h
  src/app/server/RendezvousServer.cpp
  src/app/server/RendezvousServer.h
  src/app/server/Server.cpp
  src/controller/CHIPDeviceController.h
  src/controller/CHIPDeviceController_deprecated.h
  src/controller/python/ChipDeviceController-StorageDelegate.cpp
  src/controller/python/ChipDeviceController-StorageDelegate.h
  src/darwin/Framework/CHIP/CHIPPersistentStorageDelegateBridge.h
  src/darwin/Framework/CHIP/CHIPPersistentStorageDelegateBridge.mm
  src/lib/core/CHIPPersistentStorageDelegate.h
  src/platform/BUILD.gn
  src/platform/Darwin/KeyValueStoreManagerImpl.h
  src/platform/qpg6100/KeyValueStoreManagerImpl.h
  src/transport/AdminPairingTable.cpp
  src/transport/AdminPairingTable.h
  src/transport/BUILD.gn
  src/transport/PASESession.h
  src/transport/RendezvousSession.cpp
  src/transport/RendezvousSession.h
  src/transport/StorablePeerConnection.cpp
  src/transport/StorablePeerConnection.h
Labels: app, controller, darwin, examples, lib, platform, transport

#4955 ESP32: M5Stack - Add provision for factory reset
  examples/all-clusters-app/esp32/main/main.cpp
Labels: examples

#4970 Revert "Integrate KVS with device session tables"
  examples/chip-tool/config/PersistentStorage.h
  src/app/server/RendezvousServer.cpp
  src/app/server/RendezvousServer.h
  src/app/server/Server.cpp
  src/controller/CHIPDeviceController.h
  src/controller/CHIPDeviceController_deprecated.h
  src/controller/CHIPPersistentStorageDelegate.h
  src/controller/python/ChipDeviceController-StorageDelegate.cpp
  src/controller/python/ChipDeviceController-StorageDelegate.h
  src/darwin/Framework/CHIP/CHIPPersistentStorageDelegateBridge.h
  src/darwin/Framework/CHIP/CHIPPersistentStorageDelegateBridge.mm
  src/platform/BUILD.gn
  src/platform/Darwin/KeyValueStoreManagerImpl.h
  src/platform/qpg6100/KeyValueStoreManagerImpl.h
  src/transport/AdminPairingTable.cpp
  src/transport/AdminPairingTable.h
  src/transport/BUILD.gn
  src/transport/PASESession.h
  src/transport/RendezvousSession.cpp
  src/transport/RendezvousSession.h
  src/transport/StorablePeerConnection.cpp
  src/transport/StorablePeerConnection.h
Labels: app, controller, darwin, examples, hotfix, platform, transport

#4966 Fix use-after-free in UpdateAdditionalDataCharacteristic
  src/platform/Linux/bluez/Helper.cpp
Labels: linux, platform

#4956 [K32W] Update E-Lock demo app to the latest master
  examples/lock-app/k32w/README.md
  src/platform/K32W/Logging.cpp
  src/platform/K32W/gatt_db.h
  src/platform/K32W/gatt_uuid128.h
  third_party/k32w_sdk/k32w_sdk.gni
  third_party/k32w_sdk/mr2_fixes/patch_k32w_mr2_sdk.sh
  third_party/k32w_sdk/mr2_fixes/pin_mux.c
Labels: examples, k32w, platform

#4945 Remove Peer/local nodeid dependency for PASE
  src/app/tests/integration/chip_im_initiator.cpp
  src/controller/CHIPDeviceController.cpp
  src/messaging/tests/MessagingContext.h
  src/messaging/tests/TestMessageCounterSyncMgr.cpp
  src/messaging/tests/echo/echo_requester.cpp
  src/messaging/tests/echo/echo_responder.cpp
  src/transport/PASESession.cpp
  src/transport/PASESession.h
  src/transport/RendezvousSession.cpp
  src/transport/RendezvousSession.h
  src/transport/SecureMessageCodec.cpp
  src/transport/tests/TestPASESession.cpp
  src/transport/tests/TestSecureSessionMgr.cpp
Labels: app, controller, transport

#4958 [QPG6100] Add initial lighting app version
  examples/lighting-app/qpg6100/.gn
  examples/lighting-app/qpg6100/BUILD.gn
  examples/lighting-app/qpg6100/README.md
  examples/lighting-app/qpg6100/args.gni
  examples/lighting-app/qpg6100/build_overrides
  examples/lighting-app/qpg6100/include/AppConfig.h
  examples/lighting-app/qpg6100/include/AppEvent.h
  examples/lighting-app/qpg6100/include/AppTask.h
  examples/lighting-app/qpg6100/include/LightingManager.h
  examples/lighting-app/qpg6100/src/AppTask.cpp
  examples/lighting-app/qpg6100/src/LightingManager.cpp
  examples/lighting-app/qpg6100/src/ZclCallbacks.cpp
  examples/lighting-app/qpg6100/src/main.cpp
  examples/lighting-app/qpg6100/third_party/connectedhomeip
Labels: examples, qpg6100

#4883 Darwin base chip cluster
  examples/all-clusters-app/all-clusters-common/gen/CHIPClustersObjc.h
  examples/all-clusters-app/all-clusters-common/gen/CHIPClustersObjc.mm
  examples/bridge-app/bridge-common/bridge-app.zap
  examples/bridge-app/bridge-common/gen/CHIPClustersObjc.h
  examples/bridge-app/bridge-common/gen/CHIPClustersObjc.mm
  examples/bridge-app/bridge-common/gen/af-structs.h
  examples/bridge-app/bridge-common/gen/attribute-id.h
  examples/bridge-app/bridge-common/gen/call-command-handler.cpp
  examples/bridge-app/bridge-common/gen/callback.h
  examples/bridge-app/bridge-common/gen/client-command-macro.h
  examples/bridge-app/bridge-common/gen/cluster-id.h
  examples/bridge-app/bridge-common/gen/command-id.h
  examples/bridge-app/bridge-common/gen/endpoint_config.h
  examples/bridge-app/bridge-common/gen/enums.h
  examples/bridge-app/bridge-common/gen/print-cluster.h
  examples/chip-tool/gen/CHIPClustersObjc.h
  examples/chip-tool/gen/CHIPClustersObjc.mm
  examples/lighting-app/lighting-common/gen/CHIPClustersObjc.h
  examples/lighting-app/lighting-common/gen/CHIPClustersObjc.mm
  examples/lighting-app/lighting-common/gen/af-structs.h
  examples/lighting-app/lighting-common/gen/attribute-id.h
  examples/lighting-app/lighting-common/gen/client-command-macro.h
  examples/lighting-app/lighting-common/gen/cluster-id.h
  examples/lighting-app/lighting-common/gen/command-id.h
  examples/lighting-app/lighting-common/gen/enums.h
  examples/lighting-app/lighting-common/gen/print-cluster.h
  examples/lock-app/lock-common/gen/CHIPClustersObjc.h
  examples/lock-app/lock-common/gen/CHIPClustersObjc.mm
  examples/lock-app/lock-common/gen/af-structs.h
  examples/lock-app/lock-common/gen/attribute-id.h
  examples/lock-app/lock-common/gen/client-command-macro.h
  examples/lock-app/lock-common/gen/cluster-id.h
  examples/lock-app/lock-common/gen/command-id.h
  examples/lock-app/lock-common/gen/enums.h
  examples/lock-app/lock-common/gen/print-cluster.h
  examples/temperature-measurement-app/esp32/main/gen/CHIPClustersObjc.h
  examples/temperature-measurement-app/esp32/main/gen/CHIPClustersObjc.mm
  examples/temperature-measurement-app/esp32/main/gen/af-structs.h
  examples/temperature-measurement-app/esp32/main/gen/attribute-id.h
  examples/temperature-measurement-app/esp32/main/gen/client-command-macro.h
  examples/temperature-measurement-app/esp32/main/gen/cluster-id.h
  examples/temperature-measurement-app/esp32/main/gen/command-id.h
  examples/temperature-measurement-app/esp32/main/gen/enums.h
  examples/temperature-measurement-app/esp32/main/gen/print-cluster.h
  examples/tv-app/tv-common/gen/CHIPClustersObjc.h
  examples/tv-app/tv-common/gen/CHIPClustersObjc.mm
  src/app/zap-templates/templates/chip/CHIPClustersObjc-src.zapt
  src/app/zap-templates/templates/chip/CHIPClustersObjc.zapt
  src/darwin/Framework/CHIP/gen/CHIPClustersObjc.h
  src/darwin/Framework/CHIP/gen/CHIPClustersObjc.mm
Labels: app, darwin, examples

#4987 Increase stack size for esp32 unit tests
  scripts/tests/esp32_qemu_tests.sh
  src/test_driver/esp32/main/main_app.cpp
Labels: scripts

#4991 [python] Add command for Thread provisioning
  src/controller/python/ChipDeviceController-ScriptBinding.cpp
  src/controller/python/ChipDeviceController-ScriptDevicePairingDelegate.cpp
  src/controller/python/ChipDeviceController-ScriptDevicePairingDelegate.h
  src/controller/python/chip-device-ctrl.py
  src/controller/python/chip/ChipDeviceCtrl.py
Labels: controller

#4974 Join multicast groups for mDNS.
  src/lib/mdns/minimal/Server.cpp
Labels: lib

#4976 Integrate KVS with device session tables
  examples/chip-tool/config/PersistentStorage.h
  src/app/server/RendezvousServer.cpp
  src/app/server/RendezvousServer.h
  src/app/server/Server.cpp
  src/controller/CHIPDeviceController.h
  src/controller/CHIPDeviceController_deprecated.h
  src/controller/python/ChipDeviceController-StorageDelegate.cpp
  src/controller/python/ChipDeviceController-StorageDelegate.h
  src/darwin/Framework/CHIP/CHIPPersistentStorageDelegateBridge.h
  src/darwin/Framework/CHIP/CHIPPersistentStorageDelegateBridge.mm
  src/lib/core/CHIPPersistentStorageDelegate.h
  src/platform/BUILD.gn
  src/platform/Darwin/KeyValueStoreManagerImpl.cpp
  src/platform/Darwin/KeyValueStoreManagerImpl.h
  src/platform/K32W/KeyValueStoreManagerImpl.cpp
  src/platform/K32W/KeyValueStoreManagerImpl.h
  src/platform/cc13x2_26x2/KeyValueStoreManagerImpl.cpp
  src/platform/cc13x2_26x2/KeyValueStoreManagerImpl.h
  src/platform/qpg6100/KeyValueStoreManagerImpl.cpp
  src/platform/qpg6100/KeyValueStoreManagerImpl.h
  src/transport/AdminPairingTable.cpp
  src/transport/AdminPairingTable.h
  src/transport/BUILD.gn
  src/transport/PASESession.h
  src/transport/RendezvousSession.cpp
  src/transport/RendezvousSession.h
  src/transport/StorablePeerConnection.cpp
  src/transport/StorablePeerConnection.h
Labels: app, controller, darwin, examples, k32w, lib, platform, transport

#4971 Fix chip tool code generation does not work
  scripts/tools/zap_generate_chip.sh
  src/controller/controller-clusters.zap
Labels: controller, scripts

#4983 Fix TI simplelink in unified build
  BUILD.gn
  config/cc13x2_26x2/toolchain/BUILD.gn
Labels: config

#5008 Fix Platform::New to return nullptr on failure
  src/lib/support/CHIPMem.h
Labels: lib

#4997 Remove unnecessary checking and casting of sizeof when we need uint16_t sizes
  src/app/server/RendezvousServer.cpp
  src/transport/AdminPairingTable.cpp
  src/transport/StorablePeerConnection.cpp
Labels: app, transport

#5007 Rename some IM MessageDef name in code
  src/app/Command.cpp
  src/app/Command.h
  src/app/CommandHandler.cpp
  src/app/CommandSender.cpp
  src/app/MessageDef/AttributePath.cpp
  src/app/MessageDef/AttributePath.h
  src/app/MessageDef/CommandPath.cpp
  src/app/MessageDef/CommandPath.h
  src/app/MessageDef/EventDataElement.cpp
  src/app/MessageDef/EventDataElement.h
  src/app/MessageDef/EventPath.cpp
  src/app/MessageDef/EventPath.h
  src/app/MessageDef/ReportData.cpp
  src/app/MessageDef/ReportData.h
  src/app/MessageDef/StatusElement.cpp
  src/app/MessageDef/StatusElement.h
  src/app/tests/TestMessageDef.cpp
Labels: app

#5030 Fix persistent storage example on EFR32
  examples/persistent-storage/efr32/include/FreeRTOSConfig.h
  src/platform/EFR32/KeyValueStoreManagerImpl.cpp
Labels: efr32, examples, hotfix, platform

#5004 Advertise operational MDNS parameters on device reboot
  examples/all-clusters-app/esp32/main/DeviceCallbacks.cpp
  src/app/server/BUILD.gn
  src/app/server/Mdns.cpp
  src/app/server/Mdns.h
  src/app/server/Server.cpp
  src/app/server/Server.h
  src/include/platform/CHIPDeviceEvent.h
  src/inet/IPEndPointBasis.cpp
  src/lib/mdns/Advertiser_ImplMinimalMdns.cpp
  src/lib/mdns/minimal/Server.cpp
  src/platform/ESP32/ConnectivityManagerImpl.cpp
  src/transport/AdminPairingTable.h
  src/transport/RendezvousParameters.h
  src/transport/RendezvousSession.cpp
Labels: app, esp32, examples, inet, lib, platform, scripts, transport

#5009 Add GetRemainingFreeLength
  src/lib/core/CHIPTLV.h
  src/lib/core/tests/TestCHIPTLV.cpp
Labels: lib
