Repository project-chip/connectedhomeip, pull requests merged in 2021-03, with the labels that each got.

#5084 Disable optional rotating device ID for QPG6100
  src/platform/qpg6100/args.gni
Labels: hotfix, platform, qpg6100

#5067 Remove execute permissions on source code
  src/credentials/BUILD.gn
  src/lib/asn1/ASN1.h
  src/lib/asn1/ASN1Config.h
  src/lib/asn1/ASN1Error.cpp
  src/lib/asn1/ASN1Error.h
  src/lib/asn1/ASN1OID.cpp
  src/lib/asn1/ASN1Writer.cpp
  src/lib/support/tests/TestTimeUtils.cpp
  src/platform/K32W/BlePlatformConfig.h
  src/platform/K32W/CHIPDevicePlatformEvent.h
Labels: k32w, lib, platform

#5087 [QPG6100] Removal additional brackets in LogV
  src/platform/qpg6100/Logging.cpp
Labels: platform, qpg6100

#5065 Rename Linux examples to their directory prefixed by "chip-"
  .vscode/launch.json
  examples/all-clusters-app/linux/BUILD.gn
  examples/all-clusters-app/linux/Dockerfile
  examples/all-clusters-app/linux/entrypoint.sh
  examples/bridge-app/linux/BUILD.gn
  examples/bridge-app/linux/Dockerfile
  examples/bridge-app/linux/README.md
  examples/bridge-app/linux/entrypoint.sh
  examples/lighting-app/linux/BUILD.gn
  examples/lighting-app/linux/Dockerfile
  examples/lighting-app/linux/README.md
  examples/lighting-app/linux/entrypoint.sh
  examples/tv-app/linux/BUILD.gn
  examples/tv-app/linux/Dockerfile
  examples/tv-app/linux/README.md
  examples/tv-app/linux/entrypoint.sh
Labels: examples, vscode

#5079 Use bool instead of uint8_t for requiresCustomFlow
  src/setup_payload/SetupPayload.h
Labels: setup payload

#5070 Fix and enable warnings -Wunreachable-code
  build/config/compiler/BUILD.gn
  src/app/server/Mdns.cpp
  src/app/util/util.cpp
  src/controller/java/CHIPDeviceController-JNI.cpp
  src/system/tests/TestSystemObject.cpp
  src/transport/AdminPairingTable.cpp
Labels: app, controller, system, transport

#5013 Thread-BLE provisioning supported in Python controller since 4991
  src/controller/README.md
Labels: controller

#5029 Replace memmove of PASESessionSerializable
  src/controller/CHIPDevice.cpp
Labels: controller

#5099 Fix secure channel after removing node IDs from rendezvous
  src/transport/RendezvousSession.cpp
Labels: transport

#5046 Fix src/app/server config propagation
  examples/lighting-app/linux/BUILD.gn
  src/app/server/BUILD.gn
Labels: app, examples

#5043 Remove unused K32W makefile
  config/k32w/k32w061-app.mk
  config/k32w/k32w061-chip.mk
  examples/lock-app/k32w/Makefile
Labels: config, examples

#5048 [doc/nrfconnect] Remove usage of 2001:db8:: addresses
  docs/guides/nrfconnect_android_commissioning.md
Labels: documentation

#5052 [nrfconnect] Update Docker image to nRF Connect SDK 1.5
  .github/workflows/examples-nrfconnect.yaml
  integrations/docker/images/chip-build-nrf-platform/Dockerfile
  integrations/docker/images/chip-build-vscode/Dockerfile
  integrations/docker/images/chip-build/version
Labels: github, integrations, workflows

#5027 Allow specifying controller NodeID to chip-device-ctrl
  src/controller/python/ChipDeviceController-ScriptBinding.cpp
  src/controller/python/chip-device-ctrl.py
  src/controller/python/chip/ChipDeviceCtrl.py
Labels: controller

#5002 Update the project layout in README.md
  .default-version
  README.md
  tools/README.md
Labels: tools

#5000 Change note about external SDKs to use cc13x2_26x2
  docs/BUILDING.md
Labels: documentation

#5038 [ESP32] Replace ESP_IF_WIFI_* with WIFI_IF_*
  src/platform/ESP32/ConfigurationManagerImpl.cpp
  src/platform/ESP32/ConnectivityManagerImpl.cpp
  src/platform/ESP32/ESP32Utils.cpp
  src/platform/ESP32/NetworkProvisioningServerImpl.cpp
  src/platform/ESP32/ServiceProvisioning.cpp
Labels: esp32, platform

#5037 Replace common.h with full path to header
  src/app/clusters/door-lock-server/door-lock-server-user.cpp
  src/app/clusters/identify/identify.cpp
  src/app/tests/integration/chip_im_initiator.cpp
  src/app/tests/integration/chip_im_responder.cpp
  src/app/tests/integration/common.cpp
  src/app/util/af-main-common.cpp
  src/app/util/attribute-storage.cpp
  src/app/util/attribute-table.cpp
  src/app/util/client-api.cpp
  src/app/util/process-cluster-message.cpp
  src/app/util/process-global-message.cpp
  src/app/util/util.cpp
Labels: app

#5081 Use a min/max length for salt in pbkdf2_sha256
  src/crypto/CHIPCryptoPAL.h
  src/crypto/CHIPCryptoPALOpenSSL.cpp
  src/crypto/CHIPCryptoPALmbedTLS.cpp
  src/crypto/tests/PBKDF2_SHA256_test_vectors.h
  src/transport/PASESession.cpp
  src/transport/RendezvousSession.cpp
  src/transport/tests/TestPASESession.cpp
Labels: crypto, transport

#4988 Add examples/bridge-app/linux to CI
  .github/workflows/examples-linux-standalone.yaml
Labels: github, workflows

#5040 [Thread] Support Thread network provisioning using Thread operational dataset TLV
  src/include/platform/ThreadStackManager.h
  src/platform/Linux/ThreadStackManagerImpl.cpp
  src/platform/Linux/ThreadStackManagerImpl.h
  src/platform/OpenThread/GenericThreadStackManagerImpl_OpenThread.cpp
  src/platform/OpenThread/GenericThreadStackManagerImpl_OpenThread.h
Labels: linux, openthread, platform

#5031 Fix KVS assert failure on EFR examples
  examples/persistent-storage/efr32/BUILD.gn
  examples/persistent-storage/efr32/ldscripts/efr32-persistent_storage-example-MG12P.ld
  examples/persistent-storage/efr32/ldscripts/efr32-persistent_storage-example-MG21.ld
  third_party/efr32_sdk/efr32_sdk.gni
Labels: efr32, examples, hotfix, platform

#5100 [nrfconnect] Escape GN arguments coming from CMake
  config/nrfconnect/chip-module/CMakeLists.txt
  config/nrfconnect/chip-module/make_gn_args.py
Labels: config

#5089 Switch ${build_root}/chip back to ${chip_root}/build/chip
  BUILD.gn
  build/chip/buildconfig_header.gni
  build/chip/chip_build.gni
  build/chip/chip_test.gni
  build/chip/chip_test_group.gni
  build/chip/chip_test_suite.gni
  build/chip/happy_test.gni
  build/chip/java/rules.gni
  config/esp32/BUILD.gn
  config/nrfconnect/chip-gn/BUILD.gn
  examples/all-clusters-app/linux/BUILD.gn
  examples/chip-tool/BUILD.gn
  examples/chip-tool/commands/clusters/ModelCommand.cpp
  examples/lighting-app/linux/BUILD.gn
  examples/minimal-mdns/BUILD.gn
  examples/shell/standalone/BUILD.gn
  src/BUILD.gn
  src/app/tests/BUILD.gn
  src/app/tests/integration/BUILD.gn
  src/ble/BUILD.gn
  src/ble/tests/BUILD.gn
  src/controller/java/BUILD.gn
  src/controller/python/BUILD.gn
  src/credentials/tests/BUILD.gn
  src/crypto/BUILD.gn
  src/crypto/tests/BUILD.gn
  src/inet/BUILD.gn
  src/inet/tests/BUILD.gn
  src/lib/asn1/tests/BUILD.gn
  src/lib/core/BUILD.gn
  src/lib/core/tests/BUILD.gn
  src/lib/mdns/minimal/core/tests/BUILD.gn
  src/lib/mdns/minimal/records/tests/BUILD.gn
  src/lib/mdns/minimal/responders/tests/BUILD.gn
  src/lib/mdns/minimal/tests/BUILD.gn
  src/lib/shell/tests/BUILD.gn
  src/lib/support/BUILD.gn
  src/lib/support/tests/BUILD.gn
  src/lwip/BUILD.gn
  src/lwip/tests/BUILD.gn
  src/messaging/tests/BUILD.gn
  src/messaging/tests/echo/BUILD.gn
  src/platform/BUILD.gn
  src/platform/Linux/dbus/bluez/BUILD.gn
  src/platform/Linux/dbus/wpa/BUILD.gn
  src/platform/tests/BUILD.gn
  src/protocols/bdx/tests/BUILD.gn
  src/qrcodetool/BUILD.gn
  src/setup_payload/java/BUILD.gn
  src/setup_payload/tests/BUILD.gn
  src/system/BUILD.gn
  src/system/tests/BUILD.gn
  src/test_driver/happy/tests/standalone/inet/BUILD.gn
  src/transport/raw/tests/BUILD.gn
  src/transport/retransmit/tests/BUILD.gn
  src/transport/tests/BUILD.gn
  third_party/jlink/segger_rtt/RTT/BUILD.gn
Labels: app, ble, config, controller, crypto, examples, inet, lib

#5041 [clusters] Network Commissioning Server
  examples/bridge-app/bridge-common/gen/attribute-id.h
  examples/bridge-app/bridge-common/gen/cluster-id.h
  examples/bridge-app/bridge-common/gen/print-cluster.h
  examples/lighting-app/lighting-common/BUILD.gn
  examples/lighting-app/lighting-common/gen/CHIPClustersObjc.h
  examples/lighting-app/lighting-common/gen/CHIPClustersObjc.mm
  examples/lighting-app/lighting-common/gen/attribute-id.h
  examples/lighting-app/lighting-common/gen/call-command-handler.cpp
  examples/lighting-app/lighting-common/gen/callback-stub.cpp
  examples/lighting-app/lighting-common/gen/callback.h
  examples/lighting-app/lighting-common/gen/cluster-id.h
  examples/lighting-app/lighting-common/gen/endpoint_config.h
  examples/lighting-app/lighting-common/gen/gen_config.h
  examples/lighting-app/lighting-common/gen/print-cluster.h
  examples/lighting-app/lighting-common/lighting-app.zap
  examples/lighting-app/nrfconnect/CMakeLists.txt
  examples/lock-app/lock-common/gen/attribute-id.h
  examples/lock-app/lock-common/gen/cluster-id.h
  examples/lock-app/lock-common/gen/print-cluster.h
  examples/temperature-measurement-app/esp32/main/gen/attribute-id.h
  examples/temperature-measurement-app/esp32/main/gen/cluster-id.h
  examples/temperature-measurement-app/esp32/main/gen/print-cluster.h
  src/app/chip-zcl-zpro-codec-api.h
  src/app/clusters/network-commissioning/network-commissioning-ember.cpp
  src/app/clusters/network-commissioning/network-commissioning.cpp
  src/app/clusters/network-commissioning/network-commissioning.h
  src/app/encoder.cpp
  src/app/zap-templates/templates/chip/python-chip-ChipCluster.zapt
  src/controller/CHIPClusters.cpp
  src/controller/CHIPClusters.h
  src/controller/controller-clusters.zap
  src/controller/python/ChipDeviceController-ClusterCommands.cpp
  src/controller/python/chip/ChipCluster.py
Labels: app, controller, examples, scripts

#5093 Use RFC specified values for min-mDNS time to live
  src/lib/mdns/minimal/records/ResourceRecord.h
  src/lib/mdns/minimal/records/Txt.h
  src/lib/mdns/minimal/records/tests/TestResourceRecord.cpp
Labels: lib

#5082 Removal of %h/%hh specifiers - not supported in newlib-nano printf
  src/app/util/ember-print.cpp
  src/platform/OpenThread/GenericThreadStackManagerImpl_OpenThread.cpp
Labels: app, openthread, platform

#5077 Add a timeout for BLE scanning under darwin
  src/platform/Darwin/BleConnectionDelegateImpl.mm
Labels: darwin, platform

#5044 Remove unused BUILD_RELEASE defines
  examples/all-clusters-app/linux/BUILD.gn
  examples/bridge-app/linux/BUILD.gn
  examples/chip-tool/BUILD.gn
  examples/lighting-app/efr32/BUILD.gn
  examples/lighting-app/linux/BUILD.gn
  examples/lighting-app/qpg6100/BUILD.gn
  examples/lock-app/efr32/BUILD.gn
  examples/lock-app/qpg6100/BUILD.gn
  examples/persistent-storage/efr32/BUILD.gn
  examples/persistent-storage/linux/BUILD.gn
  examples/pigweed-app/efr32/BUILD.gn
  examples/shell/standalone/BUILD.gn
  examples/tv-app/linux/BUILD.gn
Labels: examples

#5054 Removed port and interface arguments from device/controller inits.
  examples/chip-tool/commands/pairing/PairingCommand.cpp
  src/controller/CHIPDevice.cpp
  src/controller/CHIPDevice.h
  src/controller/CHIPDeviceController.cpp
  src/controller/CHIPDeviceController.h
  src/controller/CHIPDeviceController_deprecated.cpp
  src/controller/CHIPDeviceController_deprecated.h
  src/controller/java/CHIPDeviceController-JNI.cpp
Labels: controller, examples

#4985 Add APIs to startup and shutdown the CHIP Stack on demand
  src/darwin/CHIPTool/CHIPTool/Framework Helpers/DefaultsUtils.m
  src/darwin/Framework/CHIP/CHIPDeviceController.h
  src/darwin/Framework/CHIP/CHIPDeviceController.mm
  src/include/platform/internal/GenericPlatformManagerImpl.cpp
  src/include/platform/internal/GenericPlatformManagerImpl.h
  src/include/platform/internal/GenericPlatformManagerImpl_POSIX.cpp
Labels: controller, darwin

#5126 Fix build error from unused kThreadNetworkName variable.
  src/app/clusters/network-commissioning/network-commissioning.cpp
Labels: app, hotfix

#5134 Fix docker build errors
  integrations/docker/images/chip-build-esp32/Dockerfile
  integrations/docker/images/chip-build-vscode/Dockerfile
Labels: hotfix, integrations

#5135 Update qemu dockerfile
  integrations/docker/images/chip-build-esp32-qemu/Dockerfile
Labels: hotfix, integrations

#5115 [EFR32] Make sure Logs cannot write out of bounds, cleanup examples and build system.
  examples/lighting-app/efr32/BUILD.gn
  examples/lighting-app/efr32/README.md
  examples/lighting-app/efr32/args.gni
  examples/lighting-app/efr32/include/AppConfig.h
  examples/lighting-app/efr32/src/main.cpp
  examples/lighting-app/efr32/with_pw_rpc.gni
  examples/lock-app/efr32/BUILD.gn
  examples/lock-app/efr32/README.md
  examples/lock-app/efr32/args.gni
  examples/lock-app/efr32/include/AppConfig.h
  examples/lock-app/efr32/src/main.cpp
  examples/lock-app/efr32/with_pw_rpc.gni
  examples/persistent-storage/efr32/BUILD.gn
  examples/persistent-storage/efr32/README.md
  examples/persistent-storage/efr32/args.gni
  examples/persistent-storage/efr32/main.cpp
  examples/persistent-storage/efr32/with_pw_rpc.gni
  examples/pigweed-app/efr32/BUILD.gn
  examples/pigweed-app/efr32/args.gni
  examples/pigweed-app/efr32/include/FreeRTOSConfig.h
  examples/pigweed-app/efr32/src/main.cpp
  examples/platform/efr32/args.gni
  examples/platform/efr32/efr32mg12/BRD4161A/init_board.c
  examples/platform/efr32/efr32mg12/BRD4161A/init_mcu.c
  examples/platform/efr32/efr32mg12/BRD4163A/init_board.c
  examples/platform/efr32/efr32mg12/BRD4163A/init_mcu.c
  examples/platform/efr32/efr32mg12/BRD4164A/init_board.c
  examples/platform/efr32/efr32mg12/BRD4164A/init_mcu.c
  examples/platform/efr32/efr32mg12/BRD4166A/hal-config.h
  examples/platform/efr32/efr32mg12/BRD4166A/init_board.c
  examples/platform/efr32/efr32mg12/BRD4166A/init_mcu.c
  examples/platform/efr32/efr32mg12/BRD4170A/init_board.c
  examples/platform/efr32/efr32mg12/BRD4170A/init_mcu.c
  examples/platform/efr32/efr32mg12/BRD4304A/init_board.c
  examples/platform/efr32/efr32mg12/BRD4304A/init_mcu.c
  examples/platform/efr32/efr32mg21/BRD4180A/init_board.c
  examples/platform/efr32/efr32mg21/BRD4180A/init_mcu.c
  examples/platform/efr32/init_board.h
  examples/platform/efr32/init_efrPlatform.cpp
  examples/platform/efr32/init_efrPlatform.h
  examples/platform/efr32/init_mcu.h
  examples/platform/efr32/uart.c
  src/platform/EFR32/CHIPDevicePlatformConfig.h
  src/platform/EFR32/Logging.cpp
  src/platform/EFR32/args.gni
  src/platform/device.gni
Labels: examples

#5078 Code review followup: remove unnecessary using, fix typo and change f…
  src/app/server/Mdns.cpp
Labels: app

#4932 Integrate Message Counter Synchronization Protocol to CHIP stack
  src/messaging/ExchangeContext.cpp
  src/messaging/ExchangeContext.h
  src/messaging/ExchangeMgr.cpp
  src/messaging/ExchangeMgr.h
  src/messaging/MessageCounterSync.cpp
  src/messaging/MessageCounterSync.h
  src/messaging/tests/TestMessageCounterSyncMgr.cpp
  src/transport/PeerConnectionState.h
  src/transport/SecureSessionMgr.cpp
  src/transport/raw/MessageHeader.h
Labels: transport

#5136 Reduce PBKDF2 iteration counts in unit test vectors
  src/crypto/tests/PBKDF2_SHA256_test_vectors.h
Labels: crypto

#5124 Add a constexpr function to compute the max length of a set of literal strings.
  src/lib/support/CodeUtils.h
  src/lib/support/SafeString.h
  src/lib/support/tests/BUILD.gn
  src/lib/support/tests/TestSafeString.cpp
Labels: lib

#5125 [linux] Fire InternetConnectivityChange event when we get an IP address on wlan netif.
  src/platform/Linux/ConnectivityManagerImpl.cpp
  src/platform/Linux/PlatformManagerImpl.cpp
  src/platform/Linux/PlatformManagerImpl.h
Labels: linux, platform

#5112 Fix Issues building and running python controller on MacOS
  src/controller/python/README.md
  src/controller/python/build-chip-wheel.py
Labels: controller

#5103 [nrfconnect] Added changes related with the nRF Connect SDK update to 1.5.0.
  .github/workflows/examples-nrfconnect.yaml
  config/nrfconnect/app/sample-defaults.conf
  config/nrfconnect/chip-module/CMakeLists.txt
  config/nrfconnect/chip-module/zephyr/module.yml
  examples/lighting-app/nrfconnect/README.md
  examples/lock-app/nrfconnect/README.md
  examples/pigweed-app/nrfconnect/README.md
Labels: config, examples, github, workflows

#5142 [EFR32] Use SafeString api for Log category max string length
  src/platform/EFR32/Logging.cpp
Labels: efr32, platform

#5149 [nrfconnect] Fixed missing shell console in examples
  config/nrfconnect/app/sample-defaults.conf
Labels: config

#5024 Add ability to redirect CHIP logs to a callback and add python log callback integration
  src/controller/python/BUILD.gn
  src/controller/python/build-chip-wheel.py
  src/controller/python/chip-repl.py
  src/controller/python/chip/logging/LoggingRedirect.cpp
  src/controller/python/chip/logging/__init__.py
  src/controller/python/chip/logging/library_handle.py
  src/controller/python/chip/logging/types.py
  src/lib/support/logging/CHIPLogging.cpp
  src/lib/support/logging/CHIPLogging.h
Labels: controller, lib

#5156 CHIP-tool SEGFAULTS on master when trying to provision ESP32
  src/transport/RendezvousSession.cpp
Labels: transport

#5157 Added initial support for SRP client.
  config/nrfconnect/chip-module/Kconfig
  src/app/server/Server.cpp
  src/include/platform/CHIPDeviceConfig.h
  src/include/platform/ThreadStackManager.h
  src/include/platform/internal/GenericPlatformManagerImpl_POSIX.cpp
  src/platform/BUILD.gn
  src/platform/Linux/ThreadStackManagerImpl.cpp
  src/platform/Linux/ThreadStackManagerImpl.h
  src/platform/OpenThread/GenericThreadStackManagerImpl_OpenThread.cpp
  src/platform/OpenThread/GenericThreadStackManagerImpl_OpenThread.h
  src/platform/nrfconnect/CHIPDevicePlatformConfig.h
  src/transport/NetworkProvisioning.cpp
Labels: app, config, linux, nrf connect, openthread, platform, transport

#5083 Add support for chip.ble.commisioning for CHIP-REPL
  src/controller/CHIPDeviceController.cpp
  src/controller/python/BUILD.gn
  src/controller/python/build-chip-wheel.py
  src/controller/python/chip-repl.py
  src/controller/python/chip/ble/commissioning/__init__.py
  src/controller/python/chip/configuration/__init__.py
  src/controller/python/chip/internal/ChipThreadWork.cpp
  src/controller/python/chip/internal/ChipThreadWork.h
  src/controller/python/chip/internal/CommissionerImpl.cpp
  src/controller/python/chip/internal/__init__.py
  src/controller/python/chip/internal/commissioner.py
  src/controller/python/chip/internal/types.py
  src/controller/python/chip/native/StackInit.cpp
  src/controller/python/chip/native/__init__.py
  src/transport/RendezvousSession.cpp
Labels: controller, examples, transport

#5137 Add a python based ESP32 logcat script for linux
  scripts/tools/esp32_log_cat.py
Labels: scripts

#5145 Cleanup IM command
  src/app/Command.cpp
  src/app/Command.h
  src/app/CommandHandler.cpp
  src/app/CommandHandler.h
  src/app/CommandSender.cpp
  src/app/CommandSender.h
  src/app/InteractionModelEngine.h
Labels: app

#5160 Typo. MdnsAsnycReturnCallback -> MdnsAsyncReturnCallback
  src/lib/mdns/platform/Mdns.h
  src/platform/ESP32/MdnsImpl.cpp
  src/platform/Linux/MdnsImpl.cpp
  src/platform/Linux/MdnsImpl.h
Labels: esp32, lib, linux, platform

#5141 Update chip-tool zapt to align with src/app/zap-templates
  examples/chip-tool/templates/commands.zapt
Labels: examples

#5101 Add kProtocol_SetupPayload to Protocols.h and use it for the setup pa…
  src/setup_payload/QRCodeSetupPayloadGenerator.cpp
  src/setup_payload/QRCodeSetupPayloadParser.cpp
  src/setup_payload/SetupPayload.h
  src/setup_payload/tests/TestHelpers.h
  src/setup_payload/tests/TestQRCodeTLV.cpp
Labels: setup payload

#5164 Add missing LOG_INFO to log buffer length calculation.
  src/platform/EFR32/Logging.cpp
Labels: efr32, platform

#5032 [IM] Convert call form IM to current ember ZCL implementation.
  examples/all-clusters-app/all-clusters-common/gen/IMClusterCommandHandler.cpp
  examples/all-clusters-app/all-clusters-common/gen/endpoint_config.h
  examples/bridge-app/bridge-common/gen/IMClusterCommandHandler.cpp
  examples/chip-tool/gen/IMClusterCommandHandler.cpp
  examples/lighting-app/lighting-common/BUILD.gn
  examples/lighting-app/lighting-common/gen/IMClusterCommandHandler.cpp
  examples/lock-app/lock-common/gen/IMClusterCommandHandler.cpp
  examples/temperature-measurement-app/esp32/main/gen/IMClusterCommandHandler.cpp
  examples/tv-app/tv-common/gen/IMClusterCommandHandler.cpp
  src/app/Command.h
  src/app/util/ember-compatibility-functions.cpp
  src/app/util/ember-compatibility-functions.h
  src/app/util/util.cpp
  src/app/zap-templates/app-templates.json
  src/app/zap-templates/partials/im_command_handler_cluster_commands.zapt
  src/app/zap-templates/templates/app/im-cluster-command-handler.zapt
  src/app/zap-templates/templates/chip/CHIPClusters-src.zapt
  src/controller/CHIPClusters.cpp
  src/darwin/Framework/CHIP/gen/IMClusterCommandHandler.cpp
Labels: app, controller, darwin, examples, scripts

#5174 [crypto] Replace #5099 with a better fix
  src/transport/RendezvousSession.cpp
Labels: hotfix, transport

#5175 [zephyr] Fix logging long integers
  config/nrfconnect/chip-module/Kconfig
  src/platform/Zephyr/Logging.cpp
Labels: config, platform, zephyr

#5173 [linux] mNodeId->mAdapterId for BLE on linux
  src/platform/Linux/BLEManagerImpl.cpp
  src/platform/Linux/BLEManagerImpl.h
  src/platform/Linux/bluez/Helper.cpp
  src/platform/Linux/bluez/Types.h
Labels: linux, platform

#5165 Clarify GetKeyValue documentation and align implementations.
  src/controller/python/ChipDeviceController-StorageDelegate.cpp
  src/darwin/Framework/CHIP/CHIPPersistentStorageDelegateBridge.mm
  src/lib/core/CHIPPersistentStorageDelegate.h
Labels: controller, darwin, lib

#5122 [util] Create ByteSpan class for holding OCTET_STRING type values in ZCL encoder
  examples/all-clusters-app/all-clusters-common/gen/CHIPClustersObjc.h
  examples/all-clusters-app/all-clusters-common/gen/CHIPClustersObjc.mm
  examples/bridge-app/bridge-common/gen/CHIPClustersObjc.mm
  examples/chip-tool/commands/clusters/Commands.h
  examples/chip-tool/gen/CHIPClustersObjc.h
  examples/chip-tool/gen/CHIPClustersObjc.mm
  examples/chip-tool/templates/commands.zapt
  examples/lighting-app/lighting-common/gen/CHIPClustersObjc.h
  examples/lighting-app/lighting-common/gen/CHIPClustersObjc.mm
  examples/lock-app/lock-common/gen/CHIPClustersObjc.mm
  examples/temperature-measurement-app/esp32/main/gen/CHIPClustersObjc.mm
  examples/tv-app/tv-common/gen/CHIPClustersObjc.mm
  src/app/chip-zcl-zpro-codec-api.h
  src/app/encoder.cpp
  src/app/zap-templates/common/StringHelper.js
  src/app/zap-templates/templates/chip/CHIPClusters-src.zapt
  src/app/zap-templates/templates/chip/CHIPClusters.zapt
  src/app/zap-templates/templates/chip/CHIPClustersObjc-src.zapt
  src/app/zap-templates/templates/chip/CHIPClustersObjc.zapt
  src/app/zap-templates/templates/chip/chip-zcl-zpro-codec-api.zapt
  src/app/zap-templates/templates/chip/encoder-src.zapt
  src/app/zap-templates/templates/chip/helper.js
  src/app/zap-templates/templates/chip/python-ChipDeviceController-ClusterCommands.zapt
  src/app/zap-templates/templates/chip/python-chip-ChipCluster.zapt
  src/controller/CHIPClusters.cpp
  src/controller/CHIPClusters.h
  src/controller/python/ChipDeviceController-ClusterCommands.cpp
  src/controller/python/chip-device-ctrl.py
  src/controller/python/chip/ChipCluster.py
  src/darwin/Framework/CHIP/gen/CHIPClustersObjc.mm
  src/lib/core/CHIPTLV.h
  src/lib/core/CHIPTLVWriter.cpp
  src/lib/support/Span.h
Labels: app, controller, darwin, examples

#5025 [python/mdns] Add "resolve" command for operational discovery
  src/controller/BUILD.gn
  src/controller/CHIPDevice.cpp
  src/controller/CHIPDevice.h
  src/controller/CHIPDeviceController_deprecated.cpp
  src/controller/DeviceAddressUpdater.cpp
  src/controller/DeviceAddressUpdater.h
  src/controller/python/BUILD.gn
  src/controller/python/ChipDeviceController-ScriptBinding.cpp
  src/controller/python/ChipDeviceController-ScriptDeviceAddressUpdateDelegate.cpp
  src/controller/python/ChipDeviceController-ScriptDeviceAddressUpdateDelegate.h
  src/controller/python/chip-device-ctrl.py
  src/controller/python/chip/ChipDeviceCtrl.py
  src/lib/BUILD.gn
  src/lib/mdns/BUILD.gn
  src/lib/mdns/Discovery_ImplPlatform.cpp
  src/lib/mdns/Discovery_ImplPlatform.h
  src/lib/mdns/Resolver.h
  src/lib/mdns/Resolver_ImplNone.cpp
  src/platform/Linux/MdnsImpl.cpp
Labels: controller, lib, linux, platform

#5185 remove use of <iterator>
  src/lib/mdns/minimal/responders/QueryResponder.h
  src/transport/AdminPairingTable.h
Labels: lib, transport

#5190 Fix various issues from a code review of PR #4932.
  src/messaging/ExchangeContext.cpp
  src/messaging/ExchangeContext.h
  src/messaging/ExchangeMgr.cpp
  src/messaging/ExchangeMgr.h
  src/messaging/MessageCounterSync.cpp
  src/messaging/MessageCounterSync.h
  src/transport/PeerConnectionState.h
  src/transport/SecureSessionMgr.cpp
Labels: transport

#5201 Fix two arguments typo in document.
  examples/lighting-app/linux/README.md
  src/controller/python/README.md
Labels: controller, examples

#5194 Fix build_python.sh on Mac without requiring coreutils
  scripts/build_python.sh
  scripts/requirements.in
  scripts/requirements.txt
  src/controller/python/build-chip-wheel.py
Labels: controller, scripts

#5219 Fix segfault when running python controller on mac
  src/platform/Darwin/BleConnectionDelegateImpl.mm
Labels: darwin, hotfix, platform

#5237 [chip-tool] stringstream gives wrong results when converting int8_t a…
  examples/chip-tool/commands/common/Command.cpp
Labels: examples

#5241 doc: nrfconnect: update architecture diagram
  docs/images/chip_nrfconnect_overview_simplified.svg
Labels: documentation

#5246 Darwin_Use_CHIP_DEVICE_ERROR_CONFIG_NOT_FOUND_insteadof_CHIP_ERROR_PE…
  src/platform/Darwin/PosixConfig.cpp
Labels: darwin, platform

#5216 Implement CMake build for ESP32
  config/esp32/components/chip/CMakeLists.txt
  config/esp32/components/chip/chip.c
  config/esp32/components/chip/chip.cpp
  config/esp32/components/chip/create_args_gn.py
  config/esp32/components/esp32_mbedtls/CMakeLists.txt
  examples/all-clusters-app/esp32/CMakeLists.txt
  examples/all-clusters-app/esp32/main/CMakeLists.txt
  examples/common/QRCode/CMakeLists.txt
  examples/common/screen-framework/CMakeLists.txt
Labels: config, examples

#5222 Cleanup CHIPDeviceController code for error handling
  src/controller/CHIPDeviceController.cpp
Labels: controller

#5210 Fix typo-mistake in all-cluster-app/esp32 README.
  examples/all-clusters-app/esp32/README.md
Labels: examples

#5244 CHIP does not build with chip_config_network_layer_ble = false
  examples/bridge-app/linux/main.cpp
  examples/lighting-app/linux/main.cpp
  src/controller/python/build-chip-wheel.py
  src/controller/python/chip/internal/CommissionerImpl.cpp
  src/platform/device.gni
Labels: controller, examples, platform

#5227 Use peer encryption key ID in message header while sending message
  src/messaging/tests/TestMessageCounterSyncMgr.cpp
  src/transport/PeerConnections.h
  src/transport/SecureMessageCodec.cpp
  src/transport/SecureSessionMgr.cpp
Labels: transport

#5213 [controller] Remove addressUpdater argument from NewDeviceController
  src/controller/python/ChipDeviceController-ScriptBinding.cpp
Labels: controller

#5230 Replace semaphores with dispatch semaphore for apple
  src/controller/python/chip/internal/ChipThreadWork.cpp
Labels: controller

#5275 [ble/linux] Attempt to set "BR/EDR Not Supported" flag.
  src/platform/Linux/bluez/Helper.cpp
Labels: linux, platform

#5269 Fix all clusters app clear build.
  scripts/examples/build-all-clusters-app.py
Labels: scripts

#5254 ESP32: Add a comment in all-clusters-app Makefile and CMakeLists.txt
  examples/all-clusters-app/esp32/CMakeLists.txt
  examples/all-clusters-app/esp32/Makefile
  examples/all-clusters-app/esp32/main/CMakeLists.txt
  examples/all-clusters-app/esp32/main/component.mk
Labels: examples

#5274 Adding silabs & nordic as reviewer groups
  .github/CODEOWNERS
  .pullapprove.yml
  REVIEWERS.md
Labels: github

#5253 Remove unused src/darwin/Framework/CHIP/CHIPClustersObjc.* files
  src/darwin/Framework/CHIP/CHIPClustersObjc.h
  src/darwin/Framework/CHIP/CHIPClustersObjc.mm
Labels: darwin

#5267 Fix TXT record.
  src/lib/mdns/Advertiser_ImplMinimalMdns.cpp
Labels: lib

#5232 Expand use of type-safe `BitFlags` and `enum class`.
  src/app/Command.cpp
  src/app/Command.h
  src/app/tests/integration/chip_im_initiator.cpp
  src/app/tests/integration/chip_im_responder.cpp
  src/app/util/ember-compatibility-functions.cpp
  src/app/zap-templates/templates/chip/CHIPClusters-src.zapt
  src/ble/BLEEndPoint.cpp
  src/ble/BLEEndPoint.h
  src/ble/BtpEngine.cpp
  src/ble/BtpEngine.h
  src/controller/CHIPClusters.cpp
  src/credentials/CHIPCert.cpp
  src/credentials/CHIPCert.h
  src/credentials/CHIPCertFromX509.cpp
  src/credentials/CHIPCertToX509.cpp
  src/credentials/tests/CHIPCert_test_vectors.cpp
  src/credentials/tests/CHIPCert_test_vectors.h
  src/credentials/tests/TestChipCert.cpp
  src/include/platform/internal/GenericConfigurationManagerImpl.cpp
  src/include/platform/internal/GenericConfigurationManagerImpl.h
  src/include/platform/internal/GenericConnectivityManagerImpl_Thread.cpp
  src/include/platform/internal/GenericConnectivityManagerImpl_Thread.h
  src/include/platform/internal/GenericConnectivityManagerImpl_WiFi.h
  src/lib/support/BitFlags.h
  src/lib/support/BytesToHex.cpp
  src/lib/support/BytesToHex.h
  src/messaging/ExchangeContext.h
  src/messaging/Flags.h
  src/messaging/ReliableMessageContext.cpp
  src/messaging/ReliableMessageContext.h
  src/platform/EFR32/BLEManagerImpl.cpp
  src/platform/EFR32/BLEManagerImpl.h
  src/platform/ESP32/BLEManagerImpl.h
  src/platform/ESP32/ConnectivityManagerImpl.cpp
  src/platform/ESP32/ConnectivityManagerImpl.h
  src/platform/ESP32/bluedroid/BLEManagerImpl.cpp
  src/platform/ESP32/nimble/BLEManagerImpl.cpp
  src/platform/K32W/BLEManagerImpl.cpp
  src/platform/K32W/BLEManagerImpl.h
  src/platform/Linux/BLEManagerImpl.cpp
  src/platform/Linux/BLEManagerImpl.h
  src/platform/Linux/ConnectivityManagerImpl.cpp
  src/platform/Linux/ConnectivityManagerImpl.h
  src/platform/Linux/bluez/Helper.cpp
  src/platform/Zephyr/BLEManagerImpl.cpp
  src/platform/Zephyr/BLEManagerImpl.h
  src/platform/cc13x2_26x2/BLEManagerImpl.cpp
  src/platform/qpg6100/BLEManagerImpl.cpp
  src/platform/qpg6100/BLEManagerImpl.h
  src/protocols/bdx/BdxMessages.cpp
  src/protocols/bdx/BdxMessages.h
  src/protocols/bdx/BdxTransferSession.cpp
  src/protocols/bdx/BdxTransferSession.h
  src/protocols/bdx/tests/TestBdxMessages.cpp
  src/protocols/bdx/tests/TestBdxTransferSession.cpp
  src/setup_payload/AdditionalDataPayloadGenerator.cpp
  src/setup_payload/AdditionalDataPayloadGenerator.h
  src/transport/raw/MessageHeader.cpp
  src/transport/raw/MessageHeader.h
Labels: app, ble, controller, lib

#5208 Remove unused TapAddrAutoconf.cpp
  src/inet/tests/BUILD.gn
  src/inet/tests/TapAddrAutoconf.cpp
Labels: inet

#5205 Remove unused include src/app/gen include directory
  src/app/BUILD.gn
Labels: app

#5154 [mdns] fix esp32 mdns publish error with platform implementation
  src/app/server/Mdns.cpp
  src/app/server/Server.cpp
  src/lib/mdns/Advertiser.h
  src/lib/mdns/Discovery_ImplPlatform.cpp
  src/lib/mdns/Discovery_ImplPlatform.h
Labels: app, lib

#5207 Move CHIP_DEVICE_CONFIG_ENABLE_CHIPOBLE to CHIPDeviceBuildConfig.h
  src/BUILD.gn
  src/platform/BUILD.gn
Labels: platform

#5150 [controller] Add ability for selecting bluetooth adapter on linux
  examples/chip-tool/BUILD.gn
  examples/chip-tool/commands/common/Commands.cpp
  src/controller/CHIPDeviceController.cpp
  src/controller/python/ChipDeviceController-ScriptBinding.cpp
  src/controller/python/README.md
  src/controller/python/chip-device-ctrl.py
  src/controller/python/chip/ChipBluezMgr.py
  src/controller/python/chip/ChipDeviceCtrl.py
  src/controller/python/chip/ChipStack.py
  src/platform/Linux/bluez/Helper.cpp
Labels: controller, examples, linux, platform

#5119 Update Android CHIPTool to use new device controller
  src/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/CHIPToolActivity.kt
  src/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/clusterclient/OnOffClientFragment.kt
  src/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/echoclient/EchoClientFragment.kt
  src/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/provisioning/DeviceProvisioningFragment.kt
  src/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/util/DeviceIdUtil.kt
  src/android/CHIPTool/app/src/main/res/layout/echo_client_fragment.xml
  src/android/CHIPTool/app/src/main/res/layout/on_off_client_fragment.xml
  src/android/CHIPTool/app/src/main/res/values/strings.xml
  src/controller/java/AndroidDeviceControllerWrapper.cpp
  src/controller/java/AndroidDeviceControllerWrapper.h
  src/controller/java/BUILD.gn
  src/controller/java/CHIPDeviceController-JNI.cpp
  src/controller/java/CHIPJNIError.h
  src/controller/java/src/chip/devicecontroller/AndroidPersistentStorageDelegate.java
  src/controller/java/src/chip/devicecontroller/ChipDeviceController.java
  src/controller/java/src/chip/devicecontroller/PersistentStorage.java
Labels: android, controller, restyled-ignore

#5278 Fix symlinks that escape the repository
  examples/lighting-app/efr32/third_party/connectedhomeip
  examples/persistent-storage/efr32/third_party/connectedhomeip
  examples/pigweed-app/efr32/third_party/connectedhomeip
Labels: examples

#5287 [python/fix] _dmLib -> _ChipStackLib in ChipStack.py
  src/controller/python/chip/ChipStack.py
Labels: controller

#5283 Publish Doxygen to GitHub Pages Fixes #1099
  .github/workflows/doxygen.yaml
  docs/Doxyfile
Labels: documentation, github, workflows

#5221 [nrfconnect] Don't add test pairing on startup
  examples/lighting-app/nrfconnect/main/AppTask.cpp
  examples/lighting-app/nrfconnect/main/include/CHIPProjectConfig.h
  examples/lighting-app/nrfconnect/main/main.cpp
  examples/lock-app/nrfconnect/main/AppTask.cpp
  examples/lock-app/nrfconnect/main/include/CHIPProjectConfig.h
  examples/lock-app/nrfconnect/main/main.cpp
  examples/shell/nrfconnect/CHIPProjectConfig.h
  src/app/server/Server.cpp
  src/app/server/Server.h
  src/transport/AdminPairingTable.h
Labels: app, examples, transport

#5123 [cluster] Add Thread Provisioning support to network commissioning cluster
  src/app/clusters/network-commissioning/network-commissioning-ember.cpp
  src/app/clusters/network-commissioning/network-commissioning.cpp
  src/app/clusters/network-commissioning/network-commissioning.h
Labels: app

#5239 export compile_commands.json for chip during compilation for nrfconnect
  config/nrfconnect/chip-module/CMakeLists.txt
Labels: config

#5299 [python] CPU tag should be aarch64 for arm64
  src/controller/python/BUILD.gn
Labels: controller

#5301 Remove note about MACOSX_DEPLOYMENT_TARGET
  src/controller/python/README.md
Labels: controller

#5300 [controller] Don't release admin on failed rendezvous
  src/controller/CHIPDeviceController.cpp
  src/transport/RendezvousSession.cpp
Labels: controller, transport

#5304 Making names unique in workflows, and disabling builds for restyled
  .github/workflows/android.yaml
  .github/workflows/build.yaml
  .github/workflows/cirque.yaml
  .github/workflows/doxygen.yaml
  .github/workflows/examples-efr32.yaml
  .github/workflows/examples-esp32.yaml
  .github/workflows/examples-linux-standalone.yaml
  .github/workflows/examples-nrfconnect.yaml
  .github/workflows/examples-qpg6100.yaml
  .github/workflows/qemu.yaml
  .github/workflows/unit_integration_test.yaml
  .github/workflows/zap_templates.yaml
Labels: github, workflows

#5308 Revert "Expand use of type-safe `BitFlags` and `enum class`. (#5232)"
  src/app/Command.cpp
  src/app/Command.h
  src/app/tests/integration/chip_im_initiator.cpp
  src/app/tests/integration/chip_im_responder.cpp
  src/app/util/ember-compatibility-functions.cpp
  src/app/zap-templates/templates/chip/CHIPClusters-src.zapt
  src/ble/BLEEndPoint.cpp
  src/ble/BLEEndPoint.h
  src/ble/BtpEngine.cpp
  src/ble/BtpEngine.h
  src/controller/CHIPClusters.cpp
  src/credentials/CHIPCert.cpp
  src/credentials/CHIPCert.h
  src/credentials/CHIPCertFromX509.cpp
  src/credentials/CHIPCertToX509.cpp
  src/credentials/tests/CHIPCert_test_vectors.cpp
  src/credentials/tests/CHIPCert_test_vectors.h
  src/credentials/tests/TestChipCert.cpp
  src/include/platform/internal/GenericConfigurationManagerImpl.cpp
  src/include/platform/internal/GenericConfigurationManagerImpl.h
  src/include/platform/internal/GenericConnectivityManagerImpl_Thread.cpp
  src/include/platform/internal/GenericConnectivityManagerImpl_Thread.h
  src/include/platform/internal/GenericConnectivityManagerImpl_WiFi.h
  src/lib/support/BitFlags.h
  src/lib/support/BytesToHex.cpp
  src/lib/support/BytesToHex.h
  src/messaging/ExchangeContext.h
  src/messaging/Flags.h
  src/messaging/ReliableMessageContext.cpp
  src/messaging/ReliableMessageContext.h
  src/platform/EFR32/BLEManagerImpl.cpp
  src/platform/EFR32/BLEManagerImpl.h
  src/platform/ESP32/BLEManagerImpl.h
  src/platform/ESP32/ConnectivityManagerImpl.cpp
  src/platform/ESP32/ConnectivityManagerImpl.h
  src/platform/ESP32/bluedroid/BLEManagerImpl.cpp
  src/platform/ESP32/nimble/BLEManagerImpl.cpp
  src/platform/K32W/BLEManagerImpl.cpp
  src/platform/K32W/BLEManagerImpl.h
  src/platform/Linux/BLEManagerImpl.cpp
  src/platform/Linux/BLEManagerImpl.h
  src/platform/Linux/ConnectivityManagerImpl.cpp
  src/platform/Linux/ConnectivityManagerImpl.h
  src/platform/Linux/bluez/Helper.cpp
  src/platform/Zephyr/BLEManagerImpl.cpp
  src/platform/Zephyr/BLEManagerImpl.h
  src/platform/cc13x2_26x2/BLEManagerImpl.cpp
  src/platform/qpg6100/BLEManagerImpl.cpp
  src/platform/qpg6100/BLEManagerImpl.h
  src/protocols/bdx/BdxMessages.cpp
  src/protocols/bdx/BdxMessages.h
  src/protocols/bdx/BdxTransferSession.cpp
  src/protocols/bdx/BdxTransferSession.h
  src/protocols/bdx/tests/TestBdxMessages.cpp
  src/protocols/bdx/tests/TestBdxTransferSession.cpp
  src/setup_payload/AdditionalDataPayloadGenerator.cpp
  src/setup_payload/AdditionalDataPayloadGenerator.h
  src/transport/raw/MessageHeader.cpp
  src/transport/raw/MessageHeader.h
Labels: app, ble, controller, hotfix, lib

#5292 [nrfconnect] Add script to checkout recommended nRF Connect SDK version.
  .github/workflows/examples-nrfconnect.yaml
  config/nrfconnect/.nrfconnect-recommended-revision
  config/nrfconnect/app/check-nrfconnect-version.cmake
  examples/lighting-app/nrfconnect/CMakeLists.txt
  examples/lighting-app/nrfconnect/README.md
  examples/lock-app/nrfconnect/CMakeLists.txt
  examples/lock-app/nrfconnect/README.md
  examples/pigweed-app/nrfconnect/CMakeLists.txt
  examples/pigweed-app/nrfconnect/README.md
  examples/shell/nrfconnect/CMakeLists.txt
  scripts/setup/nrfconnect/update_ncs.py
Labels: config, examples, github, scripts, workflows

#5228 [TE1]: Provide test interface in chip-shell to test CRMP.
  examples/shell/README.md
  examples/shell/nrfconnect/CHIPProjectConfig.h
  examples/shell/shell_common/BUILD.gn
  examples/shell/shell_common/cmd_ping.cpp
  examples/shell/shell_common/include/ChipShellCollection.h
  examples/shell/standalone/main.cpp
  src/messaging/tests/echo/echo_requester.cpp
  src/protocols/echo/Echo.h
  src/protocols/echo/EchoClient.cpp
  src/transport/SecureSessionMgr.cpp
  src/transport/SecureSessionMgr.h
Labels: examples, transport

#5319 Expand use of type-safe `BitFlags` and `enum class`.
  src/app/Command.cpp
  src/app/Command.h
  src/app/tests/integration/chip_im_initiator.cpp
  src/app/tests/integration/chip_im_responder.cpp
  src/app/util/ember-compatibility-functions.cpp
  src/app/zap-templates/templates/chip/CHIPClusters-src.zapt
  src/ble/BLEEndPoint.cpp
  src/ble/BLEEndPoint.h
  src/ble/BtpEngine.cpp
  src/ble/BtpEngine.h
  src/controller/CHIPClusters.cpp
  src/credentials/CHIPCert.cpp
  src/credentials/CHIPCert.h
  src/credentials/CHIPCertFromX509.cpp
  src/credentials/CHIPCertToX509.cpp
  src/credentials/tests/CHIPCert_test_vectors.cpp
  src/credentials/tests/CHIPCert_test_vectors.h
  src/credentials/tests/TestChipCert.cpp
  src/include/platform/internal/GenericConfigurationManagerImpl.cpp
  src/include/platform/internal/GenericConfigurationManagerImpl.h
  src/include/platform/internal/GenericConnectivityManagerImpl_Thread.cpp
  src/include/platform/internal/GenericConnectivityManagerImpl_Thread.h
  src/include/platform/internal/GenericConnectivityManagerImpl_WiFi.h
  src/lib/support/BitFlags.h
  src/lib/support/BytesToHex.cpp
  src/lib/support/BytesToHex.h
  src/messaging/ExchangeContext.h
  src/messaging/Flags.h
  src/messaging/ReliableMessageContext.cpp
  src/messaging/ReliableMessageContext.h
  src/platform/EFR32/BLEManagerImpl.cpp
  src/platform/EFR32/BLEManagerImpl.h
  src/platform/ESP32/BLEManagerImpl.h
  src/platform/ESP32/ConnectivityManagerImpl.cpp
  src/platform/ESP32/ConnectivityManagerImpl.h
  src/platform/ESP32/bluedroid/BLEManagerImpl.cpp
  src/platform/ESP32/nimble/BLEManagerImpl.cpp
  src/platform/K32W/BLEManagerImpl.cpp
  src/platform/K32W/BLEManagerImpl.h
  src/platform/Linux/BLEManagerImpl.cpp
  src/platform/Linux/BLEManagerImpl.h
  src/platform/Linux/ConnectivityManagerImpl.cpp
  src/platform/Linux/ConnectivityManagerImpl.h
  src/platform/Linux/bluez/Helper.cpp
  src/platform/Zephyr/BLEManagerImpl.cpp
  src/platform/Zephyr/BLEManagerImpl.h
  src/platform/cc13x2_26x2/BLEManagerImpl.cpp
  src/platform/qpg6100/BLEManagerImpl.cpp
  src/platform/qpg6100/BLEManagerImpl.h
  src/protocols/bdx/BdxMessages.cpp
  src/protocols/bdx/BdxMessages.h
  src/protocols/bdx/BdxTransferSession.cpp
  src/protocols/bdx/BdxTransferSession.h
  src/protocols/bdx/tests/TestBdxMessages.cpp
  src/protocols/bdx/tests/TestBdxTransferSession.cpp
  src/setup_payload/AdditionalDataPayloadGenerator.cpp
  src/setup_payload/AdditionalDataPayloadGenerator.h
  src/transport/raw/MessageHeader.cpp
  src/transport/raw/MessageHeader.h
Labels: app, ble, controller, lib

#5318 [QPG6100] Add lighting app to CI build tests
  .github/workflows/examples-qpg6100.yaml
Labels: github, workflows

#5312 Followup #1 for #5244. Always add 'chip.ble' modules even if ble is n…
  examples/bridge-app/linux/main.cpp
  examples/lighting-app/linux/main.cpp
  src/controller/python/BUILD.gn
  src/controller/python/build-chip-wheel.py
Labels: controller, examples

#5323 Fix mac build by including errno.h
  examples/shell/shell_common/cmd_ping.cpp
Labels: examples, hotfix

#5326 Remove unnecessary "sys/" from errno.h include.
  examples/shell/shell_common/cmd_ping.cpp
Labels: examples

#5339 Fix build error on RP4 with Ubuntu 20.10 64-bit server OS
  docs/BUILDING.md
Labels: documentation

#5242 [K32W] Fix memory allocation
  examples/lock-app/k32w/main/main.cpp
  examples/platform/k32w/app/support/FreeRtosMbedtlsUtils.c
  src/platform/K32W/ThreadStackManagerImpl.cpp
  src/platform/K32W/k32w-chip-mbedtls-config.h
Labels: examples, k32w, platform

#5350 [nrfconnect] Change BLE advertisement flag to Limited Discovery
  src/platform/Zephyr/BLEManagerImpl.cpp
Labels: platform, zephyr

#5347 [mdns] Fix Resolver initialization
  src/lib/mdns/Discovery_ImplPlatform.cpp
  src/lib/mdns/Discovery_ImplPlatform.h
Labels: lib

#5343 Integrated SRP client API with the existing mDNS API.
  config/nrfconnect/chip-module/CMakeLists.txt
  src/app/server/Mdns.cpp
  src/app/server/Server.cpp
  src/include/platform/ThreadStackManager.h
  src/include/platform/internal/GenericConfigurationManagerImpl.h
  src/lib/mdns/BUILD.gn
  src/lib/mdns/Discovery_ImplPlatform.cpp
  src/lib/mdns/platform/Mdns.h
  src/platform/BUILD.gn
  src/platform/Linux/ThreadStackManagerImpl.cpp
  src/platform/Linux/ThreadStackManagerImpl.h
  src/platform/OpenThread/GenericThreadStackManagerImpl_OpenThread.cpp
  src/platform/OpenThread/GenericThreadStackManagerImpl_OpenThread.h
  src/platform/OpenThread/MdnsImpl.cpp
  src/platform/device.gni
  src/platform/tests/BUILD.gn
Labels: app, config, lib, linux, openthread, platform

#5358 Fix failing to make network commissioning on RP4
  docs/BUILDING.md
Labels: documentation

#5366 Rename persistent storage APIs to be more unique
  examples/chip-tool/config/PersistentStorage.cpp
  examples/chip-tool/config/PersistentStorage.h
  src/app/server/RendezvousServer.cpp
  src/app/server/Server.cpp
  src/controller/CHIPDeviceController.cpp
  src/controller/CHIPDeviceController.h
  src/controller/java/AndroidDeviceControllerWrapper.cpp
  src/controller/java/AndroidDeviceControllerWrapper.h
  src/controller/python/ChipDeviceController-StorageDelegate.cpp
  src/controller/python/ChipDeviceController-StorageDelegate.h
  src/controller/python/chip/internal/CommissionerImpl.cpp
  src/darwin/Framework/CHIP/CHIPDeviceController.mm
  src/darwin/Framework/CHIP/CHIPPersistentStorageDelegateBridge.h
  src/darwin/Framework/CHIP/CHIPPersistentStorageDelegateBridge.mm
  src/lib/core/CHIPPersistentStorageDelegate.h
  src/transport/AdminPairingTable.cpp
  src/transport/StorablePeerConnection.cpp
Labels: app, controller, darwin, examples, lib, transport

#5365 [K32W] Add CI for NXP K32W
  integrations/docker/images/chip-build-k32w/Dockerfile
  integrations/docker/images/chip-build-k32w/build.sh
  integrations/docker/images/chip-build-k32w/run.sh
  integrations/docker/images/chip-build-k32w/version
Labels: integrations

#5368 Use SecureSessionHandle to indicate if the peer's group key message c…
  src/messaging/ExchangeMgr.cpp
  src/transport/SecureSessionMgr.cpp
  src/transport/SecureSessionMgr.h
  src/transport/raw/MessageHeader.h
Labels: transport

#5380 [bluez] Fix UnsubscribeCharacteristic
  src/platform/Linux/bluez/Helper.cpp
Labels: linux, platform

#5361 Fix random Segmentation fault issue in CRMP testing.
  src/transport/SecureSessionMgr.cpp
Labels: transport

#5355 Support chained buffers in PacketBufferHandle::CloneData()
  src/system/SystemPacketBuffer.cpp
  src/system/SystemPacketBuffer.h
  src/system/tests/TestSystemPacketBuffer.cpp
Labels: system

#5392 [controller] Remove deprecated controller interface
  docs/dots/Rendezvous/RendezvousSessionGeneral.dot
  docs/dots/Rendezvous/RendezvousSessionInit.dot
  src/controller/BUILD.gn
  src/controller/CHIPDeviceController_deprecated.cpp
  src/controller/CHIPDeviceController_deprecated.h
  src/controller/python/BUILD.gn
Labels: controller, documentation

#5362 Remove unused sources and interfaces of NetworkProvisioningServer
  src/include/platform/ConnectivityManager.h
  src/include/platform/ThreadStackManager.h
  src/include/platform/internal/GenericNetworkProvisioningServerImpl.cpp
  src/include/platform/internal/GenericNetworkProvisioningServerImpl.h
  src/include/platform/internal/NetworkProvisioningServer.h
  src/platform/BUILD.gn
  src/platform/EFR32/BLEManagerImpl.h
  src/platform/EFR32/ConfigurationManagerImpl.h
  src/platform/EFR32/NetworkProvisioningServerImpl.cpp
  src/platform/EFR32/NetworkProvisioningServerImpl.h
  src/platform/ESP32/BLEManagerImpl.h
  src/platform/ESP32/ConfigurationManagerImpl.h
  src/platform/ESP32/ConnectivityManagerImpl.h
  src/platform/ESP32/NetworkProvisioningServerImpl.cpp
  src/platform/ESP32/NetworkProvisioningServerImpl.h
  src/platform/K32W/BLEManagerImpl.h
  src/platform/K32W/ConfigurationManagerImpl.h
  src/platform/K32W/NetworkProvisioningServerImpl.cpp
  src/platform/K32W/NetworkProvisioningServerImpl.h
  src/platform/qpg6100/BLEManagerImpl.h
Labels: efr32, esp32, k32w, platform

#5360 Fix help info in shell is not correctly shown issue
  examples/shell/shell_common/cmd_ping.cpp
Labels: examples

#5320 [doc] Add guide on setting up Thread environment for chip-device-ctrl.py
  docs/guides/linux_thread_connectivity.md
  docs/guides/openthread_rcp_nrf_dongle.md
  docs/images/linux_thread_connectivity.svg
  src/controller/python/README.md
Labels: controller, documentation

#5397 error: no member named 'OnPeristentStorageValue' in 'chip::Persisten…
  src/darwin/Framework/CHIP/CHIPPersistentStorageDelegateBridge.mm
Labels: darwin, hotfix

#5375 Examples running on EFR32MG21 fail rendez-vous at Spake2p msg1
  examples/lighting-app/efr32/src/AppTask.cpp
  examples/lock-app/efr32/src/AppTask.cpp
  src/platform/EFR32/efr32-chip-mbedtls-config.h
  src/platform/EFR32/freertos_bluetooth.c
  third_party/efr32_sdk/efr32_sdk.gni
Labels: efr32, examples, platform

#5398 error: unknown type name 'CHIPInt64uAttributeCallbackBridge'
  examples/all-clusters-app/all-clusters-common/gen/CHIPClustersObjc.mm
  examples/bridge-app/bridge-common/gen/CHIPClustersObjc.mm
  examples/chip-tool/gen/CHIPClustersObjc.mm
  examples/lighting-app/lighting-common/gen/CHIPClustersObjc.mm
  examples/lock-app/lock-common/gen/CHIPClustersObjc.mm
  examples/temperature-measurement-app/esp32/main/gen/CHIPClustersObjc.mm
  examples/tv-app/tv-common/gen/CHIPClustersObjc.mm
  src/app/zap-templates/app-templates.json
  src/app/zap-templates/templates/app/CHIPClustersObjc-src.zapt
  src/app/zap-templates/templates/app/CHIPClustersObjc.zapt
  src/darwin/Framework/CHIP/gen/CHIPClustersObjc.mm
Labels: app, darwin, examples, hotfix

#5309 Fix sending PacketBuffer with "ref count > 1" fails in LwIP
  src/inet/UDPEndPoint.cpp
  src/system/SystemPacketBuffer.h
Labels: inet, system, transport

#5400 Add missing emberAfMediaPlaybackClusterClientCommandParse symbol to s…
  src/darwin/Framework/CHIP.xcodeproj/project.pbxproj
Labels: darwin, hotfix

#5387 Add python packages for linux setting up
  scripts/setup/linux/install_packages.sh
Labels: scripts

#5396 [nordic] Fix compilation if NFC commissioning is disabled
  examples/lighting-app/nrfconnect/CMakeLists.txt
  examples/lighting-app/nrfconnect/main/AppTask.cpp
Labels: examples

#5408 specify path for util.h
  src/app/zap-templates/templates/app/call-command-handler-src.zapt
  src/app/zap-templates/templates/app/im-cluster-command-handler.zapt
Labels: app

#5385 Persist controller's key ID across reboots
  src/controller/CHIPDeviceController.cpp
  src/controller/CHIPDeviceController.h
Labels: controller

#5426 [Doc] Add Silabs RCP info
  docs/guides/linux_thread_connectivity.md
  docs/images/linux_thread_connectivity.svg
Labels: documentation

#5403 Darwin compile under gn
  BUILD.gn
  examples/chip-tool-darwin/.gn
  examples/chip-tool-darwin/BUILD.gn
  examples/chip-tool-darwin/args.gni
  examples/chip-tool-darwin/build_overrides
  examples/chip-tool-darwin/main.m
  src/darwin/Framework/CHIP/CHIPDevice.h
  src/darwin/Framework/CHIP/CHIPDevice.mm
  src/darwin/Framework/CHIP/CHIPDeviceController.mm
  src/darwin/Framework/CHIP/CHIPPersistentStorageDelegateBridge.mm
Labels: darwin, examples

#5417 Use chip::Platform::New instead of chip::Platform::MemoryAlloc into s…
  src/platform/Linux/MdnsImpl.cpp
Labels: linux, platform

#5427 [nrfconnect] Added resolvable private address for BLE device
  config/nrfconnect/app/sample-defaults.conf
  src/platform/Zephyr/BLEManagerImpl.cpp
Labels: TE1, TE1 cherry pick, config, platform, zephyr

#5422 Do not generate CHIPClustersObjc* and CHIPClientCallbacks* content if the .zap file does not contain any client clusters
  examples/all-clusters-app/all-clusters-common/gen/CHIPClientCallbacks.cpp
  examples/all-clusters-app/all-clusters-common/gen/CHIPClientCallbacks.h
  examples/all-clusters-app/all-clusters-common/gen/CHIPClustersObjc.h
  examples/all-clusters-app/all-clusters-common/gen/CHIPClustersObjc.mm
  examples/bridge-app/bridge-common/gen/CHIPClientCallbacks.cpp
  examples/bridge-app/bridge-common/gen/CHIPClientCallbacks.h
  examples/bridge-app/bridge-common/gen/CHIPClustersObjc.h
  examples/bridge-app/bridge-common/gen/CHIPClustersObjc.mm
  examples/lighting-app/lighting-common/gen/CHIPClientCallbacks.cpp
  examples/lighting-app/lighting-common/gen/CHIPClientCallbacks.h
  examples/lighting-app/lighting-common/gen/CHIPClustersObjc.h
  examples/lighting-app/lighting-common/gen/CHIPClustersObjc.mm
  examples/lock-app/lock-common/gen/CHIPClientCallbacks.cpp
  examples/lock-app/lock-common/gen/CHIPClientCallbacks.h
  examples/lock-app/lock-common/gen/CHIPClustersObjc.h
  examples/lock-app/lock-common/gen/CHIPClustersObjc.mm
  examples/temperature-measurement-app/esp32/main/gen/CHIPClientCallbacks.cpp
  examples/temperature-measurement-app/esp32/main/gen/CHIPClientCallbacks.h
  examples/temperature-measurement-app/esp32/main/gen/CHIPClustersObjc.h
  examples/temperature-measurement-app/esp32/main/gen/CHIPClustersObjc.mm
  examples/tv-app/tv-common/gen/CHIPClustersObjc.h
  examples/tv-app/tv-common/gen/CHIPClustersObjc.mm
  src/app/zap-templates/templates/app/CHIPClientCallbacks-src.zapt
  src/app/zap-templates/templates/app/CHIPClientCallbacks.zapt
  src/app/zap-templates/templates/app/CHIPClustersObjc-src.zapt
  src/app/zap-templates/templates/app/CHIPClustersObjc.zapt
  src/app/zap-templates/templates/chip/helper.js
Labels: app, examples

#5454 [K32W] Increase the BLE Indication timeout
  src/platform/K32W/BLEManagerImpl.cpp
Labels: k32w, platform

#5198 Add ReadClient and ReaderHandler and interactionModelDelegate
  src/app/BUILD.gn
  src/app/Command.cpp
  src/app/CommandHandler.cpp
  src/app/CommandSender.cpp
  src/app/InteractionModelDelegate.h
  src/app/InteractionModelEngine.cpp
  src/app/InteractionModelEngine.h
  src/app/ReadClient.cpp
  src/app/ReadClient.h
  src/app/ReadHandler.cpp
  src/app/ReadHandler.h
  src/app/tests/BUILD.gn
  src/app/tests/TestReadInteraction.cpp
  src/app/tests/integration/chip_im_initiator.cpp
  src/app/tests/integration/chip_im_responder.cpp
  src/app/util/basic-types.h
Labels: app

#5405 Replace Common protocol with SecureChannel
  src/app/CommandHandler.cpp
  src/app/CommandSender.cpp
  src/protocols/Protocols.h
  src/protocols/bdx/BdxTransferSession.cpp
  src/protocols/bdx/tests/TestBdxTransferSession.cpp
  src/protocols/common/Constants.h
  src/protocols/secure_channel/Constants.h
  src/transport/raw/MessageHeader.h
  src/transport/raw/tests/TestMessageHeader.cpp
Labels: app, spec, transport

#5412 [cluster] chip::Span for OCTET_STRING on server
  examples/all-clusters-app/all-clusters-common/gen/IMClusterCommandHandler.cpp
  examples/all-clusters-app/all-clusters-common/gen/call-command-handler.cpp
  examples/all-clusters-app/all-clusters-common/gen/callback-stub.cpp
  examples/all-clusters-app/all-clusters-common/gen/callback.h
  examples/all-clusters-app/all-clusters-common/gen/endpoint_config.h
  examples/bridge-app/bridge-common/gen/IMClusterCommandHandler.cpp
  examples/bridge-app/bridge-common/gen/call-command-handler.cpp
  examples/bridge-app/bridge-common/gen/callback-stub.cpp
  examples/bridge-app/bridge-common/gen/callback.h
  examples/bridge-app/bridge-common/gen/endpoint_config.h
  examples/chip-tool/gen/callback-stub.cpp
  examples/chip-tool/gen/callback.h
  examples/chip-tool/gen/endpoint_config.h
  examples/lighting-app/lighting-common/gen/IMClusterCommandHandler.cpp
  examples/lighting-app/lighting-common/gen/call-command-handler.cpp
  examples/lighting-app/lighting-common/gen/callback-stub.cpp
  examples/lighting-app/lighting-common/gen/callback.h
  examples/lighting-app/lighting-common/gen/endpoint_config.h
  examples/lock-app/lock-common/gen/IMClusterCommandHandler.cpp
  examples/lock-app/lock-common/gen/call-command-handler.cpp
  examples/lock-app/lock-common/gen/callback-stub.cpp
  examples/lock-app/lock-common/gen/callback.h
  examples/lock-app/lock-common/gen/endpoint_config.h
  examples/temperature-measurement-app/esp32/main/gen/IMClusterCommandHandler.cpp
  examples/temperature-measurement-app/esp32/main/gen/call-command-handler.cpp
  examples/temperature-measurement-app/esp32/main/gen/callback-stub.cpp
  examples/temperature-measurement-app/esp32/main/gen/callback.h
  examples/temperature-measurement-app/esp32/main/gen/endpoint_config.h
  examples/tv-app/tv-common/gen/IMClusterCommandHandler.cpp
  examples/tv-app/tv-common/gen/call-command-handler.cpp
  examples/tv-app/tv-common/gen/callback-stub.cpp
  examples/tv-app/tv-common/gen/callback.h
  examples/tv-app/tv-common/gen/endpoint_config.h
  src/app/clusters/general-commissioning-server/general-commissioning-server.cpp
  src/app/clusters/network-commissioning/network-commissioning-ember.cpp
  src/app/clusters/network-commissioning/network-commissioning.cpp
  src/app/clusters/network-commissioning/network-commissioning.h
  src/app/zap-templates/partials/command_handler_cluster_commands.zapt
  src/app/zap-templates/partials/im_command_handler_cluster_commands.zapt
  src/app/zap-templates/templates/app/callback-stub-src.zapt
  src/app/zap-templates/templates/app/callback.zapt
  src/darwin/Framework/CHIP/gen/callback-stub.cpp
  src/darwin/Framework/CHIP/gen/callback.h
  src/darwin/Framework/CHIP/gen/endpoint_config.h
Labels: app, examples

#5265 Handle large messages in TCPBase::ProcessReceivedBuffer
  src/inet/TCPEndPoint.cpp
  src/inet/TCPEndPoint.h
  src/inet/tests/TestInetLayer.cpp
  src/system/SystemPacketBuffer.cpp
  src/system/SystemPacketBuffer.h
  src/system/tests/TestSystemPacketBuffer.cpp
  src/transport/raw/TCP.cpp
  src/transport/raw/TCP.h
  src/transport/raw/tests/TestTCP.cpp
Labels: inet, system, transport

#5465 Ensure paired device list is always initialized before use
  src/controller/CHIPDeviceController.cpp
  src/controller/CHIPDeviceController.h
Labels: controller

#5462 ESP32: Add RPA for BLE
  src/platform/ESP32/nimble/BLEManagerImpl.cpp
Labels: TE1, TE1 cherry pick, ble, esp32, platform

#5240 Add BleConnectionDelegate::CancelConnection to stop scanning when ren…
  src/ble/BleConnectionDelegate.h
  src/ble/BleLayer.cpp
  src/ble/BleLayer.h
  src/controller/java/AndroidBleConnectionDelegate.cpp
  src/controller/java/AndroidBleConnectionDelegate.h
  src/platform/Darwin/BleConnectionDelegate.h
  src/platform/Darwin/BleConnectionDelegateImpl.mm
  src/platform/Linux/BLEManagerImpl.cpp
  src/platform/Linux/BLEManagerImpl.h
  src/transport/BLE.cpp
  src/transport/BLE.h
Labels: ble, controller, darwin, linux, platform, transport

#5458 Added printing manual pairing code.
  examples/all-clusters-app/esp32/main/main.cpp
  examples/lighting-app/efr32/src/AppTask.cpp
  examples/lighting-app/k32w/main/AppTask.cpp
  examples/lighting-app/nrfconnect/main/AppTask.cpp
  examples/lighting-app/qpg6100/src/AppTask.cpp
  examples/lock-app/cc13x2x7_26x2x7/main/AppTask.cpp
  examples/lock-app/efr32/src/AppTask.cpp
  examples/lock-app/k32w/main/AppTask.cpp
  examples/lock-app/nrfconnect/main/AppTask.cpp
  examples/lock-app/qpg6100/src/AppTask.cpp
  src/app/server/BUILD.gn
  src/app/server/OnboardingCodesUtil.cpp
  src/app/server/OnboardingCodesUtil.h
Labels: TE1, TE1 cherry pick, app, examples

#5399 Use ChainedBuffer/HasChainedBuffer in preference to raw ->next.
  src/system/SystemPacketBuffer.cpp
Labels: system

#5419 [nrfconnect] Aligned BLE advertising to be spec compatible.
  config/esp32/components/chip/Kconfig
  src/include/platform/CHIPDeviceConfig.h
  src/include/platform/ConnectivityManager.h
  src/include/platform/internal/BLEManager.h
  src/include/platform/internal/GenericConnectivityManagerImpl_BLE.h
  src/include/platform/internal/GenericConnectivityManagerImpl_NoBLE.h
  src/platform/Darwin/BLEManagerImpl.cpp
  src/platform/Darwin/BLEManagerImpl.h
  src/platform/EFR32/BLEManagerImpl.cpp
  src/platform/EFR32/BLEManagerImpl.h
  src/platform/ESP32/BLEManagerImpl.h
  src/platform/ESP32/CHIPDevicePlatformConfig.h
  src/platform/ESP32/bluedroid/BLEManagerImpl.cpp
  src/platform/ESP32/nimble/BLEManagerImpl.cpp
  src/platform/K32W/BLEManagerImpl.cpp
  src/platform/K32W/BLEManagerImpl.h
  src/platform/Linux/BLEManagerImpl.cpp
  src/platform/Linux/BLEManagerImpl.h
  src/platform/Zephyr/BLEManagerImpl.cpp
  src/platform/Zephyr/BLEManagerImpl.h
  src/platform/cc13x2_26x2/BLEManagerImpl.cpp
  src/platform/cc13x2_26x2/BLEManagerImpl.h
  src/platform/qpg6100/BLEManagerImpl.cpp
  src/platform/qpg6100/BLEManagerImpl.h
Labels: TE1, config, darwin, efr32, esp32, k32w, linux, platform, qpg6100, zephyr

#5443 [Darwin] Handle calls to pairDevice when the controller has not been started
  src/darwin/Framework/CHIP/CHIPDeviceController.mm
Labels: darwin

#5498 Fix Mac build.
  src/platform/Darwin/BleConnectionDelegateImpl.mm
Labels: darwin, hotfix, platform
