Repository project-chip/connectedhomeip, pull requests merged in 2021-12, with the labels that each got.

#12384 Re-disable the float attributes in all-clusters-app.
  examples/all-clusters-app/all-clusters-common/all-clusters-app.zap
  zzz_generated/all-clusters-app/zap-generated/endpoint_config.h
Labels: examples, hotfix, review - pending

#12366 [Group] Added Group Invoke command
  examples/chip-tool/commands/common/CommandInvoker.h
  examples/chip-tool/templates/partials/test_cluster.zapt
  src/app/tests/suites/TestGroupMessaging.yaml
  src/app/zap-templates/common/ClusterTestGeneration.js
Labels: examples, app, review - approved

#12376 Implement run time value to the General diagnostics attributes for EFR32 platform
  src/platform/EFR32/ConfigurationManagerImpl.cpp
  src/platform/EFR32/ConfigurationManagerImpl.h
  src/platform/EFR32/DiagnosticDataProviderImpl.cpp
  src/platform/EFR32/DiagnosticDataProviderImpl.h
  src/platform/EFR32/EFR32Config.h
  src/platform/EFR32/PlatformManagerImpl.cpp
  src/platform/EFR32/PlatformManagerImpl.h
Labels: platform, efr32, review - pending, fast track

#12380 Add a command and attribute that require timed interaction to TestCluster.
  examples/all-clusters-app/all-clusters-common/all-clusters-app.zap
  src/app/clusters/test-cluster-server/test-cluster-server.cpp
  src/app/util/af-types.h
  src/app/util/af.h
  src/app/zap-templates/templates/app/cluster-objects.zapt
  src/app/zap-templates/zcl/data-model/chip/test-cluster.xml
  src/controller/data_model/controller-clusters.zap
  src/controller/java/zap-generated/CHIPCallbackTypes.h
  src/controller/java/zap-generated/CHIPClusters-JNI.cpp
  src/controller/java/zap-generated/CHIPClustersRead-JNI.cpp
  src/controller/java/zap-generated/chip/devicecontroller/ChipClusters.java
  src/controller/java/zap-generated/chip/devicecontroller/ClusterInfoMapping.java
  src/controller/java/zap-generated/chip/devicecontroller/ClusterReadMapping.java
  src/controller/java/zap-generated/chip/devicecontroller/ClusterWriteMapping.java
  src/controller/python/chip/clusters/CHIPClusters.py
  src/controller/python/chip/clusters/Objects.py
  src/darwin/Framework/CHIP/zap-generated/CHIPClustersObjc.h
  src/darwin/Framework/CHIP/zap-generated/CHIPClustersObjc.mm
  zzz_generated/all-clusters-app/zap-generated/IMClusterCommandHandler.cpp
  zzz_generated/all-clusters-app/zap-generated/endpoint_config.h
  zzz_generated/app-common/app-common/zap-generated/attribute-id.h
  zzz_generated/app-common/app-common/zap-generated/attributes/Accessors.cpp
  zzz_generated/app-common/app-common/zap-generated/attributes/Accessors.h
  zzz_generated/app-common/app-common/zap-generated/callback.h
  zzz_generated/app-common/app-common/zap-generated/cluster-objects.cpp
  zzz_generated/app-common/app-common/zap-generated/cluster-objects.h
  zzz_generated/app-common/app-common/zap-generated/command-id.h
  zzz_generated/app-common/app-common/zap-generated/ids/Attributes.h
  zzz_generated/app-common/app-common/zap-generated/ids/Commands.h
  zzz_generated/chip-tool/zap-generated/cluster/Commands.h
  zzz_generated/controller-clusters/zap-generated/CHIPClusters.cpp
  zzz_generated/controller-clusters/zap-generated/CHIPClusters.h
Labels: examples, darwin, controller, app, review - approved

#12414 Reply with additional items on all query types
  src/lib/mdns/minimal/QueryReplyFilter.h
Labels: lib

#12402 [chip-tool] Use DiscoveredNodeData::LogDetail in DiscoverCommissionab…
  examples/chip-tool/commands/discover/DiscoverCommissionablesCommand.cpp
Labels: examples, review - pending, fast track

#12405 kMaxCommisisonableServiceNameSize -> kMaxCommissionableServiceNameSiz…
  src/lib/dnssd/Discovery_ImplPlatform.cpp
  src/lib/dnssd/ServiceNaming.h
Labels: lib, review - pending, fast track

#12333 Allocate ChipCertificateData on a Stack Rather than on Heap
  src/credentials/CHIPCert.cpp
Labels: review - pending, fast track

#12413 Always reply additional data to all queries
  src/lib/dnssd/minimal_mdns/QueryReplyFilter.h
Labels: lib, review - pending, fast track

#11834 Migrate TCP::mPendingPackets to Pool interface
  src/channel/Channel.cpp
  src/channel/ChannelContext.cpp
  src/lib/support/Pool.cpp
  src/lib/support/Pool.h
  src/lib/support/PoolWrapper.h
  src/lib/support/tests/TestPool.cpp
  src/messaging/ExchangeMgr.cpp
  src/transport/raw/TCP.cpp
  src/transport/raw/TCP.h
Labels: transport, lib, review - approved

#12396 Fix IPv6 local link address resolve issue with LWIP latest version
  .github/workflows/examples-infineon.yaml
  examples/lighting-app/p6/README.md
  src/inet/IPAddress.cpp
Labels: examples, inet, github, workflows, fast track

#12409 [YAML] Add identity keyword to YAML
  examples/chip-tool/commands/common/CHIPCommand.cpp
  examples/chip-tool/commands/common/CHIPCommand.h
  examples/chip-tool/commands/tests/TestCommand.cpp
  examples/chip-tool/commands/tests/TestCommand.h
  examples/chip-tool/templates/partials/test_cluster.zapt
  src/app/zap-templates/common/ClusterTestGeneration.js
  zzz_generated/chip-tool/zap-generated/test/Commands.h
Labels: examples, app, review - pending, fast track

#12373 Implement attributes callbacks for General Commissioning cluster
  examples/all-clusters-app/all-clusters-common/all-clusters-app.zap
  examples/bridge-app/bridge-common/bridge-app.zap
  examples/lighting-app/lighting-common/lighting-app.zap
  examples/lock-app/lock-common/lock-app.zap
  examples/ota-provider-app/ota-provider-common/ota-provider-app.zap
  examples/ota-requestor-app/ota-requestor-common/ota-requestor-app.zap
  examples/pump-app/pump-common/pump-app.zap
  examples/pump-controller-app/pump-controller-common/pump-controller-app.zap
  examples/temperature-measurement-app/esp32/main/temperature-measurement.zap
  examples/thermostat/thermostat-common/thermostat.zap
  examples/tv-app/tv-common/tv-app.zap
  examples/tv-casting-app/tv-casting-common/tv-casting-app.zap
  examples/window-app/common/window-app.zap
  src/app/clusters/general-commissioning-server/general-commissioning-server.cpp
  src/controller/data_model/controller-clusters.zap
  src/controller/java/zap-generated/CHIPCallbackTypes.h
  src/controller/java/zap-generated/CHIPClustersRead-JNI.cpp
  src/controller/java/zap-generated/chip/devicecontroller/ChipClusters.java
  src/controller/java/zap-generated/chip/devicecontroller/ClusterReadMapping.java
  src/controller/python/chip/clusters/CHIPClusters.py
  src/darwin/Framework/CHIP/zap-generated/CHIPClustersObjc.h
  src/darwin/Framework/CHIP/zap-generated/CHIPClustersObjc.mm
  src/darwin/Framework/CHIP/zap-generated/CHIPTestClustersObjc.h
  src/darwin/Framework/CHIP/zap-generated/CHIPTestClustersObjc.mm
  src/darwin/Framework/CHIPTests/CHIPClustersTests.m
  src/include/platform/ConfigurationManager.h
  src/platform/Linux/ConfigurationManagerImpl.cpp
  src/platform/Linux/ConfigurationManagerImpl.h
  src/platform/Linux/PosixConfig.cpp
  src/platform/Linux/PosixConfig.h
  zzz_generated/all-clusters-app/zap-generated/endpoint_config.h
  zzz_generated/bridge-app/zap-generated/endpoint_config.h
  zzz_generated/chip-tool/zap-generated/cluster/Commands.h
  zzz_generated/controller-clusters/zap-generated/CHIPClusters.cpp
  zzz_generated/controller-clusters/zap-generated/CHIPClusters.h
  zzz_generated/controller-clusters/zap-generated/tests/CHIPClustersTest.cpp
  zzz_generated/controller-clusters/zap-generated/tests/CHIPClustersTest.h
  zzz_generated/lighting-app/zap-generated/endpoint_config.h
  zzz_generated/lock-app/zap-generated/endpoint_config.h
  zzz_generated/ota-provider-app/zap-generated/endpoint_config.h
  zzz_generated/ota-requestor-app/zap-generated/endpoint_config.h
  zzz_generated/pump-app/zap-generated/endpoint_config.h
  zzz_generated/pump-controller-app/zap-generated/endpoint_config.h
  zzz_generated/temperature-measurement-app/zap-generated/endpoint_config.h
  zzz_generated/thermostat/zap-generated/endpoint_config.h
  zzz_generated/tv-app/zap-generated/CHIPClusters.cpp
  zzz_generated/tv-app/zap-generated/CHIPClusters.h
  zzz_generated/tv-app/zap-generated/endpoint_config.h
  zzz_generated/tv-casting-app/zap-generated/endpoint_config.h
  zzz_generated/window-app/zap-generated/endpoint_config.h
Labels: examples, platform, darwin, linux, controller, app, review - approved

#12416 make all gn example builds export the compile commands
  scripts/build/builders/gn.py
  scripts/build/testdata/build_all_except_host.txt
  scripts/build/testdata/build_linux_on_x64.txt
Labels: scripts, review - pending, fast track

#12185 add epoch timestamp in IM Event
  config/python/CHIPProjectConfig.h
  config/standalone/CHIPProjectConfig.h
  examples/all-clusters-app/p6/include/CHIPProjectConfig.h
  examples/chip-tool/include/CHIPProjectAppConfig.h
  examples/lighting-app/nxp/k32w/k32w0/include/CHIPProjectConfig.h
  examples/lock-app/cc13x2x7_26x2x7/main/include/CHIPProjectConfig.h
  examples/lock-app/nxp/k32w/k32w0/include/CHIPProjectConfig.h
  examples/lock-app/p6/include/CHIPProjectConfig.h
  examples/persistent-storage/cc13x2x7_26x2x7/include/CHIPProjectConfig.h
  examples/platform/qpg/project_include/CHIPProjectConfig.h
  examples/pump-app/cc13x2x7_26x2x7/main/include/CHIPProjectConfig.h
  examples/pump-controller-app/cc13x2x7_26x2x7/main/include/CHIPProjectConfig.h
  examples/shell/nxp/k32w/k32w0/include/CHIPProjectConfig.h
  src/app/EventLoggingTypes.h
  src/app/EventManagement.cpp
  src/app/EventManagement.h
  src/lib/dnssd/minimal_mdns/tests/TestActiveResolveAttempts.cpp
  src/lib/dnssd/tests/TestDnssdCache.cpp
  src/platform/ESP32/SystemTimeSupport.cpp
  src/platform/FreeRTOS/SystemTimeSupport.cpp
  src/platform/Linux/SystemTimeSupport.cpp
  src/platform/Zephyr/SystemTimeSupport.cpp
  src/platform/mbed/SystemTimeSupport.cpp
  src/system/SystemClock.cpp
  src/system/SystemClock.h
  src/system/tests/TestSystemClock.cpp
Labels: examples, system, platform, darwin, efr32, esp32, freeRTOS, linux, nrf connect, zephyr, lib, app, config, review - pending, telink, fast track

#12389 Implement the server side of timed invoke.
  .github/workflows/examples-nrfconnect.yaml
  examples/all-clusters-app/ameba/chip_main.cmake
  examples/lighting-app/ameba/chip_main.cmake
  scripts/tests/nrfconnect_native_posix_tests.sh
  src/app/BUILD.gn
  src/app/CommandHandler.cpp
  src/app/CommandHandler.h
  src/app/InteractionModelEngine.cpp
  src/app/InteractionModelEngine.h
  src/app/MessageDef/InvokeRequestMessage.cpp
  src/app/TimedHandler.cpp
  src/app/TimedHandler.h
  src/app/WriteHandler.h
  src/app/tests/AppTestContext.cpp
  src/app/tests/BUILD.gn
  src/app/tests/TestCommandInteraction.cpp
  src/app/tests/TestTimedHandler.cpp
  src/app/util/ember-compatibility-functions.cpp
  src/app/zap-templates/partials/im_command_handler_cluster_commands.zapt
  src/lib/core/CHIPConfig.h
  src/messaging/ExchangeMgr.cpp
  zzz_generated/all-clusters-app/zap-generated/IMClusterCommandHandler.cpp
Labels: examples, scripts, lib, app, github, workflows, review - approved

#12419 Skip the "Set up environment for size reports" step in "act".
  .github/workflows/examples-efr32.yaml
  .github/workflows/examples-esp32.yaml
  .github/workflows/examples-infineon.yaml
  .github/workflows/examples-k32w.yaml
  .github/workflows/examples-linux-standalone.yaml
  .github/workflows/examples-mbed.yaml
  .github/workflows/examples-nrfconnect.yaml
  .github/workflows/examples-qpg.yaml
  .github/workflows/examples-telink.yaml
  scripts/tools/memory/gh_sizes_environment.py
Labels: scripts, github, workflows, review - pending, fast track

#12398 Optimize report delivery timing for subscribe
  src/app/ReadHandler.cpp
  src/app/ReadHandler.h
  src/app/tests/TestReadInteraction.cpp
Labels: app, review - approved

#12390 Add User Label Cluster xml definition
  src/app/zap-templates/zcl/data-model/chip/user-label-cluster.xml
  src/app/zap-templates/zcl/zcl.json
  src/controller/python/chip/clusters/Objects.py
  src/darwin/Framework/CHIP/zap-generated/CHIPCallbackBridge.mm
  src/darwin/Framework/CHIP/zap-generated/CHIPStructsObjc.h
  src/darwin/Framework/CHIP/zap-generated/CHIPStructsObjc.mm
  src/darwin/Framework/CHIP/zap-generated/CHIPTestClustersObjc.mm
  zzz_generated/app-common/app-common/zap-generated/attribute-id.h
  zzz_generated/app-common/app-common/zap-generated/attributes/Accessors.cpp
  zzz_generated/app-common/app-common/zap-generated/attributes/Accessors.h
  zzz_generated/app-common/app-common/zap-generated/callback.h
  zzz_generated/app-common/app-common/zap-generated/callbacks/PluginCallbacks.h
  zzz_generated/app-common/app-common/zap-generated/cluster-id.h
  zzz_generated/app-common/app-common/zap-generated/cluster-objects.cpp
  zzz_generated/app-common/app-common/zap-generated/cluster-objects.h
  zzz_generated/app-common/app-common/zap-generated/ids/Attributes.h
  zzz_generated/app-common/app-common/zap-generated/ids/Clusters.h
  zzz_generated/app-common/app-common/zap-generated/print-cluster.h
  zzz_generated/chip-tool/zap-generated/cluster/Commands.h
Labels: darwin, controller, app, review - pending, fast track

#12440 Rename StatusResponse::SendStatusResponse to StatusResponse::Send.
  src/app/CommandHandler.cpp
  src/app/InteractionModelEngine.cpp
  src/app/ReadClient.cpp
  src/app/StatusResponse.cpp
  src/app/StatusResponse.h
  src/app/TimedHandler.cpp
Labels: app, review - pending, fast track

#12444 Regen and restyle
  zzz_generated/app-common/app-common/zap-generated/cluster-objects.h
Labels: hotfix, review - pending

#12449 Use a random discriminator for test runs.
  .github/workflows/tests.yaml
  examples/platform/linux/Options.cpp
  scripts/tests/chiptest/test_definition.py
Labels: examples, scripts, github, workflows, review - pending, fast track

#12450 Remove unused CHIPClustersInvoke-src.zapt template.
  src/app/zap-templates/templates/app/CHIPClustersInvoke-src.zapt
Labels: app, review - pending, fast track

#12443 Optimize report begin/priming boolean in read client side
  src/app/ReadClient.cpp
  src/app/ReadClient.h
Labels: app, review - approved

#12442 Switch SimpleEnum to being an enum class.
  src/app/clusters/test-cluster-server/test-cluster-server.cpp
  src/app/tests/TestDataModelSerialization.cpp
  src/app/zap-templates/templates/app/helper.js
  zzz_generated/app-common/app-common/zap-generated/cluster-objects.h
  zzz_generated/app-common/app-common/zap-generated/enums.h
Labels: app, review - approved

#12410 [doc/nrfconnect] Fix broken links
  docs/guides/nrfconnect_android_commissioning.md
Labels: documentation, examples, review - pending, fast track

#12439 Enable float/double typed attributes.
  examples/all-clusters-app/all-clusters-common/all-clusters-app.zap
  examples/chip-tool/commands/common/Command.cpp
  examples/chip-tool/commands/common/Command.h
  examples/chip-tool/templates/commands.zapt
  examples/chip-tool/templates/helper.js
  examples/chip-tool/templates/tests-commands.zapt
  src/app/tests/suites/TestCluster.yaml
  src/app/util/attribute-storage-null-handling.h
  src/app/util/ember-compatibility-functions.cpp
  src/app/util/im-client-callbacks.h
  src/app/zap-templates/common/ClustersHelper.js
  src/app/zap-templates/templates/app/helper.js
  src/controller/java/templates/ChipClusters-java.zapt
  src/controller/java/templates/ClusterInfo-java.zapt
  src/controller/java/zap-generated/CHIPClusters-JNI.cpp
  src/controller/java/zap-generated/CHIPClustersRead-JNI.cpp
  src/controller/java/zap-generated/CHIPReadCallbacks.cpp
  src/controller/java/zap-generated/CHIPReadCallbacks.h
  src/controller/java/zap-generated/chip/devicecontroller/ChipClusters.java
  src/controller/java/zap-generated/chip/devicecontroller/ClusterInfoMapping.java
  src/controller/java/zap-generated/chip/devicecontroller/ClusterReadMapping.java
  src/controller/java/zap-generated/chip/devicecontroller/ClusterWriteMapping.java
  src/darwin/Framework/CHIP/templates/CHIPCallbackBridge-src.zapt
  src/darwin/Framework/CHIP/templates/CHIPCallbackBridge_internal.zapt
  src/darwin/Framework/CHIP/templates/clusters-tests.zapt
  src/darwin/Framework/CHIP/zap-generated/CHIPCallbackBridge.mm
  src/darwin/Framework/CHIP/zap-generated/CHIPCallbackBridge_internal.h
  src/darwin/Framework/CHIP/zap-generated/CHIPClustersObjc.h
  src/darwin/Framework/CHIP/zap-generated/CHIPClustersObjc.mm
  src/darwin/Framework/CHIPTests/CHIPClustersTests.m
  src/lib/support/JniReferences.cpp
  src/lib/support/JniReferences.h
  zzz_generated/all-clusters-app/zap-generated/endpoint_config.h
  zzz_generated/chip-tool/zap-generated/cluster/Commands.h
  zzz_generated/chip-tool/zap-generated/reporting/Commands.h
  zzz_generated/chip-tool/zap-generated/test/Commands.h
  zzz_generated/controller-clusters/zap-generated/CHIPClusters.cpp
  zzz_generated/controller-clusters/zap-generated/CHIPClusters.h
Labels: examples, darwin, lib, controller, app, review - approved

#11894 Include VID/PID in ECM commissioning Setup Payload
  examples/chip-tool/commands/pairing/OpenCommissioningWindowCommand.cpp
  src/controller/CHIPDeviceController.cpp
  src/controller/CHIPDeviceController.h
  src/setup_payload/QRCodeSetupPayloadGenerator.h
Labels: examples, setup payload, controller, review - pending, fast track

#11904 Add default timeout to fix KVS error when fetching ExtendedTimoutConfig
  examples/lighting-app/qpg/src/AppTask.cpp
  examples/lock-app/qpg/src/AppTask.cpp
  examples/platform/qpg/app/main.cpp
Labels: examples, review - pending, fast track

#11988 Revisit MRP implementation
  config/esp32/components/chip/Kconfig
  examples/chip-tool/commands/discover/Commands.h
  examples/lighting-app/efr32/include/CHIPProjectConfig.h
  examples/lock-app/efr32/include/CHIPProjectConfig.h
  examples/lock-app/nrfconnect/main/include/CHIPProjectConfig.h
  examples/lock-app/nxp/k32w/k32w0/include/CHIPProjectConfig.h
  examples/pump-app/cc13x2x7_26x2x7/main/include/CHIPProjectConfig.h
  examples/pump-controller-app/cc13x2x7_26x2x7/main/include/CHIPProjectConfig.h
  examples/window-app/efr32/include/CHIPProjectConfig.h
  src/app/OperationalDeviceProxy.cpp
  src/controller/CommissioneeDeviceProxy.cpp
  src/controller/python/ChipCommissionableNodeController-ScriptBinding.cpp
  src/controller/python/ChipDeviceController-ScriptBinding.cpp
  src/include/platform/CHIPDeviceConfig.h
  src/include/platform/ConnectivityManager.h
  src/lib/dnssd/Advertiser_ImplMinimalMdns.cpp
  src/lib/dnssd/Discovery_ImplPlatform.cpp
  src/lib/dnssd/Resolver.h
  src/lib/dnssd/TxtFields.cpp
  src/lib/dnssd/TxtFields.h
  src/lib/dnssd/minimal_mdns/tests/TestAdvertiser.cpp
  src/lib/dnssd/platform/tests/TestPlatform.cpp
  src/lib/dnssd/tests/TestTxtFields.cpp
  src/messaging/ExchangeContext.cpp
  src/messaging/ExchangeMgr.cpp
  src/messaging/ReliableMessageContext.cpp
  src/messaging/ReliableMessageContext.h
  src/messaging/ReliableMessageMgr.cpp
  src/messaging/ReliableMessageMgr.h
  src/messaging/ReliableMessageProtocolConfig.cpp
  src/messaging/ReliableMessageProtocolConfig.h
  src/messaging/tests/TestReliableMessageProtocol.cpp
  src/platform/Darwin/CHIPPlatformConfig.h
  src/platform/EFR32/CHIPPlatformConfig.h
  src/platform/ESP32/CHIPPlatformConfig.h
  src/platform/Linux/CHIPPlatformConfig.h
  src/platform/OpenThread/GenericThreadStackManagerImpl_OpenThread.cpp
  src/platform/Tizen/CHIPPlatformConfig.h
  src/platform/android/CHIPPlatformConfig.h
  src/platform/cc13x2_26x2/CHIPPlatformConfig.h
  src/platform/mbed/CHIPPlatformConfig.h
  src/platform/nrfconnect/CHIPPlatformConfig.h
  src/platform/nxp/k32w/k32w0/CHIPPlatformConfig.h
  src/platform/telink/CHIPPlatformConfig.h
  src/protocols/secure_channel/tests/TestPASESession.cpp
Labels: examples, platform, darwin, efr32, esp32, linux, lib, controller, app, config, review - pending, fast track

#12441 Implement server support for timed write.
  src/app/InteractionModelEngine.cpp
  src/app/InteractionModelEngine.h
  src/app/TimedHandler.cpp
  src/app/WriteHandler.cpp
  src/app/WriteHandler.h
  src/app/tests/TestTimedHandler.cpp
  src/app/tests/TestWriteInteraction.cpp
Labels: app, review - pending

#12446 Updated Google Vendor Identifier
  src/lib/core/CHIPVendorIdentifiers.hpp
Labels: lib, review - pending, fast track

#12470 Fix failing TestTimedHandler unit test.
  src/app/TimedHandler.cpp
  src/app/tests/TestTimedHandler.cpp
Labels: hotfix, app, review - pending

#12047 Persisting Group Data Provider implemented.
  src/app/clusters/groups-server/groups-server.cpp
  src/app/server/Server.cpp
  src/app/server/Server.h
  src/app/tests/suites/TestGroupsCluster.yaml
  src/credentials/BUILD.gn
  src/credentials/GroupDataProvider.h
  src/credentials/GroupDataProviderImpl.cpp
  src/credentials/GroupDataProviderImpl.h
  src/credentials/examples/GroupDataProviderExample.cpp
  src/credentials/tests/TestGroupDataProvider.cpp
  src/darwin/Framework/CHIPTests/CHIPClustersTests.m
  src/lib/support/DefaultStorageKeyAllocator.h
  src/lib/support/TestPersistentStorageDelegate.h
  zzz_generated/chip-tool/zap-generated/test/Commands.h
Labels: darwin, lib, controller, app, review - approved

#12451 Add diagnostic delegate interfaces for event support
  src/app/clusters/general_diagnostics_server/general_diagnostics_server.cpp
  src/app/clusters/software_diagnostics_server/software_diagnostics_server.cpp
  src/app/clusters/wifi_network_diagnostics_server/wifi_network_diagnostics_server.cpp
  src/include/platform/DiagnosticDataProvider.h
  src/platform/Linux/PlatformManagerImpl.cpp
  src/platform/Linux/PlatformManagerImpl.h
Labels: platform, linux, app, review - approved

#12420 Use Loop::Break/Continue instead of bool in visitor of ForEachActiveO…
  src/app/CASESessionManager.cpp
  src/app/InteractionModelEngine.cpp
  src/channel/Manager.cpp
  src/channel/Manager.h
  src/controller/CHIPDeviceController.cpp
  src/inet/InetLayer.h
  src/inet/TCPEndPoint.cpp
  src/lib/support/Pool.cpp
  src/lib/support/Pool.h
  src/lib/support/PoolWrapper.h
  src/lib/support/tests/TestPool.cpp
  src/messaging/ExchangeMgr.cpp
  src/messaging/ReliableMessageMgr.cpp
  src/messaging/ReliableMessageMgr.h
  src/transport/SecureSessionTable.h
  src/transport/SessionManager.cpp
  src/transport/SessionManager.h
  src/transport/UnauthenticatedSessionTable.h
  src/transport/raw/TCP.cpp
Labels: transport, lib, inet, controller, app, review - pending, fast track

#11937 Add support for CASE session caching for session resume use cases
  src/lib/core/CHIPConfig.h
  src/protocols/secure_channel/BUILD.gn
  src/protocols/secure_channel/CASESession.cpp
  src/protocols/secure_channel/CASESession.h
  src/protocols/secure_channel/CASESessionCache.cpp
  src/protocols/secure_channel/CASESessionCache.h
  src/protocols/secure_channel/tests/BUILD.gn
  src/protocols/secure_channel/tests/TestCASESession.cpp
  src/protocols/secure_channel/tests/TestCASESessionCache.cpp
Labels: lib, review - pending, fast track

#12474 [TestCluster] Add a test for a command that takes a single optional argument
  examples/all-clusters-app/all-clusters-common/all-clusters-app.zap
  src/app/clusters/test-cluster-server/test-cluster-server.cpp
  src/app/tests/suites/TestCluster.yaml
  src/app/zap-templates/zcl/data-model/chip/test-cluster.xml
  src/controller/data_model/controller-clusters.zap
  src/controller/java/zap-generated/CHIPClusters-JNI.cpp
  src/controller/java/zap-generated/chip/devicecontroller/ChipClusters.java
  src/controller/java/zap-generated/chip/devicecontroller/ClusterInfoMapping.java
  src/controller/python/chip/clusters/CHIPClusters.py
  src/controller/python/chip/clusters/Objects.py
  src/darwin/Framework/CHIP/zap-generated/CHIPClustersObjc.h
  src/darwin/Framework/CHIP/zap-generated/CHIPClustersObjc.mm
  src/darwin/Framework/CHIP/zap-generated/CHIPCommandPayloadsObjc.h
  src/darwin/Framework/CHIP/zap-generated/CHIPCommandPayloadsObjc.mm
  src/darwin/Framework/CHIPTests/CHIPClustersTests.m
  zzz_generated/all-clusters-app/zap-generated/IMClusterCommandHandler.cpp
  zzz_generated/app-common/app-common/zap-generated/callback.h
  zzz_generated/app-common/app-common/zap-generated/cluster-objects.cpp
  zzz_generated/app-common/app-common/zap-generated/cluster-objects.h
  zzz_generated/app-common/app-common/zap-generated/command-id.h
  zzz_generated/app-common/app-common/zap-generated/ids/Commands.h
  zzz_generated/chip-tool/zap-generated/cluster/Commands.h
  zzz_generated/chip-tool/zap-generated/test/Commands.h
  zzz_generated/controller-clusters/zap-generated/CHIPClusters.cpp
  zzz_generated/controller-clusters/zap-generated/CHIPClusters.h
Labels: examples, darwin, controller, app, review - pending, fast track

#12487 Fix build conflict
  src/protocols/secure_channel/CASESessionCache.cpp
Labels: hotfix, review - pending

#12397 Modified YAML Test Scripts - Dec 1st
  src/app/tests/suites/certification/Test_TC_BI_1_1.yaml
  src/app/tests/suites/certification/Test_TC_BOOL_1_1.yaml
  src/app/tests/suites/certification/Test_TC_CC_1_1.yaml
  src/app/tests/suites/certification/Test_TC_CC_4_2.yaml
  src/app/tests/suites/certification/Test_TC_DIAGTH_1_1.yaml
  src/app/tests/suites/certification/Test_TC_EMR_1_1.yaml
  src/app/tests/suites/certification/Test_TC_FLW_1_1.yaml
  src/app/tests/suites/certification/Test_TC_ILL_1_1.yaml
  src/app/tests/suites/certification/Test_TC_LVL_1_1.yaml
  src/app/tests/suites/certification/Test_TC_MC_1_1.yaml
  src/app/tests/suites/certification/Test_TC_OCC_1_1.yaml
  src/app/tests/suites/certification/Test_TC_OO_1_1.yaml
  src/app/tests/suites/certification/Test_TC_PCC_1_1.yaml
  src/app/tests/suites/certification/Test_TC_PRS_1_1.yaml
  src/app/tests/suites/certification/Test_TC_RH_1_1.yaml
  src/app/tests/suites/certification/Test_TC_TM_1_1.yaml
  src/app/tests/suites/certification/Test_TC_TSTAT_1_1.yaml
  src/app/tests/suites/certification/Test_TC_TSUIC_1_1.yaml
  src/app/tests/suites/certification/Test_TC_WNCV_1_1.yaml
  src/darwin/Framework/CHIPTests/CHIPClustersTests.m
  zzz_generated/chip-tool/zap-generated/test/Commands.h
Labels: darwin, app, review - pending, fast track

#12496 Disable detail logging on K32W platform for now.
  src/platform/nxp/k32w/k32w0/args.gni
Labels: hotfix, platform, review - pending

#12494 RPC: Remove chip console build step from linux lighting
  examples/lighting-app/linux/BUILD.gn
Labels: examples, review - pending, fast track

#12383 Handle IM error in Read
  src/app/clusters/test-cluster-server/test-cluster-server.cpp
  src/controller/python/chip/clusters/Attribute.py
Labels: controller, app, review - pending, fast track

#12482 Switch a few more unit tests to async message delivery.
  src/app/tests/AppTestContext.cpp
  src/app/tests/AppTestContext.h
  src/messaging/tests/MessagingContext.h
  src/messaging/tests/TestExchangeMgr.cpp
  src/protocols/secure_channel/tests/TestPASESession.cpp
Labels: app, review - pending, fast track

#12495 Minor update on confusing comment for EventOptions type
  src/app/EventLoggingTypes.h
Labels: app, review - pending, fast track

#12459 Add IM event urgency option support
  src/app/EventManagement.cpp
  src/app/EventManagement.h
  src/app/InteractionModelEngine.cpp
  src/app/InteractionModelEngine.h
  src/app/ReadHandler.h
  src/app/reporting/Engine.cpp
  src/app/reporting/Engine.h
  src/app/tests/TestReadInteraction.cpp
Labels: app, review - approved

#12194 Add python IM event client code
  src/app/MessageDef/EventDataIB.cpp
  src/app/ReadClient.h
  src/app/reporting/Engine.cpp
  src/controller/ReadInteraction.h
  src/controller/TypedReadCallback.h
  src/controller/python/chip/ChipDeviceCtrl.py
  src/controller/python/chip/clusters/Attribute.py
  src/controller/python/chip/clusters/attribute.cpp
  src/controller/python/chip/exceptions/__init__.py
  src/controller/python/chip/interaction_model/Delegate.h
  src/controller/python/chip/interaction_model/__init__.py
  src/controller/python/chip/interaction_model/delegate.py
  src/controller/python/test/test_scripts/cluster_objects.py
Labels: controller, app, review - pending, fast track

#12417 Use Pool for mDNS udp endpoint, fix endpoint leak
  src/lib/dnssd/Advertiser_ImplMinimalMdns.cpp
  src/lib/dnssd/minimal_mdns/Server.cpp
  src/lib/dnssd/minimal_mdns/Server.h
  src/lib/dnssd/minimal_mdns/tests/BUILD.gn
  src/lib/dnssd/minimal_mdns/tests/CheckOnlyServer.h
  src/lib/dnssd/minimal_mdns/tests/TestAdvertiser.cpp
  src/lib/support/PoolWrapper.h
Labels: lib, review - pending, fast track

#12464 [placeholder] Enable SetRegulatoryConfig command
  examples/placeholder/linux/apps/app1/config.zap
  src/app/zap-templates/zcl/data-model/chip/matter-devices.xml
  zzz_generated/placeholder/app1/zap-generated/IMClusterCommandHandler.cpp
Labels: examples, app, review - pending

#12400 ESP:Use spiffs in ESP OTA Provider example
  examples/ota-provider-app/esp32/README.md
  examples/ota-provider-app/esp32/main/CMakeLists.txt
  examples/ota-provider-app/esp32/main/Kconfig.projbuild
  examples/ota-provider-app/esp32/main/main.cpp
  examples/ota-provider-app/esp32/partitions.csv
  examples/ota-provider-app/esp32/spiffs_image/hello_world.bin
  examples/ota-requestor-app/esp32/README.md
  examples/ota-requestor-app/esp32/main/OTARequesterImpl.cpp
  examples/ota-requestor-app/esp32/main/main.cpp
Labels: examples, review - approved

#12463 [Ameba]Update docker image
  integrations/docker/images/chip-build-ameba/Dockerfile
  integrations/docker/images/chip-build/version
Labels: integrations, review - pending, fast track

#12500 Convert ApplicationBasicStatus to an enum class.
  examples/tv-app/android/include/application-basic/Application.h
  examples/tv-app/android/include/application-basic/ApplicationBasicManager.cpp
  examples/tv-app/linux/include/application-basic/Application.h
  examples/tv-app/linux/include/application-basic/ApplicationBasicManager.cpp
  src/app/clusters/application-basic-server/application-basic-server.cpp
  src/app/zap-templates/templates/app/helper.js
  zzz_generated/app-common/app-common/zap-generated/cluster-objects.h
  zzz_generated/app-common/app-common/zap-generated/enums.h
Labels: examples, app, review - pending, fast track

#12490 Use MRP parameters provided by CASE/PASE
  src/app/OperationalDeviceProxy.cpp
  src/controller/CommissioneeDeviceProxy.cpp
  src/transport/PairingSession.h
Labels: transport, controller, app, review - pending, fast track

#12506 Go back to using a QR code for test pairing.
  scripts/tests/chiptest/runner.py
  scripts/tests/chiptest/test_definition.py
Labels: scripts, review - pending, fast track

#12493 [OTA] Add Linux implementation of OTAImageProcessorInterface
  examples/ota-requestor-app/linux/BUILD.gn
  examples/ota-requestor-app/linux/LinuxOTAImageProcessor.cpp
  examples/ota-requestor-app/linux/LinuxOTAImageProcessor.h
  examples/ota-requestor-app/linux/main.cpp
  src/app/clusters/ota-requestor/OTADownloader.h
  src/app/clusters/ota-requestor/OTAImageProcessor.h
Labels: examples, app, review - approved

#12492 Implement event support for Software Diagnostics cluster
  src/app/clusters/software_diagnostics_server/software_diagnostics_server.cpp
  src/include/platform/DiagnosticDataProvider.h
  src/platform/Linux/PlatformManagerImpl.cpp
Labels: platform, linux, app, review - approved

#12473 [pump-examples] Set default value for CHIP_CONFIG_MAX_DEVICE_ADMINS
  examples/pump-app/cc13x2x7_26x2x7/main/main.cpp
  examples/pump-controller-app/cc13x2x7_26x2x7/main/main.cpp
  src/platform/cc13x2_26x2/CHIPDevicePlatformConfig.h
  src/platform/cc13x2_26x2/CHIPPlatformConfig.h
Labels: examples, platform, review - pending, fast track

#12519 Remove redundant 0x from before %p in log formats.
  src/messaging/ExchangeMgr.cpp
Labels: review - approved, fast track

#12508 Add simulated device readme.
  .github/.wordlist.txt
  docs/guides/simulated_device_linux.md
Labels: documentation, github, review - pending, fast track

#12109 Refactor read/write ember compatibility functions
  src/app/util/ember-compatibility-functions.cpp
Labels: app, review - pending, fast track

#12527 Enable featuremap for the Thread Network Diagnostics cluster
  examples/all-clusters-app/all-clusters-common/all-clusters-app.zap
  examples/bridge-app/bridge-common/bridge-app.zap
  examples/lighting-app/lighting-common/lighting-app.zap
  examples/lock-app/lock-common/lock-app.zap
  examples/pump-app/pump-common/pump-app.zap
  examples/pump-controller-app/pump-controller-common/pump-controller-app.zap
  examples/thermostat/thermostat-common/thermostat.zap
  examples/tv-app/tv-common/tv-app.zap
  examples/tv-casting-app/tv-casting-common/tv-casting-app.zap
  examples/window-app/common/window-app.zap
  src/app/zap-templates/zcl/data-model/chip/thread-network-diagnostics-cluster.xml
  src/controller/data_model/controller-clusters.zap
  src/controller/java/zap-generated/CHIPCallbackTypes.h
  src/controller/java/zap-generated/CHIPClustersRead-JNI.cpp
  src/controller/java/zap-generated/chip/devicecontroller/ChipClusters.java
  src/controller/java/zap-generated/chip/devicecontroller/ClusterReadMapping.java
  src/controller/python/chip/clusters/CHIPClusters.py
  src/darwin/Framework/CHIP/zap-generated/CHIPClustersObjc.h
  src/darwin/Framework/CHIP/zap-generated/CHIPClustersObjc.mm
  src/darwin/Framework/CHIP/zap-generated/CHIPTestClustersObjc.h
  src/darwin/Framework/CHIP/zap-generated/CHIPTestClustersObjc.mm
  src/darwin/Framework/CHIPTests/CHIPClustersTests.m
  zzz_generated/all-clusters-app/zap-generated/endpoint_config.h
  zzz_generated/app-common/app-common/zap-generated/enums.h
  zzz_generated/bridge-app/zap-generated/endpoint_config.h
  zzz_generated/chip-tool/zap-generated/cluster/Commands.h
  zzz_generated/controller-clusters/zap-generated/CHIPClusters.cpp
  zzz_generated/controller-clusters/zap-generated/CHIPClusters.h
  zzz_generated/controller-clusters/zap-generated/endpoint_config.h
  zzz_generated/controller-clusters/zap-generated/tests/CHIPClustersTest.cpp
  zzz_generated/controller-clusters/zap-generated/tests/CHIPClustersTest.h
  zzz_generated/lighting-app/zap-generated/endpoint_config.h
  zzz_generated/lock-app/zap-generated/endpoint_config.h
  zzz_generated/pump-app/zap-generated/endpoint_config.h
  zzz_generated/pump-controller-app/zap-generated/endpoint_config.h
  zzz_generated/thermostat/zap-generated/endpoint_config.h
  zzz_generated/tv-app/zap-generated/endpoint_config.h
  zzz_generated/tv-casting-app/zap-generated/endpoint_config.h
  zzz_generated/window-app/zap-generated/endpoint_config.h
Labels: examples, darwin, controller, app, review - approved

#12516 Rename several IM IB in MessageDef
  src/app/BUILD.gn
  src/app/CommandSender.cpp
  src/app/MessageDef/AttributePathIBs.cpp
  src/app/MessageDef/AttributePathIBs.h
  src/app/MessageDef/AttributeStatusIBs.cpp
  src/app/MessageDef/AttributeStatusIBs.h
  src/app/MessageDef/EventFilterIBs.cpp
  src/app/MessageDef/EventFilterIBs.h
  src/app/MessageDef/EventPathIBs.cpp
  src/app/MessageDef/EventPathIBs.h
  src/app/MessageDef/EventReportIBs.cpp
  src/app/MessageDef/EventReportIBs.h
  src/app/MessageDef/InvokeResponseIBs.cpp
  src/app/MessageDef/InvokeResponseIBs.h
  src/app/MessageDef/InvokeResponseMessage.cpp
  src/app/MessageDef/InvokeResponseMessage.h
  src/app/MessageDef/ReadRequestMessage.cpp
  src/app/MessageDef/ReadRequestMessage.h
  src/app/MessageDef/ReportDataMessage.cpp
  src/app/MessageDef/ReportDataMessage.h
  src/app/MessageDef/SubscribeRequestMessage.cpp
  src/app/MessageDef/SubscribeRequestMessage.h
  src/app/MessageDef/SubscribeResponseMessage.h
  src/app/MessageDef/WriteResponseMessage.cpp
  src/app/MessageDef/WriteResponseMessage.h
  src/app/ReadClient.cpp
  src/app/ReadClient.h
  src/app/ReadHandler.cpp
  src/app/ReadHandler.h
  src/app/WriteClient.cpp
  src/app/WriteHandler.cpp
  src/app/reporting/Engine.cpp
  src/app/tests/TestCommandInteraction.cpp
  src/app/tests/TestMessageDef.cpp
  src/app/tests/TestReadInteraction.cpp
  src/app/tests/TestReportingEngine.cpp
  src/app/tests/TestWriteInteraction.cpp
Labels: app, review - approved

#12465 Fix IM client-side APIs to allow timed invoke.
  examples/chip-tool/commands/clusters/ModelCommand.h
  examples/chip-tool/commands/common/CommandInvoker.h
  examples/chip-tool/include/CHIPProjectAppConfig.h
  examples/chip-tool/templates/commands.zapt
  examples/chip-tool/templates/partials/test_cluster.zapt
  examples/chip-tool/templates/tests-commands.zapt
  src/app/Command.cpp
  src/app/Command.h
  src/app/CommandSender.cpp
  src/app/CommandSender.h
  src/app/TimedHandler.cpp
  src/app/tests/suites/TestCluster.yaml
  src/app/tests/suites/TestClusterComplexTypes.yaml
  src/controller/CHIPCluster.h
  src/controller/InvokeInteraction.h
  src/controller/java/templates/CHIPClusters-JNI.zapt
  src/controller/java/zap-generated/CHIPClusters-JNI.cpp
  src/darwin/Framework/CHIP/templates/CHIPClustersObjc-src.zapt
  src/darwin/Framework/CHIP/zap-generated/CHIPClustersObjc.mm
  zzz_generated/chip-tool/zap-generated/cluster/Commands.h
  zzz_generated/chip-tool/zap-generated/test/Commands.h
Labels: examples, darwin, controller, app, review - approved

#12507 Removed level control callback in OnOff Cluster
  src/app/clusters/on-off-server/on-off-server.cpp
Labels: app, review - approved

#12289 Update Door Lock Cluster definitions
  examples/all-clusters-app/all-clusters-common/all-clusters-app.zap
  examples/ota-provider-app/ota-provider-common/ota-provider-app.zap
  examples/ota-requestor-app/ota-requestor-common/ota-requestor-app.zap
  examples/thermostat/thermostat-common/thermostat.zap
  examples/tv-app/tv-common/tv-app.zap
  examples/tv-casting-app/tv-casting-common/tv-casting-app.zap
  src/app/clusters/door-lock-server/door-lock-server-schedule.cpp
  src/app/clusters/door-lock-server/door-lock-server-user.cpp
  src/app/zap-templates/zcl/data-model/chip/door-lock-cluster.xml
  src/app/zap-templates/zcl/data-model/chip/matter-devices.xml
  src/app/zap-templates/zcl/data-model/silabs/ha.xml
  src/app/zap-templates/zcl/zcl.json
  src/controller/data_model/controller-clusters.zap
  src/controller/java/templates/ClusterInfo-java.zapt
  src/controller/java/zap-generated/CHIPCallbackTypes.h
  src/controller/java/zap-generated/CHIPClusters-JNI.cpp
  src/controller/java/zap-generated/CHIPClustersRead-JNI.cpp
  src/controller/java/zap-generated/CHIPInvokeCallbacks.cpp
  src/controller/java/zap-generated/CHIPInvokeCallbacks.h
  src/controller/java/zap-generated/CHIPReadCallbacks.cpp
  src/controller/java/zap-generated/CHIPReadCallbacks.h
  src/controller/java/zap-generated/chip/devicecontroller/ChipClusters.java
  src/controller/java/zap-generated/chip/devicecontroller/ClusterInfoMapping.java
  src/controller/java/zap-generated/chip/devicecontroller/ClusterReadMapping.java
  src/controller/python/chip/clusters/CHIPClusters.py
  src/controller/python/chip/clusters/Objects.py
  src/darwin/Framework/CHIP/zap-generated/CHIPCallbackBridge.mm
  src/darwin/Framework/CHIP/zap-generated/CHIPCallbackBridge_internal.h
  src/darwin/Framework/CHIP/zap-generated/CHIPClustersObjc.h
  src/darwin/Framework/CHIP/zap-generated/CHIPClustersObjc.mm
  src/darwin/Framework/CHIP/zap-generated/CHIPCommandPayloadsObjc.h
  src/darwin/Framework/CHIP/zap-generated/CHIPCommandPayloadsObjc.mm
  src/darwin/Framework/CHIP/zap-generated/CHIPStructsObjc.h
  src/darwin/Framework/CHIP/zap-generated/CHIPStructsObjc.mm
  src/darwin/Framework/CHIP/zap-generated/CHIPTestClustersObjc.h
  src/darwin/Framework/CHIP/zap-generated/CHIPTestClustersObjc.mm
  src/darwin/Framework/CHIPTests/CHIPClustersTests.m
  zzz_generated/all-clusters-app/zap-generated/IMClusterCommandHandler.cpp
  zzz_generated/all-clusters-app/zap-generated/endpoint_config.h
  zzz_generated/app-common/app-common/zap-generated/af-structs.h
  zzz_generated/app-common/app-common/zap-generated/attribute-id.h
  zzz_generated/app-common/app-common/zap-generated/attributes/Accessors.cpp
  zzz_generated/app-common/app-common/zap-generated/attributes/Accessors.h
  zzz_generated/app-common/app-common/zap-generated/callback.h
  zzz_generated/app-common/app-common/zap-generated/cluster-objects.cpp
  zzz_generated/app-common/app-common/zap-generated/cluster-objects.h
  zzz_generated/app-common/app-common/zap-generated/command-id.h
  zzz_generated/app-common/app-common/zap-generated/enums.h
  zzz_generated/app-common/app-common/zap-generated/ids/Attributes.h
  zzz_generated/app-common/app-common/zap-generated/ids/Commands.h
  zzz_generated/chip-tool/zap-generated/cluster/Commands.h
  zzz_generated/chip-tool/zap-generated/reporting/Commands.h
  zzz_generated/controller-clusters/zap-generated/CHIPClientCallbacks.cpp
  zzz_generated/controller-clusters/zap-generated/CHIPClientCallbacks.h
  zzz_generated/controller-clusters/zap-generated/CHIPClusters.cpp
  zzz_generated/controller-clusters/zap-generated/CHIPClusters.h
  zzz_generated/controller-clusters/zap-generated/IMClusterCommandHandler.cpp
  zzz_generated/tv-casting-app/zap-generated/IMClusterCommandHandler.cpp
  zzz_generated/tv-casting-app/zap-generated/endpoint_config.h
Labels: examples, darwin, controller, app, review - pending, fast track

#12547 [Ameba]Update yaml to match docker image 0.5.33 update
  .github/workflows/examples-ameba.yaml
Labels: hotfix, github, workflows, review - pending

#12517 [msg] Initialize session counters with random per spec.
  src/transport/MessageCounter.h
Labels: transport, review - approved

#12212 Added time validity checking to Device Attestation Verifier
  src/credentials/BUILD.gn
  src/credentials/DeviceAttestationVerifier.cpp
  src/credentials/DeviceAttestationVerifier.h
  src/credentials/examples/DefaultDeviceAttestationVerifier.cpp
  src/crypto/CHIPCryptoPAL.h
  src/crypto/CHIPCryptoPALOpenSSL.cpp
  src/crypto/CHIPCryptoPALmbedTLS.cpp
  src/crypto/tests/BUILD.gn
  src/crypto/tests/CHIPCryptoPALTest.cpp
Labels: crypto, review - approved

#12445 Implement QName compression in minmdns
  .vscode/settings.json
  src/lib/dnssd/minimal_mdns/Parser.cpp
  src/lib/dnssd/minimal_mdns/Parser.h
  src/lib/dnssd/minimal_mdns/Query.h
  src/lib/dnssd/minimal_mdns/QueryBuilder.h
  src/lib/dnssd/minimal_mdns/ResponseBuilder.h
  src/lib/dnssd/minimal_mdns/core/BUILD.gn
  src/lib/dnssd/minimal_mdns/core/BytesRange.h
  src/lib/dnssd/minimal_mdns/core/Constants.h
  src/lib/dnssd/minimal_mdns/core/QName.cpp
  src/lib/dnssd/minimal_mdns/core/QName.h
  src/lib/dnssd/minimal_mdns/core/RecordWriter.cpp
  src/lib/dnssd/minimal_mdns/core/RecordWriter.h
  src/lib/dnssd/minimal_mdns/core/tests/BUILD.gn
  src/lib/dnssd/minimal_mdns/core/tests/TestQName.cpp
  src/lib/dnssd/minimal_mdns/core/tests/TestRecordWriter.cpp
  src/lib/dnssd/minimal_mdns/records/IP.cpp
  src/lib/dnssd/minimal_mdns/records/IP.h
  src/lib/dnssd/minimal_mdns/records/Ptr.h
  src/lib/dnssd/minimal_mdns/records/ResourceRecord.cpp
  src/lib/dnssd/minimal_mdns/records/ResourceRecord.h
  src/lib/dnssd/minimal_mdns/records/Srv.h
  src/lib/dnssd/minimal_mdns/records/Txt.h
  src/lib/dnssd/minimal_mdns/records/tests/TestResourceRecord.cpp
  src/lib/dnssd/minimal_mdns/records/tests/TestResourceRecordIP.cpp
  src/lib/dnssd/minimal_mdns/records/tests/TestResourceRecordPtr.cpp
  src/lib/dnssd/minimal_mdns/records/tests/TestResourceRecordSrv.cpp
  src/lib/dnssd/minimal_mdns/records/tests/TestResourceRecordTxt.cpp
  src/lib/dnssd/minimal_mdns/responders/tests/TestPtrResponder.cpp
  src/lib/dnssd/minimal_mdns/tests/CheckOnlyServer.h
  src/lib/dnssd/minimal_mdns/tests/TestResponseSender.cpp
  src/lib/support/BufferWriter.h
Labels: lib, vscode, review - pending, fast track

#12549 Add strict IM encoding ordering check
  src/app/EventManagement.cpp
  src/app/MessageDef/ReportDataMessage.h
  src/app/MessageDef/StructParser.cpp
  src/app/MessageDef/StructParser.h
  src/app/ReadClient.cpp
  src/app/WriteClient.cpp
  src/app/tests/TestMessageDef.cpp
  src/app/tests/TestReadInteraction.cpp
  src/app/tests/TestWriteInteraction.cpp
  src/app/tests/integration/chip_im_responder.cpp
  src/app/util/ember-compatibility-functions.cpp
  src/app/util/mock/attribute-storage.cpp
  src/controller/tests/data_model/TestRead.cpp
Labels: controller, app, review - approved

#12502 Implement event support for General Diagnostics cluster
  src/app/clusters/general_diagnostics_server/general_diagnostics_server.cpp
  src/include/platform/DiagnosticDataProvider.h
  src/platform/Linux/PlatformManagerImpl.cpp
Labels: platform, linux, app, review - approved

#12060 Separate PASE and commissioning.
  src/controller/CHIPDeviceController.cpp
  src/controller/CHIPDeviceController.h
  src/controller/java/CHIPDeviceController-JNI.cpp
  src/controller/python/ChipDeviceController-ScriptBinding.cpp
  src/controller/python/chip-device-ctrl.py
  src/controller/python/chip/ChipDeviceCtrl.py
  src/protocols/secure_channel/RendezvousParameters.h
Labels: controller, review - approved, SDK Discussion Required

#12478 Add VScode tasks to build and flash efr32 apps with selected boards.
  .vscode/tasks.json
  scripts/build/build/targets.py
  scripts/build/builders/efr32.py
  scripts/build/testdata/all_targets_except_host.txt
  scripts/build/testdata/build_all_except_host.txt
Labels: scripts, vscode, review - approved

#12386 Add tracing service to example/platform/esp rpc
  examples/all-clusters-app/esp32/main/CMakeLists.txt
  examples/platform/esp32/Rpc.cpp
Labels: examples, review - pending, fast track

#12540 [build] Update banner to say MATTER.
  scripts/bootstrap.sh
Labels: scripts, fast track

#12538 Fix handling of list-typed attributes in Darwin tests.
  .github/workflows/darwin.yaml
  src/darwin/Framework/CHIP/templates/helper.js
Labels: darwin, github, workflows, review - pending, fast track

#12558 Increase the test waits for timed interaction tests.
  src/app/tests/suites/TestClusterComplexTypes.yaml
  zzz_generated/chip-tool/zap-generated/test/Commands.h
Labels: app, review - pending, fast track

#12320 SetUpCodePairer: don't use DeviceDiscoveryDelegate
  src/controller/CHIPDeviceController.cpp
  src/controller/CHIPDeviceController.h
  src/controller/SetUpCodePairer.cpp
  src/controller/SetUpCodePairer.h
Labels: controller, review - pending, fast track

#12338 Remove needless OpcredsIssuer dependency
  examples/chip-tool/commands/clusters/ModelCommand.h
  examples/chip-tool/commands/common/CHIPCommand.h
  examples/chip-tool/commands/common/Command.h
  examples/chip-tool/commands/common/Commands.h
  examples/chip-tool/commands/discover/DiscoverCommand.h
  examples/chip-tool/commands/reporting/ReportingCommand.h
  examples/chip-tool/commands/tests/TestCommand.h
Labels: examples, review - pending, fast track

#12542 Introduce a way to loop over endpoints that have a given server cluster.
  src/app/clusters/general_diagnostics_server/general_diagnostics_server.cpp
  src/app/clusters/software_diagnostics_server/software_diagnostics_server.cpp
  src/app/util/af.h
  src/app/util/attribute-storage.cpp
  src/lib/support/BUILD.gn
  src/lib/support/Iterators.h
  src/lib/support/Pool.h
Labels: lib, app, review - approved

#12447 Adding IsSleepyDevice() and related tests
  src/lib/dnssd/Resolver.h
  src/lib/dnssd/tests/TestTxtFields.cpp
Labels: examples, scripts, platform, linux, lib, app, vscode, github, workflows, review - approved

#12566 RPC: Remove console install from efr lighting
  examples/lighting-app/efr32/BUILD.gn
Labels: examples, review - pending, fast track

#12564 [Android] Fix accidental Verify condition when throwing exception
  src/controller/java/AndroidClusterExceptions.cpp
Labels: controller, review - pending, fast track

#12499 Catch or release ObjectPool leaks
  src/app/CASESessionManager.h
  src/app/InteractionModelEngine.h
  src/controller/CHIPDeviceControllerFactory.cpp
  src/credentials/GroupDataProviderImpl.h
  src/lib/dnssd/minimal_mdns/Server.h
  src/lib/dnssd/minimal_mdns/tests/CheckOnlyServer.h
  src/lib/support/Pool.h
  src/lib/support/PoolWrapper.h
  src/lib/support/tests/TestPool.cpp
  src/transport/SecureSessionTable.h
  src/transport/SessionManager.h
  src/transport/UnauthenticatedSessionTable.h
  src/transport/raw/TCP.h
Labels: transport, lib, controller, app, review - pending, fast track

#12072 Round 2 of fixing Device Model XML
  examples/all-clusters-app/all-clusters-common/all-clusters-app.zap
  examples/thermostat/thermostat-common/thermostat.zap
  examples/tv-app/tv-common/tv-app.zap
  examples/tv-casting-app/tv-casting-common/tv-casting-app.zap
  src/app/tests/suites/TestDescriptorCluster.yaml
  src/app/util/util.cpp
  src/app/zap-templates/zcl/data-model/chip/binding-cluster.xml
  src/app/zap-templates/zcl/data-model/chip/group-key-mgmt-cluster.xml
  src/app/zap-templates/zcl/data-model/chip/illuminance-measurement-cluster.xml
  src/app/zap-templates/zcl/data-model/chip/matter-devices.xml
  src/app/zap-templates/zcl/data-model/chip/proxy-configuration-cluster.xml
  src/app/zap-templates/zcl/data-model/chip/proxy-discovery-cluster.xml
  src/app/zap-templates/zcl/data-model/chip/proxy-valid-cluster.xml
  src/app/zap-templates/zcl/data-model/chip/pwm-cluster.xml
  src/app/zap-templates/zcl/zcl.json
  src/app/zap_cluster_list.py
  src/controller/data_model/controller-clusters.zap
  src/controller/java/zap-generated/chip/devicecontroller/ChipClusters.java
  src/controller/python/chip/clusters/CHIPClusters.py
  src/controller/python/chip/clusters/Objects.py
  src/darwin/Framework/CHIP/zap-generated/CHIPCommandPayloadsObjc.h
  src/darwin/Framework/CHIP/zap-generated/CHIPCommandPayloadsObjc.mm
  src/darwin/Framework/CHIP/zap-generated/CHIPStructsObjc.h
  src/darwin/Framework/CHIP/zap-generated/CHIPStructsObjc.mm
  src/darwin/Framework/CHIPTests/CHIPClustersTests.m
  zzz_generated/all-clusters-app/zap-generated/attribute-size.cpp
  zzz_generated/all-clusters-app/zap-generated/endpoint_config.h
  zzz_generated/app-common/app-common/zap-generated/attribute-id.h
  zzz_generated/app-common/app-common/zap-generated/attributes/Accessors.cpp
  zzz_generated/app-common/app-common/zap-generated/attributes/Accessors.h
  zzz_generated/app-common/app-common/zap-generated/callback.h
  zzz_generated/app-common/app-common/zap-generated/callbacks/PluginCallbacks.h
  zzz_generated/app-common/app-common/zap-generated/cluster-id.h
  zzz_generated/app-common/app-common/zap-generated/cluster-objects.cpp
  zzz_generated/app-common/app-common/zap-generated/cluster-objects.h
  zzz_generated/app-common/app-common/zap-generated/command-id.h
  zzz_generated/app-common/app-common/zap-generated/ids/Attributes.h
  zzz_generated/app-common/app-common/zap-generated/ids/Clusters.h
  zzz_generated/app-common/app-common/zap-generated/ids/Commands.h
  zzz_generated/app-common/app-common/zap-generated/print-cluster.h
  zzz_generated/chip-tool/zap-generated/cluster/Commands.h
  zzz_generated/chip-tool/zap-generated/reporting/Commands.h
  zzz_generated/chip-tool/zap-generated/test/Commands.h
  zzz_generated/controller-clusters/zap-generated/endpoint_config.h
  zzz_generated/thermostat/zap-generated/attribute-size.cpp
  zzz_generated/thermostat/zap-generated/endpoint_config.h
  zzz_generated/tv-app/zap-generated/attribute-size.cpp
  zzz_generated/tv-app/zap-generated/endpoint_config.h
  zzz_generated/tv-casting-app/zap-generated/attribute-size.cpp
  zzz_generated/tv-casting-app/zap-generated/endpoint_config.h
Labels: examples, darwin, controller, app, review - pending, fast track

#12560 Implement BDXDownloader for new OTA Requestor API
  examples/ota-requestor-app/linux/LinuxOTAImageProcessor.cpp
  examples/ota-requestor-app/linux/LinuxOTAImageProcessor.h
  examples/ota-requestor-app/linux/main.cpp
  src/app/clusters/ota-requestor/BDXDownloader.cpp
  src/app/clusters/ota-requestor/BDXDownloader.h
  src/app/clusters/ota-requestor/OTADownloader.h
  src/app/clusters/ota-requestor/OTARequestor.cpp
  src/app/clusters/ota-requestor/OTARequestor.h
  src/app/clusters/ota-requestor/README.md
Labels: examples, app, review - approved

#12604 Add class names to the spellcheck wordlist
  .github/.wordlist.txt
Labels: github, review - pending, fast track

#12565 Remove weak keyword from OT uart process implemented for efr32 platform
  src/platform/EFR32/ThreadStackManagerImpl.cpp
Labels: platform, efr32, review - pending, fast track

#12535 Remove manufacturer code arrays from endpoint_config.
  src/app/util/attribute-storage.cpp
  src/app/util/attribute-storage.h
  src/app/util/attribute-table.cpp
  src/app/zap-templates/templates/app/endpoint_config.zapt
  zzz_generated/all-clusters-app/zap-generated/endpoint_config.h
  zzz_generated/bridge-app/zap-generated/endpoint_config.h
  zzz_generated/controller-clusters/zap-generated/endpoint_config.h
  zzz_generated/lighting-app/zap-generated/endpoint_config.h
  zzz_generated/lock-app/zap-generated/endpoint_config.h
  zzz_generated/ota-provider-app/zap-generated/endpoint_config.h
  zzz_generated/ota-requestor-app/zap-generated/endpoint_config.h
  zzz_generated/placeholder/app1/zap-generated/endpoint_config.h
  zzz_generated/placeholder/app2/zap-generated/endpoint_config.h
  zzz_generated/pump-app/zap-generated/endpoint_config.h
  zzz_generated/pump-controller-app/zap-generated/endpoint_config.h
  zzz_generated/temperature-measurement-app/zap-generated/endpoint_config.h
  zzz_generated/thermostat/zap-generated/endpoint_config.h
  zzz_generated/tv-app/zap-generated/endpoint_config.h
  zzz_generated/tv-casting-app/zap-generated/endpoint_config.h
  zzz_generated/window-app/zap-generated/endpoint_config.h
Labels: app, review - approved

#12620 Adding PICS condition - Dec 6th
  src/app/tests/suites/certification/PICS.yaml
  src/app/tests/suites/certification/Test_TC_BI_2_2.yaml
  src/app/tests/suites/certification/Test_TC_CC_9_1.yaml
  src/app/tests/suites/certification/Test_TC_CC_9_2.yaml
  src/app/tests/suites/certification/Test_TC_CC_9_3.yaml
  src/app/tests/suites/certification/Test_TC_DIAGSW_1_1.yaml
  src/app/tests/suites/certification/Test_TC_DIAGSW_2_1.yaml
  src/app/tests/suites/certification/Test_TC_DIAGSW_3_2.yaml
  src/app/tests/suites/certification/Test_TC_OCC_2_2.yaml
  src/app/tests/suites/certification/Test_TC_OO_2_3.yaml
  src/app/tests/suites/certification/Test_TC_PCC_2_2.yaml
  src/app/tests/suites/certification/Test_TC_PCC_2_3.yaml
  src/app/tests/suites/certification/Test_TC_RH_2_2.yaml
  src/app/tests/suites/certification/Test_TC_TM_2_2.yaml
  src/app/tests/suites/certification/Test_TC_TSTAT_2_2.yaml
  src/app/tests/suites/certification/Test_TC_TSUIC_2_2.yaml
  src/app/tests/suites/certification/Test_TC_WNCV_2_2.yaml
  src/app/tests/suites/certification/Test_TC_WNCV_2_4.yaml
  src/app/tests/suites/certification/Test_TC_WNCV_2_5.yaml
  zzz_generated/chip-tool/zap-generated/test/Commands.h
Labels: app, review - pending, fast track

#12406 [Group] Modification for group command processing on device side
  src/app/CommandHandler.cpp
  src/app/util/ember-compatibility-functions.cpp
  src/app/util/util.cpp
Labels: app, review - approved

#12618 [hotfix] fix tv-server build failed issue on arm and added CI for it
  examples/tv-app/android/java/MediaPlaybackManager.cpp
  scripts/build/build/targets.py
  scripts/build/testdata/all_targets_except_host.txt
  scripts/build/testdata/build_all_except_host.txt
  scripts/build/testdata/glob_star_targets_except_host.txt
Labels: examples, scripts, review - pending, fast track

#12454 [Ameba] Remove redundant linkage in chip_main.cmake
  examples/all-clusters-app/ameba/chip_main.cmake
  examples/lighting-app/ameba/chip_main.cmake
Labels: examples, review - pending, fast track

#12605 Create an 'Orphan' device so that all clusters in doc are referenced.
  src/app/zap-templates/zcl/data-model/all.xml
  src/app/zap-templates/zcl/data-model/chip/matter-devices.xml
Labels: app, review - pending, fast track

#12606 Cleanup IM
  src/app/AttributeAccessInterface.cpp
  src/app/AttributeAccessInterface.h
  src/app/Command.cpp
  src/app/Command.h
  src/app/CommandHandler.cpp
  src/app/CommandHandler.h
  src/app/CommandSender.cpp
  src/app/EventManagement.cpp
  src/app/MessageDef/AttributeReportIB.h
  src/app/MessageDef/AttributeReportIBs.h
  src/app/MessageDef/CommandPathIB.cpp
  src/app/MessageDef/CommandPathIB.h
  src/app/ReadClient.cpp
  src/app/WriteClient.cpp
  src/app/WriteHandler.cpp
  src/app/clusters/account-login-server/account-login-server.cpp
  src/app/clusters/application-launcher-server/application-launcher-server.cpp
  src/app/clusters/door-lock-server/door-lock-server-logging.cpp
  src/app/clusters/door-lock-server/door-lock-server-schedule.cpp
  src/app/clusters/door-lock-server/door-lock-server-user.cpp
  src/app/clusters/groups-server/groups-server.cpp
  src/app/clusters/identify-server/identify-server.cpp
  src/app/clusters/keypad-input-server/keypad-input-server.cpp
  src/app/clusters/media-playback-server/media-playback-server.cpp
  src/app/clusters/operational-credentials-server/operational-credentials-server.cpp
  src/app/clusters/scenes/scenes.cpp
  src/app/clusters/target-navigator-server/target-navigator-server.cpp
  src/app/clusters/tv-channel-server/tv-channel-server.cpp
  src/app/reporting/Engine.cpp
  src/app/tests/TestCommandInteraction.cpp
  src/app/tests/TestMessageDef.cpp
  src/app/tests/TestReadInteraction.cpp
  src/app/tests/TestReportingEngine.cpp
  src/app/tests/TestWriteInteraction.cpp
  src/app/tests/integration/chip_im_initiator.cpp
  src/app/tests/integration/chip_im_responder.cpp
  src/app/util/ember-compatibility-functions.cpp
  src/app/util/mock/attribute-storage.cpp
Labels: app, review - approved

#12613 Group Data Provider: Added missing group mapping iterator.
  src/credentials/GroupDataProvider.h
  src/credentials/GroupDataProviderImpl.cpp
  src/credentials/GroupDataProviderImpl.h
  src/credentials/tests/TestGroupDataProvider.cpp
Labels: review - approved

#12624 Bump docker image to 0.5.33 (latest dockerhub version)
  .devcontainer/devcontainer.json
  .github/workflows/android.yaml
  .github/workflows/bloat_check.yaml
  .github/workflows/build.yaml
  .github/workflows/cirque.yaml
  .github/workflows/docker_img.yaml
  .github/workflows/doxygen.yaml
  .github/workflows/examples-efr32.yaml
  .github/workflows/examples-esp32.yaml
  .github/workflows/examples-infineon.yaml
  .github/workflows/examples-k32w.yaml
  .github/workflows/examples-linux-standalone.yaml
  .github/workflows/examples-mbed.yaml
  .github/workflows/examples-nrfconnect.yaml
  .github/workflows/examples-qpg.yaml
  .github/workflows/examples-telink.yaml
  .github/workflows/examples-tizen.yaml
  .github/workflows/qemu.yaml
  .github/workflows/release_artifacts.yaml
  .github/workflows/tests.yaml
  .github/workflows/unit_integration_test.yaml
  integrations/cloudbuild/build-all.yaml
  integrations/cloudbuild/smoke-test.yaml
Labels: integrations, vscode, github, workflows, review - pending, fast track

#12381 Python Cluster Object - Field Defaults
  .restyled.yaml
  scripts/tools/zap/generate.py
  src/app/zap-templates/templates/app/helper.js
  src/controller/python/chip/clusters/CHIPClusters.py
  src/controller/python/chip/clusters/Objects.py
  src/controller/python/templates/python-cluster-Objects-py.zapt
Labels: scripts, controller, app, review - pending, fast track

#12360 ESP32: Add OTARequstor to all-clusters-app
  config/esp32/components/chip/CMakeLists.txt
  examples/all-clusters-app/all-clusters-common/all-clusters-app.zap
  examples/all-clusters-app/esp32/main/Kconfig.projbuild
  examples/all-clusters-app/esp32/partitions.csv
  examples/all-clusters-app/esp32/sdkconfig.defaults
  examples/all-clusters-app/esp32/sdkconfig_c3devkit.defaults
  examples/all-clusters-app/esp32/sdkconfig_m5stack.defaults
  examples/all-clusters-app/esp32/sdkconfig_m5stack_rpc.defaults
  src/app/tests/suites/TestDescriptorCluster.yaml
  src/darwin/Framework/CHIPTests/CHIPClustersTests.m
  src/lib/shell/commands/BUILD.gn
  src/lib/shell/commands/DFUManager_esp32.h
  src/lib/shell/commands/OTAUpdater_esp32.h
  src/lib/shell/commands/Ota.cpp
  src/lib/shell/streamer_esp32.cpp
  src/platform/ESP32/InetPlatformConfig.h
  zzz_generated/all-clusters-app/zap-generated/CHIPClientCallbacks.cpp
  zzz_generated/all-clusters-app/zap-generated/CHIPClientCallbacks.h
  zzz_generated/all-clusters-app/zap-generated/CHIPClusters.cpp
  zzz_generated/all-clusters-app/zap-generated/CHIPClusters.h
  zzz_generated/all-clusters-app/zap-generated/IMClusterCommandHandler.cpp
  zzz_generated/all-clusters-app/zap-generated/PluginApplicationCallbacks.h
  zzz_generated/all-clusters-app/zap-generated/endpoint_config.h
  zzz_generated/all-clusters-app/zap-generated/gen_config.h
  zzz_generated/chip-tool/zap-generated/test/Commands.h
Labels: examples, platform, darwin, esp32, lib, app, config, review - approved

#12562 Fix missing PR comments
  examples/lighting-app/efr32/src/AppTask.cpp
  src/app/clusters/color-control-server/color-control-server.cpp
  src/app/clusters/color-control-server/color-control-server.h
  src/app/clusters/on-off-server/on-off-server.cpp
  src/app/clusters/on-off-server/on-off-server.h
Labels: examples, app, review - pending, fast track

#12630 Fix two CHIP_ERROR values overlapping.
  src/lib/core/CHIPError.h
Labels: hotfix, lib, review - pending

#12574 Calls user-supplied function for every endpoint that has correct given server cluster
  src/app/clusters/software_diagnostics_server/software_diagnostics_server.cpp
Labels: app, review - pending, fast track

#12610 Customized basic cluster android
  src/platform/android/AndroidConfig.cpp
  src/platform/android/AndroidConfig.h
  src/platform/android/ConfigurationManagerImpl.cpp
  src/platform/android/ConfigurationManagerImpl.h
  src/platform/android/java/chip/platform/ConfigurationManager.java
  src/platform/android/java/chip/platform/PreferencesConfigurationManager.java
Labels: platform, review - pending, fast track

#12569 Add IM DataVersionFilter encoding support for read/subscribe request
  src/app/BUILD.gn
  src/app/MessageDef/AttributeDataVersionList.cpp
  src/app/MessageDef/ClusterPathIB.cpp
  src/app/MessageDef/ClusterPathIB.h
  src/app/MessageDef/DataVersionFilterIB.cpp
  src/app/MessageDef/DataVersionFilterIB.h
  src/app/MessageDef/DataVersionFilterIBs.cpp
  src/app/MessageDef/DataVersionFilterIBs.h
  src/app/MessageDef/ReadRequestMessage.cpp
  src/app/MessageDef/ReadRequestMessage.h
  src/app/MessageDef/SubscribeRequestMessage.cpp
  src/app/MessageDef/SubscribeRequestMessage.h
  src/app/MessageDef/WriteRequestMessage.h
  src/app/tests/TestMessageDef.cpp
  src/lib/core/CHIPError.cpp
  src/lib/core/CHIPError.h
Labels: lib, app, review - approved

#12633 Remove EventSchema and put ConcreteEventPath within Event Option
  src/app/ConcreteEventPath.h
  src/app/EventLoggingTypes.h
  src/app/EventManagement.cpp
  src/app/tests/TestEventLogging.cpp
  src/app/tests/TestReadInteraction.cpp
  src/app/tests/integration/MockEvents.cpp
Labels: app, review - approved

#12646 Remove the now-unused CHIPClusters WriteAttribute* APIs.
  src/app/chip_data_model.gni
  src/app/tests/suites/templates/templates.json
  src/app/zap-templates/templates/app/CHIPClusters-src.zapt
  src/app/zap-templates/templates/app/CHIPClusters.zapt
  src/app/zap-templates/templates/app/tests/CHIPClusters-src.zapt
  src/app/zap-templates/templates/app/tests/CHIPClustersTest.zapt
  src/darwin/Framework/CHIP.xcodeproj/project.pbxproj
  zzz_generated/controller-clusters/zap-generated/CHIPClusters.cpp
  zzz_generated/controller-clusters/zap-generated/CHIPClusters.h
  zzz_generated/controller-clusters/zap-generated/tests/CHIPClustersTest.cpp
  zzz_generated/controller-clusters/zap-generated/tests/CHIPClustersTest.h
  zzz_generated/lighting-app/zap-generated/CHIPClusters.cpp
  zzz_generated/lighting-app/zap-generated/CHIPClusters.h
  zzz_generated/pump-controller-app/zap-generated/CHIPClusters.cpp
  zzz_generated/pump-controller-app/zap-generated/CHIPClusters.h
  zzz_generated/thermostat/zap-generated/CHIPClusters.cpp
  zzz_generated/thermostat/zap-generated/CHIPClusters.h
  zzz_generated/tv-app/zap-generated/CHIPClusters.cpp
  zzz_generated/tv-app/zap-generated/CHIPClusters.h
Labels: darwin, app, review - pending, fast track

#12626 Fix ReadEvent for issue #11951
  src/app/ReadClient.h
  src/controller/ReadInteraction.h
  src/controller/TypedReadCallback.h
  src/controller/tests/data_model/TestRead.cpp
Labels: controller, app, review - approved

#12305 Implement ACL attribute read/write
  examples/all-clusters-app/all-clusters-common/all-clusters-app.zap
  examples/all-clusters-app/all-clusters-common/src/bridged-actions-stub.cpp
  src/access/AccessControl.h
  src/access/examples/ExampleAccessControlDelegate.cpp
  src/access/tests/TestAccessControl.cpp
  src/app/AttributeAccessInterface.h
  src/app/BUILD.gn
  src/app/clusters/access-control-server/access-control-server.cpp
  src/app/clusters/descriptor/descriptor.cpp
  src/app/zap-templates/zcl/data-model/chip/access-control-cluster.xml
  src/controller/data_model/controller-clusters.zap
  src/controller/python/test/test_scripts/cluster_objects.py
  zzz_generated/all-clusters-app/zap-generated/endpoint_config.h
Labels: examples, darwin, controller, app, review - pending, fast track

#12652 Remove the CHIPClusters ReadAttribute* APIs.
  examples/chip-tool/templates/commands.zapt
  examples/chip-tool/templates/reporting-commands.zapt
  src/app/DeviceProxy.cpp
  src/app/DeviceProxy.h
  src/app/zap-templates/templates/app/CHIPClusters-src.zapt
  src/app/zap-templates/templates/app/CHIPClusters.zapt
  zzz_generated/all-clusters-app/zap-generated/CHIPClusters.cpp
  zzz_generated/all-clusters-app/zap-generated/CHIPClusters.h
  zzz_generated/chip-tool/zap-generated/cluster/Commands.h
  zzz_generated/chip-tool/zap-generated/reporting/Commands.h
  zzz_generated/controller-clusters/zap-generated/CHIPClusters.cpp
  zzz_generated/controller-clusters/zap-generated/CHIPClusters.h
  zzz_generated/lighting-app/zap-generated/CHIPClusters.cpp
  zzz_generated/lighting-app/zap-generated/CHIPClusters.h
  zzz_generated/ota-requestor-app/zap-generated/CHIPClusters.cpp
  zzz_generated/ota-requestor-app/zap-generated/CHIPClusters.h
  zzz_generated/pump-app/zap-generated/CHIPClusters.cpp
  zzz_generated/pump-app/zap-generated/CHIPClusters.h
  zzz_generated/pump-controller-app/zap-generated/CHIPClusters.cpp
  zzz_generated/pump-controller-app/zap-generated/CHIPClusters.h
  zzz_generated/thermostat/zap-generated/CHIPClusters.cpp
  zzz_generated/thermostat/zap-generated/CHIPClusters.h
  zzz_generated/tv-app/zap-generated/CHIPClusters.cpp
  zzz_generated/tv-app/zap-generated/CHIPClusters.h
Labels: examples, app, review - pending, fast track

#12653 Add support to chip-tool for sending the null value for nullable arguments.
  examples/chip-tool/commands/common/Command.cpp
  examples/chip-tool/commands/common/Command.h
Labels: examples, review - pending, fast track

#12552 [zephyr] Added support for getting GeneralDiagnostics attributes
  config/nrfconnect/app/sample-defaults.conf
  src/app/clusters/general_diagnostics_server/general_diagnostics_server.cpp
  src/include/platform/DiagnosticDataProvider.h
  src/inet/InetInterface.cpp
  src/inet/InetInterface.h
  src/inet/tests/TestInetEndPoint.cpp
  src/platform/Ameba/ConfigurationManagerImpl.cpp
  src/platform/EFR32/ConfigurationManagerImpl.cpp
  src/platform/ESP32/DiagnosticDataProviderImpl.cpp
  src/platform/Linux/ConfigurationManagerImpl.cpp
  src/platform/Linux/PlatformManagerImpl.cpp
  src/platform/P6/DiagnosticDataProviderImpl.cpp
  src/platform/Zephyr/ConfigurationManagerImpl.cpp
  src/platform/Zephyr/ConfigurationManagerImpl.h
  src/platform/Zephyr/DiagnosticDataProviderImpl.cpp
  src/platform/Zephyr/DiagnosticDataProviderImpl.h
  src/platform/Zephyr/ZephyrConfig.cpp
  src/platform/Zephyr/ZephyrConfig.h
Labels: platform, efr32, esp32, linux, zephyr, inet, app, config, review - approved, fast track

#12662 Fix Darwin test compilation error on Xcode 13.
  src/darwin/Framework/CHIP/templates/clusters-tests.zapt
  src/darwin/Framework/CHIPTests/CHIPClustersTests.m
Labels: darwin, review - pending, fast track

#12658 [gitignore] Add `*~` to gitignore
  .gitignore
Labels: review - pending, fast track

#12661 Some interface cleanup on AttributeValueEncoder.
  src/app/AttributeAccessInterface.cpp
  src/app/AttributeAccessInterface.h
Labels: app, review - pending, fast track

#12628 Streamline ObjectPool in System::Timer
  src/credentials/CertificationDeclaration.cpp
  src/inet/InetLayer.cpp
  src/inet/InetLayer.h
  src/inet/tests/TestInetEndPoint.cpp
  src/lib/support/TestPersistentStorageDelegate.h
  src/lib/support/Variant.h
  src/messaging/ExchangeMessageDispatch.cpp
  src/platform/Linux/ConnectivityManagerImpl.h
  src/system/SystemConfig.h
  src/system/SystemLayer.h
  src/system/SystemLayerImplLwIP.cpp
  src/system/SystemLayerImplLwIP.h
  src/system/SystemLayerImplSelect.cpp
  src/system/SystemLayerImplSelect.h
  src/system/SystemTimer.cpp
  src/system/SystemTimer.h
Labels: system, platform, linux, lib, inet, review - pending, fast track

#12666 Add events to Bridged Actions cluster (#12609)
  src/app/zap-templates/zcl/data-model/chip/bridged-actions-cluster.xml
  src/controller/python/chip/clusters/Objects.py
  zzz_generated/app-common/app-common/zap-generated/cluster-objects.cpp
  zzz_generated/app-common/app-common/zap-generated/cluster-objects.h
Labels: controller, app, review - pending, fast track

#12656 [hotfix] fix tv-server build failed issue on arm and added CI for it
  scripts/build/build/targets.py
  scripts/build/testdata/build_all_except_host.txt
  src/app/clusters/general_diagnostics_server/general_diagnostics_server.cpp
  src/platform/android/BLEManagerImpl.cpp
Labels: scripts, platform, app, review - pending, fast track

#12623 Add LWIP RIO patch to patch dir.
  .github/.wordlist.txt
  src/lwip/patches/README.md
  src/lwip/patches/rio_patch_updated.patch
Labels: github, fast track, lwip

#12672 Fix minimal mDNS ResolvedNodeData::mAddress overflow
  src/lib/dnssd/Resolver_ImplMinimalMdns.cpp
Labels: lib, review - pending, fast track

#12614 Fix illuminance measurement cluster attributes
  examples/all-clusters-app/all-clusters-common/all-clusters-app.zap
  src/app/zap-templates/zcl/data-model/chip/illuminance-measurement-cluster.xml
  zzz_generated/all-clusters-app/zap-generated/endpoint_config.h
Labels: examples, app, review - pending, fast track

#12342 [Group] Add multicast listening on linux
  .github/workflows/tests.yaml
  scripts/build/build/targets.py
  scripts/build/builders/host.py
  src/app/server/BUILD.gn
  src/app/server/Server.cpp
  src/app/tests/TestWriteInteraction.cpp
  src/darwin/Framework/CHIP/templates/tests.js
  src/darwin/Framework/CHIPTests/CHIPClustersTests.m
  src/inet/UDPEndPoint.cpp
  src/messaging/ExchangeMgr.cpp
  src/platform/Darwin/InetPlatformConfig.h
  src/platform/Linux/InetPlatformConfig.h
  src/transport/SessionManager.cpp
  src/transport/TransportMgrBase.cpp
  src/transport/TransportMgrBase.h
  src/transport/raw/Base.h
  src/transport/raw/Tuple.h
  src/transport/raw/UDP.cpp
  src/transport/raw/UDP.h
Labels: scripts, transport, platform, darwin, linux, inet, app, github, workflows, review - approved

#12321 Always search on-network
  src/controller/SetUpCodePairer.cpp
Labels: controller, review - pending, fast track

#12669 Implement attributes for Administrator Commissioning cluster
  examples/all-clusters-app/all-clusters-common/all-clusters-app.zap
  examples/bridge-app/bridge-common/bridge-app.zap
  examples/lighting-app/lighting-common/lighting-app.zap
  examples/lock-app/lock-common/lock-app.zap
  examples/pump-app/pump-common/pump-app.zap
  examples/pump-controller-app/pump-controller-common/pump-controller-app.zap
  examples/temperature-measurement-app/esp32/main/temperature-measurement.zap
  examples/thermostat/thermostat-common/thermostat.zap
  examples/tv-app/tv-common/tv-app.zap
  examples/tv-casting-app/tv-casting-common/tv-casting-app.zap
  examples/window-app/common/window-app.zap
  src/app/clusters/administrator-commissioning-server/administrator-commissioning-server.cpp
  src/app/server/CommissioningWindowManager.cpp
  src/app/server/CommissioningWindowManager.h
  src/app/tests/TestCommissionManager.cpp
  src/app/zap-templates/zcl/data-model/chip/administrator-commissioning-cluster.xml
  src/controller/data_model/controller-clusters.zap
  src/controller/java/zap-generated/CHIPCallbackTypes.h
  src/controller/java/zap-generated/CHIPClustersRead-JNI.cpp
  src/controller/java/zap-generated/CHIPReadCallbacks.cpp
  src/controller/java/zap-generated/CHIPReadCallbacks.h
  src/controller/java/zap-generated/chip/devicecontroller/ChipClusters.java
  src/controller/java/zap-generated/chip/devicecontroller/ClusterReadMapping.java
  src/controller/python/chip/clusters/CHIPClusters.py
  src/controller/python/chip/clusters/Objects.py
  src/darwin/Framework/CHIP/zap-generated/CHIPClustersObjc.h
  src/darwin/Framework/CHIP/zap-generated/CHIPClustersObjc.mm
  src/darwin/Framework/CHIP/zap-generated/CHIPTestClustersObjc.h
  src/darwin/Framework/CHIP/zap-generated/CHIPTestClustersObjc.mm
  src/darwin/Framework/CHIPTests/CHIPClustersTests.m
  zzz_generated/all-clusters-app/zap-generated/endpoint_config.h
  zzz_generated/app-common/app-common/zap-generated/attribute-id.h
  zzz_generated/app-common/app-common/zap-generated/attributes/Accessors.cpp
  zzz_generated/app-common/app-common/zap-generated/attributes/Accessors.h
  zzz_generated/app-common/app-common/zap-generated/cluster-objects.h
  zzz_generated/app-common/app-common/zap-generated/ids/Attributes.h
  zzz_generated/bridge-app/zap-generated/endpoint_config.h
  zzz_generated/chip-tool/zap-generated/cluster/Commands.h
  zzz_generated/lighting-app/zap-generated/endpoint_config.h
  zzz_generated/lock-app/zap-generated/endpoint_config.h
  zzz_generated/pump-app/zap-generated/endpoint_config.h
  zzz_generated/pump-controller-app/zap-generated/endpoint_config.h
  zzz_generated/temperature-measurement-app/zap-generated/endpoint_config.h
  zzz_generated/thermostat/zap-generated/endpoint_config.h
  zzz_generated/tv-app/zap-generated/endpoint_config.h
  zzz_generated/tv-casting-app/zap-generated/endpoint_config.h
  zzz_generated/window-app/zap-generated/endpoint_config.h
Labels: examples, darwin, controller, app, review - approved

#12686 Revert "Add tracing service to example/platform/esp rpc (#12386)"
  examples/all-clusters-app/esp32/main/CMakeLists.txt
  examples/platform/esp32/Rpc.cpp
Labels: examples, hotfix

#12684 Clean up concrete command path
  src/app/CommandHandler.cpp
Labels: app, review - pending, fast track

#12573 Implement event support for WiFi Network Diagnostics cluster
  src/app/clusters/wifi_network_diagnostics_server/wifi_network_diagnostics_server.cpp
  src/include/platform/DiagnosticDataProvider.h
  src/include/platform/GeneralFaults.h
  src/platform/Linux/ConnectivityManagerImpl.cpp
  src/platform/Linux/ConnectivityManagerImpl.h
  src/platform/Linux/PlatformManagerImpl.cpp
  src/platform/Linux/WirelessDefs.h
Labels: platform, linux, app, review - approved

#12638 Send optional MRP parameters in PASE messages
  src/app/server/CommissioningWindowManager.cpp
  src/controller/CHIPDeviceController.cpp
  src/controller/CHIPDeviceController.h
  src/protocols/secure_channel/CASESession.h
  src/protocols/secure_channel/PASESession.cpp
  src/protocols/secure_channel/PASESession.h
  src/protocols/secure_channel/tests/TestPASESession.cpp
  src/transport/BUILD.gn
  src/transport/PairingSession.cpp
  src/transport/PairingSession.h
  src/transport/tests/BUILD.gn
  src/transport/tests/TestPairingSession.cpp
Labels: transport, controller, app, review - pending, fast track

#12700 Esp32 build fix
  .github/workflows/examples-esp32.yaml
  scripts/build/runner/shell.py
  src/platform/ESP32/InetPlatformConfig.h
Labels: scripts, platform, esp32, github, workflows, fast track

#12691 Rename ActionStatusEnum to ActionStateEnum.
  src/app/zap-templates/zcl/data-model/chip/bridged-actions-cluster.xml
  src/controller/java/zap-generated/CHIPReadCallbacks.cpp
  src/controller/python/chip/clusters/Objects.py
  zzz_generated/app-common/app-common/zap-generated/cluster-objects.h
Labels: controller, app, review - pending, fast track

#12694 Small cleanups
  src/ble/BtpEngine.cpp
  src/controller/CHIPDeviceController.h
  src/platform/cc13x2_26x2/ble_user_config.c
  src/transport/SecureSessionTable.h
  src/transport/raw/PeerAddress.h
Labels: transport, platform, controller, ble, review - pending, fast track

#12641 Integrate IM event with server
  examples/all-clusters-app/all-clusters-common/all-clusters-app.zap
  examples/lighting-app/nxp/k32w/k32w0/include/CHIPProjectConfig.h
  examples/lock-app/nxp/k32w/k32w0/include/CHIPProjectConfig.h
  examples/shell/nxp/k32w/k32w0/include/CHIPProjectConfig.h
  src/app/EventLogging.h
  src/app/EventManagement.cpp
  src/app/clusters/test-cluster-server/test-cluster-server.cpp
  src/app/server/Server.cpp
  src/app/tests/TestEventLogging.cpp
  src/app/tests/TestReadInteraction.cpp
  src/app/tests/integration/MockEvents.cpp
  src/app/zap-templates/zcl/data-model/chip/test-cluster.xml
  src/controller/python/chip/clusters/Attribute.py
  src/controller/python/chip/clusters/Objects.py
  src/controller/python/templates/python-cluster-Objects-py.zapt
  src/controller/python/test/test_scripts/cluster_objects.py
  src/darwin/Framework/CHIP/zap-generated/CHIPCommandPayloadsObjc.h
  src/darwin/Framework/CHIP/zap-generated/CHIPCommandPayloadsObjc.mm
  src/include/platform/CHIPDeviceConfig.h
  src/lib/core/CHIPConfig.h
  src/platform/Ameba/CHIPDevicePlatformConfig.h
  src/platform/Darwin/CHIPDevicePlatformConfig.h
  src/platform/EFR32/CHIPDevicePlatformConfig.h
  src/platform/Linux/CHIPDevicePlatformConfig.h
  src/platform/Tizen/CHIPDevicePlatformConfig.h
  src/platform/android/CHIPDevicePlatformConfig.h
  src/platform/cc13x2_26x2/CHIPPlatformConfig.h
  src/platform/mbed/CHIPDevicePlatformConfig.h
  src/platform/nrfconnect/CHIPDevicePlatformConfig.h
  src/platform/nxp/k32w/k32w0/CHIPDevicePlatformConfig.h
  src/platform/nxp/k32w/k32w0/CHIPPlatformConfig.h
  src/platform/qpg/CHIPDevicePlatformConfig.h
  src/platform/telink/CHIPDevicePlatformConfig.h
  zzz_generated/all-clusters-app/zap-generated/IMClusterCommandHandler.cpp
  zzz_generated/app-common/app-common/zap-generated/callback.h
  zzz_generated/app-common/app-common/zap-generated/cluster-objects.cpp
  zzz_generated/app-common/app-common/zap-generated/cluster-objects.h
  zzz_generated/app-common/app-common/zap-generated/command-id.h
  zzz_generated/app-common/app-common/zap-generated/ids/Commands.h
Labels: examples, platform, darwin, efr32, linux, nrf connect, lib, controller, app, review - approved, telink

#12693 Fix 12692: Chiptool cannot commission tv-app on same machine
  examples/platform/linux/AppMain.cpp
Labels: examples, review - pending

#12695 Update basic information cluster to align with spec
  src/app/zap-templates/zcl/data-model/chip/basic-information-cluster.xml
  src/controller/python/chip/clusters/Objects.py
  zzz_generated/app-common/app-common/zap-generated/callback.h
  zzz_generated/app-common/app-common/zap-generated/cluster-objects.cpp
  zzz_generated/app-common/app-common/zap-generated/cluster-objects.h
  zzz_generated/app-common/app-common/zap-generated/command-id.h
  zzz_generated/app-common/app-common/zap-generated/ids/Commands.h
Labels: controller, app, review - approved

#12708 Fix efr32 builds (detected by cloudbuild, now added to CI)
  .github/workflows/examples-efr32.yaml
  scripts/build/builders/efr32.py
  scripts/build/builders/mbed.py
  src/lib/dnssd/tests/TestTxtFields.cpp
Labels: hotfix, scripts, lib, github, workflows, review - pending

#12698 RPC: Fix EFR light & lock rpc examples.
  examples/lighting-app/efr32/BUILD.gn
  examples/lock-app/efr32/BUILD.gn
Labels: examples, review - pending, fast track

#12688 Inet: Split EndPoint into per-implementation files
  src/inet/BUILD.gn
  src/inet/TCPEndPoint.cpp
  src/inet/TCPEndPoint.h
  src/inet/TCPEndPointImpl.h
  src/inet/TCPEndPointImplLwIP.cpp
  src/inet/TCPEndPointImplLwIP.h
  src/inet/TCPEndPointImplSockets.cpp
  src/inet/TCPEndPointImplSockets.h
  src/inet/UDPEndPoint.cpp
  src/inet/UDPEndPoint.h
  src/inet/UDPEndPointImpl.h
  src/inet/UDPEndPointImplLwIP.cpp
  src/inet/UDPEndPointImplLwIP.h
  src/inet/UDPEndPointImplNetworkFramework.cpp
  src/inet/UDPEndPointImplNetworkFramework.h
  src/inet/UDPEndPointImplSockets.cpp
  src/inet/UDPEndPointImplSockets.h
  src/inet/tests/TestInetCommon.h
  src/platform/Globals.cpp
  src/platform/Zephyr/ThreadStackManagerImpl.cpp
Labels: platform, zephyr, inet, review - approved

#12687 [Inet] InetIterator::GetHardwareAddress for LwIP
  src/inet/InetInterface.cpp
Labels: inet, review - approved

#12711 Improve LogEvent API
  src/app/EventLogging.h
  src/app/clusters/test-cluster-server/test-cluster-server.cpp
Labels: app, review - pending, fast track

#12690 Access control cluster server improvements
  examples/all-clusters-app/all-clusters-common/all-clusters-app.zap
  src/app/clusters/access-control-server/access-control-server.cpp
  src/app/zap-templates/zcl/data-model/chip/access-control-cluster.xml
  src/controller/data_model/controller-clusters.zap
  zzz_generated/all-clusters-app/zap-generated/endpoint_config.h
  zzz_generated/controller-clusters/zap-generated/endpoint_config.h
Labels: examples, controller, app, review - pending, fast track

#12702 Fix ObjectPool leaks in InteractionModelEngine
  src/app/InteractionModelEngine.cpp
  src/app/InteractionModelEngine.h
  src/lib/support/Pool.h
Labels: lib, app, review - pending, fast track

#12715 set TXT record on android
  src/platform/android/java/chip/platform/NsdManagerServiceResolver.java
Labels: platform, review - pending, fast track

#12726 Fix arm cross compile error: default copy constructor deprecated if manual copy operator defined
  .github/workflows/examples-linux-arm.yaml
  src/app/ConcreteEventPath.h
Labels: app, github, workflows, review - pending, fast track

#12705 Send/Extract optional MRP parameters in CASE messages
  src/protocols/secure_channel/CASESession.cpp
  src/protocols/secure_channel/CASESession.h
  src/protocols/secure_channel/tests/TestCASESession.cpp
Labels: review - pending, fast track

#12660 Add support for the AttributeList attribute.
  src/app/AttributePathParams.h
  src/app/ClusterInfo.h
  src/app/EventPathParams.h
  src/app/tests/TestClusterInfo.cpp
  src/app/tests/suites/TestBasicInformation.yaml
  src/app/util/ember-compatibility-functions.cpp
  src/app/zap-templates/templates/app/helper.js
  src/app/zap-templates/zcl/data-model/chip/global-attributes.xml
  src/controller/data_model/controller-clusters.zap
  src/controller/java/templates/ClusterInfo-java.zapt
  src/controller/java/templates/ClusterInfo-read-interaction.zapt
  src/controller/java/zap-generated/CHIPCallbackTypes.h
  src/controller/java/zap-generated/CHIPClustersRead-JNI.cpp
  src/controller/java/zap-generated/CHIPReadCallbacks.cpp
  src/controller/java/zap-generated/CHIPReadCallbacks.h
  src/controller/java/zap-generated/chip/devicecontroller/ChipClusters.java
  src/controller/java/zap-generated/chip/devicecontroller/ClusterInfoMapping.java
  src/controller/java/zap-generated/chip/devicecontroller/ClusterReadMapping.java
  src/controller/python/chip/clusters/CHIPClusters.py
  src/controller/python/chip/clusters/Objects.py
  src/darwin/Framework/CHIP/templates/helper.js
  src/darwin/Framework/CHIP/zap-generated/CHIPCallbackBridge.mm
  src/darwin/Framework/CHIP/zap-generated/CHIPCallbackBridge_internal.h
  src/darwin/Framework/CHIP/zap-generated/CHIPClustersObjc.h
  src/darwin/Framework/CHIP/zap-generated/CHIPClustersObjc.mm
  src/darwin/Framework/CHIP/zap-generated/CHIPTestClustersObjc.h
  src/darwin/Framework/CHIP/zap-generated/CHIPTestClustersObjc.mm
  src/darwin/Framework/CHIPTests/CHIPClustersTests.m
  src/lib/core/DataModelTypes.h
  zzz_generated/app-common/app-common/zap-generated/attribute-id.h
  zzz_generated/app-common/app-common/zap-generated/cluster-objects.h
  zzz_generated/app-common/app-common/zap-generated/ids/Attributes.h
  zzz_generated/chip-tool/zap-generated/cluster/Commands.h
  zzz_generated/chip-tool/zap-generated/test/Commands.h
  zzz_generated/controller-clusters/zap-generated/CHIPClientCallbacks.cpp
  zzz_generated/controller-clusters/zap-generated/CHIPClientCallbacks.h
Labels: darwin, lib, controller, app, review - pending, fast track

#12367 [docker] Enable all docker images in build CI
  .github/workflows/docker_img.yaml
  integrations/docker/build.sh
  integrations/docker/images/build-all.sh
  integrations/docker/images/chip-build-crosscompile/Dockerfile
  integrations/docker/images/chip-build-crosscompile/README.md
  integrations/docker/images/chip-build/version
Labels: integrations, github, workflows, review - pending, fast track

#12148 [app] decouple CASESession from OperationalDevice
  src/app/BUILD.gn
  src/app/CASEClient.cpp
  src/app/CASEClient.h
  src/app/CASEClientPool.h
  src/app/CASESessionManager.cpp
  src/app/CASESessionManager.h
  src/app/OperationalDeviceProxy.cpp
  src/app/OperationalDeviceProxy.h
  src/app/OperationalDeviceProxyPool.h
  src/controller/CHIPDeviceController.cpp
  src/controller/CHIPDeviceController.h
  src/lib/core/CHIPConfig.h
Labels: lib, controller, app, review - approved

#12709 Integrate IM eventing with platform for diagnostic clusters
  src/app/clusters/general_diagnostics_server/general_diagnostics_server.cpp
  src/app/clusters/software_diagnostics_server/software_diagnostics_server.cpp
  src/app/clusters/wifi_network_diagnostics_server/wifi_network_diagnostics_server.cpp
  src/include/platform/GeneralFaults.h
Labels: app, review - approved

#12747 Turn off progress logging on K32W for now.
  src/platform/nxp/k32w/k32w0/args.gni
Labels: hotfix, platform, review - pending

#12742 Add unit tests for SystemTimer.h
  src/system/SystemLayerImplLwIP.cpp
  src/system/SystemLayerImplSelect.cpp
  src/system/SystemTimer.cpp
  src/system/SystemTimer.h
  src/system/tests/TestSystemTimer.cpp
Labels: system, review - pending, fast track

#12734 Remove ObjectPool leak flag from GroupDataProviderImpl::mKeySetIterators
  src/credentials/GroupDataProviderImpl.h
Labels: review - pending, fast track
