Repository project-chip/connectedhomeip, pull requests merged in 2022-07, with the labels that each got.

#20177 Enable "are we on the right thread?" asserts on Darwin.
  src/darwin/Framework/CHIP/CHIPDeviceController.mm
  src/darwin/Framework/CHIP/CHIPDeviceController_Internal.h
  src/darwin/Framework/CHIP/MatterControllerFactory.mm
  src/platform/BUILD.gn
  src/platform/Darwin/PlatformManagerImpl.cpp
  src/platform/Darwin/PlatformManagerImpl.h
Labels: platform, darwin, review - pending, fast track

#20193 [vscode] Add file watcher excludes to fix CPU fan spin by cpptools.
  .vscode/settings.json
Labels: vscode, review - approved

#20115 [BL602] Update README.md, modify the baudrate from 2000000 to 115200,…
  examples/lighting-app/bouffalolab/bl602/README.md
Labels: examples, review - pending, fast track

#20105 Allow using no CIPD pigweed configuration when activating
  scripts/bootstrap.sh
  scripts/environment_no_cipd.json
  scripts/no_cipd_bootstrap.sh
Labels: scripts, review - approved

#20103 [MW320] Added code to support tinycrypt.
  examples/all-clusters-app/nxp/mw320/README.md
  examples/all-clusters-app/nxp/mw320/main.cpp
  src/platform/device.gni
  third_party/nxp/mw320_sdk/BUILD.gn
  third_party/nxp/mw320_sdk/mw320_sdk.gni
Labels: examples, platform, review - pending, fast track

#20056 Make sure we don't use un-initialized reader when a command has no fields struct.
  src/app/CommandHandler.cpp
  src/app/tests/TestCommandInteraction.cpp
  src/lib/core/CHIPTLV.h
Labels: lib, app, review - approved

#20164 Change persistent storage SyncGetKeyValue API to match constraints of KvsStorageManager
  examples/chip-tool/config/PersistentStorage.cpp
  src/controller/python/ChipDeviceController-StorageDelegate.cpp
  src/controller/python/chip/storage/__init__.py
  src/darwin/Framework/CHIP/CHIPPersistentStorageDelegateBridge.mm
  src/lib/core/CHIPPersistentStorageDelegate.h
  src/lib/support/PersistentStorageAudit.cpp
  src/lib/support/TestPersistentStorageDelegate.h
  src/lib/support/tests/TestTestPersistentStorageDelegate.cpp
Labels: examples, darwin, lib, controller, review - approved

#20191 Update some constraints.txt requirements for python 3.10 support
  scripts/constraints.txt
  scripts/requirements.txt
Labels: scripts, review - approved

#20222 [platform] Remove dead code
  src/include/platform/CHIPDeviceConfig.h
  src/platform/ESP32/ConfigurationManagerImpl.cpp
  src/platform/Zephyr/ConfigurationManagerImpl.cpp
  src/platform/bouffalolab/BL602/ConfigurationManagerImpl.cpp
  src/platform/qpg/ConfigurationManagerImpl.cpp
Labels: platform, esp32, zephyr, review - approved

#20192 In the BdxOtaSender::TransferFacilitator.cpp there is no way currentl…
  examples/ota-provider-app/ota-provider-common/BdxOtaSender.cpp
  src/protocols/bdx/TransferFacilitator.cpp
  src/protocols/bdx/TransferFacilitator.h
Labels: examples, review - approved

#20098 [Android] Fix Android commissioning complete fail
  src/controller/java/AndroidDeviceControllerWrapper.cpp
Labels: controller, review - pending, fast track

#20096 [Android] Fix Crash when Jni FindMethod
  src/controller/java/CHIPDeviceController-JNI.cpp
Labels: controller, review - pending, fast track

#20197 Fix some threading issues on Darwin.
  examples/darwin-framework-tool/commands/tests/TestCommandBridge.h
  src/darwin/Framework/CHIP/CHIPDevice.mm
  src/darwin/Framework/CHIP/CHIPDevice_Internal.h
Labels: examples, darwin, review - approved

#20214 [zephyr] Fix crash on saving TotalOperatingHours to KVS
  src/include/platform/internal/GenericPlatformManagerImpl_Zephyr.ipp
Labels: review - pending, fast track

#20190 Clean up optional arguments properly in chip-tool.
  examples/chip-tool/commands/clusters/ModelCommand.cpp
  examples/chip-tool/commands/common/CHIPCommand.h
  examples/chip-tool/commands/common/Command.cpp
  examples/chip-tool/commands/discover/DiscoverCommissionersCommand.cpp
Labels: examples, review - pending, fast track

#20231 Allow chip-tool to generate onboarding payloads with extra TLV.
  examples/chip-tool/commands/common/Command.cpp
  examples/chip-tool/commands/payload/SetupPayloadGenerateCommand.cpp
  examples/chip-tool/commands/payload/SetupPayloadGenerateCommand.h
  src/setup_payload/QRCodeSetupPayloadGenerator.cpp
  src/setup_payload/QRCodeSetupPayloadGenerator.h
  src/setup_payload/SetupPayload.h
  src/setup_payload/tests/TestQRCodeTLV.cpp
Labels: examples, setup payload, review - pending, fast track

#20232 Chef - Support cross platform Linux builds for arm64
  examples/chef/chef.py
Labels: examples, review - pending, fast track

#20235 Make sure to do our BLE callbacks on the right dispatch queue.
  src/platform/Darwin/BleConnectionDelegateImpl.mm
Labels: platform, darwin, review - pending, fast track

#20238 Stop updating all submodules during Xcode builds.
  src/darwin/Framework/chip_xcode_build_connector.sh
Labels: darwin, review - pending, fast track

#20239 Fix chip-tool PersistentStorageDelegate failing on some keys
  examples/chip-tool/config/PersistentStorage.cpp
  examples/chip-tool/config/PersistentStorage.h
  src/lib/support/PersistentStorageAudit.cpp
Labels: examples, lib, review - approved

#20241 Ensure that Controller convenience APIs don't notify more than once.
  src/controller/TypedCommandCallback.h
  src/controller/TypedReadCallback.h
  src/controller/WriteInteraction.h
  src/controller/tests/data_model/TestCommands.cpp
  src/controller/tests/data_model/TestRead.cpp
  src/controller/tests/data_model/TestWrite.cpp
Labels: controller, review - approved

#20245 Fix conditions in workflows.
  .github/workflows/build.yaml
  .github/workflows/cirque.yaml
  .github/workflows/darwin-tests.yaml
  .github/workflows/darwin.yaml
  .github/workflows/examples-cc13x2x7_26x2x7.yaml
  .github/workflows/examples-cyw30739.yaml
  .github/workflows/examples-efr32.yaml
  .github/workflows/examples-esp32.yaml
  .github/workflows/examples-infineon.yaml
  .github/workflows/examples-k32w.yaml
  .github/workflows/examples-linux-arm.yaml
  .github/workflows/examples-linux-standalone.yaml
  .github/workflows/examples-mbed.yaml
  .github/workflows/examples-nrfconnect.yaml
  .github/workflows/examples-qpg.yaml
  .github/workflows/full-android.yaml
  .github/workflows/fuzzing-build.yaml
  .github/workflows/qemu.yaml
  .github/workflows/release_artifacts.yaml
  .github/workflows/smoketest-android.yaml
  .github/workflows/tests.yaml
  .github/workflows/unit_integration_test.yaml
Labels: github, workflows, review - pending, fast track

#20244 Fix iOS CHIPTool build.
  src/darwin/CHIPTool/CHIPTool/Framework Helpers/DefaultsUtils.m
  src/darwin/CHIPTool/CHIPTool/Framework Helpers/FabricKeys.m
  src/darwin/CHIPTool/CHIPTool/View Controllers/QRCode/QRCodeViewController.m
  src/darwin/CHIPTool/CHIPTool/View Controllers/Temperature Sensor/TemperatureSensorViewController.m
Labels: darwin, review - pending, fast track

#20243 Remove CHIPP256KeypairNativeBridge.
  build/config/compiler/BUILD.gn
  src/darwin/Framework/CHIP/MTRCertificates.mm
  src/darwin/Framework/CHIP/MTRDeviceController.mm
  src/darwin/Framework/CHIP/MTROperationalCredentialsDelegate.h
  src/darwin/Framework/CHIP/MTROperationalCredentialsDelegate.mm
  src/darwin/Framework/CHIP/MTRP256KeypairBridge.h
  src/platform/Darwin/BUILD.gn
  src/platform/Darwin/CHIPP256KeypairNativeBridge.cpp
  src/platform/Darwin/CHIPP256KeypairNativeBridge.h
Labels: platform, darwin, review - pending, fast track

#20247 Fix chip-tool storage escaping
  examples/chip-tool/config/PersistentStorage.cpp
Labels: examples, review - pending, fast track

#20219 [QPG] Update BLE State machine for multiple advertisement start
  src/platform/qpg/BLEManagerImpl.cpp
  src/platform/qpg/BLEManagerImpl.h
Labels: platform, qpg, review - pending, fast track

#20223 [QPG] Disable OT CLI for non-shell apps + Disable OT joiner feature
  examples/lighting-app/qpg/include/CHIPProjectConfig.h
  examples/lock-app/qpg/include/CHIPProjectConfig.h
  examples/platform/qpg/BUILD.gn
  examples/platform/qpg/project_include/OpenThreadConfig.h
Labels: examples, platform, qpg, review - pending, fast track

#20130 Add switch for OTA for all-clusters/shell
  examples/all-clusters-app/cc13x2x7_26x2x7/args.gni
  examples/all-clusters-app/cc13x2x7_26x2x7/main/AppTask.cpp
  examples/all-clusters-minimal-app/cc13x2x7_26x2x7/args.gni
  examples/all-clusters-minimal-app/cc13x2x7_26x2x7/main/AppTask.cpp
  examples/lock-app/cc13x2x7_26x2x7/main/AppTask.cpp
  examples/shell/cc13x2x7_26x2x7/main/AppTask.cpp
Labels: examples, review - pending, fast track

#20183 Fix chef CI no op and prevent in future
  examples/chef/chef.py
  examples/chef/cicd_config.json
Labels: examples, review - approved

#20248 Cherry pick - Chef changes (06-27:07-01). RPC logging, Linux cross platform building.
  examples/chef/chef.py
  examples/chef/devices/rootnode_contactsensor_lFAGG1bfRO.matter
  examples/chef/devices/rootnode_dimmablelight_bCwGYSDpoe.matter
  examples/chef/devices/rootnode_flowsensor_1zVxHedlaV.matter
  examples/chef/devices/rootnode_heatingcoolingunit_ncdGai1E5a.matter
  examples/chef/devices/rootnode_humiditysensor_Xyj4gda6Hb.matter
  examples/chef/devices/rootnode_occupancysensor_iHyVgifZuo.matter
  examples/chef/devices/rootnode_onofflightswitch_FsPlMr090Q.matter
  examples/chef/devices/rootnode_onoffpluginunit_Wtf8ss5EBY.matter
  examples/chef/devices/rootnode_pressuresensor_s0qC9wLH4k.matter
  examples/chef/devices/rootnode_speaker_RpzeXdimqA.matter
  examples/chef/devices/rootnode_temperaturesensor_Qy1zkNW7c3.matter
  examples/chef/devices/rootnode_thermostat_bm3fb8dhYi.matter
  examples/chef/devices/rootnode_windowcovering_RLCxaGi9Yx.matter
  examples/chef/esp32/CMakeLists.txt
  examples/chef/linux/with_pw_rpc.gni
  examples/common/pigweed/rpc_console/py/chip_rpc/console.py
  examples/lighting-app/linux/with_pw_rpc.gni
  integrations/cloudbuild/chef.yaml
  scripts/tools/zap_regen_all.py
  src/lib/core/BUILD.gn
  src/lib/core/core.gni
  src/platform/Linux/BUILD.gn
  src/platform/Linux/Logging.cpp
Labels: examples, scripts, integrations, platform, linux, lib

#20207 [IM] Update GetMinSubscriptionsPerFabric
  src/app/InteractionModelEngine.cpp
  src/app/InteractionModelEngine.h
  src/app/clusters/basic/basic.cpp
Labels: app, review - approved

#20208 [android] Fixed getting product id and product name
  src/platform/android/DeviceInstanceInfoProviderImpl.cpp
Labels: platform, review - pending, fast track

#19968 WindowCovering: Zap definition updates / fixes
  examples/all-clusters-minimal-app/all-clusters-common/all-clusters-minimal-app.matter
  examples/all-clusters-minimal-app/all-clusters-common/all-clusters-minimal-app.zap
  examples/window-app/common/window-app.matter
  examples/window-app/common/window-app.zap
  zzz_generated/window-app/zap-generated/CHIPClientCallbacks.h
  zzz_generated/window-app/zap-generated/CHIPClusters.h
  zzz_generated/window-app/zap-generated/IMClusterCommandHandler.cpp
  zzz_generated/window-app/zap-generated/PluginApplicationCallbacks.h
  zzz_generated/window-app/zap-generated/access.h
  zzz_generated/window-app/zap-generated/endpoint_config.h
  zzz_generated/window-app/zap-generated/gen_config.h
Labels: examples, controller, review - pending, fast track

#20227 Updated MF Scripts
  src/app/tests/suites/certification/Test_TC_MF_1_14.yaml
  src/app/tests/suites/certification/Test_TC_MF_1_16.yaml
  src/app/tests/suites/certification/Test_TC_MF_1_17.yaml
  src/app/tests/suites/certification/Test_TC_MF_1_19.yaml
  src/app/tests/suites/certification/Test_TC_MF_1_21.yaml
  src/app/tests/suites/certification/Test_TC_MF_1_23.yaml
  src/app/tests/suites/certification/Test_TC_MF_1_7.yaml
Labels: app, review - pending, fast track

#20205 [nrfconnect] Enabled factory data protection against writing in internal memory
  config/nrfconnect/chip-module/Kconfig
  docs/guides/nrfconnect_factory_data_configuration.md
  src/platform/nrfconnect/FactoryDataProvider.cpp
  src/platform/nrfconnect/FactoryDataProvider.h
Labels: documentation, platform, nrf connect, config, review - pending, fast track

#20277 [Darwin] Change the check for the ble advertisement data size from >=…
  src/platform/Darwin/BleConnectionDelegateImpl.mm
Labels: platform, darwin, review - approved

#20211 [ESP32] Map ESP_ERR_NVS_INVALID_LENGTH to CHIP_ERROR_BUFFER_TOO_SMALL
  src/platform/ESP32/ESP32Utils.cpp
Labels: platform, esp32, review - approved

#20289 Fix escaping in Linux app storage
  examples/chip-tool/config/PersistentStorage.cpp
  examples/chip-tool/config/PersistentStorage.h
  scripts/tools/check_includes_config.py
  src/lib/support/BUILD.gn
  src/lib/support/IniEscaping.cpp
  src/lib/support/IniEscaping.h
  src/lib/support/tests/BUILD.gn
  src/lib/support/tests/TestIniEscaping.cpp
  src/platform/Linux/CHIPLinuxStorageIni.cpp
Labels: examples, scripts, platform, linux, lib, review - approved

#20253 Fix CATValues == operator
  src/lib/core/CASEAuthTag.h
  src/lib/core/tests/BUILD.gn
  src/lib/core/tests/TestCATValues.cpp
Labels: lib, review - approved

#20300 Remove kSessionEstablished event
  examples/all-clusters-app/ameba/main/DeviceCallbacks.cpp
  examples/all-clusters-app/ameba/main/include/DeviceCallbacks.h
  examples/all-clusters-app/cc13x2x7_26x2x7/main/AppTask.cpp
  examples/all-clusters-minimal-app/ameba/main/DeviceCallbacks.cpp
  examples/all-clusters-minimal-app/ameba/main/include/DeviceCallbacks.h
  examples/all-clusters-minimal-app/cc13x2x7_26x2x7/main/AppTask.cpp
  examples/chef/esp32/main/main.cpp
  examples/lighting-app/ameba/main/DeviceCallbacks.cpp
  examples/lighting-app/ameba/main/include/DeviceCallbacks.h
  examples/lighting-app/bouffalolab/bl602/include/DeviceCallbacks.h
  examples/lighting-app/bouffalolab/bl602/src/DeviceCallbacks.cpp
  examples/ota-requestor-app/ameba/main/DeviceCallbacks.cpp
  examples/ota-requestor-app/ameba/main/include/DeviceCallbacks.h
  examples/platform/esp32/common/CommonDeviceCallbacks.cpp
  examples/platform/esp32/common/CommonDeviceCallbacks.h
  examples/pump-app/cc13x2x7_26x2x7/main/DeviceCallbacks.cpp
  examples/pump-app/cc13x2x7_26x2x7/main/include/DeviceCallbacks.h
  examples/tv-app/android/java/DeviceCallbacks.cpp
  examples/tv-app/android/java/DeviceCallbacks.h
  src/include/platform/CHIPDeviceEvent.h
Labels: examples, review - approved

#20249 [ESP32] Read unique-id from factory partition
  src/platform/ESP32/ESP32Config.cpp
  src/platform/ESP32/ESP32FactoryDataProvider.cpp
  src/platform/ESP32/ESP32FactoryDataProvider.h
Labels: platform, esp32, review - approved

#20290 [EFR32] Fix Storage audit - Allow storing null pointer of size 0
  src/platform/EFR32/EFR32Config.cpp
  src/platform/EFR32/KeyValueStoreManagerImpl.cpp
Labels: platform, efr32, review - approved

#20292 Cherry pick - Chef CI fix
  examples/chef/chef.py
  examples/chef/cicd_config.json
Labels: examples, scripts, config, github, workflows

#20278 Remove kAccountPairingChange event
  src/include/platform/CHIPDeviceEvent.h
  src/platform/Ameba/BLEManagerImpl.cpp
  src/platform/CYW30739/BLEManagerImpl.cpp
  src/platform/ESP32/bluedroid/BLEManagerImpl.cpp
  src/platform/ESP32/nimble/BLEManagerImpl.cpp
  src/platform/Linux/BLEManagerImpl.cpp
  src/platform/P6/BLEManagerImpl.cpp
  src/platform/Tizen/BLEManagerImpl.cpp
  src/platform/Zephyr/BLEManagerImpl.cpp
  src/platform/bouffalolab/BL602/BLEManagerImpl.cpp
  src/platform/qpg/BLEManagerImpl.cpp
  src/platform/webos/BLEManagerImpl.cpp
Labels: examples, platform, esp32, linux, zephyr, app, review - approved

#20269 [ESP32] Options to include Device instance information to factory partition
  scripts/tools/generate_esp32_chip_factory_bin.py
Labels: scripts, review - approved

#20291 Fix wrong type passed in scenes.cpp
  src/app/clusters/scenes/scenes.cpp
Labels: app, review - approved

#20307 [python] Drop superfluous code in ChipDeviceController bindings
  src/controller/python/ChipDeviceController-ScriptBinding.cpp
Labels: controller, review - approved

#20262 Update Zcl callbacks for lock app
  examples/lock-app/qpg/src/ZclCallbacks.cpp
Labels: examples, review - approved

#20322 Cherry pick - scenes.cpp type fix
  src/app/clusters/scenes/scenes.cpp
Labels: examples, app, config, github, workflows

#20310 [QPG] Adding Identify effect handling to lighting-app
  examples/lighting-app/qpg/src/AppTask.cpp
Labels: examples, platform, qpg, review - pending, fast track

#20319 Disable pigweed clang build on Mac M1
  BUILD.gn
Labels: review - approved

#20287 Fix python PersistentStorageDelegate to latest API description
  src/controller/python/ChipDeviceController-StorageDelegate.cpp
  src/controller/python/ChipDeviceController-StorageDelegate.h
  src/controller/python/chip/storage/__init__.py
Labels: controller, review - approved

#20324 Remove <signal.h> include from Linux/PlatformManagerImpl.cpp
  src/inet/tests/TestInetCommonPosix.cpp
  src/lib/shell/streamer_mbed.cpp
  src/lib/shell/streamer_stdio.cpp
  src/platform/Linux/PlatformManagerImpl.cpp
  src/platform/webos/PlatformManagerImpl.cpp
Labels: platform, linux, lib, inet, review - pending, fast track

#20285 Add several fuzz targets built when linux/mac are built with clang
  BUILD.gn
  build/chip/fuzz_test.gni
  scripts/build/build/targets.py
  scripts/build/testdata/build_linux_on_x64.txt
  src/credentials/tests/BUILD.gn
  src/credentials/tests/FuzzChipCert.cpp
  src/lib/core/tests/BUILD.gn
  src/lib/core/tests/FuzzTlvReader.cpp
  src/lib/dnssd/minimal_mdns/tests/BUILD.gn
  src/lib/dnssd/minimal_mdns/tests/FuzzPacketParsing.cpp
Labels: scripts, lib, review - pending, fast track

#20326 make DefaultStorageKeyAllocator::Format protected so the class can be extended
  src/lib/support/DefaultStorageKeyAllocator.h
Labels: lib, review - approved

#20327 Adding test to do AddNOC, UpdateNOC, RemoveFabric tests
  src/controller/python/test/test_scripts/base.py
  src/controller/python/test/test_scripts/mobile-device-test.py
Labels: controller, review - pending, fast track

#20295 [OTA] Add Darwin Framework APIs for OTA Provider delegate
  src/app/clusters/ota-provider/ota-provider-delegate.h
  src/darwin/Framework/CHIP/MTROTAProviderDelegate.h
  src/darwin/Framework/CHIP/MTROTAProviderDelegateBridge.h
  src/darwin/Framework/CHIP/Matter.h
  src/darwin/Framework/Matter.xcodeproj/project.pbxproj
Labels: darwin, app, review - pending, fast track

#20005 EFR32: DeviceAttestationCredentialsProvider implemented.
  examples/chef/efr32/BUILD.gn
  examples/chef/efr32/src/AppTask.cpp
  examples/chef/efr32/src/main.cpp
  examples/light-switch-app/efr32/BUILD.gn
  examples/light-switch-app/efr32/src/AppTask.cpp
  examples/light-switch-app/efr32/src/main.cpp
  examples/lighting-app/efr32/BUILD.gn
  examples/lighting-app/efr32/src/AppTask.cpp
  examples/lighting-app/efr32/src/main.cpp
  examples/lock-app/efr32/BUILD.gn
  examples/lock-app/efr32/src/AppTask.cpp
  examples/lock-app/efr32/src/main.cpp
  examples/platform/efr32/BUILD.gn
  examples/platform/efr32/EFR32DeviceAttestationCreds.cpp
  examples/platform/efr32/EFR32DeviceAttestationCreds.h
  examples/platform/efr32/efr32_creds.h
  examples/window-app/common/src/WindowApp.cpp
  examples/window-app/efr32/BUILD.gn
  examples/window-app/efr32/src/main.cpp
  src/app/clusters/operational-credentials-server/operational-credentials-server.cpp
  src/include/platform/KvsPersistentStorageDelegate.h
  src/lib/lib.gni
  third_party/silabs/efr32_sdk.gni
Labels: examples, platform, efr32, lib, app, review - pending, fast track

#20333 [Darwin] Add NSSecureCoding conformance for setup payload
  src/darwin/Framework/CHIP/MTRSetupPayload.mm
  src/darwin/Framework/CHIP/MTRSetupPayload_Internal.h
Labels: darwin, review - pending, fast track

#20312 [Linux] Do not filter WiFi scan results if the ssid used for filterin…
  src/platform/Linux/ConnectivityManagerImpl.cpp
Labels: platform, linux, review - approved

#20316 [chef] improvements to chef readme file
  examples/chef/README.md
Labels: examples, review - pending, fast track

#20332 Add FabricTable utility methods
  src/credentials/FabricTable.cpp
  src/credentials/FabricTable.h
  src/credentials/tests/TestFabricTable.cpp
Labels: review - approved

#20304 [ota] Fix exchange context leak in OTA requestor
  src/app/clusters/ota-requestor/DefaultOTARequestor.cpp
  src/app/clusters/ota-requestor/DefaultOTARequestor.h
Labels: app, review - approved

#20250 Removing private CHIPTool API again
  src/darwin/CHIPTool/CHIPTool/View Controllers/QRCode/QRCodeViewController.m
  src/darwin/Framework/CHIP/MTRDeviceController.h
  src/darwin/Framework/CHIP/MTRDeviceController.mm
  src/darwin/Framework/CHIP/MTRDeviceControllerOverXPC.m
Labels: darwin, review - pending, fast track

#19700 [zephyr] fix crash when BLE initialization
  src/platform/Zephyr/BLEManagerImpl.cpp
Labels: platform, zephyr, config, review - approved

#19735 Add payload parser to darwin framework tool
  examples/darwin-framework-tool/BUILD.gn
  examples/darwin-framework-tool/commands/payload/Commands.h
  examples/darwin-framework-tool/commands/payload/SetupPayloadParseCommand.h
  examples/darwin-framework-tool/commands/payload/SetupPayloadParseCommand.mm
  examples/darwin-framework-tool/main.mm
Labels: examples, review - approved

#20318 Conditionally implement TriggerOTA in RPC builds
  examples/common/pigweed/rpc_services/Device.h
Labels: examples, review - approved

#20034 [Infineon] Lock-app updates, adding multiple users and credentials for CYW30739
  examples/lock-app/cyw30739/include/LockManager.h
  examples/lock-app/cyw30739/include/chip_lock.h
  examples/lock-app/cyw30739/src/LockManager.cpp
  examples/lock-app/cyw30739/src/ZclCallbacks.cpp
  examples/lock-app/cyw30739/src/main.cpp
  src/platform/CYW30739/CYW30739Config.h
Labels: examples, platform, review - pending, fast track

#20154 [Pump-server] Add unsupported operation mode handling in pump server
  src/app/clusters/pump-configuration-and-control-server/pump-configuration-and-control-server.cpp
Labels: app, review - pending, sve

#20338 Add attributePath parameter to Door Lock Server's unhandledAttributeC…
  src/app/clusters/door-lock-server/door-lock-server.cpp
  src/app/clusters/door-lock-server/door-lock-server.h
Labels: app, review - approved, sve

#20340 Installing cherry-pick bot
  .github/.restyled.yaml
  .github/workflows/cherry-picks.yaml
Labels: github, workflows, review - pending

#20306 [python] Move string encoding to ChipDeviceCtrl.py
  src/controller/python/chip-device-ctrl.py
  src/controller/python/chip/ChipDeviceCtrl.py
  src/controller/python/test/test_scripts/base.py
  src/controller/python/test/test_scripts/mobile-device-test.py
Labels: controller, review - approved

#20373 Do not build linux-tests for fake platform with clang. Disable such tests in general in cloudbuild.
  integrations/cloudbuild/build-all.yaml
  integrations/cloudbuild/smoke-test.yaml
  scripts/build/build/targets.py
  scripts/build/builders/host.py
  scripts/build/testdata/build_linux_on_x64.txt
Labels: hotfix, scripts, integrations, review - pending

#20371 EFR32 Device Attestation Credentials provider bugfix.
  examples/platform/efr32/EFR32DeviceAttestationCreds.cpp
Labels: examples, controller, review - pending, fast track, sve

#20391 Increase cloudbuild disk size from 200G to 500G for smoke tests
  integrations/cloudbuild/smoke-test.yaml
Labels: hotfix, integrations, sve

#20377 Add a way to disable openthread in build_examples.py
  examples/all-clusters-app/linux/main-common.cpp
  scripts/build/build/targets.py
  scripts/build/builders/host.py
  scripts/build/testdata/build_linux_on_x64.txt
Labels: examples, scripts, review - approved, sve

#20387 Updating SVE cherry-pick rules
  .github/labeler.yml
  .github/workflows/cherry-picks.yaml
Labels: github, workflows, review - approved

#20395 Add a way to disable openthread in build_examples.py
  examples/all-clusters-app/linux/main-common.cpp
  scripts/build/build/targets.py
  scripts/build/builders/host.py
  scripts/build/testdata/build_linux_on_x64.txt
Labels: examples, scripts

#20397 Allow set up code pairing to continue even if BLE is compiled out
  src/controller/SetUpCodePairer.cpp
Labels: controller

#20398 Updating SVE cherry-pick rules
  .github/labeler.yml
  .github/workflows/cherry-picks.yaml
Labels: github, workflows

#20400 Blacklist nrf52840dongle-all-clusters - runst out of flash
  scripts/build/build/targets.py
  scripts/build/testdata/all_targets_except_host.txt
  scripts/build/testdata/glob_star_targets_except_host.txt
Labels: scripts, review - pending, fast track, sve

#20389 Don't sweat interactive mode in build_examples.py
  scripts/build/build/targets.py
  scripts/build/testdata/build_linux_on_x64.txt
Labels: scripts, review - approved, sve

#20407 Don't sweat interactive mode in build_examples.py
  scripts/build/build/targets.py
  scripts/build/testdata/build_linux_on_x64.txt
Labels: scripts

#20406 Blacklist nrf52840dongle-all-clusters - runst out of flash
  scripts/build/build/targets.py
  scripts/build/testdata/all_targets_except_host.txt
  scripts/build/testdata/glob_star_targets_except_host.txt
Labels: scripts

#20362 Cleanup Linux platform source includes
  src/platform/Linux/BUILD.gn
  src/platform/Linux/NetworkCommissioningEthernetDriver.cpp
Labels: examples, platform, darwin, esp32, linux, review - approved, sve

#20405 [privacy] Add KDF for PrivacyKey with test
  src/crypto/CHIPCryptoPAL.cpp
  src/crypto/CHIPCryptoPAL.h
  src/crypto/tests/CHIPCryptoPALTest.cpp
Labels: crypto, review - approved

#20328 Update python requirements
  scripts/constraints.txt
  scripts/requirements.mbed.txt
  scripts/requirements.txt
Labels: scripts, review - pending, fast track

#20420 Cleanup Linux platform source includes
  src/platform/Linux/BUILD.gn
  src/platform/Linux/NetworkCommissioningEthernetDriver.cpp
Labels: platform, linux

#20429 Rename commissioner/commissionable find to discover
  src/app/tests/suites/commands/discovery/DiscoveryCommands.cpp
  src/controller/CHIPCommissionableNodeController.cpp
  src/controller/CHIPDeviceController.cpp
  src/controller/tests/TestCommissionableNodeController.cpp
  src/lib/dnssd/Discovery_ImplPlatform.cpp
  src/lib/dnssd/Discovery_ImplPlatform.h
  src/lib/dnssd/Resolver.h
  src/lib/dnssd/ResolverProxy.h
  src/lib/dnssd/Resolver_ImplMinimalMdns.cpp
  src/lib/dnssd/Resolver_ImplNone.cpp
  src/lib/shell/commands/Dns.cpp
Labels: lib, controller, app, review - approved, sve

#20436 Fixes chef tool crashing (#20421) without -r flag.
  examples/chef/chef.py
Labels: examples, review - approved

#20422 Update android for build, fix artifacts for tv server app
  .github/workflows/full-android.yaml
  scripts/build/build/targets.py
  scripts/build/builders/android.py
  scripts/build/testdata/all_targets_except_host.txt
  scripts/build/testdata/build_all_except_host.txt
  scripts/build/testdata/glob_star_targets_except_host.txt
Labels: scripts, github, workflows, review - approved

#20439 [Darwin] Make sure to access the cpp controller from the right dispat…
  src/darwin/Framework/CHIP/MTRDeviceController.mm
Labels: darwin, review - pending, fast track

#20438 Rename commissioner/commissionable find to discover
  src/app/tests/suites/commands/discovery/DiscoveryCommands.cpp
  src/controller/CHIPCommissionableNodeController.cpp
  src/controller/CHIPDeviceController.cpp
  src/controller/tests/TestCommissionableNodeController.cpp
  src/lib/dnssd/Discovery_ImplPlatform.cpp
  src/lib/dnssd/Discovery_ImplPlatform.h
  src/lib/dnssd/Resolver.h
  src/lib/dnssd/ResolverProxy.h
  src/lib/dnssd/Resolver_ImplMinimalMdns.cpp
  src/lib/dnssd/Resolver_ImplNone.cpp
  src/lib/shell/commands/Dns.cpp
Labels: lib, controller, app

#20454 [Darwin] Make sure to access the cpp controller from the right dispat…
  src/darwin/Framework/CHIP/MTRDeviceController.mm
Labels: darwin

#19752 [Ameba] Populate other threadmetrics fields
  src/platform/Ameba/DiagnosticDataProviderImpl.cpp
Labels: platform, review - pending, fast track, sve

#20444 Fixes chef tool crashing (#20421) without -r flag.
  examples/chef/chef.py
Labels: examples

#20455 Update rules to include tests for SVE
  .github/labeler.yml
  .github/workflows/cherry-picks.yaml
Labels: github, workflows

#20450 [EFR32] Fix light-switch SED power consumption
  examples/light-switch-app/efr32/src/AppTask.cpp
  third_party/openthread/platforms/efr32/BUILD.gn
Labels: examples, review - approved

#20234 [Python] Fix threading model
  src/controller/python/BUILD.gn
  src/controller/python/ChipDeviceController-ScriptBinding.cpp
  src/controller/python/chip/ChipStack.py
  src/controller/python/chip/native/CommonStackInit.cpp
  src/controller/python/chip/native/StackInit.cpp
  src/controller/python/chip/native/__init__.py
Labels: controller, review - approved, sve

#20463 [EFR32] Fix light-switch SED power consumption
  examples/light-switch-app/efr32/src/AppTask.cpp
  third_party/openthread/platforms/efr32/BUILD.gn
Labels: examples

#20465 [Python] Fix threading model
  src/controller/python/BUILD.gn
  src/controller/python/ChipDeviceController-ScriptBinding.cpp
  src/controller/python/chip/ChipStack.py
  src/controller/python/chip/native/CommonStackInit.cpp
  src/controller/python/chip/native/StackInit.cpp
  src/controller/python/chip/native/__init__.py
Labels: controller

#20430 Move AddNOC and UpdateNOC to util functions for chip-repl
  src/controller/python/BUILD.gn
  src/controller/python/build-chip-wheel.py
  src/controller/python/chip/ChipReplStartup.py
  src/controller/python/chip/utils/CommissioningBuildingBlocks.py
  src/controller/python/chip/utils/__init__.py
  src/controller/python/test/test_scripts/base.py
Labels: controller, review - approved

#20136 Adds bugfix for lwip multicast group commands
  src/inet/UDPEndPointImplLwIP.cpp
Labels: examples, platform, efr32, inet, review - approved, lwip, sve

#20413 [chip-tool] Make sure the multiple arguments separator for multiple w…
  examples/chip-tool/commands/common/Command.cpp
Labels: examples, review - approved, sve

#20486 Python: Delete key wasn't actually persisting
  src/controller/python/chip/storage/__init__.py
Labels: controller, review - approved

#20482 Fixed server initialisation order
  src/app/server/Server.cpp
Labels: app, review - approved

#20475 fix GetSerialNumber when CHIP_DEVICE_CONFIG_TEST_SERIAL_NUMBER is used
  src/include/platform/internal/GenericDeviceInstanceInfoProvider.ipp
Labels: review - approved, sve

#20473 [Android] Add eventHeader parameter in Java Class
  src/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/clusterclient/WildcardFragment.kt
  src/controller/java/AndroidCallbacks.cpp
  src/controller/java/src/chip/devicecontroller/model/EventState.java
Labels: controller, android, review - pending, fast track

#20468 Chef - Add Chef CD builds for linux_arm64_ipv6only
  examples/chef/chef.py
  examples/chef/cicd_config.json
Labels: examples, review - pending

#20446 [EFR32] Fix 2 door lock edge cases
  examples/lock-app/efr32/src/LockManager.cpp
Labels: examples, platform, review - approved

#20490 [zephyr] Do not initialize real time clock
  config/nrfconnect/chip-module/CMakeLists.txt
  config/zephyr/Kconfig
  scripts/examples/nrfconnect_example.sh
  src/platform/BUILD.gn
  src/platform/Zephyr/SystemTimeSupport.cpp
Labels: scripts, platform, zephyr, config, review - pending, fast track

#20425 [AccessControl] Ensure extension attribute data are valid TLV per spec
  src/app/clusters/access-control-server/access-control-server.cpp
Labels: app, spec, review - approved

#20489 Fix setting port to 0 in Server
  src/app/server/Server.cpp
  src/app/server/Server.h
Labels: app, review - approved, sve

#20487 Fix SessionManager::Shutdown to actually shut-down sessions
  src/transport/SessionManager.cpp
Labels: transport, review - approved

#20516 [Darwin] Add OTA Provider Delegate Bridge implementation
  src/darwin/Framework/CHIP/MTROTAProviderDelegateBridge.h
  src/darwin/Framework/CHIP/MTROTAProviderDelegateBridge.mm
  src/darwin/Framework/Matter.xcodeproj/project.pbxproj
Labels: darwin, review - pending, fast track

#20506 [EFR32] [sve-cherry-pick] Force key value store to save pending keys before reboot
  src/platform/EFR32/KeyValueStoreManagerImpl.cpp
  src/platform/EFR32/KeyValueStoreManagerImpl.h
  src/platform/EFR32/OTAImageProcessorImpl.cpp
  src/platform/EFR32/OTAImageProcessorImpl.h
Labels: platform, efr32, review - approved

#20517 Allow setting of OTA Provider delegate through the controller
  src/darwin/Framework/CHIP/MTRDeviceController.h
  src/darwin/Framework/CHIP/MTRDeviceController.mm
Labels: darwin, review - pending, fast track

#20458 Mark 'group names supported' in the groups cluster feature map
  examples/all-clusters-app/all-clusters-common/all-clusters-app.matter
  examples/all-clusters-minimal-app/all-clusters-common/all-clusters-minimal-app.matter
  examples/chef/devices/rootnode_contactsensor_lFAGG1bfRO.matter
  examples/chef/devices/rootnode_dimmablelight_bCwGYSDpoe.matter
  examples/chef/devices/rootnode_flowsensor_1zVxHedlaV.matter
  examples/chef/devices/rootnode_heatingcoolingunit_ncdGai1E5a.matter
  examples/chef/devices/rootnode_humiditysensor_Xyj4gda6Hb.matter
  examples/chef/devices/rootnode_occupancysensor_iHyVgifZuo.matter
  examples/chef/devices/rootnode_onofflightswitch_FsPlMr090Q.matter
  examples/chef/devices/rootnode_onoffpluginunit_Wtf8ss5EBY.matter
  examples/chef/devices/rootnode_pressuresensor_s0qC9wLH4k.matter
  examples/chef/devices/rootnode_speaker_RpzeXdimqA.matter
  examples/chef/devices/rootnode_temperaturesensor_Qy1zkNW7c3.matter
  examples/chef/devices/rootnode_thermostat_bm3fb8dhYi.matter
  examples/chef/devices/rootnode_windowcovering_RLCxaGi9Yx.matter
  examples/light-switch-app/light-switch-common/light-switch-app.matter
  examples/lighting-app/lighting-common/lighting-app.matter
  examples/lock-app/lock-common/lock-app.matter
  examples/placeholder/linux/apps/app1/config.matter
  examples/placeholder/linux/apps/app2/config.matter
  examples/thermostat/thermostat-common/thermostat.matter
  examples/tv-casting-app/tv-casting-common/tv-casting-app.matter
  examples/window-app/common/window-app.matter
  src/app/clusters/groups-server/groups-server.cpp
  src/app/zap-templates/zcl/data-model/silabs/general.xml
  src/controller/data_model/controller-clusters.matter
  src/darwin/Framework/CHIP/zap-generated/MTRBaseClusters.h
  zzz_generated/app-common/app-common/zap-generated/cluster-enums.h
  zzz_generated/app-common/app-common/zap-generated/enums.h
Labels: examples, darwin, controller, app, review - approved, sve

#20523 [EFR32] [sve-cherry-pick] Force key value store to save pending keys before reboot
  src/platform/EFR32/KeyValueStoreManagerImpl.cpp
  src/platform/EFR32/KeyValueStoreManagerImpl.h
  src/platform/EFR32/OTAImageProcessorImpl.cpp
  src/platform/EFR32/OTAImageProcessorImpl.h
Labels: platform, efr32, sve cherry pick

#20522 [Darwin] Add OTA Provider Delegate Bridge implementation
  src/darwin/Framework/CHIP/MTROTAProviderDelegateBridge.h
  src/darwin/Framework/CHIP/MTROTAProviderDelegateBridge.mm
  src/darwin/Framework/Matter.xcodeproj/project.pbxproj
Labels: darwin, sve cherry pick

#20520 Fix setting port to 0 in Server
  src/app/server/Server.cpp
  src/app/server/Server.h
Labels: app, sve cherry pick

#20512 Fix UpdateNOC session invalidation and opcreds timing
  examples/chip-tool/commands/tests/TestCommand.cpp
  src/app/CommandHandler.h
  src/app/clusters/operational-credentials-server/operational-credentials-server.cpp
  src/app/server/CommissioningWindowManager.cpp
  src/controller/CHIPDeviceController.cpp
  src/controller/CHIPDeviceController.h
  src/controller/python/ChipDeviceController-ScriptBinding.cpp
  src/controller/python/chip/ChipDeviceCtrl.py
  src/controller/python/chip/utils/CommissioningBuildingBlocks.py
  src/messaging/ExchangeContext.cpp
  src/transport/SessionManager.cpp
  src/transport/SessionManager.h
Labels: examples, transport, controller, app, sve cherry pick

#20511 [AccessControl] Ensure extension attribute data are valid TLV per spec
  src/app/clusters/access-control-server/access-control-server.cpp
Labels: app, sve cherry pick

#20505 [zephyr] Do not initialize real time clock
  config/nrfconnect/chip-module/CMakeLists.txt
  config/zephyr/Kconfig
  scripts/examples/nrfconnect_example.sh
  src/platform/BUILD.gn
  src/platform/Zephyr/SystemTimeSupport.cpp
Labels: scripts, platform, zephyr, config, sve cherry pick

#20495 [Android] Add eventHeader parameter in Java Class
  src/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/clusterclient/WildcardFragment.kt
  src/controller/java/AndroidCallbacks.cpp
  src/controller/java/src/chip/devicecontroller/model/EventState.java
Labels: controller, android, sve cherry pick

#20497 Cherry pick - Chef - Add Chef CD builds for linux_arm64_ipv6only (#20468)
  examples/chef/chef.py
  examples/chef/cicd_config.json
Labels: examples

#20500 [EFR32] Fix 2 door lock edge cases
  examples/lock-app/efr32/src/LockManager.cpp
Labels: examples, sve cherry pick

#20502 Cherry pick - use docker image 0.5.84 (#19937)
  .devcontainer/devcontainer.json
  .github/workflows/bloat_check.yaml
  .github/workflows/build.yaml
  .github/workflows/chef.yaml
  .github/workflows/cirque.yaml
  .github/workflows/doxygen.yaml
  .github/workflows/examples-ameba.yaml
  .github/workflows/examples-cc13x2x7_26x2x7.yaml
  .github/workflows/examples-efr32.yaml
  .github/workflows/examples-esp32.yaml
  .github/workflows/examples-infineon.yaml
  .github/workflows/examples-k32w.yaml
  .github/workflows/examples-linux-arm.yaml
  .github/workflows/examples-linux-imx.yaml
  .github/workflows/examples-linux-standalone.yaml
  .github/workflows/examples-mbed.yaml
  .github/workflows/examples-nrfconnect.yaml
  .github/workflows/examples-qpg.yaml
  .github/workflows/examples-telink.yaml
  .github/workflows/examples-tizen.yaml
  .github/workflows/full-android.yaml
  .github/workflows/fuzzing-build.yaml
  .github/workflows/qemu.yaml
  .github/workflows/release_artifacts.yaml
  .github/workflows/smoketest-android.yaml
  .github/workflows/tests.yaml
  .github/workflows/unit_integration_test.yaml
  .github/workflows/zap_regeneration.yaml
  .github/workflows/zap_templates.yaml
  examples/chef/chef.py
  integrations/cloudbuild/build-all.yaml
  integrations/cloudbuild/chef.yaml
  integrations/cloudbuild/smoke-test.yaml
Labels: examples, vscode, github, workflows, sve cherry pick

#20466 Remove racy access to readline
  examples/chip-tool/commands/interactive/InteractiveCommands.cpp
Labels: examples, review - approved

#20414 [ESP32] Support flash encryption and nvs encryption
  examples/lighting-app/esp32/README.md
  examples/lighting-app/esp32/partitions_encrypted.csv
  scripts/tools/generate_esp32_chip_factory_bin.py
  src/platform/ESP32/ConfigurationManagerImpl.cpp
Labels: examples, scripts, platform, esp32, review - approved

#20494 fix GetSerialNumber when CHIP_DEVICE_CONFIG_TEST_SERIAL_NUMBER is used
  src/include/platform/internal/GenericDeviceInstanceInfoProvider.ipp
Labels: sve cherry pick

#20499 Chef - Add Chef CD builds for linux_arm64_ipv6only
  examples/chef/chef.py
  examples/chef/cicd_config.json
Labels: examples, sve cherry pick

#20529 Remove racy access to readline
  examples/chip-tool/commands/interactive/InteractiveCommands.cpp
Labels: examples, sve cherry pick

#20530 [ESP32] Support flash encryption and nvs encryption
  examples/lighting-app/esp32/README.md
  examples/lighting-app/esp32/partitions_encrypted.csv
  scripts/tools/generate_esp32_chip_factory_bin.py
  src/platform/ESP32/ConfigurationManagerImpl.cpp
Labels: examples, scripts, platform, esp32, sve cherry pick

#20527 Mark 'group names supported' in the groups cluster feature map
  examples/all-clusters-app/all-clusters-common/all-clusters-app.matter
  examples/all-clusters-minimal-app/all-clusters-common/all-clusters-minimal-app.matter
  examples/chef/devices/rootnode_contactsensor_lFAGG1bfRO.matter
  examples/chef/devices/rootnode_dimmablelight_bCwGYSDpoe.matter
  examples/chef/devices/rootnode_flowsensor_1zVxHedlaV.matter
  examples/chef/devices/rootnode_heatingcoolingunit_ncdGai1E5a.matter
  examples/chef/devices/rootnode_humiditysensor_Xyj4gda6Hb.matter
  examples/chef/devices/rootnode_occupancysensor_iHyVgifZuo.matter
  examples/chef/devices/rootnode_onofflightswitch_FsPlMr090Q.matter
  examples/chef/devices/rootnode_onoffpluginunit_Wtf8ss5EBY.matter
  examples/chef/devices/rootnode_pressuresensor_s0qC9wLH4k.matter
  examples/chef/devices/rootnode_speaker_RpzeXdimqA.matter
  examples/chef/devices/rootnode_temperaturesensor_Qy1zkNW7c3.matter
  examples/chef/devices/rootnode_thermostat_bm3fb8dhYi.matter
  examples/chef/devices/rootnode_windowcovering_RLCxaGi9Yx.matter
  examples/light-switch-app/light-switch-common/light-switch-app.matter
  examples/lighting-app/lighting-common/lighting-app.matter
  examples/lock-app/lock-common/lock-app.matter
  examples/placeholder/linux/apps/app1/config.matter
  examples/placeholder/linux/apps/app2/config.matter
  examples/thermostat/thermostat-common/thermostat.matter
  examples/tv-casting-app/tv-casting-common/tv-casting-app.matter
  examples/window-app/common/window-app.matter
  src/app/clusters/groups-server/groups-server.cpp
  src/app/zap-templates/zcl/data-model/silabs/general.xml
  src/controller/data_model/controller-clusters.matter
  src/darwin/Framework/CHIP/zap-generated/MTRBaseClusters.h
  zzz_generated/app-common/app-common/zap-generated/cluster-enums.h
  zzz_generated/app-common/app-common/zap-generated/enums.h
Labels: examples, darwin, controller, app, sve cherry pick

#20492 [chip-tool] Make sure the multiple arguments separator for multiple w…
  examples/chip-tool/commands/common/Command.cpp
Labels: examples, sve cherry pick

#20504 Chef - Set default value for do_rpc
  examples/chef/chef.py
Labels: examples, review - pending, fast track

#20180 Assert that holders are added to sessions only with the Matter lock held.
  src/include/platform/internal/GenericPlatformManagerImpl_POSIX.h
  src/include/platform/internal/GenericPlatformManagerImpl_POSIX.ipp
  src/transport/Session.h
Labels: transport, review - approved

#20513 [EFR32] Light-Switch example AppTask clean up and refactor
  examples/light-switch-app/efr32/BUILD.gn
  examples/light-switch-app/efr32/include/AppTask.h
  examples/light-switch-app/efr32/include/LightingManager.h
  examples/light-switch-app/efr32/src/AppTask.cpp
  examples/light-switch-app/efr32/src/LightingManager.cpp
  examples/light-switch-app/efr32/src/ZclCallbacks.cpp
Labels: examples, platform, efr32, review - approved

#20534 Add some additional FabricTable unit tests
  src/credentials/FabricTable.cpp
  src/credentials/FabricTable.h
  src/credentials/tests/TestFabricTable.cpp
Labels: review - approved

#20555 [EFR32] Light-Switch example AppTask clean up and refactor
  examples/light-switch-app/efr32/BUILD.gn
  examples/light-switch-app/efr32/include/AppTask.h
  examples/light-switch-app/efr32/include/LightingManager.h
  examples/light-switch-app/efr32/src/AppTask.cpp
  examples/light-switch-app/efr32/src/LightingManager.cpp
  examples/light-switch-app/efr32/src/ZclCallbacks.cpp
Labels: examples, sve cherry pick

#20549 Chef - Set default value for do_rpc
  examples/chef/chef.py
Labels: examples, sve cherry pick

#20548 Updated DCL PAA Root Certs in the SDK
  credentials/development/fetch-development-paa-certs-from-dcl.py
  credentials/development/paa-root-certs/dcld_mirror_CN_DigiCert_TEST_Root_CA_for_MATTER_PKI_O_DigiCert___Inc._C_US.der
  credentials/development/paa-root-certs/dcld_mirror_CN_DigiCert_TEST_Root_CA_for_MATTER_PKI_O_DigiCert___Inc._C_US.pem
  credentials/development/paa-root-certs/dcld_mirror_CN_Matter_PAA_1_O_Google_C_US_vid_0x6006.der
  credentials/development/paa-root-certs/dcld_mirror_CN_Matter_PAA_1_O_Google_C_US_vid_0x6006.pem
  credentials/development/paa-root-certs/dcld_mirror_CN_Matter_Test_PAA_O_Samsung_vid_0x10E1.der
  credentials/development/paa-root-certs/dcld_mirror_CN_Matter_Test_PAA_O_Samsung_vid_0x10E1.pem
  credentials/development/paa-root-certs/dcld_mirror_CN_Matter_Test_PAA_vid_0x125D.der
  credentials/development/paa-root-certs/dcld_mirror_CN_Matter_Test_PAA_vid_0x125D.pem
Labels: sve cherry pick

#20554 Don't try to use to_underlying for non-enum C++ types.
  examples/darwin-framework-tool/templates/partials/decodable_value.zapt
Labels: review - approved

#20543 [Tizen] Change advertised struct size
  src/platform/Tizen/BLEManagerImpl.cpp
Labels: platform, review - approved

#20581 Re-add privilege-storage.cpp to the Darwin framework build.
  src/darwin/Framework/Matter.xcodeproj/project.pbxproj
Labels: darwin, review - pending, fast track

#20258 add CI for Bouffalolab BL602
  .github/workflows/examples-bl602.yaml
  scripts/tools/memory/platform/bl602.cfg
Labels: scripts, integrations, github, workflows, review - approved, sve

#20538 Fix Chef DoorLock lock/unlock functions didn't overide weak functions in door-lock-server.cpp
  examples/chef/common/stubs.cpp
  src/app/chip_data_model.gni
  src/app/clusters/door-lock-server/door-lock-server-callback.cpp
  src/app/clusters/door-lock-server/door-lock-server.cpp
Labels: examples, app, review - approved

#20419 [zephyr] Fix factory recent after recent KVS changes
  src/platform/Zephyr/KeyValueStoreManagerImpl.cpp
  src/platform/tests/TestKeyValueStoreMgr.cpp
Labels: platform, zephyr, review - pending, fast track, sve

#20567 Cleanup p6 SDK compiler options
  examples/all-clusters-app/p6/BUILD.gn
  examples/all-clusters-minimal-app/p6/BUILD.gn
  examples/lighting-app/p6/BUILD.gn
  examples/lock-app/p6/BUILD.gn
  examples/ota-requestor-app/p6/BUILD.gn
  third_party/p6/BUILD.gn
  third_party/p6/p6_sdk.gni
Labels: examples, review - pending, fast track
