Repository project-chip/connectedhomeip, pull requests merged in 2022-03, with the labels that each got.

#15493 Generate Objective C NS_ENUM/NS_OPTIONS for enums and bitmaps.
  src/app/zap-templates/templates/app/helper.js
  src/darwin/Framework/CHIP/templates/CHIPClustersObjc.zapt
  src/darwin/Framework/CHIP/templates/helper.js
  src/darwin/Framework/CHIP/zap-generated/CHIPClustersObjc.h
Labels: darwin, app, review - approved

#15641 RPC: Add RPC to ESP temperature example
  examples/platform/esp32/Rpc.cpp
  examples/temperature-measurement-app/esp32/CMakeLists.txt
  examples/temperature-measurement-app/esp32/main/CMakeLists.txt
  examples/temperature-measurement-app/esp32/main/Kconfig.projbuild
  examples/temperature-measurement-app/esp32/main/main.cpp
  examples/temperature-measurement-app/esp32/sdkconfig_rpc.defaults
  scripts/build/build/targets.py
  scripts/build/builders/esp32.py
  scripts/build/testdata/all_targets_except_host.txt
  scripts/build/testdata/build_all_except_host.txt
  scripts/build/testdata/glob_star_targets_except_host.txt
Labels: examples, scripts, review - approved

#15503 Fix use of config variables in Darwin YAML expected values.
  src/darwin/Framework/CHIP/templates/tests/partials/check_test_value.zapt
Labels: darwin, review - approved

#15653 Add extra logging to address resolve.
  src/lib/address_resolve/AddressResolve_DefaultImpl.cpp
Labels: lib, review - approved

#15643 [ESP32] Fix flashing_script dependency on partition table
  examples/common/cmake/idf_flashing.cmake
Labels: examples, review - approved

#15623 [IM] Reject conflict WriteRequests
  src/app/InteractionModelEngine.cpp
  src/app/InteractionModelEngine.h
  src/app/WriteHandler.cpp
  src/app/WriteHandler.h
  src/controller/tests/TestWriteChunking.cpp
Labels: controller, app, review - approved

#15561 Fix some comment typos in address_resolve.
  src/lib/address_resolve/AddressResolve.h
  src/lib/address_resolve/AddressResolve_DefaultImpl.cpp
Labels: lib, review - pending, fast track

#15657 [Diagnostic] Mark feature bit controlled attributes as optional since…
  src/app/zap-templates/zcl/data-model/chip/ethernet-network-diagnostics-cluster.xml
  src/app/zap-templates/zcl/data-model/chip/software-diagnostics-cluster.xml
  src/app/zap-templates/zcl/data-model/chip/thread-network-diagnostics-cluster.xml
  src/controller/python/chip/clusters/Objects.py
Labels: controller, app, review - approved

#15501 Do not link group for iOS builds.
  build/toolchain/gcc_toolchain.gni
Labels: review - approved

#15081 Add FeatureMap to pressure sensor
  examples/all-clusters-app/all-clusters-common/all-clusters-app.matter
  examples/pump-app/pump-common/pump-app.matter
  examples/pump-controller-app/pump-controller-common/pump-controller-app.matter
  examples/tv-casting-app/tv-casting-common/tv-casting-app.matter
  src/app/zap-templates/zcl/data-model/chip/pressure-measurement-cluster.xml
  src/controller/data_model/controller-clusters.matter
  src/darwin/Framework/CHIP/zap-generated/CHIPClustersObjc.h
  zzz_generated/app-common/app-common/zap-generated/cluster-objects.h
  zzz_generated/app-common/app-common/zap-generated/enums.h
Labels: examples, darwin, controller, app, review - approved

#14998 Enable server interactions on Controllers
  examples/persistent-storage/qpg/args.gni
  src/app/server/Dnssd.cpp
  src/app/server/Dnssd.h
  src/app/server/Server.cpp
  src/controller/BUILD.gn
  src/controller/CHIPDeviceController.cpp
  src/controller/CHIPDeviceController.h
  src/controller/CHIPDeviceControllerFactory.cpp
  src/controller/CHIPDeviceControllerFactory.h
  src/controller/CHIPDeviceControllerSystemState.h
  src/controller/python/ChipDeviceController-ScriptBinding.cpp
  src/controller/python/OpCredsBinding.cpp
  src/protocols/secure_channel/CASEServer.cpp
  src/protocols/secure_channel/CASEServer.h
  src/protocols/secure_channel/tests/TestCASESession.cpp
Labels: examples, controller, app, review - approved

#15257 [Ameba] Implement Matter OTA header processing
  src/platform/Ameba/AmebaOTAImageProcessor.cpp
  src/platform/Ameba/AmebaOTAImageProcessor.h
Labels: platform, review - pending, fast track

#15618 OnOff cluster featuremap
  examples/all-clusters-app/all-clusters-common/all-clusters-app.matter
  examples/all-clusters-app/all-clusters-common/all-clusters-app.zap
  examples/bridge-app/bridge-common/bridge-app.matter
  examples/light-switch-app/light-switch-common/light-switch-app.matter
  examples/lighting-app/lighting-common/lighting-app.matter
  examples/lighting-app/lighting-common/lighting-app.zap
  examples/lock-app/lock-common/lock-app.matter
  examples/placeholder/linux/apps/app1/config.matter
  examples/placeholder/linux/apps/app2/config.matter
  examples/pump-app/pump-common/pump-app.matter
  examples/pump-controller-app/pump-controller-common/pump-controller-app.matter
  examples/tv-app/tv-common/tv-app.matter
  examples/tv-casting-app/tv-casting-common/tv-casting-app.matter
  src/app/clusters/on-off-server/on-off-server.cpp
  src/app/clusters/on-off-server/on-off-server.h
  src/app/tests/suites/certification/Test_TC_OO_1_1.yaml
  src/app/zap-templates/zcl/data-model/chip/onoff-cluster.xml
  src/app/zap-templates/zcl/data-model/silabs/general.xml
  src/controller/data_model/controller-clusters.matter
  src/darwin/Framework/CHIPTests/CHIPClustersTests.m
  zzz_generated/all-clusters-app/zap-generated/endpoint_config.h
  zzz_generated/app-common/app-common/zap-generated/cluster-objects.h
  zzz_generated/app-common/app-common/zap-generated/enums.h
  zzz_generated/chip-tool/zap-generated/test/Commands.h
  zzz_generated/lighting-app/zap-generated/endpoint_config.h
Labels: examples, darwin, controller, app, review - approved

#15680 Generated content is out of sync
  src/darwin/Framework/CHIP/zap-generated/CHIPClustersObjc.h
Labels: hotfix, darwin, review - approved

#15475 Check for Valid Node Id, Fabric Id, and CATs Values When Processing CHIP Certs
  src/app/clusters/operational-credentials-server/operational-credentials-server.cpp
  src/credentials/CHIPCert.cpp
  src/credentials/CHIPCertFromX509.cpp
  src/credentials/tests/TestChipCert.cpp
  src/lib/core/CASEAuthTag.h
  src/lib/core/CHIPError.cpp
  src/lib/core/CHIPError.h
  src/lib/core/PeerId.h
  src/lib/core/tests/TestCHIPErrorStr.cpp
  src/tools/chip-cert/Cmd_GenCert.cpp
Labels: lib, app, review - approved

#15689 Disable multi fabric test in Cirque
  src/controller/python/test/test_scripts/cluster_objects.py
  src/controller/python/test/test_scripts/mobile-device-test.py
Labels: hotfix, controller, review - approved

#15693 Revert "Cherry pick Generic Thread Network commissioning Driver (#153…
  examples/lighting-app/telink/CMakeLists.txt
  examples/persistent-storage/qpg/args.gni
  examples/shell/efr32/BUILD.gn
  examples/shell/efr32/args.gni
  examples/shell/efr32/include/CHIPProjectConfig.h
  examples/shell/mbed/CMakeLists.txt
  examples/shell/mbed/main/include/CHIPProjectConfig.h
  examples/shell/nrfconnect/CHIPProjectConfig.h
  examples/shell/nxp/k32w/k32w0/BUILD.gn
  src/include/platform/ThreadStackManager.h
  src/include/platform/internal/GenericConnectivityManagerImpl_Thread.cpp
  src/platform/BUILD.gn
  src/platform/EFR32/ThreadStackManagerImpl.cpp
  src/platform/Linux/ThreadStackManagerImpl.cpp
  src/platform/Linux/ThreadStackManagerImpl.h
  src/platform/OpenThread/GenericNetworkCommissioningThreadDriver.cpp
  src/platform/OpenThread/GenericNetworkCommissioningThreadDriver.h
  src/platform/OpenThread/GenericThreadStackManagerImpl_OpenThread.cpp
  src/platform/OpenThread/GenericThreadStackManagerImpl_OpenThread.h
  src/test_driver/efr32/BUILD.gn
Labels: examples, platform, efr32, linux, openthread

#15468 Implement video player Binding and ACL functionality
  examples/platform/linux/AppMain.cpp
  examples/tv-app/android/include/application-basic/ApplicationBasicManager.cpp
  examples/tv-app/android/include/application-basic/ApplicationBasicManager.h
  examples/tv-app/linux/include/application-basic/ApplicationBasicManager.cpp
  examples/tv-app/linux/include/application-basic/ApplicationBasicManager.h
  examples/tv-app/linux/main.cpp
  examples/tv-app/tv-common/include/CHIPProjectAppConfig.h
  examples/tv-casting-app/linux/main.cpp
  src/app/OperationalDeviceProxy.h
  src/app/app-platform/ContentAppPlatform.cpp
  src/app/app-platform/ContentAppPlatform.h
  src/app/clusters/application-basic-server/application-basic-delegate.h
  src/app/clusters/bindings/BindingManager.cpp
  src/app/clusters/bindings/BindingManager.h
  src/app/clusters/bindings/bindings.cpp
Labels: examples, transport, app, review - approved

#15682 Fix a memory leak in src/crypto/CHIPCryptoPALOpenSSL.cpp
  src/crypto/CHIPCryptoPALOpenSSL.cpp
Labels: crypto, review - approved

#15703 Minor Update to the Spake2pVerifier Serializer APIs
  src/crypto/CHIPCryptoPAL.cpp
  src/crypto/CHIPCryptoPAL.h
Labels: crypto, review - approved

#15707 ESP32: Fix onnetwork pairing when disabling CHIPoBLE
  config/esp32/components/chip/CMakeLists.txt
Labels: config, review - approved

#15712 change default keepSubscription to false
  src/app/ReadPrepareParams.h
Labels: app, review - approved

#15692 Cherry pick RPC and factory reset code
  examples/all-clusters-app/esp32/main/CMakeLists.txt
  examples/common/pigweed/BUILD.gn
  examples/common/pigweed/protos/descriptor_service.proto
  examples/common/pigweed/protos/device_service.options
  examples/common/pigweed/protos/device_service.proto
  examples/common/pigweed/protos/ot_cli_service.options
  examples/common/pigweed/protos/ot_cli_service.proto
  examples/common/pigweed/protos/thread_service.options
  examples/common/pigweed/protos/thread_service.proto
  examples/common/pigweed/protos/wifi_service.options
  examples/common/pigweed/protos/wifi_service.proto
  examples/common/pigweed/rpc_console/py/BUILD.gn
  examples/common/pigweed/rpc_console/py/chip_rpc/console.py
  examples/common/pigweed/rpc_services/Descriptor.h
  examples/common/pigweed/rpc_services/Device.h
  examples/common/pigweed/rpc_services/OtCli.h
  examples/common/pigweed/rpc_services/Thread.h
  examples/common/pigweed/rpc_services/Wifi.h
  examples/ipv6only-app/common/BUILD.gn
  examples/ipv6only-app/esp32/main/CMakeLists.txt
  examples/lighting-app/efr32/BUILD.gn
  examples/lighting-app/linux/BUILD.gn
  examples/lighting-app/linux/Rpc.cpp
  examples/lighting-app/linux/main.cpp
  examples/lighting-app/nrfconnect/CMakeLists.txt
  examples/lock-app/efr32/BUILD.gn
  examples/lock-app/esp32/main/CMakeLists.txt
  examples/ota-requestor-app/efr32/BUILD.gn
  examples/platform/efr32/Rpc.cpp
  examples/platform/esp32/Rpc.cpp
  examples/platform/linux/Rpc.cpp
  examples/platform/linux/Rpc.h
  examples/platform/nrfconnect/Rpc.cpp
  src/platform/ESP32/ConfigurationManagerImpl.cpp
  src/platform/ESP32/KeyValueStoreManagerImpl.cpp
  src/platform/ESP32/KeyValueStoreManagerImpl.h
Labels: examples

#15686 Move cluster-defined enums/bitmaps into a separate header.
  src/app/common/templates/templates.json
  src/app/zap-templates/templates/app/cluster-enums.zapt
  src/app/zap-templates/templates/app/cluster-objects.zapt
  src/lib/core/BUILD.gn
  src/lib/core/ClusterEnums.h
  zzz_generated/app-common/app-common/zap-generated/cluster-enums.h
  zzz_generated/app-common/app-common/zap-generated/cluster-objects.h
Labels: lib, app, review - approved

#15725 Fix ForEachCluster missing return
  src/app/AttributeCache.h
Labels: app, review - approved

#15699 Make it possible to establish two subscriptions on Darwin.
  src/controller/CHIPCluster.h
  src/controller/ReadInteraction.h
  src/darwin/Framework/CHIP/CHIPCluster.h
  src/darwin/Framework/CHIP/CHIPCluster.mm
  src/darwin/Framework/CHIP/templates/CHIPClustersObjc-src.zapt
  src/darwin/Framework/CHIP/templates/CHIPClustersObjc.zapt
  src/darwin/Framework/CHIP/templates/tests/partials/test_cluster.zapt
  src/darwin/Framework/CHIP/zap-generated/CHIPClustersObjc.h
  src/darwin/Framework/CHIP/zap-generated/CHIPClustersObjc.mm
  src/darwin/Framework/CHIPTests/CHIPClustersTests.m
Labels: darwin, controller, review - pending, fast track

#15694 Fix small copy paste error in documentation
  src/platform/Linux/DiagnosticDataProviderImpl.h
Labels: platform, linux, review - pending, fast track

#15675 Fix PersistentStorageDelegate APIs to be consistent about error reporting
  examples/chip-tool/config/PersistentStorage.cpp
  examples/platform/linux/AppMain.cpp
  src/app/server/Server.h
  src/controller/python/ChipDeviceController-StorageDelegate.cpp
  src/controller/python/chip/internal/CommissionerImpl.cpp
  src/darwin/Framework/CHIP/CHIPPersistentStorageDelegateBridge.mm
  src/lib/core/CHIPPersistentStorageDelegate.h
  src/lib/support/TestPersistentStorageDelegate.h
  src/protocols/secure_channel/tests/TestCASESession.cpp
Labels: examples, darwin, lib, controller, app, review - approved

#15629 WindowCovering: YAML Add GoTos tests 4.1 4.2
  examples/chip-tool/templates/tests/tests.js
  src/app/tests/suites/certification/Test_TC_WNCV_4_1.yaml
  src/app/tests/suites/certification/Test_TC_WNCV_4_2.yaml
  src/darwin/Framework/CHIP/templates/tests/tests.js
  src/darwin/Framework/CHIPTests/CHIPClustersTests.m
  zzz_generated/chip-tool/zap-generated/test/Commands.h
Labels: examples, darwin, app, review - pending, fast track

#15492 Align unicast message counters with the spec.
  src/messaging/tests/TestReliableMessageProtocol.cpp
  src/transport/PairingSession.h
  src/transport/PeerMessageCounter.h
  src/transport/SessionManager.cpp
  src/transport/tests/TestGroupMessageCounter.cpp
  src/transport/tests/TestPeerMessageCounter.cpp
  src/transport/tests/TestSessionManager.cpp
Labels: transport, review - pending, fast track

#15376 [AccessControl] Add Access Control checks to event management
  src/app/EventLoggingTypes.h
  src/app/EventManagement.cpp
  src/app/EventManagement.h
  src/app/MessageDef/EventPathIB.cpp
  src/app/MessageDef/EventPathIB.h
  src/app/ReadClient.cpp
  src/app/reporting/Engine.cpp
  src/app/tests/TestEventLogging.cpp
  src/app/tests/TestReadInteraction.cpp
  src/controller/TypedReadCallback.h
  src/controller/python/chip/clusters/Attribute.py
  src/controller/python/chip/clusters/attribute.cpp
Labels: controller, app, review - approved

#15683 Fix issue 13075
  src/app/EventManagement.cpp
  src/app/tests/BUILD.gn
  src/app/tests/TestEventOverflow.cpp
Labels: lib, app, review - approved

#15731 Fix chip-cert Crashes on Failure to Open File.
  src/tools/chip-cert/GeneralUtils.cpp
Labels: review - pending, fast track

#15729 Make the iOS CHIPTool reboot the Matter stack prior to each pairing
  src/darwin/CHIPTool/CHIPTool/View Controllers/QRCode/QRCodeViewController.m
Labels: darwin, review - pending, fast track

#15741 Fix kvs in linux
  src/platform/Linux/PosixConfig.cpp
Labels: platform, linux, review - approved

#15745 Fix iOS CHIPTool compilation
  src/darwin/CHIPTool/CHIPTool/View Controllers/Temperature Sensor/TemperatureSensorViewController.m
Labels: darwin, review - pending, fast track

#15737 Remove log only delegate bridge from darwin chip controller
  src/darwin/Framework/CHIP/CHIPDeviceController.mm
  src/darwin/Framework/CHIP/CHIPDevicePairingDelegateBridge.h
  src/darwin/Framework/CHIP/CHIPDevicePairingDelegateBridge.mm
Labels: darwin, review - pending, fast track

#15736 Delete log-only delegate from platform app for 'device address resolved'
  examples/platform/linux/AppMain.cpp
Labels: examples, review - pending, fast track

#15738 Remove usage of DeviceAddressUpdateDelegate from python
  src/controller/python/BUILD.gn
  src/controller/python/ChipDeviceController-ScriptBinding.cpp
  src/controller/python/ChipDeviceController-ScriptDeviceAddressUpdateDelegate.cpp
  src/controller/python/ChipDeviceController-ScriptDeviceAddressUpdateDelegate.h
  src/controller/python/OpCredsBinding.cpp
  src/controller/python/chip/ChipDeviceCtrl.py
Labels: controller, review - pending, fast track

#15747 Fix TLV put cast
  src/app/tests/TestEventOverflow.cpp
Labels: hotfix, app, review - pending

#15644 [Group] Add chip-tool group command support
  examples/chip-tool/commands/clusters/ClusterCommand.h
  examples/chip-tool/commands/clusters/ModelCommand.cpp
  examples/chip-tool/commands/clusters/ModelCommand.h
  examples/chip-tool/commands/clusters/WriteAttributeCommand.h
  examples/chip-tool/templates/commands.zapt
  src/controller/CHIPDeviceController.h
  src/transport/GroupPeerMessageCounter.cpp
  src/transport/SessionManager.cpp
  zzz_generated/chip-tool/zap-generated/cluster/Commands.h
Labels: examples, transport, controller, review - approved, fast track

#15525 fix BLE commissioning on commissionable Matter TVs
  src/controller/CHIPDeviceController.cpp
  src/controller/CHIPDeviceController.h
  src/controller/SetUpCodePairer.cpp
  src/transport/raw/BLE.cpp
  src/transport/raw/BLE.h
  src/transport/raw/Tuple.h
Labels: transport, controller, review - approved

#15759 [OTA] Correct typo in README regarding commissioning on multiple fabrics
  examples/ota-requestor-app/linux/README.md
Labels: examples, review - approved

#15758 Enable reset watermark for software diagnostics on Window cover app
  examples/window-app/common/window-app.matter
  examples/window-app/common/window-app.zap
  zzz_generated/window-app/zap-generated/IMClusterCommandHandler.cpp
Labels: examples, review - pending

#15752 [EFR32] Add missing lock/unlock to window cover
  examples/window-app/common/src/WindowApp.cpp
Labels: examples, review - approved

#15749 [Android] Add utility for translating cluster/attribute ids to names
  src/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/clusterclient/AddressUpdateFragment.kt
  src/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/clusterclient/WildcardFragment.kt
  src/controller/java/BUILD.gn
  src/controller/java/templates/ChipIdLookup-java.zapt
  src/controller/java/templates/templates.json
  src/controller/java/zap-generated/chip/devicecontroller/ChipIdLookup.java
Labels: controller, android, review - pending, fast track

#15651 Update media cluster for spec 1.0
  examples/tv-app/android/java/ChannelManager.cpp
  examples/tv-app/android/java/MediaPlaybackManager.cpp
  examples/tv-app/linux/include/channel/ChannelManager.cpp
  examples/tv-app/linux/include/media-playback/MediaPlaybackManager.cpp
  examples/tv-app/tv-common/tv-app.matter
  src/app/tests/suites/TV_ChannelCluster.yaml
  src/app/tests/suites/TV_MediaPlaybackCluster.yaml
  src/app/zap-templates/zcl/data-model/chip/channel-cluster.xml
  src/app/zap-templates/zcl/data-model/chip/media-playback-cluster.xml
  src/app/zap-templates/zcl/data-model/chip/target-navigator-cluster.xml
  src/controller/data_model/controller-clusters.matter
  src/controller/java/zap-generated/CHIPInvokeCallbacks.cpp
  src/controller/java/zap-generated/chip/devicecontroller/ChipClusters.java
  src/controller/java/zap-generated/chip/devicecontroller/ClusterInfoMapping.java
  src/controller/python/chip/clusters/Objects.py
  src/darwin/Framework/CHIP/zap-generated/CHIPCallbackBridge.mm
  src/darwin/Framework/CHIP/zap-generated/CHIPCommandPayloadsObjc.h
  src/darwin/Framework/CHIP/zap-generated/CHIPCommandPayloadsObjc.mm
  zzz_generated/app-common/app-common/zap-generated/callback.h
  zzz_generated/app-common/app-common/zap-generated/cluster-objects.cpp
  zzz_generated/app-common/app-common/zap-generated/cluster-objects.h
  zzz_generated/chip-tool/zap-generated/cluster/logging/DataModelLogger.cpp
  zzz_generated/chip-tool/zap-generated/test/Commands.h
Labels: examples, darwin, controller, app, review - pending, tv

#15440 TLV to JSON Converter
  src/lib/support/jsontlv/BUILD.gn
  src/lib/support/jsontlv/TlvJson.cpp
  src/lib/support/jsontlv/TlvJson.h
  src/lib/support/tests/BUILD.gn
  src/lib/support/tests/TestTlvToJson.cpp
Labels: lib, review - pending, fast track

#14816 Darwin chip tool cli clusters
  .github/.wordlist.txt
  examples/chip-tool-darwin/BUILD.gn
  examples/chip-tool-darwin/README.md
  examples/chip-tool-darwin/commands/clusters/ModelCommandBridge.h
  examples/chip-tool-darwin/commands/clusters/ModelCommandBridge.mm
  examples/chip-tool-darwin/commands/pairing/PairingDelegateBridge.mm
  examples/chip-tool-darwin/main.mm
  examples/chip-tool-darwin/templates/README.zapt
  examples/chip-tool-darwin/templates/commands.zapt
  examples/chip-tool-darwin/templates/templates.json
  src/darwin/Framework/CHIP/templates/CHIPClustersObjc-src.zapt
  src/darwin/Framework/CHIP/templates/CHIPClustersObjc.zapt
  src/darwin/Framework/CHIP/templates/helper.js
  zzz_generated/chip-tool-darwin/zap-generated/README_CLUSTER_COMMANDS.md
  zzz_generated/chip-tool-darwin/zap-generated/cluster/Commands.h
Labels: examples, darwin, github, review - pending, fast track

#15765 [Tizen] Add network commissioning driver
  src/platform/Tizen/BUILD.gn
  src/platform/Tizen/NetworkCommissioningDriver.h
  src/platform/Tizen/NetworkCommissioningWiFiDriver.cpp
  src/platform/Tizen/WiFiManager.cpp
  src/platform/Tizen/WiFiManager.h
Labels: platform, review - pending, fast track

#15715 Updated iOS CHIP tool README and qr scanner to indicate requirement >…
  src/darwin/CHIPTool/CHIPTool/View Controllers/RootViewController.m
  src/darwin/CHIPTool/README.md
Labels: darwin, fast track

#15662 [OTA] Serve the file specified by the file designator
  examples/ota-provider-app/esp32/main/include/ota-provider-common/BdxOtaSender.h
  examples/ota-provider-app/ota-provider-common/BdxOtaSender.cpp
  examples/ota-provider-app/ota-provider-common/BdxOtaSender.h
  examples/ota-provider-app/ota-provider-common/OTAProviderExample.cpp
  src/app/clusters/ota-requestor/OTARequestor.cpp
  src/app/clusters/ota-requestor/OTARequestor.h
  src/include/platform/OTARequestorDriver.h
  src/protocols/bdx/BdxMessages.cpp
  src/protocols/bdx/BdxMessages.h
  src/protocols/bdx/BdxTransferSession.h
Labels: examples, app, review - approved

#15499 Disable debug and chip_Stack_lock_Tracking
  examples/lock-app/cc13x2x7_26x2x7/args.gni
  examples/pump-controller-app/cc13x2x7_26x2x7/args.gni
Labels: examples, review - approved

#15772 Fix sprintf type issue in TlvJson
  src/lib/support/jsontlv/TlvJson.cpp
Labels: hotfix, lib, review - pending

#15773 Revert "CI split between master (full) and PR (smoke) for ESP32"
  .github/workflows/examples-esp32.yaml
  .github/workflows/smoketest-esp32.yaml
Labels: hotfix, github, workflows, review - pending

#15779 Revert "Fix sprintf type issue in TlvJson"
  src/lib/support/jsontlv/TlvJson.cpp
Labels: review - pending

#15778 Revert "TLV to JSON Converter"
  src/lib/support/jsontlv/BUILD.gn
  src/lib/support/jsontlv/TlvJson.cpp
  src/lib/support/jsontlv/TlvJson.h
  src/lib/support/tests/BUILD.gn
  src/lib/support/tests/TestTlvToJson.cpp
Labels: lib, review - pending

#15709 [Python] Provide a user friendly API for getting data versions
  src/controller/python/chip/ChipDeviceCtrl.py
  src/controller/python/chip/clusters/Attribute.py
  src/controller/python/chip/clusters/ClusterObjects.py
  src/controller/python/test/test_scripts/base.py
  src/controller/python/test/test_scripts/cluster_objects.py
  src/controller/python/test/test_scripts/network_commissioning.py
Labels: controller, review - approved

#15784 [YAML] Remove GetUniqueDiscriminator since cross-talks seems to be gone now
  src/app/tests/suites/TestDiscovery.yaml
  src/app/tests/suites/commands/discovery/DiscoveryCommands.cpp
  src/app/tests/suites/commands/discovery/DiscoveryCommands.h
  zzz_generated/chip-tool/zap-generated/test/Commands.h
Labels: app, review - pending, fast track

#15708 Make group session ephemeral
  examples/chip-tool/commands/clusters/ClusterCommand.h
  examples/chip-tool/commands/clusters/WriteAttributeCommand.h
  examples/chip-tool/commands/common/CommandInvoker.h
  examples/shell/shell_common/cmd_server.cpp
  src/app/CommandHandler.cpp
  src/app/WriteHandler.cpp
  src/app/clusters/on-off-server/on-off-server.cpp
  src/controller/CHIPCluster.cpp
  src/controller/CHIPCluster.h
  src/lib/core/CHIPConfig.h
  src/messaging/ExchangeContext.h
  src/messaging/tests/MessagingContext.cpp
  src/messaging/tests/MessagingContext.h
  src/protocols/secure_channel/MessageCounterManager.cpp
  src/transport/GroupSession.h
  src/transport/Session.cpp
  src/transport/Session.h
  src/transport/SessionManager.cpp
  src/transport/SessionManager.h
Labels: examples, transport, lib, controller, app, review - approved

#15797 [nrfconnect] Enable FPU and adjust stack sizes
  config/nrfconnect/app/sample-defaults.conf
Labels: review - pending, fast track

#15791 [nrfconnect] Better filter which application to build on each PR
  .github/workflows/examples-nrfconnect.yaml
  .github/workflows/smoketest-nrfconnect.yaml
Labels: github, workflows, review - pending, fast track

#15506 The printing of onboarding code spec compliant
  examples/platform/linux/AppMain.cpp
  src/app/server/OnboardingCodesUtil.cpp
  src/app/server/OnboardingCodesUtil.h
  src/setup_payload/ManualSetupPayloadGenerator.cpp
Labels: examples, setup payload, app, review - approved

#15788 [YAML] The maximum amount of memory is reached when generating chip-t…
  scripts/tools/zap/generate.py
Labels: scripts, review - pending, fast track

#15787 [chip-tool] Add support for multiple reads/subscribes into a single exchange
  examples/chip-tool/commands/clusters/ClusterCommand.h
  examples/chip-tool/commands/clusters/ModelCommand.h
  examples/chip-tool/commands/clusters/ReportCommand.h
  examples/chip-tool/commands/clusters/WriteAttributeCommand.h
  examples/chip-tool/commands/common/Command.cpp
  examples/chip-tool/commands/common/Command.h
  examples/chip-tool/templates/commands.zapt
  zzz_generated/chip-tool/zap-generated/cluster/Commands.h
Labels: examples, review - pending, fast track

#15801 Placeholder unable to pair
  examples/placeholder/linux/apps/app1/config.matter
  examples/placeholder/linux/apps/app1/config.zap
  examples/placeholder/linux/apps/app1/include/CHIPProjectConfig.h
  examples/placeholder/linux/apps/app2/config.matter
  examples/placeholder/linux/apps/app2/config.zap
  zzz_generated/placeholder/app1/zap-generated/CHIPClientCallbacks.h
  zzz_generated/placeholder/app1/zap-generated/endpoint_config.h
  zzz_generated/placeholder/app2/zap-generated/CHIPClientCallbacks.h
  zzz_generated/placeholder/app2/zap-generated/endpoint_config.h
Labels: examples, review - approved

#15789 [ESP32] map CHIP_ERROR_KEY_NOT_FOUND to ESP_ERR_NVS_NOT_FOUND
  src/platform/ESP32/ESP32Utils.cpp
Labels: platform, esp32, review - approved, fast track

#15739 Enable resetCount command for thread diagnostics on window app
  examples/window-app/common/window-app.matter
  examples/window-app/common/window-app.zap
  zzz_generated/window-app/zap-generated/IMClusterCommandHandler.cpp
  zzz_generated/window-app/zap-generated/endpoint_config.h
Labels: examples, review - approved

#15795 [groups] Fix storing group data counter
  src/transport/GroupPeerMessageCounter.cpp
Labels: transport, review - approved

#15658 Small fixes in access control event logging
  src/app/clusters/access-control-server/access-control-server.cpp
Labels: app, review - approved

#15733 Remove config `CHIP_DEVICE_CONFIG_ENABLE_DNSSD`
  src/app/server/Server.cpp
  src/controller/AutoCommissioner.cpp
  src/controller/CHIPDeviceController.cpp
  src/controller/CHIPDeviceController.h
  src/controller/CHIPDeviceControllerFactory.cpp
  src/controller/CHIPDeviceControllerFactory.h
  src/controller/SetUpCodePairer.cpp
  src/controller/SetUpCodePairer.h
  src/include/platform/CHIPDeviceConfig.h
  src/lib/shell/Engine.cpp
  src/lib/shell/commands/BUILD.gn
  src/platform/BUILD.gn
  src/platform/EFR32/CHIPDevicePlatformConfig.h
  src/platform/cc13x2_26x2/CHIPDevicePlatformConfig.h
  src/platform/mbed/CHIPDevicePlatformConfig.h
  src/platform/nrfconnect/CHIPDevicePlatformConfig.h
  src/platform/nxp/k32w/k32w0/CHIPDevicePlatformConfig.h
  src/platform/qpg/CHIPDevicePlatformConfig.h
  src/system/SystemLayerImplLibevent.cpp
  src/system/SystemLayerImplLibevent.h
Labels: system, platform, efr32, nrf connect, lib, controller, app, review - approved

#15433 Implement periodic timer for querying OTA providers, refactor OTARequestor and OTARequestorDriver
  .github/.wordlist.txt
  examples/ota-requestor-app/efr32/README.md
  examples/ota-requestor-app/linux/README.md
  examples/ota-requestor-app/linux/main.cpp
  src/app/clusters/ota-requestor/OTARequestor.cpp
  src/app/clusters/ota-requestor/OTARequestor.h
  src/include/platform/OTARequestorDriver.h
  src/include/platform/OTARequestorInterface.h
  src/platform/GenericOTARequestorDriver.cpp
  src/platform/GenericOTARequestorDriver.h
  src/platform/mbed/OTARequestorDriverImpl.cpp
Labels: examples, platform, app, github, review - approved

#15816 Ensure that we shut down open exchanges when controller shuts down.
  src/app/CASESessionManager.cpp
  src/app/CASESessionManager.h
  src/app/OperationalDeviceProxy.cpp
  src/app/OperationalDeviceProxyPool.h
  src/app/clusters/bindings/BindingManager.cpp
  src/controller/CHIPDeviceController.cpp
  src/protocols/secure_channel/CASESession.cpp
  src/protocols/secure_channel/CASESession.h
Labels: controller, app, review - approved

#15744 Cleanup redundant helper function in localization configuration server
  src/app/clusters/localization-configuration-server/localization-configuration-server.cpp
Labels: app, review - approved

#15824 Make TestTcp retry TCP initialization
  src/transport/raw/tests/TestTCP.cpp
Labels: transport, review - approved

#15796 Fix out-of-bound read when passing CharSpan to printf
  examples/door-lock-app/linux/src/LockEndpoint.cpp
  src/app/clusters/door-lock-server/door-lock-server.cpp
Labels: examples, app, review - approved

#15798 Lock standard output when composing log message
  src/platform/Linux/Logging.cpp
Labels: platform, linux, review - approved

#15841 Remove no-longer-needed checks for CHIP_ERROR_KEY_NOT_FOUND.
  src/transport/GroupPeerMessageCounter.cpp
Labels: transport, review - approved

#15846 [OTA] Set the current state on every attempt for CASE session establishment
  src/app/clusters/ota-requestor/OTARequestor.cpp
  src/app/clusters/ota-requestor/OTARequestor.h
  src/include/platform/OTARequestorInterface.h
Labels: app, review - approved

#15828 [OTA] Use OTAUpdateStateEnum when retrieving current update state
  src/app/clusters/ota-requestor/OTARequestor.cpp
  src/app/clusters/ota-requestor/OTARequestor.h
  src/include/platform/OTARequestorInterface.h
  src/platform/GenericOTARequestorDriver.cpp
Labels: platform, app, review - approved

#15826 [OTA] Update ProvderLocation struct with manual fabric index field
  examples/all-clusters-app/all-clusters-common/all-clusters-app.matter
  examples/light-switch-app/light-switch-common/light-switch-app.matter
  examples/lighting-app/lighting-common/lighting-app.matter
  examples/lock-app/lock-common/lock-app.matter
  examples/ota-requestor-app/ota-requestor-common/ota-requestor-app.matter
  examples/pump-controller-app/pump-controller-common/pump-controller-app.matter
  src/app/clusters/ota-requestor/OTARequestor.cpp
  src/app/zap-templates/zcl/data-model/chip/chip-ota.xml
  src/controller/data_model/controller-clusters.matter
  src/controller/java/zap-generated/CHIPAttributeTLVValueDecoder.cpp
  src/controller/java/zap-generated/CHIPClustersWrite-JNI.cpp
  src/controller/java/zap-generated/CHIPReadCallbacks.cpp
  src/controller/java/zap-generated/chip/devicecontroller/ChipStructs.java
  src/controller/python/chip/clusters/Objects.py
  src/darwin/Framework/CHIP/zap-generated/CHIPAttributeTLVValueDecoder.mm
  src/darwin/Framework/CHIP/zap-generated/CHIPCallbackBridge.mm
  src/darwin/Framework/CHIP/zap-generated/CHIPClustersObjc.mm
  src/darwin/Framework/CHIP/zap-generated/CHIPStructsObjc.h
  src/darwin/Framework/CHIP/zap-generated/CHIPStructsObjc.mm
  zzz_generated/app-common/app-common/zap-generated/af-structs.h
  zzz_generated/app-common/app-common/zap-generated/cluster-objects.cpp
  zzz_generated/app-common/app-common/zap-generated/cluster-objects.h
  zzz_generated/chip-tool/zap-generated/cluster/ComplexArgumentParser.cpp
  zzz_generated/chip-tool/zap-generated/cluster/logging/DataModelLogger.cpp
Labels: examples, darwin, controller, app, review - approved

#15825 Remove deviceAddressUpdateDelegate member of init params in CHIPDevic…
  examples/platform/linux/AppMain.cpp
  src/controller/CHIPDeviceController.cpp
  src/controller/CHIPDeviceController.h
  src/controller/CHIPDeviceControllerFactory.cpp
  src/controller/CHIPDeviceControllerFactory.h
  src/controller/python/OpCredsBinding.cpp
  src/darwin/Framework/CHIP/CHIPDeviceController.mm
Labels: examples, darwin, controller, review - pending, fast track

#15844 Stop generating non-enum-class enums for door lock bits.
  src/app/zap-templates/templates/app/helper.js
  zzz_generated/app-common/app-common/zap-generated/cluster-enums.h
  zzz_generated/app-common/app-common/zap-generated/enums.h
Labels: app, review - pending, fast track

#15837 Enable fan control cluster in controllers.
  src/app/zap_cluster_list.py
  src/controller/data_model/controller-clusters.matter
  src/controller/data_model/controller-clusters.zap
  src/controller/java/zap-generated/CHIPAttributeTLVValueDecoder.cpp
  src/controller/java/zap-generated/CHIPCallbackTypes.h
  src/controller/java/zap-generated/CHIPClustersWrite-JNI.cpp
  src/controller/java/zap-generated/CHIPReadCallbacks.cpp
  src/controller/java/zap-generated/CHIPReadCallbacks.h
  src/controller/java/zap-generated/chip/devicecontroller/ChipClusters.java
  src/controller/java/zap-generated/chip/devicecontroller/ChipIdLookup.java
  src/controller/java/zap-generated/chip/devicecontroller/ClusterInfoMapping.java
  src/controller/java/zap-generated/chip/devicecontroller/ClusterReadMapping.java
  src/controller/java/zap-generated/chip/devicecontroller/ClusterWriteMapping.java
  src/controller/python/chip/clusters/CHIPClusters.py
  src/darwin/Framework/CHIP/zap-generated/CHIPAttributeTLVValueDecoder.mm
  src/darwin/Framework/CHIP/zap-generated/CHIPCallbackBridge.mm
  src/darwin/Framework/CHIP/zap-generated/CHIPCallbackBridge_internal.h
  src/darwin/Framework/CHIP/zap-generated/CHIPClustersObjc.h
  src/darwin/Framework/CHIP/zap-generated/CHIPClustersObjc.mm
  src/darwin/Framework/CHIP/zap-generated/CHIPClustersObjc_internal.h
  src/darwin/Framework/CHIP/zap-generated/CHIPTestClustersObjc.h
  src/darwin/Framework/CHIP/zap-generated/CHIPTestClustersObjc.mm
  zzz_generated/chip-tool/zap-generated/cluster/logging/DataModelLogger.cpp
  zzz_generated/controller-clusters/zap-generated/CHIPClientCallbacks.h
  zzz_generated/controller-clusters/zap-generated/CHIPClusters.h
  zzz_generated/controller-clusters/zap-generated/PluginApplicationCallbacks.h
  zzz_generated/controller-clusters/zap-generated/callback-stub.cpp
  zzz_generated/controller-clusters/zap-generated/endpoint_config.h
  zzz_generated/controller-clusters/zap-generated/gen_config.h
  zzz_generated/controller-clusters/zap-generated/tests/CHIPClustersTest.h
Labels: darwin, controller, app, review - approved

#15839 Modify the default value for window covering cluster
  examples/all-clusters-app/all-clusters-common/all-clusters-app.zap
  zzz_generated/all-clusters-app/zap-generated/endpoint_config.h
Labels: examples

#15830 [OTA] Kick off the initial periodic query timer
  examples/ota-requestor-app/linux/main.cpp
  src/app/clusters/ota-requestor/OTARequestor.h
Labels: examples, app, review - approved

#15855 [nrfconnect] Enable using Nordic OpenThread libraries configs
  config/nrfconnect/app/sample-defaults.conf
  examples/lighting-app/nrfconnect/main/AppTask.cpp
  examples/lighting-app/nrfconnect/prj.conf
  examples/lock-app/nrfconnect/main/AppTask.cpp
  examples/lock-app/nrfconnect/prj.conf
  examples/pump-app/nrfconnect/prj.conf
  examples/pump-controller-app/nrfconnect/prj.conf
Labels: examples, config, review - pending, fast track

#15449 [bindings] Save binding table in persistent storage
  examples/all-clusters-app/all-clusters-common/src/binding-handler.cpp
  examples/light-switch-app/efr32/src/binding-handler.cpp
  examples/tv-casting-app/linux/main.cpp
  src/app/clusters/bindings/BindingManager.cpp
  src/app/clusters/bindings/BindingManager.h
  src/app/clusters/bindings/bindings.cpp
  src/app/server/Server.h
  src/app/tests/TestBindingTable.cpp
  src/app/tests/TestPendingNotificationMap.cpp
  src/app/util/binding-table.cpp
  src/app/util/binding-table.h
  src/app/util/types_stub.h
  src/lib/support/DefaultStorageKeyAllocator.h
  src/lib/support/TestPersistentStorageDelegate.h
Labels: examples, lib, app, review - pending, fast track

#15834 Make sure to actually not advertise with CM=1 when we're not commissionable
  src/app/server/CommissioningWindowManager.cpp
Labels: app, review - approved

#15840 Store fewer things as part of the fabric table.
  src/credentials/FabricTable.cpp
  src/credentials/FabricTable.h
Labels: review - approved

#15857 Fix 2 typos in logging of the word credentials
  src/app/clusters/network-commissioning/network-commissioning.cpp
Labels: app, review - pending, fast track

#15858 Remove unused file - TestDevice.cpp is not used
  src/controller/tests/TestDevice.cpp
Labels: controller, review - pending, fast track

#15856 [ESP32] Fix commissioning of esp32
  src/platform/ESP32/ESP32Utils.cpp
Labels: transport, platform, esp32, review - approved

#15526 OperationGroupKey derivation updated according to new spec.
  examples/chip-tool/commands/common/CHIPCommand.cpp
  examples/chip-tool/commands/common/Commands.cpp
  src/app/clusters/group-key-mgmt-server/group-key-mgmt-server.cpp
  src/app/tests/TestWriteInteraction.cpp
  src/controller/CHIPDeviceController.h
  src/credentials/FabricTable.cpp
  src/credentials/FabricTable.h
  src/credentials/GroupDataProvider.h
  src/credentials/GroupDataProviderImpl.cpp
  src/credentials/GroupDataProviderImpl.h
  src/credentials/tests/TestFabricTable.cpp
  src/credentials/tests/TestGroupDataProvider.cpp
  src/crypto/CHIPCryptoPAL.cpp
  src/crypto/CHIPCryptoPAL.h
  src/crypto/tests/CHIPCryptoPALTest.cpp
  src/lib/support/TestGroupData.h
Labels: examples, lib, crypto, controller, app, review - approved

#15340 Omission of fabric sensitive fields
  examples/all-clusters-app/all-clusters-common/all-clusters-app.matter
  examples/chip-tool/BUILD.gn
  examples/chip-tool/commands/tests/TestCommand.h
  src/app/clusters/test-cluster-server/test-cluster-server.cpp
  src/app/data-model/DecodableList.h
  src/app/tests/suites/TestClusterMultiFabric.yaml
  src/app/zap-templates/partials/cluster-objects-struct.zapt
  src/app/zap-templates/templates/app/helper.js
  src/app/zap-templates/zcl/data-model/chip/access-control-cluster.xml
  src/app/zap-templates/zcl/data-model/chip/operational-credentials-cluster.xml
  src/app/zap-templates/zcl/data-model/chip/test-cluster.xml
  src/controller/data_model/controller-clusters.matter
  src/controller/data_model/controller-clusters.zap
  src/controller/java/zap-generated/CHIPAttributeTLVValueDecoder.cpp
  src/controller/java/zap-generated/CHIPCallbackTypes.h
  src/controller/java/zap-generated/CHIPClustersWrite-JNI.cpp
  src/controller/java/zap-generated/CHIPReadCallbacks.cpp
  src/controller/java/zap-generated/CHIPReadCallbacks.h
  src/controller/java/zap-generated/chip/devicecontroller/ChipClusters.java
  src/controller/java/zap-generated/chip/devicecontroller/ChipIdLookup.java
  src/controller/java/zap-generated/chip/devicecontroller/ChipStructs.java
  src/controller/java/zap-generated/chip/devicecontroller/ClusterInfoMapping.java
  src/controller/java/zap-generated/chip/devicecontroller/ClusterReadMapping.java
  src/controller/python/build-chip-wheel.py
  src/controller/python/chip/clusters/CHIPClusters.py
  src/controller/python/chip/clusters/Objects.py
  src/controller/python/chip/tlv/__init__.py
  src/controller/python/templates/python-cluster-Objects-py.zapt
  src/controller/python/test/test_scripts/base.py
  src/controller/python/test/test_scripts/cluster_objects.py
  src/controller/python/test/test_scripts/mobile-device-test.py
  src/darwin/Framework/CHIP/zap-generated/CHIPAttributeTLVValueDecoder.mm
  src/darwin/Framework/CHIP/zap-generated/CHIPCallbackBridge.mm
  src/darwin/Framework/CHIP/zap-generated/CHIPCallbackBridge_internal.h
  src/darwin/Framework/CHIP/zap-generated/CHIPClustersObjc.h
  src/darwin/Framework/CHIP/zap-generated/CHIPClustersObjc.mm
  src/darwin/Framework/CHIP/zap-generated/CHIPStructsObjc.h
  src/darwin/Framework/CHIP/zap-generated/CHIPStructsObjc.mm
  zzz_generated/all-clusters-app/zap-generated/endpoint_config.h
  zzz_generated/app-common/app-common/zap-generated/af-structs.h
  zzz_generated/app-common/app-common/zap-generated/cluster-objects.cpp
  zzz_generated/app-common/app-common/zap-generated/cluster-objects.h
  zzz_generated/chip-tool/zap-generated/cluster/Commands.h
  zzz_generated/chip-tool/zap-generated/cluster/ComplexArgumentParser.cpp
  zzz_generated/chip-tool/zap-generated/cluster/logging/DataModelLogger.cpp
  zzz_generated/controller-clusters/zap-generated/CHIPClientCallbacks.h
Labels: examples, darwin, controller, app, review - approved

#15870 Remove stale todo
  src/controller/AutoCommissioner.cpp
Labels: controller, review - pending, fast track

#15848 Use enum classes for thermostat enums.
  examples/all-clusters-app/all-clusters-common/all-clusters-app.matter
  examples/chip-tool/templates/tests/partials/checks/maybeCheckExpectedConstraints.zapt
  examples/thermostat/thermostat-common/thermostat.matter
  examples/tv-casting-app/tv-casting-common/tv-casting-app.matter
  src/app/clusters/thermostat-server/thermostat-server.cpp
  src/app/tests/suites/include/ConstraintsChecker.h
  src/app/zap-templates/templates/app/helper.js
  src/app/zap-templates/zcl/data-model/chip/thermostat-cluster.xml
  src/app/zap-templates/zcl/data-model/silabs/types.xml
  src/controller/data_model/controller-clusters.matter
  src/controller/java/zap-generated/CHIPAttributeTLVValueDecoder.cpp
  src/controller/python/chip/clusters/Objects.py
  src/darwin/Framework/CHIP/zap-generated/CHIPAttributeTLVValueDecoder.mm
  src/darwin/Framework/CHIP/zap-generated/CHIPCallbackBridge.mm
  src/darwin/Framework/CHIP/zap-generated/CHIPCallbackBridge_internal.h
  src/darwin/Framework/CHIP/zap-generated/CHIPClustersObjc.h
  src/darwin/Framework/CHIP/zap-generated/CHIPClustersObjc.mm
  zzz_generated/app-common/app-common/zap-generated/attributes/Accessors.cpp
  zzz_generated/app-common/app-common/zap-generated/attributes/Accessors.h
  zzz_generated/app-common/app-common/zap-generated/cluster-enums.h
  zzz_generated/app-common/app-common/zap-generated/cluster-objects.h
  zzz_generated/app-common/app-common/zap-generated/enums.h
  zzz_generated/chip-tool/zap-generated/cluster/Commands.h
  zzz_generated/chip-tool/zap-generated/cluster/logging/DataModelLogger.cpp
  zzz_generated/chip-tool/zap-generated/test/Commands.h
Labels: examples, darwin, controller, app, review - approved

#15774 Access FabricTable in SessionManager
  examples/shell/shell_common/cmd_ping.cpp
  examples/shell/shell_common/cmd_send.cpp
  examples/shell/shell_common/globals.cpp
  examples/shell/shell_common/include/Globals.h
  src/app/server/Server.cpp
  src/app/tests/integration/chip_im_initiator.cpp
  src/app/tests/integration/chip_im_responder.cpp
  src/app/tests/integration/common.cpp
  src/app/tests/integration/common.h
  src/controller/CHIPDeviceControllerFactory.cpp
  src/messaging/tests/MessagingContext.cpp
  src/messaging/tests/MessagingContext.h
  src/messaging/tests/echo/common.cpp
  src/messaging/tests/echo/common.h
  src/messaging/tests/echo/echo_requester.cpp
  src/messaging/tests/echo/echo_responder.cpp
  src/transport/SessionManager.cpp
  src/transport/SessionManager.h
  src/transport/tests/TestSessionManager.cpp
Labels: examples, transport, controller, app, review - approved

#15872 Fix documentation to align with code.
  .github/workflows/darwin.yaml
  src/app/EventManagement.h
  src/app/MessageDef/EventPathIB.h
  src/credentials/attestation_verifier/DeviceAttestationVerifier.h
Labels: app, github, workflows, review - approved

#15863 Remove unused declaration (_DeviceAddressUpdateDelegate_OnUpdateComplete)
  src/controller/python/chip/ChipDeviceCtrl.py
Labels: controller, review - approved

#15881 Revert "Fix documentation to align with code."
  .github/workflows/darwin.yaml
  src/app/EventManagement.h
  src/app/MessageDef/EventPathIB.h
  src/credentials/attestation_verifier/DeviceAttestationVerifier.h
Labels: hotfix, review - pending

#15879 Revert "OperationGroupKey derivation updated according to new spec."
  examples/chip-tool/commands/common/CHIPCommand.cpp
  examples/chip-tool/commands/common/Commands.cpp
  src/app/clusters/group-key-mgmt-server/group-key-mgmt-server.cpp
  src/app/tests/TestWriteInteraction.cpp
  src/controller/CHIPDeviceController.h
  src/credentials/FabricTable.cpp
  src/credentials/FabricTable.h
  src/credentials/GroupDataProvider.h
  src/credentials/GroupDataProviderImpl.cpp
  src/credentials/GroupDataProviderImpl.h
  src/credentials/tests/TestFabricTable.cpp
  src/credentials/tests/TestGroupDataProvider.cpp
  src/crypto/CHIPCryptoPAL.cpp
  src/crypto/CHIPCryptoPAL.h
  src/crypto/tests/CHIPCryptoPALTest.cpp
  src/lib/support/TestGroupData.h
Labels: examples, hotfix, lib, crypto, controller, app, review - pending

#15862 Read the min network connection time from the device
  src/controller/AutoCommissioner.cpp
  src/controller/CHIPDeviceController.cpp
  src/controller/CommissioningDelegate.h
Labels: controller, review - approved

#15883 Checkouts are constantly timing out, trying some retries
  .github/workflows/bloat_check.yaml
  .github/workflows/build.yaml
  .github/workflows/cirque.yaml
  .github/workflows/darwin.yaml
  .github/workflows/docker_img.yaml
  .github/workflows/doxygen.yaml
  .github/workflows/examples-ameba.yaml
  .github/workflows/examples-cyw30739.yaml
  .github/workflows/examples-efr32.yaml
  .github/workflows/examples-esp32.yaml
  .github/workflows/examples-infineon.yaml
  .github/workflows/examples-k32w.yaml
  .github/workflows/examples-linux-arm.yaml
  .github/workflows/examples-linux-imx.yaml
  .github/workflows/examples-linux-standalone.yaml
  .github/workflows/examples-nrfconnect.yaml
  .github/workflows/examples-qpg.yaml
  .github/workflows/examples-telink.yaml
  .github/workflows/examples-tizen.yaml
  .github/workflows/fixit_rotation.yaml
  .github/workflows/full-android.yaml
  .github/workflows/full-mbed.yaml
  .github/workflows/fuzzing-build.yaml
  .github/workflows/lint.yml
  .github/workflows/qemu.yaml
  .github/workflows/rebase.yaml
  .github/workflows/release_artifacts.yaml
  .github/workflows/smoketest-android.yaml
  .github/workflows/smoketest-mbed.yaml
  .github/workflows/spell.yml
  .github/workflows/tests.yaml
  .github/workflows/todos.yaml
  .github/workflows/unit_integration_test.yaml
  .github/workflows/zap_regeneration.yaml
  .github/workflows/zap_templates.yaml
  scripts/tools/memory/README-GitHub-CI.md
Labels: github, workflows, review - pending, fast track

#15873 Add access control guide
  docs/guides/access-control-guide.md
Labels: documentation, review - pending, fast track

#15829 Fixed/Added CASE Identity Checks.
  src/credentials/FabricTable.cpp
  src/protocols/secure_channel/CASESession.cpp
  src/protocols/secure_channel/CASESession.h
Labels: review - approved

#15878 Use heap for packet buffer in iOS platform
  config/ios/CHIPProjectConfig.h
Labels: config, review - pending, fast track

#15819 Use storage delegate and nocSigner in chip-tool-darwin.
  examples/chip-tool-darwin/BUILD.gn
  examples/chip-tool-darwin/commands/common/CHIPCommandBridge.mm
  examples/chip-tool-darwin/commands/common/CHIPCommandStorageDelegate.h
  examples/chip-tool-darwin/commands/common/CHIPCommandStorageDelegate.mm
  examples/chip-tool-darwin/commands/common/CHIPToolKeypair.h
  examples/chip-tool-darwin/commands/common/CHIPToolKeypair.mm
Labels: examples, darwin, review - pending, fast track

#15768 Issue #11760 - [ota-requestor-app] Abort query image download on timeout
  src/app/clusters/ota-requestor/BDXDownloader.cpp
  src/app/clusters/ota-requestor/BDXDownloader.h
  src/app/clusters/ota-requestor/OTARequestor.cpp
  src/protocols/bdx/BdxTransferSession.h
Labels: app, review - approved

#15886 Fix documentation to align with code.
  .github/workflows/darwin.yaml
  src/app/EventManagement.h
  src/app/MessageDef/EventPathIB.h
  src/credentials/attestation_verifier/DeviceAttestationVerifier.h
Labels: app, github, workflows, review - pending, fast track

#15887 Add OTA Provider server cluster to the Darwin framework.
  src/app/clusters/ota-provider/ota-provider.cpp
  src/darwin/Framework/CHIP.xcodeproj/project.pbxproj
  src/platform/Darwin/CHIPDevicePlatformConfig.h
Labels: platform, darwin, app, review - pending, fast track

#15792 [chip-tool] Add an optional suppressResponse argument to chip-tool co…
  examples/chip-tool/commands/clusters/ClusterCommand.h
  examples/chip-tool/commands/clusters/WriteAttributeCommand.h
  src/app/CommandSender.h
  src/app/WriteClient.cpp
  src/app/WriteClient.h
  src/app/WriteHandler.cpp
  src/app/WriteHandler.h
Labels: examples, app, review - pending, fast track

#15907 [nrfconnect] Moved nlio target include to the common CMakeLists
  config/nrfconnect/chip-module/CMakeLists.txt
  examples/all-clusters-app/nrfconnect/CMakeLists.txt
  examples/lighting-app/nrfconnect/CMakeLists.txt
  examples/lock-app/nrfconnect/CMakeLists.txt
  examples/pump-app/nrfconnect/CMakeLists.txt
  examples/pump-controller-app/nrfconnect/CMakeLists.txt
Labels: examples, config, review - approved

#15890 Fix incorrect advertisement after RemoveFabric.
  examples/all-clusters-app/esp32/main/DeviceWithDisplay.cpp
  examples/tv-casting-app/linux/main.cpp
  src/app/clusters/operational-credentials-server/operational-credentials-server.cpp
  src/app/server/BUILD.gn
  src/app/server/CommissioningModeProvider.h
  src/app/server/CommissioningWindowManager.cpp
  src/app/server/CommissioningWindowManager.h
  src/app/server/Dnssd.cpp
  src/app/server/Dnssd.h
  src/app/server/Server.cpp
  src/controller/CHIPDeviceControllerFactory.cpp
Labels: examples, controller, app, review - approved

#15885 Stop using the immediate default response bits in OTA provider.
  src/app/clusters/ota-provider/ota-provider.cpp
Labels: app, review - approved

#15902 Cleanup commissionee
  src/controller/CHIPDeviceController.cpp
Labels: examples, darwin, controller, app, review - approved

#15896 Resolve issue when attemping to send command after pair.
  examples/chip-tool-darwin/commands/common/CHIPToolKeypair.mm
Labels: examples, review - pending, fast track

#15727 [EFR32][Groups] Add group commands support to light-switch example
  .github/.wordlist.txt
  examples/light-switch-app/efr32/README.md
  examples/light-switch-app/efr32/include/binding-handler.h
  examples/light-switch-app/efr32/src/AppTask.cpp
  examples/light-switch-app/efr32/src/binding-handler.cpp
  examples/light-switch-app/light-switch-common/light-switch-app.matter
  examples/light-switch-app/light-switch-common/light-switch-app.zap
  src/app/CommandPathParams.h
  src/app/CommandSender.h
  src/controller/InvokeInteraction.h
  zzz_generated/light-switch-app/zap-generated/CHIPClientCallbacks.h
  zzz_generated/light-switch-app/zap-generated/CHIPClusters.h
  zzz_generated/light-switch-app/zap-generated/IMClusterCommandHandler.cpp
  zzz_generated/light-switch-app/zap-generated/PluginApplicationCallbacks.h
  zzz_generated/light-switch-app/zap-generated/callback-stub.cpp
  zzz_generated/light-switch-app/zap-generated/endpoint_config.h
  zzz_generated/light-switch-app/zap-generated/gen_config.h
Labels: examples, controller, app, github, review - approved

#15654 Operational Credentials cluster: AddNOC: Set IPK.
  src/app/clusters/operational-credentials-server/operational-credentials-server.cpp
Labels: app, review - approved

#15893 Add timeout argument to test command
  examples/chip-tool/commands/tests/TestCommand.h
Labels: examples, review - approved

#15931 Fix ToT
  src/app/clusters/operational-credentials-server/operational-credentials-server.cpp
Labels: hotfix, app, review - approved

#15916 RPC: Console improvements.
  examples/common/pigweed/rpc_console/py/BUILD.gn
  examples/common/pigweed/rpc_console/py/chip_rpc/console.py
  examples/common/pigweed/rpc_console/py/chip_rpc/plugins/__init__.py
  examples/common/pigweed/rpc_console/py/chip_rpc/plugins/device_toolbar.py
  examples/common/pigweed/rpc_console/py/chip_rpc/plugins/helper_scripts.py
Labels: examples, review - pending, fast track

#15936 Issue #15935 [ota-requestor] Cancel the TransferTimeout timer when QueryImage download succeeds or aborts
  src/app/clusters/ota-requestor/BDXDownloader.cpp
Labels: app, review - approved

#15933 Disabled EFR32 wifi CI
  .github/workflows/examples-efr32.yaml
Labels: github, workflows, review - approved

#15928 Make CHIPTool use wildcard subscriptions for the temperature sensor
  src/darwin/CHIPTool/CHIPTool/View Controllers/Temperature Sensor/TemperatureSensorViewController.m
Labels: darwin, review - pending, fast track

#15926 [OTA] Move OTARequestorInterface to clusters directory
  examples/ota-requestor-app/esp32/main/main.cpp
  src/app/clusters/ota-requestor/OTARequestor.h
  src/app/clusters/ota-requestor/OTARequestorInterface.h
  src/app/clusters/ota-requestor/ota-requestor-server.cpp
  src/lib/shell/commands/Ota.cpp
  src/platform/Ameba/AmebaOTAImageProcessor.cpp
  src/platform/ExtendedOTARequestorDriver.cpp
  src/platform/GenericOTARequestorDriver.cpp
  src/platform/Linux/OTAImageProcessorImpl.cpp
  src/platform/P6/OTAImageProcessorImpl.cpp
  src/platform/cc13x2_26x2/OTAImageProcessorImpl.cpp
  src/platform/mbed/OTARequestorDriverImpl.h
Labels: examples, platform, linux, lib, app, review - approved

#15915 Do not checkout submodules when spell checking
  .github/workflows/spell.yml
  src/lib/address_resolve/README.md
Labels: lib, github, workflows, review - approved

#15914 [chip-tool] Cancel the CHIPCallbacks when the chip-tool ends up to av…
  examples/chip-tool/commands/clusters/ModelCommand.h
Labels: examples, review - approved

#15901 [IM] Abort read/subscribe transactions when deleting related fabric
  src/app/InteractionModelEngine.cpp
  src/app/InteractionModelEngine.h
  src/app/clusters/operational-credentials-server/operational-credentials-server.cpp
Labels: app, review - approved

#15900 Update the VSCode instructions with docker FAQ
  docs/VSCODE_DEVELOPMENT.md
Labels: documentation, review - pending, fast track

#15868 Switch return type for OpCert signing request
  src/controller/AutoCommissioner.cpp
  src/controller/CHIPDeviceController.cpp
  src/controller/CommissioningDelegate.h
Labels: controller, review - approved

#15811 Remove FabricStorage
  examples/chip-tool/commands/common/CHIPCommand.cpp
  examples/chip-tool/commands/common/CHIPCommand.h
  examples/platform/linux/AppMain.cpp
  src/app/server/Server.h
  src/controller/CHIPDeviceControllerFactory.cpp
  src/controller/CHIPDeviceControllerFactory.h
  src/controller/java/AndroidDeviceControllerWrapper.cpp
  src/controller/java/AndroidDeviceControllerWrapper.h
  src/controller/python/ChipDeviceController-ScriptBinding.cpp
  src/controller/python/chip/internal/CommissionerImpl.cpp
  src/credentials/FabricTable.cpp
  src/credentials/FabricTable.h
  src/darwin/Framework/CHIP/CHIPDeviceController.mm
  src/lib/support/TestPersistentStorageDelegate.h
  src/protocols/secure_channel/tests/TestCASESession.cpp
  src/transport/tests/TestSessionManager.cpp
Labels: examples, transport, darwin, lib, controller, app, review - approved

#15932 Add non-generated IM dispatch to the Darwin framework.
  src/app/WriteHandler.h
  src/darwin/Framework/CHIP.xcodeproj/project.pbxproj
  src/darwin/Framework/CHIP/CHIPIMDispatch.mm
Labels: darwin, app, review - pending, fast track

#15941 Fix Darwin crash with wildcard subscription.
  src/darwin/Framework/CHIP/CHIPDevice.mm
Labels: darwin, review - pending, fast track

#15943 Don't kill a wildcard subscription on Darwin if there is an error for one attribute
  src/darwin/CHIPTool/CHIPTool/View Controllers/Temperature Sensor/TemperatureSensorViewController.m
  src/darwin/Framework/CHIP/CHIPDevice.h
  src/darwin/Framework/CHIP/CHIPDevice.mm
Labels: darwin, review - pending

#15908 [Python] Print data version when dumping cluster attributes
  src/controller/python/chip/clusters/ClusterObjects.py
Labels: controller, review - pending, fast track

#15945 Remove unused SetupEmberAfCommandSender function.
  src/app/util/ember-compatibility-functions.cpp
  src/app/util/ember-compatibility-functions.h
Labels: app, review - pending, fast track

#15412 [chiptest] Add support for door lock app tests
  .github/workflows/tests.yaml
  scripts/tests/chiptest/__init__.py
  scripts/tests/chiptest/accessories.py
  scripts/tests/chiptest/linux.py
  scripts/tests/chiptest/runner.py
  scripts/tests/chiptest/test_definition.py
  scripts/tests/run_test_suite.py
Labels: scripts, github, workflows, review - pending, fast track

#15483 [ota] Add OTA requestor storage interface
  src/app/clusters/ota-requestor/DefaultOTARequestorStorage.cpp
  src/app/clusters/ota-requestor/DefaultOTARequestorStorage.h
  src/app/clusters/ota-requestor/OTARequestorInterface.h
  src/app/clusters/ota-requestor/OTARequestorStorage.h
  src/app/tests/BUILD.gn
  src/app/tests/TestDefaultOTARequestorStorage.cpp
  src/lib/support/DefaultStorageKeyAllocator.h
Labels: platform, lib, app, review - approved

#15938 Fix OnOff Startup behaviour
  examples/all-clusters-app/all-clusters-common/all-clusters-app.zap
  examples/lighting-app/lighting-common/lighting-app.zap
  src/app/clusters/on-off-server/on-off-server.cpp
  zzz_generated/all-clusters-app/zap-generated/endpoint_config.h
  zzz_generated/lighting-app/zap-generated/endpoint_config.h
Labels: examples, app, review - approved

#15948 [ESP32] Bump up wifi connection time
  src/platform/ESP32/NetworkCommissioningDriver.h
Labels: platform, esp32, review - approved

#15958 [ESP32] Added check for copying ssid and pass
  src/platform/ESP32/ConnectivityManagerImpl_WiFi.cpp
Labels: platform, esp32, review - approved

#15959 fix disable ipv4 build error on android
  src/platform/android/InetPlatformConfig.h
Labels: platform, review - pending

#15966 [mbed] Disable unit test build
  .github/workflows/full-mbed.yaml
Labels: hotfix, github, workflows

#15968 [chiptest] Wait for subprocess instead of polling
  scripts/tests/chiptest/accessories.py
  scripts/tests/chiptest/runner.py
  scripts/tests/chiptest/test_definition.py
Labels: scripts, review - pending, fast track

#15949 [OTA] Move OTARequestorDriver to clusters directory
  config/mbed/CMakeLists.txt
  examples/all-clusters-app/ameba/chip_main.cmake
  examples/all-clusters-app/ameba/main/chipinterface.cpp
  examples/all-clusters-app/esp32/main/main.cpp
  examples/all-clusters-app/nrfconnect/CMakeLists.txt
  examples/all-clusters-app/nrfconnect/main/include/AppTask.h
  examples/lighting-app/ameba/chip_main.cmake
  examples/lighting-app/ameba/main/chipinterface.cpp
  examples/lighting-app/esp32/main/main.cpp
  examples/lighting-app/nrfconnect/CMakeLists.txt
  examples/lighting-app/nrfconnect/main/AppTask.cpp
  examples/lighting-app/nxp/k32w/k32w0/main/AppTask.cpp
  examples/lighting-app/telink/CMakeLists.txt
  examples/lock-app/cc13x2x7_26x2x7/main/AppTask.cpp
  examples/lock-app/nrfconnect/main/AppTask.cpp
  examples/ota-requestor-app/ameba/chip_main.cmake
  examples/ota-requestor-app/ameba/main/chipinterface.cpp
  examples/ota-requestor-app/cyw30739/src/main.cpp
  examples/ota-requestor-app/efr32/src/AppTask.cpp
  examples/ota-requestor-app/esp32/main/main.cpp
  examples/ota-requestor-app/linux/main.cpp
  examples/ota-requestor-app/p6/src/AppTask.cpp
  examples/platform/efr32/OTAConfig.h
  examples/platform/mbed/ota/OTARequestorDriverImpl.cpp
  examples/platform/mbed/ota/OTARequestorDriverImpl.h
  examples/platform/qpg/ota/ota.cpp
  examples/pump-app/cc13x2x7_26x2x7/main/AppTask.cpp
  examples/pump-app/nrfconnect/main/AppTask.cpp
  examples/pump-controller-app/nrfconnect/main/AppTask.cpp
  src/app/chip_data_model.gni
  src/app/clusters/ota-requestor/ExtendedOTARequestorDriver.cpp
  src/app/clusters/ota-requestor/ExtendedOTARequestorDriver.h
  src/app/clusters/ota-requestor/GenericOTARequestorDriver.cpp
  src/app/clusters/ota-requestor/GenericOTARequestorDriver.h
  src/app/clusters/ota-requestor/OTARequestor.h
  src/app/clusters/ota-requestor/OTARequestorDriver.h
  src/platform/BUILD.gn
Labels: examples, app, config, review - approved

#15965 [chip-tool] Allow passing multiple data versions for attributes reads
  examples/chip-tool/commands/clusters/ReportCommand.h
  examples/chip-tool/commands/common/Command.cpp
  examples/chip-tool/commands/common/Command.h
Labels: examples, review - pending, fast track

#15874 [Group] Fabric removal sync
  src/app/server/Server.cpp
  src/app/server/Server.h
  src/controller/CHIPDeviceControllerFactory.cpp
  src/controller/CHIPDeviceControllerFactory.h
  src/credentials/FabricTable.cpp
  src/credentials/FabricTable.h
  src/credentials/GroupDataProvider.h
  src/transport/GroupPeerMessageCounter.cpp
  src/transport/GroupPeerMessageCounter.h
  src/transport/SessionManager.cpp
  src/transport/SessionManager.h
  src/transport/tests/TestGroupMessageCounter.cpp
Labels: transport, controller, app, review - approved

#15940 Allow modifying Illuminance, Humidity, and Occupancy sensors from the M5Stack
  examples/all-clusters-app/esp32/main/DeviceWithDisplay.cpp
Labels: examples, review - pending, fast track

#15813 Implement browse retries for minimal mdns
  src/lib/dnssd/ActiveResolveAttempts.cpp
  src/lib/dnssd/ActiveResolveAttempts.h
  src/lib/dnssd/BUILD.gn
  src/lib/dnssd/Resolver.h
  src/lib/dnssd/Resolver_ImplMinimalMdns.cpp
  src/lib/dnssd/minimal_mdns/ActiveResolveAttempts.h
  src/lib/dnssd/minimal_mdns/BUILD.gn
  src/lib/dnssd/minimal_mdns/tests/BUILD.gn
  src/lib/dnssd/minimal_mdns/tests/TestActiveResolveAttempts.cpp
  src/lib/dnssd/tests/BUILD.gn
  src/lib/dnssd/tests/TestActiveResolveAttempts.cpp
Labels: lib, review - approved
