Repository project-chip/connectedhomeip, pull requests merged in 2022-08, with the labels that each got.

#21356 [mrp] Align MRP backoff time calculation with spec
  src/messaging/ReliableMessageMgr.cpp
  src/messaging/ReliableMessageMgr.h
  src/messaging/tests/TestReliableMessageProtocol.cpp
  src/protocols/secure_channel/tests/TestPASESession.cpp
Labels: review - approved, sve

#21490 [nrfconnect] Fix Chef build
  .github/workflows/chef.yaml
  examples/chef/nrfconnect/CMakeLists.txt
  examples/chef/nrfconnect/prj.conf
  examples/shell/nrfconnect/CMakeLists.txt
  examples/shell/nrfconnect/prj.conf
Labels: sve cherry pick

#21487 [mrp] Align MRP backoff time calculation with spec
  src/messaging/ReliableMessageMgr.cpp
  src/messaging/ReliableMessageMgr.h
  src/messaging/tests/TestReliableMessageProtocol.cpp
  src/protocols/secure_channel/tests/TestPASESession.cpp
Labels: sve cherry pick

#21486 Remove not used OnDiscoveryExpiration callback
  src/app/server/Dnssd.h
Labels: app, review - approved, sve

#21488 chip-cert: Fixed ReadKey() Implementation.
  src/tools/chip-cert/Cmd_ConvertKey.cpp
  src/tools/chip-cert/Cmd_GenAttCert.cpp
  src/tools/chip-cert/Cmd_GenCD.cpp
  src/tools/chip-cert/Cmd_GenCert.cpp
  src/tools/chip-cert/Cmd_ResignCert.cpp
  src/tools/chip-cert/KeyUtils.cpp
  src/tools/chip-cert/chip-cert.h
Labels: tools, testing, review - approved

#21483 [telink] Downgrade Docker image to 0.5.84
  .github/workflows/examples-telink.yaml
Labels: fast track, sve

#21456 Don't touch member variables from async dispatch.
  src/darwin/Framework/CHIP/MTRBaseDevice.mm
Labels: darwin, review - pending, fast track

#21489 Factored Out ASN1_TIME Encoding and Decoding Methods.
  src/lib/asn1/ASN1.h
  src/lib/asn1/ASN1Reader.cpp
  src/lib/asn1/ASN1Time.cpp
  src/lib/asn1/ASN1Writer.cpp
  src/lib/asn1/BUILD.gn
  src/lib/asn1/tests/TestASN1.cpp
  src/tools/chip-cert/CertUtils.cpp
Labels: tools, lib, review - approved

#21458 Fix status report in ReadClient
  src/app/InteractionModelEngine.cpp
  src/app/InteractionModelEngine.h
  src/app/ReadClient.cpp
  src/app/tests/TestReadInteraction.cpp
Labels: sve cherry pick

#21496 Remove not used OnDiscoveryExpiration callback
  src/app/server/Dnssd.h
Labels: sve cherry pick

#21475 [Infineon] Support Identify cluster in lock-app for CYW30739
  examples/lock-app/cyw30739/src/ZclCallbacks.cpp
  examples/lock-app/cyw30739/src/main.cpp
Labels: examples, platform, review - pending, fast track

#21420 Support for Multi Controller Fabrics
  src/controller/CHIPDeviceController.cpp
  src/controller/CHIPDeviceController.h
  src/controller/CHIPDeviceControllerFactory.cpp
  src/controller/CHIPDeviceControllerFactory.h
  src/controller/python/ChipDeviceController-ScriptBinding.cpp
  src/controller/python/OpCredsBinding.cpp
  src/controller/python/chip/ChipDeviceCtrl.py
  src/controller/python/chip/ChipReplStartup.py
  src/controller/python/chip/FabricAdmin.py
  src/controller/python/chip/utils/CommissioningBuildingBlocks.py
  src/controller/python/test/test_scripts/base.py
  src/controller/python/test/test_scripts/mobile-device-test.py
  src/credentials/FabricTable.cpp
  src/credentials/FabricTable.h
  src/credentials/tests/TestFabricTable.cpp
  src/transport/SessionManager.cpp
  src/transport/SessionManager.h
Labels: transport, controller, review - approved, sve

#21335 Updated lighting, smart plugs/outlets and switches and controls device types xml according to specs
  src/app/zap-templates/zcl/data-model/chip/matter-devices.xml
Labels: app, review - approved

#21505 Make sure we don't crash when commissioning with no pairing delegate.
  src/controller/CHIPDeviceController.cpp
  src/controller/SetUpCodePairer.cpp
Labels: controller, review - pending, fast track, sve

#21507 Fix comparison of a nullable value to a non-nullable saved value.
  examples/chip-tool/templates/tests/partials/value_equals.zapt
Labels: review - pending, fast track, sve

#21506 Don't touch member variables from async dispatch.
  src/darwin/Framework/CHIP/MTRBaseDevice.mm
Labels: sve cherry pick

#21513 Support for Multi Controller Fabrics
  src/controller/CHIPDeviceController.cpp
  src/controller/CHIPDeviceController.h
  src/controller/CHIPDeviceControllerFactory.cpp
  src/controller/CHIPDeviceControllerFactory.h
  src/controller/python/ChipDeviceController-ScriptBinding.cpp
  src/controller/python/OpCredsBinding.cpp
  src/controller/python/chip/ChipDeviceCtrl.py
  src/controller/python/chip/ChipReplStartup.py
  src/controller/python/chip/FabricAdmin.py
  src/controller/python/chip/utils/CommissioningBuildingBlocks.py
  src/controller/python/test/test_scripts/base.py
  src/controller/python/test/test_scripts/mobile-device-test.py
  src/credentials/FabricTable.cpp
  src/credentials/FabricTable.h
  src/credentials/tests/TestFabricTable.cpp
  src/transport/SessionManager.cpp
  src/transport/SessionManager.h
Labels: sve cherry pick

#21469 Allocate a handler for each JSON command to process
  examples/all-clusters-app/linux/AllClustersCommandDelegate.cpp
  examples/all-clusters-app/linux/AllClustersCommandDelegate.h
Labels: sve cherry pick

#21514 Make sure we don't crash when commissioning with no pairing delegate.
  src/controller/CHIPDeviceController.cpp
  src/controller/SetUpCodePairer.cpp
Labels: sve cherry pick

#21516 Fix comparison of a nullable value to a non-nullable saved value.
  examples/chip-tool/templates/tests/partials/value_equals.zapt
Labels: sve cherry pick

#21114 Update K32W in vscode image to matck K32W dockerfile
  integrations/docker/images/chip-build-vscode/Dockerfile
Labels: sve cherry pick

#21346 [TIZEN] Support for installing Tizen SDK without docker
  config/tizen/scripts/install_sdk.sh
  integrations/docker/images/chip-build-tizen/Dockerfile
  integrations/docker/images/chip-build-tizen/tizen-sdk-installer/install.sh
  integrations/docker/images/chip-build-tizen/tizen-sdk-installer/secret-tool.py
  integrations/docker/images/chip-build/version
  scripts/setup/tizen/sdk-installer
Labels: scripts, integrations, config, review - approved, fast track

#21515 Increase log message sizes on iOS.
  src/darwin/Framework/chip_xcode_build_connector.sh
  src/lib/core/core.gni
Labels: darwin, lib, review - pending, fast track, core

#21471 TV Android App: Updated vendor id support
  examples/tv-app/android/App/platform-app/src/main/java/com/matter/tv/server/fragments/TerminalFragment.java
  examples/tv-app/android/BUILD.gn
  examples/tv-app/android/include/endpoint-configuration/EndpointConfigurationStorage.cpp
  examples/tv-app/android/include/endpoint-configuration/EndpointConfigurationStorage.h
  examples/tv-app/android/include/endpoint-configuration/chip_tv_config.ini
  examples/tv-app/android/include/level-control/LevelControl.cpp
  examples/tv-app/android/java/AppPlatformShellCommands-JNI.cpp
  examples/tv-app/android/java/src/com/matter/tv/server/tvapp/ChannelInfo.java
  examples/tv-app/android/java/src/com/matter/tv/server/tvapp/ChannelManagerStub.java
  examples/tv-app/android/java/src/com/matter/tv/server/tvapp/ContentLaunchEntry.java
  examples/tv-app/android/java/src/com/matter/tv/server/tvapp/ContentLaunchManagerStub.java
  examples/tv-app/android/java/src/com/matter/tv/server/tvapp/ContentLaunchSearchParameter.java
  examples/tv-app/android/java/src/com/matter/tv/server/tvapp/ContentLaunchSearchParameterType.java
  examples/tv-app/android/java/src/com/matter/tv/server/tvapp/MediaInputManagerStub.java
  examples/tv-app/linux/BUILD.gn
  examples/tv-app/linux/include/endpoint-configuration/EndpointConfigurationStorage.cpp
  examples/tv-app/linux/include/endpoint-configuration/EndpointConfigurationStorage.h
  examples/tv-app/linux/include/endpoint-configuration/chip_tv_config.ini
  scripts/tests/run_test_suite.py
Labels: examples, scripts, review - approved, tv

#21526 Increase log message sizes on iOS.
  src/darwin/Framework/chip_xcode_build_connector.sh
  src/lib/core/core.gni
Labels: sve cherry pick

#21510 [Infineon] Support Identify cluster in lock-app for CYW30739
  examples/lock-app/cyw30739/src/ZclCallbacks.cpp
  examples/lock-app/cyw30739/src/main.cpp
Labels: sve cherry pick

#21524 [TIZEN] Support for installing Tizen SDK without docker
  config/tizen/scripts/install_sdk.sh
  integrations/docker/images/chip-build-tizen/Dockerfile
  integrations/docker/images/chip-build-tizen/tizen-sdk-installer/install.sh
  integrations/docker/images/chip-build-tizen/tizen-sdk-installer/secret-tool.py
  integrations/docker/images/chip-build/version
  scripts/setup/tizen/sdk-installer
Labels: sve cherry pick

#21527 TV Android App: Updated vendor id support
  examples/tv-app/android/App/platform-app/src/main/java/com/matter/tv/server/fragments/TerminalFragment.java
  examples/tv-app/android/BUILD.gn
  examples/tv-app/android/include/endpoint-configuration/EndpointConfigurationStorage.cpp
  examples/tv-app/android/include/endpoint-configuration/EndpointConfigurationStorage.h
  examples/tv-app/android/include/endpoint-configuration/chip_tv_config.ini
  examples/tv-app/android/include/level-control/LevelControl.cpp
  examples/tv-app/android/java/AppPlatformShellCommands-JNI.cpp
  examples/tv-app/android/java/src/com/matter/tv/server/tvapp/ChannelInfo.java
  examples/tv-app/android/java/src/com/matter/tv/server/tvapp/ChannelManagerStub.java
  examples/tv-app/android/java/src/com/matter/tv/server/tvapp/ContentLaunchEntry.java
  examples/tv-app/android/java/src/com/matter/tv/server/tvapp/ContentLaunchManagerStub.java
  examples/tv-app/android/java/src/com/matter/tv/server/tvapp/ContentLaunchSearchParameter.java
  examples/tv-app/android/java/src/com/matter/tv/server/tvapp/ContentLaunchSearchParameterType.java
  examples/tv-app/android/java/src/com/matter/tv/server/tvapp/MediaInputManagerStub.java
  examples/tv-app/linux/BUILD.gn
  examples/tv-app/linux/include/endpoint-configuration/EndpointConfigurationStorage.cpp
  examples/tv-app/linux/include/endpoint-configuration/EndpointConfigurationStorage.h
  examples/tv-app/linux/include/endpoint-configuration/chip_tv_config.ini
  scripts/tests/run_test_suite.py
Labels: sve cherry pick

#21567 Introduce Python-based freestanding tests
  scripts/constraints.txt
  src/controller/python/BUILD.gn
  src/controller/python/ChipDeviceController-ScriptBinding.cpp
  src/controller/python/ChipDeviceController-ScriptPairingDeviceDiscoveryDelegate.cpp
  src/controller/python/ChipDeviceController-ScriptPairingDeviceDiscoveryDelegate.h
  src/controller/python/chip/ChipDeviceCtrl.py
  src/controller/python/chip/ChipStack.py
  src/controller/python/chip/FabricAdmin.py
  src/controller/python/chip/storage/__init__.py
  src/python_testing/hello_test.py
  src/python_testing/matter_testing_support.py
Labels: scripts, controller, review - approved

#21045 Update device types per reported issues
  src/app/zap-templates/zcl/data-model/chip/matter-devices.xml
Labels: app, spec, review - approved, sve

#21491 Avoid extra copy constructors get called by passing by reference
  examples/all-clusters-app/linux/AllClustersCommandDelegate.cpp
  examples/all-clusters-app/linux/AllClustersCommandDelegate.h
  examples/lock-app/linux/src/LockAppCommandDelegate.cpp
Labels: examples, review - approved

#21591 Remove TODO item which is no more valid
  src/app/clusters/operational-credentials-server/operational-credentials-server.cpp
  src/app/server/Server.h
Labels: app, review - pending, fast track

#21494 Align thermostat configuration
  examples/all-clusters-app/all-clusters-common/all-clusters-app.matter
  examples/all-clusters-app/all-clusters-common/all-clusters-app.zap
  examples/thermostat/thermostat-common/thermostat.matter
  examples/thermostat/thermostat-common/thermostat.zap
  src/app/tests/suites/certification/Test_TC_TSTAT_1_1.yaml
  zzz_generated/all-clusters-app/zap-generated/endpoint_config.h
  zzz_generated/thermostat/zap-generated/IMClusterCommandHandler.cpp
  zzz_generated/thermostat/zap-generated/access.h
  zzz_generated/thermostat/zap-generated/endpoint_config.h
Labels: examples, app, review - approved, sve, tests

#21500 Fix invalid subscriptionId error
  src/app/InteractionModelEngine.cpp
  src/app/ReadClient.cpp
  src/app/ReadClient.h
  src/app/tests/TestReadInteraction.cpp
  src/lib/core/CHIPError.cpp
  src/lib/core/CHIPError.h
  src/lib/core/tests/TestCHIPErrorStr.cpp
Labels: lib, app, review - approved, tests, core

#21604 Align thermostat configuration
  examples/all-clusters-app/all-clusters-common/all-clusters-app.matter
  examples/all-clusters-app/all-clusters-common/all-clusters-app.zap
  examples/thermostat/thermostat-common/thermostat.matter
  examples/thermostat/thermostat-common/thermostat.zap
  src/app/tests/suites/certification/Test_TC_TSTAT_1_1.yaml
  zzz_generated/all-clusters-app/zap-generated/endpoint_config.h
  zzz_generated/thermostat/zap-generated/IMClusterCommandHandler.cpp
  zzz_generated/thermostat/zap-generated/access.h
  zzz_generated/thermostat/zap-generated/endpoint_config.h
Labels: sve cherry pick

#21605 [EFR32] Complete AppTask update
  examples/chef/efr32/BUILD.gn
  examples/chef/efr32/include/AppTask.h
  examples/chef/efr32/src/AppTask.cpp
  examples/chef/efr32/src/LightingManager.cpp
  examples/chef/efr32/src/main.cpp
  examples/thermostat/efr32/BUILD.gn
  examples/thermostat/efr32/include/AppTask.h
  examples/thermostat/efr32/src/AppTask.cpp
  examples/thermostat/efr32/src/main.cpp
Labels: examples, review - pending, fast track

#21603 Fixing typo atetmpted
  src/protocols/secure_channel/DefaultSessionResumptionStorage.cpp
Labels: review - pending, fast track

#21601 Update device types per reported issues
  src/app/zap-templates/zcl/data-model/chip/matter-devices.xml
Labels: sve cherry pick

#21612 Updating docs to link to developer mode
  docs/guides/darwin.md
Labels: documentation, fast track

#21611 Listen for group messages on all relevant interfaces in the sockets implementation.
  .github/workflows/darwin-tests.yaml
  .github/workflows/tests.yaml
  src/inet/UDPEndPointImplSockets.cpp
Labels: inet, github, workflows, review - approved

#21522 Add Java callbacks for NOC Generation
  src/controller/AutoCommissioner.cpp
  src/controller/java/AndroidDeviceControllerWrapper.cpp
  src/controller/java/AndroidDeviceControllerWrapper.h
  src/controller/java/AndroidOperationalCredentialsIssuer.cpp
  src/controller/java/AndroidOperationalCredentialsIssuer.h
  src/controller/java/CHIPDeviceController-JNI.cpp
  src/controller/java/src/chip/devicecontroller/ChipDeviceController.java
  src/controller/java/src/chip/devicecontroller/ControllerParams.java
Labels: controller, review - approved

#21600 Fix chip-tool cleanup of subscription clients.
  examples/chip-tool/commands/clusters/ReportCommand.h
Labels: tools, examples, review - approved

#21617 Remove ACL extension entry on RemoveFabric
  src/app/server/Server.h
Labels: app, review - approved

#21615 Add full threading backtrace dumps in Cirque and REPL
  scripts/tests/run_python_test.py
  src/controller/python/chip/native/CommonStackInit.cpp
  src/controller/python/test/test_scripts/base.py
  src/test_driver/linux-cirque/MobileDeviceTest.py
Labels: scripts, controller, review - pending, fast track, test driver

#21597 [OpenThread] Revert configuration on boot with fail-safe armed
  src/platform/OpenThread/GenericNetworkCommissioningThreadDriver.cpp
Labels: platform, review - approved

#21609 fix subscription id
  src/app/ReadClient.cpp
  src/app/ReadClient.h
  src/app/tests/TestReadInteraction.cpp
Labels: app, review - approved, tests

#21647 [EFR32] Add submodule verification
  .github/workflows/examples-efr32.yaml
  third_party/silabs/out_of_tree_verification.sh
Labels: github, workflows, review - approved

#21620 Removed attributes from client cluster
  src/app/zap-templates/zcl/data-model/chip/matter-devices.xml
Labels: app, review - approved

#21645 [Silabs] Add pwm modules
  third_party/silabs/efr32_sdk.gni
Labels: review - approved

#21679 [EFR32] Hotfix CI
  .github/workflows/examples-efr32.yaml
Labels: hotfix, github, workflows

#21646 RPC: Fix Attribute service for signed int reads
  examples/common/pigweed/rpc_services/Attributes.h
Labels: examples, review - approved

#21669 [EFR32] Cleanup of script for WPA3 mode on RS91x to GN file
  examples/light-switch-app/efr32/BUILD.gn
  examples/lighting-app/efr32/BUILD.gn
  examples/lock-app/efr32/BUILD.gn
  examples/window-app/efr32/BUILD.gn
  scripts/examples/gn_efr32_example.sh
Labels: examples, scripts, review - approved

#21677 Use VID/PID from DeviceInstanceInfoProvider rather than hardcoded config
  src/platform/ESP32/ConnectivityManagerImpl_WiFi.cpp
  src/platform/P6/ConnectivityManagerImpl.cpp
Labels: platform, esp32, review - approved

#21440 Fix status response handling in write handler
  src/app/InteractionModelEngine.cpp
  src/app/InteractionModelEngine.h
  src/app/WriteHandler.cpp
  src/app/WriteHandler.h
  src/app/tests/TestWriteInteraction.cpp
Labels: app, review - approved, tests

#21701 Revert "Fix status response handling in write handler"
  src/app/InteractionModelEngine.cpp
  src/app/InteractionModelEngine.h
  src/app/WriteHandler.cpp
  src/app/WriteHandler.h
  src/app/tests/TestWriteInteraction.cpp
Labels: hotfix, app, review - pending, fast track, tests

#21673 [Tizen] Fix build when BLE support is disabled
  config/tizen/chip-gn/platform/BUILD.gn
Labels: review - approved

#21590 Fix crash on fail-safe timeout due to closed exchange
  src/app/CommandHandler.cpp
  src/app/tests/TestCommandInteraction.cpp
Labels: app, review - approved, tests

#21674 [ESP32] Moved the redundent documentation to common place
  .github/.wordlist.txt
  docs/guides/esp32/README.md
  docs/guides/esp32/build_app_and_commission.md
  docs/guides/esp32/factory_data.md
  docs/guides/esp32/flash_nvs_encryption.md
  docs/guides/esp32/ota.md
  docs/guides/esp32/rpc_console.md
  docs/guides/esp32/setup_idf_chip.md
  examples/all-clusters-app/esp32/README.md
  examples/all-clusters-minimal-app/esp32/README.md
  examples/bridge-app/esp32/README.md
  examples/light-switch-app/esp32/README.md
  examples/lighting-app/esp32/README.md
  examples/lock-app/esp32/README.md
  examples/ota-provider-app/esp32/README.md
  examples/ota-requestor-app/esp32/README.md
  examples/persistent-storage/esp32/README.md
  examples/pigweed-app/esp32/README.md
  examples/temperature-measurement-app/esp32/README.md
Labels: documentation, examples, review - approved

#21691 chip-tool: add more flexibility in PAA root folder selection
  examples/chip-tool/commands/common/CHIPCommand.cpp
Labels: tools, examples, review - approved

#21648 Add parsed attestation and csr info for Android apps
  src/controller/java/AndroidOperationalCredentialsIssuer.cpp
  src/controller/java/BUILD.gn
  src/controller/java/src/chip/devicecontroller/AttestationInfo.java
  src/controller/java/src/chip/devicecontroller/CSRInfo.java
  src/controller/java/src/chip/devicecontroller/ChipDeviceController.java
Labels: controller, review - approved

#21682 RPC: Fix NRF Attributes service
  examples/platform/nrfconnect/Rpc.cpp
Labels: examples, platform, review - approved

#21702 Fix MultiPressComplete event simulation.
  examples/all-clusters-app/linux/AllClustersCommandDelegate.cpp
Labels: examples, review - approved

#21642 Add somewhat better documentation around CommandHandler::Handle.
  src/app/CommandHandler.cpp
  src/app/CommandHandler.h
Labels: app, review - approved

#21722 fix missed update in #21256
  examples/light-switch-app/nrfconnect/main/include/BindingHandler.h
Labels: examples, review - pending, fast track

#21661 Make sure chip-tool interactive cleanup happens on the Matter thread.
  examples/chip-tool/commands/common/CHIPCommand.cpp
  examples/chip-tool/commands/common/CHIPCommand.h
  examples/chip-tool/commands/interactive/InteractiveCommands.cpp
Labels: tools, examples, review - approved

#21695 [OTA] Add On/Off Light Device Type to ota-requestor-app
  examples/ota-requestor-app/esp32/main/CMakeLists.txt
  examples/ota-requestor-app/ota-requestor-common/ota-requestor-app.matter
  examples/ota-requestor-app/ota-requestor-common/ota-requestor-app.zap
  zzz_generated/ota-requestor-app/zap-generated/IMClusterCommandHandler.cpp
  zzz_generated/ota-requestor-app/zap-generated/PluginApplicationCallbacks.h
  zzz_generated/ota-requestor-app/zap-generated/access.h
  zzz_generated/ota-requestor-app/zap-generated/callback-stub.cpp
  zzz_generated/ota-requestor-app/zap-generated/endpoint_config.h
  zzz_generated/ota-requestor-app/zap-generated/gen_config.h
Labels: examples, review - approved

#21374 Fix status report handling in read handler
  src/app/InteractionModelEngine.cpp
  src/app/ReadHandler.cpp
  src/app/ReadHandler.h
  src/app/tests/TestReadInteraction.cpp
Labels: app, review - approved, tests

#21707 Revert "Revert "Fix status report handling in write handler (#21440)"…
  src/app/InteractionModelEngine.cpp
  src/app/InteractionModelEngine.h
  src/app/WriteHandler.cpp
  src/app/WriteHandler.h
  src/app/tests/TestWriteInteraction.cpp
Labels: app, review - approved, tests

#21727 Log the commissioning mode when logging start of commissioning advertising
  src/app/server/Dnssd.cpp
Labels: review - approved

#21699 Add support for octet-string-typed config variables in YAML.
  examples/chip-tool/templates/tests/partials/command_value.zapt
  examples/chip-tool/templates/tests/partials/octet_string_value.zapt
  examples/chip-tool/templates/tests/partials/value_equals.zapt
  examples/chip-tool/templates/tests/templates.json
  examples/darwin-framework-tool/templates/tests/partials/check_test_value.zapt
  examples/darwin-framework-tool/templates/tests/partials/octet_string_value.zapt
  examples/darwin-framework-tool/templates/tests/partials/test_value.zapt
  examples/darwin-framework-tool/templates/tests/templates.json
Labels: tools, testing, examples, darwin, review - approved, request sve

#21687 INI -> REPL JSON Converter
  scripts/tools/convert_ini.py
Labels: scripts, review - approved

#21618 [BL602]add configuration to change ota periodic query timeout value
  examples/lighting-app/bouffalolab/bl602/BUILD.gn
  examples/lighting-app/bouffalolab/bl602/src/AppTask.cpp
Labels: examples, review - pending, fast track

#21676 [nrfconnect] Remove test mode from examples
  examples/chef/nrfconnect/CMakeLists.txt
  examples/chef/nrfconnect/prj.conf
  examples/light-switch-app/nrfconnect/CMakeLists.txt
  examples/light-switch-app/nrfconnect/README.md
  examples/light-switch-app/nrfconnect/main/AppTask.cpp
  examples/lighting-app/nrfconnect/CMakeLists.txt
  examples/lighting-app/nrfconnect/README.md
  examples/lighting-app/nrfconnect/main/AppTask.cpp
  examples/lighting-app/nrfconnect/main/include/AppConfig.h
  examples/lighting-app/nrfconnect/main/include/AppTask.h
  examples/lighting-app/nrfconnect/prj.conf
  examples/lighting-app/nrfconnect/prj_no_dfu.conf
  examples/lighting-app/nrfconnect/prj_release.conf
  examples/lock-app/nrfconnect/CMakeLists.txt
  examples/lock-app/nrfconnect/README.md
  examples/lock-app/nrfconnect/main/AppTask.cpp
  examples/lock-app/nrfconnect/main/include/AppConfig.h
  examples/lock-app/nrfconnect/main/include/AppTask.h
  examples/lock-app/nrfconnect/prj.conf
  examples/lock-app/nrfconnect/prj_no_dfu.conf
  examples/lock-app/nrfconnect/prj_release.conf
  examples/platform/nrfconnect/util/ThreadUtil.cpp
  examples/platform/nrfconnect/util/include/ThreadUtil.h
  examples/pump-app/nrfconnect/CMakeLists.txt
  examples/pump-app/nrfconnect/README.md
  examples/pump-app/nrfconnect/main/AppTask.cpp
  examples/pump-app/nrfconnect/main/include/AppConfig.h
  examples/pump-app/nrfconnect/main/include/AppTask.h
  examples/pump-app/nrfconnect/prj.conf
  examples/pump-app/nrfconnect/prj_no_dfu.conf
  examples/pump-app/nrfconnect/prj_release.conf
  examples/pump-controller-app/nrfconnect/CMakeLists.txt
  examples/pump-controller-app/nrfconnect/README.md
  examples/pump-controller-app/nrfconnect/main/AppTask.cpp
  examples/pump-controller-app/nrfconnect/main/include/AppConfig.h
  examples/pump-controller-app/nrfconnect/main/include/AppTask.h
  examples/pump-controller-app/nrfconnect/prj.conf
  examples/pump-controller-app/nrfconnect/prj_no_dfu.conf
  examples/pump-controller-app/nrfconnect/prj_release.conf
  examples/window-app/nrfconnect/CMakeLists.txt
  examples/window-app/nrfconnect/prj.conf
  examples/window-app/nrfconnect/prj_no_dfu.conf
  examples/window-app/nrfconnect/prj_release.conf
Labels: examples, platform, review - pending, fast track

#21689 [TI] updating ConnectivityManagerImpl CC32xx files to reflect updates in PR 19784
  src/platform/cc32xx/ConnectivityManagerImpl.cpp
  src/platform/cc32xx/ConnectivityManagerImpl.h
Labels: platform, review - pending, fast track

#21696 Clearly distinguish between unknown and all-0 discovery capabilities.
  examples/all-clusters-app/nxp/mw320/main.cpp
  examples/chip-tool/commands/payload/SetupPayloadGenerateCommand.cpp
  examples/chip-tool/commands/payload/SetupPayloadParseCommand.cpp
  examples/darwin-framework-tool/commands/payload/SetupPayloadParseCommand.mm
  examples/platform/linux/AppMain.cpp
  examples/platform/linux/Options.cpp
  src/app/server/OnboardingCodesUtil.cpp
  src/controller/CommissioningWindowOpener.cpp
  src/controller/SetUpCodePairer.cpp
  src/controller/python/chip/setup_payload/Generator.cpp
  src/controller/python/chip/setup_payload/Parser.cpp
  src/darwin/CHIPTool/CHIPTool/View Controllers/QRCode/QRCodeViewController.m
  src/darwin/Framework/CHIP/MTRSetupPayload.h
  src/darwin/Framework/CHIP/MTRSetupPayload.mm
  src/darwin/Framework/CHIP/MTRSetupPayload_Internal.h
  src/darwin/Framework/CHIPTests/MTRSetupPayloadParserTests.m
  src/setup_payload/ManualSetupPayloadParser.cpp
  src/setup_payload/QRCodeSetupPayloadGenerator.cpp
  src/setup_payload/QRCodeSetupPayloadParser.cpp
  src/setup_payload/SetupPayload.cpp
  src/setup_payload/SetupPayload.h
  src/setup_payload/SetupPayloadHelper.cpp
  src/setup_payload/java/SetupPayloadParser-JNI.cpp
  src/setup_payload/tests/TestHelpers.h
  src/setup_payload/tests/TestQRCode.cpp
Labels: tools, examples, setup payload, platform, darwin, controller, app, review - approved

#21712 [chip-tool] Add option 'discover-once' for chip-tool.
  examples/chip-tool/commands/pairing/PairingCommand.cpp
  examples/chip-tool/commands/pairing/PairingCommand.h
  examples/darwin-framework-tool/commands/pairing/PairingDelegateBridge.mm
  examples/platform/linux/CommissionerMain.cpp
  src/app/tests/suites/commands/commissioner/CommissionerCommands.cpp
  src/controller/DevicePairingDelegate.h
  src/controller/SetUpCodePairer.cpp
  src/darwin/Framework/CHIP/MTRDevicePairingDelegate.h
  src/darwin/Framework/CHIP/MTRDevicePairingDelegateBridge.mm
Labels: tools, examples, platform, darwin, controller, app, review - pending, fast track, tests

#21726 [Infineon] Label Cluster support for Infineon P6 example apps
  examples/all-clusters-app/p6/BUILD.gn
  examples/all-clusters-app/p6/src/AppTask.cpp
  examples/all-clusters-minimal-app/p6/BUILD.gn
  examples/all-clusters-minimal-app/p6/src/AppTask.cpp
  examples/lighting-app/p6/BUILD.gn
  examples/lighting-app/p6/src/AppTask.cpp
  examples/lock-app/p6/BUILD.gn
  examples/lock-app/p6/src/AppTask.cpp
Labels: examples, review - pending, fast track

#21749 doc: nrfconnect: fix indent issue
  docs/guides/nrfconnect_examples_software_update.md
Labels: documentation, review - pending, fast track

#21747 Update lockState attribute when lock/unlock action occurs
  examples/lock-app/efr32/src/LockManager.cpp
Labels: examples, review - approved

#21715 [Tizen] Fix memory leak when resolving mDNS
  src/platform/Tizen/DnssdImpl.cpp
Labels: platform, review - pending, fast track

#21743 [Infineon] Add QR code URL for CYW30739
  examples/lighting-app/cyw30739/src/main.cpp
  examples/lock-app/cyw30739/src/main.cpp
Labels: examples, review - approved

#21742 [Infineon][SVE] Fix CYW30739 KVS read/write methods.
  src/platform/CYW30739/CYW30739Config.cpp
  src/platform/CYW30739/CYW30739Config.h
  src/platform/CYW30739/KeyValueStoreManagerImpl.cpp
Labels: platform, review - approved

#21761 Resolve compilation issue for darwin-framework-tool on Apple Silicon
  scripts/build/build_darwin_framework.py
Labels: hotfix, scripts, review - pending, fast track

#21753 Updating SHA for latest supported beta release
  docs/guides/darwin.md
Labels: documentation, review - pending, fast track

#21758 add instructions to pair Matter devices over BLE on iOS platform
  docs/guides/darwin.md
Labels: documentation, review - pending, fast track

#21652 [Infineon] Update BLE Char C2 to Indicate instead of Notify
  src/platform/P6/BLEManagerImpl.cpp
  src/platform/P6/cycfg_gatt_db.c
Labels: platform, review - approved

#21771 Fix read client matching for unsolicited report
  src/app/InteractionModelEngine.cpp
  src/app/ReadClient.cpp
  src/app/ReadClient.h
Labels: app, review - approved

#21765 Fix compilation of transport/SessionHandle.h
  src/transport/Session.h
  src/transport/SessionHandle.cpp
  src/transport/SessionHandle.h
  src/transport/SessionHolder.h
Labels: transport, review - approved

#21759 [esp32]: Fix random crash in M5 multi fabric test
  examples/all-clusters-app/esp32/main/AppTask.cpp
  examples/all-clusters-app/esp32/main/main.cpp
  examples/light-switch-app/esp32/main/AppTask.cpp
  examples/light-switch-app/esp32/main/main.cpp
  examples/lighting-app/esp32/main/AppTask.cpp
  examples/lighting-app/esp32/main/main.cpp
  examples/lock-app/esp32/main/AppTask.cpp
  examples/lock-app/esp32/main/main.cpp
Labels: examples, review - pending, fast track

#21772 EFR: Fix efr lock rpc build
  examples/lock-app/efr32/with_pw_rpc.gni
Labels: examples, review - approved

#21750 Make chip-tool subscription shutdown commands easier to use.
  examples/chip-tool/commands/clusters/SubscriptionsCommands.h
  examples/chip-tool/commands/common/CHIPCommand.h
  examples/chip-tool/commands/common/Command.h
  examples/chip-tool/commands/common/Commands.cpp
  examples/tv-casting-app/tv-casting-common/commands/common/CHIPCommand.cpp
  src/app/InteractionModelEngine.cpp
  src/app/InteractionModelEngine.h
Labels: tools, examples, app, review - pending, fast track

#21511 Fix status response in write client
  src/app/WriteClient.cpp
  src/app/tests/TestWriteInteraction.cpp
Labels: app, review - approved, tests

#21774 Add a way to capture message payloads in tests.
  src/app/tests/TestReadInteraction.cpp
  src/messaging/tests/MessagingContext.cpp
  src/messaging/tests/MessagingContext.h
  src/transport/raw/MessageHeader.h
Labels: transport, app, review - approved, tests

#21764 Lock app minor fixes
  examples/lock-app/efr32/include/LockManager.h
  examples/lock-app/efr32/src/LockManager.cpp
  examples/lock-app/linux/src/LockEndpoint.cpp
Labels: examples, review - pending, fast track

#21760 Fabric removal should only sync-deliver events for that fabric.
  src/app/clusters/operational-credentials-server/operational-credentials-server.cpp
  src/app/reporting/Engine.cpp
  src/app/reporting/Engine.h
Labels: app, review - approved

#21754 [ESP32] Fix links to common docs in example readmes
  docs/guides/esp32/setup_idf_chip.md
  examples/all-clusters-app/esp32/README.md
  examples/bridge-app/esp32/README.md
  examples/light-switch-app/esp32/README.md
  examples/lighting-app/esp32/README.md
  examples/lock-app/esp32/README.md
  examples/ota-provider-app/esp32/README.md
  examples/ota-requestor-app/esp32/README.md
  examples/persistent-storage/esp32/README.md
  examples/pigweed-app/esp32/README.md
  examples/temperature-measurement-app/esp32/README.md
Labels: documentation, examples, review - pending, fast track

#21779 [Infineon] Add CYW30739 guide in darwin.md
  docs/guides/darwin.md
Labels: review - pending, fast track

#21769 Give ChipDeviceController.java public method to release connected device pointer
  src/controller/java/CHIPDeviceController-JNI.cpp
  src/controller/java/src/chip/devicecontroller/ChipDeviceController.java
Labels: controller, review - pending, fast track

#21693 Fix liveness timer not firing for subscriptions
  src/app/ReadClient.cpp
  src/app/ReadClient.h
  src/app/tests/TestReadInteraction.cpp
  src/controller/tests/data_model/TestRead.cpp
  src/messaging/tests/MessagingContext.cpp
  src/messaging/tests/MessagingContext.h
  src/transport/raw/tests/NetworkTestHelpers.h
Labels: transport, controller, app, review - approved, tests

#21751 Add a call to start status LED timer in lock and light app for efr32
  examples/light-switch-app/efr32/src/AppTask.cpp
  examples/lighting-app/efr32/src/AppTask.cpp
  examples/lock-app/efr32/src/AppTask.cpp
  examples/thermostat/efr32/src/AppTask.cpp
Labels: examples, review - approved

#21580 [esp32] Fix crash on router advertisements with infinite timeout
  examples/platform/esp32/route_hook/esp_route_table.c
Labels: examples, platform, review - approved

#21755 Make the timing inside on-off server cluster more accurate
  src/app/clusters/on-off-server/on-off-server.cpp
  src/app/clusters/on-off-server/on-off-server.h
Labels: app, review - approved

#21719 Implement TC-SC-3.6 as a Python test
  src/controller/python/chip-device-ctrl.py
  src/controller/python/chip/ChipDeviceCtrl.py
  src/controller/python/chip/FabricAdmin.py
  src/controller/python/chip/clusters/Attribute.py
  src/controller/python/chip/storage/__init__.py
  src/controller/python/chip/utils/CommissioningBuildingBlocks.py
  src/python_testing/TC_SC_3_6.py
  src/python_testing/hello_test.py
  src/python_testing/matter_testing_support.py
Labels: controller, review - approved

#21775 Introduce TC-DA-1.7 Python test
  TC_DA_1_7.py
Labels: review - approved

#21752 [ESP32] Device Info Provider Implementation
  config/esp32/components/chip/CMakeLists.txt
  config/esp32/components/chip/Kconfig
  examples/all-clusters-app/esp32/main/CMakeLists.txt
  examples/all-clusters-app/esp32/main/main.cpp
  examples/all-clusters-minimal-app/esp32/main/CMakeLists.txt
  examples/all-clusters-minimal-app/esp32/main/main.cpp
  examples/bridge-app/esp32/main/CMakeLists.txt
  examples/bridge-app/esp32/main/main.cpp
  examples/light-switch-app/esp32/main/CMakeLists.txt
  examples/light-switch-app/esp32/main/main.cpp
  examples/lighting-app/esp32/main/main.cpp
  examples/lock-app/esp32/main/main.cpp
  examples/ota-provider-app/esp32/main/CMakeLists.txt
  examples/ota-provider-app/esp32/main/main.cpp
  examples/ota-requestor-app/esp32/main/CMakeLists.txt
  examples/ota-requestor-app/esp32/main/main.cpp
  examples/temperature-measurement-app/esp32/main/CMakeLists.txt
  examples/temperature-measurement-app/esp32/main/main.cpp
  scripts/tools/generate_esp32_chip_factory_bin.py
  src/platform/ESP32/BUILD.gn
  src/platform/ESP32/ESP32Config.cpp
  src/platform/ESP32/ESP32Config.h
  src/platform/ESP32/ESP32DeviceInfoProvider.cpp
  src/platform/ESP32/ESP32DeviceInfoProvider.h
Labels: examples, scripts, platform, esp32, config, review - pending, fast track

#21781 [Infineon][SVE] Initialize CYW30739 OTA requestor after re-attaching to Thread network.
  examples/lighting-app/cyw30739/src/main.cpp
  examples/lock-app/cyw30739/src/main.cpp
  examples/platform/cyw30739/OTAConfig.cpp
Labels: examples, platform, review - pending, fast track

#21790 Add missing includes
  src/app/DataVersionFilter.h
  src/app/GlobalAttributes.h
  src/app/InteractionModelHelper.h
  src/app/InteractionModelRevision.h
  src/app/ReadHandler.h
  src/app/clusters/ias-zone-client/ias-zone-client.h
  src/app/util/MatterCallbacks.h
  src/app/util/time-util.h
  src/credentials/tests/CHIPAttCert_test_vectors.h
  src/include/platform/GeneralFaults.h
  src/include/platform/internal/EventLogging.h
  src/lib/asn1/gen_asn1oid.py
  src/lib/support/LifetimePersistedCounter.h
  src/protocols/secure_channel/MessageCounterManager.cpp
  src/protocols/secure_channel/MessageCounterManager.h
  src/protocols/secure_channel/SessionEstablishmentDelegate.h
  src/protocols/secure_channel/StatusReport.h
  src/transport/SessionDelegate.h
  src/transport/SessionMessageDelegate.h
Labels: transport, platform, lib, app, review - approved, support

#21738 Modify bridge app to conform to the latest Matter specification
  examples/bridge-app/esp32/main/main.cpp
Labels: examples, review - approved

#20923 [Inet] always copy the pbuf on lwIP platforms
  src/inet/UDPEndPointImplLwIP.cpp
Labels: inet, review - approved, cert blocker

#21792 [CC13x2_26x2 & CC32xx] Fixing error in KVS read function
  src/platform/cc13x2_26x2/CC13X2_26X2Config.cpp
  src/platform/cc32xx/CC32XXConfig.cpp
Labels: platform, review - approved

#21808 Fix Darwin codegen support for grouping in YAML expressions.
  src/darwin/Framework/CHIP/templates/helper.js
Labels: testing, darwin, review - approved, request sve

#21804 Fix sending of timed invoke via MTRBaseDevice invokeCommandWithEndpointId
  src/app/CommandSender.cpp
  src/darwin/Framework/CHIP/MTRBaseDevice.mm
  src/darwin/Framework/CHIPTests/MTRClustersTests.m
  src/darwin/Framework/CHIPTests/MTRDeviceTests.m
  src/darwin/Framework/Matter.xcodeproj/project.pbxproj
  src/darwin/Framework/Matter.xcodeproj/xcshareddata/xcschemes/Matter Framework Tests.xcscheme
Labels: darwin, app, review - pending, fast track

#21518 Fix status reponse in command sender
  src/app/CommandSender.cpp
  src/app/tests/TestCommandInteraction.cpp
Labels: app, review - approved, tests

#21830 Spin up commissioners in chip-tool as needed.
  examples/chip-tool/commands/common/CHIPCommand.cpp
  examples/chip-tool/commands/common/CHIPCommand.h
Labels: testing, review - approved, request sve, tests

#21787 [Tizen] Implement getter for Thread primary address
  src/platform/Tizen/ThreadStackManagerImpl.cpp
Labels: platform, review - pending, fast track

#21555 [privacy] Add generated privacy keys to GroupDataProvider.
  src/credentials/GroupDataProviderImpl.cpp
  src/credentials/GroupDataProviderImpl.h
  src/credentials/tests/TestGroupDataProvider.cpp
  src/crypto/CHIPCryptoPAL.cpp
  src/crypto/CHIPCryptoPAL.h
  src/crypto/tests/BUILD.gn
  src/crypto/tests/TestGroupOperationalCredentials.cpp
  src/transport/CryptoContext.cpp
  src/transport/CryptoContext.h
  src/transport/tests/BUILD.gn
  src/transport/tests/TestCryptoContext.cpp
Labels: transport, crypto, review - approved

#21817 Fix command path checking in Darwin NSObjectCommandCallback.
  src/darwin/Framework/CHIP/MTRBaseDevice.mm
  src/darwin/Framework/CHIPTests/MTRDeviceTests.m
Labels: darwin, review - pending, fast track

#21793 Update MRP parameter for PASE/CASE establishment
  src/protocols/secure_channel/CASESession.cpp
  src/protocols/secure_channel/PASESession.cpp
Labels: review - approved

#21553 [Tizen] Wait for mDNS on-browse events until timeout
  src/platform/Tizen/DnssdImpl.cpp
  src/platform/Tizen/DnssdImpl.h
Labels: platform, review - pending, fast track

#21557 Fix status response in command handler.
  src/app/CommandHandler.cpp
  src/app/CommandHandler.h
  src/app/InteractionModelEngine.cpp
  src/app/InteractionModelEngine.h
  src/app/tests/TestCommandInteraction.cpp
Labels: app, review - approved, tests

#21833 Updated Manual scripts
  src/app/tests/suites/certification/PICS.yaml
  src/app/tests/suites/certification/Test_TC_ACL_1_1.yaml
  src/app/tests/suites/certification/Test_TC_ACL_2_1.yaml
  src/app/tests/suites/certification/Test_TC_ACL_2_10.yaml
  src/app/tests/suites/certification/Test_TC_ACL_2_3.yaml
  src/app/tests/suites/certification/Test_TC_ACL_2_4.yaml
  src/app/tests/suites/certification/Test_TC_ACL_2_5.yaml
  src/app/tests/suites/certification/Test_TC_ACL_2_6.yaml
  src/app/tests/suites/certification/Test_TC_ACL_2_7.yaml
  src/app/tests/suites/certification/Test_TC_ACL_2_8.yaml
  src/app/tests/suites/certification/Test_TC_ACL_2_9.yaml
  src/app/tests/suites/certification/Test_TC_ACT_2_1.yaml
  src/app/tests/suites/certification/Test_TC_ACT_2_2.yaml
  src/app/tests/suites/certification/Test_TC_ACT_3_1.yaml
  src/app/tests/suites/certification/Test_TC_ACT_3_2.yaml
  src/app/tests/suites/certification/Test_TC_ALOGIN_12_1.yaml
  src/app/tests/suites/certification/Test_TC_ALOGIN_12_2.yaml
  src/app/tests/suites/certification/Test_TC_APPLAUNCHER_3_7_1.yaml
  src/app/tests/suites/certification/Test_TC_APPLAUNCHER_3_8_1.yaml
  src/app/tests/suites/certification/Test_TC_APPLAUNCHER_3_9_1.yaml
  src/app/tests/suites/certification/Test_TC_AUDIOOUTPUT_7_3.yaml
  src/app/tests/suites/certification/Test_TC_AUDIOOUTPUT_7_4.yaml
  src/app/tests/suites/certification/Test_TC_BIND_1_1.yaml
  src/app/tests/suites/certification/Test_TC_BIND_2_2.yaml
  src/app/tests/suites/certification/Test_TC_BIND_2_3.yaml
  src/app/tests/suites/certification/Test_TC_BINFO_1_1.yaml
  src/app/tests/suites/certification/Test_TC_DRLK_1_1.yaml
  src/app/tests/suites/certification/Test_TC_DRLK_2_1.yaml
  src/app/tests/suites/certification/Test_TC_DRLK_2_10.yaml
  src/app/tests/suites/certification/Test_TC_DRLK_2_6.yaml
  src/app/tests/suites/certification/Test_TC_DRLK_2_8.yaml
  src/app/tests/suites/certification/Test_TC_DRLK_3_1.yaml
  src/app/tests/suites/certification/Test_TC_DRLK_3_2.yaml
  src/app/tests/suites/certification/Test_TC_MOD_1_2.yaml
  src/app/tests/suites/certification/Test_TC_OPCREDS_3_1.yaml
  src/app/tests/suites/certification/Test_TC_OPCREDS_3_2.yaml
  src/app/tests/suites/certification/Test_TC_OPCREDS_3_3.yaml
  src/app/tests/suites/certification/Test_TC_OPCREDS_3_4.yaml
  src/app/tests/suites/certification/Test_TC_SWTCH_2_2.yaml
  src/app/tests/suites/certification/Test_TC_SWTCH_3_1.yaml
  src/app/tests/suites/certification/Test_TC_SWTCH_3_2.yaml
  src/app/tests/suites/certification/ci-pics-values
Labels: app, review - pending, fast track, sve, tests

#21810 Fix efr32 app to return NotFound if no schedule exists
  examples/lock-app/efr32/include/LockManager.h
  examples/lock-app/efr32/src/LockManager.cpp
Labels: examples, review - approved

#21822 [ESP32] Do not crash if storage delegate is nullptr
  src/platform/ESP32/ESP32DeviceInfoProvider.cpp
Labels: platform, esp32, review - approved

#21827 Return CHIP_ERROR_WELL_UNINITIALIZED when object is not initialized
  examples/platform/linux/LinuxCommissionableDataProvider.cpp
  src/controller/ExampleOperationalCredentialsIssuer.cpp
  src/credentials/DeviceAttestationVendorReserved.h
  src/crypto/CHIPCryptoPALOpenSSL.cpp
  src/crypto/CHIPCryptoPALTinyCrypt.cpp
  src/crypto/CHIPCryptoPALmbedTLS.cpp
  src/platform/EFR32/CHIPCryptoPALPsaEfr32.cpp
  src/platform/EFR32/Efr32PsaOperationalKeystore.cpp
  src/platform/Tizen/ThreadStackManagerImpl.cpp
Labels: examples, platform, efr32, crypto, controller, review - approved

#21856 Align List/Tuple typing in python script
  src/python_testing/matter_testing_support.py
Labels: review - approved

#21204 remove read client/handler and write handler when corresponding fabric is removed
  src/app/InteractionModelEngine.cpp
  src/app/InteractionModelEngine.h
  src/app/ReadClient.h
  src/app/WriteHandler.h
  src/app/clusters/operational-credentials-server/operational-credentials-server.cpp
  src/app/tests/TestReadInteraction.cpp
  src/app/tests/TestWriteInteraction.cpp
  src/lib/core/CHIPError.cpp
  src/lib/core/CHIPError.h
  src/lib/core/tests/TestCHIPErrorStr.cpp
  src/messaging/tests/MessagingContext.cpp
  src/messaging/tests/MessagingContext.h
Labels: lib, app, review - approved, tests, core

#21768 Allow ReliableMessageMgr to perform address relookup on first message fail
  src/app/CASESessionManager.cpp
  src/app/CASESessionManager.h
  src/app/OperationalSessionSetup.cpp
  src/app/OperationalSessionSetup.h
  src/app/OperationalSessionSetupPool.h
  src/messaging/ReliableMessageMgr.cpp
  src/messaging/ReliableMessageMgr.h
  src/transport/SessionDelegate.h
  src/transport/SessionManager.cpp
  src/transport/SessionManager.h
  src/transport/SessionUpdateDelegate.h
Labels: transport, app, review - approved

#21837 RPC: Fix RPC console install
  BUILD.gn
  examples/common/pigweed/rpc_console/BUILD.gn
Labels: examples, gn, review - approved

#21670 ESP32: Remove LWI_IPV6_SCOPES=0 for all the ESP32 platform apps
  examples/all-clusters-app/esp32/CMakeLists.txt
  examples/all-clusters-app/esp32/main/CMakeLists.txt
  examples/all-clusters-minimal-app/esp32/CMakeLists.txt
  examples/all-clusters-minimal-app/esp32/main/CMakeLists.txt
  examples/bridge-app/esp32/CMakeLists.txt
  examples/bridge-app/esp32/main/CMakeLists.txt
  examples/chef/esp32/CMakeLists.txt
  examples/chef/esp32/main/CMakeLists.txt
  examples/light-switch-app/esp32/CMakeLists.txt
  examples/light-switch-app/esp32/main/CMakeLists.txt
  examples/lighting-app/esp32/CMakeLists.txt
  examples/lighting-app/esp32/main/CMakeLists.txt
  examples/lock-app/esp32/CMakeLists.txt
  examples/lock-app/esp32/main/CMakeLists.txt
  examples/ota-provider-app/esp32/CMakeLists.txt
  examples/ota-provider-app/esp32/main/CMakeLists.txt
  examples/ota-requestor-app/esp32/CMakeLists.txt
  examples/ota-requestor-app/esp32/main/CMakeLists.txt
  examples/persistent-storage/esp32/CMakeLists.txt
  examples/persistent-storage/esp32/main/CMakeLists.txt
  examples/pigweed-app/esp32/CMakeLists.txt
  examples/shell/esp32/CMakeLists.txt
  examples/temperature-measurement-app/esp32/CMakeLists.txt
  examples/temperature-measurement-app/esp32/main/CMakeLists.txt
  src/inet/tests/TestInetAddress.cpp
Labels: examples, inet, fast track

#21757 Darwin: convenience API Part 2 (Issue 16691)
  .restyled.yaml
  src/darwin/Framework/CHIP/MTRAsyncCallbackWorkQueue.h
  src/darwin/Framework/CHIP/MTRAsyncCallbackWorkQueue.mm
  src/darwin/Framework/CHIP/MTRBaseDevice.h
  src/darwin/Framework/CHIP/MTRBaseDevice.mm
  src/darwin/Framework/CHIP/MTRBaseDevice_Internal.h
  src/darwin/Framework/CHIP/MTRDevice.h
  src/darwin/Framework/CHIP/MTRDevice.mm
  src/darwin/Framework/CHIP/MTRDeviceController.mm
  src/darwin/Framework/CHIP/MTRDeviceController_Internal.h
  src/darwin/Framework/CHIP/MTRDevice_Internal.h
  src/darwin/Framework/CHIP/templates/MTRClusters-src.zapt
  src/darwin/Framework/CHIP/templates/MTRClusters.zapt
  src/darwin/Framework/CHIP/templates/MTRClusters_internal.zapt
  src/darwin/Framework/CHIP/zap-generated/MTRClusters.h
  src/darwin/Framework/CHIP/zap-generated/MTRClusters.mm
  src/darwin/Framework/CHIP/zap-generated/MTRClusters_internal.h
  src/darwin/Framework/CHIPTests/MTRAsyncCallbackQueueTests.m
Labels: darwin, review - pending, fast track

#21777 [Ameba] Fix incorrect SSID problem during AddOrUpdateNetwork
  src/platform/Ameba/NetworkCommissioningWiFiDriver.cpp
Labels: platform, fast track

#21776 [Ameba] Support Matter Shell on 8710C platform
  .github/.wordlist.txt
  examples/all-clusters-app/ameba/README.md
  examples/light-switch-app/ameba/README.md
  examples/platform/ameba/shell/launch_shell.cpp
  src/lib/shell/streamer_ameba.cpp
Labels: examples, platform, lib, fast track, shell

#21667 HSM key store to handle AddNOC / UpdateNOC
  src/credentials/FabricTable.cpp
  src/credentials/FabricTable.h
  src/crypto/BUILD.gn
  src/crypto/hsm/CHIPCryptoPALHsm.h
  src/crypto/hsm/CHIPCryptoPALHsm_config.h
  src/crypto/hsm/nxp/CHIPCryptoPALHsm_SE05X_P256.cpp
  src/crypto/hsm/nxp/CHIPCryptoPALHsm_SE05X_Spake2p.cpp
  src/crypto/hsm/nxp/CHIPCryptoPALHsm_SE05X_utils.h
  src/crypto/hsm/nxp/PersistentStorageOperationalKeystoreHSM.cpp
  src/crypto/hsm/nxp/PersistentStorageOperationalKeystoreHSM.h
Labels: crypto, review - pending, fast track

#21818 Remove Alarms/Poll Control non-Matter clusters from Matter devices XML
  src/app/zap-templates/zcl/data-model/chip/matter-devices.xml
Labels: app, review - approved

#21845 [python] Deprecate chip-device-ctrl step: 1 Add "replhint" for most commands
  docs/guides/python_chip_controller_building.md
  src/controller/python/chip-device-ctrl.py
Labels: review - approved

#21803 [linux] Set DeviceInfoProvider before Server::Init to setup the stora…
  examples/platform/linux/AppMain.cpp
Labels: review - approved

#21805 Update the bridge app readme to reflect the new dynamic endpoints for…
  examples/bridge-app/esp32/README.md
Labels: examples, review - approved

#21815 [ESP32] Update ESP-IDF to release v4.4.2
  docs/guides/esp32/setup_idf_chip.md
  integrations/docker/images/chip-build-esp32/Dockerfile
  integrations/docker/images/chip-build/version
Labels: documentation, integrations, review - approved

#21824 [BEKEN] add beken platform file
  config/beken/.gn
  config/beken/BUILD.gn
  config/beken/args.gni
  config/beken/build
  config/beken/build_overrides
  config/beken/mbedtls/BUILD.gn
  config/beken/third_party/connectedhomeip
  config/beken/toolchain/BUILD.gn
  examples/lighting-app/beken/README.md
  examples/lighting-app/beken/main/CHIPDeviceManager.cpp
  examples/lighting-app/beken/main/DeviceCallbacks.cpp
  examples/lighting-app/beken/main/DsoHack.cpp
  examples/lighting-app/beken/main/chipinterface.cpp
  examples/lighting-app/beken/main/include/CHIPDeviceManager.h
  examples/lighting-app/beken/main/include/DeviceCallbacks.h
  scripts/tools/check_includes_config.py
  src/platform/BUILD.gn
  src/platform/Beken/BLEManagerImpl.cpp
  src/platform/Beken/BLEManagerImpl.h
  src/platform/Beken/BUILD.gn
  src/platform/Beken/BekenConfig.cpp
  src/platform/Beken/BekenConfig.h
  src/platform/Beken/BlePlatformConfig.h
  src/platform/Beken/CHIPDevicePlatformConfig.h
  src/platform/Beken/CHIPDevicePlatformEvent.h
  src/platform/Beken/CHIPMem-Platform.cpp
  src/platform/Beken/CHIPPlatformConfig.h
  src/platform/Beken/ConfigurationManagerImpl.cpp
  src/platform/Beken/ConfigurationManagerImpl.h
  src/platform/Beken/ConnectivityManagerImpl.cpp
  src/platform/Beken/ConnectivityManagerImpl.h
  src/platform/Beken/DiagnosticDataProviderImpl.cpp
  src/platform/Beken/DiagnosticDataProviderImpl.h
  src/platform/Beken/InetPlatformConfig.h
  src/platform/Beken/KeyValueStoreManagerImpl.cpp
  src/platform/Beken/KeyValueStoreManagerImpl.h
  src/platform/Beken/Logging.cpp
  src/platform/Beken/LwIPCoreLock.cpp
  src/platform/Beken/NetworkCommissioningDriver.h
  src/platform/Beken/NetworkCommissioningWiFiDriver.cpp
  src/platform/Beken/OTAImageProcessorImpl.cpp
  src/platform/Beken/OTAImageProcessorImpl.h
  src/platform/Beken/PlatformManagerImpl.cpp
  src/platform/Beken/PlatformManagerImpl.h
  src/platform/Beken/SystemPlatformConfig.h
  src/platform/Beken/SystemTimeSupport.cpp
  src/platform/Beken/SystemTimeSupport.h
  src/platform/Beken/args.gni
  src/platform/Beken/matter_pal.h
  src/platform/device.gni
Labels: examples, scripts, platform, config, review - approved

#21825 add KVS configuration feature for esp32 platform
  config/esp32/components/chip/Kconfig
  src/platform/ESP32/CHIPDevicePlatformConfig.h
  src/platform/ESP32/ConfigurationManagerImpl.cpp
  src/platform/ESP32/KeyValueStoreManagerImpl.cpp
Labels: platform, esp32, config, review - approved

#21839 Tell the Darwin OTA provider delegate which node we are dealing with.
  examples/darwin-framework-tool/commands/provider/OTAProviderDelegate.h
  examples/darwin-framework-tool/commands/provider/OTAProviderDelegate.mm
  src/darwin/Framework/CHIP/MTRControllerFactory.mm
  src/darwin/Framework/CHIP/MTRControllerFactory_Internal.h
  src/darwin/Framework/CHIP/MTROTAProviderDelegate.h
  src/darwin/Framework/CHIP/MTROTAProviderDelegateBridge.mm
  src/darwin/Framework/CHIPTests/MTRTestOTAProvider.m
Labels: examples, darwin, review - pending, fast track

#21841 When a client detects subscription drop, mark sessions defunct.
  src/app/ReadClient.cpp
Labels: app, review - approved

#21844 Fix all-clusters-app ZAP extension bits.
  examples/all-clusters-app/all-clusters-common/all-clusters-app.matter
  examples/all-clusters-app/all-clusters-common/all-clusters-app.zap
  zzz_generated/all-clusters-app/zap-generated/endpoint_config.h
Labels: examples, review - pending, fast track

#21821 [Infineon] Fix "Failed to write calendar type with error: 0x87"
  examples/lighting-app/cyw30739/src/main.cpp
  examples/lock-app/cyw30739/src/main.cpp
Labels: examples, review - approved

#21849 [Ameba] FactoryDataProvider implementation
  config/ameba/chip.cmake
  examples/all-clusters-app/ameba/main/chipinterface.cpp
  examples/light-switch-app/ameba/main/chipinterface.cpp
  examples/lighting-app/ameba/main/chipinterface.cpp
  examples/ota-requestor-app/ameba/main/chipinterface.cpp
  src/platform/Ameba/BUILD.gn
  src/platform/Ameba/FactoryDataProvider.cpp
  src/platform/Ameba/FactoryDataProvider.h
Labels: examples, platform, config, review - pending, fast track

#21852 [scripts] Enhance checkout_submodules.py script
  scripts/checkout_submodules.py
Labels: scripts, review - approved

#21865 Darwin: change crypto to boringssl from mbedtls
  src/darwin/Framework/Matter.xcodeproj/project.pbxproj
  src/darwin/Framework/chip_xcode_build_connector.sh
Labels: darwin, review - pending, fast track

#21868 Improve Invalid Action return in CommandHandler
  src/app/CommandHandler.cpp
  src/app/CommandHandler.h
Labels: app, review - approved

#21871 Add status check in timed related test
  src/app/tests/TestCommandInteraction.cpp
Labels: review - approved

#21884 [EFR32] Loader script: Flash length fixed.
  examples/platform/efr32/ldscripts/efr32mg24.ld
Labels: examples, platform, review - pending, fast track
