Repository project-chip/connectedhomeip, pull requests merged in 2022-01, with the labels that each got.

#13267 [NetworkCommissioning] WiFiScanResults and ThreadScanResults should be optional fields
  src/app/zap-templates/zcl/data-model/chip/commissioning.xml
  src/controller/java/zap-generated/CHIPInvokeCallbacks.cpp
  src/controller/python/chip/clusters/Objects.py
  src/darwin/Framework/CHIP/zap-generated/CHIPCallbackBridge.mm
  src/darwin/Framework/CHIP/zap-generated/CHIPCommandPayloadsObjc.h
  src/darwin/Framework/CHIP/zap-generated/CHIPCommandPayloadsObjc.mm
  zzz_generated/app-common/app-common/zap-generated/cluster-objects.h
Labels: darwin, controller, app, review - approved

#13302 Fix Master build failure
  src/credentials/DeviceAttestationConstructor.cpp
Labels: review - approved

#13290 Add check for failed allocation in ResolverProxy::Init
  src/lib/dnssd/ResolverProxy.h
Labels: lib, review - approved

#13278 Add update nrf cli doc to reflect latest command
  docs/guides/nrfconnect_examples_cli.md
Labels: documentation, review - pending, fast track

#12960 Fix YAML Scripts Fail - "Location" Attribute value read fails
  src/app/clusters/basic/basic.cpp
Labels: darwin, app, review - approved

#13288 [zephyr] Added Kconfig options to control Matter logs level
  config/nrfconnect/app/sample-defaults.conf
  config/zephyr/Kconfig
  src/platform/Zephyr/Logging.cpp
Labels: platform, zephyr, config, review - approved

#13232 Variant: add inplace constructor
  src/credentials/FabricTable.h
  src/credentials/GroupDataProvider.h
  src/darwin/Framework/CHIP/CHIPOperationalCredentialsDelegate.h
  src/darwin/Framework/CHIP/CHIPOperationalCredentialsDelegate.mm
  src/lib/core/InPlace.h
  src/lib/core/Optional.h
  src/lib/support/Variant.h
  src/lib/support/tests/TestVariant.cpp
Labels: darwin, lib, review - approved

#13218 [nrfconnect] Fix BLE random static address generation
  config/nrfconnect/app/overlay-bt_private_addresses.conf
  examples/lighting-app/nrfconnect/CMakeLists.txt
  examples/lock-app/nrfconnect/CMakeLists.txt
  examples/pump-app/nrfconnect/CMakeLists.txt
  examples/pump-controller-app/nrfconnect/CMakeLists.txt
  src/platform/Zephyr/BLEManagerImpl.cpp
Labels: examples, platform, zephyr, config, review - pending, fast track

#13156 Fix alerts founded the LGTM system and add LGTM configuration file
  lgtm.yml
  src/controller/python/chip/ChipDeviceCtrl.py
  src/controller/python/chip/ChipReplStartup.py
  src/controller/python/chip/clusters/Command.py
  src/controller/python/chip/interaction_model/__init__.py
Labels: controller, review - approved

#13181 fix tv ( only supports ethernet commission ) always DeleteAllFabrics
  scripts/tests/chiptest/test_definition.py
  src/app/server/Server.cpp
Labels: scripts, app, review - approved

#13183 [controller] Fix commissioning multiple devices
  src/controller/CHIPDeviceController.cpp
Labels: controller, review - approved

#13208 [crypto] Changed mbedTLS API calls to fit 3.0.0 version.
  src/crypto/CHIPCryptoPALmbedTLS.cpp
Labels: crypto, review - approved

#12468 [K32W0] Read General Diagnostics cluster attribute at runtime
  src/platform/nxp/k32w/k32w0/ConfigurationManagerImpl.cpp
  src/platform/nxp/k32w/k32w0/ConfigurationManagerImpl.h
  src/platform/nxp/k32w/k32w0/DiagnosticDataProviderImpl.cpp
  src/platform/nxp/k32w/k32w0/DiagnosticDataProviderImpl.h
  src/platform/nxp/k32w/k32w0/K32W0Config.h
  src/platform/nxp/k32w/k32w0/PlatformManagerImpl.cpp
  src/platform/nxp/k32w/k32w0/PlatformManagerImpl.h
Labels: platform, stale, review - pending, fast track

#12476 [QPG] Replace Nvm_Init with KvsInit
  src/platform/qpg/qpgConfig.cpp
Labels: platform, qpg, stale, review - approved

#13063 [Inet] ToLwIPAddr() with IPAddressType
  src/inet/IPAddress.cpp
  src/inet/IPAddress.h
  src/inet/TCPEndPointImplLwIP.cpp
  src/inet/UDPEndPointImplLwIP.cpp
  src/inet/tests/TestInetAddress.cpp
Labels: inet, review - pending, fast track

#13226 Add optimization options for CC13x2x7 platform
  examples/lock-app/cc13x2x7_26x2x7/args.gni
  examples/lock-app/cc13x2x7_26x2x7/main/include/CHIPProjectConfig.h
  examples/pump-app/cc13x2x7_26x2x7/args.gni
  examples/pump-app/cc13x2x7_26x2x7/main/include/CHIPProjectConfig.h
  examples/pump-controller-app/cc13x2x7_26x2x7/args.gni
  examples/pump-controller-app/cc13x2x7_26x2x7/main/include/CHIPProjectConfig.h
Labels: examples, review - pending, fast track

#13306 TV linux app enable binding cluster (client)
  examples/tv-app/tv-common/tv-app.zap
  zzz_generated/tv-app/zap-generated/CHIPClusters.cpp
  zzz_generated/tv-app/zap-generated/CHIPClusters.h
  zzz_generated/tv-app/zap-generated/PluginApplicationCallbacks.h
  zzz_generated/tv-app/zap-generated/endpoint_config.h
  zzz_generated/tv-app/zap-generated/gen_config.h
Labels: examples, review - approved

#13291 Fix ResolverProxy use-after-free in HandleNodeBrowse
  src/lib/core/ReferenceCounted.h
  src/lib/dnssd/Discovery_ImplPlatform.cpp
Labels: lib, review - approved

#12870 Add CI tests for fake platform
  .github/workflows/build.yaml
Labels: github, workflows, review - approved

#13280 Fix 'Failed to get extended timeout configuration' error
  examples/lighting-app/nrfconnect/main/AppTask.cpp
Labels: examples, review - pending, fast track

#13264 ESP32 examples Readme.md update with chip-tool instructions
  examples/all-clusters-app/esp32/README.md
  examples/bridge-app/esp32/README.md
  examples/lock-app/esp32/README.md
  examples/temperature-measurement-app/esp32/README.md
Labels: examples, review - approved

#13255 Fix Doxygen errors
  src/include/platform/NetworkCommissioning.h
  src/lib/support/TypeTraits.h
Labels: lib, review - approved

#13309 Fix app name for door lock app build
  scripts/build/builders/host.py
Labels: hotfix, scripts

#13179 Remove GroupKeyCodec.
  src/app/clusters/group-key-mgmt-server/group-key-mgmt-server.cpp
  src/app/zap-templates/zcl/data-model/chip/group-key-mgmt-cluster.xml
  src/controller/java/zap-generated/CHIPReadCallbacks.cpp
  src/darwin/Framework/CHIP/zap-generated/CHIPAttributeTLVValueDecoder.mm
  src/darwin/Framework/CHIP/zap-generated/CHIPCallbackBridge.mm
  src/darwin/Framework/CHIP/zap-generated/CHIPTestClustersObjc.mm
  zzz_generated/app-common/app-common/zap-generated/af-structs.h
  zzz_generated/app-common/app-common/zap-generated/cluster-objects.h
Labels: darwin, controller, app, review - approved

#13305 [OTA] Make requestor use endpoint from AnnounceOTAProvider command
  src/app/clusters/ota-requestor/OTARequestor.cpp
Labels: app, review - pending, fast track

#13271 [Ameba] Update docker image to the latest
  integrations/docker/images/chip-build-ameba/Dockerfile
  integrations/docker/images/chip-build/version
Labels: integrations, review - approved

#13315 Remove extra length constraint from Ethernet diagnostic xml definition
  src/app/zap-templates/zcl/data-model/chip/ethernet-network-diagnostics-cluster.xml
Labels: app, review - pending, fast track

#13313 Do not allow creating secure session handle on the fly
  src/app/tests/TestReportingEngine.cpp
  src/app/util/chip-message-send.cpp
  src/transport/SessionHandle.h
  src/transport/SessionManager.cpp
  src/transport/SessionManager.h
  src/transport/tests/BUILD.gn
  src/transport/tests/TestSessionHandle.cpp
Labels: transport, app, review - approved

#13316 Add missing parts in Localization Unit cluster
  src/app/zap-templates/zcl/data-model/chip/localization-unit-cluster.xml
  src/controller/python/chip/clusters/Objects.py
  src/darwin/Framework/CHIP/zap-generated/CHIPCallbackBridge.mm
  src/darwin/Framework/CHIP/zap-generated/CHIPCallbackBridge_internal.h
  zzz_generated/app-common/app-common/zap-generated/attribute-id.h
  zzz_generated/app-common/app-common/zap-generated/attributes/Accessors.cpp
  zzz_generated/app-common/app-common/zap-generated/attributes/Accessors.h
  zzz_generated/app-common/app-common/zap-generated/cluster-objects.cpp
  zzz_generated/app-common/app-common/zap-generated/cluster-objects.h
  zzz_generated/app-common/app-common/zap-generated/ids/Attributes.h
Labels: darwin, controller, app, review - pending, fast track

#13319 [Ameba] Revise adv data structure
  src/platform/Ameba/BLEManagerImpl.cpp
Labels: platform, review - pending, fast track

#13299 [YAML] Automatically add simulated clusters from the clusters directo…
  src/app/zap-templates/common/simulated-clusters/SimulatedClusters.js
  src/app/zap-templates/common/simulated-clusters/clusters/DelayCommands.js
  src/app/zap-templates/common/simulated-clusters/clusters/LogCommands.js
Labels: app, review - pending

#12657 Made VerifyAttestationInformation interface asynchronous
  src/controller/CHIPDeviceController.cpp
  src/controller/CHIPDeviceController.h
  src/credentials/DeviceAttestationVerifier.cpp
  src/credentials/DeviceAttestationVerifier.h
  src/credentials/examples/DefaultDeviceAttestationVerifier.cpp
  src/credentials/tests/TestDeviceAttestationCredentials.cpp
Labels: examples, controller, config, vscode, github, workflows, review - approved

#13312 Convert all OTA related enums to enum class
  examples/ota-provider-app/ota-provider-common/OTAProviderExample.cpp
  src/app/clusters/ota-provider/ota-provider.cpp
  src/app/clusters/ota-requestor/OTARequestor.cpp
  src/app/zap-templates/templates/app/helper.js
  src/app/zap-templates/zcl/data-model/chip/chip-ota.xml
  src/controller/python/chip/clusters/Objects.py
  src/darwin/Framework/CHIP/zap-generated/CHIPCallbackBridge.mm
  src/darwin/Framework/CHIP/zap-generated/CHIPCallbackBridge_internal.h
  src/darwin/Framework/CHIP/zap-generated/CHIPClustersObjc.mm
  src/include/platform/OTARequestorDriver.h
  src/platform/GenericOTARequestorDriver.cpp
  src/platform/GenericOTARequestorDriver.h
  zzz_generated/app-common/app-common/zap-generated/attributes/Accessors.cpp
  zzz_generated/app-common/app-common/zap-generated/attributes/Accessors.h
  zzz_generated/app-common/app-common/zap-generated/cluster-objects.h
  zzz_generated/app-common/app-common/zap-generated/enums.h
  zzz_generated/chip-tool/zap-generated/cluster/Commands.h
Labels: examples, platform, darwin, controller, app, review - approved

#13322 Add missing parts in Localization Configuration cluster
  src/app/zap-templates/zcl/data-model/chip/localization-configuration-cluster.xml
  src/controller/python/chip/clusters/Objects.py
  zzz_generated/app-common/app-common/zap-generated/attribute-id.h
  zzz_generated/app-common/app-common/zap-generated/attributes/Accessors.cpp
  zzz_generated/app-common/app-common/zap-generated/attributes/Accessors.h
  zzz_generated/app-common/app-common/zap-generated/cluster-objects.cpp
  zzz_generated/app-common/app-common/zap-generated/cluster-objects.h
  zzz_generated/app-common/app-common/zap-generated/ids/Attributes.h
Labels: controller, app, review - approved

#13324 Add missing parts in Time Format cluster
  src/app/zap-templates/zcl/data-model/chip/localization-time-format-cluster.xml
  src/controller/python/chip/clusters/Objects.py
  src/darwin/Framework/CHIP/zap-generated/CHIPCallbackBridge.mm
  src/darwin/Framework/CHIP/zap-generated/CHIPCallbackBridge_internal.h
  zzz_generated/app-common/app-common/zap-generated/attribute-id.h
  zzz_generated/app-common/app-common/zap-generated/attributes/Accessors.cpp
  zzz_generated/app-common/app-common/zap-generated/attributes/Accessors.h
  zzz_generated/app-common/app-common/zap-generated/cluster-objects.cpp
  zzz_generated/app-common/app-common/zap-generated/cluster-objects.h
  zzz_generated/app-common/app-common/zap-generated/ids/Attributes.h
Labels: darwin, controller, app, review - pending, fast track

#13158 Remove labeler (unworkable) from CI subsystem
  .github/workflows/labeler.yaml
Labels: github, workflows, review - approved

#13236 fix parameter error in 32 bits system
  examples/tv-app/android/java/MediaPlaybackManager.cpp
Labels: examples, review - approved

#13110 Change the VendorID attribute in Basic Information to the vendor_id type.
  src/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/clusterclient/BasicClientFragment.kt
  src/app/clusters/basic/basic.cpp
  src/app/clusters/ota-requestor/OTARequestor.cpp
  src/app/zap-templates/zcl/data-model/chip/basic-information-cluster.xml
  src/controller/CHIPDeviceController.cpp
  src/controller/CHIPDeviceController.h
  src/controller/java/zap-generated/CHIPClusters-JNI.cpp
  src/controller/java/zap-generated/CHIPClustersRead-JNI.cpp
  src/controller/java/zap-generated/CHIPReadCallbacks.cpp
  src/controller/java/zap-generated/CHIPReadCallbacks.h
  src/controller/java/zap-generated/chip/devicecontroller/ChipClusters.java
  src/controller/java/zap-generated/chip/devicecontroller/ClusterReadMapping.java
  src/darwin/Framework/CHIP/zap-generated/CHIPAttributeTLVValueDecoder.mm
  src/darwin/Framework/CHIP/zap-generated/CHIPClustersObjc.mm
  src/darwin/Framework/CHIP/zap-generated/CHIPTestClustersObjc.mm
  zzz_generated/all-clusters-app/zap-generated/endpoint_config.h
  zzz_generated/app-common/app-common/zap-generated/attributes/Accessors.cpp
  zzz_generated/app-common/app-common/zap-generated/attributes/Accessors.h
  zzz_generated/app-common/app-common/zap-generated/cluster-objects.h
  zzz_generated/bridge-app/zap-generated/endpoint_config.h
  zzz_generated/chip-tool/zap-generated/cluster/Commands.h
  zzz_generated/chip-tool/zap-generated/test/Commands.h
  zzz_generated/lighting-app/zap-generated/endpoint_config.h
  zzz_generated/lock-app/zap-generated/endpoint_config.h
  zzz_generated/ota-requestor-app/zap-generated/endpoint_config.h
  zzz_generated/placeholder/app1/zap-generated/endpoint_config.h
  zzz_generated/placeholder/app2/zap-generated/endpoint_config.h
  zzz_generated/pump-app/zap-generated/endpoint_config.h
  zzz_generated/pump-controller-app/zap-generated/endpoint_config.h
  zzz_generated/temperature-measurement-app/zap-generated/endpoint_config.h
  zzz_generated/thermostat/zap-generated/endpoint_config.h
  zzz_generated/tv-app/zap-generated/endpoint_config.h
  zzz_generated/tv-casting-app/zap-generated/endpoint_config.h
  zzz_generated/window-app/zap-generated/endpoint_config.h
Labels: darwin, controller, android, app, review - approved

#13325 [Android] Pass network credentials to pairDevice()
  src/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/CHIPToolActivity.kt
  src/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/bluetooth/BluetoothManager.kt
  src/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/provisioning/AddressCommissioningFragment.kt
  src/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/provisioning/DeviceProvisioningFragment.kt
  src/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/provisioning/EnterNetworkFragment.kt
  src/controller/java/AndroidDeviceControllerWrapper.cpp
  src/controller/java/AndroidDeviceControllerWrapper.h
  src/controller/java/BUILD.gn
  src/controller/java/CHIPDeviceController-JNI.cpp
  src/controller/java/src/chip/devicecontroller/ChipDeviceController.java
  src/controller/java/src/chip/devicecontroller/NetworkCredentials.java
Labels: controller, android, review - pending, fast track

#13329 [OTA] Support multiple sequential BDX transfers
  examples/ota-provider-app/linux/main.cpp
  examples/ota-provider-app/ota-provider-common/BdxOtaSender.cpp
  examples/ota-provider-app/ota-provider-common/OTAProviderExample.cpp
  examples/ota-provider-app/ota-provider-common/OTAProviderExample.h
  src/app/clusters/ota-requestor/BDXDownloader.cpp
Labels: examples, app, review - approved

#13335 Fix ZAP CI.
  zzz_generated/door-lock-app/zap-generated/endpoint_config.h
Labels: hotfix

#13234 Introduce an IntrusiveList
  src/lib/support/IntrusiveList.h
  src/lib/support/tests/BUILD.gn
  src/lib/support/tests/TestIntrusiveList.cpp
Labels: lib, review - pending, fast track

#13337 bump binaries generation timeout to 30min for cirque
  .github/workflows/cirque.yaml
Labels: hotfix, github, workflows, review - pending

#13339 Add avahi-utils to the raspi deps in building guide doc
  docs/guides/BUILDING.md
Labels: documentation, review - pending, fast track

#13342 Add avahi to an acceptable spellcheck word
  .github/.wordlist.txt
Labels: hotfix, github

#13323 Replace Wifi by WiFi into src/
  examples/all-clusters-app/esp32/README.md
  examples/all-clusters-app/esp32/main/main.cpp
  examples/chip-tool/commands/pairing/PairingCommand.cpp
  examples/ipv6only-app/common/wifi_service/wifi_service.proto
  examples/ipv6only-app/esp32/README.md
  examples/ipv6only-app/esp32/include/wifi_service.h
  examples/ipv6only-app/esp32/main/main.cpp
  examples/ipv6only-app/esp32/main/wifi_service.cpp
  examples/platform/linux/AppMain.cpp
  src/controller/AutoCommissioner.cpp
  src/controller/CHIPDeviceController.cpp
  src/controller/CommissioningDelegate.h
  src/controller/python/ChipDeviceController-ScriptBinding.cpp
  src/controller/python/chip-device-ctrl.py
  src/controller/python/chip/ChipDeviceCtrl.py
  src/controller/python/chip/ble/commissioning/__init__.py
  src/controller/python/chip/server/ServerInit.cpp
  src/darwin/CHIPTool/CHIPTool.xcodeproj/project.pbxproj
  src/darwin/CHIPTool/CHIPTool/View Controllers/QRCode/QRCodeViewController.m
  src/darwin/CHIPTool/CHIPTool/View Controllers/RootViewController.m
  src/darwin/CHIPTool/CHIPTool/View Controllers/WiFi/WiFiViewController.h
  src/darwin/CHIPTool/CHIPTool/View Controllers/WiFi/WiFiViewController.m
  src/include/platform/ConnectivityManager.h
  src/include/platform/internal/GenericConnectivityManagerImpl_NoWiFi.h
  src/include/platform/internal/GenericConnectivityManagerImpl_WiFi.h
  src/lib/shell/commands/WiFi.cpp
  src/platform/Ameba/ConnectivityManagerImpl.cpp
  src/platform/Ameba/ConnectivityManagerImpl.h
  src/platform/ESP32/CHIPDevicePlatformEvent.h
  src/platform/ESP32/ConnectivityManagerImpl.h
  src/platform/ESP32/ConnectivityManagerImpl_WiFi.cpp
  src/platform/ESP32/PlatformManagerImpl.cpp
  src/platform/P6/ConnectivityManagerImpl.cpp
  src/platform/P6/ConnectivityManagerImpl.h
  src/platform/Tizen/ConnectivityManagerImpl.cpp
  src/platform/Tizen/WiFiManager.cpp
  src/platform/Tizen/WiFiManager.h
  src/platform/mbed/ConnectivityManagerImpl.cpp
  src/platform/mbed/ConnectivityManagerImpl.h
Labels: examples, platform, darwin, esp32, lib, controller, review - pending, fast track

#12763 Adding -Wformat-nonliteral check
  .github/workflows/examples-esp32.yaml
  build/config/compiler/BUILD.gn
  config/ameba/chip.cmake
  examples/all-clusters-app/esp32/CMakeLists.txt
  examples/platform/telink/util/src/ThreadUtil.cpp
  src/app/MessageDef/MessageDefHelper.cpp
  src/app/tests/TestEventLogging.cpp
  src/app/tests/TestMessageDef.cpp
  src/app/tests/integration/common.cpp
  src/app/util/ember-print.cpp
  src/controller/python/chip/logging/LoggingRedirect.cpp
  src/darwin/Framework/CHIP.xcodeproj/project.pbxproj
  src/lib/core/CHIPTLV.h
  src/lib/core/tests/TestCHIPTLV.cpp
  src/lib/dnssd/Discovery_ImplPlatform.cpp
  src/lib/shell/streamer.cpp
  src/lib/support/BUILD.gn
  src/lib/support/CHIPArgParser.cpp
  src/lib/support/DefaultStorageKeyAllocator.h
  src/lib/support/EnforceFormat.h
  src/lib/support/logging/CHIPLogging.h
  src/lib/support/tests/TestCHIPArgParser.cpp
  src/platform/Darwin/Logging.cpp
  src/platform/ESP32/Logging.cpp
  src/platform/Linux/Logging.cpp
  src/platform/Tizen/Logging.cpp
  src/platform/Zephyr/Logging.cpp
  src/platform/logging/BUILD.gn
  src/platform/logging/LogV.h
  src/platform/logging/impl/android/Logging.cpp
  src/platform/logging/impl/stdio/Logging.cpp
  src/platform/mbed/Logging.cpp
  src/platform/nxp/k32w/k32w0/Logging.cpp
  src/platform/qpg/Logging.cpp
  third_party/mbedtls/mbedtls.gni
Labels: examples, platform, darwin, esp32, linux, zephyr, lib, controller, app, config, github, workflows, review - approved

#13172 Implement persistent storage for attributes with "NVM" storage selected.
  examples/all-clusters-app/all-clusters-common/all-clusters-app.zap
  examples/all-clusters-app/esp32/main/main.cpp
  src/app/AttributePersistenceProvider.h
  src/app/BUILD.gn
  src/app/DefaultAttributePersistenceProvider.cpp
  src/app/DefaultAttributePersistenceProvider.h
  src/app/server/Server.cpp
  src/app/server/Server.h
  src/app/tests/BUILD.gn
  src/app/tests/suites/certification/Test_TC_LVL_2_1.yaml
  src/app/tests/suites/certification/Test_TC_LVL_3_1.yaml
  src/app/tests/suites/certification/Test_TC_LVL_4_1.yaml
  src/app/util/af-types.h
  src/app/util/af.h
  src/app/util/attribute-metadata.h
  src/app/util/attribute-storage.cpp
  src/app/util/attribute-storage.h
  src/app/util/mock/attribute-storage.cpp
  src/darwin/Framework/CHIPTests/CHIPClustersTests.m
  src/lib/support/DefaultStorageKeyAllocator.h
  src/platform/BUILD.gn
  zzz_generated/all-clusters-app/zap-generated/endpoint_config.h
  zzz_generated/chip-tool/zap-generated/test/Commands.h
Labels: examples, platform, darwin, lib, app, review - approved

#13142 Fix YAML tests handling of lists of structs that contain lists.
  examples/chip-tool/templates/partials/test_cluster.zapt
  examples/chip-tool/templates/partials/test_cluster_command_value.zapt
  examples/chip-tool/templates/partials/test_cluster_value_equals.zapt
  src/app/clusters/test-cluster-server/test-cluster-server.cpp
  src/app/tests/suites/TestCluster.yaml
  src/app/tests/suites/TestModeSelectCluster.yaml
  src/app/tests/suites/certification/Test_TC_DM_2_2.yaml
  src/app/zap-templates/common/ClusterTestGeneration.js
  src/app/zap-templates/templates/app/helper.js
  src/app/zap-templates/zcl/data-model/chip/test-cluster.xml
  src/controller/python/chip/clusters/CHIPClusters.py
  src/darwin/Framework/CHIP/templates/helper.js
  src/darwin/Framework/CHIP/templates/partials/check_test_value.zapt
  src/darwin/Framework/CHIP/templates/partials/test_value.zapt
  src/darwin/Framework/CHIP/zap-generated/CHIPClustersObjc.h
  src/darwin/Framework/CHIP/zap-generated/CHIPClustersObjc.mm
  src/darwin/Framework/CHIP/zap-generated/CHIPTestClustersObjc.h
  src/darwin/Framework/CHIP/zap-generated/CHIPTestClustersObjc.mm
  src/darwin/Framework/CHIPTests/CHIPClustersTests.m
  zzz_generated/all-clusters-app/zap-generated/endpoint_config.h
  zzz_generated/chip-tool/zap-generated/test/Commands.h
Labels: examples, darwin, controller, app, review - approved

#13060 [shell] Add 'server' command to shell app.
  .github/.wordlist.txt
  examples/platform/efr32/matter_shell.cpp
  examples/shell/README.md
  examples/shell/README_SERVER.md
  examples/shell/esp32/main/main.cpp
  examples/shell/mbed/main/main.cpp
  examples/shell/shell_common/BUILD.gn
  examples/shell/shell_common/cmd_server.cpp
  examples/shell/shell_common/include/ChipShellCollection.h
  examples/shell/standalone/main.cpp
  src/app/clusters/basic/basic.cpp
  src/app/clusters/ota-provider/ota-provider.cpp
  src/app/server/Server.cpp
  src/app/server/Server.h
  src/lib/shell/Engine.cpp
  src/lib/shell/Engine.h
  src/lib/shell/MainLoopDefault.cpp
  src/lib/shell/MainLoopEFR32.cpp
  src/lib/shell/MainLoopESP32.cpp
  src/lib/shell/commands/Meta.cpp
  src/transport/SessionManager.cpp
  src/transport/SessionManager.h
Labels: examples, transport, lib, app, github, review - approved

#13349 Fix android wifi rename
  src/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/CHIPToolActivity.kt
  src/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/SelectActionFragment.kt
  src/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/provisioning/EnterNetworkFragment.kt
  src/android/CHIPTool/app/src/main/res/layout/select_action_fragment.xml
  src/controller/java/AndroidDeviceControllerWrapper.cpp
  src/controller/java/src/chip/devicecontroller/NetworkCredentials.java
Labels: hotfix, controller, android

#13344 Bump some test timeouts.
  .github/workflows/darwin.yaml
  .github/workflows/qemu.yaml
Labels: github, workflows, review - pending, fast track

#13346 [EFR32] fix BLE not advertising at boot while device is not provisionned
  src/platform/EFR32/ConfigurationManagerImpl.cpp
  src/platform/EFR32/EFR32Config.h
Labels: platform, efr32, review - pending, fast track

#13341 [Android] Expose EstablishPaseConnection to Java
  src/controller/java/CHIPDeviceController-JNI.cpp
  src/controller/java/src/chip/devicecontroller/ChipDeviceController.java
Labels: controller, review - pending, fast track

#13368 Revert "[shell] Add 'server' command to shell app. (#13060)"
  .github/.wordlist.txt
  examples/platform/efr32/matter_shell.cpp
  examples/shell/README.md
  examples/shell/README_SERVER.md
  examples/shell/esp32/main/main.cpp
  examples/shell/mbed/main/main.cpp
  examples/shell/shell_common/BUILD.gn
  examples/shell/shell_common/cmd_server.cpp
  examples/shell/shell_common/include/ChipShellCollection.h
  examples/shell/standalone/main.cpp
  src/app/clusters/basic/basic.cpp
  src/app/clusters/ota-provider/ota-provider.cpp
  src/app/server/Server.cpp
  src/app/server/Server.h
  src/lib/shell/Engine.cpp
  src/lib/shell/Engine.h
  src/lib/shell/MainLoopDefault.cpp
  src/lib/shell/MainLoopEFR32.cpp
  src/lib/shell/MainLoopESP32.cpp
  src/lib/shell/commands/Meta.cpp
  src/transport/SessionManager.cpp
  src/transport/SessionManager.h
Labels: examples, hotfix, transport, lib, app, github, review - pending

#13321 [GeneralCommissioning] Return response data on general commissioning …
  src/app/clusters/general-commissioning-server/general-commissioning-server.cpp
Labels: app, review - approved

#13331 [K32W0] Add OTA for the lighting application
  examples/lighting-app/nxp/k32w/k32w0/BUILD.gn
  examples/lighting-app/nxp/k32w/k32w0/args.gni
  examples/lighting-app/nxp/k32w/k32w0/main/AppTask.cpp
  examples/lighting-app/nxp/k32w/k32w0/main/include/AppTask.h
  examples/lighting-app/nxp/k32w/k32w0/main/include/app_config.h
  src/platform/nxp/k32w/k32w0/BUILD.gn
  src/platform/nxp/k32w/k32w0/OTAImageProcessorImpl.cpp
  src/platform/nxp/k32w/k32w0/OTAImageProcessorImpl.h
  src/platform/nxp/k32w/k32w0/args.gni
  third_party/nxp/k32w0_sdk/k32w0_sdk.gni
  third_party/nxp/k32w0_sdk/sdk_fixes/OtaUtils.c
  third_party/nxp/k32w0_sdk/sdk_fixes/patch_k32w_sdk.sh
Labels: examples, platform, review - approved

#13364 ESP: Add chip shell engine initializing for esp32 platform
  examples/platform/esp32/shell_extension/launch.cpp
Labels: examples, review - approved

#13373 Revert "Bugfix: Add chip shell engine initializing for esp32 platform…
  examples/platform/esp32/shell_extension/launch.cpp
Labels: examples, review - pending

#13370 [OpenThread Platform] Update the dnssd code to dispatch browse and re…
  src/platform/OpenThread/GenericThreadStackManagerImpl_OpenThread.cpp
  src/platform/OpenThread/GenericThreadStackManagerImpl_OpenThread.h
Labels: platform, openthread, review - approved

#13372 Set peer node ID for PASE sessions
  src/lib/core/NodeId.h
  src/protocols/secure_channel/PASESession.cpp
  src/protocols/secure_channel/PASESession.h
Labels: lib, review - approved

#13351 Update misplaced removal of an event handler.
  examples/placeholder/linux/include/TestCommand.h
Labels: examples, review - pending, fast track

#13139 Add missing clusters to simulated device
  examples/placeholder/linux/apps/app1/config.zap
  examples/placeholder/linux/apps/app2/config.zap
  src/app/zap-templates/common/ClusterTestGeneration.js
  zzz_generated/placeholder/app1/zap-generated/CHIPClientCallbacks.cpp
  zzz_generated/placeholder/app1/zap-generated/CHIPClientCallbacks.h
  zzz_generated/placeholder/app1/zap-generated/CHIPClusters.cpp
  zzz_generated/placeholder/app1/zap-generated/CHIPClusters.h
  zzz_generated/placeholder/app1/zap-generated/IMClusterCommandHandler.cpp
  zzz_generated/placeholder/app1/zap-generated/PluginApplicationCallbacks.h
  zzz_generated/placeholder/app1/zap-generated/callback-stub.cpp
  zzz_generated/placeholder/app1/zap-generated/endpoint_config.h
  zzz_generated/placeholder/app1/zap-generated/gen_config.h
  zzz_generated/placeholder/app2/zap-generated/CHIPClientCallbacks.cpp
  zzz_generated/placeholder/app2/zap-generated/CHIPClientCallbacks.h
  zzz_generated/placeholder/app2/zap-generated/CHIPClusters.cpp
  zzz_generated/placeholder/app2/zap-generated/CHIPClusters.h
  zzz_generated/placeholder/app2/zap-generated/IMClusterCommandHandler.cpp
  zzz_generated/placeholder/app2/zap-generated/PluginApplicationCallbacks.h
  zzz_generated/placeholder/app2/zap-generated/callback-stub.cpp
  zzz_generated/placeholder/app2/zap-generated/endpoint_config.h
  zzz_generated/placeholder/app2/zap-generated/gen_config.h
Labels: examples, app, review - pending, fast track

#13374 Use enum class for GeneralCommissioning::RegulatoryLocationType
  src/app/clusters/general-commissioning-server/general-commissioning-server.cpp
  src/app/zap-templates/templates/app/helper.js
  src/controller/CHIPDeviceController.cpp
  src/include/platform/ConfigurationManager.h
  src/platform/Linux/ConfigurationManagerImpl.cpp
  zzz_generated/app-common/app-common/zap-generated/cluster-objects.h
  zzz_generated/app-common/app-common/zap-generated/enums.h
Labels: platform, linux, controller, app, review - approved

#13355 Rename LabelList to AttributeList to be used by all clusters
  src/app/clusters/fixed-label-server/fixed-label-server.cpp
  src/app/clusters/user-label-server/user-label-server.cpp
  src/include/platform/AttributeList.h
  src/include/platform/PlatformManager.h
  src/include/platform/internal/GenericPlatformManagerImpl.h
  src/platform/Darwin/PlatformManagerImpl.cpp
  src/platform/Darwin/PlatformManagerImpl.h
  src/platform/Linux/PlatformManagerImpl.cpp
  src/platform/Linux/PlatformManagerImpl.h
  src/platform/fake/PlatformManagerImpl.h
Labels: platform, darwin, linux, app, review - approved

#13377 [shell] Add 'server' command to shell app.
  .github/.wordlist.txt
  examples/platform/efr32/matter_shell.cpp
  examples/platform/esp32/shell_extension/launch.cpp
  examples/shell/README.md
  examples/shell/README_SERVER.md
  examples/shell/esp32/main/main.cpp
  examples/shell/mbed/main/main.cpp
  examples/shell/shell_common/BUILD.gn
  examples/shell/shell_common/cmd_server.cpp
  examples/shell/shell_common/include/ChipShellCollection.h
  examples/shell/standalone/main.cpp
  src/app/clusters/basic/basic.cpp
  src/app/clusters/ota-provider/ota-provider.cpp
  src/lib/shell/Engine.cpp
  src/lib/shell/Engine.h
  src/lib/shell/MainLoopDefault.cpp
  src/lib/shell/MainLoopEFR32.cpp
  src/lib/shell/MainLoopESP32.cpp
  src/lib/shell/commands/Meta.cpp
  src/transport/SessionManager.cpp
  src/transport/SessionManager.h
Labels: examples, transport, lib, app, config, github, review - approved

#13115 [YAML] Add a mechanism to declare command line variables directly from YAML and support it inside chip-tool
  examples/chip-tool/commands/tests/TestCommand.h
  examples/chip-tool/templates/partials/test_cluster.zapt
  examples/chip-tool/templates/partials/test_cluster_command_value.zapt
  examples/chip-tool/templates/partials/test_cluster_value_equals.zapt
  examples/chip-tool/templates/tests.js
  examples/placeholder/linux/include/TestCommand.h
  examples/placeholder/templates/templates.json
  src/app/tests/suites/TestConfigVariables.yaml
  src/app/zap-templates/common/ClusterTestGeneration.js
  src/app/zap-templates/common/variables/Variables.js
  zzz_generated/chip-tool/zap-generated/test/Commands.h
  zzz_generated/placeholder/app1/zap-generated/test/Commands.h
  zzz_generated/placeholder/app2/zap-generated/test/Commands.h
Labels: examples, app, review - pending, fast track

#13384 Add cats to subject descriptor
  src/transport/SecureSession.cpp
Labels: transport, review - pending, fast track

#13357 Cleanup CASESession and PASESession lifetime
  src/app/OperationalDeviceProxy.cpp
  src/app/OperationalDeviceProxy.h
  src/protocols/secure_channel/CASESession.cpp
  src/protocols/secure_channel/CASESession.h
  src/protocols/secure_channel/PASESession.cpp
  src/protocols/secure_channel/PASESession.h
Labels: app, review - approved

#13386 [shell] Improve session pretty print to properly handle all types.
  examples/shell/shell_common/cmd_server.cpp
Labels: examples, review - approved

#13174 [esp32] Add lighting example
  .github/workflows/examples-esp32.yaml
  examples/all-clusters-app/esp32/main/Kconfig.projbuild
  examples/lighting-app/esp32/.gitignore
  examples/lighting-app/esp32/CMakeLists.txt
  examples/lighting-app/esp32/README.md
  examples/lighting-app/esp32/main/CHIPDeviceManager.cpp
  examples/lighting-app/esp32/main/CMakeLists.txt
  examples/lighting-app/esp32/main/DeviceCallbacks.cpp
  examples/lighting-app/esp32/main/Kconfig.projbuild
  examples/lighting-app/esp32/main/LEDWidget.cpp
  examples/lighting-app/esp32/main/include/CHIPDeviceManager.h
  examples/lighting-app/esp32/main/include/DeviceCallbacks.h
  examples/lighting-app/esp32/main/include/LEDWidget.h
  examples/lighting-app/esp32/main/main.cpp
  examples/lighting-app/esp32/partitions.csv
  examples/lighting-app/esp32/sdkconfig.defaults
  examples/lighting-app/esp32/third_party/connectedhomeip
  scripts/build/build/targets.py
  scripts/build/builders/esp32.py
  scripts/build/testdata/all_targets_except_host.txt
  scripts/build/testdata/build_all_except_host.txt
  scripts/build/testdata/glob_star_targets_except_host.txt
Labels: examples, scripts, github, workflows, review - approved

#13390 Use connectedhomeip/chip-build-zap image in CI
  .github/workflows/zap_regeneration.yaml
  .github/workflows/zap_templates.yaml
Labels: github, workflows, review - approved

#13359 [K32W0] Enable SHA256 HW acceleration
  examples/lighting-app/nxp/k32w/k32w0/main/main.cpp
  examples/lock-app/nxp/k32w/k32w0/main/main.cpp
  src/platform/nxp/k32w/k32w0/k32w0-chip-mbedtls-config.h
Labels: examples, platform, review - pending, fast track

#13366 Test added jan 7
  examples/chip-tool/templates/tests.js
  src/app/tests/suites/certification/Test_TC_BI_1_1.yaml
  src/app/tests/suites/certification/Test_TC_BI_2_1.yaml
  src/app/tests/suites/certification/Test_TC_BOOL_1_1.yaml
  src/app/tests/suites/certification/Test_TC_BOOL_2_1.yaml
  src/app/tests/suites/certification/Test_TC_CC_1_1.yaml
  src/app/tests/suites/certification/Test_TC_CC_2_1.yaml
  src/app/tests/suites/certification/Test_TC_CC_7_4.yaml
  src/app/tests/suites/certification/Test_TC_FLW_1_1.yaml
  src/app/tests/suites/certification/Test_TC_FLW_2_1.yaml
  src/app/tests/suites/certification/Test_TC_FLW_2_2.yaml
  src/app/tests/suites/certification/Test_TC_MC_3_1.yaml
  src/app/tests/suites/certification/Test_TC_MC_3_10.yaml
  src/app/tests/suites/certification/Test_TC_MC_3_11.yaml
  src/app/tests/suites/certification/Test_TC_MC_3_2.yaml
  src/app/tests/suites/certification/Test_TC_MC_3_3.yaml
  src/app/tests/suites/certification/Test_TC_MC_3_4.yaml
  src/app/tests/suites/certification/Test_TC_MC_3_6.yaml
  src/app/tests/suites/certification/Test_TC_MC_3_7.yaml
  src/app/tests/suites/certification/Test_TC_MC_3_9.yaml
  src/app/tests/suites/certification/Test_TC_OO_2_1.yaml
  src/app/tests/suites/certification/Test_TC_PCC_2_1.yaml
  src/app/tests/suites/certification/Test_TC_PCC_2_3.yaml
  src/app/tests/suites/certification/Test_TC_PRS_2_1.yaml
  src/app/tests/suites/certification/Test_TC_RH_2_1.yaml
  src/app/tests/suites/certification/Test_TC_SWDIAG_1_1.yaml
  src/app/tests/suites/certification/Test_TC_SWDIAG_2_1.yaml
  src/app/tests/suites/certification/Test_TC_SWDIAG_3_1.yaml
  src/app/tests/suites/certification/Test_TC_TM_2_1.yaml
  src/app/tests/suites/certification/Test_TC_TSTAT_2_1.yaml
  src/darwin/Framework/CHIP/templates/tests.js
  src/darwin/Framework/CHIPTests/CHIPClustersTests.m
  zzz_generated/chip-tool/zap-generated/test/Commands.h
Labels: examples, app, review - pending, fast track

#13348 Make "contains" take a const argument in intrusive list
  src/lib/support/IntrusiveList.h
  src/lib/support/tests/TestIntrusiveList.cpp
Labels: lib, review - approved

#13394 [ESP32] Fix ota-provider-app build failure
  examples/ota-provider-app/esp32/main/BdxOtaSender.cpp
  examples/ota-provider-app/esp32/main/include/ota-provider-common/BdxOtaSender.h
  examples/ota-provider-app/esp32/main/main.cpp
Labels: examples, review - approved

#13287 [ble] Fixed controller not being able to commission device after first attempt failure
  src/controller/CHIPDeviceController.cpp
  src/transport/raw/BLE.cpp
Labels: transport, controller, review - approved

#13212 [ESP32] Add ESP32 OTA provider and requestor app to CI builds
  .github/workflows/examples-esp32.yaml
  examples/ota-requestor-app/esp32/CMakeLists.txt
Labels: examples, github, workflows, review - approved

#13395 Use GetAccessingFabricIndex in a few more places.
  examples/ota-provider-app/ota-provider-common/OTAProviderExample.cpp
  src/app/clusters/ota-requestor/OTARequestor.cpp
  src/app/clusters/scenes/scenes.cpp
Labels: examples, app, review - approved

#13406 [Ameba] Revise dockerfile for toolchain update
  integrations/docker/images/chip-build-ameba/Dockerfile
  integrations/docker/images/chip-build/version
Labels: integrations, review - pending, fast track

#13246 [ESP32] Init OTA requestor in all-clusters-app
  examples/all-clusters-app/all-clusters-common/all-clusters-app.zap
  examples/all-clusters-app/esp32/main/CMakeLists.txt
  examples/all-clusters-app/esp32/main/main.cpp
  src/app/tests/suites/TestDescriptorCluster.yaml
  src/darwin/Framework/CHIPTests/CHIPClustersTests.m
  src/lib/shell/commands/Ota.cpp
  zzz_generated/all-clusters-app/zap-generated/CHIPClientCallbacks.cpp
  zzz_generated/all-clusters-app/zap-generated/CHIPClientCallbacks.h
  zzz_generated/all-clusters-app/zap-generated/CHIPClusters.cpp
  zzz_generated/all-clusters-app/zap-generated/CHIPClusters.h
  zzz_generated/all-clusters-app/zap-generated/IMClusterCommandHandler.cpp
  zzz_generated/all-clusters-app/zap-generated/PluginApplicationCallbacks.h
  zzz_generated/all-clusters-app/zap-generated/endpoint_config.h
  zzz_generated/all-clusters-app/zap-generated/gen_config.h
  zzz_generated/chip-tool/zap-generated/test/Commands.h
Labels: examples, darwin, lib, app, review - approved

#13391 Stop using GroupId for the type of a PAKE key id.
  src/lib/core/NodeId.h
Labels: lib, review - approved

#13403 Add support for ActiveLocale in ConfigurationMgr
  src/include/platform/ConfigurationManager.h
  src/include/platform/internal/GenericConfigurationManagerImpl.cpp
  src/include/platform/internal/GenericConfigurationManagerImpl.h
  src/platform/Ameba/AmebaConfig.cpp
  src/platform/Ameba/AmebaConfig.h
  src/platform/Darwin/PosixConfig.cpp
  src/platform/Darwin/PosixConfig.h
  src/platform/EFR32/EFR32Config.h
  src/platform/ESP32/ESP32Config.cpp
  src/platform/ESP32/ESP32Config.h
  src/platform/Linux/PosixConfig.cpp
  src/platform/Linux/PosixConfig.h
  src/platform/P6/P6Config.cpp
  src/platform/P6/P6Config.h
  src/platform/Tizen/PosixConfig.cpp
  src/platform/Tizen/PosixConfig.h
  src/platform/Zephyr/ZephyrConfig.cpp
  src/platform/Zephyr/ZephyrConfig.h
  src/platform/android/AndroidConfig.cpp
  src/platform/android/AndroidConfig.h
  src/platform/android/java/chip/platform/ConfigurationManager.java
  src/platform/cc13x2_26x2/CC13X2_26X2Config.cpp
  src/platform/cc13x2_26x2/CC13X2_26X2Config.h
  src/platform/fake/ConfigurationManagerImpl.h
  src/platform/mbed/MbedConfig.cpp
  src/platform/mbed/MbedConfig.h
  src/platform/nxp/k32w/k32w0/K32W0Config.h
  src/platform/qpg/qpgConfig.h
  src/platform/tests/TestConfigurationMgr.cpp
Labels: platform, darwin, efr32, esp32, linux, zephyr, review - approved

#13413 [mrp] Fix MRP after a recent refactoring
  src/controller/CHIPDeviceController.cpp
  src/messaging/ReliableMessageMgr.cpp
  src/messaging/tests/MessagingContext.h
  src/messaging/tests/TestReliableMessageProtocol.cpp
  src/transport/raw/tests/NetworkTestHelpers.cpp
Labels: transport, controller, fast track

#13417 Regen zap
  zzz_generated/all-clusters-app/zap-generated/IMClusterCommandHandler.cpp
Labels: hotfix, review - pending

#13285 Fix lighting-app build error for nrf52840dongle
  .github/workflows/examples-nrfconnect.yaml
  examples/lighting-app/nrfconnect/CMakeLists.txt
  examples/lighting-app/nrfconnect/boards/nrf52840dongle_nrf52840.conf
  examples/lighting-app/nrfconnect/boards/nrf52840dongle_nrf52840.overlay
  examples/lighting-app/nrfconnect/main/main.cpp
  examples/lock-app/nrfconnect/CMakeLists.txt
  examples/pigweed-app/nrfconnect/CMakeLists.txt
  examples/pump-app/nrfconnect/CMakeLists.txt
  examples/pump-controller-app/nrfconnect/CMakeLists.txt
  examples/shell/nrfconnect/CMakeLists.txt
  scripts/build/build/targets.py
  scripts/build/builders/nrf.py
  scripts/build/testdata/all_targets_except_host.txt
  scripts/build/testdata/build_all_except_host.txt
  scripts/build/testdata/glob_star_targets_except_host.txt
Labels: examples, scripts, github, workflows, review - approved

#13421 Test added jan 10
  src/app/tests/suites/certification/Test_TC_CC_2_1.yaml
  src/app/tests/suites/certification/Test_TC_PCC_2_1.yaml
  src/app/tests/suites/certification/Test_TC_RH_2_1.yaml
  src/app/tests/suites/certification/Test_TC_SWDIAG_3_1.yaml
  src/app/tests/suites/certification/Test_TC_TM_2_1.yaml
  src/darwin/Framework/CHIPTests/CHIPClustersTests.m
  zzz_generated/chip-tool/zap-generated/test/Commands.h
Labels: darwin, app, review - pending, fast track

#13380 Switch to having only one struct named LabelStruct.
  examples/chip-tool/templates/commands.zapt
  examples/chip-tool/templates/partials/log_struct_value.zapt
  examples/chip-tool/templates/templates.json
  src/app/common/templates/templates.json
  src/app/zap-templates/partials/cluster-objects-struct.zapt
  src/app/zap-templates/templates/app/cluster-objects-src.zapt
  src/app/zap-templates/templates/app/cluster-objects.zapt
  src/app/zap-templates/templates/app/helper.js
  src/app/zap-templates/zcl/data-model/chip/fixed-label-cluster.xml
  src/app/zap-templates/zcl/data-model/chip/user-label-cluster.xml
  src/darwin/Framework/CHIP/zap-generated/CHIPAttributeTLVValueDecoder.mm
  src/darwin/Framework/CHIP/zap-generated/CHIPCallbackBridge.mm
  src/darwin/Framework/CHIP/zap-generated/CHIPClustersObjc.mm
  src/darwin/Framework/CHIP/zap-generated/CHIPTestClustersObjc.mm
  zzz_generated/app-common/app-common/zap-generated/cluster-objects.cpp
  zzz_generated/app-common/app-common/zap-generated/cluster-objects.h
  zzz_generated/chip-tool/zap-generated/cluster/Commands.h
Labels: examples, darwin, app, review - approved

#13072 Enforce spec range restrictions on most nullable integer types for command/struct fields.
  src/app/data-model/Decode.h
  src/app/data-model/Encode.h
  src/app/data-model/Nullable.h
  src/darwin/CHIPTool/CHIPTool/Framework Helpers/DefaultsUtils.m
  src/darwin/CHIPTool/CHIPTool/View Controllers/QRCode/QRCodeViewController.m
  src/darwin/Framework/CHIP/CHIPError.h
  src/darwin/Framework/CHIP/CHIPError.mm
  src/darwin/Framework/CHIP/CHIPError_Internal.h
  src/darwin/Framework/CHIPTests/CHIPErrorTestUtils.mm
  src/lib/core/CHIPError.h
Labels: darwin, lib, app, review - approved

#13436 Increase test cluster time
  examples/chip-tool/commands/tests/TestCommand.h
  src/app/clusters/test-cluster-server/test-cluster-server.cpp
Labels: examples, app, review - approved

#13451 shell: Fixed dns resolve and browse commands
  src/lib/shell/commands/Dns.cpp
Labels: lib, review - approved

#13407 [Ameba] Update yaml file to 0.5.43
  .devcontainer/devcontainer.json
  .github/workflows/android.yaml
  .github/workflows/bloat_check.yaml
  .github/workflows/build.yaml
  .github/workflows/cirque.yaml
  .github/workflows/doxygen.yaml
  .github/workflows/examples-ameba.yaml
  .github/workflows/examples-efr32.yaml
  .github/workflows/examples-esp32.yaml
  .github/workflows/examples-infineon.yaml
  .github/workflows/examples-k32w.yaml
  .github/workflows/examples-linux-arm.yaml
  .github/workflows/examples-linux-standalone.yaml
  .github/workflows/examples-mbed.yaml
  .github/workflows/examples-qpg.yaml
  .github/workflows/examples-telink.yaml
  .github/workflows/examples-tizen.yaml
  .github/workflows/qemu.yaml
  .github/workflows/release_artifacts.yaml
  .github/workflows/tests.yaml
  .github/workflows/unit_integration_test.yaml
  integrations/cloudbuild/build-all.yaml
  integrations/cloudbuild/smoke-test.yaml
Labels: integrations, vscode, github, workflows, review - pending, fast track

#13446 Removed optional tag
  src/app/tests/suites/certification/Test_TC_BI_1_1.yaml
  src/app/tests/suites/certification/Test_TC_BI_2_1.yaml
  src/app/tests/suites/certification/Test_TC_BOOL_1_1.yaml
  src/app/tests/suites/certification/Test_TC_CC_1_1.yaml
  src/app/tests/suites/certification/Test_TC_FLW_1_1.yaml
  src/app/tests/suites/certification/Test_TC_PRS_2_1.yaml
  src/app/tests/suites/certification/Test_TC_SWDIAG_1_1.yaml
  src/app/tests/suites/certification/Test_TC_SWDIAG_2_1.yaml
  src/app/tests/suites/certification/Test_TC_SWDIAG_3_1.yaml
Labels: app, review - pending, fast track

#13423 Fix SEGFAULT when running minmdns client
  examples/minimal-mdns/client.cpp
  src/lib/dnssd/minimal_mdns/Server.cpp
Labels: examples, lib, review - pending, fast track

#13283 ESP: Add ESP32 platform driver for full NetworkCommissioning cluster
  examples/all-clusters-app/esp32/main/CMakeLists.txt
  examples/all-clusters-app/esp32/main/main.cpp
  src/platform/ESP32/BUILD.gn
  src/platform/ESP32/ConnectivityManagerImpl_WiFi.cpp
  src/platform/ESP32/DeviceNetworkProvisioningDelegateImpl.cpp
  src/platform/ESP32/NetworkCommissioningDriver.h
  src/platform/ESP32/NetworkCommissioningWiFiDriver.cpp
  src/platform/ESP32/WiFiProvisioning.cpp
  src/platform/ESP32/WiFiProvisioning.h
Labels: examples, platform, esp32, review - approved

#13433 Add support for HourFormat & CalendarType in ConfigurationMgr
  src/include/platform/ConfigurationManager.h
  src/include/platform/internal/GenericConfigurationManagerImpl.cpp
  src/include/platform/internal/GenericConfigurationManagerImpl.h
  src/platform/Ameba/AmebaConfig.cpp
  src/platform/Ameba/AmebaConfig.h
  src/platform/Darwin/PosixConfig.cpp
  src/platform/Darwin/PosixConfig.h
  src/platform/EFR32/EFR32Config.h
  src/platform/ESP32/ESP32Config.cpp
  src/platform/ESP32/ESP32Config.h
  src/platform/Linux/PosixConfig.cpp
  src/platform/Linux/PosixConfig.h
  src/platform/P6/P6Config.cpp
  src/platform/P6/P6Config.h
  src/platform/Tizen/PosixConfig.cpp
  src/platform/Tizen/PosixConfig.h
  src/platform/Zephyr/ZephyrConfig.cpp
  src/platform/Zephyr/ZephyrConfig.h
  src/platform/android/AndroidConfig.cpp
  src/platform/android/AndroidConfig.h
  src/platform/android/java/chip/platform/ConfigurationManager.java
  src/platform/cc13x2_26x2/CC13X2_26X2Config.cpp
  src/platform/cc13x2_26x2/CC13X2_26X2Config.h
  src/platform/fake/ConfigurationManagerImpl.h
  src/platform/mbed/MbedConfig.cpp
  src/platform/mbed/MbedConfig.h
  src/platform/nxp/k32w/k32w0/K32W0Config.h
  src/platform/qpg/qpgConfig.h
  src/platform/tests/TestConfigurationMgr.cpp
Labels: platform, darwin, efr32, esp32, linux, zephyr, review - approved

#13127 [Group] Implement UDPEndPoint for OpenThread (to enable multicast)
  examples/lighting-app/efr32/args.gni
  examples/platform/efr32/project_include/OpenThreadConfig.h
  src/app/server/Server.cpp
  src/inet/BUILD.gn
  src/inet/UDPEndPoint.h
  src/inet/UDPEndPointImpl_OpenThread.cpp
  src/inet/UDPEndPointImpl_OpenThread.h
  src/platform/OpenThread/GenericThreadStackManagerImpl_OpenThread_LwIP.cpp
  src/system/BUILD.gn
  src/system/SystemPacketBuffer.h
  src/system/system.gni
  src/transport/raw/UDP.cpp
  src/transport/raw/UDP.h
Labels: examples, transport, system, platform, efr32, openthread, inet, app, review - approved

#13456 Fix wrong configuration namespace for cc13x2
  src/platform/cc13x2_26x2/CC13X2_26X2Config.cpp
Labels: platform, review - pending, fast track

#13427 Add additional commissioning bindings to support BLE/IP auto-commissioning
  src/controller/java/AndroidDeviceControllerWrapper.cpp
  src/controller/java/CHIPDeviceController-JNI.cpp
  src/controller/java/src/chip/devicecontroller/ChipDeviceController.java
Labels: controller, review - pending, fast track

#13392 Fix unsafe use of strncpy in OpenThread dns-sd code.
  src/platform/OpenThread/GenericThreadStackManagerImpl_OpenThread.cpp
Labels: platform, openthread, review - approved

#13318 [python] Add timed request support
  src/app/CommandSender.h
  src/controller/python/chip/ChipDeviceCtrl.py
  src/controller/python/chip/clusters/Attribute.py
  src/controller/python/chip/clusters/ClusterObjects.py
  src/controller/python/chip/clusters/Command.py
  src/controller/python/chip/clusters/Objects.py
  src/controller/python/chip/clusters/attribute.cpp
  src/controller/python/chip/clusters/command.cpp
  src/controller/python/templates/python-cluster-Objects-py.zapt
  src/controller/python/test/test_scripts/cluster_objects.py
Labels: controller, app, review - pending, fast track

#13452 Share more code between examples/chip-tool and examples/placeholder
  examples/chip-tool/BUILD.gn
  examples/chip-tool/commands/tests/TestCommand.cpp
  examples/chip-tool/commands/tests/TestCommand.h
  examples/chip-tool/templates/partials/test_cluster.zapt
  examples/placeholder/linux/BUILD.gn
  examples/placeholder/linux/include/TestCommand.h
  src/app/tests/suites/commands/log/BUILD.gn
  src/app/tests/suites/commands/log/LogCommands.cpp
  src/app/tests/suites/commands/log/LogCommands.h
  src/app/tests/suites/include/ConstraintsChecker.h
  src/app/tests/suites/include/PICSChecker.h
  src/app/tests/suites/include/ValueChecker.h
  zzz_generated/chip-tool/zap-generated/test/Commands.h
Labels: examples, app, review - pending, fast track

#13426 Add shell to build_examples for host
  scripts/build/build/targets.py
  scripts/build/builders/host.py
  scripts/build/testdata/build_linux_on_x64.txt
Labels: scripts, review - pending, fast track

#13448 Close exchange when session is released
  src/messaging/ExchangeContext.cpp
Labels: review - approved

#13463 Change InteractionModel::Status to be 8-bit.
  src/app/CommandSender.cpp
  src/app/StatusResponse.cpp
  src/app/tests/TestCommandInteraction.cpp
  src/app/util/im-client-callbacks.cpp
  src/controller/python/chip/interaction_model/Delegate.h
  src/controller/python/chip/interaction_model/delegate.py
  src/protocols/interaction_model/Constants.h
Labels: controller, app, review - approved

#13089 Allow null lists when writing access control cluster ACL entries
  src/app/clusters/access-control-server/access-control-server.cpp
Labels: app, review - approved

#13352 [Android] Support timed invoke and write
  src/controller/java/templates/CHIPClusters-JNI.zapt
  src/controller/java/templates/ChipClusters-java.zapt
  src/controller/java/templates/ClusterInfo-java.zapt
  src/controller/java/templates/ClusterInfo-write-interaction.zapt
  src/controller/java/zap-generated/CHIPClusters-JNI.cpp
  src/controller/java/zap-generated/chip/devicecontroller/ChipClusters.java
  src/controller/java/zap-generated/chip/devicecontroller/ClusterInfoMapping.java
  src/controller/java/zap-generated/chip/devicecontroller/ClusterWriteMapping.java
Labels: controller, review - approved

#13462 Use current time during CASE session handshake
  src/protocols/secure_channel/CASESession.cpp
  src/protocols/secure_channel/CASESession.h
Labels: review - approved

#13469 [Android] Make cluster id a constant instead of a method
  src/controller/java/templates/ChipClusters-java.zapt
  src/controller/java/zap-generated/chip/devicecontroller/ChipClusters.java
Labels: controller, review - pending, fast track

#13466 Fix CommissioneeDeviceProxy state
  src/controller/CHIPDeviceController.cpp
  src/controller/CommissioneeDeviceProxy.cpp
  src/controller/CommissioneeDeviceProxy.h
Labels: controller, review - pending, fast track

#13481 [Darwin] Avoid duplicate block typedef
  src/darwin/Framework/CHIP/CHIPDevice.h
  src/darwin/Framework/CHIP/CHIPDevice.mm
Labels: darwin, review - pending, fast track

#13482 CommissioneeDeviceProxy fix.
  src/controller/CommissioneeDeviceProxy.cpp
Labels: controller, review - pending, fast track

#13473 Add a check for device != null on commissioning.
  src/controller/CHIPDeviceController.cpp
Labels: controller, review - approved

#13454 all-clusters-app: Disable OTA Provider Server
  examples/all-clusters-app/all-clusters-common/all-clusters-app.zap
  examples/all-clusters-app/esp32/main/CMakeLists.txt
  examples/all-clusters-app/mbed/CMakeLists.txt
  src/app/tests/suites/TestDescriptorCluster.yaml
  src/darwin/Framework/CHIP/templates/clusters-tests.zapt
  src/darwin/Framework/CHIPTests/CHIPClustersTests.m
  zzz_generated/all-clusters-app/zap-generated/IMClusterCommandHandler.cpp
  zzz_generated/all-clusters-app/zap-generated/PluginApplicationCallbacks.h
  zzz_generated/all-clusters-app/zap-generated/endpoint_config.h
  zzz_generated/all-clusters-app/zap-generated/gen_config.h
  zzz_generated/chip-tool/zap-generated/test/Commands.h
Labels: examples, darwin, app, review - approved

#13468 Fix and refactor ReadSingleClusterData
  src/app/util/ember-compatibility-functions.cpp
Labels: app, review - approved

#13474 Remove patch on ESP32 Docker img
  integrations/docker/images/chip-build-esp32/0001-esp_crt_bundle-remove-EC-ACC-certificate.patch
  integrations/docker/images/chip-build/version
Labels: integrations, review - approved

#13479 [YAML] Add isLowerCase/isUpperCase/isHexString constraints
  examples/chip-tool/templates/partials/test_cluster.zapt
  src/app/tests/suites/TestConstraints.yaml
  src/app/tests/suites/include/ConstraintsChecker.h
  src/app/zap-templates/templates/app/helper.js
  src/darwin/Framework/CHIP/templates/partials/test_cluster.zapt
  src/darwin/Framework/CHIPTests/CHIPClustersTests.m
  zzz_generated/chip-tool/zap-generated/test/Commands.h
Labels: examples, darwin, app, review - pending, fast track

#13488 [Ameba] Update dockerfile for NetworkCommissioning
  integrations/docker/images/chip-build-ameba/Dockerfile
  integrations/docker/images/chip-build/version
Labels: integrations, review - pending, fast track

#13461 Fix the issue of BLE notification not being received from the device
  src/platform/Linux/bluez/Helper.cpp
Labels: platform, linux, review - approved

#13492 ESP32:Fix CaseSession fail on ESP32, Add InitClock_ReadTime function
  src/platform/ESP32/BUILD.gn
  src/platform/ESP32/PlatformManagerImpl.cpp
  src/platform/ESP32/SystemTimeSupport.cpp
  src/platform/ESP32/SystemTimeSupport.h
Labels: platform, esp32, review - pending, fast track

#13498 Ameba Build Issue
  src/lib/core/CHIPTLVReader.cpp
Labels: lib, review - pending, fast track

#13495 [YAML] Enable TestEmitTestEventRequest in controller-clusters.zap
  src/controller/data_model/controller-clusters.zap
  src/controller/java/zap-generated/CHIPCallbackTypes.h
  src/controller/java/zap-generated/CHIPClusters-JNI.cpp
  src/controller/java/zap-generated/CHIPInvokeCallbacks.cpp
  src/controller/java/zap-generated/CHIPInvokeCallbacks.h
  src/controller/java/zap-generated/chip/devicecontroller/ChipClusters.java
  src/controller/java/zap-generated/chip/devicecontroller/ClusterInfoMapping.java
  src/controller/python/chip/clusters/CHIPClusters.py
  src/darwin/Framework/CHIP/zap-generated/CHIPCallbackBridge.mm
  src/darwin/Framework/CHIP/zap-generated/CHIPCallbackBridge_internal.h
  src/darwin/Framework/CHIP/zap-generated/CHIPClustersObjc.h
  src/darwin/Framework/CHIP/zap-generated/CHIPClustersObjc.mm
  zzz_generated/chip-tool/zap-generated/cluster/Commands.h
  zzz_generated/controller-clusters/zap-generated/CHIPClientCallbacks.cpp
  zzz_generated/controller-clusters/zap-generated/CHIPClientCallbacks.h
  zzz_generated/controller-clusters/zap-generated/CHIPClusters.cpp
  zzz_generated/controller-clusters/zap-generated/CHIPClusters.h
  zzz_generated/controller-clusters/zap-generated/IMClusterCommandHandler.cpp
Labels: darwin, controller, review - pending, fast track

#13494 fix memory issue in MediaInputMgr
  examples/tv-app/android/java/MediaInputManager.cpp
Labels: examples, review - pending

#13505 [Group] Fix group messaging after test were disabled
  examples/chip-tool/commands/common/CommandInvoker.h
  src/app/CommandHandler.cpp
  src/app/WriteHandler.cpp
  src/app/server/Server.cpp
  src/app/tests/suites/TestGroupMessaging.yaml
  src/controller/CHIPCluster.h
  src/platform/OpenThread/GenericThreadStackManagerImpl_OpenThread_LwIP.cpp
  src/transport/GroupSession.h
  src/transport/SessionManager.cpp
  src/transport/SessionManager.h
  zzz_generated/chip-tool/zap-generated/test/Commands.h
Labels: examples, transport, platform, openthread, controller, app, review - approved

#13411 zephyr: Added support for rotating device ID
  config/nrfconnect/chip-module/CMakeLists.txt
  config/zephyr/Kconfig
  src/include/platform/ConfigurationManager.h
  src/include/platform/internal/GenericConfigurationManagerImpl.cpp
  src/include/platform/internal/GenericConfigurationManagerImpl.h
  src/platform/Zephyr/BLEManagerImpl.cpp
  src/platform/Zephyr/BLEManagerImpl.h
  src/platform/fake/ConfigurationManagerImpl.h
  src/platform/nrfconnect/BUILD.gn
  src/platform/telink/BUILD.gn
  src/setup_payload/BUILD.gn
Labels: setup payload, platform, nrf connect, zephyr, config, review - approved, telink

#13512 Remove expectedValueHasProp now that we have a generic hasProperty helper
  examples/chip-tool/templates/partials/test_cluster_value_equals.zapt
  src/app/zap-templates/common/ClusterTestGeneration.js
  src/darwin/Framework/CHIP/templates/partials/check_test_value.zapt
Labels: examples, darwin, app, review - approved

#13516 Rename time-format & unit cluster to align with spec
  examples/all-clusters-app/all-clusters-common/all-clusters-app.zap
  examples/bridge-app/bridge-common/bridge-app.zap
  examples/door-lock-app/door-lock-common/door-lock-app.zap
  examples/lighting-app/lighting-common/lighting-app.zap
  examples/lock-app/lock-common/lock-app.zap
  examples/ota-provider-app/ota-provider-common/ota-provider-app.zap
  examples/ota-requestor-app/ota-requestor-common/ota-requestor-app.zap
  examples/pump-app/pump-common/pump-app.zap
  examples/pump-controller-app/pump-controller-common/pump-controller-app.zap
  examples/temperature-measurement-app/esp32/main/temperature-measurement.zap
  examples/thermostat/thermostat-common/thermostat.zap
  examples/tv-app/tv-common/tv-app.zap
  examples/tv-casting-app/tv-casting-common/tv-casting-app.zap
  examples/window-app/common/window-app.zap
  src/app/zap-templates/zcl/data-model/all.xml
  src/app/zap-templates/zcl/data-model/chip/time-format-localization-cluster.xml
  src/app/zap-templates/zcl/data-model/chip/unit-cluster-localization.xml
  src/app/zap-templates/zcl/zcl.json
  src/controller/data_model/controller-clusters.zap
  src/controller/python/chip/clusters/Objects.py
  src/darwin/Framework/CHIP/zap-generated/CHIPCallbackBridge.mm
  src/darwin/Framework/CHIP/zap-generated/CHIPCallbackBridge_internal.h
  zzz_generated/app-common/app-common/zap-generated/attribute-id.h
  zzz_generated/app-common/app-common/zap-generated/attributes/Accessors.cpp
  zzz_generated/app-common/app-common/zap-generated/attributes/Accessors.h
  zzz_generated/app-common/app-common/zap-generated/callback.h
  zzz_generated/app-common/app-common/zap-generated/callbacks/PluginCallbacks.h
  zzz_generated/app-common/app-common/zap-generated/cluster-id.h
  zzz_generated/app-common/app-common/zap-generated/cluster-objects.cpp
  zzz_generated/app-common/app-common/zap-generated/cluster-objects.h
  zzz_generated/app-common/app-common/zap-generated/ids/Attributes.h
  zzz_generated/app-common/app-common/zap-generated/ids/Clusters.h
  zzz_generated/app-common/app-common/zap-generated/print-cluster.h
Labels: examples, darwin, controller, app, review - approved

#13472 Split global dirty set into dedicated pool
  src/app/InteractionModelEngine.cpp
  src/app/InteractionModelEngine.h
  src/app/reporting/Engine.cpp
  src/app/reporting/Engine.h
  src/app/tests/TestInteractionModelEngine.cpp
  src/app/tests/TestReportingEngine.cpp
  src/lib/core/CHIPConfig.h
Labels: lib, app, review - approved

#13519 refresh subscription liveness after processing subscribe response
  src/app/ReadClient.cpp
Labels: app, review - approved

#13502 [chip-tool] Add read-event support to chip-tool
  examples/chip-tool/commands/common/Command.cpp
  examples/chip-tool/commands/common/Command.h
  examples/chip-tool/commands/common/Commands.cpp
  examples/chip-tool/commands/common/Commands.h
  examples/chip-tool/templates/commands.zapt
  examples/chip-tool/templates/partials/log_event_value.zapt
  examples/chip-tool/templates/templates.json
  src/app/zap-templates/common/ClustersHelper.js
  src/app/zap-templates/partials/cluster_header.zapt
  src/app/zap-templates/templates/chip/helper.js
  src/controller/CHIPCluster.h
  zzz_generated/chip-tool/zap-generated/cluster/Commands.h
Labels: examples, controller, app, review - pending, fast track

#13215 Schedules and credentials over-the-air features
  examples/all-clusters-app/all-clusters-common/all-clusters-app.zap
  examples/tv-casting-app/tv-casting-common/tv-casting-app.zap
  src/app/clusters/door-lock-server/door-lock-server.cpp
  src/app/clusters/door-lock-server/door-lock-server.h
  src/app/zap-templates/zcl/data-model/chip/door-lock-cluster.xml
  zzz_generated/all-clusters-app/zap-generated/endpoint_config.h
  zzz_generated/tv-casting-app/zap-generated/endpoint_config.h
Labels: examples, app, review - approved

#13524 Remove no longer used APS/Zigbee decoding codepath.
  examples/all-clusters-app/mbed/CMakeLists.txt
  examples/lighting-app/mbed/CMakeLists.txt
  examples/lighting-app/telink/CMakeLists.txt
  examples/lock-app/mbed/CMakeLists.txt
  src/app/BUILD.gn
  src/app/chip-zcl-zpro-codec.h
  src/app/chip_data_model.cmake
  src/app/chip_data_model.gni
  src/app/decoder.cpp
  src/app/util/process-cluster-message.cpp
  src/app/util/process-global-message.cpp
  src/app/util/util.cpp
  src/app/util/util.h
  src/darwin/Framework/CHIP.xcodeproj/project.pbxproj
Labels: examples, darwin, app, review - approved

#13525 Make IntrusiveList lifetime documentation a little clearer.
  src/lib/support/IntrusiveList.h
Labels: lib, review - pending, fast track

#13510 Rename duplicate Application struct
  examples/tv-app/android/include/application-basic/ApplicationBasicManager.cpp
  examples/tv-app/android/include/application-basic/ApplicationBasicManager.h
  examples/tv-app/android/include/application-launcher/ApplicationLauncherManager.cpp
  examples/tv-app/android/include/application-launcher/ApplicationLauncherManager.h
  examples/tv-app/linux/AppImpl.cpp
  examples/tv-app/linux/AppImpl.h
  examples/tv-app/linux/include/application-basic/ApplicationBasicManager.cpp
  examples/tv-app/linux/include/application-basic/ApplicationBasicManager.h
  examples/tv-app/linux/include/application-launcher/ApplicationLauncherManager.cpp
  examples/tv-app/linux/include/application-launcher/ApplicationLauncherManager.h
  src/app/clusters/application-basic-server/application-basic-delegate.h
  src/app/clusters/application-basic-server/application-basic-server.cpp
  src/app/clusters/application-launcher-server/application-launcher-delegate.h
  src/app/util/ContentApp.h
  src/app/util/ContentAppPlatform.cpp
  src/app/util/ContentAppPlatform.h
  src/app/zap-templates/zcl/data-model/chip/application-basic-cluster.xml
  src/app/zap-templates/zcl/data-model/chip/application-launcher-cluster.xml
  src/controller/java/zap-generated/CHIPClusters-JNI.cpp
  src/controller/python/chip/clusters/Objects.py
  src/darwin/Framework/CHIP/zap-generated/CHIPAttributeTLVValueDecoder.mm
  src/darwin/Framework/CHIP/zap-generated/CHIPClustersObjc.mm
  src/darwin/Framework/CHIP/zap-generated/CHIPCommandPayloadsObjc.h
  src/darwin/Framework/CHIP/zap-generated/CHIPCommandPayloadsObjc.mm
  src/darwin/Framework/CHIP/zap-generated/CHIPStructsObjc.h
  src/darwin/Framework/CHIP/zap-generated/CHIPStructsObjc.mm
  zzz_generated/app-common/app-common/zap-generated/af-structs.h
  zzz_generated/app-common/app-common/zap-generated/cluster-objects.cpp
  zzz_generated/app-common/app-common/zap-generated/cluster-objects.h
  zzz_generated/chip-tool/zap-generated/cluster/Commands.h
  zzz_generated/chip-tool/zap-generated/test/Commands.h
Labels: examples, darwin, controller, app, review - approved

#13484 Update OTA Requestor Server cluster attributes
  examples/all-clusters-app/esp32/main/main.cpp
  examples/lighting-app/nrfconnect/main/AppTask.cpp
  examples/lighting-app/nxp/k32w/k32w0/main/AppTask.cpp
  examples/ota-requestor-app/efr32/src/main.cpp
  examples/ota-requestor-app/esp32/main/main.cpp
  examples/ota-requestor-app/linux/main.cpp
  src/app/clusters/ota-requestor/BDXDownloader.cpp
  src/app/clusters/ota-requestor/BDXDownloader.h
  src/app/clusters/ota-requestor/OTARequestor.cpp
  src/app/clusters/ota-requestor/OTARequestor.h
  src/app/clusters/ota-requestor/ota-requestor-server.cpp
  src/app/clusters/ota-requestor/ota-requestor-server.h
  src/include/platform/OTAImageProcessor.h
  src/platform/GenericOTARequestorDriver.h
Labels: examples, platform, app, review - approved

#13475 Add a way to encapsulate a StatusIB in a CHIP_ERROR.
  src/app/MessageDef/StatusIB.cpp
  src/app/MessageDef/StatusIB.h
  src/app/tests/BUILD.gn
  src/app/tests/TestStatusIB.cpp
  src/lib/core/CHIPError.h
Labels: lib, app, review - pending, fast track

#13410 [K32W0] Refactor patching system
  third_party/nxp/k32w0_sdk/sdk_fixes/OtaUtils.c
  third_party/nxp/k32w0_sdk/sdk_fixes/OtaUtils_c.patch
  third_party/nxp/k32w0_sdk/sdk_fixes/SecLib.h
  third_party/nxp/k32w0_sdk/sdk_fixes/SecLib_h.patch
  third_party/nxp/k32w0_sdk/sdk_fixes/app_dual_mode_low_power.h
  third_party/nxp/k32w0_sdk/sdk_fixes/app_dual_mode_low_power_h.patch
  third_party/nxp/k32w0_sdk/sdk_fixes/app_dual_mode_switch.h
  third_party/nxp/k32w0_sdk/sdk_fixes/app_dual_mode_switch_h.patch
  third_party/nxp/k32w0_sdk/sdk_fixes/ble_utils_h.patch
  third_party/nxp/k32w0_sdk/sdk_fixes/gpio_pins.h
  third_party/nxp/k32w0_sdk/sdk_fixes/gpio_pins_h.patch
  third_party/nxp/k32w0_sdk/sdk_fixes/patch_k32w_sdk.sh
  third_party/nxp/k32w0_sdk/sdk_fixes/pin_mux.c
Labels: review - pending, fast track

#13521 Remove unused manufacturerCode field of EmberAfAttributeSearchRecord.
  src/app/util/af-types.h
  src/app/util/attribute-storage.cpp
  src/app/util/attribute-table.cpp
  src/app/util/attribute-table.h
  src/app/util/ember-compatibility-functions.cpp
Labels: app, review - approved

#13523 [ci] Add git package to Doxygen image
  integrations/docker/images/chip-build-doxygen/Dockerfile
  integrations/docker/images/chip-build/version
Labels: integrations, review - approved

#13529 [Simulated Device] Print the list of available test commands if the command is unknown
  examples/placeholder/linux/include/MatterCallbacks.h
  examples/placeholder/templates/tests-commands.zapt
  zzz_generated/placeholder/app1/zap-generated/test/Commands.h
  zzz_generated/placeholder/app2/zap-generated/test/Commands.h
  zzz_generated/placeholder/zap-generated/af-gen-event.h
Labels: examples, review - pending, fast track

#13499 [EFR32 OTA] Invoke Silabs API for writing, verifying and applying the image
  examples/ota-requestor-app/efr32/src/main.cpp
  src/platform/EFR32/OTAImageProcessorImpl.cpp
  src/platform/EFR32/OTAImageProcessorImpl.h
Labels: examples, platform, efr32, review - pending, fast track

#13489 Update docker images to 0.5.45
  .devcontainer/devcontainer.json
  .github/workflows/android.yaml
  .github/workflows/bloat_check.yaml
  .github/workflows/build.yaml
  .github/workflows/cirque.yaml
  .github/workflows/doxygen.yaml
  .github/workflows/examples-ameba.yaml
  .github/workflows/examples-efr32.yaml
  .github/workflows/examples-esp32.yaml
  .github/workflows/examples-infineon.yaml
  .github/workflows/examples-k32w.yaml
  .github/workflows/examples-linux-arm.yaml
  .github/workflows/examples-linux-standalone.yaml
  .github/workflows/examples-mbed.yaml
  .github/workflows/examples-qpg.yaml
  .github/workflows/examples-telink.yaml
  .github/workflows/examples-tizen.yaml
  .github/workflows/qemu.yaml
  .github/workflows/release_artifacts.yaml
  .github/workflows/tests.yaml
  .github/workflows/unit_integration_test.yaml
  integrations/cloudbuild/build-all.yaml
  integrations/cloudbuild/smoke-test.yaml
Labels: integrations, vscode, github, workflows, review - pending, fast track

#13485 Improve the CommandResponseHelper API a bit.
  src/app/CommandResponseHelper.h
  src/app/clusters/channel-server/channel-server.cpp
  src/app/clusters/content-launch-server/content-launch-server.cpp
Labels: app, review - approved

#13540 Fix CASE session break for not fully implemented timers (FreeRTOS)
  src/protocols/secure_channel/CASESession.cpp
Labels: review - approved

#13542 [YAML] Add events support
  examples/chip-tool/templates/partials/test_cluster.zapt
  examples/chip-tool/templates/partials/test_cluster_value_equals.zapt
  src/app/zap-templates/common/ClusterTestGeneration.js
  src/app/zap-templates/common/ClustersHelper.js
  src/app/zap-templates/common/simulated-clusters/SimulatedClusters.js
  src/app/zap-templates/templates/app/helper.js
Labels: examples, app, review - pending, fast track

#13550 Fix glob for NRF building (name "nrf52840" was changed to "nrf52840dk")
  integrations/cloudbuild/smoke-test.yaml
Labels: integrations, review - pending

#13238 Add trace events to CASE and PASE Sessions
  BUILD.gn
  config/esp32/components/chip/CMakeLists.txt
  config/esp32/components/chip/component.mk
  examples/platform/esp32/Rpc.cpp
  examples/platform/nrfconnect/Rpc.cpp
  src/protocols/secure_channel/BUILD.gn
  src/protocols/secure_channel/CASESession.cpp
  src/protocols/secure_channel/PASESession.cpp
  src/trace/BUILD.gn
  src/trace/trace.h
Labels: examples, config, review - pending, fast track

#13432 Ensure all fields in cluster-objects structs are default-initialized.
  src/app/clusters/network-commissioning/network-commissioning.cpp
  src/app/common/templates/templates.json
  src/app/data-model/DecodableList.h
  src/app/zap-templates/partials/cluster-objects-field-init.zapt
  src/app/zap-templates/templates/app/cluster-objects.zapt
  zzz_generated/app-common/app-common/zap-generated/cluster-objects.h
Labels: app, review - approved

#13534 [QPG] Adding ota-requestor support in qpg lighting app
  config/qpg/chip-gn/BUILD.gn
  examples/lighting-app/esp32/main/CMakeLists.txt
  examples/lighting-app/lighting-common/lighting-app.zap
  examples/lighting-app/mbed/CMakeLists.txt
  examples/lighting-app/qpg/BUILD.gn
  examples/lighting-app/qpg/args.gni
  examples/lighting-app/qpg/include/AppTask.h
  examples/lighting-app/qpg/src/AppTask.cpp
  examples/lighting-app/telink/CMakeLists.txt
  examples/lock-app/qpg/BUILD.gn
  examples/platform/qpg/ota/ota.cpp
  examples/platform/qpg/ota/ota.h
  examples/platform/qpg/project_include/OpenThreadConfig.h
  src/platform/qpg/BUILD.gn
  src/platform/qpg/CHIPDevicePlatformConfig.h
  src/platform/qpg/OTAImageProcessorImpl.cpp
  src/platform/qpg/OTAImageProcessorImpl.h
  zzz_generated/lighting-app/zap-generated/IMClusterCommandHandler.cpp
  zzz_generated/lighting-app/zap-generated/PluginApplicationCallbacks.h
  zzz_generated/lighting-app/zap-generated/callback-stub.cpp
  zzz_generated/lighting-app/zap-generated/endpoint_config.h
  zzz_generated/lighting-app/zap-generated/gen_config.h
Labels: examples, platform, config, qpg, review - approved

#13508 Use more generated code in access control cluster
  src/app/clusters/access-control-server/access-control-server.cpp
Labels: app, review - approved
