Repository project-chip/connectedhomeip, pull requests merged in 2022-02, with the labels that each got.

#14428 [CI] In TC-DM-3.1 maxNetworks and networks attributes read is disabled
  src/app/clusters/network-commissioning-old/network-commissioning-ember.cpp
  src/app/tests/suites/certification/Test_TC_DM_3_1.yaml
  src/darwin/Framework/CHIPTests/CHIPClustersTests.m
  zzz_generated/chip-tool/zap-generated/test/Commands.h
Labels: darwin, app, review - pending, fast track

#14592 [chip-tool] Expose some custom payload prefixes for float and double
  examples/chip-tool/commands/clusters/CustomArgument.h
Labels: examples, review - pending, fast track

#14593 [chip-tool] Get chip-tool template to generate write commands for struct attributes now that complex types are supported
  examples/chip-tool/templates/commands.zapt
  zzz_generated/chip-tool/zap-generated/cluster/Commands.h
Labels: examples, review - pending, fast track

#14611 [Trivial] Fix Level Control cluster revision
  examples/all-clusters-app/all-clusters-common/all-clusters-app.zap
  examples/bridge-app/bridge-common/bridge-app.zap
  examples/light-switch-app/light-switch-common/light-switch-app.zap
  examples/lighting-app/lighting-common/lighting-app.zap
  examples/log-source-app/log-source-common/log-source-app.zap
  examples/ota-provider-app/ota-provider-common/ota-provider-app.zap
  examples/ota-requestor-app/ota-requestor-common/ota-requestor-app.zap
  examples/placeholder/linux/apps/app1/config.zap
  examples/placeholder/linux/apps/app2/config.zap
  examples/pump-app/pump-common/pump-app.zap
  examples/pump-controller-app/pump-controller-common/pump-controller-app.zap
  examples/thermostat/thermostat-common/thermostat.zap
  examples/tv-app/tv-common/tv-app.zap
  examples/tv-casting-app/tv-casting-common/tv-casting-app.zap
  src/controller/data_model/controller-clusters.zap
  zzz_generated/placeholder/app1/zap-generated/endpoint_config.h
  zzz_generated/placeholder/app2/zap-generated/endpoint_config.h
  zzz_generated/pump-app/zap-generated/endpoint_config.h
  zzz_generated/pump-controller-app/zap-generated/endpoint_config.h
Labels: review - pending, fast track

#14540 Add access control logging
  src/access/AccessControl.cpp
  src/app/CommandHandler.cpp
  src/app/util/ember-compatibility-functions.cpp
Labels: app, review - approved

#13756 [IM] Add Fabric Filtered Write Support
  src/app/AttributeAccessInterface.h
  src/app/clusters/access-control-server/access-control-server.cpp
  src/app/data-model/DecodableList.h
  src/app/data-model/Nullable.h
  src/app/tests/BUILD.gn
  src/app/tests/TestAttributeValueDecoder.cpp
  src/app/zap-templates/partials/cluster-objects-struct.zapt
  src/controller/TypedReadCallback.h
  zzz_generated/app-common/app-common/zap-generated/cluster-objects.cpp
  zzz_generated/app-common/app-common/zap-generated/cluster-objects.h
  zzz_generated/light-switch-app/zap-generated/CHIPClusters.cpp
Labels: examples, controller, app, review - pending, fast track

#13400 Add initial cluster data version support
  examples/chip-tool/commands/clusters/ReportCommand.h
  src/app/AttributeCache.cpp
  src/app/AttributeCache.h
  src/app/BufferedReadCallback.cpp
  src/app/BufferedReadCallback.h
  src/app/ReadClient.cpp
  src/app/ReadClient.h
  src/app/reporting/Engine.cpp
  src/app/tests/TestAttributeCache.cpp
  src/app/tests/TestBufferedReadCallback.cpp
  src/app/tests/TestMessageDef.cpp
  src/app/tests/TestReadInteraction.cpp
  src/app/tests/integration/chip_im_initiator.cpp
  src/app/util/ember-compatibility-functions.cpp
  src/controller/TypedReadCallback.h
  src/controller/python/chip/clusters/Attribute.py
  src/controller/python/chip/clusters/attribute.cpp
  src/controller/python/test/test_scripts/mobile-device-test.py
  src/controller/tests/TestReadChunking.cpp
  src/darwin/Framework/CHIP/CHIPDevice.mm
  src/lib/core/DataModelTypes.h
Labels: examples, darwin, lib, controller, app, review - pending, fast track

#14600 [zephyr] Drop BLE connection on endpoint close
  src/platform/Zephyr/BLEManagerImpl.cpp
Labels: platform, zephyr, review - approved

#14594 Remove now-unused InteractionModelDelegate
  src/app/AttributePathExpandIterator.cpp
  src/app/AttributePathExpandIterator.h
  src/app/BUILD.gn
  src/app/CommandHandler.h
  src/app/CommandSender.h
  src/app/InteractionModelDelegate.h
  src/app/InteractionModelEngine.h
  src/app/InteractionModelTimeout.h
  src/app/ReadClient.h
  src/app/ReadHandler.h
  src/app/ReadPrepareParams.h
  src/app/TimedHandler.cpp
  src/app/WriteClient.h
  src/app/WriteHandler.h
  src/app/tests/TestAttributePathExpandIterator.cpp
  src/app/tests/TestWriteInteraction.cpp
  src/app/tests/integration/chip_im_initiator.cpp
  src/app/tests/integration/chip_im_responder.cpp
  src/app/util/mock/attribute-storage.cpp
  src/controller/CHIPDeviceController.h
  src/controller/TypedReadCallback.h
  src/controller/python/chip/interaction_model/Delegate.h
Labels: controller, app, review - pending, fast track

#14388 [QPG] update OTA processor Implementation. Fix block sizing issue.
  src/platform/qpg/OTAImageProcessorImpl.cpp
Labels: platform, qpg, review - approved

#14547 Remove the 'z' format specifier in the storage key names.
  src/lib/support/DefaultStorageKeyAllocator.h
Labels: lib, review - approved

#14440 Extend chip-tool to support Bridged Device Basic Information Cluster
  examples/all-clusters-app/all-clusters-common/all-clusters-app.matter
  examples/all-clusters-app/all-clusters-common/all-clusters-app.zap
  src/controller/data_model/controller-clusters.matter
  src/controller/data_model/controller-clusters.zap
  src/controller/java/zap-generated/CHIPCallbackTypes.h
  src/controller/java/zap-generated/CHIPClusters-JNI.cpp
  src/controller/java/zap-generated/CHIPClustersWrite-JNI.cpp
  src/controller/java/zap-generated/chip/devicecontroller/ChipClusters.java
  src/controller/java/zap-generated/chip/devicecontroller/ClusterReadMapping.java
  src/controller/java/zap-generated/chip/devicecontroller/ClusterWriteMapping.java
  src/controller/python/chip/clusters/CHIPClusters.py
  src/darwin/Framework/CHIP/zap-generated/CHIPAttributeTLVValueDecoder.mm
  src/darwin/Framework/CHIP/zap-generated/CHIPClustersObjc.h
  src/darwin/Framework/CHIP/zap-generated/CHIPClustersObjc.mm
  src/darwin/Framework/CHIP/zap-generated/CHIPTestClustersObjc.h
  src/darwin/Framework/CHIP/zap-generated/CHIPTestClustersObjc.mm
  src/darwin/Framework/CHIPTests/CHIPClustersTests.m
  zzz_generated/all-clusters-app/zap-generated/endpoint_config.h
  zzz_generated/chip-tool/zap-generated/cluster/Commands.h
  zzz_generated/chip-tool/zap-generated/cluster/logging/DataModelLogger.cpp
Labels: examples, darwin, controller, review - approved

#14658 Fix FabricTable memory leak in DeviceControllerSystemState
  src/controller/CHIPDeviceControllerFactory.cpp
Labels: controller, review - approved

#14683 Do not register a 'return all zeros' network commissioning cluster.
  src/app/clusters/network-commissioning-old/network-commissioning-ember.cpp
Labels: app, review - approved

#14654 Fix null-deref crash in OnSessionEstablishmentError.
  src/app/server/CommissioningWindowManager.cpp
  src/app/server/Server.h
  src/ble/BLEEndPoint.h
  src/ble/BleLayer.cpp
  src/ble/BleLayer.h
  src/transport/raw/BLE.h
Labels: transport, ble, app, review - approved

#14299 [IM] Implement supported CommandList
  src/app/tests/suites/TestCluster.yaml
  src/app/util/af-types.h
  src/app/util/af.h
  src/app/util/attribute-storage.cpp
  src/app/util/ember-compatibility-functions.cpp
  src/app/zap-templates/templates/app/endpoint_config.zapt
  src/app/zap-templates/templates/app/helper.js
  src/app/zap-templates/zcl/data-model/chip/global-attributes.xml
  src/controller/data_model/controller-clusters.matter
  src/controller/data_model/controller-clusters.zap
  src/controller/java/zap-generated/CHIPCallbackTypes.h
  src/controller/java/zap-generated/CHIPClusters-JNI.cpp
  src/controller/java/zap-generated/CHIPReadCallbacks.cpp
  src/controller/java/zap-generated/CHIPReadCallbacks.h
  src/controller/java/zap-generated/chip/devicecontroller/ChipClusters.java
  src/controller/java/zap-generated/chip/devicecontroller/ClusterInfoMapping.java
  src/controller/java/zap-generated/chip/devicecontroller/ClusterReadMapping.java
  src/controller/python/chip/clusters/CHIPClusters.py
  src/controller/python/chip/clusters/Objects.py
  src/darwin/Framework/CHIP/zap-generated/CHIPAttributeTLVValueDecoder.mm
  src/darwin/Framework/CHIP/zap-generated/CHIPCallbackBridge.mm
  src/darwin/Framework/CHIP/zap-generated/CHIPCallbackBridge_internal.h
  src/darwin/Framework/CHIP/zap-generated/CHIPClustersObjc.h
  src/darwin/Framework/CHIP/zap-generated/CHIPClustersObjc.mm
  src/darwin/Framework/CHIP/zap-generated/CHIPTestClustersObjc.h
  src/darwin/Framework/CHIP/zap-generated/CHIPTestClustersObjc.mm
  src/darwin/Framework/CHIPTests/CHIPClustersTests.m
  zzz_generated/all-clusters-app/zap-generated/endpoint_config.h
  zzz_generated/app-common/app-common/zap-generated/attribute-id.h
  zzz_generated/app-common/app-common/zap-generated/cluster-objects.cpp
  zzz_generated/app-common/app-common/zap-generated/cluster-objects.h
  zzz_generated/app-common/app-common/zap-generated/ids/Attributes.h
  zzz_generated/bridge-app/zap-generated/endpoint_config.h
  zzz_generated/chip-tool/zap-generated/cluster/Commands.h
  zzz_generated/chip-tool/zap-generated/cluster/logging/DataModelLogger.cpp
  zzz_generated/chip-tool/zap-generated/test/Commands.h
  zzz_generated/controller-clusters/zap-generated/CHIPClientCallbacks.h
  zzz_generated/controller-clusters/zap-generated/endpoint_config.h
  zzz_generated/door-lock-app/zap-generated/endpoint_config.h
  zzz_generated/light-switch-app/zap-generated/endpoint_config.h
  zzz_generated/lighting-app/zap-generated/endpoint_config.h
  zzz_generated/lock-app/zap-generated/endpoint_config.h
  zzz_generated/log-source-app/zap-generated/endpoint_config.h
  zzz_generated/ota-provider-app/zap-generated/endpoint_config.h
  zzz_generated/ota-requestor-app/zap-generated/endpoint_config.h
  zzz_generated/placeholder/app1/zap-generated/endpoint_config.h
  zzz_generated/placeholder/app2/zap-generated/endpoint_config.h
  zzz_generated/pump-app/zap-generated/endpoint_config.h
  zzz_generated/pump-controller-app/zap-generated/endpoint_config.h
  zzz_generated/temperature-measurement-app/zap-generated/endpoint_config.h
  zzz_generated/thermostat/zap-generated/endpoint_config.h
  zzz_generated/tv-app/zap-generated/endpoint_config.h
  zzz_generated/tv-casting-app/zap-generated/endpoint_config.h
  zzz_generated/window-app/zap-generated/endpoint_config.h
Labels: examples, darwin, lib, controller, app, review - approved

#13871 Fix for the non-determinism issue on Command handler and Outgoing Commands
  examples/all-clusters-app/all-clusters-common/all-clusters-app.matter
  examples/light-switch-app/light-switch-common/light-switch-app.matter
  examples/lighting-app/lighting-common/lighting-app.matter
  examples/tv-casting-app/tv-casting-common/tv-casting-app.matter
  src/app/zap-templates/partials/im_command_handler_cluster_commands.zapt
  src/app/zap-templates/templates/app/MatterIDL.zapt
  src/app/zap-templates/templates/app/im-cluster-command-handler.zapt
  src/app/zap-templates/templates/chip/helper.js
  src/controller/CommandSenderAllocator.h
  zzz_generated/light-switch-app/zap-generated/CHIPClientCallbacks.cpp
  zzz_generated/light-switch-app/zap-generated/CHIPClusters.cpp
  zzz_generated/tv-casting-app/zap-generated/IMClusterCommandHandler.cpp
Labels: examples, controller, app, review - approved

#14670 Fix write ACL attribute
  src/app/clusters/access-control-server/access-control-server.cpp
Labels: app, review - pending, fast track

#14655 Remove network index from defined endpoints.
  src/app/clusters/ias-zone-server/ias-zone-server.cpp
  src/app/util/af-types.h
  src/app/util/af.h
  src/app/util/attribute-storage.cpp
  src/app/util/esi-management.cpp
Labels: app, review - pending, fast track

#14620 Add missing parts in Bridged Device Basic Info cluster
  examples/all-clusters-app/all-clusters-common/all-clusters-app.matter
  examples/light-switch-app/light-switch-common/light-switch-app.matter
  examples/tv-casting-app/tv-casting-common/tv-casting-app.matter
  src/app/zap-templates/zcl/data-model/chip/bridged-device-basic.xml
  src/controller/data_model/controller-clusters.matter
  src/controller/python/chip/clusters/Objects.py
  zzz_generated/app-common/app-common/zap-generated/callback.h
  zzz_generated/app-common/app-common/zap-generated/cluster-objects.cpp
  zzz_generated/app-common/app-common/zap-generated/cluster-objects.h
  zzz_generated/app-common/app-common/zap-generated/command-id.h
  zzz_generated/app-common/app-common/zap-generated/ids/Commands.h
  zzz_generated/app-common/app-common/zap-generated/ids/Events.h
  zzz_generated/chip-tool/zap-generated/cluster/Commands.h
  zzz_generated/chip-tool/zap-generated/cluster/logging/DataModelLogger.cpp
  zzz_generated/chip-tool/zap-generated/cluster/logging/DataModelLogger.h
  zzz_generated/controller-clusters/zap-generated/endpoint_config.h
  zzz_generated/tv-casting-app/zap-generated/endpoint_config.h
Labels: examples, controller, app, review - approved

#14702 Zap regen to the "more likely" output
  examples/light-switch-app/light-switch-common/light-switch-app.matter
Labels: examples, hotfix, review - pending

#13816 OTA-Provider: Implementation for obtaining user consent
  examples/ota-provider-app/linux/main.cpp
  examples/ota-provider-app/ota-provider-common/BUILD.gn
  examples/ota-provider-app/ota-provider-common/DefaultUserConsentProvider.cpp
  examples/ota-provider-app/ota-provider-common/DefaultUserConsentProvider.h
  examples/ota-provider-app/ota-provider-common/OTAProviderExample.cpp
  examples/ota-provider-app/ota-provider-common/OTAProviderExample.h
  examples/ota-provider-app/ota-provider-common/UserConsentDelegate.h
  src/app/CommandHandler.h
Labels: examples, platform, app, V1.0, review - pending, fast track

#14614 [Group] [Yaml] Add error if GroupId field isn't used properly in yaml test
  src/app/zap-templates/common/ClusterTestGeneration.js
Labels: app, review - pending, fast track

#14510 Pass in commissioning delegate in init parameters
  scripts/tests/cirque_tests.sh
  src/controller/AutoCommissioner.cpp
  src/controller/AutoCommissioner.h
  src/controller/CHIPDeviceController.cpp
  src/controller/CHIPDeviceController.h
  src/controller/CHIPDeviceControllerFactory.cpp
  src/controller/CHIPDeviceControllerFactory.h
  src/controller/CommissioningDelegate.h
  src/controller/python/ChipDeviceController-ScriptBinding.cpp
  src/controller/python/OpCredsBinding.cpp
  src/controller/python/chip-device-ctrl.py
  src/controller/python/chip/ChipDeviceCtrl.py
  src/controller/python/chip/FabricAdmin.py
  src/controller/python/test/test_scripts/base.py
  src/controller/python/test/test_scripts/commissioning_test.py
  src/test_driver/linux-cirque/CommissioningTest.py
Labels: scripts, controller, review - approved

#14459 Replace BitMapObjectPool with configurable ObjectPool
  src/app/CASEClientPool.h
  src/app/InteractionModelEngine.h
  src/app/OperationalDeviceProxyPool.h
  src/app/clusters/bindings/BindingManager.h
  src/app/reporting/Engine.h
  src/controller/CHIPDeviceController.h
  src/credentials/GroupDataProviderImpl.h
  src/credentials/tests/TestGroupDataProvider.cpp
  src/inet/InetLayer.h
  src/lib/support/Pool.h
  src/messaging/ExchangeMgr.cpp
  src/messaging/tests/MessagingContext.cpp
  src/messaging/tests/MessagingContext.h
  src/protocols/secure_channel/CASESessionCache.cpp
  src/protocols/secure_channel/CASESessionCache.h
  src/transport/SessionManager.h
  src/transport/UnauthenticatedSessionTable.h
Labels: transport, lib, inet, controller, app, review - approved

#14681 [Group] Add message type check in IM layer for group message
  src/app/InteractionModelEngine.cpp
Labels: examples, app, review - approved

#14622 [CI] Add FactoryReset command supports
  scripts/tests/chiptest/accessories.py
  scripts/tests/chiptest/test_definition.py
  src/app/tests/suites/TestSystemCommands.yaml
  src/app/tests/suites/commands/system/SystemCommands.cpp
  src/app/tests/suites/commands/system/SystemCommands.h
  src/app/tests/suites/commands/system/scripts/FactoryReset.py
  src/app/zap-templates/common/simulated-clusters/clusters/SystemCommands.js
  zzz_generated/chip-tool/zap-generated/test/Commands.h
Labels: scripts, app, review - approved

#14400 added size failure check
  src/app/clusters/ota-requestor/OTARequestor.cpp
Labels: app, review - pending, fast track

#14377 ESP32: Update ESP-IDF in CHIP to v4.4 release
  examples/all-clusters-app/esp32/README.md
  examples/bridge-app/esp32/README.md
  examples/ipv6only-app/esp32/README.md
  examples/lighting-app/esp32/README.md
  examples/lock-app/esp32/README.md
  examples/persistent-storage/esp32/README.md
  examples/pigweed-app/esp32/README.md
  examples/temperature-measurement-app/esp32/README.md
  integrations/docker/images/chip-build-esp32/Dockerfile
  integrations/docker/images/chip-build/version
Labels: examples, integrations, fast track

#14514 Group encryption/decryption enabled.
  examples/all-clusters-app/all-clusters-common/all-clusters-app.matter
  examples/chip-tool/commands/common/Commands.cpp
  examples/thermostat/thermostat-common/thermostat.matter
  examples/tv-app/tv-common/tv-app.matter
  examples/tv-casting-app/tv-casting-common/tv-casting-app.matter
  src/app/clusters/group-key-mgmt-server/group-key-mgmt-server.cpp
  src/app/clusters/groups-server/groups-server.cpp
  src/app/tests/TestWriteInteraction.cpp
  src/app/tests/suites/TestGroupKeyManagementCluster.yaml
  src/app/tests/suites/TestGroupMessaging.yaml
  src/app/zap-templates/zcl/data-model/chip/group-key-mgmt-cluster.xml
  src/controller/data_model/controller-clusters.matter
  src/controller/java/zap-generated/CHIPClustersWrite-JNI.cpp
  src/controller/java/zap-generated/chip/devicecontroller/ChipClusters.java
  src/controller/python/chip/clusters/CHIPClusters.py
  src/credentials/GroupDataProviderImpl.cpp
  src/credentials/tests/TestGroupDataProvider.cpp
  src/crypto/CHIPCryptoPAL.h
  src/darwin/Framework/CHIP/zap-generated/CHIPClustersObjc.h
  src/darwin/Framework/CHIP/zap-generated/CHIPClustersObjc.mm
  src/darwin/Framework/CHIP/zap-generated/CHIPTestClustersObjc.h
  src/darwin/Framework/CHIP/zap-generated/CHIPTestClustersObjc.mm
  src/darwin/Framework/CHIPTests/CHIPClustersTests.m
  src/lib/core/CHIPConfig.h
  src/lib/support/TestGroupData.h
  src/messaging/tests/MessagingContext.h
  src/transport/CryptoContext.cpp
  src/transport/CryptoContext.h
  src/transport/SecureMessageCodec.cpp
  src/transport/SecureMessageCodec.h
  src/transport/SecureSession.h
  src/transport/SessionManager.cpp
  src/transport/raw/MessageHeader.cpp
  src/transport/raw/MessageHeader.h
  zzz_generated/all-clusters-app/zap-generated/endpoint_config.h
  zzz_generated/chip-tool/zap-generated/cluster/Commands.h
  zzz_generated/chip-tool/zap-generated/test/Commands.h
  zzz_generated/thermostat/zap-generated/endpoint_config.h
  zzz_generated/tv-app/zap-generated/endpoint_config.h
  zzz_generated/tv-casting-app/zap-generated/endpoint_config.h
Labels: examples, transport, darwin, lib, crypto, controller, app, review - approved

#14721 Add error mapping for NOT_FOUND on Darwin.
  src/darwin/Framework/CHIP/CHIPError.h
  src/darwin/Framework/CHIP/CHIPError.mm
  src/darwin/Framework/CHIPTests/CHIPErrorTestUtils.mm
Labels: darwin, review - pending, fast track

#14418 [SED] Review switching between polling modes
  src/app/server/CommissioningWindowManager.cpp
  src/messaging/ExchangeContext.cpp
  src/messaging/ExchangeContext.h
  src/messaging/ReliableMessageContext.h
Labels: app, review - approved

#14732 Make TSan failures in CI fatal.
  .github/workflows/tests.yaml
  scripts/tests/chiptest/tsan-linux-suppressions.txt
Labels: scripts, github, workflows, review - approved

#14417 [SED] Take SED polling intervals into account in all MRP contexts
  src/app/DeviceProxy.h
  src/app/server/CommissioningWindowManager.cpp
  src/app/server/Dnssd.cpp
  src/controller/CHIPDeviceController.cpp
  src/controller/CHIPDeviceController.h
  src/lib/dnssd/Advertiser_ImplMinimalMdns.cpp
  src/lib/dnssd/Discovery_ImplPlatform.cpp
  src/lib/dnssd/Resolver.h
  src/messaging/ReliableMessageProtocolConfig.cpp
  src/messaging/ReliableMessageProtocolConfig.h
  src/messaging/tests/MessagingContext.cpp
  src/messaging/tests/TestReliableMessageProtocol.cpp
  src/protocols/secure_channel/CASEServer.cpp
  src/transport/GroupSession.h
  src/transport/PairingSession.h
  src/transport/SessionManager.cpp
  src/transport/tests/TestPairingSession.cpp
  src/transport/tests/TestPeerConnections.cpp
Labels: transport, lib, controller, app, review - approved

#14704 [CI] Lint check for suspicious #includes
  .github/workflows/lint.yml
  scripts/tools/check_includes.py
  scripts/tools/check_includes.sh
  scripts/tools/check_includes_config.py
Labels: scripts, github, workflows, review - pending, fast track

#14700 Use typesafe network featuremaps instead of re-defining constants
  src/app/clusters/network-commissioning/network-commissioning.cpp
  src/app/clusters/network-commissioning/network-commissioning.h
Labels: app, review - approved

#14726 Remove duplicated waitForCommissionee step in Test_TC_OO_1_1
  src/app/tests/suites/certification/Test_TC_OO_1_1.yaml
  src/darwin/Framework/CHIPTests/CHIPClustersTests.m
  zzz_generated/chip-tool/zap-generated/test/Commands.h
Labels: darwin, app, review - pending, fast track

#14729 Improve failure detection and reporting in the Tests job.
  scripts/tests/chiptest/runner.py
  scripts/tests/chiptest/test_definition.py
  scripts/tests/run_test_suite.py
Labels: scripts, review - pending, fast track

#14693 esp32: Make SoftwareVersion configurable from application
  config/esp32/components/chip/Kconfig
  examples/ota-requestor-app/esp32/sdkconfig.defaults
  src/platform/ESP32/CHIPDevicePlatformConfig.h
  src/platform/ESP32/bluedroid/BLEManagerImpl.cpp
Labels: examples, platform, esp32, config, review - approved

#14625 [zephyr] Fixed defining thread stack for Matter thread
  config/nrfconnect/app/sample-defaults.conf
  examples/lighting-app/nrfconnect/rpc.overlay
  examples/pigweed-app/nrfconnect/prj.conf
  src/include/platform/internal/GenericPlatformManagerImpl_Zephyr.cpp
  src/include/platform/internal/GenericPlatformManagerImpl_Zephyr.h
  src/platform/Zephyr/PlatformManagerImpl.h
Labels: bug, examples, platform, zephyr, config, review - approved

#14629 [nrfconnect] Support Identify cluster in lighting-app
  examples/lighting-app/nrfconnect/README.md
  examples/lighting-app/nrfconnect/main/AppTask.cpp
  examples/lighting-app/nrfconnect/main/include/AppEvent.h
  examples/lighting-app/nrfconnect/main/include/AppTask.h
Labels: examples, review - pending, fast track

#14567 Query network cluster using wildcard reads
  src/app/AttributeCache.h
  src/controller/AutoCommissioner.cpp
  src/controller/AutoCommissioner.h
  src/controller/CHIPDeviceController.cpp
  src/controller/CHIPDeviceController.h
  src/controller/CommissioningDelegate.h
Labels: controller, app, review - approved

#14747 [BLE] Remove old TODO
  src/ble/BLEEndPoint.cpp
Labels: ble, fast track

#14701 [AddressSanitizer] SEGV on unknown address in src/platform/Linux/Plat…
  src/platform/Linux/PlatformManagerImpl.cpp
Labels: platform, linux, review - pending, fast track

#14754 Add "response" attributes to all commands with responses in XML.
  src/app/zap-templates/zcl/data-model/chip/diagnostic-logs-cluster.xml
  src/app/zap-templates/zcl/data-model/chip/general-commissioning-cluster.xml
  src/app/zap-templates/zcl/data-model/chip/group-key-mgmt-cluster.xml
  src/app/zap-templates/zcl/data-model/chip/identify-cluster.xml
  src/app/zap-templates/zcl/data-model/chip/operational-credentials-cluster.xml
  src/app/zap-templates/zcl/data-model/chip/test-cluster.xml
  src/app/zap-templates/zcl/data-model/chip/thermostat-cluster.xml
  src/app/zap-templates/zcl/data-model/silabs/general.xml
  src/app/zap-templates/zcl/data-model/silabs/ha.xml
  src/app/zap-templates/zcl/data-model/silabs/zll.xml
Labels: app, review - pending, fast track

#14688 Fix RemoveFabric responses to follow the spec.
  examples/all-clusters-app/all-clusters-common/all-clusters-app.matter
  examples/bridge-app/bridge-common/bridge-app.matter
  examples/door-lock-app/door-lock-common/door-lock-app.matter
  examples/light-switch-app/light-switch-common/light-switch-app.matter
  examples/lighting-app/lighting-common/lighting-app.matter
  examples/lock-app/lock-common/lock-app.matter
  examples/log-source-app/log-source-common/log-source-app.matter
  examples/ota-provider-app/ota-provider-common/ota-provider-app.matter
  examples/ota-requestor-app/ota-requestor-common/ota-requestor-app.matter
  examples/placeholder/linux/apps/app1/config.matter
  examples/placeholder/linux/apps/app2/config.matter
  examples/pump-app/pump-common/pump-app.matter
  examples/pump-controller-app/pump-controller-common/pump-controller-app.matter
  examples/temperature-measurement-app/esp32/main/temperature-measurement.matter
  examples/thermostat/thermostat-common/thermostat.matter
  examples/tv-app/tv-common/tv-app.matter
  examples/tv-casting-app/tv-casting-common/tv-casting-app.matter
  examples/window-app/common/window-app.matter
  src/app/clusters/operational-credentials-server/operational-credentials-server.cpp
  src/app/tests/suites/TestOperationalCredentialsCluster.yaml
  src/app/zap-templates/templates/app/helper.js
  src/app/zap-templates/zcl/data-model/chip/operational-credentials-cluster.xml
  src/controller/CHIPDeviceController.cpp
  src/controller/CHIPDeviceController.h
  src/controller/data_model/controller-clusters.matter
  src/controller/java/zap-generated/CHIPInvokeCallbacks.cpp
  src/controller/java/zap-generated/chip/devicecontroller/ChipClusters.java
  src/controller/java/zap-generated/chip/devicecontroller/ClusterInfoMapping.java
  src/controller/python/chip/clusters/Objects.py
  src/credentials/FabricTable.cpp
  src/credentials/FabricTable.h
  src/darwin/Framework/CHIP/zap-generated/CHIPCallbackBridge.mm
  src/darwin/Framework/CHIP/zap-generated/CHIPCallbackBridge_internal.h
  src/darwin/Framework/CHIP/zap-generated/CHIPCommandPayloadsObjc.h
  src/darwin/Framework/CHIP/zap-generated/CHIPCommandPayloadsObjc.mm
  src/darwin/Framework/CHIPTests/CHIPClustersTests.m
  zzz_generated/app-common/app-common/zap-generated/callback.h
  zzz_generated/app-common/app-common/zap-generated/cluster-objects.h
  zzz_generated/app-common/app-common/zap-generated/enums.h
  zzz_generated/chip-tool/zap-generated/test/Commands.h
  zzz_generated/controller-clusters/zap-generated/CHIPClientCallbacks.cpp
  zzz_generated/light-switch-app/zap-generated/CHIPClientCallbacks.cpp
Labels: examples, controller, app, review - pending, fast track

#14487 [binding] remove binding when corresponding fabric removed
  src/app/CASESessionManager.cpp
  src/app/CASESessionManager.h
  src/app/OperationalDeviceProxyPool.h
  src/app/clusters/bindings/BindingManager.cpp
  src/app/clusters/bindings/BindingManager.h
  src/app/clusters/operational-credentials-server/operational-credentials-server.cpp
  src/credentials/FabricTable.cpp
  src/credentials/FabricTable.h
Labels: app, review - approved

#14773 Fix merge error causing test failures.
  src/credentials/FabricTable.cpp
Labels: hotfix, review - pending

#14551 Check VID/PID when doing device attestation
  src/controller/AutoCommissioner.cpp
  src/controller/AutoCommissioner.h
  src/controller/CHIPDeviceController.cpp
  src/controller/CHIPDeviceController.h
  src/controller/CommissioningDelegate.h
  src/credentials/DeviceAttestationVerifier.cpp
  src/credentials/DeviceAttestationVerifier.h
  src/credentials/examples/DefaultDeviceAttestationVerifier.cpp
  src/credentials/tests/TestDeviceAttestationCredentials.cpp
Labels: controller, review - approved

#14765 Enabling Basic Information Cluster in the ota-provider app
  examples/ota-provider-app/ota-provider-common/ota-provider-app.matter
  examples/ota-provider-app/ota-provider-common/ota-provider-app.zap
  zzz_generated/ota-provider-app/zap-generated/PluginApplicationCallbacks.h
  zzz_generated/ota-provider-app/zap-generated/callback-stub.cpp
  zzz_generated/ota-provider-app/zap-generated/endpoint_config.h
  zzz_generated/ota-provider-app/zap-generated/gen_config.h
Labels: examples, review - approved

#14717 [Group] Remove MessagePermitted bypass for group message
  src/messaging/ExchangeContext.cpp
  src/messaging/ExchangeMessageDispatch.cpp
  src/messaging/tests/TestReliableMessageProtocol.cpp
  src/transport/SessionManager.cpp
Labels: transport, review - approved

#14751 Make in RAM NetworkCommissioning::Featuremap report kThreadDevice
  examples/all-clusters-app/all-clusters-common/all-clusters-app.zap
  examples/bridge-app/bridge-common/bridge-app.zap
  examples/door-lock-app/door-lock-common/door-lock-app.zap
  examples/light-switch-app/light-switch-common/light-switch-app.zap
  examples/lighting-app/lighting-common/lighting-app.zap
  examples/lock-app/lock-common/lock-app.zap
  examples/ota-provider-app/ota-provider-common/ota-provider-app.zap
  examples/ota-requestor-app/ota-requestor-common/ota-requestor-app.zap
  examples/placeholder/linux/apps/app1/config.zap
  examples/placeholder/linux/apps/app2/config.zap
  examples/pump-app/pump-common/pump-app.zap
  examples/pump-controller-app/pump-controller-common/pump-controller-app.zap
  examples/temperature-measurement-app/esp32/main/temperature-measurement.zap
  examples/thermostat/thermostat-common/thermostat.zap
  examples/tv-app/tv-common/tv-app.zap
  examples/tv-casting-app/tv-casting-common/tv-casting-app.zap
  examples/window-app/common/window-app.zap
  src/controller/data_model/controller-clusters.zap
  zzz_generated/all-clusters-app/zap-generated/endpoint_config.h
  zzz_generated/bridge-app/zap-generated/endpoint_config.h
  zzz_generated/door-lock-app/zap-generated/endpoint_config.h
  zzz_generated/light-switch-app/zap-generated/endpoint_config.h
  zzz_generated/lighting-app/zap-generated/endpoint_config.h
  zzz_generated/lock-app/zap-generated/endpoint_config.h
  zzz_generated/ota-provider-app/zap-generated/endpoint_config.h
  zzz_generated/ota-requestor-app/zap-generated/endpoint_config.h
  zzz_generated/placeholder/app1/zap-generated/endpoint_config.h
  zzz_generated/placeholder/app2/zap-generated/endpoint_config.h
  zzz_generated/pump-app/zap-generated/endpoint_config.h
  zzz_generated/pump-controller-app/zap-generated/endpoint_config.h
  zzz_generated/temperature-measurement-app/zap-generated/endpoint_config.h
  zzz_generated/thermostat/zap-generated/endpoint_config.h
  zzz_generated/tv-app/zap-generated/endpoint_config.h
  zzz_generated/tv-casting-app/zap-generated/endpoint_config.h
  zzz_generated/window-app/zap-generated/endpoint_config.h
Labels: examples, controller, review - approved

#14723 Introduce a Shutdown method to DeviceControllerFactory
  src/controller/CHIPDeviceControllerFactory.cpp
  src/controller/CHIPDeviceControllerFactory.h
Labels: controller, review - approved

#14686 Added FabricId to the Root Cert DN for Android and iOS.
  src/controller/java/AndroidDeviceControllerWrapper.cpp
  src/darwin/Framework/CHIP/CHIPOperationalCredentialsDelegate.mm
Labels: darwin, controller, review - pending, fast track

#13625 Group Key Management cluster XML naming and types updated according t…
  examples/all-clusters-app/all-clusters-common/all-clusters-app.matter
  examples/thermostat/thermostat-common/thermostat.matter
  examples/tv-app/tv-common/tv-app.matter
  examples/tv-casting-app/tv-casting-common/tv-casting-app.matter
  src/app/clusters/group-key-mgmt-server/group-key-mgmt-server.cpp
  src/app/tests/suites/TestGroupKeyManagementCluster.yaml
  src/app/tests/suites/TestGroupMessaging.yaml
  src/app/zap-templates/zcl/data-model/chip/group-key-mgmt-cluster.xml
  src/controller/data_model/controller-clusters.matter
  src/controller/java/zap-generated/CHIPClusters-JNI.cpp
  src/controller/java/zap-generated/CHIPInvokeCallbacks.cpp
  src/controller/java/zap-generated/CHIPReadCallbacks.cpp
  src/controller/java/zap-generated/CHIPReadCallbacks.h
  src/controller/java/zap-generated/chip/devicecontroller/ChipClusters.java
  src/controller/java/zap-generated/chip/devicecontroller/ChipStructs.java
  src/controller/java/zap-generated/chip/devicecontroller/ClusterInfoMapping.java
  src/controller/python/chip/clusters/CHIPClusters.py
  src/controller/python/chip/clusters/Objects.py
  src/credentials/GroupDataProviderImpl.cpp
  src/credentials/tests/TestGroupDataProvider.cpp
  src/darwin/Framework/CHIP/zap-generated/CHIPAttributeTLVValueDecoder.mm
  src/darwin/Framework/CHIP/zap-generated/CHIPCallbackBridge.mm
  src/darwin/Framework/CHIP/zap-generated/CHIPCallbackBridge_internal.h
  src/darwin/Framework/CHIP/zap-generated/CHIPClustersObjc.mm
  src/darwin/Framework/CHIP/zap-generated/CHIPCommandPayloadsObjc.h
  src/darwin/Framework/CHIP/zap-generated/CHIPCommandPayloadsObjc.mm
  src/darwin/Framework/CHIP/zap-generated/CHIPStructsObjc.h
  src/darwin/Framework/CHIP/zap-generated/CHIPStructsObjc.mm
  src/darwin/Framework/CHIP/zap-generated/CHIPTestClustersObjc.mm
  src/darwin/Framework/CHIPTests/CHIPClustersTests.m
  src/lib/support/TestGroupData.h
  src/messaging/tests/MessagingContext.h
  zzz_generated/all-clusters-app/zap-generated/endpoint_config.h
  zzz_generated/app-common/app-common/zap-generated/af-structs.h
  zzz_generated/app-common/app-common/zap-generated/callback.h
  zzz_generated/app-common/app-common/zap-generated/cluster-objects.cpp
  zzz_generated/app-common/app-common/zap-generated/cluster-objects.h
  zzz_generated/chip-tool/zap-generated/cluster/Commands.h
  zzz_generated/chip-tool/zap-generated/cluster/ComplexArgumentParser.cpp
  zzz_generated/chip-tool/zap-generated/cluster/ComplexArgumentParser.h
  zzz_generated/chip-tool/zap-generated/cluster/logging/DataModelLogger.cpp
  zzz_generated/chip-tool/zap-generated/cluster/logging/DataModelLogger.h
  zzz_generated/chip-tool/zap-generated/test/Commands.h
  zzz_generated/controller-clusters/zap-generated/CHIPClientCallbacks.h
  zzz_generated/thermostat/zap-generated/endpoint_config.h
  zzz_generated/tv-app/zap-generated/endpoint_config.h
  zzz_generated/tv-casting-app/zap-generated/endpoint_config.h
Labels: examples, darwin, controller, app, review - pending, fast track

#14680 Move the access control ownership and initialization to Server.
  examples/platform/linux/AppMain.cpp
  src/access/examples/ExampleAccessControlDelegate.cpp
  src/access/examples/ExampleAccessControlDelegate.h
  src/access/tests/TestAccessControl.cpp
  src/app/clusters/access-control-server/access-control-server.cpp
  src/app/server/Server.cpp
  src/app/server/Server.h
Labels: examples, app, V1.0, review - pending, fast track

#14720 RPC: Fix NRF RPC build
  examples/lighting-app/nrfconnect/CMakeLists.txt
Labels: examples, review - approved

#14760 More predictive order for what IP address is chosen for device connections (use link local as last resort)
  src/controller/python/ChipCommissionableNodeController-ScriptBinding.cpp
  src/controller/python/ChipDeviceController-ScriptBinding.cpp
  src/lib/dnssd/Discovery_ImplPlatform.cpp
  src/lib/dnssd/Resolver.h
  src/lib/dnssd/Resolver_ImplMinimalMdns.cpp
  src/protocols/user_directed_commissioning/UserDirectedCommissioningServer.cpp
Labels: lib, controller, review - pending, fast track

#14787 [EFR32]Remove Thread NVM section in the linker file for WiFi builds
  examples/lighting-app/efr32/BUILD.gn
  examples/lock-app/efr32/BUILD.gn
  examples/platform/efr32/ldscripts/efr32mg12.ld
  examples/platform/efr32/ldscripts/efr32mg24.ld
  examples/window-app/efr32/BUILD.gn
Labels: examples, review - pending, fast track

#14492 DoorLock cluster events support
  examples/door-lock-app/linux/include/LockEndpoint.h
  examples/door-lock-app/linux/include/LockManager.h
  examples/door-lock-app/linux/main.cpp
  examples/door-lock-app/linux/src/LockEndpoint.cpp
  examples/door-lock-app/linux/src/LockManager.cpp
  src/app/clusters/door-lock-server/door-lock-server.cpp
  src/app/clusters/door-lock-server/door-lock-server.h
Labels: examples, controller, app, review - pending, fast track

#14775 Fix DataModelLogger::LogAttribute for unknown attributes.
  examples/chip-tool/templates/logging/DataModelLogger-src.zapt
  zzz_generated/chip-tool/zap-generated/cluster/logging/DataModelLogger.cpp
Labels: examples, review - approved

#14795 Revert "Check VID/PID when doing device attestation (#14551)"
  src/controller/AutoCommissioner.cpp
  src/controller/AutoCommissioner.h
  src/controller/CHIPDeviceController.cpp
  src/controller/CHIPDeviceController.h
  src/controller/CommissioningDelegate.h
  src/credentials/DeviceAttestationVerifier.cpp
  src/credentials/DeviceAttestationVerifier.h
  src/credentials/examples/DefaultDeviceAttestationVerifier.cpp
  src/credentials/tests/TestDeviceAttestationCredentials.cpp
Labels: hotfix, controller

#14761 Fix checking for required timed invoke for commands.
  src/app/CommandHandler.cpp
  src/app/InteractionModelEngine.cpp
  src/app/zap-templates/partials/im_command_handler_cluster_commands.zapt
  src/app/zap-templates/templates/app/cluster-objects-src.zapt
  src/app/zap-templates/templates/app/cluster-objects.zapt
  src/app/zap-templates/templates/app/helper.js
  zzz_generated/all-clusters-app/zap-generated/IMClusterCommandHandler.cpp
  zzz_generated/app-common/app-common/zap-generated/cluster-objects.cpp
  zzz_generated/app-common/app-common/zap-generated/cluster-objects.h
  zzz_generated/bridge-app/zap-generated/IMClusterCommandHandler.cpp
  zzz_generated/door-lock-app/zap-generated/IMClusterCommandHandler.cpp
  zzz_generated/light-switch-app/zap-generated/IMClusterCommandHandler.cpp
  zzz_generated/lighting-app/zap-generated/IMClusterCommandHandler.cpp
  zzz_generated/lock-app/zap-generated/IMClusterCommandHandler.cpp
  zzz_generated/pump-app/zap-generated/IMClusterCommandHandler.cpp
  zzz_generated/pump-controller-app/zap-generated/IMClusterCommandHandler.cpp
  zzz_generated/temperature-measurement-app/zap-generated/IMClusterCommandHandler.cpp
  zzz_generated/thermostat/zap-generated/IMClusterCommandHandler.cpp
  zzz_generated/tv-app/zap-generated/IMClusterCommandHandler.cpp
  zzz_generated/tv-casting-app/zap-generated/IMClusterCommandHandler.cpp
  zzz_generated/window-app/zap-generated/IMClusterCommandHandler.cpp
Labels: app, review - approved

#14789 Missing include in the configuration manager.
  src/include/platform/internal/GenericConfigurationManagerImpl.h
Labels: review - pending, fast track

#14672 Separate manual tests from CI tests
  examples/chip-tool/templates/tests-commands.zapt
  examples/chip-tool/templates/tests.js
  zzz_generated/chip-tool/zap-generated/test/Commands.h
Labels: examples, review - pending, fast track

#14662 Add Pairing Commands to chip-tool-darwin
  examples/chip-tool-darwin/.gn
  examples/chip-tool-darwin/BUILD.gn
  examples/chip-tool-darwin/commands/common/CHIPCommandBridge.h
  examples/chip-tool-darwin/commands/common/CHIPCommandBridge.mm
  examples/chip-tool-darwin/commands/pairing/Commands.h
  examples/chip-tool-darwin/commands/pairing/PairingCommandBridge.h
  examples/chip-tool-darwin/commands/pairing/PairingCommandBridge.mm
  examples/chip-tool-darwin/commands/pairing/PairingDelegateBridge.h
  examples/chip-tool-darwin/commands/pairing/PairingDelegateBridge.mm
  examples/chip-tool-darwin/entitlements/chip-tool-darwin.entitlements
  examples/chip-tool-darwin/entitlements/codesign.py
  examples/chip-tool-darwin/main.mm
  examples/chip-tool/commands/common/Command.cpp
  examples/chip-tool/commands/common/Command.h
  src/darwin/Framework/CHIP/BUILD.gn
Labels: examples, darwin, review - pending, fast track

#14667 Make Spake2+ output arguments size-safe
  src/crypto/CHIPCryptoPAL.cpp
  src/crypto/CHIPCryptoPAL.h
  src/crypto/CHIPCryptoPALOpenSSL.cpp
  src/crypto/CHIPCryptoPALmbedTLS.cpp
  src/crypto/tests/CHIPCryptoPALTest.cpp
Labels: crypto, security, review - approved

#14731 Trigger StartUp & ShutDown event on all platforms uniformly
  src/include/platform/internal/GenericPlatformManagerImpl.cpp
  src/include/platform/internal/GenericPlatformManagerImpl.h
  src/platform/Linux/PlatformManagerImpl.cpp
  src/platform/Linux/PlatformManagerImpl.h
  src/platform/Zephyr/PlatformManagerImpl.cpp
  src/platform/Zephyr/PlatformManagerImpl.h
Labels: platform, linux, zephyr, review - approved

#14772 [Android] Keep GetConnectedDeviceCallbackJni from being deleted early
  src/controller/java/AndroidCallbacks-JNI.cpp
  src/controller/java/AndroidCallbacks.cpp
  src/controller/java/AndroidCallbacks.h
  src/controller/java/CHIPDeviceController-JNI.cpp
  src/controller/java/src/chip/devicecontroller/ChipDeviceController.java
Labels: controller, review - pending, fast track

#14678 [Android] Support wildcard read/subscribe
  src/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/CHIPToolActivity.kt
  src/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/SelectActionFragment.kt
  src/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/clusterclient/WildcardFragment.kt
  src/android/CHIPTool/app/src/main/res/layout/select_action_fragment.xml
  src/android/CHIPTool/app/src/main/res/layout/wildcard_fragment.xml
  src/android/CHIPTool/app/src/main/res/values/strings.xml
  src/controller/java/AndroidCallbacks-JNI.cpp
  src/controller/java/AndroidCallbacks.cpp
  src/controller/java/AndroidCallbacks.h
  src/controller/java/AndroidClusterExceptions.cpp
  src/controller/java/AndroidClusterExceptions.h
  src/controller/java/BUILD.gn
  src/controller/java/CHIPAttributeTLVValueDecoder.h
  src/controller/java/CHIPDeviceController-JNI.cpp
  src/controller/java/src/chip/devicecontroller/ChipDeviceController.java
  src/controller/java/src/chip/devicecontroller/ReportCallback.java
  src/controller/java/src/chip/devicecontroller/ReportCallbackJni.java
  src/controller/java/src/chip/devicecontroller/SubscriptionEstablishedCallback.java
  src/controller/java/src/chip/devicecontroller/model/ChipAttributePath.java
  src/controller/java/src/chip/devicecontroller/model/ChipPathId.java
  src/controller/java/templates/CHIPAttributeTLVValueDecoder-src.zapt
  src/controller/java/templates/ChipClusters-java.zapt
  src/controller/java/templates/partials/decode_value.zapt
  src/controller/java/templates/templates.json
  src/controller/java/zap-generated/CHIPAttributeTLVValueDecoder.cpp
  src/controller/java/zap-generated/CHIPInvokeCallbacks.cpp
  src/controller/java/zap-generated/CHIPReadCallbacks.cpp
  src/lib/support/JniReferences.cpp
  src/lib/support/JniReferences.h
Labels: examples, lib, controller, android, review - pending, fast track

#14801 [Darwin] Fix CHIPTool iOS compilation
  .github/.wordlist.txt
  src/darwin/CHIPTool/CHIPTool/View Controllers/Echo client/EchoViewController.m
  src/darwin/CHIPTool/README.md
Labels: darwin, github, review - pending, fast track

#13600 Address review comments on PR 13172.
  examples/log-source-app/log-source-common/log-source-app.zap
  examples/placeholder/linux/apps/app1/config.zap
  examples/placeholder/linux/apps/app2/config.zap
  src/app/server/Server.h
  src/app/util/attribute-storage.cpp
  src/app/zap-templates/templates/app/endpoint_config.zapt
  src/app/zap-templates/zcl/data-model/chip/descriptor-cluster.xml
  src/app/zap-templates/zcl/data-model/chip/operational-credentials-cluster.xml
  src/lib/core/CHIPConfig.h
  zzz_generated/all-clusters-app/zap-generated/endpoint_config.h
  zzz_generated/bridge-app/zap-generated/endpoint_config.h
  zzz_generated/controller-clusters/zap-generated/endpoint_config.h
  zzz_generated/door-lock-app/zap-generated/endpoint_config.h
  zzz_generated/light-switch-app/zap-generated/endpoint_config.h
  zzz_generated/lighting-app/zap-generated/endpoint_config.h
  zzz_generated/lock-app/zap-generated/endpoint_config.h
  zzz_generated/log-source-app/zap-generated/endpoint_config.h
  zzz_generated/ota-provider-app/zap-generated/endpoint_config.h
  zzz_generated/ota-requestor-app/zap-generated/endpoint_config.h
  zzz_generated/placeholder/app1/zap-generated/endpoint_config.h
  zzz_generated/placeholder/app2/zap-generated/endpoint_config.h
  zzz_generated/pump-app/zap-generated/endpoint_config.h
  zzz_generated/pump-controller-app/zap-generated/endpoint_config.h
  zzz_generated/temperature-measurement-app/zap-generated/endpoint_config.h
  zzz_generated/thermostat/zap-generated/endpoint_config.h
  zzz_generated/tv-app/zap-generated/endpoint_config.h
  zzz_generated/tv-casting-app/zap-generated/endpoint_config.h
  zzz_generated/window-app/zap-generated/endpoint_config.h
Labels: examples, lib, app, review - pending, fast track

#14810 [OTA] Issue#13839 - Adding logging to OTA Provider
  src/app/clusters/ota-provider/ota-provider.cpp
Labels: app, review - approved

#14790 [ota] OTA Image header parsing
  src/lib/core/BUILD.gn
  src/lib/core/CHIPError.h
  src/lib/core/OTAImageHeader.cpp
  src/lib/core/OTAImageHeader.h
  src/lib/core/tests/BUILD.gn
  src/lib/core/tests/TestOTAImageHeader.cpp
Labels: lib, review - approved

#14619 ota-provider: cli options for software version, setup discriminator, and UserConsentNeeded fields
  examples/ota-provider-app/linux/main.cpp
  examples/ota-provider-app/ota-provider-common/OTAProviderExample.cpp
  examples/ota-provider-app/ota-provider-common/OTAProviderExample.h
Labels: examples, platform, darwin, review - approved

#14792 Stop treating maybe-uninitialized warnings as errors on esp32 and nrfconnect
  examples/all-clusters-app/esp32/CMakeLists.txt
  examples/bridge-app/esp32/CMakeLists.txt
  examples/ipv6only-app/esp32/CMakeLists.txt
  examples/lighting-app/esp32/CMakeLists.txt
  examples/lighting-app/nrfconnect/CMakeLists.txt
  examples/lock-app/esp32/CMakeLists.txt
  examples/lock-app/nrfconnect/CMakeLists.txt
  examples/ota-provider-app/esp32/CMakeLists.txt
  examples/ota-requestor-app/esp32/CMakeLists.txt
  examples/persistent-storage/esp32/CMakeLists.txt
  examples/pigweed-app/esp32/CMakeLists.txt
  examples/pigweed-app/nrfconnect/CMakeLists.txt
  examples/pump-app/nrfconnect/CMakeLists.txt
  examples/pump-controller-app/nrfconnect/CMakeLists.txt
  examples/shell/esp32/CMakeLists.txt
  examples/shell/nrfconnect/CMakeLists.txt
  examples/temperature-measurement-app/esp32/CMakeLists.txt
  src/lib/core/Optional.h
Labels: examples, lib, review - pending, fast track

#14719 Added Serializer and Deserializer to the PASEVerifier Struct
  src/app/clusters/administrator-commissioning-server/administrator-commissioning-server.cpp
  src/controller/CHIPDeviceController.cpp
  src/controller/java/CHIPDeviceController-JNI.cpp
  src/protocols/secure_channel/PASESession.cpp
  src/protocols/secure_channel/PASESession.h
  src/protocols/secure_channel/tests/TestPASESession.cpp
  src/tools/spake2p/Cmd_GenVerifier.cpp
Labels: controller, app, review - approved

#14799 Use PasscodeId Type Instead of uint16_t/uint32_t Where Appropriate
  src/app/server/CommissioningWindowManager.cpp
  src/app/server/CommissioningWindowManager.h
  src/app/tests/TestCommissionManager.cpp
  src/controller/CHIPDeviceController.cpp
  src/controller/CHIPDeviceController.h
  src/controller/java/CHIPDeviceController-JNI.cpp
  src/protocols/secure_channel/PASESession.cpp
  src/protocols/secure_channel/PASESession.h
Labels: controller, app, review - pending, fast track

#14715 [CI] ASAN build on Linux
  .github/workflows/build.yaml
Labels: github, workflows, review - pending, fast track

#14666 Address items in 14279
  examples/platform/linux/AppMain.cpp
  examples/platform/linux/AppMain.h
  examples/tv-app/linux/AppImpl.cpp
  examples/tv-app/linux/AppImpl.h
  examples/tv-app/linux/main.cpp
  src/app/app-platform/ContentApp.cpp
  src/app/app-platform/ContentApp.h
  src/app/app-platform/ContentAppPlatform.cpp
  src/app/app-platform/ContentAppPlatform.h
  src/app/clusters/application-basic-server/application-basic-delegate.h
  src/app/clusters/application-basic-server/application-basic-server.cpp
  src/app/clusters/application-launcher-server/application-launcher-server.cpp
  src/controller/CHIPDeviceController.cpp
  src/controller/CHIPDeviceController.h
  src/controller/CommissionerDiscoveryController.cpp
  src/controller/CommissionerDiscoveryController.h
Labels: examples, controller, app, V1.0, review - approved

#14310 [Ameba] Support Rotating ID for BLE beaconing
  config/ameba/chip.cmake
  examples/all-clusters-app/ameba/chip_main.cmake
  src/platform/Ameba/AmebaConfig.cpp
  src/platform/Ameba/AmebaConfig.h
  src/platform/Ameba/BLEManagerImpl.cpp
  src/platform/Ameba/BLEManagerImpl.h
  src/platform/Ameba/BUILD.gn
  src/platform/Ameba/CHIPDevicePlatformConfig.h
  src/platform/Ameba/ConfigurationManagerImpl.cpp
  src/platform/Ameba/ConfigurationManagerImpl.h
Labels: examples, platform, config, fast track

#14808 Media clusters & TV app minor attributes update
  examples/all-clusters-app/all-clusters-common/all-clusters-app.matter
  examples/tv-app/android/include/application-launcher/ApplicationLauncherManager.cpp
  examples/tv-app/android/include/application-launcher/ApplicationLauncherManager.h
  examples/tv-app/linux/include/application-launcher/ApplicationLauncherManager.cpp
  examples/tv-app/linux/include/application-launcher/ApplicationLauncherManager.h
  examples/tv-app/linux/include/target-navigator/TargetNavigatorManager.cpp
  examples/tv-app/tv-common/tv-app.matter
  examples/tv-casting-app/tv-casting-common/tv-casting-app.matter
  src/app/clusters/application-launcher-server/application-launcher-delegate.h
  src/app/clusters/application-launcher-server/application-launcher-server.cpp
  src/app/zap-templates/zcl/data-model/chip/account-login-cluster.xml
  src/app/zap-templates/zcl/data-model/chip/application-basic-cluster.xml
  src/app/zap-templates/zcl/data-model/chip/application-launcher-cluster.xml
  src/app/zap-templates/zcl/data-model/chip/target-navigator-cluster.xml
  src/controller/data_model/controller-clusters.matter
  src/controller/java/zap-generated/CHIPClusters-JNI.cpp
  src/controller/java/zap-generated/CHIPInvokeCallbacks.cpp
  src/controller/java/zap-generated/chip/devicecontroller/ChipClusters.java
  src/controller/java/zap-generated/chip/devicecontroller/ChipStructs.java
  src/controller/java/zap-generated/chip/devicecontroller/ClusterInfoMapping.java
  src/controller/python/chip/clusters/CHIPClusters.py
  src/controller/python/chip/clusters/Objects.py
  src/darwin/Framework/CHIP/zap-generated/CHIPCallbackBridge.mm
  src/darwin/Framework/CHIP/zap-generated/CHIPClustersObjc.mm
  src/darwin/Framework/CHIP/zap-generated/CHIPCommandPayloadsObjc.h
  src/darwin/Framework/CHIP/zap-generated/CHIPCommandPayloadsObjc.mm
  src/darwin/Framework/CHIP/zap-generated/CHIPStructsObjc.h
  src/darwin/Framework/CHIP/zap-generated/CHIPStructsObjc.mm
  zzz_generated/app-common/app-common/zap-generated/af-structs.h
  zzz_generated/app-common/app-common/zap-generated/callback.h
  zzz_generated/app-common/app-common/zap-generated/cluster-objects.cpp
  zzz_generated/app-common/app-common/zap-generated/cluster-objects.h
  zzz_generated/chip-tool/zap-generated/cluster/Commands.h
  zzz_generated/chip-tool/zap-generated/cluster/ComplexArgumentParser.cpp
  zzz_generated/chip-tool/zap-generated/cluster/ComplexArgumentParser.h
  zzz_generated/chip-tool/zap-generated/cluster/logging/DataModelLogger.cpp
  zzz_generated/chip-tool/zap-generated/cluster/logging/DataModelLogger.h
  zzz_generated/chip-tool/zap-generated/test/Commands.h
Labels: examples, darwin, controller, app, review - approved

#14830 Put temporary fix for function pointer casting error in arm gcc
  src/app/util/attribute-storage.cpp
Labels: app, review - approved

#14712 Fix github issue #14321 - Thread end device (Requestor) crashes if it cannot reach the Provider
  src/lib/dnssd/Discovery_ImplPlatform.cpp
Labels: platform, openthread, lib, review - approved

#14807 SPAKE2P Iteration Count Parameter Is 32-Bits
  examples/chip-tool/commands/pairing/OpenCommissioningWindowCommand.h
  src/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/clusterclient/MultiAdminClientFragment.kt
  src/controller/CHIPDeviceController.cpp
  src/controller/CHIPDeviceController.h
  src/controller/java/CHIPDeviceController-JNI.cpp
  src/controller/java/src/chip/devicecontroller/ChipDeviceController.java
  src/controller/python/ChipDeviceController-ScriptBinding.cpp
  src/controller/python/chip/ChipDeviceCtrl.py
Labels: examples, controller, android, review - pending, fast track

#14713 Implement a Generic Network commissioning Thread Driver
  examples/light-switch-app/efr32/build_for_wifi_gnfile.gn
  examples/lighting-app/telink/CMakeLists.txt
  examples/lock-app/efr32/build_for_wifi_gnfile.gn
  examples/persistent-storage/qpg/args.gni
  examples/shell/efr32/BUILD.gn
  examples/shell/efr32/args.gni
  examples/shell/efr32/include/CHIPProjectConfig.h
  examples/shell/mbed/CMakeLists.txt
  examples/shell/mbed/main/include/CHIPProjectConfig.h
  examples/shell/nrfconnect/CHIPProjectConfig.h
  examples/shell/nxp/k32w/k32w0/BUILD.gn
  examples/window-app/efr32/build_for_wifi_gnfile.gn
  src/include/platform/ThreadStackManager.h
  src/include/platform/internal/GenericConnectivityManagerImpl_Thread.cpp
  src/platform/BUILD.gn
  src/platform/EFR32/BUILD.gn
  src/platform/EFR32/CHIPDevicePlatformConfig.h
  src/platform/EFR32/ThreadStackManagerImpl.cpp
  src/platform/Linux/ThreadStackManagerImpl.cpp
  src/platform/Linux/ThreadStackManagerImpl.h
  src/platform/OpenThread/GenericNetworkCommissioningThreadDriver.cpp
  src/platform/OpenThread/GenericNetworkCommissioningThreadDriver.h
  src/platform/OpenThread/GenericThreadStackManagerImpl_OpenThread.cpp
  src/platform/OpenThread/GenericThreadStackManagerImpl_OpenThread.h
  src/test_driver/efr32/BUILD.gn
Labels: examples, platform, efr32, linux, openthread, review - approved

#14806 Add correct checking for whether a command is supported.
  .github/.wordlist.txt
  examples/bridge-app/esp32/README.md
  examples/bridge-app/esp32/main/main.cpp
  examples/bridge-app/linux/README.md
  examples/bridge-app/linux/main.cpp
  examples/tv-app/linux/AppImpl.cpp
  src/app/CommandHandler.cpp
  src/app/CommandHandler.h
  src/app/InteractionModelEngine.cpp
  src/app/InteractionModelEngine.h
  src/app/tests/TestCommandInteraction.cpp
  src/app/tests/integration/chip_im_initiator.cpp
  src/app/tests/integration/chip_im_responder.cpp
  src/app/tests/suites/TestCluster.yaml
  src/app/tests/suites/certification/Test_TC_SWDIAG_1_1.yaml
  src/app/tests/suites/certification/Test_TC_SWDIAG_2_1.yaml
  src/app/tests/suites/certification/Test_TC_SWDIAG_3_1.yaml
  src/app/tests/suites/certification/Test_TC_WIFIDIAG_1_1.yaml
  src/app/tests/suites/certification/Test_TC_WIFIDIAG_3_1.yaml
  src/app/util/af.h
  src/app/util/attribute-storage.cpp
  src/app/util/attribute-storage.h
  src/app/util/ember-compatibility-functions.cpp
  src/controller/tests/TestReadChunking.cpp
  src/controller/tests/TestServerCommandDispatch.cpp
  src/controller/tests/data_model/TestCommands.cpp
  src/controller/tests/data_model/TestRead.cpp
  src/controller/tests/data_model/TestWrite.cpp
  src/darwin/Framework/CHIPTests/CHIPClustersTests.m
  src/test_driver/linux-cirque/MobileDeviceTest.py
  zzz_generated/chip-tool/zap-generated/test/Commands.h
Labels: examples, darwin, controller, app, github, review - approved

#14832 Add --KVS option for examples/platform/linux in order to specify wher…
  examples/platform/linux/AppMain.cpp
  examples/platform/linux/Options.cpp
  examples/platform/linux/Options.h
  scripts/tests/chiptest/test_definition.py
  src/app/server/Server.cpp
  src/platform/Darwin/CHIPPlatformConfig.h
  src/platform/Darwin/KeyValueStoreManagerImpl.mm
  src/platform/Linux/KeyValueStoreManagerImpl.h
Labels: examples, scripts, platform, darwin, linux, app, review - approved

#14844 Ensure buff size constraints in chip logging module name fetch
  src/lib/support/logging/CHIPLogging.cpp
  src/lib/support/logging/CHIPLogging.h
Labels: lib, review - approved

#14841 Enable Media Struct Atributes on chip tool
  src/controller/data_model/controller-clusters.matter
  src/controller/data_model/controller-clusters.zap
  src/controller/java/templates/partials/decode_value.zapt
  src/controller/java/zap-generated/CHIPAttributeTLVValueDecoder.cpp
  src/controller/java/zap-generated/CHIPCallbackTypes.h
  src/controller/java/zap-generated/CHIPInvokeCallbacks.cpp
  src/controller/java/zap-generated/CHIPReadCallbacks.cpp
  src/controller/python/chip/clusters/CHIPClusters.py
  src/darwin/Framework/CHIP/zap-generated/CHIPAttributeTLVValueDecoder.mm
  zzz_generated/chip-tool/zap-generated/cluster/Commands.h
  zzz_generated/chip-tool/zap-generated/cluster/logging/DataModelLogger.cpp
Labels: darwin, controller, review - approved, tv

#14814 Add support for struct-typed attributes on darwin.
  examples/tv-app/tv-common/tv-app.matter
  src/app/tests/suites/TestCluster.yaml
  src/app/tests/suites/TestClusterComplexTypes.yaml
  src/app/zap-templates/zcl/data-model/chip/application-basic-cluster.xml
  src/controller/data_model/controller-clusters.matter
  src/controller/python/chip/clusters/CHIPClusters.py
  src/darwin/Framework/CHIP/templates/CHIPCallbackBridge-src.zapt
  src/darwin/Framework/CHIP/templates/CHIPCallbackBridge_internal.zapt
  src/darwin/Framework/CHIP/templates/CHIPClustersObjc-src.zapt
  src/darwin/Framework/CHIP/templates/CHIPClustersObjc.zapt
  src/darwin/Framework/CHIP/templates/clusters-tests.zapt
  src/darwin/Framework/CHIP/templates/helper.js
  src/darwin/Framework/CHIP/templates/partials/attribute_data_callback_name.zapt
  src/darwin/Framework/CHIP/templates/templates.json
  src/darwin/Framework/CHIP/zap-generated/CHIPCallbackBridge.mm
  src/darwin/Framework/CHIP/zap-generated/CHIPCallbackBridge_internal.h
  src/darwin/Framework/CHIP/zap-generated/CHIPClustersObjc.h
  src/darwin/Framework/CHIP/zap-generated/CHIPClustersObjc.mm
  src/darwin/Framework/CHIP/zap-generated/CHIPTestClustersObjc.h
  src/darwin/Framework/CHIP/zap-generated/CHIPTestClustersObjc.mm
  src/darwin/Framework/CHIPTests/CHIPClustersTests.m
  zzz_generated/chip-tool/zap-generated/cluster/Commands.h
  zzz_generated/chip-tool/zap-generated/test/Commands.h
  zzz_generated/tv-app/zap-generated/endpoint_config.h
Labels: examples, darwin, controller, app, review - pending, fast track

#14767 Support Network Commissioning for Infineon P6 platform
  examples/all-clusters-app/p6/src/AppTask.cpp
  examples/lighting-app/p6/src/AppTask.cpp
  examples/lock-app/p6/src/AppTask.cpp
  examples/persistent-storage/p6/.gn
  examples/persistent-storage/p6/BUILD.gn
  examples/persistent-storage/p6/README.md
  examples/persistent-storage/p6/args.gni
  examples/persistent-storage/p6/build_overrides
  examples/persistent-storage/p6/include/AppConfig.h
  examples/persistent-storage/p6/include/CHIPProjectConfig.h
  examples/persistent-storage/p6/main.cpp
  examples/persistent-storage/p6/third_party/connectedhomeip
  scripts/tools/check_includes_config.py
  src/platform/P6/BUILD.gn
  src/platform/P6/ConnectivityManagerImpl.cpp
  src/platform/P6/NetworkCommissioningDriver.h
  src/platform/P6/NetworkCommissioningWiFiDriver.cpp
Labels: examples, scripts, platform, review - pending, fast track

#14432 Modified Color control testcases - 27 Jan
  src/app/tests/suites/certification/Test_TC_CC_3_1.yaml
  src/app/tests/suites/certification/Test_TC_CC_6_2.yaml
  src/app/tests/suites/certification/Test_TC_CC_7_1.yaml
  src/app/tests/suites/certification/Test_TC_CC_7_2.yaml
  src/app/tests/suites/certification/Test_TC_CC_9_1.yaml
  src/app/tests/suites/certification/Test_TC_CC_9_2.yaml
  src/app/tests/suites/certification/Test_TC_CC_9_3.yaml
  src/darwin/Framework/CHIPTests/CHIPClustersTests.m
  zzz_generated/chip-tool/zap-generated/test/Commands.h
Labels: darwin, app, review - approved

#14856 Add README that describes the libfuzzer integration.
  .github/.wordlist.txt
  examples/all-clusters-app/linux/README.md
Labels: examples, github, fast track

#14842 Update openjdk version: apparently alpine has a new openjdk and old v…
  integrations/docker/images/chip-build-zap/Dockerfile
  integrations/docker/images/chip-build/version
Labels: integrations, review - pending, fast track

#14803 Add support for thermostat and humidity sensor
  examples/all-clusters-app/esp32/main/main.cpp
Labels: examples, review - pending, fast track

#14824 Align Generic Diagnostics cluster with the latest spec
  examples/all-clusters-app/all-clusters-common/all-clusters-app.matter
  examples/bridge-app/bridge-common/bridge-app.matter
  examples/door-lock-app/door-lock-common/door-lock-app.matter
  examples/light-switch-app/light-switch-common/light-switch-app.matter
  examples/lighting-app/lighting-common/lighting-app.matter
  examples/lock-app/lock-common/lock-app.matter
  examples/pump-app/pump-common/pump-app.matter
  examples/pump-controller-app/pump-controller-common/pump-controller-app.matter
  examples/temperature-measurement-app/esp32/main/temperature-measurement.matter
  examples/thermostat/thermostat-common/thermostat.matter
  examples/tv-app/tv-common/tv-app.matter
  examples/tv-casting-app/tv-casting-common/tv-casting-app.matter
  examples/window-app/common/window-app.matter
  src/app/zap-templates/zcl/data-model/chip/general-diagnostics-cluster.xml
  src/controller/data_model/controller-clusters.matter
  src/controller/java/zap-generated/CHIPAttributeTLVValueDecoder.cpp
  src/controller/java/zap-generated/CHIPReadCallbacks.cpp
  src/controller/java/zap-generated/chip/devicecontroller/ChipStructs.java
  src/controller/python/chip/clusters/Objects.py
  src/darwin/Framework/CHIP/zap-generated/CHIPAttributeTLVValueDecoder.mm
  src/darwin/Framework/CHIP/zap-generated/CHIPCallbackBridge.mm
  src/darwin/Framework/CHIP/zap-generated/CHIPStructsObjc.h
  src/darwin/Framework/CHIP/zap-generated/CHIPStructsObjc.mm
  src/darwin/Framework/CHIP/zap-generated/CHIPTestClustersObjc.mm
  src/platform/Ameba/DiagnosticDataProviderImpl.cpp
  src/platform/EFR32/DiagnosticDataProviderImpl.cpp
  src/platform/ESP32/DiagnosticDataProviderImpl.cpp
  src/platform/Linux/DiagnosticDataProviderImpl.cpp
  src/platform/P6/DiagnosticDataProviderImpl.cpp
  src/platform/Zephyr/DiagnosticDataProviderImpl.cpp
  zzz_generated/app-common/app-common/zap-generated/cluster-objects.h
Labels: examples, platform, darwin, efr32, esp32, linux, zephyr, controller, app, review - approved

#14853 Mark MCSP responses as NOT_IMPLEMENTED
  src/protocols/secure_channel/MessageCounterManager.cpp
Labels: review - pending, fast track

#14860 [CI] TSAN build on Linux
  .github/workflows/build.yaml
Labels: github, workflows, review - pending, fast track

#14863 Update all_clusters_app README
  examples/all-clusters-app/esp32/README.md
Labels: examples, review - pending, fast track

#14583 add missing openocd install instructions
  .github/.wordlist.txt
  examples/all-clusters-app/mbed/README.md
  examples/lighting-app/mbed/README.md
  examples/lock-app/mbed/README.md
  examples/ota-requestor-app/mbed/README.md
  examples/pigweed-app/mbed/README.md
  examples/shell/mbed/README.md
  src/test_driver/mbed/integration_tests/README.md
  src/test_driver/mbed/unit_tests/README.md
Labels: examples, github, review - pending, fast track

#13900 ESP: Add case command to establish CASESession to another node for TC-SC-4.9(RIO Support) verification.
  examples/all-clusters-app/esp32/main/OnOffCommands.cpp
  examples/all-clusters-app/esp32/main/ShellCommands.cpp
  examples/all-clusters-app/esp32/main/include/OnOffCommands.h
  examples/all-clusters-app/esp32/main/include/ShellCommands.h
  examples/all-clusters-app/esp32/main/main.cpp
Labels: examples, lib, review - pending, fast track

#14828 [Darwin] Remove automatically generated tests for Darwin since there are many YAMLs tests now
  src/darwin/Framework/CHIP/templates/clusters-tests.zapt
  src/darwin/Framework/CHIP/templates/helper.js
  src/darwin/Framework/CHIPTests/CHIPClustersTests.m
Labels: darwin, app, review - approved

#14868 Fix compilation on newer clang.
  src/app/clusters/bindings/BindingManager.cpp
Labels: hotfix, app, review - pending

#14835 [ESP32] Automatically build OTA image based on config option
  config/esp32/components/chip/CMakeLists.txt
  config/esp32/components/chip/Kconfig
  config/esp32/components/chip/ota-image.cmake
Labels: config, review - pending, fast track

#14821 Make WriteHandler an ExchangeDelegate
  src/app/InteractionModelEngine.cpp
  src/app/WriteHandler.cpp
  src/app/WriteHandler.h
  src/app/tests/TestWriteInteraction.cpp
  src/controller/tests/data_model/TestRead.cpp
  src/lib/core/CHIPError.h
  src/messaging/tests/MessagingContext.h
  src/transport/raw/tests/NetworkTestHelpers.h
Labels: transport, lib, controller, app, review - approved

#14598 [YAML] Add TestDiscovery.yaml
  examples/chip-tool/BUILD.gn
  examples/chip-tool/commands/tests/TestCommand.cpp
  examples/chip-tool/commands/tests/TestCommand.h
  examples/chip-tool/templates/partials/test_cluster.zapt
  examples/chip-tool/templates/tests.js
  examples/placeholder/linux/BUILD.gn
  examples/placeholder/linux/include/TestCommand.h
  src/app/tests/suites/TestDiscovery.yaml
  src/app/tests/suites/certification/PICS.yaml
  src/app/tests/suites/commands/discovery/BUILD.gn
  src/app/tests/suites/commands/discovery/DiscoveryCommands.cpp
  src/app/tests/suites/commands/discovery/DiscoveryCommands.h
  src/app/zap-templates/common/simulated-clusters/clusters/DiscoveryCommands.js
  zzz_generated/chip-tool/zap-generated/test/Commands.h
  zzz_generated/placeholder/app1/zap-generated/test/Commands.h
  zzz_generated/placeholder/app2/zap-generated/test/Commands.h
Labels: examples, app, review - pending, fast track

#14876 [nrfconnect] Fix pigweed/protobuf compiler flags
  examples/lighting-app/nrfconnect/CMakeLists.txt
  examples/lighting-app/nrfconnect/rpc.overlay
  examples/pigweed-app/nrfconnect/CMakeLists.txt
  examples/pigweed-app/nrfconnect/README.md
  examples/pigweed-app/nrfconnect/prj.conf
Labels: examples, review - pending, fast track

#14382 Add ephemeral node IDs for unsecured sessions
  src/transport/SessionManager.cpp
  src/transport/SessionManager.h
  src/transport/UnauthenticatedSessionTable.h
Labels: transport, review - approved

#14851 Rename CHIP_CONFIG_MAX_DEVICE_ADMINS to CHIP_CONFIG_MAX_FABRICS.
  examples/lighting-app/nxp/k32w/k32w0/include/CHIPProjectConfig.h
  examples/lock-app/nxp/k32w/k32w0/include/CHIPProjectConfig.h
  examples/platform/qpg/project_include/CHIPProjectConfig.h
  examples/shell/nxp/k32w/k32w0/include/CHIPProjectConfig.h
  src/access/examples/ExampleAccessControlDelegate.cpp
  src/app/clusters/operational-credentials-server/operational-credentials-server.cpp
  src/credentials/FabricTable.h
  src/include/platform/CHIPDeviceConfig.h
  src/lib/core/CHIPConfig.h
  src/platform/CYW30739/CHIPPlatformConfig.h
  src/platform/CYW30739/KeyValueStoreManagerImpl.h
  src/platform/EFR32/CHIPPlatformConfig.h
  src/platform/cc13x2_26x2/CHIPPlatformConfig.h
  src/platform/nrfconnect/CHIPDevicePlatformConfig.h
  src/platform/nrfconnect/CHIPPlatformConfig.h
  src/platform/qpg/CHIPDevicePlatformConfig.h
Labels: examples, platform, efr32, nrf connect, lib, app, review - approved

#14869 Set keypair length in example issuer to value length
  src/controller/ExampleOperationalCredentialsIssuer.cpp
Labels: controller, review - approved

#14752 Bulk read all the things
  src/controller/AutoCommissioner.cpp
  src/controller/AutoCommissioner.h
  src/controller/CHIPDeviceController.cpp
  src/controller/CommissioningDelegate.h
Labels: controller, review - approved

#14441 [TI] implement CC13X2 CC26X2 OTA feature with ext flash
  examples/lock-app/cc13x2x7_26x2x7/BUILD.gn
  examples/lock-app/cc13x2x7_26x2x7/args.gni
  examples/lock-app/cc13x2x7_26x2x7/chip.syscfg
  examples/lock-app/cc13x2x7_26x2x7/main/AppTask.cpp
  examples/lock-app/esp32/main/CMakeLists.txt
  examples/lock-app/lock-common/BUILD.gn
  examples/lock-app/lock-common/lock-app.matter
  examples/lock-app/lock-common/lock-app.zap
  examples/persistent-storage/cc13x2x7_26x2x7/BUILD.gn
  examples/pump-app/cc13x2x7_26x2x7/BUILD.gn
  examples/pump-controller-app/cc13x2x7_26x2x7/BUILD.gn
  src/platform/cc13x2_26x2/BUILD.gn
  src/platform/cc13x2_26x2/CHIPPlatformConfig.h
  src/platform/cc13x2_26x2/OTAImageProcessorImpl.cpp
  src/platform/cc13x2_26x2/OTAImageProcessorImpl.h
  src/platform/cc13x2_26x2/cc13x2x7_cc26x2x7_freertos_ota.lds
  src/platform/cc13x2_26x2/oad_image_header.c
  third_party/ti_simplelink_sdk/run_oad_tool.py
  third_party/ti_simplelink_sdk/ti_simplelink_board.gni
  third_party/ti_simplelink_sdk/ti_simplelink_executable.gni
  zzz_generated/lock-app/zap-generated/CHIPClientCallbacks.h
  zzz_generated/lock-app/zap-generated/CHIPClusters.h
  zzz_generated/lock-app/zap-generated/IMClusterCommandHandler.cpp
  zzz_generated/lock-app/zap-generated/PluginApplicationCallbacks.h
  zzz_generated/lock-app/zap-generated/af-gen-event.h
  zzz_generated/lock-app/zap-generated/callback-stub.cpp
  zzz_generated/lock-app/zap-generated/endpoint_config.h
  zzz_generated/lock-app/zap-generated/gen_config.h
Labels: examples, platform, controller, review - pending, fast track

#14889 Stop excluding TestGroupDemo* tests in our CI.
  .github/workflows/tests.yaml
Labels: github, workflows, fast track

#14892 [CI] Disable TestDiscovery
  examples/chip-tool/templates/tests.js
  zzz_generated/chip-tool/zap-generated/test/Commands.h
Labels: examples, hotfix, review - pending

#14881 Door lock cluster relocking support
  examples/door-lock-app/door-lock-common/door-lock-app.matter
  examples/door-lock-app/door-lock-common/door-lock-app.zap
  src/app/clusters/door-lock-server/door-lock-server.cpp
  src/app/clusters/door-lock-server/door-lock-server.h
  zzz_generated/all-clusters-app/zap-generated/af-gen-event.h
  zzz_generated/door-lock-app/zap-generated/endpoint_config.h
  zzz_generated/thermostat/zap-generated/af-gen-event.h
  zzz_generated/tv-casting-app/zap-generated/af-gen-event.h
Labels: examples, app, review - approved

#14891 [zephyr] Fix Network Commissioning after switching to new API
  src/lib/support/ThreadOperationalDataset.cpp
  src/platform/Zephyr/ThreadStackManagerImpl.cpp
  src/platform/Zephyr/ThreadStackManagerImpl.h
Labels: platform, zephyr, lib, review - approved

#14908 Use keypair capacity and bytes in example issuer
  src/controller/ExampleOperationalCredentialsIssuer.cpp
Labels: controller, review - approved

#14906 Need better error output when chip-tool struct members are not quoted.
  examples/chip-tool/commands/clusters/ComplexArgument.h
  examples/chip-tool/templates/ComplexArgumentParser-src.zapt
  zzz_generated/chip-tool/zap-generated/cluster/ComplexArgumentParser.cpp
Labels: examples, review - pending, fast track

#14898 Fix crashes trying to commission Linux bridge-app.
  src/app/AttributePathExpandIterator.cpp
  src/app/util/attribute-storage.cpp
  src/app/util/attribute-storage.h
  src/app/util/mock/attribute-storage.cpp
Labels: app, review - approved

#14917 Fix reporting in CHIPTool
  src/darwin/CHIPTool/CHIPTool/View Controllers/Temperature Sensor/TemperatureSensorViewController.m
Labels: darwin, review - pending, fast track

#14910 Update TV SDK, minor changes, mostly syncing the xml files per spec.
  examples/all-clusters-app/all-clusters-common/all-clusters-app.matter
  examples/tv-app/android/include/target-navigator/TargetNavigatorManager.cpp
  examples/tv-app/android/java/ChannelManager.cpp
  examples/tv-app/android/java/ContentLauncherManager.cpp
  examples/tv-app/android/java/MediaPlaybackManager.cpp
  examples/tv-app/linux/include/channel/ChannelManager.cpp
  examples/tv-app/linux/include/content-launcher/ContentLauncherManager.cpp
  examples/tv-app/linux/include/media-playback/MediaPlaybackManager.cpp
  examples/tv-app/linux/include/target-navigator/TargetNavigatorManager.cpp
  examples/tv-app/tv-common/tv-app.matter
  examples/tv-casting-app/linux/main.cpp
  examples/tv-casting-app/tv-casting-common/tv-casting-app.matter
  src/app/clusters/application-launcher-server/application-launcher-server.cpp
  src/app/clusters/content-launch-server/content-launch-server.cpp
  src/app/clusters/target-navigator-server/target-navigator-server.cpp
  src/app/zap-templates/zcl/data-model/chip/application-basic-cluster.xml
  src/app/zap-templates/zcl/data-model/chip/application-launcher-cluster.xml
  src/app/zap-templates/zcl/data-model/chip/audio-output-cluster.xml
  src/app/zap-templates/zcl/data-model/chip/channel-cluster.xml
  src/app/zap-templates/zcl/data-model/chip/content-launch-cluster.xml
  src/app/zap-templates/zcl/data-model/chip/media-input-cluster.xml
  src/app/zap-templates/zcl/data-model/chip/media-playback-cluster.xml
  src/app/zap-templates/zcl/data-model/chip/target-navigator-cluster.xml
  src/app/zap-templates/zcl/data-model/chip/wake-on-lan-cluster.xml
  src/controller/data_model/controller-clusters.matter
  src/controller/java/zap-generated/CHIPAttributeTLVValueDecoder.cpp
  src/controller/java/zap-generated/CHIPClusters-JNI.cpp
  src/controller/java/zap-generated/CHIPInvokeCallbacks.cpp
  src/controller/java/zap-generated/CHIPReadCallbacks.cpp
  src/controller/java/zap-generated/CHIPReadCallbacks.h
  src/controller/java/zap-generated/chip/devicecontroller/ChipClusters.java
  src/controller/java/zap-generated/chip/devicecontroller/ChipStructs.java
  src/controller/java/zap-generated/chip/devicecontroller/ClusterInfoMapping.java
  src/controller/java/zap-generated/chip/devicecontroller/ClusterReadMapping.java
  src/controller/python/chip/clusters/CHIPClusters.py
  src/controller/python/chip/clusters/Objects.py
  src/darwin/Framework/CHIP/zap-generated/CHIPAttributeTLVValueDecoder.mm
  src/darwin/Framework/CHIP/zap-generated/CHIPCallbackBridge.mm
  src/darwin/Framework/CHIP/zap-generated/CHIPCallbackBridge_internal.h
  src/darwin/Framework/CHIP/zap-generated/CHIPClustersObjc.h
  src/darwin/Framework/CHIP/zap-generated/CHIPClustersObjc.mm
  src/darwin/Framework/CHIP/zap-generated/CHIPCommandPayloadsObjc.h
  src/darwin/Framework/CHIP/zap-generated/CHIPCommandPayloadsObjc.mm
  src/darwin/Framework/CHIP/zap-generated/CHIPStructsObjc.h
  src/darwin/Framework/CHIP/zap-generated/CHIPStructsObjc.mm
  src/darwin/Framework/CHIP/zap-generated/CHIPTestClustersObjc.h
  src/darwin/Framework/CHIP/zap-generated/CHIPTestClustersObjc.mm
  zzz_generated/all-clusters-app/zap-generated/endpoint_config.h
  zzz_generated/app-common/app-common/zap-generated/af-structs.h
  zzz_generated/app-common/app-common/zap-generated/attributes/Accessors.cpp
  zzz_generated/app-common/app-common/zap-generated/attributes/Accessors.h
  zzz_generated/app-common/app-common/zap-generated/cluster-objects.cpp
  zzz_generated/app-common/app-common/zap-generated/cluster-objects.h
  zzz_generated/chip-tool/zap-generated/cluster/Commands.h
  zzz_generated/chip-tool/zap-generated/cluster/ComplexArgumentParser.cpp
  zzz_generated/chip-tool/zap-generated/cluster/logging/DataModelLogger.cpp
  zzz_generated/chip-tool/zap-generated/test/Commands.h
  zzz_generated/tv-app/zap-generated/endpoint_config.h
Labels: examples, controller, app, review - approved

#14913 Make esp32 temperature measurement app commissionable
  examples/temperature-measurement-app/esp32/main/CMakeLists.txt
  examples/temperature-measurement-app/esp32/main/main.cpp
Labels: examples, review - pending, fast track

#14920 Add support for light sensor
  examples/all-clusters-app/esp32/main/main.cpp
Labels: examples, esp32, review - pending, fast track

#14926 Add a guide on how to troubleshoot avahi
  docs/guides/troubleshooting_avahi.md
Labels: documentation, review - approved

#14894 Surface an accessor for the PASE attestation challenge in Java
  src/controller/CHIPDeviceController.cpp
  src/controller/CHIPDeviceController.h
  src/controller/java/CHIPDeviceController-JNI.cpp
  src/controller/java/src/chip/devicecontroller/ChipDeviceController.java
Labels: controller, review - approved

#14928 Set valid device types for application endpoints (#13634)
  examples/all-clusters-app/all-clusters-common/all-clusters-app.zap
  examples/temperature-measurement-app/esp32/main/temperature-measurement.zap
  examples/tv-casting-app/tv-casting-common/tv-casting-app.zap
  zzz_generated/all-clusters-app/zap-generated/endpoint_config.h
  zzz_generated/temperature-measurement-app/zap-generated/endpoint_config.h
  zzz_generated/tv-casting-app/zap-generated/endpoint_config.h
Labels: examples

#14930 Deleted Python Notebook files at the root level
  Matter - Multi Fabric Commissioning.ipynb
  Matter - REPL Basics.ipynb
Labels: review - pending, fast track

#14834 ESP32: Add MAX_FABRICS config option
  config/esp32/components/chip/Kconfig
  src/platform/ESP32/CHIPPlatformConfig.h
Labels: platform, esp32, config, review - pending, fast track

#14293 CI workflow for iMX
  .github/workflows/examples-linux-imx.yaml
  README.md
  scripts/examples/imxlinux_example.sh
Labels: scripts, github, workflows, review - pending, fast track

#14927 Introduce ConcreteClusterPath.
  src/app/ConcreteAttributePath.h
  src/app/ConcreteClusterPath.h
  src/app/ConcreteCommandPath.h
  src/app/ConcreteEventPath.h
Labels: app, review - approved

#14937 [Ameba] Add NetWorkCommissioningInstInit to fix pairing failure
  examples/lighting-app/ameba/main/chipinterface.cpp
  examples/ota-requestor-app/ameba/main/chipinterface.cpp
Labels: examples, review - pending, fast track

#14875 [ota] Parse OTA image header in nRF Connect and Linux platforms
  config/nrfconnect/chip-module/Kconfig
  examples/lighting-app/nrfconnect/prj.conf
  src/app/clusters/ota-requestor/BDXDownloader.cpp
  src/app/clusters/ota-requestor/OTARequestor.cpp
  src/include/platform/OTAImageProcessor.h
  src/lib/core/OTAImageHeader.cpp
  src/lib/core/OTAImageHeader.h
  src/lib/core/tests/TestOTAImageHeader.cpp
  src/lib/shell/commands/Ota.cpp
  src/platform/Linux/OTAImageProcessorImpl.cpp
  src/platform/Linux/OTAImageProcessorImpl.h
  src/platform/nrfconnect/OTAImageProcessorImpl.cpp
  src/platform/nrfconnect/OTAImageProcessorImpl.h
Labels: examples, platform, linux, nrf connect, lib, app, config, review - approved

#14946 [ESP32] Make apps commissionable
  examples/bridge-app/esp32/main/CMakeLists.txt
  examples/bridge-app/esp32/main/main.cpp
  examples/lighting-app/esp32/main/CMakeLists.txt
  examples/lighting-app/esp32/main/main.cpp
  examples/lock-app/esp32/main/main.cpp
  examples/ota-provider-app/esp32/main/CMakeLists.txt
  examples/ota-provider-app/esp32/main/main.cpp
  examples/ota-requestor-app/esp32/main/CMakeLists.txt
  examples/ota-requestor-app/esp32/main/main.cpp
Labels: examples, review - approved

#14924 [OTA] Implement OTA to all EFR32 examples
  examples/lighting-app/efr32/BUILD.gn
  examples/lighting-app/efr32/args.gni
  examples/lighting-app/efr32/src/main.cpp
  examples/lock-app/efr32/BUILD.gn
  examples/lock-app/efr32/args.gni
  examples/lock-app/efr32/src/main.cpp
  examples/platform/efr32/OTAConfig.cpp
  examples/platform/efr32/OTAConfig.h
  examples/window-app/efr32/BUILD.gn
  examples/window-app/efr32/args.gni
  examples/window-app/efr32/src/main.cpp
Labels: examples, efr32, review - pending, fast track

#14960 Use PasscodeId in NodeId functions
  src/lib/core/NodeId.h
Labels: lib, review - approved

#14959 Group Data Provider: Security Policy returned by the GroupSessionIter…
  src/credentials/GroupDataProvider.h
  src/credentials/GroupDataProviderImpl.cpp
  src/credentials/tests/TestGroupDataProvider.cpp
  src/lib/support/TestGroupData.h
Labels: lib, review - approved

#14957 [ESP32] Parse OTA image header
  config/esp32/components/chip/Kconfig
  config/esp32/components/chip/ota-image.cmake
  examples/ota-requestor-app/esp32/README.md
  src/platform/ESP32/OTAImageProcessorImpl.cpp
  src/platform/ESP32/OTAImageProcessorImpl.h
Labels: examples, platform, esp32, config, review - approved

#14956 [chip-tool-darwin] Pass a NSError reference in the pairing module ins…
  examples/chip-tool-darwin/commands/common/CHIPCommandBridge.mm
  examples/chip-tool-darwin/commands/pairing/PairingCommandBridge.h
  examples/chip-tool-darwin/commands/pairing/PairingCommandBridge.mm
  examples/chip-tool-darwin/commands/pairing/PairingDelegateBridge.mm
Labels: examples, review - pending, fast track

#14951 [nrfconnect] Auto-reboot on firmware update
  config/nrfconnect/chip-module/Kconfig
  src/platform/nrfconnect/CHIPDevicePlatformConfig.h
  src/platform/nrfconnect/OTAImageProcessorImpl.cpp
Labels: platform, nrf connect, config, review - approved

#14945 Fix EFR32 builds with wifi support
  src/platform/EFR32/CHIPDevicePlatformConfig.h
Labels: platform, efr32, review - pending, fast track

#14904 Make FabricIndex be a common thing across all sessions.
  examples/chip-tool/commands/common/CommandInvoker.h
  src/app/CommandHandler.cpp
  src/app/InteractionModelEngine.cpp
  src/app/ReadClient.cpp
  src/app/ReadHandler.cpp
  src/app/WriteHandler.cpp
  src/app/clusters/general-commissioning-server/general-commissioning-server.cpp
  src/app/clusters/operational-credentials-server/operational-credentials-server.cpp
  src/controller/CHIPCluster.cpp
  src/credentials/FabricTable.h
  src/transport/GroupSession.h
  src/transport/SecureSession.cpp
  src/transport/SecureSession.h
  src/transport/Session.h
Labels: examples, transport, controller, app, review - pending, fast track

#14916 Fix door lock check
  src/app/clusters/door-lock-server/door-lock-server.cpp
Labels: app

#14970 Add log for decryption failure
  src/transport/SessionManager.cpp
Labels: transport, review - approved

#14969 [TI] enable mtd builds
  examples/lock-app/cc13x2x7_26x2x7/chip.syscfg
  examples/persistent-storage/cc13x2x7_26x2x7/chip.syscfg
  examples/platform/cc13x2_26x2/args.gni
  third_party/ti_simplelink_sdk/ti_simplelink_sdk.gni
Labels: examples, review - pending, fast track

#14756 Add ACL validation
  src/access/AccessControl.cpp
  src/access/AccessControl.h
  src/access/tests/TestAccessControl.cpp
  src/lib/core/CASEAuthTag.h
  src/lib/core/DataModelTypes.h
  src/lib/core/GroupId.h
  src/lib/core/NodeId.h
Labels: lib, review - approved

#14963 Remove unnecessary assert
  src/platform/cc13x2_26x2/BLEManagerImpl.cpp
Labels: platform, review - pending, fast track

#14961 Update TV SDK, mac address bug addressed and synced content launch xml files per spec.
  examples/tv-app/android/java/ContentLauncherManager.cpp
  examples/tv-app/android/java/ContentLauncherManager.h
  examples/tv-app/linux/BUILD.gn
  examples/tv-app/linux/include/channel/ChannelManager.cpp
  examples/tv-app/linux/include/content-launcher/ContentLauncherManager.cpp
  examples/tv-app/linux/include/content-launcher/ContentLauncherManager.h
  examples/tv-app/linux/include/target-navigator/TargetNavigatorManager.cpp
  examples/tv-app/linux/include/wake-on-lan/WakeOnLanManager.cpp
  examples/tv-app/tv-common/tv-app.matter
  examples/tv-casting-app/tv-casting-common/tv-casting-app.matter
  src/app/clusters/content-launch-server/content-launch-delegate.h
  src/app/clusters/content-launch-server/content-launch-server.cpp
  src/app/tests/suites/TV_ContentLauncherCluster.yaml
  src/app/zap-templates/zcl/data-model/chip/content-launch-cluster.xml
  src/controller/data_model/controller-clusters.matter
  src/controller/java/zap-generated/CHIPClusters-JNI.cpp
  src/controller/java/zap-generated/chip/devicecontroller/ChipClusters.java
  src/controller/java/zap-generated/chip/devicecontroller/ClusterInfoMapping.java
  src/controller/python/chip/clusters/Objects.py
  src/darwin/Framework/CHIP/zap-generated/CHIPClustersObjc.mm
  src/darwin/Framework/CHIP/zap-generated/CHIPCommandPayloadsObjc.h
  src/darwin/Framework/CHIP/zap-generated/CHIPCommandPayloadsObjc.mm
  zzz_generated/app-common/app-common/zap-generated/cluster-objects.h
  zzz_generated/chip-tool/zap-generated/cluster/Commands.h
  zzz_generated/chip-tool/zap-generated/test/Commands.h
Labels: examples, darwin, controller, app, review - approved

#14931 [OTA] Initalize OTA apps using Linux platform functions
  examples/ota-provider-app/linux/args.gni
  examples/ota-provider-app/linux/include/CHIPProjectAppConfig.h
  examples/ota-provider-app/linux/main.cpp
  examples/ota-requestor-app/linux/args.gni
  examples/ota-requestor-app/linux/include/CHIPProjectAppConfig.h
  examples/ota-requestor-app/linux/main.cpp
  examples/platform/linux/AppMain.cpp
  examples/platform/linux/AppMain.h
  examples/platform/linux/Options.cpp
  examples/platform/linux/Options.h
Labels: examples, review - approved

#14964 Print Long Manual setup code
  examples/all-clusters-app/esp32/main/main.cpp
  src/app/server/OnboardingCodesUtil.cpp
  src/app/server/OnboardingCodesUtil.h
Labels: examples, app, review - pending, fast track
