Repository project-chip/connectedhomeip, pull requests merged in 2022-05, with the labels that each got.

#17942 Fix off-by-one error in FindLocalNodeFromDestionationId
  src/protocols/secure_channel/CASESession.cpp
Labels: review - approved

#17938 docs: Recommend Debian 11 & fix Python CHIP Controller how-to
  docs/guides/BUILDING.md
  docs/guides/python_chip_controller_building.md
Labels: documentation, review - pending, fast track

#17920 Implicit admin over PASE is one way
  src/access/AccessControl.cpp
  src/transport/CryptoContext.h
  src/transport/SecureSession.cpp
  src/transport/SecureSession.h
Labels: transport, review - approved

#17895 Telink android app
  src/platform/telink/BLEManagerImpl.cpp
  src/platform/telink/BLEManagerImpl.h
  src/platform/telink/crypto/internal/multithread.c
Labels: platform, review - approved, telink

#17878 Test added New manual scripts
  src/app/tests/suites/certification/Test_TC_DA_1_3.yaml
  src/app/tests/suites/certification/Test_TC_DIAG_TH_NW_2_2.yaml
  src/app/tests/suites/certification/Test_TC_DIAG_TH_NW_2_3.yaml
  src/app/tests/suites/certification/Test_TC_DIAG_TH_NW_2_6.yaml
  src/app/tests/suites/certification/Test_TC_DIAG_TH_NW_2_7.yaml
  src/app/tests/suites/certification/Test_TC_DIAG_TH_NW_2_8.yaml
  src/app/tests/suites/certification/Test_TC_DIAG_TH_NW_2_9.yaml
  src/app/tests/suites/certification/Test_TC_DM_4_1.yaml
  src/app/tests/suites/certification/Test_TC_DM_4_10.yaml
  src/app/tests/suites/certification/Test_TC_DM_4_11.yaml
  src/app/tests/suites/certification/Test_TC_DM_4_12.yaml
  src/app/tests/suites/certification/Test_TC_DM_4_13.yaml
  src/app/tests/suites/certification/Test_TC_DM_4_14.yaml
  src/app/tests/suites/certification/Test_TC_DM_4_15.yaml
  src/app/tests/suites/certification/Test_TC_DM_4_16.yaml
  src/app/tests/suites/certification/Test_TC_DM_4_17.yaml
  src/app/tests/suites/certification/Test_TC_DM_4_18.yaml
  src/app/tests/suites/certification/Test_TC_DM_4_19.yaml
  src/app/tests/suites/certification/Test_TC_DM_4_2.yaml
  src/app/tests/suites/certification/Test_TC_DM_4_20.yaml
  src/app/tests/suites/certification/Test_TC_DM_4_21.yaml
  src/app/tests/suites/certification/Test_TC_DM_4_3.yaml
  src/app/tests/suites/certification/Test_TC_DM_4_4.yaml
  src/app/tests/suites/certification/Test_TC_DM_4_5.yaml
  src/app/tests/suites/certification/Test_TC_DM_4_6.yaml
  src/app/tests/suites/certification/Test_TC_DM_4_7.yaml
  src/app/tests/suites/certification/Test_TC_DM_4_8.yaml
  src/app/tests/suites/certification/Test_TC_DM_4_9.yaml
  src/app/tests/suites/tests.js
  zzz_generated/chip-tool/zap-generated/test/Commands.h
Labels: examples, app, review - pending, fast track

#17885 PASE/CASE tests: create `SessionManager` before `PairingSession`
  src/protocols/secure_channel/tests/TestCASESession.cpp
  src/protocols/secure_channel/tests/TestPASESession.cpp
Labels: review - approved

#17893 Updated build documentation for lighting app and lock app
  examples/lighting-app/nxp/k32w/k32w0/README.md
  examples/lock-app/nxp/k32w/k32w0/README.md
Labels: examples, review - pending, fast track

#17925 Align handling of missing SSID in ScanNetworks with spec changes.
  src/app/clusters/network-commissioning/network-commissioning.cpp
Labels: app, spec, review - approved

#17830 Add cluster commands to tv-casting-app
  .github/.wordlist.txt
  examples/tv-casting-app/linux/BUILD.gn
  examples/tv-casting-app/linux/CastingShellCommands.cpp
  examples/tv-casting-app/linux/CastingUtils.cpp
  examples/tv-casting-app/linux/CastingUtils.h
  examples/tv-casting-app/linux/README.md
  examples/tv-casting-app/linux/main.cpp
  examples/tv-casting-app/tv-casting-common/BUILD.gn
  examples/tv-casting-app/tv-casting-common/commands/clusters/ClusterCommand.h
  examples/tv-casting-app/tv-casting-common/commands/clusters/ComplexArgument.h
  examples/tv-casting-app/tv-casting-common/commands/clusters/CustomArgument.h
  examples/tv-casting-app/tv-casting-common/commands/clusters/DataModelLogger.h
  examples/tv-casting-app/tv-casting-common/commands/clusters/ModelCommand.cpp
  examples/tv-casting-app/tv-casting-common/commands/clusters/ModelCommand.h
  examples/tv-casting-app/tv-casting-common/commands/clusters/ReportCommand.h
  examples/tv-casting-app/tv-casting-common/commands/clusters/SubscriptionsCommands.h
  examples/tv-casting-app/tv-casting-common/commands/clusters/WriteAttributeCommand.h
  examples/tv-casting-app/tv-casting-common/commands/common/CHIPCommand.cpp
  examples/tv-casting-app/tv-casting-common/commands/common/CHIPCommand.h
  examples/tv-casting-app/tv-casting-common/commands/common/Command.cpp
  examples/tv-casting-app/tv-casting-common/commands/common/Command.h
  examples/tv-casting-app/tv-casting-common/commands/common/CommandInvoker.h
  examples/tv-casting-app/tv-casting-common/commands/common/Commands.cpp
  examples/tv-casting-app/tv-casting-common/commands/common/Commands.h
  examples/tv-casting-app/tv-casting-common/commands/common/CredentialIssuerCommands.h
  examples/tv-casting-app/tv-casting-common/commands/example/ExampleCredentialIssuerCommands.h
  examples/tv-casting-app/tv-casting-common/include/CastingServer.h
  examples/tv-casting-app/tv-casting-common/src/CastingServer.cpp
  examples/tv-casting-app/tv-casting-common/src/TargetVideoPlayerInfo.cpp
Labels: examples, github, review - approved

#17778 Handle response errors during commissioning
  src/controller/AutoCommissioner.cpp
  src/controller/CHIPDeviceController.cpp
  src/controller/CommissioningDelegate.h
Labels: controller, review - approved

#17954 Remove unused StorableFabricInfo struct definition.
  src/credentials/FabricTable.h
Labels: review - approved

#17965 [OTA] Use-after-free in OTAProviderExample::HandleQueryImage
  examples/ota-provider-app/ota-provider-common/OTAProviderExample.cpp
  examples/ota-provider-app/ota-provider-common/OTAProviderExample.h
Labels: examples, review - approved, ota

#17959 Reduce RAM usage from CHIPDeviceEvent
  examples/all-clusters-app/ameba/main/DeviceCallbacks.cpp
  examples/all-clusters-app/esp32/main/DeviceCallbacks.cpp
  examples/bridge-app/esp32/main/DeviceCallbacks.cpp
  examples/chef/esp32/main/main.cpp
  examples/lighting-app/ameba/main/DeviceCallbacks.cpp
  examples/lighting-app/bouffalolab/bl602/src/DeviceCallbacks.cpp
  examples/lighting-app/esp32/main/DeviceCallbacks.cpp
  examples/lock-app/esp32/main/DeviceCallbacks.cpp
  examples/ota-provider-app/esp32/main/DeviceCallbacks.cpp
  examples/ota-requestor-app/ameba/main/DeviceCallbacks.cpp
  examples/ota-requestor-app/esp32/main/DeviceCallbacks.cpp
  examples/temperature-measurement-app/esp32/main/DeviceCallbacks.cpp
  src/include/platform/CHIPDeviceEvent.h
  src/inet/IPAddress.cpp
  src/inet/IPAddress.h
  src/inet/IPPrefix.cpp
  src/inet/IPPrefix.h
  src/platform/Ameba/ConnectivityManagerImpl.cpp
  src/platform/EFR32/ConnectivityManagerImpl_WIFI.cpp
  src/platform/ESP32/ConnectivityManagerImpl_WiFi.cpp
  src/platform/Linux/ConnectivityManagerImpl.cpp
  src/platform/Linux/PlatformManagerImpl.cpp
  src/platform/P6/ConnectivityManagerImpl.cpp
  src/platform/mbed/NetworkCommissioningWiFiDriver.cpp
Labels: examples, platform, efr32, esp32, linux, inet, review - approved

#17781 Chef - Extended Pigweed RPC support
  examples/chef/chef.py
  examples/chef/common/stubs.cpp
  examples/chef/esp32/main/CMakeLists.txt
  examples/chef/linux/BUILD.gn
  examples/chef/linux/main.cpp
  examples/chef/linux/with_pw_rpc.gni
  examples/chef/nrfconnect/CMakeLists.txt
Labels: examples

#17787 Allow IDLs to define storage info (callbacks and default value)
  scripts/idl/README.md
  scripts/idl/matter_grammar.lark
  scripts/idl/matter_idl_parser.py
  scripts/idl/matter_idl_types.py
  scripts/idl/test_matter_idl_parser.py
Labels: scripts, review - approved

#17982 Fix 0-length string parsing in `TLVReader`
  src/lib/core/CHIPTLV.h
  src/lib/core/CHIPTLVReader.cpp
  src/lib/core/tests/TestCHIPTLV.cpp
Labels: lib, review - approved

#17883 [support] Templatize Counter class
  src/app/EventManagement.cpp
  src/app/EventManagement.h
  src/app/server/Server.cpp
  src/app/tests/TestEventLogging.cpp
  src/app/tests/TestEventOverflow.cpp
  src/app/tests/TestReadInteraction.cpp
  src/app/tests/integration/chip_im_responder.cpp
  src/controller/tests/TestEventCaching.cpp
  src/controller/tests/TestEventChunking.cpp
  src/include/platform/internal/GenericConfigurationManagerImpl.h
  src/lib/core/CHIPEncoding.h
  src/lib/support/BUILD.gn
  src/lib/support/CHIPCounter.cpp
  src/lib/support/CHIPCounter.h
  src/lib/support/LifetimePersistedCounter.cpp
  src/lib/support/LifetimePersistedCounter.h
  src/lib/support/PersistedCounter.cpp
  src/lib/support/PersistedCounter.h
  src/lib/support/tests/TestCHIPCounter.cpp
  src/lib/support/tests/TestPersistedCounter.cpp
Labels: lib, controller, app, review - approved

#17774 Chef - Add RPC support for NRF
  examples/chef/chef.py
  examples/chef/nrfconnect/CMakeLists.txt
  examples/chef/nrfconnect/main.cpp
  examples/chef/nrfconnect/rpc.overlay
  examples/platform/nrfconnect/Rpc.cpp
Labels: examples

#17195 [ESP32] Added Lighting-Switch-App example
  examples/light-switch-app/esp32/.gitignore
  examples/light-switch-app/esp32/CMakeLists.txt
  examples/light-switch-app/esp32/README.md
  examples/light-switch-app/esp32/main/AppTask.cpp
  examples/light-switch-app/esp32/main/BindingHandler.cpp
  examples/light-switch-app/esp32/main/CHIPDeviceManager.cpp
  examples/light-switch-app/esp32/main/CMakeLists.txt
  examples/light-switch-app/esp32/main/DeviceCallbacks.cpp
  examples/light-switch-app/esp32/main/Kconfig.projbuild
  examples/light-switch-app/esp32/main/include/AppEvent.h
  examples/light-switch-app/esp32/main/include/AppTask.h
  examples/light-switch-app/esp32/main/include/BindingHandler.h
  examples/light-switch-app/esp32/main/include/CHIPDeviceManager.h
  examples/light-switch-app/esp32/main/include/DeviceCallbacks.h
  examples/light-switch-app/esp32/main/main.cpp
  examples/light-switch-app/esp32/partitions.csv
  examples/light-switch-app/esp32/sdkconfig.defaults
  examples/light-switch-app/esp32/third_party/connectedhomeip
Labels: examples, review - approved

#17978 Change mrp-parameter-struct to hold 32-bit milliseconds
  src/protocols/secure_channel/tests/TestCASESession.cpp
  src/transport/PairingSession.cpp
Labels: transport, review - approved

#17983 fix: added initialization to platform wifi network commissioning inst…
  examples/chef/devices/lighting-app-thread.zap
  examples/chef/devices/lighting-app-wifi.zap
  examples/chef/esp32/main/main.cpp
Labels: examples

#17992 [ZAP] Remove some dead javascript functions
  src/app/zap-templates/templates/app/helper.js
Labels: app, review - approved

#17980 Bug fix to initialize pid correctly from 2nd shell argument
  examples/tv-app/linux/AppPlatformShellCommands.cpp
Labels: examples, review - approved

#17984 [CI] Make SystemCommands take a StringBuilderBase to avoid extra stack usage
  src/app/tests/suites/commands/system/SystemCommands.cpp
  src/app/tests/suites/commands/system/SystemCommands.h
Labels: app, review - approved

#17976 Handle error cases in Android OnAttributeData
  src/controller/java/AndroidCallbacks.cpp
Labels: controller, review - approved

#18003 [Inet] Add locking mechanism in UDPEndpointImplOpenThread
  examples/light-switch-app/efr32/src/main.cpp
  examples/lighting-app/efr32/src/main.cpp
  examples/lighting-app/qpg/src/AppTask.cpp
  examples/lock-app/efr32/src/main.cpp
  examples/lock-app/qpg/src/AppTask.cpp
  examples/window-app/efr32/src/main.cpp
  src/app/server/Server.cpp
  src/app/server/Server.h
  src/inet/EndPointStateOpenThread.h
  src/inet/IPAddress.cpp
  src/inet/IPAddress.h
  src/inet/UDPEndPointImplOpenThread.cpp
  src/inet/UDPEndPointImplOpenThread.h
Labels: examples, inet, app, review - approved

#17966 AclStorage dependency injection
  src/app/server/AclStorage.cpp
  src/app/server/AclStorage.h
  src/app/server/BUILD.gn
  src/app/server/DefaultAclStorage.cpp
  src/app/server/DefaultAclStorage.h
  src/app/server/Server.cpp
  src/app/server/Server.h
Labels: app, review - approved

#18022 Fix: chef nrfconnect build broken due to extended discovery call
  examples/chef/nrfconnect/CHIPProjectConfig.h
  examples/chef/nrfconnect/main.cpp
Labels: examples, review - approved

#18018 Resolving android tv-casting-app build issues
  examples/tv-casting-app/android/BUILD.gn
  examples/tv-casting-app/linux/CastingUtils.cpp
  examples/tv-casting-app/linux/CastingUtils.h
  examples/tv-casting-app/linux/main.cpp
  examples/tv-casting-app/tv-casting-common/BUILD.gn
  examples/tv-casting-app/tv-casting-common/include/CastingServer.h
  examples/tv-casting-app/tv-casting-common/include/TargetEndpointInfo.h
  examples/tv-casting-app/tv-casting-common/include/TargetVideoPlayerInfo.h
  examples/tv-casting-app/tv-casting-common/src/CastingServer.cpp
  examples/tv-casting-app/tv-casting-common/src/TargetEndpointInfo.cpp
  examples/tv-casting-app/tv-casting-common/src/TargetVideoPlayerInfo.cpp
  scripts/build/builders/android.py
  scripts/build/testdata/build_all_except_host.txt
Labels: examples, scripts, linux, review - approved

#17928 [diagnostics] Mark attributes that we always intercept as External to save RAM.
  examples/all-clusters-app/all-clusters-common/all-clusters-app.zap
  examples/bridge-app/bridge-common/bridge-app.zap
  examples/chef/devices/lighting-app.zap
  examples/light-switch-app/light-switch-common/light-switch-app.zap
  examples/lighting-app/lighting-common/lighting-app.zap
  examples/lock-app/lock-common/lock-app.zap
  examples/log-source-app/log-source-common/log-source-app.zap
  examples/ota-provider-app/ota-provider-common/ota-provider-app.zap
  examples/ota-requestor-app/ota-requestor-common/ota-requestor-app.zap
  examples/placeholder/linux/apps/app1/config.zap
  examples/placeholder/linux/apps/app2/config.zap
  examples/pump-app/pump-common/pump-app.zap
  examples/pump-controller-app/pump-controller-common/pump-controller-app.zap
  examples/temperature-measurement-app/esp32/main/temperature-measurement.zap
  examples/thermostat/thermostat-common/thermostat.zap
  examples/tv-app/tv-common/tv-app.zap
  examples/tv-casting-app/tv-casting-common/tv-casting-app.zap
  examples/window-app/common/window-app.zap
  src/app/clusters/software-diagnostics-server/software-diagnostics-server.cpp
  src/app/zap-templates/zcl/zcl.json
  src/controller/data_model/controller-clusters.zap
  src/include/platform/DiagnosticDataProvider.h
  src/platform/Darwin/DiagnosticDataProviderImpl.cpp
  src/platform/Darwin/DiagnosticDataProviderImpl.h
  src/platform/Linux/DiagnosticDataProviderImpl.cpp
  src/platform/Linux/DiagnosticDataProviderImpl.h
  zzz_generated/all-clusters-app/zap-generated/endpoint_config.h
  zzz_generated/bridge-app/zap-generated/endpoint_config.h
  zzz_generated/light-switch-app/zap-generated/endpoint_config.h
  zzz_generated/lighting-app/zap-generated/endpoint_config.h
  zzz_generated/lock-app/zap-generated/endpoint_config.h
  zzz_generated/placeholder/app1/zap-generated/endpoint_config.h
  zzz_generated/placeholder/app2/zap-generated/endpoint_config.h
  zzz_generated/pump-app/zap-generated/endpoint_config.h
  zzz_generated/pump-controller-app/zap-generated/endpoint_config.h
  zzz_generated/temperature-measurement-app/zap-generated/endpoint_config.h
  zzz_generated/thermostat/zap-generated/endpoint_config.h
  zzz_generated/tv-app/zap-generated/endpoint_config.h
  zzz_generated/tv-casting-app/zap-generated/endpoint_config.h
  zzz_generated/window-app/zap-generated/endpoint_config.h
Labels: examples, platform, darwin, linux, controller, app, review - approved

#18045 Fix persistant counter read start value size check
  src/lib/support/PersistedCounter.h
Labels: lib, review - approved

#17974 Un-revert #17417
  src/app/AttributePathParams.h
  src/app/reporting/Engine.cpp
  src/app/reporting/Engine.h
  src/app/tests/TestReportingEngine.cpp
  src/lib/support/Pool.h
Labels: lib, app, review - pending, fast track

#18006 Fix BLE device name for qpg and EFR32 to match the other platforms.
  src/include/platform/CHIPDeviceConfig.h
  src/platform/EFR32/BLEManagerImpl.cpp
  src/platform/qpg/BLEManagerImpl.cpp
Labels: platform, efr32, review - approved

#17426 Fix bug with ReportingEngine not being run with short/0 min-reporting intervals
  src/app/ReadHandler.cpp
  src/app/ReadHandler.h
  src/app/tests/TestReadInteraction.cpp
  src/controller/python/test/test_scripts/cluster_objects.py
Labels: controller, app, review - approved

#18021 Add abstract Session Resumption Storage base class
  src/app/tests/TestOperationalDeviceProxy.cpp
  src/protocols/secure_channel/BUILD.gn
  src/protocols/secure_channel/DefaultSessionResumptionStorage.cpp
  src/protocols/secure_channel/DefaultSessionResumptionStorage.h
  src/protocols/secure_channel/SessionResumptionStorage.h
  src/protocols/secure_channel/SimpleSessionResumptionStorage.h
  src/protocols/secure_channel/tests/BUILD.gn
  src/protocols/secure_channel/tests/TestCASESession.cpp
  src/protocols/secure_channel/tests/TestDefaultSessionResumptionStorage.cpp
  src/protocols/secure_channel/tests/TestSimpleSessionResumptionStorage.cpp
Labels: controller, app, review - approved

#18056 Fix inet Android build
  src/inet/InetInterface.cpp
Labels: inet, review - approved

#17972 Enable traces to use custom trace system instead of pigweed only
  .github/.wordlist.txt
  src/trace/README.md
  src/trace/trace.h
Labels: github, review - pending, fast track

#17889 Move PairingSession from transport/ to protocols/secure_channel/
  src/protocols/secure_channel/BUILD.gn
  src/protocols/secure_channel/CASESession.cpp
  src/protocols/secure_channel/CASESession.h
  src/protocols/secure_channel/PASESession.cpp
  src/protocols/secure_channel/PASESession.h
  src/protocols/secure_channel/PairingSession.cpp
  src/protocols/secure_channel/PairingSession.h
  src/protocols/secure_channel/tests/BUILD.gn
  src/protocols/secure_channel/tests/TestPairingSession.cpp
  src/transport/BUILD.gn
  src/transport/SessionManager.cpp
  src/transport/SessionManager.h
  src/transport/tests/BUILD.gn
Labels: scripts, transport, review - approved

#18067 Implement rules for SetRegulatoryConfig command
  src/app/clusters/general-commissioning-server/general-commissioning-server.cpp
  src/platform/Linux/ConfigurationManagerImpl.cpp
Labels: platform, linux, app, review - approved

#17881 Handle OnSessionReleased in PairingSessions
  src/protocols/secure_channel/CASESession.cpp
  src/protocols/secure_channel/CASESession.h
  src/protocols/secure_channel/PASESession.cpp
  src/protocols/secure_channel/PASESession.h
  src/protocols/secure_channel/PairingSession.cpp
  src/protocols/secure_channel/PairingSession.h
  src/protocols/secure_channel/tests/TestPairingSession.cpp
Labels: transport, review - approved

#18088 Add new dependency to building guide
  docs/guides/BUILDING.md
Labels: documentation, review - approved

#18042 Fix some buffer handling issues in BtpEngine.
  src/ble/BtpEngine.cpp
  src/ble/BtpEngine.h
Labels: ble, review - approved

#17956 Simplify implementation of emberAfContainsAttribute.
  src/app/util/attribute-storage.cpp
  src/app/util/util.cpp
Labels: app, review - approved

#18085 Add GetNewSessionHandlingPolicy callback
  src/app/CASEClient.cpp
  src/app/OperationalDeviceProxy.h
  src/controller/CommissioneeDeviceProxy.h
  src/messaging/ExchangeContext.h
  src/protocols/secure_channel/CASESession.h
  src/protocols/secure_channel/PASESession.h
  src/protocols/secure_channel/PairingSession.h
  src/transport/SessionDelegate.h
  src/transport/SessionHolder.h
  src/transport/tests/TestSessionManager.cpp
Labels: transport, controller, app, review - approved

#18105 Fix code in CHIPCryptoPALOpenSSL that could try to log nullptr
  src/crypto/CHIPCryptoPALOpenSSL.cpp
  src/lib/support/CodeUtils.h
Labels: lib, crypto, security, review - approved

#18053 Update matter IDL to contain per-endpoint attribute storage and defaults
  examples/all-clusters-app/all-clusters-common/all-clusters-app.matter
  examples/bridge-app/bridge-common/bridge-app.matter
  examples/light-switch-app/light-switch-common/light-switch-app.matter
  examples/lighting-app/lighting-common/lighting-app.matter
  examples/lock-app/lock-common/lock-app.matter
  examples/log-source-app/log-source-common/log-source-app.matter
  examples/ota-provider-app/ota-provider-common/ota-provider-app.matter
  examples/ota-requestor-app/ota-requestor-common/ota-requestor-app.matter
  examples/placeholder/linux/apps/app1/config.matter
  examples/placeholder/linux/apps/app2/config.matter
  examples/pump-app/pump-common/pump-app.matter
  examples/pump-controller-app/pump-controller-common/pump-controller-app.matter
  examples/temperature-measurement-app/esp32/main/temperature-measurement.matter
  examples/thermostat/thermostat-common/thermostat.matter
  examples/tv-app/tv-common/tv-app.matter
  examples/tv-casting-app/tv-casting-common/tv-casting-app.matter
  examples/window-app/common/window-app.matter
  scripts/idl/README.md
  scripts/idl/matter_grammar.lark
  scripts/idl/matter_idl_parser.py
  scripts/idl/matter_idl_types.py
  scripts/idl/test_matter_idl_parser.py
  src/app/zap-templates/templates/app/MatterIDL.zapt
  src/app/zap-templates/templates/app/helper.js
  src/controller/data_model/controller-clusters.matter
Labels: examples, scripts, controller, app, github, workflows, review - pending, fast track

#18114 MinMdns - do not reset hasIP/hasHostPort on partial failure
  src/lib/dnssd/Resolver_ImplMinimalMdns.cpp
Labels: lib, review - approved

#18075 [chip-tool] Implement framework for adding and displaying command line argument descriptions
  examples/chip-tool/commands/clusters/ReportCommand.h
  examples/chip-tool/commands/common/Command.cpp
  examples/chip-tool/commands/common/Command.h
  examples/chip-tool/commands/common/Commands.cpp
Labels: examples, review - approved

#18091 Add support for "true" and "false" for boolean args in chip-tool.
  examples/chip-tool/commands/common/Command.cpp
Labels: examples, review - approved

#17977 Annotate more things that we always implement via AttributeAccessInterface
  src/app/zap-templates/zcl/zcl.json
  zzz_generated/all-clusters-app/zap-generated/endpoint_config.h
  zzz_generated/bridge-app/zap-generated/endpoint_config.h
  zzz_generated/light-switch-app/zap-generated/endpoint_config.h
  zzz_generated/lighting-app/zap-generated/endpoint_config.h
  zzz_generated/lock-app/zap-generated/endpoint_config.h
  zzz_generated/log-source-app/zap-generated/endpoint_config.h
  zzz_generated/ota-provider-app/zap-generated/endpoint_config.h
  zzz_generated/ota-requestor-app/zap-generated/endpoint_config.h
  zzz_generated/placeholder/app1/zap-generated/endpoint_config.h
  zzz_generated/placeholder/app2/zap-generated/endpoint_config.h
  zzz_generated/pump-app/zap-generated/endpoint_config.h
  zzz_generated/pump-controller-app/zap-generated/endpoint_config.h
  zzz_generated/temperature-measurement-app/zap-generated/endpoint_config.h
  zzz_generated/thermostat/zap-generated/endpoint_config.h
  zzz_generated/tv-app/zap-generated/endpoint_config.h
  zzz_generated/tv-casting-app/zap-generated/endpoint_config.h
  zzz_generated/window-app/zap-generated/endpoint_config.h
Labels: app, review - approved

#18031 [Tizen] Explicitly set chmod for Docker copied file
  integrations/docker/images/chip-build-nrf-platform/Dockerfile
  integrations/docker/images/chip-build-tizen/Dockerfile
  integrations/docker/images/chip-build/version
Labels: integrations, review - approved

#18131 Use true/false for keepSubscriptions documentation.
  examples/chip-tool/commands/clusters/ReportCommand.h
Labels: examples, review - approved

#18115 [Fix] Change event number counter key
  src/lib/support/DefaultStorageKeyAllocator.h
  src/lib/support/PersistedCounter.h
Labels: lib, review - approved

#18139 [srp] Fix SRP buffer sizes
  src/platform/OpenThread/GenericThreadStackManagerImpl_OpenThread.h
Labels: platform, openthread, review - approved

#18112 [docs] Improve docs on chip-tool tests. Add example. Fix broken links.
  docs/guides/chip_tool_guide.md
  src/app/tests/suites/README.md
Labels: documentation, app, review - approved

#18099 Removed some methods that are unused from af-events.cpp
  src/app/util/af-event.cpp
  src/app/util/af-event.h
  src/app/util/af.h
  src/app/util/util.cpp
Labels: app, review - pending, fast track

#18127 Add ability to select controller name in chip-tool-darwin
  examples/chip-tool-darwin/commands/common/CHIPCommandBridge.h
  examples/chip-tool-darwin/commands/common/CHIPCommandBridge.mm
Labels: examples, review - pending

#18014 [build] Fix #18008 - Only build Android when ANDROID_HOME set.
  gn_build.sh
Labels: review - approved

#18152 [EFR32] Remove ota generation
  scripts/examples/gn_efr32_example.sh
Labels: scripts, review - approved

#18062 Add Support of Authorized PAA List to the Certification Declaration Structure
  src/credentials/CertificationDeclaration.cpp
  src/credentials/CertificationDeclaration.h
  src/credentials/tests/TestCertificationDeclaration.cpp
Labels: review - approved

#18168 Update chip-tool-darwin to allow optionals in CLI
  examples/chip-tool-darwin/templates/commands.zapt
  zzz_generated/chip-tool-darwin/zap-generated/cluster/Commands.h
Labels: examples, review - pending, fast track

#18120 Enable various power source attributes in controllers.
  src/controller/data_model/controller-clusters.matter
  src/controller/data_model/controller-clusters.zap
  src/controller/java/zap-generated/CHIPAttributeTLVValueDecoder.cpp
  src/controller/java/zap-generated/CHIPCallbackTypes.h
  src/controller/java/zap-generated/CHIPReadCallbacks.cpp
  src/controller/java/zap-generated/CHIPReadCallbacks.h
  src/controller/java/zap-generated/chip/devicecontroller/ChipClusters.java
  src/controller/java/zap-generated/chip/devicecontroller/ChipIdLookup.java
  src/controller/java/zap-generated/chip/devicecontroller/ClusterInfoMapping.java
  src/controller/java/zap-generated/chip/devicecontroller/ClusterReadMapping.java
  src/controller/python/chip/clusters/CHIPClusters.py
  src/darwin/Framework/CHIP/zap-generated/CHIPAttributeTLVValueDecoder.mm
  src/darwin/Framework/CHIP/zap-generated/CHIPCallbackBridge.mm
  src/darwin/Framework/CHIP/zap-generated/CHIPCallbackBridge_internal.h
  src/darwin/Framework/CHIP/zap-generated/CHIPClustersObjc.h
  src/darwin/Framework/CHIP/zap-generated/CHIPClustersObjc.mm
  zzz_generated/chip-tool-darwin/zap-generated/cluster/CHIPTestClustersObjc.h
  zzz_generated/chip-tool-darwin/zap-generated/cluster/CHIPTestClustersObjc.mm
  zzz_generated/chip-tool-darwin/zap-generated/cluster/Commands.h
  zzz_generated/controller-clusters/zap-generated/CHIPClientCallbacks.h
Labels: darwin, controller, review - pending, fast track

#18165 chip-cert/convert-key: fix writing CHIP TLV format key
  src/tools/chip-cert/KeyUtils.cpp
Labels: review - approved

#18161 Added CanCastTo() Macros in the OpenSSL Crypto Library Implementation.
  src/crypto/CHIPCryptoPALOpenSSL.cpp
Labels: crypto, review - approved

#17321 [Tizen] Use docker images with Tizen Studio CLI
  .github/workflows/examples-tizen.yaml
  build/config/tizen/config.gni
  build/toolchain/tizen/tizen_toolchain.gni
  scripts/build/builders/tizen.py
  scripts/build/test.py
  scripts/build/testdata/build_all_except_host.txt
Labels: scripts, integrations, config, github, workflows, review - approved

#18189 Enable pressure measurement attributes in controller config.
  src/controller/data_model/controller-clusters.matter
  src/controller/data_model/controller-clusters.zap
  src/controller/java/zap-generated/CHIPAttributeTLVValueDecoder.cpp
  src/controller/java/zap-generated/CHIPCallbackTypes.h
  src/controller/java/zap-generated/CHIPReadCallbacks.cpp
  src/controller/java/zap-generated/CHIPReadCallbacks.h
  src/controller/java/zap-generated/chip/devicecontroller/ChipClusters.java
  src/controller/java/zap-generated/chip/devicecontroller/ChipIdLookup.java
  src/controller/java/zap-generated/chip/devicecontroller/ClusterReadMapping.java
  src/controller/python/chip/clusters/CHIPClusters.py
  src/darwin/Framework/CHIP/zap-generated/CHIPAttributeTLVValueDecoder.mm
  src/darwin/Framework/CHIP/zap-generated/CHIPClustersObjc.h
  src/darwin/Framework/CHIP/zap-generated/CHIPClustersObjc.mm
  zzz_generated/chip-tool-darwin/zap-generated/cluster/CHIPTestClustersObjc.h
  zzz_generated/chip-tool-darwin/zap-generated/cluster/CHIPTestClustersObjc.mm
  zzz_generated/chip-tool-darwin/zap-generated/cluster/Commands.h
Labels: darwin, controller, review - approved

#18186 fix: Missing space in NRF clean build cmd
  examples/chef/chef.py
Labels: examples

#18162 Add proper certs for unit-tests
  src/credentials/tests/BUILD.gn
  src/credentials/tests/CHIPCert_unit_test_vectors.cpp
  src/credentials/tests/CHIPCert_unit_test_vectors.h
  src/credentials/tests/certificates/UnitTest_IA_A1.crt
  src/credentials/tests/certificates/UnitTest_IA_A1.crt.txt
  src/credentials/tests/certificates/UnitTest_IA_A1.pem
  src/credentials/tests/certificates/UnitTest_IA_A1.pem.txt
  src/credentials/tests/certificates/UnitTest_IA_A2.crt
  src/credentials/tests/certificates/UnitTest_IA_A2.crt.txt
  src/credentials/tests/certificates/UnitTest_IA_A2.pem
  src/credentials/tests/certificates/UnitTest_IA_A2.pem.txt
  src/credentials/tests/certificates/UnitTest_IA_B1.crt
  src/credentials/tests/certificates/UnitTest_IA_B1.crt.txt
  src/credentials/tests/certificates/UnitTest_IA_B1.pem
  src/credentials/tests/certificates/UnitTest_IA_B1.pem.txt
  src/credentials/tests/certificates/UnitTest_NodeA1.crt
  src/credentials/tests/certificates/UnitTest_NodeA1.crt.txt
  src/credentials/tests/certificates/UnitTest_NodeA1.pem
  src/credentials/tests/certificates/UnitTest_NodeA1.pem.txt
  src/credentials/tests/certificates/UnitTest_NodeA2.crt
  src/credentials/tests/certificates/UnitTest_NodeA2.crt.txt
  src/credentials/tests/certificates/UnitTest_NodeA2.pem
  src/credentials/tests/certificates/UnitTest_NodeA2.pem.txt
  src/credentials/tests/certificates/UnitTest_NodeA3.crt
  src/credentials/tests/certificates/UnitTest_NodeA3.crt.txt
  src/credentials/tests/certificates/UnitTest_NodeA3.pem
  src/credentials/tests/certificates/UnitTest_NodeA3.pem.txt
  src/credentials/tests/certificates/UnitTest_NodeA4.crt
  src/credentials/tests/certificates/UnitTest_NodeA4.crt.txt
  src/credentials/tests/certificates/UnitTest_NodeA4.pem
  src/credentials/tests/certificates/UnitTest_NodeA4.pem.txt
  src/credentials/tests/certificates/UnitTest_NodeB1.crt
  src/credentials/tests/certificates/UnitTest_NodeB1.crt.txt
  src/credentials/tests/certificates/UnitTest_NodeB1.pem
  src/credentials/tests/certificates/UnitTest_NodeB1.pem.txt
  src/credentials/tests/certificates/UnitTest_RootA.crt
  src/credentials/tests/certificates/UnitTest_RootA.crt.txt
  src/credentials/tests/certificates/UnitTest_RootA.pem
  src/credentials/tests/certificates/UnitTest_RootA.pem.txt
  src/credentials/tests/certificates/UnitTest_RootB.crt
  src/credentials/tests/certificates/UnitTest_RootB.crt.txt
  src/credentials/tests/certificates/UnitTest_RootB.pem
  src/credentials/tests/certificates/UnitTest_RootB.pem.txt
  src/credentials/tests/certificates/certs
  src/credentials/tests/certificates/keys
Labels: review - approved

#18208 Fix cirque docker ubuntu package
  integrations/docker/ci-only-images/chip-cirque-device-base/Dockerfile
Labels: hotfix, integrations, review - pending

#18178 Stop having darwin tests depend on in-framework key generation.
  .gitattributes
  src/darwin/Framework/CHIP.xcodeproj/project.pbxproj
  src/darwin/Framework/CHIPTests/CHIPClustersTests.m
  src/darwin/Framework/CHIPTests/CHIPControllerTests.m
  src/darwin/Framework/CHIPTests/CHIPDeviceTests.m
  src/darwin/Framework/CHIPTests/CHIPTestKeys.h
  src/darwin/Framework/CHIPTests/CHIPTestKeys.m
  src/darwin/Framework/CHIPTests/CHIPXPCListenerSampleTests.m
Labels: darwin, review - pending, fast track

#18202 [chip-tool-darwin] AddressSanitizer: heap-use-after-free in printf_co…
  examples/chip-tool-darwin/commands/common/CHIPCommandBridge.h
Labels: examples, review - approved

#17927 [sleepy] Rename sleepy params per spec.
  src/app/tests/suites/certification/Test_TC_SC_4_5.yaml
  src/controller/CHIPDeviceController.cpp
  src/lib/dnssd/Advertiser_ImplMinimalMdns.cpp
  src/lib/dnssd/Discovery_ImplPlatform.cpp
  src/lib/dnssd/Resolver.h
  src/lib/dnssd/TxtFields.cpp
  src/lib/dnssd/TxtFields.h
  src/lib/dnssd/minimal_mdns/tests/TestAdvertiser.cpp
  src/lib/dnssd/platform/tests/TestPlatform.cpp
  src/lib/dnssd/tests/TestTxtFields.cpp
Labels: lib, controller, app, review - approved

#18221 Stop having Darwin CHIPTool depend on in-framework key generation.
  examples/chip-tool-darwin/commands/common/CHIPCommandBridge.mm
  src/darwin/CHIPTool/CHIPTool.xcodeproj/project.pbxproj
  src/darwin/CHIPTool/CHIPTool/Framework Helpers/DefaultsUtils.m
  src/darwin/CHIPTool/CHIPTool/Framework Helpers/FabricKeys.h
  src/darwin/CHIPTool/CHIPTool/Framework Helpers/FabricKeys.m
  src/darwin/Framework/CHIP/CHIPDeviceController.mm
  src/darwin/Framework/CHIP/CHIPOperationalCredentialsDelegate.h
  src/darwin/Framework/CHIP/CHIPOperationalCredentialsDelegate.mm
  src/darwin/Framework/CHIP/MatterControllerFactory.h
  src/darwin/Framework/CHIP/MatterControllerFactory.mm
  src/darwin/Framework/CHIPTests/CHIPClustersTests.m
  src/darwin/Framework/CHIPTests/CHIPControllerTests.m
  src/darwin/Framework/CHIPTests/CHIPDeviceTests.m
  src/darwin/Framework/CHIPTests/CHIPXPCListenerSampleTests.m
Labels: examples, darwin, review - pending, fast track

#18079 [Ameba] NotifyUpdateApplied sent after rebooting into new OTA image
  src/platform/Ameba/AmebaOTAImageProcessor.cpp
  src/platform/Ameba/AmebaOTAImageProcessor.h
  src/platform/Ameba/ConfigurationManagerImpl.h
Labels: platform, review - approved

#17935 [coverage] Add use_coverage flag to add --coverage to clang builds.
  build/config/compiler/BUILD.gn
  build/config/compiler/compiler.gni
  build/config/defaults.gni
  scripts/build_coverage.sh
Labels: scripts, review - approved

#18198 [nrfconnect] add support for SSED in window-app
  examples/window-app/nrfconnect/README.md
  examples/window-app/nrfconnect/main/AppTask.cpp
  examples/window-app/nrfconnect/main/include/CHIPProjectConfig.h
  examples/window-app/nrfconnect/overlay-low_power.conf
Labels: examples, review - approved

#18246 [Ameba] Migrate mbedtls cmakefile to Matter SDK third_party folder
  third_party/ameba/mbedtls.cmake
Labels: review - pending

#18209 Ignore what things are enabled (or not) in controller-clusters.zap when doing YAML generation.
  src/app/zap-templates/common/simulated-clusters/SimulatedClusters.js
Labels: app, review - approved

#18227 Remove attribute filter vestiges.
  src/app/OperationalDeviceProxy.h
  src/app/util/attribute-filter.h
  src/app/zap-templates/templates/app/CHIPClientCallbacks.zapt
  src/controller/CommissioneeDeviceProxy.h
  zzz_generated/all-clusters-app/zap-generated/CHIPClientCallbacks.h
  zzz_generated/bridge-app/zap-generated/CHIPClientCallbacks.h
  zzz_generated/controller-clusters/zap-generated/CHIPClientCallbacks.h
  zzz_generated/light-switch-app/zap-generated/CHIPClientCallbacks.h
  zzz_generated/lighting-app/zap-generated/CHIPClientCallbacks.h
  zzz_generated/lock-app/zap-generated/CHIPClientCallbacks.h
  zzz_generated/log-source-app/zap-generated/CHIPClientCallbacks.h
  zzz_generated/ota-provider-app/zap-generated/CHIPClientCallbacks.h
  zzz_generated/ota-requestor-app/zap-generated/CHIPClientCallbacks.h
  zzz_generated/placeholder/app1/zap-generated/CHIPClientCallbacks.h
  zzz_generated/placeholder/app2/zap-generated/CHIPClientCallbacks.h
  zzz_generated/pump-app/zap-generated/CHIPClientCallbacks.h
  zzz_generated/pump-controller-app/zap-generated/CHIPClientCallbacks.h
  zzz_generated/thermostat/zap-generated/CHIPClientCallbacks.h
  zzz_generated/tv-app/zap-generated/CHIPClientCallbacks.h
  zzz_generated/tv-casting-app/zap-generated/CHIPClientCallbacks.h
  zzz_generated/window-app/zap-generated/CHIPClientCallbacks.h
Labels: controller, app, review - approved

#18263 Validate TIZEN environment variables at usage time only
  scripts/build/builders/tizen.py
Labels: hotfix, scripts, review - pending

#18130 Skip SetCurrentHeapHighWatermark if GetCurrentHeapUsed is not impleme…
  src/app/clusters/software-diagnostics-server/software-diagnostics-server.cpp
  src/include/platform/DiagnosticDataProvider.h
  src/platform/Darwin/DiagnosticDataProviderImpl.cpp
  src/platform/Darwin/DiagnosticDataProviderImpl.h
  src/platform/Linux/DiagnosticDataProviderImpl.cpp
  src/platform/Linux/DiagnosticDataProviderImpl.h
Labels: platform, darwin, linux, app, review - approved

#18125 Fix OpenSSL Implementation of ValidateCertificateChain().
  src/crypto/CHIPCryptoPALOpenSSL.cpp
  src/crypto/tests/CHIPCryptoPALTest.cpp
Labels: crypto, review - approved

#18158 address media test case issues
  .github/.wordlist.txt
  examples/platform/linux/AppMain.cpp
  examples/platform/linux/CommissionerMain.cpp
  examples/tv-app/android/java/AppImpl.cpp
  examples/tv-app/android/java/AppImpl.h
  examples/tv-app/android/java/ContentLauncherManager.cpp
  examples/tv-app/android/java/src/com/tcl/chip/tvapp/ContentLaunchManagerStub.java
  examples/tv-app/linux/AppImpl.cpp
  examples/tv-app/linux/AppImpl.h
  examples/tv-app/linux/include/content-launcher/ContentLauncherManager.cpp
  examples/tv-app/tv-common/include/CHIPProjectAppConfig.h
  examples/tv-casting-app/linux/README.md
  src/app/app-platform/ContentAppPlatform.cpp
  src/controller/CHIPDeviceControllerFactory.cpp
  src/controller/CHIPDeviceControllerFactory.h
  src/controller/CHIPDeviceControllerSystemState.h
Labels: examples, controller, app, github, review - approved

#18228 [chip-cert] Added AuthorizedPAAList Support to the Generate CD Command.
  src/tools/chip-cert/Cmd_GenCD.cpp
Labels: review - approved

#18219 Updated DefaultDeviceAttestationVerifier to Verify that PAA KeyId is in the CD.
  src/credentials/attestation_verifier/DefaultDeviceAttestationVerifier.cpp
  src/credentials/attestation_verifier/DeviceAttestationVerifier.h
Labels: review - approved

#18203 [esp32] add configurable external platform include directory
  config/esp32/components/chip/CMakeLists.txt
  config/esp32/components/chip/Kconfig
Labels: config, review - pending, fast track

#18197 [Tizen] Create TPK package file as a flashbundle
  examples/lighting-app/linux/tizen-manifest.xml
  scripts/build/builders/tizen.py
Labels: examples, scripts, review - approved

#18262 Add TIZEN_SDK_SYSROOT to vscode dockerfile
  integrations/docker/images/chip-build-vscode/Dockerfile
  integrations/docker/images/chip-build/version
Labels: integrations, review - approved

#18264 [linux] Make BLE connection retry on SW connection abort error
  src/platform/Linux/bluez/Helper.cpp
Labels: platform, linux, review - approved

#18247 [chip-tool] Enable command sending over PASE in interactive mode
  examples/chip-tool/commands/clusters/ClusterCommand.h
  examples/chip-tool/commands/clusters/ModelCommand.cpp
  examples/chip-tool/commands/clusters/ModelCommand.h
  examples/chip-tool/commands/clusters/ReportCommand.h
  examples/chip-tool/commands/clusters/WriteAttributeCommand.h
  examples/chip-tool/commands/common/CHIPCommand.h
  examples/chip-tool/commands/tests/TestCommand.h
  examples/chip-tool/templates/commands.zapt
  examples/tv-casting-app/tv-casting-common/commands/clusters/ClusterCommand.h
  examples/tv-casting-app/tv-casting-common/commands/clusters/ModelCommand.cpp
  examples/tv-casting-app/tv-casting-common/commands/clusters/ModelCommand.h
  examples/tv-casting-app/tv-casting-common/commands/clusters/ReportCommand.h
  examples/tv-casting-app/tv-casting-common/commands/clusters/WriteAttributeCommand.h
  examples/tv-casting-app/tv-casting-common/commands/common/CHIPCommand.h
  zzz_generated/chip-tool/zap-generated/cluster/Commands.h
Labels: examples, review - approved

#18306 Remove CHIPClustersTest.zapt
  examples/chip-tool-darwin/templates/tests/CHIPTestClustersObjc-src.zapt
  src/app/chip_data_model.gni
  src/app/tests/suites/templates/templates.json
  src/app/zap-templates/templates/app/tests/CHIPClustersTest.zapt
  src/controller/data_model/BUILD.gn
  zzz_generated/app-common/app-common/zap-generated/tests/CHIPClustersTest.h
  zzz_generated/chip-tool-darwin/zap-generated/cluster/CHIPTestClustersObjc.mm
  zzz_generated/controller-clusters/zap-generated/tests/CHIPClustersTest.h
Labels: examples, controller, app, review - approved

#18278 fix: Chef - Typo doRpc -> do_rpc
  examples/chef/chef.py
Labels: examples, review - approved

#18271 [OTA-R] OTA watchdog timer should not expire when device is in idle state.
  src/app/clusters/ota-requestor/DefaultOTARequestorDriver.cpp
  src/app/clusters/ota-requestor/DefaultOTARequestorDriver.h
Labels: app, review - approved, ota

#18292 Generate simulated cluster objects for app-common only
  examples/chip-tool/commands/tests/TestCommand.h
  scripts/tools/zap_regen_all.py
  zzz_generated/controller-clusters/zap-generated/tests/simulated-cluster-objects.h
Labels: examples, scripts, review - approved

#18305 [ChipTool] Remove some dead code in CHIPTests/CHIPClustersTests.m
  src/darwin/Framework/CHIPTests/CHIPClustersTests.m
Labels: darwin, review - approved

#18207 Tests: use proper certs for Alice and Bob
  src/credentials/FabricTable.cpp
  src/credentials/FabricTable.h
  src/messaging/tests/MessagingContext.cpp
  src/transport/tests/TestSessionManager.cpp
Labels: transport, review - approved

#18266 Update DNSSD records for resolve/browse on common vs commission/operational data
  examples/chip-tool/commands/pairing/PairingCommand.cpp
  examples/minimal-mdns/client.cpp
  examples/platform/linux/ControllerShellCommands.cpp
  src/app/CASESessionManager.cpp
  src/app/OperationalDeviceProxy.h
  src/app/tests/suites/commands/discovery/DiscoveryCommands.cpp
  src/controller/AbstractDnssdDiscoveryController.cpp
  src/controller/SetUpCodePairer.cpp
  src/controller/python/ChipCommissionableNodeController-ScriptBinding.cpp
  src/controller/python/ChipDeviceController-ScriptBinding.cpp
  src/controller/python/chip/discovery/NodeResolution.cpp
  src/controller/tests/TestCommissionableNodeController.cpp
  src/lib/address_resolve/AddressResolve_DefaultImpl.cpp
  src/lib/dnssd/ActiveResolveAttempts.h
  src/lib/dnssd/Discovery_ImplPlatform.cpp
  src/lib/dnssd/Resolver.h
  src/lib/dnssd/Resolver_ImplMinimalMdns.cpp
  src/lib/dnssd/TxtFields.cpp
  src/lib/dnssd/tests/TestActiveResolveAttempts.cpp
  src/lib/dnssd/tests/TestTxtFields.cpp
  src/lib/shell/commands/Dns.cpp
  src/protocols/user_directed_commissioning/UserDirectedCommissioningServer.cpp
  src/protocols/user_directed_commissioning/tests/TestUdcMessages.cpp
Labels: examples, lib, controller, app, review - approved

#18337 18158 Followup on fabricTable: DeviceController Setup after Shutdown
  src/controller/CHIPDeviceControllerFactory.cpp
Labels: review - approved

#18172 Darwin framework: add new header generation for cluster/attribute/command/event IDs to expose in darwin public framework
  src/darwin/CHIPTool/CHIPTool/View Controllers/Temperature Sensor/TemperatureSensorViewController.m
  src/darwin/Framework/CHIP.xcodeproj/project.pbxproj
  src/darwin/Framework/CHIP/BUILD.gn
  src/darwin/Framework/CHIP/CHIP.h
  src/darwin/Framework/CHIP/MatterClusterConstants.h
  src/darwin/Framework/CHIP/templates/MatterClusterConstants.zapt
  src/darwin/Framework/CHIP/templates/templates.json
  src/darwin/Framework/CHIP/zap-generated/MatterClusterConstants.h
Labels: darwin, review - pending, fast track

#18338 Remove chip_enable_group_messaging_tests option
  .github/workflows/fuzzing-build.yaml
  .github/workflows/tests.yaml
  scripts/build/build/targets.py
  scripts/build/builders/host.py
  src/app/server/BUILD.gn
  src/app/tests/suites/TestGroupMessaging.yaml
Labels: scripts, app, github, workflows, review - approved

#18342 Update FillNodeDataFromTxt to use the common & commission/operational…
  src/lib/dnssd/Discovery_ImplPlatform.cpp
  src/lib/dnssd/Resolver_ImplMinimalMdns.cpp
  src/lib/dnssd/TxtFields.cpp
  src/lib/dnssd/TxtFields.h
  src/lib/dnssd/tests/TestTxtFields.cpp
Labels: lib, review - approved

#18330 [EFR32] Remove fixed TODO and move BLE name adv to scan response
  src/platform/EFR32/BLEManagerImpl.cpp
Labels: platform, efr32, review - approved

#18328 Remove build variant from repl linux tests
  .github/workflows/tests.yaml
Labels: github, workflows, review - approved

#18223 android tv-casting-app: Send UDC request via JNI/CastingServer
  examples/tv-casting-app/android/App/app/src/main/java/com/chip/casting/app/CastingContext.java
  examples/tv-casting-app/android/App/app/src/main/java/com/chip/casting/app/CommissionerDiscoveryFragment.java
  examples/tv-casting-app/android/App/app/src/main/java/com/chip/casting/app/CommissioningFragment.java
  examples/tv-casting-app/android/App/app/src/main/java/com/chip/casting/app/MainActivity.java
  examples/tv-casting-app/android/App/app/src/main/java/com/chip/casting/dnssd/CommissionerResolveListener.java
  examples/tv-casting-app/android/App/app/src/main/java/com/chip/casting/dnssd/DiscoveredNodeData.java
  examples/tv-casting-app/android/App/app/src/main/jni/com/chip/casting/TvCastingApp.java
  examples/tv-casting-app/android/App/app/src/main/jni/cpp/TvCastingApp-JNI.cpp
Labels: examples, android, review - approved

#18350 Allow empty events in report
  src/app/MessageDef/AttributeReportIBs.cpp
  src/app/MessageDef/EventReportIBs.cpp
  src/app/tests/TestMessageDef.cpp
Labels: app, review - approved

#18289 Moved door-lock app from chip-all-clusters-common to chip-all-clusters-app
  examples/all-clusters-app/linux/BUILD.gn
Labels: examples, review - approved

#18032 Define required_submodules in environment_no_cipd.json
  scripts/environment_no_cipd.json
Labels: scripts, review - approved

#18381 Enable TV_* tests in darwin CI
  .github/workflows/darwin-tests.yaml
Labels: github, workflows, review - pending, fast track

#18237 Add Darwin framework APIs for generating root/ICA certificates.
  src/darwin/Framework/CHIP.xcodeproj/project.pbxproj
  src/darwin/Framework/CHIP/BUILD.gn
  src/darwin/Framework/CHIP/CHIP.h
  src/darwin/Framework/CHIP/CHIPCluster.mm
  src/darwin/Framework/CHIP/CHIPOperationalCredentialsDelegate.h
  src/darwin/Framework/CHIP/CHIPOperationalCredentialsDelegate.mm
  src/darwin/Framework/CHIP/CHIPP256KeypairBridge.h
  src/darwin/Framework/CHIP/CHIPP256KeypairBridge.mm
  src/darwin/Framework/CHIP/MTRCertificates.h
  src/darwin/Framework/CHIP/MTRCertificates.mm
  src/darwin/Framework/CHIP/NSDataSpanConversion.h
  src/darwin/Framework/CHIPTests/MatterCertificateTests.m
Labels: darwin, review - approved

#18402 Move wandalen/wretry from 1.0.11 to 1.0.15 to see if this fixes the t…
  .github/workflows/bloat_check.yaml
  .github/workflows/build.yaml
  .github/workflows/cirque.yaml
  .github/workflows/darwin-tests.yaml
  .github/workflows/darwin.yaml
  .github/workflows/docker_img.yaml
  .github/workflows/doxygen.yaml
  .github/workflows/examples-ameba.yaml
  .github/workflows/examples-cc13x2x7_26x2x7.yaml
  .github/workflows/examples-cyw30739.yaml
  .github/workflows/examples-efr32.yaml
  .github/workflows/examples-esp32.yaml
  .github/workflows/examples-infineon.yaml
  .github/workflows/examples-k32w.yaml
  .github/workflows/examples-linux-arm.yaml
  .github/workflows/examples-linux-imx.yaml
  .github/workflows/examples-linux-standalone.yaml
  .github/workflows/examples-mbed.yaml
  .github/workflows/examples-nrfconnect.yaml
  .github/workflows/examples-qpg.yaml
  .github/workflows/examples-telink.yaml
  .github/workflows/examples-tizen.yaml
  .github/workflows/fixit_rotation.yaml
  .github/workflows/full-android.yaml
  .github/workflows/fuzzing-build.yaml
  .github/workflows/lint.yml
  .github/workflows/qemu.yaml
  .github/workflows/rebase.yaml
  .github/workflows/release_artifacts.yaml
  .github/workflows/smoketest-android.yaml
  .github/workflows/spell.yml
  .github/workflows/tests.yaml
  .github/workflows/todos.yaml
  .github/workflows/unit_integration_test.yaml
  .github/workflows/zap_regeneration.yaml
  .github/workflows/zap_templates.yaml
Labels: hotfix, github, workflows, review - pending

#18302 use docker image 0.5.73
  .devcontainer/devcontainer.json
  .github/workflows/bloat_check.yaml
  .github/workflows/cirque.yaml
  .github/workflows/doxygen.yaml
  .github/workflows/examples-ameba.yaml
  .github/workflows/examples-efr32.yaml
  .github/workflows/examples-esp32.yaml
  .github/workflows/examples-infineon.yaml
  .github/workflows/examples-k32w.yaml
  .github/workflows/examples-linux-arm.yaml
  .github/workflows/examples-linux-imx.yaml
  .github/workflows/examples-linux-standalone.yaml
  .github/workflows/examples-mbed.yaml
  .github/workflows/examples-nrfconnect.yaml
  .github/workflows/examples-qpg.yaml
  .github/workflows/examples-tizen.yaml
  .github/workflows/full-android.yaml
  .github/workflows/fuzzing-build.yaml
  .github/workflows/qemu.yaml
  .github/workflows/release_artifacts.yaml
  .github/workflows/smoketest-android.yaml
  .github/workflows/tests.yaml
  .github/workflows/unit_integration_test.yaml
  .github/workflows/zap_regeneration.yaml
  .github/workflows/zap_templates.yaml
  integrations/cloudbuild/build-all.yaml
  integrations/cloudbuild/smoke-test.yaml
  scripts/checkout_submodules.py
Labels: scripts, integrations, vscode, github, workflows, review - pending

#18361 Improve APIs for controller startup on Darwin.
  examples/chip-tool-darwin/commands/common/CHIPCommandBridge.mm
  src/darwin/CHIPTool/CHIPTool/Framework Helpers/DefaultsUtils.m
  src/darwin/CHIPTool/CHIPTool/View Controllers/Bindings/BindingsViewController.m
  src/darwin/Framework/CHIP.xcodeproj/project.pbxproj
  src/darwin/Framework/CHIP/BUILD.gn
  src/darwin/Framework/CHIP/CHIP.h
  src/darwin/Framework/CHIP/CHIPDeviceController.h
  src/darwin/Framework/CHIP/CHIPDeviceController.mm
  src/darwin/Framework/CHIP/CHIPDeviceControllerStartupParams.h
  src/darwin/Framework/CHIP/CHIPDeviceControllerStartupParams.mm
  src/darwin/Framework/CHIP/CHIPDeviceControllerStartupParams_Internal.h
  src/darwin/Framework/CHIP/CHIPDeviceController_Internal.h
  src/darwin/Framework/CHIP/CHIPOperationalCredentialsDelegate.h
  src/darwin/Framework/CHIP/CHIPOperationalCredentialsDelegate.mm
  src/darwin/Framework/CHIP/MTRCertificates.h
  src/darwin/Framework/CHIP/MTRCertificates.mm
  src/darwin/Framework/CHIP/MatterControllerFactory.h
  src/darwin/Framework/CHIP/MatterControllerFactory.mm
  src/darwin/Framework/CHIPTests/CHIPClustersTests.m
  src/darwin/Framework/CHIPTests/CHIPControllerTests.m
  src/darwin/Framework/CHIPTests/CHIPDeviceTests.m
  src/darwin/Framework/CHIPTests/CHIPXPCListenerSampleTests.m
Labels: examples, darwin, review - pending, fast track

#18356 Added Content Launcher to android tv-casting-app
  examples/tv-casting-app/android/App/app/src/main/java/com/chip/casting/app/CommissionerDiscoveryFragment.java
  examples/tv-casting-app/android/App/app/src/main/java/com/chip/casting/app/CommissioningFragment.java
  examples/tv-casting-app/android/App/app/src/main/java/com/chip/casting/app/ContentLauncherFragment.java
  examples/tv-casting-app/android/App/app/src/main/java/com/chip/casting/app/MainActivity.java
  examples/tv-casting-app/android/App/app/src/main/java/com/chip/casting/platform/MatterCallbackHandler.java
  examples/tv-casting-app/android/App/app/src/main/jni/com/chip/casting/TvCastingApp.java
  examples/tv-casting-app/android/App/app/src/main/jni/cpp/CallbackHelper.cpp
  examples/tv-casting-app/android/App/app/src/main/jni/cpp/CallbackHelper.h
  examples/tv-casting-app/android/App/app/src/main/jni/cpp/TvCastingApp-JNI.cpp
  examples/tv-casting-app/android/App/app/src/main/res/layout/fragment_content_launcher.xml
  examples/tv-casting-app/android/App/app/src/main/res/values/strings.xml
  examples/tv-casting-app/android/BUILD.gn
  examples/tv-casting-app/linux/CastingShellCommands.cpp
  examples/tv-casting-app/linux/CastingUtils.cpp
  examples/tv-casting-app/linux/CastingUtils.h
  examples/tv-casting-app/linux/main.cpp
  examples/tv-casting-app/tv-casting-common/include/CastingServer.h
  examples/tv-casting-app/tv-casting-common/src/CastingServer.cpp
Labels: examples, android, review - approved

#18411 [Ameba] Fix 8710C OTA flash erase size
  src/platform/Ameba/AmebaOTAImageProcessor.cpp
Labels: platform, review - approved

#18408 Added Checks that the PublicKey is EC Key of a Supported Type.
  src/crypto/CHIPCryptoPALmbedTLS.cpp
Labels: crypto, review - approved

#18365 Be more strict with constness of argv variable
  examples/platform/linux/AppMain.cpp
  examples/platform/linux/AppMain.h
  examples/platform/linux/Options.cpp
  examples/platform/linux/Options.h
  src/inet/tests/TestInetLayer.cpp
  src/inet/tests/TestLwIPDNS.cpp
  src/lib/support/CHIPArgParser.cpp
  src/lib/support/CHIPArgParser.hpp
  src/lib/support/tests/TestCHIPArgParser.cpp
  src/tools/chip-cert/Cmd_ConvertCert.cpp
  src/tools/chip-cert/Cmd_ConvertKey.cpp
  src/tools/chip-cert/Cmd_PrintCert.cpp
  src/tools/chip-cert/Cmd_ValidateCert.cpp
Labels: examples, lib, inet, review - approved

#18422 [nrfconnect] Increased BT RX stack size to 1200
  config/nrfconnect/chip-module/Kconfig.defaults
Labels: config, review - approved

#18348 Add an incremental resolver for minmdns usage
  src/lib/dnssd/BUILD.gn
  src/lib/dnssd/IncrementalResolve.cpp
  src/lib/dnssd/IncrementalResolve.h
  src/lib/dnssd/minimal_mdns/core/tests/BUILD.gn
  src/lib/dnssd/minimal_mdns/core/tests/QNameStrings.h
  src/lib/dnssd/tests/BUILD.gn
  src/lib/dnssd/tests/TestIncrementalResolve.cpp
Labels: lib, review - approved

#18392 Avoid crashing if Bluez is not ready to scan
  src/platform/Linux/bluez/ChipDeviceScanner.cpp
Labels: platform, linux, review - approved

#18257 [chip-tool][yaml] Unify the interaction model backend
  examples/chip-tool/commands/clusters/ClusterCommand.h
  examples/chip-tool/commands/clusters/ReportCommand.h
  examples/chip-tool/commands/clusters/WriteAttributeCommand.h
  examples/chip-tool/templates/tests/partials/test_step.zapt
  src/app/tests/suites/commands/interaction_model/InteractionModel.cpp
  src/app/tests/suites/commands/interaction_model/InteractionModel.h
  zzz_generated/chip-tool/zap-generated/test/Commands.h
Labels: examples, app, review - pending, fast track

#18377 Add command line parameter -P to the Linux ota-provider-app so that the BDX transfer poll frequency can be changed
  .github/.wordlist.txt
  examples/ota-provider-app/linux/README.md
  examples/ota-provider-app/linux/main.cpp
  examples/ota-provider-app/ota-provider-common/OTAProviderExample.cpp
  examples/ota-provider-app/ota-provider-common/OTAProviderExample.h
Labels: examples, github, review - approved

#18441 Add CEC codes to tv-app
  examples/tv-app/linux/include/keypad-input/KeypadInputManager.cpp
Labels: examples, review - approved

#18406 Add initialize tracing
  src/platform/android/AndroidChipPlatform-JNI.cpp
  src/platform/android/BUILD.gn
  src/trace/BUILD.gn
  src/trace/trace.cpp
  src/trace/trace.h
Labels: platform, review - approved

#18385 Change declaration order to address GCC 12.1 error
  src/messaging/ExchangeMgr.h
Labels: review - approved

#18410 [IM] Change type of SubscriptionId-s to uint32_t per spec
  examples/chip-tool/commands/clusters/ReportCommand.h
  examples/chip-tool/commands/clusters/SubscriptionsCommands.h
  examples/tv-casting-app/tv-casting-common/commands/clusters/ReportCommand.h
  examples/tv-casting-app/tv-casting-common/commands/clusters/SubscriptionsCommands.h
  src/app/BufferedReadCallback.h
  src/app/ClusterStateCache.h
  src/app/InteractionModelEngine.cpp
  src/app/InteractionModelEngine.h
  src/app/MessageDef/ReportDataMessage.cpp
  src/app/MessageDef/ReportDataMessage.h
  src/app/MessageDef/SubscribeResponseMessage.cpp
  src/app/MessageDef/SubscribeResponseMessage.h
  src/app/ReadClient.cpp
  src/app/ReadClient.h
  src/app/ReadHandler.h
  src/app/reporting/Engine.cpp
  src/app/tests/TestMessageDef.cpp
  src/app/tests/integration/chip_im_initiator.cpp
  src/app/tests/suites/commands/interaction_model/InteractionModel.cpp
  src/app/tests/suites/commands/interaction_model/InteractionModel.h
  src/controller/TypedReadCallback.h
  src/controller/java/AndroidCallbacks.cpp
  src/controller/java/AndroidCallbacks.h
  src/controller/python/ChipDeviceController-ScriptBinding.cpp
  src/controller/python/chip/clusters/Attribute.py
  src/controller/python/chip/clusters/attribute.cpp
  src/controller/tests/TestEventChunking.cpp
  src/controller/tests/TestReadChunking.cpp
  src/controller/tests/data_model/TestRead.cpp
  src/darwin/Framework/CHIP/CHIPDevice.mm
  src/lib/core/DataModelTypes.h
Labels: examples, darwin, controller, app, review - approved

#18389 Fixing linux tv-casting-app's build
  .github/workflows/examples-linux-standalone.yaml
  examples/tv-casting-app/linux/CastingUtils.cpp
  scripts/build/build/targets.py
  scripts/build/builders/host.py
  scripts/build/testdata/build_linux_on_x64.txt
Labels: examples, scripts, linux, github, workflows, review - pending, fast track

#18415 [zephyr] Initialize realtime clock
  config/nrfconnect/chip-module/CMakeLists.txt
  config/zephyr/Kconfig
  scripts/examples/nrfconnect_example.sh
  src/platform/BUILD.gn
  src/platform/Zephyr/SystemTimeSupport.cpp
Labels: scripts, platform, zephyr, config, review - approved

#18318 Refactored OnboardingCodesUtil to decrease memory footprint.
  examples/all-clusters-app/esp32/main/DeviceWithDisplay.cpp
  examples/chef/esp32/main/main.cpp
  examples/common/pigweed/rpc_services/Device.h
  examples/light-switch-app/efr32/src/AppTask.cpp
  examples/lighting-app/efr32/src/AppTask.cpp
  examples/lock-app/efr32/src/AppTask.cpp
  examples/ota-requestor-app/efr32/src/AppTask.cpp
  examples/platform/linux/AppMain.cpp
  examples/platform/linux/Options.h
  examples/window-app/efr32/include/WindowAppImpl.h
  examples/window-app/efr32/src/WindowAppImpl.cpp
  src/app/server/OnboardingCodesUtil.cpp
  src/app/server/OnboardingCodesUtil.h
  src/controller/CommissioningWindowOpener.cpp
  src/lib/shell/commands/OnboardingCodes.cpp
  src/setup_payload/Base38Encode.cpp
  src/setup_payload/Base38Encode.h
  src/setup_payload/ManualSetupPayloadGenerator.cpp
  src/setup_payload/ManualSetupPayloadGenerator.h
  src/setup_payload/QRCodeSetupPayloadGenerator.h
  src/setup_payload/tests/TestQRCode.cpp
Labels: examples, setup payload, lib, controller, app, review - approved

#18191 Update feature flags logic in media clusters & TV app
  examples/tv-app/tv-common/tv-app.matter
  examples/tv-app/tv-common/tv-app.zap
  src/app/clusters/application-launcher-server/application-launcher-server.cpp
  src/app/clusters/audio-output-server/audio-output-server.cpp
  src/app/clusters/channel-server/channel-server.cpp
  src/app/clusters/content-launch-server/content-launch-server.cpp
  src/app/clusters/media-input-server/media-input-server.cpp
  zzz_generated/tv-app/zap-generated/endpoint_config.h
Labels: examples, app, review - approved

#18471 [Telink]: Updated Telink Zephyr version
  integrations/docker/images/chip-build-telink/Dockerfile
  integrations/docker/images/chip-build/version
Labels: integrations, github, workflows, review - pending, fast track

#18452 [OTA-R Linux] Timers were not being cancelled as intended
  src/app/clusters/ota-requestor/DefaultOTARequestorDriver.cpp
  src/app/clusters/ota-requestor/DefaultOTARequestorDriver.h
  src/app/clusters/ota-requestor/ExtendedOTARequestorDriver.cpp
Labels: app, review - approved, ota

#18438 Add --debug argument to REPL
  src/controller/python/chip-repl.py
  src/controller/python/chip/ChipReplStartup.py
Labels: controller, review - pending, fast track

#18388 Fixed Implementation of ExtractKIDFromX509Cert() Methods.
  src/crypto/CHIPCryptoPALOpenSSL.cpp
  src/crypto/CHIPCryptoPALmbedTLS.cpp
Labels: crypto, review - pending, fast track

#17939 [python] handle storage Sync issues properly
  src/controller/python/chip/storage/__init__.py
Labels: controller, review - approved

#18473 Remove some useless chip::Platform::MakeUnique in src/app/tests/suite…
  src/app/tests/suites/commands/interaction_model/InteractionModel.h
Labels: app, review - approved

#18470 [zephyr] Fix realtime clock
  src/platform/Zephyr/SystemTimeSupport.cpp
Labels: platform, zephyr, review - pending, fast track

#17639 Add composed device to the bridge app example.
  examples/bridge-app/linux/Device.cpp
  examples/bridge-app/linux/include/Device.h
  examples/bridge-app/linux/main.cpp
Labels: examples, platform, darwin, linux, app, review - approved

#18481 Update curl version - latest dockerfiles do not build
  integrations/docker/images/chip-build-nrf-platform/Dockerfile
  integrations/docker/images/chip-build/version
Labels: hotfix, integrations

#18394 Fix infinite recusion possibility in QName parsing
  src/lib/dnssd/minimal_mdns/core/QName.cpp
  src/lib/dnssd/minimal_mdns/core/tests/TestQName.cpp
Labels: lib, review - approved

#18404 Stop converting values to base64 for Darwin storage.
  examples/chip-tool-darwin/commands/common/CHIPCommandStorageDelegate.h
  examples/chip-tool-darwin/commands/common/CHIPCommandStorageDelegate.mm
  examples/chip-tool-darwin/commands/common/CHIPToolKeypair.mm
  src/darwin/CHIPTool/CHIPTool/Framework Helpers/DefaultsUtils.h
  src/darwin/CHIPTool/CHIPTool/Framework Helpers/DefaultsUtils.m
  src/darwin/Framework/CHIP/CHIPPersistentStorageDelegate.h
  src/darwin/Framework/CHIP/CHIPPersistentStorageDelegateBridge.mm
  src/darwin/Framework/CHIPTests/CHIPTestStorage.h
  src/darwin/Framework/CHIPTests/CHIPTestStorage.m
Labels: examples, darwin, review - approved

#18474 [EFR32] Add a disable lcd flag to efr32 examples
  examples/light-switch-app/efr32/BUILD.gn
  examples/light-switch-app/efr32/src/AppTask.cpp
  examples/lighting-app/efr32/BUILD.gn
  examples/lighting-app/efr32/src/AppTask.cpp
  examples/lock-app/efr32/BUILD.gn
  examples/lock-app/efr32/src/AppTask.cpp
  examples/ota-requestor-app/efr32/BUILD.gn
  examples/ota-requestor-app/efr32/src/AppTask.cpp
  examples/window-app/efr32/BUILD.gn
  third_party/efr32_sdk/efr32_sdk.gni
Labels: examples, review - approved

#18458 Make Darwin CHIPKeypair usable in a few more cases.
  examples/chip-tool-darwin/commands/common/CHIPToolKeypair.h
  examples/chip-tool-darwin/commands/common/CHIPToolKeypair.mm
  src/crypto/CHIPCryptoPAL.h
  src/darwin/CHIPTool/CHIPTool/Framework Helpers/FabricKeys.m
  src/darwin/Framework/CHIP/CHIPKeypair.h
  src/darwin/Framework/CHIP/CHIPP256KeypairBridge.mm
  src/darwin/Framework/CHIPTests/CHIPTestKeys.m
Labels: examples, darwin, crypto, review - approved

#18450 Add Unpair to chip-tool-darwin
  examples/chip-tool-darwin/commands/pairing/Commands.h
  examples/chip-tool-darwin/commands/pairing/PairingCommandBridge.h
  examples/chip-tool-darwin/commands/pairing/PairingCommandBridge.mm
Labels: examples, review - pending, fast track

#18482 Allow external ownership of CHIPDeviceController operational key
  src/controller/CHIPDeviceController.cpp
  src/controller/CHIPDeviceController.h
  src/credentials/FabricTable.cpp
  src/credentials/FabricTable.h
Labels: controller, review - approved

#18459 Remove unneeded/ambiguous CompressedFabricId usages
  src/app/CASESessionManager.cpp
  src/app/CASESessionManager.h
  src/app/OperationalDeviceProxyPool.h
  src/app/clusters/bindings/BindingManager.cpp
  src/app/clusters/bindings/BindingManager.h
  src/app/clusters/operational-credentials-server/operational-credentials-server.cpp
  src/app/server/Server.h
  src/controller/CHIPDeviceController.cpp
  src/controller/CHIPDeviceControllerFactory.cpp
  src/controller/CHIPDeviceControllerFactory.h
  src/controller/CHIPDeviceControllerSystemState.h
  src/credentials/FabricTable.cpp
  src/credentials/FabricTable.h
Labels: controller, app, review - approved

#18469 [esp32] fix mdns config when using external platform
  config/esp32/components/chip/CMakeLists.txt
Labels: config, review - pending, fast track

#18500 Allow actually initializing a controller with an external keypair.
  src/controller/CHIPDeviceController.h
  src/controller/CHIPDeviceControllerFactory.cpp
  src/controller/CHIPDeviceControllerFactory.h
Labels: controller, review - approved

#18502 [esp32] fix empty is_debug value when debug disabled
  config/esp32/components/chip/CMakeLists.txt
Labels: config, review - approved

#18434 [opcreds] Fix LEAVE event on RemoveFabric
  src/app/clusters/operational-credentials-server/operational-credentials-server.cpp
  src/app/server/Server.h
Labels: app, review - approved

#18510 Add Darwin framework API for creating operational certificates.
  src/darwin/Framework/CHIP/CHIPOperationalCredentialsDelegate.h
  src/darwin/Framework/CHIP/CHIPOperationalCredentialsDelegate.mm
  src/darwin/Framework/CHIP/MTRCertificates.h
  src/darwin/Framework/CHIP/MTRCertificates.mm
  src/darwin/Framework/CHIPTests/MatterCertificateTests.m
Labels: darwin, review - approved
