Repository project-chip/connectedhomeip, pull requests merged in 2022-11, with the labels that each got.

#23406 [Silabs] Update the base mg24 factory data binary
  scripts/tools/silabs/base_matter_mg24_nvm3.s37
Labels: review - approved

#23392 Address Darwin API review comments on MTRThreadOperationalDataset.
  src/darwin/Framework/CHIP/MTRThreadOperationalDataset.h
  src/darwin/Framework/CHIP/MTRThreadOperationalDataset.mm
  src/darwin/Framework/CHIPTests/MTRThreadOperationalDatasetTests.mm
Labels: darwin, review - pending, fast track

#23403 Darwin API review fixes for MTRSetupPayload and MTROptionalQRCodeInfo.
  examples/darwin-framework-tool/commands/payload/SetupPayloadParseCommand.mm
  src/darwin/Framework/CHIP/MTRBaseDevice.h
  src/darwin/Framework/CHIP/MTRDevice.h
  src/darwin/Framework/CHIP/MTRDeviceController+XPC.h
  src/darwin/Framework/CHIP/MTRDeviceController.h
  src/darwin/Framework/CHIP/MTRManualSetupPayloadParser.h
  src/darwin/Framework/CHIP/MTRQRCodeSetupPayloadParser.h
  src/darwin/Framework/CHIP/MTRSetupPayload.h
  src/darwin/Framework/CHIP/MTRSetupPayload.mm
  src/darwin/Framework/CHIP/MTRSetupPayload_Internal.h
  src/darwin/Framework/CHIP/Matter.h
  src/darwin/Framework/CHIP/templates/MTRBaseClusters.zapt
  src/darwin/Framework/CHIP/templates/MTRClusters.zapt
  src/darwin/Framework/CHIP/zap-generated/MTRBaseClusters.h
  src/darwin/Framework/CHIP/zap-generated/MTRClusters.h
  src/darwin/Framework/CHIPTests/MTRSetupPayloadParserTests.m
Labels: examples, darwin, review - pending, fast track

#23426 Select maxInterval based on device sleep interval in MTRDevice.
  src/darwin/Framework/CHIP/MTRDevice.mm
  src/darwin/Framework/CHIPTests/MTRDeviceTests.m
Labels: darwin, review - approved

#23421 Fix link to Docker engine
  docs/VSCODE_DEVELOPMENT.md
Labels: documentation, review - approved

#23411 add a fallback for the 'coloredlogs' import in 'codegen.py'
  scripts/codegen.py
Labels: scripts, review - approved

#23428 Add nrfconnect window app to NRF builder
  scripts/build/builders/nrf.py
Labels: scripts, review - approved

#23430 [chip-tool] Remove duplicate command registration
  examples/chip-tool/commands/pairing/Commands.h
Labels: tools, examples, review - approved

#23417 [ESP32] Enabled chip shell for lighting app
  examples/lighting-app/esp32/sdkconfig.defaults
Labels: examples, review - approved

#23424 Remove fixed code from callbacks-stubs.cpp generated files
  src/app/chip_data_model.cmake
  src/app/chip_data_model.gni
  src/app/util/generic-callback-stubs.cpp
  src/app/zap-templates/templates/app/callback-stub-src.zapt
  zzz_generated/all-clusters-app/zap-generated/callback-stub.cpp
  zzz_generated/all-clusters-minimal-app/zap-generated/callback-stub.cpp
  zzz_generated/bridge-app/zap-generated/callback-stub.cpp
  zzz_generated/chef-noip_rootnode_dimmablelight_bCwGYSDpoe/zap-generated/callback-stub.cpp
  zzz_generated/chef-rootnode_colortemperaturelight_hbUnzYVeyn/zap-generated/callback-stub.cpp
  zzz_generated/chef-rootnode_contactsensor_lFAGG1bfRO/zap-generated/callback-stub.cpp
  zzz_generated/chef-rootnode_dimmablelight_bCwGYSDpoe/zap-generated/callback-stub.cpp
  zzz_generated/chef-rootnode_doorlock_aNKYAreMXE/zap-generated/callback-stub.cpp
  zzz_generated/chef-rootnode_extendedcolorlight_8lcaaYJVAa/zap-generated/callback-stub.cpp
  zzz_generated/chef-rootnode_fan_7N2TobIlOX/zap-generated/callback-stub.cpp
  zzz_generated/chef-rootnode_flowsensor_1zVxHedlaV/zap-generated/callback-stub.cpp
  zzz_generated/chef-rootnode_heatingcoolingunit_ncdGai1E5a/zap-generated/callback-stub.cpp
  zzz_generated/chef-rootnode_humiditysensor_Xyj4gda6Hb/zap-generated/callback-stub.cpp
  zzz_generated/chef-rootnode_lightsensor_lZQycTFcJK/zap-generated/callback-stub.cpp
  zzz_generated/chef-rootnode_occupancysensor_iHyVgifZuo/zap-generated/callback-stub.cpp
  zzz_generated/chef-rootnode_onofflight_bbs1b7IaOV/zap-generated/callback-stub.cpp
  zzz_generated/chef-rootnode_onofflightswitch_FsPlMr090Q/zap-generated/callback-stub.cpp
  zzz_generated/chef-rootnode_onoffpluginunit_Wtf8ss5EBY/zap-generated/callback-stub.cpp
  zzz_generated/chef-rootnode_pressuresensor_s0qC9wLH4k/zap-generated/callback-stub.cpp
  zzz_generated/chef-rootnode_speaker_RpzeXdimqA/zap-generated/callback-stub.cpp
  zzz_generated/chef-rootnode_temperaturesensor_Qy1zkNW7c3/zap-generated/callback-stub.cpp
  zzz_generated/chef-rootnode_thermostat_bm3fb8dhYi/zap-generated/callback-stub.cpp
  zzz_generated/chef-rootnode_windowcovering_RLCxaGi9Yx/zap-generated/callback-stub.cpp
  zzz_generated/contact-sensor-app/zap-generated/callback-stub.cpp
  zzz_generated/controller-clusters/zap-generated/callback-stub.cpp
  zzz_generated/dynamic-bridge-app/zap-generated/callback-stub.cpp
  zzz_generated/light-switch-app/zap-generated/callback-stub.cpp
  zzz_generated/lighting-app/nxp/zap-generated/callback-stub.cpp
  zzz_generated/lighting-app/zap-generated/callback-stub.cpp
  zzz_generated/lock-app/zap-generated/callback-stub.cpp
  zzz_generated/log-source-app/zap-generated/callback-stub.cpp
  zzz_generated/ota-provider-app/zap-generated/callback-stub.cpp
  zzz_generated/ota-requestor-app/zap-generated/callback-stub.cpp
  zzz_generated/placeholder/app1/zap-generated/callback-stub.cpp
  zzz_generated/placeholder/app2/zap-generated/callback-stub.cpp
  zzz_generated/pump-app/zap-generated/callback-stub.cpp
  zzz_generated/pump-controller-app/zap-generated/callback-stub.cpp
  zzz_generated/temperature-measurement-app/zap-generated/callback-stub.cpp
  zzz_generated/thermostat/zap-generated/callback-stub.cpp
  zzz_generated/tv-app/zap-generated/callback-stub.cpp
  zzz_generated/tv-casting-app/zap-generated/callback-stub.cpp
  zzz_generated/window-app/zap-generated/callback-stub.cpp
Labels: app, review - approved

#23441 [Darwin] MTRDevice write expected value expiration should generate report properly
  src/darwin/Framework/CHIP/MTRDevice.mm
Labels: darwin, review - pending, fast track

#23242 [java-matter-controller] Add the initial version of command parser
  examples/java-matter-controller/BUILD.gn
  examples/java-matter-controller/java/src/com/matter/controller/Main.java
  examples/java-matter-controller/java/src/com/matter/controller/Off.java
  examples/java-matter-controller/java/src/com/matter/controller/On.java
  examples/java-matter-controller/java/src/com/matter/controller/commands/common/Argument.java
  examples/java-matter-controller/java/src/com/matter/controller/commands/common/ArgumentType.java
  examples/java-matter-controller/java/src/com/matter/controller/commands/common/Command.java
  examples/java-matter-controller/java/src/com/matter/controller/commands/common/CredentialsIssuer.java
  examples/java-matter-controller/java/src/com/matter/controller/commands/common/IPAddress.java
  examples/java-matter-controller/java/src/com/matter/controller/commands/common/MatterCommand.java
  examples/java-matter-controller/java/src/com/matter/controller/config/PersistentStorage.java
  examples/java-matter-controller/java/src/com/matter/controller/config/PersistentStorageOpCertStore.java
  examples/java-matter-controller/java/src/com/matter/controller/config/PersistentStorageOperationalKeystore.java
Labels: examples, review - approved

#23077 These are the readme file changes for the specification 1.0 launch . All information are taken out of spec.
  README.md
Labels: documentation, fast track

#23380 [Telink] Adopt to latest telink zephyr & Update Telink image to 0.6.02 (Cherry-pick #22971)
  .github/workflows/examples-telink.yaml
  config/telink/app/zephyr.conf
  config/telink/chip-module/CMakeLists.txt
  examples/light-switch-app/telink/include/AppTask.h
  examples/light-switch-app/telink/prj.conf
  examples/light-switch-app/telink/src/AppTask.cpp
  examples/light-switch-app/telink/src/main.cpp
  examples/lighting-app/telink/include/LightingManager.h
  examples/lighting-app/telink/prj.conf
  examples/lighting-app/telink/src/AppTask.cpp
  examples/lighting-app/telink/src/LightingManager.cpp
  examples/lighting-app/telink/src/main.cpp
  examples/ota-requestor-app/telink/include/AppTask.h
  examples/ota-requestor-app/telink/prj.conf
  examples/ota-requestor-app/telink/src/AppTask.cpp
  examples/ota-requestor-app/telink/src/main.cpp
  examples/platform/telink/util/include/ButtonManager.h
  examples/platform/telink/util/include/LEDWidget.h
  examples/platform/telink/util/src/ButtonManager.cpp
  examples/platform/telink/util/src/LEDWidget.cpp
  examples/platform/telink/util/src/ThreadUtil.cpp
  src/include/platform/internal/GenericPlatformManagerImpl_Zephyr.h
  src/include/platform/internal/GenericPlatformManagerImpl_Zephyr.ipp
  src/inet/InetInterface.cpp
  src/inet/InetInterface.h
  src/platform/Zephyr/DiagnosticDataProviderImpl.cpp
  src/platform/Zephyr/KeyValueStoreManagerImpl.cpp
  src/platform/Zephyr/KeyValueStoreManagerImpl.h
  src/platform/Zephyr/Logging.cpp
  src/platform/Zephyr/PlatformManagerImpl.cpp
  src/platform/Zephyr/SystemTimeSupport.cpp
  src/platform/Zephyr/ThreadStackManagerImpl.h
  src/platform/Zephyr/ZephyrConfig.cpp
  src/platform/telink/BLEManagerImpl.cpp
  src/platform/telink/BUILD.gn
  src/platform/telink/CHIPDevicePlatformEvent.h
  src/platform/telink/OTAImageProcessorImpl.cpp
  src/platform/telink/crypto/aes_alt.h
  src/platform/telink/crypto/ecp_alt.h
  src/platform/telink/crypto/internal/common.h
  src/platform/telink/crypto/internal/compatibility/aes_alt.c
  src/platform/telink/crypto/internal/compatibility/aesni.h
  src/platform/telink/crypto/internal/compatibility/bn_mul.h
  src/platform/telink/crypto/internal/compatibility/ecp_alt.c
  src/platform/telink/crypto/internal/compatibility/ecp_curves_alt.c
  src/platform/telink/crypto/internal/compatibility/ecp_internal_alt.h
  src/platform/telink/crypto/internal/compatibility/ecp_invasive.h
  src/platform/telink/crypto/internal/compatibility/padlock.h
  src/platform/telink/crypto/internal/ecp_alt_b91_backend.c
  src/platform/telink/crypto/internal/ecp_alt_b91_backend_test.c
  src/platform/telink/crypto/internal/entropy_poll_alt.c
  src/platform/telink/crypto/internal/multithread.c
  src/platform/telink/crypto/internal/multithread.h
  src/platform/telink/crypto/internal/test_utils.c
  src/platform/telink/crypto/internal/test_utils.h
  src/platform/telink/crypto/telink-mbedtls-config.h
  src/platform/telink/telink-mbedtls-config.h
Labels: examples, platform, zephyr, inet, config, github, workflows, telink

#23376 inet: Do not copy pbuf when it already meets the PacketBuffer memory
  src/inet/UDPEndPointImplLwIP.cpp
Labels: inet, review - approved

#23416 Implement chip::Access::AccessControl::ResetAccessControl
  src/access/AccessControl.cpp
  src/access/AccessControl.h
  src/access/tests/TestAccessControl.cpp
  src/app/server/Server.cpp
  src/app/tests/AppTestContext.cpp
Labels: app, review - approved, tests

#23469 Fix spellcheck after #23077
  README.md
Labels: documentation, hotfix

#23474 Reformat README table structure after #23469
  README.md
Labels: documentation, hotfix

#23422 Split DefaultStorageKeyAllocator into `Keys` and `Allocator`
  examples/platform/linux/testing/CustomCSRResponseOperationalKeyStore.cpp
  examples/providers/DeviceInfoProviderImpl.cpp
  src/app/DefaultAttributePersistenceProvider.cpp
  src/app/clusters/access-control-server/access-control-server.cpp
  src/app/clusters/ota-requestor/DefaultOTARequestorStorage.cpp
  src/app/server/DefaultAclStorage.cpp
  src/app/server/Server.cpp
  src/app/server/Server.h
  src/app/tests/TestBindingTable.cpp
  src/app/util/binding-table.cpp
  src/app/util/binding-table.h
  src/credentials/FabricTable.cpp
  src/credentials/GroupDataProviderImpl.cpp
  src/credentials/LastKnownGoodTime.cpp
  src/credentials/PersistentStorageOpCertStore.cpp
  src/credentials/tests/TestPersistentStorageOpCertStore.cpp
  src/crypto/PersistentStorageOperationalKeystore.cpp
  src/crypto/tests/TestPersistentStorageOpKeyStore.cpp
  src/lib/support/DefaultStorageKeyAllocator.h
  src/lib/support/PersistedCounter.h
  src/lib/support/tests/TestPersistedCounter.cpp
  src/platform/ESP32/ESP32DeviceInfoProvider.cpp
  src/platform/OpenThread/GenericNetworkCommissioningThreadDriver.cpp
  src/platform/nxp/mw320/DeviceInfoProviderImpl.cpp
  src/protocols/secure_channel/SimpleSessionResumptionStorage.cpp
  src/protocols/secure_channel/SimpleSessionResumptionStorage.h
  src/protocols/secure_channel/tests/TestDefaultSessionResumptionStorage.cpp
  src/transport/GroupPeerMessageCounter.cpp
  src/transport/tests/TestGroupMessageCounter.cpp
Labels: examples, transport, platform, esp32, lib, crypto, app, review - approved, tests, support

#21297 Fix joining fabric print in `ChipDeviceController`
  src/controller/CHIPDeviceController.cpp
Labels: controller, review - approved

#23446 Add Darwin API backwards compat tests.
  src/darwin/Framework/CHIP/MTRDeviceControllerStartupParams.h
  src/darwin/Framework/CHIPTests/MTRBackwardsCompatTests.m
  src/darwin/Framework/CHIPTests/MTRDeviceTests.m
  src/darwin/Framework/CHIPTests/MTRXPCListenerSampleTests.m
  src/darwin/Framework/Matter.xcodeproj/project.pbxproj
Labels: darwin, review - pending, fast track

#23479 Apply API review fixes for MTROTAHeaderParser.
  examples/darwin-framework-tool/commands/provider/OTASoftwareUpdateInteractive.mm
  src/darwin/Framework/CHIP/MTROTAHeader.h
  src/darwin/Framework/CHIP/MTROTAHeader.mm
  src/darwin/Framework/CHIP/Matter.h
  src/darwin/Framework/Matter.xcodeproj/project.pbxproj
Labels: examples, darwin, review - pending, fast track

#23476 Apply API review fixes for MTRPersistentStorageDelegate.h.
  examples/darwin-framework-tool/commands/common/CHIPCommandStorageDelegate.h
  src/darwin/Framework/CHIP/MTRControllerFactory.h
  src/darwin/Framework/CHIP/MTRControllerFactory.mm
  src/darwin/Framework/CHIP/MTRPersistentStorageDelegateBridge.h
  src/darwin/Framework/CHIP/MTRPersistentStorageDelegateBridge.mm
  src/darwin/Framework/CHIP/MTRStorage.h
  src/darwin/Framework/CHIP/Matter.h
  src/darwin/Framework/CHIPTests/MTRTestStorage.h
  src/darwin/Framework/Matter.xcodeproj/project.pbxproj
Labels: examples, darwin, review - pending, fast track

#23443 clang-tidy: apply modernize-loop-convert over a set of files
  examples/chip-tool/commands/common/CHIPCommand.cpp
  examples/chip-tool/commands/common/Command.cpp
  src/app/BufferedReadCallback.cpp
  src/app/clusters/general-diagnostics-server/general-diagnostics-server.cpp
  src/app/tests/TestAttributeValueEncoder.cpp
  src/app/tests/TestPendingNotificationMap.cpp
  src/app/tests/TestReadInteraction.cpp
  src/app/tests/suites/pics/PICSBooleanExpressionParser.cpp
  src/ble/BleLayer.cpp
  src/controller/tests/TestWriteChunking.cpp
  src/controller/tests/data_model/TestRead.cpp
  src/credentials/CHIPCert.cpp
  src/credentials/attestation_verifier/DefaultDeviceAttestationVerifier.cpp
  src/credentials/tests/TestCertificationDeclaration.cpp
  src/credentials/tests/TestChipCert.cpp
  src/crypto/tests/CHIPCryptoPALTest.cpp
  src/crypto/tests/TestGroupOperationalCredentials.cpp
  src/lib/address_resolve/AddressResolve_DefaultImpl.cpp
  src/lib/asn1/ASN1OID.cpp
  src/lib/dnssd/minimal_mdns/ResponseSender.cpp
  src/lib/dnssd/minimal_mdns/core/RecordWriter.cpp
  src/lib/dnssd/tests/TestTxtFields.cpp
  src/lib/support/tests/TestIntrusiveList.cpp
  src/lib/support/tests/TestPool.cpp
  src/lib/support/tests/TestPrivateHeap.cpp
  src/messaging/tests/TestReliableMessageProtocol.cpp
  src/protocols/secure_channel/tests/TestDefaultSessionResumptionStorage.cpp
  src/system/tests/TestSystemPacketBuffer.cpp
  src/system/tests/TestSystemTimer.cpp
  src/transport/raw/MessageHeader.h
  src/transport/raw/tests/TestMessageHeader.cpp
  src/transport/tests/TestCryptoContext.cpp
  src/transport/tests/TestSessionManager.cpp
Labels: tools, examples, transport, system, lib, crypto, controller, ble, app, review - approved, tests, support

#23475 Remove un-used functions from ConnectivityManagerImpl
  examples/all-clusters-app/nxp/mw320/main.cpp
  src/platform/Linux/ConnectivityManagerImpl.cpp
  src/platform/Linux/ConnectivityManagerImpl.h
  src/platform/Tizen/ConnectivityManagerImpl.cpp
  src/platform/Tizen/ConnectivityManagerImpl.h
  src/platform/android/ConnectivityManagerImpl.cpp
  src/platform/android/ConnectivityManagerImpl.h
  src/platform/nxp/mw320/ConnectivityManagerImpl.cpp
  src/platform/nxp/mw320/ConnectivityManagerImpl.h
  src/platform/webos/ConnectivityManagerImpl.cpp
  src/platform/webos/ConnectivityManagerImpl.h
Labels: examples, platform, linux, review - approved

#23447 Fix various miscellaneous Darwin API issues.
  examples/darwin-framework-tool/commands/clusters/ReportCommandBridge.h
  src/darwin/Framework/CHIP/MTRBaseDevice.h
  src/darwin/Framework/CHIP/MTRBaseDevice.mm
  src/darwin/Framework/CHIP/MTRBaseDevice_Internal.h
  src/darwin/Framework/CHIP/MTRCertificates.h
  src/darwin/Framework/CHIP/MTRCertificates.mm
  src/darwin/Framework/CHIP/MTRCluster.h
  src/darwin/Framework/CHIP/MTRCluster.mm
  src/darwin/Framework/CHIP/MTRCluster_internal.h
  src/darwin/Framework/CHIP/MTRCommissioningParameters.h
  src/darwin/Framework/CHIP/MTRCommissioningParameters.m
  src/darwin/Framework/CHIP/MTRDevice.mm
  src/darwin/Framework/CHIP/MTRDeviceController.h
  src/darwin/Framework/CHIP/MTRDeviceController.mm
  src/darwin/Framework/CHIP/MTRDeviceControllerStartupParams.h
  src/darwin/Framework/CHIP/MTRDeviceControllerStartupParams.mm
  src/darwin/Framework/CHIP/MTRDeviceControllerStartupParams_Internal.h
  src/darwin/Framework/CHIP/MTRDeviceOverXPC.m
  src/darwin/Framework/CHIP/MTRDevicePairingDelegate.h
  src/darwin/Framework/CHIP/MTRError.h
  src/darwin/Framework/CHIP/MTRError_Internal.h
  src/darwin/Framework/CHIP/MTRManualSetupPayloadParser.h
  src/darwin/Framework/CHIP/MTROnboardingPayloadParser.h
  src/darwin/Framework/CHIP/MTROnboardingPayloadParser.m
  src/darwin/Framework/CHIP/MTRQRCodeSetupPayloadParser.h
  src/darwin/Framework/CHIP/MTRSetupPayload.h
  src/darwin/Framework/CHIP/MTRSetupPayload.mm
  src/darwin/Framework/CHIP/MTRStorage.h
  src/darwin/Framework/CHIP/MTRThreadOperationalDataset.h
  src/darwin/Framework/CHIP/MTRThreadOperationalDataset.mm
  src/darwin/Framework/CHIP/templates/MTRBaseClusters.zapt
  src/darwin/Framework/CHIP/templates/MTRClusters.zapt
  src/darwin/Framework/CHIP/templates/MTRCommandPayloadsObjc-src.zapt
  src/darwin/Framework/CHIP/templates/MTRCommandPayloadsObjc.zapt
  src/darwin/Framework/CHIP/templates/MTRStructsObjc-src.zapt
  src/darwin/Framework/CHIP/templates/MTRStructsObjc.zapt
  src/darwin/Framework/CHIP/zap-generated/MTRBaseClusters.h
  src/darwin/Framework/CHIP/zap-generated/MTRClusters.h
  src/darwin/Framework/CHIP/zap-generated/MTRCommandPayloadsObjc.h
  src/darwin/Framework/CHIP/zap-generated/MTRCommandPayloadsObjc.mm
  src/darwin/Framework/CHIP/zap-generated/MTRStructsObjc.h
  src/darwin/Framework/CHIP/zap-generated/MTRStructsObjc.mm
  src/darwin/Framework/CHIPTests/MTRCertificateTests.m
  src/darwin/Framework/CHIPTests/MTRControllerTests.m
  src/darwin/Framework/CHIPTests/MTRDeviceTests.m
  src/darwin/Framework/CHIPTests/MTRXPCListenerSampleTests.m
  src/darwin/Framework/CHIPTests/MTRXPCProtocolTests.m
Labels: examples, darwin, review - approved, fast track

#23434 [Zephyr] Allow to erase entire NVS on factory reset
  config/nrfconnect/chip-module/Kconfig
  config/zephyr/Kconfig
  docs/guides/nrfconnect_examples_configuration.md
  src/platform/Zephyr/ConfigurationManagerImpl.cpp
Labels: documentation, platform, zephyr, config, review - approved

#23463 [tools] Implement Python version of spake2p tool
  scripts/tools/nrfconnect/generate_nrfconnect_chip_factory_data.py
  scripts/tools/nrfconnect/tests/test_generate_factory_data.py
  scripts/tools/spake2p/README.md
  scripts/tools/spake2p/spake2p.py
Labels: scripts, review - approved

#23487 More cluster define renames for consistency with spec cluster names
  examples/all-clusters-app/all-clusters-common/all-clusters-app.zap
  examples/all-clusters-minimal-app/all-clusters-common/all-clusters-minimal-app.zap
  examples/bridge-app/bridge-common/bridge-app.zap
  examples/bridge-app/linux/main.cpp
  examples/chef/devices/rootnode_temperaturesensor_Qy1zkNW7c3.zap
  examples/chef/devices/rootnode_thermostat_bm3fb8dhYi.zap
  examples/common/pigweed/protos/attributes_service.proto
  examples/dynamic-bridge-app/bridge-common/bridge-app.zap
  examples/log-source-app/log-source-common/log-source-app.zap
  examples/ota-provider-app/ota-provider-common/ota-provider-app.zap
  examples/ota-requestor-app/ota-requestor-common/ota-requestor-app.zap
  examples/placeholder/linux/apps/app1/config.zap
  examples/placeholder/linux/apps/app2/config.zap
  examples/pump-app/pump-common/pump-app.zap
  examples/pump-controller-app/pump-controller-common/pump-controller-app.zap
  examples/temperature-measurement-app/esp32/main/temperature-measurement.zap
  examples/thermostat/thermostat-common/thermostat.zap
  examples/tv-app/tv-common/tv-app.zap
  examples/tv-casting-app/tv-casting-common/tv-casting-app.zap
  src/app/util/debug-printing-test.h
  src/app/util/debug-printing.h
  src/app/zap-templates/zcl/data-model/chip/pump-configuration-and-control-cluster.xml
  src/app/zap-templates/zcl/data-model/chip/temperature-measurement-cluster.xml
  src/app/zap-templates/zcl/data-model/silabs/ha.xml
  src/app/zap_cluster_list.py
  src/controller/data_model/controller-clusters.zap
  zzz_generated/all-clusters-app/zap-generated/callback-stub.cpp
  zzz_generated/all-clusters-app/zap-generated/gen_config.h
  zzz_generated/all-clusters-minimal-app/zap-generated/callback-stub.cpp
  zzz_generated/all-clusters-minimal-app/zap-generated/gen_config.h
  zzz_generated/app-common/app-common/zap-generated/cluster-id.h
  zzz_generated/app-common/app-common/zap-generated/print-cluster.h
  zzz_generated/bridge-app/zap-generated/callback-stub.cpp
  zzz_generated/bridge-app/zap-generated/gen_config.h
  zzz_generated/chef-rootnode_temperaturesensor_Qy1zkNW7c3/zap-generated/callback-stub.cpp
  zzz_generated/chef-rootnode_temperaturesensor_Qy1zkNW7c3/zap-generated/gen_config.h
  zzz_generated/chef-rootnode_thermostat_bm3fb8dhYi/zap-generated/callback-stub.cpp
  zzz_generated/chef-rootnode_thermostat_bm3fb8dhYi/zap-generated/gen_config.h
  zzz_generated/controller-clusters/zap-generated/callback-stub.cpp
  zzz_generated/controller-clusters/zap-generated/gen_config.h
  zzz_generated/dynamic-bridge-app/zap-generated/callback-stub.cpp
  zzz_generated/dynamic-bridge-app/zap-generated/gen_config.h
  zzz_generated/placeholder/app1/zap-generated/callback-stub.cpp
  zzz_generated/placeholder/app1/zap-generated/gen_config.h
  zzz_generated/placeholder/app2/zap-generated/callback-stub.cpp
  zzz_generated/placeholder/app2/zap-generated/gen_config.h
  zzz_generated/pump-app/zap-generated/callback-stub.cpp
  zzz_generated/pump-app/zap-generated/gen_config.h
  zzz_generated/pump-controller-app/zap-generated/callback-stub.cpp
  zzz_generated/pump-controller-app/zap-generated/gen_config.h
  zzz_generated/temperature-measurement-app/zap-generated/callback-stub.cpp
  zzz_generated/temperature-measurement-app/zap-generated/gen_config.h
Labels: examples, controller, app, review - approved

#23480 Replace `operator const char *` from StorageKeyName with an explicit call
  examples/platform/linux/testing/CustomCSRResponseOperationalKeyStore.cpp
  examples/providers/DeviceInfoProviderImpl.cpp
  src/app/DefaultAttributePersistenceProvider.cpp
  src/app/clusters/access-control-server/access-control-server.cpp
  src/app/clusters/ota-requestor/DefaultOTARequestorStorage.cpp
  src/app/server/DefaultAclStorage.cpp
  src/app/server/Server.h
  src/app/util/binding-table.cpp
  src/credentials/FabricTable.cpp
  src/credentials/GroupDataProviderImpl.cpp
  src/credentials/LastKnownGoodTime.cpp
  src/credentials/PersistentStorageOpCertStore.cpp
  src/credentials/tests/TestPersistentStorageOpCertStore.cpp
  src/crypto/PersistentStorageOperationalKeystore.cpp
  src/lib/support/DefaultStorageKeyAllocator.h
  src/lib/support/PersistedCounter.h
  src/platform/ESP32/ESP32DeviceInfoProvider.cpp
  src/platform/OpenThread/GenericNetworkCommissioningThreadDriver.cpp
  src/platform/nxp/mw320/DeviceInfoProviderImpl.cpp
  src/protocols/secure_channel/SimpleSessionResumptionStorage.cpp
  src/protocols/secure_channel/tests/TestDefaultSessionResumptionStorage.cpp
  src/transport/GroupPeerMessageCounter.cpp
  src/transport/tests/TestGroupMessageCounter.cpp
Labels: examples, transport, platform, esp32, lib, crypto, app, review - approved, support

#23465 [Telink] add BLE PostEvent and fast/slow adv (Cherry-pick #23116)
  src/platform/telink/BLEManagerImpl.cpp
  src/platform/telink/BLEManagerImpl.h
Labels: platform, telink, This is a 1.0 cherrypick

#23466 [Telink] use src/app/chip_data_model.cmake for data model inclusions (Cherry-pick #23255)
  examples/light-switch-app/telink/CMakeLists.txt
  examples/lighting-app/telink/CMakeLists.txt
  examples/ota-requestor-app/telink/CMakeLists.txt
Labels: examples, This is a 1.0 cherrypick

#23494 use docker image 0.6.03 and change BLE notification to indication
  .github/workflows/examples-ameba.yaml
  integrations/docker/images/chip-build-ameba/Dockerfile
  integrations/docker/images/chip-build/version
  src/platform/Ameba/BLEManagerImpl.cpp
Labels: integrations, platform, github, workflows, This is a 1.0 cherrypick

#23488 Add generic-callback-stubs.cpp to the Darwin framework for now.
  src/app/util/generic-callback-stubs.cpp
  src/app/zap-templates/templates/app/callback.zapt
  src/darwin/Framework/Matter.xcodeproj/project.pbxproj
  zzz_generated/app-common/app-common/zap-generated/callback.h
Labels: darwin, app, review - pending, fast track

#23068 [Infineon][1.0] Add args for CYW30739 to provision DAC/PAI/CD.
  examples/lighting-app/infineon/cyw30739/README.md
  examples/lighting-app/infineon/cyw30739/include/CHIPProjectConfig.h
  examples/lighting-app/infineon/cyw30739/src/main.cpp
  examples/lighting-app/infineon/cyw30739/static_config.txt
  examples/lock-app/infineon/cyw30739/README.md
  examples/lock-app/infineon/cyw30739/include/CHIPProjectConfig.h
  examples/lock-app/infineon/cyw30739/src/main.cpp
  examples/lock-app/infineon/cyw30739/static_config.txt
  examples/ota-requestor-app/infineon/cyw30739/README.md
  examples/ota-requestor-app/infineon/cyw30739/include/CHIPProjectConfig.h
  examples/ota-requestor-app/infineon/cyw30739/src/main.cpp
  examples/ota-requestor-app/infineon/cyw30739/static_config.txt
  scripts/requirements.infineon.txt
  scripts/requirements.txt
  src/platform/Infineon/CYW30739/BUILD.gn
  src/platform/Infineon/CYW30739/CYW30739Config.cpp
  src/platform/Infineon/CYW30739/CYW30739Config.h
  src/platform/Infineon/CYW30739/FactoryDataProvider.cpp
  src/platform/Infineon/CYW30739/FactoryDataProvider.h
  third_party/infineon/cyw30739_sdk/cyw30739_executable.gni
  third_party/infineon/cyw30739_sdk/cyw30739_sdk.gni
  third_party/infineon/cyw30739_sdk/gen_ota_image.py
  third_party/infineon/cyw30739_sdk/merge_hex.py
  third_party/infineon/cyw30739_sdk/scripts/gen_ss_cgs.py
Labels: examples, scripts, platform, review - pending, fast track

#23090 [Android] Replaced play-services-vision with mlkit:barcode-scanning
  examples/android/CHIPTool/.idea/jarRepositories.xml
  examples/android/CHIPTool/app/build.gradle
  examples/android/CHIPTool/app/src/main/AndroidManifest.xml
  examples/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/setuppayloadscanner/BarcodeFragment.kt
  examples/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/setuppayloadscanner/CHIPBarcodeProcessor.kt
  examples/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/setuppayloadscanner/CameraSourceView.java
  examples/android/CHIPTool/app/src/main/res/layout/barcode_fragment.xml
Labels: examples, review - pending, fast track

#23385 [platform] Move more product attributes to DeviceInstanceInfoProvider
  scripts/tools/nrfconnect/generate_nrfconnect_chip_factory_data.py
  scripts/tools/nrfconnect/nrfconnect_factory_data.schema
  scripts/tools/nrfconnect/tests/test_generate_factory_data.py
  src/app/clusters/basic/basic.cpp
  src/include/platform/ConfigurationManager.h
  src/include/platform/DeviceInstanceInfoProvider.h
  src/include/platform/internal/GenericConfigurationManagerImpl.h
  src/include/platform/internal/GenericConfigurationManagerImpl.ipp
  src/include/platform/internal/GenericDeviceInstanceInfoProvider.h
  src/include/platform/internal/GenericDeviceInstanceInfoProvider.ipp
  src/platform/Ameba/FactoryDataProvider.cpp
  src/platform/Ameba/FactoryDataProvider.h
  src/platform/ESP32/ConfigurationManagerImpl.cpp
  src/platform/ESP32/ConfigurationManagerImpl.h
  src/platform/ESP32/ESP32FactoryDataProvider.cpp
  src/platform/ESP32/ESP32FactoryDataProvider.h
  src/platform/android/ConfigurationManagerImpl.cpp
  src/platform/android/ConfigurationManagerImpl.h
  src/platform/android/DeviceInstanceInfoProviderImpl.cpp
  src/platform/android/DeviceInstanceInfoProviderImpl.h
  src/platform/fake/ConfigurationManagerImpl.h
  src/platform/nrfconnect/FactoryDataParser.c
  src/platform/nrfconnect/FactoryDataParser.h
  src/platform/nrfconnect/FactoryDataProvider.cpp
  src/platform/nrfconnect/FactoryDataProvider.h
  src/platform/nxp/k32w/k32w0/K32W0FactoryDataProvider.cpp
  src/platform/nxp/k32w/k32w0/K32W0FactoryDataProvider.h
  src/platform/nxp/mw320/FactoryDataProvider.cpp
  src/platform/nxp/mw320/FactoryDataProvider.h
  src/platform/qpg/FactoryDataProvider.cpp
  src/platform/qpg/FactoryDataProvider.h
Labels: scripts, platform, esp32, nrf connect, app, review - approved

#23320 [Linux] Run only one GLib main event loop
  src/controller/python/chip/ble/LinuxImpl.cpp
  src/platform/BUILD.gn
  src/platform/Linux/BLEManagerImpl.cpp
  src/platform/Linux/BUILD.gn
  src/platform/Linux/CHIPDevicePlatformConfig.h
  src/platform/Linux/PlatformManagerImpl.cpp
  src/platform/Linux/PlatformManagerImpl.h
  src/platform/Linux/bluez/ChipDeviceScanner.cpp
  src/platform/Linux/bluez/Helper.cpp
  src/platform/Linux/bluez/Helper.h
  src/platform/Linux/bluez/MainLoop.cpp
  src/platform/Linux/bluez/MainLoop.h
  src/platform/android/PlatformManagerImpl.h
  src/platform/webos/CHIPDevicePlatformConfig.h
  src/platform/webos/PlatformManagerImpl.cpp
  src/platform/webos/PlatformManagerImpl.h
Labels: platform, linux, controller, review - pending, fast track

#23369 [Python] Add clean shutdown to chip Server
  src/controller/python/chip/server/ServerInit.cpp
Labels: controller, review - pending, fast track

#23490 Add a common base for Darwin MTR*Path interfaces.
  src/darwin/Framework/CHIP/MTRBaseDevice.h
  src/darwin/Framework/CHIP/MTRBaseDevice.mm
  src/darwin/Framework/CHIP/MTRBaseDevice_Internal.h
Labels: darwin, review - approved

#23504 [linux] Fix the device failed to reconnect wifi after power cycle
  src/platform/Linux/ConnectivityManagerImpl.cpp
Labels: platform, linux, review - approved

#23366 [app] Implement deferred attribute persister
  examples/lighting-app/nrfconnect/main/AppTask.cpp
  src/app/AttributePersistenceProvider.h
  src/app/BUILD.gn
  src/app/DefaultAttributePersistenceProvider.cpp
  src/app/DefaultAttributePersistenceProvider.h
  src/app/DeferredAttributePersistenceProvider.cpp
  src/app/DeferredAttributePersistenceProvider.h
  src/app/server/Server.h
  src/app/util/attribute-storage.cpp
Labels: examples, app, review - approved

#23505 Address API review issues in MTRControllerFactory.
  examples/darwin-framework-tool/commands/common/CHIPCommandBridge.mm
  src/darwin/Framework/CHIP/MTRBaseDevice_Internal.h
  src/darwin/Framework/CHIP/MTRDeviceController.h
  src/darwin/Framework/CHIP/MTRDeviceController.mm
  src/darwin/Framework/CHIP/MTRDeviceControllerFactory.h
  src/darwin/Framework/CHIP/MTRDeviceControllerFactory.mm
  src/darwin/Framework/CHIP/MTRDeviceControllerFactory_Internal.h
  src/darwin/Framework/CHIP/MTRDeviceControllerStartupParams.h
  src/darwin/Framework/CHIP/MTRDeviceControllerStartupParams.mm
  src/darwin/Framework/CHIP/MTRDeviceControllerStartupParams_Internal.h
  src/darwin/Framework/CHIP/MTRDeviceController_Internal.h
  src/darwin/Framework/CHIP/MTROTAProviderDelegateBridge.mm
  src/darwin/Framework/CHIP/Matter.h
  src/darwin/Framework/CHIPTests/MTRControllerTests.m
  src/darwin/Framework/CHIPTests/MTRDeviceTests.m
  src/darwin/Framework/CHIPTests/MTRXPCListenerSampleTests.m
  src/darwin/Framework/Matter.xcodeproj/project.pbxproj
Labels: examples, darwin, review - pending, fast track

#23510 Changed the PAA download script to use RESTful API
  credentials/development/paa-root-certs/dcld_mirror_CN_AB_Test_PAA_vid_0x137B.pem
  credentials/development/paa-root-certs/dcld_mirror_CN_ACK_Test_PAA_vid_0x137A.pem
  credentials/development/paa-root-certs/dcld_mirror_CN_Beken_Development_PAA_01_vid_0x1342.pem
  credentials/development/paa-root-certs/dcld_mirror_CN_DigiCert_TEST_Root_CA_for_MATTER_PKI_O_DigiCert__Inc_C_US.der
  credentials/development/paa-root-certs/dcld_mirror_CN_DigiCert_TEST_Root_CA_for_MATTER_PKI_O_DigiCert__Inc_C_US.pem
  credentials/development/paa-root-certs/dcld_mirror_CN_ELiteu_Matter_Development_PAA_01_vid_0x131F.pem
  credentials/development/paa-root-certs/dcld_mirror_CN_Govee_Test_PAA__vid_0x1387.der
  credentials/development/paa-root-certs/dcld_mirror_CN_Govee_Test_PAA__vid_0x1387.pem
  credentials/development/paa-root-certs/dcld_mirror_CN_Govee_Test_PAA_vid_0x1387.pem
  credentials/development/paa-root-certs/dcld_mirror_CN_Haier-Matter-PAA-01_vid_0x1348.pem
  credentials/development/paa-root-certs/dcld_mirror_CN_Matter_Development_PAA.pem
  credentials/development/paa-root-certs/dcld_mirror_CN_Matter_PAA_1_O_Google_C_US_vid_0x6006.pem
  credentials/development/paa-root-certs/dcld_mirror_CN_Matter_Test_PAA_O_Samsung_vid_0x10E1.pem
  credentials/development/paa-root-certs/dcld_mirror_CN_Matter_Test_PAA_vid_0x125D.pem
  credentials/development/paa-root-certs/dcld_mirror_CN_Meross_Development_PAA_vid_0x1345.pem
  credentials/development/paa-root-certs/dcld_mirror_CN_Midea_PAA_vid_0x118C.pem
  credentials/development/paa-root-certs/dcld_mirror_CN_Non_Production_ONLY_-_XFN_PAA_Class_3.pem
  credentials/development/paa-root-certs/dcld_mirror_CN_OPPO_Test_PAA_vid_0x1341.pem
  credentials/development/paa-root-certs/dcld_mirror_CN_StrongKey_G1_Development_PAA_O_StrongKey.pem
  credentials/development/paa-root-certs/dcld_mirror_CN_TP-Link_Matter_Test_PAA_vid_0x1188.pem
  credentials/development/paa-root-certs/dcld_mirror_CN_deveritec_GmbH_Test_PAA_vid_0x1362.pem
  credentials/fetch-paa-certs-from-dcl.py
  credentials/production/paa-root-certs/dcld_mirror_CN_DigiCert_Root_CA_for_MATTER_PKI_G1_O_DigiCert__Inc_C_US.der
  credentials/production/paa-root-certs/dcld_mirror_CN_DigiCert_Root_CA_for_MATTER_PKI_G1_O_DigiCert__Inc_C_US.pem
  credentials/production/paa-root-certs/dcld_mirror_CN_Matter_Certification_and_Testing_CA_O_CSA_vid_0xC5A0.pem
  credentials/production/paa-root-certs/dcld_mirror_CN_StrongKey_Matter_G1_PAA_O_StrongKey.pem
  credentials/production/paa-root-certs/dcld_mirror_CN_TP-Link_Matter_PAA_vid_0x1188.der
  credentials/production/paa-root-certs/dcld_mirror_CN_TP-Link_Matter_PAA_vid_0x1188.pem
Labels: review - approved

#23212 Draft: Add configurable ep1 ACLs and bindings
  examples/tv-app/android/java/AppImpl.cpp
  examples/tv-app/android/java/AppImpl.h
  examples/tv-app/android/java/TVApp-JNI.cpp
  examples/tv-app/linux/AppImpl.cpp
  examples/tv-app/linux/AppImpl.h
  src/app/app-platform/ContentAppPlatform.cpp
  src/app/app-platform/ContentAppPlatform.h
Labels: examples, app, review - approved

#23539 [EFR32] Adds a fix for Window Covering QR code log print
  examples/window-app/efr32/src/WindowAppImpl.cpp
Labels: examples, review - approved

#23527 Rename some ipynb files to not have spaces in their name
  docs/guides/repl/Matter_Access_Control.ipynb
  docs/guides/repl/Matter_Basic_Interactions.ipynb
  docs/guides/repl/Matter_Multi_Fabric_Commissioning.ipynb
  docs/guides/repl/Matter_REPL_Intro.ipynb
Labels: documentation, fast track

#23519 Pre-build glib-2.0 libraries with TSAN enabled
  integrations/docker/images/chip-build/Dockerfile
  integrations/docker/images/chip-build/version
Labels: integrations, review - approved

#23502 [Telink] Add Telink factory data & Update every image to 0.6.06
  .devcontainer/devcontainer.json
  .github/workflows/bloat_check.yaml
  .github/workflows/build.yaml
  .github/workflows/chef.yaml
  .github/workflows/cirque.yaml
  .github/workflows/doxygen.yaml
  .github/workflows/examples-ameba.yaml
  .github/workflows/examples-cc13x2x7_26x2x7.yaml
  .github/workflows/examples-efr32.yaml
  .github/workflows/examples-esp32.yaml
  .github/workflows/examples-infineon.yaml
  .github/workflows/examples-k32w.yaml
  .github/workflows/examples-linux-arm.yaml
  .github/workflows/examples-linux-imx.yaml
  .github/workflows/examples-linux-standalone.yaml
  .github/workflows/examples-mbed.yaml
  .github/workflows/examples-mw320.yaml
  .github/workflows/examples-nrfconnect.yaml
  .github/workflows/examples-qpg.yaml
  .github/workflows/examples-telink.yaml
  .github/workflows/examples-tizen.yaml
  .github/workflows/full-android.yaml
  .github/workflows/fuzzing-build.yaml
  .github/workflows/lint.yml
  .github/workflows/qemu.yaml
  .github/workflows/release_artifacts.yaml
  .github/workflows/smoketest-android.yaml
  .github/workflows/tests.yaml
  .github/workflows/unit_integration_test.yaml
  .github/workflows/zap_regeneration.yaml
  .github/workflows/zap_templates.yaml
  config/telink/chip-module/CMakeLists.txt
  config/telink/chip-module/Kconfig
  config/telink/chip-module/generate_factory_data.cmake
  config/telink/chip-module/make_gn_args.py
  examples/light-switch-app/telink/boards/tlsr9518adk80d.overlay
  examples/light-switch-app/telink/include/AppTask.h
  examples/light-switch-app/telink/prj.conf
  examples/light-switch-app/telink/src/AppTask.cpp
  examples/lighting-app/telink/boards/tlsr9518adk80d.overlay
  examples/lighting-app/telink/include/AppTask.h
  examples/lighting-app/telink/prj.conf
  examples/lighting-app/telink/src/AppTask.cpp
  integrations/cloudbuild/build-all.yaml
  integrations/cloudbuild/chef.yaml
  integrations/cloudbuild/smoke-test.yaml
  scripts/tools/telink/generate_telink_chip_factory_data.py
  scripts/tools/telink/telink_factory_data.schema
  scripts/tools/telink/telink_generate_partition.py
  src/platform/telink/BUILD.gn
  src/platform/telink/CHIPDevicePlatformConfig.h
  src/platform/telink/FactoryDataParser.c
  src/platform/telink/FactoryDataParser.h
  src/platform/telink/FactoryDataProvider.cpp
  src/platform/telink/FactoryDataProvider.h
  src/platform/telink/args.gni
  src/platform/telink/telink-mbedtls-config.h
Labels: examples, scripts, integrations, platform, config, vscode, github, workflows, review - pending, telink, fast track

#23515 Android: Synchronizing on the use of NsdManager.resolveService()
  src/platform/android/java/chip/platform/NsdManagerServiceResolver.java
Labels: bug, platform, android, review - approved

#23544 Turn on CHIP_CONFIG_ERROR_FORMAT_AS_STRING on Android
  src/platform/android/CHIPPlatformConfig.h
Labels: platform, review - approved

#23478 [EFR32] Miscellaneous platform cleanup items
  examples/platform/efr32/LEDWidget.cpp
  examples/platform/efr32/OTAConfig.cpp
  examples/platform/efr32/matter_config.cpp
  src/platform/EFR32/OTAImageProcessorImpl.cpp
Labels: examples, platform, efr32, review - approved

#23526 [QPG] LED handling switched from polling to event-based
  examples/lighting-app/qpg/include/AppTask.h
  examples/lighting-app/qpg/src/AppTask.cpp
  src/platform/qpg/BLEManagerImpl.cpp
Labels: examples, platform, review - approved

#23545 Fix BLE commissioning deadlock caused by 0e41b19
  src/platform/Linux/PlatformManagerImpl.cpp
  src/platform/Linux/PlatformManagerImpl.h
Labels: platform, linux, review - approved

#23548 [Telink] Add Telink factory data & Update Telink image to 0.6.06 (Cherry-pick #23502)
  .github/workflows/examples-telink.yaml
  config/telink/chip-module/CMakeLists.txt
  config/telink/chip-module/Kconfig
  config/telink/chip-module/generate_factory_data.cmake
  config/telink/chip-module/make_gn_args.py
  examples/light-switch-app/telink/boards/tlsr9518adk80d.overlay
  examples/light-switch-app/telink/include/AppTask.h
  examples/light-switch-app/telink/prj.conf
  examples/light-switch-app/telink/src/AppTask.cpp
  examples/lighting-app/telink/boards/tlsr9518adk80d.overlay
  examples/lighting-app/telink/include/AppTask.h
  examples/lighting-app/telink/prj.conf
  examples/lighting-app/telink/src/AppTask.cpp
  scripts/tools/telink/generate_telink_chip_factory_data.py
  scripts/tools/telink/telink_factory_data.schema
  scripts/tools/telink/telink_generate_partition.py
  src/platform/telink/BUILD.gn
  src/platform/telink/CHIPDevicePlatformConfig.h
  src/platform/telink/FactoryDataParser.c
  src/platform/telink/FactoryDataParser.h
  src/platform/telink/FactoryDataProvider.cpp
  src/platform/telink/FactoryDataProvider.h
  src/platform/telink/args.gni
Labels: examples, scripts, platform, config, github, workflows, telink, This is a 1.0 cherrypick

#23467 Don't use EmberAfPluginDoorLockUserInfo if findUserIndexByCredential failed.
  src/app/clusters/door-lock-server/door-lock-server.cpp
  src/app/clusters/door-lock-server/door-lock-server.h
Labels: app, review - pending, fast track

#23543 Created /opt/sdk/sdks/ folder in dev container
  .devcontainer/Dockerfile
Labels: vscode, review - approved

#23522 [Android] Support Android 12
  examples/android/CHIPTool/app/build.gradle
  examples/android/CHIPTool/app/src/main/AndroidManifest.xml
  examples/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/SelectActionFragment.kt
  examples/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/provisioning/DeviceProvisioningFragment.kt
Labels: examples, review - pending, fast track

#23512 Address API review issues in MTRDeviceController.
  examples/darwin-framework-tool/commands/clusters/ModelCommandBridge.mm
  examples/darwin-framework-tool/commands/pairing/PairingCommandBridge.mm
  examples/darwin-framework-tool/commands/pairing/PairingDelegateBridge.mm
  examples/darwin-framework-tool/commands/tests/TestCommandBridge.h
  src/darwin/Framework/CHIP/MTRBaseDevice.h
  src/darwin/Framework/CHIP/MTRBaseDevice.mm
  src/darwin/Framework/CHIP/MTRDeviceController.h
  src/darwin/Framework/CHIP/MTRDeviceController.mm
  src/darwin/Framework/CHIP/MTRDeviceControllerOverXPC.m
  src/darwin/Framework/CHIP/MTRDeviceControllerOverXPC_Internal.h
  src/darwin/Framework/CHIP/MTRDeviceController_Internal.h
  src/darwin/Framework/CHIP/MTRDeviceOverXPC.h
  src/darwin/Framework/CHIP/MTRDeviceOverXPC.m
  src/darwin/Framework/CHIP/MTRSetupPayload.h
  src/darwin/Framework/CHIP/MTRSetupPayload.mm
  src/darwin/Framework/CHIPTests/MTRControllerTests.m
  src/darwin/Framework/CHIPTests/MTRDeviceTests.m
  src/darwin/Framework/CHIPTests/MTRXPCListenerSampleTests.m
  src/darwin/Framework/CHIPTests/MTRXPCProtocolTests.m
Labels: examples, darwin, review - pending, fast track

#23562 Use java_binary instead of android_binary to build java-matter-contro…
  build/chip/java/rules.gni
  examples/java-matter-controller/BUILD.gn
Labels: review - approved

#23568 [ESP32] Update ESP-IDF in CHIP to v4.4.3 release
  docs/guides/esp32/setup_idf_chip.md
  integrations/docker/images/chip-build-esp32/Dockerfile
  integrations/docker/images/chip-build/version
Labels: documentation, integrations, review - pending, fast track

#23558 Bump wretry.action action to version 1.0.36
  .github/workflows/bloat_check.yaml
  .github/workflows/build.yaml
  .github/workflows/chef.yaml
  .github/workflows/cirque.yaml
  .github/workflows/darwin-tests.yaml
  .github/workflows/darwin.yaml
  .github/workflows/docker_img.yaml
  .github/workflows/doxygen.yaml
  .github/workflows/examples-ameba.yaml
  .github/workflows/examples-bouffalolab.yaml
  .github/workflows/examples-cc13x2x7_26x2x7.yaml
  .github/workflows/examples-efr32.yaml
  .github/workflows/examples-esp32.yaml
  .github/workflows/examples-infineon.yaml
  .github/workflows/examples-k32w.yaml
  .github/workflows/examples-linux-arm.yaml
  .github/workflows/examples-linux-imx.yaml
  .github/workflows/examples-linux-standalone.yaml
  .github/workflows/examples-mbed.yaml
  .github/workflows/examples-mw320.yaml
  .github/workflows/examples-nrfconnect.yaml
  .github/workflows/examples-qpg.yaml
  .github/workflows/examples-telink.yaml
  .github/workflows/examples-tizen.yaml
  .github/workflows/fixit_rotation.yaml
  .github/workflows/full-android.yaml
  .github/workflows/fuzzing-build.yaml
  .github/workflows/lint.yml
  .github/workflows/qemu.yaml
  .github/workflows/release_artifacts.yaml
  .github/workflows/smoketest-android.yaml
  .github/workflows/spell.yml
  .github/workflows/tests.yaml
  .github/workflows/todos.yaml
  .github/workflows/unit_integration_test.yaml
  .github/workflows/zap_regeneration.yaml
  .github/workflows/zap_templates.yaml
  examples/chef/README.md
Labels: examples, github, workflows, review - pending, fast track

#23485 [Ameba] Fix Trailing Null
  src/platform/Ameba/AmebaConfig.cpp
Labels: platform, This is a 1.0 cherrypick

#23559 [Telink] fix factory data as pr #23385
  config/telink/chip-module/generate_factory_data.cmake
  scripts/tools/telink/generate_telink_chip_factory_data.py
  scripts/tools/telink/telink_factory_data.schema
  src/platform/telink/CHIPDevicePlatformConfig.h
  src/platform/telink/FactoryDataParser.c
  src/platform/telink/FactoryDataParser.h
  src/platform/telink/FactoryDataProvider.cpp
  src/platform/telink/FactoryDataProvider.h
Labels: scripts, platform, config, review - approved, telink

#23549 tv-casting-app: Synchronizing on the use of NsdManager.resolveService()
  examples/tv-casting-app/android/App/app/src/main/java/com/chip/casting/app/CommissionerDiscoveryFragment.java
  examples/tv-casting-app/android/App/app/src/main/java/com/chip/casting/app/MainActivity.java
  examples/tv-casting-app/android/App/app/src/main/java/com/chip/casting/util/GlobalCastingConstants.java
  examples/tv-casting-app/android/App/app/src/main/jni/com/chip/casting/AppParameters.java
  examples/tv-casting-app/android/App/app/src/main/jni/com/chip/casting/NsdDiscoveryListener.java
  examples/tv-casting-app/android/App/app/src/main/jni/com/chip/casting/NsdResolveListener.java
  examples/tv-casting-app/android/App/app/src/main/jni/com/chip/casting/TvCastingApp.java
  examples/tv-casting-app/android/App/app/src/main/jni/cpp/MatterCallbackHandler-JNI.h
  examples/tv-casting-app/android/App/app/src/main/jni/cpp/TvCastingApp-JNI.cpp
  examples/tv-casting-app/android/BUILD.gn
  examples/tv-casting-app/darwin/MatterTvCastingBridge/MatterTvCastingBridge/CastingServerBridge.h
  examples/tv-casting-app/darwin/MatterTvCastingBridge/MatterTvCastingBridge/CastingServerBridge.mm
Labels: bug, examples, review - approved, tv-casting

#23571 Stop passing passcode by mutable reference to Spake2pVerifier::Generate.
  src/crypto/CHIPCryptoPAL.cpp
  src/crypto/CHIPCryptoPAL.h
  src/darwin/Framework/CHIP/MTRDeviceController.mm
Labels: darwin, crypto, review - approved

#23574 Fix use of string-typed config values in YAML expected value checks.
  examples/chip-tool/templates/tests/partials/value_equals.zapt
  examples/darwin-framework-tool/templates/tests/partials/check_test_value.zapt
  examples/darwin-framework-tool/templates/tests/partials/test_value.zapt
Labels: tools, examples, darwin, review - approved

#23584 [cloudbuild] Fix TestInetEndPoint failure in GCP cloudbuild
  src/inet/tests/TestInetEndPoint.cpp
Labels: inet, review - approved

#23578 [cloudbuild] Add build config file for code coverage
  integrations/cloudbuild/build-coverage.yaml
  scripts/build_coverage.sh
Labels: review - pending, fast track

#23533 Start of python YAML test parsers and executer
  src/controller/python/BUILD.gn
  src/controller/python/chip/clusters/Objects.py
  src/controller/python/chip/yaml/__init__.py
  src/controller/python/chip/yaml/data_model_lookup.py
  src/controller/python/chip/yaml/errors.py
  src/controller/python/chip/yaml/format_converter.py
  src/controller/python/chip/yaml/parser.py
  src/controller/python/templates/python-cluster-Objects-py.zapt
Labels: controller, review - pending, fast track

#23564 remove unused python-dbus
  scripts/constraints.txt
  scripts/requirements.txt
  src/controller/python/BUILD.gn
  src/pybindings/pycontroller/build-chip-wheel.py
Labels: scripts, controller, fast track

#23570 [nrfconnect] Moved FlashHandler implementation to separate file
  examples/all-clusters-app/nrfconnect/CMakeLists.txt
  examples/all-clusters-minimal-app/nrfconnect/CMakeLists.txt
  examples/light-switch-app/nrfconnect/CMakeLists.txt
  examples/lighting-app/nrfconnect/CMakeLists.txt
  examples/lock-app/nrfconnect/CMakeLists.txt
  examples/platform/nrfconnect/util/DFUOverSMP.cpp
  examples/platform/nrfconnect/util/OTAUtil.cpp
  examples/platform/nrfconnect/util/include/OTAUtil.h
  examples/pump-app/nrfconnect/CMakeLists.txt
  examples/pump-controller-app/nrfconnect/CMakeLists.txt
  examples/window-app/nrfconnect/CMakeLists.txt
  src/platform/nrfconnect/BUILD.gn
  src/platform/nrfconnect/ExternalFlashManager.h
  src/platform/nrfconnect/OTAImageProcessorImpl.cpp
  src/platform/nrfconnect/OTAImageProcessorImpl.h
Labels: examples, platform, nrf connect, review - approved

#23595 [QPG] Move AppTask::Init function to reduce stack usage
  examples/lighting-app/qpg/include/AppTask.h
  examples/lighting-app/qpg/src/AppTask.cpp
  examples/lock-app/qpg/include/AppTask.h
  examples/lock-app/qpg/src/AppTask.cpp
  examples/platform/qpg/app/main.cpp
  examples/shell/qpg/include/AppTask.h
  examples/shell/qpg/src/AppTask.cpp
Labels: examples, platform, review - approved

#23628 Add a Darwin utility to convert Matter TLV certificates to DER.
  src/darwin/Framework/CHIP/MTRCertificates.h
  src/darwin/Framework/CHIP/MTRCertificates.mm
  src/darwin/Framework/CHIPTests/MTRCertificateTests.m
Labels: darwin, review - approved

#23409 Feature/common storage class
  src/credentials/GroupDataProvider.h
  src/credentials/GroupDataProviderImpl.cpp
  src/lib/support/CommonIterator.h
  src/lib/support/CommonPersistentData.h
  src/lib/support/DefaultStorageKeyAllocator.h
  src/lib/support/PersistentData.h
Labels: lib, review - approved, support

#23641 [Silabs] Fix KVS corner case
  examples/platform/efr32/matter_config.cpp
  src/platform/EFR32/KeyValueStoreManagerImpl.cpp
Labels: examples, platform, efr32, review - approved

#23604 Fix Logging When Trying to Log Nullptr To Strings
  src/app/tests/suites/credentials/TestHarnessDACProvider.cpp
  src/app/tests/suites/include/ConstraintsChecker.h
  src/app/tests/suites/include/PICSChecker.h
  src/app/tests/suites/include/TestRunner.h
  src/controller/java/AndroidDeviceControllerWrapper.cpp
  src/controller/python/ChipDeviceController-StorageDelegate.cpp
  src/credentials/LastKnownGoodTime.cpp
  src/crypto/CHIPCryptoPALOpenSSL.cpp
  src/lib/dnssd/Advertiser_ImplMinimalMdns.cpp
  src/lib/dnssd/Discovery_ImplPlatform.cpp
  src/lib/support/JniReferences.cpp
  src/lib/support/TestPersistentStorageDelegate.h
  src/platform/Ameba/AmebaConfig.cpp
  src/platform/Beken/BekenConfig.cpp
  src/platform/Beken/NetworkCommissioningWiFiDriver.cpp
  src/platform/Darwin/DnssdImpl.cpp
  src/platform/ESP32/ESP32Config.cpp
  src/platform/ESP32/KeyValueStoreManagerImpl.cpp
  src/platform/Linux/CHIPLinuxStorage.cpp
  src/platform/Linux/ConnectivityManagerImpl.cpp
  src/platform/Linux/DiagnosticDataProviderImpl.cpp
  src/platform/Linux/DnssdImpl.cpp
  src/platform/Linux/NetworkCommissioningWiFiDriver.cpp
  src/platform/Linux/PosixConfig.cpp
  src/platform/Linux/ThreadStackManagerImpl.cpp
  src/platform/Linux/bluez/AdapterIterator.cpp
  src/platform/Linux/bluez/ChipDeviceScanner.cpp
  src/platform/Linux/bluez/Helper.cpp
  src/platform/LockTracker.cpp
  src/platform/OpenThread/DnssdImpl.cpp
  src/platform/OpenThread/OpenThreadUtils.cpp
  src/platform/Tizen/AppPreference.cpp
  src/platform/Tizen/BLEManagerImpl.cpp
  src/platform/Tizen/DnssdImpl.cpp
  src/platform/Zephyr/KeyValueStoreManagerImpl.cpp
  src/platform/bouffalolab/BL602/BL602Config.cpp
  src/platform/bouffalolab/BL602/BLEManagerImpl.cpp
  src/platform/mt793x/DnssdImpl.cpp
  src/platform/telink/BLEManagerImpl.cpp
  src/platform/webos/CHIPWebOSStorage.cpp
  src/platform/webos/ConnectivityManagerImpl.cpp
  src/platform/webos/DiagnosticDataProviderImpl.cpp
  src/platform/webos/DnssdImpl.cpp
  src/platform/webos/PosixConfig.cpp
  src/platform/webos/ThreadStackManagerImpl.cpp
  src/protocols/user_directed_commissioning/UserDirectedCommissioningServer.cpp
  src/qrcodetool/qrcodetool.cpp
  src/system/tests/TestSystemPacketBuffer.cpp
Labels: system, qr code, platform, darwin, esp32, linux, zephyr, lib, crypto, controller, app, review - approved, telink, tests, support

#23634 [Tizen] Check app options by iterate over given set
  examples/platform/tizen/OptionsProxy.cpp
Labels: examples, platform, review - approved

#23645 [Silabs] bugfix/missing_mbedtls_define_crypto_pal
  src/platform/EFR32/CHIPCryptoPALPsaEfr32.cpp
Labels: platform, efr32, review - approved

#23637 Remove using-directives namespaces in Tizen platform [ Tizen ]
  src/platform/Tizen/BLEManagerImpl.cpp
  src/platform/Tizen/BLEManagerImpl.h
  src/platform/Tizen/ConfigurationManagerImpl.cpp
  src/platform/Tizen/ConfigurationManagerImpl.h
  src/platform/Tizen/ConnectivityManagerImpl.cpp
  src/platform/Tizen/ConnectivityManagerImpl.h
  src/platform/Tizen/ConnectivityUtils.cpp
  src/platform/Tizen/DnssdImpl.cpp
  src/platform/Tizen/DnssdImpl.h
  src/platform/Tizen/NetworkCommissioningEthernetDriver.cpp
  src/platform/Tizen/NetworkCommissioningThreadDriver.cpp
  src/platform/Tizen/NetworkCommissioningWiFiDriver.cpp
  src/platform/Tizen/ThreadStackManagerImpl.cpp
  src/platform/Tizen/WiFiManager.h
Labels: platform, review - approved

#23643 Install zap v2022.11.16 in Docker images.
  .github/workflows/docker_img.yaml
  integrations/docker/images/chip-build-vscode/Dockerfile
  integrations/docker/images/chip-build-zap/Dockerfile
  integrations/docker/images/chip-build-zap/README.md
  integrations/docker/images/chip-build-zap/build.sh
  integrations/docker/images/chip-build-zap/run.sh
  integrations/docker/images/chip-build-zap/version
  integrations/docker/images/chip-build/Dockerfile
  integrations/docker/images/chip-build/version
Labels: integrations, github, workflows, review - approved

#23662 Hotfix: correct zap cli symlink for chip build dockerfile
  integrations/docker/images/chip-build/Dockerfile
  integrations/docker/images/chip-build/version
Labels: hotfix

#23647 Remove all mention of "pairing" from non-deprecated Darwin public APIs.
  examples/darwin-framework-tool/commands/pairing/DeviceControllerDelegateBridge.h
  examples/darwin-framework-tool/commands/pairing/DeviceControllerDelegateBridge.mm
  examples/darwin-framework-tool/commands/tests/TestCommandBridge.h
  src/darwin/Framework/CHIP/MTRDeviceController.h
  src/darwin/Framework/CHIP/MTRDeviceController.mm
  src/darwin/Framework/CHIP/MTRDeviceControllerDelegate.h
  src/darwin/Framework/CHIP/MTRDeviceControllerDelegateBridge.mm
  src/darwin/Framework/CHIP/MTRSetupPayload.h
  src/darwin/Framework/CHIPTests/MTRDeviceTests.m
  src/darwin/Framework/CHIPTests/MTRXPCListenerSampleTests.m
Labels: examples, darwin, review - approved

#23666 Stop using :latest tag for docker images in bouffalolab
  .github/workflows/examples-bouffalolab.yaml
Labels: hotfix

#23602 [linux]: Use LocationCapability if GetRegulatoryLocation fail
  src/platform/Linux/ConfigurationManagerImpl.cpp
Labels: platform, linux, review - pending, fast track

#23431 improve get last report data path api in cluster state cache
  src/app/ClusterStateCache.cpp
  src/app/ClusterStateCache.h
Labels: app, review - approved

#23667 Add back node js installation in chip-build image
  integrations/docker/images/chip-build/Dockerfile
  integrations/docker/images/chip-build/version
Labels: integrations, review - pending, fast track

#23492 Fix thread commissioning fail where there are many Thread Border Routers
  src/app/clusters/network-commissioning/network-commissioning.cpp
  src/lib/support/SortUtils.h
Labels: lib, app, review - approved, support

#23642 Update BdxOtaSender to only cease polling upon successful transfer of the bulk data
  examples/ota-provider-app/esp32/main/BdxOtaSender.cpp
  examples/ota-provider-app/ota-provider-common/BdxOtaSender.cpp
  scripts/tests/ota_test.sh
  src/protocols/bdx/TransferFacilitator.cpp
Labels: examples, scripts, review - approved

#23663 [Darwin tests] Fix testAnySharedRemoteController and testReadClusterStateCacheFailure
  src/darwin/Framework/CHIP/MTRDeviceControllerOverXPC.m
  src/darwin/Framework/CHIP/MTRDeviceControllerOverXPC_Internal.h
  src/darwin/Framework/CHIP/MTRDeviceOverXPC.m
  src/darwin/Framework/CHIPTests/MTRXPCProtocolTests.m
Labels: darwin, review - pending, fast track

#23531 bugfix/ble_defines_mem_monitoring
  examples/lighting-app/efr32/BUILD.gn
  examples/platform/efr32/FreeRTOSConfig.h
  examples/platform/efr32/MemMonitoring.cpp
  src/platform/EFR32/CHIPDevicePlatformConfig.h
Labels: examples, platform, efr32, review - approved

#23665 [Darwin] Fix Matter framework delegates to pass the delegating object as the first arg to their methods
  examples/darwin-framework-tool/commands/pairing/DeviceControllerDelegateBridge.h
  examples/darwin-framework-tool/commands/pairing/DeviceControllerDelegateBridge.mm
  examples/darwin-framework-tool/commands/tests/TestCommandBridge.h
  src/darwin/Framework/CHIP/MTRDeviceAttestationDelegate.h
  src/darwin/Framework/CHIP/MTRDeviceAttestationDelegateBridge.mm
  src/darwin/Framework/CHIP/MTRDeviceController.mm
  src/darwin/Framework/CHIP/MTRDeviceControllerDelegate.h
  src/darwin/Framework/CHIP/MTRDeviceControllerDelegateBridge.h
  src/darwin/Framework/CHIP/MTRDeviceControllerDelegateBridge.mm
  src/darwin/Framework/CHIPTests/MTRDeviceTests.m
  src/darwin/Framework/CHIPTests/MTRXPCListenerSampleTests.m
Labels: examples, darwin, review - approved

#23661 [minimal mDNS] Fix sending mDNS goodbye packets
  src/lib/dnssd/Advertiser_ImplMinimalMdns.cpp
Labels: lib, review - approved, mdns

#23598 Fix intermittent BLE connection failures
  src/ble/BLEEndPoint.cpp
  src/ble/BleConfig.h
  src/transport/SecureSession.h
  src/transport/UnauthenticatedSessionTable.h
Labels: transport, ble, review - approved

#23622 RPC: SetPairingState open CommissioningWindow
  examples/common/pigweed/rpc_services/Device.h
Labels: examples, review - approved

#23594 [EFR32] 70A board bring up configuration changes
  examples/platform/efr32/rs911x/hal/rsi_board_configuration.h
  examples/platform/efr32/wf200/sl_wfx_board.h
Labels: examples, platform, review - approved

#23644 Fix CASEServer cleanup to not nuke unrelated CASE handshakes.
  src/protocols/secure_channel/CASEServer.cpp
  src/protocols/secure_channel/CASESession.cpp
  src/protocols/secure_channel/PASESession.cpp
  src/protocols/secure_channel/PairingSession.cpp
  src/protocols/secure_channel/PairingSession.h
  src/protocols/secure_channel/tests/TestPASESession.cpp
Labels: review - approved

#23674 Use build flag instead of checking env variable directly
  build/config/compiler/BUILD.gn
Labels: gn, review - approved

#23686 Increase timeouts on builds for some example apps.
  .github/workflows/darwin.yaml
Labels: review - pending, fast track

#23673 [Infineon] Fix Warnings
  examples/lock-app/infineon/cyw30739/src/ButtonHandler.cpp
  examples/lock-app/infineon/cyw30739/src/main.cpp
Labels: examples, review - approved

#23567 [Android] Fix location permission check below Android 12
  examples/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/SelectActionFragment.kt
Labels: examples, review - approved

#23579 Update the RegulatoryLocation and LocationCapability get and set logic
  config/esp32/components/chip/Kconfig
  src/include/platform/internal/GenericConfigurationManagerImpl.ipp
  src/platform/ESP32/ConfigurationManagerImpl.cpp
  src/platform/ESP32/ConfigurationManagerImpl.h
  src/platform/ESP32/ESP32Config.cpp
  src/platform/ESP32/ESP32Config.h
Labels: platform, esp32, config, review - pending, fast track

#23606 spake2p: generate verifier sets with specified PIN codes in a file
  src/tools/spake2p/Cmd_GenVerifier.cpp
  src/tools/spake2p/README.md
Labels: tools, review - approved

#23660 Nordic factory data did not validate rd_uid field properly
  scripts/tools/nrfconnect/nrfconnect_factory_data.schema
Labels: scripts, review - approved

#23638 Do not start the PASE Session establishement before device scan succeeds
  src/controller/CHIPDeviceController.cpp
  src/controller/CHIPDeviceController.h
Labels: controller, review - approved

#23688 Package the java-matter-controller as an executable format
  examples/java-matter-controller/Manifest.txt
  examples/java-matter-controller/README.md
  examples/java-matter-controller/java/src/com/matter/controller/Main.java
  scripts/build/builders/host.py
Labels: examples, scripts, review - pending, fast track

#23657 Add min event filter to chip-repl ReadEvent
  src/controller/python/chip/ChipDeviceCtrl.py
  src/controller/python/chip/clusters/Attribute.py
  src/controller/python/chip/clusters/attribute.cpp
  src/controller/python/test/test_scripts/cluster_objects.py
Labels: controller, review - approved

#23689 relocate/rename PersistentStorage to ExamplePersistentStorage
  examples/chip-tool/BUILD.gn
  examples/chip-tool/commands/clusters/ModelCommand.h
  examples/chip-tool/commands/common/CHIPCommand.h
  examples/chip-tool/commands/common/Commands.h
  examples/chip-tool/commands/discover/DiscoverCommand.h
  examples/chip-tool/commands/pairing/CommissionedListCommand.h
  examples/chip-tool/commands/storage/StorageManagementCommand.cpp
  examples/tv-casting-app/tv-casting-common/BUILD.gn
  scripts/tools/check_includes_config.py
  src/controller/ExamplePersistentStorage.cpp
  src/controller/ExamplePersistentStorage.h
  src/controller/java/BUILD.gn
Labels: tools, examples, scripts, controller, review - approved

#23702 Set pw_command_launcher from build_example.py CLI
  scripts/build/build/__init__.py
  scripts/build/build/target.py
  scripts/build/build/test_target.py
  scripts/build/build_examples.py
  scripts/build/builders/builder.py
  scripts/build/builders/gn.py
Labels: scripts, review - approved

#23697 [chip-tool] Add an optional argument for pase-only session establishm…
  examples/chip-tool/commands/pairing/PairingCommand.cpp
  examples/chip-tool/commands/pairing/PairingCommand.h
Labels: tools, examples, review - approved

#23719 Increase EFR32 timeouts
  .github/workflows/examples-efr32.yaml
Labels: hotfix, github, workflows

#23710 [Silabs] Add timestamp to the logs
  src/platform/EFR32/Logging.cpp
Labels: platform, efr32, review - approved

#23540 [EFR32] RSI_send_error_fix
  examples/platform/efr32/rs911x/hal/efx_spi.c
  examples/platform/efr32/rs911x/hal/rsi_hal.h
Labels: examples, platform, review - approved

#23707 fix code gen for Bitmap types
  scripts/idl/generators/bridge/__init__.py
  scripts/idl/tests/inputs/several_clusters.matter
  scripts/idl/tests/outputs/several_clusters/bridge/ThirdServer.h
  scripts/idl/tests/outputs/several_clusters/jni/ThirdClient-InvokeSubscribeImpl.cpp
  scripts/idl/tests/outputs/several_clusters/jni/ThirdClient-ReadImpl.cpp
Labels: scripts, review - pending

#23712 Setup ChipDeviceController for all Matter commands
  examples/java-matter-controller/java/src/com/matter/controller/Main.java
  examples/java-matter-controller/java/src/com/matter/controller/commands/common/MatterCommand.java
  examples/java-matter-controller/java/src/com/matter/controller/commands/discover/DiscoverCommand.java
  examples/java-matter-controller/java/src/com/matter/controller/commands/discover/DiscoverCommissionablesCommand.java
  examples/java-matter-controller/java/src/com/matter/controller/commands/discover/DiscoverCommissionersCommand.java
  examples/java-matter-controller/java/src/com/matter/controller/commands/pairing/CloseSessionCommand.java
  examples/java-matter-controller/java/src/com/matter/controller/commands/pairing/PairCodeCommand.java
  examples/java-matter-controller/java/src/com/matter/controller/commands/pairing/PairCodePaseCommand.java
  examples/java-matter-controller/java/src/com/matter/controller/commands/pairing/PairCodeThreadCommand.java
  examples/java-matter-controller/java/src/com/matter/controller/commands/pairing/PairCodeWifiCommand.java
  examples/java-matter-controller/java/src/com/matter/controller/commands/pairing/PairEthernetCommand.java
  examples/java-matter-controller/java/src/com/matter/controller/commands/pairing/PairOnNetworkCommand.java
  examples/java-matter-controller/java/src/com/matter/controller/commands/pairing/PairOnNetworkCommissionerCommand.java
  examples/java-matter-controller/java/src/com/matter/controller/commands/pairing/PairOnNetworkCommissioningModeCommand.java
  examples/java-matter-controller/java/src/com/matter/controller/commands/pairing/PairOnNetworkDeviceTypeCommand.java
  examples/java-matter-controller/java/src/com/matter/controller/commands/pairing/PairOnNetworkFabricCommand.java
  examples/java-matter-controller/java/src/com/matter/controller/commands/pairing/PairOnNetworkInstanceNameCommand.java
  examples/java-matter-controller/java/src/com/matter/controller/commands/pairing/PairOnNetworkLongCommand.java
  examples/java-matter-controller/java/src/com/matter/controller/commands/pairing/PairOnNetworkShortCommand.java
  examples/java-matter-controller/java/src/com/matter/controller/commands/pairing/PairOnNetworkVendorCommand.java
  examples/java-matter-controller/java/src/com/matter/controller/commands/pairing/PairingCommand.java
  examples/java-matter-controller/java/src/com/matter/controller/commands/pairing/UnpairCommand.java
Labels: examples, review - approved

#23209 Add network retry and case failsafe timer to AutoCommissioner
  src/controller/AutoCommissioner.cpp
  src/controller/AutoCommissioner.h
  src/controller/CHIPDeviceController.cpp
  src/controller/CHIPDeviceController.h
  src/controller/CommissioningDelegate.h
  src/controller/java/CHIPDeviceController-JNI.cpp
  src/controller/java/src/chip/devicecontroller/ControllerParams.java
Labels: controller, review - approved

#23609 [EFR32] WF200 Wifi diagnostics and overrun counter changes
  examples/platform/efr32/wf200/host_if.cpp
  src/platform/EFR32/wifi/ethernetif.cpp
  src/platform/EFR32/wifi/wfx_host_events.h
Labels: examples, platform, efr32, review - approved

#23724 Add a warning that chip-device-ctrl is unmaintained.
  docs/guides/python_chip_controller_building.md
Labels: documentation, review - pending, fast track

#23723 Minor unit test cleanups
  src/lib/support/tests/TestBytesToHex.cpp
  src/transport/raw/tests/NetworkTestHelpers.h
Labels: transport, lib, review - pending, fast track, support

#23713 [v1.0 cherrypick]Update the RegulatoryLocation and LocationCapability get and set logic
  config/esp32/components/chip/Kconfig
  src/include/platform/internal/GenericConfigurationManagerImpl.ipp
  src/platform/ESP32/ConfigurationManagerImpl.cpp
  src/platform/ESP32/ConfigurationManagerImpl.h
  src/platform/ESP32/ESP32Config.cpp
  src/platform/ESP32/ESP32Config.h
Labels: platform, esp32, config, This is a 1.0 cherrypick

#23703 [python] fix platform specific wheel to be spec compliant
  src/controller/python/build-chip-wheel.py
Labels: controller, review - approved

#23704 [python] allow to customize wheel package name and version
  src/controller/python/BUILD.gn
Labels: controller, review - approved

#23681 [QPG] Reduce ram usage
  examples/lighting-app/qpg/include/LightingManager.h
  examples/platform/qpg/ota/ota.cpp
  src/platform/qpg/SystemPlatformConfig.h
Labels: examples, platform, review - pending, fast track

#23728 [ESP32] Rename CHIP to Matter in documentation
  docs/guides/esp32/build_app_and_commission.md
  docs/guides/esp32/setup_idf_chip.md
Labels: documentation, review - pending, fast track

#23714 add java pairing test
  examples/java-matter-controller/java/src/com/matter/controller/Main.java
  examples/java-matter-controller/java/src/com/matter/controller/commands/common/Argument.java
  examples/java-matter-controller/java/src/com/matter/controller/commands/common/CommandManager.java
  examples/java-matter-controller/java/src/com/matter/controller/commands/common/IPAddress.java
  examples/java-matter-controller/java/src/com/matter/controller/commands/common/MatterCommand.java
  examples/java-matter-controller/java/src/com/matter/controller/commands/pairing/PairOnNetworkLongCommand.java
  examples/java-matter-controller/java/src/com/matter/controller/commands/pairing/PairingCommand.java
  src/controller/java/AndroidDeviceControllerWrapper.cpp
  src/controller/java/AndroidDeviceControllerWrapper.h
  src/controller/java/CHIPDeviceController-JNI.cpp
Labels: examples, controller, review - pending, fast track

#23692 examples/tv-casting-app: Allow setting DACCredentials on iOS and add retry mechanism for commissioner discovery
  examples/tv-casting-app/android/App/app/src/main/java/com/chip/casting/app/CommissionerDiscoveryFragment.java
  examples/tv-casting-app/android/App/app/src/main/jni/com/chip/casting/NsdDiscoveryListener.java
  examples/tv-casting-app/android/App/app/src/main/jni/com/chip/casting/NsdResolveListener.java
  examples/tv-casting-app/android/App/app/src/main/res/layout/fragment_commissioner_discovery.xml
  examples/tv-casting-app/darwin/MatterTvCastingBridge/MatterTvCastingBridge.xcodeproj/project.pbxproj
  examples/tv-casting-app/darwin/MatterTvCastingBridge/MatterTvCastingBridge/AppParameters.h
  examples/tv-casting-app/darwin/MatterTvCastingBridge/MatterTvCastingBridge/CastingServerBridge.mm
  examples/tv-casting-app/darwin/MatterTvCastingBridge/MatterTvCastingBridge/DeviceAttestationCredentialsHolder.h
  examples/tv-casting-app/darwin/MatterTvCastingBridge/MatterTvCastingBridge/DeviceAttestationCredentialsHolder.m
  examples/tv-casting-app/darwin/MatterTvCastingBridge/MatterTvCastingBridge/DeviceAttestationCredentialsProviderImpl.hpp
  examples/tv-casting-app/darwin/MatterTvCastingBridge/MatterTvCastingBridge/DeviceAttestationCredentialsProviderImpl.mm
Labels: examples, review - approved, tv-casting

#23005 [Ameba] Shell commands update
  config/ameba/chip.cmake
  examples/all-clusters-app/ameba/README.md
  examples/all-clusters-app/ameba/chip_main.cmake
  examples/all-clusters-app/ameba/main/BindingHandler.cpp
  examples/all-clusters-app/ameba/main/include/BindingHandler.h
  examples/all-clusters-app/ameba/main/include/ColorControlCommands.h
  examples/all-clusters-app/ameba/main/include/IdentifyCommand.h
  examples/all-clusters-app/ameba/main/include/LevelControlCommands.h
  examples/all-clusters-app/ameba/main/include/OnOffCommands.h
  examples/all-clusters-app/ameba/main/include/ThermostatCommands.h
Labels: examples, config, review - approved

#23722 fix paths for dynamic-bridge-app still pointing to bridge-app
  examples/dynamic-bridge-app/linux/BUILD.gn
  examples/dynamic-bridge-app/linux/README.md
Labels: examples, fast track

#23735 [EFR32] Lock app lock-unlock command updated in README.md
  examples/lock-app/efr32/README.md
Labels: examples, review - pending, fast track

#23676 [Telink] Allow to erase entire NVS on factory reset by default; Fix IDM-7.1 test.
  config/telink/chip-module/Kconfig
Labels: config, review - approved

#23737 [nrfconnect] Fixed factory data generation bug
  docs/guides/nrfconnect_factory_data_configuration.md
  scripts/tools/nrfconnect/generate_nrfconnect_chip_factory_data.py
Labels: documentation, scripts, review - approved

#23733 [CI] Enable Java Tests on Linux platform
  .github/workflows/tests.yaml
Labels: github, workflows, review - pending, fast track

#23675 [Tizen] Remove platform APIs for cancel of dnssd
  src/platform/Tizen/DnssdImpl.cpp
Labels: platform, review - pending, fast track

#23679 [Level Control] Added ability to disable transitioning and OnOff feature
  src/app/clusters/level-control/level-control.cpp
  src/app/clusters/level-control/level-control.h
Labels: app, review - pending, fast track

#23304 Update SetupPayload to include if Discriminator is short
  src/setup_payload/java/SetupPayloadParser-JNI.cpp
  src/setup_payload/java/src/chip/setuppayload/SetupPayload.java
Labels: setup payload, fast track

#23599 Adding ability to process config variables, saveAs and constraints to yaml python parser
  src/controller/python/BUILD.gn
  src/controller/python/chip/yaml/parser.py
  src/controller/python/chip/yaml/variable_storage.py
Labels: controller, review - pending, fast track

#23616 Fix CASE Churn caused by subscriptions on tv
  examples/tv-app/tv-common/include/CHIPProjectAppConfig.h
  examples/tv-casting-app/tv-casting-common/include/MediaSubscriptionBase.h
  src/app/ReadHandler.cpp
  src/app/ReadHandler.h
  src/include/platform/CHIPDeviceConfig.h
Labels: examples, platform, app, review - approved

#23742 Add documentation for how codegen works in the sdk
  docs/code_generation.md
Labels: documentation, review - pending, fast track

#23748 [ESP32] Use spake2p.py to generate the PAKE verifier
  scripts/tools/generate_esp32_chip_factory_bin.py
Labels: scripts, review - approved

#23677 [Telink] Allow to erase entire NVS on factory reset by default; Fix IDM-7.1 test. (Cherry-pick #23434 & #23676)
  config/telink/chip-module/Kconfig
  config/zephyr/Kconfig
  src/platform/Zephyr/ConfigurationManagerImpl.cpp
Labels: platform, zephyr, config, This is a 1.0 cherrypick

#23753 Refactor constraints so that each constraint is it's own class
  src/controller/python/BUILD.gn
  src/controller/python/chip/yaml/constraints.py
  src/controller/python/chip/yaml/parser.py
Labels: controller, review - pending, fast track

#23744 Fix warning on TestStateMachine
  src/lib/support/tests/TestStateMachine.cpp
Labels: lib, review - pending, fast track, support

#23752 RPC: Fix device proto FabricId to be 64 bit not 32
  examples/common/pigweed/protos/device_service.proto
Labels: examples, review - pending, fast track

#23694 [ESP32]: Disabled BT_NIMBLE_ENABLE_CONN_REATTEMPT config
  examples/all-clusters-app/esp32/sdkconfig.defaults
  examples/all-clusters-minimal-app/esp32/sdkconfig.defaults
  examples/bridge-app/esp32/sdkconfig.defaults
  examples/chef/esp32/sdkconfig.defaults
  examples/light-switch-app/esp32/sdkconfig.defaults
  examples/lighting-app/esp32/sdkconfig.defaults
  examples/lock-app/esp32/sdkconfig.defaults
  examples/ota-provider-app/esp32/sdkconfig.defaults
  examples/ota-requestor-app/esp32/sdkconfig.defaults
  examples/temperature-measurement-app/esp32/sdkconfig.defaults
Labels: examples, review - approved

#23764 Automatically add tizen label to Tizen related PRs
  .github/labeler.yml
Labels: github, review - pending, fast track, tizen

#23779 Update zap to 2022.11.23
  integrations/docker/images/chip-build/Dockerfile
  integrations/docker/images/chip-build/version
Labels: integrations, review - pending, fast track

#23769 Rename CHIP to Matter in src/test_driver/esp32/README.md
  src/test_driver/esp32/README.md
Labels: review - pending, fast track, test driver

#23771 [crypto] Added target type to the P256KeyPair initialize method
  examples/chip-tool/commands/common/CHIPCommand.cpp
  examples/darwin-framework-tool/commands/common/CHIPToolKeypair.mm
  examples/platform/linux/CommissionerMain.cpp
  examples/platform/nxp/se05x/DeviceAttestationSe05xCredsExample.cpp
  src/controller/ExampleOperationalCredentialsIssuer.cpp
  src/controller/java/AndroidDeviceControllerWrapper.cpp
  src/controller/java/AndroidOperationalCredentialsIssuer.cpp
  src/controller/python/OpCredsBinding.cpp
  src/controller/python/chip/internal/CommissionerImpl.cpp
  src/credentials/TestOnlyLocalCertificateAuthority.h
  src/credentials/tests/TestCertificationDeclaration.cpp
  src/credentials/tests/TestChipCert.cpp
  src/credentials/tests/TestFabricTable.cpp
  src/crypto/CHIPCryptoPAL.h
  src/crypto/CHIPCryptoPALOpenSSL.cpp
  src/crypto/CHIPCryptoPALPSA.cpp
  src/crypto/CHIPCryptoPALTinyCrypt.cpp
  src/crypto/CHIPCryptoPALmbedTLS.cpp
  src/crypto/PersistentStorageOperationalKeystore.cpp
  src/crypto/hsm/CHIPCryptoPALHsm.h
  src/crypto/hsm/nxp/CHIPCryptoPALHsm_SE05X_P256.cpp
  src/crypto/hsm/nxp/PersistentStorageOperationalKeystoreHSM.cpp
  src/crypto/tests/CHIPCryptoPALTest.cpp
  src/crypto/tests/TestPersistentStorageOpKeyStore.cpp
  src/darwin/Framework/CHIP/MTRP256KeypairBridge.h
  src/darwin/Framework/CHIP/MTRP256KeypairBridge.mm
  src/platform/android/CHIPP256KeypairBridge.cpp
  src/platform/android/CHIPP256KeypairBridge.h
  src/platform/silabs/EFR32/CHIPCryptoPALPsaEfr32.cpp
  src/platform/silabs/EFR32/Efr32OpaqueKeypair.h
  src/platform/silabs/EFR32/Efr32PsaOpaqueKeypair.cpp
  src/protocols/secure_channel/CASESession.cpp
  src/transport/tests/TestSecureSession.cpp
Labels: tools, examples, transport, platform, darwin, crypto, controller, review - approved

#23551 Dockerize all chef sample apps in cloud build
  examples/chef/create_docker.py
  examples/chef/create_docker.sh
  examples/chef/dockerfile
  integrations/cloudbuild/chef.yaml
Labels: examples, integrations, review - pending, fast track

#23780 [OpenThread] Improve OpenThread SED polling logs
  src/platform/OpenThread/GenericThreadStackManagerImpl_OpenThread.cpp
Labels: platform, review - approved
