Repository project-chip/connectedhomeip, pull requests merged in 2022-12, with the labels that each got.

#23818 [Darwin] Add fabric index to MTRDevice/MTRClusters logging
  src/darwin/Framework/CHIP/MTRDevice.mm
  src/darwin/Framework/CHIP/templates/MTRClusters-src.zapt
  src/darwin/Framework/CHIP/zap-generated/MTRClusters.mm
Labels: darwin, review - approved

#23528 Darwin: Improve os_log integration
  build/chip/chip_test_suite.gni
  examples/chip-tool/BUILD.gn
  examples/chip-tool/commands/interactive/InteractiveCommands.cpp
  examples/darwin-framework-tool/commands/interactive/InteractiveCommands.mm
  examples/darwin-framework-tool/main.mm
  examples/platform/linux/BUILD.gn
  scripts/helpers/restyle-diff.sh
  src/access/AccessControl.cpp
  src/darwin/Framework/CHIP/MTRAsyncCallbackWorkQueue.mm
  src/darwin/Framework/CHIP/MTRAttestationInfo.mm
  src/darwin/Framework/CHIP/MTRBaseDevice.mm
  src/darwin/Framework/CHIP/MTRCSRInfo.mm
  src/darwin/Framework/CHIP/MTRCertificates.mm
  src/darwin/Framework/CHIP/MTRClusterStateCacheContainer.mm
  src/darwin/Framework/CHIP/MTRCommissioningParameters.mm
  src/darwin/Framework/CHIP/MTRDefines.h
  src/darwin/Framework/CHIP/MTRDevice.mm
  src/darwin/Framework/CHIP/MTRDeviceAttestationDelegateBridge.mm
  src/darwin/Framework/CHIP/MTRDeviceController+XPC.mm
  src/darwin/Framework/CHIP/MTRDeviceController.mm
  src/darwin/Framework/CHIP/MTRDeviceControllerDelegateBridge.mm
  src/darwin/Framework/CHIP/MTRDeviceControllerFactory.mm
  src/darwin/Framework/CHIP/MTRDeviceControllerOverXPC.mm
  src/darwin/Framework/CHIP/MTRDeviceControllerStartupParams.mm
  src/darwin/Framework/CHIP/MTRDeviceControllerXPCConnection.mm
  src/darwin/Framework/CHIP/MTRDeviceOverXPC.mm
  src/darwin/Framework/CHIP/MTRFramework.h
  src/darwin/Framework/CHIP/MTRFramework.mm
  src/darwin/Framework/CHIP/MTRLogging.h
  src/darwin/Framework/CHIP/MTRLogging.mm
  src/darwin/Framework/CHIP/MTRLogging_Internal.h
  src/darwin/Framework/CHIP/MTRManualSetupPayloadParser.mm
  src/darwin/Framework/CHIP/MTROnboardingPayloadParser.mm
  src/darwin/Framework/CHIP/MTROperationalCredentialsDelegate.mm
  src/darwin/Framework/CHIP/MTRP256KeypairBridge.mm
  src/darwin/Framework/CHIP/MTRPersistentStorageDelegateBridge.mm
  src/darwin/Framework/CHIP/MTRQRCodeSetupPayloadParser.mm
  src/darwin/Framework/CHIP/MTRThreadOperationalDataset.mm
  src/darwin/Framework/CHIP/Matter.h
  src/darwin/Framework/CHIP/Resources/Logging/com.csa.matter.plist
  src/darwin/Framework/CHIP/templates/MTRClusters-src.zapt
  src/darwin/Framework/CHIP/zap-generated/MTRClusters.mm
  src/darwin/Framework/Matter.xcodeproj/project.pbxproj
  src/lib/core/CHIPConfig.h
  src/lib/support/BUILD.gn
  src/lib/support/CodeUtils.h
  src/lib/support/logging/CHIPLogging.cpp
  src/lib/support/logging/CHIPLogging.h
  src/platform/Darwin/BUILD.gn
  src/platform/Darwin/Logging.cpp
  src/platform/Darwin/Logging.h
  src/platform/Darwin/Logging.mm
  src/platform/Darwin/LoggingImpl.cpp
  src/platform/Darwin/SystemPlatformConfig.h
  src/platform/Linux/PlatformManagerImpl.cpp
  src/platform/Linux/bluez/Helper.cpp
  src/platform/Tizen/DnssdImpl.cpp
  src/platform/Tizen/ThreadStackManagerImpl.cpp
  src/platform/logging/BUILD.gn
  src/system/SystemConfig.h
Labels: tools, examples, scripts, system, platform, darwin, linux, lib, gn, review - approved, support, core, tizen

#23843 Increase chef cloud build timeout to 5 hours
  integrations/cloudbuild/chef.yaml
Labels: review - pending, fast track

#23796 [Telink] Add shell commands support
  config/telink/app/zephyr.conf
  src/lib/shell/MainLoopZephyr.cpp
  src/lib/shell/streamer_zephyr.cpp
Labels: lib, config, review - pending, fast track, shell

#23849 Add NS_ASSUME_NONNULL_BEGIN to MTRCallbackBridgeBase_internal.
  src/darwin/Framework/CHIP/MTRCallbackBridgeBase_internal.h
Labels: darwin, review - approved

#23473 [Darwin] MTRDevice subscription should be non-fabric-filtered
  src/darwin/Framework/CHIP/MTRDevice.mm
Labels: darwin, review - approved

#23845 Fix some loose ends from the acronym casing Darwin changes.
  src/darwin/Framework/CHIP/templates/MTRBaseClusters.zapt
  src/darwin/Framework/CHIP/zap-generated/MTRBaseClusters.h
Labels: review - approved

#23855 Switch to having just one typedef for MTRCertificateDERBytes.
  src/darwin/Framework/CHIP/MTRDeviceControllerStartupParams.h
Labels: darwin, review - approved

#23836 Add a `--skip-build` option to docker image builds
  integrations/docker/build.sh
Labels: integrations, review - pending, fast track

#23860 Remove write-only variables.
  src/app/MessageDef/AttributeStatusIBs.cpp
  src/app/MessageDef/EventPathIBs.cpp
  src/app/clusters/groups-server/groups-server.cpp
Labels: app, review - approved

#23858 Fix status report message when destination id is unknown.
  src/protocols/secure_channel/CASESession.cpp
  src/protocols/secure_channel/tests/TestCASESession.cpp
Labels: review - approved

#23874 Fix up cert bins docker script.
  integrations/docker/images/chip-cert-bins/Dockerfile
Labels: integrations, review - pending, fast track

#23866 Remove redundant init and copyWithZone declarations in Matter framework.
  src/darwin/Framework/CHIP/templates/MTRCommandPayloadsObjc.zapt
  src/darwin/Framework/CHIP/templates/MTRStructsObjc.zapt
  src/darwin/Framework/CHIP/zap-generated/MTRCommandPayloadsObjc.h
  src/darwin/Framework/CHIP/zap-generated/MTRStructsObjc.h
Labels: darwin, review - pending, fast track

#23875 [typo] Replace ' Unit / Interation Tests' with ' Unit / Integration T…
  .github/workflows/unit_integration_test.yaml
Labels: github, workflows, review - pending, fast track

#23876 Fix typo in build targets for minimal app
  scripts/build/build/targets.py
Labels: scripts, review - pending, fast track

#23879 zap regen
  src/darwin/Framework/CHIP/zap-generated/MTRCommandPayloadsObjc.h
  src/darwin/Framework/CHIP/zap-generated/MTRStructsObjc.h
Labels: hotfix, darwin, review - pending

#23701 [chip-tool] Add --skip-commissioning-complete optional parameter for …
  examples/chip-tool/commands/pairing/PairingCommand.cpp
  examples/chip-tool/commands/pairing/PairingCommand.h
Labels: tools, examples, review - pending, fast track

#23856 Add platform-mdns variant for builders (was used in CI but not working)
  scripts/build/build/targets.py
  scripts/build/testdata/all_targets_linux_x64.txt
Labels: scripts, review - pending, fast track

#23797 Set auto_envvar_prefix for click scripts to CHIP
  .github/workflows/build.yaml
  .github/workflows/darwin-tests.yaml
  .github/workflows/examples-ameba.yaml
  .github/workflows/examples-bouffalolab.yaml
  .github/workflows/examples-cc13x2x7_26x2x7.yaml
  .github/workflows/examples-efr32.yaml
  .github/workflows/examples-esp32.yaml
  .github/workflows/examples-infineon.yaml
  .github/workflows/examples-k32w.yaml
  .github/workflows/examples-linux-arm.yaml
  .github/workflows/examples-linux-imx.yaml
  .github/workflows/examples-linux-standalone.yaml
  .github/workflows/examples-mbed.yaml
  .github/workflows/examples-mw320.yaml
  .github/workflows/examples-nrfconnect.yaml
  .github/workflows/examples-qpg.yaml
  .github/workflows/examples-telink.yaml
  .github/workflows/examples-tizen.yaml
  .github/workflows/full-android.yaml
  .github/workflows/fuzzing-build.yaml
  .github/workflows/qemu.yaml
  .github/workflows/smoketest-android.yaml
  .github/workflows/tests.yaml
  scripts/build/build_examples.py
  scripts/codegen.py
  scripts/helpers/iwyu-check.py
  scripts/idl/lint/lint_rules_parser.py
  scripts/idl/matter_idl_parser.py
  scripts/idl/xml_parser.py
  scripts/idl_lint.py
  scripts/run-clang-tidy-on-compile-commands.py
  scripts/run_in_build_env.sh
  scripts/tests/run_python_test.py
  scripts/tests/run_test_suite.py
  scripts/tools/convert_ini.py
Labels: scripts, github, workflows, review - pending, fast track

#23839 Fix -Wsign-conversion report in OpenSSL usage
  src/crypto/CHIPCryptoPALOpenSSL.cpp
Labels: crypto, review - approved

#23863 Print onboarding codes in esp32 ota-requestor/provider apps.
  examples/ota-provider-app/esp32/main/main.cpp
  examples/ota-requestor-app/esp32/main/main.cpp
Labels: examples, review - approved

#23897 Fix Linux standalone job.
  .github/workflows/examples-linux-standalone.yaml
Labels: hotfix, github, workflows, review - pending

#23907 Rename TEST_CLUSTER to match latest ZAP tool
  examples/all-clusters-app/all-clusters-common/all-clusters-app.zap
  examples/all-clusters-minimal-app/all-clusters-common/all-clusters-minimal-app.zap
  examples/thermostat/thermostat-common/thermostat.zap
  examples/tv-app/tv-common/tv-app.zap
  src/app/zap_cluster_list.py
  src/controller/data_model/controller-clusters.zap
Labels: examples, controller, app, review - pending

#23842 Set separate temporary directory for zap cli, to have independent unpacks
  scripts/tools/zap/generate.py
Labels: scripts, review - pending, fast track

#23900 [nrfconnect] CMake improvements and cleanup
  config/nrfconnect/chip-module/CMakeLists.txt
  config/telink/chip-module/CMakeLists.txt
  config/zephyr/ota-image.cmake
  config/zephyr/zephyr-util.cmake
  examples/light-switch-app/nrfconnect/main/include/AppTask.h
  src/test_driver/nrfconnect/CMakeLists.txt
Labels: examples, config, review - pending, fast track, test driver

#23882 Update cert bins: arm64 zap and all-clusters-minimal
  integrations/docker/images/chip-cert-bins/Dockerfile
Labels: integrations, review - approved

#23898 Remove remaining uses of "Interation".
  .github/.wordlist.txt
  README.md
Labels: documentation, review - approved

#23895 Fix member naming for the MultiPressComplete event.
  examples/all-clusters-app/all-clusters-common/all-clusters-app.matter
  examples/all-clusters-minimal-app/all-clusters-common/all-clusters-minimal-app.matter
  examples/bridge-app/bridge-common/bridge-app.matter
  examples/chef/devices/noip_rootnode_dimmablelight_bCwGYSDpoe.matter
  examples/chef/devices/rootnode_contactsensor_lFAGG1bfRO.matter
  examples/chef/devices/rootnode_dimmablelight_bCwGYSDpoe.matter
  examples/chef/devices/rootnode_doorlock_aNKYAreMXE.matter
  examples/chef/devices/rootnode_extendedcolorlight_8lcaaYJVAa.matter
  examples/chef/devices/rootnode_fan_7N2TobIlOX.matter
  examples/chef/devices/rootnode_flowsensor_1zVxHedlaV.matter
  examples/chef/devices/rootnode_heatingcoolingunit_ncdGai1E5a.matter
  examples/chef/devices/rootnode_humiditysensor_Xyj4gda6Hb.matter
  examples/chef/devices/rootnode_lightsensor_lZQycTFcJK.matter
  examples/chef/devices/rootnode_occupancysensor_iHyVgifZuo.matter
  examples/chef/devices/rootnode_onofflight_bbs1b7IaOV.matter
  examples/chef/devices/rootnode_onofflightswitch_FsPlMr090Q.matter
  examples/chef/devices/rootnode_onoffpluginunit_Wtf8ss5EBY.matter
  examples/chef/devices/rootnode_pressuresensor_s0qC9wLH4k.matter
  examples/chef/devices/rootnode_speaker_RpzeXdimqA.matter
  examples/chef/devices/rootnode_temperaturesensor_Qy1zkNW7c3.matter
  examples/chef/devices/rootnode_thermostat_bm3fb8dhYi.matter
  examples/chef/devices/rootnode_windowcovering_RLCxaGi9Yx.matter
  examples/dynamic-bridge-app/bridge-common/bridge-app.matter
  examples/light-switch-app/light-switch-common/light-switch-app.matter
  examples/lighting-app/lighting-common/lighting-app.matter
  examples/placeholder/linux/apps/app1/config.matter
  examples/placeholder/linux/apps/app2/config.matter
  examples/tv-casting-app/tv-casting-common/tv-casting-app.matter
  src/app/clusters/switch-server/switch-server.cpp
  src/app/zap-templates/zcl/data-model/chip/switch-cluster.xml
  src/controller/data_model/controller-clusters.matter
  src/controller/java/zap-generated/CHIPEventTLVValueDecoder.cpp
  src/controller/java/zap-generated/chip/devicecontroller/ChipEventStructs.java
  src/controller/python/chip/clusters/Objects.py
  src/darwin/Framework/CHIP/templates/MTRStructsObjc-src.zapt
  src/darwin/Framework/CHIP/templates/MTRStructsObjc.zapt
  src/darwin/Framework/CHIP/zap-generated/MTREventTLVValueDecoder.mm
  src/darwin/Framework/CHIP/zap-generated/MTRStructsObjc.h
  src/darwin/Framework/CHIP/zap-generated/MTRStructsObjc.mm
  zzz_generated/app-common/app-common/zap-generated/cluster-objects.cpp
  zzz_generated/app-common/app-common/zap-generated/cluster-objects.h
  zzz_generated/chip-tool/zap-generated/cluster/logging/DataModelLogger.cpp
Labels: examples, darwin, controller, app, review - approved

#23894 Use the "right" byte-swapping function for port in Darwin DnssdImpl.
  src/platform/Darwin/DnssdImpl.cpp
Labels: platform, darwin, review - approved

#23867 Stop calling into the device attestation delegate on the Matter work queue
  src/darwin/Framework/CHIP/MTRCommissioningParameters.h
  src/darwin/Framework/CHIP/MTRDeviceAttestationDelegate.h
  src/darwin/Framework/CHIP/MTRDeviceAttestationDelegateBridge.h
  src/darwin/Framework/CHIP/MTRDeviceController.mm
  src/darwin/Framework/CHIP/MTRKeypair.h
  src/darwin/Framework/CHIP/MTRStorage.h
Labels: darwin, review - approved

#23846 Put back auto-generated comments for MTRBaseClusters.
  src/darwin/Framework/CHIP/templates/MTRBaseClusters.zapt
  src/darwin/Framework/CHIP/zap-generated/MTRBaseClusters.h
Labels: darwin, review - pending, fast track

#23911 Fix C++20-incompatible instances of aggregate initialization
  src/app/util/types_stub.h
Labels: app, review - approved

#23848 [genio] Correct dnssd api usage
  examples/platform/mt793x/link_wrapper.c
  src/platform/mt793x/DnssdContexts.cpp
  src/platform/mt793x/DnssdImpl.cpp
  src/platform/mt793x/DnssdImpl.h
Labels: examples, platform, review - approved

#23777 Adding conditional compilation for jlink/segger_rtt code
  src/platform/device.gni
  third_party/openthread/platforms/BUILD.gn
Labels: platform, qpg, review - pending, fast track

#23873 Fixed chip-tool guide around Group commands configurations
  examples/chip-tool/README.md
Labels: tools, examples, review - pending, fast track

#22789 [SetUpCodePairer] Try to pair over all discovered ips instead of only the first one tha…
  scripts/tools/check_includes_config.py
  src/controller/SetUpCodePairer.cpp
  src/controller/SetUpCodePairer.h
Labels: scripts, controller, review - pending, fast track

#23944 Fix errant VerifyOrReturn in CASESession
  src/protocols/secure_channel/CASESession.cpp
Labels: review - approved

#23816 [CI] Add Java pairing OnNetworkLong test
  .github/workflows/tests.yaml
  examples/java-matter-controller/java/src/com/matter/controller/commands/common/CommandManager.java
  scripts/tests/java/base.py
  scripts/tests/java/commissioning_test.py
  scripts/tests/run_java_test.py
Labels: examples, scripts, github, workflows, review - pending, fast track

#23943 use java util logging for matter java test app
  examples/java-matter-controller/java/src/com/matter/controller/Main.java
  examples/java-matter-controller/java/src/com/matter/controller/commands/common/CommandManager.java
  examples/java-matter-controller/java/src/com/matter/controller/commands/pairing/PairingCommand.java
Labels: examples, review - pending, fast track

#23954 [Telink] Update Telink Docker with fixes: mcu_boot, OTA, zephyr blob.
  integrations/docker/images/chip-build-telink/Dockerfile
  integrations/docker/images/chip-build/version
Labels: integrations, review - pending, fast track

#23887 [chip-tool] Allow the string 'null' to be used for TypedComplexArgume…
  examples/chip-tool/commands/clusters/ComplexArgument.h
Labels: tools, examples, review - pending, fast track

#23891 Enable custom port for lock-app
  examples/lock-app/linux/args.gni
  examples/lock-app/linux/include/CHIPProjectAppConfig.h
Labels: examples, review - pending, fast track

#23889 [jsontlv] Add a prefix for octet strings encoded as base64
  src/lib/support/jsontlv/TlvJson.cpp
  src/lib/support/tests/TestTlvToJson.cpp
Labels: lib, review - pending, fast track, support

#23865 [java-matter-controller] Remove un-used PersistentStorage implementation
  examples/java-matter-controller/BUILD.gn
  examples/java-matter-controller/java/src/com/matter/controller/commands/common/MatterCommand.java
  examples/java-matter-controller/java/src/com/matter/controller/config/PersistentStorage.java
  examples/java-matter-controller/java/src/com/matter/controller/config/PersistentStorageOpCertStore.java
  examples/java-matter-controller/java/src/com/matter/controller/config/PersistentStorageOperationalKeystore.java
Labels: examples, review - pending, fast track

#23885 [jsontlv] TlvToJson returns null for empty array instead of an empty …
  src/lib/support/jsontlv/BUILD.gn
  src/lib/support/jsontlv/TlvJson.cpp
  src/lib/support/tests/TestTlvToJson.cpp
Labels: lib, review - pending, fast track, support

#23914 Make sure the Neighbor Table averageRSSI and LastRSSI are valid.
  src/platform/OpenThread/GenericThreadStackManagerImpl_OpenThread.cpp
Labels: platform, review - approved

#23959 Make queue handling consistent for commands in MTRDevice/MTRClusters.
  src/darwin/Framework/CHIP/MTRDevice.mm
  src/darwin/Framework/CHIP/MTRDevice_Internal.h
  src/darwin/Framework/CHIP/templates/MTRClusters-src.zapt
  src/darwin/Framework/CHIP/zap-generated/MTRClusters.mm
Labels: darwin, review - pending, fast track

#23957 Introduce basic UDP packet filtering scheme
  src/inet/BUILD.gn
  src/inet/BasicPacketFilters.h
  src/inet/EndpointQueueFilter.h
  src/inet/UDPEndPointImplLwIP.cpp
  src/inet/UDPEndPointImplLwIP.h
  src/inet/tests/BUILD.gn
  src/inet/tests/TestBasicPacketFilters.cpp
Labels: inet, review - approved

#23888 [chip-tool] Add support for INFINITY and -INFINITY argument to float/…
  examples/chip-tool/commands/common/Command.cpp
Labels: tools, examples, review - approved

#23961 [idl parser / zapxml] The field index for structs that does not expli…
  scripts/idl/test_xml_parser.py
  scripts/idl/zapxml/handlers/handlers.py
Labels: scripts, review - pending, fast track

#23960 Accelerate cloud build by replacing docker image 'chip-build-vscode' with 'chip-build'
  integrations/cloudbuild/build-coverage.yaml
Labels: review - pending, fast track

#23966 [nrfconnect] Fix for jsonschema documentation and factory data script
  docs/guides/nrfconnect_factory_data_configuration.md
  scripts/tools/nrfconnect/generate_nrfconnect_chip_factory_data.py
Labels: documentation, scripts, review - approved

#23965 Add better documentation about how custom values are represented in JSON.
  examples/chip-tool/commands/clusters/ClusterCommand.h
  examples/chip-tool/commands/clusters/WriteAttributeCommand.h
Labels: tools, examples, review - approved

#23934 Squelch -Wuninitialized in TestStateMachine.cpp
  src/lib/support/tests/BUILD.gn
Labels: lib, review - approved, support

#23972 [QPG] Remove overrules for OpenThread buffer amount.
  examples/platform/qpg/project_include/OpenThreadConfig.h
Labels: platform, qpg, review - approved

#23970 [Telink] Update flash memory sections, fix of OTA & Update every image to 0.6.18
  .devcontainer/devcontainer.json
  .github/workflows/bloat_check.yaml
  .github/workflows/build.yaml
  .github/workflows/chef.yaml
  .github/workflows/cirque.yaml
  .github/workflows/doxygen.yaml
  .github/workflows/examples-ameba.yaml
  .github/workflows/examples-bouffalolab.yaml
  .github/workflows/examples-cc13x2x7_26x2x7.yaml
  .github/workflows/examples-efr32.yaml
  .github/workflows/examples-esp32.yaml
  .github/workflows/examples-infineon.yaml
  .github/workflows/examples-k32w.yaml
  .github/workflows/examples-linux-arm.yaml
  .github/workflows/examples-linux-imx.yaml
  .github/workflows/examples-linux-standalone.yaml
  .github/workflows/examples-mbed.yaml
  .github/workflows/examples-mw320.yaml
  .github/workflows/examples-nrfconnect.yaml
  .github/workflows/examples-openiotsdk.yaml
  .github/workflows/examples-qpg.yaml
  .github/workflows/examples-telink.yaml
  .github/workflows/examples-tizen.yaml
  .github/workflows/full-android.yaml
  .github/workflows/fuzzing-build.yaml
  .github/workflows/lint.yml
  .github/workflows/qemu.yaml
  .github/workflows/release_artifacts.yaml
  .github/workflows/smoketest-android.yaml
  .github/workflows/tests.yaml
  .github/workflows/unit_integration_test.yaml
  .github/workflows/zap_regeneration.yaml
  .github/workflows/zap_templates.yaml
  config/telink/app/zephyr.conf
  config/telink/chip-module/CMakeLists.txt
  config/telink/chip-module/generate_factory_data.cmake
  examples/light-switch-app/telink/prj.conf
  examples/lighting-app/telink/prj.conf
  examples/thermostat/telink/prj.conf
  integrations/cloudbuild/build-all.yaml
  integrations/cloudbuild/build-coverage.yaml
  integrations/cloudbuild/chef.yaml
  integrations/cloudbuild/smoke-test.yaml
Labels: examples, integrations, config, vscode, github, workflows, review - approved

#23896 Fix some command descriptions for group key management cluster.
  src/app/zap-templates/zcl/data-model/chip/group-key-mgmt-cluster.xml
  src/darwin/Framework/CHIP/zap-generated/MTRBaseClusters.h
Labels: darwin, app, review - pending, fast track

#23977 Fix code to enable dmalloc & disable it
  .github/workflows/build.yaml
  scripts/tests/gn_tests.sh
  src/app/chip_data_model.gni
Labels: scripts, app, github, workflows, review - approved

#23924 [EFR32] Fix path path for lighting-app in examples
  examples/lighting-app/silabs/efr32/README.md
Labels: examples, review - approved

#23981 [Darwin] MTRDevice should retry subscription when getSessionForNode fails
  src/darwin/Framework/CHIP/MTRDevice.mm
  src/darwin/Framework/CHIP/MTRDeviceController.mm
  src/darwin/Framework/CHIP/MTRDevice_Internal.h
Labels: darwin, review - pending, fast track

#23870 [Bouffalolab] Update CI workflow to build all BouffaloLab examples in one job
  .github/workflows/examples-bouffalolab.yaml
  README.md
  examples/lighting-app/bouffalolab/README.md
  scripts/build/builders/bouffalolab.py
  scripts/examples/gn_bouffalolab_example.sh
Labels: documentation, examples, scripts, github, workflows, review - pending, fast track

#23852 [Infineon] Integrate Door Lock Alarm Event
  examples/lock-app/infineon/cyw30739/include/LockManager.h
  examples/lock-app/infineon/cyw30739/src/ButtonHandler.cpp
  examples/lock-app/infineon/cyw30739/src/LockManager.cpp
  examples/lock-app/infineon/psoc6/include/AppConfig.h
  examples/lock-app/infineon/psoc6/include/ButtonHandler.h
  examples/lock-app/infineon/psoc6/include/CHIPProjectConfig.h
  examples/lock-app/infineon/psoc6/src/AppTask.cpp
  examples/lock-app/infineon/psoc6/src/ButtonHandler.cpp
Labels: examples, review - approved

#23655 Fix the issue of unreleased JNI references.
  examples/tv-app/android/include/content-launcher/AppContentLauncherManager.cpp
  examples/tv-app/android/include/media-playback/AppMediaPlaybackManager.cpp
  examples/tv-app/android/include/target-navigator/TargetNavigatorManager.cpp
  examples/tv-app/android/java/ContentAppAttributeDelegate.cpp
  examples/tv-app/android/java/ContentAppAttributeDelegate.h
  examples/tv-app/android/java/ContentAppCommandDelegate.cpp
Labels: examples, review - approved

#24003 Add device type version support in matter IDL
  examples/all-clusters-app/all-clusters-common/all-clusters-app.matter
  examples/all-clusters-minimal-app/all-clusters-common/all-clusters-minimal-app.matter
  examples/bridge-app/bridge-common/bridge-app.matter
  examples/chef/devices/noip_rootnode_dimmablelight_bCwGYSDpoe.matter
  examples/chef/devices/rootnode_colortemperaturelight_hbUnzYVeyn.matter
  examples/chef/devices/rootnode_contactsensor_lFAGG1bfRO.matter
  examples/chef/devices/rootnode_dimmablelight_bCwGYSDpoe.matter
  examples/chef/devices/rootnode_doorlock_aNKYAreMXE.matter
  examples/chef/devices/rootnode_extendedcolorlight_8lcaaYJVAa.matter
  examples/chef/devices/rootnode_fan_7N2TobIlOX.matter
  examples/chef/devices/rootnode_flowsensor_1zVxHedlaV.matter
  examples/chef/devices/rootnode_heatingcoolingunit_ncdGai1E5a.matter
  examples/chef/devices/rootnode_humiditysensor_Xyj4gda6Hb.matter
  examples/chef/devices/rootnode_lightsensor_lZQycTFcJK.matter
  examples/chef/devices/rootnode_occupancysensor_iHyVgifZuo.matter
  examples/chef/devices/rootnode_onofflight_bbs1b7IaOV.matter
  examples/chef/devices/rootnode_onofflightswitch_FsPlMr090Q.matter
  examples/chef/devices/rootnode_onoffpluginunit_Wtf8ss5EBY.matter
  examples/chef/devices/rootnode_pressuresensor_s0qC9wLH4k.matter
  examples/chef/devices/rootnode_speaker_RpzeXdimqA.matter
  examples/chef/devices/rootnode_temperaturesensor_Qy1zkNW7c3.matter
  examples/chef/devices/rootnode_thermostat_bm3fb8dhYi.matter
  examples/chef/devices/rootnode_windowcovering_RLCxaGi9Yx.matter
  examples/contact-sensor-app/contact-sensor-common/contact-sensor-app.matter
  examples/dynamic-bridge-app/bridge-common/bridge-app.matter
  examples/light-switch-app/light-switch-common/light-switch-app.matter
  examples/lighting-app/lighting-common/lighting-app.matter
  examples/lighting-app/nxp/zap/lighting-on-off.matter
  examples/lock-app/lock-common/lock-app.matter
  examples/ota-provider-app/ota-provider-common/ota-provider-app.matter
  examples/ota-requestor-app/ota-requestor-common/ota-requestor-app.matter
  examples/placeholder/linux/apps/app1/config.matter
  examples/placeholder/linux/apps/app2/config.matter
  examples/pump-app/pump-common/pump-app.matter
  examples/pump-controller-app/pump-controller-common/pump-controller-app.matter
  examples/temperature-measurement-app/esp32/main/temperature-measurement.matter
  examples/thermostat/thermostat-common/thermostat.matter
  examples/tv-app/tv-common/tv-app.matter
  examples/tv-casting-app/tv-casting-common/tv-casting-app.matter
  examples/window-app/common/window-app.matter
  scripts/idl/matter_grammar.lark
  scripts/idl/matter_idl_parser.py
  scripts/idl/matter_idl_types.py
  scripts/idl/test_matter_idl_parser.py
  scripts/idl/tests/inputs/large_all_clusters_app.matter
  scripts/idl/tests/inputs/large_lighting_app.matter
  scripts/idl/tests/inputs/several_clusters.matter
  src/app/zap-templates/templates/app/MatterIDL.zapt
  src/controller/data_model/controller-clusters.matter
Labels: examples, scripts, controller, app, review - approved

#23759 [Ameba] Support reading and decoding factory data from flash
  integrations/docker/images/chip-build-ameba/Dockerfile
  integrations/docker/images/chip-build/version
Labels: integrations, review - approved

#23980 Set up a cluster state cache in MTRDevice.
  src/darwin/Framework/CHIP/MTRDevice.mm
  src/darwin/Framework/CHIPTests/MTRDeviceTests.m
Labels: darwin, review - pending, fast track

#24006 Remove the address type argument from ResolveNodeId.
  src/controller/python/chip/discovery/NodeResolution.cpp
  src/controller/tests/TestCommissionableNodeController.cpp
  src/lib/address_resolve/AddressResolve_DefaultImpl.cpp
  src/lib/dnssd/Discovery_ImplPlatform.cpp
  src/lib/dnssd/Discovery_ImplPlatform.h
  src/lib/dnssd/Resolver.h
  src/lib/dnssd/ResolverProxy.h
  src/lib/dnssd/Resolver_ImplMinimalMdns.cpp
  src/lib/dnssd/Resolver_ImplNone.cpp
  src/lib/shell/commands/Dns.cpp
Labels: lib, controller, review - approved, shell

#23979 Updating Darwin guide with latest info
  .github/.wordlist.txt
  docs/guides/darwin.md
Labels: documentation, fast track

#24013 Use argparse instead of optparse to parse pairing arguments
  .github/workflows/tests.yaml
  scripts/tests/java/commissioning_test.py
Labels: scripts, github, workflows, review - approved

#22985 Add ability to establish PASE over BLE to Python DeviceController
  src/controller/python/ChipDeviceController-ScriptBinding.cpp
  src/controller/python/chip/ChipDeviceCtrl.py
Labels: controller, review - approved

#24011 [Silabs] Remove pw_kvs and pw_log dependencies
  config/efr32/lib/pw_rpc/pw_rpc.gni
  examples/chef/efr32/BUILD.gn
  examples/chef/efr32/args.gni
  examples/chef/efr32/build_for_wifi_args.gni
  examples/light-switch-app/efr32/args.gni
  examples/light-switch-app/efr32/build_for_wifi_args.gni
  examples/lighting-app/silabs/SiWx917/args.gni
  examples/lighting-app/silabs/SiWx917/build_for_wifi_args.gni
  examples/lighting-app/silabs/efr32/args.gni
  examples/lighting-app/silabs/efr32/build_for_wifi_args.gni
  examples/lock-app/efr32/args.gni
  examples/lock-app/efr32/build_for_wifi_args.gni
  examples/persistent-storage/efr32/args.gni
  examples/shell/efr32/args.gni
  examples/thermostat/efr32/args.gni
  examples/thermostat/efr32/build_for_wifi_args.gni
  examples/window-app/efr32/args.gni
  examples/window-app/efr32/build_for_wifi_args.gni
  src/platform/silabs/EFR32/BUILD.gn
  src/platform/silabs/SiWx917/BUILD.gn
  src/platform/silabs/SiWx917/wifi_args.gni
Labels: examples, platform, config, review - pending, fast track

#24001 [Silabs] zap configuration changes to support groups on thermostat app
  examples/thermostat/thermostat-common/thermostat.matter
  examples/thermostat/thermostat-common/thermostat.zap
  zzz_generated/thermostat/zap-generated/IMClusterCommandHandler.cpp
  zzz_generated/thermostat/zap-generated/access.h
  zzz_generated/thermostat/zap-generated/endpoint_config.h
Labels: examples, review - approved

#24009 [Infineon] Fix the License text in cc.h
  src/lwip/cyw30739/arch/cc.h
Labels: review - pending, fast track, lwip

#24033 [Darwin / BLE] Add some code to scan without a discriminator in order to prewarm for commissioning
  examples/darwin-framework-tool/commands/pairing/Commands.h
  examples/darwin-framework-tool/commands/pairing/PrepareCommissioningCommand.h
  src/darwin/Framework/CHIP/MTRDeviceController.h
  src/darwin/Framework/CHIP/MTRDeviceController.mm
  src/platform/Darwin/BLEManagerImpl.cpp
  src/platform/Darwin/BLEManagerImpl.h
  src/platform/Darwin/BleConnectionDelegate.h
  src/platform/Darwin/BleConnectionDelegateImpl.mm
  src/platform/Darwin/PlatformManagerImpl.cpp
  src/platform/Darwin/PlatformManagerImpl.h
Labels: examples, platform, darwin, review - pending, fast track

#24012 [Infineon] Update README with factory reset option for PSoC6 board
  examples/all-clusters-app/infineon/psoc6/README.md
  examples/all-clusters-minimal-app/infineon/psoc6/README.md
  examples/lighting-app/infineon/psoc6/README.md
  examples/lock-app/infineon/psoc6/README.md
Labels: examples, review - pending, fast track

#24035 Use an ephemeral port for darwin-framework-tool.
  examples/darwin-framework-tool/commands/common/CHIPCommandBridge.mm
Labels: examples, darwin, review - pending, fast track

#23936 [SED] Fix Commissioning with Long Idle time
  src/app/server/CommissioningWindowManager.cpp
  src/app/server/CommissioningWindowManager.h
Labels: app, review - approved

#24039 [OIS] Temporarily disable integration tests
  .github/workflows/examples-openiotsdk.yaml
Labels: github, workflows, review - pending, fast track

#24005 Create dispatch queues in the Darwin framework more consistently.
  src/darwin/Framework/CHIP/MTRDevice.mm
  src/darwin/Framework/CHIP/MTRDeviceAttestationDelegateBridge.h
  src/darwin/Framework/CHIP/MTRDeviceControllerOverXPC.mm
  src/darwin/Framework/CHIP/MTROTAProviderDelegateBridge.mm
  src/darwin/Framework/CHIP/MTRPersistentStorageDelegateBridge.mm
  src/platform/Darwin/BleConnectionDelegateImpl.mm
  src/platform/Darwin/PlatformManagerImpl.h
Labels: platform, darwin, review - pending, fast track

#23893 Fix APIs involved in the MTROperationalCredentialsDelegate.
  src/darwin/Framework/CHIP/MTRAttestationInfo.h
  src/darwin/Framework/CHIP/MTRAttestationInfo.mm
  src/darwin/Framework/CHIP/MTRCSRInfo.h
  src/darwin/Framework/CHIP/MTRCSRInfo.mm
  src/darwin/Framework/CHIP/MTRDefines.h
  src/darwin/Framework/CHIP/MTRDeviceController.h
  src/darwin/Framework/CHIP/MTRDeviceController.mm
  src/darwin/Framework/CHIP/MTRDeviceControllerStartupParams.h
  src/darwin/Framework/CHIP/MTRNOCChainIssuer.h
  src/darwin/Framework/CHIP/MTROperationalCertificateIssuer.h
  src/darwin/Framework/CHIP/MTROperationalCertificateIssuer.mm
  src/darwin/Framework/CHIP/MTROperationalCredentialsDelegate.h
  src/darwin/Framework/CHIP/MTROperationalCredentialsDelegate.mm
  src/darwin/Framework/CHIP/Matter.h
  src/darwin/Framework/Matter.xcodeproj/project.pbxproj
Labels: darwin, review - pending, fast track

#24044 Fix if condition/wrong member used
  src/platform/OpenThread/GenericThreadStackManagerImpl_OpenThread.cpp
Labels: platform, review - pending, fast track

#24049 Swap ExceptIfRe(...) parameters for MbedTLS and BoringSSL target modifiers
  scripts/build/build/targets.py
Labels: scripts, review - pending, fast track

#24042 Fixing size checks in Set/GetRotatingDeviceIdUniqueId and right sizing mRotatingDeviceIdUniqueId
  examples/tv-casting-app/tv-casting-common/include/CHIPProjectAppConfig.h
  src/include/platform/internal/GenericConfigurationManagerImpl.h
  src/include/platform/internal/GenericConfigurationManagerImpl.ipp
Labels: examples, platform, review - approved

#24010 Add a way for Resolver consumers to cancel operational resolve attempts.
  src/controller/python/chip/discovery/NodeResolution.cpp
  src/controller/tests/TestCommissionableNodeController.cpp
  src/lib/address_resolve/AddressResolve_DefaultImpl.cpp
  src/lib/dnssd/ActiveResolveAttempts.cpp
  src/lib/dnssd/ActiveResolveAttempts.h
  src/lib/dnssd/Discovery_ImplPlatform.cpp
  src/lib/dnssd/Discovery_ImplPlatform.h
  src/lib/dnssd/Resolver.h
  src/lib/dnssd/ResolverProxy.h
  src/lib/dnssd/Resolver_ImplMinimalMdns.cpp
  src/lib/dnssd/Resolver_ImplNone.cpp
  src/lib/dnssd/platform/Dnssd.h
  src/lib/shell/commands/Dns.cpp
  src/platform/Ameba/DnssdImpl.cpp
  src/platform/Darwin/DnssdContexts.cpp
  src/platform/Darwin/DnssdImpl.cpp
  src/platform/Darwin/DnssdImpl.h
  src/platform/ESP32/DnssdImpl.cpp
  src/platform/Linux/DnssdImpl.cpp
  src/platform/OpenThread/DnssdImpl.cpp
  src/platform/Tizen/DnssdImpl.cpp
  src/platform/android/DnssdImpl.cpp
  src/platform/bouffalolab/BL602/DnssdImpl.cpp
  src/platform/fake/DnssdImpl.cpp
  src/platform/mt793x/DnssdImpl.cpp
  src/platform/webos/DnssdImpl.cpp
Labels: platform, darwin, esp32, linux, lib, controller, review - approved, shell, tizen

#24031 [Silabs] Modified folder structure
  .github/workflows/examples-efr32.yaml
  examples/light-switch-app/efr32/build_overrides
  examples/light-switch-app/efr32/third_party/connectedhomeip
  examples/light-switch-app/silabs/efr32/.gn
  examples/light-switch-app/silabs/efr32/BUILD.gn
  examples/light-switch-app/silabs/efr32/README.md
  examples/light-switch-app/silabs/efr32/args.gni
  examples/light-switch-app/silabs/efr32/build_for_wifi_args.gni
  examples/light-switch-app/silabs/efr32/build_for_wifi_gnfile.gn
  examples/light-switch-app/silabs/efr32/build_overrides
  examples/light-switch-app/silabs/efr32/include/AppConfig.h
  examples/light-switch-app/silabs/efr32/include/AppEvent.h
  examples/light-switch-app/silabs/efr32/include/AppTask.h
  examples/light-switch-app/silabs/efr32/include/CHIPProjectConfig.h
  examples/light-switch-app/silabs/efr32/include/binding-handler.h
  examples/light-switch-app/silabs/efr32/src/AppTask.cpp
  examples/light-switch-app/silabs/efr32/src/ZclCallbacks.cpp
  examples/light-switch-app/silabs/efr32/src/binding-handler.cpp
  examples/light-switch-app/silabs/efr32/src/main.cpp
  examples/light-switch-app/silabs/efr32/third_party/connectedhomeip
  examples/lock-app/efr32/build_overrides
  examples/lock-app/efr32/third_party/connectedhomeip
  examples/lock-app/silabs/efr32/.gn
  examples/lock-app/silabs/efr32/BUILD.gn
  examples/lock-app/silabs/efr32/README.md
  examples/lock-app/silabs/efr32/args.gni
  examples/lock-app/silabs/efr32/build_for_wifi_args.gni
  examples/lock-app/silabs/efr32/build_for_wifi_gnfile.gn
  examples/lock-app/silabs/efr32/build_overrides
  examples/lock-app/silabs/efr32/include/AppConfig.h
  examples/lock-app/silabs/efr32/include/AppEvent.h
  examples/lock-app/silabs/efr32/include/AppTask.h
  examples/lock-app/silabs/efr32/include/CHIPProjectConfig.h
  examples/lock-app/silabs/efr32/include/EventHandlerLibShell.h
  examples/lock-app/silabs/efr32/include/LockManager.h
  examples/lock-app/silabs/efr32/src/AppTask.cpp
  examples/lock-app/silabs/efr32/src/EventHandlerLibShell.cpp
  examples/lock-app/silabs/efr32/src/LockManager.cpp
  examples/lock-app/silabs/efr32/src/ZclCallbacks.cpp
  examples/lock-app/silabs/efr32/src/main.cpp
  examples/lock-app/silabs/efr32/third_party/connectedhomeip
  examples/lock-app/silabs/efr32/with_pw_rpc.gni
  examples/window-app/efr32/build_overrides
  examples/window-app/efr32/third_party/connectedhomeip
  examples/window-app/silabs/efr32/.gn
  examples/window-app/silabs/efr32/BUILD.gn
  examples/window-app/silabs/efr32/README.md
  examples/window-app/silabs/efr32/args.gni
  examples/window-app/silabs/efr32/build_for_wifi_args.gni
  examples/window-app/silabs/efr32/build_for_wifi_gnfile.gn
  examples/window-app/silabs/efr32/build_overrides
  examples/window-app/silabs/efr32/include/AppConfig.h
  examples/window-app/silabs/efr32/include/CHIPProjectConfig.h
  examples/window-app/silabs/efr32/include/LcdPainter.h
  examples/window-app/silabs/efr32/include/WindowAppImpl.h
  examples/window-app/silabs/efr32/src/LcdPainter.cpp
  examples/window-app/silabs/efr32/src/WindowAppImpl.cpp
  examples/window-app/silabs/efr32/src/main.cpp
  examples/window-app/silabs/efr32/third_party/connectedhomeip
  scripts/build/builders/efr32.py
Labels: examples, scripts, github, workflows, review - approved

#24051 [Bouffalolab] Remove platform limit for tool installation and update readme
  examples/lighting-app/bouffalolab/README.md
  scripts/requirements.bouffalolab.txt
Labels: examples, scripts, review - pending, fast track

#24052 Add a blank line between command payload declarations in Darwin API.
  src/darwin/Framework/CHIP/templates/MTRCommandPayloadsObjc.zapt
  src/darwin/Framework/CHIP/zap-generated/MTRCommandPayloadsObjc.h
Labels: review - approved

#23923 event_handler: Allows removal of eventHandler in eventHandler->Handler
  src/include/platform/internal/GenericPlatformManagerImpl.ipp
Labels: platform, review - approved

#23464 Enable Absolute Position to Window-app zap
  examples/window-app/common/window-app.matter
  examples/window-app/common/window-app.zap
  zzz_generated/window-app/zap-generated/endpoint_config.h
Labels: examples, review - approved

#24053 [Bouffalolab] Cherry-pick: Remove platform limit for tool installation and update readme
  examples/lighting-app/bouffalolab/README.md
  scripts/requirements.bouffalolab.txt
Labels: examples, scripts, This is a 1.0 cherrypick

#24040 Remove bugprone-assignment-in-if-condition clang tidy check
  .clang-tidy
Labels: review - approved

#24058 [SetuopCodePairer] Add a comment to explain why device discovered ove…
  src/controller/SetUpCodePairer.cpp
Labels: review - approved

#23857 [crypto] Add Operational Keystore for PSA crypto API
  src/crypto/BUILD.gn
  src/crypto/CHIPCryptoPAL.h
  src/crypto/CHIPCryptoPALPSA.cpp
  src/crypto/CHIPCryptoPALPSA.h
  src/crypto/PSAOperationalKeystore.cpp
  src/crypto/PSAOperationalKeystore.h
  src/crypto/crypto.gni
  src/crypto/tests/BUILD.gn
  src/crypto/tests/TestPSAOpKeyStore.cpp
Labels: crypto, review - approved

#24050 [ESP32] Add matter shell support for USB Serial JTAG
  examples/platform/esp32/shell_extension/launch.cpp
  src/lib/shell/streamer_esp32.cpp
Labels: examples, platform, lib, review - approved, shell

#24059 [darwin / MTRDeviceController] Add some abstraction for dispatch_sync…
  src/darwin/Framework/CHIP/MTRDeviceController.mm
Labels: darwin, review - pending, fast track

#23967 [chip-tool] Add support for hex:/str: prefixed OCTET_STRING for compl…
  examples/chip-tool/commands/clusters/ComplexArgument.h
  examples/chip-tool/commands/clusters/JsonParser.h
  examples/chip-tool/commands/common/Command.cpp
  examples/chip-tool/commands/common/CustomStringPrefix.h
Labels: tools, examples, review - approved

#24082 [nrfconnect] Bump nRF Connect SDK version in Docker
  integrations/docker/images/chip-build-nrf-platform/Dockerfile
  integrations/docker/images/chip-build/version
Labels: integrations, review - pending, fast track

#24079 Simplify CASEClient initialization code
  src/app/CASEClient.cpp
  src/app/CASEClient.h
  src/app/CASEClientPool.h
  src/app/CASESessionManager.cpp
  src/app/CASESessionManager.h
  src/app/OperationalSessionSetup.cpp
  src/app/OperationalSessionSetup.h
  src/app/OperationalSessionSetupPool.h
  src/app/server/Server.cpp
  src/app/tests/TestOperationalDeviceProxy.cpp
  src/controller/CHIPDeviceControllerFactory.cpp
  src/protocols/secure_channel/CASEServer.h
  src/protocols/secure_channel/tests/TestCASESession.cpp
Labels: controller, app, review - approved, tests

#24025 ESP32: Reduce the Wi-Fi reconnection interval
  config/esp32/components/chip/Kconfig
Labels: config, review - approved

#24008 Update silabs efr32 lighting-app README
  examples/lighting-app/silabs/efr32/README.md
Labels: review - pending, fast track

#24084 Make some more safety improvements to dispatch to the Matter queue.
  src/darwin/Framework/CHIP/MTRBaseDevice.mm
  src/darwin/Framework/CHIP/MTRCallbackBridgeBase_internal.h
  src/darwin/Framework/CHIP/MTRClusterStateCacheContainer.mm
  src/darwin/Framework/CHIP/MTRDeviceController.mm
  src/darwin/Framework/CHIP/MTRDeviceController_Internal.h
  src/darwin/Framework/CHIP/MTROTAProviderDelegateBridge.mm
  src/darwin/Framework/CHIP/MTROperationalCredentialsDelegate.h
  src/darwin/Framework/CHIP/MTROperationalCredentialsDelegate.mm
Labels: darwin, review - pending, fast track

#24085 Allow markdown in issue template descriptions.
  .github/ISSUE_TEMPLATE/1-bug-report.yaml
  .github/ISSUE_TEMPLATE/100-documentation-issue.yaml
  .github/ISSUE_TEMPLATE/2-1.0-issue.yaml
  .github/ISSUE_TEMPLATE/3-sve-1.0-issue.yaml
  .github/ISSUE_TEMPLATE/50-tooling-fix.yaml
  .github/ISSUE_TEMPLATE/60-platform-fix.yaml
  .github/ISSUE_TEMPLATE/70-trivial-fix.yaml
  .github/ISSUE_TEMPLATE/80-feature-request.yaml
  .github/ISSUE_TEMPLATE/99-github-workflow-issue.yaml
Labels: github, review - approved

#23969 Try to set up CASE session over all discovered ips instead of only th…
  src/BUILD.gn
  src/app/OperationalSessionSetup.cpp
  src/lib/address_resolve/AddressResolve.h
  src/lib/address_resolve/AddressResolve_DefaultImpl.cpp
  src/lib/address_resolve/AddressResolve_DefaultImpl.h
  src/lib/address_resolve/BUILD.gn
  src/lib/address_resolve/address_resolve.gni
  src/lib/address_resolve/tests/BUILD.gn
  src/lib/address_resolve/tests/TestAddressResolve_DefaultImpl.cpp
  src/lib/core/CHIPConfig.h
  src/platform/Darwin/SystemPlatformConfig.h
Labels: platform, darwin, lib, app, review - approved, core

#24065 Darwin: Expose MTRBaseDevice.sessionTransportType
  src/darwin/CHIPTool/CHIPTool/View Controllers/QRCode/QRCodeViewController.m
  src/darwin/Framework/CHIP/MTRBaseDevice.h
  src/darwin/Framework/CHIP/MTRBaseDevice.mm
  src/darwin/Framework/CHIP/MTRBaseDevice_Internal.h
  src/darwin/Framework/CHIP/MTRDeviceController.mm
  src/darwin/Framework/CHIP/MTRDeviceController_Internal.h
Labels: darwin, review - approved

#23909 [IC-Device] Add Accessor class for ClientMonitoring Cluster
  src/app/clusters/client-monitoring-server/client-monitoring-server.cpp
  src/app/util/ClientMonitoringRegistrationTable.cpp
  src/app/util/ClientMonitoringRegistrationTable.h
  src/lib/core/CHIPConfig.h
Labels: lib, app, review - approved, core, icd

#24089 [Silabs] Fixing the CI for mg12+wf200
  .github/workflows/examples-efr32.yaml
Labels: hotfix, review - pending

#24036 [silabs] wi-fi provisioning for efr32 in build command
  examples/light-switch-app/silabs/efr32/BUILD.gn
  examples/lighting-app/silabs/efr32/BUILD.gn
  examples/lock-app/silabs/efr32/BUILD.gn
  examples/thermostat/efr32/BUILD.gn
  examples/window-app/silabs/efr32/BUILD.gn
  src/platform/silabs/NetworkCommissioningWiFiDriver.cpp
Labels: examples, platform, review - approved

#24066 YAML test parser
  scripts/tests/test_yaml_parser.py
  scripts/tests/yamltests/BUILD.gn
  scripts/tests/yamltests/__init__.py
  scripts/tests/yamltests/constraints.py
  scripts/tests/yamltests/definitions.py
  scripts/tests/yamltests/fixes.py
  scripts/tests/yamltests/parser.py
  scripts/tests/yamltests/setup.py
  scripts/tests/yamltests/test_spec_definitions.py
Labels: scripts, review - approved

#24100 Update ZAP to tip.
  integrations/docker/images/chip-build/Dockerfile
  integrations/docker/images/chip-build/version
Labels: review - approved

#24102 Bump job timeout for Darwin tests build apps part.
  .github/workflows/tests.yaml
Labels: github, workflows, review - approved

#24093 Fix management of the mNumReportsInFlight count in reporting engine.
  src/app/ReadHandler.cpp
  src/app/ReadHandler.h
  src/app/reporting/Engine.cpp
Labels: app, review - approved

#24071 Auto-generate availability annotations for Darwin.
  .github/workflows/zap_regeneration.yaml
  .github/workflows/zap_templates.yaml
  src/darwin/Framework/CHIP/templates/MTRBaseClusters.zapt
  src/darwin/Framework/CHIP/templates/MTRClusterConstants.zapt
  src/darwin/Framework/CHIP/templates/MTRClusters.zapt
  src/darwin/Framework/CHIP/templates/MTRCommandPayloadsObjc.zapt
  src/darwin/Framework/CHIP/templates/MTRStructsObjc.zapt
  src/darwin/Framework/CHIP/templates/availability.yaml
  src/darwin/Framework/CHIP/templates/templates.json
  src/darwin/Framework/CHIP/zap-generated/MTRBaseClusters.h
  src/darwin/Framework/CHIP/zap-generated/MTRClusterConstants.h
  src/darwin/Framework/CHIP/zap-generated/MTRClusters.h
  src/darwin/Framework/CHIP/zap-generated/MTRCommandPayloadsObjc.h
  src/darwin/Framework/CHIP/zap-generated/MTRStructsObjc.h
Labels: darwin, github, workflows, review - pending, fast track

#24106 add mNumReportsInFlight check test when failing to send report
  src/app/tests/TestReadInteraction.cpp
  src/transport/raw/tests/NetworkTestHelpers.h
Labels: transport, app, review - pending, fast track, tests

#24114 Fix management of the mNumReportsInFlight count in reporting engine. (#24093)
  src/app/ReadHandler.cpp
  src/app/ReadHandler.h
  src/app/reporting/Engine.cpp
  src/app/tests/TestReadInteraction.cpp
  src/transport/raw/tests/NetworkTestHelpers.h
Labels: transport, app, fast track, tests, ACCEPTED for 1.0 master

#24061 [ICD] Client-side device communication notification plumbing
  src/app/BufferedReadCallback.h
  src/app/ClusterStateCache.h
  src/app/InteractionModelEngine.cpp
  src/app/ReadClient.cpp
  src/app/ReadClient.h
  src/darwin/Framework/CHIP/MTRBaseSubscriptionCallback.h
  src/darwin/Framework/CHIP/MTRBaseSubscriptionCallback.mm
  src/darwin/Framework/CHIP/MTRDevice.h
  src/darwin/Framework/CHIP/MTRDevice.mm
Labels: darwin, app, review - approved, icd

#24113 Add a test for a subscription trying to send reports on a defunct session.
  src/app/tests/TestReadInteraction.cpp
Labels: app, review - pending, fast track, tests

#24119 Update ZAP to tip.
  integrations/docker/images/chip-build/Dockerfile
  integrations/docker/images/chip-build/version
Labels: integrations, review - pending, fast track

#24110 [darwin-framework-tool] Add back colored logging
  examples/darwin-framework-tool/BUILD.gn
  examples/darwin-framework-tool/logging/logging.h
  examples/darwin-framework-tool/logging/logging.mm
  examples/darwin-framework-tool/main.mm
Labels: examples, darwin, review - pending, fast track

#24111 [darwin-framework-tool] The stack is not properly turned off on timeout
  examples/darwin-framework-tool/commands/common/CHIPCommandBridge.mm
Labels: examples, darwin, review - pending, fast track

#24116 Set the right versions for the initial Darwin API in availability.yaml.
  .github/workflows/zap_regeneration.yaml
  .github/workflows/zap_templates.yaml
  src/darwin/Framework/CHIP/templates/MTRBaseClusters.zapt
  src/darwin/Framework/CHIP/templates/MTRClusters.zapt
  src/darwin/Framework/CHIP/templates/availability.yaml
  src/darwin/Framework/CHIP/zap-generated/MTRBaseClusters.h
  src/darwin/Framework/CHIP/zap-generated/MTRClusterConstants.h
  src/darwin/Framework/CHIP/zap-generated/MTRClusters.h
  src/darwin/Framework/CHIP/zap-generated/MTRCommandPayloadsObjc.h
  src/darwin/Framework/CHIP/zap-generated/MTRStructsObjc.h
Labels: darwin, github, workflows, review - pending, fast track

#24123 Fix some Darwin deprecation messages to use the right names.
  src/darwin/Framework/CHIP/templates/MTRClusterConstants.zapt
  src/darwin/Framework/CHIP/zap-generated/MTRClusterConstants.h
Labels: darwin, review - pending, fast track

#24125 Update ZAP to tip.
  integrations/docker/images/chip-build/Dockerfile
  integrations/docker/images/chip-build/version
Labels: integrations, review - approved

#24137 Explicitly list out renames due to acronym casing changes.
  src/darwin/Framework/CHIP/templates/availability.yaml
Labels: darwin, review - approved

#24121 [1.0] Fix memory leak in test.
  src/app/tests/TestReadInteraction.cpp
Labels: app, tests, ACCEPTED for 1.0 master, This is a 1.0 cherrypick

#24141 Update ZAP to tip.
  integrations/docker/images/chip-build/Dockerfile
  integrations/docker/images/chip-build/version
Labels: integrations, review - approved

#24160 Update ZAP to tip.
  integrations/docker/images/chip-build/Dockerfile
  integrations/docker/images/chip-build/version
Labels: integrations, review - pending, fast track

#24162 basic_information: change the name of emberAfBasicInformationClusterServerInitCallback
  src/app/clusters/basic-information/basic-information.cpp
  src/app/clusters/basic-information/basic-information.h
Labels: review - pending, fast track

#24163 Go back to using the storage key 1.0 used for group fabric info.
  src/credentials/GroupDataProviderImpl.cpp
  src/lib/support/CommonPersistentData.h
  src/lib/support/DefaultStorageKeyAllocator.h
Labels: lib, review - approved, support

#24094 [darwin] Add back the colored output with additional informations for…
  src/platform/logging/BUILD.gn
  src/platform/logging/impl/stdio/darwin/Logging.cpp
Labels: platform, review - pending, fast track

#24108 [Silabs] BLE bringup on the SiWx917 board
  examples/platform/silabs/SiWx917/SiWx917/rsi_if.c
  src/platform/silabs/BLEManagerImpl.h
  src/platform/silabs/SiWx917/BLEManagerImpl.cpp
  src/platform/silabs/SiWx917/bluetooth/wfx_sl_ble_init.c
  src/platform/silabs/SiWx917/bluetooth/wfx_sl_ble_init.h
  third_party/silabs/SiWx917_sdk.gni
Labels: examples, platform, review - approved

#24171 Add flake8 checker to chip-build Docker image
  integrations/docker/images/chip-build/Dockerfile
  integrations/docker/images/chip-build/version
Labels: integrations, review - approved

#24181 Parallelize zap_convert_all.py.
  scripts/tools/zap/convert.py
  scripts/tools/zap/generate.py
  scripts/tools/zap/run_zaptool.sh
  scripts/tools/zap_convert_all.py
Labels: scripts, review - approved

#24152 Add Descriptor cluster to ota-provider example app.
  examples/ota-provider-app/ota-provider-common/ota-provider-app.matter
  examples/ota-provider-app/ota-provider-common/ota-provider-app.zap
  zzz_generated/ota-provider-app/zap-generated/endpoint_config.h
  zzz_generated/ota-provider-app/zap-generated/gen_config.h
Labels: examples, review - approved

#24131 [Telink] Update Telink Docker image (Zephyr update)
  integrations/docker/images/chip-build-telink/Dockerfile
  integrations/docker/images/chip-build/version
Labels: integrations, review - approved

#24087 Improve network commissioning setup in bridge-app.
  examples/bridge-app/linux/main.cpp
Labels: examples, review - approved

#24156 Resolve issue when adding same index with different credential type.
  src/app/clusters/door-lock-server/door-lock-server.cpp
Labels: app, review - approved

#24166 chip-cert tool: Fix OpenSSL Object Reuse and Double-Free
  src/tools/chip-cert/CertUtils.cpp
  src/tools/chip-cert/Cmd_ConvertCert.cpp
  src/tools/chip-cert/Cmd_GenAttCert.cpp
  src/tools/chip-cert/Cmd_GenCD.cpp
  src/tools/chip-cert/Cmd_GenCert.cpp
  src/tools/chip-cert/Cmd_PrintCert.cpp
  src/tools/chip-cert/Cmd_ResignCert.cpp
  src/tools/chip-cert/KeyUtils.cpp
  src/tools/chip-cert/chip-cert.h
Labels: tools, review - approved

#24196 [zephyr] Kconfig cleanup
  config/nrfconnect/chip-module/Kconfig
  config/nrfconnect/chip-module/Kconfig.defaults
  config/nrfconnect/chip-module/Kconfig.features
  config/telink/chip-module/Kconfig
  config/zephyr/Kconfig
  src/test_driver/nrfconnect/prj.conf
Labels: config, review - approved, test driver

#24046 Fixes in tv-casting-app to allow setting custom Setup Passcodes and backgrounding the app on iOS
  examples/tv-casting-app/android/args.gni
  examples/tv-casting-app/darwin/MatterTvCastingBridge/MatterTvCastingBridge.xcodeproj/project.pbxproj
  examples/tv-casting-app/darwin/MatterTvCastingBridge/MatterTvCastingBridge/AppParameters.h
  examples/tv-casting-app/darwin/MatterTvCastingBridge/MatterTvCastingBridge/CastingServerBridge.h
  examples/tv-casting-app/darwin/MatterTvCastingBridge/MatterTvCastingBridge/CastingServerBridge.mm
  examples/tv-casting-app/darwin/MatterTvCastingBridge/MatterTvCastingBridge/CommissionableDataProviderImpl.hpp
  examples/tv-casting-app/darwin/MatterTvCastingBridge/MatterTvCastingBridge/CommissionableDataProviderImpl.mm
  examples/tv-casting-app/darwin/TvCasting/TvCasting/TvCastingApp.swift
  examples/tv-casting-app/darwin/args.gni
  examples/tv-casting-app/tv-casting-common/include/CHIPProjectAppConfig.h
Labels: examples, review - approved, tv-casting
