Repository project-chip/connectedhomeip, pull requests merged in 2022-10, with the labels that each got.

#22809 [ESP32] Add Kconfig Option for TestEventTrigger
  config/esp32/components/chip/Kconfig
  examples/platform/esp32/common/Esp32AppServer.cpp
Labels: examples, platform, config, review - pending, fast track

#22958 Update persistence to handle app uninstalls.
  examples/tv-app/android/App/common-api/src/main/aidl/com/matter/tv/app/api/SupportedCluster.aidl
  examples/tv-app/android/App/common-api/src/main/java/com/matter/tv/app/api/Clusters.java
  examples/tv-app/android/App/content-app/src/main/AndroidManifest.xml
  examples/tv-app/android/App/content-app/src/main/java/com/example/contentapp/AttributeHolder.java
  examples/tv-app/android/App/content-app/src/main/java/com/example/contentapp/MainActivity.java
  examples/tv-app/android/App/content-app/src/main/java/com/example/contentapp/receiver/MatterCommandReceiver.java
  examples/tv-app/android/App/platform-app/src/main/AndroidManifest.xml
  examples/tv-app/android/App/platform-app/src/main/java/com/matter/tv/server/handlers/ContentAppEndpointManagerImpl.java
  examples/tv-app/android/App/platform-app/src/main/java/com/matter/tv/server/model/ContentApp.java
  examples/tv-app/android/App/platform-app/src/main/java/com/matter/tv/server/receivers/ContentAppDiscoveryService.java
  examples/tv-app/android/App/platform-app/src/main/java/com/matter/tv/server/service/AppPlatformService.java
  examples/tv-app/android/App/platform-app/src/main/java/com/matter/tv/server/service/ContentAppAgentService.java
  examples/tv-app/android/App/platform-app/src/main/java/com/matter/tv/server/service/ResponseRegistry.java
  examples/tv-app/android/App/platform-app/src/main/java/com/matter/tv/server/utils/EndpointsDataStore.java
  examples/tv-app/android/App/platform-app/src/main/java/com/matter/tv/server/utils/ResourceUtils.java
  examples/tv-app/android/include/target-navigator/TargetNavigatorManager.cpp
  examples/tv-app/android/include/target-navigator/TargetNavigatorManager.h
  examples/tv-app/android/java/AppImpl.h
  examples/tv-app/android/java/ContentAppCommandDelegate.cpp
Labels: examples, review - approved

#22962 Add 'code' and 'tests' options to build_coverage.sh
  scripts/build_coverage.sh
Labels: scripts, review - approved

#22978 [Darwin] MTRBaseSubscriptionCallback OnDone callback being called async can lead to crashes
  src/darwin/Framework/CHIP/MTRBaseSubscriptionCallback.mm
Labels: darwin, review - approved

#22998 In emberAfEndpointConfigure() change endpoint ID to a uint16_t
  src/app/clusters/on-off-server/on-off-server.cpp
  src/app/clusters/on-off-server/on-off-server.h
  src/app/util/attribute-storage.cpp
Labels: app, review - approved

#22999 Pass the right constant to ArmFailSafe.
  src/app/server/CommissioningWindowManager.cpp
Labels: review - approved

#23002 Forgot a generated file for the new bridge app
  zzz_generated/dynamic-bridge-app/zap-generated/af-gen-event.h
Labels: hotfix, review - pending

#22920 [CI] Changes target board for silabs CI
  .github/workflows/examples-efr32.yaml
  scripts/build/build/targets.py
  scripts/build/builders/efr32.py
  scripts/build/testdata/all_targets_except_host.txt
  scripts/build/testdata/build_all_except_host.txt
  scripts/build/testdata/glob_star_targets_except_host.txt
Labels: scripts, github, workflows, review - pending, fast track

#22987 Increase chef GCB Bootstrap timeout to 45 Minutes
  integrations/cloudbuild/chef.yaml
Labels: integrations, Cherrypick into 1.0

#22988 [1.0 cherrypick][Infineon] Implement TestEventTrigger delegate for OTA query
  examples/lighting-app/infineon/cyw30739/src/main.cpp
  examples/lock-app/infineon/cyw30739/src/main.cpp
Labels: examples, Cherrypick into 1.0

#23000 Document the rendezvousInformation field of SetupPayload better.
  src/setup_payload/SetupPayload.h
Labels: setup payload, review - pending, fast track

#22955 Fabric-scoped and fabric-sensitive updates for IDL
  examples/all-clusters-app/all-clusters-common/all-clusters-app.matter
  examples/all-clusters-minimal-app/all-clusters-common/all-clusters-minimal-app.matter
  examples/bridge-app/bridge-common/bridge-app.matter
  examples/chef/devices/noip_rootnode_dimmablelight_bCwGYSDpoe.matter
  examples/chef/devices/rootnode_contactsensor_lFAGG1bfRO.matter
  examples/chef/devices/rootnode_dimmablelight_bCwGYSDpoe.matter
  examples/chef/devices/rootnode_doorlock_aNKYAreMXE.matter
  examples/chef/devices/rootnode_extendedcolorlight_8lcaaYJVAa.matter
  examples/chef/devices/rootnode_fan_7N2TobIlOX.matter
  examples/chef/devices/rootnode_flowsensor_1zVxHedlaV.matter
  examples/chef/devices/rootnode_heatingcoolingunit_ncdGai1E5a.matter
  examples/chef/devices/rootnode_humiditysensor_Xyj4gda6Hb.matter
  examples/chef/devices/rootnode_lightsensor_lZQycTFcJK.matter
  examples/chef/devices/rootnode_occupancysensor_iHyVgifZuo.matter
  examples/chef/devices/rootnode_onofflight_bbs1b7IaOV.matter
  examples/chef/devices/rootnode_onofflightswitch_FsPlMr090Q.matter
  examples/chef/devices/rootnode_onoffpluginunit_Wtf8ss5EBY.matter
  examples/chef/devices/rootnode_pressuresensor_s0qC9wLH4k.matter
  examples/chef/devices/rootnode_speaker_RpzeXdimqA.matter
  examples/chef/devices/rootnode_temperaturesensor_Qy1zkNW7c3.matter
  examples/chef/devices/rootnode_thermostat_bm3fb8dhYi.matter
  examples/chef/devices/rootnode_windowcovering_RLCxaGi9Yx.matter
  examples/dynamic-bridge-app/bridge-common/bridge-app.matter
  examples/light-switch-app/light-switch-common/light-switch-app.matter
  examples/lighting-app/lighting-common/lighting-app.matter
  examples/lighting-app/nxp/zap/lighting-on-off.matter
  examples/lock-app/lock-common/lock-app.matter
  examples/log-source-app/log-source-common/log-source-app.matter
  examples/ota-provider-app/ota-provider-common/ota-provider-app.matter
  examples/ota-requestor-app/ota-requestor-common/ota-requestor-app.matter
  examples/placeholder/linux/apps/app1/config.matter
  examples/placeholder/linux/apps/app2/config.matter
  examples/pump-app/pump-common/pump-app.matter
  examples/pump-controller-app/pump-controller-common/pump-controller-app.matter
  examples/temperature-measurement-app/esp32/main/temperature-measurement.matter
  examples/thermostat/thermostat-common/thermostat.matter
  examples/tv-app/tv-common/tv-app.matter
  examples/tv-casting-app/tv-casting-common/tv-casting-app.matter
  examples/window-app/common/window-app.matter
  scripts/idl/README.md
  scripts/idl/generators/bridge/__init__.py
  scripts/idl/generators/java/__init__.py
  scripts/idl/matter_grammar.lark
  scripts/idl/matter_idl_parser.py
  scripts/idl/matter_idl_types.py
  scripts/idl/test_matter_idl_parser.py
  scripts/idl/test_xml_parser.py
  scripts/idl/zapxml/handlers/handlers.py
  scripts/idl/zapxml/handlers/parsing.py
  src/app/zap-templates/partials/idl/structure_definition.zapt
  src/app/zap-templates/partials/idl/structure_member.zapt
  src/app/zap-templates/templates/app/MatterIDL.zapt
  src/controller/data_model/controller-clusters.matter
Labels: examples, scripts, controller, app, review - pending, fast track

#23014 Fix dynamic bridge compile warnings from gcc
  examples/dynamic-bridge-app/linux/include/data-model/DataModel.h
Labels: examples, hotfix

#23016 Notice file
  NOTICE
Labels: documentation, fast track

#23018 [QPG] Updating README's to QMatter repo link
  examples/lighting-app/qpg/APPLICATION.md
  examples/lock-app/qpg/APPLICATION.md
  examples/platform/qpg/README.md
Labels: examples, platform, qpg, review - pending, fast track

#23022 Make the app name known for dynamic bridge
  scripts/build/builders/host.py
Labels: review - pending

#23021 [v1.0 cherrypick] [QPG] Updating README's to QMatter repo link
  examples/lighting-app/qpg/APPLICATION.md
  examples/lock-app/qpg/APPLICATION.md
  examples/platform/qpg/README.md
Labels: examples, platform, qpg, Cherrypick into 1.0

#23003 [nrfconnect] Make flashing_script hex selection reliable
  config/nrfconnect/app/copy-flashbundle-firmware.cmake
  config/nrfconnect/app/flashing.cmake
  config/zephyr/app/flashing.cmake
Labels: config, review - approved

#22994 [Feature] Make dispatch event time threshold configurable
  src/include/platform/CHIPDeviceConfig.h
  src/include/platform/internal/GenericPlatformManagerImpl.ipp
Labels: platform, review - approved

#22964 Extending Media attribute subscriptions to iOS tv-casting-app/framework
  examples/tv-casting-app/android/App/app/src/main/jni/com/chip/casting/TvCastingApp.java
  examples/tv-casting-app/android/App/app/src/main/jni/cpp/MatterCallbackHandler-JNI.cpp
  examples/tv-casting-app/android/App/app/src/main/jni/cpp/TvCastingApp-JNI.cpp
  examples/tv-casting-app/darwin/MatterTvCastingBridge/MatterTvCastingBridge.xcodeproj/project.pbxproj
  examples/tv-casting-app/darwin/MatterTvCastingBridge/MatterTvCastingBridge/CastingServerBridge.h
  examples/tv-casting-app/darwin/MatterTvCastingBridge/MatterTvCastingBridge/CastingServerBridge.mm
  examples/tv-casting-app/darwin/MatterTvCastingBridge/MatterTvCastingBridge/ContentLauncherTypes.h
  examples/tv-casting-app/darwin/MatterTvCastingBridge/MatterTvCastingBridge/ContentLauncherTypes.mm
  examples/tv-casting-app/darwin/MatterTvCastingBridge/MatterTvCastingBridge/MatterError.h
  examples/tv-casting-app/darwin/MatterTvCastingBridge/MatterTvCastingBridge/MatterError.mm
  examples/tv-casting-app/darwin/MatterTvCastingBridge/MatterTvCastingBridge/MediaPlaybackTypes.h
  examples/tv-casting-app/darwin/MatterTvCastingBridge/MatterTvCastingBridge/MediaPlaybackTypes.mm
  examples/tv-casting-app/darwin/MatterTvCastingBridge/MatterTvCastingBridge/TargetNavigatorTypes.h
  examples/tv-casting-app/darwin/MatterTvCastingBridge/MatterTvCastingBridge/TargetNavigatorTypes.mm
  examples/tv-casting-app/darwin/TvCasting/TvCasting.xcodeproj/project.pbxproj
  examples/tv-casting-app/darwin/TvCasting/TvCasting/ClusterSelectorView.swift
  examples/tv-casting-app/darwin/TvCasting/TvCasting/CommissioningView.swift
  examples/tv-casting-app/darwin/TvCasting/TvCasting/CommissioningViewModel.swift
  examples/tv-casting-app/darwin/TvCasting/TvCasting/MediaPlayerView.swift
  examples/tv-casting-app/darwin/TvCasting/TvCasting/MediaPlayerViewModel.swift
Labels: examples, review - approved, tv-casting

#23011 [Ameba] Implement Z2 flashing through script
  examples/chef/chef.py
Labels: review - approved

#23013 [Ameba] Replace BLE C2 notify with indicate as required by Matter Spec
  integrations/docker/images/chip-build-ameba/Dockerfile
  integrations/docker/images/chip-build/version
Labels: review - approved

#22829 [Linux]Add build arg to allow external logging implementation
  src/lib/core/core.gni
  src/platform/Linux/BUILD.gn
Labels: platform, linux, lib, review - approved, core

#22823 Add an API to stop a DNS-SD browse operation.
  examples/chip-tool/commands/pairing/PairingCommand.cpp
  src/app/tests/suites/commands/discovery/DiscoveryCommands.cpp
  src/controller/CHIPDeviceController.cpp
  src/controller/CHIPDeviceController.h
  src/controller/SetUpCodePairer.cpp
  src/controller/tests/TestCommissionableNodeController.cpp
  src/lib/dnssd/ActiveResolveAttempts.cpp
  src/lib/dnssd/ActiveResolveAttempts.h
  src/lib/dnssd/Discovery_ImplPlatform.cpp
  src/lib/dnssd/Discovery_ImplPlatform.h
  src/lib/dnssd/Resolver.h
  src/lib/dnssd/ResolverProxy.h
  src/lib/dnssd/Resolver_ImplMinimalMdns.cpp
  src/lib/dnssd/Resolver_ImplNone.cpp
  src/lib/dnssd/platform/Dnssd.h
  src/platform/Ameba/DnssdImpl.cpp
  src/platform/Darwin/DnssdContexts.cpp
  src/platform/Darwin/DnssdImpl.cpp
  src/platform/Darwin/DnssdImpl.h
  src/platform/ESP32/DnssdImpl.cpp
  src/platform/Linux/DnssdImpl.cpp
  src/platform/OpenThread/DnssdImpl.cpp
  src/platform/Tizen/DnssdImpl.cpp
  src/platform/android/DnssdImpl.cpp
  src/platform/bouffalolab/BL602/DnssdImpl.cpp
  src/platform/fake/DnssdImpl.cpp
  src/platform/mt793x/DnssdImpl.cpp
  src/platform/tests/TestDnssd.cpp
  src/platform/webos/DnssdImpl.cpp
Labels: tools, examples, platform, darwin, esp32, linux, lib, controller, app, review - approved, tests

#22718 Remove Poll Control cluster from Door Lock
  src/app/zap-templates/zcl/data-model/chip/matter-devices.xml
Labels: app, review - approved

#22768 Rename CHIP to Matter for ESP32 doc
  examples/lock-app/esp32/README.md
  examples/temperature-measurement-app/esp32/README.md
Labels: examples, review - pending, fast track

#23019 Filter by vendor/product id (if available) in SetUpCodePairer.
  src/controller/SetUpCodePairer.cpp
  src/controller/SetUpCodePairer.h
Labels: controller, review - approved

#22757 [scripts] created bootstrap script for ZAP
  scripts/tools/zap/convert.py
  scripts/tools/zap/generate.py
  scripts/tools/zap/run_zaptool.sh
  scripts/tools/zap/zap_bootstrap.sh
  scripts/tools/zap_convert_all.py
  scripts/tools/zap_regen_all.py
Labels: scripts, review - approved

#23034 Reduce targets for cloudbuild smoketest
  integrations/cloudbuild/smoke-test.yaml
Labels: hotfix, integrations

#23027 Updated CSA Official CD Signing Certificates
  credentials/development/cd-certs/CSA_Matter_CD_Signing_Key_001.cert.der
  credentials/development/cd-certs/CSA_Matter_CD_Signing_Key_001.cert.pem
  credentials/development/cd-certs/CSA_Matter_CD_Signing_Key_002.cert.der
  credentials/development/cd-certs/CSA_Matter_CD_Signing_Key_002.cert.pem
  credentials/development/cd-certs/CSA_Matter_CD_Signing_Key_003.cert.der
  credentials/development/cd-certs/CSA_Matter_CD_Signing_Key_003.cert.pem
  credentials/development/cd-certs/CSA_Matter_CD_Signing_Key_004.cert.der
  credentials/development/cd-certs/CSA_Matter_CD_Signing_Key_004.cert.pem
  credentials/development/cd-certs/CSA_Matter_CD_Signing_Key_005.cert.der
  credentials/development/cd-certs/CSA_Matter_CD_Signing_Key_005.cert.pem
  credentials/development/cd-certs/CSA_Matter_Certificate_and_Testing_Root.cert.der
  credentials/development/cd-certs/CSA_Matter_Certificate_and_Testing_Root.cert.pem
  credentials/development/cd-certs/Chip-Test-CD-Cert.pem
  src/app/tests/suites/credentials/TestHarnessDACProvider.cpp
  src/credentials/attestation_verifier/DefaultDeviceAttestationVerifier.cpp
  src/credentials/examples/DeviceAttestationCredsExample.cpp
Labels: app, review - approved, tests, Cherrypick into 1.0

#23023 Update more data types to match spec
  scripts/idl/generators/types.py
Labels: scripts, review - approved

#22966 Add contact-sensor-app
  .github/workflows/examples-k32w.yaml
  config/k32w/toolchain/BUILD.gn
  examples/contact-sensor-app/contact-sensor-common/BUILD.gn
  examples/contact-sensor-app/contact-sensor-common/contact-sensor-app.matter
  examples/contact-sensor-app/contact-sensor-common/contact-sensor-app.zap
  examples/contact-sensor-app/nxp/k32w/k32w0/.gn
  examples/contact-sensor-app/nxp/k32w/k32w0/BUILD.gn
  examples/contact-sensor-app/nxp/k32w/k32w0/README.md
  examples/contact-sensor-app/nxp/k32w/k32w0/args.gni
  examples/contact-sensor-app/nxp/k32w/k32w0/build_overrides
  examples/contact-sensor-app/nxp/k32w/k32w0/include/CHIPProjectConfig.h
  examples/contact-sensor-app/nxp/k32w/k32w0/include/FreeRTOSConfig.h
  examples/contact-sensor-app/nxp/k32w/k32w0/main/AppTask.cpp
  examples/contact-sensor-app/nxp/k32w/k32w0/main/ContactSensorManager.cpp
  examples/contact-sensor-app/nxp/k32w/k32w0/main/ZclCallbacks.cpp
  examples/contact-sensor-app/nxp/k32w/k32w0/main/include/AppEvent.h
  examples/contact-sensor-app/nxp/k32w/k32w0/main/include/AppTask.h
  examples/contact-sensor-app/nxp/k32w/k32w0/main/include/ContactSensorManager.h
  examples/contact-sensor-app/nxp/k32w/k32w0/main/include/app_config.h
  examples/contact-sensor-app/nxp/k32w/k32w0/main/main.cpp
  examples/contact-sensor-app/nxp/k32w/k32w0/third_party/connectedhomeip
  scripts/build/build/targets.py
  scripts/build/builders/k32w.py
  scripts/build/testdata/all_targets_except_host.txt
  scripts/build/testdata/build_all_except_host.txt
  scripts/build/testdata/glob_star_targets_except_host.txt
  zzz_generated/contact-sensor-app/zap-generated/CHIPClientCallbacks.h
  zzz_generated/contact-sensor-app/zap-generated/CHIPClusters.h
  zzz_generated/contact-sensor-app/zap-generated/IMClusterCommandHandler.cpp
  zzz_generated/contact-sensor-app/zap-generated/PluginApplicationCallbacks.h
  zzz_generated/contact-sensor-app/zap-generated/access.h
  zzz_generated/contact-sensor-app/zap-generated/af-gen-event.h
  zzz_generated/contact-sensor-app/zap-generated/callback-stub.cpp
  zzz_generated/contact-sensor-app/zap-generated/endpoint_config.h
  zzz_generated/contact-sensor-app/zap-generated/gen_config.h
  zzz_generated/contact-sensor-app/zap-generated/gen_tokens.h
Labels: examples, scripts, config, github, workflows, review - pending, fast track

#22898 Making xmls consistent with specs
  src/app/zap-templates/zcl/data-model/chip/general-commissioning-cluster.xml
  src/app/zap-templates/zcl/data-model/chip/general-diagnostics-cluster.xml
  src/app/zap-templates/zcl/data-model/chip/operational-credentials-cluster.xml
  src/app/zap-templates/zcl/data-model/chip/time-format-localization-cluster.xml
  zzz_generated/app-common/app-common/zap-generated/attribute-id.h
Labels: app, review - approved

#23046 [ESP32] Reclaim the BLE memory as heap
  src/platform/ESP32/nimble/BLEManagerImpl.cpp
Labels: platform, esp32, review - approved

#23039 [tinycrypt] bugfix: Missing return on success
  src/crypto/CHIPCryptoPALTinyCrypt.cpp
Labels: crypto, review - approved

#22705 [EFR32] Implement the CommisionableData Provider
  examples/chef/efr32/BUILD.gn
  examples/light-switch-app/efr32/BUILD.gn
  examples/light-switch-app/efr32/README.md
  examples/lighting-app/efr32/BUILD.gn
  examples/lighting-app/efr32/README.md
  examples/lock-app/efr32/BUILD.gn
  examples/lock-app/efr32/README.md
  examples/persistent-storage/efr32/README.md
  examples/platform/efr32/BUILD.gn
  examples/platform/efr32/BaseApplication.cpp
  examples/platform/efr32/EFR32DeviceDataProvider.cpp
  examples/platform/efr32/EFR32DeviceDataProvider.h
  examples/platform/efr32/matter_config.cpp
  examples/shell/efr32/BUILD.gn
  examples/thermostat/efr32/BUILD.gn
  examples/thermostat/efr32/README.md
  examples/window-app/efr32/BUILD.gn
  examples/window-app/efr32/README.md
  scripts/examples/gn_efr32_example.sh
  scripts/tools/silabs/FactoryDataProvider.py
  scripts/tools/silabs/README.md
  scripts/tools/silabs/base_matter_mg12_nvm3.s37
  scripts/tools/silabs/base_matter_mg24_nvm3.s37
  src/app/server/OnboardingCodesUtil.cpp
  src/app/server/OnboardingCodesUtil.h
  src/platform/EFR32/EFR32Config.cpp
  src/platform/EFR32/EFR32Config.h
  src/platform/EFR32/args.gni
  src/platform/EFR32/wifi_args.gni
  src/test_driver/efr32/BUILD.gn
  third_party/silabs/efr32_sdk.gni
Labels: examples, scripts, platform, efr32, app, review - approved, test driver

#23038 Remove Silicon Labs licenses from connectedhomeip repo
  src/app/clusters/barrier-control-server/barrier-control-server.cpp
  src/app/clusters/barrier-control-server/barrier-control-server.h
  src/app/clusters/channel-server/channel-server.cpp
  src/app/clusters/color-control-server/color-control-server.cpp
  src/app/clusters/color-control-server/color-control-server.h
  src/app/clusters/content-launch-server/content-launch-server.cpp
  src/app/clusters/groups-client/groups-client.cpp
  src/app/clusters/groups-server/groups-server.cpp
  src/app/clusters/ias-zone-client/ias-zone-client.cpp
  src/app/clusters/ias-zone-client/ias-zone-client.h
  src/app/clusters/ias-zone-server/ias-zone-server-tokens.h
  src/app/clusters/ias-zone-server/ias-zone-server.cpp
  src/app/clusters/ias-zone-server/ias-zone-server.h
  src/app/clusters/identify-server/identify-server.cpp
  src/app/clusters/level-control/level-control.cpp
  src/app/clusters/level-control/level-control.h
  src/app/clusters/occupancy-sensor-server/occupancy-sensor-server.cpp
  src/app/clusters/on-off-server/on-off-server.cpp
  src/app/clusters/scenes-client/scenes-client.cpp
  src/app/clusters/scenes-client/scenes-client.h
  src/app/clusters/scenes/scenes-tokens.h
  src/app/clusters/scenes/scenes.cpp
  src/app/clusters/scenes/scenes.h
  src/app/reporting/reporting.h
  src/app/util/af-event.cpp
  src/app/util/af-event.h
  src/app/util/af-types.h
  src/app/util/af.h
  src/app/util/attribute-metadata.h
  src/app/util/attribute-size-util.cpp
  src/app/util/attribute-storage.cpp
  src/app/util/attribute-storage.h
  src/app/util/attribute-table.cpp
  src/app/util/attribute-table.h
  src/app/util/common.h
  src/app/util/config.h
  src/app/util/debug-printing-test.h
  src/app/util/debug-printing.h
  src/app/util/message.cpp
  src/app/util/time-util.h
  src/app/util/types_stub.h
  src/app/util/util.cpp
  src/app/util/util.h
  src/app/zap-templates/zcl/zcl.xsd
Labels: app, review - approved

#23032 [Tizen] Release BLE when no longer needed
  src/platform/Linux/BLEManagerImpl.cpp
  src/platform/Tizen/BLEManagerImpl.cpp
  src/platform/Tizen/BLEManagerImpl.h
Labels: platform, linux, review - approved

#23053 Remove unused CHIP_DEVICE_CONFIG_EVENT_LOGGING_PROD_BUFFER_SIZE define.
  src/include/platform/CHIPDeviceConfig.h
  src/platform/ESP32/CHIPDevicePlatformConfig.h
  src/platform/Infineon/CYW30739/CHIPDevicePlatformConfig.h
Labels: review - pending, fast track

#22956 Add Chef Color Temperature Light
  examples/chef/devices/rootnode_colortemperaturelight_hbUnzYVeyn.matter
  examples/chef/devices/rootnode_colortemperaturelight_hbUnzYVeyn.zap
  zzz_generated/chef-rootnode_colortemperaturelight_hbUnzYVeyn/zap-generated/CHIPClientCallbacks.h
  zzz_generated/chef-rootnode_colortemperaturelight_hbUnzYVeyn/zap-generated/CHIPClusters.h
  zzz_generated/chef-rootnode_colortemperaturelight_hbUnzYVeyn/zap-generated/IMClusterCommandHandler.cpp
  zzz_generated/chef-rootnode_colortemperaturelight_hbUnzYVeyn/zap-generated/PluginApplicationCallbacks.h
  zzz_generated/chef-rootnode_colortemperaturelight_hbUnzYVeyn/zap-generated/access.h
  zzz_generated/chef-rootnode_colortemperaturelight_hbUnzYVeyn/zap-generated/af-gen-event.h
  zzz_generated/chef-rootnode_colortemperaturelight_hbUnzYVeyn/zap-generated/callback-stub.cpp
  zzz_generated/chef-rootnode_colortemperaturelight_hbUnzYVeyn/zap-generated/endpoint_config.h
  zzz_generated/chef-rootnode_colortemperaturelight_hbUnzYVeyn/zap-generated/gen_config.h
  zzz_generated/chef-rootnode_colortemperaturelight_hbUnzYVeyn/zap-generated/gen_tokens.h
Labels: examples, review - pending, fast track

#23072 [Cherry-pick][EFR32] Implement the CommisionableData Provider (#22705)
  examples/chef/efr32/BUILD.gn
  examples/light-switch-app/efr32/BUILD.gn
  examples/lighting-app/efr32/BUILD.gn
  examples/lock-app/efr32/BUILD.gn
  examples/platform/efr32/BUILD.gn
  examples/platform/efr32/BaseApplication.cpp
  examples/platform/efr32/EFR32DeviceDataProvider.cpp
  examples/platform/efr32/EFR32DeviceDataProvider.h
  examples/platform/efr32/matter_config.cpp
  examples/shell/efr32/BUILD.gn
  examples/thermostat/efr32/BUILD.gn
  examples/window-app/efr32/BUILD.gn
  scripts/examples/gn_efr32_example.sh
  scripts/tools/silabs/FactoryDataProvider.py
  scripts/tools/silabs/README.md
  scripts/tools/silabs/base_matter_mg12_nvm3.s37
  scripts/tools/silabs/base_matter_mg24_nvm3.s37
  src/app/server/OnboardingCodesUtil.cpp
  src/app/server/OnboardingCodesUtil.h
  src/platform/EFR32/EFR32Config.cpp
  src/platform/EFR32/EFR32Config.h
  src/platform/EFR32/args.gni
  src/platform/EFR32/wifi_args.gni
  src/test_driver/efr32/BUILD.gn
  third_party/silabs/efr32_sdk.gni
Labels: examples, scripts, platform, efr32, app, test driver

#23073 Remove af-gen-event.zapt
  src/app/zap-templates/templates/app/af-gen-event.zapt
Labels: review - approved

#23062 Fix in-place save for DefaultSessionResumptionStorage
  src/protocols/secure_channel/DefaultSessionResumptionStorage.cpp
  src/protocols/secure_channel/SimpleSessionResumptionStorage.h
  src/protocols/secure_channel/tests/TestDefaultSessionResumptionStorage.cpp
Labels: review - approved

#23085 [nrfconnect] Added info about CHIPTool commissioning to readme
  examples/all-clusters-app/nrfconnect/README.md
  examples/all-clusters-minimal-app/nrfconnect/README.md
  examples/lighting-app/nrfconnect/README.md
  examples/lock-app/nrfconnect/README.md
  examples/pump-app/nrfconnect/README.md
  examples/pump-controller-app/nrfconnect/README.md
  examples/window-app/nrfconnect/README.md
Labels: examples, review - approved

#23096 Fix ZAP CI failure.
  zzz_generated/chef-rootnode_colortemperaturelight_hbUnzYVeyn/zap-generated/endpoint_config.h
Labels: hotfix

#23095 Bootstrap should sync submodules.
  scripts/bootstrap.sh
Labels: scripts, review - approved

#23086 Removed few unused config options
  config/esp32/components/chip/Kconfig
  src/include/platform/CHIPDeviceConfig.h
  src/platform/ESP32/CHIPDevicePlatformConfig.h
  src/platform/ESP32/CHIPPlatformConfig.h
Labels: review - approved

#23105 [EFR32] Adds lwip ipv6 MLD support for neighborhood discovery protocol
  src/lwip/efr32/lwipopts-rs911x.h
  src/lwip/efr32/lwipopts-wf200.h
  src/platform/EFR32/wifi/ethernetif.cpp
  src/platform/EFR32/wifi/lwip_netif.cpp
Labels: platform, efr32, review - approved, lwip

#23076 Better fix for crashes around MTRBaseSubscriptionCallback.
  src/darwin/Framework/CHIP/MTRBaseDevice.mm
  src/darwin/Framework/CHIP/MTRBaseSubscriptionCallback.h
  src/darwin/Framework/CHIP/MTRBaseSubscriptionCallback.mm
  src/darwin/Framework/CHIP/MTRDevice.mm
  src/darwin/Framework/CHIPTests/MTRDeviceTests.m
Labels: review - approved

#23054 Update target/variant/modifier logic in `build_examples.py`
  .github/workflows/examples-ameba.yaml
  .github/workflows/examples-bouffalolab.yaml
  .github/workflows/examples-cc13x2x7_26x2x7.yaml
  .github/workflows/examples-efr32.yaml
  .github/workflows/examples-esp32.yaml
  .github/workflows/examples-infineon.yaml
  .github/workflows/examples-k32w.yaml
  .github/workflows/examples-linux-arm.yaml
  .github/workflows/examples-linux-standalone.yaml
  .github/workflows/examples-qpg.yaml
  .github/workflows/examples-tizen.yaml
  .github/workflows/full-android.yaml
  .restyled.yaml
  .vscode/tasks.json
  integrations/cloudbuild/build-all.yaml
  integrations/cloudbuild/smoke-test.yaml
  scripts/build/BUILD.gn
  scripts/build/README.md
  scripts/build/build/__init__.py
  scripts/build/build/target.py
  scripts/build/build/targets.py
  scripts/build/build/test_target.py
  scripts/build/build_examples.py
  scripts/build/builders/host.py
  scripts/build/test.py
  scripts/build/testdata/all_targets_except_host.txt
  scripts/build/testdata/all_targets_linux_x64.txt
  scripts/build/testdata/build_all_except_host.txt
  scripts/build/testdata/build_linux_on_x64.txt
  scripts/build/testdata/dry_run_android-arm64-chip-tool.txt
  scripts/build/testdata/dry_run_efr32-brd4161a-light-rpc.txt
  scripts/build/testdata/dry_run_esp32-devkitc-light-rpc.txt
  scripts/build/testdata/dry_run_esp32-m5stack-all-clusters-minimal-rpc-ipv6only.txt
  scripts/build/testdata/dry_run_linux-arm64-chip-tool-ipv6only-clang.txt
  scripts/build/testdata/dry_run_linux-arm64-ota-requestor-nodeps-ipv6only.txt
  scripts/build/testdata/dry_run_linux-x64-all-clusters-coverage.txt
  scripts/build/testdata/dry_run_nrf-nrf52840dk-pump.txt
  scripts/build/testdata/glob_star_targets_except_host.txt
  src/test_driver/efr32/README.md
Labels: scripts, integrations, vscode, github, workflows, review - pending, fast track, test driver

#23110 Minor style and comment fixes for #23062
  src/protocols/secure_channel/tests/TestDefaultSessionResumptionStorage.cpp
Labels: review - approved

#23113 [darwin-framework-tool] Make some parts of examples/darwin-framework-…
  examples/darwin-framework-tool/BUILD.gn
Labels: examples, darwin, review - approved

#23112 [darwin-framework-tool] Update some NSLog format to works properly fo…
  examples/darwin-framework-tool/commands/pairing/DeviceControllerDelegateBridge.mm
  examples/darwin-framework-tool/commands/payload/SetupPayloadParseCommand.mm
Labels: examples, darwin, review - approved

#23126 Fix K32W build rules (ToT CI failure)
  .github/workflows/examples-k32w.yaml
  scripts/build/build/target.py
  scripts/build/build/targets.py
Labels: hotfix, scripts, github, workflows, review - pending

#23129 Use `typing.List` instead of `list` for typing annodations
  scripts/build/build/target.py
Labels: hotfix, review - pending

#23132 Fix build system unit tests
  scripts/build/build/target.py
  scripts/build/testdata/all_targets_linux_x64.txt
Labels: hotfix, scripts

#23131 Introduce a CHIP_ERROR table
  docs/ERROR_CODES.md
  scripts/error_table.py
Labels: documentation, scripts, review - approved

#21569 change for on off transitiontime feature
  src/app/clusters/level-control/level-control.cpp
  src/app/clusters/on-off-server/on-off-server.cpp
  src/darwin/Framework/CHIPTests/MTRDeviceTests.m
Labels: darwin, app, review - approved

#23100 use nullable paths for ReportCallback parameters
  examples/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/clusterclient/WildcardFragment.kt
Labels: review - pending, fast track

#23121 Add an assert to guard the FIXED_ENDPOINT_COUNT value
  src/app/util/attribute-storage.cpp
Labels: app, review - approved

#23150 Remove gen_tokens.h header as it is empty/unused code
  src/app/util/config.h
  src/app/zap-templates/app-templates.json
  src/app/zap-templates/templates/app/gen_tokens.zapt
  zzz_generated/all-clusters-app/zap-generated/gen_tokens.h
  zzz_generated/all-clusters-minimal-app/zap-generated/gen_tokens.h
  zzz_generated/bridge-app/zap-generated/gen_tokens.h
  zzz_generated/chef-noip_rootnode_dimmablelight_bCwGYSDpoe/zap-generated/gen_tokens.h
  zzz_generated/chef-rootnode_colortemperaturelight_hbUnzYVeyn/zap-generated/gen_tokens.h
  zzz_generated/chef-rootnode_contactsensor_lFAGG1bfRO/zap-generated/gen_tokens.h
  zzz_generated/chef-rootnode_dimmablelight_bCwGYSDpoe/zap-generated/gen_tokens.h
  zzz_generated/chef-rootnode_doorlock_aNKYAreMXE/zap-generated/gen_tokens.h
  zzz_generated/chef-rootnode_extendedcolorlight_8lcaaYJVAa/zap-generated/gen_tokens.h
  zzz_generated/chef-rootnode_fan_7N2TobIlOX/zap-generated/gen_tokens.h
  zzz_generated/chef-rootnode_flowsensor_1zVxHedlaV/zap-generated/gen_tokens.h
  zzz_generated/chef-rootnode_heatingcoolingunit_ncdGai1E5a/zap-generated/gen_tokens.h
  zzz_generated/chef-rootnode_humiditysensor_Xyj4gda6Hb/zap-generated/gen_tokens.h
  zzz_generated/chef-rootnode_lightsensor_lZQycTFcJK/zap-generated/gen_tokens.h
  zzz_generated/chef-rootnode_occupancysensor_iHyVgifZuo/zap-generated/gen_tokens.h
  zzz_generated/chef-rootnode_onofflight_bbs1b7IaOV/zap-generated/gen_tokens.h
  zzz_generated/chef-rootnode_onofflightswitch_FsPlMr090Q/zap-generated/gen_tokens.h
  zzz_generated/chef-rootnode_onoffpluginunit_Wtf8ss5EBY/zap-generated/gen_tokens.h
  zzz_generated/chef-rootnode_pressuresensor_s0qC9wLH4k/zap-generated/gen_tokens.h
  zzz_generated/chef-rootnode_speaker_RpzeXdimqA/zap-generated/gen_tokens.h
  zzz_generated/chef-rootnode_temperaturesensor_Qy1zkNW7c3/zap-generated/gen_tokens.h
  zzz_generated/chef-rootnode_thermostat_bm3fb8dhYi/zap-generated/gen_tokens.h
  zzz_generated/chef-rootnode_windowcovering_RLCxaGi9Yx/zap-generated/gen_tokens.h
  zzz_generated/contact-sensor-app/zap-generated/gen_tokens.h
  zzz_generated/controller-clusters/zap-generated/gen_tokens.h
  zzz_generated/dynamic-bridge-app/zap-generated/gen_tokens.h
  zzz_generated/light-switch-app/zap-generated/gen_tokens.h
  zzz_generated/lighting-app/nxp/zap-generated/gen_tokens.h
  zzz_generated/lighting-app/zap-generated/gen_tokens.h
  zzz_generated/lock-app/zap-generated/gen_tokens.h
  zzz_generated/log-source-app/zap-generated/gen_tokens.h
  zzz_generated/ota-provider-app/zap-generated/gen_tokens.h
  zzz_generated/ota-requestor-app/zap-generated/gen_tokens.h
  zzz_generated/placeholder/app1/zap-generated/gen_tokens.h
  zzz_generated/placeholder/app2/zap-generated/gen_tokens.h
  zzz_generated/pump-app/zap-generated/gen_tokens.h
  zzz_generated/pump-controller-app/zap-generated/gen_tokens.h
  zzz_generated/temperature-measurement-app/zap-generated/gen_tokens.h
  zzz_generated/thermostat/zap-generated/gen_tokens.h
  zzz_generated/tv-app/zap-generated/gen_tokens.h
  zzz_generated/tv-casting-app/zap-generated/gen_tokens.h
  zzz_generated/window-app/zap-generated/gen_tokens.h
Labels: app, review - approved

#23157 Re-add the openCommissioningWindowWithSetupPasscode APIs on MTRDeviceand MTRBaseDevice.
  examples/darwin-framework-tool/commands/pairing/OpenCommissioningWindowCommand.mm
  src/darwin/Framework/CHIP/MTRBaseDevice.h
  src/darwin/Framework/CHIP/MTRBaseDevice.mm
  src/darwin/Framework/CHIP/MTRDevice.h
  src/darwin/Framework/CHIP/MTRDevice.mm
  src/darwin/Framework/CHIP/MTRDeviceController.mm
  src/darwin/Framework/CHIP/MTRDeviceController_Internal.h
  src/darwin/Framework/CHIP/MTRDeviceOverXPC.m
  src/darwin/Framework/CHIP/MTRSetupPayload.h
  src/darwin/Framework/CHIP/MTRSetupPayload.mm
Labels: review - pending, fast track

#23058 [EFR32] Adds fix for WF200 IPv4 Hard-Fault issue
  examples/platform/efr32/wf200/host_if.cpp
Labels: examples, platform, review - approved

#23152 Add a build target for 'verbose minmdns'
  integrations/cloudbuild/build-all.yaml
  integrations/cloudbuild/smoke-test.yaml
  scripts/build/build/targets.py
  scripts/build/builders/host.py
  scripts/build/testdata/all_targets_linux_x64.txt
Labels: scripts, integrations, review - approved

#23048 Add the initial skeleton of Matter Controller Java CLI App
  build/chip/java/rules.gni
  examples/java-matter-controller/.gitignore
  examples/java-matter-controller/.gn
  examples/java-matter-controller/BUILD.gn
  examples/java-matter-controller/Manifest.txt
  examples/java-matter-controller/README.md
  examples/java-matter-controller/args.gni
  examples/java-matter-controller/build_overrides
  examples/java-matter-controller/include/CHIPProjectAppConfig.h
  examples/java-matter-controller/java/src/com/matter/controller/Main.java
  examples/java-matter-controller/third_party/connectedhomeip
  scripts/build/build/targets.py
  scripts/build/builders/android.py
  scripts/build/testdata/all_targets_linux_x64.txt
Labels: examples, scripts, gn, review - approved

#23170 [nrfconnect] Fixed script for generating factory data
  config/nrfconnect/chip-module/generate_factory_data.cmake
Labels: config, review - approved

#23165 [ESP32] Release BTDM memory rather than just releasing BLE memory.
  examples/platform/esp32/common/CommonDeviceCallbacks.cpp
Labels: examples, platform, review - approved

#23172 [nrfconnect] Fix setting pincode based on kconfig.
  src/platform/nrfconnect/CHIPDevicePlatformConfig.h
Labels: platform, nrf connect, review - approved

#23171 [nrfconnect] Use device instead of device label for QSPI
  src/platform/nrfconnect/OTAImageProcessorImpl.cpp
Labels: platform, nrf connect, review - approved

#23087 [Infineon] Code Cleanup for Lighting App and All Clusters App
  examples/all-clusters-app/infineon/psoc6/src/AppTask.cpp
  examples/all-clusters-minimal-app/infineon/psoc6/src/AppTask.cpp
  examples/lighting-app/infineon/psoc6/src/AppTask.cpp
Labels: examples, review - approved

#23178 Add error outparam to MTRSetupPayload's qrCodeString.
  src/darwin/Framework/CHIP/MTRDeviceController.mm
  src/darwin/Framework/CHIP/MTRSetupPayload.h
  src/darwin/Framework/CHIP/MTRSetupPayload.mm
Labels: darwin, review - pending, fast track

#23153 Fix spellcheck on markdown
  .spellcheck.yml
  docs/ERROR_CODES.md
  scripts/error_table.py
Labels: documentation, scripts, review - approved

#23079 Remove clusters_header and cluster_header from app templates
  src/app/zap-templates/app-templates.json
Labels: app, review - approved

#23056 Stop excluding MTRBaseClusters files from restyling.
  .restyled.yaml
Labels: review - approved

#23166 Cleanup: Remove unused config option CHIP_DEVICE_CONFIG_LOG_PROVISIONING_HASH
  config/esp32/components/chip/Kconfig
  src/include/platform/CHIPDeviceConfig.h
  src/platform/Ameba/CHIPDevicePlatformConfig.h
  src/platform/Beken/CHIPDevicePlatformConfig.h
  src/platform/Darwin/CHIPDevicePlatformConfig.h
  src/platform/EFR32/CHIPDevicePlatformConfig.h
  src/platform/ESP32/CHIPDevicePlatformConfig.h
  src/platform/Infineon/CYW30739/CHIPDevicePlatformConfig.h
  src/platform/Infineon/PSOC6/CHIPDevicePlatformConfig.h
  src/platform/Linux/CHIPDevicePlatformConfig.h
  src/platform/Tizen/CHIPDevicePlatformConfig.h
  src/platform/Zephyr/CHIPDevicePlatformConfig.h
  src/platform/android/CHIPDevicePlatformConfig.h
  src/platform/bouffalolab/BL602/CHIPDevicePlatformConfig.h
  src/platform/bouffalolab/BL702/CHIPDevicePlatformConfig.h
  src/platform/cc13x2_26x2/CHIPDevicePlatformConfig.h
  src/platform/cc32xx/CHIPDevicePlatformConfig.h
  src/platform/mbed/CHIPDevicePlatformConfig.h
  src/platform/mt793x/CHIPDevicePlatformConfig.h
  src/platform/nrfconnect/CHIPDevicePlatformConfig.h
  src/platform/nxp/k32w/k32w0/CHIPDevicePlatformConfig.h
  src/platform/nxp/mw320/CHIPDevicePlatformConfig.h
  src/platform/qpg/CHIPDevicePlatformConfig.h
  src/platform/telink/CHIPDevicePlatformConfig.h
  src/platform/webos/CHIPDevicePlatformConfig.h
Labels: review - approved

#23175 rpc: remove the fallback options for device info in rpc service
  examples/common/pigweed/rpc_services/Device.h
Labels: examples, review - approved

#23156 [Tizen] Do not notify the resolve error of dnssd
  src/platform/Tizen/DnssdImpl.cpp
Labels: platform, review - approved

#23111 [compiler] Add -Wshorten-64-to-32 compiler flag for is_clang
  build/config/compiler/BUILD.gn
  examples/common/tracing/TraceDecoder.cpp
  examples/darwin-framework-tool/commands/provider/OTASoftwareUpdateInteractive.mm
  examples/platform/linux/Options.cpp
  examples/providers/DeviceInfoProviderImpl.cpp
  scripts/idl/generators/java/ChipClustersCpp.jinja
  src/controller/java/AndroidOperationalCredentialsIssuer.cpp
  src/controller/java/CHIPDeviceController-JNI.cpp
  src/controller/java/templates/CHIPClustersWrite-JNI.zapt
  src/controller/java/templates/CHIPReadCallbacks-src.zapt
  src/controller/java/templates/partials/encode_value.zapt
  src/controller/java/zap-generated/CHIPClustersWrite-JNI.cpp
  src/controller/java/zap-generated/CHIPReadCallbacks.cpp
  src/controller/tests/data_model/TestRead.cpp
  src/include/platform/internal/GenericConfigurationManagerImpl.ipp
  src/lib/shell/commands/Base64.cpp
  src/platform/Darwin/SystemTimeSupport.cpp
  src/platform/android/AndroidConfig.cpp
  src/platform/android/CHIPP256KeypairBridge.cpp
  src/platform/android/CommissionableDataProviderImpl.cpp
  src/platform/android/DiagnosticDataProviderImpl.cpp
  src/platform/android/DnssdImpl.cpp
  src/setup_payload/java/SetupPayloadParser-JNI.cpp
  third_party/boringssl/repo/BUILD.gn
  third_party/editline/BUILD.gn
  third_party/mbedtls/mbedtls.gni
  third_party/nlunit-test/BUILD.gn
Labels: examples, scripts, setup payload, platform, darwin, lib, controller, gn, review - approved, shell

#23154 Move codegen.py invoke logic into a gni template
  build/chip/chip_codegen.gni
  examples/dynamic-bridge-app/linux/BUILD.gn
  scripts/codegen.py
  scripts/idl/generators/__init__.py
  scripts/idl/test_generators.py
  src/controller/data_model/BUILD.gn
Labels: examples, scripts, controller, gn, review - pending, fast track

#23191 [1.0 Cherry Pick] Add Chef Color Temperature Light (#22956)
  examples/chef/devices/rootnode_colortemperaturelight_hbUnzYVeyn.matter
  examples/chef/devices/rootnode_colortemperaturelight_hbUnzYVeyn.zap
  zzz_generated/chef-rootnode_colortemperaturelight_hbUnzYVeyn/zap-generated/CHIPClientCallbacks.h
  zzz_generated/chef-rootnode_colortemperaturelight_hbUnzYVeyn/zap-generated/CHIPClusters.h
  zzz_generated/chef-rootnode_colortemperaturelight_hbUnzYVeyn/zap-generated/IMClusterCommandHandler.cpp
  zzz_generated/chef-rootnode_colortemperaturelight_hbUnzYVeyn/zap-generated/PluginApplicationCallbacks.h
  zzz_generated/chef-rootnode_colortemperaturelight_hbUnzYVeyn/zap-generated/access.h
  zzz_generated/chef-rootnode_colortemperaturelight_hbUnzYVeyn/zap-generated/af-gen-event.h
  zzz_generated/chef-rootnode_colortemperaturelight_hbUnzYVeyn/zap-generated/callback-stub.cpp
  zzz_generated/chef-rootnode_colortemperaturelight_hbUnzYVeyn/zap-generated/endpoint_config.h
  zzz_generated/chef-rootnode_colortemperaturelight_hbUnzYVeyn/zap-generated/gen_config.h
  zzz_generated/chef-rootnode_colortemperaturelight_hbUnzYVeyn/zap-generated/gen_tokens.h
Labels: examples, Cherrypick into 1.0

#23174 Chef to support disabling IPv4 on ESP32
  examples/chef/chef.py
  examples/chef/cicd_config.json
  examples/chef/esp32/sdkconfig.defaults
  examples/chef/esp32/sdkconfig_rpc.defaults
Labels: examples, review - pending, fast track

#23203 Cherry-Pick - Chef to support disabling IPv4 on ESP32 (#23174)
  examples/chef/chef.py
  examples/chef/cicd_config.json
  examples/chef/esp32/sdkconfig.defaults
  examples/chef/esp32/sdkconfig_rpc.defaults
Labels: examples

#23217 Cherry-pick [ESP32] Release BTDM memory rather than just releasing BLE memory. (#23165)
  examples/platform/esp32/common/CommonDeviceCallbacks.cpp
Labels: examples, platform

#23179 Fix EP0 in dynamic bridge app
  examples/dynamic-bridge-app/linux/DynamicDevice.cpp
  examples/dynamic-bridge-app/linux/main.cpp
Labels: examples, review - pending, fast track

#23233 Another android fix
  examples/tv-casting-app/tv-casting-common/src/PersistenceManager.cpp
Labels: review - pending

#23226 Mark event paths as urgent when doing node-wide subscriptions in Matter.framework.
  src/darwin/Framework/CHIP/MTRBaseDevice.mm
  src/darwin/Framework/CHIP/MTRDevice.mm
Labels: review - approved

#23231 [chip-tool] Regression from #22708. Revert chip::Platform::CopyString…
  examples/chip-tool/commands/clusters/ComplexArgument.h
Labels: tools, examples, review - approved

#23145 [Infineon] Fix CYW30739 KVS.
  src/platform/Infineon/CYW30739/KeyValueStoreManagerImpl.cpp
  src/platform/Infineon/CYW30739/KeyValueStoreManagerImpl.h
Labels: platform, review - pending, fast track

#23031 use docker image 0.6.03 and change BLE notification to indication
  .devcontainer/devcontainer.json
  .github/workflows/bloat_check.yaml
  .github/workflows/build.yaml
  .github/workflows/chef.yaml
  .github/workflows/cirque.yaml
  .github/workflows/doxygen.yaml
  .github/workflows/examples-ameba.yaml
  .github/workflows/examples-cc13x2x7_26x2x7.yaml
  .github/workflows/examples-efr32.yaml
  .github/workflows/examples-esp32.yaml
  .github/workflows/examples-infineon.yaml
  .github/workflows/examples-k32w.yaml
  .github/workflows/examples-linux-arm.yaml
  .github/workflows/examples-linux-imx.yaml
  .github/workflows/examples-linux-standalone.yaml
  .github/workflows/examples-mbed.yaml
  .github/workflows/examples-mw320.yaml
  .github/workflows/examples-nrfconnect.yaml
  .github/workflows/examples-qpg.yaml
  .github/workflows/examples-telink.yaml
  .github/workflows/examples-tizen.yaml
  .github/workflows/full-android.yaml
  .github/workflows/fuzzing-build.yaml
  .github/workflows/qemu.yaml
  .github/workflows/release_artifacts.yaml
  .github/workflows/smoketest-android.yaml
  .github/workflows/tests.yaml
  .github/workflows/unit_integration_test.yaml
  .github/workflows/zap_regeneration.yaml
  .github/workflows/zap_templates.yaml
  integrations/cloudbuild/build-all.yaml
  integrations/cloudbuild/chef.yaml
  integrations/cloudbuild/smoke-test.yaml
  src/platform/Ameba/BLEManagerImpl.cpp
Labels: integrations, platform, vscode, github, workflows, review - approved

#22395 [SVE2] Add timer compensation in level control cluster
  src/app/clusters/level-control/level-control.cpp
Labels: app, review - approved

#23199 Update DNS-SD advertisements on fail-safe timeout
  src/app/clusters/operational-credentials-server/operational-credentials-server.cpp
Labels: app, review - approved

#23177 [darwin] Allow build setting to override the target-arch
  build/config/mac/mac_sdk.gni
  examples/darwin-framework-tool/BUILD.gn
  scripts/build/build_darwin_framework.py
  src/darwin/Framework/chip_xcode_build_connector.sh
Labels: examples, scripts, darwin, gn, review - approved

#23244 [K32W0] Disable ble in shell-app due to size constraints
  examples/shell/nxp/k32w/k32w0/args.gni
Labels: review - approved

#23237 Disable shorten 64 to 32 error for arm64 (do not make it fatal)
  .github/workflows/examples-linux-arm.yaml
  build/config/compiler/BUILD.gn
Labels: github, workflows, gn, review - pending, fast track

#23224 [Simulated Test] Simulated node does not have a chance to send the in…
  examples/placeholder/linux/include/TestCommand.h
Labels: examples, review - approved

#23198 Add support for running YAML tests against bridge-app.
  .github/workflows/darwin-tests.yaml
  .github/workflows/tests.yaml
  scripts/tests/chiptest/__init__.py
  scripts/tests/chiptest/linux.py
  scripts/tests/chiptest/test_definition.py
  scripts/tests/run_test_suite.py
Labels: review - approved

#23235 Setup `keep_trailing_newline=True` in python jinja templates
  scripts/idl/generators/__init__.py
  scripts/idl/test_generators.py
  scripts/idl/tests/outputs/cluster_struct_attribute/bridge/BridgeClustersImpl.h
  scripts/idl/tests/outputs/cluster_struct_attribute/bridge/BridgeGlobalStructs.h
  scripts/idl/tests/outputs/cluster_struct_attribute/bridge/DemoCluster.h
  scripts/idl/tests/outputs/cluster_struct_attribute/jni/DemoClusterClient-InvokeSubscribeImpl.cpp
  scripts/idl/tests/outputs/cluster_struct_attribute/jni/DemoClusterClient-ReadImpl.cpp
  scripts/idl/tests/outputs/global_struct_attribute/bridge/BridgeClustersImpl.h
  scripts/idl/tests/outputs/global_struct_attribute/bridge/BridgeGlobalStructs.h
  scripts/idl/tests/outputs/global_struct_attribute/bridge/DemoCluster.h
  scripts/idl/tests/outputs/global_struct_attribute/jni/DemoClusterClient-InvokeSubscribeImpl.cpp
  scripts/idl/tests/outputs/global_struct_attribute/jni/DemoClusterClient-ReadImpl.cpp
  scripts/idl/tests/outputs/optional_argument/jni/MyClusterClient-InvokeSubscribeImpl.cpp
  scripts/idl/tests/outputs/optional_argument/jni/MyClusterClient-ReadImpl.cpp
  scripts/idl/tests/outputs/several_clusters/bridge/BridgeClustersImpl.h
  scripts/idl/tests/outputs/several_clusters/bridge/BridgeGlobalStructs.h
  scripts/idl/tests/outputs/several_clusters/bridge/First.h
  scripts/idl/tests/outputs/several_clusters/bridge/Second.h
  scripts/idl/tests/outputs/several_clusters/bridge/Third.h
  scripts/idl/tests/outputs/several_clusters/jni/FirstClient-InvokeSubscribeImpl.cpp
  scripts/idl/tests/outputs/several_clusters/jni/FirstClient-ReadImpl.cpp
  scripts/idl/tests/outputs/several_clusters/jni/SecondClient-InvokeSubscribeImpl.cpp
  scripts/idl/tests/outputs/several_clusters/jni/SecondClient-ReadImpl.cpp
  scripts/idl/tests/outputs/several_clusters/jni/ThirdClient-InvokeSubscribeImpl.cpp
  scripts/idl/tests/outputs/several_clusters/jni/ThirdClient-ReadImpl.cpp
  scripts/idl/tests/outputs/simple_attribute/bridge/BridgeClustersImpl.h
  scripts/idl/tests/outputs/simple_attribute/bridge/BridgeGlobalStructs.h
  scripts/idl/tests/outputs/simple_attribute/bridge/MyCluster.h
  scripts/idl/tests/outputs/simple_attribute/jni/MyClusterClient-InvokeSubscribeImpl.cpp
  scripts/idl/tests/outputs/simple_attribute/jni/MyClusterClient-ReadImpl.cpp
Labels: scripts, review - pending, fast track

#23236 Fix EFR cloudbuild smoke tests, add more targets
  integrations/cloudbuild/smoke-test.yaml
  scripts/build/build/target.py
  scripts/build/build/targets.py
  scripts/build/testdata/all_targets_linux_x64.txt
Labels: scripts, integrations, review - approved

#23246 Fix session selection to actually select the most recently active session.
  src/transport/SessionManager.cpp
  src/transport/tests/TestSessionManager.cpp
Labels: transport, review - approved

#23257 Remove fixed versioning for git in cirque
  integrations/docker/ci-only-images/chip-cirque-device-base/Dockerfile
Labels: hotfix, integrations

#23243 [TraceDecoder] Add decrypted data
  examples/common/tracing/TraceDecoder.cpp
Labels: examples, review - approved

#23255 [Telink] use src/app/chip_data_model.cmake for data model inclusions
  examples/light-switch-app/telink/CMakeLists.txt
  examples/lighting-app/telink/CMakeLists.txt
  examples/ota-requestor-app/telink/CMakeLists.txt
Labels: examples, review - approved

#23265 Updating link order for Darwin platform
  src/lib/address_resolve/AddressResolve_DefaultImpl.cpp
Labels: lib, fast track

#23193 [crypto] Initial crypto backend using PSA crypto API
  src/crypto/BUILD.gn
  src/crypto/CHIPCryptoPALPSA.cpp
  src/crypto/tests/CHIPCryptoPALTest.cpp
Labels: crypto, review - pending, fast track

#23240 Fix delivery of urgent events to actually work correctly.
  src/app/ReadHandler.cpp
  src/app/ReadHandler.h
  src/app/reporting/Engine.cpp
  src/app/reporting/Engine.h
  src/app/tests/TestReadInteraction.cpp
Labels: app, review - approved, tests

#23259 Add API_AVAILABLE annotations to the new Darwin APIs.
  .github/workflows/darwin.yaml
  examples/darwin-framework-tool/BUILD.gn
  scripts/build/build_darwin_framework.py
  src/darwin/Framework/CHIP/MTRBaseDevice.h
  src/darwin/Framework/CHIP/MTRDevice.h
  src/darwin/Framework/CHIP/MTRDeviceController.h
  src/darwin/Framework/CHIP/MTRSetupPayload.h
  src/darwin/Framework/CHIP/templates/MTRBaseClusters.zapt
  src/darwin/Framework/CHIP/templates/MTRClusterConstants.zapt
  src/darwin/Framework/CHIP/templates/MTRClusters.zapt
  src/darwin/Framework/CHIP/templates/MTRStructsObjc-src.zapt
  src/darwin/Framework/CHIP/templates/MTRStructsObjc.zapt
  src/darwin/Framework/CHIP/zap-generated/MTRBaseClusters.h
  src/darwin/Framework/CHIP/zap-generated/MTRClusterConstants.h
  src/darwin/Framework/CHIP/zap-generated/MTRClusters.h
  src/darwin/Framework/CHIP/zap-generated/MTRStructsObjc.h
  src/darwin/Framework/CHIP/zap-generated/MTRStructsObjc.mm
Labels: examples, scripts, darwin, github, workflows, review - pending, fast track

#23239 [SVE2] Cherry Pick Matter Official CDs and CD Trusted Storage Implementation
  credentials/development/cd-certs/CSA_Matter_CD_Signing_Key_001.cert.der
  credentials/development/cd-certs/CSA_Matter_CD_Signing_Key_001.cert.pem
  credentials/development/cd-certs/CSA_Matter_CD_Signing_Key_002.cert.der
  credentials/development/cd-certs/CSA_Matter_CD_Signing_Key_002.cert.pem
  credentials/development/cd-certs/CSA_Matter_CD_Signing_Key_003.cert.der
  credentials/development/cd-certs/CSA_Matter_CD_Signing_Key_003.cert.pem
  credentials/development/cd-certs/CSA_Matter_CD_Signing_Key_004.cert.der
  credentials/development/cd-certs/CSA_Matter_CD_Signing_Key_004.cert.pem
  credentials/development/cd-certs/CSA_Matter_CD_Signing_Key_005.cert.der
  credentials/development/cd-certs/CSA_Matter_CD_Signing_Key_005.cert.pem
  credentials/development/cd-certs/CSA_Matter_Certificate_and_Testing_Root.cert.der
  credentials/development/cd-certs/CSA_Matter_Certificate_and_Testing_Root.cert.pem
  credentials/development/cd-certs/Chip-Test-CD-Cert.der
  credentials/development/cd-certs/Chip-Test-CD-Cert.pem
  examples/chip-tool/commands/common/CHIPCommand.cpp
  examples/chip-tool/commands/common/CHIPCommand.h
  examples/chip-tool/commands/common/CredentialIssuerCommands.h
  examples/chip-tool/commands/example/ExampleCredentialIssuerCommands.h
  examples/common/tracing/decoder/interaction_model/DecoderCustomLog.cpp
  examples/platform/linux/NamedPipeCommands.cpp
  integrations/docker/ci-only-images/chip-cirque-device-base/Dockerfile
  src/app/tests/suites/credentials/TestHarnessDACProvider.cpp
  src/credentials/attestation_verifier/DefaultDeviceAttestationVerifier.cpp
  src/credentials/attestation_verifier/DefaultDeviceAttestationVerifier.h
  src/credentials/attestation_verifier/DeviceAttestationVerifier.h
  src/credentials/attestation_verifier/FileAttestationTrustStore.cpp
  src/credentials/attestation_verifier/FileAttestationTrustStore.h
  src/credentials/examples/DeviceAttestationCredsExample.cpp
  src/credentials/tests/TestCertificationDeclaration.cpp
  src/darwin/Framework/CHIP/MTRAttestationTrustStoreBridge.mm
  src/darwin/Framework/CHIP/MTRControllerFactory.h
  src/darwin/Framework/CHIP/MTRControllerFactory.mm
  src/lib/core/CHIPConfig.h
  src/lib/support/tests/BUILD.gn
Labels: tools, examples, integrations, platform, darwin, lib, app, tests, support, core

#23182 Update build instructions for Java Matter Controller
  examples/java-matter-controller/README.md
Labels: examples, review - approved

#23266 Get RotatingDeviceIdUniqueId from ConfigurationManager in GenericDeviceInstanceInfoProvider
  src/include/platform/ConfigurationManager.h
  src/include/platform/internal/GenericConfigurationManagerImpl.h
  src/include/platform/internal/GenericConfigurationManagerImpl.ipp
  src/include/platform/internal/GenericDeviceInstanceInfoProvider.ipp
Labels: bug, platform, review - approved

#23160 [EFR32] Adds fix for IPv6 SLAAC DAD process loopback suppression
  src/lwip/efr32/lwipopts-rs911x.h
  src/lwip/efr32/lwipopts-wf200.h
  src/platform/EFR32/wifi/ethernetif.cpp
Labels: platform, efr32, review - approved, lwip

#23293 Fix duplicate light app gen
  scripts/tools/zap_regen_all.py
  zzz_generated/lighting-app/nxp/zap-generated/endpoint_config.h
Labels: hotfix, scripts

#23283 Add 64 bit requirement to debian
  docs/guides/BUILDING.md
Labels: documentation, review - pending, fast track

#23281 [Matter.framework] Allow more platforms for the Matter.framework
  src/darwin/Framework/Matter.xcodeproj/project.pbxproj
Labels: darwin, review - approved

#23292 [Dnssd] Sort IPs by scores for commissionable node discovery
  src/lib/address_resolve/AddressResolve_DefaultImpl.cpp
  src/lib/address_resolve/AddressResolve_DefaultImpl.h
  src/lib/dnssd/BUILD.gn
  src/lib/dnssd/Discovery_ImplPlatform.cpp
  src/lib/dnssd/IPAddressSorter.cpp
  src/lib/dnssd/IPAddressSorter.h
  src/lib/dnssd/IncrementalResolve.cpp
Labels: lib, review - approved

#23299 Remove PluginCallbacks.h header, remove ClientInit callbacks (weak linkage)
  scripts/idl/generators/cpp/application/PluginApplicationCallbacksHeader.jinja
  scripts/idl/generators/cpp/application/__init__.py
  scripts/idl/tests/outputs/several_clusters/cpp-app/PluginApplicationCallbacks.h
  src/app/common/templates/templates.json
  src/app/util/attribute-storage.cpp
  src/app/zap-templates/templates/app/callbacks/PluginCallbacks.zapt
  zzz_generated/app-common/app-common/zap-generated/callbacks/PluginCallbacks.h
Labels: review - approved

#23274 Show CHIP app selector when staring Linux/Darwin debugger
  .devcontainer/devcontainer.json
  .vscode/extensions.json
  .vscode/launch.json
Labels: vscode, review - approved

#23289 Remove not used CHIP time service config defines
  examples/all-clusters-app/cc13x2x7_26x2x7/main/include/CHIPProjectConfig.h
  examples/all-clusters-app/infineon/psoc6/include/CHIPProjectConfig.h
  examples/all-clusters-app/nxp/mw320/include/CHIPProjectConfig.h
  examples/all-clusters-minimal-app/cc13x2x7_26x2x7/main/include/CHIPProjectConfig.h
  examples/all-clusters-minimal-app/infineon/psoc6/include/CHIPProjectConfig.h
  examples/chef/efr32/include/CHIPProjectConfig.h
  examples/contact-sensor-app/nxp/k32w/k32w0/include/CHIPProjectConfig.h
  examples/light-switch-app/efr32/include/CHIPProjectConfig.h
  examples/lighting-app/bouffalolab/bl602/include/CHIPProjectConfig.h
  examples/lighting-app/bouffalolab/bl702/include/CHIPProjectConfig.h
  examples/lighting-app/efr32/include/CHIPProjectConfig.h
  examples/lighting-app/genio/include/CHIPProjectConfig.h
  examples/lighting-app/infineon/psoc6/include/CHIPProjectConfig.h
  examples/lighting-app/nxp/k32w/k32w0/include/CHIPProjectConfig.h
  examples/lighting-app/qpg/include/CHIPProjectConfig.h
  examples/lock-app/cc13x2x7_26x2x7/main/include/CHIPProjectConfig.h
  examples/lock-app/cc32xx/main/include/CHIPProjectConfig.h
  examples/lock-app/efr32/include/CHIPProjectConfig.h
  examples/lock-app/infineon/psoc6/include/CHIPProjectConfig.h
  examples/lock-app/nxp/k32w/k32w0/include/CHIPProjectConfig.h
  examples/lock-app/qpg/include/CHIPProjectConfig.h
  examples/persistent-storage/cc13x2x7_26x2x7/include/CHIPProjectConfig.h
  examples/persistent-storage/efr32/include/CHIPProjectConfig.h
  examples/persistent-storage/infineon/psoc6/include/CHIPProjectConfig.h
  examples/persistent-storage/qpg/include/CHIPProjectConfig.h
  examples/pigweed-app/efr32/include/CHIPProjectConfig.h
  examples/pump-app/cc13x2x7_26x2x7/main/include/CHIPProjectConfig.h
  examples/pump-controller-app/cc13x2x7_26x2x7/main/include/CHIPProjectConfig.h
  examples/shell/cc13x2x7_26x2x7/include/CHIPProjectConfig.h
  examples/shell/efr32/include/CHIPProjectConfig.h
  examples/shell/genio/include/CHIPProjectConfig.h
  examples/shell/nxp/k32w/k32w0/include/CHIPProjectConfig.h
  examples/shell/qpg/include/CHIPProjectConfig.h
  examples/thermostat/efr32/include/CHIPProjectConfig.h
  examples/window-app/efr32/include/CHIPProjectConfig.h
  src/include/platform/CHIPDeviceConfig.h
  src/platform/Ameba/CHIPDevicePlatformConfig.h
  src/platform/Beken/CHIPDevicePlatformConfig.h
  src/platform/Darwin/CHIPDevicePlatformConfig.h
  src/platform/EFR32/CHIPDevicePlatformConfig.h
  src/platform/ESP32/CHIPDevicePlatformConfig.h
  src/platform/Linux/CHIPDevicePlatformConfig.h
  src/platform/Tizen/CHIPDevicePlatformConfig.h
  src/platform/Zephyr/CHIPDevicePlatformConfig.h
  src/platform/android/CHIPDevicePlatformConfig.h
  src/platform/bouffalolab/BL602/CHIPDevicePlatformConfig.h
  src/platform/mbed/CHIPDevicePlatformConfig.h
  src/platform/mt793x/CHIPDevicePlatformConfig.h
  src/platform/nrfconnect/CHIPDevicePlatformConfig.h
  src/platform/nxp/k32w/k32w0/CHIPDevicePlatformConfig.h
  src/platform/nxp/mw320/CHIPDevicePlatformConfig.h
  src/platform/qpg/CHIPDevicePlatformConfig.h
  src/platform/telink/CHIPDevicePlatformConfig.h
  src/platform/webos/CHIPDevicePlatformConfig.h
  src/test_driver/efr32/include/CHIPProjectConfig.h
Labels: examples, platform, darwin, efr32, esp32, linux, nrf connect, zephyr, review - approved, telink, test driver

#23248 EFR32 lock event generation using matter shell
  examples/lock-app/efr32/BUILD.gn
  examples/lock-app/efr32/include/AppTask.h
  examples/lock-app/efr32/include/EventHandlerLibShell.h
  examples/lock-app/efr32/src/AppTask.cpp
  examples/lock-app/efr32/src/EventHandlerLibShell.cpp
Labels: examples, review - approved

#23071 Set of fixes to unit-tests code
  src/app/tests/TestReadInteraction.cpp
  src/controller/tests/TestEventChunking.cpp
  src/controller/tests/data_model/TestRead.cpp
  src/inet/tests/TestInetCommonPosix.cpp
  src/lib/support/CHIPArgParser.cpp
  src/lib/support/jsontlv/TlvJson.cpp
  src/lib/support/tests/TestBytesToHex.cpp
  src/lib/support/tests/TestCHIPArgParser.cpp
  src/transport/raw/tests/TestPeerAddress.cpp
Labels: transport, lib, inet, controller, app, review - approved, tests, support

#23263 [v1.0 cherrypick] Fix session selection to actually select the most recently active session. (#23246)
  src/transport/SessionManager.cpp
  src/transport/tests/TestSessionManager.cpp
Labels: transport, This is a 1.0 cherrypick

#23300 Make GetMRPBaseTimeout method const
  src/transport/GroupSession.h
  src/transport/SecureSession.h
  src/transport/Session.h
  src/transport/UnauthenticatedSessionTable.h
Labels: transport, review - approved

#23301 [Darwin] Use the default MRP values instead of overriding them
  src/platform/Darwin/CHIPPlatformConfig.h
Labels: platform, darwin, review - approved

#23271 [v1.0 cherrypick] Fix delivery of urgent events to actually work correctly. (#23240)
  src/app/ReadHandler.cpp
  src/app/ReadHandler.h
  src/app/reporting/Engine.cpp
  src/app/reporting/Engine.h
  src/app/tests/TestReadInteraction.cpp
Labels: app, tests

#23302 [SetUpCodePairer] Pass the MRP parameters to RendezvousParameters in …
  src/controller/CHIPDeviceController.cpp
  src/controller/SetUpCodePairer.cpp
  src/protocols/secure_channel/RendezvousParameters.h
Labels: controller, review - approved

#22224 [python] Implement PyChipError for passing detailed error infomation to Python API
  src/controller/python/BUILD.gn
  src/controller/python/ChipCommissionableNodeController-ScriptBinding.cpp
  src/controller/python/ChipDeviceController-Discovery.cpp
  src/controller/python/ChipDeviceController-IssueNocChain.cpp
  src/controller/python/ChipDeviceController-ScriptBinding.cpp
  src/controller/python/ChipDeviceController-ScriptDevicePairingDelegate.cpp
  src/controller/python/ChipDeviceController-ScriptDevicePairingDelegate.h
  src/controller/python/OpCredsBinding.cpp
  src/controller/python/chip/CertificateAuthority.py
  src/controller/python/chip/ChipCommissionableNodeCtrl.py
  src/controller/python/chip/ChipDeviceCtrl.py
  src/controller/python/chip/ChipStack.py
  src/controller/python/chip/clusters/Attribute.py
  src/controller/python/chip/clusters/Command.py
  src/controller/python/chip/clusters/attribute.cpp
  src/controller/python/chip/clusters/command.cpp
  src/controller/python/chip/discovery/NodeResolution.cpp
  src/controller/python/chip/discovery/__init__.py
  src/controller/python/chip/discovery/library_handle.py
  src/controller/python/chip/discovery/types.py
  src/controller/python/chip/interaction_model/Delegate.cpp
  src/controller/python/chip/internal/CommissionerImpl.cpp
  src/controller/python/chip/native/CommonStackInit.cpp
  src/controller/python/chip/native/PyChipError.cpp
  src/controller/python/chip/native/PyChipError.h
  src/controller/python/chip/native/__init__.py
  src/controller/python/chip/setup_payload/Generator.cpp
  src/controller/python/chip/setup_payload/Parser.cpp
  src/controller/python/chip/utils/DeviceProxyUtils.cpp
  src/controller/python/test/test_scripts/base.py
Labels: controller, review - pending, fast track

#23319 Fix log level in ble
  src/ble/BLEEndPoint.cpp
Labels: review - approved

#23296 Fix bridge app path in tests yaml (bridge-app does not exist, only bridge)
  .github/workflows/darwin-tests.yaml
  .github/workflows/tests.yaml
Labels: github, workflows, review - pending, fast track

#23317 [Tizen] Enable ble configuration in chip-tool for tizen platform
  examples/chip-tool/commands/common/CHIPCommand.cpp
Labels: tools, examples, review - approved

#23321 Split cloudbuild build-all.yaml into 2 separate build commands to avoid length overflow
  integrations/cloudbuild/build-all.yaml
Labels: hotfix

#23318 [nrfconnect] Updated nRF Connect SDK to 2.1.1
  integrations/docker/images/chip-build-nrf-platform/Dockerfile
  integrations/docker/images/chip-build/version
Labels: integrations, review - approved

#23316 Mark UnauthenticatedSession active when initiating a PASE session
  src/protocols/secure_channel/PASESession.cpp
Labels: review - approved

#23325 Clean up some unused ember methods from codegen & headers
  src/app/util/af-event.cpp
  src/app/util/af.h
  src/app/util/attribute-size-util.cpp
  src/app/util/attribute-storage.cpp
  src/app/util/attribute-storage.h
  src/app/util/attribute-table.cpp
  src/app/util/common.h
  src/app/util/message.cpp
  src/app/util/time-util.h
  src/app/util/types_stub.h
  src/app/util/util.cpp
  src/app/zap-templates/templates/app/callback-stub-src.zapt
  src/app/zap-templates/templates/app/callback.zapt
  zzz_generated/all-clusters-app/zap-generated/callback-stub.cpp
  zzz_generated/all-clusters-minimal-app/zap-generated/callback-stub.cpp
  zzz_generated/app-common/app-common/zap-generated/callback.h
  zzz_generated/bridge-app/zap-generated/callback-stub.cpp
  zzz_generated/chef-noip_rootnode_dimmablelight_bCwGYSDpoe/zap-generated/callback-stub.cpp
  zzz_generated/chef-rootnode_colortemperaturelight_hbUnzYVeyn/zap-generated/callback-stub.cpp
  zzz_generated/chef-rootnode_contactsensor_lFAGG1bfRO/zap-generated/callback-stub.cpp
  zzz_generated/chef-rootnode_dimmablelight_bCwGYSDpoe/zap-generated/callback-stub.cpp
  zzz_generated/chef-rootnode_doorlock_aNKYAreMXE/zap-generated/callback-stub.cpp
  zzz_generated/chef-rootnode_extendedcolorlight_8lcaaYJVAa/zap-generated/callback-stub.cpp
  zzz_generated/chef-rootnode_fan_7N2TobIlOX/zap-generated/callback-stub.cpp
  zzz_generated/chef-rootnode_flowsensor_1zVxHedlaV/zap-generated/callback-stub.cpp
  zzz_generated/chef-rootnode_heatingcoolingunit_ncdGai1E5a/zap-generated/callback-stub.cpp
  zzz_generated/chef-rootnode_humiditysensor_Xyj4gda6Hb/zap-generated/callback-stub.cpp
  zzz_generated/chef-rootnode_lightsensor_lZQycTFcJK/zap-generated/callback-stub.cpp
  zzz_generated/chef-rootnode_occupancysensor_iHyVgifZuo/zap-generated/callback-stub.cpp
  zzz_generated/chef-rootnode_onofflight_bbs1b7IaOV/zap-generated/callback-stub.cpp
  zzz_generated/chef-rootnode_onofflightswitch_FsPlMr090Q/zap-generated/callback-stub.cpp
  zzz_generated/chef-rootnode_onoffpluginunit_Wtf8ss5EBY/zap-generated/callback-stub.cpp
  zzz_generated/chef-rootnode_pressuresensor_s0qC9wLH4k/zap-generated/callback-stub.cpp
  zzz_generated/chef-rootnode_speaker_RpzeXdimqA/zap-generated/callback-stub.cpp
  zzz_generated/chef-rootnode_temperaturesensor_Qy1zkNW7c3/zap-generated/callback-stub.cpp
  zzz_generated/chef-rootnode_thermostat_bm3fb8dhYi/zap-generated/callback-stub.cpp
  zzz_generated/chef-rootnode_windowcovering_RLCxaGi9Yx/zap-generated/callback-stub.cpp
  zzz_generated/contact-sensor-app/zap-generated/callback-stub.cpp
  zzz_generated/controller-clusters/zap-generated/callback-stub.cpp
  zzz_generated/dynamic-bridge-app/zap-generated/callback-stub.cpp
  zzz_generated/light-switch-app/zap-generated/callback-stub.cpp
  zzz_generated/lighting-app/nxp/zap-generated/callback-stub.cpp
  zzz_generated/lighting-app/zap-generated/callback-stub.cpp
  zzz_generated/lock-app/zap-generated/callback-stub.cpp
  zzz_generated/log-source-app/zap-generated/callback-stub.cpp
  zzz_generated/ota-provider-app/zap-generated/callback-stub.cpp
  zzz_generated/ota-requestor-app/zap-generated/callback-stub.cpp
  zzz_generated/placeholder/app1/zap-generated/callback-stub.cpp
  zzz_generated/placeholder/app2/zap-generated/callback-stub.cpp
  zzz_generated/pump-app/zap-generated/callback-stub.cpp
  zzz_generated/pump-controller-app/zap-generated/callback-stub.cpp
  zzz_generated/temperature-measurement-app/zap-generated/callback-stub.cpp
  zzz_generated/thermostat/zap-generated/callback-stub.cpp
  zzz_generated/tv-app/zap-generated/callback-stub.cpp
  zzz_generated/tv-casting-app/zap-generated/callback-stub.cpp
  zzz_generated/window-app/zap-generated/callback-stub.cpp
Labels: app, review - approved

#23282 Fix invariant violation if we get a message without piggyback ack while expecting an ack.
  src/app/tests/TestCommandInteraction.cpp
  src/app/tests/TestReadInteraction.cpp
  src/app/tests/TestWriteInteraction.cpp
  src/messaging/ExchangeContext.cpp
  src/messaging/ReliableMessageContext.h
  src/messaging/ReliableMessageMgr.h
Labels: app, review - approved, tests

#23298 Fix active mode (fast-poll) management in CommissioningWindowManager.
  src/app/server/CommissioningWindowManager.cpp
Labels: app, review - approved

#23284 Add a private method on SystemPacketBuffer to find where its reserved space starts.
  src/system/SystemPacketBuffer.cpp
  src/system/SystemPacketBuffer.h
Labels: system, review - approved

#23337 Fix invariant violation if we get a message without piggyback ack while expecting an ack. (#23282)
  src/app/tests/TestCommandInteraction.cpp
  src/app/tests/TestReadInteraction.cpp
  src/app/tests/TestWriteInteraction.cpp
  src/messaging/ExchangeContext.cpp
  src/messaging/ReliableMessageContext.h
  src/messaging/ReliableMessageMgr.h
Labels: app, tests

#23347 [vscode] Add debug configuration for chip-all-clusters-app
  .vscode/launch.json
Labels: vscode, review - approved

#23272 Fix arch handling in chip_xcode_build_connector
  src/darwin/Framework/Matter.xcodeproj/project.pbxproj
  src/darwin/Framework/Matter.xcodeproj/xcshareddata/xcschemes/Matter Framework.xcscheme
  src/darwin/Framework/chip_xcode_build_connector.sh
Labels: darwin, fast track

#23290 [docs] Added multi-admin documentation to CHIPTool guide.
  docs/guides/chip_tool_guide.md
Labels: documentation, review - approved

#23307 Update GetAckTimeout to use the backoff algorithm
  src/controller/python/test/test_scripts/network_commissioning.py
  src/messaging/ReliableMessageMgr.cpp
  src/messaging/ReliableMessageMgr.h
  src/messaging/ReliableMessageProtocolConfig.cpp
  src/messaging/ReliableMessageProtocolConfig.h
  src/transport/SecureSession.h
  src/transport/UnauthenticatedSessionTable.h
Labels: transport, controller, review - approved

#23357 Make setupPayloadWithOnboardingPayload return error on invalid input.
  src/darwin/Framework/CHIP/MTRSetupPayload.mm
Labels: platform, darwin, review - pending, fast track

#23348 Make sure there is only one state that an MTRControllerFactory with no controllers can be in.
  src/darwin/Framework/CHIP/MTRControllerFactory.mm
Labels: darwin, review - pending, fast track

#23345 Updated the Test-Net PAAs and added Main-Net PAAs
  credentials/development/paa-root-certs/dcld_mirror_CN_AB_Test_PAA_vid_0x137B.der
  credentials/development/paa-root-certs/dcld_mirror_CN_AB_Test_PAA_vid_0x137B.pem
  credentials/development/paa-root-certs/dcld_mirror_CN_ACK_Test_PAA_vid_0x137A.der
  credentials/development/paa-root-certs/dcld_mirror_CN_ACK_Test_PAA_vid_0x137A.pem
  credentials/development/paa-root-certs/dcld_mirror_CN_Beken_Development_PAA_01_vid_0x1342.der
  credentials/development/paa-root-certs/dcld_mirror_CN_Beken_Development_PAA_01_vid_0x1342.pem
  credentials/development/paa-root-certs/dcld_mirror_CN_DigiCert_TEST_Root_CA_for_MATTER_PKI_O_DigiCert___Inc._C_US.der
  credentials/development/paa-root-certs/dcld_mirror_CN_DigiCert_TEST_Root_CA_for_MATTER_PKI_O_DigiCert___Inc._C_US.pem
  credentials/development/paa-root-certs/dcld_mirror_CN_ELiteu_Matter_Development_PAA_01_vid_0x131F.der
  credentials/development/paa-root-certs/dcld_mirror_CN_ELiteu_Matter_Development_PAA_01_vid_0x131F.pem
  credentials/development/paa-root-certs/dcld_mirror_CN_Govee_Test_PAA__vid_0x1387.der
  credentials/development/paa-root-certs/dcld_mirror_CN_Govee_Test_PAA__vid_0x1387.pem
  credentials/development/paa-root-certs/dcld_mirror_CN_Govee_Test_PAA_vid_0x1387.der
  credentials/development/paa-root-certs/dcld_mirror_CN_Govee_Test_PAA_vid_0x1387.pem
  credentials/development/paa-root-certs/dcld_mirror_CN_Haier-Matter-PAA-01_vid_0x1348.der
  credentials/development/paa-root-certs/dcld_mirror_CN_Haier-Matter-PAA-01_vid_0x1348.pem
  credentials/development/paa-root-certs/dcld_mirror_CN_Meross_Development_PAA_vid_0x1345.der
  credentials/development/paa-root-certs/dcld_mirror_CN_Meross_Development_PAA_vid_0x1345.pem
  credentials/development/paa-root-certs/dcld_mirror_CN_Midea_PAA_vid_0x118C.der
  credentials/development/paa-root-certs/dcld_mirror_CN_Midea_PAA_vid_0x118C.pem
  credentials/development/paa-root-certs/dcld_mirror_CN_OPPO_Test_PAA_vid_0x1341.der
  credentials/development/paa-root-certs/dcld_mirror_CN_OPPO_Test_PAA_vid_0x1341.pem
  credentials/development/paa-root-certs/dcld_mirror_CN_StrongKey_G1_Development_PAA_O_StrongKey.der
  credentials/development/paa-root-certs/dcld_mirror_CN_StrongKey_G1_Development_PAA_O_StrongKey.pem
  credentials/development/paa-root-certs/dcld_mirror_CN_TP-Link_Matter_Test_PAA_vid_0x1188.der
  credentials/development/paa-root-certs/dcld_mirror_CN_TP-Link_Matter_Test_PAA_vid_0x1188.pem
  credentials/development/paa-root-certs/dcld_mirror_CN_deveritec_GmbH_Test_PAA_vid_0x1362.der
  credentials/development/paa-root-certs/dcld_mirror_CN_deveritec_GmbH_Test_PAA_vid_0x1362.pem
  credentials/fetch-paa-certs-from-dcl.py
  credentials/production/paa-root-certs/dcld_mirror_CN_DigiCert_Root_CA_for_MATTER_PKI_G1_O_DigiCert___Inc._C_US.der
  credentials/production/paa-root-certs/dcld_mirror_CN_DigiCert_Root_CA_for_MATTER_PKI_G1_O_DigiCert___Inc._C_US.pem
  credentials/production/paa-root-certs/dcld_mirror_CN_Matter_Certification_and_Testing_CA_O_CSA_vid_0xC5A0.der
  credentials/production/paa-root-certs/dcld_mirror_CN_Matter_Certification_and_Testing_CA_O_CSA_vid_0xC5A0.pem
  credentials/production/paa-root-certs/dcld_mirror_CN_StrongKey_Matter_G1_PAA_O_StrongKey.der
  credentials/production/paa-root-certs/dcld_mirror_CN_StrongKey_Matter_G1_PAA_O_StrongKey.pem
Labels: review - approved

#23340 [nrfconnect] Allow to use PSA crypto API backend
  config/nrfconnect/chip-module/CMakeLists.txt
  config/nrfconnect/chip-module/Kconfig.defaults
  config/zephyr/Kconfig
  src/include/platform/internal/GenericPlatformManagerImpl_Zephyr.ipp
  src/platform/nrfconnect/CHIPPlatformConfig.h
Labels: platform, nrf connect, config, review - pending, fast track

#23329 Rename emberAfFindCluster to emberAfFindServerCluster and remove the …
  src/app/util/attribute-storage.cpp
  src/app/util/attribute-storage.h
  src/app/util/ember-compatibility-functions.cpp
Labels: app, review - approved

#23276 RPC: Restart commissioning after setting SpakeInfo
  examples/common/pigweed/rpc_services/Device.h
Labels: examples, review - approved

#23067 [darwin] Use DNSServiceReconfirmRecord for A and AAAA records to miti…
  src/controller/SetUpCodePairer.cpp
  src/controller/SetUpCodePairer.h
  src/controller/tests/TestCommissionableNodeController.cpp
  src/lib/dnssd/Discovery_ImplPlatform.cpp
  src/lib/dnssd/Discovery_ImplPlatform.h
  src/lib/dnssd/Resolver.h
  src/lib/dnssd/ResolverProxy.h
  src/lib/dnssd/Resolver_ImplMinimalMdns.cpp
  src/lib/dnssd/Resolver_ImplNone.cpp
  src/lib/dnssd/platform/Dnssd.h
  src/platform/Darwin/DnssdImpl.cpp
  src/platform/ESP32/DnssdImpl.cpp
  src/platform/Linux/DnssdImpl.cpp
  src/platform/OpenThread/DnssdImpl.cpp
  src/platform/Tizen/DnssdImpl.cpp
  src/platform/android/DnssdImpl.cpp
  src/platform/bouffalolab/BL602/DnssdImpl.cpp
  src/platform/fake/DnssdImpl.cpp
  src/platform/mt793x/DnssdImpl.cpp
  src/platform/webos/DnssdImpl.cpp
Labels: platform, darwin, esp32, linux, lib, controller, review - approved

#23359 Add a way to avoid heap pools crashing on exit if items are still live.
  src/darwin/Framework/CHIP/MTRControllerFactory.mm
  src/lib/support/Pool.cpp
  src/lib/support/Pool.h
Labels: darwin, lib, review - approved, fast track, support

#23012 Added fix for WF200 certificate injection
  examples/platform/efr32/EFR32DeviceAttestationCreds.cpp
Labels: examples, platform, review - approved

#23106 [EFR32] Adds support to toggle LwIP IPv4 flags
  examples/light-switch-app/efr32/BUILD.gn
  examples/lighting-app/efr32/BUILD.gn
  examples/lock-app/efr32/BUILD.gn
  examples/platform/efr32/rs911x/rsi_if.c
  examples/platform/efr32/rs911x/wfx_rsi.h
  examples/platform/efr32/rs911x/wfx_rsi_host.c
  examples/platform/efr32/wf200/host_if.cpp
  examples/thermostat/efr32/BUILD.gn
  examples/window-app/efr32/BUILD.gn
  src/lwip/efr32/lwipopts-rs911x.h
  src/lwip/efr32/lwipopts-wf200.h
  src/platform/EFR32/wifi/dhcp_client.cpp
  src/platform/EFR32/wifi/dhcp_client.h
  src/platform/EFR32/wifi/ethernetif.cpp
  src/platform/EFR32/wifi/lwip_netif.cpp
  src/platform/EFR32/wifi/wfx_host_events.h
Labels: examples, platform, efr32, review - approved, lwip
