Repository project-chip/connectedhomeip, pull requests merged in 2022-09, with the labels that each got.

#22292 Re-enable TC-RR-1.1 in CI
  .github/workflows/tests.yaml
  scripts/tests/run_python_test.py
  src/python_testing/matter_testing_support.py
Labels: scripts, github, workflows, review - approved, ACCEPTED for 1.0 master

#22324 Fix lifetime of Darwin SubscriptionCallback to avoid shutdown crashes.
  src/darwin/Framework/CHIP/MTRBaseDevice.mm
  src/darwin/Framework/CHIP/MTRDevice.mm
Labels: darwin, review - approved

#22328 Issue 22325: Darwin: MTRSetupPayload should move NSSecureCoding confo…
  src/darwin/Framework/CHIP/MTRSetupPayload.h
  src/darwin/Framework/CHIP/MTRSetupPayload_Internal.h
Labels: darwin, review - pending, fast track

#22286 Update Binding cluster requirement in device type to align with the spec
  src/app/zap-templates/zcl/data-model/chip/matter-devices.xml
Labels: app, review - approved, ACCEPTED for 1.0 master

#22268 [darwin_framework_tool] Add a shortcut (CTL('^')) to restart the stac…
  examples/darwin-framework-tool/commands/common/CHIPCommandBridge.h
  examples/darwin-framework-tool/commands/common/CHIPCommandBridge.mm
  examples/darwin-framework-tool/commands/interactive/InteractiveCommands.mm
Labels: examples, darwin, review - approved, ACCEPTED for 1.0 master

#22332 Fix documentation for chip-app1 commisioning.
  docs/guides/simulated_device_linux.md
Labels: documentation, review - approved, ACCEPTED for 1.0 master

#22343 Remove upload of entire out dir for linux - it is too large
  .github/workflows/build.yaml
Labels: hotfix, github, workflows, review - pending, ACCEPTED for 1.0 master

#22175 Address feedback from https://github.com/project-chip/connectedhomeip/issues/22197
  src/darwin/Framework/CHIP/MTRDeviceController.mm
  src/darwin/Framework/CHIP/MTRNOCChainIssuer.h
  src/darwin/Framework/CHIP/MTROperationalCredentialsDelegate.h
  src/darwin/Framework/CHIP/MTROperationalCredentialsDelegate.mm
Labels: darwin, review - approved, ACCEPTED for 1.0 master

#22340 Move identical parts of SubscriptionCallback into a shared base class.
  src/darwin/Framework/CHIP/MTRBaseDevice.mm
  src/darwin/Framework/CHIP/MTRBaseSubscriptionCallback.h
  src/darwin/Framework/CHIP/MTRBaseSubscriptionCallback.mm
  src/darwin/Framework/CHIP/MTRDevice.mm
  src/darwin/Framework/Matter.xcodeproj/project.pbxproj
Labels: darwin, review - approved, ACCEPTED for 1.0 master

#22346 [EFR32] Fix thermostat app build
  examples/platform/efr32/BaseApplication.cpp
  examples/thermostat/efr32/args.gni
  examples/thermostat/efr32/src/AppTask.cpp
Labels: review - approved, ACCEPTED for 1.0 master

#22347 [EFR32] Fix wf200 openthread include
  examples/chef/efr32/BUILD.gn
  examples/light-switch-app/efr32/BUILD.gn
  examples/lighting-app/efr32/BUILD.gn
  examples/lock-app/efr32/BUILD.gn
  examples/shell/efr32/BUILD.gn
  examples/thermostat/efr32/BUILD.gn
  examples/window-app/efr32/BUILD.gn
  third_party/silabs/efr32_sdk.gni
Labels: examples, review - approved, ACCEPTED for 1.0 master

#22298 Refactor to separate app platform code. support dynamic discovery.
  examples/tv-app/android/App/platform-app/src/main/java/com/matter/tv/server/MainActivity.java
  examples/tv-app/android/App/platform-app/src/main/java/com/matter/tv/server/fragments/ContentAppFragment.java
  examples/tv-app/android/App/platform-app/src/main/java/com/matter/tv/server/receivers/ContentAppDiscoveryService.java
  examples/tv-app/android/App/platform-app/src/main/java/com/matter/tv/server/service/AppPlatformService.java
  examples/tv-app/android/App/platform-app/src/main/java/com/matter/tv/server/service/MatterServant.java
  examples/tv-app/android/App/platform-app/src/main/java/com/matter/tv/server/service/MatterServantService.java
  examples/tv-app/android/BUILD.gn
  examples/tv-app/android/java/AppImpl.cpp
  examples/tv-app/android/java/AppImpl.h
  examples/tv-app/android/java/AppPlatform-JNI.cpp
  examples/tv-app/android/java/AppPlatform-JNI.h
  examples/tv-app/android/java/ContentAppCommandDelegate.cpp
  examples/tv-app/android/java/ContentAppCommandDelegate.h
  examples/tv-app/android/java/MyUserPrompterResolver-JNI.cpp
  examples/tv-app/android/java/TVApp-JNI.cpp
  examples/tv-app/android/java/src/com/matter/tv/server/tvapp/AppPlatform.java
  examples/tv-app/android/java/src/com/matter/tv/server/tvapp/TvApp.java
Labels: examples, review - approved, ACCEPTED for 1.0 master

#22323 Shut down subscription clients when DeviceController shuts down.
  scripts/tests/chiptest/lsan-mac-suppressions.txt
  src/app/InteractionModelEngine.cpp
  src/app/InteractionModelEngine.h
  src/app/ReadClient.cpp
  src/controller/CHIPDeviceController.cpp
  src/darwin/Framework/CHIP/MTRBaseDevice.mm
Labels: scripts, darwin, controller, app, review - approved, ACCEPTED for 1.0 master

#22307 [nrfconnect] Reduce MCUBoot parititon size on nRF53
  examples/all-clusters-app/nrfconnect/configuration/nrf5340dk_nrf5340_cpuapp/pm_static_dfu.yml
  examples/all-clusters-minimal-app/nrfconnect/configuration/nrf5340dk_nrf5340_cpuapp/pm_static_dfu.yml
  examples/light-switch-app/nrfconnect/configuration/nrf5340dk_nrf5340_cpuapp/pm_static_dfu.yml
  examples/lighting-app/nrfconnect/configuration/nrf5340dk_nrf5340_cpuapp/pm_static_dfu.yml
  examples/lock-app/nrfconnect/configuration/nrf5340dk_nrf5340_cpuapp/pm_static_dfu.yml
  examples/pump-app/nrfconnect/configuration/nrf5340dk_nrf5340_cpuapp/pm_static_dfu.yml
  examples/pump-controller-app/nrfconnect/configuration/nrf5340dk_nrf5340_cpuapp/pm_static_dfu.yml
  examples/window-app/nrfconnect/configuration/nrf5340dk_nrf5340_cpuapp/pm_static_dfu.yml
Labels: examples, review - approved, ACCEPTED for 1.0 master

#22339 [DarwinFrameworkTool] Add autoResubscribe optional parameters to comm…
  examples/darwin-framework-tool/commands/clusters/ReportCommandBridge.h
Labels: examples, darwin, review - approved, ACCEPTED for 1.0 master

#22359 [nrfconnect] Fixed handling lock/unlock door lock commands
  examples/lock-app/nrfconnect/main/AppTask.cpp
  examples/lock-app/nrfconnect/main/ZclCallbacks.cpp
Labels: bug, examples, nrf connect, review - approved

#22366 Disable imx builds from cloudbuild all-build
  integrations/cloudbuild/build-all.yaml
Labels: hotfix, integrations

#22362 [darwin-framework-tool] Add a shortcut (CTL('_')) to stop the stack w…
  examples/darwin-framework-tool/commands/common/CHIPCommandBridge.h
  examples/darwin-framework-tool/commands/common/CHIPCommandBridge.mm
  examples/darwin-framework-tool/commands/interactive/InteractiveCommands.mm
Labels: review - pending, fast track, ACCEPTED for 1.0 master

#22355 Remove now-unnecessary leak suppression.
  scripts/tests/chiptest/lsan-mac-suppressions.txt
Labels: scripts, review - approved

#22337 [SVE2] Fix kMaxThreadNameLength
  src/include/platform/DiagnosticDataProvider.h
Labels: platform, spec, review - approved, ACCEPTED for 1.0 master

#22297 [Infineon] Added implementation for Identify TriggerEffect
  examples/lighting-app/infineon/cyw30739/src/main.cpp
Labels: review - pending, fast track, ACCEPTED for 1.0 master

#22376 Remove androidstudio builds from build-all integrations in cloudbuild…
  integrations/cloudbuild/build-all.yaml
Labels: hotfix, integrations

#22353 Address review comments from PR #21660.
  src/app/ReadClient.cpp
  src/app/ReadClient.h
Labels: app, review - pending, fast track, ACCEPTED for 1.0 master

#22301 [AttestationVerifier] Do not return error when ExtractSKIDFromX509Cert fails
  src/credentials/attestation_verifier/FileAttestationTrustStore.cpp
Labels: review - approved, ACCEPTED for 1.0 master

#22368 [darwin][leak] (80 bytes) ROOT LEAK: <OS_dispatch_semaphore 0x7fd6db928c60> [80] when pressing Ctrl + ^ in interactive mode
  src/platform/Darwin/PlatformManagerImpl.cpp
Labels: platform, darwin, review - approved, ACCEPTED for 1.0 master

#22382 Fix android compilation: missing cast when formatting value in string
  examples/tv-app/android/java/AppPlatformShellCommands-JNI.cpp
Labels: examples, hotfix

#22363 Fix port logging in OnNewInterface.
  src/platform/Darwin/DnssdContexts.cpp
Labels: platform, darwin, review - pending, fast track, ACCEPTED for 1.0 master

#22348 Check the onboarding payload code type in MTROnboardingPayloadParser
  examples/darwin-framework-tool/commands/payload/SetupPayloadParseCommand.mm
  src/darwin/Framework/CHIP/MTROnboardingPayloadParser.h
  src/darwin/Framework/CHIP/MTROnboardingPayloadParser.m
  src/darwin/Framework/CHIPTests/MTRSetupPayloadParserTests.m
Labels: examples, darwin, review - pending, fast track, ACCEPTED for 1.0 master

#22351 Add a Darwin framework notification when subscription drops.
  examples/darwin-framework-tool/commands/clusters/ReportCommandBridge.h
  src/darwin/CHIPTool/CHIPTool/View Controllers/Temperature Sensor/TemperatureSensorViewController.m
  src/darwin/Framework/CHIP/MTRBaseDevice.h
  src/darwin/Framework/CHIP/MTRBaseDevice.mm
  src/darwin/Framework/CHIP/MTRBaseSubscriptionCallback.h
  src/darwin/Framework/CHIP/MTRBaseSubscriptionCallback.mm
  src/darwin/Framework/CHIP/MTRDevice.mm
  src/darwin/Framework/CHIP/MTRDeviceOverXPC.m
  src/darwin/Framework/CHIPTests/MTRDeviceTests.m
  src/darwin/Framework/CHIPTests/MTRXPCListenerSampleTests.m
  src/darwin/Framework/CHIPTests/MTRXPCProtocolTests.m
Labels: examples, darwin, review - approved, ACCEPTED for 1.0 master

#22373 Add paa-trust-store-path CLI arg in darwin framework tool
  examples/darwin-framework-tool/commands/common/CHIPCommandBridge.h
  examples/darwin-framework-tool/commands/common/CHIPCommandBridge.mm
Labels: examples, darwin, review - pending, fast track

#22374 [darwin] ROOT LEAK: <chip::DeviceLayer::Internal::Ble*DelegateImpl
  src/platform/Darwin/BLEManagerImpl.cpp
  src/platform/Darwin/BLEManagerImpl.h
Labels: platform, darwin, review - approved, ACCEPTED for 1.0 master

#22385 Make sure we create semaphore before we try to use it.
  src/platform/Darwin/PlatformManagerImpl.cpp
Labels: hotfix, platform, darwin, review - pending

#22375 Fix timer cancellation to be reliable in LayerImplSelect.
  src/controller/tests/data_model/TestRead.cpp
  src/system/SystemLayerImplFreeRTOS.cpp
  src/system/SystemLayerImplSelect.cpp
  src/system/SystemLayerImplSelect.h
  src/system/tests/BUILD.gn
  src/system/tests/TestSystemClock.cpp
  src/system/tests/TestSystemScheduleWork.cpp
  src/system/tests/TestSystemTimer.cpp
Labels: system, controller, review - pending, fast track, ACCEPTED for 1.0 master

#22316 Reduce minmdns verbosity for common operations: logs of send/receive …
  src/lib/dnssd/IncrementalResolve.cpp
  src/lib/dnssd/Resolver_ImplMinimalMdns.cpp
  src/lib/dnssd/minimal_mdns/ResponseSender.cpp
Labels: lib, review - approved, ACCEPTED for 1.0 master

#22365 Fix IMX sdk root in vscode dockerfile
  integrations/docker/images/chip-build-vscode/Dockerfile
  integrations/docker/images/chip-build/version
Labels: hotfix, review - pending, ACCEPTED for 1.0 master

#22403 Fix redundant ReleaseObject casing issue post commissioning.
  src/controller/CHIPDeviceController.cpp
Labels: review - approved

#22401 [nrfconnect] Fix BDX transfer restart
  src/platform/nrfconnect/OTAImageProcessorImpl.cpp
  src/platform/nrfconnect/OTAImageProcessorImpl.h
Labels: platform, nrf connect, V1.0, review - approved, sve

#22411 Fix heap pools to assert that the object being released is allocated.
  src/lib/support/Pool.h
Labels: lib, review - approved, support, ACCEPTED for 1.0 master

#22273 Updating issue templates
  .github/ISSUE_TEMPLATE.md
  .github/ISSUE_TEMPLATE/1-bug-report.yaml
  .github/ISSUE_TEMPLATE/100-documentation-issue.yaml
  .github/ISSUE_TEMPLATE/2-1.0-issue.yaml
  .github/ISSUE_TEMPLATE/3-sve-1.0-issue.yaml
  .github/ISSUE_TEMPLATE/config.yaml
Labels: github, review - pending, ACCEPTED for 1.0 master

#22427 [EFR32] Fix examples build as sleepy end device
  examples/platform/efr32/BaseApplication.h
Labels: examples, platform, review - approved, ACCEPTED for 1.0 master

#22431 Address review comments on Darwin certificate conversion function.
  src/darwin/Framework/CHIP/MTRCertificates.h
  src/darwin/Framework/CHIP/MTRCertificates.mm
Labels: darwin, review - approved, ACCEPTED for 1.0 master

#22418 Treat an ERR_MEM on send as non-fatal on LwIP.
  src/messaging/ExchangeMessageDispatch.cpp
  src/messaging/ReliableMessageMgr.cpp
  src/messaging/ReliableMessageMgr.h
Labels: review - approved, ACCEPTED for 1.0 master

#22414 Correctly clean up VectorBool optional arguments in chip-tool.
  examples/chip-tool/commands/common/Command.cpp
Labels: tools, examples, review - approved, sve, request sve, ACCEPTED for 1.0 master

#22321 Issue 22318 - commissioner attestation delegate should be able to override success
  src/controller/CHIPDeviceController.cpp
  src/controller/CHIPDeviceController.h
  src/credentials/attestation_verifier/DacOnlyPartialAttestationVerifier.cpp
  src/credentials/attestation_verifier/DefaultDeviceAttestationVerifier.cpp
  src/credentials/attestation_verifier/DeviceAttestationDelegate.h
  src/credentials/attestation_verifier/DeviceAttestationVerifier.cpp
  src/credentials/attestation_verifier/DeviceAttestationVerifier.h
  src/credentials/tests/TestDeviceAttestationCredentials.cpp
  src/darwin/Framework/CHIP/MTRDeviceAttestationDelegate.h
  src/darwin/Framework/CHIP/MTRDeviceAttestationDelegate.mm
  src/darwin/Framework/CHIP/MTRDeviceAttestationDelegateBridge.h
  src/darwin/Framework/CHIP/MTRDeviceAttestationDelegateBridge.mm
  src/darwin/Framework/CHIP/MTRDeviceAttestationDelegate_Internal.h
  src/darwin/Framework/CHIP/MTRDeviceController.mm
  src/darwin/Framework/Matter.xcodeproj/project.pbxproj
Labels: darwin, controller, review - pending, fast track, ACCEPTED for 1.0 master

#22338 [Darwin][AttestationVerifier] Expose a mechanism to customise cd signing keys and use it in darwin
  credentials/development/cd-certs/Chip-Test-CD-Cert.der
  examples/chip-tool/commands/common/CHIPCommand.cpp
  examples/chip-tool/commands/common/CHIPCommand.h
  examples/chip-tool/commands/common/CredentialIssuerCommands.h
  examples/chip-tool/commands/example/ExampleCredentialIssuerCommands.h
  src/credentials/attestation_verifier/DefaultDeviceAttestationVerifier.cpp
  src/credentials/attestation_verifier/DefaultDeviceAttestationVerifier.h
  src/credentials/attestation_verifier/DeviceAttestationVerifier.h
  src/credentials/attestation_verifier/FileAttestationTrustStore.cpp
  src/credentials/attestation_verifier/FileAttestationTrustStore.h
  src/credentials/tests/TestCertificationDeclaration.cpp
  src/darwin/Framework/CHIP/MTRAttestationTrustStoreBridge.mm
  src/darwin/Framework/CHIP/MTRControllerFactory.h
  src/darwin/Framework/CHIP/MTRControllerFactory.mm
  src/lib/core/CHIPConfig.h
Labels: tools, examples, darwin, lib, review - approved, core

#22430 Fix the naming of the "get the attestation challenge" Darwin function.
  src/darwin/Framework/CHIP/MTRDeviceController.h
  src/darwin/Framework/CHIP/MTRDeviceController.mm
Labels: darwin, review - approved, ACCEPTED for 1.0 master

#22429 Groups Cluster: AddGroup bugfix.
  src/app/clusters/groups-server/groups-server.cpp
Labels: app, review - approved, ACCEPTED for 1.0 master

#22425 [privacy] Don't enable privacy when privacy is not supported.
  src/transport/SessionManager.cpp
  src/transport/raw/MessageHeader.h
  src/transport/raw/tests/TestMessageHeader.cpp
Labels: transport, spec, review - approved

#22437 Fix handling of errors in Darwin framework OTA delegate bridge.
  examples/darwin-framework-tool/commands/provider/OTAProviderDelegate.mm
  src/darwin/Framework/CHIP/MTROTAProviderDelegate.h
  src/darwin/Framework/CHIP/MTROTAProviderDelegateBridge.mm
Labels: examples, darwin, review - pending, fast track, ACCEPTED for 1.0 master

#19554 Allow to call mDNS browse callback more than once
  src/include/platform/ThreadStackManager.h
  src/lib/dnssd/Discovery_ImplPlatform.cpp
  src/lib/dnssd/platform/Dnssd.h
  src/platform/Darwin/DnssdContexts.cpp
  src/platform/ESP32/DnssdImpl.cpp
  src/platform/Linux/DnssdImpl.cpp
  src/platform/OpenThread/GenericThreadStackManagerImpl_OpenThread.cpp
  src/platform/Tizen/DnssdImpl.cpp
  src/platform/android/DnssdImpl.cpp
  src/platform/tests/TestDnssd.cpp
  src/platform/webos/DnssdImpl.cpp
Labels: platform, darwin, esp32, linux, lib, review - pending, fast track

#22448 [ESP32] Erase the chip-counters namespace when doing factory reset
  src/platform/ESP32/ConfigurationManagerImpl.cpp
Labels: platform, esp32, review - approved, ACCEPTED for 1.0 master

#22435 Fix incorrect feature check to align with spec
  src/app/clusters/window-covering-server/window-covering-server.cpp
Labels: app, review - approved, ACCEPTED for 1.0 master

#22446 [ESP32] - Make sure that BLE indications are sent sequentially
  src/platform/ESP32/nimble/BLEManagerImpl.cpp
Labels: platform, esp32, review - approved, ACCEPTED for 1.0 master

#22393 [python] Add the switch to disable server interactions
  src/controller/python/ChipDeviceController-ScriptBinding.cpp
  src/controller/python/OpCredsBinding.cpp
  src/controller/python/chip/ChipDeviceCtrl.py
  src/controller/python/chip/ChipReplStartup.py
  src/controller/python/chip/ChipStack.py
Labels: controller, review - approved, ACCEPTED for 1.0 master

#22433 Address review comments on PR 22205.
  src/darwin/Framework/CHIP/MTRDeviceController.h
  src/darwin/Framework/CHIP/MTRDeviceController.mm
Labels: darwin, review - approved, ACCEPTED for 1.0 master

#22235 add more logging for min interval
  src/app/ReadHandler.cpp
Labels: app, review - approved, POSTPONED past 1.0

#22458 Allow null ICAC in `AndroidDeviceControllerWrapper::AllocateNew`
  src/controller/java/AndroidDeviceControllerWrapper.cpp
Labels: controller, review - approved, ACCEPTED for 1.0 master

#22472 Add `LogBufferAsHex` utility
  src/lib/support/BytesToHex.cpp
  src/lib/support/BytesToHex.h
  src/lib/support/tests/TestBytesToHex.cpp
Labels: lib, review - approved, support, ACCEPTED for 1.0 master

#22464 Fix Android Tests in CI
  .github/workflows/full-android.yaml
Labels: github, workflows, review - approved, ACCEPTED for 1.0 master

#22451 [EFR32] window app implementation for wifi
  examples/window-app/efr32/BUILD.gn
  examples/window-app/efr32/include/CHIPProjectConfig.h
  examples/window-app/efr32/src/WindowAppImpl.cpp
Labels: examples, review - approved, ACCEPTED for 1.0 master

#22452 [privacy] Don't enable privacy when privacy is not supported.
  src/transport/SessionManager.cpp
  src/transport/raw/MessageHeader.h
  src/transport/raw/tests/TestMessageHeader.cpp
Labels: transport, sve cherry pick

#22438 Correctly clean up VectorBool optional arguments in chip-tool.
  examples/chip-tool/commands/common/Command.cpp
Labels: tools, examples, sve cherry pick

#22480 [EFR32] multi-admin fix for rs911x
  examples/chef/efr32/BUILD.gn
  examples/light-switch-app/efr32/BUILD.gn
  examples/lighting-app/efr32/BUILD.gn
  examples/lock-app/efr32/BUILD.gn
  examples/shell/efr32/BUILD.gn
  examples/thermostat/efr32/BUILD.gn
  examples/window-app/efr32/BUILD.gn
Labels: examples, review - approved

#22349 Prevent Subscription to attributes with no access privilege and absence
  src/app/InteractionModelEngine.cpp
  src/app/InteractionModelEngine.h
  src/app/MessageDef/AttributePathIB.cpp
  src/app/MessageDef/AttributePathIB.h
  src/app/MessageDef/EventPathIB.cpp
  src/app/MessageDef/EventPathIB.h
  src/app/ReadHandler.cpp
  src/app/ReadHandler.h
  src/app/tests/BUILD.gn
  src/app/tests/TestAclAttribute.cpp
  src/app/tests/TestAclEvent.cpp
  src/app/tests/TestReadInteraction.cpp
  src/app/tests/integration/chip_im_initiator.cpp
  src/app/tests/integration/chip_im_responder.cpp
  src/app/util/ember-compatibility-functions.cpp
  src/controller/tests/TestReadChunking.cpp
  src/controller/tests/data_model/TestRead.cpp
  src/darwin/Framework/CHIP/MTRBaseDevice.mm
  src/darwin/Framework/CHIP/MTRIMDispatch.mm
  src/darwin/Framework/CHIPTests/MTRDeviceTests.m
Labels: darwin, controller, app, review - approved, tests, ACCEPTED for 1.0 master

#22412 [nrfconnect] Fix BDX transfer restart
  src/platform/nrfconnect/OTAImageProcessorImpl.cpp
  src/platform/nrfconnect/OTAImageProcessorImpl.h
Labels: platform, nrf connect, sve cherry pick

#22486 Fix android full build in CI
  .github/workflows/full-android.yaml
  src/messaging/ReliableMessageMgr.cpp
Labels: github, workflows, review - pending, fast track, sve, ACCEPTED for 1.0 master

#22477 Support Commands for rootnode_extendedcolorlight
  examples/chef/devices/rootnode_extendedcolorlight_8lcaaYJVAa.matter
  examples/chef/devices/rootnode_extendedcolorlight_8lcaaYJVAa.zap
  zzz_generated/chef-rootnode_extendedcolorlight_8lcaaYJVAa/zap-generated/IMClusterCommandHandler.cpp
  zzz_generated/chef-rootnode_extendedcolorlight_8lcaaYJVAa/zap-generated/endpoint_config.h
Labels: examples, review - approved, ACCEPTED for 1.0 master

#22102 [all-clusters-app][esp32] Add LockManager/LockEndpoint and the door lock plugin handlers methods to the example application
  examples/all-clusters-app/esp32/main/CMakeLists.txt
  examples/all-clusters-app/esp32/partitions.csv
  examples/lock-app/linux/main.cpp
  examples/lock-app/linux/src/ZCLDoorLockCallbacks.cpp
Labels: examples, review - approved, ACCEPTED for 1.0 master

#22460 [build] [linux] Fix missing include pthread.h.
  examples/platform/linux/NamedPipeCommands.h
Labels: examples, platform, review - approved, ACCEPTED for 1.0 master

#22417 Fix ESP32 platform manager shutdown.
  .restyled.yaml
  src/include/platform/internal/GenericPlatformManagerImpl_FreeRTOS.h
  src/include/platform/internal/GenericPlatformManagerImpl_FreeRTOS.ipp
  src/platform/ESP32/PlatformManagerImpl.cpp
  src/system/tests/BUILD.gn
  src/test_driver/esp32/run_qemu_image.py
Labels: system, platform, esp32, review - approved, test driver, ACCEPTED for 1.0 master

#22500 [Debugging]fix cirque test via releasing extra storage
  .github/workflows/cirque.yaml
  scripts/build/gn_gen_cirque.sh
  src/test_driver/linux-cirque/helper/CHIPTestBase.py
Labels: scripts, github, workflows, review - approved, test driver

#22490 Mark MTRDeviceController as not running before shutting down the DeviceCommissioner.
  src/darwin/Framework/CHIP/MTRDeviceController.mm
Labels: platform, darwin, review - approved, ACCEPTED for 1.0 master

#22462 [docs] Improve instructions for building Android.
  docs/guides/android_building.md
Labels: documentation, review - pending, ACCEPTED for 1.0 master

#22409 Disable testing code which force custom commission
  examples/platform/linux/AppMain.cpp
Labels: examples, platform, review - approved, ACCEPTED for 1.0 master

#22513 Fixes android builds (cherrypick from master)
  .github/workflows/full-android.yaml
  src/messaging/ReliableMessageMgr.cpp
Labels: hotfix, github, workflows

#22436 chip-cert: Updated Tool to Support Command Line Key/Cert Inputs
  src/tools/chip-cert/CertUtils.cpp
  src/tools/chip-cert/Cmd_ConvertCert.cpp
  src/tools/chip-cert/Cmd_ConvertKey.cpp
  src/tools/chip-cert/Cmd_GenAttCert.cpp
  src/tools/chip-cert/Cmd_GenCD.cpp
  src/tools/chip-cert/Cmd_GenCert.cpp
  src/tools/chip-cert/Cmd_PrintCert.cpp
  src/tools/chip-cert/Cmd_ResignCert.cpp
  src/tools/chip-cert/Cmd_ValidateAttCert.cpp
  src/tools/chip-cert/Cmd_ValidateCert.cpp
  src/tools/chip-cert/KeyUtils.cpp
  src/tools/chip-cert/README.md
  src/tools/chip-cert/chip-cert.h
Labels: tools, sve cherry pick, chip-cert

#22510 Enable schema check on debug ios builds.
  src/app/BUILD.gn
Labels: platform, darwin, app, review - approved, ACCEPTED for 1.0 master

#22434 Fix bug in SubscribeEvent function that results in compilation failure
  src/controller/CHIPCluster.h
Labels: controller, review - approved

#22522 Cherrypick #22382 (android build fix) into sve2
  examples/tv-app/android/java/AppPlatformShellCommands-JNI.cpp
Labels: hotfix

#22516 [doc] Add example of 'chip-cert gen-cd' command.
  .github/.wordlist.txt
  src/tools/chip-cert/README.md
Labels: tools, review - approved, ACCEPTED for 1.0 master

#22496 Fix --commissioner-nodeid handling in interactive mode.
  examples/chip-tool/commands/common/CHIPCommand.cpp
  examples/chip-tool/commands/common/CHIPCommand.h
  examples/tv-casting-app/tv-casting-common/commands/common/CHIPCommand.cpp
Labels: tools, examples, review - approved, ACCEPTED for 1.0 master

#22504 Update ValidateCertificateChain() To Allow Certificate Chain Validation without Intermediate Certificate
  src/credentials/attestation_verifier/DefaultDeviceAttestationVerifier.cpp
  src/credentials/tests/TestCertificationDeclaration.cpp
  src/crypto/CHIPCryptoPALOpenSSL.cpp
  src/crypto/CHIPCryptoPALTinyCrypt.cpp
  src/crypto/CHIPCryptoPALmbedTLS.cpp
  src/crypto/tests/CHIPCryptoPALTest.cpp
  src/platform/EFR32/CHIPCryptoPALPsaEfr32.cpp
Labels: platform, efr32, crypto, review - approved, ACCEPTED for 1.0 master

#22519 Get multicast lock when publishing services on android
  src/platform/android/java/chip/platform/NsdManagerServiceResolver.java
Labels: review - approved, ACCEPTED for 1.0 master

#22521 Fix Darwin APIs for opening commissioning windows per API review.
  examples/darwin-framework-tool/commands/pairing/OpenCommissioningWindowCommand.mm
  src/darwin/CHIPTool/CHIPTool/View Controllers/MultiAdmin/MultiAdminViewController.m
  src/darwin/Framework/CHIP/MTRBaseDevice.h
  src/darwin/Framework/CHIP/MTRBaseDevice.mm
  src/darwin/Framework/CHIP/MTRBaseDevice_Internal.h
  src/darwin/Framework/CHIP/MTRDevice.h
  src/darwin/Framework/CHIP/MTRDevice.mm
  src/darwin/Framework/CHIP/MTRDeviceController.h
  src/darwin/Framework/CHIP/MTRDeviceController.mm
  src/darwin/Framework/CHIP/MTRDeviceControllerOverXPC.m
  src/darwin/Framework/CHIP/MTRDeviceController_Internal.h
  src/darwin/Framework/CHIP/MTRDeviceOverXPC.m
  src/darwin/Framework/CHIP/MTRDevice_Internal.h
  src/darwin/Framework/CHIP/MTRSetupPayload.h
  src/darwin/Framework/CHIP/MTRSetupPayload.mm
  src/darwin/Framework/CHIP/templates/MTRClusters-src.zapt
  src/darwin/Framework/CHIP/zap-generated/MTRClusters.mm
Labels: examples, darwin, review - pending, fast track

#22345 [ESP32] Add ethernet support for commissioning
  config/esp32/components/chip/Kconfig
  docs/guides/esp32/build_app_and_commission.md
  examples/all-clusters-app/esp32/main/Kconfig.projbuild
  src/platform/ESP32/BUILD.gn
  src/platform/ESP32/CHIPDevicePlatformConfig.h
  src/platform/ESP32/CHIPDevicePlatformEvent.h
  src/platform/ESP32/ConnectivityManagerImpl.cpp
  src/platform/ESP32/ConnectivityManagerImpl.h
  src/platform/ESP32/ConnectivityManagerImpl_Ethernet.cpp
Labels: documentation, examples, platform, esp32, config, review - approved, ACCEPTED for 1.0 master

#22392 [Infineon][SVE-2] CYW30739 fix for TC-RR-1.1
  examples/ota-requestor-app/infineon/cyw30739/args.gni
  src/platform/Infineon/CYW30739/KeyValueStoreManagerImpl.cpp
  src/platform/Infineon/CYW30739/KeyValueStoreManagerImpl.h
  third_party/infineon/cyw30739_sdk/btp_reader.py
  third_party/infineon/cyw30739_sdk/flash.btp
Labels: examples, platform, review - approved, ACCEPTED for 1.0 master

#22010 Register the DNS service for the accessory with a valid hostname
  src/platform/Darwin/BUILD.gn
  src/platform/Darwin/DnssdContexts.cpp
  src/platform/Darwin/DnssdHostNameRegistrar.cpp
  src/platform/Darwin/DnssdHostNameRegistrar.h
  src/platform/Darwin/DnssdImpl.cpp
  src/platform/Darwin/DnssdImpl.h
  src/platform/Darwin/MdnsError.cpp
  src/platform/Darwin/MdnsError.h
  src/platform/tests/TestDnssd.cpp
Labels: platform, darwin, review - pending, fast track

#22367 [SVE2] Fix kMaxThreadNameLength
  src/include/platform/DiagnosticDataProvider.h
Labels: platform, sve cherry pick

#22201 chip-cert: Added Support for All Possible SubjectDN Attributes in Operational Certificates
  src/tools/chip-cert/CertUtils.cpp
  src/tools/chip-cert/Cmd_GenCert.cpp
Labels: tools, review - pending, fast track, ACCEPTED for 1.0 master, chip-cert

#22357 [Android-DD-3.14] Add QR / Manual invaild value check
  src/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/setuppayloadscanner/BarcodeFragment.kt
  src/setup_payload/java/SetupPayloadParser-JNI.cpp
  src/setup_payload/java/src/chip/setuppayload/SetupPayload.java
  src/setup_payload/java/src/chip/setuppayload/SetupPayloadParser.java
Labels: setup payload, android, review - pending, fast track, ACCEPTED for 1.0 master

#22432 NULL check in UDPEndPoint Sockets SendMsgImpl
  src/inet/UDPEndPointImplSockets.cpp
  src/lib/dnssd/minimal_mdns/Server.cpp
Labels: lib, inet, review - approved, ACCEPTED for 1.0 master

#22300 Add a new use-only-on-network-discovery optional option to pairing code and pairing code-paseonly
  examples/chip-tool/commands/pairing/PairingCommand.cpp
  examples/chip-tool/commands/pairing/PairingCommand.h
  src/app/tests/suites/commands/commissioner/CommissionerCommands.cpp
  src/controller/CHIPDeviceController.cpp
  src/controller/CHIPDeviceController.h
  src/controller/SetUpCodePairer.cpp
  src/controller/SetUpCodePairer.h
Labels: tools, examples, controller, app, review - approved, tests, ACCEPTED for 1.0 master

#22354 Persist the endpoints that were discovered to maintain endpointIds across restart of tv-app
  examples/tv-app/android/App/platform-app/src/main/java/com/matter/tv/server/MainActivity.java
  examples/tv-app/android/App/platform-app/src/main/java/com/matter/tv/server/service/AppPlatformService.java
  examples/tv-app/android/App/platform-app/src/main/java/com/matter/tv/server/service/MatterServant.java
  examples/tv-app/android/App/platform-app/src/main/java/com/matter/tv/server/service/MatterServantService.java
  examples/tv-app/android/BUILD.gn
  examples/tv-app/android/java/AppImpl.cpp
  examples/tv-app/android/java/AppImpl.h
  examples/tv-app/android/java/AppPlatform-JNI.cpp
  examples/tv-app/android/java/AppPlatform-JNI.h
  examples/tv-app/android/java/ContentAppAttributeDelegate.h
  examples/tv-app/android/java/ContentAppCommandDelegate.h
  examples/tv-app/android/java/TVApp-JNI.cpp
  examples/tv-app/android/java/TvApp-JNI.h
  examples/tv-app/android/java/src/com/matter/tv/server/tvapp/AppPlatform.java
  examples/tv-app/android/java/src/com/matter/tv/server/tvapp/TvApp.java
Labels: examples, review - approved, ACCEPTED for 1.0 master

#22246 MinMDNS available policy: libnl
  examples/minimal-mdns/BUILD.gn
  examples/minimal-mdns/client.cpp
  examples/minimal-mdns/server.cpp
  scripts/build/build/targets.py
  scripts/build/builders/host.py
  src/lib/dnssd/MinimalMdnsServer.cpp
  src/lib/dnssd/minimal_mdns/AddressPolicy_LibNlImpl.cpp
  src/lib/dnssd/minimal_mdns/AddressPolicy_LibNlImpl.h
  src/lib/dnssd/minimal_mdns/BUILD.gn
Labels: examples, scripts, lib, review - pending, ACCEPTED for 1.0 master

#22559 Fix platform mdns build error
  .github/workflows/examples-linux-standalone.yaml
  src/platform/Linux/DnssdImpl.cpp
Labels: hotfix, platform, linux, github, workflows, review - pending, ACCEPTED for 1.0 master

#22558 Replace "Id" with "ID" in Darwin APIs.
  examples/darwin-framework-tool/commands/clusters/ClusterCommandBridge.h
  examples/darwin-framework-tool/commands/clusters/ReportCommandBridge.h
  examples/darwin-framework-tool/commands/clusters/WriteAttributeCommandBridge.h
  examples/darwin-framework-tool/commands/common/CHIPCommandBridge.mm
  src/darwin/CHIPTool/CHIPTool/Framework Helpers/DefaultsUtils.m
  src/darwin/CHIPTool/CHIPTool/View Controllers/Bindings/BindingsViewController.m
  src/darwin/Framework/CHIP/MTRAttributeCacheContainer+XPC.h
  src/darwin/Framework/CHIP/MTRAttributeCacheContainer.h
  src/darwin/Framework/CHIP/MTRAttributeCacheContainer.mm
  src/darwin/Framework/CHIP/MTRAttributeCacheContainer_Internal.h
  src/darwin/Framework/CHIP/MTRBaseDevice.h
  src/darwin/Framework/CHIP/MTRBaseDevice.mm
  src/darwin/Framework/CHIP/MTRCertificates.h
  src/darwin/Framework/CHIP/MTRCertificates.mm
  src/darwin/Framework/CHIP/MTRControllerFactory.mm
  src/darwin/Framework/CHIP/MTRDevice.mm
  src/darwin/Framework/CHIP/MTRDeviceController+XPC.h
  src/darwin/Framework/CHIP/MTRDeviceController+XPC.m
  src/darwin/Framework/CHIP/MTRDeviceController.h
  src/darwin/Framework/CHIP/MTRDeviceController.mm
  src/darwin/Framework/CHIP/MTRDeviceControllerOverXPC.h
  src/darwin/Framework/CHIP/MTRDeviceControllerOverXPC.m
  src/darwin/Framework/CHIP/MTRDeviceControllerOverXPC_Internal.h
  src/darwin/Framework/CHIP/MTRDeviceControllerStartupParams.h
  src/darwin/Framework/CHIP/MTRDeviceControllerStartupParams.mm
  src/darwin/Framework/CHIP/MTRDeviceControllerStartupParams_Internal.h
  src/darwin/Framework/CHIP/MTRDeviceControllerXPCConnection.h
  src/darwin/Framework/CHIP/MTRDeviceControllerXPCConnection.m
  src/darwin/Framework/CHIP/MTRDeviceOverXPC.h
  src/darwin/Framework/CHIP/MTRDeviceOverXPC.m
  src/darwin/Framework/CHIPTests/MTRCertificateTests.m
  src/darwin/Framework/CHIPTests/MTRControllerTests.m
  src/darwin/Framework/CHIPTests/MTRDeviceTests.m
  src/darwin/Framework/CHIPTests/MTRXPCListenerSampleTests.m
  src/darwin/Framework/CHIPTests/MTRXPCProtocolTests.m
Labels: examples, darwin, review - approved, ACCEPTED for 1.0 master

#22566 Darwin API review fixes for MTRSetupPayload and MTROptionalQRCodeInfo
  examples/darwin-framework-tool/commands/payload/SetupPayloadParseCommand.mm
  src/darwin/CHIPTool/CHIPTool/View Controllers/Enumeration/EnumerateViewController.m
  src/darwin/CHIPTool/CHIPTool/View Controllers/QRCode/QRCodeViewController.m
  src/darwin/Framework/CHIP/MTRDeviceController.h
  src/darwin/Framework/CHIP/MTRSetupPayload.h
  src/darwin/Framework/CHIP/MTRSetupPayload.mm
  src/darwin/Framework/CHIP/MTRSetupPayload_Internal.h
  src/darwin/Framework/CHIP/Matter.h
  src/darwin/Framework/CHIPTests/MTRSetupPayloadParserTests.m
  src/darwin/Framework/Matter.xcodeproj/project.pbxproj
Labels: examples, darwin, review - pending, fast track

#22562 Address Darwin API review comments on MTRThreadOperationalDataset
  src/darwin/Framework/CHIP/MTRThreadOperationalDataset.h
  src/darwin/Framework/CHIP/MTRThreadOperationalDataset.mm
  src/darwin/Framework/CHIPTests/MTRThreadOperationalDatasetTests.mm
Labels: darwin, review - pending, fast track

#22569 Update scripts build_coverage.sh for Ubuntu 22.04 LTS/macOS 10.15 and…
  scripts/build_coverage.sh
Labels: scripts, review - approved, ACCEPTED for 1.0 master

#22397 [Infineon] Add Implementation for Door Lock cluster
  examples/lock-app/infineon/cyw30739/include/AppEvent.h
  examples/lock-app/infineon/cyw30739/include/LockManager.h
  examples/lock-app/infineon/cyw30739/src/AppShellCommands.cpp
  examples/lock-app/infineon/cyw30739/src/ButtonHandler.cpp
  examples/lock-app/infineon/cyw30739/src/LockManager.cpp
  examples/lock-app/infineon/cyw30739/src/ZclCallbacks.cpp
  examples/lock-app/infineon/cyw30739/src/main.cpp
Labels: examples, review - pending, fast track, ACCEPTED for 1.0 master

#22577 [TC-DA-1.4] Added Test Case Vector with Invalid (Untrusted) PAA.
  credentials/development/commissioner_dut/invalid_paa/cd.der
  credentials/development/commissioner_dut/invalid_paa/dac-Cert.der
  credentials/development/commissioner_dut/invalid_paa/dac-Cert.pem
  credentials/development/commissioner_dut/invalid_paa/dac-Key.der
  credentials/development/commissioner_dut/invalid_paa/dac-Key.pem
  credentials/development/commissioner_dut/invalid_paa/paa-Cert.pem
  credentials/development/commissioner_dut/invalid_paa/paa-Key.pem
  credentials/development/commissioner_dut/invalid_paa/pai-Cert.der
  credentials/development/commissioner_dut/invalid_paa/pai-Cert.pem
  credentials/development/commissioner_dut/invalid_paa/pai-Key.der
  credentials/development/commissioner_dut/invalid_paa/pai-Key.pem
  credentials/development/commissioner_dut/invalid_paa/test_case_vector.json
  src/tools/chip-cert/gen_com_dut_test_vectors.py
Labels: tools, review - pending, fast track, ACCEPTED for 1.0 master

#22583 Cherrypick: Platform fixes for CC13x2_26x2 (#22502)
  src/platform/cc13x2_26x2/BLEManagerImpl.cpp
  src/platform/cc13x2_26x2/BLEManagerImpl.h
  src/platform/cc13x2_26x2/CC13X2_26X2Config.cpp
  src/platform/cc13x2_26x2/CC13X2_26X2Config.h
  src/platform/cc13x2_26x2/ConfigurationManagerImpl.cpp
  src/platform/cc13x2_26x2/ConfigurationManagerImpl.h
  src/platform/cc13x2_26x2/DiagnosticDataProviderImpl.cpp
  src/platform/cc13x2_26x2/DiagnosticDataProviderImpl.h
  src/platform/cc13x2_26x2/OTAImageProcessorImpl.cpp
  src/platform/cc13x2_26x2/OTAImageProcessorImpl.h
  src/platform/cc13x2_26x2/PlatformManagerImpl.cpp
  src/platform/cc13x2_26x2/PlatformManagerImpl.h
  src/platform/cc13x2_26x2/ThreadStackManagerImpl.cpp
  src/platform/cc13x2_26x2/ThreadStackManagerImpl.h
  src/platform/cc13x2_26x2/crypto/aes_alt.c
Labels: platform, sve cherry pick

#22574 Fix various miscellaneous Darwin API issues.
  examples/darwin-framework-tool/commands/clusters/ReportCommandBridge.h
  src/darwin/CHIPTool/CHIPTool/View Controllers/QRCode/QRCodeViewController.m
  src/darwin/Framework/CHIP/MTRBaseDevice.h
  src/darwin/Framework/CHIP/MTRBaseDevice.mm
  src/darwin/Framework/CHIP/MTRBaseDevice_Internal.h
  src/darwin/Framework/CHIP/MTRCertificates.h
  src/darwin/Framework/CHIP/MTRCertificates.mm
  src/darwin/Framework/CHIP/MTRCluster.h
  src/darwin/Framework/CHIP/MTRCluster.mm
  src/darwin/Framework/CHIP/MTRCluster_internal.h
  src/darwin/Framework/CHIP/MTRCommissioningParameters.h
  src/darwin/Framework/CHIP/MTRDevice.mm
  src/darwin/Framework/CHIP/MTRDeviceController.h
  src/darwin/Framework/CHIP/MTRDeviceController.mm
  src/darwin/Framework/CHIP/MTRDeviceControllerStartupParams.h
  src/darwin/Framework/CHIP/MTRDeviceControllerStartupParams.mm
  src/darwin/Framework/CHIP/MTRDeviceControllerStartupParams_Internal.h
  src/darwin/Framework/CHIP/MTRDeviceOverXPC.m
  src/darwin/Framework/CHIP/MTRDevicePairingDelegate.h
  src/darwin/Framework/CHIP/MTRError.h
  src/darwin/Framework/CHIP/MTRError_Internal.h
  src/darwin/Framework/CHIP/MTRManualSetupPayloadParser.h
  src/darwin/Framework/CHIP/MTROTAHeaderParser.mm
  src/darwin/Framework/CHIP/MTROnboardingPayloadParser.h
  src/darwin/Framework/CHIP/MTROnboardingPayloadParser.m
  src/darwin/Framework/CHIP/MTRPersistentStorageDelegate.h
  src/darwin/Framework/CHIP/MTRQRCodeSetupPayloadParser.h
  src/darwin/Framework/CHIP/MTRSetupPayload.h
  src/darwin/Framework/CHIP/MTRSetupPayload.mm
  src/darwin/Framework/CHIP/MTRThreadOperationalDataset.h
  src/darwin/Framework/CHIP/MTRThreadOperationalDataset.mm
  src/darwin/Framework/CHIP/templates/MTRBaseClusters.zapt
  src/darwin/Framework/CHIP/templates/MTRClusters.zapt
  src/darwin/Framework/CHIP/templates/MTRCommandPayloadsObjc-src.zapt
  src/darwin/Framework/CHIP/templates/MTRCommandPayloadsObjc.zapt
  src/darwin/Framework/CHIP/templates/MTRStructsObjc-src.zapt
  src/darwin/Framework/CHIP/templates/MTRStructsObjc.zapt
  src/darwin/Framework/CHIP/zap-generated/MTRBaseClusters.h
  src/darwin/Framework/CHIP/zap-generated/MTRClusters.h
  src/darwin/Framework/CHIP/zap-generated/MTRCommandPayloadsObjc.h
  src/darwin/Framework/CHIP/zap-generated/MTRCommandPayloadsObjc.mm
  src/darwin/Framework/CHIP/zap-generated/MTRStructsObjc.h
  src/darwin/Framework/CHIP/zap-generated/MTRStructsObjc.mm
  src/darwin/Framework/CHIPTests/MTRCertificateTests.m
  src/darwin/Framework/CHIPTests/MTRControllerTests.m
  src/darwin/Framework/CHIPTests/MTRDeviceTests.m
  src/darwin/Framework/CHIPTests/MTRXPCListenerSampleTests.m
  src/darwin/Framework/CHIPTests/MTRXPCProtocolTests.m
Labels: examples, darwin, review - pending, fast track, ACCEPTED for 1.0 master

#22474 [qpg]Update attribute access api for lock, lighting app
  examples/lighting-app/qpg/src/AppTask.cpp
  examples/lock-app/qpg/src/AppTask.cpp
Labels: examples, review - approved

#22593 Test added sep13
  src/app/tests/suites/certification/PICS.yaml
  src/app/tests/suites/certification/Test_TC_ACL_2_3.yaml
  src/app/tests/suites/certification/Test_TC_ACL_2_4.yaml
  src/app/tests/suites/certification/Test_TC_ACL_2_6.yaml
  src/app/tests/suites/certification/Test_TC_ACL_2_7.yaml
  src/app/tests/suites/certification/Test_TC_CC_3_4.yaml
  src/app/tests/suites/certification/Test_TC_CC_4_5.yaml
  src/app/tests/suites/certification/Test_TC_CC_5_4.yaml
  src/app/tests/suites/certification/Test_TC_CC_6_4.yaml
  src/app/tests/suites/certification/Test_TC_CC_7_5.yaml
  src/app/tests/suites/certification/Test_TC_CC_9_4.yaml
  src/app/tests/suites/certification/Test_TC_CHANNEL_5_5.yaml
  src/app/tests/suites/certification/Test_TC_DA_1_1.yaml
  src/app/tests/suites/certification/Test_TC_FLW_3_1.yaml
  src/app/tests/suites/certification/Test_TC_ILL_3_1.yaml
  src/app/tests/suites/certification/ci-pics-values
Labels: app, tests, sve cherry pick

#22465 Update message layer logging for consistency of information and ease of debugging.
  .github/.wordlist.txt
  src/messaging/ExchangeMessageDispatch.cpp
  src/messaging/ExchangeMgr.cpp
  src/messaging/README.md
  src/messaging/ReliableMessageContext.cpp
  src/protocols/BUILD.gn
  src/protocols/Protocols.cpp
  src/protocols/Protocols.h
  src/protocols/bdx/BdxMessages.h
  src/protocols/echo/Echo.h
  src/protocols/interaction_model/Constants.h
  src/protocols/secure_channel/Constants.h
  src/protocols/user_directed_commissioning/UserDirectedCommissioning.h
  src/transport/GroupSession.h
  src/transport/SecureSession.h
  src/transport/Session.cpp
  src/transport/Session.h
  src/transport/SessionManager.cpp
  src/transport/SessionManager.h
  src/transport/UnauthenticatedSessionTable.h
Labels: transport, review - approved, ACCEPTED for 1.0 master

#22589 Fix typo in UpdateNOC log
  src/app/clusters/operational-credentials-server/operational-credentials-server.cpp
Labels: review - pending, fast track, ACCEPTED for 1.0 master

#22591 Add a common base for Darwin MTR*Path interfaces.
  src/darwin/Framework/CHIP/MTRBaseDevice.h
  src/darwin/Framework/CHIP/MTRBaseDevice.mm
Labels: darwin, review - pending, fast track, ACCEPTED for 1.0 master

#22609 Apply API review fixes for MTRPersistentStorageDelegate.h
  examples/darwin-framework-tool/commands/common/CHIPCommandStorageDelegate.h
  src/darwin/CHIPTool/CHIPTool/Framework Helpers/DefaultsUtils.h
  src/darwin/CHIPTool/CHIPTool/Framework Helpers/DefaultsUtils.m
  src/darwin/Framework/CHIP/MTRControllerFactory.h
  src/darwin/Framework/CHIP/MTRControllerFactory.mm
  src/darwin/Framework/CHIP/MTRPersistentStorageDelegateBridge.h
  src/darwin/Framework/CHIP/MTRPersistentStorageDelegateBridge.mm
  src/darwin/Framework/CHIP/MTRStorage.h
  src/darwin/Framework/CHIP/Matter.h
  src/darwin/Framework/CHIPTests/MTRTestStorage.h
  src/darwin/Framework/Matter.xcodeproj/project.pbxproj
Labels: examples, darwin, review - pending, fast track

#22611 Apply API review fixes for MTROTAHeaderParser.
  examples/darwin-framework-tool/commands/provider/OTASoftwareUpdateInteractive.mm
  src/darwin/Framework/CHIP/MTROTAHeader.h
  src/darwin/Framework/CHIP/MTROTAHeader.mm
  src/darwin/Framework/CHIP/MTROTAHeaderParser.h
  src/darwin/Framework/CHIP/Matter.h
  src/darwin/Framework/Matter.xcodeproj/project.pbxproj
Labels: examples, darwin, review - pending, fast track

#22624 Pin dbus-python to correct version for arm64 build
  scripts/constraints.txt
  scripts/requirements.txt
  src/controller/python/BUILD.gn
  src/pybindings/pycontroller/build-chip-wheel.py
Labels: scripts, controller, review - pending, fast track, sve, ACCEPTED for 1.0 master

#22606 Address API review issues in MTRControllerFactory.
  examples/darwin-framework-tool/commands/common/CHIPCommandBridge.mm
  examples/darwin-framework-tool/main.mm
  src/darwin/CHIPTool/CHIPTool/Framework Helpers/DefaultsUtils.m
  src/darwin/Framework/CHIP/MTRBaseDevice_Internal.h
  src/darwin/Framework/CHIP/MTRDeviceController.h
  src/darwin/Framework/CHIP/MTRDeviceController.mm
  src/darwin/Framework/CHIP/MTRDeviceControllerFactory.h
  src/darwin/Framework/CHIP/MTRDeviceControllerFactory.mm
  src/darwin/Framework/CHIP/MTRDeviceControllerFactory_Internal.h
  src/darwin/Framework/CHIP/MTRDeviceControllerStartupParams.h
  src/darwin/Framework/CHIP/MTRDeviceControllerStartupParams.mm
  src/darwin/Framework/CHIP/MTRDeviceControllerStartupParams_Internal.h
  src/darwin/Framework/CHIP/MTRDeviceController_Internal.h
  src/darwin/Framework/CHIP/MTROTAProviderDelegateBridge.mm
  src/darwin/Framework/CHIP/Matter.h
  src/darwin/Framework/CHIPTests/MTRControllerTests.m
  src/darwin/Framework/CHIPTests/MTRDeviceTests.m
  src/darwin/Framework/CHIPTests/MTRXPCListenerSampleTests.m
  src/darwin/Framework/Matter.xcodeproj/project.pbxproj
Labels: examples, darwin, review - pending, fast track, ACCEPTED for 1.0 master

#22632 Bump up zap timeouts for generation
  .github/workflows/zap_templates.yaml
Labels: hotfix, github, workflows, ACCEPTED for 1.0 master

#22630 Pin dbus-python to correct version for arm64 build
  scripts/constraints.txt
  scripts/requirements.txt
  src/controller/python/BUILD.gn
  src/pybindings/pycontroller/build-chip-wheel.py
Labels: scripts, controller, sve cherry pick

#22369 Address testing feedback from opcert callbacks, and re-commissioning
  examples/platform/linux/AppMain.cpp
  examples/platform/linux/CommissionerMain.cpp
  examples/platform/linux/CommissionerMain.h
  examples/platform/linux/Options.cpp
  examples/platform/linux/Options.h
  src/app/app-platform/ContentAppPlatform.cpp
  src/app/app-platform/ContentAppPlatform.h
  src/app/clusters/operational-credentials-server/operational-credentials-server.cpp
  src/controller/AutoCommissioner.cpp
  src/controller/AutoCommissioner.h
  src/controller/CHIPDeviceController.cpp
  src/controller/CommissioningDelegate.h
  src/controller/java/AndroidOperationalCredentialsIssuer.cpp
  src/credentials/DeviceAttestationConstructor.cpp
  src/credentials/DeviceAttestationConstructor.h
Labels: examples, platform, controller, app, review - approved

#22596 Address API review issues in MTRDeviceController.
  examples/darwin-framework-tool/commands/clusters/ModelCommandBridge.mm
  examples/darwin-framework-tool/commands/pairing/Commands.h
  examples/darwin-framework-tool/commands/pairing/OpenCommissioningWindowCommand.mm
  examples/darwin-framework-tool/commands/pairing/PairingCommandBridge.h
  examples/darwin-framework-tool/commands/pairing/PairingCommandBridge.mm
  examples/darwin-framework-tool/commands/pairing/PairingDelegateBridge.mm
  examples/darwin-framework-tool/commands/tests/TestCommandBridge.h
  scripts/tests/chiptest/lsan-mac-suppressions.txt
  src/darwin/CHIPTool/CHIPTool/Framework Helpers/DefaultsUtils.h
  src/darwin/CHIPTool/CHIPTool/Framework Helpers/DefaultsUtils.m
  src/darwin/CHIPTool/CHIPTool/View Controllers/QRCode/QRCodeViewController.m
  src/darwin/Framework/CHIP/MTRBaseDevice.h
  src/darwin/Framework/CHIP/MTRBaseDevice.mm
  src/darwin/Framework/CHIP/MTRBaseDevice_Internal.h
  src/darwin/Framework/CHIP/MTRDeviceController.h
  src/darwin/Framework/CHIP/MTRDeviceController.mm
  src/darwin/Framework/CHIP/MTRDeviceControllerOverXPC.m
  src/darwin/Framework/CHIP/MTRDeviceControllerOverXPC_Internal.h
  src/darwin/Framework/CHIP/MTRDeviceController_Internal.h
  src/darwin/Framework/CHIP/MTRDeviceOverXPC.h
  src/darwin/Framework/CHIP/MTRDeviceOverXPC.m
  src/darwin/Framework/CHIP/MTRSetupPayload.h
  src/darwin/Framework/CHIP/MTRSetupPayload.mm
  src/darwin/Framework/CHIP/MTRSetupPayload_Internal.h
  src/darwin/Framework/CHIPTests/MTRControllerTests.m
  src/darwin/Framework/CHIPTests/MTRDeviceTests.m
  src/darwin/Framework/CHIPTests/MTRXPCListenerSampleTests.m
  src/darwin/Framework/CHIPTests/MTRXPCProtocolTests.m
Labels: examples, scripts, darwin, review - pending, fast track

#22587 [darwin] Update DnssdHostNameRegistrar to use the network framework i…
  scripts/tests/chiptest/lsan-mac-suppressions.txt
  src/platform/Darwin/BUILD.gn
  src/platform/Darwin/DnssdContexts.cpp
  src/platform/Darwin/DnssdHostNameRegistrar.cpp
  src/platform/Darwin/DnssdHostNameRegistrar.h
  src/platform/Darwin/DnssdImpl.cpp
  src/platform/Darwin/DnssdImpl.h
Labels: scripts, platform, darwin, review - approved, ACCEPTED for 1.0 master

#22494 python: update build_python_device.sh to use chip-core
  scripts/build_python_device.sh
Labels: scripts, review - approved, ACCEPTED for 1.0 master

#22602 Allow java applications to set timeouts for commands
  src/controller/CHIPCluster.h
  src/controller/java/BaseCHIPCluster-JNI.cpp
  src/controller/java/templates/ChipClusters-java.zapt
  src/controller/java/zap-generated/chip/devicecontroller/ChipClusters.java
Labels: controller, review - pending, fast track, ACCEPTED for 1.0 master

#22631 Test added sep14
  src/app/tests/suites/certification/Test_TC_ACE_1_1.yaml
  src/app/tests/suites/certification/Test_TC_ACL_2_5.yaml
  src/app/tests/suites/certification/Test_TC_BR_2.yaml
  src/app/tests/suites/certification/Test_TC_BR_4.yaml
  src/app/tests/suites/certification/Test_TC_CADMIN_1_19.yaml
  src/app/tests/suites/certification/Test_TC_CADMIN_1_20.yaml
  src/app/tests/suites/certification/Test_TC_DD_2_2.yaml
  src/app/tests/suites/certification/Test_TC_G_3_2.yaml
  src/app/tests/suites/certification/Test_TC_IDM_2_1.yaml
  src/app/tests/suites/certification/Test_TC_IDM_6_2.yaml
  src/app/tests/suites/certification/Test_TC_LVL_2_3.yaml
  src/app/tests/suites/certification/Test_TC_MOD_1_3.yaml
  src/app/tests/suites/certification/Test_TC_OO_3_1.yaml
  src/app/tests/suites/certification/Test_TC_PSCFG_3_1.yaml
  src/app/tests/suites/certification/Test_TC_PS_3_1.yaml
  src/app/tests/suites/certification/Test_TC_RH_3_1.yaml
Labels: app, review - pending, fast track, sve, tests

#22642 Fix Android TV-app Build
  examples/platform/linux/CommissionerMain.h
  src/controller/CHIPDeviceController.cpp
Labels: hotfix, review - pending

#22633 [Darwin] Rename MTRDevicePairingDelegate to MTRDeviceControllerDelegate and MTRPairingStatus to MTRCommissioningStatus
  examples/darwin-framework-tool/BUILD.gn
  examples/darwin-framework-tool/commands/pairing/DeviceControllerDelegateBridge.h
  examples/darwin-framework-tool/commands/pairing/DeviceControllerDelegateBridge.mm
  examples/darwin-framework-tool/commands/pairing/PairingCommandBridge.h
  examples/darwin-framework-tool/commands/pairing/PairingCommandBridge.mm
  examples/darwin-framework-tool/commands/tests/TestCommandBridge.h
  src/darwin/CHIPTool/CHIPTool/View Controllers/QRCode/QRCodeViewController.h
  src/darwin/CHIPTool/CHIPTool/View Controllers/QRCode/QRCodeViewController.m
  src/darwin/Framework/CHIP/MTRDeviceController.h
  src/darwin/Framework/CHIP/MTRDeviceController.mm
  src/darwin/Framework/CHIP/MTRDeviceControllerDelegate.h
  src/darwin/Framework/CHIP/MTRDeviceControllerDelegateBridge.h
  src/darwin/Framework/CHIP/MTRDeviceControllerDelegateBridge.mm
  src/darwin/Framework/CHIP/Matter.h
  src/darwin/Framework/CHIPTests/MTRDeviceTests.m
  src/darwin/Framework/CHIPTests/MTRXPCListenerSampleTests.m
  src/darwin/Framework/Matter.xcodeproj/project.pbxproj
Labels: examples, darwin, review - pending, fast track

#22649 Test added sep14
  src/app/tests/suites/certification/Test_TC_ACE_1_1.yaml
  src/app/tests/suites/certification/Test_TC_ACL_2_5.yaml
  src/app/tests/suites/certification/Test_TC_BR_2.yaml
  src/app/tests/suites/certification/Test_TC_BR_4.yaml
  src/app/tests/suites/certification/Test_TC_CADMIN_1_19.yaml
  src/app/tests/suites/certification/Test_TC_CADMIN_1_20.yaml
  src/app/tests/suites/certification/Test_TC_DD_2_2.yaml
  src/app/tests/suites/certification/Test_TC_G_3_2.yaml
  src/app/tests/suites/certification/Test_TC_IDM_2_1.yaml
  src/app/tests/suites/certification/Test_TC_IDM_6_2.yaml
  src/app/tests/suites/certification/Test_TC_LVL_2_3.yaml
  src/app/tests/suites/certification/Test_TC_MOD_1_3.yaml
  src/app/tests/suites/certification/Test_TC_OO_3_1.yaml
  src/app/tests/suites/certification/Test_TC_PSCFG_3_1.yaml
  src/app/tests/suites/certification/Test_TC_PS_3_1.yaml
  src/app/tests/suites/certification/Test_TC_RH_3_1.yaml
Labels: app, tests, sve cherry pick

#22663 [Ameba] Add logs upon trigger effect
  examples/all-clusters-app/ameba/main/chipinterface.cpp
Labels: review - pending, fast track, ACCEPTED for 1.0 master

#22662 [Ameba] Add NVS logs
  src/platform/Ameba/AmebaConfig.cpp
Labels: review - pending, fast track, ACCEPTED for 1.0 master

#22600 Remove `KeyError` encountered on unknown attributes
  src/controller/python/chip/clusters/Attribute.py
  src/controller/python/chip/clusters/attribute.cpp
Labels: controller, review - pending, fast track, ACCEPTED for 1.0 master

#22473 [Infineon] Fix KVS not clean config value for CYW30739
  src/platform/Infineon/CYW30739/KeyValueStoreManagerImpl.cpp
Labels: platform, review - approved, ACCEPTED for 1.0 master

#22661 [Ameba] Remove user consent
  examples/platform/ameba/ota/OTAInitializer.cpp
Labels: examples, platform, review - pending, fast track, ACCEPTED for 1.0 master

#22550 [Tizen] Use Thread implementation of mDNS functions
  src/platform/Tizen/DnssdImpl.cpp
  src/platform/Tizen/DnssdImpl.h
  src/platform/Tizen/ThreadStackManagerImpl.cpp
Labels: platform, review - pending, fast track, ACCEPTED for 1.0 master

#22605 [chip-cert] Added Print Certification Declaration (CD) Command to the Tool
  src/lib/core/CHIPTLVDebug.cpp
  src/lib/core/tests/TestCHIPTLV.cpp
  src/tools/chip-cert/BUILD.gn
  src/tools/chip-cert/Cmd_PrintCD.cpp
  src/tools/chip-cert/README.md
  src/tools/chip-cert/chip-cert.cpp
  src/tools/chip-cert/chip-cert.h
Labels: tools, lib, review - pending, fast track, core, ACCEPTED for 1.0 master

#22646 [Infineon] PSoC6 SVE2 Fixes for multiple test cases
  .vscode/tasks.json
  docs/guides/infineon_psoc6_software_update.md
  examples/all-clusters-app/infineon/psoc6/BUILD.gn
  examples/all-clusters-app/infineon/psoc6/include/CHIPProjectConfig.h
  examples/all-clusters-minimal-app/infineon/psoc6/BUILD.gn
  examples/all-clusters-minimal-app/infineon/psoc6/include/CHIPProjectConfig.h
  examples/lighting-app/infineon/psoc6/BUILD.gn
  examples/lighting-app/infineon/psoc6/include/CHIPProjectConfig.h
  examples/lighting-app/infineon/psoc6/src/AppTask.cpp
  examples/lock-app/infineon/psoc6/BUILD.gn
  examples/lock-app/infineon/psoc6/include/CHIPProjectConfig.h
  examples/lock-app/infineon/psoc6/src/AppTask.cpp
  src/platform/Infineon/PSOC6/NetworkCommissioningWiFiDriver.cpp
  src/system/BUILD.gn
  third_party/infineon/psoc6/psoc6_sdk/ota/ota_base_build.sh
  third_party/infineon/psoc6/psoc6_sdk/ota/ota_update_build.sh
Labels: documentation, examples, system, platform, vscode, review - pending, fast track, ACCEPTED for 1.0 master

#22635 Idl lint in ci
  .github/workflows/lint.yml
  examples/chef/devices/noip_rootnode_dimmablelight_bCwGYSDpoe.matter
  examples/chef/devices/noip_rootnode_dimmablelight_bCwGYSDpoe.zap
  examples/chef/devices/rootnode_contactsensor_lFAGG1bfRO.matter
  examples/chef/devices/rootnode_contactsensor_lFAGG1bfRO.zap
  examples/chef/devices/rootnode_dimmablelight_bCwGYSDpoe.matter
  examples/chef/devices/rootnode_dimmablelight_bCwGYSDpoe.zap
  examples/chef/devices/rootnode_doorlock_aNKYAreMXE.matter
  examples/chef/devices/rootnode_doorlock_aNKYAreMXE.zap
  examples/chef/devices/rootnode_extendedcolorlight_8lcaaYJVAa.matter
  examples/chef/devices/rootnode_extendedcolorlight_8lcaaYJVAa.zap
  examples/chef/devices/rootnode_flowsensor_1zVxHedlaV.matter
  examples/chef/devices/rootnode_flowsensor_1zVxHedlaV.zap
  examples/chef/devices/rootnode_heatingcoolingunit_ncdGai1E5a.matter
  examples/chef/devices/rootnode_heatingcoolingunit_ncdGai1E5a.zap
  examples/chef/devices/rootnode_humiditysensor_Xyj4gda6Hb.matter
  examples/chef/devices/rootnode_humiditysensor_Xyj4gda6Hb.zap
  examples/chef/devices/rootnode_lightsensor_lZQycTFcJK.matter
  examples/chef/devices/rootnode_lightsensor_lZQycTFcJK.zap
  examples/chef/devices/rootnode_occupancysensor_iHyVgifZuo.matter
  examples/chef/devices/rootnode_occupancysensor_iHyVgifZuo.zap
  examples/chef/devices/rootnode_onofflight_bbs1b7IaOV.matter
  examples/chef/devices/rootnode_onofflight_bbs1b7IaOV.zap
  examples/chef/devices/rootnode_onofflightswitch_FsPlMr090Q.matter
  examples/chef/devices/rootnode_onofflightswitch_FsPlMr090Q.zap
  examples/chef/devices/rootnode_onoffpluginunit_Wtf8ss5EBY.matter
  examples/chef/devices/rootnode_onoffpluginunit_Wtf8ss5EBY.zap
  examples/chef/devices/rootnode_pressuresensor_s0qC9wLH4k.matter
  examples/chef/devices/rootnode_pressuresensor_s0qC9wLH4k.zap
  examples/chef/devices/rootnode_speaker_RpzeXdimqA.matter
  examples/chef/devices/rootnode_speaker_RpzeXdimqA.zap
  examples/chef/devices/rootnode_temperaturesensor_Qy1zkNW7c3.matter
  examples/chef/devices/rootnode_temperaturesensor_Qy1zkNW7c3.zap
  examples/chef/devices/rootnode_thermostat_bm3fb8dhYi.matter
  examples/chef/devices/rootnode_thermostat_bm3fb8dhYi.zap
  examples/chef/devices/rootnode_windowcovering_RLCxaGi9Yx.matter
  examples/chef/devices/rootnode_windowcovering_RLCxaGi9Yx.zap
  scripts/tools/check_includes.sh
Labels: examples, scripts, github, workflows, review - pending, fast track, ACCEPTED for 1.0 master

#22680 Bump up cirque timeouts
  .github/workflows/cirque.yaml
Labels: hotfix

#22618 [Ameba] Chef app implementation for Ameba
  examples/chef/ameba/chip_main.cmake
  examples/chef/ameba/main/CHIPDeviceManager.cpp
  examples/chef/ameba/main/DeviceCallbacks.cpp
  examples/chef/ameba/main/DsoHack.cpp
  examples/chef/ameba/main/Globals.cpp
  examples/chef/ameba/main/LEDWidget.cpp
  examples/chef/ameba/main/chipinterface.cpp
  examples/chef/ameba/main/include/BindingHandler.h
  examples/chef/ameba/main/include/CHIPDeviceManager.h
  examples/chef/ameba/main/include/DeviceCallbacks.h
  examples/chef/ameba/main/include/Globals.h
  examples/chef/ameba/main/include/LEDWidget.h
  examples/chef/ameba/third_party/connectedhomeip
  examples/chef/chef.py
  src/platform/Ameba/KeyValueStoreManagerImpl.cpp
Labels: examples, platform, review - pending, fast track, ACCEPTED for 1.0 master

#22667 [darwin] Be a bit less restrictive when it comes to filtering interfa…
  src/platform/Darwin/DnssdHostNameRegistrar.cpp
Labels: platform, darwin, review - approved

#22580 [ColorControl] Enhanced commands should set EnhancedColorMode to 3
  src/app/clusters/color-control-server/color-control-server.cpp
  src/app/clusters/color-control-server/color-control-server.h
Labels: app, review - approved, ACCEPTED for 1.0 master

#22673 [darwin] Make sure the prefixes on the enum names match the type
  src/darwin/Framework/CHIP/templates/MTRClusterConstants.zapt
  src/darwin/Framework/CHIP/templates/MTRClusters-src.zapt
  src/darwin/Framework/CHIP/zap-generated/MTRClusterConstants.h
  src/darwin/Framework/CHIP/zap-generated/MTRClusters.mm
Labels: darwin, review - approved, ACCEPTED for 1.0 master

#22677 Ensure darwin-framework-tool is beeing rebuilt when something changes…
  examples/darwin-framework-tool/BUILD.gn
Labels: examples, darwin, review - approved, ACCEPTED for 1.0 master

#22678 Disable MDNS lookup on first message deliver failure be default
  src/messaging/BUILD.gn
  src/messaging/ReliableMessageMgr.cpp
  src/messaging/ReliableMessageProtocolConfig.h
Labels: review - approved, ACCEPTED for 1.0 master

#22676 Remove all mention of "pairing" from Darwin public APIs.
  examples/darwin-framework-tool/commands/pairing/DeviceControllerDelegateBridge.h
  examples/darwin-framework-tool/commands/pairing/DeviceControllerDelegateBridge.mm
  examples/darwin-framework-tool/commands/tests/TestCommandBridge.h
  src/darwin/CHIPTool/CHIPTool/View Controllers/QRCode/QRCodeViewController.m
  src/darwin/Framework/CHIP/MTRDeviceController.h
  src/darwin/Framework/CHIP/MTRDeviceControllerDelegate.h
  src/darwin/Framework/CHIP/MTRDeviceControllerDelegateBridge.mm
  src/darwin/Framework/CHIP/MTRSetupPayload.h
  src/darwin/Framework/CHIPTests/MTRDeviceTests.m
  src/darwin/Framework/CHIPTests/MTRXPCListenerSampleTests.m
Labels: examples, darwin, review - pending, fast track, ACCEPTED for 1.0 master

#22685 [Attestation] Updated to Use CD Signed by a Valid CSA Cert
  examples/common/tracing/decoder/interaction_model/DecoderCustomLog.cpp
  src/app/tests/suites/credentials/TestHarnessDACProvider.cpp
  src/credentials/examples/DeviceAttestationCredsExample.cpp
Labels: examples, app, review - approved, tests, ACCEPTED for 1.0 master

#22682 [Darwin] Fix Matter framework delegates to pass the delegating object as the first arg to their methods
  examples/darwin-framework-tool/commands/pairing/DeviceControllerDelegateBridge.h
  examples/darwin-framework-tool/commands/pairing/DeviceControllerDelegateBridge.mm
  src/darwin/CHIPTool/CHIPTool/View Controllers/QRCode/QRCodeViewController.m
  src/darwin/Framework/CHIP/MTRDeviceAttestationDelegate.h
  src/darwin/Framework/CHIP/MTRDeviceAttestationDelegateBridge.mm
  src/darwin/Framework/CHIP/MTRDeviceController.mm
  src/darwin/Framework/CHIP/MTRDeviceControllerDelegate.h
  src/darwin/Framework/CHIP/MTRDeviceControllerDelegateBridge.h
  src/darwin/Framework/CHIP/MTRDeviceControllerDelegateBridge.mm
  src/darwin/Framework/CHIPTests/MTRDeviceTests.m
  src/darwin/Framework/CHIPTests/MTRXPCListenerSampleTests.m
Labels: examples, darwin, fast track, ACCEPTED for 1.0 master

#22656 Improve matter gcoverage accuracy by excluding non-core sdk files
  scripts/build/build/targets.py
  scripts/build/builders/host.py
  scripts/build_coverage.sh
Labels: scripts, review - approved, ACCEPTED for 1.0 master

#22575 [Android/JAVA]add IM isFabricFiltered and keepSubscriptions flag for read/subscribe API
  src/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/clusterclient/WildcardFragment.kt
  src/android/CHIPTool/app/src/main/res/layout/read_dialog.xml
  src/android/CHIPTool/app/src/main/res/layout/subscribe_dialog.xml
  src/android/CHIPTool/app/src/main/res/layout/wildcard_fragment.xml
  src/android/CHIPTool/app/src/main/res/values/strings.xml
  src/controller/java/AndroidCallbacks-JNI.cpp
  src/controller/java/AndroidCallbacks.cpp
  src/controller/java/AndroidCallbacks.h
  src/controller/java/CHIPDeviceController-JNI.cpp
  src/controller/java/src/chip/devicecontroller/ChipDeviceController.java
  src/controller/java/src/chip/devicecontroller/ReportCallback.java
  src/controller/java/src/chip/devicecontroller/ReportCallbackJni.java
Labels: controller, android, review - pending, ACCEPTED for 1.0 master

#22690 [hotfix][Darwin] Fix Matter framework delegates to pass the delegating object…
  examples/darwin-framework-tool/commands/tests/TestCommandBridge.h
Labels: examples, hotfix, darwin, ACCEPTED for 1.0 master

#22694 Update BLE manager to use correct type/remove unnecessary adv interval
  examples/all-clusters-app/cc13x2x7_26x2x7/chip.syscfg
  examples/all-clusters-minimal-app/cc13x2x7_26x2x7/chip.syscfg
  examples/lock-app/cc13x2x7_26x2x7/chip.syscfg
  examples/pump-app/cc13x2x7_26x2x7/chip.syscfg
  examples/pump-controller-app/cc13x2x7_26x2x7/chip.syscfg
  examples/shell/cc13x2x7_26x2x7/chip.syscfg
  src/platform/cc13x2_26x2/BLEManagerImpl.cpp
Labels: review - pending, fast track, ACCEPTED for 1.0 master

#22695 Update TestEventTrigger to match SVE2 test plan
  .github/workflows/tests.yaml
  examples/platform/linux/AppMain.cpp
  src/app/TestEventTriggerDelegate.h
  src/app/clusters/general-diagnostics-server/general-diagnostics-server.cpp
  src/controller/python/chip/interaction_model/__init__.py
  src/controller/python/test/test_scripts/base.py
  src/controller/python/test/test_scripts/cluster_objects.py
  src/protocols/interaction_model/StatusCodeList.h
  src/python_testing/TC_TestEventTrigger.py
  src/python_testing/matter_testing_support.py
Labels: examples, platform, controller, app, github, workflows, review - pending, fast track, ACCEPTED for 1.0 master

#22622 [nrfconnect] fix the crash during CASE session resumption
  examples/light-switch-app/nrfconnect/main/BindingHandler.cpp
  examples/light-switch-app/nrfconnect/main/include/BindingHandler.h
Labels: examples, review - approved, ACCEPTED for 1.0 master

#22693 Fix SVE2 Issue 22692
  src/app/app-platform/ContentAppPlatform.cpp
  src/app/clusters/application-launcher-server/application-launcher-server.cpp
Labels: app, review - approved, ACCEPTED for 1.0 master

#22701 Android tv-casting-app: Fixing issues with handling responses for Media commands
  examples/tv-casting-app/android/App/app/src/main/jni/com/chip/casting/TvCastingApp.java
  examples/tv-casting-app/android/App/app/src/main/jni/cpp/TvCastingApp-JNI.cpp
Labels: examples, review - approved, ACCEPTED for 1.0 master
