Repository project-chip/connectedhomeip, pull requests merged in 2022-04, with the labels that each got.

#16890 Untangle SetUpCodePairer from CHIPDeviceCommissioner a bit.
  src/controller/BUILD.gn
  src/controller/CHIPDeviceController.cpp
  src/controller/CHIPDeviceController.h
  src/controller/DevicePairingDelegate.h
  src/controller/SetUpCodePairer.cpp
  src/controller/SetUpCodePairer.h
Labels: controller, review - approved

#16878 Fix a typo in src/app/server/Server.cpp that prevents the echo handle…
  src/app/server/Server.cpp
Labels: app, review - approved

#16911 Pass network ID to device layer.
  src/app/clusters/network-commissioning/network-commissioning.cpp
Labels: app, review - approved

#16877 [EFR32] Rework NVM3 instances and refactor our KVS implementation to use nvm3
  .github/.wordlist.txt
  examples/light-switch-app/efr32/README.md
  examples/light-switch-app/efr32/src/main.cpp
  examples/lighting-app/efr32/README.md
  examples/lighting-app/efr32/src/main.cpp
  examples/lock-app/efr32/README.md
  examples/lock-app/efr32/src/main.cpp
  examples/ota-requestor-app/efr32/src/main.cpp
  examples/persistent-storage/efr32/BUILD.gn
  examples/persistent-storage/efr32/README.md
  examples/persistent-storage/efr32/main.cpp
  examples/platform/efr32/ldscripts/efr32mg12.ld
  examples/platform/efr32/ldscripts/efr32mg24.ld
  examples/shell/efr32/src/main.cpp
  examples/window-app/efr32/README.md
  examples/window-app/efr32/src/main.cpp
  scripts/examples/gn_efr32_example.sh
  src/platform/EFR32/BLEManagerImpl.cpp
  src/platform/EFR32/CHIPDevicePlatformConfig.h
  src/platform/EFR32/ConfigurationManagerImpl.cpp
  src/platform/EFR32/ConfigurationManagerImpl.h
  src/platform/EFR32/EFR32Config.cpp
  src/platform/EFR32/EFR32Config.h
  src/platform/EFR32/KeyValueStoreManagerImpl.cpp
  src/platform/EFR32/KeyValueStoreManagerImpl.h
  src/platform/EFR32/PlatformManagerImpl.cpp
  src/test_driver/efr32/src/main.cpp
  third_party/efr32_sdk/efr32_sdk.gni
Labels: examples, scripts, platform, efr32, github, review - approved

#16843 [ESP32] Use absolute paths in example's CMakeLists.txt files
  examples/all-clusters-app/esp32/CMakeLists.txt
  examples/all-clusters-app/esp32/main/CMakeLists.txt
  examples/bridge-app/esp32/CMakeLists.txt
  examples/common/cmake/idf_flashing.cmake
  examples/ipv6only-app/esp32/main/CMakeLists.txt
  examples/lighting-app/esp32/CMakeLists.txt
  examples/lock-app/esp32/CMakeLists.txt
  examples/lock-app/esp32/main/CMakeLists.txt
  examples/ota-provider-app/esp32/CMakeLists.txt
  examples/ota-provider-app/esp32/main/CMakeLists.txt
  examples/ota-requestor-app/esp32/CMakeLists.txt
  examples/persistent-storage/esp32/CMakeLists.txt
  examples/persistent-storage/esp32/main/CMakeLists.txt
  examples/pigweed-app/esp32/CMakeLists.txt
  examples/pigweed-app/esp32/main/CMakeLists.txt
  examples/shell/esp32/CMakeLists.txt
  examples/temperature-measurement-app/esp32/CMakeLists.txt
  examples/temperature-measurement-app/esp32/main/CMakeLists.txt
Labels: examples, review - approved

#16757 [Ameba] Fix commissioning and hardfault issue
  config/ameba/chip.cmake
  examples/all-clusters-app/ameba/chip_main.cmake
  examples/all-clusters-app/ameba/main/chipinterface.cpp
  examples/lighting-app/ameba/chip_main.cmake
  examples/lighting-app/ameba/main/chipinterface.cpp
  examples/ota-requestor-app/ameba/chip_main.cmake
  examples/ota-requestor-app/ameba/main/chipinterface.cpp
  examples/pigweed-app/ameba/chip_main.cmake
  src/platform/Ameba/CHIPPlatformConfig.h
  src/platform/Ameba/InetPlatformConfig.h
  src/platform/Ameba/KeyValueStoreManagerImpl.cpp
Labels: examples, platform, config, review - approved

#16599 ESP32: Add ESP32H2 target for lighting app
  config/esp32/components/chip/CMakeLists.txt
  config/esp32/components/chip/Kconfig
  config/esp32/components/esp32_mbedtls/mbedtls/esp_config.h
  examples/lighting-app/esp32/CMakeLists.txt
  examples/lighting-app/esp32/README.md
  examples/lighting-app/esp32/main/CMakeLists.txt
  examples/lighting-app/esp32/main/Kconfig.projbuild
  examples/lighting-app/esp32/main/main.cpp
  examples/lighting-app/esp32/partitions_h2.csv
  examples/lighting-app/esp32/sdkconfig.defaults.esp32h2
  src/crypto/CHIPCryptoPALmbedTLS.cpp
  src/platform/ESP32/BUILD.gn
  src/platform/ESP32/CHIPDevicePlatformEvent.h
  src/platform/ESP32/ConnectivityManagerImpl.h
  src/platform/ESP32/OpenthreadConfig.h
  src/platform/ESP32/OpenthreadLauncher.c
  src/platform/ESP32/OpenthreadLauncher.h
  src/platform/ESP32/ThreadStackManagerImpl.cpp
Labels: examples, platform, esp32, crypto, config, review - pending, fast track

#16915 [M5] Fix device crash when reading fixed label list
  src/app/clusters/fixed-label-server/fixed-label-server.cpp
Labels: app, review - approved

#16885 [ESP32] Use nvs iterator to check if key exists
  src/platform/ESP32/ESP32Config.cpp
Labels: platform, esp32, review - approved

#16510 Encode the user label list in place so that we can free the label lis…
  src/app/clusters/user-label-server/user-label-server.cpp
  src/include/platform/DeviceInfoProvider.h
  src/include/platform/PlatformManager.h
  src/include/platform/internal/GenericPlatformManagerImpl.h
  src/platform/Darwin/PlatformManagerImpl.cpp
  src/platform/Darwin/PlatformManagerImpl.h
  src/platform/DeviceInfoProvider.cpp
  src/platform/Linux/DeviceInfoProviderImpl.cpp
  src/platform/Linux/DeviceInfoProviderImpl.h
  src/platform/Linux/PlatformManagerImpl.cpp
  src/platform/Linux/PlatformManagerImpl.h
  src/platform/fake/PlatformManagerImpl.h
Labels: platform, darwin, linux, app, review - approved

#16867 [chip-tool] Add optional event min argument to read/subscribe events …
  examples/chip-tool/commands/clusters/ReportCommand.h
Labels: examples, V1.0, review - approved, manual-testing

#16654 [OTA] Make OTAProviderDelegate responsible for responding to commands
  examples/ota-provider-app/ota-provider-common/OTAProviderExample.cpp
  examples/ota-provider-app/ota-provider-common/OTAProviderExample.h
  src/app/clusters/ota-provider/ota-provider-delegate.h
  src/app/clusters/ota-provider/ota-provider.cpp
Labels: examples, app, review - approved

#16917 [Ameba] Increase kMaxLookupTimeMsDefault to 15000
  src/lib/address_resolve/AddressResolve.h
Labels: lib, review - approved

#16922 [Typo] kFlagMesageNotAcked -> kFlagMessageNotAcked
  src/messaging/ReliableMessageContext.h
Labels: review - approved

#16869 fix lineupInfoTypeEnum naming error and add response.data
  examples/tv-app/android/java/ChannelManager.cpp
  examples/tv-app/android/java/src/com/tcl/chip/tvapp/ChannelInfo.java
Labels: examples, review - pending, fast track

#16824 [Ameba] Support reset-counts command in wifi diagnostics
  src/platform/Ameba/DiagnosticDataProviderImpl.cpp
  src/platform/Ameba/DiagnosticDataProviderImpl.h
Labels: platform, review - pending, fast track

#16776 [Ameba] Update ameba.py
  scripts/build/builders/ameba.py
Labels: scripts, review - pending, fast track

#16760 [Ameba] Update dockerfile to fix commissioning issue
  integrations/docker/images/chip-build-ameba/Dockerfile
  integrations/docker/images/chip-build/version
Labels: integrations, review - pending, fast track

#16743 Issue 12520 - Remove BDX timeout tracking from TransferSession
  src/app/clusters/ota-requestor/BDXDownloader.cpp
  src/protocols/bdx/BdxTransferSession.cpp
  src/protocols/bdx/BdxTransferSession.h
  src/protocols/bdx/TransferFacilitator.cpp
  src/protocols/bdx/tests/TestBdxTransferSession.cpp
Labels: app, review - pending, fast track

#16713 [chip-tool] Add repeat-count and repeat-duration-ms optional paramete…
  examples/chip-tool/commands/clusters/ClusterCommand.h
Labels: examples, review - pending, fast track

#16711 Fix Tizen platform build with disabled WiFi
  src/platform/Tizen/CHIPDevicePlatformEvent.h
  src/platform/Tizen/ConnectivityManagerImpl.cpp
  src/platform/Tizen/ConnectivityManagerImpl.h
  src/platform/Tizen/DeviceNetworkProvisioningDelegateImpl.cpp
Labels: platform, review - pending, fast track

#16265 [Python] Support reading mixed attributes and events
  src/controller/python/chip/ChipDeviceCtrl.py
  src/controller/python/chip/clusters/Attribute.py
  src/controller/python/chip/clusters/attribute.cpp
  src/controller/python/test/test_scripts/cluster_objects.py
  src/test_driver/linux-cirque/MobileDeviceTest.py
Labels: controller, app, review - approved

#15852 ESP32: Add platform mdns support (browse and resolve)
  config/esp32/components/chip/Kconfig
  examples/all-clusters-app/esp32/sdkconfig.defaults
  src/platform/ESP32/BUILD.gn
  src/platform/ESP32/DnssdImpl.cpp
  src/platform/ESP32/DnssdImpl.h
Labels: examples, platform, esp32, config, review - approved

#16909 Add complex types to chip tool darwin
  examples/chip-tool-darwin/BUILD.gn
  examples/chip-tool-darwin/templates/commands.zapt
  examples/chip-tool-darwin/templates/partials/decodable_value.zapt
  examples/chip-tool-darwin/templates/templates.json
  zzz_generated/chip-tool-darwin/zap-generated/cluster/Commands.h
Labels: examples, review - pending, fast track

#16888 Ensure that the OTA commissioning callback timer is started with the correct function-pointer and object data
  examples/ota-provider-app/ota-provider-common/OTAProviderExample.cpp
  scripts/tests/ota_test.sh
  src/app/clusters/ota-requestor/BDXDownloader.cpp
  src/app/clusters/ota-requestor/GenericOTARequestorDriver.cpp
Labels: examples, scripts, app, review - approved

#16935 Bump more ESP32 example timeouts.
  .github/workflows/examples-esp32.yaml
Labels: github, workflows, review - pending, fast track

#16706 [chip-tool] Allow setting the KeepSubscriptions flag
  examples/chip-tool/commands/clusters/ReportCommand.h
Labels: examples, review - pending, fast track

#16893 TRACE: Add transport tracing to linux example apps
  examples/chip-tool/args.gni
  examples/chip-tool/with_pw_trace.gni
  examples/common/tracing/BUILD.gn
  examples/common/tracing/TraceHandlers.cpp
  examples/platform/linux/AppMain.cpp
  examples/platform/linux/BUILD.gn
  examples/platform/linux/Options.cpp
  examples/platform/linux/Options.h
  examples/platform/linux/pw_trace_chip/BUILD.gn
  examples/platform/linux/pw_trace_chip/public/pw_trace_chip/trace_chip.h
  examples/platform/linux/pw_trace_chip/public_overrides/pw_trace_backend/trace_backend.h
  examples/platform/linux/pw_trace_chip/trace.cc
  src/lib/core/BUILD.gn
  src/lib/core/core.gni
  src/transport/BUILD.gn
  src/transport/TraceMessage.cpp
  src/transport/TraceMessage.h
Labels: examples, transport, lib, review - approved

#16907 Add IPK option to CHIP framework and chip-tool-darwin.
  examples/chip-tool-darwin/commands/common/CHIPCommandBridge.mm
  examples/chip-tool-darwin/commands/common/CHIPToolKeypair.h
  examples/chip-tool-darwin/commands/common/CHIPToolKeypair.mm
  src/darwin/Framework/CHIP/CHIPDeviceController.h
  src/darwin/Framework/CHIP/CHIPDeviceController.mm
Labels: examples, darwin, review - approved, fast track

#16947 Add a way for CommandHandlerInterface to provide a list of accepted/generated command ids.
  src/app/CommandHandlerInterface.h
  src/app/util/attribute-storage.cpp
  src/app/util/attribute-storage.h
  src/app/util/ember-compatibility-functions.cpp
  src/controller/tests/TestServerCommandDispatch.cpp
Labels: controller, app, review - approved

#16960 add const for DeviceControllerSystemState getter methods
  src/controller/CHIPDeviceControllerSystemState.h
Labels: controller, review - approved

#16895 Fix Session ID Allocation
  .github/workflows/build.yaml
  examples/tv-casting-app/linux/main.cpp
  src/app/CASEClient.cpp
  src/app/CASEClient.h
  src/app/OperationalDeviceProxy.cpp
  src/app/OperationalDeviceProxy.h
  src/app/server/CommissioningWindowManager.cpp
  src/app/server/CommissioningWindowManager.h
  src/app/server/Server.cpp
  src/app/server/Server.h
  src/app/tests/TestOperationalDeviceProxy.cpp
  src/app/tests/integration/chip_im_initiator.cpp
  src/app/tests/integration/chip_im_responder.cpp
  src/controller/CHIPDeviceController.cpp
  src/controller/CHIPDeviceControllerFactory.cpp
  src/controller/CHIPDeviceControllerSystemState.h
  src/controller/CommissioneeDeviceProxy.h
  src/messaging/tests/MessagingContext.cpp
  src/messaging/tests/MessagingContext.h
  src/messaging/tests/echo/echo_requester.cpp
  src/messaging/tests/echo/echo_responder.cpp
  src/protocols/secure_channel/BUILD.gn
  src/protocols/secure_channel/CASEServer.cpp
  src/protocols/secure_channel/CASEServer.h
  src/protocols/secure_channel/CASESession.cpp
  src/protocols/secure_channel/CASESession.h
  src/protocols/secure_channel/PASESession.cpp
  src/protocols/secure_channel/PASESession.h
  src/protocols/secure_channel/SessionIDAllocator.cpp
  src/protocols/secure_channel/SessionIDAllocator.h
  src/protocols/secure_channel/tests/BUILD.gn
  src/protocols/secure_channel/tests/TestCASESession.cpp
  src/protocols/secure_channel/tests/TestPASESession.cpp
  src/protocols/secure_channel/tests/TestSessionIDAllocator.cpp
  src/transport/PairingSession.cpp
  src/transport/PairingSession.h
  src/transport/SecureSession.h
  src/transport/SecureSessionTable.h
  src/transport/Session.h
  src/transport/SessionHolder.h
  src/transport/SessionManager.cpp
  src/transport/SessionManager.h
  src/transport/tests/TestSessionManager.cpp
Labels: examples, controller, app, github, workflows, review - approved

#16926 [zephyr] Allow to override default malloc with sys_heap
  config/nrfconnect/chip-module/CMakeLists.txt
  config/zephyr/Kconfig
  src/platform/Zephyr/DiagnosticDataProviderImpl.cpp
  src/platform/Zephyr/SysHeapMalloc.cpp
  src/platform/Zephyr/SysHeapMalloc.h
  src/platform/nrfconnect/BUILD.gn
  src/platform/nrfconnect/CHIPDevicePlatformConfig.h
  src/platform/nrfconnect/args.gni
  src/platform/telink/CHIPDevicePlatformConfig.h
Labels: platform, nrf connect, zephyr, config, review - approved, telink

#16913 Validate CSR in separate commissioning step
  src/controller/AutoCommissioner.cpp
  src/controller/CHIPDeviceController.cpp
  src/controller/CHIPDeviceController.h
  src/controller/CommissioningDelegate.cpp
  src/controller/CommissioningDelegate.h
  src/controller/ExampleOperationalCredentialsIssuer.cpp
  src/controller/ExampleOperationalCredentialsIssuer.h
  src/controller/OperationalCredentialsDelegate.h
  src/controller/java/AndroidOperationalCredentialsIssuer.cpp
  src/controller/java/AndroidOperationalCredentialsIssuer.h
  src/controller/python/OpCredsBinding.cpp
  src/darwin/Framework/CHIP/CHIPOperationalCredentialsDelegate.h
  src/darwin/Framework/CHIP/CHIPOperationalCredentialsDelegate.mm
Labels: darwin, controller, review - approved

#16950 Use SupportedLocalesIterator to read ReadSupportedLocales from Device…
  src/app/clusters/localization-configuration-server/localization-configuration-server.cpp
  src/include/platform/DeviceInfoProvider.h
  src/include/platform/PlatformManager.h
  src/include/platform/internal/GenericPlatformManagerImpl.h
  src/lib/support/Span.h
  src/platform/Darwin/PlatformManagerImpl.cpp
  src/platform/Darwin/PlatformManagerImpl.h
  src/platform/Linux/DeviceInfoProviderImpl.cpp
  src/platform/Linux/DeviceInfoProviderImpl.h
  src/platform/Linux/PlatformManagerImpl.cpp
  src/platform/Linux/PlatformManagerImpl.h
  src/platform/fake/PlatformManagerImpl.h
Labels: platform, darwin, linux, lib, app, review - approved

#16956 Allow Storage, Groups and Access Delegate injection on Server::Init()
  examples/all-clusters-app/ameba/main/chipinterface.cpp
  examples/all-clusters-app/esp32/main/main.cpp
  examples/all-clusters-app/linux/fuzzing-main.cpp
  examples/all-clusters-app/mbed/main/AppTask.cpp
  examples/all-clusters-app/nrfconnect/main/AppTask.cpp
  examples/all-clusters-app/p6/src/AppTask.cpp
  examples/bridge-app/esp32/main/main.cpp
  examples/bridge-app/linux/main.cpp
  examples/light-switch-app/efr32/src/main.cpp
  examples/light-switch-app/nrfconnect/main/AppTask.cpp
  examples/lighting-app/ameba/main/chipinterface.cpp
  examples/lighting-app/cyw30739/src/main.cpp
  examples/lighting-app/efr32/src/main.cpp
  examples/lighting-app/esp32/main/main.cpp
  examples/lighting-app/mbed/main/AppTask.cpp
  examples/lighting-app/nrfconnect/main/AppTask.cpp
  examples/lighting-app/nxp/k32w/k32w0/main/AppTask.cpp
  examples/lighting-app/p6/src/AppTask.cpp
  examples/lighting-app/qpg/src/AppTask.cpp
  examples/lighting-app/telink/src/AppTask.cpp
  examples/lock-app/cc13x2x7_26x2x7/main/AppTask.cpp
  examples/lock-app/cyw30739/src/main.cpp
  examples/lock-app/efr32/src/main.cpp
  examples/lock-app/esp32/main/main.cpp
  examples/lock-app/mbed/main/AppTask.cpp
  examples/lock-app/nrfconnect/main/AppTask.cpp
  examples/lock-app/nxp/k32w/k32w0/main/AppTask.cpp
  examples/lock-app/p6/src/AppTask.cpp
  examples/lock-app/qpg/src/AppTask.cpp
  examples/log-source-app/linux/main.cpp
  examples/ota-provider-app/esp32/main/main.cpp
  examples/ota-requestor-app/ameba/main/chipinterface.cpp
  examples/ota-requestor-app/cyw30739/src/main.cpp
  examples/ota-requestor-app/efr32/src/AppTask.cpp
  examples/ota-requestor-app/esp32/main/main.cpp
  examples/ota-requestor-app/mbed/main/AppTask.cpp
  examples/ota-requestor-app/p6/src/AppTask.cpp
  examples/platform/linux/AppMain.cpp
  examples/pump-app/cc13x2x7_26x2x7/main/AppTask.cpp
  examples/pump-app/nrfconnect/main/AppTask.cpp
  examples/pump-controller-app/cc13x2x7_26x2x7/main/AppTask.cpp
  examples/pump-controller-app/nrfconnect/main/AppTask.cpp
  examples/shell/nxp/k32w/k32w0/main/AppTask.cpp
  examples/shell/shell_common/cmd_server.cpp
  examples/temperature-measurement-app/esp32/main/main.cpp
  examples/tv-casting-app/linux/main.cpp
  examples/window-app/efr32/src/main.cpp
  src/app/server/AppDelegate.h
  src/app/server/CommissioningWindowManager.cpp
  src/app/server/Server.cpp
  src/app/server/Server.h
  src/app/server/java/AndroidAppServerWrapper.cpp
  src/app/tests/TestCommissionManager.cpp
  src/controller/python/chip/server/ServerInit.cpp
  src/include/platform/KvsPersistentStorageDelegate.h
  src/platform/BUILD.gn
Labels: examples, review - approved

#16977 Fix invalid CAT check routine in generate-cert
  src/tools/chip-cert/Cmd_GenCert.cpp
Labels: review - approved

#17005 [Darwin]Fix segmentation fault on writing userLabelList
  src/app/clusters/user-label-server/user-label-server.cpp
Labels: app, review - approved

#16962 Use nicer status logging in a few more places.
  src/app/StatusResponse.cpp
  src/app/clusters/administrator-commissioning-server/administrator-commissioning-server.cpp
Labels: app, review - approved

#16976 [OTA] Update provider usage and readme
  examples/ota-provider-app/linux/README.md
  examples/ota-provider-app/linux/main.cpp
Labels: examples, review - pending, fast track

#17007 Make breadcrumb optional in network commissioning cluster commands.
  examples/all-clusters-app/all-clusters-common/all-clusters-app.matter
  examples/bridge-app/bridge-common/bridge-app.matter
  examples/door-lock-app/door-lock-common/door-lock-app.matter
  examples/light-switch-app/light-switch-common/light-switch-app.matter
  examples/lighting-app/lighting-common/lighting-app.matter
  examples/lock-app/lock-common/lock-app.matter
  examples/log-source-app/log-source-common/log-source-app.matter
  examples/ota-provider-app/ota-provider-common/ota-provider-app.matter
  examples/ota-requestor-app/ota-requestor-common/ota-requestor-app.matter
  examples/placeholder/linux/apps/app1/config.matter
  examples/placeholder/linux/apps/app2/config.matter
  examples/pump-app/pump-common/pump-app.matter
  examples/pump-controller-app/pump-controller-common/pump-controller-app.matter
  examples/temperature-measurement-app/esp32/main/temperature-measurement.matter
  examples/thermostat/thermostat-common/thermostat.matter
  examples/tv-app/tv-common/tv-app.matter
  examples/tv-casting-app/tv-casting-common/tv-casting-app.matter
  examples/window-app/common/window-app.matter
  src/app/zap-templates/zcl/data-model/chip/commissioning.xml
  src/controller/CHIPDeviceController.cpp
  src/controller/data_model/controller-clusters.matter
  src/controller/java/zap-generated/chip/devicecontroller/ChipClusters.java
  src/controller/java/zap-generated/chip/devicecontroller/ClusterInfoMapping.java
  src/controller/python/chip/clusters/Objects.py
  src/darwin/Framework/CHIP/zap-generated/CHIPClustersObjc.mm
  src/darwin/Framework/CHIP/zap-generated/CHIPCommandPayloadsObjc.h
  src/darwin/Framework/CHIP/zap-generated/CHIPCommandPayloadsObjc.mm
  zzz_generated/app-common/app-common/zap-generated/cluster-objects.h
Labels: examples, darwin, controller, app, review - approved

#17009 Follow-up comment fixes in Server.h after #16956
  src/app/server/Server.h
Labels: app, review - approved

#16882 Properly handle commissioning error paths
  scripts/tests/cirque_tests.sh
  src/app/clusters/general-commissioning-server/general-commissioning-server.cpp
  src/app/server/CommissioningWindowManager.cpp
  src/app/server/CommissioningWindowManager.h
  src/controller/AutoCommissioner.cpp
  src/controller/AutoCommissioner.h
  src/controller/CHIPDeviceController.cpp
  src/controller/CHIPDeviceController.h
  src/controller/CommissioneeDeviceProxy.h
  src/controller/CommissioningDelegate.h
  src/controller/DevicePairingDelegate.h
  src/controller/python/ChipDeviceController-ScriptBinding.cpp
  src/controller/python/ChipDeviceController-ScriptDevicePairingDelegate.cpp
  src/controller/python/ChipDeviceController-ScriptDevicePairingDelegate.h
  src/controller/python/OpCredsBinding.cpp
  src/controller/python/chip/ChipDeviceCtrl.py
  src/controller/python/test/test_scripts/base.py
  src/controller/python/test/test_scripts/commissioning_failure_test.py
  src/darwin/Framework/CHIP/templates/tests/CHIPClustersTests.zapt
  src/darwin/Framework/CHIPTests/CHIPClustersTests.m
  src/include/platform/FailSafeContext.h
  src/lib/core/PeerId.h
  src/messaging/ExchangeContext.cpp
  src/platform/FailSafeContext.cpp
  src/test_driver/linux-cirque/CommissioningFailureOnReportTest.py
  src/test_driver/linux-cirque/CommissioningFailureTest.py
  src/transport/SessionManager.cpp
  src/transport/SessionManager.h
Labels: scripts, transport, platform, darwin, lib, controller, app, review - approved

#17018 RPC: Use non-blocking serial for console
  examples/common/pigweed/rpc_console/py/chip_rpc/console.py
Labels: examples, review - approved

#17017 [build] Fix #16912 - correct backoff ranges.
  src/messaging/tests/TestReliableMessageProtocol.cpp
Labels: review - approved

#16952 [OTA] Make OTARequestor responsible for responding to AnnounceOTAProvider command
  src/app/clusters/ota-requestor/OTARequestor.cpp
  src/app/clusters/ota-requestor/OTARequestor.h
  src/app/clusters/ota-requestor/OTARequestorInterface.h
  src/app/clusters/ota-requestor/ota-requestor-server.cpp
Labels: app, review - approved

#17022 Align key allocator keys with the intended naming scheme.
  src/credentials/GroupDataProviderImpl.cpp
  src/lib/support/DefaultStorageKeyAllocator.h
Labels: lib, review - approved

#16973 Failsafe fixes
  scripts/tests/cirque_tests.sh
  src/app/clusters/administrator-commissioning-server/administrator-commissioning-server.cpp
  src/app/clusters/general-commissioning-server/general-commissioning-server.cpp
  src/app/server/CommissioningWindowManager.cpp
  src/controller/python/test/test_scripts/base.py
  src/controller/python/test/test_scripts/failsafe_tests.py
  src/test_driver/linux-cirque/FailsafeTest.py
Labels: scripts, platform, controller, app, review - approved

#17008 Add extension attribute to access control cluster
  examples/all-clusters-app/all-clusters-common/all-clusters-app.matter
  examples/bridge-app/bridge-common/bridge-app.matter
  examples/door-lock-app/door-lock-common/door-lock-app.matter
  examples/light-switch-app/light-switch-common/light-switch-app.matter
  examples/lighting-app/lighting-common/lighting-app.matter
  examples/lock-app/lock-common/lock-app.matter
  examples/log-source-app/log-source-common/log-source-app.matter
  examples/ota-provider-app/ota-provider-common/ota-provider-app.matter
  examples/ota-requestor-app/ota-requestor-common/ota-requestor-app.matter
  examples/pump-app/pump-common/pump-app.matter
  examples/pump-controller-app/pump-controller-common/pump-controller-app.matter
  examples/temperature-measurement-app/esp32/main/temperature-measurement.matter
  examples/thermostat/thermostat-common/thermostat.matter
  examples/tv-app/tv-common/tv-app.matter
  examples/tv-casting-app/tv-casting-common/tv-casting-app.matter
  examples/window-app/common/window-app.matter
  src/app/clusters/access-control-server/access-control-server.cpp
  src/app/zap-templates/zcl/data-model/chip/access-control-cluster.xml
  src/controller/data_model/controller-clusters.matter
  src/lib/support/DefaultStorageKeyAllocator.h
  zzz_generated/app-common/app-common/zap-generated/cluster-objects.cpp
Labels: examples, lib, controller, app, review - approved

#17026 [OTA] Make default requestor more consistently named
  config/mbed/CMakeLists.txt
  examples/all-clusters-app/ameba/chip_main.cmake
  examples/all-clusters-app/ameba/main/chipinterface.cpp
  examples/all-clusters-app/esp32/main/main.cpp
  examples/lighting-app/ameba/chip_main.cmake
  examples/lighting-app/ameba/main/chipinterface.cpp
  examples/lighting-app/esp32/main/main.cpp
  examples/lighting-app/nxp/k32w/k32w0/main/AppTask.cpp
  examples/lighting-app/telink/CMakeLists.txt
  examples/lock-app/cc13x2x7_26x2x7/main/AppTask.cpp
  examples/ota-requestor-app/ameba/chip_main.cmake
  examples/ota-requestor-app/ameba/main/chipinterface.cpp
  examples/ota-requestor-app/cyw30739/src/main.cpp
  examples/ota-requestor-app/efr32/src/AppTask.cpp
  examples/ota-requestor-app/esp32/main/main.cpp
  examples/ota-requestor-app/linux/main.cpp
  examples/ota-requestor-app/p6/src/AppTask.cpp
  examples/platform/efr32/OTAConfig.cpp
  examples/platform/efr32/OTAConfig.h
  examples/platform/mbed/util/include/DFUManager.h
  examples/platform/nrfconnect/util/OTAUtil.cpp
  examples/platform/qpg/ota/ota.cpp
  examples/pump-app/cc13x2x7_26x2x7/main/AppTask.cpp
  examples/pump-controller-app/cc13x2x7_26x2x7/main/AppTask.cpp
  src/app/chip_data_model.gni
  src/app/clusters/ota-requestor/DefaultOTARequestor.cpp
  src/app/clusters/ota-requestor/DefaultOTARequestor.h
  src/app/clusters/ota-requestor/GenericOTARequestorDriver.cpp
  src/app/clusters/ota-requestor/OTARequestorDriver.h
  src/app/clusters/ota-requestor/OTARequestorInterface.h
Labels: examples, app, config, review - pending, fast track

#16801 Update rpc_console docs for building and running
  examples/common/pigweed/rpc_console/README.md
Labels: examples, review - pending

#17020 Remove unused `FindDestinationIDCandidate` API
  src/credentials/FabricTable.h
Labels: review - approved

#16701 Add possibility to build Tizen apps with various options
  .flake8
  scripts/build/README.md
  scripts/build/build/__init__.py
  scripts/build/build/targets.py
  scripts/build/build_examples.py
  scripts/build/builders/ameba.py
  scripts/build/builders/android.py
  scripts/build/builders/esp32.py
  scripts/build/builders/host.py
  scripts/build/builders/k32w.py
  scripts/build/builders/mbed.py
  scripts/build/builders/nrf.py
  scripts/build/builders/telink.py
  scripts/build/builders/tizen.py
  scripts/build/runner/__init__.py
  scripts/build/runner/shell.py
  scripts/build/setup.py
  scripts/build/test.py
  scripts/build/test_glob_matcher.py
  scripts/build/testdata/all_targets_except_host.txt
  scripts/build/testdata/build_all_except_host.txt
Labels: scripts, review - pending, fast track

#17032 Support remove fabric for access control extension
  src/app/clusters/access-control-server/access-control-server.cpp
Labels: app, review - approved

#17006 [thread] GenericNetworkCommissioningThreadDriver error handling fixes
  src/platform/OpenThread/GenericNetworkCommissioningThreadDriver.cpp
  src/platform/OpenThread/GenericNetworkCommissioningThreadDriver.h
Labels: platform, openthread, review - approved

#17025 [OTA] Make default requestor driver more consistently named
  config/mbed/CMakeLists.txt
  examples/all-clusters-app/ameba/chip_main.cmake
  examples/all-clusters-app/ameba/main/chipinterface.cpp
  examples/all-clusters-app/esp32/main/main.cpp
  examples/lighting-app/ameba/chip_main.cmake
  examples/lighting-app/ameba/main/chipinterface.cpp
  examples/lighting-app/esp32/main/main.cpp
  examples/lighting-app/nxp/k32w/k32w0/main/AppTask.cpp
  examples/lighting-app/telink/CMakeLists.txt
  examples/lock-app/cc13x2x7_26x2x7/main/AppTask.cpp
  examples/ota-requestor-app/ameba/chip_main.cmake
  examples/ota-requestor-app/ameba/main/chipinterface.cpp
  examples/ota-requestor-app/cyw30739/src/main.cpp
  examples/ota-requestor-app/efr32/src/AppTask.cpp
  examples/ota-requestor-app/esp32/main/main.cpp
  examples/ota-requestor-app/linux/main.cpp
  examples/ota-requestor-app/p6/src/AppTask.cpp
  examples/platform/efr32/OTAConfig.cpp
  examples/platform/efr32/OTAConfig.h
  examples/platform/mbed/ota/OTARequestorDriverImpl.h
  examples/platform/nrfconnect/util/OTAUtil.cpp
  examples/platform/qpg/ota/ota.cpp
  examples/pump-app/cc13x2x7_26x2x7/main/AppTask.cpp
  examples/pump-controller-app/cc13x2x7_26x2x7/main/AppTask.cpp
  src/app/chip_data_model.gni
  src/app/clusters/ota-requestor/DefaultOTARequestorDriver.cpp
  src/app/clusters/ota-requestor/DefaultOTARequestorDriver.h
  src/app/clusters/ota-requestor/ExtendedOTARequestorDriver.cpp
  src/app/clusters/ota-requestor/ExtendedOTARequestorDriver.h
  src/app/clusters/ota-requestor/OTARequestorDriver.h
Labels: examples, app, config, review - pending, fast track

#17038 [NWPROV] Fix spec compliance issues
  examples/all-clusters-app/all-clusters-common/all-clusters-app.matter
  examples/bridge-app/bridge-common/bridge-app.matter
  examples/door-lock-app/door-lock-common/door-lock-app.matter
  examples/light-switch-app/light-switch-common/light-switch-app.matter
  examples/lighting-app/lighting-common/lighting-app.matter
  examples/lock-app/lock-common/lock-app.matter
  examples/log-source-app/log-source-common/log-source-app.matter
  examples/ota-provider-app/ota-provider-common/ota-provider-app.matter
  examples/ota-requestor-app/ota-requestor-common/ota-requestor-app.matter
  examples/placeholder/linux/apps/app1/config.matter
  examples/placeholder/linux/apps/app2/config.matter
  examples/pump-app/pump-common/pump-app.matter
  examples/pump-controller-app/pump-controller-common/pump-controller-app.matter
  examples/temperature-measurement-app/esp32/main/temperature-measurement.matter
  examples/thermostat/thermostat-common/thermostat.matter
  examples/tv-app/tv-common/tv-app.matter
  examples/tv-casting-app/tv-casting-common/tv-casting-app.matter
  examples/window-app/common/window-app.matter
  src/app/clusters/network-commissioning/network-commissioning.cpp
  src/app/zap-templates/zcl/data-model/chip/commissioning.xml
  src/controller/data_model/controller-clusters.matter
  src/controller/java/zap-generated/CHIPInvokeCallbacks.cpp
  src/controller/java/zap-generated/chip/devicecontroller/ChipClusters.java
  src/controller/java/zap-generated/chip/devicecontroller/ChipStructs.java
  src/controller/java/zap-generated/chip/devicecontroller/ClusterInfoMapping.java
  src/controller/python/chip/clusters/Objects.py
  src/darwin/Framework/CHIP/zap-generated/CHIPCallbackBridge.mm
  src/darwin/Framework/CHIP/zap-generated/CHIPClustersObjc.h
  src/darwin/Framework/CHIP/zap-generated/CHIPClustersObjc.mm
  src/darwin/Framework/CHIP/zap-generated/CHIPCommandPayloadsObjc.h
  src/darwin/Framework/CHIP/zap-generated/CHIPCommandPayloadsObjc.mm
  src/darwin/Framework/CHIP/zap-generated/CHIPStructsObjc.h
  src/darwin/Framework/CHIP/zap-generated/CHIPStructsObjc.mm
  src/include/platform/NetworkCommissioning.h
  src/platform/Ameba/NetworkCommissioningDriver.h
  src/platform/EFR32/NetworkCommissioningWiFiDriver.cpp
  src/platform/EFR32/NetworkCommissioningWiFiDriver.h
  src/platform/ESP32/NetworkCommissioningDriver.h
  src/platform/Linux/ConnectivityManagerImpl.cpp
  src/platform/P6/NetworkCommissioningDriver.h
  src/platform/bouffalolab/BL602/NetworkCommissioningDriver.h
  src/platform/mbed/NetworkCommissioningDriver.h
  zzz_generated/app-common/app-common/zap-generated/af-structs.h
  zzz_generated/app-common/app-common/zap-generated/cluster-enums.h
  zzz_generated/app-common/app-common/zap-generated/cluster-objects.h
Labels: examples, darwin, controller, app, review - approved

#17052 chip-tool: allow any fabricId, up to a total of 17
  examples/chip-tool/commands/common/CHIPCommand.cpp
  examples/chip-tool/include/CHIPProjectAppConfig.h
Labels: examples, review - pending, fast track

#17063 Add missing clusters and attributes
  examples/placeholder/linux/BUILD.gn
  examples/placeholder/linux/apps/app1/config.matter
  examples/placeholder/linux/apps/app1/config.zap
  examples/placeholder/linux/src/bridged-actions-stub.cpp
  zzz_generated/placeholder/app1/zap-generated/IMClusterCommandHandler.cpp
  zzz_generated/placeholder/app1/zap-generated/PluginApplicationCallbacks.h
  zzz_generated/placeholder/app1/zap-generated/access.h
  zzz_generated/placeholder/app1/zap-generated/callback-stub.cpp
  zzz_generated/placeholder/app1/zap-generated/endpoint_config.h
  zzz_generated/placeholder/app1/zap-generated/gen_config.h
Labels: examples, review - approved

#17077 Move path to /zephyr-sdk-0.13.2 (from 0.13.0) for telink as this was …
  integrations/docker/images/chip-build-vscode/Dockerfile
Labels: integrations, review - pending

#17054 [thread/cleanup] Change GetThreadProvision to return OperationalDataset
  src/include/platform/ThreadStackManager.h
  src/lib/support/ThreadOperationalDataset.cpp
  src/platform/Linux/NetworkCommissioningThreadDriver.cpp
  src/platform/Linux/ThreadStackManagerImpl.cpp
  src/platform/Linux/ThreadStackManagerImpl.h
  src/platform/OpenThread/GenericNetworkCommissioningThreadDriver.cpp
  src/platform/OpenThread/GenericThreadStackManagerImpl_OpenThread.cpp
  src/platform/OpenThread/GenericThreadStackManagerImpl_OpenThread.h
Labels: platform, linux, openthread, lib, review - approved

#17067 [EFR32] Fix light-switch-app when build with LCD disabled
  examples/light-switch-app/efr32/src/AppTask.cpp
Labels: examples, review - approved

#17037 Use iterator to read supported calendar types
  src/app/clusters/time-format-localization-server/time-format-localization-server.cpp
  src/include/platform/DeviceInfoProvider.h
  src/include/platform/PlatformManager.h
  src/include/platform/internal/GenericPlatformManagerImpl.h
  src/platform/Darwin/PlatformManagerImpl.cpp
  src/platform/Darwin/PlatformManagerImpl.h
  src/platform/Linux/DeviceInfoProviderImpl.cpp
  src/platform/Linux/DeviceInfoProviderImpl.h
  src/platform/Linux/PlatformManagerImpl.cpp
  src/platform/Linux/PlatformManagerImpl.h
  src/platform/fake/PlatformManagerImpl.h
Labels: platform, darwin, linux, app, review - approved

#17068 clang-tidy: make auto-detect of compile_commands.json work
  scripts/run-clang-tidy-on-compile-commands.py
Labels: scripts, review - pending, fast track

#17083 Fix nrf rpc builds
  scripts/build/builders/nrf.py
  scripts/build/testdata/build_all_except_host.txt
Labels: scripts, review - pending

#17084 Glob blacklist the interactive chip-tool build when cross-compiling
  scripts/build/build/targets.py
  scripts/build/testdata/build_linux_on_x64.txt
Labels: hotfix, scripts, review - pending

#17074 Fail A record parsing if IPV4 is disabled in CHIP
  src/lib/dnssd/minimal_mdns/RecordData.cpp
  src/lib/dnssd/minimal_mdns/tests/TestRecordData.cpp
Labels: lib, review - approved

#17035 Added parameter to Objective-C CHIPDeviceController to accept PAA cer…
  examples/chip-tool-darwin/commands/common/CHIPCommandBridge.mm
  src/darwin/Framework/CHIP.xcodeproj/project.pbxproj
  src/darwin/Framework/CHIP/BUILD.gn
  src/darwin/Framework/CHIP/CHIPAttestationTrustStoreBridge.h
  src/darwin/Framework/CHIP/CHIPAttestationTrustStoreBridge.mm
  src/darwin/Framework/CHIP/CHIPDeviceController.h
  src/darwin/Framework/CHIP/CHIPDeviceController.mm
Labels: examples, darwin, fast track

#16741 Implement CASE session resumption
  examples/pump-app/cc13x2x7_26x2x7/args.gni
  examples/tv-casting-app/linux/main.cpp
  src/app/BUILD.gn
  src/app/CASEClient.cpp
  src/app/CASEClient.h
  src/app/OperationalDeviceProxy.cpp
  src/app/OperationalDeviceProxy.h
  src/app/server/Server.cpp
  src/app/server/Server.h
  src/app/tests/TestOperationalDeviceProxy.cpp
  src/controller/CHIPDeviceControllerFactory.cpp
  src/controller/CHIPDeviceControllerSystemState.h
  src/credentials/FabricTable.h
  src/crypto/CHIPCryptoPAL.h
  src/lib/core/CHIPConfig.h
  src/lib/support/DefaultStorageKeyAllocator.h
  src/lib/support/Span.h
  src/protocols/secure_channel/BUILD.gn
  src/protocols/secure_channel/CASEServer.cpp
  src/protocols/secure_channel/CASEServer.h
  src/protocols/secure_channel/CASESession.cpp
  src/protocols/secure_channel/CASESession.h
  src/protocols/secure_channel/CASESessionCache.cpp
  src/protocols/secure_channel/CASESessionCache.h
  src/protocols/secure_channel/SessionResumptionStorage.cpp
  src/protocols/secure_channel/SessionResumptionStorage.h
  src/protocols/secure_channel/SimpleSessionResumptionStorage.cpp
  src/protocols/secure_channel/SimpleSessionResumptionStorage.h
  src/protocols/secure_channel/tests/BUILD.gn
  src/protocols/secure_channel/tests/TestCASESession.cpp
  src/protocols/secure_channel/tests/TestCASESessionCache.cpp
  src/protocols/secure_channel/tests/TestPASESession.cpp
  src/protocols/secure_channel/tests/TestSimpleSessionResumptionStorage.cpp
  src/transport/PairingSession.h
Labels: examples, transport, lib, crypto, controller, app, review - approved

#17015 Add ota cluster on window-app
  examples/window-app/common/window-app.matter
  examples/window-app/common/window-app.zap
  zzz_generated/window-app/zap-generated/CHIPClientCallbacks.h
  zzz_generated/window-app/zap-generated/CHIPClusters.h
  zzz_generated/window-app/zap-generated/IMClusterCommandHandler.cpp
  zzz_generated/window-app/zap-generated/PluginApplicationCallbacks.h
  zzz_generated/window-app/zap-generated/callback-stub.cpp
  zzz_generated/window-app/zap-generated/endpoint_config.h
  zzz_generated/window-app/zap-generated/gen_config.h
Labels: examples, review - approved

#17099 Disable CYW30739 OTA requestor logging to fit the flash space.
  examples/ota-requestor-app/cyw30739/args.gni
Labels: examples, review - pending, fast track

#17092 [ESP32] Fix OTA file path and update OTA Provider readme with ACL requirements
  examples/ota-provider-app/esp32/README.md
  examples/ota-provider-app/esp32/main/main.cpp
Labels: examples, review - approved

#17051 [Ameba] Update dockerfile
  integrations/docker/images/chip-build-ameba/Dockerfile
  integrations/docker/images/chip-build/version
Labels: integrations, review - pending, fast track

#17110 [nrfconnect] Fixed sending light switch off command
  examples/light-switch-app/nrfconnect/main/BindingHandler.cpp
Labels: examples, fast track

#17111 [EFR32] Update EFR32 Thread Stack Manager Impl
  src/platform/EFR32/CHIPDevicePlatformConfig.h
  src/platform/EFR32/ConnectivityManagerImpl.cpp
  src/platform/EFR32/DiagnosticDataProviderImpl.cpp
  src/platform/EFR32/Logging.cpp
  src/platform/EFR32/PlatformManagerImpl.cpp
  src/platform/EFR32/SystemPlatformConfig.h
  src/platform/EFR32/ThreadStackManagerImpl.cpp
  src/platform/EFR32/ThreadStackManagerImpl.h
  src/platform/EFR32/args.gni
  src/platform/OpenThread/GenericThreadStackManagerImpl_OpenThread.cpp
  src/platform/OpenThread/GenericThreadStackManagerImpl_OpenThread_LwIP.cpp
Labels: platform, efr32, openthread, review - approved

#16731 chef sample app
  .github/.wordlist.txt
  examples/chef/.gitignore
  examples/chef/README.md
  examples/chef/README_DEVICE.md
  examples/chef/README_OTCLI.md
  examples/chef/README_SHELL.md
  examples/chef/chef.py
  examples/chef/chef_config.py
  examples/chef/devices/lighting-app.zap
  examples/chef/esp32/.gitignore
  examples/chef/esp32/CMakeLists.txt
  examples/chef/esp32/main/CMakeLists.txt
  examples/chef/esp32/main/Kconfig.projbuild
  examples/chef/esp32/main/QRCodeScreen.cpp
  examples/chef/esp32/main/include/QRCodeScreen.h
  examples/chef/esp32/main/main.cpp
  examples/chef/esp32/partitions.csv
  examples/chef/esp32/sdkconfig.defaults
  examples/chef/esp32/sdkconfig_rpc.defaults
  examples/chef/esp32/third_party/connectedhomeip
  examples/chef/linux/.gn
  examples/chef/linux/BUILD.gn
  examples/chef/linux/build_overrides
  examples/chef/linux/main.cpp
  examples/chef/linux/third_party/connectedhomeip
  examples/chef/nrfconnect/.gitignore
  examples/chef/nrfconnect/CHIPProjectConfig.h
  examples/chef/nrfconnect/CMakeLists.txt
  examples/chef/nrfconnect/README.md
  examples/chef/nrfconnect/boards/nrf52840dk_nrf52840.overlay
  examples/chef/nrfconnect/boards/nrf5340dk_nrf5340_cpuapp.conf
  examples/chef/nrfconnect/main.cpp
  examples/chef/nrfconnect/prj.conf
  examples/chef/nrfconnect/third_party/connectedhomeip
  examples/chef/shell_common
  scripts/tools/zap_regen_all.py
  src/lib/shell/streamer_esp32.cpp
  src/platform/ESP32/CHIPDevicePlatformConfig.h
Labels: documentation, examples, config, github, workflows, review - pending, fast track

#17075 Changed the lower limit of the deadband to 0 to match the spec
  src/app/zap-templates/zcl/data-model/chip/thermostat-cluster.xml
  zzz_generated/all-clusters-app/zap-generated/endpoint_config.h
  zzz_generated/placeholder/app1/zap-generated/endpoint_config.h
  zzz_generated/placeholder/app2/zap-generated/endpoint_config.h
  zzz_generated/thermostat/zap-generated/endpoint_config.h
Labels: app, review - approved

#17103 [net-comm] Check if failsafe is armed
  src/app/clusters/network-commissioning/network-commissioning.cpp
  src/controller/python/test/test_scripts/network_commissioning.py
Labels: controller, app, review - approved

#17114 Remove built-in dnssd cache
  src/app/CASESessionManager.cpp
  src/app/CASESessionManager.h
  src/app/server/Server.cpp
  src/controller/CHIPDeviceControllerFactory.cpp
  src/lib/core/CHIPConfig.h
  src/lib/dnssd/BUILD.gn
  src/lib/dnssd/Discovery_ImplPlatform.cpp
  src/lib/dnssd/Discovery_ImplPlatform.h
  src/lib/dnssd/DnssdCache.h
  src/lib/dnssd/tests/BUILD.gn
  src/lib/dnssd/tests/TestDnssdCache.cpp
  src/platform/Ameba/SystemPlatformConfig.h
  src/platform/EFR32/SystemPlatformConfig.h
  src/platform/ESP32/SystemPlatformConfig.h
  src/platform/Linux/SystemPlatformConfig.h
  src/platform/P6/SystemPlatformConfig.h
  src/platform/Tizen/SystemPlatformConfig.h
  src/platform/cc13x2_26x2/SystemPlatformConfig.h
  src/platform/mbed/SystemPlatformConfig.h
  src/platform/nrfconnect/SystemPlatformConfig.h
  src/platform/nxp/k32w/k32w0/SystemPlatformConfig.h
  src/platform/qpg/SystemPlatformConfig.h
  src/platform/telink/SystemPlatformConfig.h
  src/platform/webos/SystemPlatformConfig.h
Labels: platform, efr32, esp32, linux, nrf connect, lib, controller, app, review - approved, telink

#17109 Add sysconfig to chip-build-vscode
  integrations/docker/images/chip-build-vscode/Dockerfile
  integrations/docker/images/chip-build/version
Labels: integrations, review - approved

#17113 Modernize use nullptr
  .clang-tidy
  examples/bridge-app/linux/main.cpp
  examples/chip-tool-darwin/commands/common/CHIPCommandStorageDelegate.mm
  examples/chip-tool-darwin/commands/common/CHIPToolKeypair.mm
  examples/chip-tool-darwin/templates/commands.zapt
  examples/chip-tool/commands/interactive/InteractiveCommands.cpp
  examples/shell/shell_common/cmd_ping.cpp
  src/app/clusters/audio-output-server/audio-output-server.cpp
  src/app/clusters/ias-zone-server/ias-zone-server.cpp
  src/app/clusters/level-control/level-control.cpp
  src/app/clusters/low-power-server/low-power-server.cpp
  src/app/clusters/media-input-server/media-input-server.cpp
  src/app/clusters/ota-provider/ota-provider.cpp
  src/app/clusters/wake-on-lan-server/wake-on-lan-server.cpp
  src/app/tests/TestNumericAttributeTraits.cpp
  src/app/tests/integration/chip_im_initiator.cpp
  src/ble/tests/TestBleErrorStr.cpp
  src/ble/tests/TestBleUUID.cpp
  src/controller/python/ChipCommissionableNodeController-ScriptBinding.cpp
  src/controller/python/ChipDeviceController-ScriptBinding.cpp
  src/controller/python/OpCredsBinding.cpp
  src/controller/python/chip/ble/darwin/Scanning.mm
  src/credentials/attestation_verifier/FileAttestationTrustStore.cpp
  src/crypto/tests/CHIPCryptoPALTest.cpp
  src/darwin/Framework/CHIP/CHIPDeviceController.mm
  src/darwin/Framework/CHIP/CHIPOperationalCredentialsDelegate.mm
  src/include/platform/internal/GenericConnectivityManagerImpl_NoWiFi.h
  src/lib/shell/commands/Config.cpp
  src/lib/shell/commands/Dns.cpp
  src/lib/support/tests/TestErrorStr.cpp
  src/messaging/tests/echo/echo_requester.cpp
  src/platform/Darwin/BleConnectionDelegateImpl.mm
  src/platform/Darwin/BlePlatformDelegateImpl.mm
  src/platform/Darwin/DnssdImpl.cpp
  src/platform/Darwin/Logging.cpp
  src/system/SystemLayerImplSelect.cpp
  src/system/tests/TestSystemPacketBuffer.cpp
  src/tools/spake2p/Cmd_GenVerifier.cpp
  zzz_generated/chip-tool-darwin/zap-generated/cluster/Commands.h
Labels: examples, system, darwin, lib, crypto, controller, ble, app, review - approved

#17116 Add pw based tracing support to linux lighting app
  examples/lighting-app/linux/BUILD.gn
  examples/lighting-app/linux/with_pw_rpc.gni
  examples/platform/linux/Rpc.cpp
  src/trace/trace.h
Labels: examples, review - approved

#17135 Use TI docker image
  .github/workflows/examples-cc13x2x7_26x2x7.yaml
Labels: github, workflows, review - pending, fast track

#16944 add attribute change callback hook for speaker endpoint
  examples/tv-app/linux/BUILD.gn
  examples/tv-app/linux/ZclCallbacks.cpp
  zzz_generated/tv-app/zap-generated/af-gen-event.h
Labels: examples, review - pending, fast track

#17134 Update even more cluster access privileges
  src/app/zap-templates/zcl/data-model/silabs/general.xml
  src/app/zap-templates/zcl/data-model/silabs/ha.xml
  zzz_generated/all-clusters-app/zap-generated/access.h
  zzz_generated/bridge-app/zap-generated/access.h
  zzz_generated/light-switch-app/zap-generated/access.h
  zzz_generated/lighting-app/zap-generated/access.h
  zzz_generated/placeholder/app1/zap-generated/access.h
  zzz_generated/placeholder/app2/zap-generated/access.h
  zzz_generated/pump-app/zap-generated/access.h
  zzz_generated/pump-controller-app/zap-generated/access.h
  zzz_generated/thermostat/zap-generated/access.h
  zzz_generated/tv-app/zap-generated/access.h
  zzz_generated/tv-casting-app/zap-generated/access.h
Labels: app, review - approved

#17065 Add missing clusters and attributes controller
  src/controller/data_model/controller-clusters.matter
  src/controller/data_model/controller-clusters.zap
  src/controller/java/zap-generated/CHIPCallbackTypes.h
  src/controller/java/zap-generated/CHIPInvokeCallbacks.cpp
  src/controller/java/zap-generated/CHIPInvokeCallbacks.h
  src/controller/java/zap-generated/chip/devicecontroller/ChipClusters.java
  src/controller/java/zap-generated/chip/devicecontroller/ClusterInfoMapping.java
  src/controller/python/chip/clusters/CHIPClusters.py
  src/darwin/Framework/CHIP/zap-generated/CHIPCallbackBridge.mm
  src/darwin/Framework/CHIP/zap-generated/CHIPCallbackBridge_internal.h
  src/darwin/Framework/CHIP/zap-generated/CHIPClustersObjc.h
  src/darwin/Framework/CHIP/zap-generated/CHIPClustersObjc.mm
  zzz_generated/chip-tool-darwin/zap-generated/cluster/Commands.h
Labels: darwin, controller, review - approved

#17028 Added mechanism to override device attestation failure based on client/user
  src/controller/AutoCommissioner.cpp
  src/controller/AutoCommissioner.h
  src/controller/CHIPDeviceController.cpp
  src/controller/CHIPDeviceController.h
  src/controller/CommissioningDelegate.h
  src/credentials/BUILD.gn
  src/credentials/attestation_verifier/DeviceAttestationDelegate.h
  src/darwin/CHIPTool/CHIPTool/View Controllers/QRCode/QRCodeViewController.m
  src/darwin/Framework/CHIP.xcodeproj/project.pbxproj
  src/darwin/Framework/CHIP/BUILD.gn
  src/darwin/Framework/CHIP/CHIP.h
  src/darwin/Framework/CHIP/CHIPCommissioningParameters.h
  src/darwin/Framework/CHIP/CHIPDeviceAttestationDelegate.h
  src/darwin/Framework/CHIP/CHIPDeviceAttestationDelegateBridge.h
  src/darwin/Framework/CHIP/CHIPDeviceAttestationDelegateBridge.mm
  src/darwin/Framework/CHIP/CHIPDeviceController.h
  src/darwin/Framework/CHIP/CHIPDeviceController.mm
Labels: darwin, controller, review - approved

#17137 Fix wildcard path setDirty merge
  src/app/reporting/Engine.cpp
  src/app/reporting/Engine.h
  src/app/tests/TestReportingEngine.cpp
Labels: app, review - approved

#17140 [linux] Fix the UserListLength get lost after reboot
  src/platform/Linux/DeviceInfoProviderImpl.cpp
Labels: platform, linux, review - approved

#17128 Infineon pump: Enable session resumption disable detailed logging
  examples/pump-app/cc13x2x7_26x2x7/args.gni
Labels: examples, review - approved

#17001 Added option to override Vendor & Product IDs via cmd-line
  examples/platform/linux/AppMain.cpp
  examples/platform/linux/AppMain.h
  src/platform/Darwin/ConfigurationManagerImpl.cpp
  src/platform/Darwin/ConfigurationManagerImpl.h
  src/platform/Darwin/PosixConfig.cpp
  src/platform/Darwin/PosixConfig.h
  src/platform/Linux/CHIPLinuxStorage.cpp
  src/platform/Linux/CHIPLinuxStorage.h
  src/platform/Linux/CHIPLinuxStorageIni.cpp
  src/platform/Linux/CHIPLinuxStorageIni.h
  src/platform/Linux/ConfigurationManagerImpl.cpp
  src/platform/Linux/ConfigurationManagerImpl.h
  src/platform/Linux/PosixConfig.cpp
  src/platform/Linux/PosixConfig.h
  src/platform/Tizen/ConfigurationManagerImpl.cpp
  src/platform/Tizen/ConfigurationManagerImpl.h
  src/platform/Tizen/PosixConfig.cpp
  src/platform/Tizen/PosixConfig.h
Labels: examples, platform, darwin, linux, review - approved

#17119 Remove all dead config options from SDK
  config/android/CHIPProjectConfig.h
  config/ios/CHIPProjectConfig.h
  config/python/CHIPProjectConfig.h
  config/standalone/CHIPProjectConfig.h
  examples/all-clusters-app/p6/include/CHIPProjectConfig.h
  examples/chip-tool/include/CHIPProjectAppConfig.h
  examples/light-switch-app/efr32/include/CHIPProjectConfig.h
  examples/lighting-app/bouffalolab/bl602/include/CHIPProjectConfig.h
  examples/lighting-app/efr32/include/CHIPProjectConfig.h
  examples/lighting-app/nxp/k32w/k32w0/include/CHIPProjectConfig.h
  examples/lighting-app/p6/include/CHIPProjectConfig.h
  examples/lighting-app/qpg/include/CHIPProjectConfig.h
  examples/lock-app/efr32/include/CHIPProjectConfig.h
  examples/lock-app/nxp/k32w/k32w0/include/CHIPProjectConfig.h
  examples/lock-app/p6/include/CHIPProjectConfig.h
  examples/lock-app/qpg/include/CHIPProjectConfig.h
  examples/ota-requestor-app/efr32/include/CHIPProjectConfig.h
  examples/ota-requestor-app/p6/include/CHIPProjectConfig.h
  examples/persistent-storage/cc13x2x7_26x2x7/include/CHIPProjectConfig.h
  examples/persistent-storage/efr32/include/CHIPProjectConfig.h
  examples/persistent-storage/p6/include/CHIPProjectConfig.h
  examples/persistent-storage/qpg/include/CHIPProjectConfig.h
  examples/pigweed-app/efr32/include/CHIPProjectConfig.h
  examples/pump-app/cc13x2x7_26x2x7/main/include/CHIPProjectConfig.h
  examples/pump-controller-app/cc13x2x7_26x2x7/main/include/CHIPProjectConfig.h
  examples/shell/efr32/include/CHIPProjectConfig.h
  examples/shell/nxp/k32w/k32w0/include/CHIPProjectConfig.h
  examples/shell/qpg/include/CHIPProjectConfig.h
  examples/window-app/efr32/include/CHIPProjectConfig.h
  src/credentials/CHIPCert.h
  src/lib/core/BUILD.gn
  src/lib/core/CHIPConfig.h
  src/lib/core/CHIPTimeConfig.h
  src/lib/support/CHIPArgParser.cpp
  src/lib/support/CHIPFaultInjection.h
  src/lib/support/tests/BUILD.gn
  src/lib/support/tests/TestPersistedCounter.cpp
  src/lib/support/tests/TestPersistedStorageImplementation.cpp
  src/lib/support/tests/TestPersistedStorageImplementation.h
  src/platform/Ameba/CHIPDevicePlatformConfig.h
  src/platform/Ameba/CHIPPlatformConfig.h
  src/platform/CYW30739/CHIPPlatformConfig.h
  src/platform/CYW30739/KeyValueStoreManagerImpl.cpp
  src/platform/Darwin/CHIPPlatformConfig.h
  src/platform/EFR32/CHIPPlatformConfig.h
  src/platform/ESP32/CHIPPlatformConfig.h
  src/platform/Linux/CHIPPlatformConfig.h
  src/platform/P6/CHIPPlatformConfig.h
  src/platform/Tizen/CHIPPlatformConfig.h
  src/platform/android/CHIPPlatformConfig.h
  src/platform/bouffalolab/BL602/CHIPPlatformConfig.h
  src/platform/cc13x2_26x2/CHIPPlatformConfig.h
  src/platform/mbed/CHIPPlatformConfig.h
  src/platform/nrfconnect/CHIPPlatformConfig.h
  src/platform/nxp/k32w/k32w0/CHIPPlatformConfig.h
  src/platform/qpg/CHIPPlatformConfig.h
  src/platform/telink/CHIPPlatformConfig.h
  src/platform/webos/CHIPPlatformConfig.h
  src/test_driver/efr32/include/CHIPProjectConfig.h
Labels: examples, app, config, review - approved

#17168 [nrfconnect] Fix all-clusters-app partition layout
  examples/all-clusters-app/nrfconnect/CMakeLists.txt
Labels: examples, review - approved

#17149 Speed up clang-tidy runs: deduplicate clang-tidy file names to check.
  scripts/run-clang-tidy-on-compile-commands.py
Labels: scripts, review - pending, fast track

#17139 Remove `global` keyword from matter IDL files
  examples/all-clusters-app/all-clusters-common/all-clusters-app.matter
  examples/bridge-app/bridge-common/bridge-app.matter
  examples/door-lock-app/door-lock-common/door-lock-app.matter
  examples/light-switch-app/light-switch-common/light-switch-app.matter
  examples/lighting-app/lighting-common/lighting-app.matter
  examples/lock-app/lock-common/lock-app.matter
  examples/log-source-app/log-source-common/log-source-app.matter
  examples/ota-provider-app/ota-provider-common/ota-provider-app.matter
  examples/ota-requestor-app/ota-requestor-common/ota-requestor-app.matter
  examples/placeholder/linux/apps/app1/config.matter
  examples/placeholder/linux/apps/app2/config.matter
  examples/pump-app/pump-common/pump-app.matter
  examples/pump-controller-app/pump-controller-common/pump-controller-app.matter
  examples/temperature-measurement-app/esp32/main/temperature-measurement.matter
  examples/thermostat/thermostat-common/thermostat.matter
  examples/tv-app/tv-common/tv-app.matter
  examples/tv-casting-app/tv-casting-common/tv-casting-app.matter
  examples/window-app/common/window-app.matter
  scripts/idl/matter_grammar.lark
  scripts/idl/matter_idl_parser.py
  scripts/idl/matter_idl_types.py
  scripts/idl/test_matter_idl_parser.py
  src/app/zap-templates/templates/app/MatterIDL.zapt
  src/controller/data_model/controller-clusters.matter
Labels: examples, scripts, controller, app, review - approved

#17147 Change TODO to NOTE in ProcessGroupCommandDataIB
  src/app/CommandHandler.cpp
Labels: app, review - approved

#17154 Remove legacy code CommissioneeDeviceProxy::LoadSecureSessionParameters
  src/controller/CommissioneeDeviceProxy.cpp
  src/controller/CommissioneeDeviceProxy.h
Labels: controller, review - approved

#17090 Make UserPrompt with an expected value compile in chip-tool-darwin and Darwin tests.
  examples/chip-tool-darwin/commands/tests/TestCommandBridge.h
  examples/chip-tool-darwin/templates/partials/test_cluster.zapt
  src/darwin/Framework/CHIP/templates/tests/partials/test_cluster.zapt
Labels: examples, darwin, review - approved

#17122 Fix TLV tags in the Onboarding payload and update unit tests
  src/darwin/Framework/CHIPTests/CHIPSetupPayloadParserTests.m
  src/setup_payload/QRCodeSetupPayloadParser.cpp
  src/setup_payload/SetupPayload.cpp
  src/setup_payload/SetupPayload.h
  src/setup_payload/tests/TestHelpers.h
  src/setup_payload/tests/TestQRCodeTLV.cpp
Labels: setup payload, darwin, review - approved

#17115 Update more cluster access privileges
  src/app/zap-templates/zcl/data-model/all.xml
  src/app/zap-templates/zcl/data-model/chip/group-key-mgmt-cluster.xml
  src/app/zap-templates/zcl/data-model/chip/identify-cluster.xml
  src/app/zap-templates/zcl/data-model/chip/network-commissioning-cluster.xml
  src/app/zap-templates/zcl/data-model/chip/onoff-cluster.xml
  src/app/zap-templates/zcl/data-model/chip/thermostat-cluster.xml
  src/app/zap-templates/zcl/data-model/chip/user-label-cluster.xml
  src/app/zap-templates/zcl/zcl.json
  src/controller/python/chip/clusters/Objects.py
  zzz_generated/all-clusters-app/zap-generated/access.h
  zzz_generated/app-common/app-common/zap-generated/attribute-id.h
  zzz_generated/app-common/app-common/zap-generated/attributes/Accessors.cpp
  zzz_generated/app-common/app-common/zap-generated/attributes/Accessors.h
  zzz_generated/app-common/app-common/zap-generated/cluster-objects.cpp
  zzz_generated/app-common/app-common/zap-generated/cluster-objects.h
  zzz_generated/app-common/app-common/zap-generated/ids/Attributes.h
  zzz_generated/bridge-app/zap-generated/access.h
  zzz_generated/chip-tool-darwin/zap-generated/cluster/Commands.h
  zzz_generated/chip-tool/zap-generated/cluster/Commands.h
  zzz_generated/chip-tool/zap-generated/cluster/logging/DataModelLogger.cpp
  zzz_generated/door-lock-app/zap-generated/access.h
  zzz_generated/light-switch-app/zap-generated/access.h
  zzz_generated/lighting-app/zap-generated/access.h
  zzz_generated/lock-app/zap-generated/access.h
  zzz_generated/log-source-app/zap-generated/access.h
  zzz_generated/ota-provider-app/zap-generated/access.h
  zzz_generated/ota-requestor-app/zap-generated/access.h
  zzz_generated/placeholder/app1/zap-generated/access.h
  zzz_generated/placeholder/app2/zap-generated/access.h
  zzz_generated/pump-app/zap-generated/access.h
  zzz_generated/pump-controller-app/zap-generated/access.h
  zzz_generated/temperature-measurement-app/zap-generated/access.h
  zzz_generated/thermostat/zap-generated/access.h
  zzz_generated/tv-app/zap-generated/access.h
  zzz_generated/tv-casting-app/zap-generated/access.h
  zzz_generated/window-app/zap-generated/access.h
Labels: controller, app, review - approved

#17184 Add usage documentation/example to DecodableList.
  src/app/data-model/DecodableList.h
Labels: app, review - approved, fast track

#17173 Removed redundant Store call in addNOC callback
  src/app/clusters/operational-credentials-server/operational-credentials-server.cpp
  src/credentials/FabricTable.h
Labels: scripts, app, review - approved

#17171 ESP32: Add timeout for mdns_query_async_get_results
  src/platform/ESP32/DnssdImpl.cpp
Labels: platform, esp32, review - approved, fast track

#17170 [ESP32] Fixed crash on commissioning into a second fabric
  examples/all-clusters-app/esp32/main/DeviceCallbacks.cpp
  examples/lighting-app/esp32/main/DeviceCallbacks.cpp
Labels: examples, review - approved

#17150 Add instructions to get trace from linux lighting app.
  examples/lighting-app/linux/README.md
  examples/platform/linux/Rpc.cpp
Labels: examples, review - approved

#17186 Move timeouts from 5 to 10 minutes for linux app builds
  .github/workflows/examples-linux-standalone.yaml
Labels: github, workflows, review - approved

#17179 Add ClearSecretData calls for IPK bits on Darwin.
  src/crypto/CHIPCryptoPAL.h
  src/darwin/Framework/CHIP/CHIPOperationalCredentialsDelegate.h
  src/darwin/Framework/CHIP/CHIPOperationalCredentialsDelegate.mm
  src/protocols/secure_channel/CASESession.cpp
Labels: darwin, crypto, review - approved

#17156 [OTA] Update OTA Requestor cluster README
  .github/.wordlist.txt
  src/app/clusters/ota-requestor/README.md
Labels: app, github, review - approved

#17102 [thread] Restore OpenThread config on failsafe timeout
  src/app/clusters/network-commissioning/network-commissioning.cpp
  src/include/platform/ThreadStackManager.h
  src/include/platform/internal/GenericConfigurationManagerImpl.ipp
  src/lib/support/DefaultStorageKeyAllocator.h
  src/lib/support/ThreadOperationalDataset.h
  src/platform/Linux/NetworkCommissioningThreadDriver.cpp
  src/platform/Linux/ThreadStackManagerImpl.cpp
  src/platform/Linux/ThreadStackManagerImpl.h
  src/platform/OpenThread/GenericNetworkCommissioningThreadDriver.cpp
  src/platform/OpenThread/GenericNetworkCommissioningThreadDriver.h
  src/platform/OpenThread/GenericThreadStackManagerImpl_OpenThread.cpp
  src/platform/OpenThread/GenericThreadStackManagerImpl_OpenThread.h
Labels: platform, linux, openthread, lib, app, review - approved

#16670 [IM] Notify AttributeAccessInterface for end of list
  src/app/AttributeAccessInterface.h
  src/app/ChunkedWriteCallback.cpp
  src/app/ChunkedWriteCallback.h
  src/app/ConcreteAttributePath.h
  src/app/InteractionModelEngine.cpp
  src/app/InteractionModelEngine.h
  src/app/WriteHandler.cpp
  src/app/WriteHandler.h
  src/app/tests/TestWriteInteraction.cpp
  src/app/tests/integration/chip_im_initiator.cpp
  src/app/tests/integration/chip_im_responder.cpp
  src/app/util/attribute-storage.cpp
  src/app/util/attribute-storage.h
  src/app/util/ember-compatibility-functions.cpp
  src/app/util/mock/attribute-storage.cpp
  src/controller/tests/TestWriteChunking.cpp
  src/controller/tests/data_model/TestWrite.cpp
  src/darwin/Framework/CHIP/CHIPIMDispatch.mm
Labels: darwin, controller, app, review - pending, fast track

#17185 Whitelist no-interactive-ipv6only instead of just no-interactive.
  scripts/build/build/targets.py
  scripts/build/testdata/build_linux_on_x64.txt
Labels: scripts, review - approved, fast track

#17192 [TI] Disable EC-JPAKE and Thread Joiner
  examples/lock-app/cc13x2x7_26x2x7/chip.syscfg
  examples/lock-app/cc13x2x7_26x2x7/main/main.cpp
  examples/pump-app/cc13x2x7_26x2x7/chip.syscfg
  examples/pump-app/cc13x2x7_26x2x7/main/main.cpp
  examples/pump-controller-app/cc13x2x7_26x2x7/chip.syscfg
  examples/pump-controller-app/cc13x2x7_26x2x7/main/main.cpp
  src/platform/cc13x2_26x2/crypto/cc13x2_26x2-mbedtls-config.h
  src/platform/cc13x2_26x2/openthread-core-cc13x2_26x2-config.h
Labels: review - approved

#17158 [IM] Fix potential CI crash and random CI failure
  .github/workflows/cirque.yaml
  src/app/InteractionModelEngine.h
  src/controller/TypedReadCallback.h
Labels: controller, app, github, workflows, review - approved

#17202 Quick fix for CYW30739 building error caused by removed config.
  src/platform/CYW30739/KeyValueStoreManagerImpl.h
Labels: platform, review - approved

#17212 Fix nrf-nrf52840dongle-light build
  scripts/build/builders/nrf.py
  scripts/build/testdata/build_all_except_host.txt
Labels: scripts, review - approved

#17125 Apply clang-tidy readability-else-after-return
  .clang-tidy
  examples/bridge-app/linux/main.cpp
  examples/chip-tool/commands/clusters/CustomArgument.h
  examples/chip-tool/commands/common/CHIPCommand.cpp
  examples/chip-tool/commands/common/Command.cpp
  examples/platform/linux/CommissioneeShellCommands.cpp
  examples/platform/linux/ControllerShellCommands.cpp
  examples/platform/linux/LinuxCommissionableDataProvider.cpp
  examples/platform/linux/Options.cpp
  examples/shell/shell_common/cmd_ping.cpp
  examples/tv-app/linux/include/account-login/AccountLoginManager.cpp
  examples/tv-casting-app/linux/main.cpp
  src/app/EventManagement.cpp
  src/app/clusters/barrier-control-server/barrier-control-server.cpp
  src/app/clusters/bindings/bindings.cpp
  src/app/clusters/color-control-server/color-control-server.cpp
  src/app/clusters/door-lock-server/door-lock-server.cpp
  src/app/clusters/groups-server/groups-server.cpp
  src/app/clusters/identify-server/identify-server.cpp
  src/app/clusters/localization-configuration-server/localization-configuration-server.cpp
  src/app/clusters/operational-credentials-server/operational-credentials-server.cpp
  src/app/clusters/ota-requestor/BDXDownloader.cpp
  src/app/clusters/ota-requestor/DefaultOTARequestor.cpp
  src/app/clusters/ota-requestor/DefaultOTARequestor.h
  src/app/clusters/ota-requestor/DefaultOTARequestorDriver.cpp
  src/app/clusters/scenes/scenes.cpp
  src/app/clusters/test-cluster-server/test-cluster-server.cpp
  src/app/clusters/thermostat-server/thermostat-server.cpp
  src/app/clusters/user-label-server/user-label-server.cpp
  src/app/tests/TestReadInteraction.cpp
  src/app/tests/integration/MockEvents.cpp
  src/app/tests/suites/commands/commissioner/CommissionerCommands.cpp
  src/app/util/attribute-storage.cpp
  src/app/util/util.cpp
  src/controller/AutoCommissioner.cpp
  src/controller/CHIPDeviceController.cpp
  src/controller/python/ChipDeviceController-StorageDelegate.cpp
  src/controller/tests/TestWriteChunking.cpp
  src/controller/tests/data_model/TestRead.cpp
  src/controller/tests/data_model/TestWrite.cpp
  src/darwin/Framework/CHIP/CHIPSetupPayload.mm
  src/include/platform/KvsPersistentStorageDelegate.h
  src/lib/address_resolve/AddressResolve_DefaultImpl.cpp
  src/lib/dnssd/Discovery_ImplPlatform.cpp
  src/lib/shell/commands/BLE.cpp
  src/lib/shell/commands/Config.cpp
  src/lib/shell/commands/OnboardingCodes.cpp
  src/lib/shell/commands/WiFi.cpp
  src/lib/support/TestPersistentStorageDelegate.h
  src/lib/support/tests/TestStateMachine.cpp
  src/platform/Darwin/BleConnectionDelegateImpl.mm
  src/platform/Darwin/DnssdImpl.cpp
  src/platform/Darwin/UUIDHelperImpl.mm
  src/platform/Linux/DeviceInfoProviderImpl.cpp
  src/protocols/secure_channel/CASESession.cpp
  src/tools/chip-cert/Cmd_GenAttCert.cpp
  src/tools/spake2p/Cmd_GenVerifier.cpp
  src/transport/SecureSessionTable.h
Labels: examples, controller, app, review - approved

#17207 [nrfconnect] Bump SDK version in Docker
  integrations/docker/images/chip-build-nrf-platform/Dockerfile
  integrations/docker/images/chip-build/version
Labels: integrations, review - approved

#17131 Check error code on TestMultiFabric
  src/controller/python/test/test_scripts/mobile-device-test.py
Labels: controller, review - approved

#17178 Improve code clarity on IsTimeGreaterThanEqual
  src/crypto/CHIPCryptoPALmbedTLS.cpp
Labels: crypto, review - approved

#17216 Bump linux RunTests time limit to 30 min from 15
  .github/workflows/build.yaml
Labels: github, workflows, review - approved

#17194 Improve round-tripping of CHIP_ERROR through NSError.
  src/darwin/Framework/CHIP/CHIPError.mm
Labels: darwin, review - pending, fast track

#16764 [examples] Enabled FeatureMap on all clusters for pump-app and pump-controller-app
  examples/pump-app/pump-common/pump-app.matter
  examples/pump-app/pump-common/pump-app.zap
  examples/pump-controller-app/pump-controller-common/pump-controller-app.matter
  examples/pump-controller-app/pump-controller-common/pump-controller-app.zap
  zzz_generated/pump-app/zap-generated/endpoint_config.h
  zzz_generated/pump-controller-app/zap-generated/endpoint_config.h
Labels: examples, review - approved

#17225 Re-Enable Certificate Validity Time Checks
  src/crypto/CHIPCryptoPALOpenSSL.cpp
  src/crypto/CHIPCryptoPALmbedTLS.cpp
Labels: crypto, review - approved

#17245 Increase some build timeouts on linux
  .github/workflows/build.yaml
Labels: hotfix, github, workflows

#17234 [nrfconnect] Fixed obsolete information in docs
  examples/all-clusters-app/nrfconnect/README.md
  examples/light-switch-app/nrfconnect/README.md
  examples/lighting-app/nrfconnect/README.md
  examples/lock-app/nrfconnect/README.md
  examples/pump-app/nrfconnect/README.md
  examples/pump-controller-app/nrfconnect/README.md
Labels: examples, review - approved

#17223 [OTA] Validate various error ImageURI cases
  src/app/clusters/ota-requestor/DefaultOTARequestor.cpp
Labels: app, review - approved

#17190 Make AddAttribute() APIs More Error Prone for Consumers
  src/controller/ExampleOperationalCredentialsIssuer.cpp
  src/controller/java/AndroidOperationalCredentialsIssuer.cpp
  src/credentials/CHIPCert.cpp
  src/credentials/CHIPCert.h
  src/credentials/tests/TestChipCert.cpp
  src/darwin/Framework/CHIP/CHIPOperationalCredentialsDelegate.mm
  src/lib/asn1/gen_asn1oid.py
  src/lib/asn1/tests/TestASN1.cpp
  src/tools/chip-cert/CertUtils.cpp
  src/tools/chip-cert/Cmd_GenCert.cpp
Labels: darwin, lib, controller, review - approved

#17219 Add parsing support of access control tags in matter IDL
  .github/.wordlist.txt
  scripts/idl/README.md
  scripts/idl/matter_grammar.lark
  scripts/idl/matter_idl_parser.py
  scripts/idl/matter_idl_types.py
  scripts/idl/test_matter_idl_parser.py
Labels: scripts, github, review - approved

#17152 Add clusters and attributes using yaml to check
  examples/placeholder/linux/apps/app1/config.matter
  examples/placeholder/linux/apps/app1/config.zap
  examples/placeholder/linux/apps/app2/config.matter
  examples/placeholder/linux/apps/app2/config.zap
  zzz_generated/placeholder/app1/zap-generated/endpoint_config.h
  zzz_generated/placeholder/app2/zap-generated/IMClusterCommandHandler.cpp
  zzz_generated/placeholder/app2/zap-generated/PluginApplicationCallbacks.h
  zzz_generated/placeholder/app2/zap-generated/access.h
  zzz_generated/placeholder/app2/zap-generated/callback-stub.cpp
  zzz_generated/placeholder/app2/zap-generated/endpoint_config.h
  zzz_generated/placeholder/app2/zap-generated/gen_config.h
Labels: examples, review - approved

#17097 Added initial implementation of PCC server cluster
  src/app/clusters/pump-configuration-and-control-server/pump-configuration-and-control-server.cpp
Labels: app, review - approved

#17003 [sleepy] Fix #15800 - track idle/active of peer and use dynamic timeout
  src/messaging/ReliableMessageMgr.cpp
  src/transport/GroupSession.h
  src/transport/SecureSession.h
  src/transport/Session.h
  src/transport/SessionManager.cpp
  src/transport/UnauthenticatedSessionTable.h
Labels: transport, review - approved

#17258 Remove unused per-controller storage delegate
  examples/chip-tool/commands/common/CHIPCommand.cpp
  examples/chip-tool/commands/pairing/CommissionedListCommand.cpp
  examples/platform/linux/AppMain.cpp
  src/controller/CHIPDeviceController.cpp
  src/controller/CHIPDeviceController.h
  src/controller/CHIPDeviceControllerFactory.cpp
  src/controller/CHIPDeviceControllerFactory.h
  src/controller/CommissioneeDeviceProxy.h
  src/controller/java/AndroidDeviceControllerWrapper.cpp
  src/controller/python/OpCredsBinding.cpp
  src/controller/python/chip/internal/CommissionerImpl.cpp
  src/darwin/Framework/CHIP/CHIPDeviceController.mm
  src/lib/support/PersistentStorageMacros.h
Labels: examples, darwin, lib, controller, review - approved

#17269 ESP32: Enable minimal mdns by default
  config/esp32/components/chip/Kconfig
Labels: config, review - approved

#17233 [ESP32] Make partition name configurable for chip namespaces
  config/esp32/components/chip/Kconfig
  src/platform/ESP32/CHIPDevicePlatformConfig.h
  src/platform/ESP32/ConfigurationManagerImpl.cpp
  src/platform/ESP32/ESP32Config.cpp
  src/platform/ESP32/ESP32Config.h
  src/platform/ESP32/ScopedNvsHandle.h
Labels: platform, esp32, config, review - approved

#17243 [Server] Ensure that the interface id that is passed as a parameter i…
  src/app/server/Server.cpp
Labels: app, review - approved

#17254 Add tracing to efr32 ligthing app.
  config/efr32/lib/pw_rpc/pw_rpc.gni
  examples/lighting-app/efr32/BUILD.gn
  examples/lighting-app/efr32/README.md
  examples/lighting-app/efr32/with_pw_rpc.gni
  examples/platform/efr32/Rpc.cpp
Labels: examples, config, review - approved

#17250 [ci] Checkout only relevant submodules
  .github/workflows/build.yaml
  .github/workflows/cirque.yaml
  .github/workflows/darwin.yaml
  .github/workflows/examples-ameba.yaml
  .github/workflows/examples-cc13x2x7_26x2x7.yaml
  .github/workflows/examples-cyw30739.yaml
  .github/workflows/examples-efr32.yaml
  .github/workflows/examples-esp32.yaml
  .github/workflows/examples-infineon.yaml
  .github/workflows/examples-k32w.yaml
  .github/workflows/examples-linux-arm.yaml
  .github/workflows/examples-linux-imx.yaml
  .github/workflows/examples-linux-standalone.yaml
  .github/workflows/examples-mbed.yaml
  .github/workflows/examples-nrfconnect.yaml
  .github/workflows/examples-qpg.yaml
  .github/workflows/examples-telink.yaml
  .github/workflows/examples-tizen.yaml
  .github/workflows/qemu.yaml
  .github/workflows/smoketest-android.yaml
  .github/workflows/tests.yaml
  .github/workflows/unit_integration_test.yaml
  .github/workflows/zap_templates.yaml
  .gitmodules
  scripts/checkout_submodules.py
Labels: scripts, github, workflows, review - approved

#17242 [Darwin] Ensure the mac address returned from GetPrimaryMacAddress is…
  src/platform/Darwin/ConfigurationManagerImpl.cpp
Labels: platform, darwin, review - approved

#17278 Move tokenized tracing overrides into light-app specific GNI
  config/efr32/lib/pw_rpc/pw_rpc.gni
  examples/lighting-app/efr32/with_pw_rpc.gni
Labels: examples, scripts, config, review - pending, fast track

#17136 [Darwin] Implement DeviceInfoProviderImpl with persistent storage
  .github/workflows/tests.yaml
  src/app/server/Server.cpp
  src/darwin/Framework/CHIP/templates/tests/CHIPClustersTests.zapt
  src/darwin/Framework/CHIP/templates/tests/tests.js
  src/darwin/Framework/CHIPTests/CHIPClustersTests.m
  src/include/platform/DeviceInfoProvider.h
  src/platform/Darwin/BUILD.gn
  src/platform/Darwin/DeviceInfoProviderImpl.cpp
  src/platform/Darwin/DeviceInfoProviderImpl.h
  src/platform/Darwin/PlatformManagerImpl.cpp
  src/platform/DeviceInfoProvider.cpp
Labels: platform, darwin, app, github, workflows, review - approved

#17214 Fix 17211: TV Casting does not work on Mac
  examples/tv-casting-app/linux/BUILD.gn
  examples/tv-casting-app/linux/Casting.h
  examples/tv-casting-app/linux/CastingShellCommands.cpp
  examples/tv-casting-app/linux/CastingShellCommands.h
  examples/tv-casting-app/linux/main.cpp
  examples/tv-casting-app/tv-casting-common/include/CHIPProjectAppConfig.h
  src/app/server/CommissioningWindowManager.cpp
  src/controller/CHIPCommissionableNodeController.cpp
  src/lib/dnssd/Discovery_ImplPlatform.cpp
  src/platform/Darwin/DnssdImpl.cpp
Labels: examples, platform, darwin, lib, controller, app, review - approved

#17280 [chip-tool] Add --commissioner-nodeid parameter
  examples/chip-tool/commands/common/CHIPCommand.cpp
  examples/chip-tool/commands/common/CHIPCommand.h
Labels: examples, review - approved

#17304 update cirque docker git version
  integrations/docker/ci-only-images/chip-cirque-device-base/Dockerfile
Labels: integrations, review - approved

#17315 [nrfconnect] Added recovering CASE session for the light switch
  examples/light-switch-app/nrfconnect/main/AppTask.cpp
  examples/light-switch-app/nrfconnect/main/BindingHandler.cpp
  examples/light-switch-app/nrfconnect/main/LightSwitch.cpp
  examples/light-switch-app/nrfconnect/main/ShellCommands.cpp
  examples/light-switch-app/nrfconnect/main/include/BindingHandler.h
Labels: examples, review - approved

#17236 [nrfconnect] Added support for updating network core using new DFU Target library.
  .github/workflows/examples-nrfconnect.yaml
  config/nrfconnect/.nrfconnect-recommended-revision
  integrations/cloudbuild/build-all.yaml
  integrations/cloudbuild/smoke-test.yaml
  src/platform/nrfconnect/OTAImageProcessorImpl.cpp
  src/platform/nrfconnect/OTAImageProcessorImpl.h
Labels: integrations, platform, nrf connect, config, github, workflows, review - approved

#17296 Stop allocating CASE buffer based on wire sizes
  src/protocols/secure_channel/CASESession.cpp
Labels: review - approved

#17335 Attempt to skip code in misspell
  .github/.wordlist.txt
  .spellcheck.yml
  docs/api/device_runner.md
  docs/discussion/lwip_ipv6.md
  docs/examples/discussion/PID_allocation_for_example_apps.md
  docs/guides/BUILDING.md
  docs/guides/matter-repl.md
  docs/guides/mbedos_add_new_target.md
  docs/guides/mbedos_commissioning.md
  docs/guides/mbedos_platform_overview.md
  docs/guides/nrfconnect_android_commissioning.md
  docs/guides/nrfconnect_examples_cli.md
  docs/guides/nrfconnect_examples_configuration.md
  docs/guides/nrfconnect_examples_software_update.md
  docs/guides/nxp_imx8m_linux_examples.md
  docs/guides/nxp_k32w_android_commissioning.md
  docs/guides/openthread_rcp_nrf_dongle.md
  docs/guides/silabs_efr32_software_update.md
  docs/guides/ti_platform_overview.md
  examples/all-clusters-app/ameba/README.md
  examples/all-clusters-app/esp32/README.md
  examples/all-clusters-app/linux/README.md
  examples/all-clusters-app/mbed/README.md
  examples/all-clusters-app/nrfconnect/README.md
  examples/all-clusters-app/p6/README.md
  examples/bridge-app/esp32/README.md
  examples/bridge-app/linux/README.md
  examples/chip-tool/README.md
  examples/common/pigweed/rpc_console/README.md
  examples/ipv6only-app/esp32/README.md
  examples/lighting-app/bouffalolab/bl602/README.md
  examples/lighting-app/efr32/README.md
  examples/lighting-app/mbed/README.md
  examples/lighting-app/nrfconnect/README.md
  examples/lock-app/efr32/README.md
  examples/lock-app/mbed/README.md
  examples/ota-provider-app/linux/README.md
  examples/ota-requestor-app/linux/README.md
  examples/ota-requestor-app/mbed/README.md
  examples/pigweed-app/mbed/README.md
  examples/shell/mbed/README.md
  integrations/docker/images/chip-build-crosscompile/README.md
  src/README.md
  src/lwip/patches/README.md
  src/test_driver/efr32/README.md
  src/test_driver/esp32/README.md
  src/test_driver/mbed/integration_tests/README.md
  src/test_driver/mbed/unit_tests/README.md
  src/trace/README.md
Labels: documentation, examples, integrations, github, review - pending, fast track, lwip

#17325 Do not report CHIP_NO_ERROR as if it was an error
  src/controller/AutoCommissioner.cpp
  src/controller/CHIPDeviceController.cpp
Labels: controller, review - approved

#17342 Remove replacing underscores with spaces in scanned NFC tag on iOS
  src/darwin/CHIPTool/CHIPTool/View Controllers/QRCode/QRCodeViewController.m
Labels: darwin, review - approved

#17222 [OTA] Make ImageURI configurable for the OTA Provider app
  .github/.wordlist.txt
  examples/ota-provider-app/linux/README.md
  examples/ota-provider-app/linux/main.cpp
  examples/ota-provider-app/ota-provider-common/OTAProviderExample.cpp
  examples/ota-provider-app/ota-provider-common/OTAProviderExample.h
  src/protocols/bdx/BdxUri.cpp
  src/protocols/bdx/BdxUri.h
Labels: examples, github, review - approved
