Repository project-chip/connectedhomeip, pull requests merged in 2023-02, with the labels that each got.

#24767 Call stopControllerFactory atexit in the Darwin framework.
  src/darwin/Framework/CHIP/MTRDeviceControllerFactory.mm
Labels: darwin, review - pending, fast track

#24748 Split ha.xml into individual dedicated cluster and types files
  .github/workflows/tests.yaml
  scripts/rules.matterlint
  scripts/tests/chiptest/yamltest_with_chip_repl_tester.py
  src/app/zap-templates/zcl/data-model/all.xml
  src/app/zap-templates/zcl/data-model/chip/ballast-configuration-cluster.xml
  src/app/zap-templates/zcl/data-model/chip/fan-control-cluster.xml
  src/app/zap-templates/zcl/data-model/chip/occupancy-sensing-cluster.xml
  src/app/zap-templates/zcl/data-model/chip/thermostat-user-interface-configuration-cluster.xml
  src/app/zap-templates/zcl/data-model/draft/electrical-measurement-cluster.xml
  src/app/zap-templates/zcl/data-model/draft/types/ballast-configuration.xml
  src/app/zap-templates/zcl/data-model/draft/types/occupancy-sensing.xml
  src/app/zap-templates/zcl/data-model/draft/types/thermostat-user-interface-configuration.xml
  src/app/zap-templates/zcl/data-model/silabs/types-silabs.xml
  src/app/zap-templates/zcl/zcl-with-test-extensions.json
  src/app/zap-templates/zcl/zcl.json
  zzz_generated/app-common/app-common/zap-generated/enums.h
Labels: scripts, app, github, workflows, review - approved

#23795 [Silabs] Disconnection issue fix
  examples/platform/silabs/efr32/rs911x/rsi_if.c
  examples/platform/silabs/efr32/wf200/host_if.cpp
  src/platform/silabs/ConnectivityManagerImpl_WIFI.cpp
  src/platform/silabs/EFR32/wifi/wfx_host_events.h
  src/platform/silabs/EFR32/wifi/wfx_notify.cpp
Labels: examples, platform, review - approved

#24757 Update zap
  integrations/docker/images/chip-cert-bins/Dockerfile
  scripts/tools/zap/zap_execution.py
  scripts/zap.json
  zzz_generated/app-common/app-common/zap-generated/tests/simulated-cluster-objects.h
Labels: scripts, integrations, review - approved

#24785 [matter_yamltest / chip-repl] Disable Test_TC_OO_2_4 because it seems…
  scripts/tests/chiptest/__init__.py
Labels: scripts, review - approved

#24782 [chip-tool] Add missing RemoteDataModelLogger::LogEventAsJson call
  examples/chip-tool/commands/clusters/ReportCommand.h
Labels: tools, examples, review - approved

#24781 [matter_yamltests] Remove support for generic success/error messages
  scripts/py_matter_yamltests/matter_yamltests/parser.py
  src/controller/python/chip/yaml/runner.py
Labels: scripts, controller, review - approved

#24776 Fix WARNING during building Android CHIPTool
  third_party/java_deps/set_up_java_deps.sh
Labels: review - approved

#24784 [cluster] Move door lock types from silabs/types-silabs.xml to draft/…
  src/app/zap-templates/zcl/data-model/chip/door-lock-cluster.xml
  src/app/zap-templates/zcl/data-model/draft/types/door-lock.xml
  src/app/zap-templates/zcl/data-model/silabs/types-silabs.xml
  src/app/zap-templates/zcl/zcl-with-test-extensions.json
  src/app/zap-templates/zcl/zcl.json
Labels: app, review - approved

#24659 [matter_yamltests] Add supports for OTA_SuccessfulTransfer specific S…
  scripts/py_matter_yamltests/matter_yamltests/pseudo_clusters/clusters/accessory_server_bridge.py
  scripts/py_matter_yamltests/matter_yamltests/pseudo_clusters/clusters/delay_commands.py
  scripts/py_matter_yamltests/matter_yamltests/pseudo_clusters/clusters/system_commands.py
  scripts/tests/chiptest/accessories.py
  src/app/tests/suites/commands/system/scripts/CompareFiles.py
  src/app/tests/suites/commands/system/scripts/CreateOtaImage.py
Labels: scripts, app, review - approved, tests

#24775 Update build documentation for all-clusters-app.
  examples/all-clusters-app/linux/README.md
Labels: examples, review - approved

#24759 Enable Subscription Persistence and Resumption for ESP32
  src/platform/device.gni
Labels: platform, review - approved

#24752 Allowing pregenerated files in python build
  docs/guides/matter-repl.md
  scripts/build_python.sh
Labels: documentation, scripts, review - approved

#24804 Update Darwin guide with information about iOS/etc 16.3.
  docs/guides/darwin.md
Labels: documentation, review - pending, fast track

#24805 Make OperationalSessionSetup a bit smaller.
  src/app/OperationalSessionSetup.h
Labels: app, review - approved

#24801 Fix bridge-cast error.
  src/darwin/CHIPTool/CHIPTool/Framework Helpers/FabricKeys.m
Labels: darwin, review - pending, fast track

#24725 [icd] Defer subscription resumption
  config/nrfconnect/chip-module/CMakeLists.txt
  config/zephyr/Kconfig
  src/app/server/Server.cpp
  src/app/server/Server.h
  src/controller/tests/TestCommissionableNodeController.cpp
  src/include/platform/CHIPDeviceEvent.h
  src/lib/dnssd/Discovery_ImplPlatform.cpp
  src/lib/dnssd/Discovery_ImplPlatform.h
  src/lib/dnssd/Resolver.h
  src/lib/dnssd/ResolverProxy.h
  src/lib/dnssd/Resolver_ImplMinimalMdns.cpp
  src/lib/dnssd/Resolver_ImplNone.cpp
Labels: platform, lib, controller, app, config, review - approved, icd

#24797 Fix missing cases in some door lock switch statements.
  src/app/clusters/door-lock-server/door-lock-server-callback.cpp
  src/app/clusters/door-lock-server/door-lock-server.cpp
  src/app/clusters/door-lock-server/door-lock-server.h
Labels: app, review - approved

#24799 Fix crash if chip-tool gets an error status response.
  examples/chip-tool/commands/common/RemoteDataModelLogger.cpp
Labels: tools, examples, review - approved

#24795 Only update placeholder if pics is enabled
  scripts/py_matter_yamltests/matter_yamltests/parser.py
Labels: scripts, review - approved

#24809 Fix java-matter-controller crash when try to show command helper info
  examples/java-matter-controller/java/src/com/matter/controller/Main.java
  examples/java-matter-controller/java/src/com/matter/controller/commands/common/CommandManager.java
Labels: examples, review - approved

#24802 Allow checking constraint type by struct name
  scripts/py_matter_yamltests/matter_yamltests/constraints.py
  scripts/py_matter_yamltests/matter_yamltests/parser.py
Labels: scripts, review - approved

#24820 Add namespace usage to fix android tv compile
  examples/tv-app/android/java/AppImpl.cpp
Labels: hotfix

#24769 Don't try to relock the lock if it's locked when the auto-relock timer fires.
  src/app/clusters/door-lock-server/door-lock-server.cpp
Labels: app, review - approved

#24774 Add a method to send the NOC with CATs when pairing devices
  examples/chip-tool/commands/common/CredentialIssuerCommands.h
  examples/chip-tool/commands/example/ExampleCredentialIssuerCommands.h
  examples/chip-tool/commands/pairing/PairingCommand.cpp
  examples/chip-tool/commands/pairing/PairingCommand.h
  src/controller/ExampleOperationalCredentialsIssuer.cpp
  src/controller/ExampleOperationalCredentialsIssuer.h
Labels: tools, examples, controller, review - approved

#24800 Fix OnOff GlobalSceneControl incorrect state change
  src/app/clusters/level-control/level-control.cpp
Labels: app, review - approved

#24817 Fix memory leaks in MTRAsyncCallbackQueueWorkItem.
  src/darwin/Framework/CHIP/MTRAsyncCallbackWorkQueue.mm
  src/darwin/Framework/CHIPTests/MTRAsyncCallbackQueueTests.m
Labels: darwin, review - pending, fast track

#24822 Import chip::app::Clusters instead of app::Clusters
  examples/tv-app/android/java/AppImpl.cpp
Labels: examples, hotfix, review - pending

#24813 [Tizen] Docker image with QEMU for IoT app tests
  .github/workflows/docker_img.yaml
  integrations/docker/images/chip-build-tizen-qemu/Dockerfile
  integrations/docker/images/chip-build-tizen-qemu/build.sh
  integrations/docker/images/chip-build-tizen-qemu/files/0001-smack-add-permissive-mode.patch
  integrations/docker/images/chip-build-tizen-qemu/run.sh
  integrations/docker/images/chip-build-tizen-qemu/version
  integrations/docker/images/chip-build-tizen/Dockerfile
  integrations/docker/images/chip-build/Dockerfile
  integrations/docker/images/chip-build/version
  third_party/tizen/tizen_dev_certificate.py
  third_party/tizen/tizen_manifest_parser.py
  third_party/tizen/tizen_qemu.py
  third_party/tizen/tizen_sdk.gni
Labels: integrations, github, workflows, review - approved

#24827 [types-silabs.xml] Remove enums/structs related to the old ZCL payloa…
  src/app/zap-templates/zcl/data-model/silabs/types-silabs.xml
Labels: app, review - approved

#23935 [nrfconnect] new: sleepy behaviour for lighting app
  examples/lighting-app/nrfconnect/main/AppTask.cpp
Labels: examples, review - pending

#24808 Add the ability for OperationalSessionSetup to retry a few times automatically.
  src/app/CASESessionManager.cpp
  src/app/CASESessionManager.h
  src/app/OperationalSessionSetup.cpp
  src/app/OperationalSessionSetup.h
  src/controller/CHIPDeviceController.cpp
  src/include/platform/CHIPDeviceConfig.h
Labels: platform, controller, app, review - approved

#24788 [chip-tool] Add force-write to allow writing to non-writable attributes
  examples/chip-tool/commands/clusters/WriteAttributeCommand.h
  examples/chip-tool/commands/common/Commands.cpp
  examples/chip-tool/templates/commands.zapt
  zzz_generated/chip-tool/zap-generated/cluster/Commands.h
Labels: tools, examples, review - approved

#24828 Follow up typo fix
  scripts/py_matter_yamltests/matter_yamltests/parser.py
Labels: scripts, review - pending, fast track

#24818 Make sure we don't double-close exchanges in OTA if an exchange times out.
  src/app/clusters/ota-requestor/DefaultOTARequestor.h
Labels: app, review - approved

#24738 Move shared callback bridge functionality to MTRCallbackBridgeBase.
  .github/workflows/lint.yml
  src/darwin/Framework/CHIP/MTRCallbackBridgeBase.h
Labels: darwin, github, workflows, review - pending, fast track

#24745 tv-casting-app: Fixing issues passing uniqueIDs and Video player caching
  examples/tv-casting-app/android/App/app/src/main/jni/com/chip/casting/AppParameters.java
  examples/tv-casting-app/android/App/app/src/main/jni/cpp/ConversionUtils.cpp
  examples/tv-casting-app/tv-casting-common/include/CHIPProjectAppConfig.h
  examples/tv-casting-app/tv-casting-common/src/PersistenceManager.cpp
Labels: examples, review - approved, tv-casting

#24821 Improve error reporting in chip-tool when the wrong quotes are used.
  examples/chip-tool/commands/common/Commands.cpp
Labels: tools, examples, review - approved

#24832 Fix minor issue with PICS test step check, and enable tests
  scripts/tests/chiptest/__init__.py
  scripts/tests/chiptest/yamltest_with_chip_repl_tester.py
Labels: scripts, review - approved

#24839 Fix up the Matter REPL Deepnote links
  docs/guides/matter-repl.md
Labels: documentation, review - approved

#24812 Added updated manual scripts
  src/app/tests/suites/certification/Test_TC_ACL_2_5.yaml
  src/app/tests/suites/certification/Test_TC_BRBINFO_2_3.yaml
  src/app/tests/suites/certification/Test_TC_BR_1.yaml
  src/app/tests/suites/certification/Test_TC_CADMIN_1_19.yaml
  src/app/tests/suites/certification/Test_TC_CADMIN_1_20.yaml
  src/app/tests/suites/certification/Test_TC_CC_5_4.yaml
  src/app/tests/suites/certification/Test_TC_CNET_4_10.yaml
  src/app/tests/suites/certification/Test_TC_DD_1_8.yaml
  src/app/tests/suites/certification/Test_TC_DD_2_2.yaml
  src/app/tests/suites/certification/Test_TC_DD_3_19.yaml
  src/app/tests/suites/certification/Test_TC_DD_3_2.yaml
  src/app/tests/suites/certification/Test_TC_DRLK_3_3.yaml
  src/app/tests/suites/certification/Test_TC_G_2_2.yaml
  src/app/tests/suites/certification/Test_TC_G_2_3.yaml
  src/app/tests/suites/certification/Test_TC_LTIME_2_1.yaml
  src/app/tests/suites/certification/Test_TC_MOD_1_2.yaml
  src/app/tests/suites/certification/Test_TC_MOD_3_1.yaml
  src/app/tests/suites/certification/Test_TC_MOD_3_2.yaml
  src/app/tests/suites/certification/Test_TC_MOD_3_3.yaml
  src/app/tests/suites/certification/Test_TC_MOD_3_4.yaml
  src/app/tests/suites/certification/Test_TC_OO_3_2.yaml
  src/app/tests/suites/certification/Test_TC_SU_2_4.yaml
  src/app/tests/suites/certification/Test_TC_SU_2_6.yaml
  src/app/tests/suites/certification/Test_TC_SU_2_7.yaml
Labels: app, review - pending, fast track, tests

#24837 [Tizen] Fix QEMU runner return code processing
  integrations/docker/images/chip-build-tizen-qemu/Dockerfile
  integrations/docker/images/chip-build/version
Labels: integrations, review - pending, fast track

#24825 [Silabs] Fix LCD specific app image not getting compiled
  examples/light-switch-app/silabs/efr32/BUILD.gn
  examples/light-switch-app/silabs/efr32/include/AppConfig.h
  examples/lighting-app/silabs/efr32/BUILD.gn
  examples/lighting-app/silabs/efr32/include/AppConfig.h
  examples/lock-app/silabs/efr32/BUILD.gn
  examples/lock-app/silabs/efr32/include/AppConfig.h
  examples/platform/silabs/efr32/BUILD.gn
  examples/platform/silabs/efr32/display/demo-ui-bitmaps.h
  examples/thermostat/silabs/efr32/BUILD.gn
  examples/thermostat/silabs/efr32/include/AppConfig.h
Labels: examples, platform, review - approved

#24846 Improve discovery logging on Darwin.
  src/platform/Darwin/DnssdContexts.cpp
  src/platform/Darwin/DnssdHostNameRegistrar.cpp
  src/platform/Darwin/DnssdImpl.cpp
Labels: platform, darwin, review - approved

#24779 Changed AccessControlEntriesPerFabric default value to 4
  examples/all-clusters-app/all-clusters-common/all-clusters-app.matter
  examples/all-clusters-app/all-clusters-common/all-clusters-app.zap
  examples/all-clusters-minimal-app/all-clusters-common/all-clusters-minimal-app.matter
  examples/all-clusters-minimal-app/all-clusters-common/all-clusters-minimal-app.zap
  examples/bridge-app/bridge-common/bridge-app.matter
  examples/bridge-app/bridge-common/bridge-app.zap
  examples/chef/sample_app_util/test_files/sample_zap_file.zap
  examples/contact-sensor-app/contact-sensor-common/contact-sensor-app.matter
  examples/contact-sensor-app/contact-sensor-common/contact-sensor-app.zap
  examples/dynamic-bridge-app/bridge-common/bridge-app.matter
  examples/dynamic-bridge-app/bridge-common/bridge-app.zap
  examples/light-switch-app/light-switch-common/light-switch-app.matter
  examples/light-switch-app/light-switch-common/light-switch-app.zap
  examples/lighting-app/lighting-common/lighting-app.matter
  examples/lighting-app/lighting-common/lighting-app.zap
  examples/lighting-app/nxp/zap/lighting-on-off.matter
  examples/lighting-app/nxp/zap/lighting-on-off.zap
  examples/lock-app/lock-common/lock-app.matter
  examples/lock-app/lock-common/lock-app.zap
  examples/log-source-app/log-source-common/log-source-app.matter
  examples/log-source-app/log-source-common/log-source-app.zap
  examples/ota-provider-app/ota-provider-common/ota-provider-app.matter
  examples/ota-provider-app/ota-provider-common/ota-provider-app.zap
  examples/ota-requestor-app/ota-requestor-common/ota-requestor-app.matter
  examples/ota-requestor-app/ota-requestor-common/ota-requestor-app.zap
  examples/pump-app/pump-common/pump-app.matter
  examples/pump-app/pump-common/pump-app.zap
  examples/pump-controller-app/pump-controller-common/pump-controller-app.matter
  examples/pump-controller-app/pump-controller-common/pump-controller-app.zap
  examples/temperature-measurement-app/esp32/main/temperature-measurement.matter
  examples/temperature-measurement-app/esp32/main/temperature-measurement.zap
  examples/thermostat/thermostat-common/thermostat.matter
  examples/thermostat/thermostat-common/thermostat.zap
  examples/tv-app/tv-common/tv-app.matter
  examples/tv-app/tv-common/tv-app.zap
  examples/tv-casting-app/tv-casting-common/tv-casting-app.matter
  examples/tv-casting-app/tv-casting-common/tv-casting-app.zap
  examples/window-app/common/window-app.matter
  examples/window-app/common/window-app.zap
  scripts/py_matter_idl/matter_idl/tests/inputs/large_all_clusters_app.matter
  scripts/py_matter_idl/matter_idl/tests/inputs/large_lighting_app.matter
  scripts/tools/zap/tests/inputs/all-clusters-app.zap
  scripts/tools/zap/tests/inputs/lighting-app.zap
  src/controller/data_model/controller-clusters.zap
Labels: examples, scripts, controller, review - approved

#24765 Add more tests to the cert tests
  examples/tv-casting-app/android/App/app/src/main/java/com/chip/casting/app/CertTestFragment.java
  examples/tv-casting-app/android/App/app/src/main/jni/com/chip/casting/TvCastingApp.java
  examples/tv-casting-app/android/App/app/src/main/jni/cpp/Constants.h
  examples/tv-casting-app/android/App/app/src/main/jni/cpp/TvCastingApp-JNI.cpp
  examples/tv-casting-app/android/App/app/src/main/jni/cpp/TvCastingApp-JNI.h
  examples/tv-casting-app/darwin/MatterTvCastingBridge/MatterTvCastingBridge/CastingServerBridge.h
  examples/tv-casting-app/darwin/MatterTvCastingBridge/MatterTvCastingBridge/CastingServerBridge.mm
  examples/tv-casting-app/darwin/TvCasting/TvCasting/CertTestViewModel.swift
  examples/tv-casting-app/tv-casting-common/include/CastingServer.h
  examples/tv-casting-app/tv-casting-common/include/MediaPlayback.h
  examples/tv-casting-app/tv-casting-common/src/CastingServer.cpp
  examples/tv-casting-app/tv-casting-common/src/MediaPlayback.cpp
Labels: examples, review - approved

#24854 Update docker cert-bins image to 12.22.12
  integrations/docker/images/chip-cert-bins/Dockerfile
Labels: hotfix, integrations, review - pending

#24850 Updating documentation for installing Zap
  docs/VSCODE_DEVELOPMENT.md
  docs/guides/BUILDING.md
Labels: documentation, review - pending, fast track

#24848 Remove unnecessary cast from endpoint-config.
  scripts/tools/zap/tests/outputs/all-clusters-app/app-templates/endpoint_config.h
  scripts/tools/zap/tests/outputs/lighting-app/app-templates/endpoint_config.h
  src/app/zap-templates/templates/app/endpoint_config.zapt
  zzz_generated/darwin/controller-clusters/zap-generated/endpoint_config.h
Labels: scripts, app, review - pending, fast track

#24762 Add CIPD zap to mac-arm64
  scripts/zap.json
Labels: scripts, review - approved

#24793 Add GetCommissionerNodeId to chip-reply yamltest runner
  src/controller/python/chip/yaml/runner.py
Labels: controller, review - pending, fast track

#24777 Add a timer to track whether we have received BDX init after a query …
  src/darwin/Framework/CHIP/MTROTAProviderDelegateBridge.mm
  src/protocols/bdx/TransferFacilitator.cpp
Labels: darwin, review - approved

#23547 Fix wrong steps in Working with the CHIP Tool page
  docs/guides/chip_tool_guide.md
Labels: documentation, review - approved

#24851 Rpc: Make DeviceInfo SerialNumber field optional
  examples/common/pigweed/rpc_services/Device.h
Labels: examples, review - approved

#24852 Add a default group to example apps build
  examples/lock-app/linux/BUILD.gn
  examples/log-source-app/linux/BUILD.gn
  examples/ota-provider-app/linux/BUILD.gn
  examples/ota-requestor-app/linux/BUILD.gn
  examples/persistent-storage/linux/BUILD.gn
  examples/placeholder/linux/BUILD.gn
  examples/thermostat/linux/BUILD.gn
  examples/tv-app/linux/BUILD.gn
  examples/tv-casting-app/linux/BUILD.gn
Labels: examples, review - approved

#24870 Update command for ethernet commissioning from docs
  docs/guides/esp32/build_app_and_commission.md
Labels: documentation, review - approved

#24608 [silabs] [siwx917] enabled LED and Button support, updated BLE adv time and clock freq
  examples/light-switch-app/silabs/SiWx917/BUILD.gn
  examples/light-switch-app/silabs/SiWx917/include/AppTask.h
  examples/light-switch-app/silabs/SiWx917/src/AppTask.cpp
  examples/light-switch-app/silabs/SiWx917/src/main.cpp
  examples/lighting-app/silabs/SiWx917/BUILD.gn
  examples/lighting-app/silabs/SiWx917/include/AppTask.h
  examples/lighting-app/silabs/SiWx917/src/AppTask.cpp
  examples/lighting-app/silabs/SiWx917/src/main.cpp
  examples/lock-app/silabs/SiWx917/BUILD.gn
  examples/lock-app/silabs/SiWx917/include/AppTask.h
  examples/lock-app/silabs/SiWx917/src/AppTask.cpp
  examples/lock-app/silabs/SiWx917/src/main.cpp
  examples/platform/silabs/SiWx917/BaseApplication.cpp
  examples/platform/silabs/SiWx917/LEDWidget.cpp
  examples/platform/silabs/SiWx917/LEDWidget.h
  examples/platform/silabs/SiWx917/SiWx917/hal/rsi_hal_mcu_m4.c
  examples/platform/silabs/SiWx917/SiWx917/hal/rsi_hal_mcu_platform_init.c
  examples/platform/silabs/SiWx917/SiWx917/rs911x.gni
  examples/platform/silabs/SiWx917/init_ccpPlatform.cpp
  examples/window-app/silabs/SiWx917/BUILD.gn
  examples/window-app/silabs/SiWx917/include/WindowAppImpl.h
  examples/window-app/silabs/SiWx917/src/WindowAppImpl.cpp
  src/platform/silabs/SiWx917/bluetooth/rsi_ble_config.h
  third_party/silabs/SiWx917_sdk.gni
Labels: examples, platform, review - approved

#24819 Add rotating ID to python discovery logic and support it in tests
  src/controller/python/ChipDeviceController-Discovery.cpp
  src/controller/python/chip/discovery/__init__.py
  src/controller/python/chip/yaml/runner.py
Labels: controller, review - pending, fast track

#24798 [Silabs] Change directory to be inline with all the other ones
  .github/boring-cyborg.yml
  .github/labeler.yml
  examples/chef/efr32/BUILD.gn
  examples/chef/efr32/args.gni
  examples/chef/efr32/build_for_wifi_args.gni
  examples/light-switch-app/silabs/efr32/BUILD.gn
  examples/light-switch-app/silabs/efr32/args.gni
  examples/light-switch-app/silabs/efr32/build_for_wifi_args.gni
  examples/lighting-app/silabs/efr32/BUILD.gn
  examples/lighting-app/silabs/efr32/args.gni
  examples/lighting-app/silabs/efr32/build_for_wifi_args.gni
  examples/lock-app/silabs/efr32/BUILD.gn
  examples/lock-app/silabs/efr32/args.gni
  examples/lock-app/silabs/efr32/build_for_wifi_args.gni
  examples/platform/silabs/SiWx917/OTAConfig.h
  examples/platform/silabs/efr32/BUILD.gn
  examples/platform/silabs/efr32/OTAConfig.h
  examples/platform/silabs/efr32/matter_config.cpp
  examples/platform/silabs/efr32/rs911x/rs911x.gni
  examples/platform/silabs/efr32/wf200/wf200.gni
  examples/thermostat/silabs/efr32/BUILD.gn
  examples/thermostat/silabs/efr32/args.gni
  examples/thermostat/silabs/efr32/build_for_wifi_args.gni
  examples/window-app/silabs/efr32/BUILD.gn
  examples/window-app/silabs/efr32/args.gni
  examples/window-app/silabs/efr32/build_for_wifi_args.gni
  src/platform/BUILD.gn
  src/platform/silabs/efr32/BLEManagerImpl.cpp
  src/platform/silabs/efr32/BUILD.gn
  src/platform/silabs/efr32/CHIPCryptoPALPsaEfr32.cpp
  src/platform/silabs/efr32/ConfigurationManagerImpl.cpp
  src/platform/silabs/efr32/ConnectivityManagerImpl.cpp
  src/platform/silabs/efr32/Efr32OpaqueKeypair.h
  src/platform/silabs/efr32/Efr32PsaOpaqueKeypair.cpp
  src/platform/silabs/efr32/Efr32PsaOperationalKeystore.cpp
  src/platform/silabs/efr32/Efr32PsaOperationalKeystore.h
  src/platform/silabs/efr32/KeyValueStoreManagerImpl.cpp
  src/platform/silabs/efr32/OTAImageProcessorImpl.cpp
  src/platform/silabs/efr32/OTAImageProcessorImpl.h
  src/platform/silabs/efr32/PlatformManagerImpl.cpp
  src/platform/silabs/efr32/ThreadStackManagerImpl.cpp
  src/platform/silabs/efr32/args.gni
  src/platform/silabs/efr32/efr32-chip-mbedtls-config.h
  src/platform/silabs/efr32/psa_crypto_config.h
  src/platform/silabs/efr32/wifi/dhcp_client.cpp
  src/platform/silabs/efr32/wifi/dhcp_client.h
  src/platform/silabs/efr32/wifi/ethernetif.cpp
  src/platform/silabs/efr32/wifi/ethernetif.h
  src/platform/silabs/efr32/wifi/lwip_netif.cpp
  src/platform/silabs/efr32/wifi/wfx_host_events.h
  src/platform/silabs/efr32/wifi/wfx_msgs.h
  src/platform/silabs/efr32/wifi/wfx_notify.cpp
  src/platform/silabs/efr32/wifi/wifi_config.h
  src/platform/silabs/efr32/wifi_args.gni
  src/test_driver/efr32/BUILD.gn
  src/test_driver/efr32/args.gni
  third_party/silabs/efr32_sdk.gni
Labels: examples, platform, github, review - approved, test driver

#24876 Add back the ability to choose a specific target when regenerating te…
  scripts/tools/zap_regen_all.py
Labels: review - pending, fast track

#24878 [CI] Fix MatterLint
  scripts/rules.matterlint
Labels: scripts, review - pending, fast track

#24834 Make "test cases" have tags for easier selection of what subset is being considered.
  .github/workflows/tests.yaml
  scripts/tests/chiptest/__init__.py
  scripts/tests/chiptest/test_definition.py
  scripts/tests/run_test_suite.py
Labels: scripts, github, workflows, review - approved

#24874 Types silabs remove enums from the zcl basic cluster that are not used
  src/app/common/templates/weak-enum-list.yaml
  src/app/zap-templates/zcl/data-model/silabs/types-silabs.xml
  zzz_generated/app-common/app-common/zap-generated/enums.h
Labels: app, review - approved

#24875 [chip-tool] Returns an error if an unknown argument is passed to the …
  examples/chip-tool/commands/common/Commands.cpp
Labels: tools, examples, review - approved

#24885 [Silabs]fix minimal feature build
  third_party/silabs/efr32_sdk.gni
Labels: review - approved

#24771 [Andriod] Remove extra sub-interface layer from DeviceAttestationDelegate interface
  examples/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/provisioning/DeviceProvisioningFragment.kt
  src/controller/java/CHIPDeviceController-JNI.cpp
  src/controller/java/DeviceAttestationDelegateBridge.cpp
  src/controller/java/src/chip/devicecontroller/ChipDeviceController.java
  src/controller/java/src/chip/devicecontroller/DeviceAttestationDelegate.java
Labels: examples, controller, review - approved

#24806 Add TI CC32XX to Github CI
  .github/workflows/examples-cc32xx.yaml
  .gitmodules
  README.md
  examples/lock-app/cc32xx/BUILD.gn
  examples/lock-app/cc32xx/README.md
  examples/lock-app/cc32xx/main/AppTask.cpp
  examples/lock-app/cc32xx/main/CHIPDeviceManager.cpp
  examples/lock-app/cc32xx/main/DeviceCallbacks.cpp
  examples/lock-app/cc32xx/main/include/CHIPDeviceManager.h
  examples/lock-app/cc32xx/main/include/DeviceCallbacks.h
  examples/platform/cc32xx/BUILD.gn
  examples/platform/cc32xx/CC32XXDeviceAttestationCreds.cpp
  examples/platform/cc32xx/CC32XXDeviceAttestationCreds.h
  scripts/build/build/targets.py
  scripts/build/builders/cc32xx.py
  scripts/build/testdata/all_targets_linux_x64.txt
  src/platform/cc32xx/BUILD.gn
  src/platform/cc32xx/CC32XXConfig.cpp
  src/platform/cc32xx/ConnectivityManagerImpl.cpp
  third_party/ti_simplelink_sdk/ti_simplelink_sdk.gni
Labels: documentation, examples, scripts, platform, github, workflows, review - approved

#24891 [java-matter-controller] Remove pairing ethernet command
  .github/workflows/tests.yaml
  examples/java-matter-controller/BUILD.gn
  examples/java-matter-controller/java/src/com/matter/controller/Main.java
  examples/java-matter-controller/java/src/com/matter/controller/commands/common/Argument.java
  examples/java-matter-controller/java/src/com/matter/controller/commands/pairing/PairEthernetCommand.java
  examples/java-matter-controller/java/src/com/matter/controller/commands/pairing/PairingCommand.java
  examples/java-matter-controller/java/src/com/matter/controller/commands/pairing/PairingModeType.java
  scripts/tests/java/commissioning_test.py
Labels: examples, scripts, github, workflows, review - approved

#24890 Updated ShutDown and Leave Events of the Basic Information Cluster as Optional to Match the Spec
  src/app/zap-templates/zcl/data-model/chip/basic-information-cluster.xml
Labels: app, review - approved

#24888 Update All Events of the Pump Configuration and Control Cluster as Optional to Match the Spec
  src/app/zap-templates/zcl/data-model/chip/pump-configuration-and-control-cluster.xml
Labels: app, review - approved

#24882 Add a cache for the FindBinary method of scripts/tests/run_test_suite…
  scripts/requirements.txt
  scripts/tests/run_test_suite.py
Labels: scripts, review - approved

#24869 [matter_yamltests] Add a config_override property to the TestParser i…
  scripts/py_matter_yamltests/matter_yamltests/parser.py
  scripts/py_matter_yamltests/test_yaml_parser.py
  scripts/tests/chiptest/yamltest_with_chip_repl_tester.py
Labels: scripts, review - approved

#24877 [placeholder] Add logs to the json response in interactive server mode
  examples/placeholder/linux/InteractiveServer.cpp
Labels: examples, review - approved

#24892 [chip-tool] Remove pairing ethernet command
  examples/chip-tool/commands/pairing/Commands.h
  examples/chip-tool/commands/pairing/PairingCommand.cpp
  examples/chip-tool/commands/pairing/PairingCommand.h
Labels: tools, examples, review - approved

#24887 Enable more tests: #24793 added commissionernodeid support
  scripts/tests/chiptest/__init__.py
Labels: scripts, review - pending, fast track

#24787 [Telink] Introduce power management
  config/telink/chip-module/CMakeLists.txt
  config/telink/chip-module/Kconfig
  examples/all-clusters-app/telink/include/AppTask.h
  examples/all-clusters-app/telink/prj.conf
  examples/all-clusters-app/telink/src/AppTask.cpp
  examples/all-clusters-app/telink/src/main.cpp
  examples/all-clusters-minimal-app/telink/include/AppConfig.h
  examples/all-clusters-minimal-app/telink/include/AppTask.h
  examples/all-clusters-minimal-app/telink/prj.conf
  examples/all-clusters-minimal-app/telink/src/AppTask.cpp
  examples/all-clusters-minimal-app/telink/src/main.cpp
  examples/contact-sensor-app/telink/boards/tlsr9518adk80d.overlay
  examples/contact-sensor-app/telink/include/AppTask.h
  examples/contact-sensor-app/telink/prj.conf
  examples/contact-sensor-app/telink/src/AppTask.cpp
  examples/light-switch-app/telink/README.md
  examples/light-switch-app/telink/boards/tlsr9518adk80d.overlay
  examples/light-switch-app/telink/include/AppConfig.h
  examples/light-switch-app/telink/include/AppTask.h
  examples/light-switch-app/telink/prj.conf
  examples/light-switch-app/telink/src/AppTask.cpp
  examples/lighting-app/telink/include/AppTask.h
  examples/lighting-app/telink/prj.conf
  examples/lighting-app/telink/src/AppTask.cpp
  examples/lighting-app/telink/src/main.cpp
  examples/ota-requestor-app/telink/include/AppTask.h
  examples/ota-requestor-app/telink/prj.conf
  examples/ota-requestor-app/telink/src/AppTask.cpp
  examples/ota-requestor-app/telink/src/main.cpp
  examples/platform/telink/util/include/ButtonManager.h
  examples/platform/telink/util/src/ButtonManager.cpp
  examples/thermostat/telink/boards/tlsr9518adk80d.overlay
  examples/thermostat/telink/include/AppTask.h
  examples/thermostat/telink/prj.conf
  examples/thermostat/telink/src/AppTask.cpp
  src/platform/telink/CHIPDevicePlatformConfig.h
Labels: examples, platform, config, review - approved, telink

#24903 Adds support for WF200 IPv4 enable
  examples/platform/silabs/efr32/wf200/host_if.cpp
Labels: examples, platform, review - approved

#24899 Move some types from silabs/types-silabs.xml to draft/types
  src/app/zap-templates/zcl/data-model/draft/EN50523-appliance-identification.xml
  src/app/zap-templates/zcl/data-model/draft/meter-identification.xml
  src/app/zap-templates/zcl/data-model/draft/types/dehumidification-control.xml
  src/app/zap-templates/zcl/data-model/draft/types/illuminance-level-sensing.xml
  src/app/zap-templates/zcl/data-model/draft/types/onoff-switch-configuration.xml
  src/app/zap-templates/zcl/data-model/draft/types/power-profile.xml
  src/app/zap-templates/zcl/data-model/silabs/types-silabs.xml
  zzz_generated/app-common/app-common/zap-generated/enums.h
Labels: app, review - approved

#24911 Add Darwin availability annotations for EventList.
  src/darwin/Framework/CHIP/templates/availability.yaml
Labels: darwin, fast track

#24831 [matter_yamltests] Add events supports
  scripts/py_matter_yamltests/matter_yamltests/definitions.py
  scripts/py_matter_yamltests/matter_yamltests/fixes.py
  scripts/py_matter_yamltests/matter_yamltests/parser.py
  scripts/py_matter_yamltests/test_spec_definitions.py
  src/app/tests/suites/TestEvents.yaml
Labels: scripts, app, review - pending, fast track, tests

#24906 Fix potential memory leak when attestation delegate is set
  src/controller/java/DeviceAttestationDelegateBridge.cpp
Labels: controller, review - approved

#24902 Log session ids when sending/receiving on a secure session.
  src/messaging/ExchangeMgr.cpp
  src/messaging/README.md
  src/transport/Session.cpp
  src/transport/Session.h
  src/transport/SessionManager.cpp
Labels: transport, review - approved

#24901 Stop requiring openssl to bootstrap.
  scripts/environment.json
  scripts/environment_no_cipd.json
Labels: scripts, review - approved

#24900 Stop forcing a blanket dependency on mbedtls.
  BUILD.gn
Labels: review - approved

#24880 Remove WriteHandler::Abort.
  src/app/InteractionModelEngine.cpp
  src/app/WriteHandler.cpp
  src/app/WriteHandler.h
Labels: app, review - approved

#24845 [Silabs] Add partial hardware acceleration of SPAKE2+ on EFR32xG2x
  src/platform/silabs/efr32/CHIPCryptoPALPsaEfr32.cpp
Labels: platform, review - approved

#24932 Clarify documentation around DNs in MTRCertificates and MTRCertificateInfo.
  src/darwin/Framework/CHIP/MTRCertificateInfo.h
  src/darwin/Framework/CHIP/MTRCertificates.h
Labels: darwin, review - pending, fast track

#24925 Fix TestClusterMultiFabric to run on chip-repl based yamltest
  scripts/tests/chiptest/__init__.py
  src/app/tests/suites/TestClusterMultiFabric.yaml
Labels: scripts, app, review - approved, tests

#24896 tv-casting-app: Handle uncaught exceptions before JNI crashes app and make iOS discoverCommissioners API callback based
  examples/tv-casting-app/android/App/app/src/main/java/com/chip/casting/app/CertTestFragment.java
  examples/tv-casting-app/android/App/app/src/main/java/com/chip/casting/app/MediaPlaybackFragment.java
  examples/tv-casting-app/android/App/app/src/main/jni/com/chip/casting/FailureCallback.java
  examples/tv-casting-app/android/App/app/src/main/jni/com/chip/casting/MatterCallbackHandler.java
  examples/tv-casting-app/android/App/app/src/main/jni/com/chip/casting/SubscriptionEstablishedCallback.java
  examples/tv-casting-app/android/App/app/src/main/jni/com/chip/casting/SuccessCallback.java
  examples/tv-casting-app/android/App/app/src/main/jni/cpp/ConversionUtils.cpp
  examples/tv-casting-app/android/App/app/src/main/jni/cpp/MatterCallbackHandler-JNI.cpp
  examples/tv-casting-app/darwin/MatterTvCastingBridge/MatterTvCastingBridge.xcodeproj/project.pbxproj
  examples/tv-casting-app/darwin/MatterTvCastingBridge/MatterTvCastingBridge/CastingServerBridge.h
  examples/tv-casting-app/darwin/MatterTvCastingBridge/MatterTvCastingBridge/CastingServerBridge.mm
  examples/tv-casting-app/darwin/MatterTvCastingBridge/MatterTvCastingBridge/CommissionerDiscoveryDelegateImpl.h
  examples/tv-casting-app/darwin/TvCasting/TvCasting/CommissionerDiscoveryViewModel.swift
  examples/tv-casting-app/tv-casting-common/include/CastingServer.h
  examples/tv-casting-app/tv-casting-common/src/CastingServer.cpp
  src/controller/CHIPCommissionableNodeController.h
Labels: examples, controller, review - approved, tv-casting

#24917 [chip-tool] Add pairing already-discovered command
  examples/chip-tool/commands/pairing/Commands.h
  examples/chip-tool/commands/pairing/PairingCommand.cpp
  examples/chip-tool/commands/pairing/PairingCommand.h
Labels: tools, examples, review - approved

#24922 Fix some building issues with src/darwin/Framework
  src/darwin/Framework/chip_xcode_build_connector.sh
Labels: darwin, review - approved

#24941 [Zephyr] Fix General Diagnostics Hardware Address
  src/platform/Zephyr/DiagnosticDataProviderImpl.cpp
Labels: platform, zephyr, review - approved

#24936 Added Supported Events to the Window App ZAP File
  examples/window-app/common/window-app.zap
Labels: examples, review - approved

#24924 Fix incorrect current_os check for minmdns.
  src/lib/core/core.gni
Labels: review - approved

#24916 [java-matter-controller] Add pairing already-discovered command
  .github/workflows/tests.yaml
  examples/java-matter-controller/BUILD.gn
  examples/java-matter-controller/java/src/com/matter/controller/Main.java
  examples/java-matter-controller/java/src/com/matter/controller/commands/pairing/PairAlreadyDiscoveredCommand.java
  examples/java-matter-controller/java/src/com/matter/controller/commands/pairing/PairingCommand.java
  examples/java-matter-controller/java/src/com/matter/controller/commands/pairing/PairingModeType.java
  examples/java-matter-controller/java/src/com/matter/controller/commands/pairing/PairingNetworkType.java
  scripts/tests/java/commissioning_test.py
Labels: examples, scripts, github, workflows, review - approved

#24919 Fix TestMultiAdmin to run on chip-repl based yamltest
  scripts/tests/chiptest/__init__.py
  src/controller/python/ChipDeviceController-ScriptBinding.cpp
  src/controller/python/ChipDeviceController-ScriptDevicePairingDelegate.cpp
  src/controller/python/ChipDeviceController-ScriptDevicePairingDelegate.h
Labels: scripts, controller, review - approved

#24904 Add read/subscribe event to chip-repl based yamltests
  scripts/tests/chiptest/__init__.py
  src/controller/python/chip/ChipDeviceCtrl.py
  src/controller/python/chip/yaml/runner.py
Labels: scripts, controller, review - approved

#24843 [Silabs] EFR32+9117 NCP Modifications and Radio Board Modifications
  .github/workflows/examples-efr32.yaml
  examples/light-switch-app/silabs/SiWx917/BUILD.gn
  examples/lighting-app/silabs/SiWx917/BUILD.gn
  examples/lock-app/silabs/SiWx917/BUILD.gn
  examples/platform/silabs/SiWx917/SiWx917/rs911x.gni
  examples/platform/silabs/efr32/BUILD.gn
  examples/platform/silabs/efr32/rs911x/rs9117.gni
  examples/platform/silabs/efr32/rs911x/rsi_if.c
  examples/window-app/silabs/SiWx917/BUILD.gn
  scripts/examples/gn_efr32_example.sh
  src/platform/silabs/efr32/BUILD.gn
  third_party/silabs/BUILD.gn
  third_party/silabs/SiWx917_sdk.gni
  third_party/silabs/efr32_sdk.gni
  third_party/silabs/silabs_board.gni
Labels: examples, scripts, platform, github, workflows, review - approved

#24955 Updated the PULL_REQUEST_TEMPLATE.md file
  .github/PULL_REQUEST_TEMPLATE.md
Labels: github, review - pending, fast track

#24952 Remove references to openssl from building on macOS docs.
  docs/guides/BUILDING.md
Labels: documentation, fast track

#24956 [Silabs] Small miscellaneous fixes:
  examples/chef/efr32/BUILD.gn
  examples/light-switch-app/silabs/efr32/BUILD.gn
  examples/lighting-app/silabs/efr32/BUILD.gn
  examples/lock-app/silabs/efr32/BUILD.gn
  examples/platform/silabs/efr32/BUILD.gn
  examples/thermostat/silabs/efr32/BUILD.gn
  examples/window-app/silabs/efr32/BUILD.gn
  scripts/build/builders/efr32.py
  scripts/examples/gn_efr32_example.sh
  scripts/tools/silabs/FactoryDataProvider.py
  scripts/tools/silabs/README.md
Labels: examples, scripts, platform, review - approved

#24945 [Silabs] [SiWx917] Added button support for Window app
  examples/window-app/silabs/SiWx917/include/WindowAppImpl.h
  examples/window-app/silabs/SiWx917/src/WindowAppImpl.cpp
Labels: examples, review - approved

#24950 Stop installing openssl in Darwin CI.
  .github/workflows/build.yaml
  .github/workflows/darwin-tests.yaml
  .github/workflows/darwin.yaml
  .github/workflows/examples-k32w.yaml
  .github/workflows/fuzzing-build.yaml
  .github/workflows/tests.yaml
Labels: github, workflows, fast track

#24951 Force global atrributes to be declared for every cluster in MatterIDL
  examples/all-clusters-app/all-clusters-common/all-clusters-app.matter
  examples/all-clusters-minimal-app/all-clusters-common/all-clusters-minimal-app.matter
  examples/bridge-app/bridge-common/bridge-app.matter
  examples/chef/devices/noip_rootnode_dimmablelight_bCwGYSDpoe.matter
  examples/chef/devices/rootnode_colortemperaturelight_hbUnzYVeyn.matter
  examples/chef/devices/rootnode_contactsensor_lFAGG1bfRO.matter
  examples/chef/devices/rootnode_dimmablelight_bCwGYSDpoe.matter
  examples/chef/devices/rootnode_doorlock_aNKYAreMXE.matter
  examples/chef/devices/rootnode_extendedcolorlight_8lcaaYJVAa.matter
  examples/chef/devices/rootnode_fan_7N2TobIlOX.matter
  examples/chef/devices/rootnode_flowsensor_1zVxHedlaV.matter
  examples/chef/devices/rootnode_heatingcoolingunit_ncdGai1E5a.matter
  examples/chef/devices/rootnode_humiditysensor_Xyj4gda6Hb.matter
  examples/chef/devices/rootnode_lightsensor_lZQycTFcJK.matter
  examples/chef/devices/rootnode_occupancysensor_iHyVgifZuo.matter
  examples/chef/devices/rootnode_onofflight_bbs1b7IaOV.matter
  examples/chef/devices/rootnode_onofflightswitch_FsPlMr090Q.matter
  examples/chef/devices/rootnode_onoffpluginunit_Wtf8ss5EBY.matter
  examples/chef/devices/rootnode_pressuresensor_s0qC9wLH4k.matter
  examples/chef/devices/rootnode_speaker_RpzeXdimqA.matter
  examples/chef/devices/rootnode_temperaturesensor_Qy1zkNW7c3.matter
  examples/chef/devices/rootnode_thermostat_bm3fb8dhYi.matter
  examples/chef/devices/rootnode_windowcovering_RLCxaGi9Yx.matter
  examples/contact-sensor-app/contact-sensor-common/contact-sensor-app.matter
  examples/dynamic-bridge-app/bridge-common/bridge-app.matter
  examples/light-switch-app/light-switch-common/light-switch-app.matter
  examples/lighting-app/lighting-common/lighting-app.matter
  examples/lighting-app/nxp/zap/lighting-on-off.matter
  examples/lighting-app/silabs/efr32/data_model/lighting-thread-app.matter
  examples/lighting-app/silabs/efr32/data_model/lighting-wifi-app.matter
  examples/lock-app/lock-common/lock-app.matter
  examples/lock-app/nxp/zap/lock-app.matter
  examples/log-source-app/log-source-common/log-source-app.matter
  examples/ota-provider-app/ota-provider-common/ota-provider-app.matter
  examples/ota-requestor-app/ota-requestor-common/ota-requestor-app.matter
  examples/placeholder/linux/apps/app1/config.matter
  examples/placeholder/linux/apps/app2/config.matter
  examples/pump-app/pump-common/pump-app.matter
  examples/pump-controller-app/pump-controller-common/pump-controller-app.matter
  examples/temperature-measurement-app/esp32/main/temperature-measurement.matter
  examples/thermostat/thermostat-common/thermostat.matter
  examples/tv-app/tv-common/tv-app.matter
  examples/tv-casting-app/tv-casting-common/tv-casting-app.matter
  examples/window-app/common/window-app.matter
  src/app/zap-templates/templates/app/MatterIDL.zapt
  src/controller/data_model/controller-clusters.matter
  src/controller/data_model/controller-clusters.zap
  src/controller/java/zap-generated/CHIPAttributeTLVValueDecoder.cpp
  src/controller/java/zap-generated/CHIPCallbackTypes.h
  src/controller/java/zap-generated/CHIPReadCallbacks.cpp
  src/controller/java/zap-generated/CHIPReadCallbacks.h
  src/controller/java/zap-generated/chip/devicecontroller/ChipClusters.java
  src/controller/java/zap-generated/chip/devicecontroller/ChipIdLookup.java
  src/controller/java/zap-generated/chip/devicecontroller/ClusterInfoMapping.java
  src/controller/java/zap-generated/chip/devicecontroller/ClusterReadMapping.java
  src/controller/python/chip/clusters/CHIPClusters.py
  zzz_generated/darwin/controller-clusters/zap-generated/CHIPClientCallbacks.h
Labels: examples, controller, app, review - approved

#24982 [BUGFIX] SubscriptionResumptionStorage SubscriptionInfo SetEventPath and SetAttributePath tries to Calloc(0)
  src/app/SubscriptionResumptionStorage.h
Labels: app, review - approved

#24976 Remove types-silabs.xml
  .github/workflows/tests.yaml
  src/app/zap-templates/zcl/data-model/all.xml
  src/app/zap-templates/zcl/data-model/silabs/types-silabs.xml
  src/app/zap-templates/zcl/zcl-with-test-extensions.json
  src/app/zap-templates/zcl/zcl.json
  src/darwin/Framework/CHIP/templates/availability.yaml
  zzz_generated/app-common/app-common/zap-generated/enums.h
Labels: darwin, app, github, workflows, review - approved

#24980 Updated Window App ZAP File
  examples/window-app/common/window-app.zap
Labels: review - approved

#24858 Darwin: Pass event timestamp to MTRDeviceDelegate
  src/darwin/Framework/CHIP/MTRBaseDevice.h
  src/darwin/Framework/CHIP/MTRBaseDevice.mm
  src/darwin/Framework/CHIP/MTRBaseDevice_Internal.h
  src/darwin/Framework/CHIP/MTRDevice.h
  src/darwin/Framework/CHIP/MTRDevice.mm
  src/darwin/Framework/CHIP/MTRDevice_Internal.h
  src/darwin/Framework/CHIPTests/MTRDeviceTests.m
Labels: darwin, review - approved

#24861 [codegen] Add ability to define CustomGenerator plugin.
  .github/.wordlist.txt
  scripts/codegen.py
  scripts/py_matter_idl/examples/README.md
  scripts/py_matter_idl/examples/matter_idl_plugin/__init__.py
  scripts/py_matter_idl/examples/matter_idl_plugin/matter_cluster_proto.jinja
  scripts/py_matter_idl/matter_idl/generators/bridge/__init__.py
  scripts/py_matter_idl/matter_idl/generators/cpp/application/__init__.py
  scripts/py_matter_idl/matter_idl/generators/java/__init__.py
  scripts/py_matter_idl/matter_idl/generators/registry.py
  scripts/py_matter_idl/matter_idl/test_generators.py
  scripts/py_matter_idl/matter_idl/tests/available_tests.yaml
  scripts/py_matter_idl/matter_idl/tests/outputs/proto/first_cluster.proto
  scripts/py_matter_idl/matter_idl/tests/outputs/proto/ota_software_update_provider_cluster.proto
  scripts/py_matter_idl/matter_idl/tests/outputs/proto/second_cluster.proto
  scripts/py_matter_idl/matter_idl/tests/outputs/proto/third_cluster.proto
Labels: scripts, review - pending, fast track

#24986 DoorLock: Fix incorrect CredentialIndex on LockOperation events initated remotely (#24985)
  src/app/clusters/door-lock-server/door-lock-server.cpp
  src/app/tests/suites/certification/Test_TC_DRLK_2_10.yaml
Labels: app, review - approved, tests

#24944 Fix path filter patterns for doxygen workflow
  .github/workflows/doxygen.yaml
Labels: github, workflows, review - approved

#24977 Adding required fields for Light App
  .github/workflows/lint.yml
  examples/lighting-app/lighting-common/lighting-app.matter
  examples/lighting-app/lighting-common/lighting-app.zap
Labels: examples, github, workflows, review - approved

#24987 Fixed Bridge App ZAP File
  examples/bridge-app/bridge-common/bridge-app.zap
Labels: examples, review - approved

#24973 [ESP32] Fix host setup failure on mac and some build docs
  docs/guides/esp32/build_app_and_commission.md
  docs/guides/esp32/factory_data.md
  docs/guides/esp32/setup_idf_chip.md
  scripts/requirements.esp32.txt
Labels: documentation, scripts, review - approved

#24963 Darwin: Fix some more ambiguous Swift symbols.
  src/darwin/Framework/CHIP/MTRBaseDevice.h
  src/darwin/Framework/CHIP/MTRCommissioningParameters.h
  src/darwin/Framework/CHIP/MTRDefines.h
  src/darwin/Framework/CHIP/MTRDeviceController.mm
  src/darwin/Framework/CHIP/MTROTAProviderDelegate.h
  src/darwin/Framework/CHIP/MTROTAProviderDelegateBridge.h
  src/darwin/Framework/CHIP/MTROTAProviderDelegateBridge.mm
  src/darwin/Framework/CHIP/MTROperationalCertificateIssuer.h
  src/darwin/Framework/CHIP/Matter.h
  src/darwin/Framework/CHIPTests/MTROperationalCertificateIssuerTests.m
  src/darwin/Framework/CHIPTests/MTRTestOTAProvider.m
Labels: darwin, review - pending, fast track

#24983 [ESP32] ESP-IDF v5.0 support in reamining apps
  examples/all-clusters-app/esp32/main/DeviceCallbacks.cpp
  examples/all-clusters-minimal-app/esp32/main/DeviceCallbacks.cpp
  examples/bridge-app/esp32/main/DeviceCallbacks.cpp
  examples/chef/esp32/CMakeLists.txt
  examples/chef/esp32/main/CMakeLists.txt
  examples/chef/esp32/main/idf_component.yml
  examples/light-switch-app/esp32/main/DeviceCallbacks.cpp
  examples/lighting-app/esp32/main/DeviceCallbacks.cpp
  examples/lock-app/esp32/main/CMakeLists.txt
  examples/lock-app/esp32/main/DeviceCallbacks.cpp
  examples/lock-app/esp32/main/main.cpp
  examples/ota-provider-app/esp32/main/BdxOtaSender.cpp
  examples/ota-provider-app/esp32/main/CMakeLists.txt
  examples/ota-provider-app/esp32/main/DeviceCallbacks.cpp
  examples/ota-provider-app/esp32/main/main.cpp
  examples/ota-provider-app/esp32/partitions.csv
  examples/ota-requestor-app/esp32/main/CMakeLists.txt
  examples/ota-requestor-app/esp32/main/DeviceCallbacks.cpp
  examples/ota-requestor-app/esp32/main/main.cpp
  examples/temperature-measurement-app/esp32/main/CMakeLists.txt
  examples/temperature-measurement-app/esp32/main/DeviceCallbacks.cpp
  examples/temperature-measurement-app/esp32/main/main.cpp
Labels: examples, review - approved

#25015 [crypto] Fix compile error in BufferWriter init
  src/crypto/CHIPCryptoPALPSA.cpp
Labels: crypto, review - approved

#24731 [Chef] Support assigning product name when compiling Chef applications
  examples/chef/chef.py
  examples/chef/esp32/CMakeLists.txt
  examples/chef/nrfconnect/CMakeLists.txt
  src/include/platform/internal/GenericConfigurationManagerImpl.ipp
Labels: examples, platform, review - pending, fast track

#24949 Fix level control print out for strings
  src/app/clusters/level-control/level-control.cpp
Labels: app, review - approved

#24988 Add FingerVein to LockDataTypeEnum.
  examples/all-clusters-app/all-clusters-common/all-clusters-app.matter
  examples/all-clusters-minimal-app/all-clusters-common/all-clusters-minimal-app.matter
  examples/chef/devices/rootnode_doorlock_aNKYAreMXE.matter
  examples/lock-app/lock-common/lock-app.matter
  examples/lock-app/nxp/zap/lock-app.matter
  src/app/clusters/door-lock-server/door-lock-server.cpp
  src/app/zap-templates/zcl/data-model/chip/door-lock-cluster.xml
  src/controller/data_model/controller-clusters.matter
  src/controller/python/chip/clusters/Objects.py
  src/darwin/Framework/CHIP/templates/availability.yaml
  src/darwin/Framework/CHIP/zap-generated/MTRBaseClusters.h
  zzz_generated/app-common/app-common/zap-generated/cluster-enums-check.h
  zzz_generated/app-common/app-common/zap-generated/cluster-enums.h
Labels: examples, darwin, controller, app, spec, review - approved

#24940 [administrator-commissioning-cluster] Remove StatusCode from weak-enum-list.yaml
  src/app/clusters/administrator-commissioning-server/administrator-commissioning-server.cpp
  src/app/common/templates/config-data.yaml
  zzz_generated/app-common/app-common/zap-generated/cluster-enums-check.h
  zzz_generated/app-common/app-common/zap-generated/cluster-enums.h
  zzz_generated/app-common/app-common/zap-generated/enums.h
Labels: app, review - approved

#24460 [Android] Update Subscribe UI update to clarify options
  examples/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/clusterclient/WildcardFragment.kt
  examples/android/CHIPTool/app/src/main/res/layout/read_dialog.xml
  examples/android/CHIPTool/app/src/main/res/layout/subscribe_dialog.xml
  examples/android/CHIPTool/app/src/main/res/values/arrays.xml
Labels: examples, review - pending, fast track

#24248 [Silabs] Si917 SOC disconnection issue fix
  examples/platform/silabs/SiWx917/SiWx917/rsi_if.c
  src/platform/silabs/SiWx917/wifi/wfx_host_events.h
Labels: examples, platform, review - approved

#25006 [ESP32] Fixed compilation with Bluedroid related errors for all-clusters-app.
  examples/all-clusters-app/esp32/main/DeviceCallbacks.cpp
  examples/platform/esp32/lock/BoltLockManager.cpp
Labels: examples, platform, review - approved

#24942 [wifi-network-diagnostic] Remove WiFiVersionType from weak-enum-list.yaml
  src/app/common/templates/config-data.yaml
  src/app/tests/suites/include/ConstraintsChecker.h
  src/platform/Ameba/DiagnosticDataProviderImpl.cpp
  src/platform/Beken/DiagnosticDataProviderImpl.cpp
  src/platform/Infineon/PSOC6/DiagnosticDataProviderImpl.cpp
  src/platform/Linux/ConnectivityManagerImpl.cpp
  src/platform/nxp/mw320/ConnectivityManagerImpl.cpp
  src/platform/silabs/DiagnosticDataProviderImpl.cpp
  src/platform/webos/ConnectivityManagerImpl.cpp
  zzz_generated/app-common/app-common/zap-generated/cluster-enums-check.h
  zzz_generated/app-common/app-common/zap-generated/cluster-enums.h
  zzz_generated/app-common/app-common/zap-generated/enums.h
Labels: platform, linux, app, review - approved, tests

#25021 [matter_yamltests] Stop failing is no definitions is used for matter_…
  scripts/py_matter_yamltests/matter_yamltests/parser.py
Labels: scripts, review - pending, fast track

#25020 [Silabs] Add build flag for subscription handler
  examples/platform/silabs/efr32/BUILD.gn
  third_party/silabs/efr32_sdk.gni
Labels: examples, platform, review - approved

#24726 [Silabs][SiWx917] Matter shell support for the SiWx917
  examples/lock-app/silabs/SiWx917/BUILD.gn
  examples/lock-app/silabs/SiWx917/include/EventHandlerLibShell.h
  examples/lock-app/silabs/SiWx917/include/LockManager.h
  examples/lock-app/silabs/SiWx917/src/AppTask.cpp
  examples/lock-app/silabs/SiWx917/src/EventHandlerLibShell.cpp
  examples/lock-app/silabs/SiWx917/src/LockManager.cpp
  examples/lock-app/silabs/SiWx917/src/ZclCallbacks.cpp
  examples/platform/silabs/SiWx917/BUILD.gn
  examples/platform/silabs/SiWx917/uart.cpp
  src/lib/shell/BUILD.gn
  src/platform/silabs/Logging.cpp
  third_party/silabs/SiWx917_sdk.gni
Labels: examples, platform, lib, review - approved, shell

#25039 Auto-update ZAP files.
  examples/all-clusters-app/all-clusters-common/all-clusters-app.zap
  examples/chef/devices/noip_rootnode_dimmablelight_bCwGYSDpoe.zap
  examples/chef/devices/rootnode_colortemperaturelight_hbUnzYVeyn.zap
  examples/chef/devices/rootnode_contactsensor_lFAGG1bfRO.zap
  examples/chef/devices/rootnode_dimmablelight_bCwGYSDpoe.zap
  examples/chef/devices/rootnode_doorlock_aNKYAreMXE.zap
  examples/chef/devices/rootnode_extendedcolorlight_8lcaaYJVAa.zap
  examples/chef/devices/rootnode_fan_7N2TobIlOX.zap
  examples/chef/devices/rootnode_flowsensor_1zVxHedlaV.zap
  examples/chef/devices/rootnode_heatingcoolingunit_ncdGai1E5a.zap
  examples/chef/devices/rootnode_humiditysensor_Xyj4gda6Hb.zap
  examples/chef/devices/rootnode_lightsensor_lZQycTFcJK.zap
  examples/chef/devices/rootnode_occupancysensor_iHyVgifZuo.zap
  examples/chef/devices/rootnode_onofflight_bbs1b7IaOV.zap
  examples/chef/devices/rootnode_onofflightswitch_FsPlMr090Q.zap
  examples/chef/devices/rootnode_onoffpluginunit_Wtf8ss5EBY.zap
  examples/chef/devices/rootnode_pressuresensor_s0qC9wLH4k.zap
  examples/chef/devices/rootnode_speaker_RpzeXdimqA.zap
  examples/chef/devices/rootnode_temperaturesensor_Qy1zkNW7c3.zap
  examples/chef/devices/rootnode_thermostat_bm3fb8dhYi.zap
  examples/chef/devices/rootnode_windowcovering_RLCxaGi9Yx.zap
  examples/contact-sensor-app/contact-sensor-common/contact-sensor-app.zap
  examples/dynamic-bridge-app/bridge-common/bridge-app.zap
  examples/light-switch-app/light-switch-common/light-switch-app.zap
  examples/lighting-app/lighting-common/lighting-app.zap
  examples/lighting-app/nxp/zap/lighting-on-off.zap
  examples/lock-app/nxp/zap/lock-app.zap
  examples/log-source-app/log-source-common/log-source-app.zap
  examples/ota-provider-app/ota-provider-common/ota-provider-app.zap
  examples/ota-requestor-app/ota-requestor-common/ota-requestor-app.zap
  examples/placeholder/linux/apps/app1/config.zap
  examples/placeholder/linux/apps/app2/config.zap
  examples/pump-app/pump-common/pump-app.zap
  examples/pump-controller-app/pump-controller-common/pump-controller-app.zap
  examples/temperature-measurement-app/esp32/main/temperature-measurement.zap
  examples/thermostat/thermostat-common/thermostat.zap
  examples/tv-app/tv-common/tv-app.zap
  examples/tv-casting-app/tv-casting-common/tv-casting-app.zap
  scripts/tools/zap/tests/inputs/all-clusters-app.zap
  src/controller/data_model/controller-clusters.zap
Labels: examples, scripts, controller, review - pending, fast track

#24991 Add event list information in .matter files
  examples/all-clusters-app/all-clusters-common/all-clusters-app.matter
  examples/all-clusters-minimal-app/all-clusters-common/all-clusters-minimal-app.matter
  examples/bridge-app/bridge-common/bridge-app.matter
  examples/lighting-app/nxp/zap/lighting-on-off.matter
  examples/lock-app/lock-common/lock-app.matter
  examples/lock-app/nxp/zap/lock-app.matter
  examples/window-app/common/window-app.matter
  scripts/py_matter_idl/matter_idl/matter_grammar.lark
  scripts/py_matter_idl/matter_idl/matter_idl_parser.py
  scripts/py_matter_idl/matter_idl/matter_idl_types.py
  scripts/py_matter_idl/matter_idl/test_matter_idl_parser.py
  scripts/setup/bootstrap_version.txt
  src/app/zap-templates/templates/app/MatterIDL.zapt
Labels: examples, scripts, app, review - approved

#25027 Light UI updates - add level and color control UI Information
  examples/lighting-app/linux/ui.cpp
Labels: examples, review - pending, fast track

#25041 Make sure that Server init and shutdown happen with the stack lock held.
  src/app/server/Server.cpp
Labels: app, review - pending, fast track

#25042 Fix esp32 docs.
  docs/guides/esp32/setup_idf_chip.md
Labels: documentation, review - approved

#25029 Make sure we're not using non-type-safe attribute reads.
  .github/workflows/lint.yml
  examples/contact-sensor-app/telink/src/AppTask.cpp
  examples/lighting-app/esp32/main/DeviceCallbacks.cpp
  src/app/clusters/thermostat-server/thermostat-server.cpp
  src/app/util/af.h
  src/app/zap-templates/templates/app/attributes/Accessors-src.zapt
  zzz_generated/app-common/app-common/zap-generated/attributes/Accessors.cpp
Labels: examples, app, github, workflows, review - approved

#25050 [mdns] Spawn kDnssdInitialized event after initializing mDNS server
  examples/all-clusters-app/nrfconnect/main/AppTask.cpp
  examples/all-clusters-minimal-app/nrfconnect/main/AppTask.cpp
  examples/contact-sensor-app/nxp/k32w/k32w0/main/AppTask.cpp
  examples/light-switch-app/nrfconnect/main/AppTask.cpp
  examples/lighting-app/nrfconnect/main/AppTask.cpp
  examples/lighting-app/nxp/k32w/k32w0/main/AppTask.cpp
  examples/lock-app/nrfconnect/main/AppTask.cpp
  examples/pump-app/cc13x2x7_26x2x7/main/DeviceCallbacks.cpp
  examples/pump-app/nrfconnect/main/AppTask.cpp
  examples/pump-controller-app/nrfconnect/main/AppTask.cpp
  examples/window-app/nrfconnect/main/AppTask.cpp
  src/app/server/Dnssd.cpp
  src/app/server/Server.cpp
  src/include/platform/CHIPDeviceEvent.h
  src/lib/dnssd/Advertiser_ImplMinimalMdns.cpp
  src/lib/dnssd/Discovery_ImplPlatform.cpp
  src/lib/dnssd/MinimalMdnsServer.cpp
  src/lib/dnssd/minimal_mdns/Server.cpp
  src/lib/dnssd/minimal_mdns/Server.h
Labels: examples, platform, lib, app, review - approved

#25043 [Silabs] [SiWx917] Bugs fixes for SiWx917 platform
  examples/lighting-app/silabs/SiWx917/BUILD.gn
  examples/platform/silabs/SiWx917/SiWx917/rsi_if.c
Labels: examples, platform, review - approved

#25028 Make sure to generate events when we clear credentials.
  src/app/clusters/door-lock-server/door-lock-server.cpp
Labels: app, review - approved

#25053 Properly terminate linux example apps (followup from #24979)
  examples/all-clusters-app/linux/main-common.cpp
  examples/lighting-app/linux/ui.cpp
  examples/platform/linux/AppMain.cpp
Labels: examples, platform, review - approved

#25059 Enabling Merge Queues
  .github/workflows/build.yaml
  .github/workflows/chef.yaml
  .github/workflows/cirque.yaml
  .github/workflows/darwin-tests.yaml
  .github/workflows/darwin.yaml
  .github/workflows/examples-ameba.yaml
  .github/workflows/examples-bouffalolab.yaml
  .github/workflows/examples-cc13x2x7_26x2x7.yaml
  .github/workflows/examples-cc32xx.yaml
  .github/workflows/examples-efr32.yaml
  .github/workflows/examples-esp32.yaml
  .github/workflows/examples-infineon.yaml
  .github/workflows/examples-k32w.yaml
  .github/workflows/examples-linux-arm.yaml
  .github/workflows/examples-linux-imx.yaml
  .github/workflows/examples-linux-standalone.yaml
  .github/workflows/examples-mbed.yaml
  .github/workflows/examples-mw320.yaml
  .github/workflows/examples-nrfconnect.yaml
  .github/workflows/examples-openiotsdk.yaml
  .github/workflows/examples-qpg.yaml
  .github/workflows/examples-telink.yaml
  .github/workflows/examples-tizen.yaml
  .github/workflows/lint.yml
  .github/workflows/qemu.yaml
  .github/workflows/smoketest-android.yaml
  .github/workflows/tests.yaml
  .github/workflows/unit_integration_test.yaml
  .github/workflows/zap_templates.yaml
Labels: fast track

#25054 [python] fix chip-device-ctrl Fabric creation
  src/controller/python/chip-device-ctrl.py
Labels: controller, review - pending, fast track

#25055 [python] move BlueZ/CoreBluetooth to chip-repl package
  src/controller/python/BUILD.gn
Labels: controller, review - pending, fast track

#24830 Fix timestamps in Diagnostic Logs cluster to follow the spec.
  examples/log-source-app/log-source-common/log-source-app.matter
  src/app/clusters/diagnostic-logs-server/diagnostic-logs-server.cpp
  src/app/server/Server.cpp
  src/app/server/Server.h
  src/app/zap-templates/common/override.js
  src/app/zap-templates/zcl/data-model/chip/diagnostic-logs-cluster.xml
  src/controller/data_model/controller-clusters.matter
  src/controller/java/zap-generated/CHIPInvokeCallbacks.cpp
  src/controller/java/zap-generated/chip/devicecontroller/ChipClusters.java
  src/controller/java/zap-generated/chip/devicecontroller/ClusterInfoMapping.java
  src/controller/python/chip/clusters/Objects.py
  src/darwin/Framework/CHIP/zap-generated/MTRCallbackBridge.mm
  src/darwin/Framework/CHIP/zap-generated/MTRCommandPayloadsObjc.h
  src/darwin/Framework/CHIP/zap-generated/MTRCommandPayloadsObjc.mm
  zzz_generated/app-common/app-common/zap-generated/callback.h
  zzz_generated/app-common/app-common/zap-generated/cluster-objects.h
Labels: examples, darwin, controller, app, review - approved

#24975 [matter_yamltests] Add a dedicated class to load the yaml, enforce ty…
  scripts/py_matter_yamltests/BUILD.gn
  scripts/py_matter_yamltests/matter_yamltests/__init__.py
  scripts/py_matter_yamltests/matter_yamltests/errors.py
  scripts/py_matter_yamltests/matter_yamltests/fixes.py
  scripts/py_matter_yamltests/matter_yamltests/parser.py
  scripts/py_matter_yamltests/matter_yamltests/yaml_loader.py
  scripts/py_matter_yamltests/test_yaml_loader.py
  scripts/tests/chiptest/__init__.py
  src/app/tests/suites/certification/Test_TC_LVL_2_3.yaml
  src/app/tests/suites/certification/Test_TC_LVL_8_1.yaml
Labels: scripts, app, review - pending, fast track, tests

#25060 Remove unused LevelControl.cpp file.
  examples/tv-app/linux/include/level-control/LevelControl.cpp
Labels: examples, review - approved

#24406 [ESP32] add all the get factory info interface
  src/platform/ESP32/ESP32FactoryDataProvider.cpp
  src/platform/ESP32/ESP32FactoryDataProvider.h
Labels: platform, esp32, review - approved

#25064 Stop using emberAfSendImmediateDefaultResponse.
  examples/all-clusters-app/all-clusters-common/include/static-supported-modes-manager.h
  examples/all-clusters-app/all-clusters-common/src/static-supported-modes-manager.cpp
  examples/placeholder/linux/include/static-supported-modes-manager.h
  examples/placeholder/linux/static-supported-modes-manager.cpp
  src/app/clusters/account-login-server/account-login-server.cpp
  src/app/clusters/administrator-commissioning-server/administrator-commissioning-server.cpp
  src/app/clusters/application-launcher-server/application-launcher-server.cpp
  src/app/clusters/audio-output-server/audio-output-server.cpp
  src/app/clusters/barrier-control-server/barrier-control-server.cpp
  src/app/clusters/channel-server/channel-server.cpp
  src/app/clusters/color-control-server/color-control-server.cpp
  src/app/clusters/color-control-server/color-control-server.h
  src/app/clusters/content-launch-server/content-launch-server.cpp
  src/app/clusters/diagnostic-logs-server/diagnostic-logs-server.cpp
  src/app/clusters/door-lock-server/door-lock-server.cpp
  src/app/clusters/door-lock-server/door-lock-server.h
  src/app/clusters/group-key-mgmt-server/group-key-mgmt-server.cpp
  src/app/clusters/groups-client/groups-client.cpp
  src/app/clusters/groups-server/groups-server.cpp
  src/app/clusters/identify-client/identify-client.cpp
  src/app/clusters/identify-server/identify-server.cpp
  src/app/clusters/keypad-input-server/keypad-input-server.cpp
  src/app/clusters/level-control/level-control.cpp
  src/app/clusters/media-input-server/media-input-server.cpp
  src/app/clusters/media-playback-server/media-playback-server.cpp
  src/app/clusters/mode-select-server/mode-select-server.cpp
  src/app/clusters/mode-select-server/supported-modes-manager.h
  src/app/clusters/on-off-server/on-off-server.cpp
  src/app/clusters/on-off-server/on-off-server.h
  src/app/clusters/scenes-client/scenes-client.cpp
  src/app/clusters/scenes/scenes.cpp
  src/app/clusters/target-navigator-server/target-navigator-server.cpp
  src/app/clusters/test-cluster-server/test-cluster-server.cpp
  src/app/clusters/thermostat-server/thermostat-server.cpp
  src/app/clusters/thread-network-diagnostics-server/thread-network-diagnostics-server.cpp
  src/app/clusters/window-covering-server/window-covering-server.cpp
  src/app/clusters/window-covering-server/window-covering-server.h
  src/app/util/af.h
  src/app/util/util.cpp
Labels: examples, app, review - approved

#25057 Make sure we're not using non-type-safe attribute writes.
  .github/workflows/lint.yml
  examples/contact-sensor-app/telink/src/AppTask.cpp
  examples/lock-app/nxp/k32w/k32w0/main/AppTask.cpp
  src/app/util/af.h
  src/app/zap-templates/templates/app/attributes/Accessors-src.zapt
  zzz_generated/app-common/app-common/zap-generated/attributes/Accessors.cpp
Labels: examples, app, github, workflows, review - approved

#25022 Do not install matter yamltests in env (this has sideffects and cause…
  BUILD.gn
  scripts/tests/chiptest/yamltest_with_chip_repl_tester.py
Labels: scripts, gn, review - approved

#25063 Migrate from Kotlin synthetics to Jetpack view binding
  examples/android/CHIPTool/app/build.gradle
  examples/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/SelectActionFragment.kt
  examples/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/attestation/AttestationTestFragment.kt
  examples/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/clusterclient/AddressUpdateFragment.kt
  examples/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/clusterclient/BasicClientFragment.kt
  examples/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/clusterclient/MultiAdminClientFragment.kt
  examples/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/clusterclient/OnOffClientFragment.kt
  examples/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/clusterclient/OpCredClientFragment.kt
  examples/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/clusterclient/SensorClientFragment.kt
  examples/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/clusterclient/WildcardFragment.kt
  examples/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/clusterclient/clusterinteraction/ClusterDetailFragment.kt
  examples/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/clusterclient/clusterinteraction/ClusterInteractionFragment.kt
  examples/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/clusterclient/clusterinteraction/ClusterInteractionHistoryFragment.kt
  examples/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/clusterclient/clusterinteraction/HistoryCommandAdapter.kt
  examples/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/provisioning/AddressCommissioningFragment.kt
  examples/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/provisioning/EnterNetworkFragment.kt
  examples/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/provisioning/UnpairDeviceFragment.kt
  examples/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/setuppayloadscanner/BarcodeFragment.kt
  examples/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/setuppayloadscanner/CHIPDeviceDetailsFragment.kt
  examples/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/setuppayloadscanner/CHIPDeviceInfo.kt
  examples/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/setuppayloadscanner/CHIPLedgerDetailsFragment.kt
  examples/android/CHIPTool/app/src/main/res/layout/barcode_fragment.xml
Labels: examples, review - pending, fast track

#25056 [chip-tool] Add missing commands to get TestDiscovery to work.
  examples/chip-tool/commands/common/RemoteDataModelLogger.cpp
  examples/chip-tool/commands/common/RemoteDataModelLogger.h
  examples/chip-tool/commands/discover/Commands.h
  examples/chip-tool/commands/discover/DiscoverCommissionablesCommand.cpp
  examples/chip-tool/commands/discover/DiscoverCommissionablesCommand.h
Labels: tools, examples, review - pending, fast track
