Repository project-chip/connectedhomeip, pull requests merged in 2023-11, with the labels that each got.

#30008 [ICD] Update root device type to include icdm cluster
  src/app/zap-templates/zcl/data-model/chip/matter-devices.xml
Labels: app, review - approved

#29712 [Scenes] Cleanup zap for name support
  examples/all-clusters-app/all-clusters-common/all-clusters-app.matter
  examples/all-clusters-minimal-app/all-clusters-common/all-clusters-minimal-app.matter
  examples/light-switch-app/light-switch-common/light-switch-app.matter
  examples/lighting-app/lighting-common/lighting-app.matter
  examples/lighting-app/silabs/data_model/lighting-thread-app.matter
  examples/lighting-app/silabs/data_model/lighting-wifi-app.matter
  examples/placeholder/linux/apps/app1/config.matter
  examples/placeholder/linux/apps/app2/config.matter
  examples/thermostat/nxp/zap/thermostat_matter_thread.matter
  examples/thermostat/nxp/zap/thermostat_matter_wifi.matter
  examples/virtual-device-app/virtual-device-common/virtual-device-app.matter
  src/app/clusters/scenes-server/scenes-server.cpp
  src/app/zap-templates/zcl/data-model/chip/scene.xml
  src/controller/data_model/controller-clusters.matter
  src/controller/java/zap-generated/CHIPAttributeTLVValueDecoder.cpp
  src/controller/python/chip/clusters/Objects.py
  src/darwin/Framework/CHIP/templates/availability.yaml
  src/darwin/Framework/CHIP/zap-generated/MTRAttributeTLVValueDecoder.mm
  src/darwin/Framework/CHIP/zap-generated/MTRBaseClusters.h
  zzz_generated/app-common/app-common/zap-generated/attributes/Accessors.cpp
  zzz_generated/app-common/app-common/zap-generated/attributes/Accessors.h
  zzz_generated/app-common/app-common/zap-generated/cluster-enums.h
  zzz_generated/app-common/app-common/zap-generated/cluster-objects.h
  zzz_generated/chip-tool/zap-generated/cluster/Commands.h
  zzz_generated/chip-tool/zap-generated/cluster/logging/DataModelLogger.cpp
Labels: examples, darwin, controller, app, review - approved, skip-protocol-compatibility

#30114 Add basic support for recognizing and validating Network Identity certs
  src/credentials/CHIPCert.cpp
  src/credentials/CHIPCert.h
  src/credentials/CHIPCertToX509.cpp
  src/credentials/CHIPCert_Internal.h
  src/credentials/tests/CHIPCert_test_vectors.cpp
  src/credentials/tests/CHIPCert_test_vectors.h
  src/credentials/tests/TestChipCert.cpp
  src/crypto/tests/CHIPCryptoPALTest.cpp
  src/lib/support/BitFlags.h
Labels: lib, crypto, review - approved, support, hrap

#30144 CI/CD Documentation upload
  docs/ci-cd/index.md
  docs/index.md
Labels: documentation, fast track

#30146 Add OTA Requester Option - skip Image Execution
  examples/ota-requestor-app/linux/main.cpp
Labels: examples, review - approved

#30121 [Linux][BLE] Remove handlers for StartNotify() and StopNotify()
  src/platform/Linux/bluez/BluezEndpoint.cpp
Labels: platform, linux, review - approved

#29566 Consolidate TC-IDM-10.1, add new checks
  .github/workflows/tests.yaml
  src/controller/python/chip/clusters/ClusterObjects.py
  src/python_testing/TC_DeviceBasicComposition.py
  src/python_testing/TC_IDM_10_1.py
Labels: controller, github, workflows, review - approved, tests

#30127 Air Quality: Add descriptor for EP1
  examples/air-quality-sensor-app/air-quality-sensor-common/air-quality-sensor-app.matter
  examples/air-quality-sensor-app/air-quality-sensor-common/air-quality-sensor-app.zap
Labels: examples, review - pending, fast track

#30131 Revert "Add better APIs for initializing MTRCluster instances from Swift. (#29915)"
  src/darwin/Framework/CHIP/MTRDefines.h
  src/darwin/Framework/CHIP/templates/MTRClusters-swift.zapt
  src/darwin/Framework/CHIP/templates/templates.json
  src/darwin/Framework/CHIP/zap-generated/MTRClusters.swift
  src/darwin/Framework/CHIPTests/MTRDeviceTests.m
  src/darwin/Framework/CHIPTests/MTRSwiftDeviceTests.swift
  src/darwin/Framework/Matter.xcodeproj/project.pbxproj
Labels: darwin, review - pending, fast track

#29944 Move Media::AccountLogin cluster to match the spec
  examples/all-clusters-minimal-app/all-clusters-common/all-clusters-minimal-app.matter
  examples/placeholder/linux/apps/app1/config.matter
  examples/placeholder/linux/apps/app2/config.matter
  examples/tv-app/tv-common/tv-app.matter
  examples/tv-casting-app/tv-casting-common/tv-casting-app.matter
  scripts/py_matter_idl/matter_idl/generators/idl/__init__.py
  src/app/zap-templates/zcl/data-model/chip/account-login-cluster.xml
  src/controller/data_model/controller-clusters.matter
  zzz_generated/app-common/app-common/zap-generated/cluster-objects.cpp
Labels: examples, scripts, controller, app, review - approved, fast track, skip-protocol-compatibility

#29946 Move OnOff cluster to match the spec
  examples/all-clusters-app/all-clusters-common/all-clusters-app.matter
  examples/all-clusters-minimal-app/all-clusters-common/all-clusters-minimal-app.matter
  examples/bridge-app/bridge-common/bridge-app.matter
  examples/chef/devices/noip_rootnode_dimmablelight_bCwGYSDpoe.matter
  examples/chef/devices/rootnode_basicvideoplayer_0ff86e943b.matter
  examples/chef/devices/rootnode_colortemperaturelight_hbUnzYVeyn.matter
  examples/chef/devices/rootnode_dimmablelight_bCwGYSDpoe.matter
  examples/chef/devices/rootnode_extendedcolorlight_8lcaaYJVAa.matter
  examples/chef/devices/rootnode_heatingcoolingunit_ncdGai1E5a.matter
  examples/chef/devices/rootnode_onofflight_bbs1b7IaOV.matter
  examples/chef/devices/rootnode_onofflight_samplemei.matter
  examples/chef/devices/rootnode_onofflightswitch_FsPlMr090Q.matter
  examples/chef/devices/rootnode_onoffpluginunit_Wtf8ss5EBY.matter
  examples/chef/devices/rootnode_pump_5f904818cc.matter
  examples/chef/devices/rootnode_pump_a811bb33a0.matter
  examples/chef/devices/rootnode_roomairconditioner_9cf3607804.matter
  examples/chef/devices/rootnode_speaker_RpzeXdimqA.matter
  examples/light-switch-app/light-switch-common/light-switch-app.matter
  examples/lighting-app/bouffalolab/data_model/lighting-app-ethernet.matter
  examples/lighting-app/bouffalolab/data_model/lighting-app-thread.matter
  examples/lighting-app/bouffalolab/data_model/lighting-app-wifi.matter
  examples/lighting-app/lighting-common/lighting-app.matter
  examples/lighting-app/nxp/zap/lighting-on-off.matter
  examples/lighting-app/qpg/zap/light.matter
  examples/lighting-app/silabs/data_model/lighting-thread-app.matter
  examples/lighting-app/silabs/data_model/lighting-wifi-app.matter
  examples/lock-app/lock-common/lock-app.matter
  examples/ota-requestor-app/ota-requestor-common/ota-requestor-app.matter
  examples/placeholder/linux/apps/app1/config.matter
  examples/placeholder/linux/apps/app2/config.matter
  examples/pump-app/pump-common/pump-app.matter
  examples/pump-app/silabs/data_model/pump-thread-app.matter
  examples/pump-app/silabs/data_model/pump-wifi-app.matter
  examples/pump-controller-app/pump-controller-common/pump-controller-app.matter
  examples/tv-app/tv-common/tv-app.matter
  examples/tv-casting-app/tv-casting-common/tv-casting-app.matter
  examples/virtual-device-app/virtual-device-common/virtual-device-app.matter
  src/app/zap-templates/zcl/data-model/chip/onoff-cluster.xml
  src/controller/data_model/controller-clusters.matter
  src/controller/python/chip/clusters/Objects.py
  src/darwin/Framework/CHIP/zap-generated/MTRBaseClusters.h
  zzz_generated/app-common/app-common/zap-generated/cluster-enums.h
Labels: examples, darwin, controller, app, review - approved, skip-protocol-compatibility

#30160 Update ci-cd docs
  docs/ci-cd/index.md
Labels: documentation, fast track

#30143 ESP32: Use GetPartitionLabelByNamespace in ESP32Config::ConfigValueExists()
  src/platform/ESP32/ESP32Config.cpp
Labels: platform, esp32, review - approved

#30165 Update Darwin availability annotations.
  src/darwin/Framework/CHIP/templates/availability.yaml
  src/darwin/Framework/CHIP/zap-generated/MTRBaseClusters.h
Labels: darwin, review - pending, fast track

#30163 Small ChipCert refactoring in preparation for more work on PDC
  src/controller/ExampleOperationalCredentialsIssuer.cpp
  src/controller/java/AndroidOperationalCredentialsIssuer.cpp
  src/credentials/CHIPCert.h
  src/credentials/CHIPCertToX509.cpp
  src/credentials/GenerateChipX509Cert.cpp
  src/darwin/Framework/CHIP/MTROperationalCredentialsDelegate.mm
  src/lib/core/OTAImageHeader.cpp
  src/lib/core/TLVReader.cpp
  src/lib/core/TLVReader.h
Labels: darwin, lib, controller, review - approved, core

#30149 Change callables to instances to allow printing
  src/python_testing/TC_DeviceBasicComposition.py
  src/python_testing/TestConformanceSupport.py
  src/python_testing/conformance_support.py
Labels: review - approved, tests

#30152 [Telink] Fixed hanging on BLE Shutdown (TC-SC-4.1)
  src/platform/telink/BLEManagerImpl.cpp
Labels: platform, review - approved, telink

#30147 Add matterlint support for `deny cluster .... attribute ...`
  .github/workflows/lint.yml
  scripts/py_matter_idl/matter_idl/lint/lint_rules_grammar.lark
  scripts/py_matter_idl/matter_idl/lint/lint_rules_parser.py
  scripts/py_matter_idl/matter_idl/lint/types.py
  scripts/rules.matterlint
Labels: scripts, github, workflows, review - approved

#30179 Consolidate global attribute IDs between tests
  src/python_testing/TC_DeviceBasicComposition.py
Labels: review - approved, tests

#30171 [zephyr] Do not build ConfigurationManager::RunUnitTests() without tests
  src/include/platform/ConfigurationManager.h
  src/include/platform/internal/GenericConfigurationManagerImpl.h
  src/include/platform/internal/GenericConfigurationManagerImpl.ipp
  src/platform/Zephyr/ConfigurationManagerImpl.cpp
  src/platform/Zephyr/ConfigurationManagerImpl.h
  src/platform/fake/ConfigurationManagerImpl.h
  src/platform/tests/TestConfigurationMgr.cpp
Labels: platform, zephyr, review - approved

#30186 While setting up a subscription, read requests read through, causing more traffic and slowing subscriptions times
  src/darwin/Framework/CHIP/MTRDevice.h
  src/darwin/Framework/CHIP/MTRDevice.mm
Labels: darwin, review - pending, fast track

#30135 [ICD]Add optional common ICD key to indicate ICD operating mode (LIT/SIT)
  examples/chip-tool/commands/common/RemoteDataModelLogger.cpp
  examples/chip-tool/commands/discover/Commands.h
  scripts/py_matter_yamltests/matter_yamltests/pseudo_clusters/clusters/discovery_commands.py
  src/app/icd/ICDManager.cpp
  src/app/icd/ICDManager.h
  src/app/server/Dnssd.cpp
  src/app/server/Dnssd.h
  src/app/server/Server.h
  src/app/tests/suites/commands/discovery/DiscoveryCommands.cpp
  src/controller/python/ChipCommissionableNodeController-ScriptBinding.cpp
  src/controller/python/ChipDeviceController-Discovery.cpp
  src/controller/python/chip/discovery/__init__.py
  src/controller/python/chip/yaml/runner.py
  src/lib/address_resolve/AddressResolve.h
  src/lib/address_resolve/AddressResolve_DefaultImpl.cpp
  src/lib/address_resolve/tool.cpp
  src/lib/dnssd/Advertiser.h
  src/lib/dnssd/Advertiser_ImplMinimalMdns.cpp
  src/lib/dnssd/Discovery_ImplPlatform.cpp
  src/lib/dnssd/Resolver.h
  src/lib/dnssd/TxtFields.cpp
  src/lib/dnssd/TxtFields.h
  src/lib/dnssd/minimal_mdns/tests/CheckOnlyServer.h
  src/lib/dnssd/minimal_mdns/tests/TestAdvertiser.cpp
  src/lib/dnssd/minimal_mdns/tests/TestResponseSender.cpp
  src/lib/dnssd/platform/tests/TestPlatform.cpp
  src/lib/dnssd/tests/TestTxtFields.cpp
  src/lib/shell/commands/Dns.cpp
  src/platform/fake/DnssdImpl.h
  src/tracing/json/json_tracing.cpp
Labels: tools, examples, scripts, platform, lib, controller, app, review - approved, shell, tests, icd

#30188 TLVReader: Add test for Expect() and handle corner case better
  src/credentials/CertificationDeclaration.cpp
  src/lib/core/TLVReader.cpp
  src/lib/core/TLVReader.h
  src/lib/core/tests/TestTLV.cpp
Labels: lib, review - approved, core

#30166 [Silabs] Handling the garbage data on the uart and using Platform API's for 917 SoC
  examples/platform/silabs/SiWx917/uart.cpp
  src/lib/shell/MainLoopSilabs.cpp
Labels: examples, platform, lib, review - approved, shell

#30148 Conformance checker: Add temp handling for aliased clusters
  src/python_testing/spec_parsing_support.py
Labels: review - approved, tests

#30119 [ASR] fix build error when use no-logging
  examples/all-clusters-app/asr/src/DeviceCallbacks.cpp
  examples/all-clusters-minimal-app/asr/src/DeviceCallbacks.cpp
  examples/lighting-app/asr/src/DeviceCallbacks.cpp
Labels: examples, review - approved

#30020 [Bouffalolab] Remove lwip in BL70X Thread Application
  examples/lighting-app/bouffalolab/bl702l/BUILD.gn
  examples/platform/bouffalolab/common/plat/platform.cpp
  scripts/build/builders/bouffalolab.py
  src/platform/bouffalolab/BL702/BUILD.gn
  src/platform/bouffalolab/BL702/PlatformManagerImpl.cpp
  src/platform/bouffalolab/BL702/ThreadStackManagerImpl.cpp
  src/platform/bouffalolab/BL702L/BUILD.gn
  src/platform/bouffalolab/BL702L/DiagnosticDataProviderImpl.cpp
  src/platform/bouffalolab/BL702L/PlatformManagerImpl.cpp
  src/platform/bouffalolab/BL702L/ThreadStackManagerImpl.cpp
  src/platform/bouffalolab/common/BLConfig.cpp
  src/platform/bouffalolab/common/SystemPlatformConfig.h
  src/platform/bouffalolab/common/ThreadStackManagerImpl.h
  src/system/BUILD.gn
  third_party/bouffalolab/bl702/bl_iot_sdk.gni
Labels: examples, scripts, system, platform, review - approved

#30190 [nrfconnect] Remove redundant defines from CHIPProjectConfig.h
  examples/all-clusters-app/nrfconnect/main/include/CHIPProjectConfig.h
  examples/all-clusters-minimal-app/nrfconnect/main/include/CHIPProjectConfig.h
  examples/chef/chef.py
  examples/chef/nrfconnect/CHIPProjectConfig.h
  examples/chef/nrfconnect/CMakeLists.txt
  examples/chef/nrfconnect/main.cpp
  examples/light-switch-app/nrfconnect/main/include/CHIPProjectConfig.h
  examples/lighting-app/nrfconnect/main/include/CHIPProjectConfig.h
  examples/lock-app/nrfconnect/main/include/CHIPProjectConfig.h
  examples/platform/nrfconnect/pw_sys_io/sys_io_nrfconnect.cc
  examples/pump-app/nrfconnect/main/include/CHIPProjectConfig.h
  examples/pump-controller-app/nrfconnect/main/include/CHIPProjectConfig.h
  examples/shell/nrfconnect/CHIPProjectConfig.h
  examples/window-app/nrfconnect/main/include/CHIPProjectConfig.h
  src/platform/nrfconnect/CHIPDevicePlatformConfig.h
Labels: examples, platform, nrf connect, review - approved

#30133 [Linux] Fix the signal received when the bluez are shutdown
  src/platform/Linux/bluez/BluezEndpoint.cpp
  src/platform/Linux/bluez/BluezEndpoint.h
Labels: platform, linux, review - approved

#30178 [Linux] Release BLE scanner resources on glib thread
  src/controller/python/chip/ble/LinuxImpl.cpp
  src/platform/Linux/BLEManagerImpl.cpp
  src/platform/Linux/BLEManagerImpl.h
  src/platform/Linux/bluez/ChipDeviceScanner.cpp
  src/platform/Linux/bluez/ChipDeviceScanner.h
Labels: platform, linux, controller, review - pending, fast track

#30199 Fix Endpoint Definitions for Air-Purifier CC32XX Example-App
  examples/air-purifier-app/cc32xx/main/AppTask.cpp
Labels: examples, review - approved

#30137 Move `Channel Cluster` to match the spec
  examples/all-clusters-minimal-app/all-clusters-common/all-clusters-minimal-app.matter
  examples/chef/common/chef-channel-manager.cpp
  examples/chef/devices/rootnode_basicvideoplayer_0ff86e943b.matter
  examples/placeholder/linux/apps/app1/config.matter
  examples/placeholder/linux/apps/app2/config.matter
  examples/tv-app/android/java/ChannelManager.cpp
  examples/tv-app/tv-common/clusters/channel/ChannelManager.cpp
  examples/tv-app/tv-common/tv-app.matter
  examples/tv-casting-app/tv-casting-common/tv-casting-app.matter
  scripts/py_matter_idl/matter_idl/tests/inputs/large_all_clusters_app.matter
  src/app/CompatEnumNames.h
  src/app/zap-templates/zcl/data-model/chip/channel-cluster.xml
  src/controller/data_model/controller-clusters.matter
  src/controller/python/chip/clusters/Objects.py
  src/darwin/Framework/CHIP/templates/availability.yaml
  src/darwin/Framework/CHIP/zap-generated/MTRBaseClusters.h
  src/test_driver/openiotsdk/integration-tests/tv-app/test_app.py
  zzz_generated/app-common/app-common/zap-generated/cluster-enums-check.h
  zzz_generated/app-common/app-common/zap-generated/cluster-enums.h
  zzz_generated/app-common/app-common/zap-generated/cluster-objects.h
Labels: examples, scripts, darwin, controller, app, review - approved, test driver, Spec XML align, skip-protocol-compatibility

#30198 Add some documentation about matter idl tools that we have for validating data
  data_model/README.md
  docs/conf.py
  docs/guides/index.md
  docs/guides/matter_idl_tooling.md
  scripts/tools/memory/README-GitHub-CI.md
  scripts/tools/memory/memdf/README.md
  scripts/tools/memory/platform/README.md
Labels: documentation, scripts, platform, review - pending, fast track

#30092 [ICD] Add LIT ICD reference app for tests and certification
  .github/workflows/darwin-tests.yaml
  .github/workflows/examples-linux-arm.yaml
  examples/lit-icd-app/linux/.gn
  examples/lit-icd-app/linux/BUILD.gn
  examples/lit-icd-app/linux/Dockerfile
  examples/lit-icd-app/linux/args.gni
  examples/lit-icd-app/linux/build_overrides
  examples/lit-icd-app/linux/entrypoint.sh
  examples/lit-icd-app/linux/include/CHIPProjectAppConfig.h
  examples/lit-icd-app/linux/main.cpp
  examples/lit-icd-app/linux/third_party/connectedhomeip
  examples/lit-icd-app/lit-icd-common/BUILD.gn
  examples/lit-icd-app/lit-icd-common/lit-icd-server-app.matter
  examples/lit-icd-app/lit-icd-common/lit-icd-server-app.zap
  scripts/build/build/targets.py
  scripts/build/builders/host.py
  scripts/build/testdata/all_targets_linux_x64.txt
Labels: examples, scripts, github, workflows, review - approved

#30202 Add shim for ApplicationLauncher::ApplicationLanucherStatusEnum
  src/app/CompatEnumNames.h
Labels: app, review - pending, fast track

#30215 Enable Darwin per-controller storage by default.
  .github/workflows/darwin.yaml
  src/darwin/Framework/CHIP/MTRDefines.h
  src/darwin/Framework/CHIP/MTRDeviceController.h
  src/darwin/Framework/CHIP/MTRDeviceController.mm
  src/darwin/Framework/CHIP/MTRDeviceControllerParameters.h
  src/darwin/Framework/CHIP/MTRDeviceControllerStartupParams.mm
  src/darwin/Framework/CHIP/MTRDeviceControllerStartupParams_Internal.h
Labels: darwin, github, workflows, review - pending, fast track

#30197 Semi-automated testcases Nov 03
  src/app/tests/suites/certification/Test_TC_CNET_4_1.yaml
  src/app/tests/suites/certification/Test_TC_CNET_4_10.yaml
  src/app/tests/suites/certification/Test_TC_CNET_4_11.yaml
  src/app/tests/suites/certification/Test_TC_CNET_4_15.yaml
  src/app/tests/suites/certification/Test_TC_CNET_4_16.yaml
  src/app/tests/suites/certification/Test_TC_CNET_4_2.yaml
  src/app/tests/suites/certification/Test_TC_CNET_4_22.yaml
  src/app/tests/suites/certification/Test_TC_CNET_4_3.yaml
  src/app/tests/suites/certification/Test_TC_CNET_4_4.yaml
  src/app/tests/suites/certification/Test_TC_CNET_4_5.yaml
  src/app/tests/suites/certification/Test_TC_CNET_4_6.yaml
  src/app/tests/suites/certification/Test_TC_CNET_4_9.yaml
Labels: app, review - pending, fast track, tests

#30189 python conformance test: Add flags for provisional and in-progress
  src/python_testing/TC_DeviceBasicComposition.py
Labels: review - approved, tests

#30217 Match `Media Playback Cluster` to spec
  examples/all-clusters-minimal-app/all-clusters-common/all-clusters-minimal-app.matter
  examples/chef/devices/rootnode_basicvideoplayer_0ff86e943b.matter
  examples/placeholder/linux/apps/app1/config.matter
  examples/placeholder/linux/apps/app2/config.matter
  examples/tv-app/android/include/media-playback/AppMediaPlaybackManager.cpp
  examples/tv-app/android/java/ContentAppCommandDelegate.cpp
  examples/tv-app/android/java/MediaPlaybackManager.cpp
  examples/tv-app/tv-common/clusters/media-playback/MediaPlaybackManager.cpp
  examples/tv-app/tv-common/tv-app.matter
  examples/tv-casting-app/tv-casting-common/tv-casting-app.matter
  src/app/CompatEnumNames.h
  src/app/zap-templates/zcl/data-model/chip/media-playback-cluster.xml
  src/controller/data_model/controller-clusters.matter
  src/controller/python/chip/clusters/Objects.py
  src/darwin/Framework/CHIP/templates/availability.yaml
  src/darwin/Framework/CHIP/zap-generated/MTRBaseClusters.h
  zzz_generated/app-common/app-common/zap-generated/cluster-enums-check.h
  zzz_generated/app-common/app-common/zap-generated/cluster-enums.h
  zzz_generated/app-common/app-common/zap-generated/cluster-objects.h
Labels: examples, darwin, controller, app, review - pending, fast track, Spec XML align, skip-protocol-compatibility

#30220 Python: Add more API documentation
  src/controller/python/chip/ChipDeviceCtrl.py
Labels: controller, review - pending, fast track

#30246 Have cloudbuild integrations pull in all required python packages
  integrations/cloudbuild/smoke-test.yaml
Labels: hotfix, integrations, review - pending

#30181 [Silabs] Adds changes in build system to support docker image change
  .gitmodules
  examples/platform/silabs/SiWx917/BUILD.gn
  examples/platform/silabs/efr32/BUILD.gn
  examples/platform/silabs/efr32/rs911x/rs9117.gni
  examples/platform/silabs/efr32/rs911x/rs911x.gni
  examples/platform/silabs/efr32/wf200/wf200.gni
  scripts/build/builders/efr32.py
  scripts/examples/gn_silabs_example.sh
  third_party/silabs/SiWx917_sdk.gni
  third_party/silabs/efr32_sdk.gni
Labels: examples, scripts, platform, review - approved

#30251 CI CD docs update
  docs/ci-cd/index.md
  scripts/tools/build_fail_definitions.yaml
  scripts/tools/summarize_fail.py
Labels: documentation, scripts, fast track

#29180 [ESP32] Fix the threading issue in nimble
  src/include/platform/CHIPDeviceEvent.h
  src/platform/ESP32/nimble/BLEManagerImpl.cpp
Labels: platform, esp32, review - pending, fast track

#30216 Match `Time Format Localization Cluster` to spec
  examples/all-clusters-app/all-clusters-common/all-clusters-app.matter
  examples/all-clusters-minimal-app/all-clusters-common/all-clusters-minimal-app.matter
  examples/bridge-app/bridge-common/bridge-app.matter
  examples/chef/devices/noip_rootnode_dimmablelight_bCwGYSDpoe.matter
  examples/chef/devices/rootnode_airqualitysensor_e63187f6c9.matter
  examples/chef/devices/rootnode_basicvideoplayer_0ff86e943b.matter
  examples/chef/devices/rootnode_contactsensor_lFAGG1bfRO.matter
  examples/chef/devices/rootnode_dimmablelight_bCwGYSDpoe.matter
  examples/chef/devices/rootnode_dishwasher_cc105034fe.matter
  examples/chef/devices/rootnode_doorlock_aNKYAreMXE.matter
  examples/chef/devices/rootnode_extendedcolorlight_8lcaaYJVAa.matter
  examples/chef/devices/rootnode_fan_7N2TobIlOX.matter
  examples/chef/devices/rootnode_flowsensor_1zVxHedlaV.matter
  examples/chef/devices/rootnode_heatingcoolingunit_ncdGai1E5a.matter
  examples/chef/devices/rootnode_humiditysensor_Xyj4gda6Hb.matter
  examples/chef/devices/rootnode_laundrywasher_fb10d238c8.matter
  examples/chef/devices/rootnode_lightsensor_lZQycTFcJK.matter
  examples/chef/devices/rootnode_occupancysensor_iHyVgifZuo.matter
  examples/chef/devices/rootnode_onofflight_bbs1b7IaOV.matter
  examples/chef/devices/rootnode_onofflight_samplemei.matter
  examples/chef/devices/rootnode_onofflightswitch_FsPlMr090Q.matter
  examples/chef/devices/rootnode_onoffpluginunit_Wtf8ss5EBY.matter
  examples/chef/devices/rootnode_pressuresensor_s0qC9wLH4k.matter
  examples/chef/devices/rootnode_pump_5f904818cc.matter
  examples/chef/devices/rootnode_pump_a811bb33a0.matter
  examples/chef/devices/rootnode_refrigerator_temperaturecontrolledcabinet_temperaturecontrolledcabinet_ffdb696680.matter
  examples/chef/devices/rootnode_speaker_RpzeXdimqA.matter
  examples/chef/devices/rootnode_temperaturesensor_Qy1zkNW7c3.matter
  examples/chef/devices/rootnode_thermostat_bm3fb8dhYi.matter
  examples/chef/devices/rootnode_windowcovering_RLCxaGi9Yx.matter
  examples/contact-sensor-app/contact-sensor-common/contact-sensor-app.matter
  examples/dishwasher-app/dishwasher-common/dishwasher-app.matter
  examples/light-switch-app/light-switch-common/light-switch-app.matter
  examples/lighting-app/bouffalolab/data_model/lighting-app-ethernet.matter
  examples/lighting-app/bouffalolab/data_model/lighting-app-thread.matter
  examples/lighting-app/bouffalolab/data_model/lighting-app-wifi.matter
  examples/lighting-app/lighting-common/lighting-app.matter
  examples/lighting-app/silabs/data_model/lighting-thread-app.matter
  examples/lighting-app/silabs/data_model/lighting-wifi-app.matter
  examples/lock-app/lock-common/lock-app.matter
  examples/ota-provider-app/ota-provider-common/ota-provider-app.matter
  examples/ota-requestor-app/ota-requestor-common/ota-requestor-app.matter
  examples/placeholder/linux/apps/app1/config.matter
  examples/placeholder/linux/apps/app2/config.matter
  examples/refrigerator-app/refrigerator-common/refrigerator-app.matter
  examples/resource-monitoring-app/resource-monitoring-common/resource-monitoring-app.matter
  examples/smoke-co-alarm-app/smoke-co-alarm-common/smoke-co-alarm-app.matter
  examples/temperature-measurement-app/temperature-measurement-common/temperature-measurement.matter
  examples/thermostat/nxp/zap/thermostat_matter_thread.matter
  examples/thermostat/nxp/zap/thermostat_matter_wifi.matter
  examples/thermostat/thermostat-common/thermostat.matter
  examples/tv-app/tv-common/tv-app.matter
  examples/tv-casting-app/tv-casting-common/tv-casting-app.matter
  examples/virtual-device-app/virtual-device-common/virtual-device-app.matter
  examples/window-app/common/window-app.matter
  scripts/tools/zap/tests/outputs/all-clusters-app/app-templates/access.h
  scripts/tools/zap/tests/outputs/lighting-app/app-templates/access.h
  src/app/zap-templates/zcl/data-model/chip/time-format-localization-cluster.xml
  src/controller/data_model/controller-clusters.matter
Labels: examples, scripts, controller, app, review - pending, fast track, Spec XML align, skip-protocol-compatibility

#30145 [Android] Implement OTA Provider
  examples/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/ChipClient.kt
  examples/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/SelectActionFragment.kt
  examples/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/clusterclient/OtaProviderClientFragment.kt
  examples/android/CHIPTool/app/src/main/res/layout/ota_provider_client_fragment.xml
  examples/android/CHIPTool/app/src/main/res/layout/select_action_fragment.xml
  examples/android/CHIPTool/app/src/main/res/values/strings.xml
  src/controller/java/AndroidDeviceControllerWrapper.cpp
  src/controller/java/AndroidDeviceControllerWrapper.h
  src/controller/java/BUILD.gn
  src/controller/java/BdxOTASender.cpp
  src/controller/java/BdxOTASender.h
  src/controller/java/CHIPDeviceController-JNI.cpp
  src/controller/java/OTAProviderDelegateBridge.cpp
  src/controller/java/OTAProviderDelegateBridge.h
  src/controller/java/src/chip/devicecontroller/ChipDeviceController.java
  src/controller/java/src/chip/devicecontroller/OTAProviderDelegate.java
Labels: examples, controller, review - approved

#30209 Replace type with type_definitions
  scripts/codepregen.py
  scripts/pregenerate/__init__.py
  scripts/pregenerate/type_definitions.py
  scripts/pregenerate/using_codegen.py
  scripts/pregenerate/using_zap.py
  scripts/py_matter_idl/files.gni
  scripts/py_matter_idl/matter_idl/data_model_xml/handlers/parsing.py
  scripts/py_matter_idl/matter_idl/generators/java/__init__.py
  scripts/py_matter_idl/matter_idl/generators/kotlin/__init__.py
  scripts/py_matter_idl/matter_idl/generators/type_definitions.py
  scripts/py_matter_idl/matter_idl/lint/lint_rules_parser.py
  scripts/py_matter_idl/matter_idl/lint/type_definitions.py
  scripts/py_matter_idl/matter_idl/zapxml/handlers/parsing.py
Labels: scripts, review - pending, fast track

#30159 PDC: Identifier calculation, Identity generation, and handling of compact-pdc-identity format
  src/credentials/CHIPCert.cpp
  src/credentials/CHIPCert.h
  src/credentials/CHIPCertToX509.cpp
  src/credentials/CHIPCert_Internal.h
  src/credentials/GenerateChipX509Cert.cpp
  src/credentials/tests/CHIPCert_test_vectors.cpp
  src/credentials/tests/CHIPCert_test_vectors.h
  src/credentials/tests/TestChipCert.cpp
  src/tools/chip-cert/CertUtils.cpp
  src/tools/chip-cert/Cmd_GenCert.cpp
  src/tools/chip-cert/chip-cert.h
Labels: tools, review - approved, hrap

#30021 [STM32] Fix dependency between multiples inclusions of different versions of embedtls
  src/platform/stm32/args.gni
Labels: platform, review - approved

#30265 [Telink] Update Docker image (Zephyr update)
  integrations/docker/images/base/chip-build/version
  integrations/docker/images/stage-2/chip-build-telink/Dockerfile
Labels: integrations, review - pending, docker

#30278 Fix openiot enum after #30217
  src/test_driver/openiotsdk/integration-tests/tv-app/test_app.py
Labels: hotfix, test driver

#30075 Python conformance checker: Make zigbee a real conformance
  src/python_testing/TestConformanceSupport.py
  src/python_testing/conformance_support.py
  src/python_testing/spec_parsing_support.py
Labels: review - pending, fast track, tests

#30249 Make TestAddressResolve_DefaultImpl.cpp work on thread devices
  src/lib/address_resolve/tests/TestAddressResolve_DefaultImpl.cpp
Labels: lib, review - pending, fast track

#30211 TC-1DM-10.3: Add (Cluster revision checks)
  src/python_testing/TC_DeviceBasicComposition.py
  src/python_testing/spec_parsing_support.py
Labels: review - pending, fast track, tests

#30286 Fix merge issues between #30211 and #30207
  src/python_testing/TC_DeviceBasicComposition.py
Labels: hotfix, tests

#30289 Fix spelling error in hotfix
  src/python_testing/TC_DeviceBasicComposition.py
Labels: hotfix, review - pending, tests

#30279 Fix Darwin handling of provisional fields in non-provisional commands/structs.
  .github/workflows/darwin.yaml
  examples/darwin-framework-tool/BUILD.gn
  scripts/build/build_darwin_framework.py
  src/darwin/Framework/CHIP/templates/MTRAttributeTLVValueDecoder-src.zapt
  src/darwin/Framework/CHIP/templates/MTREventTLVValueDecoder-src.zapt
  src/darwin/Framework/CHIP/zap-generated/MTRAttributeTLVValueDecoder.mm
  src/darwin/Framework/CHIP/zap-generated/MTREventTLVValueDecoder.mm
  src/darwin/Framework/Matter.xcodeproj/project.pbxproj
Labels: examples, scripts, darwin, github, workflows, review - pending, fast track

#30241 [Scenes] Use of "contains" in Yaml S 2.2
  src/app/tests/suites/certification/Test_TC_S_2_2.yaml
Labels: app, review - approved, tests

#30141 [Android] Remove JNI code in each cluster.
  examples/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/clusterclient/GroupSettingFragment.kt
  scripts/py_matter_idl/matter_idl/generators/java/ChipClusters_java.jinja
  scripts/py_matter_idl/matter_idl/generators/java/ChipEventStructs_java.jinja
  scripts/py_matter_idl/matter_idl/generators/java/ChipStructs_java.jinja
  scripts/py_matter_idl/matter_idl/generators/java/__init__.py
  scripts/py_matter_idl/matter_idl/tests/outputs/several_clusters/java/ChipClusters.java
  scripts/py_matter_idl/matter_idl/tests/outputs/several_clusters/java/ChipEventStructs.java
  scripts/py_matter_idl/matter_idl/tests/outputs/several_clusters/java/ChipStructs.java
  src/controller/java/BUILD.gn
  src/controller/java/BaseCHIPCluster-JNI.cpp
  src/controller/java/CHIPDeviceController-JNI.cpp
  src/controller/java/generated/java/chip/devicecontroller/ChipClusters.java
  src/controller/java/generated/java/chip/devicecontroller/ChipEventStructs.java
  src/controller/java/generated/java/chip/devicecontroller/ChipStructs.java
  src/controller/java/src/chip/devicecontroller/ChipDeviceController.java
  src/controller/java/src/chip/devicecontroller/ChipTLVType.java
Labels: examples, scripts, controller, review - approved

#30313 Update index.md (CI/CD docs)
  docs/ci-cd/index.md
Labels: documentation, fast track

#30315 Update index.md (CI/CD) split out tools into individual docs
  docs/ci-cd/index.md
  docs/ci-cd/tools/daily_fail_summary.md
Labels: documentation, fast track

#30332 Update index.md (CI/CD docs, todo list with issue details)
  docs/ci-cd/index.md
Labels: documentation, fast track

#30308 [Scenes] make LastConfiguredBy optional
  src/app/clusters/scenes-server/scenes-server.cpp
Labels: app, review - approved

#30316 Match `Keypad Input Cluster` to spec
  examples/all-clusters-minimal-app/all-clusters-common/all-clusters-minimal-app.matter
  examples/chef/devices/rootnode_basicvideoplayer_0ff86e943b.matter
  examples/placeholder/linux/apps/app1/config.matter
  examples/placeholder/linux/apps/app2/config.matter
  examples/tv-app/android/java/KeypadInputManager.cpp
  examples/tv-app/tv-common/clusters/keypad-input/KeypadInputManager.cpp
  examples/tv-app/tv-common/tv-app.matter
  examples/tv-casting-app/tv-casting-common/tv-casting-app.matter
  src/app/CompatEnumNames.h
  src/app/zap-templates/zcl/data-model/chip/keypad-input-cluster.xml
  src/app/zap-templates/zcl/data-model/chip/media-input-cluster.xml
  src/controller/data_model/controller-clusters.matter
  src/controller/python/chip/clusters/Objects.py
  src/darwin/Framework/CHIP/zap-generated/MTRBaseClusters.h
  src/test_driver/openiotsdk/integration-tests/tv-app/test_app.py
  zzz_generated/app-common/app-common/zap-generated/cluster-enums-check.h
  zzz_generated/app-common/app-common/zap-generated/cluster-enums.h
  zzz_generated/app-common/app-common/zap-generated/cluster-objects.h
Labels: examples, darwin, controller, app, review - approved, test driver, Spec XML align, skip-protocol-compatibility

#30248 [bloat report] Use a default set of sections if there is no config
  scripts/tools/memory/gh_sizes.py
Labels: scripts, review - pending, fast track

#30341 Disable -Wdocumentation for libwebsocket.
  examples/common/websocket-server/BUILD.gn
  src/darwin/Framework/Matter.xcodeproj/project.pbxproj
Labels: examples, darwin, review - approved

#30328 [Kotlin] Fix timeout error im interaction tests
  src/controller/java/src/matter/controller/MatterControllerImpl.kt
Labels: controller, review - approved

#29840 [ESP32] Made a provision to generate esp_secure_cert partition in factory partition script.
  scripts/tools/generate_esp32_chip_factory_bin.py
Labels: scripts, review - pending, fast track

#30330 [restyle] Reformat Structs and EventStructs template to align with ktfmt check
  scripts/py_matter_idl/matter_idl/generators/kotlin/MatterEventStructs.jinja
  scripts/py_matter_idl/matter_idl/generators/kotlin/MatterStructs.jinja
Labels: scripts, review - approved

#30386 Define a `IsValidUtf8` equivalent with unit tests
  src/lib/support/BUILD.gn
  src/lib/support/tests/BUILD.gn
  src/lib/support/tests/TestUtf8.cpp
  src/lib/support/utf8.cpp
  src/lib/support/utf8.h
Labels: lib, review - approved, support

#30345 Span and Optional enhancements
  src/lib/core/Optional.h
  src/lib/core/tests/TestOptional.cpp
  src/lib/support/Span.h
  src/lib/support/tests/TestSpan.cpp
Labels: lib, review - approved, support, core

#30400 Disable the CharSpan("literal") footgun
  examples/all-clusters-app/nxp/mw320/main.cpp
  examples/chef/common/stubs.cpp
  src/app/clusters/door-lock-server/door-lock-server.cpp
  src/app/tests/TestSceneTable.cpp
  src/credentials/FabricTable.cpp
  src/credentials/tests/TestFabricTable.cpp
  src/lib/support/Span.h
  src/lib/support/tests/TestSpan.cpp
  src/lib/support/tests/TestTlvJson.cpp
Labels: examples, lib, app, review - approved, tests, support

#30402 Fix -Wundef error in SystemLayerImplSelect.h
  src/system/SystemLayerImplSelect.h
Labels: system, review - pending, fast track

#30322 Match `TargetNavigator Cluster` to spec
  examples/all-clusters-minimal-app/all-clusters-common/all-clusters-minimal-app.matter
  examples/chef/devices/rootnode_basicvideoplayer_0ff86e943b.matter
  examples/placeholder/linux/apps/app1/config.matter
  examples/placeholder/linux/apps/app2/config.matter
  examples/tv-app/android/include/target-navigator/TargetNavigatorManager.cpp
  examples/tv-app/android/java/ContentAppCommandDelegate.cpp
  examples/tv-app/tv-common/clusters/target-navigator/TargetNavigatorManager.cpp
  examples/tv-app/tv-common/tv-app.matter
  examples/tv-casting-app/tv-casting-common/tv-casting-app.matter
  src/app/CompatEnumNames.h
  src/app/zap-templates/zcl/data-model/chip/target-navigator-cluster.xml
  src/controller/data_model/controller-clusters.matter
  src/controller/python/chip/clusters/Objects.py
  src/darwin/Framework/CHIP/zap-generated/MTRBaseClusters.h
  src/test_driver/openiotsdk/integration-tests/tv-app/test_app.py
  zzz_generated/app-common/app-common/zap-generated/cluster-enums-check.h
  zzz_generated/app-common/app-common/zap-generated/cluster-enums.h
  zzz_generated/app-common/app-common/zap-generated/cluster-objects.h
Labels: examples, darwin, controller, app, review - pending, fast track, test driver, Spec XML align, skip-protocol-compatibility

#30310 [Linux] Extract BLE advertisement to separate class
  scripts/helpers/platforms/iwyu.imp
  src/platform/Linux/BLEManagerImpl.cpp
  src/platform/Linux/BLEManagerImpl.h
  src/platform/Linux/BUILD.gn
  src/platform/Linux/CHIPDevicePlatformEvent.h
  src/platform/Linux/bluez/BluezAdvertisement.cpp
  src/platform/Linux/bluez/BluezAdvertisement.h
  src/platform/Linux/bluez/BluezEndpoint.cpp
  src/platform/Linux/bluez/BluezEndpoint.h
Labels: scripts, platform, linux, review - pending, fast track

#30393 Enforce valid spec-conformant string encoding in TLV
  examples/chip-tool/args.gni
  examples/placeholder/linux/static-supported-temperature-levels.cpp
  src/app/clusters/ota-requestor/DefaultOTARequestor.cpp
  src/app/clusters/scenes-server/SceneTable.h
  src/app/clusters/scenes-server/SceneTableImpl.cpp
  src/app/clusters/time-synchronization-server/time-synchronization-server.cpp
  src/app/tests/TestTimeSyncDataProvider.cpp
  src/lib/core/BUILD.gn
  src/lib/core/CHIPError.cpp
  src/lib/core/CHIPError.h
  src/lib/core/TLVReader.cpp
  src/lib/core/TLVWriter.cpp
  src/lib/core/TLVWriter.h
  src/lib/core/core.gni
  src/lib/core/tests/TestCHIPErrorStr.cpp
Labels: tools, examples, lib, app, review - approved, tests, core

#30420 Ensure is active exists in chipdevicectrl.py
  src/controller/python/chip/ChipDeviceCtrl.py
Labels: controller, review - pending, fast track

#30421 Followup on post-merge comments on #30393
  examples/placeholder/linux/static-supported-temperature-levels.cpp
  src/app/clusters/scenes-server/SceneTableImpl.cpp
  src/app/clusters/time-synchronization-server/time-synchronization-server.cpp
  src/lib/core/CHIPError.h
Labels: examples, lib, app, fast track, core

#30416 Make chiptool.py a little easier to understand
  scripts/tests/yaml/chiptool.py
  scripts/tests/yaml/relative_importer.py
  scripts/tests/yaml/tests_finder.py
Labels: scripts, review - approved

#30396 Remove start and stop from run
  scripts/py_matter_yamltests/matter_yamltests/runner.py
  scripts/py_matter_yamltests/matter_yamltests/websocket_runner.py
Labels: scripts, review - approved

#30338 Refrigerator: Fix conformance
  examples/refrigerator-app/refrigerator-common/refrigerator-app.matter
  examples/refrigerator-app/refrigerator-common/refrigerator-app.zap
Labels: examples, review - approved

#30415 [Chef] Fix AirQualitySensor Conformance Test error
  examples/chef/devices/rootnode_airqualitysensor_e63187f6c9.matter
  examples/chef/devices/rootnode_airqualitysensor_e63187f6c9.zap
Labels: review - pending, fast track

#30276 [door-lock] Fix the crash when providing null-ed user index
  src/app/clusters/door-lock-server/door-lock-server.cpp
Labels: app, review - approved

#30424 Set SYSTEM_VERSION_COMPAT=0 to fix mac whl install
  scripts/build_python.sh
Labels: scripts, python, review - approved

#30427 [Android] Add data version filter support in IM
  examples/java-matter-controller/java/src/com/matter/controller/commands/pairing/PairOnNetworkLongImReadCommand.kt
  examples/java-matter-controller/java/src/com/matter/controller/commands/pairing/PairOnNetworkLongImSubscribeCommand.kt
  scripts/py_matter_idl/matter_idl/generators/java/ChipClusters_java.jinja
  scripts/py_matter_idl/matter_idl/tests/outputs/several_clusters/java/ChipClusters.java
  src/app/ReadClient.cpp
  src/controller/java/AndroidCallbacks.cpp
  src/controller/java/BUILD.gn
  src/controller/java/CHIPDeviceController-JNI.cpp
  src/controller/java/generated/java/chip/devicecontroller/ChipClusters.java
  src/controller/java/src/chip/devicecontroller/ChipDeviceController.java
  src/controller/java/src/chip/devicecontroller/model/DataVersionFilter.java
Labels: examples, scripts, controller, app, review - approved

#30431 Typo in documentation, also change example EP
  src/controller/python/chip/ChipDeviceCtrl.py
Labels: controller, review - approved

#30447 [Silabs]Bump our default sw version string
  scripts/build/builders/efr32.py
  scripts/examples/gn_silabs_example.sh
Labels: scripts, review - approved

#30445 Update ZAP version to v2023.11.08-nightly
  examples/air-quality-sensor-app/air-quality-sensor-common/air-quality-sensor-app.zap
  examples/all-clusters-app/all-clusters-common/all-clusters-app.zap
  examples/all-clusters-minimal-app/all-clusters-common/all-clusters-minimal-app.zap
  examples/bridge-app/bridge-common/bridge-app.zap
  examples/chef/devices/noip_rootnode_dimmablelight_bCwGYSDpoe.zap
  examples/contact-sensor-app/contact-sensor-common/contact-sensor-app.zap
  examples/light-switch-app/light-switch-common/light-switch-app.zap
  examples/lighting-app/bouffalolab/data_model/lighting-app-thread.zap
  examples/lighting-app/lighting-common/lighting-app.zap
  examples/lighting-app/nxp/zap/lighting-on-off.zap
  examples/lighting-app/qpg/zap/light.zap
  examples/lighting-app/silabs/data_model/lighting-thread-app.zap
  examples/lock-app/lock-common/lock-app.zap
  examples/lock-app/nxp/zap/lock-app.zap
  examples/lock-app/qpg/zap/lock.zap
  examples/placeholder/linux/apps/app1/config.zap
  examples/placeholder/linux/apps/app2/config.zap
  examples/pump-app/pump-common/pump-app.zap
  examples/pump-app/silabs/data_model/pump-thread-app.zap
  examples/pump-app/silabs/data_model/pump-wifi-app.zap
  examples/pump-controller-app/pump-controller-common/pump-controller-app.zap
  examples/resource-monitoring-app/resource-monitoring-common/resource-monitoring-app.zap
  examples/smoke-co-alarm-app/smoke-co-alarm-common/smoke-co-alarm-app.zap
  examples/thermostat/nxp/zap/thermostat_matter_thread.zap
  examples/thermostat/thermostat-common/thermostat.zap
  examples/tv-app/tv-common/tv-app.zap
  examples/virtual-device-app/virtual-device-common/virtual-device-app.zap
  examples/window-app/common/window-app.zap
  scripts/setup/zap.json
  scripts/setup/zap.version
  scripts/tools/zap/tests/inputs/all-clusters-app.zap
  scripts/tools/zap/tests/inputs/lighting-app.zap
  scripts/tools/zap/zap_execution.py
  src/app/tests/suites/commands/discovery/DiscoveryCommands.cpp
  zzz_generated/app-common/app-common/zap-generated/tests/simulated-cluster-objects.h
Labels: examples, scripts, app, review - approved, tests

#30446 Update latest `data_model` XMLs from spec
  data_model/clusters/AccountLogin.xml
  data_model/clusters/AlarmBase.xml
  data_model/clusters/BallastConfiguration.xml
  data_model/clusters/Channel.xml
  data_model/clusters/DiagnosticsThread.xml
  data_model/clusters/KeypadInput.xml
  data_model/clusters/LocalizationTimeFormat.xml
  data_model/clusters/TargetNavigator.xml
  data_model/clusters/WakeOnLAN.xml
  data_model/spec_sha
Labels: review - pending, fast track

#30426 Update README.md Temperature values are expressed in hundredths of a degree.
  examples/air-quality-sensor-app/linux/README.md
Labels: examples, review - approved

#30449 Minor fix and increase heap for EFR test runner
  src/lib/dnssd/minimal_mdns/tests/TestResponseSender.cpp
  src/test_driver/efr32/include/FreeRTOSConfig.h
Labels: lib, review - pending, fast track, test driver

#30428 [SMOKECO] Fix comment error in RequestSelfTest function
  src/app/clusters/smoke-co-alarm-server/smoke-co-alarm-server.h
Labels: app, review - approved

#30297 Door lock: make example conformant
  examples/lock-app/esp32/main/CMakeLists.txt
  examples/lock-app/lock-common/lock-app.matter
  examples/lock-app/lock-common/lock-app.zap
Labels: examples, review - approved

#30457 Fix operational advertising in chip-tool.
  examples/chip-tool/commands/common/CHIPCommand.cpp
  examples/chip-tool/commands/common/CHIPCommand.h
  examples/chip-tool/commands/common/Command.h
  examples/chip-tool/commands/common/Commands.cpp
  examples/chip-tool/commands/common/Commands.h
  examples/chip-tool/commands/interactive/InteractiveCommands.cpp
  examples/darwin-framework-tool/commands/interactive/InteractiveCommands.mm
Labels: review - approved

#30455 remove redundant check for data version filter list
  src/app/ReadClient.cpp
Labels: app, review - approved

#30195 [nrfconnect] Changes in documentation of examples
  examples/all-clusters-app/nrfconnect/README.md
  examples/light-switch-app/nrfconnect/README.md
  examples/lighting-app/nrfconnect/README.md
  examples/lock-app/nrfconnect/README.md
  examples/pump-app/nrfconnect/README.md
  examples/pump-controller-app/nrfconnect/README.md
  examples/window-app/nrfconnect/README.md
Labels: examples, review - approved

#30460 Update Darwin availability annotations.
  src/darwin/Framework/CHIP/templates/availability.yaml
  src/darwin/Framework/CHIP/zap-generated/MTRBaseClusters.h
Labels: darwin, review - approved, fast track

#30462 [Telink] Update Docker image (Zephyr update)
  integrations/docker/images/base/chip-build/version
  integrations/docker/images/stage-2/chip-build-telink/Dockerfile
Labels: integrations, review - pending, fast track, docker

#30459 Don't dispatch CASE retry notifications if there's no retry happening.
  src/app/OperationalSessionSetup.cpp
  src/app/OperationalSessionSetup.h
Labels: app, review - approved

#30468 Follow up to "Make chiptool.py a little easier to understand"
  scripts/tests/yaml/chiptool.py
Labels: scripts, review - approved

#30239 [Silabs] Add a dedicated option for PW_RPC
  scripts/examples/gn_silabs_example.sh
Labels: scripts, review - approved

#30337 Conformance: hack for missing temp control attributes
  src/python_testing/spec_parsing_support.py
Labels: review - approved, tests

#30474 [nrfconnect] Fixed missing config for the nrf test driver.
  src/test_driver/nrfconnect/prj.conf
Labels: review - approved, test driver

#30448 Add OTA clusters to temperature-measurement .matter and .zap files
  examples/temperature-measurement-app/esp32/main/CMakeLists.txt
  examples/temperature-measurement-app/temperature-measurement-common/temperature-measurement.matter
  examples/temperature-measurement-app/temperature-measurement-common/temperature-measurement.zap
Labels: examples, review - approved

#30319 [ICD] Update ICDM 2.1 test
  src/python_testing/TC_ICDM_2_1.py
Labels: review - approved, tests

#30422 [ICD]Update the DNS-SD advertissement (SII and ICD keys) on icd operation mode changes
  src/app/icd/ICDManager.cpp
  src/app/icd/ICDManager.h
  src/app/icd/ICDStateObserver.h
  src/app/reporting/ReportSchedulerImpl.h
  src/app/server/BUILD.gn
  src/app/server/Dnssd.cpp
  src/app/server/Dnssd.h
  src/app/server/Server.cpp
  src/app/tests/TestICDManager.cpp
  src/lib/core/CHIPConfig.h
  src/lib/dnssd/Advertiser_ImplMinimalMdns.cpp
  src/lib/dnssd/Discovery_ImplPlatform.cpp
  src/lib/dnssd/minimal_mdns/tests/TestAdvertiser.cpp
  src/lib/dnssd/platform/tests/TestPlatform.cpp
Labels: platform, lib, app, review - approved, tests, core, icd

#30444 [Silabs] Add .rps support in the build step and flasher script
  build/toolchain/flashable_executable.gni
  scripts/examples/gn_silabs_example.sh
  scripts/flashing/silabs_firmware_utils.py
  third_party/silabs/silabs_board.gni
  third_party/silabs/silabs_executable.gni
Labels: scripts, gn, review - approved

#30391 [Scenes] Endpoint Add and Remove support
  scripts/tools/zap/tests/outputs/all-clusters-app/app-templates/endpoint_config.h
  src/app/clusters/scenes-server/SceneTable.h
  src/app/clusters/scenes-server/SceneTableImpl.cpp
  src/app/clusters/scenes-server/SceneTableImpl.h
  src/app/clusters/scenes-server/scenes-server.cpp
  src/app/common/templates/config-data.yaml
  src/app/tests/TestSceneTable.cpp
Labels: scripts, app, review - approved, tests

#30473 Fix build of `esp32-m5stack-all-clusters-rpc-ipv6only` for out of tree PW_ENVIRONMENT_ROOT
  examples/build_overrides/pigweed_environment.gni
Labels: examples, review - pending, fast track

#30479 Make (Fixed)Span<T>::data_equals a plain method (not a template)
  src/lib/support/Span.h
  src/lib/support/tests/TestSpan.cpp
Labels: lib, review - approved, support

#30482 feature: configurable ble advertising autostart for esp32
  config/esp32/components/chip/Kconfig
  src/platform/ESP32/CHIPDevicePlatformConfig.h
Labels: platform, esp32, config, review - pending, fast track

#30469 [Telink] Add the functionality for the B91 Mars board
  config/telink/chip-module/CMakeLists.txt
  config/telink/chip-module/Kconfig
  examples/air-quality-sensor-app/telink/CMakeLists.txt
  examples/air-quality-sensor-app/telink/include/AppTask.h
  examples/air-quality-sensor-app/telink/src/AppTask.cpp
  examples/lighting-app/telink/CMakeLists.txt
  examples/lighting-app/telink/include/AppTask.h
  examples/lighting-app/telink/src/AppTask.cpp
  examples/lighting-app/telink/src/ZclCallbacks.cpp
  examples/platform/telink/common/include/AppTaskCommon.h
  examples/platform/telink/common/include/SensorManagerCommon.h
  examples/platform/telink/common/src/SensorManagerCommon.cpp
  examples/platform/telink/util/include/WS2812Device.h
  examples/platform/telink/util/src/PWMDevice.cpp
  examples/platform/telink/util/src/WS2812Device.cpp
  examples/temperature-measurement-app/telink/CMakeLists.txt
  examples/temperature-measurement-app/telink/include/AppTask.h
  examples/temperature-measurement-app/telink/include/SensorManager.h
  examples/temperature-measurement-app/telink/src/AppTask.cpp
  examples/temperature-measurement-app/telink/src/SensorManager.cpp
  examples/thermostat/telink/CMakeLists.txt
  examples/thermostat/telink/include/AppTask.h
  examples/thermostat/telink/src/AppTask.cpp
  examples/thermostat/telink/src/SensorManager.cpp
  src/platform/telink/tlsr9518adk80d_mars.conf
  src/platform/telink/tlsr9518adk80d_mars.overlay
  src/platform/telink/tlsr9518adk80d_mars_boot.overlay
Labels: examples, platform, config, review - pending, telink, fast track

#30412 [Silabs] 917 Soc Adds changes for WPA3 configuration
  src/platform/silabs/rs911x/rsi_ble_config.h
Labels: platform, review - pending, fast track, silabs

#30334 Conformance checker: Add more aliased clusters
  src/python_testing/spec_parsing_support.py
Labels: review - approved, tests

#30320 Add missing ClusterRevision value to Carbon Dioxide Concentration Measurement XML.
  src/app/zap-templates/zcl/data-model/chip/concentration-measurement-cluster.xml
Labels: app, review - pending, fast track

#30463 [Telink] Update builds to docker version 26
  .github/workflows/bloat_check.yaml
  .github/workflows/build.yaml
  .github/workflows/chef.yaml
  .github/workflows/cirque.yaml
  .github/workflows/doxygen.yaml
  .github/workflows/examples-ameba.yaml
  .github/workflows/examples-asr.yaml
  .github/workflows/examples-bouffalolab.yaml
  .github/workflows/examples-cc13x2x7_26x2x7.yaml
  .github/workflows/examples-cc32xx.yaml
  .github/workflows/examples-efr32.yaml
  .github/workflows/examples-esp32.yaml
  .github/workflows/examples-infineon.yaml
  .github/workflows/examples-k32w.yaml
  .github/workflows/examples-linux-arm.yaml
  .github/workflows/examples-linux-imx.yaml
  .github/workflows/examples-linux-standalone.yaml
  .github/workflows/examples-mbed.yaml
  .github/workflows/examples-mw320.yaml
  .github/workflows/examples-nrfconnect.yaml
  .github/workflows/examples-openiotsdk.yaml
  .github/workflows/examples-qpg.yaml
  .github/workflows/examples-stm32.yaml
  .github/workflows/examples-telink.yaml
  .github/workflows/examples-tizen.yaml
  .github/workflows/full-android.yaml
  .github/workflows/fuzzing-build.yaml
  .github/workflows/java-tests.yaml
  .github/workflows/lint.yml
  .github/workflows/minimal-build.yaml
  .github/workflows/qemu.yaml
  .github/workflows/release_artifacts.yaml
  .github/workflows/smoketest-android.yaml
  .github/workflows/tests.yaml
  .github/workflows/unit_integration_test.yaml
  .github/workflows/zap_regeneration.yaml
  .github/workflows/zap_templates.yaml
  examples/all-clusters-app/ameba/README.md
  examples/all-clusters-minimal-app/ameba/README.md
  examples/light-switch-app/ameba/README.md
  examples/lighting-app/ameba/README.md
  examples/ota-requestor-app/ameba/README.md
  examples/pigweed-app/ameba/README.md
  integrations/cloudbuild/build-all.yaml
  integrations/cloudbuild/chef.yaml
  integrations/cloudbuild/smoke-test.yaml
  src/test_driver/tizen/README.md
Labels: examples, integrations, github, workflows, review - approved, test driver

#30245 [Scenes] SceneHandler helpers
  src/app/chip_data_model.gni
  src/app/clusters/on-off-server/on-off-server.cpp
  src/app/clusters/scenes-server/BUILD.gn
  src/app/clusters/scenes-server/SceneHandlerImpl.cpp
  src/app/clusters/scenes-server/SceneHandlerImpl.h
  src/app/clusters/scenes-server/SceneTableImpl.cpp
  src/app/clusters/scenes-server/SceneTableImpl.h
  src/app/tests/BUILD.gn
  src/app/tests/TestSceneTable.cpp
Labels: app, review - approved, tests

#30493 Make pigweed environment paths absolute
  examples/build_overrides/pigweed_environment.gni
  scripts/setup/bootstrap.sh
  scripts/setup/gni_make_paths_absolute.py
Labels: examples, scripts, review - pending, fast track

#30405 Update session parameters to be inline with matter 1.3 spec
  src/app/BUILD.gn
  src/app/SpecificationVersion.h
  src/lib/core/CHIPConfig.h
  src/protocols/secure_channel/BUILD.gn
  src/protocols/secure_channel/CASESession.cpp
  src/protocols/secure_channel/PASESession.cpp
  src/protocols/secure_channel/PairingSession.cpp
  src/protocols/secure_channel/PairingSession.h
  src/protocols/secure_channel/SessionParameters.h
  src/protocols/secure_channel/tests/TestPairingSession.cpp
Labels: lib, app, review - approved, core, protocols

#30484 Fix handling command handler status for group messages
  src/app/CommandHandler.cpp
  src/app/CommandHandler.h
Labels: app, review - approved

#30494 Set a python log redirect for python testing, so all logs are available
  src/python_testing/matter_testing_support.py
Labels: review - approved, tests

#30385 [ICD] Add ICD CheckInSender class
  src/app/icd/BUILD.gn
  src/app/icd/ICDCheckInSender.cpp
  src/app/icd/ICDCheckInSender.h
  src/app/icd/ICDMonitoringTable.cpp
  src/app/icd/ICDMonitoringTable.h
  src/app/tests/TestICDMonitoringTable.cpp
  src/messaging/BUILD.gn
  src/messaging/ReliableMessageProtocolConfig.cpp
  src/platform/Linux/BUILD.gn
Labels: platform, linux, app, review - approved, tests, icd, messaging

#30026 Updating code of conduct
  CODE_OF_CONDUCT.md
Labels: documentation, review - pending

#30006 Add notice about using third_party/lwip
  third_party/lwip/README.md
Labels: review - approved

#30495 [Telink] Add Build example for B91 Mars board
  .github/workflows/examples-telink.yaml
  scripts/build/build/targets.py
  scripts/build/builders/telink.py
  scripts/build/testdata/all_targets_linux_x64.txt
Labels: scripts, github, workflows, review - pending, fast track

#30483 Pioneer's Vendor ID is for RF4CE only in the PDF...
  src/app/zap-templates/zcl/data-model/manufacturers.xml
Labels: app, review - approved

#30513 [CI] Fix OpenIoT failure for ICDMonitoringTableTest
  src/app/tests/TestICDMonitoringTable.cpp
Labels: app, review - approved, tests

#30301 [Telink] Lock app refactoring & fix TC-DRLK-2.10
  .github/workflows/examples-telink.yaml
  examples/lock-app/telink/CMakeLists.txt
  examples/lock-app/telink/include/AppConfig.h
  examples/lock-app/telink/include/AppTask.h
  examples/lock-app/telink/include/BoltLockManager.h
  examples/lock-app/telink/include/LockManager.h
  examples/lock-app/telink/include/LockSettingsStorage.h
  examples/lock-app/telink/src/AppTask.cpp
  examples/lock-app/telink/src/BoltLockManager.cpp
  examples/lock-app/telink/src/LockManager.cpp
  examples/lock-app/telink/src/LockSettingsStorage.cpp
  examples/lock-app/telink/src/ZclCallbacks.cpp
  examples/platform/telink/common/include/AppEventCommon.h
Labels: examples, platform, github, workflows, review - approved

#30296 Conformance: separate files, turn on errors
  src/python_testing/TC_DeviceBasicComposition.py
  src/python_testing/TC_DeviceConformance.py
Labels: review - pending, fast track, tests

#29960 Match `Unit Localization Cluster` to spec
  examples/all-clusters-app/all-clusters-common/all-clusters-app.matter
  examples/all-clusters-minimal-app/all-clusters-common/all-clusters-minimal-app.zap
  examples/bridge-app/bridge-common/bridge-app.matter
  examples/chef/devices/rootnode_dishwasher_cc105034fe.matter
  examples/chef/devices/rootnode_laundrywasher_fb10d238c8.matter
  examples/chef/devices/rootnode_refrigerator_temperaturecontrolledcabinet_temperaturecontrolledcabinet_ffdb696680.matter
  examples/chef/devices/rootnode_roomairconditioner_9cf3607804.zap
  examples/chef/devices/rootnode_thermostat_bm3fb8dhYi.zap
  examples/dishwasher-app/dishwasher-common/dishwasher-app.matter
  examples/placeholder/linux/apps/app1/config.matter
  examples/placeholder/linux/apps/app1/config.zap
  examples/placeholder/linux/apps/app2/config.matter
  examples/placeholder/linux/apps/app2/config.zap
  examples/refrigerator-app/refrigerator-common/refrigerator-app.matter
  examples/temperature-measurement-app/temperature-measurement-common/temperature-measurement.matter
  examples/thermostat/nxp/zap/thermostat_matter_thread.matter
  examples/thermostat/nxp/zap/thermostat_matter_wifi.matter
  examples/thermostat/thermostat-common/thermostat.matter
  examples/thermostat/thermostat-common/thermostat.zap
  examples/tv-app/tv-common/tv-app.matter
  examples/tv-casting-app/tv-casting-common/tv-casting-app.matter
  examples/virtual-device-app/virtual-device-common/virtual-device-app.matter
  scripts/tools/zap/tests/inputs/all-clusters-app.zap
  scripts/tools/zap/tests/outputs/all-clusters-app/app-templates/access.h
  src/app/zap-templates/zcl/data-model/chip/unit-localization-cluster.xml
  src/controller/data_model/controller-clusters.matter
Labels: examples, scripts, controller, app, review - pending, fast track, skip-protocol-compatibility

#30528 Undo linux platform forced address config
  src/platform/Linux/BUILD.gn
Labels: platform, linux, review - approved

#30521 Removed `attribute-size.h` and `attribute-size-util.cpp`
  src/app/chip_data_model.cmake
  src/app/chip_data_model.gni
  src/app/common/templates/templates.json
  src/app/util/attribute-size-util.cpp
  src/app/zap-templates/templates/app/attribute-size.zapt
  zzz_generated/app-common/app-common/zap-generated/attribute-size.h
Labels: review - approved

#30511 Implement PDC support in Network Commissioning cluster
  src/app/clusters/network-commissioning/network-commissioning.cpp
  src/app/clusters/network-commissioning/network-commissioning.h
  src/include/platform/CHIPDeviceConfig.h
  src/include/platform/NetworkCommissioning.h
  src/platform/Darwin/CHIPDevicePlatformConfig.h
  src/platform/Linux/CHIPDevicePlatformConfig.h
Labels: platform, darwin, linux, app, review - approved, hrap

#30535 Follow-up to #30511 for missed comments
  src/app/clusters/network-commissioning/network-commissioning.cpp
  src/include/platform/NetworkCommissioning.h
Labels: platform, app, review - approved

#30522 Changes to CommandDataIB to reflect 1.3 spec
  src/app/MessageDef/CommandDataIB.cpp
  src/app/MessageDef/CommandDataIB.h
Labels: app, review - approved

#30530 Remove `PHYRateEnum` from the list of WeakEnums
  src/app/clusters/ethernet-network-diagnostics-server/ethernet-network-diagnostics-server.cpp
  src/app/common/templates/config-data.yaml
  src/platform/Linux/ConnectivityUtils.cpp
  src/platform/Tizen/ConnectivityUtils.cpp
  src/platform/webos/ConnectivityUtils.cpp
  zzz_generated/app-common/app-common/zap-generated/cluster-enums-check.h
  zzz_generated/app-common/app-common/zap-generated/cluster-enums.h
  zzz_generated/app-common/app-common/zap-generated/enums.h
Labels: platform, linux, app, review - approved, tizen

#30523 Remove `BarrierControlBarrierPosition` and `BarrierControlMovingState`
  src/app/clusters/barrier-control-server/barrier-control-server.cpp
  src/app/common/templates/config-data.yaml
  src/app/zap-templates/zcl/data-model/draft/barrier-control-cluster.xml
  zzz_generated/app-common/app-common/zap-generated/enums.h
Labels: app, review - approved

#30541 Add a lint for use of PRI*64 macros.
  .github/workflows/lint.yml
  examples/shell/shell_common/cmd_server.cpp
  src/app/MessageDef/AttributePathIB.cpp
  src/app/MessageDef/ClusterPathIB.cpp
  src/app/MessageDef/EventDataIB.cpp
  src/app/MessageDef/EventFilterIB.cpp
  src/app/MessageDef/EventPathIB.cpp
  src/app/MessageDef/MessageDefHelper.cpp
  src/app/clusters/door-lock-server/door-lock-server.cpp
  src/app/reporting/Engine.cpp
  src/app/reporting/ReportSchedulerImpl.cpp
  src/app/reporting/SynchronizedReportSchedulerImpl.cpp
  src/app/tests/TestReadInteraction.cpp
  src/controller/CommissioningWindowOpener.cpp
  src/lib/address_resolve/tool.cpp
  src/lib/core/TLVTags.cpp
  src/lib/support/PersistedCounter.h
  src/lib/support/PersistentStorageMacros.h
  src/messaging/ReliableMessageMgr.cpp
  src/platform/Linux/ThreadStackManagerImpl.cpp
  src/platform/mbed/OTAImageProcessorImpl.cpp
  src/platform/tests/TestPlatformTime.cpp
  src/protocols/bdx/BdxMessages.cpp
Labels: examples, platform, linux, lib, controller, app, github, workflows, review - approved, tests, support, core, messaging, protocols

#30516 Data model XML parser: when parsing derived clusters, give derived attributes precedence
  scripts/py_matter_idl/matter_idl/data_model_xml/handlers/derivation.py
Labels: scripts, review - pending, fast track

#30532 [Scenes] SceneFabricInfo nitpicks
  src/app/clusters/scenes-server/scenes-server.cpp
  src/app/clusters/scenes-server/scenes-server.h
  src/darwin/Framework/CHIP/templates/availability.yaml
Labels: darwin, app, review - approved

#30549 Add a few more ref type recognition in xml parsing
  scripts/py_matter_idl/matter_idl/data_model_xml/handlers/parsing.py
Labels: scripts, review - pending, fast track

#30546 [Telink] Redefined ping timeout for WebSocketServer
  examples/common/websocket-server/WebSocketServer.cpp
Labels: examples, review - approved

#30525 Allow plumbing of `SessionParameters` from `Session`
  src/messaging/tests/MessagingContext.cpp
  src/messaging/tests/TestAbortExchangesForFabric.cpp
  src/messaging/tests/TestReliableMessageProtocol.cpp
  src/protocols/secure_channel/CASESession.cpp
  src/protocols/secure_channel/PASESession.cpp
  src/protocols/secure_channel/PairingSession.cpp
  src/protocols/secure_channel/PairingSession.h
  src/protocols/secure_channel/tests/TestPASESession.cpp
  src/transport/GroupSession.h
  src/transport/SecureSession.cpp
  src/transport/SecureSession.h
  src/transport/Session.h
  src/transport/UnauthenticatedSessionTable.h
Labels: transport, review - approved, messaging, protocols

#30524 Remove WeakEnums for `Color Control Cluster` (and all weakenum handling as a result)
  examples/common/imgui_ui/windows/light.cpp
  examples/common/imgui_ui/windows/light.h
  examples/lighting-app/tizen/src/DBusInterface.cpp
  examples/lighting-app/tizen/src/main.cpp
  examples/thermostat/silabs/src/AppTask.cpp
  examples/tv-app/android/java/AppImpl.h
  examples/tv-app/tv-common/include/AppTv.h
  examples/window-app/silabs/include/LcdPainter.h
  src/app/app-platform/ContentApp.h
  src/app/app-platform/ContentAppPlatform.h
  src/app/clusters/access-control-server/access-control-server.cpp
  src/app/clusters/color-control-server/color-control-server.cpp
  src/app/clusters/color-control-server/color-control-server.h
  src/app/clusters/fan-control-server/fan-control-server.h
  src/app/clusters/laundry-washer-controls-server/laundry-washer-controls-server.cpp
  src/app/clusters/occupancy-sensor-server/occupancy-sensor-server.cpp
  src/app/clusters/operational-credentials-server/operational-credentials-server.cpp
  src/app/clusters/ota-provider/ota-provider-delegate.h
  src/app/clusters/thermostat-server/thermostat-server.cpp
  src/app/clusters/window-covering-server/window-covering-server.h
  src/app/common/templates/config-data.yaml
  src/app/common/templates/templates.json
  src/app/zap-templates/templates/app/cluster-enums-check.zapt
  src/app/zap-templates/templates/app/cluster-enums.zapt
  src/app/zap-templates/templates/app/cluster-objects.zapt
  src/app/zap-templates/templates/app/enums.zapt
  src/app/zap-templates/zcl/data-model/draft/types/color-control.xml
  src/app/zap-templates/zcl/zcl-with-test-extensions.json
  src/app/zap-templates/zcl/zcl.json
  src/controller/CHIPDeviceController.cpp
  src/platform/ESP32/DiagnosticDataProviderImpl.cpp
  src/platform/ESP32/PlatformManagerImpl.cpp
  src/platform/Linux/ConnectivityUtils.cpp
  src/platform/Linux/DiagnosticDataProviderImpl.cpp
  src/platform/Linux/PlatformManagerImpl.cpp
  src/platform/Tizen/ConnectivityUtils.cpp
  src/platform/nxp/common/DiagnosticDataProviderImpl.cpp
  src/platform/nxp/mw320/ConnectivityUtils.cpp
  src/platform/nxp/mw320/DiagnosticDataProviderImpl.cpp
  src/platform/webos/ConnectivityUtils.cpp
  src/platform/webos/DiagnosticDataProviderImpl.cpp
  src/platform/webos/PlatformManagerImpl.cpp
  zzz_generated/app-common/app-common/zap-generated/cluster-enums-check.h
  zzz_generated/app-common/app-common/zap-generated/cluster-enums.h
  zzz_generated/app-common/app-common/zap-generated/cluster-objects.h
  zzz_generated/app-common/app-common/zap-generated/enums.h
Labels: examples, platform, esp32, linux, controller, app, review - approved, tizen

#23404 Add support for WPA3 (SAE) on Linux
  src/platform/Linux/ConnectivityManagerImpl.cpp
Labels: platform, linux, review - approved

#30517 [Scenes] Default Scene Handler Config
  src/app/clusters/color-control-server/color-control-server.cpp
  src/app/clusters/level-control/level-control.cpp
  src/app/clusters/on-off-server/on-off-server.cpp
  src/lib/core/CHIPConfig.h
Labels: lib, app, review - approved, core

#30555 [ICD] Start the ICD in idle
  src/app/icd/ICDManager.cpp
  src/app/icd/ICDManager.h
  src/app/tests/TestICDManager.cpp
Labels: app, review - approved, tests, icd

#30558 Fix DataModel derivation handling and make unit tests run
  scripts/py_matter_idl/BUILD.gn
  scripts/py_matter_idl/matter_idl/data_model_xml/handlers/derivation.py
  scripts/py_matter_idl/matter_idl/test_data_model_xml.py
Labels: scripts, review - approved

#30573 run_zaptool and configure tweaks
  scripts/configure
  scripts/tools/zap/run_zaptool.sh
Labels: scripts, review - approved

#30556 Update `time-format-localization-server.cpp` for somewhat simpler code
  src/app/clusters/time-format-localization-server/time-format-localization-server.cpp
Labels: app, review - pending, fast track
