Repository project-chip/connectedhomeip, pull requests merged in 2023-04, with the labels that each got.

#25933 Allow running individual Darwin CI tests with "-only-testing:MatterTests/*"
  src/darwin/Framework/CHIPTests/MTRBackwardsCompatTests.m
  src/darwin/Framework/CHIPTests/MTRDeviceTests.m
  src/darwin/Framework/CHIPTests/MTRPairingTests.m
  src/darwin/Framework/CHIPTests/MTRXPCListenerSampleTests.m
Labels: darwin, review - pending, fast track

#25900 Adding chip-repl into runner script
  .flake8
  scripts/py_matter_yamltests/matter_yamltests/runner.py
  scripts/tests/chiptest/yamltest_with_chip_repl_tester.py
  scripts/tests/yaml/relative_importer.py
  scripts/tests/yaml/runner.py
  src/controller/python/chip/yaml/runner.py
  src/controller/python/py_matter_yamltest_repl_adapter/matter_yamltest_repl_adapter/__init__.py
  src/controller/python/py_matter_yamltest_repl_adapter/matter_yamltest_repl_adapter/adapter.py
  src/controller/python/py_matter_yamltest_repl_adapter/matter_yamltest_repl_adapter/runner.py
Labels: scripts, controller, review - approved

#25926 [Silabs] fix non SLC build script
  scripts/examples/gn_efr32_example.sh
Labels: scripts, review - approved

#25859 [ESP32] Set default apply update action to proceed
  examples/ota-provider-app/esp32/main/main.cpp
  examples/ota-requestor-app/esp32/README.md
Labels: examples, review - approved

#25648 ESP32: Enable shell command for external platform feature
  config/esp32/components/chip/CMakeLists.txt
  src/lib/shell/BUILD.gn
  src/lib/shell/shell_device.gni
Labels: lib, config, review - approved, shell

#25884 Address WoL issue 25793
  examples/tv-app/linux/BUILD.gn
  examples/tv-app/linux/include/wake-on-lan/WakeOnLanManager.cpp
Labels: examples, review - approved

#25930 Add a test for QueryImage while busy to Darwin OTA CI.
  .github/workflows/darwin.yaml
  src/darwin/Framework/CHIPTests/MTROTAProviderTests.m
Labels: darwin, github, workflows, review - pending, fast track

#25918 [ESP32] Sync BLE error codes with CHIP error codes
  src/platform/ESP32/nimble/BLEManagerImpl.cpp
Labels: platform, esp32, review - approved

#25873 [Ameba] change deletekey return type
  src/platform/Ameba/KeyValueStoreManagerImpl.cpp
Labels: platform, review - approved

#25929 [Silabs] Silabs fix pigweed
  examples/platform/silabs/efr32/uart.cpp
Labels: examples, platform, review - approved

#25945 [Ameba] Update docker image
  integrations/docker/images/chip-build-ameba/Dockerfile
  integrations/docker/images/chip-build/version
Labels: integrations, review - pending, fast track

#25950 [ColorControl] Fix ColorLoop direction update
  src/app/clusters/color-control-server/color-control-server.cpp
Labels: app, review - approved

#25928 Add support for > 1 DUT for TC-DA-1.7
  src/python_testing/TC_DA_1_7.py
  src/python_testing/matter_testing_support.py
Labels: review - pending, fast track

#25905 Fix doorlock. A bunch of types got renamed and this missed that
  examples/chef/common/stubs.cpp
Labels: examples, review - approved

#25895 [ESP32] Fixed lock app crash
  examples/lock-app/esp32/main/AppTask.cpp
Labels: examples, review - approved

#25897 [Silabs]Adds DNS related changes for DIC
  examples/platform/silabs/SiWx917/FreeRTOSConfig.h
  examples/platform/silabs/efr32/FreeRTOSConfig.h
  src/lwip/silabs/lwipopts-rs911x.h
  src/lwip/silabs/lwipopts-wf200.h
  third_party/silabs/efr32_sdk.gni
Labels: examples, platform, review - approved, lwip

#25944 EventManagement buffers optimized
  examples/lighting-app/qpg/include/CHIPProjectConfig.h
  examples/lock-app/qpg/include/CHIPProjectConfig.h
  examples/persistent-storage/qpg/include/CHIPProjectConfig.h
  examples/shell/qpg/include/CHIPProjectConfig.h
  src/platform/qpg/SystemPlatformConfig.h
Labels: examples, platform, review - pending, fast track

#25952 chip-build-android: Use NDK r23c and OpenSSL 1.1.1t
  integrations/docker/images/chip-build-android/Dockerfile
  integrations/docker/images/chip-build/version
Labels: integrations, review - approved

#25927 [Silabs][Siwx917] renaming output file to siwx917
  examples/window-app/silabs/SiWx917/BUILD.gn
Labels: examples, review - approved

#25889 Fix mdns client example shutdown sequence.
  examples/minimal-mdns/client.cpp
Labels: examples, review - approved

#25901 Add a list of clusters that are fully implemented via CommandHandlerInterface.
  scripts/tools/zap/tests/outputs/all-clusters-app/app-templates/IMClusterCommandHandler.cpp
  scripts/tools/zap/tests/outputs/lighting-app/app-templates/IMClusterCommandHandler.cpp
  src/app/clusters/network-commissioning/network-commissioning.cpp
  src/app/common/templates/config-data.yaml
  src/app/zap-templates/templates/app/callback.zapt
  src/app/zap-templates/templates/app/im-cluster-command-handler.zapt
  zzz_generated/app-common/app-common/zap-generated/callback.h
Labels: scripts, app, review - approved

#25941 [Silabs] Removes RS911X legacy socket macro cleanup
  examples/platform/silabs/SiWx917/SiWx917/rsi_if.c
  examples/platform/silabs/efr32/rs911x/rsi_if.c
  examples/platform/silabs/efr32/rs911x/rsi_wlan_config.h
  src/platform/silabs/SiWx917/BUILD.gn
  src/platform/silabs/SiWx917/wifi/lwip_netif.cpp
  src/platform/silabs/SiWx917/wifi/wfx_host_events.h
  src/platform/silabs/efr32/BUILD.gn
  src/platform/silabs/efr32/wifi/lwip_netif.cpp
  src/platform/silabs/efr32/wifi/wfx_host_events.h
  third_party/silabs/SiWx917_sdk.gni
  third_party/silabs/efr32_sdk.gni
  third_party/silabs/silabs_board.gni
Labels: examples, platform, review - approved

#25967 Fix typo: fuzzer should enable fuzzer, not tsan
  scripts/build/build/targets.py
Labels: scripts, fast track

#25935 [esp32] Fix fail to establish CASE connection with ESP32 M5
  examples/lighting-app/esp32/sdkconfig.optimize.defaults
Labels: examples, review - approved

#25968 Make all-clusters be able to fuzz
  examples/all-clusters-app/linux/fuzzing-main.cpp
Labels: examples, review - approved

#25947 Allow generators to override loader paths and loaders
  scripts/py_matter_idl/examples/matter_idl_plugin/__init__.py
  scripts/py_matter_idl/matter_idl/generators/__init__.py
  scripts/py_matter_idl/matter_idl/generators/bridge/__init__.py
  scripts/py_matter_idl/matter_idl/generators/cpp/application/__init__.py
  scripts/py_matter_idl/matter_idl/generators/java/__init__.py
Labels: scripts, review - pending, fast track

#25953 Added build flag to allow/skip building Example Credential files
  src/credentials/BUILD.gn
Labels: build issue, review - approved

#25909 Add documentation from xml into IDL files
  examples/all-clusters-app/all-clusters-common/all-clusters-app.matter
  examples/all-clusters-minimal-app/all-clusters-common/all-clusters-minimal-app.matter
  examples/bridge-app/bridge-common/bridge-app.matter
  examples/chef/devices/noip_rootnode_dimmablelight_bCwGYSDpoe.matter
  examples/chef/devices/rootnode_colortemperaturelight_hbUnzYVeyn.matter
  examples/chef/devices/rootnode_contactsensor_lFAGG1bfRO.matter
  examples/chef/devices/rootnode_dimmablelight_bCwGYSDpoe.matter
  examples/chef/devices/rootnode_doorlock_aNKYAreMXE.matter
  examples/chef/devices/rootnode_extendedcolorlight_8lcaaYJVAa.matter
  examples/chef/devices/rootnode_fan_7N2TobIlOX.matter
  examples/chef/devices/rootnode_flowsensor_1zVxHedlaV.matter
  examples/chef/devices/rootnode_heatingcoolingunit_ncdGai1E5a.matter
  examples/chef/devices/rootnode_humiditysensor_Xyj4gda6Hb.matter
  examples/chef/devices/rootnode_lightsensor_lZQycTFcJK.matter
  examples/chef/devices/rootnode_occupancysensor_iHyVgifZuo.matter
  examples/chef/devices/rootnode_onofflight_bbs1b7IaOV.matter
  examples/chef/devices/rootnode_onofflightswitch_FsPlMr090Q.matter
  examples/chef/devices/rootnode_onoffpluginunit_Wtf8ss5EBY.matter
  examples/chef/devices/rootnode_pressuresensor_s0qC9wLH4k.matter
  examples/chef/devices/rootnode_speaker_RpzeXdimqA.matter
  examples/chef/devices/rootnode_temperaturesensor_Qy1zkNW7c3.matter
  examples/chef/devices/rootnode_thermostat_bm3fb8dhYi.matter
  examples/chef/devices/rootnode_windowcovering_RLCxaGi9Yx.matter
  examples/contact-sensor-app/contact-sensor-common/contact-sensor-app.matter
  examples/dynamic-bridge-app/bridge-common/bridge-app.matter
  examples/light-switch-app/light-switch-common/light-switch-app.matter
  examples/lighting-app/bouffalolab/data_model/lighting-app-thread.matter
  examples/lighting-app/bouffalolab/data_model/lighting-app-wifi.matter
  examples/lighting-app/lighting-common/lighting-app.matter
  examples/lighting-app/nxp/zap/lighting-on-off.matter
  examples/lighting-app/qpg/zap/light.matter
  examples/lighting-app/silabs/SiWx917/data_model/lighting-wifi-app.matter
  examples/lighting-app/silabs/efr32/data_model/lighting-thread-app.matter
  examples/lighting-app/silabs/efr32/data_model/lighting-wifi-app.matter
  examples/lock-app/lock-common/lock-app.matter
  examples/lock-app/nxp/zap/lock-app.matter
  examples/lock-app/qpg/zap/lock.matter
  examples/log-source-app/log-source-common/log-source-app.matter
  examples/ota-provider-app/ota-provider-common/ota-provider-app.matter
  examples/ota-requestor-app/ota-requestor-common/ota-requestor-app.matter
  examples/placeholder/linux/apps/app1/config.matter
  examples/placeholder/linux/apps/app2/config.matter
  examples/pump-app/pump-common/pump-app.matter
  examples/pump-controller-app/pump-controller-common/pump-controller-app.matter
  examples/temperature-measurement-app/temperature-measurement-common/temperature-measurement.matter
  examples/thermostat/thermostat-common/thermostat.matter
  examples/tv-app/tv-common/tv-app.matter
  examples/tv-casting-app/tv-casting-common/tv-casting-app.matter
  examples/window-app/common/window-app.matter
  src/app/zap-templates/partials/idl/command_request_response.zapt
  src/app/zap-templates/templates/app/MatterIDL.zapt
  src/controller/data_model/controller-clusters.matter
Labels: examples, controller, app, review - pending, fast track

#25865 Move CHIPReadCallbacks.h in java codegen from zap to jinja
  scripts/py_matter_idl/matter_idl/generators/java/CHIPReadCallbacks_h.jinja
  scripts/py_matter_idl/matter_idl/generators/java/ChipClustersCpp.jinja
  scripts/py_matter_idl/matter_idl/generators/java/ChipClustersRead.jinja
  scripts/py_matter_idl/matter_idl/generators/java/__init__.py
  scripts/py_matter_idl/matter_idl/tests/available_tests.yaml
  scripts/py_matter_idl/matter_idl/tests/outputs/cluster_struct_attribute/jni/CHIPReadReadCallbacks.h
  scripts/py_matter_idl/matter_idl/tests/outputs/cluster_struct_attribute/jni/DemoClusterClient-InvokeSubscribeImpl.cpp
  scripts/py_matter_idl/matter_idl/tests/outputs/cluster_struct_attribute/jni/DemoClusterClient-ReadImpl.cpp
  scripts/py_matter_idl/matter_idl/tests/outputs/global_struct_attribute/jni/CHIPReadReadCallbacks.h
  scripts/py_matter_idl/matter_idl/tests/outputs/global_struct_attribute/jni/DemoClusterClient-InvokeSubscribeImpl.cpp
  scripts/py_matter_idl/matter_idl/tests/outputs/global_struct_attribute/jni/DemoClusterClient-ReadImpl.cpp
  scripts/py_matter_idl/matter_idl/tests/outputs/optional_argument/jni/CHIPReadReadCallbacks.h
  scripts/py_matter_idl/matter_idl/tests/outputs/optional_argument/jni/MyClusterClient-InvokeSubscribeImpl.cpp
  scripts/py_matter_idl/matter_idl/tests/outputs/optional_argument/jni/MyClusterClient-ReadImpl.cpp
  scripts/py_matter_idl/matter_idl/tests/outputs/several_clusters/jni/CHIPReadReadCallbacks.h
  scripts/py_matter_idl/matter_idl/tests/outputs/several_clusters/jni/FirstClient-InvokeSubscribeImpl.cpp
  scripts/py_matter_idl/matter_idl/tests/outputs/several_clusters/jni/FirstClient-ReadImpl.cpp
  scripts/py_matter_idl/matter_idl/tests/outputs/several_clusters/jni/SecondClient-InvokeSubscribeImpl.cpp
  scripts/py_matter_idl/matter_idl/tests/outputs/several_clusters/jni/SecondClient-ReadImpl.cpp
  scripts/py_matter_idl/matter_idl/tests/outputs/several_clusters/jni/ThirdClient-InvokeSubscribeImpl.cpp
  scripts/py_matter_idl/matter_idl/tests/outputs/several_clusters/jni/ThirdClient-ReadImpl.cpp
  scripts/py_matter_idl/matter_idl/tests/outputs/simple_attribute/jni/CHIPReadReadCallbacks.h
  scripts/py_matter_idl/matter_idl/tests/outputs/simple_attribute/jni/MyClusterClient-InvokeSubscribeImpl.cpp
  scripts/py_matter_idl/matter_idl/tests/outputs/simple_attribute/jni/MyClusterClient-ReadImpl.cpp
  src/controller/data_model/BUILD.gn
  src/controller/java/BUILD.gn
  src/controller/java/templates/CHIPClustersWrite-JNI.zapt
  src/controller/java/templates/CHIPReadCallbacks-src.zapt
  src/controller/java/templates/CHIPReadCallbacks.zapt
  src/controller/java/templates/templates.json
  src/controller/java/zap-generated/CHIPClustersWrite-JNI.cpp
  src/controller/java/zap-generated/CHIPReadCallbacks.cpp
  src/controller/java/zap-generated/CHIPReadCallbacks.h
Labels: scripts, controller, review - pending, fast track

#25857 Don't modify global git safe.directory config outside of CI
  .github/workflows/build.yaml
  .github/workflows/chef.yaml
  .github/workflows/cirque.yaml
  .github/workflows/darwin-tests.yaml
  .github/workflows/darwin.yaml
  .github/workflows/examples-ameba.yaml
  .github/workflows/examples-bouffalolab.yaml
  .github/workflows/examples-cc13x2x7_26x2x7.yaml
  .github/workflows/examples-cc32xx.yaml
  .github/workflows/examples-efr32.yaml
  .github/workflows/examples-esp32.yaml
  .github/workflows/examples-infineon.yaml
  .github/workflows/examples-k32w.yaml
  .github/workflows/examples-linux-arm.yaml
  .github/workflows/examples-linux-imx.yaml
  .github/workflows/examples-linux-standalone.yaml
  .github/workflows/examples-mbed.yaml
  .github/workflows/examples-mw320.yaml
  .github/workflows/examples-nrfconnect.yaml
  .github/workflows/examples-openiotsdk.yaml
  .github/workflows/examples-qpg.yaml
  .github/workflows/examples-telink.yaml
  .github/workflows/examples-tizen.yaml
  .github/workflows/full-android.yaml
  .github/workflows/lint.yml
  .github/workflows/qemu.yaml
  .github/workflows/smoketest-android.yaml
  .github/workflows/smoketest-darwin.yaml
  .github/workflows/tests.yaml
  .github/workflows/unit_integration_test.yaml
  .github/workflows/zap_regeneration.yaml
  .github/workflows/zap_templates.yaml
  examples/chef/README.md
  integrations/docker/images/chip-cert-bins/Dockerfile
  scripts/build/gn_gen_cirque.sh
  scripts/checkout_submodules.py
Labels: examples, scripts, integrations, github, workflows, review - approved

#25980 Fix vscode docker image for NDK bump (#25952)
  integrations/docker/images/chip-build-vscode/Dockerfile
Labels: review - pending, fast track

#25979 [Ameba] Fix pigweed build
  examples/all-clusters-app/ameba/chip_main.cmake
  examples/light-switch-app/ameba/chip_main.cmake
  examples/lighting-app/ameba/chip_main.cmake
  examples/pigweed-app/ameba/chip_main.cmake
Labels: examples, review - pending, fast track

#25939 Use -fmacro-prefix-map to tidy up CHIPError source file names
  .github/workflows/smoketest-android.yaml
  src/BUILD.gn
  src/darwin/Framework/CHIPTests/MTRErrorTests.m
  src/darwin/Framework/Matter.xcodeproj/project.pbxproj
  src/lib/core/tests/TestCHIPErrorStr.cpp
Labels: darwin, lib, github, workflows, review - approved, core

#25892 [Android] Add Endpoint Number in Fragment
  examples/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/clusterclient/AddressUpdateFragment.kt
  examples/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/clusterclient/BasicClientFragment.kt
  examples/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/clusterclient/OnOffClientFragment.kt
  examples/android/CHIPTool/app/src/main/res/layout/address_update_fragment.xml
Labels: examples, review - approved

#25940 Switch to Telink Zephyr main branch (get rid of maintaining special Zephyr branch)
  .github/workflows/examples-telink.yaml
  config/telink/app/zephyr.conf
  config/telink/chip-module/Kconfig
  examples/lighting-app/telink/prj.conf
  examples/temperature-measurement-app/telink/prj.conf
  examples/window-app/telink/prj.conf
  src/platform/telink/BLEManagerImpl.cpp
  src/platform/telink/BLEManagerImpl.h
  src/platform/telink/BUILD.gn
  src/platform/telink/ThreadStackManagerImpl.cpp
  src/platform/telink/ThreadStackManagerImpl.h
Labels: examples, platform, config, github, workflows, review - approved, telink

#25972 tv-casting-app: Implementing FabricDelegate to update cache on FabricIndex removal
  examples/tv-casting-app/tv-casting-common/include/PersistenceManager.h
  examples/tv-casting-app/tv-casting-common/include/TargetVideoPlayerInfo.h
  examples/tv-casting-app/tv-casting-common/src/CastingServer.cpp
  examples/tv-casting-app/tv-casting-common/src/PersistenceManager.cpp
  examples/tv-casting-app/tv-casting-common/src/TargetVideoPlayerInfo.cpp
Labels: examples, review - approved, tv-casting

#25976 android/tv-casting-app: Adding ConfigurationManager as AppParameter
  examples/tv-casting-app/android/App/app/src/main/java/com/chip/casting/app/MainActivity.java
  examples/tv-casting-app/android/App/app/src/main/java/com/chip/casting/util/PreferencesConfigurationManager.java
  examples/tv-casting-app/android/App/app/src/main/jni/com/chip/casting/AppParameters.java
  examples/tv-casting-app/android/App/app/src/main/jni/com/chip/casting/TvCastingApp.java
Labels: examples, review - approved, tv-casting

#25983 Make Darwin HostNameRegistrar safer to use.
  src/platform/Darwin/DnssdHostNameRegistrar.cpp
  src/platform/Darwin/DnssdHostNameRegistrar.h
  src/platform/Darwin/DnssdImpl.cpp
  src/platform/Darwin/MdnsError.cpp
Labels: platform, darwin, review - pending, fast track

#25948 Make matter IDL generate more cases where attributes have default values
  examples/all-clusters-app/all-clusters-common/all-clusters-app.matter
  examples/all-clusters-minimal-app/all-clusters-common/all-clusters-minimal-app.matter
  examples/bridge-app/bridge-common/bridge-app.matter
  examples/chef/devices/noip_rootnode_dimmablelight_bCwGYSDpoe.matter
  examples/chef/devices/rootnode_colortemperaturelight_hbUnzYVeyn.matter
  examples/chef/devices/rootnode_contactsensor_lFAGG1bfRO.matter
  examples/chef/devices/rootnode_dimmablelight_bCwGYSDpoe.matter
  examples/chef/devices/rootnode_doorlock_aNKYAreMXE.matter
  examples/chef/devices/rootnode_extendedcolorlight_8lcaaYJVAa.matter
  examples/chef/devices/rootnode_fan_7N2TobIlOX.matter
  examples/chef/devices/rootnode_flowsensor_1zVxHedlaV.matter
  examples/chef/devices/rootnode_heatingcoolingunit_ncdGai1E5a.matter
  examples/chef/devices/rootnode_humiditysensor_Xyj4gda6Hb.matter
  examples/chef/devices/rootnode_lightsensor_lZQycTFcJK.matter
  examples/chef/devices/rootnode_occupancysensor_iHyVgifZuo.matter
  examples/chef/devices/rootnode_onofflight_bbs1b7IaOV.matter
  examples/chef/devices/rootnode_onofflightswitch_FsPlMr090Q.matter
  examples/chef/devices/rootnode_onoffpluginunit_Wtf8ss5EBY.matter
  examples/chef/devices/rootnode_pressuresensor_s0qC9wLH4k.matter
  examples/chef/devices/rootnode_speaker_RpzeXdimqA.matter
  examples/chef/devices/rootnode_temperaturesensor_Qy1zkNW7c3.matter
  examples/chef/devices/rootnode_thermostat_bm3fb8dhYi.matter
  examples/chef/devices/rootnode_windowcovering_RLCxaGi9Yx.matter
  examples/contact-sensor-app/contact-sensor-common/contact-sensor-app.matter
  examples/dynamic-bridge-app/bridge-common/bridge-app.matter
  examples/light-switch-app/light-switch-common/light-switch-app.matter
  examples/lighting-app/bouffalolab/data_model/lighting-app-thread.matter
  examples/lighting-app/bouffalolab/data_model/lighting-app-wifi.matter
  examples/lighting-app/lighting-common/lighting-app.matter
  examples/lighting-app/nxp/zap/lighting-on-off.matter
  examples/lighting-app/qpg/zap/light.matter
  examples/lighting-app/silabs/SiWx917/data_model/lighting-wifi-app.matter
  examples/lighting-app/silabs/efr32/data_model/lighting-thread-app.matter
  examples/lighting-app/silabs/efr32/data_model/lighting-wifi-app.matter
  examples/lock-app/lock-common/lock-app.matter
  examples/lock-app/nxp/zap/lock-app.matter
  examples/lock-app/qpg/zap/lock.matter
  examples/log-source-app/log-source-common/log-source-app.matter
  examples/ota-provider-app/ota-provider-common/ota-provider-app.matter
  examples/ota-requestor-app/ota-requestor-common/ota-requestor-app.matter
  examples/placeholder/linux/apps/app1/config.matter
  examples/placeholder/linux/apps/app2/config.matter
  examples/pump-app/pump-common/pump-app.matter
  examples/pump-controller-app/pump-controller-common/pump-controller-app.matter
  examples/temperature-measurement-app/temperature-measurement-common/temperature-measurement.matter
  examples/thermostat/thermostat-common/thermostat.matter
  examples/tv-app/tv-common/tv-app.matter
  examples/tv-casting-app/tv-casting-common/tv-casting-app.matter
  examples/window-app/common/window-app.matter
  src/app/zap-templates/templates/app/MatterIDL.zapt
Labels: examples, app, review - pending, fast track

#25992 Update docker image version for full-android workflow
  .github/workflows/full-android.yaml
  integrations/cloudbuild/build-all.yaml
  integrations/cloudbuild/chef.yaml
  integrations/cloudbuild/smoke-test.yaml
Labels: integrations, github, workflows, review - approved

#25802 [ESP32] SecureCertDACProvider implementation to read attestation info from esp_secur…
  .github/.wordlist.txt
  config/esp32/components/chip/CMakeLists.txt
  config/esp32/components/chip/Kconfig
  config/esp32/components/chip/idf_component.yml
  docs/guides/esp32/README.md
  docs/guides/esp32/secure_cert_partition.md
  examples/lighting-app/esp32/main/main.cpp
  examples/lighting-app/esp32/partitions.csv
  examples/lighting-app/esp32/sdkconfig.defaults
  src/platform/ESP32/BUILD.gn
  src/platform/ESP32/ESP32SecureCertDACProvider.cpp
  src/platform/ESP32/ESP32SecureCertDACProvider.h
Labels: documentation, examples, platform, esp32, config, review - approved

#25994 Allowing for CHIP_DEVICE_CONFIG_MAX_DISCOVERED_IP_ADDRESSES to be set in build args
  examples/tv-casting-app/android/args.gni
  examples/tv-casting-app/darwin/MatterTvCastingBridge/MatterTvCastingBridge/ConversionUtils.mm
  examples/tv-casting-app/darwin/args.gni
  examples/tv-casting-app/linux/args.gni
  src/lib/dnssd/Resolver.h
  src/platform/BUILD.gn
Labels: examples, platform, lib, review - approved, tv-casting

#25981 [Silabs] WiFi 917SoC including header file
  examples/platform/silabs/SiWx917/LEDWidget.h
  src/platform/silabs/efr32/BUILD.gn
  third_party/silabs/efr32_sdk.gni
Labels: examples, platform, review - approved

#25965 Fix example bridge reads of integer attributes of size > 1 byte.
  examples/bridge-app/esp32/main/main.cpp
  examples/bridge-app/linux/main.cpp
Labels: examples, review - approved

#25985 Improve the documentation for emberAfFindClusterServerEndpointIndex.
  src/app/util/af.h
Labels: review - approved

#26005 Fix Darwin framework operational advertising for new fabrics.
  src/darwin/Framework/CHIP/MTRDeviceController.mm
  src/darwin/Framework/CHIP/MTRDeviceControllerFactory.mm
  src/darwin/Framework/CHIP/MTRDeviceControllerStartupParams.mm
  src/darwin/Framework/CHIP/MTRDeviceControllerStartupParams_Internal.h
Labels: review - pending, fast track

#26006 Fix build of darwin-framework-tool with progress logging disabled.
  examples/darwin-framework-tool/commands/pairing/GetCommissionerNodeIdCommand.mm
  examples/darwin-framework-tool/commands/payload/SetupPayloadParseCommand.mm
Labels: examples, darwin, review - pending, fast track

#25973 Fix CGEN 2.4 and add to the CI
  .github/workflows/tests.yaml
  src/python_testing/TC_CGEN_2_4.py
Labels: github, workflows, review - pending, fast track

#25828 Fix order logic in no-codegen-expected check
  .github/workflows/build.yaml
  .github/workflows/examples-esp32.yaml
  scripts/setup/requirements.esp32.txt
Labels: scripts, github, workflows, review - pending, fast track

#26007 Fix typo when checking cirque cache save action
  integrations/docker/ci-only-images/chip-cirque-device-base/build.sh
  scripts/tests/cirque_tests.sh
Labels: scripts, integrations, review - approved

#25998 [chip-tool] Remove examples/chip-tool/commands/pairing/CommissionedLi…
  examples/chip-tool/BUILD.gn
  examples/chip-tool/commands/pairing/Commands.h
  examples/chip-tool/commands/pairing/CommissionedListCommand.cpp
  examples/chip-tool/commands/pairing/CommissionedListCommand.h
Labels: tools, examples, review - approved

#26004 Fix restart of controllers that use fabric table storage.
  src/controller/CHIPDeviceController.cpp
  src/controller/CHIPDeviceController.h
  src/controller/CHIPDeviceControllerFactory.cpp
  src/controller/CHIPDeviceControllerFactory.h
  src/darwin/Framework/CHIP/MTRDeviceController.mm
  src/darwin/Framework/CHIPTests/MTRControllerTests.m
  src/darwin/Framework/CHIPTests/MTRTestStorage.h
  src/darwin/Framework/CHIPTests/MTRTestStorage.m
Labels: darwin, controller, review - approved

#26009 tv-casting-app Zap config updates
  examples/tv-casting-app/tv-casting-common/include/CHIPProjectAppConfig.h
  examples/tv-casting-app/tv-casting-common/tv-casting-app.matter
  examples/tv-casting-app/tv-casting-common/tv-casting-app.zap
Labels: examples, review - approved, tv-casting

#25990 tv-casting-app: Decouple setDAC* API from tv-casting initialization
  examples/tv-casting-app/android/App/app/src/main/java/com/chip/casting/app/MainActivity.java
  examples/tv-casting-app/android/App/app/src/main/java/com/chip/casting/util/DACProviderStub.java
  examples/tv-casting-app/android/App/app/src/main/jni/com/chip/casting/AppParameters.java
  examples/tv-casting-app/android/App/app/src/main/jni/com/chip/casting/TvCastingApp.java
  examples/tv-casting-app/android/App/app/src/main/jni/cpp/TvCastingApp-JNI.cpp
  examples/tv-casting-app/android/BUILD.gn
  examples/tv-casting-app/android/README.md
  examples/tv-casting-app/darwin/MatterTvCastingBridge/MatterTvCastingBridge/AppParameters.h
  examples/tv-casting-app/darwin/MatterTvCastingBridge/MatterTvCastingBridge/CastingServerBridge.h
  examples/tv-casting-app/darwin/MatterTvCastingBridge/MatterTvCastingBridge/CastingServerBridge.mm
  examples/tv-casting-app/darwin/MatterTvCastingBridge/MatterTvCastingBridge/DeviceAttestationCredentialsHolder.h
  examples/tv-casting-app/darwin/MatterTvCastingBridge/MatterTvCastingBridge/DeviceAttestationCredentialsHolder.m
  examples/tv-casting-app/darwin/TvCasting/TvCasting.xcodeproj/project.pbxproj
  examples/tv-casting-app/darwin/TvCasting/TvCasting/CommissioningViewModel.swift
  examples/tv-casting-app/darwin/TvCasting/TvCasting/ExampleDAC.swift
  examples/tv-casting-app/darwin/args.gni
Labels: examples, review - approved, tv-casting

#25978 Deprecating stateful helpers with stateless ones
  examples/chip-tool/templates/logging/DataModelLogger-src.zapt
  integrations/docker/images/chip-cert-bins/Dockerfile
  scripts/setup/zap.json
  scripts/tools/zap/zap_execution.py
  src/app/zap-templates/templates/app/CHIPClientCallbacks.zapt
  src/app/zap-templates/templates/app/CHIPClusters.zapt
  src/app/zap-templates/templates/app/access.zapt
  src/controller/java/templates/CHIPClustersWrite-JNI.zapt
  src/controller/java/templates/CHIPInvokeCallbacks.zapt
  src/controller/java/templates/CHIPReadCallbacks-src.zapt
  src/controller/java/templates/ChipClusters-java.zapt
  src/controller/java/templates/ChipEventStructs-java.zapt
  src/controller/java/templates/ChipIdLookup-java.zapt
  src/controller/java/templates/ChipStructs-java.zapt
  src/controller/java/templates/ClusterInfo-java.zapt
Labels: tools, examples, scripts, integrations, controller, app, review - approved

#25962 ESP32: Add menuconfig to use Thread for non-matter task.
  config/esp32/components/chip/CMakeLists.txt
  config/esp32/components/chip/Kconfig
  src/platform/ESP32/CHIPDevicePlatformConfig.h
Labels: platform, esp32, config, review - approved

#26011 Better logging when converting unknown NSError to CHIP_ERROR.
  src/darwin/Framework/CHIP/MTRError.mm
Labels: darwin, review - pending, fast track

#25991 Add operational resolution retries in OperationalSessionSetup.
  src/app/OperationalSessionSetup.cpp
  src/app/OperationalSessionSetup.h
Labels: app, review - approved

#26018 Fix space characters in commands listed in README.md files that were a problem for Linux users
  examples/light-switch-app/silabs/SiWx917/README.md
  examples/light-switch-app/silabs/efr32/README.md
  examples/lighting-app/silabs/SiWx917/README.md
  examples/lighting-app/silabs/efr32/README.md
  examples/lock-app/silabs/SiWx917/README.md
  examples/lock-app/silabs/efr32/README.md
  examples/thermostat/silabs/efr32/README.md
Labels: examples, review - approved

#25982 [Silabs] Adds fix for scan failure during commissioning flow
  examples/platform/silabs/SiWx917/SiWx917/rsi_if.c
  examples/platform/silabs/efr32/rs911x/rsi_if.c
Labels: examples, platform, review - approved

#26022 Enable TV Casting App Example to using Hardware-backed keys For DAC
  examples/tv-app/android/java/JNIDACProvider.cpp
  examples/tv-app/android/java/JNIDACProvider.h
  examples/tv-app/android/java/src/com/matter/tv/server/tvapp/DACProvider.java
  examples/tv-app/android/java/src/com/matter/tv/server/tvapp/DACProviderStub.java
  examples/tv-casting-app/android/App/app/src/main/java/com/chip/casting/util/DACProviderStub.java
  examples/tv-casting-app/android/App/app/src/main/jni/com/chip/casting/DACProvider.java
  examples/tv-casting-app/android/App/app/src/main/jni/cpp/JNIDACProvider.cpp
  examples/tv-casting-app/android/App/app/src/main/jni/cpp/JNIDACProvider.h
  examples/tv-casting-app/darwin/MatterTvCastingBridge/MatterTvCastingBridge/CastingServerBridge.mm
  examples/tv-casting-app/darwin/MatterTvCastingBridge/MatterTvCastingBridge/DeviceAttestationCredentialsHolder.h
  examples/tv-casting-app/darwin/MatterTvCastingBridge/MatterTvCastingBridge/DeviceAttestationCredentialsHolder.m
  examples/tv-casting-app/darwin/MatterTvCastingBridge/MatterTvCastingBridge/DeviceAttestationCredentialsProviderImpl.hpp
  examples/tv-casting-app/darwin/MatterTvCastingBridge/MatterTvCastingBridge/DeviceAttestationCredentialsProviderImpl.mm
  examples/tv-casting-app/darwin/TvCasting/TvCasting/ExampleDAC.swift
Labels: examples, review - approved

#26036 Update the simulated app to build with common Matter Config.
  examples/placeholder/linux/args.gni
  examples/placeholder/linux/include/CHIPProjectConfig.h
Labels: examples, review - approved

#26035 Add a Darwin API to parse the CSR out of a nocsr-elements.
  src/darwin/Framework/CHIP/MTRCSRInfo.h
  src/darwin/Framework/CHIP/MTRCSRInfo.mm
  src/darwin/Framework/CHIP/MTROperationalCertificateIssuer.h
  src/darwin/Framework/CHIP/MTROperationalCredentialsDelegate.mm
  src/darwin/Framework/CHIPTests/MTROperationalCertificateIssuerTests.m
Labels: darwin, review - pending, fast track

#25902 [Silabs][SiWx917] Fixing uart to read only once
  examples/platform/silabs/SiWx917/uart.cpp
  src/lib/shell/BUILD.gn
  src/lib/shell/MainLoopSilabs.cpp
  src/lib/shell/streamer_silabs.cpp
Labels: examples, platform, lib, review - approved, shell

#26039 Stop trying to remove persisted subscriptions when we can't have any.
  src/app/ReadHandler.cpp
Labels: app, review - approved

#26024 Fix shutdown ordering in TestDnssd.
  src/platform/tests/TestDnssd.cpp
Labels: review - approved

#26042 [Infineon] Fix for successorexit return error for PSoC6 platform
  src/platform/Infineon/PSOC6/ConnectivityManagerImpl.cpp
  src/platform/Infineon/PSOC6/DiagnosticDataProviderImpl.cpp
Labels: platform, review - approved

#26015 [ESP32] Simplifies SimpleNamespace creation for generating factory partition with and without encryption
  scripts/tools/generate_esp32_chip_factory_bin.py
Labels: scripts, review - approved

#26038 Add a way to specify CASE Authenticated Tags in MTRDeviceControllerStartupParams
  src/darwin/Framework/CHIP/MTRCertificates.h
  src/darwin/Framework/CHIP/MTRDeviceController.mm
  src/darwin/Framework/CHIP/MTRDeviceControllerStartupParams.h
  src/darwin/Framework/CHIP/MTRDeviceControllerStartupParams.mm
  src/darwin/Framework/CHIPTests/MTRControllerTests.m
Labels: review - approved

#26010 Add new configs for OSS-Fuzz build
  build/chip/fuzz_test.gni
  build/config/compiler/BUILD.gn
  build/config/compiler/compiler.gni
  build/config/linux/pkg_config.gni
Labels: gn, review - approved

#25995 Make Group Id follow the SPEC
  src/app/clusters/groups-server/groups-server.cpp
  src/credentials/tests/TestGroupDataProvider.cpp
  src/lib/core/GroupId.h
Labels: lib, app, review - approved, core

#25954 update ci to 0.7.0
  .devcontainer/devcontainer.json
  .github/workflows/bloat_check.yaml
  .github/workflows/build.yaml
  .github/workflows/chef.yaml
  .github/workflows/cirque.yaml
  .github/workflows/doxygen.yaml
  .github/workflows/examples-ameba.yaml
  .github/workflows/examples-bouffalolab.yaml
  .github/workflows/examples-cc13x2x7_26x2x7.yaml
  .github/workflows/examples-cc32xx.yaml
  .github/workflows/examples-efr32.yaml
  .github/workflows/examples-esp32.yaml
  .github/workflows/examples-infineon.yaml
  .github/workflows/examples-k32w.yaml
  .github/workflows/examples-linux-arm.yaml
  .github/workflows/examples-linux-imx.yaml
  .github/workflows/examples-linux-standalone.yaml
  .github/workflows/examples-mbed.yaml
  .github/workflows/examples-mw320.yaml
  .github/workflows/examples-nrfconnect.yaml
  .github/workflows/examples-openiotsdk.yaml
  .github/workflows/examples-qpg.yaml
  .github/workflows/examples-tizen.yaml
  .github/workflows/fuzzing-build.yaml
  .github/workflows/qemu.yaml
  .github/workflows/release_artifacts.yaml
  .github/workflows/tests.yaml
  .github/workflows/unit_integration_test.yaml
  .github/workflows/zap_regeneration.yaml
  .github/workflows/zap_templates.yaml
  src/platform/Ameba/NetworkCommissioningWiFiDriver.cpp
Labels: platform, vscode, github, workflows, review - approved

#25917 [QPG] Small fix to avoid calling KVS init twice
  src/platform/qpg/qpgConfig.cpp
Labels: platform, qpg, review - approved

#25860 Allow target value updates to be skipped
  docs/ERROR_CODES.md
  src/app/clusters/window-covering-server/window-covering-server.cpp
  src/lib/core/CHIPError.cpp
  src/lib/core/CHIPError.h
  src/lib/core/tests/TestCHIPErrorStr.cpp
Labels: documentation, lib, app, review - approved, core

#25798 [Telink] Add Bridge example app demo
  .github/workflows/examples-telink.yaml
  .vscode/tasks.json
  examples/bridge-app/telink/.gitignore
  examples/bridge-app/telink/CMakeLists.txt
  examples/bridge-app/telink/README.md
  examples/bridge-app/telink/include/AppConfig.h
  examples/bridge-app/telink/include/AppEvent.h
  examples/bridge-app/telink/include/AppTask.h
  examples/bridge-app/telink/include/CHIPProjectConfig.h
  examples/bridge-app/telink/include/Device.h
  examples/bridge-app/telink/prj.conf
  examples/bridge-app/telink/src/AppTask.cpp
  examples/bridge-app/telink/src/Device.cpp
  examples/bridge-app/telink/src/DeviceCallbacks.cpp
  examples/bridge-app/telink/src/ZclCallbacks.cpp
  examples/bridge-app/telink/src/main.cpp
  examples/bridge-app/telink/third_party/connectedhomeip
  scripts/build/build/targets.py
  scripts/build/builders/telink.py
  scripts/build/testdata/all_targets_linux_x64.txt
Labels: examples, scripts, vscode, github, workflows, review - approved

#25645 [Android] Fix Commissionable Discover Issue
  src/platform/android/java/chip/platform/NsdServiceFinderAndResolver.java
Labels: platform, review - approved

#26056 Fix cannot read diagnostics Events from all-clusters-app
  examples/all-clusters-app/linux/AllClustersCommandDelegate.cpp
Labels: examples, review - approved

#26057 Add a lint for SuccessOrExit(CHIP_ERROR_*).
  .github/workflows/lint.yml
Labels: github, workflows, review - approved

#26017 [chiptool.py] Forward extra parameters to the runner
  scripts/tests/yaml/chiptool.py
Labels: scripts, review - approved

#25996 [Ameba] fix ota init bug
  examples/all-clusters-app/ameba/main/DeviceCallbacks.cpp
  examples/light-switch-app/ameba/main/DeviceCallbacks.cpp
  examples/lighting-app/ameba/main/DeviceCallbacks.cpp
  examples/ota-requestor-app/ameba/main/DeviceCallbacks.cpp
Labels: examples, review - approved

#25937 [Ameba] use example test provider if fail to read factorydata
  config/ameba/chip.cmake
  examples/all-clusters-app/ameba/main/CHIPDeviceManager.cpp
  examples/all-clusters-app/ameba/main/chipinterface.cpp
  examples/light-switch-app/ameba/main/CHIPDeviceManager.cpp
  examples/light-switch-app/ameba/main/chipinterface.cpp
  examples/lighting-app/ameba/main/CHIPDeviceManager.cpp
  examples/lighting-app/ameba/main/chipinterface.cpp
  examples/ota-requestor-app/ameba/main/CHIPDeviceManager.cpp
  examples/ota-requestor-app/ameba/main/chipinterface.cpp
Labels: examples, config, review - approved

#25936 [Android] Fix to avoid NewStringUTF crash
  src/controller/java/templates/partials/decode_value.zapt
  src/controller/java/zap-generated/CHIPAttributeTLVValueDecoder.cpp
  src/controller/java/zap-generated/CHIPEventTLVValueDecoder.cpp
  src/controller/java/zap-generated/CHIPInvokeCallbacks.cpp
  src/controller/java/zap-generated/CHIPReadCallbacks.cpp
  src/lib/support/JniReferences.cpp
  src/lib/support/JniReferences.h
Labels: lib, controller, review - approved, support

#26016 Bug/deprecate miscellaneous stateful helpers/zap#682
  examples/all-clusters-app/all-clusters-common/all-clusters-app.matter
  examples/all-clusters-minimal-app/all-clusters-common/all-clusters-minimal-app.matter
  examples/bridge-app/bridge-common/bridge-app.matter
  examples/chef/devices/noip_rootnode_dimmablelight_bCwGYSDpoe.matter
  examples/chef/devices/rootnode_colortemperaturelight_hbUnzYVeyn.matter
  examples/chef/devices/rootnode_contactsensor_lFAGG1bfRO.matter
  examples/chef/devices/rootnode_dimmablelight_bCwGYSDpoe.matter
  examples/chef/devices/rootnode_doorlock_aNKYAreMXE.matter
  examples/chef/devices/rootnode_extendedcolorlight_8lcaaYJVAa.matter
  examples/chef/devices/rootnode_fan_7N2TobIlOX.matter
  examples/chef/devices/rootnode_flowsensor_1zVxHedlaV.matter
  examples/chef/devices/rootnode_heatingcoolingunit_ncdGai1E5a.matter
  examples/chef/devices/rootnode_humiditysensor_Xyj4gda6Hb.matter
  examples/chef/devices/rootnode_lightsensor_lZQycTFcJK.matter
  examples/chef/devices/rootnode_occupancysensor_iHyVgifZuo.matter
  examples/chef/devices/rootnode_onofflight_bbs1b7IaOV.matter
  examples/chef/devices/rootnode_onofflightswitch_FsPlMr090Q.matter
  examples/chef/devices/rootnode_onoffpluginunit_Wtf8ss5EBY.matter
  examples/chef/devices/rootnode_pressuresensor_s0qC9wLH4k.matter
  examples/chef/devices/rootnode_speaker_RpzeXdimqA.matter
  examples/chef/devices/rootnode_temperaturesensor_Qy1zkNW7c3.matter
  examples/chef/devices/rootnode_thermostat_bm3fb8dhYi.matter
  examples/chef/devices/rootnode_windowcovering_RLCxaGi9Yx.matter
  examples/contact-sensor-app/contact-sensor-common/contact-sensor-app.matter
  examples/dynamic-bridge-app/bridge-common/bridge-app.matter
  examples/light-switch-app/light-switch-common/light-switch-app.matter
  examples/lighting-app/bouffalolab/data_model/lighting-app-thread.matter
  examples/lighting-app/bouffalolab/data_model/lighting-app-wifi.matter
  examples/lighting-app/lighting-common/lighting-app.matter
  examples/lighting-app/nxp/zap/lighting-on-off.matter
  examples/lighting-app/qpg/zap/light.matter
  examples/lighting-app/silabs/SiWx917/data_model/lighting-wifi-app.matter
  examples/lighting-app/silabs/efr32/data_model/lighting-thread-app.matter
  examples/lighting-app/silabs/efr32/data_model/lighting-wifi-app.matter
  examples/lock-app/lock-common/lock-app.matter
  examples/lock-app/nxp/zap/lock-app.matter
  examples/lock-app/qpg/zap/lock.matter
  examples/log-source-app/log-source-common/log-source-app.matter
  examples/ota-provider-app/ota-provider-common/ota-provider-app.matter
  examples/ota-requestor-app/ota-requestor-common/ota-requestor-app.matter
  examples/placeholder/linux/apps/app1/config.matter
  examples/placeholder/linux/apps/app2/config.matter
  examples/pump-app/pump-common/pump-app.matter
  examples/pump-controller-app/pump-controller-common/pump-controller-app.matter
  examples/temperature-measurement-app/temperature-measurement-common/temperature-measurement.matter
  examples/thermostat/thermostat-common/thermostat.matter
  examples/tv-app/tv-common/tv-app.matter
  examples/tv-casting-app/tv-casting-common/tv-casting-app.matter
  examples/window-app/common/window-app.matter
  src/app/zap-templates/templates/app/MatterIDL.zapt
  src/controller/data_model/controller-clusters.matter
Labels: examples, controller, app, review - approved

#26071 Fix ZAP CI job.
  examples/lighting-app/bouffalolab/data_model/lighting-app-wifi.matter
Labels: examples, hotfix, review - pending, fast track

#25849 SceneTable functionnalities
  src/app/clusters/scenes/ExtensionFieldSetsImpl.cpp
  src/app/clusters/scenes/SceneTable.h
  src/app/clusters/scenes/SceneTableImpl.cpp
  src/app/clusters/scenes/SceneTableImpl.h
  src/app/tests/TestSceneTable.cpp
  src/lib/support/DefaultStorageKeyAllocator.h
  src/lib/support/PersistentData.h
Labels: lib, app, review - approved, tests, support

#26070 Fix leak when shutting down a controller with pending session setups.
  src/app/OperationalSessionSetup.cpp
  src/app/OperationalSessionSetup.h
Labels: app, review - approved

#26074 [Silabs] Fix tilt open limit
  examples/window-app/silabs/SiWx917/include/AppConfig.h
  examples/window-app/silabs/efr32/include/AppConfig.h
Labels: examples, review - approved

#26085 Make CHEF DimmableLight be spec compliant (or at least pass linter)
  .github/workflows/lint.yml
  examples/chef/devices/noip_rootnode_dimmablelight_bCwGYSDpoe.matter
  examples/chef/devices/noip_rootnode_dimmablelight_bCwGYSDpoe.zap
  examples/chef/devices/rootnode_dimmablelight_bCwGYSDpoe.matter
  examples/chef/devices/rootnode_dimmablelight_bCwGYSDpoe.zap
Labels: examples, github, workflows, review - pending, fast track

#25977 [Silabs] : Cleanup and applying coding guideline on Silabs code
  examples/platform/silabs/SiWx917/BUILD.gn
  examples/platform/silabs/SiWx917/SiWx917/hal/rsi_hal.h
  examples/platform/silabs/SiWx917/SiWx917/rsi_if.c
  examples/platform/silabs/SiWx917/SiWx917/wfx_rsi.h
  examples/platform/silabs/SiWx917/SiWx917/wfx_rsi_host.c
  examples/platform/silabs/SiWx917/SiWx917/wfx_rsidev.c
  examples/platform/silabs/efr32/rs911x/hal/efx_spi.c
  examples/platform/silabs/efr32/rs911x/hal/rsi_hal.h
  examples/platform/silabs/efr32/rs911x/hal/rsi_hal_mcu_interrupt.c
  examples/platform/silabs/efr32/rs911x/rsi_if.c
  examples/platform/silabs/efr32/rs911x/wfx_rsi.h
  examples/platform/silabs/efr32/rs911x/wfx_rsi_host.c
  examples/platform/silabs/efr32/rs911x/wfx_rsidev.c
  src/platform/silabs/SiWx917/BLEManagerImpl.cpp
  src/platform/silabs/SiWx917/bluetooth/rsi_ble_config.h
  src/platform/silabs/SiWx917/bluetooth/wfx_sl_ble_init.c
  src/platform/silabs/SiWx917/bluetooth/wfx_sl_ble_init.h
  src/platform/silabs/SiWx917/wifi/dhcp_client.cpp
  src/platform/silabs/SiWx917/wifi/dhcp_client.h
  src/platform/silabs/SiWx917/wifi/wfx_host_events.h
  src/platform/silabs/SiWx917/wifi/wfx_msgs.h
  src/platform/silabs/SiWx917/wifi/wifi_config.h
  src/platform/silabs/efr32/rs911x/BLEManagerImpl.cpp
  src/platform/silabs/efr32/rs911x/rsi_ble_config.h
  src/platform/silabs/efr32/rs911x/wfx_sl_ble_init.c
  src/platform/silabs/efr32/wifi/dhcp_client.h
  src/platform/silabs/efr32/wifi/wifi_config.h
  third_party/silabs/SiWx917_sdk.gni
Labels: examples, platform, review - approved

#26068 [Silabs] weeding out more whitespace that is causing problems for Lin…
  examples/light-switch-app/silabs/efr32/README.md
  examples/lighting-app/silabs/efr32/README.md
  examples/lock-app/silabs/efr32/README.md
  examples/thermostat/silabs/efr32/README.md
  examples/window-app/silabs/efr32/README.md
Labels: examples, review - approved

#26072 Improve the Darwin logging when we cancel dns-sd browse/resolve operations.
  src/platform/Darwin/DnssdContexts.cpp
  src/platform/Darwin/DnssdImpl.cpp
  src/platform/Darwin/DnssdImpl.h
Labels: review - pending, fast track

#26089 [Silabs] Rename credentials define
  examples/chef/efr32/src/main.cpp
  examples/light-switch-app/silabs/SiWx917/src/main.cpp
  examples/light-switch-app/silabs/efr32/src/main.cpp
  examples/lighting-app/silabs/SiWx917/src/main.cpp
  examples/lighting-app/silabs/efr32/src/main.cpp
  examples/lock-app/silabs/SiWx917/src/main.cpp
  examples/lock-app/silabs/efr32/src/main.cpp
  examples/platform/silabs/SiWx917/BUILD.gn
  examples/platform/silabs/efr32/BUILD.gn
  examples/thermostat/silabs/efr32/src/main.cpp
  examples/window-app/silabs/SiWx917/src/main.cpp
  examples/window-app/silabs/efr32/src/main.cpp
Labels: examples, platform, review - approved

#26092 [Silabs] Wifi bug fixes which were causing hardfault
  examples/platform/silabs/SiWx917/SiWx917/rsi_if.c
  examples/platform/silabs/efr32/rs911x/rsi_if.c
  examples/platform/silabs/efr32/wf200/efr_spi.c
  examples/platform/silabs/efr32/wf200/host_if.cpp
Labels: examples, platform, review - approved

#26086 Removal reportable:0 from zap files
  examples/lighting-app/qpg/zap/light.matter
  examples/lighting-app/qpg/zap/light.zap
  examples/lock-app/qpg/zap/lock.zap
  examples/tv-casting-app/tv-casting-common/tv-casting-app.zap
Labels: review - approved

#26013 [Bouffalolab]improvements related to ota requestor
  examples/lighting-app/bouffalolab/bl602/BUILD.gn
  examples/lighting-app/bouffalolab/bl702/BUILD.gn
  examples/platform/bouffalolab/bl702/ldscripts/psram_flash.ld
  examples/platform/bouffalolab/common/plat/OTAConfig.cpp
  examples/platform/bouffalolab/common/plat/OTAConfig.h
  examples/platform/bouffalolab/common/plat/platform.cpp
  src/platform/bouffalolab/BL602/OTAImageProcessorImpl.cpp
  src/platform/bouffalolab/BL702/OTAImageProcessorImpl.cpp
  third_party/bouffalolab/bl602/bl_iot_sdk.gni
Labels: examples, platform, review - approved

#25961 implement unpairdevice API for python CHIP controller
  src/controller/python/ChipDeviceController-ScriptBinding.cpp
  src/controller/python/chip/ChipDeviceCtrl.py
Labels: controller, review - approved

#25916 [Linux] Run functions on GLib event loop in a sync way
  src/platform/Linux/PlatformManagerImpl.cpp
  src/platform/Linux/PlatformManagerImpl.h
  src/platform/Linux/bluez/ChipDeviceScanner.cpp
  src/platform/Linux/bluez/ChipDeviceScanner.h
  src/platform/Linux/bluez/Helper.cpp
Labels: platform, linux, review - pending, fast track

#26090 [Silabs] Fix compilation issues with gcc 12.2
  examples/platform/silabs/efr32/BUILD.gn
  examples/platform/silabs/syscalls_stubs.cpp
  src/platform/silabs/KeyValueStoreManagerImpl.cpp
  third_party/silabs/efr32_sdk.gni
Labels: examples, platform, review - approved

#26093 [Silabs]Fix pigweedLogger assert
  examples/platform/silabs/PigweedLogger.cpp
Labels: examples, platform, review - pending, fast track

#25766 [ESP32] Added support of mode select for esp32 to read/write SupportedModes attribute from factory partition
  docs/guides/esp32/factory_data.md
  examples/all-clusters-app/esp32/main/CMakeLists.txt
  examples/platform/esp32/mode-support/static-supported-modes-manager.cpp
  examples/platform/esp32/mode-support/static-supported-modes-manager.h
  scripts/tools/generate_esp32_chip_factory_bin.py
  src/app/clusters/mode-select-server/supported-modes-manager.h
  src/platform/ESP32/ESP32Config.h
Labels: documentation, examples, scripts, platform, esp32, app, review - approved

#26080 [Silabs] Adds fix for SPI corruption when SPI was multiplexed
  examples/platform/silabs/efr32/display/lcd.cpp
  examples/platform/silabs/efr32/spi_multiplex.c
  examples/platform/silabs/efr32/spi_multiplex.h
  examples/platform/silabs/efr32/wf200/efr_spi.c
Labels: examples, platform, review - approved

#26066 [Silabs] WiFi factory reset support for window-app 917SoC
  examples/light-switch-app/silabs/SiWx917/src/AppTask.cpp
  examples/lighting-app/silabs/SiWx917/src/AppTask.cpp
  examples/lock-app/silabs/SiWx917/src/AppTask.cpp
  examples/platform/silabs/SiWx917/SiWx917/hal/rsi_hal_mcu_m4.c
  examples/window-app/silabs/SiWx917/include/WindowAppImpl.h
  examples/window-app/silabs/SiWx917/src/WindowAppImpl.cpp
Labels: examples, platform, review - approved

#26088 Make the GetWiFiBssId signature safer.
  src/app/clusters/wifi-network-diagnostics-server/wifi-network-diagnostics-server.cpp
  src/include/platform/DiagnosticDataProvider.h
  src/platform/Ameba/DiagnosticDataProviderImpl.cpp
  src/platform/Ameba/DiagnosticDataProviderImpl.h
  src/platform/Beken/DiagnosticDataProviderImpl.cpp
  src/platform/Beken/DiagnosticDataProviderImpl.h
  src/platform/ESP32/DiagnosticDataProviderImpl.cpp
  src/platform/ESP32/DiagnosticDataProviderImpl.h
  src/platform/Infineon/PSOC6/DiagnosticDataProviderImpl.cpp
  src/platform/Infineon/PSOC6/DiagnosticDataProviderImpl.h
  src/platform/Linux/ConnectivityManagerImpl.cpp
  src/platform/Linux/ConnectivityManagerImpl.h
  src/platform/Linux/DiagnosticDataProviderImpl.cpp
  src/platform/Linux/DiagnosticDataProviderImpl.h
  src/platform/bouffalolab/BL602/DiagnosticDataProviderImpl.cpp
  src/platform/bouffalolab/BL602/DiagnosticDataProviderImpl.h
  src/platform/nrfconnect/DiagnosticDataProviderImplNrf.cpp
  src/platform/nrfconnect/DiagnosticDataProviderImplNrf.h
  src/platform/nxp/mw320/ConnectivityManagerImpl.cpp
  src/platform/nxp/mw320/ConnectivityManagerImpl.h
  src/platform/nxp/mw320/DiagnosticDataProviderImpl.cpp
  src/platform/nxp/mw320/DiagnosticDataProviderImpl.h
  src/platform/silabs/DiagnosticDataProviderImpl.cpp
  src/platform/silabs/DiagnosticDataProviderImpl.h
  src/platform/webos/ConnectivityManagerImpl.cpp
  src/platform/webos/ConnectivityManagerImpl.h
  src/platform/webos/DiagnosticDataProviderImpl.cpp
  src/platform/webos/DiagnosticDataProviderImpl.h
Labels: platform, esp32, linux, nrf connect, app, review - approved

#26102 [Silabs] Move Display code to common location
  examples/platform/silabs/SiWx917/BUILD.gn
  examples/platform/silabs/SiWx917/display/demo-ui-bitmaps.h
  examples/platform/silabs/SiWx917/display/demo-ui.c
  examples/platform/silabs/SiWx917/display/demo-ui.h
  examples/platform/silabs/SiWx917/display/lcd.cpp
  examples/platform/silabs/SiWx917/display/lcd.h
  examples/platform/silabs/display/demo-ui-bitmaps.h
  examples/platform/silabs/display/demo-ui.c
  examples/platform/silabs/display/demo-ui.h
  examples/platform/silabs/display/lcd.cpp
  examples/platform/silabs/display/lcd.h
  examples/platform/silabs/efr32/BUILD.gn
Labels: examples, platform, review - approved

#26099 [Bouffalolab] Disable strict_warnings for pigweed enabled and fix to get Wi-Fi BSSID
  examples/lighting-app/bouffalolab/bl602/with_pw_rpc.gni
  examples/lighting-app/bouffalolab/bl702/with_pw_rpc.gni
  src/platform/bouffalolab/BL602/DiagnosticDataProviderImpl.cpp
Labels: examples, platform, review - pending, fast track

#25762 [Tizen] Run single thread for processing all GLib sources
  src/platform/Tizen/BLEManagerImpl.cpp
  src/platform/Tizen/BLEManagerImpl.h
  src/platform/Tizen/BUILD.gn
  src/platform/Tizen/ChipDeviceScanner.cpp
  src/platform/Tizen/ChipDeviceScanner.h
  src/platform/Tizen/DnssdImpl.cpp
  src/platform/Tizen/DnssdImpl.h
  src/platform/Tizen/MainLoop.cpp
  src/platform/Tizen/MainLoop.h
  src/platform/Tizen/PlatformManagerImpl.cpp
  src/platform/Tizen/PlatformManagerImpl.h
  src/platform/Tizen/WiFiManager.cpp
  src/platform/Tizen/WiFiManager.h
Labels: platform, review - pending, fast track, tizen

#26067 enable_fuzz_test_targets should default to false if chip_build_tests is false.
  build/chip/fuzz_test.gni
Labels: gn, review - approved

#26000 [darwin-framework-tool] heap-use-after-free when calling chip::app::D…
  src/app/server/Dnssd.cpp
  src/app/server/Dnssd.h
  src/controller/CHIPDeviceControllerFactory.cpp
  src/controller/CHIPDeviceControllerFactory.h
  src/lib/dnssd/Advertiser.h
  src/lib/dnssd/Advertiser_ImplMinimalMdns.cpp
  src/lib/dnssd/Advertiser_ImplNone.cpp
  src/lib/dnssd/Discovery_ImplPlatform.cpp
  src/lib/dnssd/Discovery_ImplPlatform.h
Labels: lib, controller, app, review - approved

#26103 [Silabs] Move MemMonitoring to common folder
  examples/platform/silabs/MemMonitoring.cpp
  examples/platform/silabs/SiWx917/BUILD.gn
  examples/platform/silabs/efr32/BUILD.gn
  examples/platform/silabs/efr32/MemMonitoring.cpp
Labels: examples, platform, review - approved

#26108 Fix boufallolab build.
  src/platform/bouffalolab/BL602/DiagnosticDataProviderImpl.cpp
Labels: hotfix, platform

#25966 [Darwin] MTRDevice write should reset expected value on error
  src/darwin/Framework/CHIP/MTRDevice.mm
  src/darwin/Framework/CHIPTests/MTRDeviceTests.m
Labels: darwin, review - pending, fast track

#26106 [Silabs] Remove groups cluster from endpoint 0 on our lighting-app zap configs
  examples/lighting-app/silabs/SiWx917/data_model/lighting-wifi-app.matter
  examples/lighting-app/silabs/SiWx917/data_model/lighting-wifi-app.zap
  examples/lighting-app/silabs/efr32/data_model/lighting-thread-app.matter
  examples/lighting-app/silabs/efr32/data_model/lighting-thread-app.zap
  examples/lighting-app/silabs/efr32/data_model/lighting-wifi-app.matter
  examples/lighting-app/silabs/efr32/data_model/lighting-wifi-app.zap
Labels: examples, review - approved

#25876 Fix ethernet commissioning for esp32
  docs/guides/esp32/build_app_and_commission.md
  examples/platform/esp32/common/Esp32AppServer.cpp
  src/platform/ESP32/ConnectivityManagerImpl_Ethernet.cpp
  src/platform/ESP32/NetworkCommissioningDriver.h
Labels: documentation, examples, platform, esp32, review - approved

#26014 [darwin-framework-tool] Add is_asan proper supports
  examples/darwin-framework-tool/BUILD.gn
  scripts/build/build_darwin_framework.py
  src/darwin/Framework/chip_xcode_build_connector.sh
Labels: examples, scripts, darwin, review - approved

#26116 Fix #26115: Setup discriminator parameter corruption
  src/platform/Darwin/BleConnectionDelegateImpl.mm
Labels: platform, darwin, review - pending, fast track

#26105 [Silabs] Move header to common place
  examples/chef/efr32/src/main.cpp
  examples/light-switch-app/silabs/SiWx917/src/main.cpp
  examples/light-switch-app/silabs/efr32/src/main.cpp
  examples/lighting-app/silabs/SiWx917/src/main.cpp
  examples/lighting-app/silabs/efr32/src/main.cpp
  examples/lock-app/silabs/SiWx917/src/main.cpp
  examples/lock-app/silabs/efr32/src/main.cpp
  examples/platform/silabs/SiWx917/matter_config.cpp
  examples/platform/silabs/efr32/matter_config.cpp
  examples/platform/silabs/efr32/matter_config.h
  examples/platform/silabs/matter_config.h
  examples/thermostat/silabs/efr32/src/main.cpp
  examples/window-app/silabs/SiWx917/src/main.cpp
  examples/window-app/silabs/efr32/src/main.cpp
Labels: examples, platform, review - approved

#26107 [Silabs] Unify silabs device data provider
  examples/platform/silabs/SiWx917/BUILD.gn
  examples/platform/silabs/SiWx917/BaseApplication.cpp
  examples/platform/silabs/SiWx917/matter_config.cpp
  examples/platform/silabs/SilabsDeviceDataProvider.cpp
  examples/platform/silabs/SilabsDeviceDataProvider.h
  examples/platform/silabs/efr32/BUILD.gn
  examples/platform/silabs/efr32/BaseApplication.cpp
  examples/platform/silabs/efr32/EFR32DeviceDataProvider.cpp
  examples/platform/silabs/efr32/EFR32DeviceDataProvider.h
  examples/platform/silabs/efr32/matter_config.cpp
  examples/window-app/silabs/SiWx917/src/WindowAppImpl.cpp
  examples/window-app/silabs/efr32/src/WindowAppImpl.cpp
  src/platform/silabs/SiWx917/args.gni
  src/platform/silabs/SiWx917/wifi_args.gni
  src/platform/silabs/efr32/args.gni
  src/platform/silabs/efr32/wifi_args.gni
  src/test_driver/efr32/BUILD.gn
Labels: examples, platform, review - approved, test driver

#26109 [lighting-app] Put application-specific config file to override the default configuration values
  examples/lighting-app/esp32/main/Kconfig.projbuild
  examples/lighting-app/esp32/main/include/CHIPProjectConfig.h
  src/platform/ESP32/CHIPPlatformConfig.h
Labels: examples, platform, esp32, review - approved

#26001 [darwin] Update BLEScannerDelegate interface to have both a add and a…
  examples/chip-tool/commands/common/DeviceScanner.cpp
  examples/chip-tool/commands/common/DeviceScanner.h
  src/platform/Darwin/BleConnectionDelegateImpl.mm
  src/platform/Darwin/BleScannerDelegate.h
Labels: tools, examples, platform, darwin, review - approved

#25840 [Darwin] Implement multiple read and subscribe
  src/app/EventPathParams.h
  src/darwin/Framework/CHIP/MTRBaseDevice.h
  src/darwin/Framework/CHIP/MTRBaseDevice.mm
  src/darwin/Framework/CHIP/MTRBaseDevice_Internal.h
  src/darwin/Framework/CHIPTests/MTRDeviceTests.m
Labels: darwin, app, review - pending, fast track

#26130 [nrfconnect] Implemented OnSubscriptionRequested callback in examples
  config/nrfconnect/chip-module/Kconfig.features
  examples/light-switch-app/nrfconnect/CMakeLists.txt
  examples/light-switch-app/nrfconnect/Kconfig
  examples/light-switch-app/nrfconnect/main/AppTask.cpp
  examples/light-switch-app/nrfconnect/main/include/AppTask.h
  examples/lock-app/nrfconnect/CMakeLists.txt
  examples/lock-app/nrfconnect/Kconfig
  examples/lock-app/nrfconnect/main/AppTask.cpp
  examples/lock-app/nrfconnect/main/include/AppTask.h
  examples/platform/nrfconnect/util/ICDUtil.cpp
  examples/platform/nrfconnect/util/include/ICDUtil.h
  examples/window-app/nrfconnect/CMakeLists.txt
  examples/window-app/nrfconnect/main/AppTask.cpp
  examples/window-app/nrfconnect/main/include/AppTask.h
  examples/window-app/nrfconnect/prj.conf
  examples/window-app/nrfconnect/prj_no_dfu.conf
  examples/window-app/nrfconnect/prj_release.conf
Labels: examples, platform, config, review - approved

#26128 [Silabs] WiFi - fix for 917SoC commissionable data provider
  examples/platform/silabs/SiWx917/BUILD.gn
  examples/platform/silabs/SilabsDeviceDataProvider.cpp
Labels: examples, platform, review - approved

#26145 Fix IDL parser for older lark
  scripts/py_matter_idl/matter_idl/matter_idl_parser.py
  scripts/py_matter_idl/matter_idl/matter_idl_types.py
Labels: scripts, fast track

#26147 codegen.py: allow generators to take input arguments
  scripts/codegen.py
  scripts/py_matter_idl/examples/README.md
  scripts/py_matter_idl/examples/matter_idl_plugin/__init__.py
  scripts/py_matter_idl/examples/matter_idl_plugin/matter_cluster_proto.jinja
  scripts/py_matter_idl/matter_idl/test_generators.py
Labels: scripts, review - approved

#26140 [Telink] Fix build system warnings
  config/telink/app/zephyr.conf
  config/telink/chip-module/Kconfig
  examples/all-clusters-app/telink/prj.conf
  examples/all-clusters-minimal-app/telink/prj.conf
  examples/bridge-app/telink/prj.conf
  examples/common/pigweed/telink/PigweedLoggerMutex.h
  examples/contact-sensor-app/telink/prj.conf
  examples/contact-sensor-app/telink/src/AppTask.cpp
  examples/contact-sensor-app/telink/src/ContactSensorManager.cpp
  examples/light-switch-app/telink/prj.conf
  examples/lighting-app/telink/prj.conf
  examples/lock-app/telink/prj.conf
  examples/ota-requestor-app/telink/prj.conf
  examples/platform/telink/common/include/AppTaskCommon.h
  examples/platform/telink/pw_sys_io/sys_io_telink.cc
  examples/platform/telink/util/include/LEDWidget.h
  examples/platform/telink/util/src/ButtonManager.cpp
  examples/platform/telink/util/src/LEDWidget.cpp
  examples/platform/telink/util/src/PWMDevice.cpp
  examples/platform/telink/util/src/PigweedLogger.cpp
  examples/platform/telink/util/src/ThreadUtil.cpp
  examples/pump-app/telink/prj.conf
  examples/pump-controller-app/telink/prj.conf
  examples/temperature-measurement-app/telink/prj.conf
  examples/thermostat/telink/prj.conf
  examples/window-app/telink/prj.conf
  src/platform/telink/BlePlatformConfig.h
Labels: examples, platform, config, review - approved, telink

#26153 [vscode] Disable search.followSymlinks
  .vscode/settings.json
Labels: vscode, review - approved

#26137 [Tizen] Allow to build examples without Thread
  .github/workflows/qemu.yaml
  scripts/build/build/targets.py
  scripts/build/builders/tizen.py
  scripts/build/testdata/all_targets_linux_x64.txt
Labels: scripts, github, workflows, review - approved

#26166 Improve the readAttributePaths tests a bit.
  src/darwin/Framework/CHIPTests/MTRDeviceTests.m
Labels: darwin, review - pending, fast track

#26163 [Telink] Fix crash during boot on latest Zephyr
  src/platform/telink/BLEManagerImpl.cpp
Labels: platform, review - approved, telink

#26168 Fix handling of path-specific errors in MTRBaseDevice subscribe code.
  src/darwin/Framework/CHIP/MTRBaseDevice.h
  src/darwin/Framework/CHIP/MTRBaseDevice.mm
  src/darwin/Framework/CHIPTests/MTRDeviceTests.m
  src/darwin/Framework/CHIPTests/MTRXPCListenerSampleTests.m
Labels: darwin, review - pending, fast track

#26157 Fix confusing error message.
  src/darwin/Framework/CHIP/MTRDeviceController.mm
Labels: review - pending, fast track

#26144 Fix template argument naming for value assign
  src/lib/assign/ValueAssign.h
Labels: lib, review - approved

#26146 Switch from wasRemoved to isSupported for Darwin codegen.
  examples/darwin-framework-tool/templates/commands.zapt
  integrations/docker/images/chip-cert-bins/Dockerfile
  scripts/setup/zap.json
  scripts/tools/zap/zap_execution.py
  src/darwin/Framework/CHIP/templates/MTRAttributeTLVValueDecoder-src.zapt
  src/darwin/Framework/CHIP/templates/MTRBaseClusters-src.zapt
  src/darwin/Framework/CHIP/templates/MTRBaseClusters.zapt
  src/darwin/Framework/CHIP/templates/MTRBaseClusters_Internal.zapt
  src/darwin/Framework/CHIP/templates/MTRCallbackBridge-src.zapt
  src/darwin/Framework/CHIP/templates/MTRCallbackBridge.zapt
  src/darwin/Framework/CHIP/templates/MTRClusterConstants.zapt
  src/darwin/Framework/CHIP/templates/MTRClusters-src.zapt
  src/darwin/Framework/CHIP/templates/MTRClusters.zapt
  src/darwin/Framework/CHIP/templates/MTRClusters_Internal.zapt
  src/darwin/Framework/CHIP/templates/MTRCommandPayloadsObjc-src.zapt
  src/darwin/Framework/CHIP/templates/MTRCommandPayloadsObjc.zapt
  src/darwin/Framework/CHIP/templates/MTREventTLVValueDecoder-src.zapt
  src/darwin/Framework/CHIP/templates/MTRStructsObjc-src.zapt
  src/darwin/Framework/CHIP/templates/MTRStructsObjc.zapt
  src/darwin/Framework/CHIP/templates/availability.yaml
Labels: examples, scripts, integrations, darwin, review - pending, fast track

#26173 Include event header information in results from multi-path read/subscribe.
  src/darwin/Framework/CHIP/MTRBaseDevice.h
  src/darwin/Framework/CHIP/MTRBaseDevice.mm
  src/darwin/Framework/CHIP/MTRBaseDevice_Internal.h
  src/darwin/Framework/CHIP/MTRDevice.h
  src/darwin/Framework/CHIP/MTRDevice.mm
  src/darwin/Framework/CHIP/MTRDevice_Internal.h
  src/darwin/Framework/CHIPTests/MTRDeviceTests.m
Labels: review - pending, fast track

#26182 ESP32: Upgrade to ESP-IDF release v4.4.4
  docs/guides/esp32/setup_idf_chip.md
  integrations/docker/images/chip-build-esp32/Dockerfile
  integrations/docker/images/chip-build/version
Labels: documentation, integrations, review - pending, fast track

#26189 Improve the logging for MTRDevice.
  src/darwin/Framework/CHIP/MTRDevice.mm
  src/darwin/Framework/CHIP/templates/MTRClusters-src.zapt
  src/darwin/Framework/CHIP/zap-generated/MTRClusters.mm
Labels: darwin, review - approved

#26139 ESP32: Send AAAA query when the SRV response does not include IP addresses records & Improve the performance of platform mDNS resolving
  src/platform/ESP32/DnssdImpl.cpp
  src/platform/ESP32/DnssdImpl.h
Labels: platform, esp32, review - approved

#26095 [Chef] Fix compile -a doesn't work on ESP32
  examples/chef/chef.py
  examples/chef/esp32/CMakeLists.txt
Labels: examples, review - approved

#26060 [Tizen] Implement DiagnosticDataProvider interface
  src/platform/Linux/ConfigurationManagerImpl.cpp
  src/platform/Tizen/ConfigurationManagerImpl.cpp
  src/platform/Tizen/ConfigurationManagerImpl.h
  src/platform/Tizen/ConnectivityManagerImpl.cpp
  src/platform/Tizen/ConnectivityManagerImpl.h
  src/platform/Tizen/ConnectivityUtils.cpp
  src/platform/Tizen/ConnectivityUtils.h
  src/platform/Tizen/DiagnosticDataProviderImpl.cpp
  src/platform/Tizen/DiagnosticDataProviderImpl.h
  src/platform/Tizen/PlatformManagerImpl.cpp
  src/platform/Tizen/PlatformManagerImpl.h
  src/platform/Tizen/PosixConfig.cpp
  src/platform/Tizen/PosixConfig.h
  src/platform/Tizen/WiFiManager.cpp
  src/platform/Tizen/WiFiManager.h
Labels: platform, linux, review - approved, tizen

#26161 [Silabs] WiFi- Addressed build failures with wiseMCU package v1.0.1.4
  examples/platform/silabs/SiWx917/LEDWidget.h
  third_party/silabs/SiWx917_sdk.gni
Labels: examples, platform, review - approved

#26190 [Telink] Update Telink Docker image (Zephyr update)
  integrations/docker/images/chip-build-telink/Dockerfile
  integrations/docker/images/chip-build/version
Labels: integrations, review - approved

#26180 Assert the Matter lock is held in non-threadsafe SystemLayer methods.
  src/system/SystemLayer.h
  src/system/SystemLayerImplFreeRTOS.cpp
  src/system/SystemLayerImplSelect.cpp
Labels: review - pending, fast track

#26200 Chip-tool hits the Code is unsafe/racy assert when BLE commissioning is started.
  src/platform/Linux/BLEManagerImpl.cpp
Labels: platform, linux, review - pending, fast track

#26188 Log payloads for read/subscribe even if we reject them.
  src/app/InteractionModelEngine.cpp
  src/app/ReadHandler.cpp
Labels: app, review - pending, fast track

#26210 ot cli command is called networkkey now
  docs/guides/nrfconnect_examples_cli.md
Labels: documentation, review - pending, fast track

#26120 [Python] Fix schema not found error on vendor specific data
  src/controller/python/chip/clusters/Attribute.py
Labels: controller, review - pending, fast track

#26196 [Silabs] Add Silabs Platform abstraction
  src/platform/silabs/SiWx917/BUILD.gn
  src/platform/silabs/efr32/BUILD.gn
  src/platform/silabs/platformAbstraction/GSDK_SPAM.cpp
  src/platform/silabs/platformAbstraction/SilabsPlatform.h
  src/platform/silabs/platformAbstraction/SilabsPlatformBase.h
  src/platform/silabs/platformAbstraction/WiseMCU_SPAM.cpp
Labels: platform, review - approved

#26171 Minor cleanup around read/subscribe(To)AttributePaths.
  src/darwin/Framework/CHIP/MTRBaseDevice.h
  src/darwin/Framework/CHIP/MTRBaseDevice.mm
Labels: darwin, review - approved

#26229 Update bridge app codegen to handle Optional<>
  scripts/py_matter_idl/matter_idl/generators/bridge/__init__.py
Labels: scripts, review - pending, fast track

#26181 Stop storing two copies of attribute/event data in MTRDevice.
  src/darwin/Framework/CHIP/MTRDevice.mm
Labels: darwin, review - approved
