Repository project-chip/connectedhomeip, pull requests merged in 2023-03, with the labels that each got.

#25119 [Python] Add Python commissioning flow
  scripts/tests/cirque_tests.sh
  src/controller/python/BUILD.gn
  src/controller/python/OpCredsBinding.cpp
  src/controller/python/chip/ChipDeviceCtrl.py
  src/controller/python/chip/FabricAdmin.py
  src/controller/python/chip/commissioning/PlaceholderOperationalCredentialsIssuer.h
  src/controller/python/chip/commissioning/__init__.py
  src/controller/python/chip/commissioning/commissioning_flow_blocks.py
  src/controller/python/chip/commissioning/pase.py
  src/controller/python/chip/credentials/cert.cpp
  src/controller/python/chip/credentials/cert.h
  src/controller/python/chip/credentials/cert.py
  src/controller/python/chip/crypto/fabric.py
  src/controller/python/chip/crypto/p256keypair.cpp
  src/controller/python/chip/crypto/p256keypair.h
  src/controller/python/chip/crypto/p256keypair.py
  src/controller/python/test/test_scripts/base.py
  src/controller/python/test/test_scripts/example_python_commissioning_flow.py
  src/controller/python/test/test_scripts/python_commissioning_flow_test.py
  src/test_driver/linux-cirque/PythonCommissioningTest.py
Labels: scripts, controller, review - pending, fast track, test driver

#25376 Enable -Wconversion tree-wide on darwin.
  build/config/compiler/BUILD.gn
  src/crypto/CHIPCryptoPALmbedTLS.cpp
  third_party/boringssl/repo/BUILD.gn
  third_party/editline/BUILD.gn
  third_party/mbedtls/mbedtls.gni
  third_party/nlunit-test/BUILD.gn
Labels: crypto, gn, review - approved

#25366 [Telink] Add Temperature Measurement app demo
  .github/workflows/examples-telink.yaml
  .vscode/tasks.json
  examples/temperature-measurement-app/esp32/main/CMakeLists.txt
  examples/temperature-measurement-app/telink/.gitignore
  examples/temperature-measurement-app/telink/CMakeLists.txt
  examples/temperature-measurement-app/telink/README.md
  examples/temperature-measurement-app/telink/include/AppConfig.h
  examples/temperature-measurement-app/telink/include/AppEvent.h
  examples/temperature-measurement-app/telink/include/AppTask.h
  examples/temperature-measurement-app/telink/include/CHIPProjectConfig.h
  examples/temperature-measurement-app/telink/include/SensorManager.h
  examples/temperature-measurement-app/telink/prj.conf
  examples/temperature-measurement-app/telink/src/AppTask.cpp
  examples/temperature-measurement-app/telink/src/SensorManager.cpp
  examples/temperature-measurement-app/telink/src/main.cpp
  examples/temperature-measurement-app/telink/third_party/connectedhomeip
  examples/temperature-measurement-app/temperature-measurement-common/BUILD.gn
  examples/temperature-measurement-app/temperature-measurement-common/temperature-measurement.matter
  examples/temperature-measurement-app/temperature-measurement-common/temperature-measurement.zap
  scripts/build/build/targets.py
  scripts/build/builders/telink.py
  scripts/build/testdata/all_targets_linux_x64.txt
Labels: examples, scripts, vscode, github, workflows, review - pending, fast track

#25369 Remove LevelControlFeature from the allow list of defines
  src/app/clusters/level-control/level-control.cpp
  src/app/common/templates/config-data.yaml
  zzz_generated/app-common/app-common/zap-generated/enums.h
Labels: app, review - approved

#25393 [ESP32] Replace undefined variable 'type' with 'service->mType'
  src/platform/ESP32/DnssdImpl.h
Labels: platform, esp32, review - approved

#25383 Enable -Wconversion for nrfconnect platform bits.
  src/platform/OpenThread/GenericThreadStackManagerImpl_OpenThread.cpp
  src/platform/Zephyr/BUILD.gn
  src/platform/Zephyr/DiagnosticDataProviderImpl.cpp
  src/platform/Zephyr/PlatformManagerImpl.cpp
  src/platform/nrfconnect/BUILD.gn
  src/platform/nrfconnect/OTAImageProcessorImpl.cpp
  src/platform/nrfconnect/wifi/NrfWiFiDriver.cpp
  src/platform/nrfconnect/wifi/WiFiManager.cpp
Labels: platform, nrf connect, zephyr, review - approved

#25392 Bump docker images used in CI to 0.6.44
  .github/workflows/bloat_check.yaml
  .github/workflows/build.yaml
  .github/workflows/chef.yaml
  .github/workflows/cirque.yaml
  .github/workflows/doxygen.yaml
  .github/workflows/examples-ameba.yaml
  .github/workflows/examples-bouffalolab.yaml
  .github/workflows/examples-cc13x2x7_26x2x7.yaml
  .github/workflows/examples-cc32xx.yaml
  .github/workflows/examples-efr32.yaml
  .github/workflows/examples-esp32.yaml
  .github/workflows/examples-infineon.yaml
  .github/workflows/examples-k32w.yaml
  .github/workflows/examples-linux-arm.yaml
  .github/workflows/examples-linux-imx.yaml
  .github/workflows/examples-linux-standalone.yaml
  .github/workflows/examples-mbed.yaml
  .github/workflows/examples-mw320.yaml
  .github/workflows/examples-nrfconnect.yaml
  .github/workflows/examples-openiotsdk.yaml
  .github/workflows/examples-qpg.yaml
  .github/workflows/examples-telink.yaml
  .github/workflows/examples-tizen.yaml
  .github/workflows/full-android.yaml
  .github/workflows/fuzzing-build.yaml
  .github/workflows/lint.yml
  .github/workflows/qemu.yaml
  .github/workflows/release_artifacts.yaml
  .github/workflows/smoketest-android.yaml
  .github/workflows/tests.yaml
  .github/workflows/unit_integration_test.yaml
  .github/workflows/zap_regeneration.yaml
  .github/workflows/zap_templates.yaml
  integrations/cloudbuild/build-all.yaml
  integrations/cloudbuild/chef.yaml
  integrations/cloudbuild/smoke-test.yaml
Labels: integrations, github, workflows, review - approved

#25373 Enable -Wconversion for ESP32 platform bits.
  src/platform/ESP32/BUILD.gn
  src/platform/ESP32/DiagnosticDataProviderImpl.cpp
  src/platform/ESP32/NetworkCommissioningDriver.cpp
  src/platform/ESP32/NetworkCommissioningDriver.h
  src/platform/ESP32/route_hook/ESP32RouteHook.c
Labels: platform, esp32, review - approved

#25381 Make it easier to create TLV context tags fron enum class values.
  examples/platform/linux/testing/CustomCSRResponse.cpp
  src/app/AttributeAccessInterface.h
  src/app/CommandHandler.cpp
  src/app/CommandHandler.h
  src/app/CommandSender.cpp
  src/app/CommandSender.h
  src/app/EventLogging.h
  src/app/EventManagement.cpp
  src/app/MessageDef/AttributeDataIB.cpp
  src/app/MessageDef/AttributePathIB.cpp
  src/app/MessageDef/AttributeReportIB.cpp
  src/app/MessageDef/AttributeStatusIB.cpp
  src/app/MessageDef/ClusterPathIB.cpp
  src/app/MessageDef/CommandDataIB.cpp
  src/app/MessageDef/CommandPathIB.cpp
  src/app/MessageDef/CommandStatusIB.cpp
  src/app/MessageDef/DataVersionFilterIB.cpp
  src/app/MessageDef/EventDataIB.cpp
  src/app/MessageDef/EventFilterIB.cpp
  src/app/MessageDef/EventPathIB.cpp
  src/app/MessageDef/EventReportIB.cpp
  src/app/MessageDef/EventStatusIB.cpp
  src/app/MessageDef/InvokeRequestMessage.cpp
  src/app/MessageDef/InvokeResponseIB.cpp
  src/app/MessageDef/InvokeResponseMessage.cpp
  src/app/MessageDef/ReadRequestMessage.cpp
  src/app/MessageDef/ReportDataMessage.cpp
  src/app/MessageDef/StatusIB.cpp
  src/app/MessageDef/StatusResponseMessage.cpp
  src/app/MessageDef/SubscribeRequestMessage.cpp
  src/app/MessageDef/SubscribeResponseMessage.cpp
  src/app/MessageDef/TimedRequestMessage.cpp
  src/app/MessageDef/WriteRequestMessage.cpp
  src/app/MessageDef/WriteResponseMessage.cpp
  src/app/WriteClient.cpp
  src/app/WriteClient.h
  src/app/clusters/group-key-mgmt-server/group-key-mgmt-server.cpp
  src/app/clusters/groups-server/groups-server.cpp
  src/app/clusters/network-commissioning/network-commissioning.cpp
  src/app/tests/TestCommandInteraction.cpp
  src/app/tests/TestDataModelSerialization.cpp
  src/app/tests/TestWriteInteraction.cpp
  src/app/util/ember-compatibility-functions.cpp
  src/app/util/mock/attribute-storage.cpp
  src/app/zap-templates/partials/cluster-objects-struct.zapt
  src/app/zap-templates/templates/app/cluster-objects-src.zapt
  src/app/zap-templates/templates/app/cluster-objects.zapt
  src/controller/python/chip/clusters/command.cpp
  src/controller/tests/data_model/TestRead.cpp
  src/lib/core/OTAImageHeader.cpp
  src/lib/core/TLVTags.h
  zzz_generated/app-common/app-common/zap-generated/cluster-objects.cpp
  zzz_generated/app-common/app-common/zap-generated/cluster-objects.h
Labels: examples, platform, lib, controller, app, review - approved, tests, core

#25333 [Android] Support Manual Pairing Code
  examples/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/bluetooth/BluetoothManager.kt
  examples/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/provisioning/DeviceProvisioningFragment.kt
  examples/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/setuppayloadscanner/BarcodeFragment.kt
  examples/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/setuppayloadscanner/CHIPDeviceInfo.kt
Labels: examples, review - pending, fast track

#25422 Replace kotlinx.android.parcel package with kotlinx.parcelize
  examples/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/setuppayloadscanner/QrCodeInfo.kt
Labels: examples, review - approved

#25429 [Telink] Update Telink Docker image (Zephyr update)
  integrations/docker/images/chip-build-telink/Dockerfile
  integrations/docker/images/chip-build/version
Labels: integrations, review - pending, fast track

#25418 Add kotlin compiler to docker image chip-build-android
  examples/android/CHIPTest/build.gradle
  examples/android/CHIPTool/build.gradle
  integrations/docker/images/chip-build-android/Dockerfile
  integrations/docker/images/chip-build-vscode/Dockerfile
  integrations/docker/images/chip-build/version
Labels: examples, integrations, review - pending, fast track

#25428 [nrfconnect] Bump nRF Connect SDK version in Docker
  integrations/docker/images/chip-build-nrf-platform/Dockerfile
  integrations/docker/images/chip-build/version
Labels: integrations, review - approved

#25423 [Android] Add exception return in JNI
  src/controller/java/CHIPDeviceController-JNI.cpp
Labels: review - pending, fast track

#25395 [Telink] Block device role changing into Router if commissioning window opened and device not yet Router
  src/app/server/CommissioningWindowManager.cpp
  src/app/server/CommissioningWindowManager.h
  src/include/platform/ThreadStackManager.h
  src/platform/Linux/ThreadStackManagerImpl.cpp
  src/platform/Linux/ThreadStackManagerImpl.h
  src/platform/OpenThread/GenericThreadStackManagerImpl_OpenThread.cpp
  src/platform/OpenThread/GenericThreadStackManagerImpl_OpenThread.h
  src/platform/Tizen/ThreadStackManagerImpl.cpp
  src/platform/Tizen/ThreadStackManagerImpl.h
Labels: platform, linux, app, review - approved, tizen

#25419 Add missing include <string.h> to CustomStringPrefix.h
  examples/chip-tool/commands/common/CustomStringPrefix.h
Labels: tools, examples, review - approved

#25431 Add instructions on setting up zap for ARM linux
  README.md
  docs/Makefile
  docs/conf.py
  docs/examples/openiotsdk_examples.md
  docs/guides/BUILDING.md
  docs/guides/mbedos_commissioning.md
  examples/contact-sensor-app/nxp/k32w/k32w0/README.md
  examples/light-switch-app/nrfconnect/README.md
  examples/lighting-app/nxp/k32w/k32w0/README.md
  examples/lock-app/nxp/k32w/k32w0/README.md
Labels: documentation, examples, hotfix, review - pending

#25435 [sphinx doc] update external link prefix list
  docs/conf.py
Labels: documentation, hotfix

#25406 Enable -Wconversion in minimal-mdns records.
  src/lib/dnssd/minimal_mdns/records/BUILD.gn
  src/lib/dnssd/minimal_mdns/records/ResourceRecord.cpp
Labels: lib, review - pending, fast track

#25405 Enable -Wconversion in the java server.
  src/app/server/java/BUILD.gn
  src/app/server/java/ChipFabricProvider-JNI.cpp
Labels: app, review - pending, fast track

#25411 [Java] Add the TLVReader/TLVWriter lib for generic IM write/invoke APIs
  .github/workflows/smoketest-android.yaml
  .github/workflows/tests.yaml
  src/controller/java/BUILD.gn
  src/controller/java/src/chip/tlv/Element.kt
  src/controller/java/src/chip/tlv/TlvReader.kt
  src/controller/java/src/chip/tlv/TlvWriter.kt
  src/controller/java/src/chip/tlv/tags.kt
  src/controller/java/src/chip/tlv/types.kt
  src/controller/java/src/chip/tlv/utils.kt
  src/controller/java/src/chip/tlv/values.kt
  third_party/java_deps/BUILD.gn
  third_party/java_deps/set_up_java_deps.sh
Labels: controller, github, workflows, review - pending, fast track

#25437 fix: chef CD pipeline
  examples/chef/create_docker.py
Labels: examples, review - pending, fast track

#25417 Bugfix: Required to enabled EFR32_ATTESTATION_CREDENTIALS.
  examples/platform/silabs/efr32/BUILD.gn
Labels: examples, platform, review - approved

#25399 [Silabs] [SiWx917] Updating qspi clock and nvm3 size for 917 SoC
  examples/platform/silabs/SiWx917/SiWx917/hal/rsi_hal_mcu_platform_init.c
  third_party/silabs/SiWx917_sdk.gni
Labels: examples, platform, review - approved

#25438 [chef] linux wpa fix
  examples/chef/linux/main.cpp
Labels: examples, review - approved

#25430 [Silabs][EFR32] Fixed the improper channel result issue in the scan results of network
  examples/platform/silabs/efr32/rs911x/rsi_if.c
Labels: examples, platform, review - approved

#25444 [Android] Fallback to BLE Notification when Indication unsupported
  src/platform/android/java/chip/platform/AndroidBleManager.java
Labels: platform, review - approved

#25443 Update docker image to the latest for all android related builds
  .github/workflows/full-android.yaml
  integrations/cloudbuild/smoke-test.yaml
Labels: integrations, github, workflows, review - pending, fast track

#25453 use right error callback for java/jni im read/subscribe
  src/controller/java/CHIPDeviceController-JNI.cpp
Labels: controller, review - approved

#25462 Correct copied path for kotlinc for vscode image
  integrations/docker/images/chip-build-vscode/Dockerfile
  integrations/docker/images/chip-build/version
Labels: integrations, review - pending, fast track

#25445 Add JAVA/JNI IM Write API
  examples/java-matter-controller/BUILD.gn
  examples/java-matter-controller/java/src/com/matter/controller/Main.kt
  examples/java-matter-controller/java/src/com/matter/controller/commands/common/FutureResult.java
  examples/java-matter-controller/java/src/com/matter/controller/commands/common/MatterCommand.java
  examples/java-matter-controller/java/src/com/matter/controller/commands/pairing/PairOnNetworkLongImWriteCommand.java
  src/controller/java/AndroidCallbacks-JNI.cpp
  src/controller/java/AndroidCallbacks.cpp
  src/controller/java/AndroidCallbacks.h
  src/controller/java/BUILD.gn
  src/controller/java/CHIPDeviceController-JNI.cpp
  src/controller/java/src/chip/devicecontroller/ChipDeviceController.java
  src/controller/java/src/chip/devicecontroller/WriteAttributesCallback.java
  src/controller/java/src/chip/devicecontroller/WriteAttributesCallbackJni.java
  src/controller/java/src/chip/devicecontroller/model/AttributeWriteRequest.java
Labels: examples, controller, review - approved

#25469 Switch back to 6.44 for cloudbuild as nrf NCS revision is not matching
  integrations/cloudbuild/smoke-test.yaml
Labels: hotfix, integrations

#25281 Restore the ability to turn off event UTC timestamps at compile time.
  config/python/CHIPProjectConfig.h
  config/standalone/CHIPProjectConfig.h
  examples/all-clusters-app/nxp/mw320/include/CHIPProjectConfig.h
  examples/chef/efr32/include/CHIPProjectConfig.h
  examples/chip-tool/include/CHIPProjectAppConfig.h
  examples/java-matter-controller/include/CHIPProjectAppConfig.h
  examples/light-switch-app/genio/include/CHIPProjectConfig.h
  examples/light-switch-app/silabs/SiWx917/include/CHIPProjectConfig.h
  examples/light-switch-app/silabs/efr32/include/CHIPProjectConfig.h
  examples/lighting-app/bouffalolab/bl702/CHIPProjectConfig.h
  examples/lighting-app/genio/include/CHIPProjectConfig.h
  examples/lighting-app/infineon/psoc6/include/CHIPProjectConfig.h
  examples/lighting-app/silabs/SiWx917/include/CHIPProjectConfig.h
  examples/lighting-app/silabs/efr32/include/CHIPProjectConfig.h
  examples/lock-app/cc32xx/main/include/CHIPProjectConfig.h
  examples/lock-app/genio/include/CHIPProjectConfig.h
  examples/lock-app/silabs/SiWx917/include/CHIPProjectConfig.h
  examples/lock-app/silabs/efr32/include/CHIPProjectConfig.h
  examples/ota-requestor-app/genio/include/CHIPProjectConfig.h
  examples/persistent-storage/infineon/psoc6/include/CHIPProjectConfig.h
  examples/shell/genio/include/CHIPProjectConfig.h
  examples/thermostat/genio/include/CHIPProjectConfig.h
  examples/thermostat/silabs/efr32/include/CHIPProjectConfig.h
  examples/window-app/silabs/SiWx917/include/CHIPProjectConfig.h
  examples/window-app/silabs/efr32/include/CHIPProjectConfig.h
  src/app/EventManagement.cpp
  src/app/EventManagement.h
  src/include/platform/CHIPDeviceConfig.h
  src/lib/core/BUILD.gn
  src/lib/core/CHIPEventLoggingConfig.h
  src/lib/support/CHIPFaultInjection.h
  src/platform/Darwin/CHIPDevicePlatformConfig.h
  src/platform/Linux/CHIPDevicePlatformConfig.h
  src/test_driver/efr32/include/CHIPProjectConfig.h
Labels: tools, examples, platform, darwin, linux, lib, app, config, review - approved, support, core, test driver

#25470 add invoke element in java controoler
  src/controller/java/BUILD.gn
  src/controller/java/src/chip/devicecontroller/model/InvokeElement.java
Labels: controller, review - approved

#25458 [Silabs] [EFR32] Adds translation between spec WiFi Security Types
  examples/platform/silabs/SiWx917/SiWx917/rsi_if.c
  examples/platform/silabs/efr32/rs911x/rsi_if.c
  examples/platform/silabs/efr32/wf200/host_if.cpp
  src/platform/silabs/NetworkCommissioningWiFiDriver.cpp
  src/platform/silabs/SiWx917/wifi/wfx_host_events.h
  src/platform/silabs/efr32/wifi/wfx_host_events.h
Labels: examples, platform, review - approved

#25459 ESP32: enable platform mdns for ESP32-C2
  config/esp32/components/chip/CMakeLists.txt
  src/platform/ESP32/DnssdImpl.cpp
Labels: platform, esp32, config, review - approved

#25251 [OIS] Add to flake8 in workflow and fix python files (part #25193)
  .flake8
  src/test_driver/openiotsdk/integration-tests/common/device.py
  src/test_driver/openiotsdk/integration-tests/common/fixtures.py
  src/test_driver/openiotsdk/integration-tests/common/fvp_device.py
  src/test_driver/openiotsdk/integration-tests/common/utils.py
  src/test_driver/openiotsdk/integration-tests/conftest.py
  src/test_driver/openiotsdk/integration-tests/lock-app/test_app.py
  src/test_driver/openiotsdk/integration-tests/shell/test_app.py
Labels: review - pending, fast track, test driver

#25487 [darwin] Data race when accessing onConnectionComplete
  src/platform/Darwin/BleConnectionDelegateImpl.mm
Labels: review - approved

#25493 Remove groups-client.cpp and identify-client.cpp.
  src/app/clusters/groups-client/groups-client.cpp
  src/app/clusters/identify-client/identify-client.cpp
Labels: app, review - approved

#25408 Enable -Wconversion in Tizen platform code.
  src/platform/Tizen/BUILD.gn
  src/platform/Tizen/NetworkCommissioningEthernetDriver.cpp
  src/platform/Tizen/NetworkCommissioningWiFiDriver.cpp
Labels: platform, review - approved, tizen

#25409 Enable -Wconversion in mbed platform code.
  src/platform/mbed/BUILD.gn
  src/platform/mbed/NetworkCommissioningDriver.h
  src/platform/mbed/NetworkCommissioningWiFiDriver.cpp
Labels: platform, review - approved

#25410 Enable -Wconversion in openiotsdk platform code.
  src/platform/openiotsdk/BUILD.gn
  src/platform/openiotsdk/KVBlockDeviceStore.cpp
  src/platform/openiotsdk/KVPsaPsStore.cpp
  src/platform/openiotsdk/NetworkCommissioningEthernetDriver.cpp
Labels: platform, review - approved

#25402 Make it easier to catch bugs in async command handling.
  src/app/CommandHandler.cpp
  src/app/CommandHandler.h
Labels: app, review - approved

#25503 [Silabs]Rework KVS keymap implementation.
  examples/platform/silabs/efr32/BaseApplication.cpp
  examples/platform/silabs/efr32/BaseApplication.h
  src/platform/silabs/KeyValueStoreManagerImpl.h
  src/platform/silabs/SilabsConfig.cpp
  src/platform/silabs/SilabsConfig.h
  src/platform/silabs/efr32/BUILD.gn
  src/platform/silabs/efr32/KeyValueStoreManagerImpl.cpp
  src/platform/silabs/efr32/MigrationManager.cpp
  src/platform/silabs/efr32/MigrationManager.h
  third_party/silabs/efr32_sdk.gni
Labels: examples, platform, review - approved

#25460 [Tizen] Fix systemd services race when running tests
  integrations/docker/images/chip-build-tizen-qemu/Dockerfile
  integrations/docker/images/chip-build-tizen/Dockerfile
  integrations/docker/images/chip-build/version
  third_party/tizen/tizen_qemu.py
Labels: integrations, review - approved

#25501 Darwin: Update zap to 2023.3.6 to adopt MTR_DEPRECATED for ObjC deprecations
  integrations/docker/images/chip-cert-bins/Dockerfile
  scripts/setup/zap.json
  scripts/tools/zap/zap_execution.py
  src/darwin/Framework/CHIP/MTRBaseDevice.h
  src/darwin/Framework/CHIP/MTRCSRInfo.h
  src/darwin/Framework/CHIP/MTRCertificates.h
  src/darwin/Framework/CHIP/MTRCluster.h
  src/darwin/Framework/CHIP/MTRClusterStateCacheContainer.h
  src/darwin/Framework/CHIP/MTRDevice.h
  src/darwin/Framework/CHIP/MTRDeviceAttestationDelegate.h
  src/darwin/Framework/CHIP/MTRDeviceAttestationInfo.h
  src/darwin/Framework/CHIP/MTRDeviceController+XPC.h
  src/darwin/Framework/CHIP/MTRDeviceController.h
  src/darwin/Framework/CHIP/MTRDeviceControllerDelegate.h
  src/darwin/Framework/CHIP/MTRDeviceControllerFactory.h
  src/darwin/Framework/CHIP/MTRDeviceControllerStartupParams.h
  src/darwin/Framework/CHIP/MTRManualSetupPayloadParser.h
  src/darwin/Framework/CHIP/MTROTAHeader.h
  src/darwin/Framework/CHIP/MTROperationalCertificateIssuer.h
  src/darwin/Framework/CHIP/MTRQRCodeSetupPayloadParser.h
  src/darwin/Framework/CHIP/MTRSetupPayload.h
  src/darwin/Framework/CHIP/MTRStorage.h
  src/darwin/Framework/CHIP/MTRThreadOperationalDataset.h
  src/darwin/Framework/CHIP/templates/MTRBaseClusters.zapt
  src/darwin/Framework/CHIP/templates/MTRClusterConstants.zapt
  src/darwin/Framework/CHIP/templates/MTRClusters.zapt
  src/darwin/Framework/CHIP/templates/MTRCommandPayloadsObjc.zapt
  src/darwin/Framework/CHIP/templates/MTRStructsObjc.zapt
  src/darwin/Framework/CHIP/zap-generated/MTRBaseClusters.h
  src/darwin/Framework/CHIP/zap-generated/MTRClusterConstants.h
  src/darwin/Framework/CHIP/zap-generated/MTRClusters.h
  src/darwin/Framework/CHIP/zap-generated/MTRCommandPayloadsObjc.h
  src/darwin/Framework/CHIP/zap-generated/MTRStructsObjc.h
Labels: scripts, integrations, darwin, review - pending, fast track

#25456 [Telink] Update BLEManagerImpl & Update every image to 0.6.47
  .devcontainer/devcontainer.json
  .github/workflows/bloat_check.yaml
  .github/workflows/build.yaml
  .github/workflows/chef.yaml
  .github/workflows/cirque.yaml
  .github/workflows/doxygen.yaml
  .github/workflows/examples-ameba.yaml
  .github/workflows/examples-bouffalolab.yaml
  .github/workflows/examples-cc13x2x7_26x2x7.yaml
  .github/workflows/examples-cc32xx.yaml
  .github/workflows/examples-efr32.yaml
  .github/workflows/examples-esp32.yaml
  .github/workflows/examples-infineon.yaml
  .github/workflows/examples-k32w.yaml
  .github/workflows/examples-linux-arm.yaml
  .github/workflows/examples-linux-imx.yaml
  .github/workflows/examples-linux-standalone.yaml
  .github/workflows/examples-mbed.yaml
  .github/workflows/examples-mw320.yaml
  .github/workflows/examples-openiotsdk.yaml
  .github/workflows/examples-qpg.yaml
  .github/workflows/examples-telink.yaml
  .github/workflows/examples-tizen.yaml
  .github/workflows/fuzzing-build.yaml
  .github/workflows/lint.yml
  .github/workflows/qemu.yaml
  .github/workflows/release_artifacts.yaml
  .github/workflows/smoketest-android.yaml
  .github/workflows/tests.yaml
  .github/workflows/unit_integration_test.yaml
  .github/workflows/zap_regeneration.yaml
  .github/workflows/zap_templates.yaml
  config/telink/app/zephyr.conf
  integrations/cloudbuild/build-all.yaml
  integrations/cloudbuild/chef.yaml
  integrations/cloudbuild/smoke-test.yaml
  src/platform/telink/BLEManagerImpl.cpp
  src/platform/telink/BLEManagerImpl.h
  src/platform/telink/BUILD.gn
  src/platform/telink/CHIPDevicePlatformConfig.h
Labels: integrations, platform, config, vscode, github, workflows, review - approved, telink

#25486 [chip-tool] Some CHIP_ERROR returned values are ignored
  examples/chip-tool/commands/clusters/CustomArgument.h
  examples/chip-tool/commands/clusters/DataModelLogger.h
  examples/chip-tool/commands/common/CHIPCommand.cpp
  examples/chip-tool/commands/common/RemoteDataModelLogger.cpp
  examples/chip-tool/commands/discover/DiscoverCommissionablesCommand.cpp
  examples/chip-tool/commands/interactive/InteractiveCommands.cpp
  examples/chip-tool/commands/pairing/PairingCommand.cpp
  examples/chip-tool/commands/payload/SetupPayloadGenerateCommand.cpp
  examples/common/websocket-server/WebSocketServer.cpp
  examples/common/websocket-server/WebSocketServer.h
  examples/placeholder/linux/InteractiveServer.cpp
Labels: tools, examples, review - approved

#25518 [QPG] Removal OPENTHREAD_CONFIG_CHILD_SUPERVISION_ENABLE flag
  examples/platform/qpg/project_include/OpenThreadConfig.h
Labels: review - approved

#25240 [Telink] Add Window app demo
  .github/workflows/examples-telink.yaml
  .vscode/tasks.json
  examples/window-app/telink/.gitignore
  examples/window-app/telink/CMakeLists.txt
  examples/window-app/telink/README.md
  examples/window-app/telink/include/AppConfig.h
  examples/window-app/telink/include/AppEvent.h
  examples/window-app/telink/include/AppTask.h
  examples/window-app/telink/include/CHIPProjectConfig.h
  examples/window-app/telink/include/WindowCovering.h
  examples/window-app/telink/prj.conf
  examples/window-app/telink/rpc.overlay
  examples/window-app/telink/src/AppTask.cpp
  examples/window-app/telink/src/WindowCovering.cpp
  examples/window-app/telink/src/ZclCallbacks.cpp
  examples/window-app/telink/src/main.cpp
  examples/window-app/telink/third_party/connectedhomeip
  scripts/build/build/targets.py
  scripts/build/builders/telink.py
  scripts/build/testdata/all_targets_linux_x64.txt
Labels: examples, scripts, vscode, github, workflows, review - approved

#25495 [Silabs] Update Docker for SLC
  integrations/docker/images/chip-build-efr32/Dockerfile
  integrations/docker/images/chip-build/version
Labels: integrations, review - approved

#25342 [K32W0] SDK 2.6.10 fixes & features
  examples/contact-sensor-app/nxp/k32w/k32w0/README.md
  examples/contact-sensor-app/nxp/k32w/k32w0/main/AppTask.cpp
  examples/lighting-app/nxp/k32w/k32w0/README.md
  examples/lighting-app/nxp/k32w/k32w0/main/AppTask.cpp
  examples/lock-app/nxp/k32w/k32w0/README.md
  examples/lock-app/nxp/k32w/k32w0/main/AppTask.cpp
  examples/platform/nxp/k32w/k32w0/app/ldscripts/chip-k32w0x-linker.ld
  scripts/tools/nxp/ota/README.md
  scripts/tools/nxp/ota/ota_image_tool.py
  src/platform/nxp/k32w/common/CHIPDevicePlatformRamStorageConfig.h
  src/platform/nxp/k32w/common/OTAImageProcessorImpl.cpp
  src/platform/nxp/k32w/common/OTAImageProcessorImpl.h
  src/platform/nxp/k32w/common/OTATlvProcessor.cpp
  src/platform/nxp/k32w/common/OTATlvProcessor.h
  src/platform/nxp/k32w/k32w0/BUILD.gn
  src/platform/nxp/k32w/k32w0/CHIPDevicePlatformConfig.h
  src/platform/nxp/k32w/k32w0/K32W0FactoryDataProvider.cpp
  src/platform/nxp/k32w/k32w0/K32W0FactoryDataProvider.h
  src/platform/nxp/k32w/k32w0/OTAApplicationProcessor.cpp
  src/platform/nxp/k32w/k32w0/OTAApplicationProcessor.h
  src/platform/nxp/k32w/k32w0/OTABootloaderProcessor.cpp
  src/platform/nxp/k32w/k32w0/OTABootloaderProcessor.h
  src/platform/nxp/k32w/k32w0/OTAFactoryDataProcessor.cpp
  src/platform/nxp/k32w/k32w0/OTAFactoryDataProcessor.h
  src/platform/nxp/k32w/k32w0/OTAHooks.cpp
  third_party/nxp/k32w0_sdk/k32w0_sdk.gni
Labels: examples, scripts, platform, review - approved

#25520 [PacketBufferHandle::IsNull] The response PacketBufferHandle is missi…
  src/protocols/echo/EchoServer.cpp
Labels: review - approved

#25471 [Java] Implement the trust store delegate API for customized device attestation
  examples/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/ChipClient.kt
  examples/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/attestation/ExampleAttestationTrustStoreDelegate.kt
  src/controller/java/AndroidDeviceControllerWrapper.cpp
  src/controller/java/AndroidDeviceControllerWrapper.h
  src/controller/java/AttestationTrustStoreBridge.cpp
  src/controller/java/AttestationTrustStoreBridge.h
  src/controller/java/BUILD.gn
  src/controller/java/CHIPDeviceController-JNI.cpp
  src/controller/java/src/chip/devicecontroller/AttestationTrustStoreDelegate.java
  src/controller/java/src/chip/devicecontroller/ChipDeviceController.java
Labels: examples, controller, review - pending, fast track

#25531 Add m5stack light example to smoke test prebuilts
  integrations/cloudbuild/smoke-test.yaml
Labels: integrations, fast track

#25512 [Silabs] Remove the duplicate included config from GSDK
  third_party/silabs/efr32_sdk.gni
Labels: review - approved

#25464 Android/tv-casting-app: Adding defensive checks in Discovery/record parsing
  examples/tv-casting-app/android/App/app/src/main/jni/com/chip/casting/DiscoveredNodeData.java
  examples/tv-casting-app/android/App/app/src/main/jni/com/chip/casting/NsdDiscoveryListener.java
  examples/tv-casting-app/android/App/app/src/main/jni/com/chip/casting/TvCastingApp.java
Labels: bug, examples, review - approved, tv-casting

#25521 [PacketBufferHandle::IsNull] Missing null check after calling PacketB…
  src/protocols/user_directed_commissioning/UserDirectedCommissioningClient.cpp
Labels: review - approved

#25416 [ICD] Subscription resumption should respect min interval on startup
  src/app/InteractionModelEngine.cpp
  src/app/InteractionModelEngine.h
Labels: app, review - approved, icd

#25534 [Bindings] Add a missing null check
  src/app/clusters/bindings/BindingManager.cpp
Labels: app, review - approved

#25457 [Android] Implement Write Attribute in CHIPTool
  examples/android/CHIPTool/app/build.gradle
  examples/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/clusterclient/WildcardFragment.kt
  examples/android/CHIPTool/app/src/main/res/layout/wildcard_fragment.xml
  examples/android/CHIPTool/app/src/main/res/layout/write_dialog.xml
  examples/android/CHIPTool/app/src/main/res/values/strings.xml
Labels: examples, review - approved

#25455 ESP32: move Wi-Fi initializition out of Matter stack Initializition
  docs/guides/esp32/setup_idf_chip.md
  examples/all-clusters-app/esp32/main/OpenThreadLaunch.cpp
  examples/all-clusters-app/esp32/main/include/OpenThreadLaunch.h
  examples/all-clusters-app/esp32/main/main.cpp
  examples/all-clusters-minimal-app/esp32/main/DeviceCallbacks.cpp
  examples/all-clusters-minimal-app/esp32/main/OpenThreadLaunch.cpp
  examples/all-clusters-minimal-app/esp32/main/include/OpenThreadLaunch.h
  examples/all-clusters-minimal-app/esp32/main/main.cpp
  examples/bridge-app/esp32/main/main.cpp
  examples/chef/esp32/main/main.cpp
  examples/light-switch-app/esp32/main/main.cpp
  examples/lighting-app/esp32/main/main.cpp
  examples/lock-app/esp32/main/main.cpp
  examples/ota-provider-app/esp32/main/main.cpp
  examples/ota-requestor-app/esp32/main/main.cpp
  examples/temperature-measurement-app/esp32/main/main.cpp
  src/platform/ESP32/ConfigurationManagerImpl.cpp
  src/platform/ESP32/ESP32Utils.cpp
  src/platform/ESP32/ESP32Utils.h
  src/platform/ESP32/OpenthreadLauncher.c
  src/platform/ESP32/OpenthreadLauncher.h
  src/platform/ESP32/PlatformManagerImpl.cpp
  src/platform/ESP32/ThreadStackManagerImpl.cpp
Labels: documentation, examples, platform, esp32, review - approved

#25273 [Ameba] Dynamic logging
  src/platform/Ameba/Logging.cpp
  src/platform/Ameba/Logging.h
Labels: platform, review - approved

#25267 [Bouffalolab] Fix crash issue caused by button action and fix UART tx/rx for command line
  examples/lighting-app/bouffalolab/common/AppTask.cpp
  examples/platform/bouffalolab/common/plat/uart.c
Labels: examples, platform, review - approved

#25524 Fix write attribute for ARM64 Apple Platform devices
  src/controller/python/chip/clusters/Attribute.py
  src/controller/python/chip/clusters/attribute.cpp
Labels: controller, review - approved

#25535 [chip-tool] Add some missing null checks
  examples/chip-tool/commands/clusters/ComplexArgument.h
  examples/chip-tool/commands/interactive/InteractiveCommands.cpp
Labels: tools, examples, review - approved

#25539 Fix matter_yamltests with Python 3.11
  scripts/py_matter_yamltests/matter_yamltests/parser_builder.py
Labels: scripts, review - approved

#25548 Fix the EFR32 version stamping
  third_party/silabs/BUILD.gn
Labels: review - approved

#25557 [Silabs] Fix a few issues preventing siwx917 platform builds.
  examples/lighting-app/silabs/SiWx917/include/CHIPProjectConfig.h
  examples/platform/silabs/SiWx917/SiWx917/rsi_if.c
  src/platform/silabs/KeyValueStoreManagerImpl.cpp
  src/platform/silabs/MigrationManager.cpp
  src/platform/silabs/MigrationManager.h
  src/platform/silabs/SiWx917/BUILD.gn
  src/platform/silabs/SiWx917/KeyValueStoreManagerImpl.cpp
  src/platform/silabs/efr32/BUILD.gn
Labels: examples, platform, review - approved

#25547 Switch to using WiFiVersionEnum instead of raw integers.
  src/app/clusters/wifi-network-diagnostics-server/wifi-network-diagnostics-server.cpp
  src/include/platform/DiagnosticDataProvider.h
  src/platform/Ameba/DiagnosticDataProviderImpl.cpp
  src/platform/Ameba/DiagnosticDataProviderImpl.h
  src/platform/Beken/DiagnosticDataProviderImpl.cpp
  src/platform/Beken/DiagnosticDataProviderImpl.h
  src/platform/ESP32/DiagnosticDataProviderImpl.cpp
  src/platform/ESP32/DiagnosticDataProviderImpl.h
  src/platform/Infineon/PSOC6/DiagnosticDataProviderImpl.cpp
  src/platform/Infineon/PSOC6/DiagnosticDataProviderImpl.h
  src/platform/Linux/ConnectivityManagerImpl.cpp
  src/platform/Linux/ConnectivityManagerImpl.h
  src/platform/Linux/DiagnosticDataProviderImpl.cpp
  src/platform/Linux/DiagnosticDataProviderImpl.h
  src/platform/bouffalolab/BL602/DiagnosticDataProviderImpl.cpp
  src/platform/bouffalolab/BL602/DiagnosticDataProviderImpl.h
  src/platform/nrfconnect/DiagnosticDataProviderImplNrf.cpp
  src/platform/nrfconnect/DiagnosticDataProviderImplNrf.h
  src/platform/nrfconnect/wifi/WiFiManager.cpp
  src/platform/nrfconnect/wifi/WiFiManager.h
  src/platform/nxp/mw320/ConnectivityManagerImpl.cpp
  src/platform/nxp/mw320/ConnectivityManagerImpl.h
  src/platform/nxp/mw320/DiagnosticDataProviderImpl.cpp
  src/platform/nxp/mw320/DiagnosticDataProviderImpl.h
  src/platform/silabs/DiagnosticDataProviderImpl.cpp
  src/platform/silabs/DiagnosticDataProviderImpl.h
  src/platform/webos/ConnectivityManagerImpl.cpp
  src/platform/webos/ConnectivityManagerImpl.h
  src/platform/webos/DiagnosticDataProviderImpl.cpp
  src/platform/webos/DiagnosticDataProviderImpl.h
Labels: platform, esp32, linux, nrf connect, app, review - approved

#25485 Use assertChipStackLockedByCurrentThread when accessing statics in src/system/SystemStats.cpp
  src/lib/core/tests/BUILD.gn
  src/platform/Darwin/BleConnectionDelegateImpl.mm
  src/setup_payload/tests/BUILD.gn
  src/system/SystemStats.cpp
Labels: system, setup payload, platform, darwin, lib, review - approved, core

#25564 ESP: Add support on all-clusters-app and lighting-app for ESP32-C6
  config/esp32/components/chip/CMakeLists.txt
  docs/guides/esp32/setup_idf_chip.md
  examples/all-clusters-app/esp32/CMakeLists.txt
  examples/all-clusters-app/esp32/main/CMakeLists.txt
  examples/all-clusters-app/esp32/main/Kconfig.projbuild
  examples/all-clusters-app/esp32/main/LEDWidget.cpp
  examples/all-clusters-app/esp32/main/include/LEDWidget.h
  examples/all-clusters-app/esp32/sdkconfig.defaults.esp32c6
  examples/lighting-app/esp32/CMakeLists.txt
  examples/lighting-app/esp32/sdkconfig.defaults.esp32c6
  src/platform/ESP32/ConnectivityManagerImpl.h
  src/platform/ESP32/ConnectivityManagerImpl_WiFi.cpp
Labels: documentation, examples, platform, esp32, config, review - approved

#25565 [ESP32] Fix the wifi version returning WiFiVersionEnum::kA in case of error
  src/platform/ESP32/DiagnosticDataProviderImpl.cpp
Labels: platform, esp32, review - approved

#25558 [Infineon PSoC6] Fix for Doorlock credentials update
  examples/lock-app/infineon/psoc6/include/LockManager.h
  examples/lock-app/infineon/psoc6/src/AppTask.cpp
  examples/lock-app/infineon/psoc6/src/LockManager.cpp
Labels: examples, review - approved

#25355 Respect updated DNS SD broadcast names in TV app
  examples/tv-casting-app/android/App/.idea/gradle.xml
  examples/tv-casting-app/android/App/app/src/main/java/com/chip/casting/app/CommissionerDiscoveryFragment.java
  examples/tv-casting-app/android/App/app/src/main/java/com/chip/casting/app/ConnectionFragment.java
  examples/tv-casting-app/android/App/app/src/main/jni/com/chip/casting/DiscoveredNodeData.java
  examples/tv-casting-app/android/App/app/src/main/jni/com/chip/casting/MatterError.java
  examples/tv-casting-app/android/App/app/src/main/jni/com/chip/casting/NsdDiscoveryListener.java
  examples/tv-casting-app/android/App/app/src/main/jni/com/chip/casting/TvCastingApp.java
  examples/tv-casting-app/android/App/app/src/main/res/layout/commissionable_player_list_item.xml
  examples/tv-casting-app/android/App/app/src/main/res/layout/fragment_commissioner_discovery.xml
  examples/tv-casting-app/darwin/TvCasting/TvCasting/CommissionerDiscoveryViewModel.swift
Labels: examples, review - approved, tv-casting

#25345 [ColorControl] Split (Enhanced)Hue and Saturation transitions
  src/app/clusters/color-control-server/color-control-server.cpp
  src/app/clusters/color-control-server/color-control-server.h
Labels: app, review - approved

#25517 [Telink] Move SetRouterPromotion(false) at the end of OpenCommissioningWindow
  src/app/server/CommissioningWindowManager.cpp
Labels: app, review - approved

#25502 Fixes review issue 25498
  examples/lock-app/silabs/SiWx917/include/LockManager.h
  examples/lock-app/silabs/SiWx917/src/LockManager.cpp
  examples/lock-app/silabs/efr32/include/LockManager.h
  examples/lock-app/silabs/efr32/src/LockManager.cpp
Labels: examples, review - approved

#25545 [ICD] Subscription resumption logic should skip subscriptions created during startup wait time
  src/app/InteractionModelEngine.cpp
Labels: app, review - approved

#25499 [Silabs] Change freertos tick to 1024Hz
  examples/lighting-app/silabs/SiWx917/src/LightingManager.cpp
  examples/lighting-app/silabs/efr32/src/LightingManager.cpp
  examples/lock-app/silabs/SiWx917/src/LockManager.cpp
  examples/lock-app/silabs/efr32/src/LockManager.cpp
  examples/platform/silabs/Rpc.cpp
  examples/platform/silabs/SiWx917/BaseApplication.cpp
  examples/platform/silabs/efr32/BaseApplication.cpp
  examples/platform/silabs/efr32/FreeRTOSConfig.h
  examples/platform/silabs/efr32/wf200/wf200_init.c
  examples/platform/silabs/matter_shell.cpp
  examples/window-app/silabs/SiWx917/src/WindowAppImpl.cpp
  examples/window-app/silabs/efr32/src/WindowAppImpl.cpp
  src/platform/silabs/SiWx917/BLEManagerImpl.cpp
  src/platform/silabs/SiWx917/wifi/wfx_host_events.h
  src/platform/silabs/efr32/BLEManagerImpl.cpp
  src/platform/silabs/efr32/rs911x/BLEManagerImpl.cpp
  src/platform/silabs/efr32/wifi/wfx_host_events.h
Labels: examples, platform, review - approved

#25580 Take connection operations off the UI thread (#122)
  examples/tv-casting-app/android/App/app/src/main/java/com/chip/casting/app/ConnectionFragment.java
Labels: examples, review - approved

#25597 Android: Ensuring DNS-SD service is discoverable before calling NsdManager.resolveService()
  src/platform/android/BUILD.gn
  src/platform/android/java/chip/platform/NsdManagerServiceResolver.java
  src/platform/android/java/chip/platform/NsdServiceFinderAndResolver.java
Labels: platform, review - approved

#25594 Remove legacy ZCL type for placeholder app.
  examples/placeholder/linux/apps/app1/config.matter
  examples/placeholder/linux/apps/app1/config.zap
  examples/placeholder/linux/apps/app2/config.matter
  examples/placeholder/linux/apps/app2/config.zap
Labels: examples, review - approved

#25592 [ColorControl] Step mode Stop doesn't exist. return error on a stepmode = 0
  src/app/clusters/color-control-server/color-control-server.cpp
  src/app/clusters/color-control-server/color-control-server.h
Labels: app, review - approved

#25595 When retrying CASE during commissioning, extend the fail-safe.
  src/app/CASEClient.cpp
  src/app/CASEClient.h
  src/app/CASESessionManager.cpp
  src/app/CASESessionManager.h
  src/app/OperationalSessionSetup.cpp
  src/app/OperationalSessionSetup.h
  src/controller/CHIPDeviceController.cpp
  src/controller/CHIPDeviceController.h
  src/protocols/secure_channel/CASESession.cpp
  src/protocols/secure_channel/CASESession.h
Labels: controller, app, review - approved

#25600 Fix run_testsuite.py so it works if not all of the apps are specified.
  scripts/tests/chiptest/test_definition.py
Labels: scripts, review - approved

#25505 Fix java im sub crash
  examples/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/clusterclient/OnOffClientFragment.kt
  examples/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/clusterclient/SensorClientFragment.kt
  examples/chip-tool/commands/clusters/SubscriptionsCommands.h
  examples/java-matter-controller/BUILD.gn
  examples/java-matter-controller/args.gni
  examples/java-matter-controller/java/src/com/matter/controller/Main.kt
  examples/java-matter-controller/java/src/com/matter/controller/commands/pairing/PairOnNetworkLongImSubscribeCommand.kt
  examples/tv-casting-app/linux/CastingUtils.cpp
  src/app/DeviceProxy.h
  src/app/InteractionModelEngine.cpp
  src/app/OperationalSessionSetup.h
  src/controller/CHIPCluster.h
  src/controller/CommissioneeDeviceProxy.h
  src/controller/TypedReadCallback.h
  src/controller/java/AndroidCallbacks.cpp
  src/controller/java/CHIPDeviceController-JNI.cpp
  src/controller/java/src/chip/devicecontroller/ChipDeviceController.java
  src/controller/java/src/chip/devicecontroller/SubscriptionEstablishedCallback.java
  src/controller/java/templates/CHIPReadCallbacks.zapt
  src/controller/java/templates/ChipClusters-java.zapt
  src/controller/java/zap-generated/CHIPReadCallbacks.h
  src/controller/java/zap-generated/chip/devicecontroller/ChipClusters.java
  src/controller/tests/data_model/TestRead.cpp
  src/lib/support/JniReferences.cpp
  src/lib/support/JniReferences.h
Labels: tools, examples, lib, controller, app, review - approved, support

#25598 Reduce priority of factory reset task
  src/platform/silabs/efr32/ConfigurationManagerImpl.cpp
Labels: platform, review - approved

#25591 ipv4 build arg moved and update data modal for lighting app
  examples/lighting-app/silabs/SiWx917/BUILD.gn
  examples/lighting-app/silabs/efr32/build_for_wifi_args.gni
  examples/platform/silabs/efr32/BUILD.gn
  third_party/silabs/SiWx917_sdk.gni
  third_party/silabs/efr32_sdk.gni
Labels: examples, platform, review - approved

#25567 [ESP32] fix factory partition tool to only generate discriminator as well
  scripts/tools/generate_esp32_chip_factory_bin.py
Labels: scripts, review - approved

#25378 Allow simulated apps to have separate templates.
  examples/placeholder/linux/apps/app1/templates/templates.json
  examples/placeholder/linux/apps/app2/templates/templates.json
  examples/placeholder/templates/templates.json
  scripts/tools/zap_regen_all.py
Labels: examples, scripts, review - approved

#25625 Fix Java controller lock in new/delete for callbacks
  src/controller/java/AndroidCallbacks-JNI.cpp
Labels: controller, review - approved

#25575 Update android_building.md
  docs/guides/android_building.md
Labels: documentation, review - approved

#25582 [Android] Remove unused code in CHIPTool App
  examples/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/CHIPToolActivity.kt
Labels: examples, review - approved

#25627 Disable the shared-reviwers-signify group for now.
  .pullapprove.yml
Labels: review - approved

#25622 [Silabs][SiWx917] Fix log disabling and the lock-app build
  examples/lock-app/silabs/SiWx917/include/LockManager.h
  src/platform/silabs/Logging.cpp
  third_party/silabs/SiWx917_sdk.gni
Labels: examples, platform, review - approved

#25635 Reducing delay between UDC requests from 1000ms to 100ms
  src/protocols/user_directed_commissioning/UserDirectedCommissioningClient.cpp
Labels: review - approved

#25636 add kotlin IM read test and enable im test in CI
  .github/workflows/tests.yaml
  examples/java-matter-controller/BUILD.gn
  examples/java-matter-controller/java/src/com/matter/controller/Main.kt
  examples/java-matter-controller/java/src/com/matter/controller/commands/common/FutureResult.java
  examples/java-matter-controller/java/src/com/matter/controller/commands/pairing/PairOnNetworkLongImInvokeCommand.kt
  examples/java-matter-controller/java/src/com/matter/controller/commands/pairing/PairOnNetworkLongImReadCommand.kt
  examples/java-matter-controller/java/src/com/matter/controller/commands/pairing/PairOnNetworkLongImWriteCommand.kt
Labels: examples, github, workflows, review - approved

#23921 Esp32/ble controller
  config/esp32/components/chip/CMakeLists.txt
  config/esp32/components/chip/Kconfig
  src/platform/ESP32/BLEManagerImpl.h
  src/platform/ESP32/BUILD.gn
  src/platform/ESP32/CHIPDevicePlatformConfig.h
  src/platform/ESP32/CHIPDevicePlatformEvent.h
  src/platform/ESP32/ChipDeviceScanner.h
  src/platform/ESP32/bluedroid/BLEManagerImpl.cpp
  src/platform/ESP32/bluedroid/ChipDeviceScanner.cpp
  src/platform/ESP32/nimble/BLEManagerImpl.cpp
  src/platform/ESP32/nimble/ChipDeviceScanner.cpp
  src/platform/ESP32/nimble/blecent.h
  src/platform/ESP32/nimble/misc.c
  src/platform/ESP32/nimble/peer.c
Labels: platform, esp32, config, review - pending

#25644 Fix kotlin test CI and android TV cast example CI
  .github/workflows/tests.yaml
  examples/tv-casting-app/android/App/app/src/main/jni/cpp/TvCastingApp-JNI.cpp
  scripts/tests/java/im_test.py
  scripts/tests/run_java_test.py
Labels: examples, scripts, github, workflows, review - approved

#25656 Remove asserts for Chip Task lock in SystemStats.cpp
  src/system/SystemStats.cpp
Labels: hotfix, system, review - pending

#25277 [nrfconnect] Add to flake8 in workflow and fix python files (part #25193)
  .flake8
  scripts/build/builders/nrf.py
  scripts/flashing/nrfconnect_firmware_utils.py
  scripts/setup/nrfconnect/update_ncs.py
  scripts/tools/nrfconnect/generate_nrfconnect_chip_factory_data.py
  scripts/tools/nrfconnect/nrfconnect_generate_partition.py
  scripts/tools/nrfconnect/tests/test_generate_factory_data.py
Labels: scripts, review - approved

#25639 [Java] Add unit tests for TLV kotlin library
  examples/java-matter-controller/BUILD.gn
  src/controller/java/BUILD.gn
  src/controller/java/tests/chip/tlv/TlvReadWriteTest.kt
  src/controller/java/tests/chip/tlv/TlvReaderTest.kt
  src/controller/java/tests/chip/tlv/TlvWriterTest.kt
  third_party/java_deps/BUILD.gn
  third_party/java_deps/set_up_java_deps.sh
Labels: examples, controller, review - approved

#25641 [Bouffalolab] Update resource configuration
  examples/lighting-app/bouffalolab/bl602/BUILD.gn
  examples/lighting-app/bouffalolab/bl602/CHIPProjectConfig.h
  examples/lighting-app/bouffalolab/bl702/CHIPProjectConfig.h
  src/lwip/bl702/lwipopts.h
  src/platform/bouffalolab/BL702/ConfigurationManagerImpl.cpp
  src/platform/bouffalolab/BL702/SystemPlatformConfig.h
  third_party/bouffalolab/bl602/bl_iot_sdk.gni
Labels: examples, platform, review - approved, lwip

#25662 [ColorControl]Prevent any chance of division by 0
  src/app/clusters/color-control-server/color-control-server.cpp
Labels: app, review - approved

#25669 Adding in build step to strip debug symbols
  .github/.wordlist.txt
  examples/tv-casting-app/darwin/MatterTvCastingBridge/MatterTvCastingBridge.xcodeproj/project.pbxproj
  examples/tv-casting-app/darwin/MatterTvCastingBridge/strip_debug_symbols.sh
  examples/tv-casting-app/darwin/TvCasting/README.md
  examples/tv-casting-app/darwin/TvCasting/TvCasting.xcodeproj/xcshareddata/xcschemes/TvCasting Release.xcscheme
Labels: examples, review - approved

#25666 Improve Java/Jni IM read/subscribe
  examples/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/clusterclient/WildcardFragment.kt
  examples/java-matter-controller/java/src/com/matter/controller/commands/pairing/PairOnNetworkLongImReadCommand.kt
  examples/java-matter-controller/java/src/com/matter/controller/commands/pairing/PairOnNetworkLongImSubscribeCommand.kt
  src/controller/java/AndroidCallbacks-JNI.cpp
  src/controller/java/AndroidCallbacks.cpp
  src/controller/java/AndroidCallbacks.h
  src/controller/java/CHIPDeviceController-JNI.cpp
  src/controller/java/src/chip/devicecontroller/ChipDeviceController.java
Labels: examples, controller, review - approved

#25657 Use ArraySize where needed in src/app.
  src/app/tests/TestEventLogging.cpp
  src/app/tests/TestEventLoggingNoUTCTime.cpp
  src/app/tests/TestEventOverflow.cpp
  src/app/tests/TestFabricScopedEventLogging.cpp
  src/app/tests/integration/chip_im_responder.cpp
  src/app/util/attribute-storage.h
Labels: app, review - approved, tests

#25667 Extend our fail-safe a bit before we try to enable wifi/thread networks.
  src/app/DeviceProxy.h
  src/controller/AutoCommissioner.cpp
  src/controller/CHIPDeviceController.cpp
  src/controller/CHIPDeviceController.h
  src/controller/CommissioneeDeviceProxy.cpp
  src/controller/CommissioningDelegate.cpp
  src/controller/CommissioningDelegate.h
  src/controller/python/OpCredsBinding.cpp
  src/controller/python/test/test_scripts/commissioning_failure_test.py
Labels: controller, app, review - approved

#25670 [Silabs][SiWx917]Re-add enable_wifi_ipv4 arg in ligthing-app
  examples/lighting-app/silabs/SiWx917/BUILD.gn
Labels: examples, review - approved

#25613 [genio] remove unnecessary dependencies that cause a build failure
  src/platform/mt793x/BUILD.gn
Labels: platform, review - approved

#25626 Fix various mis-alignments wrt spec in cluster XML.
  src/app/zap-templates/zcl/data-model/chip/boolean-state-cluster.xml
  src/app/zap-templates/zcl/data-model/chip/fixed-label-cluster.xml
  src/app/zap-templates/zcl/data-model/chip/network-commissioning-cluster.xml
  src/app/zap-templates/zcl/data-model/chip/occupancy-sensing-cluster.xml
  src/app/zap-templates/zcl/data-model/chip/operational-credentials-cluster.xml
  src/app/zap-templates/zcl/data-model/chip/pressure-measurement-cluster.xml
  src/app/zap-templates/zcl/data-model/chip/relative-humidity-measurement-cluster.xml
  src/app/zap-templates/zcl/data-model/chip/temperature-measurement-cluster.xml
  src/app/zap-templates/zcl/data-model/chip/user-label-cluster.xml
Labels: app, review - approved

#25663 Reduce CPU usage of chip-console
  examples/common/pigweed/rpc_console/py/chip_rpc/console.py
Labels: examples, review - approved

#25676 [Android] Fix Crash when wildcard subscribe
  src/controller/java/CHIPDeviceController-JNI.cpp
Labels: controller, review - approved

#25683 Remove "reportable":0 from Matter .zap files, again.
  examples/all-clusters-app/all-clusters-common/all-clusters-app.zap
  examples/all-clusters-minimal-app/all-clusters-common/all-clusters-minimal-app.zap
  examples/chef/devices/rootnode_colortemperaturelight_hbUnzYVeyn.matter
  examples/chef/devices/rootnode_colortemperaturelight_hbUnzYVeyn.zap
  examples/lighting-app/nxp/zap/lighting-on-off.matter
  examples/lighting-app/nxp/zap/lighting-on-off.zap
  examples/lock-app/lock-common/lock-app.zap
  examples/placeholder/linux/apps/app1/config.zap
  examples/placeholder/linux/apps/app2/config.zap
  scripts/tools/zap/tests/inputs/all-clusters-app.zap
  src/controller/data_model/controller-clusters.matter
  src/controller/data_model/controller-clusters.zap
  src/controller/java/zap-generated/chip/devicecontroller/ChipClusters.java
  src/controller/python/chip/clusters/CHIPClusters.py
Labels: examples, scripts, controller, review - approved

#25577 Remove DLL_LOCAL and DLL_IMPORT
  src/lib/support/DLLUtil.h
  src/lib/support/logging/CHIPLogging.h
  src/platform/Darwin/Logging.h
Labels: platform, darwin, lib, review - approved, support

#25675 [Silabs]Removed ipv4 flag from example build gn files and added in siw917 sdk
  examples/light-switch-app/silabs/SiWx917/BUILD.gn
  examples/lighting-app/silabs/SiWx917/BUILD.gn
  examples/lock-app/silabs/SiWx917/BUILD.gn
  examples/window-app/silabs/SiWx917/BUILD.gn
  third_party/silabs/SiWx917_sdk.gni
Labels: examples, review - approved

#25660 [Examples] Remove identical condition
  examples/pump-app/nrfconnect/main/PumpManager.cpp
  examples/pump-controller-app/nrfconnect/main/PumpManager.cpp
Labels: examples, review - approved

#25619 [Telink] Use project related overlays.
  config/telink/chip-module/CMakeLists.txt
  examples/all-clusters-app/telink/CMakeLists.txt
  examples/all-clusters-minimal-app/telink/CMakeLists.txt
  examples/contact-sensor-app/telink/CMakeLists.txt
  examples/light-switch-app/telink/CMakeLists.txt
  examples/lighting-app/telink/CMakeLists.txt
  examples/lock-app/telink/CMakeLists.txt
  examples/ota-requestor-app/telink/CMakeLists.txt
  examples/pump-app/telink/CMakeLists.txt
  examples/pump-controller-app/telink/CMakeLists.txt
  examples/temperature-measurement-app/telink/CMakeLists.txt
  examples/thermostat/telink/CMakeLists.txt
  examples/window-app/telink/CMakeLists.txt
  src/platform/telink/tlsr9518adk80d.overlay
Labels: examples, platform, config, review - pending, telink, fast track

#25691 remove unused zcl xmls
  .github/workflows/tests.yaml
  src/app/zap-templates/zcl/data-model/all.xml
  src/app/zap-templates/zcl/data-model/silabs/LICENSE.txt
  src/app/zap-templates/zcl/data-model/silabs/README.md
  src/app/zap-templates/zcl/data-model/silabs/ha-devices.xml
  src/app/zap-templates/zcl/data-model/silabs/lo-devices.xml
  src/app/zap-templates/zcl/data-model/silabs/sample-extensions.xml
  src/app/zap-templates/zcl/data-model/silabs/zll-devices.xml
  src/app/zap-templates/zcl/zcl-with-test-extensions.json
  src/app/zap-templates/zcl/zcl.json
Labels: app, github, workflows, review - approved

#25697 [Silabs] Do not call nvm3_repack() from the FreeRTOS idle hook
  examples/light-switch-app/silabs/efr32/README.md
  examples/lighting-app/silabs/efr32/README.md
  examples/lock-app/silabs/efr32/README.md
  examples/platform/silabs/SiWx917/OTAConfig.cpp
  examples/platform/silabs/SiWx917/matter_config.cpp
  examples/platform/silabs/efr32/OTAConfig.cpp
  examples/platform/silabs/efr32/matter_config.cpp
  examples/thermostat/silabs/efr32/README.md
  examples/window-app/silabs/efr32/README.md
Labels: examples, platform, review - approved

#25714 Make sure we don't create MTRDevice/MTRDeviceController cycles we can't break.
  src/darwin/Framework/CHIP/MTRDeviceController.mm
Labels: darwin, review - pending, fast track

#25713 [Silabs] Adds support for GSDK LWIP library
  scripts/examples/gn_efr32_example.sh
  src/platform/silabs/SiWx917/wifi_args.gni
  src/platform/silabs/efr32/wifi_args.gni
  third_party/silabs/efr32_sdk.gni
  third_party/silabs/lwip.gni
Labels: scripts, platform, fast track

#25716 Trigger subscription re-establishment in MTRDevice when we see operational advertisements.
  src/darwin/Framework/CHIP/MTRDevice.mm
Labels: darwin, review - pending, fast track

#25665 tv-casting-app: Allow for a way for Matter TV casting cache to be purged
  examples/tv-casting-app/android/App/app/src/main/java/com/chip/casting/app/CommissionerDiscoveryFragment.java
  examples/tv-casting-app/android/App/app/src/main/jni/com/chip/casting/TvCastingApp.java
  examples/tv-casting-app/android/App/app/src/main/jni/cpp/TvCastingApp-JNI.cpp
  examples/tv-casting-app/android/App/app/src/main/res/layout/fragment_commissioner_discovery.xml
  examples/tv-casting-app/darwin/MatterTvCastingBridge/MatterTvCastingBridge/CastingServerBridge.h
  examples/tv-casting-app/darwin/MatterTvCastingBridge/MatterTvCastingBridge/CastingServerBridge.mm
  examples/tv-casting-app/darwin/TvCasting/TvCasting/StartFromCacheView.swift
  examples/tv-casting-app/darwin/TvCasting/TvCasting/StartFromCacheViewModel.swift
  examples/tv-casting-app/tv-casting-common/include/CastingServer.h
  examples/tv-casting-app/tv-casting-common/src/CastingServer.cpp
  examples/tv-casting-app/tv-casting-common/src/PersistenceManager.cpp
Labels: examples, review - approved, tv-casting

#25655 [Telink] Fix Factory Data build and handle it by CI
  .github/workflows/examples-telink.yaml
  config/telink/chip-module/generate_factory_data.cmake
  examples/lighting-app/telink/factory_data.overlay
  scripts/build/build/targets.py
  scripts/build/builders/telink.py
  scripts/build/testdata/all_targets_linux_x64.txt
Labels: examples, scripts, config, github, workflows, review - approved

#25701 modified window app button press behavior
  examples/window-app/common/include/WindowApp.h
  examples/window-app/common/src/WindowApp.cpp
Labels: examples, review - approved

#25728 doc: nrf_connect: update nRF7002 DK links & image
  examples/all-clusters-app/nrfconnect/README.md
  examples/all-clusters-minimal-app/nrfconnect/README.md
  examples/light-switch-app/nrfconnect/README.md
  examples/lighting-app/nrfconnect/README.md
  examples/lock-app/nrfconnect/README.md
  examples/pigweed-app/nrfconnect/README.md
  examples/platform/nrfconnect/doc/images/nRF7002-DK_Front-small.png
  examples/platform/nrfconnect/doc/images/nrf7002dk.jpg
  examples/pump-app/nrfconnect/README.md
  examples/pump-controller-app/nrfconnect/README.md
  examples/window-app/nrfconnect/README.md
Labels: examples, platform, review - approved

#25736 Use a longer backoff for CASE retries.
  src/app/OperationalSessionSetup.cpp
  src/protocols/secure_channel/CASESession.cpp
  src/protocols/secure_channel/CASESession.h
Labels: app, review - approved

#25725 [Tizen] Do not fail if BLE is already connected
  src/platform/Tizen/BLEManagerImpl.cpp
Labels: platform, review - approved, tizen

#25730 use environment variables for EFR SDK root
  scripts/build/builders/efr32.py
Labels: scripts, review - approved

#25668 Default to use an IPV4 address
  examples/tv-casting-app/tv-casting-common/include/CastingServer.h
  examples/tv-casting-app/tv-casting-common/src/CastingServer.cpp
Labels: examples, review - approved

#25571 [Ameba] ClearWiFiConfig bug fix
  src/platform/Ameba/AmebaUtils.cpp
Labels: platform, review - approved

#25694 [Silabs] DIC integration changes under DIC flag and DIC macro
  examples/platform/silabs/SiWx917/BUILD.gn
  examples/platform/silabs/SiWx917/FreeRTOSConfig.h
  examples/platform/silabs/efr32/BUILD.gn
  examples/platform/silabs/efr32/FreeRTOSConfig.h
  src/lwip/silabs/lwipopts-wf200.h
  src/platform/silabs/SiWx917/siwx917-chip-mbedtls-config.h
  src/platform/silabs/efr32/efr32-chip-mbedtls-config.h
  src/platform/silabs/efr32/psa_crypto_config.h
  third_party/silabs/SiWx917_sdk.gni
  third_party/silabs/efr32_sdk.gni
  third_party/silabs/silabs_board.gni
Labels: examples, platform, review - approved, lwip

#25741 Update Matter.framework availability annotations.
  src/darwin/Framework/CHIP/MTRBaseDevice.h
  src/darwin/Framework/CHIP/MTRDevice.h
  src/darwin/Framework/CHIP/MTRDeviceController+XPC.h
  src/darwin/Framework/CHIP/MTRDeviceControllerDelegate.h
  src/darwin/Framework/CHIP/MTRFabricInfo.h
  src/darwin/Framework/CHIP/templates/availability.yaml
  src/darwin/Framework/CHIP/zap-generated/MTRBaseClusters.h
  src/darwin/Framework/CHIP/zap-generated/MTRClusterConstants.h
  src/darwin/Framework/CHIP/zap-generated/MTRCommandPayloadsObjc.h
  src/darwin/Framework/CHIP/zap-generated/MTRStructsObjc.h
Labels: darwin, review - pending, fast track

#25748 [ESP32] fix build error import from PR #25289
  src/platform/ESP32/ESP32DeviceInfoProvider.cpp
Labels: review - approved, fast track

#25749 Fix android build error
  examples/tv-casting-app/tv-casting-common/src/CastingServer.cpp
Labels: examples, hotfix

#25735 Fixes #25733 - Add External Attribute callbacks for static endpoints when ContentAppPlatform is enabled
  src/app/app-platform/ContentAppPlatform.cpp
  src/app/app-platform/ContentAppPlatform.h
Labels: app, review - approved

#25698 Enabling full-android build on pull requests
  .github/workflows/smoketest-android.yaml
Labels: github, workflows, review - approved

#25721 Update android_building.md
  docs/guides/android_building.md
Labels: documentation, fast track

#25661 Update simulated README and fix gn_build_test_example template path.
  docs/guides/simulated_device_linux.md
  scripts/examples/gn_build_test_example.sh
Labels: documentation, scripts, review - approved

#25640 [Bouffalolab] Update application lighting operation in lighting-app
  examples/lighting-app/bouffalolab/common/AppTask.cpp
  examples/lighting-app/bouffalolab/common/AppTask.h
  examples/platform/bouffalolab/bl602/ldscripts/flash_rom.ld
  examples/platform/bouffalolab/common/plat/platform.cpp
  src/platform/bouffalolab/BL602/NetworkCommissioningDriver.cpp
  src/platform/bouffalolab/BL602/PlatformManagerImpl.h
  src/platform/bouffalolab/BL702/PlatformManagerImpl.h
  third_party/bouffalolab/bl602/bl_iot_sdk.gni
Labels: examples, platform, review - approved

#25646 [Android] Change TLV Parsing variable (Int -> Long, UInt -> ULong)
  examples/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/clusterclient/WildcardFragment.kt
Labels: examples, review - pending, fast track

#25515 [Linux] Fix device name for Linux contact sensor
  examples/contact-sensor-app/linux/include/CHIPProjectAppConfig.h
Labels: examples, review - approved, fast track

#25576 Resolve race condition before UserPrompt in simulated tests.
  examples/placeholder/linux/include/TestCommand.h
Labels: examples, review - approved

#25511 [Android] Support random pincode
  examples/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/clusterclient/MultiAdminClientFragment.kt
  src/controller/java/CHIPDeviceController-JNI.cpp
  src/controller/java/src/chip/devicecontroller/ChipDeviceController.java
Labels: examples, controller, review - pending, fast track

#25729 [Silabs] Update silabs CI
  .github/workflows/examples-efr32.yaml
  .gitmodules
  build_overrides/ot_efr32.gni
  examples/build_overrides/ot_efr32.gni
  scripts/build/builders/efr32.py
  scripts/checkout_submodules.py
  scripts/examples/gn_efr32_example.sh
  third_party/openthread/platforms/efr32/BUILD.gn
  third_party/silabs/BUILD.gn
  third_party/silabs/efr32_sdk.gni
  third_party/silabs/lwip.gni
Labels: examples, scripts, github, workflows, gn, review - approved

#25692 [Telink] Add to flake8 in workflow and fix python files (part #25193)
  .flake8
  scripts/tools/telink/mfg_tool.py
Labels: scripts, review - approved

#25760 [Ameba] Reboot after factory reset
  src/platform/Ameba/ConfigurationManagerImpl.cpp
Labels: platform, review - pending, fast track
