Repository project-chip/connectedhomeip, pull requests merged in 2023-09, with the labels that each got.

#28998 Allow per-controller control of PAAs and CD signing keys.
  src/darwin/Framework/CHIP/MTRDeviceController.mm
  src/darwin/Framework/CHIP/MTRDeviceControllerFactory.mm
  src/darwin/Framework/CHIP/MTRDeviceControllerFactory_Internal.h
  src/darwin/Framework/CHIP/MTRDeviceControllerStartupParameters.h
  src/darwin/Framework/CHIP/MTRDeviceControllerStartupParams.mm
  src/darwin/Framework/CHIP/MTRDeviceControllerStartupParams_Internal.h
Labels: darwin, review - pending, fast track

#29003 Address some review comments on Darwin controller data store.
  src/darwin/Framework/CHIP/MTRDeviceControllerDataStore.mm
Labels: review - pending, fast track

#28999 Factor out per-controller storage into test helper.
  src/darwin/Framework/CHIPTests/MTRPerControllerStorageTests.m
  src/darwin/Framework/CHIPTests/TestHelpers/MTRTestPerControllerStorage.h
  src/darwin/Framework/CHIPTests/TestHelpers/MTRTestPerControllerStorage.m
  src/darwin/Framework/Matter.xcodeproj/project.pbxproj
Labels: darwin, fast track

#27615 [ICD] Add Check-In payload generation
  src/crypto/CHIPCryptoPAL.h
  src/protocols/secure_channel/BUILD.gn
  src/protocols/secure_channel/CheckinMessage.cpp
  src/protocols/secure_channel/CheckinMessage.h
  src/protocols/secure_channel/tests/BUILD.gn
  src/protocols/secure_channel/tests/TestCheckinMsg.cpp
Labels: crypto, secure channel, review - approved

#28902 TC-IDM-10.1: add checks for no unexpected global/standard range attributes
  src/python_testing/TC_DeviceBasicComposition.py
Labels: review - approved

#29013 Fix standard naming for ember status codes
  src/app/util/af-enums.h
Labels: app, review - approved

#29006 Fixed typo in the zap_cluster_list.json
  src/app/zap_cluster_list.json
Labels: review - pending, fast track

#28993 Fix/post pr 28707 comments
  examples/all-clusters-app/all-clusters-common/include/air-quality-instance.h
  examples/all-clusters-app/all-clusters-common/src/air-quality-instance.cpp
  examples/all-clusters-app/linux/AllClustersCommandDelegate.cpp
  examples/all-clusters-app/linux/AllClustersCommandDelegate.h
  src/app/clusters/air-quality-server/air-quality-server.cpp
  src/app/clusters/air-quality-server/air-quality-server.h
Labels: examples, app, review - approved

#28991 Fix failing to find Optional class issue
  src/lib/support/JniReferences.cpp
Labels: lib, review - pending, fast track, support

#29001 Fix UnsatisfiedLinkError on QrCode read
  src/controller/java/src/chip/onboardingpayload/OnboardingPayloadParser.kt
Labels: controller, review - pending, fast track

#28989 Fix incorrect loop condition in HasValidEventPathForEndpointAndCluster.
  src/app/InteractionModelEngine.cpp
Labels: app, review - pending, fast track

#28794 TC-DA-1.4,1.8: Script for test plan and VS for commissioner DUT
  credentials/development/gen_commissioner_dut_test_plan_table.py
Labels: review - pending, fast track

#29000 Allow advertising multiple operational identities on the same fabric on Darwin.
  src/platform/Darwin/DnssdContexts.cpp
  src/platform/Darwin/DnssdImpl.cpp
  src/platform/Darwin/DnssdImpl.h
Labels: platform, darwin, review - pending, fast track

#28926 [TC-IDM-10.1] Verify invalid/not allowed attribute and command id ranges
  src/python_testing/TC_IDM_10_1.py
Labels: review - approved

#29018 Add per-controller control over operational advertising to Matter.framework.
  src/darwin/Framework/CHIP/MTRDeviceControllerFactory.mm
  src/darwin/Framework/CHIP/MTRDeviceControllerStartupParameters.h
  src/darwin/Framework/CHIP/MTRDeviceControllerStartupParams.mm
  src/darwin/Framework/CHIPTests/MTRCertificateValidityTests.m
  src/darwin/Framework/CHIPTests/MTRControllerAdvertisingTests.m
  src/darwin/Framework/Matter.xcodeproj/project.pbxproj
Labels: darwin, review - pending, fast track

#28769 ESP32: Set the InterfaceId to Wi-Fi Station netif by default for platform mDNS
  src/platform/ESP32/WiFiDnssdImpl.cpp
Labels: platform, esp32, review - approved

#29014 Allow specifying per-controller OTA delegates in Darwin.framework.
  src/darwin/Framework/CHIP/MTRDeviceController.mm
  src/darwin/Framework/CHIP/MTRDeviceControllerFactory.mm
  src/darwin/Framework/CHIP/MTRDeviceControllerStartupParameters.h
  src/darwin/Framework/CHIP/MTRDeviceControllerStartupParams.mm
  src/darwin/Framework/CHIP/MTRDeviceControllerStartupParams_Internal.h
  src/darwin/Framework/CHIP/MTRDeviceController_Internal.h
  src/darwin/Framework/CHIP/MTROTAProviderDelegateBridge.h
  src/darwin/Framework/CHIP/MTROTAProviderDelegateBridge.mm
Labels: darwin, review - pending, fast track

#29020 [Silabs]Re-enable some compilation flags
  examples/platform/silabs/efr32/rs911x/rsi_if.c
  src/platform/silabs/SiWx917/wifi/wfx_host_events.h
  src/platform/silabs/efr32/wifi/wfx_host_events.h
  third_party/silabs/efr32_sdk.gni
Labels: examples, platform, review - approved, silabs

#28786 New op creds yaml test
  examples/darwin-framework-tool/templates/tests/ciTests.json
  scripts/tests/chiptest/__init__.py
  src/app/tests/suites/certification/Test_TC_OPCREDS_3_7.yaml
  src/app/tests/suites/ciTests.json
Labels: examples, scripts, darwin, app, review - pending, fast track, tests

#29009 Change waitForReport to manual in TC-SMOKECO
  src/app/tests/suites/certification/Test_TC_SMOKECO_2_2.yaml
  src/app/tests/suites/certification/Test_TC_SMOKECO_2_3.yaml
  src/app/tests/suites/certification/Test_TC_SMOKECO_2_4.yaml
  src/app/tests/suites/certification/Test_TC_SMOKECO_2_5.yaml
  src/app/tests/suites/certification/Test_TC_SMOKECO_2_6.yaml
Labels: app, review - pending, fast track, tests

#29023 Remove SED related code from SDK
  examples/platform/silabs/SiWx917/SiWx917/sl_wifi_if.c
  examples/pump-app/silabs/src/AppTask.cpp
  examples/window-app/silabs/src/AppTask.cpp
  src/app/FailSafeContext.cpp
  src/app/server/CommissioningWindowManager.cpp
  src/app/server/CommissioningWindowManager.h
  src/include/platform/ConnectivityManager.h
  src/include/platform/ThreadStackManager.h
  src/include/platform/internal/GenericConnectivityManagerImpl_Thread.h
  src/messaging/ExchangeContext.cpp
  src/messaging/ReliableMessageMgr.cpp
  src/messaging/ReliableMessageProtocolConfig.cpp
  src/platform/Linux/ThreadStackManagerImpl.cpp
  src/platform/Linux/ThreadStackManagerImpl.h
  src/platform/OpenThread/GenericThreadStackManagerImpl_OpenThread.h
  src/platform/OpenThread/GenericThreadStackManagerImpl_OpenThread.hpp
  src/platform/nrfconnect/wifi/ConnectivityManagerImplWiFi.cpp
  src/platform/nrfconnect/wifi/ConnectivityManagerImplWiFi.h
  src/platform/qpg/ThreadStackManagerImpl.cpp
  src/platform/qpg/ThreadStackManagerImpl.h
  src/platform/webos/ThreadStackManagerImpl.cpp
  src/platform/webos/ThreadStackManagerImpl.h
Labels: examples, platform, linux, nrf connect, app, review - approved

#29016 fix RVC Mode clusters' TC 3-2: add precondition check
  src/python_testing/TC_RVCCLEANM_3_2.py
  src/python_testing/TC_RVCRUNM_3_2.py
Labels: review - approved, app-clusters, v1.2

#29008 Adds the AirQuality server logic to the embedded target applications
  examples/all-clusters-app/ameba/chip_main.cmake
  examples/all-clusters-app/asr/BUILD.gn
  examples/all-clusters-app/cc13x2x7_26x2x7/BUILD.gn
  examples/all-clusters-app/cc13x4_26x4/BUILD.gn
  examples/all-clusters-app/infineon/psoc6/BUILD.gn
  examples/all-clusters-app/mbed/CMakeLists.txt
  examples/all-clusters-app/nrfconnect/CMakeLists.txt
  examples/all-clusters-app/nxp/mw320/BUILD.gn
  examples/all-clusters-app/openiotsdk/CMakeLists.txt
  examples/all-clusters-app/telink/CMakeLists.txt
  examples/all-clusters-app/tizen/BUILD.gn
Labels: examples, review - approved

#29024 Fix signatures of string-attribute getters in Accessors.h/cpp.
  scripts/setup/zap.json
  scripts/setup/zap.version
  scripts/tools/zap/zap_execution.py
  zzz_generated/app-common/app-common/zap-generated/attributes/Accessors.cpp
  zzz_generated/app-common/app-common/zap-generated/attributes/Accessors.h
Labels: scripts, review - approved

#28947 [Telink] Turn off the CHIP_FACTORY_RESET_ERASE_NVS by default
  config/telink/chip-module/Kconfig
  examples/platform/telink/common/src/AppTaskCommon.cpp
Labels: examples, platform, config, review - approved

#29032 Actually fix the XML cluster revision for color control.
  src/app/zap-templates/zcl/data-model/chip/color-control-cluster.xml
Labels: app, review - approved

#29034 Actually fix the XML cluster revision for descriptor.
  src/app/zap-templates/zcl/data-model/chip/descriptor-cluster.xml
Labels: app, review - approved

#29017 [ESP32] Skip the WiFi interface initialization if already done
  src/platform/ESP32/ConnectivityManagerImpl_WiFi.cpp
  src/platform/ESP32/ESP32Utils.cpp
  src/platform/ESP32/ESP32Utils.h
  src/platform/ESP32/WiFiDnssdImpl.cpp
Labels: platform, esp32, review - approved

#29035 Update ConvertTlvTag function description
  src/lib/support/jsontlv/JsonToTlv.h
Labels: lib, review - approved, support

#28978 Aligned chip-types.xml with the latest Matter spec
  scripts/py_matter_idl/matter_idl/generators/types.py
  src/app/zap-templates/zcl/data-model/chip/chip-types.xml
  src/app/zap-templates/zcl/validate.sh
  src/app/zap-templates/zcl/zcl.xsd
  zzz_generated/app-common/app-common/zap-generated/attribute-size.h
  zzz_generated/app-common/app-common/zap-generated/attribute-type.h
Labels: scripts, app, review - approved

#28990 Re-enable tsan YAML tests on Linux and Mac.
  .github/workflows/tests.yaml
Labels: review - pending, fast track

#29066 [Android] Fix java exception type
  src/app/server/java/src/chip/appserver/ChipAppServerException.java
  src/lib/support/JniReferences.cpp
  src/platform/android/java/chip/platform/AndroidChipPlatformException.java
Labels: platform, lib, app, review - pending, fast track, support

#29044 [fix] optimize zap for chef refrigerator
  examples/chef/devices/rootnode_refrigerator_temperaturecontrolledcabinet_temperaturecontrolledcabinet_ffdb696680.matter
  examples/chef/devices/rootnode_refrigerator_temperaturecontrolledcabinet_temperaturecontrolledcabinet_ffdb696680.zap
Labels: examples, review - pending, fast track

#29043 [fix] optimize zap for chef laundry washer
  examples/chef/devices/rootnode_laundrywasher_fb10d238c8.matter
  examples/chef/devices/rootnode_laundrywasher_fb10d238c8.zap
Labels: examples, review - pending, fast track

#28980 ESP32: Update esp-idf to v5.1.1 release
  docs/guides/esp32/setup_idf_chip.md
  examples/all-clusters-app/esp32/partitions.csv
  examples/all-clusters-app/esp32/sdkconfig.defaults
  examples/all-clusters-minimal-app/esp32/partitions.csv
  examples/all-clusters-minimal-app/esp32/sdkconfig.defaults
  examples/bridge-app/esp32/sdkconfig.defaults
  examples/chef/esp32/sdkconfig.defaults
  examples/light-switch-app/esp32/sdkconfig.defaults
  examples/lighting-app/esp32/partitions_h2.csv
  examples/lighting-app/esp32/sdkconfig.defaults
  examples/lighting-app/esp32/sdkconfig.defaults.esp32h2
  examples/lock-app/esp32/sdkconfig.defaults
  examples/ota-provider-app/esp32/sdkconfig.defaults
  examples/ota-requestor-app/esp32/sdkconfig.defaults
  examples/pigweed-app/esp32/sdkconfig.defaults
  examples/temperature-measurement-app/esp32/sdkconfig.defaults
  integrations/docker/images/base/chip-build/version
  integrations/docker/images/stage-2/chip-build-esp32/Dockerfile
Labels: documentation, examples, integrations, review - approved, docker

#28865 ESP32: Enable BLE Deinit for ESP32H2 after successful commissioning
  examples/platform/esp32/common/CommonDeviceCallbacks.cpp
  examples/platform/esp32/common/Esp32AppServer.cpp
  examples/platform/esp32/common/Esp32AppServer.h
  src/platform/ESP32/OpenthreadLauncher.c
  src/platform/ESP32/OpenthreadLauncher.h
  src/platform/ESP32/nimble/BLEManagerImpl.cpp
Labels: examples, platform, esp32, review - approved

#29047 [Silabs][SiWx917] Setting the device flag correctly in the callback
  examples/platform/silabs/SiWx917/SiWx917/sl_wifi_if.c
Labels: review - approved

#29030 Add QRCode unit tests for OnboardingPayloadParser
  src/controller/java/tests/chip/onboardingpayload/QRCodeTest.kt
Labels: controller, review - approved

#28995 [Chef] Add pump device type with optional clusters enabled
  examples/chef/devices/rootnode_pump_5f904818cc.matter
  examples/chef/devices/rootnode_pump_5f904818cc.zap
Labels: examples, review - approved

#29063 [Android] Fix Commissioning Crash
  src/lib/support/JniReferences.cpp
Labels: lib, review - pending, fast track, support

#29072 [Tizen] Exclude *.map file from test runner ISO
  src/test_driver/tizen/chip_tests/BUILD.gn
  third_party/tizen/tizen_sdk.gni
Labels: review - approved, test driver

#29037 Add a config define for Darwin per-controller storage.
  .github/workflows/darwin.yaml
  src/darwin/Framework/CHIP/MTRDefines.h
  src/darwin/Framework/CHIP/MTRDeviceController.h
  src/darwin/Framework/CHIP/MTRDeviceControllerDataStore.h
  src/darwin/Framework/CHIP/MTRDeviceControllerFactory.h
  src/darwin/Framework/CHIP/MTRDeviceControllerFactory.mm
  src/darwin/Framework/CHIP/MTRDeviceControllerStartupParameters.h
  src/darwin/Framework/CHIP/MTRDeviceControllerStartupParameters_Wrapper.h
  src/darwin/Framework/CHIP/MTRDeviceControllerStartupParams.mm
  src/darwin/Framework/CHIP/MTRDeviceControllerStartupParams_Internal.h
  src/darwin/Framework/CHIP/MTRDeviceControllerStorageDelegate.h
  src/darwin/Framework/CHIP/MTRDeviceControllerStorageDelegate_Wrapper.h
  src/darwin/Framework/CHIP/MTRDeviceController_Internal.h
  src/darwin/Framework/CHIP/Matter.h
  src/darwin/Framework/CHIPTests/MTRControllerAdvertisingTests.m
  src/darwin/Framework/CHIPTests/MTRPerControllerStorageTests.m
  src/darwin/Framework/CHIPTests/TestHelpers/MTRTestPerControllerStorage.h
  src/darwin/Framework/CHIPTests/TestHelpers/MTRTestPerControllerStorage.m
Labels: darwin, github, workflows, review - approved

#29022 Make MTRDecodeAttributeValue support global attributes in custom clusters.
  src/darwin/Framework/CHIP/templates/MTRAttributeTLVValueDecoder-src.zapt
  src/darwin/Framework/CHIP/zap-generated/MTRAttributeTLVValueDecoder.mm
  src/darwin/Framework/CHIPTests/MTRDataValueParserTests.m
Labels: darwin, review - pending, fast track

#29025 Allow creating Darwin controllers via alloc/initWithParameters.
  src/darwin/Framework/CHIP/MTRDeviceController.h
  src/darwin/Framework/CHIP/MTRDeviceController.mm
  src/darwin/Framework/CHIP/MTRDeviceControllerFactory.h
  src/darwin/Framework/CHIP/MTRDeviceControllerFactory.mm
  src/darwin/Framework/CHIP/MTRDeviceControllerFactory_Internal.h
  src/darwin/Framework/CHIP/MTRDeviceControllerParameters.h
  src/darwin/Framework/CHIP/MTRDeviceControllerParameters_Wrapper.h
  src/darwin/Framework/CHIP/MTRDeviceControllerStartupParams.mm
  src/darwin/Framework/CHIP/MTRDeviceControllerStartupParams_Internal.h
  src/darwin/Framework/CHIP/Matter.h
  src/darwin/Framework/CHIPTests/MTRControllerAdvertisingTests.m
  src/darwin/Framework/CHIPTests/MTRPerControllerStorageTests.m
  src/darwin/Framework/Matter.xcodeproj/project.pbxproj
Labels: darwin, review - pending, fast track

#28983 [nrfconnect][ota] Change image checking condition for OTA.
  examples/all-clusters-app/nrfconnect/main/AppTask.cpp
  examples/all-clusters-minimal-app/nrfconnect/main/AppTask.cpp
  examples/light-switch-app/nrfconnect/main/AppTask.cpp
  examples/lighting-app/nrfconnect/main/AppTask.cpp
  examples/lock-app/nrfconnect/main/AppTask.cpp
  examples/platform/nrfconnect/util/OTAUtil.cpp
  examples/platform/nrfconnect/util/include/OTAUtil.h
  examples/pump-app/nrfconnect/main/AppTask.cpp
  examples/pump-controller-app/nrfconnect/main/AppTask.cpp
  examples/window-app/nrfconnect/main/AppTask.cpp
Labels: examples, platform, review - approved

#29075 Stop using dispatch_get_current_queue.
  src/platform/Darwin/PlatformManagerImpl.cpp
  src/platform/Darwin/PlatformManagerImpl.h
Labels: platform, darwin, review - pending, fast track

#29005 [Silabs] LwIP changes for rs911x NCP and SOC mode
  src/lwip/silabs/lwipopts-rs911x.h
Labels: review - approved, lwip

#29097 Fix slow test skipping in CI.
  scripts/tests/run_test_suite.py
Labels: review - approved

#29088 [ICD] Fix ICD Manager Init
  src/app/server/Server.cpp
Labels: app, review - approved

#29041 enable asr lock assert; add more ASR CI
  .github/workflows/examples-asr.yaml
  src/inet/UDPEndPointImplLwIP.cpp
Labels: inet, github, workflows, review - approved

#29098 Added Feature Map to `ConcentrationMeasurement` Read Handler
  src/app/clusters/concentration-measurement-server/concentration-measurement-server.h
Labels: app, review - approved

#29105 Added Feature Map to `AirQuality` Read Handler
  examples/all-clusters-app/all-clusters-common/all-clusters-app.matter
  examples/all-clusters-app/all-clusters-common/all-clusters-app.zap
  src/app/clusters/air-quality-server/air-quality-server.cpp
Labels: examples, app, review - approved

#29078 Return result directly instead of via reference
  src/controller/java/src/chip/onboardingpayload/ManualOnboardingPayloadParser.kt
  src/controller/java/src/chip/onboardingpayload/OnboardingPayloadParser.kt
  src/controller/java/src/chip/onboardingpayload/QRCodeOnboardingPayloadParser.kt
  src/controller/java/tests/chip/onboardingpayload/ManualCodeTest.kt
  src/controller/java/tests/chip/onboardingpayload/QRCodeTest.kt
Labels: controller, review - pending, fast track

#29076 [Scenes] Level control handler bugfix
  src/app/clusters/level-control/level-control.cpp
  src/app/clusters/on-off-server/on-off-server.cpp
Labels: app, review - approved

#28996 [Darwin] MTRDevice should change state to reachable immediately upon receiving subscription reports
  src/darwin/Framework/CHIP/MTRBaseSubscriptionCallback.h
  src/darwin/Framework/CHIP/MTRBaseSubscriptionCallback.mm
  src/darwin/Framework/CHIP/MTRDevice.mm
  src/darwin/Framework/CHIPTests/MTRDeviceTests.m
Labels: darwin, review - pending, fast track

#29081 [SMOKECO-TC]Update user prompt command at YMALs
  src/app/tests/suites/certification/Test_TC_SMOKECO_2_2.yaml
  src/app/tests/suites/certification/Test_TC_SMOKECO_2_3.yaml
  src/app/tests/suites/certification/Test_TC_SMOKECO_2_4.yaml
  src/app/tests/suites/certification/Test_TC_SMOKECO_2_5.yaml
  src/app/tests/suites/certification/Test_TC_SMOKECO_2_6.yaml
Labels: app, review - pending, fast track, tests

#29077 Optimize the algorithm to replace all occurrences of java/util/Optional
  src/lib/support/JniReferences.cpp
Labels: lib, review - pending, fast track, support

#29111 Silence warnings about descriptions not being handled when running YAML tests.
  scripts/py_matter_idl/matter_idl/zapxml/handlers/handlers.py
Labels: scripts, review - approved

#29104 Set `FeatureMap` to 0 in all `ConcentrationMeasurement` zapfiles
  examples/all-clusters-app/all-clusters-common/all-clusters-app.matter
  examples/all-clusters-app/all-clusters-common/all-clusters-app.zap
Labels: review - approved

#29112 Typo fix in the API documentation
  src/app/WriteClient.h
Labels: app, review - approved

#29113 [TestReadInteraction] Added unit test for early report
  src/app/reporting/ReportScheduler.h
  src/app/tests/TestReadInteraction.cpp
Labels: review - approved

#29114 Update description tag handling in xml
  scripts/py_matter_idl/matter_idl/matter_idl_types.py
  scripts/py_matter_idl/matter_idl/test_xml_parser.py
  scripts/py_matter_idl/matter_idl/zapxml/handlers/handlers.py
Labels: scripts, review - approved

#29095 Update ZAP to v2023.09.05-nightly.
  examples/chef/devices/rootnode_dishwasher_cc105034fe.zap
  examples/chef/devices/rootnode_laundrywasher_fb10d238c8.zap
  examples/chef/devices/rootnode_pump_5f904818cc.zap
  examples/chef/devices/rootnode_refrigerator_temperaturecontrolledcabinet_temperaturecontrolledcabinet_ffdb696680.zap
  examples/refrigerator-app/refrigerator-common/refrigerator-app.zap
  examples/resource-monitoring-app/resource-monitoring-common/resource-monitoring-app.zap
  scripts/setup/zap.json
  scripts/setup/zap.version
  scripts/tools/zap/zap_execution.py
Labels: examples, scripts, review - pending, fast track

#29028 Make MatterReportingAttributeChangeCallback calls in operational state server a bit smaller.
  src/app/clusters/operational-state-server/operational-state-server.cpp
Labels: app, review - approved

#29096 Actually enable our YAML tests in the python-calls-chip-tool runner.
  .github/workflows/tests.yaml
  scripts/tests/chiptest/__init__.py
  scripts/tests/chiptest/test_definition.py
  scripts/tests/run_test_suite.py
  scripts/tests/yaml/runner.py
  src/app/tests/suites/TestClusterMultiFabric.yaml
  src/app/tests/suites/TestEventsById.yaml
Labels: scripts, app, github, workflows, review - approved, tests

#29099 Add CI testing for purposeful YAML failures.
  .github/workflows/tests.yaml
  scripts/tests/chiptest/__init__.py
  scripts/tests/chiptest/test_definition.py
  scripts/tests/run_test_suite.py
  src/app/tests/suites/TestPurposefulFailureEqualities.yaml
Labels: scripts, app, github, workflows, review - approved, tests

#29144 Fix partial revert: Allow SupportedOperatingModes attribute to be any of the valid combinations
  src/app/tests/suites/certification/Test_TC_DRLK_2_1.yaml
Labels: app, review - pending, fast track, tests

#28923 Fix esp32 platform bluedroid, should send indication instead of notification.
  src/platform/ESP32/bluedroid/BLEManagerImpl.cpp
Labels: platform, esp32, review - approved

#29127 [Android] virtual-device-app: Add Doorlock/PowerSource repository
  examples/virtual-device-app/android/App/core/data/src/main/java/com/matter/virtual/device/app/core/data/di/DataModule.kt
  examples/virtual-device-app/android/App/core/data/src/main/java/com/matter/virtual/device/app/core/data/repository/cluster/DoorLockManagerRepository.kt
  examples/virtual-device-app/android/App/core/data/src/main/java/com/matter/virtual/device/app/core/data/repository/cluster/DoorLockManagerRepositoryImpl.kt
  examples/virtual-device-app/android/App/core/data/src/main/java/com/matter/virtual/device/app/core/data/repository/cluster/PowerSourceManagerRepository.kt
  examples/virtual-device-app/android/App/core/data/src/main/java/com/matter/virtual/device/app/core/data/repository/cluster/PowerSourceManagerRepositoryImpl.kt
Labels: examples, review - approved

#28961 Fix Smoke CO Alarm Cluster SDK
  src/app/clusters/smoke-co-alarm-server/smoke-co-alarm-server.cpp
  src/app/tests/suites/certification/PICS.yaml
  src/app/tests/suites/certification/ci-pics-values
Labels: app, review - approved, tests

#29103 Add rvc example app
  examples/rvc-app/RVC_app_state_diagram_drawio.xml
  examples/rvc-app/linux/.gn
  examples/rvc-app/linux/BUILD.gn
  examples/rvc-app/linux/args.gni
  examples/rvc-app/linux/build_overrides
  examples/rvc-app/linux/include/CHIPProjectAppConfig.h
  examples/rvc-app/linux/main.cpp
  examples/rvc-app/linux/third_party/connectedhomeip
  examples/rvc-app/rvc-common/BUILD.gn
  examples/rvc-app/rvc-common/include/rvc-device.h
  examples/rvc-app/rvc-common/include/rvc-mode-delegates.h
  examples/rvc-app/rvc-common/include/rvc-operational-state-delegate.h
  examples/rvc-app/rvc-common/rvc-app.matter
  examples/rvc-app/rvc-common/rvc-app.zap
  examples/rvc-app/rvc-common/src/rvc-device.cpp
  examples/rvc-app/rvc-common/src/rvc-mode-delegates.cpp
  examples/rvc-app/rvc-common/src/rvc-operational-state-delegate.cpp
Labels: examples, review - approved

#29140 Update Mode Select ClusterRevision to 2.
  examples/all-clusters-app/all-clusters-common/all-clusters-app.matter
  examples/all-clusters-app/all-clusters-common/all-clusters-app.zap
  examples/all-clusters-minimal-app/all-clusters-common/all-clusters-minimal-app.matter
  examples/all-clusters-minimal-app/all-clusters-common/all-clusters-minimal-app.zap
  examples/chef/devices/rootnode_dishwasher_cc105034fe.zap
  examples/chef/devices/rootnode_laundrywasher_fb10d238c8.zap
  examples/chef/devices/rootnode_refrigerator_temperaturecontrolledcabinet_temperaturecontrolledcabinet_ffdb696680.zap
  examples/chef/sample_app_util/test_files/sample_zap_file.zap
  examples/dishwasher-app/dishwasher-common/dishwasher-app.zap
  examples/placeholder/linux/apps/app1/config.matter
  examples/placeholder/linux/apps/app1/config.zap
  examples/placeholder/linux/apps/app2/config.matter
  examples/placeholder/linux/apps/app2/config.zap
  examples/refrigerator-app/refrigerator-common/refrigerator-app.zap
  scripts/tools/zap/tests/inputs/all-clusters-app.zap
  scripts/tools/zap/tests/outputs/all-clusters-app/app-templates/endpoint_config.h
  src/app/zap-templates/zcl/data-model/chip/mode-select-cluster.xml
  src/controller/data_model/controller-clusters.zap
Labels: examples, scripts, controller, app, review - approved

#29135 Update Interaction Model revision to spec.
  src/app/InteractionModelRevision.h
Labels: app, review - approved

#29134 Implement RebootCount storage on Darwin.
  src/platform/Darwin/DiagnosticDataProviderImpl.cpp
  src/platform/Darwin/DiagnosticDataProviderImpl.h
Labels: platform, darwin, review - pending, fast track

#29146 [Bouffalolab] Don't factory reset if reboot with a pending failSafeArmed
  src/platform/bouffalolab/common/ConfigurationManagerImpl.cpp
Labels: platform, review - approved

#29160 [Silabs] Add hooks into the Silabs performance testing functionality
  docs/guides/silabs_efr32_software_update.md
  examples/light-switch-app/silabs/README.md
  examples/platform/silabs/BaseApplication.cpp
  examples/platform/silabs/FreeRTOSConfig.h
  examples/platform/silabs/MatterConfig.cpp
Labels: documentation, examples, platform, review - approved

#29170 Fail Summarize - Data on Pass/Fail Rate Per Workflow
  .github/workflows/recent_fail_summary.yaml
  scripts/tools/summarize_fail.py
Labels: scripts, github, workflows, fast track

#29168 CHIPCryptoPALmbedTLS: Include mbedtls/version.h
  src/crypto/CHIPCryptoPALmbedTLS.cpp
Labels: review - approved

#29172 Convert if __ZEPHYR__ to if defined(__ZEPHYR__)
  src/system/SystemConfig.h
  src/system/SystemError.h
Labels: system, review - approved

#29084 [Silabs] feature/DIC feature support for thermostat app and window app
  examples/thermostat/silabs/src/ZclCallbacks.cpp
  examples/window-app/silabs/src/WindowManager.cpp
Labels: examples, review - approved

#29057 UDPEndPointImplLwIP: Support LWIP_TCPIP_CORE_LOCKING=0
  src/inet/BUILD.gn
  src/inet/EndPointStateLwIP.cpp
  src/inet/EndPointStateLwIP.h
  src/inet/TCPEndPointImplLwIP.cpp
  src/inet/UDPEndPointImplLwIP.cpp
Labels: inet

#29132 Fix ZAP bootstrap on v1.1-branch.
  scripts/setup/zap.json
Labels: scripts

#29026 [Scenes] Added the color-control cluster handler for scenes EFS
  src/app/clusters/color-control-server/color-control-server.cpp
  src/app/clusters/color-control-server/color-control-server.h
Labels: app, review - approved

#29191 Make ReadClient::Callback non-movable
  src/app/ClusterStateCache.h
  src/app/ReadClient.cpp
  src/app/ReadClient.h
Labels: app, review - approved

#29059 Darwin: Bug fixes in BleConnectionDelegateImpl
  src/platform/Darwin/BleConnectionDelegate.h
  src/platform/Darwin/BleConnectionDelegateImpl.mm
Labels: platform, darwin, review - pending, fast track

#28975 [TI] CC2674 migration support
  .github/.wordlist.txt
  docs/guides/README.md
  docs/guides/darwin.md
  docs/guides/index.md
  docs/guides/ti/matter_cc2674_migration.md
  docs/guides/ti/ti_platform_overview.md
  src/platform/cc13xx_26xx/cc13x4_26x4/ble_user_config.c
  third_party/ti_simplelink_sdk/ti_simplelink_board.gni
  third_party/ti_simplelink_sdk/ti_simplelink_sdk.gni
Labels: documentation, platform, review - approved

#29176 Darwin: set is_debug=false for Release builds
  src/darwin/Framework/chip_xcode_build_connector.sh
Labels: darwin, review - pending, fast track

#29175 [Android] Fix JNI local reference leak for ChipAttributePath and ChipEventPath
  src/controller/java/AndroidCallbacks.cpp
Labels: controller, review - approved

#29128 [zephyr] Added platform configuration to enable ICD support
  config/nrfconnect/chip-module/CMakeLists.txt
  config/nrfconnect/chip-module/Kconfig.features
  config/zephyr/Kconfig
  docs/guides/nrfconnect_examples_configuration.md
  examples/all-clusters-app/telink/prj.conf
  examples/all-clusters-minimal-app/telink/prj.conf
  examples/bridge-app/telink/prj.conf
  examples/chef/telink/prj.conf
  examples/contact-sensor-app/telink/prj.conf
  examples/light-switch-app/nrfconnect/CMakeLists.txt
  examples/light-switch-app/nrfconnect/Kconfig
  examples/light-switch-app/nrfconnect/main/AppTask.cpp
  examples/light-switch-app/nrfconnect/main/include/AppTask.h
  examples/light-switch-app/telink/prj.conf
  examples/lighting-app/telink/prj.conf
  examples/lock-app/nrfconnect/CMakeLists.txt
  examples/lock-app/nrfconnect/Kconfig
  examples/lock-app/nrfconnect/main/AppTask.cpp
  examples/lock-app/nrfconnect/main/include/AppTask.h
  examples/lock-app/telink/prj.conf
  examples/ota-requestor-app/telink/prj.conf
  examples/platform/nrfconnect/util/ICDUtil.cpp
  examples/platform/nrfconnect/util/include/ICDUtil.h
  examples/pump-app/telink/prj.conf
  examples/pump-controller-app/telink/prj.conf
  examples/shell/telink/prj.conf
  examples/smoke-co-alarm-app/telink/prj.conf
  examples/temperature-measurement-app/telink/prj.conf
  examples/thermostat/telink/prj.conf
  examples/window-app/nrfconnect/CMakeLists.txt
  examples/window-app/nrfconnect/main/AppTask.cpp
  examples/window-app/nrfconnect/main/include/AppTask.h
  examples/window-app/nrfconnect/prj.conf
  examples/window-app/nrfconnect/prj_no_dfu.conf
  examples/window-app/nrfconnect/prj_release.conf
  examples/window-app/telink/prj.conf
  src/lib/core/CHIPConfig.h
  src/platform/Zephyr/CHIPDevicePlatformConfig.h
  src/platform/nrfconnect/CHIPDevicePlatformConfig.h
  src/platform/nrfconnect/CHIPPlatformConfig.h
  src/platform/telink/CHIPDevicePlatformConfig.h
Labels: documentation, examples, platform, nrf connect, zephyr, lib, config, review - approved, telink, core

#29189 Fix attr apis
  examples/air-quality-sensor-app/air-quality-sensor-common/include/air-quality-sensor-manager.h
  examples/air-quality-sensor-app/air-quality-sensor-common/include/relative-humidity-sensor-manager.h
  examples/air-quality-sensor-app/air-quality-sensor-common/include/temperature-sensor-manager.h
  examples/air-quality-sensor-app/air-quality-sensor-common/src/air-quality-sensor-manager.cpp
  examples/air-quality-sensor-app/linux/AirQualitySensorAppAttrUpdateDelegate.cpp
  examples/air-quality-sensor-app/linux/BUILD.gn
  examples/air-quality-sensor-app/linux/main.cpp
Labels: examples, review - approved

#29159 Expand rvc example app
  .github/.wordlist.txt
  docs/examples/index.md
  examples/rvc-app/README.md
  examples/rvc-app/RVC_app_state_diagram.png
  examples/rvc-app/RVC_app_state_diagram_drawio.xml
  examples/rvc-app/linux/BUILD.gn
  examples/rvc-app/linux/RvcAppCommandDelegate.cpp
  examples/rvc-app/linux/RvcAppCommandDelegate.h
  examples/rvc-app/linux/main.cpp
  examples/rvc-app/run_all_yaml_tests.sh
  examples/rvc-app/rvc-common/include/rvc-device.h
  examples/rvc-app/rvc-common/pics/RVC Clean Mode Cluster Test Plan.xml
  examples/rvc-app/rvc-common/pics/RVC Operational State Cluster Test Plan.xml
  examples/rvc-app/rvc-common/pics/RVC Run Mode Cluster Test Plan.xml
  examples/rvc-app/rvc-common/pics/RVC_App_Test_Plan.txt
  examples/rvc-app/rvc-common/src/rvc-device.cpp
  src/app/clusters/operational-state-server/operational-state-server.h
Labels: documentation, examples, app, review - approved

#29207 Bump cloudbuild for chef to double the time (10h now) since a lot of …
  integrations/cloudbuild/chef.yaml
Labels: hotfix, integrations

#29210 RVC app - add Python build wrapper support
  scripts/build/build/targets.py
  scripts/build/builders/host.py
  scripts/build/testdata/all_targets_linux_x64.txt
Labels: scripts, review - approved

#29219 Fix MATTER_TRACING_ENABLED checks.
  src/tracing/registry.h
Labels: review - pending, fast track

#29202 Update ZAP to tip.
  scripts/setup/zap.json
  scripts/setup/zap.version
  scripts/tools/zap/zap_execution.py
  src/darwin/Framework/CHIP/templates/availability.yaml
Labels: scripts, darwin, review - approved

#29167 IPAddress: Fix zero-initialization of ip6_addr_t
  src/inet/IPAddress.cpp
Labels: inet, review - approved

#29225 Make sure CHIP_CONFIG_DARWIN_STORAGE_VERBOSE_LOGGING is always defined.
  src/platform/Darwin/KeyValueStoreManagerImpl.mm
Labels: platform, darwin, review - pending, fast track

#29200 Make test vectors ByteSpans
  src/credentials/tests/CHIPCert_test_vectors.cpp
  src/credentials/tests/CHIPCert_test_vectors.h
  src/credentials/tests/TestChipCert.cpp
  src/credentials/tests/TestFabricTable.cpp
  src/crypto/tests/CHIPCryptoPALTest.cpp
  src/protocols/secure_channel/tests/TestCASESession.cpp
Labels: crypto, review - approved

#29232 Fix incorrect preprocessor usage of LwIP PBUF_POOL
  src/system/SystemConfig.h
  src/system/SystemPacketBuffer.cpp
  src/system/SystemPacketBufferInternal.h
Labels: system, review - approved

#29220 Fix CHIP_DEVICE_CONFIG_APP_PLATFORM_ENABLED in clusters.
  src/app/clusters/application-basic-server/application-basic-server.cpp
  src/app/clusters/application-launcher-server/application-launcher-server.cpp
  src/app/clusters/channel-server/channel-server.cpp
  src/app/clusters/content-launch-server/content-launch-server.cpp
  src/app/clusters/keypad-input-server/keypad-input-server.cpp
  src/app/clusters/media-playback-server/media-playback-server.cpp
  src/app/clusters/target-navigator-server/target-navigator-server.cpp
Labels: app, review - approved

#29224 Make sure CHIP_DEVICE_CONFIG_ENABLE_OTA_REQUESTOR is always defined.
  examples/pump-app/cc13x2x7_26x2x7/main/AppTask.cpp
  examples/pump-app/cc13x4_26x4/main/AppTask.cpp
  examples/pump-controller-app/cc13x2x7_26x2x7/main/AppTask.cpp
  examples/pump-controller-app/cc13x4_26x4/main/AppTask.cpp
  src/platform/BUILD.gn
Labels: examples, platform, review - approved

#29233 Remove CONFIG_TLV_TRUNCATE.
  src/lib/core/TLVWriter.cpp
Labels: lib, review - approved, core

#29192 Be consistent about how we handle cluster names in config-data.yaml.
  src/app/common/templates/config-data.yaml
  src/app/zap-templates/templates/app/callback.zapt
  src/app/zap-templates/templates/app/im-cluster-command-handler.zapt
Labels: app, review - approved

#29242 [clang-tidy] Fix a bunch of style warnings
  src/inet/IPAddress.cpp
  src/inet/InetInterface.cpp
  src/inet/UDPEndPointImplLwIP.cpp
  src/lib/support/ErrorStr.cpp
  src/system/SystemError.cpp
Labels: system, lib, inet, review - approved, support

#29228 Ensure CHIP_EXCHANGE_HOLDER_DETAIL_LOGGING is always defined.
  src/messaging/ExchangeHolder.h
Labels: review - pending, fast track

#29227 Fix -Wundef issues in Linux example code.
  examples/platform/linux/AppMain.cpp
  examples/platform/linux/Options.h
Labels: examples, platform, review - approved

#29130 [CI] Update scripts/tests/run_test_suite.py so it can run darwinframeworktool.py
  examples/darwin-framework-tool/commands/common/CHIPCommandBridge.h
  examples/darwin-framework-tool/commands/interactive/InteractiveCommands.mm
  scripts/tests/run_test_suite.py
  scripts/tests/yaml/chiptool.py
  scripts/tests/yaml/darwinframeworktool.py
  scripts/tests/yaml/tests_tool.py
Labels: examples, scripts, darwin, review - approved

#29222 Remove CHIP_SYSTEM_CONFIG_USE_TIMER_POOL bits.
  src/system/SystemStats.cpp
Labels: system, review - pending, fast track

#29223 Fix CHIPConfig.h not including InetConfig.h.
  src/lib/core/BUILD.gn
  src/lib/core/CHIPConfig.h
  src/lib/core/CHIPCore.h
Labels: lib, review - pending, fast track, core

#29212 Remove remaining stray CHIP_CRYPTO_HSM checks.
  examples/contact-sensor-app/nxp/k32w/k32w0/main/AppTask.cpp
  examples/lighting-app/nxp/k32w/k32w0/main/AppTask.cpp
  examples/lock-app/nxp/k32w/k32w0/main/AppTask.cpp
  src/credentials/CHIPCert.cpp
  src/credentials/FabricTable.h
  src/platform/nxp/crypto/se05x/CHIPCryptoPALHsm_se05x_spake2p.cpp
Labels: examples, platform, review - approved

#29256 [MatterYamlTests] Fix a bunch of typos in the yaml tests
  src/app/tests/suites/certification/Test_TC_OPCREDS_3_3.yaml
  src/app/tests/suites/certification/Test_TC_OPSTATE_2_2.yaml
  src/app/tests/suites/examples/Test_Example.yaml
Labels: app, review - pending, fast track, tests

#29221 Fix -Wundef issues in src/inet.
  src/inet/InetConfig.h
  src/inet/InetInterface.cpp
  src/inet/TCPEndPointImplSockets.cpp
Labels: review - approved

#29229 Fix -Wundef issues in device config.
  src/include/platform/CHIPDeviceConfig.h
Labels: platform, review - approved

#29230 Make sure all known CHIP_DEVICE_LAYER_TARGET_* are defined.
  src/inet/tests/TestInetCommonPosix.cpp
  src/lib/dnssd/platform/tests/TestPlatform.cpp
  src/platform/BUILD.gn
Labels: platform, lib, inet, review - approved

#29251 [MatterYamlTests] Properly translate descriptionString to description…
  examples/chip-tool/py_matter_chip_tool_adapter/matter_chip_tool_adapter/decoder.py
Labels: tools, examples, review - pending, fast track

#29247 [Telink] Cleanup CI
  .github/workflows/examples-telink.yaml
  config/telink/chip-module/generate_factory_data.cmake
Labels: config, github, workflows, review - approved

#29263 Fix conditions for kICDMsgAckSyncEvent
  src/messaging/ReliableMessageContext.cpp
Labels: review - approved

#29268 Darwin builds are failing, this requires a cast
  src/darwin/Framework/CHIP/MTRDevice.mm
Labels: darwin, fast track

#29262 Remove mInfo field from Cancelable by default.
  src/lib/core/BUILD.gn
  src/lib/core/CHIPCallback.h
  src/lib/core/core.gni
Labels: lib, review - approved, core

#29166 Stop logging errors on receving a redundant standalone ack.
  src/messaging/ExchangeMgr.cpp
Labels: review - approved

#29276 [Bouffalolab] Load BLE TX power configuration from flash
  third_party/bouffalolab/bl602/bl_iot_sdk.gni
  third_party/bouffalolab/bl702/bl_iot_sdk.gni
  third_party/bouffalolab/bl702l/bl_iot_sdk.gni
Labels: review - pending, fast track

#29293 [Silabs] Increase Heap if using PW RPC
  examples/platform/silabs/FreeRTOSConfig.h
Labels: examples, platform, review - approved

#29277 Fix chip-tool threading asserts if an interactive command times out.
  examples/chip-tool/commands/common/CHIPCommand.cpp
  examples/chip-tool/commands/common/CHIPCommand.h
  src/app/CommandSender.cpp
  src/app/CommandSender.h
  src/app/ReadClient.cpp
  src/app/WriteClient.h
Labels: tools, examples, app, review - approved

#29195 [Silabs] add status screen
  examples/lighting-app/silabs/src/AppTask.cpp
  examples/lock-app/silabs/src/AppTask.cpp
  examples/platform/silabs/BaseApplication.cpp
  examples/platform/silabs/display/demo-ui-bitmaps.h
  examples/platform/silabs/display/lcd.cpp
  examples/platform/silabs/display/lcd.h
  examples/pump-app/silabs/src/AppTask.cpp
  examples/smoke-co-alarm-app/silabs/src/AppTask.cpp
  examples/window-app/silabs/src/AppTask.cpp
Labels: examples, platform, review - approved

#29264 Stop using ResolverProxy for resolving node lookups
  scripts/examples/openiotsdk_example.sh
  src/lib/dnssd/Discovery_ImplPlatform.cpp
  src/lib/dnssd/Discovery_ImplPlatform.h
  src/lib/dnssd/ResolverProxy.h
  src/lib/dnssd/Resolver_ImplMinimalMdns.cpp
  src/lib/dnssd/Resolver_ImplNone.cpp
  src/lib/shell/commands/BUILD.gn
  src/lib/shell/commands/Dns.cpp
  src/platform/Linux/DnssdImpl.cpp
  src/platform/Linux/DnssdImpl.h
  src/test_driver/openiotsdk/integration-tests/common/utils.py
Labels: scripts, platform, linux, lib, review - approved, shell, test driver

#28316 [Android]Enable OTA Provider in Android controller
  examples/java-matter-controller/args.gni
  src/app/BUILD.gn
  src/app/common_flags.gni
  src/app/dynamic_server/AccessControl.cpp
  src/app/dynamic_server/AccessControl.h
  src/app/dynamic_server/DynamicDispatcher.cpp
  src/controller/java/AndroidCommissioningWindowOpener.cpp
  src/controller/java/BUILD.gn
  src/controller/java/CHIPDeviceController-JNI.cpp
  src/darwin/Framework/CHIP/BUILD.gn
  src/darwin/Framework/CHIP/MTRDeviceControllerFactory.mm
  src/darwin/Framework/CHIP/MTRIMDispatch.mm
  src/darwin/Framework/Matter.xcodeproj/project.pbxproj
  src/darwin/Framework/chip_xcode_build_connector.sh
Labels: examples, darwin, controller, app, review - approved

#29280 [ESP32] Initialize the KVS partition when nvs encryption is enabled
  src/platform/ESP32/ConfigurationManagerImpl.cpp
Labels: platform, esp32, review - approved

#29281 [ESP32] Append to chip_libraries list only if present in BUILD_COMPONENTS and fix some indentation
  config/esp32/components/chip/CMakeLists.txt
Labels: config, review - approved

#29157 [Telink] Add resource monitoring app
  .github/workflows/examples-telink.yaml
  .vscode/tasks.json
  examples/resource-monitoring-app/telink/.gitignore
  examples/resource-monitoring-app/telink/CMakeLists.txt
  examples/resource-monitoring-app/telink/README.md
  examples/resource-monitoring-app/telink/include/AppConfig.h
  examples/resource-monitoring-app/telink/include/AppTask.h
  examples/resource-monitoring-app/telink/include/CHIPProjectConfig.h
  examples/resource-monitoring-app/telink/prj.conf
  examples/resource-monitoring-app/telink/src/AppTask.cpp
  examples/resource-monitoring-app/telink/src/ZclCallbacks.cpp
  examples/resource-monitoring-app/telink/third_party/connectedhomeip
  scripts/build/build/targets.py
  scripts/build/builders/telink.py
  scripts/build/testdata/all_targets_linux_x64.txt
Labels: examples, scripts, vscode, github, workflows, review - approved

#29287 [Telink] Power down mode using ICD
  config/telink/chip-module/CMakeLists.txt
  examples/platform/telink/common/src/mainCommon.cpp
Labels: examples, platform, config, review - approved

#29286 PersistentStorageOpCertStore: fix a clang-tidy warning
  src/credentials/PersistentStorageOpCertStore.h
Labels: review - approved

#29322 Fix constant name of `CONFIG_CHIP_ENABLE_ICD_SUPPORT`
  examples/resource-monitoring-app/telink/prj.conf
Labels: examples, hotfix

#29319 Fix silabs compile - `#elif` without a condition replaced with `#else`
  examples/platform/silabs/display/lcd.cpp
  examples/platform/silabs/display/lcd.h
Labels: examples, platform, review - pending, fast track

#29294 Ensure we always have our endianness defined.
  scripts/tools/zap/tests/outputs/all-clusters-app/app-templates/endpoint_config.h
  scripts/tools/zap/tests/outputs/lighting-app/app-templates/endpoint_config.h
  src/app/util/attribute-storage-null-handling.h
  src/app/util/attribute-storage.cpp
  src/app/util/attribute-table.cpp
  src/app/util/util.cpp
  src/app/zap-templates/templates/app/endpoint_config.zapt
  src/lib/core/BUILD.gn
  src/lib/core/core.gni
Labels: scripts, lib, app, review - pending, fast track, core

#29325 Fix LwIP PBUF_RAM configuration
  src/system/SystemPacketBuffer.h
Labels: system, review - approved

#29323 Fix incorrect PICS in `TC_RVCOPSTATE_2_1.py` and `TC_OPSTATE_2_1.py`
  src/python_testing/TC_OPSTATE_2_1.py
  src/python_testing/TC_RVCOPSTATE_2_1.py
Labels: review - approved

#29071 Optionally avoid global constructors
  src/access/AccessControl.cpp
  src/access/AccessControl.h
  src/app/InteractionModelEngine.cpp
  src/app/clusters/resource-monitoring-server/resource-monitoring-server.cpp
  src/app/dynamic_server/AccessControl.cpp
  src/credentials/attestation_verifier/DefaultDeviceAttestationVerifier.cpp
  src/credentials/tests/CHIPAttCert_test_vectors.cpp
  src/credentials/tests/CHIPAttCert_test_vectors.h
  src/darwin/Framework/CHIP/MTROTAProviderDelegateBridge.mm
  src/lib/core/CHIPConfig.h
  src/lib/core/Global.h
  src/lib/dnssd/Discovery_ImplPlatform.cpp
  src/lib/dnssd/Discovery_ImplPlatform.h
  src/platform/Darwin/BLEManagerImpl.cpp
  src/platform/Darwin/BLEManagerImpl.h
  src/platform/Darwin/CHIPPlatformConfig.h
  src/platform/Darwin/ConfigurationManagerImpl.cpp
  src/platform/Darwin/DnssdImpl.cpp
  src/platform/Darwin/DnssdImpl.h
  src/platform/Darwin/PlatformManagerImpl.cpp
  src/platform/Darwin/PlatformManagerImpl.h
  src/transport/SessionManager.cpp
Labels: transport, platform, darwin, lib, app, review - approved, core

#28943 [SILABS] [RS917] Added support for Wi-Fi SDK 3.1.0 for 917 NCP
  examples/platform/silabs/SiWx917/SiWx917/sl_wifi_if.c
  examples/platform/silabs/efr32/BUILD.gn
  examples/platform/silabs/efr32/rs911x/hal/efx_spi.c
  examples/platform/silabs/efr32/rs911x/hal/rsi_hal_mcu_interrupt.c
  examples/platform/silabs/efr32/rs911x/hal/sl_board_configuration.h
  examples/platform/silabs/efr32/rs911x/rs9117.gni
  examples/platform/silabs/efr32/rs911x/sl_wifi_if.c
  examples/platform/silabs/efr32/rs911x/sl_wlan_config.h
  examples/platform/silabs/efr32/rs911x/wfx_rsi_host.c
  src/platform/silabs/SiWx917/wifi/ethernetif.cpp
  src/platform/silabs/SiWx917/wifi/wfx_host_events.h
  src/platform/silabs/efr32/wifi/ethernetif.cpp
  src/platform/silabs/efr32/wifi/wfx_host_events.h
  src/platform/silabs/rs911x/BLEManagerImpl.cpp
  src/platform/silabs/rs911x/rsi_ble_config.h
  src/platform/silabs/rs911x/wfx_sl_ble_init.c
  src/platform/silabs/rs911x/wfx_sl_ble_init.h
  third_party/silabs/efr32_sdk.gni
Labels: examples, platform, review - approved, silabs

#29327 fix: docs for additional payload
  docs/guides/chip_tool_guide.md
Labels: documentation, review - approved

#29238 app: Fix undef error for CHIP_CONFIG_ENABLE_READ_CLIENT
  src/app/AttributePathParams.h
  src/app/BufferedReadCallback.h
  src/app/ClusterStateCache.h
  src/app/InteractionModelEngine.cpp
  src/app/InteractionModelEngine.h
  src/app/ReadClient.h
  src/controller/CHIPCluster.h
  src/controller/CHIPDeviceController.h
  src/controller/ReadInteraction.h
  src/controller/TypedReadCallback.h
Labels: controller, app, review - approved

#29308 Add ICD check-in messageId 0x50 per spec
  src/protocols/secure_channel/Constants.h
Labels: review - approved

#29332 add icd check-in message in protocol_messages.matter
  src/lib/format/protocol_messages.matter
Labels: lib, review - approved

#29333 Remove use of CHIP_MINMDNS_HIGH_VERBOSITY from shared resolve code.
  src/lib/address_resolve/AddressResolve_DefaultImpl.cpp
Labels: lib, review - pending, fast track

#29248 RVC App: enable the RVC Clean StartUpMode attribute
  examples/rvc-app/README.md
  examples/rvc-app/run_all_yaml_tests.sh
  examples/rvc-app/rvc-common/pics/RVC Clean Mode Cluster Test Plan.xml
  examples/rvc-app/rvc-common/pics/RVC_App_Test_Plan.txt
  examples/rvc-app/rvc-common/rvc-app.matter
  examples/rvc-app/rvc-common/rvc-app.zap
Labels: examples, review - approved

#29345 [Silabs] Adds build fix for MG12 + SiWx917 NCP all apps
  examples/platform/silabs/efr32/rs911x/hal/sl_board_configuration.h
Labels: examples, platform, review - approved

#29347 Minor fix for incorrect local variable name
  src/app/InteractionModelEngine.cpp
Labels: app, review - approved

#29348 [TI] Update CC2674 migration guide to include CC1354P10-1
  docs/guides/ti/matter_cc2674_migration.md
Labels: documentation, review - approved

#29320 Update darwin framework tool project to mimic gn compile flags for KVS
  src/darwin/Framework/Matter.xcodeproj/project.pbxproj
Labels: darwin, review - pending, fast track

#29355 Fix MaxMeasuredValue for all-clusters-app Flow Measurement cluster.
  examples/all-clusters-app/all-clusters-common/all-clusters-app.matter
  examples/all-clusters-app/all-clusters-common/all-clusters-app.zap
Labels: examples, review - pending, fast track

#29351 Include the peer address in "Msg TX" logs.
  src/messaging/README.md
  src/transport/SessionManager.cpp
Labels: transport, review - approved
