Repository project-chip/connectedhomeip, pull requests merged in 2023-06, with the labels that each got.

#26830 ESP32: Add a menuconfig option to enable/disable route hook in matter
  config/esp32/components/chip/CMakeLists.txt
  config/esp32/components/chip/Kconfig
  src/platform/ESP32/BUILD.gn
  src/platform/ESP32/ConnectivityManagerImpl_WiFi.cpp
Labels: platform, esp32, config, review - approved

#26958 Go back to not generating per-cluster types for alias structs for now.
  examples/chip-tool/templates/ComplexArgumentParser-src.zapt
  examples/chip-tool/templates/ComplexArgumentParser.zapt
  examples/chip-tool/templates/logging/DataModelLogger-src.zapt
  examples/chip-tool/templates/logging/DataModelLogger.zapt
  src/app/zap-templates/templates/app/cluster-objects.zapt
  zzz_generated/app-common/app-common/zap-generated/cluster-objects.h
  zzz_generated/chip-tool/zap-generated/cluster/ComplexArgumentParser.cpp
  zzz_generated/chip-tool/zap-generated/cluster/ComplexArgumentParser.h
  zzz_generated/chip-tool/zap-generated/cluster/logging/DataModelLogger.cpp
  zzz_generated/chip-tool/zap-generated/cluster/logging/DataModelLogger.h
Labels: tools, examples, app, review - approved

#26829 ESP32: Update managed mdns component version to v1.1.x and add delegated service lookup
  config/esp32/components/chip/idf_component.yml
  src/platform/ESP32/WiFiDnssdImpl.cpp
Labels: platform, esp32, config, review - approved

#26875 [ESP32] [Cherry pick v1.1] Add support for implementing different ethernet boards for esp32
  config/esp32/components/chip/CMakeLists.txt
  docs/guides/esp32/build_app_and_commission.md
  src/platform/ESP32/BUILD.gn
  src/platform/ESP32/ConnectivityManagerImpl_Ethernet.cpp
  src/platform/ESP32/NetworkCommissioningDriver.h
  src/platform/ESP32/NetworkCommissioningDriver_Ethernet.cpp
Labels: documentation, platform, esp32, config

#26993 [Tizen] Change the platform version to 8.0 from 7.5
  src/platform/Tizen/BLEManagerImpl.cpp
Labels: platform, review - pending, fast track, tizen

#26960 Fix Thread diagnostic nullable attributes so they read as null when …
  src/platform/OpenThread/GenericThreadStackManagerImpl_OpenThread.hpp
Labels: platform, review - approved

#27004 [nrfconnect] Bump nRF Connect SDK version in Docker
  integrations/docker/images/chip-build-nrf-platform/Dockerfile
  integrations/docker/images/chip-build/version
  scripts/build/builders/nrf.py
  scripts/examples/nrfconnect_example.sh
Labels: scripts, integrations, review - approved

#26838 Add Replaceable Monitoring Clusters to All Clusters Example
  examples/all-clusters-app/all-clusters-common/all-clusters-app.matter
  examples/all-clusters-app/all-clusters-common/all-clusters-app.zap
  src/app/util/util.cpp
  src/app/zap_cluster_list.json
Labels: examples, app, review - approved

#24232 SystemLayerImplSelect: add libev support; CHIP_SYSTEM_CONFIG_USE_LIBEV
  src/include/platform/internal/GenericPlatformManagerImpl_POSIX.h
  src/include/platform/internal/GenericPlatformManagerImpl_POSIX.ipp
  src/platform/Darwin/PlatformManagerImpl.cpp
  src/platform/Darwin/SystemPlatformConfig.h
  src/system/BUILD.gn
  src/system/SystemLayer.h
  src/system/SystemLayerImplSelect.cpp
  src/system/SystemLayerImplSelect.h
  src/system/SystemTimer.h
  src/system/system.gni
Labels: system, platform, darwin, review - approved

#26986 Add separate hookable tracing module
  .github/.wordlist.txt
  src/BUILD.gn
  src/tracing/BUILD.gn
  src/tracing/README.md
  src/tracing/backend.h
  src/tracing/log_declares.h
  src/tracing/macros.h
  src/tracing/registry.cpp
  src/tracing/registry.h
  src/tracing/scope.h
  src/tracing/scopes.h
  src/tracing/tests/BUILD.gn
  src/tracing/tests/TestTracing.cpp
Labels: review - approved

#27017 Fix Linux build break when thread is disabled
  .github/workflows/examples-linux-standalone.yaml
  src/platform/Linux/bluez/ChipDeviceScanner.cpp
Labels: platform, linux, github, workflows, review - pending, fast track

#27009 [Silabs][SiWx917] Base application modifications for SiWx917 SoC
  examples/platform/silabs/SiWx917/BaseApplication.cpp
  examples/platform/silabs/SiWx917/BaseApplication.h
Labels: examples, platform, review - pending, fast track

#26952 Use zcl cluster for chip client callbacks
  build/chip/chip_codegen.cmake
  build/chip/chip_codegen.gni
  build/chip/esp32/esp32_codegen.cmake
  scripts/py_matter_idl/matter_idl/generators/java/CHIPReadCallbacks_h.jinja
  scripts/py_matter_idl/matter_idl/generators/java/ChipClustersCpp.jinja
  scripts/py_matter_idl/matter_idl/tests/outputs/cluster_struct_attribute/jni/CHIPReadReadCallbacks.h
  scripts/py_matter_idl/matter_idl/tests/outputs/cluster_struct_attribute/jni/DemoClusterClient-InvokeSubscribeImpl.cpp
  scripts/py_matter_idl/matter_idl/tests/outputs/global_struct_attribute/jni/CHIPReadReadCallbacks.h
  scripts/py_matter_idl/matter_idl/tests/outputs/global_struct_attribute/jni/DemoClusterClient-InvokeSubscribeImpl.cpp
  scripts/py_matter_idl/matter_idl/tests/outputs/optional_argument/jni/CHIPReadReadCallbacks.h
  scripts/py_matter_idl/matter_idl/tests/outputs/optional_argument/jni/MyClusterClient-InvokeSubscribeImpl.cpp
  scripts/py_matter_idl/matter_idl/tests/outputs/several_clusters/jni/CHIPReadReadCallbacks.h
  scripts/py_matter_idl/matter_idl/tests/outputs/several_clusters/jni/FirstClient-InvokeSubscribeImpl.cpp
  scripts/py_matter_idl/matter_idl/tests/outputs/several_clusters/jni/SecondClient-InvokeSubscribeImpl.cpp
  scripts/py_matter_idl/matter_idl/tests/outputs/several_clusters/jni/ThirdClient-InvokeSubscribeImpl.cpp
  scripts/py_matter_idl/matter_idl/tests/outputs/simple_attribute/jni/CHIPReadReadCallbacks.h
  scripts/py_matter_idl/matter_idl/tests/outputs/simple_attribute/jni/MyClusterClient-InvokeSubscribeImpl.cpp
  scripts/tools/zap/tests/available_tests.yaml
  scripts/tools/zap/tests/outputs/all-clusters-app/app-templates/CHIPClientCallbacks.h
  scripts/tools/zap/tests/outputs/lighting-app/app-templates/CHIPClientCallbacks.h
  src/app/chip_data_model.cmake
  src/app/chip_data_model.gni
  src/app/zap-templates/app-templates.json
  src/controller/java/CHIPDefaultCallbacks.h
  src/controller/java/templates/CHIPClientCallbacks.zapt
  src/controller/java/templates/CHIPClustersWrite-JNI.zapt
  src/controller/java/templates/CHIPInvokeCallbacks.zapt
  src/controller/java/templates/CHIPReadCallbacks-src.zapt
  src/controller/java/templates/templates.json
  src/controller/java/zap-generated/CHIPClientCallbacks.h
  src/controller/java/zap-generated/CHIPClustersWrite-JNI.cpp
  src/controller/java/zap-generated/CHIPInvokeCallbacks.h
  src/controller/java/zap-generated/CHIPReadCallbacks.cpp
Labels: scripts, controller, app, gn, review - approved

#27038 Zap regen - fix ToT merge conflict
  src/controller/java/zap-generated/CHIPClientCallbacks.h
Labels: hotfix

#26963 Implement kotlin setup-payload phase II
  src/controller/java/BUILD.gn
  src/controller/java/OnboardingPayloadParser-JNI.cpp
  src/controller/java/src/chip/onboardingpayload/CommissioningFlow.kt
  src/controller/java/src/chip/onboardingpayload/ManualOnboardingPayloadGenerator.kt
  src/controller/java/src/chip/onboardingpayload/ManualOnboardingPayloadParser.kt
  src/controller/java/src/chip/onboardingpayload/OnboardingPayload.kt
  src/controller/java/src/chip/onboardingpayload/OnboardingPayloadParser.kt
  src/controller/java/src/chip/onboardingpayload/Verhoeff.kt
  src/controller/java/src/chip/onboardingpayload/Verhoeff10.kt
Labels: controller, review - approved

#27003 Rename Replaceable Monitoring Cluster Definition XML
  .github/workflows/tests.yaml
  scripts/rules.matterlint
  src/app/zap-templates/zcl/data-model/all.xml
  src/app/zap-templates/zcl/data-model/chip/resource-monitoring-cluster.xml
  src/app/zap-templates/zcl/zcl-with-test-extensions.json
  src/app/zap-templates/zcl/zcl.json
Labels: scripts, app, github, workflows, review - approved

#27046 Fix random android build failure in CI
  .github/workflows/full-android.yaml
Labels: github, workflows, review - pending, fast track

#26922 app: Fix clusters delegates table check
  src/app/clusters/account-login-server/account-login-server.cpp
  src/app/clusters/application-basic-server/application-basic-server.cpp
  src/app/clusters/application-launcher-server/application-launcher-server.cpp
  src/app/clusters/audio-output-server/audio-output-server.cpp
  src/app/clusters/channel-server/channel-server.cpp
  src/app/clusters/color-control-server/color-control-server.cpp
  src/app/clusters/color-control-server/color-control-server.h
  src/app/clusters/content-launch-server/content-launch-server.cpp
  src/app/clusters/door-lock-server/door-lock-server.cpp
  src/app/clusters/door-lock-server/door-lock-server.h
  src/app/clusters/keypad-input-server/keypad-input-server.cpp
  src/app/clusters/level-control/level-control.cpp
  src/app/clusters/low-power-server/low-power-server.cpp
  src/app/clusters/media-input-server/media-input-server.cpp
  src/app/clusters/media-playback-server/media-playback-server.cpp
  src/app/clusters/target-navigator-server/target-navigator-server.cpp
  src/app/clusters/wake-on-lan-server/wake-on-lan-server.cpp
  src/app/clusters/window-covering-server/window-covering-server.cpp
Labels: app, review - approved

#27053 Bump up the clang-tidy job timeout.
  .github/workflows/build.yaml
Labels: github, workflows, review - pending

#27035 Replace usages of emberPrintln with ChipLogProgress calls
  examples/all-clusters-app/all-clusters-common/src/static-supported-modes-manager.cpp
  examples/lock-app/linux/main.cpp
  examples/placeholder/linux/static-supported-modes-manager.cpp
  examples/platform/esp32/mode-support/static-supported-modes-manager.cpp
  examples/window-app/common/src/WindowApp.cpp
  src/app/chip_data_model.cmake
  src/app/chip_data_model.gni
  src/app/clusters/administrator-commissioning-server/administrator-commissioning-server.cpp
  src/app/clusters/barrier-control-server/barrier-control-server.cpp
  src/app/clusters/color-control-server/color-control-server.cpp
  src/app/clusters/door-lock-server/door-lock-server.cpp
  src/app/clusters/level-control/level-control.cpp
  src/app/clusters/mode-select-server/mode-select-server.cpp
  src/app/clusters/occupancy-sensor-server/occupancy-sensor-server.cpp
  src/app/clusters/on-off-server/on-off-server.cpp
  src/app/clusters/pump-configuration-and-control-server/pump-configuration-and-control-server.cpp
  src/app/clusters/window-covering-server/window-covering-server.cpp
  src/app/util/af.h
  src/app/util/attribute-table.cpp
  src/app/util/attribute-table.h
  src/app/util/debug-printing-test.h
  src/app/util/debug-printing.h
  src/app/util/ember-print.cpp
  src/app/util/ember-print.h
Labels: examples, platform, app, review - approved

#27014 Server: Fix the incorrect log level for server initialization
  src/app/server/Server.cpp
Labels: app, review - approved

#27029 [Cherry-pick] [v1.1-branch] Add a lint for SuccessOrExit without assignment. (#26854)
  examples/platform/nxp/se05x/DeviceAttestationSe05xCredsExample_v2.cpp
  src/access/AccessControl.cpp
  src/app/CommandHandler.cpp
  src/app/WriteClient.cpp
  src/app/reporting/Engine.cpp
  src/app/server/Server.cpp
  src/app/tests/integration/chip_im_initiator.cpp
  src/controller/java/AndroidCommissioningWindowOpener.cpp
  src/controller/java/CHIPDeviceController-JNI.cpp
  src/controller/python/chip/clusters/command.cpp
  src/controller/python/chip/internal/CommissionerImpl.cpp
  src/crypto/CHIPCryptoPALOpenSSL.cpp
  src/crypto/CHIPCryptoPALPSA.cpp
  src/crypto/CHIPCryptoPALmbedTLS.cpp
  src/crypto/hsm/nxp/CHIPCryptoPALHsm_SE05X_P256.cpp
  src/platform/Infineon/CYW30739/FactoryDataProvider.cpp
  src/platform/mbed/BLEManagerImpl.cpp
  src/platform/nxp/common/crypto/CHIPCryptoPALTinyCrypt.cpp
  src/platform/nxp/k32w/k32w0/crypto/CHIPCryptoPALNXPUltrafastP256.cpp
  src/platform/silabs/SiWx917/CHIPCryptoPALTinyCrypt.cpp
  src/platform/silabs/efr32/CHIPCryptoPALPsaEfr32.cpp
  src/platform/silabs/efr32/Efr32PsaOpaqueKeypair.cpp
  src/protocols/bdx/BdxMessages.cpp
  src/protocols/secure_channel/CASESession.cpp
  src/protocols/secure_channel/PASESession.cpp
Labels: examples, platform, crypto, controller, app, tests

#26982 Rollback() on data model builder should reset the error on the builder.
  src/app/CommandHandler.cpp
  src/app/MessageDef/Builder.h
  src/app/WriteClient.cpp
  src/app/WriteClient.h
  src/app/WriteHandler.cpp
  src/app/reporting/Engine.cpp
  src/app/tests/TestClusterStateCache.cpp
Labels: app, review - pending, fast track, tests

#26936 Replace CHIP by Matter in bridge apps README
  examples/bridge-app/esp32/README.md
  examples/bridge-app/linux/README.md
  examples/dynamic-bridge-app/linux/README.md
Labels: examples, review - pending

#26930 TC-DA-1.2, TC-DA-1.5 automation
  .github/workflows/tests.yaml
  src/controller/python/ChipDeviceController-ScriptBinding.cpp
  src/controller/python/chip/ChipDeviceCtrl.py
  src/python_testing/TC_DA_1_2.py
  src/python_testing/TC_DA_1_5.py
  src/python_testing/matter_testing_support.py
  src/python_testing/test_testing/test_TC_DA_1_2.py
  src/python_testing/test_testing/test_TC_DA_1_5.py
Labels: controller, github, workflows, review - pending, fast track

#27054 Rollback() on data model builder should reset the error on the builder. (v1.1 cherry-picl of PR 26982)
  src/app/CommandHandler.cpp
  src/app/MessageDef/Builder.h
  src/app/WriteClient.cpp
  src/app/WriteClient.h
  src/app/WriteHandler.cpp
  src/app/reporting/Engine.cpp
  src/app/tests/TestClusterStateCache.cpp
Labels: app, tests

#26999 [Darwin] MTRDevice should coalesce reads and avoid duplicates
  src/darwin/Framework/CHIP/MTRAsyncCallbackWorkQueue.h
  src/darwin/Framework/CHIP/MTRAsyncCallbackWorkQueue.mm
  src/darwin/Framework/CHIP/MTRAsyncCallbackWorkQueue_Internal.h
  src/darwin/Framework/CHIP/MTRDevice.mm
  src/darwin/Framework/CHIPTests/MTRAsyncCallbackQueueTests.m
  src/darwin/Framework/CHIPTests/MTRDeviceTests.m
Labels: darwin, review - pending, fast track

#27034 [Telink] LEDs & Buttons DTS improvements
  examples/all-clusters-app/telink/include/AppConfig.h
  examples/all-clusters-minimal-app/telink/include/AppConfig.h
  examples/bridge-app/telink/include/AppConfig.h
  examples/bridge-app/telink/src/AppTask.cpp
  examples/contact-sensor-app/telink/include/AppConfig.h
  examples/contact-sensor-app/telink/src/AppTask.cpp
  examples/light-switch-app/telink/include/AppConfig.h
  examples/lighting-app/telink/include/AppConfig.h
  examples/lighting-app/telink/src/AppTask.cpp
  examples/lock-app/telink/include/AppConfig.h
  examples/lock-app/telink/src/AppTask.cpp
  examples/ota-requestor-app/telink/include/AppConfig.h
  examples/platform/telink/common/include/AppConfigCommon.h
  examples/platform/telink/common/src/AppTaskCommon.cpp
  examples/platform/telink/util/include/LEDWidget.h
  examples/platform/telink/util/src/ButtonManager.cpp
  examples/platform/telink/util/src/LEDWidget.cpp
  examples/pump-app/telink/include/AppConfig.h
  examples/pump-app/telink/src/AppTask.cpp
  examples/pump-controller-app/telink/include/AppConfig.h
  examples/pump-controller-app/telink/src/AppTask.cpp
  examples/temperature-measurement-app/telink/include/AppConfig.h
  examples/thermostat/telink/include/AppConfig.h
  examples/window-app/telink/include/AppConfig.h
  examples/window-app/telink/src/AppTask.cpp
  examples/window-app/telink/src/WindowCovering.cpp
  src/platform/telink/tlsr9518adk80d.overlay
Labels: examples, platform, review - approved, telink

#27012 [ESP32] Config Option to enable/disable log filtering APIs
  config/esp32/components/chip/Kconfig
  src/platform/ESP32/CHIPPlatformConfig.h
Labels: platform, esp32, config, review - approved

#27042 [chiptool.py] Carry over the data version for attribute reads returne…
  examples/chip-tool/commands/common/RemoteDataModelLogger.cpp
  examples/chip-tool/py_matter_chip_tool_adapter/matter_chip_tool_adapter/decoder.py
Labels: tools, examples, review - approved

#27039 [matter_yamltests] Add constraint type 'struct'
  scripts/py_matter_yamltests/matter_yamltests/constraints.py
Labels: scripts, review - approved

#27043 [typos] Move the log related to the attribute reads for chip-tool a f…
  src/app/tests/suites/commands/interaction_model/InteractionModel.cpp
Labels: app, review - approved, tests

#27005 [matter_yamltests] Increase the maximum message size that can be rece…
  scripts/py_matter_yamltests/matter_yamltests/websocket_runner.py
Labels: scripts, review - approved

#27052 Delete last remnant of emberAfFindClusterServerEndpointIndex
  examples/tv-app/android/java/LevelManager.cpp
  examples/tv-app/android/java/OnOffManager.cpp
  src/app/clusters/ota-provider/ota-provider.cpp
  src/app/util/af.h
  src/app/util/attribute-storage.cpp
  src/darwin/Framework/CHIP/MTRIMDispatch.mm
Labels: examples, darwin, app, review - approved

#26985 TC-DA-1.7: Documentation for how to test locally
  src/python_testing/TC_DA_1_7.py
Labels: review - approved

#27069 [Darwin] Turn on CBCentralManagerScanOptionAllowDuplicatesKey
  src/platform/Darwin/BleConnectionDelegateImpl.mm
Labels: platform, darwin, review - pending, fast track

#26505 [Docker] Add ARM64 support to chip-build image
  integrations/docker/build.sh
  integrations/docker/images/chip-build/Dockerfile
  integrations/docker/images/chip-build/version
  scripts/setup/constraints.txt
  scripts/setup/requirements.mbed.txt
Labels: scripts, integrations, review - approved

#26523 [ICD] Creation of ICDManager classes
  src/app/BUILD.gn
  src/app/icd/BUILD.gn
  src/app/icd/ICDEventManager.cpp
  src/app/icd/ICDEventManager.h
  src/app/icd/ICDManager.cpp
  src/app/icd/ICDManager.h
  src/app/icd/icd.gni
  src/app/server/Server.cpp
  src/app/server/Server.h
  src/app/tests/BUILD.gn
  src/app/tests/TestICDManager.cpp
Labels: app, review - approved, tests, icd

#27037 Update decision to build java-controller to Linux.
  build/chip/java/config.gni
Labels: gn, review - pending, fast track

#27079 Cleanup of SceneTable in scenes-server.cpp
  src/app/clusters/scenes-server/scenes-server.cpp
Labels: review - approved

#27058 Cherry-pick [ESP32] Config Option to enable/disable log filtering APIs (#27012)
  config/esp32/components/chip/Kconfig
  src/platform/ESP32/CHIPPlatformConfig.h
Labels: platform, esp32, config

#27078 Bugfix/scene save efs dynamical array
  src/app/clusters/scenes-server/SceneTableImpl.cpp
  src/app/clusters/scenes-server/SceneTableImpl.h
  src/app/tests/TestSceneTable.cpp
  src/app/util/mock/attribute-storage.cpp
Labels: app, review - approved, tests

#27072 [ESP32] Fix the incoming IM messages not being shown when debug logs are enabled
  config/esp32/components/chip/CMakeLists.txt
Labels: config, review - approved

#26755 [chip-tool] Add AnyCommands aliases
  examples/chip-tool/py_matter_chip_tool_adapter/matter_chip_tool_adapter/decoder.py
  examples/chip-tool/py_matter_chip_tool_adapter/matter_chip_tool_adapter/encoder.py
  scripts/py_matter_yamltests/matter_yamltests/parser.py
  scripts/tests/chiptest/__init__.py
  src/app/tests/suites/TestAttributesById.yaml
  src/app/tests/suites/TestCommandsById.yaml
  src/app/tests/suites/TestEventsById.yaml
Labels: tools, examples, scripts, app, review - approved, tests

#26474 Add cluster definition for smoke-co-alarm
  docs/examples/index.md
  examples/smoke-co-alarm-app/silabs/.gn
  examples/smoke-co-alarm-app/silabs/BUILD.gn
  examples/smoke-co-alarm-app/silabs/README.md
  examples/smoke-co-alarm-app/silabs/build_for_wifi_args.gni
  examples/smoke-co-alarm-app/silabs/build_for_wifi_gnfile.gn
  examples/smoke-co-alarm-app/silabs/build_overrides
  examples/smoke-co-alarm-app/silabs/include/AppConfig.h
  examples/smoke-co-alarm-app/silabs/include/AppEvent.h
  examples/smoke-co-alarm-app/silabs/include/AppTask.h
  examples/smoke-co-alarm-app/silabs/include/CHIPProjectConfig.h
  examples/smoke-co-alarm-app/silabs/include/SmokeCoAlarmManager.h
  examples/smoke-co-alarm-app/silabs/openthread.gn
  examples/smoke-co-alarm-app/silabs/openthread.gni
  examples/smoke-co-alarm-app/silabs/src/AppTask.cpp
  examples/smoke-co-alarm-app/silabs/src/SmokeCoAlarmManager.cpp
  examples/smoke-co-alarm-app/silabs/src/ZclCallbacks.cpp
  examples/smoke-co-alarm-app/silabs/third_party/connectedhomeip
  examples/smoke-co-alarm-app/silabs/with_pw_rpc.gni
  examples/smoke-co-alarm-app/smoke-co-alarm-common/BUILD.gn
  examples/smoke-co-alarm-app/smoke-co-alarm-common/smoke-co-alarm-app.matter
  examples/smoke-co-alarm-app/smoke-co-alarm-common/smoke-co-alarm-app.zap
  src/app/clusters/smoke-co-alarm-server/smoke-co-alarm-server.cpp
  src/app/clusters/smoke-co-alarm-server/smoke-co-alarm-server.h
  src/app/zap_cluster_list.json
Labels: documentation, examples, app, review - approved, cluster xml for 1.2

#27090 Add additional coverage in TestFabricTable
  src/credentials/tests/TestFabricTable.cpp
Labels: review - approved

#27048 Update runner run function to be async.
  scripts/py_matter_yamltests/matter_yamltests/runner.py
  scripts/tests/yaml/runner.py
Labels: scripts, review - approved

#27107 Fix ZAP ci.
  examples/smoke-co-alarm-app/smoke-co-alarm-common/smoke-co-alarm-app.matter
Labels: examples, hotfix, review - pending

#27006 [chip-tool] In interactive server mode when a response is sent over t…
  examples/chip-tool/commands/interactive/InteractiveCommands.cpp
Labels: tools, examples, review - approved

#27065 Fix color conversion bug lighting-example
  examples/lighting-app/lighting-common/src/ColorFormat.cpp
Labels: examples, review - approved

#27080 Add countryCode to MTRCommissioningParameters.
  src/darwin/Framework/CHIP/MTRCommissioningParameters.h
  src/darwin/Framework/CHIP/MTRDeviceController.mm
  src/darwin/Framework/CHIPTests/MTRDeviceTests.m
Labels: darwin, review - approved

#27112 Fix missing search & replace from #26941
  examples/android/CHIPTool/app/build.gradle
  scripts/build/builders/android.py
Labels: examples, hotfix, scripts, review - pending

#27106 Fix spelling error in log message.
  src/app/reporting/Engine.cpp
Labels: app, review - approved

#27104 [Scenes] Cluster Revision Update
  examples/all-clusters-app/all-clusters-common/all-clusters-app.matter
  examples/all-clusters-app/all-clusters-common/all-clusters-app.zap
  examples/all-clusters-minimal-app/all-clusters-common/all-clusters-minimal-app.matter
  examples/all-clusters-minimal-app/all-clusters-common/all-clusters-minimal-app.zap
  examples/bridge-app/bridge-common/bridge-app.zap
  examples/chef/sample_app_util/test_files/sample_zap_file.zap
  examples/contact-sensor-app/contact-sensor-common/contact-sensor-app.zap
  examples/light-switch-app/light-switch-common/light-switch-app.zap
  examples/lighting-app/lighting-common/lighting-app.matter
  examples/lighting-app/lighting-common/lighting-app.zap
  examples/lighting-app/silabs/data_model/lighting-thread-app.matter
  examples/lighting-app/silabs/data_model/lighting-thread-app.zap
  examples/lighting-app/silabs/data_model/lighting-wifi-app.matter
  examples/lighting-app/silabs/data_model/lighting-wifi-app.zap
  examples/lock-app/lock-common/lock-app.zap
  examples/log-source-app/log-source-common/log-source-app.zap
  examples/ota-provider-app/ota-provider-common/ota-provider-app.zap
  examples/ota-requestor-app/ota-requestor-common/ota-requestor-app.zap
  examples/placeholder/linux/apps/app1/config.matter
  examples/placeholder/linux/apps/app1/config.zap
  examples/placeholder/linux/apps/app2/config.matter
  examples/placeholder/linux/apps/app2/config.zap
  examples/pump-app/pump-common/pump-app.zap
  examples/pump-controller-app/pump-controller-common/pump-controller-app.zap
  examples/thermostat/thermostat-common/thermostat.matter
  examples/thermostat/thermostat-common/thermostat.zap
  examples/tv-app/tv-common/tv-app.zap
  examples/tv-casting-app/tv-casting-common/tv-casting-app.zap
  examples/window-app/common/window-app.matter
  examples/window-app/common/window-app.zap
  scripts/tools/zap/tests/inputs/all-clusters-app.zap
  scripts/tools/zap/tests/inputs/lighting-app.zap
  scripts/tools/zap/tests/outputs/all-clusters-app/app-templates/endpoint_config.h
  src/app/zap-templates/zcl/data-model/chip/scene.xml
  src/controller/data_model/controller-clusters.zap
Labels: examples, scripts, controller, app, review - approved

#27115 Cherry-pick [ESP32] Support for using encrypted app binary for OTA upgrades (#26978)
  .github/.wordlist.txt
  config/esp32/components/chip/CMakeLists.txt
  config/esp32/components/chip/Kconfig
  config/esp32/components/chip/idf_component.yml
  docs/guides/esp32/ota.md
  examples/lighting-app/esp32/CMakeLists.txt
  examples/platform/esp32/ota/OTAHelper.cpp
  src/platform/ESP32/OTAImageProcessorImpl.cpp
  src/platform/ESP32/OTAImageProcessorImpl.h
Labels: documentation, examples, platform, esp32, config

#27125 Fix flash_bundle build breakage in nrfconnect
  config/nrfconnect/app/flashing.cmake
Labels: hotfix, config

#26987 Immediately perform colour transitions for ColorControl commands where TransitionTime is zero
  src/app/clusters/color-control-server/color-control-server.cpp
  src/app/clusters/color-control-server/color-control-server.h
Labels: app, review - approved

#27114 Fix event logging test for platforms using system time
  src/app/EventManagement.cpp
  src/app/EventManagement.h
  src/app/tests/TestEventLogging.cpp
Labels: app, review - approved, tests

#27109 Remove availability annotations for removed RefrigeratorAlarm features.
  src/darwin/Framework/CHIP/templates/availability.yaml
Labels: darwin, review - approved

#27118 Format the node id as hex in MTRDevice description.
  src/darwin/Framework/CHIP/MTRDevice.mm
Labels: darwin, review - approved

#27134 Increase timeout for cloudbuild smoke test.
  integrations/cloudbuild/smoke-test.yaml
Labels: hotfix

#27132 Update availability Darwin annotations for Temperature Control.
  src/darwin/Framework/CHIP/templates/availability.yaml
Labels: darwin, review - approved

#27116 Improvements in Python testing support
  src/controller/python/chip/clusters/Attribute.py
  src/controller/python/chip/setup_payload/setup_payload.py
  src/python_testing/TC_CGEN_2_4.py
  src/python_testing/TC_DA_1_7.py
  src/python_testing/TC_RR_1_1.py
  src/python_testing/matter_testing_support.py
Labels: controller, review - pending

#27101 Log payloads for unsolicited reports even when we fail to dispatch them.
  src/app/InteractionModelEngine.cpp
  src/app/ReadClient.cpp
  src/app/ReadClient.h
  src/app/tests/TestReadInteraction.cpp
Labels: app, review - approved, tests

#27133 Remove invalid endpoint composition from lighting-app
  examples/lighting-app/lighting-common/lighting-app.matter
  examples/lighting-app/lighting-common/lighting-app.zap
Labels: examples, review - approved

#26164 [chip-tool] Update chip-tool such that the device scanner is able to directly gives the discovered CommissionNodeData to the SetUpCodePairer
  examples/chip-tool/BUILD.gn
  examples/chip-tool/commands/common/DeviceScanner.cpp
  examples/chip-tool/commands/common/DeviceScanner.h
  examples/chip-tool/commands/discover/DiscoverCommissionablesCommand.cpp
  examples/chip-tool/commands/pairing/Commands.h
  examples/chip-tool/commands/pairing/PairingCommand.cpp
  examples/chip-tool/commands/pairing/PairingCommand.h
  src/controller/CHIPDeviceController.cpp
  src/controller/CHIPDeviceController.h
  src/controller/SetUpCodePairer.cpp
  src/controller/SetUpCodePairer.h
  src/lib/dnssd/Discovery_ImplPlatform.cpp
  src/lib/dnssd/platform/Dnssd.h
  src/lib/dnssd/platform/DnssdBrowseDelegate.h
  src/platform/Darwin/BUILD.gn
  src/platform/Darwin/DnssdContexts.cpp
  src/platform/Darwin/DnssdImpl.cpp
  src/platform/Darwin/DnssdImpl.h
  src/platform/Darwin/DnssdType.cpp
  src/platform/Darwin/DnssdType.h
Labels: tools, examples, platform, darwin, lib, controller, review - pending, fast track

#27140 ESP32: Fix the link issues for ieee802154 component and esp_eth component
  config/esp32/components/chip/CMakeLists.txt
Labels: review - approved

#27141 [ESP32] docs: install esptool for idf v5.x and above and disable "chip_build_tests" by default
  config/esp32/components/chip/Kconfig
  docs/guides/esp32/setup_idf_chip.md
  examples/all-clusters-app/esp32/sdkconfig_m5stack.defaults
  examples/all-clusters-app/esp32/sdkconfig_m5stack_rpc.defaults
  examples/all-clusters-minimal-app/esp32/sdkconfig_m5stack.defaults
  examples/all-clusters-minimal-app/esp32/sdkconfig_m5stack_rpc.defaults
  src/test_driver/esp32/sdkconfig.defaults
  src/test_driver/esp32/sdkconfig_qemu.defaults
Labels: documentation, examples, config, review - pending, fast track, test driver

#27154 Add a string splitter class
  src/lib/support/BUILD.gn
  src/lib/support/StringSplitter.h
  src/lib/support/tests/BUILD.gn
  src/lib/support/tests/TestStringSplitter.cpp
Labels: lib, review - approved, support

#26774 [python] update cached attributes incrementally
  src/controller/python/chip/clusters/Attribute.py
  src/controller/python/test/test_scripts/cluster_objects.py
  src/test_driver/linux-cirque/MobileDeviceTest.py
Labels: controller, review - pending, fast track, test driver

#27075 [matter_yamltests] Add single/double constraint type supports
  examples/chip-tool/py_matter_chip_tool_adapter/matter_chip_tool_adapter/decoder.py
  scripts/py_matter_yamltests/matter_yamltests/constraints.py
Labels: tools, examples, scripts, review - approved

#27050 Fix cleanup steps for TC-ACE-1.3/4
  src/python_testing/TC_ACE_1_3.py
  src/python_testing/TC_ACE_1_4.py
Labels: review - pending, fast track

#26943 [Python] AttributeReadResult export dataversion
  src/controller/python/chip/ChipDeviceCtrl.py
  src/controller/python/chip/clusters/Attribute.py
  src/controller/python/chip/interaction_model/delegate.py
  src/test_driver/openiotsdk/integration-tests/common/utils.py
Labels: controller, review - pending, fast track, test driver

#26769 YAML for OpState TC 1.1. First draft.
  src/app/tests/suites/certification/Test_TC_OPSTATE_1_1.yaml
Labels: app, review - approved, tests

#27057 [ASR] add asr getting stated guide; add ASR582X CI
  .github/workflows/examples-asr.yaml
  docs/guides/README.md
  docs/guides/asr_getting_started_guide.md
  docs/guides/index.md
  examples/lighting-app/asr/README.md
  examples/platform/asr/shell/matter_shell.cpp
  scripts/build/build/targets.py
  scripts/build/builders/asr.py
  scripts/build/testdata/all_targets_linux_x64.txt
  src/platform/ASR/ASRConfig.h
  src/platform/ASR/ASROTAImageProcessor.cpp
  src/platform/ASR/ASRUtils.cpp
  src/platform/ASR/ConnectivityManagerImpl.cpp
  src/platform/ASR/KeyValueStoreManagerImpl.cpp
  src/platform/ASR/NetworkCommissioningWiFiDriver.cpp
  src/platform/ASR/PlatformManagerImpl.h
  src/platform/ASR/args.gni
Labels: documentation, examples, scripts, platform, github, workflows, review - approved

#27156 Fix method return type (strict python noticed we return None here)
  scripts/py_matter_idl/matter_idl/lint/lint_rules_parser.py
  src/lib/support/StringSplitter.h
Labels: scripts, lib, review - pending, fast track, support

#27178 Pin the checkout action to v3.5.2 for now.
  .github/workflows/bloat_check.yaml
  .github/workflows/build.yaml
  .github/workflows/chef.yaml
  .github/workflows/cherry-picks.yaml
  .github/workflows/cirque.yaml
  .github/workflows/darwin-tests.yaml
  .github/workflows/darwin.yaml
  .github/workflows/docbuild.yaml
  .github/workflows/docker_img.yaml
  .github/workflows/doxygen.yaml
  .github/workflows/examples-ameba.yaml
  .github/workflows/examples-asr.yaml
  .github/workflows/examples-bouffalolab.yaml
  .github/workflows/examples-cc13x2x7_26x2x7.yaml
  .github/workflows/examples-cc32xx.yaml
  .github/workflows/examples-efr32.yaml
  .github/workflows/examples-esp32.yaml
  .github/workflows/examples-infineon.yaml
  .github/workflows/examples-k32w.yaml
  .github/workflows/examples-linux-arm.yaml
  .github/workflows/examples-linux-imx.yaml
  .github/workflows/examples-linux-standalone.yaml
  .github/workflows/examples-mbed.yaml
  .github/workflows/examples-mw320.yaml
  .github/workflows/examples-nrfconnect.yaml
  .github/workflows/examples-openiotsdk.yaml
  .github/workflows/examples-qpg.yaml
  .github/workflows/examples-telink.yaml
  .github/workflows/examples-tizen.yaml
  .github/workflows/fixit_rotation.yaml
  .github/workflows/full-android.yaml
  .github/workflows/fuzzing-build.yaml
  .github/workflows/gradle-wrapper-validation.yml
  .github/workflows/java-tests.yaml
  .github/workflows/lint.yml
  .github/workflows/minimal-build.yaml
  .github/workflows/qemu.yaml
  .github/workflows/release_artifacts.yaml
  .github/workflows/smoketest-android.yaml
  .github/workflows/smoketest-darwin.yaml
  .github/workflows/spell.yml
  .github/workflows/tests.yaml
  .github/workflows/todos.yaml
  .github/workflows/unit_integration_test.yaml
  .github/workflows/zap_regeneration.yaml
  .github/workflows/zap_templates.yaml
Labels: hotfix, github, workflows

#27173 Fix spelling error carried over from spec
  src/app/tests/suites/certification/PICS.yaml
Labels: app, review - approved, fast track, tests

#27182 Update cloudbuild vscode version to be uniform
  integrations/cloudbuild/smoke-test.yaml
Labels: hotfix, integrations

#27160 ESP32: Fix the link issues for ieee802154 component and esp_eth component (v1.1 cherry-pick of 27140)
  config/esp32/components/chip/CMakeLists.txt
Labels: config

#27045 Added a CheckConstraint Min and Max function where the expected is a Nullable type
  src/app/tests/suites/include/ConstraintsChecker.h
Labels: testing, app, review - approved, tests

#27199 [QPG] Update memory parsing configuration
  scripts/tools/memory/platform/qpg.cfg
Labels: scripts, platform, qpg, review - pending, fast track

#27187 Update syscalls_stubs.cpp
  examples/platform/silabs/syscalls_stubs.cpp
Labels: examples, platform, review - pending, fast track

#27162 ESP32: Move the openthread platform config file to examples
  examples/all-clusters-app/esp32/main/main.cpp
  examples/all-clusters-minimal-app/esp32/main/main.cpp
  examples/lighting-app/esp32/main/main.cpp
  examples/platform/esp32/common/OpenthreadConfig.h
  src/platform/ESP32/BUILD.gn
  src/platform/ESP32/OpenthreadLauncher.c
  src/platform/ESP32/OpenthreadLauncher.h
Labels: examples, platform, esp32, review - approved

#27189 ESP32: Move the openthread platform config file to examples(v1.1 cherry-pick of PR 27162)
  examples/all-clusters-app/esp32/main/main.cpp
  examples/all-clusters-minimal-app/esp32/main/main.cpp
  examples/lighting-app/esp32/main/main.cpp
  examples/platform/esp32/common/OpenthreadConfig.h
  src/platform/ESP32/BUILD.gn
  src/platform/ESP32/OpenthreadLauncher.c
  src/platform/ESP32/OpenthreadLauncher.h
Labels: examples, platform, esp32

#27181 Make it clearer which Darwin test files are helpers vs tests.
  src/darwin/Framework/CHIPTests/TestHelpers/MTRErrorTestUtils.h
  src/darwin/Framework/CHIPTests/TestHelpers/MTRErrorTestUtils.mm
  src/darwin/Framework/CHIPTests/TestHelpers/MTRTestKeys.h
  src/darwin/Framework/CHIPTests/TestHelpers/MTRTestKeys.m
  src/darwin/Framework/CHIPTests/TestHelpers/MTRTestOTAProvider.h
  src/darwin/Framework/CHIPTests/TestHelpers/MTRTestOTAProvider.m
  src/darwin/Framework/CHIPTests/TestHelpers/MTRTestResetCommissioneeHelper.h
  src/darwin/Framework/CHIPTests/TestHelpers/MTRTestResetCommissioneeHelper.m
  src/darwin/Framework/CHIPTests/TestHelpers/MTRTestStorage.h
  src/darwin/Framework/CHIPTests/TestHelpers/MTRTestStorage.m
  src/darwin/Framework/Matter.xcodeproj/project.pbxproj
Labels: darwin, review - approved

#27212 [nrfconnect] Remove pigweed-app
  .github/workflows/examples-nrfconnect.yaml
  .vscode/tasks.json
  examples/pigweed-app/nrfconnect/.gitignore
  examples/pigweed-app/nrfconnect/CMakeLists.txt
  examples/pigweed-app/nrfconnect/Kconfig
  examples/pigweed-app/nrfconnect/README.md
  examples/pigweed-app/nrfconnect/boards/nrf52840dk_nrf52840.overlay
  examples/pigweed-app/nrfconnect/boards/nrf5340dk_nrf5340_cpuapp.conf
  examples/pigweed-app/nrfconnect/main/include/AppConfig.h
  examples/pigweed-app/nrfconnect/main/main.cpp
  examples/pigweed-app/nrfconnect/prj.conf
  examples/pigweed-app/nrfconnect/third_party/connectedhomeip
Labels: review - pending, fast track

#27193 Typo error fixing
  docs/BUG_REPORT.md
Labels: documentation, review - approved

#27149 [QPG] Updated .zap/.matter files for doorlock application to align feature settings
  examples/lock-app/qpg/src/ZclCallbacks.cpp
  examples/lock-app/qpg/zap/lock.matter
  examples/lock-app/qpg/zap/lock.zap
Labels: examples, qpg, review - approved

#27180 Add tracing macros to addressresolve
  examples/chip-tool/BUILD.gn
  examples/chip-tool/commands/common/CHIPCommand.cpp
  examples/chip-tool/commands/common/CHIPCommand.h
  examples/common/tracing/BUILD.gn
  examples/common/tracing/TraceHandlers.cpp
  examples/common/tracing/TracingCommandLineArgument.cpp
  examples/common/tracing/TracingCommandLineArgument.h
  examples/minimal-mdns/BUILD.gn
  examples/minimal-mdns/advertiser.cpp
  examples/minimal-mdns/client.cpp
  examples/minimal-mdns/server.cpp
  examples/tv-casting-app/linux/BUILD.gn
  examples/tv-casting-app/tv-casting-common/BUILD.gn
  src/app/server/Server.cpp
  src/lib/address_resolve/AddressResolve_DefaultImpl.cpp
  src/lib/address_resolve/BUILD.gn
  src/lib/address_resolve/TracingStructs.h
  src/lib/address_resolve/tool.cpp
  src/tracing/log_json/BUILD.gn
  src/tracing/log_json/log_json_tracing.cpp
  src/tracing/macros.h
Labels: tools, examples, lib, app, review - approved

#27204 SEDs should stay in active mode while a fail-safe is armed.
  src/app/FailSafeContext.cpp
  src/app/FailSafeContext.h
Labels: app, review - approved

#27209 [nrfconnect] Update factory data guide with additional rotating id info
  .github/.wordlist.txt
  docs/guides/esp32/ota.md
  docs/guides/infineon_psoc6_software_update.md
  docs/guides/nrfconnect_examples_software_update.md
  docs/guides/nrfconnect_factory_data_configuration.md
  docs/guides/silabs_efr32_software_update.md
  examples/all-clusters-app/telink/Readme.md
  examples/all-clusters-minimal-app/telink/Readme.md
  examples/bridge-app/telink/README.md
  examples/contact-sensor-app/nxp/k32w/k32w0/README.md
  examples/contact-sensor-app/telink/README.md
  examples/light-switch-app/telink/README.md
  examples/lighting-app/nxp/k32w/k32w0/README.md
  examples/lighting-app/telink/README.md
  examples/lock-app/telink/README.md
  examples/ota-requestor-app/ameba/README.md
  examples/ota-requestor-app/esp32/README.md
  examples/ota-requestor-app/infineon/cyw30739/README.md
  examples/ota-requestor-app/linux/README.md
  examples/ota-requestor-app/telink/Readme.md
  examples/pump-app/telink/README.md
  examples/pump-controller-app/telink/README.md
  examples/temperature-measurement-app/telink/README.md
  examples/thermostat/telink/Readme.md
  examples/window-app/telink/README.md
  scripts/tools/nrfconnect/nrfconnect_factory_data.schema
Labels: documentation, examples, scripts, review - approved

#27234 Pin actions/checkout to v3.5.2 to avoid errors
  .github/workflows/bloat_check.yaml
  .github/workflows/build.yaml
  .github/workflows/chef.yaml
  .github/workflows/cherry-picks.yaml
  .github/workflows/cirque.yaml
  .github/workflows/darwin-tests.yaml
  .github/workflows/darwin.yaml
  .github/workflows/docbuild.yaml
  .github/workflows/docker_img.yaml
  .github/workflows/doxygen.yaml
  .github/workflows/examples-ameba.yaml
  .github/workflows/examples-bouffalolab.yaml
  .github/workflows/examples-cc13x2x7_26x2x7.yaml
  .github/workflows/examples-cc32xx.yaml
  .github/workflows/examples-efr32.yaml
  .github/workflows/examples-esp32.yaml
  .github/workflows/examples-infineon.yaml
  .github/workflows/examples-k32w.yaml
  .github/workflows/examples-linux-arm.yaml
  .github/workflows/examples-linux-imx.yaml
  .github/workflows/examples-linux-standalone.yaml
  .github/workflows/examples-mbed.yaml
  .github/workflows/examples-mw320.yaml
  .github/workflows/examples-nrfconnect.yaml
  .github/workflows/examples-openiotsdk.yaml
  .github/workflows/examples-qpg.yaml
  .github/workflows/examples-telink.yaml
  .github/workflows/examples-tizen.yaml
  .github/workflows/fixit_rotation.yaml
  .github/workflows/full-android.yaml
  .github/workflows/fuzzing-build.yaml
  .github/workflows/gradle-wrapper-validation.yml
  .github/workflows/lint.yml
  .github/workflows/qemu.yaml
  .github/workflows/release_artifacts.yaml
  .github/workflows/smoketest-android.yaml
  .github/workflows/smoketest-darwin.yaml
  .github/workflows/spell.yml
  .github/workflows/tests.yaml
  .github/workflows/todos.yaml
  .github/workflows/unit_integration_test.yaml
  .github/workflows/zap_regeneration.yaml
  .github/workflows/zap_templates.yaml
Labels: hotfix, github, workflows

#27222 [Silabs] Enable Persistent Subs by default on all builds
  examples/platform/silabs/efr32/BUILD.gn
  src/platform/device.gni
Labels: examples, platform, review - approved

#27231 [esp32] Fix compilation error for esp32 based ble-controller
  src/platform/ESP32/BLEManagerImpl.h
Labels: platform, esp32, review - pending, fast track

#27183 Reduce number of replies on MinMds query processing.
  src/lib/dnssd/minimal_mdns/Server.cpp
Labels: lib, review - pending, fast track

#27207 Fix PAA pathlen check to match spec
  src/crypto/CHIPCryptoPALOpenSSL.cpp
  src/crypto/CHIPCryptoPALPSA.cpp
  src/crypto/CHIPCryptoPALmbedTLS.cpp
  src/crypto/tests/BUILD.gn
  src/crypto/tests/CHIPCryptoPALTest.cpp
  src/crypto/tests/DacValidationExplicitVectors.h
  src/platform/nxp/common/crypto/CHIPCryptoPALTinyCrypt.cpp
  src/platform/nxp/k32w/k32w0/crypto/CHIPCryptoPALNXPUltrafastP256.cpp
  src/platform/silabs/SiWx917/CHIPCryptoPALTinyCrypt.cpp
  src/platform/silabs/efr32/CHIPCryptoPALPsaEfr32.cpp
Labels: bug, platform, crypto, attestation, review - approved

#27252 [matter_yamltests] Add SpecDefinitions.get_cluster_names to get all t…
  scripts/py_matter_yamltests/matter_yamltests/definitions.py
Labels: review - approved

#27251 [chip-tool] Translate all ById command properly even when the cluster…
  examples/chip-tool/py_matter_chip_tool_adapter/matter_chip_tool_adapter/encoder.py
Labels: tools, examples, review - approved

#27211 [ASR] generate OTA image automatically
  examples/ota-requestor-app/asr/README.md
  third_party/asr/asr_executable.gni
Labels: examples, review - approved

#27255 Quiet the ZAP tests
  scripts/tools/zap/BUILD.gn
Labels: scripts, review - pending, fast track

#27089 [Scenes] Scene Handler Encode and Decode attribute value list
  src/app/clusters/scenes-server/SceneTableImpl.cpp
  src/app/clusters/scenes-server/SceneTableImpl.h
  src/app/tests/TestSceneTable.cpp
Labels: app, review - approved, tests

#27260 [chiptool.py] Remove the dot in the cluster name for the chip-tool ad…
  examples/chip-tool/py_matter_chip_tool_adapter/matter_chip_tool_adapter/encoder.py
Labels: tools, examples, review - approved

#27208 Add framework for device basic composition test
  .github/workflows/tests.yaml
  src/python_testing/TC_DeviceBasicComposition.py
  src/python_testing/matter_testing_support.py
Labels: github, workflows, review - approved

#27245 [Silabs] Add mg12 support slc
  .github/workflows/examples-efr32.yaml
  examples/lighting-app/silabs/BUILD.gn
  examples/platform/silabs/matter-platform.slcp
  third_party/silabs/slc_gen/run_slc.py
Labels: examples, platform, github, workflows, review - approved

#27254 Move enum class VendorId out of OnboardingPayload
  examples/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/setuppayloadscanner/QrCodeInfo.kt
  src/controller/java/BUILD.gn
  src/controller/java/src/chip/onboardingpayload/OnboardingPayload.kt
  src/controller/java/src/chip/onboardingpayload/OptionalQRCodeInfo.kt
  src/controller/java/src/chip/onboardingpayload/VendorId.kt
Labels: examples, controller, review - pending, fast track

#27277 Fix prettier-yaml restyler error.
  .restyled.yaml
Labels: review - pending, fast track

#27278 [Android JNI]suppress the error from unknown im event
  src/controller/java/AndroidCallbacks.cpp
Labels: controller, review - pending, fast track

#27282 Expose the Basic Information VID/PID as part of attestation results.
  src/credentials/attestation_verifier/DeviceAttestationVerifier.cpp
  src/credentials/attestation_verifier/DeviceAttestationVerifier.h
  src/darwin/Framework/CHIP/MTRDeviceAttestationDelegate.h
  src/darwin/Framework/CHIP/MTRDeviceAttestationDelegate.mm
  src/darwin/Framework/CHIP/MTRDeviceAttestationDelegateBridge.mm
  src/darwin/Framework/CHIP/MTRDeviceAttestationDelegate_Internal.h
  src/darwin/Framework/CHIPTests/MTRPairingTests.m
Labels: darwin, review - approved

#27161 ESP32: Do not read the ap record if esp_wifi_scan_start() is not called by NetworkCommissioningDriver
  src/platform/ESP32/NetworkCommissioningDriver.cpp
Labels: platform, esp32, review - approved

#27146 [Silabs][SiWx917] Led 1 enabled for 917 soc
  examples/lighting-app/silabs/src/AppTask.cpp
Labels: examples, review - approved

#27276 Remove tracing of encrypted message data (prepared buffers).
  examples/common/tracing/TraceHandlers.cpp
  src/transport/SessionManager.cpp
  src/transport/TraceMessage.h
Labels: examples, transport, review - approved

#27296 Fix stamp file creation for zap unit test.
  scripts/tools/zap/test_generate.py
Labels: scripts, review - pending, fast track

#27040 [chip-tool] The error is not reported over websocket when a read/subs…
  examples/chip-tool/commands/clusters/ClusterCommand.h
  examples/chip-tool/commands/clusters/ReportCommand.h
  examples/chip-tool/commands/clusters/WriteAttributeCommand.h
Labels: tools, examples, review - approved

#27221 Enhance OTA provider tests to use a real OTA image for the test
  .github/workflows/darwin.yaml
  src/darwin/Framework/CHIPTests/MTROTAProviderTests.m
  src/platform/BUILD.gn
Labels: platform, darwin, github, workflows, review - approved

#27297 Clean out android outputs more aggressively
  .github/workflows/full-android.yaml
  .github/workflows/smoketest-android.yaml
Labels: hotfix, github, workflows

#27268 MinMds - remove duplicate broadcasts at startup time (remove IP address looping)
  src/inet/IPAddress.cpp
  src/inet/IPAddress.h
  src/lib/dnssd/Advertiser_ImplMinimalMdns.cpp
  src/lib/dnssd/minimal_mdns/Server.cpp
  src/lib/dnssd/minimal_mdns/Server.h
Labels: lib, inet, review - approved

#27291 [OIS] Platform improvements
  src/platform/openiotsdk/OpenIoTSDKArchUtils.c
  src/platform/openiotsdk/PlatformManagerImpl.cpp
  src/platform/openiotsdk/PlatformManagerImpl.h
Labels: platform, review - pending, fast track

#27286 [cherry-pick] [ESP32] Fix ethernet commissioning on idf-v5.0.2
  config/esp32/components/chip/CMakeLists.txt
  src/platform/ESP32/ConnectivityManagerImpl_Ethernet.cpp
  src/platform/ESP32/NetworkCommissioningDriver_Ethernet.cpp
Labels: platform, esp32, config

#27285 [ESP32] Fix Ethernet Commissioning on esp-idf v5.0.2
  config/esp32/components/chip/CMakeLists.txt
  src/platform/ESP32/ConnectivityManagerImpl_Ethernet.cpp
  src/platform/ESP32/NetworkCommissioningDriver_Ethernet.cpp
Labels: platform, esp32, config, review - approved, cherry picked to 1.1

#27300 Factor our common logic in Darwin OTA tests.
  .github/workflows/darwin.yaml
  src/darwin/Framework/CHIPTests/MTROTAProviderTests.m
Labels: darwin, github, workflows, review - pending, fast track

#27267 Make main build python env not depend on all platform build requirements.
  .gn
  config/esp32/.gn
  config/standalone/args.gni
  examples/common/pigweed/rpc_console/.gn
  scripts/setup/bootstrap.sh
  scripts/setup/constraints.txt
  scripts/setup/environment.json
  scripts/setup/environment_no_cipd.json
  scripts/setup/requirements.all.txt
  scripts/setup/requirements.cirque.txt
  scripts/setup/requirements.memory.txt
  scripts/setup/requirements.yaml_tests.txt
  scripts/setup/requirements.zephyr.txt
  scripts/tools/telink/readme.md
  src/test_driver/efr32/.gn
Labels: scripts, config, gn, review - pending, fast track

#27321 [QPG] Added device timestamps in qpg logging
  src/platform/qpg/Logging.cpp
Labels: qpg, review - pending, fast track

#27274 MinMDNS: reduce amount of data in the mdns advertising packets (and make it more RFC compliant)
  examples/minimal-mdns/advertiser.cpp
  src/lib/dnssd/Advertiser_ImplMinimalMdns.cpp
  src/lib/dnssd/minimal_mdns/Parser.h
  src/lib/dnssd/minimal_mdns/QueryReplyFilter.h
  src/lib/dnssd/minimal_mdns/ResponseSender.cpp
  src/lib/dnssd/minimal_mdns/ResponseSender.h
  src/lib/dnssd/minimal_mdns/responders/IP.cpp
  src/lib/dnssd/minimal_mdns/responders/Ptr.h
  src/lib/dnssd/minimal_mdns/responders/QueryResponder.cpp
  src/lib/dnssd/minimal_mdns/responders/Responder.h
  src/lib/dnssd/minimal_mdns/responders/Srv.h
  src/lib/dnssd/minimal_mdns/responders/Txt.h
Labels: examples, lib, review - approved

#27281 Add data logging using the tracing module for message send/receive
  examples/common/tracing/TraceHandlers.cpp
  src/tracing/backend.h
  src/tracing/log_declares.h
  src/tracing/log_json/BUILD.gn
  src/tracing/log_json/log_json_tracing.cpp
  src/tracing/log_json/log_json_tracing.h
  src/tracing/registry.cpp
  src/tracing/registry.h
  src/transport/BUILD.gn
  src/transport/SessionManager.cpp
  src/transport/TracingStructs.h
  src/transport/raw/MessageHeader.h
Labels: examples, transport, review - pending, fast track

#27270 examples/lock-app/esp32: synchronize buttons to matter
  examples/lock-app/esp32/main/AppTask.cpp
Labels: examples, review - approved

#27304 Cancel incomplete BLE connection when CloseAllBleConnections() is called
  src/ble/BleLayer.cpp
Labels: ble

#27322 Add test with X.509 invalid pathLen extension
  src/crypto/tests/CHIPCryptoPALTest.cpp
  src/crypto/tests/DacValidationExplicitVectors.h
Labels: crypto, review - approved

#27064 [Python] Align the return values of all commission interfaces
  src/controller/python/chip/ChipDeviceCtrl.py
  src/controller/python/chip/native/__init__.py
  src/python_testing/TC_CGEN_2_4.py
  src/python_testing/TC_DA_1_5.py
Labels: controller, review - pending, fast track

#26631 Add server implementation of refrigerator alarm cluster
  examples/all-clusters-app/all-clusters-common/all-clusters-app.matter
  examples/all-clusters-app/all-clusters-common/all-clusters-app.zap
  examples/all-clusters-app/esp32/main/CMakeLists.txt
  src/app/clusters/refrigerator-alarm-server/refrigerator-alarm-server.cpp
  src/app/clusters/refrigerator-alarm-server/refrigerator-alarm-server.h
  src/app/zap_cluster_list.json
Labels: examples, app, review - approved, cluster xml for 1.2

#27329 ci(Mergify): configuration update
  .mergify.yml
Labels: review - pending

#27159 [Android] Implement generate certificiation API
  src/controller/java/AndroidOperationalCredentialsIssuer.cpp
  src/controller/java/AndroidOperationalCredentialsIssuer.h
  src/controller/java/CHIPDeviceController-JNI.cpp
  src/controller/java/src/chip/devicecontroller/ChipDeviceController.java
Labels: controller, review - pending, fast track

#27016 [Thread]Add a GenericThreadDriver constructor to set 2 private timeout variab…
  src/platform/OpenThread/GenericNetworkCommissioningThreadDriver.h
Labels: platform, review - approved

#27319 ESP32: Implement ICD related methods for ESP32 Wi-Fi platform
  config/esp32/components/chip/Kconfig
  src/platform/ESP32/CHIPDevicePlatformConfig.h
  src/platform/ESP32/ConnectivityManagerImpl.h
  src/platform/ESP32/ConnectivityManagerImpl_WiFi.cpp
  src/platform/ESP32/ESP32Utils.cpp
  src/platform/ESP32/NetworkCommissioningDriver.cpp
Labels: platform, esp32, config, review - pending, fast track

#27148 [matter_yamltests] Allow response to specify an endpoint/cluster/comm…
  scripts/py_matter_yamltests/matter_yamltests/parser.py
Labels: scripts, review - pending, fast track

#27318 [darwin-framework-tool] Add discover module to scan and list the discovered commissionable devices over BLE and Mdns
  examples/darwin-framework-tool/BUILD.gn
  examples/darwin-framework-tool/commands/discover/Commands.h
  examples/darwin-framework-tool/commands/discover/DiscoverCommissionablesCommand.h
  examples/darwin-framework-tool/commands/discover/DiscoverCommissionablesCommand.mm
  examples/darwin-framework-tool/commands/pairing/Commands.h
  examples/darwin-framework-tool/commands/pairing/PairingCommandBridge.h
  examples/darwin-framework-tool/commands/pairing/PairingCommandBridge.mm
  examples/darwin-framework-tool/main.mm
  src/controller/SetUpCodePairer.cpp
  src/controller/SetUpCodePairer.h
  src/darwin/Framework/CHIP/MTRCommissionableBrowser.h
  src/darwin/Framework/CHIP/MTRCommissionableBrowser.mm
  src/darwin/Framework/CHIP/MTRCommissionableBrowserDelegate.h
  src/darwin/Framework/CHIP/MTRCommissionableBrowserResult.h
  src/darwin/Framework/CHIP/MTRCommissionableBrowserResult_Internal.h
  src/darwin/Framework/CHIP/MTRDeviceController.h
  src/darwin/Framework/CHIP/MTRDeviceController.mm
  src/darwin/Framework/CHIP/Matter.h
  src/darwin/Framework/Matter.xcodeproj/project.pbxproj
  src/lib/dnssd/platform/Dnssd.h
Labels: examples, platform, darwin, lib, controller, review - pending, fast track

#27326 [Typos] Update the max specifier of some attributes of the door lock cluster …
  src/app/zap-templates/zcl/data-model/chip/door-lock-cluster.xml
  src/app/zap-templates/zcl/data-model/chip/media-playback-cluster.xml
Labels: app, review - approved

#26772 Disable c++ static destructors on exit
  examples/tv-casting-app/darwin/MatterTvCastingBridge/chip_xcode_build_connector.sh
Labels: examples, review - pending, fast track

#27059 [Python] export manual code when OpenCommissioningWindow
  src/controller/python/ChipDeviceController-ScriptDevicePairingDelegate.cpp
  src/controller/python/ChipDeviceController-ScriptDevicePairingDelegate.h
  src/controller/python/chip/ChipDeviceCtrl.py
  src/controller/python/test/test_scripts/base.py
  src/python_testing/TC_CGEN_2_4.py
  src/python_testing/TC_DA_1_5.py
Labels: controller, review - pending, fast track

#24294 Add ability to set commissioner node ID and update logging.
  examples/darwin-framework-tool/commands/common/CHIPCommandBridge.h
  examples/darwin-framework-tool/commands/common/CHIPCommandBridge.mm
Labels: examples, darwin, review - pending, fast track

#25238 [Python] Implement TLV List type
  src/controller/python/BUILD.gn
  src/controller/python/chip/tlv/__init__.py
  src/controller/python/chip/tlv/tlvlist.py
  src/controller/python/test/unit_tests/test_tlv.py
Labels: controller, review - approved

#26965 Add Smoke CO Alarm device type definition
  src/app/zap-templates/zcl/data-model/chip/matter-devices.xml
Labels: app, review - approved

#27324 [matter_yamltests] Add saveDataVersionAs supports
  examples/chip-tool/py_matter_chip_tool_adapter/matter_chip_tool_adapter/encoder.py
  scripts/py_matter_yamltests/matter_yamltests/parser.py
  scripts/py_matter_yamltests/matter_yamltests/yaml_loader.py
Labels: tools, examples, scripts, review - approved

#27314 [matter_idl] Add min_value/max_value/min_length supports when parsing…
  scripts/py_matter_idl/matter_idl/generators/types.py
  scripts/py_matter_idl/matter_idl/matter_idl_types.py
  scripts/py_matter_idl/matter_idl/test_xml_parser.py
  scripts/py_matter_idl/matter_idl/zapxml/handlers/parsing.py
Labels: scripts, review - pending, fast track

#27323 [matter_yamltests] Allow response field to be configured from the con…
  scripts/py_matter_yamltests/matter_yamltests/errors.py
  scripts/py_matter_yamltests/matter_yamltests/yaml_loader.py
  scripts/py_matter_yamltests/test_yaml_loader.py
Labels: scripts, review - pending, fast track

#27344 Testing buildjet vs github actions cache
  .github/workflows/build.yaml
  .github/workflows/chef.yaml
  .github/workflows/cirque.yaml
  .github/workflows/darwin-tests.yaml
  .github/workflows/darwin.yaml
  .github/workflows/examples-ameba.yaml
  .github/workflows/examples-asr.yaml
  .github/workflows/examples-bouffalolab.yaml
  .github/workflows/examples-cc13x2x7_26x2x7.yaml
  .github/workflows/examples-cc32xx.yaml
  .github/workflows/examples-efr32.yaml
  .github/workflows/examples-esp32.yaml
  .github/workflows/examples-infineon.yaml
  .github/workflows/examples-k32w.yaml
  .github/workflows/examples-linux-arm.yaml
  .github/workflows/examples-linux-imx.yaml
  .github/workflows/examples-linux-standalone.yaml
  .github/workflows/examples-mbed.yaml
  .github/workflows/examples-mw320.yaml
  .github/workflows/examples-nrfconnect.yaml
  .github/workflows/examples-openiotsdk.yaml
  .github/workflows/examples-qpg.yaml
  .github/workflows/examples-telink.yaml
  .github/workflows/examples-tizen.yaml
  .github/workflows/full-android.yaml
  .github/workflows/fuzzing-build.yaml
  .github/workflows/java-tests.yaml
  .github/workflows/lint.yml
  .github/workflows/qemu.yaml
  .github/workflows/release_artifacts.yaml
  .github/workflows/smoketest-android.yaml
  .github/workflows/smoketest-darwin.yaml
  .github/workflows/tests.yaml
  .github/workflows/zap_regeneration.yaml
  .github/workflows/zap_templates.yaml
Labels: github, workflows, review - pending

#27327 Make updated tracing scope/begin/end/instant use char* instead of enums
  src/app/clusters/general-commissioning-server/general-commissioning-server.cpp
  src/app/clusters/network-commissioning/network-commissioning.cpp
  src/app/clusters/operational-credentials-server/operational-credentials-server.cpp
  src/controller/CHIPDeviceController.cpp
  src/lib/dnssd/IncrementalResolve.cpp
  src/protocols/secure_channel/CASESession.cpp
  src/protocols/secure_channel/PASESession.cpp
  src/tracing/BUILD.gn
  src/tracing/backend.h
  src/tracing/log_json/log_json_tracing.cpp
  src/tracing/log_json/log_json_tracing.h
  src/tracing/macros.h
  src/tracing/registry.cpp
  src/tracing/registry.h
  src/tracing/scope.h
  src/tracing/scopes.h
  src/tracing/tests/BUILD.gn
  src/tracing/tests/TestTracing.cpp
  src/tracing/tracing_args.gni
Labels: lib, controller, app, review - approved

#27331 Update README.md to include all platforms and examples
  .github/.wordlist.txt
  README.md
Labels: documentation, review - pending

#27353 Updating issue templates
  .github/ISSUE_TEMPLATE/001-bug-report.yaml
  .github/ISSUE_TEMPLATE/002-1.0-issue.yaml
  .github/ISSUE_TEMPLATE/003-1.1-issue.yaml
  .github/ISSUE_TEMPLATE/004-1.2-issue.yaml
  .github/ISSUE_TEMPLATE/005-1.3-issue.yaml
  .github/ISSUE_TEMPLATE/049-trivial-fix.yaml
  .github/ISSUE_TEMPLATE/050-tooling-fix.yaml
  .github/ISSUE_TEMPLATE/060-platform-fix.yaml
  .github/ISSUE_TEMPLATE/080-feature-request.yaml
  .github/ISSUE_TEMPLATE/090-sve-issue.yaml
  .github/ISSUE_TEMPLATE/091-cert-blocker.yaml
  .github/ISSUE_TEMPLATE/099-github-workflow-issue.yaml
  .github/ISSUE_TEMPLATE/70-trivial-fix.yaml
Labels: github, fast track

#27357 Followup for #27314 to change the type int of the return value of Get…
  scripts/py_matter_idl/matter_idl/generators/types.py
Labels: scripts, review - pending, fast track
