Repository project-chip/connectedhomeip, pull requests merged in 2023-05, with the labels that each got.

#26287 Remove the kDNSServiceInterfaceIndexLocalOnly special-case on Darwin.
  src/platform/Darwin/DnssdContexts.cpp
  src/platform/Darwin/DnssdHostNameRegistrar.cpp
  src/platform/Darwin/DnssdHostNameRegistrar.h
  src/platform/Darwin/DnssdImpl.cpp
  src/platform/Darwin/DnssdImpl.h
Labels: platform, darwin, review - approved

#26249 ESP32: Fix route hook iterator issue
  src/platform/ESP32/route_hook/ESP32RouteHook.c
Labels: platform, esp32, review - approved

#26300 Use work helper with CASE handle sigma3
  src/protocols/secure_channel/CASESession.cpp
  src/protocols/secure_channel/CASESession.h
Labels: review - approved

#26315 [Silabs] Rename sources files
  src/platform/silabs/SiWx917/BUILD.gn
  src/platform/silabs/efr32/BUILD.gn
  src/platform/silabs/platformAbstraction/GsdkSpam.cpp
  src/platform/silabs/platformAbstraction/WiseMcuSpam.cpp
Labels: platform, review - approved

#26279 Stop generating attribute accessors for AttributeAccessInterface-only attributes.
  examples/light-switch-app/infineon/cyw30739/src/ZclCallbacks.cpp
  examples/lighting-app/infineon/cyw30739/src/ZclCallbacks.cpp
  examples/lock-app/infineon/cyw30739/src/ZclCallbacks.cpp
  integrations/docker/images/chip-cert-bins/Dockerfile
  scripts/setup/zap.json
  scripts/tools/zap/zap_execution.py
  src/app/zap-templates/templates/app/attributes/Accessors-src.zapt
  src/app/zap-templates/templates/app/attributes/Accessors.zapt
  src/app/zap-templates/zcl/zcl-with-test-extensions.json
  src/app/zap-templates/zcl/zcl.json
  zzz_generated/app-common/app-common/zap-generated/attributes/Accessors.cpp
  zzz_generated/app-common/app-common/zap-generated/attributes/Accessors.h
Labels: examples, scripts, integrations, app, review - approved

#26334 Add ProductAppearance on Bridged Device Basic Information to the list of forced-attribute-access attributes.
  src/app/zap-templates/zcl/zcl-with-test-extensions.json
  src/app/zap-templates/zcl/zcl.json
Labels: hotfix, app

#26320 Fix segfault when RPC client disconnects on linux app
  examples/platform/linux/system_rpc_server.cc
Labels: examples, platform, review - approved

#26323 [Silabs] Adds fix for WF200 firmware error 15
  examples/platform/silabs/efr32/spi_multiplex.h
Labels: examples, platform, review - approved

#26336 Use stack buffer when tokenizing smaller buffers
  src/lib/support/logging/CHIPLogging.cpp
Labels: lib, review - approved, support

#26154 Add configure script to set up a light-weight build environment
  .github/workflows/minimal-build.yaml
  build/config/BUILDCONFIG.gn
  build/toolchain/custom/BUILD.gn
  build/toolchain/custom/custom.gni
  examples/build_overrides/pigweed_environment.gni
  integrations/docker/images/chip-build-minimal/Dockerfile
  integrations/docker/images/chip-build-minimal/build.sh
  integrations/docker/images/chip-build-minimal/run.sh
  integrations/docker/images/chip-build-minimal/version
  scripts/configure
  scripts/configure.impl.py
  scripts/setup/requirements.build.txt
  scripts/setup/requirements.txt
  scripts/setup/zap.version
  scripts/tools/zap/version_update.py
Labels: examples, scripts, integrations, github, workflows, gn, review - approved

#26342 [Silabs] Use a common main files across All examples
  examples/chef/efr32/include/AppTask.h
  examples/chef/efr32/src/AppTask.cpp
  examples/chef/efr32/src/main.cpp
  examples/light-switch-app/silabs/SiWx917/BUILD.gn
  examples/light-switch-app/silabs/SiWx917/include/AppConfig.h
  examples/light-switch-app/silabs/SiWx917/src/AppTask.cpp
  examples/light-switch-app/silabs/SiWx917/src/main.cpp
  examples/light-switch-app/silabs/efr32/BUILD.gn
  examples/light-switch-app/silabs/efr32/include/AppConfig.h
  examples/light-switch-app/silabs/efr32/include/AppTask.h
  examples/light-switch-app/silabs/efr32/src/AppTask.cpp
  examples/light-switch-app/silabs/efr32/src/main.cpp
  examples/lighting-app/silabs/SiWx917/BUILD.gn
  examples/lighting-app/silabs/SiWx917/include/AppConfig.h
  examples/lighting-app/silabs/SiWx917/src/main.cpp
  examples/lighting-app/silabs/efr32/BUILD.gn
  examples/lighting-app/silabs/efr32/include/AppConfig.h
  examples/lighting-app/silabs/efr32/include/AppTask.h
  examples/lighting-app/silabs/efr32/src/AppTask.cpp
  examples/lighting-app/silabs/efr32/src/main.cpp
  examples/lock-app/silabs/SiWx917/BUILD.gn
  examples/lock-app/silabs/SiWx917/include/AppConfig.h
  examples/lock-app/silabs/SiWx917/src/AppTask.cpp
  examples/lock-app/silabs/SiWx917/src/main.cpp
  examples/lock-app/silabs/efr32/BUILD.gn
  examples/lock-app/silabs/efr32/include/AppConfig.h
  examples/lock-app/silabs/efr32/include/AppTask.h
  examples/lock-app/silabs/efr32/src/AppTask.cpp
  examples/lock-app/silabs/efr32/src/main.cpp
  examples/platform/silabs/Rpc.cpp
  examples/platform/silabs/efr32/BaseApplication.cpp
  examples/platform/silabs/efr32/BaseApplication.h
  examples/platform/silabs/main.cpp
  examples/thermostat/silabs/efr32/BUILD.gn
  examples/thermostat/silabs/efr32/include/AppConfig.h
  examples/thermostat/silabs/efr32/include/AppTask.h
  examples/thermostat/silabs/efr32/src/AppTask.cpp
  examples/window-app/silabs/efr32/include/WindowAppImpl.h
  examples/window-app/silabs/efr32/src/WindowAppImpl.cpp
  src/platform/silabs/platformAbstraction/GsdkSpam.cpp
  src/platform/silabs/platformAbstraction/SilabsPlatform.h
  src/platform/silabs/platformAbstraction/SilabsPlatformBase.h
  src/platform/silabs/platformAbstraction/WiseMcuSpam.cpp
Labels: examples, platform, review - approved

#26319 Install Python test runner dependencies in `chip-cert-bins` Docker image
  integrations/docker/images/chip-cert-bins/Dockerfile
Labels: integrations, review - approved

#26298 Building fuzzing logic was not well documented
  docs/guides/BUILDING.md
  scripts/build/build/targets.py
  scripts/build/builders/host.py
  scripts/build/testdata/all_targets_linux_x64.txt
Labels: documentation, scripts, review - pending, fast track

#26339 Cleanup in aisle CASESession
  src/credentials/FabricTable.cpp
  src/credentials/FabricTable.h
  src/protocols/secure_channel/CASESession.cpp
Labels: review - approved

#26343 Fix TLVPacketBufferBackingStore's length tracking.
  src/system/TLVPacketBufferBackingStore.cpp
  src/system/tests/BUILD.gn
  src/system/tests/TestTLVPacketBufferBackingStore.cpp
Labels: system, review - approved

#26355 [Silabs] Fix 917 buttons
  examples/lighting-app/silabs/SiWx917/include/AppTask.h
  examples/lighting-app/silabs/SiWx917/src/AppTask.cpp
  examples/window-app/silabs/SiWx917/src/WindowAppImpl.cpp
Labels: examples, review - approved

#26329 Make the "status" type match the spec.
  examples/all-clusters-app/all-clusters-common/all-clusters-app.matter
  examples/all-clusters-minimal-app/all-clusters-common/all-clusters-minimal-app.matter
  examples/light-switch-app/light-switch-common/light-switch-app.matter
  examples/placeholder/linux/apps/app1/config.matter
  examples/placeholder/linux/apps/app2/config.matter
  examples/thermostat/thermostat-common/thermostat.matter
  examples/window-app/common/window-app.matter
  src/app/util/ember-compatibility-functions.cpp
  src/app/zap-templates/common/override.js
  src/app/zap-templates/zcl/data-model/chip/chip-types.xml
  src/app/zap-templates/zcl/data-model/chip/scene.xml
  src/controller/data_model/controller-clusters.matter
  zzz_generated/app-common/app-common/zap-generated/attribute-size.h
Labels: examples, controller, app, review - approved

#26330 Remove unused "<access modifier>" bits from XML.
  src/app/zap-templates/zcl/data-model/chip/access-control-cluster.xml
Labels: app, review - approved

#26308 Try next IP address when sending first session establishment message fails.
  src/app/OperationalSessionSetup.cpp
  src/controller/SetUpCodePairer.cpp
Labels: controller, app, review - approved

#26325 [Tizen] Add system info module to check platform properties
  config/tizen/chip-gn/platform/BUILD.gn
  src/platform/Tizen/BLEManagerImpl.cpp
  src/platform/Tizen/BUILD.gn
  src/platform/Tizen/PlatformManagerImpl.cpp
  src/platform/Tizen/SystemInfo.cpp
  src/platform/Tizen/SystemInfo.h
Labels: platform, config, review - approved, tizen

#26354 Make sure DnssdServer does not dereference a dangling fabric table.
  src/app/server/Dnssd.cpp
  src/app/server/Dnssd.h
  src/controller/CHIPDeviceControllerFactory.cpp
  src/controller/CHIPDeviceControllerSystemState.h
Labels: controller, app, review - approved

#26368 Some type fixing for matter_idl
  scripts/py_matter_idl/matter_idl/generators/java/__init__.py
  scripts/py_matter_idl/matter_idl/zapxml/handlers/context.py
Labels: scripts, review - approved

#26370 [Silabs] Fix linkage and some apps build for the Sparkfun board
  examples/chef/efr32/include/AppTask.h
  examples/chef/efr32/src/AppTask.cpp
  examples/light-switch-app/silabs/efr32/include/AppTask.h
  examples/light-switch-app/silabs/efr32/src/AppTask.cpp
  examples/lighting-app/silabs/efr32/include/AppTask.h
  examples/lighting-app/silabs/efr32/src/AppTask.cpp
  examples/lock-app/silabs/efr32/include/AppTask.h
  examples/lock-app/silabs/efr32/src/AppTask.cpp
  examples/thermostat/silabs/efr32/BUILD.gn
  examples/thermostat/silabs/efr32/include/AppTask.h
  examples/thermostat/silabs/efr32/src/AppTask.cpp
  examples/window-app/silabs/efr32/include/WindowAppImpl.h
  examples/window-app/silabs/efr32/src/WindowAppImpl.cpp
  examples/window-app/silabs/efr32/src/main.cpp
  third_party/silabs/efr32_sdk.gni
Labels: examples, review - approved

#26371 Fix many more pytype changes for matter_idl
  scripts/py_matter_idl/matter_idl/generators/bridge/__init__.py
  scripts/py_matter_idl/matter_idl/generators/java/__init__.py
  scripts/py_matter_idl/matter_idl/generators/types.py
  scripts/py_matter_idl/matter_idl/lint/lint_rules_parser.py
  scripts/py_matter_idl/matter_idl/lint/types.py
  scripts/py_matter_idl/matter_idl/matter_idl_parser.py
  scripts/py_matter_idl/matter_idl/matter_idl_types.py
  scripts/py_matter_idl/matter_idl/test_matter_idl_parser.py
  scripts/py_matter_idl/matter_idl/xml_parser.py
  scripts/py_matter_idl/matter_idl/zapxml/__init__.py
  scripts/py_matter_idl/matter_idl/zapxml/handlers/context.py
  scripts/py_matter_idl/matter_idl/zapxml/handlers/handlers.py
  scripts/py_matter_idl/matter_idl/zapxml/handlers/parsing.py
Labels: scripts, review - approved

#26366 Add element accessors on Span.
  src/lib/support/Span.h
  src/lib/support/tests/TestSpan.cpp
Labels: lib, review - approved, support

#26378 make build succeed on Catalina with Xcode 12.00.
  examples/platform/linux/NamedPipeCommands.cpp
  src/tools/chip-cert/GeneralUtils.cpp
Labels: tools, examples, platform, review - approved

#26376 Replace coloredlogs usage in matter_idl with just basicConfig.
  scripts/py_matter_idl/matter_idl/lint/lint_rules_parser.py
  scripts/py_matter_idl/matter_idl/matter_idl_parser.py
  scripts/py_matter_idl/matter_idl/xml_parser.py
Labels: scripts, review - approved

#26374 Change the extension from .cpp to .hpp in the files that aren't compilation targets
  examples/platform/telink/common/src/AppTaskCommon.cpp
  src/platform/ESP32/ThreadStackManagerImpl.cpp
  src/platform/FreeRTOS/GenericThreadStackManagerImpl_FreeRTOS.hpp
  src/platform/Infineon/CYW30739/ThreadStackManagerImpl.cpp
  src/platform/OpenThread/GenericThreadStackManagerImpl_OpenThread.hpp
  src/platform/OpenThread/GenericThreadStackManagerImpl_OpenThread_LwIP.cpp
  src/platform/Zephyr/ThreadStackManagerImpl.cpp
  src/platform/bouffalolab/BL702/ThreadStackManagerImpl.cpp
  src/platform/cc13x2_26x2/ThreadStackManagerImpl.cpp
  src/platform/nxp/k32w/k32w0/ThreadStackManagerImpl.cpp
  src/platform/qpg/ThreadStackManagerImpl.cpp
  src/platform/silabs/efr32/ThreadStackManagerImpl.cpp
  src/platform/telink/ThreadStackManagerImpl.cpp
Labels: examples, platform, esp32, freeRTOS, zephyr, review - approved, telink

#26347 Fix regression for esp32 BLE controller
  config/esp32/components/chip/CMakeLists.txt
  config/esp32/components/chip/Kconfig
  src/platform/ESP32/BLEManagerImpl.h
  src/platform/ESP32/BUILD.gn
  src/platform/ESP32/CHIPDevicePlatformConfig.h
  src/platform/ESP32/nimble/ChipDeviceScanner.cpp
  src/platform/ESP32/nimble/blecent.h
  src/platform/ESP32/nimble/misc.c
  src/platform/ESP32/nimble/peer.c
Labels: platform, esp32, config, review - pending, fast track

#26393 Fix `is None` checks for the idl cluster decoding
  scripts/py_matter_idl/matter_idl/lint/lint_rules_parser.py
Labels: hotfix, scripts, review - pending

#26372 Ignore root cert expiration in Server.
  src/app/server/Server.cpp
  src/app/server/Server.h
  src/credentials/CHIPCert.cpp
  src/credentials/CertificateValidityPolicy.h
Labels: app, review - approved

#26389 [Ameba] Update docker image
  integrations/docker/images/chip-build-ameba/Dockerfile
  integrations/docker/images/chip-build/version
Labels: review - pending, fast track

#26367 Enable ASAN in the Darwin test scheme.
  src/darwin/Framework/Matter.xcodeproj/xcshareddata/xcschemes/Matter Framework Tests.xcscheme
Labels: darwin, review - approved

#26396 Fix linter errors for mandatory attributes in chef zap files
  .github/workflows/lint.yml
  examples/chef/devices/rootnode_contactsensor_lFAGG1bfRO.matter
  examples/chef/devices/rootnode_contactsensor_lFAGG1bfRO.zap
  examples/chef/devices/rootnode_doorlock_aNKYAreMXE.matter
  examples/chef/devices/rootnode_doorlock_aNKYAreMXE.zap
  examples/chef/devices/rootnode_extendedcolorlight_8lcaaYJVAa.matter
  examples/chef/devices/rootnode_extendedcolorlight_8lcaaYJVAa.zap
  examples/chef/devices/rootnode_flowsensor_1zVxHedlaV.matter
  examples/chef/devices/rootnode_flowsensor_1zVxHedlaV.zap
  examples/chef/devices/rootnode_heatingcoolingunit_ncdGai1E5a.matter
  examples/chef/devices/rootnode_heatingcoolingunit_ncdGai1E5a.zap
  examples/chef/devices/rootnode_humiditysensor_Xyj4gda6Hb.matter
  examples/chef/devices/rootnode_humiditysensor_Xyj4gda6Hb.zap
  examples/chef/devices/rootnode_lightsensor_lZQycTFcJK.matter
  examples/chef/devices/rootnode_lightsensor_lZQycTFcJK.zap
  examples/chef/devices/rootnode_occupancysensor_iHyVgifZuo.matter
  examples/chef/devices/rootnode_occupancysensor_iHyVgifZuo.zap
  examples/chef/devices/rootnode_onofflight_bbs1b7IaOV.matter
  examples/chef/devices/rootnode_onofflight_bbs1b7IaOV.zap
  examples/chef/devices/rootnode_onofflightswitch_FsPlMr090Q.matter
  examples/chef/devices/rootnode_onofflightswitch_FsPlMr090Q.zap
  examples/chef/devices/rootnode_onoffpluginunit_Wtf8ss5EBY.matter
  examples/chef/devices/rootnode_onoffpluginunit_Wtf8ss5EBY.zap
  examples/chef/devices/rootnode_pressuresensor_s0qC9wLH4k.matter
  examples/chef/devices/rootnode_pressuresensor_s0qC9wLH4k.zap
  examples/chef/devices/rootnode_speaker_RpzeXdimqA.matter
  examples/chef/devices/rootnode_speaker_RpzeXdimqA.zap
  examples/chef/devices/rootnode_temperaturesensor_Qy1zkNW7c3.matter
  examples/chef/devices/rootnode_temperaturesensor_Qy1zkNW7c3.zap
  examples/chef/devices/rootnode_thermostat_bm3fb8dhYi.matter
  examples/chef/devices/rootnode_thermostat_bm3fb8dhYi.zap
  examples/chef/devices/rootnode_windowcovering_RLCxaGi9Yx.matter
  examples/chef/devices/rootnode_windowcovering_RLCxaGi9Yx.zap
Labels: review - approved

#26375 [Silabs][WiFi] LWIP config modifications for ecosystems long run fix
  src/lwip/silabs/lwipopts-rs911x.h
  src/lwip/silabs/lwipopts-wf200.h
Labels: lwip

#26335 Remove gn_bootstrap.sh
  .github/workflows/build.yaml
  .github/workflows/chef.yaml
  .github/workflows/cirque.yaml
  .github/workflows/darwin-tests.yaml
  .github/workflows/darwin.yaml
  .github/workflows/examples-ameba.yaml
  .github/workflows/examples-bouffalolab.yaml
  .github/workflows/examples-cc13x2x7_26x2x7.yaml
  .github/workflows/examples-cc32xx.yaml
  .github/workflows/examples-efr32.yaml
  .github/workflows/examples-esp32.yaml
  .github/workflows/examples-infineon.yaml
  .github/workflows/examples-k32w.yaml
  .github/workflows/examples-linux-arm.yaml
  .github/workflows/examples-linux-imx.yaml
  .github/workflows/examples-linux-standalone.yaml
  .github/workflows/examples-mbed.yaml
  .github/workflows/examples-mw320.yaml
  .github/workflows/examples-nrfconnect.yaml
  .github/workflows/examples-openiotsdk.yaml
  .github/workflows/examples-qpg.yaml
  .github/workflows/examples-telink.yaml
  .github/workflows/examples-tizen.yaml
  .github/workflows/full-android.yaml
  .github/workflows/fuzzing-build.yaml
  .github/workflows/lint.yml
  .github/workflows/qemu.yaml
  .github/workflows/release_artifacts.yaml
  .github/workflows/smoketest-android.yaml
  .github/workflows/smoketest-darwin.yaml
  .github/workflows/tests.yaml
  .github/workflows/unit_integration_test.yaml
  .github/workflows/zap_regeneration.yaml
  .github/workflows/zap_templates.yaml
  examples/chef/README.md
  integrations/docker/images/chip-cert-bins/Dockerfile
  scripts/build/gn_bootstrap.sh
Labels: examples, scripts, integrations, github, workflows, review - approved

#26333 [chiptool.py] Add --trace_file, --trace_decode, --node_id, --continue…
  scripts/py_matter_yamltests/matter_yamltests/parser.py
  scripts/py_matter_yamltests/matter_yamltests/runner.py
  scripts/tests/yaml/chiptool.py
  scripts/tests/yaml/runner.py
Labels: scripts, review - approved

#26338 chip-repl hits the Code is unsafe/racy assert when BLE commissioning is started
  src/controller/python/chip/ble/library_handle.py
  src/controller/python/chip/ble/scan_devices.py
  src/controller/python/chip/ble/types.py
  src/platform/Linux/bluez/ChipDeviceScanner.cpp
  src/platform/Linux/bluez/ChipDeviceScanner.h
Labels: platform, linux, controller, review - approved

#26328 The skipping of items without a relevant path was failing to pick ite…
  scripts/tests/chiptest/test_definition.py
Labels: scripts, review - pending, fast track

#26337 Handle opCredsIssuer initialization failure
  src/controller/java/AndroidDeviceControllerWrapper.cpp
Labels: controller, review - approved

#26293 [Telink] Fix simulatedIndex max number & disable NET_MGMT
  config/telink/app/zephyr.conf
  examples/platform/telink/common/src/AppTaskCommon.cpp
  examples/temperature-measurement-app/telink/src/SensorManager.cpp
  examples/thermostat/silabs/efr32/src/SensorManager.cpp
  examples/thermostat/telink/src/SensorManager.cpp
  src/platform/telink/ConnectivityManagerImpl.h
Labels: examples, platform, config, review - approved, telink

#26215 ExchangeCtx: Fix issue with response timer cancellation
  src/messaging/ExchangeContext.cpp
Labels: review - approved

#26398 Don't try to use nonexistent global attribute id constants on Darwin.
  src/darwin/Framework/CHIP/templates/MTRClusterConstants.zapt
  src/darwin/Framework/CHIP/templates/MTRClusters-src.zapt
  src/darwin/Framework/CHIP/templates/MTRClusters.zapt
Labels: review - pending, fast track

#26358 Fix for missing MG24/MGM24 boards in silabs lighting-app EFR32 README
  .github/.wordlist.txt
  examples/lighting-app/silabs/efr32/README.md
Labels: examples, review - approved

#26381 qpg lock: add identify implementation
  examples/lock-app/qpg/src/AppTask.cpp
Labels: examples, qpg, review - approved, fast track

#26411 Do not use getenv() in Tizen GN config
  build/config/tizen/config.gni
  src/test_driver/tizen/README.md
Labels: gn, review - pending, fast track, test driver

#26401 Update README.md
  examples/lighting-app/silabs/efr32/README.md
Labels: examples, review - approved

#26395 Remove the OnSessionReleased callback from OperationalSessionSetup.
  src/app/OperationalSessionSetup.cpp
  src/app/OperationalSessionSetup.h
Labels: app, review - pending, fast track

#26327 Sort JSON Alphabetically
  src/app/zap_cluster_list.json
Labels: app, review - approved

#26377 Implement copyElement Method for the TlvWriter Class in Kotlin
  src/controller/java/src/chip/tlv/TlvReader.kt
  src/controller/java/src/chip/tlv/TlvWriter.kt
  src/controller/java/tests/chip/tlv/TlvReadWriteTest.kt
Labels: review - pending, fast track

#26373 Make sure we don't trash our userinfo after we get it and before we send it.
  src/app/clusters/door-lock-server/door-lock-server.cpp
Labels: app, review - approved, v1.1

#26406 Ignore root cert expiration in Server. (v1.1 cherry-pick of PR 26372)
  src/app/server/Server.cpp
  src/app/server/Server.h
  src/credentials/CHIPCert.cpp
  src/credentials/CertificateValidityPolicy.h
Labels: app

#26348 [ESP32] Use esp_log_writev() for logging rather than ESP_LOGx macros
  config/esp32/components/chip/CMakeLists.txt
  examples/platform/esp32/PigweedLogger.cpp
  src/platform/ESP32/Logging.cpp
Labels: examples, platform, esp32, config, review - approved

#26421 Make sure we don't trash our userinfo after we get it and before we send it. (v1.1 cherry-pick of PR 26373)
  src/app/clusters/door-lock-server/door-lock-server.cpp
Labels: app

#26278 [nrfconnect] Fixed using temporary buffer in GetWiFiInfo
  src/platform/nrfconnect/DiagnosticDataProviderImplNrf.cpp
  src/platform/nrfconnect/wifi/WiFiManager.cpp
  src/platform/nrfconnect/wifi/WiFiManager.h
Labels: platform, nrf connect, review - approved

#26050 [Documentation] fix README.md of CHIP controller (Android CHIPTool link)
  src/controller/README.md
Labels: controller, fast track

#26409 update ci to 0.7.2
  .devcontainer/devcontainer.json
  .github/workflows/bloat_check.yaml
  .github/workflows/build.yaml
  .github/workflows/chef.yaml
  .github/workflows/cirque.yaml
  .github/workflows/doxygen.yaml
  .github/workflows/examples-ameba.yaml
  .github/workflows/examples-bouffalolab.yaml
  .github/workflows/examples-cc13x2x7_26x2x7.yaml
  .github/workflows/examples-cc32xx.yaml
  .github/workflows/examples-efr32.yaml
  .github/workflows/examples-esp32.yaml
  .github/workflows/examples-infineon.yaml
  .github/workflows/examples-k32w.yaml
  .github/workflows/examples-linux-arm.yaml
  .github/workflows/examples-linux-imx.yaml
  .github/workflows/examples-linux-standalone.yaml
  .github/workflows/examples-mbed.yaml
  .github/workflows/examples-mw320.yaml
  .github/workflows/examples-nrfconnect.yaml
  .github/workflows/examples-openiotsdk.yaml
  .github/workflows/examples-qpg.yaml
  .github/workflows/examples-telink.yaml
  .github/workflows/examples-tizen.yaml
  .github/workflows/full-android.yaml
  .github/workflows/fuzzing-build.yaml
  .github/workflows/qemu.yaml
  .github/workflows/release_artifacts.yaml
  .github/workflows/smoketest-android.yaml
  .github/workflows/tests.yaml
  .github/workflows/unit_integration_test.yaml
  .github/workflows/zap_regeneration.yaml
  .github/workflows/zap_templates.yaml
  integrations/cloudbuild/build-all.yaml
  integrations/cloudbuild/chef.yaml
  integrations/cloudbuild/smoke-test.yaml
  scripts/setup/constraints.txt
  scripts/setup/requirements.esp32.txt
Labels: scripts, integrations, vscode, github, workflows, review - pending, fast track

#26423 Increase timeout for BuildMatterTVCastingBridge build.
  .github/workflows/smoketest-darwin.yaml
Labels: hotfix, github, workflows

#26332 time synchronization cluster XML update
  src/app/zap-templates/zcl/data-model/chip/time-synchronization-cluster.xml
  src/app/zap-templates/zcl/zcl-with-test-extensions.json
  src/app/zap-templates/zcl/zcl.json
  src/controller/python/chip/clusters/Objects.py
  src/darwin/Framework/CHIP/zap-generated/MTRBaseClusters.h
  src/darwin/Framework/CHIP/zap-generated/MTRClusterConstants.h
  src/darwin/Framework/CHIP/zap-generated/MTRCommandPayloadsObjc.h
  src/darwin/Framework/CHIP/zap-generated/MTRCommandPayloadsObjc.mm
  src/darwin/Framework/CHIP/zap-generated/MTRStructsObjc.h
  src/darwin/Framework/CHIP/zap-generated/MTRStructsObjc.mm
  zzz_generated/app-common/app-common/zap-generated/attributes/Accessors.cpp
  zzz_generated/app-common/app-common/zap-generated/attributes/Accessors.h
  zzz_generated/app-common/app-common/zap-generated/callback.h
  zzz_generated/app-common/app-common/zap-generated/cluster-enums-check.h
  zzz_generated/app-common/app-common/zap-generated/cluster-enums.h
  zzz_generated/app-common/app-common/zap-generated/cluster-objects.cpp
  zzz_generated/app-common/app-common/zap-generated/cluster-objects.h
  zzz_generated/app-common/app-common/zap-generated/ids/Attributes.h
  zzz_generated/app-common/app-common/zap-generated/ids/Commands.h
  zzz_generated/app-common/app-common/zap-generated/ids/Events.h
  zzz_generated/chip-tool/zap-generated/cluster/Commands.h
  zzz_generated/chip-tool/zap-generated/cluster/ComplexArgumentParser.cpp
  zzz_generated/chip-tool/zap-generated/cluster/ComplexArgumentParser.h
  zzz_generated/chip-tool/zap-generated/cluster/logging/DataModelLogger.cpp
  zzz_generated/chip-tool/zap-generated/cluster/logging/DataModelLogger.h
Labels: darwin, controller, app, review - approved

#26404 Improve session-management commands in chip-tool.
  examples/chip-tool/BUILD.gn
  examples/chip-tool/commands/pairing/Commands.h
  examples/chip-tool/commands/session-management/CloseSessionCommand.cpp
  examples/chip-tool/commands/session-management/CloseSessionCommand.h
  examples/chip-tool/commands/session-management/Commands.h
  examples/chip-tool/main.cpp
Labels: tools, examples, review - approved

#26402 Fix generation of certificates without an expiration date.
  src/credentials/CHIPCert.cpp
  src/credentials/GenerateChipX509Cert.cpp
  src/credentials/tests/CHIPCert_test_vectors.cpp
  src/credentials/tests/CHIPCert_test_vectors.h
  src/credentials/tests/TestChipCert.cpp
Labels: review - approved

#26419 [Chef]Turn off the Basic Information Reachable attribute
  examples/chef/devices/noip_rootnode_dimmablelight_bCwGYSDpoe.matter
  examples/chef/devices/noip_rootnode_dimmablelight_bCwGYSDpoe.zap
  examples/chef/devices/rootnode_colortemperaturelight_hbUnzYVeyn.matter
  examples/chef/devices/rootnode_colortemperaturelight_hbUnzYVeyn.zap
  examples/chef/devices/rootnode_contactsensor_lFAGG1bfRO.matter
  examples/chef/devices/rootnode_contactsensor_lFAGG1bfRO.zap
  examples/chef/devices/rootnode_dimmablelight_bCwGYSDpoe.matter
  examples/chef/devices/rootnode_dimmablelight_bCwGYSDpoe.zap
  examples/chef/devices/rootnode_doorlock_aNKYAreMXE.matter
  examples/chef/devices/rootnode_doorlock_aNKYAreMXE.zap
  examples/chef/devices/rootnode_extendedcolorlight_8lcaaYJVAa.matter
  examples/chef/devices/rootnode_extendedcolorlight_8lcaaYJVAa.zap
  examples/chef/devices/rootnode_fan_7N2TobIlOX.matter
  examples/chef/devices/rootnode_fan_7N2TobIlOX.zap
  examples/chef/devices/rootnode_flowsensor_1zVxHedlaV.matter
  examples/chef/devices/rootnode_flowsensor_1zVxHedlaV.zap
  examples/chef/devices/rootnode_heatingcoolingunit_ncdGai1E5a.matter
  examples/chef/devices/rootnode_heatingcoolingunit_ncdGai1E5a.zap
  examples/chef/devices/rootnode_humiditysensor_Xyj4gda6Hb.matter
  examples/chef/devices/rootnode_humiditysensor_Xyj4gda6Hb.zap
  examples/chef/devices/rootnode_lightsensor_lZQycTFcJK.matter
  examples/chef/devices/rootnode_lightsensor_lZQycTFcJK.zap
  examples/chef/devices/rootnode_occupancysensor_iHyVgifZuo.matter
  examples/chef/devices/rootnode_occupancysensor_iHyVgifZuo.zap
  examples/chef/devices/rootnode_onofflight_bbs1b7IaOV.matter
  examples/chef/devices/rootnode_onofflight_bbs1b7IaOV.zap
  examples/chef/devices/rootnode_onofflightswitch_FsPlMr090Q.matter
  examples/chef/devices/rootnode_onofflightswitch_FsPlMr090Q.zap
  examples/chef/devices/rootnode_onoffpluginunit_Wtf8ss5EBY.matter
  examples/chef/devices/rootnode_onoffpluginunit_Wtf8ss5EBY.zap
  examples/chef/devices/rootnode_pressuresensor_s0qC9wLH4k.matter
  examples/chef/devices/rootnode_pressuresensor_s0qC9wLH4k.zap
  examples/chef/devices/rootnode_speaker_RpzeXdimqA.matter
  examples/chef/devices/rootnode_speaker_RpzeXdimqA.zap
  examples/chef/devices/rootnode_temperaturesensor_Qy1zkNW7c3.matter
  examples/chef/devices/rootnode_temperaturesensor_Qy1zkNW7c3.zap
  examples/chef/devices/rootnode_thermostat_bm3fb8dhYi.matter
  examples/chef/devices/rootnode_thermostat_bm3fb8dhYi.zap
  examples/chef/devices/rootnode_windowcovering_RLCxaGi9Yx.matter
  examples/chef/devices/rootnode_windowcovering_RLCxaGi9Yx.zap
Labels: examples, review - pending, fast track

#26436 Adjust Darwin availability annotations for Time Synchronization updates.
  src/darwin/Framework/CHIP/templates/MTRClusterConstants.zapt
  src/darwin/Framework/CHIP/templates/availability.yaml
  src/darwin/Framework/CHIP/zap-generated/MTRBaseClusters.h
  src/darwin/Framework/CHIP/zap-generated/MTRClusterConstants.h
  src/darwin/Framework/CHIP/zap-generated/MTRCommandPayloadsObjc.h
  src/darwin/Framework/CHIP/zap-generated/MTRCommandPayloadsObjc.mm
Labels: darwin, review - pending, fast track

#26390 [Silabs] [EFR32] Refactor 917 NCP and 917 SoC Bluetooth to use the same implementation
  src/platform/silabs/SiWx917/BUILD.gn
  src/platform/silabs/efr32/BUILD.gn
  src/platform/silabs/efr32/rs911x/BLEManagerImpl.cpp
  src/platform/silabs/efr32/rs911x/rsi_ble_config.h
  src/platform/silabs/efr32/rs911x/wfx_sl_ble_init.c
  src/platform/silabs/efr32/rs911x/wfx_sl_ble_init.h
  src/platform/silabs/rs911x/BLEManagerImpl.cpp
  src/platform/silabs/rs911x/rsi_ble_config.h
  src/platform/silabs/rs911x/wfx_sl_ble_init.c
  src/platform/silabs/rs911x/wfx_sl_ble_init.h
  third_party/silabs/SiWx917_sdk.gni
  third_party/silabs/efr32_sdk.gni
Labels: platform, review - approved

#26439 update ci to 0.7.3
  .devcontainer/devcontainer.json
  .github/workflows/bloat_check.yaml
  .github/workflows/build.yaml
  .github/workflows/chef.yaml
  .github/workflows/cirque.yaml
  .github/workflows/doxygen.yaml
  .github/workflows/examples-ameba.yaml
  .github/workflows/examples-bouffalolab.yaml
  .github/workflows/examples-cc13x2x7_26x2x7.yaml
  .github/workflows/examples-cc32xx.yaml
  .github/workflows/examples-efr32.yaml
  .github/workflows/examples-esp32.yaml
  .github/workflows/examples-infineon.yaml
  .github/workflows/examples-k32w.yaml
  .github/workflows/examples-linux-arm.yaml
  .github/workflows/examples-linux-imx.yaml
  .github/workflows/examples-linux-standalone.yaml
  .github/workflows/examples-mbed.yaml
  .github/workflows/examples-mw320.yaml
  .github/workflows/examples-nrfconnect.yaml
  .github/workflows/examples-openiotsdk.yaml
  .github/workflows/examples-qpg.yaml
  .github/workflows/examples-telink.yaml
  .github/workflows/examples-tizen.yaml
  .github/workflows/full-android.yaml
  .github/workflows/fuzzing-build.yaml
  .github/workflows/minimal-build.yaml
  .github/workflows/qemu.yaml
  .github/workflows/release_artifacts.yaml
  .github/workflows/smoketest-android.yaml
  .github/workflows/tests.yaml
  .github/workflows/unit_integration_test.yaml
  .github/workflows/zap_regeneration.yaml
  .github/workflows/zap_templates.yaml
  integrations/cloudbuild/build-all.yaml
  integrations/cloudbuild/chef.yaml
  integrations/cloudbuild/smoke-test.yaml
Labels: integrations, vscode, github, workflows, review - pending, fast track

#25960 [Linux] Run glib event loop on dedicated glib Matter context
  src/platform/Linux/CHIPDevicePlatformConfig.h
  src/platform/Linux/ConnectivityManagerImpl.cpp
  src/platform/Linux/ConnectivityManagerImpl.h
  src/platform/Linux/PlatformManagerImpl.cpp
  src/platform/Linux/PlatformManagerImpl.h
  src/platform/Linux/ThreadStackManagerImpl.cpp
  src/platform/Linux/ThreadStackManagerImpl.h
  src/platform/Linux/bluez/AdapterIterator.cpp
  src/platform/Linux/bluez/ChipDeviceScanner.cpp
  src/platform/Linux/bluez/Helper.cpp
  src/platform/Linux/bluez/Types.h
  src/platform/webos/ThreadStackManagerImpl.cpp
  src/platform/webos/ThreadStackManagerImpl.h
Labels: platform, linux, review - pending, fast track

#26449 qpg: build libFactoryData instead of using an artifact
  examples/lighting-app/qpg/BUILD.gn
  examples/lock-app/qpg/BUILD.gn
  third_party/qpg_sdk/BUILD.gn
Labels: examples, review - pending, fast track

#26448 Adds fix for LastConnectErrorValue have null after device reset
  src/platform/silabs/NetworkCommissioningWiFiDriver.cpp
Labels: platform, review - pending, fast track

#26405 Fix use of certificate validity policy in CHIPDeviceController.
  src/controller/CHIPDeviceControllerFactory.cpp
Labels: controller, review - approved

#26384 [EFR32] Update README.md - add section to explain how to flash pre-built bootloader
  .github/.wordlist.txt
  examples/light-switch-app/silabs/efr32/README.md
Labels: examples, review - pending, fast track

#26321 Add methods for doing schema-checks on response-value dictionaries.
  src/darwin/Framework/CHIP/MTRBaseDevice.h
  src/darwin/Framework/CHIP/MTRBaseDevice.mm
  src/darwin/Framework/CHIP/MTRBaseDevice_Internal.h
  src/darwin/Framework/CHIP/MTRError.h
  src/darwin/Framework/CHIP/MTRError_Internal.h
  src/darwin/Framework/CHIPTests/MTRDataValueParserTests.m
  src/darwin/Framework/CHIPTests/MTRDeviceTests.m
  src/darwin/Framework/Matter.xcodeproj/project.pbxproj
Labels: darwin, review - approved

#26379 Improve configure script so ninja can be run without a wrapper
  scripts/configure
  scripts/configure.venv/venvactivate.pth
  scripts/configure.venv/venvactivate.py
Labels: scripts, review - approved

#26446 Initialize memory before running schedule lambda test
  src/system/tests/TestSystemScheduleLambda.cpp
Labels: system, review - pending, fast track

#26460 Inet implementations assume BYTE_ORDER is defined. make sure that it is
  src/inet/arpa-inet-compatibility.h
Labels: inet, review - approved

#26452 Add a chip-tool command line argument for the storage directory.
  examples/chip-tool/commands/common/CHIPCommand.cpp
  examples/chip-tool/commands/common/CHIPCommand.h
  examples/chip-tool/commands/common/Command.h
  examples/chip-tool/commands/common/Commands.cpp
  examples/chip-tool/commands/common/Commands.h
  examples/chip-tool/commands/interactive/InteractiveCommands.cpp
  scripts/tests/chiptest/test_definition.py
  scripts/tests/run_test_suite.py
  src/controller/ExamplePersistentStorage.cpp
  src/controller/ExamplePersistentStorage.h
Labels: tools, examples, scripts, controller, review - approved

#26463 Update the building guide for Android ChipTool
  docs/guides/android_building.md
Labels: documentation, review - approved

#26467 Enable ubsan in darwin unit tests.
  src/darwin/Framework/CHIP/MTRAttributeTLVValueDecoder_Internal.h
  src/darwin/Framework/CHIP/MTREventTLVValueDecoder_Internal.h
  src/darwin/Framework/CHIP/templates/MTRAttributeTLVValueDecoder-src.zapt
  src/darwin/Framework/CHIP/templates/MTREventTLVValueDecoder-src.zapt
  src/darwin/Framework/CHIP/zap-generated/MTRAttributeTLVValueDecoder.mm
  src/darwin/Framework/CHIP/zap-generated/MTREventTLVValueDecoder.mm
  src/darwin/Framework/CHIPTests/MTRDeviceTests.m
  src/darwin/Framework/Matter.xcodeproj/xcshareddata/xcschemes/Matter Framework Tests.xcscheme
  src/darwin/Framework/chip_xcode_build_connector.sh
Labels: darwin, review - approved

#26476 Support multiple cluster codes for enums in xmls
  scripts/py_matter_idl/matter_idl/test_xml_parser.py
  scripts/py_matter_idl/matter_idl/zapxml/handlers/handlers.py
Labels: scripts, review - approved

#24420 Chip tool fixes
  examples/android/CHIPTool/app/src/main/AndroidManifest.xml
  examples/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/ChipClient.kt
  examples/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/clusterclient/clusterinteraction/EndpointItem.kt
Labels: examples, review - approved

#26464 Fix matter_yamltests with Python 11 again.
  scripts/py_matter_yamltests/matter_yamltests/runner.py
Labels: scripts, review - approved

#26475 [Tizen] Fix build with non-default toolchain
  BUILD.gn
  src/test_driver/tizen/integration_tests/lighting-app/BUILD.gn
  third_party/tizen/tizen_sdk.gni
Labels: review - pending, fast track

#26457 [Doc] Updated SDK to 26 and NDK to 23.2.8568313
  docs/guides/android_building.md
Labels: documentation, review - pending, fast track

#26441 [ESP32] Update documentation of ota
  docs/guides/esp32/ota.md
Labels: documentation, review - approved

#26442 Fix the problem of hang after BLE discovery fails during commission
  src/controller/CHIPDeviceController.cpp
  src/platform/Linux/BLEManagerImpl.cpp
Labels: platform, linux, controller, review - approved

#26380 [Ameba] matter shell with loguart
  examples/platform/ameba/shell/launch_shell.cpp
  src/lib/shell/BUILD.gn
  src/lib/shell/MainLoopAmeba.cpp
  src/lib/shell/streamer_ameba.cpp
Labels: examples, platform, lib, review - pending, fast track, shell

#26458 Implemented Json to Tlv and Tlv to Json Converter in Kotlin
  examples/java-matter-controller/BUILD.gn
  src/controller/java/BUILD.gn
  src/controller/java/src/chip/json/JsonToTlv.kt
  src/controller/java/src/chip/json/TlvToJson.kt
  src/controller/java/src/chip/tlv/utils.kt
  src/controller/java/tests/chip/json/JsonToTlvToJsonTest.kt
  third_party/java_deps/BUILD.gn
  third_party/java_deps/set_up_java_deps.sh
Labels: examples, controller, review - pending, fast track

#26450 [Silabs] [EFR32] Refactor 917 NCP and 917 SoC Bluetooth "DriveBLEState" function and bugfix RS9116 Stop Advertising
  src/platform/silabs/ConnectivityManagerImpl_WIFI.cpp
  src/platform/silabs/rs911x/BLEManagerImpl.cpp
Labels: platform, review - approved

#26365 [K32W0] Update Docker image to accommodate SDK 2.6.11
  integrations/docker/images/chip-build-k32w/Dockerfile
  integrations/docker/images/chip-build/version
Labels: integrations, review - approved

#26492 Revert "Implemented Json to Tlv and Tlv to Json Converter in Kotlin (#26458)"
  examples/java-matter-controller/BUILD.gn
  src/controller/java/BUILD.gn
  src/controller/java/src/chip/json/JsonToTlv.kt
  src/controller/java/src/chip/json/TlvToJson.kt
  src/controller/java/src/chip/tlv/utils.kt
  src/controller/java/tests/chip/json/JsonToTlvToJsonTest.kt
  third_party/java_deps/BUILD.gn
  third_party/java_deps/set_up_java_deps.sh
Labels: examples, hotfix, controller

#26493 Make sure to not mutate a dictionary while we're enumerating it.
  src/platform/Darwin/BleConnectionDelegateImpl.mm
Labels: platform, darwin, review - pending, fast track

#26483 Make slightly better use of SockAddr in TCP code.
  src/inet/TCPEndPointImplSockets.cpp
Labels: inet, review - approved

#26479 [tools] Try to fix bloat check when comment has empty cell
  scripts/tools/memory/gh_report.py
  scripts/tools/memory/memdf/util/markdown.py
Labels: scripts, review - approved

#26399 Python testing: Add PICS, helpers, and tests
  .github/workflows/tests.yaml
  src/python_testing/TestMatterTestingSupport.py
  src/python_testing/matter_testing_support.py
Labels: github, workflows, review - approved

#26418 Fix linux BLE deadload
  src/controller/python/chip/ble/LinuxImpl.cpp
  src/platform/Linux/bluez/ChipDeviceScanner.cpp
  src/platform/Linux/bluez/ChipDeviceScanner.h
Labels: platform, linux, controller, review - approved

#26503 [OIS] Remove download of GCC for Docker image
  .vscode/launch.json
  integrations/docker/images/chip-build-openiotsdk/Dockerfile
  integrations/docker/images/chip-build-vscode/Dockerfile
  integrations/docker/images/chip-build/version
Labels: review - approved

#26517 Remove TODO comment.
  src/app/ReadClient.cpp
Labels: app, review - approved

#26519 Move the "ignore certificate validity dates" policy out of Server.h.
  examples/platform/nxp/se05x/linux/AppMain.cpp
  src/app/server/Server.cpp
  src/app/server/Server.h
  src/credentials/CertificateValidityPolicy.h
Labels: examples, platform, app, review - approved

#26520 Change Matter.framework to not put expiration time on certs by default.
  src/darwin/Framework/CHIP/MTRCertificates.h
  src/darwin/Framework/CHIP/MTRCertificates.mm
  src/darwin/Framework/CHIP/MTROperationalCredentialsDelegate.h
  src/darwin/Framework/CHIP/MTROperationalCredentialsDelegate.mm
Labels: darwin, review - pending, fast track

#26488 Fix alignment problem when casting struct sockaddr pointers to SockAddr.
  .github/workflows/darwin.yaml
  src/inet/IPAddress.cpp
  src/inet/IPAddress.h
Labels: inet, github, workflows, review - approved

#26478 Split up cluster read mapping
  scripts/py_matter_idl/matter_idl/generators/java/ClusterReadMapping.jinja
  scripts/py_matter_idl/matter_idl/tests/outputs/several_clusters/java/ClusterReadMapping.java
  src/controller/java/generated/java/chip/devicecontroller/ClusterReadMapping.java
Labels: scripts, controller, review - pending, fast track

#26540 Initialize BLE iterator on Matter glib context
  src/platform/Linux/bluez/AdapterIterator.cpp
  src/platform/Linux/bluez/AdapterIterator.h
Labels: platform, linux, review - pending, fast track

#26531 [ASR] add asr docker image
  integrations/docker/images/chip-build-asr/Dockerfile
  integrations/docker/images/chip-build-asr/build.sh
  integrations/docker/images/chip-build-asr/run.sh
  integrations/docker/images/chip-build-asr/version
  integrations/docker/images/chip-build-vscode/Dockerfile
  integrations/docker/images/chip-build/version
Labels: integrations, review - approved

#26526 Fix handling of certificate validity policy in CHIPDeviceControllerFactory.
  src/controller/CHIPDeviceControllerFactory.cpp
  src/controller/CHIPDeviceControllerFactory.h
Labels: controller, review - approved

#26533 [Ameba] Update docker image
  integrations/docker/images/chip-build-ameba/Dockerfile
  integrations/docker/images/chip-build/version
Labels: integrations, review - approved

#26529 Fix use of certificate validity policy in CHIPDeviceController. (v1.1 cherry-pick of PR 26405)
  src/controller/CHIPDeviceControllerFactory.cpp
Labels: controller

#26528 Move the "ignore certificate validity dates" policy out of Server.h. (v1.1 cherry-pick of PR 26519)
  examples/platform/nxp/se05x/linux/AppMain.cpp
  src/app/server/Server.cpp
  src/app/server/Server.h
  src/credentials/CertificateValidityPolicy.h
Labels: examples, platform, app

#26486 Add esp32-devkitc-light-rpc target in smoke-test.yaml
  integrations/cloudbuild/smoke-test.yaml
Labels: integrations, review - approved

#26507 qpg: remove MBEDTLS_REPO_DIR make argument
  third_party/qpg_sdk/BUILD.gn
Labels: review - approved

#26514 Add a script to mass-update cluster revisions in our .zap files.
  scripts/tools/zap/update_cluster_revisions.py
  scripts/tools/zap_convert_all.py
Labels: scripts, review - pending, fast track

#26504 [ESP32] Fixes for bluedroid and Added Lock to chip thread in ble-controller
  src/platform/ESP32/BUILD.gn
  src/platform/ESP32/ChipDeviceScanner.h
  src/platform/ESP32/bluedroid/BLEManagerImpl.cpp
  src/platform/ESP32/bluedroid/ChipDeviceScanner.cpp
  src/platform/ESP32/nimble/BLEManagerImpl.cpp
Labels: platform, esp32, review - approved

#26502 [cherry-pick] [ESP32] Fix regression for esp32 BLE controller
  config/esp32/components/chip/CMakeLists.txt
  config/esp32/components/chip/Kconfig
  src/platform/ESP32/BLEManagerImpl.h
  src/platform/ESP32/BUILD.gn
  src/platform/ESP32/CHIPDevicePlatformConfig.h
  src/platform/ESP32/ChipDeviceScanner.h
  src/platform/ESP32/bluedroid/BLEManagerImpl.cpp
  src/platform/ESP32/bluedroid/ChipDeviceScanner.cpp
  src/platform/ESP32/nimble/BLEManagerImpl.cpp
  src/platform/ESP32/nimble/ChipDeviceScanner.cpp
  src/platform/ESP32/nimble/blecent.h
  src/platform/ESP32/nimble/misc.c
  src/platform/ESP32/nimble/peer.c
Labels: platform, esp32, config

#26496 ESP32: Fix format errors in platform/ESP32/Logging.cpp
  src/platform/ESP32/Logging.cpp
Labels: platform, esp32, review - approved

#26499 [ota] CancelImageUpdate when HandleApply fails
  src/platform/Ameba/AmebaOTAImageProcessor.cpp
Labels: platform, review - approved

#26500 CI: Skip cache segment download after 3 minutes
  .github/workflows/build.yaml
  .github/workflows/chef.yaml
  .github/workflows/cirque.yaml
  .github/workflows/darwin-tests.yaml
  .github/workflows/darwin.yaml
  .github/workflows/examples-ameba.yaml
  .github/workflows/examples-bouffalolab.yaml
  .github/workflows/examples-cc13x2x7_26x2x7.yaml
  .github/workflows/examples-cc32xx.yaml
  .github/workflows/examples-efr32.yaml
  .github/workflows/examples-esp32.yaml
  .github/workflows/examples-infineon.yaml
  .github/workflows/examples-k32w.yaml
  .github/workflows/examples-linux-arm.yaml
  .github/workflows/examples-linux-imx.yaml
  .github/workflows/examples-linux-standalone.yaml
  .github/workflows/examples-mbed.yaml
  .github/workflows/examples-mw320.yaml
  .github/workflows/examples-nrfconnect.yaml
  .github/workflows/examples-openiotsdk.yaml
  .github/workflows/examples-qpg.yaml
  .github/workflows/examples-telink.yaml
  .github/workflows/examples-tizen.yaml
  .github/workflows/full-android.yaml
  .github/workflows/fuzzing-build.yaml
  .github/workflows/lint.yml
  .github/workflows/qemu.yaml
  .github/workflows/release_artifacts.yaml
  .github/workflows/smoketest-android.yaml
  .github/workflows/smoketest-darwin.yaml
  .github/workflows/tests.yaml
  .github/workflows/zap_regeneration.yaml
  .github/workflows/zap_templates.yaml
Labels: github, workflows, review - approved

#26472 Add Room Air Conditioner device type definition
  src/app/zap-templates/zcl/data-model/chip/matter-devices.xml
Labels: app, review - approved

#26545 Fix handling of certificate validity policy in CHIPDeviceControllerFactory. (v1.1 cherry-pick of PR 26526)
  src/controller/CHIPDeviceControllerFactory.cpp
  src/controller/CHIPDeviceControllerFactory.h
Labels: controller

#26408 Tidy up dependencies of //examples/platform/linux:app-main
  examples/all-clusters-app/all-clusters-common/src/binding-handler.cpp
  examples/contact-sensor-app/contact-sensor-common/BUILD.gn
  examples/light-switch-app/light-switch-common/BUILD.gn
  examples/lighting-app/lighting-common/BUILD.gn
  examples/lighting-app/qpg/zap/BUILD.gn
  examples/lock-app/lock-common/BUILD.gn
  examples/lock-app/nxp/zap/BUILD.gn
  examples/lock-app/qpg/zap/BUILD.gn
  examples/platform/linux/AppMain.cpp
  examples/platform/linux/BUILD.gn
  examples/platform/linux/CommissionerMain.cpp
  examples/platform/linux/CommonRpc.h
  examples/platform/nxp/se05x/linux/AppMain.cpp
  examples/platform/nxp/se05x/linux/BUILD.gn
  examples/tv-app/linux/AppImpl.cpp
  examples/tv-app/linux/BUILD.gn
  examples/tv-app/linux/main.cpp
  examples/tv-casting-app/linux/BUILD.gn
  examples/tv-casting-app/linux/main.cpp
  src/app/chip_data_model.gni
Labels: examples, platform, app, review - approved

#26544 [tools] Second take to fix bloat check
  .github/workflows/bloat_check.yaml
  scripts/tools/memory/gh_report.py
Labels: scripts, github, workflows, review - approved

#26546 Stop validating certificate lifetimes in Matter.framework.
  src/darwin/Framework/CHIP/MTRDeviceControllerFactory.mm
  src/darwin/Framework/CHIPTests/MTRCertificateValidityTests.m
  src/darwin/Framework/Matter.xcodeproj/project.pbxproj
Labels: darwin, review - approved

#26539 [chiptool.py] Make sure to update the exit code properly if parsing f…
  scripts/py_matter_yamltests/matter_yamltests/parser_builder.py
  scripts/py_matter_yamltests/matter_yamltests/runner.py
Labels: scripts, review - approved

#26324 [Android] Implement pairing with code API
  examples/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/ChipClient.kt
  examples/java-matter-controller/java/src/com/matter/controller/commands/common/Argument.kt
  examples/java-matter-controller/java/src/com/matter/controller/commands/pairing/PairCodeCommand.kt
  examples/java-matter-controller/java/src/com/matter/controller/commands/pairing/PairCodeThreadCommand.kt
  examples/java-matter-controller/java/src/com/matter/controller/commands/pairing/PairCodeWifiCommand.kt
  examples/java-matter-controller/java/src/com/matter/controller/commands/pairing/PairingCommand.kt
  src/controller/java/CHIPDeviceController-JNI.cpp
  src/controller/java/src/chip/devicecontroller/ChipDeviceController.java
  src/platform/android/AndroidChipPlatform-JNI.cpp
  src/platform/android/BLEManagerImpl.cpp
  src/platform/android/BLEManagerImpl.h
  src/platform/android/BUILD.gn
  src/platform/android/BleConnectCallback-JNI.cpp
  src/platform/android/BleConnectCallback-JNI.h
  src/platform/android/java/chip/platform/AndroidBleManager.java
  src/platform/android/java/chip/platform/BleConnectCallback.java
  src/platform/android/java/chip/platform/BleManager.java
Labels: examples, platform, controller, review - pending, fast track

#26553 Fix cross compile path (missing minor version)
  integrations/docker/images/chip-build-crosscompile/Dockerfile
  integrations/docker/images/chip-build/version
Labels: hotfix

#26557 Fix up openiot support from chip-build-vscode.
  integrations/docker/images/chip-build-vscode/Dockerfile
Labels: hotfix, integrations

#26510 [Tizen] Account for 0-terminator in WriteConfigValueStr
  src/platform/Tizen/PosixConfig.cpp
  src/platform/tests/TestConfigurationMgr.cpp
Labels: platform, review - approved, tizen

#26541 [matter_yamltests] Properly convert wait values from str to int if ne…
  scripts/py_matter_yamltests/matter_yamltests/pseudo_clusters/clusters/delay_commands.py
Labels: scripts, review - approved

#26485 Implemented ExtractSerialNumberFromX509Cert() Method
  src/crypto/CHIPCryptoPAL.h
  src/crypto/CHIPCryptoPALOpenSSL.cpp
  src/crypto/CHIPCryptoPALPSA.cpp
  src/crypto/CHIPCryptoPALmbedTLS.cpp
  src/crypto/tests/CHIPCryptoPALTest.cpp
  src/platform/nxp/common/crypto/CHIPCryptoPALTinyCrypt.cpp
  src/platform/nxp/k32w/k32w0/crypto/CHIPCryptoPALNXPUltrafastP256.cpp
  src/platform/silabs/SiWx917/CHIPCryptoPALTinyCrypt.cpp
  src/platform/silabs/efr32/CHIPCryptoPALPsaEfr32.cpp
Labels: platform, crypto, review - approved

#26579 Make pigweed set up clang-format on M1/M2 macs as well.
  .github/workflows/lint.yml
  scripts/lints/clang-format-version-matches.py
  scripts/setup/clang.json
  scripts/setup/environment.json
Labels: scripts, github, workflows, review - pending, fast track

#26559 Fix JNI type casts in matter jni layer
  examples/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/clusterclient/WildcardFragment.kt
  examples/java-matter-controller/java/src/com/matter/controller/commands/pairing/PairOnNetworkLongImInvokeCommand.kt
  examples/tv-app/android/App/platform-app/src/main/java/com/matter/tv/server/handlers/ContentAppEndpointManagerImpl.java
  examples/tv-app/android/App/platform-app/src/main/java/com/matter/tv/server/service/ContentAppAgentService.java
  examples/tv-app/android/App/platform-app/src/main/java/com/matter/tv/server/service/MatterServant.java
  examples/tv-app/android/java/ContentAppAttributeDelegate.cpp
  examples/tv-app/android/java/ContentAppAttributeDelegate.h
  examples/tv-app/android/java/ContentAppCommandDelegate.cpp
  examples/tv-app/android/java/ContentAppCommandDelegate.h
  examples/tv-app/android/java/TVApp-JNI.cpp
  examples/tv-app/android/java/src/com/matter/tv/server/tvapp/Clusters.java
  examples/tv-app/android/java/src/com/matter/tv/server/tvapp/ContentAppEndpointManager.java
  examples/tv-app/android/java/src/com/matter/tv/server/tvapp/TvApp.java
  examples/tv-app/android/java/src/com/matter/tv/server/tvapp/TvAppCallback.java
  src/controller/java/AndroidCallbacks.cpp
  src/controller/java/AndroidCurrentFabricRemover.cpp
  src/controller/java/AndroidDeviceControllerWrapper.cpp
  src/controller/java/src/chip/devicecontroller/model/AttributeWriteRequest.java
  src/controller/java/src/chip/devicecontroller/model/ChipAttributePath.java
  src/controller/java/src/chip/devicecontroller/model/ChipEventPath.java
  src/controller/java/src/chip/devicecontroller/model/ClusterState.java
  src/controller/java/src/chip/devicecontroller/model/InvokeElement.java
  src/controller/java/src/chip/devicecontroller/model/NodeState.java
  src/lib/support/JniReferences.cpp
Labels: examples, lib, controller, review - pending, fast track, support

#26530 Change Server to not validate certificate expiration by default.
  src/app/server/Server.cpp
  src/app/server/Server.h
Labels: app, review - approved

#26534 Improve discovery logging in SetUpCodePairer.
  src/controller/SetUpCodePairer.cpp
Labels: controller, review - approved

#26535 Rename Nullable::HasValidValue so people won't try to use it.
  examples/dynamic-bridge-app/linux/include/data-model/DataModel.h
  src/app/data-model/Decode.h
  src/app/data-model/Encode.h
  src/app/data-model/Nullable.h
Labels: examples, app, review - approved

#26547 Add new time types that got addded to the spec.
  scripts/py_matter_idl/matter_idl/generators/types.py
  src/app/util/ember-compatibility-functions.cpp
  src/app/zap-templates/common/override.js
  src/app/zap-templates/zcl/data-model/chip/chip-types.xml
  zzz_generated/app-common/app-common/zap-generated/attribute-size.h
  zzz_generated/app-common/app-common/zap-generated/attribute-type.h
Labels: scripts, app, review - approved

#26577 Remove dependency on controller-clusters.zap from DataModelLogger.
  examples/chip-tool/templates/logging/DataModelLogger-src.zapt
  examples/chip-tool/templates/logging/DataModelLogger.zapt
  zzz_generated/chip-tool/zap-generated/cluster/logging/DataModelLogger.cpp
  zzz_generated/chip-tool/zap-generated/cluster/logging/DataModelLogger.h
Labels: tools, examples, review - approved

#26561 [ASR] implement docker best practices
  integrations/docker/images/chip-build-asr/Dockerfile
  integrations/docker/images/chip-build/version
Labels: integrations, review - approved

#26494 [Java] Add API pairDeviceWithCode to test pair with setup code
  .github/workflows/tests.yaml
  examples/java-matter-controller/java/src/com/matter/controller/commands/pairing/PairCodeCommand.kt
  examples/java-matter-controller/java/src/com/matter/controller/commands/pairing/PairCodeThreadCommand.kt
  examples/java-matter-controller/java/src/com/matter/controller/commands/pairing/PairCodeWifiCommand.kt
  examples/java-matter-controller/java/src/com/matter/controller/commands/pairing/PairingCommand.kt
  scripts/tests/java/commissioning_test.py
  src/controller/CHIPDeviceController.cpp
  src/controller/CHIPDeviceController.h
  src/controller/java/CHIPDeviceController-JNI.cpp
  src/controller/java/src/chip/devicecontroller/ChipDeviceController.java
Labels: examples, scripts, controller, github, workflows, review - approved

#26581 [Silabs] Complete Button Abstraction
  examples/chef/efr32/src/AppTask.cpp
  examples/light-switch-app/silabs/SiWx917/src/AppTask.cpp
  examples/light-switch-app/silabs/efr32/src/AppTask.cpp
  examples/lighting-app/silabs/SiWx917/src/AppTask.cpp
  examples/lighting-app/silabs/efr32/include/AppTask.h
  examples/lighting-app/silabs/efr32/src/AppTask.cpp
  examples/lock-app/silabs/SiWx917/src/AppTask.cpp
  examples/lock-app/silabs/efr32/src/AppTask.cpp
  examples/platform/silabs/SiWx917/BaseApplication.cpp
  examples/platform/silabs/efr32/BaseApplication.cpp
  examples/platform/silabs/efr32/BaseApplication.h
  examples/thermostat/silabs/efr32/src/AppTask.cpp
  examples/window-app/silabs/efr32/src/WindowAppImpl.cpp
  src/platform/silabs/platformAbstraction/SilabsPlatform.h
Labels: examples, platform, review - approved

#26562 ESP32: Fix format errors in platform/ESP32/Logging.cpp(v1.1 cherry-pick of PR 26496)
  src/platform/ESP32/Logging.cpp
Labels: platform, esp32

#26549 Remove SessionHandle.{h,cpp} and replace includes with Session.h
  src/app/InteractionModelTimeout.h
  src/app/OperationalSessionSetupPool.h
  src/darwin/Framework/CHIP/MTRCallbackBridgeBase.h
  src/darwin/Framework/CHIP/MTRDeviceConnectionBridge.h
  src/protocols/secure_channel/SessionEstablishmentDelegate.h
  src/transport/BUILD.gn
  src/transport/MessageCounterManagerInterface.h
  src/transport/SessionHandle.cpp
  src/transport/SessionHandle.h
  src/transport/SessionManager.h
  src/transport/SessionMessageDelegate.h
Labels: transport, darwin, app, review - approved

#25700 [Silabs] Add links in SiWx917 README
  examples/light-switch-app/silabs/SiWx917/README.md
Labels: examples, review - approved

#26473 [nrfconnect] Added the Device Appearance attribute to factory data
  config/nrfconnect/chip-module/generate_factory_data.cmake
  config/zephyr/Kconfig
  docs/guides/nrfconnect_factory_data_configuration.md
  scripts/tools/nrfconnect/generate_nrfconnect_chip_factory_data.py
  scripts/tools/nrfconnect/nrfconnect_factory_data.schema
  scripts/tools/nrfconnect/tests/test_generate_factory_data.py
  src/platform/nrfconnect/FactoryDataParser.c
  src/platform/nrfconnect/FactoryDataParser.h
  src/platform/nrfconnect/FactoryDataProvider.cpp
  src/platform/nrfconnect/FactoryDataProvider.h
Labels: documentation, scripts, platform, nrf connect, config, review - approved

#26590 Change Server to not validate certificate expiration by default. (v1.1 cherry-pick of PR 26530)
  src/app/server/Server.cpp
  src/app/server/Server.h
Labels: app

#26527 Implemented Json to Tlv and Tlv to Json Converter in Kotlin
  examples/java-matter-controller/BUILD.gn
  src/controller/java/BUILD.gn
  src/controller/java/src/chip/jsontlv/JsonToTlv.kt
  src/controller/java/src/chip/jsontlv/TlvToJson.kt
  src/controller/java/src/chip/jsontlv/types.kt
  src/controller/java/src/chip/tlv/utils.kt
  src/controller/java/tests/chip/jsontlv/JsonToTlvToJsonTest.kt
  third_party/java_deps/BUILD.gn
  third_party/java_deps/set_up_java_deps.sh
Labels: examples, controller, review - pending, fast track

#26511 [devcontainer] Standalone build and update
  .devcontainer/build.sh
  .devcontainer/devcontainer.json
Labels: vscode, review - pending, fast track

#26382 [Ameba] dont use exampledacprovider
  examples/all-clusters-app/ameba/main/CHIPDeviceManager.cpp
  examples/light-switch-app/ameba/main/CHIPDeviceManager.cpp
  examples/lighting-app/ameba/main/CHIPDeviceManager.cpp
  examples/ota-requestor-app/ameba/main/CHIPDeviceManager.cpp
  src/platform/Ameba/FactoryDataProvider.cpp
  src/platform/Ameba/FactoryDataProvider.h
Labels: examples, platform, review - pending, fast track

#26567 [matter_yaml] Add a yaml test that exercise anyOf, EqualityCommands and runIf
  scripts/py_matter_yamltests/matter_yamltests/constraints.py
  scripts/py_matter_yamltests/matter_yamltests/parser.py
  scripts/py_matter_yamltests/matter_yamltests/pseudo_clusters/clusters/equality_commands.py
  scripts/py_matter_yamltests/matter_yamltests/pseudo_clusters/pseudo_clusters.py
  scripts/py_matter_yamltests/matter_yamltests/yaml_loader.py
  scripts/tests/chiptest/__init__.py
  src/app/tests/suites/TestEqualities.yaml
Labels: scripts, app, review - approved, tests

#26578 Remove acquiring matter context lock for canceling TimerExpiredCallback
  src/platform/Linux/bluez/ChipDeviceScanner.cpp
Labels: platform, linux, review - approved

#26596 [crypto] Fix PSA crypto PAL
  src/crypto/CHIPCryptoPALPSA.cpp
Labels: crypto, review - approved

#26615 [Cherry-pick]Inet implementations assume BYTE_ORDER is defined. make sure that it …
  src/inet/arpa-inet-compatibility.h
Labels: cherry picked to 1.1

#26254 [ON-OFF] Increase the size of the onoff cluster's eventControl array to handl…
  src/app/clusters/on-off-server/on-off-server.cpp
  src/app/util/af.h
  src/app/util/attribute-storage.cpp
Labels: app, review - approved

#26609 [Silabs] Move Logging api to a common place
  examples/chef/efr32/include/AppConfig.h
  examples/light-switch-app/silabs/SiWx917/include/AppConfig.h
  examples/light-switch-app/silabs/efr32/include/AppConfig.h
  examples/lighting-app/silabs/SiWx917/include/AppConfig.h
  examples/lighting-app/silabs/efr32/include/AppConfig.h
  examples/lock-app/silabs/SiWx917/include/AppConfig.h
  examples/lock-app/silabs/efr32/include/AppConfig.h
  examples/platform/silabs/SiWx917/BUILD.gn
  examples/platform/silabs/SiWx917/BaseApplication.cpp
  examples/platform/silabs/SiWx917/SiWx917/hal/rsi_hal_mcu_platform_init.c
  examples/platform/silabs/SiWx917/SiWx917/wfx_rsi.h
  examples/platform/silabs/SiWx917/siwx917_utils.cpp
  examples/platform/silabs/SiWx917/uart.cpp
  examples/platform/silabs/SilabsDeviceDataProvider.cpp
  examples/platform/silabs/efr32/BUILD.gn
  examples/platform/silabs/efr32/efr32_utils.cpp
  examples/platform/silabs/efr32/rs911x/hal/efx_spi.c
  examples/platform/silabs/efr32/rs911x/hal/rsi_hal_mcu_interrupt.c
  examples/platform/silabs/efr32/rs911x/rsi_if.c
  examples/platform/silabs/efr32/rs911x/wfx_rsi.h
  examples/platform/silabs/efr32/rs911x/wfx_rsi_host.c
  examples/platform/silabs/efr32/wf200/efr_spi.c
  examples/platform/silabs/silabs_utils.cpp
  examples/platform/silabs/silabs_utils.h
  examples/thermostat/silabs/efr32/include/AppConfig.h
  examples/window-app/silabs/SiWx917/include/AppConfig.h
  examples/window-app/silabs/efr32/include/AppConfig.h
  src/platform/silabs/Logging.cpp
  src/platform/silabs/SiWx917/wifi/ethernetif.cpp
  src/platform/silabs/efr32/wifi/ethernetif.cpp
  src/test_driver/efr32/include/AppConfig.h
Labels: examples, platform, review - approved, test driver
