Repository project-chip/connectedhomeip, pull requests merged in 2023-07, with the labels that each got.

#27578 Remove null terminator from Base38 String in kotlin
  src/controller/java/src/chip/onboardingpayload/Base38.kt
  src/controller/java/src/chip/onboardingpayload/OnboardingPayload.kt
  src/controller/java/src/chip/onboardingpayload/QRCodeBasicOnboardingPayloadGenerator.kt
  src/controller/java/src/chip/onboardingpayload/QRCodeOnboardingPayloadGenerator.kt
Labels: controller, review - approved

#27493 examples: Add Descriptor cluster for Secondary Network Commissoning Endpoint
  examples/all-clusters-app/all-clusters-common/all-clusters-app.matter
  examples/all-clusters-app/all-clusters-common/all-clusters-app.zap
  examples/all-clusters-minimal-app/all-clusters-common/all-clusters-minimal-app.matter
  examples/all-clusters-minimal-app/all-clusters-common/all-clusters-minimal-app.zap
  scripts/py_matter_idl/matter_idl/tests/inputs/large_all_clusters_app.matter
  scripts/tools/zap/tests/inputs/all-clusters-app.zap
  scripts/tools/zap/tests/outputs/all-clusters-app/app-templates/endpoint_config.h
  scripts/tools/zap/tests/outputs/all-clusters-app/app-templates/gen_config.h
Labels: examples, scripts, review - approved

#27592 [cmake] Add Matter mbedtls library support option
  config/common/cmake/chip_gn.cmake
  config/common/cmake/chip_gn_args.cmake
Labels: config, review - approved

#27594 Improve format in the README file by removing excessive indentation
  examples/bridge-app/linux/README.md
Labels: examples, review - approved

#27572 Add Format option for buffer writers and string builders
  src/lib/support/BUILD.gn
  src/lib/support/BufferWriter.cpp
  src/lib/support/StringBuilder.cpp
  src/lib/support/StringBuilder.h
  src/lib/support/tests/TestStringBuilder.cpp
Labels: lib, review - approved, support

#27226 CASE: Handle failure if unable to schedule handle/send sigma3c
  src/protocols/secure_channel/CASEServer.cpp
  src/protocols/secure_channel/CASESession.cpp
  src/protocols/secure_channel/CASESession.h
Labels: review - approved

#27588 [Android] Remove ChipIdLookup class from ZAP generation
  src/controller/java/BUILD.gn
  src/controller/java/src/chip/devicecontroller/ChipIdLookup.java
  src/controller/java/templates/ChipIdLookup-java.zapt
  src/controller/java/templates/templates.json
  src/controller/java/zap-generated/chip/devicecontroller/ChipIdLookup.java
Labels: controller, review - pending, fast track

#27483 Followup #27318 - Fix review comments that came in after landing
  .github/workflows/darwin.yaml
  examples/darwin-framework-tool/commands/discover/DiscoverCommissionablesCommand.mm
  src/darwin/Framework/CHIP/MTRCommissionableBrowser.h
  src/darwin/Framework/CHIP/MTRCommissionableBrowser.mm
  src/darwin/Framework/CHIP/MTRCommissionableBrowserDelegate.h
  src/darwin/Framework/CHIP/MTRCommissionableBrowserResult.h
  src/darwin/Framework/CHIP/MTRDeviceController.h
  src/darwin/Framework/CHIP/MTRDeviceController.mm
  src/darwin/Framework/CHIPTests/MTRCommissionableBrowserTests.m
  src/darwin/Framework/Matter.xcodeproj/project.pbxproj
Labels: examples, darwin, github, workflows, review - pending, fast track

#27627 [ESP32] remove `src` prefix from include (use `app/` instead of `src/app/`)
  examples/platform/esp32/mode-support/static-supported-modes-manager.h
Labels: examples, platform, review - approved

#27626 [Tizen] Get GATT connection MTU
  src/platform/Tizen/BLEManagerImpl.cpp
Labels: platform, fast track, tizen

#27633 [Silabs]Update efr32 dockerfile to pull gsdk 4.2.3
  integrations/docker/images/chip-build-efr32/Dockerfile
  integrations/docker/images/chip-build/version
Labels: integrations, review - pending, fast track, docker

#27628 Allow json tracing to go to files instead of just logs
  examples/common/tracing/BUILD.gn
  examples/common/tracing/TracingCommandLineArgument.cpp
  examples/common/tracing/TracingCommandLineArgument.h
  examples/tv-casting-app/tv-casting-common/BUILD.gn
  scripts/tools/check_includes_config.py
  src/tracing/json/BUILD.gn
  src/tracing/json/json_tracing.cpp
  src/tracing/json/json_tracing.h
Labels: examples, scripts, review - approved

#27630 Remove obsolete setup Java JNI implementation
  src/setup_payload/java/BUILD.gn
  src/setup_payload/java/SetupPayloadParser-JNI.cpp
  src/setup_payload/java/src/chip/setuppayload/DiscoveryCapability.java
  src/setup_payload/java/src/chip/setuppayload/OptionalQRCodeInfo.java
  src/setup_payload/java/src/chip/setuppayload/SetupPayload.java
  src/setup_payload/java/src/chip/setuppayload/SetupPayloadParser.java
Labels: review - approved

#25311 [controller] Fix flake8 warnings
  .flake8
  src/controller/python/build-chip-wheel.py
  src/controller/python/chip-device-ctrl.py
  src/controller/python/chip/CertificateAuthority.py
  src/controller/python/chip/ChipBleUtility.py
  src/controller/python/chip/ChipBluezMgr.py
  src/controller/python/chip/ChipCommissionableNodeCtrl.py
  src/controller/python/chip/ChipCoreBluetoothMgr.py
  src/controller/python/chip/ChipDeviceCtrl.py
  src/controller/python/chip/ChipReplStartup.py
  src/controller/python/chip/ChipStack.py
  src/controller/python/chip/ChipUtility.py
  src/controller/python/chip/FabricAdmin.py
  src/controller/python/chip/ble/scan_devices.py
  src/controller/python/chip/clusters/Attribute.py
  src/controller/python/chip/clusters/ClusterObjects.py
  src/controller/python/chip/clusters/Command.py
  src/controller/python/chip/clusters/__init__.py
  src/controller/python/chip/discovery/__init__.py
  src/controller/python/chip/interaction_model/__init__.py
  src/controller/python/chip/interaction_model/delegate.py
  src/controller/python/chip/internal/commissioner.py
  src/controller/python/chip/setup_payload/setup_payload.py
  src/controller/python/chip/storage/__init__.py
  src/controller/python/chip/tlv/__init__.py
  src/controller/python/chip/utils/CommissioningBuildingBlocks.py
  src/controller/python/chip/yaml/__init__.py
  src/controller/python/chip/yaml/format_converter.py
  src/controller/python/chip/yaml/runner.py
  src/pybindings/pycontroller/build-chip-wheel.py
  src/pybindings/pycontroller/pychip/__init__.py
Labels: controller, review - approved

#27590 Fix Doc Issue
  docs/guides/repl/Matter_Multi_Fabric_Commissioning.ipynb
Labels: documentation, review - approved, fast track

#27603 Add `LastChangedTime` to Resource Monitoring Cluster Definition
  src/app/zap-templates/zcl/data-model/chip/resource-monitoring-cluster.xml
  src/controller/data_model/controller-clusters.matter
  src/controller/java/generated/java/chip/devicecontroller/ClusterIDMapping.java
  src/controller/java/generated/java/chip/devicecontroller/ClusterReadMapping.java
  src/controller/java/generated/java/chip/devicecontroller/ClusterWriteMapping.java
  src/controller/java/zap-generated/CHIPAttributeTLVValueDecoder.cpp
  src/controller/java/zap-generated/CHIPClustersWrite-JNI.cpp
  src/controller/java/zap-generated/CHIPReadCallbacks.cpp
  src/controller/java/zap-generated/chip/devicecontroller/ChipClusters.java
  src/controller/java/zap-generated/chip/devicecontroller/ClusterInfoMapping.java
  src/controller/python/chip/clusters/CHIPClusters.py
  src/controller/python/chip/clusters/Objects.py
  zzz_generated/app-common/app-common/zap-generated/attributes/Accessors.cpp
  zzz_generated/app-common/app-common/zap-generated/attributes/Accessors.h
  zzz_generated/app-common/app-common/zap-generated/cluster-objects.cpp
  zzz_generated/app-common/app-common/zap-generated/cluster-objects.h
  zzz_generated/app-common/app-common/zap-generated/ids/Attributes.h
  zzz_generated/chip-tool/zap-generated/cluster/Commands.h
  zzz_generated/chip-tool/zap-generated/cluster/logging/DataModelLogger.cpp
Labels: controller, app, review - pending, fast track

#27625 [ASR] Delete duplicate implementations and docs
  examples/all-clusters-app/asr/BUILD.gn
  examples/all-clusters-app/asr/README.md
  examples/all-clusters-app/asr/include/AppConfig.h
  examples/all-clusters-app/asr/include/AppTask.h
  examples/all-clusters-app/asr/src/AppTask.cpp
  examples/all-clusters-app/asr/src/DeviceCallbacks.cpp
  examples/all-clusters-minimal-app/asr/README.md
  examples/all-clusters-minimal-app/asr/include/AppConfig.h
  examples/all-clusters-minimal-app/asr/src/AppTask.cpp
  examples/all-clusters-minimal-app/asr/src/DeviceCallbacks.cpp
  examples/bridge-app/asr/BUILD.gn
  examples/bridge-app/asr/README.md
  examples/bridge-app/asr/include/AppConfig.h
  examples/bridge-app/asr/src/AppTask.cpp
  examples/light-switch-app/asr/BUILD.gn
  examples/light-switch-app/asr/README.md
  examples/light-switch-app/asr/include/AppConfig.h
  examples/light-switch-app/asr/include/ButtonHandler.h
  examples/light-switch-app/asr/include/LEDManager.h
  examples/light-switch-app/asr/src/AppTask.cpp
  examples/light-switch-app/asr/src/ButtonHandler.cpp
  examples/light-switch-app/asr/src/LEDManager.cpp
  examples/lighting-app/asr/BUILD.gn
  examples/lighting-app/asr/README.md
  examples/lighting-app/asr/include/AppConfig.h
  examples/lighting-app/asr/src/AppTask.cpp
  examples/lock-app/asr/BUILD.gn
  examples/lock-app/asr/README.md
  examples/lock-app/asr/include/AppConfig.h
  examples/lock-app/asr/include/ButtonHandler.h
  examples/lock-app/asr/include/LEDManager.h
  examples/lock-app/asr/src/AppTask.cpp
  examples/lock-app/asr/src/ButtonHandler.cpp
  examples/lock-app/asr/src/LEDManager.cpp
  examples/ota-requestor-app/asr/BUILD.gn
  examples/ota-requestor-app/asr/README.md
  examples/ota-requestor-app/asr/include/AppConfig.h
  examples/ota-requestor-app/asr/src/AppTask.cpp
  examples/platform/asr/ButtonHandler.cpp
  examples/platform/asr/ButtonHandler.h
  examples/platform/asr/LEDWidget.cpp
  examples/platform/asr/LEDWidget.h
  examples/platform/asr/init_asrPlatform.cpp
  examples/temperature-measurement-app/asr/BUILD.gn
  examples/temperature-measurement-app/asr/README.md
  examples/temperature-measurement-app/asr/include/AppConfig.h
  examples/temperature-measurement-app/asr/src/AppTask.cpp
  examples/thermostat/asr/BUILD.gn
  examples/thermostat/asr/README.md
  examples/thermostat/asr/include/AppConfig.h
  examples/thermostat/asr/src/AppTask.cpp
  src/lib/shell/streamer_asr.cpp
  src/platform/ASR/BUILD.gn
  src/platform/ASR/CHIPDevicePlatformConfig.h
  src/platform/ASR/ConfigurationManagerImpl.cpp
  src/platform/ASR/DiagnosticDataProviderImpl.cpp
  src/platform/ASR/KeyValueStoreManagerImpl.cpp
Labels: examples, platform, lib, review - pending, fast track, shell

#27637 Add support for signed/bool to BufferReader/Writer
  src/lib/core/CHIPEncoding.h
  src/lib/support/BufferReader.cpp
  src/lib/support/BufferReader.h
  src/lib/support/BufferWriter.cpp
  src/lib/support/BufferWriter.h
  src/lib/support/tests/TestBufferReader.cpp
  src/lib/support/tests/TestBufferWriter.cpp
Labels: lib, review - pending, fast track, support, core

#27657 Fix few format specifiers
  src/app/MessageDef/CommandPathIB.cpp
  src/app/MessageDef/EventPathIB.cpp
Labels: app, review - pending, fast track

#27645 fix doc issue
  docs/guides/esp32/README.md
Labels: documentation, review - pending, fast track

#27614 [Tizen] Fix memory leak when re-connecting BLE
  src/platform/Tizen/BLEManagerImpl.cpp
  src/platform/Tizen/BLEManagerImpl.h
Labels: platform, review - pending, fast track, tizen

#27660 Fix printing of port in Darwin OnResolve callback.
  src/platform/Darwin/DnssdImpl.cpp
Labels: review - approved, fast track

#27666 Retrying checkout submodules
  .github/actions/checkout-submodules/action.yaml
Labels: github, review - pending, fast track

#27674 Disabling broken tests for now
  .github/workflows/tests.yaml
Labels: build issue, github, workflows, fast track

#27661 Add detekt for kotlin
  .github/workflows/kotlin-detekt.yaml
Labels: github, workflows, review - pending, fast track

#27680 Upload framework build logs on failure in darwin-tests job.
  .github/workflows/darwin-tests.yaml
Labels: github, workflows, review - pending, fast track

#27676 Fix chip-tool remove-keyset command.
  examples/chip-tool/commands/group/Commands.h
Labels: review - approved

#27807 [kotlin] Validate kotlin integration of detekt in #27661
  .github/workflows/kotlin-detekt.yaml
  kotlin-detect-config.yaml
  src/controller/java/src/chip/tlv/tags.kt
Labels: controller, github, workflows, review - pending, fast track

#27611 Expand attribute persistence provider api
  src/app/AttributePersistenceProvider.h
  src/app/BUILD.gn
  src/app/DefaultAttributePersistenceProvider.cpp
  src/app/DefaultAttributePersistenceProvider.h
  src/app/DeferredAttributePersistenceProvider.cpp
  src/app/DeferredAttributePersistenceProvider.h
  src/app/tests/BUILD.gn
  src/app/tests/TestAttributePersistenceProvider.cpp
  src/app/util/attribute-storage.cpp
  src/credentials/tests/TestPersistentStorageOpCertStore.cpp
Labels: app, review - pending, fast track, tests

#27800 [Linux] Fix memory leak in Bluez helper
  src/platform/Linux/bluez/Helper.cpp
Labels: platform, linux, review - approved

#27669 Fix TestExchangeMgr assertion about exchange ids.
  src/messaging/tests/TestExchangeMgr.cpp
Labels: review - approved

#27679 Make sure we don't use CHIP_CONFIG_MAX_FABRICS before it's defined.
  src/lib/core/CHIPConfig.h
Labels: lib, review - approved, core

#27086 [Silabs][Lighitng-app]Enable Events on some device management clusters.
  examples/lighting-app/silabs/data_model/lighting-thread-app.matter
  examples/lighting-app/silabs/data_model/lighting-thread-app.zap
  examples/lighting-app/silabs/data_model/lighting-wifi-app.matter
  examples/lighting-app/silabs/data_model/lighting-wifi-app.zap
  examples/platform/silabs/SoftwareFaultReports.cpp
  examples/platform/silabs/SoftwareFaultReports.h
  examples/platform/silabs/efr32/BUILD.gn
  examples/platform/silabs/silabs_utils.cpp
  src/platform/silabs/Logging.cpp
Labels: examples, platform, review - approved

#27659 Improve lifetime management of CASESession async work helper.
  src/protocols/secure_channel/CASESession.cpp
Labels: review - pending, fast track

#27638 Decode TLV payload data and present it in a human readable format
  BUILD.gn
  build/chip/chip_codegen.gni
  examples/chip-tool/args.gni
  scripts/pregenerate/__init__.py
  scripts/pregenerate/using_codegen.py
  scripts/py_matter_idl/files.gni
  scripts/py_matter_idl/matter_idl/generators/cpp/tlvmeta/TLVMetaData_cpp.jinja
  scripts/py_matter_idl/matter_idl/generators/cpp/tlvmeta/TLVMetaData_h.jinja
  scripts/py_matter_idl/matter_idl/generators/cpp/tlvmeta/__init__.py
  scripts/py_matter_idl/matter_idl/generators/registry.py
  scripts/py_matter_idl/matter_idl/test_generators.py
  scripts/py_matter_idl/matter_idl/tests/available_tests.yaml
  scripts/py_matter_idl/matter_idl/tests/outputs/cluster_struct_attribute/cpp-tlvmeta/clusters_meta.cpp
  scripts/py_matter_idl/matter_idl/tests/outputs/cluster_struct_attribute/cpp-tlvmeta/clusters_meta.h
  scripts/py_matter_idl/matter_idl/tests/outputs/cluster_with_commands/cpp-tlvmeta/clusters_meta.cpp
  scripts/py_matter_idl/matter_idl/tests/outputs/cluster_with_commands/cpp-tlvmeta/clusters_meta.h
  scripts/py_matter_idl/setup.cfg
  src/BUILD.gn
  src/controller/data_model/BUILD.gn
  src/lib/core/TLVTags.h
  src/lib/format/BUILD.gn
  src/lib/format/FlatTree.h
  src/lib/format/FlatTreePosition.h
  src/lib/format/protocol_decoder.cpp
  src/lib/format/protocol_decoder.h
  src/lib/format/protocol_messages.matter
  src/lib/format/tests/BUILD.gn
  src/lib/format/tests/FuzzPayloadDecoder.cpp
  src/lib/format/tests/TestDecoding.cpp
  src/lib/format/tests/TestFlatTree.cpp
  src/lib/format/tests/TestFlatTreePosition.cpp
  src/lib/format/tests/sample_data.cpp
  src/lib/format/tests/sample_data.h
  src/lib/format/tlv_meta.h
  src/lib/support/BufferWriter.h
  src/lib/support/StringBuilder.h
  src/tracing/json/BUILD.gn
  src/tracing/json/json_tracing.cpp
Labels: tools, examples, scripts, lib, controller, gn, review - pending, fast track, support, core

#26749 [darwin] Ensure the ble timeout for scanning is resumed before trying…
  src/platform/Darwin/BleConnectionDelegateImpl.mm
Labels: platform, darwin, review - pending, fast track

#27616 Add CD with origin VID/PID != VID/PID
  credentials/development/commissioner_dut/struct_cd_origin_pid_vid_correct/cd.der
  credentials/development/commissioner_dut/struct_cd_origin_pid_vid_correct/dac-Cert.der
  credentials/development/commissioner_dut/struct_cd_origin_pid_vid_correct/dac-Cert.pem
  credentials/development/commissioner_dut/struct_cd_origin_pid_vid_correct/dac-Key.der
  credentials/development/commissioner_dut/struct_cd_origin_pid_vid_correct/dac-Key.pem
  credentials/development/commissioner_dut/struct_cd_origin_pid_vid_correct/pai-Cert.der
  credentials/development/commissioner_dut/struct_cd_origin_pid_vid_correct/pai-Cert.pem
  credentials/development/commissioner_dut/struct_cd_origin_pid_vid_correct/pai-Key.der
  credentials/development/commissioner_dut/struct_cd_origin_pid_vid_correct/pai-Key.pem
  credentials/development/commissioner_dut/struct_cd_origin_pid_vid_correct/test_case_vector.json
  src/tools/chip-cert/Cmd_GenCD.cpp
  src/tools/chip-cert/gen_com_dut_test_vectors.py
Labels: tools, review - approved

#27809 Followup for 27318 (2) Add back BLE for the build only bits in .githu…
  .github/workflows/darwin.yaml
Labels: github, workflows, review - pending, fast track

#27587 Implement unit tests for QRCodeOnboardingPayload
  .github/workflows/java-tests.yaml
  kotlin-detect-config.yaml
  src/controller/java/BUILD.gn
  src/controller/java/src/chip/onboardingpayload/QRCodeOnboardingPayloadParser.kt
  src/controller/java/tests/chip/onboardingpayload/QRCodeTest.kt
Labels: controller, github, workflows, review - approved

#27818 Updating reviewers
  .pullapprove.yml
Labels: hotfix

#27817 Fix TestReliableMessageProtocol timing bug.
  src/messaging/tests/TestReliableMessageProtocol.cpp
Labels: review - pending

#27682 Fix Doc Issue
  docs/guides/matter-repl.md
Labels: documentation, review - pending

#27815 Update websocket_runner keep alive timeout
  scripts/py_matter_yamltests/matter_yamltests/websocket_runner.py
Labels: scripts, review - pending, fast track

#27670 Make MinMDNS only report commissiabe nodes for active browse.
  src/lib/dnssd/ActiveResolveAttempts.cpp
  src/lib/dnssd/ActiveResolveAttempts.h
  src/lib/dnssd/IncrementalResolve.cpp
  src/lib/dnssd/IncrementalResolve.h
  src/lib/dnssd/Resolver_ImplMinimalMdns.cpp
  src/lib/dnssd/tests/TestActiveResolveAttempts.cpp
Labels: lib, review - approved

#27820 CodeQL wasn't running on a cronjob
  .github/actions/perform-codeql-analysis/action.yaml
Labels: github, fast track

#27808 [ESP32] Fix issue with ethernet commissioning
  src/platform/ESP32/CHIPDevicePlatformConfig.h
  src/platform/ESP32/NetworkCommissioningDriver_Ethernet.cpp
Labels: platform, esp32, review - approved

#27822 Updating issue templates & Automating labels
  .github/ISSUE_TEMPLATE/091-cert-blocker.yaml
  .github/ISSUE_TEMPLATE/097-ci-test-failure.yaml
  .github/issue-labeler.yml
  .github/workflows/issue-labeler.yaml
Labels: github, workflows, review - pending

#27654 [ESP32] Fix the build with pregenerated files
  config/esp32/components/chip/CMakeLists.txt
Labels: config, review - approved

#27826 Make racy Darwin test less racy.
  src/darwin/Framework/CHIPTests/MTRXPCListenerSampleTests.m
Labels: darwin, review - pending, fast track

#27649 [Linux] Implement BLE cancel connection
  src/platform/Linux/BLEManagerImpl.cpp
Labels: platform, linux, review - approved

#27612 MDNS memory optimization
  examples/minimal-mdns/advertiser.cpp
  src/inet/IPAddress.cpp
  src/inet/IPAddress.h
  src/lib/dnssd/Advertiser_ImplMinimalMdns.cpp
  src/lib/dnssd/minimal_mdns/Parser.h
  src/lib/dnssd/minimal_mdns/QueryReplyFilter.h
  src/lib/dnssd/minimal_mdns/ResponseSender.cpp
  src/lib/dnssd/minimal_mdns/ResponseSender.h
  src/lib/dnssd/minimal_mdns/Server.cpp
  src/lib/dnssd/minimal_mdns/Server.h
  src/lib/dnssd/minimal_mdns/responders/IP.cpp
  src/lib/dnssd/minimal_mdns/responders/Ptr.h
  src/lib/dnssd/minimal_mdns/responders/QueryResponder.cpp
  src/lib/dnssd/minimal_mdns/responders/Responder.h
  src/lib/dnssd/minimal_mdns/responders/Srv.h
  src/lib/dnssd/minimal_mdns/responders/Txt.h
Labels: examples, lib, inet

#27847 [cherry-pick] [esp32] Fix issue with ethernet commissioning
  src/platform/ESP32/NetworkCommissioningDriver_Ethernet.cpp
Labels: platform, esp32

#27656 Fix Chef Color Temperature FeatureMap
  examples/chef/devices/rootnode_colortemperaturelight_hbUnzYVeyn.matter
  examples/chef/devices/rootnode_colortemperaturelight_hbUnzYVeyn.zap
Labels: examples, review - pending, fast track

#27830 [Java] Convert FutureResult and RealResult to kotlin
  examples/java-matter-controller/BUILD.gn
  examples/java-matter-controller/java/src/com/matter/controller/commands/common/FutureResult.java
  examples/java-matter-controller/java/src/com/matter/controller/commands/common/FutureResult.kt
  examples/java-matter-controller/java/src/com/matter/controller/commands/common/MatterCommand.kt
  examples/java-matter-controller/java/src/com/matter/controller/commands/common/RealResult.kt
Labels: examples, review - approved

#27862 Print framework log when framework build fails for darwin-frawework-tool.
  scripts/build/build_darwin_framework.py
Labels: scripts, review - pending, fast track

#27283 ICD manager Implemenation
  examples/contact-sensor-app/nxp/k32w/k32w0/include/CHIPProjectConfig.h
  examples/light-switch-app/silabs/src/AppTask.cpp
  examples/lighting-app/silabs/src/AppTask.cpp
  examples/lock-app/nxp/k32w/k32w0/include/CHIPProjectConfig.h
  examples/lock-app/silabs/src/AppTask.cpp
  examples/platform/silabs/ICDSubscriptionCallback.cpp
  examples/platform/silabs/SiWx917/BaseApplication.cpp
  examples/platform/silabs/efr32/BUILD.gn
  examples/platform/silabs/efr32/BaseApplication.cpp
  examples/platform/silabs/efr32/matter_config.cpp
  examples/platform/silabs/efr32/project_include/OpenThreadConfig.h
  examples/platform/silabs/efr32/rs911x/rsi_if.c
  examples/platform/silabs/efr32/rs911x/wfx_rsi.h
  examples/platform/silabs/efr32/rs911x/wfx_rsi_host.c
  examples/platform/silabs/efr32/wf200/host_if.cpp
  examples/smoke-co-alarm-app/silabs/src/AppTask.cpp
  examples/thermostat/silabs/src/AppTask.cpp
  scripts/build/builders/efr32.py
  scripts/examples/gn_silabs_example.sh
  src/app/BUILD.gn
  src/app/FailSafeContext.cpp
  src/app/icd/BUILD.gn
  src/app/icd/ICDEventManager.cpp
  src/app/icd/ICDEventManager.h
  src/app/icd/ICDManager.cpp
  src/app/icd/ICDManager.h
  src/app/server/CommissioningWindowManager.cpp
  src/app/server/Dnssd.cpp
  src/app/server/Server.cpp
  src/app/server/Server.h
  src/app/util/IcdMonitoringTable.cpp
  src/app/util/IcdMonitoringTable.h
  src/include/platform/CHIPDeviceConfig.h
  src/include/platform/CHIPDeviceEvent.h
  src/include/platform/ConnectivityManager.h
  src/include/platform/ThreadStackManager.h
  src/include/platform/internal/GenericConnectivityManagerImpl_Thread.h
  src/include/platform/internal/GenericConnectivityManagerImpl_WiFi.h
  src/messaging/BUILD.gn
  src/messaging/ExchangeContext.cpp
  src/messaging/ReliableMessageMgr.cpp
  src/messaging/ReliableMessageProtocolConfig.cpp
  src/platform/Linux/ThreadStackManagerImpl.cpp
  src/platform/Linux/ThreadStackManagerImpl.h
  src/platform/OpenThread/GenericThreadStackManagerImpl_OpenThread.h
  src/platform/OpenThread/GenericThreadStackManagerImpl_OpenThread.hpp
  src/platform/nrfconnect/CHIPDevicePlatformConfig.h
  src/platform/silabs/CHIPDevicePlatformConfig.h
  src/platform/silabs/ConnectivityManagerImpl.h
  src/platform/silabs/ConnectivityManagerImpl_WIFI.cpp
  src/platform/silabs/efr32/wifi/wfx_host_events.h
  src/platform/telink/CHIPDevicePlatformConfig.h
  third_party/silabs/SiWx917_sdk.gni
  third_party/silabs/efr32_sdk.gni
Labels: examples, scripts, platform, linux, nrf connect, app, review - approved, telink

#27851 [nrfconnect] bypass support for IPv4
  config/nrfconnect/chip-module/CMakeLists.txt
  config/nrfconnect/chip-module/Kconfig
Labels: config, review - approved

#27859 [silabs] WiFi -Fix for 917SoC Apps build failure
  examples/platform/silabs/SiWx917/BUILD.gn
  examples/platform/silabs/SoftwareFaultReports.cpp
Labels: examples, platform, review - approved

#27841 Fix Doc Issue
  docs/guides/repl/Matter_Multi_Fabric_Commissioning.ipynb
Labels: documentation, review - pending, fast track

#27648 [Telink] Update Telink image to 0.7.24
  .github/workflows/examples-telink.yaml
Labels: github, workflows, review - approved

#27889 Remove format/test from efr32 because efr32-brd4161a-unit-test runs out of flash
  src/BUILD.gn
Labels: hotfix

#27869 Remove raw value access from TLV::Tag
  src/lib/core/BUILD.gn
  src/lib/core/TLVTags.cpp
  src/lib/core/TLVTags.h
  src/lib/format/protocol_decoder.cpp
  src/lib/format/tests/TestDecoding.cpp
Labels: lib, review - pending, fast track, core

#27887 [Scripts] Add to flake8 in workflow and fix python files (part #25193)
  .flake8
  scripts/build/build/targets.py
  scripts/build/builders/android.py
  scripts/build/builders/bouffalolab.py
  scripts/build/builders/cc13x2x7_26x2x7.py
  scripts/build/builders/genio.py
  scripts/build/builders/gn.py
  scripts/build/builders/infineon.py
  scripts/codegen.py
  scripts/codepregen.py
  scripts/error_table.py
  scripts/examples/gn_to_cmakelists.py
  scripts/flashing/bouffalolab_firmware_utils.py
  scripts/flashing/cyw30739_firmware_utils.py
  scripts/gen_chip_version.py
  scripts/helpers/bloat_check.py
  scripts/pregenerate/using_codegen.py
  scripts/pregenerate/using_zap.py
  scripts/run-clang-tidy-on-compile-commands.py
Labels: scripts, review - approved

#27897 Fix py matter idl types
  scripts/py_matter_idl/matter_idl/generators/cpp/tlvmeta/__init__.py
  scripts/py_matter_idl/matter_idl/generators/java/__init__.py
  scripts/py_matter_idl/matter_idl/zapxml/handlers/parsing.py
Labels: scripts, fast track

#27619 Timesync: Add max size name check
  src/python_testing/TC_TIMESYNC_2_4.py
Labels: review - approved

#27827 Reformat kotlin code
  scripts/helpers/kotlin-format.sh
  scripts/helpers/restyle-diff.sh
Labels: scripts, review - approved

#27870 Increase our "waiting for subscription to time out" timer slack.
  src/controller/tests/data_model/TestRead.cpp
Labels: controller, review - pending, fast track

#27871 Enable tracing for all linux app builds
  .github/workflows/examples-linux-standalone.yaml
  examples/all-clusters-app/linux/args.gni
  examples/all-clusters-minimal-app/linux/args.gni
  examples/bridge-app/linux/args.gni
  examples/contact-sensor-app/linux/args.gni
  examples/lock-app/linux/args.gni
  examples/log-source-app/linux/args.gni
  examples/ota-provider-app/linux/args.gni
  examples/ota-requestor-app/linux/args.gni
  examples/persistent-storage/linux/args.gni
  examples/placeholder/linux/args.gni
  examples/thermostat/linux/args.gni
  examples/tv-app/linux/args.gni
  examples/tv-casting-app/linux/args.gni
Labels: examples, github, workflows, review - approved

#26913 Implemented ExtractCRLDistributionPointURIFromX509Cert() Helper Function
  credentials/test/attestation/Chip-Test-DAC-FFF1-8000-0000-2CDPs-Cert.der
  credentials/test/attestation/Chip-Test-DAC-FFF1-8000-0000-2CDPs-Cert.pem
  credentials/test/attestation/Chip-Test-DAC-FFF1-8000-0000-2CDPs-Key.der
  credentials/test/attestation/Chip-Test-DAC-FFF1-8000-0000-2CDPs-Key.pem
  credentials/test/attestation/Chip-Test-DAC-FFF1-8000-0000-CDP-2URIs-Cert.der
  credentials/test/attestation/Chip-Test-DAC-FFF1-8000-0000-CDP-2URIs-Cert.pem
  credentials/test/attestation/Chip-Test-DAC-FFF1-8000-0000-CDP-2URIs-Key.der
  credentials/test/attestation/Chip-Test-DAC-FFF1-8000-0000-CDP-2URIs-Key.pem
  credentials/test/attestation/Chip-Test-DAC-FFF1-8000-0000-CDP-Cert.der
  credentials/test/attestation/Chip-Test-DAC-FFF1-8000-0000-CDP-Cert.pem
  credentials/test/attestation/Chip-Test-DAC-FFF1-8000-0000-CDP-HTTPS-Cert.der
  credentials/test/attestation/Chip-Test-DAC-FFF1-8000-0000-CDP-HTTPS-Cert.pem
  credentials/test/attestation/Chip-Test-DAC-FFF1-8000-0000-CDP-HTTPS-Key.der
  credentials/test/attestation/Chip-Test-DAC-FFF1-8000-0000-CDP-HTTPS-Key.pem
  credentials/test/attestation/Chip-Test-DAC-FFF1-8000-0000-CDP-Key.der
  credentials/test/attestation/Chip-Test-DAC-FFF1-8000-0000-CDP-Key.pem
  credentials/test/attestation/Chip-Test-DAC-FFF1-8000-0000-CDP-Long-Cert.der
  credentials/test/attestation/Chip-Test-DAC-FFF1-8000-0000-CDP-Long-Cert.pem
  credentials/test/attestation/Chip-Test-DAC-FFF1-8000-0000-CDP-Long-Key.der
  credentials/test/attestation/Chip-Test-DAC-FFF1-8000-0000-CDP-Long-Key.pem
  credentials/test/attestation/Chip-Test-DAC-FFF1-8000-0000-CDP-Wrong-Prefix-Cert.der
  credentials/test/attestation/Chip-Test-DAC-FFF1-8000-0000-CDP-Wrong-Prefix-Cert.pem
  credentials/test/attestation/Chip-Test-DAC-FFF1-8000-0000-CDP-Wrong-Prefix-Key.der
  credentials/test/attestation/Chip-Test-DAC-FFF1-8000-0000-CDP-Wrong-Prefix-Key.pem
  credentials/test/gen-test-attestation-certs.sh
  src/credentials/tests/CHIPAttCert_test_vectors.cpp
  src/credentials/tests/CHIPAttCert_test_vectors.h
  src/crypto/CHIPCryptoPAL.h
  src/crypto/CHIPCryptoPALOpenSSL.cpp
  src/crypto/CHIPCryptoPALPSA.cpp
  src/crypto/CHIPCryptoPALmbedTLS.cpp
  src/crypto/tests/CHIPCryptoPALTest.cpp
  src/platform/nxp/common/crypto/CHIPCryptoPALTinyCrypt.cpp
  src/platform/nxp/k32w/k32w0/crypto/CHIPCryptoPALNXPUltrafastP256.cpp
  src/platform/silabs/SiWx917/CHIPCryptoPALTinyCrypt.cpp
  src/platform/silabs/efr32/CHIPCryptoPALPsaEfr32.cpp
  src/tools/chip-cert/CertUtils.cpp
  src/tools/chip-cert/Cmd_GenAttCert.cpp
  src/tools/chip-cert/chip-cert.h
Labels: tools, platform, crypto, review - approved

#27157 TC-ACE-1.2
  .github/workflows/tests.yaml
  src/controller/python/chip/ChipDeviceCtrl.py
  src/controller/python/chip/clusters/Attribute.py
  src/controller/python/chip/clusters/attribute.cpp
  src/python_testing/TC_ACE_1_2.py
Labels: controller, github, workflows, review - approved

#26400 TC-TIMESYNC-2.1
  src/python_testing/TC_TIMESYNC_2_1.py
Labels: review - approved

#27888 Add Air Purifier and Air Quality Sensor Device Types
  src/app/zap-templates/zcl/data-model/chip/matter-devices.xml
Labels: app, review - approved

#27838 [OIS] Add tv-app Matter example
  .github/workflows/examples-openiotsdk.yaml
  config/openiotsdk/CMakeLists.txt
  config/openiotsdk/cmake/chip.cmake
  docs/guides/openiotsdk_examples.md
  examples/platform/openiotsdk/supported_examples.txt
  examples/tv-app/openiotsdk/.gitignore
  examples/tv-app/openiotsdk/CMakeLists.txt
  examples/tv-app/openiotsdk/README.md
  examples/tv-app/openiotsdk/cmsis-config/RTE_Components.h
  examples/tv-app/openiotsdk/freertos-config/FreeRTOSConfig.h
  examples/tv-app/openiotsdk/main/include/CHIPProjectConfig.h
  examples/tv-app/openiotsdk/main/main_ns.cpp
  examples/tv-app/openiotsdk/tf-m-config/TfmProjectConfig.h
  src/test_driver/openiotsdk/integration-tests/tv-app/__init__.py
  src/test_driver/openiotsdk/integration-tests/tv-app/test_app.py
Labels: documentation, examples, platform, config, github, workflows, review - pending, fast track, test driver

#27896 [Thread]Fix thread network scan list encode when no network was found
  src/app/clusters/network-commissioning/network-commissioning.cpp
Labels: app, review - pending, fast track

#27860 Make tracedecoder not stateful and ensure both sent and received messages are logged
  examples/common/tracing/TraceDecoder.cpp
  examples/common/tracing/TraceDecoder.h
  examples/common/tracing/TraceHandlers.cpp
  src/transport/Session.h
  src/transport/SessionManager.cpp
  src/transport/TraceMessage.h
Labels: examples, transport, review - approved

#27878 Add Darwin test for commissioning with an origin VID in the CD.
  .github/workflows/darwin.yaml
  src/darwin/Framework/CHIPTests/MTRCommissionableBrowserTests.m
  src/darwin/Framework/CHIPTests/MTRPairingTests.m
Labels: darwin, github, workflows, review - approved

#27836 [OIS] Add all-clusters-app Matter example
  .github/workflows/examples-openiotsdk.yaml
  docs/guides/openiotsdk_examples.md
  examples/all-clusters-app/openiotsdk/.gitignore
  examples/all-clusters-app/openiotsdk/CMakeLists.txt
  examples/all-clusters-app/openiotsdk/README.md
  examples/all-clusters-app/openiotsdk/cmsis-config/RTE_Components.h
  examples/all-clusters-app/openiotsdk/freertos-config/FreeRTOSConfig.h
  examples/all-clusters-app/openiotsdk/main/include/CHIPProjectConfig.h
  examples/all-clusters-app/openiotsdk/main/main_ns.cpp
  examples/all-clusters-app/openiotsdk/tf-m-config/TfmProjectConfig.h
  examples/platform/openiotsdk/supported_examples.txt
  src/test_driver/openiotsdk/integration-tests/all-clusters-app/__init__.py
  src/test_driver/openiotsdk/integration-tests/all-clusters-app/test_app.py
Labels: documentation, examples, platform, github, workflows, review - pending, fast track, test driver

#27881 [python tools] Add to flake8 in workflow and fix python files (part #25193)
  .flake8
  scripts/tools/check_zcl_file_sync.py
  scripts/tools/memory/memdf/__init__.py
  scripts/tools/memory/report_summary.py
  scripts/tools/silabs/FactoryDataProvider.py
  scripts/tools/zap/generate.py
  scripts/tools/zap/prune_outputs.py
  scripts/tools/zap/version_update.py
  scripts/tools/zap/zap_download.py
  src/app/ota_image_tool.py
  src/tools/chip-cert/dacs.py
Labels: tools, scripts, app, review - approved

#27890 [other] Add to flake8 in workflow and fix python files (part #25193)
  .flake8
  build/chip/linux/gen_gdbus_wrapper.py
  build/config/linux/pkg-config.py
  credentials/fetch-paa-certs-from-dcl.py
  docs/_extensions/external_content.py
  examples/common/pigweed/rpc_console/py/chip_rpc/console.py
  examples/lighting-app/python/lighting.py
  src/app/zap_cluster_list.py
  src/controller/python/chip/yaml/runner.py
  src/controller/python/py_matter_yamltest_repl_adapter/matter_yamltest_repl_adapter/runner.py
  src/setup_payload/python/generate_setup_payload.py
Labels: documentation, examples, setup payload, controller, app, gn, review - approved

#27901 Update pip-tools to support pip>=23.1
  scripts/setup/constraints.txt
  scripts/setup/requirements.all.txt
  scripts/setup/requirements.esp32.txt
Labels: scripts, review - pending, fast track

#27900 Document how to add new devices via CHEF
  docs/guides/index.md
  examples/chef/NEW_CHEF_DEVICES.md
  examples/chef/README.md
  examples/chef/chef.py
  examples/chef/devices/template.zap
  examples/chef/img/endpoint1_edit_pencil.png
  examples/chef/img/endpoint_edit_type.png
  examples/chef/img/select_enabled_clusters.png
  scripts/tools/zap_regen_all.py
Labels: documentation, examples, scripts, review - approved

#27861 Refactor network commissioning setup in Linux example apps.
  examples/all-clusters-app/linux/main-common.cpp
  examples/all-clusters-app/linux/main.cpp
  examples/all-clusters-minimal-app/linux/main-common.cpp
  examples/all-clusters-minimal-app/linux/main.cpp
  examples/bridge-app/linux/main.cpp
  examples/chef/linux/main.cpp
  examples/contact-sensor-app/linux/main.cpp
  examples/lighting-app/linux/main.cpp
  examples/lock-app/linux/main.cpp
  examples/ota-requestor-app/linux/main.cpp
  examples/platform/linux/AppMain.cpp
  examples/platform/linux/AppMain.h
  examples/thermostat/linux/main.cpp
  src/app/util/af.h
  src/app/util/endpoint-config-api.h
Labels: examples, platform, app, review - approved

#27886 [app] Allow to define external clusters in chip_data_model.*
  src/app/chip_data_model.cmake
  src/app/chip_data_model.gni
  src/app/zap_cluster_list.json
  src/app/zap_cluster_list.py
Labels: app, review - approved

#27877 Adding ReplacementProductList in resource monitoring
  examples/all-clusters-app/all-clusters-common/all-clusters-app.matter
  src/app/zap-templates/zcl/data-model/chip/resource-monitoring-cluster.xml
  src/controller/data_model/controller-clusters.matter
  src/controller/java/generated/java/chip/devicecontroller/ClusterIDMapping.java
  src/controller/java/generated/java/chip/devicecontroller/ClusterReadMapping.java
  src/controller/java/zap-generated/CHIPAttributeTLVValueDecoder.cpp
  src/controller/java/zap-generated/CHIPClientCallbacks.h
  src/controller/java/zap-generated/CHIPReadCallbacks.cpp
  src/controller/java/zap-generated/chip/devicecontroller/ChipClusters.java
  src/controller/java/zap-generated/chip/devicecontroller/ChipStructs.java
  src/controller/java/zap-generated/chip/devicecontroller/ClusterInfoMapping.java
  src/controller/python/chip/clusters/CHIPClusters.py
  src/controller/python/chip/clusters/Objects.py
  zzz_generated/app-common/app-common/zap-generated/cluster-enums-check.h
  zzz_generated/app-common/app-common/zap-generated/cluster-enums.h
  zzz_generated/app-common/app-common/zap-generated/cluster-objects.cpp
  zzz_generated/app-common/app-common/zap-generated/cluster-objects.h
  zzz_generated/app-common/app-common/zap-generated/ids/Attributes.h
  zzz_generated/chip-tool/zap-generated/cluster/Commands.h
  zzz_generated/chip-tool/zap-generated/cluster/ComplexArgumentParser.cpp
  zzz_generated/chip-tool/zap-generated/cluster/ComplexArgumentParser.h
  zzz_generated/chip-tool/zap-generated/cluster/logging/DataModelLogger.cpp
  zzz_generated/chip-tool/zap-generated/cluster/logging/DataModelLogger.h
Labels: examples, controller, app, review - approved

#27024 TC-IDM-1.2
  .github/workflows/tests.yaml
  config/python/CHIPProjectConfig.h
  src/app/CommandSender.cpp
  src/app/CommandSender.h
  src/app/tests/suites/commands/interaction_model/InteractionModel.h
  src/controller/python/ChipDeviceController-ScriptBinding.cpp
  src/controller/python/chip/ChipDeviceCtrl.py
  src/controller/python/chip/clusters/Command.py
  src/controller/python/chip/clusters/command.cpp
  src/python_testing/TC_IDM_1_2.py
Labels: controller, app, config, github, workflows, review - approved, tests

#27124 Add Smoke CO Cluster to All Clusters App
  .github/workflows/tests.yaml
  examples/all-clusters-app/all-clusters-common/all-clusters-app.matter
  examples/all-clusters-app/all-clusters-common/all-clusters-app.zap
  examples/all-clusters-app/all-clusters-common/src/smco-stub.cpp
  examples/all-clusters-app/ameba/chip_main.cmake
  examples/all-clusters-app/asr/BUILD.gn
  examples/all-clusters-app/cc13x2x7_26x2x7/BUILD.gn
  examples/all-clusters-app/cc13x4_26x4/BUILD.gn
  examples/all-clusters-app/esp32/main/CMakeLists.txt
  examples/all-clusters-app/infineon/psoc6/BUILD.gn
  examples/all-clusters-app/linux/BUILD.gn
  examples/all-clusters-app/mbed/CMakeLists.txt
  examples/all-clusters-app/nrfconnect/CMakeLists.txt
  examples/all-clusters-app/nxp/mw320/BUILD.gn
  examples/all-clusters-app/openiotsdk/CMakeLists.txt
  examples/all-clusters-app/telink/CMakeLists.txt
  examples/all-clusters-app/tizen/BUILD.gn
  examples/all-clusters-minimal-app/ameba/chip_main.cmake
  examples/all-clusters-minimal-app/asr/BUILD.gn
  examples/all-clusters-minimal-app/esp32/main/CMakeLists.txt
  examples/all-clusters-minimal-app/infineon/psoc6/BUILD.gn
  examples/all-clusters-minimal-app/linux/BUILD.gn
  examples/all-clusters-minimal-app/mbed/CMakeLists.txt
  examples/all-clusters-minimal-app/nrfconnect/CMakeLists.txt
  examples/all-clusters-minimal-app/telink/CMakeLists.txt
  examples/all-clusters-minimal-app/tizen/BUILD.gn
  examples/shell/cc13x2x7_26x2x7/BUILD.gn
  examples/shell/shell_common/BUILD.gn
  scripts/rules.matterlint
Labels: examples, scripts, github, workflows, review - pending, fast track, smoke & c02

#27606 [SMCO] Update XML to spec changes
  examples/smoke-co-alarm-app/smoke-co-alarm-common/smoke-co-alarm-app.matter
  src/app/zap-templates/zcl/data-model/chip/smoke-co-alarm-cluster.xml
  src/controller/data_model/controller-clusters.matter
  src/controller/java/zap-generated/CHIPEventTLVValueDecoder.cpp
  src/controller/java/zap-generated/chip/devicecontroller/ChipEventStructs.java
  src/controller/python/chip/clusters/Objects.py
  zzz_generated/app-common/app-common/zap-generated/cluster-objects.cpp
  zzz_generated/app-common/app-common/zap-generated/cluster-objects.h
  zzz_generated/chip-tool/zap-generated/cluster/logging/DataModelLogger.cpp
Labels: examples, controller, app, review - approved

#27591 [ota-requestor] Added update cancelling in case of apply failure
  src/app/clusters/ota-requestor/DefaultOTARequestorDriver.cpp
Labels: app, review - approved

#27939 Zap regen all on master - fixes a event criticality merge error.
  examples/all-clusters-app/all-clusters-common/all-clusters-app.matter
Labels: examples, hotfix

#27912 Workaround Fan PercentSetting floating point precision error after "ceil()"
  src/app/clusters/fan-control-server/fan-control-server.cpp
Labels: app, review - approved

#27884 [wifi] combine ipv4 and ipv6 event
  src/platform/Ameba/ConnectivityManagerImpl.cpp
  src/platform/Ameba/ConnectivityManagerImpl.h
Labels: platform, review - pending, fast track

#27882 [Ameba] Route hook voidptr
  examples/platform/ameba/route_hook/ameba_route_hook.c
Labels: examples, platform, review - approved

#27922 Change endpointId type to int to align with other override functions
  src/controller/java/src/chip/devicecontroller/model/ChipEventPath.java
Labels: controller, review - pending, fast track

#27936 Remove dead-code init callbacks from some clusters.
  src/app/clusters/basic-information/basic-information.cpp
  src/app/clusters/group-key-mgmt-server/group-key-mgmt-server.cpp
  src/app/clusters/refrigerator-alarm-server/refrigerator-alarm-server.cpp
  src/app/common/templates/config-data.yaml
Labels: app, review - approved

#27911 [Python] unrestrict vendor id
  src/controller/python/chip/utils/CommissioningBuildingBlocks.py
Labels: controller, review - pending, fast track

#27945 Change the names of cluster-objects function arguments.
  src/app/zap-templates/templates/app/cluster-objects-src.zapt
  src/app/zap-templates/templates/app/cluster-objects.zapt
  zzz_generated/app-common/app-common/zap-generated/cluster-objects.cpp
  zzz_generated/app-common/app-common/zap-generated/cluster-objects.h
Labels: app, review - approved

#27942 Make FindOrEstablishSession inside CASE callbacks work.
  src/app/OperationalSessionSetup.cpp
  src/app/OperationalSessionSetup.h
Labels: review - approved

#27941 Allow setting up an auto-resubscribe ReadClient with just a peer id.
  src/app/ReadClient.cpp
  src/app/ReadClient.h
Labels: app, review - approved

#27585 update ci to 0.7.25
  .devcontainer/devcontainer.json
  .github/workflows/bloat_check.yaml
  .github/workflows/build.yaml
  .github/workflows/chef.yaml
  .github/workflows/cirque.yaml
  .github/workflows/doxygen.yaml
  .github/workflows/examples-ameba.yaml
  .github/workflows/examples-asr.yaml
  .github/workflows/examples-bouffalolab.yaml
  .github/workflows/examples-cc13x2x7_26x2x7.yaml
  .github/workflows/examples-cc32xx.yaml
  .github/workflows/examples-esp32.yaml
  .github/workflows/examples-infineon.yaml
  .github/workflows/examples-k32w.yaml
  .github/workflows/examples-linux-arm.yaml
  .github/workflows/examples-linux-imx.yaml
  .github/workflows/examples-linux-standalone.yaml
  .github/workflows/examples-mbed.yaml
  .github/workflows/examples-mw320.yaml
  .github/workflows/examples-nrfconnect.yaml
  .github/workflows/examples-openiotsdk.yaml
  .github/workflows/examples-qpg.yaml
  .github/workflows/examples-telink.yaml
  .github/workflows/examples-tizen.yaml
  .github/workflows/full-android.yaml
  .github/workflows/fuzzing-build.yaml
  .github/workflows/java-tests.yaml
  .github/workflows/minimal-build.yaml
  .github/workflows/qemu.yaml
  .github/workflows/release_artifacts.yaml
  .github/workflows/smoketest-android.yaml
  .github/workflows/tests.yaml
  .github/workflows/unit_integration_test.yaml
  .github/workflows/zap_regeneration.yaml
  .github/workflows/zap_templates.yaml
  integrations/cloudbuild/build-all.yaml
  integrations/cloudbuild/chef.yaml
  integrations/cloudbuild/smoke-test.yaml
Labels: integrations, vscode, github, workflows, review - approved

#27883 [Ameba] [wifi] fix ssid and password length after getting from nvs
  src/platform/Ameba/AmebaUtils.cpp
Labels: platform, review - approved

#27959 [Python] SetupPayload export version property.
  src/controller/python/chip/setup_payload/setup_payload.py
Labels: controller, review - pending, fast track

#27951 Add a "country-code" argument to darwin-framework-tool pairing commands.
  examples/darwin-framework-tool/commands/pairing/PairingCommandBridge.h
  examples/darwin-framework-tool/commands/pairing/PairingCommandBridge.mm
Labels: examples, darwin, review - approved

#27934 [matter_yamltests] Add timeout argument supports for the chip-tool/py…
  examples/chip-tool/commands/interactive/InteractiveCommands.cpp
  examples/chip-tool/py_matter_chip_tool_adapter/matter_chip_tool_adapter/encoder.py
  scripts/py_matter_yamltests/matter_yamltests/parser.py
  scripts/py_matter_yamltests/matter_yamltests/yaml_loader.py
Labels: review - approved

#27933 [Python] Modify rotatingId to a hexadecimal string
  src/controller/python/ChipDeviceController-Discovery.cpp
Labels: review - approved

#27919 Allow use of already commissioned device in TC_DeviceBasicComposition
  src/python_testing/TC_DeviceBasicComposition.py
Labels: review - approved

#27906 [Bouffalolab] Add build option to enable rotating device id
  scripts/build/build/targets.py
  scripts/build/builders/bouffalolab.py
  scripts/build/testdata/all_targets_linux_x64.txt
  src/platform/bouffalolab/BL602/args.gni
  src/platform/bouffalolab/common/BLConfig.h
  src/platform/bouffalolab/common/BLEManagerImpl.cpp
  src/platform/bouffalolab/common/CHIPPlatformConfig.h
  src/platform/bouffalolab/common/FactoryDataProvider.cpp
  third_party/bouffalolab/bl702/bl_iot_sdk.gni
Labels: scripts, platform, review - approved

#27968 [ICD]Post the MsgSentEvent on retransmits also
  src/messaging/ReliableMessageMgr.cpp
  src/platform/OpenThread/GenericThreadStackManagerImpl_OpenThread.hpp
Labels: platform, review - approved

#27962 Fixing the .zap files for contradicting device type data
  examples/lighting-app/bouffalolab/data_model/lighting-app-thread.zap
  examples/lighting-app/bouffalolab/data_model/lighting-app-wifi.zap
  examples/placeholder/linux/apps/app1/config.matter
  examples/placeholder/linux/apps/app1/config.zap
  examples/placeholder/linux/apps/app2/config.matter
  examples/placeholder/linux/apps/app2/config.zap
Labels: examples, review - approved

#27971 Updating script typos
  .github/workflows/docker_img.yaml
Labels: github, workflows, review - approved

#27609 [Telink] Add Smoke Sensor app demo
  .github/workflows/examples-telink.yaml
  .vscode/tasks.json
  examples/smoke-co-alarm-app/telink/.gitignore
  examples/smoke-co-alarm-app/telink/CMakeLists.txt
  examples/smoke-co-alarm-app/telink/README.md
  examples/smoke-co-alarm-app/telink/include/AppConfig.h
  examples/smoke-co-alarm-app/telink/include/AppTask.h
  examples/smoke-co-alarm-app/telink/include/CHIPProjectConfig.h
  examples/smoke-co-alarm-app/telink/include/SmokeCoAlarmManager.h
  examples/smoke-co-alarm-app/telink/prj.conf
  examples/smoke-co-alarm-app/telink/src/AppTask.cpp
  examples/smoke-co-alarm-app/telink/src/SmokeCoAlarmManager.cpp
  examples/smoke-co-alarm-app/telink/src/ZclCallbacks.cpp
  examples/smoke-co-alarm-app/telink/third_party/connectedhomeip
  scripts/build/build/targets.py
  scripts/build/builders/telink.py
  scripts/build/testdata/all_targets_linux_x64.txt
Labels: examples, scripts, vscode, github, workflows, review - approved

#27973 Do not allow zero size array in test
  src/lib/format/tests/TestDecoding.cpp
Labels: lib, review - pending, fast track

#27955 Update Smoke CO Alarm Implementation
  examples/smoke-co-alarm-app/silabs/src/SmokeCoAlarmManager.cpp
  src/app/clusters/smoke-co-alarm-server/smoke-co-alarm-server.cpp
Labels: examples, app, review - approved

#26397 [Linux] DnssdImpl: rework avahi implementation
  src/inet/InetInterface.cpp
  src/inet/InetInterface.h
  src/platform/Linux/DnssdImpl.cpp
  src/platform/Linux/DnssdImpl.h
Labels: platform, linux, inet, review - pending, fast track

#27938 Reclassify excessive logging in LevelControl and OnOffServer from Pro…
  src/app/clusters/level-control/level-control.cpp
  src/app/clusters/on-off-server/on-off-server.cpp
Labels: app, review - approved

#27948 Add a "country-code" argument to chip-tool pairing commands.
  examples/chip-tool/commands/pairing/PairingCommand.cpp
  examples/chip-tool/commands/pairing/PairingCommand.h
Labels: tools, examples, review - approved

#27992 Move cloudbuild to github images since 0.7.25 vscode image does not e…
  integrations/cloudbuild/build-all.yaml
  integrations/cloudbuild/chef.yaml
  integrations/cloudbuild/smoke-test.yaml
Labels: hotfix, integrations

#27994 Update cloudbuild image to 1 from 0.8
  integrations/cloudbuild/build-all.yaml
  integrations/cloudbuild/chef.yaml
  integrations/cloudbuild/smoke-test.yaml
Labels: hotfix, integrations

#27925 TC-TIMESYNC-3.15: python automation
  .github/workflows/tests.yaml
  src/python_testing/TC_TIMESYNC_2_2.py
  src/python_testing/TC_TIMESYNC_2_4.py
  src/python_testing/TC_TIMESYNC_2_5.py
  src/python_testing/TC_TIMESYNC_2_6.py
  src/python_testing/TC_TIMESYNC_2_7.py
  src/python_testing/TC_TIMESYNC_2_8.py
  src/python_testing/TC_TIMESYNC_2_9.py
  src/python_testing/TC_TIMESYNC_3_1.py
Labels: review - pending, fast track, v1.2, time sync

#27545 update time sync TC_TIMESYNC_2_7 and TC_TIMESYNC_2_8
  src/python_testing/TC_TIMESYNC_2_7.py
  src/python_testing/TC_TIMESYNC_2_8.py
Labels: review - pending, fast track

#28007 Remove gdbgui requirement for esp32
  .github/workflows/chef.yaml
  .github/workflows/examples-esp32.yaml
  .github/workflows/qemu.yaml
  scripts/setup/requirements.esp32.txt
Labels: hotfix, scripts, github, workflows, review - pending

#28008 Silabs Platform Changes - Added check for board control before including header/function calls
  examples/platform/silabs/efr32/uart.cpp
  third_party/silabs/efr32_sdk.gni
Labels: examples, platform, review - approved

#28009 Bump pip-tools to 7.0.0
  scripts/setup/constraints.txt
  scripts/setup/requirements.all.txt
Labels: scripts, review - approved

#27949 Enforce length constraint for CountryCode in SetRegulatoryConfig.
  src/app/clusters/basic-information/basic-information.cpp
  src/app/clusters/general-commissioning-server/general-commissioning-server.cpp
Labels: app, review - approved

#27989 [matter_yamltests] Be stricter about the response key for command tar…
  scripts/py_matter_yamltests/matter_yamltests/errors.py
  scripts/py_matter_yamltests/matter_yamltests/yaml_loader.py
Labels: scripts, review - approved

#27916 [ICD]Add needed elements to the ICD Manager to handle LIT mode
  examples/all-clusters-app/esp32/main/CMakeLists.txt
  examples/all-clusters-minimal-app/esp32/main/CMakeLists.txt
  src/app/chip_data_model.cmake
  src/app/chip_data_model.gni
  src/app/clusters/icd-management-server/icd-management-server.cpp
  src/app/icd/BUILD.gn
  src/app/icd/ICDManager.cpp
  src/app/icd/ICDManager.h
  src/app/icd/IcdMonitoringTable.cpp
  src/app/icd/IcdMonitoringTable.h
  src/app/server/Server.cpp
  src/app/tests/BUILD.gn
  src/app/tests/TestIcdMonitoringTable.cpp
Labels: examples, app, review - approved, tests, icd

#28012 Make the Darwin compat story for struct/event renames better
  src/darwin/Framework/CHIP/templates/MTRStructsObjc-src.zapt
  src/darwin/Framework/CHIP/templates/MTRStructsObjc.zapt
  src/darwin/Framework/CHIP/zap-generated/MTRStructsObjc.h
  src/darwin/Framework/CHIP/zap-generated/MTRStructsObjc.mm
Labels: darwin, review - pending, fast track

#27993 Replace define with static constexpr in clusters headers
  src/app/clusters/color-control-server/color-control-server.cpp
  src/app/clusters/color-control-server/color-control-server.h
  src/app/clusters/on-off-server/on-off-server.cpp
  src/app/clusters/on-off-server/on-off-server.h
  src/app/clusters/window-covering-server/window-covering-server.h
Labels: app, review - pending, fast track

#27929 ESP32: Map wifi_auth_mode_t to NetworkCommissioning Security
  src/platform/ESP32/NetworkCommissioningDriver.cpp
  src/platform/ESP32/NetworkCommissioningDriver.h
Labels: platform, esp32, review - pending, fast track

#27917 TC-TIMESYNC-events test automations
  src/python_testing/TC_TIMESYNC_2_10.py
  src/python_testing/TC_TIMESYNC_2_11.py
  src/python_testing/TC_TIMESYNC_2_12.py
  src/python_testing/TC_TIMESYNC_2_13.py
  src/python_testing/TestMatterTestingSupport.py
  src/python_testing/matter_testing_support.py
Labels: review - approved, v1.2, time sync

#27812 Commissioning: Implement time sync requirements
  .github/workflows/tests.yaml
  examples/platform/linux/CommissionerMain.cpp
  src/controller/AutoCommissioner.cpp
  src/controller/AutoCommissioner.h
  src/controller/CHIPDeviceController.cpp
  src/controller/CHIPDeviceController.h
  src/controller/CommissioningDelegate.cpp
  src/controller/CommissioningDelegate.h
  src/controller/DevicePairingDelegate.h
  src/controller/python/ChipDeviceController-ScriptBinding.cpp
  src/controller/python/OpCredsBinding.cpp
  src/controller/python/chip/ChipDeviceCtrl.py
  src/python_testing/TC_CGEN_2_4.py
  src/python_testing/TestCommissioningTimeSync.py
Labels: examples, platform, controller, github, workflows, review - pending, fast track, time sync

#27586 [Android] Implement Java TLV Decoder API
  examples/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/clusterclient/OpCredClientFragment.kt
  src/controller/java/BUILD.gn
  src/controller/java/CHIPDeviceController-JNI.cpp
  src/controller/java/CHIPTLVValueDecoder-JNI.cpp
  src/controller/java/src/chip/devicecontroller/ChipTLVValueDecoder.java
Labels: examples, controller, review - pending, fast track

#26852 RVC OPSTATE TP YAML for TC 1-1
  src/app/tests/suites/certification/Test_TC_RVCOPSTATE_1_1.yaml
Labels: app, review - pending, fast track, tests

#26651 [Silabs]- Adds fix for failed last connect error value
  src/platform/silabs/NetworkCommissioningWiFiDriver.cpp
Labels: platform, review - approved

#27998 Add a Swift XCTest for commissioning.
  src/darwin/Framework/CHIP/MTRDeviceControllerFactory.mm
  src/darwin/Framework/CHIPTests/MTRSwiftPairingTests.swift
  src/darwin/Framework/CHIPTests/MatterTests-Bridging-Header.h
  src/darwin/Framework/Matter.xcodeproj/project.pbxproj
Labels: darwin, review - pending, fast track

#28011 Time sync: add check for fabric removal
  src/app/clusters/time-synchronization-server/time-synchronization-server.cpp
  src/app/clusters/time-synchronization-server/time-synchronization-server.h
Labels: app, review - approved, time sync

#27513 [Ameba] ota fix blocking erase flash and cleanup
  src/platform/Ameba/AmebaOTAImageProcessor.cpp
  src/platform/Ameba/AmebaOTAImageProcessor.h
Labels: platform, review - pending, fast track

#28031 Retry gradle, it's failing often
  .github/workflows/gradle-wrapper-validation.yml
Labels: hotfix, github, workflows, review - pending

#28027 Disabling OpenIOTSDK test lock-app
  .github/workflows/examples-openiotsdk.yaml
Labels: github, workflows, review - approved

#28019 [Silabs] Add user configurable paths for board configuration files
  .github/workflows/examples-efr32.yaml
  examples/lighting-app/silabs/BUILD.gn
  examples/smoke-co-alarm-app/silabs/BUILD.gn
  scripts/examples/gn_silabs_example.sh
  third_party/silabs/efr32_sdk.gni
  third_party/silabs/slc_gen/run_slc.py
Labels: examples, scripts, github, workflows, review - approved

#28030 Updating script, and running to pin README.md and other files
  .github/workflows/lint.yml
  .github/workflows/roll_and_build_docker.yaml
  .restyled.yaml
  examples/all-clusters-app/ameba/README.md
  examples/all-clusters-app/telink/Readme.md
  examples/all-clusters-minimal-app/ameba/README.md
  examples/all-clusters-minimal-app/telink/Readme.md
  examples/bridge-app/telink/README.md
  examples/chef/README.md
  examples/contact-sensor-app/telink/README.md
  examples/light-switch-app/ameba/README.md
  examples/light-switch-app/telink/README.md
  examples/lighting-app/ameba/README.md
  examples/lighting-app/qpg/README.md
  examples/lighting-app/telink/README.md
  examples/lock-app/qpg/README.md
  examples/lock-app/telink/README.md
  examples/ota-requestor-app/ameba/README.md
  examples/ota-requestor-app/telink/Readme.md
  examples/persistent-storage/qpg/README.md
  examples/pigweed-app/ameba/README.md
  examples/pump-app/telink/README.md
  examples/pump-controller-app/telink/README.md
  examples/temperature-measurement-app/telink/README.md
  examples/thermostat/telink/Readme.md
  examples/window-app/telink/README.md
  integrations/docker/build-all.sh
  integrations/docker/images/base/chip-build/version
  scripts/helpers/roll_docker_version.sh
  src/test_driver/tizen/README.md
Labels: examples, hotfix, scripts, integrations, github, workflows, fast track, test driver, docker

#28021 Fix TC-TIMESYNC-2.5, add all to CI
  .github/workflows/tests.yaml
  src/python_testing/TC_TIMESYNC_2_5.py
Labels: github, workflows, review - pending, fast track, time sync

#28022 Json tracing updates and fixes (enable in all clusters, fix lists and large payloads)
  examples/all-clusters-app/linux/args.gni
  scripts/py_matter_idl/matter_idl/generators/cpp/tlvmeta/TLVMetaData_cpp.jinja
  scripts/py_matter_idl/matter_idl/generators/cpp/tlvmeta/__init__.py
  scripts/py_matter_idl/matter_idl/tests/outputs/cluster_struct_attribute/cpp-tlvmeta/clusters_meta.cpp
  scripts/py_matter_idl/matter_idl/tests/outputs/cluster_with_commands/cpp-tlvmeta/clusters_meta.cpp
  src/lib/format/protocol_decoder.cpp
  src/lib/format/tests/TestDecoding.cpp
  src/tracing/json/json_tracing.cpp
Labels: examples, scripts, lib, review - approved

#27935 [Feature] Add dishwasher app example
  docs/examples/index.md
  examples/dishwasher-app/dishwasher-common/BUILD.gn
  examples/dishwasher-app/dishwasher-common/dishwasher-app.matter
  examples/dishwasher-app/dishwasher-common/dishwasher-app.zap
  examples/dishwasher-app/dishwasher-common/include/operational-state-delegate-impl.h
  examples/dishwasher-app/dishwasher-common/include/operational-state-delegates.h
  examples/dishwasher-app/dishwasher-common/src/operational-state-delegate-impl.cpp
  examples/dishwasher-app/dishwasher-common/src/operational-state-delegates.cpp
  examples/dishwasher-app/linux/.gn
  examples/dishwasher-app/linux/BUILD.gn
  examples/dishwasher-app/linux/README.md
  examples/dishwasher-app/linux/args.gni
  examples/dishwasher-app/linux/build_overrides
  examples/dishwasher-app/linux/include/CHIPProjectAppConfig.h
  examples/dishwasher-app/linux/main.cpp
  examples/dishwasher-app/linux/third_party/connectedhomeip
  scripts/build/build/targets.py
  scripts/build/builders/host.py
  scripts/build/testdata/all_targets_linux_x64.txt
Labels: documentation, examples, scripts, review - pending

#27646 [Python] CommissionOnNetwork blocked if DUT does not have an open commissoning window
  src/controller/python/ChipDeviceController-ScriptBinding.cpp
  src/controller/python/ChipDeviceController-ScriptPairingDeviceDiscoveryDelegate.cpp
  src/controller/python/ChipDeviceController-ScriptPairingDeviceDiscoveryDelegate.h
  src/controller/python/chip/ChipDeviceCtrl.py
Labels: controller, review - pending, fast track

#27452 Updating dependabot
  .github/dependabot.yml
Labels: review - pending, fast track

#28041 Fix thread race in test-only XPC code.
  src/darwin/Framework/CHIP/MTRDeviceControllerXPCConnection.mm
Labels: darwin, review - pending, fast track

#27978 Allow initializing ReadClient without exchange manager if it's not needed.
  src/app/ReadClient.cpp
  src/app/ReadClient.h
Labels: app, review - approved

#28051 [Telink] Update zephyr config
  config/telink/app/zephyr.conf
Labels: config, review - approved

#28044 Delay processing test event in Smoke CO Alarm
  examples/smoke-co-alarm-app/silabs/include/SmokeCoAlarmManager.h
  examples/smoke-co-alarm-app/silabs/src/SmokeCoAlarmManager.cpp
Labels: examples, review - pending, fast track

#28073 Disabling more flakey OpenIOTSDK Tests
  .github/workflows/examples-openiotsdk.yaml
Labels: hotfix, github, workflows, fast track
