Repository project-chip/connectedhomeip, pull requests merged in 2023-01, with the labels that each got.

#24189 [logging] Introduced log modules and categories selection
  config/nrfconnect/chip-module/Kconfig
  config/nrfconnect/chip-module/Kconfig.defaults
  examples/all-clusters-app/nrfconnect/main/ZclDoorLockCallbacks.cpp
  examples/chef/nrfconnect/main.cpp
  examples/lock-app/nrfconnect/main/AppTask.cpp
  examples/lock-app/nrfconnect/main/ZclCallbacks.cpp
  examples/lock-app/nrfconnect/main/main.cpp
  examples/pigweed-app/nrfconnect/main/main.cpp
  examples/platform/nrfconnect/Rpc.cpp
  examples/platform/nrfconnect/util/PWMDevice.cpp
  src/lib/support/logging/CHIPLogging.h
  src/lib/support/logging/Constants.h
  src/platform/Ameba/AmebaConfig.cpp
  src/platform/Darwin/Logging.h
  src/platform/Zephyr/Logging.cpp
  src/platform/nrfconnect/CHIPPlatformConfig.h
Labels: examples, platform, darwin, nrf connect, zephyr, lib, config, review - approved, support

#24154 Implement support for renaming fields in Darwin codegen.
  .github/workflows/zap_regeneration.yaml
  .github/workflows/zap_templates.yaml
  src/darwin/Framework/CHIP/templates/MTRBaseClusters.zapt
  src/darwin/Framework/CHIP/templates/MTRCommandPayloadsObjc-src.zapt
  src/darwin/Framework/CHIP/templates/MTRCommandPayloadsObjc.zapt
  src/darwin/Framework/CHIP/templates/MTRStructsObjc-src.zapt
  src/darwin/Framework/CHIP/templates/MTRStructsObjc.zapt
  src/darwin/Framework/CHIP/templates/availability.yaml
  src/darwin/Framework/CHIP/templates/partials/renamed_struct_field_impl.zapt
  src/darwin/Framework/CHIP/templates/partials/struct_field_decl.zapt
  src/darwin/Framework/CHIP/templates/templates.json
  src/darwin/Framework/CHIP/zap-generated/MTRStructsObjc.h
  src/darwin/Framework/CHIP/zap-generated/MTRStructsObjc.mm
Labels: darwin, github, workflows, review - pending, fast track

#24195 Fix ChipLog* calls in darwin-framework-tool itself to work right.
  examples/darwin-framework-tool/BUILD.gn
  examples/darwin-framework-tool/logging/logging.mm
Labels: examples, darwin, review - pending, fast track

#24103 Convert former python yaml tests parser to be a runner/adapter
  scripts/tests/yamltests/fixes.py
  src/controller/python/BUILD.gn
  src/controller/python/chip/yaml/__init__.py
  src/controller/python/chip/yaml/constraints.py
  src/controller/python/chip/yaml/data_model_lookup.py
  src/controller/python/chip/yaml/errors.py
  src/controller/python/chip/yaml/format_converter.py
  src/controller/python/chip/yaml/parser.py
  src/controller/python/chip/yaml/runner.py
  src/controller/python/chip/yaml/variable_storage.py
  src/controller/python/test/unit_tests/test_yaml_format_converter.py
Labels: scripts, controller, review - approved

#24091 [chip-tool] Simplify the interaction model APIs to make it easier to maintain/review
  examples/chip-tool/commands/clusters/ClusterCommand.h
  examples/chip-tool/commands/clusters/ReportCommand.h
  examples/chip-tool/commands/clusters/WriteAttributeCommand.h
  src/app/tests/suites/commands/interaction_model/InteractionModel.cpp
  src/app/tests/suites/commands/interaction_model/InteractionModel.h
Labels: tools, examples, app, review - approved, tests

#24230 [EFR32]remove unnecessary QR code changes in mg24
  examples/lighting-app/silabs/efr32/BUILD.gn
  examples/window-app/silabs/efr32/BUILD.gn
Labels: examples, review - approved

#24097 Fix support for 0-length hex-encoded octet strings in chip-tool.
  examples/chip-tool/BUILD.gn
  examples/chip-tool/commands/clusters/ComplexArgument.h
  examples/chip-tool/commands/clusters/CustomArgument.h
  examples/chip-tool/commands/common/Command.cpp
  examples/chip-tool/commands/common/HexConversion.h
  examples/darwin-framework-tool/BUILD.gn
  examples/tv-casting-app/tv-casting-common/BUILD.gn
Labels: tools, examples, darwin, review - approved

#24233 [mdns] Added two nullptr checks to prevent falling into hard fault
  src/lib/dnssd/Advertiser_ImplMinimalMdns.cpp
Labels: bug, lib, review - approved

#24231 [zephyr] Use native locking primitives
  config/nrfconnect/chip-module/Kconfig.defaults
  src/ble/BLEEndPoint.h
  src/platform/Zephyr/SystemPlatformConfig.h
  src/platform/nrfconnect/SystemPlatformConfig.h
  src/platform/telink/SystemPlatformConfig.h
  src/system/BUILD.gn
  src/system/SystemConfig.h
  src/system/SystemMutex.h
  src/system/system.gni
Labels: system, platform, nrf connect, zephyr, ble, config, review - approved, telink

#24249 board name changed
  .vscode/tasks.json
Labels: vscode, review - approved

#24250 [nrfconnect] Removed types from Kconfig overrides
  config/nrfconnect/chip-module/Kconfig.defaults
  config/nrfconnect/chip-module/Kconfig.features
  config/nrfconnect/chip-module/Kconfig.hci_rpmsg.defaults
  config/nrfconnect/chip-module/Kconfig.mcuboot.defaults
  config/nrfconnect/chip-module/Kconfig.multiprotocol_rpmsg.defaults
Labels: nrf connect, review - approved

#24227 [nrfconnect] Disable selected BLE features and RTT
  config/nrfconnect/chip-module/Kconfig.defaults
  examples/all-clusters-app/nrfconnect/prj.conf
  examples/all-clusters-app/nrfconnect/prj_dfu.conf
  examples/all-clusters-app/nrfconnect/prj_release.conf
  examples/all-clusters-minimal-app/nrfconnect/prj.conf
  examples/all-clusters-minimal-app/nrfconnect/prj_dfu.conf
  examples/all-clusters-minimal-app/nrfconnect/prj_release.conf
  examples/light-switch-app/nrfconnect/prj.conf
  examples/light-switch-app/nrfconnect/prj_no_dfu.conf
  examples/light-switch-app/nrfconnect/prj_release.conf
  examples/lighting-app/nrfconnect/prj.conf
  examples/lighting-app/nrfconnect/prj_no_dfu.conf
  examples/lighting-app/nrfconnect/prj_release.conf
  examples/lock-app/nrfconnect/prj.conf
  examples/lock-app/nrfconnect/prj_no_dfu.conf
  examples/lock-app/nrfconnect/prj_release.conf
  examples/pump-app/nrfconnect/prj.conf
  examples/pump-app/nrfconnect/prj_no_dfu.conf
  examples/pump-app/nrfconnect/prj_release.conf
  examples/pump-controller-app/nrfconnect/prj.conf
  examples/pump-controller-app/nrfconnect/prj_no_dfu.conf
  examples/pump-controller-app/nrfconnect/prj_release.conf
  examples/window-app/nrfconnect/prj.conf
  examples/window-app/nrfconnect/prj_no_dfu.conf
  examples/window-app/nrfconnect/prj_release.conf
Labels: examples, config, review - approved

#24096 [IC-Device] Initial implementation of Client Monitoring Registration table
  src/app/tests/BUILD.gn
  src/app/tests/TestClientMonitoringRegistrationTable.cpp
  src/app/util/ClientMonitoringRegistrationTable.cpp
  src/app/util/ClientMonitoringRegistrationTable.h
  src/lib/core/DataModelTypes.h
  src/lib/support/DefaultStorageKeyAllocator.h
  src/lib/support/UnitTestRegistration.cpp
Labels: lib, app, review - approved, tests, support, core, icd

#24191 Fix mutex use after destroy upon stack shutdown
  src/controller/java/CHIPDeviceController-JNI.cpp
  src/controller/python/chip/ChipStack.py
  src/include/platform/internal/GenericPlatformManagerImpl_POSIX.h
  src/include/platform/internal/GenericPlatformManagerImpl_POSIX.ipp
Labels: platform, controller, review - approved

#24168 ESP32: Remove the initial call to esp_wifi_set_config()
  src/platform/ESP32/ConnectivityManagerImpl_WiFi.cpp
Labels: platform, esp32, review - approved

#24187 [v1.0 cherrypick] Update LevelControl to allow for disabling transition time and OnOff feature
  src/app/clusters/level-control/level-control.cpp
  src/app/clusters/level-control/level-control.h
  src/app/clusters/on-off-server/on-off-server.cpp
Labels: app, This is a 1.0 cherrypick

#24186 [Ameba] Add Macro to InitBindingHandler
  examples/all-clusters-app/ameba/main/chipinterface.cpp
  examples/light-switch-app/ameba/main/chipinterface.cpp
Labels: review - approved

#24213 [Telink] Change factory data generator utility
  config/telink/chip-module/CMakeLists.txt
  config/telink/chip-module/generate_factory_data.cmake
  scripts/requirements.telink.txt
  scripts/requirements.txt
  scripts/tools/telink/generate_telink_chip_factory_data.py
  scripts/tools/telink/mfg_tool.py
  scripts/tools/telink/readme.md
  scripts/tools/telink/requirements.txt
  scripts/tools/telink/telink_factory_data.schema
  scripts/tools/telink/telink_generate_partition.py
Labels: scripts, config, review - pending, fast track

#24088 [nrfconnect] Added support for user data in Factory Data parser
  docs/guides/nrfconnect_factory_data_configuration.md
  scripts/tools/nrfconnect/tests/test_generate_factory_data.py
  src/platform/nrfconnect/FactoryDataParser.c
  src/platform/nrfconnect/FactoryDataParser.h
  src/platform/nrfconnect/FactoryDataProvider.cpp
  src/platform/nrfconnect/FactoryDataProvider.h
Labels: documentation, scripts, platform, nrf connect, review - approved

#23963 [TI] Factory Reset updates for CC13X2_26X2
  examples/platform/cc13x2_26x2/BUILD.gn
  examples/platform/cc13x2_26x2/CC13X2_26X2DeviceAttestationCreds.cpp
  examples/platform/cc13x2_26x2/CC13X2_26X2DeviceAttestationCreds.h
  examples/pump-app/cc13x2x7_26x2x7/BUILD.gn
  examples/pump-app/cc13x2x7_26x2x7/main/AppTask.cpp
  src/platform/cc13x2_26x2/CC13X2_26X2Config.cpp
  src/platform/cc13x2_26x2/CC13X2_26X2Config.h
  src/platform/cc13x2_26x2/ConfigurationManagerImpl.cpp
Labels: examples, platform, review - pending, fast track

#24063 [chip-tool] Add delay commands module to chip-tool with busy-wait com…
  examples/chip-tool/BUILD.gn
  examples/chip-tool/commands/delay/Commands.h
  examples/chip-tool/commands/delay/SleepCommand.cpp
  examples/chip-tool/commands/delay/SleepCommand.h
  examples/chip-tool/main.cpp
Labels: tools, examples, review - approved

#24145 [Telink] Set correct Chip task priority
  src/platform/telink/CHIPDevicePlatformConfig.h
Labels: platform, telink, This is a 1.0 cherrypick

#24090 [Telink] Set max BLE RF power
  src/platform/telink/BLEManagerImpl.cpp
Labels: platform, telink, This is a 1.0 cherrypick

#24224 [tlv] Optimize code size of processing context tags
  src/darwin/Framework/CHIP/MTRBaseDevice.mm
  src/lib/core/CHIPTLVReader.cpp
  src/lib/core/CHIPTLVTags.h
  src/lib/core/CHIPTLVWriter.cpp
Labels: darwin, lib, review - approved, core

#24270 Move weakly typed enum list back into Matter repository.
  src/app/common/templates/templates.json
  src/app/common/templates/weak-enum-list.yaml
Labels: app, review - approved

#24277 [Telink] enable nsv cache & rework log levels (partly Cherry-pick #24200)
  config/telink/app/zephyr.conf
  examples/lighting-app/telink/src/AppTask.cpp
  examples/lighting-app/telink/src/LightingManager.cpp
Labels: examples, config, This is a 1.0 cherrypick

#24278 [Telink] Change factory data generator utility (Cherry-pick #24213)
  config/telink/chip-module/CMakeLists.txt
  config/telink/chip-module/generate_factory_data.cmake
  examples/contact-sensor-app/telink/prj.conf
  examples/light-switch-app/telink/prj.conf
  examples/lighting-app/telink/prj.conf
  examples/thermostat/telink/prj.conf
  scripts/requirements.telink.txt
  scripts/requirements.txt
  scripts/tools/telink/generate_telink_chip_factory_data.py
  scripts/tools/telink/mfg_tool.py
  scripts/tools/telink/readme.md
  scripts/tools/telink/requirements.txt
  scripts/tools/telink/telink_factory_data.schema
  scripts/tools/telink/telink_generate_partition.py
Labels: examples, scripts, config, This is a 1.0 cherrypick

#23886 [chip-tool] Add busyWaitMs optional argument to chip-tool to lock the…
  examples/chip-tool/commands/clusters/ClusterCommand.h
  examples/chip-tool/commands/clusters/WriteAttributeCommand.h
  src/app/tests/suites/commands/interaction_model/InteractionModel.cpp
  src/app/tests/suites/commands/interaction_model/InteractionModel.h
Labels: tools, examples, app, review - approved, tests

#24264 Align naming in Network Commissioning cluster XML with the spec.
  examples/all-clusters-app/all-clusters-common/all-clusters-app.matter
  examples/all-clusters-minimal-app/all-clusters-common/all-clusters-minimal-app.matter
  examples/bridge-app/bridge-common/bridge-app.matter
  examples/chef/devices/rootnode_colortemperaturelight_hbUnzYVeyn.matter
  examples/chef/devices/rootnode_contactsensor_lFAGG1bfRO.matter
  examples/chef/devices/rootnode_dimmablelight_bCwGYSDpoe.matter
  examples/chef/devices/rootnode_doorlock_aNKYAreMXE.matter
  examples/chef/devices/rootnode_extendedcolorlight_8lcaaYJVAa.matter
  examples/chef/devices/rootnode_fan_7N2TobIlOX.matter
  examples/chef/devices/rootnode_flowsensor_1zVxHedlaV.matter
  examples/chef/devices/rootnode_heatingcoolingunit_ncdGai1E5a.matter
  examples/chef/devices/rootnode_humiditysensor_Xyj4gda6Hb.matter
  examples/chef/devices/rootnode_lightsensor_lZQycTFcJK.matter
  examples/chef/devices/rootnode_occupancysensor_iHyVgifZuo.matter
  examples/chef/devices/rootnode_onofflight_bbs1b7IaOV.matter
  examples/chef/devices/rootnode_onofflightswitch_FsPlMr090Q.matter
  examples/chef/devices/rootnode_onoffpluginunit_Wtf8ss5EBY.matter
  examples/chef/devices/rootnode_pressuresensor_s0qC9wLH4k.matter
  examples/chef/devices/rootnode_speaker_RpzeXdimqA.matter
  examples/chef/devices/rootnode_temperaturesensor_Qy1zkNW7c3.matter
  examples/chef/devices/rootnode_thermostat_bm3fb8dhYi.matter
  examples/chef/devices/rootnode_windowcovering_RLCxaGi9Yx.matter
  examples/contact-sensor-app/contact-sensor-common/contact-sensor-app.matter
  examples/dynamic-bridge-app/bridge-common/bridge-app.matter
  examples/light-switch-app/light-switch-common/light-switch-app.matter
  examples/lighting-app/lighting-common/lighting-app.matter
  examples/lighting-app/nxp/zap/lighting-on-off.matter
  examples/lock-app/lock-common/lock-app.matter
  examples/log-source-app/log-source-common/log-source-app.matter
  examples/ota-provider-app/ota-provider-common/ota-provider-app.matter
  examples/ota-requestor-app/ota-requestor-common/ota-requestor-app.matter
  examples/placeholder/linux/apps/app1/config.matter
  examples/placeholder/linux/apps/app2/config.matter
  examples/pump-app/pump-common/pump-app.matter
  examples/pump-controller-app/pump-controller-common/pump-controller-app.matter
  examples/temperature-measurement-app/esp32/main/temperature-measurement.matter
  examples/thermostat/thermostat-common/thermostat.matter
  examples/tv-app/tv-common/tv-app.matter
  examples/tv-casting-app/tv-casting-common/tv-casting-app.matter
  examples/window-app/common/window-app.matter
  src/app/zap-templates/zcl/data-model/chip/network-commissioning-cluster.xml
  src/controller/data_model/controller-clusters.matter
  src/darwin/Framework/CHIP/templates/MTRBaseClusters.zapt
  src/darwin/Framework/CHIP/templates/availability.yaml
  src/darwin/Framework/CHIP/zap-generated/MTRBaseClusters.h
  src/platform/Darwin/WiFi/NetworkCommissioningWiFiDriver.mm
  src/platform/silabs/NetworkCommissioningWiFiDriver.cpp
  zzz_generated/app-common/app-common/zap-generated/cluster-enums.h
  zzz_generated/app-common/app-common/zap-generated/enums.h
Labels: examples, platform, darwin, controller, app, review - approved

#24282 Increase build timeout for cc13x2x7_26x2x7 builds
  .github/workflows/examples-cc13x2x7_26x2x7.yaml
Labels: hotfix, github, workflows

#24268 tv-casting-app: On kBindingsChangedViaCluster, connect to VideoPlayer if already commissioned with it
  examples/tv-casting-app/tv-casting-common/include/CastingServer.h
  examples/tv-casting-app/tv-casting-common/include/TargetVideoPlayerInfo.h
  examples/tv-casting-app/tv-casting-common/src/CastingServer.cpp
  examples/tv-casting-app/tv-casting-common/src/TargetVideoPlayerInfo.cpp
Labels: examples, review - approved

#23908 Cleanup devcontainer Dockerfile
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .vscode/extensions.json
Labels: vscode, review - approved

#24283 Cleanup after matter_idl, matter_yamltests PR merged
  BUILD.gn
  scripts/BUILD.gn
  scripts/py_matter_yamltests/setup.py
Labels: scripts, gn, review - approved

#24273 use docker image 0.6.27
  .devcontainer/devcontainer.json
  .github/workflows/bloat_check.yaml
  .github/workflows/build.yaml
  .github/workflows/chef.yaml
  .github/workflows/cirque.yaml
  .github/workflows/doxygen.yaml
  .github/workflows/examples-ameba.yaml
  .github/workflows/examples-bouffalolab.yaml
  .github/workflows/examples-cc13x2x7_26x2x7.yaml
  .github/workflows/examples-efr32.yaml
  .github/workflows/examples-esp32.yaml
  .github/workflows/examples-infineon.yaml
  .github/workflows/examples-k32w.yaml
  .github/workflows/examples-linux-arm.yaml
  .github/workflows/examples-linux-imx.yaml
  .github/workflows/examples-linux-standalone.yaml
  .github/workflows/examples-mbed.yaml
  .github/workflows/examples-mw320.yaml
  .github/workflows/examples-nrfconnect.yaml
  .github/workflows/examples-openiotsdk.yaml
  .github/workflows/examples-qpg.yaml
  .github/workflows/examples-telink.yaml
  .github/workflows/examples-tizen.yaml
  .github/workflows/full-android.yaml
  .github/workflows/fuzzing-build.yaml
  .github/workflows/qemu.yaml
  .github/workflows/release_artifacts.yaml
  .github/workflows/smoketest-android.yaml
  .github/workflows/tests.yaml
  .github/workflows/unit_integration_test.yaml
  .github/workflows/zap_regeneration.yaml
  .github/workflows/zap_templates.yaml
  integrations/cloudbuild/build-all.yaml
  integrations/cloudbuild/build-coverage.yaml
  integrations/cloudbuild/chef.yaml
  integrations/cloudbuild/smoke-test.yaml
  third_party/ameba/mbedtls.cmake
Labels: integrations, vscode, github, workflows, review - approved

#24286 Update ZAP to tip.
  integrations/docker/images/chip-build/Dockerfile
  integrations/docker/images/chip-build/version
Labels: integrations, review - pending, fast track

#24293 Preserve acronyms in Darwin names of enum/bitmap values.
  .github/workflows/zap_regeneration.yaml
  .github/workflows/zap_templates.yaml
  src/darwin/Framework/CHIP/templates/MTRBaseClusters.zapt
  src/darwin/Framework/CHIP/templates/availability.yaml
  src/darwin/Framework/CHIP/zap-generated/MTRBaseClusters.h
Labels: darwin, github, workflows, review - pending, fast track

#24274 [nrfconnect] Allow use of certifcates stored on the HDD for factory data
  config/nrfconnect/chip-module/Kconfig
  config/nrfconnect/chip-module/generate_factory_data.cmake
Labels: config, review - approved

#24199 [Ameba] Update docker image
  integrations/docker/images/chip-build-ameba/Dockerfile
  integrations/docker/images/chip-build/version
Labels: integrations, review - approved, fast track

#24266 Align naming in Diagnostic Logs cluster XML with the spec.
  examples/log-source-app/log-source-common/log-source-app.matter
  src/app/clusters/diagnostic-logs-server/diagnostic-logs-server.cpp
  src/app/zap-templates/zcl/data-model/chip/diagnostic-logs-cluster.xml
  src/controller/data_model/controller-clusters.matter
  src/controller/java/zap-generated/CHIPInvokeCallbacks.cpp
  src/controller/java/zap-generated/chip/devicecontroller/ChipClusters.java
  src/controller/java/zap-generated/chip/devicecontroller/ClusterInfoMapping.java
  src/controller/python/chip/clusters/Objects.py
  src/darwin/Framework/CHIP/templates/availability.yaml
  src/darwin/Framework/CHIP/zap-generated/MTRCallbackBridge.mm
  src/darwin/Framework/CHIP/zap-generated/MTRCommandPayloadsObjc.h
  src/darwin/Framework/CHIP/zap-generated/MTRCommandPayloadsObjc.mm
  zzz_generated/app-common/app-common/zap-generated/callback.h
  zzz_generated/app-common/app-common/zap-generated/cluster-objects.cpp
  zzz_generated/app-common/app-common/zap-generated/cluster-objects.h
  zzz_generated/chip-tool/zap-generated/cluster/logging/DataModelLogger.cpp
Labels: examples, darwin, controller, app, review - approved

#24287 Align naming in Software Diagnostics cluster XML with the spec.
  examples/all-clusters-app/all-clusters-common/all-clusters-app.matter
  examples/bridge-app/bridge-common/bridge-app.matter
  examples/chef/devices/noip_rootnode_dimmablelight_bCwGYSDpoe.matter
  examples/chef/devices/rootnode_colortemperaturelight_hbUnzYVeyn.matter
  examples/chef/devices/rootnode_contactsensor_lFAGG1bfRO.matter
  examples/chef/devices/rootnode_dimmablelight_bCwGYSDpoe.matter
  examples/chef/devices/rootnode_doorlock_aNKYAreMXE.matter
  examples/chef/devices/rootnode_extendedcolorlight_8lcaaYJVAa.matter
  examples/chef/devices/rootnode_fan_7N2TobIlOX.matter
  examples/chef/devices/rootnode_flowsensor_1zVxHedlaV.matter
  examples/chef/devices/rootnode_heatingcoolingunit_ncdGai1E5a.matter
  examples/chef/devices/rootnode_humiditysensor_Xyj4gda6Hb.matter
  examples/chef/devices/rootnode_lightsensor_lZQycTFcJK.matter
  examples/chef/devices/rootnode_occupancysensor_iHyVgifZuo.matter
  examples/chef/devices/rootnode_onofflight_bbs1b7IaOV.matter
  examples/chef/devices/rootnode_onofflightswitch_FsPlMr090Q.matter
  examples/chef/devices/rootnode_onoffpluginunit_Wtf8ss5EBY.matter
  examples/chef/devices/rootnode_pressuresensor_s0qC9wLH4k.matter
  examples/chef/devices/rootnode_speaker_RpzeXdimqA.matter
  examples/chef/devices/rootnode_temperaturesensor_Qy1zkNW7c3.matter
  examples/chef/devices/rootnode_thermostat_bm3fb8dhYi.matter
  examples/chef/devices/rootnode_windowcovering_RLCxaGi9Yx.matter
  examples/contact-sensor-app/contact-sensor-common/contact-sensor-app.matter
  examples/dynamic-bridge-app/bridge-common/bridge-app.matter
  examples/light-switch-app/light-switch-common/light-switch-app.matter
  examples/lighting-app/lighting-common/lighting-app.matter
  examples/lighting-app/nxp/zap/lighting-on-off.matter
  examples/lock-app/lock-common/lock-app.matter
  examples/placeholder/linux/apps/app1/config.matter
  examples/placeholder/linux/apps/app2/config.matter
  examples/thermostat/thermostat-common/thermostat.matter
  examples/tv-app/tv-common/tv-app.matter
  examples/tv-casting-app/tv-casting-common/tv-casting-app.matter
  examples/window-app/common/window-app.matter
  src/app/zap-templates/zcl/data-model/chip/software-diagnostics-cluster.xml
  src/controller/data_model/controller-clusters.matter
  src/controller/java/zap-generated/CHIPAttributeTLVValueDecoder.cpp
  src/controller/java/zap-generated/CHIPReadCallbacks.cpp
  src/controller/java/zap-generated/CHIPReadCallbacks.h
  src/controller/java/zap-generated/chip/devicecontroller/ChipClusters.java
  src/controller/java/zap-generated/chip/devicecontroller/ChipStructs.java
  src/controller/java/zap-generated/chip/devicecontroller/ClusterInfoMapping.java
  src/controller/python/chip/clusters/Objects.py
  src/darwin/Framework/CHIP/templates/availability.yaml
  src/darwin/Framework/CHIP/zap-generated/MTRAttributeTLVValueDecoder.mm
  src/darwin/Framework/CHIP/zap-generated/MTRCallbackBridge.h
  src/darwin/Framework/CHIP/zap-generated/MTRCallbackBridge.mm
  src/darwin/Framework/CHIP/zap-generated/MTRStructsObjc.h
  src/darwin/Framework/CHIP/zap-generated/MTRStructsObjc.mm
  src/include/platform/DiagnosticDataProvider.h
  zzz_generated/app-common/app-common/zap-generated/af-structs.h
  zzz_generated/app-common/app-common/zap-generated/cluster-objects.cpp
  zzz_generated/app-common/app-common/zap-generated/cluster-objects.h
  zzz_generated/chip-tool/zap-generated/cluster/ComplexArgumentParser.cpp
  zzz_generated/chip-tool/zap-generated/cluster/ComplexArgumentParser.h
  zzz_generated/chip-tool/zap-generated/cluster/logging/DataModelLogger.cpp
  zzz_generated/chip-tool/zap-generated/cluster/logging/DataModelLogger.h
  zzz_generated/controller-clusters/zap-generated/CHIPClientCallbacks.h
Labels: examples, platform, darwin, controller, app, review - approved

#24307 Update zap image version for cert bins docker file
  integrations/docker/images/chip-cert-bins/Dockerfile
Labels: hotfix, integrations, review - pending

#24306 Update ZAP to tip.
  integrations/docker/images/chip-build/Dockerfile
  integrations/docker/images/chip-build/version
Labels: review - approved

#24269 Undo renames in idl test inputs.
  scripts/py_matter_idl/matter_idl/tests/inputs/large_all_clusters_app.matter
  scripts/py_matter_idl/matter_idl/tests/inputs/large_lighting_app.matter
Labels: scripts, review - pending, fast track

#24134 [SILABS] Folder structure and build system re-factoring for thermostat
  examples/thermostat/efr32/build_overrides
  examples/thermostat/efr32/third_party/connectedhomeip
  examples/thermostat/silabs/efr32/.gn
  examples/thermostat/silabs/efr32/BUILD.gn
  examples/thermostat/silabs/efr32/README.md
  examples/thermostat/silabs/efr32/args.gni
  examples/thermostat/silabs/efr32/build_for_wifi_args.gni
  examples/thermostat/silabs/efr32/build_for_wifi_gnfile.gn
  examples/thermostat/silabs/efr32/build_overrides
  examples/thermostat/silabs/efr32/include/AppConfig.h
  examples/thermostat/silabs/efr32/include/AppEvent.h
  examples/thermostat/silabs/efr32/include/AppTask.h
  examples/thermostat/silabs/efr32/include/CHIPProjectConfig.h
  examples/thermostat/silabs/efr32/include/SensorManager.h
  examples/thermostat/silabs/efr32/include/TemperatureManager.h
  examples/thermostat/silabs/efr32/include/ThermostatIcons.h
  examples/thermostat/silabs/efr32/include/ThermostatUI.h
  examples/thermostat/silabs/efr32/src/AppTask.cpp
  examples/thermostat/silabs/efr32/src/SensorManager.cpp
  examples/thermostat/silabs/efr32/src/TemperatureManager.cpp
  examples/thermostat/silabs/efr32/src/ThermostatUI.cpp
  examples/thermostat/silabs/efr32/src/ZclCallbacks.cpp
  examples/thermostat/silabs/efr32/src/main.cpp
  examples/thermostat/silabs/efr32/third_party/connectedhomeip
Labels: examples, review - approved

#24272 [Bouffalolab] Enable BL602 hardware crypto engine for mbedtls
  src/platform/bouffalolab/BL602/CHIPPlatformConfig.h
  src/platform/bouffalolab/BL602/bl602-chip-mbedtls-config.h
  third_party/bouffalolab/bl602/bl_iot_sdk.gni
Labels: platform, review - approved

#24279 [nrfconnect] Added LOG dependency for CHIP_APP_LOG_LEVEL
  config/nrfconnect/chip-module/Kconfig
Labels: review - approved

#24127 Implement unpairDevice API in android and chip-tool
  examples/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/CHIPToolActivity.kt
  examples/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/SelectActionFragment.kt
  examples/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/provisioning/UnpairDeviceFragment.kt
  examples/android/CHIPTool/app/src/main/res/layout/select_action_fragment.xml
  examples/android/CHIPTool/app/src/main/res/layout/unpair_device_fragment.xml
  examples/android/CHIPTool/app/src/main/res/values/strings.xml
  examples/chip-tool/commands/pairing/PairingCommand.cpp
  examples/chip-tool/commands/pairing/PairingCommand.h
  src/controller/BUILD.gn
  src/controller/CHIPDeviceController.cpp
  src/controller/CurrentFabricRemover.cpp
  src/controller/CurrentFabricRemover.h
  src/controller/java/AndroidCurrentFabricRemover.cpp
  src/controller/java/AndroidCurrentFabricRemover.h
  src/controller/java/BUILD.gn
  src/controller/java/CHIPDeviceController-JNI.cpp
  src/controller/java/src/chip/devicecontroller/ChipDeviceController.java
  src/controller/java/src/chip/devicecontroller/UnpairDeviceCallback.java
Labels: tools, examples, controller, review - approved

#23486 [Chef] Implement Z2 flashing through flash.sh script
  examples/chef/chef.py
Labels: examples, This is a 1.0 cherrypick

#23758 [Ameba] Implement reading and decoding factorydata from flash
  config/ameba/chip.cmake
  examples/all-clusters-app/ameba/chip_main.cmake
  examples/all-clusters-app/ameba/main/chipinterface.cpp
  src/platform/Ameba/BUILD.gn
  src/platform/Ameba/FactoryDataDecoder.cpp
  src/platform/Ameba/FactoryDataDecoder.h
  src/platform/Ameba/FactoryDataProvider.cpp
  src/platform/Ameba/FactoryDataProvider.h
Labels: examples, platform, config, review - pending, fast track

#24309 Restrict the set of structs for which we generate legacy definitions.
  .github/workflows/zap_regeneration.yaml
  .github/workflows/zap_templates.yaml
  integrations/docker/images/chip-cert-bins/Dockerfile
  src/app/common/templates/legacy-struct-list.yaml
  src/app/common/templates/templates.json
  src/app/zap-templates/templates/app/af-structs.zapt
  zzz_generated/app-common/app-common/zap-generated/af-structs.h
Labels: integrations, app, github, workflows, review - approved

#24285 iOS TvCasting app: Adding async completion callback to startMatterServer API
  examples/tv-casting-app/darwin/MatterTvCastingBridge/MatterTvCastingBridge/CastingServerBridge.h
  examples/tv-casting-app/darwin/MatterTvCastingBridge/MatterTvCastingBridge/CastingServerBridge.mm
  examples/tv-casting-app/darwin/TvCasting/TvCasting/TvCastingApp.swift
Labels: examples, review - approved

#24303 [ESP32] Fix compilation errors with bridge app
  examples/platform/esp32/common/CommonDeviceCallbacks.cpp
Labels: examples, platform, review - approved

#24275 Update Tizen README for lighting-app example
  examples/lighting-app/tizen/README.md
Labels: review - approved, tizen

#24317 Align naming in Switch cluster XML with the spec.
  examples/all-clusters-app/all-clusters-common/all-clusters-app.zap
  examples/all-clusters-minimal-app/all-clusters-common/all-clusters-minimal-app.zap
  examples/bridge-app/bridge-common/bridge-app.zap
  examples/chef/devices/rootnode_colortemperaturelight_hbUnzYVeyn.zap
  examples/chef/devices/rootnode_fan_7N2TobIlOX.zap
  examples/dynamic-bridge-app/bridge-common/bridge-app.zap
  examples/light-switch-app/light-switch-common/light-switch-app.zap
  examples/placeholder/linux/apps/app1/config.zap
  examples/placeholder/linux/apps/app2/config.zap
  examples/thermostat/thermostat-common/thermostat.zap
  examples/tv-app/tv-common/tv-app.zap
  examples/tv-casting-app/tv-casting-common/tv-casting-app.zap
  src/app/tests/suites/certification/Test_TC_SWTCH_2_1.yaml
  src/app/tests/suites/certification/Test_TC_SWTCH_3_1_Simulated.yaml
  src/app/zap-templates/zcl/data-model/chip/switch-cluster.xml
  src/controller/data_model/controller-clusters.zap
  src/darwin/Framework/CHIP/templates/availability.yaml
  zzz_generated/all-clusters-app/zap-generated/endpoint_config.h
  zzz_generated/all-clusters-minimal-app/zap-generated/endpoint_config.h
  zzz_generated/bridge-app/zap-generated/endpoint_config.h
  zzz_generated/chef-rootnode_fan_7N2TobIlOX/zap-generated/endpoint_config.h
  zzz_generated/chip-tool/zap-generated/cluster/logging/DataModelLogger.cpp
  zzz_generated/dynamic-bridge-app/zap-generated/endpoint_config.h
  zzz_generated/light-switch-app/zap-generated/endpoint_config.h
  zzz_generated/placeholder/app1/zap-generated/endpoint_config.h
  zzz_generated/placeholder/app2/zap-generated/endpoint_config.h
  zzz_generated/tv-casting-app/zap-generated/endpoint_config.h
Labels: examples, darwin, controller, app, review - approved, tests

#24321 Implement UI affordance to run cert tests from the android casting app.
  examples/tv-app/android/App/platform-app/src/main/java/com/matter/tv/server/service/AppPlatformService.java
  examples/tv-app/android/App/platform-app/src/main/java/com/matter/tv/server/service/MatterServantService.java
  examples/tv-app/android/java/AppImpl.cpp
  examples/tv-app/android/java/AppImpl.h
  examples/tv-app/android/java/AppPlatform-JNI.cpp
  examples/tv-app/android/java/src/com/matter/tv/server/tvapp/AppPlatform.java
  examples/tv-app/linux/AppImpl.cpp
  examples/tv-casting-app/android/App/app/build.gradle
  examples/tv-casting-app/android/App/app/src/main/java/com/chip/casting/app/CertTestFragment.java
  examples/tv-casting-app/android/App/app/src/main/java/com/chip/casting/app/ContentLauncherFragment.java
  examples/tv-casting-app/android/App/app/src/main/java/com/chip/casting/app/MainActivity.java
  examples/tv-casting-app/android/App/app/src/main/java/com/chip/casting/app/SelectClusterFragment.java
  examples/tv-casting-app/android/App/app/src/main/jni/com/chip/casting/TvCastingApp.java
  examples/tv-casting-app/android/App/app/src/main/jni/cpp/Constants.h
  examples/tv-casting-app/android/App/app/src/main/jni/cpp/TvCastingApp-JNI.cpp
  examples/tv-casting-app/android/App/app/src/main/res/layout/cert_test_status_item.xml
  examples/tv-casting-app/android/App/app/src/main/res/layout/fragment_cert_test_launcher.xml
  examples/tv-casting-app/android/App/app/src/main/res/layout/fragment_select_cluster.xml
  examples/tv-casting-app/android/App/app/src/main/res/values/strings.xml
  examples/tv-casting-app/tv-casting-common/BUILD.gn
  examples/tv-casting-app/tv-casting-common/include/CastingServer.h
  examples/tv-casting-app/tv-casting-common/include/OnOff.h
  examples/tv-casting-app/tv-casting-common/src/CastingServer.cpp
  examples/tv-casting-app/tv-casting-common/src/OnOff.cpp
Labels: examples, review - approved

#24322 [Ameba] update KVS API and use docker image 0.6.30
  .devcontainer/devcontainer.json
  .github/workflows/bloat_check.yaml
  .github/workflows/build.yaml
  .github/workflows/chef.yaml
  .github/workflows/cirque.yaml
  .github/workflows/doxygen.yaml
  .github/workflows/examples-ameba.yaml
  .github/workflows/examples-bouffalolab.yaml
  .github/workflows/examples-cc13x2x7_26x2x7.yaml
  .github/workflows/examples-efr32.yaml
  .github/workflows/examples-esp32.yaml
  .github/workflows/examples-infineon.yaml
  .github/workflows/examples-k32w.yaml
  .github/workflows/examples-linux-arm.yaml
  .github/workflows/examples-linux-imx.yaml
  .github/workflows/examples-linux-standalone.yaml
  .github/workflows/examples-mbed.yaml
  .github/workflows/examples-mw320.yaml
  .github/workflows/examples-nrfconnect.yaml
  .github/workflows/examples-openiotsdk.yaml
  .github/workflows/examples-qpg.yaml
  .github/workflows/examples-telink.yaml
  .github/workflows/examples-tizen.yaml
  .github/workflows/full-android.yaml
  .github/workflows/fuzzing-build.yaml
  .github/workflows/qemu.yaml
  .github/workflows/release_artifacts.yaml
  .github/workflows/smoketest-android.yaml
  .github/workflows/tests.yaml
  .github/workflows/unit_integration_test.yaml
  integrations/cloudbuild/build-all.yaml
  integrations/cloudbuild/build-coverage.yaml
  integrations/cloudbuild/chef.yaml
  integrations/cloudbuild/smoke-test.yaml
  src/platform/Ameba/AmebaConfig.cpp
  src/platform/Ameba/AmebaConfig.h
  src/platform/Ameba/ConfigurationManagerImpl.cpp
Labels: integrations, platform, vscode, github, workflows, review - pending, fast track

#24316 Fix reference to out-of-scope temporary in SetUpCodePairer.
  src/controller/SetUpCodePairer.cpp
Labels: controller, review - approved

#24315 Allow building with host toolchain when building arm64e on an arm64 host
  build/config/BUILDCONFIG.gn
Labels: gn, review - approved

#24314 Propagate the target_arch for darwin-framework-tool to the framework build
  examples/darwin-framework-tool/BUILD.gn
  scripts/build/build_darwin_framework.py
Labels: examples, scripts, darwin, review - pending, fast track

#24313 Fix syntax of test in chip_xcode_build_connector.sh.
  src/darwin/Framework/chip_xcode_build_connector.sh
Labels: darwin, review - pending, fast track

#24331 Couple of quick fixes to yamltests parser
  scripts/py_matter_yamltests/matter_yamltests/fixes.py
  scripts/py_matter_yamltests/matter_yamltests/parser.py
Labels: scripts, review - approved

#24334 Update ZAP to tip.
  integrations/docker/images/chip-build/Dockerfile
  integrations/docker/images/chip-build/version
Labels: review - approved

#24298 [chip-tool] Add delay wait-for-commissionee command
  examples/chip-tool/BUILD.gn
  examples/chip-tool/commands/delay/Commands.h
  examples/chip-tool/commands/delay/WaitForCommissioneeCommand.cpp
  examples/chip-tool/commands/delay/WaitForCommissioneeCommand.h
Labels: tools, examples, review - approved

#24340 [nrfconnect] Fix build on master
  .github/workflows/examples-nrfconnect.yaml
  src/test_driver/nrfconnect/prj.conf
Labels: hotfix, review - pending

#24341 Doc dependencies
  docs/requirements.txt
  examples/contact-sensor-app/telink/README.md
  examples/thermostat/silabs/efr32/README.md
Labels: documentation, examples, review - approved

#24242 Initial work to get attribute subscription for chip-repl yamltest runner
  src/controller/python/chip/yaml/runner.py
Labels: controller, review - pending, fast track

#24336 Re-order members of EmberAfAttributeMetadata to improve packing.
  .github/workflows/zap_regeneration.yaml
  .github/workflows/zap_templates.yaml
  integrations/docker/images/chip-cert-bins/Dockerfile
  scripts/tools/zap_convert_all.py
  src/app/util/attribute-metadata.h
  src/app/util/attribute-storage.h
  zzz_generated/all-clusters-app/zap-generated/endpoint_config.h
  zzz_generated/all-clusters-minimal-app/zap-generated/endpoint_config.h
  zzz_generated/bridge-app/zap-generated/endpoint_config.h
  zzz_generated/chef-noip_rootnode_dimmablelight_bCwGYSDpoe/zap-generated/endpoint_config.h
  zzz_generated/chef-rootnode_colortemperaturelight_hbUnzYVeyn/zap-generated/endpoint_config.h
  zzz_generated/chef-rootnode_contactsensor_lFAGG1bfRO/zap-generated/endpoint_config.h
  zzz_generated/chef-rootnode_dimmablelight_bCwGYSDpoe/zap-generated/endpoint_config.h
  zzz_generated/chef-rootnode_doorlock_aNKYAreMXE/zap-generated/endpoint_config.h
  zzz_generated/chef-rootnode_extendedcolorlight_8lcaaYJVAa/zap-generated/endpoint_config.h
  zzz_generated/chef-rootnode_fan_7N2TobIlOX/zap-generated/endpoint_config.h
  zzz_generated/chef-rootnode_flowsensor_1zVxHedlaV/zap-generated/endpoint_config.h
  zzz_generated/chef-rootnode_heatingcoolingunit_ncdGai1E5a/zap-generated/endpoint_config.h
  zzz_generated/chef-rootnode_humiditysensor_Xyj4gda6Hb/zap-generated/endpoint_config.h
  zzz_generated/chef-rootnode_lightsensor_lZQycTFcJK/zap-generated/endpoint_config.h
  zzz_generated/chef-rootnode_occupancysensor_iHyVgifZuo/zap-generated/endpoint_config.h
  zzz_generated/chef-rootnode_onofflight_bbs1b7IaOV/zap-generated/endpoint_config.h
  zzz_generated/chef-rootnode_onofflightswitch_FsPlMr090Q/zap-generated/endpoint_config.h
  zzz_generated/chef-rootnode_onoffpluginunit_Wtf8ss5EBY/zap-generated/endpoint_config.h
  zzz_generated/chef-rootnode_pressuresensor_s0qC9wLH4k/zap-generated/endpoint_config.h
  zzz_generated/chef-rootnode_speaker_RpzeXdimqA/zap-generated/endpoint_config.h
  zzz_generated/chef-rootnode_temperaturesensor_Qy1zkNW7c3/zap-generated/endpoint_config.h
  zzz_generated/chef-rootnode_thermostat_bm3fb8dhYi/zap-generated/endpoint_config.h
  zzz_generated/chef-rootnode_windowcovering_RLCxaGi9Yx/zap-generated/endpoint_config.h
  zzz_generated/contact-sensor-app/zap-generated/endpoint_config.h
  zzz_generated/dynamic-bridge-app/zap-generated/endpoint_config.h
  zzz_generated/light-switch-app/zap-generated/endpoint_config.h
  zzz_generated/lighting-app/nxp/zap-generated/endpoint_config.h
  zzz_generated/lighting-app/zap-generated/endpoint_config.h
  zzz_generated/lock-app/zap-generated/endpoint_config.h
  zzz_generated/log-source-app/zap-generated/endpoint_config.h
  zzz_generated/ota-provider-app/zap-generated/endpoint_config.h
  zzz_generated/ota-requestor-app/zap-generated/endpoint_config.h
  zzz_generated/placeholder/app1/zap-generated/endpoint_config.h
  zzz_generated/placeholder/app2/zap-generated/endpoint_config.h
  zzz_generated/pump-app/zap-generated/endpoint_config.h
  zzz_generated/pump-controller-app/zap-generated/endpoint_config.h
  zzz_generated/temperature-measurement-app/zap-generated/endpoint_config.h
  zzz_generated/thermostat/zap-generated/endpoint_config.h
  zzz_generated/tv-app/zap-generated/endpoint_config.h
  zzz_generated/tv-casting-app/zap-generated/endpoint_config.h
  zzz_generated/window-app/zap-generated/endpoint_config.h
Labels: scripts, integrations, app, github, workflows, review - approved

#24351 [CI] Fix bouffalob lab checkout
  .gitmodules
Labels: review - pending, fast track

#24364 [Telink] Fix device re-pairing (partly Cherry-pick #24200)
  examples/all-clusters-app/telink/src/AppTask.cpp
  examples/all-clusters-minimal-app/telink/src/AppTask.cpp
  examples/contact-sensor-app/telink/src/AppTask.cpp
  examples/light-switch-app/telink/src/AppTask.cpp
  examples/lighting-app/telink/src/AppTask.cpp
  examples/ota-requestor-app/telink/src/AppTask.cpp
  examples/thermostat/telink/src/AppTask.cpp
Labels: examples, This is a 1.0 cherrypick

#24095 qpg: align examples with QMatter SDK
  examples/lighting-app/lighting-common/src/ColorFormat.cpp
  examples/lighting-app/qpg/BUILD.gn
  examples/lighting-app/qpg/src/AppTask.cpp
  examples/lighting-app/qpg/src/LightingManager.cpp
  examples/lighting-app/qpg/src/ZclCallbacks.cpp
  examples/lock-app/qpg/BUILD.gn
  examples/lock-app/qpg/src/AppTask.cpp
  examples/lock-app/qpg/src/BoltLockManager.cpp
  examples/platform/qpg/app/main.cpp
  examples/platform/qpg/powercycle_counting.c
  examples/platform/qpg/powercycle_counting.h
  third_party/qpg_sdk/BUILD.gn
Labels: examples, platform, qpg, review - approved

#24370 Fix dynamic bridge metadata init order after #24336
  examples/dynamic-bridge-app/linux/include/data-model/Attribute.h
Labels: examples, hotfix

#24366 doc: orphan examples/nxp/doc/manufacturing_flow.md
  docs/conf.py
  examples/persistent-storage/qpg/APPLICATION.md
  examples/platform/nxp/doc/manufacturing_flow.md
Labels: documentation, examples, platform, review - pending, fast track

#24350 fix bug where SEGGER_RTT_MAX_NUM_DOWN_BUFFERS doesn't get set
  third_party/jlink/segger_rtt/RTT/BUILD.gn
Labels: review - pending, fast track

#24371 Allow using MTROperationalCertificateIssuer but letting the Matter framework perform device attestation checks.
  src/darwin/Framework/CHIP/MTRDeviceController.mm
  src/darwin/Framework/CHIP/MTRDeviceControllerStartupParams.h
  src/darwin/Framework/CHIP/MTROperationalCertificateIssuer.h
Labels: darwin, review - pending, fast track

#23173 [Android] Commissioner attestation delegate should be able to override success and failure
  examples/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/provisioning/DeviceProvisioningFragment.kt
  src/controller/java/AndroidDeviceControllerWrapper.cpp
  src/controller/java/AndroidDeviceControllerWrapper.h
  src/controller/java/BUILD.gn
  src/controller/java/CHIPDeviceController-JNI.cpp
  src/controller/java/DeviceAttestationDelegateBridge.cpp
  src/controller/java/DeviceAttestationDelegateBridge.h
  src/controller/java/src/chip/devicecontroller/AttestationInfo.java
  src/controller/java/src/chip/devicecontroller/ChipDeviceController.java
  src/controller/java/src/chip/devicecontroller/DeviceAttestationDelegate.java
  src/platform/android/BUILD.gn
  src/setup_payload/java/BUILD.gn
Labels: examples, setup payload, platform, controller, review - pending, fast track

#24365 [ESP32] move route_hook to platform layer
  examples/all-clusters-app/esp32/main/CMakeLists.txt
  examples/all-clusters-minimal-app/esp32/main/CMakeLists.txt
  examples/bridge-app/esp32/main/CMakeLists.txt
  examples/light-switch-app/esp32/main/CMakeLists.txt
  examples/lighting-app/esp32/main/CMakeLists.txt
  examples/lock-app/esp32/main/CMakeLists.txt
  examples/ota-provider-app/esp32/main/CMakeLists.txt
  examples/ota-requestor-app/esp32/main/CMakeLists.txt
  examples/platform/esp32/common/CommonDeviceCallbacks.cpp
  examples/temperature-measurement-app/esp32/main/CMakeLists.txt
  src/platform/ESP32/BUILD.gn
  src/platform/ESP32/ConnectivityManagerImpl_WiFi.cpp
  src/platform/ESP32/route_hook/ESP32RouteHook.c
  src/platform/ESP32/route_hook/ESP32RouteHook.h
  src/platform/ESP32/route_hook/ESP32RouteTable.c
  src/platform/ESP32/route_hook/ESP32RouteTable.h
Labels: examples, platform, esp32, review - approved

#24373 Stop holding a reference into a temporary.
  src/controller/AutoCommissioner.cpp
Labels: controller, This is a 1.0 cherrypick

#23536 Fix issue of content app losing connection to the platform-app.
  examples/tv-app/android/App/content-app/src/main/java/com/example/contentapp/AttributeHolder.java
  examples/tv-app/android/App/content-app/src/main/java/com/example/contentapp/MainActivity.java
  examples/tv-app/android/App/content-app/src/main/java/com/example/contentapp/matter/MatterAgentClient.java
  examples/tv-app/android/App/content-app/src/main/java/com/example/contentapp/receiver/MatterCommandReceiver.java
Labels: examples, review - approved

#24383 [scripts] Reduce number of submodules checked out on boostrap
  scripts/bootstrap.sh
  scripts/checkout_submodules.py
Labels: scripts, review - approved

#24384 [nrfconnect] Fix CMake error when two Python versions are installed
  config/nrfconnect/app/check-nrfconnect-version.cmake
Labels: review - pending, fast track

#24385 Fix cast for error: CHIP_ERROR is not an integer without explicit cast
  src/controller/java/AndroidCallbacks.cpp
Labels: controller, review - approved

#24209 Fix wrong error code returned in BindingManager::NotifyBoundClusterCh…
  src/app/clusters/bindings/BindingManager.cpp
  src/lib/core/CHIPError.cpp
  src/lib/core/CHIPError.h
  src/lib/core/tests/TestCHIPErrorStr.cpp
Labels: lib, app, review - approved, core

#24332 Add ability to process WaitForCommissionee YAML test command with chip-repl runner
  src/controller/python/chip/yaml/runner.py
Labels: controller, review - approved

#24311 Improve java matter controller example result check
  examples/java-matter-controller/BUILD.gn
  examples/java-matter-controller/java/src/com/matter/controller/commands/common/FutureResult.java
  examples/java-matter-controller/java/src/com/matter/controller/commands/common/MatterCommand.java
  examples/java-matter-controller/java/src/com/matter/controller/commands/common/RealResult.java
  examples/java-matter-controller/java/src/com/matter/controller/commands/pairing/PairOnNetworkLongCommand.java
  examples/java-matter-controller/java/src/com/matter/controller/commands/pairing/PairingCommand.java
Labels: examples, review - pending, fast track

#24349 Enable Multi-Fabric test commands with chip-repl runner
  src/controller/python/chip/yaml/format_converter.py
  src/controller/python/chip/yaml/runner.py
Labels: controller, review - approved

#24228 SetupPayload: Python implementation to generate manual and QRCode
  .github/workflows/build.yaml
  src/setup_payload/python/Base38.py
  src/setup_payload/python/README.md
  src/setup_payload/python/generate_setup_payload.py
  src/setup_payload/python/requirements.txt
  src/setup_payload/tests/run_python_setup_payload_gen_test.py
Labels: setup payload, github, workflows, review - approved

#24183 [Ameba] Remove __dso_hack
  examples/all-clusters-app/ameba/chip_main.cmake
  examples/all-clusters-app/ameba/main/DsoHack.cpp
  examples/chef/ameba/chip_main.cmake
  examples/chef/ameba/main/DsoHack.cpp
  examples/light-switch-app/ameba/chip_main.cmake
  examples/light-switch-app/ameba/main/DsoHack.cpp
  examples/lighting-app/ameba/chip_main.cmake
  examples/lighting-app/ameba/main/DsoHack.cpp
  examples/ota-requestor-app/ameba/main/chipinterface.cpp
Labels: examples, review - approved

#24405 [tlv] Rename CHIPCircularTLVBuffer to TLVCircularBuffer.
  src/app/EventManagement.cpp
  src/app/EventManagement.h
  src/lib/core/BUILD.gn
  src/lib/core/TLVCircularBuffer.cpp
  src/lib/core/TLVCircularBuffer.h
  src/lib/core/tests/TestTLV.cpp
Labels: review - approved

#24389 Print response when pushing chef docker images
  examples/chef/create_docker.py
Labels: examples, review - pending, fast track

#24394 [ICD] Initial Impl Active Threshold
  src/include/platform/CHIPDeviceConfig.h
  src/include/platform/ConnectivityManager.h
  src/include/platform/ThreadStackManager.h
  src/include/platform/internal/GenericConnectivityManagerImpl_NoThread.h
  src/include/platform/internal/GenericConnectivityManagerImpl_Thread.h
  src/messaging/ExchangeContext.cpp
  src/platform/Linux/ThreadStackManagerImpl.cpp
  src/platform/Linux/ThreadStackManagerImpl.h
  src/platform/OpenThread/GenericThreadStackManagerImpl_OpenThread.cpp
  src/platform/OpenThread/GenericThreadStackManagerImpl_OpenThread.h
Labels: platform, linux, review - approved, icd

#24391 Align naming in Relative Humidity Measurement cluster XML with the spec.
  examples/all-clusters-app/all-clusters-common/all-clusters-app.zap
  examples/all-clusters-minimal-app/all-clusters-common/all-clusters-minimal-app.zap
  examples/chef/devices/rootnode_humiditysensor_Xyj4gda6Hb.zap
  examples/placeholder/linux/apps/app1/config.zap
  examples/placeholder/linux/apps/app2/config.zap
  examples/thermostat/thermostat-common/thermostat.zap
  examples/tv-app/tv-common/tv-app.zap
  examples/tv-casting-app/tv-casting-common/tv-casting-app.zap
  src/app/tests/suites/certification/Test_TC_RH_2_1.yaml
  src/app/tests/suites/certification/Test_TC_RH_2_2.yaml
  src/app/tests/suites/certification/Test_TC_RH_3_1_Simulated.yaml
  src/app/zap-templates/zcl/data-model/chip/relative-humidity-measurement-cluster.xml
  src/controller/data_model/controller-clusters.zap
  zzz_generated/all-clusters-app/zap-generated/endpoint_config.h
  zzz_generated/all-clusters-minimal-app/zap-generated/endpoint_config.h
  zzz_generated/chef-rootnode_humiditysensor_Xyj4gda6Hb/zap-generated/endpoint_config.h
  zzz_generated/chip-tool/zap-generated/cluster/logging/DataModelLogger.cpp
  zzz_generated/placeholder/app1/zap-generated/endpoint_config.h
  zzz_generated/placeholder/app2/zap-generated/endpoint_config.h
  zzz_generated/tv-app/zap-generated/endpoint_config.h
Labels: examples, controller, app, review - approved, tests

#24390 Align naming in Pressure Measurement cluster XML with the spec.
  examples/all-clusters-app/all-clusters-common/all-clusters-app.matter
  examples/all-clusters-minimal-app/all-clusters-common/all-clusters-minimal-app.matter
  examples/chef/devices/rootnode_pressuresensor_s0qC9wLH4k.matter
  examples/placeholder/linux/apps/app1/config.matter
  examples/placeholder/linux/apps/app2/config.matter
  examples/pump-app/pump-common/pump-app.matter
  examples/pump-controller-app/pump-controller-common/pump-controller-app.matter
  src/app/zap-templates/zcl/data-model/chip/pressure-measurement-cluster.xml
  src/controller/data_model/controller-clusters.matter
  src/darwin/Framework/CHIP/templates/availability.yaml
  src/darwin/Framework/CHIP/zap-generated/MTRBaseClusters.h
  zzz_generated/app-common/app-common/zap-generated/cluster-enums.h
  zzz_generated/app-common/app-common/zap-generated/enums.h
Labels: examples, darwin, controller, app, review - approved

#24396 Fix java test CI
  .github/workflows/tests.yaml
  examples/java-matter-controller/java/src/com/matter/controller/Main.java
  examples/java-matter-controller/java/src/com/matter/controller/commands/common/CommandManager.java
  examples/java-matter-controller/java/src/com/matter/controller/commands/common/FutureResult.java
Labels: examples, github, workflows, review - pending, fast track

#24207 [Silabs] Examples bringup for SiWx917 platform
  examples/light-switch-app/silabs/SiWx917/.gn
  examples/light-switch-app/silabs/SiWx917/BUILD.gn
  examples/light-switch-app/silabs/SiWx917/README.md
  examples/light-switch-app/silabs/SiWx917/args.gni
  examples/light-switch-app/silabs/SiWx917/build_for_wifi_args.gni
  examples/light-switch-app/silabs/SiWx917/build_for_wifi_gnfile.gn
  examples/light-switch-app/silabs/SiWx917/build_overrides
  examples/light-switch-app/silabs/SiWx917/include/AppConfig.h
  examples/light-switch-app/silabs/SiWx917/include/AppEvent.h
  examples/light-switch-app/silabs/SiWx917/include/AppTask.h
  examples/light-switch-app/silabs/SiWx917/include/CHIPProjectConfig.h
  examples/light-switch-app/silabs/SiWx917/include/binding-handler.h
  examples/light-switch-app/silabs/SiWx917/src/AppTask.cpp
  examples/light-switch-app/silabs/SiWx917/src/ZclCallbacks.cpp
  examples/light-switch-app/silabs/SiWx917/src/binding-handler.cpp
  examples/light-switch-app/silabs/SiWx917/src/main.cpp
  examples/light-switch-app/silabs/SiWx917/third_party/connectedhomeip
  examples/lock-app/silabs/SiWx917/.gn
  examples/lock-app/silabs/SiWx917/BUILD.gn
  examples/lock-app/silabs/SiWx917/README.md
  examples/lock-app/silabs/SiWx917/args.gni
  examples/lock-app/silabs/SiWx917/build_for_wifi_args.gni
  examples/lock-app/silabs/SiWx917/build_for_wifi_gnfile.gn
  examples/lock-app/silabs/SiWx917/build_overrides
  examples/lock-app/silabs/SiWx917/include/AppConfig.h
  examples/lock-app/silabs/SiWx917/include/AppEvent.h
  examples/lock-app/silabs/SiWx917/include/AppTask.h
  examples/lock-app/silabs/SiWx917/include/CHIPProjectConfig.h
  examples/lock-app/silabs/SiWx917/include/EventHandlerLibShell.h
  examples/lock-app/silabs/SiWx917/include/LockManager.h
  examples/lock-app/silabs/SiWx917/src/AppTask.cpp
  examples/lock-app/silabs/SiWx917/src/EventHandlerLibShell.cpp
  examples/lock-app/silabs/SiWx917/src/LockManager.cpp
  examples/lock-app/silabs/SiWx917/src/ZclCallbacks.cpp
  examples/lock-app/silabs/SiWx917/src/main.cpp
  examples/lock-app/silabs/SiWx917/third_party/connectedhomeip
  examples/lock-app/silabs/SiWx917/with_pw_rpc.gni
  examples/platform/silabs/SiWx917/matter_config.cpp
  examples/window-app/silabs/SiWx917/.gn
  examples/window-app/silabs/SiWx917/BUILD.gn
  examples/window-app/silabs/SiWx917/README.md
  examples/window-app/silabs/SiWx917/args.gni
  examples/window-app/silabs/SiWx917/build_for_wifi_args.gni
  examples/window-app/silabs/SiWx917/build_for_wifi_gnfile.gn
  examples/window-app/silabs/SiWx917/build_overrides
  examples/window-app/silabs/SiWx917/include/AppConfig.h
  examples/window-app/silabs/SiWx917/include/CHIPProjectConfig.h
  examples/window-app/silabs/SiWx917/include/LcdPainter.h
  examples/window-app/silabs/SiWx917/include/WindowAppImpl.h
  examples/window-app/silabs/SiWx917/src/LcdPainter.cpp
  examples/window-app/silabs/SiWx917/src/WindowAppImpl.cpp
  examples/window-app/silabs/SiWx917/src/main.cpp
  examples/window-app/silabs/SiWx917/third_party/connectedhomeip
Labels: examples, platform, review - approved

#24355 First JNI test & changes necessary to make it work
  examples/all-clusters-app/esp32/main/include/ShellCommands.h
  examples/all-clusters-minimal-app/esp32/main/include/ShellCommands.h
  examples/chip-tool/commands/clusters/ModelCommand.cpp
  examples/chip-tool/commands/clusters/ModelCommand.h
  examples/chip-tool/commands/delay/WaitForCommissioneeCommand.cpp
  examples/chip-tool/commands/delay/WaitForCommissioneeCommand.h
  examples/chip-tool/commands/pairing/CloseSessionCommand.cpp
  examples/chip-tool/commands/pairing/CloseSessionCommand.h
  examples/chip-tool/commands/tests/TestCommand.cpp
  examples/chip-tool/commands/tests/TestCommand.h
  examples/platform/linux/CommissionerMain.cpp
  examples/tv-app/linux/AppImpl.cpp
  examples/tv-casting-app/tv-casting-common/commands/clusters/ModelCommand.cpp
  examples/tv-casting-app/tv-casting-common/include/TargetVideoPlayerInfo.h
  src/app/OperationalSessionSetup.h
  src/app/ReadClient.cpp
  src/app/ReadClient.h
  src/app/clusters/bindings/BindingManager.cpp
  src/app/clusters/bindings/BindingManager.h
  src/app/clusters/ota-requestor/DefaultOTARequestor.cpp
  src/app/clusters/ota-requestor/DefaultOTARequestor.h
  src/controller/CHIPDeviceController.cpp
  src/controller/CHIPDeviceController.h
  src/controller/CommissionerDiscoveryController.cpp
  src/controller/CommissionerDiscoveryController.h
  src/controller/CommissioningWindowOpener.cpp
  src/controller/CommissioningWindowOpener.h
  src/controller/CurrentFabricRemover.cpp
  src/controller/CurrentFabricRemover.h
  src/controller/java/AndroidCallbacks-ForTestJNI.cpp
  src/controller/java/AndroidCallbacks.cpp
  src/controller/java/AndroidCallbacks.h
  src/controller/java/BUILD.gn
  src/controller/java/src/chip/devicecontroller/GetConnectedDeviceCallbackForTestJni.java
  src/controller/java/src/chip/devicecontroller/GetConnectedDeviceCallbackJni.java
  src/controller/java/tests/README.md
  src/controller/java/tests/chip/devicecontroller/GetConnectedDeviceCallbackJniTest.java
  src/controller/python/ChipDeviceController-ScriptBinding.cpp
  src/darwin/Framework/CHIP/MTRDeviceConnectionBridge.h
  src/darwin/Framework/CHIP/MTRDeviceConnectionBridge.mm
  src/messaging/tests/java/BUILD.gn
  src/messaging/tests/java/MessagingContext-JNI.cpp
  src/messaging/tests/java/src/chip/testing/MessagingContext.java
  src/transport/raw/tests/NetworkTestHelpers.cpp
Labels: tools, examples, transport, platform, darwin, controller, app, review - approved

#24407 [Zephyr] Return false in unimplemented BLE central methods
  examples/all-clusters-app/nrfconnect/main/AppTask.cpp
  examples/lock-app/nrfconnect/main/AppTask.cpp
  src/platform/Zephyr/BLEManagerImpl.cpp
  src/platform/Zephyr/BLEManagerImpl.h
Labels: examples, platform, zephyr, review - approved

#24410 (SILABS)Re-org/rename lwip/efr32 folder to lwip/silabs
  src/lwip/BUILD.gn
  src/lwip/silabs/arch/cc.h
  src/lwip/silabs/arch/perf.h
  src/lwip/silabs/lwipopts-rs911x.h
  src/lwip/silabs/lwipopts-thread.h
  src/lwip/silabs/lwipopts-wf200.h
  src/lwip/silabs/lwipopts.h
  src/lwip/silabs/lwippools.h
  src/platform/silabs/EFR32/args.gni
  src/platform/silabs/EFR32/wifi_args.gni
  src/platform/silabs/SiWx917/args.gni
  src/platform/silabs/SiWx917/wifi_args.gni
Labels: platform, review - approved, lwip

#24421 [tlv] TLVReader::Get CharSpan to Stop on ASCII Unit Separator
  src/lib/core/TLVReader.cpp
  src/lib/core/tests/TestTLV.cpp
Labels: lib, review - approved, core

#24357 [crypto] Replace AesCcm128Key with sensitive data buffer
  examples/platform/linux/testing/CustomCSRResponseOperationalKeyStore.cpp
  src/controller/AutoCommissioner.cpp
  src/controller/AutoCommissioner.h
  src/controller/CHIPDeviceController.cpp
  src/controller/CHIPDeviceController.h
  src/controller/CommissioningDelegate.h
  src/controller/ExampleOperationalCredentialsIssuer.cpp
  src/controller/OperationalCredentialsDelegate.h
  src/controller/java/AndroidOperationalCredentialsIssuer.cpp
  src/controller/java/AndroidOperationalCredentialsIssuer.h
  src/controller/java/CHIPDeviceController-JNI.cpp
  src/controller/python/ChipDeviceController-IssueNocChain.cpp
  src/credentials/CHIPCert.cpp
  src/credentials/CertificationDeclaration.cpp
  src/credentials/tests/TestCertificationDeclaration.cpp
  src/credentials/tests/TestFabricTable.cpp
  src/crypto/CHIPCryptoPAL.h
  src/crypto/CHIPCryptoPALOpenSSL.cpp
  src/crypto/CHIPCryptoPALTinyCrypt.cpp
  src/crypto/CHIPCryptoPALmbedTLS.cpp
  src/crypto/PersistentStorageOperationalKeystore.cpp
  src/crypto/hsm/nxp/CHIPCryptoPALHsm_SE05X_P256.cpp
  src/crypto/tests/CHIPCryptoPALTest.cpp
  src/darwin/Framework/CHIP/MTROperationalCredentialsDelegate.h
  src/darwin/Framework/CHIP/MTROperationalCredentialsDelegate.mm
  src/platform/android/CHIPP256KeypairBridge.cpp
  src/platform/silabs/EFR32/CHIPCryptoPALPsaEfr32.cpp
  src/platform/silabs/EFR32/Efr32PsaOpaqueKeypair.cpp
  src/protocols/secure_channel/CASESession.cpp
  src/protocols/secure_channel/tests/TestCASESession.cpp
  src/protocols/secure_channel/tests/TestDefaultSessionResumptionStorage.cpp
  src/tools/chip-cert/Cmd_GenCD.cpp
  src/transport/CryptoContext.cpp
Labels: tools, examples, transport, platform, darwin, crypto, controller, review - approved

#24408 [time] Exclude LogTime function in release builds
  src/credentials/LastKnownGoodTime.cpp
Labels: review - approved

#24234 [Ameba] Update BLEManagerImpl for function extension
  src/platform/Ameba/BLEManagerImpl.cpp
  src/platform/Ameba/BLEManagerImpl.h
  src/platform/Ameba/CHIPDevicePlatformConfig.h
Labels: platform, review - pending, fast track

#24448 Update android const correctness/overrides after #24355
  examples/tv-app/android/java/TVApp-JNI.cpp
Labels: examples, hotfix

#24424 Fix java discovery test failure
  .github/workflows/tests.yaml
  examples/java-matter-controller/java/src/com/matter/controller/commands/discover/DiscoverCommissionablesCommand.java
Labels: examples, github, workflows, review - pending, fast track

#24403 [CI] Add gcc coverage build check for Linux
  .github/workflows/build.yaml
Labels: github, workflows, review - approved

#24295 Have CI use yamltests python parser to run using chip-repl
  .github/workflows/tests.yaml
  scripts/tests/chiptest/__init__.py
  scripts/tests/chiptest/linux.py
  scripts/tests/chiptest/test_definition.py
  scripts/tests/chiptest/yamltest_with_chip_repl_tester.py
  scripts/tests/run_test_suite.py
Labels: scripts, github, workflows, review - approved

#24379 [ESP32] Add menuconfig options for reboot on OTA image apply
  config/esp32/components/chip/Kconfig
  src/platform/ESP32/OTAImageProcessorImpl.cpp
Labels: platform, esp32, config, review - approved

#24426 Add availability annotations to new MTRDeviceAttestationDeviceInfo APIs.
  src/darwin/Framework/CHIP/MTRDeviceAttestationDelegate.h
Labels: darwin, review - pending, fast track

#24444 [icd] Removed ICD related methods (former SED) from NoThreadImpl
  examples/light-switch-app/nrfconnect/Kconfig
  examples/lock-app/nrfconnect/Kconfig
  src/include/platform/internal/GenericConnectivityManagerImpl_NoThread.h
  src/platform/nrfconnect/CHIPDevicePlatformConfig.h
  src/platform/nrfconnect/wifi/ConnectivityManagerImplWiFi.cpp
  src/platform/nrfconnect/wifi/ConnectivityManagerImplWiFi.h
  src/platform/nrfconnect/wifi/WiFiManager.h
Labels: examples, platform, nrf connect, review - approved

#24468 Add docbuild workflow for PRs
  .github/workflows/docbuild.yaml
  docs/Makefile
  examples/light-switch-app/silabs/SiWx917/README.md
  examples/lock-app/silabs/SiWx917/README.md
  examples/window-app/silabs/SiWx917/README.md
Labels: documentation, examples, github, workflows, review - approved

#24476 Fix some typos in src/app/tests/suites/TestLevelControlWithOnOffDepen…
  src/app/tests/suites/TestLevelControlWithOnOffDependency.yaml
Labels: app, review - pending, fast track, tests

#24451 Remove obsolete remote builder for code coverage
  docs/guides/BUILDING.md
  integrations/docker/images/build-all.sh
  integrations/docker/images/chip-build-remote-builder/Dockerfile
  integrations/docker/images/chip-build-remote-builder/README.md
  integrations/docker/images/chip-build-remote-builder/build.sh
  integrations/docker/images/chip-build-remote-builder/cloudbuild.yaml
  integrations/docker/images/chip-build-remote-builder/run.sh
Labels: documentation, integrations, review - approved

#24480 lock the setuptools version
  integrations/docker/images/chip-build-cirque/Dockerfile
  scripts/tests/cirque_tests.sh
Labels: hotfix, scripts, integrations, review - pending

#24470 Make libwebsockets less chatty by default
  third_party/libwebsockets/lws_config.h
Labels: review - approved

#24458 VSCode - Fix container extension name
  docs/VSCODE_DEVELOPMENT.md
Labels: documentation, review - approved

#24452 [Silabs] EFR32 documentation update due to folder reorg
  examples/light-switch-app/silabs/efr32/README.md
  examples/lighting-app/silabs/efr32/README.md
  examples/lock-app/silabs/efr32/README.md
  examples/thermostat/silabs/efr32/README.md
  examples/window-app/silabs/efr32/README.md
Labels: examples, review - approved

#24457 Remove duplicate description of security
  README.md
Labels: documentation, review - approved

#24427 Account for manufacturerCode in access.zapt.
  scripts/tools/zap/tests/outputs/all-clusters-app/app-templates/access.h
  scripts/tools/zap/tests/outputs/lighting-app/app-templates/access.h
  src/app/zap-templates/templates/app/access.zapt
Labels: scripts, app, review - approved

#24491 Add shared-reviewers-signify
  .pullapprove.yml
Labels: review - pending, fast track

#24246 [Infineon PSoC6] Update Security type to unknown for Proper Commissioning
  src/platform/Infineon/PSOC6/CHIPDevicePlatformConfig.h
Labels: platform, review - approved

#24478 Fix chip-repl yamltests runner
  scripts/tests/chiptest/yamltest_with_chip_repl_tester.py
  src/controller/python/chip/yaml/runner.py
Labels: review - approved

#23840 Add commands support for dynamically generated clusters in dynamic-bridge-app
  examples/dynamic-bridge-app/linux/UserInputBackend.cpp
  examples/dynamic-bridge-app/linux/include/GeneratedClusters.h
  examples/dynamic-bridge-app/linux/include/data-model/Attribute.h
  examples/dynamic-bridge-app/linux/include/data-model/DataModel.h
  examples/dynamic-bridge-app/linux/include/main.h
  examples/dynamic-bridge-app/linux/main.cpp
  scripts/py_matter_idl/matter_idl/generators/bridge/BridgeClustersCpp.jinja
  scripts/py_matter_idl/matter_idl/tests/available_tests.yaml
  scripts/py_matter_idl/matter_idl/tests/inputs/cluster_with_commands.matter
  scripts/py_matter_idl/matter_idl/tests/outputs/cluster_struct_attribute/bridge/DemoClusterServer.h
  scripts/py_matter_idl/matter_idl/tests/outputs/cluster_with_commands/bridge/BridgeClustersImpl.h
  scripts/py_matter_idl/matter_idl/tests/outputs/cluster_with_commands/bridge/BridgeGlobalStructs.h
  scripts/py_matter_idl/matter_idl/tests/outputs/cluster_with_commands/bridge/OnOff.h
  scripts/py_matter_idl/matter_idl/tests/outputs/global_struct_attribute/bridge/DemoClusterServer.h
  scripts/py_matter_idl/matter_idl/tests/outputs/several_clusters/bridge/FirstServer.h
  scripts/py_matter_idl/matter_idl/tests/outputs/several_clusters/bridge/SecondServer.h
  scripts/py_matter_idl/matter_idl/tests/outputs/several_clusters/bridge/Third.h
  scripts/py_matter_idl/matter_idl/tests/outputs/several_clusters/bridge/ThirdServer.h
  scripts/py_matter_idl/matter_idl/tests/outputs/simple_attribute/bridge/MyClusterServer.h
Labels: examples, scripts, review - pending, fast track

#24496 Increase build time out for "Build Apps"
  .github/workflows/tests.yaml
Labels: review - pending

#24487 [zap] Fix version check
  scripts/tools/zap/zap_execution.py
Labels: scripts, review - approved

#24506 Update ZAP to tip.
  integrations/docker/images/chip-build/Dockerfile
  integrations/docker/images/chip-build/version
  scripts/tools/zap/version_update.py
Labels: scripts, integrations, review - approved

#24501 Silabs README cleanup
  examples/light-switch-app/silabs/efr32/README.md
  examples/lighting-app/silabs/efr32/README.md
  examples/lock-app/silabs/efr32/README.md
  examples/thermostat/silabs/efr32/README.md
Labels: examples, review - approved

#24497 Fix missing argument conversion in generate.py script
  scripts/tools/zap/generate.py
Labels: scripts, review - approved

#24503 Add availability annotations for PumpFeature.
  src/darwin/Framework/CHIP/templates/availability.yaml
Labels: darwin, review - pending, fast track

#24511 Remove non-namespaced command ids.
  examples/chef/common/stubs.cpp
  examples/chef/esp32/main/main.cpp
  examples/lighting-app/ameba/main/CHIPDeviceManager.cpp
  examples/thermostat/silabs/efr32/src/AppTask.cpp
  examples/tv-app/linux/include/level-control/LevelControl.cpp
  src/app/clusters/door-lock-server/door-lock-server-callback.cpp
  src/app/clusters/group-key-mgmt-server/group-key-mgmt-server.cpp
  src/app/clusters/groups-server/groups-server.cpp
  src/app/clusters/ias-zone-client/ias-zone-client.cpp
  src/app/clusters/ias-zone-server/ias-zone-server.cpp
  src/app/clusters/identify-server/identify-server.cpp
  src/app/clusters/scenes-client/scenes-client.cpp
  src/app/clusters/scenes/scenes.cpp
  src/app/clusters/thermostat-server/thermostat-server.cpp
  src/app/clusters/thermostat-user-interface-configuration-server/thermostat-user-interface-configuration-server.cpp
  src/app/clusters/window-covering-server/window-covering-server.cpp
  src/app/common/templates/templates.json
  src/app/util/util.cpp
  src/app/zap-templates/templates/app/cluster-id.zapt
  src/app/zap-templates/templates/app/command-id.zapt
  zzz_generated/app-common/app-common/zap-generated/command-id.h
Labels: examples, app, review - approved

#24461 add bitmap generation support in zap for python cluster objects
  src/controller/python/chip/clusters/Objects.py
  src/controller/python/templates/python-cluster-Objects-py.zapt
Labels: controller, review - approved

#24362 [ESP32] Make all parameters optional in partition generator script
  scripts/tools/generate_esp32_chip_factory_bin.py
Labels: scripts, review - approved

#24520 Add shared-reviewers-somfy
  .pullapprove.yml
Labels: review - pending, fast track

#23749 [Binding] Improve binding validation and disable connection on init
  examples/all-clusters-app/all-clusters-common/all-clusters-app.matter
  examples/all-clusters-app/all-clusters-common/all-clusters-app.zap
  src/app/clusters/bindings/BindingManager.cpp
  src/app/clusters/bindings/BindingManager.h
  src/app/clusters/bindings/bindings.cpp
  src/app/util/af.h
  src/app/util/attribute-storage.cpp
Labels: examples, app, review - approved

#24484 [zephyr] Improve Kconfig help texts
  config/nrfconnect/chip-module/Kconfig
  config/nrfconnect/chip-module/Kconfig.features
  config/zephyr/Kconfig
Labels: config, review - approved

#24169 [ESP32] Added support of door-lock for esp32
  examples/all-clusters-app/esp32/main/AppTask.cpp
  examples/all-clusters-app/esp32/main/CMakeLists.txt
  examples/all-clusters-app/esp32/main/include/AppTask.h
  examples/lock-app/esp32/main/AppTask.cpp
  examples/lock-app/esp32/main/BoltLockManager.cpp
  examples/lock-app/esp32/main/Button.cpp
  examples/lock-app/esp32/main/CMakeLists.txt
  examples/lock-app/esp32/main/DeviceCallbacks.cpp
  examples/lock-app/esp32/main/include/AppEvent.h
  examples/lock-app/esp32/main/include/AppTask.h
  examples/lock-app/esp32/main/include/BoltLockManager.h
  examples/lock-app/esp32/main/include/Button.h
  examples/platform/esp32/lock/AppConfig.h
  examples/platform/esp32/lock/AppEvent.h
  examples/platform/esp32/lock/BoltLockManager.cpp
  examples/platform/esp32/lock/BoltLockManager.h
  examples/platform/esp32/lock/ZclCallbacks.cpp
  src/platform/ESP32/ESP32Config.cpp
  src/platform/ESP32/ESP32Config.h
Labels: examples, platform, esp32, review - approved

#24352 Allowing chip-repl test to send invalid enum values
  src/app/zap-templates/templates/app/cluster-enums.zapt
  src/controller/python/BUILD.gn
  src/controller/python/chip/clusters/Objects.py
  src/controller/python/chip/clusters/enum.py
  src/controller/python/chip/yaml/format_converter.py
  src/controller/python/templates/python-cluster-Objects-py.zapt
  zzz_generated/app-common/app-common/zap-generated/cluster-enums.h
Labels: controller, app, review - pending, fast track

#24518 Start using ZAP 2023.01.18-nightly.
  .github/workflows/bloat_check.yaml
  .github/workflows/build.yaml
  .github/workflows/chef.yaml
  .github/workflows/cirque.yaml
  .github/workflows/darwin-tests.yaml
  .github/workflows/darwin.yaml
  .github/workflows/doxygen.yaml
  .github/workflows/examples-ameba.yaml
  .github/workflows/examples-bouffalolab.yaml
  .github/workflows/examples-cc13x2x7_26x2x7.yaml
  .github/workflows/examples-efr32.yaml
  .github/workflows/examples-esp32.yaml
  .github/workflows/examples-infineon.yaml
  .github/workflows/examples-k32w.yaml
  .github/workflows/examples-linux-arm.yaml
  .github/workflows/examples-linux-imx.yaml
  .github/workflows/examples-linux-standalone.yaml
  .github/workflows/examples-mbed.yaml
  .github/workflows/examples-mw320.yaml
  .github/workflows/examples-nrfconnect.yaml
  .github/workflows/examples-openiotsdk.yaml
  .github/workflows/examples-qpg.yaml
  .github/workflows/examples-telink.yaml
  .github/workflows/examples-tizen.yaml
  .github/workflows/full-android.yaml
  .github/workflows/fuzzing-build.yaml
  .github/workflows/lint.yml
  .github/workflows/qemu.yaml
  .github/workflows/release_artifacts.yaml
  .github/workflows/smoketest-android.yaml
  .github/workflows/tests.yaml
  .github/workflows/unit_integration_test.yaml
  .github/workflows/zap_regeneration.yaml
  .github/workflows/zap_templates.yaml
  integrations/docker/images/chip-cert-bins/Dockerfile
  scripts/tools/zap/zap_execution.py
Labels: scripts, integrations, github, workflows, review - pending, fast track

#24529 Make efr32 cloudbuild lock build with mtd openthread
  integrations/cloudbuild/smoke-test.yaml
Labels: hotfix

#24522 [Ameba] Update docker image
  integrations/docker/images/chip-build-ameba/Dockerfile
  integrations/docker/images/chip-build/version
Labels: integrations, review - pending, fast track

#24530 Bump cloudbuild docker version after #24518
  integrations/cloudbuild/build-all.yaml
  integrations/cloudbuild/chef.yaml
  integrations/cloudbuild/smoke-test.yaml
Labels: hotfix

#24531 Revert "[ESP32] Added support of door-lock for esp32"
  examples/all-clusters-app/esp32/main/AppTask.cpp
  examples/all-clusters-app/esp32/main/CMakeLists.txt
  examples/all-clusters-app/esp32/main/include/AppEvent.h
  examples/all-clusters-app/esp32/main/include/AppTask.h
  examples/lock-app/esp32/main/AppTask.cpp
  examples/lock-app/esp32/main/BoltLockManager.cpp
  examples/lock-app/esp32/main/Button.cpp
  examples/lock-app/esp32/main/CMakeLists.txt
  examples/lock-app/esp32/main/DeviceCallbacks.cpp
  examples/lock-app/esp32/main/include/AppConfig.h
  examples/lock-app/esp32/main/include/AppEvent.h
  examples/lock-app/esp32/main/include/AppTask.h
  examples/lock-app/esp32/main/include/BoltLockManager.h
  examples/lock-app/esp32/main/include/Button.h
  examples/platform/esp32/lock/BoltLockManager.cpp
  examples/platform/esp32/lock/BoltLockManager.h
  examples/platform/esp32/lock/ZclCallbacks.cpp
  src/platform/ESP32/ESP32Config.cpp
  src/platform/ESP32/ESP32Config.h
Labels: review - pending, fast track

#24422 Make AutoCommissioner::SetCommissioningParameters safer.
  src/controller/AutoCommissioner.cpp
  src/controller/CommissioningDelegate.h
Labels: controller, review - approved

#24541 Update ZAP to tip.
  integrations/docker/images/chip-build/Dockerfile
  integrations/docker/images/chip-build/version
Labels: review - approved

#24523 [ICD] Add Threshold timer as active consumer
  src/platform/OpenThread/GenericThreadStackManagerImpl_OpenThread.cpp
  src/platform/OpenThread/GenericThreadStackManagerImpl_OpenThread.h
Labels: platform, review - approved, icd

#24502 Fix issue with chip-repl yamltest running TestClusterComplexTypes.yaml
  scripts/tests/chiptest/__init__.py
  src/controller/python/chip/ChipDeviceCtrl.py
  src/controller/python/chip/clusters/Attribute.py
  src/controller/python/chip/clusters/Command.py
  src/controller/python/chip/clusters/attribute.cpp
  src/controller/python/chip/clusters/command.cpp
  src/controller/python/chip/yaml/runner.py
  src/controller/python/test/test_scripts/cluster_objects.py
Labels: scripts, controller, review - approved

#24346 [Silabs] Remove generic base class init from configuration manager
  examples/platform/silabs/efr32/EFR32DeviceDataProvider.cpp
  examples/platform/silabs/efr32/EFR32DeviceDataProvider.h
  src/platform/silabs/EFR32/ConfigurationManagerImpl.cpp
  src/platform/silabs/SilabsConfig.h
Labels: examples, platform, review - approved

#24539 Fix xcodebuild to actually work on Darwin even without ZAP installed.
  .github/workflows/darwin.yaml
  scripts/codegen.py
  scripts/codepregen.py
  scripts/pregenerate/__init__.py
  scripts/pregenerate/using_codegen.py
  scripts/pregenerate/using_zap.py
  scripts/tools/zap_regen_all.py
  src/darwin/Framework/Matter.xcodeproj/project.pbxproj
  src/darwin/Framework/chip_xcode_build_connector.sh
  zzz_generated/darwin/src/controller/data_model/controller-clusters/codegen/cpp-app/app/PluginApplicationCallbacks.h
  zzz_generated/darwin/src/controller/data_model/controller-clusters/codegen/cpp-app/app/callback-stub.cpp
  zzz_generated/darwin/src/controller/data_model/controller-clusters/zap/app-templates/zap-generated/CHIPClientCallbacks.h
  zzz_generated/darwin/src/controller/data_model/controller-clusters/zap/app-templates/zap-generated/CHIPClusters.h
  zzz_generated/darwin/src/controller/data_model/controller-clusters/zap/app-templates/zap-generated/IMClusterCommandHandler.cpp
  zzz_generated/darwin/src/controller/data_model/controller-clusters/zap/app-templates/zap-generated/access.h
  zzz_generated/darwin/src/controller/data_model/controller-clusters/zap/app-templates/zap-generated/endpoint_config.h
  zzz_generated/darwin/src/controller/data_model/controller-clusters/zap/app-templates/zap-generated/gen_config.h
Labels: scripts, darwin, github, workflows, review - pending, fast track

#23830 [EFR32]Wi-Fi MG24-WF200 Pin Multiplexing and OTA Update support
  examples/platform/silabs/efr32/display/demo-ui.c
  examples/platform/silabs/efr32/display/lcd.cpp
  examples/platform/silabs/efr32/spi_multiplex.c
  examples/platform/silabs/efr32/spi_multiplex.h
  examples/platform/silabs/efr32/wf200/efr_spi.c
  examples/platform/silabs/efr32/wf200/wf200.gni
  src/platform/silabs/EFR32/OTAImageProcessorImpl.cpp
Labels: examples, platform, review - approved

#24494 [matter_yamltests] Update the parser to fix some parsing issues with …
  scripts/py_matter_yamltests/matter_yamltests/constraints.py
  scripts/py_matter_yamltests/matter_yamltests/parser.py
Labels: scripts, review - approved

#24490 Documentation update and make the golden image error message point to…
  docs/code_generation.md
  scripts/tools/zap/test_generate.py
Labels: documentation, scripts, review - approved

#24548 [nrfconnect] Enabled support for settings erase during DFU
  config/nrfconnect/chip-module/Kconfig.features
Labels: config, review - approved
