Repository project-chip/connectedhomeip, pull requests merged in 2023-08, with the labels that each got.

#28266 [ICD] Subscription report emission when becoming active
  src/app/BUILD.gn
  src/app/ReadHandler.h
  src/app/icd/BUILD.gn
  src/app/icd/ICDManager.cpp
  src/app/icd/ICDManager.h
  src/app/icd/ICDStateObserver.h
  src/app/reporting/ReportScheduler.h
  src/app/reporting/ReportSchedulerImpl.cpp
  src/app/reporting/ReportSchedulerImpl.h
  src/app/server/Server.cpp
Labels: app, review - approved, icd

#28424 Fix Matter.framework compilation when -Wundef is enabled.
  src/darwin/Framework/CHIP/MTRDefines.h
Labels: darwin, review - pending, fast track

#28365 Adds an example robotic vacuum cleaner configuration to chef devices.
  examples/chef/devices/rootnode_roboticvacuumcleaner_1807ff0c49.matter
  examples/chef/devices/rootnode_roboticvacuumcleaner_1807ff0c49.zap
  examples/chef/sample_app_util/matter_device_types.json
Labels: examples, review - pending, fast track

#28370 [Silabs] Cleanup sdk files
  third_party/silabs/efr32_sdk.gni
Labels: review - approved

#28422 Make SessionResumptionStorage injectable in controller.
  src/controller/CHIPDeviceControllerFactory.cpp
  src/controller/CHIPDeviceControllerFactory.h
  src/controller/CHIPDeviceControllerSystemState.h
Labels: controller, review - approved

#28454 Regenerate ZAP to fix CI after bad merge.
  examples/chef/devices/rootnode_roboticvacuumcleaner_1807ff0c49.matter
Labels: examples, hotfix

#28452 Add a signature count to MTRTestKeys.
  src/darwin/Framework/CHIPTests/TestHelpers/MTRTestKeys.h
  src/darwin/Framework/CHIPTests/TestHelpers/MTRTestKeys.m
Labels: darwin, review - pending, fast track

#28348 RVC opstate TC 2.1 - use PICs to test OperationalState and OperationalError
  src/python_testing/TC_RVCOPSTATE_2_1.py
  src/python_testing/TC_RVCOPSTATE_2_3.py
Labels: review - approved

#28425 [Android, Java] Decouple Generated API
  build/chip/java/config.gni
  src/controller/java/AndroidCallbacks.cpp
  src/controller/java/AndroidDeviceControllerWrapper.cpp
  src/controller/java/BUILD.gn
  src/controller/java/src/chip/devicecontroller/ChipDeviceController.java
  src/controller/java/src/chip/devicecontroller/ThreadScanResult.java
  src/controller/java/src/chip/devicecontroller/WiFiScanResult.java
Labels: controller, gn, review - pending, fast track

#28415 RVC clean and run - Use PICS for mode failure
  src/python_testing/TC_RVCCLEANM_2_1.py
  src/python_testing/TC_RVCRUNM_2_1.py
Labels: review - approved

#28459 Re-run zap_convert_all.py
  examples/all-clusters-app/all-clusters-common/all-clusters-app.zap
  examples/all-clusters-minimal-app/all-clusters-common/all-clusters-minimal-app.zap
  examples/bridge-app/bridge-common/bridge-app.zap
  examples/chef/devices/noip_rootnode_dimmablelight_bCwGYSDpoe.zap
  examples/chef/devices/rootnode_airpurifier_airqualitysensor_temperaturesensor_humiditysensor_thermostat_56de3d5f45.zap
  examples/chef/devices/rootnode_colortemperaturelight_hbUnzYVeyn.zap
  examples/chef/devices/rootnode_contactsensor_lFAGG1bfRO.zap
  examples/chef/devices/rootnode_dimmablelight_bCwGYSDpoe.zap
  examples/chef/devices/rootnode_doorlock_aNKYAreMXE.zap
  examples/chef/devices/rootnode_extendedcolorlight_8lcaaYJVAa.zap
  examples/chef/devices/rootnode_fan_7N2TobIlOX.zap
  examples/chef/devices/rootnode_flowsensor_1zVxHedlaV.zap
  examples/chef/devices/rootnode_heatingcoolingunit_ncdGai1E5a.zap
  examples/chef/devices/rootnode_humiditysensor_Xyj4gda6Hb.zap
  examples/chef/devices/rootnode_lightsensor_lZQycTFcJK.zap
  examples/chef/devices/rootnode_occupancysensor_iHyVgifZuo.zap
  examples/chef/devices/rootnode_onofflight_bbs1b7IaOV.zap
  examples/chef/devices/rootnode_onofflightswitch_FsPlMr090Q.zap
  examples/chef/devices/rootnode_onoffpluginunit_Wtf8ss5EBY.zap
  examples/chef/devices/rootnode_pressuresensor_s0qC9wLH4k.zap
  examples/chef/devices/rootnode_pump_a811bb33a0.zap
  examples/chef/devices/rootnode_roboticvacuumcleaner_1807ff0c49.zap
  examples/chef/devices/rootnode_speaker_RpzeXdimqA.zap
  examples/chef/devices/rootnode_temperaturesensor_Qy1zkNW7c3.zap
  examples/chef/devices/rootnode_thermostat_bm3fb8dhYi.zap
  examples/chef/devices/rootnode_windowcovering_RLCxaGi9Yx.zap
  examples/chef/devices/template.zap
  examples/contact-sensor-app/contact-sensor-common/contact-sensor-app.zap
  examples/dishwasher-app/dishwasher-common/dishwasher-app.zap
  examples/light-switch-app/light-switch-common/light-switch-app.zap
  examples/lighting-app/bouffalolab/data_model/lighting-app-thread.zap
  examples/lighting-app/bouffalolab/data_model/lighting-app-wifi.zap
  examples/lighting-app/lighting-common/lighting-app.zap
  examples/lighting-app/nxp/zap/lighting-on-off.zap
  examples/lighting-app/qpg/zap/light.zap
  examples/lighting-app/silabs/data_model/lighting-thread-app.zap
  examples/lighting-app/silabs/data_model/lighting-wifi-app.zap
  examples/lock-app/lock-common/lock-app.zap
  examples/lock-app/nxp/zap/lock-app.zap
  examples/lock-app/qpg/zap/lock.zap
  examples/log-source-app/log-source-common/log-source-app.zap
  examples/ota-provider-app/ota-provider-common/ota-provider-app.zap
  examples/ota-requestor-app/ota-requestor-common/ota-requestor-app.zap
  examples/placeholder/linux/apps/app1/config.zap
  examples/placeholder/linux/apps/app2/config.zap
  examples/pump-app/pump-common/pump-app.zap
  examples/pump-app/silabs/data_model/pump-thread-app.zap
  examples/pump-app/silabs/data_model/pump-wifi-app.zap
  examples/pump-controller-app/pump-controller-common/pump-controller-app.zap
  examples/resource-monitoring-app/resource-monitoring-common/resource-monitoring-app.zap
  examples/smoke-co-alarm-app/smoke-co-alarm-common/smoke-co-alarm-app.zap
  examples/temperature-measurement-app/temperature-measurement-common/temperature-measurement.zap
  examples/thermostat/thermostat-common/thermostat.zap
  examples/tv-app/tv-common/tv-app.zap
  examples/tv-casting-app/tv-casting-common/tv-casting-app.zap
  examples/virtual-device-app/virtual-device-common/virtual-device-app.zap
  examples/window-app/common/window-app.zap
  scripts/tools/zap/tests/inputs/all-clusters-app.zap
  scripts/tools/zap/tests/inputs/lighting-app.zap
  src/controller/data_model/controller-clusters.zap
Labels: examples, scripts, controller, review - approved

#28461 Add an API to get the list of running controllers from a controller factory.
  src/darwin/Framework/CHIP/MTRDeviceControllerFactory.mm
  src/darwin/Framework/CHIP/MTRDeviceControllerFactory_Internal.h
Labels: darwin, review - pending, fast track

#28453 Add utilities for converting CATValues to/from NSSet.
  src/darwin/Framework/CHIP/MTRConversion.h
  src/darwin/Framework/CHIP/MTRConversion.mm
  src/darwin/Framework/CHIP/MTRDeviceController.mm
  src/darwin/Framework/CHIP/MTRDeviceControllerStartupParams.mm
  src/darwin/Framework/CHIP/MTROperationalCredentialsDelegate.mm
  src/darwin/Framework/Matter.xcodeproj/project.pbxproj
Labels: darwin, review - pending, fast track

#28455 [esp32 m5-stack light] move freertos functions to flash instead of iram
  examples/lighting-app/esp32/sdkconfig_m5stack.defaults
Labels: examples, review - pending, fast track

#28428 [Android] virtual-device-app: Add LoadingFragment for commissioning establish s…
  examples/virtual-device-app/android/App/core/common/src/main/java/com/matter/virtual/device/app/core/common/DeepLink.kt
  examples/virtual-device-app/android/App/feature/main/src/main/java/com/matter/virtual/device/app/feature/main/LoadingFragment.kt
  examples/virtual-device-app/android/App/feature/main/src/main/res/layout/fragment_loading.xml
  examples/virtual-device-app/android/App/feature/main/src/main/res/navigation/main_nav_graph.xml
  examples/virtual-device-app/android/App/feature/main/src/main/res/values/strings.xml
Labels: review - approved

#28473 [OpenIOT] add clean steps
  .github/workflows/examples-openiotsdk.yaml
Labels: github, workflows, review - pending, fast track

#28476 [cloudbuild] switch to v2 of our build images.
  integrations/cloudbuild/build-all.yaml
  integrations/cloudbuild/chef.yaml
  integrations/cloudbuild/smoke-test.yaml
Labels: hotfix, integrations

#28423 Update ZAP to pick up UI for multiple device types on an endpoint.
  examples/log-source-app/log-source-common/log-source-app.matter
  scripts/setup/zap.json
  scripts/setup/zap.version
  scripts/tools/zap/zap_execution.py
Labels: examples, scripts, review - approved

#28342 tv-casting-app: Implementing PASE related callbacks
  examples/tv-casting-app/android/App/app/src/main/java/com/chip/casting/app/ConnectionFragment.java
  examples/tv-casting-app/android/App/app/src/main/jni/com/chip/casting/CommissioningCallbacks.java
  examples/tv-casting-app/android/App/app/src/main/jni/com/chip/casting/TvCastingApp.java
  examples/tv-casting-app/android/App/app/src/main/jni/cpp/MatterCallbackHandler-JNI.h
  examples/tv-casting-app/android/App/app/src/main/jni/cpp/TvCastingApp-JNI.cpp
  examples/tv-casting-app/android/App/app/src/main/jni/cpp/TvCastingApp-JNI.h
  examples/tv-casting-app/android/BUILD.gn
  examples/tv-casting-app/darwin/MatterTvCastingBridge/MatterTvCastingBridge.xcodeproj/project.pbxproj
  examples/tv-casting-app/darwin/MatterTvCastingBridge/MatterTvCastingBridge/CastingServerBridge.h
  examples/tv-casting-app/darwin/MatterTvCastingBridge/MatterTvCastingBridge/CastingServerBridge.mm
  examples/tv-casting-app/darwin/MatterTvCastingBridge/MatterTvCastingBridge/CommissioningCallbackHandlers.h
  examples/tv-casting-app/darwin/MatterTvCastingBridge/MatterTvCastingBridge/CommissioningCallbackHandlers.m
  examples/tv-casting-app/darwin/TvCasting/TvCasting/CommissioningViewModel.swift
  examples/tv-casting-app/linux/CastingUtils.cpp
  examples/tv-casting-app/tv-casting-common/include/CastingServer.h
  examples/tv-casting-app/tv-casting-common/include/CommissioningCallbacks.h
  examples/tv-casting-app/tv-casting-common/include/TargetVideoPlayerInfo.h
  examples/tv-casting-app/tv-casting-common/src/CastingServer.cpp
Labels: examples, review - approved

#28481 [TC-RVC-2.1] Fix PIXIT codes to match the test plan
  src/python_testing/TC_RVCCLEANM_2_1.py
  src/python_testing/TC_RVCRUNM_2_1.py
Labels: review - approved

#28480 Stop using controllerID for internal XPC bookkeeping.
  src/darwin/Framework/CHIP/MTRDeviceControllerOverXPC.mm
  src/darwin/Framework/CHIP/MTRDeviceControllerOverXPC_Internal.h
  src/darwin/Framework/CHIP/MTRDeviceOverXPC.mm
Labels: darwin, review - pending, fast track

#28410 Add functions to set Parent Endpoint and Composition Type for an Endpoint
  src/app/clusters/descriptor/descriptor.cpp
  src/app/util/af-types.h
  src/app/util/af.h
  src/app/util/attribute-storage.cpp
Labels: app, review - approved

#28426 Add MACRO to set alignment of sha256 context
  src/crypto/CHIPCryptoPAL.h
  src/lib/core/CHIPConfig.h
Labels: lib, crypto, review - approved, core

#28356 Fix uninitialised values in KeySet and AttributePathExpandIterator
  src/app/AttributePathExpandIterator.cpp
  src/app/clusters/operational-credentials-server/operational-credentials-server.cpp
Labels: app, review - approved

#28488 Add a controller argument to the storage checker function.
  src/darwin/Framework/CHIP/MTRDeviceControllerFactory.mm
Labels: darwin, review - pending, fast track

#28153 CASE: Send busy status report if we receive a sigma1 and we are in the middle of handshake
  src/protocols/secure_channel/CASEServer.cpp
  src/protocols/secure_channel/CASEServer.h
  src/protocols/secure_channel/CASESession.cpp
  src/protocols/secure_channel/PairingSession.h
  src/protocols/secure_channel/StatusReport.cpp
  src/protocols/secure_channel/StatusReport.h
  src/protocols/secure_channel/tests/TestStatusReport.cpp
Labels: review - approved

#28380 [ICD] Stay in active mode when a reliable message context is awaiting an ack
  src/app/icd/ICDEventManager.cpp
  src/app/icd/ICDEventManager.h
  src/app/icd/ICDManager.h
  src/include/platform/CHIPDeviceEvent.h
  src/messaging/ReliableMessageContext.cpp
  src/messaging/ReliableMessageContext.h
Labels: platform, app, review - approved, icd

#28421 [ReadHandler] Removal of test flags
  src/app/reporting/ReportScheduler.h
  src/app/tests/TestReadInteraction.cpp
Labels: app, review - approved, tests

#28474 [Silabs] Add SIT ICD configurations to silabs lock example
  .github/.wordlist.txt
  examples/light-switch-app/silabs/README.md
  examples/lighting-app/silabs/README.md
  examples/lock-app/esp32/main/CMakeLists.txt
  examples/lock-app/lock-common/lock-app.matter
  examples/lock-app/lock-common/lock-app.zap
  examples/lock-app/silabs/README.md
  examples/lock-app/silabs/openthread.gn
  examples/lock-app/silabs/openthread.gni
  examples/platform/silabs/ICDSubscriptionCallback.cpp
  examples/platform/silabs/ICDSubscriptionCallback.h
  examples/platform/silabs/MatterConfig.cpp
  examples/platform/silabs/MatterConfig.h
  examples/platform/silabs/efr32/BUILD.gn
  examples/platform/silabs/efr32/project_include/OpenThreadConfig.h
  examples/pump-app/silabs/README.md
  examples/smoke-co-alarm-app/silabs/README.md
  examples/thermostat/silabs/README.md
  examples/window-app/silabs/README.md
  scripts/examples/gn_silabs_example.sh
  src/platform/silabs/CHIPDevicePlatformConfig.h
  src/platform/silabs/CHIPPlatformConfig.h
  third_party/silabs/efr32_sdk.gni
Labels: examples, scripts, platform, review - approved, silabs

#28485 Add an example room air conditioner configuration to chef devices
  examples/chef/devices/rootnode_roomairconditioner_9cf3607804.matter
  examples/chef/devices/rootnode_roomairconditioner_9cf3607804.zap
  examples/chef/sample_app_util/matter_device_types.json
Labels: examples, review - approved

#28478 [docker] Use gcc 10 in chip build
  integrations/docker/images/base/chip-build/Dockerfile
  integrations/docker/images/base/chip-build/version
Labels: integrations, review - pending, docker

#28448 Reduce type character size of SceneTableImpl types
  src/app/clusters/scenes-server/SceneTableImpl.cpp
  src/app/clusters/scenes-server/SceneTableImpl.h
Labels: app, review - approved

#28486 [Android] virtual-device-app: Add control module for virtual device's detail view
  examples/virtual-device-app/android/App/feature/control/.gitignore
  examples/virtual-device-app/android/App/feature/control/build.gradle.kts
  examples/virtual-device-app/android/App/feature/control/proguard-rules.pro
  examples/virtual-device-app/android/App/feature/control/src/androidTest/java/com/matter/virtual/device/app/feature/control/ExampleInstrumentedTest.kt
  examples/virtual-device-app/android/App/feature/control/src/main/AndroidManifest.xml
  examples/virtual-device-app/android/App/feature/control/src/main/java/com/matter/virtual/device/app/feature/control/OnOffSwitchFragment.kt
  examples/virtual-device-app/android/App/feature/control/src/main/res/layout/fragment_on_off_switch.xml
  examples/virtual-device-app/android/App/feature/control/src/main/res/navigation/control_nav_graph.xml
  examples/virtual-device-app/android/App/feature/control/src/test/java/com/matter/virtual/device/app/feature/control/ExampleUnitTest.kt
  examples/virtual-device-app/android/App/settings.gradle.kts
Labels: examples, review - approved

#28477 Add `__test__ = False` to hooks
  scripts/py_matter_yamltests/matter_yamltests/hooks.py
Labels: scripts, review - approved

#28475 Improve Silabs Matter shell functionality/stability
  src/lib/shell/MainLoopSilabs.cpp
Labels: lib, review - approved, shell

#28502 [Silabs] Fix define to make sure the configuration are applied correctly
  src/platform/silabs/CHIPPlatformConfig.h
Labels: review - approved

#28449 Update python logic for executing work in chip main loop
  src/controller/python/BUILD.gn
  src/controller/python/chip/native/ChipMainLoopWork.h
  src/controller/python/chip/native/ChipMainLoopWork_StackLock.cpp
  src/controller/python/chip/native/ChipMainLoopWork_WorkSchedule.cpp
  src/controller/python/chip/tracing/TracingSetup.cpp
Labels: controller, review - pending, fast track

#28505 Fix crash when an error happens during a BLE scan on darwin.
  src/platform/Darwin/BleConnectionDelegateImpl.mm
Labels: platform, darwin, review - approved

#28110 Power source: Implementation of dynamic endpoint list setter
  src/app/clusters/power-source-server/power-source-server.cpp
  src/app/clusters/power-source-server/power-source-server.h
  src/app/tests/BUILD.gn
  src/app/tests/TestPowerSourceCluster.cpp
Labels: app, review - approved, tests, v1.2, power source

#28264 * Refine the laundry-washer-control server implementation and add laundry-washer-controls-delegate-impl
  examples/all-clusters-app/all-clusters-common/include/laundry-washer-controls-delegate-impl.h
  examples/all-clusters-app/all-clusters-common/src/laundry-washer-controls-delegate-impl.cpp
  examples/all-clusters-app/linux/BUILD.gn
  examples/all-clusters-app/linux/main-common.cpp
  src/app/clusters/laundry-washer-controls-server/laundry-washer-controls-delegate.h
  src/app/clusters/laundry-washer-controls-server/laundry-washer-controls-server.cpp
  src/app/clusters/laundry-washer-controls-server/laundry-washer-controls-server.h
Labels: examples, app, review - approved

#28506 Fix selector for status update on CHIPToolDeviceControllerDelegate.
  examples/darwin-framework-tool/commands/pairing/DeviceControllerDelegateBridge.h
  examples/darwin-framework-tool/commands/pairing/DeviceControllerDelegateBridge.mm
Labels: examples, darwin, review - pending, fast track

#28149 [app] Add option to disable read client
  config/esp32/components/chip/CMakeLists.txt
  config/esp32/components/chip/Kconfig
  examples/lighting-app/esp32/sdkconfig.defaults
  examples/lighting-app/linux/args.gni
  src/app/AttributePathParams.h
  src/app/BUILD.gn
  src/app/BufferedReadCallback.h
  src/app/ClusterStateCache.h
  src/app/InteractionModelEngine.cpp
  src/app/InteractionModelEngine.h
  src/app/ReadClient.h
  src/app/common_flags.gni
  src/controller/BUILD.gn
  src/controller/CHIPCluster.h
  src/controller/CHIPDeviceController.h
  src/controller/ReadInteraction.h
  src/controller/TypedReadCallback.h
Labels: examples, controller, app, config, review - approved

#28451 enable android platform configuration
  src/platform/android/SystemPlatformConfig.h
Labels: platform, review - approved

#28514 Skip building python modules as part of Matter.framework build.
  src/darwin/Framework/chip_xcode_build_connector.sh
Labels: darwin, review - pending, fast track

#28388 [mode-base-cluster]fix: build error while not enable On/Off cluster server
  src/app/clusters/mode-base-server/mode-base-server.cpp
Labels: app, review - approved

#28441 [Ameba] Update docker image
  integrations/docker/images/base/chip-build/version
  integrations/docker/images/stage-2/chip-build-ameba/Dockerfile
Labels: integrations, review - approved, docker

#28431 [Docker][K32W0] Use west tool to get SDK
  integrations/docker/images/base/chip-build/version
  integrations/docker/images/stage-2/chip-build-k32w/Dockerfile
Labels: integrations, review - approved, docker

#28438 [Ameba] Upgrade cpp17
  .github/workflows/examples-ameba.yaml
  examples/all-clusters-app/ameba/README.md
  examples/all-clusters-minimal-app/ameba/README.md
  examples/light-switch-app/ameba/README.md
  examples/lighting-app/ameba/README.md
  examples/ota-requestor-app/ameba/README.md
  examples/pigweed-app/ameba/README.md
  examples/pigweed-app/ameba/chip_main.cmake
  src/app/chip_data_model.cmake
Labels: examples, app, github, workflows, review - pending, fast track

#28522 [Silabs] Remove ICDM cluster from lighting app
  examples/lighting-app/silabs/data_model/lighting-thread-app.matter
  examples/lighting-app/silabs/data_model/lighting-thread-app.zap
Labels: examples, review - approved

#28504 [Silabs] Rename SED build target to ICD for python scripts
  .github/workflows/examples-efr32.yaml
  scripts/build/build/targets.py
  scripts/build/builders/efr32.py
  scripts/build/testdata/all_targets_linux_x64.txt
Labels: scripts, github, workflows, review - approved

#28501 [chef] disable Groups and Switch from example devices
  examples/chef/devices/noip_rootnode_dimmablelight_bCwGYSDpoe.matter
  examples/chef/devices/noip_rootnode_dimmablelight_bCwGYSDpoe.zap
  examples/chef/devices/rootnode_airpurifier_airqualitysensor_temperaturesensor_humiditysensor_thermostat_56de3d5f45.matter
  examples/chef/devices/rootnode_airpurifier_airqualitysensor_temperaturesensor_humiditysensor_thermostat_56de3d5f45.zap
  examples/chef/devices/rootnode_basicvideoplayer_0ff86e943b.matter
  examples/chef/devices/rootnode_basicvideoplayer_0ff86e943b.zap
  examples/chef/devices/rootnode_colortemperaturelight_hbUnzYVeyn.matter
  examples/chef/devices/rootnode_colortemperaturelight_hbUnzYVeyn.zap
  examples/chef/devices/rootnode_contactsensor_lFAGG1bfRO.matter
  examples/chef/devices/rootnode_contactsensor_lFAGG1bfRO.zap
  examples/chef/devices/rootnode_dimmablelight_bCwGYSDpoe.matter
  examples/chef/devices/rootnode_dimmablelight_bCwGYSDpoe.zap
  examples/chef/devices/rootnode_doorlock_aNKYAreMXE.matter
  examples/chef/devices/rootnode_doorlock_aNKYAreMXE.zap
  examples/chef/devices/rootnode_extendedcolorlight_8lcaaYJVAa.matter
  examples/chef/devices/rootnode_extendedcolorlight_8lcaaYJVAa.zap
  examples/chef/devices/rootnode_fan_7N2TobIlOX.matter
  examples/chef/devices/rootnode_fan_7N2TobIlOX.zap
  examples/chef/devices/rootnode_flowsensor_1zVxHedlaV.matter
  examples/chef/devices/rootnode_flowsensor_1zVxHedlaV.zap
  examples/chef/devices/rootnode_heatingcoolingunit_ncdGai1E5a.matter
  examples/chef/devices/rootnode_heatingcoolingunit_ncdGai1E5a.zap
  examples/chef/devices/rootnode_humiditysensor_Xyj4gda6Hb.matter
  examples/chef/devices/rootnode_humiditysensor_Xyj4gda6Hb.zap
  examples/chef/devices/rootnode_lightsensor_lZQycTFcJK.matter
  examples/chef/devices/rootnode_lightsensor_lZQycTFcJK.zap
  examples/chef/devices/rootnode_occupancysensor_iHyVgifZuo.matter
  examples/chef/devices/rootnode_occupancysensor_iHyVgifZuo.zap
  examples/chef/devices/rootnode_onofflight_bbs1b7IaOV.matter
  examples/chef/devices/rootnode_onofflight_bbs1b7IaOV.zap
  examples/chef/devices/rootnode_onofflightswitch_FsPlMr090Q.matter
  examples/chef/devices/rootnode_onofflightswitch_FsPlMr090Q.zap
  examples/chef/devices/rootnode_onoffpluginunit_Wtf8ss5EBY.matter
  examples/chef/devices/rootnode_onoffpluginunit_Wtf8ss5EBY.zap
  examples/chef/devices/rootnode_pressuresensor_s0qC9wLH4k.matter
  examples/chef/devices/rootnode_pressuresensor_s0qC9wLH4k.zap
  examples/chef/devices/rootnode_roboticvacuumcleaner_1807ff0c49.matter
  examples/chef/devices/rootnode_roboticvacuumcleaner_1807ff0c49.zap
  examples/chef/devices/rootnode_speaker_RpzeXdimqA.matter
  examples/chef/devices/rootnode_speaker_RpzeXdimqA.zap
  examples/chef/devices/rootnode_temperaturesensor_Qy1zkNW7c3.matter
  examples/chef/devices/rootnode_temperaturesensor_Qy1zkNW7c3.zap
  examples/chef/devices/rootnode_thermostat_bm3fb8dhYi.matter
  examples/chef/devices/rootnode_thermostat_bm3fb8dhYi.zap
  examples/chef/devices/rootnode_windowcovering_RLCxaGi9Yx.matter
  examples/chef/devices/rootnode_windowcovering_RLCxaGi9Yx.zap
  examples/chef/devices/template.zap
  scripts/setup/constraints.txt
Labels: review - pending, fast track

#28470 Bash completion support for chip-tool
  scripts/helpers/bash-completion.sh
  scripts/setup/bootstrap.sh
Labels: scripts, review - approved

#28528 Add a few new things to Darwin availability annotations.
  src/darwin/Framework/CHIP/templates/availability.yaml
Labels: darwin, review - pending, fast track

#28497 [ReadHandler] ReportScheduler Injection
  examples/platform/silabs/MatterConfig.cpp
  src/app/BUILD.gn
  src/app/TimerDelegates.cpp
  src/app/TimerDelegates.h
  src/app/server/Server.cpp
  src/app/server/Server.h
  src/app/tests/TestCommissionManager.cpp
Labels: examples, platform, app, review - approved, tests

#28534 [Java] Fix crash on 32bit Android phone when eventing is enabled
  src/controller/java/AndroidCallbacks.cpp
Labels: controller, review - pending, fast track

#27635 Json to Tlv and Tlv to Json Converters Implementation in CPP
  .github/.wordlist.txt
  scripts/tools/check_includes_config.py
  src/lib/core/TLVReader.h
  src/lib/support/jsontlv/BUILD.gn
  src/lib/support/jsontlv/ElementTypes.h
  src/lib/support/jsontlv/JsonToTlv.cpp
  src/lib/support/jsontlv/JsonToTlv.h
  src/lib/support/jsontlv/README.md
  src/lib/support/jsontlv/TlvToJson.cpp
  src/lib/support/jsontlv/TlvToJson.h
  src/lib/support/tests/BUILD.gn
  src/lib/support/tests/TestJsonToTlv.cpp
  src/lib/support/tests/TestJsonToTlvToJson.cpp
  src/lib/support/tests/TestTlvJson.cpp
  src/lib/support/tests/TestTlvToJson.cpp
Labels: scripts, lib, review - approved, support, core

#28278 Reduce the size of FabricInfo by reordering some members.
  src/credentials/FabricTable.h
Labels: review - approved

#28529 [matteridl] use looping struct for getting device types
  examples/all-clusters-app/all-clusters-common/all-clusters-app.matter
  examples/all-clusters-minimal-app/all-clusters-common/all-clusters-minimal-app.matter
  examples/bridge-app/bridge-common/bridge-app.matter
  examples/chef/devices/noip_rootnode_dimmablelight_bCwGYSDpoe.matter
  examples/chef/devices/rootnode_airpurifier_airqualitysensor_temperaturesensor_humiditysensor_thermostat_56de3d5f45.matter
  examples/chef/devices/rootnode_basicvideoplayer_0ff86e943b.matter
  examples/chef/devices/rootnode_colortemperaturelight_hbUnzYVeyn.matter
  examples/chef/devices/rootnode_contactsensor_lFAGG1bfRO.matter
  examples/chef/devices/rootnode_dimmablelight_bCwGYSDpoe.matter
  examples/chef/devices/rootnode_doorlock_aNKYAreMXE.matter
  examples/chef/devices/rootnode_extendedcolorlight_8lcaaYJVAa.matter
  examples/chef/devices/rootnode_fan_7N2TobIlOX.matter
  examples/chef/devices/rootnode_flowsensor_1zVxHedlaV.matter
  examples/chef/devices/rootnode_heatingcoolingunit_ncdGai1E5a.matter
  examples/chef/devices/rootnode_humiditysensor_Xyj4gda6Hb.matter
  examples/chef/devices/rootnode_lightsensor_lZQycTFcJK.matter
  examples/chef/devices/rootnode_occupancysensor_iHyVgifZuo.matter
  examples/chef/devices/rootnode_onofflight_bbs1b7IaOV.matter
  examples/chef/devices/rootnode_onofflightswitch_FsPlMr090Q.matter
  examples/chef/devices/rootnode_onoffpluginunit_Wtf8ss5EBY.matter
  examples/chef/devices/rootnode_pressuresensor_s0qC9wLH4k.matter
  examples/chef/devices/rootnode_pump_a811bb33a0.matter
  examples/chef/devices/rootnode_roboticvacuumcleaner_1807ff0c49.matter
  examples/chef/devices/rootnode_roomairconditioner_9cf3607804.matter
  examples/chef/devices/rootnode_speaker_RpzeXdimqA.matter
  examples/chef/devices/rootnode_temperaturesensor_Qy1zkNW7c3.matter
  examples/chef/devices/rootnode_thermostat_bm3fb8dhYi.matter
  examples/chef/devices/rootnode_windowcovering_RLCxaGi9Yx.matter
  examples/contact-sensor-app/contact-sensor-common/contact-sensor-app.matter
  examples/dishwasher-app/dishwasher-common/dishwasher-app.matter
  examples/light-switch-app/light-switch-common/light-switch-app.matter
  examples/lighting-app/bouffalolab/data_model/lighting-app-thread.matter
  examples/lighting-app/bouffalolab/data_model/lighting-app-wifi.matter
  examples/lighting-app/lighting-common/lighting-app.matter
  examples/lighting-app/nxp/zap/lighting-on-off.matter
  examples/lighting-app/qpg/zap/light.matter
  examples/lighting-app/silabs/data_model/lighting-thread-app.matter
  examples/lighting-app/silabs/data_model/lighting-wifi-app.matter
  examples/lock-app/lock-common/lock-app.matter
  examples/lock-app/nxp/zap/lock-app.matter
  examples/lock-app/qpg/zap/lock.matter
  examples/log-source-app/log-source-common/log-source-app.matter
  examples/ota-provider-app/ota-provider-common/ota-provider-app.matter
  examples/ota-requestor-app/ota-requestor-common/ota-requestor-app.matter
  examples/placeholder/linux/apps/app1/config.matter
  examples/placeholder/linux/apps/app2/config.matter
  examples/pump-app/pump-common/pump-app.matter
  examples/pump-app/silabs/data_model/pump-thread-app.matter
  examples/pump-app/silabs/data_model/pump-wifi-app.matter
  examples/pump-controller-app/pump-controller-common/pump-controller-app.matter
  examples/resource-monitoring-app/resource-monitoring-common/resource-monitoring-app.matter
  examples/smoke-co-alarm-app/smoke-co-alarm-common/smoke-co-alarm-app.matter
  examples/temperature-measurement-app/temperature-measurement-common/temperature-measurement.matter
  examples/thermostat/thermostat-common/thermostat.matter
  examples/tv-app/tv-common/tv-app.matter
  examples/tv-casting-app/tv-casting-common/tv-casting-app.matter
  examples/virtual-device-app/virtual-device-common/virtual-device-app.matter
  examples/window-app/common/window-app.matter
  src/app/zap-templates/templates/app/MatterIDL_Server.zapt
Labels: examples, app, review - approved

#28541 [Java] Remove duplicated implementation for ReportCallback
  src/controller/java/AndroidCallbacks-JNI.cpp
  src/controller/java/AndroidCallbacks.cpp
  src/controller/java/BUILD.gn
  src/controller/java/src/chip/devicecontroller/ReportEventCallback.java
  src/controller/java/src/chip/devicecontroller/ReportEventCallbackJni.java
Labels: controller, review - approved

#28538 Remove special-case in ToInteractionModelStatus.
  src/app/chip_data_model.cmake
  src/app/chip_data_model.gni
  src/app/util/error-mapping.cpp
  src/app/util/error-mapping.h
  src/darwin/Framework/Matter.xcodeproj/project.pbxproj
Labels: darwin, app, review - approved

#28542 Fix reservation logic in reporting engine.
  src/app/reporting/Engine.cpp
Labels: review - approved

#28519 [Telink] Factory reset using power on sequence
  config/telink/chip-module/Kconfig
  examples/lighting-app/telink/include/AppTask.h
  examples/lighting-app/telink/src/AppTask.cpp
  examples/platform/telink/common/include/AppTaskCommon.h
  examples/platform/telink/common/src/AppTaskCommon.cpp
  examples/platform/telink/common/src/mainCommon.cpp
Labels: examples, platform, config, review - approved

#28561 [RVCOPSTATE-1.1] Wrong PICS used in yaml
  src/app/tests/suites/certification/Test_TC_RVCOPSTATE_1_1.yaml
Labels: app, review - approved, tests, operational state

#28559 [Silabs] Add ICD configurations to the Silabs Light-Switch app
  examples/light-switch-app/esp32/main/CMakeLists.txt
  examples/light-switch-app/light-switch-common/light-switch-app.matter
  examples/light-switch-app/light-switch-common/light-switch-app.zap
  examples/light-switch-app/silabs/openthread.gn
  examples/light-switch-app/silabs/openthread.gni
Labels: examples, review - approved

#28540 [Java] Add support for Timestamp type in EventState
  examples/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/clusterclient/WildcardFragment.kt
  src/controller/java/AndroidCallbacks.cpp
  src/controller/java/src/chip/devicecontroller/model/EventState.java
Labels: examples, controller, review - approved

#28507 [Cherrypick] CI: Fix for v1.1-branch CI, broken due to gdbgui
  .github/workflows/chef.yaml
  .github/workflows/examples-esp32.yaml
  .github/workflows/qemu.yaml
  scripts/setup/requirements.esp32.txt
Labels: scripts, github, workflows

#28570 [ESP32] Fix the docs when upgrading to esp-idf v5.1
  docs/guides/esp32/setup_idf_chip.md
Labels: documentation, review - approved

#28513 [Ameba] replace checkexist with deletekey
  src/platform/Ameba/KeyValueStoreManagerImpl.cpp
Labels: platform, review - approved

#28208 [Android] Support FabricFilter to ChipClusters API
  scripts/py_matter_idl/matter_idl/generators/java/ChipClustersRead.jinja
  scripts/py_matter_idl/matter_idl/generators/java/__init__.py
  scripts/py_matter_idl/matter_idl/test_generators.py
  scripts/py_matter_idl/matter_idl/tests/inputs/several_clusters.matter
  scripts/py_matter_idl/matter_idl/tests/outputs/proto/second_cluster.proto
  scripts/py_matter_idl/matter_idl/tests/outputs/several_clusters/java/ClusterIDMapping.java
  scripts/py_matter_idl/matter_idl/tests/outputs/several_clusters/java/ClusterReadMapping.java
  scripts/py_matter_idl/matter_idl/tests/outputs/several_clusters/jni/CHIPCallbackTypes.h
  scripts/py_matter_idl/matter_idl/tests/outputs/several_clusters/jni/CHIPReadReadCallbacks.h
  scripts/py_matter_idl/matter_idl/tests/outputs/several_clusters/jni/SecondClient-InvokeSubscribeImpl.cpp
  scripts/py_matter_idl/matter_idl/tests/outputs/several_clusters/jni/SecondClient-ReadImpl.cpp
  src/controller/java/templates/ChipClusters-java.zapt
  src/controller/java/zap-generated/chip/devicecontroller/ChipClusters.java
Labels: scripts, controller, review - approved

#28575 Mode base reporting change in supported modes
  examples/all-clusters-app/all-clusters-common/include/operational-state-delegate-impl.h
  examples/dishwasher-app/dishwasher-common/include/operational-state-delegate-impl.h
  src/app/chip_data_model.gni
  src/app/clusters/mode-base-server/mode-base-server.cpp
  src/app/clusters/mode-base-server/mode-base-server.h
  src/app/clusters/operational-state-server/operational-state-cluster-objects.h
  src/app/clusters/operational-state-server/operational-state-server.cpp
  src/app/clusters/operational-state-server/operational-state-server.h
  src/app/tests/BUILD.gn
  src/app/tests/TestOperationalStateClusterObjects.cpp
Labels: examples, app, review - approved, tests

#28482 TC-PS-3.1: Add cluster revision check
  src/python_testing/TC_DeviceBasicComposition.py
Labels: review - approved

#28479 python testing: Support QR / manual codes for commissioning
  src/python_testing/TC_DeviceBasicComposition.py
  src/python_testing/matter_testing_support.py
Labels: review - pending, fast track

#28442 EFR32: PSA configuration for compatibility with GSDK 4.3.0
  src/platform/silabs/efr32/psa_crypto_config.h
Labels: platform, review - approved, silabs

#28359 ESP32: Add ICD support for Thread devices
  config/esp32/components/chip/CMakeLists.txt
  config/esp32/components/chip/Kconfig
  examples/all-clusters-app/esp32/main/CMakeLists.txt
  examples/all-clusters-app/esp32/main/Kconfig.projbuild
  examples/all-clusters-app/esp32/main/main.cpp
  examples/all-clusters-app/esp32/sdkconfig.defaults.esp32h2
  examples/all-clusters-minimal-app/esp32/main/main.cpp
  examples/lighting-app/esp32/main/main.cpp
  examples/platform/esp32/common/Esp32AppServer.cpp
  examples/platform/esp32/common/Esp32ThreadInit.cpp
  examples/platform/esp32/common/Esp32ThreadInit.h
  examples/platform/esp32/icd/ICDSubscriptionCallback.cpp
  examples/platform/esp32/icd/ICDSubscriptionCallback.h
  src/platform/ESP32/CHIPDevicePlatformConfig.h
  src/platform/ESP32/ConnectivityManagerImpl.h
  src/platform/ESP32/ConnectivityManagerImpl_WiFi.cpp
  src/platform/ESP32/DiagnosticDataProviderImpl.cpp
  src/platform/ESP32/ESP32Utils.cpp
  src/platform/ESP32/NetworkCommissioningDriver.cpp
Labels: examples, platform, esp32, config, review - approved

#28569 Fix cancellation of subscriptions to work correctly.
  src/app/InteractionModelEngine.cpp
Labels: app, review - approved

#28537 Add support for controllers not advertising their operational identities.
  src/app/server/Dnssd.cpp
  src/controller/CHIPDeviceController.cpp
  src/controller/CHIPDeviceControllerFactory.cpp
  src/controller/CHIPDeviceControllerFactory.h
  src/credentials/FabricTable.cpp
  src/credentials/FabricTable.h
  src/credentials/tests/TestFabricTable.cpp
Labels: controller, app, review - approved

#28587 Add a way ask a DeviceCommissioner for its DeviceAttestationVerifier.
  src/controller/CHIPDeviceController.h
Labels: controller, review - approved

#28586 Add an attestation challenge to MTROperationalCredentialsClusterAttestationResponseParams.
  src/darwin/Framework/CHIP/MTRCallbackBridgeBase.h
  src/darwin/Framework/CHIP/templates/MTRCommandPayloads_Internal.zapt
  src/darwin/Framework/CHIP/templates/partials/MTRCallbackBridge.zapt
  src/darwin/Framework/CHIP/zap-generated/MTRCallbackBridge.mm
  src/darwin/Framework/CHIP/zap-generated/MTRCommandPayloads_Internal.h
Labels: darwin, review - pending, fast track

#28447 Add airquality example
  docs/examples/index.md
  examples/air-quality-sensor-app/air-quality-sensor-common/BUILD.gn
  examples/air-quality-sensor-app/air-quality-sensor-common/air-quality-sensor-app.matter
  examples/air-quality-sensor-app/air-quality-sensor-common/air-quality-sensor-app.zap
  examples/air-quality-sensor-app/linux/.gn
  examples/air-quality-sensor-app/linux/AirQualitySensorAppAttrUpdateDelegate.cpp
  examples/air-quality-sensor-app/linux/AirQualitySensorAppAttrUpdateDelegate.h
  examples/air-quality-sensor-app/linux/BUILD.gn
  examples/air-quality-sensor-app/linux/README.md
  examples/air-quality-sensor-app/linux/args.gni
  examples/air-quality-sensor-app/linux/build_overrides
  examples/air-quality-sensor-app/linux/include/CHIPProjectAppConfig.h
  examples/air-quality-sensor-app/linux/main.cpp
  examples/air-quality-sensor-app/linux/third_party/connectedhomeip
Labels: documentation, examples, review - approved

#28589 Fix cancellation of subscriptions to work correctly. (1.1 cherrypick of #28569)
  src/app/InteractionModelEngine.cpp
Labels: app

#28601 [Docker][K32W1] Add support for K32W1 SDK
  integrations/docker/images/base/chip-build/version
  integrations/docker/images/stage-2/chip-build-k32w/Dockerfile
  integrations/docker/images/vscode/chip-build-vscode/Dockerfile
Labels: integrations, review - pending, docker

#28597 Fix a non-matched parameter in EventState
  src/controller/java/src/chip/devicecontroller/model/EventState.java
Labels: controller, review - approved

#28530 Adding invalid in state to status code file
  src/app/util/af-enums.h
  src/protocols/interaction_model/StatusCodeList.h
Labels: app, review - approved

#28607 Fix k32w image instructions
  integrations/docker/images/stage-2/chip-build-k32w/Dockerfile
Labels: hotfix, integrations, docker

#28582 Separate out python dependencies for running scripts
  .github/workflows/tests.yaml
  integrations/docker/images/chip-cert-bins/Dockerfile
  scripts/build_python.sh
  scripts/py_matter_idl/setup.cfg
  scripts/py_matter_yamltests/setup.cfg
  scripts/setup/requirements.python_tests.txt
  scripts/tests/requirements.txt
  src/python_testing/requirements.txt
Labels: scripts, integrations, github, workflows, review - approved, docker

#28573 Reorder mode base and op state
  src/app/clusters/mode-base-server/mode-base-server.cpp
  src/app/clusters/mode-base-server/mode-base-server.h
Labels: app, review - approved

#28600 [BouffaloLab][BLE]Add BLE ManagerImpl ShutDown Function
  src/platform/bouffalolab/common/BLEManagerImpl.cpp
  src/platform/bouffalolab/common/BLEManagerImpl.h
  src/platform/bouffalolab/common/ConfigurationManagerImpl.cpp
  src/platform/bouffalolab/common/ConfigurationManagerImpl.h
Labels: platform, review - pending, fast track

#28606 [Telink] Fix restart BLE adv after commissioning fail
  examples/platform/telink/common/src/AppTaskCommon.cpp
Labels: examples, platform, review - pending, fast track

#28609 Fix bootstrap on M1/M2 mac.
  .github/actions/bootstrap/action.yaml
  .github/actions/checkout-submodules-and-bootstrap/action.yaml
  scripts/setup/requirements.all.txt
Labels: scripts, github, review - pending, fast track

#28613 Looking to remove dependencies from `requirements.all.txt`
  .github/actions/bootstrap/action.yaml
  scripts/py_matter_yamltests/setup.cfg
  scripts/setup/requirements.all.txt
  scripts/setup/requirements.yaml_tests.txt
Labels: scripts, github, review - pending, fast track

#28612 Fix TI_SYSCONFIG_ROOT in vscode dockerfile
  integrations/docker/images/base/chip-build/version
  integrations/docker/images/vscode/chip-build-vscode/Dockerfile
Labels: integrations, review - pending, fast track, docker

#28548 Add support for SmokeCO TC's in chip-all-clusters-app
  examples/all-clusters-app/all-clusters-common/src/smco-stub.cpp
  examples/all-clusters-app/linux/args.gni
  examples/all-clusters-app/tizen/BUILD.gn
  examples/all-clusters-minimal-app/tizen/BUILD.gn
  examples/platform/linux/AppMain.cpp
  examples/platform/linux/BUILD.gn
  src/app/chip_data_model.gni
  src/app/clusters/smoke-co-alarm-server/SmokeCOTestEventTriggerDelegate.cpp
  src/app/clusters/smoke-co-alarm-server/SmokeCOTestEventTriggerDelegate.h
  src/app/clusters/smoke-co-alarm-server/smoke-co-alarm-server.cpp
  src/app/clusters/smoke-co-alarm-server/smoke-co-alarm-server.h
Labels: examples, platform, app, review - approved

#28520 [ESP32] Add matter IP events for Ethernet
  src/platform/ESP32/ConnectivityManagerImpl.h
  src/platform/ESP32/ConnectivityManagerImpl_Ethernet.cpp
Labels: platform, esp32, review - approved

#28610 Check if Mode Base is already in the requested mode
  src/app/clusters/mode-base-server/mode-base-server.cpp
Labels: app, review - approved

#28524 Fix KeySetRemove to fail on key set index 0
  src/app/CommandHandler.cpp
  src/app/CommandHandler.h
  src/app/clusters/group-key-mgmt-server/group-key-mgmt-server.cpp
  src/app/tests/suites/TestGroupKeyManagementCluster.yaml
  src/credentials/FabricTable.cpp
  src/credentials/tests/TestFabricTable.cpp
Labels: app, review - approved, tests

#28624 Remove .kvs file that was accidentally merged
  examples/all-clusters-app/linux/.kvs
Labels: review - pending, fast track

#28633 Update Silabs docker to pull latest gsdk (v4.3.1)
  integrations/docker/images/base/chip-build/version
  integrations/docker/images/stage-2/chip-build-efr32/Dockerfile
Labels: integrations, review - approved, docker

#28304 [Linux] C++ version of autoptr for glib objects
  src/controller/python/chip/ble/LinuxImpl.cpp
  src/platform/GLibTypeDeleter.h
  src/platform/Linux/BLEManagerImpl.cpp
  src/platform/Linux/BLEManagerImpl.h
  src/platform/Linux/BUILD.gn
  src/platform/Linux/ConnectivityManagerImpl.cpp
  src/platform/Linux/ThreadStackManagerImpl.cpp
  src/platform/Linux/ThreadStackManagerImpl.h
  src/platform/Linux/bluez/AdapterIterator.cpp
  src/platform/Linux/bluez/AdapterIterator.h
  src/platform/Linux/bluez/ChipDeviceScanner.cpp
  src/platform/Linux/bluez/ChipDeviceScanner.h
  src/platform/Linux/bluez/Helper.cpp
  src/platform/Linux/bluez/Helper.h
  src/platform/webos/BLEManagerImpl.h
  src/platform/webos/BUILD.gn
  src/platform/webos/GlibTypeDeleter.h
  src/platform/webos/ThreadStackManagerImpl.h
Labels: platform, linux, controller, review - approved

#28536 [ReadHandler] Removed Scheduling of report from OnReadHandlerCreated
  src/app/ReadHandler.cpp
  src/app/ReadHandler.h
  src/app/reporting/Engine.cpp
  src/app/reporting/ReportScheduler.h
  src/app/reporting/ReportSchedulerImpl.cpp
  src/app/reporting/ReportSchedulerImpl.h
  src/app/tests/TestReadInteraction.cpp
  src/app/tests/TestReportScheduler.cpp
Labels: app, review - approved, tests

#28632 [Silabs]Fix wifi ncp built as ICDs.
  examples/platform/silabs/efr32/rs911x/rsi_if.c
  examples/platform/silabs/efr32/rs911x/wfx_rsi.h
  examples/platform/silabs/efr32/rs911x/wfx_rsi_host.c
  src/platform/silabs/CHIPDevicePlatformConfig.h
  src/platform/silabs/efr32/wifi/wfx_host_events.h
Labels: examples, platform, review - approved, silabs

#28634 Make AddStatus generally VerifyOrDie and have centralized logging
  src/app/CommandHandler.cpp
  src/app/CommandHandler.h
  src/app/CommandResponseHelper.h
  src/app/clusters/barrier-control-server/barrier-control-server.cpp
  src/app/clusters/door-lock-server/door-lock-server.cpp
  src/app/clusters/door-lock-server/door-lock-server.h
  src/app/clusters/general-commissioning-server/general-commissioning-server.cpp
  src/app/clusters/group-key-mgmt-server/group-key-mgmt-server.cpp
  src/app/clusters/groups-server/groups-server.cpp
  src/app/clusters/window-covering-server/window-covering-server.cpp
  src/app/tests/TestCommandInteraction.cpp
  src/controller/tests/data_model/TestCommands.cpp
Labels: controller, app, review - approved, tests

#28644 Testing cert bins
  .github/workflows/build-cert-bins.yaml
  integrations/docker/images/chip-cert-bins/Dockerfile
Labels: integrations, github, workflows, docker

#28641 Make it final for fields are only assgined during initialization
  src/controller/java/src/chip/devicecontroller/model/AttributeState.java
  src/controller/java/src/chip/devicecontroller/model/ChipEventPath.java
  src/controller/java/src/chip/devicecontroller/model/ChipPathId.java
  src/controller/java/src/chip/devicecontroller/model/EventState.java
Labels: controller, review - approved

#28628 [ESP32] Fix the parentheses and ifdefs during ble deinit
  examples/platform/esp32/common/CommonDeviceCallbacks.cpp
  src/platform/ESP32/bluedroid/BLEManagerImpl.cpp
Labels: examples, platform, esp32, review - approved

#28661 Revert "Make AddStatus generally VerifyOrDie and have centralized logging (#28634)"
  src/app/CommandHandler.cpp
  src/app/CommandHandler.h
  src/app/CommandResponseHelper.h
  src/app/clusters/barrier-control-server/barrier-control-server.cpp
  src/app/clusters/door-lock-server/door-lock-server.cpp
  src/app/clusters/door-lock-server/door-lock-server.h
  src/app/clusters/general-commissioning-server/general-commissioning-server.cpp
  src/app/clusters/group-key-mgmt-server/group-key-mgmt-server.cpp
  src/app/clusters/groups-server/groups-server.cpp
  src/app/clusters/window-covering-server/window-covering-server.cpp
  src/app/tests/TestCommandInteraction.cpp
  src/controller/tests/data_model/TestCommands.cpp
Labels: hotfix, controller, app, fast track, tests

#28666 [Silabs]Fix SiWx917 soc builds
  examples/platform/silabs/FreeRTOSConfig.h
  examples/platform/silabs/MatterConfig.cpp
  examples/platform/silabs/MatterConfig.h
  examples/platform/silabs/SiWx917/BUILD.gn
  examples/platform/silabs/SiWx917/uart.cpp
  src/platform/silabs/platformAbstraction/WiseMcuSpam.cpp
Labels: examples, platform, review - approved, silabs

#28667 enable wconversion for matter controller java/jni
  src/controller/java/BUILD.gn
  src/controller/java/CHIPDeviceController-JNI.cpp
Labels: controller, review - approved

#28663 [Silabs]Always print in logs the QR code unconditionnally of the LCD presence
  examples/platform/silabs/BaseApplication.cpp
  examples/platform/silabs/BaseApplication.h
Labels: examples, platform, review - approved

#28675 Add missing locks around nodeIDToDeviceMap access.
  src/darwin/Framework/CHIP/MTRDeviceController.mm
Labels: darwin, review - approved

#28571 [ESP32]: Add way to configure BLE scan response.
  docs/guides/esp32/README.md
  docs/guides/esp32/ble_settings.md
  src/platform/ESP32/BLEManagerImpl.h
  src/platform/ESP32/nimble/BLEManagerImpl.cpp
Labels: documentation, platform, esp32, review - approved

#28660 [Silabs] Update lock app to send correct lock operation event
  examples/lock-app/silabs/include/LockManager.h
  examples/lock-app/silabs/src/AppTask.cpp
  examples/lock-app/silabs/src/LockManager.cpp
  examples/lock-app/silabs/src/ZclCallbacks.cpp
Labels: examples, review - approved

#28657 [ReadHandler] Unification of serial "now" timestamp
  src/app/reporting/ReportScheduler.h
  src/app/reporting/ReportSchedulerImpl.cpp
  src/app/reporting/ReportSchedulerImpl.h
  src/app/reporting/SynchronizedReportSchedulerImpl.cpp
  src/app/reporting/SynchronizedReportSchedulerImpl.h
Labels: app, review - approved

#28577 Update operational state server and related examples
  examples/all-clusters-app/all-clusters-common/include/operational-state-delegate-impl.h
  examples/all-clusters-app/all-clusters-common/src/operational-state-delegate-impl.cpp
  examples/all-clusters-app/all-clusters-common/src/operational-state-delegates.cpp
  examples/all-clusters-app/linux/BUILD.gn
  examples/all-clusters-app/linux/main-common.cpp
  examples/dishwasher-app/asr/BUILD.gn
  examples/dishwasher-app/asr/src/AppTask.cpp
  examples/dishwasher-app/dishwasher-common/include/operational-state-delegate-impl.h
  examples/dishwasher-app/dishwasher-common/include/operational-state-delegates.h
  examples/dishwasher-app/dishwasher-common/src/operational-state-delegate-impl.cpp
  examples/dishwasher-app/dishwasher-common/src/operational-state-delegates.cpp
  examples/dishwasher-app/linux/BUILD.gn
  examples/dishwasher-app/linux/main.cpp
  src/app/clusters/operational-state-server/operational-state-cluster-objects.h
  src/app/clusters/operational-state-server/operational-state-server.cpp
  src/app/clusters/operational-state-server/operational-state-server.h
Labels: examples, app, review - approved

#28659 TC-TIMESYNC-2.1: Time source is not mandatory
  src/python_testing/TC_TIMESYNC_2_1.py
Labels: review - approved

#28665 RVC - add tests to CI
  .github/workflows/tests.yaml
  src/app/tests/suites/ciTests.json
Labels: app, github, workflows, review - approved, tests

#28638 Bugfix using CHIP_CONFIG_SECURITY_TEST_MODE will not allow to build.
  src/platform/OpenThread/OpenThreadUtils.cpp
Labels: platform, review - approved

#28650 Workflow fail summarization
  .github/workflows/recent_fail_summary.yaml
  scripts/tools/summarize_fail.py
Labels: scripts, github, workflows, review - pending

#28565 Validate if the Current Group = RemovedGroup before invalidating scene
  src/app/clusters/scenes-server/scenes-server.cpp
Labels: app, review - approved

#28642 [TC-DRLK-2.10] Add cleanup of Lock User created in step 5a
  src/app/tests/suites/certification/Test_TC_DRLK_2_10.yaml
Labels: app, review - approved, tests

#27601 doc: chip_tool_guide: doorlock user & credentials
  docs/guides/chip_tool_guide.md
Labels: documentation, review - approved

#28653 virtual-device-app: Add ColorControlManager for Extended Color Light
  examples/virtual-device-app/android/BUILD.gn
  examples/virtual-device-app/android/java/ClusterChangeAttribute.cpp
  examples/virtual-device-app/android/java/ColorControlManager.cpp
  examples/virtual-device-app/android/java/ColorControlManager.h
  examples/virtual-device-app/android/java/DeviceApp-JNI.cpp
  examples/virtual-device-app/android/java/src/com/matter/virtual/device/app/ColorControlManager.java
  examples/virtual-device-app/virtual-device-common/virtual-device-app.matter
  examples/virtual-device-app/virtual-device-common/virtual-device-app.zap
Labels: examples, review - approved

#28712 [Android]add missing json member for AttributeWriteRequest
  src/controller/java/src/chip/devicecontroller/model/AttributeWriteRequest.java
  src/controller/java/src/chip/devicecontroller/model/InvokeElement.java
Labels: controller, review - approved

#28588 [RVCOPSTATE-2.3] Add a check for PICS
  src/python_testing/TC_RVCOPSTATE_2_3.py
Labels: review - approved

#28371 [chiptool runner] Rename TestParserHooks methods
  scripts/py_matter_yamltests/matter_yamltests/hooks.py
  scripts/py_matter_yamltests/matter_yamltests/parser_builder.py
  scripts/py_matter_yamltests/test_parser_builder.py
  scripts/tests/yaml/tests_logger.py
Labels: scripts, review - pending, fast track

#28662 Linux tv-casting-app: refactored Initialization
  examples/tv-casting-app/linux/BUILD.gn
  examples/tv-casting-app/linux/simple-app.cpp
  examples/tv-casting-app/tv-casting-common/BUILD.gn
  examples/tv-casting-app/tv-casting-common/core/CastingApp.cpp
  examples/tv-casting-app/tv-casting-common/core/CastingApp.h
  examples/tv-casting-app/tv-casting-common/core/Types.h
  examples/tv-casting-app/tv-casting-common/support/AppParameters.h
  examples/tv-casting-app/tv-casting-common/support/DataProvider.h
Labels: examples, review - approved, tv-casting

#28615 [OPSTATE-2.3] Add checks for PICS
  src/python_testing/TC_OPSTATE_2_3.py
Labels: review - approved

#28623 [zephyr] Run shell commands in Matter thread
  src/lib/shell/MainLoopZephyr.cpp
Labels: lib, review - approved, shell

#28715 Remove dead code from ConfigurationManagerImpl
  src/platform/Ameba/AmebaConfig.cpp
  src/platform/Ameba/AmebaConfig.h
  src/platform/Beken/BekenConfig.cpp
  src/platform/Beken/BekenConfig.h
  src/platform/ESP32/ESP32Config.cpp
  src/platform/ESP32/ESP32Config.h
  src/platform/Linux/ConfigurationManagerImpl.cpp
  src/platform/Linux/ConfigurationManagerImpl.h
  src/platform/Linux/PosixConfig.cpp
  src/platform/Linux/PosixConfig.h
  src/platform/Tizen/PosixConfig.cpp
  src/platform/Tizen/PosixConfig.h
  src/platform/android/AndroidConfig.cpp
  src/platform/android/AndroidConfig.h
  src/platform/android/ConfigurationManagerImpl.cpp
  src/platform/android/ConfigurationManagerImpl.h
  src/platform/bouffalolab/common/BLConfig.h
  src/platform/cc32xx/CC32XXConfig.cpp
  src/platform/cc32xx/CC32XXConfig.h
  src/platform/mbed/MbedConfig.cpp
  src/platform/mbed/MbedConfig.h
  src/platform/webos/ConfigurationManagerImpl.cpp
  src/platform/webos/ConfigurationManagerImpl.h
  src/platform/webos/PosixConfig.cpp
  src/platform/webos/PosixConfig.h
Labels: platform, esp32, linux, review - approved, tizen

#28710 Fix warning Classes that contain only a companion object should be re…
  src/controller/java/src/chip/onboardingpayload/Verhoeff.kt
Labels: controller, review - approved

#28654 clear dstoffset when DSTOffsetRequired is true
  src/app/clusters/time-synchronization-server/time-synchronization-server.cpp
Labels: app, review - approved, time sync

#28713 Fix complains about an unused output
  src/controller/java/tests/chip/onboardingpayload/ManualCodeTest.kt
Labels: controller, review - approved

#28732 [Silabs] Fix build with Silabs crendential provider
  examples/platform/silabs/SilabsDeviceAttestationCreds.h
Labels: examples, platform, review - approved

#28733 [ReadHandler] Sync logic rework
  src/app/reporting/ReportScheduler.h
  src/app/reporting/ReportSchedulerImpl.cpp
  src/app/reporting/SynchronizedReportSchedulerImpl.cpp
  src/app/tests/TestReportScheduler.cpp
Labels: app, review - approved, tests

#28739 [TC-DT-1.1] Fix Wild card read if thread diagnostic attributes on wifi devices.
  src/include/platform/internal/GenericConnectivityManagerImpl_NoThread.h
Labels: platform, review - approved

#28743 Make CertType an enum class instead of an anonymous enum / uint8_t
  src/app/server/Server.h
  src/credentials/CHIPCert.cpp
  src/credentials/CHIPCert.h
  src/credentials/CHIPCertificateSet.h
  src/credentials/GenerateChipX509Cert.cpp
  src/credentials/tests/TestChipCert.cpp
  src/tools/chip-cert/CertUtils.cpp
  src/tools/chip-cert/Cmd_GenCert.cpp
  src/tools/chip-cert/chip-cert.h
Labels: tools, app, review - approved

#28756 [Apps]Remove scene cluster from the thermostat app and window-cover app
  examples/thermostat/thermostat-common/thermostat.matter
  examples/thermostat/thermostat-common/thermostat.zap
  examples/window-app/common/window-app.matter
  examples/window-app/common/window-app.zap
Labels: examples, review - approved

#27340 [Silabs]DIC refactor changes
  examples/lighting-app/silabs/src/ZclCallbacks.cpp
  examples/lock-app/silabs/src/ZclCallbacks.cpp
  examples/platform/silabs/BaseApplication.cpp
  examples/platform/silabs/FreeRTOSConfig.h
  examples/platform/silabs/SiWx917/BUILD.gn
  examples/platform/silabs/efr32/BUILD.gn
  src/lwip/silabs/lwipopts-wf200.h
  third_party/silabs/efr32_sdk.gni
  third_party/silabs/silabs_board.gni
Labels: examples, platform, review - approved, lwip

#28742 [Android] Add to get DeviceTypeId, DeviceName on Android app server
  src/platform/android/AndroidConfig.cpp
  src/platform/android/AndroidConfig.h
  src/platform/android/ConfigurationManagerImpl.cpp
  src/platform/android/ConfigurationManagerImpl.h
  src/platform/android/java/chip/platform/ConfigurationManager.java
Labels: platform, review - approved

#28744 [Android] virtual-device-app: Enable DoorLock/PowerSource cluster
  examples/virtual-device-app/virtual-device-common/virtual-device-app.matter
  examples/virtual-device-app/virtual-device-common/virtual-device-app.zap
Labels: examples, review - approved

#28758 Fix RVCRUNM and RVCCLEANM TC-1-2
  src/python_testing/TC_RVCCLEANM_1_2.py
  src/python_testing/TC_RVCRUNM_1_2.py
Labels: review - approved

#28759 [Android]add json support for invoke and write
  examples/java-matter-controller/java/src/com/matter/controller/commands/pairing/PairOnNetworkLongImInvokeCommand.kt
  examples/java-matter-controller/java/src/com/matter/controller/commands/pairing/PairOnNetworkLongImWriteCommand.kt
  src/controller/java/AndroidCallbacks.cpp
  src/controller/java/CHIPDeviceController-JNI.cpp
Labels: examples, controller, review - approved

#28760 [Json/Tlv]Add convertTlvTag function
  src/lib/support/jsontlv/JsonToTlv.cpp
  src/lib/support/jsontlv/JsonToTlv.h
Labels: lib, review - approved, support

#28651 [Ameba] dont init rtc again during set
  src/platform/Ameba/SystemTimeSupport.cpp
Labels: platform, review - approved

#28724 [Android] Remove Fabric ID negative value check
  src/controller/java/src/chip/devicecontroller/ControllerParams.java
Labels: controller, review - approved

#28761 [Silabs]Update Silabs lighting-app zap files.
  examples/lighting-app/silabs/data_model/lighting-thread-app.matter
  examples/lighting-app/silabs/data_model/lighting-thread-app.zap
  examples/lighting-app/silabs/data_model/lighting-wifi-app.matter
  examples/lighting-app/silabs/data_model/lighting-wifi-app.zap
Labels: review - approved

#28619 Bug/air quality sensor app leak
  examples/air-quality-sensor-app/linux/AirQualitySensorAppAttrUpdateDelegate.cpp
  examples/air-quality-sensor-app/linux/README.md
Labels: examples, review - approved

#28468 [Silabs] Adds bugfix for building applications on SiWx917 SoC
  examples/lighting-app/silabs/src/AppTask.cpp
  examples/platform/silabs/BaseApplication.cpp
  examples/platform/silabs/MatterConfig.cpp
  examples/platform/silabs/SiWx917/SiWx917/hal/rsi_hal_mcu_m4.c
  src/platform/silabs/platformAbstraction/WiseMcuSpam.cpp
Labels: examples, platform, review - approved, silabs

#28691 [Cherrypick] Change to prefer IPv6 link local address
  src/lib/dnssd/IPAddressSorter.h
Labels: lib

#28755 Added an example Laundry Washer configuration to chef devices.
  examples/chef/devices/rootnode_laundrywasher_fb10d238c8.matter
  examples/chef/devices/rootnode_laundrywasher_fb10d238c8.zap
  examples/chef/sample_app_util/matter_device_types.json
Labels: examples, review - pending, fast track

#28754 Added an example Refrigerator configuration to chef devices.
  examples/chef/devices/rootnode_refrigerator_temperaturecontrolledcabinet_temperaturecontrolledcabinet_ffdb696680.matter
  examples/chef/devices/rootnode_refrigerator_temperaturecontrolledcabinet_temperaturecontrolledcabinet_ffdb696680.zap
  examples/chef/sample_app_util/matter_device_types.json
Labels: examples, review - pending, fast track
