Repository project-chip/connectedhomeip, pull requests merged in 2023-12, with the labels that each got.

#30762 [icd] fix `DefaultICDClientStorage::LoadFabricList`
  src/app/icd/client/DefaultICDClientStorage.cpp
  src/app/tests/TestDefaultICDClientStorage.cpp
Labels: app, review - approved, tests, icd

#30694 Remove scripts/tools/sdk.json
  scripts/tools/sdk.json
Labels: scripts, review - pending, fast track

#30765 Create a short summary of all defined clusters in markdown format (based on controller-clusters)
  .restyled.yaml
  .spellcheck.yml
  docs/clusters.md
  docs/index.md
  scripts/py_matter_idl/matter_idl/generators/markdown/__init__.py
  scripts/py_matter_idl/matter_idl/generators/markdown/clusters_markdown.jinja
  scripts/py_matter_idl/matter_idl/generators/registry.py
  scripts/tools/zap_regen_all.py
Labels: documentation, scripts, review - approved

#30763 [ESP32] Fix adding NDEBUG flag to CPPFLAGS
  config/esp32/components/chip/CMakeLists.txt
Labels: config, review - approved

#30769 Revert "Update Java8 Optional handling in JniReferences (#30071)"
  src/lib/support/JniReferences.cpp
  src/lib/support/JniReferences.h
Labels: lib, review - approved, support

#30768 [Silabs]Remove UpdateLCDStatusScreen from the onPlatformEvent
  examples/platform/silabs/BaseApplication.cpp
Labels: review - pending, fast track

#30761 Replace usage of ERROR_EMPTY with ERROR_NOT_FOUND
  docs/ERROR_CODES.md
  src/lib/address_resolve/AddressResolve.h
  src/lib/address_resolve/AddressResolve_DefaultImpl.cpp
  src/lib/core/CHIPError.cpp
  src/lib/core/CHIPError.h
  src/lib/core/tests/TestCHIPErrorStr.cpp
  src/lib/shell/commands/Dns.cpp
Labels: documentation, lib, review - approved, shell, core

#30806 Fix session eviction handling of eviction hints.
  src/transport/SecureSessionTable.cpp
  src/transport/SecureSessionTable.h
  src/transport/tests/TestSecureSessionTable.cpp
Labels: transport, review - approved

#30802 [Crypto] Rename aes key byte array to symmetric key byte array
  src/app/icd/ICDCheckInSender.cpp
  src/app/icd/ICDMonitoringTable.cpp
  src/app/icd/client/DefaultICDClientStorage.cpp
  src/app/icd/client/DefaultICDClientStorage.h
  src/app/icd/client/ICDClientInfo.h
  src/credentials/GroupDataProviderImpl.h
  src/crypto/CHIPCryptoPAL.h
  src/crypto/CHIPCryptoPALOpenSSL.cpp
  src/crypto/CHIPCryptoPALmbedTLS.cpp
  src/crypto/PSASessionKeystore.cpp
  src/crypto/PSASessionKeystore.h
  src/crypto/RawKeySessionKeystore.cpp
  src/crypto/RawKeySessionKeystore.h
  src/crypto/SessionKeystore.h
  src/crypto/tests/CHIPCryptoPALTest.cpp
  src/crypto/tests/TestSessionKeystore.cpp
  src/platform/nxp/common/crypto/CHIPCryptoPALTinyCrypt.cpp
  src/platform/nxp/crypto/se05x/CHIPCryptoPALHost.cpp
  src/platform/nxp/k32w/k32w0/crypto/CHIPCryptoPALNXPUltrafastP256.cpp
  src/platform/nxp/k32w/k32w1/CHIPCryptoPalK32W1.cpp
  src/platform/silabs/SiWx917/CHIPCryptoPALTinyCrypt.cpp
  src/platform/silabs/efr32/CHIPCryptoPALPsaEfr32.cpp
  src/protocols/secure_channel/CheckinMessage.cpp
  src/protocols/secure_channel/tests/TestCheckinMsg.cpp
Labels: platform, crypto, app, review - approved, icd, silabs, protocols

#30801 Refactored SL_SYSTEM_VIEW to SL_CATALOG_SYSTEMVIEW_TRACE_PRESENT
  examples/platform/silabs/FreeRTOSConfig.h
  src/platform/silabs/platformAbstraction/GsdkSpam.cpp
  third_party/silabs/efr32_sdk.gni
Labels: examples, platform, review - approved, silabs

#30770 [ICD] Store UserActiveModeTriggerHint and instruction into ICD storage
  src/app/icd/client/DefaultICDClientStorage.cpp
  src/app/icd/client/DefaultICDClientStorage.h
  src/app/icd/client/ICDClientInfo.h
  src/app/tests/TestDefaultICDClientStorage.cpp
Labels: app, review - approved, tests, icd

#30803 Store chip-tool interactive history in the general chip-tool storage directory.
  examples/chip-tool/commands/interactive/InteractiveCommands.cpp
  examples/chip-tool/commands/interactive/InteractiveCommands.h
Labels: tools, examples, review - pending, fast track

#30822 [Chef] Fix AirQualitySensor to support RPC write
  examples/chef/common/chef-air-quality.cpp
  examples/chef/common/chef-air-quality.h
  examples/chef/common/chef-concentration-measurement.cpp
  examples/chef/common/chef-concentration-measurement.h
  examples/chef/common/stubs.cpp
  examples/chef/devices/rootnode_airqualitysensor_e63187f6c9.matter
  examples/chef/devices/rootnode_airqualitysensor_e63187f6c9.zap
Labels: examples, review - approved

#30636 TC-OO-2.3 script tolerance issue fix
  src/app/tests/suites/certification/Test_TC_OO_2_3.yaml
Labels: app, review - pending, fast track, tests

#30824 ChipDeviceCtrl: Fix type & doc for WriteAttribute
  src/controller/python/chip/ChipDeviceCtrl.py
Labels: controller, review - approved

#30608 [ReportScheduler] Fixed chunked reporting for Synchronized Report Scheduler
  src/app/reporting/ReportScheduler.h
  src/app/reporting/ReportSchedulerImpl.h
  src/app/reporting/SynchronizedReportSchedulerImpl.cpp
  src/app/reporting/SynchronizedReportSchedulerImpl.h
  src/app/reporting/tests/MockReportScheduler.cpp
  src/app/tests/TestReadInteraction.cpp
  src/app/tests/TestReportScheduler.cpp
Labels: app, review - approved, tests

#30828 Update Darwin availability annotations for media clusters.
  src/darwin/Framework/CHIP/templates/availability.yaml
Labels: darwin, fast track

#30809 configure: Add support for pre-generated code
  scripts/configure
  scripts/configure.impl.py
Labels: scripts, review - approved

#30832 change docs tracked todo to point to issues list
  docs/ci-cd/index.md
Labels: review - pending, fast track

#30829 [Crypto] Add HMAC key handle support in Crypto PAL
  src/app/icd/ICDCheckInSender.h
  src/app/icd/ICDMonitoringTable.h
  src/app/icd/client/ICDClientInfo.h
  src/credentials/GroupDataProviderImpl.h
  src/crypto/CHIPCryptoPAL.cpp
  src/crypto/CHIPCryptoPAL.h
  src/crypto/CHIPCryptoPALOpenSSL.cpp
  src/crypto/CHIPCryptoPALPSA.cpp
  src/crypto/CHIPCryptoPALmbedTLS.cpp
  src/crypto/PSASessionKeystore.cpp
  src/crypto/PSASessionKeystore.h
  src/crypto/RawKeySessionKeystore.cpp
  src/crypto/RawKeySessionKeystore.h
  src/crypto/SessionKeystore.h
  src/crypto/tests/CHIPCryptoPALTest.cpp
  src/crypto/tests/TestSessionKeystore.cpp
  src/platform/nxp/common/crypto/CHIPCryptoPALTinyCrypt.cpp
  src/platform/nxp/crypto/se05x/CHIPCryptoPALHost.cpp
  src/platform/nxp/k32w/k32w0/crypto/CHIPCryptoPALNXPUltrafastP256.cpp
  src/platform/nxp/k32w/k32w1/CHIPCryptoPalK32W1.cpp
  src/platform/silabs/SiWx917/CHIPCryptoPALTinyCrypt.cpp
  src/platform/silabs/efr32/CHIPCryptoPALPsaEfr32.cpp
  src/protocols/secure_channel/CheckinMessage.cpp
  src/protocols/secure_channel/CheckinMessage.h
  src/protocols/secure_channel/tests/TestCheckinMsg.cpp
  src/transport/CryptoContext.h
Labels: transport, platform, crypto, app, review - approved, icd, silabs, protocols

#30794 Check mBleEndPoint before sending messages in BLEBase
  src/transport/raw/BLE.cpp
Labels: transport, review - approved

#30780 [ESP32] Limit number of returned WiFi scan results to configured limit
  src/platform/ESP32/NetworkCommissioningDriver.cpp
Labels: platform, esp32, review - approved

#30840 [Chef] Fix AirQualitySensor hardcoded endpointId as 1
  examples/chef/common/chef-air-quality.cpp
Labels: examples, review - approved

#30800 Increase BLE timeouts in Linux platform
  src/platform/Linux/BLEManagerImpl.cpp
Labels: platform, linux, review - approved

#30657 Use global and local setup/terdown when using chip::Test::AppContext
  src/app/tests/AppTestContext.cpp
  src/app/tests/AppTestContext.h
  src/app/tests/TestAclEvent.cpp
  src/app/tests/TestBufferedReadCallback.cpp
  src/app/tests/TestClusterStateCache.cpp
  src/app/tests/TestCommandInteraction.cpp
  src/app/tests/TestEventLogging.cpp
  src/app/tests/TestEventLoggingNoUTCTime.cpp
  src/app/tests/TestEventOverflow.cpp
  src/app/tests/TestFabricScopedEventLogging.cpp
  src/app/tests/TestICDManager.cpp
  src/app/tests/TestInteractionModelEngine.cpp
  src/app/tests/TestReadInteraction.cpp
  src/app/tests/TestReportScheduler.cpp
  src/app/tests/TestReportingEngine.cpp
  src/app/tests/TestTimedHandler.cpp
  src/app/tests/TestWriteInteraction.cpp
  src/controller/tests/TestEventCaching.cpp
  src/controller/tests/TestEventChunking.cpp
  src/controller/tests/TestEventNumberCaching.cpp
  src/controller/tests/TestReadChunking.cpp
  src/controller/tests/TestServerCommandDispatch.cpp
  src/controller/tests/TestWriteChunking.cpp
  src/controller/tests/data_model/TestCommands.cpp
  src/controller/tests/data_model/TestRead.cpp
  src/controller/tests/data_model/TestWrite.cpp
  src/messaging/tests/MessagingContext.cpp
  src/transport/raw/tests/NetworkTestHelpers.h
  src/transport/tests/LoopbackTransportManager.h
Labels: transport, controller, app, review - pending, fast track, tests, messaging

#30843 [ICD]prefix icd_cic key with g/ as it is a generic key/not tied to a fabric
  src/lib/support/DefaultStorageKeyAllocator.h
Labels: review - approved

#30845 Update Darwin storage documentation for new key.
  src/darwin/Framework/CHIP/MTRDemuxingStorage.mm
Labels: review - approved

#30846 Mark DeviceEnergyManagement as provisional on Darwin for now.
  src/darwin/Framework/CHIP/templates/availability.yaml
Labels: darwin, review - approved

#30848 [ICD] Fix typos in the CheckAdmin function comment in the ICDM cluster
  src/app/clusters/icd-management-server/icd-management-server.cpp
Labels: app, review - approved

#30751 [Crypto] Add HMAC function using KeyHandle
  src/app/icd/ICDCheckInSender.h
  src/app/icd/ICDMonitoringTable.h
  src/app/icd/client/ICDClientInfo.h
  src/credentials/GroupDataProviderImpl.h
  src/crypto/CHIPCryptoPAL.cpp
  src/crypto/CHIPCryptoPAL.h
  src/crypto/CHIPCryptoPALOpenSSL.cpp
  src/crypto/CHIPCryptoPALPSA.cpp
  src/crypto/CHIPCryptoPALmbedTLS.cpp
  src/crypto/PSASessionKeystore.cpp
  src/crypto/PSASessionKeystore.h
  src/crypto/RawKeySessionKeystore.cpp
  src/crypto/RawKeySessionKeystore.h
  src/crypto/SessionKeystore.h
  src/crypto/tests/CHIPCryptoPALTest.cpp
  src/crypto/tests/HMAC_SHA256_test_vectors.h
  src/crypto/tests/TestSessionKeystore.cpp
  src/platform/nxp/common/crypto/CHIPCryptoPALTinyCrypt.cpp
  src/platform/nxp/crypto/se05x/CHIPCryptoPALHost.cpp
  src/platform/nxp/crypto/se05x/CHIPCryptoPALHsm_se05x_hmac.cpp
  src/platform/nxp/k32w/k32w0/crypto/CHIPCryptoPALNXPUltrafastP256.cpp
  src/platform/nxp/k32w/k32w1/CHIPCryptoPalK32W1.cpp
  src/platform/silabs/SiWx917/CHIPCryptoPALTinyCrypt.cpp
  src/platform/silabs/efr32/CHIPCryptoPALPsaEfr32.cpp
  src/protocols/secure_channel/CheckinMessage.cpp
  src/protocols/secure_channel/CheckinMessage.h
  src/protocols/secure_channel/tests/TestCheckinMsg.cpp
  src/transport/CryptoContext.h
Labels: transport, platform, crypto, app, review - approved, icd, silabs, protocols

#30852 Update ZAP to fix handling of non-lowercase atomic type names.
  scripts/setup/zap.json
  scripts/setup/zap.version
  scripts/tools/zap/zap_execution.py
Labels: scripts, review - pending, fast track

#30826 Opcreds: Check for invalid admin subject
  src/app/clusters/operational-credentials-server/operational-credentials-server.cpp
Labels: app, review - approved

#30867 [ESP32] Fix compile error when bt is disabled
  config/esp32/components/chip/CMakeLists.txt
  examples/light-switch-app/esp32/main/DeviceCallbacks.cpp
Labels: examples, config, review - approved

#30723 Add new clusters to MA-temperature-controlled-cabinet
  src/app/zap-templates/zcl/data-model/chip/matter-devices.xml
Labels: app, review - approved

#30864 [controller] fix issues in #30260
  src/controller/AutoCommissioner.cpp
  src/controller/CHIPDeviceController.cpp
Labels: controller, review - approved

#30663 [Scenes] EFS TLV container fix
  src/app/clusters/scenes-server/ExtensionFieldSets.h
  src/app/clusters/scenes-server/ExtensionFieldSetsImpl.cpp
  src/app/clusters/scenes-server/ExtensionFieldSetsImpl.h
  src/app/clusters/scenes-server/SceneTableImpl.cpp
  src/app/tests/TestExtensionFieldSets.cpp
  src/lib/core/CHIPConfig.h
Labels: lib, app, review - approved, tests, core

#30885 [Darwin] MTRDevice should reset subscription retry backoff on triggering condition
  src/darwin/Framework/CHIP/MTRBaseSubscriptionCallback.h
  src/darwin/Framework/CHIP/MTRBaseSubscriptionCallback.mm
  src/darwin/Framework/CHIP/MTRDevice.mm
Labels: darwin, review - pending, fast track

#30282 [Silabs] Add support for the Lit icd sample app
  docs/examples/index.md
  examples/lit-icd-app/silabs/BUILD.gn
  examples/lit-icd-app/silabs/README.md
  examples/lit-icd-app/silabs/build_for_wifi_args.gni
  examples/lit-icd-app/silabs/build_for_wifi_gnfile.gn
  examples/lit-icd-app/silabs/build_overrides
  examples/lit-icd-app/silabs/include/AppConfig.h
  examples/lit-icd-app/silabs/include/AppEvent.h
  examples/lit-icd-app/silabs/include/AppTask.h
  examples/lit-icd-app/silabs/include/CHIPProjectConfig.h
  examples/lit-icd-app/silabs/include/ShellCommands.h
  examples/lit-icd-app/silabs/openthread.gn
  examples/lit-icd-app/silabs/openthread.gni
  examples/lit-icd-app/silabs/src/AppTask.cpp
  examples/lit-icd-app/silabs/src/ShellCommands.cpp
  examples/lit-icd-app/silabs/src/ZclCallbacks.cpp
  examples/lit-icd-app/silabs/third_party/connectedhomeip
Labels: documentation, examples, review - approved

#30881 [ICD] Refactor ICD Monitoring Table to support HMAC handle and AES key handle
  src/app/icd/ICDCheckInSender.cpp
  src/app/icd/ICDCheckInSender.h
  src/app/icd/ICDMonitoringTable.cpp
  src/app/icd/ICDMonitoringTable.h
  src/app/tests/TestICDMonitoringTable.cpp
  src/crypto/SessionKeystore.h
Labels: crypto, app, review - approved, tests, icd

#30895 Remove unused files from `src/app/zap-templates/zcl/data-model/draft/`
  src/app/clusters/thermostat-user-interface-configuration-server/thermostat-user-interface-configuration-server.cpp
  src/app/zap-templates/zcl/data-model/draft/EN50523-appliance-identification.xml
  src/app/zap-templates/zcl/data-model/draft/meter-identification.xml
  src/app/zap-templates/zcl/data-model/draft/types/ballast-configuration.xml
  src/app/zap-templates/zcl/data-model/draft/types/dehumidification-control.xml
  src/app/zap-templates/zcl/data-model/draft/types/door-lock.xml
  src/app/zap-templates/zcl/data-model/draft/types/illuminance-level-sensing.xml
  src/app/zap-templates/zcl/data-model/draft/types/onoff-switch-configuration.xml
  src/app/zap-templates/zcl/data-model/draft/types/power-profile.xml
  src/app/zap-templates/zcl/data-model/draft/types/thermostat-user-interface-configuration.xml
  src/app/zap-templates/zcl/data-model/draft/types/thermostat.xml
Labels: app, review - approved

#30710 Fail server init if error on transport init
  src/app/server/Server.cpp
Labels: app, review - approved

#30891 [NXP] Remove circular dependency on application code in platform file ConfigurationManagerImpl.cpp
  examples/all-clusters-app/nxp/common/main/AppTask.cpp
  src/platform/nxp/common/ConfigurationManagerImpl.cpp
Labels: examples, platform, review - pending, fast track

#30876 Ensure fields are always initialized in TLVWriters
  src/lib/core/TLVUpdater.cpp
  src/lib/core/TLVWriter.cpp
  src/lib/core/TLVWriter.h
  src/lib/core/tests/TestTLV.cpp
Labels: lib, review - approved, core

#30841 Initial test scripts for BSENCFG and VCC test cases
  src/controller/python/chip/clusters/__init__.py
  src/python_testing/TC_BSENCFG_2_1.py
  src/python_testing/TC_VCC_2_1 .py
Labels: controller, review - approved, tests

#30922 Revert "Bump actions/labeler from 4 to 5 (#30911)"
  .github/workflows/labeler.yaml
Labels: hotfix

#30920 ESP32: Update esp-idf to v5.1.2
  integrations/docker/images/base/chip-build/version
  integrations/docker/images/stage-2/chip-build-esp32/Dockerfile
Labels: integrations, review - pending, fast track, docker

#30880 Add ability for chip-repl to grab MaxPathsPerInvoke of remote node
  src/controller/python/chip/ChipDeviceCtrl.py
  src/controller/python/chip/interaction_model/__init__.py
  src/controller/python/chip/interaction_model/delegate.py
  src/controller/python/chip/utils/DeviceProxyUtils.cpp
Labels: controller, review - pending, fast track

#30923 Address post merge PR review comment in CommandSender
  src/app/CommandSender.h
Labels: app, review - pending

#30811 [Tizen] Do not try to get Thread MAC if Thread API is uninitialized
  src/platform/Tizen/ThreadStackManagerImpl.cpp
Labels: platform, review - approved, tizen

#30795 Enable op state pause and resume for compatible states
  examples/all-clusters-app/all-clusters-common/src/operational-state-delegate-impl.cpp
  examples/all-clusters-app/ameba/main/OperationalStateManager.cpp
  examples/all-clusters-app/ameba/main/include/ManualOperationalStateCommand.h
  examples/all-clusters-app/ameba/main/include/OperationalStateManager.h
  examples/dishwasher-app/dishwasher-common/src/operational-state-delegate-impl.cpp
  examples/rvc-app/rvc-common/include/rvc-device.h
  src/app/clusters/operational-state-server/README.md
  src/app/clusters/operational-state-server/operational-state-server.cpp
  src/app/clusters/operational-state-server/operational-state-server.h
Labels: examples, app, review - approved

#30921 Add new IM Status NO_COMMAND_RESPONSE
  docs/ERROR_CODES.md
  src/app/util/af-enums.h
  src/controller/python/chip/interaction_model/__init__.py
  src/lib/format/protocol_messages.matter
  src/protocols/interaction_model/StatusCodeList.h
Labels: documentation, lib, controller, app, review - approved, protocols

#30942 Run zap regen
  src/controller/java/generated/java/matter/devicecontroller/cluster/clusters/ElectricalEnergyMeasurementCluster.kt
  src/controller/java/generated/java/matter/devicecontroller/cluster/structs/ElectricalEnergyMeasurementClusterMeasurementAccuracyStruct.kt
Labels: hotfix, controller

#30863 [icd] integrate ICD management command into CHIP tool
  examples/chip-tool/BUILD.gn
  examples/chip-tool/commands/common/CHIPCommand.cpp
  examples/chip-tool/commands/common/CHIPCommand.h
  examples/chip-tool/commands/icd/ICDCommand.cpp
  examples/chip-tool/commands/icd/ICDCommand.h
  examples/chip-tool/commands/pairing/PairingCommand.cpp
  examples/chip-tool/commands/pairing/PairingCommand.h
  examples/chip-tool/main.cpp
  examples/tv-casting-app/tv-casting-common/BUILD.gn
  src/app/icd/client/DefaultICDClientStorage.h
Labels: tools, examples, app, review - approved, icd

#30953 [Tizen] Fix extended discovery define redefinition
  src/platform/Tizen/CHIPDevicePlatformConfig.h
Labels: platform, review - pending, fast track, tizen

#30730 [Darwin] Adding stub API to store data
  src/darwin/Framework/CHIP/MTRDevice.h
  src/darwin/Framework/CHIP/MTRDevice.mm
Labels: darwin, review - pending, fast track

#30956 Make ZAP generation check do a clean of java folders first
  .github/workflows/zap_templates.yaml
  src/controller/java/generated/java/chip/devicecontroller/cluster/structs/ThermostatClusterThermostatScheduleTransition.kt
  src/controller/java/generated/java/matter/devicecontroller/cluster/clusters/ElectricalEnergyMeasurementCluster.kt
Labels: controller, github, workflows, review - approved

#30962 add missing cluster dependency for smokecoalarm device type
  src/app/zap-templates/zcl/data-model/chip/matter-devices.xml
Labels: review - approved

#30929 Update XML parser to support revision history check
  scripts/py_matter_idl/matter_idl/data_model_xml/handlers/handlers.py
  scripts/py_matter_idl/matter_idl/test_data_model_xml.py
Labels: scripts, review - pending, fast track

#30873 Fixed DECLARE_DYNAMIC_CLUSTER to support CLIENT role as well.
  examples/bridge-app/asr/subdevice/subdevice_test.cpp
  examples/bridge-app/esp32/README.md
  examples/bridge-app/esp32/main/main.cpp
  examples/bridge-app/linux/README.md
  examples/bridge-app/linux/main.cpp
  examples/bridge-app/telink/README.md
  examples/bridge-app/telink/src/AppTask.cpp
  examples/tv-app/android/java/AppImpl.cpp
  examples/tv-app/tv-common/src/AppTv.cpp
  src/app/util/attribute-storage.h
  src/controller/tests/TestEventCaching.cpp
  src/controller/tests/TestEventChunking.cpp
  src/controller/tests/TestEventNumberCaching.cpp
  src/controller/tests/TestReadChunking.cpp
  src/controller/tests/TestServerCommandDispatch.cpp
  src/controller/tests/TestWriteChunking.cpp
Labels: examples, controller, app, review - approved

#29318 [ESP32] Adding filters to the traces reported to esp-insights.
  examples/lighting-app/esp32/main/main.cpp
  src/tracing/esp32_trace/esp32_tracing.cpp
  src/tracing/esp32_trace/esp32_tracing.h
Labels: examples, review - approved

#30987 Bump prompt-toolkit requirement to fix ptpython version update
  scripts/setup/constraints.txt
Labels: hotfix, scripts

#30952 Set CHIP_CONFIG_MDNS_RESOLVE_LOOKUP_RESULTS in linux platform
  src/platform/Linux/SystemPlatformConfig.h
Labels: platform, linux, review - pending, fast track

#30851 Enable chip-repl to send batch commands
  src/controller/python/chip/ChipDeviceCtrl.py
  src/controller/python/chip/clusters/Command.py
  src/controller/python/chip/clusters/command.cpp
  src/controller/python/chip/interaction_model/__init__.py
  src/controller/python/chip/interaction_model/delegate.py
  src/lib/core/BUILD.gn
  src/lib/core/DataModelTypes.h
  src/lib/core/core.gni
Labels: lib, controller, review - pending, fast track, core

#30984 Drop enum support for larger than 16 bit.
  scripts/py_matter_idl/examples/matter_idl_plugin/__init__.py
  scripts/py_matter_idl/matter_idl/data_model_xml/handlers/handlers.py
  scripts/py_matter_idl/matter_idl/generators/java/__init__.py
  scripts/py_matter_idl/matter_idl/generators/kotlin/__init__.py
  scripts/py_matter_idl/matter_idl/generators/type_definitions.py
  scripts/py_matter_idl/matter_idl/test_supported_types.py
  src/app/tests/suites/README.md
  src/app/zap-templates/zcl/data-model/chip/chip-types.xml
  zzz_generated/app-common/app-common/zap-generated/attribute-type.h
Labels: scripts, app, review - approved, tests

#30745 [Telink] Update Lock App and flash overlay
  config/telink/chip-module/Kconfig.defaults
  examples/lock-app/telink/include/LockSettingsStorage.h
  examples/lock-app/telink/src/LockManager.cpp
  examples/lock-app/telink/src/LockSettingsStorage.cpp
  src/platform/telink/1m_flash.overlay
  src/platform/telink/2m_flash.overlay
  src/platform/telink/4m_flash.overlay
Labels: examples, platform, config, review - approved, telink

#30968 Remove pair step before calling any cluster API
  examples/kotlin-matter-controller/java/src/com/matter/controller/commands/pairing/PairOnNetworkLongImInvokeCommand.kt
  examples/kotlin-matter-controller/java/src/com/matter/controller/commands/pairing/PairOnNetworkLongImReadCommand.kt
  examples/kotlin-matter-controller/java/src/com/matter/controller/commands/pairing/PairOnNetworkLongImWriteCommand.kt
Labels: examples, review - approved

#30980 [ICD] Remove user active mode trigger attributes from the external list
  examples/lit-icd-app/lit-icd-common/lit-icd-server-app.matter
  examples/lit-icd-app/lit-icd-common/lit-icd-server-app.zap
  src/app/tests/suites/TestIcdManagementCluster.yaml
  src/app/zap-templates/zcl/zcl-with-test-extensions.json
  src/app/zap-templates/zcl/zcl.json
  zzz_generated/app-common/app-common/zap-generated/attributes/Accessors.cpp
  zzz_generated/app-common/app-common/zap-generated/attributes/Accessors.h
Labels: examples, app, review - approved, tests

#30978 [controller] merge ReadCommissioningInfo2 into ReadCommissioningInfo
  src/controller/AutoCommissioner.cpp
  src/controller/CHIPDeviceController.cpp
  src/controller/CHIPDeviceController.h
  src/controller/CommissioningDelegate.h
  src/controller/python/OpCredsBinding.cpp
Labels: controller, review - approved

#30904 Fix TV commissioning and control
  examples/platform/linux/CommissionerMain.cpp
  src/protocols/user_directed_commissioning/UDCClientState.h
  src/protocols/user_directed_commissioning/UserDirectedCommissioning.h
  src/protocols/user_directed_commissioning/UserDirectedCommissioningClient.cpp
  src/protocols/user_directed_commissioning/UserDirectedCommissioningServer.cpp
  src/protocols/user_directed_commissioning/tests/TestUdcMessages.cpp
Labels: examples, platform, review - approved, protocols

#31000 [Python] Support commissioning with code on network only
  src/controller/python/ChipDeviceController-ScriptBinding.cpp
  src/controller/python/chip/ChipDeviceCtrl.py
Labels: controller, review - approved

#31003 OIS: Restrict runtime test to manual trigger
  .github/workflows/examples-openiotsdk.yaml
Labels: github, workflows, review - pending, fast track

#31005 [Telink] Add NFC Tag support
  config/telink/chip-module/CMakeLists.txt
  config/telink/chip-module/Kconfig
  examples/lighting-app/telink/prj.conf
  examples/platform/telink/common/src/AppTaskCommon.cpp
  src/platform/telink/BUILD.gn
  src/platform/telink/NFCManagerImpl.cpp
  src/platform/telink/NFCManagerImpl.h
Labels: examples, platform, config, review - approved, telink

#30975 [cherry-pick][ESP32] Limit number of returned WiFi scan results to configured limit #30780
  src/platform/ESP32/NetworkCommissioningDriver.cpp
Labels: platform, esp32

#31008 [QPG] Update OpenThreadConfig.h for undef flags
  examples/platform/qpg/project_include/OpenThreadConfig.h
Labels: examples, platform, review - pending, fast track

#30714 Prevent TLVWrite from possibly performing buffer overrun if trying to reserve
  src/lib/core/TLVBackingStore.h
  src/lib/core/TLVWriter.cpp
  src/lib/core/TLVWriter.h
  src/system/TLVPacketBufferBackingStore.h
  src/system/tests/TestTLVPacketBufferBackingStore.cpp
Labels: system, lib, review - approved, core

#31014 Fix typo in many tests
  src/app/tests/TestDefaultOTARequestorStorage.cpp
  src/app/tests/TestFailSafeContext.cpp
  src/app/tests/TestOperationalStateClusterObjects.cpp
  src/app/tests/TestTimeSyncDataProvider.cpp
  src/ble/tests/TestBleErrorStr.cpp
  src/credentials/tests/TestCertificationDeclaration.cpp
  src/crypto/tests/CHIPCryptoPALTest.cpp
  src/inet/tests/TestInetAddress.cpp
  src/inet/tests/TestInetErrorStr.cpp
  src/lib/core/tests/TestCHIPErrorStr.cpp
  src/lib/shell/tests/TestShellStreamerStdio.cpp
  src/lib/shell/tests/TestShellTokenizeLine.cpp
  src/lib/support/tests/TestBitMask.cpp
  src/lib/support/tests/TestBufferReader.cpp
  src/lib/support/tests/TestBytesCircularBuffer.cpp
  src/lib/support/tests/TestCHIPCounter.cpp
  src/lib/support/tests/TestCHIPMem.cpp
  src/lib/support/tests/TestCHIPMemString.cpp
  src/lib/support/tests/TestDefer.cpp
  src/lib/support/tests/TestErrorStr.cpp
  src/lib/support/tests/TestFixedBufferAllocator.cpp
  src/lib/support/tests/TestFold.cpp
  src/lib/support/tests/TestIntrusiveList.cpp
  src/lib/support/tests/TestOwnerOf.cpp
  src/lib/support/tests/TestPool.cpp
  src/lib/support/tests/TestSafeInt.cpp
  src/lib/support/tests/TestSafeString.cpp
  src/lib/support/tests/TestScopedBuffer.cpp
  src/lib/support/tests/TestSerializableIntegerSet.cpp
  src/lib/support/tests/TestSpan.cpp
  src/lib/support/tests/TestVariant.cpp
  src/lib/support/tests/TestZclString.cpp
  src/system/tests/TestSystemClock.cpp
  src/system/tests/TestSystemErrorStr.cpp
  src/system/tests/TestSystemPacketBuffer.cpp
  src/system/tests/TestTimeSource.cpp
  src/tracing/tests/TestTracing.cpp
  src/transport/raw/tests/TestPeerAddress.cpp
Labels: transport, system, lib, inet, crypto, ble, app, review - pending, fast track, shell, tests, support, core

#30996 Upgrade labeler config to v5 from v4
  .github/labeler.yml
  .github/workflows/labeler.yaml
Labels: github, workflows, review - approved

#31016 Revert "Upgrade labeler config to v5 from v4 (#30996)"
  .github/labeler.yml
  .github/workflows/labeler.yaml
Labels: hotfix

#31013 Remove space character from python test filename
  src/python_testing/TC_VCC_2_1.py
Labels: review - approved

#30926 [ICD] Add Hmac Key handle to ICDCheckInSender to support PSA backend
  examples/lit-icd-app/silabs/src/ShellCommands.cpp
  src/app/icd/BUILD.gn
  src/app/icd/ICDCheckInSender.cpp
  src/app/icd/ICDCheckInSender.h
  src/app/icd/ICDConfigurationData.cpp
  src/app/icd/ICDManager.cpp
  src/protocols/secure_channel/CheckinMessage.cpp
  src/protocols/secure_channel/CheckinMessage.h
  src/protocols/secure_channel/tests/TestCheckinMsg.cpp
Labels: examples, app, review - approved, icd, protocols

#31024 Upgrade labeler config to v5 from v4
  .github/labeler.yml
  .github/workflows/labeler.yaml
Labels: github, workflows, review - pending, fast track

#30939 [ICD]add hmac support in icd client storage
  examples/chip-tool/commands/icd/ICDCommand.cpp
  src/app/icd/client/DefaultICDClientStorage.cpp
  src/app/icd/client/DefaultICDClientStorage.h
  src/app/icd/client/ICDClientInfo.h
  src/app/icd/client/ICDClientStorage.h
  src/crypto/CHIPCryptoPAL.h
Labels: tools, examples, crypto, app, review - approved, icd

#31036 Add lit-icd app to chip-cert-bins docker image
  integrations/docker/images/chip-cert-bins/Dockerfile
Labels: integrations, review - approved, docker

#31044 TC-CGEN-2.4: Use random discriminator
  src/python_testing/TC_CGEN_2_4.py
Labels: review - approved, tests

#31040 [ICD] Add unit tests to validate Check-In message generation
  src/protocols/secure_channel/CheckinMessage.cpp
  src/protocols/secure_channel/tests/BUILD.gn
  src/protocols/secure_channel/tests/CheckIn_Message_test_vectors.h
  src/protocols/secure_channel/tests/TestCheckinMsg.cpp
Labels: review - approved, protocols

#30938 Make the logic for whether a session matches an eviction hint more readable.
  src/transport/SecureSessionTable.cpp
Labels: transport, review - approved, fast track

#30931 Improve ICDClientStorage
  src/app/icd/client/DefaultICDClientStorage.cpp
  src/app/icd/client/DefaultICDClientStorage.h
  src/app/icd/client/ICDClientStorage.h
  src/app/tests/TestDefaultICDClientStorage.cpp
Labels: app, review - approved, tests, icd

#31021 Clean-up time conversions on the way to fix #30990
  src/app/chip_data_model.gni
  src/app/clusters/time-synchronization-server/time-synchronization-server.cpp
  src/app/tests/TestICDManager.cpp
  src/ble/tests/TestBleErrorStr.cpp
  src/controller/tests/TestReadChunking.cpp
  src/lib/core/tests/TestCHIPErrorStr.cpp
  src/lib/support/TimeUtils.cpp
  src/lib/support/TimeUtils.h
  src/lib/support/tests/TestErrorStr.cpp
  src/lib/support/tests/TestTimeUtils.cpp
Labels: testing, lib, controller, ble, app, review - approved, tests, support, core, time sync, TCR

#31045 Remove dead !HAVE_LWIP_UDP_BIND_NETIF configuration
  src/inet/UDPEndPointImplLwIP.cpp
  src/lwip/BUILD.gn
  src/platform/mt793x/lwip/BUILD.gn
Labels: platform, inet, review - approved, lwip

#30235 [Feature]Microwave oven control cluster implementation
  docs/examples/index.md
  examples/microwave-oven-app/linux/.gn
  examples/microwave-oven-app/linux/BUILD.gn
  examples/microwave-oven-app/linux/README.md
  examples/microwave-oven-app/linux/args.gni
  examples/microwave-oven-app/linux/build_overrides
  examples/microwave-oven-app/linux/include/CHIPProjectAppConfig.h
  examples/microwave-oven-app/linux/main.cpp
  examples/microwave-oven-app/linux/third_party/connectedhomeip
  examples/microwave-oven-app/microwave-oven-common/BUILD.gn
  examples/microwave-oven-app/microwave-oven-common/include/microwave-oven-device.h
  examples/microwave-oven-app/microwave-oven-common/microwave-oven-app.matter
  examples/microwave-oven-app/microwave-oven-common/microwave-oven-app.zap
  examples/microwave-oven-app/microwave-oven-common/src/microwave-oven-device.cpp
  scripts/build/build/targets.py
  scripts/build/builders/host.py
  scripts/build/testdata/all_targets_linux_x64.txt
  src/app/clusters/microwave-oven-control-server/microwave-oven-control-server.cpp
  src/app/clusters/microwave-oven-control-server/microwave-oven-control-server.h
  src/app/clusters/mode-base-server/mode-base-server.cpp
  src/app/clusters/mode-base-server/mode-base-server.h
  src/app/common/templates/config-data.yaml
  src/app/zap-templates/zcl/data-model/chip/matter-devices.xml
  src/app/zap-templates/zcl/zcl-with-test-extensions.json
  src/app/zap-templates/zcl/zcl.json
  src/darwin/Framework/CHIP/zap-generated/MTRDeviceTypeMetadata.mm
  zzz_generated/app-common/app-common/zap-generated/attributes/Accessors.cpp
  zzz_generated/app-common/app-common/zap-generated/attributes/Accessors.h
  zzz_generated/app-common/app-common/zap-generated/callback.h
Labels: documentation, examples, scripts, darwin, app, review - approved

#31046 TC-IDM-1.2: Use random discriminator
  src/python_testing/TC_IDM_1_2.py
Labels: review - approved, tests

#31025 Make wholesale replacement of lwIP more straightforward
  BUILD.gn
  src/BUILD.gn
  src/inet/BUILD.gn
  src/inet/tests/BUILD.gn
  src/lwip/BUILD.gn
  src/platform/mt793x/ConnectivityManagerImpl.cpp
  src/platform/mt793x/NetworkCommissioningWiFiDriver.cpp
  src/platform/mt793x/NetworkCommissioningWiFiDriver.h
  src/platform/mt793x/args.gni
  src/platform/mt793x/lwip/BUILD.gn
  src/platform/silabs/wifi_args.gni
  src/system/BUILD.gn
  third_party/lwip/BUILD.gn
  third_party/mt793x_sdk/mt793x_lwip/BUILD.gn
  third_party/mt793x_sdk/mt793x_sdk.gni
  third_party/silabs/BUILD.gn
  third_party/silabs/silabs_lwip/BUILD.gn
Labels: system, platform, inet, gn, review - approved, lwip, silabs

#31052 Fix TestPlatformMgr crash
  src/platform/tests/TestPlatformMgr.cpp
Labels: review - approved, tests

#31048 Remove java_build_test from multiarch build
  BUILD.gn
Labels: gn, review - pending, fast track

#30963 Update rvc example to handel new pause compatible states
  examples/rvc-app/RVC_app_state_diagram.png
  examples/rvc-app/RVC_app_state_diagram_drawio.xml
  examples/rvc-app/rvc-common/include/rvc-device.h
  examples/rvc-app/rvc-common/src/rvc-device.cpp
Labels: examples, review - approved

#30701 EVSE and Device Energy Management XML should use new base energy reporting types (and other minor fixes)
  src/app/zap-templates/zcl/data-model/chip/device-energy-management-cluster.xml
  src/controller/data_model/controller-clusters.matter
  zzz_generated/app-common/app-common/zap-generated/attributes/Accessors.cpp
  zzz_generated/app-common/app-common/zap-generated/attributes/Accessors.h
Labels: examples, scripts, darwin, controller, app, review - approved, skip-protocol-compatibility, energy

#31053 Linux: Don't define CHIP_DEVICE_CONFIG_LINUX_DHCPC_CMD by default
  src/platform/Linux/ConnectivityManagerImpl.cpp
Labels: platform, linux, review - approved

#31088 ASN.1 null writer check should not bypass reading from TLVReader
  src/lib/asn1/ASN1Writer.cpp
  src/lib/asn1/tests/TestASN1.cpp
Labels: lib, review - approved

#31059 [cherry-pick] Bump prompt-toolkit requirement to fix ptpython version update
  scripts/setup/constraints.txt
Labels: scripts

#31049 TC-ACL-2.2: Implement in python
  src/python_testing/TC_ACL_2_2.py
Labels: review - approved, tests

#31080 [ICD] Add Nonce validation to Check-In protocol and parsing unit tests
  src/protocols/secure_channel/CheckinMessage.cpp
  src/protocols/secure_channel/CheckinMessage.h
  src/protocols/secure_channel/tests/CheckIn_Message_test_vectors.h
  src/protocols/secure_channel/tests/TestCheckinMsg.cpp
Labels: review - approved, protocols

#31073 [nrfconnect] Add kconfig for enabling Read Client
  config/nrfconnect/chip-module/CMakeLists.txt
  config/nrfconnect/chip-module/Kconfig
  examples/all-clusters-app/nrfconnect/prj.conf
  examples/all-clusters-app/nrfconnect/prj_dfu.conf
  examples/all-clusters-app/nrfconnect/prj_release.conf
  examples/light-switch-app/nrfconnect/prj.conf
  examples/light-switch-app/nrfconnect/prj_no_dfu.conf
  examples/light-switch-app/nrfconnect/prj_release.conf
  src/test_driver/nrfconnect/prj.conf
Labels: examples, config, review - approved, test driver

#31109 Make sure the MTRDevice lock is held when we touch _weakDelegate.
  src/darwin/Framework/CHIP/MTRDevice.mm
Labels: darwin, review - approved

#30999 EVSE Delegate callbacks to user application
  examples/all-clusters-app/all-clusters-common/all-clusters-app.matter
  examples/all-clusters-app/all-clusters-common/all-clusters-app.zap
  examples/all-clusters-app/all-clusters-common/include/EVSECallbacks.h
  examples/all-clusters-app/all-clusters-common/include/EnergyEvseDelegateImpl.h
  examples/all-clusters-app/all-clusters-common/src/EnergyEvseDelegateImpl.cpp
  examples/energy-management-app/energy-management-common/include/EVSECallbacks.h
  examples/energy-management-app/energy-management-common/include/EVSEManufacturerImpl.h
  examples/energy-management-app/energy-management-common/include/EnergyEvseDelegateImpl.h
  examples/energy-management-app/energy-management-common/src/EVSEManufacturerImpl.cpp
  examples/energy-management-app/energy-management-common/src/EnergyEvseDelegateImpl.cpp
  src/app/common/templates/config-data.yaml
  zzz_generated/app-common/app-common/zap-generated/callback.h
Labels: documentation, examples, scripts, darwin, controller, app, review - approved, skip-protocol-compatibility, energy, energy evse

#31087 Simplify CertificationDeclaration EncodeSignerInfo
  src/credentials/CertificationDeclaration.cpp
  src/tools/chip-cert/Cmd_GenCD.cpp
Labels: tools, review - approved

#31128 [Android] Add java empty event struct
  scripts/py_matter_idl/matter_idl/generators/java/ChipEventStructs_java.jinja
  src/controller/java/generated/java/chip/devicecontroller/ChipEventStructs.java
Labels: scripts, controller, review - approved

#29305 Return ConnectionFailureException which contains the connection state (Part I)
  src/app/OperationalSessionSetup.cpp
  src/app/OperationalSessionSetup.h
  src/protocols/secure_channel/CASESession.cpp
  src/protocols/secure_channel/CASESession.h
  src/protocols/secure_channel/PairingSession.cpp
  src/protocols/secure_channel/PairingSession.h
  src/protocols/secure_channel/SessionEstablishmentDelegate.h
Labels: app, review - approved, protocols

#30896 TC-ACE_1.6: Rework test to use TH keys
  src/app/tests/suites/certification/Test_TC_ACE_1_6.yaml
Labels: app, review - approved, tests

#31136 [ReportScheduler] Empty node pool handling
  src/app/reporting/SynchronizedReportSchedulerImpl.cpp
Labels: app, review - approved

#31141 Darwin: Consistently use ivars in MTRDeviceController and a few other places
  examples/darwin-framework-tool/commands/common/CHIPToolKeypair.mm
  examples/darwin-framework-tool/commands/pairing/DeviceControllerDelegateBridge.mm
  src/darwin/Framework/CHIP/MTRAsyncCallbackWorkQueue.mm
  src/darwin/Framework/CHIP/MTRBaseDevice.mm
  src/darwin/Framework/CHIP/MTRDeviceController.mm
  src/darwin/Framework/CHIP/MTRThreadOperationalDataset.mm
Labels: examples, darwin, review - pending, fast track

#31123 [ICD] Skip Get RegistrationInfo when parameter is already added
  examples/chip-tool/commands/pairing/PairingCommand.cpp
  examples/chip-tool/commands/pairing/PairingCommand.h
  src/controller/AutoCommissioner.cpp
  src/controller/DevicePairingDelegate.h
Labels: tools, examples, controller, review - approved

#30335 [Silabs] - Support for 917 SoC combined OTA upgrade
  examples/platform/silabs/OTAConfig.cpp
  examples/platform/silabs/SiWx917/BUILD.gn
  examples/platform/silabs/SiWx917/SiWx917/sl_wifi_if.c
  src/platform/silabs/OTAImageProcessorImpl.h
  src/platform/silabs/SiWx917/BUILD.gn
  src/platform/silabs/SiWx917/OTAImageProcessorImpl.cpp
  third_party/silabs/SiWx917_sdk.gni
Labels: examples, platform, review - approved, silabs

#31157 [Silabs] Fix for wifi apps build issue
  src/platform/silabs/CHIPDevicePlatformConfig.h
  third_party/silabs/SiWx917_sdk.gni
Labels: platform, review - approved, silabs

#31075 [app] Fix DeferredAttributePersister memory leak
  src/app/DeferredAttributePersistenceProvider.cpp
  src/darwin/Framework/CHIP/MTRBaseDevice.mm
  src/lib/support/ScopedBuffer.h
Labels: darwin, lib, app, review - approved, support

#31108 TV Matter Media: Resolve items from Issue 30807
  examples/all-clusters-minimal-app/all-clusters-common/all-clusters-minimal-app.matter
  examples/chef/devices/rootnode_basicvideoplayer_0ff86e943b.matter
  examples/placeholder/linux/apps/app1/config.matter
  examples/placeholder/linux/apps/app2/config.matter
  examples/tv-app/tv-common/clusters/content-app-observer/ContentAppObserver.cpp
  examples/tv-app/tv-common/tv-app.matter
  examples/tv-app/tv-common/tv-app.zap
  examples/tv-casting-app/tv-casting-common/tv-casting-app.matter
  examples/tv-casting-app/tv-casting-common/tv-casting-app.zap
  src/app/clusters/account-login-server/account-login-server.cpp
  src/app/zap-templates/zcl/data-model/chip/channel-cluster.xml
  src/app/zap-templates/zcl/data-model/chip/content-app-observer-cluster.xml
  src/app/zap-templates/zcl/data-model/chip/media-playback-cluster.xml
  src/controller/data_model/controller-clusters.matter
  src/controller/java/generated/java/chip/devicecontroller/ChipClusters.java
  src/controller/java/generated/java/chip/devicecontroller/ClusterInfoMapping.java
  src/controller/java/generated/java/matter/controller/cluster/clusters/ChannelCluster.kt
  src/controller/java/generated/java/matter/controller/cluster/clusters/ContentAppObserverCluster.kt
  src/controller/java/zap-generated/CHIPInvokeCallbacks.cpp
  src/controller/python/chip/clusters/Objects.py
  src/darwin/Framework/CHIP/zap-generated/MTRCommandPayloadsObjc.h
  src/darwin/Framework/CHIP/zap-generated/MTRCommandPayloadsObjc.mm
  zzz_generated/app-common/app-common/zap-generated/cluster-objects.cpp
  zzz_generated/app-common/app-common/zap-generated/cluster-objects.h
  zzz_generated/chip-tool/zap-generated/cluster/logging/DataModelLogger.cpp
Labels: examples, darwin, controller, app, review - approved

#31039 [icd] read UserActiveModeTrigger during commissioning
  examples/chip-tool/commands/pairing/PairingCommand.cpp
  examples/chip-tool/commands/pairing/PairingCommand.h
  examples/platform/linux/CommissionerMain.cpp
  src/controller/AutoCommissioner.cpp
  src/controller/CHIPDeviceController.cpp
  src/controller/CommissioningDelegate.h
Labels: tools, examples, platform, controller, review - approved

#31132 MTRSetupPayload initWithSetupPasscode should not produce invalid payloads.
  src/darwin/Framework/CHIP/MTRSetupPayload.mm
Labels: darwin, review - approved

#31165 Explicitly mark EnergyPreference as not-yet-ready-for-release on Darwin.
  src/darwin/Framework/CHIP/templates/availability.yaml
Labels: darwin, review - pending, fast track

#31104 [ESP32] Added an API to set the CD in DAC providers and some documentation changes
  config/esp32/components/chip/Kconfig
  docs/guides/esp32/factory_data.md
  docs/guides/esp32/secure_cert_partition.md
  examples/lighting-app/esp32/README.md
  examples/lighting-app/esp32/main/CMakeLists.txt
  examples/lighting-app/esp32/main/main.cpp
  src/platform/ESP32/ESP32FactoryDataProvider.cpp
  src/platform/ESP32/ESP32FactoryDataProvider.h
  src/platform/ESP32/ESP32SecureCertDACProvider.cpp
  src/platform/ESP32/ESP32SecureCertDACProvider.h
Labels: documentation, examples, platform, esp32, config, review - approved

#31158 [ESP32] Config option for opening basic commissioning window on boot
  config/esp32/components/chip/Kconfig
  src/platform/ESP32/CHIPDevicePlatformConfig.h
Labels: platform, esp32, config, review - approved

#31171 [ESP32] fix the unsafe access to chip stack in lock-app
  examples/lock-app/esp32/main/AppTask.cpp
  examples/lock-app/esp32/main/include/AppTask.h
Labels: examples, review - approved

#31155 Remove duplicate energy management files from all clusters app
  examples/all-clusters-app/all-clusters-common/include/EVSECallbacks.h
  examples/all-clusters-app/all-clusters-common/include/EnergyEvseDelegateImpl.h
  examples/all-clusters-app/all-clusters-common/include/EnergyEvseManager.h
  examples/all-clusters-app/all-clusters-common/src/EnergyEvseDelegateImpl.cpp
  examples/all-clusters-app/all-clusters-common/src/EnergyEvseManager.cpp
  examples/all-clusters-app/ameba/chip_main.cmake
  examples/all-clusters-app/asr/BUILD.gn
  examples/all-clusters-app/cc13x2x7_26x2x7/BUILD.gn
  examples/all-clusters-app/cc13x4_26x4/BUILD.gn
  examples/all-clusters-app/esp32/main/CMakeLists.txt
  examples/all-clusters-app/infineon/psoc6/BUILD.gn
  examples/all-clusters-app/linux/BUILD.gn
  examples/all-clusters-app/mbed/CMakeLists.txt
  examples/all-clusters-app/nrfconnect/CMakeLists.txt
  examples/all-clusters-app/nxp/mw320/BUILD.gn
  examples/all-clusters-app/openiotsdk/CMakeLists.txt
  examples/all-clusters-app/telink/CMakeLists.txt
  examples/all-clusters-app/tizen/BUILD.gn
  examples/all-clusters-minimal-app/esp32/main/CMakeLists.txt
  examples/shell/shell_common/BUILD.gn
Labels: examples, review - approved, energy, energy evse

#30285 Laundry dryer controls cluster sdk
  examples/all-clusters-app/all-clusters-common/all-clusters-app.matter
  examples/all-clusters-app/all-clusters-common/all-clusters-app.zap
  examples/all-clusters-app/all-clusters-common/include/laundry-dryer-controls-delegate-impl.h
  examples/all-clusters-app/all-clusters-common/src/laundry-dryer-controls-delegate-impl.cpp
  examples/all-clusters-app/esp32/main/CMakeLists.txt
  examples/all-clusters-app/esp32/main/main.cpp
  examples/all-clusters-app/linux/BUILD.gn
  examples/all-clusters-app/linux/main-common.cpp
  src/app/clusters/laundry-dryer-controls-server/laundry-dryer-controls-delegate.h
  src/app/clusters/laundry-dryer-controls-server/laundry-dryer-controls-server.cpp
  src/app/clusters/laundry-dryer-controls-server/laundry-dryer-controls-server.h
  src/app/common/templates/config-data.yaml
  src/app/zap_cluster_list.json
Labels: examples, app, review - approved, appliances, dryers

#31143 Oven Device Type: add Descriptor cluster
  src/app/zap-templates/zcl/data-model/chip/matter-devices.xml
Labels: app, review - approved

#31167 Minor typo fixes at Directory Structure in README.md
  README.md
Labels: documentation, review - approved

#31055 [Android] Implement for supporting ICD device
  .github/workflows/java-tests.yaml
  examples/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/GenericChipDeviceListener.kt
  examples/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/provisioning/DeviceProvisioningFragment.kt
  examples/java-matter-controller/java/src/com/matter/controller/commands/pairing/PairingCommand.kt
  examples/kotlin-matter-controller/java/src/com/matter/controller/commands/pairing/PairingCommand.kt
  kotlin-detect-config.yaml
  src/controller/java/AndroidDeviceControllerWrapper.cpp
  src/controller/java/AndroidDeviceControllerWrapper.h
  src/controller/java/BUILD.gn
  src/controller/java/CHIPDeviceController-JNI.cpp
  src/controller/java/src/chip/devicecontroller/ChipDeviceController.java
  src/controller/java/src/chip/devicecontroller/ICDRegistrationInfo.java
  src/controller/java/src/matter/controller/CompletionListenerAdapter.kt
  src/controller/java/src/matter/controller/MatterController.kt
Labels: examples, controller, github, workflows, review - approved

#31149 [Android] Return ConnectionFailureException which contains the connection state…
  src/app/CASESessionManager.cpp
  src/app/CASESessionManager.h
  src/controller/CHIPDeviceController.h
  src/controller/java/AndroidCallbacks.cpp
  src/controller/java/AndroidCallbacks.h
  src/controller/java/AndroidConnectionFailureExceptions.cpp
  src/controller/java/AndroidConnectionFailureExceptions.h
  src/controller/java/BUILD.gn
  src/controller/java/src/chip/devicecontroller/ConnectionFailureException.java
Labels: controller, app, review - approved

#31194 Add space after %p format specifier in attribute-table logs
  src/app/util/attribute-table.cpp
Labels: app, review - approved
