Repository project-chip/connectedhomeip, pull requests merged in 2023-10, with the labels that each got.

#29528 [Telink] Update Docker image (Zephyr update)
  integrations/docker/images/base/chip-build/version
  integrations/docker/images/stage-2/chip-build-telink/Dockerfile
Labels: integrations, review - pending, docker

#29492 Remove usage of `__has_include` and usage of `USE_ZAP_CONFIG`
  examples/all-clusters-app/ameba/chip_main.cmake
  examples/all-clusters-minimal-app/ameba/chip_main.cmake
  examples/chef/ameba/chip_main.cmake
  examples/light-switch-app/ameba/chip_main.cmake
  examples/lighting-app/ameba/chip_main.cmake
  examples/ota-requestor-app/ameba/chip_main.cmake
  examples/pigweed-app/ameba/chip_main.cmake
  src/app/util/DataModelHandler.cpp
  src/controller/BUILD.gn
  src/controller/EmptyDataModelHandler.cpp
  src/darwin/Framework/Matter.xcodeproj/project.pbxproj
Labels: examples, darwin, controller, app, review - approved

#29530 Remove some unused CIPD packages before android compile.
  .github/workflows/full-android.yaml
  .github/workflows/smoketest-android.yaml
Labels: github, workflows, review - approved

#29531 [Telink] Use common Zephyr heap & Update Telink image to 16
  .github/workflows/chef.yaml
  .github/workflows/examples-telink.yaml
  config/telink/chip-module/Kconfig.defaults
  examples/all-clusters-app/telink/prj.conf
  examples/all-clusters-minimal-app/telink/prj.conf
  examples/bridge-app/telink/prj.conf
  examples/chef/telink/prj.conf
  examples/lighting-app/telink/prj.conf
  examples/ota-requestor-app/telink/prj.conf
  examples/platform/telink/project_include/OpenThreadConfig.h
  examples/shell/telink/prj.conf
  src/platform/Zephyr/PlatformManagerImpl.cpp
  src/platform/telink/telink-mbedtls-config.h
Labels: examples, platform, zephyr, config, github, workflows, review - pending, telink, fast track

#29458 [Darwin] MTRDeviceTests test017 - fix resubscription expectation
  src/app/InteractionModelEngine.h
  src/darwin/Framework/CHIPTests/MTRDeviceTests.m
  src/darwin/Framework/CHIPTests/TestHelpers/MTRTestKeys.m
Labels: darwin, app, review - approved

#29484 [crypto] Extract common X509 functions for mbedTLS and PSA
  src/crypto/BUILD.gn
  src/crypto/CHIPCryptoPALPSA.cpp
  src/crypto/CHIPCryptoPALmbedTLS.cpp
  src/crypto/CHIPCryptoPALmbedTLS.h
  src/crypto/CHIPCryptoPALmbedTLSCert.cpp
Labels: crypto, review - approved

#29544 [Linux] Remove unused class from BLE helper
  src/platform/Linux/bluez/Helper.cpp
Labels: platform, linux, review - approved

#29534 CastingDiscovery: fix snprintf warning
  examples/tv-casting-app/tv-casting-common/core/CastingPlayer.h
  examples/tv-casting-app/tv-casting-common/core/CastingPlayerDiscovery.cpp
Labels: examples, review - approved

#29540 Add some Swift tests for MTRDevice.
  src/darwin/Framework/CHIPTests/MTRSwiftDeviceTests.swift
  src/darwin/Framework/CHIPTests/MTRSwiftPairingTests.swift
  src/darwin/Framework/Matter.xcodeproj/project.pbxproj
Labels: darwin, review - pending, fast track

#29529 [Chef] Add generic switch device type
  examples/chef/devices/rootnode_genericswitch_9866e35d0b.matter
  examples/chef/devices/rootnode_genericswitch_9866e35d0b.zap
Labels: examples, review - approved

#29551 Save flash on command/event decodes
  src/app/zap-templates/templates/app/cluster-objects-src.zapt
  zzz_generated/app-common/app-common/zap-generated/cluster-objects.cpp
Labels: app, review - approved

#29555 Update simulated_device_linux.md
  docs/guides/simulated_device_linux.md
Labels: documentation, review - pending, fast track

#29560 Lock app: Remove duplicate generated command
  examples/lock-app/lock-common/lock-app.zap
Labels: examples, review - approved

#29570 examples/tv-casting-app: allowing up to 20 ACL entries
  examples/tv-casting-app/tv-casting-common/include/CHIPProjectAppConfig.h
Labels: examples, review - approved, tv-casting

#29234 [ICD] Added a way of activating the report on active mode from icd.gni
  scripts/examples/gn_silabs_example.sh
  src/app/BUILD.gn
  src/app/icd/ICDManager.cpp
  src/app/icd/icd.gni
  src/app/reporting/ReportSchedulerImpl.cpp
Labels: scripts, app, review - approved, icd

#29561 Look for more flash space savings in cluster-objects.cpp
  src/app/zap-templates/partials/cluster-objects-struct.zapt
  src/app/zap-templates/templates/app/cluster-objects-src.zapt
  zzz_generated/app-common/app-common/zap-generated/cluster-objects.cpp
Labels: app, review - approved

#29550 Make reboot pw_rpc take a delay_ms argument
  examples/common/pigweed/protos/device_service.proto
  examples/common/pigweed/rpc_services/Device.h
  examples/platform/ameba/Rpc.cpp
  examples/platform/bouffalolab/common/rpc/Rpc.cpp
  examples/platform/esp32/Rpc.cpp
  examples/platform/nrfconnect/Rpc.cpp
  examples/platform/qpg/Rpc.cpp
  examples/platform/silabs/Rpc.cpp
  examples/platform/telink/Rpc.cpp
Labels: examples, platform, review - pending, fast track

#29564 [Silabs] Build fixes for SiWx917 SoC
  src/platform/silabs/Logging.cpp
  third_party/silabs/SiWx917_sdk.gni
Labels: platform, review - approved, silabs

#29448 [nrfconnect] Added erasing network credentials after the last fabric removal
  config/nrfconnect/chip-module/Kconfig.defaults
  config/nrfconnect/chip-module/Kconfig.features
  examples/all-clusters-app/nrfconnect/main/AppTask.cpp
  examples/all-clusters-app/nrfconnect/main/include/AppTask.h
  examples/all-clusters-minimal-app/nrfconnect/main/AppTask.cpp
  examples/all-clusters-minimal-app/nrfconnect/main/include/AppTask.h
  examples/light-switch-app/nrfconnect/main/AppTask.cpp
  examples/light-switch-app/nrfconnect/main/include/AppTask.h
  examples/lighting-app/nrfconnect/main/AppTask.cpp
  examples/lighting-app/nrfconnect/main/include/AppTask.h
  examples/lock-app/nrfconnect/main/AppTask.cpp
  examples/lock-app/nrfconnect/main/include/AppTask.h
  examples/platform/nrfconnect/util/include/FabricTableDelegate.h
  examples/pump-app/nrfconnect/main/AppTask.cpp
  examples/pump-app/nrfconnect/main/include/AppTask.h
  examples/pump-controller-app/nrfconnect/main/AppTask.cpp
  examples/pump-controller-app/nrfconnect/main/include/AppTask.h
  examples/window-app/nrfconnect/main/AppTask.cpp
  examples/window-app/nrfconnect/main/include/AppTask.h
Labels: examples, platform, config, review - approved

#29543 Implement the tracing macros using a backend for esp32.
  config/esp32/BUILD.gn
  config/esp32/components/chip/CMakeLists.txt
  examples/lighting-app/esp32/.gitignore
  examples/lighting-app/esp32/main/CMakeLists.txt
  examples/lighting-app/esp32/main/main.cpp
  scripts/build/build/targets.py
  scripts/build/builders/esp32.py
  scripts/build/testdata/all_targets_linux_x64.txt
  scripts/build/testdata/dry_run_esp32-devkitc-light-rpc.txt
  scripts/build/testdata/dry_run_esp32-m5stack-all-clusters-minimal-rpc-ipv6only.txt
  src/tracing/esp32_trace/BUILD.gn
  src/tracing/esp32_trace/esp32_tracing.cpp
  src/tracing/esp32_trace/esp32_tracing.h
  src/tracing/esp32_trace/include/matter/tracing/macros_impl.h
  src/tracing/tracing_args.gni
Labels: examples, scripts, config, review - pending, fast track

#29535 [Scenes] Explicit feature flag
  examples/all-clusters-app/all-clusters-common/all-clusters-app.matter
  examples/all-clusters-app/all-clusters-common/all-clusters-app.zap
  examples/all-clusters-minimal-app/all-clusters-common/all-clusters-minimal-app.matter
  examples/all-clusters-minimal-app/all-clusters-common/all-clusters-minimal-app.zap
  examples/lighting-app/lighting-common/lighting-app.matter
  examples/lighting-app/lighting-common/lighting-app.zap
  examples/lighting-app/silabs/data_model/lighting-thread-app.matter
  examples/lighting-app/silabs/data_model/lighting-thread-app.zap
  examples/lighting-app/silabs/data_model/lighting-wifi-app.matter
  examples/lighting-app/silabs/data_model/lighting-wifi-app.zap
  src/app/clusters/scenes-server/scenes-server.cpp
Labels: examples, app, review - approved

#29567 tests: Use CancellableReader for PW RPC clients
  src/test_driver/efr32/py/nl_test_runner/nl_test_runner.py
  src/test_driver/mbed/integration_tests/common/pigweed_client.py
  src/test_driver/mbed/integration_tests/lighting-app/test_app.py
  src/test_driver/mbed/integration_tests/lock-app/test_app.py
  src/test_driver/mbed/integration_tests/pigweed-app/test_app.py
Labels: review - pending, fast track, test driver

#29548 Use copy of pigweed.json maintained in Matter SDK to prevent pulling in unneeded CIPD package
  .github/workflows/full-android.yaml
  .github/workflows/smoketest-android.yaml
  .restyled.yaml
  pigweed.json
  scripts/setup/environment.json
  src/transport/retransmit/tests/TestCache.cpp
Labels: scripts, transport, github, workflows, review - approved

#29584 Update python test CI: stop dirtying build env, cleanup build outputs
  .github/workflows/build.yaml
  build/toolchain/gcc_toolchain.gni
Labels: github, workflows, gn, review - approved

#29553 Increment used TCPEndPoint count during incoming connection.
  src/transport/raw/TCP.cpp
  src/transport/raw/TCP.h
Labels: bug, transport, review - approved

#29596 Remove various defines that were effectively commenting out static functions
  src/platform/Linux/bluez/Helper.cpp
Labels: platform, linux, review - pending, fast track

#29609 Full day fail summary
  .github/workflows/recent_fail_summary.yaml
  scripts/tools/build_fail_defs.yaml
  scripts/tools/summarize_fail.py
Labels: scripts, github, workflows, fast track

#29582 Enable -Wundef by default.
  build/config/compiler/BUILD.gn
  examples/darwin-framework-tool/commands/common/MTRLogging.h
  examples/platform/linux/BUILD.gn
  examples/tv-app/tv-common/src/ZCLCallbacks.cpp
  examples/tv-casting-app/tv-casting-common/BUILD.gn
  examples/tv-casting-app/tv-casting-common/include/AppParams.h
  src/app/tests/TestDataModelSerialization.cpp
  src/include/platform/CHIPDeviceConfig.h
  src/inet/InetInterface.cpp
  src/inet/UDPEndPointImplSockets.cpp
  src/inet/tests/TestInetAddress.cpp
  src/inet/tests/TestInetLayer.cpp
  src/inet/tests/TestLwIPDNS.cpp
  src/lib/support/CHIPArgParser.hpp
  src/lib/support/Pool.h
  src/lib/support/UnitTestRegistration.cpp
  src/platform/tests/TestCHIPoBLEStackMgr.h
  src/platform/tests/TestCHIPoBLEStackMgrDriver.cpp
  src/system/SystemClock.cpp
  src/system/SystemPacketBufferInternal.h
Labels: examples, system, platform, darwin, lib, inet, app, gn, review - approved, tests, support

#29236 [Android]Fix Jni local and global reference leaks for generic IM
  examples/java-matter-controller/java/src/com/matter/controller/commands/pairing/PairOnNetworkLongImReadCommand.kt
  src/controller/java/AndroidCallbacks.cpp
  src/controller/java/AndroidCallbacks.h
  src/controller/java/AndroidCommissioningWindowOpener.cpp
  src/controller/java/AndroidControllerExceptions.cpp
  src/controller/java/AndroidDeviceControllerWrapper.cpp
  src/controller/java/src/chip/devicecontroller/model/NodeState.java
  src/lib/support/JniTypeWrappers.h
Labels: examples, lib, controller, review - approved, support

#29574 [Android]Initial implementation of Kotlin Matter Controller
  kotlin-detect-config.yaml
  src/controller/java/BUILD.gn
  src/controller/java/src/matter/controller/CompletionListenerAdapter.kt
  src/controller/java/src/matter/controller/ControllerParams.kt
  src/controller/java/src/matter/controller/InteractionClient.kt
  src/controller/java/src/matter/controller/MatterController.kt
  src/controller/java/src/matter/controller/MatterControllerException.kt
  src/controller/java/src/matter/controller/MatterControllerImpl.kt
  src/controller/java/src/matter/controller/Messages.kt
  src/controller/java/src/matter/controller/OperationalKeyConfig.kt
  src/controller/java/src/matter/controller/model/Paths.kt
  src/controller/java/src/matter/controller/model/States.kt
Labels: controller, review - approved

#29607 [Tizen] Make sure that all used defines are defined
  build/config/compiler/BUILD.gn
  examples/platform/tizen/OptionsProxy.cpp
  src/platform/Beken/CHIPDevicePlatformConfig.h
  src/platform/Tizen/CHIPDevicePlatformConfig.h
  src/platform/Tizen/NetworkCommissioningDriver.h
  src/platform/mt793x/CHIPDevicePlatformConfig.h
  src/platform/nxp/mw320/CHIPDevicePlatformConfig.h
Labels: examples, platform, gn, review - approved, tizen

#29579 [Telink] Add air quality sensor app
  .github/workflows/examples-telink.yaml
  .vscode/tasks.json
  examples/air-quality-sensor-app/telink/.gitignore
  examples/air-quality-sensor-app/telink/CMakeLists.txt
  examples/air-quality-sensor-app/telink/Kconfig
  examples/air-quality-sensor-app/telink/README.md
  examples/air-quality-sensor-app/telink/include/AppConfig.h
  examples/air-quality-sensor-app/telink/include/AppTask.h
  examples/air-quality-sensor-app/telink/include/CHIPProjectConfig.h
  examples/air-quality-sensor-app/telink/prj.conf
  examples/air-quality-sensor-app/telink/src/AppTask.cpp
  examples/air-quality-sensor-app/telink/src/ZclCallbacks.cpp
  examples/air-quality-sensor-app/telink/third_party/connectedhomeip
  examples/light-switch-app/telink/factory_data.overlay
  scripts/build/build/targets.py
  scripts/build/builders/telink.py
  scripts/build/testdata/all_targets_linux_x64.txt
Labels: examples, scripts, vscode, github, workflows, review - approved

#29617 fix(QPG): Enable -Wundef and fix any errors for qpg based builds
  examples/lighting-app/qpg/BUILD.gn
  examples/lighting-app/qpg/include/CHIPProjectConfig.h
  examples/lock-app/qpg/BUILD.gn
  examples/lock-app/qpg/include/CHIPProjectConfig.h
  examples/platform/qpg/app/main.cpp
  examples/platform/qpg/project_include/OpenThreadConfig.h
  src/platform/OpenThread/GenericThreadStackManagerImpl_OpenThread.hpp
  src/platform/qpg/Logging.cpp
  third_party/qpg_sdk/qpg_sdk.gni
Labels: examples, platform, review - approved

#29610 Enable -Wundef on Linux and Android.
  build/config/compiler/BUILD.gn
  src/controller/java/AndroidCallbacks.cpp
  src/platform/BUILD.gn
  third_party/mbedtls/mbedtls.gni
Labels: platform, controller, gn, review - approved

#29625 Log more information when "darwin-framework-tool tests list" fails.
  scripts/tests/chiptest/__init__.py
Labels: scripts, review - pending, fast track

#29608 Save flash on generated struct encoding logic
  src/app/data-model/WrappedStructEncoder.h
  src/app/zap-templates/partials/cluster-objects-struct.zapt
  src/app/zap-templates/templates/app/cluster-objects-src.zapt
  zzz_generated/app-common/app-common/zap-generated/cluster-objects.cpp
Labels: app, review - approved

#29620 [ICD] Remove minimum requirement and check for the ICDM cluster
  src/app/zap-templates/zcl/data-model/chip/icd-management-cluster.xml
  src/python_testing/TC_ICDM_2_1.py
Labels: app, review - approved

#29606 RVC device Python TC 2.1 - update due to TP change
  src/python_testing/TC_RVCCLEANM_2_1.py
  src/python_testing/TC_RVCRUNM_2_1.py
Labels: review - approved

#29640 Fix handling of a response that comes after MRP resends end.
  src/messaging/ExchangeContext.cpp
  src/messaging/ReliableMessageContext.cpp
  src/messaging/ReliableMessageContext.h
  src/messaging/ReliableMessageMgr.cpp
  src/messaging/tests/MessagingContext.cpp
  src/messaging/tests/MessagingContext.h
  src/messaging/tests/TestReliableMessageProtocol.cpp
Labels: review - approved

#29613 [Telink] Enable -Wundef by default on Zephyr platform
  build/config/compiler/BUILD.gn
  src/include/platform/internal/GenericPlatformManagerImpl_Zephyr.ipp
  src/platform/Zephyr/PlatformManagerImpl.cpp
  src/platform/Zephyr/ThreadStackManagerImpl.h
  src/platform/nrfconnect/CHIPDevicePlatformConfig.h
  src/platform/nrfconnect/CHIPPlatformConfig.h
  src/platform/nrfconnect/ExternalFlashManager.h
  src/platform/nrfconnect/FactoryDataProvider.cpp
  src/platform/nrfconnect/OTAImageProcessorImpl.cpp
  src/platform/nrfconnect/wifi/WiFiManager.h
  src/platform/telink/CHIPDevicePlatformConfig.h
  src/platform/telink/CHIPPlatformConfig.h
  src/platform/telink/SystemPlatformConfig.h
  src/system/SystemConfig.h
Labels: system, platform, nrf connect, zephyr, gn, review - approved, telink

#29479 Add pw_unit_test support to build configuration
  .gn
  build/chip/chip_test.gni
  build/chip/chip_test_group.gni
  build/chip/chip_test_suite.gni
  src/access/tests/BUILD.gn
  src/app/tests/BUILD.gn
  src/ble/tests/BUILD.gn
  src/controller/tests/BUILD.gn
  src/controller/tests/data_model/BUILD.gn
  src/credentials/tests/BUILD.gn
  src/crypto/tests/BUILD.gn
  src/inet/tests/BUILD.gn
  src/lib/address_resolve/tests/BUILD.gn
  src/lib/asn1/tests/BUILD.gn
  src/lib/core/tests/BUILD.gn
  src/lib/dnssd/minimal_mdns/core/tests/BUILD.gn
  src/lib/dnssd/minimal_mdns/records/tests/BUILD.gn
  src/lib/dnssd/minimal_mdns/responders/tests/BUILD.gn
  src/lib/dnssd/minimal_mdns/tests/BUILD.gn
  src/lib/dnssd/platform/tests/BUILD.gn
  src/lib/dnssd/tests/BUILD.gn
  src/lib/format/tests/BUILD.gn
  src/lib/shell/tests/BUILD.gn
  src/lib/support/tests/BUILD.gn
  src/messaging/tests/BUILD.gn
  src/platform/tests/BUILD.gn
  src/protocols/bdx/tests/BUILD.gn
  src/protocols/secure_channel/tests/BUILD.gn
  src/protocols/user_directed_commissioning/tests/BUILD.gn
  src/setup_payload/tests/BUILD.gn
  src/system/tests/BUILD.gn
  src/tracing/tests/BUILD.gn
  src/transport/raw/tests/BUILD.gn
  src/transport/retransmit/tests/BUILD.gn
  src/transport/tests/BUILD.gn
Labels: transport, system, setup payload, platform, lib, inet, crypto, controller, ble, app, gn, review - approved, shell, tests, support, core

#29627 [external buildsystem] scripts/configure: allow out-of-tree project root
  scripts/configure
Labels: review - approved

#29654 Updated a comment about generic mode base cluster enums
  src/app/zap-templates/zcl/data-model/chip/mode-base-cluster.xml
Labels: app, review - approved

#29666 Fix intermittent LSan failures running "darwin-framework-tool tests list".
  scripts/tests/chiptest/lsan-mac-suppressions.txt
Labels: scripts, review - pending, fast track

#29661 Split apart text-only logging and binary logging.
  examples/common/pigweed/RpcService.cpp
  examples/platform/ameba/PigweedLogger.cpp
  examples/platform/silabs/SilabsDeviceAttestationCreds.cpp
  src/lib/support/BUILD.gn
  src/lib/support/CodeUtils.h
  src/lib/support/logging/BinaryLogging.cpp
  src/lib/support/logging/BinaryLogging.h
  src/lib/support/logging/CHIPLogging.h
  src/lib/support/logging/TextOnlyLogging.cpp
  src/lib/support/logging/TextOnlyLogging.h
Labels: examples, platform, lib, review - approved, support

#29638 Use progress-level logging for MRP resends.
  src/messaging/ReliableMessageMgr.cpp
Labels: review - approved

#29546 [ICD-server] Replace the event/queue based logic with a notifier
  examples/platform/silabs/BaseApplication.cpp
  src/app/BUILD.gn
  src/app/FailSafeContext.cpp
  src/app/icd/BUILD.gn
  src/app/icd/ICDEventManager.cpp
  src/app/icd/ICDEventManager.h
  src/app/icd/ICDManager.cpp
  src/app/icd/ICDManager.h
  src/app/icd/ICDNotifier.cpp
  src/app/icd/ICDNotifier.h
  src/app/icd/icd.gni
  src/app/server/BUILD.gn
  src/app/server/CommissioningWindowManager.cpp
  src/app/server/Server.cpp
  src/app/server/Server.h
  src/app/tests/TestICDManager.cpp
  src/include/platform/CHIPDeviceEvent.h
  src/messaging/BUILD.gn
  src/messaging/ExchangeContext.cpp
  src/messaging/ReliableMessageContext.cpp
  src/messaging/ReliableMessageMgr.cpp
Labels: examples, platform, app, review - approved, tests, icd

#29642 Improve error reporting when DNS-SD lookups are denied on Darwin.
  src/darwin/Framework/CHIP/MTRError.h
  src/darwin/Framework/CHIP/MTRError.mm
  src/lib/core/CHIPError.h
  src/platform/Darwin/MdnsError.cpp
Labels: review - approved

#29641 Allow groupId to be a variable in YAML tests.
  scripts/py_matter_yamltests/matter_yamltests/parser.py
  scripts/py_matter_yamltests/matter_yamltests/yaml_loader.py
  scripts/py_matter_yamltests/test_yaml_loader.py
  src/app/tests/suites/TestGroupMessaging.yaml
Labels: scripts, app, review - approved, tests

#29677 Run convert.py on all ZAP files.
  examples/all-clusters-app/all-clusters-common/all-clusters-app.zap
  examples/all-clusters-minimal-app/all-clusters-common/all-clusters-minimal-app.zap
  examples/chef/devices/rootnode_genericswitch_9866e35d0b.zap
  examples/chef/devices/rootnode_roboticvacuumcleaner_1807ff0c49.zap
  examples/lighting-app/lighting-common/lighting-app.zap
  examples/lighting-app/silabs/data_model/lighting-thread-app.zap
  examples/lighting-app/silabs/data_model/lighting-wifi-app.zap
  examples/log-source-app/log-source-common/log-source-app.zap
Labels: examples, review - pending, fast track

#29628 Added fix for the 917 BLE power cycle issue fix
  src/platform/silabs/rs911x/rsi_ble_config.h
  src/platform/silabs/rs911x/wfx_sl_ble_init.c
Labels: platform, review - approved, silabs

#29612 Update bridge app to init network commissioning
  examples/bridge-app/linux/main.cpp
Labels: examples, review - approved

#29690 Remove an unused partial
  build/chip/chip_codegen.cmake
  build/chip/chip_codegen.gni
  src/app/zap-templates/app-templates.json
  src/app/zap-templates/partials/im_command_handler_cluster_commands.zapt
  src/app/zap-templates/templates/app/im-cluster-command-handler.zapt
Labels: app, gn, review - approved

#29569 [Scenes] Fix Yaml 2_1 to 2_4 to enable on CI
  examples/all-clusters-app/all-clusters-common/all-clusters-app.matter
  examples/all-clusters-app/all-clusters-common/all-clusters-app.zap
  src/app/tests/suites/certification/Test_TC_S_1_1.yaml
  src/app/tests/suites/certification/Test_TC_S_2_1.yaml
  src/app/tests/suites/certification/Test_TC_S_2_2.yaml
  src/app/tests/suites/certification/Test_TC_S_2_3.yaml
  src/app/tests/suites/certification/Test_TC_S_2_4.yaml
  src/app/tests/suites/certification/ci-pics-values
Labels: examples, app, review - approved, tests

#29605 Add "provisional" and "internal" marker support for matter IDL files
  scripts/py_matter_idl/matter_idl/README.md
  scripts/py_matter_idl/matter_idl/matter_grammar.lark
  scripts/py_matter_idl/matter_idl/matter_idl_parser.py
  scripts/py_matter_idl/matter_idl/matter_idl_types.py
  scripts/py_matter_idl/matter_idl/test_matter_idl_parser.py
Labels: scripts, review - approved

#29568 Darwin: Improve MTRAsyncWorkQueue logging by tracking unique item ids
  src/darwin/Framework/CHIP/MTRAsyncWorkQueue.h
  src/darwin/Framework/CHIP/MTRAsyncWorkQueue.mm
  src/darwin/Framework/CHIP/MTRDefines_Internal.h
  src/darwin/Framework/CHIP/MTRDevice.mm
  src/darwin/Framework/CHIPTests/MTRAsyncWorkQueueTests.m
Labels: darwin, review - pending, fast track

#29687 Align ICD nomenclature in the app/icd/ implementation
  src/app/BUILD.gn
  src/app/ReadHandler.cpp
  src/app/chip_data_model.cmake
  src/app/chip_data_model.gni
  src/app/clusters/icd-management-server/icd-management-server.cpp
  src/app/icd/BUILD.gn
  src/app/icd/ICDManagementServer.cpp
  src/app/icd/ICDManagementServer.h
  src/app/icd/ICDManager.cpp
  src/app/icd/ICDManager.h
  src/app/icd/ICDMonitoringTable.cpp
  src/app/icd/ICDMonitoringTable.h
  src/app/tests/BUILD.gn
  src/app/tests/TestICDManager.cpp
  src/app/tests/TestICDMonitoringTable.cpp
  src/lib/support/DefaultStorageKeyAllocator.h
  src/messaging/BUILD.gn
  src/messaging/ReliableMessageProtocolConfig.cpp
Labels: lib, app, review - approved, tests, support, icd

#29701 [SMOKECO-TC] Fix smokeco tests as per test plan document
  src/app/tests/suites/certification/Test_TC_SMOKECO_2_2.yaml
  src/app/tests/suites/certification/Test_TC_SMOKECO_2_3.yaml
  src/app/tests/suites/certification/Test_TC_SMOKECO_2_4.yaml
Labels: app, review - approved, tests

#29707 Fix ID field in TheradMetricsStruct to have a name that matches the spec.
  src/app/zap-templates/zcl/data-model/chip/software-diagnostics-cluster.xml
Labels: app, review - approved

#29676 Fixed LED blinking during up-or-open/down-or-close for window-app
  examples/window-app/silabs/src/WindowManager.cpp
Labels: examples, review - approved

#29694 Decrease dependency on `WeakEnum`: GeneralDiagnostics::RadioFaultEnum, InterfaceTypeEnum
  examples/all-clusters-app/linux/AllClustersCommandDelegate.cpp
  examples/lighting-app/linux/LightingAppCommandDelegate.cpp
  src/app/clusters/general-diagnostics-server/GenericFaultTestEventTriggerDelegate.cpp
  src/app/common/templates/config-data.yaml
  src/platform/ASR/DiagnosticDataProviderImpl.cpp
  src/platform/Ameba/DiagnosticDataProviderImpl.cpp
  src/platform/Beken/DiagnosticDataProviderImpl.cpp
  src/platform/ESP32/DiagnosticDataProviderImpl.cpp
  src/platform/Infineon/CYW30739/DiagnosticDataProviderImpl.cpp
  src/platform/Infineon/PSOC6/DiagnosticDataProviderImpl.cpp
  src/platform/Linux/ConnectivityManagerImpl.cpp
  src/platform/Linux/ConnectivityUtils.cpp
  src/platform/Linux/DiagnosticDataProviderImpl.cpp
  src/platform/Tizen/ConnectivityUtils.cpp
  src/platform/Tizen/DiagnosticDataProviderImpl.cpp
  src/platform/Tizen/NetworkCommissioningEthernetDriver.cpp
  src/platform/Zephyr/DiagnosticDataProviderImpl.cpp
  src/platform/bouffalolab/common/DiagnosticDataProviderImpl.cpp
  src/platform/cc13xx_26xx/DiagnosticDataProviderImpl.cpp
  src/platform/mt793x/DiagnosticDataProviderImpl.cpp
  src/platform/nxp/k32w/k32w0/DiagnosticDataProviderImpl.cpp
  src/platform/nxp/k32w/k32w1/DiagnosticDataProviderImpl.cpp
  src/platform/nxp/mw320/ConnectivityUtils.cpp
  src/platform/nxp/mw320/DiagnosticDataProviderImpl.cpp
  src/platform/qpg/DiagnosticDataProviderImpl.cpp
  src/platform/silabs/DiagnosticDataProviderImpl.cpp
  src/platform/webos/ConnectivityManagerImpl.cpp
  src/platform/webos/ConnectivityUtils.cpp
  src/platform/webos/DiagnosticDataProviderImpl.cpp
  zzz_generated/app-common/app-common/zap-generated/cluster-enums-check.h
  zzz_generated/app-common/app-common/zap-generated/cluster-enums.h
  zzz_generated/app-common/app-common/zap-generated/enums.h
Labels: examples, platform, esp32, linux, zephyr, app, review - approved, tizen, silabs

#29699 Fix conformance issue on all-clusters on/off
  examples/all-clusters-app/all-clusters-common/all-clusters-app.matter
  examples/all-clusters-app/all-clusters-common/all-clusters-app.zap
Labels: review - pending, fast track

#29685 Break dependency cycle between CHIPMem and logging.
  src/lib/support/BUILD.gn
  src/lib/support/CHIPMem-Malloc.cpp
  src/lib/support/CHIPMem-Simple.cpp
  src/lib/support/CodeUtils.h
  src/lib/support/VerificationMacrosNoLogging.h
Labels: lib, review - pending, fast track, support

#29680 Add tracing dependencies to pycontroller
  src/pybindings/pycontroller/BUILD.gn
Labels: review - pending, fast track

#29636 Initial implementation for kotlin-matter-controller
  docs/examples/index.md
  examples/kotlin-matter-controller/.gitignore
  examples/kotlin-matter-controller/.gn
  examples/kotlin-matter-controller/BUILD.gn
  examples/kotlin-matter-controller/Manifest.txt
  examples/kotlin-matter-controller/README.md
  examples/kotlin-matter-controller/args.gni
  examples/kotlin-matter-controller/build_overrides
  examples/kotlin-matter-controller/include/CHIPProjectAppConfig.h
  examples/kotlin-matter-controller/java/src/com/matter/controller/Main.kt
  examples/kotlin-matter-controller/java/src/com/matter/controller/commands/common/Argument.kt
  examples/kotlin-matter-controller/java/src/com/matter/controller/commands/common/ArgumentType.kt
  examples/kotlin-matter-controller/java/src/com/matter/controller/commands/common/Command.kt
  examples/kotlin-matter-controller/java/src/com/matter/controller/commands/common/CommandManager.kt
  examples/kotlin-matter-controller/java/src/com/matter/controller/commands/common/CredentialsIssuer.kt
  examples/kotlin-matter-controller/java/src/com/matter/controller/commands/common/FutureResult.kt
  examples/kotlin-matter-controller/java/src/com/matter/controller/commands/common/IPAddress.kt
  examples/kotlin-matter-controller/java/src/com/matter/controller/commands/common/MatterCommand.kt
  examples/kotlin-matter-controller/java/src/com/matter/controller/commands/common/RealResult.kt
  examples/kotlin-matter-controller/java/src/com/matter/controller/commands/pairing/DiscoveryFilterType.kt
  examples/kotlin-matter-controller/java/src/com/matter/controller/commands/pairing/PairOnNetworkLongCommand.kt
  examples/kotlin-matter-controller/java/src/com/matter/controller/commands/pairing/PairOnNetworkLongImInvokeCommand.kt
  examples/kotlin-matter-controller/java/src/com/matter/controller/commands/pairing/PairOnNetworkLongImReadCommand.kt
  examples/kotlin-matter-controller/java/src/com/matter/controller/commands/pairing/PairOnNetworkLongImSubscribeCommand.kt
  examples/kotlin-matter-controller/java/src/com/matter/controller/commands/pairing/PairOnNetworkLongImWriteCommand.kt
  examples/kotlin-matter-controller/java/src/com/matter/controller/commands/pairing/PairingCommand.kt
  examples/kotlin-matter-controller/java/src/com/matter/controller/commands/pairing/PairingModeType.kt
  examples/kotlin-matter-controller/java/src/com/matter/controller/commands/pairing/PairingNetworkType.kt
  examples/kotlin-matter-controller/third_party/connectedhomeip
  scripts/build/build/targets.py
  scripts/build/builders/android.py
  scripts/build/builders/host.py
  scripts/build/testdata/all_targets_linux_x64.txt
Labels: documentation, examples, scripts, review - pending, fast track

#29639 [Scenes] NameSupport Feature
  src/app/clusters/scenes-server/scenes-server.cpp
Labels: app, review - approved

#29603 [Silabs] Logging: Unnecessary include removed.
  src/platform/silabs/Logging.cpp
Labels: platform, review - approved, silabs

#29340 [Linux] Convert possible glib objects to GAutoPtr
  src/platform/GLibTypeDeleter.h
  src/platform/Linux/ConnectivityManagerImpl.cpp
  src/platform/Linux/bluez/AdapterIterator.cpp
  src/platform/Linux/bluez/ChipDeviceScanner.cpp
  src/platform/Linux/bluez/Helper.cpp
  src/platform/Linux/bluez/Types.h
Labels: platform, linux, review - approved

#29721 [ESP32]Add a config to control event list attribute
  config/esp32/components/chip/CMakeLists.txt
  config/esp32/components/chip/Kconfig
Labels: config, review - pending, fast track

#29717 [CI] Add the initial tests in CI to validate Kotlin IM APIs
  .github/workflows/java-tests.yaml
  scripts/tests/run_kotlin_test.py
Labels: scripts, github, workflows, review - approved

#29174 IDT init
  .github/.wordlist.txt
  docs/tools/index.md
  src/tools/interop/idt/.gitignore
  src/tools/interop/idt/Dockerfile
  src/tools/interop/idt/README.md
  src/tools/interop/idt/__main__.py
  src/tools/interop/idt/capture/__init__.py
  src/tools/interop/idt/capture/base.py
  src/tools/interop/idt/capture/ecosystem/__init__.py
  src/tools/interop/idt/capture/ecosystem/play_services/__init__.py
  src/tools/interop/idt/capture/ecosystem/play_services/analysis.py
  src/tools/interop/idt/capture/ecosystem/play_services/command_map.py
  src/tools/interop/idt/capture/ecosystem/play_services/play_services.py
  src/tools/interop/idt/capture/ecosystem/play_services_user/__init__.py
  src/tools/interop/idt/capture/ecosystem/play_services_user/play_services_user.py
  src/tools/interop/idt/capture/factory.py
  src/tools/interop/idt/capture/file_utils.py
  src/tools/interop/idt/capture/loader.py
  src/tools/interop/idt/capture/pcap/__init__.py
  src/tools/interop/idt/capture/pcap/pcap.py
  src/tools/interop/idt/capture/platform/__init__.py
  src/tools/interop/idt/capture/platform/android/__init__.py
  src/tools/interop/idt/capture/platform/android/android.py
  src/tools/interop/idt/capture/shell_utils.py
  src/tools/interop/idt/discovery/__init__.py
  src/tools/interop/idt/discovery/matter_ble.py
  src/tools/interop/idt/discovery/matter_dnssd.py
  src/tools/interop/idt/idt.py
  src/tools/interop/idt/requirements.txt
  src/tools/interop/idt/res/plugin_demo/ecosystem/demo_ext_ecosystem/__init__.py
  src/tools/interop/idt/res/plugin_demo/ecosystem/demo_ext_ecosystem/demo_ext_ecosystem.py
  src/tools/interop/idt/scripts/activate.sh
  src/tools/interop/idt/scripts/alias.sh
  src/tools/interop/idt/scripts/bootstrap.sh
  src/tools/interop/idt/scripts/build.sh
  src/tools/interop/idt/scripts/clean.sh
  src/tools/interop/idt/scripts/clean_all.sh
  src/tools/interop/idt/scripts/clean_artifacts.sh
  src/tools/interop/idt/scripts/connect.sh
  src/tools/interop/idt/scripts/create_vars.sh
  src/tools/interop/idt/scripts/fetch_artifacts.sh
  src/tools/interop/idt/scripts/prune_docker.sh
  src/tools/interop/idt/scripts/push.sh
  src/tools/interop/idt/scripts/py_venv.sh
  src/tools/interop/idt/scripts/setup_shell.sh
  src/tools/interop/idt/scripts/vars.sh
Labels: documentation, tools, review - pending, fast track

#29695 [Darwin] MTRClusters commands have incorrect nullability for no-param methods
  src/darwin/Framework/CHIP/templates/MTRClusters-src.zapt
  src/darwin/Framework/CHIP/templates/MTRClusters.zapt
  src/darwin/Framework/CHIP/zap-generated/MTRClusters.h
  src/darwin/Framework/CHIP/zap-generated/MTRClusters.mm
Labels: darwin, review - pending, fast track

#29689 Hook up some MTRDevice bits to XPC.
  src/darwin/Framework/CHIP/MTRDevice.mm
  src/darwin/Framework/CHIP/MTRDeviceOverXPC.mm
  src/darwin/Framework/CHIPTests/MTRXPCListenerSampleTests.m
Labels: darwin, review - pending, fast track

#29725 [Telink] Fix OTA tests
  config/telink/chip-module/CMakeLists.txt
  config/telink/chip-module/Kconfig
  config/telink/chip-module/Kconfig.defaults
  examples/air-quality-sensor-app/telink/CMakeLists.txt
  examples/all-clusters-app/telink/CMakeLists.txt
  examples/all-clusters-minimal-app/telink/CMakeLists.txt
  examples/bridge-app/telink/CMakeLists.txt
  examples/chef/telink/CMakeLists.txt
  examples/contact-sensor-app/telink/CMakeLists.txt
  examples/light-switch-app/telink/CMakeLists.txt
  examples/lighting-app/telink/CMakeLists.txt
  examples/lock-app/telink/CMakeLists.txt
  examples/ota-requestor-app/telink/CMakeLists.txt
  examples/platform/telink/common/src/AppTaskCommon.cpp
  examples/pump-app/telink/CMakeLists.txt
  examples/pump-controller-app/telink/CMakeLists.txt
  examples/resource-monitoring-app/telink/CMakeLists.txt
  examples/smoke-co-alarm-app/telink/CMakeLists.txt
  examples/temperature-measurement-app/telink/CMakeLists.txt
  examples/thermostat/telink/CMakeLists.txt
  examples/window-app/telink/CMakeLists.txt
  src/platform/telink/BLEManagerImpl.h
  src/platform/telink/BUILD.gn
  src/platform/telink/OTAUtil.cpp
  src/platform/telink/OTAUtil.h
  src/platform/telink/args.gni
Labels: examples, platform, config, review - pending, telink, fast track

#29730 Ensure maybe_placeholders is set in lark parsing
  scripts/py_matter_idl/matter_idl/matter_idl_parser.py
Labels: scripts, review - pending, fast track

#29726 [Telink] Flash various sizes support
  .github/workflows/examples-telink.yaml
  config/telink/chip-module/CMakeLists.txt
  config/telink/chip-module/generate_factory_data.cmake
  examples/air-quality-sensor-app/telink/CMakeLists.txt
  examples/air-quality-sensor-app/telink/README.md
  examples/all-clusters-app/telink/CMakeLists.txt
  examples/all-clusters-app/telink/Readme.md
  examples/all-clusters-minimal-app/telink/CMakeLists.txt
  examples/all-clusters-minimal-app/telink/Readme.md
  examples/bridge-app/telink/CMakeLists.txt
  examples/bridge-app/telink/README.md
  examples/chef/telink/CMakeLists.txt
  examples/contact-sensor-app/telink/CMakeLists.txt
  examples/contact-sensor-app/telink/README.md
  examples/light-switch-app/telink/CMakeLists.txt
  examples/light-switch-app/telink/README.md
  examples/light-switch-app/telink/factory_data.overlay
  examples/lighting-app/telink/CMakeLists.txt
  examples/lighting-app/telink/README.md
  examples/lighting-app/telink/factory_data.overlay
  examples/lighting-app/telink/shell.overlay
  examples/lock-app/telink/CMakeLists.txt
  examples/lock-app/telink/README.md
  examples/ota-requestor-app/telink/CMakeLists.txt
  examples/ota-requestor-app/telink/Readme.md
  examples/platform/telink/common/include/AppTaskCommon.h
  examples/platform/telink/common/src/AppTaskCommon.cpp
  examples/pump-app/telink/CMakeLists.txt
  examples/pump-app/telink/README.md
  examples/pump-controller-app/telink/CMakeLists.txt
  examples/pump-controller-app/telink/README.md
  examples/resource-monitoring-app/telink/CMakeLists.txt
  examples/resource-monitoring-app/telink/README.md
  examples/shell/telink/CMakeLists.txt
  examples/shell/telink/README.md
  examples/smoke-co-alarm-app/telink/CMakeLists.txt
  examples/smoke-co-alarm-app/telink/README.md
  examples/temperature-measurement-app/telink/CMakeLists.txt
  examples/temperature-measurement-app/telink/README.md
  examples/thermostat/telink/CMakeLists.txt
  examples/thermostat/telink/Readme.md
  examples/window-app/telink/CMakeLists.txt
  examples/window-app/telink/README.md
  scripts/build/build/targets.py
  scripts/build/builders/telink.py
  scripts/build/testdata/all_targets_linux_x64.txt
  scripts/tools/telink/mfg_tool.py
  src/platform/telink/1m_flash.overlay
  src/platform/telink/2m_flash.overlay
  src/platform/telink/4m_flash.overlay
  src/platform/telink/tlsr9518adk80d.overlay
  src/platform/telink/tlsr9528a.overlay
Labels: examples, scripts, platform, config, github, workflows, review - approved, telink

#29646 [Silabs] Adds updated WiseConnect SDK and docker pre-installed WiFi SDKs
  .gitmodules
  integrations/docker/images/base/chip-build/version
  integrations/docker/images/stage-2/chip-build-efr32/Dockerfile
  integrations/docker/images/stage-2/chip-build-efr32/requirements.txt
  integrations/docker/images/vscode/chip-build-vscode/Dockerfile
  scripts/setup/requirements.silabs_docker.txt
Labels: scripts, integrations, review - approved, docker

#29705 Get additional workflow information about diskspace
  .github/actions/checkout-submodules-and-bootstrap/action.yaml
  .github/actions/dump-disk-info/action.yaml
  scripts/dump_diskspace_info.sh
Labels: scripts, github, review - approved

#29715 Fix lint warning releated to potential leak
  src/platform/android/java/chip/platform/NsdManagerServiceBrowser.java
Labels: platform, review - pending, fast track

#29737 [Silabs]Added support for wpa3 and bugfixes for the 917 build
  src/platform/silabs/rs911x/rsi_ble_config.h
Labels: platform, review - approved, silabs

#29741 [Silabs] Adds bugfix for symlink for docker use and optimize SDK download
  integrations/docker/images/base/chip-build/version
  integrations/docker/images/stage-2/chip-build-efr32/Dockerfile
  integrations/docker/images/stage-2/chip-build-efr32/requirements.txt
  scripts/setup/requirements.silabs_docker.txt
Labels: scripts, integrations, review - approved, docker

#29673 Clear endpoint bitmask before reporting the PartList attribute
  src/app/util/attribute-storage.cpp
Labels: app, review - approved

#29491 Add Span.h to a source_set that tracks its dependencies.
  examples/chip-tool/BUILD.gn
  examples/darwin-framework-tool/BUILD.gn
  examples/pigweed-app/ameba/chip_main.cmake
  examples/placeholder/linux/BUILD.gn
  src/credentials/BUILD.gn
  src/lib/support/BUILD.gn
  src/lib/support/CodeUtils.h
  src/lib/support/VerificationMacrosNoLogging.h
  src/lib/support/logging/TextOnlyLogging.cpp
  src/lib/support/logging/TextOnlyLogging.h
  src/platform/ASR/BUILD.gn
  src/platform/Ameba/BUILD.gn
  src/platform/Beken/BUILD.gn
  src/platform/Darwin/BUILD.gn
  src/platform/ESP32/BUILD.gn
  src/platform/Infineon/CYW30739/BUILD.gn
  src/platform/Infineon/PSOC6/BUILD.gn
  src/platform/Linux/BUILD.gn
  src/platform/Tizen/BUILD.gn
  src/platform/Zephyr/BUILD.gn
  src/platform/bouffalolab/BL602/BUILD.gn
  src/platform/bouffalolab/BL702/BUILD.gn
  src/platform/bouffalolab/BL702L/BUILD.gn
  src/platform/cc13xx_26xx/cc13x2_26x2/BUILD.gn
  src/platform/cc13xx_26xx/cc13x4_26x4/BUILD.gn
  src/platform/logging/BUILD.gn
  src/platform/mbed/BUILD.gn
  src/platform/mt793x/BUILD.gn
  src/platform/nrfconnect/BUILD.gn
  src/platform/nxp/k32w/k32w0/BUILD.gn
  src/platform/nxp/k32w/k32w1/BUILD.gn
  src/platform/nxp/mw320/BUILD.gn
  src/platform/openiotsdk/BUILD.gn
  src/platform/qpg/BUILD.gn
  src/platform/silabs/SiWx917/BUILD.gn
  src/platform/silabs/efr32/BUILD.gn
  src/platform/stm32/BUILD.gn
  src/platform/telink/BUILD.gn
  src/platform/webos/BUILD.gn
Labels: tools, examples, platform, darwin, esp32, linux, nrf connect, zephyr, lib, review - approved, telink, support, tizen, silabs

#29750 TELINK build fix: Remove apparently unused include that prevents compilation due to lay…
  src/platform/telink/OTAUtil.cpp
Labels: platform, review - approved, telink

#29443 tv-casting-app: Added WakeOnLAN support
  examples/tv-casting-app/android/App/app/src/main/jni/com/chip/casting/DiscoveredNodeData.java
  examples/tv-casting-app/android/App/app/src/main/jni/com/chip/casting/NsdResolveListener.java
  examples/tv-casting-app/android/App/app/src/main/jni/com/chip/casting/TvCastingApp.java
  examples/tv-casting-app/android/App/app/src/main/jni/com/chip/casting/VideoPlayer.java
  examples/tv-casting-app/android/App/app/src/main/jni/cpp/ConversionUtils.cpp
  examples/tv-casting-app/android/App/app/src/main/jni/cpp/TvCastingApp-JNI.cpp
  examples/tv-casting-app/darwin/MatterTvCastingBridge/MatterTvCastingBridge/CommissionerDiscoveryDelegateImpl.h
  examples/tv-casting-app/darwin/MatterTvCastingBridge/MatterTvCastingBridge/ConversionUtils.hpp
  examples/tv-casting-app/darwin/MatterTvCastingBridge/MatterTvCastingBridge/ConversionUtils.mm
  examples/tv-casting-app/darwin/MatterTvCastingBridge/MatterTvCastingBridge/VideoPlayer.h
  examples/tv-casting-app/darwin/MatterTvCastingBridge/MatterTvCastingBridge/VideoPlayer.m
  examples/tv-casting-app/linux/CastingUtils.cpp
  examples/tv-casting-app/tv-casting-common/BUILD.gn
  examples/tv-casting-app/tv-casting-common/include/CHIPProjectAppConfig.h
  examples/tv-casting-app/tv-casting-common/include/CastingServer.h
  examples/tv-casting-app/tv-casting-common/include/ConversionUtils.h
  examples/tv-casting-app/tv-casting-common/include/PersistenceManager.h
  examples/tv-casting-app/tv-casting-common/include/TargetVideoPlayerInfo.h
  examples/tv-casting-app/tv-casting-common/include/WakeOnLan.h
  examples/tv-casting-app/tv-casting-common/src/CastingServer.cpp
  examples/tv-casting-app/tv-casting-common/src/ConversionUtils.cpp
  examples/tv-casting-app/tv-casting-common/src/PersistenceManager.cpp
  examples/tv-casting-app/tv-casting-common/src/TargetVideoPlayerInfo.cpp
  examples/tv-casting-app/tv-casting-common/src/WakeOnLan.cpp
Labels: examples, review - approved

#29758 [Silabs] Remove unnecessary files from the gecko-sdk for the docker image
  integrations/docker/images/base/chip-build/version
  integrations/docker/images/stage-2/chip-build-efr32/Dockerfile
Labels: integrations, review - approved, docker

#29740 [Silabs]Clarify a warning trace for brd4186a/87c and cleanup unsupported erro…
  third_party/silabs/silabs_board.gni
Labels: review - approved

#29751 [Silabs]Enable extended discovery time on our lock-app
  examples/lock-app/silabs/include/CHIPProjectConfig.h
Labels: examples, review - approved

#29763 [docker: chip-buid] make image slightly smaller
  integrations/docker/images/base/chip-build/Dockerfile
  integrations/docker/images/base/chip-build/version
Labels: integrations, review - pending, docker

#29716 [Java] Sync the improvements from kotlin-matter-controller
  .github/workflows/java-tests.yaml
  examples/java-matter-controller/include/CHIPProjectAppConfig.h
  examples/java-matter-controller/java/src/com/matter/controller/commands/common/Argument.kt
  examples/java-matter-controller/java/src/com/matter/controller/commands/common/CredentialsIssuer.kt
  examples/java-matter-controller/java/src/com/matter/controller/commands/common/FutureResult.kt
  examples/java-matter-controller/java/src/com/matter/controller/commands/common/IPAddress.kt
  examples/java-matter-controller/java/src/com/matter/controller/commands/common/MatterCommand.kt
  examples/java-matter-controller/java/src/com/matter/controller/commands/common/RealResult.kt
  examples/java-matter-controller/java/src/com/matter/controller/commands/pairing/PairAddressPaseCommand.kt
  examples/java-matter-controller/java/src/com/matter/controller/commands/pairing/PairAlreadyDiscoveredCommand.kt
  examples/java-matter-controller/java/src/com/matter/controller/commands/pairing/PairOnNetworkLongCommand.kt
  examples/java-matter-controller/java/src/com/matter/controller/commands/pairing/PairOnNetworkLongImInvokeCommand.kt
  examples/java-matter-controller/java/src/com/matter/controller/commands/pairing/PairOnNetworkLongImReadCommand.kt
  examples/java-matter-controller/java/src/com/matter/controller/commands/pairing/PairOnNetworkLongImSubscribeCommand.kt
  examples/java-matter-controller/java/src/com/matter/controller/commands/pairing/PairOnNetworkLongImWriteCommand.kt
Labels: examples, github, workflows, review - approved

#29739 Enums that are not used as a type in XML can now suppress codegen intended for DataModel::Decode
  src/app/common/templates/config-data.yaml
  src/app/zap-templates/templates/app/cluster-enums-check.zapt
  src/app/zap-templates/templates/app/cluster-enums.zapt
  src/controller/python/chip/clusters/Objects.py
  src/controller/python/templates/python-cluster-Objects-py.zapt
  src/controller/python/templates/templates.json
  zzz_generated/app-common/app-common/zap-generated/cluster-enums-check.h
  zzz_generated/app-common/app-common/zap-generated/cluster-enums.h
Labels: controller, app, review - approved

#29600 lwip: Add patch to fix RA LLADDR processing
  .github/.wordlist.txt
  src/lwip/patches/README.md
  src/lwip/patches/nd6_lladdr_fix.patch
Labels: review - approved, lwip

#29767 Fix support for readAttributePaths: for multiple paths in MTRDeviceOverXPC.
  src/darwin/Framework/CHIP/MTRDevice.mm
  src/darwin/Framework/CHIP/MTRDeviceOverXPC.mm
  src/darwin/Framework/CHIPTests/MTRXPCListenerSampleTests.m
Labels: darwin, review - pending, fast track

#29770 [Darwin] MTRDevice and MTRClusters read method return values may be null
  src/darwin/Framework/CHIP/MTRDevice.h
  src/darwin/Framework/CHIP/MTRDevice.mm
  src/darwin/Framework/CHIP/templates/MTRClusters-src.zapt
  src/darwin/Framework/CHIP/templates/MTRClusters.zapt
  src/darwin/Framework/CHIP/zap-generated/MTRClusters.h
  src/darwin/Framework/CHIP/zap-generated/MTRClusters.mm
Labels: darwin, review - pending, fast track

#29623 Move kotlin lib onboardingpayload to package matter
  .github/workflows/java-tests.yaml
  examples/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/CHIPToolActivity.kt
  examples/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/setuppayloadscanner/BarcodeFragment.kt
  examples/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/setuppayloadscanner/CHIPDeviceInfo.kt
  examples/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/setuppayloadscanner/QrCodeInfo.kt
  examples/tv-app/android/App/platform-app/src/main/java/com/matter/tv/server/fragments/QrCodeFragment.java
  examples/virtual-device-app/android/App/core/matter/src/main/java/com/matter/virtual/device/app/core/matter/MatterApi.kt
  examples/virtual-device-app/android/App/core/matter/src/main/java/com/matter/virtual/device/app/core/matter/model/Payload.kt
  kotlin-detect-config.yaml
  src/controller/java/BUILD.gn
  src/controller/java/src/matter/onboardingpayload/Base38.kt
  src/controller/java/src/matter/onboardingpayload/CommissioningFlow.kt
  src/controller/java/src/matter/onboardingpayload/DiscoveryCapability.kt
  src/controller/java/src/matter/onboardingpayload/ManualOnboardingPayloadGenerator.kt
  src/controller/java/src/matter/onboardingpayload/ManualOnboardingPayloadParser.kt
  src/controller/java/src/matter/onboardingpayload/OnboardingPayload.kt
  src/controller/java/src/matter/onboardingpayload/OnboardingPayloadParser.kt
  src/controller/java/src/matter/onboardingpayload/OptionalQRCodeInfo.kt
  src/controller/java/src/matter/onboardingpayload/QRCodeBasicOnboardingPayloadGenerator.kt
  src/controller/java/src/matter/onboardingpayload/QRCodeOnboardingPayloadGenerator.kt
  src/controller/java/src/matter/onboardingpayload/QRCodeOnboardingPayloadParser.kt
  src/controller/java/src/matter/onboardingpayload/VendorId.kt
  src/controller/java/src/matter/onboardingpayload/Verhoeff.kt
  src/controller/java/src/matter/onboardingpayload/Verhoeff10.kt
  src/controller/java/tests/matter/onboardingpayload/ManualCodeTest.kt
  src/controller/java/tests/matter/onboardingpayload/QRCodeTest.kt
Labels: examples, controller, github, workflows, review - approved

#29772 Stop using CHIPClusters in core code and chip-tool.
  examples/chip-tool/commands/pairing/PairingCommand.h
  src/app/app-platform/ContentAppPlatform.cpp
  src/app/clusters/ota-requestor/DefaultOTARequestor.cpp
Labels: tools, examples, app, review - approved

#29414 [Silabs] Adds refactored spi multiplexing with feature toggle for NCP combinations
  examples/platform/silabs/display/demo-ui.c
  examples/platform/silabs/display/lcd.cpp
  examples/platform/silabs/efr32/rs911x/hal/efx_spi.c
  examples/platform/silabs/efr32/spi_multiplex.h
  examples/platform/silabs/efr32/uart.cpp
  examples/platform/silabs/efr32/wf200/efr_spi.c
  src/platform/silabs/efr32/OTAImageProcessorImpl.cpp
Labels: examples, platform, review - approved, silabs

#29675 [Silabs] Fixed LCD animations for window-app
  examples/platform/silabs/BaseApplication.cpp
  examples/platform/silabs/BaseApplication.h
  examples/window-app/silabs/include/WindowManager.h
  examples/window-app/silabs/src/WindowManager.cpp
Labels: examples, platform, review - approved

#29743 all-clusters: Fix conformance on door-lock
  examples/all-clusters-app/all-clusters-common/all-clusters-app.matter
  examples/all-clusters-app/all-clusters-common/all-clusters-app.zap
Labels: examples, review - approved

#29744 all-clusters: Fix conformance on Switch
  examples/all-clusters-app/all-clusters-common/all-clusters-app.matter
  examples/all-clusters-app/all-clusters-common/all-clusters-app.zap
Labels: examples, review - approved

#29722 [Linux] Split BLE helper into separate class files
  src/platform/Linux/BLEManagerImpl.cpp
  src/platform/Linux/BLEManagerImpl.h
  src/platform/Linux/BUILD.gn
  src/platform/Linux/bluez/AdapterIterator.h
  src/platform/Linux/bluez/BluezConnection.cpp
  src/platform/Linux/bluez/BluezConnection.h
  src/platform/Linux/bluez/BluezEndpoint.cpp
  src/platform/Linux/bluez/BluezEndpoint.h
  src/platform/Linux/bluez/Types.h
Labels: platform, linux, review - pending, fast track

#29790 Update ZAP to v2023.10.14-nightly.
  scripts/setup/zap.json
  scripts/setup/zap.version
  scripts/tools/zap/zap_execution.py
  zzz_generated/app-common/app-common/zap-generated/attributes/Accessors.cpp
  zzz_generated/app-common/app-common/zap-generated/attributes/Accessors.h
Labels: scripts, review - approved

#29794 Use latest docker version everywhere
  .devcontainer/devcontainer.json
  .github/workflows/bloat_check.yaml
  .github/workflows/build.yaml
  .github/workflows/chef.yaml
  .github/workflows/cirque.yaml
  .github/workflows/doxygen.yaml
  .github/workflows/examples-ameba.yaml
  .github/workflows/examples-asr.yaml
  .github/workflows/examples-bouffalolab.yaml
  .github/workflows/examples-cc13x2x7_26x2x7.yaml
  .github/workflows/examples-cc32xx.yaml
  .github/workflows/examples-efr32.yaml
  .github/workflows/examples-esp32.yaml
  .github/workflows/examples-infineon.yaml
  .github/workflows/examples-k32w.yaml
  .github/workflows/examples-linux-arm.yaml
  .github/workflows/examples-linux-imx.yaml
  .github/workflows/examples-linux-standalone.yaml
  .github/workflows/examples-mbed.yaml
  .github/workflows/examples-mw320.yaml
  .github/workflows/examples-nrfconnect.yaml
  .github/workflows/examples-openiotsdk.yaml
  .github/workflows/examples-qpg.yaml
  .github/workflows/examples-stm32.yaml
  .github/workflows/examples-telink.yaml
  .github/workflows/examples-tizen.yaml
  .github/workflows/fuzzing-build.yaml
  .github/workflows/lint.yml
  .github/workflows/minimal-build.yaml
  .github/workflows/qemu.yaml
  .github/workflows/release_artifacts.yaml
  .github/workflows/tests.yaml
  .github/workflows/unit_integration_test.yaml
  .github/workflows/zap_regeneration.yaml
  .github/workflows/zap_templates.yaml
  examples/all-clusters-app/ameba/README.md
  examples/all-clusters-minimal-app/ameba/README.md
  examples/chef/README.md
  examples/light-switch-app/ameba/README.md
  examples/lighting-app/ameba/README.md
  examples/ota-requestor-app/ameba/README.md
  examples/pigweed-app/ameba/README.md
  scripts/build/builders/android.py
  scripts/py_matter_idl/matter_idl/matter_idl_parser.py
  scripts/tools/memory/memdf/util/nd.py
  src/controller/python/chip/tlv/__init__.py
  src/test_driver/tizen/README.md
Labels: examples, scripts, controller, vscode, github, workflows, review - approved, test driver

#29789 lwIP: reference upstream patches for ND6 LLADDR
  .github/.wordlist.txt
  src/lwip/patches/README.md
  src/lwip/patches/nd6_lladdr_fix.patch
Labels: review - approved, lwip

#29708 [Android] virtual-device-app: Add usecase of the Doorlock/PowerSource cluster
  examples/virtual-device-app/android/App/core/domain/src/main/java/com/matter/virtual/device/app/core/domain/usecase/matter/cluster/doorlock/GetLockStateFlowUseCase.kt
  examples/virtual-device-app/android/App/core/domain/src/main/java/com/matter/virtual/device/app/core/domain/usecase/matter/cluster/doorlock/SendLockAlarmEventUseCase.kt
  examples/virtual-device-app/android/App/core/domain/src/main/java/com/matter/virtual/device/app/core/domain/usecase/matter/cluster/doorlock/SetLockStateUseCase.kt
  examples/virtual-device-app/android/App/core/domain/src/main/java/com/matter/virtual/device/app/core/domain/usecase/matter/cluster/powersource/GetBatPercentRemainingUseCase.kt
  examples/virtual-device-app/android/App/core/domain/src/main/java/com/matter/virtual/device/app/core/domain/usecase/matter/cluster/powersource/SetBatPercentRemainingUseCase.kt
Labels: review - approved

#29793 [Silabs][Wifi] Fixed LED0 issue by doing led init after lcd init.
  examples/platform/silabs/BaseApplication.cpp
  src/platform/silabs/platformAbstraction/WiseMcuSpam.cpp
Labels: examples, platform, review - approved, silabs

#29801 Remove media clusters from all-clusters-app
  examples/all-clusters-app/all-clusters-common/all-clusters-app.matter
  examples/all-clusters-app/all-clusters-common/all-clusters-app.zap
  examples/all-clusters-app/esp32/main/CMakeLists.txt
Labels: examples, review - approved

#29748 [Silabs][WiFi]Added changes for 917 NCP sleepy build failure
  examples/platform/silabs/SiWx917/SiWx917/sl_wifi_if.c
Labels: examples, platform, review - approved

#29775 [Android] Move nameindex implementation
  src/inet/BUILD.gn
  src/inet/InetInterface.cpp
  src/inet/InetInterfaceImpl.h
  src/inet/InetInterfaceImplDefault.cpp
  src/platform/android/BUILD.gn
  src/platform/android/InetInterfaceImpl.cpp
Labels: platform, inet, review - approved

#29810 Minor fix: variable name spelling in src/platform/device.gni
  src/platform/device.gni
Labels: platform, review - approved

#29754 [Telink] Fix DFU target build & add to CI
  .github/workflows/examples-telink.yaml
  config/telink/chip-module/CMakeLists.txt
  scripts/build/build/targets.py
  scripts/build/builders/telink.py
  scripts/build/testdata/all_targets_linux_x64.txt
  src/platform/telink/OTAUtil.cpp
Labels: scripts, platform, config, github, workflows, review - pending, telink, fast track

#29745 [cherry-pick][ESP32] add a config to enable event list attribute
  config/esp32/components/chip/CMakeLists.txt
  config/esp32/components/chip/Kconfig
Labels: config

#29746 Update Manufacturers database (from September 2023)
  src/app/zap-templates/zcl/data-model/manufacturers.xml
Labels: app, review - approved

#29752 Improve --dry-run logging for run_test_suite.py.
  scripts/tests/chiptest/test_definition.py
  scripts/tests/run_test_suite.py
Labels: scripts, review - pending, fast track

#29691 Put the firmware build time update behind a build flag
  build/chip/fallback_last_known_good_time
  build/chip/write_build_time_header.py
  src/credentials/BUILD.gn
Labels: gn, review - pending, fast track

#29819 [ICD] Remove static_assert to match test changes
  src/app/icd/ICDManagementServer.h
  src/app/icd/ICDManager.cpp
Labels: app, review - approved, icd

#29825 [Silabs][WiFi] Added fix for commissioning failing with ecosystems
  examples/platform/silabs/SiWx917/SiWx917/sl_wifi_if.c
Labels: examples, platform, review - approved

#29803 [CI] Add pairing test for Kotlin API
  .github/workflows/java-tests.yaml
  scripts/tests/run_kotlin_test.py
Labels: scripts, github, workflows, review - approved

#29817 Update builds to docker version 21.
  .github/workflows/bloat_check.yaml
  .github/workflows/build.yaml
  .github/workflows/chef.yaml
  .github/workflows/cirque.yaml
  .github/workflows/doxygen.yaml
  .github/workflows/examples-ameba.yaml
  .github/workflows/examples-asr.yaml
  .github/workflows/examples-bouffalolab.yaml
  .github/workflows/examples-cc13x2x7_26x2x7.yaml
  .github/workflows/examples-cc32xx.yaml
  .github/workflows/examples-efr32.yaml
  .github/workflows/examples-esp32.yaml
  .github/workflows/examples-infineon.yaml
  .github/workflows/examples-k32w.yaml
  .github/workflows/examples-linux-arm.yaml
  .github/workflows/examples-linux-imx.yaml
  .github/workflows/examples-linux-standalone.yaml
  .github/workflows/examples-mbed.yaml
  .github/workflows/examples-mw320.yaml
  .github/workflows/examples-nrfconnect.yaml
  .github/workflows/examples-openiotsdk.yaml
  .github/workflows/examples-qpg.yaml
  .github/workflows/examples-stm32.yaml
  .github/workflows/examples-telink.yaml
  .github/workflows/examples-tizen.yaml
  .github/workflows/full-android.yaml
  .github/workflows/fuzzing-build.yaml
  .github/workflows/java-tests.yaml
  .github/workflows/lint.yml
  .github/workflows/minimal-build.yaml
  .github/workflows/qemu.yaml
  .github/workflows/release_artifacts.yaml
  .github/workflows/smoketest-android.yaml
  .github/workflows/tests.yaml
  .github/workflows/unit_integration_test.yaml
  .github/workflows/zap_regeneration.yaml
  .github/workflows/zap_templates.yaml
  examples/all-clusters-app/ameba/README.md
  examples/all-clusters-minimal-app/ameba/README.md
  examples/light-switch-app/ameba/README.md
  examples/lighting-app/ameba/README.md
  examples/ota-requestor-app/ameba/README.md
  examples/pigweed-app/ameba/README.md
  integrations/cloudbuild/build-all.yaml
  integrations/cloudbuild/chef.yaml
  integrations/cloudbuild/smoke-test.yaml
  src/test_driver/tizen/README.md
Labels: examples, integrations, github, workflows, review - pending, fast track, test driver

#29831 Remove unused include from PlatformManagerImpl.cpp
  src/platform/android/PlatformManagerImpl.cpp
Labels: platform, review - pending, fast track

#29765 Add provisional and internal markers cluster-wide
  examples/all-clusters-app/all-clusters-common/all-clusters-app.matter
  examples/all-clusters-minimal-app/all-clusters-common/all-clusters-minimal-app.matter
  examples/chef/devices/rootnode_airpurifier_airqualitysensor_temperaturesensor_humiditysensor_thermostat_56de3d5f45.matter
  examples/chef/devices/rootnode_fan_7N2TobIlOX.matter
  examples/chef/devices/rootnode_heatingcoolingunit_ncdGai1E5a.matter
  examples/chef/devices/rootnode_roboticvacuumcleaner_1807ff0c49.matter
  examples/chef/devices/rootnode_roomairconditioner_9cf3607804.matter
  examples/chef/devices/rootnode_thermostat_bm3fb8dhYi.matter
  examples/light-switch-app/light-switch-common/light-switch-app.matter
  examples/lighting-app/lighting-common/lighting-app.matter
  examples/lighting-app/silabs/data_model/lighting-thread-app.matter
  examples/lighting-app/silabs/data_model/lighting-wifi-app.matter
  examples/placeholder/linux/apps/app1/config.matter
  examples/placeholder/linux/apps/app2/config.matter
  examples/resource-monitoring-app/resource-monitoring-common/resource-monitoring-app.matter
  examples/virtual-device-app/virtual-device-common/virtual-device-app.matter
  src/app/zap-templates/partials/idl/cluster_definition.zapt
  src/app/zap-templates/zcl/data-model/chip/ballast-configuration-cluster.xml
  src/app/zap-templates/zcl/data-model/chip/fan-control-cluster.xml
  src/app/zap-templates/zcl/data-model/chip/fault-injection-cluster.xml
  src/app/zap-templates/zcl/data-model/chip/pwm-cluster.xml
  src/app/zap-templates/zcl/data-model/chip/scene.xml
  src/app/zap-templates/zcl/data-model/chip/test-cluster.xml
  src/controller/data_model/controller-clusters.matter
Labels: examples, controller, app, review - pending, fast track

#29836 tv-casting-app/android: resetting discovery state vars onStartDiscoveryFailed
  examples/tv-casting-app/android/App/app/src/main/jni/com/chip/casting/NsdDiscoveryListener.java
  examples/tv-casting-app/android/App/app/src/main/jni/com/chip/casting/TvCastingApp.java
Labels: examples, review - approved, tv-casting

#29843 [Telink] Add missed flash overlay for mcuboot build
  config/telink/chip-module/CMakeLists.txt
Labels: review - approved

#29845 [nrfconnect] Repaired wrong script invocation for factory data
  docs/guides/nrfconnect_factory_data_configuration.md
Labels: documentation, review - approved

#29838 Remove obsolete file ChipIdLookup.java
  src/controller/java/zap-generated/chip/devicecontroller/ChipIdLookup.java
Labels: controller, review - approved

#29846 Remove unnecessary include in linux
  .github/workflows/examples-linux-arm.yaml
  src/platform/Linux/ConnectivityManagerImpl.cpp
Labels: platform, linux, github, workflows, review - pending, fast track

#29830 MTRDevice should retry commands if it gets a BUSY response.
  src/darwin/Framework/CHIP/MTRDevice.mm
  src/darwin/Framework/CHIP/MTRError.mm
  src/darwin/Framework/CHIP/MTRError_Internal.h
Labels: darwin, review - pending, fast track

#29727 Fixes manual script issues
  src/app/tests/suites/certification/PICS.yaml
  src/app/tests/suites/certification/Test_TC_CNET_4_1.yaml
  src/app/tests/suites/certification/Test_TC_CNET_4_10.yaml
  src/app/tests/suites/certification/Test_TC_CNET_4_11.yaml
  src/app/tests/suites/certification/Test_TC_CNET_4_12.yaml
  src/app/tests/suites/certification/Test_TC_CNET_4_13.yaml
  src/app/tests/suites/certification/Test_TC_CNET_4_14.yaml
  src/app/tests/suites/certification/Test_TC_CNET_4_15.yaml
  src/app/tests/suites/certification/Test_TC_CNET_4_16.yaml
  src/app/tests/suites/certification/Test_TC_CNET_4_2.yaml
  src/app/tests/suites/certification/Test_TC_CNET_4_20.yaml
  src/app/tests/suites/certification/Test_TC_CNET_4_21.yaml
  src/app/tests/suites/certification/Test_TC_CNET_4_22.yaml
  src/app/tests/suites/certification/Test_TC_CNET_4_3.yaml
  src/app/tests/suites/certification/Test_TC_CNET_4_4.yaml
  src/app/tests/suites/certification/Test_TC_CNET_4_5.yaml
  src/app/tests/suites/certification/Test_TC_CNET_4_6.yaml
  src/app/tests/suites/certification/Test_TC_CNET_4_9.yaml
  src/app/tests/suites/certification/Test_TC_DA_1_4.yaml
  src/app/tests/suites/certification/Test_TC_DA_1_8.yaml
  src/app/tests/suites/certification/Test_TC_DESC_2_1.yaml
  src/app/tests/suites/certification/Test_TC_DISHALM_3_1.yaml
  src/app/tests/suites/certification/Test_TC_DISHALM_3_2.yaml
  src/app/tests/suites/certification/Test_TC_DISHALM_3_3.yaml
  src/app/tests/suites/certification/Test_TC_DISHALM_3_4.yaml
  src/app/tests/suites/certification/Test_TC_DISHALM_3_5.yaml
  src/app/tests/suites/certification/Test_TC_DISHALM_3_6.yaml
  src/app/tests/suites/certification/Test_TC_IDM_4_2.yaml
  src/app/tests/suites/certification/Test_TC_IDM_6_2.yaml
  src/app/tests/suites/certification/Test_TC_OPSTATE_2_2.yaml
  src/app/tests/suites/certification/Test_TC_TCTL_3_2.yaml
  src/app/tests/suites/certification/Test_TC_TCTL_3_3.yaml
  src/app/tests/suites/certification/Test_TC_WNCV_5_1_Simulated.yaml
  src/app/tests/suites/certification/Test_TC_WNCV_6_1_Simulated.yaml
  src/app/tests/suites/certification/Test_TC_WNCV_7_1_Simulated.yaml
  src/app/tests/suites/certification/ci-pics-values
  zzz_generated/placeholder/app1/zap-generated/test/Commands.h
  zzz_generated/placeholder/app2/zap-generated/test/Commands.h
Labels: app, review - pending, fast track, tests

#29848 Update Darwin availability annotations.
  src/darwin/Framework/CHIP/MTRAsyncCallbackWorkQueue.h
  src/darwin/Framework/CHIP/MTRBackwardsCompatShims.h
  src/darwin/Framework/CHIP/MTRDeviceController_Internal.h
  src/darwin/Framework/CHIP/MTRError.h
  src/darwin/Framework/CHIP/templates/availability.yaml
  src/darwin/Framework/CHIP/zap-generated/MTRBaseClusters.h
  src/darwin/Framework/CHIP/zap-generated/MTRCommandPayloadsObjc.h
Labels: darwin, review - pending, fast track

#29852 The Darwin framework is clamping minimum intervals to 1 second for reports, we should up this
  src/darwin/Framework/CHIP/MTRDevice.mm
  src/darwin/Framework/CHIPTests/MTRDeviceTests.m
  src/darwin/Framework/CHIPTests/MTRSwiftDeviceTests.swift
Labels: darwin, fast track

#29844 [nrfconnect] Add a delay to last fabric remove action
  config/nrfconnect/chip-module/Kconfig.features
  examples/all-clusters-app/nrfconnect/main/include/AppTask.h
  examples/all-clusters-minimal-app/nrfconnect/main/include/AppTask.h
  examples/light-switch-app/nrfconnect/main/include/AppTask.h
  examples/lighting-app/nrfconnect/main/include/AppTask.h
  examples/lock-app/nrfconnect/main/include/AppTask.h
  examples/platform/nrfconnect/util/include/FabricTableDelegate.h
  examples/pump-app/nrfconnect/main/include/AppTask.h
  examples/pump-controller-app/nrfconnect/main/include/AppTask.h
  examples/window-app/nrfconnect/main/include/AppTask.h
Labels: examples, platform, config, review - approved

#29851 [ICD] Add new featuremap value to the ICDM cluster
  examples/all-clusters-app/all-clusters-common/all-clusters-app.matter
  examples/light-switch-app/light-switch-common/light-switch-app.matter
  examples/lock-app/lock-common/lock-app.matter
  examples/smoke-co-alarm-app/smoke-co-alarm-common/smoke-co-alarm-app.matter
  src/app/zap-templates/zcl/data-model/chip/icd-management-cluster.xml
  src/controller/data_model/controller-clusters.matter
  src/controller/python/chip/clusters/Objects.py
  src/darwin/Framework/CHIP/zap-generated/MTRBaseClusters.h
  zzz_generated/app-common/app-common/zap-generated/cluster-enums.h
Labels: examples, darwin, controller, app, review - approved

#29849 [Scenes] Enforce SceneTableSize minimum
  src/app/zap-templates/zcl/data-model/chip/scene.xml
Labels: app, review - approved

#29860 Build python lighting-app device in CI.
  .github/workflows/build.yaml
Labels: github, workflows, review - pending, fast track

#29841 [Linux] Fix GAutoPtr deleter for GSource
  src/platform/GLibTypeDeleter.h
  src/platform/Linux/bluez/BluezEndpoint.cpp
Labels: platform, linux, review - approved

#29252 [MatterYamlTests][darwin-framework-tool] Ensure that WaitForCommissio…
  examples/darwin-framework-tool/commands/delay/WaitForCommissioneeCommand.h
  examples/darwin-framework-tool/commands/delay/WaitForCommissioneeCommand.mm
Labels: examples, darwin, review - pending, fast track

#29169 Fix issue #27953 where OTA Requestor is not receiving delayed action …
  examples/darwin-framework-tool/commands/provider/OTAProviderDelegate.mm
Labels: examples, darwin, review - approved

#29863 [Silabs]restructuring low level output api
  src/platform/silabs/efr32/wifi/ethernetif.cpp
Labels: platform, review - approved, silabs

#29549 Add intelligence to the ExchangeContext to determine if a peer is active
  src/messaging/ExchangeContext.cpp
  src/messaging/ExchangeContext.h
  src/messaging/ReliableMessageContext.cpp
  src/messaging/ReliableMessageContext.h
  src/messaging/ReliableMessageMgr.cpp
  src/messaging/ReliableMessageMgr.h
  src/messaging/tests/TestReliableMessageProtocol.cpp
Labels: review - approved, messaging

#29798 [Linux] Wrap BlueZ connection functions in a class
  src/platform/Linux/BLEManagerImpl.cpp
  src/platform/Linux/BlePlatformConfig.h
  src/platform/Linux/bluez/BluezConnection.cpp
  src/platform/Linux/bluez/BluezConnection.h
  src/platform/Linux/bluez/BluezEndpoint.cpp
Labels: platform, linux, review - pending, fast track

#29862 Update following change in the support for the StartUpMode attribute for the RVC device type
  examples/chef/devices/rootnode_roboticvacuumcleaner_1807ff0c49.matter
  examples/chef/devices/rootnode_roboticvacuumcleaner_1807ff0c49.zap
  examples/rvc-app/README.md
  examples/rvc-app/rvc-common/pics/RVC Clean Mode Cluster Test Plan.xml
  examples/rvc-app/rvc-common/pics/RVC_App_Test_Plan.txt
  examples/rvc-app/rvc-common/rvc-app.matter
  examples/rvc-app/rvc-common/rvc-app.zap
Labels: examples, review - approved

#29867 Create a codegen that converts idl back into .matter formats
  scripts/build/test.py
  scripts/build/testdata/dry_run_efr32-brd4161a-light-rpc-no-version.txt
  scripts/py_matter_idl/BUILD.gn
  scripts/py_matter_idl/files.gni
  scripts/py_matter_idl/matter_idl/generators/idl/MatterIdl.jinja
  scripts/py_matter_idl/matter_idl/generators/idl/README.md
  scripts/py_matter_idl/matter_idl/generators/idl/__init__.py
  scripts/py_matter_idl/matter_idl/generators/registry.py
  scripts/py_matter_idl/matter_idl/matter_idl_parser.py
  scripts/py_matter_idl/matter_idl/test_idl_generator.py
  scripts/py_matter_idl/matter_idl/xml_parser.py
  scripts/py_matter_idl/setup.cfg
Labels: scripts, review - approved

#29864 Used a more correct error code in the RVC example app
  examples/rvc-app/rvc-common/src/rvc-device.cpp
Labels: examples, review - approved

#29880 [Android] virtual-device-app: Update zap (Scenes)
  examples/virtual-device-app/virtual-device-common/virtual-device-app.matter
  examples/virtual-device-app/virtual-device-common/virtual-device-app.zap
Labels: examples, review - approved

#29879 [Android] Change to generate Java files using jinja
  scripts/py_matter_idl/BUILD.gn
  scripts/py_matter_idl/matter_idl/generators/java/ChipClusters_java.jinja
  scripts/py_matter_idl/matter_idl/generators/java/ChipEventStructs_java.jinja
  scripts/py_matter_idl/matter_idl/generators/java/ChipStructs_java.jinja
  scripts/py_matter_idl/matter_idl/generators/java/ClusterInfoMapping_java.jinja
  scripts/py_matter_idl/matter_idl/generators/java/__init__.py
  scripts/py_matter_idl/matter_idl/tests/available_tests.yaml
  scripts/py_matter_idl/matter_idl/tests/outputs/several_clusters/java/ChipClusters.java
  scripts/py_matter_idl/matter_idl/tests/outputs/several_clusters/java/ChipEventStructs.java
  scripts/py_matter_idl/matter_idl/tests/outputs/several_clusters/java/ChipStructs.java
  scripts/py_matter_idl/matter_idl/tests/outputs/several_clusters/java/ClusterInfoMapping.java
  src/controller/java/BUILD.gn
  src/controller/java/generated/java/chip/devicecontroller/ChipClusters.java
  src/controller/java/generated/java/chip/devicecontroller/ChipEventStructs.java
  src/controller/java/generated/java/chip/devicecontroller/ChipStructs.java
  src/controller/java/generated/java/chip/devicecontroller/ClusterInfoMapping.java
  src/controller/java/templates/ChipClusters-java.zapt
  src/controller/java/templates/ChipEventStructs-java.zapt
  src/controller/java/templates/ChipStructs-java.zapt
  src/controller/java/templates/ClusterInfo-java.zapt
  src/controller/java/templates/templates.json
  src/controller/java/zap-generated/chip/devicecontroller/ChipClusters.java
  src/controller/java/zap-generated/chip/devicecontroller/ClusterInfoMapping.java
Labels: scripts, controller, review - pending, fast track

#29875 [Android] Change default val of udpListenPort to 0
  src/controller/java/src/chip/devicecontroller/ControllerParams.java
Labels: review - approved

#29814 Fix streamer_esp32.cpp for current esp-idf master branch
  src/lib/shell/streamer_esp32.cpp
Labels: lib, review - pending, fast track, shell

#29888 Add a parser for CSA XML data models
  .github/workflows/tests.yaml
  scripts/py_matter_idl/BUILD.gn
  scripts/py_matter_idl/files.gni
  scripts/py_matter_idl/matter_idl/data_model_xml/__init__.py
  scripts/py_matter_idl/matter_idl/data_model_xml/handlers/__init__.py
  scripts/py_matter_idl/matter_idl/data_model_xml/handlers/base.py
  scripts/py_matter_idl/matter_idl/data_model_xml/handlers/context.py
  scripts/py_matter_idl/matter_idl/data_model_xml/handlers/handlers.py
  scripts/py_matter_idl/matter_idl/data_model_xml/handlers/parsing.py
  scripts/py_matter_idl/matter_idl/data_model_xml_parser.py
  scripts/py_matter_idl/matter_idl/generators/idl/README.md
  scripts/py_matter_idl/matter_idl/test_data_model_xml.py
  scripts/py_matter_idl/matter_idl/test_zapxml.py
  scripts/py_matter_idl/matter_idl/zapxml_parser.py
Labels: scripts, github, workflows, review - approved

#29720 [Ameba] Additional Ameba Implementation
  examples/all-clusters-app/ameba/chip_main.cmake
  examples/all-clusters-app/ameba/main/CHIPDeviceManager.cpp
  examples/all-clusters-app/ameba/main/ManualOperationCommand.cpp
  examples/all-clusters-app/ameba/main/OperationalStateManager.cpp
  examples/all-clusters-app/ameba/main/SmokeCOAlarmManager.cpp
  examples/all-clusters-app/ameba/main/chipinterface.cpp
  examples/all-clusters-app/ameba/main/include/CHIPDeviceManager.h
  examples/all-clusters-app/ameba/main/include/ManualDishWasherAlarmCommand.h
  examples/all-clusters-app/ameba/main/include/ManualOperationCommand.h
  examples/all-clusters-app/ameba/main/include/ManualOperationalStateCommand.h
  examples/all-clusters-app/ameba/main/include/ManualRVCModesCommand.h
  examples/all-clusters-app/ameba/main/include/ManualRefrigeratorAlarmCommand.h
  examples/all-clusters-app/ameba/main/include/OperationalStateManager.h
  examples/all-clusters-app/ameba/main/include/SmokeCOAlarmManager.h
  examples/platform/ameba/test_event_trigger/AmebaTestEventTriggerDelegate.cpp
  examples/platform/ameba/test_event_trigger/AmebaTestEventTriggerDelegate.h
Labels: examples, platform, review - approved

#29882 [mw320] Remove doing factory-reset on fail-safe armed
  src/platform/nxp/mw320/ConfigurationManagerImpl.cpp
Labels: platform, review - approved
