Repository project-chip/connectedhomeip, pull requests merged in 2024-10, with the labels that each got.

#35846 docs: Fix links, commands and QR code on first_example
  docs/getting_started/first_example.md
Labels: documentation, review - approved

#35853 Improve id logging in MTR*Path descriptions.
  src/darwin/Framework/CHIP/MTRBaseDevice.mm
Labels: darwin, review - pending, fast track

#35860 [Testing] Convenient property for checking PICS_SDK_CI_ONLY
  docs/testing/python.md
  src/python_testing/MinimalRepresentation.py
  src/python_testing/TC_BRBINFO_4_1.py
  src/python_testing/TC_CCTRL_2_2.py
  src/python_testing/TC_CCTRL_2_3.py
  src/python_testing/TC_DA_1_2.py
  src/python_testing/TC_DeviceBasicComposition.py
  src/python_testing/TC_DeviceConformance.py
  src/python_testing/TC_MCORE_FS_1_1.py
  src/python_testing/TC_MCORE_FS_1_2.py
  src/python_testing/TC_MCORE_FS_1_3.py
  src/python_testing/TC_MCORE_FS_1_4.py
  src/python_testing/TC_MCORE_FS_1_5.py
  src/python_testing/TC_pics_checker.py
  src/python_testing/drlk_2_x_common.py
  src/python_testing/matter_testing_support.py
Labels: documentation, review - approved, tests, matter-1.4-te2-script-change

#35820 [NXP] Add wifi/tread/software diagnostics support, apply wifi tests fixes, add second BR interface
  examples/thermostat/nxp/zap/thermostat_matter_br.matter
  examples/thermostat/nxp/zap/thermostat_matter_br.zap
  examples/thermostat/nxp/zap/thermostat_matter_thread.matter
  examples/thermostat/nxp/zap/thermostat_matter_thread.zap
  examples/thermostat/nxp/zap/thermostat_matter_wifi.matter
  examples/thermostat/nxp/zap/thermostat_matter_wifi.zap
  src/platform/nxp/common/ConnectivityManagerImpl.cpp
  src/platform/nxp/common/ConnectivityManagerImpl.h
  src/platform/nxp/common/DiagnosticDataProviderImpl.cpp
  src/platform/nxp/common/DiagnosticDataProviderImpl.h
  src/platform/nxp/common/NetworkCommissioningWiFiDriver.cpp
Labels: examples, platform, review - approved

#35856 Set python version to 3.10 for ruff checker
  ruff.toml
Labels: review - pending, fast track

#35835 Fix casing of command fields in Window Covering cluster.
  src/app/tests/suites/certification/Test_TC_WNCV_4_1.yaml
  src/app/tests/suites/certification/Test_TC_WNCV_4_2.yaml
  src/app/tests/suites/certification/Test_TC_WNCV_4_3.yaml
  src/app/tests/suites/certification/Test_TC_WNCV_4_4.yaml
  src/app/tests/suites/certification/Test_TC_WNCV_4_5.yaml
  src/app/zap-templates/zcl/data-model/chip/window-covering.xml
Labels: app, review - approved, tests, matter-1.4-te2-script-change

#35697 Update usage of Event logic to be routable through DataModel::Provider
  src/app/BUILD.gn
  src/app/InteractionModelEngine.cpp
  src/app/InteractionModelEngine.h
  src/app/codegen-data-model-provider/BUILD.gn
  src/app/codegen-data-model-provider/CodegenDataModelProvider.cpp
  src/app/codegen-data-model-provider/CodegenDataModelProvider.h
  src/app/codegen-data-model-provider/CodegenDataModelProvider_Write.cpp
  src/app/codegen-data-model-provider/model.gni
  src/app/data-model-provider/Provider.h
  src/app/ember_coupling/BUILD.gn
  src/app/ember_coupling/EventPathValidity.mixin.h
  src/app/tests/test-interaction-model-api.h
  src/controller/tests/data_model/DataModelFixtures.h
Labels: scripts, controller, app, review - approved, tests

#35848 [CI] Ensure that libshell is disabled when running tests using script…
  .github/workflows/darwin-tests.yaml
  .github/workflows/tests.yaml
  scripts/build/build/targets.py
  scripts/build/builders/host.py
  scripts/build/testdata/all_targets_linux_x64.txt
Labels: scripts, github, workflows, review - approved

#35817 [chiptests] Check the exit code of the subprocesses and raise a failure if the exit code is not 0 AND if the process was responding
  scripts/tests/chiptest/test_definition.py
Labels: scripts, review - approved

#35810 Add ECOINFO_2_1 and ECOINFO_2_2 to CI
  src/python_testing/TC_ECOINFO_2_1.py
  src/python_testing/TC_ECOINFO_2_2.py
  src/python_testing/TC_MCORE_FS_1_1.py
  src/python_testing/TC_MCORE_FS_1_2.py
  src/python_testing/TC_MCORE_FS_1_3.py
  src/python_testing/TC_MCORE_FS_1_4.py
  src/python_testing/TC_MCORE_FS_1_5.py
  src/python_testing/execute_python_tests.py
  src/python_testing/matter_testing_infrastructure/chip/testing/tasks.py
Labels: documentation, review - approved, tests, matter-1.4-te2-script-change

#35619 Update PICS Generator to 1.4
  .github/.wordlist.txt
  src/tools/PICS-generator/PICSGenerator.py
  src/tools/PICS-generator/README.md
  src/tools/PICS-generator/XMLPICSValidator.py
  src/tools/PICS-generator/pics_generator_support.py
Labels: tools, github, review - pending, fast track

#35662 [Feature] Adding Step Endpoint Information
  scripts/py_matter_yamltests/matter_yamltests/hooks.py
  src/python_testing/TC_ACE_1_3.py
  src/python_testing/TC_BOOLCFG_2_1.py
  src/python_testing/matter_testing_support.py
  src/python_testing/test_testing/TestDecorators.py
Labels: scripts, review - pending, fast track, tests, matter-1.4-te2-script-change

#35551 [Android] Fix resolve exception issue
  src/platform/android/java/chip/platform/NsdServiceFinderAndResolver.java
Labels: platform, review - pending, fast track

#35578 fan rocksetting; thermostat dry mode
  examples/chef/devices/rootnode_roomairconditioner_9cf3607804.matter
  examples/chef/devices/rootnode_roomairconditioner_9cf3607804.zap
Labels: examples, app, review - pending, fast track

#35410 [Chef] Add Power Source cluster to Water leak sensor EP1
  examples/chef/devices/rootnode_waterleakdetector_0b067acfa3.matter
  examples/chef/devices/rootnode_waterleakdetector_0b067acfa3.zap
Labels: examples, review - pending, fast track

#35169 [Bouffalo Lab] Add littlefs to access flash storage
  .github/workflows/examples-bouffalolab.yaml
  examples/lighting-app/bouffalolab/common/AppTask.cpp
  scripts/build/build/targets.py
  scripts/build/builders/bouffalolab.py
  scripts/build/testdata/all_targets_linux_x64.txt
  src/platform/bouffalolab/BL602/BUILD.gn
  src/platform/bouffalolab/BL702/BUILD.gn
  src/platform/bouffalolab/BL702L/BUILD.gn
  src/platform/bouffalolab/common/BLConfig_littlefs.cpp
  third_party/bouffalolab/bl602/bl_iot_sdk.gni
  third_party/bouffalolab/bl702/bl_iot_sdk.gni
  third_party/bouffalolab/bl702l/bl_iot_sdk.gni
Labels: examples, scripts, platform, github, workflows, review - pending, fast track, changing-submodules-on-purpose

#35874 Remove `event list attribute` support in the SDK
  config/esp32/components/chip/CMakeLists.txt
  config/esp32/components/chip/Kconfig
  config/nxp/cmake/common.cmake
  src/app/AttributePathExpandIterator-DataModel.cpp
  src/app/BUILD.gn
  src/app/GlobalAttributes.h
  src/app/ember_coupling/EventPathValidity.mixin.h
  src/app/tests/TestAttributePathExpandIterator.cpp
  src/app/tests/TestReadInteraction.cpp
  src/app/util/ember-compatibility-functions.cpp
  src/app/util/ember-global-attribute-access-interface.cpp
  src/controller/tests/TestEventChunking.cpp
  src/controller/tests/TestReadChunking.cpp
  src/platform/nxp/rt/rw61x/args.gni
Labels: platform, controller, app, config, review - approved, tests

#35878 [Matter.framework] Wrap the MatterControllerFactory shutdown code tha…
  src/darwin/Framework/CHIP/MTRDeviceControllerFactory.mm
Labels: darwin, review - pending, fast track

#35488 Add Air Quality Sensor App for silabs
  .github/workflows/examples-efr32.yaml
  examples/air-quality-sensor-app/air-quality-sensor-common/include/air-quality-sensor-manager.h
  examples/air-quality-sensor-app/air-quality-sensor-common/src/air-quality-sensor-manager.cpp
  examples/air-quality-sensor-app/silabs/.gn
  examples/air-quality-sensor-app/silabs/BUILD.gn
  examples/air-quality-sensor-app/silabs/README.md
  examples/air-quality-sensor-app/silabs/build_for_wifi_args.gni
  examples/air-quality-sensor-app/silabs/build_for_wifi_gnfile.gn
  examples/air-quality-sensor-app/silabs/build_overrides
  examples/air-quality-sensor-app/silabs/include/AirQualityConfig.h
  examples/air-quality-sensor-app/silabs/include/AirQualitySensorUI.h
  examples/air-quality-sensor-app/silabs/include/AppConfig.h
  examples/air-quality-sensor-app/silabs/include/AppEvent.h
  examples/air-quality-sensor-app/silabs/include/AppTask.h
  examples/air-quality-sensor-app/silabs/include/CHIPProjectConfig.h
  examples/air-quality-sensor-app/silabs/include/SensorManager.h
  examples/air-quality-sensor-app/silabs/openthread.gn
  examples/air-quality-sensor-app/silabs/openthread.gni
  examples/air-quality-sensor-app/silabs/src/AirQualitySensorUI.cpp
  examples/air-quality-sensor-app/silabs/src/AppTask.cpp
  examples/air-quality-sensor-app/silabs/src/SensorManager.cpp
  examples/air-quality-sensor-app/silabs/src/ZclCallbacks.cpp
  examples/air-quality-sensor-app/silabs/third_party/connectedhomeip
  examples/platform/silabs/display/demo-ui-bitmaps.h
  examples/platform/silabs/sensors/AirQuality/AirQualitySensor.cpp
  examples/platform/silabs/sensors/AirQuality/AirQualitySensor.h
  scripts/build/build/targets.py
  scripts/build/builders/efr32.py
  scripts/build/testdata/all_targets_linux_x64.txt
Labels: examples, scripts, platform, github, workflows, review - approved

#35869 Cleanup FIFO pipe created by the fabric-sync-app
  examples/fabric-admin/scripts/fabric-sync-app.py
Labels: examples, review - approved

#35873 Remove one more direct ember coupling in reporting engine (using of CheckEventSupportStatus from ember-compatibility)
  src/app/codegen-data-model-provider/CodegenDataModelProvider.cpp
  src/app/codegen-data-model-provider/CodegenDataModelProvider.h
  src/app/data-model-provider/MetadataTypes.cpp
  src/app/data-model-provider/MetadataTypes.h
  src/app/reporting/Engine.cpp
Labels: app, review - approved

#35871 Add --app-ready-pattern option to python test arguments
  docs/testing/python.md
  scripts/tests/run_python_test.py
  src/controller/python/test/test_scripts/mobile-device-test.py
  src/python_testing/TCP_Tests.py
  src/python_testing/TC_ECOINFO_2_1.py
  src/python_testing/TC_ECOINFO_2_2.py
  src/python_testing/TC_MCORE_FS_1_1.py
  src/python_testing/TC_MCORE_FS_1_2.py
  src/python_testing/TC_MCORE_FS_1_3.py
  src/python_testing/TC_MCORE_FS_1_4.py
  src/python_testing/TC_MCORE_FS_1_5.py
  src/python_testing/TestBatchInvoke.py
  src/python_testing/TestGroupTableReports.py
  src/python_testing/TestUnitTestingErrorPath.py
  src/python_testing/hello_test.py
  src/python_testing/matter_testing_infrastructure/chip/testing/metadata.py
  src/python_testing/matter_testing_infrastructure/chip/testing/test_metadata.py
Labels: documentation, scripts, controller, review - approved, tests, matter-1.4-te2-script-change

#35881 Fix content launcher cluster to have real feature bitmap instead of indexes
  examples/all-clusters-minimal-app/all-clusters-common/all-clusters-minimal-app.matter
  examples/placeholder/linux/apps/app1/config.matter
  examples/placeholder/linux/apps/app2/config.matter
  examples/tv-app/tv-common/tv-app.matter
  examples/tv-casting-app/tv-casting-common/tv-casting-app.matter
  src/app/zap-templates/zcl/data-model/chip/content-launch-cluster.xml
  src/controller/data_model/controller-clusters.matter
  src/controller/python/chip/clusters/Objects.py
  src/darwin/Framework/CHIP/zap-generated/MTRBaseClusters.h
  zzz_generated/app-common/app-common/zap-generated/cluster-enums.h
Labels: examples, scripts, darwin, controller, app, review - approved

#35872 [Chef] Update Refrigerator
  examples/chef/common/clusters/refrigerator-and-temperature-controlled-cabinet-mode/tcc-mode.cpp
  examples/chef/common/clusters/refrigerator-and-temperature-controlled-cabinet-mode/tcc-mode.h
  examples/chef/common/stubs.cpp
  examples/chef/devices/rootnode_refrigerator_temperaturecontrolledcabinet_temperaturecontrolledcabinet_ffdb696680.matter
  examples/chef/devices/rootnode_refrigerator_temperaturecontrolledcabinet_temperaturecontrolledcabinet_ffdb696680.zap
  examples/chef/esp32/main/CMakeLists.txt
  examples/chef/linux/BUILD.gn
  examples/chef/nrfconnect/CMakeLists.txt
Labels: examples, review - approved

#35884 Darwin: Avoid autorelease handling around LoggerForModule
  src/platform/Darwin/Logging.h
  src/platform/Darwin/Logging.mm
Labels: platform, darwin, review - pending, fast track

#35857 Add chef laundry dryer sample app with operation state, onoff and temperature control cluster support
  examples/chef/devices/rootnode_laundrydryer_01796fe396.matter
  examples/chef/devices/rootnode_laundrydryer_01796fe396.zap
  examples/chef/sample_app_util/matter_device_types.json
Labels: examples, review - pending, fast track

#35868 Fetch next occupied credential index earlier in getCredentialStatusCommandHandler.
  src/app/clusters/door-lock-server/door-lock-server.cpp
  src/app/clusters/door-lock-server/door-lock-server.h
Labels: app, review - approved

#35883 [Silabs] Lock-App Zap
  examples/lock-app/silabs/build_for_wifi_args.gni
  examples/lock-app/silabs/data_model/BUILD.gn
  examples/lock-app/silabs/data_model/lock-app.matter
  examples/lock-app/silabs/data_model/lock-app.zap
  examples/lock-app/silabs/openthread.gni
Labels: examples, review - approved

#35887 Replace PIXIT with PICS in log statements
  src/python_testing/TC_EWATERHTR_2_1.py
Labels: review - pending, fast track, tests, matter-1.4-te2-script-change

#35888 [NXP] fix on network build issue, add wifi diagnostics status code
  src/platform/nxp/common/ConnectivityManagerImpl.cpp
  src/platform/nxp/common/DiagnosticDataProviderImpl.cpp
Labels: platform, review - approved

#35894 Re-generate zap on master
  examples/chef/devices/rootnode_laundrydryer_01796fe396.matter
Labels: hotfix

#35861 Add ability to report endpoint device types in the DataModel::Provider interface
  src/app/codegen-data-model-provider/CodegenDataModelProvider.cpp
  src/app/codegen-data-model-provider/CodegenDataModelProvider.h
  src/app/codegen-data-model-provider/tests/TestCodegenModelViaMocks.cpp
  src/app/data-model-provider/MetadataTypes.h
  src/app/tests/test-interaction-model-api.cpp
  src/app/tests/test-interaction-model-api.h
  src/app/util/attribute-storage.cpp
  src/app/util/attribute-storage.h
  src/app/util/mock/MockNodeConfig.cpp
  src/app/util/mock/MockNodeConfig.h
  src/app/util/mock/attribute-storage.cpp
  src/controller/tests/data_model/DataModelFixtures.cpp
  src/controller/tests/data_model/DataModelFixtures.h
Labels: controller, app, review - approved, tests

#35740 [SVE] TC-MCORE-FS-1.3: Bump the DUT timeout for newly added device
  src/python_testing/TC_MCORE_FS_1_3.py
Labels: review - approved, tests, matter-1.4-te2-script-change

#35867 [Fabric-Admin] Refactor to use API methods instead of PushCommand (2/3)
  examples/fabric-admin/commands/common/CHIPCommand.cpp
  examples/fabric-admin/commands/common/CHIPCommand.h
  examples/fabric-admin/commands/fabric-sync/FabricSyncCommand.cpp
  examples/fabric-admin/commands/fabric-sync/FabricSyncCommand.h
  examples/fabric-admin/commands/pairing/PairingCommand.cpp
  examples/fabric-admin/commands/pairing/PairingCommand.h
  examples/fabric-admin/device_manager/DeviceManager.cpp
  examples/fabric-admin/device_manager/DeviceManager.h
  examples/fabric-admin/device_manager/PairingManager.cpp
  examples/fabric-admin/device_manager/PairingManager.h
Labels: examples, review - approved

#35904 Removing dead XPC methods
  src/darwin/Framework/CHIP/MTRDeviceController.mm
  src/darwin/Framework/CHIP/MTRDeviceController_XPC.mm
  src/darwin/Framework/CHIP/XPC Protocol/MTRXPCServerProtocol.h
Labels: darwin, fast track

#35906 Add debug messages to the delegate callbacks for test033_TestMTRDevic…
  src/darwin/Framework/CHIPTests/MTRDeviceTests.m
Labels: darwin, review - pending, fast track

#35908 Fixing exception with calling into a dead XPC object
  src/darwin/Framework/CHIP/MTRDefines_Internal.h
  src/darwin/Framework/CHIP/MTRDeviceController_XPC.mm
  src/darwin/Framework/CHIP/MTRDevice_XPC.mm
Labels: darwin, fast track

#35893 lighting-app: Remove OccupancySensing Server
  examples/lighting-app/esp32/main/CMakeLists.txt
  examples/lighting-app/lighting-common/lighting-app.matter
  examples/lighting-app/lighting-common/lighting-app.zap
Labels: examples, review - approved

#35880 Fix duplicate CI runs for both push and pull_request events
  .github/workflows/build.yaml
  .github/workflows/chef.yaml
  .github/workflows/cirque.yaml
  .github/workflows/darwin-tests.yaml
  .github/workflows/darwin.yaml
  .github/workflows/doxygen.yaml
  .github/workflows/example-tv-casting-darwin.yaml
  .github/workflows/examples-ameba.yaml
  .github/workflows/examples-asr.yaml
  .github/workflows/examples-bouffalolab.yaml
  .github/workflows/examples-cc13xx_26xx.yaml
  .github/workflows/examples-cc32xx.yaml
  .github/workflows/examples-efr32.yaml
  .github/workflows/examples-esp32.yaml
  .github/workflows/examples-infineon.yaml
  .github/workflows/examples-linux-arm.yaml
  .github/workflows/examples-linux-imx.yaml
  .github/workflows/examples-linux-standalone.yaml
  .github/workflows/examples-linux-tv-casting-app.yaml
  .github/workflows/examples-mw320.yaml
  .github/workflows/examples-nrfconnect.yaml
  .github/workflows/examples-nuttx.yaml
  .github/workflows/examples-nxp.yaml
  .github/workflows/examples-qpg.yaml
  .github/workflows/examples-stm32.yaml
  .github/workflows/examples-telink.yaml
  .github/workflows/examples-tizen.yaml
  .github/workflows/full-android.yaml
  .github/workflows/gradle-wrapper-validation.yml
  .github/workflows/java-tests.yaml
  .github/workflows/lint.yml
  .github/workflows/minimal-build.yaml
  .github/workflows/qemu.yaml
  .github/workflows/spell.yml
  .github/workflows/tests.yaml
  .github/workflows/unit_integration_test.yaml
  .github/workflows/zap_templates.yaml
Labels: github, workflows, review - approved

#35891 AutoRelockTime wait will happen when Pics is enabled
  src/python_testing/drlk_2_x_common.py
Labels: review - pending, fast track, tests, matter-1.4-te2-script-change

#35909 [Fabric-Bridge] Remove legacy thread for RPC test
  examples/fabric-bridge-app/linux/main.cpp
Labels: examples, review - approved

#35899 Fix empty report feedback loop edge-case
  src/app/reporting/ReportScheduler.h
  src/app/reporting/SynchronizedReportSchedulerImpl.cpp
Labels: app, review - approved

#35911 Cleanup extra namespace prefix
  examples/chip-tool/commands/pairing/OpenCommissioningWindowCommand.cpp
  examples/chip-tool/commands/pairing/PairingCommand.cpp
  examples/chip-tool/commands/pairing/PairingCommand.h
Labels: tools, examples, review - approved

#35809 [Silabs] Enabling custom board support for matter
  third_party/silabs/silabs_board.gni
Labels: review - approved, changing-submodules-on-purpose

#35901 Documentation: Fix defaults on build_python.sh
  docs/guides/python_chip_controller_building.md
  docs/testing/python.md
  docs/testing/yaml.md
  src/python_testing/post_certification_tests/production_device_checks.py
Labels: documentation, review - approved, tests, matter-1.4-te2-script-change

#35862 Make use of DataModel::Provider device type resolution in the access control
  src/app/server/Server.cpp
Labels: controller, app, review - approved, tests

#35915 Add missing feature map bit
  examples/light-switch-app/light-switch-common/light-switch-app.matter
  examples/light-switch-app/light-switch-common/light-switch-app.zap
Labels: examples, review - approved

#35920 When logging work items in MTRDevice_Concrete, include names, not just ids.
  src/darwin/Framework/CHIP/MTRDevice_Concrete.mm
Labels: darwin, review - pending, fast track

#35921 Fix Matter.framework path descriptions to be more readable.
  src/darwin/Framework/CHIP/MTRBaseDevice.mm
Labels: darwin, review - pending, fast track

#35922 Fix formatting of unknown IDs in MTRClusterNames bits.
  src/darwin/Framework/CHIP/templates/MTRClusterNames-src.zapt
  src/darwin/Framework/CHIP/zap-generated/MTRClusterNames.mm
Labels: darwin, review - pending, fast track

#35923 Fix some error messages when XPC exceptions happen.
  src/darwin/Framework/CHIP/MTRDeviceController_XPC.mm
Labels: darwin, review - pending, fast track

#35907 tv-casting-app fix load stale binding endpoints from un-needed fabrics
  examples/tv-casting-app/linux/simple-app-helper.cpp
  examples/tv-casting-app/tv-casting-common/core/CastingPlayer.cpp
  examples/tv-casting-app/tv-casting-common/core/Endpoint.h
  examples/tv-casting-app/tv-casting-common/support/CastingStore.cpp
  examples/tv-casting-app/tv-casting-common/support/ChipDeviceEventHandler.cpp
  examples/tv-casting-app/tv-casting-common/support/EndpointListLoader.cpp
Labels: examples, review - approved

#35895 Re-enerated chime XML using updated alchemy which recognizes Cameras domain
  src/app/zap-templates/zcl/data-model/chip/chime-cluster.xml
Labels: app, review - approved, cameras

#35925 Update Darwin availability annotations for new camera bits.
  src/darwin/Framework/CHIP/templates/availability.yaml
Labels: darwin, review - approved

#35927 [Fabric-Sync] Fix compile warnings
  examples/fabric-admin/device_manager/DeviceManager.cpp
  examples/fabric-admin/device_manager/DeviceManager.h
  examples/fabric-admin/rpc/RpcServer.cpp
  examples/fabric-bridge-app/linux/main.cpp
Labels: examples, review - approved

#35926 Use ScheduleLambda() instead of PlatformMgr().ScheduleWork to excute command
  examples/fabric-admin/commands/fabric-sync/FabricSyncCommand.cpp
  examples/fabric-admin/device_manager/PairingManager.cpp
  examples/fabric-admin/device_manager/PairingManager.h
Labels: examples, review - approved

#35500 Enable MRP in WiFi-PAF commissioning
  src/transport/SecureSession.h
  src/transport/UnauthenticatedSessionTable.h
Labels: transport, review - approved

#35392 [Linux] Matter Linux Water Leak Detector Example
  examples/water-leak-detector-app/linux/.gn
  examples/water-leak-detector-app/linux/BUILD.gn
  examples/water-leak-detector-app/linux/args.gni
  examples/water-leak-detector-app/linux/build_overrides
  examples/water-leak-detector-app/linux/include/CHIPProjectAppConfig.h
  examples/water-leak-detector-app/linux/main.cpp
  examples/water-leak-detector-app/linux/third_party/connectedhomeip
  examples/water-leak-detector-app/water-leak-detector-common/BUILD.gn
  examples/water-leak-detector-app/water-leak-detector-common/water-leak-detector-app.matter
  examples/water-leak-detector-app/water-leak-detector-common/water-leak-detector-app.zap
  scripts/build/build/targets.py
  scripts/build/builders/host.py
  scripts/build/testdata/all_targets_linux_x64.txt
Labels: examples, scripts, review - approved

#35938 [HotFix] Missing declaration in provisional water-leak-detector-app.m…
  examples/water-leak-detector-app/water-leak-detector-common/water-leak-detector-app.matter
Labels: examples, hotfix

#35943 Move some Matter.framework server APIs used only with concrete controllers to the concrete controller class.
  src/darwin/Framework/CHIP/MTRDeviceController.mm
  src/darwin/Framework/CHIP/MTRDeviceController_Concrete.h
  src/darwin/Framework/CHIP/MTRDeviceController_Internal.h
Labels: darwin, review - pending, fast track

#35945 Remove PASE verifier computation overrides from MTRDeviceController_Concrete.
  src/darwin/Framework/CHIP/MTRDeviceController_Concrete.mm
  src/darwin/Framework/CHIP/MTRDeviceController_Internal.h
Labels: darwin, review - pending, fast track

#35942 Add a size-display script for binaries.
  scripts/tools/file_size_from_nm.py
Labels: scripts, review - approved

#35946 Fix handling of controllerNodeID on non-concrete controllers.
  src/darwin/Framework/CHIP/MTRDeviceController.mm
  src/darwin/Framework/CHIP/MTRDeviceController_Concrete.mm
Labels: darwin, review - pending, fast track

#35952 [Silabs]Fix efr32 test_driver non-docker build
  src/test_driver/efr32/BUILD.gn
  src/test_driver/efr32/args.gni
Labels: review - approved, test driver

#35919 One more decouple from ember from src/app and ensure we can compile without `ember-compatibility-functions.cpp`
  .github/workflows/examples-linux-arm.yaml
  examples/common/pigweed/rpc_services/Attributes.h
  src/app/WriteHandler.cpp
  src/app/WriteHandler.h
  src/app/chip_data_model.cmake
  src/app/chip_data_model.gni
Labels: examples, app, github, workflows, review - approved

#35949 [Fabric-Bridge] Replace ScheduleWork with ScheduleLambda
  examples/fabric-bridge-app/fabric-bridge-common/src/BridgedDevice.cpp
Labels: examples, review - approved

#35956 [ICD] Make optional spec checks mandatory with the launch of LongIdleTime ICDs
  config/esp32/components/chip/CMakeLists.txt
  config/esp32/components/chip/Kconfig
  config/nrfconnect/chip-module/CMakeLists.txt
  docs/guides/ti/matter-users-guide/enabling_icd_on_ti_devices.md
  examples/contact-sensor-app/nxp/k32w0/args.gni
  examples/contact-sensor-app/nxp/k32w1/args.gni
  examples/contact-sensor-app/nxp/mcxw71/args.gni
  examples/lit-icd-app/silabs/build_for_wifi_args.gni
  examples/lit-icd-app/silabs/openthread.gni
  examples/lock-app/nxp/k32w1/args.gni
  examples/lock-app/nxp/mcxw71/args.gni
  examples/smoke-co-alarm-app/silabs/build_for_wifi_args.gni
  examples/smoke-co-alarm-app/silabs/openthread.gni
  src/app/icd/icd.gni
  src/app/icd/server/BUILD.gn
  src/app/icd/server/ICDConfigurationData.cpp
  src/app/icd/server/ICDConfigurationData.h
  src/app/icd/server/ICDManager.cpp
Labels: documentation, examples, app, config, review - approved, icd

#35958 [Java]Fix errorcode in GetConnectedDeviceCallbackForTestJni
  src/controller/java/AndroidCallbacks-ForTestJNI.cpp
  src/controller/java/src/chip/devicecontroller/GetConnectedDeviceCallbackForTestJni.java
Labels: controller, review - approved

#35954 [Android]Fix android batch command test
  examples/java-matter-controller/java/src/com/matter/controller/commands/pairing/PairOnNetworkLongImExtendableInvokeCommand.kt
Labels: examples, review - approved

#35950 Make function argument a reference, to avoid passing in struct data around
  src/app/codegen-data-model-provider/CodegenDataModelProvider.cpp
Labels: app, review - approved

#35944 Remove a test-only method from base MTRDeviceController.
  src/darwin/Framework/CHIP/MTRDeviceController.mm
  src/darwin/Framework/CHIP/MTRDeviceController_Concrete.mm
Labels: darwin, review - pending, fast track

#35941 Fix attribute-table logs to not log strings as %p.
  src/app/util/attribute-table.cpp
Labels: app, review - approved

#35929 Documentation: getting started - changing examples
  docs/getting_started/changing_examples.md
  docs/getting_started/index.md
Labels: documentation, review - approved

#35960 [ICD] Make optional spec checks mandatory with the launch of LongIdle…
  config/esp32/components/chip/CMakeLists.txt
  config/esp32/components/chip/Kconfig
  config/nrfconnect/chip-module/CMakeLists.txt
  docs/guides/ti/matter-users-guide/enabling_icd_on_ti_devices.md
  examples/contact-sensor-app/nxp/k32w0/args.gni
  examples/contact-sensor-app/nxp/k32w1/args.gni
  examples/contact-sensor-app/nxp/mcxw71/args.gni
  examples/lit-icd-app/silabs/build_for_wifi_args.gni
  examples/lit-icd-app/silabs/openthread.gni
  examples/lock-app/nxp/k32w1/args.gni
  examples/lock-app/nxp/mcxw71/args.gni
  examples/smoke-co-alarm-app/silabs/build_for_wifi_args.gni
  examples/smoke-co-alarm-app/silabs/openthread.gni
  src/app/icd/icd.gni
  src/app/icd/server/BUILD.gn
  src/app/icd/server/ICDConfigurationData.cpp
  src/app/icd/server/ICDConfigurationData.h
  src/app/icd/server/ICDManager.cpp
Labels: documentation, examples, app, config, icd

#35940 Add TC_BRBINFO_4_1 to CI
  src/python_testing/TC_BRBINFO_4_1.py
  src/python_testing/TC_CCTRL_2_2.py
  src/python_testing/TC_CCTRL_2_3.py
  src/python_testing/TC_ECOINFO_2_1.py
  src/python_testing/TC_ECOINFO_2_2.py
  src/python_testing/TC_MCORE_FS_1_1.py
  src/python_testing/TC_MCORE_FS_1_2.py
  src/python_testing/TC_MCORE_FS_1_3.py
  src/python_testing/TC_MCORE_FS_1_4.py
  src/python_testing/TC_MCORE_FS_1_5.py
  src/python_testing/execute_python_tests.py
  src/python_testing/matter_testing_infrastructure/BUILD.gn
  src/python_testing/matter_testing_infrastructure/chip/testing/apps.py
  src/python_testing/matter_testing_infrastructure/chip/testing/test_tasks.py
Labels: review - approved, tests, matter-1.4-te2-script-change

#35936 [darwin-framework-tool] Automatically check for leaks on shutdown if …
  examples/darwin-framework-tool/BUILD.gn
  examples/darwin-framework-tool/debug/LeakChecker.h
  examples/darwin-framework-tool/debug/LeakChecker.mm
  examples/darwin-framework-tool/main.mm
  src/darwin/Framework/Matter.xcodeproj/project.pbxproj
Labels: examples, darwin, review - pending, fast track

#35502 [devcontainer] Add icecc cluster compilation
  .devcontainer/Dockerfile
  scripts/build/build/__init__.py
  scripts/build/build/target.py
  scripts/build/build_examples.py
  scripts/build/builders/ameba.py
  scripts/build/builders/android.py
  scripts/build/builders/gn.py
  scripts/build/builders/host.py
  scripts/build/builders/nrf.py
  scripts/build/builders/telink.py
  scripts/icecc.sh
Labels: scripts, vscode, review - approved

#35844 [AllClusters] If opened multiple times and something fails in Init, closing the app with Ctrl^C makes it crashes
  src/app/InteractionModelEngine.cpp
  src/app/InteractionModelEngine.h
  src/app/server/CommissioningWindowManager.cpp
Labels: app, review - approved

#35959 [Android] Add StayActive support during commission flow for LIT
  examples/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/provisioning/DeviceProvisioningFragment.kt
  src/controller/java/AndroidDeviceControllerWrapper.cpp
  src/controller/java/src/chip/devicecontroller/ICDRegistrationInfo.java
Labels: examples, controller, review - approved

#35963 [Python] Fix the value type of enumeration kUnknownEnumValue
  src/controller/python/chip/clusters/Objects.py
  src/controller/python/templates/partials/enum_def.zapt
Labels: controller, review - approved

#35978 [Matter.framework] Prevent a leak when using the _subscriptionPoolWor…
  src/darwin/Framework/CHIP/MTRDevice_Concrete.mm
Labels: darwin, review - pending, fast track

#35982 Fixing deadlock, and not cleaning up on purpose now
  src/darwin/Framework/CHIP/MTRDeviceControllerFactory.mm
  src/darwin/Framework/CHIP/MTRDevice_XPC.mm
Labels: darwin, review - pending, fast track

#35974 [Silabs]Migrate some more freertos api to cmsisos
  examples/platform/silabs/BaseApplication.cpp
  examples/platform/silabs/SoftwareFaultReports.cpp
  src/platform/silabs/DiagnosticDataProviderImpl.cpp
  src/test_driver/efr32/src/main.cpp
Labels: examples, platform, review - approved, test driver, silabs

#35852 TC-VALCC-4.2: unconditionally write open duration
  src/python_testing/TC_VALCC_4_2.py
Labels: review - approved, tests, matter-1.4-te2-script-change

#35973 [Matter.framework] When the device is entering suspended state and at…
  src/darwin/Framework/CHIP/MTRDevice_Concrete.mm
Labels: darwin, review - pending, fast track

#35980 Remove python_lib build&test out of darwin build steps
  .github/workflows/build.yaml
Labels: github, workflows, review - approved

#35957 Make MTRBaseDevice be explicit about when it's assuming a concrete controller.
  src/darwin/Framework/CHIP/MTRBaseDevice.mm
  src/darwin/Framework/CHIP/MTRCallbackBridgeBase.h
  src/darwin/Framework/CHIP/MTRDeviceController.mm
  src/darwin/Framework/CHIP/MTRDeviceController_Concrete.h
  src/darwin/Framework/CHIP/MTRDeviceController_Concrete.mm
  src/darwin/Framework/CHIP/MTRDeviceController_Internal.h
Labels: darwin, review - pending, fast track

#35989 [NXP][common][mcxw71_k32w1] Update ButtonApp::HandleLongPress and PlatformManagerImpl
  examples/platform/nxp/common/matter_button/source/ButtonApp.cpp
  src/platform/nxp/mcxw71_k32w1/PlatformManagerImpl.cpp
  src/platform/nxp/mcxw71_k32w1/PlatformManagerImpl.h
Labels: examples, platform, review - approved

#35965 esp32-fix-empty-logs(#35939)
  src/platform/ESP32/Logging.cpp
Labels: platform, esp32, review - approved

#35975 Add script and workflow that is able to "cancel all CI runs for a specific PR/commit"
  .github/workflows/cancel_workflows_for_pr.yaml
  scripts/tools/cancel_workflows_for_pr.py
Labels: scripts, github, workflows, review - approved

#35985 Moving our XPC Checkin to be a general register
  src/darwin/Framework/CHIP/MTRDeviceController_XPC.mm
  src/darwin/Framework/CHIP/XPC Protocol/MTRXPCServerProtocol.h
Labels: darwin, review - pending, fast track

#35924 Add a GenericPlatformManager implementation based on CMSISOS V2 API
  src/include/platform/ConnectivityManager.h
  src/include/platform/PlatformManager.h
  src/include/platform/ThreadStackManager.h
  src/include/platform/internal/GenericPlatformManagerImpl_CMSISOS.h
  src/include/platform/internal/GenericPlatformManagerImpl_CMSISOS.ipp
  src/platform/BUILD.gn
  src/platform/FreeRTOS/SystemTimeSupport.cpp
  src/platform/silabs/CHIPDevicePlatformConfig.h
  src/platform/silabs/CHIPPlatformConfig.h
  src/platform/silabs/ConfigurationManagerImpl.cpp
  src/platform/silabs/Logging.cpp
  src/platform/silabs/PlatformManagerImpl.cpp
  src/platform/silabs/PlatformManagerImpl.h
Labels: platform, freeRTOS, review - approved, silabs

#35897 Use DataModel::Provider provided command information to handle command validation
  examples/lighting-app/tizen/src/DBusInterface.cpp
  src/app/BUILD.gn
  src/app/CommandHandlerImpl.cpp
  src/app/CommandHandlerImpl.h
  src/app/CommandResponseSender.cpp
  src/app/CommandResponseSender.h
  src/app/InteractionModelEngine.cpp
  src/app/InteractionModelEngine.h
  src/app/data-model-provider/OperationTypes.h
  src/app/tests/TestCommandInteraction.cpp
  src/test_driver/linux-cirque/MobileDeviceTest.py
Labels: examples, app, review - approved, tests, test driver

#35935 [Matter.framework] Clear all device controller delegates on controlle…
  src/darwin/Framework/CHIP/MTRDeviceController.mm
  src/darwin/Framework/CHIP/MTRDeviceController_Concrete.mm
Labels: darwin, review - pending, fast track

#35997 [Android] Fix crash when handling jStayActiveMsec
  src/controller/java/AndroidDeviceControllerWrapper.cpp
Labels: controller, review - approved

#36002 Remove no-op ShutdownOnExit.
  src/darwin/Framework/CHIP/MTRDeviceControllerFactory.mm
  src/darwin/Framework/CHIP/MTRSetupPayload.mm
Labels: darwin, review - approved

#35990 [NXP][common][mcxw71_k32w1] Add MML support to DiagnosticDataProviderImpl
  src/platform/nxp/common/CHIPNXPPlatformDefaultConfig.h
  src/platform/nxp/common/DiagnosticDataProviderImpl.cpp
  src/platform/nxp/common/DiagnosticDataProviderImpl.h
  src/platform/nxp/mcxw71_k32w1/BUILD.gn
Labels: platform, review - approved

#35964 [Tizen] Enable QEMU RTC driver to sync time on boot
  integrations/docker/images/base/chip-build/version
  integrations/docker/images/stage-3/chip-build-tizen-qemu/Dockerfile
Labels: integrations, review - pending, fast track, docker

#35192 [Bouffalo Lab] Add a script to demonstrate mfd partition generation
  docs/guides/bouffalolab/matter_factory_data.md
  docs/guides/index.md
  examples/lighting-app/bouffalolab/README.md
  scripts/tools/bouffalolab/generate_factory_data.py
Labels: documentation, examples, scripts, review - pending, fast track

#35953 Add unit test for EcosystemInformation cluster server implementation
  src/app/clusters/ecosystem-information-server/ecosystem-information-server.cpp
  src/app/clusters/ecosystem-information-server/ecosystem-information-server.h
  src/app/tests/BUILD.gn
  src/app/tests/TestEcosystemInformationCluster.cpp
Labels: app, review - approved, tests

#35931 [ESP32] Reduced the ESP32 CI tests to be run on CI build
  .github/workflows/examples-esp32.yaml
  .github/workflows/qemu.yaml
  examples/lighting-app/esp32/sdkconfig.defaults.esp32c6
Labels: examples, github, workflows, review - approved

#36005 Fix small typo
  src/python_testing/TC_ECOINFO_2_2.py
Labels: review - approved, tests, matter-1.4-te2-script-change

#35984 tv-casting-app fix CloseCommissioningWindow upon unexpected CDC Commi…
  examples/tv-casting-app/android/App/app/src/main/java/com/matter/casting/ConnectionExampleFragment.java
  examples/tv-casting-app/linux/simple-app-helper.cpp
  examples/tv-casting-app/tv-casting-common/core/CommissionerDeclarationHandler.cpp
Labels: examples, review - approved

#35998 [Darwin] Implemented download diagnostics log for MTRDevice_XPC
  src/darwin/Framework/CHIP/MTRDevice_XPC.mm
  src/darwin/Framework/CHIP/XPC Protocol/MTRXPCServerProtocol.h
Labels: darwin, review - pending, fast track

#36010 Add back typo removed by line merge in previous PR
  .github/workflows/build.yaml
Labels: github, workflows, review - approved

#36009 Refactoring random SetupPinCode generation into a method.
  src/protocols/secure_channel/PASESession.cpp
  src/setup_payload/SetupPayload.cpp
  src/setup_payload/SetupPayload.h
Labels: setup payload, review - approved, protocols

#36025 Attempt to fix ESP32 builds by adding an extra dependency
  config/esp32/components/chip/idf_component.yml
Labels: hotfix, config, review - pending

#36028 [Android] Add StayActive support during commission flow for LIT
  examples/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/provisioning/DeviceProvisioningFragment.kt
  src/controller/java/AndroidDeviceControllerWrapper.cpp
  src/controller/java/src/chip/devicecontroller/ICDRegistrationInfo.java
Labels: examples, controller

#36027 [ICD] Store icdClientInfo after completing check-in message validation
  src/app/icd/client/CheckInHandler.cpp
Labels: app, fast track, icd

#36031 Attempt to fix ESP32 builds by adding an extra dependency (#36025)
  config/esp32/components/chip/idf_component.yml
Labels: hotfix, config

#36026 [ICD] Store icdClientInfo after completing check-in message validation
  src/app/icd/client/CheckInHandler.cpp
Labels: app, review - approved, icd

#35999 python_testing: Improve TC_IDM_10_1 error msgs
  src/python_testing/TC_DeviceBasicComposition.py
Labels: review - approved, tests, matter-1.4-te2-script-change

#36034 Fix device type metadata for bridge device types.
  src/app/zap-templates/zcl/data-model/chip/matter-devices.xml
  src/darwin/Framework/CHIP/templates/MTRDeviceTypeMetadata-src.zapt
  src/darwin/Framework/CHIP/zap-generated/MTRDeviceTypeMetadata.mm
  zzz_generated/chip-tool/zap-generated/cluster/logging/EntryToText.cpp
Labels: darwin, app, review - approved

#36039 [QPG] Fix for OpenThread Stack bump compile issue
  examples/platform/qpg/project_include/OpenThreadConfig.h
Labels: examples, platform, qpg, review - approved

#36032 Fix name of the Secondary Network Interface device type in the XML.
  src/app/zap-templates/zcl/data-model/chip/matter-devices.xml
  src/darwin/Framework/CHIP/zap-generated/MTRDeviceTypeMetadata.mm
  zzz_generated/chip-tool/zap-generated/cluster/logging/EntryToText.cpp
Labels: darwin, app, review - pending, fast track

#36000 Add logic to stop full CI if some fast and required checks fail
  .github/workflows/cancel_workflows_for_pr.yaml
  scripts/tools/cancel_workflows_for_pr.py
Labels: scripts, lib, github, workflows, review - approved, core

#36035 Revert "esp32-fix-empty-logs(#35939)"
  src/platform/ESP32/Logging.cpp
Labels: platform, esp32, review - approved

#36019 Correct copy&paste errors in log
  examples/fabric-admin/device_manager/UniqueIdGetter.cpp
Labels: examples, review - pending, fast track

#36041 Fix dependency requirement for CI cancel
  .github/workflows/cancel_workflows_for_pr.yaml
Labels: hotfix, github, workflows

#32939 Updated README and Certificate slot for DAC for OPTIGA Trust M MTR
  .github/.wordlist.txt
  docs/guides/infineon_psoc6_trustm_software_update.md
  docs/guides/infineon_trustm_provisioning.md
  examples/platform/infineon/trustm/DeviceAttestationCredsExampleTrustM.cpp
Labels: documentation, examples, platform

#36038 [darwin-framework-tool] Add missing autoreleasepool before checking f…
  examples/darwin-framework-tool/debug/LeakChecker.mm
Labels: examples, darwin, review - pending, fast track

#36015 Matter framework safe conversion for known enum
  src/darwin/Framework/CHIP/MTRBaseDevice.mm
  src/darwin/Framework/CHIP/MTRConversion.h
  src/darwin/Framework/CHIP/MTRConversion.mm
Labels: darwin, review - pending, fast track

#35433 [Silabs] Adds refrigerator application
  examples/refrigerator-app/silabs/BUILD.gn
  examples/refrigerator-app/silabs/README.md
  examples/refrigerator-app/silabs/build_for_wifi_args.gni
  examples/refrigerator-app/silabs/build_for_wifi_gnfile.gn
  examples/refrigerator-app/silabs/build_overrides
  examples/refrigerator-app/silabs/data_model/BUILD.gn
  examples/refrigerator-app/silabs/data_model/refrigerator-thread-app.matter
  examples/refrigerator-app/silabs/data_model/refrigerator-thread-app.zap
  examples/refrigerator-app/silabs/data_model/refrigerator-wifi-app.matter
  examples/refrigerator-app/silabs/data_model/refrigerator-wifi-app.zap
  examples/refrigerator-app/silabs/include/AppConfig.h
  examples/refrigerator-app/silabs/include/AppEvent.h
  examples/refrigerator-app/silabs/include/AppTask.h
  examples/refrigerator-app/silabs/include/CHIPProjectConfig.h
  examples/refrigerator-app/silabs/include/RefrigeratorIcons.h
  examples/refrigerator-app/silabs/include/RefrigeratorManager.h
  examples/refrigerator-app/silabs/include/RefrigeratorUI.h
  examples/refrigerator-app/silabs/include/refrigerator-and-temperature-controlled-cabinet-mode.h
  examples/refrigerator-app/silabs/openthread.gn
  examples/refrigerator-app/silabs/openthread.gni
  examples/refrigerator-app/silabs/src/AppTask.cpp
  examples/refrigerator-app/silabs/src/RefrigeratorManager.cpp
  examples/refrigerator-app/silabs/src/RefrigeratorUI.cpp
  examples/refrigerator-app/silabs/src/ZclCallbacks.cpp
  examples/refrigerator-app/silabs/src/refrigerator-and-temperature-controlled-cabinet-mode.cpp
  examples/refrigerator-app/silabs/third_party/connectedhomeip
Labels: documentation, tools, examples, scripts, integrations, transport, setup payload, platform, darwin, esp32, nrf connect, zephyr, lib, controller, app, config, vscode, github, workflows, gn, review - approved, telink, tests, support, core, test driver, icd, docker, silabs, messaging, protocols, matter-1.4-te2-script-change

#36017 [darwin-framework-tool] Add a memory dump-graph command
  examples/darwin-framework-tool/BUILD.gn
  examples/darwin-framework-tool/commands/memory/Commands.h
  examples/darwin-framework-tool/commands/memory/DumpMemoryGraphCommand.h
  examples/darwin-framework-tool/commands/memory/DumpMemoryGraphCommand.mm
  examples/darwin-framework-tool/commands/memory/LeaksTool.h
  examples/darwin-framework-tool/commands/memory/LeaksTool.mm
  examples/darwin-framework-tool/main.mm
  src/darwin/Framework/Matter.xcodeproj/project.pbxproj
Labels: examples, darwin, review - pending, fast track

#36043 [Silabs] Reduce the amount of target built by the ci while keeping almost the sa…
  .github/workflows/examples-efr32.yaml
Labels: github, workflows, review - pending

#36047 Fix casts when determining endpoint indices.
  src/app/util/attribute-storage.cpp
Labels: app, review - pending, fast track

#36046 [darwin-framework-tool] Add some autorelease pools to CHIPCommandBrid…
  examples/darwin-framework-tool/commands/common/CHIPCommandBridge.mm
Labels: examples, darwin, review - pending, fast track

#36020 [Java] Enable stayActive in java matter controller during commission flow
  examples/java-matter-controller/java/src/com/matter/controller/commands/pairing/PairingCommand.kt
Labels: examples, review - approved

#36051 Dead code, no longer needed, causes duplicate checkins
  src/darwin/Framework/CHIP/MTRDeviceController_XPC.mm
Labels: darwin, review - pending, fast track

#36036 [ICD] Improve ICDClientStorage
  src/app/icd/client/CheckInHandler.cpp
  src/app/icd/client/DefaultICDClientStorage.cpp
  src/app/icd/client/DefaultICDClientStorage.h
  src/app/tests/BUILD.gn
  src/app/tests/TestCheckInHandler.cpp
  src/app/tests/TestDefaultICDClientStorage.cpp
Labels: app, review - approved, tests, icd

#32257 [Python] fixed subscription crash
  src/controller/python/chip/clusters/Attribute.py
  src/controller/python/chip/clusters/attribute.cpp
Labels: controller, review - approved

#32817 Fix for arm64 build failure when bluetooth enabled on linux platform
  src/platform/Tizen/BLEManagerImpl.cpp
Labels: platform, linux, review - approved, tizen

#36063 [YAML] Add _ById commands support for darwin-framework-tool - Followu…
  examples/chip-tool/py_matter_chip_tool_adapter/matter_chip_tool_adapter/decoder.py
Labels: tools, examples, review - pending, fast track

#36062 [CI] Add a step in CI to ensure darwin-framework-tool can be built on iOS.
  .github/workflows/darwin-tests.yaml
  examples/darwin-framework-tool/commands/memory/LeaksTool.mm
  examples/darwin-framework-tool/debug/LeakChecker.mm
  src/darwin/Framework/Matter.xcodeproj/project.pbxproj
  third_party/libwebsockets/BUILD.gn
Labels: examples, darwin, github, workflows, review - approved, changing-submodules-on-purpose

#36056 Internal state is updated too often, removing this noise
  src/darwin/Framework/CHIP/MTRDevice_Concrete.mm
Labels: darwin, fast track

#36013 MCORE-FS-1.4: Wait for dynamic endpoint to appear on TH_FSA
  src/python_testing/TC_MCORE_FS_1_4.py
Labels: review - approved, tests, matter-1.4-te2-script-change

#36064 [Matter.framework] Follow-up to address remaining issues from #36015
  src/darwin/Framework/CHIP/MTRBaseDevice.mm
  src/darwin/Framework/CHIP/MTRConversion.h
Labels: darwin, review - pending, fast track

#36069 Fix xml field generation errors for CamerAVStreamManagement cluster.
  src/app/zap-templates/zcl/data-model/chip/camera-av-stream-management-cluster.xml
Labels: app, review - approved

#35932 Add support for single float type in RPC.
  examples/chef/common/chef-concentration-measurement.cpp
  examples/common/pigweed/protos/attributes_service.proto
  examples/common/pigweed/rpc_services/Attributes.h
Labels: examples, review - pending, fast track

#36068 Remove redundant "Matter " prefix from device type names.
  src/app/zap-templates/zcl/data-model/chip/matter-devices.xml
  src/darwin/Framework/CHIP/zap-generated/MTRDeviceTypeMetadata.mm
  zzz_generated/chip-tool/zap-generated/cluster/logging/EntryToText.cpp
Labels: darwin, app, review - approved

#36067 Update ZAP to get helpers neeeded for Darwin codegen.
  scripts/setup/zap.json
  scripts/setup/zap.version
  scripts/tools/zap/zap_execution.py
Labels: scripts, review - approved

#36077 [NXP] Make button components configurable
  examples/platform/nxp/common/matter_button/source/ButtonApp.cpp
  examples/platform/nxp/common/matter_button/source/ButtonManager.cpp
  examples/platform/nxp/common/matter_button/source/ButtonRegistrationAppAndBle.cpp
Labels: examples, platform, review - approved

#36055 [ICD] Improve ICDClientStorage
  src/app/icd/client/CheckInHandler.cpp
  src/app/icd/client/DefaultICDClientStorage.cpp
  src/app/icd/client/DefaultICDClientStorage.h
  src/app/tests/BUILD.gn
  src/app/tests/TestCheckInHandler.cpp
  src/app/tests/TestDefaultICDClientStorage.cpp
Labels: app, tests, icd

#35916 TC-DA-1.2: Better error messages
  src/python_testing/TC_DA_1_2.py
Labels: review - pending, fast track, tests, matter-1.4-te2-script-change

#36079 Fix lighting samples weird values
  examples/bridge-app/bridge-common/bridge-app.matter
  examples/bridge-app/bridge-common/bridge-app.zap
  examples/chef/devices/noip_rootnode_dimmablelight_bCwGYSDpoe.matter
  examples/chef/devices/noip_rootnode_dimmablelight_bCwGYSDpoe.zap
  examples/chef/devices/rootnode_colortemperaturelight_hbUnzYVeyn.matter
  examples/chef/devices/rootnode_colortemperaturelight_hbUnzYVeyn.zap
  examples/chef/devices/rootnode_dimmablelight_bCwGYSDpoe.matter
  examples/chef/devices/rootnode_dimmablelight_bCwGYSDpoe.zap
  examples/chef/devices/rootnode_dimmablepluginunit_f8a9a0b9d4.matter
  examples/chef/devices/rootnode_dimmablepluginunit_f8a9a0b9d4.zap
  examples/chef/devices/rootnode_extendedcolorlight_8lcaaYJVAa.matter
  examples/chef/devices/rootnode_extendedcolorlight_8lcaaYJVAa.zap
  examples/chef/devices/rootnode_onofflight_bbs1b7IaOV.matter
  examples/chef/devices/rootnode_onofflight_bbs1b7IaOV.zap
  examples/chef/devices/rootnode_onofflight_samplemei.matter
  examples/chef/devices/rootnode_onofflight_samplemei.zap
  examples/chef/devices/rootnode_waterleakdetector_0b067acfa3.zap
  examples/chef/devices/rootnode_watervalve_6bb39f1f67.zap
  examples/chef/sample_app_util/test_files/sample_zap_file.zap
  examples/contact-sensor-app/nxp/zap-lit/contact-sensor-app.zap
  examples/lighting-app-data-mode-no-unique-id/lighting-common/lighting-app.matter
  examples/lighting-app-data-mode-no-unique-id/lighting-common/lighting-app.zap
  examples/lighting-app/bouffalolab/data_model/lighting-app-ethernet.matter
  examples/lighting-app/bouffalolab/data_model/lighting-app-ethernet.zap
  examples/lighting-app/bouffalolab/data_model/lighting-app-thread.matter
  examples/lighting-app/bouffalolab/data_model/lighting-app-thread.zap
  examples/lighting-app/bouffalolab/data_model/lighting-app-wifi.matter
  examples/lighting-app/bouffalolab/data_model/lighting-app-wifi.zap
  examples/lighting-app/lighting-common/lighting-app.matter
  examples/lighting-app/lighting-common/lighting-app.zap
  examples/lighting-app/nxp/zap/lighting-on-off.matter
  examples/lighting-app/nxp/zap/lighting-on-off.zap
  examples/lighting-app/qpg/zap/light.matter
  examples/lighting-app/qpg/zap/light.zap
  examples/lighting-app/silabs/data_model/lighting-thread-app.matter
  examples/lighting-app/silabs/data_model/lighting-thread-app.zap
  examples/lighting-app/silabs/data_model/lighting-wifi-app.matter
  examples/lighting-app/silabs/data_model/lighting-wifi-app.zap
Labels: examples, review - approved

#36048 Fix constraint check in thermostat cluster to follow the spec.
  scripts/tests/chiptest/__init__.py
  src/app/clusters/thermostat-server/thermostat-server.cpp
  src/app/tests/suites/TestThermostat.yaml
Labels: scripts, app, review - approved, tests

#36065 Use standard std::min std::max functions
  examples/chip-tool/commands/common/Commands.h
  examples/energy-management-app/energy-management-common/energy-evse/src/EnergyEvseDelegateImpl.cpp
  examples/fabric-admin/commands/common/Commands.h
  examples/ota-provider-app/ota-provider-common/OTAProviderExample.cpp
  examples/platform/nrfconnect/util/PWMDevice.cpp
  examples/platform/silabs/SiWx917/SiWx917/sl_wifi_if.cpp
  examples/platform/silabs/efr32/rs911x/rsi_if.cpp
  examples/platform/silabs/efr32/wf200/host_if.cpp
  examples/platform/silabs/uart.cpp
  examples/platform/silabs/wifi/wfx_rsi_host.cpp
  src/app/DefaultAttributePersistenceProvider.cpp
  src/app/DeferredAttributePersistenceProvider.cpp
  src/app/InteractionModelEngine.cpp
  src/app/MessageDef/StatusIB.cpp
  src/app/OperationalSessionSetup.cpp
  src/app/clusters/color-control-server/color-control-server.cpp
  src/app/clusters/network-commissioning/network-commissioning.cpp
  src/app/clusters/ota-requestor/DefaultOTARequestorDriver.cpp
  src/app/clusters/scenes-server/SceneTableImpl.cpp
  src/app/clusters/thread-network-diagnostics-server/thread-network-diagnostics-provider.cpp
  src/ble/BLEEndPoint.cpp
  src/ble/BtpEngine.cpp
  src/crypto/CHIPCryptoPALPSA.cpp
  src/inet/IPAddress-StringFuncts.cpp
  src/inet/tests/TestInetLayerCommon.cpp
  src/inet/tests/inet-layer-test-tool.cpp
  src/lib/core/OTAImageHeader.cpp
  src/lib/core/tests/TestOTAImageHeader.cpp
  src/lib/dnssd/ServiceNaming.cpp
  src/lib/support/BufferReader.h
  src/lib/support/CodeUtils.h
  src/lib/support/SafeString.h
  src/lib/support/ZclString.cpp
  src/platform/ASR/ASRUtils.cpp
  src/platform/Darwin/DnssdContexts.cpp
  src/platform/ESP32/DiagnosticDataProviderImpl.cpp
  src/platform/ESP32/ESP32Utils.cpp
  src/platform/Infineon/PSOC6/ConnectivityManagerImpl.cpp
  src/platform/Infineon/PSOC6/PSOC6Utils.cpp
  src/platform/android/AndroidConfig.cpp
  src/platform/mt793x/DnssdContexts.cpp
  src/platform/nxp/common/ota/OTATlvProcessor.cpp
  src/platform/silabs/MigrationManager.cpp
  src/platform/silabs/multi-ota/OTATlvProcessor.cpp
  src/platform/tests/TestKeyValueStoreMgr.cpp
  src/protocols/bdx/BdxTransferSession.cpp
  src/system/SystemPacketBuffer.h
  src/transport/raw/MessageHeader.h
Labels: tools, examples, transport, system, platform, darwin, esp32, lib, inet, crypto, ble, app, review - approved, support, core, silabs, protocols

#36075 Replace nlSTATIC_ASSERT_PRINT with static_assert
  src/inet/InetFaultInjection.cpp
  src/lib/core/CHIPSafeCasts.h
  src/lib/support/BytesCircularBuffer.cpp
  src/lib/support/CHIPFaultInjection.cpp
  src/lib/support/PersistentStorageMacros.h
  src/system/SystemFaultInjection.cpp
Labels: system, lib, inet, review - approved, support, core

#36084 Add a way to ask Matter.framework for information about device types.
  src/darwin/Framework/CHIP/MTRDeviceType.h
  src/darwin/Framework/CHIP/MTRDeviceType.mm
  src/darwin/Framework/CHIP/MTRDeviceTypeMetadata.h
  src/darwin/Framework/CHIP/Matter.h
  src/darwin/Framework/CHIP/templates/MTRClusterConstants.zapt
  src/darwin/Framework/CHIP/templates/MTRDeviceTypeMetadata-src.zapt
  src/darwin/Framework/CHIP/templates/availability.yaml
  src/darwin/Framework/CHIP/zap-generated/MTRClusterConstants.h
  src/darwin/Framework/CHIP/zap-generated/MTRDeviceTypeMetadata.mm
  src/darwin/Framework/CHIPTests/MTRDeviceTypeTests.m
  src/darwin/Framework/Matter.xcodeproj/project.pbxproj
Labels: darwin, review - pending, fast track

#36093 [Silabs] Update silabs docker to WiseConnect 3.3.3
  integrations/docker/images/base/chip-build/version
  integrations/docker/images/stage-2/chip-build-efr32/Dockerfile
Labels: integrations, review - pending, docker
