Repository project-chip/connectedhomeip, pull requests merged in 2024-06, with the labels that each got.

#33684 [ESP32] Unregistering wifi and IP event handlers before factory reset to avoid random crashes due to PostEventQueue failure.
  src/platform/ESP32/ConfigurationManagerImpl.cpp
Labels: platform, esp32, review - approved

#33542 [ESP32] Remove the Lambda function from ConnectivityManager implementation.
  src/platform/ESP32/ConnectivityManagerImpl_WiFi.cpp
Labels: platform, esp32, review - approved

#33523 Add support to intercept attribute report and prune any removed…
  src/darwin/Framework/CHIP/MTRDevice.mm
  src/darwin/Framework/CHIP/MTRDeviceControllerDataStore.h
  src/darwin/Framework/CHIP/MTRDeviceControllerDataStore.mm
  src/darwin/Framework/CHIP/MTRDevice_Internal.h
  src/darwin/Framework/CHIPTests/MTRPerControllerStorageTests.m
  src/darwin/Framework/CHIPTests/TestHelpers/MTRTestDeclarations.h
Labels: darwin, review - pending, fast track

#33698 Fixing crash in darwin framework
  src/darwin/Framework/CHIP/MTRDevice.mm
Labels: darwin, fast track

#33687 Update network-commissioning to use `AddResponse` for responding to scan responses
  src/app/clusters/network-commissioning/network-commissioning.cpp
Labels: app, review - approved

#33699 Add some braces that went missing while applying review suggestions.
  src/darwin/Framework/CHIP/MTRDevice.mm
Labels: darwin, review - approved

#33695 TC-IDM-10.2: checks for non-spec clusters
  src/controller/python/chip/clusters/__init__.py
  src/python_testing/TC_DeviceConformance.py
Labels: controller, review - approved, tests

#33703 [nrfconnect] Raise error if factory data generation fails
  scripts/tools/nrfconnect/generate_nrfconnect_chip_factory_data.py
Labels: scripts, review - approved

#33642 Streamline bloat reports, part 1
  scripts/tools/memory/gh_report.py
  scripts/tools/memory/gh_sizes.py
  scripts/tools/memory/memdf/sizedb.py
  scripts/tools/memory/platform/bl602.cfg
  scripts/tools/memory/platform/mbed.cfg
  scripts/tools/memory/platform/openiotsdk.cfg
  scripts/tools/memory/platform/p6.cfg
  scripts/tools/memory/platform/telink.cfg
Labels: scripts, platform, review - pending, fast track

#33692 Make BLE UUID string constants lowercase
  src/ble/BleUUID.h
Labels: ble, review - approved

#33708 [Tizen] Fix Matter devices BLE scan after changes in 92f8cd0
  src/platform/Tizen/BLEManagerImpl.cpp
  src/platform/Tizen/ChipDeviceScanner.cpp
Labels: review - pending, fast track

#33686 [Telink] Update Docker image (Zephyr update)
  integrations/docker/images/base/chip-build/version
  integrations/docker/images/stage-2/chip-build-telink/Dockerfile
Labels: integrations, review - pending, fast track, docker

#33635 Do not generate exec link map files by default
  build/toolchain/android/android_toolchain.gni
  build/toolchain/gcc_toolchain.gni
  examples/chef/chef.py
  scripts/build/build_examples.py
  scripts/build/builders/ameba.py
  scripts/build/builders/android.py
  scripts/build/builders/asr.py
  scripts/build/builders/bouffalolab.py
  scripts/build/builders/builder.py
  scripts/build/builders/cc32xx.py
  scripts/build/builders/cyw30739.py
  scripts/build/builders/efr32.py
  scripts/build/builders/esp32.py
  scripts/build/builders/genio.py
  scripts/build/builders/gn.py
  scripts/build/builders/host.py
  scripts/build/builders/imx.py
  scripts/build/builders/infineon.py
  scripts/build/builders/mbed.py
  scripts/build/builders/mw320.py
  scripts/build/builders/nrf.py
  scripts/build/builders/nuttx.py
  scripts/build/builders/nxp.py
  scripts/build/builders/openiotsdk.py
  scripts/build/builders/qpg.py
  scripts/build/builders/rw61x.py
  scripts/build/builders/stm32.py
  scripts/build/builders/telink.py
  scripts/build/builders/ti.py
  scripts/build/builders/tizen.py
  src/test_driver/tizen/chip_tests/BUILD.gn
Labels: examples, scripts, gn, review - pending, fast track, test driver

#33661 [thread] add Thread stack lock held for output the unicast addresses
  src/platform/OpenThread/GenericThreadStackManagerImpl_OpenThread.hpp
  src/platform/OpenThread/OpenThreadUtils.cpp
  src/platform/OpenThread/OpenThreadUtils.h
Labels: platform, openthread, review - approved

#33712 [Tizen] Gracefully terminate example apps
  examples/platform/tizen/TizenServiceAppMain.cpp
  examples/platform/tizen/TizenServiceAppMain.h
Labels: examples, platform, review - pending, fast track

#33693 Use EncodableToTLV in im_responder
  src/app/tests/integration/chip_im_responder.cpp
Labels: app, review - approved, tests

#33694 Use EncodableToTLV in TestCommandInteraction
  src/app/tests/TestCommandInteraction.cpp
Labels: app, review - approved, tests

#33638 pw_unit_test migration: apps-1 and stub-refactoring
  src/BUILD.gn
  src/app/tests/BUILD.gn
  src/app/tests/TestAclAttribute.cpp
  src/app/tests/TestAttributeAccessInterfaceCache.cpp
  src/app/tests/TestAttributePathExpandIterator.cpp
  src/app/tests/TestAttributePersistenceProvider.cpp
  src/app/tests/TestAttributeValueDecoder.cpp
  src/app/tests/TestAttributeValueEncoder.cpp
  src/app/tests/TestBindingTable.cpp
  src/app/tests/TestBuilderParser.cpp
  src/app/tests/TestDefaultICDClientStorage.cpp
  src/app/tests/TestFailSafeContext.cpp
  src/app/tests/TestMessageDef.cpp
  src/app/tests/TestNullable.cpp
  src/app/tests/TestNumericAttributeTraits.cpp
  src/app/tests/TestOperationalStateClusterObjects.cpp
  src/app/tests/TestPendingNotificationMap.cpp
  src/app/tests/TestPendingResponseTrackerImpl.cpp
  src/app/tests/TestPowerSourceCluster.cpp
  src/app/tests/TestReadInteraction.cpp
  src/app/tests/TestSimpleSubscriptionResumptionStorage.cpp
  src/app/tests/TestStatusIB.cpp
  src/app/tests/TestStatusResponseMessage.cpp
  src/app/tests/TestTestEventTriggerDelegate.cpp
  src/app/tests/TestTimeSyncDataProvider.cpp
  src/app/tests/TestWriteInteraction.cpp
  src/app/tests/test-ember-api.cpp
  src/app/tests/test-ember-api.h
  src/app/tests/test-interaction-model-api.cpp
  src/app/tests/test-interaction-model-api.h
  src/test_driver/openiotsdk/unit-tests/test_components.txt
  src/test_driver/openiotsdk/unit-tests/test_components_nl.txt
Labels: app, review - approved, tests, test driver

#33646 Add ability to add pending fabric at a chosen fabric index
  src/credentials/FabricTable.cpp
  src/credentials/FabricTable.h
  src/credentials/tests/CHIPCert_test_vectors.h
  src/credentials/tests/TestFabricTable.cpp
Labels: review - approved

#33718 [Python] Remove obsolete logging callbacks
  src/controller/python/ChipDeviceController-ScriptBinding.cpp
  src/controller/python/chip/ChipStack.py
Labels: controller, review - approved

#33707 Fix Zephyr WiFIManager build
  src/platform/Zephyr/wifi/WiFiManager.cpp
Labels: platform, zephyr, review - approved

#33716 Streamline bloat reports, part 2 of 2
  scripts/tools/memory/gh_report.py
  scripts/tools/memory/gh_sizes.py
  scripts/tools/memory/memdf/sizedb.py
Labels: scripts, review - approved

#33729 Setup bloat reports for Tizen CI builds
  .github/workflows/examples-tizen.yaml
  scripts/tools/memory/platform/tizen.cfg
Labels: scripts, platform, github, workflows, review - pending, fast track

#33533 [python] Add ICD support to Python binding
  examples/chip-tool/commands/pairing/PairingCommand.cpp
  examples/chip-tool/commands/pairing/PairingCommand.h
  examples/fabric-admin/commands/pairing/PairingCommand.cpp
  examples/fabric-admin/commands/pairing/PairingCommand.h
  src/controller/CHIPDeviceController.cpp
  src/controller/DevicePairingDelegate.h
  src/controller/java/AndroidDeviceControllerWrapper.cpp
  src/controller/java/AndroidDeviceControllerWrapper.h
  src/controller/python/BUILD.gn
  src/controller/python/ChipDeviceController-ScriptBinding.cpp
  src/controller/python/ChipDeviceController-ScriptDevicePairingDelegate.cpp
  src/controller/python/ChipDeviceController-ScriptDevicePairingDelegate.h
  src/controller/python/OpCredsBinding.cpp
  src/controller/python/chip/ChipDeviceCtrl.py
  src/controller/python/chip/ChipReplStartup.py
  src/controller/python/chip/icd/PyChipCheckInDelegate.cpp
  src/controller/python/chip/icd/PyChipCheckInDelegate.h
  src/controller/python/chip/internal/types.py
Labels: tools, examples, controller, app, review - pending, fast track, icd

#33583 Add Compare IPAddress in OndiscoveredNode
  src/controller/AbstractDnssdDiscoveryController.cpp
  src/controller/tests/TestCommissionableNodeController.cpp
Labels: controller, review - pending, fast track

#33690 [chip-tool][ICD] Store ICDClientInfo when running icd registration independently
  examples/chip-tool/commands/clusters/ClusterCommand.h
  examples/chip-tool/commands/clusters/ModelCommand.cpp
  examples/chip-tool/commands/clusters/ModelCommand.h
  examples/tv-casting-app/tv-casting-common/commands/clusters/ModelCommand.cpp
Labels: tools, examples, review - approved

#33603 [Fabric-Sync] Add the IPC support between Fabric_Admin and Fabric_Bridge
  examples/common/pigweed/BUILD.gn
  examples/common/pigweed/protos/fabric_admin_service.proto
  examples/common/pigweed/protos/fabric_bridge_service.proto
  examples/common/pigweed/rpc_console/py/BUILD.gn
  examples/common/pigweed/rpc_console/py/chip_rpc/console.py
  examples/common/pigweed/rpc_services/FabricAdmin.h
  examples/common/pigweed/rpc_services/FabricBridge.h
  examples/fabric-admin/BUILD.gn
  examples/fabric-admin/commands/fabric-sync/Commands.h
  examples/fabric-admin/commands/fabric-sync/FabricSyncCommand.cpp
  examples/fabric-admin/commands/fabric-sync/FabricSyncCommand.h
  examples/fabric-admin/commands/interactive/InteractiveCommands.cpp
  examples/fabric-admin/main.cpp
  examples/fabric-admin/rpc/RpcClient.cpp
  examples/fabric-admin/rpc/RpcClient.h
  examples/fabric-admin/rpc/RpcServer.cpp
  examples/fabric-admin/rpc/RpcServer.h
  examples/fabric-admin/with_pw_rpc.gni
  examples/fabric-bridge-app/linux/BUILD.gn
  examples/fabric-bridge-app/linux/RpcClient.cpp
  examples/fabric-bridge-app/linux/RpcServer.cpp
  examples/fabric-bridge-app/linux/include/RpcClient.h
  examples/fabric-bridge-app/linux/include/RpcServer.h
  examples/fabric-bridge-app/linux/main.cpp
  examples/fabric-bridge-app/linux/with_pw_rpc.gni
  examples/platform/linux/RpcClientProcessor.cpp
  examples/platform/linux/RpcClientProcessor.h
Labels: examples, platform, review - approved

#33560 Darwin: add helpers for essential attributes for logging; log unexpected C-quality attributes
  src/darwin/Framework/CHIP/MTRDevice.mm
  src/darwin/Framework/CHIP/MTRMetricKeys.h
Labels: darwin, review - pending, fast track

#33741 Increase the poll rate for BDX diagnostic log downloads.
  src/protocols/bdx/BdxTransferDiagnosticLog.cpp
Labels: review - approved, protocols

#33682 Added secondary network interface device type
  examples/all-clusters-app/all-clusters-common/all-clusters-app.matter
  examples/all-clusters-app/all-clusters-common/all-clusters-app.zap
  examples/all-clusters-minimal-app/all-clusters-common/all-clusters-minimal-app.matter
  examples/all-clusters-minimal-app/all-clusters-common/all-clusters-minimal-app.zap
  examples/ota-requestor-app/ota-requestor-common/ota-requestor-app.matter
  examples/ota-requestor-app/ota-requestor-common/ota-requestor-app.zap
  scripts/tools/zap/tests/inputs/all-clusters-app.zap
  scripts/tools/zap/tests/outputs/all-clusters-app/app-templates/endpoint_config.h
  src/app/zap-templates/zcl/data-model/chip/matter-devices.xml
  src/darwin/Framework/CHIP/zap-generated/MTRDeviceTypeMetadata.mm
Labels: examples, scripts, darwin, app, review - approved

#33715 Fix advertised device type for all-clusters-app to match data model.
  examples/all-clusters-app/linux/include/CHIPProjectAppConfig.h
  examples/all-clusters-app/tizen/include/CHIPProjectAppConfig.h
  src/app/tests/suites/TestDiscovery.yaml
Labels: examples, app, review - approved, tests

#33713 Replace ChipBleUUID local variables for all platform
  src/platform/ASR/BLEManagerImpl.cpp
  src/platform/Ameba/BLEManagerImpl.cpp
  src/platform/Beken/BLEManagerImpl.cpp
  src/platform/ESP32/bluedroid/BLEManagerImpl.cpp
  src/platform/ESP32/nimble/BLEManagerImpl.cpp
  src/platform/Infineon/CYW30739/BLEManagerImpl.cpp
  src/platform/Infineon/PSOC6/BLEManagerImpl.cpp
  src/platform/Linux/BLEManagerImpl.cpp
  src/platform/NuttX/BLEManagerImpl.cpp
  src/platform/Zephyr/BLEManagerImpl.cpp
  src/platform/bouffalolab/common/BLEManagerImpl.cpp
  src/platform/cc13xx_26xx/BLEManagerImpl.cpp
  src/platform/cc13xx_26xx/cc13x4_26x4/BLEManagerImpl.h
  src/platform/mbed/BLEManagerImpl.cpp
  src/platform/mt793x/BLEManagerImpl.cpp
  src/platform/nxp/k32w/common/BLEManagerCommon.cpp
  src/platform/qpg/BLEManagerImpl.cpp
  src/platform/silabs/efr32/BLEManagerImpl.cpp
  src/platform/silabs/rs911x/BLEManagerImpl.cpp
  src/platform/stm32/BLEManagerImpl.cpp
  src/platform/telink/BLEManagerImpl.cpp
  src/platform/webos/BLEManagerImpl.cpp
Labels: platform, esp32, linux, zephyr, review - approved, telink, silabs

#33747 [ESP32] Backport the ScheduleLambda change in ConnectivityManagerImpl_Wifi code.
  src/platform/ESP32/ConnectivityManagerImpl_WiFi.cpp
Labels: platform, esp32

#33744 [Tizen] Allow to pass CHIP error to device event
  src/ble/BleUUID.h
  src/platform/Linux/CHIPDevicePlatformEvent.h
  src/platform/Tizen/BLEManagerImpl.cpp
  src/platform/Tizen/BLEManagerImpl.h
  src/platform/Tizen/CHIPDevicePlatformEvent.h
Labels: platform, linux, ble, review - pending, fast track, tizen

#33739 Python wheels: move template into its own gni
  build/chip/python_wheel.gni
  src/controller/python/BUILD.gn
Labels: controller, gn, review - pending, fast track

#33720 [Python] Drop network lock
  src/controller/python/chip/ChipStack.py
Labels: controller, review - approved

#32182 TC-OPCREDS-3.2: Add
  .github/workflows/tests.yaml
  src/controller/python/chip/utils/CommissioningBuildingBlocks.py
  src/python_testing/TC_OPCREDS_3_2.py
  src/python_testing/test_plan_support.py
Labels: controller, github, workflows, review - pending, fast track, tests

#33308 Changes for large Packetbuffer allocation to support TCP payloads
  config/nrfconnect/chip-module/CMakeLists.txt
  src/inet/TCPEndPoint.h
  src/inet/TCPEndPointImplSockets.cpp
  src/system/SystemConfig.h
  src/system/SystemPacketBuffer.cpp
  src/system/SystemPacketBuffer.h
  src/system/tests/TestSystemPacketBuffer.cpp
  src/transport/SecureMessageCodec.cpp
  src/transport/SessionManager.cpp
  src/transport/raw/MessageHeader.h
  src/transport/raw/TCP.cpp
  src/transport/raw/TCP.h
  src/transport/raw/TCPConfig.h
  src/transport/raw/tests/TestTCP.cpp
Labels: transport, system, inet, config, review - approved

#33717 Make subscription latency estimation in MTRDevice a bit less noisy.
  src/darwin/Framework/CHIP/MTRDevice.mm
Labels: review - approved

#33737 Fix Darwin server cluster checks for wildcard read to check received values.
  src/darwin/Framework/CHIP/ServerEndpoint/MTRServerAccessControl.mm
  src/darwin/Framework/CHIPTests/MTRPerControllerStorageTests.m
Labels: darwin, review - pending, fast track

#33761 Fix some random Darwin test failures due to timing dependency.
  src/darwin/Framework/CHIP/MTRDevice.mm
  src/darwin/Framework/CHIPTests/TestHelpers/MTRDeviceTestDelegate.m
Labels: darwin, review - pending, fast track

#33738 Fix the icd registerClient
  examples/chip-tool/commands/clusters/ClusterCommand.h
Labels: tools, examples, review - approved

#33765 [Fabric-Admin] Allows Fabric Admin to process command other than console
  examples/fabric-admin/commands/fabric-sync/FabricSyncCommand.cpp
  examples/fabric-admin/commands/interactive/InteractiveCommands.cpp
  examples/fabric-admin/commands/interactive/InteractiveCommands.h
  examples/fabric-admin/commands/pairing/OpenCommissioningWindowCommand.h
Labels: examples, review - approved

#33726 [Telink] Update default CI app/SoC & Update builds to docker version 54
  .github/workflows/bloat_check.yaml
  .github/workflows/build.yaml
  .github/workflows/chef.yaml
  .github/workflows/cirque.yaml
  .github/workflows/doxygen.yaml
  .github/workflows/examples-ameba.yaml
  .github/workflows/examples-asr.yaml
  .github/workflows/examples-bouffalolab.yaml
  .github/workflows/examples-cc13xx_26xx.yaml
  .github/workflows/examples-cc32xx.yaml
  .github/workflows/examples-efr32.yaml
  .github/workflows/examples-esp32.yaml
  .github/workflows/examples-infineon.yaml
  .github/workflows/examples-linux-arm.yaml
  .github/workflows/examples-linux-imx.yaml
  .github/workflows/examples-linux-standalone.yaml
  .github/workflows/examples-linux-tv-casting-app.yaml
  .github/workflows/examples-mbed.yaml
  .github/workflows/examples-mw320.yaml
  .github/workflows/examples-nrfconnect.yaml
  .github/workflows/examples-nuttx.yaml
  .github/workflows/examples-nxp.yaml
  .github/workflows/examples-openiotsdk.yaml
  .github/workflows/examples-qpg.yaml
  .github/workflows/examples-rw61x.yaml
  .github/workflows/examples-stm32.yaml
  .github/workflows/examples-telink.yaml
  .github/workflows/examples-tizen.yaml
  .github/workflows/full-android.yaml
  .github/workflows/fuzzing-build.yaml
  .github/workflows/java-tests.yaml
  .github/workflows/lint.yml
  .github/workflows/minimal-build.yaml
  .github/workflows/qemu.yaml
  .github/workflows/release_artifacts.yaml
  .github/workflows/smoketest-android.yaml
  .github/workflows/tests.yaml
  .github/workflows/unit_integration_test.yaml
  .github/workflows/zap_regeneration.yaml
  .github/workflows/zap_templates.yaml
  examples/all-clusters-app/ameba/README.md
  examples/all-clusters-minimal-app/ameba/README.md
  examples/light-switch-app/ameba/README.md
  examples/lighting-app/ameba/README.md
  examples/ota-requestor-app/ameba/README.md
  examples/pigweed-app/ameba/README.md
  integrations/cloudbuild/chef.yaml
  integrations/cloudbuild/smoke-test.yaml
Labels: examples, integrations, github, workflows, review - approved

#33258 Enable chef robotic vacuum cleaner device
  examples/chef/common/chef-rvc-mode-delegate.cpp
  examples/chef/common/chef-rvc-mode-delegate.h
  examples/chef/common/chef-rvc-operational-state-delegate.cpp
  examples/chef/common/chef-rvc-operational-state-delegate.h
  examples/chef/common/stubs.cpp
  examples/chef/devices/rootnode_roboticvacuumcleaner_1807ff0c49.matter
  examples/chef/devices/rootnode_roboticvacuumcleaner_1807ff0c49.zap
  integrations/cloudbuild/chef.yaml
Labels: examples, integrations, vscode, review - pending, fast track

#33775 [Python] Remove Python Bluetooth and ChipStack event loop integration
  src/controller/python/chip/ChipBluezMgr.py
  src/controller/python/chip/ChipCoreBluetoothMgr.py
  src/controller/python/chip/ChipDeviceCtrl.py
  src/controller/python/chip/ChipStack.py
Labels: controller, review - approved

#33770 Cherry picking the python PR to make the branch green
  scripts/setup/constraints.txt
  scripts/setup/requirements.esp32.txt
Labels: scripts

#33758 Cherry Picking commits for 1.3TH (CCBs)
  src/app/tests/suites/certification/Test_TC_OPCREDS_3_7.yaml
  src/python_testing/TC_RR_1_1.py
  src/python_testing/TC_SC_3_6.py
Labels: scripts, app, tests

#33767 Make removeDevice drop the subscription for an MTRDevice.
  src/darwin/Framework/CHIP/MTRDevice.mm
Labels: darwin, review - approved

#33785 Make EncodableToTLV arguments const
  src/app/CommandHandler.h
  src/app/CommandHandlerImpl.cpp
  src/app/CommandHandlerImpl.h
Labels: app, review - approved

#33622 Python testing: Conformance support for device type conditions
  src/python_testing/TestConformanceSupport.py
  src/python_testing/conformance_support.py
Labels: review - approved, tests

#33760 Add better APIs for handling FeatureMap in MTRServerAttribute.
  src/darwin/Framework/CHIP/ServerEndpoint/MTRServerAttribute.h
  src/darwin/Framework/CHIP/ServerEndpoint/MTRServerAttribute.mm
  src/darwin/Framework/CHIPTests/MTRServerEndpointTests.m
Labels: darwin, review - pending, fast track

#33768 Close TCP connection when received message size is too large.
  src/transport/raw/TCP.cpp
  src/transport/raw/tests/TestTCP.cpp
Labels: transport, review - approved

#33629 [Ameba] cleanup platform config
  src/platform/Ameba/CHIPDevicePlatformConfig.h
Labels: platform, review - approved

#33774 [Python] Add TriggerResubscribeIfScheduled to SubscriptionTransaction
  src/controller/python/chip/clusters/Attribute.py
  src/controller/python/chip/clusters/attribute.cpp
Labels: controller, review - approved

#33800 [Tizen] Improve memory management in BLE module
  src/platform/Tizen/BLEManagerImpl.cpp
  src/platform/Tizen/BLEManagerImpl.h
  src/platform/Tizen/ChipDeviceScanner.cpp
  src/platform/Tizen/ChipDeviceScanner.h
Labels: platform, review - pending, fast track, tizen

#33795 Stop using MSEC_PER_SEC without directly including relevant headers.
  src/darwin/Framework/CHIP/MTRConversion.h
  src/darwin/Framework/CHIP/MTRDeviceConnectionBridge.mm
Labels: darwin, review - approved

#33791 Docs: Add autolinks to daily fail summary
  docs/ci-cd/tools/daily_fail_summary.md
Labels: review - pending, fast track

#33804 [Silabs] Removing the 917 SoC condition from the NVM
  src/platform/silabs/SilabsConfig.cpp
Labels: platform, review - approved, silabs

#33740 Python test runner: Add non-printing CI option
  .github/workflows/tests.yaml
  scripts/tests/run_python_test.py
Labels: scripts, github, workflows, review - pending, fast track, tests

#33759 Python testing: move PICS functions
  src/python_testing/TC_pics_checker.py
  src/python_testing/TestMatterTestingSupport.py
  src/python_testing/matter_testing_support.py
  src/python_testing/pics_support.py
Labels: review - pending, fast track, tests

#33766 Linux tv-casting-app enable AccountLogin cluster
  examples/tv-casting-app/android/App/app/src/main/java/com/matter/casting/ApplicationBasicReadVendorIDExampleFragment.java
  examples/tv-casting-app/android/App/app/src/main/java/com/matter/casting/ContentLauncherLaunchURLExampleFragment.java
  examples/tv-casting-app/android/App/app/src/main/java/com/matter/casting/MediaPlaybackSubscribeToCurrentStateExampleFragment.java
  examples/tv-casting-app/tv-casting-common/clusters/Clusters.h
Labels: examples, review - approved

#33810 Update more Darwin availability annotations.
  src/darwin/Framework/CHIP/MTRDevice.h
  src/darwin/Framework/CHIP/MTRDeviceControllerParameters.h
  src/darwin/Framework/CHIP/MTRDeviceStorageBehaviorConfiguration.h
Labels: review - approved

#33685 Added endpoint id for Thread network commissioning instance
  src/platform/BUILD.gn
  src/platform/OpenThread/GenericThreadStackManagerImpl_OpenThread.hpp
Labels: platform, review - approved

#33730 Post-merge updates for IM/DM separation
  src/app/interaction-model/ActionContext.h
  src/app/interaction-model/BUILD.gn
  src/app/interaction-model/Context.h
  src/app/interaction-model/Events.h
  src/app/interaction-model/InvokeResponder.h
  src/app/interaction-model/IterationTypes.h
  src/app/interaction-model/Model.h
  src/app/interaction-model/OperationTypes.h
  src/app/interaction-model/Paths.h
  src/app/interaction-model/tests/TestEventEmitting.cpp
Labels: app, review - approved

#33812 [Darwin] MTRDevice subscription pool test timeout should be increased
  src/darwin/Framework/CHIPTests/MTRPerControllerStorageTests.m
Labels: darwin, review - approved

#33769 [Fabric-Bridge] Don't track device changes for synced devices
  examples/fabric-bridge-app/linux/Device.cpp
  examples/fabric-bridge-app/linux/DeviceManager.cpp
  examples/fabric-bridge-app/linux/include/Device.h
  examples/fabric-bridge-app/linux/include/DeviceManager.h
  examples/fabric-bridge-app/linux/main.cpp
Labels: examples, review - approved

#33773 Log errors if AdvertiseOperational fails
  examples/platform/linux/CommissionerMain.cpp
  src/app/clusters/operational-credentials-server/operational-credentials-server.cpp
  src/app/server/CommissioningWindowManager.cpp
Labels: examples, platform, app, review - approved

#33757 pigweed unit_test migration: App 3rd batch
  src/app/tests/BUILD.gn
  src/app/tests/TestAttributePathParams.cpp
  src/app/tests/TestBasicCommandPathRegistry.cpp
  src/app/tests/TestClusterInfo.cpp
  src/app/tests/TestCommandPathParams.cpp
  src/app/tests/TestConcreteAttributePath.cpp
  src/app/tests/TestDataModelSerialization.cpp
  src/app/tests/TestDefaultOTARequestorStorage.cpp
  src/app/tests/TestEventPathParams.cpp
  src/app/tests/TestExtensionFieldSets.cpp
  src/app/tests/TestSceneTable.cpp
Labels: app, review - approved, tests

#33808 [MinMdns] do no stop a `browse` operation after the first result
  src/lib/dnssd/ActiveResolveAttempts.cpp
  src/lib/dnssd/ActiveResolveAttempts.h
  src/lib/dnssd/Resolver_ImplMinimalMdns.cpp
  src/lib/dnssd/tests/TestActiveResolveAttempts.cpp
Labels: lib, review - approved

#33820 add noip back
  integrations/cloudbuild/chef.yaml
Labels: integrations, review - pending, fast track

#33834 Update ZAP to fix codegen for nullable attributes.
  scripts/setup/zap.json
  scripts/setup/zap.version
  scripts/tools/zap/zap_execution.py
Labels: scripts, review - pending, fast track

#33746 Modified wifi network diagnostics cluster name, WiFi to Wi-Fi
  examples/air-quality-sensor-app/air-quality-sensor-common/air-quality-sensor-app.zap
  examples/all-clusters-app/all-clusters-common/all-clusters-app.zap
  examples/all-clusters-minimal-app/all-clusters-common/all-clusters-minimal-app.zap
  examples/bridge-app/bridge-common/bridge-app.zap
  examples/chef/devices/noip_rootnode_dimmablelight_bCwGYSDpoe.zap
  examples/chef/devices/rootnode_dishwasher_cc105034fe.zap
  examples/chef/devices/rootnode_laundrywasher_fb10d238c8.zap
  examples/chef/devices/rootnode_refrigerator_temperaturecontrolledcabinet_temperaturecontrolledcabinet_ffdb696680.zap
  examples/chef/sample_app_util/test_files/sample_zap_file.zap
  examples/contact-sensor-app/contact-sensor-common/contact-sensor-app.zap
  examples/dishwasher-app/dishwasher-common/dishwasher-app.zap
  examples/fabric-bridge-app/fabric-bridge-common/fabric-bridge-app.zap
  examples/laundry-washer-app/nxp/zap/laundry-washer-app.zap
  examples/light-switch-app/light-switch-common/light-switch-app.zap
  examples/lighting-app/bouffalolab/data_model/lighting-app-wifi.zap
  examples/lighting-app/lighting-common/lighting-app.zap
  examples/lighting-app/silabs/data_model/lighting-wifi-app.zap
  examples/lit-icd-app/lit-icd-common/lit-icd-server-app.zap
  examples/lock-app/lock-common/lock-app.zap
  examples/microwave-oven-app/microwave-oven-common/microwave-oven-app.zap
  examples/network-manager-app/network-manager-common/network-manager-app.zap
  examples/placeholder/linux/apps/app1/config.zap
  examples/placeholder/linux/apps/app2/config.zap
  examples/refrigerator-app/refrigerator-common/refrigerator-app.zap
  examples/temperature-measurement-app/temperature-measurement-common/temperature-measurement.zap
  examples/thermostat/nxp/zap/thermostat_matter_wifi.zap
  examples/thermostat/thermostat-common/thermostat.zap
  examples/tv-app/tv-common/tv-app.zap
  examples/tv-casting-app/tv-casting-common/tv-casting-app.zap
  examples/virtual-device-app/virtual-device-common/virtual-device-app.zap
  examples/window-app/common/window-app.zap
  scripts/tools/zap/tests/inputs/all-clusters-app.zap
  scripts/tools/zap/tests/inputs/lighting-app.zap
  scripts/tools/zap/tests/outputs/all-clusters-app/app-templates/endpoint_config.h
  scripts/tools/zap/tests/outputs/all-clusters-app/app-templates/gen_config.h
  scripts/tools/zap/tests/outputs/lighting-app/app-templates/endpoint_config.h
  scripts/tools/zap/tests/outputs/lighting-app/app-templates/gen_config.h
  src/app/clusters/wifi-network-diagnostics-server/wifi-network-diagnostics-server.cpp
  src/app/tests/suites/TestDescriptorCluster.yaml
  src/app/zap-templates/zcl/data-model/chip/matter-devices.xml
  src/app/zap-templates/zcl/data-model/chip/wifi-network-diagnostics-cluster.xml
  src/app/zap-templates/zcl/zcl-with-test-extensions.json
  src/app/zap-templates/zcl/zcl.json
  src/controller/data_model/controller-clusters.zap
  src/darwin/Framework/CHIP/zap-generated/MTRBaseClusters.h
  src/darwin/Framework/CHIP/zap-generated/MTRClusters.h
  src/include/platform/DiagnosticDataProvider.h
  zzz_generated/app-common/app-common/zap-generated/callback.h
Labels: examples, scripts, platform, darwin, controller, app, review - approved, tests

#33782 Allow CommandSender request to be built using DataModel::EncodableToTLV
  src/app/CommandSender.cpp
  src/app/CommandSender.h
Labels: app, review - approved

#33796 Clear Aliro credentials when ClearCredential for all credentials happens.
  src/app/clusters/door-lock-server/door-lock-server.cpp
Labels: app, review - approved

#33743 [Android] Implement Android ICD queue Button
  examples/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/clusterclient/WildcardFragment.kt
  examples/android/CHIPTool/app/src/main/res/layout/wildcard_fragment.xml
  examples/android/CHIPTool/app/src/main/res/values/strings.xml
Labels: examples, review - approved

#33797 Generate LockUserChange events when clearing a credential.
  scripts/tests/chiptest/__init__.py
  src/app/clusters/door-lock-server/door-lock-server.cpp
  src/app/tests/suites/DL_UsersAndCredentials.yaml
Labels: scripts, app, review - approved, tests

#33847 Rename `src/app/interaction-model` to `src/app/data-model-interface` and more updates on naming
  src/BUILD.gn
  src/app/codegen-data-model/BUILD.gn
  src/app/codegen-data-model/CodegenDataModel.cpp
  src/app/codegen-data-model/CodegenDataModel.h
  src/app/codegen-data-model/model.gni
  src/app/codegen-data-model/tests/BUILD.gn
  src/app/codegen-data-model/tests/TestCodegenModelViaMocks.cpp
  src/app/data-model-interface/ActionContext.h
  src/app/data-model-interface/BUILD.gn
  src/app/data-model-interface/Context.h
  src/app/data-model-interface/DataModel.h
  src/app/data-model-interface/DataModelChangeListener.h
  src/app/data-model-interface/EventsGenerator.h
  src/app/data-model-interface/InvokeResponder.h
  src/app/data-model-interface/MetadataTypes.cpp
  src/app/data-model-interface/MetadataTypes.h
  src/app/data-model-interface/OperationTypes.h
  src/app/data-model-interface/tests/BUILD.gn
  src/app/data-model-interface/tests/TestEventEmitting.cpp
Labels: app, review - approved

#33825 Update all-clusters and lighting to latest zap files and update golden test files
  scripts/tools/zap/tests/inputs/all-clusters-app.zap
  scripts/tools/zap/tests/inputs/lighting-app.zap
  scripts/tools/zap/tests/outputs/all-clusters-app/app-templates/IMClusterCommandHandler.cpp
  scripts/tools/zap/tests/outputs/all-clusters-app/app-templates/access.h
  scripts/tools/zap/tests/outputs/all-clusters-app/app-templates/endpoint_config.h
  scripts/tools/zap/tests/outputs/all-clusters-app/app-templates/gen_config.h
  scripts/tools/zap/tests/outputs/lighting-app/app-templates/IMClusterCommandHandler.cpp
  scripts/tools/zap/tests/outputs/lighting-app/app-templates/access.h
  scripts/tools/zap/tests/outputs/lighting-app/app-templates/endpoint_config.h
  scripts/tools/zap/tests/outputs/lighting-app/app-templates/gen_config.h
Labels: scripts, review - approved

#33838 [Chip-tool] Fix heap memory increase in interactive mode
  src/controller/ExamplePersistentStorage.cpp
Labels: controller, review - approved

#33721 Linux: Tidy up ifdefs around app options
  examples/platform/linux/Options.cpp
  examples/platform/linux/Options.h
Labels: examples, platform, review - approved

#33852 Remove 'contents of test directory' output.
  scripts/tests/run_java_test.py
  scripts/tests/run_kotlin_test.py
  scripts/tests/run_python_test.py
Labels: scripts, review - approved

#33826 Remove obsolete functions from BlePlatformDelegate interface
  src/ble/BlePlatformDelegate.h
  src/ble/tests/TestBleLayer.cpp
  src/platform/ASR/BLEManagerImpl.cpp
  src/platform/ASR/BLEManagerImpl.h
  src/platform/Ameba/BLEManagerImpl.cpp
  src/platform/Ameba/BLEManagerImpl.h
  src/platform/Beken/BLEManagerImpl.cpp
  src/platform/Beken/BLEManagerImpl.h
  src/platform/Darwin/BlePlatformDelegate.h
  src/platform/Darwin/BlePlatformDelegateImpl.mm
  src/platform/ESP32/BLEManagerImpl.h
  src/platform/ESP32/bluedroid/BLEManagerImpl.cpp
  src/platform/ESP32/nimble/BLEManagerImpl.cpp
  src/platform/Infineon/CYW30739/BLEManagerImpl.cpp
  src/platform/Infineon/CYW30739/BLEManagerImpl.h
  src/platform/Infineon/PSOC6/BLEManagerImpl.cpp
  src/platform/Infineon/PSOC6/BLEManagerImpl.h
  src/platform/Linux/BLEManagerImpl.cpp
  src/platform/Linux/BLEManagerImpl.h
  src/platform/NuttX/BLEManagerImpl.cpp
  src/platform/NuttX/BLEManagerImpl.h
  src/platform/Tizen/BLEManagerImpl.cpp
  src/platform/Tizen/BLEManagerImpl.h
  src/platform/Zephyr/BLEManagerImpl.cpp
  src/platform/Zephyr/BLEManagerImpl.h
  src/platform/android/BLEManagerImpl.cpp
  src/platform/android/BLEManagerImpl.h
  src/platform/bouffalolab/common/BLEManagerImpl.cpp
  src/platform/bouffalolab/common/BLEManagerImpl.h
  src/platform/cc13xx_26xx/BLEManagerImpl.cpp
  src/platform/cc13xx_26xx/cc13x4_26x4/BLEManagerImpl.h
  src/platform/mbed/BLEManagerImpl.cpp
  src/platform/mbed/BLEManagerImpl.h
  src/platform/mt793x/BLEManagerImpl.cpp
  src/platform/mt793x/BLEManagerImpl.h
  src/platform/nxp/k32w/common/BLEManagerCommon.cpp
  src/platform/nxp/k32w/common/BLEManagerCommon.h
  src/platform/qpg/BLEManagerImpl.cpp
  src/platform/qpg/BLEManagerImpl.h
  src/platform/silabs/BLEManagerImpl.h
  src/platform/silabs/efr32/BLEManagerImpl.cpp
  src/platform/silabs/rs911x/BLEManagerImpl.cpp
  src/platform/stm32/BLEManagerImpl.cpp
  src/platform/stm32/BLEManagerImpl.h
  src/platform/telink/BLEManagerImpl.cpp
  src/platform/telink/BLEManagerImpl.h
  src/platform/webos/BLEManagerImpl.cpp
  src/platform/webos/BLEManagerImpl.h
Labels: platform, darwin, esp32, linux, zephyr, ble, review - approved, telink, tizen, silabs

#33882 [Python] Drop deprecated discovery APIs
  docs/testing/ChipDeviceCtrlAPI.md
  src/controller/python/ChipDeviceController-Discovery.cpp
  src/controller/python/ChipDeviceController-ScriptBinding.cpp
  src/controller/python/chip/ChipDeviceCtrl.py
Labels: documentation, controller, review - approved

#33772 pw_unit_test migration: apps final batch
  src/BUILD.gn
  src/app/tests/BUILD.gn
  src/app/tests/TestAclAttribute.cpp
  src/app/tests/TestAclEvent.cpp
  src/app/tests/TestBufferedReadCallback.cpp
  src/app/tests/TestClusterStateCache.cpp
  src/app/tests/TestCommandInteraction.cpp
  src/app/tests/TestCommissionManager.cpp
  src/app/tests/TestCommissioningWindowManager.cpp
  src/app/tests/TestDefaultICDClientStorage.cpp
  src/app/tests/TestEventLogging.cpp
  src/app/tests/TestEventLoggingNoUTCTime.cpp
  src/app/tests/TestEventOverflow.cpp
  src/app/tests/TestFabricScopedEventLogging.cpp
  src/app/tests/TestFailSafeContext.cpp
  src/app/tests/TestInteractionModelEngine.cpp
  src/app/tests/TestReadInteraction.cpp
  src/app/tests/TestReportScheduler.cpp
  src/app/tests/TestReportingEngine.cpp
  src/app/tests/TestSimpleSubscriptionResumptionStorage.cpp
  src/app/tests/TestTimedHandler.cpp
  src/app/tests/TestWriteInteraction.cpp
  src/app/tests/test-interaction-model-api.h
  src/test_driver/openiotsdk/unit-tests/CMakeLists.txt
  src/test_driver/openiotsdk/unit-tests/main/main_ns_nl.cpp
  src/test_driver/openiotsdk/unit-tests/test_components_nl.txt
Labels: app, review - pending, fast track, tests, test driver

#33198 [MWOCTRL] Merged test cases 2.2 and 2.3
  .github/workflows/tests.yaml
  src/app/clusters/microwave-oven-control-server/microwave-oven-control-server.cpp
  src/app/tests/suites/certification/Test_TC_MWOCTRL_2_1.yaml
  src/python_testing/TC_MWOCTRL_2_1.py
  src/python_testing/TC_MWOCTRL_2_2.py
  src/python_testing/TC_MWOCTRL_2_3.py
Labels: scripts, app, github, workflows, python, review - approved, tests, appliances, microwaves

#33874 [FANCTRL] Fix enums
  src/app/zap-templates/zcl/data-model/chip/fan-control-cluster.xml
Labels: app, review - approved

#33822 Fix OperationalSessionSetup notifying success with inactive sessions
  src/app/OperationalSessionSetup.cpp
  src/app/OperationalSessionSetup.h
  src/lib/core/BUILD.gn
  src/lib/core/GroupedCallbackList.h
  src/lib/core/tests/BUILD.gn
  src/lib/core/tests/TestGroupedCallbackList.cpp
Labels: lib, app, review - approved, core

#32491 [Darwin] MTRDevice should support multiple delegates
  src/darwin/Framework/CHIP/MTRDevice.h
  src/darwin/Framework/CHIP/MTRDevice.mm
  src/darwin/Framework/CHIP/MTRDeviceStorageBehaviorConfiguration.h
  src/darwin/Framework/CHIPTests/MTRDeviceTests.m
  src/darwin/Framework/CHIPTests/TestHelpers/MTRTestDeclarations.h
Labels: darwin, review - pending, fast track

#33853 Add `features` parsing for the zapxml python parser
  scripts/py_matter_idl/matter_idl/test_zapxml.py
  scripts/py_matter_idl/matter_idl/zapxml/handlers/handlers.py
Labels: scripts, review - approved

#33891 [Python] Use thread-safe futures for concurrent operations
  src/controller/python/chip/ChipDeviceCtrl.py
  src/controller/python/chip/ChipStack.py
Labels: controller, review - approved

#33856 [Darwin] MTRDeviceController getSessionForNode: to use subscription pool as needed
  src/darwin/Framework/CHIP/MTRDevice.mm
  src/darwin/Framework/CHIP/MTRDeviceController.mm
  src/darwin/Framework/CHIP/MTRDeviceController_Internal.h
  src/darwin/Framework/CHIP/MTRDevice_Internal.h
  src/darwin/Framework/CHIPTests/MTRPerControllerStorageTests.m
Labels: darwin, review - pending, fast track

#33887 Add LargePayload flag in GetConnectedDevice() API
  src/controller/CHIPDeviceController.h
Labels: controller, review - approved

#33843 [Android] Implement remove ICD Client Info
  examples/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/provisioning/UnpairDeviceFragment.kt
  src/controller/java/AndroidICDClient.cpp
  src/controller/java/AndroidICDClient.h
  src/controller/java/CHIPICDClient-JNI.cpp
  src/controller/java/MatterICDClient-JNI.cpp
  src/controller/java/src/chip/devicecontroller/ChipICDClient.java
  src/controller/java/src/matter/controller/MatterICDClientImpl.kt
Labels: examples, controller, review - approved

#33906 [NXP][platform][common] Fix OTA issue to resume OTA after provider power off
  src/platform/nxp/common/OTAImageProcessorImpl.cpp
  src/platform/nxp/common/OTAImageProcessorImpl.h
Labels: platform, review - pending, fast track

#33701 Mark AutoRelockTime attribute of the Door Lock cluster as optional in the XML
  examples/all-clusters-minimal-app/all-clusters-common/all-clusters-minimal-app.matter
  examples/chef/devices/rootnode_doorlock_aNKYAreMXE.matter
  examples/lock-app/lock-common/lock-app.matter
  examples/lock-app/nxp/zap/lock-app.matter
  examples/lock-app/qpg/zap/lock.matter
  examples/placeholder/linux/apps/app1/config.matter
  examples/placeholder/linux/apps/app2/config.matter
  examples/virtual-device-app/virtual-device-common/virtual-device-app.matter
  src/app/zap-templates/zcl/data-model/chip/door-lock-cluster.xml
  src/controller/data_model/controller-clusters.matter
  src/controller/java/generated/java/matter/controller/cluster/clusters/DoorLockCluster.kt
  src/controller/python/chip/clusters/Objects.py
Labels: examples, controller, app, review - approved, skip-protocol-compatibility

#33885 Cherry-pick provisional cluster check PRs to 1.3-SVE test harness branch.
  src/controller/python/chip/clusters/__init__.py
  src/python_testing/TC_DeviceConformance.py
Labels: controller, tests

#33880 Avoid errors when using on-network commissioning
  src/controller/SetUpCodePairer.cpp
  src/controller/python/ChipDeviceController-ScriptPairingDeviceDiscoveryDelegate.cpp
Labels: controller, review - pending, fast track

#32432 Add UI options for zap
  src/app/zap-templates/zcl/zcl-with-test-extensions.json
  src/app/zap-templates/zcl/zcl.json
Labels: app, review - approved

#33876 [NXP] Fix TC-I-2.2 test failure
  examples/all-clusters-app/nxp/common/main/DeviceCallbacks.cpp
  examples/thermostat/nxp/common/main/DeviceCallbacks.cpp
Labels: examples, review - pending, fast track

#33689 [Silabs] Refactor SiWx917 random number generator
  examples/platform/silabs/SiWx917/SiWx917/sl_wifi_if.cpp
  src/platform/silabs/PlatformManagerImpl.cpp
  src/platform/silabs/SiWx917/CHIPCryptoPALTinyCrypt.cpp
  src/platform/silabs/rs911x/BLEManagerImpl.cpp
Labels: examples, platform, review - approved, silabs

#33914 Add success message on removing current fabric
  src/controller/CurrentFabricRemover.cpp
Labels: controller, review - approved

#33827 Add SupportedCluster list to ContentAppPlatform
  examples/tv-app/android/App/content-app/src/main/res/raw/static_matter_clusters
  examples/tv-app/android/App/platform-app/src/main/java/com/matter/tv/server/service/AppPlatformService.java
  examples/tv-app/android/BUILD.gn
  examples/tv-app/android/java/AppImpl.cpp
  examples/tv-app/android/java/AppImpl.h
  examples/tv-app/android/java/AppPlatform-JNI.cpp
  examples/tv-app/android/java/src/com/matter/tv/server/tvapp/AppPlatform.java
  examples/tv-app/android/java/src/com/matter/tv/server/tvapp/ContentAppSupportedCluster.java
  examples/tv-app/tv-common/include/AppTv.h
  examples/tv-app/tv-common/src/AppTv.cpp
  src/app/app-platform/ContentApp.cpp
  src/app/app-platform/ContentApp.h
  src/app/app-platform/ContentAppPlatform.cpp
Labels: examples, app, review - approved

#33915 [Python] Drop unnecessary null termination
  src/controller/python/chip/ChipDeviceCtrl.py
Labels: controller, review - approved

#33904 Add new AddStatus overloads using ClusterStatusCode
  src/app/CommandHandler.h
  src/app/CommandHandlerImpl.cpp
  src/app/CommandHandlerImpl.h
  src/app/CommandResponseHelper.h
  src/app/MessageDef/StatusIB.h
  src/app/WriteClient.h
  src/app/WriteHandler.cpp
  src/app/WriteHandler.h
  src/app/data-model-interface/InvokeResponder.h
  src/app/tests/TestStatusIB.cpp
  src/controller/tests/data_model/TestCommands.cpp
  src/controller/tests/data_model/TestWrite.cpp
  src/protocols/interaction_model/StatusCode.h
  src/protocols/interaction_model/tests/TestStatusCode.cpp
Labels: controller, app, review - approved, tests, protocols

#33927 [XML] Add Matter 1.4 Switch cluster AS feature
  examples/all-clusters-app/all-clusters-common/all-clusters-app.matter
  examples/all-clusters-minimal-app/all-clusters-common/all-clusters-minimal-app.matter
  examples/bridge-app/bridge-common/bridge-app.matter
  examples/chef/devices/rootnode_genericswitch_2dfff6e516.matter
  examples/chef/devices/rootnode_genericswitch_9866e35d0b.matter
  examples/light-switch-app/light-switch-common/light-switch-app.matter
  examples/light-switch-app/qpg/zap/switch.matter
  examples/lighting-app/lighting-common/lighting-app.matter
  examples/placeholder/linux/apps/app1/config.matter
  examples/placeholder/linux/apps/app2/config.matter
  scripts/py_matter_idl/matter_idl/generators/__init__.py
  src/app/zap-templates/zcl/data-model/chip/switch-cluster.xml
  src/controller/data_model/controller-clusters.matter
  src/controller/python/chip/clusters/Objects.py
  src/darwin/Framework/CHIP/zap-generated/MTRBaseClusters.h
  zzz_generated/app-common/app-common/zap-generated/cluster-enums.h
Labels: examples, scripts, darwin, controller, app, review - approved

#33931 Stop using weak functions for Aliro command callbacks.
  src/app/clusters/door-lock-server/door-lock-delegate.h
  src/app/clusters/door-lock-server/door-lock-server-callback.cpp
  src/app/clusters/door-lock-server/door-lock-server.cpp
  src/app/clusters/door-lock-server/door-lock-server.h
Labels: app, review - approved

#33933 Fix python Wi-Fi/Thread setup with manual code
  src/controller/CHIPDeviceController.cpp
  src/controller/python/ChipDeviceController-ScriptBinding.cpp
  src/controller/python/chip/ChipDeviceCtrl.py
  src/lib/support/SetupDiscriminator.h
  src/protocols/secure_channel/RendezvousParameters.h
  src/python_testing/matter_testing_support.py
  src/setup_payload/SetupPayload.h
  src/setup_payload/tests/TestManualCode.cpp
Labels: setup payload, lib, controller, review - approved, tests, support, protocols

#33608 Replace _NO_NETWORK_COMMISSIONING_DRIVER_ with _NO_GENERIC_THREAD_NETWORK_COMMISSIONING_DRIVER_
  examples/shell/genio/include/CHIPProjectConfig.h
  examples/shell/mbed/main/include/CHIPProjectConfig.h
  examples/shell/nrfconnect/CHIPProjectConfig.h
  examples/shell/qpg/include/CHIPProjectConfig.h
  examples/shell/telink/include/CHIPProjectConfig.h
  src/platform/OpenThread/GenericThreadStackManagerImpl_OpenThread.hpp
  src/platform/nxp/rt/rw61x/BUILD.gn
  src/test_driver/efr32/BUILD.gn
Labels: examples, platform, review - approved, test driver

#33889 Changes to CommandSender and CommandHandler for supporting commands with large payloads
  src/app/CommandHandlerExchangeInterface.h
  src/app/CommandHandlerImpl.cpp
  src/app/CommandResponseSender.cpp
  src/app/CommandResponseSender.h
  src/app/CommandSender.cpp
  src/app/CommandSender.h
  src/app/tests/TestCommandInteraction.cpp
Labels: app, review - approved, tests

#33913 Rename scripts/tests/yaml to scripts/tests/chipyaml
  docs/guides/simulated_device_linux.md
  docs/testing/yaml.md
  examples/rvc-app/run_all_yaml_tests.sh
  scripts/tests/chipyaml/__init__.py
  scripts/tests/chipyaml/chiptool.py
  scripts/tests/chipyaml/darwinframeworktool.py
  scripts/tests/chipyaml/extensions/__init__.py
  scripts/tests/chipyaml/extensions/example_cluster.py
  scripts/tests/chipyaml/extensions/wildcard_response_extractor_cluster.py
  scripts/tests/chipyaml/paths_finder.py
  scripts/tests/chipyaml/relative_importer.py
  scripts/tests/chipyaml/runner.py
  scripts/tests/chipyaml/tests_finder.py
  scripts/tests/chipyaml/tests_logger.py
  scripts/tests/chipyaml/tests_tool.py
  scripts/tests/run_darwin_framework_ota_test.py
  scripts/tests/run_test_suite.py
Labels: documentation, examples, scripts, review - approved

#33929 Update Darwin availability annotations for new features.
  src/darwin/Framework/CHIP/templates/availability.yaml
Labels: darwin, review - pending, fast track

#33930 Improve error messages in Darwin DNS-SD implementation.
  src/platform/Darwin/DnssdContexts.cpp
  src/platform/Darwin/DnssdImpl.h
Labels: platform, darwin, review - pending, fast track

#33937 Add option to ChipTool to allow session setup for large payloads.
  examples/chip-tool/commands/clusters/ModelCommand.cpp
  examples/chip-tool/commands/clusters/ModelCommand.h
Labels: tools, examples, review - approved

#33908 [Fabric-Bridge] Add new commissioned device as a synchronized device to Fabric Bridge
  examples/fabric-bridge-app/linux/Device.cpp
  examples/fabric-bridge-app/linux/DeviceManager.cpp
  examples/fabric-bridge-app/linux/RpcClient.cpp
  examples/fabric-bridge-app/linux/RpcServer.cpp
  examples/fabric-bridge-app/linux/include/Device.h
  examples/fabric-bridge-app/linux/include/DeviceManager.h
Labels: examples, review - approved

#33605 dac revocation: Fallback method to parse VID/PID from crl signer
  credentials/generate-revocation-set.py
Labels: review - approved

#33928 displaying pw_unit_test logs on Android CHIPTest App
  examples/android/CHIPTest/BUILD.gn
  examples/android/CHIPTest/app/src/main/cpp/CHIPTest-JNI.cpp
Labels: examples, review - pending, fast track

#33849 Rollback InvokeRequestMessage when AddResponseData fails
  src/app/CommandSender.cpp
  src/app/CommandSender.h
  src/app/tests/TestCommandInteraction.cpp
Labels: app, review - approved, tests

#33637 Update Dockerfiles to `ubuntu:24.04`
  integrations/docker/build-all.sh
  integrations/docker/images/base/chip-build-minimal/Dockerfile
  integrations/docker/images/base/chip-build/Dockerfile
  integrations/docker/images/base/chip-build/version
  integrations/docker/images/chip-cert-bins/Dockerfile
  integrations/docker/images/stage-1/chip-build-crosscompile/Dockerfile
  integrations/docker/images/stage-2/chip-build-ameba/Dockerfile
  integrations/docker/images/stage-2/chip-build-asr/Dockerfile
  integrations/docker/images/stage-2/chip-build-bouffalolab/Dockerfile
  integrations/docker/images/stage-2/chip-build-cirque/Dockerfile
  integrations/docker/images/stage-2/chip-build-efr32/Dockerfile
  integrations/docker/images/stage-2/chip-build-imx/Dockerfile
  integrations/docker/images/stage-2/chip-build-infineon/Dockerfile
  integrations/docker/images/stage-2/chip-build-k32w/Dockerfile
  integrations/docker/images/stage-2/chip-build-linux-qemu/Dockerfile
  integrations/docker/images/stage-2/chip-build-mbed-os/Dockerfile
  integrations/docker/images/stage-2/chip-build-nrf-platform/Dockerfile
  integrations/docker/images/stage-2/chip-build-nuttx/Dockerfile
  integrations/docker/images/stage-2/chip-build-telink/Dockerfile
  integrations/docker/images/stage-2/chip-build-tizen/Dockerfile
  integrations/docker/images/stage-2/chip-cirque-device-base/Dockerfile
  integrations/docker/images/stage-3/chip-build-android/Dockerfile
  integrations/docker/images/stage-3/chip-build-esp32-qemu/Dockerfile
  integrations/docker/images/stage-3/chip-build-tizen-qemu/Dockerfile
  integrations/docker/images/vscode/chip-build-vscode/Dockerfile
  scripts/setup/constraints.txt
Labels: scripts, integrations, review - approved, docker

#33924 [nrfconnect] Remove shell initialization from chef app
  examples/chef/nrfconnect/main.cpp
Labels: review - approved

#33944 Update cirque pip flags to allow breaking system packages
  scripts/tests/cirque_tests.sh
Labels: hotfix, scripts, review - pending

#33951 Add more `--break-system-packages` for pip install for cirque
  src/test_driver/linux-cirque/CommissioningFailureOnReportTest.py
  src/test_driver/linux-cirque/CommissioningFailureTest.py
  src/test_driver/linux-cirque/CommissioningTest.py
  src/test_driver/linux-cirque/CommissioningWindowTest.py
  src/test_driver/linux-cirque/FailsafeTest.py
  src/test_driver/linux-cirque/MobileDeviceTest.py
  src/test_driver/linux-cirque/PythonCommissioningTest.py
  src/test_driver/linux-cirque/SplitCommissioningTest.py
  src/test_driver/linux-cirque/SubscriptionResumptionCapacityTest.py
  src/test_driver/linux-cirque/SubscriptionResumptionTest.py
  src/test_driver/linux-cirque/SubscriptionResumptionTimeoutTest.py
Labels: hotfix, test driver

#33895 [NXP][platform] Fixing RAM buffer alignment issue on NXP platforms
  src/platform/nxp/common/NXPConfig.cpp
Labels: platform, review - approved

#33897 Enable additional adv data on Linux as a reference platform
  examples/lighting-app/linux/args.gni
  src/platform/Linux/bluez/BluezEndpoint.cpp
Labels: tools, examples, platform, linux, review - approved

#33893 [Linux] Verify BLE service before reporting new connection
  src/app/tests/suites/certification/Test_TC_CNET_4_2.yaml
  src/platform/Linux/BLEManagerImpl.cpp
  src/platform/Linux/BLEManagerImpl.h
  src/platform/Linux/bluez/BluezConnection.cpp
  src/platform/Linux/bluez/BluezConnection.h
  src/platform/Linux/bluez/BluezEndpoint.cpp
Labels: platform, linux, app, review - pending, fast track, tests

#33875 [NXP] Add ICD _SetPollingInterval and set minimum ActiveModeThreshold to 5 seconds
  src/platform/nxp/common/ConnectivityManagerImpl.cpp
  src/platform/nxp/common/ConnectivityManagerImpl.h
  third_party/nxp/nxp_sdk.gni
Labels: platform, review - pending, fast track, changing-submodules-on-purpose

#33898 [NXP] rw61x openthread and BT updates
  examples/platform/nxp/rt/rw61x/app/project_include/openthread/OpenThreadConfig.h
  src/platform/nxp/rt/rw61x/PlatformManagerImpl.cpp
  third_party/nxp/rt_sdk/transceiver/app_transceiver_config.h
  third_party/openthread/platforms/nxp/rt/rw61x/BUILD.gn
Labels: examples, platform, fast track, changing-submodules-on-purpose

#33912 [Fabric-Admin] Add sync-device command to sync a device from another fabric
  examples/fabric-admin/BUILD.gn
  examples/fabric-admin/commands/clusters/ReportCommand.cpp
  examples/fabric-admin/commands/clusters/ReportCommand.h
  examples/fabric-admin/commands/common/Commands.cpp
  examples/fabric-admin/commands/common/Commands.h
  examples/fabric-admin/commands/fabric-sync/Commands.h
  examples/fabric-admin/commands/fabric-sync/FabricSyncCommand.cpp
  examples/fabric-admin/commands/fabric-sync/FabricSyncCommand.h
  examples/fabric-admin/commands/interactive/InteractiveCommands.cpp
  examples/fabric-admin/commands/pairing/OpenCommissioningWindowCommand.cpp
  examples/fabric-admin/commands/pairing/OpenCommissioningWindowCommand.h
  examples/fabric-admin/commands/pairing/PairingCommand.cpp
  examples/fabric-admin/commands/pairing/PairingCommand.h
  examples/fabric-admin/main.cpp
  examples/fabric-admin/rpc/RpcClient.cpp
  examples/fabric-admin/rpc/RpcClient.h
Labels: examples, review - approved

#33943 Removing NL Unit Infrastructure
  .github/workflows/examples-mbed.yaml
  BUILD.gn
  build/chip/chip_test_suite.gni
  build/chip/fuzz_test.gni
  build_overrides/nlunit_test.gni
  examples/build_overrides/nlunit_test.gni
  scripts/gen_test_driver.py
  src/app/icd/server/tests/BUILD.gn
  src/app/tests/BUILD.gn
  src/app/tests/TestBindingTable.cpp
  src/app/tests/TestInteractionModelEngine.cpp
  src/app/tests/TestPendingResponseTrackerImpl.cpp
  src/app/util/mock/BUILD.gn
  src/app/util/mock/attribute-storage.cpp
  src/inet/tests/BUILD.gn
  src/lib/dnssd/BUILD.gn
  src/lib/support/BUILD.gn
  src/lib/support/UnitTestContext.h
  src/lib/support/UnitTestExtendedAssertions.h
  src/lib/support/UnitTestRegistration.cpp
  src/lib/support/UnitTestRegistration.h
  src/lib/support/tests/BUILD.gn
  src/setup_payload/tests/BUILD.gn
  src/test_driver/efr32/BUILD.gn
  src/test_driver/efr32/src/main.cpp
  src/test_driver/esp32/cmake/esp32_unit_tests.cmake
  src/test_driver/esp32/main/CMakeLists.txt
  src/test_driver/esp32/main/main_app.cpp
  src/test_driver/mbed/unit_tests/main/main.cpp
  src/test_driver/nrfconnect/main/runner.cpp
  src/test_driver/openiotsdk/unit-tests/main/include/NlTestLogger.h
  src/tracing/tests/BUILD.gn
  src/tracing/tests/TestMetricEvents.cpp
  src/tracing/tests/TestTracing.cpp
  src/transport/raw/tests/BUILD.gn
Labels: examples, scripts, transport, setup payload, lib, inet, app, github, workflows, gn, review - approved, tests, support, test driver, icd

#33954 [Python] Store original PyChipError in ChipStackException
  src/controller/python/ChipDeviceController-ScriptBinding.cpp
  src/controller/python/chip/ChipDeviceCtrl.py
  src/controller/python/chip/ChipStack.py
  src/controller/python/chip/clusters/Attribute.py
  src/controller/python/chip/clusters/Command.py
  src/controller/python/chip/credentials/cert.py
  src/controller/python/chip/discovery/__init__.py
  src/controller/python/chip/exceptions/__init__.py
  src/controller/python/chip/interaction_model/delegate.py
  src/controller/python/chip/native/__init__.py
  src/controller/python/chip/setup_payload/setup_payload.py
Labels: controller, review - approved

#33956 [Bridge Example] Fix dangling pointer when AddDeviceEndpoint failed
  examples/bridge-app/linux/main.cpp
  examples/fabric-bridge-app/linux/DeviceManager.cpp
Labels: examples, review - approved

#33984 Remove redundant attributes from LogV implementation
  src/platform/ESP32/Logging.cpp
  src/platform/Linux/Logging.cpp
  src/platform/NuttX/Logging.cpp
  src/platform/Tizen/Logging.cpp
  src/platform/Zephyr/Logging.cpp
  src/platform/logging/impl/android/Logging.cpp
  src/platform/logging/impl/stdio/Logging.cpp
  src/platform/logging/impl/stdio/darwin/Logging.cpp
  src/platform/mbed/Logging.cpp
  src/platform/nxp/k32w/k32w0/Logging.cpp
  src/platform/nxp/k32w/k32w1/Logging.cpp
  src/platform/openiotsdk/Logging.cpp
  src/platform/qpg/Logging.cpp
  src/platform/webos/Logging.cpp
Labels: platform, esp32, linux, zephyr, review - approved, tizen

#33964 Use BoringSSL for python controller build
  scripts/build_python.sh
Labels: scripts, review - pending, fast track

#33986 Add reviewers-grundfos as an official review member
  .pullapprove.yml
Labels: review - pending

#33888 Automated implementation of initially 1 python test to use Metadata script as an intermediate argument holder
  .github/workflows/tests.yaml
  scripts/tests/py/metadata.py
  scripts/tests/py/test_metadata.py
  scripts/tests/run_python_test.py
  src/python_testing/TC_SC_3_6.py
Labels: scripts, github, workflows, review - pending, fast track, tests

#33256 Post certification checks script
  credentials/fetch_paa_certs_from_dcl.py
  src/controller/python/chip/ChipDeviceCtrl.py
  src/python_testing/TC_DA_1_2.py
  src/python_testing/basic_composition_support.py
  src/python_testing/matter_testing_support.py
  src/python_testing/post_certification_tests/production_device_checks.py
Labels: controller, review - pending, fast track, tests

#33813 Add battery support to AQ sensor and update default values for concen…
  examples/chef/common/chef-concentration-measurement.cpp
  examples/chef/devices/rootnode_airqualitysensor_e63187f6c9.matter
  examples/chef/devices/rootnode_airqualitysensor_e63187f6c9.zap
Labels: examples, review - pending, fast track

#33963 Fix GRPKEY cluster in PICSGenerator
  src/tools/PICS-generator/PICSGenerator.py
Labels: tools, review - approved

#33967 Improve documentation of ScheduleLambda
  src/system/SystemLayer.h
Labels: system, review - approved

#33983 Apply ColorTempPhysicalMaxMireds when ColorTemperatureMaximumMireds f…
  src/app/clusters/color-control-server/color-control-server.cpp
  src/app/tests/suites/certification/Test_TC_CC_6_2.yaml
  src/app/tests/suites/certification/Test_TC_CC_6_3.yaml
Labels: app, review - approved, tests

#33905 [Python] Make Commissioning APIs more pythonic and consistent
  src/controller/python/chip/ChipDeviceCtrl.py
  src/controller/python/chip/yaml/runner.py
  src/controller/python/test/test_scripts/base.py
  src/python_testing/TC_ACE_1_5.py
  src/python_testing/TC_CGEN_2_4.py
  src/python_testing/TC_DA_1_5.py
  src/python_testing/TC_TIMESYNC_2_13.py
  src/python_testing/TestCommissioningTimeSync.py
  src/python_testing/matter_testing_support.py
  src/test_driver/openiotsdk/integration-tests/common/utils.py
Labels: controller, review - approved, tests, test driver

#33835 Add dimmable plugin unit device type to chef sample apps
  examples/chef/devices/rootnode_dimmablepluginunit_f8a9a0b9d4.matter
  examples/chef/devices/rootnode_dimmablepluginunit_f8a9a0b9d4.zap
Labels: examples, review - pending, fast track

#33976 Pass largepayload flag into CommandSender in IM test app.
  src/app/tests/suites/commands/interaction_model/InteractionModel.h
Labels: app, review - approved, tests

#33934 [Metrics] Added additional metrics for CASE and Subscription
  src/app/ReadClient.cpp
  src/darwin/Framework/CHIP/MTRDevice.mm
  src/darwin/Framework/CHIP/MTRMetricKeys.h
  src/messaging/ReliableMessageMgr.cpp
  src/protocols/secure_channel/CASESession.cpp
  src/tracing/metric_keys.h
Labels: darwin, app, review - approved, messaging, protocols

#34002 [Silabs]Update silabs Docker image for new SDKs release
  integrations/docker/images/base/chip-build/version
  integrations/docker/images/stage-2/chip-build-efr32/Dockerfile
  integrations/docker/images/vscode/chip-build-vscode/Dockerfile
Labels: integrations, review - approved, docker

#33920 [Linux] Trim down auto-generated BlueZ D-Bus API stub
  src/platform/Linux/dbus/bluez/DbusBluez.xml
Labels: platform, linux, review - approved

#34011 [Python] Fix DeviceProxyWrapper __del__
  src/controller/python/chip/ChipDeviceCtrl.py
Labels: controller

#34006 Fix typo in MTRDevice comment.
  src/darwin/Framework/CHIP/MTRDevice.h
Labels: darwin, review - approved

#34001 [Python] Reset chip error in test commissioner
  src/controller/python/OpCredsBinding.cpp
  src/python_testing/TC_CGEN_2_4.py
Labels: controller, review - approved, tests

#33975 [Android] Support ICD LIT Device using commissionDevice
  examples/java-matter-controller/java/src/com/matter/controller/commands/pairing/PairCodeCommand.kt
  examples/java-matter-controller/java/src/com/matter/controller/commands/pairing/PairCodeThreadCommand.kt
  examples/java-matter-controller/java/src/com/matter/controller/commands/pairing/PairCodeWifiCommand.kt
  src/controller/java/BUILD.gn
  src/controller/java/CHIPDeviceController-JNI.cpp
  src/controller/java/src/chip/devicecontroller/ChipDeviceController.java
  src/controller/java/src/chip/devicecontroller/CommissionParameters.java
Labels: examples, controller, review - pending, fast track
