Repository project-chip/connectedhomeip, pull requests merged in 2024-04, with the labels that each got.

#32781 [ESP32] Fix sntp initialization
  examples/platform/esp32/time/TimeSync.cpp
Labels: examples, platform, review - approved

#32798 [ESP32] Fix the typo in log message
  src/platform/ESP32/nimble/BLEManagerImpl.cpp
Labels: review - approved

#32784 ESP32: Add lit-icd-app example for ESP32-H2 and ESP32-C6
  docs/guides/esp32/build_app_and_commission.md
  examples/lit-icd-app/esp32/.gitignore
  examples/lit-icd-app/esp32/CMakeLists.txt
  examples/lit-icd-app/esp32/README.md
  examples/lit-icd-app/esp32/main/CMakeLists.txt
  examples/lit-icd-app/esp32/main/DeviceCallbacks.cpp
  examples/lit-icd-app/esp32/main/Kconfig.projbuild
  examples/lit-icd-app/esp32/main/include/DeviceCallbacks.h
  examples/lit-icd-app/esp32/main/main.cpp
  examples/lit-icd-app/esp32/partitions.csv
  examples/lit-icd-app/esp32/sdkconfig.defaults
  examples/lit-icd-app/esp32/sdkconfig.defaults.esp32c6
  examples/lit-icd-app/esp32/third_party/connectedhomeip
  examples/platform/esp32/common/Esp32AppServer.cpp
  src/platform/ESP32/CHIPPlatformConfig.h
  src/transport/SessionManager.cpp
Labels: documentation, examples, transport, platform, esp32, review - approved

#32711 [nrfconnect][zephyr] Improvements and Fixes for WiFi according to NCS 2.6.0
  config/zephyr/chip-module/Kconfig.defaults
  src/inet/UDPEndPointImplSockets.cpp
  src/inet/UDPEndPointImplSockets.h
  src/platform/Zephyr/ConfigurationManagerImpl.cpp
  src/platform/Zephyr/InetUtils.cpp
  src/platform/Zephyr/InetUtils.h
  src/platform/Zephyr/ThreadStackManagerImpl.cpp
  src/platform/Zephyr/wifi/WiFiManager.cpp
  src/platform/nrfconnect/BUILD.gn
  src/platform/nrfconnect/ConnectivityManagerImpl.cpp
  src/platform/nrfconnect/wifi/NrfWiFiDriver.cpp
  src/platform/nrfconnect/wifi/NrfWiFiDriver.h
  src/platform/nrfconnect/wifi/WiFiManager.cpp
  src/platform/nrfconnect/wifi/WiFiManager.h
  src/platform/telink/ThreadStackManagerImpl.cpp
Labels: platform, nrf connect, zephyr, inet, config, review - approved, telink

#32802 ReadClient should delay re-subscribe attempts based on delay in BUSY responses.
  src/app/BUILD.gn
  src/app/OperationalSessionSetup.cpp
  src/app/OperationalSessionSetup.h
  src/app/ReadClient.cpp
  src/app/ReadClient.h
  src/app/common_flags.gni
Labels: app, review - approved

#32805 BeaconRxCount attributes results is NULL instead of 0 in linux platform
  src/platform/Linux/DiagnosticDataProviderImpl.cpp
  src/platform/Linux/DiagnosticDataProviderImpl.h
Labels: platform, linux, review - approved

#32797 Specific platform build guide
  docs/guides/BUILDING.md
Labels: documentation, review - approved

#32762 Add a keybinding to darwin-framework-tool to call exit(0).
  examples/darwin-framework-tool/commands/interactive/InteractiveCommands.mm
Labels: examples, darwin, review - pending, fast track

#32396 [shell] Clean OTA commands & remove base64 commands
  docs/guides/silabs_cli_guide.md
  src/lib/shell/Commands.h
  src/lib/shell/Engine.cpp
  src/lib/shell/commands/BUILD.gn
  src/lib/shell/commands/Base64.cpp
  src/lib/shell/commands/Ota.cpp
Labels: documentation, lib, review - approved, shell

#32458 [Silabs][SiWx917] Getting the button pressed and button release in sync in sleep wakeup for btn0
  src/platform/silabs/platformAbstraction/WiseMcuSpam.cpp
Labels: examples, platform, review - pending, fast track, silabs

#32803 [Silabs] removed a redundant include from AppTask.cpp
  examples/window-app/silabs/src/AppTask.cpp
Labels: examples, review - approved

#32812 [NXP] Fix pw RPC build for k32w1 lighting app
  config/nxp/lib/pw_rpc/BUILD.gn
  examples/platform/nxp/Rpc.cpp
  examples/platform/nxp/pw_sys_io/BUILD.gn
Labels: examples, platform, config, review - approved

#32662 [NXP] Update K32W build examples support
  .github/workflows/examples-nxp.yaml
  scripts/build/BUILD.gn
  scripts/build/build/targets.py
  scripts/build/builders/k32w.py
  scripts/build/builders/nxp.py
  scripts/build/testdata/all_targets_linux_x64.txt
Labels: scripts, github, workflows, review - pending, fast track

#32774 Revert "Remove TV app from full builds and smoke tests as they have been included in CI as a build example per issue Issue 30906"
  .github/workflows/examples-tv-app.yaml
  .github/workflows/full-android.yaml
  .github/workflows/smoketest-android.yaml
Labels: github, workflows, review - approved

#32818 Fix cloudbuilds of efr32.
  integrations/cloudbuild/smoke-test.yaml
Labels: integrations, review - pending

#32819 Make chef cloudbuild checkout submodules before building
  integrations/cloudbuild/chef.yaml
Labels: integrations, review - pending

#32806 Fix for arm64 build failure with bluetooth enabled in linux platform
  src/platform/Linux/bluez/BluezEndpoint.cpp
Labels: platform, linux, review - approved

#32821 Don't stringify PeerAddress in SendPreparedMessage if not logging it.
  src/transport/SessionManager.cpp
Labels: transport, review - approved

#32761 DM XMLs: Add function to dump cluster IDs for documentation
  .github/.wordlist.txt
  .restyled.yaml
  data_model/clusters/cluster_ids.json
  docs/index.md
  docs/spec_clusters.md
  docs/zap_clusters.md
  scripts/py_matter_idl/matter_idl/generators/markdown/__init__.py
  scripts/py_matter_idl/matter_idl/generators/markdown/clusters_markdown.jinja
  scripts/spec_xml/generate_spec_xml.py
Labels: documentation, scripts, github, review - approved

#32777 [TI] Sysconfig updates for v1.18.1
  .github/workflows/examples-cc13x2x7_26x2x7.yaml
  .github/workflows/examples-cc32xx.yaml
  examples/all-clusters-app/cc13x4_26x4/README.md
  examples/all-clusters-app/cc13x4_26x4/chip.syscfg
  examples/lighting-app/cc13x4_26x4/README.md
  examples/lighting-app/cc13x4_26x4/chip.syscfg
  examples/lock-app/cc13x4_26x4/README.md
  examples/lock-app/cc13x4_26x4/chip.syscfg
  examples/pump-app/cc13x4_26x4/README.md
  examples/pump-app/cc13x4_26x4/chip.syscfg
  examples/pump-controller-app/cc13x4_26x4/README.md
  examples/pump-controller-app/cc13x4_26x4/chip.syscfg
  examples/shell/cc13x4_26x4/README.md
  examples/shell/cc13x4_26x4/chip.syscfg
Labels: examples, github, workflows, review - approved

#32820 Log the node ID of the peer when we log that CASE timed out.
  src/protocols/secure_channel/CASESession.cpp
Labels: review - pending, fast track, protocols

#32824 Make default AddressResolve implementation the default
  src/darwin/Framework/Matter.xcodeproj/project.pbxproj
  src/lib/address_resolve/AddressResolve.h
  src/lib/address_resolve/BUILD.gn
Labels: darwin, lib, review - approved

#32813 Set `cache flush` bit for commissionable node advertisement in MinMdns
  src/lib/dnssd/Advertiser_ImplMinimalMdns.cpp
Labels: lib, review - approved

#32682 [Ameba] Add platform changes
  .github/workflows/examples-ameba.yaml
  examples/all-clusters-app/ameba/README.md
  examples/light-switch-app/ameba/README.md
  examples/lighting-app/ameba/README.md
  examples/ota-requestor-app/ameba/README.md
  examples/pigweed-app/ameba/README.md
  src/platform/Ameba/ConnectivityManagerImpl.cpp
  src/platform/Ameba/NetworkCommissioningWiFiDriver.cpp
  src/platform/Ameba/SystemTimeSupport.cpp
Labels: examples, platform, github, workflows, review - approved

#32699 [NXP][k32w1] Remove the need for extra DAC private key conversion binary
  docs/guides/nxp_manufacturing_flow.md
  scripts/tools/nxp/factory_data_generator/k32w1/example_convert_dac_private_key.jlink
  src/platform/nxp/k32w/k32w1/BUILD.gn
  src/platform/nxp/k32w/k32w1/FactoryDataProviderImpl.cpp
  src/platform/nxp/k32w/k32w1/FactoryDataProviderImpl.h
  src/platform/nxp/k32w/k32w1/args.gni
Labels: documentation, scripts, platform, review - pending, fast track

#32815 Make builder unit tests pass in vscode image.
  scripts/build/test.py
  scripts/build/testdata/dry_run_efr32-brd4161a-light-rpc-no-version.txt
Labels: scripts, review - approved

#32467 Refactor CommandHandler to be more unittestable
  .github/workflows/lint.yml
  src/app/BUILD.gn
  src/app/CommandHandler.cpp
  src/app/CommandHandler.h
  src/app/CommandHandlerExchangeInterface.h
  src/app/CommandResponseSender.cpp
  src/app/CommandResponseSender.h
  src/app/InteractionModelEngine.cpp
  src/app/InteractionModelEngine.h
  src/app/tests/TestCommandInteraction.cpp
Labels: app, github, workflows, review - approved, tests

#32828 Darwin: Move warning settings into the Xcode project
  .github/workflows/darwin-tests.yaml
  .github/workflows/darwin.yaml
  src/darwin/Framework/CHIPTests/MTRAvailabilityTests.m
  src/darwin/Framework/Matter.xcodeproj/project.pbxproj
Labels: darwin, github, workflows, review - approved

#32810 [Linux] Fix sending reply to D-Bus release/confirm calls
  src/platform/Linux/bluez/BluezAdvertisement.cpp
  src/platform/Linux/bluez/BluezEndpoint.cpp
  src/platform/Linux/bluez/BluezEndpoint.h
  src/platform/Linux/dbus/bluez/DbusBluez.xml
Labels: platform, linux, review - approved

#32801 Android - implement ChipDnssdStopBrowse
  examples/tv-casting-app/android/App/app/src/main/java/com/matter/casting/DiscoveryExampleFragment.java
  examples/tv-casting-app/android/App/app/src/main/jni/cpp/core/CastingPlayerDiscovery-JNI.cpp
  examples/tv-casting-app/android/App/app/src/main/res/layout/fragment_matter_discovery_example.xml
  examples/tv-casting-app/android/App/app/src/main/res/values/strings.xml
  src/platform/android/DnssdImpl.cpp
  src/platform/android/DnssdImpl.h
  src/platform/android/java/chip/platform/NsdManagerServiceBrowser.java
Labels: examples, platform, lib, review - approved

#32829 [dnssd] Allow selecting DNS-SD implementation at runtime
  config/nrfconnect/chip-module/CMakeLists.txt
  src/lib/dnssd/Advertiser.cpp
  src/lib/dnssd/Advertiser.h
  src/lib/dnssd/Advertiser_ImplMinimalMdns.cpp
  src/lib/dnssd/Advertiser_ImplNone.cpp
  src/lib/dnssd/BUILD.gn
  src/lib/dnssd/Discovery_ImplPlatform.cpp
  src/lib/dnssd/Resolver.cpp
  src/lib/dnssd/Resolver.h
  src/lib/dnssd/Resolver_ImplMinimalMdns.cpp
  src/lib/dnssd/Resolver_ImplNone.cpp
  src/platform/device.gni
  src/platform/nrfconnect/BUILD.gn
Labels: platform, nrf connect, lib, config, review - approved

#29682 Replaced nlunit-test with pw_unit_test in src/access/tests/
  build/chip/chip_test_suite.gni
  src/access/tests/BUILD.gn
  src/access/tests/TestAccessControl.cpp
  src/test_driver/openiotsdk/unit-tests/test_components.txt
  src/test_driver/openiotsdk/unit-tests/test_components_nl.txt
Labels: examples, scripts, transport, system, setup payload, platform, lib, inet, crypto, controller, ble, app, config, gn, review - approved, shell, tests, support, core, test driver, messaging, protocols

#32670 Add GN arg to enable logging of node Id in exchange context
  src/lib/core/BUILD.gn
  src/lib/core/CHIPConfig.h
  src/lib/core/core.gni
Labels: lib, review - approved, core

#32855 Android: Fix memory leak in DnssdImpl.cpp ChipDnssdStopBrowse()
  src/platform/android/DnssdImpl.cpp
Labels: platform, review - approved

#32799 [NXP] Update smu2 manager api
  examples/lighting-app/nxp/k32w/k32w1/main/AppTask.cpp
  src/platform/nxp/k32w/k32w1/SMU2Manager.cpp
  src/platform/nxp/k32w/k32w1/SMU2Manager.h
Labels: examples, platform, review - approved

#32846 Add DeviceController deleteFromFabricTableOnShutdown option
  src/controller/CHIPDeviceController.cpp
  src/controller/CHIPDeviceController.h
  src/controller/CHIPDeviceControllerFactory.cpp
  src/controller/CHIPDeviceControllerFactory.h
  src/darwin/Framework/CHIP/MTRDeviceController.mm
  src/darwin/Framework/CHIP/MTRDeviceControllerFactory.mm
  src/darwin/Framework/CHIP/MTRSessionResumptionStorageBridge.mm
Labels: darwin, controller, review - approved

#32863 [Darwin] The data value comparison function in MTRDevice incorrectly complains about nil comparison
  src/darwin/Framework/CHIP/MTRDevice.mm
Labels: darwin, review - pending

#32832 Log the number of work items when adding/removing to MTRAsyncWorkQueue.
  src/darwin/Framework/CHIP/MTRAsyncWorkQueue.mm
Labels: darwin, review - pending, fast track

#32872 Fix Darwin dns-sd handling of results on interface index 0.
  src/platform/Darwin/DnssdContexts.cpp
  src/platform/Darwin/DnssdImpl.cpp
Labels: platform, darwin, review - approved

#32785 [NXP][platform][common] Fix for WiFi scenario: connect -> disconnect-> connect
  src/platform/nxp/common/ConnectivityManagerImpl.cpp
Labels: platform, review - approved

#32874 [Silabs] Migration to CMSIS OS2 api continuation.
  examples/platform/silabs/BaseApplication.cpp
  examples/platform/silabs/MatterConfig.cpp
  examples/platform/silabs/SiWx917/uart.cpp
  examples/platform/silabs/efr32/uart.cpp
  examples/platform/silabs/matter_shell.cpp
  examples/platform/silabs/matter_shell.h
  examples/thermostat/silabs/include/AppEvent.h
  examples/thermostat/silabs/include/TemperatureManager.h
  examples/thermostat/silabs/src/TemperatureManager.cpp
  src/lib/shell/MainLoopSilabs.cpp
Labels: examples, platform, lib, review - approved, shell

#32891 Replaced nlunit-test with pw_unit_test in src/ble/tests/
  src/ble/tests/BUILD.gn
  src/ble/tests/TestBleErrorStr.cpp
  src/ble/tests/TestBleUUID.cpp
Labels: ble, review - approved

#32892 [scripts] Fixed nrfconnect factory generation scripts
  config/nrfconnect/chip-module/generate_factory_data.cmake
  docs/guides/nrfconnect_factory_data_configuration.md
  scripts/tools/nrfconnect/generate_nrfconnect_chip_factory_data.py
Labels: documentation, scripts, config, review - approved

#32894 [Telink] Use common CMake parts & flash overlay selection
  config/telink/chip-module/CMakeLists.txt
  config/telink/chip-module/Kconfig.defaults
  examples/air-quality-sensor-app/telink/CMakeLists.txt
  examples/air-quality-sensor-app/telink/prj.conf
  examples/all-clusters-app/telink/CMakeLists.txt
  examples/all-clusters-app/telink/prj.conf
  examples/all-clusters-minimal-app/telink/CMakeLists.txt
  examples/all-clusters-minimal-app/telink/prj.conf
  examples/bridge-app/telink/CMakeLists.txt
  examples/bridge-app/telink/prj.conf
  examples/chef/telink/CMakeLists.txt
  examples/chef/telink/prj.conf
  examples/contact-sensor-app/telink/CMakeLists.txt
  examples/contact-sensor-app/telink/prj.conf
  examples/light-switch-app/telink/CMakeLists.txt
  examples/light-switch-app/telink/prj.conf
  examples/lighting-app/telink/CMakeLists.txt
  examples/lighting-app/telink/prj.conf
  examples/lock-app/telink/CMakeLists.txt
  examples/lock-app/telink/prj.conf
  examples/ota-requestor-app/telink/CMakeLists.txt
  examples/ota-requestor-app/telink/prj.conf
  examples/platform/telink/Rpc.cmake
  examples/platform/telink/common.cmake
  examples/platform/telink/common/include/AppTaskCommon.h
  examples/platform/telink/common/src/AppTaskCommon.cpp
  examples/platform/telink/common/src/mainCommon.cpp
  examples/platform/telink/util/include/ThreadUtil.h
  examples/platform/telink/util/src/ThreadUtil.cpp
  examples/pump-app/telink/CMakeLists.txt
  examples/pump-app/telink/prj.conf
  examples/pump-controller-app/telink/CMakeLists.txt
  examples/pump-controller-app/telink/prj.conf
  examples/shell/telink/CMakeLists.txt
  examples/shell/telink/prj.conf
  examples/smoke-co-alarm-app/telink/CMakeLists.txt
  examples/smoke-co-alarm-app/telink/prj.conf
  examples/temperature-measurement-app/telink/CMakeLists.txt
  examples/temperature-measurement-app/telink/prj.conf
  examples/thermostat/telink/CMakeLists.txt
  examples/thermostat/telink/prj.conf
  examples/window-app/telink/CMakeLists.txt
  examples/window-app/telink/prj.conf
  src/platform/telink/CHIPDevicePlatformConfig.h
  src/platform/telink/tlsr9258a_2m_flash.overlay
  src/platform/telink/tlsr9518adk80d_1m_flash.overlay
  src/platform/telink/tlsr9518adk80d_2m_flash.overlay
  src/platform/telink/tlsr9518adk80d_4m_flash.overlay
  src/platform/telink/tlsr9528a_2m_flash.overlay
Labels: examples, platform, config, review - pending, telink, fast track

#32873 Improve DNS-SD resolution logging.
  src/lib/address_resolve/AddressResolve_DefaultImpl.cpp
  src/lib/dnssd/Types.h
  src/lib/support/logging/TextOnlyLogging.h
Labels: lib, review - approved, support

#32871 Fix "notValue: null" constraints to actually work right.
  .github/workflows/tests.yaml
  scripts/py_matter_yamltests/matter_yamltests/constraints.py
  scripts/tests/chiptest/__init__.py
  src/app/tests/suites/TestPurposefulFailureNotNullConstraint.yaml
Labels: scripts, app, github, workflows, review - approved, tests

#32830 Fix Accessors getters for nullable string/octstr attributes.
  src/app/zap-templates/templates/app/attributes/Accessors-src.zapt
  zzz_generated/app-common/app-common/zap-generated/attributes/Accessors.cpp
Labels: app, review - approved

#32862 [Darwin] MTRAttributePath NSSecureCoding fix
  src/darwin/Framework/CHIP/MTRBaseDevice.mm
  src/darwin/Framework/CHIPTests/MTRDeviceTests.m
Labels: darwin, review - pending, fast track

#32896 [Telink] Update Docker image (Zephyr update)
  integrations/docker/images/base/chip-build/version
  integrations/docker/images/stage-2/chip-build-telink/Dockerfile
Labels: integrations, review - pending, fast track, docker

#32843 tv-casting-app fixes: saving prevValue before callback
  examples/tv-casting-app/APIs.md
  examples/tv-casting-app/linux/main.cpp
  examples/tv-casting-app/linux/simple-app.cpp
  examples/tv-casting-app/tv-casting-common/core/Attribute.h
  examples/tv-casting-app/tv-casting-common/include/CHIPProjectAppConfig.h
Labels: examples, review - approved

#32903 Avoid zombie DeviceControllerSystemState
  src/controller/CHIPDeviceControllerFactory.cpp
  src/controller/CHIPDeviceControllerFactory.h
  src/controller/CHIPDeviceControllerSystemState.h
Labels: controller, review - approved

#32822 CIPD gen script is callable regard where activate is called from
  scripts/setup/bootstrap.sh
Labels: scripts, review - approved

#32834 Issue/30754 dependabot ci runs for both push and pull
  .github/workflows/chef.yaml
  .github/workflows/cirque.yaml
  .github/workflows/darwin.yaml
  .github/workflows/examples-ameba.yaml
  .github/workflows/examples-asr.yaml
  .github/workflows/examples-efr32.yaml
  .github/workflows/examples-esp32.yaml
  .github/workflows/examples-linux-imx.yaml
  .github/workflows/examples-linux-standalone.yaml
  .github/workflows/examples-mw320.yaml
  .github/workflows/examples-nrfconnect.yaml
  .github/workflows/examples-qpg.yaml
  .github/workflows/examples-stm32.yaml
  .github/workflows/examples-tizen.yaml
  .github/workflows/gradle-wrapper-validation.yml
  .github/workflows/spell.yml
  .github/workflows/tests.yaml
  .github/workflows/zap_templates.yaml
Labels: github, workflows, review - approved

#32833 30754 cicd dependabot ci runs for both push and pull effectively double the processing
  .github/workflows/build.yaml
  .github/workflows/examples-bouffalolab.yaml
  .github/workflows/examples-cc32xx.yaml
  .github/workflows/examples-infineon.yaml
  .github/workflows/examples-linux-arm.yaml
  .github/workflows/examples-mbed.yaml
  .github/workflows/examples-openiotsdk.yaml
  .github/workflows/examples-telink.yaml
  .github/workflows/full-android.yaml
  .github/workflows/java-tests.yaml
  .github/workflows/lint.yml
  .github/workflows/minimal-build.yaml
  .github/workflows/qemu.yaml
  .github/workflows/unit_integration_test.yaml
Labels: github, workflows, review - approved

#32884 Temp fix for #32875 (network commissioning cluster check for SSID on Thread feature)
  src/app/clusters/network-commissioning/network-commissioning.cpp
Labels: app, review - approved

#32909 Replace enum with enum class
  src/platform/Linux/ConnectivityManagerImpl.cpp
  src/platform/Linux/ConnectivityManagerImpl.h
  src/platform/Linux/bluez/ChipDeviceScanner.cpp
  src/platform/Linux/bluez/ChipDeviceScanner.h
Labels: platform, linux, review - approved

#32910 Remove CHIPoBLE testing dead code
  src/ble/BLEEndPoint.cpp
  src/ble/BLEEndPoint.h
  src/ble/BUILD.gn
  src/ble/BleConfig.h
  src/ble/BleLayer.cpp
  src/ble/BleLayer.h
  src/ble/BtpEngine.cpp
  src/ble/BtpEngine.h
  src/ble/tests/TestBleErrorStr.cpp
Labels: ble, review - approved

#32906 [Android] virtual-device-app: Enable WindowCovering cluster
  examples/virtual-device-app/virtual-device-common/virtual-device-app.matter
  examples/virtual-device-app/virtual-device-common/virtual-device-app.zap
Labels: examples, review - approved

#32912 Move `EventLoggingDelegate.h` into `app:events` gn target
  src/app/BUILD.gn
  src/app/EventLoggingDelegate.h
Labels: app, review - approved

#32915 Stop pre-composing log strings in MTRASyncWorkQueue.
  src/darwin/Framework/CHIP/MTRAsyncWorkQueue.mm
Labels: darwin, review - pending, fast track

#32845 Darwin: Refactor stack startup logic when creating a controller
  src/darwin/Framework/CHIP/MTRDeviceController.mm
  src/darwin/Framework/CHIP/MTRDeviceControllerFactory.mm
  src/darwin/Framework/Matter.xcodeproj/project.pbxproj
Labels: darwin, review - pending, fast track

#32898 [ICD] Add TestEventTrigger support to the ICDManager
  .github/workflows/lint.yml
  .github/workflows/tests.yaml
  examples/lighting-app/nxp/k32w/k32w0/BUILD.gn
  src/app/BUILD.gn
  src/app/icd/server/BUILD.gn
  src/app/icd/server/ICDManager.cpp
  src/app/icd/server/ICDManager.h
  src/app/icd/server/ICDNotifier.h
  src/app/server/BUILD.gn
  src/app/server/Server.cpp
  src/app/tests/TestCommissionManager.cpp
  src/app/tests/TestICDManager.cpp
  src/platform/nxp/k32w/k32w0/BUILD.gn
  src/platform/nxp/k32w/k32w1/BUILD.gn
  src/python_testing/TC_ICDManagementCluster.py
Labels: examples, platform, app, github, workflows, review - approved, tests, icd

#32866 Refactored mDNS Browse Interface
  examples/chip-tool/commands/common/DeviceScanner.cpp
  examples/chip-tool/commands/common/DeviceScanner.h
  examples/chip-tool/commands/common/RemoteDataModelLogger.cpp
  examples/chip-tool/commands/pairing/PairingCommand.cpp
  examples/platform/linux/ControllerShellCommands.cpp
  examples/tv-casting-app/android/App/app/src/main/jni/cpp/ConversionUtils.cpp
  examples/tv-casting-app/darwin/MatterTvCastingBridge/MatterTvCastingBridge/ConversionUtils.mm
  examples/tv-casting-app/tv-casting-common/core/CastingPlayerDiscovery.cpp
  examples/tv-casting-app/tv-casting-common/src/CastingServer.cpp
  examples/tv-casting-app/tv-casting-common/src/ConversionUtils.cpp
  examples/tv-casting-app/tv-casting-common/src/TargetVideoPlayerInfo.cpp
  src/controller/AbstractDnssdDiscoveryController.h
  src/controller/CHIPCommissionableNodeController.cpp
  src/controller/CHIPDeviceController.cpp
  src/controller/SetUpCodePairer.cpp
  src/controller/java/CHIPDeviceController-JNI.cpp
  src/controller/python/ChipCommissionableNodeController-ScriptBinding.cpp
  src/controller/python/ChipDeviceController-Discovery.cpp
  src/controller/python/ChipDeviceController-ScriptPairingDeviceDiscoveryDelegate.cpp
  src/controller/tests/TestCommissionableNodeController.cpp
  src/darwin/Framework/CHIP/MTRCommissionableBrowser.mm
  src/lib/dnssd/ActiveResolveAttempts.h
  src/lib/dnssd/Discovery_ImplPlatform.cpp
  src/lib/dnssd/Discovery_ImplPlatform.h
  src/lib/dnssd/IncrementalResolve.cpp
  src/lib/dnssd/IncrementalResolve.h
  src/lib/dnssd/Resolver.h
  src/lib/dnssd/ResolverProxy.cpp
  src/lib/dnssd/ResolverProxy.h
  src/lib/dnssd/Resolver_ImplMinimalMdns.cpp
  src/lib/dnssd/Resolver_ImplNone.cpp
  src/lib/dnssd/TxtFields.cpp
  src/lib/dnssd/TxtFields.h
  src/lib/dnssd/Types.h
  src/lib/dnssd/platform/Dnssd.h
  src/lib/dnssd/tests/TestActiveResolveAttempts.cpp
  src/lib/dnssd/tests/TestIncrementalResolve.cpp
  src/lib/dnssd/tests/TestTxtFields.cpp
  src/lib/shell/commands/Dns.cpp
  src/platform/Darwin/DnssdContexts.cpp
  src/platform/Darwin/DnssdImpl.cpp
  src/platform/Darwin/DnssdImpl.h
  src/protocols/user_directed_commissioning/UserDirectedCommissioningServer.cpp
  src/protocols/user_directed_commissioning/tests/TestUdcMessages.cpp
Labels: tools, examples, platform, darwin, lib, controller, review - approved, shell, protocols

#32897 BTP engine unit test
  src/ble/tests/BUILD.gn
  src/ble/tests/TestBtpEngine.cpp
Labels: ble, review - approved

#32899 [Telink] Improve B95 (TLSR9258A) & Update builds to docker version 47
  .github/workflows/bloat_check.yaml
  .github/workflows/build.yaml
  .github/workflows/chef.yaml
  .github/workflows/cirque.yaml
  .github/workflows/doxygen.yaml
  .github/workflows/examples-ameba.yaml
  .github/workflows/examples-asr.yaml
  .github/workflows/examples-bouffalolab.yaml
  .github/workflows/examples-cc13xx_26xx.yaml
  .github/workflows/examples-cc32xx.yaml
  .github/workflows/examples-efr32.yaml
  .github/workflows/examples-esp32.yaml
  .github/workflows/examples-infineon.yaml
  .github/workflows/examples-linux-arm.yaml
  .github/workflows/examples-linux-imx.yaml
  .github/workflows/examples-linux-standalone.yaml
  .github/workflows/examples-mbed.yaml
  .github/workflows/examples-mw320.yaml
  .github/workflows/examples-nrfconnect.yaml
  .github/workflows/examples-nxp.yaml
  .github/workflows/examples-openiotsdk.yaml
  .github/workflows/examples-qpg.yaml
  .github/workflows/examples-rw61x.yaml
  .github/workflows/examples-stm32.yaml
  .github/workflows/examples-telink.yaml
  .github/workflows/examples-tizen.yaml
  .github/workflows/full-android.yaml
  .github/workflows/fuzzing-build.yaml
  .github/workflows/java-tests.yaml
  .github/workflows/lint.yml
  .github/workflows/minimal-build.yaml
  .github/workflows/qemu.yaml
  .github/workflows/release_artifacts.yaml
  .github/workflows/smoketest-android.yaml
  .github/workflows/tests.yaml
  .github/workflows/unit_integration_test.yaml
  .github/workflows/zap_regeneration.yaml
  .github/workflows/zap_templates.yaml
  examples/all-clusters-app/ameba/README.md
  examples/all-clusters-minimal-app/ameba/README.md
  examples/light-switch-app/ameba/README.md
  examples/lighting-app/ameba/README.md
  examples/ota-requestor-app/ameba/README.md
  examples/pigweed-app/ameba/README.md
  integrations/cloudbuild/chef.yaml
  integrations/cloudbuild/smoke-test.yaml
  src/platform/telink/tlsr9258a.overlay
  src/test_driver/tizen/README.md
Labels: examples, integrations, platform, github, workflows, review - approved, telink, test driver

#32468 TC-RR-1.1: Allow proper commissioning from TH
  src/python_testing/TC_RR_1_1.py
  src/python_testing/matter_testing_support.py
Labels: review - pending, fast track, tests

#32920 Take CASE BUSY delay into account when scheduling retries in Matter.framework
  src/darwin/Framework/CHIP/MTRBaseDevice.mm
  src/darwin/Framework/CHIP/MTRCallbackBridgeBase.h
  src/darwin/Framework/CHIP/MTRDevice.mm
  src/darwin/Framework/CHIP/MTRDeviceConnectionBridge.h
  src/darwin/Framework/CHIP/MTRDeviceConnectionBridge.mm
  src/darwin/Framework/CHIP/MTRDeviceController.mm
Labels: darwin, review - pending, fast track

#31162 Optimize out no-op writes in attribute-table.
  .github/workflows/tests.yaml
  scripts/tests/chiptest/__init__.py
  src/app/tests/suites/TestPurposefulFailureExtraReportingOnToggle.yaml
  src/app/util/af-types.h
  src/app/util/attribute-table-detail.h
  src/app/util/attribute-table.cpp
  src/app/util/attribute-table.h
  src/app/zap-templates/templates/app/attributes/Accessors-src.zapt
  src/app/zap-templates/templates/app/attributes/Accessors.zapt
  src/controller/python/test/test_scripts/base.py
  zzz_generated/app-common/app-common/zap-generated/attributes/Accessors.cpp
  zzz_generated/app-common/app-common/zap-generated/attributes/Accessors.h
Labels: examples, scripts, controller, app, github, workflows, review - approved, tests

#32928 Fix up mock ember implementation (use after free and missing function)
  src/app/util/mock/MockNodeConfig.cpp
  src/app/util/mock/MockNodeConfig.h
  src/app/util/mock/attribute-storage.cpp
Labels: app, review - approved

#32934 Only implement fault injection with NLFAULTINJECTION on
  src/inet/tests/TestInetCommonOptions.cpp
Labels: inet, review - approved

#32923 Darwin: Leave the work queue running
  src/darwin/Framework/CHIP/MTRDeviceControllerFactory.mm
Labels: darwin, review - pending, fast track

#32747 Add checks for localization-configuration cluster and time-format-localization cluster init callback
  src/app/clusters/localization-configuration-server/localization-configuration-server.cpp
  src/app/clusters/time-format-localization-server/time-format-localization-server.cpp
Labels: app, review - approved

#32931 [Silabs] Level Control revision 5
  examples/lighting-app/silabs/data_model/lighting-thread-app.matter
  examples/lighting-app/silabs/data_model/lighting-thread-app.zap
Labels: examples, review - approved

#32927 [Silabs] Refactor Silabs Test Event Trigger impl to be compliant with its requirements
  examples/light-switch-app/silabs/openthread.gni
  examples/lit-icd-app/silabs/build_for_wifi_args.gni
  examples/lit-icd-app/silabs/openthread.gni
  examples/lock-app/silabs/build_for_wifi_args.gni
  examples/lock-app/silabs/openthread.gni
  examples/platform/silabs/MatterConfig.cpp
  examples/platform/silabs/SiWx917/BUILD.gn
  examples/platform/silabs/SilabsDeviceDataProvider.cpp
  examples/platform/silabs/SilabsDeviceDataProvider.h
  examples/platform/silabs/SilabsTestEventTriggerDelegate.cpp
  examples/platform/silabs/SilabsTestEventTriggerDelegate.h
  examples/platform/silabs/efr32/BUILD.gn
  examples/smoke-co-alarm-app/silabs/README.md
  examples/smoke-co-alarm-app/silabs/build_for_wifi_args.gni
  examples/smoke-co-alarm-app/silabs/openthread.gni
  examples/window-app/silabs/openthread.gni
  src/platform/silabs/SilabsConfig.h
Labels: examples, platform, review - approved, silabs

#32936 Improve MTRDevice work item logging.
  src/darwin/Framework/CHIP/MTRDevice.mm
Labels: darwin, review - pending, fast track

#32942 Remove examples/android/CHIPTest from detekt
  .github/workflows/kotlin-style.yaml
Labels: hotfix, github, workflows

#32932 More fixes to src/app/util/mock.
  src/app/util/mock/Functions.h
  src/app/util/mock/MockNodeConfig.cpp
  src/app/util/mock/MockNodeConfig.h
  src/app/util/mock/attribute-storage.cpp
Labels: app, review - approved

#32940 [cherry-pick][ESP32] Fix streamer_esp32.cpp for current esp-idf main branch
  src/lib/shell/streamer_esp32.cpp
Labels: lib, shell

#32938 Darwin: Fix STRIP_STYLE, should be non-global
  src/darwin/Framework/Matter.xcodeproj/project.pbxproj
Labels: review - approved

#32712 [Android] virtual-device-app: Add door lock menu
  examples/virtual-device-app/android/App/app/build.gradle.kts
  examples/virtual-device-app/android/App/app/src/main/res/navigation/nav_graph.xml
  examples/virtual-device-app/android/App/core/common/src/main/java/com/matter/virtual/device/app/core/common/DeepLink.kt
  examples/virtual-device-app/android/App/core/common/src/main/java/com/matter/virtual/device/app/core/common/Device.kt
  examples/virtual-device-app/android/App/core/common/src/main/res/drawable/round_lock_24.xml
  examples/virtual-device-app/android/App/feature/main/src/main/java/com/matter/virtual/device/app/feature/main/MainFragment.kt
  examples/virtual-device-app/android/App/feature/main/src/main/java/com/matter/virtual/device/app/feature/main/MenuAdapter.kt
  examples/virtual-device-app/android/App/feature/main/src/main/java/com/matter/virtual/device/app/feature/main/model/Menu.kt
  examples/virtual-device-app/android/App/feature/main/src/main/res/layout/item_menu.xml
Labels: examples, review - approved

#32883 Do not report attribute in _getAttributesToReportWithReportedValues i…
  src/darwin/Framework/CHIP/MTRDevice.mm
Labels: darwin, review - pending, fast track

#32659 YAML Updates 3-20-24
  src/app/tests/suites/certification/Test_TC_ACE_1_6.yaml
  src/app/tests/suites/certification/Test_TC_CNET_4_10.yaml
  src/app/tests/suites/certification/Test_TC_CNET_4_11.yaml
  src/app/tests/suites/certification/Test_TC_CNET_4_15.yaml
  src/app/tests/suites/certification/Test_TC_CNET_4_16.yaml
  src/app/tests/suites/certification/Test_TC_CNET_4_22.yaml
  src/app/tests/suites/certification/Test_TC_CNET_4_4.yaml
  src/app/tests/suites/certification/Test_TC_CNET_4_5.yaml
  src/app/tests/suites/certification/Test_TC_CNET_4_6.yaml
  src/app/tests/suites/certification/Test_TC_CNET_4_9.yaml
  src/app/tests/suites/certification/Test_TC_TSUIC_1_1.yaml
Labels: app, review - pending, fast track, sve, tests

#32944 Fix typos in boostrap.sh comments, stop using path as a variable name
  scripts/setup/bootstrap.sh
Labels: scripts, review - approved

#32881 TC-TMP-2.1: Fix
  src/app/tests/suites/certification/Test_TC_TMP_2_1.yaml
  src/python_testing/TC_TMP_2_1.py
  src/python_testing/matter_testing_support.py
  src/python_testing/test_testing/MockTestRunner.py
  src/python_testing/test_testing/test_TC_TMP_2_1.py
Labels: app, review - pending, fast track, tests

#32625 YAML Updates 3/18/24
  src/app/tests/suites/certification/Test_TC_ALOGIN_12_1.yaml
  src/app/tests/suites/certification/Test_TC_CONTENTLAUNCHER_10_4.yaml
  src/app/tests/suites/certification/Test_TC_DEMM_1_1.yaml
  src/app/tests/suites/certification/Test_TC_DESC_2_1.yaml
  src/app/tests/suites/certification/Test_TC_EEVSEM_1_1.yaml
  src/app/tests/suites/certification/Test_TC_G_3_2.yaml
  src/app/tests/suites/certification/Test_TC_ICDM_3_1.yaml
  src/app/tests/suites/certification/Test_TC_LWM_2_1.yaml
  src/app/tests/suites/certification/Test_TC_SU_2_3.yaml
  src/app/tests/suites/certification/Test_TC_SU_2_5.yaml
  src/app/tests/suites/certification/Test_TC_SU_3_3.yaml
  src/app/tests/suites/certification/Test_TC_SU_4_2.yaml
  src/app/tests/suites/certification/Test_TC_S_2_3.yaml
  src/app/tests/suites/certification/Test_TC_S_2_4.yaml
  src/app/tests/suites/certification/Test_TC_S_2_5.yaml
  src/app/tests/suites/certification/Test_TC_S_2_6.yaml
  src/app/tests/suites/certification/Test_TC_S_3_1.yaml
Labels: scripts, app, review - approved, sve, tests

#32948 Cancel the SRP timer if we have resolved on the SRP domain but the kD…
  src/platform/Darwin/DnssdContexts.cpp
  src/platform/Darwin/DnssdImpl.cpp
  src/platform/Darwin/DnssdImpl.h
Labels: platform, darwin, review - pending, fast track

#32916 Enable power source cluster to NRF board contact sensor chef-devices
  examples/chef/devices/rootnode_contactsensor_27f76aeaf5.matter
  examples/chef/devices/rootnode_contactsensor_27f76aeaf5.zap
  examples/chef/devices/rootnode_contactsensor_lFAGG1bfRO.matter
  examples/chef/devices/rootnode_contactsensor_lFAGG1bfRO.zap
Labels: examples, review - approved

#32945 Fix bootstrap if repository path contains symlinks.
  scripts/setup/bootstrap.sh
Labels: scripts, github, workflows, review - approved

#32956 Remove the MTR_PER_CONTROLLER_STORAGE_ENABLED define.
  .github/workflows/darwin.yaml
  src/darwin/Framework/CHIP/MTRDefines.h
  src/darwin/Framework/CHIP/MTRDeviceController.h
  src/darwin/Framework/CHIP/MTRDeviceController.mm
  src/darwin/Framework/CHIP/MTRDeviceControllerDataStore.h
  src/darwin/Framework/CHIP/MTRDeviceControllerFactory.mm
  src/darwin/Framework/CHIP/MTRDeviceControllerFactory_Internal.h
  src/darwin/Framework/CHIP/MTRDeviceControllerLocalTestStorage.h
  src/darwin/Framework/CHIP/MTRDeviceControllerLocalTestStorage.mm
  src/darwin/Framework/CHIP/MTRDeviceControllerParameters.h
  src/darwin/Framework/CHIP/MTRDeviceControllerParameters_Wrapper.h
  src/darwin/Framework/CHIP/MTRDeviceControllerStartupParams.mm
  src/darwin/Framework/CHIP/MTRDeviceControllerStartupParams_Internal.h
  src/darwin/Framework/CHIP/MTRDeviceControllerStorageDelegate.h
  src/darwin/Framework/CHIP/MTRDeviceControllerStorageDelegate_Wrapper.h
  src/darwin/Framework/CHIP/MTRDeviceController_Internal.h
  src/darwin/Framework/CHIP/ServerEndpoint/MTRServerAttribute.mm
  src/darwin/Framework/CHIP/ServerEndpoint/MTRServerCluster.mm
  src/darwin/Framework/CHIP/ServerEndpoint/MTRServerEndpoint.mm
  src/darwin/Framework/CHIPTests/MTRControllerAdvertisingTests.m
  src/darwin/Framework/CHIPTests/MTRDeviceTests.m
  src/darwin/Framework/CHIPTests/MTRPerControllerStorageTests.m
  src/darwin/Framework/CHIPTests/TestHelpers/MTRTestPerControllerStorage.h
  src/darwin/Framework/CHIPTests/TestHelpers/MTRTestPerControllerStorage.m
Labels: darwin, github, workflows, review - pending, fast track

#32959 ESP32: Enable CONFIG_BUILD_FOR_HOST_UNIT_TEST when building CHIP test binaries
  examples/all-clusters-app/esp32/main/Kconfig.projbuild
  examples/all-clusters-app/esp32/main/include/CHIPProjectConfig.h
  examples/all-clusters-minimal-app/esp32/main/Kconfig.projbuild
  examples/all-clusters-minimal-app/esp32/main/include/CHIPProjectConfig.h
  src/platform/ESP32/CHIPPlatformConfig.h
  src/test_driver/esp32/main/include/CHIPProjectConfig.h
Labels: examples, platform, esp32, review - approved, test driver

#32917 [Silabs] Moved nvm RebootCount and TotalOperationalHours keys to config
  examples/platform/silabs/SilabsDeviceAttestationCreds.cpp
  src/platform/silabs/DiagnosticDataProviderImpl.cpp
  src/platform/silabs/MigrationManager.cpp
  src/platform/silabs/MigrationManager.h
  src/platform/silabs/PlatformManagerImpl.h
  src/platform/silabs/SiWx917/PlatformManagerImpl.cpp
  src/platform/silabs/SilabsConfig.h
  src/platform/silabs/efr32/PlatformManagerImpl.cpp
Labels: examples, platform, review - approved, silabs

#32965 cherry-pick: Fix google-api-core (#32687)
  scripts/setup/constraints.txt
Labels: scripts, fast track

#32951 IWYU chip-tool, add RemoteDataModelLogger.h
  examples/chip-tool/commands/pairing/GetCommissionerNodeIdCommand.h
  examples/chip-tool/commands/pairing/GetCommissionerRootCertificateCommand.h
  examples/chip-tool/commands/pairing/IssueNOCChainCommand.h
Labels: tools, examples, review - approved

#32967 [ESP32] bump the component manager version (#32474)
  scripts/setup/constraints.txt
Labels: scripts, fast track

#32911 Fix python evaluation of arithmetic statements with no spaces
  scripts/py_matter_yamltests/matter_yamltests/parser.py
  scripts/py_matter_yamltests/test_yaml_parser.py
Labels: scripts, app, review - approved, tests

#32922 30754 followup
  .github/workflows/darwin-tests.yaml
  .github/workflows/examples-cc13xx_26xx.yaml
  .github/workflows/examples-linux-tv-casting-app.yaml
  .github/workflows/examples-nxp.yaml
  .github/workflows/examples-rw61x.yaml
Labels: github, workflows, review - approved

#32933 IWYU CredentialIssuerCommands.h
  examples/chip-tool/commands/common/CredentialIssuerCommands.h
Labels: tools, examples, review - approved

#32374 Updated OnOff Test script according most recent test plan.
  examples/all-clusters-app/all-clusters-common/all-clusters-app.matter
  examples/all-clusters-app/all-clusters-common/all-clusters-app.zap
  src/app/tests/suites/certification/PICS.yaml
  src/app/tests/suites/certification/Test_TC_OO_1_1.yaml
  src/app/tests/suites/certification/Test_TC_OO_2_1.yaml
  src/app/tests/suites/certification/Test_TC_OO_2_2.yaml
  src/app/tests/suites/certification/ci-pics-values
Labels: examples, app, review - approved, sve, tests, sve cherry pick

#32969 [Silabs] Remove global function from the SilabsTestEventTriggerDelegate
  examples/lit-icd-app/silabs/build_for_wifi_args.gni
  examples/lit-icd-app/silabs/openthread.gni
  examples/platform/silabs/SiWx917/BUILD.gn
  examples/platform/silabs/SilabsDeviceDataProvider.cpp
  examples/platform/silabs/SilabsTestEventTriggerDelegate.h
  examples/platform/silabs/efr32/BUILD.gn
  examples/smoke-co-alarm-app/silabs/include/SmokeCoAlarmManager.h
  examples/smoke-co-alarm-app/silabs/src/AppTask.cpp
  examples/smoke-co-alarm-app/silabs/src/SmokeCoAlarmManager.cpp
Labels: examples, platform, review - approved

#32974 Fix crash if commissioning is canceled while waiting on an attestation delegate.
  src/controller/CHIPDeviceController.cpp
  src/controller/CHIPDeviceController.h
  src/darwin/Framework/CHIPTests/MTRPairingTests.m
Labels: hotfix, review - pending

#32971 Spec parsing: Use new ID table (#32410)
  src/python_testing/TestSpecParsingSupport.py
  src/python_testing/spec_parsing_support.py
Labels: fast track, tests

#32858 [Darwin] MTRDeviceControllerStorageDelegate should support bulk store/fetch
  src/darwin/Framework/CHIP/MTRDevice.mm
  src/darwin/Framework/CHIP/MTRDeviceController.mm
  src/darwin/Framework/CHIP/MTRDeviceControllerDataStore.h
  src/darwin/Framework/CHIP/MTRDeviceControllerDataStore.mm
  src/darwin/Framework/CHIP/MTRDeviceControllerLocalTestStorage.mm
  src/darwin/Framework/CHIP/MTRDeviceControllerStorageDelegate.h
  src/darwin/Framework/CHIP/MTRDevice_Internal.h
  src/darwin/Framework/CHIPTests/MTRPerControllerStorageTests.m
  src/darwin/Framework/CHIPTests/TestHelpers/MTRTestDeclarations.h
  src/darwin/Framework/CHIPTests/TestHelpers/MTRTestPerControllerStorage.h
  src/darwin/Framework/CHIPTests/TestHelpers/MTRTestPerControllerStorage.m
Labels: darwin, review - pending, fast track

#32976 Splitting example and core workflows
  .github/workflows/darwin.yaml
  .github/workflows/example-tv-casting-darwin.yaml
Labels: github, workflows, review - pending

#32975 TC-IDM-4.2: Disable in CI for flake (#32378)
  .github/workflows/tests.yaml
Labels: github, workflows

#32978 Decouple android CHIP IM APIs from CHIPController to separate CHIPInteractionModel lib
  examples/tv-casting-app/android/BUILD.gn
  scripts/build/builders/android.py
  scripts/build/testdata/dry_run_android-arm64-chip-tool.txt
  scripts/py_matter_idl/matter_idl/generators/java/ChipClusters_java.jinja
  scripts/py_matter_idl/matter_idl/tests/outputs/several_clusters/java/ChipClusters.java
  src/controller/java/AndroidInteractionClient.cpp
  src/controller/java/AndroidInteractionClient.h
  src/controller/java/BUILD.gn
  src/controller/java/CHIPDeviceController-JNI.cpp
  src/controller/java/CHIPInteractionClient-JNI.cpp
  src/controller/java/CHIPInteractionClient-JNI.h
  src/controller/java/generated/java/chip/devicecontroller/ChipClusters.java
  src/controller/java/src/chip/devicecontroller/ChipDeviceController.java
  src/controller/java/src/chip/devicecontroller/ChipInteractionClient.java
Labels: examples, scripts, controller, android, review - approved

#32831 Docs: Add documentation from SDK testing session at the Singapore member meeting
  .github/.wordlist.txt
  docs/testing/img/integration_tests.png
  docs/testing/img/plant_uml_source.txt
  docs/testing/img/unit_testable_clusters.png
  docs/testing/img/unit_testable_clusters_all_classes.png
  docs/testing/img/unit_testable_clusters_context.png
  docs/testing/img/unit_testable_clusters_driver.png
  docs/testing/img/unit_testable_clusters_logic.png
  docs/testing/img/unit_testable_clusters_server.png
  docs/testing/img/unit_tests.png
  docs/testing/index.md
  docs/testing/integration_test_utilities.md
  docs/testing/unit_testing.md
  docs/testing/unit_testing_clusters.md
Labels: documentation, github, review - pending, fast track

#32982 print the port data in DNS shell commands.
  src/lib/shell/commands/Dns.cpp
Labels: lib, review - approved, shell

#32618 Python spec parsing: Derived cluster grammar changed.
  src/python_testing/TestSpecParsingSupport.py
  src/python_testing/spec_parsing_support.py
Labels: review - pending, fast track, sve, request sve, tests, sve cherry pick

#32619 TC-IDM-10.4: Catch feature mask errors and log
  src/python_testing/TC_pics_checker.py
Labels: review - pending, fast track, sve, request sve, tests, sve cherry pick

#32946 YAML Updates 3-20-24
  src/app/tests/suites/certification/Test_TC_ACE_1_6.yaml
  src/app/tests/suites/certification/Test_TC_CNET_4_10.yaml
  src/app/tests/suites/certification/Test_TC_CNET_4_11.yaml
  src/app/tests/suites/certification/Test_TC_CNET_4_15.yaml
  src/app/tests/suites/certification/Test_TC_CNET_4_16.yaml
  src/app/tests/suites/certification/Test_TC_CNET_4_22.yaml
  src/app/tests/suites/certification/Test_TC_CNET_4_4.yaml
  src/app/tests/suites/certification/Test_TC_CNET_4_5.yaml
  src/app/tests/suites/certification/Test_TC_CNET_4_6.yaml
  src/app/tests/suites/certification/Test_TC_CNET_4_9.yaml
  src/app/tests/suites/certification/Test_TC_TSUIC_1_1.yaml
Labels: app, review - pending, fast track, sve, tests, sve cherry pick

#32987 [Silabs] Add adv change event to the silabs platforms
  src/platform/silabs/efr32/BLEManagerImpl.cpp
  src/platform/silabs/rs911x/BLEManagerImpl.cpp
Labels: platform, review - approved, silabs

#32983 [Android] Add Stay Active Button in Chiptool
  examples/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/ChipClient.kt
  examples/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/clusterclient/AddressUpdateFragment.kt
  examples/android/CHIPTool/app/src/main/res/layout/address_update_fragment.xml
  examples/android/CHIPTool/app/src/main/res/values/strings.xml
  kotlin-detect-config.yaml
Labels: examples, review - approved

#32958 Fix 32957 : Matter TV: commissioner passcode flow does not accept CommissionerPasscodeReady flag
  examples/platform/linux/CommissionerMain.cpp
  examples/tv-casting-app/linux/CastingShellCommands.cpp
  examples/tv-casting-app/tv-casting-common/include/CastingServer.h
  examples/tv-casting-app/tv-casting-common/src/CastingServer.cpp
  src/controller/CommissionerDiscoveryController.cpp
  src/controller/CommissionerDiscoveryController.h
  src/protocols/user_directed_commissioning/UDCClientState.h
  src/protocols/user_directed_commissioning/UserDirectedCommissioning.h
  src/protocols/user_directed_commissioning/UserDirectedCommissioningServer.cpp
  src/protocols/user_directed_commissioning/tests/TestUdcMessages.cpp
Labels: examples, platform, controller, app, review - approved, protocols

#32752 Added scripts to get metadata (runner arguments) associated with the python_testing scripts for automating the process
  BUILD.gn
  scripts/tests/py/BUILD.gn
  scripts/tests/py/__init__.py
  scripts/tests/py/env_test.yaml
  scripts/tests/py/metadata.py
  scripts/tests/py/pyproject.toml
  scripts/tests/py/setup.cfg
  scripts/tests/py/setup.py
  scripts/tests/py/test_metadata.py
Labels: scripts, gn, review - pending, fast track, tests

#32861 [FAN] Fan add constraint checks
  src/python_testing/TC_FAN_3_3.py
  src/python_testing/TC_FAN_3_4.py
Labels: review - pending, fast track, tests

#32970 Use RAII for group session iteration
  src/transport/SessionManager.cpp
Labels: transport, review - approved

#32857 Add initial framework to build TI Matter applications against prebuilt OT Libs
  docs/guides/ti/ti_openthread_library_usage.md
  docs/guides/ti/ti_platform_overview.md
  examples/all-clusters-app/cc13x4_26x4/BUILD.gn
  examples/all-clusters-app/cc13x4_26x4/args.gni
  examples/all-clusters-app/cc13x4_26x4/main/include/OpenThreadConfig.h
  examples/lighting-app/cc13x4_26x4/BUILD.gn
  examples/lighting-app/cc13x4_26x4/args.gni
  examples/lock-app/cc13x4_26x4/BUILD.gn
  examples/lock-app/cc13x4_26x4/args.gni
  examples/platform/cc13x4_26x4/project_include/OpenThreadConfig.h
  examples/pump-app/cc13x4_26x4/BUILD.gn
  examples/pump-app/cc13x4_26x4/args.gni
  examples/pump-app/cc13x4_26x4/main/include/OpenThreadConfig.h
  examples/pump-controller-app/cc13x4_26x4/BUILD.gn
  examples/pump-controller-app/cc13x4_26x4/args.gni
  examples/pump-controller-app/cc13x4_26x4/main/include/OpenThreadConfig.h
  examples/shell/cc13x4_26x4/BUILD.gn
  examples/shell/cc13x4_26x4/args.gni
  examples/shell/cc13x4_26x4/include/OpenThreadConfig.h
  src/platform/cc13xx_26xx/cc13x4_26x4/BUILD.gn
  src/platform/cc13xx_26xx/cc13x4_26x4/args.gni
  src/platform/cc13xx_26xx/cc13x4_26x4/crypto/sha256_alt.c
  src/platform/cc13xx_26xx/cc13x4_26x4/openthread-core-cc13x4_26x4-config-check.h
  src/platform/cc13xx_26xx/cc13x4_26x4/openthread-core-cc13x4_26x4-config.h
  third_party/openthread/platforms/cc13x4_26x4/BUILD.gn
  third_party/openthread/platforms/ti/BUILD.gn
  third_party/ti_simplelink_sdk/ti_simplelink_sdk.gni
Labels: documentation, examples, platform, app, review - approved

#32733 [silabs] Add silabs specific CLI
  examples/platform/silabs/matter_shell.cpp
  src/platform/silabs/platformAbstraction/GsdkSpam.cpp
Labels: examples, platform, review - approved, silabs

#32992 [ICD] Add contact sensor device type to LIT ICD app
  examples/lit-icd-app/lit-icd-common/lit-icd-server-app.matter
  examples/lit-icd-app/lit-icd-common/lit-icd-server-app.zap
Labels: review - approved

#32994 Implement write coalescing in MTRDevice.
  src/darwin/Framework/CHIP/MTRDevice.mm
  src/darwin/Framework/CHIPTests/MTRDeviceTests.m
  src/darwin/Framework/CHIPTests/TestHelpers/MTRDeviceTestDelegate.h
  src/darwin/Framework/CHIPTests/TestHelpers/MTRDeviceTestDelegate.m
Labels: review - pending, fast track

#32921 TC-RR-1.1: Fix for pre-existing fabric removal
  src/python_testing/TC_RR_1_1.py
Labels: review - pending, fast track, tests

#32960 Darwin: MTRDeviceControllerFactory cleanup
  src/darwin/Framework/CHIP/MTRDeviceController.mm
  src/darwin/Framework/CHIP/MTRDeviceControllerFactory.mm
  src/darwin/Framework/CHIP/MTRDeviceControllerFactory_Internal.h
Labels: darwin, review - pending, fast track

#32990 Stop doing read-throughs on MTRDevice when subscription is being established.
  src/darwin/Framework/CHIP/MTRDevice.mm
Labels: darwin, review - approved, fast track

#32999 Enable chunking on writes via MTRBaseDevice's writeAttributeWithEndpointID:.
  src/darwin/Framework/CHIP/MTRBaseDevice.mm
  src/darwin/Framework/CHIPTests/MTROTAProviderTests.m
Labels: darwin, review - pending, fast track

#33000 Fix OTA Requestor implementation of write to DefaultOTAProviders.
  src/app/clusters/ota-requestor/ota-requestor-server.cpp
Labels: app, review - approved

#32962 [nrfconnect] Implemented WiFiNetworkDiagnostics events generation
  src/platform/nrfconnect/wifi/WiFiManager.cpp
  src/platform/nrfconnect/wifi/WiFiManager.h
Labels: platform, nrf connect, review - approved

#33003 Do not use CONFIG_NETWORK_LAYER_BLE for runtime checks
  examples/air-purifier-app/ameba/main/CHIPDeviceManager.cpp
  examples/all-clusters-app/ameba/main/CHIPDeviceManager.cpp
  examples/all-clusters-minimal-app/ameba/main/CHIPDeviceManager.cpp
  examples/chef/ameba/main/CHIPDeviceManager.cpp
  examples/light-switch-app/ameba/main/CHIPDeviceManager.cpp
  examples/lighting-app/ameba/main/CHIPDeviceManager.cpp
  examples/ota-requestor-app/ameba/main/CHIPDeviceManager.cpp
  examples/platform/asr/init_Matter.cpp
  examples/platform/beken/common/CHIPDeviceManager.cpp
Labels: examples, platform, review - approved

#32980 Update rpc_config.gni
  examples/common/pigweed/rpc_config.gni
Labels: examples, review - approved

#32993 Fix LevelControl Move when no motion requested (#32539)
  src/app/clusters/level-control/level-control.cpp
  src/app/tests/suites/certification/Test_TC_LVL_4_1.yaml
Labels: app, tests

#33004 [zephyr] Fix CHIPDevicePlatformEvent.h include dependency
  src/platform/Zephyr/CHIPDevicePlatformEvent.h
Labels: platform, zephyr, review - approved

#33006 Remove unused variable from scenes-server
  src/app/clusters/scenes-server/SceneTableImpl.h
Labels: app, review - approved

#33012 Clarify some documentation for Matter.framework.
  src/darwin/Framework/CHIP/MTRDeviceControllerFactory.h
Labels: darwin, review - approved

#33008 Update test_metadata.py to use temporary files for test cases, for easier extensibility
  scripts/tests/py/test_metadata.py
Labels: scripts, review - pending, fast track

#33010 Added error checking in Android DnssdImpl.cpp and fixed examples/tv-casting-app bug
  examples/tv-casting-app/android/App/app/src/main/java/com/matter/casting/DiscoveryExampleFragment.java
  examples/tv-casting-app/android/App/app/src/main/jni/cpp/core/CastingPlayerDiscovery-JNI.cpp
  src/platform/android/DnssdImpl.cpp
Labels: examples, platform, review - approved

#33007 Add missing [[maybe_unused]] annotations in unit tests
  examples/platform/silabs/SoftwareFaultReports.cpp
  src/crypto/tests/TestChipCryptoPAL.cpp
  third_party/silabs/SiWx917_sdk.gni
  third_party/silabs/efr32_sdk.gni
Labels: examples, platform, crypto, review - approved

#32950 Move add new device howto to docs
  .github/.wordlist.txt
  docs/cluster_and_device_type_dev/cluster_and_device_type_dev.md
  docs/cluster_and_device_type_dev/how_to_add_new_dts_and_clusters.md
  docs/cluster_and_device_type_dev/index.md
Labels: documentation, github, review - pending, fast track

#33014 Remove expected value check from the _getAttributesToReportWithReport…
  src/darwin/Framework/CHIP/MTRDevice.mm
Labels: darwin, review - pending, fast track

#33015 Fix up chip-cert-bins Dockerfile to make it actually build (and slightly faster)
  integrations/docker/images/chip-cert-bins/Dockerfile
Labels: integrations, docker

#33017 [Silabs] Fix forgotten type change pdTrue(FreeRTOS) to osOk (CMSISOS)
  examples/platform/silabs/efr32/uart.cpp
Labels: examples, platform, review - approved

#33018 [Silabs] Enable test event trigger on ICD apps
  examples/light-switch-app/silabs/openthread.gni
  examples/lock-app/silabs/build_for_wifi_args.gni
  examples/lock-app/silabs/openthread.gni
  scripts/examples/gn_silabs_example.sh
Labels: examples, scripts, review - approved

#33005 [zephyr] Added Bluetooth LE Extended Advertisement option
  config/zephyr/Kconfig
  src/app/server/CommissioningWindowManager.cpp
  src/app/server/CommissioningWindowManager.h
  src/app/tests/TestCommissionManager.cpp
  src/include/platform/ConnectivityManager.h
  src/platform/Zephyr/BLEManagerImpl.cpp
  src/platform/Zephyr/BLEManagerImpl.h
  src/platform/Zephyr/CHIPDevicePlatformConfig.h
  src/platform/nrfconnect/CHIPDevicePlatformConfig.h
Labels: review - approved

#32717 TC-DA-1.2: cover PAI incorrect PID encoding
  .github/workflows/tests.yaml
  src/python_testing/TC_DA_1_2.py
  src/python_testing/test_testing/test_TC_DA_1_2.py
Labels: github, workflows, review - approved, tests

#33022 Fix typo in device-graph README.md
  src/tools/device-graph/README.md
Labels: tools, review - pending, fast track

#32890 Ble-WiFi commissioning test in CI - dockerfile
  integrations/docker/images/base/chip-build/version
  integrations/docker/images/stage-2/chip-build-linux-qemu/Dockerfile
  integrations/docker/images/stage-2/chip-build-linux-qemu/build.sh
  integrations/docker/images/stage-2/chip-build-linux-qemu/files/bluetooth/main.conf
  integrations/docker/images/stage-2/chip-build-linux-qemu/files/linux/0001-Bluetooth-MGMT-Synchronize-scan-start-and-LE-Meta-ev.patch
  integrations/docker/images/stage-2/chip-build-linux-qemu/files/wifi/dnsmasq.conf
  integrations/docker/images/stage-2/chip-build-linux-qemu/files/wifi/hostapd.conf
  integrations/docker/images/stage-2/chip-build-linux-qemu/files/wifi/wpa_supplicant.conf
  integrations/docker/images/stage-2/chip-build-linux-qemu/run-img.sh
  integrations/docker/images/stage-2/chip-build-linux-qemu/run.sh
  integrations/docker/images/stage-2/chip-build-linux-qemu/version
Labels: integrations, review - pending, docker

#32389 [ESP32] Enable extended ble announcement for esp32 platform
  config/esp32/components/chip/Kconfig
  src/platform/ESP32/BLEManagerImpl.h
  src/platform/ESP32/CHIPDevicePlatformConfig.h
  src/platform/ESP32/nimble/BLEManagerImpl.cpp
Labels: platform, esp32, config, review - approved

#32369 [Python] Create pairingDelegate for each DeviceController
  src/controller/python/ChipDeviceController-ScriptBinding.cpp
  src/controller/python/OpCredsBinding.cpp
  src/controller/python/chip/ChipDeviceCtrl.py
Labels: controller, review - approved

#33009 Stop assuming all unknown attributes have the C quality in MTRDevice.
  src/darwin/Framework/CHIP/MTRCluster.h
  src/darwin/Framework/CHIP/MTRCluster.mm
  src/darwin/Framework/CHIP/MTRDevice.mm
  src/darwin/Framework/CHIPTests/MTRDeviceTests.m
  src/darwin/Framework/CHIPTests/MTRPerControllerStorageTests.m
  src/darwin/Framework/CHIPTests/MTRSwiftDeviceTests.swift
  src/darwin/Framework/CHIPTests/TestHelpers/MTRDeviceTestDelegate.h
  src/darwin/Framework/CHIPTests/TestHelpers/MTRDeviceTestDelegate.m
Labels: darwin, review - pending, fast track

#33019 android/tv-casting-app: Implemented commands and attributes using CHIPInteractionClient.jar
  examples/tv-casting-app/APIs.md
  examples/tv-casting-app/android/App/app/src/main/java/com/chip/casting/app/MainActivity.java
  examples/tv-casting-app/android/App/app/src/main/java/com/chip/casting/util/GlobalCastingConstants.java
  examples/tv-casting-app/android/App/app/src/main/java/com/matter/casting/ActionSelectorFragment.java
  examples/tv-casting-app/android/App/app/src/main/java/com/matter/casting/ApplicationBasicReadVendorIDExampleFragment.java
  examples/tv-casting-app/android/App/app/src/main/java/com/matter/casting/ContentLauncherLaunchURLExampleFragment.java
  examples/tv-casting-app/android/App/app/src/main/java/com/matter/casting/EndpointSelectorExample.java
  examples/tv-casting-app/android/App/app/src/main/java/com/matter/casting/MediaPlaybackSubscribeToCurrentStateExampleFragment.java
  examples/tv-casting-app/android/App/app/src/main/jni/com/matter/casting/core/Endpoint.java
  examples/tv-casting-app/android/App/app/src/main/jni/com/matter/casting/core/MatterEndpoint.java
  examples/tv-casting-app/android/App/app/src/main/jni/cpp/core/MatterEndpoint-JNI.cpp
  examples/tv-casting-app/android/App/app/src/main/jni/cpp/core/MatterEndpoint-JNI.h
  examples/tv-casting-app/android/App/app/src/main/jni/cpp/support/Converters-JNI.cpp
  examples/tv-casting-app/android/App/app/src/main/jni/cpp/support/Converters-JNI.h
  examples/tv-casting-app/android/App/app/src/main/jni/cpp/support/MatterCallback-JNI.h
  examples/tv-casting-app/android/App/app/src/main/res/layout/fragment_matter_action_selector.xml
  examples/tv-casting-app/android/App/app/src/main/res/layout/fragment_matter_application_basic_read_vendor_id.xml
  examples/tv-casting-app/android/App/app/src/main/res/layout/fragment_matter_content_launcher_launch_url.xml
  examples/tv-casting-app/android/App/app/src/main/res/layout/fragment_matter_media_playback_subscribe_current_state.xml
  examples/tv-casting-app/android/App/app/src/main/res/values/strings.xml
  examples/tv-casting-app/android/README.md
Labels: examples, review - approved, tv-casting

#32997 Darwin: MTRDeviceControllerFactory improvements
  src/darwin/Framework/CHIP/MTRBaseDevice.mm
  src/darwin/Framework/CHIP/MTRDeviceController.mm
  src/darwin/Framework/CHIP/MTRDeviceControllerFactory.mm
  src/darwin/Framework/CHIP/MTRManualSetupPayloadParser.mm
  src/darwin/Framework/CHIP/MTROperationalCredentialsDelegate.mm
  src/darwin/Framework/CHIP/MTRQRCodeSetupPayloadParser.mm
  src/darwin/Framework/CHIPTests/MTRControllerTests.m
Labels: darwin, review - pending, fast track

#32964 [clusters] Implemented ThreadDiagnosticDelegate
  src/app/clusters/thread-network-diagnostics-server/thread-network-diagnostics-server.cpp
  src/include/platform/DiagnosticDataProvider.h
  src/platform/OpenThread/GenericThreadStackManagerImpl_OpenThread.h
  src/platform/OpenThread/GenericThreadStackManagerImpl_OpenThread.hpp
Labels: platform, app, review - approved
