Repository project-chip/connectedhomeip, pull requests merged in 2024-02, with the labels that each got.

#31784 [Darwin] Initial framework to track and collect metrics for operations
  examples/darwin-framework-tool/commands/pairing/DeviceControllerDelegateBridge.h
  examples/darwin-framework-tool/commands/pairing/DeviceControllerDelegateBridge.mm
  src/darwin/Framework/CHIP/MTRDeviceControllerDelegate.h
  src/darwin/Framework/CHIP/MTRDeviceControllerDelegateBridge.mm
  src/darwin/Framework/CHIP/MTRMetrics.h
  src/darwin/Framework/CHIP/MTRMetrics.mm
  src/darwin/Framework/CHIP/MTRMetrics_Internal.h
  src/darwin/Framework/CHIP/Matter.h
  src/darwin/Framework/CHIPTests/MTRMetricsTests.m
  src/darwin/Framework/Matter.xcodeproj/project.pbxproj
Labels: examples, darwin, review - approved, fast track

#31787 Add UnitTesting cluster to a chef example
  examples/chef/devices/rootnode_contactsensor_27f76aeaf5.matter
  examples/chef/devices/rootnode_contactsensor_27f76aeaf5.zap
Labels: examples, review - approved

#31785 [Android] Remove JniClass and fix multiple local/global reference leaks in JNI
  examples/tv-casting-app/android/App/app/src/main/jni/cpp/ConversionUtils.cpp
  examples/tv-casting-app/android/App/app/src/main/jni/cpp/MatterCallbackHandler-JNI.cpp
  examples/tv-casting-app/android/App/app/src/main/jni/cpp/TvCastingApp-JNI.cpp
  examples/tv-casting-app/android/App/app/src/main/jni/cpp/core/CastingApp-JNI.cpp
  examples/tv-casting-app/android/App/app/src/main/jni/cpp/support/ErrorConverter-JNI.cpp
  src/controller/java/AndroidClusterExceptions.cpp
  src/controller/java/AndroidClusterExceptions.h
  src/controller/java/AndroidDeviceControllerWrapper.cpp
  src/controller/java/AndroidOperationalCredentialsIssuer.cpp
  src/controller/java/AttestationTrustStoreBridge.cpp
  src/controller/java/CHIPDefaultCallbacks.cpp
  src/controller/java/CHIPDeviceController-JNI.cpp
  src/controller/java/DeviceAttestationDelegateBridge.cpp
  src/controller/java/OTAProviderDelegateBridge.cpp
  src/controller/java/templates/CHIPEventTLVValueDecoder-src.zapt
  src/controller/java/templates/partials/decode_value.zapt
  src/controller/java/zap-generated/CHIPAttributeTLVValueDecoder.cpp
  src/controller/java/zap-generated/CHIPEventTLVValueDecoder.cpp
  src/lib/support/JniReferences.cpp
  src/lib/support/JniTypeWrappers.h
  src/platform/android/DiagnosticDataProviderImpl.cpp
Labels: examples, platform, lib, controller, review - approved, support

#31806 Remove the last usage of a `TestDriver` file that is not auto-generated
  src/crypto/tests/BUILD.gn
  src/crypto/tests/CHIPCryptoPALTestDriver.cpp
  src/crypto/tests/TestChipCryptoPAL.cpp
Labels: crypto, review - approved

#31767 Update Darwin availability annotations.
  src/darwin/Framework/CHIP/templates/availability.yaml
Labels: darwin, review - approved

#31811 [ICD] Address post-merge comments for #31563
  src/app/BUILD.gn
  src/app/InteractionModelEngine.cpp
  src/app/InteractionModelEngine.h
  src/app/SubscriptionsInfoProvider.h
  src/app/icd/server/ICDConfigurationData.cpp
  src/app/icd/server/ICDConfigurationData.h
  src/app/icd/server/ICDManager.cpp
  src/app/icd/server/ICDManager.h
  src/app/tests/TestICDManager.cpp
Labels: app, review - approved, tests, icd

#31810 Add "orphaned" header files from src/lib/core into gn
  examples/chip-tool/BUILD.gn
  examples/common/tracing/BUILD.gn
  examples/common/websocket-server/BUILD.gn
  src/access/BUILD.gn
  src/app/BUILD.gn
  src/app/DeferredAttributePersistenceProvider.h
  src/credentials/BUILD.gn
  src/credentials/CHIPCert.h
  src/crypto/BUILD.gn
  src/inet/BUILD.gn
  src/lib/core/BUILD.gn
  src/lib/core/InPlace.h
  src/lib/core/Optional.h
  src/lib/core/Unchecked.h
  src/lib/support/BUILD.gn
  src/platform/bouffalolab/common/CHIPDevicePlatformEvent.h
  src/protocols/bdx/BdxTransferSession.h
Labels: tools, examples, platform, lib, inet, crypto, app, review - approved, support, core, protocols

#31813 Improve JniLocalReferenceManager class
  src/lib/support/JniTypeWrappers.h
Labels: lib, review - approved, support

#31798 Correct dependencies of GlobalAttributes
  src/app/BUILD.gn
  src/app/GlobalAttributes.h
Labels: app, review - approved

#31820 Rename JniLocalReferenceManager to JniLocalReferenceScope
  examples/tv-app/android/java/ChannelManager.cpp
  examples/tv-app/android/java/ContentLauncherManager.cpp
  examples/tv-app/android/java/KeypadInputManager.cpp
  examples/tv-app/android/java/LevelManager.cpp
  examples/tv-app/android/java/LowPowerManager.cpp
  examples/tv-app/android/java/MediaInputManager.cpp
  examples/tv-app/android/java/MediaPlaybackManager.cpp
  examples/tv-app/android/java/OnOffManager.cpp
  examples/tv-app/android/java/WakeOnLanManager.cpp
  examples/tv-casting-app/android/App/app/src/main/jni/cpp/MatterCallbackHandler-JNI.cpp
  examples/tv-casting-app/android/App/app/src/main/jni/cpp/core/CastingPlayer-JNI.cpp
  src/controller/java/AndroidCallbacks.cpp
  src/controller/java/AndroidCommissioningWindowOpener.cpp
  src/controller/java/AndroidDeviceControllerWrapper.cpp
  src/controller/java/AndroidOperationalCredentialsIssuer.cpp
  src/controller/java/AttestationTrustStoreBridge.cpp
  src/controller/java/BdxOTASender.cpp
  src/controller/java/CHIPDefaultCallbacks.cpp
  src/controller/java/CHIPDeviceController-JNI.cpp
  src/controller/java/DeviceAttestationDelegateBridge.cpp
  src/controller/java/OTAProviderDelegateBridge.cpp
  src/lib/support/JniTypeWrappers.h
  src/platform/android/DiagnosticDataProviderImpl.cpp
Labels: examples, platform, lib, controller, review - approved, support

#31494 Inject InteractionModelEngine into ReadHandler and reporting/Engine
  src/app/InteractionModelEngine.cpp
  src/app/InteractionModelEngine.h
  src/app/ReadHandler.cpp
  src/app/ReadHandler.h
  src/app/reporting/Engine.cpp
  src/app/reporting/Engine.h
  src/app/tests/TestReadInteraction.cpp
  src/app/tests/TestReportScheduler.cpp
  src/app/tests/TestReportingEngine.cpp
Labels: app, review - approved, tests

#31824 [Linux] Pass advertising name directly to BluezAdvertisement
  src/app/tests/suites/certification/Test_TC_DD_2_2.yaml
  src/app/tests/suites/certification/Test_TC_DD_3_11.yaml
  src/platform/Linux/BLEManagerImpl.cpp
  src/platform/Linux/bluez/BluezAdvertisement.cpp
  src/platform/Linux/bluez/BluezAdvertisement.h
  src/platform/Linux/bluez/BluezEndpoint.cpp
  src/platform/Linux/bluez/BluezEndpoint.h
Labels: platform, linux, app, review - approved, tests

#31826 Correct the hint, where to add a cluster.
  src/app/zap_cluster_list.py
Labels: app, fast track

#31801 mark files in `src/app/data-model` as their own source_set
  src/BUILD.gn
  src/app/BUILD.gn
  src/app/chip_data_model.gni
  src/app/common/BUILD.gn
  src/app/data-model/BUILD.gn
  src/app/tests/suites/commands/delay/BUILD.gn
  src/app/tests/suites/commands/discovery/BUILD.gn
  src/app/tests/suites/commands/log/BUILD.gn
  src/app/tests/suites/commands/system/BUILD.gn
  src/lib/core/BUILD.gn
Labels: lib, app, review - approved, tests, core

#31816 [CI/CD] Standardise argument order in invoking python integration tests during CI
  .github/workflows/tests.yaml
Labels: github, workflows, review - pending, fast track

#31802 Remove a lot of nlio dependencies, enable TestUDP
  BUILD.gn
  src/inet/BUILD.gn
  src/lib/core/BUILD.gn
  src/lib/support/BUILD.gn
  src/messaging/tests/BUILD.gn
  src/platform/BUILD.gn
  src/platform/Linux/ThreadStackManagerImpl.cpp
  src/platform/webos/ThreadStackManagerImpl.cpp
  src/protocols/bdx/tests/BUILD.gn
  src/protocols/secure_channel/tests/BUILD.gn
  src/protocols/user_directed_commissioning/tests/BUILD.gn
  src/transport/BUILD.gn
  src/transport/raw/tests/BUILD.gn
  src/transport/raw/tests/TestTCP.cpp
  src/transport/raw/tests/TestUDP.cpp
  src/transport/retransmit/tests/BUILD.gn
  src/transport/tests/BUILD.gn
Labels: transport, platform, linux, lib, inet, app, gn, review - approved, support, core, messaging, protocols

#31835 Fix zap merge race error
  src/controller/java/zap-generated/CHIPAttributeTLVValueDecoder.cpp
  src/controller/java/zap-generated/CHIPEventTLVValueDecoder.cpp
Labels: hotfix, controller

#31796 Fix IDM-1-3 chip-repl example commands
  src/app/tests/suites/certification/Test_TC_IDM_1_3.yaml
Labels: review - pending

#31843 Add orphan file to gn in src/messaging
  src/messaging/BUILD.gn
Labels: review - approved, messaging

#31692 Moved provisional DRLC cluster into 'Energy Management' domain in ZAP
  src/app/zap-templates/zcl/data-model/chip/drlc-cluster.xml
Labels: app, review - approved

#31771 Add Thermostat EP to Air Purifier Example
  examples/air-purifier-app/air-purifier-common/README.md
  examples/air-purifier-app/air-purifier-common/air-purifier-app.matter
  examples/air-purifier-app/air-purifier-common/air-purifier-app.zap
  examples/air-purifier-app/air-purifier-common/include/air-purifier-manager.h
  examples/air-purifier-app/air-purifier-common/include/thermostat-manager.h
  examples/air-purifier-app/air-purifier-common/src/air-purifier-manager.cpp
  examples/air-purifier-app/air-purifier-common/src/thermostat-manager.cpp
  examples/air-purifier-app/ameba/README.md
  examples/air-purifier-app/ameba/main/chipinterface.cpp
  examples/air-purifier-app/cc32xx/BUILD.gn
  examples/air-purifier-app/cc32xx/main/AppTask.cpp
  examples/air-purifier-app/linux/BUILD.gn
  examples/air-purifier-app/linux/README.md
  examples/air-purifier-app/linux/main.cpp
Labels: examples, review - approved

#31744 [Telink]: Updated lock-app to fully support NVS storage.
  config/telink/chip-module/Kconfig
  config/telink/chip-module/Kconfig.defaults
  examples/lighting-app/telink/prj.conf
  examples/lock-app/telink/Kconfig
  examples/lock-app/telink/boards/tlsr9518adk80d.overlay
  examples/lock-app/telink/boards/tlsr9528a.overlay
  examples/lock-app/telink/boards/tlsr9528a_retention.overlay
  examples/lock-app/telink/include/AppConfig.h
  examples/lock-app/telink/include/AppTask.h
  examples/lock-app/telink/include/LockManager.h
  examples/lock-app/telink/include/LockSettingsStorage.h
  examples/lock-app/telink/src/AppTask.cpp
  examples/lock-app/telink/src/LockManager.cpp
  examples/lock-app/telink/src/LockSettingsStorage.cpp
  src/app/clusters/door-lock-server/door-lock-server.h
  src/platform/telink/1m_flash.overlay
  src/platform/telink/2m_flash.overlay
  src/platform/telink/4m_flash.overlay
  src/platform/telink/CHIPDevicePlatformConfig.h
Labels: examples, platform, app, config, review - approved, telink

#31856 [Documentation] Adding missing events in Matter Linux Air Quality Example
  examples/air-quality-sensor-app/linux/README.md
Labels: examples, review - pending, fast track

#31842 Remove unused/orphaned file from lib/shell
  src/lib/shell/streamer_cc13x2_26x2.cpp
Labels: lib, review - approved, shell

#31861 [Telink] Update Docker image (Zephyr update)
  integrations/docker/images/base/chip-build/version
  integrations/docker/images/stage-2/chip-build-telink/Dockerfile
Labels: integrations, review - pending, fast track, docker

#31440 ESP32: Add EndpointQueueFilter for ESP32 platform
  config/esp32/components/chip/Kconfig
  src/platform/ESP32/BUILD.gn
  src/platform/ESP32/ConnectivityManagerImpl_WiFi.cpp
  src/platform/ESP32/ESP32EndpointQueueFilter.h
Labels: platform, esp32, config, review - approved

#31864 Add missing dependencies to GN in bluez module
  src/platform/Linux/BUILD.gn
Labels: platform, linux, review - pending, fast track

#30591 Adding a counter trace macro to the tracing for getting insights from counters in chip and implemented the macro for ESP32 platform...
  scripts/tools/check_includes_config.py
  src/protocols/secure_channel/CASEServer.cpp
  src/protocols/secure_channel/CASESession.cpp
  src/protocols/secure_channel/PASESession.cpp
  src/tracing/backend.h
  src/tracing/esp32_trace/BUILD.gn
  src/tracing/esp32_trace/counter.cpp
  src/tracing/esp32_trace/counter.h
  src/tracing/esp32_trace/esp32_tracing.cpp
  src/tracing/esp32_trace/esp32_tracing.h
  src/tracing/esp32_trace/include/matter/tracing/macros_impl.h
  src/tracing/json/json_tracing.cpp
  src/tracing/json/json_tracing.h
  src/tracing/macros.h
  src/tracing/multiplexed/include/matter/tracing/macros_impl.h
  src/tracing/none/include/matter/tracing/macros_impl.h
  src/tracing/perfetto/include/matter/tracing/macros_impl.h
  src/tracing/perfetto/perfetto_tracing.cpp
  src/tracing/registry.cpp
  src/tracing/registry.h
Labels: scripts, lib, app, config, review - pending, fast track, protocols

#31682 [ESP32] Diagnostic logs provider delegate implementation in temperature-meausement-app
  config/esp32/components/chip/Kconfig
  examples/temperature-measurement-app/esp32/README.md
  examples/temperature-measurement-app/esp32/main/CMakeLists.txt
  examples/temperature-measurement-app/esp32/main/diagnostic-logs-provider-delegate-impl.cpp
  examples/temperature-measurement-app/esp32/main/diagnostic_logs/crash.log
  examples/temperature-measurement-app/esp32/main/diagnostic_logs/end_user_support.log
  examples/temperature-measurement-app/esp32/main/diagnostic_logs/network_diag.log
  examples/temperature-measurement-app/esp32/main/include/diagnostic-logs-provider-delegate-impl.h
  examples/temperature-measurement-app/esp32/main/main.cpp
  examples/temperature-measurement-app/esp32/sdkconfig.defaults
  examples/temperature-measurement-app/temperature-measurement-common/temperature-measurement.matter
  examples/temperature-measurement-app/temperature-measurement-common/temperature-measurement.zap
  src/platform/ESP32/CHIPPlatformConfig.h
Labels: examples, platform, esp32, config, review - pending, fast track

#31844 Add orphaned files to gn for src/credentials
  src/credentials/BUILD.gn
Labels: review - approved

#31841 Add orphaned minmdns header file to gn
  src/lib/dnssd/BUILD.gn
Labels: lib, review - approved

#31848 [Android] Add skipAttestationCertificateValidation
  src/controller/java/AndroidDeviceControllerWrapper.cpp
  src/controller/java/AndroidDeviceControllerWrapper.h
  src/controller/java/CHIPDeviceController-JNI.cpp
  src/controller/java/src/chip/devicecontroller/ControllerParams.java
Labels: controller, review - approved

#31852 [Android] Add CSR Element validate API
  src/controller/java/CHIPDeviceController-JNI.cpp
  src/controller/java/src/chip/devicecontroller/ChipDeviceController.java
Labels: controller, review - approved

#31878 Add orphan files in `src/transport` to gn
  src/transport/BUILD.gn
  src/transport/tests/BUILD.gn
Labels: transport, review - approved

#31877 Align basic commisisoning command and featuremap value on some apps
  examples/light-switch-app/light-switch-common/light-switch-app.matter
  examples/light-switch-app/light-switch-common/light-switch-app.zap
  examples/lighting-app/silabs/data_model/lighting-thread-app.matter
  examples/lighting-app/silabs/data_model/lighting-thread-app.zap
  examples/lighting-app/silabs/data_model/lighting-wifi-app.matter
  examples/lighting-app/silabs/data_model/lighting-wifi-app.zap
  examples/smoke-co-alarm-app/smoke-co-alarm-common/smoke-co-alarm-app.matter
  examples/smoke-co-alarm-app/smoke-co-alarm-common/smoke-co-alarm-app.zap
  examples/thermostat/thermostat-common/thermostat.matter
  examples/thermostat/thermostat-common/thermostat.zap
  examples/window-app/common/window-app.matter
  examples/window-app/common/window-app.zap
Labels: review - approved

#31883 [Silabs] Fix Silabs window-app config
  examples/window-app/silabs/openthread.gn
Labels: examples, review - approved

#31880 Log the error when UpdateUTCTime fails.
  src/app/clusters/time-synchronization-server/time-synchronization-server.cpp
Labels: app, review - pending, fast track

#31026 Darwin: cluster & attribute introspection
  src/darwin/Framework/CHIP/MTRClusterNames.h
  src/darwin/Framework/CHIP/Matter.h
  src/darwin/Framework/CHIP/templates/MTRClusterNames-src.zapt
  src/darwin/Framework/CHIP/templates/templates.json
  src/darwin/Framework/CHIP/zap-generated/MTRClusterNames.mm
  src/darwin/Framework/Matter.xcodeproj/project.pbxproj
Labels: darwin, review - pending, fast track

#31889 Re-remove CHIPInvokeCallbacks from java
  src/controller/java/CHIPDefaultCallbacks.cpp
  src/controller/java/CHIPDefaultCallbacks.h
  src/controller/java/zap-generated/CHIPInvokeCallbacks.cpp
Labels: controller, review - pending, fast track

#31876 Add SessionParameters to gn.
  src/lib/dnssd/BUILD.gn
  src/messaging/BUILD.gn
  src/messaging/SessionParameters.h
  src/protocols/secure_channel/CASESession.cpp
  src/protocols/secure_channel/PASESession.cpp
  src/protocols/secure_channel/PairingSession.h
  src/transport/Session.h
Labels: transport, lib, review - approved, messaging, protocols

#31894 Fix ZAP regen issue caused by merge.
  src/darwin/Framework/CHIP/zap-generated/MTRClusterNames.mm
Labels: hotfix, darwin

#31465 [ICD] Refresh key to avoid check-in counter rollover problems.
  src/app/icd/client/BUILD.gn
  src/app/icd/client/CheckInDelegate.h
  src/app/icd/client/CheckInHandler.cpp
  src/app/icd/client/DefaultCheckInDelegate.cpp
  src/app/icd/client/DefaultCheckInDelegate.h
  src/app/icd/client/RefreshKeySender.cpp
  src/app/icd/client/RefreshKeySender.h
Labels: app, review - approved, icd

#31865 TV Matter Media: Updated existing cluster to resolve the issue #31320
  examples/tv-app/tv-common/tv-app.matter
  examples/tv-app/tv-common/tv-app.zap
  examples/tv-casting-app/tv-casting-common/tv-casting-app.matter
  examples/tv-casting-app/tv-casting-common/tv-casting-app.zap
Labels: examples, darwin, review - approved

#31753 Added initial EVSE device type to matter-devices.xml. Updated energy-…
  examples/energy-management-app/energy-management-common/energy-management-app.matter
  examples/energy-management-app/energy-management-common/energy-management-app.zap
  src/app/zap-templates/zcl/data-model/chip/matter-devices.xml
  src/darwin/Framework/CHIP/zap-generated/MTRDeviceTypeMetadata.mm
Labels: examples, darwin, app, review - approved

#31896 remove dead java encode_value zapt
  src/controller/java/templates/partials/encode_value.zapt
Labels: controller, review - approved

#31891 [Silabs]Move fetching reboot cause code to our platform abstraction.
  src/platform/silabs/ConfigurationManagerImpl.h
  src/platform/silabs/efr32/ConfigurationManagerImpl.cpp
  src/platform/silabs/platformAbstraction/GsdkSpam.cpp
  src/platform/silabs/platformAbstraction/SilabsPlatform.h
  src/platform/silabs/platformAbstraction/SilabsPlatformBase.h
Labels: platform, review - approved, silabs

#31790 [Tizen] Use spec complaint BLE advertising intervals
  src/platform/Tizen/BLEManagerImpl.cpp
  src/platform/Tizen/BLEManagerImpl.h
  src/platform/Tizen/BlePlatformConfig.h
Labels: platform, review - approved, tizen

#31866 Added the --app-pid flag to the python matter testing support
  src/python_testing/matter_testing_support.py
Labels: review - approved, tests

#31643 TC-ACE-2.1/2: Update default timeout
  src/python_testing/TC_AccessChecker.py
Labels: review - approved, tests

#31493 python testing: Add PICS parser for xml
  src/python_testing/TestMatterTestingSupport.py
  src/python_testing/matter_testing_support.py
  src/python_testing/test_testing/example_pics_xml_basic_info.xml
Labels: review - pending, fast track, tests

#31828 [Linux] Do not reuse cancellable object
  src/platform/GLibTypeDeleter.h
  src/platform/Linux/BLEManagerImpl.cpp
  src/platform/Linux/bluez/BluezEndpoint.cpp
  src/platform/Linux/bluez/BluezEndpoint.h
  src/platform/Linux/bluez/ChipDeviceScanner.cpp
  src/platform/Linux/bluez/ChipDeviceScanner.h
Labels: platform, linux, review - approved

#31881 [ICD] Refactor ICDManager to use System::Clock types
  src/app/ReadHandler.cpp
  src/app/SubscriptionsInfoProvider.h
  src/app/clusters/icd-management-server/icd-management-server.cpp
  src/app/icd/server/ICDCheckInSender.cpp
  src/app/icd/server/ICDConfigurationData.cpp
  src/app/icd/server/ICDConfigurationData.h
  src/app/icd/server/ICDManager.cpp
  src/app/tests/TestICDManager.cpp
  src/messaging/ReliableMessageProtocolConfig.cpp
Labels: app, review - approved, tests, icd, messaging

#31792 [MatterYamlTests][darwin-framework-tool] Use a list of tests to run f…
  .github/workflows/darwin-tests.yaml
  examples/chip-tool/py_matter_chip_tool_adapter/matter_chip_tool_adapter/decoder.py
  scripts/tests/chiptest/__init__.py
  scripts/tests/chiptest/test_definition.py
  scripts/tests/run_test_suite.py
Labels: tools, examples, scripts, github, workflows, review - approved

#31932 Properly handle Aliro credential validation in door lock server
  src/app/clusters/door-lock-server/door-lock-server.cpp
Labels: app, review - pending, fast track

#31814 Implement support for more configurable server endpoints in Matter.framework.
  src/darwin/Framework/CHIP/MTRCallbackBridgeBase.h
  src/darwin/Framework/CHIP/MTRDeviceController.h
  src/darwin/Framework/CHIP/MTRDeviceController.mm
  src/darwin/Framework/CHIP/MTRDeviceControllerFactory.mm
  src/darwin/Framework/CHIP/MTRDeviceControllerFactory_Internal.h
  src/darwin/Framework/CHIP/MTRDeviceController_Internal.h
  src/darwin/Framework/CHIP/ServerEndpoint/MTRIMDispatch.mm
  src/darwin/Framework/CHIP/ServerEndpoint/MTRServerAccessControl.h
  src/darwin/Framework/CHIP/ServerEndpoint/MTRServerAccessControl.mm
  src/darwin/Framework/CHIP/ServerEndpoint/MTRServerAttribute.mm
  src/darwin/Framework/CHIP/ServerEndpoint/MTRServerAttribute_Internal.h
  src/darwin/Framework/CHIP/ServerEndpoint/MTRServerCluster.mm
  src/darwin/Framework/CHIP/ServerEndpoint/MTRServerCluster_Internal.h
  src/darwin/Framework/CHIP/ServerEndpoint/MTRServerEndpoint.h
  src/darwin/Framework/CHIP/ServerEndpoint/MTRServerEndpoint.mm
  src/darwin/Framework/CHIP/ServerEndpoint/MTRServerEndpoint_Internal.h
  src/darwin/Framework/CHIP/app/PluginApplicationCallbacks.h
  src/darwin/Framework/CHIP/zap-generated/endpoint_config.h
  src/darwin/Framework/CHIPTests/MTRPerControllerStorageTests.m
  src/darwin/Framework/CHIPTests/MTRServerEndpointTests.m
  src/darwin/Framework/Matter.xcodeproj/project.pbxproj
  src/darwin/Framework/chip_xcode_build_connector.sh
  src/platform/Darwin/CHIPDevicePlatformConfig.h
Labels: platform, darwin, app, github, workflows, review - pending, fast track

#31939 [Silabs] Remove the now unneeded ConfigurationManagerImpl duplication
  src/platform/silabs/ConfigurationManagerImpl.cpp
  src/platform/silabs/SiWx917/BUILD.gn
  src/platform/silabs/SiWx917/ConfigurationManagerImpl.cpp
  src/platform/silabs/efr32/BUILD.gn
Labels: platform, review - approved, silabs

#31940 Remove vestige of the initial ICD event base management
  src/app/server/Dnssd.cpp
  src/include/platform/CHIPDeviceEvent.h
Labels: platform, app, review - approved

#31885 Add strong guarantee on monotonicity of system clock
  src/system/SystemClock.cpp
  src/system/SystemClock.h
Labels: system, review - approved

#31668 [Linux] Add support for extended advertisement
  docs/guides/BUILDING.md
  examples/lock-app/esp32/main/AppTask.cpp
  examples/platform/silabs/BaseApplication.cpp
  src/app/server/Dnssd.cpp
  src/lib/dnssd/minimal_mdns/tests/TestAdvertiser.cpp
  src/platform/Infineon/PSOC6/BLEManagerImpl.cpp
  src/platform/Linux/BLEManagerImpl.cpp
  src/platform/Linux/BLEManagerImpl.h
  src/platform/Linux/bluez/BluezAdvertisement.cpp
  src/platform/Linux/bluez/BluezAdvertisement.h
  src/platform/Linux/bluez/Types.h
  src/platform/Linux/dbus/bluez/DbusBluez.xml
  src/platform/mt793x/BLEManagerImpl.cpp
  src/platform/silabs/efr32/BLEManagerImpl.cpp
  src/platform/silabs/rs911x/BLEManagerImpl.cpp
  src/platform/stm32/BLEManagerImpl.cpp
Labels: documentation, examples, platform, linux, lib, app, review - approved, silabs

#31956 Regenerate ZAP after merge conflict
  src/darwin/Framework/CHIP/zap-generated/MTRClusterNames.mm
Labels: hotfix, darwin, review - pending

#31884 Make the help text for write-by-id say the right thing about the value list.
  examples/chip-tool/commands/clusters/WriteAttributeCommand.h
Labels: tools, examples, review - approved

#31946 Improve the logic around schedule application in LockEndpoint.
  examples/lock-app/lock-common/include/LockEndpoint.h
  examples/lock-app/lock-common/src/LockEndpoint.cpp
Labels: examples, review - approved

#31951 Make it clearer that cluster-enums-check is returning kUnknownEnumValue.
  src/app/zap-templates/templates/app/cluster-enums-check.zapt
  zzz_generated/app-common/app-common/zap-generated/cluster-enums-check.h
Labels: app, review - approved

#31931 Spell out inet and lwip sources in GN
  src/inet/BUILD.gn
  src/inet/tests/TestInetLayer.h
  src/platform/android/BUILD.gn
  src/system/BUILD.gn
Labels: system, platform, inet, review - approved

#31929 Board-specific LWIP options for silabs boards (rs911, wf200, thread) were never used
  src/lwip/BUILD.gn
  third_party/silabs/silabs_lwip/BUILD.gn
Labels: review - approved, lwip

#31886 Remove TAP support from `lwip/standalone`
  src/inet/tests/TapAddrAutoconf.h
  src/inet/tests/TestInetCommonPosix.cpp
  src/lwip/standalone/TapInterface.c
  src/lwip/standalone/TapInterface.h
Labels: inet, review - pending, fast track, lwip

#31882 Add orphan header files from `src/controller` to gn
  examples/platform/linux/AppMain.cpp
  examples/platform/linux/ControllerShellCommands.cpp
  src/app/icd/client/BUILD.gn
  src/controller/BUILD.gn
  src/controller/java/AndroidOperationalCredentialsIssuer.cpp
  src/controller/java/CHIPDeviceController-JNI.cpp
  src/controller/tests/data_model/BUILD.gn
  src/credentials/BUILD.gn
Labels: examples, platform, controller, app, review - approved, icd

#31645 Adds MdnsDiscovery class
  src/python_testing/mdns_discovery/mdns_discovery.py
  src/python_testing/mdns_discovery/mdns_service_type_enum.py
  src/python_testing/requirements.txt
Labels: github, workflows, review - pending, tests

#31781 Allow chip-repl to know how many InvokeResponseMessages were recieved
  src/app/CommandSender.cpp
  src/app/CommandSender.h
  src/app/tests/TestCommandInteraction.cpp
  src/controller/python/chip/ChipDeviceCtrl.py
  src/controller/python/chip/clusters/Command.py
  src/controller/python/chip/clusters/command.cpp
  src/controller/python/chip/interaction_model/Delegate.h
  src/controller/python/chip/interaction_model/__init__.py
  src/controller/python/chip/interaction_model/delegate.py
  src/python_testing/TC_IDM_1_4.py
  src/python_testing/TestBatchInvoke.py
Labels: controller, app, review - approved, tests

#31957 [ICD] Refactor ICDCounter logic
  src/app/clusters/icd-management-server/icd-management-server.cpp
  src/app/icd/server/BUILD.gn
  src/app/icd/server/ICDConfigurationData.h
  src/app/icd/server/ICDManager.cpp
  src/app/icd/server/ICDManager.h
  src/app/tests/TestICDManager.cpp
  src/app/tests/suites/TestIcdManagementCluster.yaml
  src/lib/support/PersistedCounter.h
  src/protocols/secure_channel/BUILD.gn
  src/protocols/secure_channel/CheckInCounter.h
  src/protocols/secure_channel/Constants.h
Labels: lib, app, review - approved, tests, support, icd, protocols

#31895 Add assertChipStackLockedByCurrentThread for LogEvent
  src/app/EventManagement.cpp
Labels: app, review - approved

#31968 [Scenes] Test Epoch Keys
  src/app/tests/suites/certification/Test_TC_S_2_3.yaml
  src/app/tests/suites/certification/Test_TC_S_2_4.yaml
  src/app/tests/suites/certification/Test_TC_S_2_5.yaml
Labels: app, review - approved, tests

#31972 Create a separate BUILD.gn for `src/app/MessageDef`
  src/app/BUILD.gn
  src/app/MessageDef/BUILD.gn
Labels: app, review - approved

#31964 Upload Xcode derived data on failure in Darwin tests as an artifact.
  .github/workflows/darwin.yaml
Labels: github, workflows, review - approved

#31995 Fix linter error: messagedef files are now covered by gn
  .github/workflows/lint.yml
Labels: hotfix, github, workflows

#31764 Rvc op state delegate dummy start stop handlers
  examples/all-clusters-app/all-clusters-common/include/rvc-operational-state-delegate-impl.h
  examples/all-clusters-app/all-clusters-common/src/rvc-operational-state-delegate-impl.cpp
  examples/rvc-app/rvc-common/include/rvc-operational-state-delegate.h
  src/app/clusters/operational-state-server/operational-state-server.h
Labels: examples, app, review - approved, fast track

#32007 ubuntu:35 is not a valid runner
  .github/workflows/tests.yaml
Labels: hotfix, github, workflows

#31930 Rearranged python test scripts order into an alphabetical format
  .github/workflows/tests.yaml
Labels: github, workflows, review - pending, fast track

#31993 [ICD] Trigger Check-In messages at boot
  src/app/icd/server/ICDManager.cpp
  src/app/icd/server/ICDManager.h
  src/app/server/Server.cpp
  src/app/tests/suites/TestIcdManagementCluster.yaml
Labels: app, review - approved, tests, icd

#31863 TV Matter Media: Resolve cluster revisions
  examples/tv-app/android/include/account-login/AccountLoginManager.cpp
  examples/tv-app/android/include/account-login/AccountLoginManager.h
  examples/tv-app/android/include/content-control/ContentController.cpp
  examples/tv-app/android/include/content-control/ContentController.h
  examples/tv-app/android/include/content-launcher/AppContentLauncherManager.cpp
  examples/tv-app/android/include/content-launcher/AppContentLauncherManager.h
  examples/tv-app/android/include/media-playback/AppMediaPlaybackManager.cpp
  examples/tv-app/android/include/media-playback/AppMediaPlaybackManager.h
  examples/tv-app/android/include/target-navigator/TargetNavigatorManager.cpp
  examples/tv-app/android/include/target-navigator/TargetNavigatorManager.h
  examples/tv-app/android/java/ChannelManager.cpp
  examples/tv-app/android/java/ChannelManager.h
  examples/tv-app/android/java/ContentLauncherManager.cpp
  examples/tv-app/android/java/ContentLauncherManager.h
  examples/tv-app/android/java/KeypadInputManager.cpp
  examples/tv-app/android/java/KeypadInputManager.h
  examples/tv-app/android/java/MediaPlaybackManager.cpp
  examples/tv-app/android/java/MediaPlaybackManager.h
  examples/tv-app/tv-common/clusters/account-login/AccountLoginManager.cpp
  examples/tv-app/tv-common/clusters/account-login/AccountLoginManager.h
  examples/tv-app/tv-common/clusters/channel/ChannelManager.cpp
  examples/tv-app/tv-common/clusters/channel/ChannelManager.h
  examples/tv-app/tv-common/clusters/content-control/ContentController.cpp
  examples/tv-app/tv-common/clusters/content-control/ContentController.h
  examples/tv-app/tv-common/clusters/content-launcher/ContentLauncherManager.cpp
  examples/tv-app/tv-common/clusters/content-launcher/ContentLauncherManager.h
  examples/tv-app/tv-common/clusters/keypad-input/KeypadInputManager.cpp
  examples/tv-app/tv-common/clusters/keypad-input/KeypadInputManager.h
  examples/tv-app/tv-common/clusters/media-playback/MediaPlaybackManager.cpp
  examples/tv-app/tv-common/clusters/media-playback/MediaPlaybackManager.h
  examples/tv-app/tv-common/clusters/target-navigator/TargetNavigatorManager.cpp
  examples/tv-app/tv-common/clusters/target-navigator/TargetNavigatorManager.h
  examples/tv-app/tv-common/tv-app.matter
  examples/tv-app/tv-common/tv-app.zap
  src/app/clusters/account-login-server/account-login-delegate.h
  src/app/clusters/account-login-server/account-login-server.cpp
  src/app/clusters/application-basic-server/application-basic-server.cpp
  src/app/clusters/channel-server/channel-delegate.h
  src/app/clusters/channel-server/channel-server.cpp
  src/app/clusters/content-launch-server/content-launch-delegate.h
  src/app/clusters/content-launch-server/content-launch-server.cpp
  src/app/clusters/media-playback-server/media-playback-delegate.h
  src/app/clusters/media-playback-server/media-playback-server.cpp
  src/app/clusters/messages-server/messages-server.cpp
  src/app/clusters/target-navigator-server/target-navigator-delegate.h
  src/app/clusters/target-navigator-server/target-navigator-server.cpp
  src/app/tests/suites/certification/Test_TC_ALOGIN_1_12.yaml
  src/app/tests/suites/certification/Test_TC_CHANNEL_1_6.yaml
  src/app/tests/suites/certification/Test_TC_CONTENTLAUNCHER_1_11.yaml
  src/app/tests/suites/certification/Test_TC_MEDIAPLAYBACK_1_7.yaml
  src/app/tests/suites/certification/Test_TC_TGTNAV_1_9.yaml
Labels: examples, darwin, app, review - approved, tests

#31983 Linux: Implement PDC support in WiFiDriver / ConnectivityManagerImpl
  src/credentials/CHIPCert.cpp
  src/credentials/CHIPCert.h
  src/credentials/tests/CHIPCert_test_vectors.cpp
  src/credentials/tests/CHIPCert_test_vectors.h
  src/credentials/tests/TestChipCert.cpp
  src/crypto/CHIPCryptoPAL.h
  src/include/platform/NetworkCommissioning.h
  src/platform/Linux/BUILD.gn
  src/platform/Linux/ConnectivityManagerImpl.cpp
  src/platform/Linux/ConnectivityManagerImpl.h
  src/platform/Linux/ConnectivityUtils.h
  src/platform/Linux/NetworkCommissioningDriver.h
  src/platform/Linux/NetworkCommissioningWiFiDriver.cpp
  src/platform/Linux/dbus/wpa/DBusWpaInterface.xml
  src/tools/chip-cert/Cmd_PrintCert.cpp
Labels: tools, platform, linux, crypto, review - approved

#31279 [crypto] Extend the OperationalKeystore API to allow migration
  src/crypto/OperationalKeystore.h
  src/crypto/PSAOperationalKeystore.cpp
  src/crypto/PSAOperationalKeystore.h
  src/crypto/PersistentStorageOperationalKeystore.cpp
  src/crypto/PersistentStorageOperationalKeystore.h
  src/crypto/tests/TestPSAOpKeyStore.cpp
  src/crypto/tests/TestPersistentStorageOpKeyStore.cpp
Labels: platform, crypto, app, review - approved, silabs, protocols

#32004 Remove `CHIPClusters.h` and corresponding `.zapt` file from the build
  build/chip/chip_codegen.cmake
  build/chip/chip_codegen.gni
  build/chip/esp32/esp32_codegen.cmake
  examples/thermostat/asr/include/CHIPClusters.h
  examples/tv-app/android/java/TVApp-JNI.cpp
  examples/tv-app/tv-common/src/AppTv.cpp
  examples/virtual-device-app/android/java/DeviceApp-JNI.cpp
  scripts/tools/zap/tests/available_tests.yaml
  scripts/tools/zap/tests/outputs/all-clusters-app/app-templates/CHIPClusters.h
  scripts/tools/zap/tests/outputs/lighting-app/app-templates/CHIPClusters.h
  src/app/chip_data_model.cmake
  src/app/chip_data_model.gni
  src/app/zap-templates/app-templates.json
  src/app/zap-templates/templates/app/CHIPClusters.zapt
  src/lib/shell/commands/BUILD.gn
Labels: examples, scripts, lib, app, gn, review - approved, shell

#31977 add java and python files from `src/controller` to gn
  .github/workflows/lint.yml
  src/controller/java/BUILD.gn
  src/controller/python/BUILD.gn
Labels: controller, github, workflows, review - approved

#31976 Add files from `src/lib/dnssd` to be tracked by BUILD.gn files
  .github/workflows/lint.yml
  src/app/server/BUILD.gn
  src/lib/dnssd/BUILD.gn
  src/lib/dnssd/Resolver.h
  src/lib/dnssd/ServiceNaming.h
  src/lib/dnssd/Types.h
  src/lib/dnssd/minimal_mdns/BUILD.gn
  src/lib/dnssd/minimal_mdns/core/BUILD.gn
  src/lib/dnssd/minimal_mdns/tests/BUILD.gn
  src/platform/Linux/DnssdImpl.h
Labels: platform, linux, lib, app, github, workflows, review - approved

#31973 Log when MTRServerAttribute not bound to a controller has its value updated.
  src/darwin/Framework/CHIP/ServerEndpoint/MTRServerAttribute.mm
Labels: darwin, review - approved

#32009 [Util] Quick cleanup of unused type
  examples/pump-app/cc13x2x7_26x2x7/main/AppTask.cpp
  examples/pump-app/cc13x4_26x4/main/AppTask.cpp
  examples/pump-app/nrfconnect/main/AppTask.cpp
  examples/pump-app/silabs/src/AppTask.cpp
  examples/pump-app/telink/src/AppTask.cpp
  src/app/clusters/level-control/level-control.cpp
  src/app/util/types_stub.h
Labels: examples, app, review - approved

#31943 TV Matter Media: Add logic to message cluster
  examples/tv-app/android/include/messages/MessagesManager.cpp
  examples/tv-app/android/include/messages/MessagesManager.h
  examples/tv-app/tv-common/BUILD.gn
  examples/tv-app/tv-common/clusters/messages/MessagesManager.cpp
  examples/tv-app/tv-common/clusters/messages/MessagesManager.h
  examples/tv-app/tv-common/src/ZCLCallbacks.cpp
  examples/tv-app/tv-common/tv-app.cmake
  src/app/clusters/messages-server/messages-delegate.h
  src/app/clusters/messages-server/messages-server.cpp
  src/app/clusters/messages-server/messages-server.h
Labels: examples, scripts, app, review - approved

#31837 Refactor CommandSender newly added APIs to be more extendable
  src/app/CommandSender.cpp
  src/app/CommandSender.h
  src/app/tests/TestCommandInteraction.cpp
  src/app/tests/suites/commands/interaction_model/InteractionModel.h
  src/controller/python/chip/clusters/command.cpp
Labels: controller, app, review - approved, tests

#31827 Update rvc app
  .github/workflows/lint.yml
  examples/rvc-app/README.md
  examples/rvc-app/RVC_app_state_diagram.png
  examples/rvc-app/RVC_app_state_diagram_drawio.xml
  examples/rvc-app/linux/RvcAppCommandDelegate.cpp
  examples/rvc-app/linux/RvcAppCommandDelegate.h
  examples/rvc-app/run_all_yaml_tests.sh
  examples/rvc-app/rvc-common/include/rvc-device.h
  examples/rvc-app/rvc-common/include/rvc-mode-delegates.h
  examples/rvc-app/rvc-common/include/rvc-operational-state-delegate.h
  examples/rvc-app/rvc-common/pics/rvc-app-pics-values
  examples/rvc-app/rvc-common/rvc-app.matter
  examples/rvc-app/rvc-common/rvc-app.zap
  examples/rvc-app/rvc-common/src/rvc-device.cpp
  examples/rvc-app/rvc-common/src/rvc-operational-state-delegate.cpp
Labels: examples, github, workflows, review - approved, robot vacuums

#31715 TC-ACE-2.1/2: Add commissioning step
  src/python_testing/TC_AccessChecker.py
Labels: review - pending, fast track, tests

#31901 Tweaks to evse test plans based on review(issue #31460)
  .github/workflows/tests.yaml
  examples/energy-management-app/energy-management-common/src/EVSEManufacturerImpl.cpp
  src/python_testing/TC_EEVSE_2_2.py
  src/python_testing/TC_EEVSE_2_4.py
  src/python_testing/TC_EEVSE_2_5.py
  src/python_testing/TC_EEVSE_Utils.py
  src/python_testing/matter_testing_support.py
Labels: examples, github, workflows, review - approved, tests

#31999 Cleanup a few more files that were not recognized by gn
  .github/workflows/lint.yml
  src/app/tests/BUILD.gn
  src/app/tests/TestOperationalDeviceProxy.cpp
  src/app/tests/integration/BUILD.gn
  src/app/tests/suites/credentials/BUILD.gn
  src/inet/tests/BUILD.gn
  src/lib/support/BUILD.gn
  src/messaging/tests/echo/BUILD.gn
  src/transport/retransmit/tests/BUILD.gn
  src/transport/retransmit/tests/TestCache.cpp
  src/transport/retransmit/tests/TestCacheDriver.cpp
  src/transport/retransmit/tests/TestRetransmit.h
Labels: transport, lib, inet, app, github, workflows, review - approved, tests, support, messaging

#31952 [Darwin] MTRDevice cache make use of controller storage for persistent cache
  src/darwin/Framework/CHIP/MTRBaseDevice.h
  src/darwin/Framework/CHIP/MTRBaseDevice.mm
  src/darwin/Framework/CHIP/MTRDevice.mm
  src/darwin/Framework/CHIP/MTRDeviceController.mm
  src/darwin/Framework/CHIP/MTRDeviceControllerDataStore.h
  src/darwin/Framework/CHIP/MTRDeviceControllerDataStore.mm
  src/darwin/Framework/CHIP/MTRDevice_Internal.h
  src/darwin/Framework/CHIPTests/MTRDeviceTests.m
  src/darwin/Framework/CHIPTests/MTRPerControllerStorageTests.m
  src/darwin/Framework/CHIPTests/TestHelpers/MTRDeviceTestDelegate.h
  src/darwin/Framework/CHIPTests/TestHelpers/MTRDeviceTestDelegate.m
  src/darwin/Framework/Matter.xcodeproj/project.pbxproj
Labels: darwin, review - pending, fast track

#31970 Make MTRServerAttribute threadsafe.
  src/darwin/Framework/CHIP/MTRUnfairLock.h
  src/darwin/Framework/CHIP/ServerEndpoint/MTRServerAttribute.mm
  src/darwin/Framework/CHIP/ServerEndpoint/MTRServerAttribute_Internal.h
  src/darwin/Framework/CHIP/ServerEndpoint/MTRServerCluster.mm
  src/darwin/Framework/Matter.xcodeproj/project.pbxproj
Labels: darwin, review - pending, fast track

#31904 [Python] CommissonWithCode support discoveryType
  src/controller/python/ChipDeviceController-ScriptBinding.cpp
  src/controller/python/chip/ChipDeviceCtrl.py
  src/controller/python/chip/discovery/__init__.py
  src/controller/python/test/test_scripts/base.py
  src/controller/python/test/test_scripts/commissioning_test.py
  src/test_driver/linux-cirque/CommissioningTest.py
Labels: controller, review - approved, test driver

#32029 Microwave oven: Fix conformance
  examples/microwave-oven-app/microwave-oven-common/microwave-oven-app.matter
  examples/microwave-oven-app/microwave-oven-common/microwave-oven-app.zap
Labels: examples, review - approved

#32017 [IM] Remove the EMBER_ZCL_STATUS_DUPLICATE_EXISTS error code
  docs/ERROR_CODES.md
  examples/bridge-app/asr/subdevice/SubDeviceManager.cpp
  examples/bridge-app/esp32/main/main.cpp
  examples/bridge-app/linux/main.cpp
  examples/bridge-app/telink/src/AppTask.cpp
  src/app/app-platform/ContentAppPlatform.cpp
  src/app/util/af-enums.h
  src/app/util/attribute-storage.cpp
  src/app/util/attribute-storage.h
  src/darwin/Framework/CHIP/ServerEndpoint/MTRServerEndpoint.mm
  src/lib/core/CHIPError.cpp
  src/lib/core/CHIPError.h
  src/lib/core/tests/TestCHIPErrorStr.cpp
Labels: documentation, examples, darwin, lib, app, review - approved, core

#31311 [crypto] Add HKDF key handle and use it during PASE
  src/crypto/CHIPCryptoPAL.cpp
  src/crypto/CHIPCryptoPAL.h
  src/crypto/CHIPCryptoPALPSA.cpp
  src/crypto/CHIPCryptoPALPSA.h
  src/crypto/PSASessionKeystore.cpp
  src/crypto/PSASessionKeystore.h
  src/crypto/RawKeySessionKeystore.cpp
  src/crypto/RawKeySessionKeystore.h
  src/crypto/SessionKeystore.h
  src/crypto/tests/TestChipCryptoPAL.cpp
  src/lib/core/CHIPConfig.h
  src/platform/nrfconnect/CHIPPlatformConfig.h
  src/protocols/secure_channel/CASESession.h
  src/protocols/secure_channel/PASESession.cpp
  src/transport/CryptoContext.cpp
  src/transport/CryptoContext.h
Labels: transport, platform, nrf connect, lib, crypto, review - approved, core, protocols

#31872 Enable rvc python tests to run in ci
  examples/rvc-app/rvc-common/pics/rvc-app-pics-values
  src/python_testing/TC_RVCCLEANM_2_1.py
  src/python_testing/TC_RVCCLEANM_2_2.py
  src/python_testing/TC_RVCOPSTATE_2_1.py
  src/python_testing/TC_RVCOPSTATE_2_3.py
  src/python_testing/TC_RVCRUNM_2_1.py
  src/python_testing/TC_RVCRUNM_2_2.py
Labels: examples, github, workflows, review - approved, tests

#32042 Delete ContentLaunch::SupportedProtocolsBitmap::kWebRTC
  examples/all-clusters-minimal-app/all-clusters-common/all-clusters-minimal-app.matter
  examples/placeholder/linux/apps/app1/config.matter
  examples/placeholder/linux/apps/app2/config.matter
  examples/tv-app/tv-common/tv-app.matter
  examples/tv-casting-app/tv-casting-common/tv-casting-app.matter
  src/app/zap-templates/zcl/data-model/chip/content-launch-cluster.xml
  src/controller/data_model/controller-clusters.matter
  src/controller/python/chip/clusters/Objects.py
  src/darwin/Framework/CHIP/zap-generated/MTRBaseClusters.h
  zzz_generated/app-common/app-common/zap-generated/cluster-enums.h
Labels: examples, darwin, controller, app, review - approved, skip-protocol-compatibility

#31644 TC-SM-1.2: Use correct data type
  src/python_testing/TC_DeviceBasicComposition.py
  src/python_testing/TestMatterTestingSupport.py
  src/python_testing/taglist_and_topology_test_support.py
Labels: review - approved, tests

#32044 Stop including af-enums.h in Darwin unit tests.
  src/darwin/Framework/CHIPTests/MTRBackwardsCompatTests.m
  src/darwin/Framework/CHIPTests/MTRDeviceTests.m
  src/darwin/Framework/CHIPTests/MTRPerControllerStorageTests.m
  src/darwin/Framework/CHIPTests/MTRXPCListenerSampleTests.m
  src/darwin/Framework/CHIPTests/MTRXPCProtocolTests.m
  src/darwin/Framework/CHIPTests/TestHelpers/MTRErrorTestUtils.h
  src/darwin/Framework/CHIPTests/TestHelpers/MTRErrorTestUtils.mm
Labels: darwin, review - approved

#32047 Add some more progress-style logging to Darwin server endpoints.
  src/darwin/Framework/CHIP/MTRDeviceController.mm
  src/darwin/Framework/CHIP/ServerEndpoint/MTRServerAttribute.mm
  src/darwin/Framework/CHIP/ServerEndpoint/MTRServerCluster.mm
  src/darwin/Framework/CHIP/ServerEndpoint/MTRServerEndpoint.mm
Labels: darwin, review - pending, fast track

#32027 Remove include InteractionModelEngine.h in reporting/Engine.h
  src/app/reporting/Engine.h
Labels: app, review - pending, fast track

#31997 [ICD] Add OperatingMode attribute to the LIT-ICD-app
  examples/lit-icd-app/lit-icd-common/lit-icd-server-app.matter
  examples/lit-icd-app/lit-icd-common/lit-icd-server-app.zap
  src/app/tests/suites/TestIcdManagementCluster.yaml
Labels: examples, app, review - approved, tests

#32016 [Interaction Model]Sync AmberAfStatus to InteractionModel::Status
  src/app/util/af-enums.h
  src/app/zap-templates/templates/app/attributes/Accessors-src.zapt
  src/app/zap-templates/templates/app/attributes/Accessors.zapt
  src/darwin/Framework/CHIPTests/MTRXPCListenerSampleTests.m
  src/protocols/interaction_model/StatusCode.h
  zzz_generated/app-common/app-common/zap-generated/attributes/Accessors.cpp
  zzz_generated/app-common/app-common/zap-generated/attributes/Accessors.h
Labels: darwin, app, review - approved, protocols

#32032 tracing: Added a macro to report the metric values from the sdk to the tracing framework.
  src/app/clusters/wifi-network-diagnostics-server/wifi-network-diagnostics-server.cpp
  src/tracing/backend.h
  src/tracing/esp32_trace/esp32_tracing.cpp
  src/tracing/esp32_trace/esp32_tracing.h
  src/tracing/esp32_trace/include/matter/tracing/macros_impl.h
  src/tracing/json/json_tracing.cpp
  src/tracing/json/json_tracing.h
  src/tracing/macros.h
  src/tracing/multiplexed/include/matter/tracing/macros_impl.h
  src/tracing/none/include/matter/tracing/macros_impl.h
  src/tracing/perfetto/include/matter/tracing/macros_impl.h
  src/tracing/registry.cpp
  src/tracing/registry.h
Labels: app, config, review - approved

#30856 [TC-MWOxxx] Add MWO tests
  .github/workflows/darwin-tests.yaml
  .github/workflows/tests.yaml
  BUILD.gn
  examples/microwave-oven-app/microwave-oven-common/include/microwave-oven-device.h
  examples/microwave-oven-app/microwave-oven-common/src/microwave-oven-device.cpp
  scripts/build/builders/host.py
  scripts/build/gn_gen_cirque.sh
  scripts/tests/chiptest/__init__.py
  scripts/tests/chiptest/linux.py
  scripts/tests/chiptest/test_definition.py
  scripts/tests/run_test_suite.py
  src/app/clusters/microwave-oven-control-server/microwave-oven-control-server.cpp
  src/app/tests/suites/certification/PICS.yaml
  src/app/tests/suites/certification/Test_TC_MWOCTRL_1_1.yaml
  src/app/tests/suites/certification/Test_TC_MWOCTRL_2_1.yaml
  src/app/tests/suites/certification/Test_TC_MWOCTRL_2_5.yaml
  src/app/tests/suites/certification/Test_TC_MWOM_1_1.yaml
  src/app/tests/suites/certification/ci-pics-values
  src/controller/data_model/controller-clusters.zap
  src/python_testing/TC_MWOCTRL_2_2.py
  src/python_testing/TC_MWOCTRL_2_3.py
  src/python_testing/TC_MWOCTRL_2_4.py
  src/python_testing/TC_MWOM_1_2.py
Labels: documentation, tools, examples, scripts, integrations, transport, system, platform, darwin, esp32, linux, lib, inet, crypto, controller, app, config, github, workflows, gn, review - pending, telink, fast track, lwip, shell, tests, support, core, test driver, tizen, icd, docker, silabs, messaging, protocols

#32054 [IM]Update src/app/util/ emberafstatus
  .github/workflows/lint.yml
  examples/air-purifier-app/air-purifier-common/src/air-purifier-manager.cpp
  examples/all-clusters-app/all-clusters-common/src/fan-stub.cpp
  examples/chef/common/chef-fan-control-manager.cpp
  examples/darwin-framework-tool/commands/common/MTRError.mm
  src/app/clusters/dishwasher-alarm-server/dishwasher-alarm-server.cpp
  src/app/clusters/door-lock-server/door-lock-server.cpp
  src/app/clusters/fan-control-server/fan-control-server.cpp
  src/app/clusters/identify-server/identify-server.cpp
  src/app/clusters/laundry-dryer-controls-server/laundry-dryer-controls-server.cpp
  src/app/clusters/laundry-washer-controls-server/laundry-washer-controls-server.cpp
  src/app/clusters/level-control/level-control.cpp
  src/app/clusters/microwave-oven-control-server/microwave-oven-control-server.cpp
  src/app/clusters/mode-select-server/mode-select-server.cpp
  src/app/clusters/on-off-server/on-off-server.cpp
  src/app/clusters/ota-provider/ota-provider.cpp
  src/app/clusters/refrigerator-alarm-server/refrigerator-alarm-server.cpp
  src/app/clusters/scenes-server/scenes-server.cpp
  src/app/clusters/temperature-control-server/temperature-control-server.cpp
  src/app/clusters/thermostat-server/thermostat-server.cpp
  src/app/clusters/window-covering-server/window-covering-server.cpp
  src/app/util/af-types.h
  src/app/util/af.h
  src/app/util/attribute-storage.cpp
  src/app/util/attribute-storage.h
  src/app/util/attribute-table.cpp
  src/app/util/attribute-table.h
  src/app/util/ember-compatibility-functions.cpp
  src/app/util/error-mapping.h
  src/app/util/generic-callback-stubs.cpp
  src/app/util/generic-callbacks.h
  src/app/util/util.cpp
  src/controller/CHIPCluster.h
  src/controller/CHIPDeviceController.cpp
  src/controller/java/CHIPDeviceController-JNI.cpp
  src/darwin/Framework/CHIP/MTRBaseDevice.mm
  src/darwin/Framework/CHIP/MTRError.mm
Labels: examples, darwin, controller, app, github, workflows, review - approved

#32057 31599 DEMM & EVSEM FeatureMap list has to be updated as per test plan (should be 0)
  examples/energy-management-app/energy-management-common/src/device-energy-management-mode.cpp
  examples/energy-management-app/energy-management-common/src/energy-evse-mode.cpp
Labels: examples, darwin, controller, app, review - approved

#32084 Fix threadsafety issue in MTRServerAttribute.
  src/darwin/Framework/CHIP/ServerEndpoint/MTRServerAttribute.mm
Labels: darwin, review - pending, fast track

#31616 Add Electrical power measurement to energy management app
  .github/workflows/tests.yaml
  examples/all-clusters-app/all-clusters-common/src/electrical-power-measurement-stub.cpp
  examples/all-clusters-app/ameba/chip_main.cmake
  examples/all-clusters-app/asr/BUILD.gn
  examples/all-clusters-app/cc13x2x7_26x2x7/BUILD.gn
  examples/all-clusters-app/cc13x4_26x4/BUILD.gn
  examples/all-clusters-app/infineon/psoc6/BUILD.gn
  examples/all-clusters-app/linux/BUILD.gn
  examples/all-clusters-app/mbed/CMakeLists.txt
  examples/all-clusters-app/nrfconnect/CMakeLists.txt
  examples/all-clusters-app/nxp/mw320/BUILD.gn
  examples/all-clusters-app/openiotsdk/CMakeLists.txt
  examples/all-clusters-app/telink/CMakeLists.txt
  examples/all-clusters-app/tizen/BUILD.gn
  examples/energy-management-app/energy-management-common/energy-management-app.matter
  examples/energy-management-app/energy-management-common/energy-management-app.zap
  examples/energy-management-app/energy-management-common/include/EVSEManufacturerImpl.h
  examples/energy-management-app/energy-management-common/include/ElectricalPowerMeasurementDelegate.h
  examples/energy-management-app/energy-management-common/include/EnergyEvseMain.h
  examples/energy-management-app/energy-management-common/src/DeviceEnergyManagementDelegateImpl.cpp
  examples/energy-management-app/energy-management-common/src/EVSEManufacturerImpl.cpp
  examples/energy-management-app/energy-management-common/src/ElectricalPowerMeasurementDelegate.cpp
  examples/energy-management-app/energy-management-common/src/EnergyEvseMain.cpp
  examples/energy-management-app/energy-management-common/src/EnergyEvseManager.cpp
  examples/energy-management-app/energy-management-common/src/EnergyManagementManager.cpp
  examples/energy-management-app/esp32/main/CMakeLists.txt
  examples/energy-management-app/esp32/main/main.cpp
  examples/energy-management-app/linux/BUILD.gn
  examples/energy-management-app/linux/main.cpp
  examples/shell/shell_common/BUILD.gn
  src/app/clusters/electrical-energy-measurement-server/electrical-energy-measurement-server.cpp
  src/app/clusters/electrical-power-measurement-server/electrical-power-measurement-server.cpp
  src/app/clusters/electrical-power-measurement-server/electrical-power-measurement-server.h
  src/python_testing/TC_EEM_2_1.py
  src/python_testing/TC_EEM_2_2.py
  src/python_testing/TC_EEM_2_3.py
  src/python_testing/TC_EEM_2_4.py
  src/python_testing/TC_EEM_2_5.py
  src/python_testing/TC_EPM_2_1.py
  src/python_testing/TC_EPM_2_2.py
  src/python_testing/TC_EnergyReporting_Utils.py
  src/python_testing/matter_testing_support.py
Labels: documentation, examples, scripts, platform, darwin, controller, app, github, workflows, review - approved, tests

#32061 Darwin: Simplify test setup and teardown
  src/darwin/Framework/CHIPTests/MTRBackwardsCompatTests.m
  src/darwin/Framework/CHIPTests/MTRCommissionableBrowserTests.m
  src/darwin/Framework/CHIPTests/MTRDeviceTests.m
  src/darwin/Framework/CHIPTests/MTRPairingTests.m
  src/darwin/Framework/CHIPTests/MTRPerControllerStorageTests.m
  src/darwin/Framework/CHIPTests/MTRSwiftDeviceTests.swift
  src/darwin/Framework/CHIPTests/TestHelpers/MTRTestResetCommissioneeHelper.m
Labels: darwin, fast track

#32060 [silabs-thread] Update chef.py to fix #32059
  examples/chef/chef.py
Labels: examples, review - approved

#32083 DNS-SD: Remove calls to set T flag
  src/app/server/Dnssd.cpp
  src/lib/dnssd/Advertiser.h
  src/lib/dnssd/minimal_mdns/tests/TestAdvertiser.cpp
  src/lib/dnssd/platform/tests/TestPlatform.cpp
Labels: platform, lib, app, review - approved

#32041 [nrfconnect] Fix memory leak in Window Covering sample.
  examples/window-app/nrfconnect/main/WindowCovering.cpp
Labels: examples, review - approved

#31888 [Silabs] Update Silabs ICD status LED functionality description within README.md's
  docs/QUICK_START.md
  docs/guides/silabs_efr32_software_update.md
  examples/light-switch-app/silabs/README.md
  examples/lit-icd-app/silabs/README.md
  examples/lock-app/silabs/README.md
  scripts/examples/gn_silabs_example.sh
Labels: documentation, examples, scripts, review - approved

#31858 [Silabs] Add changes to enable WPA3 mode by default.
  examples/platform/silabs/SiWx917/BUILD.gn
  examples/platform/silabs/efr32/BUILD.gn
Labels: examples, platform, review - approved

#32085 Mark PayloadTestRequest/Response provisional on Darwin for now.
  src/darwin/Framework/CHIP/templates/availability.yaml
Labels: darwin, review - approved

#32082 [Android] Add Status handling for onReport code path
  examples/java-matter-controller/java/src/com/matter/controller/commands/pairing/PairOnNetworkLongImReadCommand.kt
  src/controller/java/AndroidCallbacks.cpp
  src/controller/java/BUILD.gn
  src/controller/java/src/chip/devicecontroller/model/ClusterState.java
  src/controller/java/src/chip/devicecontroller/model/NodeState.java
  src/controller/java/src/chip/devicecontroller/model/Status.java
Labels: examples, controller, review - approved

#32080 [ICD]Convert the ICD DNS advertiser variable from optional bool to an enum class
  src/app/server/Dnssd.cpp
  src/lib/dnssd/Advertiser.h
  src/lib/dnssd/Advertiser_ImplMinimalMdns.cpp
  src/lib/dnssd/Discovery_ImplPlatform.cpp
  src/lib/dnssd/minimal_mdns/tests/TestAdvertiser.cpp
  src/lib/dnssd/platform/tests/TestPlatform.cpp
Labels: platform, lib, app, review - approved

#31998 Update DGGEN_1_1 and DGGEN_2_3 to match latest testplan spec
  src/app/tests/suites/certification/PICS.yaml
  src/app/tests/suites/certification/Test_TC_DGGEN_1_1.yaml
  src/app/tests/suites/certification/Test_TC_DGGEN_2_3.yaml
  src/app/tests/suites/certification/ci-pics-values
Labels: app, review - pending, fast track, tests

#31979 Add test steps to IDM_1_4 to validate multiple InvokeResponseMessages
  .github/workflows/tests.yaml
  src/python_testing/TC_IDM_1_4.py
Labels: github, workflows, review - pending, fast track, tests

#32048 [Tizen] Shink scope of `capi-system-peripheral-io` dep
  config/tizen/chip-gn/platform/BUILD.gn
  examples/lighting-app/tizen/BUILD.gn
Labels: examples, platform, config, review - approved

#31833 [Diagnostic Logs] Followup for #31638
  examples/chip-tool/py_matter_chip_tool_adapter/matter_chip_tool_adapter/encoder.py
  examples/darwin-framework-tool/commands/bdx/DownloadLogCommand.h
  examples/darwin-framework-tool/commands/bdx/DownloadLogCommand.mm
  examples/darwin-framework-tool/commands/common/RemoteDataModelLogger.h
  examples/darwin-framework-tool/commands/common/RemoteDataModelLogger.mm
  scripts/py_matter_yamltests/matter_yamltests/pseudo_clusters/clusters/accessory_server_bridge.py
  scripts/py_matter_yamltests/matter_yamltests/pseudo_clusters/clusters/delay_commands.py
  scripts/tests/chiptest/__init__.py
  scripts/tests/chiptest/accessories.py
  scripts/tests/chiptest/test_definition.py
  src/app/tests/suites/TestDiagnosticLogs.yaml
  src/app/tests/suites/TestDiagnosticLogsDownloadCommand.yaml
  src/controller/CHIPDeviceControllerFactory.cpp
  src/darwin/Framework/CHIP/MTRDevice.h
  src/darwin/Framework/CHIP/MTRDeviceController.mm
  src/darwin/Framework/CHIP/MTRDeviceControllerFactory.mm
  src/darwin/Framework/CHIP/MTRDiagnosticLogsDownloader.mm
  src/lib/core/CHIPConfig.h
  src/protocols/bdx/BUILD.gn
  src/protocols/bdx/BdxTransferDiagnosticLog.cpp
  src/protocols/bdx/BdxTransferDiagnosticLog.h
  src/protocols/bdx/BdxTransferDiagnosticLogPool.h
  src/protocols/bdx/BdxTransferServer.cpp
  src/protocols/bdx/BdxTransferServer.h
Labels: tools, examples, scripts, darwin, lib, controller, app, review - pending, fast track, tests, core, protocols

#32046 Use `include-what-you-use` on lib/core
  iwyu.imp
  src/lib/core/CHIPError.cpp
  src/lib/core/CHIPError.h
  src/lib/core/CHIPKeyIds.cpp
  src/lib/core/CHIPKeyIds.h
  src/lib/core/ErrorStr.cpp
  src/lib/core/ErrorStr.h
  src/lib/core/OTAImageHeader.cpp
  src/lib/core/OTAImageHeader.h
  src/lib/core/TLVCircularBuffer.cpp
  src/lib/core/TLVCircularBuffer.h
  src/lib/core/TLVDebug.cpp
  src/lib/core/TLVDebug.h
  src/lib/core/TLVReader.cpp
  src/lib/core/TLVReader.h
  src/lib/core/TLVTags.cpp
  src/lib/core/TLVTags.h
  src/lib/core/TLVUpdater.cpp
  src/lib/core/TLVUpdater.h
  src/lib/core/TLVUtilities.cpp
  src/lib/core/TLVUtilities.h
  src/lib/core/TLVWriter.cpp
  src/lib/core/TLVWriter.h
Labels: lib, review - approved, core

#32101 Update API maturity where missing on 1.3 clusters
  examples/all-clusters-app/all-clusters-common/all-clusters-app.matter
  examples/tv-app/tv-common/tv-app.matter
  examples/tv-casting-app/tv-casting-common/tv-casting-app.matter
  src/app/zap-templates/zcl/data-model/chip/content-app-observer-cluster.xml
  src/app/zap-templates/zcl/data-model/chip/content-control-cluster.xml
  src/app/zap-templates/zcl/data-model/chip/energy-preference-cluster.xml
  src/app/zap-templates/zcl/data-model/chip/laundry-dryer-controls-cluster.xml
  src/app/zap-templates/zcl/data-model/chip/messages-cluster.xml
  src/app/zap-templates/zcl/data-model/chip/power-topology-cluster.xml
  src/controller/data_model/controller-clusters.matter
Labels: examples, controller, app, review - approved

#32055 [IM] Remove EmberAfStatus from src/app/clusters
  src/app/app-platform/ContentApp.cpp
  src/app/app-platform/ContentApp.h
  src/app/app-platform/ContentAppPlatform.cpp
  src/app/app-platform/ContentAppPlatform.h
  src/app/clusters/account-login-server/account-login-server.cpp
  src/app/clusters/application-launcher-server/application-launcher-server.cpp
  src/app/clusters/audio-output-server/audio-output-server.cpp
  src/app/clusters/barrier-control-server/barrier-control-server.cpp
  src/app/clusters/basic-information/basic-information.cpp
  src/app/clusters/color-control-server/color-control-server.cpp
  src/app/clusters/device-energy-management-server/device-energy-management-server.h
  src/app/clusters/dishwasher-alarm-server/dishwasher-alarm-server.cpp
  src/app/clusters/dishwasher-alarm-server/dishwasher-alarm-server.h
  src/app/clusters/door-lock-server/door-lock-server.cpp
  src/app/clusters/door-lock-server/door-lock-server.h
  src/app/clusters/electrical-power-measurement-server/electrical-power-measurement-server.h
  src/app/clusters/energy-evse-server/energy-evse-server.h
  src/app/clusters/fan-control-server/fan-control-server.cpp
  src/app/clusters/groups-server/groups-server.cpp
  src/app/clusters/icd-management-server/icd-management-server.cpp
  src/app/clusters/icd-management-server/icd-management-server.h
  src/app/clusters/laundry-dryer-controls-server/laundry-dryer-controls-server.cpp
  src/app/clusters/laundry-dryer-controls-server/laundry-dryer-controls-server.h
  src/app/clusters/laundry-washer-controls-server/laundry-washer-controls-server.cpp
  src/app/clusters/laundry-washer-controls-server/laundry-washer-controls-server.h
  src/app/clusters/level-control/level-control.cpp
  src/app/clusters/localization-configuration-server/localization-configuration-server.cpp
  src/app/clusters/media-input-server/media-input-server.cpp
  src/app/clusters/mode-select-server/mode-select-server.cpp
  src/app/clusters/on-off-server/on-off-server.cpp
  src/app/clusters/on-off-server/on-off-server.h
  src/app/clusters/ota-requestor/DefaultOTARequestor.h
  src/app/clusters/ota-requestor/ota-requestor-server.cpp
  src/app/clusters/ota-requestor/ota-requestor-server.h
  src/app/clusters/refrigerator-alarm-server/refrigerator-alarm-server.cpp
  src/app/clusters/refrigerator-alarm-server/refrigerator-alarm-server.h
  src/app/clusters/resource-monitoring-server/resource-monitoring-server.h
  src/app/clusters/scenes-server/scenes-server.cpp
  src/app/clusters/smoke-co-alarm-server/smoke-co-alarm-server.cpp
  src/app/clusters/smoke-co-alarm-server/smoke-co-alarm-server.h
  src/app/clusters/temperature-control-server/temperature-control-server.cpp
  src/app/clusters/thermostat-server/thermostat-server.cpp
  src/app/clusters/time-format-localization-server/time-format-localization-server.cpp
  src/app/clusters/time-synchronization-server/time-synchronization-server.cpp
  src/app/clusters/window-covering-server/window-covering-server.cpp
  src/app/server/Server.h
  src/app/util/af-enums.h
  src/app/util/af-types.h
  src/app/util/af.h
  src/app/util/attribute-storage.h
  src/app/util/attribute-table.h
  src/app/util/generic-callback-stubs.cpp
  src/app/util/generic-callbacks.h
  src/darwin/Framework/CHIP/ServerEndpoint/MTRIMDispatch.mm
Labels: darwin, app, review - approved, tests

#32102 Skip binary files when checking for code patterns in the lint test.
  .github/workflows/lint.yml
Labels: review - pending, fast track

#32052 Update TI GN build to build dependent TI SDK libraries
  examples/all-clusters-app/cc13x2x7_26x2x7/BUILD.gn
  examples/all-clusters-app/cc13x4_26x4/BUILD.gn
  examples/lighting-app/cc13x2x7_26x2x7/BUILD.gn
  examples/lighting-app/cc13x4_26x4/BUILD.gn
  examples/lock-app/cc13x2x7_26x2x7/BUILD.gn
  examples/lock-app/cc13x4_26x4/BUILD.gn
  examples/persistent-storage/cc13x2x7_26x2x7/BUILD.gn
  examples/pump-app/cc13x2x7_26x2x7/BUILD.gn
  examples/pump-app/cc13x4_26x4/BUILD.gn
  examples/pump-controller-app/cc13x2x7_26x2x7/BUILD.gn
  examples/pump-controller-app/cc13x4_26x4/BUILD.gn
  examples/shell/cc13x2x7_26x2x7/BUILD.gn
  examples/shell/cc13x4_26x4/BUILD.gn
  third_party/ti_simplelink_sdk/run_sdk_drivers_gen.py
  third_party/ti_simplelink_sdk/ti_simplelink_board.gni
  third_party/ti_simplelink_sdk/ti_simplelink_sdk.gni
Labels: examples, review - approved

#32013 [Linux] Use sync version of BLE connect function
  src/platform/Linux/BLEManagerImpl.cpp
  src/platform/Linux/bluez/BluezEndpoint.cpp
  src/platform/Linux/bluez/BluezEndpoint.h
  src/platform/Tizen/BLEManagerImpl.cpp
Labels: platform, linux, review - pending, fast track, tizen

#31945 [Python] Allow early logging initialization
  src/controller/python/chip/logging/__init__.py
  src/controller/python/chip/logging/library_handle.py
Labels: controller, review - pending, fast track

#32071 Updated the TC_RVCRUNM_2_2 python test script following changes in th…
  src/python_testing/TC_RVCRUNM_2_2.py
Labels: review - approved, tests

#32072 Update TC_RVCOPSTATE_2_4 following test plan changes
  src/python_testing/TC_RVCOPSTATE_2_4.py
Labels: review - approved, tests

#32111 Align EVSE device type to spec - Removed direct inclusion of Electrical Power / Energy Measurement
  src/app/zap-templates/zcl/data-model/chip/matter-devices.xml
Labels: app, review - pending

#31006 Issue #31002 Enable RPC for all-clusters-app
  examples/all-clusters-app/linux/BUILD.gn
  examples/all-clusters-app/linux/with_pw_rpc.gni
  examples/common/pigweed/rpc_config.gni
Labels: examples, review - pending, fast track

#32109 Rename ICD configurations to duration to match the SDK
  examples/light-switch-app/silabs/openthread.gni
  examples/lit-icd-app/silabs/build_for_wifi_args.gni
  examples/lit-icd-app/silabs/openthread.gni
  examples/lock-app/silabs/build_for_wifi_args.gni
  examples/lock-app/silabs/openthread.gni
  examples/window-app/silabs/openthread.gni
  src/app/ReadHandler.h
  src/app/reporting/SynchronizedReportSchedulerImpl.cpp
  src/platform/silabs/CHIPPlatformConfig.h
  third_party/silabs/SiWx917_sdk.gni
  third_party/silabs/efr32_sdk.gni
Labels: examples, platform, app, review - approved, silabs

#32078 [SDK] Rename EMBER_XXX to MATTER_XXX
  examples/all-clusters-app/all-clusters-common/src/binding-handler.cpp
  examples/all-clusters-app/ameba/main/BindingHandler.cpp
  examples/all-clusters-app/nxp/mw320/binding-handler.cpp
  examples/light-switch-app/ameba/main/BindingHandler.cpp
  examples/light-switch-app/asr/src/BindingHandler.cpp
  examples/light-switch-app/esp32/main/BindingHandler.cpp
  examples/light-switch-app/genio/src/BindingHandler.cpp
  examples/light-switch-app/infineon/cyw30739/src/AppShellCommands.cpp
  examples/light-switch-app/infineon/cyw30739/src/BindingHandler.cpp
  examples/light-switch-app/nrfconnect/main/BindingHandler.cpp
  examples/light-switch-app/qpg/src/binding-handler.cpp
  examples/light-switch-app/silabs/src/BindingHandler.cpp
  examples/light-switch-app/silabs/src/ShellCommands.cpp
  examples/light-switch-app/telink/src/binding-handler.cpp
  examples/tv-casting-app/tv-casting-common/src/CastingServer.cpp
  examples/tv-casting-app/tv-casting-common/support/ChipDeviceEventHandler.cpp
  examples/tv-casting-app/tv-casting-common/support/EndpointListLoader.cpp
  src/app/clusters/bindings/BindingManager.cpp
  src/app/clusters/bindings/PendingNotificationMap.cpp
  src/app/clusters/bindings/PendingNotificationMap.h
  src/app/clusters/bindings/bindings.cpp
  src/app/tests/TestBindingTable.cpp
  src/app/tests/TestPendingNotificationMap.cpp
  src/app/util/attribute-storage.cpp
  src/app/util/attribute-storage.h
  src/app/util/binding-table.cpp
  src/app/util/binding-table.h
  src/app/util/config.h
  src/app/util/mock/include/zap-generated/gen_config.h
  src/app/util/types_stub.h
  src/app/util/util.cpp
Labels: examples, platform, app, review - approved, tests

#32106 Get some RAM savings by re-ordering some structure members based on `pahole` feedback
  src/credentials/FabricTable.h
  src/lib/dnssd/TxtFields.h
  src/lib/dnssd/Types.h
Labels: lib, review - approved

#32053 Adding logging to Matter to aid in debuggability
  src/darwin/Framework/CHIP/MTRDevice.mm
  src/darwin/Framework/CHIP/MTRError.h
  src/darwin/Framework/CHIP/MTRError.mm
  src/darwin/Framework/CHIP/MTRError_Internal.h
  src/darwin/Framework/CHIP/MTRSetupPayload.mm
  src/darwin/Framework/Matter.xcodeproj/project.pbxproj
  src/darwin/Framework/Matter.xcodeproj/xcshareddata/xcschemes/Matter Framework Tests.xcscheme
  src/darwin/Framework/Matter.xcodeproj/xcshareddata/xcschemes/Matter Framework.xcscheme
  src/darwin/Framework/Matter.xcodeproj/xcshareddata/xcschemes/darwin-framework-tool.xcscheme
Labels: darwin, review - pending, fast track

#31795 [icd] Introduced gn flags to allow conditional code compilation
  .github/workflows/unit_integration_test.yaml
  BUILD.gn
  config/nrfconnect/chip-module/CMakeLists.txt
  config/standalone/toolchain/BUILD.gn
  config/telink/chip-module/CMakeLists.txt
  config/zephyr/Kconfig
  examples/light-switch-app/qpg/args.gni
  examples/lit-icd-app/linux/args.gni
  examples/lit-icd-app/silabs/build_for_wifi_args.gni
  examples/lit-icd-app/silabs/openthread.gni
  examples/smoke-co-alarm-app/telink/prj.conf
  src/app/clusters/icd-management-server/icd-management-server.cpp
  src/app/clusters/icd-management-server/icd-management-server.h
  src/app/icd/icd.gni
  src/app/icd/server/BUILD.gn
  src/app/icd/server/ICDManager.cpp
  src/app/icd/server/ICDManager.h
  src/app/server/Server.cpp
  src/app/tests/BUILD.gn
  src/platform/nrfconnect/CHIPPlatformConfig.h
  src/platform/nxp/zephyr/CHIPPlatformConfig.h
  src/platform/telink/CHIPPlatformConfig.h
  src/test_driver/linux-cirque/SubscriptionResumptionCapacityTest.py
  src/test_driver/linux-cirque/SubscriptionResumptionTest.py
Labels: examples, platform, nrf connect, app, config, github, workflows, gn, review - approved, telink, tests, test driver, icd

#31823 [NXP][zephyr] Updates to NXP Zephyr platform enablement
  config/nxp/chip-module/Kconfig
  config/nxp/chip-module/Kconfig.defaults
  src/platform/nxp/zephyr/CHIPDevicePlatformConfig.h
  src/platform/nxp/zephyr/SystemPlatformConfig.h
  src/platform/nxp/zephyr/wifi/NxpWifiDriver.cpp
  src/platform/nxp/zephyr/wifi/WiFiManager.cpp
  src/platform/nxp/zephyr/wifi/WiFiManager.h
Labels: platform, config, review - approved

#31944 [Python] Make Logging Filtering global
  src/controller/python/BUILD.gn
  src/controller/python/ChipDeviceController-ScriptBinding.cpp
  src/controller/python/chip/ChipDeviceCtrl.py
  src/controller/python/chip/logging/LoggingFilter.cpp
  src/controller/python/chip/logging/__init__.py
  src/platform/Linux/CHIPPlatformConfig.h
Labels: platform, linux, controller, review - pending, fast track

#32051 Remove some unneeded dependencies from generic-callbacks.h
  src/app/util/generic-callbacks.h
Labels: app, review - approved

#32095 QA team requested that all attributes in EPM cluster be turned on in energy-management-app
  examples/all-clusters-app/all-clusters-common/all-clusters-app.matter
  examples/all-clusters-app/all-clusters-common/all-clusters-app.zap
  examples/all-clusters-app/all-clusters-common/src/electrical-power-measurement-stub.cpp
  examples/all-clusters-app/all-clusters-common/src/energy-evse-stub.cpp
  examples/energy-management-app/energy-management-common/energy-management-app.matter
  examples/energy-management-app/energy-management-common/energy-management-app.zap
  examples/energy-management-app/energy-management-common/src/ElectricalPowerMeasurementDelegate.cpp
  examples/energy-management-app/energy-management-common/src/EnergyEvseMain.cpp
  src/python_testing/TC_EPM_2_1.py
Labels: examples, review - approved, tests

#31978 [TCTL] Change name from Mode to State
  src/app/tests/suites/certification/Test_TC_TCTL_3_2.yaml
  src/app/tests/suites/certification/Test_TC_TCTL_3_3.yaml
Labels: app, review - approved, tests, appliances, temperature control cluster

#32075 [BOOLCFG] Update TC-BOOLCFG-3.1 to match latest test plan
  src/python_testing/TC_BOOLCFG_3_1.py
Labels: scripts, review - pending, fast track, tests

#32074 [VALCC] Update test scripts to match latest test plan
  src/python_testing/TC_VALCC_4_3.py
  src/python_testing/TC_VALCC_4_4.py
  src/python_testing/TC_VALCC_4_5.py
Labels: scripts, review - pending, fast track, tests

#30933 Removing references to Laundry Mode back to Laundry Washer Mode
  data_model/clusters/Mode_Laundry.xml
Labels: review - pending, appliances, dryers, washers
