Repository project-chip/connectedhomeip, pull requests merged in 2024-03, with the labels that each got.

#32382 Cleanup some unused functionality from `app/util/util.cpp`
  src/app/common/templates/templates.json
  src/app/util/util.cpp
  src/app/util/util.h
  src/app/zap-templates/templates/app/print-cluster.zapt
  zzz_generated/app-common/app-common/zap-generated/print-cluster.h
Labels: app, review - approved

#32380 Fix incorrect snapshotting of MRP config by CASE client.
  src/app/CASEClient.cpp
  src/app/CASEClient.h
  src/app/server/Server.cpp
  src/controller/CHIPDeviceControllerFactory.cpp
Labels: controller, app, review - approved

#32383 [Python] Use Python logging everywhere
  src/controller/python/chip/ChipDeviceCtrl.py
Labels: controller, review - approved

#32143 [NXP][Zephyr] Use common wifi port for Zephyr
  src/platform/Zephyr/wifi/ConnectivityManagerImplWiFi.cpp
  src/platform/Zephyr/wifi/ConnectivityManagerImplWiFi.h
  src/platform/Zephyr/wifi/WiFiManager.cpp
  src/platform/Zephyr/wifi/WiFiManager.h
  src/platform/Zephyr/wifi/ZephyrWifiDriver.cpp
  src/platform/Zephyr/wifi/ZephyrWifiDriver.h
  src/platform/nxp/zephyr/BUILD.gn
  src/platform/nxp/zephyr/CHIPDevicePlatformConfig.h
  src/platform/nxp/zephyr/ConnectivityManagerImpl.h
  src/platform/nxp/zephyr/DiagnosticDataProviderImplNxp.cpp
Labels: platform, zephyr, review - approved

#32388 [Docker][Python] Add ruff Python linter to chip-build
  integrations/docker/images/base/chip-build/Dockerfile
  integrations/docker/images/base/chip-build/version
Labels: integrations, review - pending, fast track, docker

#32386 [ICD] Add missing include for the ICD specific defines
  src/app/tests/TestReadInteraction.cpp
  src/include/platform/ThreadStackManager.h
  src/include/platform/internal/GenericConnectivityManagerImpl_Thread.h
  src/include/platform/internal/GenericConnectivityManagerImpl_WiFi.h
  src/messaging/ReliableMessageMgr.cpp
  src/messaging/ReliableMessageProtocolConfig.cpp
  src/messaging/tests/TestAbortExchangesForFabric.cpp
  src/messaging/tests/TestReliableMessageProtocol.cpp
  src/platform/Linux/BUILD.gn
  src/platform/Linux/ThreadStackManagerImpl.h
  src/platform/OpenThread/GenericThreadStackManagerImpl_OpenThread.h
  src/protocols/secure_channel/tests/TestPASESession.cpp
Labels: platform, linux, app, review - approved, tests, messaging, protocols

#32394 Fix build issues on Darwin.
  .github/workflows/darwin.yaml
  src/darwin/Framework/CHIP/MTRDevice.mm
  src/darwin/Framework/CHIP/MTRDeviceController.mm
Labels: hotfix, darwin, github, workflows, review - pending, fast track

#32365 TV: Add sample app tools for triggering client commands
  examples/tv-app/android/App/platform-app/src/main/java/com/matter/tv/server/fragments/TerminalFragment.java
  examples/tv-app/android/java/AppImpl.cpp
  examples/tv-app/android/java/src/com/matter/tv/server/tvapp/MessagesManagerStub.java
  examples/tv-app/tv-common/shell/AppTvShellCommands.cpp
  examples/tv-app/tv-common/src/AppTv.cpp
  examples/tv-casting-app/android/App/app/src/main/java/com/chip/casting/app/CertTestFragment.java
  examples/tv-casting-app/android/App/app/src/main/jni/com/chip/casting/TvCastingApp.java
  examples/tv-casting-app/android/App/app/src/main/jni/cpp/Constants.h
  examples/tv-casting-app/android/App/app/src/main/jni/cpp/TvCastingApp-JNI.cpp
  examples/tv-casting-app/tv-casting-common/BUILD.gn
  examples/tv-casting-app/tv-casting-common/include/CastingServer.h
  examples/tv-casting-app/tv-casting-common/include/Messages.h
  examples/tv-casting-app/tv-casting-common/src/CastingServer.cpp
  examples/tv-casting-app/tv-casting-common/src/Messages.cpp
  src/app/app-platform/ContentApp.cpp
  src/app/app-platform/ContentApp.h
  src/app/app-platform/ContentAppPlatform.cpp
  src/controller/CommissionerDiscoveryController.cpp
  src/controller/CommissionerDiscoveryController.h
Labels: examples, controller, app, github, workflows, review - approved

#32391 [ThreadDiag]Encode an empty list as no ActiveNetworkFault are tracked
  src/app/clusters/thread-network-diagnostics-server/thread-network-diagnostics-provider.cpp
Labels: app, review - approved

#32390 [Silabs]Fix gendiag network interface attribute
  src/include/platform/internal/GenericConfigurationManagerImpl.ipp
  src/platform/silabs/DiagnosticDataProviderImpl.cpp
Labels: platform, review - approved, silabs

#31341 Add dockerfile for NuttX platform compile
  integrations/docker/images/base/chip-build/version
  integrations/docker/images/stage-2/chip-build-nuttx/Dockerfile
  integrations/docker/images/stage-2/chip-build-nuttx/build.sh
  integrations/docker/images/stage-2/chip-build-nuttx/run.sh
  integrations/docker/images/stage-2/chip-build-nuttx/version
  integrations/docker/images/vscode/chip-build-vscode/Dockerfile
Labels: integrations, review - pending, docker

#32002 [Silabs] remove lwipopts-thread.h.
  src/inet/InetInterface.cpp
  src/inet/tests/TestInetAddress.cpp
  src/lwip/BUILD.gn
  src/lwip/silabs/lwipopts-thread.h
  src/lwip/silabs/lwipopts.h
  src/test_driver/efr32/args.gni
  third_party/silabs/silabs_lwip/BUILD.gn
Labels: inet, review - approved, lwip, test driver

#32346 Ensure "code generation" has a fixed target of "*_generate" that provides the files in the build output directory.
  .github/workflows/build.yaml
  .github/workflows/examples-esp32.yaml
  build/chip/chip_codegen.gni
  src/app/chip_data_model.gni
Labels: scripts, app, github, workflows, gn, review - pending, fast track

#32361 Add data model XML files to `chip-cert-bins` docker image
  integrations/docker/images/chip-cert-bins/Dockerfile
Labels: integrations, review - pending, fast track, docker

#32358 Docs: Add some links to cluster dev docs
  docs/cluster_and_device_type_dev/cluster_and_device_type_dev.md
Labels: documentation, review - pending, fast track

#32242 [Silabs] [WiFi] Made changes to get logs on uart port
  examples/platform/silabs/SiWx917/BUILD.gn
  examples/platform/silabs/SiWx917/uart.cpp
  src/platform/silabs/Logging.cpp
  third_party/silabs/SiWx917_sdk.gni
Labels: examples, platform, review - approved, silabs

#31996 Docs: Add python testing documentation
  .github/.wordlist.txt
  .spellcheck.yml
  docs/testing/ChipDeviceCtrlAPI.md
  docs/testing/GenerateChipDeviceCtrlDoc.sh
  docs/testing/python.md
  src/controller/python/chip/ChipDeviceCtrl.py
Labels: documentation, controller, github, review - approved

#32417 Bump ZAP version to v2024.02.29-nightly
  scripts/setup/zap.json
  scripts/setup/zap.version
  scripts/tools/zap/zap_execution.py
Labels: scripts, review - approved

#32378 TC-IDM-4.2: Disable in CI for flake
  .github/workflows/tests.yaml
Labels: review - approved

#32413 Remove unused files: OwnerOf and SerializedIntegerSet
  src/controller/CHIPDeviceController.h
  src/lib/support/BUILD.gn
  src/lib/support/OwnerOf.h
  src/lib/support/SerializableIntegerSet.cpp
  src/lib/support/SerializableIntegerSet.h
  src/lib/support/tests/BUILD.gn
  src/lib/support/tests/TestOwnerOf.cpp
  src/lib/support/tests/TestSerializableIntegerSet.cpp
Labels: lib, controller, review - approved, support

#32414 Introduce AttributeAccessInterface lookup cache
  src/app/AttributeAccessInterfaceCache.h
  src/app/BUILD.gn
  src/app/tests/BUILD.gn
  src/app/tests/TestAttributeAccessInterfaceCache.cpp
  src/app/util/attribute-storage.cpp
Labels: app, review - approved, tests

#32416 Move EventLoggingTypes.h and EventHeader.h to be seen by GN
  .github/workflows/lint.yml
  examples/chip-tool/BUILD.gn
  examples/chip-tool/commands/clusters/DataModelLogger.h
  examples/chip-tool/commands/common/RemoteDataModelLogger.h
  src/access/BUILD.gn
  src/app/BUILD.gn
  src/app/EventManagement.h
  src/app/MessageDef/BUILD.gn
  src/app/MessageDef/EventDataIB.h
  src/app/MessageDef/EventHeader.h
  src/app/MessageDef/EventLoggingTypes.h
  src/app/ReadClient.h
  src/app/common/BUILD.gn
  src/app/tests/TestEventLogging.cpp
  src/app/tests/TestEventLoggingNoUTCTime.cpp
  src/app/tests/TestEventOverflow.cpp
  src/app/tests/TestFabricScopedEventLogging.cpp
  src/app/tests/integration/MockEvents.cpp
  src/app/zap-templates/templates/app/cluster-objects.zapt
  src/controller/java/AndroidCallbacks.cpp
  src/darwin/Framework/CHIP/MTRBaseDevice_Internal.h
  src/darwin/Framework/CHIP/MTRBaseSubscriptionCallback.h
  src/darwin/Framework/CHIP/MTREventTLVValueDecoder_Internal.h
  src/darwin/Framework/CHIP/templates/MTREventTLVValueDecoder-src.zapt
  src/darwin/Framework/CHIP/zap-generated/MTREventTLVValueDecoder.mm
  zzz_generated/app-common/app-common/zap-generated/cluster-objects.h
Labels: tools, examples, darwin, controller, app, github, workflows, review - approved, tests

#32220 [Ameba] Add clusters and modifications
  examples/all-clusters-app/ameba/chip_main.cmake
  examples/all-clusters-app/ameba/main/ManualOperationCommand.cpp
  examples/all-clusters-app/ameba/main/chipinterface.cpp
  examples/all-clusters-app/ameba/main/include/AmebaObserver.h
  examples/all-clusters-app/ameba/main/include/ManualOperationalStateCommand.h
  examples/platform/ameba/test_event_trigger/AmebaTestEventTriggerDelegate.cpp
  examples/platform/ameba/test_event_trigger/AmebaTestEventTriggerDelegate.h
  src/platform/Ameba/ConfigurationManagerImpl.cpp
Labels: examples, platform, review - pending, fast track

#32407 Move isIdentifying out of util.cpp
  src/app/clusters/groups-server/groups-server.cpp
  src/app/util/af.h
  src/app/util/util.cpp
Labels: app, review - approved

#32408 Remove `privilege-constants.h` in favor of using `access/Privilege.h`
  scripts/tools/zap/tests/outputs/all-clusters-app/app-templates/access.h
  scripts/tools/zap/tests/outputs/lighting-app/app-templates/access.h
  src/app/BUILD.gn
  src/app/RequiredPrivilege.cpp
  src/app/RequiredPrivilege.h
  src/app/chip_data_model.gni
  src/app/tests/integration/RequiredPrivilegeStubs.cpp
  src/app/util/privilege-constants.h
  src/app/util/privilege-storage.cpp
  src/app/util/privilege-storage.h
  src/app/zap-templates/templates/app/access.zapt
  src/darwin/Framework/CHIP/ServerEndpoint/MTRServerAccessControl.mm
Labels: scripts, darwin, app, review - approved, tests

#32425 [Darwin] Refactor MTRMetrics to have more well formed schema
  src/darwin/Framework/CHIP/MTRDeviceControllerDelegateBridge.mm
  src/darwin/Framework/CHIP/MTRMetrics.h
  src/darwin/Framework/CHIP/MTRMetrics.mm
  src/darwin/Framework/CHIP/MTRMetricsCollector.mm
  src/darwin/Framework/CHIP/MTRMetrics_Internal.h
  src/darwin/Framework/CHIPTests/MTRMetricsTests.m
  src/tracing/metric_keys.h
Labels: darwin, review - pending, fast track

#31755 Add records of session establishment for subscription resumption
  examples/platform/linux/AppMain.cpp
  examples/platform/linux/Options.cpp
  examples/platform/linux/Options.h
  scripts/tests/cirque_tests.sh
  src/app/InteractionModelEngine.cpp
  src/app/InteractionModelEngine.h
  src/app/SimpleSubscriptionResumptionStorage.cpp
  src/app/SimpleSubscriptionResumptionStorage.h
  src/app/SubscriptionResumptionSessionEstablisher.cpp
  src/app/SubscriptionResumptionStorage.h
  src/controller/python/test/test_scripts/subscription_resumption_timeout_test.py
  src/test_driver/linux-cirque/SubscriptionResumptionTimeoutTest.py
Labels: examples, scripts, platform, controller, app, review - approved, test driver

#32092 [ESP32] Add sntp support to get real time on esp32
  config/esp32/components/chip/Kconfig
  examples/energy-management-app/esp32/main/CMakeLists.txt
  examples/energy-management-app/esp32/main/main.cpp
  examples/energy-management-app/esp32/sdkconfig.defaults
  examples/platform/esp32/time/TimeSync.cpp
  examples/platform/esp32/time/TimeSync.h
  src/platform/ESP32/SystemTimeSupport.cpp
Labels: examples, platform, esp32, config, review - approved

#32354 [nrfconnect] Refactor of the factory data support
  config/nrfconnect/chip-module/Kconfig
  config/nrfconnect/chip-module/generate_factory_data.cmake
  docs/guides/nrfconnect_factory_data_configuration.md
  scripts/tools/nrfconnect/generate_nrfconnect_chip_factory_data.py
Labels: documentation, scripts, config, review - approved

#32431 [ESP32] Remove dead code and __func__ from error logging
  src/platform/ESP32/ConfigurationManagerImpl.cpp
  src/platform/ESP32/nimble/BLEManagerImpl.cpp
Labels: platform, esp32, review - pending, fast track

#32436 Place `endpoint-config-defines.h` into `app/util:types`
  .github/workflows/lint.yml
  src/app/util/BUILD.gn
Labels: app, github, workflows, review - approved

#32430 Add pigweed support for esp32 platform
  config/esp32/.gn
  config/esp32/BUILD.gn
  src/BUILD.gn
  src/test_driver/esp32/main/CMakeLists.txt
  src/test_driver/esp32/main/main_app.cpp
Labels: config, review - approved, test driver

#32421 Add tests to lib/support/SortUtils.h
  src/app/clusters/time-synchronization-server/time-synchronization-server.cpp
  src/lib/dnssd/IPAddressSorter.cpp
  src/lib/support/SortUtils.h
  src/lib/support/tests/BUILD.gn
  src/lib/support/tests/TestSorting.cpp
  src/transport/SecureSessionTable.h
Labels: transport, lib, app, review - approved, tests, support, quality

#32418 DM XML scrape for 0.9 spring 2024
  data_model/clusters/Binding-Cluster.xml
  data_model/clusters/ColorControl.xml
  data_model/clusters/GeneralCommissioningCluster.xml
  data_model/clusters/ICDManagement.xml
  data_model/clusters/LevelControl.xml
  data_model/clusters/MediaPlayback.xml
  data_model/clusters/Messages.xml
  data_model/clusters/NetworkIdentityManagement.xml
  data_model/clusters/OperationalState.xml
  data_model/clusters/PowerSourceCluster.xml
  data_model/clusters/Thermostat.xml
  data_model/clusters/TimeSync.xml
  data_model/clusters/WaterHeaterManagement.xml
  data_model/clusters/WiFiNetworkManagement.xml
  data_model/clusters/bridge-clusters-BridgedDeviceBasicInformationCluster.xml
  data_model/device_types/BaseDeviceType.xml
  data_model/device_types/BasicVideoPlayer.xml
  data_model/device_types/CastingVideoClient.xml
  data_model/device_types/CastingVideoPlayer.xml
  data_model/device_types/ColorDimmerSwitch.xml
  data_model/device_types/ColorTemperatureLight.xml
  data_model/device_types/ContentApp.xml
  data_model/device_types/ControlBridge.xml
  data_model/device_types/CookSurface.xml
  data_model/device_types/DeviceEnergyManagement.xml
  data_model/device_types/DimmableLight.xml
  data_model/device_types/DimmablePlug-InUnit.xml
  data_model/device_types/DimmerSwitch.xml
  data_model/device_types/DoorLock.xml
  data_model/device_types/DoorLockController.xml
  data_model/device_types/ExtendedColorLight.xml
  data_model/device_types/GenericSwitch.xml
  data_model/device_types/NetworkInfraManager.xml
  data_model/device_types/OnOffLight.xml
  data_model/device_types/OnOffLightSwitch.xml
  data_model/device_types/OnOffPlug-inUnit.xml
  data_model/device_types/OnOffSensor.xml
  data_model/device_types/Pump.xml
  data_model/device_types/PumpController.xml
  data_model/device_types/RoomAirConditioner.xml
  data_model/device_types/RootNodeDeviceType.xml
  data_model/device_types/Thermostat.xml
  data_model/device_types/VideoRemoteControl.xml
  data_model/device_types/WindowCovering.xml
  data_model/device_types/WindowCoveringController.xml
  data_model/spec_sha
Labels: review - pending, fast track, sve, request sve, sve cherry pick

#32427 Move `ReadPrepareparams.h` to app:interaction-model.
  .github/workflows/lint.yml
  src/app/BUILD.gn
Labels: app, github, workflows, review - approved

#32442 Move `MessageDef:events` back to `app:events`
  examples/chip-tool/BUILD.gn
  examples/chip-tool/commands/clusters/DataModelLogger.h
  examples/chip-tool/commands/common/RemoteDataModelLogger.h
  src/app/BUILD.gn
  src/app/EventHeader.h
  src/app/EventLoggingTypes.h
  src/app/EventManagement.h
  src/app/MessageDef/BUILD.gn
  src/app/MessageDef/EventDataIB.h
  src/app/ReadClient.h
  src/app/common/BUILD.gn
  src/app/tests/TestEventLogging.cpp
  src/app/tests/TestEventLoggingNoUTCTime.cpp
  src/app/tests/TestEventOverflow.cpp
  src/app/tests/TestFabricScopedEventLogging.cpp
  src/app/tests/integration/MockEvents.cpp
  src/app/zap-templates/templates/app/cluster-objects.zapt
  src/controller/java/AndroidCallbacks.cpp
  src/darwin/Framework/CHIP/MTRBaseDevice_Internal.h
  src/darwin/Framework/CHIP/MTRBaseSubscriptionCallback.h
  src/darwin/Framework/CHIP/MTREventTLVValueDecoder_Internal.h
  src/darwin/Framework/CHIP/templates/MTREventTLVValueDecoder-src.zapt
  src/darwin/Framework/CHIP/zap-generated/MTREventTLVValueDecoder.mm
  zzz_generated/app-common/app-common/zap-generated/cluster-objects.h
Labels: tools, examples, darwin, controller, app, review - approved, tests

#32426 Added a copy constructor for SensitiveDataBuffer
  src/app/icd/client/RefreshKeySender.cpp
  src/crypto/CHIPCryptoPAL.h
Labels: crypto, app, review - approved, icd

#32448 Stop explicitly building files that are part of libCHIP in Xcode.
  src/darwin/Framework/Matter.xcodeproj/project.pbxproj
Labels: darwin

#32441 Disable flaky MRP test
  src/messaging/tests/TestReliableMessageProtocol.cpp
Labels: review - approved, messaging

#32447 [Darwin] Followup PR for missed code review comments
  src/darwin/Framework/CHIP/MTRMetrics.h
  src/darwin/Framework/CHIP/MTRMetricsCollector.mm
Labels: darwin, review - pending, fast track

#31430 [Report Scheduler] Documentation update
  src/app/reporting/ReportScheduler.h
  src/app/reporting/ReportSchedulerImpl.cpp
  src/app/reporting/ReportSchedulerImpl.h
  src/app/reporting/SynchronizedReportSchedulerImpl.cpp
  src/app/reporting/SynchronizedReportSchedulerImpl.h
Labels: app, review - approved

#30866 PICS Generator tool update
  src/tools/PICS-generator/PICSGenerator.py
  src/tools/PICS-generator/README.md
Labels: tools, review - approved, tests

#32453 [Kotlin] Remove unused dependency
  src/controller/java/BUILD.gn
Labels: controller, review - approved

#32395 Fix loading of CD signing certs in chip-tool.
  examples/chip-tool/commands/common/CHIPCommand.cpp
  src/credentials/attestation_verifier/FileAttestationTrustStore.cpp
  src/credentials/attestation_verifier/FileAttestationTrustStore.h
Labels: tools, examples, review - approved

#32355 [ESP32] Tracing : Added the fix of data type mismatch while registering the metrics in esp32 tracing framework.
  scripts/tools/check_includes_config.py
  src/tracing/esp32_trace/esp32_tracing.cpp
  src/tracing/esp32_trace/esp32_tracing.h
Labels: scripts, review - approved

#32474 [ESP32] bump the component manager version
  scripts/setup/constraints.txt
Labels: scripts, review - approved

#32460 Add pigweed support for nrfconnect
  config/nrfconnect/chip-gn/.gn
  src/BUILD.gn
  src/test_driver/nrfconnect/main/runner.cpp
Labels: config, review - approved, test driver

#32461 [Zephyr] Make include of "zephyr/bluetooth/hci.h" explicit in src/platform/Zephyr/BLEManagerImpl.cpp
  src/platform/Zephyr/BLEManagerImpl.cpp
Labels: platform, zephyr, review - approved

#32463 [app] Do not crash if CommandHandler fails to allocate packet
  src/app/CommandHandler.cpp
Labels: app, review - approved

#32444 Zap updates to resolve zap warnings for lock, thermostat and light-switch examples.
  examples/light-switch-app/light-switch-common/light-switch-app.matter
  examples/light-switch-app/light-switch-common/light-switch-app.zap
  examples/lock-app/lock-common/lock-app.matter
  examples/lock-app/lock-common/lock-app.zap
  examples/thermostat/thermostat-common/thermostat.matter
  examples/thermostat/thermostat-common/thermostat.zap
  src/app/zap-templates/zcl/data-model/chip/matter-devices.xml
Labels: examples, app, review - approved

#32475 [Kotlin] Cleanup obsolete Json package dependency
  src/controller/java/BUILD.gn
Labels: controller, review - approved

#32483 Increase size to be more readable on 4k monitor
  docs/cluster_and_device_type_dev/img/cluster_commands.png
Labels: review - approved

#32477 [UnitTests] Added UnitTests for MetricEvents in tracing
  src/tracing/tests/BUILD.gn
  src/tracing/tests/TestMetricEvents.cpp
Labels: review - approved

#32446 Make it possible to dynamically set MRP parameters.
  src/messaging/ReliableMessageProtocolConfig.cpp
  src/messaging/ReliableMessageProtocolConfig.h
  src/platform/BUILD.gn
Labels: platform, review - approved, messaging

#32490 Stop treating BUSY response as fatal when CASE re-attempts are enabled.
  src/app/OperationalSessionSetup.cpp
  src/app/OperationalSessionSetup.h
  src/protocols/secure_channel/CASEServer.cpp
  src/protocols/secure_channel/CASESession.cpp
  src/protocols/secure_channel/CASESession.h
  src/protocols/secure_channel/PASESession.cpp
  src/protocols/secure_channel/PASESession.h
  src/protocols/secure_channel/PairingSession.h
  src/protocols/secure_channel/SessionEstablishmentDelegate.h
Labels: review - approved, release note

#32495 Add OperationalState to chef examples
  examples/chef/common/chef-operational-state-delegate-impl.cpp
  examples/chef/common/chef-operational-state-delegate-impl.h
  examples/chef/linux/BUILD.gn
  examples/chef/nrfconnect/CMakeLists.txt
Labels: examples, review - approved

#32472 [Android] Add Discovered Device information
  src/controller/java/BUILD.gn
  src/controller/java/CHIPDeviceController-JNI.cpp
  src/controller/java/src/chip/devicecontroller/CommissioningWindowStatus.java
  src/controller/java/src/chip/devicecontroller/DiscoveredDevice.java
  src/controller/java/src/chip/devicecontroller/PairingHintBitmap.java
Labels: controller, review - approved

#32445 DM XML scrape for 0.9 spring 2024
  data_model/clusters/Binding-Cluster.xml
  data_model/clusters/ColorControl.xml
  data_model/clusters/GeneralCommissioningCluster.xml
  data_model/clusters/ICDManagement.xml
  data_model/clusters/LevelControl.xml
  data_model/clusters/MediaPlayback.xml
  data_model/clusters/Messages.xml
  data_model/clusters/NetworkIdentityManagement.xml
  data_model/clusters/OperationalState.xml
  data_model/clusters/PowerSourceCluster.xml
  data_model/clusters/Thermostat.xml
  data_model/clusters/TimeSync.xml
  data_model/clusters/WaterHeaterManagement.xml
  data_model/clusters/WiFiNetworkManagement.xml
  data_model/clusters/bridge-clusters-BridgedDeviceBasicInformationCluster.xml
  data_model/device_types/BaseDeviceType.xml
  data_model/device_types/BasicVideoPlayer.xml
  data_model/device_types/CastingVideoClient.xml
  data_model/device_types/CastingVideoPlayer.xml
  data_model/device_types/ColorDimmerSwitch.xml
  data_model/device_types/ColorTemperatureLight.xml
  data_model/device_types/ContentApp.xml
  data_model/device_types/ControlBridge.xml
  data_model/device_types/CookSurface.xml
  data_model/device_types/DeviceEnergyManagement.xml
  data_model/device_types/DimmableLight.xml
  data_model/device_types/DimmablePlug-InUnit.xml
  data_model/device_types/DimmerSwitch.xml
  data_model/device_types/DoorLock.xml
  data_model/device_types/DoorLockController.xml
  data_model/device_types/ExtendedColorLight.xml
  data_model/device_types/GenericSwitch.xml
  data_model/device_types/NetworkInfraManager.xml
  data_model/device_types/OnOffLight.xml
  data_model/device_types/OnOffLightSwitch.xml
  data_model/device_types/OnOffPlug-inUnit.xml
  data_model/device_types/OnOffSensor.xml
  data_model/device_types/Pump.xml
  data_model/device_types/PumpController.xml
  data_model/device_types/RoomAirConditioner.xml
  data_model/device_types/RootNodeDeviceType.xml
  data_model/device_types/Thermostat.xml
  data_model/device_types/VideoRemoteControl.xml
  data_model/device_types/WindowCovering.xml
  data_model/device_types/WindowCoveringController.xml
  data_model/spec_sha
Labels: review - pending, fast track, sve, request sve, sve cherry pick

#31704 Remove unset threadNetwork Scan
  src/controller/CommissioningDelegate.h
  src/controller/java/AndroidDeviceControllerWrapper.cpp
  src/controller/java/AndroidDeviceControllerWrapper.h
  src/controller/java/CHIPDeviceController-JNI.cpp
Labels: controller, review - approved

#32376 [Linux] Use reinterpret_cast<> for trivial glib casting
  src/platform/Linux/bluez/BluezAdvertisement.cpp
  src/platform/Linux/bluez/BluezConnection.cpp
  src/platform/Linux/bluez/BluezEndpoint.cpp
  src/platform/Linux/bluez/BluezObjectIterator.h
  src/platform/Linux/bluez/ChipDeviceScanner.cpp
Labels: platform, linux, review - approved

#32372 [Linux] Reuse AdapterIterator in all places where listing managed objects
  src/platform/GLibTypeDeleter.h
  src/platform/Linux/bluez/AdapterIterator.cpp
  src/platform/Linux/bluez/AdapterIterator.h
  src/platform/Linux/bluez/BluezConnection.cpp
  src/platform/Linux/bluez/BluezEndpoint.cpp
  src/platform/Linux/bluez/BluezEndpoint.h
  src/platform/Linux/bluez/BluezObjectIterator.h
  src/platform/Linux/bluez/BluezObjectList.h
Labels: platform, linux, review - approved

#32482 Add checks for mOTInst in GenericThreadStackManagerImpl_OpenThread
  src/platform/OpenThread/GenericThreadStackManagerImpl_OpenThread.hpp
Labels: platform, review - approved

#32492 enabled required identify_type attribute in thermostat.zap
  examples/thermostat/thermostat-common/thermostat.matter
  examples/thermostat/thermostat-common/thermostat.zap
Labels: examples, review - approved

#32464 Fixes #32429 Added PICS guard to steps in TC_EEM_2_1
  src/python_testing/TC_EEM_2_1.py
  src/python_testing/TC_EEM_2_2.py
  src/python_testing/TC_EEM_2_3.py
  src/python_testing/TC_EEM_2_4.py
  src/python_testing/TC_EEM_2_5.py
  src/python_testing/TC_EEVSE_2_4.py
  src/python_testing/TC_EEVSE_2_5.py
  src/python_testing/TC_EPM_2_2.py
Labels: review - approved, sve, tests

#32503 Add Pigweed support for Tizen
  src/test_driver/tizen/.gn
Labels: review - approved, test driver

#32519 SVE fixes: fix default and null audio track on android
  examples/tv-app/android/java/MediaPlaybackManager.cpp
  examples/tv-app/android/java/src/com/matter/tv/server/tvapp/MediaPlaybackManagerStub.java
Labels: examples, review - approved

#32513 Prioritize DNS-SD results from the network on tvOS.
  .github/workflows/darwin.yaml
  src/platform/Darwin/DnssdContexts.cpp
  src/platform/Darwin/DnssdImpl.h
Labels: platform, darwin, github, workflows, review - approved

#32517 Add TVOC in Linux Air Quality Example README
  .github/.wordlist.txt
  examples/air-quality-sensor-app/linux/README.md
Labels: examples, github, review - approved

#32499 Use Optional<ExchangeHandle> variable instead of ExchangeContext in PairingSession
  src/protocols/secure_channel/CASESession.cpp
  src/protocols/secure_channel/PASESession.cpp
  src/protocols/secure_channel/PairingSession.cpp
  src/protocols/secure_channel/PairingSession.h
Labels: review - approved, protocols

#32535 Remove redundant SetValue() for Optional ExchangeHandle in CASESession.cpp
  src/protocols/secure_channel/CASESession.cpp
Labels: review - approved, protocols

#30837 Added script to generate a basic RevocationSet from TestNet or MainNet
  credentials/generate-revocation-set.py
Labels: review - approved

#32476 [Android] Support ICD Check in message
  examples/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/ChipClient.kt
  src/controller/java/AndroidDeviceControllerWrapper.cpp
  src/controller/java/AndroidDeviceControllerWrapper.h
  src/controller/java/CHIPDeviceController-JNI.cpp
  src/controller/java/src/chip/devicecontroller/ControllerParams.java
  src/controller/java/src/matter/controller/ControllerParams.kt
  src/controller/java/src/matter/controller/MatterControllerImpl.kt
Labels: examples, controller, review - approved

#32522 DeviceCommissioner: Track ExtendArmFailSafe conditionally and manage CASE callbacks accurately
  examples/platform/linux/Options.cpp
  src/controller/CHIPDeviceController.cpp
  src/controller/CHIPDeviceController.h
  src/darwin/Framework/CHIPTests/MTRPairingTests.m
  src/lib/support/CHIPFaultInjection.cpp
  src/lib/support/CHIPFaultInjection.h
  src/protocols/secure_channel/CASEServer.cpp
Labels: examples, platform, darwin, lib, controller, review - approved, support, protocols

#28045 ESP32: Do not read the ap record if esp_wifi_scan_start() is not called by NetworkCommissioningDriver [Cherrypick 27161]
  src/platform/ESP32/NetworkCommissioningDriver.cpp
Labels: platform, esp32

#32370 [cherrypick][v1.1-branch] Cherry picking lwip related fixes
  config/esp32/components/chip/Kconfig
  src/inet/BUILD.gn
  src/inet/EndPointStateLwIP.cpp
  src/inet/EndPointStateLwIP.h
  src/inet/TCPEndPointImplLwIP.cpp
  src/inet/UDPEndPointImplLwIP.cpp
  src/platform/ESP32/route_hook/ESP32RouteHook.c
Labels: platform, esp32, inet, config

#32540 Log signed vs unsigned for TLV payloads.
  src/app/MessageDef/MessageDefHelper.cpp
Labels: app, review - approved

#32531 [NXP][Zephyr] Fix deprecated rand32 inclusion
  src/platform/Zephyr/BLEManagerImpl.cpp
  src/platform/nxp/rt/rw61x/BUILD.gn
  third_party/nxp/rt_sdk/sdk_hook/zephyr/random/random.cpp
  third_party/nxp/rt_sdk/sdk_hook/zephyr/random/random.h
Labels: platform, zephyr, review - approved

#32537 Make it possible to dynamically set the "sender boost" for MRP.
  src/messaging/ReliableMessageMgr.cpp
  src/messaging/ReliableMessageMgr.h
Labels: review - approved, messaging

#32539 Fix LevelControl Move when no motion requested
  src/app/clusters/level-control/level-control.cpp
  src/app/tests/suites/certification/Test_TC_LVL_4_1.yaml
Labels: app, review - approved, tests

#32487 Make use of ZAP's new support for specifying the parent of an endpoint.
  scripts/tools/zap/tests/outputs/all-clusters-app/app-templates/endpoint_config.h
  scripts/tools/zap/tests/outputs/lighting-app/app-templates/endpoint_config.h
  src/app/util/attribute-storage.cpp
  src/app/zap-templates/templates/app/endpoint_config.zapt
  src/darwin/Framework/CHIP/zap-generated/endpoint_config.h
Labels: scripts, darwin, app, review - approved

#32470 [Silabs] Bugfix/redundant 917 ifdef
  examples/lighting-app/silabs/src/AppTask.cpp
  examples/platform/silabs/BaseApplication.cpp
  examples/platform/silabs/FreeRTOSConfig.h
  examples/platform/silabs/MatterConfig.cpp
  examples/platform/silabs/OTAConfig.cpp
  examples/platform/silabs/SiWx917/SiWx917/sl_wifi_if.c
  examples/platform/silabs/SiWx917/SiWx917/sl_wlan_config.h
  examples/platform/silabs/SilabsDeviceAttestationCreds.cpp
  examples/platform/silabs/display/demo-ui.c
  examples/platform/silabs/display/lcd.cpp
  examples/platform/silabs/efr32/rs911x/hal/rsi_hal_mcu_interrupt.c
  examples/platform/silabs/efr32/rs911x/sl_wlan_config.h
  examples/thermostat/silabs/src/ThermostatUI.cpp
  src/platform/silabs/KeyValueStoreManagerImpl.cpp
  src/platform/silabs/SilabsConfig.cpp
  src/platform/silabs/efr32/wifi/ethernetif.cpp
  src/platform/silabs/efr32/wifi/wfx_host_events.h
  src/platform/silabs/rs911x/BLEManagerImpl.cpp
  src/platform/silabs/rs911x/rsi_ble_config.h
  src/platform/silabs/rs911x/wfx_sl_ble_init.h
  third_party/silabs/SiWx917_sdk.gni
Labels: examples, platform, review - approved, silabs

#32509 [Darwin] MTRDevice isCachePrimed parts list check fix
  src/darwin/Framework/CHIP/MTRDevice.mm
Labels: darwin, review - pending, fast track

#32504 [Silabs] [WiFi] Modifying the temp_reset struct from pointer to variable
  examples/platform/silabs/SiWx917/SiWx917/sl_wifi_if.c
  examples/platform/silabs/efr32/rs911x/rsi_if.c
Labels: examples, platform, review - approved

#32459 [Android] Fix discover Commissionable Device API issue when discovered multiple devices
  examples/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/ChipClient.kt
  src/controller/AbstractDnssdDiscoveryController.cpp
  src/platform/android/java/chip/platform/NsdManagerServiceBrowser.java
  src/platform/android/java/chip/platform/NsdManagerServiceResolver.java
  src/platform/android/java/chip/platform/NsdServiceFinderAndResolver.java
Labels: examples, platform, controller, review - approved

#32500 [ICD] Fix wrong MaxICDClientInfoSize
  src/app/icd/client/DefaultICDClientStorage.h
Labels: app, review - approved, icd

#32485 RVC test script - fix invalid pics code
  examples/rvc-app/rvc-common/pics/rvc-app-pics-values
  src/python_testing/TC_RVCOPSTATE_2_3.py
Labels: examples, review - approved, tests

#32548 Add a Matter.framework API for configuring MRP parameters.
  examples/darwin-framework-tool/BUILD.gn
  examples/darwin-framework-tool/commands/common/CHIPCommandBridge.h
  examples/darwin-framework-tool/commands/configuration/Commands.h
  examples/darwin-framework-tool/commands/configuration/ResetMRPParametersCommand.h
  examples/darwin-framework-tool/commands/configuration/ResetMRPParametersCommand.mm
  examples/darwin-framework-tool/commands/configuration/SetMRPParametersCommand.h
  examples/darwin-framework-tool/commands/configuration/SetMRPParametersCommand.mm
  examples/darwin-framework-tool/main.mm
  src/darwin/Framework/CHIP/MTRDeviceControllerFactory.h
  src/darwin/Framework/CHIP/MTRDeviceControllerFactory.mm
  src/darwin/Framework/Matter.xcodeproj/project.pbxproj
  src/darwin/Framework/chip_xcode_build_connector.sh
  src/messaging/ReliableMessageMgr.h
Labels: examples, darwin, review - pending, fast track, messaging

#32551 Not call OnReadCommissioningInfo when error happens
  src/controller/CHIPDeviceController.cpp
Labels: controller, review - approved

#32538 [Silabs] Wifi Scan Semaphore
  examples/platform/silabs/MatterConfig.cpp
  examples/platform/silabs/SiWx917/SiWx917/sl_wifi_if.c
Labels: examples, platform, review - approved

#32556 Add a way for a client to know if the device cache is primed in Darwin
  src/darwin/Framework/CHIP/MTRDevice.h
  src/darwin/Framework/CHIP/MTRDevice.mm
Labels: darwin, review - pending

#32235 [Android] Fix onNOCChainGeneration terminate issue
  src/controller/java/CHIPDeviceController-JNI.cpp
Labels: controller, review - approved

#32561 Updating documentation for this property
  src/darwin/Framework/CHIP/MTRDevice.h
Labels: darwin, review - pending

#32296 YAML-Updates-2-23-2024
  src/app/tests/suites/certification/Test_TC_CNET_4_12.yaml
  src/app/tests/suites/certification/Test_TC_DLOG_2_1.yaml
  src/app/tests/suites/certification/Test_TC_DLOG_2_2.yaml
  src/app/tests/suites/certification/Test_TC_DLOG_3_1.yaml
  src/app/tests/suites/certification/Test_TC_EEVSE_2_1.yaml
  src/app/tests/suites/certification/Test_TC_GRPKEY_2_1.yaml
  src/app/tests/suites/certification/Test_TC_PWRTL_1_1.yaml
  src/app/tests/suites/certification/Test_TC_TMP_2_1.yaml
Labels: app, review - pending, sve, tests

#32559 [Darwin] MTRDevice attribute storage mutable array enumeration fix
  src/darwin/Framework/CHIP/MTRDeviceControllerDataStore.mm
  src/darwin/Framework/CHIPTests/MTRPerControllerStorageTests.m
  src/darwin/Framework/CHIPTests/TestHelpers/MTRTestDeclarations.h
Labels: hotfix, darwin, review - approved

#32562 YAML-Updates-2-23-2024
  src/app/tests/suites/certification/Test_TC_CNET_4_12.yaml
  src/app/tests/suites/certification/Test_TC_DLOG_2_1.yaml
  src/app/tests/suites/certification/Test_TC_DLOG_2_2.yaml
  src/app/tests/suites/certification/Test_TC_DLOG_3_1.yaml
  src/app/tests/suites/certification/Test_TC_EEVSE_2_1.yaml
  src/app/tests/suites/certification/Test_TC_GRPKEY_2_1.yaml
  src/app/tests/suites/certification/Test_TC_PWRTL_1_1.yaml
  src/app/tests/suites/certification/Test_TC_TMP_2_1.yaml
Labels: app, review - pending, sve, tests, sve cherry pick

#32553 Added macro variants with metric support matching the ones in CodeUtils
  src/tracing/metric_macros.h
  src/tracing/tests/TestMetricEvents.cpp
Labels: review - approved

#32563 More mistakes in documentation
  src/darwin/Framework/CHIP/MTRDevice.h
Labels: darwin, review - pending

#32554 Matter SDK Doctor
  scripts/sdk-doctor/_network.sh
  scripts/sdk-doctor/_os.sh
  scripts/sdk-doctor/_repo.sh
  scripts/sdk-doctor/_version.sh
  scripts/sdk-doctor/sdk-doctor.sh
Labels: scripts, review - approved

#32567 Work around TSAN ASLR issue in CI
  .github/actions/checkout-submodules-and-bootstrap/action.yaml
  .github/actions/maximize-runner-disk/action.yaml
Labels: github, review - approved

#32575 Fix compiler error on tip of tree
  src/controller/AbstractDnssdDiscoveryController.cpp
Labels: hotfix, controller, review - approved

#32579 Make MTRDevice mark itself as unreachable after 10s of waiting for a subscription
  src/darwin/Framework/CHIP/MTRDevice.mm
Labels: darwin, review - pending

#32580 MTR_EXTERN should not imply MTR_EXPORT.
  src/darwin/Framework/CHIP/MTRDefines.h
  src/darwin/Framework/CHIP/MTRDeviceControllerLocalTestStorage.h
Labels: darwin, review - pending, fast track

#32564 Update ZAP to v2024.03.14-nightly.
  scripts/setup/zap.json
  scripts/setup/zap.version
  scripts/tools/zap/tests/outputs/all-clusters-app/app-templates/endpoint_config.h
  scripts/tools/zap/tests/outputs/lighting-app/app-templates/endpoint_config.h
  scripts/tools/zap/zap_execution.py
  src/app/util/attribute-storage.cpp
Labels: scripts, app, review - approved

#32581 Stop forcing a particular interface ID when sending response messages.
  src/transport/SessionManager.cpp
Labels: transport, review - approved

#32573 Remove redundant checks from the operational state impl in all-clusters-app.
  examples/all-clusters-app/all-clusters-common/src/operational-state-delegate-impl.cpp
Labels: examples, review - approved

#32574 [Python] Delete BLE scanner handle in an explicit way
  src/controller/python/chip/ble/LinuxImpl.cpp
  src/controller/python/chip/ble/darwin/Scanning.mm
  src/controller/python/chip/ble/library_handle.py
  src/controller/python/chip/ble/scan_devices.py
  src/platform/Linux/bluez/AdapterIterator.cpp
  src/platform/Linux/bluez/AdapterIterator.h
  src/platform/Linux/bluez/ChipDeviceScanner.cpp
Labels: platform, linux, controller, review - approved

#32566 [Android] Add StopDevicePairing method in Java
  src/controller/java/src/chip/devicecontroller/ChipDeviceController.java
Labels: controller, review - approved

#32557 [Android] Implement check in delegate
  examples/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/ChipClient.kt
  src/controller/java/AndroidCheckInDelegate.cpp
  src/controller/java/AndroidCheckInDelegate.h
  src/controller/java/AndroidDeviceControllerWrapper.cpp
  src/controller/java/AndroidDeviceControllerWrapper.h
  src/controller/java/BUILD.gn
  src/controller/java/CHIPDeviceController-JNI.cpp
  src/controller/java/src/chip/devicecontroller/ChipDeviceController.java
  src/controller/java/src/chip/devicecontroller/ICDCheckInDelegate.java
  src/controller/java/src/chip/devicecontroller/ICDCheckInDelegateWrapper.java
Labels: examples, controller, review - approved

#32502 [Linux] Factor common code when connecting BLE device
  src/platform/Linux/bluez/BluezEndpoint.cpp
Labels: review - approved

#32532 [Chef] Implement DoorLock example app
  examples/chef/common/clusters/door-lock/chef-doorlock-stubs.cpp
  examples/chef/common/clusters/door-lock/chef-lock-endpoint.cpp
  examples/chef/common/clusters/door-lock/chef-lock-endpoint.h
  examples/chef/common/clusters/door-lock/chef-lock-manager.cpp
  examples/chef/common/clusters/door-lock/chef-lock-manager.h
  examples/chef/common/stubs.cpp
  examples/chef/devices/rootnode_doorlock_aNKYAreMXE.matter
  examples/chef/devices/rootnode_doorlock_aNKYAreMXE.zap
  examples/chef/esp32/main/CMakeLists.txt
  examples/chef/linux/BUILD.gn
  examples/chef/nrfconnect/CMakeLists.txt
Labels: examples, review - approved

#32578 Set more than one DST offset in MTRDevice if the server supports that.
  src/darwin/Framework/CHIP/MTRDevice.mm
  src/darwin/Framework/CHIP/MTRDeviceController.mm
  src/darwin/Framework/CHIP/MTRTimeUtils.h
  src/darwin/Framework/CHIP/MTRTimeUtils.mm
  src/darwin/Framework/CHIPTests/MTRDSTOffsetTests.m
  src/darwin/Framework/Matter.xcodeproj/project.pbxproj
Labels: darwin, review - pending, fast track

#32588 Disable QEMU ESP32 test in CI until it's fixed
  .github/workflows/qemu.yaml
Labels: github, workflows, review - approved

#32254 Update RelativeHumidityMeasurement in Matter Linux Air Quality Example README.md
  examples/air-quality-sensor-app/linux/README.md
Labels: examples, review - approved

#32508 Implement a Vector-based TLVBackingStore
  scripts/tools/check_includes_config.py
  src/lib/core/BUILD.gn
  src/lib/core/TLVVectorWriter.cpp
  src/lib/core/TLVVectorWriter.h
  src/lib/core/tests/BUILD.gn
  src/lib/core/tests/TestTLVVectorWriter.cpp
  src/test_driver/esp32/cmake/esp32_unit_tests.cmake
Labels: scripts, lib, review - approved, core, test driver

#32501 Fix test app path in cirque test.
  src/controller/python/test/test_scripts/cirque_restart_remote_device.py
  src/test_driver/linux-cirque/SubscriptionResumptionCapacityTest.py
  src/test_driver/linux-cirque/SubscriptionResumptionTest.py
  src/test_driver/linux-cirque/SubscriptionResumptionTimeoutTest.py
Labels: examples, controller, review - approved, test driver

#32577 Updated Linux tv-casting-app README to include shell instructions for cluster commands.
  examples/tv-casting-app/linux/README.md
Labels: examples, scripts, transport, platform, darwin, linux, controller, app, github, workflows, review - approved

#32582 [Darwin] Adding metrics for MTRDeviceController APIs
  src/darwin/Framework/CHIP/MTRBaseDevice.mm
  src/darwin/Framework/CHIP/MTRDeviceController.mm
  src/darwin/Framework/CHIP/MTRDeviceControllerDelegateBridge.mm
  src/darwin/Framework/CHIP/MTRMetricKeys.h
  src/darwin/Framework/CHIP/MTRMetrics.h
  src/darwin/Framework/CHIP/MTRMetrics.mm
  src/darwin/Framework/CHIP/MTRMetricsCollector.mm
  src/darwin/Framework/CHIPTests/MTRMetricsTests.m
  src/darwin/Framework/Matter.xcodeproj/project.pbxproj
Labels: darwin, review - pending, fast track

#32572 [Silabs] Wifi: Bugfix/event loop
  examples/platform/silabs/SiWx917/SiWx917/sl_wifi_if.c
  examples/platform/silabs/SiWx917/SiWx917/wfx_rsi.h
  examples/platform/silabs/SiWx917/SiWx917/wfx_rsi_host.c
Labels: examples, platform, review - approved

#32586 [Linux] Do not report BLE scan error if BlueZ is gone
  src/platform/Linux/bluez/ChipDeviceScanner.cpp
  src/platform/Linux/bluez/ChipDeviceScanner.h
Labels: platform, linux, review - approved

#32584 Update github action versions
  .github/actions/bootstrap-cache/action.yaml
  .github/actions/checkout-submodules-and-bootstrap/action.yaml
  .github/actions/checkout-submodules/action.yaml
  .github/actions/perform-codeql-analysis/action.yaml
  .github/actions/upload-bootstrap-logs/action.yaml
  .github/actions/upload-size-reports/action.yaml
  .github/workflows/cirque.yaml
  .github/workflows/unit_integration_test.yaml
Labels: github, workflows, review - approved

#32455 [ESP32] bitarray is required for generate_esp32_chip_factory_bin.py script
  scripts/setup/requirements.esp32.txt
Labels: scripts, review - approved

#32035 [ESP32] Added a config option to set the permit list size for esp32 traces.
  config/esp32/components/chip/Kconfig
  src/tracing/esp32_trace/counter.h
  src/tracing/esp32_trace/esp32_tracing.cpp
Labels: config, review - approved

#32570 [nrfconnect] Bump SDK version in Docker
  integrations/docker/images/base/chip-build/version
  integrations/docker/images/stage-2/chip-build-nrf-platform/Dockerfile
  integrations/docker/images/vscode/chip-build-vscode/Dockerfile
Labels: integrations, review - approved, docker

#32465 Python spec parsing: Derived cluster grammar changed.
  src/python_testing/TestSpecParsingSupport.py
  src/python_testing/spec_parsing_support.py
Labels: review - pending, fast track, sve, request sve, tests, sve cherry pick

#32410 Spec parsing: Use new ID table
  src/python_testing/TestSpecParsingSupport.py
  src/python_testing/spec_parsing_support.py
Labels: review - pending, fast track, tests

#32419 TC-IDM-10.4: Catch feature mask errors and log
  src/python_testing/TC_pics_checker.py
Labels: review - pending, fast track, sve, request sve, tests, sve cherry pick

#32236 [Android] Implement validate Device attestation API
  examples/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/attestation/ExampleAttestationTrustStoreDelegate.kt
  src/controller/java/AndroidOperationalCredentialsIssuer.cpp
  src/controller/java/BUILD.gn
  src/controller/java/CHIPDeviceController-JNI.cpp
  src/controller/java/DeviceAttestation-JNI.cpp
  src/controller/java/DeviceAttestationDelegateBridge.cpp
  src/controller/java/src/chip/devicecontroller/AttestationInfo.java
  src/controller/java/src/chip/devicecontroller/ChipDeviceController.java
  src/controller/java/src/chip/devicecontroller/DeviceAttestation.java
Labels: examples, controller, review - pending, fast track

#32308 [Python] support host test mode
  src/controller/python/chip/clusters/Attribute.py
  src/controller/python/chip/clusters/attribute.cpp
Labels: controller, review - pending, fast track

#32617 [Linux] Convert glib objects to GAutoPtr<> in BlueZ
  src/platform/Linux/bluez/BluezAdvertisement.cpp
  src/platform/Linux/bluez/BluezAdvertisement.h
  src/platform/Linux/bluez/BluezConnection.cpp
  src/platform/Linux/bluez/BluezConnection.h
  src/platform/Linux/bluez/BluezEndpoint.cpp
  src/platform/Linux/bluez/BluezEndpoint.h
  src/platform/Linux/bluez/Types.h
Labels: platform, linux, review - approved

#32611 [Chef] Fix compilation error by removing printing ChipError number
  examples/chef/common/clusters/door-lock/chef-lock-endpoint.cpp
Labels: examples, review - approved

#32506 Add Pigweed support for efr32
  src/BUILD.gn
  src/test_driver/efr32/.gn
  src/test_driver/efr32/BUILD.gn
  src/test_driver/efr32/args.gni
  src/test_driver/efr32/py/BUILD.gn
  src/test_driver/efr32/py/pw_test_runner/pw_test_runner.py
  src/test_driver/efr32/py/pw_test_runner/pyproject.toml
  src/test_driver/efr32/py/pw_test_runner/setup.cfg
  src/test_driver/efr32/py/pw_test_runner/setup.py
  src/test_driver/efr32/src/main.cpp
Labels: review - pending, fast track, test driver

#32622 Add 3 more headers from ember src/app/util to be known to gn
  .github/workflows/lint.yml
  src/app/BUILD.gn
  src/app/util/BUILD.gn
Labels: app, github, workflows, review - approved

#32583 Parallelize Darwin CI build
  .github/workflows/darwin.yaml
  build/config/mac/mac_sdk.gni
  examples/tv-casting-app/darwin/MatterTvCastingBridge/chip_xcode_build_connector.sh
  src/darwin/Framework/CHIP/MTRDeviceControllerXPCConnection.mm
  src/darwin/Framework/CHIP/ServerEndpoint/MTRAccessGrant.mm
  src/darwin/Framework/Matter.xcodeproj/project.pbxproj
Labels: examples, darwin, github, workflows, gn, review - approved, fast track

#32568 [Android] virtual-device-app: Update device eventId constants
  examples/virtual-device-app/android/java/src/com/matter/virtual/device/app/DeviceEventType.java
Labels: examples, review - approved

#32434 [Linux] BLE advertising: Handle adapter removal
  docs/ERROR_CODES.md
  src/ble/BleError.cpp
  src/ble/BleError.h
  src/ble/tests/TestBleErrorStr.cpp
  src/platform/Linux/BLEManagerImpl.cpp
  src/platform/Linux/BLEManagerImpl.h
  src/platform/Linux/CHIPDevicePlatformEvent.h
  src/platform/Linux/bluez/BluezAdvertisement.cpp
  src/platform/Linux/bluez/BluezEndpoint.cpp
Labels: documentation, platform, linux, ble, review - approved

#32558 Moving more Darwin stuff to std::lock_guard lock(_lock);
  src/darwin/Framework/CHIP/MTRAsyncCallbackWorkQueue.mm
  src/darwin/Framework/CHIP/MTRAsyncWorkQueue.mm
  src/darwin/Framework/CHIP/MTRDevice.mm
  src/darwin/Framework/CHIP/MTRDeviceController.mm
  src/darwin/Framework/CHIP/MTRDeviceControllerFactory.mm
  src/darwin/Framework/CHIP/MTRLogging.mm
Labels: scripts, darwin, review - approved

#32610 CI: Don't run bootstrap if we restored from cache
  .github/actions/bootstrap-cache/action.yaml
  .github/actions/bootstrap/action.yaml
  .github/actions/checkout-submodules-and-bootstrap/action.yaml
  .github/actions/upload-bootstrap-logs/action.yaml
  .github/workflows/cirque.yaml
  .github/workflows/fuzzing-build.yaml
  .github/workflows/release_artifacts.yaml
  scripts/setup/bootstrap.sh
  scripts/setup/requirements.silabs.txt
Labels: scripts, github, workflows, review - approved

#32547 [Silabs] Si917: C files converted to C++.
  examples/platform/silabs/SiWx917/BUILD.gn
  examples/platform/silabs/SiWx917/SiWx917/sl_wifi_if.cpp
  examples/platform/silabs/SiWx917/SiWx917/wfx_rsi_host.cpp
  examples/platform/silabs/efr32/rs911x/rs9117.gni
  examples/platform/silabs/efr32/rs911x/rs911x.gni
  examples/platform/silabs/efr32/rs911x/sl_wifi_if.c
  examples/platform/silabs/efr32/rs911x/sl_wifi_if.cpp
  examples/platform/silabs/efr32/rs911x/wfx_rsi_host.cpp
Labels: examples, platform, review - approved, silabs

#32637 Darwin project fixes
  src/darwin/Framework/Matter.xcodeproj/project.pbxproj
  src/darwin/Framework/chip_xcode_build_connector.sh
Labels: darwin, review - pending, fast track

#32633 [Silabs] Wi-fi: Header duplication removed.
  examples/platform/silabs/SiWx917/SiWx917/wfx_rsi.h
  examples/platform/silabs/wfx_rsi.h
  src/platform/silabs/rs911x/wfx_sl_ble_init.h
Labels: examples, platform, review - approved, silabs

#32623 Create `ember-compatibility-functions.h` to represent what `ember-compatibility-functions.cpp` contains
  .github/workflows/lint.yml
  examples/common/pigweed/rpc_services/Attributes.h
  src/app/BUILD.gn
  src/app/InteractionModelEngine.cpp
  src/app/InteractionModelEngine.h
  src/app/WriteHandler.cpp
  src/app/chip_data_model.cmake
  src/app/chip_data_model.gni
  src/app/clusters/microwave-oven-control-server/microwave-oven-control-server.cpp
  src/app/clusters/pump-configuration-and-control-server/pump-configuration-and-control-server.cpp
  src/app/dynamic_server/AccessControl.cpp
  src/app/dynamic_server/DynamicDispatcher.cpp
  src/app/reporting/Engine.cpp
  src/app/reporting/reporting.cpp
  src/app/server/Server.cpp
  src/app/util/ember-compatibility-functions.cpp
  src/app/util/ember-compatibility-functions.h
  src/darwin/Framework/CHIP/ServerEndpoint/MTRServerAccessControl.mm
  src/darwin/Framework/Matter.xcodeproj/project.pbxproj
Labels: examples, darwin, app, github, workflows, review - pending, fast track

#32650 Revert "CI: Don't run bootstrap if we restored from cache (#32610)"
  .github/actions/bootstrap-cache/action.yaml
  .github/actions/bootstrap/action.yaml
  .github/actions/checkout-submodules-and-bootstrap/action.yaml
  .github/actions/upload-bootstrap-logs/action.yaml
  .github/workflows/cirque.yaml
  .github/workflows/fuzzing-build.yaml
  .github/workflows/release_artifacts.yaml
  scripts/setup/bootstrap.sh
  scripts/setup/requirements.silabs_docker.txt
Labels: hotfix, scripts, github, workflows

#32649 [Chef] Enable Fan Control all features in ZAP file
  examples/chef/devices/rootnode_fan_7N2TobIlOX.matter
  examples/chef/devices/rootnode_fan_7N2TobIlOX.zap
Labels: examples, review - pending, fast track

#32510 TC-IDM-10.4: Remove OTA PICS from check
  src/python_testing/TC_pics_checker.py
Labels: review - pending, fast track, tests

#32654 Switch GITHUB_TOKEN to BLOAT_REPORT since we seem to get 403 when downloading artifacts
  .github/workflows/bloat_check.yaml
Labels: hotfix, github, workflows

#32655 Allow manual bloat check for testing purposes, to not wait 5 minutes to test bloat report
  .github/workflows/bloat_check.yaml
Labels: hotfix, github, workflows

#32652 [Silabs] Change freertos APIs to cmsis os APIs in BaseApplication
  examples/platform/silabs/BaseApplication.cpp
  examples/platform/silabs/BaseApplication.h
Labels: examples, platform, review - approved

#32631 Dnssd changes to browse and resolve using open thread domain along wi…
  src/platform/Darwin/DnssdContexts.cpp
  src/platform/Darwin/DnssdImpl.cpp
  src/platform/Darwin/DnssdImpl.h
Labels: platform, darwin, review - pending, fast track

#32658 Darwin: Fix error handling in GetMACAddressFromInterfaces
  src/platform/Darwin/ConfigurationManagerImpl.cpp
Labels: platform, darwin, review - pending, fast track

#32645 [Silabs] Fix typo for light-switch-app
  examples/light-switch-app/silabs/include/ShellCommands.h
  examples/light-switch-app/silabs/src/LightSwitchMgr.cpp
  examples/light-switch-app/silabs/src/ShellCommands.cpp
Labels: examples, review - approved
