Repository project-chip/connectedhomeip, pull requests merged in 2024-09, with the labels that each got.

#35340 [Android][ICD] Fix ICDDeviceInfo
  src/controller/java/src/chip/devicecontroller/ICDDeviceInfo.java
Labels: controller, review - approved

#35323 Increase timeout in per_endpoint_runner - Python tests
  src/python_testing/matter_testing_support.py
Labels: review - approved, tests, matter-1.4-te2-script-change

#35353 Fix crash in fabric-admin
  examples/fabric-admin/device_manager/DeviceSynchronization.cpp
Labels: examples, review - approved

#35291 Fix remaining post-TE2 TC-SWTCH issues
  examples/all-clusters-app/linux/AllClustersCommandDelegate.cpp
  src/python_testing/TC_SWTCH.py
  src/python_testing/matter_testing_support.py
Labels: examples, review - approved, tests, matter-1.4-te2-script-change

#35359 [Fabric-Bridge] Remove duplicated attribute read override mechanism
  examples/fabric-bridge-app/fabric-bridge-common/BUILD.gn
  examples/fabric-bridge-app/fabric-bridge-common/src/BridgedDeviceManager.cpp
  examples/fabric-bridge-app/fabric-bridge-common/src/ZCLCallbacks.cpp
Labels: examples, review - approved

#35350 [icd] Introduced define to configure the slow poll limit for SIT
  config/nrfconnect/chip-module/CMakeLists.txt
  config/zephyr/Kconfig
  src/app/icd/server/ICDConfigurationData.h
  src/include/platform/CHIPDeviceConfig.h
  src/platform/nrfconnect/CHIPDevicePlatformConfig.h
Labels: platform, nrf connect, app, config, review - approved, icd

#35362 Add TBRM cluster to placeholder app1
  examples/placeholder/linux/apps/app1/BUILD.gn
  examples/placeholder/linux/apps/app1/config.matter
  examples/placeholder/linux/apps/app1/config.zap
  examples/placeholder/linux/thread-border-router-management.cpp
Labels: examples, review - approved

#35326 Enabled SEAR tests in CI.
  src/python_testing/TC_SEAR_1_3.py
  src/python_testing/execute_python_tests.py
Labels: review - approved, tests, matter-1.4-te2-script-change

#35289 [Silabs] Moving to CMSIS OS and fixing task priorities
  examples/platform/silabs/SiWx917/BUILD.gn
  examples/platform/silabs/SiWx917/SiWx917/sl_wifi_if.cpp
  examples/platform/silabs/efr32/rs911x/rs9117.gni
  examples/platform/silabs/efr32/rs911x/rs911x.gni
  examples/platform/silabs/efr32/rs911x/rsi_if.cpp
  examples/platform/silabs/efr32/rs911x/wfx_rsi_host.cpp
  examples/platform/silabs/uart.cpp
  examples/platform/silabs/wfx_rsi.h
  examples/platform/silabs/wifi/wfx_rsi_host.cpp
  src/platform/silabs/BLEManagerImpl.h
  src/platform/silabs/efr32/BLEManagerImpl.cpp
  src/platform/silabs/rs911x/BLEManagerImpl.cpp
Labels: examples, platform, review - approved, silabs

#35282 Update Matter ESP32 Energy Management Example README.md
  examples/energy-management-app/esp32/README.md
Labels: examples, review - pending, fast track

#35274 Split TC_MCORE_FS_1_3 to align with the Test Spec
  .github/workflows/tests.yaml
  examples/fabric-admin/scripts/fabric-sync-app.py
  src/python_testing/TC_MCORE_FS_1_3.py
  src/python_testing/TC_MCORE_FS_1_4.py
  src/python_testing/execute_python_tests.py
Labels: documentation, examples, github, workflows, review - approved, tests, matter-1.4-te2-script-change

#35308 Backport the packet buffer crash fix in CommandHandler on v1.3-branch.
  src/app/CommandHandler.h
Labels: app

#35357 [nrfconnect] Added BT reassembly config as default for SMP DFU samples
  config/nrfconnect/chip-module/Kconfig.features
Labels: config, review - approved

#35217 [Chef] Add Water Leak Detector
  examples/chef/devices/rootnode_waterleakdetector_0b067acfa3.matter
  examples/chef/devices/rootnode_waterleakdetector_0b067acfa3.zap
  examples/chef/sample_app_util/matter_device_types.json
Labels: examples, review - pending, fast track

#35219 [Chef] Update template.zap file to fix warnings on EP0
  examples/chef/devices/template.zap
Labels: examples, review - pending, fast track

#35176 Create memory delegate
  examples/rvc-app/linux/BUILD.gn
  examples/rvc-app/rvc-common/include/rvc-device.h
  examples/rvc-app/rvc-common/include/rvc-service-area-delegate.h
  examples/rvc-app/rvc-common/include/rvc-service-area-storage-delegate.h
  examples/rvc-app/rvc-common/src/rvc-device.cpp
  examples/rvc-app/rvc-common/src/rvc-service-area-delegate.cpp
  examples/rvc-app/rvc-common/src/rvc-service-area-storage-delegate.cpp
  src/app/chip_data_model.gni
  src/app/clusters/service-area-server/README.md
  src/app/clusters/service-area-server/service-area-cluster-objects.h
  src/app/clusters/service-area-server/service-area-delegate.h
  src/app/clusters/service-area-server/service-area-server.cpp
  src/app/clusters/service-area-server/service-area-server.h
  src/app/clusters/service-area-server/service-area-storage-delegate.cpp
  src/app/clusters/service-area-server/service-area-storage-delegate.h
Labels: examples, app, review - approved

#32880 Fix kotlin tests, remove unused code
  src/controller/java/src/matter/onboardingpayload/QRCodeBasicOnboardingPayloadGenerator.kt
  src/controller/java/tests/matter/onboardingpayload/ManualCodeTest.kt
  src/controller/java/tests/matter/onboardingpayload/QRCodeTest.kt
Labels: controller, review - pending, fast track

#35367 Add fabric-sync-app to TH image
  examples/fabric-admin/scripts/fabric-sync-app.py
  integrations/docker/images/chip-cert-bins/Dockerfile
Labels: examples, integrations, review - approved, docker

#35081 TC-IDM-10.2: Get provisional cluster status from spec
  .github/workflows/tests.yaml
  src/python_testing/TC_DeviceConformance.py
  src/python_testing/TestConformanceTest.py
  src/python_testing/TestSpecParsingSupport.py
  src/python_testing/execute_python_tests.py
  src/python_testing/spec_parsing_support.py
Labels: github, workflows, review - approved, tests, matter-1.4-te2-script-change

#35295 [TI] Enable LIT ICD support for CC13x4_26x4, remove all-clusters-app
  docs/guides/darwin.md
  docs/guides/ti/matter-users-guide/enabling_icd_on_ti_devices.md
  examples/all-clusters-app/cc13x4_26x4/.gn
  examples/all-clusters-app/cc13x4_26x4/BUILD.gn
  examples/all-clusters-app/cc13x4_26x4/README.md
  examples/all-clusters-app/cc13x4_26x4/args.gni
  examples/all-clusters-app/cc13x4_26x4/build_overrides
  examples/all-clusters-app/cc13x4_26x4/chip.syscfg
  examples/all-clusters-app/cc13x4_26x4/main/AppTask.cpp
  examples/all-clusters-app/cc13x4_26x4/main/ClusterManager.cpp
  examples/all-clusters-app/cc13x4_26x4/main/Globals.cpp
  examples/all-clusters-app/cc13x4_26x4/main/ZclCallbacks.cpp
  examples/all-clusters-app/cc13x4_26x4/main/include/AppConfig.h
  examples/all-clusters-app/cc13x4_26x4/main/include/AppEvent.h
  examples/all-clusters-app/cc13x4_26x4/main/include/AppTask.h
  examples/all-clusters-app/cc13x4_26x4/main/include/CHIPProjectConfig.h
  examples/all-clusters-app/cc13x4_26x4/main/include/ClusterManager.h
  examples/all-clusters-app/cc13x4_26x4/main/include/Globals.h
  examples/all-clusters-app/cc13x4_26x4/main/main.cpp
  examples/all-clusters-app/cc13x4_26x4/third_party/connectedhomeip
  examples/light-switch-app/cc13x4_26x4/README.md
  examples/light-switch-app/cc13x4_26x4/args.gni
  examples/light-switch-app/cc13x4_26x4/src/AppTask.cpp
  examples/lighting-app/cc13x4_26x4/README.md
  examples/lighting-app/cc13x4_26x4/args.gni
  examples/lighting-app/cc13x4_26x4/src/AppTask.cpp
  examples/lock-app/cc13x4_26x4/README.md
  examples/lock-app/cc13x4_26x4/args.gni
  examples/lock-app/cc13x4_26x4/src/AppTask.cpp
  examples/pump-app/cc13x4_26x4/README.md
  examples/pump-app/cc13x4_26x4/args.gni
  examples/pump-app/cc13x4_26x4/main/AppTask.cpp
  examples/pump-controller-app/cc13x4_26x4/README.md
  examples/pump-controller-app/cc13x4_26x4/args.gni
  examples/pump-controller-app/cc13x4_26x4/main/AppTask.cpp
  scripts/build/build/targets.py
  scripts/build/builders/ti.py
  scripts/build/testdata/all_targets_linux_x64.txt
Labels: documentation, examples, scripts, review - approved

#35322 Fix GlobalAttributes check in TC_ACL_2_11
  src/access/AccessRestrictionProvider.cpp
  src/python_testing/TC_ACL_2_11.py
Labels: review - approved, tests, matter-1.4-te2-script-change

#35254 Enhance Android Logging with setLogCallback API
  src/platform/android/AndroidChipPlatform-JNI.cpp
  src/platform/android/java/chip/platform/AndroidChipLogging.java
Labels: platform, review - approved

#35339 Add Q Quality test for EVSE
  examples/energy-management-app/energy-management-common/energy-evse/include/EnergyEvseDelegateImpl.h
  examples/energy-management-app/energy-management-common/energy-evse/src/EnergyEvseDelegateImpl.cpp
  src/python_testing/TC_EEVSE_2_6.py
Labels: examples, review - approved, tests, matter-1.4-te2-script-change

#35371 Make at least on/off light chef have endpoint ID > 10
  examples/chef/devices/rootnode_onofflight_bbs1b7IaOV.matter
  examples/chef/devices/rootnode_onofflight_bbs1b7IaOV.zap
Labels: review - approved

#35109 TC-IDM-XX: try both PASE and CASE for basic comp tests.
  .github/workflows/tests.yaml
  src/controller/python/ChipDeviceController-Discovery.cpp
  src/controller/python/chip/ChipDeviceCtrl.py
  src/python_testing/TC_DeviceBasicComposition.py
  src/python_testing/basic_composition_support.py
  src/python_testing/matter_testing_support.py
Labels: controller, github, workflows, review - approved, tests, matter-1.4-te2-script-change

#34819 python testing: Per node endpoint fixes
  src/python_testing/TC_CCTRL_2_1.py
  src/python_testing/TC_CCTRL_2_2.py
  src/python_testing/TC_CC_2_2.py
  src/python_testing/TC_LVL_2_3.py
  src/python_testing/TC_SWTCH.py
  src/python_testing/TC_TIMESYNC_2_1.py
  src/python_testing/matter_testing_support.py
  src/python_testing/test_testing/MockTestRunner.py
  src/python_testing/test_testing/TestDecorators.py
  src/python_testing/test_testing/test_TC_CCNTL_2_2.py
  src/python_testing/test_testing/test_TC_MCORE_FS_1_1.py
Labels: review - approved, tests, matter-1.4-te2-script-change

#35253 Updated yaml script as per the SQA issues
  src/app/tests/suites/certification/Test_TC_DRLK_2_10.yaml
  src/app/tests/suites/certification/Test_TC_DRLK_2_11.yaml
  src/app/tests/suites/certification/Test_TC_DRLK_2_6.yaml
  src/app/tests/suites/certification/Test_TC_DRLK_2_7.yaml
  src/app/tests/suites/certification/Test_TC_DRLK_2_8.yaml
  src/app/tests/suites/certification/Test_TC_IDM_3_2.yaml
  src/app/tests/suites/certification/Test_TC_IDM_5_2.yaml
  src/app/tests/suites/certification/Test_TC_IDM_6_1.yaml
  src/app/tests/suites/certification/Test_TC_LVL_8_1.yaml
  src/app/tests/suites/certification/Test_TC_LVL_9_1.yaml
Labels: app, review - approved, tests, matter-1.4-te2-script-change

#35224 Update Quiet reporting conditions for LVL and CC remaining time attribute
  src/app/clusters/color-control-server/color-control-server.cpp
  src/app/clusters/color-control-server/color-control-server.h
  src/app/clusters/level-control/level-control.cpp
Labels: app, review - approved

#35379 [ICD] refreshKey needs to be set with length
  src/app/icd/client/DefaultCheckInDelegate.cpp
Labels: app, review - approved, icd

#35377 fabric-admin add ability to grab uid from remote fabric sync device
  examples/fabric-admin/BUILD.gn
  examples/fabric-admin/device_manager/DeviceManager.h
  examples/fabric-admin/device_manager/DeviceSubscription.cpp
  examples/fabric-admin/device_manager/DeviceSynchronization.cpp
  examples/fabric-admin/device_manager/DeviceSynchronization.h
  examples/fabric-admin/device_manager/UidGetter.cpp
  examples/fabric-admin/device_manager/UidGetter.h
Labels: examples, review - approved

#35375 Fix 347: TC-CNET-4.13 Step2 provided command used a wrong parameter
  src/app/tests/suites/certification/Test_TC_CNET_4_13.yaml
Labels: app, review - approved, tests, matter-1.4-te2-script-change

#35384 Fix mismatch in gn argument name between its declaration and usage.
  third_party/silabs/efr32_sdk.gni
Labels: review - approved, changing-submodules-on-purpose

#35383 [ICD] Set client_type when refreshing token for LIT ICD
  src/app/icd/client/RefreshKeySender.cpp
Labels: app, review - approved, icd

#35386 Start a few more helper apps as part of MTRCommissionableBrowserTests.
  src/darwin/Framework/CHIPTests/MTRCommissionableBrowserTests.m
  src/darwin/Framework/CHIPTests/MTRPairingTests.m
  src/darwin/Framework/CHIPTests/TestHelpers/MTRTestCase.h
  src/darwin/Framework/CHIPTests/TestHelpers/MTRTestCase.mm
  src/darwin/Framework/CHIPTests/TestHelpers/MTRTestServerAppRunner.h
  src/darwin/Framework/CHIPTests/TestHelpers/MTRTestServerAppRunner.m
Labels: darwin, review - pending, fast track

#30764 [ESP32] Option to configure the pool allocation from heap
  config/esp32/components/chip/Kconfig
  src/platform/ESP32/CHIPPlatformConfig.h
Labels: platform, esp32, config, review - approved

#35376 Use persistent and subscription resumption implementation of ShouldCheckInMsgsBeSentAtActiveModeFunction by setting chip_subscription_timeout_resumption=true for Linux reference lit-icd-app
  examples/lit-icd-app/linux/args.gni
Labels: examples, review - approved

#35373 Stop VSCode from Formatting .gitmodules file on save
  .vscode/settings.json
Labels: vscode, review - approved

#35401 Update spacing error for docker versioning
  integrations/docker/images/base/chip-build/version
Labels: hotfix, integrations, docker

#35388 [Android] Fix DNSSD interupped system call issue
  src/platform/android/java/chip/platform/NsdManagerServiceResolver.java
Labels: platform, review - pending, fast track

#35399 TC_EEVSE_2.2 through 2.5 python script has to be updated as per the test plan changes
  src/python_testing/TC_EEVSE_2_2.py
  src/python_testing/TC_EEVSE_2_3.py
  src/python_testing/TC_EEVSE_2_4.py
  src/python_testing/TC_EEVSE_2_5.py
Labels: review - approved, tests, matter-1.4-te2-script-change

#35380 [Python] Avoid InvalidStateError on cancel
  src/controller/python/chip/ChipDeviceCtrl.py
Labels: review - approved

#35346 EVSE - Update FakeReadings when a MaxChargeCurrent change occurs
  examples/energy-management-app/energy-management-common/energy-evse/include/EVSEManufacturerImpl.h
  examples/energy-management-app/energy-management-common/energy-evse/src/EVSEManufacturerImpl.cpp
  examples/energy-management-app/energy-management-common/energy-reporting/include/FakeReadings.h
  examples/energy-management-app/energy-management-common/energy-reporting/src/FakeReadings.cpp
Labels: examples, review - pending, fast track

#35360 Added a CopyCharSpanToMutableCharSpanTruncate function.
  src/lib/support/Span.h
Labels: lib, review - approved, support

#35236 [ICD] use imEngine to get case session in RefreshKeySender
  src/app/icd/client/RefreshKeySender.cpp
Labels: app, review - approved, icd

#35404 IDM-10.2: Handle MACL feature
  .github/workflows/tests.yaml
  src/python_testing/TC_DeviceConformance.py
  src/python_testing/TestConformanceTest.py
  src/python_testing/execute_python_tests.py
Labels: github, workflows, review - approved, tests, matter-1.4-te2-script-change

#35361 Update TC-CC-2_2 to match latest test plan
  src/python_testing/TC_CC_2_2.py
Labels: review - approved, tests, matter-1.4-te2-script-change

#35407 IDM-10.2: Fix provisional check
  src/python_testing/spec_parsing_support.py
Labels: review - approved, tests, matter-1.4-te2-script-change

#35309 [YAML] Fixed script issues
  src/app/tests/suites/certification/Test_TC_CC_4_2.yaml
  src/app/tests/suites/certification/Test_TC_CC_7_2.yaml
  src/app/tests/suites/certification/Test_TC_OO_2_6.yaml
  src/app/tests/suites/certification/Test_TC_PWRTL_1_1.yaml
  src/app/tests/suites/certification/Test_TC_SWTCH_3_2.yaml
  src/app/tests/suites/ciTests.json
Labels: app, review - pending, tests, matter-1.4-te2-script-change

#35412 Stop hardcoding the list of signed integer attribute types.
  src/app/util/attribute-metadata.h
  src/app/zap-templates/templates/app/attribute-type.zapt
  zzz_generated/app-common/app-common/zap-generated/attribute-type.h
Labels: app, review - approved

#35193 Updated yaml script as per the Issues raised by SQA
  src/app/tests/suites/certification/Test_TC_DD_2_1.yaml
  src/app/tests/suites/certification/Test_TC_DESC_2_1.yaml
  src/app/tests/suites/certification/Test_TC_DISHM_1_2.yaml
  src/app/tests/suites/certification/Test_TC_EEVSEM_1_2.yaml
  src/app/tests/suites/certification/Test_TC_EEVSEM_2_1.yaml
  src/app/tests/suites/certification/Test_TC_I_2_2.yaml
  src/app/tests/suites/certification/Test_TC_I_3_2.yaml
  src/app/tests/suites/certification/Test_TC_LWM_1_2.yaml
  src/app/tests/suites/certification/Test_TC_MOD_1_3.yaml
  src/app/tests/suites/certification/Test_TC_WASHERCTRL_2_2.yaml
Labels: app, review - approved, tests, matter-1.4-te2-script-change

#35406 [Bugfix] Waterleakdetector ScenesManagement build issue
  examples/chef/devices/rootnode_waterleakdetector_0b067acfa3.matter
  examples/chef/devices/rootnode_waterleakdetector_0b067acfa3.zap
  examples/chef/devices/template.zap
  src/app/clusters/scenes-server/SceneTableImpl.h
Labels: examples, app, review - approved

#35182 Updated DoorLock Python scripts and DRLK_2_1 yaml.
  src/app/tests/suites/certification/Test_TC_DRLK_2_1.yaml
  src/python_testing/TC_BOOLCFG_3_1.py
  src/python_testing/TC_DRLK_2_12.py
  src/python_testing/TC_DRLK_2_13.py
  src/python_testing/TC_DRLK_2_2.py
  src/python_testing/TC_DRLK_2_3.py
  src/python_testing/TC_PWRTL_2_1.py
  src/python_testing/drlk_2_x_common.py
Labels: app, review - pending, fast track, tests, matter-1.4-te2-script-change

#35405 Address follow-up PR comments for fabric-admin UniqueIdGetter
  examples/fabric-admin/BUILD.gn
  examples/fabric-admin/device_manager/DeviceSynchronization.cpp
  examples/fabric-admin/device_manager/DeviceSynchronization.h
  examples/fabric-admin/device_manager/UniqueIdGetter.cpp
  examples/fabric-admin/device_manager/UniqueIdGetter.h
Labels: examples, review - approved

#35415 TC-ACL-2.11: Add top level PICS
  src/python_testing/TC_ACL_2_11.py
Labels: review - approved, tests, matter-1.4-te2-script-change

#35409 Basic comp tests: add fix for pre-commissioned devices
  src/python_testing/TC_DeviceBasicComposition.py
  src/python_testing/basic_composition_support.py
  src/python_testing/matter_testing_support.py
Labels: review - pending, tests, matter-1.4-te2-script-change

#35215 [TC-LVL-2.3] Minor adjustments from Test Plan feedback
  src/python_testing/TC_LVL_2_3.py
Labels: review - pending, tests, matter-1.4-te2-script-change

#35416 [Fabric-Sync] Improve the stability of test TC_MCORE_FS_1_4
  src/python_testing/TC_MCORE_FS_1_4.py
Labels: review - approved, tests, matter-1.4-te2-script-change

#35413 MACL: Add checks that ARL / CommissioningARL are populated or not populated as required by the test
  src/python_testing/TC_ACL_2_11.py
  src/python_testing/TestConformanceTest.py
  src/python_testing/basic_composition_support.py
Labels: github, workflows, review - approved, tests, matter-1.4-te2-script-change

#35421 Fix intermittent falure in Darwin browsing test.
  src/darwin/Framework/CHIP/MTRCommissionableBrowser.mm
  src/darwin/Framework/CHIPTests/MTRCommissionableBrowserTests.m
Labels: darwin, review - pending, fast track

#35255 Auto-commissioner: remove primary network config if failed in commissioning SecondaryNetworkInterface
  src/controller/AutoCommissioner.cpp
  src/controller/CHIPDeviceController.cpp
  src/controller/CHIPDeviceController.h
  src/controller/CommissioningDelegate.cpp
  src/controller/CommissioningDelegate.h
Labels: controller, review - approved

#33745 [ESP32] Support Thread and Wi-Fi network revert configuration
  src/platform/ESP32/KeyValueStoreManagerImpl.cpp
  src/platform/ESP32/NetworkCommissioningDriver.cpp
  src/platform/ESP32/NetworkCommissioningDriver.h
Labels: platform, esp32, review - approved

#35417 Fix fabric sync test timeouts
  src/python_testing/TC_BRBINFO_4_1.py
  src/python_testing/TC_CCTRL_2_2.py
  src/python_testing/TC_CCTRL_2_3.py
  src/python_testing/TC_ECOINFO_2_2.py
  src/python_testing/TC_MCORE_FS_1_1.py
  src/python_testing/TC_MCORE_FS_1_2.py
  src/python_testing/TC_MCORE_FS_1_5.py
Labels: review - approved, tests, matter-1.4-te2-script-change

#35394 [ESP32] menuconfig options for groups cluster
  config/esp32/components/chip/Kconfig
  examples/all-clusters-app/esp32/sdkconfig.defaults
  src/platform/ESP32/CHIPPlatformConfig.h
Labels: examples, platform, esp32, config, review - approved

#35091 [NXP] fix issue when joining predefined wifi AP
  src/platform/nxp/common/CHIPDeviceNXPPlatformDefaultConfig.h
  src/platform/nxp/common/CHIPDevicePlatformEvent.h
  src/platform/nxp/common/ConnectivityManagerImpl.cpp
  src/platform/nxp/common/ConnectivityManagerImpl.h
Labels: platform, review - approved

#35390 Add MinValue/MaxValue helpers on our NumericAttributeTraits.
  src/app/clusters/scenes-server/SceneHandlerImpl.cpp
  src/app/util/attribute-storage-null-handling.h
  src/app/util/odd-sized-integers.h
Labels: app, review - approved

#35408 [Fuzzing] Adding all-clusters-app fuzz test to OSS-Fuzz
  BUILD.gn
  build/chip/fuzz_test.gni
  examples/all-clusters-app/linux/BUILD.gn
Labels: examples, gn, review - pending, fast track

#35432 Fixing 32-bit vs 64-bit size() log format issue
  examples/tv-casting-app/tv-casting-common/support/EndpointListLoader.cpp
Labels: examples, review - pending, fast track

#35434 Add a suspend/resume API on MTRDeviceController.
  src/darwin/Framework/CHIP/MTRDeviceController.h
  src/darwin/Framework/CHIP/MTRDeviceController.mm
  src/darwin/Framework/CHIP/MTRDeviceControllerFactory.mm
  src/darwin/Framework/CHIP/MTRDeviceControllerParameters.h
  src/darwin/Framework/CHIP/MTRDeviceControllerStartupParams.mm
  src/darwin/Framework/CHIP/MTRDeviceController_Concrete.mm
  src/darwin/Framework/CHIP/MTRDeviceController_Internal.h
  src/darwin/Framework/CHIP/MTRDeviceController_XPC.h
  src/darwin/Framework/CHIP/MTRDeviceController_XPC.mm
Labels: darwin, review - pending, fast track

#35422 Darwin: Add delegate methods to populate initial state over new XPC
  src/darwin/Framework/CHIP/MTRDevice_Concrete.mm
  src/darwin/Framework/CHIP/MTRDevice_Internal.h
  src/darwin/Framework/CHIP/MTRDevice_XPC.mm
  src/darwin/Framework/CHIP/MTRDevice_XPC_Internal.h
  src/darwin/Framework/CHIP/XPC Protocol/MTRXPCClientProtocol.h
  src/darwin/Framework/CHIP/XPC Protocol/MTRXPCServerProtocol.h
  src/darwin/Framework/Matter.xcodeproj/project.pbxproj
Labels: darwin, review - pending, fast track

#35438 [Darwin] Fix for MTRDevice deadlock during subscription reset
  src/darwin/Framework/CHIP/MTRDevice_Concrete.mm
Labels: darwin, review - pending, fast track

#35397 ESP32: check whether the mdns service exists before deleting it
  src/platform/ESP32/ESP32DnssdImpl.cpp
Labels: platform, esp32, review - approved

#34433 Add the ability for EventLoopHandlers to participate in a Select-based event loop
  src/lib/support/BUILD.gn
  src/lib/support/IntrusiveList.h
  src/platform/Darwin/PlatformManagerImpl.cpp
  src/platform/Darwin/PlatformManagerImpl.h
  src/platform/Darwin/SystemPlatformConfig.h
  src/system/SystemLayer.h
  src/system/SystemLayerImplSelect.cpp
  src/system/SystemLayerImplSelect.h
  src/system/system.gni
  src/system/tests/BUILD.gn
  src/system/tests/TestEventLoopHandler.cpp
Labels: system, platform, darwin, lib, review - approved, support

#34817 [ICD] Add ICDM 5.1 Automated Test Script
  src/app/tests/suites/certification/Test_TC_ICDM_5_1.yaml
  src/app/tests/suites/manualTests.json
  src/python_testing/TC_ICDM_5_1.py
  src/python_testing/mdns_discovery/mdns_discovery.py
Labels: app, github, workflows, review - approved, tests, matter-1.4-te2-script-change

#35428 [Linux] Fix potential race when saving storage file
  scripts/tools/check_includes_config.py
  src/lib/support/BUILD.gn
  src/lib/support/FileDescriptor.h
  src/lib/support/TemporaryFileStream.h
  src/platform/Linux/CHIPLinuxStorage.cpp
  src/platform/Linux/CHIPLinuxStorageIni.cpp
  src/platform/NuttX/CHIPLinuxStorageIni.cpp
  src/platform/webos/CHIPWebOSStorageIni.cpp
Labels: scripts, platform, linux, lib, review - approved, support

#35251 [nrfconnect] Link updates in documentation
  docs/guides/nrfconnect_examples_configuration.md
  docs/guides/nrfconnect_examples_software_update.md
  docs/guides/nrfconnect_factory_data_configuration.md
  docs/guides/nrfconnect_platform_overview.md
  docs/guides/openthread_rcp_nrf_dongle.md
Labels: documentation, review - approved

#35440 Switch: Fix cluster revision in XML to match new spec
  examples/all-clusters-app/all-clusters-common/all-clusters-app.matter
  examples/all-clusters-minimal-app/all-clusters-common/all-clusters-minimal-app.matter
  examples/bridge-app/bridge-common/bridge-app.matter
  examples/chef/devices/rootnode_genericswitch_2dfff6e516.matter
  examples/chef/devices/rootnode_genericswitch_9866e35d0b.matter
  examples/light-switch-app/light-switch-common/light-switch-app.matter
  examples/light-switch-app/qpg/zap/switch.matter
  examples/lighting-app-data-mode-no-unique-id/lighting-common/lighting-app.matter
  examples/lighting-app/lighting-common/lighting-app.matter
  examples/placeholder/linux/apps/app1/config.matter
  examples/placeholder/linux/apps/app2/config.matter
  src/app/zap-templates/zcl/data-model/chip/switch-cluster.xml
  src/controller/data_model/controller-clusters.matter
Labels: examples, controller, app, review - approved

#35436 Fix contact-sensor-app example binary name
  examples/contact-sensor-app/linux/README.md
Labels: examples, review - pending, fast track

#35423 MACL followup: addressing review comments in last PR
  src/python_testing/TC_ACL_2_11.py
  src/python_testing/TestConformanceTest.py
  src/python_testing/basic_composition_support.py
Labels: review - pending, fast track, tests, matter-1.4-te2-script-change

#35389 Removing yaml for TC CADMIN 1.9 as per matter-test-scripts task #363
  src/app/tests/suites/certification/Test_TC_CADMIN_1_9.yaml
Labels: app, review - pending, fast track, tests, matter-1.4-te2-script-change

#35425 [ESP32] Support total operational hours
  src/platform/ESP32/ConfigurationManagerImpl.cpp
  src/platform/ESP32/ConfigurationManagerImpl.h
Labels: platform, esp32, review - approved

#35457 Revert "Updating XPC interfaces to pass along context, and fixing som…
  src/darwin/Framework/CHIP/MTRDefines_Internal.h
  src/darwin/Framework/CHIP/MTRDeviceController+XPC.mm
  src/darwin/Framework/CHIP/MTRDeviceController_XPC.h
  src/darwin/Framework/CHIP/MTRDeviceController_XPC.mm
  src/darwin/Framework/CHIP/MTRDevice_Concrete.mm
  src/darwin/Framework/CHIP/MTRDevice_Internal.h
  src/darwin/Framework/CHIP/MTRDevice_XPC.mm
  src/darwin/Framework/CHIP/XPC Protocol/MTRXPCClientProtocol.h
  src/darwin/Framework/CHIP/XPC Protocol/MTRXPCServerProtocol.h
Labels: hotfix, darwin

#35447 Improve python test logging for better visibility
  src/python_testing/execute_python_tests.py
Labels: review - pending, fast track, tests, matter-1.4-te2-script-change

#35452 [Fabric-Sync] Enhance the startup script for improved diagnostics.
  examples/fabric-admin/scripts/run_fabric_sync.sh
  examples/fabric-bridge-app/linux/README.md
Labels: examples, review - approved

#35435 Make it easier to start "cross-test" helper apps in Darwin tests.
  src/darwin/Framework/CHIPTests/MTRCommissionableBrowserTests.m
  src/darwin/Framework/CHIPTests/MTROTAProviderTests.m
  src/darwin/Framework/CHIPTests/MTRPairingTests.m
  src/darwin/Framework/CHIPTests/MTRPerControllerStorageTests.m
  src/darwin/Framework/CHIPTests/MTRSwiftPairingTests.swift
  src/darwin/Framework/CHIPTests/TestHelpers/MTRTestCase+ServerAppRunner.h
  src/darwin/Framework/CHIPTests/TestHelpers/MTRTestCase+ServerAppRunner.m
  src/darwin/Framework/CHIPTests/TestHelpers/MTRTestCase.h
  src/darwin/Framework/CHIPTests/TestHelpers/MTRTestCase.mm
  src/darwin/Framework/Matter.xcodeproj/project.pbxproj
Labels: darwin, review - pending, fast track

#35449 Remove mentions of client-side global attributes in the ZAP XML.
  src/app/zap-templates/zcl/data-model/chip/global-attributes.xml
Labels: app, review - approved

#35453 Sync up MTRDeviceController and MTRDeviceController_Concrete and actually start using the latter.
  src/darwin/Framework/CHIP/MTRDeviceController.mm
  src/darwin/Framework/CHIP/MTRDeviceControllerFactory.mm
  src/darwin/Framework/CHIP/MTRDeviceController_Concrete.mm
Labels: darwin, review - pending, fast track

#35463 [Darwin] Add internal method to get report of all attributes to MTRDevice
  src/darwin/Framework/CHIP/MTRDevice.mm
  src/darwin/Framework/CHIP/MTRDevice_Concrete.mm
  src/darwin/Framework/CHIP/MTRDevice_Internal.h
  src/darwin/Framework/CHIPTests/MTRDeviceTests.m
Labels: darwin, review - pending, fast track

#35467 Ensure we abort MTRDownload instances when a controller shuts down.
  src/darwin/Framework/CHIP/MTRDeviceControllerFactory.mm
  src/darwin/Framework/CHIP/MTRDiagnosticLogsDownloader.h
  src/darwin/Framework/CHIP/MTRDiagnosticLogsDownloader.mm
Labels: darwin, review - pending, fast track

#35464 Implement MTRDevice handling in controller suspend/resume.
  src/darwin/Framework/CHIP/MTRDevice.mm
  src/darwin/Framework/CHIP/MTRDeviceController.mm
  src/darwin/Framework/CHIP/MTRDeviceControllerParameters.h
  src/darwin/Framework/CHIP/MTRDeviceControllerStartupParams.mm
  src/darwin/Framework/CHIP/MTRDeviceController_Concrete.mm
  src/darwin/Framework/CHIP/MTRDeviceController_Internal.h
  src/darwin/Framework/CHIP/MTRDeviceController_XPC.mm
  src/darwin/Framework/CHIP/MTRDevice_Concrete.mm
  src/darwin/Framework/CHIP/MTRDevice_Internal.h
  src/darwin/Framework/CHIPTests/MTRPerControllerStorageTests.m
Labels: darwin, fast track

#35471 [Darwin] Fix MTRDevice getAllAttributesReport return value
  src/darwin/Framework/CHIP/MTRDevice_Concrete.mm
  src/darwin/Framework/CHIPTests/MTRDeviceTests.m
Labels: darwin, review - pending, fast track

#35458 Updating XPC interfaces to pass along context, and fixing some other issues
  src/darwin/Framework/CHIP/MTRDefines_Internal.h
  src/darwin/Framework/CHIP/MTRDeviceController+XPC.mm
  src/darwin/Framework/CHIP/MTRDeviceController_XPC.h
  src/darwin/Framework/CHIP/MTRDeviceController_XPC.mm
  src/darwin/Framework/CHIP/MTRDevice_Concrete.mm
  src/darwin/Framework/CHIP/MTRDevice_Internal.h
  src/darwin/Framework/CHIP/MTRDevice_XPC.mm
  src/darwin/Framework/CHIP/XPC Protocol/MTRXPCClientProtocol.h
  src/darwin/Framework/CHIP/XPC Protocol/MTRXPCServerProtocol.h
Labels: darwin, review - pending, fast track

#35460 Update ValveControlDelegate.cpp
  examples/all-clusters-app/linux/ValveControlDelegate.cpp
Labels: examples, review - pending, fast track

#35466 Abort BDX transfers as needed on controller shutdown.
  src/controller/CHIPDeviceController.cpp
  src/protocols/bdx/BdxTransferDiagnosticLog.cpp
  src/protocols/bdx/BdxTransferDiagnosticLog.h
  src/protocols/bdx/BdxTransferDiagnosticLogPool.h
  src/protocols/bdx/BdxTransferServer.h
Labels: controller, review - approved, protocols

#35473 Fixing shadow variables, and also fixing registration via XPC
  src/darwin/Framework/CHIP/MTRDeviceController.mm
  src/darwin/Framework/CHIP/MTRDeviceController_Concrete.h
  src/darwin/Framework/CHIP/MTRDeviceController_Concrete.mm
  src/darwin/Framework/CHIP/MTRDeviceController_Internal.h
  src/darwin/Framework/CHIP/MTRDeviceController_XPC.mm
Labels: darwin, review - pending, fast track

#35472 [Darwin] Darwin CI TSAN test failure fix
  src/darwin/Framework/CHIP/MTRDeviceController.mm
  src/darwin/Framework/CHIP/MTRDevice_Concrete.mm
Labels: hotfix, darwin, review - pending, fast track

#35468 [Raspi] Fix crash on RP4 when add-local-bridge
  examples/fabric-admin/commands/pairing/PairingCommand.h
Labels: examples, review - approved

#35476 Darwin: Snapshot nodeIDToDeviceMap correctly
  src/darwin/Framework/CHIP/MTRDeviceController.mm
  src/darwin/Framework/CHIP/MTRDeviceController_Concrete.mm
Labels: darwin, review - pending, fast track

#35462 Add GetNextAction API so that a caller that might want to implement a…
  src/protocols/bdx/BdxTransferSession.cpp
  src/protocols/bdx/BdxTransferSession.h
Labels: review - approved, protocols

#35446 [Fabric-Sync] Do not use stdout with non-blocking asyncio
  examples/fabric-admin/scripts/fabric-sync-app.py
Labels: examples, review - approved

#35420 Create a script and instructions to create an aarch64 sysroot via qemu
  .github/.wordlist.txt
  integrations/docker/images/stage-1/chip-build-crosscompile/.gitignore
  integrations/docker/images/stage-1/chip-build-crosscompile/README.md
  integrations/docker/images/stage-1/chip-build-crosscompile/start-sysroot-vm.sh
  integrations/docker/images/stage-1/chip-build-crosscompile/upload-cidp-package.sh
Labels: integrations, github, review - approved, docker

#35143 [Silabs] Wi-fi: Header and source dhcp files cleanup
  examples/platform/silabs/SiWx917/BUILD.gn
  examples/platform/silabs/efr32/wf200/host_if.cpp
  src/platform/silabs/efr32/BUILD.gn
  src/platform/silabs/efr32/wifi/dhcp_client.cpp
  src/platform/silabs/efr32/wifi/dhcp_client.h
  src/platform/silabs/wifi/dhcp_client.cpp
  src/platform/silabs/wifi/dhcp_client.h
  third_party/silabs/SiWx917_sdk.gni
  third_party/silabs/efr32_sdk.gni
Labels: examples, platform, review - approved, silabs, changing-submodules-on-purpose

#35486 Increase allowed time for subscription setup in test013_suspendDevices.
  src/darwin/Framework/CHIPTests/MTRPerControllerStorageTests.m
Labels: build issue, hotfix, review - pending, fast track

#35487 Client data has been un-used for a long time, and the two clients that use it no longer need it, let's remove
  src/darwin/Framework/CHIP/MTRDevice.h
  src/darwin/Framework/CHIP/MTRDevice.mm
  src/darwin/Framework/CHIP/MTRDevice_Concrete.mm
  src/darwin/Framework/CHIP/MTRDevice_XPC.mm
  src/darwin/Framework/CHIP/XPC Protocol/MTRXPCServerProtocol.h
Labels: darwin, review - pending, fast track

#35490 Ensure that all MTRDevice state/internalState changes happen on the Matter queue.
  src/darwin/Framework/CHIP/MTRDevice_Concrete.mm
Labels: build issue, hotfix, darwin, review - pending, fast track

#35475 [Darwin] Implement delegate add/remove for device controller
  src/darwin/Framework/CHIP/MTRDefines_Internal.h
  src/darwin/Framework/CHIP/MTRDeviceController.h
  src/darwin/Framework/CHIP/MTRDeviceController.mm
  src/darwin/Framework/CHIP/MTRDeviceController_Concrete.h
  src/darwin/Framework/CHIP/MTRDeviceController_Concrete.mm
  src/darwin/Framework/CHIP/MTRError_Internal.h
  src/darwin/Framework/CHIPTests/MTRPairingTests.m
  src/darwin/Framework/CHIPTests/TestHelpers/MTRTestDeclarations.h
Labels: darwin, fast track

#35492 [Darwin] Remove Matter framework main queue usage
  src/darwin/Framework/CHIP/MTRDeviceController.mm
  src/darwin/Framework/CHIP/MTRDeviceController_Concrete.mm
  src/darwin/Framework/CHIP/MTRDeviceController_XPC.mm
  src/darwin/Framework/CHIP/MTRDevice_Concrete.mm
Labels: darwin, review - pending, fast track

#35455 Allow passing in a `Path change listener` to ember write functions
  src/app/AttributePathParams.h
  src/app/codegen-data-model-provider/CodegenDataModelProvider_Write.cpp
  src/app/codegen-data-model-provider/tests/EmberReadWriteOverride.cpp
  src/app/reporting/Engine.cpp
  src/app/reporting/Engine.h
  src/app/reporting/reporting.cpp
  src/app/util/af-types.h
  src/app/util/attribute-storage.cpp
  src/app/util/attribute-storage.h
  src/app/util/attribute-table-detail.h
  src/app/util/attribute-table.cpp
  src/app/util/attribute-table.h
  src/app/util/ember-compatibility-functions.cpp
  src/app/util/mock/CodegenEmberMocks.cpp
  src/app/zap-templates/templates/app/attributes/Accessors-src.zapt
  src/app/zap-templates/templates/app/attributes/Accessors.zapt
  src/darwin/Framework/CHIP/ServerEndpoint/MTRIMDispatch.mm
  zzz_generated/app-common/app-common/zap-generated/attributes/Accessors.cpp
  zzz_generated/app-common/app-common/zap-generated/attributes/Accessors.h
Labels: darwin, app, review - approved

#35443 [Chef] Fix invalid featureMap and associated commands/attributes in colortemperaturelight ZAP
  examples/chef/devices/rootnode_colortemperaturelight_hbUnzYVeyn.matter
  examples/chef/devices/rootnode_colortemperaturelight_hbUnzYVeyn.zap
Labels: examples, review - approved

#35403 [devcontainer] Version bump and enhanced UX.
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .gitignore
  integrations/docker/images/vscode/chip-build-vscode/Dockerfile
Labels: integrations, vscode, review - approved, docker

#35256 NetworkCommissioning: Disconnect previous network when trying a new
  src/app/clusters/network-commissioning/network-commissioning.cpp
  src/app/clusters/network-commissioning/network-commissioning.h
  src/include/platform/NetworkCommissioning.h
  src/platform/ESP32/NetworkCommissioningDriver.cpp
  src/platform/ESP32/NetworkCommissioningDriver.h
  src/platform/OpenThread/GenericNetworkCommissioningThreadDriver.cpp
  src/platform/OpenThread/GenericNetworkCommissioningThreadDriver.h
Labels: platform, esp32, controller, app, review - approved, hrap, v1.4

#35499 Adding isSuspended delegate for MTRDeviceController
  src/darwin/Framework/CHIP/MTRDeviceController.mm
  src/darwin/Framework/CHIP/MTRDeviceControllerDelegate.h
Labels: darwin, review - pending, fast track

#35065 OpenThread: clear the previous srp host and services when connecting …
  src/platform/OpenThread/GenericNetworkCommissioningThreadDriver.cpp
Labels: platform, review - approved, tizen

#35426 [Silabs] Enabling Uart logs for 917soc by default
  src/platform/silabs/platformAbstraction/WiseMcuSpam.cpp
  third_party/silabs/SiWx917_sdk.gni
  third_party/silabs/silabs_board.gni
Labels: scripts, platform, review - approved, silabs, changing-submodules-on-purpose

#35442 [ESP32] Add an option to set default log level for CHIP logs.
  config/esp32/components/chip/CMakeLists.txt
  config/esp32/components/chip/Kconfig
Labels: config, review - approved

#34430 [Silabs] Cleanup of logs and checks for WiFi products
  examples/platform/silabs/BaseApplication.cpp
  examples/platform/silabs/SiWx917/SiWx917/sl_wifi_if.cpp
  examples/platform/silabs/efr32/rs911x/rsi_if.cpp
  examples/platform/silabs/efr32/wf200/host_if.cpp
  examples/platform/silabs/wfx_rsi.h
  examples/platform/silabs/wifi/wfx_notify.cpp
  examples/platform/silabs/wifi/wfx_rsi_host.cpp
  src/platform/silabs/ConnectivityManagerImpl_WIFI.cpp
  src/platform/silabs/NetworkCommissioningWiFiDriver.cpp
  src/platform/silabs/SiWx917/wifi/ethernetif.cpp
  src/platform/silabs/SiWx917/wifi/wfx_host_events.h
  src/platform/silabs/efr32/wifi/ethernetif.cpp
  src/platform/silabs/efr32/wifi/wfx_host_events.h
Labels: examples, platform, review - approved, silabs

#35485 Clean up subscriptions from fabric sync tests
  src/python_testing/TC_BRBINFO_4_1.py
  src/python_testing/TC_MCORE_FS_1_2.py
  src/python_testing/TC_MCORE_FS_1_5.py
Labels: review - approved, tests, matter-1.4-te2-script-change

#35513 [SVE] TC-SEAR-1.2.py test script - invalid enum value names
  src/python_testing/TC_SEAR_1_2.py
Labels: python, review - approved, sve, tests, matter-1.4-te2-script-change

#34942 Add matter_enable_recommended meta-setting
  .github/workflows/minimal-build.yaml
  config/recommended.gni
  examples/shell/shell_common/BUILD.gn
  src/app/common_flags.gni
  src/lib/core/core.gni
  src/tracing/tracing_args.gni
Labels: tools, examples, lib, app, config, github, workflows, review - approved, core

#35480 [Silabs] Increase the max supported KVS entries
  src/platform/silabs/KeyValueStoreManagerImpl.cpp
  src/platform/silabs/SilabsConfig.h
  third_party/silabs/SiWx917_sdk.gni
  third_party/silabs/efr32_sdk.gni
Labels: platform, review - approved, silabs, changing-submodules-on-purpose

#35516 Change TC_CCTRL_2_3.py to no longer use per_endpoint_test
  src/python_testing/TC_CCTRL_2_3.py
Labels: review - approved, tests, matter-1.4-te2-script-change

#35518 Fix fabric sync tests after name update
  src/python_testing/TC_CCTRL_2_2.py
  src/python_testing/TC_CCTRL_2_3.py
  src/python_testing/TC_MCORE_FS_1_1.py
  src/python_testing/TC_MCORE_FS_1_3.py
  src/python_testing/test_testing/test_TC_CCNTL_2_2.py
  src/python_testing/test_testing/test_TC_MCORE_FS_1_1.py
Labels: review - approved

#35515 Fix MTRCommissionableBrowserTests when remove/add happen after we found all the devices.
  src/darwin/Framework/CHIPTests/MTRCommissionableBrowserTests.m
Labels: darwin, review - pending, fast track

#35228 Document mask argument of DECLARE_DYNAMIC_ATTRIBUTE.
  src/app/util/attribute-storage.h
Labels: app, review - approved

#35445 [chip-tool] Print DeviceType names next to ids
  examples/chip-tool/templates/logging/DataModelLogger-src.zapt
  examples/chip-tool/templates/logging/EntryToText-src.zapt
  examples/chip-tool/templates/logging/EntryToText.zapt
  examples/chip-tool/templates/partials/StructLoggerImpl.zapt
  zzz_generated/chip-tool/zap-generated/cluster/logging/DataModelLogger.cpp
  zzz_generated/chip-tool/zap-generated/cluster/logging/EntryToText.cpp
  zzz_generated/chip-tool/zap-generated/cluster/logging/EntryToText.h
Labels: tools, examples, review - approved

#35498 [Darwin] MTRDeviceController initial device retain should not depend on matter queue
  src/darwin/Framework/CHIP/MTRDeviceController.mm
  src/darwin/Framework/CHIP/MTRDeviceController_Concrete.mm
Labels: darwin, review - pending, fast track

#35530 Add a step timeout for Matter.framework unit tests.
  .github/workflows/darwin.yaml
Labels: github, workflows, review - pending, fast track

#35526 Fix deadlock in MTRDeviceController suspend/resume.
  src/darwin/Framework/CHIP/MTRDeviceController.mm
  src/darwin/Framework/CHIP/MTRDevice_Concrete.mm
Labels: darwin, fast track

#35520 Add better logging when doing Matter frameworks controller suspend/resume.
  src/darwin/Framework/CHIP/MTRDeviceController.mm
Labels: darwin, review - pending, fast track

#35158 Add documentation for adding a new libfuzzer fuzzer.
  .github/.wordlist.txt
  docs/testing/fuzz_testing.md
Labels: documentation, github, review - approved

#35444 encourage the use of CopyCharSpanToMutableCharSpanWithTruncation
  examples/rvc-app/rvc-common/src/rvc-device.cpp
  examples/rvc-app/rvc-common/src/rvc-service-area-delegate.cpp
  src/app/clusters/service-area-server/service-area-delegate.h
Labels: examples, app, review - approved

#35532 [ESP32] Backport the set default log level to CHIP Logs to v1.3-branch.
  config/esp32/components/chip/CMakeLists.txt
  config/esp32/components/chip/Kconfig
Labels: config

#35511 [NXP] Fix key storage issues and add NVS wear stats support
  src/platform/nxp/BUILD.gn
  src/platform/nxp/common/CHIPDeviceNXPPlatformDefaultConfig.h
  src/platform/nxp/common/KeyValueStoreManagerImpl.cpp
  src/platform/nxp/common/NXPConfig.h
  src/platform/nxp/common/NXPConfigKS.cpp
  src/platform/nxp/common/NXPConfigNVS.cpp
Labels: platform, review - approved

#35366 [Silabs] Fixing the switch ladder and removing warning flags
  examples/platform/silabs/BaseApplication.cpp
  third_party/silabs/SiWx917_sdk.gni
Labels: examples, platform, review - approved, silabs, changing-submodules-on-purpose

#35521 Remove `all.xml`
  docs/cluster_and_device_type_dev/how_to_add_new_dts_and_clusters.md
  src/app/zap-templates/zcl/data-model/all.xml
Labels: documentation, app, review - approved

#35537 Moving these to async, as the completions already work when needed
  src/darwin/Framework/CHIP/MTRDefines_Internal.h
  src/darwin/Framework/CHIP/MTRDeviceController_XPC.mm
  src/darwin/Framework/CHIP/MTRDevice_Concrete.mm
  src/darwin/Framework/CHIP/MTRDevice_XPC.mm
Labels: darwin, fast track

#35534 Update python builds to latest CI image (ubuntu 24.04 build)
  .github/workflows/build.yaml
  scripts/build_python.sh
  scripts/build_python_device.sh
Labels: scripts, github, workflows, review - approved

#35535 Switch infineon builds to latest CI image
  .github/workflows/examples-infineon.yaml
Labels: github, workflows, review - approved

#35539 Fix same test run multiple times avoiding duplication
  .github/workflows/tests.yaml
Labels: github, workflows, fast track

#35545 Update Chef Dockerfile to use trixie for latest ssl and lib versions
  examples/chef/dockerfile
Labels: review - pending, fast track

#34538 Fix: drop poll timer to avoid crash after TransferFacilitator object destruction
  examples/ota-provider-app/esp32/main/BdxOtaSender.cpp
  examples/ota-provider-app/ota-provider-common/BdxOtaSender.cpp
  src/protocols/bdx/TransferFacilitator.cpp
  src/protocols/bdx/TransferFacilitator.h
Labels: examples, review - approved, protocols

#35547 [Fabric-Sync] Switch to check the log output from stdout to decide if the server is initialized
  src/python_testing/TC_MCORE_FS_1_4.py
Labels: review - approved, tests, matter-1.4-te2-script-change

#35501 [v1.3][ESP32] Support total operational hours (#35425)
  src/platform/ESP32/ConfigurationManagerImpl.cpp
  src/platform/ESP32/ConfigurationManagerImpl.h
  src/test_driver/esp32/sdkconfig.defaults
Labels: platform, esp32, test driver

#35051 TC-OO-2.7 - Updates labels and step numbers
  src/app/tests/suites/certification/Test_TC_OO_2_7.yaml
Labels: app, review - approved, tests, matter-1.4-te2-script-change

#35503 [Telink] Update Docker image (Zephyr update)
  integrations/docker/images/base/chip-build/version
  integrations/docker/images/stage-2/chip-build-telink/Dockerfile
Labels: integrations, review - pending, fast track, docker

#35560 Added missing "is_commissioning=True" to step 1 in all DEM, EEVSE and EWATERHTR test scripts
  src/python_testing/TC_DEM_2_10.py
  src/python_testing/TC_DEM_2_2.py
  src/python_testing/TC_DEM_2_3.py
  src/python_testing/TC_DEM_2_4.py
  src/python_testing/TC_DEM_2_5.py
  src/python_testing/TC_DEM_2_6.py
  src/python_testing/TC_DEM_2_7.py
  src/python_testing/TC_DEM_2_8.py
  src/python_testing/TC_DEM_2_9.py
  src/python_testing/TC_EEVSE_2_2.py
  src/python_testing/TC_EEVSE_2_3.py
  src/python_testing/TC_EEVSE_2_4.py
  src/python_testing/TC_EEVSE_2_5.py
  src/python_testing/TC_EEVSE_2_6.py
  src/python_testing/TC_EWATERHTR_2_1.py
  src/python_testing/TC_EWATERHTR_2_2.py
  src/python_testing/TC_EWATERHTR_2_3.py
Labels: review - pending, fast track, tests, matter-1.4-te2-script-change

#35556 Fix the commandFields type on MTRDevice invoke methods.
  src/darwin/Framework/CHIP/MTRDevice.mm
  src/darwin/Framework/CHIP/MTRDevice_Concrete.mm
  src/darwin/Framework/CHIP/MTRDevice_XPC.mm
Labels: darwin, review - pending, fast track

#35542 cleanup cmake data model build rules / remove ARG_INCLUDE_SERVER
  config/openiotsdk/cmake/chip.cmake
  examples/air-purifier-app/ameba/chip_main.cmake
  examples/air-quality-sensor-app/telink/CMakeLists.txt
  examples/all-clusters-app/ameba/chip_main.cmake
  examples/all-clusters-app/mbed/CMakeLists.txt
  examples/all-clusters-app/nrfconnect/CMakeLists.txt
  examples/all-clusters-app/nxp/zephyr/CMakeLists.txt
  examples/all-clusters-app/telink/CMakeLists.txt
  examples/all-clusters-minimal-app/ameba/chip_main.cmake
  examples/all-clusters-minimal-app/mbed/CMakeLists.txt
  examples/all-clusters-minimal-app/nrfconnect/CMakeLists.txt
  examples/all-clusters-minimal-app/telink/CMakeLists.txt
  examples/bridge-app/telink/CMakeLists.txt
  examples/chef/ameba/chip_main.cmake
  examples/chef/nrfconnect/CMakeLists.txt
  examples/chef/telink/CMakeLists.txt
  examples/contact-sensor-app/telink/CMakeLists.txt
  examples/laundry-washer-app/nxp/zephyr/CMakeLists.txt
  examples/light-switch-app/ameba/chip_main.cmake
  examples/light-switch-app/nrfconnect/CMakeLists.txt
  examples/light-switch-app/telink/CMakeLists.txt
  examples/lighting-app/ameba/chip_main.cmake
  examples/lighting-app/mbed/CMakeLists.txt
  examples/lighting-app/nrfconnect/CMakeLists.txt
  examples/lighting-app/telink/CMakeLists.txt
  examples/lit-icd-app/nrfconnect/CMakeLists.txt
  examples/lock-app/mbed/CMakeLists.txt
  examples/lock-app/nrfconnect/CMakeLists.txt
  examples/lock-app/telink/CMakeLists.txt
  examples/ota-requestor-app/ameba/chip_main.cmake
  examples/ota-requestor-app/mbed/CMakeLists.txt
  examples/ota-requestor-app/telink/CMakeLists.txt
  examples/pump-app/nrfconnect/CMakeLists.txt
  examples/pump-app/telink/CMakeLists.txt
  examples/pump-controller-app/nrfconnect/CMakeLists.txt
  examples/pump-controller-app/telink/CMakeLists.txt
  examples/smoke-co-alarm-app/telink/CMakeLists.txt
  examples/temperature-measurement-app/telink/CMakeLists.txt
  examples/thermostat/nxp/zephyr/CMakeLists.txt
  examples/thermostat/telink/CMakeLists.txt
  examples/window-app/nrfconnect/CMakeLists.txt
  examples/window-app/telink/CMakeLists.txt
  src/app/chip_data_model.cmake
Labels: examples, app, config, review - approved

#35561 [libfuzzer] Cleaning shutdown of fuzzed all-clusters-app
  examples/all-clusters-app/linux/fuzzing-main.cpp
Labels: examples, review - approved

#35564 [Fabric-Admin] Show connect to bridge info to console
  examples/fabric-admin/commands/interactive/InteractiveCommands.cpp
Labels: examples, review - approved

#35548 Make Command Line Usage of 'scripts/tools/zap/run_zaptool.sh' More Easily Discoverable
  scripts/tools/zap/run_zaptool.sh
Labels: scripts, review - approved
