Repository project-chip/connectedhomeip, pull requests merged in 2024-07, with the labels that each got.

#34044 [ESP32] Remove SupportedModes implementation of ModeSelect from nvs and use all-clusters-apps common implementation
  docs/guides/esp32/providers.md
  examples/all-clusters-app/esp32/main/CMakeLists.txt
  examples/all-clusters-app/esp32/main/main.cpp
  examples/platform/esp32/mode-support/static-supported-modes-manager.cpp
  examples/platform/esp32/mode-support/static-supported-modes-manager.h
  scripts/tools/generate_esp32_chip_factory_bin.py
Labels: documentation, examples, scripts, platform, review - approved

#34114 Adopt ESP32 test driver to pw_unit_test output
  src/lib/support/BUILD.gn
  src/platform/ESP32/PlatformManagerImpl.cpp
  src/system/SystemPacketBuffer.cpp
  src/system/tests/BUILD.gn
  src/system/tests/TestSystemClock.cpp
  src/system/tests/TestSystemErrorStr.cpp
  src/system/tests/TestSystemPacketBuffer.cpp
  src/system/tests/TestSystemScheduleLambda.cpp
  src/system/tests/TestSystemScheduleWork.cpp
  src/system/tests/TestSystemTimer.cpp
  src/system/tests/TestSystemWakeEvent.cpp
  src/system/tests/TestTLVPacketBufferBackingStore.cpp
  src/system/tests/TestTimeSource.cpp
  src/test_driver/esp32/main/main_app.cpp
  src/test_driver/esp32/run_qemu_image.py
Labels: system, platform, esp32, lib, review - approved, support, test driver

#34104 Reset the state of DiscoveryImplPlatform to Uninitialized when ChipDnssdInit fails
  src/lib/dnssd/Discovery_ImplPlatform.cpp
Labels: lib, review - approved

#34093 tv-casting-app updated APIs.md docs with new v1.3 Matter APIs
  examples/tv-casting-app/APIs.md
  examples/tv-casting-app/android/App/app/src/main/java/com/matter/casting/ConnectionExampleFragment.java
  examples/tv-casting-app/android/App/app/src/main/java/com/matter/casting/InitializationExample.java
  examples/tv-casting-app/android/App/app/src/main/jni/com/matter/casting/support/IdentificationDeclarationOptions.java
  examples/tv-casting-app/android/App/app/src/main/jni/com/matter/casting/support/TargetAppInfo.java
  examples/tv-casting-app/darwin/TvCasting/TvCasting/MCConnectionExampleViewModel.swift
  examples/tv-casting-app/linux/simple-app-helper.cpp
Labels: examples, review - approved

#34098 [Silabs] Adding disconnect on factory reset and OTA rename to multi ota
  scripts/tools/silabs/ota/README.md
  scripts/tools/silabs/ota/ota_multi_image_tool.py
  src/platform/silabs/ConfigurationManagerImpl.cpp
Labels: documentation, scripts, platform, review - approved, silabs

#33085 [ESP32] Compilation fix when IPV4 is disabled.
  config/esp32/components/chip/CMakeLists.txt
  docs/guides/esp32/README.md
  docs/guides/esp32/config_options.md
  examples/chef/chef.py
  examples/chef/esp32/sdkconfig.defaults
  examples/chef/esp32/sdkconfig_rpc.defaults
  examples/platform/esp32/Rpc.cpp
  scripts/build/builders/esp32.py
  scripts/build/testdata/dry_run_esp32-m5stack-all-clusters-minimal-rpc-ipv6only.txt
  src/platform/ESP32/BUILD.gn
  src/platform/ESP32/ConnectivityManagerImpl_WiFi.cpp
Labels: documentation, examples, scripts, platform, esp32, config, review - approved

#34151 Revert "Add test logic to Matter Casting Automation test script for c…
  .github/workflows/examples-linux-tv-casting-app.yaml
  scripts/tests/linux/tv_casting_test_sequences.py
  scripts/tests/run_tv_casting_test.py
Labels: scripts, github, workflows, review - pending, fast track

#34111 ReadClient: Truncate data version list during encoding if necessary
  src/app/ReadClient.cpp
  src/app/ReadClient.h
  src/controller/tests/data_model/BUILD.gn
  src/controller/tests/data_model/TestCommands.cpp
  src/controller/tests/data_model/TestRead.cpp
  src/controller/tests/data_model/TestWrite.cpp
  src/messaging/tests/MessagingContext.h
  src/transport/raw/tests/NetworkTestHelpers.h
Labels: transport, controller, app, review - approved, messaging

#34148 [nrfconnect] Fix WiFiManager singleton implementation
  src/platform/nrfconnect/wifi/ConnectivityManagerImplWiFi.cpp
  src/platform/nrfconnect/wifi/WiFiManager.h
Labels: platform, nrf connect, review - approved

#34135 Zephyr standalone platform update
  config/zephyr/app/enable-gnu-std.cmake
  config/zephyr/chip-module/CMakeLists.txt
  config/zephyr/chip-module/Kconfig.bt
  config/zephyr/chip-module/Kconfig.defaults
  config/zephyr/chip-module/Kconfig.mbedtls
  src/inet/InetConfig.h
  src/inet/UDPEndPointImplSockets.cpp
  src/platform/Zephyr/BUILD.gn
  src/platform/Zephyr/CHIPDevicePlatformConfig.h
  src/platform/Zephyr/CHIPPlatformConfig.h
  src/platform/Zephyr/ConfigurationManagerImpl.cpp
  src/platform/Zephyr/Logging.cpp
Labels: platform, zephyr, inet, config, review - approved

#34122 Add build docs for Fabric-Admin and Fabric-Bridge-App
  docs/examples/index.md
  examples/fabric-admin/README.md
  examples/fabric-bridge-app/linux/README.md
Labels: documentation, examples, review - approved

#34124 [v1.2] ESP32: Fixes in BLEManager (#34082)
  src/platform/ESP32/bluedroid/BLEManagerImpl.cpp
  src/platform/ESP32/nimble/BLEManagerImpl.cpp
Labels: platform, esp32

#34147 Fix callback creation
  src/lib/core/tests/TestCHIPCallback.cpp
Labels: lib, review - approved, core

#34158 [ESP32] Initialize LwIP stack when initializing CHIP stack
  src/platform/ESP32/PlatformManagerImpl.cpp
  src/system/tests/TestSystemPacketBuffer.cpp
Labels: system, platform, esp32, review - approved

#34132 [Silabs] Additional Advertising fix and Rotating Unique ID fixes for the Wifi devices
  examples/platform/silabs/FreeRTOSConfig.h
  examples/platform/silabs/SiWx917/SiWx917/sl_wlan_config.h
  src/platform/silabs/BLEManagerImpl.h
  src/platform/silabs/CHIPDevicePlatformConfig.h
Labels: examples, platform, review - approved, silabs

#33972 [Fabric-Admin] Add Device Manager to manage assigned node ID and remote bridge
  examples/fabric-admin/BUILD.gn
  examples/fabric-admin/commands/clusters/ReportCommand.cpp
  examples/fabric-admin/commands/fabric-sync/Commands.h
  examples/fabric-admin/commands/fabric-sync/FabricSyncCommand.cpp
  examples/fabric-admin/commands/fabric-sync/FabricSyncCommand.h
  examples/fabric-admin/commands/pairing/PairingCommand.cpp
  examples/fabric-admin/device_manager/DeviceManager.cpp
  examples/fabric-admin/device_manager/DeviceManager.h
  examples/fabric-admin/main.cpp
  examples/fabric-admin/rpc/RpcServer.cpp
Labels: examples, review - approved

#34080 ESP32: Fix to connect to wifi using shell command
  examples/platform/esp32/common/Esp32AppServer.cpp
Labels: examples, platform, review - approved

#34154 Disentangle data model tests by moving fixtures into their own file
  src/app/util/mock/Constants.h
  src/app/util/mock/attribute-storage.cpp
  src/controller/tests/data_model/BUILD.gn
  src/controller/tests/data_model/DataModelFixtures.cpp
  src/controller/tests/data_model/DataModelFixtures.h
  src/controller/tests/data_model/TestCommands.cpp
  src/controller/tests/data_model/TestRead.cpp
  src/controller/tests/data_model/TestWrite.cpp
  src/lib/support/Scoped.h
Labels: lib, controller, app, review - approved, support

#34157 Add reviewers-nxp as company-reviewers in the SDK
  .pullapprove.yml
Labels: review - pending

#34152 Fixed the issues for p_local_crypt not being cleared properly for Infineon HSM OPTIGA Trust M
  src/platform/Infineon/crypto/trustm/CHIPCryptoPALHsm_P256_trustm.cpp
  src/platform/Infineon/crypto/trustm/CHIPCryptoPALHsm_utils_trustm.cpp
Labels: platform, review - approved

#34161 Fix logic error in codegen data model: write privileges should only exist if attribute is NOT read-only
  src/app/codegen-data-model/CodegenDataModel.cpp
  src/app/codegen-data-model/tests/TestCodegenModelViaMocks.cpp
Labels: app, review - approved

#34172 Allow specifying vendor/product ID in hex format
  examples/platform/linux/Options.cpp
Labels: examples, platform, review - approved

#34140 Update test start hooks
  scripts/py_matter_yamltests/matter_yamltests/hooks.py
  scripts/tests/chipyaml/tests_logger.py
  src/python_testing/hello_external_runner.py
  src/python_testing/matter_testing_support.py
Labels: scripts, review - pending, tests

#34164 Fixed python test runner code to error out if there are 0 test runs
  docs/testing/python.md
  scripts/tests/run_python_test.py
  src/python_testing/hello_test.py
Labels: documentation, scripts, review - approved, tests

#34130 chip-repl runner: support missing features needed to yaml tests
  scripts/tests/chiptest/__init__.py
  src/controller/python/chip/yaml/runner.py
Labels: scripts, controller, review - approved

#34177 [CI] Add Fabric-Admin and Fabric-Bridge to Linux ARM build target
  .github/workflows/examples-linux-arm.yaml
  examples/platform/linux/RpcClientProcessor.cpp
Labels: examples, platform, github, workflows, review - approved

#34167 Add Darwin availability annotations for some new features.
  src/darwin/Framework/CHIP/templates/availability.yaml
Labels: darwin, fast track

#34142 Minor fixes in TCP Disconnect.
  src/transport/raw/TCP.cpp
Labels: transport, review - approved

#34168 Darwin: Prohibit static initializers in Matter.framework
  src/app/AttributeAccessInterfaceCache.h
  src/app/EventLoggingTypes.h
  src/app/EventManagement.cpp
  src/app/EventManagement.h
  src/app/clusters/descriptor/descriptor.cpp
  src/darwin/Framework/Matter.xcodeproj/project.pbxproj
  src/include/platform/internal/GenericConfigurationManagerImpl.ipp
  src/lib/support/IntrusiveList.h
  src/messaging/ReliableMessageProtocolConfig.cpp
  src/messaging/ReliableMessageProtocolConfig.h
  src/platform/Darwin/ConfigurationManagerImpl.cpp
  src/platform/Darwin/ConfigurationManagerImpl.h
  src/platform/Darwin/DeviceInstanceInfoProviderImpl.cpp
  src/platform/Darwin/DeviceInstanceInfoProviderImpl.h
Labels: platform, darwin, lib, app, review - approved, support, messaging

#34178 Fix and enable Matter Casting automation CI check for commissioner-generated-passcode flow.
  .github/workflows/examples-linux-tv-casting-app.yaml
  scripts/tests/linux/tv_casting_test_sequences.py
  scripts/tests/run_tv_casting_test.py
Labels: scripts, github, workflows, review - approved

#34184 Temporarily turn of the test of TC-DA-1.2
  .github/workflows/tests.yaml
Labels: github, workflows, review - approved

#33952 TC-IDM-5.2: Fix status code in test and SDK
  src/app/TimedHandler.cpp
  src/app/WriteHandler.cpp
  src/app/tests/TestTimedHandler.cpp
  src/app/tests/TestWriteInteraction.cpp
  src/app/tests/suites/TestClusterComplexTypes.yaml
  src/app/tests/suites/certification/Test_TC_IDM_5_2.yaml
Labels: app, review - approved, tests

#34190 Darwin: Ensure we tell the OTA delegate when a transfer ends
  src/darwin/Framework/CHIP/MTROTAProviderDelegateBridge.mm
  src/darwin/Framework/CHIPTests/MTROTAProviderTests.m
Labels: darwin, fast track

#34192 Move android's Logging.cpp to src/platform/android/
  examples/android/CHIPTest/BUILD.gn
  src/lib/support/BUILD.gn
  src/platform/android/BUILD.gn
  src/platform/android/Logging.cpp
  src/platform/logging/BUILD.gn
Labels: examples, platform, lib, review - approved, support

#34188 Cherry-Pick PR(#34152) from master Branch
  src/platform/Infineon/crypto/trustm/CHIPCryptoPALHsm_P256_trustm.cpp
  src/platform/Infineon/crypto/trustm/CHIPCryptoPALHsm_utils_trustm.cpp
Labels: platform

#34189 Cherry-Pick(#34152) from master branch for bug fixing
  src/platform/Infineon/crypto/trustm/CHIPCryptoPALHsm_P256_trustm.cpp
  src/platform/Infineon/crypto/trustm/CHIPCryptoPALHsm_utils_trustm.cpp
Labels: platform

#34199 RPC builds for fabric-admin: suppress compile warning, add RemoveSynchronizationDevice RPC call
  examples/fabric-admin/commands/interactive/InteractiveCommands.cpp
  examples/fabric-admin/commands/pairing/PairingCommand.cpp
Labels: examples, review - approved

#34186 Add methods to clear data from the cluster state cache.
  src/app/ClusterStateCache.cpp
  src/app/ClusterStateCache.h
  src/app/tests/TestClusterStateCache.cpp
Labels: app, review - approved, tests

#34205 [NXP] Fix Zephyr build introduced by logging rework
  src/platform/logging/BUILD.gn
  src/platform/nxp/zephyr/BUILD.gn
Labels: platform, review - approved, fast track

#34206 [NXP] Add docker image for Zephyr examples
  integrations/docker/images/base/chip-build/version
  integrations/docker/images/stage-2/chip-build-nxp-zephyr/Dockerfile
  integrations/docker/images/stage-2/chip-build-nxp-zephyr/build.sh
  integrations/docker/images/stage-2/chip-build-nxp-zephyr/run.sh
  integrations/docker/images/stage-2/chip-build-nxp-zephyr/version
  integrations/docker/images/vscode/chip-build-vscode/Dockerfile
Labels: integrations, review - pending, fast track, docker

#33873 [NXP][platform][common] Call OnScanWiFiNetworkDone function in the context of the Matter stack to avoid chipDie issue
  src/platform/nxp/common/CHIPDevicePlatformEvent.h
  src/platform/nxp/common/ConnectivityManagerImpl.cpp
  src/platform/nxp/common/NetworkCommissioningDriver.h
  src/platform/nxp/common/NetworkCommissioningWiFiDriver.cpp
Labels: platform, review - pending, fast track

#34207 TC-OPCREDS-3.1: fix newly async function
  .github/workflows/tests.yaml
  src/python_testing/TC_OPCREDS_3_1.py
Labels: github, workflows, review - approved, tests

#34210 Fix more random Darwin test failures due to timing dependency.
  src/darwin/Framework/CHIPTests/MTRSwiftDeviceTests.swift
Labels: review - pending, fast track

#34198 Split the targets for nullable support
  docs/guides/openiotsdk_unit_tests.md
  src/BUILD.gn
  src/app/data-model/BUILD.gn
  src/app/data-model/tests/BUILD.gn
  src/app/data-model/tests/TestNullable.cpp
  src/app/tests/BUILD.gn
  src/app/util/BUILD.gn
  src/controller/tests/data_model/BUILD.gn
  src/test_driver/openiotsdk/unit-tests/test_components.txt
Labels: documentation, controller, app, review - approved, tests, test driver

#34211 Fix NXP Zephyr docker image.
  integrations/docker/images/base/chip-build/version
  integrations/docker/images/stage-2/chip-build-nxp-zephyr/Dockerfile
Labels: hotfix, integrations, docker

#34139 Implement the codegen-data-model Write support
  .github/workflows/build.yaml
  .github/workflows/lint.yml
  src/app/codegen-data-model/BUILD.gn
  src/app/codegen-data-model/CodegenDataModel.cpp
  src/app/codegen-data-model/CodegenDataModel_Read.cpp
  src/app/codegen-data-model/CodegenDataModel_Write.cpp
  src/app/codegen-data-model/EmberMetadata.cpp
  src/app/codegen-data-model/EmberMetadata.h
  src/app/codegen-data-model/model.gni
  src/app/codegen-data-model/tests/EmberReadWriteOverride.cpp
  src/app/codegen-data-model/tests/EmberReadWriteOverride.h
  src/app/codegen-data-model/tests/InteractionModelTemporaryOverrides.cpp
  src/app/codegen-data-model/tests/TestCodegenModelViaMocks.cpp
  src/app/data-model-interface/DataModel.h
  src/app/data-model-interface/DataModelChangeListener.h
  src/app/util/ember-compatibility-functions.cpp
  src/app/util/mock/MockNodeConfig.cpp
  src/app/util/mock/MockNodeConfig.h
Labels: app, github, workflows, review - approved

#34204 ESP32: Fix data copy in BLE HandleRxNotify()
  src/platform/ESP32/nimble/BLEManagerImpl.cpp
Labels: platform, esp32, review - approved

#33953 [Fix] Proposed resolution of issue #230: remove PICS from timesync tests
  src/python_testing/TC_TIMESYNC_2_1.py
  src/python_testing/TC_TIMESYNC_2_2.py
Labels: review - approved, tests

#34202 [ESP32] Set MAX_EVENT_QUEUE_SIZE to 40 by default for ESP32 platform
  config/esp32/components/chip/Kconfig
  examples/all-clusters-app/esp32/sdkconfig.defaults.esp32c2
  examples/all-clusters-minimal-app/esp32/sdkconfig.defaults.esp32c2
  examples/energy-management-app/esp32/sdkconfig.defaults.esp32c2
  examples/lighting-app/esp32/sdkconfig.defaults.esp32c2
Labels: examples, config, review - approved

#34236 [DRYERCTRL] Align description with spec
  examples/all-clusters-app/all-clusters-common/all-clusters-app.matter
  src/app/zap-templates/zcl/data-model/chip/laundry-dryer-controls-cluster.xml
  src/controller/data_model/controller-clusters.matter
  src/darwin/Framework/CHIP/zap-generated/MTRBaseClusters.h
  src/darwin/Framework/CHIP/zap-generated/MTRClusters.h
Labels: examples, darwin, controller, app, review - approved

#34238 Disabling this darwin feature, doesn't seem to be of use, and is crashing
  src/darwin/Framework/CHIP/MTRDevice.mm
Labels: darwin, fast track

#34240 OPCREDS-3.3: Fix reset step
  src/app/tests/suites/certification/Test_TC_OPCREDS_3_3.yaml
Labels: app, review - approved, tests

#33817 IDM-10.4: check that CI PICS is not on for cert
  .github/workflows/tests.yaml
  src/python_testing/TC_pics_checker.py
  src/python_testing/TestMatterTestingSupport.py
  src/python_testing/matter_testing_support.py
  src/python_testing/test_testing/example_pics_xml_basic_info.xml
  src/python_testing/test_testing/test_IDM_10_4.py
Labels: github, workflows, review - approved, tests

#34239 Reduce codesize for door locks a bit.
  src/app/clusters/door-lock-server/door-lock-server.cpp
  src/app/clusters/door-lock-server/door-lock-server.h
Labels: app, review - approved

#34244 Fixed broken link
  docs/getting_started/SDKBasics.md
Labels: documentation, review - approved

#33481 Plumb Peer DNS-SD advertisement for TCP support into SessionSetup context #30392
  examples/chip-tool/commands/common/RemoteDataModelLogger.cpp
  examples/chip-tool/commands/discover/Commands.h
  examples/fabric-admin/commands/common/RemoteDataModelLogger.cpp
  scripts/py_matter_yamltests/matter_yamltests/pseudo_clusters/clusters/discovery_commands.py
  src/app/OperationalSessionSetup.cpp
  src/app/OperationalSessionSetup.h
  src/controller/python/ChipCommissionableNodeController-ScriptBinding.cpp
  src/controller/python/ChipDeviceController-Discovery.cpp
  src/controller/python/chip/discovery/__init__.py
  src/controller/python/chip/yaml/runner.py
  src/lib/address_resolve/AddressResolve.h
  src/lib/address_resolve/AddressResolve_DefaultImpl.cpp
  src/lib/address_resolve/tool.cpp
  src/lib/dnssd/TxtFields.cpp
  src/lib/dnssd/Types.h
  src/lib/dnssd/tests/TestIncrementalResolve.cpp
  src/lib/dnssd/tests/TestTxtFields.cpp
  src/lib/shell/commands/Dns.cpp
  src/tracing/json/json_tracing.cpp
Labels: tools, examples, scripts, lib, controller, app, review - approved, shell

#34260 Turn off flaky MRP test in darwin
  scripts/tests/chiptest/__init__.py
Labels: scripts, review - approved

#34036 Updated AppContext, LoopbackMessagingContext, and UDPMessagingContext to serve as PW test fixture classes.
  docs/testing/unit_testing.md
  src/app/icd/server/tests/TestICDManager.cpp
  src/app/tests/AppTestContext.cpp
  src/app/tests/AppTestContext.h
  src/app/tests/BUILD.gn
  src/app/tests/TestAclAttribute.cpp
  src/app/tests/TestAclEvent.cpp
  src/app/tests/TestBufferedReadCallback.cpp
  src/app/tests/TestClusterStateCache.cpp
  src/app/tests/TestCommandInteraction.cpp
  src/app/tests/TestEventLogging.cpp
  src/app/tests/TestEventLoggingNoUTCTime.cpp
  src/app/tests/TestEventOverflow.cpp
  src/app/tests/TestFabricScopedEventLogging.cpp
  src/app/tests/TestInteractionModelEngine.cpp
  src/app/tests/TestReadInteraction.cpp
  src/app/tests/TestReportScheduler.cpp
  src/app/tests/TestReportingEngine.cpp
  src/app/tests/TestTimedHandler.cpp
  src/app/tests/TestWriteInteraction.cpp
  src/controller/tests/TestEventCaching.cpp
  src/controller/tests/TestEventChunking.cpp
  src/controller/tests/TestEventNumberCaching.cpp
  src/controller/tests/TestReadChunking.cpp
  src/controller/tests/TestServerCommandDispatch.cpp
  src/controller/tests/TestWriteChunking.cpp
  src/controller/tests/data_model/TestCommands.cpp
  src/controller/tests/data_model/TestRead.cpp
  src/controller/tests/data_model/TestWrite.cpp
  src/messaging/tests/BUILD.gn
  src/messaging/tests/MessagingContext.cpp
  src/messaging/tests/MessagingContext.h
  src/messaging/tests/TestAbortExchangesForFabric.cpp
  src/messaging/tests/TestExchange.cpp
  src/messaging/tests/TestExchangeHolder.cpp
  src/messaging/tests/TestExchangeMgr.cpp
  src/messaging/tests/TestMessagingLayer.cpp
  src/messaging/tests/TestReliableMessageProtocol.cpp
  src/protocols/secure_channel/tests/TestCASESession.cpp
  src/protocols/secure_channel/tests/TestMessageCounterManager.cpp
  src/protocols/secure_channel/tests/TestPASESession.cpp
  src/tracing/tests/BUILD.gn
  src/tracing/tests/TestMetricEvents.cpp
  src/tracing/tests/TestTracing.cpp
  src/transport/tests/TestSessionManagerDispatch.cpp
Labels: documentation, transport, controller, app, review - pending, fast track, tests, icd, messaging, protocols

#33299 TC-IDM-4.2 Use the min/max correctly and account for network delay
  .github/workflows/tests.yaml
  src/python_testing/TC_IDM_4_2.py
  src/python_testing/matter_testing_support.py
Labels: github, workflows, review - approved, tests

#34262 Fix handle cleanup in CommandHandler.
  src/app/CommandHandlerImpl.cpp
Labels: review - pending, fast track, critical quality fix

#32807 [Android] Modify chiptool crash when skipCommissioningComplete flag enabled
  src/controller/CHIPDeviceController.cpp
Labels: documentation, tools, examples, scripts, integrations, transport, system, setup payload, qr code, platform, darwin, esp32, linux, nrf connect, zephyr, lib, inet, crypto, controller, ble, app, config, vscode, github, workflows, gn, review - approved, telink, lwip, shell, tests, support, core, test driver, tizen, icd, docker, silabs, messaging, protocols

#34268 Log the peer when we send a Sigma1 message.
  src/protocols/secure_channel/CASESession.cpp
Labels: review - approved, protocols

#34243 Tidy-up of the Energy Management related test cases from 1.3
  src/python_testing/TC_EEM_2_1.py
  src/python_testing/TC_EEM_2_2.py
  src/python_testing/TC_EEM_2_3.py
  src/python_testing/TC_EEM_2_4.py
  src/python_testing/TC_EEM_2_5.py
  src/python_testing/TC_EEVSE_2_2.py
  src/python_testing/TC_EEVSE_2_4.py
  src/python_testing/TC_EEVSE_2_5.py
  src/python_testing/TC_EPM_2_1.py
  src/python_testing/TC_EPM_2_2.py
Labels: review - approved, tests

#34257 [k32w0] Add OTA encryption info in contact sensor README
  examples/contact-sensor-app/nxp/k32w/k32w0/README.md
Labels: examples, review - approved

#34155 [Python] Resync CHIP project config with standalone config
  config/python/CHIPProjectConfig.h
Labels: config, review - approved

#34264 Docs: move CI python testing args into CI section
  docs/testing/python.md
Labels: documentation, review - approved

#34159 [NXP] Add some common platform changes
  src/platform/nxp/common/CHIPDeviceNXPPlatformDefaultConfig.h
  src/platform/nxp/common/CHIPDevicePlatformEvent.h
  src/platform/nxp/common/CHIPNXPPlatformDefaultConfig.h
  src/platform/nxp/common/ConfigurationManagerImpl.cpp
  src/platform/nxp/common/ConfigurationManagerImpl.h
  src/platform/nxp/common/ConnectivityManagerImpl.cpp
  src/platform/nxp/common/DiagnosticDataProviderImpl.cpp
  src/platform/nxp/common/ThreadStackManagerImpl.cpp
  src/platform/nxp/common/ThreadStackManagerImpl.h
Labels: platform, review - approved

#34272 [Silabs] [917SoC] Fixing sleepy with non LCD build fix
  src/platform/silabs/KeyValueStoreManagerImpl.cpp
  third_party/silabs/SiWx917_sdk.gni
Labels: platform, review - approved, silabs, changing-submodules-on-purpose

#34241 Adding logging to Darwin
  examples/darwin-framework-tool/commands/common/CHIPCommandBridge.h
  examples/darwin-framework-tool/commands/pairing/DeviceControllerDelegateBridge.mm
  src/darwin/Framework/CHIP/MTRDevice.mm
  src/darwin/Framework/CHIP/MTRError_Internal.h
Labels: examples, darwin, fast track

#34269 [Darwin] MTRDeviceController getSessionForNode should always use live MTRDevice object
  src/darwin/Framework/CHIP/MTRDevice.mm
  src/darwin/Framework/CHIP/MTRDeviceController.mm
Labels: darwin, review - pending, fast track

#34259 TC-IDM-10.4: Add PWM as aliased cluster
  src/python_testing/spec_parsing_support.py
  src/python_testing/test_testing/example_pics_xml_basic_info.xml
  src/python_testing/test_testing/test_IDM_10_4.py
Labels: review - approved, tests

#34220 Add an Invoke implementation in CodegenDataModel
  src/app/BUILD.gn
  src/app/codegen-data-model/CodegenDataModel.cpp
  src/app/codegen-data-model/CodegenDataModel.h
  src/app/codegen-data-model/tests/BUILD.gn
  src/app/codegen-data-model/tests/EmberInvokeOverride.cpp
  src/app/codegen-data-model/tests/EmberInvokeOverride.h
  src/app/codegen-data-model/tests/InteractionModelTemporaryOverrides.cpp
  src/app/codegen-data-model/tests/TestCodegenModelViaMocks.cpp
  src/app/data-model-interface/BUILD.gn
  src/app/data-model-interface/DataModel.h
  src/app/data-model-interface/InvokeResponder.h
Labels: app, review - approved

#34284 make zap_regen_all auto-trigger a buildenv bootstrap/activate when run if not already activated
  scripts/tools/zap_regen_all.py
Labels: scripts, review - approved

#34286 Revert "Darwin: Prohibit static initializers in Matter.framework"
  src/app/AttributeAccessInterfaceCache.h
  src/app/EventLoggingTypes.h
  src/app/EventManagement.cpp
  src/app/EventManagement.h
  src/app/clusters/descriptor/descriptor.cpp
  src/darwin/Framework/Matter.xcodeproj/project.pbxproj
  src/include/platform/internal/GenericConfigurationManagerImpl.ipp
  src/lib/support/IntrusiveList.h
  src/messaging/ReliableMessageProtocolConfig.cpp
  src/messaging/ReliableMessageProtocolConfig.h
  src/platform/Darwin/ConfigurationManagerImpl.cpp
  src/platform/Darwin/ConfigurationManagerImpl.h
  src/platform/Darwin/DeviceInstanceInfoProviderImpl.cpp
  src/platform/Darwin/DeviceInstanceInfoProviderImpl.h
Labels: hotfix, platform, darwin, lib, app, crash, review - pending, support, messaging

#34283 Update ZAP to fix clusterExtension handling.
  scripts/setup/zap.json
  scripts/setup/zap.version
  scripts/tools/zap/zap_execution.py
Labels: scripts, review - approved

#34277 Adding new python test arguments design pattern for the default test on tests.yaml
  .github/workflows/tests.yaml
  src/controller/python/test/test_scripts/mobile-device-test.py
Labels: controller, github, workflows, review - approved

#34271 [Metrics] Fixed incorrect key values for metrics in darwin
  src/darwin/Framework/CHIP/MTRDeviceController.mm
  src/darwin/Framework/CHIP/MTRMetricKeys.h
Labels: darwin, review - approved

#34266 Introduce a building block usable for all Q attributes
  .github/workflows/build.yaml
  src/BUILD.gn
  src/app/cluster-building-blocks/BUILD.gn
  src/app/cluster-building-blocks/QuieterReporting.h
  src/app/cluster-building-blocks/tests/BUILD.gn
  src/app/cluster-building-blocks/tests/TestQuieterReporting.cpp
Labels: app, github, workflows, review - approved

#34273 move AttemptToGetTimeFromTrustedNode out of TIME_SYNC_ENABLE_TSC_FEATURE blocks
  src/app/clusters/time-synchronization-server/time-synchronization-server.h
Labels: app, review - approved

#34292 Update Darwin availability annotations.
  src/darwin/Framework/CHIP/MTRDevice.h
  src/darwin/Framework/CHIP/MTRDevice.mm
  src/darwin/Framework/CHIP/templates/availability.yaml
Labels: darwin, review - pending, fast track

#34270 Fix door lock endpoint initialization.
  src/app/clusters/door-lock-server/door-lock-server.cpp
  src/app/clusters/door-lock-server/door-lock-server.h
Labels: app, review - approved

#34103 [NXP] Adding Zephyr examples
  .github/workflows/examples-nxp.yaml
  examples/all-clusters-app/nxp/zephyr/.gitignore
  examples/all-clusters-app/nxp/zephyr/CMakeLists.txt
  examples/all-clusters-app/nxp/zephyr/Kconfig
  examples/all-clusters-app/nxp/zephyr/README.md
  examples/all-clusters-app/nxp/zephyr/boards/rd_rw612_bga.overlay
  examples/all-clusters-app/nxp/zephyr/boards/rd_rw612_bga_fdata.conf
  examples/all-clusters-app/nxp/zephyr/main/include/CHIPProjectConfig.h
  examples/all-clusters-app/nxp/zephyr/main/main.cpp
  examples/all-clusters-app/nxp/zephyr/prj.conf
  examples/all-clusters-app/nxp/zephyr/prj_fdata.conf
  examples/all-clusters-app/nxp/zephyr/prj_ota.conf
  examples/all-clusters-app/nxp/zephyr/third_party/connectedhomeip
  examples/laundry-washer-app/nxp/zephyr/.gitignore
  examples/laundry-washer-app/nxp/zephyr/CMakeLists.txt
  examples/laundry-washer-app/nxp/zephyr/Kconfig
  examples/laundry-washer-app/nxp/zephyr/README.md
  examples/laundry-washer-app/nxp/zephyr/boards/rd_rw612_bga.overlay
  examples/laundry-washer-app/nxp/zephyr/boards/rd_rw612_bga_fdata.conf
  examples/laundry-washer-app/nxp/zephyr/main/include/CHIPProjectConfig.h
  examples/laundry-washer-app/nxp/zephyr/main/main.cpp
  examples/laundry-washer-app/nxp/zephyr/prj.conf
  examples/laundry-washer-app/nxp/zephyr/prj_fdata.conf
  examples/laundry-washer-app/nxp/zephyr/prj_ota.conf
  examples/laundry-washer-app/nxp/zephyr/third_party/connectedhomeip
  examples/thermostat/nxp/zephyr/.gitignore
  examples/thermostat/nxp/zephyr/CMakeLists.txt
  examples/thermostat/nxp/zephyr/Kconfig
  examples/thermostat/nxp/zephyr/README.md
  examples/thermostat/nxp/zephyr/boards/rd_rw612_bga.overlay
  examples/thermostat/nxp/zephyr/boards/rd_rw612_bga_fdata.conf
  examples/thermostat/nxp/zephyr/main/include/CHIPProjectConfig.h
  examples/thermostat/nxp/zephyr/main/main.cpp
  examples/thermostat/nxp/zephyr/prj.conf
  examples/thermostat/nxp/zephyr/prj_fdata.conf
  examples/thermostat/nxp/zephyr/prj_ota.conf
  examples/thermostat/nxp/zephyr/third_party/connectedhomeip
  scripts/build/build/targets.py
  scripts/build/builders/nxp.py
  scripts/build/testdata/all_targets_linux_x64.txt
Labels: examples, scripts, github, workflows, review - approved

#34294 [Fabric-Bridge] Delete obsolete Dockerfile
  examples/fabric-bridge-app/linux/Dockerfile
Labels: review - pending, fast track

#34223 Launch/Bring to the foreground Content App on Target Navigator and Content Launch Command
  examples/tv-app/android/App/platform-app/src/main/AndroidManifest.xml
  examples/tv-app/android/App/platform-app/src/main/java/com/matter/tv/server/handlers/ContentAppEndpointManagerImpl.java
Labels: examples, review - approved

#34144 Serialize ContentApp SupportedCluster set
  examples/tv-app/android/App/platform-app/src/main/java/com/matter/tv/server/model/ContentApp.java
  examples/tv-app/android/App/platform-app/src/main/java/com/matter/tv/server/utils/EndpointsDataStore.java
Labels: examples, review - approved

#34303 Remove some more unnecessary lock code.
  src/app/clusters/door-lock-server/door-lock-server.cpp
Labels: app, review - approved

#34248 Fix codeql errors
  examples/common/tracing/decoder/logging/ToCertificateString.cpp
  src/app/WriteClient.h
  src/app/tests/TestBufferedReadCallback.cpp
  src/lib/shell/commands/Config.cpp
  src/lib/shell/commands/Dns.cpp
Labels: examples, lib, app, review - approved, shell, tests

#34309 [ESP32] Backport MAX_EVENT_QUEUE_SIZE to 40 by default for ESP32 platform on v1.3-branch.
  config/esp32/components/chip/Kconfig
  examples/all-clusters-app/esp32/sdkconfig.defaults.esp32c2
  examples/all-clusters-minimal-app/esp32/sdkconfig.defaults.esp32c2
  examples/energy-management-app/esp32/sdkconfig.defaults.esp32c2
  examples/lighting-app/esp32/sdkconfig.defaults.esp32c2
Labels: examples, config

#34187 Make RPC call synchronous in Fabric Sync
  examples/fabric-admin/rpc/RpcClient.cpp
  examples/fabric-admin/rpc/RpcClient.h
  examples/fabric-bridge-app/linux/RpcClient.cpp
  examples/fabric-bridge-app/linux/include/RpcClient.h
Labels: examples, review - approved

#34212 Clear data from MTRDevice's ClusterStateCache when elements are removed.
  src/darwin/Framework/CHIP/MTRBaseSubscriptionCallback.h
  src/darwin/Framework/CHIP/MTRBaseSubscriptionCallback.mm
  src/darwin/Framework/CHIP/MTRDevice.mm
Labels: darwin, review - approved

#34321 Fixing crashes when comparing objects to nil
  src/darwin/Framework/CHIP/MTRBaseDevice.mm
  src/darwin/Framework/CHIP/MTRDevice.mm
Labels: darwin, fast track

#34302 Add Aliro delegate support to the example lock app.
  examples/lock-app/lock-common/include/LockEndpoint.h
  examples/lock-app/lock-common/include/LockManager.h
  examples/lock-app/lock-common/src/LockEndpoint.cpp
  examples/lock-app/lock-common/src/LockManager.cpp
  src/app/clusters/door-lock-server/door-lock-server.cpp
  src/app/clusters/door-lock-server/door-lock-server.h
Labels: examples, app, review - pending, fast track

#34318 Attempt to reduce CI failures in Energy Reporting test cases
  src/python_testing/TC_EEM_2_2.py
  src/python_testing/TC_EEM_2_3.py
  src/python_testing/TC_EEM_2_4.py
  src/python_testing/TC_EEM_2_5.py
  src/python_testing/TC_EPM_2_2.py
Labels: review - approved, tests

#34320 Adding logging to MTRDeviceController
  src/darwin/Framework/CHIP/MTRDeviceController.mm
Labels: darwin, fast track

#34324 [1.3 cherry-pick] Bump numpy/pandas to work with Python 3.12
  scripts/setup/constraints.txt
Labels: scripts

#34323 [1.3 cherry-pick] Support building chip-tool with python3.12
  scripts/setup/constraints.txt
  scripts/setup/requirements.esp32.txt
Labels: scripts

#34306 Support raw ByteSpan values correctly in SafeAttributePersistenceProvider
  src/app/DefaultAttributePersistenceProvider.cpp
  src/app/DefaultAttributePersistenceProvider.h
  src/app/SafeAttributePersistenceProvider.h
  src/app/tests/TestAttributePersistenceProvider.cpp
Labels: app, review - approved, tests

#34191 Revert "[ESP32] Remove SupportedModes implementation of ModeSelect from nvs and use all-clusters-apps common implementation"
  docs/guides/esp32/providers.md
  examples/all-clusters-app/esp32/main/CMakeLists.txt
  examples/all-clusters-app/esp32/main/main.cpp
  examples/platform/esp32/mode-support/static-supported-modes-manager.cpp
  examples/platform/esp32/mode-support/static-supported-modes-manager.h
  scripts/tools/generate_esp32_chip_factory_bin.py
Labels: documentation, examples, scripts, platform, review - approved

#34327 [Fabric-Bridge] Refactor platform independent files out of linux folder
  examples/fabric-bridge-app/fabric-bridge-common/BUILD.gn
  examples/fabric-bridge-app/fabric-bridge-common/include/Device.h
  examples/fabric-bridge-app/fabric-bridge-common/include/DeviceManager.h
  examples/fabric-bridge-app/fabric-bridge-common/src/Device.cpp
  examples/fabric-bridge-app/fabric-bridge-common/src/DeviceManager.cpp
  examples/fabric-bridge-app/fabric-bridge-common/src/ZCLCallbacks.cpp
  examples/fabric-bridge-app/linux/BUILD.gn
  examples/fabric-bridge-app/linux/main.cpp
Labels: examples, review - approved

#34331 ThreadOperationalDataset: various bug fixes
  src/lib/support/ThreadOperationalDataset.cpp
  src/lib/support/ThreadOperationalDataset.h
  src/lib/support/tests/TestThreadOperationalDataset.cpp
Labels: lib, review - approved, support

#34348 [Infineon] Update CYW30739 README files and setup requirements.
  examples/light-switch-app/infineon/cyw30739/README.md
  examples/lighting-app/infineon/cyw30739/README.md
  examples/lock-app/infineon/cyw30739/README.md
  examples/thermostat/infineon/cyw30739/README.md
  scripts/setup/requirements.infineon.txt
Labels: examples, scripts, review - approved

#34350 [ESP32] Fixed the check to set the certificatio declaration using api in FactoryDataProviderImpl.
  src/platform/ESP32/ESP32FactoryDataProvider.cpp
Labels: platform, esp32, review - approved

#34346 [Python] Adjust logging levels in Python controller
  src/controller/python/chip/CertificateAuthority.py
  src/controller/python/chip/ChipDeviceCtrl.py
  src/controller/python/chip/FabricAdmin.py
  src/controller/python/chip/clusters/Attribute.py
  src/controller/python/chip/storage/__init__.py
Labels: controller, review - approved

#34349 [NXP] Switch to using BLE mgr impl files from common NXP folder
  src/platform/nxp/common/ble_zephyr/BLEAdvertisingArbiter.cpp
  src/platform/nxp/common/ble_zephyr/BLEAdvertisingArbiter.h
  src/platform/nxp/common/ble_zephyr/BLEManagerImpl.cpp
  src/platform/nxp/common/ble_zephyr/BLEManagerImpl.h
  src/platform/nxp/rt/rw61x/BUILD.gn
Labels: platform, review - pending, fast track

#34353 Stop importing operator* and operator-> into Nullable.
  src/app/cluster-building-blocks/QuieterReporting.h
  src/app/cluster-building-blocks/tests/TestQuieterReporting.cpp
  src/app/codegen-data-model/CodegenDataModel_Write.cpp
  src/app/data-model/Nullable.h
Labels: app, review - approved, critical quality fix

#34356 Add the OTA Requestor device type on EP0 for the ota-requestor app.
  examples/ota-requestor-app/ota-requestor-common/ota-requestor-app.matter
  examples/ota-requestor-app/ota-requestor-common/ota-requestor-app.zap
Labels: examples, review - approved

#34338 Remove global RPC call handler for each RPC call
  examples/fabric-admin/rpc/RpcClient.cpp
  examples/fabric-bridge-app/linux/RpcClient.cpp
Labels: examples, review - approved

#34359 Update key documentation for Matter.framework storage.
  src/darwin/Framework/CHIP/MTRDemuxingStorage.mm
Labels: darwin, review - pending, fast track

#33957 Moving these error logs to logs
  src/darwin/Framework/CHIP/MTRDevice.mm
  src/darwin/Framework/CHIP/MTRDeviceStorageBehaviorConfiguration.mm
Labels: darwin, fast track

#34330 [nrfconnect] Updated nRF Connect SDK version in Docker to 2.7.0
  integrations/docker/images/base/chip-build/version
  integrations/docker/images/stage-2/chip-build-nrf-platform/Dockerfile
Labels: integrations, review - approved, docker

#33854 Choice conformance: Add choice conformance markers
  .github/workflows/tests.yaml
  src/python_testing/TC_DeviceConformance.py
  src/python_testing/TestConformanceSupport.py
  src/python_testing/conformance_support.py
Labels: github, workflows, review - approved, tests

#34354 [Python] Avoid RuntimeException if APIs with future raise an error
  src/controller/python/chip/ChipDeviceCtrl.py
  src/controller/python/chip/ChipStack.py
  src/controller/python/chip/clusters/Attribute.py
  src/controller/python/chip/clusters/Command.py
Labels: controller, review - approved

#34368 [Python] Fix build without host unit test config
  src/controller/python/chip/clusters/command.cpp
Labels: controller, review - approved

#34378 Depend less on precise all-clusters-app endpoints layout in Darwin tests.
  src/darwin/Framework/CHIPTests/MTRDeviceTests.m
  src/darwin/Framework/CHIPTests/MTRPerControllerStorageTests.m
Labels: darwin, review - pending, fast track

#34376 Prefix `InteractionModel` namespace with `protocols`
  src/app/clusters/administrator-commissioning-server/administrator-commissioning-server.cpp
  src/app/clusters/icd-management-server/icd-management-server.cpp
  src/app/tests/TestCommandInteraction.cpp
  src/app/tests/suites/commands/interaction_model/InteractionModel.cpp
  src/controller/tests/data_model/DataModelFixtures.cpp
  src/controller/tests/data_model/TestCommands.cpp
Labels: controller, app, review - approved, tests

#34365 [NXP] Add Workflow for RW61x Zephyr examples
  .github/workflows/examples-nxp.yaml
Labels: github, workflows, review - pending, fast track

#34364 [ESP32] Backport the Certification Declaration check fix in FactoryDataProviderImpl on v1.3-branch.
  src/platform/ESP32/ESP32FactoryDataProvider.cpp
Labels: platform, esp32

#34380 [Python] Add missing attribute read parameters to docs
  src/controller/python/chip/ChipDeviceCtrl.py
Labels: controller, review - approved

#34373 Update `chip-build` image to 65
  .github/actions/bootstrap-cache/action.yaml
  .github/workflows/bloat_check.yaml
  .github/workflows/build.yaml
  .github/workflows/chef.yaml
  .github/workflows/examples-linux-standalone.yaml
  .github/workflows/examples-linux-tv-casting-app.yaml
  .github/workflows/examples-mw320.yaml
  .github/workflows/examples-qpg.yaml
  .github/workflows/examples-stm32.yaml
  .github/workflows/fuzzing-build.yaml
  .github/workflows/lint.yml
  .github/workflows/tests.yaml
  .github/workflows/unit_integration_test.yaml
  .github/workflows/zap_regeneration.yaml
  .github/workflows/zap_templates.yaml
  scripts/setup/requirements.build.txt
Labels: scripts, github, workflows, review - approved

#34382 Log message sizes in Msg RX/TX logs.
  src/messaging/ExchangeMgr.cpp
  src/messaging/README.md
  src/transport/SessionManager.cpp
Labels: review - approved

#34362 Fixing nil crashes
  .vscode/settings.json
  src/darwin/Framework/CHIP/MTRBaseDevice.mm
  src/darwin/Framework/CHIP/MTRDevice.mm
  src/darwin/Framework/CHIP/MTRUtilities.mm
  src/darwin/Framework/Matter.xcodeproj/project.pbxproj
Labels: examples, darwin, vscode, review - approved

#34372 [Python] Fix subscription error handling and re-subscription
  src/controller/python/chip/clusters/Attribute.py
Labels: controller, review - approved

#34370 [Python] Only auto re-subscribe after initial subscription
  src/controller/python/chip/clusters/attribute.cpp
Labels: controller, review - approved

#34379 Fix Dockerfile for chip-cert-bins
  integrations/docker/images/chip-cert-bins/Dockerfile
Labels: integrations, review - approved, docker

#34391 update more CI runs to version 65 (i.e. ubuntu 24.04)
  .github/workflows/examples-asr.yaml
  .github/workflows/examples-efr32.yaml
  .github/workflows/examples-mbed.yaml
  .github/workflows/examples-nuttx.yaml
  .github/workflows/examples-nxp.yaml
  .github/workflows/examples-openiotsdk.yaml
  .github/workflows/examples-rw61x.yaml
  .github/workflows/examples-telink.yaml
  .github/workflows/examples-tizen.yaml
  .github/workflows/minimal-build.yaml
Labels: github, workflows, review - approved

#34397 Fix the build cache key to incldue lsb-release
  .github/actions/bootstrap/action.yaml
Labels: hotfix, github, review - pending

#34398 Fix macos hashing for O/s and availability of md5sum
  .github/actions/bootstrap/action.yaml
Labels: hotfix, github

#34393 [SILABS] Minor fixes for LWIP usage
  src/platform/silabs/PlatformManagerImpl.cpp
  src/platform/silabs/PlatformManagerImpl.h
  src/platform/silabs/SiWx917/wifi/wfx_host_events.h
  src/platform/silabs/efr32/wifi/wfx_host_events.h
Labels: examples, platform, review - approved, silabs

#34381 Log the peer ID when logging operational IP lookup results.
  src/lib/address_resolve/AddressResolve_DefaultImpl.cpp
Labels: lib, review - approved

#34385 [window-covering] Fixed window covering build on nrfconnect
  examples/window-app/nrfconnect/main/WindowCovering.cpp
Labels: examples, review - approved

#34392 Update `ember-compatibility-functions` to always return error codes instead of directly encoding them as success.
  src/app/util/ember-compatibility-functions.cpp
Labels: app, review - approved

#34394 Update Darwin availability annotations.
  src/darwin/Framework/CHIP/templates/availability.yaml
Labels: darwin, review - pending, fast track

#34329 Remove including RvcOperationalState in operational-state-delegate-impl.
  examples/laundry-washer-app/nxp/common/main/operational-state-delegate-impl.cpp
Labels: examples, review - approved

#34401 Move chip-build-crosscompile to version 65
  .github/workflows/examples-linux-arm.yaml
Labels: github, workflows, review - approved

#34400 Move chip-build-java to version 65
  .github/workflows/java-tests.yaml
Labels: github, workflows, review - approved

#34402 Replace chip-build-cirque version comment with a generic string
  .github/workflows/cirque.yaml
Labels: github, workflows, review - approved

#34399 Move chip-build-doxygen to version 65
  .github/workflows/doxygen.yaml
Labels: github, workflows, review - approved

#31653 Add support for DEMM 3.1,3.2,3.3 and EVSEM 3.1,3.2,3.3 test case by enabling StartUpMode and OnMode attributes
  examples/all-clusters-app/all-clusters-common/all-clusters-app.matter
  examples/all-clusters-app/all-clusters-common/all-clusters-app.zap
  examples/energy-management-app/energy-management-common/energy-management-app.matter
  examples/energy-management-app/energy-management-common/energy-management-app.zap
Labels: examples, review - approved

#34387 Return CHIP_ERROR from BlePlatformDelegate APIs
  src/ble/BLEEndPoint.cpp
  src/ble/BLEEndPoint.h
  src/ble/BlePlatformDelegate.h
  src/ble/tests/TestBleLayer.cpp
  src/platform/ASR/BLEManagerImpl.cpp
  src/platform/ASR/BLEManagerImpl.h
  src/platform/Ameba/BLEManagerImpl.cpp
  src/platform/Ameba/BLEManagerImpl.h
  src/platform/Beken/BLEManagerImpl.cpp
  src/platform/Beken/BLEManagerImpl.h
  src/platform/Darwin/BlePlatformDelegate.h
  src/platform/Darwin/BlePlatformDelegateImpl.mm
  src/platform/ESP32/BLEManagerImpl.h
  src/platform/ESP32/bluedroid/BLEManagerImpl.cpp
  src/platform/ESP32/nimble/BLEManagerImpl.cpp
  src/platform/Infineon/CYW30739/BLEManagerImpl.cpp
  src/platform/Infineon/CYW30739/BLEManagerImpl.h
  src/platform/Infineon/PSOC6/BLEManagerImpl.cpp
  src/platform/Infineon/PSOC6/BLEManagerImpl.h
  src/platform/Linux/BLEManagerImpl.cpp
  src/platform/Linux/BLEManagerImpl.h
  src/platform/NuttX/BLEManagerImpl.cpp
  src/platform/NuttX/BLEManagerImpl.h
  src/platform/Tizen/BLEManagerImpl.cpp
  src/platform/Tizen/BLEManagerImpl.h
  src/platform/Zephyr/BLEManagerImpl.cpp
  src/platform/Zephyr/BLEManagerImpl.h
  src/platform/android/BLEManagerImpl.cpp
  src/platform/android/BLEManagerImpl.h
  src/platform/bouffalolab/common/BLEManagerImpl.cpp
  src/platform/bouffalolab/common/BLEManagerImpl.h
  src/platform/cc13xx_26xx/BLEManagerImpl.cpp
  src/platform/cc13xx_26xx/cc13x4_26x4/BLEManagerImpl.h
  src/platform/mbed/BLEManagerImpl.cpp
  src/platform/mbed/BLEManagerImpl.h
  src/platform/mt793x/BLEManagerImpl.cpp
  src/platform/mt793x/BLEManagerImpl.h
  src/platform/nxp/common/ble_zephyr/BLEManagerImpl.cpp
  src/platform/nxp/common/ble_zephyr/BLEManagerImpl.h
  src/platform/nxp/k32w/common/BLEManagerCommon.cpp
  src/platform/nxp/k32w/common/BLEManagerCommon.h
  src/platform/qpg/BLEManagerImpl.cpp
  src/platform/qpg/BLEManagerImpl.h
  src/platform/silabs/BLEManagerImpl.h
  src/platform/silabs/efr32/BLEManagerImpl.cpp
  src/platform/silabs/rs911x/BLEManagerImpl.cpp
  src/platform/stm32/BLEManagerImpl.cpp
  src/platform/stm32/BLEManagerImpl.h
  src/platform/telink/BLEManagerImpl.cpp
  src/platform/telink/BLEManagerImpl.h
  src/platform/webos/BLEManagerImpl.cpp
  src/platform/webos/BLEManagerImpl.h
Labels: platform, darwin, esp32, linux, zephyr, ble, review - approved, telink, tizen, silabs

#34288 Update AttributePathExpandIterator to be able to use the IM/DM DataModel split
  .github/workflows/lint.yml
  scripts/build/builders/host.py
  src/app/AttributePathExpandIterator-Checked.cpp
  src/app/AttributePathExpandIterator-Checked.h
  src/app/AttributePathExpandIterator-DataModel.cpp
  src/app/AttributePathExpandIterator-DataModel.h
  src/app/AttributePathExpandIterator-Ember.cpp
  src/app/AttributePathExpandIterator-Ember.h
  src/app/AttributePathExpandIterator.h
  src/app/BUILD.gn
  src/app/InteractionModelEngine.cpp
  src/app/InteractionModelEngine.h
  src/app/ReadHandler.cpp
  src/app/ReadHandler.h
  src/app/SubscriptionResumptionSessionEstablisher.cpp
  src/app/chip_data_model.cmake
  src/app/chip_data_model.gni
  src/app/codegen-data-model/BUILD.gn
  src/app/codegen-data-model/CodegenDataModel_Read.cpp
  src/app/codegen-data-model/Instance.cpp
  src/app/codegen-data-model/Instance.h
  src/app/codegen-data-model/model.cmake
  src/app/codegen-data-model/model.gni
  src/app/tests/BUILD.gn
  src/app/tests/TestAttributePathExpandIterator.cpp
  src/app/tests/TestInteractionModelEngine.cpp
  src/app/tests/TestReadInteraction.cpp
  src/app/tests/TestReportScheduler.cpp
  src/app/tests/TestReportingEngine.cpp
  src/app/tests/integration/BUILD.gn
  src/app/util/mock/BUILD.gn
  src/app/util/mock/CodegenEmberMocks.cpp
  src/controller/tests/data_model/BUILD.gn
Labels: scripts, controller, app, github, workflows, review - approved, tests

#34209 Add OCW verifier, pass params between fabric bridge & admin
  examples/chip-tool/commands/pairing/OpenCommissioningWindowCommand.cpp
  examples/common/pigweed/BUILD.gn
  examples/common/pigweed/protos/fabric_admin_service.options
  examples/common/pigweed/protos/fabric_admin_service.proto
  examples/common/pigweed/rpc_services/FabricAdmin.h
  examples/fabric-admin/commands/pairing/OpenCommissioningWindowCommand.cpp
  examples/fabric-admin/commands/pairing/OpenCommissioningWindowCommand.h
  examples/fabric-admin/rpc/RpcServer.cpp
  examples/fabric-bridge-app/linux/RpcClient.cpp
  examples/fabric-bridge-app/linux/include/RpcClient.h
  examples/fabric-bridge-app/linux/main.cpp
  src/controller/BUILD.gn
  src/controller/CHIPDeviceController.h
  src/controller/CommissioningWindowOpener.cpp
  src/controller/CommissioningWindowOpener.h
  src/controller/CommissioningWindowParams.h
  src/controller/python/ChipDeviceController-ScriptBinding.cpp
  src/controller/tests/BUILD.gn
  src/controller/tests/TestCommissioningWindowOpener.cpp
Labels: tools, examples, darwin, controller, review - approved

#34416 Fix post-review comments on Q quality utils from #34266
  src/app/cluster-building-blocks/QuieterReporting.h
  src/app/cluster-building-blocks/tests/TestQuieterReporting.cpp
Labels: app, review - approved

#33251 [ColorControl]Add checks for rate and step size parameters in commands handling
  examples/all-clusters-app/all-clusters-common/all-clusters-app.matter
  examples/all-clusters-app/all-clusters-common/all-clusters-app.zap
  examples/all-clusters-minimal-app/all-clusters-common/all-clusters-minimal-app.matter
  examples/all-clusters-minimal-app/all-clusters-common/all-clusters-minimal-app.zap
  examples/chef/devices/rootnode_colortemperaturelight_hbUnzYVeyn.matter
  examples/chef/devices/rootnode_colortemperaturelight_hbUnzYVeyn.zap
  examples/chef/devices/rootnode_extendedcolorlight_8lcaaYJVAa.matter
  examples/chef/devices/rootnode_extendedcolorlight_8lcaaYJVAa.zap
  examples/light-switch-app/light-switch-common/light-switch-app.matter
  examples/light-switch-app/light-switch-common/light-switch-app.zap
  examples/light-switch-app/qpg/zap/switch.matter
  examples/light-switch-app/qpg/zap/switch.zap
  examples/lighting-app/bouffalolab/data_model/lighting-app-ethernet.matter
  examples/lighting-app/bouffalolab/data_model/lighting-app-ethernet.zap
  examples/lighting-app/bouffalolab/data_model/lighting-app-thread.matter
  examples/lighting-app/bouffalolab/data_model/lighting-app-thread.zap
  examples/lighting-app/bouffalolab/data_model/lighting-app-wifi.matter
  examples/lighting-app/bouffalolab/data_model/lighting-app-wifi.zap
  examples/lighting-app/lighting-common/lighting-app.matter
  examples/lighting-app/lighting-common/lighting-app.zap
  examples/lighting-app/qpg/zap/light.matter
  examples/lighting-app/qpg/zap/light.zap
  examples/lighting-app/silabs/data_model/lighting-thread-app.matter
  examples/lighting-app/silabs/data_model/lighting-thread-app.zap
  examples/lighting-app/silabs/data_model/lighting-wifi-app.matter
  examples/lighting-app/silabs/data_model/lighting-wifi-app.zap
  examples/placeholder/linux/apps/app1/config.matter
  examples/placeholder/linux/apps/app1/config.zap
  examples/placeholder/linux/apps/app2/config.matter
  examples/placeholder/linux/apps/app2/config.zap
  examples/virtual-device-app/virtual-device-common/virtual-device-app.matter
  examples/virtual-device-app/virtual-device-common/virtual-device-app.zap
  scripts/tools/zap/tests/inputs/all-clusters-app.zap
  scripts/tools/zap/tests/inputs/lighting-app.zap
  scripts/tools/zap/tests/outputs/all-clusters-app/app-templates/endpoint_config.h
  scripts/tools/zap/tests/outputs/lighting-app/app-templates/endpoint_config.h
  src/app/clusters/color-control-server/color-control-server.cpp
  src/app/tests/suites/certification/Test_TC_CC_3_2.yaml
  src/app/tests/suites/certification/Test_TC_CC_3_3.yaml
  src/app/tests/suites/certification/Test_TC_CC_4_2.yaml
  src/app/tests/suites/certification/Test_TC_CC_4_3.yaml
  src/app/tests/suites/certification/Test_TC_CC_5_2.yaml
  src/app/tests/suites/certification/Test_TC_CC_5_3.yaml
  src/app/tests/suites/certification/Test_TC_CC_6_2.yaml
  src/app/tests/suites/certification/Test_TC_CC_6_3.yaml
  src/app/tests/suites/certification/Test_TC_CC_7_2.yaml
  src/app/tests/suites/certification/Test_TC_CC_7_3.yaml
  src/app/zap-templates/zcl/data-model/chip/color-control-cluster.xml
  src/controller/data_model/controller-clusters.matter
  src/controller/data_model/controller-clusters.zap
Labels: examples, scripts, controller, app, review - approved, tests

#34289 Fix DNS-SD TCP advertisement to use a bitmap for Client and Server.
  src/app/server/Dnssd.cpp
  src/app/server/Dnssd.h
  src/lib/dnssd/Advertiser.h
  src/lib/dnssd/Advertiser_ImplMinimalMdns.cpp
  src/lib/dnssd/Discovery_ImplPlatform.cpp
  src/lib/dnssd/minimal_mdns/tests/TestAdvertiser.cpp
Labels: lib, app, review - approved

#34408 Use manual instantiation for Wi-Fi Network Management server
  examples/network-manager-app/linux/main.cpp
  src/app/clusters/wifi-network-management-server/wifi-network-management-server.cpp
  src/app/clusters/wifi-network-management-server/wifi-network-management-server.h
  src/app/common/templates/config-data.yaml
Labels: examples, app, review - approved

#34413 Missing log function in Zephyr standalone platform
  config/nrfconnect/chip-module/Kconfig
  config/nxp/chip-module/Kconfig
  config/telink/chip-module/Kconfig
  config/zephyr/Kconfig
  config/zephyr/chip-module/Kconfig.logging
Labels: config, review - approved

#34439 bumping mypy python package version to 1.10.1 in venv
  scripts/setup/constraints.txt
  scripts/setup/requirements.all.txt
Labels: scripts, review - pending, fast track

#34442 [Scenes] TC_S_2_2 Test groups cluster
  src/app/tests/suites/certification/Test_TC_S_2_2.yaml
Labels: app, review - approved, tests

#34407 TC-SC-7.1: Add test for unique discriminators
  .github/workflows/tests.yaml
  src/python_testing/TC_DA_1_7.py
  src/python_testing/TC_SC_7_1.py
  src/python_testing/basic_composition_support.py
  src/python_testing/matter_testing_support.py
  src/python_testing/post_certification_tests/production_device_checks.py
  src/python_testing/test_testing/MockTestRunner.py
  src/python_testing/test_testing/test_TC_SC_7_1.py
Labels: github, workflows, review - approved, tests

#34182 [Darwin] MTRDevice in-memory cache needs to be resilient to data store returning nil
  src/darwin/Framework/CHIP/MTRDevice.mm
  src/darwin/Framework/CHIP/MTRDeviceController.mm
  src/darwin/Framework/CHIP/MTRDeviceControllerDataStore.mm
  src/darwin/Framework/CHIPTests/MTRPerControllerStorageTests.m
  src/darwin/Framework/CHIPTests/TestHelpers/MTRTestDeclarations.h
Labels: darwin, review - pending, fast track
