Repository project-chip/connectedhomeip, pull requests merged in 2024-05, with the labels that each got.

#30339 Connection and CASE session management over TCP
  examples/shell/shell_common/include/Globals.h
  src/app/CASESessionManager.cpp
  src/app/CASESessionManager.h
  src/app/OperationalSessionSetup.cpp
  src/app/OperationalSessionSetup.h
  src/app/server/Server.cpp
  src/app/server/Server.h
  src/app/tests/TestCommissionManager.cpp
  src/controller/CHIPDeviceControllerFactory.cpp
  src/controller/CHIPDeviceControllerSystemState.h
  src/include/platform/internal/GenericPlatformManagerImpl.ipp
  src/messaging/ExchangeContext.cpp
  src/messaging/ExchangeContext.h
  src/messaging/ExchangeMgr.cpp
  src/messaging/ExchangeMgr.h
  src/messaging/tests/echo/common.cpp
  src/messaging/tests/echo/echo_requester.cpp
  src/messaging/tests/echo/echo_responder.cpp
  src/protocols/secure_channel/CASESession.cpp
  src/protocols/secure_channel/CASESession.h
  src/protocols/secure_channel/PairingSession.cpp
  src/protocols/user_directed_commissioning/UserDirectedCommissioning.h
  src/protocols/user_directed_commissioning/UserDirectedCommissioningClient.cpp
  src/protocols/user_directed_commissioning/UserDirectedCommissioningServer.cpp
  src/transport/BUILD.gn
  src/transport/Session.h
  src/transport/SessionConnectionDelegate.h
  src/transport/SessionDelegate.h
  src/transport/SessionManager.cpp
  src/transport/SessionManager.h
  src/transport/TransportMgr.h
  src/transport/TransportMgrBase.cpp
  src/transport/TransportMgrBase.h
  src/transport/UnauthenticatedSessionTable.h
  src/transport/raw/ActiveTCPConnectionState.h
  src/transport/raw/BUILD.gn
  src/transport/raw/Base.h
  src/transport/raw/TCP.cpp
  src/transport/raw/TCP.h
  src/transport/raw/TCPConfig.h
  src/transport/raw/Tuple.h
  src/transport/raw/tests/BUILD.gn
  src/transport/raw/tests/TestTCP.cpp
  src/transport/raw/tests/TestUDP.cpp
Labels: documentation, tools, examples, scripts, integrations, transport, system, platform, darwin, esp32, linux, nrf connect, zephyr, lib, inet, controller, ble, app, config, github, workflows, gn, review - approved, lwip, shell, tests, support, core, test driver, icd, docker, silabs, messaging, protocols, tcp

#33238 pw_unit_test migration: lib support batch 5
  src/BUILD.gn
  src/lib/support/tests/BUILD.gn
  src/lib/support/tests/TestCHIPArgParser.cpp
  src/lib/support/tests/TestPool.cpp
  src/lib/support/tests/TestStateMachine.cpp
  src/lib/support/tests/TestThreadOperationalDataset.cpp
  src/test_driver/openiotsdk/unit-tests/test_components_nl.txt
Labels: lib, review - pending, fast track, support, test driver

#32760 [Python] Implement async friendly GetConnectedDevice
  src/controller/python/chip/ChipDeviceCtrl.py
Labels: controller, review - approved

#32848 Timesync improvements - part 1
  examples/light-switch-app/light-switch-common/light-switch-app.matter
  examples/light-switch-app/light-switch-common/light-switch-app.zap
  src/app/clusters/time-synchronization-server/DefaultTimeSyncDelegate.cpp
  src/app/clusters/time-synchronization-server/DefaultTimeSyncDelegate.h
  src/app/clusters/time-synchronization-server/time-synchronization-delegate.h
  src/app/clusters/time-synchronization-server/time-synchronization-server.cpp
  src/app/clusters/time-synchronization-server/time-synchronization-server.h
Labels: examples, app, review - approved

#33252 [Linux]DGSW_2_3 fails CurrentHeapUsed is greater than CurrentHeapHighWatermark
  src/platform/Linux/DiagnosticDataProviderImpl.cpp
Labels: platform, linux, review - approved

#33263 Fix reference cycle between controller and data store in Matter.framework.
  .github/workflows/darwin.yaml
  src/darwin/Framework/CHIP/MTRDeviceControllerDataStore.mm
  src/darwin/Framework/CHIPTests/MTRPerControllerStorageTests.m
  src/darwin/Framework/CHIPTests/TestHelpers/MTRTestCase.h
  src/darwin/Framework/CHIPTests/TestHelpers/MTRTestCase.mm
  src/darwin/Framework/Matter.xcodeproj/project.pbxproj
Labels: darwin, github, workflows, review - pending, fast track

#33259 Replace `DispatchSessionEvent` with `NotifySessionHang` on sessions.
  src/messaging/ExchangeContext.cpp
  src/messaging/ReliableMessageMgr.cpp
  src/transport/Session.h
  src/transport/SessionDelegate.h
Labels: transport, review - approved, messaging

#33242 Support building chip-tool with python3.12
  scripts/setup/constraints.txt
  scripts/setup/requirements.esp32.txt
Labels: scripts, review - pending, fast track

#33273 Fix off-by-one in reference lookbehind checks for QName iterators.
  src/lib/dnssd/minimal_mdns/core/QName.cpp
  src/lib/dnssd/minimal_mdns/core/tests/TestQName.cpp
Labels: review - approved, needs review - critical

#33281 Cherrypick into 1.1: Fix off-by-one in look checks for QName iterators.
  src/lib/dnssd/minimal_mdns/core/QName.cpp
  src/lib/dnssd/minimal_mdns/core/tests/TestQName.cpp
Labels: lib

#33276 Fix leaks of keys in Matter.framework unit tests.
  src/darwin/Framework/CHIPTests/MTRCertificateValidityTests.m
  src/darwin/Framework/CHIPTests/MTRPerControllerStorageTests.m
Labels: darwin, review - pending, fast track

#33266 Remove the kDNSServiceFlagsTimeout flag when calling DNSServiceGetAdd…
  src/platform/Darwin/DnssdImpl.cpp
Labels: platform, darwin, review - approved

#33208 [Ameba] Add Ameba crypto implementation
  examples/air-purifier-app/ameba/main/chipinterface.cpp
  examples/all-clusters-app/ameba/main/chipinterface.cpp
  examples/light-switch-app/ameba/main/chipinterface.cpp
  examples/lighting-app/ameba/main/chipinterface.cpp
  src/platform/Ameba/BUILD.gn
  src/platform/Ameba/FactoryDataDecoder.cpp
  src/platform/Ameba/FactoryDataDecoder.h
  src/platform/Ameba/FactoryDataProvider.cpp
  src/platform/Ameba/crypto/AmebaPersistentStorageOperationalKeystore.cpp
  src/platform/Ameba/crypto/AmebaPersistentStorageOperationalKeystore.h
Labels: examples, platform, config, review - approved

#33279 Cherrypick into 1.3: `Fix off-by-one in look checks for QName iterators.`
  src/lib/dnssd/minimal_mdns/core/QName.cpp
  src/lib/dnssd/minimal_mdns/core/tests/TestQName.cpp
Labels: lib

#33280 Cherrypick into 1.2: `Fix off-by-one in look checks for QName iterators.`
  src/lib/dnssd/minimal_mdns/core/QName.cpp
  src/lib/dnssd/minimal_mdns/core/tests/TestQName.cpp
Labels: lib

#33270 [Silabs]Migration memMonitoring to cmsisos with some cleanup due to api changes
  examples/platform/silabs/MatterConfig.cpp
  examples/platform/silabs/MemMonitoring.cpp
  examples/platform/silabs/MemMonitoring.h
Labels: examples, platform, review - approved

#33250 Fix handling of short discriminator in QRCodeSetupPayloadGenerator
  src/setup_payload/QRCodeSetupPayloadGenerator.cpp
  src/setup_payload/SetupPayload.cpp
  src/setup_payload/SetupPayload.h
  src/setup_payload/tests/TestQRCode.cpp
Labels: setup payload, review - approved

#33274 [Silabs] Merge PlatformManagerImpl.cpp for efr32 and si917 platforms
  src/platform/silabs/PlatformManagerImpl.cpp
  src/platform/silabs/SiWx917/BUILD.gn
  src/platform/silabs/SiWx917/PlatformManagerImpl.cpp
  src/platform/silabs/efr32/BUILD.gn
Labels: platform, review - approved, silabs

#33146 Add support for notifying the delegate when device configuration changes
  src/darwin/Framework/CHIP/MTRDevice.h
  src/darwin/Framework/CHIP/MTRDevice.mm
  src/darwin/Framework/CHIPTests/MTRDeviceTests.m
  src/darwin/Framework/CHIPTests/TestHelpers/MTRDeviceTestDelegate.h
  src/darwin/Framework/CHIPTests/TestHelpers/MTRDeviceTestDelegate.m
  src/darwin/Framework/CHIPTests/TestHelpers/MTRTestDeclarations.h
Labels: darwin, review - pending, fast track

#33290 1.3 cherrypick: `Fix handling of non-permitted messages in ExchangeContext.`
  src/messaging/ExchangeContext.cpp
Labels: messaging

#33294 1.2 cherrypick: `Use RAII for group session iteration`
  src/transport/SessionManager.cpp
Labels: transport

#33288 pkg-config.py: fix IndexError when --variable=prefix is empty
  build/config/linux/pkg-config.py
Labels: gn, review - pending, fast track

#33206 esp32: service type should be case-insensitive for endpoint filter of mdns packets
  src/platform/ESP32/ESP32EndpointQueueFilter.h
Labels: platform, esp32, review - pending, fast track

#33275 Fix leak in MTRBaseDevice tests.
  src/darwin/Framework/CHIP/MTRBaseDevice.mm
  src/darwin/Framework/CHIPTests/MTRDeviceTests.m
  src/darwin/Framework/CHIPTests/TestHelpers/MTRTestDeclarations.h
Labels: darwin, review - pending, fast track

#33296 Add an explicit skip processing on error (do not attempt to use invalid data)
  src/lib/dnssd/Resolver_ImplMinimalMdns.cpp
Labels: lib, review - approved

#33285 Implement separate Produce and Consume SetupPayload validation modes
  src/setup_payload/SetupPayload.cpp
  src/setup_payload/SetupPayload.h
  src/setup_payload/tests/TestQRCode.cpp
Labels: setup payload, review - approved

#33277 Re-enable the leak detection in MTRTestCase, now that the test leaks are fixed.
  src/darwin/Framework/CHIPTests/MTRPerControllerStorageTests.m
  src/darwin/Framework/CHIPTests/TestHelpers/MTRTestCase.mm
Labels: darwin, review - pending, fast track

#33269 [ICD] Convert TestICDManager to gtest
  src/BUILD.gn
  src/app/icd/server/ICDConfigurationData.h
  src/app/icd/server/ICDManager.h
  src/app/icd/server/tests/BUILD.gn
  src/app/icd/server/tests/ICDConfigurationDataTestAccess.h
  src/app/icd/server/tests/TestICDManager.cpp
  src/messaging/tests/BUILD.gn
  src/test_driver/openiotsdk/unit-tests/test_components_nl.txt
Labels: app, review - approved, test driver, icd, messaging

#33195 [nrfconnect] Introduced several improvements for the factory data management
  config/nrfconnect/chip-module/Kconfig
  config/nrfconnect/chip-module/generate_factory_data.cmake
  src/platform/nrfconnect/FactoryDataProvider.cpp
  src/platform/nrfconnect/FactoryDataProvider.h
Labels: platform, nrf connect, config, review - approved

#33216 [nrfconnect] Add support for Zephyr's version management
  config/zephyr/Kconfig
  config/zephyr/ota-image.cmake
  src/platform/nrfconnect/CHIPDevicePlatformConfig.h
Labels: platform, nrf connect, config, review - approved

#33002 Make test setup functions terminate on error
  src/app/icd/server/tests/TestICDManager.cpp
  src/app/tests/AppTestContext.cpp
  src/app/tests/AppTestContext.h
  src/app/tests/TestAclAttribute.cpp
  src/app/tests/TestAclEvent.cpp
  src/app/tests/TestEventLogging.cpp
  src/app/tests/TestEventLoggingNoUTCTime.cpp
  src/app/tests/TestEventOverflow.cpp
  src/app/tests/TestFabricScopedEventLogging.cpp
  src/app/tests/TestReadInteraction.cpp
  src/app/tests/TestWriteInteraction.cpp
  src/controller/tests/TestEventCaching.cpp
  src/controller/tests/TestEventChunking.cpp
  src/controller/tests/TestEventNumberCaching.cpp
  src/messaging/tests/MessagingContext.h
  src/messaging/tests/TestAbortExchangesForFabric.cpp
  src/messaging/tests/TestExchangeMgr.cpp
  src/messaging/tests/TestReliableMessageProtocol.cpp
  src/protocols/secure_channel/tests/TestCASESession.cpp
  src/protocols/secure_channel/tests/TestPASESession.cpp
Labels: transport, lib, controller, app, review - approved, tests, support, icd, messaging, protocols

#33309 [Linux]Updated the comments on resetwatermarks
  src/platform/Linux/DiagnosticDataProviderImpl.cpp
Labels: platform, linux, review - approved

#33312 [tests] Fix build error with -Wstack-usage=8192
  src/lib/dnssd/minimal_mdns/tests/TestResponseSender.cpp
Labels: review - approved

#33306 Refactored transport/raw/tests to more cleanly handle access to private members of TCPBase
  src/inet/TCPEndPoint.h
  src/transport/raw/TCP.h
  src/transport/raw/tests/BUILD.gn
  src/transport/raw/tests/TCPBaseTestAccess.h
  src/transport/raw/tests/TestMessageHeader.cpp
  src/transport/raw/tests/TestPeerAddress.cpp
  src/transport/raw/tests/TestTCP.cpp
  src/transport/raw/tests/TestUDP.cpp
Labels: transport, inet, review - approved

#33319 Matter.framework should explicitly look for things in the SRP domain.
  src/darwin/Framework/CHIP/MTRDeviceConnectivityMonitor.mm
  src/darwin/Framework/CHIP/MTROperationalBrowser.mm
Labels: darwin, review - approved, fast track

#33154 [Darwin] Add optional concurrent execution to MTRAsyncWorkQueue
  src/darwin/Framework/CHIP/MTRAsyncWorkQueue.h
  src/darwin/Framework/CHIP/MTRAsyncWorkQueue.mm
  src/darwin/Framework/CHIPTests/MTRAsyncWorkQueueTests.m
Labels: darwin, review - pending, fast track

#33315 [Silabs] Added [[maybe_unused]] to remove errors from NDEBUG builds
  examples/light-switch-app/silabs/src/ZclCallbacks.cpp
  examples/lock-app/silabs/src/ZclCallbacks.cpp
Labels: examples, review - approved

#33324 Move config header dependencies from platform to platform_base
  src/darwin/Framework/chip_xcode_build_connector.sh
  src/platform/BUILD.gn
Labels: hotfix, platform, darwin, review - pending

#33284 [Linux] Initial implementation of fabric-bridge for fabric sync
  docs/examples/index.md
  examples/fabric-bridge-app/fabric-bridge-common/BUILD.gn
  examples/fabric-bridge-app/fabric-bridge-common/fabric-bridge-app.matter
  examples/fabric-bridge-app/fabric-bridge-common/fabric-bridge-app.zap
  examples/fabric-bridge-app/fabric-bridge-common/include/CHIPProjectAppConfig.h
  examples/fabric-bridge-app/linux/.gn
  examples/fabric-bridge-app/linux/BUILD.gn
  examples/fabric-bridge-app/linux/Device.cpp
  examples/fabric-bridge-app/linux/Dockerfile
  examples/fabric-bridge-app/linux/README.md
  examples/fabric-bridge-app/linux/args.gni
  examples/fabric-bridge-app/linux/build
  examples/fabric-bridge-app/linux/build_overrides
  examples/fabric-bridge-app/linux/include/Device.h
  examples/fabric-bridge-app/linux/main.cpp
  examples/fabric-bridge-app/linux/third_party/connectedhomeip
Labels: documentation, examples, review - approved

#33301 [Linux] Add test logic to verify commissioning between Linux tv-casting-app and Linux tv-app.
  scripts/tests/run_tv_casting_test.py
Labels: scripts, review - approved

#33320 Have nicer command lines for zap_regen_all invoking zap_generate.
  scripts/tools/zap/generate.py
  scripts/tools/zap_regen_all.py
Labels: scripts, review - approved

#33314 [mrp] Increase default retry interval for Thread
  src/darwin/Framework/CHIP/MTRDeviceControllerFactory.mm
  src/messaging/ReliableMessageMgr.cpp
  src/messaging/ReliableMessageMgr.h
  src/messaging/ReliableMessageProtocolConfig.h
  src/messaging/tests/MessagingContext.cpp
  src/messaging/tests/TestAbortExchangesForFabric.cpp
  src/messaging/tests/TestReliableMessageProtocol.cpp
  src/platform/nrfconnect/CHIPPlatformConfig.h
  src/protocols/secure_channel/tests/TestPASESession.cpp
Labels: platform, darwin, nrf connect, review - approved, messaging, protocols

#33196 [nrfconnect] Pulled patches for the nRF Wi-Fi platform
  config/nrfconnect/chip-module/Kconfig.defaults
  config/nrfconnect/chip-module/Kconfig.features
  config/nrfconnect/chip-module/Kconfig.mcuboot.defaults
  src/platform/nrfconnect/wifi/WiFiManager.cpp
  src/platform/nrfconnect/wifi/WiFiManager.h
Labels: platform, nrf connect, config, review - approved

#33189 [zephyr] Added several improvements to the BLEMgr implementation
  src/platform/Zephyr/BLEAdvertisingArbiter.cpp
  src/platform/Zephyr/BLEAdvertisingArbiter.h
  src/platform/Zephyr/BLEManagerImpl.cpp
  src/platform/Zephyr/BLEManagerImpl.h
Labels: platform, zephyr, review - approved

#33329 [NuttX] update Docker image
  integrations/docker/images/base/chip-build/version
  integrations/docker/images/stage-2/chip-build-nuttx/Dockerfile
Labels: integrations, review - pending, fast track, docker

#33272 [SecureChannel] Update Check-In Protocol Test vectors
  src/protocols/secure_channel/tests/BUILD.gn
  src/protocols/secure_channel/tests/CheckIn_Message_test_vectors.h
  src/protocols/secure_channel/tests/TestCheckinMsg.cpp
Labels: review - approved, protocols

#33271 Add comments in SessionHandle explaining its intent
  src/transport/Session.h
Labels: transport, review - approved

#33335 [Linux] Add fabric-bridge app to vscode config
  .vscode/launch.json
Labels: vscode, review - approved

#33339 add enable/disable dnssd tests for the host test build_examples target
  scripts/build/build/targets.py
  scripts/build/builders/host.py
  scripts/build/testdata/all_targets_linux_x64.txt
Labels: scripts, review - approved

#33341 Make sure to include ember defines for door lock.
  examples/chef/common/clusters/door-lock/chef-doorlock-stubs.cpp
  examples/chef/common/clusters/door-lock/chef-lock-endpoint.cpp
  examples/chef/common/clusters/door-lock/chef-lock-manager.cpp
Labels: examples, review - pending, fast track

#33332 [ESP32] Fix crash for eps32 commissioner if ble disconnect during commissioning
  src/platform/ESP32/nimble/BLEManagerImpl.cpp
Labels: platform, esp32, review - approved

#33336 OPCREDS: Remove all the PICS markers
  src/app/tests/suites/certification/Test_TC_OPCREDS_3_2.yaml
  src/app/tests/suites/certification/Test_TC_OPCREDS_3_4.yaml
  src/app/tests/suites/certification/Test_TC_OPCREDS_3_5.yaml
  src/app/tests/suites/certification/Test_TC_OPCREDS_3_6.yaml
  src/app/tests/suites/certification/Test_TC_OPCREDS_3_7.yaml
Labels: app, review - approved, tests

#33283 Linux tv-casting-app v1.3 IdentificationDeclaration message
  examples/tv-casting-app/android/App/app/src/main/java/com/matter/casting/DiscoveryExampleFragment.java
  examples/tv-casting-app/android/App/app/src/main/jni/cpp/core/MatterCastingPlayer-JNI.cpp
  examples/tv-casting-app/darwin/MatterTvCastingBridge/MatterTvCastingBridge/MCCastingPlayer.mm
  examples/tv-casting-app/linux/simple-app-helper.cpp
  examples/tv-casting-app/linux/simple-app-helper.h
  examples/tv-casting-app/tv-casting-common/BUILD.gn
  examples/tv-casting-app/tv-casting-common/core/CastingApp.cpp
  examples/tv-casting-app/tv-casting-common/core/CastingPlayer.cpp
  examples/tv-casting-app/tv-casting-common/core/CastingPlayer.h
  examples/tv-casting-app/tv-casting-common/core/CommissionerDeclarationHandler.cpp
  examples/tv-casting-app/tv-casting-common/core/CommissionerDeclarationHandler.h
  examples/tv-casting-app/tv-casting-common/core/IdentificationDeclarationOptions.h
  examples/tv-casting-app/tv-casting-common/include/CHIPProjectAppConfig.h
  examples/tv-casting-app/tv-casting-common/support/AppParameters.h
  src/app/server/Server.cpp
  src/protocols/user_directed_commissioning/UserDirectedCommissioningServer.cpp
Labels: examples, app, review - approved, protocols

#33347 [cloudbuild] Switch unit test to a larger EFR32 part as otherwise we run out of flash
  integrations/cloudbuild/smoke-test.yaml
Labels: hotfix, integrations

#31830 Remove dependency of InteractionModelEngine in CommandHandler
  src/app/CommandHandler.cpp
  src/app/CommandHandler.h
  src/app/InteractionModelEngine.cpp
  src/app/InteractionModelEngine.h
Labels: examples, app, review - approved, tests

#33340 Add some unit tests for ExchangeContext and ExchangeMessageDispatch.
  src/messaging/tests/BUILD.gn
  src/messaging/tests/TestExchange.cpp
Labels: review - approved, messaging

#33334 [mrp] Make sure not all packet buffers are used for retransmissions
  src/messaging/ReliableMessageProtocolConfig.h
Labels: review - approved, messaging

#33349 Darwin Tests: Add missing os/lock.h import
  src/darwin/Framework/CHIPTests/MTRAsyncWorkQueueTests.m
Labels: review - pending, fast track

#33262 [Chip-tool] Not register LIT at default
  examples/chip-tool/commands/pairing/PairingCommand.cpp
  examples/chip-tool/commands/pairing/PairingCommand.h
  scripts/tests/chiptest/test_definition.py
Labels: tools, examples, scripts, github, workflows, review - approved

#33353 [v1.3][OpenThread] Disable IPv6 interface during erasing persistent info.
  src/platform/OpenThread/GenericThreadStackManagerImpl_OpenThread.hpp
Labels: platform

#33354 [v1.1cherrypick] [ESP32]: Add custom MRP configs for esp platform
  config/esp32/components/chip/Kconfig
  src/platform/ESP32/CHIPPlatformConfig.h
Labels: platform, esp32, config

#33355 [v1.2cherrypick] [ESP32]: add custom MRP configs for esp platform
  config/esp32/components/chip/Kconfig
  src/platform/ESP32/CHIPPlatformConfig.h
Labels: platform, esp32, config

#33357 [Infineon] Add an example of thermostat for CYW30739.
  .github/workflows/examples-infineon.yaml
  examples/thermostat/infineon/cyw30739/.gn
  examples/thermostat/infineon/cyw30739/BUILD.gn
  examples/thermostat/infineon/cyw30739/README.md
  examples/thermostat/infineon/cyw30739/args.gni
  examples/thermostat/infineon/cyw30739/build_overrides
  examples/thermostat/infineon/cyw30739/include/AppTask.h
  examples/thermostat/infineon/cyw30739/include/CHIPProjectConfig.h
  examples/thermostat/infineon/cyw30739/include/SensorManager.h
  examples/thermostat/infineon/cyw30739/include/TemperatureManager.h
  examples/thermostat/infineon/cyw30739/include/ThermostatUI.h
  examples/thermostat/infineon/cyw30739/src/AppTask.cpp
  examples/thermostat/infineon/cyw30739/src/SensorManager.cpp
  examples/thermostat/infineon/cyw30739/src/TemperatureManager.cpp
  examples/thermostat/infineon/cyw30739/src/ThermostatUI.cpp
  examples/thermostat/infineon/cyw30739/src/ZclCallbacks.cpp
  examples/thermostat/infineon/cyw30739/third_party/connectedhomeip
  scripts/build/build/targets.py
  scripts/build/builders/cyw30739.py
  scripts/build/testdata/all_targets_linux_x64.txt
Labels: examples, scripts, github, workflows, review - pending, fast track

#33375 [Silabs][Test driver]Fix efr32 assert due to missing init
  src/messaging/tests/BUILD.gn
  src/platform/silabs/Logging.cpp
  src/test_driver/efr32/src/main.cpp
Labels: platform, review - approved, test driver, silabs, messaging

#33344 [Linux] Add test logic to verify that launchURL is sent from Linux tv-casting-app to Linux tv-app.
  scripts/tests/run_tv_casting_test.py
Labels: scripts, review - approved

#33377 [Android][ICD]Implement Android ICD sending using buffer
  examples/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/clusterclient/AddressUpdateFragment.kt
  examples/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/clusterclient/WildcardFragment.kt
  kotlin-detect-config.yaml
Labels: examples, review - approved

#32750 [Dns-sd] Added Operational Discovery and made browse delegate common
  src/lib/dnssd/IncrementalResolve.cpp
  src/lib/dnssd/IncrementalResolve.h
  src/lib/dnssd/ResolverProxy.cpp
  src/lib/dnssd/ResolverProxy.h
  src/lib/dnssd/Resolver_ImplMinimalMdns.cpp
  src/lib/dnssd/Types.h
  src/lib/dnssd/tests/TestIncrementalResolve.cpp
  src/lib/shell/commands/Dns.cpp
Labels: tools, examples, platform, darwin, lib, controller, review - approved, shell, protocols

#33249 Updated unit tests in src/transport/tests/ to use PW instead of NL.
  src/test_driver/openiotsdk/unit-tests/test_components.txt
  src/test_driver/openiotsdk/unit-tests/test_components_nl.txt
  src/transport/tests/BUILD.gn
  src/transport/tests/TestCryptoContext.cpp
  src/transport/tests/TestGroupMessageCounter.cpp
  src/transport/tests/TestPeerConnections.cpp
  src/transport/tests/TestPeerMessageCounter.cpp
  src/transport/tests/TestSecureSession.cpp
  src/transport/tests/TestSecureSessionTable.cpp
  src/transport/tests/TestSessionManager.cpp
  src/transport/tests/TestSessionManagerDispatch.cpp
Labels: transport, review - pending, fast track, test driver

#33378 [v1.3cherrypick] ESP: Enable Wi-Fi and Ethernet coexisting and add platform mdns for E…
  config/esp32/components/chip/CMakeLists.txt
  examples/all-clusters-app/esp32/README.md
  examples/all-clusters-app/esp32/main/main.cpp
  examples/platform/esp32/common/Esp32AppServer.cpp
  src/platform/ESP32/BUILD.gn
  src/platform/ESP32/CHIPDevicePlatformConfig.h
  src/platform/ESP32/ConnectivityManagerImpl_Ethernet.cpp
  src/platform/ESP32/DnssdImpl.cpp
  src/platform/ESP32/ESP32DnssdImpl.cpp
  src/platform/ESP32/ESP32DnssdImpl.h
  src/platform/ESP32/ESP32Utils.h
Labels: examples, platform, esp32, config

#33356 [v1.3cherrypick] [ESP32]: add custom MRP configs for esp platform
  config/esp32/components/chip/Kconfig
  src/platform/ESP32/CHIPPlatformConfig.h
Labels: platform, esp32, config

#33372 Improve server logging on subscription failures.
  src/app/ReadHandler.cpp
  src/messaging/ExchangeMgr.cpp
Labels: app, review - approved, messaging

#33394 iOS tv-casting-app: deleting dead code
  examples/tv-casting-app/darwin/MatterTvCastingBridge/MatterTvCastingBridge/CastingServerBridge.mm
  examples/tv-casting-app/darwin/MatterTvCastingBridge/MatterTvCastingBridge/CommissionerDiscoveryDelegateImpl.h
  examples/tv-casting-app/darwin/MatterTvCastingBridge/MatterTvCastingBridge/ConversionUtils.hpp
  examples/tv-casting-app/darwin/MatterTvCastingBridge/MatterTvCastingBridge/ConversionUtils.mm
Labels: examples, review - approved, tv-casting

#33362 Add build target for BRD2703A
  scripts/build/build/targets.py
  scripts/build/builders/efr32.py
  scripts/build/testdata/all_targets_linux_x64.txt
Labels: scripts, review - approved

#31222 Added an interface for revocation checks to DeviceAttestationVerifier
  docs/ERROR_CODES.md
  src/controller/AutoCommissioner.cpp
  src/controller/CHIPDeviceController.cpp
  src/controller/CHIPDeviceController.h
  src/controller/CommissioningDelegate.cpp
  src/controller/CommissioningDelegate.h
  src/controller/python/OpCredsBinding.cpp
  src/controller/python/test/test_scripts/commissioning_failure_test.py
  src/credentials/attestation_verifier/DefaultDeviceAttestationVerifier.cpp
  src/credentials/attestation_verifier/DefaultDeviceAttestationVerifier.h
  src/credentials/attestation_verifier/DeviceAttestationVerifier.cpp
  src/credentials/attestation_verifier/DeviceAttestationVerifier.h
  src/lib/core/CHIPError.cpp
  src/lib/core/CHIPError.h
  src/lib/core/tests/TestCHIPErrorStr.cpp
  src/python_testing/TC_CGEN_2_4.py
Labels: documentation, tools, examples, scripts, lib, controller, review - approved, tests, core

#33392 Python controller: add build option for ble
  scripts/build_python.sh
Labels: scripts, review - approved

#33376 [Silabs] Fix window-app sync issue with 917 soc
  examples/window-app/silabs/build_for_wifi_args.gni
  examples/window-app/silabs/include/WindowManager.h
  examples/window-app/silabs/openthread.gni
  examples/window-app/silabs/src/WindowManager.cpp
Labels: examples, review - approved

#33395 [Darwin] MTRDeviceConnectivityMonitor should weakify before using self in a handler block
  src/darwin/Framework/CHIP/MTRDeviceConnectivityMonitor.mm
Labels: darwin, review - approved

#33390 Converted unit tests in src/tracing/tests from NL to PW.
  src/BUILD.gn
  src/tracing/tests/BUILD.gn
  src/tracing/tests/TestMetricEvents.cpp
  src/tracing/tests/TestTracing.cpp
Labels: review - pending, fast track, test driver

#33403 [crypto] Log PSA crypto error codes in more places
  src/crypto/CHIPCryptoPALPSA.cpp
  src/crypto/CHIPCryptoPALPSA.h
  src/crypto/PSAOperationalKeystore.cpp
  src/crypto/PSASessionKeystore.cpp
Labels: crypto, review - approved

#33381 [Android] Implement qr code generator
  examples/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/CHIPToolActivity.kt
  examples/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/SelectActionFragment.kt
  examples/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/setuppayloadscanner/CHIPDeviceDetailsFragment.kt
  examples/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/setuppayloadscanner/CHIPDeviceInfo.kt
  examples/android/CHIPTool/app/src/main/res/layout/chip_device_info_fragment.xml
  examples/android/CHIPTool/app/src/main/res/values/strings.xml
  src/controller/java/src/matter/onboardingpayload/DiscoveryCapability.kt
  src/controller/java/src/matter/onboardingpayload/OnboardingPayload.kt
Labels: examples, controller, review - approved

#33401 [CI] Add build check for Fabric Bridge example app
  .github/workflows/examples-linux-standalone.yaml
  scripts/build/build/targets.py
  scripts/build/builders/host.py
  scripts/build/testdata/all_targets_linux_x64.txt
Labels: scripts, github, workflows, review - approved

#33405 Update Darwin availability annotations.
  src/darwin/Framework/CHIP/MTRBaseDevice.h
  src/darwin/Framework/CHIP/MTRCluster.h
  src/darwin/Framework/CHIP/MTRClusterNames.h
  src/darwin/Framework/CHIP/MTRDevice.h
  src/darwin/Framework/CHIP/MTRDeviceController+XPC.h
  src/darwin/Framework/CHIP/MTRDeviceController.h
  src/darwin/Framework/CHIP/MTRDeviceControllerDelegate.h
  src/darwin/Framework/CHIP/MTRDeviceControllerFactory.h
  src/darwin/Framework/CHIP/MTRDeviceControllerParameters.h
  src/darwin/Framework/CHIP/MTRDeviceControllerStorageDelegate.h
  src/darwin/Framework/CHIP/MTRDiagnosticLogsType.h
  src/darwin/Framework/CHIP/MTRError.h
  src/darwin/Framework/CHIP/MTRMetrics.h
  src/darwin/Framework/CHIP/MTRSetupPayload.h
  src/darwin/Framework/CHIP/ServerEndpoint/MTRAccessGrant.h
  src/darwin/Framework/CHIP/ServerEndpoint/MTRDeviceTypeRevision.h
  src/darwin/Framework/CHIP/ServerEndpoint/MTRServerAttribute.h
  src/darwin/Framework/CHIP/ServerEndpoint/MTRServerCluster.h
  src/darwin/Framework/CHIP/ServerEndpoint/MTRServerEndpoint.h
  src/darwin/Framework/CHIP/templates/availability.yaml
  src/darwin/Framework/CHIP/zap-generated/MTRBaseClusters.h
  src/darwin/Framework/CHIP/zap-generated/MTRClusterConstants.h
  src/darwin/Framework/CHIP/zap-generated/MTRClusters.h
  src/darwin/Framework/CHIP/zap-generated/MTRCommandPayloadsObjc.h
  src/darwin/Framework/CHIP/zap-generated/MTRStructsObjc.h
Labels: darwin, review - pending, fast track

#33359 Unit tests for BLE layer class
  src/ble/BLEEndPoint.cpp
  src/ble/BleLayer.cpp
  src/ble/BleLayer.h
  src/ble/tests/BUILD.gn
  src/ble/tests/TestBleLayer.cpp
  src/ble/tests/TestBleUUID.cpp
Labels: ble, review - approved

#33410 [Darwin] Fix MTRDeviceConnectivityMonitor DNSServiceRefDeallocate call on the correct queue
  src/darwin/Framework/CHIP/MTRDeviceConnectivityMonitor.mm
Labels: darwin, review - pending, fast track

#33409 Fix crash in android tv-app when handling level commands
  examples/tv-app/android/java/LevelManager.cpp
Labels: examples, review - approved

#33214 [K32W] Fix apply action corner case in OTATlvProcessor interface
  src/platform/nxp/k32w/common/OTAImageProcessorImpl.cpp
  src/platform/nxp/k32w/common/OTATlvProcessor.cpp
  src/platform/nxp/k32w/common/OTATlvProcessor.h
  src/platform/nxp/k32w/k32w0/OTAFirmwareProcessor.cpp
  src/platform/nxp/k32w/k32w0/OTAFirmwareProcessor.h
  src/platform/nxp/k32w/k32w1/OTAFirmwareProcessor.cpp
Labels: platform, review - pending, fast track

#33412 Cherry-pick the wifi and thread config check changes in Network Commissioning code on v1.3-branch .
  src/app/clusters/network-commissioning/network-commissioning.cpp
Labels: app

#33415 [1.3 cherry-pick] [mrp] Increase default retry interval for Thread
  src/darwin/Framework/CHIP/MTRDeviceControllerFactory.mm
  src/messaging/ReliableMessageMgr.cpp
  src/messaging/ReliableMessageMgr.h
  src/messaging/ReliableMessageProtocolConfig.h
  src/messaging/tests/MessagingContext.cpp
  src/messaging/tests/TestAbortExchangesForFabric.cpp
  src/messaging/tests/TestReliableMessageProtocol.cpp
  src/platform/nrfconnect/CHIPPlatformConfig.h
  src/protocols/secure_channel/tests/TestPASESession.cpp
Labels: platform, darwin, nrf connect, messaging, protocols

#33414 [1.3 cherry-pick] [nrfconnect] Optimize packet buffer size
  src/platform/nrfconnect/SystemPlatformConfig.h
Labels: platform, nrf connect

#33416 [1.3 cherry-pick] [mrp] Make sure not all packet buffers are used for retransmissions
  src/messaging/ReliableMessageProtocolConfig.h
Labels: messaging

#33407 Remove extra logging in minmdns resolver.
  src/lib/dnssd/Resolver_ImplMinimalMdns.cpp
Labels: lib, review - approved

#33337 [Python] Eliminate ZCLSubscribeAttribute
  src/controller/python/test/test_scripts/base.py
  src/controller/python/test/test_scripts/mobile-device-test.py
  src/controller/python/test/test_scripts/subscription_resumption_capacity_test_ctrl1.py
  src/controller/python/test/test_scripts/subscription_resumption_capacity_test_ctrl2.py
  src/controller/python/test/test_scripts/subscription_resumption_test.py
  src/controller/python/test/test_scripts/subscription_resumption_timeout_test.py
Labels: controller, review - pending, fast track

#33351 Converted src/controller/tests from NL to PW unit tests.
  src/controller/tests/BUILD.gn
  src/controller/tests/TestCommissionableNodeController.cpp
  src/controller/tests/TestEventCaching.cpp
  src/controller/tests/TestEventChunking.cpp
  src/controller/tests/TestEventNumberCaching.cpp
  src/controller/tests/TestReadChunking.cpp
  src/controller/tests/TestServerCommandDispatch.cpp
  src/controller/tests/TestWriteChunking.cpp
Labels: controller, review - pending, fast track, test driver

#33429 Darwin: Add missing import
  src/darwin/Framework/CHIP/MTRDiagnosticLogsType.h
Labels: hotfix, darwin, fast track

#33431 Updating documentation to make this more clear how to use CHIPTool
  src/darwin/CHIPTool/README.md
Labels: darwin, fast track

#33432 Updating our paths for intellisense, and support it for ObjectiveC++
  .vscode/settings.json
Labels: vscode, review - pending, fast track

#33396 Ember compatibility layer - split out GlobalAttributeAccessInterface and the I/O buffer
  .github/workflows/lint.yml
  src/app/chip_data_model.cmake
  src/app/chip_data_model.gni
  src/app/tests/BUILD.gn
  src/app/tests/integration/BUILD.gn
  src/app/util/ember-compatibility-functions.cpp
  src/app/util/ember-global-attribute-access-interface.cpp
  src/app/util/ember-global-attribute-access-interface.h
  src/app/util/ember-io-storage.cpp
  src/app/util/ember-io-storage.h
  src/app/util/mock/BUILD.gn
  src/app/util/mock/attribute-storage.cpp
  src/app/util/mock/include/zap-generated/endpoint_config.h
  src/app/util/mock/privilege-storage.cpp
  src/darwin/Framework/Matter.xcodeproj/project.pbxproj
Labels: darwin, app, github, workflows, review - approved, tests

#33437 [v1.3branch] [ESP32] Change MRP config depends for esp platform
  config/esp32/components/chip/Kconfig
Labels: config

#33433 [ESP32] Change MRP config depends for esp platform
  config/esp32/components/chip/Kconfig
Labels: config, review - approved

#33440 [openthread] Fixed potential usage fault (#33434)
  src/platform/OpenThread/GenericThreadStackManagerImpl_OpenThread.hpp
Labels: platform

#33430 [Silabs]Fix efr32 test driver event loop, run gtests, enable more test on efr…
  src/BUILD.gn
  src/app/icd/server/tests/TestICDManager.cpp
  src/inet/tests/TestInetCommonOptions.cpp
  src/inet/tests/TestInetCommonOptions.h
  src/inet/tests/TestInetCommonPosix.cpp
  src/lib/core/tests/BUILD.gn
  src/lib/support/UnitTestUtils.cpp
  src/messaging/tests/BUILD.gn
  src/platform/silabs/CHIPDevicePlatformConfig.h
  src/system/tests/TestSystemTimer.cpp
  src/test_driver/efr32/args.gni
  src/test_driver/efr32/include/CHIPProjectConfig.h
  src/test_driver/efr32/include/FreeRTOSConfig.h
  src/test_driver/efr32/src/main.cpp
Labels: system, platform, lib, inet, app, review - approved, support, core, test driver, icd, silabs, messaging

#33443 [Silabs]Enable FPU support for freeRTOS
  examples/platform/silabs/FreeRTOSConfig.h
Labels: examples, platform, review - approved

#33393 [Linux] Initial implementation of fabric-admin to facilitate Fabric Synchronization
  examples/fabric-admin/.gn
  examples/fabric-admin/BUILD.gn
  examples/fabric-admin/args.gni
  examples/fabric-admin/build_overrides
  examples/fabric-admin/commands/clusters/ClusterCommand.h
  examples/fabric-admin/commands/clusters/ComplexArgument.h
  examples/fabric-admin/commands/clusters/CustomArgument.h
  examples/fabric-admin/commands/clusters/DataModelLogger.h
  examples/fabric-admin/commands/clusters/JsonParser.h
  examples/fabric-admin/commands/clusters/ModelCommand.cpp
  examples/fabric-admin/commands/clusters/ModelCommand.h
  examples/fabric-admin/commands/clusters/ReportCommand.h
  examples/fabric-admin/commands/clusters/SubscriptionsCommands.h
  examples/fabric-admin/commands/clusters/WriteAttributeCommand.h
  examples/fabric-admin/commands/common/CHIPCommand.cpp
  examples/fabric-admin/commands/common/CHIPCommand.h
  examples/fabric-admin/commands/common/Command.cpp
  examples/fabric-admin/commands/common/Command.h
  examples/fabric-admin/commands/common/Commands.cpp
  examples/fabric-admin/commands/common/Commands.h
  examples/fabric-admin/commands/common/CredentialIssuerCommands.h
  examples/fabric-admin/commands/common/CustomStringPrefix.h
  examples/fabric-admin/commands/common/DeviceScanner.cpp
  examples/fabric-admin/commands/common/DeviceScanner.h
  examples/fabric-admin/commands/common/HexConversion.h
  examples/fabric-admin/commands/common/RemoteDataModelLogger.cpp
  examples/fabric-admin/commands/common/RemoteDataModelLogger.h
  examples/fabric-admin/commands/example/ExampleCredentialIssuerCommands.h
  examples/fabric-admin/commands/interactive/Commands.h
  examples/fabric-admin/commands/interactive/InteractiveCommands.cpp
  examples/fabric-admin/commands/interactive/InteractiveCommands.h
  examples/fabric-admin/commands/pairing/Commands.h
  examples/fabric-admin/commands/pairing/GetCommissionerNodeIdCommand.h
  examples/fabric-admin/commands/pairing/GetCommissionerRootCertificateCommand.h
  examples/fabric-admin/commands/pairing/IssueNOCChainCommand.h
  examples/fabric-admin/commands/pairing/OpenCommissioningWindowCommand.cpp
  examples/fabric-admin/commands/pairing/OpenCommissioningWindowCommand.h
  examples/fabric-admin/commands/pairing/PairingCommand.cpp
  examples/fabric-admin/commands/pairing/PairingCommand.h
  examples/fabric-admin/commands/pairing/ToTLVCert.cpp
  examples/fabric-admin/commands/pairing/ToTLVCert.h
  examples/fabric-admin/fabric-admin.gni
  examples/fabric-admin/include/CHIPProjectAppConfig.h
  examples/fabric-admin/main.cpp
  examples/fabric-admin/third_party/connectedhomeip
Labels: examples, lib, review - approved, support

#33438 [v1.3 cherry-pick] cherrypick #32747 and #33206
  src/app/clusters/localization-configuration-server/localization-configuration-server.cpp
  src/app/clusters/time-format-localization-server/time-format-localization-server.cpp
  src/platform/ESP32/ESP32EndpointQueueFilter.h
Labels: platform, esp32, app

#33448 Updated chip-cert-bins Dockerfile
  integrations/docker/images/chip-cert-bins/Dockerfile
Labels: integrations, review - pending, fast track, docker

#33453 [ICD] Delete ICDM 2.2
  src/app/tests/suites/certification/Test_TC_ICDM_2_2.yaml
  src/app/tests/suites/manualTests.json
Labels: app, review - approved, tests

#33449 Using strncmp instead of strcmp to make the function robust and safe from buffer overruns.
  examples/chip-tool/commands/common/Command.cpp
Labels: tools, examples, review - approved

#33456 Fix Darwin tests in newer Xcode versions.
  src/darwin/Framework/CHIPTests/MTROTAProviderTests.m
Labels: darwin, review - pending, fast track

#33461 Make AddToRetransTable in the wrong state non-fatal
  src/messaging/ReliableMessageMgr.cpp
Labels: review - pending

#33331 [NXP][example][common] OTA requestor flag update
  examples/platform/nxp/common/app_task/source/AppTaskBase.cpp
Labels: examples, platform, review - approved

#33458 [Darwin] Disable metric collector debug logging
  src/darwin/Framework/CHIP/MTRMetricsCollector.mm
Labels: review - approved, fast track

#33435 Improve BTP engine logging by using ChipLogByteSpan
  src/ble/BtpEngine.cpp
Labels: ble, review - approved

#33459 Darwin: Namespace common class names
  src/controller/python/chip/ble/darwin/Scanning.mm
  src/darwin/Framework/CHIP/MTRDiagnosticLogsDownloader.mm
  src/platform/Darwin/BUILD.gn
  src/platform/Darwin/BleConnectionDelegateImpl.mm
  src/platform/Darwin/BlePlatformDelegateImpl.mm
  src/platform/Darwin/MTRUUIDHelper.h
  src/platform/Darwin/MTRUUIDHelperImpl.mm
Labels: platform, darwin, controller, review - pending, fast track

#33466 Only store data version if the readCache changed
  src/darwin/Framework/CHIP/MTRDevice.mm
Labels: darwin, review - pending, fast track

#33361 TC-IDM-10.2: Add test for provisional clusters
  src/controller/python/chip/clusters/__init__.py
  src/python_testing/TC_DeviceConformance.py
Labels: controller, review - pending, fast track, tests

#33457 [CI] Add build check for Fabric Admin example app
  .github/workflows/examples-linux-standalone.yaml
  scripts/build/build/targets.py
  scripts/build/builders/host.py
  scripts/build/testdata/all_targets_linux_x64.txt
Labels: scripts, github, workflows, review - approved

#33446 Add log tag for fabric synchronization
  src/lib/support/logging/Constants.h
  src/lib/support/logging/TextOnlyLogging.cpp
Labels: lib, review - approved, support

#33243 [shell] Reduce memory usage and boileplate code for subcommands
  src/lib/shell/BUILD.gn
  src/lib/shell/Command.h
  src/lib/shell/CommandSet.cpp
  src/lib/shell/CommandSet.h
  src/lib/shell/Engine.h
  src/lib/shell/SubShellCommand.h
  src/lib/shell/commands/BLE.cpp
  src/lib/shell/commands/Config.cpp
  src/lib/shell/commands/Device.cpp
  src/lib/shell/commands/Dns.cpp
  src/lib/shell/commands/NFC.cpp
  src/lib/shell/commands/OnboardingCodes.cpp
  src/lib/shell/commands/Ota.cpp
  src/lib/shell/commands/Stat.cpp
  src/lib/shell/commands/WiFi.cpp
Labels: lib, review - approved, shell

#33426 Remove Interaction Model Engine dependency in WriteHandler
  src/app/InteractionModelDelegatePointers.cpp
  src/app/InteractionModelEngine.cpp
  src/app/InteractionModelEngine.h
  src/app/WriteHandler.cpp
  src/app/WriteHandler.h
  src/app/tests/TestWriteInteraction.cpp
  src/lib/support/static_support_smart_ptr.h
  src/lib/support/tests/TestStaticSupportSmartPtr.cpp
Labels: lib, app, review - approved, tests, support

#33419 [Telink] Fix certification tests
  examples/bridge-app/telink/include/AppEvent.h
  examples/bridge-app/telink/src/AppTask.cpp
  examples/contact-sensor-app/telink/src/AppTask.cpp
  examples/contact-sensor-app/telink/src/ContactSensorManager.cpp
  examples/light-switch-app/telink/include/IdentifyCommand.h
  examples/light-switch-app/telink/include/binding-handler.h
  examples/light-switch-app/telink/src/binding-handler.cpp
  examples/lighting-app/telink/src/AppTask.cpp
  examples/lighting-app/telink/src/ZclCallbacks.cpp
  examples/lock-app/telink/src/AppTask.cpp
  examples/lock-app/telink/src/ZclCallbacks.cpp
  examples/platform/telink/common/include/AppEventCommon.h
  examples/platform/telink/common/include/AppTaskCommon.h
  examples/platform/telink/common/src/AppTaskCommon.cpp
  examples/pump-app/telink/src/AppTask.cpp
  examples/pump-controller-app/telink/src/AppTask.cpp
  scripts/tools/telink/mfg_tool.py
  src/platform/telink/FactoryDataProvider.cpp
Labels: examples, scripts, platform, review - approved, telink

#33423 [Telink] Add W91 (TLSR9118BDK40D) base support
  .github/workflows/chef.yaml
  .github/workflows/examples-telink.yaml
  config/telink/app/bootloader.conf
  config/telink/app/bootloader_usb.conf
  config/telink/chip-module/CMakeLists.txt
  config/telink/chip-module/Kconfig
  config/telink/chip-module/Kconfig.defaults
  examples/air-quality-sensor-app/telink/README.md
  examples/all-clusters-app/telink/README.md
  examples/all-clusters-minimal-app/telink/README.md
  examples/bridge-app/telink/README.md
  examples/contact-sensor-app/telink/README.md
  examples/light-switch-app/telink/README.md
  examples/lighting-app/telink/README.md
  examples/lock-app/telink/README.md
  examples/ota-requestor-app/telink/README.md
  examples/platform/telink/common.cmake
  examples/platform/telink/common/src/AppTaskCommon.cpp
  examples/platform/telink/common/src/mainCommon.cpp
  examples/pump-app/telink/README.md
  examples/pump-controller-app/telink/README.md
  examples/shell/telink/README.md
  examples/smoke-co-alarm-app/telink/README.md
  examples/temperature-measurement-app/telink/README.md
  examples/thermostat/telink/README.md
  examples/window-app/telink/README.md
  scripts/build/build/targets.py
  scripts/build/builders/telink.py
  scripts/build/testdata/all_targets_linux_x64.txt
  src/platform/Zephyr/InetUtils.cpp
  src/platform/Zephyr/ThreadStackManagerImpl.h
  src/platform/telink/BUILD.gn
  src/platform/telink/CHIPDevicePlatformConfig.h
  src/platform/telink/ConnectivityManagerImpl.cpp
  src/platform/telink/ConnectivityManagerImpl.h
  src/platform/telink/ThreadStackManagerImpl.cpp
  src/platform/telink/ThreadStackManagerImpl.h
  src/platform/telink/telink-mbedtls-config.h
  src/platform/telink/tlsr9118bdk40d.overlay
  src/platform/telink/tlsr9118bdk40d_3m_flash.overlay
  src/platform/telink/wifi/ConnectivityManagerImplWiFi.cpp
  src/platform/telink/wifi/ConnectivityManagerImplWiFi.h
  src/platform/telink/wifi/TelinkWiFiDriver.cpp
  src/platform/telink/wifi/TelinkWiFiDriver.h
  src/platform/telink/wifi/WiFiManager.cpp
  src/platform/telink/wifi/WiFiManager.h
Labels: examples, scripts, platform, zephyr, config, github, workflows, review - pending, telink, fast track

#33369 Add withSourceLocation param to ErrorStr
  src/lib/core/CHIPError.h
  src/lib/core/ErrorStr.cpp
  src/lib/core/ErrorStr.h
  src/lib/core/tests/TestCHIPErrorStr.cpp
Labels: lib, review - approved, core

#33468 Increase dnssd kHostNameMaxLength to 40 bytes
  src/lib/dnssd/Constants.h
Labels: lib, review - approved

#33476 Use data() instead of begin() in Protocols.cpp
  src/protocols/Protocols.cpp
Labels: review - approved, protocols

#33473 [Silabs]Make changes to the window manager class so its static constructor do…
  examples/window-app/silabs/include/WindowManager.h
  examples/window-app/silabs/src/WindowManager.cpp
Labels: examples, review - approved

#33478 Change issue labeler to not treat MAC as "darwin".
  .github/issue-labeler.yml
Labels: review - pending

#33462 Fix historical event detection in MTRDevice.
  src/darwin/Framework/CHIP/MTRDevice.mm
  src/darwin/Framework/CHIPTests/MTRDeviceTests.m
Labels: darwin, review - pending, fast track

#33404 [ICD] Update ICDM 2.1 Certification test to match test plan
  .github/workflows/tests.yaml
  examples/lit-icd-app/lit-icd-common/lit-icd-server-app.matter
  examples/lit-icd-app/lit-icd-common/lit-icd-server-app.zap
  src/app/tests/suites/TestIcdManagementCluster.yaml
  src/app/tests/suites/certification/PICS.yaml
  src/app/tests/suites/certification/ci-pics-values
  src/python_testing/TC_ICDM_2_1.py
  src/python_testing/test_testing/MockTestRunner.py
  src/python_testing/test_testing/test_TC_ICDM_2_1.py
Labels: examples, app, github, workflows, review - approved, tests

#33451 [ICD] Add python script for ICDM 3.1 cert test
  .github/workflows/tests.yaml
  src/app/tests/suites/certification/Test_TC_ICDM_3_1.yaml
  src/app/tests/suites/manualTests.json
  src/python_testing/TC_ICDM_3_1.py
Labels: app, github, workflows, review - approved, tests

#33428 [Python] Eliminate ZCLReadAttribute/ZCLSend
  src/controller/python/test/test_scripts/base.py
  src/controller/python/test/test_scripts/commissioning_failure_test.py
  src/controller/python/test/test_scripts/commissioning_test.py
  src/controller/python/test/test_scripts/failsafe_tests.py
  src/controller/python/test/test_scripts/mobile-device-test.py
  src/controller/python/test/test_scripts/split_commissioning_test.py
  src/test_driver/mbed/integration_tests/common/utils.py
Labels: controller, review - approved, test driver

#32764 [Python] Call SDK asyncio friendly
  src/controller/python/chip/ChipDeviceCtrl.py
  src/controller/python/chip/ChipStack.py
  src/controller/python/chip/clusters/Command.py
Labels: controller, review - approved

#33470 Update Matter SDK to show Authorisation dialog only for account login flow.
  examples/tv-app/android/App/platform-app/src/main/java/com/matter/tv/server/MatterCommissioningPrompter.java
Labels: examples, review - approved

#33483 [cherry-pick][ESP32]Add a menuconfig option to enable/disable persist subscription
  config/esp32/components/chip/CMakeLists.txt
  config/esp32/components/chip/Kconfig
  src/platform/device.gni
Labels: platform, config

#33482 Revert using strncmp instead of strcmp to make the function robust and safe from buffer overruns. #33449
  examples/chip-tool/commands/common/Command.cpp
  examples/fabric-admin/commands/common/Command.cpp
  src/app/tests/suites/TestCluster.yaml
Labels: tools, examples, app, review - approved, tests

#33485 Fix typo in java-matter-controller README.md
  examples/java-matter-controller/README.md
Labels: examples, review - pending, fast track

#29728 ESP32: Address -Wundef build errors and enable it for platform
  src/lib/shell/streamer_esp32.cpp
  src/messaging/ReliableMessageProtocolConfig.h
  src/platform/ESP32/BLEManagerImpl.h
  src/platform/ESP32/BUILD.gn
  src/platform/ESP32/CHIPDevicePlatformConfig.h
  src/platform/ESP32/CHIPDevicePlatformEvent.h
  src/platform/ESP32/CHIPPlatformConfig.h
  src/platform/ESP32/ChipDeviceScanner.h
  src/platform/ESP32/ConfigurationManagerImpl.cpp
  src/platform/ESP32/ConfigurationManagerImpl.h
  src/platform/ESP32/ConnectivityManagerImpl.h
  src/platform/ESP32/ConnectivityManagerImpl_WiFi.cpp
  src/platform/ESP32/DiagnosticDataProviderImpl.cpp
  src/platform/ESP32/ESP32SecureCertDACProvider.cpp
  src/platform/ESP32/OTAImageProcessorImpl.cpp
  src/platform/ESP32/OTAImageProcessorImpl.h
  src/platform/ESP32/OpenthreadLauncher.cpp
  src/platform/ESP32/SystemTimeSupport.cpp
  src/platform/ESP32/bluedroid/BLEManagerImpl.cpp
  src/platform/ESP32/nimble/BLEManagerImpl.cpp
  src/system/SystemConfig.h
  src/system/SystemPacketBufferInternal.h
  src/system/SystemStats.cpp
  src/system/SystemStats.h
Labels: system, platform, esp32, lib, review - approved, shell, messaging

#33408 Darwin: MTRDevice should not persist non-priming attribute values for attributes with Changes Omitted Quality
  src/darwin/Framework/CHIP/MTRDevice.mm
Labels: darwin, review - pending, fast track

#33490 Provide an estimate of subscription latency in MTRDevice.
  src/darwin/Framework/CHIP/MTRDevice.h
  src/darwin/Framework/CHIP/MTRDevice.mm
  src/darwin/Framework/CHIP/MTRDeviceController.mm
  src/darwin/Framework/CHIP/MTRDeviceControllerDataStore.h
  src/darwin/Framework/CHIP/MTRDeviceControllerDataStore.mm
  src/darwin/Framework/CHIP/MTRDevice_Internal.h
  src/darwin/Framework/CHIPTests/MTRPerControllerStorageTests.m
Labels: darwin, review - pending

#33455 [Fabric-Sync] Run interactive mode in Fabric-Admin by default
  examples/fabric-admin/commands/common/CHIPCommand.h
  examples/fabric-admin/commands/interactive/InteractiveCommands.cpp
  examples/fabric-admin/main.cpp
Labels: examples, review - approved

#33495 Fixing darwin build on mac
  src/darwin/Framework/CHIP/MTRMetricsCollector.mm
  src/darwin/Framework/CHIP/ServerEndpoint/MTRServerAttribute.mm
  src/darwin/Framework/CHIP/ServerEndpoint/MTRServerCluster.mm
  src/darwin/Framework/CHIPTests/MTRPerControllerStorageTests.m
Labels: hotfix, darwin, fast track

#32886 [chip-tool] Implement `icd wait-for-device` command
  examples/chip-tool/commands/clusters/ModelCommand.cpp
  examples/chip-tool/commands/clusters/ModelCommand.h
  examples/chip-tool/commands/common/CHIPCommand.cpp
  examples/chip-tool/commands/icd/ICDCommand.cpp
  examples/chip-tool/commands/icd/ICDCommand.h
  examples/tv-casting-app/tv-casting-common/commands/clusters/ModelCommand.cpp
Labels: tools, examples, review - approved

#33501 [Zephyr] Clear SRP host and services on factory reset
  src/platform/Zephyr/ConfigurationManagerImpl.cpp
Labels: platform, zephyr, review - approved

#33502 [Zephyr] Clear SRP host and services on factory reset (#33501)
  src/platform/Zephyr/ConfigurationManagerImpl.cpp
Labels: platform, zephyr

#33418 [NXP] Update K32W0 SDK to 2.6.14
  integrations/docker/images/base/chip-build/version
  integrations/docker/images/stage-2/chip-build-k32w/Dockerfile
Labels: review - approved

#33494 [vscode] Add Fabric Admin to vscode config
  .vscode/launch.json
Labels: review - approved

#33492 Updated the unit test documentation to reflect the transition to PW.
  docs/guides/openiotsdk_unit_tests.md
  docs/testing/unit_testing.md
Labels: documentation, controller, review - approved

#33506 Factor out support for running helper server apps in Darwin tests.
  src/darwin/Framework/CHIPTests/MTROTAProviderTests.m
  src/darwin/Framework/CHIPTests/TestHelpers/MTRTestCase.h
  src/darwin/Framework/CHIPTests/TestHelpers/MTRTestCase.mm
  src/darwin/Framework/CHIPTests/TestHelpers/MTRTestServerAppRunner.h
  src/darwin/Framework/CHIPTests/TestHelpers/MTRTestServerAppRunner.m
  src/darwin/Framework/Matter.xcodeproj/project.pbxproj
Labels: darwin, review - approved, fast track

#33489 Darwin: remove `_handleAttributeReport` convenience method
  src/darwin/Framework/CHIP/MTRDevice.mm
  src/darwin/Framework/CHIPTests/MTRDeviceTests.m
  src/darwin/Framework/CHIPTests/TestHelpers/MTRTestDeclarations.h
Labels: darwin, review - approved, fast track

#33479 Linux tv-casting-app v1.3 Commissioner-Generated passcode flow
  examples/tv-casting-app/android/App/app/src/main/jni/cpp/core/MatterCastingPlayer-JNI.cpp
  examples/tv-casting-app/darwin/MatterTvCastingBridge/MatterTvCastingBridge/MCCastingPlayer.mm
  examples/tv-casting-app/linux/simple-app-helper.cpp
  examples/tv-casting-app/linux/simple-app-helper.h
  examples/tv-casting-app/linux/simple-app.cpp
  examples/tv-casting-app/tv-casting-common/BUILD.gn
  examples/tv-casting-app/tv-casting-common/core/CastingApp.cpp
  examples/tv-casting-app/tv-casting-common/core/CastingApp.h
  examples/tv-casting-app/tv-casting-common/core/CastingPlayer.cpp
  examples/tv-casting-app/tv-casting-common/core/CastingPlayer.h
  examples/tv-casting-app/tv-casting-common/core/CommissionerDeclarationHandler.cpp
  examples/tv-casting-app/tv-casting-common/core/CommissionerDeclarationHandler.h
  examples/tv-casting-app/tv-casting-common/core/ConnectionCallbacks.h
  examples/tv-casting-app/tv-casting-common/core/IdentificationDeclarationOptions.h
  examples/tv-casting-app/tv-casting-common/support/AppParameters.h
  examples/tv-casting-app/tv-casting-common/support/ChipDeviceEventHandler.cpp
  src/app/server/Server.cpp
Labels: examples, app, review - approved

#33247 [Metrics] Metrics in core commissioning phase
  src/app/OperationalSessionSetup.cpp
  src/controller/CHIPDeviceController.cpp
  src/controller/CommissioningDelegate.cpp
  src/controller/CommissioningDelegate.h
  src/controller/SetUpCodePairer.cpp
  src/darwin/Framework/CHIP/MTRDeviceController.mm
  src/tracing/metric_keys.h
  src/tracing/metric_macros.h
  src/tracing/tests/TestMetricEvents.cpp
Labels: darwin, controller, app, review - approved, protocols
