Repository project-chip/connectedhomeip, pull requests merged in 2024-12, with the labels that each got.

#36683 Update host.py to fix water-leak-detector-app build
  scripts/build/builders/host.py
Labels: scripts, review - pending, fast track

#36670 Formatting code extracts
  docs/testing/python.md
Labels: documentation, review - approved

#36689 Documentation: Fix incorrect paths in fuzz_testing.md and yaml.md
  docs/testing/fuzz_testing.md
  docs/testing/yaml.md
Labels: documentation, review - pending, fast track

#36675 Stop shell read loop if the input stream was closed
  src/lib/shell/MainLoopDefault.cpp
Labels: lib, review - approved, shell

#36697 Bridge app: remove binding client
  examples/bridge-app/bridge-common/bridge-app.matter
  examples/bridge-app/bridge-common/bridge-app.zap
Labels: examples, review - approved

#36681 Some code updates on composition logic after #36493
  src/app/clusters/descriptor/descriptor.cpp
  src/app/codegen-data-model-provider/CodegenDataModelProvider.cpp
  src/app/codegen-data-model-provider/tests/TestCodegenModelViaMocks.cpp
  src/app/data-model-provider/MetadataTypes.h
Labels: app, review - approved

#36706 [Fabric-Sync] Fix deadlock when removing device
  examples/fabric-sync/bridge/src/BridgedDeviceManager.cpp
Labels: examples, review - approved

#36242 FanControl: modify percentSetting/percentSpeedSetting return value in case NULL is written (match spec)
  src/app/clusters/fan-control-server/fan-control-server.cpp
  src/app/tests/suites/TestFanControl.yaml
Labels: app, review - approved, tests

#36702 Fix small typo in DataModelLogger-src.zapt
  examples/chip-tool/templates/logging/DataModelLogger-src.zapt
  zzz_generated/chip-tool/zap-generated/cluster/logging/DataModelLogger.cpp
Labels: tools, examples, review - pending, fast track

#36696 [Darwin] Framework diagnostics at startup
  src/darwin/Framework/CHIP/MTRFramework.mm
  src/darwin/Framework/CHIP/MTRFrameworkDiagnostics.h
  src/darwin/Framework/CHIP/MTRFrameworkDiagnostics.mm
  src/darwin/Framework/Matter.xcodeproj/project.pbxproj
Labels: darwin, review - pending, fast track

#36669 Python testing: Update commissioning window API
  src/python_testing/TC_ACE_1_5.py
  src/python_testing/TC_BRBINFO_4_1.py
  src/python_testing/TC_CADMIN_1_19.py
  src/python_testing/TC_CCTRL_2_2.py
  src/python_testing/TC_OPCREDS_3_4.py
  src/python_testing/matter_testing_infrastructure/chip/testing/matter_testing.py
Labels: review - approved, tests, matter-1.4-te2-script-change

#36659 [Fabric-Sync]: Convert ember-driven functions to interface functions
  examples/fabric-bridge-app/linux/CommissionerControlDelegate.cpp
  examples/fabric-bridge-app/linux/include/CommissionerControlDelegate.h
  examples/fabric-sync/bridge/include/CommissionerControlDelegate.h
  examples/fabric-sync/bridge/src/CommissionerControlDelegate.cpp
  src/app/clusters/commissioner-control-server/commissioner-control-server.cpp
  src/app/clusters/commissioner-control-server/commissioner-control-server.h
  src/app/common/templates/config-data.yaml
  zzz_generated/app-common/app-common/zap-generated/callback.h
Labels: examples, app, review - approved

#36692 Support for generating QR-code and manual code in Python chip binding
  src/controller/python/chip/setup_payload/Generator.cpp
  src/controller/python/chip/setup_payload/setup_payload.py
  src/python_testing/TC_MCORE_FS_1_2.py
  src/python_testing/TC_MCORE_FS_1_5.py
  src/python_testing/matter_testing_infrastructure/chip/testing/matter_testing.py
Labels: controller, review - approved, tests, matter-1.4-te2-script-change

#36704 [NXP] Fix access to SSID array
  src/platform/Zephyr/wifi/WiFiManager.cpp
Labels: platform, zephyr, review - approved

#36693 [SIlabs] Refactor GetMacAddress function and initial clean up of the Notify functions
  examples/platform/silabs/efr32/BUILD.gn
  examples/platform/silabs/uart.cpp
  src/platform/silabs/CHIPDevicePlatformEvent.h
  src/platform/silabs/ConfigurationManagerImpl.cpp
  src/platform/silabs/ConnectivityManagerImpl_WIFI.cpp
  src/platform/silabs/PlatformManagerImpl.cpp
  src/platform/silabs/PlatformManagerImpl.h
  src/platform/silabs/rs911x/BLEManagerImpl.cpp
  src/platform/silabs/wifi/SiWx/WifiInterface.cpp
  src/platform/silabs/wifi/WifiInterfaceAbstraction.cpp
  src/platform/silabs/wifi/WifiInterfaceAbstraction.h
  src/platform/silabs/wifi/lwip-support/ethernetif.cpp
  src/platform/silabs/wifi/rs911x/WifiInterface.cpp
  src/platform/silabs/wifi/wf200/WifiInterface.cpp
  src/platform/silabs/wifi/wfx_msgs.h
  src/platform/silabs/wifi/wiseconnect-abstraction/WiseconnectInterfaceAbstraction.cpp
  src/platform/silabs/wifi/wiseconnect-abstraction/WiseconnectInterfaceAbstraction.h
Labels: examples, platform, review - approved, silabs

#36687 Allow to communicate with DUT via standard input
  docs/testing/python.md
  examples/fabric-admin/scripts/fabric-sync-app.py
  scripts/tests/run_python_test.py
  src/python_testing/TC_BRBINFO_4_1.py
  src/python_testing/TC_CCTRL_2_1.py
  src/python_testing/TC_CCTRL_2_2.py
  src/python_testing/TC_CCTRL_2_3.py
  src/python_testing/TC_ECOINFO_2_1.py
  src/python_testing/TC_ECOINFO_2_2.py
  src/python_testing/TC_MCORE_FS_1_1.py
  src/python_testing/TC_MCORE_FS_1_2.py
  src/python_testing/TC_MCORE_FS_1_3.py
  src/python_testing/TC_MCORE_FS_1_4.py
  src/python_testing/TC_MCORE_FS_1_5.py
  src/python_testing/matter_testing_infrastructure/chip/testing/metadata.py
Labels: documentation, examples, scripts, review - approved, tests, matter-1.4-te2-script-change

#36721 Update Darwin availability annotations.
  src/darwin/Framework/CHIP/MTRAttributeValueWaiter.h
  src/darwin/Framework/CHIP/MTRDevice.h
  src/darwin/Framework/CHIP/XPC Protocol/MTRXPCServerProtocol.h
Labels: darwin, review - pending, fast track

#36591 [Android] Implement DiagnosticLog
  .github/workflows/java-tests.yaml
  examples/android/CHIPTool/app/src/main/AndroidManifest.xml
  examples/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/SelectActionFragment.kt
  examples/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/clusterclient/DiagnosticLogFragment.kt
  examples/android/CHIPTool/app/src/main/res/layout/diagnostic_log_fragment.xml
  examples/android/CHIPTool/app/src/main/res/layout/select_action_fragment.xml
  examples/android/CHIPTool/app/src/main/res/values/strings.xml
  examples/android/CHIPTool/app/src/main/res/xml/file_paths.xml
  examples/java-matter-controller/BUILD.gn
  examples/java-matter-controller/java/src/com/matter/controller/Main.kt
  examples/java-matter-controller/java/src/com/matter/controller/commands/bdx/DownloadLogCommand.kt
  examples/java-matter-controller/java/src/com/matter/controller/commands/bdx/PairOnNetworkLongDownloadLogCommand.kt
  kotlin-detect-config.yaml
  scripts/tests/java/bdx_test.py
  scripts/tests/run_java_test.py
  src/controller/java/AndroidLogDownloadFromNode.cpp
  src/controller/java/AndroidLogDownloadFromNode.h
  src/controller/java/BUILD.gn
  src/controller/java/BdxDiagnosticLogsReceiver.cpp
  src/controller/java/BdxDiagnosticLogsReceiver.h
  src/controller/java/CHIPDeviceController-JNI.cpp
  src/controller/java/src/chip/devicecontroller/ChipDeviceController.java
  src/controller/java/src/chip/devicecontroller/DiagnosticLogType.java
  src/controller/java/src/chip/devicecontroller/DownloadLogCallback.java
  src/protocols/bdx/BdxUri.h
Labels: examples, scripts, controller, github, workflows, review - approved, protocols

#36686 Add return value check for avoid interger overflow
  src/lib/dnssd/TxtFields.h
Labels: lib, review - approved

#36715 Python testing: Fix some type annotation errors
  src/controller/python/chip/clusters/ClusterObjects.py
  src/python_testing/matter_testing_infrastructure/chip/testing/matter_testing.py
Labels: controller, review - approved, tests, matter-1.4-te2-script-change

#36722 [darwin-framework-tool] Add an #ifdef around CHIPLogging.h include if…
  examples/darwin-framework-tool/commands/common/ControllerStorage.mm
Labels: examples, darwin, review - pending, fast track

#36713 [Python] Pass DAC verifier on SetupCommissioner
  src/controller/python/OpCredsBinding.cpp
  src/controller/python/chip/internal/CommissionerImpl.cpp
Labels: controller, review - approved

#36717 [Telink] Update Docker image (Zephyr update)
  integrations/docker/images/base/chip-build/version
  integrations/docker/images/stage-2/chip-build-telink/Dockerfile
Labels: integrations, review - approved, docker

#36709 ESP32: Fix IEEE802154 MAC address in diagnostic provider(v1.3)
  src/platform/ESP32/DiagnosticDataProviderImpl.cpp
Labels: platform, esp32

#36736 [Matter.framework] Update some test/helper code to use bridge_transfe…
  src/darwin/CHIPTool/CHIPTool/Framework Helpers/FabricKeys.m
  src/darwin/Framework/CHIPTests/TestHelpers/MTRTestKeys.m
Labels: darwin, review - pending, fast track

#36729 Check whether we actually have a GroupId before trying to use it.
  src/messaging/ExchangeMgr.cpp
Labels: review - approved, messaging

#36422 Check fabric-sync application with CCTRL tests on CI
  .github/workflows/tests.yaml
  scripts/tests/local.py
  src/python_testing/TC_CCTRL_2_1.py
  src/python_testing/TC_CCTRL_2_2.py
  src/python_testing/TC_CCTRL_2_3.py
Labels: scripts, github, workflows, review - approved, tests, matter-1.4-te2-script-change

#36723 [darwin-framework-tool] Update CHIPToolKeyPair implementation to not …
  examples/darwin-framework-tool/BUILD.gn
  examples/darwin-framework-tool/commands/common/CHIPCommandBridge.mm
  examples/darwin-framework-tool/commands/common/CHIPToolKeypair.mm
  examples/darwin-framework-tool/commands/common/CertificateIssuer.mm
  examples/darwin-framework-tool/commands/common/DFTKeypair.h
  examples/darwin-framework-tool/commands/common/DFTKeypair.mm
  src/darwin/Framework/Matter.xcodeproj/project.pbxproj
Labels: examples, darwin, review - pending, fast track

#36737 Cleanup namespace from CodegenDataModelProvider
  src/app/codegen-data-model-provider/CodegenDataModelProvider.cpp
  src/app/codegen-data-model-provider/CodegenDataModelProvider.h
  src/app/server/Server.cpp
Labels: review - approved

#36603 Refactor kReadCommissioningInfo step in DeviceCommissioner
  src/controller/AutoCommissioner.cpp
  src/controller/CHIPDeviceController.cpp
  src/controller/CHIPDeviceController.h
  src/controller/CommissioningDelegate.cpp
  src/controller/CommissioningDelegate.h
  src/controller/python/OpCredsBinding.cpp
  src/controller/python/test/test_scripts/commissioning_failure_test.py
  src/darwin/Framework/CHIPTests/MTRPairingTests.m
  src/darwin/Framework/CHIPTests/TestHelpers/MTRTestCase+ServerAppRunner.m
  src/python_testing/TC_CGEN_2_4.py
Labels: darwin, controller, review - approved, tests, matter-1.4-te2-script-change

#36741 [Darwin] MTRDevice can get stuck using subscription pool if not reset properly
  src/darwin/Framework/CHIP/MTRDevice_Concrete.mm
  src/darwin/Framework/CHIPTests/MTRPerControllerStorageTests.m
Labels: darwin, review - pending, fast track

#36738 Enabled most unit tests for ESP32
  build/chip/chip_test_suite.gni
  src/credentials/BUILD.gn
  src/lib/core/BUILD.gn
  src/lib/support/BUILD.gn
  src/test_driver/esp32/.gitignore
  src/test_driver/esp32/CMakeLists.txt
  src/test_driver/esp32/README.md
  src/test_driver/esp32/cmake/esp32_unit_tests.cmake
Labels: esp32, lib, gn, review - approved, support, core, test driver

#36710 ESP32: Fix IEEE802154 MAC address in diagnostic provider(v1.4)
  src/platform/ESP32/DiagnosticDataProviderImpl.cpp
Labels: platform, esp32

#36609 [ESP32] Added GetThreadMetrics Implementation to DiagnosticDataProvider
  src/platform/ESP32/DiagnosticDataProviderImpl.cpp
  src/platform/ESP32/DiagnosticDataProviderImpl.h
Labels: platform, esp32, review - approved

#34345 TC-OPCREDS 3.5: Automate
  src/controller/python/OpCredsBinding.cpp
  src/controller/python/chip/CertificateAuthority.py
  src/controller/python/chip/utils/CommissioningBuildingBlocks.py
  src/python_testing/TC_OPCREDS_3_2.py
  src/python_testing/TC_OPCREDS_3_5.py
  src/python_testing/matter_testing_infrastructure/chip/testing/matter_testing.py
Labels: controller, review - pending, fast track, tests, matter-1.4-te2-script-change

#36745 [nrfconnect] Fix configuration of pigweed logger
  examples/chef/nrfconnect/rpc.overlay
  examples/lighting-app/nrfconnect/rpc.overlay
  examples/platform/nrfconnect/util/PigweedLogger.cpp
Labels: bug, examples, platform, nrf connect, review - approved

#36680 da_revocation: Follow ups in TestDACRevocationDelegateImpl and revocation set generation script
  credentials/generate-revocation-set.py
  src/credentials/attestation_verifier/TestDACRevocationDelegateImpl.cpp
  src/credentials/attestation_verifier/TestDACRevocationDelegateImpl.h
  src/credentials/tests/TestDeviceAttestationCredentials.cpp
Labels: review - approved

#36748 [NXP] Update NXP Zephyr Docker image for nxp-zsdk v4.0.0 migration
  .github/workflows/docker_img.yaml
  integrations/docker/images/stage-2/chip-build-nxp-zephyr/Dockerfile
  integrations/docker/images/vscode/chip-build-vscode/Dockerfile
Labels: integrations, github, workflows, review - approved, docker

#36747 [nrfconnect] Fix USB device initialization
  examples/all-clusters-app/nrfconnect/main/main.cpp
  examples/all-clusters-minimal-app/nrfconnect/main/main.cpp
  examples/lighting-app/nrfconnect/main/main.cpp
  examples/platform/nrfconnect/pw_sys_io/sys_io_nrfconnect.cc
Labels: bug, examples, platform, nrf connect, review - approved

#36753 Fix missing include in transport/SessionDelegate.h
  src/transport/SessionDelegate.h
Labels: transport, review - pending, fast track

#36765 [Zephyr] Fix ThreadMetrics diagnostic cluster implementation
  src/include/platform/DiagnosticDataProvider.h
  src/platform/Zephyr/DiagnosticDataProviderImpl.cpp
Labels: platform, zephyr, review - approved

#36718 TC_DeviceBasicComposition: Fix lighting-app-data-mode-no-unique-id and add tests to CI
  examples/lighting-app-data-mode-no-unique-id/lighting-common/lighting-app.matter
  examples/lighting-app-data-mode-no-unique-id/lighting-common/lighting-app.zap
  src/python_testing/TC_DeviceBasicComposition.py
Labels: examples, review - approved, tests, matter-1.4-te2-script-change

#36761 [Silabs] Adds on/off cluster and changed the OTA provider cluster from the server to client side
  examples/refrigerator-app/silabs/data_model/refrigerator-thread-app.matter
  examples/refrigerator-app/silabs/data_model/refrigerator-thread-app.zap
  examples/refrigerator-app/silabs/data_model/refrigerator-wifi-app.matter
  examples/refrigerator-app/silabs/data_model/refrigerator-wifi-app.zap
Labels: examples, review - approved

#36701 TC_CNET_4_11:Correct Step 7 PICS(#452)
  src/app/tests/suites/certification/Test_TC_CNET_4_11.yaml
Labels: app, review - pending, fast track, tests, matter-1.4-te2-script-change

#36769 Add a helper method to get the descriptor cluster info from MTRDevice.
  src/darwin/Framework/CHIP/MTRDevice.h
  src/darwin/Framework/CHIP/MTRDevice.mm
  src/darwin/Framework/CHIPTests/MTRDeviceTests.m
Labels: darwin, review - pending, fast track

#36773 ESP32: Add support for ESP32-P4(v1.4)
  config/esp32/components/chip/CMakeLists.txt
  config/esp32/components/chip/idf_component.yml
  examples/all-clusters-app/esp32/main/Kconfig.projbuild
  examples/all-clusters-app/esp32/sdkconfig.defaults.esp32p4
  examples/lighting-app/esp32/sdkconfig.defaults.esp32p4
  examples/platform/esp32/common/Esp32AppServer.cpp
  src/platform/ESP32/ConfigurationManagerImpl.cpp
  src/platform/ESP32/nimble/BLEManagerImpl.cpp
Labels: examples, platform, esp32, config

#36764 [Darwin] Print the queue name (or a shorter version for common queues) when using the stdio logging backend
  examples/darwin-framework-tool/logging/logging.mm
  src/platform/Darwin/BUILD.gn
  src/platform/Darwin/DispatchQueueNames.cpp
  src/platform/Darwin/DispatchQueueNames.h
  src/platform/logging/impl/Stdio.cpp
Labels: examples, platform, darwin, review - pending, fast track

#36788 Uknown -> Unknown
  src/darwin/Framework/CHIP/MTRDeviceDataValidation.mm
  src/darwin/Framework/CHIP/ServerEndpoint/MTRServerAccessControl.mm
Labels: darwin, fast track

#36774 [Fabric-Sync] Add --enable-icd-registration option to pair-device command
  examples/fabric-sync/admin/PairingManager.cpp
  examples/fabric-sync/admin/PairingManager.h
  examples/fabric-sync/shell/AddBridgeCommand.cpp
  examples/fabric-sync/shell/AddDeviceCommand.cpp
  examples/fabric-sync/shell/PairDeviceCommand.cpp
  examples/fabric-sync/shell/PairDeviceCommand.h
  examples/fabric-sync/shell/RemoveBridgeCommand.cpp
  examples/fabric-sync/shell/RemoveDeviceCommand.cpp
  examples/fabric-sync/shell/ShellCommands.cpp
  examples/fabric-sync/shell/SyncDeviceCommand.cpp
Labels: examples, review - approved

#36771 Wait at least max_report_interval_sec for subscription report update
  src/python_testing/TC_MCORE_FS_1_2.py
  src/python_testing/TC_MCORE_FS_1_5.py
Labels: examples, platform, linux, review - approved, tests, matter-1.4-te2-script-change

#36789 Add fallback for unknown SHA
  src/darwin/Framework/CHIP/MTRFrameworkDiagnostics.mm
Labels: darwin, review - pending

#36787 [Darwin] Subscription pool logging should note associated device
  src/darwin/Framework/CHIP/MTRDevice_Concrete.mm
Labels: darwin, review - pending, fast track

#36766 python testing: add test functions for IDs
  src/python_testing/TC_DeviceConformance.py
  src/python_testing/TestIdChecks.py
  src/python_testing/matter_testing_infrastructure/chip/testing/global_attribute_ids.py
Labels: review - approved, tests, matter-1.4-te2-script-change

#36797 docs: add the table of content to the chip-tool guide
  docs/development_controllers/chip-tool/chip_tool_guide.md
Labels: documentation, review - pending, fast track

#36786 [chip-tool] Allow optional arguments to be used as flags without requ…
  examples/chip-tool/commands/common/Command.cpp
Labels: tools, examples, review - pending, fast track

#36727 python testing: Allow top-level PICS with automated selectors
  src/python_testing/matter_testing_infrastructure/chip/testing/matter_testing.py
  src/python_testing/test_testing/TestDecorators.py
Labels: review - pending, fast track, tests, matter-1.4-te2-script-change

#36790 Fix missing include in platform/Linux/DeviceInstanceInfoProviderImpl.cpp
  src/platform/Linux/DeviceInstanceInfoProviderImpl.cpp
Labels: platform, linux, review - approved

#36795 [Fabric-Admin] Reset PairingManager state before next command
  examples/fabric-admin/commands/fabric-sync/FabricSyncCommand.cpp
  examples/fabric-admin/device_manager/PairingManager.cpp
  examples/fabric-admin/device_manager/PairingManager.h
Labels: examples, review - approved

#36799 [Fabric-Sync] Fix subscription for non-ICD devices
  examples/fabric-sync/admin/DeviceSynchronization.cpp
Labels: examples, review - pending, fast track

#36807 Update Darwin availability annotations.
  src/darwin/Framework/CHIP/MTRAttributeValueWaiter.h
  src/darwin/Framework/CHIP/MTRDevice.h
  src/darwin/Framework/CHIP/MTRKeypair.h
  src/darwin/Framework/CHIP/templates/availability.yaml
  src/darwin/Framework/CHIP/zap-generated/MTRBaseClusters.h
  src/darwin/Framework/CHIP/zap-generated/MTRClusterConstants.h
  src/darwin/Framework/CHIP/zap-generated/MTRClusters.h
  src/darwin/Framework/CHIP/zap-generated/MTRCommandPayloadsObjc.h
  src/darwin/Framework/CHIP/zap-generated/MTRStructsObjc.h
Labels: darwin, review - pending, fast track

#36780 [Fabric-Sync] Synchronize all required attributes
  examples/fabric-sync/admin/DeviceSynchronization.cpp
Labels: examples, review - approved

#36812 Use timeout from PerformCommissioningStep for kReadCommissioningInfo reads
  src/controller/CHIPDeviceController.cpp
  src/controller/CHIPDeviceController.h
Labels: controller, review - approved

#36714 [ESP32]: Update WiFi Scan Network Implementation for New API
  src/platform/ESP32/NetworkCommissioningDriver.cpp
  src/platform/ESP32/NetworkCommissioningDriver.h
Labels: platform, esp32, review - approved

#36810 Check fabric-sync application with MCORE-FS tests on CI
  src/python_testing/TC_MCORE_FS_1_1.py
  src/python_testing/TC_MCORE_FS_1_2.py
  src/python_testing/TC_MCORE_FS_1_3.py
  src/python_testing/TC_MCORE_FS_1_4.py
  src/python_testing/TC_MCORE_FS_1_5.py
Labels: review - pending, fast track, tests, matter-1.4-te2-script-change

#36800 Remove duplicate EnergyTimeUtils.h include in EVSEManufacturerImpl.cpp
  examples/energy-management-app/energy-management-common/energy-evse/src/EVSEManufacturerImpl.cpp
Labels: examples, review - pending, fast track

#36545 DESC-2.2: print error messages for root node duplicates
  src/python_testing/TC_DeviceBasicComposition.py
Labels: review - pending, fast track, tests, matter-1.4-te2-script-change

#36781 Allow to filter python test case runs from command line
  scripts/tests/run_python_test.py
Labels: scripts, review - pending, fast track

#36806 [Fabric-Sync] Adjust the Subscribe Max Interval to align with test spec
  examples/fabric-sync/admin/BridgeSubscription.cpp
  examples/fabric-sync/admin/DeviceSubscription.cpp
Labels: examples, review - approved

#36820 Remove stale comment from Thermostat XML.
  src/app/zap-templates/zcl/data-model/chip/thermostat-cluster.xml
Labels: app, review - pending, fast track

#36823 [Fabric-Admin] Adjust the Subscribe Interval to align with test spec
  examples/fabric-admin/device_manager/BridgeSubscription.cpp
  examples/fabric-admin/device_manager/DeviceSubscription.cpp
Labels: examples, review - approved

#36811 [Android] Fix AndroidDeviceControllerWrapper::Shutdown()
  src/controller/java/AndroidDeviceControllerWrapper.cpp
  src/controller/java/AndroidDeviceControllerWrapper.h
Labels: controller, review - approved

#36791 [Darwin] Unstored attributes should be flushed to storage on shutdown
  src/darwin/Framework/CHIP/MTRDeviceControllerDataStore.h
  src/darwin/Framework/CHIP/MTRDeviceControllerDataStore.mm
  src/darwin/Framework/CHIP/MTRDeviceController_Concrete.mm
  src/darwin/Framework/CHIP/MTRDevice_Concrete.mm
  src/darwin/Framework/CHIPTests/MTRPerControllerStorageTests.m
  src/darwin/Framework/CHIPTests/TestHelpers/MTRTestPerControllerStorage.h
  src/darwin/Framework/CHIPTests/TestHelpers/MTRTestPerControllerStorage.m
Labels: darwin, review - pending, fast track

#36819 Remove provisional annotations from derived cluster inherited enum values.
  src/darwin/Framework/CHIP/templates/availability.yaml
  src/darwin/Framework/CHIP/zap-generated/MTRBaseClusters.h
Labels: darwin, review - pending, fast track

#36822 Update Code Coverage Report and Fix webapp instructions
  integrations/appengine/README.md
  integrations/appengine/webapp_config.yaml
  scripts/build_coverage.sh
Labels: scripts, integrations, review - approved

#36759 da_revocation: option to load test data from the test without using file
  src/credentials/attestation_verifier/TestDACRevocationDelegateImpl.cpp
  src/credentials/attestation_verifier/TestDACRevocationDelegateImpl.h
  src/credentials/tests/TestDeviceAttestationCredentials.cpp
Labels: review - approved

#36754 Create a `SpanSearchValue` class that allows tree-searching without extra intermediate `if null/missing` checks.
  src/data-model-providers/codegen/CodegenDataModelProvider.cpp
  src/lib/support/BUILD.gn
  src/lib/support/SpanSearchValue.h
  src/lib/support/tests/BUILD.gn
  src/lib/support/tests/TestSpanSearchValue.cpp
  src/platform/cc32xx/args.gni
Labels: platform, lib, app, review - approved, support

#36835 Add MTRErrorDomain mappings for a few more CHIP_ERROR values.
  src/darwin/Framework/CHIP/MTRError.h
  src/darwin/Framework/CHIP/MTRError.mm
  src/darwin/Framework/CHIP/MTRError_Internal.h
  src/darwin/Framework/CHIP/MTRError_Testable.h
  src/darwin/Framework/CHIPTests/MTRErrorMappingTests.m
  src/darwin/Framework/Matter.xcodeproj/project.pbxproj
Labels: darwin, review - pending, fast track

#36834 [Fabric-Sync] Fix ICD check-in handler registration
  examples/fabric-sync/admin/FabricAdmin.cpp
Labels: examples, review - approved

#36833 Improve Darwin discovery test.
  src/darwin/Framework/CHIPTests/MTRCommissionableBrowserTests.m
Labels: darwin, review - pending, fast track

#34907 Fix CI for DM XMLs
  .github/workflows/check-data-model-directory-updates.yaml
  scripts/dm_xml_ci_change_enforcement.py
Labels: scripts, github, workflows, review - approved

#35851 TC-VALCC-3.1: Allow immediate open of valve
  examples/all-clusters-app/linux/ValveControlDelegate.cpp
  src/app/clusters/valve-configuration-and-control-server/valve-configuration-and-control-server.cpp
  src/python_testing/TC_VALCC_3_1.py
  src/python_testing/TC_VALCC_3_2.py
  src/python_testing/TC_VALCC_3_3.py
Labels: examples, app, review - approved, tests, matter-1.4-te2-script-change

#36596 Updated spec_parsing.py to now use the data model directory from python package
  src/python_testing/TestSpecParsingSupport.py
  src/python_testing/matter_testing_infrastructure/chip/testing/spec_parsing.py
Labels: review - pending, fast track, tests, matter-1.4-te2-script-change

#36572 [1.4] Fix Carbon Monoxide Concentration Measurement cluster
  src/app/zap-templates/zcl/data-model/chip/matter-devices.xml
Labels: app

#36850 Update spec_clusters.md
  docs/ids_and_codes/spec_clusters.md
Labels: documentation, review - pending, fast track

#36841 Bash completion for chip example applications
  scripts/helpers/bash-completion.sh
Labels: scripts, review - pending, fast track

#36777 Make XOccupiedToUnoccupiedDelay attributes in OccupancySensing cluster managed by AAI
  examples/all-clusters-app/all-clusters-common/all-clusters-app.matter
  examples/placeholder/linux/apps/app1/config.matter
  examples/placeholder/linux/apps/app2/config.matter
  src/app/clusters/occupancy-sensor-server/occupancy-sensor-server.cpp
  src/app/zap-templates/zcl/zcl-with-test-extensions.json
  src/app/zap-templates/zcl/zcl.json
  zzz_generated/app-common/app-common/zap-generated/attributes/Accessors.cpp
  zzz_generated/app-common/app-common/zap-generated/attributes/Accessors.h
Labels: examples, app, review - approved

#34290 [Fix] Possible fix for matter-test-scripts issue #227: Remove PICS from OPSTATE tests
  src/python_testing/TC_OpstateCommon.py
  src/python_testing/TC_RVCOPSTATE_2_1.py
  src/python_testing/TC_TestAttrAvail.py
  src/python_testing/matter_testing_infrastructure/chip/testing/matter_testing.py
  src/python_testing/test_metadata.yaml
Labels: review - pending, fast track, tests, matter-1.4-te2-script-change

#34065 Feature/enhanced setup flow feature
  scripts/build/build/targets.py
  scripts/build/builders/host.py
  scripts/build/testdata/all_targets_linux_x64.txt
  src/app/BUILD.gn
  src/app/FailSafeContext.cpp
  src/app/FailSafeContext.h
  src/app/chip_data_model.cmake
  src/app/clusters/general-commissioning-server/general-commissioning-server.cpp
  src/app/common_flags.gni
  src/app/server/BUILD.gn
  src/app/server/DefaultTermsAndConditionsProvider.cpp
  src/app/server/DefaultTermsAndConditionsProvider.h
  src/app/server/TermsAndConditionsManager.cpp
  src/app/server/TermsAndConditionsManager.h
  src/app/server/TermsAndConditionsProvider.h
  src/app/tests/BUILD.gn
  src/app/tests/TestDefaultTermsAndConditionsProvider.cpp
  src/include/platform/CHIPDeviceEvent.h
  src/lib/support/DefaultStorageKeyAllocator.h
Labels: tools, examples, scripts, system, platform, darwin, lib, controller, app, github, workflows, review - approved, tests, support, core, Enhanced Setup Flow

#36457 [Chef] Add heat pump device type
  examples/chef/devices/rootnode_heatpump_87ivjRAECh.matter
  examples/chef/devices/rootnode_heatpump_87ivjRAECh.zap
  examples/chef/sample_app_util/matter_device_types.json
Labels: examples, review - pending, fast track

#36452 [Silabs] Drop BLE connection on endpoint close
  src/platform/silabs/efr32/BLEManagerImpl.cpp
Labels: platform, silabs

#36865 Scenes management: Fix access on CopyScene
  examples/all-clusters-app/all-clusters-common/all-clusters-app.matter
  examples/all-clusters-minimal-app/all-clusters-common/all-clusters-minimal-app.matter
  examples/chef/devices/rootnode_dimmablepluginunit_f8a9a0b9d4.matter
  examples/light-switch-app/light-switch-common/icd-lit-light-switch-app.matter
  examples/light-switch-app/light-switch-common/light-switch-app.matter
  examples/light-switch-app/qpg/zap/switch.matter
  examples/lighting-app-data-mode-no-unique-id/lighting-common/lighting-app.matter
  examples/lighting-app/lighting-common/lighting-app.matter
  examples/lighting-app/silabs/data_model/lighting-thread-app.matter
  examples/lighting-app/silabs/data_model/lighting-wifi-app.matter
  examples/placeholder/linux/apps/app1/config.matter
  examples/placeholder/linux/apps/app2/config.matter
  examples/virtual-device-app/virtual-device-common/virtual-device-app.matter
  scripts/tools/zap/tests/outputs/all-clusters-app/app-templates/access.h
  scripts/tools/zap/tests/outputs/lighting-app/app-templates/access.h
  src/app/zap-templates/zcl/data-model/chip/scene.xml
  src/controller/data_model/controller-clusters.matter
Labels: examples, scripts, controller, app, review - approved

#36852 Update documentation file used in generate_spec_xml.py
  scripts/spec_xml/paths.py
Labels: review - pending, fast track

#36858 Fix Global Buffer Overflow in AudioOutputManager.cpp
  examples/tv-app/tv-common/clusters/audio-output/AudioOutputManager.cpp
Labels: examples, review - approved

#36856 Fix Global Buffer Overflow in MediaInputManager.cpp
  examples/tv-app/tv-common/clusters/media-input/MediaInputManager.cpp
Labels: examples, review - approved

#36698 TC-IDM-10.6: Add device type revision test
  examples/lock-app/lock-common/lock-app.matter
  examples/lock-app/lock-common/lock-app.zap
  src/python_testing/TC_DeviceConformance.py
Labels: examples, review - pending, fast track, tests

#31982 [TC-SC-4.3] Discovery [DUT as Commissionee]
  src/app/tests/suites/certification/Test_TC_SC_4_3.yaml
  src/app/tests/suites/manualTests.json
  src/python_testing/TC_SC_4_3.py
  src/python_testing/mdns_discovery/mdns_async_service_info.py
  src/python_testing/mdns_discovery/mdns_discovery.py
  src/python_testing/mdns_discovery/mdns_service_type_enum.py
Labels: examples, scripts, platform, darwin, lib, controller, app, github, workflows, review - pending, fast track, tests, support, icd, matter-1.4-te2-script-change

#36861 Make AddressResolver not keep duplicate IP addresses in its cache
  src/lib/address_resolve/AddressResolve_DefaultImpl.cpp
  src/lib/address_resolve/tests/TestAddressResolve_DefaultImpl.cpp
Labels: lib, review - approved, core

#36725 Decouple InitDataModelHandler from libCHIP
  src/app/server/Server.cpp
  src/app/tests/TestCommissioningWindowManager.cpp
  src/app/tests/TestInteractionModelEngine.cpp
  src/app/tests/test-ember-api.cpp
  src/controller/CHIPDeviceControllerFactory.cpp
  src/controller/tests/TestServerCommandDispatch.cpp
  src/controller/tests/data_model/DataModelFixtures.cpp
  src/data-model-providers/codegen/CodegenDataModelProvider.cpp
  src/data-model-providers/codegen/CodegenDataModelProvider.h
  src/data-model-providers/codegen/tests/TestCodegenModelViaMocks.cpp
Labels: controller, app, review - approved, tests

#36876 Fix zap
  examples/chef/devices/rootnode_heatpump_87ivjRAECh.matter
Labels: examples, hotfix

#36872 [ESP32]: Removed esp32-m5-with-rpc from the CI.
  .github/workflows/examples-esp32.yaml
  .vscode/tasks.json
  examples/all-clusters-app/esp32/sdkconfig_rpc.defaults
  integrations/cloudbuild/smoke-test.yaml
  scripts/build/BUILD.gn
  scripts/build/test.py
  scripts/build/testdata/dry_run_esp32-m5stack-all-clusters-minimal-rpc-ipv6only.txt
Labels: scripts, integrations, vscode, github, workflows, review - approved

#36868 Map the return error from AppendUserLabel to RESOURCE_EXHAUSTED
  src/app/clusters/user-label-server/user-label-server.cpp
  src/app/tests/suites/TestUserLabelClusterConstraints.yaml
  src/include/platform/DeviceInfoProvider.h
Labels: platform, app, review - approved, tests

#36878 [nrfconnect] Increase thread stack sizes for pigweed configuration
  examples/chef/nrfconnect/rpc.overlay
  examples/lighting-app/nrfconnect/rpc.overlay
Labels: examples, review - approved

#36751 Fix Null Pointer Dereference in TCP Packet Handling
  src/transport/raw/TCP.cpp
  src/transport/raw/tests/TestTCP.cpp
Labels: transport, review - approved

#36831 Inject event management into report engine
  src/app/BUILD.gn
  src/app/EventManagement.cpp
  src/app/EventManagement.h
  src/app/EventReporter.h
  src/app/InteractionModelEngine.cpp
  src/app/InteractionModelEngine.h
  src/app/reporting/Engine.cpp
  src/app/reporting/Engine.h
Labels: app, review - approved

#36879 Fix for Bug #36732
  src/protocols/secure_channel/CASESession.cpp
Labels: review - approved, protocols

#36796 [ESP32]: Fixed the documentation related to ScanResponse data usage in application.
  docs/platforms/esp32/ble_settings.md
  src/platform/ESP32/BLEManagerImpl.h
  src/platform/ESP32/nimble/BLEManagerImpl.cpp
Labels: documentation, platform, esp32, review - approved

#36887 Follow Up Fix PR #36596 - Remove indents for returns (shorten the code/indent level on early return instead of if/else)
  src/python_testing/matter_testing_infrastructure/chip/testing/spec_parsing.py
Labels: review - approved, tests, matter-1.4-te2-script-change

#36883 esp32: simplify CMakeLists file for chip component
  config/esp32/components/chip/CMakeLists.txt
  config/esp32/components/chip/idf_component.yml
Labels: config, review - approved

#36869 [ESP32]: Remove unused configs
  config/esp32/components/chip/CMakeLists.txt
  config/esp32/components/chip/Kconfig
  examples/all-clusters-app/esp32/sdkconfig.defaults.esp32c6
  examples/all-clusters-app/esp32/sdkconfig.defaults.esp32h2
  examples/energy-management-app/esp32/sdkconfig.defaults.esp32c6
  examples/energy-management-app/esp32/sdkconfig.defaults.esp32h2
  examples/lighting-app/esp32/sdkconfig.defaults.esp32c6
  examples/lighting-app/esp32/sdkconfig.defaults.esp32h2
  examples/lit-icd-app/esp32/sdkconfig.defaults
  examples/lock-app/esp32/sdkconfig.defaults.esp32c6
  src/platform/ESP32/CHIPDevicePlatformConfig.h
Labels: examples, platform, esp32, config, review - approved

#36874 Fix CCTRL tests on CI - CCTRL cluster is on endpoint 1
  .github/workflows/tests.yaml
  scripts/tests/run_python_test.py
  src/controller/python/test/test_scripts/mobile-device-test.py
  src/python_testing/TC_CCTRL_2_1.py
  src/python_testing/TC_CCTRL_2_2.py
  src/python_testing/TC_CCTRL_2_3.py
  src/python_testing/TC_DeviceBasicComposition.py
  src/python_testing/TC_LVL_2_3.py
  src/python_testing/TC_SWTCH.py
  src/python_testing/TestBdxTransfer.py
  src/python_testing/TestMatterTestingSupport.py
  src/python_testing/execute_python_tests.py
  src/python_testing/matter_testing_infrastructure/chip/testing/matter_testing.py
  src/python_testing/test_metadata.yaml
Labels: scripts, controller, github, workflows, review - approved, tests, matter-1.4-te2-script-change

#36860 TC-VALCC: Update wording on test steps
  src/python_testing/TC_VALCC_3_1.py
  src/python_testing/TC_VALCC_3_2.py
  src/python_testing/TC_VALCC_3_3.py
Labels: review - pending, fast track, tests, matter-1.4-te2-script-change

#36896 Simplify AutoCommissioner::SetCommissioningParameters
  src/controller/AutoCommissioner.cpp
  src/lib/support/Span.h
Labels: lib, controller, review - approved, support

#36888 [Silabs][Docker]Bump sdk versions in Silabs docker.
  integrations/docker/images/base/chip-build/version
  integrations/docker/images/stage-2/chip-build-efr32/Dockerfile
  integrations/docker/images/vscode/chip-build-vscode/Dockerfile
Labels: integrations, review - approved, docker

#36836 Decouple ember functions from general commissioning cluster
  scripts/tools/zap/tests/outputs/all-clusters-app/app-templates/IMClusterCommandHandler.cpp
  scripts/tools/zap/tests/outputs/lighting-app/app-templates/IMClusterCommandHandler.cpp
  src/app/clusters/general-commissioning-server/general-commissioning-server.cpp
  src/app/common/templates/config-data.yaml
  zzz_generated/app-common/app-common/zap-generated/callback.h
Labels: scripts, app, review - approved

#36905 [ICD] Remove provisional markings from the ICD Management Cluster XML
  examples/contact-sensor-app/nxp/zap-lit/contact-sensor-app.matter
  examples/contact-sensor-app/nxp/zap-sit/contact-sensor-app.matter
  examples/light-switch-app/light-switch-common/icd-lit-light-switch-app.matter
  examples/light-switch-app/light-switch-common/light-switch-app.matter
  examples/light-switch-app/qpg/zap/switch.matter
  examples/lit-icd-app/lit-icd-common/lit-icd-server-app.matter
  examples/lock-app/lock-common/lock-app.matter
  examples/lock-app/nxp/zap/lock-app.matter
  examples/lock-app/qpg/zap/lock.matter
  examples/lock-app/silabs/data_model/lock-app.matter
  examples/smoke-co-alarm-app/smoke-co-alarm-common/smoke-co-alarm-app.matter
  examples/window-app/common/window-app.matter
  src/app/zap-templates/zcl/data-model/chip/icd-management-cluster.xml
  src/controller/data_model/controller-clusters.matter
Labels: examples, controller, app, review - approved

#36910 Clean up unused ember callback from soft diagnostic cluster
  scripts/tools/zap/tests/outputs/all-clusters-app/app-templates/IMClusterCommandHandler.cpp
  scripts/tools/zap/tests/outputs/lighting-app/app-templates/IMClusterCommandHandler.cpp
  src/app/clusters/software-diagnostics-server/software-diagnostics-server.cpp
  src/app/common/templates/config-data.yaml
  zzz_generated/app-common/app-common/zap-generated/callback.h
Labels: scripts, app, review - approved

#36802 [Silabs] Refactor network scan wifi abstraction function
  src/platform/silabs/NetworkCommissioningWiFiDriver.cpp
  src/platform/silabs/wifi/BUILD.gn
  src/platform/silabs/wifi/SiWx/WifiInterface.cpp
  src/platform/silabs/wifi/WifiInterfaceAbstraction.h
  src/platform/silabs/wifi/rs911x/WifiInterface.cpp
  src/platform/silabs/wifi/wf200/WifiInterface.cpp
  src/platform/silabs/wifi/wiseconnect-abstraction/WiseconnectInterfaceAbstraction.cpp
  third_party/silabs/efr32_sdk.gni
Labels: platform, review - approved, silabs, changing-submodules-on-purpose

#36838 da_revocation: sample revoked DACs and PAI certs for VID:0xFFF1 PID:0x8001
  credentials/test/revoked-attestation-certificates/Chip-Test-DAC-FFF1-8001-Signed-By-Revoked-PAI-Cert.der
  credentials/test/revoked-attestation-certificates/Chip-Test-DAC-FFF1-8001-Signed-By-Revoked-PAI-Cert.pem
  credentials/test/revoked-attestation-certificates/Chip-Test-DAC-FFF1-8001-Signed-By-Revoked-PAI-Key.der
  credentials/test/revoked-attestation-certificates/Chip-Test-DAC-FFF1-8001-Signed-By-Revoked-PAI-Key.pem
  credentials/test/revoked-attestation-certificates/Chip-Test-PAA-FFF1-CRL.der
  credentials/test/revoked-attestation-certificates/Chip-Test-PAA-FFF1-CRL.pem
  credentials/test/revoked-attestation-certificates/Chip-Test-PAA-FFF1-Cert.der
  credentials/test/revoked-attestation-certificates/Chip-Test-PAA-FFF1-Cert.pem
  credentials/test/revoked-attestation-certificates/Chip-Test-PAA-FFF1-Key.der
  credentials/test/revoked-attestation-certificates/Chip-Test-PAA-FFF1-Key.pem
  credentials/test/revoked-attestation-certificates/Chip-Test-PAI-FFF1-noPID-Revoked-Cert.der
  credentials/test/revoked-attestation-certificates/Chip-Test-PAI-FFF1-noPID-Revoked-Cert.pem
  credentials/test/revoked-attestation-certificates/Chip-Test-PAI-FFF1-noPID-Revoked-Key.der
  credentials/test/revoked-attestation-certificates/Chip-Test-PAI-FFF1-noPID-Revoked-Key.pem
  credentials/test/revoked-attestation-certificates/Matter-Development-DAC-FFF1-8001-Revoked-01-Cert.der
  credentials/test/revoked-attestation-certificates/Matter-Development-DAC-FFF1-8001-Revoked-01-Cert.pem
  credentials/test/revoked-attestation-certificates/Matter-Development-DAC-FFF1-8001-Revoked-01-Key.der
  credentials/test/revoked-attestation-certificates/Matter-Development-DAC-FFF1-8001-Revoked-01-Key.pem
  credentials/test/revoked-attestation-certificates/Matter-Development-DAC-FFF1-8001-Revoked-02-Cert.der
  credentials/test/revoked-attestation-certificates/Matter-Development-DAC-FFF1-8001-Revoked-02-Cert.pem
  credentials/test/revoked-attestation-certificates/Matter-Development-DAC-FFF1-8001-Revoked-02-Key.der
  credentials/test/revoked-attestation-certificates/Matter-Development-DAC-FFF1-8001-Revoked-02-Key.pem
  credentials/test/revoked-attestation-certificates/Matter-Development-DAC-FFF1-8001-Revoked-03-Cert.der
  credentials/test/revoked-attestation-certificates/Matter-Development-DAC-FFF1-8001-Revoked-03-Cert.pem
  credentials/test/revoked-attestation-certificates/Matter-Development-DAC-FFF1-8001-Revoked-03-Key.der
  credentials/test/revoked-attestation-certificates/Matter-Development-DAC-FFF1-8001-Revoked-03-Key.pem
  credentials/test/revoked-attestation-certificates/Matter-Development-PAI-FFF1-noPID-CRL.der
  credentials/test/revoked-attestation-certificates/Matter-Development-PAI-FFF1-noPID-CRL.pem
  credentials/test/revoked-attestation-certificates/Matter-Development-PAI-FFF1-noPID-Cert.der
  credentials/test/revoked-attestation-certificates/Matter-Development-PAI-FFF1-noPID-Cert.pem
  credentials/test/revoked-attestation-certificates/Matter-Development-PAI-FFF1-noPID-Key.der
  credentials/test/revoked-attestation-certificates/Matter-Development-PAI-FFF1-noPID-Key.pem
Labels: review - approved

#36863 Add Terms and Conditions (T&C) Feature Support for Commissioning
  examples/chip-tool/commands/pairing/PairingCommand.cpp
  examples/chip-tool/commands/pairing/PairingCommand.h
  src/controller/AutoCommissioner.cpp
  src/controller/CHIPDeviceController.cpp
  src/controller/CHIPDeviceController.h
  src/controller/CommissioningDelegate.cpp
  src/controller/CommissioningDelegate.h
  src/controller/python/ChipDeviceController-ScriptBinding.cpp
  src/controller/python/chip/ChipDeviceCtrl.py
  src/controller/python/chip/commissioning/__init__.py
  src/controller/python/chip/commissioning/commissioning_flow_blocks.py
  src/python_testing/matter_testing_infrastructure/chip/testing/matter_testing.py
Labels: tools, examples, controller, review - approved, tests, matter-1.4-te2-script-change

#36775 DiagnosticLogs: Add CHIP_ERROR Parameter to Reset and EndLogCollection Methods
  examples/temperature-measurement-app/esp32/main/diagnostic-logs-provider-delegate-impl.cpp
  examples/temperature-measurement-app/esp32/main/include/diagnostic-logs-provider-delegate-impl.h
  src/app/clusters/diagnostic-logs-server/BDXDiagnosticLogsProvider.cpp
  src/app/clusters/diagnostic-logs-server/BDXDiagnosticLogsProvider.h
  src/app/clusters/diagnostic-logs-server/DiagnosticLogsProviderDelegate.h
Labels: examples, platform, app, review - approved, nxp

#36679 [CASESession] refactoring and improving testability of Sigma1 sending and handling, and Sigma2 Sending
  src/lib/support/CodeUtils.h
  src/protocols/secure_channel/CASESession.cpp
  src/protocols/secure_channel/CASESession.h
  src/protocols/secure_channel/tests/TestCASESession.cpp
Labels: lib, review - approved, support, protocols

#36886 Move the --dac_provider option from all clusters apps to common place.
  examples/all-clusters-app/linux/AppOptions.cpp
  examples/all-clusters-app/linux/AppOptions.h
  examples/all-clusters-app/linux/BUILD.gn
  examples/all-clusters-app/linux/main.cpp
  examples/all-clusters-minimal-app/linux/AppOptions.cpp
  examples/all-clusters-minimal-app/linux/AppOptions.h
  examples/all-clusters-minimal-app/linux/BUILD.gn
  examples/all-clusters-minimal-app/linux/main.cpp
  examples/placeholder/linux/AppOptions.cpp
  examples/placeholder/linux/AppOptions.h
  examples/placeholder/linux/main.cpp
  examples/platform/linux/BUILD.gn
  examples/platform/linux/Options.cpp
  examples/platform/linux/Options.h
  src/app/tests/suites/credentials/BUILD.gn
Labels: examples, platform, linux, app, review - approved, tests
