Repository project-chip/connectedhomeip, pull requests merged in 2024-08, with the labels that each got.

#34682 [TI] CC13x4_26x4 build fixes
  examples/all-clusters-app/cc13x4_26x4/README.md
  examples/all-clusters-app/cc13x4_26x4/main/AppTask.cpp
  examples/lighting-app/cc13x4_26x4/README.md
  examples/lighting-app/cc13x4_26x4/src/AppTask.cpp
  examples/lock-app/cc13x4_26x4/README.md
  examples/lock-app/cc13x4_26x4/src/AppTask.cpp
  examples/pump-app/cc13x4_26x4/README.md
  examples/pump-app/cc13x4_26x4/main/AppTask.cpp
  examples/pump-controller-app/cc13x4_26x4/README.md
  examples/pump-controller-app/cc13x4_26x4/main/AppTask.cpp
  examples/shell/cc13x4_26x4/README.md
  src/lwip/cc13xx_26xx/lwipopts.h
  third_party/ti_simplelink_sdk/ti_simplelink_executable.gni
Labels: examples, review - pending, lwip, changing-submodules-on-purpose

#34684 [ICD] Add missing polling function to NoWifi connectivity manager
  src/include/platform/internal/GenericConnectivityManagerImpl_NoWiFi.h
Labels: platform, review - approved

#34632 [OPSTATE] Add Q test script for CountdownTime
  .github/workflows/tests.yaml
  examples/all-clusters-app/all-clusters-common/include/operational-state-delegate-impl.h
  examples/all-clusters-app/all-clusters-common/src/operational-state-delegate-impl.cpp
  examples/all-clusters-app/linux/AllClustersCommandDelegate.cpp
  examples/all-clusters-app/linux/AllClustersCommandDelegate.h
  src/python_testing/TC_OPSTATE_2_6.py
  src/python_testing/TC_OpstateCommon.py
Labels: examples, app, github, workflows, review - approved, tests

#34692 Fix simplified Linux tv-casting-app gn build error.
  examples/tv-casting-app/linux/BUILD.gn
Labels: examples, review - approved

#34663 adding parallel execution to restyle-diff
  scripts/helpers/restyle-diff.sh
Labels: scripts, review - approved

#34440 [Silabs] Port platform specific Multi-Chip OTA work
  docs/tools/index.md
  examples/platform/silabs/provision/ProvisionStorageDefault.cpp
  examples/platform/silabs/provision/ProvisionStorageFlash.cpp
  scripts/tools/silabs/factory_data_generator/README.md
  scripts/tools/silabs/factory_data_generator/custom.py
  scripts/tools/silabs/factory_data_generator/default.py
  scripts/tools/silabs/ota/README.md
  scripts/tools/silabs/ota/examples/binaries/ext_flash_ota_entry_example.bin
  scripts/tools/silabs/ota/examples/ota_custom_entries_example.json
  scripts/tools/silabs/ota/examples/ota_custom_entries_example2.json
  scripts/tools/silabs/ota/ota_multi_image_tool.py
  scripts/tools/silabs/ota/requirements.txt
  src/platform/silabs/efr32/BUILD.gn
  src/platform/silabs/efr32/efr32-psa-crypto-config.h
  src/platform/silabs/multi-ota/OTACustomProcessor.cpp
  src/platform/silabs/multi-ota/OTACustomProcessor.h
  src/platform/silabs/multi-ota/OTAFactoryDataProcessor.cpp
  src/platform/silabs/multi-ota/OTAFactoryDataProcessor.h
  src/platform/silabs/multi-ota/OTAFirmwareProcessor.cpp
  src/platform/silabs/multi-ota/OTAFirmwareProcessor.h
  src/platform/silabs/multi-ota/OTAHooks.cpp
  src/platform/silabs/multi-ota/OTAMultiImageProcessorImpl.cpp
  src/platform/silabs/multi-ota/OTATlvProcessor.cpp
  src/platform/silabs/multi-ota/OTATlvProcessor.h
  src/platform/silabs/multi-ota/OtaTlvEncryptionKey.cpp
  src/platform/silabs/multi-ota/OtaTlvEncryptionKey.h
  third_party/silabs/efr32_sdk.gni
Labels: documentation, examples, scripts, platform, review - pending, fast track, silabs, changing-submodules-on-purpose

#34693 Add python tests for Thermostat presets feature
  src/python_testing/TC_TSTAT_4_2.py
Labels: app, review - pending, fast track, tests

#34698 removing unneccessary git fetch from restyle-diff.sh
  scripts/helpers/restyle-diff.sh
Labels: scripts, review - approved

#34659 [ESP32] Update the esp32 ci to use the latest docker version .
  .github/workflows/chef.yaml
  .github/workflows/examples-esp32.yaml
  .github/workflows/qemu.yaml
  .github/workflows/release_artifacts.yaml
  examples/all-clusters-app/esp32/sdkconfig_m5stack_rpc.defaults
  examples/all-clusters-minimal-app/esp32/sdkconfig_m5stack_rpc.defaults
  examples/chef/esp32/partitions.csv
  examples/light-switch-app/esp32/main/DeviceCallbacks.cpp
  examples/light-switch-app/esp32/main/include/DeviceCallbacks.h
Labels: examples, github, workflows, review - approved

#34638 DRLK Test Plan -Aliro Update
  src/app/tests/suites/certification/PICS.yaml
  src/app/tests/suites/certification/Test_TC_DRLK_2_1.yaml
  src/app/tests/suites/certification/ci-pics-values
Labels: app, review - approved, tests

#34415 fixing type hints errors on python controller code
  src/controller/python/BUILD.gn
  src/controller/python/chip/ChipDeviceCtrl.py
  src/controller/python/chip/clusters/Attribute.py
  src/controller/python/chip/clusters/CHIPClusters.py
  src/controller/python/chip/clusters/ClusterObjects.py
  src/controller/python/chip/clusters/enum.py
  src/controller/python/chip/credentials/__init__.py
  src/controller/python/chip/crypto/__init__.py
  src/controller/python/chip/crypto/p256keypair.py
  src/controller/python/chip/interaction_model/delegate.py
  src/controller/python/chip/native/__init__.py
  src/controller/python/chip/tlv/tlvlist.py
  src/controller/python/templates/python-CHIPClusters-py.zapt
Labels: controller, review - approved

#34657 Enable Aliro bits in example lock-app.
  examples/lock-app/lock-common/lock-app.matter
  examples/lock-app/lock-common/lock-app.zap
  src/app/tests/suites/certification/Test_TC_DRLK_2_1.yaml
  src/app/tests/suites/certification/Test_TC_DRLK_2_9.yaml
  src/app/tests/suites/certification/ci-pics-values
  src/app/zap-templates/zcl/zcl-with-test-extensions.json
  src/app/zap-templates/zcl/zcl.json
  zzz_generated/app-common/app-common/zap-generated/attributes/Accessors.cpp
  zzz_generated/app-common/app-common/zap-generated/attributes/Accessors.h
Labels: examples, app, review - approved, tests

#34718 [ESP32] Configure the event logging buffers to reduce dram overflow i…
  examples/all-clusters-app/esp32/sdkconfig_m5stack.defaults
  examples/all-clusters-app/esp32/sdkconfig_m5stack_rpc.defaults
Labels: examples, hotfix, review - pending

#34713 Fix PICS code, add a test that was missed
  src/python_testing/TC_TSTAT_4_2.py
Labels: review - approved, tests

#34572 Occupancy Sensing cluster Python test scripts
  .github/workflows/tests.yaml
  examples/all-clusters-app/all-clusters-common/all-clusters-app.matter
  examples/all-clusters-app/all-clusters-common/all-clusters-app.zap
  examples/all-clusters-app/all-clusters-common/src/occupancy-sensing-stub.cpp
  src/python_testing/TC_OCC_2_1.py
  src/python_testing/TC_OCC_2_2.py
  src/python_testing/TC_OCC_2_3.py
  src/python_testing/TC_OCC_3_1.py
  src/python_testing/TC_OCC_3_2.py
Labels: examples, github, workflows, review - pending, fast track, tests

#34714 [ICD] Update ICDM 2.1 Test Script
  src/python_testing/TC_ICDM_2_1.py
  src/python_testing/test_testing/test_TC_ICDM_2_1.py
Labels: review - approved, tests

#34737 Disable the tizen qemu job
  .github/workflows/qemu.yaml
Labels: github, workflows, review - pending, fast track

#34342 Created automated test TC_ADMIN_1_9:
  .github/workflows/tests.yaml
  src/python_testing/TC_CADMIN_1_9.py
Labels: github, workflows, review - pending, fast track, tests

#34729 [ESP32] Fix few typos in all-clusters-app m5stack sdkconfigs
  examples/all-clusters-app/esp32/sdkconfig_m5stack.defaults
  examples/all-clusters-app/esp32/sdkconfig_m5stack_rpc.defaults
Labels: examples, review - pending, fast track

#34708 Define an `ActionReturnStatus` for DataModel::Provider action returns
  src/app/codegen-data-model-provider/CodegenDataModelProvider.cpp
  src/app/codegen-data-model-provider/CodegenDataModelProvider.h
  src/app/codegen-data-model-provider/CodegenDataModelProvider_Read.cpp
  src/app/codegen-data-model-provider/CodegenDataModelProvider_Write.cpp
  src/app/codegen-data-model-provider/EmberMetadata.cpp
  src/app/codegen-data-model-provider/EmberMetadata.h
  src/app/codegen-data-model-provider/tests/BUILD.gn
  src/app/codegen-data-model-provider/tests/TestCodegenModelViaMocks.cpp
  src/app/data-model-provider/ActionReturnStatus.cpp
  src/app/data-model-provider/ActionReturnStatus.h
  src/app/data-model-provider/BUILD.gn
  src/app/data-model-provider/Provider.h
  src/app/data-model-provider/StringBuilderAdapters.cpp
  src/app/data-model-provider/StringBuilderAdapters.h
  src/app/data-model-provider/tests/BUILD.gn
  src/app/data-model-provider/tests/TestActionReturnStatus.cpp
  src/app/reporting/Engine.cpp
  src/app/reporting/Read-Checked.cpp
  src/app/reporting/Read-Checked.h
  src/app/reporting/Read-DataModel.cpp
  src/app/reporting/Read-DataModel.h
  src/app/reporting/Read-Ember.cpp
  src/app/reporting/Read-Ember.h
  src/app/tests/test-interaction-model-api.cpp
  src/app/tests/test-interaction-model-api.h
  src/controller/tests/data_model/DataModelFixtures.cpp
  src/controller/tests/data_model/DataModelFixtures.h
  src/lib/core/CHIPError.h
  src/protocols/interaction_model/StatusCode.cpp
  src/protocols/interaction_model/StatusCode.h
Labels: lib, controller, app, review - approved, tests, core, protocols

#34712 Remove StatusIB::InitFromChipError.
  examples/chip-tool/commands/common/RemoteDataModelLogger.cpp
  examples/fabric-admin/commands/common/RemoteDataModelLogger.cpp
  src/app/CommandSender.h
  src/app/CommandSenderLegacyCallback.h
  src/app/MessageDef/StatusIB.cpp
  src/app/MessageDef/StatusIB.h
  src/app/ReadClient.h
  src/app/TimedRequest.h
  src/app/WriteClient.h
  src/app/tests/TestStatusIB.cpp
  src/controller/TypedReadCallback.h
Labels: tools, examples, controller, app, review - approved, tests

#34720 Fix TCP test script naming
  src/python_testing/TCP_Tests.py
Labels: review - approved, tests, matter-1.4-te2-script-change

#34749 Add Matter 1.4 TE2 auto-labelling
  .github/labeler.yml
Labels: github, review - approved

#34755 Bump occupancy cluster revision to rev 5 in samples
  examples/all-clusters-app/all-clusters-common/all-clusters-app.matter
  examples/all-clusters-minimal-app/all-clusters-common/all-clusters-minimal-app.matter
  examples/all-clusters-minimal-app/all-clusters-common/all-clusters-minimal-app.zap
  examples/chef/devices/noip_rootnode_dimmablelight_bCwGYSDpoe.matter
  examples/chef/devices/rootnode_dimmablelight_bCwGYSDpoe.matter
  examples/chef/devices/rootnode_dimmablepluginunit_f8a9a0b9d4.matter
  examples/chef/devices/rootnode_occupancysensor_iHyVgifZuo.matter
  examples/chef/devices/rootnode_occupancysensor_iHyVgifZuo.zap
  examples/chef/devices/rootnode_thermostat_bm3fb8dhYi.matter
  examples/chef/sample_app_util/test_files/sample_zap_file.zap
  examples/contact-sensor-app/contact-sensor-common/contact-sensor-app.matter
  examples/contact-sensor-app/contact-sensor-common/contact-sensor-app.zap
  examples/lighting-app/lighting-common/lighting-app.matter
  examples/lighting-app/lighting-common/lighting-app.zap
  examples/placeholder/linux/apps/app1/config.matter
  examples/placeholder/linux/apps/app1/config.zap
  examples/placeholder/linux/apps/app2/config.matter
  examples/placeholder/linux/apps/app2/config.zap
  examples/pump-app/pump-common/pump-app.matter
  examples/pump-app/silabs/data_model/pump-thread-app.matter
  examples/pump-app/silabs/data_model/pump-wifi-app.matter
  src/app/zap-templates/zcl/data-model/chip/occupancy-sensing-cluster.xml
  src/controller/data_model/controller-clusters.matter
  src/controller/data_model/controller-clusters.zap
Labels: review - approved, matter-1.4-te2-script-change

#34696 Get plumbing in place for TBRM cluster certification tests
  examples/network-manager-app/linux/BUILD.gn
  examples/network-manager-app/linux/tbrm.cpp
  examples/network-manager-app/network-manager-common/network-manager-app.matter
  examples/network-manager-app/network-manager-common/network-manager-app.zap
  scripts/tests/chiptest/__init__.py
  src/app/clusters/thread-border-router-management-server/thread-border-router-management-server.h
  src/app/clusters/thread-network-directory-server/DefaultThreadNetworkDirectoryStorage.cpp
  src/app/tests/BUILD.gn
  src/app/tests/suites/certification/Test_TC_TBRM_2_1.yaml
  src/app/zap-templates/zcl/data-model/chip/matter-devices.xml
  src/app/zap-templates/zcl/data-model/chip/thread-border-router-management-cluster.xml
  src/darwin/Framework/CHIP/zap-generated/MTRDeviceTypeMetadata.mm
Labels: examples, scripts, darwin, lib, app, review - approved, tests, support

#34744 Migrate Ecosystem Information Cluster to use global structs
  src/app/clusters/ecosystem-information-server/ecosystem-information-server.cpp
  src/app/clusters/ecosystem-information-server/ecosystem-information-server.h
Labels: app, review - approved

#34454 TV App: Add validation logic for supported clusters and response commands
  examples/tv-app/android/App/platform-app/src/main/java/com/matter/tv/server/utils/ResourceUtils.java
  examples/tv-app/android/java/ContentAppCommandDelegate.cpp
Labels: examples, review - pending, fast track

#34747 Fix TC-OCC-3.1 and TC-OCC-3.2 runtime errors
  src/python_testing/TC_OCC_3_1.py
  src/python_testing/TC_OCC_3_2.py
  src/python_testing/TC_SWTCH.py
  src/python_testing/matter_testing_support.py
Labels: review - approved, tests, matter-1.4-te2-script-change

#34741 [ICD] Add ICDM 3.3 Automation Scripts
  .github/workflows/tests.yaml
  src/app/tests/suites/certification/Test_TC_ICDM_3_3.yaml
  src/app/tests/suites/manualTests.json
  src/python_testing/TC_ICDM_3_3.py
Labels: app, github, workflows, review - approved, tests, matter-1.4-te2-script-change

#34733 [ICD] Update ICDM 3.1 Test Script
  src/python_testing/TC_ICDM_3_1.py
Labels: review - approved, tests, matter-1.4-te2-script-change

#34160 OnOffServer: ignore StartUpOnOff value after reboot due to OTA
  src/app/clusters/on-off-server/on-off-server.cpp
Labels: app, review - approved

#34734 [Scenes] Python test CC 10-1 9e pics
  src/python_testing/TC_CC_10_1.py
Labels: review - approved, tests, matter-1.4-te2-script-change

#34771 [NXP][scripts] Fix smu2 target
  scripts/build/build/targets.py
Labels: scripts, review - approved

#34404 Update Build on Linux (fake, gcc_release, clang, simulated) image fix clang-tidy issues
  .github/workflows/build.yaml
  src/app/codegen-data-model-provider/CodegenDataModelProvider.cpp
  src/tools/spake2p/Cmd_GenVerifier.cpp
Labels: tools, examples, scripts, darwin, lib, inet, controller, app, github, workflows, review - approved, tests, support, core

#34756 Remove obsolete TC_OCC_XXX YAML files
  src/app/tests/suites/certification/Test_TC_OCC_2_1.yaml
  src/app/tests/suites/certification/Test_TC_OCC_2_3.yaml
  src/app/tests/suites/certification/Test_TC_OCC_2_4_Simulated.yaml
  src/app/tests/suites/certification/Test_TC_OCC_3_1.yaml
Labels: app, review - approved, tests, matter-1.4-te2-script-change

#34748 Fix BridgedDeviceInformationCluster wildcard read on fabric-bridge-app
  examples/fabric-bridge-app/fabric-bridge-common/src/ZCLCallbacks.cpp
Labels: examples, review - approved

#34789 Tidy up logging dependencies
  src/lib/support/BUILD.gn
  src/platform/logging/BUILD.gn
Labels: platform, lib, review - approved, support

#34781 Replace ChipErrorFromStatusCode with CHIP_ERROR_IM_GLOBAL_STATUS_VALUE
  examples/thermostat/linux/thermostat-manager.cpp
Labels: examples, review - approved

#34621 [Bouffalo Lab] Update gcc toolchain and flash tool of docker image
  integrations/docker/images/base/chip-build/version
  integrations/docker/images/stage-2/chip-build-bouffalolab/Dockerfile
  integrations/docker/images/stage-2/chip-build-bouffalolab/setup.sh
  integrations/docker/images/vscode/chip-build-vscode/Dockerfile
  scripts/flashing/bouffalolab_firmware_utils.py
Labels: examples, scripts, integrations, github, workflows, review - approved, docker

#34776 Rename to BridgedDevice and BridgedDeviceManager
  examples/fabric-bridge-app/fabric-bridge-common/BUILD.gn
  examples/fabric-bridge-app/fabric-bridge-common/include/BridgedDevice.h
  examples/fabric-bridge-app/fabric-bridge-common/include/BridgedDeviceManager.h
  examples/fabric-bridge-app/fabric-bridge-common/src/BridgedDevice.cpp
  examples/fabric-bridge-app/fabric-bridge-common/src/BridgedDeviceManager.cpp
  examples/fabric-bridge-app/fabric-bridge-common/src/ZCLCallbacks.cpp
  examples/fabric-bridge-app/linux/RpcServer.cpp
  examples/fabric-bridge-app/linux/main.cpp
Labels: examples, review - approved

#34780 Fix the CountUpdatedPresetsAfterApplyingPendingPresets utility functi…
  src/app/clusters/thermostat-server/thermostat-server.cpp
Labels: app, review - approved

#34779 TC-EEVSE_2_3 - Fixes #34576 Added missing step 22
  src/python_testing/TC_EEVSE_2_3.py
  src/python_testing/TC_EEVSE_Utils.py
Labels: review - approved, tests, matter-1.4-te2-script-change

#34792 Fix ecosystem information cluster when reading cluster revision
  src/app/clusters/ecosystem-information-server/ecosystem-information-server.cpp
  src/app/clusters/ecosystem-information-server/ecosystem-information-server.h
Labels: app, review - approved

#34790 fabric-bridge-app: Prevent crash when reading CADMIN cluster on bridge node
  examples/fabric-bridge-app/fabric-bridge-common/src/ZCLCallbacks.cpp
Labels: examples, review - approved

#34507 Fix not sending CDC message when passcode is cancelled on TV app
  src/controller/CommissionerDiscoveryController.cpp
  src/protocols/user_directed_commissioning/UserDirectedCommissioning.h
  src/protocols/user_directed_commissioning/UserDirectedCommissioningClient.cpp
  src/protocols/user_directed_commissioning/UserDirectedCommissioningServer.cpp
Labels: controller, review - approved, protocols

#34797 [Darwin] MTRDevice subscription estalished handler should change state before async
  src/darwin/Framework/CHIP/MTRDevice.mm
Labels: darwin, review - pending, fast track

#34810 [Tizen] Strip unit test executables to save CI storage
  .github/workflows/qemu.yaml
  build/config/compiler/BUILD.gn
  build/config/compiler/compiler.gni
  scripts/build/builders/tizen.py
  third_party/tizen/tizen_sdk.gni
Labels: scripts, github, workflows, gn, review - pending, fast track, changing-submodules-on-purpose

#34831 Fix network-manager app device type id
  examples/network-manager-app/linux/include/CHIPProjectAppConfig.h
Labels: examples, review - pending, fast track

#34820 Fixes for the color control quiet reporting
  src/app/clusters/color-control-server/color-control-server.cpp
  src/app/clusters/level-control/level-control.cpp
  src/python_testing/TC_CC_2_2.py
Labels: app, review - approved, tests, matter-1.4-te2-script-change

#34746 Use explicit storage for ActionReturnStatus::c_str
  src/app/data-model-provider/ActionReturnStatus.cpp
  src/app/data-model-provider/ActionReturnStatus.h
  src/app/data-model-provider/StringBuilderAdapters.cpp
  src/app/data-model-provider/tests/TestActionReturnStatus.cpp
  src/app/reporting/Read-Checked.cpp
  src/app/reporting/Read-DataModel.cpp
Labels: app, review - approved

#34377 Introduced a python script (execute_python_tests.py) that automates the execution of python test scripts within the python_testing directory
  .github/workflows/tests.yaml
  src/python_testing/TC_ACL_2_2.py
  src/python_testing/TC_BOOLCFG_2_1.py
  src/python_testing/TC_BOOLCFG_3_1.py
  src/python_testing/TC_BOOLCFG_4_1.py
  src/python_testing/TC_BOOLCFG_4_2.py
  src/python_testing/TC_BOOLCFG_4_3.py
  src/python_testing/TC_BOOLCFG_4_4.py
  src/python_testing/TC_BOOLCFG_5_1.py
  src/python_testing/TC_BOOLCFG_5_2.py
  src/python_testing/TC_VALCC_2_1.py
  src/python_testing/TC_VALCC_3_1.py
  src/python_testing/TC_VALCC_3_2.py
  src/python_testing/TC_VALCC_3_3.py
  src/python_testing/TC_VALCC_3_4.py
  src/python_testing/TC_VALCC_4_1.py
  src/python_testing/TC_VALCC_4_2.py
  src/python_testing/TC_VALCC_4_3.py
  src/python_testing/TC_VALCC_4_4.py
  src/python_testing/TC_VALCC_4_5.py
  src/python_testing/execute_python_tests.py
Labels: github, workflows, review - pending, fast track, tests, matter-1.4-te2-script-change

#34787 Mark some immutable types in Matter.framework as NS_SWIFT_SENDABLE.
  src/darwin/Framework/CHIP/MTRBaseDevice.h
Labels: darwin, review - pending, fast track

#34846 ECOINFO Remove EcosystemInformationServer::Instance() where it wasn't needed
  src/app/clusters/ecosystem-information-server/ecosystem-information-server.cpp
Labels: review - approved

#34845 Fabric Bridge: use AttributeAccessInterface for BridgedDeviceBasicInformationCluster, expose more attributes
  examples/fabric-bridge-app/fabric-bridge-common/BUILD.gn
  examples/fabric-bridge-app/fabric-bridge-common/include/BridgedDeviceBasicInformationImpl.h
  examples/fabric-bridge-app/fabric-bridge-common/src/BridgedDeviceBasicInformationImpl.cpp
  examples/fabric-bridge-app/fabric-bridge-common/src/BridgedDeviceManager.cpp
  examples/fabric-bridge-app/fabric-bridge-common/src/ZCLCallbacks.cpp
  examples/fabric-bridge-app/linux/main.cpp
Labels: examples, review - approved

#34811 fabric-bridge: Add ECOINFO to dynamic bridged endpoints
  examples/fabric-bridge-app/fabric-bridge-common/BUILD.gn
  examples/fabric-bridge-app/fabric-bridge-common/src/BridgedDeviceManager.cpp
  examples/fabric-bridge-app/linux/RpcServer.cpp
  examples/fabric-bridge-app/linux/main.cpp
  src/app/clusters/ecosystem-information-server/ecosystem-information-server.cpp
  src/app/clusters/ecosystem-information-server/ecosystem-information-server.h
Labels: examples, app, review - approved

#34681 [Infineon] Update ModusToolbox version to 3.2 along with README update
  examples/all-clusters-app/infineon/psoc6/README.md
  examples/all-clusters-minimal-app/infineon/psoc6/README.md
  examples/lighting-app/infineon/psoc6/README.md
  examples/lock-app/infineon/psoc6/README.md
  integrations/docker/images/base/chip-build/version
  integrations/docker/images/stage-2/chip-build-infineon/Dockerfile
  integrations/docker/images/vscode/chip-build-vscode/Dockerfile
  scripts/examples/gn_psoc6_example.sh
Labels: examples, scripts, integrations, review - approved, docker

#34808 [ESP32] Fix compiling temperature measurement app when built with BT …
  examples/temperature-measurement-app/esp32/main/DeviceCallbacks.cpp
Labels: examples, review - approved

#34830 Add chip_logging_backend option and 'none' and 'syslog' backends
  examples/platform/linux/BUILD.gn
  scripts/build/gn_gen_cirque.sh
  src/darwin/Framework/chip_xcode_build_connector.sh
  src/lib/core/core.gni
  src/platform/Darwin/BUILD.gn
  src/platform/logging/BUILD.gn
  src/platform/logging/impl/None.cpp
  src/platform/logging/impl/Stdio.cpp
  src/platform/logging/impl/Syslog.cpp
  src/platform/stm32/BUILD.gn
  src/system/SystemConfig.h
Labels: examples, scripts, system, platform, darwin, lib, review - approved, core

#34856 [Darwin] apply changes from PR #34797 to to concrete class
  src/darwin/Framework/CHIP/MTRDevice_Concrete.mm
Labels: darwin, review - pending, fast track

#34849 Fix Festure PICS flags in Test_TC_PWRTL_1_1 yaml test
  src/app/tests/suites/certification/Test_TC_PWRTL_1_1.yaml
Labels: app, review - pending, fast track, tests, matter-1.4-te2-script-change

#34863 Have mergify label PRs with conflicts so we can see them easily
  .mergify.yml
Labels: review - pending, fast track

#34822 [Silabs] Use provision storage manager singleton in OTA factory data processor
  src/platform/silabs/multi-ota/OTAFactoryDataProcessor.cpp
  src/platform/silabs/multi-ota/OTAFactoryDataProcessor.h
Labels: platform, review - pending, fast track, silabs

#34758 tv-casting-app fixed memory issues around stopDiscovery function
  examples/tv-casting-app/android/App/app/src/main/java/com/matter/casting/ConnectionExampleFragment.java
  examples/tv-casting-app/android/App/app/src/main/java/com/matter/casting/DiscoveryExampleFragment.java
  examples/tv-casting-app/android/App/app/src/main/res/layout/custom_passcode_dialog.xml
  examples/tv-casting-app/android/App/app/src/main/res/layout/fragment_matter_connection_example.xml
  examples/tv-casting-app/tv-casting-common/core/CastingPlayer.cpp
  examples/tv-casting-app/tv-casting-common/core/CastingPlayer.h
  examples/tv-casting-app/tv-casting-common/core/CastingPlayerDiscovery.cpp
  examples/tv-casting-app/tv-casting-common/core/CastingPlayerDiscovery.h
  examples/tv-casting-app/tv-casting-common/support/CastingStore.cpp
  examples/tv-casting-app/tv-casting-common/support/ChipDeviceEventHandler.cpp
Labels: examples, review - approved

#34853 Fix the tests.yaml to run the execution script for running python test scripts
  .github/workflows/tests.yaml
  src/python_testing/TC_EWATERHTR_2_1.py
  src/python_testing/TC_EWATERHTR_2_2.py
  src/python_testing/TC_EWATERHTR_2_3.py
  src/python_testing/execute_python_tests.py
Labels: github, workflows, review - pending, fast track, tests, matter-1.4-te2-script-change

#34851 Add support for more attributes in Bridged Device Basic Information cluster in FabricBridge example
  examples/common/pigweed/BUILD.gn
  examples/common/pigweed/protos/fabric_bridge_service.options
  examples/common/pigweed/protos/fabric_bridge_service.proto
  examples/fabric-admin/rpc/RpcClient.cpp
  examples/fabric-bridge-app/fabric-bridge-common/include/BridgedDevice.h
  examples/fabric-bridge-app/fabric-bridge-common/include/BridgedDeviceManager.h
  examples/fabric-bridge-app/fabric-bridge-common/src/BridgedDevice.cpp
  examples/fabric-bridge-app/fabric-bridge-common/src/BridgedDeviceBasicInformationImpl.cpp
  examples/fabric-bridge-app/fabric-bridge-common/src/BridgedDeviceManager.cpp
  examples/fabric-bridge-app/linux/RpcServer.cpp
Labels: examples, review - approved

#34773 fool 'streamer_esp32_write' caller if console disabled
  src/lib/shell/streamer_esp32.cpp
Labels: lib, review - pending, shell

#34804 DRLK-2.1-fixed maxValue
  src/app/tests/suites/certification/Test_TC_DRLK_2_1.yaml
Labels: app, review - pending, fast track, tests, matter-1.4-te2-script-change

#34812 [ICD] Update ICDM 4.1 Test script
  src/app/tests/suites/certification/Test_TC_ICDM_4_1.yaml
  src/app/tests/suites/ciTests.json
  src/app/tests/suites/manualTests.json
Labels: app, review - approved, tests, matter-1.4-te2-script-change

#34815 [Telink] Add merge_n22 post build step
  config/telink/chip-module/CMakeLists.txt
Labels: config, review - pending, fast track

#34840 Update ZAP to fix handling of null default values for nullable strings.
  scripts/setup/zap.json
  scripts/setup/zap.version
  scripts/tools/zap/zap_execution.py
Labels: scripts, review - approved

#34841 Credential modification should check type, not just index.
  src/app/clusters/door-lock-server/door-lock-server.cpp
Labels: app, review - pending, fast track, critical quality fix

#34569 remove obsolete configurations
  config/beken/BUILD.gn
Labels: config, review - pending, fast track

#34658 [occupancy-sensing] Follow up improvements for Occupancy Sensing Cluster updates for Matter 1.4
  examples/all-clusters-app/all-clusters-common/all-clusters-app.matter
  examples/all-clusters-app/all-clusters-common/all-clusters-app.zap
  examples/all-clusters-app/all-clusters-common/src/occupancy-sensing-stub.cpp
  examples/all-clusters-minimal-app/all-clusters-common/all-clusters-minimal-app.matter
  examples/chef/devices/rootnode_occupancysensor_iHyVgifZuo.matter
  examples/contact-sensor-app/contact-sensor-common/contact-sensor-app.matter
  examples/lighting-app/lighting-common/lighting-app.matter
  examples/placeholder/linux/apps/app1/config.matter
  examples/placeholder/linux/apps/app2/config.matter
  scripts/tools/zap/tests/outputs/all-clusters-app/app-templates/endpoint_config.h
  scripts/tools/zap/tests/outputs/lighting-app/app-templates/endpoint_config.h
  src/app/clusters/occupancy-sensor-server/occupancy-sensor-server.cpp
  src/app/clusters/occupancy-sensor-server/occupancy-sensor-server.h
  src/app/zap-templates/zcl/zcl-with-test-extensions.json
  src/app/zap-templates/zcl/zcl.json
  zzz_generated/app-common/app-common/zap-generated/attributes/Accessors.cpp
  zzz_generated/app-common/app-common/zap-generated/attributes/Accessors.h
Labels: examples, scripts, app, review - pending, fast track

#34674 TC-CCTRL-2.2: Fix user params
  src/python_testing/TC_CCTRL_2_2.py
  src/python_testing/test_testing/test_TC_CCNTL_2_2.py
Labels: review - approved, tests, matter-1.4-te2-script-change

#34411 [VALCC] Fixed assert_less_equal to match test plan and spec in VALCC-2.1
  src/python_testing/TC_VALCC_2_1.py
Labels: review - approved, v1.4

#34481 Redo unintentionally undone chip-cert-bins changes
  integrations/docker/images/chip-cert-bins/Dockerfile
Labels: integrations, review - pending, fast track, docker

#34141 Re-Implement App Install flow
  examples/all-clusters-minimal-app/all-clusters-common/all-clusters-minimal-app.matter
  examples/placeholder/linux/apps/app1/config.matter
  examples/placeholder/linux/apps/app2/config.matter
  examples/tv-app/android/App/platform-app/build.gradle
  examples/tv-app/android/App/platform-app/src/main/java/com/matter/tv/server/handlers/ApplicationLauncherManagerImpl.java
  examples/tv-app/android/App/platform-app/src/main/java/com/matter/tv/server/service/MatterServant.java
  examples/tv-app/android/App/platform-app/src/main/java/com/matter/tv/server/utils/EndpointsDataStore.java
  examples/tv-app/android/App/platform-app/src/main/java/com/matter/tv/server/utils/InstallationObserver.java
  examples/tv-app/android/BUILD.gn
  examples/tv-app/android/include/application-launcher/ApplicationLauncherManager.cpp
  examples/tv-app/android/include/cluster-init.cpp
  examples/tv-app/android/java/AppImpl.cpp
  examples/tv-app/android/java/AppImpl.h
  examples/tv-app/android/java/AppPlatformShellCommands-JNI.cpp
  examples/tv-app/android/java/TVApp-JNI.cpp
  examples/tv-app/android/java/application-launcher/ApplicationLauncherManager.cpp
  examples/tv-app/android/java/application-launcher/ApplicationLauncherManager.h
  examples/tv-app/android/java/src/com/matter/tv/server/tvapp/Application.java
  examples/tv-app/android/java/src/com/matter/tv/server/tvapp/ApplicationLauncherManager.java
  examples/tv-app/android/java/src/com/matter/tv/server/tvapp/LauncherResponse.java
  examples/tv-app/android/java/src/com/matter/tv/server/tvapp/TvApp.java
  examples/tv-app/tv-common/tv-app.matter
  examples/tv-casting-app/tv-casting-common/tv-casting-app.matter
  src/app/clusters/application-basic-server/application-basic-delegate.h
  src/app/clusters/application-launcher-server/application-launcher-server.cpp
  src/app/zap-templates/zcl/data-model/chip/application-launcher-cluster.xml
  src/controller/data_model/controller-clusters.matter
  src/controller/python/chip/clusters/Objects.py
  src/darwin/Framework/CHIP/zap-generated/MTRBaseClusters.h
  src/lib/support/JniTypeWrappers.h
  zzz_generated/app-common/app-common/zap-generated/cluster-enums-check.h
  zzz_generated/app-common/app-common/zap-generated/cluster-enums.h
Labels: examples, darwin, lib, controller, app, review - approved, support

#33916 Update README.md to replace 'CHIP' by 'Matter' in Linux Energy Management Example
  examples/energy-management-app/linux/README.md
Labels: examples, review - pending, fast track

#34848 Chef disable AutoRelockTimer and fix compilation
  examples/chef/common/chef-concentration-measurement.cpp
  examples/chef/common/chef-rpc-actions-worker.cpp
  examples/chef/devices/rootnode_doorlock_aNKYAreMXE.matter
  examples/chef/devices/rootnode_doorlock_aNKYAreMXE.zap
Labels: examples, review - approved, fast track

#34487 Yaml Test Runner: Add support for Python constraints
  docs/testing/yaml_schema.md
  scripts/py_matter_yamltests/matter_yamltests/constraints.py
  scripts/py_matter_yamltests/matter_yamltests/fixes.py
  scripts/py_matter_yamltests/matter_yamltests/parser.py
  scripts/py_matter_yamltests/matter_yamltests/yaml_loader.py
  src/app/tests/suites/TestConstraints.yaml
Labels: documentation, scripts, app, review - approved, tests

#34828 [Darwin] Duplicate MTRDeviceController with `git cp`
  src/darwin/Framework/CHIP/MTRDeviceController_Concrete.h
  src/darwin/Framework/CHIP/MTRDeviceController_Concrete.mm
Labels: darwin, review - pending, fast track

#34833 python: Add direct attribute paths to Read
  src/controller/python/chip/ChipDeviceCtrl.py
  src/python_testing/matter_testing_support.py
Labels: controller, review - pending, fast track, tests, matter-1.4-te2-script-change

#34867 Migrating to a working stale
  .github/stale.yml
  .github/workflows/stale.yaml
Labels: github, workflows, review - pending

#34857 Improve description for MTRDevice.
  src/darwin/Framework/CHIP/MTRAsyncWorkQueue.h
  src/darwin/Framework/CHIP/MTRAsyncWorkQueue.mm
  src/darwin/Framework/CHIP/MTRDevice.mm
  src/darwin/Framework/CHIP/MTRDeviceController.mm
  src/darwin/Framework/CHIP/MTRDeviceController_Internal.h
  src/darwin/Framework/CHIP/MTRDevice_Concrete.mm
Labels: darwin, review - pending, fast track

#34866 tv-casting-app fixed 32-bit vs 64-bit formatting issue
  examples/tv-casting-app/tv-casting-common/core/CastingPlayerDiscovery.cpp
Labels: examples, review - pending

#34869 fix static_cast syntax in `CastingPlayerDiscovery`
  examples/tv-casting-app/tv-casting-common/core/CastingPlayerDiscovery.cpp
Labels: examples, hotfix, review - pending

#34861 Minor fix to an assertion message
  src/python_testing/matter_testing_support.py
Labels: review - pending, fast track, tests, matter-1.4-te2-script-change

#34043 Add Thread BR example for ESP32
  config/esp32/components/chip/CMakeLists.txt
  config/esp32/components/chip/idf_component.yml
  docs/examples/index.md
  docs/guides/esp32/build_app_and_commission.md
  examples/platform/esp32/common/CommonDeviceCallbacks.cpp
  examples/platform/esp32/common/CommonDeviceCallbacks.h
  examples/platform/esp32/common/Esp32AppServer.cpp
  examples/platform/esp32/common/Esp32ThreadInit.cpp
  examples/platform/esp32/common/Esp32ThreadInit.h
  examples/platform/esp32/external_platform/ESP32_custom/BUILD.gn
  examples/thread-br-app/esp32/.gitignore
  examples/thread-br-app/esp32/CMakeLists.txt
  examples/thread-br-app/esp32/README.md
  examples/thread-br-app/esp32/create_ota_image.py
  examples/thread-br-app/esp32/image/esp-thread-border-router-board.png
  examples/thread-br-app/esp32/main/CMakeLists.txt
  examples/thread-br-app/esp32/main/DeviceCallbacks.cpp
  examples/thread-br-app/esp32/main/Kconfig.projbuild
  examples/thread-br-app/esp32/main/include/DeviceCallbacks.h
  examples/thread-br-app/esp32/main/main.cpp
  examples/thread-br-app/esp32/partitions.csv
  examples/thread-br-app/esp32/sdkconfig.defaults
  examples/thread-br-app/esp32/third_party/connectedhomeip
  examples/thread-br-app/thread-br-common/thread-br-app.matter
  examples/thread-br-app/thread-br-common/thread-br-app.zap
  src/platform/ESP32/BUILD.gn
  src/platform/ESP32/OpenthreadLauncher.cpp
  src/platform/ESP32/OpenthreadLauncher.h
Labels: documentation, examples, platform, darwin, esp32, controller, app, config, review - pending

#34877 removing mbedOS workflow from GitHub Actions
  .github/workflows/docker_img.yaml
  .github/workflows/examples-mbed.yaml
  docs/guides/mbedos_add_new_target.md
Labels: documentation, github, workflows, review - pending, fast track

#34874 [Ameba] Update ameba build to docker version 68
  .github/workflows/examples-ameba.yaml
Labels: github, workflows, review - pending, fast track

#34709 [OPSTATE] Address endpoint comment #34698
  src/python_testing/TC_OPSTATE_2_6.py
Labels: review - approved, app-clusters, tests, operational state, matter-1.4-te2-script-change

#34854 Marshal the data from BasicInformationCluster to FabricBridge
  examples/common/pigweed/protos/fabric_bridge_service.proto
  examples/fabric-admin/BUILD.gn
  examples/fabric-admin/commands/pairing/DeviceSynchronization.cpp
  examples/fabric-admin/commands/pairing/DeviceSynchronization.h
  examples/fabric-admin/commands/pairing/PairingCommand.cpp
  examples/fabric-admin/rpc/RpcClient.cpp
  examples/fabric-admin/rpc/RpcClient.h
Labels: examples, review - approved

#34882 Fix failing to kill fabric-bridge process from script
  examples/fabric-admin/scripts/stop_fabric_source.sh
Labels: examples, review - approved

#34873 Update Matter Linux Dishwasher Example README
  examples/dishwasher-app/linux/README.md
Labels: examples, review - approved

#34636 Allow fabric sync example to accept KeepActive Command
  examples/common/pigweed/protos/fabric_admin_service.proto
  examples/common/pigweed/protos/fabric_bridge_service.proto
  examples/common/pigweed/rpc_services/FabricAdmin.h
  examples/common/pigweed/rpc_services/FabricBridge.h
  examples/fabric-admin/rpc/RpcClient.cpp
  examples/fabric-admin/rpc/RpcClient.h
  examples/fabric-admin/rpc/RpcServer.cpp
  examples/fabric-bridge-app/fabric-bridge-common/include/BridgedDevice.h
  examples/fabric-bridge-app/fabric-bridge-common/src/BridgedDevice.cpp
  examples/fabric-bridge-app/fabric-bridge-common/src/BridgedDeviceManager.cpp
  examples/fabric-bridge-app/linux/RpcClient.cpp
  examples/fabric-bridge-app/linux/RpcServer.cpp
  examples/fabric-bridge-app/linux/include/RpcClient.h
  examples/fabric-bridge-app/linux/main.cpp
Labels: examples, review - approved

#34885 Update build instruction for fabric-admin
  examples/fabric-admin/README.md
Labels: review - approved

#34814 Improve the AreaStructureWrapper
  examples/rvc-app/rvc-common/include/rvc-service-area-delegate.h
  examples/rvc-app/rvc-common/src/rvc-service-area-delegate.cpp
  src/app/clusters/service-area-server/service-area-cluster-objects.h
  src/app/clusters/service-area-server/service-area-delegate.cpp
  src/app/clusters/service-area-server/service-area-delegate.h
  src/app/clusters/service-area-server/service-area-server.cpp
  src/app/clusters/service-area-server/service-area-server.h
Labels: examples, darwin, controller, app, review - approved

#34893 Fix fabric-bridge-app crash
  examples/fabric-bridge-app/linux/RpcServer.cpp
Labels: examples, review - approved

#34888 Enable building python controller with no TCP
  src/controller/python/ChipDeviceController-ScriptBinding.cpp
Labels: controller, review - approved

#34860 Updating darwin guide and SHAs
  docs/guides/darwin.md
Labels: documentation, review - pending, fast track

#34891 ServiceArea - fix TC 1.2 and 1.3 bugs
  src/python_testing/TC_SEAR_1_2.py
  src/python_testing/TC_SEAR_1_3.py
Labels: review - approved, tests, v1.4, matter-1.4-te2-script-change

#34864 Make the TBRM tests work
  examples/network-manager-app/linux/tbrm.cpp
  examples/network-manager-app/network-manager-common/network-manager-app.matter
  examples/network-manager-app/network-manager-common/network-manager-app.zap
  src/app/tests/suites/certification/PICS.yaml
  src/app/tests/suites/certification/Test_TC_TBRM_2_2.yaml
  src/app/tests/suites/certification/Test_TC_TBRM_2_3.yaml
  src/app/tests/suites/certification/ci-pics-values
  src/lib/support/ThreadOperationalDataset.cpp
  src/lib/support/ThreadOperationalDataset.h
Labels: examples, lib, app, review - approved, tests, support, matter-1.4-te2-script-change

#34823 [HVAC] Allow Thermostat delegate to supply atomic write timeout
  examples/thermostat/linux/include/thermostat-delegate-impl.h
  examples/thermostat/linux/thermostat-delegate-impl.cpp
  scripts/tools/zap/tests/outputs/all-clusters-app/app-templates/endpoint_config.h
  src/app/clusters/thermostat-server/thermostat-delegate.h
  src/app/clusters/thermostat-server/thermostat-server.cpp
  src/app/clusters/thermostat-server/thermostat-server.h
  src/app/common/templates/config-data.yaml
  src/python_testing/TC_TSTAT_4_2.py
Labels: examples, scripts, app, review - approved, tests, matter-1.4-te2-script-change

#34890 Update the cluster revision of the thermostat cluster to 7 (including…
  examples/all-clusters-app/all-clusters-common/all-clusters-app.matter
  examples/all-clusters-app/all-clusters-common/all-clusters-app.zap
  examples/thermostat/thermostat-common/thermostat.matter
  examples/thermostat/thermostat-common/thermostat.zap
  src/app/tests/suites/certification/PICS.yaml
  src/app/tests/suites/certification/Test_TC_TSTAT_1_1.yaml
  src/app/tests/suites/certification/Test_TC_TSTAT_4_1.yaml
  src/app/tests/suites/certification/ci-pics-values
  src/python_testing/TC_TSTAT_4_2.py
Labels: examples, app, review - pending, tests, matter-1.4-te2-script-change

#34898 Fix CommissionNode comand alway return failure
  src/app/clusters/commissioner-control-server/commissioner-control-server.cpp
Labels: app, review - approved

#34883 [platform] Add empty platform_base source set
  src/platform/BUILD.gn
Labels: platform, review - approved

#34850 mypy fixes
  scripts/py_matter_idl/BUILD.gn
  scripts/py_matter_idl/matter_idl/py.typed
  scripts/py_matter_idl/setup.cfg
  scripts/py_matter_yamltests/BUILD.gn
  scripts/py_matter_yamltests/matter_yamltests/py.typed
  scripts/py_matter_yamltests/setup.cfg
  scripts/tests/requirements.txt
  src/controller/python/chip/CertificateAuthority.py
  src/controller/python/chip/ChipBluezMgr.py
  src/controller/python/chip/ChipCommissionableNodeCtrl.py
  src/controller/python/chip/ChipStack.py
  src/controller/python/chip/FabricAdmin.py
  src/controller/python/chip/ble/scan_devices.py
  src/controller/python/chip/clusters/Command.py
  src/controller/python/chip/commissioning/__init__.py
  src/controller/python/chip/configuration/__init__.py
  src/controller/python/chip/discovery/__init__.py
  src/controller/python/chip/internal/thread.py
  src/controller/python/chip/storage/__init__.py
  src/controller/python/chip/yaml/runner.py
Labels: scripts, controller, review - approved

#34895 Update Content App Command Delegate
  examples/tv-app/android/java/ContentAppCommandDelegate.cpp
Labels: examples, review - approved

#34884 Address comments from reviews
  examples/rvc-app/rvc-common/include/rvc-service-area-delegate.h
  examples/rvc-app/rvc-common/src/rvc-service-area-delegate.cpp
  src/app/clusters/service-area-server/service-area-delegate.h
  src/app/clusters/service-area-server/service-area-server.cpp
Labels: examples, app, review - approved

#34774 [Silabs] transition to application screen after commissioning from QR code screen
  examples/platform/silabs/BaseApplication.cpp
Labels: examples, platform, review - approved

#34878 EVSE example port for Silicon Labs,
  examples/energy-management-app/silabs/.gn
  examples/energy-management-app/silabs/BUILD.gn
  examples/energy-management-app/silabs/README.md
  examples/energy-management-app/silabs/build_for_wifi_args.gni
  examples/energy-management-app/silabs/build_for_wifi_gnfile.gn
  examples/energy-management-app/silabs/build_overrides
  examples/energy-management-app/silabs/include/AppConfig.h
  examples/energy-management-app/silabs/include/AppEvent.h
  examples/energy-management-app/silabs/include/AppTask.h
  examples/energy-management-app/silabs/include/CHIPProjectConfig.h
  examples/energy-management-app/silabs/openthread.gn
  examples/energy-management-app/silabs/openthread.gni
  examples/energy-management-app/silabs/src/AppTask.cpp
  examples/energy-management-app/silabs/third_party/connectedhomeip
  examples/energy-management-app/silabs/with_pw_rpc.gni
Labels: examples, review - approved

#34875 Added DRLK_2_13 for Aliro Feature
  src/python_testing/TC_DRLK_2_13.py
Labels: review - approved, fast track, tests, matter-1.4-te2-script-change

#34896 fix ESP Thread Border Router example
  examples/thread-br-app/esp32/main/main.cpp
  examples/thread-br-app/esp32/partitions.csv
Labels: examples, review - approved

#34784 [ICD] Add ICDM 3.4 Python Tests
  src/app/tests/suites/certification/Test_TC_ICDM_3_4.yaml
  src/app/tests/suites/ciTests.json
  src/python_testing/TC_ICDM_3_4.py
Labels: app, review - approved, tests, matter-1.4-te2-script-change

#34908 Fixes TC_SEAR_1_2
  src/python_testing/TC_SEAR_1_2.py
Labels: review - approved, tests, matter-1.4-te2-script-change

#34909 Bump west version to 1.2.0
  scripts/setup/constraints.txt
Labels: scripts, review - approved

#34911 Fix test 1.3 and 1.4
  examples/rvc-app/README.md
  examples/rvc-app/rvc-common/pics/rvc-app-pics-values
  src/python_testing/TC_SEAR_1_3.py
  src/python_testing/TC_SEAR_1_4.py
Labels: examples, app, review - approved, tests, matter-1.4-te2-script-change

#34915 Fixed test 1.5 and updates the script to work in CI.
  src/python_testing/TC_SEAR_1_5.py
Labels: review - approved, tests, matter-1.4-te2-script-change

#34919 update the status field of progress elements at the end of a clean.
  examples/rvc-app/README.md
  examples/rvc-app/rvc-common/include/rvc-device.h
  examples/rvc-app/rvc-common/src/rvc-device.cpp
  examples/rvc-app/rvc-common/src/rvc-service-area-delegate.cpp
Labels: examples, app, review - approved

#34906 [FS Example] Update the FS Example apps to support fabric sync setup process part I
  examples/fabric-admin/commands/clusters/ReportCommand.cpp
  examples/fabric-admin/commands/common/CHIPCommand.h
  examples/fabric-admin/commands/fabric-sync/FabricSyncCommand.cpp
  examples/fabric-admin/commands/fabric-sync/FabricSyncCommand.h
  examples/fabric-admin/device_manager/DeviceManager.cpp
  examples/fabric-admin/device_manager/DeviceManager.h
  examples/fabric-admin/rpc/RpcServer.cpp
  examples/fabric-bridge-app/fabric-bridge-common/BUILD.gn
  examples/fabric-bridge-app/fabric-bridge-common/include/CommissionerControl.h
  examples/fabric-bridge-app/fabric-bridge-common/src/CommissionerControl.cpp
  examples/fabric-bridge-app/linux/main.cpp
Labels: examples, review - approved

#34927 [NXP][docker] Update k32w1 SDK
  integrations/docker/images/base/chip-build/version
  integrations/docker/images/stage-2/chip-build-k32w/Dockerfile
Labels: integrations, review - pending, docker

#29011 [ESP32] Delta OTA Feature
  config/esp32/components/chip/CMakeLists.txt
  config/esp32/components/chip/Kconfig
  config/esp32/components/chip/idf_component.yml
  docs/guides/esp32/ota.md
  src/platform/ESP32/OTAImageProcessorImpl.cpp
  src/platform/ESP32/OTAImageProcessorImpl.h
Labels: documentation, platform, esp32, config, review - approved

#34931 Fix typo in NXP dockerfile: missing backslash
  integrations/docker/images/stage-2/chip-build-k32w/Dockerfile
Labels: hotfix, integrations, docker

#34918 Fixed test 1.6 and updated the scripts to work in CI.
  src/python_testing/TC_SEAR_1_6.py
Labels: review - approved, tests, matter-1.4-te2-script-change

#34935 [NXP][k32w1] Fix docker image
  integrations/docker/images/stage-2/chip-build-k32w/Dockerfile
Labels: integrations, review - pending, fast track, docker

#34872 Checking third party deps doesn't pass after someone fixes it
  .github/workflows/third-party-check.yaml
Labels: github, workflows, review - pending, fast track

#34924 [v1.3-branch][Infineon] Cherry-pick #34770 Provision to enable/disable NOC key-pair generation using HSM
  src/platform/Infineon/crypto/trustm/CHIPCryptoPALHsm_P256_trustm.cpp
  src/platform/Infineon/crypto/trustm/CHIPCryptoPALHsm_config_trustm.h
  src/platform/Infineon/crypto/trustm/CHIPCryptoPALHsm_utils_trustm.h
  third_party/infineon/psoc6/psoc6_sdk/configs/mbedtls_user_config.h
Labels: platform

#34899 Implement the AndroidChipLogging
  src/platform/android/AndroidChipPlatform-JNI.cpp
  src/platform/android/BUILD.gn
  src/platform/android/CHIPPlatformConfig.h
  src/platform/android/Logging.cpp
  src/platform/android/java/chip/platform/AndroidChipLogging.java
Labels: platform, review - approved

#34941 Syslog and logging tweaks
  src/platform/Linux/CHIPLinuxStorageIni.cpp
  src/platform/logging/impl/Syslog.cpp
Labels: platform, linux, review - approved

#34930 Add out-of-band msgs to add and remove Supported Areas and Maps
  examples/rvc-app/README.md
  examples/rvc-app/linux/RvcAppCommandDelegate.cpp
  examples/rvc-app/linux/RvcAppCommandDelegate.h
  examples/rvc-app/rvc-common/include/rvc-device.h
  examples/rvc-app/rvc-common/include/rvc-service-area-delegate.h
  examples/rvc-app/rvc-common/pics/rvc-app-pics-values
  examples/rvc-app/rvc-common/src/rvc-device.cpp
  examples/rvc-app/rvc-common/src/rvc-service-area-delegate.cpp
  src/python_testing/TC_SEAR_1_2.py
Labels: examples, review - approved, tests, matter-1.4-te2-script-change

#34879 Restructured folders in chip-energy-management-app - no code change
  examples/all-clusters-app/ameba/chip_main.cmake
  examples/all-clusters-app/asr/BUILD.gn
  examples/all-clusters-app/cc13x4_26x4/BUILD.gn
  examples/all-clusters-app/esp32/main/CMakeLists.txt
  examples/all-clusters-app/infineon/psoc6/BUILD.gn
  examples/all-clusters-app/linux/BUILD.gn
  examples/all-clusters-app/mbed/CMakeLists.txt
  examples/all-clusters-app/nrfconnect/CMakeLists.txt
  examples/all-clusters-app/nxp/mw320/BUILD.gn
  examples/all-clusters-app/openiotsdk/CMakeLists.txt
  examples/all-clusters-app/telink/CMakeLists.txt
  examples/all-clusters-app/tizen/BUILD.gn
  examples/all-clusters-minimal-app/esp32/main/CMakeLists.txt
  examples/energy-management-app/energy-management-common/common/include/EnergyManagementAppCmdLineOptions.h
  examples/energy-management-app/energy-management-common/common/src/EnergyTimeUtils.cpp
  examples/energy-management-app/energy-management-common/device-energy-management/include/DEMManufacturerDelegate.h
  examples/energy-management-app/energy-management-common/device-energy-management/include/DeviceEnergyManagementDelegateImpl.h
  examples/energy-management-app/energy-management-common/device-energy-management/include/DeviceEnergyManagementManager.h
  examples/energy-management-app/energy-management-common/device-energy-management/include/device-energy-management-modes.h
  examples/energy-management-app/energy-management-common/device-energy-management/src/DEMTestEventTriggers.cpp
  examples/energy-management-app/energy-management-common/device-energy-management/src/DeviceEnergyManagementDelegateImpl.cpp
  examples/energy-management-app/energy-management-common/device-energy-management/src/DeviceEnergyManagementManager.cpp
  examples/energy-management-app/energy-management-common/device-energy-management/src/device-energy-management-mode.cpp
  examples/energy-management-app/energy-management-common/energy-evse/include/ChargingTargetsMemMgr.h
  examples/energy-management-app/energy-management-common/energy-evse/include/EVSECallbacks.h
  examples/energy-management-app/energy-management-common/energy-evse/include/EVSEManufacturerImpl.h
  examples/energy-management-app/energy-management-common/energy-evse/include/EnergyEvseDelegateImpl.h
  examples/energy-management-app/energy-management-common/energy-evse/include/EnergyEvseMain.h
  examples/energy-management-app/energy-management-common/energy-evse/include/EnergyEvseManager.h
  examples/energy-management-app/energy-management-common/energy-evse/include/EnergyEvseTargetsStore.h
  examples/energy-management-app/energy-management-common/energy-evse/include/EnergyTimeUtils.h
  examples/energy-management-app/energy-management-common/energy-evse/include/energy-evse-modes.h
  examples/energy-management-app/energy-management-common/energy-evse/src/ChargingTargetsMemMgr.cpp
  examples/energy-management-app/energy-management-common/energy-evse/src/EVSEManufacturerImpl.cpp
  examples/energy-management-app/energy-management-common/energy-evse/src/EnergyEvseDelegateImpl.cpp
  examples/energy-management-app/energy-management-common/energy-evse/src/EnergyEvseEventTriggers.cpp
  examples/energy-management-app/energy-management-common/energy-evse/src/EnergyEvseMain.cpp
  examples/energy-management-app/energy-management-common/energy-evse/src/EnergyEvseManager.cpp
  examples/energy-management-app/energy-management-common/energy-evse/src/EnergyEvseTargetsStore.cpp
  examples/energy-management-app/energy-management-common/energy-evse/src/energy-evse-mode.cpp
  examples/energy-management-app/energy-management-common/energy-reporting/include/ElectricalPowerMeasurementDelegate.h
  examples/energy-management-app/energy-management-common/energy-reporting/include/FakeReadings.h
  examples/energy-management-app/energy-management-common/energy-reporting/include/PowerTopologyDelegate.h
  examples/energy-management-app/energy-management-common/energy-reporting/src/ElectricalPowerMeasurementDelegate.cpp
  examples/energy-management-app/energy-management-common/energy-reporting/src/EnergyReportingEventTriggers.cpp
  examples/energy-management-app/energy-management-common/energy-reporting/src/FakeReadings.cpp
  examples/energy-management-app/energy-management-common/energy-reporting/src/PowerTopologyDelegate.cpp
  examples/energy-management-app/energy-management-common/tests/BUILD.gn
  examples/energy-management-app/esp32/main/CMakeLists.txt
  examples/energy-management-app/linux/BUILD.gn
  examples/shell/shell_common/BUILD.gn
Labels: examples, review - approved

#34901 [NXP][config] Adding CMake support to build CHIP libs for NXP FreeRTOS platforms
  config/nxp/chip-cmake-freertos/CMakeLists.txt
  config/nxp/chip-gn-freertos/.gn
  config/nxp/chip-gn-freertos/BUILD.gn
  config/nxp/chip-gn-freertos/args.gni
  config/nxp/chip-module/CMakeLists.txt
  config/nxp/cmake/common.cmake
Labels: config, review - pending, fast track

#34940 [chip-tool] Adjust the maximum value of 'discriminator' to align with spec
  examples/chip-tool/commands/pairing/OpenCommissioningWindowCommand.h
Labels: tools, examples, review - approved

#34952 [examples][lock-common] Remove iostream include
  examples/lock-app/lock-common/src/LockManager.cpp
Labels: examples, review - approved

#34948 Fixed devcontainer creation for huge user ids
  .devcontainer/Dockerfile
Labels: vscode, review - approved

#34956 Enabling this for macOS Catalyst apps
  src/darwin/Framework/Matter.xcodeproj/project.pbxproj
Labels: darwin, fast track

#34947 Add new common NXP dockerfile
  integrations/docker/images/base/chip-build/version
  integrations/docker/images/stage-2/chip-build-k32w/Dockerfile
  integrations/docker/images/stage-2/chip-build-nxp/Dockerfile
  integrations/docker/images/stage-2/chip-build-nxp/build.sh
  integrations/docker/images/stage-2/chip-build-nxp/run.sh
  integrations/docker/images/stage-2/chip-build-nxp/version
  integrations/docker/images/vscode/chip-build-vscode/Dockerfile
Labels: integrations, review - pending, fast track, docker

#34957 Use timedInteraction for RevokeCommissioning in CCTRL_2_2
  src/python_testing/TC_CCTRL_2_2.py
Labels: review - approved, tests, matter-1.4-te2-script-change

#34938 [Fabric-Admin] Fix 'fabricsync sync-device' command always fails
  examples/fabric-admin/commands/common/CHIPCommand.h
  examples/fabric-admin/commands/fabric-sync/FabricSyncCommand.cpp
  examples/fabric-admin/commands/pairing/OpenCommissioningWindowCommand.cpp
  examples/fabric-admin/commands/pairing/OpenCommissioningWindowCommand.h
  examples/fabric-admin/device_manager/DeviceManager.cpp
Labels: examples, review - approved

#34964 Fix parameter getting for MCORE_FS_1_1.
  src/python_testing/TC_MCORE_FS_1_1.py
Labels: review - approved, tests, matter-1.4-te2-script-change

#34900 [ESP32] Fixed the discovery mode in esp32 factory script to a bitmap value instead of enum.
  scripts/tools/generate_esp32_chip_factory_bin.py
Labels: scripts, review - approved

#34965 Fix typo in wait_for_user_input (test harness test issue in several tests for fabric sync)
  src/python_testing/TC_CCTRL_2_2.py
  src/python_testing/TC_MCORE_FS_1_1.py
  src/python_testing/TC_MCORE_FS_1_2.py
Labels: review - approved, tests, matter-1.4-te2-script-change

#34975 [TC-TSTAT-1.1] Remove wrong dependency to attribute id 82
  src/app/tests/suites/certification/Test_TC_TSTAT_1_1.yaml
Labels: app, review - approved, tests, matter-1.4-te2-script-change

#34171 [Tizen] Update Tizen SDK to 8.0
  integrations/docker/images/base/chip-build/version
  integrations/docker/images/stage-2/chip-build-tizen/Dockerfile
  integrations/docker/images/stage-2/chip-build-tizen/tizen-sdk-installer/install.sh
Labels: integrations, review - approved, docker

#34981 TC_TSTAT_1_1 updated list of AcceptedCommands list
  src/app/tests/suites/certification/Test_TC_TSTAT_1_1.yaml
Labels: app, review - approved, tests, matter-1.4-te2-script-change

#34955 Update CCTRL 2.2 to not potentially use uninitialized variables in the class on teardown
  src/python_testing/TC_BRBINFO_4_1.py
  src/python_testing/TC_CCTRL_2_2.py
  src/python_testing/TC_MCORE_FS_1_1.py
Labels: review - pending, fast track, tests, matter-1.4-te2-script-change

#34928 [Python] Auto-import all clusters into the chip.clusters namespace
  scripts/py_matter_idl/matter_idl/lint/__init__.py
  scripts/tools/memory/memdf/__init__.py
  src/controller/python/chip/clusters/Objects.py
  src/controller/python/chip/clusters/__init__.py
  src/controller/python/chip/yaml/__init__.py
  src/controller/python/templates/python-cluster-Objects-py.zapt
Labels: scripts, controller, review - approved

#34970 fix unused variable issue on non-macOS testing
  src/darwin/Framework/CHIPTests/TestHelpers/MTRTestServerAppRunner.m
Labels: darwin, review - pending, fast track

#34982 Add constraint enforcement on responseTimeoutSeconds in commissioner control cluster
  src/app/clusters/commissioner-control-server/commissioner-control-server.cpp
  src/python_testing/TC_CCTRL_2_2.py
Labels: app, review - approved, tests, matter-1.4-te2-script-change

#34989 Fix Codegen data model write via AttributeAccessInterface
  src/app/codegen-data-model-provider/CodegenDataModelProvider_Write.cpp
Labels: app, review - approved
