Repository project-chip/connectedhomeip, pull requests merged in 2024-01, with the labels that each got.

#31148 Fix some typos in a comment.
  src/protocols/secure_channel/SessionEstablishmentDelegate.h
Labels: review - approved, protocols

#31196 Added option for parallel cloning of submodules
  scripts/checkout_submodules.py
Labels: scripts, review - approved

#31164 Linux/tv-casting-app: simplified APIs for commands and attributes
  examples/tv-casting-app/APIs.md
  examples/tv-casting-app/linux/simple-app-helper.cpp
  examples/tv-casting-app/linux/simple-app-helper.h
  examples/tv-casting-app/tv-casting-common/BUILD.gn
  examples/tv-casting-app/tv-casting-common/clusters/Clusters.h
  examples/tv-casting-app/tv-casting-common/clusters/ContentLauncherCluster.h
  examples/tv-casting-app/tv-casting-common/clusters/MediaPlaybackCluster.h
  examples/tv-casting-app/tv-casting-common/clusters/TargetNavigatorCluster.h
  examples/tv-casting-app/tv-casting-common/core/Attribute.h
  examples/tv-casting-app/tv-casting-common/core/BaseCluster.h
  examples/tv-casting-app/tv-casting-common/core/CastingApp.cpp
  examples/tv-casting-app/tv-casting-common/core/CastingApp.h
  examples/tv-casting-app/tv-casting-common/core/CastingPlayer.cpp
  examples/tv-casting-app/tv-casting-common/core/CastingPlayer.h
  examples/tv-casting-app/tv-casting-common/core/Cluster.h
  examples/tv-casting-app/tv-casting-common/core/Command.h
  examples/tv-casting-app/tv-casting-common/core/Endpoint.h
  examples/tv-casting-app/tv-casting-common/support/EndpointListLoader.cpp
  examples/tv-casting-app/tv-casting-common/support/EndpointListLoader.h
Labels: examples, review - approved, tv-casting

#31218 Validate InvokeRequestMessage TLV properly terminated before running commands
  src/app/CommandHandler.cpp
  src/app/CommandHandler.h
  src/app/tests/TestCommandInteraction.cpp
Labels: app, review - approved, tests

#31220 Add missing include <commands/common/Commands.h>
  examples/chip-tool/templates/commands.zapt
  zzz_generated/chip-tool/zap-generated/cluster/Commands.h
Labels: tools, examples, review - approved

#31077 CommandSender and CommandHandler reserves space for Finalize to succeed
  src/app/CommandHandler.cpp
  src/app/CommandSender.cpp
  src/app/MessageDef/InvokeRequestMessage.cpp
  src/app/MessageDef/InvokeRequestMessage.h
  src/app/MessageDef/InvokeRequests.cpp
  src/app/MessageDef/InvokeRequests.h
  src/app/MessageDef/InvokeResponseIBs.cpp
  src/app/MessageDef/InvokeResponseIBs.h
  src/app/MessageDef/InvokeResponseMessage.cpp
  src/app/MessageDef/InvokeResponseMessage.h
  src/app/tests/TestMessageDef.cpp
Labels: app, review - approved, tests

#31227 [OpenThread] Harden DNS record parsing
  src/platform/OpenThread/GenericThreadStackManagerImpl_OpenThread.hpp
Labels: platform, review - approved

#31225 zap is available for more architectures
  scripts/configure
Labels: scripts, review - approved

#31188 Fix examples building when enabling external platform
  .github/workflows/examples-esp32.yaml
  config/esp32/components/chip/CMakeLists.txt
  config/esp32/components/chip/Kconfig
  examples/lighting-app/esp32/sdkconfig.ext_plat.defaults
  examples/platform/esp32/external_platform/ESP32_custom/BLEManagerImpl.h
  examples/platform/esp32/external_platform/ESP32_custom/BUILD.gn
  examples/platform/esp32/external_platform/ESP32_custom/BlePlatformConfig.h
  examples/platform/esp32/external_platform/ESP32_custom/CHIPDevicePlatformConfig.h
  examples/platform/esp32/external_platform/ESP32_custom/CHIPDevicePlatformEvent.h
  examples/platform/esp32/external_platform/ESP32_custom/CHIPPlatformConfig.h
  examples/platform/esp32/external_platform/ESP32_custom/ChipDeviceScanner.h
  examples/platform/esp32/external_platform/ESP32_custom/ConfigurationManagerImpl.cpp
  examples/platform/esp32/external_platform/ESP32_custom/ConfigurationManagerImpl.h
  examples/platform/esp32/external_platform/ESP32_custom/ConnectivityManagerImpl.cpp
  examples/platform/esp32/external_platform/ESP32_custom/ConnectivityManagerImpl.h
  examples/platform/esp32/external_platform/ESP32_custom/ConnectivityManagerImpl_Ethernet.cpp
  examples/platform/esp32/external_platform/ESP32_custom/ConnectivityManagerImpl_WiFi.cpp
  examples/platform/esp32/external_platform/ESP32_custom/DiagnosticDataProviderImpl.cpp
  examples/platform/esp32/external_platform/ESP32_custom/DiagnosticDataProviderImpl.h
  examples/platform/esp32/external_platform/ESP32_custom/DnssdImpl.cpp
  examples/platform/esp32/external_platform/ESP32_custom/ESP32CHIPCryptoPAL.cpp
  examples/platform/esp32/external_platform/ESP32_custom/ESP32CHIPCryptoPAL.h
  examples/platform/esp32/external_platform/ESP32_custom/ESP32Config.cpp
  examples/platform/esp32/external_platform/ESP32_custom/ESP32Config.h
  examples/platform/esp32/external_platform/ESP32_custom/ESP32DeviceInfoProvider.cpp
  examples/platform/esp32/external_platform/ESP32_custom/ESP32DeviceInfoProvider.h
  examples/platform/esp32/external_platform/ESP32_custom/ESP32FactoryDataProvider.cpp
  examples/platform/esp32/external_platform/ESP32_custom/ESP32FactoryDataProvider.h
  examples/platform/esp32/external_platform/ESP32_custom/ESP32SecureCertDACProvider.cpp
  examples/platform/esp32/external_platform/ESP32_custom/ESP32SecureCertDACProvider.h
  examples/platform/esp32/external_platform/ESP32_custom/ESP32Utils.cpp
  examples/platform/esp32/external_platform/ESP32_custom/ESP32Utils.h
  examples/platform/esp32/external_platform/ESP32_custom/InetPlatformConfig.h
  examples/platform/esp32/external_platform/ESP32_custom/KeyValueStoreManagerImpl.cpp
  examples/platform/esp32/external_platform/ESP32_custom/KeyValueStoreManagerImpl.h
  examples/platform/esp32/external_platform/ESP32_custom/Logging.cpp
  examples/platform/esp32/external_platform/ESP32_custom/LwIPCoreLock.cpp
  examples/platform/esp32/external_platform/ESP32_custom/NetworkCommissioningDriver.cpp
  examples/platform/esp32/external_platform/ESP32_custom/NetworkCommissioningDriver.h
  examples/platform/esp32/external_platform/ESP32_custom/NetworkCommissioningDriver_Ethernet.cpp
  examples/platform/esp32/external_platform/ESP32_custom/OTAImageProcessorImpl.cpp
  examples/platform/esp32/external_platform/ESP32_custom/OTAImageProcessorImpl.h
  examples/platform/esp32/external_platform/ESP32_custom/OpenthreadLauncher.cpp
  examples/platform/esp32/external_platform/ESP32_custom/OpenthreadLauncher.h
  examples/platform/esp32/external_platform/ESP32_custom/PlatformManagerImpl.cpp
  examples/platform/esp32/external_platform/ESP32_custom/PlatformManagerImpl.h
  examples/platform/esp32/external_platform/ESP32_custom/ScopedNvsHandle.h
  examples/platform/esp32/external_platform/ESP32_custom/SystemPlatformConfig.h
  examples/platform/esp32/external_platform/ESP32_custom/SystemTimeSupport.cpp
  examples/platform/esp32/external_platform/ESP32_custom/SystemTimeSupport.h
  examples/platform/esp32/external_platform/ESP32_custom/ThreadStackManagerImpl.cpp
  examples/platform/esp32/external_platform/ESP32_custom/ThreadStackManagerImpl.h
  examples/platform/esp32/external_platform/ESP32_custom/WarmPlatformConfig.h
  examples/platform/esp32/external_platform/ESP32_custom/WiFiDnssdImpl.cpp
  examples/platform/esp32/external_platform/ESP32_custom/WiFiDnssdImpl.h
  examples/platform/esp32/external_platform/ESP32_custom/bluedroid
  examples/platform/esp32/external_platform/ESP32_custom/nimble
  examples/platform/esp32/external_platform/ESP32_custom/route_hook
  src/BUILD.gn
  src/platform/device.gni
Labels: examples, scripts, platform, config, github, workflows, review - approved

#31235 Fix java build error in darwin
  build/chip/java/config.gni
  build/chip/java/kotlinc_runner.py
  src/controller/java/AndroidCallbacks.cpp
  src/controller/java/AndroidOperationalCredentialsIssuer.cpp
  src/controller/java/BaseCHIPCluster-JNI.cpp
  src/controller/java/CHIPDeviceController-JNI.cpp
Labels: controller, gn, review - pending, fast track

#31146 Add yaml test to validate previous fix to group including multiple endpoints
  src/app/tests/suites/TestGroupMessaging.yaml
Labels: app, review - pending, fast track, tests

#31134 [Report Scheduler] Documentation of Scheduling Logic
  src/app/reporting/ReportScheduler.h
  src/app/reporting/ReportSchedulerImpl.cpp
  src/app/reporting/ReportSchedulerImpl.h
  src/app/reporting/SynchronizedReportSchedulerImpl.cpp
  src/app/reporting/SynchronizedReportSchedulerImpl.h
Labels: app, review - approved

#31078 DM tools scraper: Add new required flags.
  scripts/spec_xml/generate_spec_xml.py
Labels: scripts, review - pending, fast track

#31074 [Python] Improve attribute cache code quality
  src/controller/python/chip/clusters/Attribute.py
Labels: controller, review - pending, fast track

#31054 [Ameba] Update Docker image
  integrations/docker/images/base/chip-build/version
  integrations/docker/images/stage-2/chip-build-ameba/Dockerfile
Labels: integrations, review - approved, docker

#30949 Create EVSE app with ESP32
  examples/energy-management-app/esp32/.gitignore
  examples/energy-management-app/esp32/CMakeLists.txt
  examples/energy-management-app/esp32/README.md
  examples/energy-management-app/esp32/main/CMakeLists.txt
  examples/energy-management-app/esp32/main/DeviceCallbacks.cpp
  examples/energy-management-app/esp32/main/Kconfig.projbuild
  examples/energy-management-app/esp32/main/idf_component.yml
  examples/energy-management-app/esp32/main/include/CHIPProjectConfig.h
  examples/energy-management-app/esp32/main/include/DeviceCallbacks.h
  examples/energy-management-app/esp32/main/main.cpp
  examples/energy-management-app/esp32/partitions.csv
  examples/energy-management-app/esp32/partitions_encrypted.csv
  examples/energy-management-app/esp32/sdkconfig.defaults
  examples/energy-management-app/esp32/sdkconfig.defaults.esp32c2
  examples/energy-management-app/esp32/sdkconfig.defaults.esp32c6
  examples/energy-management-app/esp32/sdkconfig.defaults.esp32h2
  examples/energy-management-app/esp32/sdkconfig.optimize.defaults
  examples/energy-management-app/esp32/sdkconfig_m5stack.defaults
  examples/energy-management-app/esp32/sdkconfig_rpc.defaults
  examples/energy-management-app/esp32/third_party/connectedhomeip
Labels: documentation, examples, scripts, darwin, controller, app, review - approved, skip-protocol-compatibility

#31009 Mark `ClusterRevision` global attribute in XML files to be `side=either`
  examples/all-clusters-app/all-clusters-common/all-clusters-app.matter
  examples/all-clusters-minimal-app/all-clusters-common/all-clusters-minimal-app.matter
  examples/bridge-app/bridge-common/bridge-app.matter
  examples/chef/devices/rootnode_dishwasher_cc105034fe.matter
  examples/chef/devices/rootnode_genericswitch_9866e35d0b.matter
  examples/chef/devices/rootnode_laundrywasher_fb10d238c8.matter
  examples/chef/devices/rootnode_roboticvacuumcleaner_1807ff0c49.matter
  examples/dishwasher-app/dishwasher-common/dishwasher-app.matter
  examples/light-switch-app/light-switch-common/light-switch-app.matter
  examples/lighting-app/lighting-common/lighting-app.matter
  examples/placeholder/linux/apps/app1/config.matter
  examples/placeholder/linux/apps/app2/config.matter
  examples/rvc-app/rvc-common/rvc-app.matter
  src/app/zap-templates/zcl/data-model/chip/device-energy-management-cluster.xml
  src/app/zap-templates/zcl/data-model/chip/energy-evse-cluster.xml
  src/app/zap-templates/zcl/data-model/chip/laundry-dryer-controls-cluster.xml
  src/app/zap-templates/zcl/data-model/chip/operational-state-cluster.xml
  src/app/zap-templates/zcl/data-model/chip/operational-state-rvc-cluster.xml
  src/app/zap-templates/zcl/data-model/chip/switch-cluster.xml
  src/app/zap-templates/zcl/data-model/chip/timer-cluster.xml
  src/app/zap-templates/zcl/data-model/chip/washer-controls-cluster.xml
  src/controller/data_model/controller-clusters.matter
Labels: examples, controller, app, review - pending, fast track

#31246 zap regen
  examples/all-clusters-app/all-clusters-common/all-clusters-app.matter
  examples/energy-management-app/energy-management-common/energy-management-app.matter
  examples/microwave-oven-app/microwave-oven-common/microwave-oven-app.matter
Labels: examples, review - pending

#31245 Update silabs docker with new sdks
  integrations/docker/images/base/chip-build/version
  integrations/docker/images/stage-2/chip-build-efr32/Dockerfile
Labels: integrations, review - approved, fast track, docker

#30491 IM: Create ReadHandler after Session Establishment for Subscription Resumption
  src/app/BUILD.gn
  src/app/InteractionModelEngine.cpp
  src/app/InteractionModelEngine.h
  src/app/ReadHandler.cpp
  src/app/ReadHandler.h
  src/app/SubscriptionResumptionSessionEstablisher.cpp
  src/app/SubscriptionResumptionSessionEstablisher.h
Labels: app, review - approved

#31169 Add a description to MTRCommandPath.
  src/darwin/Framework/CHIP/MTRBaseDevice.mm
Labels: darwin, review - approved

#31168 Fix isEqual and hash on various path classes to do the right thing.
  src/darwin/Framework/CHIP/MTRBaseDevice.mm
  src/darwin/Framework/CHIPTests/MTRDeviceTests.m
  src/darwin/Framework/CHIPTests/MTRXPCProtocolTests.m
Labels: darwin, review - approved

#31249 Update Darwin availability annotations.
  src/darwin/Framework/CHIP/MTRCluster.h
  src/darwin/Framework/CHIP/MTRDefines.h
  src/darwin/Framework/CHIP/MTRDevice.h
  src/darwin/Framework/CHIP/templates/MTRBaseClusters.zapt
  src/darwin/Framework/CHIP/templates/MTRClusters.zapt
  src/darwin/Framework/CHIP/templates/availability.yaml
  src/darwin/Framework/CHIP/zap-generated/MTRBaseClusters.h
  src/darwin/Framework/CHIP/zap-generated/MTRClusterConstants.h
  src/darwin/Framework/CHIP/zap-generated/MTRClusters.h
  src/darwin/Framework/CHIP/zap-generated/MTRCommandPayloadsObjc.h
  src/darwin/Framework/CHIP/zap-generated/MTRStructsObjc.h
  src/darwin/Framework/CHIPTests/MTRSwiftDeviceTests.swift
Labels: darwin, review - approved

#31253 [Ameba] Update ci to version 30, and update wifi and LwIP API
  .github/workflows/examples-ameba.yaml
  examples/all-clusters-app/ameba/README.md
  examples/all-clusters-minimal-app/ameba/README.md
  examples/light-switch-app/ameba/README.md
  examples/lighting-app/ameba/README.md
  examples/ota-requestor-app/ameba/README.md
  examples/pigweed-app/ameba/README.md
  src/platform/Ameba/DiagnosticDataProviderImpl.cpp
  src/platform/Ameba/NetworkCommissioningDriver.h
  src/platform/Ameba/NetworkCommissioningWiFiDriver.cpp
Labels: examples, platform, github, workflows, review - pending, fast track

#31255 [Silabs ] Allow user to skip the rps file creation for RPS files
  third_party/silabs/silabs_board.gni
Labels: review - approved

#31256 Fix the warning get() operation on unique_ptr is extra
  src/controller/java/templates/CHIPReadCallbacks-src.zapt
  src/controller/java/zap-generated/CHIPReadCallbacks.cpp
Labels: controller, review - approved

#31216 [network-commissioning] Encode SupportedWiFiBands as list
  src/app/clusters/network-commissioning/network-commissioning.cpp
  src/include/platform/NetworkCommissioning.h
  src/platform/nrfconnect/wifi/NrfWiFiDriver.cpp
  src/platform/nrfconnect/wifi/NrfWiFiDriver.h
Labels: platform, nrf connect, app, review - approved

#31261 [Silabs] Adds new Silabs guides
  .github/.wordlist.txt
  docs/guides/README.md
  docs/guides/darwin.md
  docs/guides/images/silabs_logo.png
  docs/guides/index.md
  docs/guides/silabs_cli_guide.md
  docs/guides/silabs_common_app_behavior.md
  docs/guides/silabs_efr32_building.md
  docs/guides/silabs_getting_started.md
Labels: documentation, github, review - approved

#31058 [Silabs][Wi-Fi] Fixes for 917 platform
  examples/platform/silabs/SiWx917/SiWx917/sl_wifi_if.c
  examples/platform/silabs/SiWx917/uart.cpp
  examples/thermostat/silabs/src/ThermostatUI.cpp
  src/platform/silabs/BLEManagerImpl.h
Labels: examples, platform, review - approved, silabs

#31071 [Silabs][Wi-Fi]- Update to 917 soc freertos settings
  examples/platform/silabs/FreeRTOSConfig.h
  examples/platform/silabs/SiWx917/SiWx917/sl_wifi_if.c
Labels: examples, platform, review - approved

#31268 [Silabs]Add a static assert to ensure there is no out of bound write
  src/platform/silabs/BLEManagerImpl.h
  src/platform/silabs/efr32/BLEManagerImpl.cpp
  src/platform/silabs/rs911x/BLEManagerImpl.cpp
Labels: platform, review - approved, silabs

#31276 [Silabs] Adding the spi_multiplex.h for only NCP not SOC devices
  examples/thermostat/silabs/src/ThermostatUI.cpp
Labels: examples, review - pending, fast track

#31292 [Telink] Update Docker image (Zephyr update)
  integrations/docker/images/base/chip-build/version
  integrations/docker/images/stage-2/chip-build-telink/Dockerfile
Labels: integrations, review - approved, docker

#31293 [Telink] Retention memory optimization
  examples/lighting-app/telink/prj.conf
  src/platform/telink/FactoryDataProvider.h
Labels: examples, platform, review - approved, telink

#31287 [Silabs] Increasing buffer size to avoid memory insufficient error while adding new fabrics.
  src/lwip/silabs/lwipopts-rs911x.h
Labels: review - approved, lwip

#31042 Implement updates to IDM test spec for batch commands
  src/app/tests/suites/certification/Test_TC_IDM_1_1.yaml
  src/app/tests/suites/certification/Test_TC_IDM_1_3.yaml
  src/controller/python/chip/clusters/command.cpp
  src/python_testing/TC_IDM_1_4.py
Labels: controller, app, review - pending, fast track, tests

#31300 Fix JNI Typo for UnpairDeviceCallback.OnError
  src/controller/java/AndroidCurrentFabricRemover.cpp
Labels: controller, review - approved

#31193 [ICD][Android] Add ICD storage API, UI
  examples/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/GenericChipDeviceListener.kt
  examples/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/SelectActionFragment.kt
  examples/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/clusterclient/ICDFragment.kt
  examples/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/provisioning/DeviceProvisioningFragment.kt
  examples/android/CHIPTool/app/src/main/res/layout/i_c_d_fragment.xml
  examples/android/CHIPTool/app/src/main/res/layout/select_action_fragment.xml
  examples/android/CHIPTool/app/src/main/res/values/strings.xml
  examples/java-matter-controller/BUILD.gn
  examples/java-matter-controller/java/src/com/matter/controller/Main.kt
  examples/java-matter-controller/java/src/com/matter/controller/commands/icd/ICDListCommand.kt
  examples/java-matter-controller/java/src/com/matter/controller/commands/pairing/PairingCommand.kt
  examples/kotlin-matter-controller/java/src/com/matter/controller/commands/pairing/PairingCommand.kt
  src/controller/java/AndroidDeviceControllerWrapper.cpp
  src/controller/java/AndroidDeviceControllerWrapper.h
  src/controller/java/BUILD.gn
  src/controller/java/CHIPDeviceController-JNI.cpp
  src/controller/java/src/chip/devicecontroller/ChipDeviceController.java
  src/controller/java/src/chip/devicecontroller/ICDClientInfo.java
  src/controller/java/src/chip/devicecontroller/ICDDeviceInfo.java
  src/controller/java/src/matter/controller/CompletionListenerAdapter.kt
  src/controller/java/src/matter/controller/MatterController.kt
Labels: examples, controller, review - approved

#31267 Switch rpc console to use CancellableReader instead of a pure read callback
  examples/common/pigweed/rpc_console/py/chip_rpc/console.py
Labels: examples, review - pending, fast track

#31266 [Android] Replace GetMethodID with FindMethod for method retrieval
  src/controller/java/templates/CHIPEventTLVValueDecoder-src.zapt
  src/controller/java/templates/partials/decode_value.zapt
  src/controller/java/zap-generated/CHIPAttributeTLVValueDecoder.cpp
  src/controller/java/zap-generated/CHIPEventTLVValueDecoder.cpp
  src/controller/java/zap-generated/CHIPInvokeCallbacks.cpp
  src/controller/java/zap-generated/CHIPReadCallbacks.cpp
  src/lib/support/JniReferences.cpp
  src/lib/support/JniReferences.h
Labels: lib, controller, review - approved, support

#31176 Fixes: [OPSTATE] specific phase in the list should not null
  examples/all-clusters-app/all-clusters-common/include/operational-state-delegate-impl.h
  examples/all-clusters-app/all-clusters-common/src/operational-state-delegate-impl.cpp
  examples/all-clusters-app/ameba/main/OperationalStateManager.cpp
  examples/all-clusters-app/ameba/main/include/OperationalStateManager.h
  examples/chef/common/chef-rvc-operational-state-delegate.cpp
  examples/chef/common/chef-rvc-operational-state-delegate.h
  examples/dishwasher-app/dishwasher-common/include/operational-state-delegate-impl.h
  examples/dishwasher-app/dishwasher-common/src/operational-state-delegate-impl.cpp
  examples/microwave-oven-app/microwave-oven-common/include/microwave-oven-device.h
  examples/microwave-oven-app/microwave-oven-common/src/microwave-oven-device.cpp
  examples/rvc-app/rvc-common/include/rvc-operational-state-delegate.h
  examples/rvc-app/rvc-common/src/rvc-operational-state-delegate.cpp
  src/app/clusters/operational-state-server/operational-state-cluster-objects.h
  src/app/clusters/operational-state-server/operational-state-server.cpp
  src/app/clusters/operational-state-server/operational-state-server.h
  src/app/tests/TestOperationalStateClusterObjects.cpp
Labels: examples, app, review - approved, tests

#30772 Add Access checker test
  .github/workflows/tests.yaml
  data_model/clusters/ConcentrationMeasurement.xml
  data_model/clusters/ResourceMonitoring.xml
  data_model/clusters/WaterContentMeasurement.xml
  src/python_testing/TC_AccessChecker.py
  src/python_testing/TestSpecParsingSupport.py
  src/python_testing/conformance_support.py
  src/python_testing/global_attribute_ids.py
  src/python_testing/matter_testing_support.py
  src/python_testing/spec_parsing_support.py
Labels: controller, github, workflows, review - approved, tests

#31301 Allow reserving space for MoreChunkedMessages in InvokeResponseMessage
  src/app/MessageDef/InvokeResponseMessage.cpp
  src/app/MessageDef/InvokeResponseMessage.h
  src/app/tests/TestMessageDef.cpp
Labels: app, review - approved, tests

#29261 [Silabs] Enabling CI on the BRD4338A board
  .github/workflows/examples-efr32.yaml
  .vscode/tasks.json
  scripts/build/build/targets.py
  scripts/build/builders/efr32.py
  scripts/build/testdata/all_targets_linux_x64.txt
Labels: scripts, vscode, github, workflows, review - approved

#31277 [Silabs] Added code to random address generation using hardware API's.
  examples/platform/silabs/SiWx917/SiWx917/sl_wifi_if.c
  src/platform/silabs/rs911x/BLEManagerImpl.cpp
  src/platform/silabs/rs911x/rsi_ble_config.h
  third_party/silabs/SiWx917_sdk.gni
Labels: examples, platform, review - approved, silabs

#31302 Update builds to docker version 32
  .github/workflows/bloat_check.yaml
  .github/workflows/build.yaml
  .github/workflows/chef.yaml
  .github/workflows/cirque.yaml
  .github/workflows/doxygen.yaml
  .github/workflows/examples-ameba.yaml
  .github/workflows/examples-asr.yaml
  .github/workflows/examples-bouffalolab.yaml
  .github/workflows/examples-cc13x2x7_26x2x7.yaml
  .github/workflows/examples-cc32xx.yaml
  .github/workflows/examples-efr32.yaml
  .github/workflows/examples-esp32.yaml
  .github/workflows/examples-infineon.yaml
  .github/workflows/examples-k32w.yaml
  .github/workflows/examples-linux-arm.yaml
  .github/workflows/examples-linux-imx.yaml
  .github/workflows/examples-linux-standalone.yaml
  .github/workflows/examples-mbed.yaml
  .github/workflows/examples-mw320.yaml
  .github/workflows/examples-nrfconnect.yaml
  .github/workflows/examples-openiotsdk.yaml
  .github/workflows/examples-qpg.yaml
  .github/workflows/examples-stm32.yaml
  .github/workflows/examples-telink.yaml
  .github/workflows/examples-tizen.yaml
  .github/workflows/full-android.yaml
  .github/workflows/fuzzing-build.yaml
  .github/workflows/java-tests.yaml
  .github/workflows/lint.yml
  .github/workflows/minimal-build.yaml
  .github/workflows/qemu.yaml
  .github/workflows/release_artifacts.yaml
  .github/workflows/smoketest-android.yaml
  .github/workflows/tests.yaml
  .github/workflows/unit_integration_test.yaml
  .github/workflows/zap_regeneration.yaml
  .github/workflows/zap_templates.yaml
  examples/all-clusters-app/ameba/README.md
  examples/all-clusters-minimal-app/ameba/README.md
  examples/light-switch-app/ameba/README.md
  examples/lighting-app/ameba/README.md
  examples/ota-requestor-app/ameba/README.md
  examples/pigweed-app/ameba/README.md
  integrations/cloudbuild/build-all.yaml
  integrations/cloudbuild/chef.yaml
  integrations/cloudbuild/smoke-test.yaml
  src/test_driver/tizen/README.md
Labels: examples, integrations, github, workflows, review - pending, fast track, test driver

#31326 [ZAP] Fix regen merge conflict
  src/controller/java/zap-generated/CHIPEventTLVValueDecoder.cpp
Labels: hotfix, controller, review - pending

#31260 [Cherry Pick] IM: Create ReadHandler after Session Establishment for Subscription Resumption
  src/app/BUILD.gn
  src/app/InteractionModelEngine.cpp
  src/app/InteractionModelEngine.h
  src/app/ReadHandler.cpp
  src/app/ReadHandler.h
  src/app/SubscriptionResumptionSessionEstablisher.cpp
  src/app/SubscriptionResumptionSessionEstablisher.h
Labels: app

#31321 [Python] Parse Interface ID from IP address string as well
  src/controller/python/ChipDeviceController-ScriptBinding.cpp
Labels: controller, review - approved

#31288 Remove ACL-2.2 YAML
  src/app/tests/suites/certification/Test_TC_ACL_2_2.yaml
Labels: app, review - approved, tests

#31274 [ESP32] Added the support for onboarding paylaod in factory script
  scripts/tools/generate_esp32_chip_factory_bin.py
Labels: scripts, esp32, review - approved

#31319 [icd] create callback to indicate an alive subscription
  src/app/ReadClient.cpp
  src/app/ReadClient.h
Labels: app, review - approved

#31343 Make constructors for `BitMask` constexpr.
  src/lib/support/BitMask.h
Labels: lib, review - approved, support

#31345 Cleanup callbacks a bit: remove client-side attribute callbacks and some useless comments
  src/app/zap-templates/templates/app/callback.zapt
  zzz_generated/app-common/app-common/zap-generated/callback.h
Labels: app, review - approved

#30731 Icd handler
  examples/chip-tool/BUILD.gn
  examples/chip-tool/commands/common/CHIPCommand.cpp
  examples/chip-tool/commands/common/CHIPCommand.h
  examples/tv-casting-app/tv-casting-common/BUILD.gn
  src/app/icd/client/BUILD.gn
  src/app/icd/client/CheckInDelegate.h
  src/app/icd/client/CheckInHandler.cpp
  src/app/icd/client/CheckInHandler.h
  src/app/icd/client/DefaultCheckInDelegate.cpp
  src/app/icd/client/DefaultCheckInDelegate.h
  src/app/icd/client/DefaultICDClientStorage.cpp
  src/app/icd/client/DefaultICDClientStorage.h
  src/app/icd/client/ICDClientStorage.h
  src/app/tests/TestDefaultICDClientStorage.cpp
  src/controller/java/BUILD.gn
  src/lib/support/logging/Constants.h
  src/protocols/secure_channel/CheckinMessage.cpp
  src/protocols/secure_channel/CheckinMessage.h
Labels: documentation, tools, examples, scripts, integrations, transport, system, platform, darwin, lib, inet, controller, ble, app, gn, review - approved, lwip, tests, support, core, icd, docker, silabs, protocols

#31179 Fix TimeSnapshot command and add TC-DGGEN-2.4
  .github/workflows/tests.yaml
  src/app/clusters/general-diagnostics-server/general-diagnostics-server.cpp
  src/python_testing/TC_DGGEN_2_4.py
  src/python_testing/TC_TIMESYNC_2_2.py
  src/python_testing/matter_testing_support.py
Labels: app, github, workflows, review - approved, tests, TCR

#31354 Follow-up PR: update RefreshLiveness naming
  src/app/ReadClient.cpp
  src/app/ReadClient.h
Labels: app, review - approved

#31352 Explicitly mark Aliro bits as provisional on Darwin.
  src/darwin/Framework/CHIP/templates/availability.yaml
Labels: darwin, review - approved

#31310 Follow-up Persistent Subscription tests
  BUILD.gn
  examples/lit-icd-app/lit-icd-common/lit-icd-server-app.matter
  examples/lit-icd-app/lit-icd-common/lit-icd-server-app.zap
  examples/platform/linux/AppMain.cpp
  examples/platform/linux/Options.cpp
  examples/platform/linux/Options.h
  integrations/docker/images/stage-2/chip-cirque-device-base/Dockerfile
  scripts/build/gn_gen_cirque.sh
  scripts/tests/cirque_tests.sh
  src/controller/python/chip/ChipDeviceCtrl.py
  src/controller/python/test/test_scripts/base.py
  src/controller/python/test/test_scripts/cirque_restart_remote_device.py
  src/controller/python/test/test_scripts/subscription_resumption_capacity_test_ctrl1.py
  src/controller/python/test/test_scripts/subscription_resumption_capacity_test_ctrl2.py
  src/controller/python/test/test_scripts/subscription_resumption_test.py
  src/test_driver/linux-cirque/SubscriptionResumptionCapacityTest.py
  src/test_driver/linux-cirque/SubscriptionResumptionTest.py
Labels: examples, scripts, integrations, platform, controller, gn, review - approved, test driver, docker

#31361 adding missing clusters to python script
  src/controller/python/chip/clusters/__init__.py
Labels: controller, review - approved

#31347 Fix test name typo
  src/python_testing/TC_ACL_2_2.py
Labels: review - approved, tests

#31353 Added builder for energy-management-app for Linux (host) and ESP32
  scripts/build/build/targets.py
  scripts/build/builders/esp32.py
  scripts/build/builders/host.py
  scripts/build/testdata/all_targets_linux_x64.txt
Labels: scripts, review - approved, energy, energy evse

#31324 Introduce CommandSender::ExtendedCallback
  src/app/CommandSender.cpp
  src/app/CommandSender.h
  src/app/tests/TestCommandInteraction.cpp
  src/controller/python/chip/clusters/Command.py
  src/controller/python/chip/clusters/command.cpp
Labels: controller, app, review - approved, tests

#31351 LaundryDryerSDk: Changing InvalidInState to Constraint Error
  src/app/clusters/laundry-dryer-controls-server/laundry-dryer-controls-server.cpp
Labels: app, review - approved

#31333 Includes more cluster IDs to attributes_service.proto
  examples/common/pigweed/protos/attributes_service.proto
Labels: examples, review - pending, fast track

#31381 [Cherry Pick] [ESP32]: Enable BLE Deinit for ESP32H2 after successful commissioning
  examples/platform/esp32/common/CommonDeviceCallbacks.cpp
  examples/platform/esp32/common/Esp32AppServer.cpp
  examples/platform/esp32/common/Esp32AppServer.h
  src/platform/ESP32/OpenthreadLauncher.c
  src/platform/ESP32/OpenthreadLauncher.h
  src/platform/ESP32/nimble/BLEManagerImpl.cpp
Labels: examples, platform, esp32

#31362 fix a crash error in tv-app
  examples/tv-app/android/App/build.gradle
  examples/tv-app/android/App/platform-app/build.gradle
Labels: examples, review - approved

#31380 Remove OpenBasicCommissioningWindow from lit-icd-app
  examples/lit-icd-app/lit-icd-common/lit-icd-server-app.matter
  examples/lit-icd-app/lit-icd-common/lit-icd-server-app.zap
  src/controller/python/test/test_scripts/base.py
  src/controller/python/test/test_scripts/subscription_resumption_capacity_test_ctrl1.py
Labels: examples, controller, review - approved

#31392 Remove CHIP_ADDRESS_RESOLVE_IMPL_INCLUDE_HEADER from stm32 platform
  src/platform/stm32/CHIPDevicePlatformConfig.h
Labels: platform, review - approved

#30812 [icd] Support Resubscribe when receiving check-in message
  docs/ERROR_CODES.md
  src/app/InteractionModelEngine.cpp
  src/app/InteractionModelEngine.h
  src/app/ReadClient.cpp
  src/app/ReadClient.h
  src/app/ReadPrepareParams.h
  src/app/icd/client/DefaultCheckInDelegate.cpp
  src/controller/tests/data_model/BUILD.gn
  src/controller/tests/data_model/TestRead.cpp
  src/lib/core/CHIPError.h
Labels: documentation, lib, controller, app, review - approved, core, icd

#31400 Remove DeviceLayer include in attribute-storage
  src/app/util/attribute-storage.h
Labels: app, review - approved

#31391 Gen Diag: Add gen header for cluster define check
  src/app/clusters/general-diagnostics-server/general-diagnostics-server.cpp
Labels: app, review - approved

#30983 OvenMode example Implementation
  examples/all-clusters-app/all-clusters-common/all-clusters-app.matter
  examples/all-clusters-app/all-clusters-common/all-clusters-app.zap
  examples/all-clusters-app/all-clusters-common/include/oven-modes.h
  examples/all-clusters-app/all-clusters-common/src/oven-modes.cpp
  examples/all-clusters-app/ameba/chip_main.cmake
  examples/all-clusters-app/asr/BUILD.gn
  examples/all-clusters-app/cc13x2x7_26x2x7/BUILD.gn
  examples/all-clusters-app/cc13x4_26x4/BUILD.gn
  examples/all-clusters-app/esp32/main/CMakeLists.txt
  examples/all-clusters-app/infineon/psoc6/BUILD.gn
  examples/all-clusters-app/linux/AllClustersCommandDelegate.cpp
  examples/all-clusters-app/linux/BUILD.gn
  examples/all-clusters-app/linux/main-common.cpp
  examples/all-clusters-app/mbed/CMakeLists.txt
  examples/all-clusters-app/nrfconnect/CMakeLists.txt
  examples/all-clusters-app/nxp/mw320/BUILD.gn
  examples/all-clusters-app/openiotsdk/CMakeLists.txt
  examples/all-clusters-app/tizen/BUILD.gn
  src/app/common/templates/config-data.yaml
  src/app/util/util.cpp
  src/controller/data_model/controller-clusters.zap
  zzz_generated/app-common/app-common/zap-generated/callback.h
Labels: examples, darwin, controller, app, review - approved, appliances, ovens

#31226 [Chef] Add AirPurifier device in Chef example
  examples/chef/common/chef-fan-control-manager.cpp
  examples/chef/common/chef-resource-monitoring-delegates.cpp
  examples/chef/common/chef-resource-monitoring-delegates.h
  examples/chef/devices/rootnode_airpurifier_73a6fe2651.matter
  examples/chef/devices/rootnode_airpurifier_73a6fe2651.zap
  examples/chef/linux/BUILD.gn
  examples/chef/nrfconnect/CMakeLists.txt
  src/app/data-model/Nullable.h
Labels: examples, app, review - approved

#31369 Add conformance test for door lock to CI
  .github/workflows/tests.yaml
Labels: github, workflows

#31404 Add missing include to functional for chef
  examples/chef/common/chef-fan-control-manager.cpp
Labels: examples, hotfix

#31234 Remove dependency between chip-tool and the nlunit-test
  examples/placeholder/linux/BUILD.gn
  src/access/tests/BUILD.gn
  src/app/tests/BUILD.gn
  src/app/tests/suites/commands/interaction_model/BUILD.gn
  src/app/util/mock/BUILD.gn
  src/ble/tests/BUILD.gn
  src/controller/tests/BUILD.gn
  src/controller/tests/data_model/BUILD.gn
  src/credentials/tests/BUILD.gn
  src/crypto/tests/BUILD.gn
  src/inet/tests/BUILD.gn
  src/lib/address_resolve/tests/BUILD.gn
  src/lib/asn1/tests/BUILD.gn
  src/lib/core/tests/BUILD.gn
  src/lib/dnssd/minimal_mdns/core/tests/BUILD.gn
  src/lib/dnssd/minimal_mdns/records/tests/BUILD.gn
  src/lib/dnssd/minimal_mdns/responders/tests/BUILD.gn
  src/lib/dnssd/minimal_mdns/tests/BUILD.gn
  src/lib/dnssd/platform/tests/BUILD.gn
  src/lib/dnssd/tests/BUILD.gn
  src/lib/format/tests/BUILD.gn
  src/lib/shell/tests/BUILD.gn
  src/lib/support/BUILD.gn
  src/lib/support/tests/BUILD.gn
  src/messaging/tests/BUILD.gn
  src/platform/tests/BUILD.gn
  src/protocols/bdx/tests/BUILD.gn
  src/protocols/interaction_model/tests/BUILD.gn
  src/protocols/secure_channel/tests/BUILD.gn
  src/protocols/user_directed_commissioning/tests/BUILD.gn
  src/setup_payload/tests/BUILD.gn
  src/system/tests/BUILD.gn
  src/test_driver/efr32/BUILD.gn
  src/test_driver/esp32/cmake/esp32_unit_tests.cmake
  src/tracing/tests/BUILD.gn
  src/transport/raw/tests/BUILD.gn
  src/transport/retransmit/tests/BUILD.gn
  src/transport/tests/BUILD.gn
Labels: tools, examples, transport, system, setup payload, platform, darwin, lib, inet, crypto, controller, ble, app, review - approved, shell, tests, support, core, test driver, messaging, protocols

#31373 Python testing: Add helper functions for marking steps as skipped in the TH
  src/python_testing/hello_test.py
  src/python_testing/matter_testing_support.py
Labels: review - approved, tests

#31401 Do not use gen_config.h directly.
  examples/all-clusters-app/all-clusters-common/include/static-supported-temperature-levels.h
  examples/all-clusters-app/all-clusters-common/src/static-supported-temperature-levels.cpp
  examples/placeholder/linux/static-supported-temperature-levels.cpp
  examples/refrigerator-app/refrigerator-common/include/static-supported-temperature-levels.h
  examples/refrigerator-app/refrigerator-common/src/static-supported-temperature-levels.cpp
  src/app/clusters/general-diagnostics-server/general-diagnostics-server.cpp
  src/app/clusters/power-source-server/power-source-server.cpp
  src/app/clusters/scenes-server/SceneTableImpl.h
Labels: examples, app, review - approved

#31413 [Chef] Fix variable may be used without initialization
  examples/chef/common/chef-fan-control-manager.cpp
Labels: examples, review - approved

#31344 Handle energy type naming in data model xml handlers
  scripts/py_matter_idl/matter_idl/data_model_xml/handlers/parsing.py
  scripts/py_matter_idl/matter_idl/test_data_model_xml.py
Labels: scripts, review - pending, fast track

#31408 [nrfconnect] Switch unit tests to PSA crypto
  src/app/tests/BUILD.gn
  src/crypto/tests/CHIPCryptoPALTest.cpp
  src/test_driver/nrfconnect/main/include/app_mbedtls_config.h
  src/test_driver/nrfconnect/prj.conf
Labels: crypto, app, review - approved, tests, test driver

#31382 [K32W0] SDK 2.6.13 additional changes
  examples/contact-sensor-app/contact-sensor-common/contact-sensor-app.matter
  examples/contact-sensor-app/contact-sensor-common/contact-sensor-app.zap
  examples/contact-sensor-app/nxp/k32w/k32w0/BUILD.gn
  examples/contact-sensor-app/nxp/k32w/k32w0/README.md
  examples/contact-sensor-app/nxp/k32w/k32w0/include/CHIPProjectConfig.h
  examples/contact-sensor-app/nxp/k32w/k32w0/main/AppTask.cpp
  examples/contact-sensor-app/nxp/k32w/k32w0/main/include/AppTask.h
  examples/lighting-app/nxp/k32w/k32w0/BUILD.gn
  examples/lighting-app/nxp/k32w/k32w0/README.md
  examples/lighting-app/nxp/k32w/k32w0/include/CHIPProjectConfig.h
  examples/lighting-app/nxp/k32w/k32w0/main/AppTask.cpp
  examples/lighting-app/nxp/k32w/k32w0/main/include/AppTask.h
  examples/lighting-app/nxp/k32w/k32w1/BUILD.gn
  examples/lock-app/nxp/k32w/k32w0/BUILD.gn
  examples/lock-app/nxp/k32w/k32w0/README.md
  examples/lock-app/nxp/k32w/k32w0/include/CHIPProjectConfig.h
  examples/lock-app/nxp/k32w/k32w0/main/AppTask.cpp
  examples/lock-app/nxp/k32w/k32w0/main/include/AppTask.h
  examples/platform/nxp/k32w/k32w0/common/CustomFactoryDataProvider.cpp
  examples/platform/nxp/k32w/k32w0/common/CustomFactoryDataProvider.h
  examples/platform/nxp/k32w/k32w0/common/README.md
  src/platform/nxp/k32w/common/BLEManagerCommon.cpp
  src/platform/nxp/k32w/common/FactoryDataProvider.cpp
  src/platform/nxp/k32w/common/FactoryDataProvider.h
  src/platform/nxp/k32w/common/OTAImageProcessorImpl.cpp
  src/platform/nxp/k32w/common/OTATlvProcessor.cpp
  src/platform/nxp/k32w/common/OTATlvProcessor.h
  src/platform/nxp/k32w/k32w0/CHIPPlatformConfig.h
  src/platform/nxp/k32w/k32w0/FactoryDataProviderImpl.cpp
  src/platform/nxp/k32w/k32w0/FactoryDataProviderImpl.h
  src/platform/nxp/k32w/k32w0/LowPowerHooks.cpp
  src/platform/nxp/k32w/k32w0/OTAFactoryDataProcessor.cpp
  src/platform/nxp/k32w/k32w1/BUILD.gn
Labels: examples, platform, review - pending, fast track

#31159 For CFFI, remove variadic arguments
  src/controller/python/chip/clusters/Attribute.py
  src/controller/python/chip/clusters/Command.py
  src/controller/python/chip/clusters/attribute.cpp
  src/controller/python/chip/clusters/command.cpp
  src/controller/python/chip/interaction_model/Delegate.h
  src/controller/python/chip/interaction_model/__init__.py
  src/controller/python/chip/interaction_model/delegate.py
Labels: controller, review - pending, fast track

#31372 Add support for not complaining about abi changes in `provisional` clusters
  scripts/py_matter_idl/matter_idl/backwards_compatibility.py
  scripts/py_matter_idl/matter_idl/test_backwards_compatibility.py
Labels: scripts, review - approved

#31437 [ESP32] Implement GetSupportedWiFiBandsMask() API
  src/platform/ESP32/NetworkCommissioningDriver.cpp
  src/platform/ESP32/NetworkCommissioningDriver.h
Labels: platform, esp32, review - approved

#31390 [Telink] Remove define of CHIP_ADDRESS_RESOLVE_IMPL_INCLUDE_HEADER.
  config/telink/chip-module/CMakeLists.txt
  examples/air-quality-sensor-app/telink/CMakeLists.txt
  examples/all-clusters-app/telink/CMakeLists.txt
  examples/all-clusters-minimal-app/telink/CMakeLists.txt
  examples/bridge-app/telink/CMakeLists.txt
  examples/chef/telink/CMakeLists.txt
  examples/contact-sensor-app/telink/CMakeLists.txt
  examples/light-switch-app/telink/CMakeLists.txt
  examples/lighting-app/telink/CMakeLists.txt
  examples/lock-app/telink/CMakeLists.txt
  examples/ota-requestor-app/telink/CMakeLists.txt
  examples/platform/telink/common/src/AppTaskCommon.cpp
  examples/platform/telink/util/include/OTAUtil.h
  examples/platform/telink/util/src/OTAUtil.cpp
  examples/pump-app/telink/CMakeLists.txt
  examples/pump-controller-app/telink/CMakeLists.txt
  examples/shell/telink/CMakeLists.txt
  examples/smoke-co-alarm-app/telink/CMakeLists.txt
  examples/temperature-measurement-app/telink/CMakeLists.txt
  examples/thermostat/telink/CMakeLists.txt
  examples/window-app/telink/CMakeLists.txt
  src/platform/telink/BLEManagerImpl.h
  src/platform/telink/BUILD.gn
  src/platform/telink/args.gni
Labels: examples, platform, config, review - approved, telink

#31229 Rvc run mode add mapping mode tag
  examples/all-clusters-app/all-clusters-common/all-clusters-app.matter
  examples/chef/devices/rootnode_roboticvacuumcleaner_1807ff0c49.matter
  examples/rvc-app/rvc-common/rvc-app.matter
  src/app/zap-templates/zcl/data-model/chip/rvc-run-mode-cluster.xml
  src/controller/data_model/controller-clusters.matter
  src/controller/python/chip/clusters/Objects.py
  src/darwin/Framework/CHIP/zap-generated/MTRBaseClusters.h
  zzz_generated/app-common/app-common/zap-generated/cluster-enums.h
Labels: examples, darwin, controller, app, review - approved

#31438 ESP32: check ap info in IsStationConnected
  src/platform/ESP32/ESP32Utils.cpp
Labels: platform, esp32, review - pending, fast track

#31305 TC-OPCREDS-3.1: Implement in python
  src/app/tests/suites/certification/Test_TC_OPCREDS_3_1.yaml
  src/controller/python/chip/ChipDeviceCtrl.py
  src/python_testing/TC_OPCREDS_3_1.py
  src/python_testing/matter_testing_support.py
Labels: controller, app, review - pending, fast track, tests

#31444 [Tizen] Implement GetSupportedWiFiBandsMask() API
  src/platform/Tizen/NetworkCommissioningDriver.h
  src/platform/Tizen/NetworkCommissioningWiFiDriver.cpp
Labels: platform, review - pending, fast track, tizen

#31243 Update and add additional VALCC test scripts
  src/app/tests/suites/certification/PICS.yaml
  src/app/tests/suites/certification/Test_TC_VALCC_1_1.yaml
  src/app/tests/suites/certification/ci-pics-values
  src/python_testing/TC_VALCC_2_1.py
  src/python_testing/TC_VALCC_3_1.py
  src/python_testing/TC_VALCC_3_2.py
  src/python_testing/TC_VALCC_3_3.py
  src/python_testing/TC_VALCC_3_4.py
  src/python_testing/TC_VALCC_4_1.py
  src/python_testing/TC_VALCC_4_2.py
  src/python_testing/TC_VALCC_4_3.py
  src/python_testing/TC_VALCC_4_4.py
  src/python_testing/TC_VCC_2_1.py
Labels: app, review - approved, tests

#31445 Suppress output of `cd` when echoing path
  scripts/tools/zap/run_zaptool.sh
  scripts/tools/zap/zap_bootstrap.sh
Labels: scripts, review - approved

#31251 Feature/optional qr code info kotlin
  src/controller/java/src/matter/onboardingpayload/OnboardingPayload.kt
  src/controller/java/src/matter/onboardingpayload/OptionalQRCodeInfo.kt
  src/controller/java/src/matter/onboardingpayload/QRCodeOnboardingPayloadParser.kt
  src/controller/java/tests/matter/onboardingpayload/QRCodeTest.kt
Labels: controller, review - approved

#31328 Add supportedThreadFeatures, threadVersion and SupportedWiFiBands attributes to some reference apps
  examples/all-clusters-app/all-clusters-common/all-clusters-app.matter
  examples/all-clusters-app/all-clusters-common/all-clusters-app.zap
  examples/all-clusters-minimal-app/all-clusters-common/all-clusters-minimal-app.matter
  examples/all-clusters-minimal-app/all-clusters-common/all-clusters-minimal-app.zap
  examples/lighting-app/silabs/data_model/lighting-wifi-app.matter
  examples/lighting-app/silabs/data_model/lighting-wifi-app.zap
  src/app/clusters/network-commissioning/network-commissioning.cpp
Labels: examples, app, review - approved

#31459 Re-enable new Darwin storage API by default.
  src/darwin/Framework/CHIP/MTRDefines.h
Labels: darwin, review - approved

#31200 EVSE add Session and Event support, test event trigger support
  .github/.wordlist.txt
  examples/energy-management-app/energy-management-common/include/EVSECallbacks.h
  examples/energy-management-app/energy-management-common/include/EVSEManufacturerImpl.h
  examples/energy-management-app/energy-management-common/include/EnergyEvseDelegateImpl.h
  examples/energy-management-app/energy-management-common/include/EnergyEvseManager.h
  examples/energy-management-app/energy-management-common/src/EVSEManufacturerImpl.cpp
  examples/energy-management-app/energy-management-common/src/EnergyEvseDelegateImpl.cpp
  examples/energy-management-app/energy-management-common/src/EnergyEvseManager.cpp
  examples/energy-management-app/linux/README.md
  examples/energy-management-app/linux/include/CHIPProjectAppConfig.h
  examples/energy-management-app/linux/main.cpp
  examples/platform/linux/AppMain.cpp
  examples/platform/linux/BUILD.gn
  src/app/chip_data_model.gni
  src/app/clusters/energy-evse-server/EnergyEvseTestEventTriggerDelegate.cpp
  src/app/clusters/energy-evse-server/EnergyEvseTestEventTriggerDelegate.h
  src/app/clusters/energy-evse-server/energy-evse-server.cpp
  src/app/clusters/energy-evse-server/energy-evse-server.h
  src/python_testing/TC_EEVSE_2_2.py
  src/python_testing/TC_EEVSE_2_4.py
  src/python_testing/TC_EEVSE_2_5.py
  src/python_testing/TC_EEVSE_Utils.py
Labels: examples, platform, app, github, review - approved, app-clusters, tests, energy, energy evse

#31387 [Python] Reuse chip.native to get server lib handle
  src/controller/python/BUILD.gn
  src/controller/python/chip/ChipStack.py
  src/controller/python/chip/native/__init__.py
  src/controller/python/chip/server/ServerInit.cpp
  src/controller/python/chip/server/__init__.py
  src/controller/python/chip/server/types.py
Labels: controller, review - pending, fast track

#31455 Add TestOnlySendBatchCommands to chip-repl
  src/controller/python/chip/ChipDeviceCtrl.py
  src/controller/python/chip/clusters/Command.py
  src/controller/python/chip/clusters/command.cpp
  src/controller/python/chip/interaction_model/Delegate.h
  src/controller/python/chip/interaction_model/__init__.py
  src/controller/python/chip/interaction_model/delegate.py
Labels: controller, review - approved

#31486 Fix ToT: zap regen
  examples/light-switch-app/qpg/zap/switch.matter
  examples/thermostat/qpg/zap/thermostaticRadiatorValve.matter
Labels: hotfix, review - pending

#31485 Fix IM error when TimeRequest flag doesn't state of isTimedInvoke
  src/app/CommandHandler.cpp
  src/app/tests/TestCommandInteraction.cpp
  src/python_testing/TC_IDM_1_2.py
Labels: app, review - approved, tests

#30970 PICS checker test implementation
  src/python_testing/TC_TIMESYNC_2_1.py
  src/python_testing/TC_pics_checker.py
  src/python_testing/TestMatterTestingSupport.py
  src/python_testing/basic_composition_support.py
  src/python_testing/drlk_2_x_common.py
  src/python_testing/matter_testing_support.py
  src/python_testing/spec_parsing_support.py
Labels: review - approved, tests

#31409 SDK tutorial: turn into MD file
  .github/.wordlist.txt
  docs/cluster_and_device_type_dev/cluster_and_device_type_dev.md
  docs/cluster_and_device_type_dev/img/cluster_attribute_read.png
  docs/cluster_and_device_type_dev/img/cluster_commands.png
  docs/cluster_and_device_type_dev/img/cluster_initialization.png
  docs/cluster_and_device_type_dev/index.md
  docs/getting_started/SDKBasics.md
  docs/getting_started/discovery_from_a_host_computer.md
  docs/getting_started/img/SDK_layers.png
  docs/getting_started/img/ci_raw_logs.png
  docs/getting_started/img/zap1.png
  docs/getting_started/img/zap2.png
  docs/getting_started/img/zap3.png
  docs/getting_started/img/zap4.png
  docs/getting_started/img/zap5.png
  docs/getting_started/img/zap6.png
  docs/getting_started/img/zap_compiler.png
  docs/getting_started/index.md
  docs/getting_started/zap.md
  docs/index.md
Labels: documentation, github, review - approved

#31490 Switch rpc_console to ipython
  examples/common/pigweed/rpc_console/py/BUILD.gn
  examples/common/pigweed/rpc_console/py/chip_rpc/console.py
Labels: examples, review - pending, fast track

#31474 Move emberAfClusterInitCallback out from callback-stub.cpp
  build/chip/esp32/esp32_codegen.cmake
  examples/all-clusters-app/esp32/main/CMakeLists.txt
  scripts/py_matter_idl/files.gni
  scripts/py_matter_idl/matter_idl/generators/cpp/application/CallbackStubSource.jinja
  scripts/py_matter_idl/matter_idl/generators/cpp/application/ClusterInitCallbackSource.jinja
  scripts/py_matter_idl/matter_idl/generators/cpp/application/__init__.py
  scripts/py_matter_idl/matter_idl/tests/available_tests.yaml
  scripts/py_matter_idl/matter_idl/tests/outputs/large_all_clusters_app/cpp-app/callback-stub.cpp
  scripts/py_matter_idl/matter_idl/tests/outputs/large_all_clusters_app/cpp-app/cluster-init-callback.cpp
  scripts/py_matter_idl/matter_idl/tests/outputs/large_lighting_app/cpp-app/callback-stub.cpp
  scripts/py_matter_idl/matter_idl/tests/outputs/large_lighting_app/cpp-app/cluster-init-callback.cpp
  scripts/py_matter_idl/matter_idl/tests/outputs/several_clusters/cpp-app/callback-stub.cpp
  scripts/py_matter_idl/matter_idl/tests/outputs/several_clusters/cpp-app/cluster-init-callback.cpp
  scripts/py_matter_idl/setup.cfg
  src/app/chip_data_model.cmake
  src/app/chip_data_model.gni
Labels: examples, scripts, app, gn, review - approved

#25958 [Android] Fix crash when scan QR Code
  examples/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/SelectActionFragment.kt
Labels: examples, review - approved

#31491 [Android]Return CHIP_ERROR_INVALID_IPK when providing the invalid IPK from and…
  docs/ERROR_CODES.md
  src/controller/java/CHIPDeviceController-JNI.cpp
  src/lib/core/CHIPError.cpp
  src/lib/core/CHIPError.h
Labels: documentation, lib, controller, review - approved, core

#31340 [ICD] Add OnPeerTypeChange for dynamic ICD
  src/app/InteractionModelEngine.cpp
  src/app/InteractionModelEngine.h
  src/app/ReadClient.cpp
  src/app/ReadClient.h
  src/controller/tests/data_model/TestRead.cpp
Labels: documentation, lib, controller, app, review - approved, core

#31378 Enabling MoreChunkedMessages for Invoke Interaction
  src/app/BUILD.gn
  src/app/CommandHandler.cpp
  src/app/CommandHandler.h
  src/app/CommandResponseSender.cpp
  src/app/CommandResponseSender.h
  src/app/CommandSender.cpp
  src/app/CommandSender.h
  src/app/tests/TestCommandInteraction.cpp
Labels: app, review - approved, tests

#31458 Update skipped test step in IDM_1_4
  src/python_testing/TC_IDM_1_4.py
Labels: review - approved, tests

#31427 Move emAfLoadAttributeDefaults to private inside attribute-storage.cpp
  examples/all-clusters-app/all-clusters-common/all-clusters-app.matter
  examples/all-clusters-minimal-app/all-clusters-common/all-clusters-minimal-app.matter
  src/app/clusters/test-cluster-server/test-cluster-server.cpp
  src/app/util/attribute-storage.cpp
  src/app/util/attribute-storage.h
  src/app/zap-templates/zcl/data-model/chip/test-cluster.xml
  src/controller/data_model/controller-clusters.matter
  src/darwin/Framework/CHIP/zap-generated/MTRBaseClusters.h
Labels: examples, darwin, controller, app, review - approved

#31462 Remove the konOff feature
  examples/all-clusters-app/all-clusters-common/src/oven-modes.cpp
Labels: examples, review - approved

#31514 Fix android compile error: format strings differ between 32-bit and 64-bit
  src/controller/java/CHIPDeviceController-JNI.cpp
Labels: hotfix, controller

#31501 [Silabs] [Wi-Fi] [SiWx917] Added fix for slow advertisement on 917 NCP
  src/platform/silabs/rs911x/BLEManagerImpl.cpp
Labels: platform, review - approved, silabs

#31432 UDC handling and Commissioner Passcode TXT record
  examples/platform/linux/CommissioneeShellCommands.cpp
  examples/platform/linux/ControllerShellCommands.cpp
  examples/tv-app/android/java/MyUserPrompter-JNI.cpp
  examples/tv-app/android/java/MyUserPrompter-JNI.h
  examples/tv-app/android/java/MyUserPrompterResolver-JNI.cpp
  examples/tv-app/android/java/TVApp-JNI.cpp
  examples/tv-app/tv-common/include/CHIPProjectAppConfig.h
  examples/tv-app/tv-common/src/AppTv.cpp
  examples/tv-casting-app/linux/CastingShellCommands.cpp
  examples/tv-casting-app/tv-casting-common/BUILD.gn
  examples/tv-casting-app/tv-casting-common/clusters/content-app-observer/ContentAppObserver.cpp
  examples/tv-casting-app/tv-casting-common/clusters/content-app-observer/ContentAppObserver.h
  examples/tv-casting-app/tv-casting-common/core/CastingPlayer.cpp
  examples/tv-casting-app/tv-casting-common/src/CastingServer.cpp
  examples/tv-casting-app/tv-casting-common/src/ZCLCallbacks.cpp
  src/app/app-platform/ContentAppPlatform.cpp
  src/app/app-platform/ContentAppPlatform.h
  src/app/server/Dnssd.cpp
  src/app/server/Server.cpp
  src/app/server/Server.h
  src/controller/CommissionerDiscoveryController.cpp
  src/controller/CommissionerDiscoveryController.h
  src/include/platform/CHIPDeviceConfig.h
  src/lib/dnssd/Advertiser.h
  src/lib/dnssd/Advertiser_ImplMinimalMdns.cpp
  src/lib/dnssd/Discovery_ImplPlatform.cpp
  src/lib/dnssd/Resolver.h
  src/lib/dnssd/TxtFields.cpp
  src/lib/dnssd/TxtFields.h
  src/lib/dnssd/tests/TestTxtFields.cpp
  src/protocols/user_directed_commissioning/UDCClientState.h
  src/protocols/user_directed_commissioning/UserDirectedCommissioning.h
  src/protocols/user_directed_commissioning/UserDirectedCommissioningClient.cpp
  src/protocols/user_directed_commissioning/UserDirectedCommissioningServer.cpp
Labels: examples, platform, lib, controller, app, review - approved, protocols

#31457 [1.1] Cherry pick Thread DNS client and memory leak fixes
  src/app/DeferredAttributePersistenceProvider.cpp
  src/darwin/Framework/CHIP/MTRBaseDevice.mm
  src/lib/support/ScopedBuffer.h
  src/platform/OpenThread/GenericThreadStackManagerImpl_OpenThread.cpp
Labels: platform, darwin, lib, app, support

#31513 Added a scoped value changer, mainly for unit test usage
  src/lib/support/BUILD.gn
  src/lib/support/Scoped.h
  src/lib/support/tests/BUILD.gn
  src/lib/support/tests/TestScoped.cpp
Labels: lib, review - approved, support

#31487 Update Darwin availability annotations.
  src/darwin/Framework/CHIP/templates/availability.yaml
Labels: darwin, review - pending, fast track

#31452 Access checker: Improve write check support
  src/python_testing/TC_AccessChecker.py
  src/python_testing/TestSpecParsingSupport.py
  src/python_testing/spec_parsing_support.py
Labels: review - approved, tests

#31534 Disable chef build basicvideoplayer
  integrations/cloudbuild/chef.yaml
Labels: integrations, review - approved

#31496 Changed Energy Management example default build args to enable test event triggers
  examples/energy-management-app/linux/args.gni
Labels: examples, platform, review - approved

#31238 Added fabric, secure channel and cluster specfic traces for better tracing.
  src/app/clusters/administrator-commissioning-server/administrator-commissioning-server.cpp
  src/app/clusters/basic-information/basic-information.cpp
  src/app/clusters/bridged-device-basic-information-server/bridged-device-basic-information-server.cpp
  src/app/clusters/color-control-server/color-control-server.cpp
  src/app/clusters/groups-server/groups-server.cpp
  src/app/clusters/identify-server/identify-server.cpp
  src/app/clusters/level-control/level-control.cpp
  src/app/clusters/low-power-server/low-power-server.cpp
  src/app/clusters/mode-base-server/mode-base-server.cpp
  src/app/clusters/mode-select-server/mode-select-server.cpp
  src/app/clusters/on-off-server/on-off-server.cpp
  src/app/clusters/scenes-server/scenes-server.cpp
  src/app/clusters/wifi-network-diagnostics-server/wifi-network-diagnostics-server.cpp
  src/credentials/BUILD.gn
  src/credentials/FabricTable.cpp
  src/protocols/secure_channel/CASEServer.cpp
  src/protocols/secure_channel/CASESession.cpp
  src/protocols/secure_channel/PASESession.cpp
  src/tracing/esp32_trace/esp32_tracing.cpp
Labels: app, review - approved, protocols

#31535 Make UpTime attribute mandatory in ZAP RootNode
  src/app/zap-templates/zcl/data-model/chip/general-diagnostics-cluster.xml
  src/app/zap-templates/zcl/data-model/chip/matter-devices.xml
Labels: app, review - approved, TCR

#31522 Allowing null values to be set for SelectedDrynessLevel
  src/app/clusters/laundry-dryer-controls-server/laundry-dryer-controls-server.cpp
Labels: app, review - approved

#31542 Disable Chef build RVC device temporarily due to build broken
  integrations/cloudbuild/chef.yaml
Labels: integrations, review - approved

#31523 python testing: Add top-level PICS markers to all tests
  src/python_testing/TC_DRLK_2_12.py
  src/python_testing/TC_DRLK_2_2.py
  src/python_testing/TC_DRLK_2_3.py
  src/python_testing/TC_EEVSE_2_2.py
  src/python_testing/TC_EEVSE_2_4.py
  src/python_testing/TC_EEVSE_2_5.py
  src/python_testing/TC_FAN_3_3.py
  src/python_testing/TC_FAN_3_4.py
  src/python_testing/TC_FAN_3_5.py
  src/python_testing/TC_ICDM_2_1.py
  src/python_testing/TC_OPSTATE_2_1.py
  src/python_testing/TC_OPSTATE_2_3.py
  src/python_testing/TC_RVCCLEANM_1_2.py
  src/python_testing/TC_RVCCLEANM_2_1.py
  src/python_testing/TC_RVCCLEANM_3_2.py
  src/python_testing/TC_RVCOPSTATE_2_1.py
  src/python_testing/TC_RVCOPSTATE_2_3.py
  src/python_testing/TC_RVCRUNM_1_2.py
  src/python_testing/TC_RVCRUNM_2_1.py
  src/python_testing/TC_RVCRUNM_3_2.py
  src/python_testing/TC_TIMESYNC_2_1.py
  src/python_testing/TC_TIMESYNC_2_10.py
  src/python_testing/TC_TIMESYNC_2_11.py
  src/python_testing/TC_TIMESYNC_2_12.py
  src/python_testing/TC_TIMESYNC_2_13.py
  src/python_testing/TC_TIMESYNC_2_2.py
  src/python_testing/TC_TIMESYNC_2_4.py
  src/python_testing/TC_TIMESYNC_2_5.py
  src/python_testing/TC_TIMESYNC_2_6.py
  src/python_testing/TC_TIMESYNC_2_7.py
  src/python_testing/TC_TIMESYNC_2_8.py
  src/python_testing/TC_TIMESYNC_2_9.py
  src/python_testing/TC_TIMESYNC_3_1.py
Labels: review - approved, tests

#31549 time sync rename utctimechanged to utctimeavailabilitychanged
  examples/all-clusters-app/linux/ValveControlDelegate.cpp
  examples/all-clusters-app/linux/ValveControlDelegate.h
  src/app/clusters/time-synchronization-server/DefaultTimeSyncDelegate.cpp
  src/app/clusters/time-synchronization-server/DefaultTimeSyncDelegate.h
  src/app/clusters/time-synchronization-server/time-synchronization-delegate.h
  src/app/clusters/time-synchronization-server/time-synchronization-server.cpp
  src/app/clusters/time-synchronization-server/time-synchronization-server.h
Labels: examples, app, review - approved

#31556 Add all chef build excludes into re pattern to fix build broken
  integrations/cloudbuild/chef.yaml
Labels: review - pending, fast track

#31527 Add energy management and microwave oven apps to chip-cert-bins image
  integrations/docker/images/chip-cert-bins/Dockerfile
Labels: integrations, review - pending, fast track, docker

#31471 [Android] Fix crash in getConnectedDevicePointer
  src/controller/java/CHIPDeviceController-JNI.cpp
Labels: controller, review - approved

#31500 [ESP32] Fix lock app factory reseting in a loop on ESP32C3
  examples/lock-app/esp32/main/Button.cpp
Labels: examples, review - approved

#31566 Add size report gathering for stm32
  .github/workflows/examples-stm32.yaml
Labels: github, workflows, review - pending, fast track

#31306 Adding new device for Cook Surface. This is needed for the Cooktop De…
  src/app/zap-templates/zcl/data-model/chip/matter-devices.xml
  src/darwin/Framework/CHIP/zap-generated/MTRDeviceTypeMetadata.mm
Labels: darwin, controller, app, review - approved

#31564 TC-ACE-2.1/2: Fix test name, add steps for TH
  src/python_testing/TC_AccessChecker.py
Labels: review - pending, fast track, tests

#31516 Upon running out of space in InvokeResponseMessage for additional responses, allocate another
  src/app/CommandHandler.cpp
  src/app/CommandHandler.h
  src/app/CommandResponseSender.cpp
  src/app/CommandResponseSender.h
  src/app/tests/TestCommandInteraction.cpp
Labels: examples, app, review - approved, tests

#31531 Enable batch commands for the linux example all-clusters-app
  examples/all-clusters-app/linux/include/CHIPProjectAppConfig.h
  src/app/tests/suites/TestBasicInformation.yaml
Labels: examples, lib, app, review - approved, tests, core

#31529 Fix TE2 test cases
  examples/tv-app/android/java/OnOffManager.cpp
  examples/tv-app/tv-common/clusters/channel/ChannelManager.cpp
  examples/tv-app/tv-common/clusters/media-playback/MediaPlaybackManager.cpp
  examples/tv-app/tv-common/clusters/media-playback/MediaPlaybackManager.h
  src/app/clusters/media-playback-server/media-playback-server.cpp
Labels: examples, app, review - approved

#31476 [ESP32] Add esp32c6 to release bt memory after commissioned
  examples/all-clusters-app/esp32/sdkconfig.defaults.esp32c6
  examples/energy-management-app/esp32/sdkconfig.defaults.esp32c6
  examples/lighting-app/esp32/sdkconfig.defaults.esp32c6
  examples/lock-app/esp32/sdkconfig.defaults.esp32c6
  examples/platform/esp32/common/Esp32AppServer.cpp
Labels: examples, platform, review - approved

#31559 Fixes 31540 / 31543 Energy EVSE & DEM cluster xml (Events are 8bit not 16bit codes)
  src/app/zap-templates/zcl/data-model/chip/device-energy-management-cluster.xml
  src/app/zap-templates/zcl/data-model/chip/energy-evse-cluster.xml
Labels: app, review - approved

#31435 [Ameba] update LwIP and wifi API
  src/platform/Ameba/ConnectivityManagerImpl.cpp
Labels: platform, review - pending, fast track

#31118 Enforce that P256Keypair is not copyable
  src/crypto/CHIPCryptoPAL.h
Labels: crypto, review - approved

#31524 [ICD] Fix ordering issue when triggering a report on Active mode
  examples/lit-icd-app/linux/args.gni
  examples/lit-icd-app/silabs/openthread.gni
  examples/platform/silabs/BaseApplication.cpp
  src/app/clusters/icd-management-server/icd-management-server.cpp
  src/app/icd/BUILD.gn
  src/app/icd/ICDCheckInSender.cpp
  src/app/icd/ICDManager.cpp
  src/app/icd/ICDManager.h
  src/app/icd/ICDNotifier.cpp
  src/app/icd/ICDNotifier.h
  src/app/icd/icd.gni
  src/app/reporting/Engine.cpp
  src/app/reporting/ReportSchedulerImpl.cpp
  src/app/server/CommissioningWindowManager.cpp
  src/app/tests/TestICDManager.cpp
  src/messaging/ExchangeContext.cpp
  src/messaging/ReliableMessageMgr.cpp
Labels: examples, platform, app, review - approved, tests, icd, messaging

#31532 [TCR] Extended Announcement additions
  src/app/server/CommissioningWindowManager.h
  src/ble/CHIPBleServiceData.h
  src/include/platform/CHIPDeviceConfig.h
  src/platform/silabs/BLEManagerImpl.h
  src/platform/silabs/efr32/BLEManagerImpl.cpp
Labels: platform, ble, app, review - approved, silabs

#31572 Remove unused capture in sampleMEI cluster lambda which caused compilation failure due to warning
  src/app/clusters/sample-mei-server/sample-mei-server.cpp
Labels: app, review - pending, fast track

#31526 Fix DGGEN and TC-DGGEN-2.4 to latest spec
  src/app/clusters/general-diagnostics-server/general-diagnostics-server.cpp
  src/python_testing/TC_DGGEN_2_4.py
Labels: app, review - approved, tests

#31113 TC-IDM-4.2 python test
  .github/workflows/tests.yaml
  src/python_testing/TC_IDM_4_2.py
Labels: github, workflows, review - pending, fast track, tests

#30972 TC-ACE_1.5: Add
  .github/workflows/tests.yaml
  src/python_testing/TC_ACE_1_5.py
  src/python_testing/matter_testing_support.py
Labels: github, workflows, review - pending, fast track, tests

#31567 [cleanup] Remove unused constants and extern declare from attribute-storage.cpp
  src/app/util/attribute-storage.h
Labels: app, review - approved

#31484 [Silabs] Bugfixes for the WiFi 91x NCP and SoC combos
  third_party/silabs/silabs_board.gni
Labels: scripts, review - approved

#31598 fix: replace C-style initialization with correct C++ initialization
  src/platform/Linux/bluez/BluezConnection.h
Labels: platform, linux, review - approved
