Repository project-chip/connectedhomeip, pull requests merged in 2025-01, with the labels that each got.

#36945 [ESP32] Fixed the undef build failure on disabling test setup params option.
  src/platform/ESP32/CHIPDevicePlatformConfig.h
Labels: platform, esp32, review - approved

#36949 [Silabs] Add brd4357a support.
  src/platform/silabs/wifi/SiWx/WifiInterface.cpp
Labels: platform, review - approved, silabs

#36921 Add nullptr check for String TLV data with zero length
  src/lib/support/BufferWriter.cpp
Labels: lib, review - approved, support

#36936 Select least peer active session
  src/transport/SessionManager.cpp
  src/transport/tests/TestSessionManager.cpp
Labels: transport, review - approved

#36931 [NXP] Update NXP docker image
  integrations/docker/images/base/chip-build/version
  integrations/docker/images/stage-2/chip-build-nxp/Dockerfile
Labels: integrations, platform, review - approved, docker, nxp

#36948 [Telink] Update Docker image (Zephyr update)
  integrations/docker/images/base/chip-build/version
  integrations/docker/images/stage-2/chip-build-telink/Dockerfile
Labels: integrations, review - approved, docker

#36939 ESP32: report network status change only when IM engine and the data model provider is ready
  src/platform/ESP32/NetworkCommissioningDriver.cpp
Labels: platform, esp32, review - approved

#36951 [ESP32]: Backport the the undef build failure fix on v1.4-branch.
  src/platform/ESP32/CHIPDevicePlatformConfig.h
Labels: platform, esp32

#36946 [Telink] Add Tercel A1 (TL721x) support & Update builds to docker version 97
  .github/workflows/bloat_check.yaml
  .github/workflows/build.yaml
  .github/workflows/chef.yaml
  .github/workflows/doxygen.yaml
  .github/workflows/examples-ameba.yaml
  .github/workflows/examples-asr.yaml
  .github/workflows/examples-bouffalolab.yaml
  .github/workflows/examples-cc13xx_26xx.yaml
  .github/workflows/examples-cc32xx.yaml
  .github/workflows/examples-esp32.yaml
  .github/workflows/examples-infineon.yaml
  .github/workflows/examples-linux-arm.yaml
  .github/workflows/examples-linux-imx.yaml
  .github/workflows/examples-linux-standalone.yaml
  .github/workflows/examples-linux-tv-casting-app.yaml
  .github/workflows/examples-mw320.yaml
  .github/workflows/examples-nrfconnect.yaml
  .github/workflows/examples-nuttx.yaml
  .github/workflows/examples-nxp.yaml
  .github/workflows/examples-openiotsdk.yaml
  .github/workflows/examples-qpg.yaml
  .github/workflows/examples-stm32.yaml
  .github/workflows/examples-telink.yaml
  .github/workflows/examples-tizen.yaml
  .github/workflows/full-android.yaml
  .github/workflows/fuzzing-build.yaml
  .github/workflows/java-tests.yaml
  .github/workflows/lint.yml
  .github/workflows/minimal-build.yaml
  .github/workflows/qemu.yaml
  .github/workflows/release_artifacts.yaml
  .github/workflows/smoketest-android.yaml
  .github/workflows/tests.yaml
  .github/workflows/unit_integration_test.yaml
  .github/workflows/zap_regeneration.yaml
  .github/workflows/zap_templates.yaml
  config/telink/chip-module/Kconfig.defaults
  examples/all-clusters-app/ameba/README.md
  examples/all-clusters-minimal-app/ameba/README.md
  examples/fabric-admin/README.md
  examples/fabric-bridge-app/linux/README.md
  examples/fabric-sync/README.md
  examples/light-switch-app/ameba/README.md
  examples/lighting-app/ameba/README.md
  examples/ota-requestor-app/ameba/README.md
  examples/pigweed-app/ameba/README.md
  integrations/cloudbuild/chef.yaml
  integrations/cloudbuild/smoke-test.yaml
  scripts/build/build/targets.py
  scripts/build/builders/telink.py
  scripts/build/testdata/all_targets_linux_x64.txt
  src/platform/telink/tl7218x_2m_flash.overlay
Labels: examples, scripts, integrations, platform, config, github, workflows, review - pending, telink, fast track

#36944 [bouffalo lab] fix crash issues in route hook and rpc uart driver mod…
  examples/platform/bouffalolab/bl602/lwipopts/lwipopts.h
  examples/platform/bouffalolab/common/route_hook/bl_route_hook.c
  examples/platform/bouffalolab/common/rpc/pw_sys_io/sys_io.cc
Labels: examples, platform, review - pending, fast track

#36960 [Silabs] Update Refrigerator README
  examples/refrigerator-app/silabs/README.md
Labels: examples, review - approved

#36952 [ESP32] Modify Return Error Code for GetLogForIntent() method in DiagnosticLogsProviderDelegate
  examples/temperature-measurement-app/esp32/main/diagnostic-logs-provider-delegate-impl.cpp
  src/app/clusters/diagnostic-logs-server/DiagnosticLogsProviderDelegate.h
Labels: examples, app, review - approved

#36947 [FIX] Changing Wheels Path Of The Chip-Cert-Bins Dockerfile
  integrations/docker/images/chip-cert-bins/Dockerfile
Labels: integrations, review - pending, fast track, docker

#36942 generate.py: fix build on 32 bit system
  scripts/tools/zap/generate.py
Labels: scripts, review - approved

#36969 Improve python test for TC_DGSW_2_1
  src/python_testing/TC_DGSW_2_1.py
Labels: review - approved, tests, matter-1.4-te2-script-change

#36918 Implement python test for TC_DGSW_2_3
  src/python_testing/TC_DGSW_2_3.py
Labels: review - approved, tests, matter-1.4-te2-script-change

#36983 [v1.4] Select least peer active session
  src/transport/SessionManager.cpp
  src/transport/tests/TestSessionManager.cpp
Labels: transport

#36703 TC-TCTL-2.3 python test
  .github/workflows/tests.yaml
  src/python_testing/TC_TCTL_2_3.py
Labels: github, workflows, review - pending, fast track, tests, matter-1.4-te2-script-change

#36993 Remove matter-1.4-te2-script-change label
  .github/labeler.yml
Labels: github, review - approved

#36991 Run Python test scripts with fault handler enabled
  scripts/tests/run_python_test.py
Labels: scripts, review - pending, fast track

#36984 [v1.3] Select least peer active session
  src/transport/SessionManager.cpp
  src/transport/tests/TestSessionManager.cpp
Labels: transport

#36997 [TC_DGSW] Simplify Validation Assertions
  src/python_testing/TC_DGSW_2_1.py
  src/python_testing/TC_DGSW_2_3.py
Labels: review - approved, tests, matter-1.4-te2-script-change

#36957 [Android][Java] Add ota test in java example app
  .github/workflows/java-tests.yaml
  examples/java-matter-controller/BUILD.gn
  examples/java-matter-controller/Manifest.txt
  examples/java-matter-controller/java/src/com/matter/controller/Main.kt
  examples/java-matter-controller/java/src/com/matter/controller/commands/ota/PairOnNetworkLongOtaOverBdxCommand.kt
  examples/java-matter-controller/java/src/com/matter/controller/commands/pairing/PairOnNetworkLongImExtendableInvokeCommand.kt
  scripts/tests/java/ota_test.py
  scripts/tests/java/test-firmware.bin
  scripts/tests/java/test-firmware.ota
  scripts/tests/run_java_test.py
  src/controller/java/CHIPDeviceController-JNI.cpp
Labels: examples, scripts, controller, github, workflows, review - approved

#37013 Enforce `### Testing` section in pull requests and check that the starter instructions were deleted/replaced
  .github/.wordlist.txt
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/cancel_workflows_for_pr.yaml
  .github/workflows/pr-validation.yaml
  CONTRIBUTING.md
Labels: documentation, github, workflows, review - approved

#36979 Add separate knob for TCP server listen enabling.
  src/app/server/Dnssd.cpp
  src/app/server/Dnssd.h
  src/app/server/Server.cpp
  src/app/server/Server.h
  src/controller/CHIPDeviceControllerFactory.cpp
  src/controller/CHIPDeviceControllerSystemState.h
  src/transport/TransportMgrBase.cpp
  src/transport/TransportMgrBase.h
  src/transport/raw/Base.h
  src/transport/raw/TCP.cpp
  src/transport/raw/TCP.h
  src/transport/raw/Tuple.h
  src/transport/raw/tests/TestTCP.cpp
Labels: transport, controller, app, review - approved

#36999 [Android] Implement Mode Select fragment in Chiptool
  examples/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/SelectActionFragment.kt
  examples/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/clusterclient/ModeSelectClientFragment.kt
  examples/android/CHIPTool/app/src/main/res/layout/mode_select_fragment.xml
  examples/android/CHIPTool/app/src/main/res/layout/select_action_fragment.xml
  examples/android/CHIPTool/app/src/main/res/values/strings.xml
Labels: examples, review - approved

#36976 [Tizen] Forward stderr from Tizen Studio CLI tool
  scripts/tools/bouffalolab/generate_factory_data.py
  scripts/tools/zap_regen_all.py
  third_party/tizen/tizen_dev_certificate.py
Labels: scripts, review - pending, fast track, changing-submodules-on-purpose

#37026 Do not cancel PRs for `PR validity` checks
  .github/workflows/cancel_workflows_for_pr.yaml
Labels: github, workflows, review - pending, fast track

#37028 Remove unintended comment in command-line of README
  examples/java-matter-controller/README.md
Labels: examples, review - pending, fast track

#37019 [v1.4-cherrypick] Fix reads on the group key management cluster to handle chunking correctly
  src/app/clusters/group-key-mgmt-server/group-key-mgmt-server.cpp
  src/app/tests/suites/TestGroupKeyManagementCluster.yaml
Labels: app, tests

#37020 [v1.3-cherrypick] Fix reads on the group key management cluster to handle chunking correctly
  src/app/clusters/group-key-mgmt-server/group-key-mgmt-server.cpp
  src/app/tests/suites/TestGroupKeyManagementCluster.yaml
Labels: app, tests

#36956 Make `DecodeMRPParametersIfPresent()` and `ParseSigma1()` methods static + fix for TLV reading corner case
  src/protocols/secure_channel/CASESession.cpp
  src/protocols/secure_channel/CASESession.h
  src/protocols/secure_channel/PASESession.cpp
  src/protocols/secure_channel/PairingSession.cpp
  src/protocols/secure_channel/PairingSession.h
  src/protocols/secure_channel/tests/TestCASESession.cpp
  src/protocols/secure_channel/tests/TestPairingSession.cpp
Labels: review - approved, protocols

#36900 Implement python test for TC_DGSW_2_2
  examples/all-clusters-app/all-clusters-common/src/software-diagnostics-stub.cpp
  examples/all-clusters-app/linux/BUILD.gn
  examples/all-clusters-app/linux/args.gni
  examples/platform/linux/AppMain.cpp
  examples/platform/linux/BUILD.gn
  src/app/clusters/software-diagnostics-server/SoftwareDiagnosticsTestEventTriggerHandler.h
  src/python_testing/TC_DGSW_2_2.py
Labels: examples, scripts, platform, linux, app, github, workflows, review - approved, tests, matter-1.4-te2-script-change

#37022 Darwin: mark `copyPublicKey` as `CF_RETURNS_RETAINED`
  src/darwin/Framework/CHIP/MTRKeypair.h
  src/darwin/Framework/CHIPTests/MTRSwiftCertificateTests.swift
  src/darwin/Framework/Matter.xcodeproj/project.pbxproj
Labels: darwin, review - pending, fast track

#37030 PR validation: write the pullrequest body as a separate file and an end marker
  .github/workflows/pr-validation.yaml
Labels: github, workflows, review - approved

#37027 Update PR template to contain the testing header pre-filled
  .github/PULL_REQUEST_TEMPLATE.md
Labels: github, review - approved

#37029 Spell judgement as judgment to make en-US spell checker happy without a wordlist
  .github/.wordlist.txt
  CONTRIBUTING.md
  src/app/clusters/time-synchronization-server/time-synchronization-server.cpp
Labels: documentation, app, github, review - approved

#36906 Remove default Event scheduler pointer in EventManagement
  src/app/EventManagement.cpp
  src/app/EventManagement.h
  src/app/server/Server.cpp
Labels: app, review - approved

#37018 Network manager conformance fixes
  examples/network-manager-app/network-manager-common/network-manager-app.matter
  examples/network-manager-app/network-manager-common/network-manager-app.zap
Labels: examples, review - approved

#36980 Separate out `AttributePathExpandIterator::Position`
  src/app/AttributePathExpandIterator.cpp
  src/app/AttributePathExpandIterator.h
  src/app/BUILD.gn
  src/app/InteractionModelEngine.cpp
  src/app/ReadHandler.cpp
  src/app/ReadHandler.h
  src/app/SubscriptionResumptionSessionEstablisher.cpp
  src/app/reporting/Engine.cpp
  src/app/tests/TestAttributePathExpandIterator.cpp
  src/app/tests/TestInteractionModelEngine.cpp
  src/app/tests/TestReadInteraction.cpp
  src/app/tests/TestReportScheduler.cpp
  src/app/tests/TestReportingEngine.cpp
Labels: examples, app, review - approved, tests

#37017 Make chip::Optional be trivially destructible if the underlying type is.
  examples/energy-management-app/energy-management-common/device-energy-management/src/DEMTestEventTriggers.cpp
  src/app/clusters/valve-configuration-and-control-server/valve-configuration-and-control-server.cpp
  src/lib/core/Optional.h
  src/lib/core/tests/TestOptional.cpp
Labels: examples, lib, app, review - approved, core

#37014 fix: Invert boolean return in GetAcknowledgementsRequest
  src/app/server/DefaultTermsAndConditionsProvider.cpp
Labels: app, review - approved

#37039 Update ZAP version
  scripts/setup/zap.json
  scripts/setup/zap.version
  scripts/tools/zap/zap_execution.py
Labels: scripts, review - approved, cameras

#37032 Return empty thread route table when thread network is not up
  src/app/clusters/thread-network-diagnostics-server/thread-network-diagnostics-provider.cpp
Labels: app, review - approved

#37024 [NXP] cli and zap fixes
  examples/thermostat/nxp/zap/thermostat_matter_br.matter
  examples/thermostat/nxp/zap/thermostat_matter_br.zap
  examples/thermostat/nxp/zap/thermostat_matter_thread.matter
  examples/thermostat/nxp/zap/thermostat_matter_thread.zap
  examples/thermostat/nxp/zap/thermostat_matter_wifi.matter
  examples/thermostat/nxp/zap/thermostat_matter_wifi.zap
  src/lib/shell/streamer_nxp.cpp
  src/platform/nxp/common/Logging.cpp
Labels: examples, platform, lib, review - approved, shell, nxp

#37059 [ESP32]fix crash issue which caused by data model init after thread stack init in examples
  examples/all-clusters-app/esp32/main/main.cpp
  examples/all-clusters-minimal-app/esp32/main/main.cpp
  examples/energy-management-app/esp32/main/main.cpp
  examples/light-switch-app/esp32/main/main.cpp
  examples/lighting-app/esp32/main/main.cpp
  examples/lit-icd-app/esp32/main/main.cpp
  examples/thread-br-app/esp32/main/main.cpp
Labels: examples, review - pending, fast track

#37063 Fix GH Actions job to run on Ubuntu 24.04
  .github/workflows/cancel_workflows_for_pr.yaml
  .github/workflows/docbuild.yaml
  .github/workflows/protocol_compatibility.yaml
Labels: github, workflows, review - approved

#36767 TC-TCCM Python Migration
  src/python_testing/TC_TCCM_1_2.py
  src/python_testing/modebase_cluster_check.py
  src/python_testing/test_metadata.yaml
Labels: review - pending, fast track, tests, matter-1.4-te2-script-change

#37055 [Silabs] Add OTA support for series3
  examples/platform/silabs/SoftwareFaultReports.cpp
  src/platform/silabs/CHIPDevicePlatformConfig.h
  src/platform/silabs/OTAImageProcessorImpl.h
  src/platform/silabs/efr32/OTAImageProcessorImpl.cpp
Labels: examples, platform, review - approved, silabs

#37056 tv-casting-app fix double call to OnCompleted() on connection success
  examples/tv-casting-app/APIs.md
  examples/tv-casting-app/android/App/app/src/main/java/com/matter/casting/ConnectionExampleFragment.java
  examples/tv-casting-app/android/README.md
  examples/tv-casting-app/darwin/TvCasting/README.md
  examples/tv-casting-app/linux/README.md
  examples/tv-casting-app/linux/simple-app-helper.cpp
  examples/tv-casting-app/tv-casting-common/support/ChipDeviceEventHandler.cpp
  examples/tv-casting-app/tv-casting-common/support/EndpointListLoader.cpp
Labels: documentation, examples, review - approved

#37050 Restore original order of transports in TransportMgr.
  src/app/server/Server.cpp
  src/app/server/Server.h
  src/controller/CHIPDeviceControllerFactory.cpp
  src/controller/CHIPDeviceControllerSystemState.h
  src/transport/TransportMgrBase.cpp
  src/transport/TransportMgrBase.h
  src/transport/raw/Base.h
  src/transport/raw/TCP.cpp
  src/transport/raw/TCP.h
  src/transport/raw/Tuple.h
  src/transport/raw/tests/TestTCP.cpp
Labels: transport, controller, app, review - approved

#37064 [Silabs ] Typo fix thermostat app
  examples/thermostat/silabs/README.md
Labels: examples

#36966 Remove [commissioner] redundant TC acknowledgement flag
  examples/chip-tool/commands/pairing/PairingCommand.cpp
  examples/chip-tool/commands/pairing/PairingCommand.h
  src/controller/CHIPDeviceController.cpp
  src/controller/CommissioningDelegate.h
  src/controller/python/ChipDeviceController-ScriptBinding.cpp
  src/controller/python/chip/ChipDeviceCtrl.py
  src/python_testing/matter_testing_infrastructure/chip/testing/matter_testing.py
Labels: tools, examples, controller, review - approved, tests

#36871 Update YAML file Test_TC_OPCREDS_3_7
  src/app/tests/suites/certification/Test_TC_OPCREDS_3_7.yaml
Labels: app, fast track, tests, matter-1.4-te2-script-change

#37035 [Silabs] Clean up WifiInterface public APIs
  scripts/examples/gn_silabs_example.sh
  src/platform/silabs/ConnectivityManagerImpl_WIFI.cpp
  src/platform/silabs/NetworkCommissioningWiFiDriver.cpp
  src/platform/silabs/wifi/SiWx/WifiInterfaceImpl.cpp
  src/platform/silabs/wifi/WifiInterface.h
  src/platform/silabs/wifi/rs911x/WifiInterfaceImpl.cpp
  src/platform/silabs/wifi/wf200/WifiInterfaceImpl.cpp
  src/platform/silabs/wifi/wiseconnect-interface/WiseconnectWifiInterface.cpp
Labels: scripts, platform, review - approved, silabs

#37058 [ESP32]: increment the total operational hours inline without log
  src/platform/ESP32/ConfigurationManagerImpl.cpp
  src/platform/ESP32/ESP32Config.h
Labels: platform, esp32, review - approved

#36915 python framework: Fix warning on asyncio not awaited
  src/python_testing/matter_testing_infrastructure/chip/testing/matter_testing.py
Labels: review - approved, tests

#36950 feat: Add terms-and-conditions sample app for CI testing
  docs/issue_triage.md
  examples/terms-and-conditions-app/linux/.gn
  examples/terms-and-conditions-app/linux/BUILD.gn
  examples/terms-and-conditions-app/linux/args.gni
  examples/terms-and-conditions-app/linux/build_overrides
  examples/terms-and-conditions-app/linux/main.cpp
  examples/terms-and-conditions-app/linux/third_party/connectedhomeip
  examples/terms-and-conditions-app/terms-and-conditions-common/BUILD.gn
  examples/terms-and-conditions-app/terms-and-conditions-common/terms-and-conditions-app.matter
  examples/terms-and-conditions-app/terms-and-conditions-common/terms-and-conditions-app.zap
  scripts/build/build/targets.py
  scripts/build/builders/host.py
  scripts/build/testdata/all_targets_linux_x64.txt
  src/app/clusters/general-commissioning-server/general-commissioning-server.cpp
Labels: documentation, examples, scripts, app, review - approved

#36964 [Silabs] Provision: Dynamic buffer allocation.
  examples/platform/silabs/provision/ProvisionStorageCustom.cpp
  examples/platform/silabs/provision/ProvisionStorageDefault.cpp
  src/platform/silabs/efr32/CHIPCryptoPALPsaEfr32.cpp
  src/platform/silabs/provision/ProvisionEncoder.h
  src/platform/silabs/provision/ProvisionStorage.h
Labels: examples, platform, review - approved, silabs

#37067 [bouffalo lab] Update Bouffalo Lab platform documents
  docs/platforms/bouffalolab/getting_started.md
  docs/platforms/bouffalolab/index.md
  docs/platforms/bouffalolab/ota_upgrade.md
  docs/platforms/bouffalolab/platform_overview.md
  docs/platforms/bouffalolab/rpc_console.md
  examples/contact-sensor-app/bouffalolab/README.md
  examples/lighting-app/bouffalolab/README.md
  examples/lighting-app/bouffalolab/bl702l/with_pw_rpc.gni
Labels: documentation, examples, scripts, platform, lib, github, workflows, review - approved, shell

#36720 TC-WASHERCTRL-2.1 Python migration
  src/python_testing/TC_WASHERCTRL_2_1.py
Labels: review - pending, fast track, tests, matter-1.4-te2-script-change

#37043 Implement python test for TC_DGWIFI_2_1
  src/python_testing/TC_DGWIFI_2_1.py
Labels: review - approved, tests

#37065 Patch unsafe strlen in TLVWriter
  src/lib/core/TLVWriter.cpp
  src/lib/core/tests/TestTLV.cpp
Labels: lib, review - approved, core

#37057 Implement test plan TC_DGWIFI_2_3
  src/python_testing/TC_DGWIFI_2_3.py
Labels: review - approved, tests

#36985 ESP32: Fix dependency of esp_secure_cert_mgr
  config/esp32/components/chip/CMakeLists.txt
  src/platform/ESP32/ESP32EndpointQueueFilter.h
Labels: platform, esp32, config, review - approved

#37082 [nrfconnect] Update nRF Connect SDK version in Docker to 2.9.0
  integrations/docker/images/base/chip-build/version
  integrations/docker/images/stage-2/chip-build-nrf-platform/Dockerfile
Labels: integrations, review - approved, docker

#37007 [Zephyr] Add implementation of POSIX API wrappers if necessary
  config/zephyr/Kconfig
  src/include/platform/internal/GenericPlatformManagerImpl_Zephyr.h
  src/inet/BUILD.gn
  src/inet/IPAddress.h
  src/inet/UDPEndPointImplSockets.cpp
  src/inet/ZephyrSocket.h
  src/system/BUILD.gn
  src/system/SystemClock.h
  src/system/SystemConfig.h
  src/system/SystemLayerImplSelect.h
Labels: system, platform, nrf connect, zephyr, inet, config, review - approved, test driver, nxp

#37068 [v1.3][ESP32]: increment the total operational hours inline without log (#37058)
  src/platform/ESP32/ConfigurationManagerImpl.cpp
  src/platform/ESP32/ESP32Config.h
Labels: platform, esp32

#37069 [v1.4][ESP32]: increment the total operational hours inline without log (#37058)
  src/platform/ESP32/ConfigurationManagerImpl.cpp
  src/platform/ESP32/ESP32Config.h
Labels: platform, esp32

#37054 Changes for DeviceConformance in the Thermostat-app
  examples/thermostat/thermostat-common/thermostat.matter
  examples/thermostat/thermostat-common/thermostat.zap
Labels: examples, review - pending, fast track

#37047 TC-TCTL-2.3: Remove yaml
  src/app/tests/suites/certification/Test_TC_TCTL_2_3.yaml
  src/app/tests/suites/ciTests.json
Labels: app, review - pending, fast track, tests

#37010 [Silabs] Fix SoC build if disable button and led
  examples/platform/silabs/MatterConfig.cpp
  src/platform/silabs/SiWx917/SiWxPlatformInterface.h
  src/platform/silabs/platformAbstraction/WiseMcuSpam.cpp
Labels: examples, platform, review - approved, silabs

#37073 [ESP32]Init openthread stack after server init in example
  examples/all-clusters-app/esp32/main/main.cpp
  examples/all-clusters-minimal-app/esp32/main/main.cpp
  examples/energy-management-app/esp32/main/main.cpp
  examples/light-switch-app/esp32/main/main.cpp
  examples/lighting-app/esp32/main/main.cpp
  examples/lit-icd-app/esp32/main/main.cpp
  examples/platform/esp32/common/Esp32AppServer.cpp
  examples/thread-br-app/esp32/main/main.cpp
Labels: examples, platform, esp32, review - approved

#37079 [Silabs] Bugfix/silabs out rtt removal
  third_party/silabs/SiWx917_sdk.gni
  third_party/silabs/efr32_sdk.gni
Labels: review - approved, changing-submodules-on-purpose

#36801 Renaming prior to the delivery of the work about "NFC Commissioning".
  config/nrfconnect/chip-module/CMakeLists.txt
  config/nrfconnect/chip-module/Kconfig
  config/nrfconnect/chip-module/Kconfig.defaults
  config/qpg/chip-gn/args.gni
  config/telink/chip-module/CMakeLists.txt
  config/telink/chip-module/Kconfig
  docs/platforms/nrf/nrfconnect_examples_configuration.md
  examples/all-clusters-app/nrfconnect/main/AppTask.cpp
  examples/all-clusters-minimal-app/nrfconnect/main/AppTask.cpp
  examples/contact-sensor-app/nxp/k32w0/main/AppTask.cpp
  examples/contact-sensor-app/nxp/k32w1/include/config/CHIPProjectConfig.h
  examples/contact-sensor-app/nxp/mcxw71/include/config/CHIPProjectConfig.h
  examples/light-switch-app/nrfconnect/main/AppTask.cpp
  examples/lighting-app/nrfconnect/main/AppTask.cpp
  examples/lighting-app/nxp/k32w0/main/AppTask.cpp
  examples/lighting-app/nxp/k32w1/include/config/CHIPProjectConfig.h
  examples/lighting-app/nxp/mcxw71/include/config/CHIPProjectConfig.h
  examples/lighting-app/telink/prj.conf
  examples/lit-icd-app/nrfconnect/main/AppTask.cpp
  examples/lock-app/nrfconnect/main/AppTask.cpp
  examples/lock-app/nxp/k32w/k32w0/main/AppTask.cpp
  examples/lock-app/nxp/k32w1/include/config/CHIPProjectConfig.h
  examples/lock-app/nxp/mcxw71/include/config/CHIPProjectConfig.h
  examples/platform/telink/common/src/AppTaskCommon.cpp
  examples/pump-app/nrfconnect/main/AppTask.cpp
  examples/pump-controller-app/nrfconnect/main/AppTask.cpp
  examples/shell/nrfconnect/prj.conf
  examples/window-app/nrfconnect/main/AppTask.cpp
  src/app/server/OnboardingCodesUtil.cpp
  src/include/platform/CHIPDeviceConfig.h
  src/include/platform/CHIPDeviceLayer.h
  src/include/platform/NFCOnboardingPayloadManager.h
  src/include/platform/internal/GenericPlatformManagerImpl.ipp
  src/lib/shell/Engine.cpp
  src/lib/shell/commands/BUILD.gn
  src/lib/shell/commands/NFC.cpp
  src/platform/BUILD.gn
  src/platform/Zephyr/BUILD.gn
  src/platform/Zephyr/NFCOnboardingPayloadManagerImpl.cpp
  src/platform/Zephyr/NFCOnboardingPayloadManagerImpl.h
  src/platform/device.gni
  src/platform/nrfconnect/BUILD.gn
  src/platform/nrfconnect/NFCOnboardingPayloadManagerImpl.h
  src/platform/nxp/common/ble/BLEManagerCommon.cpp
  src/platform/nxp/k32w0/BUILD.gn
  src/platform/nxp/k32w0/NFCOnboardingPayloadManagerImpl.cpp
  src/platform/nxp/k32w0/NFCOnboardingPayloadManagerImpl.h
  src/platform/stm32/args.gni
  src/platform/telink/BUILD.gn
  src/platform/telink/NFCOnboardingPayloadManagerImpl.cpp
  src/platform/telink/NFCOnboardingPayloadManagerImpl.h
Labels: documentation, examples, platform, nrf connect, zephyr, lib, app, config, review - approved, telink, shell, nxp

#37081 controller: fix build when disabling TCP
  src/controller/CHIPDeviceControllerFactory.cpp
Labels: controller, review - approved

#37053 Add a test that exercises receiving an invalid WriteRequest message.
  src/app/tests/TestWriteInteraction.cpp
Labels: app, review - approved, tests

#36610 [Silabs] Adds fix for hardfault in SiWx917 SoC and generator firmware updates
  examples/platform/silabs/ldscripts/SiWx917-common.ld
  examples/platform/silabs/provision/ProvisionStorageFlash.cpp
  src/platform/silabs/provision/AttestationKey.h
  third_party/silabs/SiWx917_sdk.gni
Labels: examples, platform, review - approved, silabs, changing-submodules-on-purpose

#37046 Implement python test for TC_DGWIFI_2_2
  examples/all-clusters-app/all-clusters-common/src/wifi-diagnostics-stub.cpp
  examples/all-clusters-app/linux/BUILD.gn
  examples/all-clusters-app/linux/args.gni
  examples/platform/linux/AppMain.cpp
  examples/platform/linux/BUILD.gn
  src/app/clusters/wifi-network-diagnostics-server/WiFiDiagnosticsTestEventTriggerHandler.h
  src/app/clusters/wifi-network-diagnostics-server/wifi-network-diagnostics-server.cpp
  src/app/clusters/wifi-network-diagnostics-server/wifi-network-diagnostics-server.h
  src/python_testing/TC_DGWIFI_2_2.py
Labels: examples, platform, linux, app, review - approved, tests

#37086 [FIX] Changing Wheels Path Of The Dockerfile
  integrations/docker/images/chip-cert-bins/Dockerfile
Labels: integrations, docker

#37038 Fix app conformance failures: chip-lock-app [Fixes #36824]
  examples/lock-app/lock-common/lock-app.matter
  examples/lock-app/lock-common/lock-app.zap
Labels: examples, review - pending, fast track

#37087 Make timeouts in ResetCommisionnee log the node ID involved.
  src/darwin/Framework/CHIPTests/MTRPerControllerStorageTests.m
  src/darwin/Framework/CHIPTests/MTRSwiftDeviceTests.swift
  src/darwin/Framework/CHIPTests/TestHelpers/MTRTestResetCommissioneeHelper.h
  src/darwin/Framework/CHIPTests/TestHelpers/MTRTestResetCommissioneeHelper.m
Labels: darwin, review - pending, fast track

#37090 Log cluster/command names in MTRBaseDevice invoke.
  src/darwin/Framework/CHIP/MTRBaseDevice.mm
Labels: darwin, review - pending, fast track

#37093 Reduce the amount of per-instantiation logic in EncodeListItem.
  src/app/AttributeValueEncoder.cpp
  src/app/AttributeValueEncoder.h
Labels: app, review - approved

#37085 Wait (block) for the SoftwareFault event instead of asleep
  src/python_testing/TC_DGSW_2_2.py
Labels: review - approved, tests

#37091 Move Testing section to above instructions in PR template.
  .github/PULL_REQUEST_TEMPLATE.md
Labels: github, review - approved

#36986 [Silabs] Enabling brd4342a board support for matter
  scripts/build/build/targets.py
  scripts/build/builders/efr32.py
  scripts/build/testdata/all_targets_linux_x64.txt
  scripts/examples/gn_silabs_example.sh
  third_party/silabs/silabs_board.gni
Labels: scripts, review - approved, changing-submodules-on-purpose

#37071 Shutdown subscriptions before shutting down CHIP stack
  src/controller/python/chip/ChipDeviceCtrl.py
  src/controller/python/chip/ChipStack.py
  src/controller/python/chip/clusters/Attribute.py
  src/controller/python/test/test_scripts/base.py
  src/python_testing/TC_ACE_1_2.py
Labels: controller, review - approved, tests

#36933 da_revocation: function out generation of revocation set from the crl
  .github/workflows/build.yaml
  credentials/generate_revocation_set.py
  credentials/test/revoked-attestation-certificates/revocation-sets/revocation-set-for-paa.json
  credentials/test/revoked-attestation-certificates/revocation-sets/revocation-set-for-pai.json
  scripts/setup/requirements.build.txt
Labels: scripts, github, workflows, review - approved

#37100 Fix typo in doc comment for CHIP_CONFIG_MAX_GROUP_KEYS_PER_FABRIC
  src/lib/core/CHIPConfig.h
Labels: lib, review - approved, core

#37062 icd management: make the feature map and operating mode managed by AAI
  examples/contact-sensor-app/bouffalolab/data_model/contact-sensor-app.matter
  examples/contact-sensor-app/nxp/zap-lit/contact-sensor-app.matter
  examples/contact-sensor-app/nxp/zap-sit/contact-sensor-app.matter
  examples/light-switch-app/light-switch-common/icd-lit-light-switch-app.matter
  examples/light-switch-app/light-switch-common/light-switch-app.matter
  examples/light-switch-app/qpg/zap/switch.matter
  examples/lit-icd-app/lit-icd-common/lit-icd-server-app.matter
  examples/lock-app/lock-common/lock-app.matter
  examples/lock-app/nxp/zap/lock-app.matter
  examples/lock-app/qpg/zap/lock.matter
  examples/lock-app/silabs/data_model/lock-app.matter
  examples/smoke-co-alarm-app/smoke-co-alarm-common/smoke-co-alarm-app.matter
  examples/window-app/common/window-app.matter
  src/app/clusters/icd-management-server/icd-management-server.cpp
  src/app/icd/server/BUILD.gn
  src/app/icd/server/ICDConfigurationData.h
  src/app/icd/server/ICDManager.cpp
  src/app/icd/server/ICDManager.h
  src/app/icd/server/tests/ICDConfigurationDataTestAccess.h
  src/app/icd/server/tests/TestICDManager.cpp
  src/app/zap-templates/zcl/zcl-with-test-extensions.json
  src/app/zap-templates/zcl/zcl.json
  zzz_generated/app-common/app-common/zap-generated/attributes/Accessors.cpp
  zzz_generated/app-common/app-common/zap-generated/attributes/Accessors.h
Labels: examples, app, review - approved, icd

#36859 Fix running async functions without event loop during testing
  src/python_testing/matter_testing_infrastructure/chip/testing/matter_testing.py
  src/python_testing/post_certification_tests/production_device_checks.py
  src/python_testing/test_testing/MockTestRunner.py
  src/python_testing/test_testing/test_TC_CCNTL_2_2.py
  src/python_testing/test_testing/test_TC_MCORE_FS_1_1.py
Labels: review - approved, tests, matter-1.4-te2-script-change

#37110 Reduce `AddStatus` calls for errors in IMCommandHandler code generation
  scripts/tools/zap/tests/outputs/all-clusters-app/app-templates/IMClusterCommandHandler.cpp
  scripts/tools/zap/tests/outputs/lighting-app/app-templates/IMClusterCommandHandler.cpp
  src/app/zap-templates/templates/app/im-cluster-command-handler.zapt
Labels: scripts, app, review - approved

#37001 Decouple ember functions from general diagnostics cluster
  scripts/tools/zap/tests/outputs/all-clusters-app/app-templates/IMClusterCommandHandler.cpp
  scripts/tools/zap/tests/outputs/all-clusters-app/app-templates/gen_config.h
  scripts/tools/zap/tests/outputs/lighting-app/app-templates/IMClusterCommandHandler.cpp
  scripts/tools/zap/tests/outputs/lighting-app/app-templates/gen_config.h
  src/app/clusters/general-diagnostics-server/general-diagnostics-server.cpp
  src/app/common/templates/config-data.yaml
  src/app/zap-templates/templates/app/gen_config.zapt
  zzz_generated/app-common/app-common/zap-generated/callback.h
Labels: scripts, app, github, workflows, review - approved, tests, matter-1.4-te2-script-change

#37111 [Silabs]Add conditions to renegotiate ble connection intervals
  src/platform/silabs/efr32/BLEManagerImpl.cpp
Labels: platform, review - approved, silabs

#37125 [Silabs] Fix silabs example app builds
  examples/air-quality-sensor-app/silabs/build_for_wifi_gnfile.gn
  examples/dishwasher-app/silabs/src/DeviceEnergyManager.cpp
  examples/lit-icd-app/silabs/build_for_wifi_gnfile.gn
  examples/pump-app/silabs/build_for_wifi_gnfile.gn
  examples/refrigerator-app/silabs/src/RefrigeratorUI.cpp
  examples/smoke-co-alarm-app/silabs/build_for_wifi_gnfile.gn
  examples/thermostat/silabs/src/ThermostatUI.cpp
  src/platform/silabs/multi-ota/OTACustomProcessor.cpp
  src/platform/silabs/multi-ota/OTAFirmwareProcessor.cpp
  src/platform/silabs/multi-ota/OTAMultiImageProcessorImpl.cpp
Labels: examples, platform, review - approved, silabs

#37107 [Silabs] Continue WifiInterface headers clean up
  examples/platform/silabs/BaseApplication.cpp
  examples/platform/silabs/MatterConfig.cpp
  scripts/examples/gn_silabs_example.sh
  src/platform/silabs/ConfigurationManagerImpl.cpp
  src/platform/silabs/ConnectivityManagerImpl_WIFI.cpp
  src/platform/silabs/DiagnosticDataProviderImpl.cpp
  src/platform/silabs/NetworkCommissioningWiFiDriver.cpp
  src/platform/silabs/SiWx917/SiWxPlatformInterface.h
  src/platform/silabs/wifi/SiWx/WifiInterfaceImpl.cpp
  src/platform/silabs/wifi/WifiInterface.cpp
  src/platform/silabs/wifi/WifiInterface.h
  src/platform/silabs/wifi/rs911x/WifiInterfaceImpl.cpp
  src/platform/silabs/wifi/wf200/WifiInterfaceImpl.cpp
  src/platform/silabs/wifi/wiseconnect-interface/WiseconnectWifiInterface.cpp
  src/platform/silabs/wifi/wiseconnect-interface/WiseconnectWifiInterface.h
Labels: examples, scripts, platform, review - approved, silabs

#37033 Switch DataModel::Provider to a span-based list iterator - flash and ram savings, simpler interface
  examples/common/pigweed/rpc_services/Attributes.h
  src/access/ProviderDeviceTypeResolver.h
  src/app/AttributePathExpandIterator.cpp
  src/app/AttributePathExpandIterator.h
  src/app/AttributeValueEncoder.h
  src/app/InteractionModelEngine.cpp
  src/app/InteractionModelEngine.h
  src/app/WriteHandler.cpp
  src/app/clusters/descriptor/descriptor.cpp
  src/app/clusters/descriptor/descriptor.h
  src/app/clusters/microwave-oven-control-server/microwave-oven-control-server.cpp
  src/app/data-model-provider/BUILD.gn
  src/app/data-model-provider/MetadataList.cpp
  src/app/data-model-provider/MetadataList.h
  src/app/data-model-provider/MetadataLookup.cpp
  src/app/data-model-provider/MetadataLookup.h
  src/app/data-model-provider/MetadataTypes.cpp
  src/app/data-model-provider/MetadataTypes.h
  src/app/data-model-provider/Provider.h
  src/app/data-model-provider/tests/BUILD.gn
  src/app/data-model-provider/tests/TestMetadataList.cpp
  src/app/dynamic_server/DynamicDispatcher.cpp
  src/app/reporting/Engine.cpp
  src/app/reporting/reporting.cpp
  src/app/tests/TestAttributePathExpandIterator.cpp
  src/app/tests/test-interaction-model-api.cpp
  src/app/tests/test-interaction-model-api.h
  src/app/util/attribute-storage.cpp
  src/app/util/attribute-storage.h
  src/app/util/mock/attribute-storage.cpp
  src/controller/tests/TestEventCaching.cpp
  src/controller/tests/TestEventNumberCaching.cpp
  src/controller/tests/data_model/DataModelFixtures.cpp
  src/controller/tests/data_model/DataModelFixtures.h
  src/data-model-providers/codegen/CodegenDataModelProvider.cpp
  src/data-model-providers/codegen/CodegenDataModelProvider.h
  src/data-model-providers/codegen/CodegenDataModelProvider_Write.cpp
  src/data-model-providers/codegen/tests/TestCodegenModelViaMocks.cpp
Labels: examples, lib, controller, app, review - approved, tests, core

#37124 Remove cluster objects dependency from platform
  examples/common/tracing/BUILD.gn
  examples/platform/esp32/external_platform/ESP32_custom/BUILD.gn
  src/access/BUILD.gn
  src/app/BUILD.gn
  src/app/MessageDef/BUILD.gn
  src/app/data-model-provider/BUILD.gn
  src/app/icd/server/BUILD.gn
  src/app/util/BUILD.gn
  src/credentials/BUILD.gn
  src/lib/support/tests/BUILD.gn
  src/platform/ASR/BUILD.gn
  src/platform/Ameba/BUILD.gn
  src/platform/BUILD.gn
  src/platform/Beken/BUILD.gn
  src/platform/Darwin/BUILD.gn
  src/platform/ESP32/BUILD.gn
  src/platform/Infineon/CYW30739/BUILD.gn
  src/platform/Infineon/PSOC6/BUILD.gn
  src/platform/Linux/BUILD.gn
  src/platform/NuttX/BUILD.gn
  src/platform/Tizen/BUILD.gn
  src/platform/Zephyr/BUILD.gn
  src/platform/android/BUILD.gn
  src/platform/bouffalolab/BL602/BUILD.gn
  src/platform/bouffalolab/BL616/BUILD.gn
  src/platform/bouffalolab/BL702/BUILD.gn
  src/platform/bouffalolab/BL702L/BUILD.gn
  src/platform/cc13xx_26xx/cc13x4_26x4/BUILD.gn
  src/platform/cc32xx/BUILD.gn
  src/platform/fake/BUILD.gn
  src/platform/mbed/BUILD.gn
  src/platform/mt793x/BUILD.gn
  src/platform/nrfconnect/BUILD.gn
  src/platform/nxp/k32w0/BUILD.gn
  src/platform/nxp/mcxw71_k32w1/BUILD.gn
  src/platform/nxp/mw320/BUILD.gn
  src/platform/nxp/rt/rt1060/BUILD.gn
  src/platform/nxp/rt/rt1170/BUILD.gn
  src/platform/nxp/rt/rw61x/BUILD.gn
  src/platform/nxp/zephyr/BUILD.gn
  src/platform/openiotsdk/BUILD.gn
  src/platform/qpg/BUILD.gn
  src/platform/silabs/efr32/BUILD.gn
  src/platform/stm32/BUILD.gn
  src/platform/telink/BUILD.gn
  src/platform/webos/BUILD.gn
Labels: examples, platform, darwin, esp32, linux, nrf connect, zephyr, lib, app, review - approved, telink, support, tizen, icd, silabs, nxp

#37128 Darwin CI: Include xcresults file in log upload and generate a summary
  .github/workflows/darwin.yaml
Labels: darwin, github, workflows, fast track

#37129 [Silabs] Fixed the condition making the code always pick water heater
  examples/energy-management-app/silabs/src/AppTask.cpp
Labels: examples, review - approved

#37102 [Silabs] Adds debug prints for rs911x platform for better understanding
  src/platform/silabs/wifi/lwip-support/ethernetif.cpp
  src/platform/silabs/wifi/rs911x/WifiInterfaceImpl.cpp
Labels: platform, review - approved, silabs

#37133 docs: update links for controller documentation
  src/controller/python/README.md
Labels: controller, review - approved

#37130 Update Dockerfile for updating java version (Java 8 -> Java 11)
  integrations/docker/images/base/chip-build/version
  integrations/docker/images/stage-2/chip-build-java/Dockerfile
  integrations/docker/images/stage-3/chip-build-android/Dockerfile
Labels: integrations, review - pending, docker

#37096 [FIX] Changing To Correct Wheels Path for v1.4 in Dockerfile
  integrations/docker/images/chip-cert-bins/Dockerfile
Labels: integrations, docker

#37083 adding matter_assert.py module for keeping matter-specific assertions
  src/python_testing/matter_testing_infrastructure/BUILD.gn
  src/python_testing/matter_testing_infrastructure/chip/testing/matter_asserts.py
  src/python_testing/matter_testing_infrastructure/chip/testing/test_matter_asserts.py
Labels: review - approved, tests

#36916 Helper script to diff spec revisions
  scripts/spec_xml/spec_revision_diff_summary.py
Labels: scripts, review - pending, fast track

#36928 Fix PostAttributeChangeCallback value ctypes typing
  src/controller/python/chip/native/__init__.py
  src/controller/python/chip/server/__init__.py
Labels: controller, review - pending, fast track

#36893 Updating unit test runner script for EFR32 and associated documentation.
  .vscode/tasks.json
  src/test_driver/efr32/README.md
  src/test_driver/efr32/py/pw_test_runner/pw_test_runner.py
Labels: vscode, review - approved, test driver, silabs

#36851 Update generate_spec_xml.py: Bump default output dir to v1.4 branch
  scripts/spec_xml/generate_spec_xml.py
Labels: scripts, review - pending, fast track

#36989 CADMIN_1_19.py: Do not try to remove on non commissioned controller
  src/python_testing/TC_CADMIN_1_19.py
Labels: review - pending, fast track, tests, matter-1.4-te2-script-change

#36913 Add example conformance report tool
  integrations/appengine/webapp_config.yaml
  integrations/compute_engine/README.md
  integrations/compute_engine/startup-script.sh
  scripts/examples/conformance_report.py
Labels: scripts, integrations, review - pending, fast track

#37137 Changed needed for NFC Commissioning: Added libpcsclite-dev package.
  integrations/docker/images/base/chip-build/Dockerfile
  integrations/docker/images/base/chip-build/version
Labels: integrations, review - pending, docker

#37097 Decouple ember functions from wifi diagnostic cluster
  scripts/tools/zap/tests/outputs/all-clusters-app/app-templates/IMClusterCommandHandler.cpp
  scripts/tools/zap/tests/outputs/lighting-app/app-templates/IMClusterCommandHandler.cpp
  src/app/clusters/wifi-network-diagnostics-server/wifi-network-diagnostics-server.cpp
  src/app/common/templates/config-data.yaml
  zzz_generated/app-common/app-common/zap-generated/callback.h
Labels: scripts, app, review - approved

#36958 Added a public API to RefreshKeySender to retrieve ICDClientInfo
  src/app/icd/client/CheckInDelegate.h
  src/app/icd/client/DefaultCheckInDelegate.cpp
  src/app/icd/client/RefreshKeySender.cpp
  src/app/icd/client/RefreshKeySender.h
Labels: app, review - approved, icd

#37151 Move common validation methods to base class
  src/python_testing/TC_DGSW_2_1.py
  src/python_testing/TC_DGSW_2_2.py
  src/python_testing/TC_DGSW_2_3.py
  src/python_testing/TC_DGWIFI_2_1.py
  src/python_testing/matter_testing_infrastructure/chip/testing/matter_testing.py
Labels: review - approved, tests

#37146 Update 1.4 DM XMLs to latest
  data_model/1.4/clusters/EcosystemInformationCluster.xml
  data_model/1.4/spec_sha
  scripts/dm_xml_ci_change_enforcement.py
Labels: scripts, review - approved

#37144 Use separate randomized port for each TCP test case server listening.
  src/transport/raw/tests/TestTCP.cpp
Labels: transport, review - approved

#37157 [NXP][examples][mcxw71_k32w1] Remove "LittleFS" based key storage build option
  examples/contact-sensor-app/nxp/k32w1/BUILD.gn
  examples/contact-sensor-app/nxp/k32w1/args.gni
  examples/contact-sensor-app/nxp/mcxw71/BUILD.gn
  examples/contact-sensor-app/nxp/mcxw71/args.gni
  examples/lighting-app/nxp/k32w1/BUILD.gn
  examples/lighting-app/nxp/k32w1/args.gni
  examples/lighting-app/nxp/mcxw71/BUILD.gn
  examples/lighting-app/nxp/mcxw71/args.gni
  examples/lock-app/nxp/k32w1/BUILD.gn
  examples/lock-app/nxp/mcxw71/BUILD.gn
  examples/platform/nxp/mcxw71_k32w1/app/support/BUILD.gn
  src/platform/nxp/mcxw71_k32w1/BUILD.gn
  src/platform/nxp/mcxw71_k32w1/args.gni
Labels: examples, platform, review - approved, nxp

#37148 Update DM XML generation script to use new path format
  scripts/spec_xml/generate_spec_xml.py
Labels: scripts, review - pending, fast track

#37121 [NXP] Add ota gn file & minor fixes
  src/platform/nxp/common/ota/ota.gni
  src/platform/nxp/mcxw71_k32w1/BUILD.gn
  src/platform/nxp/mcxw71_k32w1/k32w1-chip-mbedtls-config.h
  third_party/openthread/platforms/nxp/mcxw71_k32w1/BUILD.gn
Labels: platform, review - approved, changing-submodules-on-purpose, nxp

#37101 Re-validate submodules when labels are modified
  .github/workflows/third-party-check.yaml
  third_party/tizen/tizen_qemu.py
Labels: github, workflows, review - pending, fast track, changing-submodules-on-purpose

#37016 Update VideoStreamModify command in CameraAVStreamMgmt xml.
  src/app/zap-templates/zcl/data-model/chip/camera-av-stream-management-cluster.xml
  src/controller/data_model/controller-clusters.matter
  src/darwin/Framework/CHIP/zap-generated/MTRBaseClusters.h
Labels: darwin, controller, app, review - approved

#37104 da_revocation: fix serial number formatting in revocation set generat…
  credentials/generate_revocation_set.py
  credentials/test/revoked-attestation-certificates/revocation-sets/revocation-set-for-pai.json
Labels: review - approved

#37169 Pin the Restyler version to v0.6.0.2
  .github/workflows/restyled.yml
Labels: github, workflows, review - approved

#36940 [ESP32]: Remove the same configs as defaults
  .github/workflows/examples-esp32.yaml
  examples/all-clusters-app/esp32/sdkconfig.defaults
  examples/all-clusters-app/esp32/sdkconfig.defaults.esp32c3
  examples/all-clusters-app/esp32/sdkconfig.defaults.esp32c6
  examples/all-clusters-app/esp32/sdkconfig.defaults.esp32h2
  examples/all-clusters-app/esp32/sdkconfig.defaults.esp32p4
  examples/all-clusters-minimal-app/esp32/sdkconfig.defaults
  examples/bridge-app/esp32/sdkconfig.defaults
  examples/energy-management-app/esp32/sdkconfig.defaults
  examples/energy-management-app/esp32/sdkconfig.defaults.esp32c6
  examples/energy-management-app/esp32/sdkconfig.defaults.esp32h2
  examples/light-switch-app/esp32/sdkconfig.defaults
  examples/light-switch-app/esp32/sdkconfig.defaults.esp32c3
  examples/lighting-app/esp32/sdkconfig.defaults
  examples/lighting-app/esp32/sdkconfig.defaults.esp32c6
  examples/lighting-app/esp32/sdkconfig.defaults.esp32h2
  examples/lighting-app/esp32/sdkconfig.defaults.esp32p4
  examples/lit-icd-app/esp32/sdkconfig.defaults
  examples/lock-app/esp32/sdkconfig.defaults
  examples/lock-app/esp32/sdkconfig.defaults.esp32c6
  examples/ota-provider-app/esp32/sdkconfig.defaults
  examples/ota-requestor-app/esp32/sdkconfig.defaults
  examples/persistent-storage/esp32/sdkconfig.defaults
  examples/pigweed-app/esp32/sdkconfig.defaults
  examples/shell/esp32/sdkconfig.defaults
  examples/temperature-measurement-app/esp32/sdkconfig.defaults
  scripts/build/builders/esp32.py
  scripts/build/testdata/dry_run_esp32-devkitc-light-rpc.txt
Labels: examples, scripts, github, workflows, review - pending, fast track

#36914 DM XML parsing: Fix some type annotations
  src/python_testing/matter_testing_infrastructure/chip/testing/spec_parsing.py
Labels: review - pending, fast track, tests

#37160 Update PW-RPC service to use `DataModel::Provider` for writes
  examples/common/pigweed/protos/attributes_service.options
  examples/common/pigweed/protos/attributes_service.proto
  examples/common/pigweed/rpc_services/Attributes.h
  examples/platform/linux/system_rpc_server.cc
Labels: examples, platform, linux, review - pending, fast track

#37173 Fix CodeQL warning related to comparing uint8_t loop index with size_t
  src/app/tests/suites/commands/interaction_model/InteractionModel.h
Labels: app, review - approved, tests

#37168 Consolidate basic assert tests into matter_asserts
  src/python_testing/TC_DGSW_2_1.py
  src/python_testing/TC_DGSW_2_2.py
  src/python_testing/TC_DGSW_2_3.py
  src/python_testing/TC_DGWIFI_2_1.py
  src/python_testing/matter_testing_infrastructure/chip/testing/matter_asserts.py
  src/python_testing/matter_testing_infrastructure/chip/testing/matter_testing.py
  src/python_testing/matter_testing_infrastructure/chip/testing/test_matter_asserts.py
Labels: review - approved, tests

#37127 Update metadata-tree from `MetadaList Foo(path)` to `CHIP_ERROR Foo(path, ListBuilder &)`
  src/access/ProviderDeviceTypeResolver.h
  src/app/AttributePathExpandIterator.cpp
  src/app/AttributePathExpandIterator.h
  src/app/InteractionModelEngine.cpp
  src/app/clusters/descriptor/descriptor.cpp
  src/app/clusters/microwave-oven-control-server/microwave-oven-control-server.cpp
  src/app/data-model-provider/BUILD.gn
  src/app/data-model-provider/MetadataList.cpp
  src/app/data-model-provider/MetadataList.h
  src/app/data-model-provider/MetadataLookup.cpp
  src/app/data-model-provider/MetadataLookup.h
  src/app/data-model-provider/MetadataTypes.cpp
  src/app/data-model-provider/MetadataTypes.h
  src/app/data-model-provider/tests/TestMetadataList.cpp
  src/data-model-providers/codegen/CodegenDataModelProvider.cpp
  src/data-model-providers/codegen/CodegenDataModelProvider.h
  src/data-model-providers/codegen/tests/TestCodegenModelViaMocks.cpp
Labels: app, review - approved

#37180 Added a public API to RefreshKeySender to retrieve ICDClientInfo
  src/app/icd/client/CheckInDelegate.h
  src/app/icd/client/DefaultCheckInDelegate.cpp
  src/app/icd/client/RefreshKeySender.cpp
  src/app/icd/client/RefreshKeySender.h
Labels: app, icd

#37175 [Silabs] Add provisioning root argument
  examples/platform/silabs/SiWx917/BUILD.gn
  examples/platform/silabs/efr32/BUILD.gn
  examples/platform/silabs/provision/BUILD.gn
  src/platform/silabs/SiWx917/BUILD.gn
  src/platform/silabs/efr32/BUILD.gn
  src/platform/silabs/provision/args.gni
  src/test_driver/efr32/BUILD.gn
Labels: examples, platform, review - approved, test driver, silabs

#37165 Darwin: Add a module map for Matter.framework marking it as system
  src/darwin/Framework/CHIP/Matter.modulemap
  src/darwin/Framework/Matter.xcodeproj/project.pbxproj
Labels: darwin, review - pending, fast track

#37179 Add Matter.framework logging for invoke work items that exceed timedinvoke timeout.
  src/darwin/Framework/CHIP/MTRDevice_Concrete.mm
Labels: darwin, review - pending, fast track

#37177 [Darwin] On resubscribe attempt, if no need to subscribe, clear subsc ription work
  src/darwin/Framework/CHIP/MTRDevice_Concrete.mm
Labels: darwin, review - pending, fast track

#37122 da_revocation: user guide and dac_provider test vectors
  credentials/test/revoked-attestation-certificates/dac-provider-test-vectors/revoked-dac-01.json
  credentials/test/revoked-attestation-certificates/dac-provider-test-vectors/revoked-dac-02.json
  credentials/test/revoked-attestation-certificates/dac-provider-test-vectors/revoked-dac-03.json
  credentials/test/revoked-attestation-certificates/dac-provider-test-vectors/revoked-pai.json
  docs/guides/device-attestation-revocation-guide.md
Labels: documentation, review - approved

#37182 Treat a Nullable attribute as raw type if it is not NullValue
  src/python_testing/TC_DGWIFI_2_1.py
  src/python_testing/TC_DGWIFI_2_3.py
Labels: review - approved, tests

#37170 Move MockTestRunner to chip testing package
  src/python_testing/matter_testing_infrastructure/BUILD.gn
  src/python_testing/matter_testing_infrastructure/chip/testing/runner.py
  src/python_testing/test_testing/TestDecorators.py
  src/python_testing/test_testing/common_icdm_data.py
  src/python_testing/test_testing/test_IDM_10_4.py
  src/python_testing/test_testing/test_TC_CCNTL_2_2.py
  src/python_testing/test_testing/test_TC_DGGEN_3_2.py
  src/python_testing/test_testing/test_TC_MCORE_FS_1_1.py
  src/python_testing/test_testing/test_TC_SC_7_1.py
  src/python_testing/test_testing/test_TC_TMP_2_1.py
Labels: review - approved, tests

#37196 Fix up docker
  integrations/docker/images/base/chip-build/version
  integrations/docker/images/stage-2/chip-build-nuttx/Dockerfile
Labels: integrations, review - pending, docker

#37193 Add a method to Darwin SetupPayload to test whether a passcode is valid.
  src/darwin/Framework/CHIP/MTRSetupPayload.h
  src/darwin/Framework/CHIP/MTRSetupPayload.mm
  src/darwin/Framework/CHIPTests/MTRSetupPayloadTests.m
Labels: darwin, review - pending, fast track

#37143 Re-use `chip::app::DataModel::DeviceTypeEntry` as `EmberAfDeviceType`
  examples/common/pigweed/rpc_services/Descriptor.h
  examples/virtual-device-app/android/java/DeviceApp-JNI.cpp
  src/app/data-model-provider/BUILD.gn
  src/app/data-model-provider/MetadataLookup.h
  src/app/data-model-provider/MetadataTypes.h
  src/app/data-model-provider/Provider.h
  src/app/data-model-provider/ProviderMetadataTree.cpp
  src/app/data-model-provider/ProviderMetadataTree.h
  src/app/util/BUILD.gn
  src/app/util/af-types.h
  src/darwin/Framework/CHIP/ServerEndpoint/MTRServerEndpoint.mm
  src/data-model-providers/codegen/CodegenDataModelProvider.cpp
Labels: examples, darwin, app, review - approved

#37145 [Silabs] Added join callback handler to fix rejoin issue
  src/platform/silabs/wifi/SiWx/WifiInterfaceImpl.cpp
Labels: platform, review - approved, silabs

#37185 Implement python test for TC_DGTHREAD_2_2
  src/python_testing/TC_DGTHREAD_2_2.py
Labels: review - approved, tests

#37187 Implement python test for TC_DGTHREAD_2_3
  src/python_testing/TC_DGTHREAD_2_3.py
Labels: review - approved, tests

#37194 Implement python test for TC_DGTHREAD_2_4
  src/python_testing/TC_DGTHREAD_2_4.py
Labels: review - approved, tests

#37198 Add a way to forget a node ID to Matter.framework.
  src/darwin/Framework/CHIP/MTRDeviceController.h
  src/darwin/Framework/CHIP/MTRDeviceController.mm
  src/darwin/Framework/CHIP/MTRDeviceControllerDataStore.h
  src/darwin/Framework/CHIP/MTRDeviceControllerDataStore.mm
  src/darwin/Framework/CHIP/MTRDeviceController_Concrete.mm
  src/darwin/Framework/CHIP/MTRDeviceController_XPC.mm
  src/darwin/Framework/CHIP/XPC Protocol/MTRXPCServerProtocol.h
  src/darwin/Framework/CHIPTests/MTRPerControllerStorageTests.m
  src/darwin/Framework/CHIPTests/TestHelpers/MTRTestDeclarations.h
Labels: darwin, review - pending, fast track

#37200 [Darwin] Fix return type of unit test to standard type
  src/darwin/Framework/CHIPTests/MTRSetupPayloadTests.m
Labels: darwin, review - pending, fast track

#37192 Python testing: Handle provisional aliased clusters
  src/python_testing/TestSpecParsingSupport.py
  src/python_testing/matter_testing_infrastructure/chip/testing/spec_parsing.py
Labels: review - approved, tests

#37132 [Silabs] Updating the firmware upgrade(OTA) status for SoC
  src/platform/silabs/SiWx917/OTAImageProcessorImpl.cpp
Labels: platform, review - approved, silabs
