Repository project-chip/connectedhomeip, pull requests merged in 2025-10, with the labels that each got.

#41176 [WebRTC] Fix incorrect session is used other than the session that triggered the callback
  examples/camera-app/linux/include/clusters/webrtc-provider/webrtc-provider-manager.h
  examples/camera-app/linux/src/clusters/webrtc-provider/webrtc-provider-manager.cpp
  src/lib/core/ScopedNodeId.h
Labels: examples, lib, review - approved, core

#41101 [PAVST] Handle error on duplicate motion zones
  scripts/tools/check_includes_config.py
  src/app/clusters/push-av-stream-transport-server/push-av-stream-transport-logic.cpp
  src/python_testing/TC_PAVST_2_3.py
Labels: scripts, app, review - approved, tests

#41197 Add a CompatClusterObjects file, similar to the one we have for enums.
  src/app/common/BUILD.gn
  src/app/common/CompatClusterObjects.h
  src/app/common/CompatEnumNames.h
  src/app/zap-templates/templates/app/cluster-enums.h.zapt
  src/app/zap-templates/templates/app/cluster-objects.h.zapt
  zzz_generated/app-common/app-common/zap-generated/cluster-enums.h
  zzz_generated/app-common/app-common/zap-generated/cluster-objects.h
Labels: app, review - pending, sdk-maintainer-approved

#40182 [ESP32]: Add Scope-Based Filters for Diagnostics Storage
  config/esp32/components/chip/CMakeLists.txt
  config/esp32/components/chip/Kconfig
  docs/platforms/esp32/diagnostics.md
  examples/platform/esp32/diagnostics/diagnostic-logs-provider-delegate-impl.cpp
  examples/platform/esp32/diagnostics/diagnostic-logs-provider-delegate-impl.h
  examples/temperature-measurement-app/esp32/README.md
  examples/temperature-measurement-app/esp32/main/CMakeLists.txt
  examples/temperature-measurement-app/esp32/main/Kconfig.projbuild
  examples/temperature-measurement-app/esp32/main/main.cpp
  scripts/tools/check_includes_config.py
  src/BUILD.gn
  src/tracing/esp32_diagnostic_trace/tests/TestESP32DiagnosticTrace.cpp
  src/tracing/esp32_diagnostics/BUILD.gn
  src/tracing/esp32_diagnostics/Counter.cpp
  src/tracing/esp32_diagnostics/Counter.h
  src/tracing/esp32_diagnostics/DiagnosticEntry.cpp
  src/tracing/esp32_diagnostics/DiagnosticEntry.h
  src/tracing/esp32_diagnostics/DiagnosticStorage.cpp
  src/tracing/esp32_diagnostics/DiagnosticStorage.h
  src/tracing/esp32_diagnostics/DiagnosticTracing.cpp
  src/tracing/esp32_diagnostics/DiagnosticTracing.h
  src/tracing/esp32_diagnostics/include/matter/tracing/macros_impl.h
  src/tracing/esp32_diagnostics/tests/BUILD.gn
  src/tracing/esp32_diagnostics/tests/TestESP32DiagnosticTrace.cpp
Labels: documentation, examples, scripts, platform, esp32, config, review - approved

#41180 Add PICS Code support to generate_spec_xml.py
  .spellcheck.yml
  docs/ids_and_codes/spec_clusters.md
  scripts/spec_xml/generate_spec_xml.py
Labels: documentation, scripts, review - approved

#40693 Increase unit test code coverage of `controller` by 0.2%
  src/controller/tests/AutoCommissionerTestAccess.h
  src/controller/tests/TestAutoCommissioner.cpp
Labels: controller, review - pending, tests, sdk-maintainer-approved

#41178 Add OTA Requestor device type to endpoint 0 for all Silabs apps
  examples/air-quality-sensor-app/air-quality-sensor-common/air-quality-sensor-app.matter
  examples/air-quality-sensor-app/air-quality-sensor-common/air-quality-sensor-app.zap
  examples/dishwasher-app/silabs/data_model/dishwasher-thread-app.matter
  examples/dishwasher-app/silabs/data_model/dishwasher-thread-app.zap
  examples/dishwasher-app/silabs/data_model/dishwasher-wifi-app.matter
  examples/dishwasher-app/silabs/data_model/dishwasher-wifi-app.zap
  examples/light-switch-app/light-switch-common/icd-lit-light-switch-app.matter
  examples/light-switch-app/light-switch-common/icd-lit-light-switch-app.zap
  examples/light-switch-app/light-switch-common/light-switch-app.matter
  examples/light-switch-app/light-switch-common/light-switch-app.zap
  examples/lighting-app/silabs/data_model/lighting-thread-app.matter
  examples/lighting-app/silabs/data_model/lighting-thread-app.zap
  examples/lighting-app/silabs/data_model/lighting-wifi-app.matter
  examples/lighting-app/silabs/data_model/lighting-wifi-app.zap
  examples/lock-app/silabs/data_model/lock-app.matter
  examples/lock-app/silabs/data_model/lock-app.zap
  examples/refrigerator-app/silabs/data_model/refrigerator-thread-app.matter
  examples/refrigerator-app/silabs/data_model/refrigerator-thread-app.zap
  examples/refrigerator-app/silabs/data_model/refrigerator-wifi-app.matter
  examples/refrigerator-app/silabs/data_model/refrigerator-wifi-app.zap
  examples/window-app/common/window-app.matter
  examples/window-app/common/window-app.zap
Labels: examples, integrations, platform, esp32, review - approved, docker

#41096 TC-DD-2.1: Update test to relax lock/barrier requirements per TCR
  src/app/tests/suites/certification/Test_TC_DD_2_1.yaml
Labels: app, review - approved, tests

#41223 Set Thermostat cluster revision as external and implement Read handler
  examples/air-purifier-app/air-purifier-common/air-purifier-app.matter
  examples/all-clusters-app/all-clusters-common/all-clusters-app.matter
  examples/all-clusters-app/realtek/data_model/all-clusters-app.matter
  examples/all-clusters-minimal-app/all-clusters-common/all-clusters-minimal-app.matter
  examples/chef/devices/rootnode_airpurifier_airqualitysensor_temperaturesensor_humiditysensor_thermostat_56de3d5f45.matter
  examples/chef/devices/rootnode_roomairconditioner_9cf3607804.matter
  examples/chef/devices/rootnode_thermostat_bm3fb8dhYi.matter
  examples/placeholder/linux/apps/app1/config.matter
  examples/placeholder/linux/apps/app2/config.matter
  examples/thermostat/nxp/zap/thermostat_matter_br.matter
  examples/thermostat/nxp/zap/thermostat_matter_eth.matter
  examples/thermostat/nxp/zap/thermostat_matter_thread.matter
  examples/thermostat/nxp/zap/thermostat_matter_wifi.matter
  examples/thermostat/qpg/zap/thermostaticRadiatorValve.matter
  examples/thermostat/thermostat-common/thermostat.matter
  scripts/tools/zap/tests/outputs/all-clusters-app/app-templates/endpoint_config.h
  src/app/clusters/thermostat-server/thermostat-server.cpp
  src/app/zap-templates/zcl/zcl-with-test-extensions.json
  src/app/zap-templates/zcl/zcl.json
  zzz_generated/app-common/app-common/zap-generated/attributes/Accessors.cpp
  zzz_generated/app-common/app-common/zap-generated/attributes/Accessors.h
Labels: examples, scripts, app, review - pending, examples chef, sdk-maintainer-approved

#41224 [Chef] Enable nrf52840dk icd in build automation
  integrations/cloudbuild/chef.yaml
Labels: integrations, sdk-maintainer-approved

#41099 Remove argument name from unused argument
  src/data-model-providers/codegen/tests/TestCodegenModelViaMocks.cpp
Labels: review - approved

#41181 Remove unused ot-br-posix dependency from the build system
  build_overrides/ot_br_posix.gni
  examples/build_overrides/ot_br_posix.gni
  src/platform/BUILD.gn
  src/platform/Linux/BUILD.gn
  src/platform/NuttX/BUILD.gn
  src/platform/Tizen/BUILD.gn
  src/platform/webos/BUILD.gn
  third_party/ot-br-posix/BUILD.gn
Labels: examples, platform, linux, gn, review - approved, tizen, changing-git-submodules-on-purpose

#41195 Cleanup & fix loose ends for TLS Certificate Management cluster
  src/app/clusters/tls-certificate-management-server/CertificateTable.h
  src/app/clusters/tls-certificate-management-server/CertificateTableImpl.cpp
  src/app/clusters/tls-certificate-management-server/CertificateTableImpl.h
  src/app/clusters/tls-certificate-management-server/tls-certificate-management-server.cpp
  src/app/clusters/tls-certificate-management-server/tls-certificate-management-server.h
  src/python_testing/TC_TLSCERT.py
Labels: app, review - approved, tests

#41198 Fix use-after-free in TCP
  src/inet/TCPEndPoint.cpp
  src/inet/TCPEndPoint.h
  src/inet/TCPEndPointImplLwIP.cpp
  src/inet/TCPEndPointImplSockets.cpp
  src/inet/tests/TestInetEndPoint.cpp
  src/inet/tests/inet-layer-test-tool.cpp
  src/transport/raw/ActiveTCPConnectionState.h
  src/transport/raw/TCP.cpp
  src/transport/raw/tests/TestTCP.cpp
Labels: transport, inet, gn, review - approved

#41175 Update TLS Client Management to latest spec & complete TC tests
  examples/all-clusters-app/all-clusters-common/all-clusters-app.matter
  examples/all-clusters-app/all-clusters-common/include/tls-client-management-instance.h
  examples/all-clusters-app/all-clusters-common/src/tls-client-management-instance.cpp
  examples/camera-app/camera-common/camera-app.matter
  src/app/clusters/push-av-stream-transport-server/tests/TestPushAVStreamTransportCluster.cpp
  src/app/clusters/tls-client-management-server/tls-client-management-server.cpp
  src/app/clusters/tls-client-management-server/tls-client-management-server.h
  src/app/zap-templates/zcl/data-model/chip/tls-client-management-cluster.xml
  src/controller/data_model/controller-clusters.matter
  src/controller/java/generated/java/chip/devicecontroller/ChipStructs.java
  src/controller/java/generated/java/chip/devicecontroller/cluster/structs/TlsClientManagementClusterTLSEndpointStruct.kt
  src/controller/java/generated/java/matter/controller/cluster/structs/TlsClientManagementClusterTLSEndpointStruct.kt
  src/controller/java/zap-generated/CHIPAttributeTLVValueDecoder.cpp
  src/controller/python/matter/clusters/Objects.py
  src/darwin/Framework/CHIP/zap-generated/MTRAttributeTLVValueDecoder.mm
  src/darwin/Framework/CHIP/zap-generated/MTRBaseClusters.h
  src/darwin/Framework/CHIP/zap-generated/MTRCommandPayloadsObjc.mm
  src/darwin/Framework/CHIP/zap-generated/MTRStructsObjc.h
  src/darwin/Framework/CHIP/zap-generated/MTRStructsObjc.mm
  src/python_testing/TC_TLSCLIENT.py
  src/python_testing/TC_TLSCLIENT_1_1.py
  src/python_testing/TC_TLS_Utils.py
  zzz_generated/app-common/clusters/TlsClientManagement/Enums.h
  zzz_generated/app-common/clusters/TlsClientManagement/EnumsCheck.h
  zzz_generated/app-common/clusters/TlsClientManagement/Structs.h
  zzz_generated/app-common/clusters/TlsClientManagement/Structs.ipp
  zzz_generated/chip-tool/zap-generated/cluster/ComplexArgumentParser.cpp
  zzz_generated/chip-tool/zap-generated/cluster/logging/DataModelLogger.cpp
Labels: examples, darwin, controller, app, review - approved, tests

#41245 [nrfconnect] Fixed shell example build
  .github/workflows/examples-nrfconnect.yaml
  examples/shell/nrfconnect/prj.conf
Labels: examples, github, workflows, review - approved

#41258 Sort lists in config data
  src/app/common/templates/config-data.yaml
Labels: app, review - approved

#39920 Run mypy and fix issues for FabricAdmin and CertificateAuthority
  src/controller/python/matter/CertificateAuthority.py
  src/controller/python/matter/FabricAdmin.py
Labels: controller, review - pending, sdk-maintainer-approved

#41252 Set OccupancySensing ClusterRevision as external and implement read handler
  examples/all-clusters-app/all-clusters-common/all-clusters-app.matter
  examples/all-clusters-app/realtek/data_model/all-clusters-app.matter
  examples/all-clusters-minimal-app/all-clusters-common/all-clusters-minimal-app.matter
  examples/chef/devices/rootnode_contactsensor_lightsensor_occupancysensor_temperaturesensor_pressuresensor_flowsensor_humiditysensor_airqualitysensor_powersource_367e7cea91.matter
  examples/chef/devices/rootnode_occupancysensor_iHyVgifZuo.matter
  examples/contact-sensor-app/bouffalolab/data_model/contact-sensor-app.matter
  examples/placeholder/linux/apps/app1/config.matter
  examples/placeholder/linux/apps/app2/config.matter
  scripts/tools/zap/tests/outputs/all-clusters-app/app-templates/endpoint_config.h
  scripts/tools/zap/tests/outputs/lighting-app/app-templates/endpoint_config.h
  src/app/clusters/occupancy-sensor-server/occupancy-sensor-server.cpp
  src/app/zap-templates/zcl/zcl-with-test-extensions.json
  src/app/zap-templates/zcl/zcl.json
  zzz_generated/app-common/app-common/zap-generated/attributes/Accessors.cpp
  zzz_generated/app-common/app-common/zap-generated/attributes/Accessors.h
Labels: examples, scripts, app, review - approved, examples chef

#41263 [Darwin] MTRDevice_Concrete readAttributePaths - remove NSMutableSet usage
  src/darwin/Framework/CHIP/MTRBaseDevice.mm
  src/darwin/Framework/CHIP/MTRDevice_Concrete.mm
  src/darwin/Framework/CHIPTests/MTRDeviceTests.m
Labels: darwin

#41256 [Silabs] Add missing include to fix build failures
  examples/lock-app/silabs/src/LockMigration.cpp
Labels: examples, review - pending, sdk-maintainer-approved

#41250 [FIX][COMMTR] Minor fixes based on issue #40888
  src/python_testing/TC_COMMTR_2_1.py
  src/python_testing/TC_COMMTR_3_1.py
  src/python_testing/TC_COMMTR_TestBase.py
Labels: review - pending, tests, sdk-maintainer-approved

#41187 [Silabs] Cleanup misleading error logs from unimplemented SetPollingInterval API
  src/platform/silabs/ConnectivityManagerImpl_WIFI.cpp
Labels: platform, review - pending, silabs, sdk-maintainer-approved

#41289 [Camera] Correct checking which does not make sense
  src/python_testing/TC_AVSM_2_15.py
  src/python_testing/TC_AVSM_2_9.py
  src/python_testing/TC_PAVST_2_5.py
Labels: review - pending, tests, cameras, sdk-maintainer-approved

#41298 Generate KeyInput cluster using Alchemy
  examples/all-clusters-minimal-app/all-clusters-common/all-clusters-minimal-app.matter
  examples/chef/devices/rootnode_basicvideoplayer_0ff86e943b.matter
  examples/placeholder/linux/apps/app1/config.matter
  examples/placeholder/linux/apps/app2/config.matter
  examples/tv-app/tv-common/tv-app.matter
  examples/tv-casting-app/tv-casting-common/tv-casting-app.matter
  src/app/zap-templates/zcl/data-model/chip/keypad-input-cluster.xml
  src/controller/data_model/controller-clusters.matter
  src/darwin/Framework/CHIP/zap-generated/MTRBaseClusters.h
Labels: examples, darwin, controller, app, review - pending, examples chef, sdk-maintainer-approved

#41257 Update time synchronization cluster endpoint for camera-app
  examples/camera-app/camera-common/camera-app.matter
  examples/camera-app/camera-common/camera-app.zap
Labels: examples, review - pending, sdk-maintainer-approved

#40945 Running singleton upgrade rules when a new SDK is used to open zap files created from an old sdk
  scripts/setup/zap.json
  scripts/setup/zap.version
  scripts/tools/zap/version_update.py
  scripts/tools/zap/zap_execution.py
  src/app/zap-templates/zcl/upgrade-rules-matter.json
  src/app/zap-templates/zcl/upgrade-rules/disable-singleton-attributes.js
  src/app/zap-templates/zcl/zcl-with-test-extensions.json
  src/app/zap-templates/zcl/zcl.json
Labels: scripts, app, review - approved

#41265 Fail on error in CaptureSnapshot command in AVSM_2_10
  src/app/clusters/camera-av-stream-management-server/camera-av-stream-management-server.cpp
  src/python_testing/TC_AVSM_2_10.py
Labels: app, review - approved, tests, cameras

#41259 [FixedLabel] use CodeDrivenClusters config instead of startup/init functions
  scripts/tools/zap/tests/outputs/all-clusters-app/app-templates/CodeDrivenCallback.h
  scripts/tools/zap/tests/outputs/all-clusters-app/app-templates/CodeDrivenInitShutdown.cpp
  scripts/tools/zap/tests/outputs/all-clusters-app/app-templates/endpoint_config.h
  scripts/tools/zap/tests/outputs/lighting-app/app-templates/CodeDrivenCallback.h
  scripts/tools/zap/tests/outputs/lighting-app/app-templates/CodeDrivenInitShutdown.cpp
  scripts/tools/zap/tests/outputs/lighting-app/app-templates/endpoint_config.h
  src/app/clusters/fixed-label-server/CodegenIntegration.cpp
  src/app/common/templates/config-data.yaml
Labels: scripts, app, review - approved

#41045 Implement TC_WEBRTC_1_7.py and TC_WEBRTC_1_8.py
  src/python_testing/TC_WEBRTC_1_7.py
  src/python_testing/TC_WEBRTC_1_8.py
  src/python_testing/TC_WEBRTC_Utils.py
Labels: examples, review - approved, tests, cameras

#41292 [Darwin] dns-sd resolve should be done separately from Thread pooling
  src/darwin/Framework/CHIP/MTRDeviceConnectivityMonitor.h
  src/darwin/Framework/CHIP/MTRDeviceConnectivityMonitor.mm
  src/darwin/Framework/CHIP/MTRDeviceController_Concrete.mm
  src/darwin/Framework/CHIPTests/MTRDeviceConnectivityMonitorTests.m
Labels: darwin

#41315 chip-tool should advertise on loopback interface only when running CI tests.
  examples/chip-tool/commands/common/CHIPCommand.cpp
  examples/chip-tool/commands/common/CHIPCommand.h
  examples/chip-tool/commands/interactive/InteractiveCommands.h
  scripts/tests/chiptest/test_definition.py
  src/controller/CHIPDeviceControllerFactory.cpp
  src/controller/CHIPDeviceControllerFactory.h
Labels: tools, examples, scripts, controller, review - approved

#41286 [Silabs] Update refrigerator temperature controlled attribute values
  examples/refrigerator-app/silabs/data_model/refrigerator-thread-app.matter
  examples/refrigerator-app/silabs/data_model/refrigerator-thread-app.zap
  examples/refrigerator-app/silabs/data_model/refrigerator-wifi-app.matter
  examples/refrigerator-app/silabs/data_model/refrigerator-wifi-app.zap
Labels: examples, review - pending, sdk-maintainer-approved

#41260 Set OperationalState ClusterRevision as external and implement read handler
  examples/all-clusters-app/all-clusters-common/all-clusters-app.matter
  examples/all-clusters-app/realtek/data_model/all-clusters-app.matter
  examples/chef/devices/rootnode_dishwasher_cc105034fe.matter
  examples/chef/devices/rootnode_laundrydryer_01796fe396.matter
  examples/chef/devices/rootnode_laundrywasher_fb10d238c8.matter
  examples/chef/devices/rootnode_microwaveoven_37420684d3.matter
  examples/chef/devices/rootnode_oven_temperaturecontrolledcabinet_cooktop_cooksurface_738dd18832.matter
  examples/chef/devices/rootnode_roboticvacuumcleaner_1807ff0c49.matter
  examples/dishwasher-app/dishwasher-common/dishwasher-app.matter
  examples/dishwasher-app/silabs/data_model/dishwasher-thread-app.matter
  examples/dishwasher-app/silabs/data_model/dishwasher-wifi-app.matter
  examples/laundry-washer-app/nxp/zap/laundry-washer-app.matter
  examples/microwave-oven-app/microwave-oven-common/microwave-oven-app.matter
  examples/rvc-app/rvc-common/rvc-app.matter
  scripts/tools/zap/tests/outputs/all-clusters-app/app-templates/endpoint_config.h
  src/app/clusters/operational-state-server/operational-state-server.cpp
  src/app/zap-templates/zcl/zcl-with-test-extensions.json
  src/app/zap-templates/zcl/zcl.json
  zzz_generated/app-common/app-common/zap-generated/attributes/Accessors.cpp
  zzz_generated/app-common/app-common/zap-generated/attributes/Accessors.h
Labels: examples, scripts, app, review - approved, examples chef

#39454 Mocked BLE-WiFi commissioning test
  .github/workflows/tests.yaml
  scripts/setup/constraints.txt
  scripts/tests/chiptest/__init__.py
  scripts/tests/chiptest/linux.py
  scripts/tests/chiptest/runner.py
  scripts/tests/chiptest/test_definition.py
  scripts/tests/requirements.txt
  scripts/tests/run_test_suite.py
  src/platform/Linux/bluez/BluezObjectManager.cpp
  src/platform/Linux/bluez/Types.h
Labels: scripts, platform, linux, github, workflows, review - approved
