Repository project-chip/connectedhomeip, pull requests merged in 2025-08, with the labels that each got.

#40364 Add Alchemy generated code for MediaInput cluster
  examples/all-clusters-minimal-app/all-clusters-common/all-clusters-minimal-app.matter
  examples/chef/devices/rootnode_basicvideoplayer_0ff86e943b.matter
  examples/placeholder/linux/apps/app1/config.matter
  examples/placeholder/linux/apps/app2/config.matter
  examples/tv-app/tv-common/tv-app.matter
  examples/tv-casting-app/tv-casting-common/tv-casting-app.matter
  src/app/zap-templates/zcl/data-model/chip/media-input-cluster.xml
  src/controller/data_model/controller-clusters.matter
  src/darwin/Framework/CHIP/zap-generated/MTRBaseClusters.h
Labels: examples, darwin, controller, app, review - approved, examples chef

#40387 Split ServerClusterInterfaceRegistry into 2 classes to support both Single and Multi-endpoint paths
  src/app/server-cluster/BUILD.gn
  src/app/server-cluster/ServerClusterInterfaceRegistry.cpp
  src/app/server-cluster/ServerClusterInterfaceRegistry.h
  src/app/server-cluster/SingleEndpointServerClusterRegistry.cpp
  src/app/server-cluster/SingleEndpointServerClusterRegistry.h
  src/app/server-cluster/tests/BUILD.gn
  src/app/server-cluster/tests/TestServerClusterInterfaceRegistry.cpp
  src/app/server-cluster/tests/TestSingleEndpointServerClusterRegistry.cpp
  src/darwin/Framework/Matter.xcodeproj/project.pbxproj
  src/data-model-providers/codegen/CodegenDataModelProvider.cpp
  src/data-model-providers/codegen/CodegenDataModelProvider.h
  src/data-model-providers/codegen/model.cmake
Labels: darwin, app, review - approved

#40318 [TC-WNCV-2.4] Fix incorrect 'Type' attribute validation ranges based on Test-plan update
  src/app/tests/suites/certification/Test_TC_WNCV_2_4.yaml
Labels: app, review - pending, tests, sdk-maintainer-approved

#40304 Modified scripts by removing PICS and modifed test cases
  src/app/tests/suites/certification/Test_TC_AUDIOOUTPUT_7_1.yaml
  src/app/tests/suites/certification/Test_TC_AUDIOOUTPUT_7_2.yaml
Labels: app, review - approved, tests

#40223 Add zsh completion
  scripts/build/build_examples.py
  scripts/helpers/zsh-completion.zsh
  scripts/setup/bootstrap.sh
Labels: scripts, review - pending, sdk-maintainer-approved

#40418 Bring back timeout in send commands; Remove try finally block, will c…
  src/python_testing/TC_JCM_1_2.py
Labels: review - pending, tests, sdk-maintainer-approved

#39168 Zone management cluster (SDK Impl, Camera-App Integration and Test scripts)
  examples/camera-app/camera-common/camera-app.matter
  examples/camera-app/camera-common/camera-app.zap
  examples/camera-app/camera-common/include/camera-app.h
  examples/camera-app/camera-common/include/camera-device-interface.h
  examples/camera-app/camera-common/src/camera-app.cpp
  examples/camera-app/linux/BUILD.gn
  examples/camera-app/linux/include/CameraAppCommandDelegate.h
  examples/camera-app/linux/include/camera-device.h
  examples/camera-app/linux/include/clusters/zone-mgmt/zone-manager.h
  examples/camera-app/linux/main.cpp
  examples/camera-app/linux/src/CameraAppCommandDelegate.cpp
  examples/camera-app/linux/src/camera-device.cpp
  examples/camera-app/linux/src/clusters/zone-mgmt/zone-manager.cpp
  scripts/tools/check_includes_config.py
  src/BUILD.gn
  src/app/clusters/zone-management-server/BUILD.gn
  src/app/clusters/zone-management-server/app_config_dependent_sources.cmake
  src/app/clusters/zone-management-server/app_config_dependent_sources.gni
  src/app/clusters/zone-management-server/tests/BUILD.gn
  src/app/clusters/zone-management-server/tests/TestZonePolygon.cpp
  src/app/clusters/zone-management-server/zone-geometry.h
  src/app/clusters/zone-management-server/zone-management-server.cpp
  src/app/clusters/zone-management-server/zone-management-server.h
  src/app/common/templates/config-data.yaml
  src/app/zap-templates/zcl/zcl-with-test-extensions.json
  src/app/zap-templates/zcl/zcl.json
  src/app/zap_cluster_list.json
  src/python_testing/TC_ZONEMGMT_2_1.py
  src/python_testing/TC_ZONEMGMT_2_2.py
  src/python_testing/TC_ZONEMGMT_2_3.py
  src/python_testing/TC_ZONEMGMT_2_4.py
  zzz_generated/app-common/app-common/zap-generated/attributes/Accessors.cpp
  zzz_generated/app-common/app-common/zap-generated/attributes/Accessors.h
  zzz_generated/app-common/app-common/zap-generated/callback.h
Labels: examples, scripts, app, review - approved, tests

#40150 Connectivity window with BLE, WiFi and Thread status for Linux GUI
  examples/air-quality-sensor-app/linux/BUILD.gn
  examples/air-quality-sensor-app/linux/main.cpp
  examples/common/imgui_ui/windows/BUILD.gn
  examples/common/imgui_ui/windows/connectivity.cpp
  examples/common/imgui_ui/windows/connectivity.h
  examples/contact-sensor-app/linux/BUILD.gn
  examples/contact-sensor-app/linux/main.cpp
  examples/energy-gateway-app/linux/BUILD.gn
  examples/energy-management-app/linux/BUILD.gn
  examples/lighting-app-data-mode-no-unique-id/linux/BUILD.gn
  examples/lighting-app-data-mode-no-unique-id/linux/main.cpp
  examples/lighting-app/linux/BUILD.gn
  examples/lighting-app/linux/main.cpp
  examples/water-leak-detector-app/linux/BUILD.gn
  examples/water-leak-detector-app/linux/main.cpp
  src/platform/Linux/bluez/BluezEndpoint.cpp
  src/platform/Tizen/BLEManagerImpl.cpp
Labels: examples, platform, linux, review - approved, tizen

#40435 There are CI issues for this test case. Temporarily disable.
  src/python_testing/test_metadata.yaml
Labels: review - pending, fast track, tests

#40430 [WebRTC] Rename WebRTCTransportRequestorDelegate to Delegate
  examples/camera-controller/webrtc-manager/WebRTCRequestorDelegate.h
  src/app/clusters/webrtc-transport-requestor-server/tests/TestWebRTCTransportRequestorCluster.cpp
  src/app/clusters/webrtc-transport-requestor-server/webrtc-transport-requestor-cluster.cpp
  src/app/clusters/webrtc-transport-requestor-server/webrtc-transport-requestor-cluster.h
  src/controller/webrtc/WebRTCTransportRequestorManager.h
Labels: examples, controller, app, review - approved

#40423 Add code coverage report upload to CodeCov.io to have PRs report unit test coverage.
  .github/codecov.yml
  .github/workflows/build.yaml
  scripts/build_coverage.sh
Labels: scripts, github, workflows, review - pending, sdk-maintainer-approved

#40448 [v1.4.2] ESP32: enable GetRotatingDeviceIdUniqueId() only when device instance…
  src/platform/ESP32/ESP32SecureCertDataProvider.cpp
  src/platform/ESP32/ESP32SecureCertDataProvider.h
Labels: platform, esp32

#40377 [E2E][JF] Move OJCW into the pairing command set
  docs/guides/joint_fabric_guide.md
  examples/chip-tool/commands/common/Commands.h
  examples/jf-control-app/main.cpp
Labels: documentation, tools, examples, review - approved

#40431 Update Commodity Tariff xml with alchemy
  src/app/zap-templates/zcl/data-model/chip/commodity-tariff-cluster.xml
  src/controller/data_model/controller-clusters.matter
  src/controller/java/generated/java/chip/devicecontroller/ChipStructs.java
  src/controller/java/generated/java/chip/devicecontroller/cluster/structs/CommodityTariffClusterTariffComponentStruct.kt
  src/controller/java/generated/java/matter/controller/cluster/structs/CommodityTariffClusterTariffComponentStruct.kt
  src/controller/python/chip/clusters/Objects.py
  src/darwin/Framework/CHIP/zap-generated/MTRAttributeTLVValueDecoder.mm
  src/darwin/Framework/CHIP/zap-generated/MTRCommandPayloadsObjc.mm
  zzz_generated/app-common/clusters/CommodityTariff/Structs.h
Labels: darwin, controller, app, review - pending, sdk-maintainer-approved

#40425 [cmake] Fix building issue due to lack of Python3 under Windows
  build/chip/chip_codegen.cmake
Labels: gn, review - approved

#40311 Add an attribute persistence class to centralize attribute I/O.
  src/app/persistence/AttributePersistence.cpp
  src/app/persistence/AttributePersistence.h
  src/app/persistence/BUILD.gn
  src/app/persistence/PascalString.h
  src/app/persistence/String.cpp
  src/app/persistence/String.h
  src/app/persistence/tests/BUILD.gn
  src/app/persistence/tests/TestAttributePersistence.cpp
  src/app/persistence/tests/TestString.cpp
Labels: app, review - approved

#40450 [Ameba] Update Ameba platform
  .github/workflows/examples-ameba.yaml
  examples/air-purifier-app/ameba/main/chipinterface.cpp
  examples/all-clusters-app/ameba/README.md
  examples/all-clusters-app/ameba/chip_main.cmake
  examples/all-clusters-app/ameba/main/CHIPDeviceManager.cpp
  examples/all-clusters-app/ameba/main/chipinterface.cpp
  examples/all-clusters-minimal-app/ameba/README.md
  examples/all-clusters-minimal-app/ameba/main/chipinterface.cpp
  examples/chef/ameba/main/chipinterface.cpp
  examples/light-switch-app/ameba/README.md
  examples/light-switch-app/ameba/main/chipinterface.cpp
  examples/lighting-app/ameba/README.md
  examples/lighting-app/ameba/main/chipinterface.cpp
  examples/ota-requestor-app/ameba/README.md
  examples/ota-requestor-app/ameba/main/chipinterface.cpp
  examples/pigweed-app/ameba/README.md
  examples/platform/ameba/test_event_trigger/AmebaTestEventTriggerDelegate.cpp
  examples/platform/ameba/test_event_trigger/AmebaTestEventTriggerDelegate.h
  src/platform/Ameba/BUILD.gn
  src/platform/Ameba/DeviceInfoProviderImpl.cpp
  src/platform/Ameba/DeviceInfoProviderImpl.h
  src/platform/Ameba/FactoryDataProvider.cpp
  src/platform/Ameba/FactoryDataProvider.h
Labels: examples, platform, github, workflows, examples chef

#40461 [CI] Re-enable TC_WEBRTC_1_x test cases in CI.
  src/controller/python/chip/webrtc/WebRTCTransportCluster.cpp
  src/controller/python/chip/webrtc/library_handle.py
  src/controller/python/chip/webrtc/webrtc_manager.py
  src/controller/webrtc/WebRTCTransportRequestorManager.cpp
  src/controller/webrtc/WebRTCTransportRequestorManager.h
  src/python_testing/test_metadata.yaml
Labels: controller, review - pending, tests, sdk-maintainer-approved

#40456 Add FFMPEG version check to fix build break
  examples/camera-app/linux/src/pushav-clip-recorder.cpp
Labels: examples, review - pending, sdk-maintainer-approved

#40468 [Android][Docker]upgrade android ndk with r28c
  integrations/docker/images/base/chip-build/version
  integrations/docker/images/stage-3/chip-build-android/Dockerfile
Labels: integrations, review - pending, docker

#40441 [NXP][example][common] Fix border router ble-wifi commissioning issue
  examples/platform/nxp/common/app_task/source/AppTaskBase.cpp
Labels: examples, platform, review - approved, nxp

#40405 Update IsAttributeEnabled functions to support dynamic and static endpoints for code driven clusters
  src/app/clusters/general-diagnostics-server/CodegenIntegration.cpp
  src/app/clusters/software-diagnostics-server/CodegenIntegration.cpp
Labels: app, review - pending, sdk-maintainer-approved

#40475 [Silabs] Fix silabs dockerfile
  integrations/docker/images/base/chip-build/version
  integrations/docker/images/stage-2/chip-build-efr32/Dockerfile
Labels: review - approved

#40455 [Android]upgrade android with ndk 28c and 16kb page size
  build/chip/java/BUILD.gn
  build/config/android_abi.gni
  docs/platforms/android/android_building.md
  examples/android/CHIPTool/app/build.gradle
  examples/android/CHIPTool/chip-library/build.gradle
  gn_build.sh
  src/controller/java/BUILD.gn
  src/platform/android/InetInterfaceImpl.cpp
Labels: documentation, examples, integrations, platform, controller, gn, review - approved, docker

#40368 [Closure] Add Positioning feature check before validating position value
  src/app/clusters/closure-dimension-server/closure-dimension-cluster-logic.cpp
  src/app/tests/TestClosureDimensionCluster.cpp
Labels: app, review - approved, tests

#40459 Update Constructor comments on PascalBuffer
  src/app/persistence/PascalString.h
Labels: app, review - approved

#40402 Issue #40008: deconstrain RVC example's `GoHome` handler to fix TC-RVCOPSTATE-2.5
  examples/rvc-app/RVC_app_state_diagram.png
  examples/rvc-app/RVC_app_state_diagram_drawio.xml
  examples/rvc-app/rvc-common/src/rvc-device.cpp
  src/python_testing/TC_RVCOPSTATE_2_5.py
Labels: examples, review - approved, tests

#40490 Revert "[Camera] Migrate WebRTC Provider Cluster to Server Cluster In…
  examples/camera-app/camera-common/BUILD.gn
  examples/camera-app/camera-common/include/camera-app.h
  examples/camera-app/camera-common/include/camera-device-interface.h
  examples/camera-app/camera-common/src/camera-app.cpp
  examples/camera-app/linux/include/clusters/webrtc-provider/webrtc-provider-manager.h
  scripts/tools/check_includes_config.py
  src/app/clusters/webrtc-transport-provider-server/BUILD.gn
  src/app/clusters/webrtc-transport-provider-server/app_config_dependent_sources.cmake
  src/app/clusters/webrtc-transport-provider-server/app_config_dependent_sources.gni
  src/app/clusters/webrtc-transport-provider-server/webrtc-transport-provider-server.cpp
  src/app/clusters/webrtc-transport-provider-server/webrtc-transport-provider-server.h
  src/python_testing/TC_WEBRTCP_2_1.py
  src/python_testing/TC_WEBRTCP_2_2.py
  src/python_testing/TC_WEBRTCP_2_3.py
  src/python_testing/TC_WEBRTCP_2_4.py
  src/python_testing/TC_WEBRTCP_2_5.py
Labels: examples, scripts, app, review - pending, tests, sdk-maintainer-approved

#40483 Allow to use Python binding without Joint Fabric support
  src/controller/python/matter/ChipDeviceCtrl.py
  src/controller/python/matter/ChipReplStartup.py
Labels: controller, review - pending, sdk-maintainer-approved

#40500 [Android][Java]Bump Java version with 17
  integrations/docker/images/base/chip-build/version
  integrations/docker/images/stage-3/chip-build-android/Dockerfile
  integrations/docker/images/vscode/chip-build-vscode/Dockerfile
Labels: integrations, review - pending, docker, sdk-maintainer-approved

#40451 [Darwin] Convert some lock usage to RAII.
  src/darwin/Framework/CHIP/MTRDevice_Concrete.mm
Labels: darwin

#40509 use 1_4_2 spec version instead of 1_5 in PICSGenerator.py
  src/tools/PICS-generator/PICSGenerator.py
Labels: review - pending

#40467 Make context members references instead of pointers.
  examples/common/server-cluster-shim/ServerClusterShim.cpp
  src/app/InteractionModelEngine.cpp
  src/app/clusters/general-diagnostics-server/general-diagnostics-cluster.cpp
  src/app/clusters/software-diagnostics-server/software-diagnostics-cluster.h
  src/app/data-model-provider/Context.h
  src/app/data-model-provider/Provider.h
  src/app/server-cluster/DefaultServerCluster.cpp
  src/app/server-cluster/ServerClusterContext.h
  src/app/server-cluster/testing/EmptyProvider.cpp
  src/app/server-cluster/testing/EmptyProvider.h
  src/app/server-cluster/testing/TestServerClusterContext.h
  src/app/tests/TestAttributePathExpandIterator.cpp
  src/controller/tests/TestWriteChunking.cpp
  src/data-model-providers/codegen/CodegenDataModelProvider.cpp
  src/data-model-providers/codegen/CodegenDataModelProvider.h
  src/data-model-providers/codegen/CodegenDataModelProvider_Write.cpp
  src/data-model-providers/codegen/tests/TestCodegenModelViaMocks.cpp
Labels: examples, controller, app, review - approved, tests

#40396 [Silabs] UART RAM usage reduction
  .github/.wordlist.txt
  examples/air-quality-sensor-app/silabs/README.md
  examples/dishwasher-app/silabs/README.md
  examples/energy-management-app/silabs/README.md
  examples/light-switch-app/silabs/README.md
  examples/lighting-app/silabs/README.md
  examples/lit-icd-app/silabs/README.md
  examples/lock-app/silabs/README.md
  examples/platform/silabs/MatterConfig.cpp
  examples/platform/silabs/matter-platform.slcp
  examples/platform/silabs/uart.cpp
  examples/pump-app/silabs/README.md
  examples/refrigerator-app/silabs/README.md
  examples/smoke-co-alarm-app/silabs/README.md
  examples/thermostat/silabs/README.md
  examples/window-app/silabs/README.md
  scripts/examples/gn_silabs_example.sh
Labels: examples, scripts, platform, github, review - approved, silabs, changing-submodules-on-purpose

#40518 Use boringssl and disable WebRTC on Darwin to fix build issues
  scripts/build_python.sh
Labels: scripts, review - pending, sdk-maintainer-approved

#40516 Use ServerClusterInit callbacks for all codegen integrations
  .github/workflows/lint.yml
  scripts/tools/zap/tests/outputs/all-clusters-app/app-templates/endpoint_config.h
  scripts/tools/zap/tests/outputs/lighting-app/app-templates/endpoint_config.h
  src/app/clusters/administrator-commissioning-server/CodegenIntegration.cpp
  src/app/clusters/general-diagnostics-server/CodegenIntegration.cpp
  src/app/clusters/ota-provider/CodegenIntegration.cpp
  src/app/clusters/push-av-stream-transport-server/CodegenIntegration.cpp
  src/app/clusters/push-av-stream-transport-server/push-av-stream-transport-cluster.cpp
  src/app/clusters/software-diagnostics-server/CodegenIntegration.cpp
  src/app/clusters/wifi-network-diagnostics-server/CodegenIntegration.cpp
  src/app/common/templates/config-data.yaml
Labels: scripts, app, github, workflows, review - approved

#40514 Notify of attribute change in case InterfaceEnabled is written.
  src/app/clusters/network-commissioning/NetworkCommissioningCluster.cpp
  src/app/clusters/network-commissioning/tests/BUILD.gn
  src/app/clusters/network-commissioning/tests/FakeWifiDriver.h
  src/app/clusters/network-commissioning/tests/TestNetworkCommissioningCluster.cpp
  src/app/server-cluster/DefaultServerCluster.cpp
  src/app/server-cluster/DefaultServerCluster.h
  src/app/server-cluster/tests/TestDefaultServerCluster.cpp
Labels: app, review - approved

#40443 Color Control server - Set RemainingTime to zero upon receipt of StopMoveStep command
  src/app/clusters/color-control-server/color-control-server.cpp
  src/python_testing/TC_COLORCONTROL.py
Labels: examples, app, github, workflows, review - approved, tests, examples chef

#37649 [Silabs] Increasing the lwip thread priority to 32 (osPriorityAboveNormal)
  src/lwip/silabs/lwipopts-rs911x.h
  src/lwip/silabs/lwipopts-wf200.h
Labels: review - approved, lwip

#40532 [NXP]Add software update reboot reason support
  src/platform/nxp/common/ConfigurationManagerImpl.cpp
Labels: platform, review - approved, nxp

#40536 [Telink] Update Docker image (Zephyr update)
  integrations/docker/images/base/chip-build/version
  integrations/docker/images/stage-2/chip-build-telink-zephyr_3_3/Dockerfile
  integrations/docker/images/stage-2/chip-build-telink/Dockerfile
Labels: integrations, review - pending, docker, sdk-maintainer-approved

#40494 [WebRTC] WebRTCSessionID should start from 0
  src/app/clusters/webrtc-transport-provider-server/webrtc-transport-provider-server.cpp
  src/app/clusters/webrtc-transport-provider-server/webrtc-transport-provider-server.h
  src/python_testing/TC_WEBRTCP_2_1.py
  src/python_testing/TC_WEBRTCP_2_2.py
  src/python_testing/TC_WEBRTCP_2_3.py
  src/python_testing/TC_WEBRTCP_2_4.py
  src/python_testing/TC_WEBRTCP_2_5.py
Labels: app, review - approved, tests

#40517 Pass the enabled attributes by value
  src/app/server-cluster/AttributeListBuilder.cpp
  src/app/server-cluster/AttributeListBuilder.h
Labels: app, review - approved

#39991 Add metrics for OTA transfers
  examples/darwin-framework-tool/commands/provider/OTAProviderDelegate.mm
  src/darwin/Framework/CHIP/MTRDeviceControllerDelegateBridge.mm
  src/darwin/Framework/CHIP/MTRMetricKeys.h
  src/darwin/Framework/CHIP/MTRMetricsCollector.h
  src/darwin/Framework/CHIP/MTRMetricsCollector.mm
  src/darwin/Framework/CHIP/MTROTAImageTransferHandler.h
  src/darwin/Framework/CHIP/MTROTAImageTransferHandler.mm
  src/darwin/Framework/CHIP/MTROTAProviderDelegate.h
  src/darwin/Framework/CHIPTests/MTROTAProviderTests.m
  src/darwin/Framework/CHIPTests/TestHelpers/MTRTestOTAProvider.m
Labels: examples, darwin

#40529 [Camera] Update the instructions for liveview
  examples/camera-app/linux/README.md
  examples/camera-controller/README.md
Labels: examples, review - approved

#39413 Mypy conformance for runner.py
  .github/workflows/mypy-validation.yml
  src/python_testing/matter_testing_infrastructure/matter/testing/matter_test_config.py
  src/python_testing/matter_testing_infrastructure/matter/testing/matter_testing.py
  src/python_testing/matter_testing_infrastructure/matter/testing/runner.py
Labels: github, workflows, review - pending, tests, sdk-maintainer-approved

#40463 [Silabs] Add support to suppress alarm manually
  examples/refrigerator-app/silabs/include/EventHandlerLibShell.h
  examples/refrigerator-app/silabs/include/RefrigeratorManager.h
  examples/refrigerator-app/silabs/include/refrigerator-and-temperature-controlled-cabinet-mode.h
  examples/refrigerator-app/silabs/src/EventHandlerLibShell.cpp
  examples/refrigerator-app/silabs/src/RefrigeratorManager.cpp
  examples/refrigerator-app/silabs/src/ZclCallbacks.cpp
Labels: examples, review - pending, sdk-maintainer-approved

#40335 [NXP][examples][cmake] Adding post-build image conversion to binary format for all NXP examples
  examples/platform/nxp/common/app_common.cmake
Labels: examples, platform, review - approved, nxp

#40353 Adding wifi parameters validation
  src/python_testing/TC_CNET_4_9.py
  src/python_testing/matter_testing_infrastructure/matter/testing/matter_testing.py
Labels: review - approved, tests

#40566 Testing
  credentials/development/commissioner_dut/struct_dac_fuzzed_akid_malformed/cd.der
  credentials/development/commissioner_dut/struct_dac_fuzzed_akid_malformed/dac-Cert.der
  credentials/development/commissioner_dut/struct_dac_fuzzed_akid_malformed/dac-Cert.pem
  credentials/development/commissioner_dut/struct_dac_fuzzed_akid_malformed/dac-Key.der
  credentials/development/commissioner_dut/struct_dac_fuzzed_akid_malformed/dac-Key.pem
  credentials/development/commissioner_dut/struct_dac_fuzzed_akid_malformed/pai-Cert.der
  credentials/development/commissioner_dut/struct_dac_fuzzed_akid_malformed/pai-Cert.pem
  credentials/development/commissioner_dut/struct_dac_fuzzed_akid_malformed/pai-Key.der
  credentials/development/commissioner_dut/struct_dac_fuzzed_akid_malformed/pai-Key.pem
  credentials/development/commissioner_dut/struct_dac_fuzzed_akid_malformed/test_case_vector.json
  credentials/development/commissioner_dut/struct_dac_fuzzed_skid_malformed/cd.der
  credentials/development/commissioner_dut/struct_dac_fuzzed_skid_malformed/dac-Cert.der
  credentials/development/commissioner_dut/struct_dac_fuzzed_skid_malformed/dac-Cert.pem
  credentials/development/commissioner_dut/struct_dac_fuzzed_skid_malformed/dac-Key.der
  credentials/development/commissioner_dut/struct_dac_fuzzed_skid_malformed/dac-Key.pem
  credentials/development/commissioner_dut/struct_dac_fuzzed_skid_malformed/pai-Cert.der
  credentials/development/commissioner_dut/struct_dac_fuzzed_skid_malformed/pai-Cert.pem
  credentials/development/commissioner_dut/struct_dac_fuzzed_skid_malformed/pai-Key.der
  credentials/development/commissioner_dut/struct_dac_fuzzed_skid_malformed/pai-Key.pem
  credentials/development/commissioner_dut/struct_dac_fuzzed_skid_malformed/test_case_vector.json
  credentials/development/commissioner_dut/struct_pai_fuzzed_akid_malformed/cd.der
  credentials/development/commissioner_dut/struct_pai_fuzzed_akid_malformed/dac-Cert.der
  credentials/development/commissioner_dut/struct_pai_fuzzed_akid_malformed/dac-Cert.pem
  credentials/development/commissioner_dut/struct_pai_fuzzed_akid_malformed/dac-Key.der
  credentials/development/commissioner_dut/struct_pai_fuzzed_akid_malformed/dac-Key.pem
  credentials/development/commissioner_dut/struct_pai_fuzzed_akid_malformed/pai-Cert.der
  credentials/development/commissioner_dut/struct_pai_fuzzed_akid_malformed/pai-Cert.pem
  credentials/development/commissioner_dut/struct_pai_fuzzed_akid_malformed/pai-Key.der
  credentials/development/commissioner_dut/struct_pai_fuzzed_akid_malformed/pai-Key.pem
  credentials/development/commissioner_dut/struct_pai_fuzzed_akid_malformed/test_case_vector.json
  credentials/development/commissioner_dut/struct_pai_fuzzed_skid_malformed/cd.der
  credentials/development/commissioner_dut/struct_pai_fuzzed_skid_malformed/dac-Cert.der
  credentials/development/commissioner_dut/struct_pai_fuzzed_skid_malformed/dac-Cert.pem
  credentials/development/commissioner_dut/struct_pai_fuzzed_skid_malformed/dac-Key.der
  credentials/development/commissioner_dut/struct_pai_fuzzed_skid_malformed/dac-Key.pem
  credentials/development/commissioner_dut/struct_pai_fuzzed_skid_malformed/pai-Cert.der
  credentials/development/commissioner_dut/struct_pai_fuzzed_skid_malformed/pai-Cert.hex
  credentials/development/commissioner_dut/struct_pai_fuzzed_skid_malformed/pai-Cert.pem
  credentials/development/commissioner_dut/struct_pai_fuzzed_skid_malformed/pai-Key.der
  credentials/development/commissioner_dut/struct_pai_fuzzed_skid_malformed/pai-Key.pem
  credentials/development/commissioner_dut/struct_pai_fuzzed_skid_malformed/test_case_vector.json
  src/crypto/CHIPCryptoPALOpenSSL.cpp
  src/crypto/tests/DacValidationExplicitVectors.h
  src/crypto/tests/TestChipCryptoPAL.cpp
Labels: crypto, review - pending, sdk-maintainer-approved

#40376 [E2E][JF] Implemented JF Datastore attributes and commands
  src/app/clusters/joint-fabric-datastore-server/joint-fabric-datastore-server.cpp
  src/app/server/BUILD.gn
  src/app/server/JointFabricDatastore.cpp
  src/app/server/JointFabricDatastore.h
Labels: app, review - approved, joint-fabric

#40327 Enable Energy-gateway and Energy Management apps run ESP32 CI
  .github/workflows/examples-esp32.yaml
Labels: examples, github, workflows, review - pending, sdk-maintainer-approved

#40578 Enhance checks for OpenSSL
  src/crypto/CHIPCryptoPALOpenSSL.cpp
Labels: crypto

#40579 Enhance checks for OpenSSL
  src/crypto/CHIPCryptoPALOpenSSL.cpp
Labels: crypto

#40580 Enhance checks for OpenSSL
  src/crypto/CHIPCryptoPALOpenSSL.cpp
Labels: crypto

#40582 Enhance checks for OpenSSL
  src/crypto/CHIPCryptoPALOpenSSL.cpp
Labels: crypto

#39734 [ESP32]: remove unused Wi-Fi AP settings
  src/platform/ESP32/CHIPDevicePlatformConfig.h
  src/platform/ESP32/CHIPPlatformConfig.h
  src/platform/ESP32/ConnectivityManagerImpl.h
  src/platform/ESP32/ConnectivityManagerImpl_WiFi.cpp
  src/platform/ESP32/ESP32Utils.cpp
  src/platform/ESP32/ESP32Utils.h
Labels: platform, esp32, review - approved

#40598 Enable HardPrivacy mode in the CameraDevice to enable optional attribute HardPrivacyModeOn.
  examples/camera-app/linux/include/camera-device.h
Labels: examples, review - approved

#40540 Increase unit test code coverage of `credentials/attestation_verifier/` by 4.3%
  src/credentials/tests/BUILD.gn
  src/credentials/tests/TestDacOnlyPartialAttestationVerifier.cpp
Labels: testing, attestation, review - pending, tests, sdk-maintainer-approved

#40504 Migrate Group Key Management Cluster to be Code Driven
  scripts/tools/zap/tests/outputs/all-clusters-app/app-templates/IMClusterCommandHandler.cpp
  scripts/tools/zap/tests/outputs/all-clusters-app/app-templates/endpoint_config.h
  scripts/tools/zap/tests/outputs/lighting-app/app-templates/IMClusterCommandHandler.cpp
  scripts/tools/zap/tests/outputs/lighting-app/app-templates/endpoint_config.h
  src/BUILD.gn
  src/app/clusters/group-key-mgmt-server/BUILD.gn
  src/app/clusters/group-key-mgmt-server/CodegenIntegration.cpp
  src/app/clusters/group-key-mgmt-server/app_config_dependent_sources.cmake
  src/app/clusters/group-key-mgmt-server/group-key-mgmt-cluster.cpp
  src/app/clusters/group-key-mgmt-server/group-key-mgmt-cluster.h
  src/app/clusters/group-key-mgmt-server/group-key-mgmt-server.cpp
  src/app/clusters/group-key-mgmt-server/tests/BUILD.gn
  src/app/clusters/group-key-mgmt-server/tests/TestGroupKeyManagementCluster.cpp
  src/app/common/templates/config-data.yaml
  zzz_generated/app-common/app-common/zap-generated/callback.h
Labels: scripts, app, review - pending, cluster-decoupling, sdk-maintainer-approved

#40267 [Test Update] Updating TC_ACL_2_6 test module to include validation for legacy override list write method
  src/python_testing/TC_ACL_2_6.py
Labels: review - pending, tests, sdk-maintainer-approved

#40553 Centralize codegen integration
  .github/workflows/lint.yml
  src/app/clusters/administrator-commissioning-server/CodegenIntegration.cpp
  src/app/clusters/basic-information/CodegenIntegration.cpp
  src/app/clusters/general-diagnostics-server/CodegenIntegration.cpp
  src/app/clusters/group-key-mgmt-server/CodegenIntegration.cpp
  src/app/clusters/ota-provider/CodegenIntegration.cpp
  src/app/clusters/push-av-stream-transport-server/CodegenIntegration.cpp
  src/app/clusters/software-diagnostics-server/CodegenIntegration.cpp
  src/app/clusters/wifi-network-diagnostics-server/CodegenIntegration.cpp
  src/app/dynamic_server/DynamicDispatcher.cpp
  src/app/server-cluster/OptionalAttributeSet.h
  src/app/server-cluster/tests/TestOptionalAttributeSet.cpp
  src/data-model-providers/codegen/BUILD.gn
  src/data-model-providers/codegen/ClusterIntegration.cpp
  src/data-model-providers/codegen/ClusterIntegration.h
  src/data-model-providers/codegen/EmberAttributeDataBuffer.h
  src/data-model-providers/codegen/model.cmake
  src/data-model-providers/codegen/model.gni
  src/lib/BUILD.gn
  src/lib/lib.gni
Labels: lib, app, github, workflows, review - pending, sdk-maintainer-approved

#40613 Fix BUILD.gn detecting host platform as linux-x86_64 on macOS
  build/chip/java/BUILD.gn
  scripts/build/builders/android.py
Labels: review - approved

#40606 [Camera] Refactor the AllocateVideoStream method to config camera parameters
  examples/camera-controller/commands/liveview/LiveViewCommands.cpp
  examples/camera-controller/commands/liveview/LiveViewCommands.h
  examples/camera-controller/device-manager/AVStreamManagement.cpp
  examples/camera-controller/device-manager/AVStreamManagement.h
  examples/camera-controller/device-manager/DeviceManager.cpp
  examples/camera-controller/device-manager/DeviceManager.h
Labels: examples, review - approved

#38331 Implementation of PushAVTransport and PushAVStreamTransportDelegate
  examples/camera-app/camera-common/BUILD.gn
  examples/camera-app/camera-common/include/camera-device-interface.h
  examples/camera-app/camera-common/src/camera-app.cpp
  examples/camera-app/linux/BUILD.gn
  examples/camera-app/linux/include/camera-device.h
  examples/camera-app/linux/include/clusters/push_av_transport/push-av-stream-transport-delegate-impl.h
  examples/camera-app/linux/include/pushav-clip-recorder.h
  examples/camera-app/linux/include/pushav-transport/pushav-transport.h
  examples/camera-app/linux/src/camera-device.cpp
  examples/camera-app/linux/src/clusters/push_av_transport/push-av-stream-transport-delegate-impl.cpp
  examples/camera-app/linux/src/pushav-clip-recorder.cpp
  examples/camera-app/linux/src/pushav-transport/pushav-transport.cpp
Labels: tools, examples, app, review - approved

#40563 ESP32: Add APIs to get random values from secure cert partition
  src/platform/ESP32/ESP32SecureCertDataProvider.cpp
  src/platform/ESP32/ESP32SecureCertDataProvider.h
Labels: platform, esp32, review - approved

#40573 [Camera-App] Integrate PushAvStreamTransport into camera app
  examples/camera-app/camera-common/BUILD.gn
  examples/camera-app/camera-common/include/camera-device-interface.h
  examples/camera-app/camera-common/src/camera-app.cpp
  examples/camera-app/linux/BUILD.gn
  examples/camera-app/linux/include/camera-device.h
  examples/camera-app/linux/include/clusters/push-av-stream-transport/push-av-stream-manager.h
  examples/camera-app/linux/src/camera-device.cpp
  examples/camera-app/linux/src/clusters/push-av-stream-transport/push-av-stream-manager.cpp
Labels: examples, review - approved

#40615 [Android][Docker] Upgrade Android API level 30 to 34
  integrations/docker/images/base/chip-build/version
  integrations/docker/images/stage-3/chip-build-android/Dockerfile
Labels: integrations, review - pending, docker, sdk-maintainer-approved

#40624 [Camera-Controller] Add instructions for uploading video clip via Push AV Transport
  .github/.wordlist.txt
  examples/camera-controller/README.md
Labels: examples, github, review - approved

#40568 Add enum handling in AttributePersistence.
  src/app/persistence/AttributePersistence.h
  src/app/persistence/tests/TestAttributePersistence.cpp
Labels: app, review - pending, sdk-maintainer-approved

#40276 [Closures] Add secure state field validation check.
  src/app/clusters/closure-control-server/closure-control-cluster-logic.cpp
  src/app/tests/TestClosureControlClusterLogic.cpp
Labels: app, review - approved, tests

#40620 [v1.4.2] ESP32: Add APIs to get random values from secure cert partition (#40563)
  src/platform/ESP32/ESP32SecureCertDataProvider.cpp
  src/platform/ESP32/ESP32SecureCertDataProvider.h
Labels: platform, esp32

#40597 [Chef] [Minor fix] [Roomairconditioner] Fix few ZAP initialisation values for setpoint ranges
  examples/chef/devices/rootnode_roomairconditioner_9cf3607804.matter
  examples/chef/devices/rootnode_roomairconditioner_9cf3607804.zap
Labels: examples, examples chef, sdk-maintainer-approved

#40464 [Silabs] Add conditional compilation for UART.h
  examples/platform/silabs/SoftwareFaultReports.cpp
Labels: examples, platform, review - pending, silabs, sdk-maintainer-approved

#40616 [Android] Update BUILD.gn API level 30 to 34
  .github/workflows/full-android.yaml
  .github/workflows/smoketest-android.yaml
  docs/platforms/android/android_building.md
  examples/android/CHIPTest/BUILD.gn
  examples/tv-app/android/App/.idea/misc.xml
  examples/tv-app/android/BUILD.gn
  examples/tv-casting-app/android/BUILD.gn
  examples/virtual-device-app/android/BUILD.gn
  src/app/server/java/BUILD.gn
  src/controller/java/BUILD.gn
  src/messaging/tests/java/BUILD.gn
  src/platform/android/BUILD.gn
Labels: documentation, examples, platform, controller, app, github, workflows, review - approved, messaging, sdk-maintainer-approved

#40537 [cmake][common] Adding optional support for --zcl argument in chip_zapgen() cmake function
  build/chip/chip_codegen.cmake
  examples/all-clusters-app/nxp/CMakeLists.txt
  examples/platform/nxp/common/app_common.cmake
  src/app/chip_data_model.cmake
Labels: examples, platform, app, gn, review - approved, nxp

#40638 [Silabs][Docker] Update silabs docker image to pull latest sdks
  integrations/docker/images/base/chip-build/version
  integrations/docker/images/stage-2/chip-build-efr32/Dockerfile
Labels: integrations, review - approved, docker

#40651 Add missing the override keyword in PushAvStreamTransportDelegate
  examples/all-clusters-app/all-clusters-common/include/push-av-stream-transport-delegate-impl.h
  examples/all-clusters-app/all-clusters-common/src/push-av-stream-transport-delegate-impl.cpp
  examples/camera-app/linux/include/clusters/push-av-stream-transport/push-av-stream-manager.h
  examples/camera-app/linux/src/clusters/push-av-stream-transport/push-av-stream-manager.cpp
  src/app/clusters/push-av-stream-transport-server/push-av-stream-transport-delegate.h
  src/app/clusters/push-av-stream-transport-server/tests/TestPushAVStreamTransportCluster.cpp
Labels: examples, app, review - approved

#39893 Bring back TC-DGSW-2.2 python automation test
  src/app/tests/suites/certification/Test_TC_DGSW_2_2.yaml
  src/app/tests/suites/manualTests.json
  src/python_testing/TC_DGSW_2_2.py
Labels: app, review - pending, tests, sdk-maintainer-approved

#40645 Add missing sibling test cases to TestMatterTestingSupport
  src/python_testing/TestMatterTestingSupport.py
Labels: review - pending, tests, sdk-maintainer-approved

#40543 [SILABS] Adds support for PKCS7 padding in OTA flow
  scripts/tools/silabs/ota/crypto_utils.py
  src/platform/silabs/multi-ota/OTAFirmwareProcessor.cpp
  src/platform/silabs/multi-ota/OTAMultiImageProcessorImpl.cpp
  src/platform/silabs/multi-ota/OTATlvProcessor.cpp
  src/platform/silabs/multi-ota/OTATlvProcessor.h
Labels: scripts, platform, review - pending, silabs, sdk-maintainer-approved

#39803 [nrfconnect] Implementation of factory reset test event trigger
  examples/all-clusters-app/nrfconnect/main/AppTask.cpp
  examples/lighting-app/nrfconnect/main/AppTask.cpp
  examples/lock-app/nrfconnect/main/AppTask.cpp
  src/platform/nrfconnect/BUILD.gn
  src/platform/nrfconnect/FactoryResetTestEventTriggerHandler.cpp
  src/platform/nrfconnect/FactoryResetTestEventTriggerHandler.h
Labels: examples, platform, nrf connect, review - approved

#38763 [Follow-Up] Updated TC_ACL_2_7 and TC_ACL_2_8 python3 test module to include fabric sensitive checks
  src/python_testing/TC_ACL_2_7.py
  src/python_testing/TC_ACL_2_8.py
Labels: review - pending, tests, sdk-maintainer-approved

#34921 Device type parsing: Add element override parsing
  src/python_testing/TC_DeviceConformance.py
  src/python_testing/TestConformanceSupport.py
  src/python_testing/TestConformanceTest.py
  src/python_testing/TestSpecParsingDeviceType.py
  src/python_testing/fake_device_builder.py
  src/python_testing/matter_testing_infrastructure/matter/testing/conformance.py
  src/python_testing/matter_testing_infrastructure/matter/testing/problem_notices.py
  src/python_testing/matter_testing_infrastructure/matter/testing/spec_parsing.py
Labels: documentation, examples, scripts, platform, esp32, controller, app, github, workflows, review - approved, tests, matter-1.4-te2-script-change

#40588 [Python] Allow to easily subclass persistent storage delegate
  docs/development_controllers/chip-repl/Matter_Multi_Fabric_Commissioning.ipynb
  docs/development_controllers/chip-repl/Matter_REPL_Intro.ipynb
  docs/development_controllers/chip-repl/matter-repl.md
  scripts/tests/chiptest/yamltest_with_chip_repl_tester.py
  scripts/tests/chipyaml/adapters/repl/runner.py
  src/controller/python/matter/CertificateAuthority.py
  src/controller/python/matter/ChipReplStartup.py
  src/controller/python/matter/ChipStack.py
  src/controller/python/matter/storage/__init__.py
  src/controller/python/tests/scripts/base.py
  src/python_testing/TC_CADMIN_1_3_4.py
  src/python_testing/TC_JCM_1_1.py
  src/python_testing/TC_JCM_1_2.py
  src/python_testing/TC_JFADMIN_2_1.py
  src/python_testing/TC_JFADMIN_2_2.py
  src/python_testing/TC_JFDS_2_1.py
  src/python_testing/TC_JFDS_2_2.py
  src/python_testing/matter_testing_infrastructure/matter/testing/matter_stack_state.py
Labels: documentation, scripts, controller, review - approved, tests

#40658 [Camera] Start the video stream using the parameters from the allocated stream
  examples/all-clusters-app/all-clusters-common/include/camera-av-stream-delegate-impl.h
  examples/all-clusters-app/all-clusters-common/src/camera-av-stream-delegate-impl.cpp
  examples/camera-app/camera-common/include/camera-device-interface.h
  examples/camera-app/linux/include/camera-device.h
  examples/camera-app/linux/include/clusters/camera-avstream-mgmt/camera-av-stream-manager.h
  examples/camera-app/linux/src/camera-device.cpp
  examples/camera-app/linux/src/clusters/camera-avstream-mgmt/camera-av-stream-manager.cpp
  examples/camera-controller/README.md
  src/app/clusters/camera-av-stream-management-server/camera-av-stream-management-server.cpp
  src/app/clusters/camera-av-stream-management-server/camera-av-stream-management-server.h
Labels: examples, app, review - approved

#40725 Always include Network Commissioning FeatureMaps in MTRCommissioneeInfo.
  src/darwin/Framework/CHIP/MTRCommissioneeInfo.h
  src/darwin/Framework/CHIP/MTRCommissioneeInfo.mm
  src/darwin/Framework/CHIP/MTRCommissioningParameters.h
  src/darwin/Framework/CHIPTests/MTRPairingTests.m
Labels: darwin

#40712 [AVSUM] Test script fixes to align with the test plan, fix errors
  src/python_testing/TC_AVSUM_2_1.py
  src/python_testing/TC_AVSUM_2_2.py
Labels: review - approved, tests

#40705 Reduce the codesize of enum encoding in attribute values.
  src/app/AttributeValueEncoder.h
  src/app/data-model/Encode.h
Labels: app, review - approved

#40748 [CI] Fix for Mergify deadlock
  .mergify.yml
Labels: review - approved

#40754 [Camera] Fix audio stream validation failure
  src/app/clusters/push-av-stream-transport-server/push-av-stream-transport-logic.cpp
Labels: app, review - approved

#39858 Rearrange functions in MatterBaseTest
  src/python_testing/matter_testing_infrastructure/matter/testing/matter_testing.py
Labels: review - pending, tests, sdk-maintainer-approved

#39297 Mypy conformance for metadata, conformance and spec_parsing
  .github/workflows/mypy-validation.yml
  scripts/setup/constraints.txt
  scripts/setup/requirements.all.txt
  scripts/tests/requirements.txt
  src/python_testing/matter_testing_infrastructure/matter/testing/conformance.py
  src/python_testing/matter_testing_infrastructure/matter/testing/decorators.py
  src/python_testing/matter_testing_infrastructure/matter/testing/metadata.py
  src/python_testing/matter_testing_infrastructure/matter/testing/spec_parsing.py
Labels: examples, scripts, platform, app, github, workflows, review - pending, tests, nxp, sdk-maintainer-approved

#40760 Include ConcreteAttributePath.h in ClusterStateCache.
  src/app/ClusterStateCache.h
Labels: app, review - approved

#40763 Expose more information on MTRDeviceAttestationDeviceInfo.
  src/darwin/Framework/CHIP/MTRDeviceAttestationDelegate.h
  src/darwin/Framework/CHIP/MTRDeviceAttestationDelegate.mm
  src/darwin/Framework/CHIP/MTRDeviceAttestationDelegateBridge.mm
  src/darwin/Framework/CHIP/MTRDeviceAttestationDelegate_Internal.h
  src/darwin/Framework/CHIPTests/MTRPairingTests.m
Labels: darwin

#40757 Add a way to init response payload Objective-C structs from corresponding C++ structs
  src/darwin/Framework/CHIP/templates/MTRCommandPayloadsObjc-src.zapt
  src/darwin/Framework/CHIP/templates/MTRCommandPayloads_Internal.zapt
  src/darwin/Framework/CHIP/zap-generated/MTRCommandPayloadsObjc.mm
  src/darwin/Framework/CHIP/zap-generated/MTRCommandPayloads_Internal.h
Labels: darwin, review - pending, fast track

#40759 Make FindCommissioneeDevice more reliable.
  src/controller/CHIPDeviceController.cpp
  src/controller/CommissioneeDeviceProxy.h
Labels: controller, review - approved

#40761 Add docs explaining problems in ScanNetworks handling during commissioning/
  src/controller/AutoCommissioner.cpp
Labels: review - approved

#40767 Add AllowLargePayload flag to Controller's InvokeCommandRequest
  examples/camera-app/linux/src/clusters/webrtc-provider/webrtc-provider-manager.cpp
  src/controller/InvokeInteraction.h
Labels: examples, controller, review - approved

#40765 [Camera] Fix no local SDP to send error
  examples/camera-controller/device-manager/DeviceManager.cpp
Labels: review - approved

#40762 [AVSUM Test Scripts] Update AVSUM test cases as per issue 5438
  src/python_testing/TC_AVSUMTestBase.py
  src/python_testing/TC_AVSUM_2_2.py
  src/python_testing/TC_AVSUM_2_3.py
  src/python_testing/TC_AVSUM_2_5.py
  src/python_testing/TC_AVSUM_2_7.py
  src/python_testing/TC_AVSUM_2_8.py
Labels: review - approved, tests
