Repository project-chip/connectedhomeip, pull requests merged in 2025-06, with the labels that each got.

#39318 [Chef] Remove ununsed optional Speed attribute
  examples/chef/devices/rootnode_pump_5f904818cc.matter
  examples/chef/devices/rootnode_pump_5f904818cc.zap
Labels: examples, examples chef

#39317 [Chef] Fix Pump: Min level should be initialised to 1
  examples/chef/common/chef-pump.cpp
Labels: examples, examples chef

#39316 Fixing wrong provider call in Linux ExampleDeviceInstanceInfoProvider
  examples/platform/linux/AppMain.cpp
Labels: examples, platform, linux, review - approved

#39253 Add missing import and specify template argument
  src/lib/support/Span.h
  src/messaging/ReliableMessageAnalyticsDelegate.h
Labels: lib, controller, review - approved, support, messaging

#39067 Test script for AVSM TC_2.12, TC_2.13, TC_2.14, TC_2.15
  examples/camera-app/linux/include/camera-device.h
  examples/camera-app/linux/src/camera-device.cpp
  src/python_testing/TC_AVSMTestBase.py
  src/python_testing/TC_AVSM_2_12.py
  src/python_testing/TC_AVSM_2_13.py
  src/python_testing/TC_AVSM_2_14.py
  src/python_testing/TC_AVSM_2_15.py
Labels: examples, review - approved, tests

#39314 [Cirque] Use Leaseweb as ubuntu mirror server for cirque image.
  integrations/docker/images/stage-2/chip-cirque-device-base/Dockerfile
  integrations/docker/images/stage-2/chip-cirque-device-base/version
Labels: integrations, review - pending, docker

#39294 Drop unused ConnectivityManager::CanStartWiFiScan function
  src/include/platform/ConnectivityManager.h
  src/include/platform/internal/GenericConnectivityManagerImpl_NoWiFi.h
  src/include/platform/internal/GenericConnectivityManagerImpl_WiFi.h
  src/platform/ASR/ConnectivityManagerImpl.h
  src/platform/Ameba/ConnectivityManagerImpl.h
  src/platform/Beken/ConnectivityManagerImpl.h
  src/platform/Darwin/ConnectivityManagerImpl.h
  src/platform/Darwin/WiFi/ConnectivityManagerImplWiFi.mm
  src/platform/ESP32/ConnectivityManagerImpl.h
  src/platform/Infineon/PSOC6/ConnectivityManagerImpl.h
  src/platform/Linux/ConnectivityManagerImpl.cpp
  src/platform/Linux/ConnectivityManagerImpl.h
  src/platform/NuttX/ConnectivityManagerImpl.cpp
  src/platform/NuttX/ConnectivityManagerImpl.h
  src/platform/Tizen/ConnectivityManagerImpl.cpp
  src/platform/Tizen/ConnectivityManagerImpl.h
  src/platform/Zephyr/wifi/ConnectivityManagerImplWiFi.cpp
  src/platform/Zephyr/wifi/ConnectivityManagerImplWiFi.h
  src/platform/android/ConnectivityManagerImpl.cpp
  src/platform/android/ConnectivityManagerImpl.h
  src/platform/cc32xx/ConnectivityManagerImpl.h
  src/platform/mt793x/ConnectivityManagerImpl.h
  src/platform/nrfconnect/wifi/ConnectivityManagerImplWiFi.cpp
  src/platform/nrfconnect/wifi/ConnectivityManagerImplWiFi.h
  src/platform/silabs/ConnectivityManagerImpl.h
  src/platform/telink/wifi/3.3.99.0/ConnectivityManagerImplWiFi.cpp
  src/platform/telink/wifi/3.7.99.0/ConnectivityManagerImplWiFi.cpp
  src/platform/telink/wifi/ConnectivityManagerImplWiFi.h
  src/platform/webos/ConnectivityManagerImpl.cpp
  src/platform/webos/ConnectivityManagerImpl.h
Labels: platform, darwin, esp32, linux, nrf connect, zephyr, review - approved, telink, tizen, silabs

#39321 [Camera] Remove DataChannel from WebRTC session establishment process
  examples/camera-app/linux/include/clusters/webrtc-provider/webrtc-provider-manager.h
  examples/camera-app/linux/src/camera-device.cpp
  examples/camera-app/linux/src/clusters/webrtc-provider/webrtc-provider-manager.cpp
  examples/camera-controller/README.md
  examples/camera-controller/webrtc-manager/WebRTCManager.cpp
  examples/camera-controller/webrtc-manager/WebRTCManager.h
  src/python_testing/TC_WEBRTCR_2_3.py
  src/python_testing/TC_WEBRTCR_2_4.py
Labels: examples, review - approved, tests

#38747 [FuzzTest] Adding FuzzTest for CASE Encoding and Parsing
  .github/.wordlist.txt
  BUILD.gn
  docs/testing/fuzz_testing.md
  src/protocols/secure_channel/CASESession.h
  src/protocols/secure_channel/tests/BUILD.gn
  src/protocols/secure_channel/tests/FuzzCASE_PW.cpp
  src/protocols/secure_channel/tests/TestCASESession.cpp
Labels: documentation, github, gn, review - pending, fast track, protocols

#39359 Remove EFR32 unit tests from cloudbuild
  integrations/cloudbuild/smoke-test.yaml
Labels: integrations

#39340 Introduce PEM encoder to CHIPCryptoPAL
  src/crypto/CHIPCryptoPAL.cpp
  src/crypto/CHIPCryptoPAL.h
  src/crypto/tests/TestChipCryptoPAL.cpp
Labels: crypto, review - approved, device attestation PKI

#38584 [Camera] Add Matter Camera TCs (TC-WEBRTC-1.1, TC-WEBRTC-1.2, TC-WEBRTC-1.3, TC-WEBRTC-1.4, TC-WEBRTC-1.5)
  src/python_testing/TC_WEBRTC_1_1.py
  src/python_testing/TC_WEBRTC_1_2.py
  src/python_testing/TC_WEBRTC_1_3.py
  src/python_testing/TC_WEBRTC_1_4.py
  src/python_testing/TC_WEBRTC_1_5.py
  src/python_testing/TC_WEBRTC_Utils.py
  src/python_testing/test_metadata.yaml
Labels: review - approved, tests, cameras, v1.5

#39356 [FuzzTest] fixes in Local Coverage report generating script
  scripts/tests/run_fuzztest_coverage.py
Labels: scripts, review - pending, fast track

#39299 [Linux] Simplify WPA supplicant properties changed callback
  src/platform/Linux/ConnectivityManagerImpl.cpp
  src/platform/Linux/ConnectivityManagerImpl.h
Labels: platform, linux, review - approved

#38637 [Soil Measurement] Test scripts for SOIL-2.1 and SOIL-2.2
  src/python_testing/TC_SOIL_2_1.py
  src/python_testing/TC_SOIL_2_2.py
Labels: review - approved, tests

#39357 [Darwin] Enable ARC globally for darwin builds
  build/config/compiler/BUILD.gn
  build/config/defaults.gni
  examples/darwin-framework-tool/BUILD.gn
  examples/darwin-framework-tool/main.mm
  src/inet/BUILD.gn
  src/platform/Darwin/BUILD.gn
Labels: examples, platform, darwin, inet, gn, review - approved

#39383 [HotFix] Update zap generated code
  examples/chef/devices/rootnode_extractorhood_0359bf807d.matter
Labels: examples, hotfix, examples chef

#39386 Fix STM32 flashbundle strings.
  scripts/build/builders/stm32.py
Labels: scripts, review - approved

#39335 SystemLayer: Address post-landing review comments from #38912
  .github/workflows/lint.yml
  src/platform/Darwin/system/SystemLayerImplDispatch.h
  src/platform/Darwin/system/SystemLayerImplDispatch.mm
  src/platform/Darwin/system/SystemLayerImplDispatchSockets.mm
  src/system/BUILD.gn
  src/system/SystemLayer.h
Labels: system, platform, darwin, github, workflows, review - pending, fast track

#39391 Remove an extraneous ;
  examples/darwin-framework-tool/commands/common/xpc/HomeKitConnector.mm
Labels: examples, darwin, review - pending, fast track

#39370 Decouple privilege checks in the main code from `code generation` bits
  examples/camera-controller/BUILD.gn
  src/app/AttributePathExpandIterator.cpp
  src/app/AttributePathExpandIterator.h
  src/app/BUILD.gn
  src/app/CommandHandlerImpl.cpp
  src/app/EventManagement.cpp
  src/app/InteractionModelEngine.cpp
  src/app/InteractionModelEngine.h
  src/app/WriteHandler.cpp
  src/app/chip_data_model.gni
  src/app/data-model-provider/MetadataTypes.h
  src/app/data-model-provider/Provider.h
  src/app/data-model-provider/ProviderMetadataTree.h
  src/app/reporting/Engine.cpp
  src/app/reporting/Engine.h
  src/app/server-cluster/DefaultServerCluster.h
  src/app/server-cluster/ServerClusterInterface.h
  src/app/server-cluster/testing/EmptyProvider.cpp
  src/app/server-cluster/testing/EmptyProvider.h
  src/app/tests/TestAclEvent.cpp
  src/app/tests/TestEventLogging.cpp
  src/app/tests/TestEventLoggingNoUTCTime.cpp
  src/app/tests/TestFabricScopedEventLogging.cpp
  src/app/util/mock/BUILD.gn
  src/data-model-providers/codegen/CodegenDataModelProvider.cpp
  src/data-model-providers/codegen/CodegenDataModelProvider.h
  src/data-model-providers/codegen/tests/BUILD.gn
  src/data-model-providers/codegen/tests/TestCodegenModelViaMocks.cpp
Labels: examples, app, review - approved, tests

#39399 Don't pull core_pigweed_python_packages into matter_build_env
  BUILD.gn
Labels: gn, review - approved

#39394 Add gstreamer-app package to Docker file and sysroot creation
  integrations/docker/images/base/chip-build/Dockerfile
  integrations/docker/images/base/chip-build/version
  integrations/docker/images/stage-1/chip-build-crosscompile/start-sysroot-vm.sh
Labels: integrations, review - pending, fast track, docker

#39409 [BUG FIX] Regen-all fails on Python 3.10.12 with glob.glob(include_hidden=True)
  scripts/tools/zap/generate.py
Labels: scripts, review - pending, fast track

#39406 [Examples] Fix crash when sending to invalidated WebSocket connection
  examples/common/websocket-server/WebSocketServer.cpp
Labels: examples, review - approved

#39368 Change HostNameRegistrar::Register to invoke the publish-service callback as soon as any record registers
  src/platform/Darwin/DnssdContexts.cpp
  src/platform/Darwin/DnssdHostNameRegistrar.h
  src/platform/Darwin/DnssdHostNameRegistrar.mm
  src/platform/Darwin/DnssdImpl.cpp
  src/platform/Darwin/system/SystemLayerImplDispatch.h
  src/platform/Darwin/system/SystemLayerImplDispatch.mm
  src/system/SystemLayer.h
Labels: system, platform, darwin, review - pending, fast track

#39354 Remove a leak in ExtendTimerTo by deferring to StartTimer.
  src/system/SystemLayerImplSelect.cpp
Labels: system, review - approved

#39416 Add reviewers-geo to reviewers
  .pullapprove.yml
Labels: review - approved

#39355 [CASESession] Unit Test Cases for Bad Signatures failing CASE
  src/protocols/secure_channel/tests/TestCASESession.cpp
Labels: secure channel, review - approved, protocols

#39163 Add documentation on `writing clusters`
  docs/cluster_and_device_type_dev/how_to_add_new_dts_and_clusters.md
  docs/guides/index.md
  docs/guides/writing_clusters.md
Labels: documentation, review - approved

#39387 Improve enable/disable of Wi-Fi PAF for build_python.sh
  scripts/build_python.sh
  src/controller/SetUpCodePairer.cpp
  src/controller/SetUpCodePairer.h
Labels: scripts, controller, review - approved

#39420 PR description validation: expect initial instructions to be removed instead of <!-- sequence
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/pr-validation.yaml
Labels: github, workflows, review - approved

#39429 [Darwin][Network.framework] [Darwin][Network.framework] Return loopba…
  src/platform/Darwin/inet/NetworkMonitor.h
  src/platform/Darwin/inet/UDPEndPointImplNetworkFrameworkListener.mm
Labels: platform, darwin

#39432 [Darwin][Network.framework] Add the group interface logged when debug…
  src/platform/Darwin/inet/UDPEndPointImplNetworkFrameworkDebug.h
  src/platform/Darwin/inet/UDPEndPointImplNetworkFrameworkDebug.mm
  src/platform/Darwin/inet/UDPEndPointImplNetworkFrameworkListenerGroup.mm
Labels: platform, darwin

#39164 Further FabricTable improvements:
  src/app/clusters/scenes-server/SceneTableImpl.cpp
  src/app/storage/FabricTableImpl.h
  src/app/storage/FabricTableImpl.ipp
Labels: app, review - approved, cameras

#39369 Alchemy generation for microwave oven control
  examples/microwave-oven-app/microwave-oven-common/microwave-oven-app.matter
  src/app/zap-templates/zcl/data-model/chip/microwave-oven-control-cluster.xml
  src/controller/data_model/controller-clusters.matter
  src/darwin/Framework/CHIP/zap-generated/MTRBaseClusters.h
Labels: examples, darwin, controller, app, review - approved

#39438 [Darwin] Move Dnssd related files under dnssd/ and rename MdnsError =…
  src/platform/Darwin/BUILD.gn
  src/platform/Darwin/dnssd/DnssdContexts.cpp
  src/platform/Darwin/dnssd/DnssdError.cpp
  src/platform/Darwin/dnssd/DnssdError.h
  src/platform/Darwin/dnssd/DnssdHostNameRegistrar.h
  src/platform/Darwin/dnssd/DnssdHostNameRegistrar.mm
  src/platform/Darwin/dnssd/DnssdImpl.cpp
  src/platform/Darwin/dnssd/DnssdImpl.h
  src/platform/Darwin/dnssd/DnssdType.cpp
  src/platform/Darwin/dnssd/DnssdType.h
Labels: platform, darwin, fast track

#39436 [Darwin][Network.framework] Add FormatEndpointAddressWithInterface he…
  src/platform/Darwin/inet/UDPEndPointImplNetworkFrameworkDebug.mm
Labels: platform, darwin, fast track

#39209 [ESP32][cherry-pick] Cherry pick ESP32: Add OTA function for thread border router device into v1.4-branch
  config/esp32/components/chip/CMakeLists.txt
  config/esp32/components/chip/idf_component.yml
  examples/thread-br-app/esp32/README.md
  examples/thread-br-app/esp32/partitions.csv
  examples/thread-br-app/esp32/sdkconfig.defaults
  examples/thread-br-app/thread-br-common/thread-br-app.matter
  examples/thread-br-app/thread-br-common/thread-br-app.zap
  src/platform/ESP32/OTAImageProcessorImpl.cpp
  src/platform/ESP32/OTAImageProcessorImpl.h
  src/platform/ESP32/OpenthreadLauncher.cpp
Labels: examples, platform, esp32, config

#39448 [Python] Fix dangling pointer
  src/controller/python/chip/clusters/Attribute.py
Labels: controller, review - approved

#39395 Add cleanup step to CADMIN-1.19
  src/python_testing/TC_CADMIN_1_19.py
Labels: review - pending, fast track, tests

#39345 IDM-10.2: Fix location for missing features, add more unit tests
  src/python_testing/TC_DeviceConformance.py
  src/python_testing/TestConformanceTest.py
  src/python_testing/fake_device_builder.py
Labels: review - pending, fast track, tests

#39382 [Camera] Switch to use WebRTC transport to receive live video
  .github/workflows/examples-linux-standalone.yaml
  .github/workflows/tests.yaml
  examples/camera-app/linux/BUILD.gn
  examples/camera-app/linux/include/clusters/webrtc-provider/webrtc-provider-manager.h
  examples/camera-app/linux/include/webrtc-transport.h
  examples/camera-app/linux/src/camera-device.cpp
  examples/camera-app/linux/src/clusters/webrtc-provider/webrtc-provider-manager.cpp
  examples/camera-app/linux/src/media-controller/default-media-controller.cpp
  examples/camera-app/linux/src/webrtc-transport.cpp
  examples/camera-controller/README.md
  examples/camera-controller/commands/liveview/LiveViewCommands.cpp
  examples/camera-controller/commands/webrtc/WebRTCProviderCommands.cpp
  examples/camera-controller/device-manager/AVStreamManagement.cpp
  examples/camera-controller/device-manager/DeviceManager.cpp
  examples/camera-controller/device-manager/DeviceManager.h
  examples/camera-controller/webrtc-manager/WebRTCManager.cpp
  examples/camera-controller/webrtc-manager/WebRTCManager.h
Labels: examples, integrations, github, workflows, review - approved, docker

#39457 Install dbus-daemon required for BLE-WiFi testing
  integrations/docker/images/base/chip-build/Dockerfile
  integrations/docker/images/base/chip-build/version
Labels: integrations, review - pending, fast track, docker

#39446 [ACL][ARL] Use expanded attribute ID for subscribe access check
  src/app/InteractionModelEngine.cpp
Labels: app, review - pending, fast track

#38906 Increase unit test coverage of minimal_mdns/core folder
  src/lib/dnssd/minimal_mdns/core/tests/BUILD.gn
  src/lib/dnssd/minimal_mdns/core/tests/TestQNameString.cpp
Labels: lib, review - pending, fast track

#39462 [Darwin] MTRDeviceTestDelegate properties should be atomic
  src/darwin/Framework/CHIPTests/TestHelpers/MTRDeviceTestDelegate.h
Labels: darwin, fast track

#39463 Update Audio/VideoStream reference counts in AVSM allocatedStreams when handling WebRTC commands.
  examples/all-clusters-app/all-clusters-common/include/camera-av-stream-delegate-impl.h
  examples/all-clusters-app/all-clusters-common/src/camera-av-stream-delegate-impl.cpp
  examples/camera-app/linux/include/clusters/camera-avstream-mgmt/camera-av-stream-manager.h
  examples/camera-app/linux/include/clusters/webrtc-provider/webrtc-provider-manager.h
  examples/camera-app/linux/src/camera-device.cpp
  examples/camera-app/linux/src/clusters/camera-avstream-mgmt/camera-av-stream-manager.cpp
  examples/camera-app/linux/src/clusters/webrtc-provider/webrtc-provider-manager.cpp
  src/app/clusters/camera-av-stream-management-server/camera-av-stream-management-server.cpp
  src/app/clusters/camera-av-stream-management-server/camera-av-stream-management-server.h
Labels: examples, app, review - approved

#39269 [NXP] SE05x HSM integration updates
  .github/.wordlist.txt
  examples/platform/nxp/se05x/DeviceAttestationSe05xCredsExample.cpp
  examples/platform/nxp/se05x/DeviceAttestationSe05xCredsExample.h
  examples/platform/nxp/se05x/DeviceAttestationSe05xCredsExample_v2.cpp
  examples/platform/nxp/se05x/linux/AppMain.cpp
  examples/platform/nxp/se05x/linux/BUILD.gn
  examples/platform/nxp/se05x/linux/doc/images/imx8evk_se05x.jpg
  examples/thermostat/nxp/linux-se05x/BUILD.gn
  examples/thermostat/nxp/linux-se05x/README.md
  examples/thermostat/nxp/linux-se05x/args.gni
  src/platform/nxp/crypto/se05x/BUILD.gn
  src/platform/nxp/crypto/se05x/CHIPCryptoPALHost.cpp
  src/platform/nxp/crypto/se05x/CHIPCryptoPALHsm_se05x_config.h
  src/platform/nxp/crypto/se05x/CHIPCryptoPALHsm_se05x_hkdf.cpp
  src/platform/nxp/crypto/se05x/CHIPCryptoPALHsm_se05x_hmac.cpp
  src/platform/nxp/crypto/se05x/CHIPCryptoPALHsm_se05x_p256.cpp
  src/platform/nxp/crypto/se05x/CHIPCryptoPALHsm_se05x_pbkdf.cpp
  src/platform/nxp/crypto/se05x/CHIPCryptoPALHsm_se05x_rng.cpp
  src/platform/nxp/crypto/se05x/CHIPCryptoPALHsm_se05x_spake2p.cpp
  src/platform/nxp/crypto/se05x/CHIPCryptoPALHsm_se05x_utils.cpp
  src/platform/nxp/crypto/se05x/CHIPCryptoPALHsm_se05x_utils.h
  src/platform/nxp/crypto/se05x/CHIPCryptoPAL_HostFallBack.cpp
  src/platform/nxp/crypto/se05x/CHIPCryptoPAL_se05x.h
  third_party/simw-top-mini/BUILD.gn
  third_party/simw-top-mini/simw_config.gni
Labels: examples, platform, github, review - approved, changing-submodules-on-purpose, nxp

#39483 Sync used docker images with current image
  .github/workflows/bloat_check.yaml
  .github/workflows/build.yaml
  .github/workflows/chef.yaml
  .github/workflows/doxygen.yaml
  .github/workflows/examples-ameba.yaml
  .github/workflows/examples-asr.yaml
  .github/workflows/examples-bouffalolab.yaml
  .github/workflows/examples-cc13xx_26xx.yaml
  .github/workflows/examples-efr32.yaml
  .github/workflows/examples-esp32.yaml
  .github/workflows/examples-infineon.yaml
  .github/workflows/examples-linux-arm.yaml
  .github/workflows/examples-linux-imx.yaml
  .github/workflows/examples-linux-standalone.yaml
  .github/workflows/examples-linux-tv-casting-app.yaml
  .github/workflows/examples-nrfconnect.yaml
  .github/workflows/examples-nuttx.yaml
  .github/workflows/examples-nxp.yaml
  .github/workflows/examples-openiotsdk.yaml
  .github/workflows/examples-qpg.yaml
  .github/workflows/examples-stm32.yaml
  .github/workflows/examples-telink.yaml
  .github/workflows/examples-tizen.yaml
  .github/workflows/full-android.yaml
  .github/workflows/fuzzing-build.yaml
  .github/workflows/java-tests.yaml
  .github/workflows/lint.yml
  .github/workflows/minimal-build.yaml
  .github/workflows/mypy-validation.yml
  .github/workflows/qemu.yaml
  .github/workflows/release_artifacts.yaml
  .github/workflows/roll_and_build_docker.yaml
  .github/workflows/smoketest-android.yaml
  .github/workflows/tests.yaml
  .github/workflows/unit_integration_test.yaml
  .github/workflows/zap_regeneration.yaml
  .github/workflows/zap_templates.yaml
  examples/all-clusters-app/ameba/README.md
  examples/all-clusters-minimal-app/ameba/README.md
  examples/fabric-admin/README.md
  examples/fabric-bridge-app/linux/README.md
  examples/fabric-sync/README.md
  examples/light-switch-app/ameba/README.md
  examples/lighting-app/ameba/README.md
  examples/ota-requestor-app/ameba/README.md
  examples/pigweed-app/ameba/README.md
  scripts/helpers/docker-version-roll.sh
  scripts/helpers/docker-version-sync.sh
  src/test_driver/tizen/README.md
Labels: examples, scripts, github, workflows, review - pending, fast track, test driver, tizen

#39484 Make `chip_platform_*` includes always as `declare_args`.
  src/platform/device.gni
Labels: platform, review - approved

#38778 Proposal to remove --app-pid and --app-pipe-prefix for out of band commands.
  examples/air-quality-sensor-app/linux/main.cpp
  examples/all-clusters-app/linux/main-common.cpp
  examples/bridge-app/linux/main.cpp
  examples/lighting-app-data-mode-no-unique-id/linux/main.cpp
  examples/lighting-app/linux/main.cpp
  examples/lock-app/linux/main.cpp
  examples/platform/linux/Options.cpp
  examples/platform/linux/Options.h
  examples/rvc-app/linux/main.cpp
  examples/water-leak-detector-app/linux/main.cpp
  scripts/tests/run_python_test.py
  src/python_testing/TC_BINFO_3_2.py
  src/python_testing/TC_BRBINFO_3_2.py
  src/python_testing/TC_OCC_3_1.py
  src/python_testing/TC_OCC_3_2.py
  src/python_testing/TC_OPSTATE_2_1.py
  src/python_testing/TC_OPSTATE_2_2.py
  src/python_testing/TC_OPSTATE_2_3.py
  src/python_testing/TC_OPSTATE_2_4.py
  src/python_testing/TC_OPSTATE_2_5.py
  src/python_testing/TC_OPSTATE_2_6.py
  src/python_testing/TC_OVENOPSTATE_2_1.py
  src/python_testing/TC_OVENOPSTATE_2_2.py
  src/python_testing/TC_OVENOPSTATE_2_4.py
  src/python_testing/TC_OVENOPSTATE_2_5.py
  src/python_testing/TC_OVENOPSTATE_2_6.py
  src/python_testing/TC_OpstateCommon.py
  src/python_testing/TC_REFALM_2_2.py
  src/python_testing/TC_RVCCLEANM_2_1.py
  src/python_testing/TC_RVCCLEANM_2_2.py
  src/python_testing/TC_RVCOPSTATE_2_1.py
  src/python_testing/TC_RVCOPSTATE_2_3.py
  src/python_testing/TC_RVCOPSTATE_2_4.py
  src/python_testing/TC_RVCRUNM_2_1.py
  src/python_testing/TC_RVCRUNM_2_2.py
  src/python_testing/TC_SEAR_1_2.py
  src/python_testing/TC_SEAR_1_3.py
  src/python_testing/TC_SEAR_1_4.py
  src/python_testing/TC_SEAR_1_5.py
  src/python_testing/TC_SEAR_1_6.py
  src/python_testing/TC_SOIL_2_2.py
  src/python_testing/TC_SWTCH.py
  src/python_testing/matter_testing_infrastructure/chip/testing/matter_testing.py
Labels: examples, scripts, platform, linux, github, workflows, review - approved, tests

#39492 [Darwin][System] Ensure we do not delete the timer block context twice
  src/platform/Darwin/system/SystemLayerImplDispatch.mm
Labels: platform, darwin, fast track

#39495 Disable test004_Subscribe on darwin.
  src/darwin/Framework/CHIPTests/MTRXPCListenerSampleTests.m
Labels: darwin, fast track

#39408 [Closures] Updating closure device type
  src/app/zap-templates/zcl/data-model/chip/matter-devices.xml
  src/darwin/Framework/CHIP/MTRDeviceTypeMetadata.h
  src/darwin/Framework/CHIP/zap-generated/MTRDeviceTypeMetadata.mm
Labels: darwin, app, review - approved

#38729 Rename from skip_all_remaining_steps_skipped to mark_all_remaining_steps_skipped
  src/python_testing/TC_AVSUM_2_4.py
  src/python_testing/TC_AVSUM_2_6.py
  src/python_testing/TC_CC_2_2.py
  src/python_testing/TC_CGEN_2_2.py
  src/python_testing/TC_CGEN_2_8.py
  src/python_testing/TC_CGEN_2_9.py
  src/python_testing/TC_CNET_1_4.py
  src/python_testing/TC_CNET_4_2.py
  src/python_testing/TC_CNET_4_3.py
  src/python_testing/TC_CNET_4_4.py
  src/python_testing/TC_DRLK_2_13.py
  src/python_testing/TC_FAN_3_3.py
  src/python_testing/TC_FAN_3_4.py
  src/python_testing/TC_IDM_1_4.py
  src/python_testing/TC_LCFG_2_1.py
  src/python_testing/TC_LVL_2_3.py
  src/python_testing/TC_MWOCTRL_2_2.py
  src/python_testing/TC_MWOCTRL_2_4.py
  src/python_testing/TC_OCC_2_1.py
  src/python_testing/TC_OCC_2_3.py
  src/python_testing/TC_OCC_3_2.py
  src/python_testing/TC_OpstateCommon.py
  src/python_testing/TC_SWTCH.py
  src/python_testing/matter_testing_infrastructure/chip/testing/matter_testing.py
Labels: review - pending, fast track, tests

#39501 Revert "Ios custom flow (#12920)"
  src/darwin/CHIPTool/CHIPTool/Info.plist
  src/darwin/CHIPTool/CHIPTool/View Controllers/AppDelegate.m
  src/darwin/CHIPTool/CHIPTool/View Controllers/QRCode/QRCodeViewController.m
Labels: darwin

#39491 Join code between `fabric-sync/bridge` and `fabric-bridge-app`
  examples/fabric-bridge-app/fabric-bridge-common/BUILD.gn
  examples/fabric-bridge-app/fabric-bridge-common/BridgedAdministratorCommissioning.cpp
  examples/fabric-bridge-app/fabric-bridge-common/BridgedAdministratorCommissioning.h
  examples/fabric-bridge-app/fabric-bridge-common/BridgedDevice.cpp
  examples/fabric-bridge-app/fabric-bridge-common/BridgedDevice.h
  examples/fabric-bridge-app/fabric-bridge-common/BridgedDeviceBasicInformationImpl.cpp
  examples/fabric-bridge-app/fabric-bridge-common/BridgedDeviceBasicInformationImpl.h
  examples/fabric-bridge-app/fabric-bridge-common/BridgedDeviceManager.cpp
  examples/fabric-bridge-app/fabric-bridge-common/BridgedDeviceManager.h
  examples/fabric-bridge-app/fabric-bridge-common/include/BridgedDeviceManager.h
  examples/fabric-bridge-app/fabric-bridge-common/src/BridgedDeviceManager.cpp
  examples/fabric-bridge-app/linux/BUILD.gn
  examples/fabric-bridge-app/linux/RpcServer.cpp
  examples/fabric-bridge-app/linux/main.cpp
  examples/fabric-sync/admin/BUILD.gn
  examples/fabric-sync/admin/DeviceManager.cpp
  examples/fabric-sync/admin/DeviceSubscription.h
  examples/fabric-sync/admin/DeviceSynchronization.h
  examples/fabric-sync/admin/FabricAdmin.cpp
  examples/fabric-sync/admin/FabricAdmin.h
  examples/fabric-sync/bridge/BUILD.gn
  examples/fabric-sync/bridge/Bridge.cpp
  examples/fabric-sync/bridge/Bridge.h
  examples/fabric-sync/bridge/CommissionerControlDelegate.cpp
  examples/fabric-sync/bridge/CommissionerControlDelegate.h
  examples/fabric-sync/bridge/FabricAdminDelegate.h
  examples/fabric-sync/bridge/FabricBridge.cpp
  examples/fabric-sync/bridge/FabricBridge.h
  examples/fabric-sync/bridge/fabric-bridge.matter
  examples/fabric-sync/bridge/fabric-bridge.zap
  examples/fabric-sync/bridge/include/BridgedAdministratorCommissioning.h
  examples/fabric-sync/bridge/include/BridgedDevice.h
  examples/fabric-sync/bridge/include/BridgedDeviceBasicInformationImpl.h
  examples/fabric-sync/bridge/src/BridgedAdministratorCommissioning.cpp
  examples/fabric-sync/bridge/src/BridgedDevice.cpp
  examples/fabric-sync/bridge/src/BridgedDeviceBasicInformationImpl.cpp
  examples/fabric-sync/main.cpp
Labels: examples, review - approved

#38931 Fix post-certification tests
  src/python_testing/TC_DA_1_2.py
  src/python_testing/post_certification_tests/production_device_checks.py
Labels: review - pending, fast track, tests

#39502 Make PeerAddress constructors constexpr.
  src/transport/raw/PeerAddress.h
Labels: transport, review - approved

#39497 Update chip-build-crosscompile docker to point to the latest version of sysroot
  integrations/docker/images/base/chip-build/version
  integrations/docker/images/stage-1/chip-build-crosscompile/Dockerfile
Labels: integrations, review - pending, fast track, docker

#39460 [Camera] Update WebRTC Provider implementation to align with the latest spec update
  examples/all-clusters-app/all-clusters-common/include/camera-av-stream-delegate-impl.h
  examples/all-clusters-app/all-clusters-common/src/camera-av-stream-delegate-impl.cpp
  examples/camera-app/linux/include/clusters/camera-avstream-mgmt/camera-av-stream-manager.h
  examples/camera-app/linux/include/clusters/webrtc-provider/webrtc-provider-manager.h
  examples/camera-app/linux/src/clusters/camera-avstream-mgmt/camera-av-stream-manager.cpp
  examples/camera-app/linux/src/clusters/webrtc-provider/webrtc-provider-manager.cpp
  examples/camera-controller/commands/webrtc/WebRTCProviderCommands.cpp
  examples/camera-controller/device-manager/DeviceManager.cpp
  src/app/clusters/camera-av-stream-management-server/camera-av-stream-management-server.cpp
  src/app/clusters/camera-av-stream-management-server/camera-av-stream-management-server.h
  src/app/clusters/webrtc-transport-provider-server/webrtc-transport-provider-server.cpp
  src/app/clusters/webrtc-transport-provider-server/webrtc-transport-provider-server.h
  src/python_testing/TC_WEBRTCP_2_1.py
  src/python_testing/TC_WEBRTCP_2_2.py
  src/python_testing/TC_WEBRTCP_2_3.py
  src/python_testing/TC_WEBRTCP_2_4.py
Labels: examples, app, review - approved, tests

#39398 Docstring Updates: Document Non-Obvious Required Parameters in ChipDeviceCtrl Methods
  src/controller/python/chip/ChipDeviceCtrl.py
Labels: controller, review - pending, fast track

#39528 Disable WEBRTCP TCs 2.1 and 2.3
  src/python_testing/test_metadata.yaml
Labels: hotfix, review - pending, tests

#39496 [CI] Add build check for chip-camera-controller for arm64
  .github/workflows/examples-linux-arm.yaml
  examples/camera-controller/README.md
  examples/camera-controller/webrtc-manager/WebRTCManager.cpp
Labels: examples, github, workflows, review - approved

#39419 Improve commissioning logging, especially Device Attestation
  examples/camera-controller/commands/example/ExampleCredentialIssuerCommands.h
  examples/chip-tool/commands/example/ExampleCredentialIssuerCommands.h
  examples/fabric-admin/commands/example/ExampleCredentialIssuerCommands.h
  examples/platform/linux/CommissionerMain.cpp
  examples/tv-casting-app/APIs.md
  examples/tv-casting-app/darwin/MatterTvCastingBridge/MatterTvCastingBridge/MCCastingApp.mm
  examples/tv-casting-app/linux/main.cpp
  examples/tv-casting-app/linux/simple-app.cpp
  src/app/clusters/closure-control-server/closure-control-cluster-logic.h
  src/controller/CHIPDeviceController.cpp
  src/controller/SetUpCodePairer.cpp
  src/controller/java/AndroidDeviceControllerWrapper.cpp
  src/controller/java/DeviceAttestation-JNI.cpp
  src/controller/python/OpCredsBinding.cpp
  src/controller/python/chip/ChipDeviceCtrl.py
  src/controller/python/chip/internal/CommissionerImpl.cpp
  src/credentials/attestation_verifier/DefaultDeviceAttestationVerifier.cpp
  src/credentials/attestation_verifier/DefaultDeviceAttestationVerifier.h
  src/credentials/attestation_verifier/DeviceAttestationVerifier.cpp
  src/credentials/attestation_verifier/DeviceAttestationVerifier.h
  src/credentials/attestation_verifier/TestDACRevocationDelegateImpl.cpp
  src/credentials/tests/TestCommissionerDUTVectors.cpp
  src/credentials/tests/TestDeviceAttestationCredentials.cpp
  src/crypto/CHIPCryptoPAL.h
  src/crypto/tests/TestChipCryptoPAL.cpp
  src/darwin/Framework/CHIP/MTRDeviceController_Concrete.mm
  src/lib/core/GroupedCallbackList.h
  src/platform/nxp/common/CHIPDeviceNXPPlatformDefaultConfig.h
  src/python_testing/TC_SC_4_3.py
  src/python_testing/matter_testing_infrastructure/chip/testing/runner.py
Labels: tools, examples, scripts, platform, darwin, linux, lib, crypto, controller, app, review - approved, tests, core, nxp

#39365 [TC OPSTATE 2_5] Address test step issues
  src/python_testing/TC_OpstateCommon.py
Labels: review - approved, tests

#39377 [E2E][JF] Fix jf-admin-app README doc
  examples/jf-admin-app/linux/README.md
  examples/jf-control-app/README.md
Labels: examples, review - approved

#38074 TC-CNET-4_12 python test
  src/app/tests/suites/manualTests.json
  src/python_testing/TC_CNET_4_12.py
  src/python_testing/test_metadata.yaml
Labels: app, review - pending, fast track, tests

#39533 Start and commission test app before creating MTRDevice for it.
  src/darwin/Framework/CHIPTests/MTRDeviceTests.m
Labels: darwin

#39532 Fix typo in error message, update pull request template
  .github/PULL_REQUEST_TEMPLATE.md
  src/lib/dnssd/minimal_mdns/Server.cpp
Labels: lib, github, review - approved

#39504 Fix an issue that an incorrect timeout period was used while wait for Wi-Fi resource for PAF
  src/wifipaf/WiFiPAFEndPoint.cpp
Labels: review - approved

#39105 [Closure] Closure cluster fixes
  examples/closure-app/closure-common/closure-app.matter
  src/app/clusters/closure-control-server/closure-control-cluster-logic.cpp
  src/app/clusters/closure-control-server/closure-control-cluster-logic.h
  src/app/clusters/closure-control-server/closure-control-server.cpp
  src/app/clusters/closure-dimension-server/closure-dimension-cluster-logic.cpp
  src/app/clusters/closure-dimension-server/closure-dimension-cluster-logic.h
  src/app/tests/BUILD.gn
  src/app/tests/TestClosureControlClusterLogic.cpp
  src/app/tests/TestClosureDimensionCluster.cpp
  src/app/zap-templates/zcl/zcl-with-test-extensions.json
  src/app/zap-templates/zcl/zcl.json
  zzz_generated/app-common/app-common/zap-generated/attributes/Accessors.cpp
  zzz_generated/app-common/app-common/zap-generated/attributes/Accessors.h
Labels: examples, app, review - approved, tests, App Clusters: Closures, v1.5

#39541 [Telink] Update Docker image (Zephyr update)
  integrations/docker/images/base/chip-build/version
  integrations/docker/images/stage-2/chip-build-telink-zephyr_3_3/Dockerfile
  integrations/docker/images/stage-2/chip-build-telink/Dockerfile
Labels: integrations, review - approved, docker

#39534 Fix Chef nrfconnect when Identify cluster is not defined
  examples/chef/nrfconnect/AppTask.cpp
Labels: examples, examples chef

#39489 [Telink] Fix memory report for parallel jobs
  .github/workflows/examples-telink.yaml
Labels: scripts, platform, github, workflows, review - pending, fast track

#39300 [Telink] Add vid and pid judgment
  src/platform/telink/OTAImageProcessorImpl.cpp
Labels: platform, review - pending, telink, fast track

#39530 [CI] Fix WEBRTCP TCs write to read-only attribute issue
  src/python_testing/TC_WEBRTCP_2_1.py
  src/python_testing/TC_WEBRTCP_2_3.py
  src/python_testing/test_metadata.yaml
Labels: review - approved, tests

#39542 Improve build_python.sh configurability
  scripts/build_python.sh
Labels: scripts, review - approved

#38799 Adding helper function for commands running errors
  .github/workflows/lint.yml
  scripts/check_chipstack.py
  src/python_testing/TC_ACE_1_2.py
  src/python_testing/TC_CADMIN_1_15.py
  src/python_testing/TC_CADMIN_1_19.py
  src/python_testing/TC_CADMIN_1_22_24.py
  src/python_testing/TC_CADMIN_1_3_4.py
  src/python_testing/TC_CADMIN_1_5.py
  src/python_testing/TC_DeviceBasicComposition.py
  src/python_testing/TC_IDM_1_2.py
  src/python_testing/TC_IDM_1_4.py
  src/python_testing/TC_IDM_4_2.py
  src/python_testing/TC_OPCREDS_3_1.py
  src/python_testing/TC_SC_3_4.py
  src/python_testing/matter_testing_infrastructure/chip/testing/commissioning.py
  src/python_testing/matter_testing_infrastructure/chip/testing/matter_testing.py
Labels: scripts, github, workflows, review - pending, fast track, tests

#39500 Update documentation for out of band commands related to new --app-pipe
  docs/testing/python.md
  examples/air-quality-sensor-app/linux/README.md
  examples/all-clusters-app/linux/README.md
  examples/lighting-app-data-mode-no-unique-id/linux/README.md
  examples/lighting-app/linux/README.md
  examples/lock-app/linux/README.md
  examples/rvc-app/README.md
Labels: documentation, examples, review - pending, fast track

#39531 Remove the SRP timer code that is not used at all
  src/darwin/Framework/CHIP/MTRDevice_Internal.h
  src/platform/Darwin/UserDefaults.h
  src/platform/Darwin/UserDefaults.mm
  src/platform/Darwin/dnssd/DnssdContexts.cpp
  src/platform/Darwin/dnssd/DnssdImpl.cpp
  src/platform/Darwin/dnssd/DnssdImpl.h
Labels: platform, darwin

#39557 Add missing stdio include for vsnprintf
  src/platform/logging/impl/Syslog.cpp
Labels: platform, review - approved

#39016 TC-WNCV-5_1 - Client Attribute Test Case Removal
  src/app/tests/suites/certification/Test_TC_WNCV_5_1_Simulated.yaml
Labels: app, review - pending, fast track, tests

#38408 [Telink] Update Zephyr version & Update compatible builds to docker version 140
  .github/workflows/bloat_check.yaml
  .github/workflows/build.yaml
  .github/workflows/chef.yaml
  .github/workflows/doxygen.yaml
  .github/workflows/examples-ameba.yaml
  .github/workflows/examples-asr.yaml
  .github/workflows/examples-bouffalolab.yaml
  .github/workflows/examples-cc13xx_26xx.yaml
  .github/workflows/examples-efr32.yaml
  .github/workflows/examples-esp32.yaml
  .github/workflows/examples-infineon.yaml
  .github/workflows/examples-linux-imx.yaml
  .github/workflows/examples-linux-standalone.yaml
  .github/workflows/examples-linux-tv-casting-app.yaml
  .github/workflows/examples-nrfconnect.yaml
  .github/workflows/examples-nuttx.yaml
  .github/workflows/examples-nxp.yaml
  .github/workflows/examples-openiotsdk.yaml
  .github/workflows/examples-qpg.yaml
  .github/workflows/examples-stm32.yaml
  .github/workflows/examples-telink.yaml
  .github/workflows/examples-tizen.yaml
  .github/workflows/full-android.yaml
  .github/workflows/fuzzing-build.yaml
  .github/workflows/java-tests.yaml
  .github/workflows/lint.yml
  .github/workflows/minimal-build.yaml
  .github/workflows/mypy-validation.yml
  .github/workflows/qemu.yaml
  .github/workflows/release_artifacts.yaml
  .github/workflows/smoketest-android.yaml
  .github/workflows/tests.yaml
  .github/workflows/unit_integration_test.yaml
  .github/workflows/zap_regeneration.yaml
  .github/workflows/zap_templates.yaml
  config/telink/chip-module/Kconfig.defaults
  examples/all-clusters-app/ameba/README.md
  examples/all-clusters-minimal-app/ameba/README.md
  examples/camera-controller/README.md
  examples/fabric-admin/README.md
  examples/fabric-bridge-app/linux/README.md
  examples/fabric-sync/README.md
  examples/light-switch-app/ameba/README.md
  examples/lighting-app/ameba/README.md
  examples/lighting-app/telink/CMakeLists.txt
  examples/lighting-app/telink/src/tflm/errno_stub.c
  examples/ota-requestor-app/ameba/README.md
  examples/pigweed-app/ameba/README.md
  integrations/cloudbuild/chef.yaml
  integrations/cloudbuild/smoke-test.yaml
  scripts/build/build/targets.py
  scripts/build/builders/telink.py
  scripts/build/testdata/all_targets_linux_x64.txt
  scripts/tests/local.py
  src/platform/telink/wifi/4.1.0.0/ConnectivityManagerImplWiFi.cpp
  src/platform/telink/wifi/4.1.0.0/TelinkWiFiDriver.cpp
  src/platform/telink/wifi/4.1.0.0/WiFiManager.cpp
  src/platform/telink/wifi/4.1.0.0/WiFiManager.h
  src/test_driver/tizen/README.md
Labels: examples, scripts, integrations, platform, config, github, workflows, review - pending, telink, fast track, test driver, tizen, docker

#39284 [Test Fix] Fix TC_ACL_2_6 and TC_ACL_2_8 event count and filtering issues
  src/python_testing/TC_ACL_2_6.py
  src/python_testing/TC_ACL_2_8.py
Labels: review - pending, fast track, tests

#39421 Add Alchemy generated XML for PowerSourceConfiguration cluster
  src/app/zap-templates/zcl/data-model/chip/power-source-configuration-cluster.xml
Labels: app, review - approved

#39375 Alchemy generate ModeSelect cluster
  examples/all-clusters-app/all-clusters-common/all-clusters-app.matter
  examples/all-clusters-app/realtek/data_model/all-clusters-app.matter
  examples/all-clusters-minimal-app/all-clusters-common/all-clusters-minimal-app.matter
  examples/placeholder/linux/apps/app1/config.matter
  examples/placeholder/linux/apps/app2/config.matter
  src/app/zap-templates/zcl/data-model/chip/mode-select-cluster.xml
  src/controller/data_model/controller-clusters.matter
  src/darwin/Framework/CHIP/zap-generated/MTRBaseClusters.h
Labels: examples, darwin, controller, app, review - approved

#39546 Add missing validation checks to SetStreamPriorities and CaptureSnapshot command
  docs/ids_and_codes/ERROR_CODES.md
  scripts/tools/check_includes_config.py
  src/app/clusters/camera-av-stream-management-server/camera-av-stream-management-server.cpp
  src/app/clusters/camera-av-stream-management-server/camera-av-stream-management-server.h
  src/controller/java/src/chip/devicecontroller/model/Status.java
  src/controller/java/src/matter/controller/model/Status.kt
  src/controller/python/chip/interaction_model/__init__.py
  src/protocols/interaction_model/StatusCodeList.h
  src/python_testing/TC_AVSM_2_10.py
  src/python_testing/TC_AVSM_2_11.py
Labels: documentation, scripts, controller, app, review - approved, tests, protocols

#39545 Handle non-existence of streams in Camera AVSM server, enable `TC_AVSM_2_10`
  src/app/clusters/camera-av-stream-management-server/camera-av-stream-management-server.cpp
  src/app/clusters/camera-av-stream-management-server/camera-av-stream-management-server.h
  src/python_testing/TC_AVSM_2_10.py
  src/python_testing/test_metadata.yaml
Labels: app, review - approved, tests

#39263 Alchemy generation of UnitLocalization cluster
  src/app/zap-templates/zcl/data-model/chip/unit-localization-cluster.xml
Labels: app, review - approved

#39560 [Darwin] In DnssdHostNameRegistrar.mm the timeout outlives the instan…
  src/platform/Darwin/dnssd/DnssdHostNameRegistrar.mm
  src/platform/Darwin/inet/NetworkMonitor.h
Labels: platform, darwin, fast track

#39440 [Tizen] Add crashlog to QEMU workflow
  .github/workflows/qemu.yaml
  integrations/docker/images/base/chip-build/version
  integrations/docker/images/stage-3/chip-build-tizen-qemu/Dockerfile
  scripts/helpers/tizen-crashlog.sh
Labels: scripts, integrations, github, workflows, review - approved, tizen, docker

#39572 [CI] Add build check for chip-camera for arm64
  .github/workflows/examples-linux-arm.yaml
  build/config/compiler/BUILD.gn
Labels: github, workflows, gn, review - approved

#39380 [Linux] Check WiFi state before selecting configured network
  src/platform/Linux/ConnectivityManagerImpl.cpp
  src/platform/Linux/ConnectivityManagerImpl.h
Labels: platform, linux, review - approved

#39561 [NXP] Update NXP docker image
  integrations/docker/images/base/chip-build/version
  integrations/docker/images/stage-2/chip-build-nxp/Dockerfile
Labels: integrations, review - approved, docker

#39547 [SiliconLabs][Closures] Closure app common code for command implementation and calibration command implementation
  examples/closure-app/closure-common/include/ClosureControlEndpoint.h
  examples/closure-app/closure-common/include/ClosureDimensionEndpoint.h
  examples/closure-app/closure-common/src/ClosureControlEndpoint.cpp
  examples/closure-app/closure-common/src/ClosureDimensionEndpoint.cpp
  examples/closure-app/silabs/include/AppEvent.h
  examples/closure-app/silabs/include/ClosureManager.h
  examples/closure-app/silabs/src/ClosureManager.cpp
Labels: examples, review - approved

#39569 [TI] LWIP removal for cc13x4_26x4
  docs/platforms/ti/images/matter_ti_overview_simplified.png
  docs/platforms/ti/ti_matter_overview.md
  examples/light-switch-app/ti/cc13x4_26x4/args.gni
  examples/light-switch-app/ti/cc13x4_26x4/src/AppTask.cpp
  examples/lighting-app/ti/cc13x4_26x4/args.gni
  examples/lighting-app/ti/cc13x4_26x4/src/AppTask.cpp
  examples/lock-app/ti/cc13x4_26x4/args.gni
  examples/lock-app/ti/cc13x4_26x4/src/AppTask.cpp
  examples/platform/ti/sysconfig/chip_cc2674r10.syscfg
  examples/pump-app/ti/cc13x4_26x4/args.gni
  examples/pump-app/ti/cc13x4_26x4/main/AppTask.cpp
  examples/pump-controller-app/ti/cc13x4_26x4/args.gni
  examples/pump-controller-app/ti/cc13x4_26x4/main/AppTask.cpp
  src/platform/ti/cc13xx_26xx/ConnectivityManagerImpl.cpp
  src/platform/ti/cc13xx_26xx/OTAImageProcessorImpl.h
  src/platform/ti/cc13xx_26xx/PlatformManagerImpl.cpp
  src/platform/ti/cc13xx_26xx/ThreadStackManagerImpl.cpp
  src/platform/ti/cc13xx_26xx/cc13x4_26x4/SystemPlatformConfig.h
  src/platform/ti/cc13xx_26xx/cc13x4_26x4/ThreadStackManagerImpl.h
  src/system/BUILD.gn
  third_party/ti_simplelink_sdk/ti_simplelink_sdk.gni
Labels: documentation, examples, system, platform, review - approved, changing-submodules-on-purpose

#39427 [NXP][CMake] Refactor Matter-related CMake calls for cross-platform compatibility
  build/chip/chip_codegen.cmake
  config/common/cmake/chip_gn.cmake
Labels: config, gn, review - approved

#39411 [NXP][platform][common] add WPA3 support
  src/platform/nxp/common/ConnectivityManagerImpl.cpp
Labels: platform, review - approved, nxp

#39640 [Camera] Update the build instructions for camera-controller and camera-app
  examples/camera-app/linux/README.md
  examples/camera-controller/README.md
Labels: examples, review - approved

#39599 [ICD] Add a Configurable SlowPollInterval fallback value when and ICD devic…
  src/app/icd/server/ICDConfigurationData.cpp
  src/app/icd/server/ICDConfigurationData.h
  src/app/icd/server/tests/BUILD.gn
  src/app/icd/server/tests/ICDConfigurationDataTestAccess.h
  src/app/icd/server/tests/TestICDConfigurationData.cpp
  src/include/platform/CHIPDeviceConfig.h
Labels: platform, app, review - approved, icd

#39617 Ensure space for MIC when allocating buffer for InvokeRequestMessage
  src/app/CommandSender.cpp
  src/app/tests/TestCommandInteraction.cpp
Labels: app, review - approved, tests

#39610 [Silabs] Update silabs docker to use new SDKS
  integrations/docker/images/base/chip-build/version
  integrations/docker/images/stage-2/chip-build-efr32/Dockerfile
Labels: integrations, review - approved, docker

#39656 Reduce logs severity level for non-error logs
  src/app/clusters/microwave-oven-control-server/microwave-oven-control-server.cpp
  src/app/clusters/operational-state-server/operational-state-server.cpp
Labels: app, review - pending, fast track

#39609 [Fix] Fix for CADMIN_1_19 test step 3 fabric filtered issue #636
  src/python_testing/TC_CADMIN_1_19.py
Labels: review - pending, fast track, tests, matter-1.4.2-sve-script-change

#39478 Move CommissionDeviceTest class to commissioning.py
  src/python_testing/matter_testing_infrastructure/BUILD.gn
  src/python_testing/matter_testing_infrastructure/chip/testing/commissioning.py
  src/python_testing/matter_testing_infrastructure/chip/testing/global_stash.py
  src/python_testing/matter_testing_infrastructure/chip/testing/matter_testing.py
  src/python_testing/matter_testing_infrastructure/chip/testing/runner.py
Labels: review - approved, tests

#39626 Generate ValveConfigurationAndControl cluster with Alchemy
  .github/workflows/tests.yaml
  examples/all-clusters-app/all-clusters-common/all-clusters-app.matter
  examples/all-clusters-app/realtek/data_model/all-clusters-app.matter
  examples/chef/devices/rootnode_watervalve_6bb39f1f67.matter
  src/app/zap-templates/zcl/data-model/chip/valve-configuration-and-control-cluster.xml
  src/controller/data_model/controller-clusters.matter
  zzz_generated/app-common/clusters/ValveConfigurationAndControl/Metadata.h
Labels: examples, controller, app, github, workflows, review - approved, examples chef

#39584 [Linux] Improve isolated test network management
  scripts/tests/chiptest/linux.py
  scripts/tests/run_test_suite.py
  src/platform/Linux/ConnectivityUtils.cpp
  src/platform/Linux/PlatformManagerImpl.cpp
Labels: scripts, platform, linux, review - approved

#39671 [Silabs] Fix NVM3 Key leak on reboot
  examples/platform/silabs/BaseApplication.cpp
  src/platform/silabs/KeyValueStoreManagerImpl.cpp
  src/platform/silabs/KeyValueStoreManagerImpl.h
Labels: examples, platform, review - approved, silabs

#39676 Fix logging on attestation completion in Matter.framework to not be misleading
  src/darwin/Framework/CHIP/MTRDeviceAttestationDelegateBridge.mm
Labels: darwin

#39505 Add raw Zephyr SystemLayer implementation (noSelect)
  config/nrfconnect/chip-module/CMakeLists.txt
  config/nrfconnect/chip-module/Kconfig
  config/nrfconnect/chip-module/Kconfig.defaults
  examples/all-clusters-app/nrfconnect/Kconfig
  examples/all-clusters-app/nrfconnect/main/AppTask.cpp
  src/include/platform/internal/GenericPlatformManagerImpl_Zephyr.h
  src/include/platform/internal/GenericPlatformManagerImpl_ZephyrNoSelect.ipp
  src/include/platform/internal/GenericPlatformManagerImpl_ZephyrSelect.ipp
  src/inet/IPAddress.h
  src/platform/BUILD.gn
  src/platform/Zephyr/PlatformManagerImpl.cpp
  src/platform/nrfconnect/ConnectivityManagerImpl.cpp
  src/platform/nrfconnect/SystemPlatformConfig.h
  src/system/BUILD.gn
  src/system/SystemLayerImplZephyr.cpp
  src/system/SystemLayerImplZephyr.h
  src/system/system.gni
Labels: examples, system, platform, nrf connect, zephyr, inet, config, review - pending, fast track

#39657 vscode: Harmonize vscode's shell-format configu with what restyled is configured with
  .vscode/settings.json
Labels: scripts, vscode, review - approved, shell

#39682 Fix null termination for config manager: we should ensure null termination
  src/include/platform/internal/GenericConfigurationManagerImpl.ipp
Labels: platform, review - approved

#39689 [Telink] Update configs
  config/telink/chip-module/Kconfig
  config/telink/chip-module/Kconfig.defaults
Labels: config, review - pending, fast track

#39645 [Camera] Remove delegate APIs from application to cluster server
  examples/all-clusters-app/all-clusters-common/include/camera-av-stream-delegate-impl.h
  examples/all-clusters-app/all-clusters-common/src/camera-av-stream-delegate-impl.cpp
  examples/camera-app/camera-common/BUILD.gn
  examples/camera-app/camera-common/include/camera-avstream-controller/camera-avstream-controller.h
  examples/camera-app/camera-common/include/camera-device-interface.h
  examples/camera-app/linux/BUILD.gn
  examples/camera-app/linux/include/camera-device.h
  examples/camera-app/linux/include/clusters/camera-avstream-mgmt/camera-av-stream-manager.h
  examples/camera-app/linux/include/clusters/chime/chime-manager.h
  examples/camera-app/linux/src/camera-device.cpp
  examples/camera-app/linux/src/clusters/camera-avstream-mgmt/camera-av-stream-manager.cpp
  examples/camera-app/linux/src/clusters/webrtc-provider/webrtc-provider-manager.cpp
  src/app/clusters/camera-av-stream-management-server/camera-av-stream-management-server.h
Labels: examples, app, review - approved

#39691 Improve template deduction rules for Span and List.
  src/app/data-model/List.h
  src/app/data-model/tests/BUILD.gn
  src/app/data-model/tests/TestList.cpp
  src/lib/support/Span.h
  src/lib/support/tests/TestSpan.cpp
Labels: lib, app, review - approved, support

#39637 [E2E][JF] Add TC_JCM_1_1 test case; Enable JointFabrics testing in CI
  .github/workflows/tests.yaml
  examples/jf-control-app/BUILD.gn
  examples/jf-control-app/commands/pairing/PairingCommand.cpp
  examples/jf-control-app/commands/pairing/PairingCommand.h
  scripts/build/build/targets.py
  scripts/build/builders/host.py
  scripts/build/testdata/all_targets_linux_x64.txt
  scripts/tests/local.py
  src/python_testing/TC_JCM_1_1.py
  src/python_testing/matter_testing_infrastructure/chip/testing/apps.py
Labels: examples, scripts, github, workflows, review - approved, tests

#36707 TC_G_2.2: Automate
  src/python_testing/TC_G_2_2.py
Labels: review - pending, fast track, tests, matter-1.4-te2-script-change

#37539 Add revision information to ID docs
  .github/.wordlist.txt
  data_model/1.3/device_types/device_type_ids.json
  data_model/1.4.1/device_types/device_type_ids.json
  data_model/1.4.2/device_types/device_type_ids.json
  data_model/1.4/device_types/device_type_ids.json
  docs/ids_and_codes/spec_clusters.md
  docs/ids_and_codes/spec_device_types.md
  scripts/spec_xml/generate_spec_xml.py
  scripts/spec_xml/paths.py
Labels: documentation, scripts, github, review - pending

#39611 [Darwin][Network.framework] Set IPPacketInfo::Interface from sin6_sco…
  src/platform/Darwin/inet/UDPEndPointImplNetworkFramework.mm
Labels: platform, darwin

#39713 [TC-SOIL-2.2] Mandate specific simulated values when running on CI
  src/python_testing/TC_SOIL_2_2.py
Labels: review - approved, tests

#39642 Cherry-pick [ICD] Add a Configurable SlowPollInterval fallback value when and ICD…
  src/app/icd/server/ICDConfigurationData.cpp
  src/app/icd/server/ICDConfigurationData.h
  src/app/icd/server/tests/BUILD.gn
  src/app/icd/server/tests/ICDConfigurationDataTestAccess.h
  src/app/icd/server/tests/TestICDConfigurationData.cpp
  src/include/platform/CHIPDeviceConfig.h
Labels: platform, app, icd

#39647 [Closures] Closure linux app common code and calibrate command implementation
  examples/closure-app/linux/BUILD.gn
  examples/closure-app/linux/ClosureManager.cpp
  examples/closure-app/linux/include/ClosureManager.h
  examples/closure-app/linux/main.cpp
Labels: examples, review - approved

#39552 Camera app: Add `--video-device` arg instead of hardcoding `/dev/video0`
  examples/camera-app/linux/include/camera-device.h
  examples/camera-app/linux/main.cpp
  examples/camera-app/linux/src/camera-device.cpp
  examples/platform/linux/Options.cpp
  examples/platform/linux/Options.h
Labels: examples, platform, linux, review - approved

#38669 mypy compliance for choice_conformance.py and commissioning.py
  .github/workflows/mypy-validation.yml
  src/python_testing/matter_testing_infrastructure/chip/testing/choice_conformance.py
  src/python_testing/matter_testing_infrastructure/chip/testing/commissioning.py
  src/python_testing/matter_testing_infrastructure/chip/testing/matter_testing.py
  src/python_testing/matter_testing_infrastructure/chip/testing/spec_parsing.py
Labels: github, workflows, review - pending, fast track, tests

#39709 Log information about the Certification Declaration during device attestation verification.
  src/credentials/attestation_verifier/DefaultDeviceAttestationVerifier.cpp
Labels: review - approved

#39715 [NXP][zap][thermostat] update device versions and cluster revisions
  examples/thermostat/nxp/zap/thermostat_matter_br.matter
  examples/thermostat/nxp/zap/thermostat_matter_br.zap
  examples/thermostat/nxp/zap/thermostat_matter_eth.matter
  examples/thermostat/nxp/zap/thermostat_matter_eth.zap
  examples/thermostat/nxp/zap/thermostat_matter_thread.matter
  examples/thermostat/nxp/zap/thermostat_matter_thread.zap
  examples/thermostat/nxp/zap/thermostat_matter_wifi.matter
  examples/thermostat/nxp/zap/thermostat_matter_wifi.zap
Labels: review - approved

#39518 Last round of improvements & cleanup to FabricTableImpl for TLS
  src/app/clusters/scenes-server/SceneTableImpl.cpp
  src/app/clusters/scenes-server/SceneTableImpl.h
  src/app/storage/FabricTableImpl.h
  src/app/storage/FabricTableImpl.ipp
  src/lib/support/AutoRelease.h
  src/lib/support/BUILD.gn
  src/transport/SessionManager.cpp
Labels: transport, lib, app, review - approved, support, cameras

#39721 Post merge updates for network commissioning
  src/app/clusters/network-commissioning/CodegenInstance.h
  src/app/clusters/network-commissioning/NetworkCommissioningCluster.h
  src/app/clusters/network-commissioning/NetworkCommissioningLogic.cpp
  src/app/clusters/network-commissioning/NetworkCommissioningLogic.h
Labels: app, review - approved

#39567 [NXP] Fix DnssdImplBr handling of startup and reset events
  src/platform/nxp/common/ConnectivityManagerImpl.cpp
  src/platform/nxp/common/ConnectivityManagerImpl.h
  src/platform/nxp/common/DnssdImpl.cpp
  src/platform/nxp/common/DnssdImplBr.cpp
Labels: platform, review - approved, nxp

#39741 Split REPL app build steps and clean the out directory
  .github/workflows/tests.yaml
  src/python_testing/TC_DA_1_9.py
  src/python_testing/TC_SC_3_5.py
  src/python_testing/TC_WEBRTCR_2_1.py
  src/python_testing/TC_WEBRTCR_2_2.py
  src/python_testing/TC_WEBRTCR_2_3.py
  src/python_testing/TC_WEBRTCR_2_4.py
  src/python_testing/test_testing/test_TC_DA_1_2.py
  src/python_testing/test_testing/test_TC_DA_1_5.py
Labels: hotfix, github, workflows, review - approved, tests

#39747 Fix one more path added to objdir-clone in tests.yaml for linux repl tests.
  .github/workflows/tests.yaml
Labels: hotfix, scripts, github, workflows

#39750 Revert "[Darwin][System] Ensure we do not delete the timer block context twice"
  src/platform/Darwin/system/SystemLayerImplDispatch.mm
Labels: platform, darwin, fast track

#39758 [Telink] Update Docker image (Zephyr update)
  integrations/docker/images/base/chip-build/version
  integrations/docker/images/stage-2/chip-build-telink-zephyr_3_3/Dockerfile
  integrations/docker/images/stage-2/chip-build-telink/Dockerfile
Labels: review - pending

#39762 Check for Python >= 3.11 in the configure script
  scripts/configure
Labels: review - approved

#39748 Create a Python wheel with tests needed for the Interoperability Debugging Tool (IDT)
  BUILD.gn
  src/python_testing/post_certification_tests/BUILD.gn
Labels: gn, review - approved, tests

#39444 [E2E][JF] Fix AddNOC() during JCM
  examples/jf-control-app/commands/pairing/PairingCommand.cpp
Labels: examples, review - approved

#39742 [Closure] Closure app build fixes as per the latest spec
  examples/closure-app/closure-common/src/ClosureControlEndpoint.cpp
  examples/closure-app/closure-common/src/ClosureDimensionEndpoint.cpp
Labels: examples, review - approved

#39527 Create a file for event reporting in python framework
  src/python_testing/TC_ACL_2_5.py
  src/python_testing/TC_ACL_2_6.py
  src/python_testing/TC_BRBINFO_4_1.py
  src/python_testing/TC_CADMIN_1_19.py
  src/python_testing/TC_CADMIN_1_25.py
  src/python_testing/TC_CC_2_2.py
  src/python_testing/TC_DEM_2_10.py
  src/python_testing/TC_DEM_2_2.py
  src/python_testing/TC_DEM_2_4.py
  src/python_testing/TC_EEVSE_2_2.py
  src/python_testing/TC_EEVSE_2_3.py
  src/python_testing/TC_EEVSE_2_4.py
  src/python_testing/TC_EEVSE_2_5.py
  src/python_testing/TC_EEVSE_2_6.py
  src/python_testing/TC_EEVSE_2_7.py
  src/python_testing/TC_EGC_2_2.py
  src/python_testing/TC_EWATERHTR_2_2.py
  src/python_testing/TC_EWATERHTR_2_3.py
  src/python_testing/TC_FAN_3_1.py
  src/python_testing/TC_FAN_3_2.py
  src/python_testing/TC_FAN_4_1.py
  src/python_testing/TC_IDM_4_2.py
  src/python_testing/TC_I_2_4.py
  src/python_testing/TC_LVL_2_3.py
  src/python_testing/TC_OCC_3_1.py
  src/python_testing/TC_OCC_3_2.py
  src/python_testing/TC_OPCREDS_3_8.py
  src/python_testing/TC_OpstateCommon.py
  src/python_testing/TC_PS_2_3.py
  src/python_testing/TC_REFALM_2_2.py
  src/python_testing/TC_SEPR_2_2.py
  src/python_testing/TC_SWTCH.py
  src/python_testing/TC_TIMESYNC_2_10.py
  src/python_testing/TC_TIMESYNC_2_11.py
  src/python_testing/TC_TIMESYNC_2_12.py
  src/python_testing/TC_TIMESYNC_2_13.py
  src/python_testing/TC_VALCC_3_1.py
  src/python_testing/TC_VALCC_3_2.py
  src/python_testing/TC_VALCC_3_3.py
  src/python_testing/matter_testing_infrastructure/BUILD.gn
  src/python_testing/matter_testing_infrastructure/chip/testing/event_attribute_reporting.py
  src/python_testing/matter_testing_infrastructure/chip/testing/matter_testing.py
Labels: review - approved, tests

#39578 Stop overriding core SDK defaults for Wi-Fi PAF in build_python.sh.
  scripts/build_python.sh
Labels: scripts, review - approved
