Repository project-chip/connectedhomeip, pull requests merged in 2025-07, with the labels that each got.

#39790 [Camera] Update TC_AVSM Test Cases for CI
  src/python_testing/TC_AVSM_2_1.py
  src/python_testing/TC_AVSM_2_10.py
  src/python_testing/TC_AVSM_2_11.py
  src/python_testing/TC_AVSM_2_2.py
  src/python_testing/TC_AVSM_2_3.py
  src/python_testing/TC_AVSM_2_4.py
  src/python_testing/TC_AVSM_2_5.py
  src/python_testing/TC_AVSM_2_6.py
  src/python_testing/TC_AVSM_2_7.py
  src/python_testing/TC_AVSM_2_8.py
  src/python_testing/TC_AVSM_2_9.py
  src/python_testing/test_metadata.yaml
Labels: review - approved, tests, cameras, v1.5

#39798 Update pullapprove.yml: include Velux to help with closures
  .pullapprove.yml
Labels: review - approved

#39669 [Closures] Implement Stop Command for closure 917 platform sample app
  examples/closure-app/closure-common/include/ClosureControlEndpoint.h
  examples/closure-app/closure-common/include/ClosureDimensionEndpoint.h
  examples/closure-app/closure-common/src/ClosureControlEndpoint.cpp
  examples/closure-app/closure-common/src/ClosureDimensionEndpoint.cpp
  examples/closure-app/silabs/include/AppEvent.h
  examples/closure-app/silabs/include/ClosureManager.h
  examples/closure-app/silabs/src/ClosureManager.cpp
Labels: examples, review - approved

#37973 Implementation of Python RTC Test client for Test Harness
  .github/workflows/tests.yaml
  scripts/build/build/targets.py
  scripts/build/builders/host.py
  scripts/build/testdata/all_targets_linux_x64.txt
  scripts/tools/check_includes_config.py
  src/controller/BUILD.gn
  src/controller/flags.gni
  src/controller/python/BUILD.gn
  src/controller/python/chip/webrtc/RTCClient.cpp
  src/controller/python/chip/webrtc/WebRTC.cpp
  src/controller/python/chip/webrtc/WebRTC.h
  src/controller/python/chip/webrtc/__init__.py
  src/controller/python/chip/webrtc/callbacks.py
  src/controller/python/chip/webrtc/library_handle.py
  src/controller/python/chip/webrtc/types.py
  src/controller/webrtc/BUILD.gn
  src/controller/webrtc/WebRTCClient.cpp
  src/controller/webrtc/WebRTCClient.h
  third_party/libdatachannel/BUILD.gn
Labels: examples, scripts, transport, darwin, lib, controller, app, github, workflows, review - approved, tests, support, changing-submodules-on-purpose

#38242 [Closure] TC-CLDIM Added test script TC-CLDIM-2.1
  src/python_testing/TC_CLDIM_2_1.py
  src/python_testing/test_metadata.yaml
Labels: scripts, github, workflows, review - approved, tests, App Clusters: Closures, v1.5

#38814 [Closures] CLCTRL test scripts 2.1 / 4.2 / 4.3 / 4.4
  src/python_testing/TC_CLCTRL_2_1.py
  src/python_testing/TC_CLCTRL_4_2.py
  src/python_testing/TC_CLCTRL_4_3.py
  src/python_testing/TC_CLCTRL_4_4.py
  src/python_testing/test_metadata.yaml
Labels: review - approved, tests, App Clusters: Closures

#39786 [Darwin] Switch from StartTimerWithBlock to the regular StartTimer/Ca…
  src/platform/Darwin/dnssd/DnssdHostNameRegistrar.h
  src/platform/Darwin/dnssd/DnssdHostNameRegistrar.mm
Labels: platform, darwin

#39800 Restore ability to select logging backend on Linux
  examples/platform/linux/BUILD.gn
  src/platform/Linux/BUILD.gn
  src/platform/Linux/Logging.cpp
  src/platform/logging/BUILD.gn
Labels: examples, platform, linux, review - approved

#39779 [Camera] Fix Camera app in Sending IceCandidates, handling EndSession, Re-Offer case
  examples/camera-app/linux/src/clusters/webrtc-provider/webrtc-provider-manager.cpp
  src/app/clusters/webrtc-transport-provider-server/webrtc-transport-provider-server.cpp
Labels: examples, app, review - approved, cameras, v1.5

#39806 [Linux] Do not report BLE device which went out of range
  src/platform/Linux/bluez/ChipDeviceScanner.cpp
Labels: platform, linux, review - approved

#39638 TC-IDM-4.2: indicate the DUT needs to be commissioned
  src/python_testing/TC_IDM_4_2.py
Labels: review - pending, tests, matter-1.4.2-sve-script-change

#39623 TC-SC-4.3: Fix test for no TXT record returned from DUT
  src/python_testing/TC_SC_4_3.py
Labels: review - pending, tests, matter-1.4.2-sve-script-change

#39726 [Closures] Implements SetTarget Command for closure sample app
  examples/closure-app/closure-common/src/ClosureDimensionEndpoint.cpp
  examples/closure-app/silabs/include/ClosureManager.h
  examples/closure-app/silabs/src/ClosureManager.cpp
Labels: examples, review - approved

#39833 Set initial states for Closure Linux example app
  examples/closure-app/linux/ClosureManager.cpp
  examples/closure-app/linux/include/ClosureManager.h
Labels: examples, review - approved

#39655 [Realtek] fix button event bug & update zap
  examples/all-clusters-app/realtek/bee/main/AppTask.cpp
  examples/all-clusters-app/realtek/bee/main/CHIPDeviceManager.cpp
  examples/all-clusters-app/realtek/bee/main/include/CHIPDeviceManager.h
  examples/light-switch-app/realtek/bee/main/AppTask.cpp
  examples/light-switch-app/realtek/bee/main/CHIPDeviceManager.cpp
  examples/light-switch-app/realtek/bee/main/include/CHIPDeviceManager.h
  examples/lighting-app/realtek/bee/main/AppTask.cpp
  examples/lighting-app/realtek/bee/main/CHIPDeviceManager.cpp
  examples/lighting-app/realtek/bee/main/include/CHIPDeviceManager.h
  examples/lighting-app/realtek/bee/main/include/CHIPProjectConfig.h
  examples/lighting-app/realtek/data_model/lighting-app.matter
  examples/lighting-app/realtek/data_model/lighting-app.zap
  examples/lock-app/realtek/bee/main/AppTask.cpp
  examples/lock-app/realtek/bee/main/CHIPDeviceManager.cpp
  examples/lock-app/realtek/bee/main/include/CHIPDeviceManager.h
  examples/lock-app/realtek/data_model/lock-app.matter
  examples/lock-app/realtek/data_model/lock-app.zap
  examples/ota-requestor-app/realtek/bee/main/AppTask.cpp
  examples/ota-requestor-app/realtek/bee/main/CHIPDeviceManager.cpp
  examples/ota-requestor-app/realtek/bee/main/include/CHIPDeviceManager.h
  examples/thermostat/realtek/bee/main/AppTask.cpp
  examples/thermostat/realtek/bee/main/CHIPDeviceManager.cpp
  examples/thermostat/realtek/bee/main/include/CHIPDeviceManager.h
  examples/window-app/realtek/bee/main/AppTask.cpp
  examples/window-app/realtek/bee/main/CHIPDeviceManager.cpp
  examples/window-app/realtek/bee/main/include/CHIPDeviceManager.h
  src/platform/realtek/BEE/FactoryDataProvider.cpp
  src/platform/realtek/BEE/FactoryDataProvider.h
Labels: examples, platform, review - approved

#39670 [Closures] Implements MoveTo Command for closure sample app
  examples/closure-app/closure-common/include/ClosureControlEndpoint.h
  examples/closure-app/closure-common/include/ClosureDimensionEndpoint.h
  examples/closure-app/closure-common/src/ClosureControlEndpoint.cpp
  examples/closure-app/closure-common/src/ClosureDimensionEndpoint.cpp
  examples/closure-app/silabs/include/ClosureManager.h
  examples/closure-app/silabs/src/ClosureManager.cpp
Labels: examples, review - approved

#39679 [NXP] SE05x Persistent storage class implementation
  examples/platform/nxp/se05x/linux/AppMain.cpp
  src/platform/nxp/crypto/se05x/BUILD.gn
  src/platform/nxp/crypto/se05x/CHIPCryptoPALHsm_se05x_p256.cpp
  src/platform/nxp/crypto/se05x/CHIPCryptoPALHsm_se05x_utils.h
  src/platform/nxp/crypto/se05x/PersistentStorageOperationalKeystore_se05x.cpp
  src/platform/nxp/crypto/se05x/PersistentStorageOperationalKeystore_se05x.h
Labels: examples, platform, review - approved, nxp

#39683 Add AndroidNfcCommissioningManager() to AndroidChipPlatform constructor.
  examples/android/CHIPTest/app/src/main/java/com/tcl/chip/chiptest/MainActivity.kt
  examples/android/CHIPTool/app/src/main/java/com/google/chip/chiptool/ChipClient.kt
  examples/tv-app/android/App/platform-app/src/main/java/com/matter/tv/server/service/MatterServant.java
  examples/tv-casting-app/android/App/app/src/main/jni/com/matter/casting/core/CastingApp.java
  examples/virtual-device-app/android/App/core/matter/src/main/java/com/matter/virtual/device/app/core/matter/MatterApp.kt
  src/platform/android/java/chip/platform/AndroidChipPlatform.java
Labels: examples, platform, review - approved

#39632 [Closure] Closure error-list implementation
  examples/closure-app/closure-common/include/ClosureControlEndpoint.h
  examples/closure-app/closure-common/src/ClosureControlEndpoint.cpp
  src/app/clusters/closure-control-server/closure-control-cluster-delegate.h
  src/app/clusters/closure-control-server/closure-control-cluster-logic.cpp
  src/app/clusters/closure-control-server/closure-control-cluster-logic.h
  src/app/clusters/closure-control-server/closure-control-server.cpp
  src/app/tests/TestClosureControlClusterLogic.cpp
Labels: examples, scripts, platform, darwin, controller, app, gn, review - approved, tests, silabs, nxp

#39108 Python Testing framework: extract problem notice into its own file
  src/python_testing/TC_AccessChecker.py
  src/python_testing/TC_DefaultWarnings.py
  src/python_testing/TC_DeviceBasicComposition.py
  src/python_testing/TC_DeviceConformance.py
  src/python_testing/TC_pics_checker.py
  src/python_testing/TestChoiceConformanceSupport.py
  src/python_testing/TestSpecParsingSupport.py
  src/python_testing/matter_testing_infrastructure/BUILD.gn
  src/python_testing/matter_testing_infrastructure/chip/testing/choice_conformance.py
  src/python_testing/matter_testing_infrastructure/chip/testing/matter_testing.py
  src/python_testing/matter_testing_infrastructure/chip/testing/problem_notices.py
  src/python_testing/matter_testing_infrastructure/chip/testing/spec_parsing.py
Labels: review - approved, tests

#39804 [Closure] Enable closure app build for EFR32 in CI
  .github/workflows/examples-efr32.yaml
Labels: github, workflows, review - approved

#39591 [darwin-framework-tool] Add print command to display device endpoints…
  examples/darwin-framework-tool/commands/common/DeviceDelegate.h
  examples/darwin-framework-tool/commands/common/DeviceDelegate.mm
  examples/darwin-framework-tool/commands/configuration/Commands.h
  examples/darwin-framework-tool/commands/configuration/PrintDeviceCommand.h
Labels: examples, darwin, review - pending, fast track

#39862 Fix imports in the TestConformanceTest.py
  src/python_testing/TestConformanceTest.py
Labels: review - approved, tests

#39765 Linux / Darwin: Enable passcode / verifier config from PosixConfig
  examples/platform/linux/CommissionableInit.cpp
  examples/platform/linux/CommissionableInit.h
Labels: examples, platform, linux, review - approved

#39362 [E2E][JF] Implemented ICAC CSR generation and ICAC issuance
  examples/jf-control-app/commands/example/ExampleOperationalCredentialsIssuer.cpp
  examples/jf-control-app/commands/example/ExampleOperationalCredentialsIssuer.h
Labels: examples, controller, review - approved

#39857 TC-CLCTRL-4.2/3/4 reset sub_handler at the end of each relevant section
  src/python_testing/TC_CLCTRL_4_2.py
  src/python_testing/TC_CLCTRL_4_3.py
  src/python_testing/TC_CLCTRL_4_4.py
Labels: review - approved, tests, App Clusters: Closures, v1.5

#39755 Handle AVSUM Spec Conformance Changes
  src/app/clusters/camera-av-settings-user-level-management-server/camera-av-settings-user-level-management-server.cpp
  src/app/zap-templates/zcl/data-model/chip/camera-av-settings-user-level-management-cluster.xml
  src/python_testing/TC_AVSUM_2_1.py
  src/python_testing/TC_AVSUM_2_2.py
  src/python_testing/TC_AVSUM_2_3.py
Labels: app, review - approved, tests

#39882 Update year in styleguide
  .gemini/styleguide.md
Labels: review - approved

#39878 Configure script: Pass --use-pep517 to pip install
  scripts/configure
Labels: scripts, review - approved

#39860 Fix spelling errors in a comment paragraph
  src/app/clusters/network-commissioning/CodegenInstance.h
Labels: app, review - approved

#39879 Linux: Move UniqueId from ChipFactory to ChipConfig namespace
  src/platform/Darwin/PosixConfig.cpp
  src/platform/Linux/PosixConfig.cpp
Labels: platform, darwin, linux, review - approved

#38588 [TC-CLDIM] Added new python test scripts for Step command based on test plan
  src/python_testing/TC_CLDIM_4_1.py
  src/python_testing/TC_CLDIM_4_2.py
  src/python_testing/test_metadata.yaml
Labels: review - approved, tests, App Clusters: Closures, v1.5

#39650 devcontainers: Typo in short options for build.sh not allowing the -v option to work properly
  .devcontainer/build.sh
Labels: scripts, integrations, vscode, review - approved, shell, docker

#39723 Fix reading ExtendedAddress from otbr-agent
  src/platform/Linux/ThreadStackManagerImpl.cpp
  src/platform/Linux/ThreadStackManagerImpl.h
  src/platform/Linux/dbus/openthread/DBusOpenthread.xml
Labels: platform, linux, review - approved

#39842 1.4.2 cherry picks
  .github/workflows/lint.yml
  .github/workflows/mypy-validation.yml
  scripts/check_chipstack.py
  src/app/tests/suites/TestCluster.yaml
  src/app/tests/suites/certification/Test_TC_TBRM_2_2.yaml
  src/app/tests/suites/certification/Test_TC_TBRM_2_3.yaml
  src/app/tests/suites/certification/Test_TC_TBRM_2_4.yaml
  src/python_testing/TC_AVSUMTestBase.py
  src/python_testing/TC_AVSUM_2_4.py
  src/python_testing/TC_AVSUM_2_6.py
  src/python_testing/TC_AVSUM_2_7.py
  src/python_testing/TC_AVSUM_2_8.py
  src/python_testing/TC_BINFO_3_2.py
  src/python_testing/TC_BRBINFO_3_2.py
  src/python_testing/TC_CADMIN_1_19.py
  src/python_testing/TC_CC_2_1.py
  src/python_testing/TC_CC_2_2.py
  src/python_testing/TC_CGEN_2_2.py
  src/python_testing/TC_CGEN_2_8.py
  src/python_testing/TC_CGEN_2_9.py
  src/python_testing/TC_CHIMETestBase.py
  src/python_testing/TC_CHIME_2_1.py
  src/python_testing/TC_CHIME_2_2.py
  src/python_testing/TC_CHIME_2_3.py
  src/python_testing/TC_CHIME_2_4.py
  src/python_testing/TC_CNET_1_4.py
  src/python_testing/TC_CNET_4_2.py
  src/python_testing/TC_CNET_4_3.py
  src/python_testing/TC_CNET_4_4.py
  src/python_testing/TC_DRLK_2_13.py
  src/python_testing/TC_FAN_3_3.py
  src/python_testing/TC_FAN_3_4.py
  src/python_testing/TC_IDM_1_4.py
  src/python_testing/TC_IDM_4_2.py
  src/python_testing/TC_LCFG_2_1.py
  src/python_testing/TC_LVL_2_3.py
  src/python_testing/TC_MWOCTRL_2_2.py
  src/python_testing/TC_MWOCTRL_2_4.py
  src/python_testing/TC_OCC_2_1.py
  src/python_testing/TC_OCC_2_3.py
  src/python_testing/TC_OVENOPSTATE_2_2.py
  src/python_testing/TC_OVENOPSTATE_2_4.py
  src/python_testing/TC_OVENOPSTATE_2_5.py
  src/python_testing/TC_OVENOPSTATE_2_6.py
  src/python_testing/TC_OpstateCommon.py
  src/python_testing/TC_SC_3_4.py
  src/python_testing/TC_SC_4_3.py
  src/python_testing/TC_SEAR_1_4.py
  src/python_testing/TC_SWTCH.py
  src/python_testing/TC_WEBRTCP_2_2.py
  src/python_testing/TC_WEBRTCP_2_3.py
  src/python_testing/TC_WEBRTCP_2_4.py
  src/python_testing/matter_testing_infrastructure/chip/testing/matter_testing.py
  src/python_testing/test_metadata.yaml
Labels: scripts, app, github, workflows, fast track, tests

#39868 [Silabs] [Closure] Set initial states for closure endpoints in 917 sample app
  examples/closure-app/silabs/include/ClosureManager.h
  examples/closure-app/silabs/src/ClosureManager.cpp
Labels: review - approved

#39897 [Camera] Update TC_AVSM_2_10.py with snapshot image verification step
  src/python_testing/TC_AVSM_2_10.py
  src/python_testing/matter_testing_infrastructure/chip/testing/matter_testing.py
Labels: review - approved, tests, cameras, v1.5

#39891 [Cameras] Add Alchemy generated XML for all Camera device types
  examples/chef/devices/rootnode_heatingcoolingunit_ncdGai1E5a.matter
  src/app/zap-templates/zcl/data-model/chip/matter-devices.xml
  src/darwin/Framework/CHIP/zap-generated/MTRClusterConstants.h
  src/darwin/Framework/CHIP/zap-generated/MTRDeviceTypeMetadata.mm
  zzz_generated/chip-tool/zap-generated/cluster/logging/EntryToText.cpp
Labels: examples, darwin, app, review - approved, cameras, examples chef

#38628 feat: Add Microwave Oven Chef device
  examples/chef/common/chef-operational-state-delegate-impl.h
  examples/chef/common/clusters/microwave-oven-control/chef-microwave-oven-control.cpp
  examples/chef/common/clusters/microwave-oven-control/chef-microwave-oven-control.h
  examples/chef/common/clusters/microwave-oven-mode/chef-microwave-oven-mode.cpp
  examples/chef/common/clusters/microwave-oven-mode/chef-microwave-oven-mode.h
  examples/chef/common/stubs.cpp
  examples/chef/devices/rootnode_microwaveoven_37420684d3.matter
  examples/chef/devices/rootnode_microwaveoven_37420684d3.zap
  examples/chef/esp32/main/CMakeLists.txt
  examples/chef/linux/BUILD.gn
  examples/chef/nrfconnect/CMakeLists.txt
  examples/chef/sample_app_util/matter_device_types.json
Labels: examples, fast track, examples chef

#39896 [E2E][JF] Added OJCW command to CommissioningWindowManager
  src/app/server/CommissioningWindowManager.cpp
  src/app/server/CommissioningWindowManager.h
  src/lib/dnssd/Advertiser.h
Labels: lib, app, review - approved

#39708 [EEVSE] Add TC_EEVSE_2_9 [RFID] feature support
  examples/energy-management-app/energy-management-common/energy-evse/src/EnergyEvseEventTriggers.cpp
  src/python_testing/TC_EEVSE_2_9.py
Labels: examples, app, review - approved, tests

#39902 [SRP] Initial directory structure for the Matter SRP client implementation
  src/BUILD.gn
  src/srp/BUILD.gn
  src/srp/SRPClient.cpp
  src/srp/SRPClient.h
  src/srp/SRPCommon.h
  src/srp/args.gni
  src/srp/tests/BUILD.gn
Labels: review - approved, hrap

#39900 update zap
  scripts/setup/zap.json
  scripts/setup/zap.version
  scripts/tools/zap/zap_execution.py
Labels: scripts, review - approved

#39736 [EEVSE] Add TC_EEVSE_2_10 [V2X] feature support
  examples/energy-management-app/energy-management-common/energy-evse/include/EVSECallbacks.h
  examples/energy-management-app/energy-management-common/energy-evse/include/EnergyEvseDelegateImpl.h
  examples/energy-management-app/energy-management-common/energy-evse/src/EVSEManufacturerImpl.cpp
  examples/energy-management-app/energy-management-common/energy-evse/src/EnergyEvseDelegateImpl.cpp
  examples/energy-management-app/energy-management-common/energy-evse/src/EnergyEvseEventTriggers.cpp
  src/app/clusters/energy-evse-server/energy-evse-server.h
  src/python_testing/TC_EEVSE_2_10.py
  src/python_testing/TC_EEVSE_2_2.py
  src/python_testing/TC_EEVSE_Utils.py
Labels: examples, app, review - approved, tests

#39921 Add more in-progress things to Darwin availability annotations.
  src/darwin/Framework/CHIP/templates/availability.yaml
Labels: darwin

#39851 [Camera] Python Camera Controller implementation for WEBRTC TCs
  .github/workflows/lint.yml
  scripts/build/builders/host.py
  scripts/build_python.sh
  scripts/tools/check_includes_config.py
  src/controller/python/BUILD.gn
  src/controller/python/chip/ChipDeviceCtrl.py
  src/controller/python/chip/clusters/Command.py
  src/controller/python/chip/clusters/command.cpp
  src/controller/python/chip/webrtc/RTCClient.cpp
  src/controller/python/chip/webrtc/WebRTC.cpp
  src/controller/python/chip/webrtc/WebRTC.h
  src/controller/python/chip/webrtc/WebRTCTransportCluster.cpp
  src/controller/python/chip/webrtc/__init__.py
  src/controller/python/chip/webrtc/callbacks.py
  src/controller/python/chip/webrtc/command.py
  src/controller/python/chip/webrtc/library_handle.py
  src/controller/python/chip/webrtc/peer_connection.py
  src/controller/python/chip/webrtc/types.py
  src/controller/python/chip/webrtc/utils.py
  src/controller/python/chip/webrtc/webrtc_client.py
  src/controller/python/chip/webrtc/webrtc_manager.py
  src/controller/webrtc/BUILD.gn
  src/controller/webrtc/WebRTCClient.cpp
  src/controller/webrtc/WebRTCClient.h
  src/controller/webrtc/WebRTCTransportProviderClient.cpp
  src/controller/webrtc/WebRTCTransportProviderClient.h
  src/controller/webrtc/WebRTCTransportRequestorManager.cpp
  src/controller/webrtc/WebRTCTransportRequestorManager.h
Labels: scripts, controller, app, github, workflows, review - approved, cameras, v1.5

#39901 Add jfds_2.1 and jfds_2.2 test cases
  src/python_testing/TC_JFDS_2_1.py
  src/python_testing/TC_JFDS_2_2.py
Labels: review - approved, tests

#39415 [ACE] perform initial ACL checks before existence checks to avoid leaking non-existence
  src/app/CommandHandlerImpl.cpp
  src/app/InteractionModelEngine.cpp
  src/app/InteractionModelEngine.h
  src/app/WriteHandler.cpp
  src/app/WriteHandler.h
  src/app/tests/BUILD.gn
  src/app/tests/TestAclAttribute.cpp
  src/app/tests/TestAclCommand.cpp
  src/app/tests/test-interaction-model-api.h
  src/python_testing/TC_AccessChecker.py
Labels: app, review - approved, tests

#39912 [NXP][common] Adding CONFIG_APP_TASK_STACK_SIZE and CONFIG_CHIP_TASK_STACK_SIZE Kconfig to ease application-level override
  config/nxp/chip-cmake-freertos/Kconfig
  examples/platform/nxp/common/Kconfig
  examples/platform/nxp/common/app_task/source/AppTaskFreeRTOS.cpp
  src/platform/nxp/common/CHIPDeviceNXPPlatformDefaultConfig.h
Labels: examples, platform, config, review - approved, nxp

#39872 [NXP][platform][common] Add Ethernet network ID support
  src/platform/nxp/common/Ethernet/NxpEthDriver.cpp
  src/platform/nxp/common/Ethernet/NxpEthDriver.h
Labels: platform, review - approved, nxp

#39929 Log chunk size required in MTRServerAttribute.
  src/darwin/Framework/CHIP/ServerEndpoint/MTRServerAttribute.mm
Labels: darwin

#39788 Fix build with `chip_code_pre_generated_directory` set
  build/chip/chip_codegen.gni
Labels: review - approved

#39911 Fix software-fault-listener include in air-quality-sensor-app
  examples/air-quality-sensor-app/linux/BUILD.gn
Labels: examples, review - approved

#39751 EndpointProvider - Post-landing PR review updates
  src/BUILD.gn
  src/data-model-providers/codedriven/endpoint/BUILD.gn
  src/data-model-providers/codedriven/endpoint/EndpointInterface.h
  src/data-model-providers/codedriven/endpoint/EndpointInterfaceRegistry.cpp
  src/data-model-providers/codedriven/endpoint/EndpointInterfaceRegistry.h
  src/data-model-providers/codedriven/endpoint/SpanEndpoint.cpp
  src/data-model-providers/codedriven/endpoint/SpanEndpoint.h
  src/data-model-providers/codedriven/endpoint/tests/BUILD.gn
  src/data-model-providers/codedriven/endpoint/tests/TestEndpointInterfaceRegistry.cpp
  src/data-model-providers/codedriven/endpoint/tests/TestSpanEndpoint.cpp
  src/data-model-providers/endpoint/EndpointProviderRegistry.h
Labels: review - approved

#39936 Enable Closure test scripts on CI
  src/python_testing/TC_CLCTRL_4_1.py
  src/python_testing/TC_CLCTRL_5_1.py
  src/python_testing/test_metadata.yaml
Labels: review - approved, tests, App Clusters: Closures, v1.5

#39903 [Cameras] Handle WatermarkEnabled and OSDEnabled being optional
  examples/camera-app/linux/src/camera-device.cpp
  examples/camera-app/linux/src/clusters/camera-avstream-mgmt/camera-av-stream-manager.cpp
  src/app/clusters/camera-av-stream-management-server/camera-av-stream-management-server.cpp
  src/python_testing/TC_AVSM_2_3.py
Labels: examples, app, review - approved, tests

#39910 Fix SecureStateChanged event issue in the test script TC_CLCTRL_6_1
  src/python_testing/TC_CLCTRL_6_1.py
  src/python_testing/test_metadata.yaml
Labels: review - approved, tests, App Clusters: Closures, v1.5

#39919 Label override for DM file updates
  .github/workflows/check-data-model-directory-updates.yaml
Labels: github, workflows, review - approved, data-model-file-structural-change-dm-tt-use-only

#39802 [E2E][JF] Add skeleton for JCM Cross-signing steps
  examples/common/pigweed/protos/joint_fabric_service.options
  examples/common/pigweed/protos/joint_fabric_service.proto
  examples/common/pigweed/rpc_services/JointFabric.h
  examples/jf-admin-app/linux/JFAManager.cpp
  examples/jf-admin-app/linux/include/JFAManager.h
  examples/jf-admin-app/linux/include/JFARpc.h
  examples/jf-admin-app/linux/main.cpp
  examples/jf-admin-app/linux/rpc/RpcServer.cpp
  examples/jf-control-app/commands/example/ExampleCredentialIssuerCommands.h
  examples/jf-control-app/commands/example/ExampleOperationalCredentialsIssuer.cpp
  examples/jf-control-app/commands/pairing/PairingCommand.cpp
  examples/jf-control-app/commands/pairing/PairingCommand.h
  src/app/FailSafeContext.h
  src/app/clusters/joint-fabric-administrator-server/app_config_dependent_sources.gni
  src/app/clusters/joint-fabric-administrator-server/joint-fabric-administrator-server.cpp
  src/app/common/templates/config-data.yaml
  src/app/server/BUILD.gn
  src/app/server/JointFabricAdministrator.cpp
  src/app/server/JointFabricAdministrator.h
  src/app/server/Server.h
  src/controller/CHIPDeviceController.cpp
  src/controller/CHIPDeviceController.h
  src/controller/DevicePairingDelegate.h
  zzz_generated/app-common/app-common/zap-generated/callback.h
Labels: examples, controller, app, review - approved

#39727 Implementations for Push AV Cluster Python Test Scripts with single TH
  src/python_testing/TC_PAVST_2_1.py
  src/python_testing/TC_PAVST_2_2.py
  src/python_testing/TC_PAVST_2_3.py
  src/python_testing/TC_PAVST_2_9.py
  src/python_testing/test_metadata.yaml
Labels: review - approved, tests, cameras, v1.5

#39695 Generate Documentation for python API: Fix TOC links
  docs/testing/GenerateChipDeviceCtrlDoc.sh
Labels: documentation, review - pending, fast track

#39940 Add TC-CLCTRL-3.1 to slow tests, fix timeouts and enable it in CI
  src/python_testing/TC_CLCTRL_3_1.py
  src/python_testing/test_metadata.yaml
Labels: review - approved, tests, App Clusters: Closures, v1.5

#39944 Fix venv created by build_python.sh to include minimal build requirements #1
  scripts/build_python.sh
Labels: scripts, review - approved

#39934 [ESP32]: ensure all matter services are removed
  src/platform/ESP32/ESP32DnssdImpl.cpp
Labels: platform, esp32, review - approved

#39223 TC-OPCREDS-3.5: Remove YAML
  src/app/tests/suites/certification/Test_TC_OPCREDS_3_5.yaml
  src/app/tests/suites/manualTests.json
Labels: app, review - pending, fast track, tests

#39904 Automation for TC-TSTAT-4.3
  src/app/tests/suites/certification/PICS.yaml
  src/app/tests/suites/certification/ci-pics-values
  src/python_testing/TC_TSTAT_4_3.py
Labels: controller, app, review - pending, tests

#39931 Adding python automation test script for TC-RVCOPSTATE-2.5
  src/python_testing/TC_RVCOPSTATE_2_5.py
Labels: review - approved, tests

#39908 [Camera] Include push_av_server and required dependencies in chip-cert-bins
  integrations/docker/images/chip-cert-bins/Dockerfile
Labels: integrations, review - approved, docker, cameras, v1.5

#39978 [Camera] Enable missing mandatory clusters for Camera device type
  examples/camera-app/camera-common/camera-app.matter
  examples/camera-app/camera-common/camera-app.zap
Labels: examples, review - approved

#38998 PushAV Initial Implementation of Clip recorder and uploader
  .github/.wordlist.txt
  .github/workflows/examples-linux-arm.yaml
  .github/workflows/examples-linux-standalone.yaml
  .github/workflows/java-tests.yaml
  .github/workflows/tests.yaml
  examples/camera-app/linux/BUILD.gn
  examples/camera-app/linux/README.md
  examples/camera-app/linux/include/pushav-clip-recorder.h
  examples/camera-app/linux/include/uploader/pushav-uploader.h
  examples/camera-app/linux/src/pushav-clip-recorder.cpp
  examples/camera-app/linux/src/uploader/pushav-uploader.cpp
Labels: examples, scripts, integrations, github, workflows, review - approved, docker

#39976 [AVSUM] Correct the checking for running in CI
  src/python_testing/TC_AVSUM_2_2.py
  src/python_testing/TC_AVSUM_2_3.py
  src/python_testing/TC_AVSUM_2_4.py
Labels: review - approved, tests

#39962 [Linux] Report public WiFiConnectivityChange events
  src/platform/Linux/ConnectivityManagerImpl.cpp
  src/platform/Linux/ConnectivityManagerImpl.h
  src/platform/Linux/dbus/wpa/DBusWpaInterface.xml
Labels: platform, linux, review - approved

#39844 Fix null pointer dereference in function MdnsAvahi::Resolve
  src/platform/Linux/DnssdImpl.cpp
Labels: platform, linux, review - pending, fast track

#39849 Prevent double-free in MemoryTest on deinit failure and correct delete[]
  src/platform/mbed/OTAImageProcessorImpl.cpp
Labels: platform, review - approved

#39812 Fix memory leak in function FactoryDataProvider::Init
  src/platform/realtek/BEE/FactoryDataProvider.cpp
Labels: platform, review - pending, fast track

#39810 Fix memory leak in function GetNetworkInterfaces
  src/platform/Beken/DiagnosticDataProviderImpl.cpp
Labels: platform, review - pending, fast track

#39941 Increase unit test code coverage of `controller/` by 2.3%
  src/controller/AutoCommissioner.h
  src/controller/tests/AutoCommissionerTestAccess.h
  src/controller/tests/BUILD.gn
  src/controller/tests/TestAutoCommissioner.cpp
Labels: controller, ble, review - approved

#40005 [Telink] Update Docker image (Zephyr update)
  integrations/docker/images/base/chip-build/version
  integrations/docker/images/stage-2/chip-build-telink-zephyr_3_3/Dockerfile
  integrations/docker/images/stage-2/chip-build-telink/Dockerfile
Labels: integrations, review - pending, docker

#39981 [camera] Fix failing to start liveview issue
  examples/camera-controller/device-manager/AVStreamManagement.cpp
Labels: examples, review - approved

#39925 Add support for Thermostat suggestions
  examples/thermostat/thermostat-common/include/thermostat-delegate-impl.h
  examples/thermostat/thermostat-common/src/thermostat-delegate-impl.cpp
  examples/thermostat/thermostat-common/thermostat.matter
  examples/thermostat/thermostat-common/thermostat.zap
  src/app/clusters/thermostat-server/BUILD.gn
  src/app/clusters/thermostat-server/ThermostatSuggestionStructWithOwnedMembers.cpp
  src/app/clusters/thermostat-server/ThermostatSuggestionStructWithOwnedMembers.h
  src/app/clusters/thermostat-server/app_config_dependent_sources.cmake
  src/app/clusters/thermostat-server/app_config_dependent_sources.gni
  src/app/clusters/thermostat-server/thermostat-delegate.h
  src/app/clusters/thermostat-server/thermostat-server-presets.cpp
  src/app/clusters/thermostat-server/thermostat-server-presets.h
  src/app/clusters/thermostat-server/thermostat-server-suggestions.cpp
  src/app/clusters/thermostat-server/thermostat-server.cpp
  src/app/clusters/thermostat-server/thermostat-server.h
  src/app/zap-templates/zcl/zcl-with-test-extensions.json
  src/app/zap-templates/zcl/zcl.json
  zzz_generated/app-common/app-common/zap-generated/attributes/Accessors.cpp
  zzz_generated/app-common/app-common/zap-generated/attributes/Accessors.h
Labels: examples, app, review - approved

#37585 CNET_4_10 python test automation
  src/app/tests/suites/certification/Test_TC_CNET_4_10.yaml
  src/app/tests/suites/manualTests.json
  src/python_testing/TC_CNET_4_10.py
  src/python_testing/test_metadata.yaml
Labels: app, review - pending, fast track, tests

#38444 Tc cnet 4 16
  src/app/tests/suites/certification/Test_TC_CNET_4_16.yaml
  src/python_testing/TC_CNET_4_16.py
  src/python_testing/test_metadata.yaml
Labels: app, review - pending, fast track, tests

#39519 Docstring Updates: Run mypy on ChipDeviceCtrl.py and fix errors (excluding external deps)
  src/controller/python/chip/ChipDeviceCtrl.py
Labels: controller, review - pending, fast track

#39853 [NXP][CMake][MCXW7x] Fix build issues when enabling "factory-data" and "OTA"
  config/nxp/chip-cmake-freertos/Kconfig.defaults
  config/nxp/cmake/Kconfig.matter.common
  config/nxp/cmake/common.cmake
  examples/platform/nxp/config/prj_thread_mtd.conf
  examples/platform/nxp/config/prj_thread_mtd_low_power.conf
Labels: examples, platform, config, review - approved, nxp

#40002 fix and restore test script for TC-RVCOPSTATE-2.5
  src/python_testing/TC_RVCOPSTATE_2_5.py
Labels: review - approved, tests

#40020 Remove BasicInformation from endpoint 1 in placeholder applications
  examples/placeholder/linux/apps/app1/config.matter
  examples/placeholder/linux/apps/app1/config.zap
  examples/placeholder/linux/apps/app2/config.matter
  examples/placeholder/linux/apps/app2/config.zap
Labels: examples, review - approved

#40017 chip-cert-bins/Dockerfile: Enable NFC-based commissioning by default for chip-tool
  integrations/docker/images/chip-cert-bins/Dockerfile
Labels: review - pending, fast track

#39536 [Telink] Add Telink TLX Module Board & Update compatible builds to docker version 150
  .github/workflows/bloat_check.yaml
  .github/workflows/build.yaml
  .github/workflows/chef.yaml
  .github/workflows/doxygen.yaml
  .github/workflows/examples-ameba.yaml
  .github/workflows/examples-asr.yaml
  .github/workflows/examples-bouffalolab.yaml
  .github/workflows/examples-cc13xx_26xx.yaml
  .github/workflows/examples-efr32.yaml
  .github/workflows/examples-esp32.yaml
  .github/workflows/examples-infineon.yaml
  .github/workflows/examples-linux-arm.yaml
  .github/workflows/examples-linux-imx.yaml
  .github/workflows/examples-linux-standalone.yaml
  .github/workflows/examples-linux-tv-casting-app.yaml
  .github/workflows/examples-nuttx.yaml
  .github/workflows/examples-nxp.yaml
  .github/workflows/examples-openiotsdk.yaml
  .github/workflows/examples-qpg.yaml
  .github/workflows/examples-stm32.yaml
  .github/workflows/examples-telink.yaml
  .github/workflows/examples-tizen.yaml
  .github/workflows/full-android.yaml
  .github/workflows/fuzzing-build.yaml
  .github/workflows/java-tests.yaml
  .github/workflows/lint.yml
  .github/workflows/minimal-build.yaml
  .github/workflows/mypy-validation.yml
  .github/workflows/qemu.yaml
  .github/workflows/release_artifacts.yaml
  .github/workflows/smoketest-android.yaml
  .github/workflows/tests.yaml
  .github/workflows/unit_integration_test.yaml
  .github/workflows/zap_regeneration.yaml
  .github/workflows/zap_templates.yaml
  examples/all-clusters-app/ameba/README.md
  examples/all-clusters-minimal-app/ameba/README.md
  examples/camera-app/linux/README.md
  examples/camera-controller/README.md
  examples/chef/tests/README.md
  examples/fabric-admin/README.md
  examples/fabric-bridge-app/linux/README.md
  examples/fabric-sync/README.md
  examples/light-switch-app/ameba/README.md
  examples/lighting-app/ameba/README.md
  examples/ota-requestor-app/ameba/README.md
  examples/pigweed-app/ameba/README.md
  examples/platform/telink/common.cmake
  integrations/cloudbuild/chef.yaml
  integrations/cloudbuild/smoke-test.yaml
  scripts/build/build/targets.py
  scripts/build/builders/telink.py
  scripts/build/testdata/all_targets_linux_x64.txt
  scripts/tests/local.py
  scripts/tools/file_size_from_nm.py
  src/platform/telink/tl3218x_ml3m.conf
  src/platform/telink/tl7218x_ml7g.conf
  src/platform/telink/tl7218x_ml7m.conf
  src/test_driver/tizen/README.md
Labels: examples, scripts, integrations, platform, github, workflows, review - pending, telink, fast track, test driver, tizen, docker, examples chef

#40032 Fix REPL tests on tip.
  src/python_testing/TC_RVCOPSTATE_2_5.py
Labels: review - approved, tests

#39930 DM XMLs: Update script for generating files / add better instructions
  .github/.wordlist.txt
  data_model/README.md
  scripts/spec_xml/generate_spec_xml.py
  scripts/spec_xml/paths.py
Labels: scripts, github, review - approved

#40019 Set timeout in JF test cases
  src/python_testing/TC_JCM_1_1.py
  src/python_testing/TC_JCM_1_2.py
  src/python_testing/TC_JFDS_2_1.py
  src/python_testing/TC_JFDS_2_2.py
  src/python_testing/matter_testing_infrastructure/chip/testing/tasks.py
Labels: review - approved, tests

#39686 Move dataversion and attribute existence check outside of DataModel::Provider
  examples/common/server-cluster-shim/ServerClusterShim.cpp
  src/app/WriteHandler.cpp
  src/app/WriteHandler.h
  src/app/data-model-provider/Provider.h
  src/app/reporting/Engine.cpp
  src/app/tests/TestWriteInteraction.cpp
  src/app/tests/test-interaction-model-api.cpp
  src/controller/tests/data_model/DataModelFixtures.cpp
  src/controller/tests/data_model/DataModelFixtures.h
  src/controller/tests/data_model/TestRead.cpp
  src/controller/tests/data_model/TestWrite.cpp
  src/darwin/Framework/Matter.xcodeproj/project.pbxproj
  src/data-model-providers/codegen/BUILD.gn
  src/data-model-providers/codegen/CodegenDataModelProvider.cpp
  src/data-model-providers/codegen/CodegenDataModelProvider.h
  src/data-model-providers/codegen/CodegenDataModelProvider_Read.cpp
  src/data-model-providers/codegen/CodegenDataModelProvider_Write.cpp
  src/data-model-providers/codegen/EmberMetadata.cpp
  src/data-model-providers/codegen/EmberMetadata.h
  src/data-model-providers/codegen/model.cmake
  src/data-model-providers/codegen/model.gni
  src/data-model-providers/codegen/tests/TestCodegenModelViaMocks.cpp
Labels: examples, darwin, controller, app, review - approved, tests, cluster-decoupling

#39880 Refine imxlinux_example.sh build script
  scripts/examples/imxlinux_example.sh
Labels: scripts, review - approved

#40084 update NRF for cloudbuild: version 150 works now (and old version does not)
  integrations/cloudbuild/chef.yaml
  integrations/cloudbuild/smoke-test.yaml
Labels: hotfix, integrations

#39688 Added new source files for the commodity metering cluster server
  examples/energy-gateway-app/energy-gateway-common/energy-gateway-app.matter
  examples/energy-gateway-app/energy-gateway-common/energy-gateway-app.zap
  src/app/clusters/commodity-metering-server/BUILD.gn
  src/app/clusters/commodity-metering-server/CommodityMeteringTestEventTriggerHandler.h
  src/app/clusters/commodity-metering-server/app_config_dependent_sources.cmake
  src/app/clusters/commodity-metering-server/app_config_dependent_sources.gni
  src/app/clusters/commodity-metering-server/commodity-metering-server.cpp
  src/app/clusters/commodity-metering-server/commodity-metering-server.h
  src/app/zap-templates/zcl/zcl-with-test-extensions.json
  src/app/zap-templates/zcl/zcl.json
  src/app/zap_cluster_list.json
  zzz_generated/app-common/app-common/zap-generated/attributes/Accessors.cpp
  zzz_generated/app-common/app-common/zap-generated/attributes/Accessors.h
Labels: examples, app, review - approved

#40083 [nxp][example][rt1060] Fix RT1060 readme link
  examples/all-clusters-app/nxp/README.md
  examples/thermostat/nxp/README.md
Labels: examples, review - pending, fast track

#40044 [nxp][cmake] Remove k32w1
  config/nxp/chip-cmake-freertos/Kconfig
  config/nxp/chip-cmake-freertos/Kconfig.defaults
  config/nxp/cmake/Kconfig.matter.nxp
  config/nxp/cmake/Kconfig.openthread.common
  examples/platform/nxp/common/Kconfig
  examples/platform/nxp/common/app_common.cmake
Labels: examples, platform, config, review - approved, nxp

#40018 Update PascalString to be more friendly for Attribute I/O.
  src/app/persistence/PascalString.h
  src/app/persistence/tests/TestPascalString.cpp
Labels: app, review - approved

#40046 Implements the missing JF StatusCodeEnum values
  examples/jf-admin-app/jfa-common/jfa-app.matter
  src/app/zap-templates/zcl/data-model/chip/joint-fabric-administrator-cluster.xml
  src/controller/data_model/controller-clusters.matter
  src/controller/python/chip/clusters/Objects.py
  src/darwin/Framework/CHIP/zap-generated/MTRBaseClusters.h
  zzz_generated/app-common/clusters/JointFabricAdministrator/Enums.h
  zzz_generated/app-common/clusters/JointFabricAdministrator/EnumsCheck.h
Labels: examples, darwin, controller, app, review - approved

#39939 [Linux] Report public CHIP BLE device events
  src/platform/Linux/BLEManagerImpl.cpp
  src/platform/Linux/BLEManagerImpl.h
  src/platform/Linux/bluez/BluezEndpoint.h
Labels: platform, linux, review - approved

#39998 [Silabs] Add silabs zephyr light
  config/silabs/CMakeLists.txt
  config/silabs/Kconfig.features
  examples/lighting-app/silabs/include/CHIPProjectConfig.h
  examples/lighting-app/silabs/zephyr/CMakeLists.txt
  examples/lighting-app/silabs/zephyr/Kconfig
  examples/lighting-app/silabs/zephyr/README.md
  examples/lighting-app/silabs/zephyr/boards/siwx917_rb4338a.overlay
  examples/lighting-app/silabs/zephyr/include/AppEvent.h
  examples/lighting-app/silabs/zephyr/include/AppTask.h
  examples/lighting-app/silabs/zephyr/prj.conf
  examples/lighting-app/silabs/zephyr/prj_release.conf
  examples/lighting-app/silabs/zephyr/src/AppTask.cpp
Labels: examples, config, review - approved

#40024 typo in API: `initWithXPConnectionBlock` should be `initWithXPCConnectionBlock`
  src/darwin/Framework/CHIP/MTRDeviceControllerParameters.h
  src/darwin/Framework/CHIP/MTRDeviceControllerStartupParams.mm
Labels: darwin

#40010 [Darwin] Track last commissioining stage for metrics
  src/darwin/Framework/CHIP/MTRMetricsCollector.mm
Labels: darwin, fast track

#40034 Revert the changes that removed the user defined constructor for Ther…
  src/app/clusters/thermostat-server/ThermostatSuggestionStructWithOwnedMembers.cpp
  src/app/clusters/thermostat-server/ThermostatSuggestionStructWithOwnedMembers.h
Labels: app, review - pending, fast track

#40001 [silabs] Add zephyr examples platform code
  examples/lighting-app/silabs/zephyr/CMakeLists.txt
  examples/lighting-app/silabs/zephyr/src/AppTask.cpp
  examples/platform/silabs/zephyr/AppCLIZephyr.cpp
  examples/platform/silabs/zephyr/AppCLIZephyr.h
  examples/platform/silabs/zephyr/AppTaskBase.cpp
  examples/platform/silabs/zephyr/AppTaskBase.h
  examples/platform/silabs/zephyr/AppTaskZephyr.cpp
  examples/platform/silabs/zephyr/AppTaskZephyr.h
  examples/platform/silabs/zephyr/CHIPDeviceManager.cpp
  examples/platform/silabs/zephyr/CHIPDeviceManager.h
  examples/platform/silabs/zephyr/CommonDeviceCallbacks.cpp
  examples/platform/silabs/zephyr/CommonDeviceCallbacks.h
  examples/platform/silabs/zephyr/OTARequestorInitiator.h
  examples/platform/silabs/zephyr/main.cpp
Labels: examples, platform, review - approved, silabs

#40160 [Nordic] Adding pw_numeric as a source in CMakeLists
  src/test_driver/nrfconnect/CMakeLists.txt
Labels: nrf connect, review - approved, test driver

#39789 [QPG] Update QPG Light app
  examples/lighting-app/qpg/zap/light.matter
  examples/lighting-app/qpg/zap/light.zap
Labels: examples, review - approved

#39808 [QPG] Update QPG Lock app
  examples/lock-app/qpg/zap/lock.matter
  examples/lock-app/qpg/zap/lock.zap
Labels: examples, review - pending, fast track

#39275 gitignore: Add build dirs for scripts/py_matter_* python packages
  .gitignore
  scripts/py_matter_idl/.gitignore
  scripts/py_matter_yamltests/.gitignore
Labels: scripts, review - approved

#40135 ServerClusterInterface: Update API doc to mention multiple paths supported
  src/app/server-cluster/ServerClusterInterface.h
Labels: app, review - approved

#39979 [Chef] Remove devices not developed actively from Linux CI to reduce CI time.
  examples/chef/chef.py
Labels: examples, examples chef

#40023 Make sure that we nil-check after strongifying in MTRDevice_Concrete.
  src/darwin/Framework/CHIP/MTRDevice_Concrete.mm
Labels: darwin, fast track

#40164 [nrfconnect] Cleanup Zephyr native tests dependencies
  src/test_driver/nrfconnect/CMakeLists.txt
Labels: nrf connect, review - approved, test driver

#39850 Fix iterator invalidation in MdnsContexts destructor
  src/platform/mt793x/DnssdContexts.cpp
Labels: platform, review - pending, fast track

#39843 Fix potential null pointer dereference in HandleTransportConnectionInitiated.
  src/wifipaf/WiFiPAFLayer.cpp
Labels: review - pending, fast track

#40174 [Silabs] Correcting the uart define for EFR32 and 917SoC
  third_party/silabs/SiWx917_sdk.gni
  third_party/silabs/efr32_sdk.gni
Labels: review - approved, changing-submodules-on-purpose

#39915 Bash completion for the build examples helper script
  scripts/build/build/target.py
  scripts/build/build/test_target.py
  scripts/build/build_examples.py
  scripts/helpers/bash-completion.sh
Labels: scripts, review - approved

#40184 [docker] Fix nRF Connect and VSCode docker images
  integrations/docker/images/base/chip-build/version
  integrations/docker/images/stage-2/chip-build-nrf-platform/Dockerfile
  integrations/docker/images/vscode/chip-build-vscode/Dockerfile
Labels: integrations, review - approved, docker

#40149 [nrfconnect] Fix build examples script for nRFConnect
  scripts/build/builders/nrf.py
  scripts/build/testdata/dry_run_nrf-nrf52840dk-pump.txt
Labels: scripts, review - pending, fast track

#33593 Meter Identification Cluster test scripts: TC-MTRID-2.1, TC-MTRID-3.1
  src/app/tests/suites/certification/PICS.yaml
  src/app/tests/suites/certification/ci-pics-values
  src/python_testing/TC_MTRIDTestBase.py
  src/python_testing/TC_MTRID_2_1.py
  src/python_testing/TC_MTRID_3_1.py
  src/python_testing/test_metadata.yaml
Labels: app, review - approved, tests

#40195 Add support for `sdk-maintainer-approved` in pullapprove, update docs
  .github/.wordlist.txt
  .github/PULL_REQUEST_TEMPLATE.md
  .pullapprove.yml
  CONTRIBUTING.md
  README.md
  docs/PROJECT_FLOW.md
  docs/contributing/BUG_REPORT.md
  docs/contributing/index.md
  docs/contributing/pr_reviews.md
  docs/contributing/pull_request_guidelines.md
  docs/index.md
Labels: documentation, github, review - approved

#40165 [QPG] Fix for memory leak in DiagnosticDataProviderImpl
  src/include/platform/DiagnosticDataProvider.h
  src/platform/qpg/DiagnosticDataProviderImpl.cpp
  src/platform/qpg/DiagnosticDataProviderImpl.h
Labels: platform, review - approved

#40198 Fix typo in SDK maintainer label (remove a plural).
  .pullapprove.yml
Labels: hotfix

#40181 [Camera] Add chip-camera-app and chip-camera-controller to chip-cert-bins
  integrations/docker/images/chip-cert-bins/Dockerfile
Labels: integrations, review - approved, docker, cameras, v1.5

#39809 Commodity Metering: TC_COMMTR_2_1, TC_COMMTR_3_1 test scripts
  src/app/tests/suites/certification/PICS.yaml
  src/app/tests/suites/certification/ci-pics-values
  src/python_testing/TC_COMMTR_2_1.py
  src/python_testing/TC_COMMTR_3_1.py
  src/python_testing/TC_COMMTR_TestBase.py
  src/python_testing/test_metadata.yaml
Labels: app, review - approved, tests

#40197 [Silabs] Matter Shell fixing for the Silabs devices
  examples/refrigerator-app/silabs/src/EventHandlerLibShell.cpp
  src/platform/silabs/SiWx917/SiWxPlatformInterface.h
Labels: examples, platform, review - pending, silabs, sdk-maintainer-approved

#40177 Ignore more `libdatachannel` lossy int conversion warnings to fix Darwin python repl build post-`libdatachannel` inclusion
  src/controller/webrtc/BUILD.gn
  third_party/libdatachannel/BUILD.gn
Labels: controller, review - approved, changing-submodules-on-purpose

#40151 [QPG] Switch to static pool allocation to improve stability
  src/platform/qpg/SystemPlatformConfig.h
Labels: platform, review - pending, sdk-maintainer-approved

#38164 Commodity tariff server implementation
  examples/energy-gateway-app/energy-gateway-common/energy-gateway-app.matter
  examples/energy-gateway-app/energy-gateway-common/energy-gateway-app.zap
  src/app/clusters/commodity-tariff-server/BUILD.gn
  src/app/clusters/commodity-tariff-server/CommodityTariffAttrsDataMgmt.cpp
  src/app/clusters/commodity-tariff-server/CommodityTariffAttrsDataMgmt.h
  src/app/clusters/commodity-tariff-server/CommodityTariffConsts.h
  src/app/clusters/commodity-tariff-server/CommodityTariffTestEventTriggerHandler.h
  src/app/clusters/commodity-tariff-server/app_config_dependent_sources.cmake
  src/app/clusters/commodity-tariff-server/app_config_dependent_sources.gni
  src/app/clusters/commodity-tariff-server/commodity-tariff-server.cpp
  src/app/clusters/commodity-tariff-server/commodity-tariff-server.h
  src/app/common/templates/config-data.yaml
  src/app/zap_cluster_list.json
  src/controller/data_model/controller-clusters.zap
  zzz_generated/app-common/app-common/zap-generated/callback.h
Labels: documentation, examples, scripts, darwin, controller, app, github, workflows, review - approved

#39636 Increase unit test code coverage of `ble/` by 2%
  src/ble/tests/TestBleLayer.cpp
Labels: testing, ble, review - pending, tests, sdk-maintainer-approved

#40210 [Realtek] Support lwip & add SetSystemLedState
  examples/light-switch-app/realtek/bee/main/DeviceCallbacks.cpp
  src/platform/realtek/BEE/ConnectivityManagerImpl.cpp
  src/platform/realtek/BEE/PlatformManagerImpl.cpp
  src/platform/realtek/BEE/ThreadStackManagerImpl.cpp
  src/platform/realtek/BEE/ThreadStackManagerImpl.h
Labels: examples, platform, review - pending, sdk-maintainer-approved

#39845 TC_RVCRUNM_1_2 inherits from ModeBaseClusterChecks
  src/python_testing/TC_RVCRUNM_1_2.py
  src/python_testing/modebase_cluster_check.py
Labels: review - pending, tests, sdk-maintainer-approved

#39397 Allow inheritance of MatterBaseTest
  src/python_testing/TC_CADMIN_1_11.py
  src/python_testing/TC_CADMIN_1_19.py
  src/python_testing/TC_CADMIN_1_22.py
  src/python_testing/TC_CADMIN_1_3_4.py
  src/python_testing/TC_CADMIN_1_9.py
  src/python_testing/matter_testing_infrastructure/chip/testing/matter_testing.py
  src/python_testing/support_modules/cadmin_support.py
Labels: review - pending, fast track, tests

#40141 Add support for an attribute check whether it's being done over large payload-supporting transport
  src/app/AttributeAccessInterface.h
  src/app/BUILD.gn
  src/app/ReadHandler.h
  src/app/data-model-provider/BUILD.gn
  src/app/data-model-provider/OperationTypes.h
  src/app/reporting/Engine.cpp
  src/data-model-providers/codegen/CodegenDataModelProvider_Read.cpp
Labels: app, review - approved

#40213 [Chef] Initialise identify cluster instance at app init
  examples/chef/common/stubs.cpp
Labels: examples, examples chef, sdk-maintainer-approved

#40189 [ESP32]: Removed the unused bits from SystemTimeSupport.
  examples/platform/esp32/external_platform/ESP32_custom/BUILD.gn
  src/platform/ESP32/BUILD.gn
  src/platform/ESP32/PlatformManagerImpl.cpp
  src/platform/ESP32/SystemTimeSupport.cpp
  src/platform/ESP32/SystemTimeSupport.h
Labels: examples, platform, esp32, review - approved

#40161 NFC Transport Layer: Create NFC processing thread only when NFC pairing mode is used
  src/platform/Linux/NFCCommissioningManagerImpl.cpp
  src/platform/Linux/NFCCommissioningManagerImpl.h
Labels: platform, linux, review - pending, sdk-maintainer-approved

#40253 [ACE] Optimise WriteHandler::CheckWriteAllowed Comment
  src/app/WriteHandler.cpp
Labels: app, review - approved

#40162 [Camera] Fix WebRTC TC 1.3
  src/controller/python/chip/webrtc/RTCClient.cpp
  src/controller/python/chip/webrtc/WebRTC.cpp
  src/controller/python/chip/webrtc/WebRTC.h
  src/controller/python/chip/webrtc/library_handle.py
  src/controller/python/chip/webrtc/peer_connection.py
  src/controller/python/chip/webrtc/types.py
  src/controller/webrtc/WebRTCClient.cpp
  src/controller/webrtc/WebRTCClient.h
  src/controller/webrtc/WebRTCTransportProviderClient.cpp
  src/controller/webrtc/WebRTCTransportProviderClient.h
  src/python_testing/TC_WEBRTC_1_1.py
  src/python_testing/TC_WEBRTC_1_2.py
  src/python_testing/TC_WEBRTC_1_3.py
  src/python_testing/TC_WEBRTC_1_4.py
  src/python_testing/TC_WEBRTC_1_5.py
Labels: controller, review - approved, tests, cameras, v1.5

#40258 39128: Move to protected the new methods in StringBuilder and improve the unit tests
  src/lib/support/StringBuilder.h
  src/lib/support/tests/TestStringBuilder.cpp
Labels: lib, review - pending, support, sdk-maintainer-approved

#40225 Refactor CHIP_ERROR to use either __FILE__/__LINE__ or std::source_location
  scripts/error_table.py
  src/lib/core/CHIPConfig.h
  src/lib/core/CHIPError.h
  src/lib/core/tests/TestCHIPError.cpp
  src/lib/support/tests/TestErrorStr.cpp
  src/platform/nxp/common/ble_zephyr/BLEAdvertisingArbiter.cpp
  src/platform/nxp/common/factory_data/legacy/FactoryDataProvider.h
  src/platform/nxp/common/ota/OTATlvProcessor.h
  src/platform/silabs/multi-ota/OTATlvProcessor.h
  src/system/SystemError.cpp
  src/system/SystemError.h
Labels: scripts, system, platform, lib, review - approved, support, core, silabs, nxp

#39965 [Tizen] Properly implement BLEManagerImpl::_NumConnections
  src/platform/Tizen/BLEManagerImpl.cpp
  src/platform/Tizen/BLEManagerImpl.h
Labels: platform, review - approved, tizen

#39744 Move argument parser and helper functions into runner.py
  src/python_testing/matter_testing_infrastructure/chip/testing/matter_testing.py
  src/python_testing/matter_testing_infrastructure/chip/testing/runner.py
Labels: review - pending, tests, sdk-maintainer-approved

#40202 Provide a `AttributeListBuilder` to facilitate code-reuse for server cluster implementations and reduce flash overhead
  src/app/clusters/administrator-commissioning-server/AdministratorCommissioningCluster.cpp
  src/app/clusters/administrator-commissioning-server/tests/TestAdministratorCommissioningCluster.cpp
  src/app/clusters/software-diagnostics-server/software-diagnostics-logic.cpp
  src/app/server-cluster/AttributeListBuilder.cpp
  src/app/server-cluster/AttributeListBuilder.h
  src/app/server-cluster/BUILD.gn
  src/app/server-cluster/tests/BUILD.gn
  src/app/server-cluster/tests/TestAttributeListBuilder.cpp
  src/data-model-providers/codegen/model.cmake
Labels: app, review - approved

#40199 Address follow up comments
  examples/thermostat/thermostat-common/include/thermostat-delegate-impl.h
  examples/thermostat/thermostat-common/src/thermostat-delegate-impl.cpp
  src/app/clusters/thermostat-server/BUILD.gn
  src/app/clusters/thermostat-server/ThermostatSuggestionStructWithOwnedMembers.cpp
  src/app/clusters/thermostat-server/ThermostatSuggestionStructWithOwnedMembers.h
  src/app/clusters/thermostat-server/thermostat-delegate.h
  src/app/clusters/thermostat-server/thermostat-server-suggestions.cpp
Labels: examples, app, review - pending, fast track

#40242 script for TC-BRBINFO-3.2: align text in script to match test plan text updates (no code changes)
  src/python_testing/TC_BRBINFO_3_2.py
Labels: tests, sdk-maintainer-approved

#40282 Fix ZAP CI Failure
  examples/air-quality-sensor-app/air-quality-sensor-common/icd-lit-air-quality-sensor-app.matter
Labels: examples, review - approved

#39619 Increase unit test code coverage of `ble/` by 2%
  src/ble/tests/TestBleLayer.cpp
Labels: testing, ble, review - pending, tests, sdk-maintainer-approved

#40285 python: remove unused imports from python_testing and example build scripts
  scripts/build/builders/mbed.py
  scripts/build/builders/nrf.py
  scripts/build/builders/nxp.py
  scripts/build/builders/qpg.py
  scripts/build/builders/realtek.py
  scripts/build/builders/telink.py
  src/python_testing/TC_ACE_1_2.py
  src/python_testing/TC_CC_2_1.py
  src/python_testing/TC_FAN_2_1.py
  src/python_testing/TC_FAN_3_1.py
  src/python_testing/TC_FAN_3_2.py
  src/python_testing/TC_IDM_4_2.py
  src/python_testing/TestGroupTableReports.py
Labels: scripts, review - pending, tests, sdk-maintainer-approved

#40278 Add Alchemy generated files for RefrigeratorAlarm cluster
  examples/all-clusters-app/all-clusters-common/all-clusters-app.matter
  examples/all-clusters-app/realtek/data_model/all-clusters-app.matter
  examples/chef/devices/rootnode_refrigerator_temperaturecontrolledcabinet_temperaturecontrolledcabinet_ffdb696680.matter
  examples/refrigerator-app/silabs/data_model/refrigerator-thread-app.matter
  examples/refrigerator-app/silabs/data_model/refrigerator-wifi-app.matter
  src/app/zap-templates/zcl/data-model/chip/refrigerator-alarm.xml
  src/controller/data_model/controller-clusters.matter
Labels: examples, darwin, controller, app, review - approved, examples chef
