Repository project-chip/connectedhomeip, pull requests merged in 2025-04, with the labels that each got.

#38102 Initial implementation of WebRTCTransportProvider delegate
  examples/camera-app/camera-common/camera-app.matter
  examples/camera-app/camera-common/camera-app.zap
  examples/camera-app/camera-common/include/camera-app.h
  examples/camera-app/camera-common/include/camera-device-interface.h
  examples/camera-app/camera-common/src/camera-app.cpp
  examples/camera-app/linux/BUILD.gn
  examples/camera-app/linux/include/camera-device.h
  examples/camera-app/linux/include/clusters/webrtc_provider/webrtc-provider-manager.h
  examples/camera-app/linux/main.cpp
  examples/camera-app/linux/src/camera-device.cpp
  examples/camera-app/linux/src/clusters/webrtc_provider/webrtc-provider-manager.cpp
  examples/camera-controller/BUILD.gn
  examples/camera-controller/commands/webrtc/Commands.h
  examples/camera-controller/commands/webrtc/WebRTCProviderCommands.cpp
  examples/camera-controller/commands/webrtc/WebRTCProviderCommands.h
  examples/camera-controller/main.cpp
  examples/camera-controller/webrtc_manager/WebRTCManager.cpp
  examples/camera-controller/webrtc_manager/WebRTCManager.h
  examples/camera-controller/webrtc_manager/WebRTCProviderClient.cpp
  examples/camera-controller/webrtc_manager/WebRTCProviderClient.h
  src/app/clusters/webrtc-transport-provider-server/webrtc-transport-provider-server.cpp
  src/app/clusters/webrtc-transport-provider-server/webrtc-transport-provider-server.h
Labels: examples, app, review - approved

#38191 Remove duplicated const definition
  examples/camera-controller/webrtc_manager/WebRTCManager.cpp
Labels: examples, review - approved

#38059 Added chef devices mounted onoff and dimmable load control
  examples/chef/devices/rootnode_mounteddimmableloadcontrol_a9a1a87f2d.matter
  examples/chef/devices/rootnode_mounteddimmableloadcontrol_a9a1a87f2d.zap
  examples/chef/devices/rootnode_mountedonoffcontrol_ec30c757a6.matter
  examples/chef/devices/rootnode_mountedonoffcontrol_ec30c757a6.zap
  examples/chef/sample_app_util/matter_device_types.json
Labels: examples, review - pending, fast track

#38185 Fix global merging on overlapping names
  scripts/py_matter_idl/matter/idl/matter_idl_parser.py
  scripts/py_matter_idl/matter/idl/test_matter_idl_parser.py
Labels: scripts, review - approved

#38138 [Silabs] Fix closure app breakage after base application refactor changes
  examples/closure-app/silabs/include/AppTask.h
  examples/closure-app/silabs/src/AppTask.cpp
Labels: examples, review - pending, fast track

#38205 Address post merge comment; remove no longer relvant comment
  src/app/clusters/ecosystem-information-server/ecosystem-information-server.cpp
Labels: app, review - approved

#38208 Rename bridged basic information cluster xml
  .github/workflows/tests.yaml
  scripts/rules.matterlint
  src/app/zap-templates/zcl/data-model/chip/bridged-device-basic-information-cluster.xml
  src/app/zap-templates/zcl/zcl-with-test-extensions.json
  src/app/zap-templates/zcl/zcl.json
Labels: scripts, app, github, workflows, review - pending, fast track

#38125 fix readclient comment for SendAutoResubscribeRequest
  src/app/ReadClient.h
Labels: app, review - approved

#38209 CHIPDeviceEvent.h: Guard WIFIPAF include
  src/include/platform/CHIPDeviceEvent.h
Labels: platform, review - approved

#37061 [Fix] Updating TC_CADMIN_1_19 python3 test module in order to resolve issue #473
  src/python_testing/TC_CADMIN_1_19.py
Labels: review - pending, fast track, tests

#37809 Initial implementation of WebRTC Requestor Server cluster.
  scripts/tools/check_includes_config.py
  src/app/clusters/webrtc-transport-requestor-server/webrtc-transport-requestor-server.cpp
  src/app/clusters/webrtc-transport-requestor-server/webrtc-transport-requestor-server.h
  src/app/common/templates/config-data.yaml
  src/app/zap_cluster_list.json
  zzz_generated/app-common/app-common/zap-generated/callback.h
Labels: examples, scripts, app, review - approved, tests, cameras

#38188 Remove the log line that prints the Output Event for each BDX message…
  src/darwin/Framework/CHIP/MTROTAImageTransferHandler.mm
Labels: darwin, review - approved

#35524 [Test] Creating CADMIN 1.15 python test module
  src/app/tests/suites/certification/Test_TC_CADMIN_1_15.yaml
  src/app/tests/suites/manualTests.json
  src/python_testing/TC_CADMIN_1_15.py
  src/python_testing/mdns_discovery/mdns_discovery.py
Labels: app, review - pending, fast track, tests

#38219 [ESP32]: Fixed the crash due to the format specifier on enabling newlib_nano_format.
  src/platform/ESP32/SystemTimeSupport.cpp
Labels: platform, esp32, review - approved

#35491 Move management of uniqueIdentifier into MTRDeviceController base class.
  src/darwin/Framework/CHIP/MTRDeviceController.mm
  src/darwin/Framework/CHIP/MTRDeviceController_Concrete.mm
  src/darwin/Framework/CHIP/MTRDeviceController_Internal.h
  src/darwin/Framework/CHIP/MTRDeviceController_XPC.mm
Labels: darwin, review - pending, fast track

#38218 [camera-controller] Implement the initial end-to-end WebRTC Normal Flow
  examples/camera-controller/BUILD.gn
  examples/camera-controller/args.gni
  examples/camera-controller/webrtc_manager/WebRTCManager.cpp
  examples/camera-controller/webrtc_manager/WebRTCManager.h
  examples/camera-controller/webrtc_manager/WebRTCProviderClient.cpp
  examples/camera-controller/webrtc_manager/WebRTCProviderClient.h
  examples/camera-controller/webrtc_manager/WebRTCRequestorDelegate.cpp
  examples/camera-controller/webrtc_manager/WebRTCRequestorDelegate.h
Labels: examples, review - approved

#38233 Zap regen on master
  scripts/py_matter_idl/matter/idl/matter_idl_parser.py
  src/controller/data_model/controller-clusters.matter
  src/controller/java/generated/java/chip/devicecontroller/ChipStructs.java
Labels: hotfix, scripts, controller, review - pending

#37932 Adds AIR_PURIFIER_APP CI build
  .github/workflows/tests.yaml
  examples/air-purifier-app/air-purifier-common/include/air-purifier-manager.h
  scripts/build/builders/host.py
  scripts/tests/local.py
Labels: examples, scripts, github, workflows, python, review - approved, tests

#38210 Allow running camera apps in CI
  examples/camera-app/linux/BUILD.gn
  examples/camera-controller/BUILD.gn
  third_party/libdatachannel/BUILD.gn
  third_party/libdatachannel/scripts/build_libdatachannel.py
Labels: examples, review - approved, changing-submodules-on-purpose

#38168 [Ember] Fix endpoint bitmask initialization. Fix EmberAfEndpointOptions bitmap values.
  src/app/util/af-types.h
  src/app/util/attribute-storage.cpp
Labels: app, review - approved

#37980 Add support for money and new electrical data types
  src/app/util/ember-io-storage.cpp
  src/app/zap-templates/zcl/data-model/chip/chip-types.xml
  src/data-model-providers/codegen/tests/TestCodegenModelViaMocks.cpp
  zzz_generated/app-common/app-common/zap-generated/attribute-type.h
Labels: scripts, app, review - approved

#38241 OpenThread: Guard ClearAllSrpHostAndServices with CHIP_DEVICE_CONFIG_ENABLE_THREAD_SRP_CLIENT.
  .github/workflows/examples-esp32.yaml
  src/platform/OpenThread/GenericNetworkCommissioningThreadDriver.cpp
Labels: platform, github, workflows, review - approved

#38240 [ESP32]: Fix the build failure with esp32 ble controller enabled.
  src/platform/ESP32/BLEManagerImpl.h
Labels: examples, platform, esp32, review - approved

#38165 Python testing mypy conformance
  .github/workflows/mypy-validation.yml
  src/python_testing/matter_testing_infrastructure/chip/testing/pics.py
  src/python_testing/matter_testing_infrastructure/chip/testing/taglist_and_topology_test.py
  src/python_testing/matter_testing_infrastructure/chip/testing/tasks.py
  src/python_testing/matter_testing_infrastructure/chip/typings/chip/testing/__init__.pyi
  src/python_testing/matter_testing_infrastructure/chip/typings/chip/testing/apps.pyi
  src/python_testing/matter_testing_infrastructure/chip/typings/chip/testing/pics.pyi
  src/python_testing/matter_testing_infrastructure/chip/typings/chip/testing/tasks.pyi
  src/python_testing/matter_testing_infrastructure/mypy.ini
Labels: github, workflows, review - pending, fast track, tests

#37831 [ICD]Trigger resubscription when receiving check-in and subscription has not yet become abnormal
  src/app/InteractionModelEngine.cpp
  src/app/InteractionModelEngine.h
  src/app/ReadClient.cpp
  src/app/ReadClient.h
  src/app/icd/client/CheckInHandler.cpp
  src/app/icd/client/RefreshKeySender.cpp
  src/controller/tests/data_model/TestRead.cpp
Labels: controller, app, review - approved, icd

#38244 Bump zap to 2025.4.3
  scripts/setup/zap.json
  scripts/setup/zap.version
  scripts/tools/zap/version_update.py
  scripts/tools/zap/zap_execution.py
Labels: scripts, review - approved

#38216 [camera-spp] Use CASESessionManager instead of sessionHandle to send Command
  examples/camera-app/linux/include/clusters/webrtc_provider/webrtc-provider-manager.h
  examples/camera-app/linux/src/clusters/webrtc_provider/webrtc-provider-manager.cpp
Labels: examples, review - approved

#38246 Log whether nodeLikelyReachable is true in _triggerResubscribeWithReason
  src/darwin/Framework/CHIP/MTRDevice_Concrete.mm
Labels: darwin, review - approved

#38213 [IM] Add InternalEventOptions
  src/app/EventLoggingTypes.h
  src/app/EventManagement.cpp
  src/app/EventManagement.h
Labels: app, review - approved

#38141 Generate servicearea cluster
  examples/rvc-app/rvc-common/rvc-app.matter
  src/app/zap-templates/zcl/data-model/chip/global-structs.xml
  src/app/zap-templates/zcl/data-model/chip/service-area-cluster.xml
  src/controller/data_model/controller-clusters.matter
  src/darwin/Framework/CHIP/zap-generated/MTRBaseClusters.h
Labels: examples, darwin, controller, app, review - approved

#38237 Define LogModule enum using CHIP_LOGMODULES_ENUMERATE x-macros helper
  src/lib/support/logging/Constants.h
  src/lib/support/logging/TextOnlyLogging.cpp
Labels: lib, review - approved, support

#38245 Make ReadClient API lifetime comments match reality.
  src/app/ReadClient.h
Labels: app, review - pending, fast track

#38267 Pass the right cluster name for struct field types in Darwin codegen.
  src/darwin/Framework/CHIP/templates/MTRCommandPayloadsObjc.zapt
  src/darwin/Framework/CHIP/templates/MTRStructsObjc.zapt
  src/darwin/Framework/CHIP/templates/partials/struct_field_decl.zapt
  src/darwin/Framework/CHIP/templates/partials/struct_interface_decl.zapt
  src/darwin/Framework/CHIP/templates/partials/struct_interface_impl.zapt
Labels: darwin, review - pending, fast track

#38266 Expose the last IP we used for a subscribe attempt on MTRDevice_Concrete.
  src/darwin/Framework/CHIP/MTRBaseSubscriptionCallback.h
  src/darwin/Framework/CHIP/MTRBaseSubscriptionCallback.mm
  src/darwin/Framework/CHIP/MTRDevice_Concrete.h
  src/darwin/Framework/CHIP/MTRDevice_Concrete.mm
Labels: darwin, review - pending, fast track

#38111 TC-FAN-2.4: Enhanced attribute value testing
  src/app/tests/suites/certification/Test_TC_FAN_2_4.yaml
  src/app/tests/suites/ciTests.json
  src/python_testing/TC_FAN_2_4.py
Labels: app, review - pending, fast track, tests

#38258 python: Fix bootstrap on python 3.13
  scripts/setup/constraints.txt
Labels: scripts, review - pending, fast track

#37902 Add basic Energy gateway app example and add new XML for Energy management in 1.5
  examples/energy-gateway-app/energy-gateway-common/BUILD.gn
  examples/energy-gateway-app/energy-gateway-common/common/include/EnergyGatewayAppCommonMain.h
  examples/energy-gateway-app/energy-gateway-common/common/src/EnergyGatewayAppCommonMain.cpp
  examples/energy-gateway-app/energy-gateway-common/energy-gateway-app.matter
  examples/energy-gateway-app/energy-gateway-common/energy-gateway-app.zap
  examples/energy-gateway-app/esp32/.gitignore
  examples/energy-gateway-app/esp32/CMakeLists.txt
  examples/energy-gateway-app/esp32/main/CMakeLists.txt
  examples/energy-gateway-app/esp32/main/DeviceCallbacks.cpp
  examples/energy-gateway-app/esp32/main/Kconfig.projbuild
  examples/energy-gateway-app/esp32/main/idf_component.yml
  examples/energy-gateway-app/esp32/main/include/CHIPProjectConfig.h
  examples/energy-gateway-app/esp32/main/include/DeviceCallbacks.h
  examples/energy-gateway-app/esp32/main/main.cpp
  examples/energy-gateway-app/esp32/partitions.csv
  examples/energy-gateway-app/esp32/partitions_encrypted.csv
  examples/energy-gateway-app/esp32/sdkconfig.defaults
  examples/energy-gateway-app/esp32/sdkconfig.defaults.esp32c2
  examples/energy-gateway-app/esp32/sdkconfig.defaults.esp32c6
  examples/energy-gateway-app/esp32/sdkconfig.defaults.esp32h2
  examples/energy-gateway-app/esp32/sdkconfig.optimize.defaults
  examples/energy-gateway-app/esp32/sdkconfig_m5stack.defaults
  examples/energy-gateway-app/esp32/sdkconfig_rpc.defaults
  examples/energy-gateway-app/esp32/third_party/connectedhomeip
  examples/energy-gateway-app/linux/.gn
  examples/energy-gateway-app/linux/BUILD.gn
  examples/energy-gateway-app/linux/args.gni
  examples/energy-gateway-app/linux/build_overrides
  examples/energy-gateway-app/linux/include/CHIPProjectAppConfig.h
  examples/energy-gateway-app/linux/main.cpp
  examples/energy-gateway-app/linux/third_party/connectedhomeip
  src/app/chip_data_model.gni
  src/app/clusters/commodity-price-server/commodity-price-server.cpp
  src/app/clusters/commodity-price-server/commodity-price-server.h
  src/app/common/templates/config-data.yaml
  src/app/util/util.cpp
  src/controller/data_model/controller-clusters.zap
  zzz_generated/app-common/app-common/zap-generated/callback.h
Labels: documentation, examples, scripts, platform, darwin, esp32, controller, app, github, workflows, review - approved

#38248 [ICD][Cherry-pick] resubscription improvement for ICD
  src/app/InteractionModelEngine.cpp
  src/app/InteractionModelEngine.h
  src/app/ReadClient.cpp
  src/app/ReadClient.h
  src/app/icd/client/CheckInHandler.cpp
  src/app/icd/client/RefreshKeySender.cpp
  src/controller/tests/data_model/TestRead.cpp
  src/lib/support/CodeUtils.h
Labels: lib, controller, app, support, icd

#38190 Contact sensor app compliance
  examples/contact-sensor-app/contact-sensor-common/contact-sensor-app.matter
  examples/contact-sensor-app/contact-sensor-common/contact-sensor-app.zap
Labels: examples, review - pending, fast track

#38232 More clearly document MTRDeviceControllerDelegate commissioningComplete.
  src/darwin/Framework/CHIP/MTRDeviceControllerDelegate.h
Labels: darwin, review - pending, fast track

#38252 Python framework : Removed on-network-ip from commisioning and CLI arguments.
  src/python_testing/matter_testing_infrastructure/chip/testing/commissioning.py
  src/python_testing/matter_testing_infrastructure/chip/testing/matter_testing.py
Labels: review - approved, tests

#38268 Make MTRServerEndpoint threadsafe.
  src/darwin/Framework/CHIP/ServerEndpoint/MTRServerEndpoint.h
  src/darwin/Framework/CHIP/ServerEndpoint/MTRServerEndpoint.mm
  src/darwin/Framework/CHIP/ServerEndpoint/MTRServerEndpoint_Internal.h
Labels: darwin, review - approved

#38253 [camera-controller] Create a new WebRTCSessionStruct upon receiving ProvideOfferResponse command
  examples/camera-controller/webrtc_manager/WebRTCManager.cpp
  examples/camera-controller/webrtc_manager/WebRTCManager.h
  examples/camera-controller/webrtc_manager/WebRTCProviderClient.cpp
  examples/camera-controller/webrtc_manager/WebRTCProviderClient.h
  src/app/clusters/webrtc-transport-requestor-server/webrtc-transport-requestor-server.cpp
  src/app/clusters/webrtc-transport-requestor-server/webrtc-transport-requestor-server.h
Labels: examples, app, review - approved

#38290 [IM] Relocate InternalEventOptions into private section of EventManagement
  src/app/EventLoggingTypes.h
  src/app/EventManagement.h
Labels: app, review - approved

#38280 reporting: Remove the weak MatterReportingAttributeChangeCallback function
  .github/workflows/lint.yml
  src/app/BUILD.gn
  src/app/reporting/Engine.cpp
  src/app/reporting/reporting.cpp
  src/app/tests/TestCommissioningWindowManager.cpp
  src/app/util/mock/CodegenEmberMocks.cpp
  src/data-model-providers/codegen/tests/BUILD.gn
  src/data-model-providers/codegen/tests/InteractionModelTemporaryOverrides.cpp
Labels: app, github, workflows, review - approved, tests

#38110 TC-FAN-2.3: Enhanced attribute value testing
  src/app/tests/suites/certification/Test_TC_FAN_2_3.yaml
  src/app/tests/suites/ciTests.json
  src/python_testing/TC_FAN_2_3.py
Labels: app, review - pending, fast track, tests

#38302 Add explicit Darwin availability annotations for in-progress 1.5 bits.
  src/darwin/Framework/CHIP/templates/availability.yaml
Labels: darwin, review - pending, fast track

#38304 Fix unit test static analyzer warning in TestChipCryptoPAL
  src/crypto/tests/TestChipCryptoPAL.cpp
Labels: crypto, review - approved

#38306 Factor out a common MTRDeviceControllerDelegate implementation for Matter.framework tests.
  src/darwin/Framework/CHIPTests/MTRCertificateValidityTests.m
  src/darwin/Framework/CHIPTests/MTRDeviceTests.m
  src/darwin/Framework/CHIPTests/MTROTAProviderTests.m
  src/darwin/Framework/CHIPTests/MTRPerControllerStorageTests.m
  src/darwin/Framework/CHIPTests/MTRXPCListenerSampleTests.m
  src/darwin/Framework/CHIPTests/TestHelpers/MTRTestControllerDelegate.h
  src/darwin/Framework/CHIPTests/TestHelpers/MTRTestControllerDelegate.mm
  src/darwin/Framework/Matter.xcodeproj/project.pbxproj
Labels: darwin, review - pending, fast track

#38293 Add check in InteractionModelEngine for Commands having the LargePayload flag.
  src/app/InteractionModelEngine.cpp
Labels: app, review - approved

#38215 Implement Audio Video source pipelines
  examples/camera-app/linux/include/camera-device.h
  examples/camera-app/linux/src/camera-device.cpp
Labels: examples, review - approved

#38251 Darwin: Migrate project to xcconfig files
  .github/workflows/darwin-tests.yaml
  examples/darwin-framework-tool/commands/common/xpc/XPCServerRegistry.mm
  src/darwin/Framework/Configs/Matter.Debug.xcconfig
  src/darwin/Framework/Configs/Matter.Release.xcconfig
  src/darwin/Framework/Configs/Matter.xcconfig
  src/darwin/Framework/Configs/MatterTests.xcconfig
  src/darwin/Framework/Configs/Project.Debug.xcconfig
  src/darwin/Framework/Configs/Project.Release.xcconfig
  src/darwin/Framework/Configs/Project.xcconfig
  src/darwin/Framework/Configs/darwin-framework-tool.Debug.xcconfig
  src/darwin/Framework/Configs/darwin-framework-tool.Release.xcconfig
  src/darwin/Framework/Configs/darwin-framework-tool.xcconfig
  src/darwin/Framework/Matter.xcodeproj/project.pbxproj
Labels: examples, darwin, github, workflows, review - pending, fast track

#38323 Fix ZAP version update scripts.
  scripts/tools/zap/version_update.py
Labels: scripts, review - approved

#38312 Add APIs on MTRTestCase to start and commission a helper app.
  src/darwin/Framework/CHIPTests/MTRBleTests.m
  src/darwin/Framework/CHIPTests/MTRCommissionableBrowserTests.m
  src/darwin/Framework/CHIPTests/TestHelpers/MTRTestCase+ServerAppRunner.h
  src/darwin/Framework/CHIPTests/TestHelpers/MTRTestCase+ServerAppRunner.m
  src/darwin/Framework/CHIPTests/TestHelpers/MTRTestCase.h
  src/darwin/Framework/CHIPTests/TestHelpers/MTRTestCase.mm
Labels: darwin, review - pending, fast track

#38147 Closure Control Server code changes with latest specification updates
  examples/closure-app/closure-common/closure-app.matter
  examples/closure-app/closure-common/closure-app.zap
  examples/closure-app/closure-common/closure-control/include/ClosureControlDelegate.h
  examples/closure-app/closure-common/closure-control/src/ClosureControlDelegateImpl.cpp
  src/app/clusters/closure-control-server/closure-control-cluster-objects.h
  src/app/clusters/closure-control-server/closure-control-server.cpp
  src/app/clusters/closure-control-server/closure-control-server.h
  src/app/zap-templates/zcl/zcl-with-test-extensions.json
  src/app/zap-templates/zcl/zcl.json
  zzz_generated/app-common/app-common/zap-generated/attributes/Accessors.cpp
  zzz_generated/app-common/app-common/zap-generated/attributes/Accessors.h
Labels: examples, app, review - approved

#38284 Add VidVerification payload generation to CHIPCryptoPAL
  .clang-tidy
  src/crypto/CHIPCryptoPAL.cpp
  src/crypto/CHIPCryptoPAL.h
  src/crypto/tests/TestChipCryptoPAL.cpp
Labels: crypto, review - approved

#38326 Update code-generation known input to latest all-clusters & lighting
  scripts/py_matter_idl/matter/idl/tests/inputs/large_all_clusters_app.matter
  scripts/py_matter_idl/matter/idl/tests/inputs/large_lighting_app.matter
  scripts/py_matter_idl/matter/idl/tests/outputs/large_all_clusters_app/cpp-app/PluginApplicationCallbacks.h
  scripts/py_matter_idl/matter/idl/tests/outputs/large_all_clusters_app/cpp-app/callback-stub.cpp
  scripts/py_matter_idl/matter/idl/tests/outputs/large_all_clusters_app/cpp-app/cluster-callbacks.cpp
  scripts/py_matter_idl/matter/idl/tests/outputs/large_lighting_app/cpp-app/PluginApplicationCallbacks.h
  scripts/py_matter_idl/matter/idl/tests/outputs/large_lighting_app/cpp-app/callback-stub.cpp
  scripts/py_matter_idl/matter/idl/tests/outputs/large_lighting_app/cpp-app/cluster-callbacks.cpp
Labels: scripts, review - approved

#38234 Consolidate mock device type generation functions
  src/python_testing/TestConformanceTest.py
  src/python_testing/TestSpecParsingDeviceType.py
  src/python_testing/fake_device_builder.py
  src/python_testing/test_metadata.yaml
Labels: review - approved, tests

#38291 TC-FAN-2.4: Updates Wind feature check
  src/app/tests/suites/ciTests.json
  src/python_testing/TC_FAN_2_4.py
Labels: app, python, review - pending, fast track, tests

#38170 Camera user settings server
  examples/all-clusters-app/all-clusters-common/all-clusters-app.matter
  examples/all-clusters-app/all-clusters-common/all-clusters-app.zap
  examples/all-clusters-app/all-clusters-common/include/camera-av-settings-user-level-management-instance.h
  examples/all-clusters-app/all-clusters-common/src/camera-av-settings-user-level-management-stub.cpp
  examples/all-clusters-app/ameba/chip_main.cmake
  examples/all-clusters-app/linux/BUILD.gn
  examples/all-clusters-app/linux/main-common.cpp
  scripts/tools/check_includes_config.py
  src/app/chip_data_model.gni
  src/app/clusters/camera-av-settings-user-level-management-server/camera-av-settings-user-level-management-server.cpp
  src/app/clusters/camera-av-settings-user-level-management-server/camera-av-settings-user-level-management-server.h
  src/app/common/templates/config-data.yaml
  src/app/zap-templates/zcl/data-model/chip/camera-av-settings-user-level-management-cluster.xml
  src/app/zap_cluster_list.json
  zzz_generated/app-common/app-common/zap-generated/callback.h
Labels: examples, scripts, darwin, controller, app, review - approved

#37616 TC-LWM-1_2 python test
  src/python_testing/TC_LWM_1_2.py
Labels: review - pending, fast track, tests

#37620 TC-DISHM-1_2 python test
  src/python_testing/TC_DISHM_1_2.py
Labels: review - pending, fast track, tests

#37434 Migrate TC-LCFG-2.1 test from yaml to python
  src/app/tests/suites/certification/Test_TC_LCFG_2_1.yaml
  src/python_testing/TC_LCFG_2_1.py
  src/python_testing/requirements.txt
Labels: app, review - pending, fast track, tests

#38264 Add Alchemy and ZAP generated changes to AccountLogin.
  examples/all-clusters-minimal-app/all-clusters-common/all-clusters-minimal-app.matter
  examples/placeholder/linux/apps/app1/config.matter
  examples/placeholder/linux/apps/app2/config.matter
  examples/tv-app/tv-common/tv-app.matter
  examples/tv-casting-app/tv-casting-common/tv-casting-app.matter
  src/app/zap-templates/zcl/data-model/chip/account-login-cluster.xml
  src/controller/data_model/controller-clusters.matter
  src/controller/java/generated/java/chip/devicecontroller/ChipEventStructs.java
  src/controller/java/generated/java/chip/devicecontroller/cluster/eventstructs/AccountLoginClusterLoggedOutEvent.kt
  src/controller/java/generated/java/matter/controller/cluster/eventstructs/AccountLoginClusterLoggedOutEvent.kt
  src/controller/java/zap-generated/CHIPEventTLVValueDecoder.cpp
  src/controller/python/chip/clusters/Objects.py
  src/darwin/Framework/CHIP/zap-generated/MTRBaseClusters.h
  src/darwin/Framework/CHIP/zap-generated/MTREventTLVValueDecoder.mm
  src/darwin/Framework/CHIP/zap-generated/MTRStructsObjc.h
  src/darwin/Framework/CHIP/zap-generated/MTRStructsObjc.mm
  zzz_generated/app-common/app-common/zap-generated/cluster-objects.cpp
  zzz_generated/app-common/app-common/zap-generated/cluster-objects.h
  zzz_generated/chip-tool/zap-generated/cluster/logging/DataModelLogger.cpp
Labels: examples, darwin, controller, app, review - approved, skip-protocol-compatibility

#38328 Use a smaller BDX block size for Thread networks
  src/darwin/Framework/CHIP/MTROTAImageTransferHandler.mm
  src/darwin/Framework/CHIPTests/MTROTAProviderTests.m
  src/platform/Darwin/UserDefaults.h
  src/platform/Darwin/UserDefaults.mm
Labels: platform, darwin, review - pending, fast track

#38344 Expose this internal SPI so the framework can use it
  src/darwin/Framework/CHIP/MTRDevice_Internal.h
Labels: darwin, fast track

#38144 [Silabs] Enabling CI for closure app
  .github/workflows/examples-efr32.yaml
  examples/closure-app/silabs/BUILD.gn
  scripts/build/build/targets.py
  scripts/build/builders/efr32.py
  scripts/build/testdata/all_targets_linux_x64.txt
Labels: examples, scripts, github, workflows, review - approved

#38330 Add more HAL interface functions for various attributes.
  examples/camera-app/camera-common/include/camera-app.h
  examples/camera-app/camera-common/include/camera-device-interface.h
  examples/camera-app/camera-common/src/camera-app.cpp
  examples/camera-app/linux/include/camera-device.h
  examples/camera-app/linux/src/camera-device.cpp
  examples/camera-app/linux/src/clusters/camera-avstream-mgmt/camera-av-stream-manager.cpp
  examples/camera-app/linux/src/network-stream-source/network-stream-source.cpp
Labels: examples, review - approved

#38272 Add FSM at the controller to handle WebRTC session establishment flow
  examples/camera-controller/webrtc_manager/WebRTCManager.cpp
  examples/camera-controller/webrtc_manager/WebRTCProviderClient.cpp
  examples/camera-controller/webrtc_manager/WebRTCProviderClient.h
  src/app/clusters/webrtc-transport-requestor-server/webrtc-transport-requestor-server.h
Labels: examples, app, review - approved

#38348 Add some test coverage for downloadLogOfType.
  src/darwin/Framework/CHIP/MTRSetupPayload.mm
  src/darwin/Framework/CHIPTests/MTRDiagnosticLogDownloadTests.m
  src/darwin/Framework/CHIPTests/TestHelpers/MTRTestCase+ServerAppRunner.h
  src/darwin/Framework/CHIPTests/TestHelpers/MTRTestCase+ServerAppRunner.m
  src/darwin/Framework/Matter.xcodeproj/project.pbxproj
Labels: darwin, review - pending, fast track

#36004 Initial implemention of a push av server
  src/tools/push_av_server/.flake8
  src/tools/push_av_server/README.md
  src/tools/push_av_server/generate_cmaf_content.sh
  src/tools/push_av_server/requirements.txt
  src/tools/push_av_server/server.py
  src/tools/push_av_server/static/styles.css
  src/tools/push_av_server/templates/certificates_details.jinja2
  src/tools/push_av_server/templates/certificates_list.jinja2
  src/tools/push_av_server/templates/streams_details.jinja2
  src/tools/push_av_server/templates/streams_list.jinja2
Labels: tools, review - approved, tests, cameras, matter-1.4-te2-script-change

#38300 [Identify] Implementation of Q quality for identifytime
  src/app/clusters/identify-server/identify-server.cpp
Labels: app, review - approved

#38334 Fix the building error by failing to convert the variable type
  src/wifipaf/WiFiPAFEndPoint.cpp
Labels: review - pending, fast track

#38347 [camera-app] Move WebRTC Peer connection out of command
  examples/camera-app/linux/include/clusters/webrtc_provider/webrtc-provider-manager.h
  examples/camera-app/linux/src/camera-device.cpp
  examples/camera-app/linux/src/clusters/webrtc_provider/webrtc-provider-manager.cpp
  src/app/clusters/webrtc-transport-provider-server/webrtc-transport-provider-server.cpp
  src/app/clusters/webrtc-transport-provider-server/webrtc-transport-provider-server.h
Labels: examples, app, review - approved

#38294 Minor changes in TC-EPREF-2.1.py
  src/python_testing/TC_EPREF_2_1.py
Labels: review - approved, tests

#38367 Move kMinDiscriminator out of the HAVE_NSTASK define.
  src/darwin/Framework/CHIPTests/TestHelpers/MTRTestCase+ServerAppRunner.m
Labels: darwin, review - pending, fast track

#38259 examples, docs: Harmonize --ble-controller in all examples and documentation
  docs/development_controllers/chip-repl/python_chip_controller_advanced_usage.md
  docs/development_controllers/chip-tool/chip_tool_guide.md
  docs/platforms/index.md
  docs/platforms/linux/ble_settings.md
  docs/platforms/linux/index.md
  docs/platforms/nxp/nxp_imx8m_linux_examples.md
  examples/air-purifier-app/linux/README.md
  examples/air-quality-sensor-app/linux/README.md
  examples/bridge-app/linux/README.md
  examples/camera-controller/commands/common/CHIPCommand.h
  examples/chip-tool/commands/common/CHIPCommand.h
  examples/contact-sensor-app/linux/README.md
  examples/dishwasher-app/linux/README.md
  examples/dishwasher-app/silabs/README.md
  examples/energy-management-app/linux/README.md
  examples/fabric-admin/commands/common/CHIPCommand.h
  examples/lighting-app-data-mode-no-unique-id/linux/README.md
  examples/lighting-app/linux/README.md
  examples/microwave-oven-app/linux/README.md
  examples/platform/linux/Options.cpp
  examples/platform/tizen/OptionsProxy.cpp
  examples/refrigerator-app/linux/README.md
  examples/tv-app/linux/README.md
  scripts/helpers/bash-completion.sh
  src/app/tests/suites/certification/Test_TC_DD_3_11.yaml
  src/app/tests/suites/certification/Test_TC_DD_3_12.yaml
  src/controller/python/chip/ChipReplStartup.py
  src/controller/python/chip/server/Options.cpp
  src/python_testing/matter_testing_infrastructure/chip/testing/matter_testing.py
Labels: documentation, tools, examples, scripts, platform, linux, controller, app, review - approved, tests, tizen

#38385 [v1.4] fix: missing field initializer build error (#38069)
  src/app/data-model-provider/Context.h
  src/app/data-model-provider/Provider.h
Labels: app, fast track

#38329 Add Basic VID Verification Support to Fabric Table
  src/credentials/FabricTable.cpp
  src/credentials/FabricTable.h
  src/credentials/tests/TestFabricTable.cpp
Labels: review - approved

#38372 Fix finalization behavior of MTRDownload.
  src/darwin/Framework/CHIP/MTRDiagnosticLogsDownloader.mm
Labels: darwin, review - pending, fast track

#38376 [Commidity Price] XML change to match spec
  examples/energy-gateway-app/energy-gateway-common/energy-gateway-app.matter
  src/app/zap-templates/zcl/data-model/chip/commodity-price-cluster.xml
  src/controller/data_model/controller-clusters.matter
  src/controller/java/generated/java/chip/devicecontroller/ChipEventStructs.java
  src/controller/java/generated/java/chip/devicecontroller/ChipStructs.java
  src/controller/java/generated/java/chip/devicecontroller/cluster/eventstructs/CommodityPriceClusterForecastChangeEvent.kt
  src/controller/java/generated/java/chip/devicecontroller/cluster/eventstructs/CommodityPriceClusterPriceChangeEvent.kt
  src/controller/java/generated/java/chip/devicecontroller/cluster/structs/CommodityPriceClusterCommodityPriceComponentStruct.kt
  src/controller/java/generated/java/chip/devicecontroller/cluster/structs/CommodityPriceClusterCommodityPriceStruct.kt
  src/controller/java/generated/java/matter/controller/cluster/eventstructs/CommodityPriceClusterForecastChangeEvent.kt
  src/controller/java/generated/java/matter/controller/cluster/eventstructs/CommodityPriceClusterPriceChangeEvent.kt
  src/controller/java/generated/java/matter/controller/cluster/structs/CommodityPriceClusterCommodityPriceComponentStruct.kt
  src/controller/java/generated/java/matter/controller/cluster/structs/CommodityPriceClusterCommodityPriceStruct.kt
  src/controller/java/zap-generated/CHIPAttributeTLVValueDecoder.cpp
  src/controller/java/zap-generated/CHIPEventTLVValueDecoder.cpp
  src/controller/python/chip/clusters/Objects.py
  src/darwin/Framework/CHIP/zap-generated/MTRAttributeTLVValueDecoder.mm
  src/darwin/Framework/CHIP/zap-generated/MTRCommandPayloadsObjc.mm
  src/darwin/Framework/CHIP/zap-generated/MTREventTLVValueDecoder.mm
  src/darwin/Framework/CHIP/zap-generated/MTRStructsObjc.h
  src/darwin/Framework/CHIP/zap-generated/MTRStructsObjc.mm
  zzz_generated/app-common/app-common/zap-generated/cluster-objects.cpp
  zzz_generated/app-common/app-common/zap-generated/cluster-objects.h
  zzz_generated/chip-tool/zap-generated/cluster/ComplexArgumentParser.cpp
  zzz_generated/chip-tool/zap-generated/cluster/logging/DataModelLogger.cpp
Labels: examples, darwin, controller, app, review - approved

#38364 Move `DataModelProvider::MetadataList` into `support` as `chip::ReadOnlyBuffer`
  examples/chef/common/DeviceTypes.cpp
  examples/chef/common/DeviceTypes.h
  src/access/ProviderDeviceTypeResolver.h
  src/app/AttributePathExpandIterator.cpp
  src/app/AttributePathExpandIterator.h
  src/app/GlobalAttributes.cpp
  src/app/InteractionModelEngine.cpp
  src/app/clusters/descriptor/descriptor.cpp
  src/app/clusters/microwave-oven-control-server/microwave-oven-control-server.cpp
  src/app/data-model-provider/BUILD.gn
  src/app/data-model-provider/MetadataLookup.cpp
  src/app/data-model-provider/MetadataLookup.h
  src/app/data-model-provider/ProviderMetadataTree.cpp
  src/app/data-model-provider/ProviderMetadataTree.h
  src/app/data-model-provider/tests/BUILD.gn
  src/app/server-cluster/DefaultServerCluster.cpp
  src/app/server-cluster/DefaultServerCluster.h
  src/app/server-cluster/ServerClusterInterface.h
  src/app/server-cluster/testing/EmptyProvider.cpp
  src/app/server-cluster/testing/EmptyProvider.h
  src/app/server-cluster/tests/TestDefaultServerCluster.cpp
  src/data-model-providers/codegen/CodegenDataModelProvider.cpp
  src/data-model-providers/codegen/CodegenDataModelProvider.h
  src/data-model-providers/codegen/tests/TestCodegenModelViaMocks.cpp
  src/lib/support/BUILD.gn
  src/lib/support/ReadOnlyBuffer.cpp
  src/lib/support/ReadOnlyBuffer.h
  src/lib/support/tests/BUILD.gn
  src/lib/support/tests/TestReadOnlyBuffer.cpp
Labels: examples, lib, app, review - approved, support

#38391 Simplify local-only DNS-SD registration on Darwin.
  src/platform/Darwin/DnssdHostNameRegistrar.cpp
Labels: platform, darwin, review - pending, fast track

#38333 [Telink] W91 WiFiManager fix to pass TC-CNET-4.4
  src/platform/telink/wifi/3.3.99.0/WiFiManager.cpp
  src/platform/telink/wifi/3.3.99.0/WiFiManager.h
  src/platform/telink/wifi/3.7.99.0/WiFiManager.cpp
  src/platform/telink/wifi/3.7.99.0/WiFiManager.h
Labels: platform, review - pending, telink, fast track, cert, v1.4

#38394 [Telink] config for precompiled OpenThread lib
  .github/workflows/examples-telink.yaml
  config/telink/chip-module/CMakeLists.txt
  scripts/build/build/targets.py
  scripts/build/builders/telink.py
  scripts/build/testdata/all_targets_linux_x64.txt
Labels: scripts, config, github, workflows, review - pending, fast track

#37619 TC-EEVSEM-1_2 python test
  src/python_testing/TC_EEVSEM_1_2.py
Labels: review - pending, fast track, tests

#36813 [Test] Creating TC_CADMIN_1_5 test module
  src/app/tests/suites/certification/Test_TC_CADMIN_1_5.yaml
  src/app/tests/suites/manualTests.json
  src/python_testing/TC_CADMIN_1_5.py
Labels: app, review - pending, fast track, tests

#37866 [Support Task] Adding CADMIN support module for task #514
  src/python_testing/TC_CADMIN_1_11.py
  src/python_testing/TC_CADMIN_1_19.py
  src/python_testing/TC_CADMIN_1_22_24.py
  src/python_testing/TC_CADMIN_1_3_4.py
  src/python_testing/TC_CADMIN_1_9.py
  src/python_testing/support_modules/cadmin_support.py
Labels: review - pending, fast track, tests

#38398 Minor fixups in Identify cluster.
  src/app/clusters/identify-server/identify-server.cpp
Labels: app, review - approved

#38356 [Chef] [WindowCovering] Remove ABS associated elements
  examples/chef/devices/rootnode_windowcovering_RLCxaGi9Yx.matter
  examples/chef/devices/rootnode_windowcovering_RLCxaGi9Yx.zap
Labels: examples, review - pending, fast track

#38368 [Silabs] modified air quality sensor to support si917
  examples/air-quality-sensor-app/silabs/include/AirQualityConfig.h
  examples/platform/silabs/sensors/AirQuality/AirQualitySensor.cpp
Labels: examples, platform, review - approved, silabs

#38396 [Closures] Refactor ClosureControl cluster to use latest cluster template
  .github/workflows/examples-efr32.yaml
  src/app/chip_data_model.gni
  src/app/clusters/closure-control-server/closure-control-cluster-delegate.h
  src/app/clusters/closure-control-server/closure-control-cluster-logic.cpp
  src/app/clusters/closure-control-server/closure-control-cluster-logic.h
  src/app/clusters/closure-control-server/closure-control-cluster-matter-context.h
  src/app/clusters/closure-control-server/closure-control-server.cpp
  src/app/clusters/closure-control-server/closure-control-server.h
  src/app/tests/BUILD.gn
  src/app/tests/TestClosureControlClusterLogic.cpp
  src/app/tests/TestClosureControlConformance.cpp
  src/lib/core/DataModelTypes.h
Labels: lib, app, github, workflows, review - approved, tests, core

#38200 Documentation for python API - Docstring Updates
  src/controller/python/chip/ChipDeviceCtrl.py
Labels: controller, review - approved

#38388 [NXP] Update NXP docker image to SDK 25/03
  integrations/docker/images/base/chip-build/version
  integrations/docker/images/stage-2/chip-build-nxp/Dockerfile
Labels: review - approved

#36532 [ESP32] Platform diagnostics framework
  config/esp32/components/chip/CMakeLists.txt
  config/esp32/components/chip/Kconfig
  examples/temperature-measurement-app/esp32/README.md
  examples/temperature-measurement-app/esp32/main/Kconfig.projbuild
  examples/temperature-measurement-app/esp32/main/diagnostic-logs-provider-delegate-impl.cpp
  examples/temperature-measurement-app/esp32/main/include/diagnostic-logs-provider-delegate-impl.h
  examples/temperature-measurement-app/esp32/main/main.cpp
  scripts/tools/check_includes_config.py
  src/BUILD.gn
  src/tracing/esp32_diagnostic_trace/BUILD.gn
  src/tracing/esp32_diagnostic_trace/Counter.cpp
  src/tracing/esp32_diagnostic_trace/Counter.h
  src/tracing/esp32_diagnostic_trace/DiagnosticEntry.cpp
  src/tracing/esp32_diagnostic_trace/DiagnosticEntry.h
  src/tracing/esp32_diagnostic_trace/DiagnosticStorage.cpp
  src/tracing/esp32_diagnostic_trace/DiagnosticStorage.h
  src/tracing/esp32_diagnostic_trace/DiagnosticTracing.cpp
  src/tracing/esp32_diagnostic_trace/DiagnosticTracing.h
  src/tracing/esp32_diagnostic_trace/include/matter/tracing/macros_impl.h
  src/tracing/esp32_diagnostic_trace/tests/BUILD.gn
  src/tracing/esp32_diagnostic_trace/tests/TestESP32DiagnosticTrace.cpp
Labels: examples, scripts, config, review - approved

#37621 TC-DEMM-1_2 python test
  src/python_testing/TC_DEMM_1_2.py
Labels: review - pending, fast track, tests

#37387 TC-CNET-4.3: Automate
  src/app/tests/suites/certification/Test_TC_CNET_4_3.yaml
  src/python_testing/TC_CNET_4_3.py
  src/python_testing/matter_testing_infrastructure/chip/testing/matter_asserts.py
  src/python_testing/matter_testing_infrastructure/chip/testing/matter_testing.py
  src/python_testing/matter_testing_infrastructure/chip/testing/test_matter_asserts.py
  src/python_testing/test_metadata.yaml
Labels: app, review - pending, fast track, tests

#38262 Reset state before Step 8 in SWTCH 2.6 test
  src/python_testing/TC_SWTCH.py
Labels: review - approved, tests

#38228 Clarify error message on topology test
  src/python_testing/TC_DeviceBasicComposition.py
  src/python_testing/TestMatterTestingSupport.py
  src/python_testing/matter_testing_infrastructure/chip/testing/taglist_and_topology_test.py
Labels: review - approved, tests

#38412 Add VID Verification procedure to opcreds cluster (1/2)
  src/app/clusters/operational-credentials-server/operational-credentials-server.cpp
  src/app/tests/suites/TestOperationalCredentialsCluster.yaml
  src/credentials/FabricTable.cpp
  src/credentials/FabricTable.h
  src/python_testing/TC_OPCREDS_3_9.py
Labels: app, review - approved, tests

#38108 Oven Chef device type
  examples/chef/devices/rootnode_oven_temperaturecontrolledcabinet_cooktop_cooksurface_738dd18832.matter
  examples/chef/devices/rootnode_oven_temperaturecontrolledcabinet_cooktop_cooksurface_738dd18832.zap
  examples/chef/sample_app_util/matter_device_types.json
Labels: examples, review - pending, fast track

#38443 ZAP regen to fix master CI
  examples/chef/devices/rootnode_oven_temperaturecontrolledcabinet_cooktop_cooksurface_738dd18832.matter
Labels: examples, hotfix

#38446 Add mandatory attribute to cooktop and zap regen
  examples/chef/devices/rootnode_oven_temperaturecontrolledcabinet_cooktop_cooksurface_738dd18832.matter
  examples/chef/devices/rootnode_oven_temperaturecontrolledcabinet_cooktop_cooksurface_738dd18832.zap
Labels: examples, hotfix

#38432 Add overloaded FindOrEstablishSession API to internally use defaults for CASE retries.
  src/app/CASESessionManager.cpp
  src/app/CASESessionManager.h
Labels: app, review - approved

#38434 Fix checks for fabric-scoped vs timed invoke to have an order matching spec.
  src/app/InteractionModelEngine.cpp
Labels: app, review - approved

#38366 examples: Sort targets and modifiers when printing
  scripts/build/build/target.py
  scripts/build/build/test_target.py
  scripts/build/testdata/all_targets_linux_x64.txt
Labels: examples, scripts, review - approved

#38410 Install matter-idl package in the editable mode in pigweed env
  .github/workflows/tests.yaml
  docs/guides/matter_idl_tooling.md
  scripts/backwards_compatibility_checker.py
  scripts/codegen.py
  scripts/codegen_paths.py
  scripts/configure
  scripts/py_matter_idl/examples/matter_idl_plugin/__init__.py
  scripts/py_matter_idl/files.gni
  scripts/py_matter_idl/matter/idl/data_model_xml/__init__.py
  scripts/py_matter_idl/matter/idl/data_model_xml_parser.py
  scripts/py_matter_idl/matter/idl/generators/__init__.py
  scripts/py_matter_idl/matter/idl/generators/cpp/application/application_generator.py
  scripts/py_matter_idl/matter/idl/generators/cpp/sdk/sdk_generator.py
  scripts/py_matter_idl/matter/idl/generators/cpp/tlvmeta/__init__.py
  scripts/py_matter_idl/matter/idl/generators/idl/README.md
  scripts/py_matter_idl/matter/idl/generators/idl/__init__.py
  scripts/py_matter_idl/matter/idl/generators/java/__init__.py
  scripts/py_matter_idl/matter/idl/generators/kotlin/__init__.py
  scripts/py_matter_idl/matter/idl/generators/markdown/__init__.py
  scripts/py_matter_idl/matter/idl/generators/storage.py
  scripts/py_matter_idl/matter/idl/lint/__init__.py
  scripts/py_matter_idl/matter/idl/lint/lint_rules_parser.py
  scripts/py_matter_idl/matter/idl/matter_idl_parser.py
  scripts/py_matter_idl/matter/idl/test_data_model_xml.py
  scripts/py_matter_idl/matter/idl/test_generators.py
  scripts/py_matter_idl/matter/idl/test_idl_generator.py
  scripts/py_matter_idl/matter/idl/test_matter_idl_parser.py
  scripts/py_matter_idl/matter/idl/zapxml/__init__.py
  scripts/py_matter_idl/matter/idl/zapxml_parser.py
  scripts/py_matter_idl/setup.cfg
  scripts/setup/requirements.build.txt
Labels: documentation, scripts, github, workflows, review - approved

#37849 [SILABS] lock storage refactor
  examples/lock-app/silabs/include/CHIPProjectConfig.h
  examples/lock-app/silabs/include/LockManager.h
  examples/lock-app/silabs/src/AppTask.cpp
  examples/lock-app/silabs/src/LockManager.cpp
  src/app/clusters/door-lock-server/door-lock-server.h
Labels: examples, app, review - approved

#38174 Closure dimension server code implementation
  src/app/chip_data_model.gni
  src/app/clusters/closure-dimension-server/closure-dimension-cluster-logic.cpp
  src/app/clusters/closure-dimension-server/closure-dimension-cluster-logic.h
  src/app/clusters/closure-dimension-server/closure-dimension-cluster-objects.h
  src/app/clusters/closure-dimension-server/closure-dimension-delegate.h
  src/app/clusters/closure-dimension-server/closure-dimension-matter-context.cpp
  src/app/clusters/closure-dimension-server/closure-dimension-matter-context.h
  src/app/clusters/closure-dimension-server/closure-dimension-server.cpp
  src/app/clusters/closure-dimension-server/closure-dimension-server.h
  src/app/common/templates/config-data.yaml
  src/app/zap_cluster_list.json
  zzz_generated/app-common/app-common/zap-generated/callback.h
Labels: app, review - approved

#38439 [Silabs] Update silabs docker to use new SDKS
  integrations/docker/images/base/chip-build/version
  integrations/docker/images/stage-2/chip-build-efr32/Dockerfile
Labels: integrations, review - approved, docker

#38263 [ACL][WriteClient] Encoding non-empty ReplaceAll when writing to AccessControl Cluster
  src/access/AccessControl.cpp
  src/access/AccessControl.h
  src/app/MessageDef/AttributeDataIB.h
  src/app/WriteClient.cpp
  src/app/WriteClient.h
  src/app/clusters/access-control-server/access-control-server.cpp
  src/app/tests/TestWriteInteraction.cpp
  src/app/tests/suites/TestAccessControlCluster.yaml
  src/app/tests/suites/certification/Test_TC_ACL_2_3.yaml
  src/app/tests/suites/certification/Test_TC_ACL_2_4.yaml
  src/app/tests/suites/certification/Test_TC_ACL_2_5.yaml
  src/app/tests/suites/certification/Test_TC_ACL_2_6.yaml
  src/app/tests/suites/certification/Test_TC_ACL_2_8.yaml
  src/controller/tests/TestWriteChunking.cpp
Labels: controller, app, review - approved, tests, Alternate SDK Impact

#38370 Add LargePayload flags to session establishment for WebRTC commands
  examples/camera-app/linux/src/clusters/webrtc_provider/webrtc-provider-manager.cpp
  examples/camera-controller/webrtc_manager/WebRTCProviderClient.cpp
Labels: examples, app, review - approved

#38460 [NXP] Update border router name in the TBRM cluster
  examples/platform/nxp/common/app_task/include/AppTaskBase.h
  examples/platform/nxp/common/app_task/source/AppTaskBase.cpp
  examples/platform/nxp/common/device_callbacks/source/CommonDeviceCallbacks.cpp
Labels: examples, platform, review - approved, nxp

#38462 Update binary diff demangling to be lenient to names that cannot be demangled
  scripts/tools/binary_elf_size_diff.py
Labels: scripts, review - approved

#38461 Add zap app template generation delendency on config-data.yaml
  build/chip/chip_codegen.gni
Labels: gn, review - approved

#38467 Fix path to py_matter_idl
  .github/workflows/protocol_compatibility.yaml
Labels: github, workflows, review - approved

#38451 ESP32: add sdkconfig to build lighting-app for Matter Over Thread
  examples/lighting-app/esp32/README.md
  examples/lighting-app/esp32/sdkconfig.defaults.esp32c6_thread
Labels: examples, review - approved

#38196 Various cleanups in the matter.idl module
  .github/workflows/java-tests.yaml
  scripts/examples/gn_silabs_example.sh
  scripts/idl_lint.py
  scripts/py_matter_idl/BUILD.gn
  scripts/py_matter_idl/examples/matter_idl_plugin/__init__.py
  scripts/py_matter_idl/files.gni
  scripts/py_matter_idl/matter/idl/generators/__init__.py
  scripts/py_matter_idl/matter/idl/generators/filters.py
  scripts/py_matter_idl/matter/idl/generators/idl/README.md
  scripts/py_matter_idl/matter/idl/generators/java/__init__.py
  scripts/py_matter_idl/matter/idl/generators/kotlin/__init__.py
  scripts/py_matter_idl/matter/idl/generators/markdown/__init__.py
  scripts/py_matter_idl/matter/idl/lint/lint_rules_parser.py
  scripts/py_matter_idl/matter/idl/matter_idl_parser.py
  scripts/py_matter_idl/matter/idl/matter_idl_types.py
  scripts/py_matter_idl/matter/idl/test_case_conversion.py
  scripts/py_matter_idl/setup.cfg
Labels: documentation, scripts, github, workflows, review - approved

#38430 Delete TC_OVENOPSTATE_2_3.py because invalid
  src/python_testing/TC_OVENOPSTATE_2_3.py
Labels: review - pending, fast track, tests

#38448 restyle-diff: Don't keep containers and force AMD64 images on ARM Macs
  scripts/helpers/restyle-diff.sh
Labels: scripts, review - approved

#38357 Implements python test script for test case TC_WEBRTCP_2_1
  .github/workflows/tests.yaml
  examples/camera-app/linux/src/clusters/webrtc_provider/webrtc-provider-manager.cpp
  src/python_testing/TC_WEBRTCP_2_1.py
Labels: examples, app, github, workflows, review - approved, tests

#38442 Darwin: Make os_log() integration more efficient
  src/platform/Darwin/Logging.h
  src/platform/Darwin/Logging.mm
Labels: platform, darwin, review - pending, fast track

#38122 Closure device type updates as per latest specification
  examples/closure-app/closure-common/closure-app.matter
  examples/closure-app/closure-common/closure-app.zap
  src/app/zap-templates/zcl/data-model/chip/matter-devices.xml
  src/darwin/Framework/CHIP/MTRDeviceTypeMetadata.h
  src/darwin/Framework/CHIP/zap-generated/MTRClusterConstants.h
  src/darwin/Framework/CHIP/zap-generated/MTRDeviceTypeMetadata.mm
  zzz_generated/chip-tool/zap-generated/cluster/logging/EntryToText.cpp
Labels: examples, darwin, app, review - approved

#38464 Add handling for non-volatile attributes
  examples/all-clusters-app/all-clusters-common/include/camera-av-settings-user-level-management-instance.h
  examples/all-clusters-app/all-clusters-common/src/camera-av-settings-user-level-management-stub.cpp
  examples/camera-app/linux/include/clusters/camera-avsettingsuserlevel-mgmt/camera-avsettingsuserlevel-manager.h
  examples/camera-app/linux/src/clusters/camera-avsettingsuserlevel-mgmt/camera-avsettingsuserlevel-manager.cpp
  src/app/clusters/camera-av-settings-user-level-management-server/camera-av-settings-user-level-management-server.cpp
  src/app/clusters/camera-av-settings-user-level-management-server/camera-av-settings-user-level-management-server.h
Labels: examples, app, review - approved

#38445 Allow generation of no-ICAC cert chains in Python tests
  src/controller/ExampleOperationalCredentialsIssuer.cpp
  src/controller/ExampleOperationalCredentialsIssuer.h
  src/controller/python/ChipDeviceController-IssueNocChain.cpp
  src/controller/python/OpCredsBinding.cpp
  src/controller/python/chip/CertificateAuthority.py
  src/controller/python/chip/ChipDeviceCtrl.py
  src/controller/python/chip/utils/CommissioningBuildingBlocks.py
  src/python_testing/matter_testing_infrastructure/chip/testing/matter_testing.py
Labels: controller, github, workflows, review - approved, tests

#38413 Fix attemptCount documentation in CASESessionManager.
  src/app/CASESessionManager.h
Labels: app, review - approved

#38496 ESP32: Do not assert when OpenThread stack is already initialized
  src/platform/ESP32/OpenthreadLauncher.cpp
Labels: platform, esp32, review - approved

#38454 The high-level PICS for test case TC-TIMESYNC-2.13 has been updated from TIMESYNC.S.F01 to TIMESYNC.S.F03.
  src/python_testing/TC_TIMESYNC_2_13.py
Labels: review - approved, tests

#38249 Generate AccessControl cluster with Alchemy
  src/app/zap-templates/zcl/data-model/chip/access-control-cluster.xml
Labels: examples, controller, app, review - approved

#36808 TC-ACE-2.3: Add (test for command access and presence)
  src/python_testing/TC_AccessChecker.py
  src/python_testing/TestSpecParsingSupport.py
  src/python_testing/matter_testing_infrastructure/chip/testing/spec_parsing.py
Labels: examples, scripts, controller, app, review - approved, tests

#38524 Add some comments to disambiguate default cases in generated switches.
  src/darwin/Framework/CHIP/templates/MTRAttributeSpecifiedCheck-src.zapt
  src/darwin/Framework/CHIP/templates/MTRAttributeTLVValueDecoder-src.zapt
  src/darwin/Framework/CHIP/templates/MTRClusterNames-src.zapt
  src/darwin/Framework/CHIP/templates/MTREventTLVValueDecoder-src.zapt
  src/darwin/Framework/CHIP/zap-generated/MTRAttributeSpecifiedCheck.mm
  src/darwin/Framework/CHIP/zap-generated/MTRAttributeTLVValueDecoder.mm
  src/darwin/Framework/CHIP/zap-generated/MTRClusterNames.mm
  src/darwin/Framework/CHIP/zap-generated/MTREventTLVValueDecoder.mm
Labels: darwin, review - pending, fast track

#38505 Add handling for DPTZ commands to Camera App
  examples/camera-app/camera-common/include/camera-device-interface.h
  examples/camera-app/camera-common/src/camera-app.cpp
  examples/camera-app/linux/include/camera-device.h
  examples/camera-app/linux/src/camera-device.cpp
  examples/camera-app/linux/src/clusters/camera-avsettingsuserlevel-mgmt/camera-avsettingsuserlevel-manager.cpp
Labels: examples, review - approved

#38523 Implements test case TC_WEBRTCP_2_3
  src/python_testing/TC_WEBRTCP_2_3.py
Labels: review - approved, tests

#38527 Implements test case TC_WEBRTCP_2_4
  src/python_testing/TC_WEBRTCP_2_4.py
Labels: review - approved, tests

#38492 ESP32: USE_BLE_ONLY_FOR_COMMISSIONING should depend on ENABLE_CHIPOBLE
  config/esp32/components/chip/Kconfig
Labels: config, review - approved

#38494 ESP32: remove redundant and unused config for IM pretty prints
  config/esp32/components/chip/CMakeLists.txt
Labels: config, review - approved

#38514 Fix Shutdown of a Scenes and TimeSynchronization cluster.
  src/app/clusters/scenes-server/scenes-server.cpp
  src/app/clusters/time-synchronization-server/time-synchronization-server.cpp
Labels: app, review - approved

#38507 Fix typo in config-data.yaml: Rename Bridged Device Basic to Bridged Device Basic Information
  src/app/common/templates/config-data.yaml
Labels: app, review - approved

#38305 Add Alchemy generated files for AudioOutput
  examples/all-clusters-minimal-app/all-clusters-common/all-clusters-minimal-app.matter
  examples/chef/devices/rootnode_basicvideoplayer_0ff86e943b.matter
  examples/placeholder/linux/apps/app1/config.matter
  examples/placeholder/linux/apps/app2/config.matter
  examples/tv-app/tv-common/tv-app.matter
  examples/tv-casting-app/tv-casting-common/tv-casting-app.matter
  src/app/zap-templates/zcl/data-model/chip/audio-output-cluster.xml
  src/controller/data_model/controller-clusters.matter
  src/darwin/Framework/CHIP/zap-generated/MTRBaseClusters.h
Labels: examples, darwin, controller, app, review - approved

#38526 Add data model dependencies to metadata and elements
  scripts/py_matter_idl/matter/idl/generators/cpp/sdk/AllItemsBuild.jinja
  src/app/chip_data_model.gni
  zzz_generated/app-common/clusters/BUILD.gn
Labels: review - approved

#38481 [Silabs] Init the OTA Requestor based on the DNS-SD event
  examples/platform/silabs/BaseApplication.cpp
Labels: examples, platform, review - approved, silabs

#36971 TC-FAN-3.1: Enhanced attribute value testing
  src/python_testing/TC_FAN_3_1.py
  src/python_testing/matter_testing_infrastructure/chip/testing/matter_testing.py
Labels: examples, scripts, github, workflows, python, review - pending, fast track, tests

#38397 Add checks to OpState 2_5 to mandate support for Operation Completion Event
  src/python_testing/TC_OpstateCommon.py
Labels: review - approved, tests

#38551 [HOTFIX] Fix hermeticity of TC-CGEN scripts in CI
  src/python_testing/TC_CGEN_2_10.py
  src/python_testing/TC_CGEN_2_11.py
  src/python_testing/TC_CGEN_2_5.py
  src/python_testing/TC_CGEN_2_6.py
  src/python_testing/TC_CGEN_2_7.py
  src/python_testing/TC_CGEN_2_8.py
  src/python_testing/TC_CGEN_2_9.py
Labels: fast track, tests

#38546 Fix MTRAttributePath description to include "attribute".
  src/darwin/Framework/CHIP/MTRBaseDevice.mm
Labels: darwin, review - approved

#38535 Add new IM status codes to Matter.framework.
  src/darwin/Framework/CHIP/MTRError.h
  src/darwin/Framework/CHIP/MTRError.mm
Labels: darwin, review - pending, fast track

#38415 [Darwin] CI test testMTRDeviceDealloc flake fix
  src/darwin/Framework/CHIPTests/MTRPerControllerStorageTests.m
Labels: darwin, review - approved

#38537 [ESP32] Add a menuconfig option to enable access restrictions from the application.
  config/esp32/components/chip/CMakeLists.txt
  config/esp32/components/chip/Kconfig
Labels: review - approved

#38340 [TC-CADMIN-xx] Updating the yaml script by adding note to the manual steps as per VS doc update, removing TC-CADMIN-1.20 & 1.26 as the test plan has been removed.
  src/app/tests/suites/certification/Test_TC_CADMIN_1_1.yaml
  src/app/tests/suites/certification/Test_TC_CADMIN_1_18.yaml
  src/app/tests/suites/certification/Test_TC_CADMIN_1_2.yaml
  src/app/tests/suites/certification/Test_TC_CADMIN_1_20.yaml
  src/app/tests/suites/certification/Test_TC_CADMIN_1_26.yaml
  src/app/tests/suites/certification/Test_TC_CADMIN_1_7.yaml
  src/app/tests/suites/certification/Test_TC_CADMIN_1_8.yaml
  src/app/tests/suites/manualTests.json
Labels: app, review - pending, fast track, tests

#38509 Matter IDL compatibility checker and linter as a part of matter-idl
  .github/actions/bootstrap-cache/action.yaml
  .github/actions/bootstrap/action.yaml
  .github/workflows/lint.yml
  .github/workflows/protocol_compatibility.yaml
  .matterlint
  docs/guides/matter_idl_tooling.md
  docs/zap_and_codegen/code_generation.md
  scripts/backwards_compatibility_checker.py
  scripts/idl_lint.py
  scripts/py_matter_idl/matter/__init__.py
  scripts/py_matter_idl/matter/idl/backwards_compatibility.py
  scripts/py_matter_idl/matter/idl/lint/__init__.py
  scripts/py_matter_idl/setup.cfg
  scripts/rules.matterlint
Labels: documentation, scripts, github, workflows, review - approved
