Repository project-chip/connectedhomeip, pull requests merged in 2025-09, with the labels that each got.

#40643 [Realtek] A fix for a DLPS bug and refactors the file structure
  config/realtek/bee/chip.cmake
  config/realtek/bee/lib/pw_rpc/BUILD.gn
  examples/all-clusters-app/realtek/bee/chip_main.cmake
  examples/all-clusters-app/realtek/bee/main/AppTask.cpp
  examples/light-switch-app/realtek/bee/chip_main.cmake
  examples/light-switch-app/realtek/bee/main/AppTask.cpp
  examples/light-switch-app/realtek/bee/main/include/CHIPProjectConfig.h
  examples/lighting-app/realtek/bee/chip_main.cmake
  examples/lighting-app/realtek/bee/main/AppTask.cpp
  examples/lock-app/realtek/bee/chip_main.cmake
  examples/lock-app/realtek/bee/main/AppTask.cpp
  examples/ota-requestor-app/realtek/bee/chip_main.cmake
  examples/ota-requestor-app/realtek/bee/main/AppTask.cpp
  examples/platform/realtek/PigweedLogger.cpp
  examples/platform/realtek/PigweedLogger.h
  examples/platform/realtek/Rpc.cpp
  examples/platform/realtek/Rpc.h
  examples/platform/realtek/ota/OTAInitializer.cpp
  examples/platform/realtek/ota/OTAInitializer.h
  examples/platform/realtek/pw_sys_io/BUILD.gn
  examples/platform/realtek/pw_sys_io/CMakeLists.txt
  examples/platform/realtek/pw_sys_io/public/pw_sys_io_bee/init.h
  examples/platform/realtek/pw_sys_io/sys_io_bee.cc
  examples/platform/realtek/shell/launch_shell.cpp
  examples/platform/realtek/shell/launch_shell.h
  examples/platform/realtek/util/LEDWidget.cpp
  examples/platform/realtek/util/LEDWidget.h
  examples/platform/realtek/util/RealtekObserver.h
  examples/thermostat/realtek/bee/chip_main.cmake
  examples/thermostat/realtek/bee/main/AppTask.cpp
  examples/window-app/realtek/bee/chip_main.cmake
  src/platform/realtek/BEE/FactoryDataProvider.cpp
  src/platform/realtek/BEE/ThreadStackManagerImpl.cpp
  src/platform/realtek/BEE/ThreadStackManagerImpl.h
Labels: examples, platform, config, review - approved

#40159 Implementations for Push AV Cluster Python Test Scripts with multiple TH
  examples/camera-app/linux/src/clusters/push-av-stream-transport/push-av-stream-manager.cpp
  examples/camera-app/linux/src/pushav-clip-recorder.cpp
  examples/camera-app/linux/src/pushav-transport/pushav-transport.cpp
  src/python_testing/TC_PAVSTTestBase.py
  src/python_testing/TC_PAVST_2_4.py
  src/python_testing/TC_PAVST_2_5.py
  src/python_testing/TC_PAVST_2_6.py
  src/python_testing/TC_PAVST_2_7.py
  src/python_testing/TC_PAVST_2_8.py
  src/python_testing/test_metadata.yaml
Labels: examples, app, review - approved, tests

#40406 [Camera] Update TC-AVSM Test Cases (TC-AVSM-2.1, TC-AVSM-2.13)
  src/python_testing/TC_AVSM_2_1.py
  src/python_testing/TC_AVSM_2_13.py
Labels: review - approved, tests, cameras, v1.5

#40784 Add support for new NXP platform - MCXW72
  .github/workflows/examples-nxp.yaml
  examples/contact-sensor-app/nxp/README.md
  examples/contact-sensor-app/nxp/mcxw72/.gn
  examples/contact-sensor-app/nxp/mcxw72/BUILD.gn
  examples/contact-sensor-app/nxp/mcxw72/README.md
  examples/contact-sensor-app/nxp/mcxw72/args.gni
  examples/contact-sensor-app/nxp/mcxw72/build_overrides
  examples/contact-sensor-app/nxp/mcxw72/include/config/AppConfig.h
  examples/contact-sensor-app/nxp/mcxw72/include/config/CHIPProjectConfig.h
  examples/contact-sensor-app/nxp/mcxw72/third_party/connectedhomeip
  examples/lighting-app/nxp/README.md
  examples/lighting-app/nxp/mcxw72/.gn
  examples/lighting-app/nxp/mcxw72/BUILD.gn
  examples/lighting-app/nxp/mcxw72/README.md
  examples/lighting-app/nxp/mcxw72/args.gni
  examples/lighting-app/nxp/mcxw72/build_overrides
  examples/lighting-app/nxp/mcxw72/include/config/AppConfig.h
  examples/lighting-app/nxp/mcxw72/include/config/CHIPProjectConfig.h
  examples/lighting-app/nxp/mcxw72/third_party/connectedhomeip
  examples/lock-app/nxp/mcxw72/.gn
  examples/lock-app/nxp/mcxw72/BUILD.gn
  examples/lock-app/nxp/mcxw72/README.md
  examples/lock-app/nxp/mcxw72/args.gni
  examples/lock-app/nxp/mcxw72/build_overrides
  examples/lock-app/nxp/mcxw72/include/config/AppConfig.h
  examples/lock-app/nxp/mcxw72/include/config/CHIPProjectConfig.h
  examples/lock-app/nxp/mcxw72/third_party/connectedhomeip
  examples/platform/nxp/mcxw72/doc/images/mcxw72evk.png
  scripts/build/build/targets.py
  scripts/build/builders/nxp.py
  scripts/build/testdata/all_targets_linux_x64.txt
  src/platform/nxp/mcxw72/BLEManagerImpl.h
  src/platform/nxp/mcxw72/BUILD.gn
  src/platform/nxp/mcxw72/BlePlatformConfig.h
  src/platform/nxp/mcxw72/CHIPDevicePlatformConfig.h
  src/platform/nxp/mcxw72/CHIPPlatformConfig.h
  src/platform/nxp/mcxw72/InetPlatformConfig.h
  src/platform/nxp/mcxw72/PlatformManagerImpl.cpp
  src/platform/nxp/mcxw72/SystemPlatformConfig.h
  src/platform/nxp/mcxw72/args.gni
  third_party/openthread/platforms/nxp/mcxw72/BUILD.gn
Labels: examples, scripts, platform, github, workflows, review - approved, changing-submodules-on-purpose, nxp

#40730 ZoneMgmt test scripts and camera-app updates
  examples/camera-app/linux/include/clusters/zone-mgmt/zone-manager.h
  examples/camera-app/linux/src/clusters/zone-mgmt/zone-manager.cpp
  src/python_testing/TC_ZONEMGMT_2_4.py
Labels: examples, review - approved, tests

#40751 Rename chip-repl to matter-repl
  .github/workflows/build.yaml
  .github/workflows/tests.yaml
  BUILD.gn
  docs/development_controllers/chip-repl/index.md
  docs/development_controllers/index.md
  docs/development_controllers/matter-repl/Matter_Access_Control.ipynb
  docs/development_controllers/matter-repl/Matter_Basic_Interactions.ipynb
  docs/development_controllers/matter-repl/Matter_Multi_Fabric_Commissioning.ipynb
  docs/development_controllers/matter-repl/Matter_REPL_Intro.ipynb
  docs/development_controllers/matter-repl/index.md
  docs/development_controllers/matter-repl/matter-repl.md
  docs/development_controllers/matter-repl/python_chip_controller_advanced_usage.md
  docs/development_controllers/matter-repl/python_chip_controller_building.md
  docs/getting_started/first_example.md
  docs/guides/access-control-guide.md
  docs/guides/batch-commands.md
  docs/platforms/mbedos/mbedos_commissioning.md
  examples/energy-gateway-app/esp32/README.md
  examples/energy-gateway-app/linux/README.md
  examples/energy-management-app/esp32/README.md
  examples/energy-management-app/linux/README.md
  integrations/docker/images/chip-cert-bins/Dockerfile
  pyproject.toml
  scripts/build/builders/host.py
  scripts/build_python_device.sh
  scripts/jupyterlab_requirements.txt
  scripts/py_matter_yamltests/matter/yamltests/adapter.py
  scripts/tests/chiptest/__init__.py
  scripts/tests/chiptest/linux.py
  scripts/tests/chiptest/test_definition.py
  scripts/tests/chiptest/yamltest_with_chip_repl_tester.py
  scripts/tests/chipyaml/runner.py
  scripts/tests/run_test_suite.py
  scripts/tools/linux_ip_namespace_setup.sh
  src/app/tests/suites/certification/Test_TC_IDM_1_3.yaml
  src/controller/python/BUILD.gn
  src/controller/python/ChipDeviceController-ScriptBinding.cpp
  src/controller/python/README.md
  src/controller/python/matter-repl.py
  src/controller/python/matter/ChipDeviceCtrl.py
  src/controller/python/matter/ReplStartup.py
  src/controller/python/matter/yaml/runner.py
  src/controller/python/tests/scripts/base.py
  src/controller/python/tests/scripts/mobile-device-test.py
Labels: documentation, examples, scripts, integrations, controller, app, github, workflows, gn, review - pending, tests, docker, sdk-maintainer-approved

#40484 Update Push AV Cluster implementation
  examples/all-clusters-app/all-clusters-common/include/push-av-stream-transport-delegate-impl.h
  examples/all-clusters-app/all-clusters-common/src/push-av-stream-transport-delegate-impl.cpp
  examples/all-clusters-app/linux/main-common.cpp
  examples/camera-app/camera-common/BUILD.gn
  examples/camera-app/camera-common/src/camera-app.cpp
  examples/camera-app/linux/include/clusters/push-av-stream-transport/push-av-stream-manager.h
  examples/camera-app/linux/src/clusters/push-av-stream-transport/push-av-stream-manager.cpp
  src/app/clusters/push-av-stream-transport-server/BUILD.gn
  src/app/clusters/push-av-stream-transport-server/CodegenIntegration.cpp
  src/app/clusters/push-av-stream-transport-server/CodegenIntegration.h
  src/app/clusters/push-av-stream-transport-server/constants.h
  src/app/clusters/push-av-stream-transport-server/push-av-stream-transport-cluster.h
  src/app/clusters/push-av-stream-transport-server/push-av-stream-transport-delegate.h
  src/app/clusters/push-av-stream-transport-server/push-av-stream-transport-logic.cpp
  src/app/clusters/push-av-stream-transport-server/push-av-stream-transport-logic.h
  src/app/clusters/push-av-stream-transport-server/push-av-stream-transport-storage.h
  src/app/clusters/push-av-stream-transport-server/tests/BUILD.gn
  src/app/clusters/push-av-stream-transport-server/tests/TestPushAVStreamTransportCluster.cpp
  src/app/clusters/tls-client-management-server/BUILD.gn
Labels: examples, app, review - approved

#40358 [FIX] Adding missing apps to the chip-cert-bins docker image.
  integrations/docker/images/chip-cert-bins/Dockerfile
Labels: integrations, review - approved, docker

#40825 Fixup for missed rename in PR #40751
  scripts/tests/chiptest/yamltest_with_matter_repl_tester.py
Labels: scripts, review - pending, sdk-maintainer-approved

#40776 Update lint workflow to exclude new usages of `SafeAttributePersistenceProvider`
  .github/workflows/lint.yml
  scripts/attribute_persistence_provider_exclusions.txt
  scripts/find_attribute_persistence_provider_usage.sh
Labels: scripts, github, workflows, review - pending, sdk-maintainer-approved

#40810 Remove sync scheduling of events for startup in basicinfo.
  src/app/clusters/basic-information/BasicInformationCluster.cpp
Labels: review - approved

#40728 Fix Memory Leak when canceling WiFi-PAF publish with null wpa_supplic…
  examples/platform/linux/AppMain.cpp
  src/platform/Linux/ConnectivityManagerImpl.cpp
Labels: examples, platform, linux, review - approved

#40835 [Test] Fix typo in TC_WEBRTC_1_5.py
  src/python_testing/TC_WEBRTC_1_5.py
Labels: review - approved, tests

#40407 TC-CLCTRL-X.X Some changes to fix open issues
  src/python_testing/TC_CLCTRL_3_1.py
  src/python_testing/TC_CLCTRL_4_1.py
  src/python_testing/TC_CLCTRL_5_1.py
  src/python_testing/TC_CLCTRL_6_1.py
  src/python_testing/test_metadata.yaml
Labels: review - approved, tests

#40786 [NXP] [SE05x] SE05x Crypto Configurations
  .github/.wordlist.txt
  config/nxp/chip-cmake-freertos/Kconfig
  docs/platforms/nxp/nxp_se05x_guide.md
  examples/platform/nxp/se05x/DeviceAttestationSe05xCredsExample.cpp
  examples/platform/nxp/se05x/linux/BUILD.gn
  examples/thermostat/nxp/linux-se05x/README.md
  src/platform/nxp/crypto/se05x/BUILD.gn
  src/platform/nxp/crypto/se05x/CHIPCryptoPALHost.cpp
  src/platform/nxp/crypto/se05x/CHIPCryptoPALHsm_se05x_config.h
  src/platform/nxp/crypto/se05x/CHIPCryptoPALHsm_se05x_p256.cpp
  src/platform/nxp/crypto/se05x/CHIPCryptoPALHsm_se05x_utils.cpp
  src/platform/nxp/crypto/se05x/CHIPCryptoPALHsm_se05x_utils.h
  src/platform/nxp/crypto/se05x/args.gni
Labels: documentation, examples, platform, config, github, review - approved, nxp

#40833 [Camera] Fix H.264 I-frame detection is failing
  examples/camera-app/linux/src/camera-device.cpp
  examples/camera-app/linux/src/pushav-clip-recorder.cpp
  examples/camera-app/linux/src/pushav-transport/pushav-transport.cpp
  examples/camera-app/linux/src/uploader/pushav-uploader.cpp
Labels: examples, review - approved

#39973 [WEBRTCP] Add Streamusage validation for WebRTCP
  examples/camera-app/camera-common/include/camera-avstream-controller/camera-avstream-controller.h
  examples/camera-app/camera-common/include/camera-device-interface.h
  examples/camera-app/linux/include/camera-device.h
  examples/camera-app/linux/include/clusters/camera-avstream-mgmt/camera-av-stream-manager.h
  examples/camera-app/linux/include/clusters/webrtc-provider/webrtc-provider-manager.h
  examples/camera-app/linux/src/camera-device.cpp
  examples/camera-app/linux/src/clusters/camera-avstream-mgmt/camera-av-stream-manager.cpp
  examples/camera-app/linux/src/clusters/webrtc-provider/webrtc-provider-manager.cpp
  src/app/clusters/webrtc-transport-provider-server/webrtc-transport-provider-server.cpp
  src/app/clusters/webrtc-transport-provider-server/webrtc-transport-provider-server.h
  src/python_testing/TC_WEBRTCPTestBase.py
  src/python_testing/TC_WEBRTCP_2_5.py
Labels: examples, app, review - approved, tests

#40793 Fix/Update WMark and OSD checks for VideoStreamModify and SnapshotStreamAllocate commands.
  src/app/clusters/camera-av-stream-management-server/camera-av-stream-management-server.cpp
Labels: app, review - approved

#40838 Add basic support for concatenated QR codes to MTRSetupPayload.
  src/darwin/Framework/CHIP/MTRSetupPayload.mm
  src/darwin/Framework/CHIPTests/MTRSetupPayloadTests.m
Labels: darwin

#40680 Refactor Stream Modify and Deallocate to perform validation checks in the SDK cluster code.
  examples/camera-app/linux/src/clusters/camera-avstream-mgmt/camera-av-stream-manager.cpp
  src/app/clusters/camera-av-stream-management-server/camera-av-stream-management-server.cpp
  src/app/clusters/camera-av-stream-management-server/camera-av-stream-management-server.h
Labels: examples, app, review - approved

#40688 Fix AdministratorFabricIndex Max value allowed #40179
  src/python_testing/TC_JCM_1_1.py
  src/python_testing/TC_JCM_1_2.py
  src/python_testing/TC_JFADMIN_2_1.py
  src/python_testing/TC_JFDS_2_1.py
Labels: review - approved, tests

#40694 [Telink] Update Docker image (Zephyr update)
  integrations/docker/images/base/chip-build/version
  integrations/docker/images/stage-2/chip-build-telink-zephyr_3_3/Dockerfile
  integrations/docker/images/stage-2/chip-build-telink/Dockerfile
Labels: integrations, review - pending, docker, conflict

#40486 Commodity Metering cluster test scripts update: TC_COMMTR_2_1 and TC_COMMTR_3_1
  src/python_testing/TC_COMMTR_2_1.py
  src/python_testing/TC_COMMTR_3_1.py
  src/python_testing/TC_COMMTR_TestBase.py
Labels: review - approved, cert blocker, tests, 1.5-qa-required

#40815 Fix Push AV Server Shutdown flow
  examples/camera-app/camera-common/src/camera-app.cpp
  src/app/clusters/push-av-stream-transport-server/CodegenIntegration.cpp
  src/app/clusters/push-av-stream-transport-server/push-av-stream-transport-cluster.h
  src/app/clusters/push-av-stream-transport-server/push-av-stream-transport-delegate.h
  src/app/clusters/push-av-stream-transport-server/push-av-stream-transport-logic.cpp
  src/app/clusters/push-av-stream-transport-server/push-av-stream-transport-logic.h
  src/app/clusters/push-av-stream-transport-server/tests/TestPushAVStreamTransportCluster.cpp
Labels: examples, app, review - pending, tests, sdk-maintainer-approved

#40309 Define a new commissioning API for Matter.framework.
  src/darwin/Framework/CHIP/MTRCommissioneeInfo.h
  src/darwin/Framework/CHIP/MTRCommissioningDelegate.h
  src/darwin/Framework/CHIP/MTRCommissioningDelegate_Internal.h
  src/darwin/Framework/CHIP/MTRCommissioningOperation.h
  src/darwin/Framework/CHIP/MTRCommissioningOperation.mm
  src/darwin/Framework/CHIP/MTRCommissioningOperation_Internal.h
  src/darwin/Framework/CHIP/MTRCommissioningParameters.h
  src/darwin/Framework/CHIP/MTRCommissioningParameters.mm
  src/darwin/Framework/CHIP/MTRCommissioningParameters_Internal.h
  src/darwin/Framework/CHIP/MTRDeviceControllerDelegateBridge.h
  src/darwin/Framework/CHIP/MTRDeviceControllerDelegateBridge.mm
  src/darwin/Framework/CHIP/MTRDeviceControllerDelegate_Internal.h
  src/darwin/Framework/CHIP/MTRDeviceControllerStartupParams.h
  src/darwin/Framework/CHIP/MTRDeviceController_Concrete.h
  src/darwin/Framework/CHIP/MTRDeviceController_Concrete.mm
  src/darwin/Framework/CHIP/MTRDeviceController_Internal.h
  src/darwin/Framework/CHIP/Matter.h
  src/darwin/Framework/CHIPTests/MTRPairingTests.m
  src/darwin/Framework/Matter.xcodeproj/project.pbxproj
Labels: darwin, controller

#40466 Meter Identification cluster test scripts update: TC_MTRID_2_1 and TC_MTRID_3_1
  src/python_testing/TC_MTRIDTestBase.py
  src/python_testing/TC_MTRID_2_1.py
  src/python_testing/TC_MTRID_3_1.py
Labels: review - approved, tests

#40853 Update correct TLS end point ID in the response
  examples/all-clusters-app/all-clusters-common/include/tls-client-management-instance.h
  examples/all-clusters-app/all-clusters-common/src/tls-client-management-instance.cpp
Labels: examples, review - approved

#40837 Rename JCM test cases. Update tests to test plan
  src/python_testing/TC_CADMIN_1_27.py
  src/python_testing/TC_CADMIN_1_28.py
Labels: review - approved, tests

#40790 [Closure] Fix attribute updates in closure app when the required features are not supported.
  examples/closure-app/linux/ClosureManager.cpp
  examples/closure-app/silabs/src/ClosureManager.cpp
Labels: examples, review - approved

#40750 [Camera] Add WebRTC support over WebSocket in python controller
  src/controller/python/BUILD.gn
  src/controller/python/matter/webrtc/RTCClient.cpp
  src/controller/python/matter/webrtc/WebRTC.cpp
  src/controller/python/matter/webrtc/WebRTC.h
  src/controller/python/matter/webrtc/__init__.py
  src/controller/python/matter/webrtc/async_websocket_client.py
  src/controller/python/matter/webrtc/browser_peer_connection.py
  src/controller/python/matter/webrtc/browser_webrtc_client.py
  src/controller/python/matter/webrtc/command.py
  src/controller/python/matter/webrtc/libdatachannel_peer_connection.py
  src/controller/python/matter/webrtc/libdatachannel_webrtc_client.py
  src/controller/python/matter/webrtc/library_handle.py
  src/controller/python/matter/webrtc/types.py
  src/controller/python/matter/webrtc/utils.py
  src/controller/python/matter/webrtc/webrtc_manager.py
  src/controller/webrtc/WebRTCClient.cpp
  src/controller/webrtc/WebRTCClient.h
  src/controller/webrtc/WebRTCTransportRequestorManager.cpp
  src/controller/webrtc/WebRTCTransportRequestorManager.h
  src/python_testing/TC_AVSM_2_16.py
  src/python_testing/TC_WEBRTC_1_1.py
  src/python_testing/TC_WEBRTC_1_2.py
  src/python_testing/TC_WEBRTC_1_3.py
  src/python_testing/TC_WEBRTC_1_4.py
Labels: controller, review - approved, tests, cameras, v1.5

#40749 [Camera] Add push av server and tls endpoint provisioning support for PAVSTI TCs
  src/python_testing/TC_PAVSTI_1_1.py
  src/python_testing/TC_PAVSTI_1_2.py
  src/python_testing/TC_PAVSTI_Utils.py
  src/python_testing/requirements.txt
  src/python_testing/test_metadata.yaml
Labels: review - approved, tests, cameras, v1.5

#40821 Enable PushAV server cluster TCs for CI build.
  examples/all-clusters-app/all-clusters-common/include/push-av-stream-transport-delegate-impl.h
  examples/all-clusters-app/all-clusters-common/src/push-av-stream-transport-delegate-impl.cpp
  examples/camera-app/linux/include/clusters/push-av-stream-transport/push-av-stream-manager.h
  examples/camera-app/linux/src/clusters/push-av-stream-transport/push-av-stream-manager.cpp
  src/app/clusters/push-av-stream-transport-server/push-av-stream-transport-delegate.h
  src/app/clusters/push-av-stream-transport-server/push-av-stream-transport-logic.cpp
  src/app/clusters/push-av-stream-transport-server/tests/TestPushAVStreamTransportCluster.cpp
  src/app/clusters/zone-management-server/zone-management-server.h
  src/python_testing/TC_PAVSTI_Utils.py
  src/python_testing/TC_PAVSTTestBase.py
  src/python_testing/TC_PAVST_2_1.py
  src/python_testing/TC_PAVST_2_2.py
  src/python_testing/TC_PAVST_2_3.py
  src/python_testing/TC_PAVST_2_4.py
  src/python_testing/TC_PAVST_2_5.py
  src/python_testing/TC_PAVST_2_6.py
  src/python_testing/TC_PAVST_2_7.py
  src/python_testing/TC_PAVST_2_8.py
  src/python_testing/TC_PAVST_2_9.py
  src/python_testing/test_metadata.yaml
Labels: examples, app, review - approved, tests

#40797 Update PICS for Optional Attributes and Remove Mandatory PICS from script as per test-plan updates
  src/app/tests/suites/certification/Test_TC_TMP_2_2.yaml
  src/python_testing/TC_TMP_2_1.py
Labels: app, review - pending, tests, sdk-maintainer-approved

#39551 Camera app: Allow custom stream allocation & reuse closest stream param during snapshot capture
  examples/all-clusters-app/all-clusters-common/include/camera-av-stream-delegate-impl.h
  examples/all-clusters-app/all-clusters-common/src/camera-av-stream-delegate-impl.cpp
  examples/camera-app/camera-common/include/camera-device-interface.h
  examples/camera-app/linux/include/camera-device.h
  examples/camera-app/linux/include/clusters/camera-avstream-mgmt/camera-av-stream-manager.h
  examples/camera-app/linux/src/camera-device.cpp
  examples/camera-app/linux/src/clusters/camera-avstream-mgmt/camera-av-stream-manager.cpp
  src/app/clusters/camera-av-stream-management-server/camera-av-stream-management-server.cpp
  src/app/clusters/camera-av-stream-management-server/camera-av-stream-management-server.h
Labels: examples, app, review - approved

#40891 Video stream name clean up to avoid conflict with audio stream
  examples/camera-app/linux/src/camera-device.cpp
Labels: review - approved

#40894 Update 1.4.2 DM files to latest 1.4.2 spec tag (master branch)
  .github/.wordlist.txt
  data_model/1.4.2/clusters/LocalizationUnit.xml
  data_model/1.4.2/spec_sha
  data_model/1.4.2/spec_tag
  docs/ids_and_codes/spec_clusters.md
  docs/ids_and_codes/spec_device_types.md
Labels: documentation, github, review - approved

#40893 Update 1.4.2 DM files to latest 1.4.2 spec tag (v1.4.2 branch)
  .github/.wordlist.txt
  data_model/1.4.2/clusters/LocalizationUnit.xml
  data_model/1.4.2/spec_sha
  data_model/1.4.2/spec_tag
  docs/ids_and_codes/spec_clusters.md
  docs/ids_and_codes/spec_device_types.md
Labels: documentation, github, sdk-maintainer-approved

#40852 [NXP][examples] update NXP thermostat ZAP files to align with 1.4.2 spec
  examples/thermostat/nxp/zap/thermostat_matter_br.matter
  examples/thermostat/nxp/zap/thermostat_matter_br.zap
  examples/thermostat/nxp/zap/thermostat_matter_eth.matter
  examples/thermostat/nxp/zap/thermostat_matter_eth.zap
  examples/thermostat/nxp/zap/thermostat_matter_thread.matter
  examples/thermostat/nxp/zap/thermostat_matter_thread.zap
  examples/thermostat/nxp/zap/thermostat_matter_wifi.matter
  examples/thermostat/nxp/zap/thermostat_matter_wifi.zap
Labels: examples, review - approved

#36618 [Silabs] Making the energy-management example more generic
  examples/energy-management-app/silabs/src/AppTask.cpp
Labels: examples, review - pending, sdk-maintainer-approved

#40885 Increase unit test coverage of `include/platform` by 6.6%
  src/BUILD.gn
  src/include/platform/AttributeList.h
  src/include/platform/tests/BUILD.gn
  src/include/platform/tests/TestAttributeList.cpp
Labels: platform, review - pending, sdk-maintainer-approved

#40724 Configure ccache for a greater hit ratio
  scripts/helpers/ccache-prefix-cpp.sh
  scripts/setup/bootstrap.sh
Labels: scripts, review - approved

#40646 Use C++17 syntax to properly define BLEEndPoint storage alignment
  src/ble/BLEEndPoint.h
  src/ble/BleLayer.cpp
  src/ble/BtpEngine.h
Labels: ble, review - approved

#40873 Modify Audio pipeline to support both live stream and clip recording
  examples/camera-app/linux/include/camera-device.h
  examples/camera-app/linux/src/camera-device.cpp
  examples/camera-app/linux/src/clusters/webrtc-provider/webrtc-provider-manager.cpp
  examples/camera-app/linux/src/webrtc-libdatachannel.cpp
  examples/camera-controller/webrtc-manager/WebRTCManager.cpp
  examples/camera-controller/webrtc-manager/WebRTCManager.h
  src/controller/webrtc/WebRTCClient.cpp
  src/controller/webrtc/WebRTCClient.h
Labels: examples, controller, review - approved, cameras

#40860 TC-IDM-14.1: Add (root-node-restricted clusters)
  src/python_testing/TC_DeviceConformance.py
  src/python_testing/TestConformanceTest.py
Labels: review - approved, tests

#40896 [TC-TSTAT-4.2] Remove timeout values from atomic request
  src/python_testing/TC_TSTAT_4_2.py
Labels: review - approved, tests

#40817 Fix various issues with TCP connections
  src/controller/python/BUILD.gn
  src/controller/python/ChipDeviceController-ScriptBinding.cpp
  src/lib/support/AutoRelease.h
  src/lib/support/CodeUtils.h
  src/messaging/ExchangeContext.cpp
  src/messaging/ExchangeContext.h
  src/messaging/ExchangeDelegate.h
  src/messaging/ExchangeMgr.cpp
  src/messaging/ExchangeMgr.h
  src/messaging/tests/echo/echo_requester.cpp
  src/protocols/secure_channel/CASESession.cpp
  src/protocols/secure_channel/CASESession.h
  src/protocols/secure_channel/PairingSession.cpp
  src/transport/Session.h
  src/transport/SessionConnectionDelegate.h
  src/transport/SessionDelegate.h
  src/transport/SessionManager.cpp
  src/transport/SessionManager.h
  src/transport/TransportMgr.h
  src/transport/TransportMgrBase.cpp
  src/transport/TransportMgrBase.h
  src/transport/raw/ActiveTCPConnectionState.h
  src/transport/raw/Base.h
  src/transport/raw/TCP.cpp
  src/transport/raw/TCP.h
  src/transport/raw/Tuple.h
  src/transport/raw/tests/TCPBaseTestAccess.h
  src/transport/raw/tests/TestTCP.cpp
Labels: transport, lib, controller, review - approved, support, messaging, protocols

#40892 [Test Step Update] Updating test step 9 to include expire session and allow some time for device to be ready after manual reboot
  src/python_testing/TC_ACL_2_10.py
Labels: review - pending, tests, sdk-maintainer-approved

#40921 Update log format to avoid android compiler complaining.
  src/nfc/NFCTag.cpp
Labels: hotfix, review - pending

#40927 Use new[]/delete[] consistently in unit test.
  src/app/clusters/commodity-tariff-server/tests/TestCommodityTariffBaseDataClass.cpp
Labels: hotfix, app, review - pending

#40723 [E2E][JF] Implement OJCW error cases
  src/app/clusters/operational-credentials-server/operational-credentials-server.cpp
  src/app/server/CommissioningWindowManager.cpp
  src/app/server/CommissioningWindowManager.h
Labels: app, review - approved, joint-fabric

#40924 [NXP] Update BLEManagerCommon and BLE Application Manager, cmake configs
  examples/platform/nxp/common/Kconfig
  examples/platform/nxp/common/app_ble/source/NXPHostBLEApplicationManager.cpp
  examples/platform/nxp/common/app_common.cmake
  src/platform/nxp/common/ble/BLEManagerCommon.cpp
  src/platform/nxp/common/ble/BLEManagerCommon.h
Labels: examples, platform, review - approved, nxp

#40908 Update AVSUM 2.7 test script to verify update of DPTZStreams attribute for corresponding VideoStream de-allocation.
  src/python_testing/TC_AVSUM_2_7.py
Labels: review - approved, tests, cameras

#40950 Follow-up for tls certificate management addressing some PR comments & using shared utility
  src/app/clusters/tls-certificate-management-server/tls-certificate-management-server.cpp
  src/python_testing/TC_PAVSTI_Utils.py
  src/python_testing/TC_TLSCERT.py
  src/python_testing/TC_TLSCLIENT_1_1.py
  src/python_testing/TC_TLS_Utils.py
  src/python_testing/test_metadata.yaml
Labels: app, review - approved, tests

#40840 TLS client management and other changes for clip upload in Push AV
  examples/all-clusters-app/all-clusters-common/include/camera-av-stream-delegate-impl.h
  examples/all-clusters-app/all-clusters-common/include/push-av-stream-transport-delegate-impl.h
  examples/all-clusters-app/all-clusters-common/src/camera-av-stream-delegate-impl.cpp
  examples/camera-app/camera-common/src/camera-app.cpp
  examples/camera-app/linux/include/clusters/camera-avstream-mgmt/camera-av-stream-manager.h
  examples/camera-app/linux/include/clusters/push-av-stream-transport/push-av-stream-manager.h
  examples/camera-app/linux/include/pushav-clip-recorder.h
  examples/camera-app/linux/include/pushav-transport/pushav-transport.h
  examples/camera-app/linux/include/uploader/pushav-uploader.h
  examples/camera-app/linux/src/camera-device.cpp
  examples/camera-app/linux/src/clusters/camera-avstream-mgmt/camera-av-stream-manager.cpp
  examples/camera-app/linux/src/clusters/push-av-stream-transport/push-av-stream-manager.cpp
  examples/camera-app/linux/src/pushav-clip-recorder.cpp
  examples/camera-app/linux/src/pushav-transport/pushav-transport.cpp
  examples/camera-app/linux/src/uploader/pushav-uploader.cpp
  src/app/clusters/camera-av-stream-management-server/camera-av-stream-management-server.h
  src/app/clusters/push-av-stream-transport-server/BUILD.gn
  src/app/clusters/push-av-stream-transport-server/CodegenIntegration.cpp
  src/app/clusters/push-av-stream-transport-server/CodegenIntegration.h
  src/app/clusters/push-av-stream-transport-server/push-av-stream-transport-cluster.h
  src/app/clusters/push-av-stream-transport-server/push-av-stream-transport-delegate.h
  src/app/clusters/push-av-stream-transport-server/push-av-stream-transport-logic.cpp
  src/app/clusters/push-av-stream-transport-server/push-av-stream-transport-logic.h
  src/app/clusters/push-av-stream-transport-server/tests/TestPushAVStreamTransportCluster.cpp
  src/app/clusters/tls-certificate-management-server/tls-certificate-management-server.h
Labels: examples, app, review - approved

#40942 [FreeRTOS Platform] Allow StopEventLoopTask even if the mEventLoopTask is not created
  .github/workflows/qemu.yaml
  src/include/platform/internal/GenericPlatformManagerImpl_FreeRTOS.ipp
Labels: platform, github, workflows, review - approved

#40964 [NXP][RW612] Changing the controller initialization order
  src/platform/nxp/rt/rw61x/PlatformManagerImpl.cpp
Labels: platform, review - approved, nxp

#40720 Updating PICS values in CNET tests
  src/python_testing/TC_CNET_4_1.py
  src/python_testing/TC_CNET_4_15.py
  src/python_testing/TC_CNET_4_16.py
  src/python_testing/TC_CNET_4_4.py
Labels: review - pending, tests, sdk-maintainer-approved

#40977 Allow large payload in `BufferedReadCallback`, enable TLS TCs
  src/app/BufferedReadCallback.cpp
  src/app/BufferedReadCallback.h
  src/controller/python/matter/ChipDeviceCtrl.py
  src/controller/python/matter/clusters/Attribute.py
  src/controller/python/matter/clusters/attribute.cpp
  src/python_testing/TC_TLSCERT.py
  src/python_testing/TC_TLS_Utils.py
  src/python_testing/matter_testing_infrastructure/matter/testing/matter_testing.py
Labels: controller, app, review - approved, tests

#32422 Device composition tests: Add option to run tests from file
  .github/workflows/mypy-validation.yml
  src/controller/python/BUILD.gn
  src/controller/python/JsonTlv.cpp
  src/controller/python/matter/MatterTlvJson.py
  src/python_testing/TC_DeviceBasicComposition.py
  src/python_testing/matter_testing_infrastructure/matter/testing/basic_composition.py
Labels: tools, controller, github, workflows, review - approved, tests

#40349 [ESP32]: Added support for opencores ethernet for QEMU in ethernet network driver.
  src/platform/ESP32/NetworkCommissioningDriver_Ethernet.cpp
Labels: platform, esp32, review - approved

#40987 [Camera] Modify implementation to access PushAVStreamTansportServer from Camera app
  examples/all-clusters-app/all-clusters-common/include/push-av-stream-transport-delegate-impl.h
  examples/camera-app/linux/include/clusters/push-av-stream-transport/push-av-stream-manager.h
  examples/camera-app/linux/include/pushav-clip-recorder.h
  examples/camera-app/linux/include/pushav-transport/pushav-transport.h
  examples/camera-app/linux/src/clusters/push-av-stream-transport/push-av-stream-manager.cpp
  src/app/clusters/push-av-stream-transport-server/push-av-stream-transport-cluster.h
  src/app/clusters/push-av-stream-transport-server/push-av-stream-transport-delegate.h
  src/app/clusters/push-av-stream-transport-server/push-av-stream-transport-logic.cpp
  src/app/clusters/push-av-stream-transport-server/push-av-stream-transport-logic.h
  src/app/clusters/push-av-stream-transport-server/tests/TestPushAVStreamTransportCluster.cpp
Labels: examples, app, review - approved

#40474 [Unit Test] Create namespace parser unit test
  .github/workflows/tests.yaml
  src/python_testing/TestSpecParsingNamespace.py
  src/python_testing/matter_testing_infrastructure/matter/testing/matter_testing.py
  src/python_testing/matter_testing_infrastructure/matter/testing/problem_notices.py
  src/python_testing/matter_testing_infrastructure/matter/testing/spec_parsing.py
  src/python_testing/test_metadata.yaml
Labels: github, workflows, review - approved, tests

#40548 Refactor aliases from matter_testing first part. Refactored Matchers and Timeoperations aliases.
  src/python_testing/TC_CNET_4_4.py
  src/python_testing/TC_CNET_4_9.py
  src/python_testing/TC_DA_1_2.py
  src/python_testing/TC_DA_1_5.py
  src/python_testing/TC_DRLK_2_13.py
  src/python_testing/TC_DRLK_2_5.py
  src/python_testing/TC_DRLK_2_9.py
  src/python_testing/TC_ECOINFO_2_1.py
  src/python_testing/TC_IDM_1_2.py
  src/python_testing/TC_IDM_1_4.py
  src/python_testing/TC_MCORE_FS_1_2.py
  src/python_testing/TC_MCORE_FS_1_3.py
  src/python_testing/TC_MCORE_FS_1_4.py
  src/python_testing/TC_MCORE_FS_1_5.py
  src/python_testing/TC_RVCCLEANM_2_1.py
  src/python_testing/TC_RVCCLEANM_2_2.py
  src/python_testing/TC_RVCOPSTATE_2_3.py
  src/python_testing/TC_RVCOPSTATE_2_4.py
  src/python_testing/TC_RVCOPSTATE_2_5.py
  src/python_testing/TC_RVCRUNM_2_1.py
  src/python_testing/TC_TIMESYNC_2_11.py
  src/python_testing/TC_TIMESYNC_2_12.py
  src/python_testing/TC_TIMESYNC_2_13.py
  src/python_testing/TC_TIMESYNC_2_4.py
  src/python_testing/TC_TIMESYNC_2_7.py
  src/python_testing/TC_TIMESYNC_2_8.py
  src/python_testing/TC_TIMESYNC_2_9.py
  src/python_testing/TC_TLS_Utils.py
  src/python_testing/TC_WHM_2_1.py
  src/python_testing/TestBatchInvoke.py
  src/python_testing/TestCommissioningTimeSync.py
  src/python_testing/TestMatterTestingSupport.py
  src/python_testing/drlk_2_x_common.py
  src/python_testing/matter_testing_infrastructure/matter/testing/matter_testing.py
Labels: review - pending, tests, sdk-maintainer-approved

#41002 [Ameba] Add OnConnectWiFiNetworkFailed to AmebaWiFiDriver
  src/platform/Ameba/ConnectivityManagerImpl.cpp
  src/platform/Ameba/NetworkCommissioningDriver.h
  src/platform/Ameba/NetworkCommissioningWiFiDriver.cpp
Labels: review - pending, sdk-maintainer-approved

#40941 [Ameba][v1.4-branch] Add OnConnectWiFiNetworkFailed to AmebaWiFiDriver
  src/platform/Ameba/ConnectivityManagerImpl.cpp
  src/platform/Ameba/NetworkCommissioningDriver.h
  src/platform/Ameba/NetworkCommissioningWiFiDriver.cpp
Labels: platform

#40903 TC-IDM-3.2: Remove some repeated steps and steps testing removed spec requirements.
  src/app/tests/suites/certification/Test_TC_IDM_3_2.yaml
Labels: review - approved

#41013 Notify MTRCommissioningDelegate when starting network scans.
  src/darwin/Framework/CHIP/MTRCommissioningOperation.mm
  src/darwin/Framework/CHIP/MTRDeviceControllerDelegateBridge.h
  src/darwin/Framework/CHIP/MTRDeviceControllerDelegateBridge.mm
  src/darwin/Framework/CHIP/MTRDeviceControllerDelegate_Internal.h
Labels: darwin

#41004 [Camera] Update push-av-server and Integration TCs to include server ip in subject CN
  src/python_testing/TC_PAVSTI_1_1.py
  src/python_testing/TC_PAVSTI_1_2.py
  src/python_testing/TC_PAVSTI_Utils.py
  src/tools/push_av_server/server.py
Labels: tools, review - approved, tests

#40623 Testing framework: Add function to generate PICS from device attributes
  .github/workflows/tests.yaml
  src/python_testing/TestPics.py
  src/python_testing/matter_testing_infrastructure/matter/testing/pics.py
  src/python_testing/test_metadata.yaml
Labels: github, workflows, review - approved, tests

#41003 [Camera] Fix FaultInjection in SendAnswer
  examples/camera-app/camera-common/src/camera-app.cpp
  examples/camera-app/linux/src/clusters/webrtc-provider/webrtc-provider-manager.cpp
Labels: examples, review - approved, cameras, v1.5

#40829 Fix: Bridge Action cluster NodeLabel attribute shows Success
  examples/bridge-app/linux/main.cpp
  src/app/tests/suites/certification/Test_TC_BRBINFO_2_1.yaml
Labels: examples, app, review - approved, tests

#41010 Pressure Measurement: Make min/max spec compliant
  examples/all-clusters-app/all-clusters-common/all-clusters-app.matter
  examples/all-clusters-app/all-clusters-common/all-clusters-app.zap
Labels: review - approved

#41031 Align naming of test-exposed headers in Matter.framework.
  src/darwin/Framework/CHIP/MTRError_Internal.h
  src/darwin/Framework/CHIP/MTRError_Test.h
  src/darwin/Framework/CHIPTests/MTRErrorMappingTests.m
  src/darwin/Framework/Matter.xcodeproj/project.pbxproj
Labels: darwin

#36311 TC-PRS-2.1 - Updates minValue in step 3 as per VS
  src/app/tests/suites/certification/Test_TC_PRS_2_1.yaml
Labels: app, review - pending, fast track, tests, matter-1.4-te2-script-change

#40584 build_python: Allow to change output root
  scripts/build_python.sh
Labels: scripts, review - approved

#41024 [Camera] Extract dynamic payload type from SDP
  examples/camera-app/camera-common/include/transport/transport.h
  examples/camera-app/linux/include/camera-device.h
  examples/camera-app/linux/include/pushav-transport/pushav-transport.h
  examples/camera-app/linux/include/transport/default-transport.h
  examples/camera-app/linux/include/webrtc-abstract.h
  examples/camera-app/linux/include/webrtc-transport.h
  examples/camera-app/linux/src/camera-device.cpp
  examples/camera-app/linux/src/clusters/webrtc-provider/webrtc-provider-manager.cpp
  examples/camera-app/linux/src/pushav-prerollbuffer.cpp
  examples/camera-app/linux/src/pushav-transport/pushav-transport.cpp
  examples/camera-app/linux/src/webrtc-libdatachannel.cpp
  examples/camera-app/linux/src/webrtc-transport.cpp
  examples/platform/linux/Options.cpp
  examples/platform/linux/Options.h
Labels: examples, platform, linux, review - approved, cameras, v1.5

#39737 Updates MdnsDiscovery class and affected test scripts to address issues
  src/python_testing/TC_CADMIN_1_15.py
  src/python_testing/TC_CADMIN_1_3_4.py
  src/python_testing/TC_CADMIN_1_5.py
  src/python_testing/TC_ICDM_5_1.py
  src/python_testing/TC_SC_4_3.py
  src/python_testing/mdns_discovery/README.md
  src/python_testing/mdns_discovery/data_classes/aaaa_record.py
  src/python_testing/mdns_discovery/data_classes/json_serializable.py
  src/python_testing/mdns_discovery/data_classes/mdns_service_info.py
  src/python_testing/mdns_discovery/data_classes/ptr_record.py
  src/python_testing/mdns_discovery/enums/mdns_service_type.py
  src/python_testing/mdns_discovery/mdns_async_service_info.py
  src/python_testing/mdns_discovery/mdns_discovery.py
  src/python_testing/mdns_discovery/service_listeners/mdns_service_listener.py
  src/python_testing/mdns_discovery/utils/network.py
  src/python_testing/requirements.txt
  src/python_testing/support_modules/cadmin_support.py
Labels: github, python, tests, sdk-maintainer-approved

#41012 TC-SC-7.1: Add step to check passcodes
  src/python_testing/TC_SC_7_1.py
  src/python_testing/test_testing/test_TC_SC_7_1.py
Labels: review - approved, tests

#41027 Improve MPD file handling in camera app uploader
  examples/camera-app/linux/include/uploader/pushav-uploader.h
  examples/camera-app/linux/src/pushav-clip-recorder.cpp
  examples/camera-app/linux/src/pushav-transport/pushav-transport.cpp
  examples/camera-app/linux/src/uploader/pushav-uploader.cpp
Labels: examples, review - approved

#41030 [WebRTC] Implement TC_WEBRTCP_2_6, TC_WEBRTCP_2_7 and TC_WEBRTCP_2_8
  examples/camera-app/camera-common/include/camera-avstream-controller/camera-avstream-controller.h
  examples/camera-app/camera-common/include/camera-device-interface.h
  examples/camera-app/linux/include/CameraAppCommandDelegate.h
  examples/camera-app/linux/include/camera-device.h
  examples/camera-app/linux/include/clusters/camera-avstream-mgmt/camera-av-stream-manager.h
  examples/camera-app/linux/src/CameraAppCommandDelegate.cpp
  examples/camera-app/linux/src/camera-device.cpp
  examples/camera-app/linux/src/clusters/camera-avstream-mgmt/camera-av-stream-manager.cpp
  src/python_testing/TC_WEBRTCP_2_6.py
  src/python_testing/TC_WEBRTCP_2_7.py
  src/python_testing/TC_WEBRTCP_2_8.py
Labels: examples, app, review - approved, tests

#41037 Updates to Video and Snapshot Stream Allocation/Modification
  examples/camera-app/camera-common/include/camera-device-interface.h
  examples/camera-app/linux/include/camera-device.h
  examples/camera-app/linux/src/camera-device.cpp
  examples/camera-app/linux/src/clusters/camera-avstream-mgmt/camera-av-stream-manager.cpp
  src/app/clusters/camera-av-stream-management-server/camera-av-stream-management-server.cpp
  src/app/clusters/camera-av-stream-management-server/camera-av-stream-management-server.h
  src/python_testing/TC_AVSM_2_2.py
  src/python_testing/TC_AVSM_2_3.py
  src/python_testing/TC_AVSM_2_7.py
  src/python_testing/TC_AVSM_StreamReuseRangeParams.py
Labels: examples, app, review - approved, tests

#41048 Update Darwin availability annotations.
  src/darwin/Framework/CHIP/templates/availability.yaml
Labels: darwin

#41039 [NXP][platform][mcxw72] Add CMake build support
  .github/workflows/examples-nxp.yaml
  examples/contact-sensor-app/nxp/mcxw72/BUILD.gn
  examples/lighting-app/nxp/mcxw72/BUILD.gn
  examples/lock-app/nxp/mcxw72/BUILD.gn
  examples/platform/nxp/config/prj_thread_mtd_fdata.conf
  examples/platform/nxp/config/prj_thread_mtd_fdata_low_power.conf
  examples/platform/nxp/config/prj_thread_mtd_ota.conf
  examples/platform/nxp/config/prj_thread_mtd_ota_fdata.conf
  examples/platform/nxp/config/prj_thread_mtd_ota_fdata_low_power.conf
  examples/platform/nxp/config/prj_thread_mtd_ota_low_power.conf
  scripts/build/build/targets.py
  scripts/build/builders/nxp.py
Labels: examples, scripts, platform, github, workflows, review - approved, nxp

#41043 [Silabs] Add test event trigger config header to ProvisionStorageFlash
  examples/platform/silabs/provision/ProvisionStorageFlash.cpp
Labels: examples, platform, review - pending, silabs, sdk-maintainer-approved

#41076 [SILABS] Adds fixes with respect to Wi-Fi state management and fallback values
  src/platform/silabs/NetworkCommissioningWiFiDriver.cpp
  src/platform/silabs/wifi/SiWx/WifiInterfaceImpl.cpp
  src/platform/silabs/wifi/WifiInterface.cpp
  src/platform/silabs/wifi/WifiInterface.h
Labels: platform, review - pending, silabs, sdk-maintainer-approved

#41053 Ensure that mDefaultCommissioner is never null on CHIPDeviceController.
  src/controller/CHIPDeviceController.cpp
  src/controller/CHIPDeviceController.h
  src/controller/jcm/DeviceCommissioner.cpp
  src/darwin/Framework/CHIP/MTRDeviceAttestationDelegateBridge.mm
  src/darwin/Framework/CHIP/MTRDeviceController_Concrete.mm
  src/darwin/Framework/CHIP/MTROperationalCredentialsDelegate.mm
Labels: darwin, controller, review - approved

#41067 Add support for requesting network credentials without a scan.
  examples/chip-tool/commands/common/Command.cpp
  examples/chip-tool/commands/common/Command.h
  examples/chip-tool/commands/pairing/PairingCommand.cpp
  examples/chip-tool/commands/pairing/PairingCommand.h
  src/controller/AutoCommissioner.cpp
  src/controller/AutoCommissioner.h
  src/controller/CHIPDeviceController.cpp
  src/controller/CommissioningDelegate.cpp
  src/controller/CommissioningDelegate.h
  src/controller/DevicePairingDelegate.h
Labels: tools, examples, controller, review - approved

#40976 Python tests: Error on incorrect test parameters
  scripts/tests/run_python_test.py
  src/python_testing/TC_DGSW_2_2.py
  src/python_testing/TC_TLSCERT.py
  src/python_testing/TC_TLSCLIENT_1_1.py
  src/python_testing/matter_testing_infrastructure/matter/testing/runner.py
Labels: scripts, review - pending, tests, sdk-maintainer-approved

#41085 [Silabs] Rename ZclCallbacks.cpp to DataModelCallbacks.cpp to match new standa…
  examples/air-quality-sensor-app/silabs/BUILD.gn
  examples/air-quality-sensor-app/silabs/src/DataModelCallbacks.cpp
  examples/chef/silabs/BUILD.gn
  examples/chef/silabs/src/DataModelCallbacks.cpp
  examples/dishwasher-app/silabs/BUILD.gn
  examples/dishwasher-app/silabs/src/DataModelCallbacks.cpp
  examples/light-switch-app/silabs/BUILD.gn
  examples/light-switch-app/silabs/src/DataModelCallbacks.cpp
  examples/lighting-app/silabs/BUILD.gn
  examples/lighting-app/silabs/src/DataModelCallbacks.cpp
  examples/lit-icd-app/silabs/BUILD.gn
  examples/lit-icd-app/silabs/src/DataModelCallbacks.cpp
  examples/lock-app/silabs/BUILD.gn
  examples/lock-app/silabs/src/DataModelCallbacks.cpp
  examples/pump-app/silabs/BUILD.gn
  examples/pump-app/silabs/src/DataModelCallbacks.cpp
  examples/refrigerator-app/silabs/BUILD.gn
  examples/refrigerator-app/silabs/src/DataModelCallbacks.cpp
  examples/smoke-co-alarm-app/silabs/BUILD.gn
  examples/smoke-co-alarm-app/silabs/src/DataModelCallbacks.cpp
  examples/thermostat/silabs/BUILD.gn
  examples/thermostat/silabs/src/DataModelCallbacks.cpp
  examples/window-app/silabs/BUILD.gn
  examples/window-app/silabs/src/DataModelCallbacks.cpp
Labels: examples, review - pending, examples chef, sdk-maintainer-approved

#41102 Add / update documentation on code driven clusters
  .github/.wordlist.txt
  docs/guides/index.md
  docs/guides/migrating_ember_cluster_to_code_driven.md
  docs/guides/writing_clusters.md
Labels: documentation, github, review - pending

#39757 Fix: ensure TC-MOD-1.2 Test Case is listed in UI under python testing suite
  src/python_testing/TC_MOD_1_2.py
Labels: review - pending, tests, sdk-maintainer-approved

#41112 Lint rule to check for incorrect logging in Python modules
  .github/workflows/lint.yml
  scripts/build/build/__init__.py
  scripts/py_matter_idl/matter/idl/backwards_compatibility.py
  scripts/py_matter_idl/matter/idl/data_model_xml/__init__.py
  scripts/py_matter_idl/matter/idl/data_model_xml/handlers/__init__.py
  scripts/py_matter_idl/matter/idl/data_model_xml/handlers/context.py
  scripts/py_matter_idl/matter/idl/data_model_xml/handlers/derivation.py
  scripts/py_matter_idl/matter/idl/data_model_xml/handlers/handlers.py
  scripts/py_matter_idl/matter/idl/data_model_xml/handlers/parsing.py
  scripts/py_matter_idl/matter/idl/generators/__init__.py
  scripts/py_matter_idl/matter/idl/generators/java/__init__.py
  scripts/py_matter_idl/matter/idl/generators/kotlin/__init__.py
  scripts/py_matter_idl/matter/idl/generators/storage.py
  scripts/py_matter_idl/matter/idl/generators/type_definitions.py
  scripts/py_matter_idl/matter/idl/lint/__init__.py
  scripts/py_matter_idl/matter/idl/lint/lint_rules_parser.py
  scripts/py_matter_idl/matter/idl/matter_idl_parser.py
  scripts/py_matter_idl/matter/idl/test_zapxml.py
  scripts/py_matter_idl/matter/idl/zapxml/__init__.py
  scripts/py_matter_idl/matter/idl/zapxml/handlers/context.py
  scripts/py_matter_idl/matter/idl/zapxml/handlers/handlers.py
  scripts/py_matter_yamltests/matter/yamltests/parser.py
  scripts/py_matter_yamltests/matter/yamltests/websocket_runner.py
  src/controller/python/matter/CertificateAuthority.py
  src/controller/python/matter/ChipBluezMgr.py
  src/controller/python/matter/ChipCoreBluetoothMgr.py
  src/controller/python/matter/ChipDeviceCtrl.py
  src/controller/python/matter/MatterTlvJson.py
  src/controller/python/matter/clusters/Attribute.py
  src/controller/python/matter/discovery/__init__.py
  src/controller/python/matter/logging/__init__.py
  src/controller/python/matter/storage/__init__.py
  src/controller/python/matter/utils/CommissioningBuildingBlocks.py
  src/controller/python/matter/webrtc/async_websocket_client.py
  src/controller/python/matter/webrtc/browser_peer_connection.py
  src/controller/python/matter/webrtc/libdatachannel_peer_connection.py
  src/controller/python/matter/webrtc/utils.py
  src/controller/python/matter/webrtc/webrtc_manager.py
  src/controller/python/matter/yaml/runner.py
  src/controller/python/tests/scripts/cluster_objects.py
  src/python_testing/TC_AccessChecker.py
  src/python_testing/TC_SC_7_1.py
  src/python_testing/matter_testing_infrastructure/matter/testing/basic_composition.py
  src/python_testing/matter_testing_infrastructure/matter/testing/commissioning.py
  src/python_testing/matter_testing_infrastructure/matter/testing/decorators.py
  src/python_testing/matter_testing_infrastructure/matter/testing/event_attribute_reporting.py
  src/python_testing/matter_testing_infrastructure/matter/testing/matter_stack_state.py
  src/python_testing/matter_testing_infrastructure/matter/testing/matter_testing.py
  src/python_testing/matter_testing_infrastructure/matter/testing/metadata.py
  src/python_testing/matter_testing_infrastructure/matter/testing/runner.py
  src/python_testing/matter_testing_infrastructure/matter/testing/spec_parsing.py
  src/python_testing/matter_testing_infrastructure/matter/testing/tasks.py
  src/python_testing/matter_testing_infrastructure/matter/typings/matter/testing/apps.pyi
Labels: scripts, controller, github, workflows, review - pending, tests, sdk-maintainer-approved

#41115 Add event generation tests for Boolean State cluster
  src/app/clusters/boolean-state-server/tests/TestBooleanStateCluster.cpp
Labels: testing, app, review - pending, app-clusters, tests, sdk-maintainer-approved

#41025 [Test Step Fix] Fixing test step 4 definition to match with the test step 4 code in TC_TestAvailAttr unit test
  src/python_testing/TC_TestAttrAvail.py
Labels: review - pending, tests, sdk-maintainer-approved

#41119 Various API updates to new Matter.framework commissioning API.
  src/darwin/Framework/CHIP/MTRCommissioneeInfo.h
  src/darwin/Framework/CHIP/MTRCommissioningDelegate.h
  src/darwin/Framework/CHIP/MTRCommissioningOperation.h
  src/darwin/Framework/CHIP/MTRCommissioningOperation.mm
  src/darwin/Framework/CHIP/MTRCommissioningParameters.h
  src/darwin/Framework/CHIP/MTRCommissioningParameters.mm
  src/darwin/Framework/CHIP/MTRDeviceController.h
  src/darwin/Framework/CHIP/MTRDeviceControllerDelegateBridge.h
  src/darwin/Framework/CHIP/MTRDeviceControllerDelegateBridge.mm
  src/darwin/Framework/CHIP/MTRDeviceControllerDelegate_Internal.h
  src/darwin/Framework/CHIP/MTRDeviceController_Concrete.mm
Labels: darwin

#41135 Add documentation on command translation.
  docs/guides/migrating_ember_cluster_to_code_driven.md
Labels: documentation, review - pending

#41131 [Python] Lint for unintentional tuples
  .restyled.yaml
  credentials/generate_revocation_set.py
  pyproject.toml
  scripts/examples/tests/test.py
  scripts/py_matter_idl/matter/idl/test_matter_idl_parser.py
  scripts/py_matter_idl/matter/idl/test_zapxml.py
  scripts/py_matter_yamltests/matter/yamltests/parser.py
  scripts/tests/run_fuzztest_coverage.py
  scripts/tools/bouffalolab/generate_factory_data.py
  scripts/tools/memory/memdf/report.py
  scripts/tools/silabs/FactoryDataProvider.py
  scripts/tools/spake2p/spake2p.py
  src/controller/python/matter/ChipDeviceCtrl.py
  src/controller/python/matter/crypto/p256keypair.py
  src/controller/python/matter/fault_injection/__init__.py
  src/controller/python/matter/webrtc/browser_webrtc_client.py
  src/controller/python/matter/yaml/runner.py
  src/python_testing/TC_DRLK_2_9.py
  src/python_testing/TC_EWATERHTR_2_2.py
  src/python_testing/TC_EWATERHTR_2_3.py
  src/python_testing/TC_EnergyReporting_Utils.py
  src/python_testing/TC_PAVST_2_7.py
  src/python_testing/TC_WEBRTCP_2_5.py
  src/python_testing/matter_testing_infrastructure/matter/testing/global_attribute_ids.py
  src/python_testing/matter_testing_infrastructure/matter/testing/spec_parsing.py
  src/python_testing/post_certification_tests/production_device_checks.py
  src/python_testing/test_testing/test_TC_ICDM_2_1_full_pics.py
  src/python_testing/test_testing/test_TC_ICDM_2_1_min_pics.py
  src/setup_payload/python/SetupPayload.py
  src/test_driver/linux-cirque/helper/CHIPTestBase.py
  src/tools/push_av_server/server.py
Labels: tools, scripts, setup payload, controller, review - pending, tests, test driver, sdk-maintainer-approved

#41141 Update the gemini review agent with a few more instructions.
  .gemini/styleguide.md
Labels: review - approved

#40639 Remove OPCREDS-3.4 YAML from manual test list
  src/app/tests/suites/certification/Test_TC_OPCREDS_3_4.yaml
  src/app/tests/suites/manualTests.json
Labels: app, review - pending, tests, sdk-maintainer-approved

#40556 Remove unused Groups.Endpoint PIXIT from TC-GRPKEY-2.1
  src/app/tests/suites/certification/Test_TC_GRPKEY_2_1.yaml
Labels: app, review - pending, tests, sdk-maintainer-approved

#41155 [Silabs]Bring nvm init and Migration sooner. Use memory allocation and cleanu…
  examples/platform/silabs/MatterConfig.cpp
  src/platform/silabs/KeyValueStoreManagerImpl.cpp
  src/platform/silabs/MigrationManager.cpp
  src/platform/silabs/MigrationManager.h
  src/platform/silabs/platformAbstraction/BUILD.gn
  src/platform/silabs/platformAbstraction/GsdkSpam.cpp
  src/platform/silabs/platformAbstraction/SilabsPlatform.cpp
  src/platform/silabs/platformAbstraction/SilabsPlatform.h
Labels: examples, platform, review - approved, silabs

#41046 Complete TC tests for TLS Certificate Management & fix impl
  examples/all-clusters-app/all-clusters-common/include/tls-certificate-management-instance.h
  examples/all-clusters-app/all-clusters-common/include/tls-client-management-instance.h
  examples/all-clusters-app/all-clusters-common/src/tls-certificate-management-instance.cpp
  examples/all-clusters-app/all-clusters-common/src/tls-client-management-instance.cpp
  examples/camera-app/camera-common/src/camera-app.cpp
  src/app/clusters/push-av-stream-transport-server/tests/TestPushAVStreamTransportCluster.cpp
  src/app/clusters/tls-certificate-management-server/CertificateTable.h
  src/app/clusters/tls-certificate-management-server/CertificateTableImpl.cpp
  src/app/clusters/tls-certificate-management-server/tls-certificate-management-server.cpp
  src/app/clusters/tls-certificate-management-server/tls-certificate-management-server.h
  src/app/clusters/tls-client-management-server/tls-client-management-server.h
  src/controller/python/matter/clusters/ClusterObjects.py
  src/lib/support/CodeUtils.h
  src/python_testing/TC_TLSCERT.py
  src/python_testing/TC_TLS_Utils.py
Labels: examples, lib, controller, app, review - approved, tests, support, cameras

#41142 [Fix] Updating test steps in TC_ACL_2_9 and TC_ACL_2_10 to resolve issues with Extension not existing on DUT
  src/python_testing/TC_ACL_2_10.py
  src/python_testing/TC_ACL_2_9.py
Labels: review - pending, tests, sdk-maintainer-approved

#41154 [Closures] Remove unsupported clusters and attributes
  examples/closure-app/closure-common/closure-app.matter
  examples/closure-app/closure-common/closure-app.zap
Labels: review - pending, sdk-maintainer-approved

#41088 Update provisional state of Scenes, Network Commissioning, Commodity metering, tariff clusters.
  examples/all-clusters-app/all-clusters-common/all-clusters-app.matter
  examples/all-clusters-app/realtek/data_model/all-clusters-app.matter
  examples/all-clusters-minimal-app/all-clusters-common/all-clusters-minimal-app.matter
  examples/chef/devices/rootnode_dimmablepluginunit_f8a9a0b9d4.matter
  examples/light-switch-app/light-switch-common/icd-lit-light-switch-app.matter
  examples/light-switch-app/light-switch-common/light-switch-app.matter
  examples/light-switch-app/qpg/zap/switch.matter
  examples/lighting-app-data-mode-no-unique-id/lighting-common/lighting-app.matter
  examples/lighting-app/silabs/data_model/lighting-thread-app.matter
  examples/lighting-app/silabs/data_model/lighting-wifi-app.matter
  examples/placeholder/linux/apps/app1/config.matter
  examples/placeholder/linux/apps/app2/config.matter
  examples/virtual-device-app/virtual-device-common/virtual-device-app.matter
  src/app/zap-templates/zcl/data-model/chip/commodity-metering-cluster.xml
  src/app/zap-templates/zcl/data-model/chip/commodity-tariff-cluster.xml
  src/app/zap-templates/zcl/data-model/chip/network-commissioning-cluster.xml
  src/app/zap-templates/zcl/data-model/chip/scene.xml
  src/controller/data_model/controller-clusters.matter
Labels: examples, scripts, darwin, controller, app, examples chef

#41173 Support zap version CIPD uploads from CIPD releases.
  scripts/tools/zap/cipd_upload.py
  scripts/tools/zap/zap_download.py
Labels: scripts, review - approved

#41148 platform: cleanup dormant LwIPCoreLock bits
  examples/platform/esp32/external_platform/ESP32_custom/BUILD.gn
  src/platform/ASR/BUILD.gn
  src/platform/ASR/LwIPCoreLock.cpp
  src/platform/ASR/PlatformManagerImpl.cpp
  src/platform/ASR/PlatformManagerImpl.h
  src/platform/Ameba/BUILD.gn
  src/platform/Ameba/LwIPCoreLock.cpp
  src/platform/Ameba/PlatformManagerImpl.cpp
  src/platform/Beken/BUILD.gn
  src/platform/Beken/LwIPCoreLock.cpp
  src/platform/Beken/PlatformManagerImpl.cpp
  src/platform/ESP32/BUILD.gn
  src/platform/ESP32/LwIPCoreLock.cpp
  src/platform/ESP32/PlatformManagerImpl.cpp
  src/platform/ESP32/PlatformManagerImpl.h
  src/platform/Infineon/PSOC6/BUILD.gn
  src/platform/Infineon/PSOC6/LwIPCoreLock.cpp
  src/platform/Infineon/PSOC6/PlatformManagerImpl.cpp
  src/platform/Infineon/PSOC6/PlatformManagerImpl.h
  src/platform/stm32/PlatformManagerImpl.h
Labels: examples, platform, esp32, review - approved

#41144 Add CI PICS check in TC_ZONEMGMT_2.4.py for generation of Zone Trigger events that use the app-pipe.
  src/python_testing/TC_ZONEMGMT_2_4.py
Labels: review - approved, tests
