Repository project-chip/connectedhomeip, pull requests merged in 2025-03, with the labels that each got.

#37481 [ICD] Re-activate subscription when receiving check-in message if subscription fails and resub is scheduled
  src/app/ReadClient.cpp
  src/controller/tests/data_model/TestRead.cpp
Labels: documentation, tools, examples, scripts, integrations, platform, lib, controller, app, github, workflows, review - approved, tests, core, messaging

#37828 Log the terms-and-conditions information provided to commissioning.
  src/darwin/Framework/CHIP/MTRCommissioningParameters.mm
Labels: darwin, review - pending, fast track

#37752 Initial closure sample app for 917SoC
  docs/examples/closure.md
  examples/closure-app/closure-common/BUILD.gn
  examples/closure-app/closure-common/closure-app.matter
  examples/closure-app/closure-common/closure-app.zap
  examples/closure-app/closure-common/closure-control/include/ClosureControlDelegate.h
  examples/closure-app/closure-common/closure-control/include/ClosureControlInstance.h
  examples/closure-app/closure-common/closure-control/include/ClosureControlMain.h
  examples/closure-app/closure-common/closure-control/src/ClosureControlDelegateImpl.cpp
  examples/closure-app/closure-common/closure-control/src/ClosureControlInstance.cpp
  examples/closure-app/closure-common/closure-control/src/ClosureControlMain.cpp
  examples/closure-app/closure-common/common/include/ClosureAppCommonMain.h
  examples/closure-app/closure-common/common/src/ClosureAppCommonMain.cpp
  examples/closure-app/silabs/.gn
  examples/closure-app/silabs/BUILD.gn
  examples/closure-app/silabs/README.md
  examples/closure-app/silabs/build_for_wifi_args.gni
  examples/closure-app/silabs/build_for_wifi_gnfile.gn
  examples/closure-app/silabs/build_overrides
  examples/closure-app/silabs/include/AppConfig.h
  examples/closure-app/silabs/include/AppEvent.h
  examples/closure-app/silabs/include/AppTask.h
  examples/closure-app/silabs/include/CHIPProjectConfig.h
  examples/closure-app/silabs/openthread.gn
  examples/closure-app/silabs/openthread.gni
  examples/closure-app/silabs/src/AppTask.cpp
  examples/closure-app/silabs/src/DataModelCallbacks.cpp
  examples/closure-app/silabs/third_party/connectedhomeip
Labels: documentation, examples, app, review - approved

#37830 Add better logging to downloadLogOfType in Matter.framework.
  src/darwin/Framework/CHIP/MTRDevice_Concrete.mm
  src/darwin/Framework/CHIP/MTRDiagnosticLogsDownloader.mm
Labels: darwin, review - approved

#37820 Fix method naming and cleanup FailSafeContext
  src/app/FailSafeContext.h
  src/credentials/FabricTable.cpp
  src/lib/support/DefaultStorageKeyAllocator.h
Labels: lib, app, review - approved, support

#37819 Clean up partial fabric data after device is reset during CommitPendingFabricData
  src/credentials/FabricTable.cpp
  src/credentials/FabricTable.h
  src/credentials/tests/TestFabricTable.cpp
Labels: app, review - approved

#37593 Support local files for DCL, Indirect CRL signing and improved code structure + bug fixes.
  credentials/generate_revocation_set.py
Labels: review - approved

#37753 Adds platform/tests to the ESP32-QEMU unit-test target
  src/BUILD.gn
  src/platform/tests/BUILD.gn
  src/platform/tests/TestPlatformMgr.cpp
  src/platform/tests/TestPlatformTime.cpp
  src/test_driver/esp32/CMakeLists.txt
Labels: platform, esp32, github, workflows, review - approved, test driver

#37822 [NXP] Update NXP docker image
  integrations/docker/images/base/chip-build/version
  integrations/docker/images/stage-2/chip-build-nxp/Dockerfile
Labels: integrations, review - approved, docker

#37834 Use new ENV syntax in Dockerfile
  .devcontainer/Dockerfile
  integrations/docker/images/stage-2/chip-build-java/Dockerfile
  integrations/docker/images/stage-2/chip-build-tizen/Dockerfile
  integrations/docker/images/stage-2/chip-cirque-device-base/Dockerfile
  integrations/docker/images/stage-3/chip-build-tizen-qemu/Dockerfile
  integrations/docker/images/vscode/chip-build-vscode/Dockerfile
Labels: integrations, vscode, review - approved, docker

#37582 [Telink] Zephyr 3.3 & 3.7 support
  .github/workflows/examples-telink.yaml
  config/telink/app/bootloader.conf
  config/telink/app/bootloader_compress_lzma.conf
  config/telink/chip-module/CMakeLists.txt
  config/telink/chip-module/Kconfig
  config/telink/chip-module/Kconfig.defaults
  examples/platform/telink/common.cmake
  src/platform/Zephyr/InetUtils.cpp
  src/platform/telink/BLEManagerImpl.cpp
  src/platform/telink/BUILD.gn
  src/platform/telink/ConnectivityManagerImpl.cpp
  src/platform/telink/FactoryDataParser.c
  src/platform/telink/SystemPlatformConfig.h
  src/platform/telink/telink-mbedtls-config.h
  src/platform/telink/tlsr9518adk80d_mars.overlay
  src/platform/telink/wifi/3.3.99.0/ConnectivityManagerImplWiFi.cpp
  src/platform/telink/wifi/3.3.99.0/TelinkWiFiDriver.cpp
  src/platform/telink/wifi/3.3.99.0/WiFiManager.cpp
  src/platform/telink/wifi/3.3.99.0/WiFiManager.h
  src/platform/telink/wifi/3.7.99.0/ConnectivityManagerImplWiFi.cpp
  src/platform/telink/wifi/3.7.99.0/TelinkWiFiDriver.cpp
  src/platform/telink/wifi/3.7.99.0/WiFiManager.cpp
  src/platform/telink/wifi/3.7.99.0/WiFiManager.h
  src/platform/telink/wifi/TelinkWiFiDriver.h
Labels: examples, scripts, platform, zephyr, config, github, workflows, review - pending, telink, fast track

#37813 Conformance energy managment - Fix for#36827
  examples/energy-management-app/energy-management-common/energy-management-app.matter
  examples/energy-management-app/energy-management-common/energy-management-app.zap
Labels: examples, review - pending, fast track

#37821 Add -Wl,--as-needed flag for all executable builds
  build/config/compiler/BUILD.gn
  build/config/defaults.gni
Labels: gn, review - approved

#37846 Address post merge PR comments on MRP transmit analytics
  src/messaging/ReliableMessageAnalyticsDelegate.h
Labels: review - approved, messaging

#37810 [Silabs] Implement the WifiInterface class structure for all Wi-Fi platforms
  examples/platform/silabs/BaseApplication.cpp
  examples/platform/silabs/MatterConfig.cpp
  src/platform/silabs/ConfigurationManagerImpl.cpp
  src/platform/silabs/ConnectivityManagerImpl_WIFI.cpp
  src/platform/silabs/DiagnosticDataProviderImpl.cpp
  src/platform/silabs/NetworkCommissioningWiFiDriver.cpp
  src/platform/silabs/PlatformManagerImpl.cpp
  src/platform/silabs/wifi/BUILD.gn
  src/platform/silabs/wifi/SiWx/WifiInterfaceImpl.cpp
  src/platform/silabs/wifi/SiWx/WifiInterfaceImpl.h
  src/platform/silabs/wifi/SiWx/ncp/rs9117.gni
  src/platform/silabs/wifi/WifiInterface.cpp
  src/platform/silabs/wifi/WifiInterface.h
  src/platform/silabs/wifi/icd/WifiSleepManager.cpp
  src/platform/silabs/wifi/lwip-support/ethernetif.cpp
  src/platform/silabs/wifi/rs911x/WifiInterfaceImpl.cpp
  src/platform/silabs/wifi/rs911x/WifiInterfaceImpl.h
  src/platform/silabs/wifi/rs911x/rs911x.gni
  src/platform/silabs/wifi/wf200/WifiInterfaceImpl.cpp
  src/platform/silabs/wifi/wf200/WifiInterfaceImpl.h
  src/platform/silabs/wifi/wf200/wf200.gni
  src/platform/silabs/wifi/wiseconnect-interface/WiseconnectWifiInterface.cpp
  src/platform/silabs/wifi/wiseconnect-interface/WiseconnectWifiInterface.h
Labels: examples, platform, review - approved, silabs

#37865 [Telink] multi-fabric commissioning fix
  config/telink/chip-module/Kconfig.defaults
Labels: config, review - pending, fast track

#37799 Actions: Use an instance of the Actions cluster per endpoint instead of having global delegate array.
  examples/all-clusters-app/all-clusters-common/src/bridged-actions-stub.cpp
  examples/all-clusters-app/linux/main-common.cpp
  src/app/clusters/actions-server/actions-server.cpp
  src/app/clusters/actions-server/actions-server.h
  src/app/tests/TestActionsCluster.cpp
Labels: examples, app, review - approved, tests

#37870 Switch to ubuntu-latest for ZAP workflows
  .github/workflows/zap_regeneration.yaml
  .github/workflows/zap_templates.yaml
Labels: hotfix, github, workflows

#37856 Cancel diagnostic log transfers in Matter.framework when a new one starts
  src/darwin/Framework/CHIP/MTRDiagnosticLogsDownloader.mm
Labels: darwin, fast track

#37278 Tv casting app stop connect when user navigates back before confirming passcode in commission
  examples/tv-casting-app/android/App/app/src/main/java/com/matter/casting/ConnectionExampleFragment.java
  examples/tv-casting-app/android/App/app/src/main/jni/com/matter/casting/core/CastingPlayer.java
  examples/tv-casting-app/android/App/app/src/main/jni/com/matter/casting/core/MatterCastingPlayer.java
  examples/tv-casting-app/android/App/app/src/main/jni/cpp/core/MatterCastingPlayer-JNI.cpp
  examples/tv-casting-app/darwin/MatterTvCastingBridge/MatterTvCastingBridge/MCCastingPlayer.h
  examples/tv-casting-app/darwin/MatterTvCastingBridge/MatterTvCastingBridge/MCCastingPlayer.mm
  examples/tv-casting-app/darwin/TvCasting/TvCasting/MCConnectionExampleView.swift
  examples/tv-casting-app/darwin/TvCasting/TvCasting/MCConnectionExampleViewModel.swift
  examples/tv-casting-app/tv-casting-common/core/CastingPlayer.cpp
  examples/tv-casting-app/tv-casting-common/core/CastingPlayer.h
  examples/tv-casting-app/tv-casting-common/core/CastingPlayerDiscovery.h
  examples/tv-casting-app/tv-casting-common/support/ChipDeviceEventHandler.cpp
Labels: examples, review - approved

#37871 Don't interrupt a CASE attempt triggered by _deviceMayBeReachable.
  src/darwin/Framework/CHIP/MTRDevice_Concrete.mm
Labels: darwin, review - pending, fast track

#37876 Increase cloud build timeout to 12 hours
  integrations/cloudbuild/chef.yaml
Labels: integrations, review - pending, fast track

#37875 Ensure threadsafe access to mutable MTRDeviceController_XPC state.
  src/darwin/Framework/CHIP/MTRDeviceController_XPC.mm
Labels: darwin, review - pending, fast track

#37878 Improve logging around network technology detection in MTRDevice.
  src/darwin/Framework/CHIP/MTRDevice_Concrete.mm
Labels: darwin, review - pending, fast track

#37835 Initial implementation of camera-controller app
  .github/workflows/examples-linux-standalone.yaml
  docs/examples/camera_controller.md
  examples/camera-controller/.gn
  examples/camera-controller/BUILD.gn
  examples/camera-controller/README.md
  examples/camera-controller/args.gni
  examples/camera-controller/build_overrides
  examples/camera-controller/camera-controller.gni
  examples/camera-controller/commands/clusters/ClusterCommand.h
  examples/camera-controller/commands/clusters/ComplexArgument.h
  examples/camera-controller/commands/clusters/CustomArgument.h
  examples/camera-controller/commands/clusters/DataModelLogger.h
  examples/camera-controller/commands/clusters/JsonParser.h
  examples/camera-controller/commands/clusters/ModelCommand.cpp
  examples/camera-controller/commands/clusters/ModelCommand.h
  examples/camera-controller/commands/clusters/ReportCommand.cpp
  examples/camera-controller/commands/clusters/ReportCommand.h
  examples/camera-controller/commands/clusters/SubscriptionsCommands.h
  examples/camera-controller/commands/clusters/WriteAttributeCommand.h
  examples/camera-controller/commands/common/CHIPCommand.cpp
  examples/camera-controller/commands/common/CHIPCommand.h
  examples/camera-controller/commands/common/Command.cpp
  examples/camera-controller/commands/common/Command.h
  examples/camera-controller/commands/common/Commands.cpp
  examples/camera-controller/commands/common/Commands.h
  examples/camera-controller/commands/common/CredentialIssuerCommands.h
  examples/camera-controller/commands/common/CustomStringPrefix.h
  examples/camera-controller/commands/common/DeviceScanner.cpp
  examples/camera-controller/commands/common/DeviceScanner.h
  examples/camera-controller/commands/common/HexConversion.h
  examples/camera-controller/commands/common/IcdManager.cpp
  examples/camera-controller/commands/common/RemoteDataModelLogger.cpp
  examples/camera-controller/commands/common/RemoteDataModelLogger.h
  examples/camera-controller/commands/example/ExampleCredentialIssuerCommands.h
  examples/camera-controller/commands/interactive/Commands.h
  examples/camera-controller/commands/interactive/InteractiveCommands.cpp
  examples/camera-controller/commands/interactive/InteractiveCommands.h
  examples/camera-controller/commands/pairing/Commands.h
  examples/camera-controller/commands/pairing/GetCommissionerNodeIdCommand.h
  examples/camera-controller/commands/pairing/GetCommissionerRootCertificateCommand.h
  examples/camera-controller/commands/pairing/IssueNOCChainCommand.h
  examples/camera-controller/commands/pairing/OpenCommissioningWindowCommand.cpp
  examples/camera-controller/commands/pairing/OpenCommissioningWindowCommand.h
  examples/camera-controller/commands/pairing/PairingCommand.cpp
  examples/camera-controller/commands/pairing/PairingCommand.h
  examples/camera-controller/commands/pairing/ToTLVCert.cpp
  examples/camera-controller/commands/pairing/ToTLVCert.h
  examples/camera-controller/include/CHIPProjectAppConfig.h
  examples/camera-controller/main.cpp
  examples/camera-controller/third_party/connectedhomeip
  scripts/build/build/targets.py
  scripts/build/builders/host.py
  scripts/build/testdata/all_targets_linux_x64.txt
Labels: documentation, examples, scripts, github, workflows, review - approved

#37881 Energy app: Enable ConnectMaxTimeSeconds and ScanMaxTimeSeconds attributes for wifi commissioning.
  examples/energy-management-app/energy-management-common/energy-management-app.matter
  examples/energy-management-app/energy-management-common/energy-management-app.zap
Labels: review - approved

#37859 Only use kMaxIfNameLength instead of IFNAMSIZ
  src/platform/Darwin/DnssdHostNameRegistrar.cpp
  src/platform/Darwin/NetworkCommissioningDriver.h
  src/platform/Darwin/WiFi/ConnectivityManagerImplWiFi.mm
  src/platform/Linux/ConfigurationManagerImpl.cpp
  src/platform/Linux/ConnectivityManagerImpl.cpp
  src/platform/Linux/ConnectivityManagerImpl.h
  src/platform/Linux/PlatformManagerImpl.cpp
  src/platform/NuttX/ConfigurationManagerImpl.cpp
  src/platform/NuttX/ConnectivityManagerImpl.cpp
  src/platform/NuttX/ConnectivityManagerImpl.h
  src/platform/NuttX/PlatformManagerImpl.cpp
  src/platform/Tizen/ConnectivityManagerImpl.cpp
  src/platform/Tizen/ConnectivityManagerImpl.h
  src/platform/webos/ConfigurationManagerImpl.cpp
  src/platform/webos/ConnectivityManagerImpl.cpp
  src/platform/webos/ConnectivityManagerImpl.h
  src/platform/webos/PlatformManagerImpl.cpp
Labels: platform, darwin, linux, review - pending, fast track, tizen

#37816 Parametrize app-common zap-generated path
  config/common/cmake/chip_gn.cmake
  config/nrfconnect/chip-module/CMakeLists.txt
  src/app/chip_data_model.cmake
  src/app/common/BUILD.gn
  src/app/common_flags.gni
Labels: app, config, review - approved

#37873 Minor fixes for nm mapping
  scripts/tools/file_size_from_nm.py
Labels: scripts, review - approved

#37853 Disable ABS feature in windowcovering
  examples/chef/common/clusters/window-covering/chef-window-covering.cpp
  examples/chef/common/clusters/window-covering/chef-window-covering.h
  examples/chef/common/stubs.cpp
  examples/chef/devices/rootnode_windowcovering_RLCxaGi9Yx.matter
  examples/chef/devices/rootnode_windowcovering_RLCxaGi9Yx.zap
  examples/chef/linux/BUILD.gn
  examples/chef/nrfconnect/CMakeLists.txt
Labels: examples, review - pending, fast track

#37861 Generate dishwasher alarm alchemy
  examples/all-clusters-app/all-clusters-common/all-clusters-app.matter
  examples/chef/devices/rootnode_dishwasher_cc105034fe.matter
  src/app/zap-templates/zcl/data-model/chip/dishwasher-alarm-cluster.xml
  src/controller/data_model/controller-clusters.matter
  src/darwin/Framework/CHIP/zap-generated/MTRBaseClusters.h
Labels: examples, darwin, controller, app, review - approved

#36003 Fix attr read overflows
  src/app/util/attribute-storage.cpp
  src/controller/tests/TestServerCommandDispatch.cpp
Labels: controller, app, review - approved

#37482 ESP32: Add menuconfig to use PSRAM for Matter memory allocation
  config/esp32/args.gni
  config/esp32/components/chip/CMakeLists.txt
  config/esp32/components/chip/Kconfig
  examples/platform/esp32/common/CommonDeviceCallbacks.cpp
  src/platform/ESP32/BUILD.gn
  src/platform/ESP32/CHIPMem-PlatformDefault.cpp
  src/platform/ESP32/CHIPMem-PlatformExternal.cpp
  src/platform/ESP32/CHIPMem-PlatformInternal.cpp
Labels: examples, platform, esp32, config, review - approved

#37887 [ICD] Expose SetModeDurations via ICDManager
  src/app/icd/server/ICDManager.h
  src/app/icd/server/tests/ICDConfigurationDataTestAccess.h
  src/app/icd/server/tests/TestICDManager.cpp
Labels: documentation, app, review - approved, icd

#37888 Darwin style update: remove extra namespace prefixes
  src/platform/Darwin/DnssdHostNameRegistrar.cpp
  src/platform/Darwin/NetworkCommissioningDriver.h
  src/platform/Darwin/WiFi/ConnectivityManagerImplWiFi.mm
Labels: platform, darwin, review - pending, fast track

#37891 [ESP32] Fix total operation hours attribute value get incorrect
  src/platform/ESP32/DiagnosticDataProviderImpl.cpp
  src/platform/ESP32/PlatformManagerImpl.cpp
Labels: platform, esp32, review - approved

#37857 Generate BooleanState with Alchemy
  src/app/zap-templates/zcl/data-model/chip/boolean-state-cluster.xml
  src/app/zap_cluster_list.json
Labels: app, review - approved

#37855 Fix clang-tidy error in PersistedCounter.h
  src/lib/support/PersistedCounter.h
Labels: lib, app, review - approved, support

#37850 Add a server cluster interface registry for use by codegen.
  src/app/server-cluster/ServerClusterInterface.h
  src/app/server-cluster/tests/TestDefaultServerCluster.cpp
  src/data-model-providers/codegen/BUILD.gn
  src/data-model-providers/codegen/ServerClusterInterfaceRegistry.cpp
  src/data-model-providers/codegen/ServerClusterInterfaceRegistry.h
  src/data-model-providers/codegen/model.gni
  src/data-model-providers/codegen/tests/BUILD.gn
  src/data-model-providers/codegen/tests/TestServerClusterInterfaceRegistry.cpp
Labels: app, review - approved

#37777 fix(testing): Move CloseSession call after factory reset in TC_CGEN_2_8
  src/python_testing/TC_CGEN_2_8.py
Labels: fast track, tests, matter-1.4-te2-script-change

#37776 fix(testing): Move CloseSession call after factory reset in TC_CGEN_2_8
  src/python_testing/TC_CGEN_2_8.py
Labels: review - pending, fast track, tests

#37906 Coalesce operational instance adds in MTROperationalBrowser.
  src/darwin/Framework/CHIP/MTROperationalBrowser.h
  src/darwin/Framework/CHIP/MTROperationalBrowser.mm
Labels: darwin, review - pending, fast track

#37898 Remove the redundant chip:: prefix
  examples/platform/openiotsdk/app/openiotsdk_platform.cpp
  src/inet/tests/TestInetCommonPosix.cpp
  src/inet/tests/TestInetEndPoint.cpp
  src/platform/Linux/ConfigurationManagerImpl.cpp
  src/platform/Linux/ConnectivityManagerImpl.cpp
  src/platform/Linux/ConnectivityManagerImpl.h
  src/platform/Linux/PlatformManagerImpl.cpp
  src/platform/NuttX/ConfigurationManagerImpl.cpp
  src/platform/NuttX/ConnectivityManagerImpl.cpp
  src/platform/NuttX/ConnectivityManagerImpl.h
  src/platform/NuttX/PlatformManagerImpl.cpp
  src/platform/Tizen/ConnectivityManagerImpl.cpp
  src/platform/Tizen/ConnectivityManagerImpl.h
  src/platform/webos/ConfigurationManagerImpl.cpp
  src/platform/webos/ConnectivityManagerImpl.cpp
  src/platform/webos/ConnectivityManagerImpl.h
  src/platform/webos/PlatformManagerImpl.cpp
  src/transport/SessionManager.cpp
Labels: examples, transport, platform, darwin, linux, inet, review - approved, tizen

#37903 refactor: Rename CloseSession to MarkSessionDefunct and add MarkSessi…
  src/controller/python/ChipDeviceController-ScriptBinding.cpp
  src/controller/python/chip/ChipDeviceCtrl.py
  src/controller/python/chip/commissioning/pase.py
  src/controller/python/test/test_scripts/base.py
  src/python_testing/TC_CGEN_2_8.py
  src/python_testing/TC_CGEN_2_9.py
  src/python_testing/TC_ICDM_3_4.py
  src/test_driver/mbed/integration_tests/common/utils.py
  src/test_driver/openiotsdk/integration-tests/common/utils.py
Labels: controller, review - pending, fast track, tests, test driver

#37916 [v1.4][ESP32] Fix total operation hours attribute value get incorrect
  src/platform/ESP32/DiagnosticDataProviderImpl.cpp
  src/platform/ESP32/PlatformManagerImpl.cpp
Labels: platform, esp32

#37915 [v1.3][ESP32] Fix total operation hours attribute value get incorrect
  src/platform/ESP32/DiagnosticDataProviderImpl.cpp
  src/platform/ESP32/PlatformManagerImpl.cpp
Labels: platform, esp32

#37896 ESP32: handle nimble_port_init's return values based on idf version
  src/platform/ESP32/nimble/BLEManagerImpl.cpp
Labels: platform, esp32, review - approved

#37917 Generate PumpConfigurationControl cluster with Alchemy
  examples/all-clusters-app/all-clusters-common/all-clusters-app.matter
  examples/all-clusters-minimal-app/all-clusters-common/all-clusters-minimal-app.matter
  examples/chef/devices/rootnode_pump_5f904818cc.matter
  examples/chef/devices/rootnode_pump_a811bb33a0.matter
  examples/placeholder/linux/apps/app1/config.matter
  examples/placeholder/linux/apps/app2/config.matter
  examples/pump-app/pump-common/pump-app.matter
  examples/pump-app/silabs/data_model/pump-thread-app.matter
  examples/pump-app/silabs/data_model/pump-wifi-app.matter
  examples/pump-controller-app/pump-controller-common/pump-controller-app.matter
  scripts/tools/zap/tests/outputs/all-clusters-app/app-templates/access.h
  src/app/zap-templates/zcl/data-model/chip/pump-configuration-and-control-cluster.xml
  src/controller/data_model/controller-clusters.matter
Labels: examples, scripts, controller, app, review - approved

#37910 Fix name conflicts in chef: Add namespace for chef window covering.
  examples/chef/common/clusters/window-covering/chef-window-covering.cpp
  examples/chef/common/clusters/window-covering/chef-window-covering.h
  examples/chef/common/stubs.cpp
Labels: examples, review - pending, fast track

#37934 Fix error handling in XPC version of invokeCommands.
  src/darwin/Framework/CHIP/MTRDevice_XPC.mm
Labels: darwin, review - pending, fast track

#37892 [camera-controller] Fix run time error during initialization
  examples/camera-controller/commands/common/CHIPCommand.cpp
Labels: examples, review - approved

#37894 Add verbose flag to build_examples.py
  scripts/build/build/__init__.py
  scripts/build/build/target.py
  scripts/build/build_examples.py
  scripts/build/builders/gn.py
Labels: scripts, review - approved

#37948 [chip-repl] Fix for dependency failures: keeping pygobject==3.50.0
  src/controller/python/BUILD.gn
Labels: hotfix, controller, review - pending

#37940 Chef window covering compilation - Fix missing dependency on esp32 target
  examples/chef/esp32/main/CMakeLists.txt
Labels: examples, review - approved

#37950 ESP32: bump encrypted ota component and fix the build errors
  config/esp32/components/chip/CMakeLists.txt
  config/esp32/components/chip/idf_component.yml
  docs/platforms/esp32/ota.md
  examples/lighting-app/esp32/main/CMakeLists.txt
Labels: documentation, examples, config, review - approved

#37951 [Silabs] removed extern from AirQualitySensor.cpp
  examples/platform/silabs/sensors/AirQuality/AirQualitySensor.cpp
Labels: examples, platform, review - approved, silabs

#37925 [nrfconnect] Fail ctest when it finds no tests
  scripts/build/builders/nrf.py
Labels: scripts, review - approved

#37953 [nrfconnect] Increase heap size for all-clusters-app
  examples/all-clusters-app/nrfconnect/prj.conf
  examples/all-clusters-app/nrfconnect/prj_dfu.conf
  examples/all-clusters-app/nrfconnect/prj_release.conf
Labels: examples, review - approved

#37955 Log VerifyCredentials error
  src/credentials/FabricTable.cpp
Labels: review - approved

#37913 Generate occupancySensing cluster with Alchemy
  src/app/zap-templates/zcl/data-model/chip/occupancy-sensing-cluster.xml
Labels: app, review - approved

#37966 [camera-controller] Cleanup RPC dead code
  examples/camera-controller/commands/interactive/InteractiveCommands.cpp
Labels: examples, review - approved

#37914 Add rule to fast compile all existing chef devices on PRs
  .github/workflows/chef.yaml
  examples/chef/chef.py
Labels: examples, github, workflows, review - approved

#37704 Rework Darwin BLE layer
  .github/workflows/darwin.yaml
  src/controller/python/chip/ble/darwin/Scanning.mm
  src/darwin/Framework/CHIP/MTRCommissionableBrowser.mm
  src/darwin/Framework/CHIPTests/MTRBleTests.m
  src/darwin/Framework/CHIPTests/MTRCommissionableBrowserTests.m
  src/darwin/Framework/CHIPTests/TestHelpers/MTRMockCB.h
  src/darwin/Framework/CHIPTests/TestHelpers/MTRMockCB.m
  src/darwin/Framework/CHIPTests/TestHelpers/MTRTestCase.h
  src/darwin/Framework/CHIPTests/TestHelpers/MTRTestCase.mm
  src/darwin/Framework/Matter.xcodeproj/project.pbxproj
  src/platform/Darwin/BLEManagerImpl.cpp
  src/platform/Darwin/BLEManagerImpl.h
  src/platform/Darwin/BUILD.gn
  src/platform/Darwin/BleApplicationDelegateImpl.h
  src/platform/Darwin/BleApplicationDelegateImpl.mm
  src/platform/Darwin/BleConnectionDelegateImpl.h
  src/platform/Darwin/BleConnectionDelegateImpl.mm
  src/platform/Darwin/BlePlatformConfig.h
  src/platform/Darwin/BlePlatformDelegateImpl.h
  src/platform/Darwin/BlePlatformDelegateImpl.mm
  src/platform/Darwin/BleUtils.h
  src/platform/Darwin/BleUtils.mm
  src/platform/Darwin/MTRUUIDHelper.h
  src/platform/Darwin/MTRUUIDHelperImpl.mm
Labels: platform, darwin, controller, ble, github, workflows, review - pending, fast track

#37971 Cherrypick #37948 into the 1.4 branch
  src/controller/python/BUILD.gn
Labels: controller

#37767 Initial implementation of WebRTC Provider cluster (Phase I)
  examples/camera-app/camera-common/camera-app.matter
  examples/camera-app/camera-common/camera-app.zap
  scripts/tools/check_includes_config.py
  src/app/clusters/webrtc-transport-provider-server/webrtc-transport-provider-server.cpp
  src/app/clusters/webrtc-transport-provider-server/webrtc-transport-provider-server.h
  src/app/common/templates/config-data.yaml
  src/app/zap_cluster_list.json
  zzz_generated/app-common/app-common/zap-generated/callback.h
Labels: examples, scripts, app, review - approved

#37970 Integrate libdatachannel lib with camera apps
  BUILD.gn
  examples/camera-app/linux/BUILD.gn
  examples/camera-controller/BUILD.gn
  third_party/libdatachannel/BUILD.gn
  third_party/libdatachannel/scripts/build_libdatachannel.py
Labels: examples, gn, review - approved, changing-submodules-on-purpose

#37999 [chip-cert-bins][1.4] temporary workaround: make sure python3-gi is removed
  integrations/docker/images/chip-cert-bins/Dockerfile
Labels: integrations, docker

#37965 [Silabs] Fix the secure soc reset issue
  examples/platform/silabs/Rpc.cpp
  src/platform/silabs/ConfigurationManagerImpl.cpp
  src/platform/silabs/SiWx917/OTAImageProcessorImpl.cpp
  src/platform/silabs/platformAbstraction/GsdkSpam.cpp
  src/platform/silabs/platformAbstraction/SilabsPlatform.h
  src/platform/silabs/platformAbstraction/SilabsPlatformBase.h
  src/platform/silabs/platformAbstraction/WiseMcuSpam.cpp
Labels: examples, platform, review - approved, silabs

#38001 [ServerClusterContext] Remove unused constructor from struct that prevents aggregate init
  src/app/server-cluster/ServerClusterContext.h
Labels: app, review - approved

#37962 [NXP] Improve DnssdImplBr to handle a list of queries instead of a si…
  src/platform/nxp/common/DnssdImpl.cpp
  src/platform/nxp/common/DnssdImplBr.cpp
Labels: platform, review - approved, nxp

#37991 Fix the Build Flags Conflict
  examples/camera-app/linux/BUILD.gn
  examples/camera-controller/BUILD.gn
Labels: examples, review - approved

#38000 [nrfconnect] Increase heap size for all-clusters-app
  examples/all-clusters-app/nrfconnect/prj.conf
  examples/all-clusters-app/nrfconnect/prj_dfu.conf
  examples/all-clusters-app/nrfconnect/prj_release.conf
Labels: examples, review - approved

#37985 [Silabs] BaseApplication Init refactor
  examples/air-quality-sensor-app/silabs/include/AppTask.h
  examples/air-quality-sensor-app/silabs/src/AppTask.cpp
  examples/chef/silabs/include/AppTask.h
  examples/chef/silabs/src/AppTask.cpp
  examples/energy-management-app/silabs/include/AppTask.h
  examples/energy-management-app/silabs/src/AppTask.cpp
  examples/light-switch-app/silabs/include/AppTask.h
  examples/light-switch-app/silabs/src/AppTask.cpp
  examples/lighting-app/silabs/include/AppTask.h
  examples/lighting-app/silabs/src/AppTask.cpp
  examples/lit-icd-app/silabs/include/AppTask.h
  examples/lit-icd-app/silabs/src/AppTask.cpp
  examples/lock-app/silabs/include/AppTask.h
  examples/lock-app/silabs/src/AppTask.cpp
  examples/platform/silabs/BaseApplication.cpp
  examples/platform/silabs/BaseApplication.h
  examples/pump-app/silabs/include/AppTask.h
  examples/pump-app/silabs/src/AppTask.cpp
  examples/refrigerator-app/silabs/include/AppTask.h
  examples/refrigerator-app/silabs/src/AppTask.cpp
  examples/smoke-co-alarm-app/silabs/include/AppTask.h
  examples/smoke-co-alarm-app/silabs/src/AppTask.cpp
  examples/thermostat/silabs/include/AppTask.h
  examples/thermostat/silabs/src/AppTask.cpp
  examples/window-app/silabs/include/AppTask.h
  examples/window-app/silabs/src/AppTask.cpp
  src/platform/silabs/platformAbstraction/WiseMcuSpam.cpp
Labels: examples, platform, review - approved, silabs

#38004 [Darwin] MTRMockCB reference in MTRTestCase should not be behind HAV E_NSTASK
  src/darwin/Framework/CHIPTests/TestHelpers/MTRTestCase.mm
Labels: darwin, review - pending, fast track

#37993 Add factory reset event
  src/app/server/Server.cpp
  src/app/server/Server.h
  src/app/tests/BUILD.gn
  src/app/tests/TestServer.cpp
  src/include/platform/CHIPDeviceEvent.h
  src/platform/fake/PlatformManagerImpl.h
  src/test_driver/nrfconnect/prj.conf
Labels: platform, nrf connect, app, review - approved, tests, test driver

#38002 Log the discriminator when BLE NewConnection is called.
  src/platform/Darwin/BleConnectionDelegateImpl.mm
Labels: platform, darwin, review - approved

#38010 Fixing unit tests to build for Darwin
  examples/darwin-framework-tool/commands/common/CHIPCommandStorageDelegate.mm
  src/darwin/Framework/CHIPTests/TestHelpers/MTRMockCB.m
Labels: examples, darwin, fast track

#37521 Add a test to exercise MTRCommandWithRequiredResponse encode/decode.
  src/darwin/Framework/CHIP/MTRCommandWithRequiredResponse.mm
  src/darwin/Framework/CHIPTests/MTRDeviceTests.m
Labels: darwin, review - pending, fast track

#37696 Fix MRP baseTimeout calculation for LIT
  src/app/CommandSender.cpp
  src/app/ReadClient.cpp
  src/app/TimedHandler.cpp
  src/controller/AutoCommissioner.cpp
  src/controller/python/chip/utils/DeviceProxyUtils.cpp
  src/controller/tests/TestWriteChunking.cpp
  src/controller/tests/data_model/TestRead.cpp
  src/darwin/Framework/CHIP/MTRBaseDevice.mm
  src/messaging/ExchangeContext.cpp
  src/messaging/ReliableMessageProtocolConfig.cpp
  src/messaging/ReliableMessageProtocolConfig.h
  src/protocols/secure_channel/CASESession.cpp
  src/transport/GroupSession.h
  src/transport/SecureSession.h
  src/transport/Session.cpp
  src/transport/Session.h
  src/transport/UnauthenticatedSessionTable.h
Labels: transport, darwin, controller, app, review - approved, messaging, protocols

#38005 Integrate camera apps with vscode
  .github/workflows/examples-linux-standalone.yaml
  examples/camera-controller/BUILD.gn
Labels: examples, vscode, github, workflows, review - approved

#36204 Camera AV Stream Management Server Impl
  examples/all-clusters-app/all-clusters-common/all-clusters-app.matter
  examples/all-clusters-app/all-clusters-common/all-clusters-app.zap
  examples/all-clusters-app/all-clusters-common/capture_snapshot_test.jpg
  examples/all-clusters-app/all-clusters-common/include/camera-av-stream-delegate-impl.h
  examples/all-clusters-app/all-clusters-common/src/camera-av-stream-delegate-impl.cpp
  examples/all-clusters-app/linux/BUILD.gn
  examples/camera-app/camera-common/camera-app.matter
  examples/camera-app/camera-common/camera-app.zap
  scripts/tools/check_includes_config.py
  src/app/chip_data_model.gni
  src/app/clusters/camera-av-stream-management-server/camera-av-stream-management-server.cpp
  src/app/clusters/camera-av-stream-management-server/camera-av-stream-management-server.h
  src/app/common/templates/config-data.yaml
  src/app/zap-templates/zcl/zcl-with-test-extensions.json
  src/app/zap-templates/zcl/zcl.json
  src/app/zap_cluster_list.json
  zzz_generated/app-common/app-common/zap-generated/attributes/Accessors.cpp
  zzz_generated/app-common/app-common/zap-generated/attributes/Accessors.h
  zzz_generated/app-common/app-common/zap-generated/callback.h
Labels: examples, scripts, lib, app, review - approved, support, cameras

#37957 [NXP] Fix WiFiNetworkDiagnostics cluster status report issue
  src/platform/nxp/common/ConnectivityManagerImpl.cpp
Labels: review - approved

#38009 CONTRIBUTING: Add a note discouraging unneccessary CI runs due to the "Update branch" feature being used too often
  .github/workflows/restyled.yml
  CONTRIBUTING.md
Labels: documentation, github, workflows, review - approved

#38015 Fix TestInetEndPoint to pass even when computer is offline
  src/inet/tests/TestInetEndPoint.cpp
Labels: inet, review - approved

#37936 Use OPENTHREAD instead of OPEN_THREAD
  examples/contact-sensor-app/nxp/k32w1/args.gni
  examples/contact-sensor-app/nxp/mcxw71/args.gni
  examples/lighting-app/nxp/k32w1/args.gni
  examples/lighting-app/nxp/k32w1/with_pw_rpc.gni
  examples/lighting-app/nxp/mcxw71/args.gni
  examples/lighting-app/nxp/mcxw71/with_pw_rpc.gni
  examples/lock-app/nxp/k32w1/args.gni
  examples/lock-app/nxp/mcxw71/args.gni
  examples/persistent-storage/qpg/args.gni
  examples/platform/qpg/args.gni
  scripts/build/builders/bouffalolab.py
  src/app/server/Server.cpp
  src/inet/BUILD.gn
  src/inet/IPAddress-StringFuncts.cpp
  src/inet/IPAddress.cpp
  src/inet/IPAddress.h
  src/inet/InetInterface.cpp
  src/inet/InetInterface.h
  src/inet/arpa-inet-compatibility.h
  src/inet/inet.gni
  src/inet/tests/TestInetAddress.cpp
  src/inet/tests/TestInetCommonOptions.cpp
  src/inet/tests/TestInetCommonOptions.h
  src/inet/tests/TestInetCommonPosix.cpp
  src/platform/Infineon/CYW30739/args.gni
  src/platform/OpenThread/GenericThreadStackManagerImpl_OpenThread_LwIP.cpp
  src/platform/nxp/k32w0/args.gni
  src/platform/nxp/mcxw71_k32w1/args.gni
  src/platform/silabs/efr32/args.gni
  src/platform/stm32/args.gni
  src/system/BUILD.gn
  src/system/SystemConfig.h
  src/system/SystemLayer.h
  src/system/system.gni
  src/system/tests/TestSystemTimer.cpp
  src/transport/raw/UDP.h
Labels: examples, scripts, transport, system, platform, inet, app, review - approved, silabs, nxp

#38053 OpenThread: Clear SRP host and services during RevertConfiguration
  src/platform/OpenThread/GenericNetworkCommissioningThreadDriver.cpp
  src/platform/OpenThread/GenericNetworkCommissioningThreadDriver.h
Labels: platform, review - approved

#38011 [Silabs] Added 917 NCP wakeup source config
  src/platform/silabs/wifi/SiWx/WifiInterfaceImpl.cpp
Labels: platform, review - approved, silabs

#38061 [Android]fix userConsentNeeded
  src/controller/java/OTAProviderDelegateBridge.cpp
Labels: controller, review - approved

#38057 Stop advertising IPv4 addresses when IPv4 and IPv6 ports do not match.
  src/app/server/Dnssd.cpp
  src/app/server/Dnssd.h
  src/app/server/Server.cpp
  src/controller/CHIPDeviceControllerFactory.cpp
  src/lib/dnssd/Discovery_ImplPlatform.cpp
  src/lib/dnssd/Discovery_ImplPlatform.h
Labels: lib, controller, app, review - approved

#38045 [Scenes] Fix OnOff Scenes Handler registration
  src/app/clusters/on-off-server/on-off-server.cpp
Labels: app, review - approved

#37230 Cancel the periodic Time Sync timer in Matter.framework when the controller is suspended.
  src/darwin/Framework/CHIP/MTRDevice_Concrete.mm
Labels: darwin, review - pending, fast track

#37982 [Telink] Update Docker image (Zephyr update)
  integrations/docker/images/base/chip-build/version
  integrations/docker/images/stage-2/chip-build-telink-zephyr_3_3/Dockerfile
  integrations/docker/images/stage-2/chip-build-telink/Dockerfile
Labels: integrations, review - pending, docker

#38062 [CP][1.4] Fix MRP baseTimeout calculation for LIT (#37696)
  src/app/CommandSender.cpp
  src/app/ReadClient.cpp
  src/app/TimedHandler.cpp
  src/controller/AutoCommissioner.cpp
  src/controller/python/chip/utils/DeviceProxyUtils.cpp
  src/controller/tests/TestWriteChunking.cpp
  src/controller/tests/data_model/TestRead.cpp
  src/darwin/Framework/CHIP/MTRBaseDevice.mm
  src/messaging/ExchangeContext.cpp
  src/messaging/ReliableMessageProtocolConfig.cpp
  src/messaging/ReliableMessageProtocolConfig.h
  src/protocols/secure_channel/CASESession.cpp
  src/transport/GroupSession.h
  src/transport/SecureSession.h
  src/transport/Session.cpp
  src/transport/Session.h
  src/transport/UnauthenticatedSessionTable.h
Labels: transport, darwin, controller, app, messaging, protocols

#38066 esp32: fix build for esp32p4
  config/esp32/components/chip/idf_component.yml
  examples/all-clusters-app/esp32/sdkconfig.defaults.esp32p4
Labels: examples, config, review - approved

#38060 Add Alchemy generated files for TemperatureMeasurement cluster
  examples/air-purifier-app/air-purifier-common/air-purifier-app.matter
  examples/air-quality-sensor-app/air-quality-sensor-common/air-quality-sensor-app.matter
  examples/all-clusters-app/all-clusters-common/all-clusters-app.matter
  examples/all-clusters-minimal-app/all-clusters-common/all-clusters-minimal-app.matter
  examples/bridge-app/bridge-common/bridge-app.matter
  examples/chef/devices/rootnode_airpurifier_airqualitysensor_temperaturesensor_humiditysensor_thermostat_56de3d5f45.matter
  examples/chef/devices/rootnode_airqualitysensor_e63187f6c9.matter
  examples/chef/devices/rootnode_contactsensor_lightsensor_occupancysensor_temperaturesensor_pressuresensor_flowsensor_humiditysensor_airqualitysensor_powersource_367e7cea91.matter
  examples/chef/devices/rootnode_heatpump_87ivjRAECh.matter
  examples/chef/devices/rootnode_pump_5f904818cc.matter
  examples/chef/devices/rootnode_refrigerator_temperaturecontrolledcabinet_temperaturecontrolledcabinet_ffdb696680.matter
  examples/chef/devices/rootnode_roomairconditioner_9cf3607804.matter
  examples/chef/devices/rootnode_temperaturesensor_Qy1zkNW7c3.matter
  examples/chef/devices/rootnode_thermostat_bm3fb8dhYi.matter
  examples/placeholder/linux/apps/app1/config.matter
  examples/placeholder/linux/apps/app2/config.matter
  examples/pump-app/pump-common/pump-app.matter
  examples/pump-app/silabs/data_model/pump-thread-app.matter
  examples/pump-app/silabs/data_model/pump-wifi-app.matter
  examples/pump-controller-app/pump-controller-common/pump-controller-app.matter
  examples/temperature-measurement-app/temperature-measurement-common/temperature-measurement.matter
  src/app/zap-templates/zcl/data-model/chip/temperature-measurement-cluster.xml
  src/controller/data_model/controller-clusters.matter
Labels: examples, controller, app, review - pending, fast track

#37978 [Telink] Add OTA resume support
  src/platform/telink/OTAImageProcessorImpl.cpp
  src/platform/telink/OTAImageProcessorImpl.h
Labels: platform, review - pending, telink, fast track

#37935 Generate IlluminanceMeasurement cluster using Alchemy
  src/app/zap-templates/zcl/data-model/chip/illuminance-measurement-cluster.xml
Labels: app, review - approved

#37938 [v1.2] setup: support installations with Python3.13
  scripts/setup/constraints.txt
  scripts/setup/requirements.all.txt
  scripts/tools/telink/requirements.txt
Labels: scripts

#37937 [v1.3] setup: support installations with Python3.13
  scripts/setup/constraints.txt
  scripts/setup/requirements.all.txt
  scripts/tools/telink/requirements.txt
Labels: scripts

#37912 Generate files for LaundryDryerControl using Alchemy
  scripts/tools/zap/tests/outputs/all-clusters-app/app-templates/endpoint_config.h
  src/app/zap-templates/zcl/data-model/chip/laundry-dryer-controls-cluster.xml
Labels: scripts, app, review - pending, fast track

#37761 [Tizen] Add arm64 target - Docker part
  integrations/docker/images/base/chip-build/version
  integrations/docker/images/stage-2/chip-build-tizen/Dockerfile
  integrations/docker/images/stage-2/chip-build-tizen/tizen-sdk-installer/install.sh
Labels: integrations, review - pending, fast track, tizen, docker

#37639 Extract decorator utilities from matter_testing.py into separate module
  src/python_testing/matter_testing_infrastructure/BUILD.gn
  src/python_testing/matter_testing_infrastructure/chip/testing/decorators.py
  src/python_testing/matter_testing_infrastructure/chip/testing/matter_testing.py
Labels: review - pending, fast track, tests

#38063 Generate EnergyPreference cluster with Alchemy
  src/app/zap-templates/zcl/data-model/chip/energy-preference-cluster.xml
Labels: app, review - pending, fast track

#38077 Fix Merge conflict generation mismatch
  examples/lighting-app/realtek_bee/data_model/lighting-app.matter
  examples/lighting-app/realtek_bee/data_model/lighting-app.zap
Labels: examples, hotfix, review - pending

#38072 [Chef] update chef force check-in command with shutdown all subs
  examples/common/pigweed/rpc_services/Device.h
  src/app/InteractionModelEngine.cpp
  src/app/InteractionModelEngine.h
  src/controller/tests/data_model/TestRead.cpp
Labels: examples, controller, app, review - approved

#37448 Adding the level control to light switch and changing to dimmer switch
  examples/light-switch-app/light-switch-common/light-switch-app.matter
  examples/light-switch-app/light-switch-common/light-switch-app.zap
  examples/light-switch-app/silabs/include/AppConfig.h
  examples/light-switch-app/silabs/include/AppEvent.h
  examples/light-switch-app/silabs/include/AppTask.h
  examples/light-switch-app/silabs/include/BindingHandler.h
  examples/light-switch-app/silabs/include/LightSwitchMgr.h
  examples/light-switch-app/silabs/src/AppTask.cpp
  examples/light-switch-app/silabs/src/BindingHandler.cpp
  examples/light-switch-app/silabs/src/LightSwitchMgr.cpp
  examples/light-switch-app/silabs/src/ShellCommands.cpp
Labels: examples, review - approved

#37929 Use a reference to the context on ServerClusterInterface::Startup
  src/app/server-cluster/DefaultServerCluster.cpp
  src/app/server-cluster/DefaultServerCluster.h
  src/app/server-cluster/ServerClusterInterface.h
  src/app/server-cluster/testing/TestServerClusterContext.h
  src/data-model-providers/codegen/ServerClusterInterfaceRegistry.cpp
  src/data-model-providers/codegen/tests/TestServerClusterInterfaceRegistry.cpp
Labels: app, review - pending, fast track

#38069 fix: missing field initializer build error
  src/app/data-model-provider/Context.h
  src/app/data-model-provider/Provider.h
Labels: app, review - approved

#37728 ICD: Remove the aborts for ICD manager checks
  src/app/InteractionModelEngine.cpp
  src/app/server/Dnssd.cpp
Labels: app, review - approved

#37901 Update PICS Generator tool
  src/tools/PICS-generator/PICSGenerator.py
  src/tools/PICS-generator/README.md
  src/tools/PICS-generator/XMLPICSValidator.py
  src/tools/PICS-generator/pics_generator_support.py
Labels: tools, review - approved

#38055 [NXP] Update NXP docker image
  integrations/docker/images/base/chip-build/version
  integrations/docker/images/stage-2/chip-build-nxp/Dockerfile
Labels: integrations, review - approved, docker

#38080 [Silabs] Fix GFW image build with ProvisionStorageFlash option
  examples/platform/silabs/provision/ProvisionStorageFlash.cpp
Labels: examples, platform, review - approved, silabs

#38085 [Silabs] Fix for length comparision of connected SSID
  src/platform/silabs/NetworkCommissioningWiFiDriver.cpp
Labels: platform, review - approved, silabs

#38097 Fix temp measurement featuremap (remove invalid feature bit set)
  examples/temperature-measurement-app/temperature-measurement-common/temperature-measurement.matter
  examples/temperature-measurement-app/temperature-measurement-common/temperature-measurement.zap
Labels: examples, review - approved

#38099 Fix chef general commissioning feature map (6 is invalid, replaced it with 0)
  examples/chef/devices/rootnode_colortemperaturelight_hbUnzYVeyn.matter
  examples/chef/devices/rootnode_colortemperaturelight_hbUnzYVeyn.zap
  examples/chef/devices/rootnode_doorlock_aNKYAreMXE.matter
  examples/chef/devices/rootnode_doorlock_aNKYAreMXE.zap
  examples/chef/devices/rootnode_extendedcolorlight_8lcaaYJVAa.matter
  examples/chef/devices/rootnode_extendedcolorlight_8lcaaYJVAa.zap
  examples/chef/devices/rootnode_lightsensor_lZQycTFcJK.matter
  examples/chef/devices/rootnode_lightsensor_lZQycTFcJK.zap
  examples/chef/devices/rootnode_onofflight_bbs1b7IaOV.matter
  examples/chef/devices/rootnode_onofflight_bbs1b7IaOV.zap
  examples/chef/devices/rootnode_onofflight_samplemei.matter
  examples/chef/devices/rootnode_onofflight_samplemei.zap
Labels: examples, review - approved

#38098 [Tizen] Fix SDK installer when more than one CPU is selected
  integrations/docker/images/base/chip-build/version
  integrations/docker/images/stage-2/chip-build-tizen/tizen-sdk-installer/install.sh
Labels: integrations, review - pending, fast track, docker

#38095 Add mock_server folder to the cert-bins image
  integrations/docker/images/chip-cert-bins/Dockerfile
Labels: integrations, review - approved, docker

#38101 Fix general commissioning feature map for 2 more example apps - air purifier and contact sensor
  examples/air-quality-sensor-app/air-quality-sensor-common/air-quality-sensor-app.matter
  examples/air-quality-sensor-app/air-quality-sensor-common/air-quality-sensor-app.zap
  examples/contact-sensor-app/bouffalolab/data_model/contact-sensor-app.matter
  examples/contact-sensor-app/bouffalolab/data_model/contact-sensor-app.zap
  examples/contact-sensor-app/contact-sensor-common/contact-sensor-app.matter
  examples/contact-sensor-app/contact-sensor-common/contact-sensor-app.zap
Labels: examples, review - approved

#38056 [nxp][platform][ota] Add runtime ota reboot delay / Add OTA_ServiceDeInit in AbortAction
  src/platform/nxp/common/ota/OTAFirmwareProcessor.cpp
  src/platform/nxp/common/ota/OTAImageProcessorImpl.cpp
Labels: platform, review - approved, nxp

#38083 Chef RVC: Add support for GoHome command
  examples/chef/common/chef-rvc-operational-state-delegate.cpp
  examples/chef/common/chef-rvc-operational-state-delegate.h
  examples/chef/devices/rootnode_roboticvacuumcleaner_1807ff0c49.matter
  examples/chef/devices/rootnode_roboticvacuumcleaner_1807ff0c49.zap
Labels: examples, review - pending, fast track

#38118 [VID Verification] Add empty handlers to fix ZAP issue
  examples/all-clusters-app/all-clusters-common/all-clusters-app.matter
  examples/all-clusters-app/all-clusters-common/all-clusters-app.zap
  examples/all-clusters-minimal-app/all-clusters-common/all-clusters-minimal-app.matter
  examples/all-clusters-minimal-app/all-clusters-common/all-clusters-minimal-app.zap
  src/app/clusters/operational-credentials-server/operational-credentials-server.cpp
  src/app/tests/suites/TestOperationalCredentialsCluster.yaml
Labels: examples, app, review - approved, tests

#38123 Make sure to cancel the timeout timer whenever we remove an MTRDownload from the downloads list.
  src/darwin/Framework/CHIP/MTRDiagnosticLogsDownloader.mm
Labels: darwin, review - pending, fast track

#38106 Chef Oven Mode application code
  examples/chef/common/clusters/oven-mode/chef-oven-mode.cpp
  examples/chef/common/clusters/oven-mode/chef-oven-mode.h
  examples/chef/common/stubs.cpp
  examples/chef/esp32/main/CMakeLists.txt
  examples/chef/linux/BUILD.gn
  examples/chef/nrfconnect/CMakeLists.txt
Labels: examples, review - pending, fast track

#38091 [ESP32] Update the esp-insights component version to use the latest version.
  config/esp32/components/chip/idf_component.yml
Labels: config, review - approved

#37108 ## Automation REFALM_2_2 ##
  examples/all-clusters-app/linux/AllClustersCommandDelegate.cpp
  src/python_testing/TC_REFALM_2_2.py
Labels: examples, controller, review - approved, tests

#38130 Add emberAf*ClusterShutdownCallback.
  scripts/py_matter_idl/files.gni
  scripts/py_matter_idl/matter/idl/generators/cpp/application/CallbackStubSource.jinja
  scripts/py_matter_idl/matter/idl/generators/cpp/application/ClusterCallbacksSource.jinja
  scripts/py_matter_idl/matter/idl/generators/cpp/application/__init__.py
  scripts/py_matter_idl/matter/idl/tests/available_tests.yaml
  scripts/py_matter_idl/matter/idl/tests/outputs/large_all_clusters_app/cpp-app/callback-stub.cpp
  scripts/py_matter_idl/matter/idl/tests/outputs/large_all_clusters_app/cpp-app/cluster-callbacks.cpp
  scripts/py_matter_idl/matter/idl/tests/outputs/large_all_clusters_app/cpp-app/cluster-init-callback.cpp
  scripts/py_matter_idl/matter/idl/tests/outputs/large_lighting_app/cpp-app/callback-stub.cpp
  scripts/py_matter_idl/matter/idl/tests/outputs/large_lighting_app/cpp-app/cluster-callbacks.cpp
  scripts/py_matter_idl/matter/idl/tests/outputs/several_clusters/cpp-app/callback-stub.cpp
  scripts/py_matter_idl/matter/idl/tests/outputs/several_clusters/cpp-app/cluster-callbacks.cpp
  src/app/chip_data_model.cmake
  src/app/chip_data_model.gni
  src/app/zap-templates/templates/app/callback.zapt
  zzz_generated/app-common/app-common/zap-generated/callback.h
Labels: scripts, app, review - approved

#38146 Update ZAP: newest version and fix up path
  docs/guides/BUILDING.md
  scripts/setup/zap.json
  scripts/setup/zap.version
  scripts/tools/zap/zap_execution.py
Labels: documentation, scripts, review - approved

#37954 Adding Mandatory Endpoint Composition to Oven Device Type for ZAP XML
  src/app/zap-templates/zcl/data-model/chip/matter-devices.xml
Labels: app, review - approved

#38149 Fix false-positive compiler warning in ecoinfo cluster
  src/app/clusters/ecosystem-information-server/ecosystem-information-server.cpp
  src/app/clusters/ecosystem-information-server/ecosystem-information-server.h
Labels: app, review - approved

#38153 Add WebRTCTransportRequestor cluster support in dynamic server
  src/app/dynamic_server/AccessControl.cpp
  src/app/dynamic_server/AccessControl.h
  src/app/dynamic_server/DynamicDispatcher.cpp
Labels: app, review - approved

#38158 Avoid capturing `this` in MTRCommissionableBrowser dispatches
  src/darwin/Framework/CHIP/MTRCommissionableBrowser.mm
Labels: darwin, review - pending, fast track

#38155 Add a "commissionee has received network credentials" notification to Matter.framework.
  examples/darwin-framework-tool/commands/pairing/DeviceControllerDelegateBridge.h
  examples/darwin-framework-tool/commands/pairing/DeviceControllerDelegateBridge.mm
  src/darwin/Framework/CHIP/MTRDeviceController.mm
  src/darwin/Framework/CHIP/MTRDeviceControllerDelegate.h
  src/darwin/Framework/CHIP/MTRDeviceControllerDelegateBridge.h
  src/darwin/Framework/CHIP/MTRDeviceControllerDelegateBridge.mm
Labels: examples, darwin, review - pending, fast track

#36929 credentials: sample delegated crl signer certs and CRLs
  .github/.wordlist.txt
  credentials/test/revoked-attestation-certificates/README.md
  credentials/test/revoked-attestation-certificates/dac-provider-test-vectors/indirect-revoked-dac-01-pai-03.json
  credentials/test/revoked-attestation-certificates/dac-provider-test-vectors/indirect-revoked-dac-01.json
  credentials/test/revoked-attestation-certificates/dac-provider-test-vectors/indirect-revoked-pai-03.json
  credentials/test/revoked-attestation-certificates/indirect/Chip-Test-DAC-01-FFF1-8001-Signed-By-Test-PAI-03-Cert.der
  credentials/test/revoked-attestation-certificates/indirect/Chip-Test-DAC-01-FFF1-8001-Signed-By-Test-PAI-03-Cert.pem
  credentials/test/revoked-attestation-certificates/indirect/Chip-Test-DAC-01-FFF1-8001-Signed-By-Test-PAI-03-Key.der
  credentials/test/revoked-attestation-certificates/indirect/Chip-Test-DAC-01-FFF1-8001-Signed-By-Test-PAI-03-Key.pem
  credentials/test/revoked-attestation-certificates/indirect/Chip-Test-DAC-02-FFF1-8001-Signed-By-Test-PAI-02-Cert.der
  credentials/test/revoked-attestation-certificates/indirect/Chip-Test-DAC-02-FFF1-8001-Signed-By-Test-PAI-02-Cert.pem
  credentials/test/revoked-attestation-certificates/indirect/Chip-Test-DAC-02-FFF1-8001-Signed-By-Test-PAI-02-Key.der
  credentials/test/revoked-attestation-certificates/indirect/Chip-Test-DAC-02-FFF1-8001-Signed-By-Test-PAI-02-Key.pem
  credentials/test/revoked-attestation-certificates/indirect/Chip-Test-DAC-02-FFF1-8001-Signed-By-Test-PAI-03-Cert.der
  credentials/test/revoked-attestation-certificates/indirect/Chip-Test-DAC-02-FFF1-8001-Signed-By-Test-PAI-03-Cert.pem
  credentials/test/revoked-attestation-certificates/indirect/Chip-Test-DAC-02-FFF1-8001-Signed-By-Test-PAI-03-Key.der
  credentials/test/revoked-attestation-certificates/indirect/Chip-Test-DAC-02-FFF1-8001-Signed-By-Test-PAI-03-Key.pem
  credentials/test/revoked-attestation-certificates/indirect/Chip-Test-DAC-FFF1-8001-Signed-By-Test-PAI-01-Cert.der
  credentials/test/revoked-attestation-certificates/indirect/Chip-Test-DAC-FFF1-8001-Signed-By-Test-PAI-01-Cert.pem
  credentials/test/revoked-attestation-certificates/indirect/Chip-Test-DAC-FFF1-8001-Signed-By-Test-PAI-01-Key.der
  credentials/test/revoked-attestation-certificates/indirect/Chip-Test-DAC-FFF1-8001-Signed-By-Test-PAI-01-Key.pem
  credentials/test/revoked-attestation-certificates/indirect/Chip-Test-DAC-FFF1-8001-Signed-By-Test-PAI-02-Cert.der
  credentials/test/revoked-attestation-certificates/indirect/Chip-Test-DAC-FFF1-8001-Signed-By-Test-PAI-02-Cert.pem
  credentials/test/revoked-attestation-certificates/indirect/Chip-Test-DAC-FFF1-8001-Signed-By-Test-PAI-02-Key.der
  credentials/test/revoked-attestation-certificates/indirect/Chip-Test-DAC-FFF1-8001-Signed-By-Test-PAI-02-Key.pem
  credentials/test/revoked-attestation-certificates/indirect/Chip-Test-PAA-Delegate-FFF1-Cert.der
  credentials/test/revoked-attestation-certificates/indirect/Chip-Test-PAA-Delegate-FFF1-Cert.pem
  credentials/test/revoked-attestation-certificates/indirect/Chip-Test-PAA-Delegate-FFF1-Key.der
  credentials/test/revoked-attestation-certificates/indirect/Chip-Test-PAA-Delegate-FFF1-Key.pem
  credentials/test/revoked-attestation-certificates/indirect/Chip-Test-PAA-FFF1-Delegated-CRL.der
  credentials/test/revoked-attestation-certificates/indirect/Chip-Test-PAA-FFF1-Delegated-CRL.pem
  credentials/test/revoked-attestation-certificates/indirect/Chip-Test-PAI-Delegate-FFF1-01-Cert.der
  credentials/test/revoked-attestation-certificates/indirect/Chip-Test-PAI-Delegate-FFF1-01-Cert.pem
  credentials/test/revoked-attestation-certificates/indirect/Chip-Test-PAI-Delegate-FFF1-02-Cert.der
  credentials/test/revoked-attestation-certificates/indirect/Chip-Test-PAI-Delegate-FFF1-02-Cert.pem
  credentials/test/revoked-attestation-certificates/indirect/Chip-Test-PAI-Delegate-FFF1-03-Cert.der
  credentials/test/revoked-attestation-certificates/indirect/Chip-Test-PAI-Delegate-FFF1-03-Cert.pem
  credentials/test/revoked-attestation-certificates/indirect/Chip-Test-PAI-Delegate-FFF1-Key.der
  credentials/test/revoked-attestation-certificates/indirect/Chip-Test-PAI-Delegate-FFF1-Key.pem
  credentials/test/revoked-attestation-certificates/indirect/Chip-Test-PAI-FFF1-01-Cert.der
  credentials/test/revoked-attestation-certificates/indirect/Chip-Test-PAI-FFF1-01-Cert.pem
  credentials/test/revoked-attestation-certificates/indirect/Chip-Test-PAI-FFF1-01-Key.der
  credentials/test/revoked-attestation-certificates/indirect/Chip-Test-PAI-FFF1-01-Key.pem
  credentials/test/revoked-attestation-certificates/indirect/Chip-Test-PAI-FFF1-02-Cert.der
  credentials/test/revoked-attestation-certificates/indirect/Chip-Test-PAI-FFF1-02-Cert.pem
  credentials/test/revoked-attestation-certificates/indirect/Chip-Test-PAI-FFF1-02-Key.der
  credentials/test/revoked-attestation-certificates/indirect/Chip-Test-PAI-FFF1-02-Key.pem
  credentials/test/revoked-attestation-certificates/indirect/Chip-Test-PAI-FFF1-03-Cert.der
  credentials/test/revoked-attestation-certificates/indirect/Chip-Test-PAI-FFF1-03-Cert.pem
  credentials/test/revoked-attestation-certificates/indirect/Chip-Test-PAI-FFF1-03-Key.der
  credentials/test/revoked-attestation-certificates/indirect/Chip-Test-PAI-FFF1-03-Key.pem
  credentials/test/revoked-attestation-certificates/indirect/Chip-Test-PAI-FFF1-Delegated-CRL-Only-First-Entry-With-Issuer-Ext.der
  credentials/test/revoked-attestation-certificates/indirect/Chip-Test-PAI-FFF1-Delegated-CRL-Only-First-Entry-With-Issuer-Ext.pem
  credentials/test/revoked-attestation-certificates/indirect/Chip-Test-PAI-FFF1-Delegated-CRL.der
  credentials/test/revoked-attestation-certificates/indirect/Chip-Test-PAI-FFF1-Delegated-CRL.pem
  credentials/test/revoked-attestation-certificates/indirect/indirect-crl.png
  credentials/test/revoked-attestation-certificates/revocation-sets/indirect-revocation-set.json
Labels: github, review - approved

#38159 Adding temporary workaround in Darwin for XPC clients not adding delegates
  src/darwin/Framework/CHIP/MTRDevice_XPC.mm
Labels: darwin, review - pending, fast track

#38120 Stop relying on an externally-started all-clusters app in Darwin XCTests.
  .github/workflows/darwin.yaml
  src/darwin/Framework/CHIPTests/MTRBackwardsCompatTests.m
  src/darwin/Framework/CHIPTests/MTRCertificateValidityTests.m
  src/darwin/Framework/CHIPTests/MTRCommissionableBrowserTests.m
  src/darwin/Framework/CHIPTests/MTRDeviceTests.m
  src/darwin/Framework/CHIPTests/MTROTAProviderTests.m
  src/darwin/Framework/CHIPTests/MTROperationalCertificateIssuerTests.m
  src/darwin/Framework/CHIPTests/MTRPerControllerStorageTests.m
  src/darwin/Framework/CHIPTests/MTRSwiftDeviceTests.swift
  src/darwin/Framework/CHIPTests/MTRSwiftPairingTests.swift
  src/darwin/Framework/CHIPTests/MatterTests-Bridging-Header.h
  src/darwin/Framework/CHIPTests/TestHelpers/MTRTestCase.h
Labels: darwin, github, workflows, review - pending, fast track

#38154 Add gstreamer to Docker file and sysroot creation.
  integrations/docker/images/base/chip-build/Dockerfile
  integrations/docker/images/base/chip-build/version
  integrations/docker/images/stage-1/chip-build-crosscompile/start-sysroot-vm.sh
Labels: integrations, review - pending, docker

#38131 build_python.sh: Allow to install multiple python packages with --extra_packages
  scripts/build_python.sh
Labels: scripts, review - approved

#34764 Add PAFTP to Wi-Fi PAF commissioning
  examples/chip-tool/commands/pairing/PairingCommand.cpp
  examples/chip-tool/commands/pairing/PairingCommand.h
  examples/platform/linux/AppMain.cpp
  examples/platform/linux/Options.h
  scripts/tools/check_includes_config.py
  src/BUILD.gn
  src/app/server/CommissioningWindowManager.cpp
  src/app/server/Server.cpp
  src/controller/CHIPDeviceController.cpp
  src/controller/CHIPDeviceController.h
  src/controller/CHIPDeviceControllerFactory.h
  src/controller/CHIPDeviceControllerSystemState.h
  src/controller/SetUpCodePairer.cpp
  src/controller/SetUpCodePairer.h
  src/include/platform/CHIPDeviceConfig.h
  src/include/platform/CHIPDeviceEvent.h
  src/include/platform/ConnectivityManager.h
  src/include/platform/internal/GenericPlatformManagerImpl.ipp
  src/lib/BUILD.gn
  src/lib/support/logging/Constants.h
  src/lib/support/logging/TextOnlyLogging.cpp
  src/platform/Linux/BUILD.gn
  src/platform/Linux/ConnectivityManagerImpl.cpp
  src/platform/Linux/ConnectivityManagerImpl.h
  src/platform/Linux/dbus/wpa/DBusWpaInterface.xml
  src/platform/device.gni
  src/transport/SecureSession.h
  src/transport/UnauthenticatedSessionTable.h
  src/transport/raw/PeerAddress.h
  src/transport/raw/WiFiPAF.cpp
  src/transport/raw/WiFiPAF.h
  src/wifipaf/BUILD.gn
  src/wifipaf/WiFiPAFConfig.h
  src/wifipaf/WiFiPAFEndPoint.cpp
  src/wifipaf/WiFiPAFEndPoint.h
  src/wifipaf/WiFiPAFError.cpp
  src/wifipaf/WiFiPAFError.h
  src/wifipaf/WiFiPAFLayer.cpp
  src/wifipaf/WiFiPAFLayer.h
  src/wifipaf/WiFiPAFLayerDelegate.h
  src/wifipaf/WiFiPAFRole.h
  src/wifipaf/WiFiPAFTP.cpp
  src/wifipaf/WiFiPAFTP.h
  src/wifipaf/tests/BUILD.gn
  src/wifipaf/tests/TestWiFiPAFErrorStr.cpp
  src/wifipaf/tests/TestWiFiPAFLayer.cpp
  src/wifipaf/tests/TestWiFiPAFTP.cpp
Labels: tools, examples, scripts, transport, platform, linux, lib, controller, app, review - approved, support

#38133 Use relative imports in Matter Python library
  src/controller/python/chip/CertificateAuthority.py
  src/controller/python/chip/ChipReplStartup.py
  src/controller/python/chip/ChipStack.py
  src/controller/python/chip/FabricAdmin.py
  src/controller/python/chip/bdx/Bdx.py
  src/controller/python/chip/ble/__init__.py
  src/controller/python/chip/ble/commissioning/__init__.py
  src/controller/python/chip/ble/get_adapters.py
  src/controller/python/chip/ble/library_handle.py
  src/controller/python/chip/ble/scan_devices.py
  src/controller/python/chip/clusters/Attribute.py
  src/controller/python/chip/clusters/ClusterObjects.py
  src/controller/python/chip/clusters/Command.py
  src/controller/python/chip/clusters/Objects.py
  src/controller/python/chip/clusters/TestObjects.py
  src/controller/python/chip/commissioning/commissioning_flow_blocks.py
  src/controller/python/chip/credentials/cert.py
  src/controller/python/chip/discovery/__init__.py
  src/controller/python/chip/discovery/library_handle.py
  src/controller/python/chip/discovery/types.py
  src/controller/python/chip/exceptions/__init__.py
  src/controller/python/chip/interaction_model/__init__.py
  src/controller/python/chip/interaction_model/delegate.py
  src/controller/python/chip/internal/__init__.py
  src/controller/python/chip/internal/commissioner.py
  src/controller/python/chip/logging/__init__.py
  src/controller/python/chip/logging/library_handle.py
  src/controller/python/chip/native/__init__.py
  src/controller/python/chip/server/__init__.py
  src/controller/python/chip/setup_payload/__init__.py
  src/controller/python/chip/setup_payload/setup_payload.py
  src/controller/python/chip/storage/__init__.py
  src/controller/python/chip/tracing/__init__.py
  src/controller/python/chip/utils/CommissioningBuildingBlocks.py
  src/controller/python/chip/yaml/data_model_lookup.py
  src/controller/python/chip/yaml/format_converter.py
  src/controller/python/chip/yaml/runner.py
  src/controller/python/templates/python-cluster-Objects-py.zapt
Labels: controller, review - approved

#38114 [ESP32] [v1.4] Backport the fix for compile error for c6 lib path to v1.4-branch.
  config/esp32/components/chip/CMakeLists.txt
Labels: config

#38145 Implement emberAf*ClusterShutdownCallback for clusters of all-clusters-app
  examples/all-clusters-app/all-clusters-common/src/air-quality-instance.cpp
  examples/all-clusters-app/all-clusters-common/src/bridged-actions-stub.cpp
  examples/all-clusters-app/all-clusters-common/src/camera-av-stream-delegate-impl.cpp
  examples/all-clusters-app/all-clusters-common/src/chime-instance.cpp
  examples/all-clusters-app/all-clusters-common/src/concentration-measurement-instances.cpp
  examples/all-clusters-app/all-clusters-common/src/device-energy-management-stub.cpp
  examples/all-clusters-app/all-clusters-common/src/dishwasher-mode.cpp
  examples/all-clusters-app/all-clusters-common/src/electrical-energy-measurement-stub.cpp
  examples/all-clusters-app/all-clusters-common/src/electrical-power-measurement-stub.cpp
  examples/all-clusters-app/all-clusters-common/src/energy-evse-stub.cpp
  examples/all-clusters-app/all-clusters-common/src/fan-stub.cpp
  examples/all-clusters-app/all-clusters-common/src/laundry-washer-mode.cpp
  examples/all-clusters-app/all-clusters-common/src/microwave-oven-mode.cpp
  examples/all-clusters-app/all-clusters-common/src/occupancy-sensing-stub.cpp
  examples/all-clusters-app/all-clusters-common/src/operational-state-delegate-impl.cpp
  examples/all-clusters-app/all-clusters-common/src/oven-modes.cpp
  examples/all-clusters-app/all-clusters-common/src/oven-operational-state-delegate.cpp
  examples/all-clusters-app/all-clusters-common/src/power-topology-stub.cpp
  examples/all-clusters-app/all-clusters-common/src/resource-monitoring-delegates.cpp
  examples/all-clusters-app/all-clusters-common/src/rvc-modes.cpp
  examples/all-clusters-app/all-clusters-common/src/rvc-operational-state-delegate-impl.cpp
  examples/all-clusters-app/all-clusters-common/src/tcc-mode.cpp
Labels: examples, review - approved

#38157 Update Darwin availability annotations for newly-added features.
  src/darwin/Framework/CHIP/templates/availability.yaml
Labels: darwin, review - pending, fast track

#38109 TC-FAN-2.2: Enhanced attribute value testing
  src/app/tests/suites/certification/Test_TC_FAN_2_2.yaml
Labels: app, review - pending, fast track, tests

#38084 [Silabs] Button handling fix in light-switch app
  examples/light-switch-app/silabs/include/AppConfig.h
  examples/light-switch-app/silabs/include/AppTask.h
  examples/light-switch-app/silabs/include/LightSwitchMgr.h
  examples/light-switch-app/silabs/src/AppTask.cpp
  examples/light-switch-app/silabs/src/LightSwitchMgr.cpp
Labels: examples, review - approved
