Repository project-chip/connectedhomeip, pull requests merged in 2025-02, with the labels that each got.

#37323 Add some descriptions to chip-tool read/subscribe-by-id commands.
  examples/chip-tool/commands/clusters/ModelCommand.h
  examples/chip-tool/commands/clusters/ReportCommand.h
Labels: tools, examples, review - approved

#37344 Add MTRDeviceController API to get a list of node IDs with data stored for them.
  src/darwin/Framework/CHIP/MTRDeviceController.h
  src/darwin/Framework/CHIP/MTRDeviceController.mm
  src/darwin/Framework/CHIP/MTRDeviceControllerDataStore.h
  src/darwin/Framework/CHIP/MTRDeviceControllerDataStore.mm
  src/darwin/Framework/CHIP/MTRDeviceController_Concrete.mm
  src/darwin/Framework/CHIP/MTRDeviceController_XPC.mm
  src/darwin/Framework/CHIP/XPC Protocol/MTRXPCServerProtocol.h
  src/darwin/Framework/CHIPTests/MTRPerControllerStorageTests.m
  src/darwin/Framework/CHIPTests/TestHelpers/MTRTestDeclarations.h
Labels: darwin, review - pending, fast track

#37346 Fix compilation errors for android-chip-tool and java-matter-commissioner
  src/controller/java/AndroidLogDownloadFromNode.cpp
  src/controller/java/CHIPP256KeypairBridge.cpp
Labels: controller, review - pending, fast track

#37348 Fix android docker image
  integrations/docker/images/base/chip-build/version
  integrations/docker/images/stage-2/chip-build-java/Dockerfile
  integrations/docker/images/stage-3/chip-build-android/Dockerfile
Labels: integrations, review - pending, fast track, docker

#37331 [ESP32] update document for app_main outside of main component
  docs/platforms/esp32/config_options.md
Labels: documentation, review - approved

#37209 [chip-repl] Fix Jupyter Notebooks and run them in CI
  .github/workflows/tests.yaml
  docs/development_controllers/chip-repl/Matter_Access_Control.ipynb
  docs/development_controllers/chip-repl/Matter_Basic_Interactions.ipynb
  docs/development_controllers/chip-repl/Matter_Multi_Fabric_Commissioning.ipynb
  docs/development_controllers/chip-repl/Matter_REPL_Intro.ipynb
  docs/development_controllers/chip-repl/python_chip_controller_building.md
  scripts/jupyterlab_requirements.txt
  src/controller/python/chip-repl.py
  src/controller/python/chip/ChipReplStartup.py
Labels: documentation, scripts, controller, github, workflows, review - pending, fast track

#37334 Update MetadataList logic for better error handling
  src/app/data-model-provider/MetadataList.cpp
  src/app/data-model-provider/MetadataList.h
  src/app/data-model-provider/ProviderMetadataTree.h
Labels: app, review - approved

#37324 Handle the output event of type TransferSession::OutputEventType::kIn…
  src/protocols/bdx/AsyncTransferFacilitator.cpp
  src/protocols/bdx/AsyncTransferFacilitator.h
Labels: review - pending, fast track, protocols

#37358 Post-merge comment fixes for #37207
  src/app/data-model-provider/Provider.h
  src/data-model-providers/codegen/CodegenDataModelProvider.cpp
Labels: app, review - approved

#37254 Fix deregistering error formatter
  src/lib/core/CHIPError.cpp
  src/lib/core/CHIPError.h
  src/lib/core/ErrorStr.cpp
  src/lib/core/tests/TestCHIPErrorStr.cpp
  src/lib/support/tests/TestErrorStr.cpp
  src/system/tests/TestSystemErrorStr.cpp
  src/system/tests/TestSystemPacketBuffer.cpp
Labels: system, lib, review - approved, support, core

#37373 [Chef] Add semicolon to fix compilation failure on MacOS
  examples/chef/common/stubs.cpp
Labels: examples, review - approved

#37374 [Tizen] Download all packages from dedicated Tizen version
  integrations/docker/images/base/chip-build/version
  integrations/docker/images/stage-2/chip-build-tizen/Dockerfile
  integrations/docker/images/stage-2/chip-build-tizen/tizen-sdk-installer/install.sh
Labels: integrations, review - pending, fast track, docker

#36941 [CASESession] Factoring Out Sigma2 and Sigma3 Parsing Functions for Improved Testability
  src/protocols/secure_channel/CASESession.cpp
  src/protocols/secure_channel/CASESession.h
  src/protocols/secure_channel/tests/TestCASESession.cpp
Labels: review - approved, protocols

#37366 [chip-tool] include crypto/CryptoBuildConfig.h must be guarded by CHIP_HAVE_CONFIG_H
  examples/chip-tool/commands/dcl/HTTPSRequest.cpp
Labels: tools, examples, review - approved

#37390 [Tizen] Fix rpm unpacking for stage-3 build
  integrations/docker/images/base/chip-build/version
  integrations/docker/images/stage-3/chip-build-tizen-qemu/Dockerfile
Labels: integrations, review - pending, fast track, docker

#37352 Delay the commissioning window ended check by one second
  src/app/tests/suites/certification/Test_TC_CADMIN_1_3.yaml
Labels: app, review - approved, tests

#37268 Fix key error when using TLV dictionary in DeviceConformance test.
  src/python_testing/TC_DeviceConformance.py
  src/python_testing/TestConformanceTest.py
Labels: review - pending, fast track, tests

#37392 [chip-tool] Fix missing include <algorithm> in DCL code
  examples/chip-tool/commands/dcl/DisplayTermsAndConditions.cpp
Labels: tools, examples, review - pending, fast track

#37395 Python script analyzes the memory usage of a compiled binary from local build
  scripts/tools/memory/local_sizes.py
Labels: scripts, review - approved

#37396 [Android] Reset Android icd storage before init
  src/controller/java/AndroidDeviceControllerWrapper.cpp
Labels: controller, review - approved

#37382 Fix assert command: self has no assert_true, this in mobly asserts.
  src/python_testing/TC_DGWIFI_2_1.py
Labels: review - approved, tests

#37367 Update specification revision and test
  src/app/SpecificationDefinedRevisions.h
  src/app/tests/suites/TestBasicInformation.yaml
  src/app/tests/suites/certification/Test_TC_BINFO_2_1.yaml
Labels: app, review - approved, tests

#37368 [doc]update android doc with gradle/jdk version
  docs/platforms/android/android_building.md
Labels: documentation, review - pending, fast track

#37361 Fix: reset lock owner thread id on stack unlock
  src/include/platform/internal/GenericPlatformManagerImpl_POSIX.ipp
Labels: platform, review - approved

#37362 TC-SC-4.3: Clear cache before sending request
  src/python_testing/mdns_discovery/mdns_discovery.py
Labels: review - pending, fast track, tests

#37078 Administrator Commissioning cluster: Use CommandHandlerInterface for handling commands
  examples/fabric-bridge-app/linux/main.cpp
  examples/fabric-sync/bridge/src/Bridge.cpp
  scripts/tools/zap/tests/outputs/all-clusters-app/app-templates/IMClusterCommandHandler.cpp
  scripts/tools/zap/tests/outputs/lighting-app/app-templates/IMClusterCommandHandler.cpp
  src/app/clusters/administrator-commissioning-server/administrator-commissioning-server.cpp
  src/app/common/templates/config-data.yaml
  src/python_testing/TC_MCORE_FS_1_4.py
  zzz_generated/app-common/app-common/zap-generated/callback.h
Labels: examples, scripts, app, review - pending, fast track, tests

#37333 Fix and re-enable Zephyr native tests
  .github/workflows/examples-nrfconnect.yaml
  src/app/icd/server/tests/TestICDMonitoringTable.cpp
  src/credentials/tests/TestFabricTable.cpp
  src/crypto/tests/TestChipCryptoPAL.cpp
  src/system/tests/TestEventLoopHandler.cpp
  src/test_driver/nrfconnect/main/include/app_mbedtls_config.h
  src/test_driver/nrfconnect/prj.conf
Labels: system, nrf connect, lib, crypto, app, github, workflows, review - approved, support, core, test driver, icd

#37215 Fix app conformance failures: microwave-oven-app [Fixes #36828]
  examples/microwave-oven-app/microwave-oven-common/microwave-oven-app.matter
  examples/microwave-oven-app/microwave-oven-common/microwave-oven-app.zap
Labels: examples, review - pending, fast track

#37409 [chip-tool] Add config_enable_https_requests flag to examples/chip-to…
  examples/chip-tool/BUILD.gn
  examples/chip-tool/chip-tool.gni
  examples/chip-tool/commands/dcl/HTTPSRequest.cpp
Labels: tools, examples, review - pending, fast track

#37398 Add a Matter.framework API for invoking multiple commands.
  src/darwin/Framework/CHIP/MTRCommandWithExpectedResult.h
  src/darwin/Framework/CHIP/MTRCommandWithExpectedResult.mm
  src/darwin/Framework/CHIP/MTRDevice.h
  src/darwin/Framework/CHIP/MTRDevice.mm
  src/darwin/Framework/CHIP/MTRDeviceController_XPC.mm
  src/darwin/Framework/CHIP/MTRDevice_Concrete.mm
  src/darwin/Framework/CHIP/MTRDevice_XPC.mm
  src/darwin/Framework/CHIP/Matter.h
  src/darwin/Framework/CHIP/XPC Protocol/MTRXPCServerProtocol.h
  src/darwin/Framework/CHIPTests/MTRDeviceTests.m
  src/darwin/Framework/Matter.xcodeproj/project.pbxproj
Labels: darwin, review - pending, fast track

#37413 [Android]update java in vscode docker and fix JAVA_HOME and update kotlin version in java docker
  integrations/docker/images/base/chip-build/version
  integrations/docker/images/stage-2/chip-build-java/Dockerfile
  integrations/docker/images/vscode/chip-build-vscode/Dockerfile
Labels: review - pending, fast track

#37379 [darwin-framework-tool] Add Enhanced Commissioning Support (T&C Flow via Local DCL) to darwin-framework-tool
  examples/darwin-framework-tool/BUILD.gn
  examples/darwin-framework-tool/commands/dcl/HTTPSRequest.mm
  examples/darwin-framework-tool/commands/pairing/PairingCommandBridge.h
  examples/darwin-framework-tool/commands/pairing/PairingCommandBridge.mm
  examples/darwin-framework-tool/main.mm
  src/darwin/Framework/CHIP/MTRCommissioningParameters.h
  src/darwin/Framework/CHIP/MTRDeviceController_Concrete.mm
  src/darwin/Framework/Matter.xcodeproj/project.pbxproj
Labels: examples, darwin, review - pending, fast track

#37345 Make global attributes be part of IM instead of part of DataModel::Provider
  .github/workflows/lint.yml
  examples/java-matter-controller/java/src/com/matter/controller/commands/pairing/PairOnNetworkLongImReadCommand.kt
  kotlin-detect-config.yaml
  scripts/build_coverage.sh
  src/app/BUILD.gn
  src/app/GlobalAttributes.cpp
  src/app/GlobalAttributes.h
  src/app/chip_data_model.cmake
  src/app/chip_data_model.gni
  src/app/data-model-provider/MetadataLookup.cpp
  src/app/data-model-provider/MetadataLookup.h
  src/app/data-model-provider/Provider.h
  src/app/data-model-provider/ProviderMetadataTree.h
  src/app/data-model-provider/StringBuilderAdapters.cpp
  src/app/data-model-provider/StringBuilderAdapters.h
  src/app/reporting/Engine.cpp
  src/app/tests/TestReadInteraction.cpp
  src/app/tests/suites/TestBasicInformation.yaml
  src/app/util/ember-global-attribute-access-interface.cpp
  src/app/util/ember-global-attribute-access-interface.h
  src/app/util/mock/BUILD.gn
  src/controller/tests/data_model/TestRead.cpp
  src/darwin/Framework/CHIPTests/MTRPerControllerStorageTests.m
  src/darwin/Framework/Matter.xcodeproj/project.pbxproj
  src/data-model-providers/codegen/CodegenDataModelProvider_Read.cpp
  src/data-model-providers/codegen/CodegenDataModelProvider_Write.cpp
  src/data-model-providers/codegen/EmberMetadata.cpp
  src/data-model-providers/codegen/EmberMetadata.h
  src/data-model-providers/codegen/tests/BUILD.gn
  src/data-model-providers/codegen/tests/TestCodegenModelViaMocks.cpp
  src/python_testing/TestWriteReadOnlyAttributes.py
Labels: examples, scripts, darwin, controller, app, github, workflows, review - approved, tests

#37416 Rename expectedResult to requiredResponse in the invokeCommands API.
  src/darwin/Framework/CHIP/MTRCommandWithRequiredResponse.h
  src/darwin/Framework/CHIP/MTRCommandWithRequiredResponse.mm
  src/darwin/Framework/CHIP/MTRDevice.h
  src/darwin/Framework/CHIP/MTRDevice.mm
  src/darwin/Framework/CHIP/MTRDeviceController_XPC.mm
  src/darwin/Framework/CHIP/MTRDevice_Concrete.mm
  src/darwin/Framework/CHIP/MTRDevice_XPC.mm
  src/darwin/Framework/CHIP/Matter.h
  src/darwin/Framework/CHIP/XPC Protocol/MTRXPCServerProtocol.h
  src/darwin/Framework/CHIPTests/MTRDeviceTests.m
  src/darwin/Framework/Matter.xcodeproj/project.pbxproj
Labels: darwin, review - pending, fast track

#37414 [Android]bump android CI run docker versions
  .github/workflows/full-android.yaml
  .github/workflows/smoketest-android.yaml
  integrations/cloudbuild/smoke-test.yaml
Labels: integrations, github, workflows, review - pending, fast track

#37415 Make the build_coverage script more flexible
  docs/guides/BUILDING.md
  scripts/build_coverage.sh
Labels: documentation, scripts, review - approved

#37417 [Java] Delete finalize method in java
  scripts/py_matter_idl/matter_idl/generators/java/ChipClusters_java.jinja
  scripts/py_matter_idl/matter_idl/tests/outputs/several_clusters/java/ChipClusters.java
  src/controller/java/generated/java/chip/devicecontroller/ChipClusters.java
  src/controller/java/src/chip/devicecontroller/BatchInvokeCallbackJni.java
  src/controller/java/src/chip/devicecontroller/ChipDeviceController.java
  src/controller/java/src/chip/devicecontroller/ExtendableInvokeCallbackJni.java
  src/controller/java/src/chip/devicecontroller/GetConnectedDeviceCallbackJni.java
  src/controller/java/src/chip/devicecontroller/InvokeCallbackJni.java
  src/controller/java/src/chip/devicecontroller/ReportCallbackJni.java
  src/controller/java/src/chip/devicecontroller/WriteAttributesCallbackJni.java
Labels: scripts, controller, review - approved

#37427 [Tizen] Fix race when storing cert credentials
  integrations/docker/images/base/chip-build/version
  integrations/docker/images/stage-2/chip-build-tizen/tizen-sdk-installer/secret-tool.py
Labels: integrations, review - pending, docker

#37397 Add test steps logging for TCP Tests
  src/python_testing/TCP_Tests.py
Labels: review - approved, fast track, tests

#37098 [TC-DLOG-2.1] Updated the Manual script as per the Verification step document.
  src/app/tests/suites/certification/Test_TC_DLOG_2_1.yaml
Labels: app, review - pending, fast track, tests

#37337 [PSA] bugfix for potential buffer overflow from AES_CCM Encrypt/Decrypt
  src/crypto/CHIPCryptoPALPSA.cpp
Labels: crypto, review - approved

#36597 Tc sc 4 1 bcm support
  src/app/tests/suites/certification/Test_TC_SC_4_1.yaml
Labels: app, review - pending, fast track, tests, matter-1.4-te2-script-change

#37425 [CASESession] Follow up to refactoring Sigma Parsing functions PR
  src/protocols/secure_channel/CASESession.cpp
  src/protocols/secure_channel/CASESession.h
Labels: review - approved, protocols

#37440 [TC-DLOG-2.1] Updated the Manual script as per the Verification step …
  src/app/tests/suites/certification/Test_TC_DLOG_2_1.yaml
Labels: app, tests, matter-1.4-te2-script-change

#37437 [v1.4-cherrypick] Tc sc 4 1 bcm support
  src/app/tests/suites/certification/Test_TC_SC_4_1.yaml
Labels: app, tests, matter-1.4-te2-script-change

#37394 Auto-select data model set based on specification version
  .github/workflows/tests.yaml
  src/python_testing/TC_AccessChecker.py
  src/python_testing/TC_DeviceConformance.py
  src/python_testing/TC_pics_checker.py
  src/python_testing/TestConformanceTest.py
  src/python_testing/TestSpecParsingDeviceType.py
  src/python_testing/TestSpecParsingSelection.py
  src/python_testing/TestSpecParsingSupport.py
  src/python_testing/matter_testing_infrastructure/chip/testing/basic_composition.py
  src/python_testing/matter_testing_infrastructure/chip/testing/matter_testing.py
  src/python_testing/matter_testing_infrastructure/chip/testing/runner.py
  src/python_testing/matter_testing_infrastructure/chip/testing/spec_parsing.py
  src/python_testing/test_metadata.yaml
  src/python_testing/test_testing/example_pics_xml_basic_info.xml
  src/python_testing/test_testing/test_IDM_10_4.py
Labels: github, workflows, review - pending, fast track, tests

#37412 Reduce logging in BDXTransferSession by removing logging for BlockQue…
  src/darwin/Framework/CHIP/MTROTAImageTransferHandler.mm
  src/protocols/bdx/AsyncTransferFacilitator.cpp
  src/protocols/bdx/BdxTransferSession.cpp
Labels: darwin, review - approved, protocols

#37351 Create an AAI registry for PwRPC services to allow registration of custom AAI classes
  examples/common/pigweed/rpc_services/AccessInterceptor.h
  examples/common/pigweed/rpc_services/AccessInterceptorRegistry.h
  examples/common/pigweed/rpc_services/Attributes.h
Labels: examples, review - pending, fast track

#37442 Fix validation of return value for invokeCommands.
  src/darwin/Framework/CHIP/MTRDeviceDataValidation.h
  src/darwin/Framework/CHIP/MTRDeviceDataValidation.mm
  src/darwin/Framework/CHIP/MTRDevice_XPC.mm
  src/darwin/Framework/CHIPTests/MTRDeviceTests.m
Labels: darwin, review - pending, fast track

#37446 Revert "[Java] Delete finalize method in java (#37417)"
  scripts/py_matter_idl/matter_idl/generators/java/ChipClusters_java.jinja
  scripts/py_matter_idl/matter_idl/tests/outputs/several_clusters/java/ChipClusters.java
  src/controller/java/generated/java/chip/devicecontroller/ChipClusters.java
  src/controller/java/src/chip/devicecontroller/BatchInvokeCallbackJni.java
  src/controller/java/src/chip/devicecontroller/ChipDeviceController.java
  src/controller/java/src/chip/devicecontroller/ExtendableInvokeCallbackJni.java
  src/controller/java/src/chip/devicecontroller/GetConnectedDeviceCallbackJni.java
  src/controller/java/src/chip/devicecontroller/InvokeCallbackJni.java
  src/controller/java/src/chip/devicecontroller/ReportCallbackJni.java
  src/controller/java/src/chip/devicecontroller/WriteAttributesCallbackJni.java
Labels: scripts, controller, review - approved

#37441 Update chef air quality sample to use ug/m^3
  examples/chef/common/chef-concentration-measurement.cpp
Labels: examples, review - approved

#37436 [Darwin] MTRDevice should throttle deviceBecameActive callbacks
  src/darwin/Framework/CHIP/MTRDevice_Concrete.mm
Labels: darwin, review - pending, fast track

#37430 [Tizen] Add ifdef for version-dependent Thread API
  src/platform/Tizen/ThreadStackManagerImpl.cpp
Labels: platform, review - approved, tizen

#37450 [Docker Image] Add zstd to chip-build
  integrations/docker/images/base/chip-build/Dockerfile
  integrations/docker/images/base/chip-build/version
Labels: integrations, review - pending, docker

#37444 [Android][Docker]upgrade android sdk from 8 to 11 with java 11 support
  integrations/docker/images/base/chip-build/version
  integrations/docker/images/stage-2/chip-build-java/Dockerfile
  integrations/docker/images/stage-3/chip-build-android/Dockerfile
Labels: integrations, review - approved, docker

#37443 Cherry pick PR #37397 to V1.4 branch
  src/python_testing/TCP_Tests.py
Labels: tests, matter-1.4-te2-script-change

#37376 telink: add instructions how to use USB logging
  examples/lighting-app/telink/README.md
Labels: examples, review - pending, fast track

#37052 Add test steps 50-60 from the Thermostat test plan to the Thermostat …
  scripts/py_matter_yamltests/matter_yamltests/yaml_loader.py
  src/app/tests/suites/certification/PICS.yaml
  src/app/tests/suites/certification/Test_TC_TSTAT_2_1.yaml
  src/app/tests/suites/certification/Test_TC_TSTAT_4_1.yaml
  src/app/tests/suites/certification/ci-pics-values
  src/python_testing/TC_TSTAT_4_2.py
Labels: scripts, app, review - approved, tests

#37458 Don't log kNone events in BdxTransferDiagnosticLog::HandleTransferSessionOutput.
  src/protocols/bdx/BdxTransferDiagnosticLog.cpp
Labels: review - pending, fast track, protocols

#37459 Fix incorrect comment in TLVWriter.
  src/lib/core/TLVWriter.cpp
Labels: lib, review - pending, fast track, core

#37429 Cherry-pick: TC-SC-4.3 related PRs to v1.4-branch for 1.4.1 SVE (supports TCP)
  src/app/tests/suites/certification/Test_TC_SC_4_3.yaml
  src/app/tests/suites/manualTests.json
  src/python_testing/TC_SC_4_3.py
  src/python_testing/mdns_discovery/mdns_async_service_info.py
  src/python_testing/mdns_discovery/mdns_discovery.py
  src/python_testing/mdns_discovery/mdns_service_type_enum.py
Labels: app, tests, matter-1.4-te2-script-change

#37460 Fix comments and naming for Darwin invoke responses validation.
  src/darwin/Framework/CHIP/MTRDeviceDataValidation.h
  src/darwin/Framework/CHIP/MTRDeviceDataValidation.mm
Labels: darwin, review - pending, fast track

#37424 Updated TC-DD-1.10 YAML script with more detailed descriptions for test steps 1 and 2
  src/app/tests/suites/certification/Test_TC_DD_1_10.yaml
Labels: app, review - pending, tests

#34133 [ESP32] Fix the bluedroid build issue on ESP32.
  src/platform/ESP32/bluedroid/BLEManagerImpl.cpp
Labels: platform, esp32, review - approved

#37472 Cherrypick #37052 into the 1.4 branch
  scripts/py_matter_yamltests/matter_yamltests/yaml_loader.py
  src/app/tests/suites/certification/PICS.yaml
  src/app/tests/suites/certification/Test_TC_TSTAT_2_1.yaml
  src/app/tests/suites/certification/Test_TC_TSTAT_4_1.yaml
  src/app/tests/suites/certification/ci-pics-values
  src/python_testing/TC_TSTAT_4_2.py
Labels: scripts, app, tests, matter-1.4-te2-script-change

#37347 Add TCP bitflag checks to TC_SC_4_3 test.
  src/python_testing/TC_SC_4_3.py
Labels: review - approved, tests

#37465 Cherry-pick: Fix key error when using TLV dictionary in DeviceConformance test. (#…
  src/python_testing/TC_DeviceConformance.py
  src/python_testing/TestConformanceTest.py
Labels: tests, matter-1.4-te2-script-change

#37463 TC-BINFO-2.1: cherry pick to 1.4 branch
  src/app/SpecificationDefinedRevisions.h
  src/app/tests/suites/TestBasicInformation.yaml
  src/app/tests/suites/certification/Test_TC_BINFO_2_1.yaml
Labels: app, tests, matter-1.4-te2-script-change

#37464 Convert reference to gen_config.h to the correct header file.
  src/app/clusters/administrator-commissioning-server/administrator-commissioning-server.cpp
Labels: app, review - approved

#37480 Improve logging around sending XPC messages.
  src/darwin/Framework/CHIP/MTRDefines_Internal.h
  src/darwin/Framework/CHIP/MTRDevice_XPC.mm
Labels: darwin, review - pending, fast track

#37015 test: Implement TC acknowledgement test cases
  .github/workflows/tests.yaml
  integrations/docker/images/chip-cert-bins/Dockerfile
  scripts/build/builders/host.py
  scripts/tests/local.py
  src/app/tests/suites/certification/PICS.yaml
  src/app/tests/suites/certification/ci-pics-values
  src/python_testing/TC_CGEN_2_10.py
  src/python_testing/TC_CGEN_2_11.py
  src/python_testing/TC_CGEN_2_5.py
  src/python_testing/TC_CGEN_2_6.py
  src/python_testing/TC_CGEN_2_7.py
  src/python_testing/TC_CGEN_2_8.py
  src/python_testing/TC_CGEN_2_9.py
  src/python_testing/matter_testing_infrastructure/chip/testing/matter_testing.py
Labels: scripts, integrations, app, vscode, github, workflows, review - approved, tests, docker

#37469 removing OccupancySensing Cluster.
  examples/contact-sensor-app/contact-sensor-common/contact-sensor-app.matter
  examples/contact-sensor-app/contact-sensor-common/contact-sensor-app.zap
Labels: examples, review - pending, fast track

#37357 [Telink] Update Docker image (Zephyr SDK update)
  integrations/docker/images/base/chip-build/version
  integrations/docker/images/stage-2/chip-build-telink/Dockerfile
  integrations/docker/images/vscode/chip-build-vscode/Dockerfile
Labels: integrations, github, workflows, review - pending, docker

#37493 Fix regular expression for variable splitting.
  scripts/py_matter_yamltests/matter_yamltests/parser.py
Labels: scripts, review - approved

#37498 [TC_CGEN_2_8] Add TC acknowledgement attribute verification steps
  src/python_testing/TC_CGEN_2_8.py
Labels: review - pending, fast track, tests

#37457 Add `--coverage` option for local.py, make clang coverage builds use `-fcoverage-mapping/-fprofile-instr-generate`
  build/config/compiler/BUILD.gn
  scripts/build/build/targets.py
  scripts/build/builders/host.py
  scripts/tests/chiptest/test_definition.py
  scripts/tests/local.py
  src/python_testing/matter_testing_infrastructure/chip/testing/matter_testing.py
Labels: scripts, gn, review - pending, fast track, tests

#37506 [Darwin] Support MTRCommandWithRequiredResponse being nested in XPC
  src/darwin/Framework/CHIP/MTRCommandWithRequiredResponse.mm
Labels: darwin, review - pending, fast track

#37504 V1.4 branch/cherry pick 37498
  src/python_testing/TC_CGEN_2_8.py
Labels: tools, examples, scripts, integrations, platform, lib, controller, app, github, workflows, tests, support, docker, matter-1.4-te2-script-change

#36023 [HVAC] Implement TC-TSTAT-2.2
  src/app/tests/suites/certification/Test_TC_TSTAT_2_2.yaml
  src/python_testing/TC_TSTAT_2_2.py
Labels: app, review - approved, tests, matter-1.4-te2-script-change

#37477 cherry-pick: Add TCP bitflag checks to TC_SC_4_3 test. (#37347)
  src/python_testing/TC_SC_4_3.py
Labels: fast track, tests, matter-1.4-te2-script-change

#37322 Move `::WriteAttribute` validation inside Interaction Model Write Handling
  src/app/InteractionModelEngine.cpp
  src/app/WriteHandler.cpp
  src/app/WriteHandler.h
  src/app/data-model-provider/MetadataLookup.cpp
  src/app/data-model-provider/MetadataLookup.h
  src/app/data-model-provider/OperationTypes.h
  src/app/data-model-provider/Provider.h
  src/app/data-model-provider/tests/WriteTesting.h
  src/app/reporting/Engine.cpp
  src/app/tests/TestWriteInteraction.cpp
  src/controller/tests/data_model/TestWrite.cpp
  src/data-model-providers/codegen/CodegenDataModelProvider_Write.cpp
  src/data-model-providers/codegen/tests/TestCodegenModelViaMocks.cpp
Labels: controller, app, review - approved, tests

#37515 cherry-pick: [HVAC] Implement TC-TSTAT-2.2 (#36023)
  src/app/tests/suites/certification/Test_TC_TSTAT_2_2.yaml
  src/python_testing/TC_TSTAT_2_2.py
Labels: app, tests, matter-1.4-te2-script-change

#37508 [ESP32] Backport the bluedroid build fixes on v1.4-branch.
  src/platform/ESP32/bluedroid/BLEManagerImpl.cpp
Labels: platform, esp32

#37509 [ESP32] Backport bluedroid build fixes on v1.3-branch.
  src/platform/ESP32/bluedroid/BLEManagerImpl.cpp
Labels: platform, esp32

#37502 Log attempts to commission a device in Matter.framework.
  src/darwin/Framework/CHIP/MTRCommissioningParameters.mm
  src/darwin/Framework/CHIP/MTRDeviceController_Concrete.mm
Labels: darwin, review - approved

#37470 [Java][docker] set java 8 for java docker
  integrations/docker/images/base/chip-build/version
  integrations/docker/images/stage-2/chip-build-java/Dockerfile
  integrations/docker/images/stage-3/chip-build-android/Dockerfile
Labels: integrations, review - pending, fast track, docker

#37473 Fix typo in CC13x4_26x4 Lighting App README
  examples/lighting-app/cc13x4_26x4/README.md
Labels: examples, review - pending, fast track

#37453 Enhance assert_list_element_type with optional empty list handling
  src/python_testing/matter_testing_infrastructure/chip/testing/matter_asserts.py
  src/python_testing/matter_testing_infrastructure/chip/testing/test_matter_asserts.py
Labels: review - pending, fast track, tests

#37314 [Thermostat] Remove obsolete references to CommitPresetsSchedulesRequest
  src/app/clusters/thermostat-server/thermostat-delegate.h
  src/app/clusters/thermostat-server/thermostat-server-presets.cpp
Labels: app, review - approved

#37454 [bouffalo lab] update scripts and documents to support more options t…
  docs/platforms/bouffalolab/getting_started.md
  docs/platforms/bouffalolab/matter_factory_data.md
  scripts/flashing/bouffalolab_firmware_utils.py
  scripts/setup/requirements.bouffalolab.txt
  scripts/tools/bouffalolab/generate_factory_data.py
Labels: documentation, scripts, review - pending, fast track

#37516 [bouffalolab] update macro define for header reserve size and etherne…
  examples/lighting-app/bouffalolab/bl602/BUILD.gn
  examples/lighting-app/bouffalolab/bl702/BUILD.gn
  examples/lighting-app/bouffalolab/data_model/lighting-app-ethernet.matter
  examples/lighting-app/bouffalolab/data_model/lighting-app-ethernet.zap
  src/platform/bouffalolab/common/SystemPlatformConfig.h
Labels: examples, platform, review - pending, fast track

#37456 [Java]disable warning error for java
  build/chip/java/rules.gni
Labels: scripts, controller, gn, review - pending, fast track

#37517 [bouffalo lab] open commission window when last fabric is removed
  examples/platform/bouffalolab/common/plat/platform.cpp
  src/platform/bouffalolab/BL616/ThreadStackManagerImpl.cpp
  src/platform/bouffalolab/BL702/ThreadStackManagerImpl.cpp
  src/platform/bouffalolab/BL702L/ThreadStackManagerImpl.cpp
  src/platform/bouffalolab/common/BLConfig_littlefs.cpp
  src/platform/bouffalolab/common/ConfigurationManagerImpl.cpp
  src/platform/bouffalolab/common/ConfigurationManagerImpl.h
  src/platform/bouffalolab/common/ThreadStackManagerImpl.h
Labels: examples, platform, review - approved

#37501 [Darwin] Add logging for sync storage duration over a threshold
  src/darwin/Framework/CHIP/MTRDeviceControllerDataStore.mm
Labels: darwin, review - approved

#37503 Reset backoff on successful subscription in MTRDevice.
  src/darwin/Framework/CHIP/MTRBaseSubscriptionCallback.h
  src/darwin/Framework/CHIP/MTRDevice_Concrete.mm
Labels: darwin, review - pending, fast track

#37475 Back off extra python version of diagnostic test cases
  src/python_testing/TC_DGETH_2_1.py
  src/python_testing/TC_DGSW_2_1.py
  src/python_testing/TC_DGSW_2_2.py
  src/python_testing/TC_DGSW_2_3.py
  src/python_testing/TC_DGTHREAD_2_1.py
  src/python_testing/TC_DGTHREAD_2_2.py
  src/python_testing/TC_DGTHREAD_2_3.py
  src/python_testing/TC_DGTHREAD_2_4.py
  src/python_testing/TC_DGWIFI_2_1.py
  src/python_testing/TC_DGWIFI_2_2.py
  src/python_testing/TC_DGWIFI_2_3.py
Labels: review - approved, tests

#37528 Update TC_TSTAT_2_2.py for v1.4.1 compatibility
  src/python_testing/TC_TSTAT_2_2.py
  src/python_testing/matter_testing_support.py
Labels: tests, matter-1.4-te2-script-change

#37488 ESP32: Fix ble init and deinit flow.
  src/platform/ESP32/nimble/BLEManagerImpl.cpp
Labels: platform, esp32, review - approved

#37483 ESP32: Fix the menuconfig option description for LwIP thread safety
  config/esp32/components/chip/Kconfig
Labels: config, review - approved

#37540 Fix chip terms and conditions app copy path at Dockerfile
  integrations/docker/images/chip-cert-bins/Dockerfile
Labels: integrations, docker

#37535 [ESP32] Fix incorrect RTC log format in SystemTimeSupport
  src/platform/ESP32/SystemTimeSupport.cpp
Labels: platform, esp32, review - approved

#37505 Partial - Conformance chip lighting app
  examples/lighting-app/lighting-common/lighting-app.matter
  examples/lighting-app/lighting-common/lighting-app.zap
  examples/lighting-app/linux/LightingAppCommandDelegate.cpp
  examples/lighting-app/linux/LightingAppCommandDelegate.h
Labels: examples, review - approved

#37309 extract matter testing utilities to separate module
  src/python_testing/TC_DA_1_2.py
  src/python_testing/TC_DA_1_5.py
  src/python_testing/TC_DA_1_7.py
  src/python_testing/TC_DEMTestBase.py
  src/python_testing/TC_DGGEN_2_4.py
  src/python_testing/TC_TIMESYNC_2_1.py
  src/python_testing/TC_TIMESYNC_2_10.py
  src/python_testing/TC_TIMESYNC_2_11.py
  src/python_testing/TC_TIMESYNC_2_12.py
  src/python_testing/TC_TIMESYNC_2_2.py
  src/python_testing/TC_TIMESYNC_2_4.py
  src/python_testing/TC_TIMESYNC_2_5.py
  src/python_testing/TC_TIMESYNC_2_7.py
  src/python_testing/TC_TIMESYNC_2_8.py
  src/python_testing/TC_TIMESYNC_2_9.py
  src/python_testing/TC_VALCC_4_4.py
  src/python_testing/TestCommissioningTimeSync.py
  src/python_testing/TestMatterTestingSupport.py
  src/python_testing/matter_testing_infrastructure/BUILD.gn
  src/python_testing/matter_testing_infrastructure/chip/testing/conversions.py
  src/python_testing/matter_testing_infrastructure/chip/testing/matchers.py
  src/python_testing/matter_testing_infrastructure/chip/testing/matter_testing.py
  src/python_testing/matter_testing_infrastructure/chip/testing/timeoperations.py
Labels: review - approved, tests

#37546 [TC-DLOG-2.1] Added "disabled: true" parameter in test step 3
  src/app/tests/suites/certification/Test_TC_DLOG_2_1.yaml
Labels: app, fast track, tests

#37545 [Darwin] MTRDevice _deviceMayBeReachable should not reset active subscription
  src/darwin/Framework/CHIP/MTRDevice_Concrete.mm
  src/darwin/Framework/CHIPTests/MTRPerControllerStorageTests.m
  src/darwin/Framework/CHIPTests/TestHelpers/MTRDeviceTestDelegate.h
  src/darwin/Framework/CHIPTests/TestHelpers/MTRDeviceTestDelegate.m
  src/darwin/Framework/CHIPTests/TestHelpers/MTRTestDeclarations.h
Labels: darwin, review - pending, fast track

#37547 [Darwin] MTRDevice _deviceMayBeReachable should mark inactive session as defunct
  src/darwin/Framework/CHIP/MTRDevice_Concrete.mm
Labels: darwin, review - pending, fast track

#37533 For thread devices throttle the response to BlockQuery by an interval…
  src/darwin/Framework/CHIP/MTRDeviceController_Concrete.h
  src/darwin/Framework/CHIP/MTRDeviceController_Concrete.mm
  src/darwin/Framework/CHIP/MTROTAImageTransferHandler.h
  src/darwin/Framework/CHIP/MTROTAImageTransferHandler.mm
  src/platform/Darwin/UserDefaults.h
  src/platform/Darwin/UserDefaults.mm
Labels: platform, darwin, review - pending, fast track

#37558 [Silabs] Explicitly specify the notifier dependency that ICDShellCommands needs
  examples/platform/silabs/shell/BUILD.gn
Labels: examples, platform, review - approved, silabs

#37559 Improve logging around persistent browse in Matter.framework.
  src/darwin/Framework/CHIP/MTRDeviceControllerFactory.mm
  src/darwin/Framework/CHIP/MTRDeviceController_Concrete.mm
Labels: darwin, review - pending, fast track

#37562 Change Thread OTA throttling algorithm in Matter.framework.
  src/darwin/Framework/CHIP/MTROTAImageTransferHandler.h
  src/darwin/Framework/CHIP/MTROTAImageTransferHandler.mm
  src/platform/Darwin/UserDefaults.h
  src/platform/Darwin/UserDefaults.mm
Labels: platform, darwin, review - pending, fast track

#37565 Log Matter operational advertisement removals in Matter.framework.
  src/darwin/Framework/CHIP/MTROperationalBrowser.mm
Labels: darwin, review - pending, fast track

#37492 [Linux] Optimize generated glib D-Bus integration stubs
  src/controller/python/chip/ble/LinuxImpl.cpp
  src/platform/Linux/ConnectivityManagerImpl.cpp
  src/platform/Linux/ConnectivityManagerImpl.h
  src/platform/Linux/ThreadStackManagerImpl.cpp
  src/platform/Linux/ThreadStackManagerImpl.h
  src/platform/Linux/bluez/AdapterIterator.cpp
  src/platform/Linux/bluez/AdapterIterator.h
  src/platform/Linux/bluez/BluezAdvertisement.cpp
  src/platform/Linux/bluez/BluezAdvertisement.h
  src/platform/Linux/bluez/BluezConnection.cpp
  src/platform/Linux/bluez/BluezConnection.h
  src/platform/Linux/bluez/BluezEndpoint.cpp
  src/platform/Linux/bluez/BluezEndpoint.h
  src/platform/Linux/bluez/BluezObjectIterator.h
  src/platform/Linux/bluez/BluezObjectList.h
  src/platform/Linux/bluez/BluezObjectManager.cpp
  src/platform/Linux/bluez/ChipDeviceScanner.h
  src/platform/Linux/bluez/Types.h
  src/platform/Linux/dbus/bluez/BUILD.gn
  src/platform/Linux/dbus/bluez/DBusBluez.xml
  src/platform/Linux/dbus/openthread/BUILD.gn
  src/platform/Linux/dbus/openthread/DBusOpenthread.xml
  src/platform/Linux/dbus/openthread/introspect.xml
  src/platform/Linux/dbus/wpa/BUILD.gn
  src/platform/Linux/dbus/wpa/DBusWpa.xml
  src/platform/Linux/dbus/wpa/DBusWpaBss.xml
  src/platform/Linux/dbus/wpa/DBusWpaInterface.xml
  src/platform/Linux/dbus/wpa/DBusWpaNetwork.xml
  src/platform/NuttX/ThreadStackManagerImpl.h
  src/platform/webos/ThreadStackManagerImpl.h
Labels: platform, linux, controller, review - approved

#37570 Add camera device type in matter-devices.xml
  src/app/zap-templates/zcl/data-model/chip/matter-devices.xml
  src/darwin/Framework/CHIP/zap-generated/MTRClusterConstants.h
  src/darwin/Framework/CHIP/zap-generated/MTRDeviceTypeMetadata.mm
  zzz_generated/chip-tool/zap-generated/cluster/logging/EntryToText.cpp
Labels: darwin, app, review - approved

#37571 Add src/platform/darwin to the Xcode project
  src/darwin/Framework/Matter.xcodeproj/project.pbxproj
Labels: darwin, review - approved

#37522 test: Close commissioner session to properly cleanup resources
  src/python_testing/TC_CGEN_2_8.py
  src/python_testing/TC_CGEN_2_9.py
Labels: review - pending, fast track, tests

#37576 Stop logging the Wi-Fi SSID in MTRCommissioningParameters.
  src/darwin/Framework/CHIP/MTRCommissioningParameters.mm
Labels: darwin, review - pending, fast track

#37383 [PASESession] TLV Reading Fixes
  src/protocols/secure_channel/PASESession.cpp
  src/protocols/secure_channel/PASESession.h
Labels: review - approved, protocols

#37584 Adjust documentation script name and images.
  docs/conf.py
  scripts/tools/ELF_SIZE_TOOLING.md
Labels: documentation, scripts, review - pending, fast track

#37183 PICS documentation: Phase 1
  .github/.wordlist.txt
  docs/testing/pics_and_pixit.md
Labels: documentation, github, review - pending

#37563 Support clang build coverage execution for unit tests
  build/chip/chip_test_suite.gni
  build/config/compiler/BUILD.gn
  scripts/build/build/targets.py
  scripts/build/builders/host.py
  scripts/build/clang_coverage_wrapper.py
  scripts/build_coverage.sh
Labels: scripts, gn, review - approved

#37567 fix: Remove empty test steps from CGEN test cases
  src/python_testing/TC_CGEN_2_10.py
  src/python_testing/TC_CGEN_2_11.py
  src/python_testing/TC_CGEN_2_5.py
  src/python_testing/TC_CGEN_2_6.py
  src/python_testing/TC_CGEN_2_7.py
  src/python_testing/TC_CGEN_2_8.py
  src/python_testing/TC_CGEN_2_9.py
Labels: review - pending, fast track, tests

#37538 Remove workaround for #32628
  src/app/InteractionModelEngine.h
  src/app/reporting/ReportScheduler.h
Labels: app, review - pending, fast track

#37489 Delete the ChipEventQueue and BackgroundEventQueue after returning from the event loop.
  src/include/platform/internal/GenericPlatformManagerImpl_FreeRTOS.ipp
Labels: platform, review - approved

#37556 [Silabs] Bugfix: Hardware version persistence.
  examples/platform/silabs/provision/ProvisionStorageDefault.cpp
  examples/platform/silabs/provision/ProvisionStorageFlash.cpp
  src/platform/silabs/MigrationManager.cpp
  src/platform/silabs/MigrationManager.h
  src/platform/silabs/SilabsConfig.h
Labels: examples, platform, review - approved, silabs

#37549 Update test_dcl_server.py for Python 3.10+ compatibility
  .vscode/launch.json
  examples/chip-tool/commands/dcl/test_dcl_server.py
Labels: tools, examples, vscode, review - pending, fast track

#37587 Fix Android cmdline-tools paths in VSCode docker
  .devcontainer/Dockerfile
Labels: vscode, review - pending, fast track

#37586 Remove zzz generated and a few more useless directories from clang coverage
  scripts/build/builders/host.py
Labels: scripts, review - approved

#37589 Update test_dcl_server.py for Python 3.10+ compatibility (#37549)
  .vscode/launch.json
  examples/chip-tool/commands/dcl/test_dcl_server.py
Labels: tools, examples, vscode

#37580 [Silabs] AES_CCM_encrypt/decrypt output buffers fixed.
  src/platform/silabs/efr32/CHIPCryptoPALPsaEfr32.cpp
Labels: platform, review - approved, silabs

#37531 [bouffalo lab] Advertise commissionable on last fabric removal is disabled by default
  examples/platform/bouffalolab/common/plat/plat.h
  examples/platform/bouffalolab/common/plat/platform.cpp
Labels: examples, platform, review - approved

#37573 Log what sort of object we have if it's not the right sort of object.
  src/darwin/Framework/CHIP/MTRDevice_XPC.mm
Labels: darwin, review - approved

#37592 If optional parts of the state we receive over XPC are invalid, just ignore them.
  src/darwin/Framework/CHIP/MTRDevice_XPC.mm
Labels: darwin, review - pending, fast track

#37618 Rename CLUSTER_MASK_ and ATTIBUTE_MASK defines to differentiate with …
  examples/air-quality-sensor-app/linux/AirQualitySensorAppAttrUpdateDelegate.cpp
  examples/all-clusters-app/linux/AllClustersCommandDelegate.cpp
  examples/all-clusters-app/linux/main-common.cpp
  examples/all-clusters-minimal-app/linux/main-common.cpp
  examples/bridge-app/esp32/README.md
  examples/bridge-app/linux/README.md
  examples/bridge-app/telink/README.md
  examples/chef/common/clusters/switch/SwitchEventHandler.cpp
  examples/chef/common/clusters/switch/SwitchManager.cpp
  examples/chef/esp32/main/main.cpp
  examples/fabric-bridge-app/linux/README.md
  examples/fabric-sync/README.md
  examples/lighting-app-data-mode-no-unique-id/linux/LightingAppCommandDelegate.cpp
  examples/lighting-app/infineon/cyw30739/src/LightingManager.cpp
  examples/lighting-app/linux/LightingAppCommandDelegate.cpp
  src/app/clusters/group-key-mgmt-server/group-key-mgmt-server.cpp
  src/app/clusters/groups-server/groups-server.cpp
  src/app/clusters/mode-select-server/mode-select-server.cpp
  src/app/clusters/on-off-server/on-off-server.cpp
  src/app/clusters/scenes-server/scenes-server.h
  src/app/dynamic_server/DynamicDispatcher.cpp
  src/app/tests/TestSceneTable.cpp
  src/app/util/BUILD.gn
  src/app/util/af-types.h
  src/app/util/att-storage.h
  src/app/util/attribute-metadata.h
  src/app/util/attribute-storage-detail.h
  src/app/util/attribute-storage.cpp
  src/app/util/attribute-storage.h
  src/app/util/attribute-table.cpp
  src/app/util/endpoint-config-defines.h
  src/app/util/mock/MockNodeConfig.cpp
  src/app/util/mock/MockNodeConfig.h
  src/app/util/mock/attribute-storage.cpp
  src/controller/tests/TestWriteChunking.cpp
  src/darwin/Framework/CHIP/ServerEndpoint/MTRIMDispatch.mm
  src/darwin/Framework/CHIP/ServerEndpoint/MTRServerCluster.mm
  src/darwin/Framework/CHIP/ServerEndpoint/MTRServerEndpoint.mm
  src/data-model-providers/codegen/EmberMetadata.cpp
  src/data-model-providers/codegen/tests/TestCodegenModelViaMocks.cpp
  src/data-model-providers/codegen/tests/TestEmberAttributeDataBuffer.cpp
Labels: examples, darwin, controller, app, review - approved, tests

#37623 Only register XPC interest when a delegate exists
  src/darwin/Framework/CHIP/MTRDevice.mm
  src/darwin/Framework/CHIP/MTRDeviceController_XPC.mm
  src/darwin/Framework/CHIP/MTRDeviceController_XPC_Internal.h
  src/darwin/Framework/CHIP/MTRDevice_Concrete.mm
  src/darwin/Framework/CHIP/MTRDevice_Internal.h
  src/darwin/Framework/CHIP/MTRDevice_XPC.mm
Labels: darwin, review - pending, fast track

#37624 [Darwin] MTRDevice resub logic should reset backoff as needed
  src/darwin/Framework/CHIP/MTRDevice_Concrete.mm
Labels: darwin, review - pending, fast track

#37609 Pass the arg of GetPrimaryOrFallbackMACAddress by reference.
  src/app/server/Dnssd.cpp
  src/app/server/Dnssd.h
  src/include/platform/ConfigurationManager.h
  src/include/platform/internal/GenericConfigurationManagerImpl.h
  src/include/platform/internal/GenericConfigurationManagerImpl.ipp
  src/platform/ESP32/ConfigurationManagerImpl.cpp
  src/platform/ESP32/ConfigurationManagerImpl.h
  src/platform/bouffalolab/BL702/ConfigurationManagerImpl.cpp
  src/platform/bouffalolab/common/ConfigurationManagerImpl.h
  src/platform/fake/ConfigurationManagerImpl.h
  src/platform/tests/TestConfigurationMgr.cpp
Labels: platform, esp32, app, review - approved

#37615 Add missing Mounted On/Off control device to matter-devices.xml
  src/app/zap-templates/zcl/data-model/chip/matter-devices.xml
  src/darwin/Framework/CHIP/zap-generated/MTRClusterConstants.h
  src/darwin/Framework/CHIP/zap-generated/MTRDeviceTypeMetadata.mm
  zzz_generated/chip-tool/zap-generated/cluster/logging/EntryToText.cpp
Labels: darwin, app, review - approved

#37514 Add Thermostat Controller Device Type
  src/app/zap-templates/zcl/data-model/chip/matter-devices.xml
  src/darwin/Framework/CHIP/zap-generated/MTRClusterConstants.h
  src/darwin/Framework/CHIP/zap-generated/MTRDeviceTypeMetadata.mm
  zzz_generated/chip-tool/zap-generated/cluster/logging/EntryToText.cpp
Labels: darwin, app, review - approved

#37523 V1.4 Cherry-pick #37522: TC_CGEN_2_8, TC_CGEN_2_9
  src/python_testing/TC_CGEN_2_8.py
  src/python_testing/TC_CGEN_2_9.py
Labels: fast track, tests, matter-1.4-te2-script-change

#37631 Fix Chef compilation failure on Mac due to #35429
  examples/chef/chef.py
Labels: examples, review - pending, fast track

#37513 Remove ICD server sources from chip_data_model.cmake
  examples/light-switch-app/cc13x4_26x4/src/AppTask.cpp
  examples/lighting-app/cc13x4_26x4/src/AppTask.cpp
  examples/lock-app/cc13x4_26x4/src/AppTask.cpp
  examples/platform/linux/AppMain.cpp
  examples/pump-app/cc13x4_26x4/main/AppTask.cpp
  examples/pump-controller-app/cc13x4_26x4/main/AppTask.cpp
  examples/tv-casting-app/darwin/args.gni
  src/app/BUILD.gn
  src/app/chip_data_model.cmake
  src/app/chip_data_model.gni
  src/app/clusters/icd-management-server/icd-management-server.cpp
  src/app/clusters/icd-management-server/icd-management-server.h
  src/app/server/BUILD.gn
Labels: examples, platform, linux, app, review - approved, icd

#37628 [Silabs] Rename BLE flags
  src/platform/silabs/BLEManagerImpl.h
  src/platform/silabs/efr32/BLEManagerImpl.cpp
  src/platform/silabs/rs911x/BLEManagerImpl.cpp
Labels: platform, review - approved, silabs

#37579 [Inet] fix UDP bind with OT stack sha 473af53 and newer
  src/inet/UDPEndPointImplOpenThread.cpp
Labels: inet, review - approved

#37629 [nrfconnect] Moved NFC mgr impl from Zephyr to nrfconnect
  src/platform/Zephyr/BUILD.gn
  src/platform/Zephyr/NFCOnboardingPayloadManagerImpl.h
  src/platform/nrfconnect/BUILD.gn
  src/platform/nrfconnect/NFCOnboardingPayloadManagerImpl.cpp
  src/platform/nrfconnect/NFCOnboardingPayloadManagerImpl.h
Labels: platform, nrf connect, zephyr, review - approved

#37638 [Silabs] Cherry-pick Silabs uart flush buffer
  examples/platform/silabs/uart.cpp
  examples/platform/silabs/uart.h
Labels: examples, platform, review - approved, silabs

#37644 Do not pass cluster ID to CommissionerControlServer
  examples/fabric-bridge-app/linux/include/CommissionerControlDelegate.h
  examples/fabric-sync/bridge/include/CommissionerControlDelegate.h
  src/app/clusters/commissioner-control-server/commissioner-control-server.cpp
  src/app/clusters/commissioner-control-server/commissioner-control-server.h
Labels: examples, app, review - approved

#37653 Add ICDConfigurationData to app sources when ICD management server cluster is included
  src/app/chip_data_model.cmake
  src/app/clusters/icd-management-server/icd-management-server.cpp
Labels: app, review - approved

#37439 Adding MRP analytics delegate
  src/lib/core/BUILD.gn
  src/lib/core/CHIPConfig.h
  src/lib/core/core.gni
  src/messaging/BUILD.gn
  src/messaging/ReliableMessageAnalyticsDelegate.h
  src/messaging/ReliableMessageMgr.cpp
  src/messaging/ReliableMessageMgr.h
  src/messaging/tests/TestReliableMessageProtocol.cpp
Labels: lib, review - approved, core, messaging

#37662 [Darwin] MTRDevice _delegateExists cannot be called without holding lock
  src/darwin/Framework/CHIP/MTRDevice.mm
  src/darwin/Framework/CHIP/MTRDeviceController_XPC.mm
  src/darwin/Framework/CHIP/MTRDevice_Internal.h
Labels: darwin, review - pending, fast track

#37664 [Darwin] MTRDeviceController_XPC _updateRegistrationInfo double lock fix
  src/darwin/Framework/CHIP/MTRDeviceController_XPC.mm
Labels: darwin, review - pending
