Repository project-chip/connectedhomeip, pull requests merged in 2025-05, with the labels that each got.

#38703 Fix typo in ReadAndEncodeAllocatedSnapshotStreams in CameraAVStreamMgmtServer.
  examples/camera-app/linux/src/camera-device.cpp
  examples/camera-app/linux/src/clusters/camera-avstream-mgmt/camera-av-stream-manager.cpp
  src/app/clusters/camera-av-stream-management-server/camera-av-stream-management-server.cpp
Labels: examples, app, review - approved

#38706 Implement the test script for TC_WEBRTCR_2_4
  src/python_testing/TC_WEBRTCR_2_4.py
  src/python_testing/matter_testing_infrastructure/chip/testing/apps.py
Labels: review - approved, tests

#38695 Added air-purifier to cert-bins image
  integrations/docker/images/chip-cert-bins/Dockerfile
Labels: integrations, review - pending, fast track, docker

#37908 [Darwin] MTRDevice shouldn't persist data version if report gets interrupted
  src/darwin/Framework/CHIP/MTRDeviceClusterData.h
  src/darwin/Framework/CHIP/MTRDevice_Concrete.mm
Labels: darwin, review - pending, fast track

#38386 [Silabs] Refactoring Closure App.
  .github/workflows/examples-efr32.yaml
  examples/closure-app/closure-common/closure-app.matter
  examples/closure-app/closure-common/closure-app.zap
  examples/closure-app/closure-common/closure-control/include/ClosureControlDelegate.h
  examples/closure-app/closure-common/closure-control/include/ClosureControlInstance.h
  examples/closure-app/closure-common/closure-control/include/ClosureControlMain.h
  examples/closure-app/closure-common/closure-control/src/ClosureControlDelegateImpl.cpp
  examples/closure-app/closure-common/closure-control/src/ClosureControlInstance.cpp
  examples/closure-app/closure-common/closure-control/src/ClosureControlMain.cpp
  examples/closure-app/closure-common/common/include/ClosureAppCommonMain.h
  examples/closure-app/closure-common/common/src/ClosureAppCommonMain.cpp
  examples/closure-app/closure-common/include/ClosureControlEndpoint.h
  examples/closure-app/closure-common/include/ClosureDimensionEndpoint.h
  examples/closure-app/closure-common/src/ClosureControlEndpoint.cpp
  examples/closure-app/closure-common/src/ClosureDimensionEndpoint.cpp
  examples/closure-app/silabs/BUILD.gn
  examples/closure-app/silabs/include/ClosureManager.h
  examples/closure-app/silabs/src/AppTask.cpp
  examples/closure-app/silabs/src/ClosureManager.cpp
  examples/closure-app/silabs/src/DataModelCallbacks.cpp
  src/app/clusters/closure-control-server/closure-control-cluster-delegate.h
  src/app/clusters/closure-control-server/closure-control-server.cpp
Labels: examples, app, github, workflows, review - approved

#38697 restyle-diff: Fix dropping files from changed paths
  scripts/helpers/restyle-diff.sh
Labels: scripts, review - approved

#38709 Stop building ota-provider-app as part of the Darwin job.
  .github/workflows/darwin.yaml
Labels: github, workflows, review - approved

#38313 [Camera] Initial Implementation of WebRTC Transport
  examples/camera-app/linux/BUILD.gn
  examples/camera-app/linux/include/camera-device.h
  examples/camera-app/linux/include/clusters/webrtc_provider/webrtc-provider-manager.h
  examples/camera-app/linux/include/webrtc-transport.h
  examples/camera-app/linux/src/camera-device.cpp
  examples/camera-app/linux/src/clusters/webrtc_provider/webrtc-provider-manager.cpp
  examples/camera-app/linux/src/webrtc-transport.cpp
Labels: examples, app, vscode, review - approved, 1.5-te2-fc-review

#38678 Darwin: Some more improvements to BLEConnectionDelegateImpl
  src/darwin/Framework/CHIPTests/MTRBleTests.m
  src/darwin/Framework/CHIPTests/TestHelpers/MTRMockCB.h
  src/darwin/Framework/CHIPTests/TestHelpers/MTRMockCB.m
  src/darwin/Framework/CHIPTests/TestHelpers/MTRTestCase.h
  src/darwin/Framework/CHIPTests/TestHelpers/MTRTestCase.mm
  src/platform/Darwin/BleConnectionDelegateImpl.mm
  src/platform/Darwin/BlePlatformDelegateImpl.mm
  src/platform/Darwin/CHIPDevicePlatformEvent.h
Labels: platform, darwin, review - pending, fast track

#38713 [camera-app] Enable Fault injection to introduce faults in runtime
  examples/camera-app/camera-common/camera-app.matter
  examples/camera-app/camera-common/camera-app.zap
  examples/camera-app/linux/args.gni
  examples/camera-app/linux/src/clusters/webrtc_provider/webrtc-provider-manager.cpp
  src/lib/support/CHIPFaultInjection.h
Labels: examples, lib, review - approved, support

#38698 Small bugfix and test improvements for VID Verification
  src/app/clusters/operational-credentials-server/operational-credentials-server.cpp
  src/credentials/FabricTable.cpp
  src/credentials/FabricTable.h
  src/credentials/OperationalCertificateStore.h
  src/credentials/PersistentStorageOpCertStore.cpp
  src/credentials/PersistentStorageOpCertStore.h
  src/credentials/tests/TestFabricTable.cpp
  src/lib/support/DefaultStorageKeyAllocator.h
  src/python_testing/TC_OPCREDS_3_8.py
Labels: lib, app, review - approved, tests, support

#38708 Add command line arguments to control max BDX block size to Linux versions of example OTA apps.
  examples/ota-provider-app/linux/main.cpp
  examples/ota-provider-app/ota-provider-common/OTAProviderExample.cpp
  examples/ota-provider-app/ota-provider-common/OTAProviderExample.h
  examples/ota-requestor-app/linux/main.cpp
Labels: examples, review - approved

#38702 AVSUM_2_7 Robustness
  src/python_testing/TC_AVSUM_2_7.py
Labels: review - approved, tests

#38677 Implement Standby Flow for Battery Camera
  examples/camera-app/linux/include/clusters/webrtc_provider/webrtc-provider-manager.h
  examples/camera-app/linux/src/clusters/webrtc_provider/webrtc-provider-manager.cpp
  examples/camera-controller/commands/webrtc/Commands.h
  examples/camera-controller/commands/webrtc/WebRTCProviderCommands.cpp
  examples/camera-controller/commands/webrtc/WebRTCProviderCommands.h
  examples/camera-controller/webrtc_manager/WebRTCManager.cpp
  examples/camera-controller/webrtc_manager/WebRTCManager.h
  examples/camera-controller/webrtc_manager/WebRTCProviderClient.cpp
  examples/camera-controller/webrtc_manager/WebRTCProviderClient.h
  examples/camera-controller/webrtc_manager/WebRTCRequestorDelegate.cpp
Labels: examples, review - approved

#38476 [Silabs] Adding the Custom UI for the window app
  examples/window-app/silabs/include/WindowManager.h
  examples/window-app/silabs/src/AppTask.cpp
  examples/window-app/silabs/src/WindowManager.cpp
Labels: examples, review - approved

#38596 TC-LUNIT-3.1 with test of SupportedUnitsList
  examples/all-clusters-app/all-clusters-common/all-clusters-app.matter
  examples/all-clusters-app/all-clusters-common/all-clusters-app.zap
  examples/all-clusters-app/realtek_bee/data_model/all-clusters-app.matter
  examples/bridge-app/bridge-common/bridge-app.matter
  examples/camera-app/camera-common/camera-app.matter
  examples/chef/devices/rootnode_dishwasher_cc105034fe.matter
  examples/chef/devices/rootnode_laundrydryer_01796fe396.matter
  examples/chef/devices/rootnode_laundrywasher_fb10d238c8.matter
  examples/chef/devices/rootnode_oven_temperaturecontrolledcabinet_cooktop_cooksurface_738dd18832.matter
  examples/chef/devices/rootnode_refrigerator_temperaturecontrolledcabinet_temperaturecontrolledcabinet_ffdb696680.matter
  examples/dishwasher-app/dishwasher-common/dishwasher-app.matter
  examples/dishwasher-app/silabs/data_model/dishwasher-thread-app.matter
  examples/dishwasher-app/silabs/data_model/dishwasher-wifi-app.matter
  examples/laundry-washer-app/nxp/zap/laundry-washer-app.matter
  examples/placeholder/linux/apps/app1/config.matter
  examples/placeholder/linux/apps/app2/config.matter
  examples/refrigerator-app/refrigerator-common/refrigerator-app.matter
  examples/temperature-measurement-app/temperature-measurement-common/temperature-measurement.matter
  examples/thermostat/qpg/zap/thermostaticRadiatorValve.matter
  examples/thermostat/thermostat-common/thermostat.matter
  examples/tv-app/tv-common/tv-app.matter
  examples/tv-casting-app/tv-casting-common/tv-casting-app.matter
  examples/virtual-device-app/virtual-device-common/virtual-device-app.matter
  scripts/tools/zap/tests/outputs/all-clusters-app/app-templates/endpoint_config.h
  src/app/clusters/unit-localization-server/unit-localization-server.cpp
  src/app/clusters/unit-localization-server/unit-localization-server.h
  src/app/tests/suites/certification/Test_TC_LUNIT_3_1.yaml
  src/app/tests/suites/ciTests.json
  src/app/zap-templates/zcl/zcl-with-test-extensions.json
  src/app/zap-templates/zcl/zcl.json
  src/python_testing/TC_LUNIT_3_1.py
  zzz_generated/app-common/app-common/zap-generated/attributes/Accessors.cpp
  zzz_generated/app-common/app-common/zap-generated/attributes/Accessors.h
Labels: examples, scripts, app, review - approved, tests

#38711 Move building of helper apps into a MatterTests build script.
  .github/workflows/darwin.yaml
  src/darwin/Framework/Matter.xcodeproj/project.pbxproj
Labels: darwin, github, workflows, review - approved

#38504 TC-CNET-4.15: Automate #413
  src/app/tests/suites/certification/Test_TC_CNET_4_15.yaml
  src/app/tests/suites/manualTests.json
  src/python_testing/TC_CNET_4_15.py
  src/python_testing/test_metadata.yaml
Labels: app, review - pending, fast track, tests

#38720 Fix the memory leak of PAF.
  src/platform/Linux/ConnectivityManagerImpl.cpp
Labels: platform, linux, review - approved

#38710 [YAML Tests] Add a `isSetOValues` constraint on in YAML tests.
  docs/testing/yaml_schema.md
  scripts/py_matter_yamltests/matter_yamltests/constraints.py
  scripts/py_matter_yamltests/matter_yamltests/yaml_loader.py
  src/app/tests/suites/README.md
  src/app/tests/suites/TestDescriptorCluster.yaml
Labels: documentation, scripts, app, review - approved, tests

#38679 Persist the highest observed event number in MTRDevice_Concrete.
  src/darwin/Framework/CHIP/MTRDevice_Concrete.mm
  src/darwin/Framework/CHIPTests/MTRDeviceTests.m
  src/darwin/Framework/CHIPTests/MTRPerControllerStorageTests.m
  src/darwin/Framework/CHIPTests/TestHelpers/MTRTestDeclarations.h
Labels: darwin, review - pending, fast track

#38721 Implement the python test script for TC_WEBRTCR_2_3
  src/python_testing/TC_WEBRTCR_2_3.py
Labels: review - approved, tests

#38719 [Chef] Set startUpColorTemperatureMireds to null
  examples/chef/devices/rootnode_extendedcolorlight_8lcaaYJVAa.matter
  examples/chef/devices/rootnode_extendedcolorlight_8lcaaYJVAa.zap
Labels: examples, review - approved

#37911 Proposal for TC_CC_2.1
  examples/all-clusters-app/all-clusters-common/all-clusters-app.matter
  examples/all-clusters-app/all-clusters-common/all-clusters-app.zap
  examples/lighting-app-data-mode-no-unique-id/lighting-common/lighting-app.matter
  examples/lighting-app-data-mode-no-unique-id/lighting-common/lighting-app.zap
  examples/lighting-app/lighting-common/lighting-app.matter
  examples/lighting-app/lighting-common/lighting-app.zap
  src/app/tests/suites/certification/Test_TC_CC_2_1.yaml
  src/python_testing/TC_CC_2_1.py
Labels: examples, app, review - pending, fast track, tests

#38733 Fix handling of global enums in ZAP templates.
  src/app/zap-templates/partials/cluster-objects-field-init.zapt
  src/app/zap-templates/partials/cluster-objects-struct.zapt
  src/app/zap-templates/templates/app/cluster-commands-header.zapt
  src/app/zap-templates/templates/app/cluster-events-header.zapt
Labels: app, review - approved

#38107 Proposal for TC LTIME 3.1
  src/python_testing/TC_LTIME_3_1.py
Labels: review - pending, fast track, tests

#37262 TC-CGEN-2.2 python test
  src/python_testing/TC_CGEN_2_2.py
Labels: review - pending, fast track, tests

#38739 Fix crash in HandleAnswer with illegal role actpass in remote answer description
  examples/camera-app/linux/src/clusters/webrtc_provider/webrtc-provider-manager.cpp
  examples/camera-controller/webrtc_manager/WebRTCManager.cpp
Labels: examples, review - approved

#37637 Python framework - write_to_app_pipe updates.
  src/python_testing/TC_OCC_3_1.py
  src/python_testing/TC_OCC_3_2.py
  src/python_testing/TC_OpstateCommon.py
  src/python_testing/TC_RVCCLEANM_2_1.py
  src/python_testing/TC_RVCCLEANM_2_2.py
  src/python_testing/TC_RVCOPSTATE_2_1.py
  src/python_testing/TC_RVCOPSTATE_2_3.py
  src/python_testing/TC_RVCOPSTATE_2_4.py
  src/python_testing/TC_RVCRUNM_2_1.py
  src/python_testing/TC_RVCRUNM_2_2.py
  src/python_testing/TC_SEAR_1_2.py
  src/python_testing/TC_SEAR_1_3.py
  src/python_testing/TC_SEAR_1_5.py
  src/python_testing/TC_SEAR_1_6.py
  src/python_testing/matter_testing_infrastructure/chip/testing/matter_testing.py
Labels: review - pending, fast track, tests

#37921 legacy flag added
  src/app/TestEventTriggerDelegate.h
  src/app/clusters/boolean-state-configuration-server/BooleanStateConfigurationTestEventTriggerHandler.cpp
  src/app/clusters/device-energy-management-server/DeviceEnergyManagementTestEventTriggerHandler.h
  src/app/clusters/electrical-energy-measurement-server/EnergyReportingTestEventTriggerHandler.h
  src/app/clusters/energy-evse-server/EnergyEvseTestEventTriggerHandler.h
  src/app/clusters/water-heater-management-server/WaterHeaterManagementTestEventTriggerHandler.h
  src/python_testing/matter_testing_infrastructure/chip/testing/matter_testing.py
Labels: app, review - pending, fast track, tests

#38473 TC_CNET_4.2: Automate
  src/app/tests/suites/certification/Test_TC_CNET_4_2.yaml
  src/python_testing/TC_CNET_4_2.py
  src/python_testing/test_metadata.yaml
Labels: app, review - pending, fast track, tests, v1.5, 1.5-te2-fc-review

#38736 Update Darwin availability annotations.
  src/darwin/Framework/CHIP/templates/availability.yaml
Labels: review - approved

#38732 Remove no longer used templates for doing ZAP codegen from YAML.
  examples/chip-tool/templates/tests/partials/checks/maybeCheckExpectedConstraints.zapt
  examples/chip-tool/templates/tests/partials/checks/maybeCheckExpectedValue.zapt
  examples/chip-tool/templates/tests/partials/command_value.zapt
  examples/chip-tool/templates/tests/partials/octet_string_value.zapt
  examples/chip-tool/templates/tests/partials/saveAs/maybeSaveAs.zapt
  examples/chip-tool/templates/tests/partials/saveAs/setupSaveAs.zapt
  examples/chip-tool/templates/tests/partials/saveAs/teardownSaveAs.zapt
  examples/chip-tool/templates/tests/partials/test_cluster.zapt
  examples/chip-tool/templates/tests/partials/test_step.zapt
  examples/chip-tool/templates/tests/partials/test_step_response.zapt
  examples/chip-tool/templates/tests/partials/value_equals.zapt
  src/app/tests/suites/README.md
Labels: tools, examples, app, review - pending, fast track, tests

#38751 Added bluez in Building instruction of Raspberry
  docs/guides/BUILDING.md
Labels: documentation, review - approved

#38652 Add files for BindingCluster by Alchemy
  examples/all-clusters-app/all-clusters-common/all-clusters-app.matter
  examples/all-clusters-app/realtek_bee/data_model/all-clusters-app.matter
  examples/all-clusters-minimal-app/all-clusters-common/all-clusters-minimal-app.matter
  examples/camera-app/camera-common/camera-app.matter
  examples/chef/devices/icd_rootnode_contactsensor_ed3b19ec55.matter
  examples/chef/devices/noip_rootnode_dimmablelight_bCwGYSDpoe.matter
  examples/chef/devices/rootnode_contactsensor_lFAGG1bfRO.matter
  examples/chef/devices/rootnode_contactsensor_lightsensor_occupancysensor_temperaturesensor_pressuresensor_flowsensor_humiditysensor_airqualitysensor_powersource_367e7cea91.matter
  examples/chef/devices/rootnode_dimmablelight_bCwGYSDpoe.matter
  examples/chef/devices/rootnode_dimmablepluginunit_f8a9a0b9d4.matter
  examples/chef/devices/rootnode_extendedcolorlight_8lcaaYJVAa.matter
  examples/chef/devices/rootnode_flowsensor_1zVxHedlaV.matter
  examples/chef/devices/rootnode_heatingcoolingunit_ncdGai1E5a.matter
  examples/chef/devices/rootnode_humiditysensor_Xyj4gda6Hb.matter
  examples/chef/devices/rootnode_lightsensor_lZQycTFcJK.matter
  examples/chef/devices/rootnode_occupancysensor_iHyVgifZuo.matter
  examples/chef/devices/rootnode_onofflight_bbs1b7IaOV.matter
  examples/chef/devices/rootnode_onofflight_samplemei.matter
  examples/chef/devices/rootnode_onofflightswitch_FsPlMr090Q.matter
  examples/chef/devices/rootnode_onoffpluginunit_Wtf8ss5EBY.matter
  examples/chef/devices/rootnode_pressuresensor_s0qC9wLH4k.matter
  examples/chef/devices/rootnode_speaker_RpzeXdimqA.matter
  examples/chef/devices/rootnode_temperaturesensor_Qy1zkNW7c3.matter
  examples/chef/devices/rootnode_thermostat_bm3fb8dhYi.matter
  examples/chef/devices/rootnode_windowcovering_RLCxaGi9Yx.matter
  examples/dishwasher-app/dishwasher-common/dishwasher-app.matter
  examples/dishwasher-app/silabs/data_model/dishwasher-thread-app.matter
  examples/dishwasher-app/silabs/data_model/dishwasher-wifi-app.matter
  examples/laundry-washer-app/nxp/zap/laundry-washer-app.matter
  examples/light-switch-app/light-switch-common/icd-lit-light-switch-app.matter
  examples/light-switch-app/light-switch-common/light-switch-app.matter
  examples/light-switch-app/qpg/zap/switch.matter
  examples/light-switch-app/realtek_bee/data_model/light-switch-app-1_to_11.matter
  examples/light-switch-app/realtek_bee/data_model/light-switch-app-1_to_2.matter
  examples/light-switch-app/realtek_bee/data_model/light-switch-app-1_to_8.matter
  examples/pump-app/pump-common/pump-app.matter
  examples/pump-app/silabs/data_model/pump-thread-app.matter
  examples/pump-app/silabs/data_model/pump-wifi-app.matter
  examples/pump-controller-app/pump-controller-common/pump-controller-app.matter
  examples/thermostat/qpg/zap/thermostaticRadiatorValve.matter
  examples/thermostat/thermostat-common/thermostat.matter
  examples/tv-app/tv-common/tv-app.matter
  examples/tv-casting-app/tv-casting-common/tv-casting-app.matter
  examples/virtual-device-app/virtual-device-common/virtual-device-app.matter
  src/app/zap-templates/zcl/data-model/chip/binding-cluster.xml
  src/controller/data_model/controller-clusters.matter
Labels: examples, controller, app, review - approved

#38753 Remove un-used parameters from SolicitOffer/ProvideOffer APIs
  examples/camera-controller/webrtc_manager/WebRTCManager.cpp
  examples/camera-controller/webrtc_manager/WebRTCProviderClient.cpp
  examples/camera-controller/webrtc_manager/WebRTCProviderClient.h
Labels: examples, review - approved

#38735 Fix locking in MTRServerEndpoint to avoid recursive locking problems.
  src/darwin/Framework/CHIP/ServerEndpoint/MTRServerEndpoint.mm
  src/darwin/Framework/CHIPTests/MTRPerControllerStorageTests.m
Labels: darwin, review - pending, fast track

#38741 Implement python test script for WEBRTCR_2_1
  examples/camera-app/linux/src/clusters/webrtc_provider/webrtc-provider-manager.cpp
  src/lib/support/CHIPFaultInjection.h
  src/python_testing/TC_WEBRTCR_2_1.py
Labels: examples, lib, review - approved, tests, support

#38755 Add debug log in _storePersistedDeviceData.
  src/darwin/Framework/CHIP/MTRDevice_Concrete.mm
Labels: darwin, review - pending, fast track

#38416 Generate CommissionerControl cluster with Alchemy
  src/app/zap-templates/zcl/data-model/chip/commissioner-control-cluster.xml
Labels: app, review - approved

#38512 [Energy-Management-App] Add cluster shutdown APIs for the clusters which are enabled in all-clusters-app.
  examples/energy-management-app/energy-management-common/device-energy-management/src/device-energy-management-mode.cpp
  examples/energy-management-app/energy-management-common/energy-evse/include/EnergyEvseTargetsStore.h
  examples/energy-management-app/energy-management-common/energy-evse/src/EnergyEvseMain.cpp
  examples/energy-management-app/energy-management-common/energy-evse/src/EnergyEvseManager.cpp
  examples/energy-management-app/energy-management-common/energy-evse/src/EnergyEvseTargetsStore.cpp
  examples/energy-management-app/energy-management-common/energy-evse/src/energy-evse-mode.cpp
  examples/energy-management-app/energy-management-common/water-heater/src/water-heater-mode.cpp
Labels: examples, review - approved

#38780 Fix TC_EventTrigger
  examples/platform/linux/AppMain.cpp
Labels: examples, hotfix, platform, linux

#38781 Update ZAP to fix global enum/bitmap handling.
  scripts/setup/zap.json
  scripts/setup/zap.version
  scripts/tools/zap/zap_execution.py
  zzz_generated/app-common/clusters/shared/Structs.h
Labels: scripts, review - approved

#38779 Complete subscription work item even if the MTRDevice went away.
  src/darwin/Framework/CHIP/MTRDevice_Concrete.mm
  src/darwin/Framework/CHIPTests/MTRPerControllerStorageTests.m
  src/darwin/Framework/CHIPTests/TestHelpers/MTRTestDeclarations.h
Labels: darwin, review - pending, fast track

#38782 Darwin: Check for CHIP_NO_TEST_FIXTURE_APPS in MatterTests build script
  src/darwin/Framework/Matter.xcodeproj/project.pbxproj
Labels: darwin, fast track

#38777 Use separate randomized port for each TCP test case. (#37144)
  src/transport/raw/tests/TestTCP.cpp
Labels: transport

#38758 Remove unnecessary subscription from test034_TestMTRDeviceHistoricalEvents.
  src/darwin/Framework/CHIPTests/MTRDeviceTests.m
Labels: darwin, review - pending, fast track

#38734 Rationalise EnergyTimeUtils into SystemClock
  examples/dishwasher-app/silabs/BUILD.gn
  examples/dishwasher-app/silabs/src/DeviceEnergyManager.cpp
  examples/dishwasher-app/silabs/src/ElectricalEnergyMeasurementInstance.cpp
  examples/dishwasher-app/silabs/src/ElectricalSensorManager.cpp
  examples/dishwasher-app/silabs/src/operational-state-delegate-impl.cpp
  examples/energy-gateway-app/commodity-price/src/CommodityPriceEventTriggers.cpp
  examples/energy-gateway-app/common/include/EnergyTimeUtils.h
  examples/energy-gateway-app/common/src/EnergyTimeUtils.cpp
  examples/energy-gateway-app/electrical-grid-conditions/src/ElectricalGridConditionsEventTriggers.cpp
  examples/energy-gateway-app/linux/BUILD.gn
  examples/energy-management-app/energy-management-common/common/include/EnergyTimeUtils.h
  examples/energy-management-app/energy-management-common/common/src/EnergyTimeUtils.cpp
  examples/energy-management-app/energy-management-common/device-energy-management/src/DEMTestEventTriggers.cpp
  examples/energy-management-app/energy-management-common/device-energy-management/src/DeviceEnergyManagementDelegateImpl.cpp
  examples/energy-management-app/energy-management-common/energy-evse/src/EVSEManufacturerImpl.cpp
  examples/energy-management-app/energy-management-common/energy-evse/src/EnergyEvseDelegateImpl.cpp
  examples/energy-management-app/energy-management-common/energy-reporting/src/FakeReadings.cpp
  src/app/clusters/device-energy-management-server/device-energy-management-server.cpp
  src/system/SystemClock.cpp
  src/system/SystemClock.h
Labels: examples, system, platform, darwin, esp32, freeRTOS, linux, zephyr, app, review - approved, tizen, nxp

#38785 [ESP32] Fix the compilation error when LWIP_IPV6_NUM_ADDRESSES > 8.
  src/platform/ESP32/DiagnosticDataProviderImpl.cpp
Labels: platform, esp32

#37536 [Telink] W91 RAM usage optimization & Update compatible builds to docker version 129
  .github/workflows/bloat_check.yaml
  .github/workflows/build.yaml
  .github/workflows/chef.yaml
  .github/workflows/doxygen.yaml
  .github/workflows/examples-ameba.yaml
  .github/workflows/examples-asr.yaml
  .github/workflows/examples-bouffalolab.yaml
  .github/workflows/examples-cc13xx_26xx.yaml
  .github/workflows/examples-efr32.yaml
  .github/workflows/examples-esp32.yaml
  .github/workflows/examples-infineon.yaml
  .github/workflows/examples-linux-arm.yaml
  .github/workflows/examples-linux-imx.yaml
  .github/workflows/examples-linux-standalone.yaml
  .github/workflows/examples-linux-tv-casting-app.yaml
  .github/workflows/examples-mw320.yaml
  .github/workflows/examples-nrfconnect.yaml
  .github/workflows/examples-nuttx.yaml
  .github/workflows/examples-nxp.yaml
  .github/workflows/examples-openiotsdk.yaml
  .github/workflows/examples-qpg.yaml
  .github/workflows/examples-stm32.yaml
  .github/workflows/examples-telink.yaml
  .github/workflows/examples-tizen.yaml
  .github/workflows/full-android.yaml
  .github/workflows/fuzzing-build.yaml
  .github/workflows/java-tests.yaml
  .github/workflows/lint.yml
  .github/workflows/minimal-build.yaml
  .github/workflows/qemu.yaml
  .github/workflows/release_artifacts.yaml
  .github/workflows/smoketest-android.yaml
  .github/workflows/tests.yaml
  .github/workflows/unit_integration_test.yaml
  .github/workflows/zap_regeneration.yaml
  .github/workflows/zap_templates.yaml
  config/telink/chip-module/Kconfig
  config/telink/chip-module/Kconfig.defaults
  examples/all-clusters-app/ameba/README.md
  examples/all-clusters-minimal-app/ameba/README.md
  examples/fabric-admin/README.md
  examples/fabric-bridge-app/linux/README.md
  examples/fabric-sync/README.md
  examples/light-switch-app/ameba/README.md
  examples/lighting-app/ameba/README.md
  examples/ota-requestor-app/ameba/README.md
  examples/pigweed-app/ameba/README.md
  integrations/cloudbuild/chef.yaml
  integrations/cloudbuild/smoke-test.yaml
  scripts/tests/local.py
  src/platform/telink/SystemPlatformConfig.h
  src/test_driver/tizen/README.md
Labels: examples, scripts, integrations, platform, config, github, workflows, review - pending, telink, fast track, test driver, tizen

#38790 Add debug logs for test inet limits
  src/inet/tests/TestInetEndPoint.cpp
Labels: inet, review - approved

#38783 Fix random failure in test034_TestMTRDeviceHistoricalEvents.
  src/darwin/Framework/CHIPTests/MTRDeviceTests.m
Labels: darwin, review - pending, fast track

#38773 adding vector header for mac UT compilation.
  src/app/tests/TestClosureDimensionCluster.cpp
Labels: app, review - pending, fast track, tests

#38801 Bump timeout on Java tests that were timing-out
  .github/workflows/java-tests.yaml
Labels: github, workflows, review - pending, fast track

#38756 Update WebRTC DataChannel protocol name to align with spec
  examples/camera-app/linux/src/clusters/webrtc_provider/webrtc-provider-manager.cpp
  examples/camera-controller/commands/common/CHIPCommand.h
  examples/camera-controller/commands/interactive/InteractiveCommands.cpp
  examples/camera-controller/webrtc_manager/WebRTCManager.cpp
Labels: examples, review - approved

#38803 Fix random failure in MTRPerControllerStorageTests testSubscriptionPool
  src/darwin/Framework/CHIP/MTRDevice_Concrete.mm
  src/darwin/Framework/CHIPTests/MTRPerControllerStorageTests.m
Labels: darwin, review - pending, fast track

#38809 Fix random failures in MTRPerControllerStorageTests testMTRDeviceDealloc.
  src/darwin/Framework/CHIPTests/MTRPerControllerStorageTests.m
Labels: darwin, review - pending, fast track

#38820 Temporary REPL disabling to unblock CI
  .github/workflows/tests.yaml
Labels: github, workflows, review - pending

#38821 Fix double if
  .github/workflows/tests.yaml
Labels: hotfix, github, workflows

#38636 [Camera] Add support for WebRTC Connect in Chip-Tool Adapter
  examples/chip-tool/py_matter_chip_tool_adapter/matter_chip_tool_adapter/encoder.py
Labels: tools, examples, review - approved, cameras, v1.5

#38583 [Camera] Add Matter Camera TCs (TC-AVSM-2.1, TC-AVSM-2.2, TC-AVSM-2.3, TC-AVSM-2.4, TC-AVSM-2.5, TC-AVSM-2.6, TC-AVSM-2.7, TC-AVSM-2.8, TC-AVSM-2.9, TC-AVSM-2.10, TC-AVSM-2.11)
  src/python_testing/TC_AVSMTestBase.py
  src/python_testing/TC_AVSM_2_1.py
  src/python_testing/TC_AVSM_2_10.py
  src/python_testing/TC_AVSM_2_11.py
  src/python_testing/TC_AVSM_2_2.py
  src/python_testing/TC_AVSM_2_3.py
  src/python_testing/TC_AVSM_2_4.py
  src/python_testing/TC_AVSM_2_5.py
  src/python_testing/TC_AVSM_2_6.py
  src/python_testing/TC_AVSM_2_7.py
  src/python_testing/TC_AVSM_2_8.py
  src/python_testing/TC_AVSM_2_9.py
  src/python_testing/test_metadata.yaml
Labels: review - approved, tests, cameras, v1.5

#38728 Add facilities for parsing concatenated QR codes.
  src/setup_payload/QRCodeSetupPayloadParser.cpp
  src/setup_payload/QRCodeSetupPayloadParser.h
  src/setup_payload/SetupPayload.cpp
  src/setup_payload/SetupPayload.h
  src/setup_payload/tests/BUILD.gn
  src/setup_payload/tests/TestHelpers.h
  src/setup_payload/tests/TestQRCode.cpp
  src/setup_payload/tests/TestSetupPayload.cpp
Labels: scripts, setup payload, review - approved

#38701 Generate ActionsCluster with Alchemy
  examples/all-clusters-app/all-clusters-common/all-clusters-app.matter
  examples/all-clusters-app/realtek_bee/data_model/all-clusters-app.matter
  examples/all-clusters-minimal-app/all-clusters-common/all-clusters-minimal-app.matter
  examples/bridge-app/bridge-common/bridge-app.matter
  examples/placeholder/linux/apps/app1/config.matter
  examples/placeholder/linux/apps/app2/config.matter
  src/app/zap-templates/zcl/data-model/chip/actions-cluster.xml
  src/controller/data_model/controller-clusters.matter
  src/darwin/Framework/CHIP/zap-generated/MTRBaseClusters.h
Labels: examples, darwin, controller, app, review - approved, skip-protocol-compatibility

#38800 [clang] Add extra ignore to boringssl builds
  third_party/boringssl/repo/BUILD.gn
Labels: review - pending, fast track, changing-submodules-on-purpose

#38845 Full enable IPV6 tests again in REPL
  .github/actions/add-ipv6/action.yaml
  .github/workflows/tests.yaml
  docs/development_controllers/chip-repl/Matter_Access_Control.ipynb
  docs/development_controllers/chip-repl/Matter_Basic_Interactions.ipynb
  docs/development_controllers/chip-repl/Matter_Multi_Fabric_Commissioning.ipynb
  src/python_testing/execute_python_tests.py
Labels: documentation, github, workflows, review - approved, tests

#38786 [NXP] Fix wifi commissioning issue when using wrong credentials
  src/platform/nxp/common/NetworkCommissioningWiFiDriver.cpp
Labels: platform, review - approved, nxp

#38776 [docs] add `cmake` to necessary dependencies
  docs/guides/BUILDING.md
Labels: documentation, review - approved

#38757 Adds fix for integer overflow in TicksToMS function
  src/lwip/freertos/sys_arch.c
Labels: review - approved, lwip

#38847 Fix non-deterministic codegen in shared EnumsCheck.h.
  src/app/zap-templates/templates/app/shared-cluster-enums-check.zapt
  zzz_generated/app-common/clusters/shared/EnumsCheck.h
Labels: app, review - approved

#38764 [Chef][ICD] Add dedicated shutdown subscriptions RPC call in chef app
  examples/common/pigweed/protos/device_service.proto
  examples/common/pigweed/rpc_services/Device.h
Labels: examples, review - approved

#38849 examples/tv-casting-app: move CommissionerDeclarationHandler cleanup to stop() flow
  examples/tv-casting-app/android/App/app/src/main/jni/com/matter/casting/core/CastingApp.java
  examples/tv-casting-app/android/App/app/src/main/jni/cpp/core/CastingApp-JNI.cpp
Labels: examples, review - approved, tv-casting

#38858 Disable failings tests from REPL: TC_DefaultWarnings.py, TC_LTIME_3_1.py
  src/python_testing/test_metadata.yaml
Labels: review - pending, fast track, tests

#38788 Increase testing backchannel waiting time to 50ms
  src/python_testing/matter_testing_infrastructure/chip/testing/matter_testing.py
Labels: review - approved, tests

#38591 clang-tidy: fallback to xcrun for sysroot detection on Darwin if xcod…
  scripts/run-clang-tidy-on-compile-commands.py
Labels: scripts, review - approved

#38855 Fix inconsistency in how MRP delays are computed.
  src/messaging/ReliableMessageMgr.cpp
Labels: review - approved, messaging

#38686 [Tizen] QEMU coredump extraction
  integrations/docker/images/base/chip-build/version
  integrations/docker/images/stage-3/chip-build-tizen-qemu/Dockerfile
  src/test_driver/tizen/README.md
  third_party/tizen/tizen_qemu.py
Labels: integrations, review - approved, test driver, tizen, docker, changing-submodules-on-purpose

#38873 TC_SEPR and TC_EGC scripts were missing is_commissioning=True
  src/python_testing/TC_EGC_2_1.py
  src/python_testing/TC_EGC_2_2.py
  src/python_testing/TC_EGC_2_3.py
  src/python_testing/TC_SEPR_2_1.py
  src/python_testing/TC_SEPR_2_2.py
  src/python_testing/TC_SEPR_2_3.py
Labels: review - approved, tests

#38884 Disable flaky Telink CI for zephyr 3.3
  .github/workflows/examples-telink.yaml
Labels: github, workflows, review - pending, fast track

#38875 [bouffalo lab] Update reference partition table to increase size of P…
  docs/platforms/bouffalolab/getting_started.md
  docs/platforms/bouffalolab/ota_upgrade.md
  examples/platform/bouffalolab/bl602/flash_config/partition_cfg_4M.toml
  examples/platform/bouffalolab/bl616/flash_config/partition_cfg_4M.toml
  examples/platform/bouffalolab/bl702/flash_config/partition_cfg_2M.toml
  examples/platform/bouffalolab/bl702l/flash_config/partition_cfg_2M.toml
  src/platform/bouffalolab/common/ConnectivityManagerImpl.cpp
Labels: documentation, examples, platform, review - pending, fast track

#38889 Revert "Add codecov code coverage reports to PRs (#38342)"
  .github/workflows/build.yaml
Labels: hotfix

#38771 TC-TMP-2.1: Allow tolerance to be optional
  src/python_testing/TC_TMP_2_1.py
  src/python_testing/test_metadata.yaml
  src/python_testing/test_testing/test_TC_TMP_2_1.py
Labels: review - approved, tests

#38802 Make sure we follow up with any deletions in zap templates check
  .github/workflows/zap_templates.yaml
  zzz_generated/app-common/clusters/DemandResponseLoadControl/AttributeIds.h
  zzz_generated/app-common/clusters/DemandResponseLoadControl/Attributes.h
  zzz_generated/app-common/clusters/DemandResponseLoadControl/Attributes.ipp
  zzz_generated/app-common/clusters/DemandResponseLoadControl/BUILD.gn
  zzz_generated/app-common/clusters/DemandResponseLoadControl/ClusterId.h
  zzz_generated/app-common/clusters/DemandResponseLoadControl/CommandIds.h
  zzz_generated/app-common/clusters/DemandResponseLoadControl/Commands.h
  zzz_generated/app-common/clusters/DemandResponseLoadControl/Commands.ipp
  zzz_generated/app-common/clusters/DemandResponseLoadControl/Enums.h
  zzz_generated/app-common/clusters/DemandResponseLoadControl/EnumsCheck.h
  zzz_generated/app-common/clusters/DemandResponseLoadControl/EventIds.h
  zzz_generated/app-common/clusters/DemandResponseLoadControl/Events.h
  zzz_generated/app-common/clusters/DemandResponseLoadControl/Events.ipp
  zzz_generated/app-common/clusters/DemandResponseLoadControl/Ids.h
  zzz_generated/app-common/clusters/DemandResponseLoadControl/Metadata.h
  zzz_generated/app-common/clusters/DemandResponseLoadControl/Structs.h
  zzz_generated/app-common/clusters/DemandResponseLoadControl/Structs.ipp
  zzz_generated/app-common/clusters/all_items.gni
Labels: controller, github, workflows, review - pending, fast track

#38545 [Closure] Refactoring closure control server implementation
  examples/closure-app/closure-common/include/ClosureControlEndpoint.h
  examples/closure-app/closure-common/src/ClosureControlEndpoint.cpp
  src/app/clusters/closure-control-server/closure-control-cluster-delegate.h
  src/app/clusters/closure-control-server/closure-control-cluster-logic.cpp
  src/app/clusters/closure-control-server/closure-control-cluster-logic.h
  src/app/clusters/closure-control-server/closure-control-cluster-matter-context.h
  src/app/clusters/closure-control-server/closure-control-server.cpp
  src/app/tests/BUILD.gn
  src/app/tests/TestClosureControlClusterLogic.cpp
  src/app/tests/TestClosureControlClusterObjects.cpp
Labels: examples, app, review - approved, tests

#38885 Remove irrelevant and poorly configured localization clusters from some samples
  examples/camera-app/camera-common/camera-app.matter
  examples/camera-app/camera-common/camera-app.zap
  examples/chef/devices/icd_rootnode_contactsensor_ed3b19ec55.matter
  examples/chef/devices/icd_rootnode_contactsensor_ed3b19ec55.zap
  examples/chef/devices/rootnode_contactsensor_lightsensor_occupancysensor_temperaturesensor_pressuresensor_flowsensor_humiditysensor_airqualitysensor_powersource_367e7cea91.matter
  examples/chef/devices/rootnode_contactsensor_lightsensor_occupancysensor_temperaturesensor_pressuresensor_flowsensor_humiditysensor_airqualitysensor_powersource_367e7cea91.zap
  examples/chef/devices/rootnode_heatpump_87ivjRAECh.matter
  examples/chef/devices/rootnode_heatpump_87ivjRAECh.zap
  examples/chef/devices/rootnode_mounteddimmableloadcontrol_a9a1a87f2d.matter
  examples/chef/devices/rootnode_mounteddimmableloadcontrol_a9a1a87f2d.zap
  examples/chef/devices/rootnode_mountedonoffcontrol_ec30c757a6.matter
  examples/chef/devices/rootnode_mountedonoffcontrol_ec30c757a6.zap
  examples/chef/devices/rootnode_thermostat_bm3fb8dhYi.matter
  examples/chef/devices/rootnode_thermostat_bm3fb8dhYi.zap
  examples/chef/devices/rootnode_watervalve_6bb39f1f67.matter
  examples/chef/devices/rootnode_watervalve_6bb39f1f67.zap
  examples/closure-app/closure-common/closure-app.matter
  examples/closure-app/closure-common/closure-app.zap
  examples/contact-sensor-app/bouffalolab/data_model/contact-sensor-app.matter
  examples/contact-sensor-app/bouffalolab/data_model/contact-sensor-app.zap
  examples/dishwasher-app/silabs/data_model/dishwasher-thread-app.matter
  examples/dishwasher-app/silabs/data_model/dishwasher-thread-app.zap
  examples/dishwasher-app/silabs/data_model/dishwasher-wifi-app.matter
  examples/dishwasher-app/silabs/data_model/dishwasher-wifi-app.zap
  examples/energy-gateway-app/energy-gateway-common/energy-gateway-app.matter
  examples/energy-gateway-app/energy-gateway-common/energy-gateway-app.zap
  examples/energy-management-app/energy-management-common/energy-management-app.matter
  examples/energy-management-app/energy-management-common/energy-management-app.zap
  examples/light-switch-app/realtek_bee/data_model/light-switch-app-1_to_11.matter
  examples/light-switch-app/realtek_bee/data_model/light-switch-app-1_to_11.zap
  examples/light-switch-app/realtek_bee/data_model/light-switch-app-1_to_2.matter
  examples/light-switch-app/realtek_bee/data_model/light-switch-app-1_to_2.zap
  examples/light-switch-app/realtek_bee/data_model/light-switch-app-1_to_8.matter
  examples/light-switch-app/realtek_bee/data_model/light-switch-app-1_to_8.zap
  examples/lighting-app/esp32/data_model/lighting-app.matter
  examples/lighting-app/esp32/data_model/lighting-app.zap
  examples/lighting-app/lighting-common/lighting-app.matter
  examples/lighting-app/lighting-common/lighting-app.zap
  examples/lighting-app/realtek_bee/data_model/lighting-app.matter
  examples/lighting-app/realtek_bee/data_model/lighting-app.zap
  examples/lit-icd-app/lit-icd-common/lit-icd-server-app.matter
  examples/lit-icd-app/lit-icd-common/lit-icd-server-app.zap
  examples/lock-app/lock-common/lock-app.matter
  examples/lock-app/lock-common/lock-app.zap
  examples/lock-app/silabs/data_model/lock-app.matter
  examples/lock-app/silabs/data_model/lock-app.zap
  examples/microwave-oven-app/microwave-oven-common/microwave-oven-app.matter
  examples/microwave-oven-app/microwave-oven-common/microwave-oven-app.zap
  examples/placeholder/linux/apps/app1/config.matter
  examples/placeholder/linux/apps/app1/config.zap
  examples/placeholder/linux/apps/app2/config.matter
  examples/placeholder/linux/apps/app2/config.zap
  examples/thermostat/thermostat-common/thermostat.matter
  examples/thermostat/thermostat-common/thermostat.zap
  examples/water-leak-detector-app/water-leak-detector-common/water-leak-detector-app.matter
  examples/water-leak-detector-app/water-leak-detector-common/water-leak-detector-app.zap
  examples/window-app/common/window-app.matter
  examples/window-app/common/window-app.zap
  src/python_testing/test_metadata.yaml
Labels: examples, review - approved, tests

#38856 tv-casting-app/tv-app target app, commissioner passcode flow
  examples/tv-app/android/java/AppImpl.cpp
  examples/tv-app/linux/README.md
  examples/tv-app/tv-common/src/AppTv.cpp
  examples/tv-casting-app/android/App/app/src/main/java/com/matter/casting/ApplicationBasicReadVendorIDExampleFragment.java
  examples/tv-casting-app/android/App/app/src/main/java/com/matter/casting/ConnectionExampleFragment.java
  examples/tv-casting-app/android/App/app/src/main/java/com/matter/casting/ContentLauncherLaunchURLExampleFragment.java
  examples/tv-casting-app/android/App/app/src/main/java/com/matter/casting/MediaPlaybackSubscribeToCurrentStateExampleFragment.java
  examples/tv-casting-app/darwin/TvCasting/TvCasting/MCConnectionExampleViewModel.swift
  examples/tv-casting-app/linux/simple-app-helper.cpp
  examples/tv-casting-app/tv-casting-common/core/CastingPlayer.cpp
  examples/tv-casting-app/tv-casting-common/core/Endpoint.cpp
  examples/tv-casting-app/tv-casting-common/include/CHIPProjectAppConfig.h
  examples/tv-casting-app/tv-casting-common/support/CastingStore.cpp
  examples/tv-casting-app/tv-casting-common/support/ChipDeviceEventHandler.cpp
  examples/tv-casting-app/tv-casting-common/support/EndpointListLoader.cpp
  scripts/tests/linux/tv_casting_test_sequences.py
  src/app/app-platform/ContentAppPlatform.cpp
  src/protocols/user_directed_commissioning/UserDirectedCommissioningServer.cpp
Labels: examples, scripts, app, review - approved, protocols

#38854 Stop running the MTRDevice dealloc test when pool width is not 1.
  src/darwin/Framework/CHIPTests/MTRPerControllerStorageTests.m
Labels: darwin, review - approved

#38922 Add BLE APIs to allow commissioning using concatenated QR codes.
  src/ble/BleConnectionDelegate.h
  src/ble/BleLayer.cpp
  src/ble/BleLayer.h
Labels: ble, review - approved

#38926 Fix typo in log message.
  src/platform/Darwin/BleConnectionDelegateImpl.mm
Labels: platform, darwin, review - pending, fast track

#38928 Guard defines in standalone/CHIPProjectConfig.h
  config/python/CHIPProjectConfig.h
  config/standalone/CHIPProjectConfig.h
  examples/camera-controller/include/CHIPProjectAppConfig.h
  examples/chip-tool/include/CHIPProjectAppConfig.h
  examples/fabric-admin/include/CHIPProjectAppConfig.h
  examples/java-matter-controller/include/CHIPProjectAppConfig.h
  examples/jf-control-app/include/CHIPProjectAppConfig.h
  examples/kotlin-matter-controller/include/CHIPProjectAppConfig.h
  examples/lit-icd-app/linux/config/CHIPProjectConfig.h
Labels: tools, examples, config, review - approved

#38929 Use SOURCE_DATE_EPOCH from environment if present
  build/chip/write_build_time_header.py
Labels: gn, review - approved

#38904 [NXP][cmake][common] Provide a way to customize the toolchain in the NXP freertos cmake abstraction
  config/nxp/chip-cmake-freertos/CMakeLists.txt
  config/nxp/chip-gn-freertos/args.gni
  config/nxp/chip-gn-freertos/toolchain/BUILD.gn
Labels: config, review - approved

#38878 [Bouffalo lab] ‌Improve BL702/BL702L execution efficiency by updating the linker file‌
  examples/contact-sensor-app/bouffalolab/bl702l/app_pds.cpp
  examples/platform/bouffalolab/bl702/ldscripts/psram_flash.ld
  examples/platform/bouffalolab/bl702l/ldscripts/flash_rom.ld
  examples/platform/bouffalolab/bl702l/ldscripts/psram_flash.ld
  examples/platform/bouffalolab/bl702l/ldscripts/psram_flash_rom.ld
Labels: examples, platform, review - pending, fast track

#38866 [codegen/CodegenDataModelProvider.cpp]: Move the constructor of AttributeEntry inside a closer "for" loop.
  src/data-model-providers/codegen/CodegenDataModelProvider.cpp
Labels: app, data model, review - approved

#38795 Disable flaky Darwin tests
  src/darwin/Framework/CHIPTests/MTRPerControllerStorageTests.m
Labels: darwin, review - approved, tests, flaky-test

#38877 [bouffalo lab] fix bl616 wifi scan operation with/without specified ssid
  src/platform/bouffalolab/BL616/NetworkCommissioningDriver.cpp
  src/platform/bouffalolab/BL616/NetworkCommissioningDriver.h
Labels: platform, review - pending, fast track

#38534 Install matter-yamltests files in matter namespace
  .github/actions/bootstrap-cache/action.yaml
  .github/actions/bootstrap/action.yaml
  .github/workflows/tests.yaml
  BUILD.gn
  integrations/docker/images/chip-cert-bins/Dockerfile
  scripts/BUILD.gn
  scripts/build_python.sh
  scripts/py_matter_idl/BUILD.gn
  scripts/py_matter_yamltests/BUILD.gn
  scripts/py_matter_yamltests/generate_pseudo_cluster_doc_tables.py
  scripts/py_matter_yamltests/generate_yaml_doc_tables.py
  scripts/py_matter_yamltests/matter/yamltests/__init__.py
  scripts/py_matter_yamltests/matter/yamltests/adapter.py
  scripts/py_matter_yamltests/matter/yamltests/constraints.py
  scripts/py_matter_yamltests/matter/yamltests/definitions.py
  scripts/py_matter_yamltests/matter/yamltests/errors.py
  scripts/py_matter_yamltests/matter/yamltests/fixes.py
  scripts/py_matter_yamltests/matter/yamltests/hooks.py
  scripts/py_matter_yamltests/matter/yamltests/parser.py
  scripts/py_matter_yamltests/matter/yamltests/parser_builder.py
  scripts/py_matter_yamltests/matter/yamltests/parser_config.py
  scripts/py_matter_yamltests/matter/yamltests/pics_checker.py
  scripts/py_matter_yamltests/matter/yamltests/pseudo_clusters/__init__.py
  scripts/py_matter_yamltests/matter/yamltests/pseudo_clusters/clusters/__init__.py
  scripts/py_matter_yamltests/matter/yamltests/pseudo_clusters/clusters/accessory_server_bridge.py
  scripts/py_matter_yamltests/matter/yamltests/pseudo_clusters/clusters/commissioner_commands.py
  scripts/py_matter_yamltests/matter/yamltests/pseudo_clusters/clusters/delay_commands.py
  scripts/py_matter_yamltests/matter/yamltests/pseudo_clusters/clusters/discovery_commands.py
  scripts/py_matter_yamltests/matter/yamltests/pseudo_clusters/clusters/equality_commands.py
  scripts/py_matter_yamltests/matter/yamltests/pseudo_clusters/clusters/log_commands.py
  scripts/py_matter_yamltests/matter/yamltests/pseudo_clusters/clusters/system_commands.py
  scripts/py_matter_yamltests/matter/yamltests/pseudo_clusters/clusters/webrtc.py
  scripts/py_matter_yamltests/matter/yamltests/pseudo_clusters/pseudo_cluster.py
  scripts/py_matter_yamltests/matter/yamltests/pseudo_clusters/pseudo_clusters.py
  scripts/py_matter_yamltests/matter/yamltests/py.typed
  scripts/py_matter_yamltests/matter/yamltests/runner.py
  scripts/py_matter_yamltests/matter/yamltests/websocket_runner.py
  scripts/py_matter_yamltests/matter/yamltests/yaml_loader.py
  scripts/py_matter_yamltests/setup.cfg
  scripts/py_matter_yamltests/test_parser_builder.py
  scripts/py_matter_yamltests/test_pics_checker.py
  scripts/py_matter_yamltests/test_pseudo_clusters.py
  scripts/py_matter_yamltests/test_spec_definitions.py
  scripts/py_matter_yamltests/test_yaml_loader.py
  scripts/py_matter_yamltests/test_yaml_parser.py
  scripts/setup/requirements.all.txt
  scripts/tests/chiptest/yamltest_with_chip_repl_tester.py
  scripts/tests/chipyaml/extensions/example_cluster.py
  scripts/tests/chipyaml/extensions/wildcard_response_extractor_cluster.py
  scripts/tests/chipyaml/relative_importer.py
  scripts/tests/chipyaml/runner.py
  scripts/tests/chipyaml/tests_logger.py
  scripts/tests/chipyaml/tests_tool.py
  scripts/tests/requirements.txt
  src/controller/python/chip/yaml/runner.py
  src/controller/python/py_matter_yamltest_repl_adapter/matter_yamltest_repl_adapter/adapter.py
  src/controller/python/py_matter_yamltest_repl_adapter/matter_yamltest_repl_adapter/runner.py
  src/python_testing/hello_external_runner.py
  src/python_testing/matter_testing_infrastructure/chip/testing/matter_testing.py
Labels: scripts, integrations, controller, github, workflows, gn, review - approved, tests, docker

#38909 [Darwin][Network.framework] Do not include TCPEndPointImpl.h if TCP e…
  src/inet/tests/TestInetCommon.h
Labels: inet, review - approved

#38910 [Darwin] Install dispatch source handler for SIGINT/SIGTERM instead o…
  examples/platform/linux/AppMain.cpp
Labels: examples, platform, linux, review - pending, fast track

#38911 [Darwin][Network.framework] Split the DnssdHostNameRegistrar such tha…
  src/platform/Darwin/BUILD.gn
  src/platform/Darwin/DnssdHostNameRegistrar.cpp
  src/platform/Darwin/DnssdHostNameRegistrar.h
  src/platform/Darwin/DnssdHostNameRegistrar.mm
  src/platform/Darwin/inet/InterfacesMonitor.h
  src/platform/Darwin/inet/InterfacesMonitor.mm
Labels: platform, darwin, review - pending, fast track

#38913 [Darwin][Network.framework] Ensure CHIP_SYSTEM_CONFIG_MULTICAST_HOMIN…
  src/system/BUILD.gn
  src/system/SystemConfig.h
Labels: system, review - pending, fast track

#38772 Add new test to check that _deviceMayBeReachable switches the device's state to notReachable
  src/darwin/Framework/CHIPTests/MTRDeviceTests.m
  src/darwin/Framework/CHIPTests/TestHelpers/MTRDeviceTestDelegate.h
  src/darwin/Framework/CHIPTests/TestHelpers/MTRDeviceTestDelegate.m
  src/darwin/Framework/CHIPTests/TestHelpers/MTRTestCase+ServerAppRunner.h
  src/darwin/Framework/CHIPTests/TestHelpers/MTRTestCase+ServerAppRunner.m
  src/darwin/Framework/CHIPTests/TestHelpers/MTRTestCase.h
  src/darwin/Framework/CHIPTests/TestHelpers/MTRTestCase.mm
Labels: darwin, review - pending, fast track

#38954 [NXP] Update NXP Zephyr Docker image for nxp-zsdk v4.1.0 migration
  integrations/docker/images/base/chip-build/version
  integrations/docker/images/stage-2/chip-build-nxp-zephyr/Dockerfile
Labels: integrations, review - approved, docker

#38525 Unit Tests for controller/ExampleOperationalCredentialsIssuer.
  src/controller/tests/BUILD.gn
  src/controller/tests/TestExampleOperationalCredentialsIssuer.cpp
Labels: controller, review - approved

#38946 [E2E][JF] Made JF Datastore cluster attributes/commands provisional
  src/app/zap-templates/zcl/data-model/chip/joint-fabric-administrator-cluster.xml
  src/app/zap-templates/zcl/data-model/chip/joint-fabric-datastore-cluster.xml
Labels: app, review - approved

#38930 Assign a unique test PID to the network-manager example app
  docs/examples/discussion/PID_allocation_for_example_apps.md
  examples/network-manager-app/linux/include/CHIPProjectAppConfig.h
Labels: documentation, examples, review - pending, fast track

#38964 Log the AKID when a PAA is not found during device attestation.
  src/credentials/attestation_verifier/DefaultDeviceAttestationVerifier.cpp
Labels: review - approved

#38945 [Chef] chef.py supports --build_bundle
  examples/chef/chef.py
Labels: examples, review - pending, fast track

#38921 [TI] Dynamic Short/Long Idle Time Support for CC13x4_26x4
  docs/platforms/ti/matter-users-guide/enabling_icd_on_ti_devices.md
  examples/light-switch-app/cc13x4_26x4/README.md
  examples/light-switch-app/cc13x4_26x4/args.gni
  examples/light-switch-app/cc13x4_26x4/src/AppEvent.h
  examples/light-switch-app/cc13x4_26x4/src/AppTask.cpp
  examples/lighting-app/cc13x4_26x4/README.md
  examples/lighting-app/cc13x4_26x4/args.gni
  examples/lighting-app/cc13x4_26x4/src/AppEvent.h
  examples/lighting-app/cc13x4_26x4/src/AppTask.cpp
  examples/lock-app/cc13x4_26x4/README.md
  examples/lock-app/cc13x4_26x4/args.gni
  examples/lock-app/cc13x4_26x4/src/AppEvent.h
  examples/lock-app/cc13x4_26x4/src/AppTask.cpp
  examples/pump-app/cc13x4_26x4/README.md
  examples/pump-app/cc13x4_26x4/args.gni
  examples/pump-app/cc13x4_26x4/main/AppTask.cpp
  examples/pump-app/cc13x4_26x4/main/include/AppEvent.h
  examples/pump-controller-app/cc13x4_26x4/README.md
  examples/pump-controller-app/cc13x4_26x4/args.gni
  examples/pump-controller-app/cc13x4_26x4/main/AppTask.cpp
  examples/pump-controller-app/cc13x4_26x4/main/include/AppEvent.h
Labels: documentation, examples, review - approved

#38972 Re-enable Darwin tests that have been fixed.
  src/darwin/Framework/CHIPTests/MTRPerControllerStorageTests.m
Labels: darwin, review - pending, fast track

#38948 Disable flaky darwin test - test036_TestStorageBehaviorConfiguration
  src/darwin/Framework/CHIPTests/MTRDeviceTests.m
Labels: darwin, review - pending, fast track

#38958 Cleaning up the package order in .zap files
  examples/chef/devices/rootnode_dimmablepluginunit_f8a9a0b9d4.zap
  examples/chef/devices/rootnode_mountedonoffcontrol_ec30c757a6.zap
  examples/contact-sensor-app/nxp/zap-sit/contact-sensor-app.zap
  examples/dishwasher-app/dishwasher-common/dishwasher-app.zap
  examples/fabric-sync/bridge/fabric-bridge.zap
  examples/lighting-app/bouffalolab/data_model/lighting-app-ethernet.zap
  examples/lighting-app/silabs/data_model/lighting-wifi-app.zap
  examples/lit-icd-app/lit-icd-common/lit-icd-server-app.zap
  examples/placeholder/linux/apps/app1/config.zap
  examples/pump-app/silabs/data_model/pump-thread-app.zap
  examples/thermostat/nxp/zap/thermostat_matter_br.zap
Labels: examples, review - approved

#38842 Added implementations for the JF Administrator and Datastore Servers
  scripts/tools/check_includes_config.py
  src/app/clusters/joint-fabric-administrator-server/joint-fabric-administrator-server.cpp
  src/app/clusters/joint-fabric-datastore-server/joint-fabric-datastore-server.cpp
  src/app/server/BUILD.gn
  src/app/server/JointFabricDatastore.cpp
  src/app/server/JointFabricDatastore.h
  src/app/server/Server.h
Labels: scripts, app, review - approved

#38761 TC-LTIME-3.1: Remove YAML
  src/app/tests/suites/certification/Test_TC_LTIME_3_1.yaml
  src/app/tests/suites/ciTests.json
Labels: app, review - approved, tests

#38943 Do not rely on timing in the EventLoopHandler test
  src/system/tests/TestEventLoopHandler.cpp
Labels: system, review - approved

#38976 added a setter for TemperatureUnit attribute to be used by applications
  examples/all-clusters-app/linux/main-common.cpp
  src/app/clusters/unit-localization-server/unit-localization-server.cpp
  src/app/clusters/unit-localization-server/unit-localization-server.h
Labels: examples, app, review - approved

#38992 Revert "[Darwin] Install dispatch source handler for SIGINT/SIGTERM instead of posix signals to make it more reliable (#38910)"
  examples/platform/linux/AppMain.cpp
Labels: examples, platform, linux, review - pending, fast track

#38975 [NXP] Add freertos rw61x ethernet support
  .github/workflows/examples-nxp.yaml
  config/nxp/chip-cmake-freertos/Kconfig
  config/nxp/chip-gn-freertos/BUILD.gn
  docs/platforms/nxp/nxp_examples_freertos_platforms.md
  docs/platforms/nxp/nxp_rw61x_guide.md
  examples/all-clusters-app/nxp/CMakeLists.txt
  examples/platform/nxp/common/app_task/include/AppTaskFreeRTOS.h
  examples/platform/nxp/common/app_task/source/AppTaskFreeRTOS.cpp
  examples/platform/nxp/config/prj_eth.conf
  examples/platform/nxp/config/prj_eth_fdata.conf
  examples/platform/nxp/config/prj_eth_ota.conf
  examples/platform/nxp/config/prj_eth_ota_fdata.conf
  examples/platform/nxp/config/prj_eth_ota_fdata_v2.conf
  examples/thermostat/nxp/CMakeLists.txt
  examples/thermostat/nxp/zap/thermostat_matter_eth.matter
  examples/thermostat/nxp/zap/thermostat_matter_eth.zap
  scripts/build/builders/nxp.py
  src/platform/ESP32/BUILD.gn
  src/platform/bouffalolab/common/args.gni
  src/platform/device.gni
  src/platform/nxp/common/ConfigurationManagerImpl.cpp
  src/platform/nxp/common/ConfigurationManagerImpl.h
  src/platform/nxp/common/ConnectivityManagerImpl.cpp
  src/platform/nxp/common/ConnectivityManagerImpl.h
  src/platform/nxp/common/DiagnosticDataProviderImpl.cpp
  src/platform/nxp/common/DiagnosticDataProviderImpl.h
  src/platform/nxp/common/Ethernet/NxpEthDriver.cpp
  src/platform/nxp/common/Ethernet/NxpEthDriver.h
  src/platform/nxp/rt/rw61x/BUILD.gn
  src/platform/nxp/rt/rw61x/PlatformManagerImpl.cpp
  src/platform/nxp/zephyr/args.gni
Labels: documentation, examples, scripts, platform, esp32, config, github, workflows, review - approved, nxp

#38995 [docs] add DeepWiki badge to enable auto-refresh
  .github/.wordlist.txt
  README.md
Labels: documentation, github, review - approved

#38893 Misc fixes for TC_EGC and TC_SEPR test cases
  src/python_testing/TC_EGC_2_1.py
  src/python_testing/TC_EGC_2_2.py
  src/python_testing/TC_EGC_2_3.py
  src/python_testing/TC_SEPR_2_2.py
  src/python_testing/TC_SEPR_2_3.py
Labels: review - approved, tests

#39002 [darwin] expose diagnostic log download state
  src/darwin/Framework/CHIP/MTRDevice.h
  src/darwin/Framework/CHIP/MTRDevice.mm
  src/darwin/Framework/CHIP/MTRDevice_Concrete.mm
  src/darwin/Framework/CHIP/MTRDevice_Internal.h
  src/darwin/Framework/CHIP/MTRDevice_XPC.mm
Labels: darwin, review - pending, fast track

#38999 Fix random failure in test029_MTRDeviceWriteCoalescing.
  src/darwin/Framework/CHIPTests/MTRDeviceTests.m
  src/darwin/Framework/CHIPTests/TestHelpers/MTRTestDeclarations.h
Labels: darwin, review - approved

#39003 [Darwin] MTRDevice needs to clear subscription pool work in edge cases
  src/app/ReadClient.cpp
  src/app/ReadClient.h
  src/darwin/Framework/CHIP/MTRDevice_Concrete.mm
Labels: darwin, app, review - pending, fast track

#38940 [Feature]: Support runtime configuration of commissioning window timeout
  src/app/server/Server.cpp
  src/app/server/Server.h
Labels: app, review - approved

#38966 water-leak-detector: add command handling support for leak state testing
  docs/examples/water_leak_detector.md
  examples/water-leak-detector-app/linux/BUILD.gn
  examples/water-leak-detector-app/linux/README.md
  examples/water-leak-detector-app/linux/main.cpp
  examples/water-leak-detector-app/water-leak-detector-common/BUILD.gn
  examples/water-leak-detector-app/water-leak-detector-common/include/WaterLeakDetectorAppAttrUpdateDelegate.h
  examples/water-leak-detector-app/water-leak-detector-common/include/WaterLeakDetectorManager.h
  examples/water-leak-detector-app/water-leak-detector-common/src/WaterLeakDetectorAppAttrUpdateDelegate.cpp
  examples/water-leak-detector-app/water-leak-detector-common/src/WaterLeakDetectorManager.cpp
  integrations/docker/images/chip-cert-bins/Dockerfile
Labels: documentation, examples, integrations, review - approved, docker

#39022 [Telink] Update Docker image (Zephyr update)
  integrations/docker/images/base/chip-build/version
  integrations/docker/images/stage-2/chip-build-telink-zephyr_3_3/Dockerfile
  integrations/docker/images/stage-2/chip-build-telink/Dockerfile
Labels: integrations, review - pending, docker

#38993 Bug fix: do not try to add global attributes in attribute path expand iterator
  src/app/AttributePathExpandIterator.cpp
  src/app/AttributePathExpandIterator.h
Labels: app, review - approved

#38977 [Darwin] Add NSManagedObjectModel to the leak suppression
  scripts/tests/chiptest/lsan-mac-suppressions.txt
Labels: scripts, review - pending, fast track

#39023 Style fix: remove trailing whitespace in generated header
  src/system/BUILD.gn
Labels: system, review - approved

#39009 [camera] Use common configs to create a GStreamer pipeline
  examples/camera-app/linux/include/camera-device.h
  examples/camera-app/linux/src/camera-device.cpp
Labels: examples, review - approved

#39020 [Darwin][CI] Fallback to SIGKILL after 10 seconds if terminate fails …
  src/darwin/Framework/CHIPTests/TestHelpers/MTRTestCase.mm
Labels: darwin, review - pending, fast track

#38983 [Darwin][Network.framework] Update the interface monitor such that it…
  src/platform/Darwin/DnssdHostNameRegistrar.h
  src/platform/Darwin/inet/InterfacesMonitor.h
  src/platform/Darwin/inet/InterfacesMonitor.mm
Labels: platform, darwin, review - pending, fast track

#39032 Remove obsolete comments from MetadataTree
  src/app/data-model-provider/ProviderMetadataTree.h
Labels: app, review - pending, fast track

#39019 [Darwin] Remove src/darwin/Framework/CHIP/BUILD.gn
  src/darwin/Framework/CHIP/BUILD.gn
Labels: darwin, review - approved

#39033 [Darwin] MTRDevice diagnostic log transfer state improvements
  src/darwin/Framework/CHIP/MTRDevice_Concrete.mm
  src/darwin/Framework/CHIP/MTRDevice_Internal.h
  src/darwin/Framework/CHIP/MTRDevice_XPC.mm
Labels: darwin, review - pending, fast track

#39040 Fix typo in parameter used in XPC path
  src/darwin/Framework/CHIP/MTRDevice_XPC.mm
Labels: review - pending, fast track

#39041 [Darwin] Unit test for #39003
  src/darwin/Framework/CHIP/MTRDevice_Concrete.mm
  src/darwin/Framework/CHIPTests/MTRDeviceTests.m
  src/darwin/Framework/CHIPTests/TestHelpers/MTRDeviceTestDelegate.h
  src/darwin/Framework/CHIPTests/TestHelpers/MTRDeviceTestDelegate.m
  src/darwin/Framework/CHIPTests/TestHelpers/MTRTestDeclarations.h
Labels: darwin, review - pending, fast track

#39011 docs: add environment troubleshooting to esp32 app building guide
  docs/platforms/esp32/build_app_and_commission.md
Labels: documentation, review - approved

#39045 Fix CI broken on TC_AVSUM_2_7.py
  src/python_testing/TC_AVSUMTestBase.py
Labels: hotfix, review - pending, tests

#38824 TC-LTIME-3.1: Fix to not hard code calendars
  src/python_testing/TC_LTIME_3_1.py
  src/python_testing/test_metadata.yaml
Labels: review - approved, tests

#39059 [Darwin] Convert PlatformManagerImpl.cpp to .mm
  src/platform/Darwin/BUILD.gn
  src/platform/Darwin/PlatformManagerImpl.cpp
  src/platform/Darwin/PlatformManagerImpl.h
  src/platform/Darwin/PlatformManagerImpl.mm
Labels: platform, darwin, review - pending, fast track

#39030 [Telink] Update compatible builds to docker version 132
  .github/workflows/bloat_check.yaml
  .github/workflows/build.yaml
  .github/workflows/chef.yaml
  .github/workflows/doxygen.yaml
  .github/workflows/examples-ameba.yaml
  .github/workflows/examples-asr.yaml
  .github/workflows/examples-bouffalolab.yaml
  .github/workflows/examples-cc13xx_26xx.yaml
  .github/workflows/examples-efr32.yaml
  .github/workflows/examples-esp32.yaml
  .github/workflows/examples-infineon.yaml
  .github/workflows/examples-linux-arm.yaml
  .github/workflows/examples-linux-imx.yaml
  .github/workflows/examples-linux-standalone.yaml
  .github/workflows/examples-linux-tv-casting-app.yaml
  .github/workflows/examples-mw320.yaml
  .github/workflows/examples-nrfconnect.yaml
  .github/workflows/examples-nuttx.yaml
  .github/workflows/examples-nxp.yaml
  .github/workflows/examples-openiotsdk.yaml
  .github/workflows/examples-qpg.yaml
  .github/workflows/examples-stm32.yaml
  .github/workflows/examples-telink.yaml
  .github/workflows/examples-tizen.yaml
  .github/workflows/full-android.yaml
  .github/workflows/fuzzing-build.yaml
  .github/workflows/java-tests.yaml
  .github/workflows/lint.yml
  .github/workflows/minimal-build.yaml
  .github/workflows/mypy-validation.yml
  .github/workflows/qemu.yaml
  .github/workflows/release_artifacts.yaml
  .github/workflows/smoketest-android.yaml
  .github/workflows/tests.yaml
  .github/workflows/unit_integration_test.yaml
  .github/workflows/zap_regeneration.yaml
  .github/workflows/zap_templates.yaml
  examples/all-clusters-app/ameba/README.md
  examples/all-clusters-minimal-app/ameba/README.md
  examples/fabric-admin/README.md
  examples/fabric-bridge-app/linux/README.md
  examples/fabric-sync/README.md
  examples/light-switch-app/ameba/README.md
  examples/lighting-app/ameba/README.md
  examples/ota-requestor-app/ameba/README.md
  examples/pigweed-app/ameba/README.md
  integrations/cloudbuild/chef.yaml
  integrations/cloudbuild/smoke-test.yaml
  scripts/tests/local.py
  src/test_driver/tizen/README.md
Labels: examples, scripts, integrations, github, workflows, review - pending, fast track, test driver, tizen

#37678 [Silabs] [WiFi] Add lighting RGB color feature for 917 SoC BRD2605A devkit board
  examples/lighting-app/silabs/BUILD.gn
  examples/lighting-app/silabs/include/AppEvent.h
  examples/lighting-app/silabs/include/AppTask.h
  examples/lighting-app/silabs/include/LightingManager.h
  examples/lighting-app/silabs/src/AppTask.cpp
  examples/lighting-app/silabs/src/LightingManager.cpp
  examples/lighting-app/silabs/src/ZclCallbacks.cpp
  examples/platform/silabs/LEDWidget.cpp
  examples/platform/silabs/LEDWidget.h
  examples/platform/silabs/SiWx917/BUILD.gn
  examples/platform/silabs/efr32/BUILD.gn
  examples/platform/silabs/rgb_led/RGBLEDWidget.cpp
  examples/platform/silabs/rgb_led/RGBLEDWidget.h
  src/platform/silabs/platformAbstraction/SilabsPlatform.h
  src/platform/silabs/platformAbstraction/SilabsPlatformBase.h
  src/platform/silabs/platformAbstraction/WiseMcuSpam.cpp
Labels: examples, platform, review - approved, silabs

#38705 [Follow-Up] Updating TC_ACL_2_6 to add subscription validation and fix for issue #38663
  src/python_testing/TC_ACL_2_6.py
Labels: review - pending, fast track, tests

#39037 [Pullapprove] Folder specific review requirements
  .pullapprove.yml
Labels: review - approved

#39078 Move NXP zephyr build to docker image 129
  .github/workflows/examples-nxp.yaml
Labels: hotfix, github, workflows

#38991 Fix all samples with bad Step value in Temperature Control
  examples/chef/devices/rootnode_dishwasher_cc105034fe.matter
  examples/chef/devices/rootnode_dishwasher_cc105034fe.zap
  examples/refrigerator-app/silabs/data_model/refrigerator-thread-app.matter
  examples/refrigerator-app/silabs/data_model/refrigerator-thread-app.zap
  examples/refrigerator-app/silabs/data_model/refrigerator-wifi-app.matter
  examples/refrigerator-app/silabs/data_model/refrigerator-wifi-app.zap
Labels: examples, review - approved

#39031 Improve logging of TC-OPCREDS-3.8 based on TE2
  src/python_testing/TC_OPCREDS_3_8.py
Labels: review - approved, tests

#39044 [Chef] Switch - Add missing include for ifdef
  examples/chef/common/clusters/switch/SwitchEventHandler.cpp
  examples/chef/common/clusters/switch/SwitchManager.cpp
Labels: examples

#38990 [NXP] Upstream nxp zephyr 4.1.0 support
  .github/workflows/examples-nxp.yaml
  config/nxp/chip-module/Kconfig.defaults
  config/nxp/chip-module/Kconfig.features
  docs/platforms/nxp/nxp_zephyr_guide.md
  examples/all-clusters-app/nxp/zephyr/boards/frdm_rw612_fdata.conf
  examples/all-clusters-app/nxp/zephyr/prj_release.conf
  examples/laundry-washer-app/nxp/zephyr/boards/frdm_rw612_fdata.conf
  examples/laundry-washer-app/nxp/zephyr/prj_release.conf
  examples/thermostat/nxp/zephyr/boards/frdm_rw612_fdata.conf
  examples/thermostat/nxp/zephyr/prj_release.conf
  src/platform/Zephyr/wifi/WiFiManager.cpp
  src/platform/nxp/zephyr/DiagnosticDataProviderImplNxp.cpp
  src/platform/nxp/zephyr/DiagnosticDataProviderImplNxp.h
  src/platform/nxp/zephyr/nxp-zephyr-mbedtls-config.h
Labels: documentation, examples, platform, zephyr, config, github, workflows, review - approved, nxp

#39058 [v1.3-branch] Update the mode-select-server with empty list handling.
  src/app/clusters/mode-select-server/mode-select-server.cpp
Labels: app
