Repository project-chip/connectedhomeip, changes with the owners that CODEOWNERS names for each.
All owners: @tx2rx, @pankore, @zhengyaohan, @project-chip/reviewers-apple, @project-chip/reviewers-espressif, @ifyall, @zhhyu7, @arkq, @project-chip/reviewers-google, @wy-hh, @s-jain2022, @pakls, @project-chip/reviewers-nordic, @project-chip/reviewers-nxp, @s07641069, @dvdm-qorvo, @project-chip/reviewers-silabs, @STYoannZamaron, @joonhaengHeo

CODEOWNERS:

/src/platform/ASR/               @tx2rx
asr/                             @tx2rx
chip-build-asr/                  @tx2rx

/src/platform/Ameba/             @pankore
ameba/                           @pankore
chip-build-ameba/                @pankore

/src/platform/Beken/             @zhengyaohan

*.mm                             @project-chip/reviewers-apple
darwin/                          @project-chip/reviewers-apple
/src/darwin/                     @project-chip/reviewers-apple
/src/platform/Darwin/            @project-chip/reviewers-apple
/examples/darwin-framework-tool/ @project-chip/reviewers-apple

/src/platform/ESP32/             @project-chip/reviewers-espressif
esp32/                           @project-chip/reviewers-espressif
chip-build-esp32/                @project-chip/reviewers-espressif
chip-build-esp32-qemu/           @project-chip/reviewers-espressif

/src/platform/Infineon/          @ifyall
infineon/                        @ifyall
chip-build-infineon/             @ifyall

/src/platform/NuttX/             @zhhyu7
chip-build-nuttx/                @zhhyu7

/src/platform/Tizen/             @arkq
tizen/                           @arkq
chip-build-tizen/                @arkq
chip-build-tizen-qemu/           @arkq

*.java                           @project-chip/reviewers-google
*.kt                             @project-chip/reviewers-google
android/                         @project-chip/reviewers-google
/src/examples/chef/              @project-chip/reviewers-google
/integrations/appengine/         @project-chip/reviewers-google
/integrations/cloudbuild/        @project-chip/reviewers-google
/integrations/compute_engine/    @project-chip/reviewers-google
chip-build-java/                 @project-chip/reviewers-google
chip-build-android/              @project-chip/reviewers-google

/src/platform/bouffalolab/       @wy-hh
chip-build-bouffalolab/          @wy-hh

cc13xx_26xx/                     @s-jain2022
cc32xx/                          @s-jain2022

/src/platform/mt793x/            @pakls
nrfconnect/                      @project-chip/reviewers-nordic
chip-build-nrf-platform/                      @project-chip/reviewers-nordic
Zephyr/                            @project-chip/reviewers-nordic @project-chip/reviewers-nxp @s07641069


nxp/                             @project-chip/reviewers-nxp
chip-build-nxp/                  @project-chip/reviewers-nxp
chip-build-nxp-zephyr/           @project-chip/reviewers-nxp
chip-build-k32w/                 @project-chip/reviewers-nxp

qpg/                             @dvdm-qorvo

silabs/                          @project-chip/reviewers-silabs
chip-build-efr32/                @project-chip/reviewers-silabs

stm32/                           @STYoannZamaron

telink/                          @s07641069
chip-build-telink/               @s07641069

webos/                           @joonhaengHeo

Added config for overriding platform tcp buffer size
  src/platform/ESP32/CHIPPlatformConfig.h
Owners: @project-chip/reviewers-espressif

Fix CI failure related to using aggregate initializer with C-String
  src/protocols/secure_channel/tests/TestPairingSession.cpp
Owners: none

Renamed CHIP_NFC_COMMISSIONING in nrfconnect config file.
  config/nrfconnect/chip-module/Kconfig
Owners: @project-chip/reviewers-nordic

Revert NXP & EFR32 images
  .github/workflows/examples-efr32.yaml
  .github/workflows/examples-nxp.yaml
Owners: none

Integrating Comments
  src/protocols/secure_channel/CASESession.cpp
  src/protocols/secure_channel/CASESession.h
  src/protocols/secure_channel/tests/TestPairingSession.cpp
Owners: none

[Telink] Fix compilation warninig
  examples/platform/telink/common/include/AppTaskCommon.h
  examples/window-app/telink/prj.conf
Owners: @s07641069

[Telink] TL7218 upgrade to support version A2
  .github/workflows/chef.yaml
  .github/workflows/examples-telink.yaml
  src/platform/telink/tl7218_2m_flash.overlay
Owners: @s07641069

Fixing the wheels path in the Dockerfile of the chip certification binaries
  integrations/docker/images/chip-cert-bins/Dockerfile
Owners: none

[ESP32]: Fixed the undef build failure on disabling CHIP_DEVICE_CONFIG_ENABLE_TEST_SETUP_PARAMS (#36945) (#36951)
  src/platform/ESP32/CHIPDevicePlatformConfig.h
Owners: @project-chip/reviewers-espressif

[bouffalo lab] fix crash issues in route hook and rpc uart driver mod… (#36944)
  examples/platform/bouffalolab/bl602/lwipopts/lwipopts.h
  examples/platform/bouffalolab/common/route_hook/bl_route_hook.c
  examples/platform/bouffalolab/common/rpc/pw_sys_io/sys_io.cc
Owners: none

Update Refrigerator README.md (#36960)
  examples/refrigerator-app/silabs/README.md
Owners: @project-chip/reviewers-silabs

[ESP32] Modify Return Error Code for GetLogForIntent() method in DiagnosticLogsProviderDelegate (#36952)
  examples/temperature-measurement-app/esp32/main/diagnostic-logs-provider-delegate-impl.cpp
  src/app/clusters/diagnostic-logs-server/DiagnosticLogsProviderDelegate.h
Owners: @project-chip/reviewers-espressif
